* {
	border: 0;
	padding: 0;
	margin: 0;
	background: 50% 50% no-repeat;
	text-decoration: none;
	color: inherit;
	box-sizing: border-box;
	font-weight: 400
}
:focus {
	outline: 0
}
b, b *, strong, strong * {
	font-weight: 700
}
ol, ul {
	list-style: none
}
button, input, input:not([type]), input[type=number], input[type=password], input[type=search], input[type=tel], input[type=text], input[type=time], input[type=url], input[type=week], input[type=button], input[type=reset], input[type=submit], input[type=color], input[type=date], input[type=datetime], input[type=datetime-local], input[type=email], input[type=month], pre, select, textarea {
	font: inherit
}
.mce-container textarea {
	display: initial!important
}
.mce-content-body {
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 12px;
	color: #45494c;
	padding: 5px 15px !important;
}
.mce-content-body h1, .mce-content-body h2, .mce-content-body h3, .mce-content-body h4, .mce-content-body h5, .mce-content-body h6 {
	font-weight: bold;
	line-height: 1.4em;
	margin: 15px 0 5px
}
.mce-content-body h1 {
	font-size: 22px
}
.mce-content-body h2 {
	font-size: 20px
}
.mce-content-body h3 {
	font-size: 18px
}
.mce-content-body h4 {
	font-size: 16px
}
.mce-content-body h5 {
	font-size: 14px
}
.mce-content-body h6 {
	font-size: 12px
}
.mce-content-body p {
	margin: 5px 0 15px;
}
.mce-content-body ol, .mce-content-body ul {
	margin-left: 15px;
	list-style-position: outside;
	margin-bottom: 20px
}
.mce-content-body ol li, .mce-content-body ul li {
	margin-left: 10px;
	margin-bottom: 10px;
	color: #45494c
}
.mce-content-body ul {
	list-style-type: disc
}
.mce-content-body ol {
	list-style-type: decimal
}
.mce-content-body table {
	width: 100%;
	border-spacing: 0;
	border-collapse: separate;
	border: 1px solid #ebebeb
}
.mce-content-body table tr:nth-child(even) {
	background: #FAFAFA
}
.mce-content-body table caption, .mce-content-body table td, .mce-content-body table th {
	padding: 15px 7px;
	font: inherit
}
.mce-content-body table th {
	font-weight: 400;
	color: #bdbdbd;
	background-position: 100% 100%;
	background-size: 2px 10px;
	background-repeat: no-repeat
}
.mce-content-body table th:last-child {
	background: 0 0
}
