<body style="background-color: #f2f2f2;">
    <table style="margin: 40px auto; width:600px; border-collapse: collapse; border-spacing: 0; font: inherit;vertical-align: baseline; background-color: #fff;">
        <tbody>
          <tr style=" padding-bottom: 20px; background-color: #f2f2f2; text-align: center">
                    <td colspan="2" style="padding-bottom: 40px; text-align: center; width: 100%;  background-color: #f2f2f2;"><h1 style="text-align: center; width: 168px; height: auto; margin: 0 auto;"><a href="http://akti.com"><img src="{site_url}images/akti-logo.png" style="width: 168px; height: auto; margin: 0 auto;"></a></h1></td>
           </tr>
           <tr>
             <td>{content}</td>
           </tr>
            <!-- <tr style="background-color: #f2f2f2;">
           
                 <td colspan="2" style="padding-top: 40px; text-align: center; width: 100%;  background-color: #f2f2f2;">
                  
                  <a style="display: inline-block; text-align: center;" href="https://www.facebook.com/aktiNewsroom" target="_blank"><img style="width: 30px; height: auto; margin:0 auto;" src="{site_url}images/aktidarkfacebook.png"></a>
                  <a style="display: inline-block; text-align: center;" href="https://www.linkedin.com/company/akti" target="_blank"><img style="width: 30px; height: auto; margin:0 auto;" src="{site_url}images/aktidarklinkedin.png"></a>
                  <a style="display: inline-block; text-align: center;" href="https://twitter.com/aktiNewsroom" target="_blank"><img style="width: 30px; height: auto; margin:0 auto;" src="{site_url}images/aktidarktwitter.png"></a>
                  <a style="display: inline-block; text-align: center;" href="https://youtube.com/akti" target="_blank"><img style="width: 30px; height: auto; margin:0 auto;" src="{site_url}images/aktidarkyoutube.png"></a>
              </td>    
            </tr> -->
              <tr style="background-color: #f2f2f2;">
           
                 <td colspan="2" style="padding-top: 20px; text-align: center; width: 100%;  background-color: #f2f2f2;">
                    <span style="display: block; font-size: 14px; color: #808080;">Akti sa/nv - Kantersteen 10</span>
                    <span style="display: block; font-size: 14px; color: #808080;">1000 - Brussels - Belgium</span>
                    <span style="display: block; font-size: 14px; color: #808080;">+32 78 481 520</span>
                 
                </td>    
            </tr>
        
          </tbody>
    </table>
</body>



