<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-label="{l}Close{endl}" ng-click="cancel()"><span aria-hidden="true">&times;</span></button>
  <h4 class="modal-title">{l}Add content to invoice{endl}</h4>
</div>
<div class="modal-body">
  <div uib-alert ng-repeat="alert in alerts" type="{{alert.type}}" close="alerts.splice($index, 1);" ng-class="['alert-' + (alert.type || 'warning') ]" dismiss-on-timeout='5000' >{{alert.msg}}</div>
  <form class="form-horizontal"  >
    <div class="row">
      <div class="col-xs-12">
        <table class="table ">
          <thead>
            <tr>
              <th >{l}Description{endl}</th>
              <th >{l}Price (VAT EXCLUDED){endl}</th>
              <th class="articles_controls">{l}Add Item{endl}</th>
            </tr>
          </thead>
          <tbody>
            <tr >
              <td class="col-xs-9"><input type="text" ng-model="obj.description" class="form-control"></td>
              <td><input type="text" ng-model="obj.price" class="form-control"></td>
              <td class="articles_controls">
                <div class="row">
                  <div class="col-xs-9">
                    <input type="text" ng-model="obj.quantity" class="form-control">
                  </div>
                  <div class="col-xs-3">
                    <span class="glyphicon glyphicon-plus btn-expand" ng-click="ok(obj)"></span>
                  </div>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div><!-- /.tabelu -->
  </form>
</div>
<div class="modal-footer">
    <button class="btn btn-plain" type="button" ng-click="cancel()">{l}Close{endl}</button>
   
</div>