<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="vmMod.cancel()"><span aria-hidden="true">&times;</span></button>
  <h4 class="modal-title">{{vmMod.obj.title}}</h4>
</div>
<div class="modal-body modal-body_alt">
      <div class="section-content">
        <div uib-alert ng-repeat="alert in vmMod.alerts" type="{{alert.type}}" close="vmMod.alerts.splice($index, 1);" ng-class="['alert-' + (alert.type || 'warning') ]">{{alert.msg}}</div>

        <a href="#" class="text-link" ng-click="vmMod.openManageAddressesModal()">{l}Manage Addresses{endl}</a></div>

        <form class="form-horizontal text-left">
          <!-- <div class="form-group">
            <label class="col-sm-5 col-lg-4 control-label">{l}Primary addr{endl}</label>
            <div class="col-sm-7 col-lg-8">
            	<div class="checkbox checkbox-primary">
                <input type="checkbox" id="inputPrimary" ng-model="vmMod.obj.primary">
            		<label for="inputPrimary"></label>
            	</div>
            </div>
          </div>
          <div class="form-group" ng-if="vmMod.obj.field=='customer_id'">
            <label class="col-sm-5 col-lg-4 control-label">{l}Billing addr{endl}</label>
            <div class="col-sm-7 col-lg-8">
            	<div class="checkbox checkbox-primary">
                <input type="checkbox" id="inputBilling" ng-model="vmMod.obj.billing">
            		<label for="inputBilling"></label>
            	</div>
            </div>
          </div>
          <div class="form-group" ng-if="!vmMod.obj.invoice">
            <label class="col-sm-5 col-lg-4 control-label">{l}Shipping addr{endl}</label>
            <div class="col-sm-7 col-lg-8">
            	<div class="checkbox checkbox-primary">
                <input type="checkbox" id="inputDelivery" ng-model="vmMod.obj.delivery">
            		<label for="inputDelivery"></label>
            	</div>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-5 col-lg-4 control-label">{l}Site addr{endl}</label>
            <div class="col-sm-7 col-lg-8">
              <div class="checkbox checkbox-primary">
                <input type="checkbox" id="inputSite" ng-model="vmMod.obj.site">
                <label for="inputSite"></label>
              </div>
            </div>
          </div> -->           
          <div class="form-group">
            <label class="col-sm-5 col-lg-4 control-label">{l}Street{endl} <span class="mandatory-label">*</span></label>
            <div class="col-sm-7 col-lg-8">
              <textarea ng-model="vmMod.obj.address" class="form-control"></textarea>
              <!-- <input type="text" class="form-control" placeholder="{l}Street{endl}" ng-model="vmMod.obj.address"> -->
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-5 col-lg-4 control-label">{l}ZIP{endl} <span class="mandatory-label">*</span></label>
            <div class="col-sm-7 col-lg-8">
              <input type="text" class="form-control" placeholder="{l}ZIP{endl}" ng-model="vmMod.obj.zip">
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-5 col-lg-4 control-label">{l}City{endl} <span class="mandatory-label">*</span></label>
            <div class="col-sm-7 col-lg-8">
              <input type="text" class="form-control" placeholder="{l}City{endl}" ng-model="vmMod.obj.city">
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-5 col-lg-4 control-label">{l}Country{endl}  <span class="mandatory-label">*</span></label>
            <div class="col-sm-7 col-lg-8">
              <selectize config="vmMod.cfg" options="vmMod.obj.country_dd" ng-model="vmMod.obj.country_id" ></selectize>             
            </div>
          </div>
        </form>
      </div>    
</div>
<div class="modal-footer">
    <button class="btn btn-plain" type="button" ng-click="vmMod.cancel()">{l}Close{endl}</button>
    <button class="btn btn-default" type="button" ng-click="vmMod.ok()">{l}Save{endl}</button>
</div>
