<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-label="{l}Close{endl}" ng-click="cancel()"><span aria-hidden="true">&times;</span></button>
  <h4 class="modal-title">{l}Add Component{endl}</h4>
</div>
<div class="modal-body">
  <!-- <div uib-alert ng-repeat="alert in alerts" type="{{alert.type}}" close="alerts.splice($index, 1);" ng-class="['alert-' + (alert.type || 'warning') ]" dismiss-on-timeout='5000' >{{alert.msg}}</div> -->
  <div class="row page-search">
    <form>
      <div class="col-xs-12 page-search_options">
        
          <div class="row">
            <div class="col-lg-9 col-md-9 col-sm-8 col-xs-12 col-search-input">
                <div class="so-field" ng-class="{ 'so-active':search.search!='' }">
               <span class="glyphicon glyphicon-search so-icon"></span>
               <input class="form-control" type="text" placeholder="{l}Search{endl}" search-it doit="search" callbk="renderList" ng-model="search.search" autofocus>
               </div>
            </div>
           <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12">
            <div class="so-field" ng-class="{ 'so-active':search.article_category_id }">
              <selectize placeholder="{l}Family{endl}" config='filterCfgFam' options='obj.families' ng-model="search.article_category_id" ></selectize>
              <span class="glyphicon glyphicon-remove so-icon so-remove" ng-click="toggleSearchButtons('article_category_id','')"></span>
            </div>
          </div>
            <!-- <div class="col-lg-2 col-md-2 col-sm-4 col-xs-4 ">
              <a href="#" class="btn text-link" ng-click="createItem()"><span class="fa fa-plus icon-holder"></span>{l}Create a new item{endl}</a>
            </div> -->
          </div>
        
       
      </div><!-- /.page-search_options -->
    </form>
  </div><!-- /.page-search -->
  <form class="form-horizontal"  >
    <div class="row">
      <div class="col-xs-12">
        <table class="table deliveryTable">
          <thead>
            <tr>
              <th >{l}Code{endl}<br>({l}Supplier code{endl})</th>
              <th >{l}Internal Name{endl}<br>({l}Article Category{endl})</th>
              <th >{{obj.txt_name}}</th>
              <th class="text-center">{l}Base price (no VAT){endl}</th>
              <th class="text-center" ng-if="obj.allow_stock">{l}Stock{endl}<br>({l}anticipated stock{endl})</th>
              <th class="articles_controls">{l}Add Item{endl}</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="item in obj.lines" class="collapseTr">
              <td>{{::item.code}}<br><span ng-if="item.supplier_reference">({{::item.supplier_reference}})</span></td>
              <td>{{::item.name}}<br><span ng-if="item.article_category">({{::item.article_category}})</span></td>
              <td >{{::item.name2}}</td>
              <td class="text-center"><span ng-if="!item.has_variants || item.has_variants=='0'" ng-bind-html="::item.base_price"></span></td>
             <!--  <td class="text-center" ng-if="obj.allow_stock "> {{::item.stock2}}<br><span >({{::item.ant_stock}})</span></td> -->
              <td class="text-center" ng-if="obj.allow_stock "> {{::item.stock2}}<br><span >{{::item.ant_stock}}</span></td>
              <td class="articles_controls">
                <div class="row">
                  <div class="col-xs-7" >
                    <input type="text" ng-model="item.quantity" class="form-control" ng-if="!item.has_variants || item.has_variants=='0'">
                  </div>
                  <div class="col-xs-2">
                    <span class="glyphicon glyphicon-plus btn-expand" ng-click="ok(item)"></span>
                  </div>
                  <div class="col-xs-2">
                    <i ng-if="item.succes_add" class="fa fa-check-square fa-2x text-success" aria-hidden="true"></i>
                  </div>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div><!-- /.tabelu -->
  </form>
  <ul ng-if="max_rows > 10" uib-pagination total-items="max_rows" ng-model="search.offset" ng-change="searchThing()" max-size="5" class="pager" boundary-links="true" items-per-page="lr" ></ul>
</div>
<div class="modal-footer">
    <button class="btn btn-plain" type="button" ng-click="cancel()">{l}Close{endl}</button>
   
</div>