<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="vmMod.cancel()"><span aria-hidden="true">&times;</span></button>
  <h4 class="modal-title" ng-if="!vmMod.obj.contact_only">{l}Create a new account{endl}</h4>
  <h4 class="modal-title" ng-if="vmMod.obj.contact_only">{l}Create a new Contact{endl}</h4>
</div>
<div class="modal-body modal-body_alt create_new add_contact_modal">
    <div uib-alert ng-repeat="alert in vmMod.alerts" type="{{alert.type}}" close="vmMod.alerts.splice($index, 1);" dismiss-on-timeout="5000" ng-class="['alert-' + (alert.type || 'warning') ]">{{alert.msg}}</div>
    <div class="loading_wrap loading_alt hidden">
        <div class="loading"></div>
        <div class="spinner"></div>
    </div>
<!--   <ul class="nav nav-tabs tabs-default" ng-if="!vmMod.obj.contact_only">
    <li role="presentation" ng-class="{ 'active':vmMod.obj.add_customer }" ng-click="vmMod.activeteTab('add_customer')"><a href="#planning" aria-controls="planning" data-toggle="tab">{l}Add a company{endl}</a></li>
    <li role="presentation" ng-class="{ 'active':vmMod.obj.add_individual }" ng-click="vmMod.activeteTab('add_individual')"><a href="#interventions" aria-controls="interventions" data-toggle="tab" >{l}Add a individual{endl}</a></li>
  </ul> -->
  <h1 >
    <div class="row">
      <div class="col-sm-12" ng-class="{ 'col-sm-6': vmMod.obj.is_zen}">
        <span ng-show="vmMod.obj.add_customer || vmMod.obj.add_individual">{l}Create new{endl}</span>
        <div class="btn-group" ng-if="!vmMod.obj.contact_only" uib-dropdown>
            <button type="button" class="btn btn-dropdown-line dropdown-toggle" uib-dropdown-toggle ng-click="vmMod.activeteTab('add_customer')" id="no_css_switch_btn" ng-if="vmMod.form_type=='add_customer'">{l}Company{endl} <span class="caret"></span></button>
            <button type="button" class="btn btn-dropdown-line dropdown-toggle" uib-dropdown-toggle ng-click="vmMod.activeteTab('add_individual')" id="no_css_switch_btn" ng-if="vmMod.form_type=='add_individual'">{l}Individual{endl} <span class="caret"></span></button>
            <ul class="dropdown-menu" uib-dropdown-menu>
              <li><a ng-click="vmMod.activeteTab('add_customer')">{l}Company{endl}</a></li>
              <li><a ng-click="vmMod.activeteTab('add_individual')">{l}Individual{endl}</a></li>
            </ul>
        </div>
      </div>
      <div class="col-sm-6 margin-top" ng-if="vmMod.obj.is_zen">
        <span>{l}Contact fields{endl}</span>
      </div>
    </div>
  </h1>
  <div class="tab-content">
      <div class="section-content">
        <form class="form-horizontal text-left" name="addCustomer" novalidate  ng-show="vmMod.form_type=='add_customer' && !vmMod.obj.contact_only">
        <div class="row">
          <div class="col-sm-12" ng-class="{ 'col-sm-6': (vmMod.obj.is_zen || vmMod.obj.related_fields.length) }">
            <div class="form-group">
              <label for="inputEmail3" class="col-sm-5 col-lg-4 control-label">{l}VAT number{endl}</label>
              <div class="col-sm-7 col-lg-8">
                <div class="input-group">
                  <input type="text" class="form-control" placeholder="{l}VAT number{endl}" ng-change="vmMod.checkVat()" ng-model="vmMod.obj.btw_nr">
                  <span class="input-group-addon" >
                    <i class="fa fa-spinner fa-spin fa-fw" ng-if="vmMod.checking"></i>
                    <!-- <i class="glyphicon glyphicon-refresh text-muted" ng-if="vmMod.checking"></i> -->
                    <i class="glyphicon glyphicon-ok text-success" ng-if="vmMod.isOk"></i>
                    <i class="glyphicon glyphicon-ban-circle text-danger" ng-if="vmMod.isFalse"></i>
                    <i class="glyphicon top_trends_icon" ng-if="vmMod.isTrends"><img src="images/trends_vat1.png" alt="" /></i>
                  </span>
                </div>
                <div uib-alert ng-if="vmMod.showViesUnavailable" class="alert alert-danger" type="danger">{l}VIES service unavailable at this moment.{endl}</div>
              </div>
            </div>
            <div class="form-group" ng-class="{ 'form-group_alert' : addCustomer.name.$invalid && !addCustomer.name.$pristine }">
              <label for="inputName" class="col-sm-5 col-lg-4 control-label">{l}Name{endl} <span class="mandatory-label">*</span></label>
              <div class="col-sm-7 col-lg-8">
                <input type="text" class="form-control" name="name" placeholder="{l}Name{endl}" ng-model="vmMod.obj.name" id="inputName" required >
                <div class="alert alert-sm alert-danger" ng-if="addCustomer.name.$invalid && !addCustomer.name.$pristine && !vmMod.alertsField.name">{l}Please fill all mandatory fields{endl}</div>
                <div class="alert alert-sm alert-danger" ng-if="addCustomer.name.$invalid && vmMod.alertsField.name">{{vmMod.alertsField.name}}</div>
              </div>
            </div>
            <div class="form-group" ng-if="vmMod.obj.is_legal_type">
              <label for="" class="col-sm-5 col-lg-4 control-label">{l}Legal Type{endl}</label>
              <div class="col-sm-7 col-lg-8">
                <selectize config="vmMod.salesCfg" options="vmMod.obj.customer_legal_type"
                ng-model="vmMod.obj.legal_type" table="customer_legal_type" model="legal_type"></selectize>
              </div>
            </div>
            <div class="form-group">
              <label for="inputPassword3" class="col-sm-5 col-lg-4 control-label">{l}Street{endl}</label>
              <div class="col-sm-7 col-lg-8">
                <input type="text" class="form-control" placeholder="{l}Street{endl}" ng-model="vmMod.obj.address">
              </div>
            </div>
            <div class="form-group">
              <label for="inputPassword3" class="col-sm-5 col-lg-4 control-label">{l}ZIP{endl}</label>
              <div class="col-sm-7 col-lg-8">
                <input type="text" class="form-control" placeholder="{l}ZIP{endl}" ng-model="vmMod.obj.zip">
              </div>
            </div>
            <div class="form-group">
              <label for="inputPassword3" class="col-sm-5 col-lg-4 control-label">{l}City{endl}</label>
              <div class="col-sm-7 col-lg-8">
                <input type="text" class="form-control" placeholder="{l}City{endl}" ng-model="vmMod.obj.city">
              </div>
            </div>
            <div class="form-group country" ng-class="{ 'form-group_alert' : addCustomer.country.$invalid && !addCustomer.country.$pristine }">
              <label for="inputPassword3" class="col-sm-5 col-lg-4 control-label">{l}Country{endl} <span class="mandatory-label">*</span></label>
              <div class="col-sm-7 col-lg-8">
              <selectize config="vmMod.cfg" name="country" options="vmMod.obj.country_dd" ng-model="vmMod.obj.country_id" required></selectize>
              <div class="alert alert-sm alert-danger" ng-if="addCustomer.country.$invalid && !addCustomer.country.$pristine">{l}Please fill all mandatory fields{endl}</div>
  <!--               <select class="form-control" ng-model="vmMod.obj.country_id">
                  <option ng-repeat="option in vmMod.obj.country_dd track by option.id" value="{{option.id}}">{{option.name}}</option>
                </select> -->
              </div>
            </div>
            <div class="form-group">
              <label for="inputEmail3" class="col-sm-5 col-lg-4 control-label">{l}Email{endl} 
              </label>
              <div class="col-sm-7 col-lg-8">
                <input type="text" class="form-control" name="email" placeholder="{l}Email{endl}" ng-model="vmMod.obj.email" >
              </div>
            </div>
            <div class="form-group">
              <label for="inputPhone3" class="col-sm-5 col-lg-4 control-label">{l}Phone{endl} 
              </label>
              <div class="col-sm-7 col-lg-8">
                <input type="text" class="form-control" name="phone" placeholder="{l}Phone{endl}" ng-model="vmMod.obj.phone" >
              </div>
            </div>
          </div>
          <div class="col-sm-6" ng-if="vmMod.obj.is_zen">
            <div class="form-group" ng-class="{ 'form-group_alert' : addCustomer.con_firstname.$invalid && !addCustomer.con_firstname.$pristine }">
              <label for="inputEmail3" class="col-sm-5 col-lg-4 control-label">{l}First Name{endl} <span class="mandatory-label">*</span></label>
              <div class="col-sm-7 col-lg-8">
                <input type="text" class="form-control" name="con_firstname" placeholder="{l}First Name{endl}" ng-model="vmMod.obj.con_firstname" required>
                <div class="alert alert-sm alert-danger" ng-if="addCustomer.con_firstname.$invalid && !addCustomer.con_firstname.$pristine">{l}Please fill all mandatory fields{endl}</div>
              </div>
            </div>
            <div class="form-group" ng-class="{ 'form-group_alert' : addCustomer.con_lastname.$invalid && !addCustomer.con_lastname.$pristine }">
              <label for="inputEmail3" class="col-sm-5 col-lg-4 control-label">{l}Last Name{endl} <span class="mandatory-label">*</span></label>
              <div class="col-sm-7 col-lg-8">
                <input type="text" class="form-control" name="con_lastname" placeholder="{l}Last Name{endl}" ng-model="vmMod.obj.con_lastname" required>
                <div class="alert alert-sm alert-danger" ng-if="addCustomer.con_lastname.$invalid && !addCustomer.con_lastname.$pristine">{l}Please fill all mandatory fields{endl}</div>
              </div>
            </div>
            <div class="form-group" ng-class="{ 'form-group_alert' : addCustomer.con_email.$invalid && !addCustomer.con_email.$pristine }">
              <label for="inputEmail3" class="col-sm-5 col-lg-4 control-label">{l}Company email{endl} </label>
              <div class="col-sm-7 col-lg-8">
                <input type="text" class="form-control" name="con_email" placeholder="{l}Company email{endl}" ng-model="vmMod.obj.con_email" required>
                <div class="alert alert-sm alert-danger" ng-if="addCustomer.con_email.$invalid && vmMod.alertsField.con_email">{{vmMod.alertsField.con_email}}</div>
              </div>
            </div>
            <div class="form-group">
              <label for="" class="col-sm-4 control-label">{l}Salutation{endl}</label>
              <div class="col-sm-8">
                <selectize config="vmMod.cfg" options="vmMod.obj.title_dd" ng-model="vmMod.obj.title_id" ></selectize>
              </div>  
            </div> 
            <div class="form-group">
              <label for="" class="col-sm-4 control-label">{l}Gender{endl}</label>
              <div class="col-sm-8">
                <selectize config="vmMod.cfg" options="vmMod.obj.gender_dd" ng-model="vmMod.obj.gender_id" ></selectize>
              </div>              
            </div>
            <div class="form-group">
              <label for="" class="col-sm-4 control-label">{l}Language{endl}</label>
              <div class="col-sm-8">
                <selectize config="vmMod.cfg" options="vmMod.obj.language_dd" ng-model="vmMod.obj.language_id" ></selectize>
              </div>  
            </div>
          </div>
          <div class="col-sm-6" ng-if="vmMod.obj.related_fields.length">
            <div ng-repeat="item in vmMod.obj.related_fields">
                <!-- <div class="form-group" ng-if="vmMod.obj[item.if_condition] && !item.is_custom"
                ng-class="{ 'form-group_alert' : addCustomer.our_reference.$invalid && !addCustomer.our_reference.$pristine && item.model == 'our_reference','hide':item.model =='firstname' && vmMod.obj.type=='0'}"> -->
                <div class="form-group" ng-if="vmMod.obj[item.if_condition] && !item.is_custom"
                ng-class="{ 'form-group_alert' : addCustomer.our_reference.$invalid && !addCustomer.our_reference.$pristine && item.model == 'our_reference','hide':item.model =='firstname'}">
                  <!-- Label -->
                  <label for="" class="col-sm-4 control-label">{{item.label}}</label>

                  <!-- Select without table -->
                  <div class="col-sm-8" ng-if="!item.has_table && item.is_dd && item.model != 'language'">
                    <selectize config="vmMod[item.selectize_config]" options="vmMod.obj[item.selectize_options]" ng-model="vmMod.obj[item.model]"></selectize>
                  </div>
                  <!-- Select with table -->
                  <div class="col-sm-8" ng-if="item.has_table && item.is_dd && item.model != 'language'">
                    <selectize config="vmMod[item.selectize_config]" options="vmMod.obj[item.selectize_options]"
                    ng-model="vmMod.obj[item.model]" table="{{item.table}}" model="{{item.model}}"></selectize>
                  </div>
                  <!-- Custom select for language -->
                  <div class="col-sm-8" ng-if="!item.has_table && item.is_dd && item.model == 'language'">
                    <selectize config="vmMod[item.selectize_config]" options="vmMod.obj[item.selectize_options]" ng-model="vmMod.obj[item.model]" ></selectize>
                  </div>
                
                  <!-- Normal Inputs -->
                  <div class="col-sm-8" ng-if="!item.is_dd && !item.is_checkbox">
                    <input type="text" class="form-control" name="{{item.model}}" ng-model="vmMod.obj[item.model]" placeholder="{{item.label}}" >
                    <div class="alert alert-sm alert-danger" ng-if="addCustomer.our_reference.$invalid && vmMod.alertsField.our_reference && item.model == 'our_reference'">{{vmMod.alertsField.our_reference}}</div>
                  </div>

                  <!-- Checkbox Inputs -->
                  <div class="col-md-3 col-sm-5 checkbox checkbox-primary" ng-if="vmMod.obj[item.if_condition] && !item.is_dd && item.is_checkbox"
                  >
                    <input type="checkbox" ng-model="vmMod.obj[item.model]" id="add_customer_{{item.if_condition}}_{{item.model}}" value="1">
                    <label for="{{item.if_condition}}_{{item.model}}" ng-if="item.is_checkbox"></label>
                  </div>
                </div>  
                <div class="form-group" ng-if="item.label_if && item.is_custom">
                  <label for="" class="col-sm-4 control-label" >{{item.label}}</label>
                    <div class="col-sm-8" ng-if="item.normal_input">
                      <input type="text" name="extra[item.field_id]" value="item.value" ng-model="vmMod.obj.extra[item.field_id]" class="form-control" maxlength="30" />
                    </div>
                    <div class="col-sm-8" ng-if="item.label_if && !item.normal_input">
                      <selectize config="vmMod.extraCfg" options="vmMod.obj.extra_data[item.field_id]" id="extra_{{item.field_id}}" ng-model="vmMod.obj.extra[item.field_id]" table="customer_extrafield_dd" model="extra" extra="{{item.field_id}}" >
                      </selectize>
                    </div>
                </div>
              </div>
          </div>
        </div>
        </form>
      </div>
      <div class="section-content">
        <form class="form-horizontal text-left" name="addIndividual" novalidate  ng-show="vmMod.form_type=='add_individual' && !vmMod.obj.contact_only">
        <div class="row">
          <div class="col-sm-12" ng-class="{ 'col-sm-6': (vmMod.obj.is_zen || vmMod.obj.related_fields.length) }">
            <div class="form-group">
              <label class="col-sm-5 col-lg-4 control-label">{l}First Name{endl}</label>
              <div class="col-sm-7 col-lg-8">
                <input type="text" class="form-control" name="firstname" placeholder="{l}First Name{endl}" ng-model="vmMod.obj.firstname">
              </div>
            </div>
            <div class="form-group" ng-class="{ 'form-group_alert' : addIndividual.lastname.$invalid && !addIndividual.lastname.$pristine }">
              <label for="inputEmail3" class="col-sm-5 col-lg-4 control-label">{l}Last Name{endl} <span class="mandatory-label">*</span></label>
              <div class="col-sm-7 col-lg-8">
                <input type="text" class="form-control" name="lastname" placeholder="{l}Last Name{endl}" ng-model="vmMod.obj.lastname" required>
                <div class="alert alert-sm alert-danger" ng-if="addIndividual.lastname.$invalid && !addIndividual.lastname.$pristine">{l}Please fill all mandatory fields{endl}</div>
              </div>
            </div>
            <!-- <div class="form-group">
              <label for="inputEmail3" class="col-sm-5 col-lg-4 control-label">{l}VAT number{endl}</label>
              <div class="col-sm-7 col-lg-8">
                <div class="input-group">
                  <input type="text" class="form-control" placeholder="{l}VAT number{endl}" ng-change="vmMod.checkVat()" ng-model="vmMod.obj.btw_nr">
                  <span class="input-group-addon" >
                    <i class="fa fa-spinner fa-spin fa-fw" ng-if="vmMod.checking"></i> -->
                    <!-- <i class="glyphicon glyphicon-refresh text-muted" ng-if="vmMod.checking"></i> -->
                   <!--  <i class="glyphicon glyphicon-ok text-success" ng-if="vmMod.isOk"></i>
                    <i class="glyphicon glyphicon-ban-circle text-danger" ng-if="vmMod.isFalse"></i>
                    <i class="glyphicon top_trends_icon" ng-if="vmMod.isTrends"><img src="images/trends_vat1.png" alt="" /></i>
                  </span>
                </div>
                <div uib-alert ng-if="vmMod.showViesUnavailable" class="alert alert-danger" type="danger">{l}VIES service unavailable at this moment.{endl}</div>
              </div>
            </div> -->
            <!-- <div class="form-group" ng-if="vmMod.obj.is_legal_type">
              <label for="" class="col-sm-5 col-lg-4 control-label">{l}Legal Type{endl}</label>
              <div class="col-sm-7 col-lg-8">
                <selectize config="vmMod.salesCfg" options="vmMod.obj.customer_legal_type"
                ng-model="vmMod.obj.legal_type" table="customer_legal_type" model="legal_type"></selectize>
              </div>
            </div> -->
            <div class="form-group">
              <label for="inputPassword3" class="col-sm-5 col-lg-4 control-label">{l}Street{endl}</label>
              <div class="col-sm-7 col-lg-8">
                <input type="text" class="form-control" placeholder="{l}Street{endl}" ng-model="vmMod.obj.address">
              </div>
            </div>
            <div class="form-group">
              <label for="inputPassword3" class="col-sm-5 col-lg-4 control-label">{l}ZIP{endl}</label>
              <div class="col-sm-7 col-lg-8">
                <input type="text" class="form-control" placeholder="{l}ZIP{endl}" ng-model="vmMod.obj.zip">
              </div>
            </div>
            <div class="form-group">
              <label for="inputPassword3" class="col-sm-5 col-lg-4 control-label">{l}City{endl}</label>
              <div class="col-sm-7 col-lg-8">
                <input type="text" class="form-control" placeholder="{l}City{endl}" ng-model="vmMod.obj.city">
              </div>
            </div> 
            <div class="form-group country" ng-class="{ 'form-group_alert' : addIndividual.country2.$invalid && !addIndividual.country2.$pristine }">
              <label for="inputPassword3" class="col-sm-5 col-lg-4 control-label">{l}Country{endl} <span class="mandatory-label">*</span></label>
              <div class="col-sm-7 col-lg-8">
              <selectize config="vmMod.cfg" name="country2" options="vmMod.obj.country_dd" ng-model="vmMod.obj.country_id" required></selectize>
              <div class="alert alert-sm alert-danger" ng-if="addIndividual.country2.$invalid && !addIndividual.country2.$pristine">{l}Please fill all mandatory fields{endl}</div>
  <!--               <select class="form-control" ng-model="vmMod.obj.country_id">
                  <option ng-repeat="option in vmMod.obj.country_dd track by option.id" value="{{option.id}}">{{option.name}}</option>
                </select> -->
              </div>
            </div>
            <div class="form-group">
            <!-- ng-class="{ 'form-group_alert' : addIndividual.email.$invalid && !addIndividual.email.$pristine }" -->
              <label for="inputEmail3" class="col-sm-5 col-lg-4 control-label">{l}Company email{endl} 
              <!-- <span class="mandatory-label">*</span> -->
              </label>
              <div class="col-sm-7 col-lg-8">
                <input type="text" class="form-control" name="email" placeholder="{l}Company email{endl}" ng-model="vmMod.obj.email" ><!-- required -->
                <!-- <div class="alert alert-sm alert-danger" ng-if="addIndividual.email.$invalid && vmMod.alertsField.email">{{vmMod.alertsField.email}}</div> -->
              </div>
            </div>
            <div class="form-group">
              <label for="inputPhone3" class="col-sm-5 col-lg-4 control-label">{l}Company phone{endl} 
              </label>
              <div class="col-sm-7 col-lg-8">
                <input type="text" class="form-control" name="phone" placeholder="{l}Company phone{endl}" ng-model="vmMod.obj.phone" >
              </div>
            </div>
          </div>
          <div class="col-sm-6" ng-if="vmMod.obj.is_zen">
              <div class="form-group" ng-class="{ 'form-group_alert' : addIndividual.con_firstname.$invalid && !addIndividual.con_firstname.$pristine }">
                <label for="inputEmail3" class="col-sm-5 col-lg-4 control-label">{l}First Name{endl} <span class="mandatory-label">*</span></label>
                <div class="col-sm-7 col-lg-8">
                  <input type="text" class="form-control" name="con_firstname" placeholder="{l}First Name{endl}" ng-model="vmMod.obj.con_firstname" required>
                  <div class="alert alert-sm alert-danger" ng-if="addIndividual.con_firstname.$invalid && !addIndividual.con_firstname.$pristine">{l}Please fill all mandatory fields{endl}</div>
                </div>
              </div>
              <div class="form-group" ng-class="{ 'form-group_alert' : addIndividual.con_lastname.$invalid && !addIndividual.con_lastname.$pristine }">
                <label for="inputEmail3" class="col-sm-5 col-lg-4 control-label">{l}Last Name{endl} <span class="mandatory-label">*</span></label>
                <div class="col-sm-7 col-lg-8">
                  <input type="text" class="form-control" name="con_lastname" placeholder="{l}Last Name{endl}" ng-model="vmMod.obj.con_lastname" required>
                  <div class="alert alert-sm alert-danger" ng-if="addIndividual.con_lastname.$invalid && !addIndividual.con_lastname.$pristine">{l}Please fill all mandatory fields{endl}</div>
                </div>
              </div>
              <div class="form-group">
              <!-- ng-class="{ 'form-group_alert' : addIndividual.con_email.$invalid && !addIndividual.con_email.$pristine }" -->
                <label for="inputEmail3" class="col-sm-5 col-lg-4 control-label">{l}Company email{endl} </label>
                <div class="col-sm-7 col-lg-8">
                  <input type="text" class="form-control" name="con_email" placeholder="{l}Company email{endl}" ng-model="vmMod.obj.con_email"> <!-- required -->
                  <!-- <div class="alert alert-sm alert-danger" ng-if="addIndividual.con_email.$invalid && vmMod.alertsField.con_email">{{vmMod.alertsField.con_email}}</div> -->
                </div>
              </div>
              <div class="form-group">
                <label for="" class="col-sm-4 control-label">{l}Salutation{endl}</label>
                <div class="col-sm-8">
                  <selectize config="vmMod.cfg" options="vmMod.obj.title_dd" ng-model="vmMod.obj.title_id" ></selectize>
                </div>  
              </div> 
              <div class="form-group">
                <label for="" class="col-sm-4 control-label">{l}Gender{endl}</label>
                <div class="col-sm-8">
                  <selectize config="vmMod.cfg" options="vmMod.obj.gender_dd" ng-model="vmMod.obj.gender_id" ></selectize>
                </div>              
              </div>
              <div class="form-group">
                <label for="" class="col-sm-4 control-label">{l}Language{endl}</label>
                <div class="col-sm-8">
                  <selectize config="vmMod.cfg" options="vmMod.obj.language_dd" ng-model="vmMod.obj.language_id" ></selectize>
                </div>  
              </div>
            </div>
            <div class="col-sm-6" ng-if="vmMod.obj.related_fields.length">
              <div ng-repeat="item in vmMod.obj.related_fields">
                  <!-- <div class="form-group" ng-if="vmMod.obj[item.if_condition] && !item.is_custom"
                  ng-class="{ 'form-group_alert' : addCustomer.our_reference.$invalid && !addCustomer.our_reference.$pristine && item.model == 'our_reference','hide':item.model =='firstname' && vmMod.obj.type=='0'}"> -->
                  <div class="form-group" ng-if="vmMod.obj[item.if_condition] && !item.is_custom"
                  ng-class="{ 'form-group_alert' : addCustomer.our_reference.$invalid && !addCustomer.our_reference.$pristine && item.model == 'our_reference','hide':item.model =='firstname'}">
                    <!-- Label -->
                    <label for="" class="col-sm-4 control-label">{{item.label}}</label>

                    <!-- Select without table -->
                    <div class="col-sm-8" ng-if="!item.has_table && item.is_dd && item.model != 'language'">
                      <selectize config="vmMod[item.selectize_config]" options="vmMod.obj[item.selectize_options]" ng-model="vmMod.obj[item.model]"></selectize>
                    </div>
                    <!-- Select with table -->
                    <div class="col-sm-8" ng-if="item.has_table && item.is_dd && item.model != 'language'">
                      <selectize config="vmMod[item.selectize_config]" options="vmMod.obj[item.selectize_options]"
                      ng-model="vmMod.obj[item.model]" table="{{item.table}}" model="{{item.model}}"></selectize>
                    </div>
                    <!-- Custom select for language -->
                    <div class="col-sm-8" ng-if="!item.has_table && item.is_dd && item.model == 'language'">
                      <selectize config="vmMod[item.selectize_config]" options="vmMod.obj[item.selectize_options]" ng-model="vmMod.obj[item.model]" ></selectize>
                    </div>
                  
                    <!-- Normal Inputs -->
                    <div class="col-sm-8" ng-if="!item.is_dd && !item.is_checkbox">
                      <input type="text" class="form-control" name="{{item.model}}" ng-model="vmMod.obj[item.model]" placeholder="{{item.label}}" >
                      <div class="alert alert-sm alert-danger" ng-if="addCustomer.our_reference.$invalid && vmMod.alertsField.our_reference && item.model == 'our_reference'">{{vmMod.alertsField.our_reference}}</div>
                    </div>

                    <!-- Checkbox Inputs -->
                    <div class="col-md-3 col-sm-5 checkbox checkbox-primary" ng-if="vmMod.obj[item.if_condition] && !item.is_dd && item.is_checkbox"
                    >
                      <input type="checkbox" ng-model="vmMod.obj[item.model]" id="add_individual_{{item.if_condition}}_{{item.model}}" value="1">
                      <label for="{{item.if_condition}}_{{item.model}}" ng-if="item.is_checkbox"></label>
                    </div>
                  </div>  
                  <div class="form-group" ng-if="item.label_if && item.is_custom">
                    <label for="" class="col-sm-4 control-label" >{{item.label}}</label>
                      <div class="col-sm-8" ng-if="item.normal_input">
                        <input type="text" name="extra[item.field_id]" value="item.value" ng-model="vmMod.obj.extra[item.field_id]" class="form-control" maxlength="30" />
                      </div>
                      <div class="col-sm-8" ng-if="item.label_if && !item.normal_input">
                        <selectize config="vmMod.extraCfg" options="vmMod.obj.extra_data[item.field_id]" id="extra_{{item.field_id}}" ng-model="vmMod.obj.extra[item.field_id]" table="customer_extrafield_dd" model="extra" extra="{{item.field_id}}" >
                        </selectize>
                      </div>
                  </div>
                </div>
            </div>        
          </div>
        </form>
      </div>
    <div class="tab-pane fade" ng-class="{ 'in active':vmMod.obj.add_contact }" id="contact">
      <div class="section-content">
        <form class="form-horizontal text-left" name="addContact" novalidate>
          <div class="row">
            <div class="col-sm-12 first-col" ng-class="{ 'col-sm-6': vmMod.obj.buyer_id }">
              <div class="form-group" ng-class="{ 'form-group_alert' : addContact.firstname.$invalid && !addContact.firstname.$pristine }">
                <label for="inputEmail3" class="col-sm-5 col-lg-4 control-label">{l}First Name{endl} <span class="mandatory-label">*</span></label>
                <div class="col-sm-7 col-lg-8">
                  <input type="text" class="form-control" name="firstname" placeholder="{l}First Name{endl}" ng-model="vmMod.obj.firstname" required>
                  <div class="alert alert-sm alert-danger" ng-if="addContact.firstname.$invalid && !addContact.firstname.$pristine">{l}Please fill all mandatory fields{endl}</div>
                </div>
              </div>
              <div class="form-group" ng-class="{ 'form-group_alert' : addContact.lastname.$invalid && !addContact.lastname.$pristine }">
                <label for="inputEmail3" class="col-sm-5 col-lg-4 control-label">{l}Last Name{endl} <span class="mandatory-label">*</span></label>
                <div class="col-sm-7 col-lg-8">
                  <input type="text" class="form-control" name="lastname" placeholder="{l}Last Name{endl}" ng-model="vmMod.obj.lastname" required>
                  <div class="alert alert-sm alert-danger" ng-if="addContact.lastname.$invalid && !addContact.lastname.$pristine">{l}Please fill all mandatory fields{endl}</div>
                </div>
              </div>
              <div class="form-group" >
                <label for="" class="col-sm-5 col-lg-4 control-label">{l}Linked Account{endl} </label>
                <div class="col-sm-7 col-lg-8">
                  <selectize config="vmMod.compCfg" options="vmMod.obj.customer_dd" ng-model="vmMod.obj.buyer_id" id="custandcont" ng-disabled="vmMod.obj.app != 'general'"></selectize>
                </div>
              </div>
              <div class="form-group" >
                <label for="inputEmail3" class="col-sm-5 col-lg-4 control-label">{l}Email{endl} </label>
                <div class="col-sm-7 col-lg-8">
                  <input type="text" class="form-control" name="email" placeholder="{l}Email{endl}" ng-model="vmMod.obj.email" >
                  <div class="alert alert-sm alert-danger" ng-if="addContact.email.$invalid && vmMod.alertsField.email">{{vmMod.alertsField.email}}</div>
                </div>
              </div>
              <!-- <div ng-repeat="item in vmMod.obj.related_fields">
                <div class="form-group" ng-if="item.if_condition == 'title_if'">
                  <label for="" class="col-sm-4 control-label">{l}Salutation{endl}</label>
                  <div class="col-sm-8">
                    <selectize config="vmMod.cfg" options="vmMod.obj.title_dd" ng-model="vmMod.obj.title_id" ></selectize>
                  </div>  
                </div> 
                <div class="form-group" ng-if="item.if_condition == 'gender_if'">
                  <label for="" class="col-sm-4 control-label">{l}Gender{endl}</label>
                  <div class="col-sm-8">
                    <selectize config="vmMod.cfg" options="vmMod.obj.gender_dd" ng-model="vmMod.obj.gender_id" ></selectize>
                  </div>              
                </div>
                <div class="form-group" ng-if="item.if_condition == 'language_if'">
                  <label for="" class="col-sm-4 control-label">{l}Language{endl}</label>
                  <div class="col-sm-8">
                    <selectize config="vmMod.cfg" options="vmMod.obj.language_dd" ng-model="vmMod.obj.language_id" ></selectize>
                  </div>  
                </div>
                <div class="form-group" ng-if="item.if_condition == 'cell_if'">
                  <label class="col-sm-4 control-label">{l}Cell{endl} </label>
                  <div class="col-sm-8">
                    <input type="text" class="form-control" name="cell" placeholder="{l}Cell{endl}" ng-model="vmMod.obj.cell" >
                  </div>
                </div>
              </div> -->
              <div ng-repeat="item in vmMod.obj.related_fields">
                  <div class="form-group" ng-if="!item.is_custom"
                  >
                    <label for="" class="col-sm-4 control-label">{{item.label}}</label>
                    <!-- Normal Inputs -->
                    <div class="col-sm-8" ng-if="!item.is_dd && !item.is_date">
                      <input type="text" class="form-control" ng-model="vmMod.obj[item.model]" placeholder="{{item.label}}">
                    </div>

                    <!-- Birthdate Input -->
                    <div class="col-sm-8" ng-if="!item.is_dd && item.is_date && item.model !='sex'">
                      <input type="text" class="form-control" ng-model="vmMod.obj[item.model]" uib-datepicker-popup="{{vmMod.format}}" is-open="vmMod.bday" datepicker-options="vmMod.dateOptions" close-text="Close" placeholder="{{item.label}}" show-button-bar="false" ng-click="vmMod.bday=true" >
                    </div>
                    <!-- Select without table -->
                    <div class="col-sm-8" ng-if="!item.has_table && item.is_dd && item.model != 'sex'">
                      <selectize config="vmMod[item.selectize_config]" options="vmMod.obj[item.selectize_options]" ng-model="vmMod.obj[item.model]"></selectize>
                    </div>
                    <!-- Select without table custom for gender-->
                    <div class="col-sm-8" ng-if="!item.has_table && item.is_dd && item.model == 'sex'">
                      <selectize config="vmMod[item.selectize_config]" options="vmMod.obj[item.selectize_options]" ng-model="vmMod.obj[item.model]"></selectize>
                    </div>

                    <!-- Select with table -->
                    <div class="col-sm-8" ng-if="item.has_table && item.is_dd && item.model != 'sex'">
                      <selectize config="vmMod[item.selectize_config]" options="vmMod.obj[item.selectize_options]"
                      ng-model="vmMod.obj[item.model]" table="{{item.table}}" model="{{item.model}}" ind="{{$index}}"></selectize>
                    </div>
                  </div>  

                  <div class="form-group" ng-if="item.is_custom">
                    <label for="" class="col-sm-4 control-label" >{{item.label}}</label>

                      <div class="col-sm-8" ng-if="item.normal_input">
                        <input type="text" name="extra[item.field_id]" value="item.value" ng-model="vmMod.obj.extra[item.field_id]" class="form-control" maxlength="30" placeholder="{{item.label}}" />
                      </div>

                      <div class="col-sm-8" ng-if="!item.normal_input">
                        <selectize config="vmMod.extraCfg" options="vmMod.obj.extra_data[item.field_id]" id="extra_{{item.field_id}}" ng-model="vmMod.obj.extra[item.field_id]" table="contact_extrafield_dd" model="extra" extra="{{item.field_id}}" >
                        </selectize>
                      </div>
                  </div>
              </div> 
              <!-- <div class="form-group" ng-if="vmMod.obj.is_tactill" ng-class="{ 'form-group_alert' : addContact.buyer_id.$invalid && !addContact.buyer_id.$pristine }">
                <label for="" class="col-sm-4 control-label">{l}Link to Account{endl} <span class="mandatory-label">*</span></label>
                <div class="col-sm-8">
                  <selectize config="vmMod.cfg" name="buyer_id" options="vmMod.obj.customer_dd" ng-model="vmMod.obj.buyer_id" ></selectize>
                  <div class="alert alert-sm alert-danger" ng-if="addContact.buyer_id.$invalid && vmMod.alertsField.buyer_id">{{vmMod.alertsField.buyer_id}}</div>
                </div>  
              </div> -->
    <!--           <div class="form-group">
                <label for="inputPassword3" class="col-sm-5 col-lg-4 control-label">{l}Street{endl}</label>
                <div class="col-sm-7 col-lg-8">
                  <input type="text" class="form-control" placeholder="{l}Street{endl}" ng-model="vmMod.obj.address">
                </div>
              </div>
              <div class="form-group">
                <label for="inputPassword3" class="col-sm-5 col-lg-4 control-label">{l}ZIP{endl}</label>
                <div class="col-sm-7 col-lg-8">
                  <input type="text" class="form-control" placeholder="{l}ZIP{endl}" ng-model="vmMod.obj.zip">
                </div>
              </div>
              <div class="form-group">
                <label for="inputPassword3" class="col-sm-5 col-lg-4 control-label">{l}City{endl}</label>
                <div class="col-sm-7 col-lg-8">
                  <input type="text" class="form-control" placeholder="{l}City{endl}" ng-model="vmMod.obj.city">
                </div>
              </div>
              <div class="form-group">
                <label for="inputPassword3" class="col-sm-5 col-lg-4 control-label">{l}Country{endl} <span class="mandatory-label">*</span></label>
                <div class="col-sm-7 col-lg-8">
                <selectize config="vmMod.cfg" options="vmMod.obj.country_dd" ng-model="vmMod.obj.country_id" ></selectize>
                </div>
              </div> -->
            </div>
            <div class="col-sm-6" ng-if="vmMod.obj.buyer_id">
              <div ng-repeat="itemA in vmMod.obj.accountRelatedObj">
                <div class="form-group">
                  <label for="" class="col-sm-4 control-label">{{itemA.label}}</label>
                  <!-- Normal Inputs with name -->
                  <div class="col-sm-8" ng-if="!itemA.is_dd && itemA.has_name && !itemA.is_checkbox">
                    <input type="text" class="form-control" name="itemA.model" placeholder="{{itemA.label}}" ng-model="itemA.model_value">
                  </div>

                  <!-- Normal Inputs without name -->
                  <div class="col-sm-8" ng-if="!itemA.is_dd && !itemA.has_name && !itemA.is_checkbox">
                    <input type="text" class="form-control" placeholder="{{itemA.label}}" ng-model="itemA.model_value">
                  </div>
                  <!-- Select without table for location -->
                  <div class="col-sm-8" ng-if="!itemA.has_table && itemA.is_dd && itemA.model == 'customer_address_id' ">
                    <selectize config="vmMod[itemA.selectize_config]" options="vmMod.tmp_customer_addresses" ng-model="itemA.model_value"></selectize>
                  </div>                                 
                  <!-- Select with table -->
                  <div class="col-sm-8" ng-if="itemA.has_table && itemA.is_dd && !itemA.is_checkbox">
                    <selectize config="vmMod[itemA.selectize_config]" options="vmMod.obj[itemA.selectize_options]"
                    ng-model="itemA.model_value" table="{{itemA.table}}" model="itemA.model" ></selectize>
                  </div>
                  <!-- checkbox -->
                  <div ng-if="!itemA.is_dd && itemA.has_name && itemA.is_checkbox" class="col-sm-8 checkbox checkbox-primary" >
                        <input type="checkbox" id="checkbox_{{$parent.$index}}_{{$index}}" ng-model="itemA.model_value">
                        <label for="checkbox_{{$parent.$index}}_{{$index}}"></label>
                    </div>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<div class="modal-footer footer-create">
    <span class="checkbox checkbox-primary d-inline" ng-if="((vmMod.form_type=='add_customer' && !vmMod.obj.contact_only) || (vmMod.form_type=='add_individual' && !vmMod.obj.contact_only)) && vmMod.obj.app != 'installation'">
      <input type="checkbox" ng-model="vmMod.obj.create_contact" class="link-pointer">
      <label for="checkbox_all"></label>
    </span> 
    <span ng-if="((vmMod.form_type=='add_customer' && !vmMod.obj.contact_only) || (vmMod.form_type=='add_individual' && !vmMod.obj.contact_only)) && vmMod.obj.app != 'installation'" class="link-pointer m-l-20 mr-30" ng-click="vmMod.obj.create_contact=!vmMod.obj.create_contact">{l}Create contact{endl}</span>
    <button class="btn btn-plain" type="button" ng-click="vmMod.cancel()">{l}Cancel{endl}</button>
    <button class="btn btn-default" type="button" ng-disabled="( vmMod.form_type=='add_customer' && !vmMod.obj.add_contact ? addCustomer.$invalid : (vmMod.form_type=='add_individual' ? addIndividual.$invalid : false))" ng-show="(vmMod.form_type=='add_customer' && !vmMod.obj.add_contact) || vmMod.form_type=='add_individual'" ng-click="(vmMod.form_type=='add_customer' && !vmMod.obj.add_contact ? vmMod.ok(addCustomer) : vmMod.ok(addIndividual))">{l}Save{endl}</button>
    <button class="btn btn-default" type="button" ng-disabled="addContact.$invalid" ng-show="vmMod.obj.add_contact" ng-click="vmMod.ok(addContact)">{l}Save{endl}</button>
</div>
