<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="vmMod.cancel()"><span aria-hidden="true">&times;</span></button>
  <h4 class="modal-title">{l}AlloCloud Devices{endl}</h4>
</div>
<div class="modal-body modal-body_alt">
	<div uib-alert ng-repeat="alert in vmMod.alerts" type="{{alert.type}}" close="vmMod.alerts.splice($index, 1);" dismiss-on-timeout="5000" ng-class="['alert-' + (alert.type || 'warning') ]">{{alert.msg}}</div>
    <div class="loading_wrap loading_alt hidden">
        <div class="loading"></div>
        <div class="spinner"></div>
    </div>
	<div class="col-sm-12">
		<form class="form-horizontal" name="allo_form" novalidate>
			<div class="form-group" ng-class="{ 'form-group_alert' : allo_form.device_id.$invalid && !allo_form.device_id.$pristine }">
				<label class="control-label col-sm-4 text-left">{l}Device{endl}</label>
				<div class="col-sm-8">
					<selectize config='vmMod.acc_device_cfg' name="device_id" options='vmMod.obj.device_dd' ng-model="vmMod.obj.device_id"></selectize>
					<div class="alert alert-sm alert-danger" ng-if="allo_form.device_id.$invalid && vmMod.alertsField.device_id">{{vmMod.alertsField.device_id}}</div>
				</div>
			</div>
		</form>
	</div>
</div>
<div class="modal-footer">
    <button class="btn btn-plain" type="button" ng-click="vmMod.cancel()">{l}Cancel{endl}</button>
    <button class="btn btn-default" type="button" ng-click="vmMod.ok(allo_form)">{l}Make Call{endl}</button>
</div>