<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="cancel()"><span aria-hidden="true">&times;</span></button>
  <h4 class="modal-title">{l}Upload{endl}</h4>
</div>
<div class="modal-body">
	<div class="loading_wrap loading_alt hidden">
      	<div class="loading"></div>
        	<div class="spinner"></div>
      </div>     
      <div class="col-sm-12">
          <div ngf-drop ngf-select ng-model="files" class="drop-box col-md-5 " ngf-drag-over-class="'dragover'" ngf-multiple="true" ngf-allow-dir="true" accept="image/*,application/pdf,text/*" ngf-pattern="'image/*,application/pdf,text/*'">{l}Drop here{endl} {l}OR{endl} <a href="#">{l}click to upload{endl}</a></div>      
          <div class="col-md-7 middle">        
             <span class="col-md-2 text-center ">{l}OR{endl}</span>
                <div class="col-md-8 ">
                  <input type="text" class="form-control" ng-model="obj.url_link" name="url_link" placeholder="{l}Link{endl}">
              </div>
              <div class="col-md-2">
                <button class="btn btn-default" ng-click="uploadLink()" ng-disabled=!obj.url_link>{l}Add{endl}</button>
            </div>     
          </div>
      </div>
      <div class="col-sm-12 margin-top" ng-if="start">
          <div class="progress">      
            <div class="progress-bar" role="progressbar" aria-valuenow="{{value}}" aria-valuemin="0" aria-valuemax="100" style="width: {{value}}%;"></div>
          </div>
      </div>
      <div class="col-sm-12">
          <div uib-alert ng-repeat="alert in alerts" type="{{alert.type}}" close="alerts.splice($index, 1);" ng-class="['alert-' + (alert.type || 'warning') ]">{{alert.msg}}</div> 
      </div>   
</div>
<div class="modal-footer">
    <button class="btn btn-plain" type="button" ng-click="cancel()">{l}Close{endl}</button>
</div>