<div class="board-modal">
    <div class="modal-body modal-body_alt">
        <div class="section-content">
            <div class="onboarding_body full board-new">
                <!-- firstpage -->
                <!-- <div uib-alert ng-repeat="alert in vm.alerts" type="{{alert.type}}" close="vm.alerts.splice($index, 1);" dismiss-on-timeout="5000" ng-class="['alert-' + (alert.type || 'warning'), 'alert-fixed'  ]">{{alert.msg}}</div> -->

                <!--     <div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="false" ng-if="vm.step1"> -->
                <div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="false">
                    <!-- Wrapper for slides -->
                    <div class="carousel-inner" role="listbox">

                        <div ng-if="!show_settings.not_easy_invoice_billtobox" class="item active" >
                            <div class="onboarding">
                                <div class="container container_border">
                                    <h1 class="text-center">{l}Welcome{endl}!</h1>
                                    <h2 class="text-center">{l}To get started we need couple of details.{endl}</h2>
                                    <div class="section-content text-left form-horizontal">
                                        <div class="col-xs-12">
                                            <div class="row">
                                                <div class="form-group">
                                                    <label class="col-xs-12 control-label">{l}Your first name{endl} <span class="mandatory-label">*</span></label>
                                                    <div class="col-xs-12 panel-default">
                                                        <input class="form-control" type="text" ng-model="vm.name">
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-xs-12 control-label">{l}Your last name{endl} <span class="mandatory-label">*</span></label>
                                                    <div class="col-xs-12 panel-default">
                                                        <input class="form-control" type="text" ng-model="vm.lastname">
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <div class="checkbox checkbox-primary col-xs-12">
                                                        <input type="checkbox" ng-model="vm.accept_terms" id="accept_terms">
                                                        <label for="accept_terms" class="p-l-20">{l}I agree with Akti's{endl}&nbsp;<a href="{{vm.service_terms_url}}" target="_blank">{l}Terms of Service{endl}</a>&nbsp;{l}and{endl}&nbsp;<a href="{{vm.privay_policy_url}}" target="_blank">{l}Privacy Policy{endl}</a>&nbsp;<span class="mandatory-label m-l-0">*</span></label>
                                                    </div>
                                                </div>

                                            </div>

                                        </div>
                                    </div>
                                    <div class="next_page right">
                                        <button class="btn btn-default" ng-click="vm.setBillSlide($event,1)" ng-disabled="!vm.name || !vm.lastname || !vm.accept_terms">{l}Next{endl}</button>
                                    </div>

                                </div>
                            </div>
                        </div>

                        <!-- Page 2 -->
                        <div class="item" ng-class="{ 'active': show_settings.not_easy_invoice_billtobox }">
                            <div class="onboarding">
                                <div class="container container_border">
                                    <h1 class="text-center">{l}Welcome{endl}, {{vm.name}}!</h1>
                                    <h2 class="text-center">{l}Tell us more about your company.{endl}</h2>
                                    <div class="section-content text-left form-horizontal">
                                        <div class="col-xs-12">
                                            <div class="row">
                                                <div class="form-group">
                                                    <!-- <div class="col-xs-1"><span class="badge">1</span>
                                                </div> -->
                                                    <label class="col-xs-12 control-label" for="inputVAT">{l}Your VAT {endl}</label>
                                                    <div class="col-xs-12">
                                                        <div class="input-group">
                                                            <input id="inputVAT" class="form-control ng-pristine ng-valid ng-touched" placeholder="{l}BE0123456789{endl}" type="text" ng-change="vm.checkVatAdd()" ng-model="vm.btw_nr">
                                                            <span class="input-group-addon">
                                                          <i class="glyphicon vies_sign" ng-if="vm.vies_ok" ><img src="images/vies_vat.png" alt="" /></i>
                                                          <i class="fa fa-spinner fa-spin fa-fw" ng-if="vm.checking"></i>
                                                          <!-- <i class="glyphicon glyphicon-refresh text-muted" ng-if="ls.checking"></i> -->
                                                          <i class="glyphicon glyphicon-ok text-success" ng-if="vm.isOk"></i>
                                                          <i class="glyphicon glyphicon-ban-circle text-danger" ng-if="vm.isFalse"></i>
                                                          <i class="glyphicon top_trends_icon" ng-if="vm.isTrends"><img src="images/trends_vat1.png" alt="" /></i>
                                                        </span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-xs-12 control-label" for="inputactivity">{l}Name of your company{endl} <span class="mandatory-label">*</span></label>
                                                    <div class="col-xs-12 panel-default">
                                                        <input id="activity" class="form-control" type="text" ng-model="vm.company">
                                                    </div>
                                                </div>
                                                <div class="form-group drop-height">
                                                    <label class="col-xs-12 control-label" for="inputcountry">{l}Country{endl} <span class="mandatory-label">*</span></label>
                                                    <div class="col-xs-12">
                                                        <selectize config="vm.cfg" options="vm.country" ng-model="vm.country_id"></selectize>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-xs-12 control-label" for="inputstreet">{l}Street and number{endl} <span class="mandatory-label">*</span></label>
                                                    <div class="col-xs-12 panel-default">
                                                        <input id="inputstreet" class="form-control" ng-model="vm.address" type="text">
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <div class="col-md-6">
                                                        <div class="row">
                                                            <label class="col-xs-12 control-label" for="inputzip">{l}Zip code{endl} <span class="mandatory-label">*</span></label>
                                                            <div class="col-xs-12 panel-default">
                                                                <input id="inputzip" class="form-control" ng-model="vm.zip" type="text">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="row">
                                                            <label class="col-xs-12 control-label" for="inputcity">{l}City{endl} <span class="mandatory-label">*</span></label>
                                                            <div class="col-xs-12 panel-default">
                                                                <input id="inputcity" class="form-control" ng-model="vm.city" type="text">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>

                                        </div>
                                    </div>
                                    <!--                                     <div class="back_page text-left col-xs-6">
                                        <button class="btn btn-default" href="#myCarousel" role="button" data-slide="prev"><i class="fa fa-chevron-left" aria-hidden="true"></i>{l}back{endl}</button>
                                    </div> -->
                                    <div class="next_page right">
                                        <button ng-if="show_settings.not_easy_invoice_billtobox"class="btn btn-default" ng-click="vm.setSlide($event,1)" ng-disabled="!vm.company || !vm.address || !vm.zip || !vm.city || !vm.country_id">{l}Next{endl}</button>
                                        <button ng-if="!show_settings.not_easy_invoice_billtobox"class="btn btn-default" ng-click="vm.setBillSlide($event,2)" ng-disabled="!vm.company || !vm.address || !vm.zip || !vm.city || !vm.country_id">{l}Next{endl}</button>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <!-- page 3 -->
                        <div class="item">
                            <div class="onboarding">
                                <div class="container container_border">
                                    <h1 class="text-center">{l}Welcome{endl}, {{vm.name}}!</h1>
                                    <h2 class="text-center">{l}Personalize your invoice{endl}</h2>
                                    <div class="section-content">
                                        <div class="col-xs-12">
                                            <div class="row">
                                                <div class="col-xs-12">
                                                    <div class="upload-box1 col-xs-6">
                                                        <div class="drop_drag"><i class="fa fa-trash link-pointer" ng-if="vm.hideLogoText" aria-hidden="true" ng-click="vm.removeLogo()"></i>
                                                            <a ng-click="vm.upload(vm,$event)"><img ngf-drop="vm.uploadFiles($files)" ngf-drag-over-class="'dragover'" ngf-multiple="true" ngf-pattern="'image/*,application/pdf'" class="img-thumbnail" src={{vm.logos}}></a>
                                                            <div ngf-no-file-drop></div>
                                                            <input type="file" name="file" class="newUploadFile21" accept=".gif,.jpg,.jpeg,.png">

                                                            <span ng-if="!vm.hideLogoText">{l}Glissez-deposez votre logo ici ou{endl} <a ng-click="vm.upload(vm,$event)">{l}Parcourir vos fichiers{endl}</a></span>
                                                        </div>
                                                    </div>
                                                    <div class="form-group setting_up col-xs-6">
                                                        <div class="info_logo" ng-if="!vm.hideLogoText">
                                                            <span>{l}Onboarding. Please provide an image which is 250 x 77 pixels. Allowed file types: <strong>.jpg</strong>, <strong>.jpeg</strong> , <strong>.png</strong> or <strong>.gif</strong>.{endl}</span>

                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-xs-12">
                                                    <!-- <div class="col-xs-12 margin-top">
                                                    <div class="col-xs-1 no-padding"><span class="badge">5</span>
                                                    </div>
                                                    <label class="col-xs-11 control-label" for="inputVAT">{l}Ajoutez vos donnees bancaires (le compte en banque principal){endl}</label>
                                                </div>  -->
                                                    <div class="row">
                                                        <div class="padding-top">
                                                            <label class="col-xs-12 control-label left-side">{l}On which bank account do you want to receive your money?{endl}</label>
                                                            <div class="col-xs-12">
                                                                <input id="inputIBAN" placeholder="IBAN Number" class="form-control ng-pristine ng-valid ng-touched" type="text" ng-model="vm.ACCOUNT_IBAN">
                                                            </div>
                                                        </div>
                                                        <!-- end first line -->
                                                        <!-- <div class="padding-top">    
                                                        <div class="col-xs-1">&nbsp;</div>
                                                        <label class="col-xs-4 text-left">{l}Code BIC{endl} :</label>
                                                        <div class="col-xs-7">
                                                        <input id="inputVAT" class="form-control ng-pristine ng-valid ng-touched" type="text" ng-model="vm.ACCOUNT_BIC_CODE">
                                                        </div>
                                                    </div> -->
                                                        <!-- end last line -->
                                                        <!-- <span class="col-xs-12 information_display">{l}Ces informations s'afficheront sur vos offres, devis, factures et autres documents administratifs. Vous pouvez les modifier plus tard.{endl}</span>  -->
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="page_height">
                                        <div class="row">
                                            <!-- <div class="back_page text-left col-xs-6">
                                            <button class="btn btn-default" href="#myCarousel" role="button" data-slide="prev"><i class="fa fa-chevron-left" aria-hidden="true"></i>{l}back{endl}</button>
                                        </div> -->
                                            <div class="next_page text-right col-xs-6">
                                                <button ng-if="show_settings.not_easy_invoice_billtobox" class="btn btn-default" ng-click="vm.setSlide($event,2)">{l}Next{endl}</button>
                                                <button ng-if="!show_settings.not_easy_invoice_billtobox" class="btn btn-default" ng-click="vm.finalStep(vm)">{l}Let's get started!{endl}</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <!-- Page 5 -->
                        <!-- <div class="item">
                            <div class="onboarding">
                                <div class="container container_border">
                                    <div class="last_page">
                                        <h1 class="text-center">{l}Welcome{endl}, {{vm.name}}!</h1>
                                        <h2 class="text-center">{l}Invite your colleages to discover Akti together.{endl}</h2>
                                        <p class="text-center">{l}Pour mieux travailler en equipe et profiter de toute la puissance de l'application{endl}</p>
                            <p class="text-center">{l}Akti vous offre gratuitement un deuxieme utilisateur et{endl}</p>
                            <p class="text-center">{l}l'acces a votre expert-comptable. Profitez-en pour partager votre experience avec eux.{endl}</p>
                                        <div class="section-content">
                                            <div class="col-xs-12">
                                                <form class="form-horizontal text-left" name="emails" novalidate>
                                                    <div class="row">
                                                        <div class="col-xs-12">
                                                            <div class="col-xs-2"><span class="badge">6</span>
                                                    </div>
                                                    <div class="col-xs-10">
                                                    <label class="control-label" for="inputactivity">{l}Invitez un collegue (c'est gratuit pour
                                                     toujours !) et pourquoi pas plusieurs (c'est payant a l'issue de l'essai){endl}</label>
                                                            <input class="form-control margin-top" type="email" name="email1" ng-model="vm.email[0]" placeholder="{{vm.placeholder1}}">
                                                            <div class="alert alert-sm alert-danger" ng-if="emails.email1.$invalid ">{l}Please fill in a valid email address.{endl}</div>
                                                            <input class="form-control margin-top" name="email2" type="email" ng-model="vm.email[1]" placeholder="{{vm.placeholder2}}">
                                                            <div class="alert alert-sm alert-danger" ng-if="emails.email2.$invalid ">{l}Please fill in a valid email address.{endl}</div>
                                                            <input class="form-control margin-top" name="email3" type="email" ng-model="vm.email[2]" placeholder="{{vm.placeholder3}}">
                                                            <div class="alert alert-sm alert-danger" ng-if="emails.email3.$invalid ">{l}Please fill in a valid email address.{endl}</div>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="page_height">
                                        <div class="row">
                                            <div class="back_page text-left col-xs-6">
                                        <button class="btn btn-default" href="#myCarousel" role="button" data-slide="prev"><i class="fa fa-chevron-left" aria-hidden="true"></i>{l}back{endl}</button>
                                    </div>
                                            <div class="next_page text-right col-xs-6">
                                                <button class="btn btn-default" ng-disabled="!vm.valid_check" ng-click="vm.modal(vm,'miscTemplate/readymodal','ReadyCtrl','md')">{l}Ok, let's go!{endl}</button>
                                                <button class="btn btn-default" ng-click="vm.setSlide($event,3,emails)" ng-disabled="emails.email1.$invalid || emails.email2.$invalid || emails.email3.$invalid">{l}Next{endl}</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div> -->
                        <div class="item" ng-if="show_settings.not_easy_invoice_billtobox">
                            <div class="onboarding">
                                <div class="container container_border">
                                    <div class="last_page">
                                        <h1 class="text-center">{l}Welcome{endl}, {{vm.name}}!</h1>
                                        <h2 class="text-center" ng-if="!vm.is_facq_subscription && !vm.is_easy_invoice">{l}You're almost ready to use Akti.{endl}</h2>
                                        <h2 class="text-center" ng-if="vm.is_facq_subscription">{l}You're ready to use Akti.{endl}</h2>
                                        <h2 class="text-center" ng-if="vm.is_easy_invoice">{l}You're ready to use Akti.{endl}</h2>
                                        <!-- Regular Users -->
                                        <div class="section-content" ng-if="!vm.is_facq_subscription && !vm.is_easy_invoice">

                                            <div class="col-xs-12">
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <div class="finish-box">
                                                            <i class="far fa-check-square"></i>
                                                            <img class="img-thumbnail" src="images/CRM.png">
                                                            <p>{l}CRM{endl}</p>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="finish-box">
                                                            <i class="far fa-check-square"></i>
                                                            <img class="img-thumbnail" src="images/invoicing.png">
                                                            <p>{l}Digital Invoicing{endl}</p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row finish-mt">
                                                    <div class="col-md-6">
                                                        <div class="finish-box">
                                                            <a href="#" ng-click="vm.checkStockOption()" class="clickable">
                                                                <i class="far fa-check-square" ng-class="vm.stockManageOption? '':'hide'"></i>
                                                                <i class="far fa-square" ng-class="vm.stockManageOption? '':'show'"></i>
                                                                <img class="img-thumbnail" src="images/stock.png">
                                                                <p>{l}Stock Management{endl}</p>
                                                            </a>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="finish-box">
                                                            <a href="#" ng-click="vm.checkServiceOption()" class="clickable">
                                                                <i class="far fa-check-square" ng-class="vm.serviceOption? '':'hide'"></i>
                                                                <i class="far fa-square" ng-class="vm.serviceOption? '':'show'"></i>
                                                                <img class="img-thumbnail" src="images/field-services.png">
                                                                <p>{l}Field Services{endl}</p>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- Facq Users -->
                                        <div class="section-content" ng-if="vm.is_facq_subscription">
                                            <div class="col-xs-12">
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <div class="finish-box">
                                                            <i class="fa fa-check"></i>
                                                            <img class="img-thumbnail" src="images/CRM.png">
                                                            <p>{l}CRM{endl}</p>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="finish-box">
                                                            <i class="fa fa-check"></i>
                                                            <img class="img-thumbnail" src="images/facq-quotes.png">
                                                            <p>{l}Quotes{endl}</p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row finish-mt">
                                                    <div class="col-md-6">
                                                        <div class="finish-box">
                                                            <i class="fa fa-check"></i>
                                                            <img class="img-thumbnail" src="images/invoicing.png">
                                                            <p>{l}Invoices{endl}</p>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="finish-box">
                                                            <i class="fa fa-check"></i>
                                                            <img class="img-thumbnail facq" src="images/facq.png">
                                                            <p>{l}Facq e-commerce{endl}</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- Easy Invoice Plan Users  plan=7 -->
                                        <div class="section-content" ng-if="vm.is_easy_invoice">
                                            <div class="col-xs-12">
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <div class="finish-box">
                                                            <i class="fa fa-check"></i>
                                                            <img class="img-thumbnail" src="images/CRM.png">
                                                            <p>{l}CRM{endl}</p>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="finish-box">
                                                            <i class="fa fa-check"></i>
                                                            <img class="img-thumbnail" src="images/invoicing.png">
                                                            <p>{l}Quotes{endl}</p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- <div class="row finish-mt">
                                        <div class="col-md-6">
                                            <div class="finish-box">
                                                <i class="fa fa-check" ></i>
                                                <img class="img-thumbnail" src="images/invoicing.png">
                                                <p>{l}Invoices{endl}</p>           
                                            </div>                                            
                                        </div>
                                        <div class="col-md-6">
                                            <div class="finish-box">
                                                <i class="fa fa-check" ></i>
                                                <img class="img-thumbnail facq" src="images/facq.png">
                                                <p>{l}Facq e-commerce{endl}</p>
                                            </div>                                            
                                        </div>
                                    </div> -->
                                            </div>
                                        </div>
                                        <div class="page_height">
                                            <div class="row">
                                                <!-- <div class="back_page text-left col-xs-6">
                                        <button class="btn btn-default" href="#myCarousel" role="button" data-slide="prev"><i class="fa fa-chevron-left" aria-hidden="true"></i>{l}back{endl}</button>
                                    </div> -->
                                                <div class="next_page text-right col-xs-6">
                                                    <!-- <button class="btn btn-default" ng-disabled="!vm.valid_check" ng-click="vm.modal(vm,'miscTemplate/readymodal','ReadyCtrl','md')">{l}Ok, let's go!{endl}</button> -->
                                                    <button class="btn btn-default" ng-click="vm.finalStep(vm)">{l}Let's get started!{endl}</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <ol class="carousel-indicators" ng-if="!show_settings.not_easy_invoice_billtobox">
                        <li ng-click="vm.setBillSlide($event,0)" data-target="#myCarousel" data-slide-to="0" class="active"></li>
                        <li ng-click="vm.setBillSlide($event,1)" data-target="#myCarousel" data-slide-to="1"></li>
                        <li ng-click="vm.setBillSlide($event,2)" data-target="#myCarousel" data-slide-to="2"></li>
                    </ol>
                    <ol class="carousel-indicators" ng-if="show_settings.not_easy_invoice_billtobox">
                        <li ng-click="vm.setSlide($event,0)" data-target="#myCarousel" data-slide-to="0" class="active"></li>
                        <li ng-click="vm.setSlide($event,1)" data-target="#myCarousel" data-slide-to="1"></li>
                        <!-- <li ng-click="vm.setSlide($event,2)" data-target="#myCarousel" data-slide-to="2"></li> -->
                        <li ng-click="vm.setSlide($event,3,emails)" data-target="#myCarousel" data-slide-to="3"></li>
                        <!--  <li data-target="#myCarousel" data-slide-to="3"></li> -->
                    </ol>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</div>