<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-label="{l}Close{endl}" ng-click="vmMod.cancel()"><span aria-hidden="true">&times;</span></button>
  <h4 class="modal-title">{{vmMod.obj.title}}</h4>
</div>
<div class="modal-body modal-body_alt">
  <form class="form-horizontal"  >
    <div class="form-group">
      <label class="col-sm-3 control-label text-left">{l}Change type from:{endl}</label>
      <div class="col-sm-9">
        <selectize config='vmMod.variantTypeCfg' options='vmMod.obj.from' ng-model="vmMod.obj.from_id"></selectize>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-3 control-label text-left">{l}Change type to:{endl}</label>
      <div class="col-sm-9">
        <selectize config='vmMod.variantTypeCfg' options='vmMod.obj.to' ng-model="vmMod.obj.item.to_id"></selectize>
      </div>
    </div>
  </form>
</div>
<div class="modal-footer">
    <button class="btn btn-plain" type="button" ng-click="vmMod.cancel()">{l}Cancel{endl}</button>
    <button class="btn btn-default" type="button" ng-click="vmMod.ok()">{l}Save{endl}</button>
</div>