<div class="container">
    <div class="page-header">
        <div class="row">
            <div class="col-sm-12">
                <h2><span>{l}Tasks{endl}</span>
                    <button type="button" class="btn btn-primary btn-add" aria-haspopup="true" uib-tooltip="{l}Add Schedule{endl}" tooltip-placement="right" ng-click="addNewActivity()"><span class="btn-add_icon"><span class="icon-bar"></span><span class="icon-bar-2"></span></span></button>
                    <span class="pull-right text-muted" ng-show="item.max_rows>0">{l}Number of messages{endl}: {{item.max_rows}}</span>
                </h2>
            </div>
        </div>
    </div>
    <!-- <div class="page-header">
        <div class="row">
            <div class="col-xs-12">
                <h1>{l}Calendar{endl}</h1>
            </div>
        </div>
    </div> -->
    <!-- /.page-header -->
    <div class="tabs-navigation margin-top">
        <div uib-alert ng-repeat="alert in alerts" type="{{alert.type}}" close="alerts.splice($index, 1);" ng-class="['alert-' + (alert.type || 'warning'), 'alert-fixed' ]" dismiss-on-timeout='5000'>{{alert.msg}}</div>
        <div class="row page-content">
            <div class="col-xs-12">
                <!-- <ul class="nav nav-tabs" role="tablist">
                    <li class="active" ng-click="get_tasks()"><a href="#tasks" aria-controls="tasks" role="tab" data-toggle="tab" aria-expanded="true">{l}Tasks{endl} <span ng-if="item.task_nr>0" class="text-danger"> - {{item.task_nr}}</span></a></li>
                    <li class="" ng-click="get_calendar()"><a href="#calendar" aria-controls="calendar" role="tab" data-toggle="tab" aria-expanded="false">{l}Calendar{endl}</a></li>
                    <li class="" ng-click="get_list()"><a href="#list" aria-controls="list" role="tab" data-toggle="tab" aria-expanded="false">{l}List of Akti Schedules{endl}</a></li>
                </ul> -->
                <div class="tab-content">
                    <div class="tab-pane fade" id="calendar">
                        <div class="section-content">
                            <div class="page-header">
                                <div class="row">
                                    <div class="col-xs-12 col-sm-6">
                                        <h2><span>{l}Calendar for{endl}</span>
                                            <selectize config='customerCfg' options='item.user_dd' ng-model="item.user_id"></selectize>
                                            <button type="button" class="btn btn-primary btn-add" aria-haspopup="true" uib-tooltip="{l}Add Schedule{endl}" tooltip-placement="right" ui-sref="myActivities"><span class="btn-add_icon"><span class="icon-bar"></span><span class="icon-bar-2"></span></span></button>
                                            <button class="btn btn-default" ng-click="sync_data()" ng-show="item.user_id == item.logged_user && item.nylas_active" uib-tooltip="{l}Syncronize both incomming email and outgoing Akti events{endl}" tooltip-placement="right">{l}Sync{endl}</button>
                                            <button class="btn btn-default" ng-click="share_data()" ng-show="item.user_id == item.logged_user">{l}Share{endl}</button>
                                            <a href="#" uib-tooltip="{l}Orange{endl} - {l}Intervention{endl}, {l}Yellow{endl} - {l}Schedules{endl}, {l}Green{endl} - {l}Activities{endl}, {l}Blue{endl} - {l}Email Events{endl}" tooltip-placement="top"><span class="glyphicon glyphicon-info-sign"></span></a>
                                        </h2>
                                    </div>
                                    <div class="col-xs-12 col-sm-6 text-right">
                                        <div class="btn-group btn-group-calendar" role="group" ng-if="activeType==2">
                                            <button type="button" class="btn btn-square btn-plain" ng-click="navigate(-1)"><span class="glyphicon glyphicon-chevron-left"></span></button>
                                            <span class="calendar-date">{{item.week_txt}}</span>
                                            <button type="button" class="btn btn-square btn-plain" ng-click="navigate(+1)"><span class="glyphicon glyphicon-chevron-right"></span></button>
                                        </div>
                                        <div class="btn-group btn-group-calendar" role="group" ng-if="activeType==3">
                                            <button type="button" class="btn btn-square btn-plain" ng-click="navigate_month(-1)"><span class="glyphicon glyphicon-chevron-left"></span></button>
                                            <span class="calendar-date">{{item.month_txt}}</span>
                                            <button type="button" class="btn btn-square btn-plain" ng-click="navigate_month(+1)"><span class="glyphicon glyphicon-chevron-right"></span></button>
                                        </div>
                                        <div class="btn-group btn-inline btn-group-calendar" ng-show="activeType<3">
                                            <button class="btn btn-square btn-plain" ng-model="item.start_date" uib-datepicker-popup="{{format}}" is-open="datePickOpen.start_date" datepicker-options="dateOptions" close-text="Close" show-button-bar="false" ng-click="datePickOpen.start_date=true"
                                                ng-change="changeDate()">
											<span class="glyphicon glyphicon-calendar"></span>
										</button>
                                        </div>
                                        <span class="text-left">
										<selectize class="selectize-control-sm" placeholder="{l}Overview{endl}" config='typeCfg' options='types' ng-model="activeType"></selectize>
									</span>
                                    </div>
                                </div>
                            </div>
                            <div class="planning planning_month" ng-if="activeType==3">
                                <div class="planning_header clearfix">
                                    <div class="small timestamp pull-left">
                                        <div><span>{l}Mon{endl}</span></div>
                                    </div>
                                    <div class="small timestamp pull-left">
                                        <div><span>{l}Tue{endl}</span></div>
                                    </div>
                                    <div class="small timestamp pull-left">
                                        <div><span>{l}Wed{endl}</span></div>
                                    </div>
                                    <div class="small timestamp pull-left">
                                        <div><span>{l}Thu{endl}</span></div>
                                    </div>
                                    <div class="small timestamp pull-left">
                                        <div><span>{l}Fri{endl}</span></div>
                                    </div>
                                    <div class="small timestamp pull-left">
                                        <div><span>{l}Sat{endl}</span></div>
                                    </div>
                                    <div class="small timestamp pull-left">
                                        <div><span>{l}Sun{endl}</span></div>
                                    </div>
                                </div>
                                <div class="planning_body">
                                    <div class="planning_row clearfix" ng-repeat="week in item.month">
                                        <div class="planning_cell_wrap pull-left" ng-repeat="day in week.week">
                                            <div class="planning_cell {{day.bg}}">
                                                <span class="planning_date">{{day.text}}</span>
                                                <div ng-repeat="item2 in day.data|limitTo:3" class="planning_entry {{item2.colors}}">
                                                    <small><span ng-if="item2.all_day" ng-click="showEventInfo(item2)">{l}All Day{endl}</span><span ng-if="!item2.all_day" ng-click="showEventInfo(item2)">{{item2.start_time}}</span><span ng-if="!item2.all_day && item2.end_time" ng-click="showEventInfo(item2)">- {{item2.end_time}}</span><a href="#" class="pull-right" ng-show="item2.is_nylas && item.nylas_active && item.user_id == item.logged_user" confirm="{l}Delete action will be triggered also in the email attached{endl}! {l}Are you sure, you wanna delete this entry?{endl}" ng-click="deleteNylasEvent(item2)"><span class="glyphicon glyphicon-trash"></span></a></small>
                                                    <div class="text-ellipsis" ng-click="showEventInfo(item2)"><span ng-bind-html="item2.message" title="{{item2.type}}"></span></div>
                                                </div>
                                                <div class="planning_details" ng-show="day.data_nr>3">
                                                    <a href="#" class="planning_details_btn" ng-click="showMore($event,day)"><span class="fa fa-ellipsis-h"></span></a>
                                                    <div class="cell_c"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- /.planning month-->
                            <div class="planning planning_week" ng-if="activeType==2">
                                <div class="planning_header clearfix">
                                    <div class="small timestamp pull-left" ng-repeat="day in item.days_nr" ng-class="{ 'weekend_dates' : item.end_day }">
                                        <div><span>{{day.day_name}}</span> <span class="month">{{day.date_month}}</span></div>
                                    </div>
                                </div>
                                <div class="planning_overflow">
                                    <div class="planning_body" ng-class="{ 'is_top_class':item.is_top}" ng-scrollbars ng-scrollbars-config="scroll_config">
                                        <div class="planning_row clearfix" ng-repeat="b_rows in item.day_body_rows">
                                            <div class="planning_cell_wrap pull-left" ng-repeat="cell in b_rows.data">
                                                <div class="planning_cell">{{b_rows.nr}}</div>
                                            </div>
                                        </div>
                                        <div ng-repeat="day in item.day_data" class="entry {{day.phour}} {{day.pduration}} {{day.pday}} {{day.pwidth}} {{day.colors}} ">
                                            <small><span ng-click="showEventInfo(day)">{{day.start_time}}</span> <span ng-if="day.end_time" ng-click="showEventInfo(day)">- {{day.end_time}}</span> <a href="#" ng-show="day.is_nylas && item.nylas_active && item.user_id == item.logged_user" confirm="{l}Delete action will be triggered also in the email attached{endl}! {l}Are you sure, you wanna delete this entry?{endl}"><span class="glyphicon glyphicon-trash" ng-click="deleteNylasEvent(day)"></span></a></small>
                                            <p class="text-ellipsis" ng-click="showEventInfo(day)"><span ng-bind-html="day.subject"></span></p>
                                        </div>
                                        <!-- /.entry -->
                                    </div>
                                    <!-- /.planning_body -->
                                    <div class="planning_top" ng-if="item.is_top">
                                        <div ng-repeat="day in item.all_day_data" class="entry {{day.pday}} {{day.pwidth}} {{day.colors}}">
                                            <p class="text-ellipsis"><span ng-click="showEventInfo(day)" ng-bind-html="day.subject"></span> <a href="#" ng-show="day.is_nylas && item.nylas_active" confirm="{l}Delete action will be triggered also in the email attached{endl}! {l}Are you sure, you wanna delete this entry?{endl}"
                                                    ng-click="deleteNylasEvent(day)"><span class="glyphicon glyphicon-trash"></span></a></p>
                                        </div>
                                        <!-- /.entry -->
                                    </div>
                                    <!-- /.planning_top -->
                                </div>
                                <!-- /.planning_overflow -->
                            </div>
                            <!-- /.planning -->
                        </div>
                    </div>
                    <div class="tab-pane fade in active" id="tasks">
                        <!-- <div uib-alert type="notice" class="alert-warning" ng-if="!item.list.length">{l}No data to display{endl}</div> -->
                        <div class="section-content">
                            <!-- <div class="page-header">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <h2><span>{l}Tasks{endl}</span>
                                            <button type="button" class="btn btn-primary btn-add" aria-haspopup="true" uib-tooltip="{l}Add Schedule{endl}" tooltip-placement="right" ng-click="addNewActivity()"><span class="btn-add_icon"><span class="icon-bar"></span><span class="icon-bar-2"></span></span></button>
                                            <span class="pull-right text-muted" ng-show="item.max_rows>0">{l}Number of messages{endl}: {{item.max_rows}}</span>
                                        </h2>
                                    </div>
                                </div>
                            </div> -->
                            <div class="row page-search">
                                <form>
                                    <div class="col-sm-4 col-md-4" ng-class="{ 'col-sm-4':!item.crm_admin , 'col-md-4':!item.crm_admin , 'col-sm-2': item.crm_admin, 'col-md-2':item.crm_admin }">
                                        <div class="so-field" ng-class="{ 'so-active':search_task.search!='' }">
                                            <span class="glyphicon glyphicon-search so-icon"></span>
                                            <input type="text" class="form-control" placeholder="{l}Search{endl}" search-it doit="search_task" callbk="renderPage" ng-model="search_task.search">
                                            <span class="glyphicon glyphicon-remove so-icon so-remove" ng-click="toggleSearchButtons('search','')"></span>
                                        </div>
                                        <!-- /.input-search -->
                                    </div>
                                    <div class="col-sm-2" ng-if="item.crm_admin">
                                        <div class="btn-group btn-block">
                                            <selectize config='customerCfg' options='item.user_dd' ng-model="item.user_id"></selectize>
                                        </div>
                                    </div>
                                    <div class="col-sm-2">
                                        <div class="btn-group btn-block">
                                            <selectize placeholder="{l}All Statuses{endl}" config='filterCfg' options='views' ng-model="search_task.view"></selectize>
                                        </div>
                                    </div>
                                    <div class="col-sm-2 col-md-2">
                                        <div class="so-field" ng-class="{ 'so-active':search_task.start_d!=undefined }">
                                            <span class="glyphicon glyphicon-calendar so-icon" ng-click="datePickOpen.start_d=true"></span>
                                            <input type="text" class="form-control" ng-model="search_task.start_d" uib-datepicker-popup="{{format}}" is-open="datePickOpen.start_d" datepicker-options="dateOptions" close-text="Close" placeholder="{l}Start Date{endl}" show-button-bar="false" ng-click="datePickOpen.start_d=true"
                                                ng-change="searchThing()">
                                            <span class="glyphicon glyphicon-remove so-icon so-remove" ng-click="toggleSearchButtons('start_d',undefined)"></span>
                                        </div>
                                        <!-- /.input-date -->
                                    </div>
                                    <div class="col-sm-2 col-md-2">
                                        <div class="so-field" ng-class="{ 'so-active':search_task.stop_d!=undefined }">
                                            <span class="glyphicon glyphicon-calendar so-icon" ng-click="datePickOpen.stop_d=true"></span>
                                            <input type="text" class="form-control" ng-model="search_task.stop_d" uib-datepicker-popup="{{format}}" is-open="datePickOpen.stop_d" datepicker-options="dateOptions" close-text="Close" placeholder="{l}End Date{endl}" show-button-bar="false" ng-click="datePickOpen.stop_d=true"
                                                ng-change="searchThing()">
                                            <span class="glyphicon glyphicon-remove so-icon so-remove" ng-click="toggleSearchButtons('stop_d',undefined)"></span>
                                        </div>
                                        <!-- /.input-date -->
                                    </div>
                                    <div class="col-sm-2">
                                        <div class="btn-group btn-block">
                                            <selectize placeholder="{l}All Activities{endl}" config='activitiesCfg' options='viewsActivities' ng-model="search_task.activity"></selectize>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <!-- /.page-search -->
                            <table class="table active_rows orderTable" ng-if="item.list.length">
                                <thead>
                                    <tr>
                                        <th class="col-sm-1 text-center">{l}Status{endl}</th>
                                        <th class="col-sm-1 sortable_row" ng-class="{ 'sortable_row-up':(!reverse && ord=='date') , 'sortable_row-down':(reverse && ord=='date') }" ng-click="orderBY('date')">{l}Date{endl}</th>
                                        <th class="col-sm-2">{l}Author{endl}</th>
                                        <th class="col-sm-1 sortable_row" ng-class="{ 'sortable_row-up':(!reverse && ord=='reminder_date') , 'sortable_row-down':(reverse && ord=='reminder_date') }" ng-click="orderBY('reminder_date')">{l}Reminder{endl}</th>
                                        <th class="col-sm-2">{l}Account{endl}</th>
                                        <th class="col-sm-2">{l}Contact{endl}</th>
                                        <th class="col-sm-1">{l}Subject{endl}</th>
                                        <th class="col-sm-1 text-center">{l}Done{endl}</th>
                                        <th class="col-sm-1"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="extra in item.list">
                                        <td class="text-center expand_row m-left" ng-click="showEventInfo(extra)">
                                            <span>
											<span class="item-status {{extra.status}}" title="{{extra.title}}">
											</span>
                                            <span ng-bind-html="extra.type_img">
											</span>
                                            </span>

                                        </td>
                                        <td ng-click="showEventInfo(extra)"><b ng-if="extra.read=='0'">{{extra.date}}</b><span ng-if="extra.read!='0'">{{extra.date}}</span></td>
                                        <td ng-click="showEventInfo(extra)"><b ng-if="extra.read=='0'">{{extra.name}}</b><span ng-if="extra.read!='0'">{{extra.name}}</span></td>
                                        <td ng-click="showEventInfo(extra)"><b ng-if="extra.read=='0'">{{extra.due_date}}</b><span ng-if="extra.read!='0'">{{extra.due_date}}</span></td>
                                        <td ng-click="showEventInfo(extra)"><b ng-if="extra.read=='0'">{{extra.company_name}}</b><span ng-if="extra.read!='0'">{{extra.company_name}}</span></td>
                                        <td ng-click="showEventInfo(extra)"><b ng-if="extra.read=='0'">{{extra.contact_name}}</b><span ng-if="extra.read!='0'">{{extra.contact_name}}</span></td>
                                        <td ng-click="showEventInfo(extra)"><b ng-bind-html="extra.subject" ng-if="extra.read=='0'"></b><span ng-bind-html="extra.subject" ng-if="extra.read!='0'"></span></td>
                                        <td class="text-center m-left">
                                            <div class="checkbox checkbox-primary">
                                                <input type="checkbox" ng-model="extra.done" ng-click="setAsDone(extra)">
                                                <label for="checkbox_all"></label>
                                            </div>
                                        </td>
                                        <td class="table_actions">
                                            <div class="btn-group" uib-dropdown>
                                                <button type="button" class="btn btn-plain dropdown-toggle" uib-dropdown-toggle>
							                       <span class="caret"></span>
							                   	</button>
                                                <ul class="dropdown-menu dropdown-menu-right" uib-dropdown-menu>
                                                    <li class="dropdown-header">{l}Action{endl}</li>
                                                    <li ng-if="extra.is_active"><a href="#" ng-click="markAsRead(extra)"><span class="text-primary" ng-class="{'far fa-envelope':extra.read!='0','far fa-envelope':extra.read=='0'}"></span> {l}Status{endl}</a></li>
                                                    <li><a href="#" ng-click="showEventInfo(extra)"><span class="glyphicon glyphicon-info-sign text-primary"></span> {l}View{endl}</a></li>
                                                    <li ng-if="extra.is_activity"><a href="#" ng-click="editActivityData(extra)"><span class="fas fa-pen"></span> {l}Edit{endl}</a></li>
                                                    <li ng-if="extra.is_active"><a href="#" confirm="{l}Are you sure, you wanna archive this entry?{endl}" ng-click="action(extra.archive_link)"><span class="fas fa-archive text-primary"></span> {l}Archive{endl}</a></li>
                                                    <li ng-if="extra.is_archive"><a href="#" confirm="{l}Are you sure, you wanna revert this entry?{endl}" ng-click="action(extra.activate_link)"><span class="glyphicon glyphicon-repeat text-primary"></span> {l}Activate{endl}</a></li>
                                                    <li ng-if="extra.is_archive"><a href="#" confirm="{l}Are you sure, you wanna delete this entry?{endl}" ng-click="action(extra.delete_link)"><span class="fas fa-trash-alt text-primary"></span> {l}Delete{endl}</a></li>
                                                </ul>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="list">
                        <!-- <div uib-alert type="notice" class="alert-warning" ng-if="!item.list.length">{l}No data to display{endl}</div> -->
                        <div class="section-content">
                            <div class="page-header">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <h2><span>{l}Calendar for{endl}</span>
                                            <selectize config='customerCfg' options='item.user_dd' ng-model="item.user_id"></selectize>
                                            <button type="button" class="btn btn-primary btn-add" aria-haspopup="true" uib-tooltip="{l}Add Schedule{endl}" tooltip-placement="right" ui-sref="myActivities"><span class="btn-add_icon"><span class="icon-bar"></span><span class="icon-bar-2"></span></span></button>
                                        </h2>
                                    </div>
                                </div>
                            </div>
                            <table class="table active_rows orderTable">
                                <thead>
                                    <tr>
                                        <th class="col-sm-1 sortable_row" ng-class="{ 'sortable_row-up':(!reverse && ord=='start_date'), 'sortable_row-down':(reverse && ord=='start_date') }" ng-click="orderBY('start_date')">{l}Start Date{endl}</th>
                                        <th class="col-sm-2">{l}From{endl}</th>
                                        <th class="col-sm-3">{l}Company Name{endl}</th>
                                        <th class="col-sm-3">{l}Subject{endl}</th>
                                        <th class="col-sm-2">{l}Type{endl}</th>
                                        <th class="col-sm-1"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="data in item.list">
                                        <td ng-click="showListInfo(data)">{{data.date}}</td>
                                        <td ng-click="showListInfo(data)">{{data.name}}</td>
                                        <td ng-click="showListInfo(data)">{{data.company_name}}</td>
                                        <td ng-click="showListInfo(data)"><span ng-bind-html="data.subject"></span></td>
                                        <td ng-click="showListInfo(data)">{{data.type}}</td>
                                        <td class="table_actions">
                                            <div class="btn-group" uib-dropdown>
                                                <button type="button" class="btn btn-plain dropdown-toggle" uib-dropdown-toggle>
						                        <span class="caret"></span>
						                    </button>
                                                <ul class="dropdown-menu dropdown-menu-right" uib-dropdown-menu>
                                                    <li class="dropdown-header">{l}Action{endl}</li>
                                                    <li>
                                                        <a href="#" ng-click="showListInfo(data)"><span class="glyphicon glyphicon-info-sign text-primary"></span> {l}View{endl}</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <ul ng-if="item.max_rows && item.max_rows > 30 && item.tab==2" uib-pagination total-items="item.max_rows" ng-model="search_list.offset" ng-change="searchThing()" max-size="5" class="pager" boundary-links="true" items-per-page="item.lr"></ul>
        <ul ng-if="item.max_rows && item.max_rows > 30 && item.tab==3" uib-pagination total-items="item.max_rows" ng-model="search_task.offset" ng-change="searchThing()" max-size="5" class="pager" boundary-links="true" items-per-page="item.lr"></ul>
    </div>
</div>