<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="vm.cancel()"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title">{l}Change password{endl}</h4>
</div>
<div class="modal-body">
    <div class="loading_wrap loading_alt hidden">
        <div class="loading"></div>
        <div class="spinner"></div>
    </div>
    <div class="col-sm-12">
        <!-- <div uib-alert ng-repeat="alert in vm.alerts" type="{{alert.type}}" close="vm.alerts.splice($index, 1);" dismiss-on-timeout="3500" ng-class="['alert-' + (alert.type || 'warning') ]">{{alert.msg}}</div> -->
        <form class="form-horizontal" name="changePass" novalidate>
            <div class="form-group " ng-class="{ 'form-group_alert' : changePass.password.$invalid && !changePass.password.$pristine }">
                <div class="col-sm-10 col-sm-offset-1">
                    <input type="password" class="form-control" name="password" ng-model="vm.obj.password" autocomplete="OFF" placeholder="{l}Old password{endl}">
                    <div class="alert alert-sm alert-danger" ng-if="changePass.password.$invalid && vm.alertsField.password">{{vm.alertsField.password}}</div>
                </div>
            </div>
            <div class="form-group" ng-class="{ 'form-group_alert' : changePass.new_password.$invalid && !changePass.new_password.$pristine }">
                <div class="col-xs-10 col-sm-offset-1">
                    <input type="password" class="form-control" name="new_password" autocomplete="OFF" ng-model="vm.obj.new_password" placeholder="{l}New Password{endl}">
                    <div class="alert alert-sm alert-danger" ng-if="changePass.new_password.$invalid && vm.alertsField.new_password">{{vm.alertsField.new_password}}</div>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-plain" type="button" ng-click="vm.cancel()">{l}Cancel{endl}</button>
    <button class="btn btn-default" type="button" ng-click="vm.ok(changePass)">{l}Save{endl}</button>
</div>