<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="vmMod.cancel()"><span aria-hidden="true">&times;</span></button>
  <h4 class="modal-title">{l}Select identity{endl}</h4>
</div>
<div class="modal-body">
    <div uib-alert ng-repeat="alert in vmMod.alerts" type="{{alert.type}}" close="vmMod.alerts.splice($index, 1);" ng-class="['alert-' + (alert.type || 'warning') ]">{{alert.msg}}</div>
    <div class="radio-list">
		<div class="row" ng-repeat="item in vmMod.obj.lines">
		  <div class="col-radio"><input type="radio" name="optionsRadios" value="{{item.identity_id}}" ng-model="vmMod.obj.identity_id" ng-click="vmMod.setIndex($index)" ></div>
		  <div class="col-sm-4 radio-main_info">
		      <h4>{{item.name}}</h4>
		      <p><span ng-bind-html="item.address"></span><br>
		      {{item.zip}} {{item.city}}<br>
		      {{item.country}}</p>
		  </div>
		  <div class="col-sm-3">
		      <label class="text-muted">{l}PDF layout{endl} {{item.tmp_id}}</label>		      
		  </div>
		  <div class="col-sm-4 col-sm-offset-1 col-top text-right">
		    <img class="img-thumbnail img-customer_branding" ng-src="{{item.logo}}" alt=""/>
		  </div>
		</div>		
	</div><!-- /.radio-list -->
</div>
<div class="modal-footer">
    <button class="btn btn-plain" type="button" ng-click="vmMod.cancel()">{l}Close{endl}</button>
    <button class="btn btn-default" type="button" ng-click="vmMod.ok()">{l}Save{endl}</button>
</div>
