<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="vm.cancel()"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title">{l}Edit column settings{endl}</h4>
</div>
<div class="modal-body">
    <div class="loading_wrap loading_alt hidden">
        <div class="loading"></div>
        <div class="spinner"></div>
    </div>
    <!-- <div uib-alert ng-repeat="alert in vm.alerts" type="{{alert.type}}" close="vm.alerts.splice($index, 1);" dismiss-on-timeout="3500" ng-class="['alert-' + (alert.type || 'warning') ]">{{alert.msg}}</div> -->
    <div class="col-sm-12">
        <div class="col-sm-6">
            <h2><b>{l}Available columns{endl}</b></h2>
            <ul class="table table_orders sort_column drag_table" role="tablist" data-as-sortable="vm.dragControlListeners" data-ng-model="vm.obj.available">
                <li role="presentation" data-ng-repeat="col in vm.obj.available" data-as-sortable-item>
                    <div class="row" data-as-sortable-item-handle>
                        <div class="row_handler">
                            <span class="btn-drag drop">&nbsp;</span>
                        </div>
                        <div class="col-sm-12">{{col.name}}</div>
                    </div>
                </li>
            </ul>
        </div>
        <div class="col-sm-6">
            <h2><b>{l}Selected columns{endl}</b></h2>
            <ul class="table table_orders sort_column drag_table" role="tablist" data-as-sortable="vm.dragControlListeners" data-ng-model="vm.obj.selected">
                <li role="presentation" data-ng-repeat="col in vm.obj.selected" data-as-sortable-item>
                    <div class="row" data-as-sortable-item-handle>
                        <div class="row_handler">
                            <span class="btn-drag drop">&nbsp;</span>
                        </div>
                        <div class="col-sm-12">{{col.name}}</div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-plain" type="button" ng-click="vm.cancel()">{l}Cancel{endl}</button>
    <button class="btn btn-default" ng-class="{ 'add_disabled' : !vm.obj.selected.length }" type="button" ng-click="vm.ok()" uib-popover="{l}You need to select at least 1 column{endl}" popover-trigger="'mouseenter'" popover-placement="'left-top'" popover-enable="(!vm.obj.selected.length ? true : false)">{l}Save{endl}</button>
</div>