<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="vmMod.cancel()"><span aria-hidden="true">&times;</span></button>
  <h4 class="modal-title">{l}Details{endl}</h4>
</div>
<div class="modal-body modal-body_alt">
  <div class="panel panel-plain new_design">
    <div class="panel-body">
      <div class="contact-view">
        <div class="profile_card text-left">
            <!-- <div class="card_title col-md-12 row"><span><strong>{l}Contact personal information{endl}</strong></span>
            </div> -->
            <div class="edit-button new_contact">
                <a href="" class="btn pull-right" ng-click="vmMod.openModal('ContactEditInfo', vmMod.data, 'md')">
                    <span class="fas fa-pen"></span>
                </a>
            </div>
            <div class="name-initials"> 
                <h1> <span class="fas fa-user"></span></h1> 
            </div>
            <div class="row card_list margin-top new_card_design"  >
                <div class="card_list-item card_list-contacts_item">
                    <div class="card_list-item_header">
                        <h4>{{vmMod.data.firstname}} {{vmMod.data.lastname}}</h4>
                        <span class="text-muted text-ellipsis new_design_card">{{vmMod.data.position_txt}}</span><i class="fas fa-circle"></i>
                       <a class="text-link" target="_blank" ui-sref="customerView({ 'customer_id':vmMod.data.customer_id })"><span>{{vmMod.data.name}}</span></a>
                    
                        <p class="phone_nr">
                            <i class="fa fa-phone"></i>&nbsp;<a href="tel:{{ls.obj.phone}}" class="small text-link">{{vmMod.data.phone}}</a>
                        </p>
                    </div>
                </div>
                <div class="col-xs-12 clear_rows" ng-repeat-end ng-if="$index % 3 == 2"></div>
            </div>
            <div class="col-md-12 new_link_design_body new_modal new_left">
                <div class="form-group">
                    <label for="" class="col-sm-4 control-label">{l}Email{endl}</label>
                    <div class="col-sm-8">
                        <span class="text-ellipsis "><a href="mailto:{{vmMod.data.email}}" title="Send mail'" class="text-link" >{{vmMod.data.email}}</a></span>
                    </div>
                </div>
            </div>
            <div class="col-md-12 new_link_design_body new_modal new_left">
                <div class="form-group">
                    <label for="" class="col-sm-4 control-label">{l}Phone{endl}</label>
                    <div class="col-sm-8">
                        <div class="col-xs-6 text-muted no-padding"><span>{{vmMod.data.phone}}</span></div>
                    </div>
                </div>
            </div>
            <div class="col-md-12 new_link_design_body new_modal new_left">
                <div class="form-group">
                    <label for="" class="col-sm-4 control-label">{l}Fax{endl}</label>
                    <div class="col-sm-8">
                        <div class="col-xs-6 text-muted no-padding"><span>{{vmMod.data.fax}}</span></div>
                    </div>
                </div>
            </div>
            <div class="col-md-12 new_link_design_body new_modal new_left">
                <div class="form-group">
                    <label for="" class="col-sm-4 control-label">{l}Address{endl}</label>
                    <div class="col-sm-8">
                        <div class="col-xs-6 text-muted no-padding"><span>{{vmMod.data.address[0].top}}</span></div>
                    </div>
                </div>
            </div>
            <div class="col-md-12 new_link_design_body new_modal new_left">
                <div class="form-group">
                    <label for="" class="col-sm-4 control-label">{l}Exact title{endl}</label>
                    <div class="col-sm-8">
                        <div class="col-xs-6 text-muted no-padding"><span>{{vmMod.data.title_name[0].name}}</span></div>
                    </div>
                </div>
            </div>
            <div class="col-md-12 new_link_design_body new_modal new_left">
                <div class="form-group">
                    <label for="" class="col-sm-4 control-label">{l}Function{endl}</label>
                    <div class="col-sm-8">
                        <div class="col-xs-6 text-muted no-padding"><strong>{{vmMod.data.position_txt}}</strong></div>
                    </div>
                </div>
            </div>
            <div class="col-md-12 new_link_design_body new_modal new_left">
                <div class="form-group">
                    <label for="" class="col-sm-4 control-label">{l}Department{endl}</label>
                    <div class="col-sm-8">
                        <div class="col-xs-6 text-muted no-padding"><strong>{{vmMod.data.department_txt}}</strong></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
  
  <div class="modal-footer">
      <!-- <button class="btn btn-plain" type="button" ng-click="vmMod.cancel()">{l}Close{endl}</button> -->
      <!-- <button class="btn btn-default ng-click-active" type="button" ng-disabled="addCustomer.$invalid" ng-click="vmMod.ok(updateContact)">Save</button> -->
  </div>