<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="vmMod.cancel()"><span aria-hidden="true">&times;</span></button>
  <h4 class="modal-title">{l}Edit Details{endl}</h4>
</div>
<div class="modal-body modal-body_alt">
  <div class="col-md-12 new_link_design_body">
    <div class="col-md-12 new_link_design_body new_modal">
    <div class="form-group">
      <label for="" class="col-sm-4 control-label">{l}Email{endl}</label>
      <div class="col-sm-8">
          <input type="text" class="form-control" ng-model="vmMod.data.email">
      </div>
    </div>
    </div>
    <div class="col-md-12 new_link_design_body new_modal">
    <div class="form-group">
      <label for="" class="col-sm-4 control-label">{l}Phone{endl}</label>
      <div class="col-sm-8">
          <input type="text" class="form-control" ng-model="vmMod.data.phone">
      </div>
    </div>
    </div>
    <div class="col-md-12 new_link_design_body new_modal">
    <div class="form-group">
      <label for="" class="col-sm-4 control-label">{l}Fax{endl}</label>
      <div class="col-sm-8">
          <input type="text" class="form-control" ng-model="vmMod.data.fax">
      </div>
    </div>
    </div>
    <div class="col-md-12 new_link_design_body new_modal">
    <div class="form-group">
      <label for="" class="col-sm-4 control-label">{l}Address{endl}</label>
      <div class="col-sm-8">
          <selectize config="vmMod.addressCfg" options="vmMod.data.addresses" ng-model="vmMod.data.customer_address_id" ></selectize>
      </div>
    </div>
    </div>
    <div class="col-md-12 new_link_design_body new_modal">
    <div class="form-group">
      <label for="" class="col-sm-4 control-label">{l}Exact Title{endl}</label>
      <div class="col-sm-8">
          <selectize config="vmMod.salesCfg"
            options="vmMod.data.customer_contact_title"
            ng-model="vmMod.data.title"
            table="customer_contact_title"
            model="deparment" >
          </selectize>
      </div>
    </div>
    </div>
    <div class="col-md-12 new_link_design_body new_modal">
    <div class="form-group">
      <label for="" class="col-sm-4 control-label">{l}Function{endl}</label>
      <div class="col-sm-8">
        <selectize config="vmMod.salesCfg"
           options="vmMod.data.customer_contact_job_title"
           ng-model="vmMod.data.position"
           table="customer_contact_job_title"
           model="position"></selectize>
      </div>
    </div>
    </div>
    <div class="col-md-12 new_link_design_body new_modal">
    <div class="form-group">
      <label for="" class="col-sm-4 control-label">{l}Deparment{endl}</label>
      <div class="col-sm-8">
        <selectize config="vmMod.salesCfg"
           options="vmMod.data.customer_contact_dep"
           ng-model="vmMod.data.department"
           table="customer_contact_dep"
           model="deparment" ></selectize>
      </div>
    </div>
    </div>
    <div class="col-md-12 new_link_design_body new_modal">
    <div class="form-group">
      <label class="col-sm-4">{l}Agrees to receive emails{endl} </label>
      <label class="switch pull-left small_margin">
        <input type="checkbox" id="checkbox" ng-model="vmMod.data.s_email" class="switch-primary">
        <span class="slider round"></span>
      </label>
    </div>
  </div>
  </div>
<div class="modal-footer">
    <button class="btn btn-plain" type="button" ng-click="vmMod.cancel()">{l}Cancel{endl}</button>
    <button class="btn btn-default ng-click-active" type="button" ng-disabled="addCustomer.$invalid" ng-click="vmMod.ok(updateContact)">{l}Save{endl}</button>
</div>
