<!-- <div uib-alert ng-repeat="alert in vm.alerts" type="{{alert.type}}" close="vm.alerts.splice($index, 1);" dismiss-on-timeout="3500" ng-class="['alert-' + (alert.type || 'warning') ]">{{alert.msg}}</div> -->
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="vm.cancel()"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title">{l}Add Installation{endl}</h4>
</div>
<div class="modal-body modal-body_alt">
    <div class="loading_wrap loading_alt hidden">
        <div class="loading"></div>
        <div class="spinner"></div>
    </div>
    <div class="col-sm-12">
        <form class="form-horizontal" name="vm.project_all" novalidate>
            <div class="user_summary" ng-class="{'is-open': vm.showTxt.settings, '': !vm.showTxt.settings}">
                <button class="btn-summary text-link" ng-disabled="!vm.showTxt.address || vm.item.add_customer" ng-click="vm.showTxt.settings=!vm.showTxt.settings"><span class="glyphicon glyphicon-chevron-down pull-right"></span> {l}Installation Settings{endl}</button>
                <div class="row col-top col-bottom">
                    <div class="col-sm-4 col-md-6">
                        <div class="row">
                            <div class="col-sm-8">
                                <img class="img-responsive" ng-src="{{vm.item.main_comp_info.logo}}" alt="">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <h4>{{vm.item.main_comp_info.name}}</h4>
                                <p> <span ng-bind-html="vm.item.main_comp_info.address"></span><br>{{vm.item.main_comp_info.zip}} {{vm.item.main_comp_info.city}}<br> {{vm.item.main_comp_info.country}}
                                    <br> {{vm.item.main_comp_info.phone}}
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.user_summary -->
            <div class="row">
                <div class="col-sm-6">
                    <div class="panel panel-default panel-customer_details">
                        <div class="panel-body panel-current_customer panel-add_customer_alt" ng-class="{ 'panel-add_customer': vm.item.add_customer && vm.showTxt.addBtn }">
                            <div ng-if="vm.showTxt.address && !vm.item.add_customer">
                                <a class="panel-edit margin-top" href="#" ng-click="vm.showEditFnc(vm)">{l}Edit{endl}</a>
                                <h2>{{vm.item.buyer_name}} <small class="quick_edits"><span class="text-link_space">•</span> <a href="#" class="text-link text-muted edit-customer" ng-click="vm.openModal(vm,'EditCustomer');" ng-if="vm.item.field=='customer_id'" >{l}Edit Customer{endl}</a> <span class="text-link_space">•</span> <a href="#" class="text-link text-muted delete-customer" ng-click="vm.removeCust(vm)">{l}Remove{endl}</a></small></h2>
                                <div class="delivery-address" ng-if="!vm.item.view_delivery">
                                    <span ng-bind-html="vm.item.free_field_txt"></span>
                                </div>
                            </div>
                            <!-- /showTxt.address -->
                            <div ng-if="vm.item.add_customer">
                                <button class="btn btn-block btn-lg btn-blank" ng-if="vm.showTxt.addBtn" ng-click="vm.showCCSelectize(vm)"><span class="fa fa-user-plus icon-holder"></span> {l}Add Customer{endl}</button>
                                <selectize config='vm.ccAutoCfg' options='vm.auto.options.cc' ng-model="vm.item.customer_id" id="custandcont" ng-if="!vm.showTxt.addBtn"></selectize>
                            </div>
                            <div class="form-horizontal text-left " ng-if="!vm.showTxt.address">
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">{l}Customer{endl}</label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control" ng-model="vm.item.buyer_name" ng-disabled="true">
                                    </div>
                                </div>
                                <div class="form-group extra_address" ng-class="{ 'form-group_alert' : vm.project_all.delivery_address_id.$invalid && !vm.project_all.delivery_address_id.$pristine }">
                                    <label class="col-sm-3 control-label">{l}Site Address{endl}</label>
                                    <div class="col-sm-9">
                                        <selectize config='vm.addressAutoCfg' options='vm.auto.options.addresses' ng-model="vm.item.delivery_address_id" id="delivery_address" name="delivery_address_id"></selectize>
                                        <div class="alert alert-sm alert-danger" ng-if="vm.project_all.delivery_address_id.$invalid && vm.alertsField.delivery_address_id">{{vm.alertsField.delivery_address_id}}</div>
                                    </div>
                                </div>
                                <div class="text-right">
                                    <a href="#" class="text-muted" ng-click="vm.cancelEdit(vm)">{l}Cancel{endl}</a> <span class="text-link_space">• </span> <a href="#" class="text-link" ng-click="vm.saveClientData(vm,vm.item.field)">{l}Save{endl}</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.panel -->
                </div>
                <div class="col-sm-6 col-lg-6">
                    <div class="form-squeeze" name="project_main">
                        <div class="form-group" ng-class="{ 'form-group_alert' : vm.project_all.serial_number.$invalid && !vm.project_all.serial_number.$pristine }">
                            <label class="col-sm-5 control-label">{l}Installation number{endl}</label>
                            <div class="col-sm-7">
                                <input type="text" ng-disabled="!vm.showTxt.address || vm.item.add_customer || vm.item.installation_id=='tmp'" class="form-control" ng-model="vm.item.serial_number" name="serial_number" placeholder="{l}Installation number{endl}">
                                <div class="alert alert-sm alert-danger" ng-if="vm.project_all.serial_number.$invalid && vm.alertsField.serial_number">{{vm.alertsField.serial_number}}</div>
                            </div>
                        </div>
                        <!-- /.form-group -->
                        <div class="form-group" ng-class="{ 'form-group_alert' : vm.project_all.name.$invalid && !vm.project_all.name.$pristine }">
                            <label class="col-sm-5 control-label">{l}Installation Name{endl}</label>
                            <div class="col-sm-7">
                                <input type="text" ng-disabled="!vm.showTxt.address || vm.item.add_customer" class="form-control" ng-model="vm.item.name" name="name" placeholder="{l}Installation Name{endl}">
                                <div class="alert alert-sm alert-danger" ng-if="vm.project_all.name.$invalid && vm.alertsField.name">{{vm.alertsField.name}}</div>
                            </div>
                        </div>
                        <!-- /.form-group -->
                    </div>
                    <!-- /.form-horizontal -->
                </div>
            </div>
            <!-- /.intervention-details -->
            <div class="row">
                <div class="col-sm-12" ng-if="vm.item.template_id">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group" ng-repeat="field in vm.item.template.left_fields">
                                <label class="control-label col-sm-4 text-left">{{field.name}}</label>
                                <div class="col-sm-8">
                                    <selectize config='vm.fieldCfg' ng-if="field.type=='1' && field.ptype=='0'" options='field.no_fields' ng-model="field.name_final" fieldid="{{$index}}" position="left_fields"></selectize>
                                    <selectize config='vm.articleAutoCfg' ng-if="field.type=='1' && field.ptype=='10'" options='vm.auto.options.articles' ng-model="field.name_final" id="articles_list"></selectize>
                                    <selectize config='vm.serviceAutoCfg' ng-if="field.type=='1' && field.ptype=='11'" options='vm.auto.options.services' ng-model="field.name_final" id="services_list"></selectize>
                                    <input type="text" class="form-control" ng-if="field.type=='2'" ng-model="field.name_final" placeholder="{{field.name}}" maxlength="255">
                                    <small ng-if="field.type=='2'">{l}Maximum 255 characters are allowed{endl}</small>
                                    <div class="so-field input-date" ng-if="field.type=='3'">
                                        <span class="glyphicon glyphicon-calendar so-icon" ng-click="vm.datePickOpen['lfield_'+field.field_id]=true"></span>
                                        <input type="text" class="form-control" ng-model="field.name_final" uib-datepicker-popup="{{vm.format}}" is-open="vm.datePickOpen['lfield_'+field.field_id]" datepicker-options="vm.dateOptions" close-text="Close" placeholder="{{field.name}}" show-button-bar="false"
                                            ng-click="vm.datePickOpen['lfield_'+field.field_id]=true" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group" ng-repeat="field in vm.item.template.right_fields">
                                <label class="control-label col-sm-4 text-left">{{field.name}}</label>
                                <div class="col-sm-8">
                                    <selectize config='vm.fieldCfg' ng-if="field.type=='1' && field.ptype=='0'" options='field.no_fields' ng-model="field.name_final" fieldid="{{$index}}" position="right_fields"></selectize>
                                    <selectize config='vm.articleAutoCfg' ng-if="field.type=='1' && field.ptype=='10'" options='vm.auto.options.articles' ng-model="field.name_final" id="articles_list"></selectize>
                                    <selectize config='vm.serviceAutoCfg' ng-if="field.type=='1' && field.ptype=='11'" options='vm.auto.options.services' ng-model="field.name_final" id="services_list"></selectize>
                                    <input type="text" class="form-control" ng-if="field.type=='2'" ng-model="field.name_final" placeholder="{{field.name}}" maxlength="255">
                                    <small ng-if="field.type=='2'">{l}Maximum 255 characters are allowed{endl}</small>
                                    <div class="so-field input-date" ng-if="field.type=='3'">
                                        <span class="glyphicon glyphicon-calendar so-icon" ng-click="vm.datePickOpen['rfield_'+field.field_id]=true"></span>
                                        <input type="text" class="form-control" ng-model="field.name_final" uib-datepicker-popup="{{vm.format}}" is-open="vm.datePickOpen['rfield_'+field.field_id]" datepicker-options="vm.dateOptions" close-text="Close" placeholder="{{field.name}}" show-button-bar="false"
                                            ng-click="vm.datePickOpen['rfield_'+field.field_id]=true" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-2 col-xs-offset-5" id="blank_template" ng-if="vm.item.installation_id=='tmp' && vm.item.buyer_id && !vm.item.template.left_fields.length && !vm.item.template.right_fields.length">
                    <a href="#">
                        <div class="blank_card blank_card-lg text-center select_template_icon" ng-click="vm.selectTemplate()">
                            <div class="card_icon">
                                <i class="fa fa-th-list" aria-hidden="true"></i>
                            </div>
                            <p class="text-muted col-top">{l}Select Template{endl}</p>
                        </div>
                    </a>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-plain" type="button" ng-click="vm.cancel()">{l}Cancel{endl}</button>
    <button class="btn btn-default" type="button" ng-disabled="!vm.item.buyer_id || !vm.item.delivery_address_id || !vm.item.template_id" ng-click="vm.saveData(vm.project_all)">{l}Save{endl}</button>
</div>