<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="vm.cancel()"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title">
        <span ng-if="vm.data.order_id">{l}Purchase Order{endl} {l}based on order#{endl} {{vm.data.serial_number}}</span>
        <span ng-if="vm.data.service_id">{l}Purchase Order{endl} {l}based on intervention#{endl} {{vm.data.serial_number}}</span>
    </h4>
</div>
<div class="modal-body">
    <!-- <div uib-alert ng-repeat="alert in vm.alerts" type="{{alert.type}}" close="vm.alerts.splice($index, 1);" ng-class="['alert-' + (alert.type || 'warning') ]">{{alert.msg}}</div> -->
    <div>
        <table class="table" id="po_articles_list">
            <thead>
                <tr>
                    <th class="col-sm-2">{l}Code{endl}</th>
                    <th class="col-sm-4">{l}Description{endl}</th>
                    <th class="col-sm-2">{l}Quantity{endl}</th>
                    <th class="col-sm-4">{l}Supplier{endl}</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in vm.data.lines">
                    <td class="text-muted" ng-if="!item.supplier_reference">{{::item.article_code}}</td>
                    <td class="text-muted" ng-if="item.supplier_reference">{{::item.supplier_reference}}</td>
                    <td class="text-muted"><span class="text-truncate"><span ng-if="item.internal_name">{{::item.internal_name}}</span> <span ng-if="item.article_name">{{::item.article_name}}</span></span>
                    </td>
                    <td class="text-muted">
                        <input type="text" ng-if="item.is_article" ng-model="item.quantity" class="form-control" display-nr>
                    </td>
                    <td>
                        <div class="form-group" ng-if="item.is_article" ng-class="{ 'form-group_alert' : data_form.supplier_id_{{$index}}.$invalid && !data_form.supplier_id_{{$index}}.$pristine }">
                            <selectize class="multi_select" name="customer_id_{{$index}}" config='vm.filterCust' options='item.supplier_dd' ng-model="item.supplier_id" placeholder="{l}Select Supplier{endl}" ng-disabled="item.disabled"></selectize>
                            <div class="alert alert-sm alert-danger" ng-if="data_form['supplier_id_'+$index].$invalid && vm.alertsField['supplier_id_'+$index]">{{vm.alertsField['supplier_id_'+$index]}}</div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="modal-footer">
    <span class="checkbox checkbox-primary d-inline">
        <input type="checkbox" ng-model="vm.data.deliver_address" class="link-pointer">
        <label for="checkbox_all"></label>
      </span>
    <span class="link-pointer m-l-20 mr-30" ng-click="vm.data.deliver_address=!vm.data.deliver_address">{l}Deliver at customer address{endl}</span>
    <button class="btn btn-plain" type="button" ng-click="vm.cancel()">{l}Cancel{endl}</button>
    <button class="btn btn-default" type="button" ng-click="vm.ok()">{l}Create{endl}</button>
</div>