<div class="container">
    <div class="page-header">
	    <div class="row">
	        <div class="col-sm-6">
	          	<h1>{l}Update Databases{endl}</h1>
	        </div>          
		</div>
    </div><!-- /.page-header -->
    <div class="section-title">
		<div class="row">
			<div class="col-xs-6">
				<h2>{l}Multiples queries will be separated by "###" (without quotes)!{endl}</h2>
			</div>
		</div>
	</div>
	<div class="tab-content">
        <div class="tab-pane fade in active" id="details" >
          	<div class="section-content">
            	<form class="form-horizontal text-left col-top" name="User" novalidate >
              		<div class="row">
              			<div class="col-sm-12">
	                        <div class="form-group">
	                        	<div class="col-sm-2">
	                        		<label>{l}Query{endl}</label>
	                        	</div>
	                            <div class="col-sm-10">
	                            	<textarea id="altId" rows="10" class="form-control ng-pristine ng-untouched ng-valid" type="text" ng-model="vm.database.QUERY"></textarea>
	                            </div>
	                        </div>
	                        <div class="form-group">
	                        	<div class="col-sm-2">
	                        		<label>{l}Apply on base also{endl}</label>
	                        	</div>
	                            <div class="col-sm-10">
	                            	<input type="checkbox" ng-model="vm.database.bases">
	                            </div>
	                        </div>
	                        <div class="form-group">
	                        	<div class="col-sm-2">
	                        		<label>{l}Apply on users also{endl}</label>
	                        	</div>
	                            <div class="col-sm-10">
	                            	<input type="checkbox" ng-model="vm.database.users">
	                            </div>
	                        </div>                                 
	                    </div>
              		</div>
              	</form>
            </div>
        </div>
    </div>
    <div class="section-footer">
        <div class="row">
            <div class="col-xs-12 text-left">
              <button type="submit" class="btn btn-default" ng-click="vm.executeQuery(vm.database,0)">{l}Execute{endl}</button>
            </div>
        </div>
        <div uib-alert ng-repeat="alert in vm.alerts" type="{{alert.type}}" close="vm.alerts.splice($index, 1);" ng-class="['alert-' + (alert.type || 'warning') ]"  >{{alert.msg}}</div>
    </div><!-- /.section-footer -->
</div>