<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="vmMod.cancel()"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title title-deal">{l}Edit Details{endl}</h4>
  </div>
  <div class="modal-body deal-details">
    <form class="form-horizontal text-left" name="editDeal" novalidate>
      <div class="row">
        <div class="col-sm-12">
            <div class="form-horizontal text-left " ng-if="!vmMod.obj.item.showTxt.address">
                <div class="form-group">
                    <label class="col-sm-3 control-label"><strong>{l}Account{endl}</strong></label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" ng-model="vmMod.obj.item.buyer_name" ng-disabled="true">
                    </div>
                </div>
                <div class="form-group" ng-if="vmMod.obj.item.field == 'customer_id'">
                    <label class="col-sm-3 control-label"><strong>{l}Contact{endl}</strong></label>
                    <div class="col-sm-9">
                        <selectize config='vmMod.obj.contactAutoCfg' options='vmMod.obj.auto.options.contacts' ng-model="vmMod.obj.item.contact_id" id="contact_id"></selectize>
                    </div>
                </div>
                <div class="form-group extra_address">
                    <label class="col-sm-3 control-label"><strong>{l}Address{endl}</strong></label>
                    <div class="col-sm-9 ">
                        <selectize config='vmMod.obj.addressAutoCfg' options='vmMod.obj.auto.options.addresses' ng-model="vmMod.obj.item.main_address_id" id="main_address"></selectize>
                    </div>
                </div>

                <div class="form-group" ng-class="{ 'form-group_alert' : vmMod.obj.item.serial_number.$invalid && !vmMod.obj.item.serial_number.$pristine }">
                    <label class="control-label text-left col-sm-3"><strong>{l}Deal Number{endl}</strong></label>
                    <div class="col-sm-9">
                        <input type="text" name="serial_number" class="form-control" ng-model="vmMod.obj.item.serial_number" placeholder="{l}Deal Number{endl}">
                        <div class="alert alert-sm alert-danger" ng-if="vmMod.obj.item.serial_number.$invalid && edit.alertsField.serial_number">{{edit.alertsField.serial_number}}</div>
                    </div>
                </div>
                <div class="form-group" ng-class="{ 'form-group_alert' : vmMod.obj.item.subject.$invalid && !vmMod.obj.item.subject.$pristine }">
                    <label class="control-label text-left col-sm-3"><strong>{l}Subject{endl}</strong><!--  <span class="mandatory-label">*</span> --></label>
                    <div class="col-sm-9">
                        <input type="text" name="subject" class="form-control" ng-model="vmMod.obj.item.subject" placeholder="{l}Subject{endl}">
                        <div class="alert alert-sm alert-danger" ng-if="vmMod.obj.item.subject.$invalid && edit.alertsField.subject">{{edit.alertsField.subject}}</div>
                    </div>
                </div>
                <div class="form-group" ng-class="{ 'form-group_alert' : vmMod.obj.item.amount.$invalid && !vmMod.obj.item.amount.$pristine }">
                    <label class="control-label text-left col-sm-3"><strong>{l}Amount{endl}</strong></label>
                    <div class="col-sm-9">
                        <input type="text" name="amount" class="form-control" display-nr="" ng-model="vmMod.obj.item.amount" placeholder="{l}Amount{endl}">
                        <div class="alert alert-sm alert-danger" ng-if="vmMod.obj.item.amount.$invalid && edit.alertsField.amount">{{edit.alertsField.amount}}</div>
                    </div>
                </div>
                <div class="form-group ">
                    <label class="col-sm-3 control-label"><strong>{l}Board{endl}</strong></label>
                    <div class="col-sm-9 ">
                        <selectize config='vmMod.boardCfg' options='vmMod.obj.item.board_dd' ng-model="vmMod.obj.item.board_id" id="board_id"></selectize>
                    </div>
                </div>
                <div class="form-group ">
                    <label class="col-sm-3 control-label"><strong>{l}Stage{endl}</strong></label>
                    <div class="col-sm-9 ">
                        <selectize config='vmMod.obj.selectCfg' options='vmMod.obj.item.stage_dd' ng-model="vmMod.obj.item.stage_id" id="stage_id"></selectize>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label"><strong>{l}Closure date{endl}</strong><!-- <span class="mandatory-label">*</span> --></label>
                    <div class="col-sm-9">
                        <div class="so-field">
                            <span class="glyphicon glyphicon-calendar so-icon" ng-click="vmMod.obj.datePickOpen.exp_close_date_js = true"></span>
                            <input type="text" class="form-control form-control-border-right" ng-model="vmMod.obj.item.exp_close_date_js" uib-datepicker-popup="{{vmMod.obj.format}}" is-open="vmMod.obj.datePickOpen.exp_close_date_js" datepicker-options="vmMod.obj.dateOptions" ng-required="true" close-text="Close"
                                placeholder="{l}Date{endl}" show-button-bar="false" ng-click="vmMod.obj.datePickOpen.exp_close_date_js = true" ng-change="vmMod.setExpCloseDate()" />
                        </div>
                        <!-- /.so-field -->
                    </div>
                </div>
                <div class="form-group ">
                    <label class="col-sm-3 control-label"><strong>{l}Account Manager{endl}</strong></label>
                    <div class="col-sm-9 ">
                        <selectize config='vmMod.obj.userAutoCfg' options='vmMod.obj.item.user_list' ng-model="vmMod.obj.item.created_by" id="created_by"></selectize>
                    </div>
                </div>
                <div class="form-group" ng-if="vmMod.obj.item.type_dd.length">
                    <label class="control-label text-left col-sm-3"><strong>{l}Type{endl}</strong></label>
                    <div class="col-sm-9">
                        <selectize config='vmMod.obj.selectCfg' options='vmMod.obj.item.type_dd' ng-model="vmMod.obj.item.type_id"></selectize>
                    </div>
                </div>
            </div>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
      <button class="btn btn-plain" type="button" ng-click="vmMod.cancel(edit)">{l}Close{endl}</button>
      <button class="btn btn-default" type="button" ng-disabled="editDeal.$invalid || !vmMod.obj.item.stage_id || !vmMod.obj.item.board_id" ng-click="vmMod.save(vmMod.obj, vmMod.obj.item.field)">{l}Save{endl}</button>
  </div>
  