<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="vmMod.cancel()"><span aria-hidden="true">&times;</span></button>
  <h4 class="modal-title">{l}Edit Additional Information{endl}</h4>
</div>
<div class="modal-body modal-body_alt new_d">
    <!-- <div uib-alert ng-repeat="alert in ls.alerts" type="{{alert.type}}" close="ls.alerts.splice($index, 1);" dismiss-on-timeout="5000" ng-class="['alert-' + (alert.type || 'warning') ]">{{alert.msg}}</div> -->

    <div ng-repeat="item in vmMod.data.linesObj">
      <div class="col-md-6 new_link_design_body new_modal">
        <div class="form-group" ng-if="!item.is_custom"
        >
          <label for="" class="col-sm-4 control-label">{{item.label}}</label>
          <!-- Normal Inputs -->
          <div class="col-sm-8" ng-if="!item.is_dd && !item.is_date">
            <input type="text" class="form-control" ng-model="vmMod.data[item.model]">
          </div>

          <!-- Birthdate Input -->
          <div class="col-sm-8" ng-if="!item.is_dd && item.is_date && item.model !='sex'">
            <input type="text" class="form-control" ng-model="vmMod.data[item.model]" uib-datepicker-popup="{{ls.format}}" is-open="ls.bday" datepicker-options="dateOptions" close-text="Close" placeholder="{{item.label}}" show-button-bar="false" ng-click="ls.bday=true" >
          </div>
          <!-- Select without table -->
          <div class="col-sm-8" ng-if="!item.has_table && item.is_dd && item.model != 'sex'">
            <selectize config="vmMod[item.selectize_config]" options="vmMod[item.selectize_options]" ng-model="vmMod.data[item.model]"></selectize>
          </div>
          <!-- Select without table custom for gender-->
          <div class="col-sm-8" ng-if="!item.has_table && item.is_dd && item.model == 'sex'">
            <selectize config="vmMod[item.selectize_config]" options="vmMod.data[item.selectize_options]" ng-model="vmMod.data[item.model]"></selectize>
          </div>

          <!-- Select with table -->
          <div class="col-sm-8" ng-if="item.has_table && item.is_dd && item.model != 'sex'">
            <selectize config="vmMod[item.selectize_config]" options="vmMod[item.selectize_options]"
            ng-model="vmMod.data[item.model]" table="{{item.table}}" model="{{item.model}}" ind="{{$index}}"></selectize>
          </div>
        </div>  

        <div class="form-group" ng-if="item.is_custom">
          <label for="" class="col-sm-4 control-label" >{{item.label}}</label>

            <div class="col-sm-8" ng-if="item.normal_input">
              <input type="text" name="extra[item.field_id]" value="item.value" ng-model="vmMod.data.extra[item.field_id]" class="form-control" maxlength="30" />
            </div>
            <div class="col-sm-8" ng-if="!item.normal_input">
              <selectize config="vmMod.extraCfg" options="vmMod.extra[item.field_id]" id="extra_{{item.field_id}}" ng-model="vmMod.data.extra_ids[item.field_id]" table="contact_extrafield_dd" model="extra" extra="{{item.field_id}}" >
              </selectize>
            </div>
        </div>
      </div>
    </div>   

          <!-- <div class="col-sm-12">
            <div class="col-md-12 new_link_design_body new_modal">
            <div class="form-group">
              <label for="" class="col-sm-4 control-label">{l}Salutation{endl}</label>
              <div class="col-sm-8">
                <selectize config="vmMod.salesCfg" options="vmMod.customer_contact_title" ng-model="vmMod.data.title_contact_id" 
                table="customer_contact_title"
                model="title_contact_id" ></selectize>
              </div>
            </div>
          </div>
            <div class="col-md-12 new_link_design_body new_modal">
            <div class="form-group">
              <label for="" class="col-sm-4 control-label">{l}Gender{endl}</label>
              <div class="col-sm-8">
                <selectize config="vmMod.cfg" options="vmMod.data.gender_dd" ng-model="vmMod.data.sex" ></selectize>
              </div>
            </div>
          </div>
            <div class="col-md-12 new_link_design_body new_modal">
            <div class="form-group">
              <label for="" class="col-sm-4 control-label">{l}Birthdate{endl}</label>
              <div class="col-sm-8">
                  <input type="text" class="form-control" ng-model="vmMod.data.birthdate" uib-datepicker-popup="{{ls.format}}" is-open="ls.bday" datepicker-options="dateOptions" close-text="Close" placeholder="{l}Birthdate{endl}" show-button-bar="false" ng-click="ls.bday=true">
              </div>
            </div>
          </div>
          <div class="col-md-12 new_link_design_body new_modal">
            <div class="form-group">
              <label for="" class="col-sm-4 control-label">{l}Language{endl}</label>
              <div class="col-sm-8">
                <selectize config="vmMod.cfgLng" options="vmMod.lang_dd" ng-model="vmMod.data.language" ></selectize>
              </div>
            </div>
          </div>
          <div ng-repeat="show in vmMod.default_show.default_show" >
            <div ng-if="show.is_custom_field == 'true'">
              <div class="col-md-12 new_link_design_body new_modal">
                <div class="form-group">
                    <label for="" class="col-sm-4 control-label">{l}{{show.label}}{endl}</label>
                    <div class="col-sm-8" ng-if="vmMod.extra[show.field_id]">
                        <selectize config="vmMod.extraCfg" options="vmMod.extra[show.field_id]" ng-model="vmMod.data.extra[show.field_id]" ></selectize>
                    </div>
                </div>
              </div>
            </div>  
          </div>
          </div> -->

          <!-- /.row -->

  </div>
<div class="modal-footer">
    <button class="btn btn-plain" type="button" ng-click="vmMod.cancel()">{l}Cancel{endl}</button>
    <button class="btn btn-default ng-click-active" type="button" ng-disabled="addCustomer.$invalid" ng-click="vmMod.ok()">{l}Save{endl}</button>
</div>