<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="vmMod.cancel()"><span aria-hidden="true">&times;</span></button>
  <h4 class="modal-title">{l}Edit contact{endl}</h4>
</div>
<div class="modal-body">
  <div uib-alert ng-repeat="alert in vmMod.alerts" type="{{alert.type}}" close="vmMod.alerts.splice($index, 1);" dismiss-on-timeout="5000" ng-class="['alert-' + (alert.type || 'warning') ]">{{alert.msg}}</div>
  <form class="form-horizontal text-left" name="addCustomer" novalidate>
    <div class="row">
      <div class="col-sm-6">

        <div class="form-group" ng-class="{ 'form-group_alert' : addCustomer.firstname.$invalid && !addCustomer.firstname.$pristine }">
          <label for="inputName" class="col-sm-4 control-label">{l}First Name{endl} <span class="mandatory-label">*</span></label>
          <div class="col-sm-8">
            <input type="text" class="form-control" name="firstname" placeholder="{l}Name{endl}" ng-model="vmMod.obj.firstname" id="inputName" required >
            <div class="alert alert-sm alert-danger" ng-if="addCustomer.firstname.$invalid && vmMod.alertsField.firstname">{{vmMod.alertsField.firstname}}</div>
          </div>
        </div>
        <div class="form-group" ng-class="{ 'form-group_alert' : addCustomer.lastname.$invalid && !addCustomer.lastname.$pristine }">
          <label for="inputName" class="col-sm-4 control-label">{l}Last Name{endl} <span class="mandatory-label">*</span></label>
          <div class="col-sm-8">
            <input type="text" class="form-control" name="lastname" placeholder="{l}Name{endl}" ng-model="vmMod.obj.lastname" id="inputName" required >
            <div class="alert alert-sm alert-danger" ng-if="addCustomer.lastname.$invalid && vmMod.alertsField.lastname">{{vmMod.alertsField.lastname}}</div>
          </div>
        </div>

          <div ng-repeat="item in vmMod.obj.linesObj">
                <div class="form-group" ng-if="!item.is_custom" ng-class="{ 'form-group_alert' : addCustomer.email.$invalid && !addCustomer.email.$pristine && item.model == 'email'}">
                  <label for="" class="col-sm-4 control-label">{{item.label}}</label>

                    <!-- Normal Inputs with name -->
                    <div class="col-sm-8" ng-if="!item.is_dd && !item.is_date && item.has_name">
                      <input type="text" class="form-control" name="item.model" ng-model="vmMod.obj[item.model]">
                      <div class="alert alert-sm alert-danger" ng-if="addCustomer.email.$invalid && vmMod.alertsField.email && item.model =='email'">{{vmMod.alertsField.email}}</div>
                    </div>

                    <!-- Birthdate Input -->
                    <div class="col-sm-8" ng-if="!item.is_dd && item.is_date">
                      <div class="so-field">
                        <span class="glyphicon glyphicon-calendar so-icon" ng-click="openDate('stop_date')"></span>
                        <input type="text" class="form-control" ng-model="vmMod.obj[item.model]" uib-datepicker-popup="{{format}}" is-open="datePickOpen.stop_date" datepicker-options="dateOptions" close-text="Close" show-button-bar="false" ng-click="datePickOpen.stop_date=true">
                      </div><!-- /.input-date -->
                    </div>

                    <!-- Select without table custom for gender-->
                    <div class="col-sm-8" ng-if="!item.has_table && item.is_dd && item.model == 'sex'">
                      <select class="form-control" ng-model="vmMod.obj[item.model]">
                        <option value="" >Select type</option>
                        <option value="1" >{l}Male{endl}</option>
                        <option value="2" >{l}Female{endl}</option>              
                      </select>
                    </div>  

                    <!-- Select with table -->
                    <div class="col-sm-8" ng-if="item.has_table && item.is_dd && item.model != 'sex'">
                      <selectize config="vmMod[item.selectize_config]" options="vmMod[item.selectize_options]"
                      ng-model="vmMod.obj[item.model]" table="{{item.table}}" model="{{item.model}}"></selectize>
                    </div>
                </div>

                <div class="form-group" ng-if="item.is_custom">
                  <label for="" class="col-sm-4 control-label" >{{item.label}}</label>
                  <div class="col-sm-8" ng-if="item.normal_input">
                    <input type="text" name="extra[item.field_id]" value="item.value" ng-model="vmMod.obj.extra[item.field_id]" class="form-control" maxlength="30" />
                  </div>
                  <div class="col-sm-8" ng-if="!item.normal_input">
                    <selectize config="vmMod.extraCfg" options="vmMod.extra[item.field_id]" id="extra_{{item.field_id}}" ng-model="vmMod.obj.extra[item.field_id]" table="contact_extrafield_dd" model="extra" extra="{{item.field_id}}" >
                    </selectize>
                  </div>
              </div>
          </div>



       <!--  {loop:extra_field}
        
        <div class="form-group">
          <label for="" class="col-sm-4 control-label">{label}</label>
          {if:normal_input}
          <div class="col-sm-8">
            <input type="text" name="extra[{field_id}]" value="{value}" ng-model="vmMod.obj.extra[{field_id}]" class="form-control" maxlength="30" />
          {else}
          <div class="col-sm-8">
            <selectize config="vmMod.extraCfg" options="vmMod.extra[{field_id}]" id="extra_{field_id}" ng-model="vmMod.obj.extra[{field_id}]" table="contact_extrafield_dd" model="extra" extra="{field_id}" ></selectize>
          {end}
          </div>
        </div>
        
        {endloop} -->
        <!-- <div class="form-group">
          <label for="" class="col-sm-4 control-label">{l}Note{endl}:</label>
          <div class="col-sm-8">
            <textarea class="form-control" rows="3"  ng-model="vmMod.obj.note" ></textarea>
          </div>
        </div> -->

      </div>
      
      <div class="col-sm-6">
        <!-- <div class="panel panel-default panel-customer_details">
          <div class="panel-body ">
            <div class="form-group">
              <div class="col-sm-12">
                <selectize config='vmMod.customerCfg' options='vmMod.auto.options.company' ng-model="vmMod.obj.customer_id" id="custandcont" ></selectize>
              </div>
            </div>
            <div class="form-group">
              <div class="col-sm-12">
                <button class="btn btn-default" type="button"  ng-click="vmMod.ok(addCustomer)">{l}Attach to company location{endl}</button>
              </div>
            </div>
          </div>
        </div> -->
       <!--  <div class="form-group">
          <label for="" class="col-sm-4 control-label">{l}Phone{endl}</label>
          <div class="col-sm-8">
            <input type="text" class="form-control" name="phone" ng-model="vmMod.obj.phone"  >
          </div>
        </div>
        <div class="form-group">
          <label for="" class="col-sm-4 control-label">{l}Cell{endl}</label>
          <div class="col-sm-8">
            <input type="text" class="form-control" name="cell" ng-model="vmMod.obj.cell"  >
          </div>
        </div>
        <div class="form-group">
          <label for="" class="col-sm-4 control-label">{l}Fax{endl}</label>
          <div class="col-sm-8">
            <input type="text" class="form-control" name="fax" ng-model="vmMod.obj.fax"  >
          </div>
        </div>
        <div class="form-group">
          <label for="" class="col-sm-4 control-label">{l}Birthdate{endl}</label>
          <div class="col-sm-8"> -->
            <!-- <input type="text" class="form-control" name="s_email" ng-model="vmMod.obj.birthdate"  > -->
            <!-- <div class="so-field">
                <span class="glyphicon glyphicon-calendar so-icon" ng-click="openDate('stop_date')"></span>
                <input type="text" class="form-control" ng-model="vmMod.obj.birthdate" uib-datepicker-popup="{{format}}" is-open="datePickOpen.stop_date" datepicker-options="dateOptions" close-text="Close" show-button-bar="false" ng-click="datePickOpen.stop_date=true"> -->
              <!-- </div> -->
              <!-- /.input-date -->
        <!--   </div>
        </div> -->
        <div class="form-group">
          <label for="" class="col-sm-4 control-label">{l}Allow on e-mailing lists{endl}</label>
          <div class="col-sm-2 checkbox checkbox-primary">
            <input type="checkbox" id="checkbox1" ng-model="vmMod.obj.s_email" value="1">
            <label for="checkbox1"></label>
          </div>
          <label for="" class="col-sm-4 control-label" ng-if="vmMod.obj.is_unsub">{l}Unsubscribed on{endl}: {{vmMod.obj.unsub}}</label>
        </div>
        <div class="form-group" ng-if="vmMod.obj.creation_date">
          <label for="" class="col-sm-4 control-label">{l}Creation Date{endl}</label>
          <div class="col-sm-8">
            <label class="control-label">{{vmMod.obj.creation_date}} </label>
          </div>
        </div>
      </div>
      
      

    </div>
  </form>
</div>
<div class="modal-footer">
    <button class="btn btn-plain" type="button" ng-click="vmMod.cancel()">{l}Close{endl}</button>
    <button class="btn btn-default" type="button" ng-disabled="addCustomer.$invalid" ng-click="vmMod.ok(addCustomer)">{l}Save{endl}</button>
</div>
