<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="vmMod.cancel()"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title">{l}Edit Profile Picture{endl}</h4>
  </div>
  <div class="modal-body modal-body_alt">
    <div class="panel panel-plain new_design">
      <div class="panel-body">
        <div class="contact-view">
            <div class="section-content col-bottom">
                <div class="row">
                    <div class="col-xs-12 radio-list">
                        <div class="col-xs-1 col-xs-offset-3 text-center"></div>
                        <div class="upload-box1 col-md-12">
                            <div class="drop_drag col-xs-12 text-center art">
                                <i ng-if="vmMod.data.exist_image" class="fa fa-trash link-pointer" ng-click="vmMod.remove_photo()"></i>
                                <img ngf-drop="vmMod.uploadFiles($files)" ngf-select="vmMod.uploadFiles($files)"   ngf-drag-over-class="'dragover'" ngf-multiple="true" ngf-pattern="'image/*'" class="img-thumbnail" accept="image/*,application/pdf,text/*" ngf-pattern="'image/*,application/pdf,text/*'" ng-src={{vmMod.data.artPhoto}}>
                                <div ngf-no-file-drop>
                                    
                                </div>
                            </div>
                        </div>
                        <p>
                            <small>{l}Allowed file types: <strong>.jpg</strong>, <strong>.jpeg</strong> ,
                                <strong>.png</strong> or <strong>.gif</strong>.{endl}
                            </small>
                        </p>
                        <p>
                            <small>{l}Maximum size:2MB.{endl}
                            </small>
                        </p>
                    </div>
                </div>
            </div>
          
      </div>
    </div>
  </div>
  <div class="modal-footer">
      <button class="btn btn-plain" type="button" ng-click="vmMod.cancel()">{l}Cancel{endl}</button>
      <button class="btn btn-default ng-click-active" type="button" ng-disabled="addCustomer.$invalid" ng-click="vmMod.ok(updateContact)">Save</button>
  </div>