<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="vmMod.cancel()"><span aria-hidden="true">&times;</span></button>
  <h4 class="modal-title"> {l}Account notes{endl}</h4>
</div>
<div class="modal-body">
	<div class="col-sm-12 m-t-15 m-b-15">
		<div class="form-horizontal text-left form-squeeze deal-notes" name="notes">
			<textarea ui-tinymce="vmMod.notesTinymceOpts" ng-model="vmMod.obj.customer_notes" class="variable_assign" ng-change="vmMod.editNotes()">{{vmMod.obj.customer_notes}}</textarea>
		</div>
	</div>
</div>