<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="vmMod.cancel()"><span aria-hidden="true">&times;</span></button>
  <h4 class="modal-title">{l}Edit Contact personal information{endl}</h4>
</div>
<div class="modal-body modal-body_alt new_modal">
  <div class="col-md-12 new_link_design_body new_modal">
    <div class="form-group">
      <label for="" class="col-sm-4 control-label">{l}First name{endl}</label>
      <div class="col-sm-8">
        <input type="text" class="form-control" ng-model="vmMod.data.firstname">
      </div>
    </div>
  </div>
  <div class="col-md-12 new_link_design_body new_modal">
    <div class="form-group">
      <label for="" class="col-sm-4 control-label">{l}Last name{endl}</label>
      <div class="col-sm-8">
        <input type="text" class="form-control" ng-model="vmMod.data.lastname">
      </div>
    </div>
  </div>
  <div class="col-md-12 new_link_design_body new_modal">
    <div class="form-group">
      <label for="" class="col-sm-4 control-label">{l}Mobile{endl}</label>
      <div class="col-sm-8">
        <input type="text" class="form-control" ng-model="vmMod.data.cell">
      </div>
    </div>
  </div>
</div>
<div class="modal-footer">
    <button class="btn btn-plain" type="button" ng-click="vmMod.cancel()">{l}Cancel{endl}</button>
    <button class="btn btn-default ng-click-active" type="button" ng-disabled="addCustomer.$invalid" ng-click="vmMod.ok(updateContact)">{l}Save{endl}</button>
</div>