<!-- <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="vmMod.cancel()"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title" id="myModalLabel">{l}Activity Details{endl}</h4>
</div>
<div class="modal-body">
	<div class="row form-horizontal text-left">
		<div class="col-xs-12">
			<h2 class="margin-top-none" ng-if="!vmMod.showTxt.edit_subject">{{vmMod.obj.message}} <span class="fas fa-pen ml-5 link-pointer" ng-click="vmMod.showTxt.edit_subject=true"></span></h2>
			<div class="form-group" ng-if="vmMod.showTxt.edit_subject">
				<div class="col-xs-9">
					<input type="text" class="form-control" ng-model="vmMod.obj.message" placeholder="{l}Add Subject{endl}">
				</div>
				<div class="col-xs-3">
					<label class="control-label text-success">
	                  	<span class="glyphicon glyphicon-check link-pointer" ng-click="(vmMod.obj.message ? vmMod.showTxt.edit_subject=false : null)"></span>
	                </label>
				</div>
			</div>
			<p class="text-muted margin-bottom">{l}Created by{endl} {{vmMod.obj.by}}</p>
			<div class="form-group">
				<div class="col-xs-3">
					<div class="so-field">
						<span class="fa fa-calendar so-icon"></span>
						<input type="text" class="form-control" ng-model="vmMod.obj.date" uib-datepicker-popup="{{vmMod.format}}" is-open="vmMod.open.date" datepicker-options="vmMod.dateOptions" close-text="Close" placeholder="{l}Date{endl}" show-button-bar="false" ng-click="vmMod.open.date=true" ng-change="vmMod.changeTime(vmMod.obj.date,vmMod.obj.dateHours,true)">
					</div>
				</div>
				<div class="col-xs-3">
					<div class="so-field">
						<span class="fa fa-clock-o so-icon"></span>
						<selectize config='vmMod.timeAutoCfg' options='vmMod.hours' ng-model="vmMod.obj.dateHours" ng-change="vmMod.changeTime(vmMod.obj.date,vmMod.obj.dateHours,true)"></selectize>
					</div>
				</div>
				<div class="col-xs-6 " ng-if="vmMod.obj.type_of_call">
					<selectize config='vmMod.statusAutoCfg' options='vmMod.typeOfCall' ng-model="vmMod.obj.type_of_call_id" ></selectize>
				</div>
			</div>
		</div>
	</div>
	<div class="row form-horizontal text-left" ng-if="vmMod.obj.deals.length>0">
		<div class="col-xs-12">
			<p class="text-muted small btn-block">{l}Deal{endl}</p>
			<div class="form-group">
				<div class="col-xs-12" >
					<selectize config='vmMod.dealAutoCfg' options='vmMod.obj.deals' ng-model="vmMod.obj.deal_id"></selectize>
				</div>
			</div>
		</div>
	</div>
	<div class="ak_activities_contacts"  ng-if="vmMod.obj.contacts.length">
		<p class="text-muted small btn-block">{l}Contacts{endl}</p>
		<div class="text-nowrap" ng-repeat="item2 in vmMod.obj.contacts"><span class="fa fa-user"></span> {{item2.contact_name}}</div>		
	</div>
	<div class="col-top col-bottom">
		<textarea ui-tinymce="vmMod.tinymceOptions" class="variable_assign" ng-model="vmMod.obj.comments"></textarea>
	</div>
	<div class="form-horizontal text-left" ng-if="vmMod.obj.reminder_assign">
		<p class="ak_activities_user" ng-if="!vmMod.showTxt.edit_to_user"><span class="fa fa-share"></span> {{vmMod.obj.to_user}} <span class="fas fa-pen ml-5 link-pointer" ng-click="vmMod.showTxt.edit_to_user=true"></span></p>
		<div class="form-group" ng-if="vmMod.showTxt.edit_to_user">
				<div class="col-xs-9">
					<selectize config='vmMod.userAutoCfg' options='vmMod.obj.user_auto' ng-model="vmMod.obj.to_user_id"></selectize>
				</div>
				<div class="col-xs-3">
					<label class="control-label text-success">
	                  	<span class="glyphicon glyphicon-check link-pointer" ng-click="(vmMod.obj.to_user_id ? vmMod.showTxt.edit_to_user=false : null)"></span>
	                </label>
				</div>
			</div>
		<div class="row">
			<div class="col-xs-6">
				<div class="row col-top">
					<div class="col-xs-12"><p class="text-muted small btn-block"><span class="fa fa-bell"></span>&nbsp;{l}Reminder{endl}</p></div>
				</div>
				<div class="form-group">
					<div class="col-xs-6">
						<div class="so-field">
							<span class="fa fa-calendar so-icon"></span>
							<input type="text" class="form-control" ng-model="vmMod.obj.reminder_event" uib-datepicker-popup="{{vmMod.format}}" is-open="vmMod.open.reminder_date" datepicker-options="vmMod.dateOptions" close-text="Close" placeholder="{l}Date{endl}" show-button-bar="false" ng-click="vmMod.open.reminder_date=true" ng-change="vmMod.changeTime(vmMod.obj.reminder_event,vmMod.obj.reminderHours)">
						</div>
					</div>
					<div class="col-xs-6">
						<div class="so-field">
							<span class="fa fa-clock-o so-icon"></span>
							<selectize config='vmMod.timeAutoCfg' options='vmMod.hours' ng-model="vmMod.obj.reminderHours" ng-change="vmMod.changeTime(vmMod.obj.reminder_event,vmMod.obj.reminderHours)"></selectize>
						</div>
					</div>
				</div>
			</div>
			<div class="col-xs-6">
				<div class="row col-top">
					<div class="col-xs-8 col-xs-offset-4"><p class="text-muted small btn-block"><span class="fa fa-circle-o"></span>&nbsp; {l}Status{endl}</p></div>
				</div>
				<div class="form-group">
					<div class="col-xs-8 col-xs-offset-4">
						<selectize config='vmMod.statusAutoCfg' options='vmMod.status' ng-model="vmMod.obj.status_change" ></selectize>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="modal-footer">
	<button type="button" class="btn btn-plain" data-dismiss="modal" ng-click="vmMod.cancel()">{l}Close{endl}</button>
	<button type="button" class="btn btn-default" ng-click="vmMod.save()">{l}Save{endl}</button>
</div> -->
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="vmMod.cancel()"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title" id="NewActivities">{l}Edit activity{endl}</h4>
</div>
<div class="modal-body">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="tab newactivities" role="tabpanel">
					<!-- Nav tabs -->
					<ul class="nav nav-tabs" role="tablist">
						<li role="presentation" ng-class="{ 'active':vmMod.obj.task_type=='6', 'disabled':vmMod.obj.task_type!='6' }"><a href="#tasks" aria-controls="home" role="tab" data-toggle="tab"><i class="fas fa-tasks"></i>  {l}Task{endl}</a></li>
						<li role="presentation" ng-class="{ 'active':vmMod.obj.task_type=='2', 'disabled':vmMod.obj.task_type!='2' }"><a href="#note" aria-controls="messages" role="tab" data-toggle="tab"><i class="fas fa-sticky-note"></i>  {l}Note{endl}</a></li>
						<li role="presentation" ng-class="{ 'active':vmMod.obj.task_type=='5', 'disabled':vmMod.obj.task_type!='5' }"><a href="#call" aria-controls="profile" role="tab" data-toggle="tab"><i class="fa fa-phone"></i>  {l}Call{endl}</a></li>
						<li role="presentation" ng-class="{ 'active':vmMod.obj.task_type=='4', 'disabled':vmMod.obj.task_type!='4' }"><a href="#meeting" aria-controls="messages" role="tab" data-toggle="tab"><i class="fas fa-user-friends"></i> {l}Schedule{endl}</a></li>
					</ul>
					<!-- Tab panes -->
					<div class="tab-content tabs">
						<div uib-alert ng-repeat="alert in vmMod.alerts" type="{{alert.type}}" close="vmMod.alerts.splice($index, 1);" ng-class="['alert-' + (alert.type || 'warning') ]">{{alert.msg}}</div>
						<form name="activity_form" novalidate>
							<div role="tabpanel" class="tab-pane fade" id="tasks" ng-if="vmMod.obj.task_type=='6'" ng-class="{ 'in active':vmMod.obj.task_type=='6' }">
									<div class="new_a_row" ng-class="{ 'form-group_alert' : activity_form.comment.$invalid && !activity_form.comment.$pristine }">
										<label class="control-label col-sm-3 col-md-3 text-left">{l}Subject{endl} <span class="mandatory-label">*</span></label>
										<div class="col-sm-9 col-md-9">
											<input type="text" class="form-control" ng-model="vmMod.obj.comment" name="comment">
											<div class="alert alert-sm alert-danger" ng-if="activity_form.comment.$invalid && vmMod.alertsField.comment">{{vmMod.alertsField.comment}}</div>
										</div>
									</div>
									<div class="new_a_row">
										<label class="control-label col-sm-3 col-md-3 text-left">{l}Due date{endl}</span></label>
										<div class="col-sm-9 col-md-9">
											<div class="row">
												<div class="so-field col-md-5">
													<span class="fa fa-calendar so-icon"></span>
													<input type="text" class="form-control" ng-model="vmMod.obj.date" uib-datepicker-popup="{{vmMod.format}}" is-open="vmMod.open.date" datepicker-options="vmMod.dateOptions" close-text="Close" placeholder="{l}Date{endl}" show-button-bar="false" ng-click="vmMod.open.date=true" ng-change="vmMod.changeTime(vmMod.obj.date,vmMod.obj.dateHours,true)">
												</div>
												<label class="control-label  col-md-2 text-left">{l}Time{endl}</span></label>
												<div class="so-field col-md-5">
													<input type="time" ng-model="vmMod.obj.dateHours" ng-change="vmMod.changeTime(vmMod.obj.date,vmMod.obj.dateHours,true)">
												</div>
											</div>
										</div>
									</div>
									<div class="new_a_row">
										<label class="control-label col-sm-3 col-md-3 text-left">{l}Reminder{endl}</label>
										<div class="col-sm-9 col-md-9 act_pad">
											<selectize config='vmMod.reminderAutoCfg' options='vmMod.obj.reminder_dd' ng-model="vmMod.obj.reminder_id"></selectize>
										</div>
									</div>
									<div class="new_a_row">
										<label class="control-label col-sm-3 col-md-3 text-left">{l}Account{endl}</label>
										<div class="col-sm-9 col-md-9">
											<div class="so-field act_pad">
											
												<!-- <input type="text" class="form-control" ng-model="ls.obj.name" placeholder="Select Company" readonly> -->
												<selectize config='vmMod.accountAutoCfg' options='vmMod.accounts' ng-model="vmMod.obj.customer_id"></selectize>
											</div>
										</div>
									</div>
									<div class="new_a_row">
										<label class="control-label col-sm-3 col-md-3 text-left">{l}Contact{endl}</label>
										<div class="col-sm-9 col-md-9">						
											<div class="so-field act_pad">
										
												<selectize config='vmMod.contactAutoCfg' options='vmMod.contacts' ng-model="vmMod.obj.contact_ids"></selectize>
							
											</div>
										</div>
									</div>
									<div class="new_a_row">
										<label class="control-label col-sm-3 col-md-3 text-left">{l}Assign to{endl}</label>
										<div class="col-sm-9 col-md-9">
											<div class="so-field act_pad">
	                                            <selectize config='vmMod.assignAutoCfg' options='vmMod.obj.user_auto' ng-model="vmMod.obj.user_to_id"></selectize>
	                                        </div>
										</div>
									</div>
									<div class="new_a_row" ng-class="{ 'form-group_alert' : activity_form.log_comment.$invalid && !activity_form.log_comment.$pristine }">
										<label class="control-label col-sm-3 col-md-3 text-left">{l}Description{endl} <span class="mandatory-label">*</span></label>
										<div class="col-sm-9 col-md-9">
											<textarea ui-tinymce="vmMod.tinymceOptions_new" class="variable_assign_new" ng-model="vmMod.obj.log_comment" name="log_comment"></textarea>
											<div class="alert alert-sm alert-danger" ng-if="activity_form.log_comment.$invalid && vmMod.alertsField.log_comment">{{vmMod.alertsField.log_comment}}</div>
										</div>
									</div>
									
							</div>
							<div role="tabpanel" class="tab-pane fade" id="call" ng-if="vmMod.obj.task_type=='5'" ng-class="{ 'in active':vmMod.obj.task_type=='5' }">
							
								<div class="new_a_row" ng-class="{ 'form-group_alert' : activity_form.comment.$invalid && !activity_form.comment.$pristine }">
									<label class="control-label col-sm-3 col-md-3 text-left">{l}Subject{endl} <span class="mandatory-label">*</span></label>
									<div class="col-sm-9 col-md-9">
										<input type="text" class="form-control" ng-model="vmMod.obj.comment" placeholder="{l}Subject{endl}" name="comment">
										<div class="alert alert-sm alert-danger" ng-if="activity_form.comment.$invalid && vmMod.alertsField.comment">{{vmMod.alertsField.comment}}</div>
									</div>
								</div>
								<div class="new_a_row">
									<label class="control-label col-sm-3 col-md-3 text-left">{l}Due date{endl}</span></label>
									<div class="col-sm-9 col-md-9">
										<div class="row">
											<div class="so-field col-md-5">
												<span class="fa fa-calendar so-icon"></span>
												<input type="text" class="form-control" ng-model="vmMod.obj.date" uib-datepicker-popup="{{vmMod.format}}" is-open="vmMod.open.start_date" datepicker-options="vmMod.dateOptions" close-text="Close" placeholder="{l}Date{endl}" show-button-bar="false" ng-click="vmMod.open.start_date = true" ng-change="vmMod.changeTime(vmMod.obj.date, vmMod.obj.dateHours, true)">
											</div>
											<label class="control-label  col-md-2 text-left">{l}Time{endl}</span></label>
											<div class="so-field col-md-5">
												<input type="time" ng-model="vmMod.obj.dateHours" ng-change="vmMod.changeTime(vmMod.obj.date,vmMod.obj.dateHours,true)">
											</div>
										</div>
									</div>
								</div>
								<div class="new_a_row">
									<label class="control-label col-sm-3 col-md-3 text-left">{l}Reminder{endl}</label>
									<div class="col-sm-9 col-md-9 act_pad">
										<selectize config='vmMod.reminderAutoCfg' options='vmMod.obj.reminder_dd' ng-model="vmMod.obj.reminder_id"></selectize>
									</div>
								</div>
								<div class="new_a_row">
									<label class="control-label col-sm-3 col-md-3 text-left">{l}Account{endl}</label>
									<div class="col-sm-9 col-md-9">
										<div class="so-field act_pad">
										
											<!-- <input type="text" class="form-control" ng-model="ls.obj.name" placeholder="Select Company" readonly> -->
											<selectize config='vmMod.accountAutoCfg' options='vmMod.accounts' ng-model="vmMod.obj.customer_id"></selectize>
										</div>
									</div>
								</div>
								<div class="new_a_row">
									<label class="control-label col-sm-3 col-md-3 text-left">{l}Contact{endl}</label>
									<div class="col-sm-9 col-md-9">						
										<div class="so-field act_pad">
									
											<selectize config='vmMod.contactAutoCfg' options='vmMod.contacts' ng-model="vmMod.obj.contact_ids"></selectize>
						
										</div>
									</div>
								</div>
								<div class="new_a_row">
									<label class="control-label col-sm-3 col-md-3 text-left">{l}Assign to{endl}</label>
									<div class="col-sm-9 col-md-9">
										<div class="so-field act_pad">
											<selectize config='vmMod.assignAutoCfg' options='vmMod.obj.user_auto' ng-model="vmMod.obj.user_to_id"></selectize>
										</div>
									</div>
								</div>
								<div class="new_a_row" ng-class="{ 'form-group_alert' : activity_form.log_comment.$invalid && !activity_form.log_comment.$pristine }">
									<label class="control-label col-sm-3 col-md-3 text-left">{l}Description{endl} <span class="mandatory-label">*</span></label>
									<div class="col-sm-9 col-md-9">
										<textarea ui-tinymce="vmMod.tinymceOptions_new" class="variable_assign_new" ng-model="vmMod.obj.log_comment" name="log_comment"></textarea>
										<div class="alert alert-sm alert-danger" ng-if="activity_form.log_comment.$invalid && vmMod.alertsField.log_comment">{{vmMod.alertsField.log_comment}}</div>
									</div>
								</div>
							</div>
							<div role="tabpanel" class="tab-pane fade" id="note" ng-if="vmMod.obj.task_type=='2'" ng-class="{ 'in active':vmMod.obj.task_type=='2' }">
								
								<div class="new_a_row" ng-class="{ 'form-group_alert' : activity_form.comment.$invalid && !activity_form.comment.$pristine }">
									<label class="control-label col-sm-3 col-md-3 text-left">{l}Subject{endl} <span class="mandatory-label">*</span></label>
									<div class="col-sm-9 col-md-9">
										<input type="text" class="form-control" ng-model="vmMod.obj.comment" placeholder="{l}Subject{endl}" name="comment">
										<div class="alert alert-sm alert-danger" ng-if="activity_form.comment.$invalid && vmMod.alertsField.comment">{{vmMod.alertsField.comment}}</div>
									</div>
								</div>
								<!-- <div class="new_a_row">
									<label class="control-label col-sm-3 col-md-3 text-left">{l}Due date{endl}</span></label>
									<div class="col-sm-9 col-md-9">
										<div class="row">
											<div class="so-field col-md-5">
												<span class="fa fa-calendar so-icon"></span>
												<input type="text" class="form-control" ng-model="vmMod.obj.date" uib-datepicker-popup="{{vmMod.format}}" is-open="vmMod.open.start_date" datepicker-options="vmMod.dateOptions" close-text="Close" placeholder="{l}Date{endl}" show-button-bar="false" ng-click="vmMod.open.start_date = true" ng-change="vmMod.changeTime(vmMod.obj.date, vmMod.obj.dateHours, true)">
											</div>
											<label class="control-label  col-md-2 text-left">{l}Time{endl}</span></label>
											<div class="so-field col-md-5">
												<input type="time" ng-model="vmMod.obj.dateHours" ng-change="vmMod.changeTime(vmMod.obj.date,vmMod.obj.dateHours,true)">
											</div>
										</div>
									</div>
								</div>
								<div class="new_a_row">
									<label class="control-label col-sm-3 col-md-3 text-left">{l}Reminder{endl}</label>
									<div class="col-sm-9 col-md-9 act_pad">
										<selectize config='vmMod.reminderAutoCfg' options='vmMod.obj.reminder_dd' ng-model="vmMod.obj.reminder_id"></selectize>
									</div>
								</div> -->
								<div class="new_a_row">
									<label class="control-label col-sm-3 col-md-3 text-left">{l}Account{endl}</label>
									<div class="col-sm-9 col-md-9">
										<div class="so-field act_pad">
										
											<!-- <input type="text" class="form-control" ng-model="ls.obj.name" placeholder="Select Company" readonly> -->
											<selectize config='vmMod.accountAutoCfg' options='vmMod.accounts' ng-model="vmMod.obj.customer_id"></selectize>
										</div>
									</div>
								</div>
								<div class="new_a_row">
									<label class="control-label col-sm-3 col-md-3 text-left">{l}Contact{endl}</label>
									<div class="col-sm-9 col-md-9">						
										<div class="so-field act_pad">
									
											<selectize config='vmMod.contactAutoCfg' options='vmMod.contacts' ng-model="vmMod.obj.contact_ids"></selectize>
						
										</div>
									</div>
								</div>
								<!-- <div class="new_a_row">
									<label class="control-label col-sm-3 col-md-3 text-left">{l}Assign to{endl}</label>
									<div class="col-sm-9 col-md-9">
										<div class="so-field act_pad">
											<selectize config='vmMod.assignAutoCfg' options='vmMod.obj.user_auto' ng-model="vmMod.obj.user_to_id"></selectize>
										</div>
									</div>
								</div> -->
								<div class="new_a_row" ng-class="{ 'form-group_alert' : activity_form.log_comment.$invalid && !activity_form.log_comment.$pristine }">
									<label class="control-label col-sm-3 col-md-3 text-left">{l}Description{endl} <span class="mandatory-label">*</span></label>
									<div class="col-sm-9 col-md-9">
										<textarea ui-tinymce="vmMod.tinymceOptions_new" class="variable_assign_new" ng-model="vmMod.obj.log_comment" name="log_comment"></textarea>
										<div class="alert alert-sm alert-danger" ng-if="activity_form.log_comment.$invalid && vmMod.alertsField.log_comment">{{vmMod.alertsField.log_comment}}</div>
									</div>
								</div>
							</div>
							<div role="tabpanel" class="tab-pane fade" id="meeting" ng-if="vmMod.obj.task_type=='4'" ng-class="{ 'in active':vmMod.obj.task_type=='4' }">
							
								<div class="new_a_row" ng-class="{ 'form-group_alert' : activity_form.comment.$invalid && !activity_form.comment.$pristine }">
									<label class="control-label col-sm-3 col-md-3 text-left">{l}Subject{endl} <span class="mandatory-label">*</span></label>
									<div class="col-sm-9 col-md-9">
										<input type="text" class="form-control" ng-model="vmMod.obj.comment" placeholder="{l}Subject{endl}" name="comment">
										<div class="alert alert-sm alert-danger" ng-if="activity_form.comment.$invalid && vmMod.alertsField.comment">{{vmMod.alertsField.comment}}</div>
									</div>
								</div>
								<div class="new_a_row">
									<label class="control-label col-sm-3 col-md-3 text-left">{l}Start date{endl}</span></label>
									<div class="col-sm-9 col-md-9">
										<div class="row">
											<div class="so-field col-md-5">
												<span class="fa fa-calendar so-icon"></span>
												<input type="text" class="form-control" ng-model="vmMod.obj.date" uib-datepicker-popup="{{vmMod.format}}" is-open="vmMod.open.start_date" datepicker-options="vmMod.dateOptions" close-text="Close" placeholder="{l}Start Date{endl}" show-button-bar="false" ng-click="vmMod.open.start_date = true" ng-change="vmMod.changeTime(vmMod.obj.date, vmMod.obj.dateHours, true)">
											</div>
										
											<div class="so-field col-md-4">
												<input type="time" ng-model="vmMod.obj.dateHours" ng-change="vmMod.changeTime(vmMod.obj.date,vmMod.obj.dateHours,true)">
											</div>
										</div>
									</div>
								</div>
								<div class="new_a_row">
									<label class="control-label col-sm-3 col-md-3 text-left">{l}End date{endl}</span></label>
									<div class="col-sm-9 col-md-9">
										<div class="row">
											<div class="so-field col-md-5">
												<span class="fa fa-calendar so-icon"></span>
												<input type="text" class="form-control" ng-model="vmMod.obj.end_d_meet" uib-datepicker-popup="{{vmMod.format}}" is-open="vmMod.open.end_d_meet" datepicker-options="vmMod.dateOptions" close-text="Close" placeholder="{l}End Date{endl}" show-button-bar="false" ng-click="vmMod.open.end_d_meet = true" ng-change="vmMod.changeTime(vmMod.obj.end_d_meet, vmMod.obj.dateEHours)">
											</div>
											
											<div class="so-field col-md-4">
												<input type="time" ng-model="vmMod.obj.dateEHours" ng-change="vmMod.changeTime(vmMod.obj.end_d_meet,vmMod.obj.dateEHours)">
											</div>
										</div>
									</div>
								</div>
								<div class="new_a_row">
									<label class="control-label col-sm-3 col-md-3 text-left">{l}Reminder{endl}</label>
									<div class="col-sm-9 col-md-9 act_pad">
										<selectize config='vmMod.reminderAutoCfg' options='vmMod.obj.reminder_dd' ng-model="vmMod.obj.reminder_id"></selectize>
									</div>
								</div>
								<div class="new_a_row">
									<label class="control-label col-sm-3 col-md-3 text-left">{l}Account{endl}</label>
									<div class="col-sm-9 col-md-9">
										<div class="so-field act_pad">
										
											<!-- <input type="text" class="form-control" ng-model="ls.obj.name" placeholder="Select Company" readonly> -->
											<selectize config='vmMod.accountAutoCfg' options='vmMod.accounts' ng-model="vmMod.obj.customer_id"></selectize>
										</div>
									</div>
								</div>
								<div class="new_a_row">
									<label class="control-label col-sm-3 col-md-3 text-left">{l}Contact{endl}</label>
									<div class="col-sm-9 col-md-9">						
										<div class="so-field act_pad">
									
											<selectize config='vmMod.contactAutoCfg' options='vmMod.contacts' ng-model="vmMod.obj.contact_ids"></selectize>
						
										</div>
									</div>
								</div>
								<div class="new_a_row">
									<label class="control-label col-sm-3 col-md-3 text-left">{l}Assign to{endl}</label>
									<div class="col-sm-9 col-md-9">
										<div class="so-field act_pad">
											<selectize config='vmMod.assignAutoCfg' options='vmMod.obj.user_auto' ng-model="vmMod.obj.user_to_id"></selectize>
										</div>
									</div>
								</div>
								<div class="new_a_row">
									<label class="control-label col-sm-3 col-md-3 text-left">{l}Location{endl}</label>
									<div class="col-sm-9 col-md-9">
										<div class="so-field act_pad">
											<input type="text" class="form-control" ng-model="vmMod.obj.location_meet" placeholder="{l}Location{endl}" >
										</div>
									</div>
								</div>
								<div class="new_a_row" ng-class="{ 'form-group_alert' : activity_form.log_comment.$invalid && !activity_form.log_comment.$pristine }">
									<label class="control-label col-sm-3 col-md-3 text-left">{l}Description{endl} <span class="mandatory-label">*</span></label>
									<div class="col-sm-9 col-md-9">
										<textarea ui-tinymce="vmMod.tinymceOptions_new" class="variable_assign_new" ng-model="vmMod.obj.log_comment" name="log_comment"></textarea>
										<div class="alert alert-sm alert-danger" ng-if="activity_form.log_comment.$invalid && vmMod.alertsField.log_comment">{{vmMod.alertsField.log_comment}}</div>
									</div>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>

</div>
<div class="modal-footer">
	<button ng-if="vmMod.obj.allow_delete" type="button" class="btn btn-danger act_mod" data-dismiss="modal" ng-click="vmMod.delete()" confirm="{l}Are you sure, you want delete this entry?{endl}">{l}Delete{endl}</button>
	<button type="button" class="btn btn-plain" data-dismiss="modal" ng-click="vmMod.cancel()">{l}Cancel{endl}</button>
	<button type="button" class="btn btn-default" ng-click="vmMod.save(activity_form)">{l}Save{endl}</button>
</div>