<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="vmMod.cancel()"><span aria-hidden="true">&times;</span></button>
  <h4 class="modal-title">{l}Edit Customer{endl}</h4>
</div>
<div class="modal-body">
  <ul class="nav nav-tabs tabs-default" ng-if="!vmMod.is_add">
    <li role="presentation" ng-class="{ 'active':vmMod.obj.add_customer }" ng-click="vmMod.activeteTab('add_customer')"><a href="#details" aria-controls="details" data-toggle="tab">{l}Company Details{endl}</a></li>
    <li role="presentation" ng-class="{ 'active':vmMod.obj.add_contact }" ng-click="vmMod.activeteTab('add_contact')" ><a href="#financial" aria-controls="financial" data-toggle="tab" >{l}Financial{endl}</a></li>
  </ul>
  <div class="tab-content">
    <div class="tab-pane fade" ng-class="{ 'in active':vmMod.obj.add_customer }" id="details" >
      <div class="section-content">
        <div uib-alert ng-repeat="alert in vmMod.alerts" type="{{alert.type}}" close="vmMod.alerts.splice($index, 1);" dismiss-on-timeout="5000" ng-class="['alert-' + (alert.type || 'warning') ]">{{alert.msg}}</div>
        <form class="form-horizontal text-left" name="addCustomer" novalidate>
              <div class="row">
              	<div class="col-sm-6">
              <div class="form-group " ng-class="{ 'form-group_alert' : addCustomer.name.$invalid && !addCustomer.name.$pristine }">
                <label for="inputName" class="col-sm-4 control-label">{l}Name{endl} <span class="mandatory-label">*</span></label>
                <div class="col-sm-8">
                  <input type="text" class="form-control" name="name" placeholder="{l}Name{endl}" ng-model="vmMod.obj.name" id="inputName" required >
                  <div class="alert alert-sm alert-danger" ng-if="addCustomer.name.$invalid && vmMod.alertsField.name">{{vmMod.alertsField.name}}</div>
                </div>
              </div>

              
            
              <div ng-repeat="item in vmMod.obj.linesObj">
              
                <div class="form-group" ng-if="!item.is_custom" ng-class="{'form-group_alert' : addCustomer.our_reference.$invalid && !addCustomer.our_reference.$pristine && item.model == 'our_reference', 'hide':item.model =='firstname' && vmMod.obj.type=='0'}">
                  <label for="" class="col-sm-4 control-label">{{item.label}}</label>
                  <!-- Select without table -->
                  <div class="col-sm-8" ng-if="!item.has_table && item.is_dd">
                    <selectize config="vmMod[item.selectize_config]" options="vmMod.auto.options[item.selectize_options]" ng-model="vmMod.obj[item.model]"></selectize>
                  </div>
                  <!-- Select with table -->
                  <div class="col-sm-8" ng-if="item.has_table && item.is_dd && item.model !='c_type'">
                    <selectize config="vmMod[item.selectize_config]" options="vmMod[item.selectize_options]"
                    ng-model="vmMod.obj[item.model]" table="{{item.table}}" model="{{item.model}}"></selectize>
                  </div>
                
                  <!-- Custom select with table for Type of relationship-->
                  <div class="col-sm-8" ng-if="item.has_table && item.is_dd && item.model =='c_type'">
                    <selectize config="vmMod[item.selectize_config]" options="vmMod[item.selectize_options]"
                    ng-model="vmMod.obj[item.model]" table="{{item.table}}" model="{{item.model}}"></selectize>
                  </div>

                  <!-- Normal Inputs -->
                  <div class="col-sm-8" ng-if="!item.is_dd && !item.is_checkbox"
                  ng-class="{'col-sm-3':item.model == 'comp_size'}">
                    <input type="text" class="form-control" name="{{item.model}}" ng-model="vmMod.obj[item.model]">
                    <div class="alert alert-sm alert-danger" ng-if="addCustomer.our_reference.$invalid && vmMod.alertsField.our_reference && item.model == 'our_reference'">{{vmMod.alertsField.our_reference}}</div>
                  </div>

                  <!-- Checkbox Inputs -->
                  <div class="col-sm-8 checkbox checkbox-primary" ng-if="!item.is_dd && item.is_checkbox"
                  >
                    <input type="checkbox" ng-model="vmMod.obj[item.model]" id="{{item.if_condition}}_{{item.model}}" value="1">
                    <label for="{{item.if_condition}}_{{item.model}}" ng-if="item.is_checkbox"></label>
                  </div>

                </div>  

                
                    <div class="form-group" ng-if="item.is_custom">
                      <label for="" class="col-sm-4 control-label" >{{item.label}}</label>
                        <div class="col-sm-8" ng-if="item.normal_input">
                          <input type="text" name="extra[item.field_id]" value="item.value" ng-model="vmMod.obj.extra[item.field_id]" class="form-control" maxlength="30" />
                        </div>
                        <div class="col-sm-8" ng-if="!item.normal_input">
                          <selectize config="vmMod.extraCfg" options="vmMod.extra[item.field_id]" id="extra_{{item.field_id}}" ng-model="vmMod.obj.extra[item.field_id]" table="customer_extrafield_dd" model="extra" extra="{{item.field_id}}" >
                          </selectize>
                        </div>
                    </div>
                  

                </div>
                
                  
              
                

            

            <!--   <div class="form-group ">
                <label for="" class="col-sm-4 control-label">{l}Type of relationship{endl}</label>
                <div class="col-sm-8">
                  <selectize config='vmMod.salesCfg' options='vmMod.customer_type' ng-model="vmMod.obj.c_type" id="custandcont" table="customer_type" model='c_type'></selectize>
                </div>  
              </div>
              <div class="form-group">
                <label for="" class="col-sm-4 control-label">{l}Account Manager{endl}</label>
                <div class="col-sm-8">
                  <selectize config='vmMod.customerTypeCfg' options='vmMod.auto.options.accountManager' ng-model="vmMod.obj.user_id" id="custandcont" ></selectize>
                </div>
              </div>
              <div class="form-group">
                <label for="" class="col-sm-4 control-label">{l}Sales Representative{endl}</label>
                <div class="col-sm-8">
                   <selectize config='vmMod.salesCfg' options='vmMod.sales_rep' ng-model="vmMod.obj.sales_rep" id="custandcont" table="sales_rep" model="sales_rep"></selectize>
                </div>
              </div>
              <div class="form-group">
                <label for="" class="col-sm-4 control-label">{l}Commercial Name{endl}</label>
                <div class="col-sm-8">
                  <input type="text" class="form-control" name="commercial_name" ng-model="vmMod.obj.commercial_name"  >
                </div>
              </div>
              <div class="form-group">
                <label for="" class="col-sm-4 control-label">{l}Supplier{endl}</label>
                <div class="col-sm-8 checkbox checkbox-primary">
                  <input type="checkbox" id="checkbox_supplier" ng-model="vmMod.obj.is_supplier" value="1">
                  <label for="checkbox_supplier"></label>
                </div>
              </div>
              <div class="form-group">
                <label for="" class="col-sm-4 control-label">{l}Company Size{endl}</label>
                <div class="col-sm-3">
                  <input type="text" class="form-control" name="comp_size" ng-model="vmMod.obj.comp_size"  >
                </div>
              </div>
              <div class="form-group">
                <label for="" class="col-sm-4 control-label">{l}Lead Source{endl}</label>
                <div class="col-sm-8">
                  <selectize config="vmMod.salesCfg" options="vmMod.customer_lead_source" ng-model="vmMod.obj.lead_source" table="customer_lead_source" model="lead_source" ></selectize>   
                </div>
              </div>
              <div class="form-group">
                <label for="" class="col-sm-4 control-label">{l}Legal Type{endl}</label>
                <div class="col-sm-8">
                  <selectize config="vmMod.salesCfg" options="vmMod.legal_type" ng-model="vmMod.obj.legal_type" table="customer_legal_type" model="legal_type" ></selectize> 
                </div>
              </div>
              <div class="form-group">
                <label for="" class="col-sm-4 control-label">{l}Our Reference{endl}</label>
                <div class="col-sm-8">
                  <input type="text" class="form-control" name="our_reference" ng-model="vmMod.obj.our_reference"  >
                </div>
              </div>
              <div class="form-group">
                <label for="" class="col-sm-4 control-label">{l}Activity Sector{endl}</label>
                <div class="col-sm-8 ">
                  <selectize config="vmMod.salesCfg" options="vmMod.customer_sector" ng-model="vmMod.obj.sector" table="customer_sector" model="sector" ></selectize>
                </div>
              </div>
              <div class="form-group">
                <label for="" class="col-sm-4 control-label">{l}Activity{endl}</label>
                <div class="col-sm-8">
                  <selectize config="vmMod.salesCfg" options="vmMod.customer_activity" ng-model="vmMod.obj.activity" table="customer_activity" model="activity" ></selectize>
                </div>
              </div> -->
                </div>
              	<div class="col-sm-6">
                  <div class="panel panel-primary">
                    <div class="panel-body">
                      <div class="form-group">
                        <label for="" class="col-sm-4 control-label text-muted">{l}Street{endl}</label>
                        <div class="col-sm-8">
                          <textarea class="form-control" rows="2" ng-model="vmMod.obj.address"></textarea>
                        </div>
                      </div>
                      <div class="form-group">
                        <label for="" class="col-sm-4 control-label text-muted">{l}Zip{endl}</label>
                        <div class="col-sm-4">
                          <input type="text" class="form-control" name="website" ng-model="vmMod.obj.zip"  >
                        </div>
                      </div>
                      <div class="form-group">
                        <label for="" class="col-sm-4 control-label text-muted">{l}City{endl}</label>
                        <div class="col-sm-8">
                          <input type="text" class="form-control" name="website" ng-model="vmMod.obj.city"  >
                        </div>
                      </div>
                      <div class="form-group form-group-end">
                        <label for="" class="col-sm-4 control-label text-muted">{l}Country{endl}</label>
                        <div class="col-sm-8">
                          <select class="form-control" ng-model="vmMod.obj.country_id">
                            <option ng-repeat="option in vmMod.obj.country_dd track by option.id" value="{{option.id}}">{{option.name}}</option>
                          </select>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- <div class="form-group">
                    <label for="" class="col-sm-4 control-label">{l}Language{endl}</label>
                    <div class="col-sm-8">
                      <selectize config="vmMod.salesCfg" options="vmMod.customer_contact_language" ng-model="vmMod.obj.language" table="customer_contact_language" model="language" ></selectize>
                    </div>
                  </div> -->
                  <div class="form-group">
                    <label for="" class="col-sm-4 control-label">{l}Phone{endl}</label>
                    <div class="col-sm-8">
                      <input type="text" class="form-control" name="comp_phone" ng-model="vmMod.obj.comp_phone"  >
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="" class="col-sm-4 control-label">{l}Fax{endl}</label>
                    <div class="col-sm-8">
                      <input type="text" class="form-control" name="comp_fax" ng-model="vmMod.obj.comp_fax"  >
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="" class="col-sm-4 control-label">{l}Company email{endl}</label>
                    <div class="col-sm-8">
                      <input type="text" class="form-control" name="c_email" ng-model="vmMod.obj.c_email"  >
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="" class="col-sm-4 control-label">{l}Website{endl}</label>
                    <div class="col-sm-8">
                      <input type="text" class="form-control" name="website" ng-model="vmMod.obj.website"  generate-link="">
                    </div>
                  </div>
                  <!-- <div class="form-group">
                    <label for="" class="col-sm-4 control-label">{various1_text}</label>
                    <div class="col-sm-8">
                      <selectize config="vmMod.salesCfg" options="vmMod.various1" ng-model="vmMod.obj.various1" table="customer_various1" model="various1" ></selectize>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="" class="col-sm-4 control-label">{various2_text}</label>
                    <div class="col-sm-8">
                      <selectize config="vmMod.salesCfg" options="vmMod.various2" ng-model="vmMod.obj.various2" table="customer_various2" model="various2" ></selectize>
                    </div>
                  </div> -->
                </div>
              </div><!-- /.row -->



         <!--  <div class="row">
            {loop:extra_field}
            <div class="col-sm-6">
              <div class="form-group">
                <label for="" class="col-sm-4 control-label">{label}</label>
                {if:normal_input}
                <div class="col-sm-8">
                  <input type="text" name="extra[{field_id}]" value="{value}" ng-model="vmMod.obj.extra[{field_id}]" class="form-control" maxlength="30" />
                {else}
                <div class="col-sm-8">
                  <selectize config="vmMod.extraCfg" options="vmMod.extra[{field_id}]" id="extra_{field_id}" ng-model="vmMod.obj.extra[{field_id}]" table="customer_extrafield_dd" model="extra" extra="{field_id}" ></selectize>
                {end}
                </div>
              </div>
            </div>
            {endloop}
          </div> -->
        </form>
      </div>
    </div>
    <div class="tab-pane fade" ng-class="{ 'in active':vmMod.obj.add_contact }" id="financial" ng-show="!vmMod.is_add" >
      <div class="section-content">
      <div uib-alert ng-repeat="alert in vmMod.alerts" type="{{alert.type}}" close="vmMod.alerts.splice($index, 1);" dismiss-on-timeout="5000" ng-class="['alert-' + (alert.type || 'warning') ]">{{alert.msg}}</div>
        <form class="form-horizontal text-left" name="addContact" novalidate>
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group" ng-if="vmMod.is_siret">
                <label for="" class="col-sm-4 control-label">{l}SIRET{endl}</label>
                <div class="col-sm-8">
                  <input type="text" class="form-control" name="siret" ng-model="vmMod.obj.siret" >
                </div>
              </div>
              <div class="form-group">
                <label for="" class="col-sm-4 control-label">{l}Company Registration Number{endl}</label>
                <div class="col-sm-8">
                  <input type="text" class="form-control" name="comp_reg_number" ng-model="vmMod.obj.comp_reg_number" >
                </div>
              </div>
              <div class="form-group">
                <label for="" class="col-sm-4 control-label">{l}VAT number{endl}</label>
                <div class="col-sm-8">
                  <!-- <input type="text" class="form-control" name="btw_nr" ng-model="vmMod.obj.btw_nr" > -->
                  <div class="input-group">
                    <input type="text" class="form-control" ng-model="vmMod.obj.btw_nr">
                    <span class="input-group-addon" >
                      <i class="glyphicon glyphicon-refresh text-muted fa-spin fa-fw" ng-if="vmMod.checking"></i>
                      <i class="glyphicon glyphicon-ok text-success" ng-if="vmMod.isOk"></i>
                      <i class="glyphicon glyphicon-ban-circle text-danger" ng-if="vmMod.isFalse"></i>
                      <i class="glyphicon top_trends_icon" ng-if="vmMod.isTrends"><img src="images/trends_vat1.png" alt="" /></i>
                    </span>
                  </div>
                  <div uib-alert ng-if="vmMod.showViesUnavailable" class="alert alert-danger" type="danger">{l}VIES service unavailable at this moment.{endl}</div>
                </div>
                <label for="" class="col-sm-8 col-sm-offset-4 control-label">
                  <a href="#" class="btn btn-sm btn-tertiary" ng-click="vmMod.checkVat()">{l}Check VAT Number{endl}</a>
                </label>
              </div>
              <div class="form-group">
                <label for="" class="col-sm-4 control-label">{l}VAT Regime{endl}</label>
                <div class="col-sm-8">
                  <select class="form-control" ng-model="vmMod.obj.vat_regime_id">
                    <option value="0">{l}Select type{endl}</option>
                    <option ng-repeat="option in vmMod.vat_regim_dd track by option.id" value="{{option.id}}">{{option.name}}</option>
                  </select>
                </div>
              </div>
              <!-- <div class="form-group">
                <label for="" class="col-sm-4 control-label">{l}VAT{endl}</label>
                <div class="col-sm-4">
                  <select class="form-control" ng-model="vmMod.obj.vat_id" ng-if="vmMod.obj.no_vat=='0'">
                    <option value="0">{l}Select type{endl}</option>
                    <option ng-repeat="option in vmMod.vat_dd track by option.id" value="{{option.id}}">{{option.name}}</option>
                  </select>
                    <a href="#" class="btn btn-sm btn-tertiary" ng-click="vmMod.obj.no_vat='0'"  ng-if="vmMod.obj.no_vat=='1'">{l}Add VAT{endl}</a>
                </div>
                <div class="col-sm-4" ng-if="vmMod.obj.no_vat=='0'">
                    <a href="#" class="btn btn-sm btn-tertiary" ng-click="vmMod.obj.no_vat='1'">{l}Remove VAT{endl}</a>
                </div>
              </div> -->
              <div class="form-group">
                <label for="" class="col-sm-4 control-label">{l}Payment Term{endl} </label>
                <div class="col-sm-4">
                	<div class="input-group">
                      <input type="text" class="form-control" name="payment_term" ng-model="vmMod.obj.payment_term">
                      <span class="input-group-addon">{l}days{endl}</span>
                    </div>
                </div>
              </div>
              <div class="form-group">
                <label for="" class="col-sm-4 control-label">{l}Payment term type{endl} </label>
                <div class="col-sm-8 radio text-muted">
                  <label>
                    <input type="radio"  name="payment_term_start" ng-model="vmMod.obj.payment_term_start" value="1" >  {l}Payment term(days) from the invoice date{endl}
                  </label>
                </div>
                <div class="col-sm-8 col-sm-offset-4 radio text-muted">
                  <label>
                    <input type="radio"  name="payment_term_start" ng-model="vmMod.obj.payment_term_start" value="2" >  {l}Payment term(days) from the first day of the next month{endl}
                  </label>
                </div>
              </div>
              <div class="form-group">
                <label for="" class="col-sm-4 control-label">{l}Invoice email{endl} </label>
                <div class="col-sm-8 radio text-muted">
                  <label>
                    <input type="radio"  name="invoice_email_type" ng-model="vmMod.obj.invoice_email_type" value="1">  {l}Contact select on document{endl}
                  </label>
                </div>
                <div class="col-sm-8 col-sm-offset-4 radio text-muted">
                  <label>
                    <input type="radio"  name="invoice_email_type" ng-model="vmMod.obj.invoice_email_type" value="2">  {l}Specific email for this company{endl}
                  </label>
                </div>
              </div>
              <div class="form-group" ng-show="vmMod.obj.invoice_email_type==2">
                <label for="" class="col-sm-4 control-label">{l}Email address for invoices{endl} </label>
                <div class="col-sm-8">
                  <input type="text" class="form-control" name="invoice_email" ng-model="vmMod.obj.invoice_email" >
                </div>
              </div>
              <div class="form-group" ng-show="vmMod.obj.invoice_email_type==2">
                <label for="" class="col-sm-4 control-label">{l}Invoice at attention of{endl} </label>
                <div class="col-sm-8">
                  <input type="text" class="form-control" name="attention_of_invoice" ng-model="vmMod.obj.attention_of_invoice" >
                </div>
              </div>
              <!-- <div class="form-group">
                <label for="" class="col-sm-4 control-label">{l}Invoice email{endl} </label>
                <div class="col-sm-8">
                  <input type="text" class="form-control" name="invoice_email" ng-model="vmMod.obj.invoice_email" >
                </div>
              </div>
              <div class="form-group">
                <label for="" class="col-sm-4 control-label">{l}Invoice at attention of{endl} </label>
                <div class="col-sm-8">
                  <input type="text" class="form-control" name="attention_of_invoice" ng-model="vmMod.obj.attention_of_invoice" >
                </div>
              </div> -->
              <div class="form-group" ng-if="vmMod.obj.creation_date">
                <label for="" class="col-sm-4 control-label">{l}Creation Date{endl} </label>
                <div class="col-sm-8">
                  <label class="control-label text-muted">{{vmMod.obj.creation_date}} </label>
                </div>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label for="" class="col-sm-4 control-label">{l}Bank Name{endl}</label>
                <div class="col-sm-8">
                  <input type="text" class="form-control" name="bank_name" ng-model="vmMod.obj.bank_name" >
                </div>
              </div>
              <div class="form-group">
                <label for="" class="col-sm-4 control-label">{l}BIC Code{endl}</label>
                <div class="col-sm-8">
                  <input type="text" class="form-control" name="bank_bic_code" ng-model="vmMod.obj.bank_bic_code" >
                </div>
              </div>
              <div class="form-group">
                <label for="" class="col-sm-4 control-label">{l}IBAN{endl}</label>
                <div class="col-sm-8">
                  <input type="text" class="form-control" name="bank_iban" ng-model="vmMod.obj.bank_iban" >
                </div>
              </div>
              <!-- <div class="form-group">
                <label for="" class="col-sm-4 control-label">{l}Discount{endl}</label>
                <div class="col-sm-4">
                  <div class="input-group">
                    <input type="text" class="form-control" name="fixed_discount" ng-model="vmMod.obj.fixed_discount" display-nr >
                    <span class="input-group-addon" >%</span>
                  </div>
                </div>
                <div class="col-sm-4 checkbox checkbox-primary">
                  <input type="checkbox" id="checkbox_discount1" name="apply_fix_disc" ng-model="vmMod.obj.apply_fix_disc">{l}Apply Discount{endl}
                  <label for="checkbox_discount1">
                    
                  </label>
                </div>
              </div>
              <div class="form-group">
                <label for="" class="col-sm-4 control-label">{l}Line Discount{endl}</label>
                <div class="col-sm-4">
                  <div class="input-group">
                    <input type="text" class="form-control" name="line_discount" ng-model="vmMod.obj.line_discount" display-nr >
                    <span class="input-group-addon" >%</span>
                  </div>
                </div>
                <div class="col-sm-4 checkbox checkbox-primary">
                  <input type="checkbox" id="checkbox_discount2" name="apply_fix_disc" ng-model="vmMod.obj.apply_line_disc">{l}Apply Discount{endl}
                  <label for="checkbox_discount2">
                  </label>
                </div>
              </div> -->
              <div class="form-group">
                <label for="" class="col-sm-4 control-label">{l}Currency{endl}</label>
                <div class="col-sm-8">
                  <select class="form-control" ng-model="vmMod.obj.currency_id">
                    <option ng-repeat="option in vmMod.currency_dd track by option.id" value="{{option.id}}" ng-bind-html="option.name"></option>
                  </select>
                </div>
              </div>
              <div class="form-group">
                <label for="" class="col-sm-4 control-label">{l}Price Category{endl}</label>
                <div class="col-sm-8">
                  <select class="form-control" ng-model="vmMod.obj.cat_id">
                    <option value="0">{l}Select type{endl}</option>
                    <option ng-repeat="option in vmMod.cat_dd track by option.id" value="{{option.id}}">{{option.name}}</option>
                  </select>
                </div>
              </div>
              <!-- <div class="form-group">
                <label for="" class="col-sm-4 control-label">{l}Document Language{endl}</label>
                <div class="col-sm-8">
                  <select class="form-control" ng-model="vmMod.obj.internal_language">
                    <option value="0">{l}Select type{endl}</option>
                    <option ng-repeat="option in vmMod.lang_dd track by option.id" value="{{option.id}}">{{option.name}}</option>
                  </select>
                </div>
              </div> -->
              <div class="form-group">
                <label for="" class="col-sm-4 control-label">{l}Multiple Identity{endl}</label>
                <div class="col-sm-8">
                  <select class="form-control" ng-model="vmMod.obj.identity_id">
                    <option value="0">{l}Select type{endl}</option>
                    <option ng-repeat="option in vmMod.multiple_dd track by option.id" value="{{option.id}}">{{option.name}}</option>
                  </select>
                </div>
              </div>
              <div class="form-group">
                <label for="" class="col-sm-4 control-label">{l}External id{endl}</label>
                <div class="col-sm-8">
                  <input type="text" class="form-control" name="external_id" ng-model="vmMod.obj.external_id" >
                </div>
              </div>
            </div>
            <div class="col-sm-12">
              <div class="form-group">
                <label for="" class="col-sm-2 control-label">{l}Invoice notes 2{endl}</label>
                <div class="col-sm-10">
                  <textarea class="form-control" rows="3"  ng-model="vmMod.obj.invoice_note2" ></textarea>
                </div>
              </div>
            </div>
            <div class="col-sm-12">
              <div class="form-group">
                <label for="" class="col-sm-2 control-label">{l}Delivery and dispatch notes{endl}</label>
                <div class="col-sm-10">
                  <textarea class="form-control" rows="3"  ng-model="vmMod.obj.deliv_disp_note" ></textarea>
                </div>
              </div>
            </div>
          </div>
          
        </form>
      </div>
    </div>
  </div>
</div>
<div class="modal-footer">
    <button class="btn btn-plain" type="button" ng-click="vmMod.cancel()">{l}Close{endl}</button>
    <button class="btn btn-default" type="button" ng-disabled="addCustomer.$invalid" ng-if="vmMod.obj.add_customer" ng-click="vmMod.ok(addCustomer)">{l}Save{endl}</button>
    <button class="btn btn-default" type="button" ng-disabled="addContact.$invalid" ng-if="vmMod.obj.add_contact" ng-click="vmMod.ok(addContact)">{l}Save{endl}</button>
</div>
