<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="vmMod.cancel()"><span aria-hidden="true">&times;</span></button>
  <h4 class="modal-title"> {l}Email Attachments{endl}</h4>
</div>
<div class="modal-body">
	<div class="col-sm-12 form-horizontal">
		<div class="form-group" ng-repeat="item in vmMod.obj.files">
			<label class="control-label col-sm-10 text-left"><a href="#" ng-click="vmMod.download(item)"><span ng-bind-html="item.filename"></span></a></label>
		</div>
	</div>
</div>
<div class="modal-footer">
	<button class="btn btn-plain" type="button" ng-click="vmMod.cancel()">{l}Close{endl}</button>
</div>