<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="vm.cancel()"><span aria-hidden="true">&times;</span></button>
  <h4 class="modal-title">{l}Two-step verification{endl}</h4>
</div>
<div class="modal-body">
    <div class="col-sm-12">
      <h3 class="text-center">{l}Scan with Google Authenticator application on your smartphone{endl}</h3>
      <div class="col-xs-12 text-center margin-top margin-bottom">
        <img ng-src="{{vm.obj.qr}}"/>
      </div>    
      <h3 class="text-center text-danger"><strong>{l}Omitting this will cause the next time you try to login to be unable to pass two-step verification{endl}</strong></h3>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-plain" type="button" ng-click="vm.cancel()">{l}Close{endl}</button>
</div>