<div class="col-md-12 trial-banner" ng-if="footer.is_trial">
    <span ng-if="footer.wizzard_complete" class="subscription-text">{l}Your demo account will expire in {endl} {{footer.days_left}} {l}days{endl}</span>
    <span ng-if="footer.HIDE_PAYMENT">
  <span ng-if="footer.wizzard_complete" class="subscription-text-link"><a href="" class="btn btn-default subs" ui-sref="{{footer.plan_go}}" title="{l}Click here to activate your subscription{endl}">
    {l}Upgrade now{endl}</a></span>
    </span>
    <!--<span class="helpdesk account-trial">
      <a href="https://support.akti.com" target="blank">{l}Akti Helpdesk{endl}: https://support.akti.com</a>
    </span>-->
</div>
<div class="footer" ng-if="isLoged">
    <div class="container">
        <div class="row">
            <div class="col-xs-6">
                <a href="{{footer.privacy}}" target="_blank">{l}Privacy Policy{endl}</a><br>
                <small>© <a href="https://app.akti.com">Akti</a> 2017 &nbsp;&nbsp;&nbsp; Version: 1.3.1267</small>
                <!--  <a href="{{footer}}" target="_blank">{l}Privacy Policy{endl}</a><br> -->
                <a href="http://myhelp.akti.com/"><img src="images/akti-knowledge-base.png"><small>{l}Help{endl}</small></a>
                <a href="http://support.akti.com/"><img src="images/akti-faq.png"><small>{l}Help{endl}</small></a>
            </div>
            <div class="col-xs-6 text-right">
                <!-- <a href="../pim/admin/index.php?do=misc-timesheet">Fill in your timesheet</a> -->
                <!-- <a href="" ui-sref="myaccount" title="{l}My Preferences{endl}">{l}My Preferences{endl}</a>
          <a href="" ui-sref="logout">{l}Logout{endl}</a> -->
                <small>Version: 1.0.492&nbsp;&nbsp;&nbsp;{l}copyright{endl} <a href="https://app.akti.com">Akti</a> 2017&nbsp;©</small>
            </div>
        </div>
    </div>
</div>
<!-- /.footer -->
<script src="js/akti-layout.js">
</script>