<body style="background-color: #f2f2f2;">
    <table style="margin: 40px auto; width:600px; border-collapse: collapse; border-spacing: 0; font: inherit;vertical-align: baseline; background-color: #fff;">
        <tbody>
          <tr style=" padding-bottom: 20px; background-color: #f2f2f2; text-align: center">
                    <td colspan="2" style="padding-bottom: 40px; text-align: center; width: 100%;  background-color: #f2f2f2;"><h1 style="text-align: center; width: 168px; height: auto; margin: 0 auto;"><a href="http://akti.com"><img src="{site_url}images/akti-logo.png" style="width: 150px; height: auto; margin: 0 auto;"></a></h1></td>
           </tr>
           <tr>
             <td style="padding: 25px;">{content}</td>
           </tr>
<!--            <tr style=" background-color: #fff;">
              <td colspan="2" style="text-align: center; width: 100%; background-color: #fff; padding-bottom: 25px; padding-top: 25px;"><span style="color: #333; font-size: 30px; margin-bottom: 50px;text-align: center;">{l}Hi{endl} {email}</span>,</td>
            </tr>
            <tr style=" background-color: #fff;">
              <td colspan="2" style="text-align: center; width: 100%; background-color: #fff;"><span style="color:#333;font-size:18px;text-align: center; margin-bottom: 15px; display:block;">{l}Click below to set up your account{endl}!</span></td>
            </tr>
            <tr style=" background-color: #fff;">
                <td colspan="2" style="text-align: center; width: 100%; background-color: #fff; padding-bottom: 60px; padding-top: 30px;">
                  <a href="{link}" target="blank" style="background-color: #f39200; padding-top:7px; padding-bottom: 7px; padding-left: 30px; padding-right: 30px; font-size: 18px; color: #fff; margin-top: 20px; cursor: pointer; border-radius: 5px; font-family: inherit; text-decoration: none; ">{l}Create your account{endl}</a>
                </td>
            </tr> 
            <tr style=" background-color: #fff;">
              <td colspan="2" style="text-align: center; width: 100%; background-color: #fff; padding-bottom: 15px;"><span style="color:#333;font-size:18px;text-align: center; margin-bottom: 15px; display:block;">{l}Enjoy your journey.{endl}</span></td>
            </tr>
            <tr style=" background-color: #fff;">
            <td colspan="2" style="text-align: center; width: 100%; background-color: #fff; padding-bottom: 15px;"><span style="color:#333;font-size:18px;text-align: center; margin-bottom: 15px; font-weight: bold;  display:block;">{l}The Akti Support Team{endl}</span></td>
            </tr> -->
              <!-- <tr style="background-color: #f2f2f2;">
           
                 <td colspan="2" style="padding-top: 40px; text-align: center; width: 100%;  background-color: #f2f2f2;">
                  
                  <a style="display: inline-block; text-align: center;" href="https://www.facebook.com/aktiNewsroom" target="_blank"><img style="width: 40px; height: 40px; margin:0 auto;" src="http://test.webandgo.be/akti-yoda/ioan/images/aktidarkfacebook.png"></a>
                  <a style="display: inline-block; text-align: center;" href="https://www.linkedin.com/company/akti" target="_blank"><img style="width: 40px; height: 40px; margin:0 auto;" src="http://test.webandgo.be/akti-yoda/ioan/images/aktidarklinkedin.png"></a>
                  <a style="display: inline-block; text-align: center;" href="https://twitter.com/aktiNewsroom" target="_blank"><img style="width: 40px; height: 40px; margin:0 auto;" src="http://test.webandgo.be/akti-yoda/ioan/images/aktidarktwitter.png"></a>
                  <a style="display: inline-block; text-align: center;" href="https://youtube.com/akti" target="_blank"><img style="width: 40px; height: 40px; margin:0 auto;" src="http://test.webandgo.be/akti-yoda/ioan/images/aktidarkyoutube.png"></a>
              </td>   
            </tr> -->
               <tr style="background-color: #f2f2f2;">
           
                 <td colspan="2" style="padding: 30px 0px 30px 20px; text-align: center; width: 100%;  background-color: #f2f2f2;">
                    <span style="display: block; font-size: 11px; color: #444;font-family: 'Open Sans', sans-serif;line-height: 1.34em;">Akti sa/nv - Kantersteen 10</span>
                    <span style="display: block; font-size: 11px; color: #444;font-family: 'Open Sans', sans-serif;line-height: 1.34em;">1000 - Brussels - Belgium</span>
                    <!-- <span style="display: block; font-size: 11px; color: #444;font-family: 'Open Sans', sans-serif;line-height: 1.34em;">+32 2 321 00 12</span> -->
                     <span style="display: block; font-size: 11px; color: #444;font-family: 'Open Sans', sans-serif;line-height: 1.34em; margin-top: 20px;">Ce message automatique est destine aux utilisateurs d'Akti.</span>
                </td>    
            </tr>
        
          </tbody>
    </table>
</body>



