<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="vm.cancel()"><span aria-hidden="true">&times;</span></button>
  <h4 class="modal-title">{l}Legal Information{endl}</h4>
</div>
<div class="modal-body">
	<div class="col-sm-12" ng-if="vm.obj.gdpr_action=='0'">
		<h4>{l}Following the new European privacy legislation (also known as the GDPR), Akti has updated its{endl} <a href="{{vm.obj.service_terms_url}}" class="text-link" target="_blank">{l}Terms of Service{endl}</a> {l}and{endl} <a href="{{vm.obj.privay_policy_url}}" target="_blank" class="text-link">{l}Privacy Policy{endl}</a>.</h4>
		<h4>{l}For information about how we use Cookies, see our{endl} <a href="{{vm.obj.cookie_url}}" class="text-link" target="_blank">{l}Cookie Policy{endl}</a>.</h4>  
	</div>
	<div class="col-sm-12" ng-if="vm.obj.gdpr_action=='2'">
		<h4>{l}Following the new European privacy legislation (also known as the GDPR), Akti has updated its Terms.{endl}</h4>
		<h4>{l}You didn't agree previously to the Terms which mean you can't use my.akti.com. Click "I agree" to accept the Terms or "Learn more" for more information.{endl}</h4>   
	</div>
</div>
<div class="modal-footer">
    <button class="btn btn-plain" type="button" ng-click="vm.learn_more()">{l}Learn more{endl}</button>
    <button class="btn btn-default" type="button" ng-click="vm.ok()">{l}I agree{endl}</button>
</div>