<div class="modal-header">
    <h3 class="modal-title">{l}Google calendar options{endl}</h3>
</div>
<div class="modal-body">
	<div class="row">
		<div class="col-xs-12 checkbox">
			<label>
			<input type="checkbox" name="" ng-change="vmMod.save()" ng-model="vmMod.item.outgoing"> {l}Allow outgoing syncronization{endl}</label>		
		</div>		
	</div>
	
</div>
<div class="modal-footer">
    <!-- <button class="btn btn-primary" type="button" ng-click="ok()">OK</button> -->
    <button class="btn btn-plain" type="button" ng-click="vmMod.cancel()">{l}Close{endl}</button>
</div>