<div ng-if="isLoged">
  <div class="container header_module" ng-if="show_settings.is_6 && main_menu[6] && (nextState == 'orders' || nextState == 'order_deliveries' || nextState == 'orders_deliver')">
    <div class="page-header">
      <div class="row">
            <div class="col-xs-8 col-sm-6">
              <h1>{l}Sales Orders{endl}</h1>
            </div>
            <div class="col-xs-4 col-sm-6 text-right" ng-if="show_settings.is_admin_order">
                <div class="dropdown new-settings">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-ellipsis-v"></i></button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                         <li class="dropdown-item" ng-class="{ 'current':menu.submenu == 'orders setting' }"><a go-to="" href="orderSettings/" state="orderSettings"><span class="fas fa-cog text-primary"></span> {l}Order Module{endl}</a></li>
                    </div>
                </div>
            </div>
      </div>
    </div>
    <div class="tabs-navigation">
        <ul class="nav nav-tabs nav_plus" role="tablist" ng-if="show_settings.is_6">
            <li ng-class="{ 'active':menu.submenu == 'orders' }">
                <a href="#orders" go-to="" state="orders">{l}Sales Orders{endl}</a>
                <div class="btn-group nav_inline">
                    <button type="button" class="btn btn-primary btn-add"  go-to="" state="order.edit" params='{ "order_id": "tmp", "buyer_id":"tmp" }'><span class="btn-add_icon"><span class="icon-bar"></span><span class="icon-bar-2"></span></span></button>
                </div>
            </li>
            <li ng-class="{ 'active':menu.submenu == 'order_deliveries' }">
                <a go-to="" href="order_deliveries/" state="order_deliveries">{l}Deliveries{endl}</a>
            </li>
            <li ng-class="{ 'active':menu.submenu == 'orders_deliver' }">
                <a go-to="" href="orders_deliver/" state="orders_deliver">{l}To be delivered{endl}</a>
            </li>
        </ul>
    </div>
  </div>  
  <div class="container header_module" ng-if="show_settings.is_4 && main_menu[4] && (nextState == 'invoices' || nextState == 'reminders' || nextState == 'recinvoices' || nextState == 'sepa' || nextState == 'payments')">
     <div class="page-header">
        <div class="row">
            <div class="col-xs-8 col-sm-6">
                <h1>{l}Sales Invoices{endl}</h1>
            </div>
            <div class="col-xs-4 col-sm-6 text-right" ng-if="show_settings.is_admin_invoice">
                  <div class="dropdown new-settings">
                      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-ellipsis-v"></i></button>
                      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <li class="dropdown-item" ng-if="show_settings.noteasy && show_settings.is_admin_invoice" ng-class="{ 'current':menu.submenu == 'import' }"><a go-to=""  href="import_invoices/" state="import_invoices"><i class="fas fa-download"></i> {l}Import{endl}</a></li>
                            <li class="dropdown-item" ng-if="show_settings.is_admin_invoice" ng-class="{ 'current':menu.submenu == 'invoices setting' }"><a go-to="" href="invoiceSettings/" state="invoiceSettings"><span class="fas fa-cog text-primary"></span> {l}Invoice Module{endl}</a> </li>
                      </div>
                  </div>
            </div>
        </div>
      </div><!-- /.page-header -->
      <div class="tabs-navigation"> 
        <ul class="nav nav-tabs nav_plus" role="tablist" ng-if="show_settings.is_4">
            <li ng-class="{ 'active':menu.submenu == 'invoices' && !invoice_tab,'uo-quick_add-show': show.quickAdd }">
                <a ng-click="setInvoiceTab('')" href="#invoices" go-to="" state="invoices" params='{"tab": "invoices" }'>{l}Invoices{endl}</a>
                <div class="btn-group" uib-dropdown uib-dropdown-toggle >
                <button type="button" class="btn btn-primary btn-add dropdown-toggle quick_add"  ><span class="btn-add_icon"><span class="icon-bar"></span><span class="icon-bar-2"></span></span></button>
                <ul class="dropdown-menu dropdown-menu-left" uib-dropdown-menu>
                <li><a ui-sref="invoice.edit({'invoice_id': 'tmp', 'type':'0'})"><i class="far fa-file-alt"></i> {l}Invoice{endl}</a></li>
                <li><a ui-sref="invoice.edit({'invoice_id': 'tmp', 'type':'2'})"><i class="far fa-file-alt"></i> {l}Credit Invoice{endl}</a></li>
                <li><a ui-sref="invoice.edit({'invoice_id': 'tmp', 'type':'1'})"><i class="far fa-file-alt"></i> {l}Proforma Invoice{endl}</a></li>
                <li ng-if="show_settings.unique_id == 'salesassist_2' || show_settings.unique_id == '0561881e_90e4_ed68_616f5472328b'"><a ui-sref="invoice.edit({'invoice_id': 'tmp', 'type':'3'})"><i class="far fa-file-alt"></i> {l}Invoice for international activities{endl}</a></li>
                <li ng-if="show_settings.unique_id == 'salesassist_2' || show_settings.unique_id == '0561881e_90e4_ed68_616f5472328b'"><a ui-sref="invoice.edit({'invoice_id': 'tmp', 'type':'4'})"><i class="far fa-file-alt"></i> {l}Credit Invoice for international activities{endl}</a></li>
                </ul>
                </div>
                </li>
            <li ng-if="show_settings.not_easyinv_subscription && show_settings.not_easy_invoice_diy" ng-class="{ 'active':menu.submenu == 'reminders' }">
                <a go-to="" href="reminders/" state="reminders">{l}Reminders{endl}</a>
            </li>
            <li ng-if="show_settings.not_easyinv_subscription  && show_settings.not_easy_invoice_diy" ng-class="{ 'active':menu.submenu == 'recinvoices' }">
                <a go-to="" href="recinvoices/" state="recinvoices">{l}Recurring Invoices{endl}</a>
                <button type="button" class="btn btn-primary btn-add"  ui-sref="recinvoice.edit({'recurring_invoice_id': 'tmp'})" ><span class="btn-add_icon"><span class="icon-bar"></span><span class="icon-bar-2"></span></span></button>
            </li>
            <li ng-if="show_settings.not_easyinv_subscription && show_settings.show_sepa  && show_settings.not_easy_invoice_diy" ng-class="{ 'active':menu.submenu == 'sepa' }">
                <a go-to="" href="sepa/" state="sepa">{l}SEPA{endl}</a>
            </li>
            <li ng-if="show_settings.not_easyinv_subscription  && show_settings.not_easy_invoice_diy" ng-class="{ 'active':menu.submenu == 'payments' }">
                <a go-to="" href="payments/" state="payments">{l}Payments{endl}</a>
            </li>
            <li ng-if="show_settings.show_deliveries  && show_settings.not_easy_invoice_diy" ng-class="{ 'active':invoice_tab=='deliveries' }">
                <a ng-click="setInvoiceTab('deliveries')" href="deliveries" go-to="" state="invoices" params='{"tab": "deliveries" }'>{l}Deliveries{endl} <span ng-if="nr_show"> <i class="fa fa-spinner fa-spin fa-1x fa-fw"></i></span><span ng-if="!nr_show"> <span ng-bind-html="amount_o"></span></span></a>
            </li>
            <li ng-if="show_settings.show_projects  && show_settings.not_easy_invoice_diy" ng-class="{ 'active':invoice_tab=='projects' }">
                <a ng-click="setInvoiceTab('projects')" href="projects" go-to="" state="invoices" params='{"tab": "projects" }'>{l}Timetracker{endl} <span ng-if="nr_show"> <i class="fa fa-spinner fa-spin fa-1x fa-fw" ng-if="nr_show"></i></span><span ng-if="!nr_show"> <span ng-bind-html="total_amount_p" ng-if="!nr_show"></span></span>
                </a>
            </li>
            <li ng-if="show_settings.show_interventions  && show_settings.not_easy_invoice_diy" ng-class="{ 'active':invoice_tab=='interventions' }">
                <a ng-click="setInvoiceTab('interventions')" href="interventions" go-to="" state="invoices" params='{"tab": "interventions" }'>{l}Interventions{endl} <span ng-if="nr_show"> <i class="fa fa-spinner fa-spin fa-1x fa-fw" ng-if="nr_show"></i></span><span ng-if="!nr_show"> <span ng-bind-html="amount_s" ng-if="!nr_show"></span></span>
                </a>
            </li>
        </ul>
      </div>
  </div>
  <div class="container header_module" ng-if="show_settings.is_18 && main_menu[18] && (nextState == 'report_catalogue' || nextState == 'report_catalogue_invoices' || nextState=='report_quotes' || nextState=='report_orders' || nextState=='report_p_orders' || nextState=='report_projects' || nextState=='report_invoices' || nextState=='report_client_history')">
      <div class="page-header">
        <div class="row">
            <div class="col-sm-12">
                <h1>{l}Insights{endl}</h1>
            </div>
        </div>
      </div><!-- /.page-header -->
      <div class="tabs-navigation">
        <ul class="nav nav-tabs" role="tablist" ng-if="show_settings.is_18">
            <li ng-if="show_settings.showcatalog" ng-class="{ 'active':menu.submenu == 'report_catalogue' }">
                <a go-to="" href="report_catalogue/" state="report_catalogue">{l}Catalog{endl}</a>
            </li>
            <li ng-if="show_settings.showcataloginv" ng-class="{ 'active':menu.submenu == 'report_catalogue_invoices' }">
                <a go-to="" href="report_catalogue_invoices/" state="report_catalogue_invoices">{l}Catalogue (based on invoices){endl}</a>
            </li>
            <li ng-if="show_settings.is_5 && show_settings.not_easy_invoice_diy" ng-class="{ 'active':menu.submenu == 'report_quotes' }">
                <a go-to="" href="report_quotes/" state="report_quotes">{l}Quotes{endl}</a>
            </li>
            <li ng-if="show_settings.is_6" ng-class="{ 'active':menu.submenu == 'report_orders' }">
                <a go-to="" href="report_orders/" state="report_orders">{l}Orders{endl}</a>
            </li>
            <li ng-if="show_settings.is_14" ng-class="{ 'active':menu.submenu == 'report_p_orders' }">
                <a go-to="" href="report_p_orders/" state="report_p_orders">{l}Purchase Orders{endl}</a>
            </li>
            <li ng-if="show_settings.is_3" ng-class="{ 'active':menu.submenu == 'report_projects' }">
                <a go-to="" href="report_projects/" state="report_projects">{l}Projects{endl}</a>
            </li>
            <li ng-if="show_settings.is_4" ng-class="{ 'active':menu.submenu == 'report_invoices' }">
                <a go-to="" href="report_invoices/" state="report_invoices">{l}Invoices{endl}</a>
            </li>
            <li ng-if="show_settings.is_4" ng-class="{ 'active':menu.submenu == 'report_client_history' }">
                <a go-to="" href="report_client_history/" state="report_client_history">{l}Client History{endl}</a>
            </li>
        </ul>
      </div>
  </div>
</div>

