<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="vm.cancel()"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title">{l}Files and pictures{endl}</h4>
</div>
<div class="modal-body">
    <div class="loading_wrap loading_alt hidden">
        <div class="loading"></div>
        <div class="spinner"></div>
    </div>
    <!-- <div uib-alert ng-repeat="alert in vm.alerts" type="{{alert.type}}" close="vm.alerts.splice($index, 1);" dismiss-on-timeout="3500" ng-class="['alert-' + (alert.type || 'warning') ]">{{alert.msg}}</div> -->
    <div class="col-sm-12">
        <h4><strong>{l}Files{endl}</strong></h4>
        <div uib-alert type="notice" class="alert-warning" ng-if="!vm.item.dropbox.dropbox_files.length">{l}No data to display{endl}</div>
        <table class="table active_rows orderTable" ng-if="vm.item.dropbox.dropbox_files.length">
            <thead>
                <tr>
                    <th class="col-md-1 col-sm-1 text-center">{l}Link{endl}</th>
                    <th class="col-md-10 col-sm-10">{l}File{endl}</th>
                    <th class="col-md-1 col-sm-1"></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in vm.item.dropbox.dropbox_files">
                    <td class="text-center"><a href="{{item.down_file_link}}" target="_blank"><i class="fa fa-amazon" aria-hidden="true"></i></a></td>
                    <td>{{item.name}}</td>
                    <td class="table_actions">
                        <div class="btn-group" uib-dropdown>
                            <button type="button" class="btn btn-plain dropdown-toggle" uib-dropdown-toggle>
	                   <span class="caret"></span>
	                </button>
                            <ul class="dropdown-menu dropdown-menu-right" uib-dropdown-menu>
                                <li class="dropdown-header">{l}Action{endl}</li>
                                <li>
                                    <a href="#" ng-click="vm.deleteDropFile($index)" confirm="{l}Are you sure, you wanna delete this entry?{endl}"><span class="fas fa-trash-alt text-primary"></span> {l}Delete{endl}</a>
                                </li>
                            </ul>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
        <h4><strong>{l}Images{endl}</strong></h4>
        <div uib-alert type="notice" class="alert-warning" ng-if="!vm.item.dropbox.dropbox_images.length">{l}No data to display{endl}</div>
        <div class="row drop_images" ng-if="vm.item.dropbox.dropbox_images.length">
            <div class="col-sm-2 margin-top" ng-repeat="item in vm.item.dropbox.dropbox_images">
                <div class="image">
                    <img class="link-pointer" ng-src="{{item.url}}" ng-click="vm.openLightboxModal($index)" />
                </div>
                <span class="glyphicon glyphicon-remove text-danger link-pointer" ng-click="vm.deleteDropImage($index)" confirm="{l}Are you sure, you wanna delete this entry?{endl}"></span>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-plain" type="button" ng-click="vm.cancel()">{l}Close{endl}</button>
</div>