<div class="modal-header invite_friend">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="vmMod.cancel()"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title">{l}Refer a friend & get cash back{endl}</h4>
</div>
<div class="modal-body invite_friend">
    <div class="tab-content">
        <h3 class="invite_friend">{l}Invite a friend & get rewarded{endl}</h3>
        <p class="invite_friend">{l}Receive a voucher when your friend becomes an Akti customer{endl}</p>
        <span class="How-does-it-work">{l}How does it work?{endl}</span>
        <div class="row">
            <div class="share_frient_get col-md-12">
                <div class="row">
                    <div class="col-md-3 share_with_friends group_1"><img src="images/Group3.png"><span>{l}Share with friends{endl}</span>
                        <p>{l}Copy your unique link below and share it directly with your friends{endl}</p>
                    </div>
                    <div class="col-md-1 vector"><img src="images/Vector.png"></div>
                    <div class="col-md-3 share_with_friends group_2"><img src="images/Group2.png"><span>{l}Friend subscribes to Akti{endl}</span>
                        <p>{l}After inviting your friend, (s)he subscribes to one of our subscription plans{endl}</p>
                    </div>
                    <div class="col-md-1 vector"><img src="images/Vector.png"></div>
                    <div class="col-md-3 share_with_friends group_3"><img src="images/Group4.png"><span>{l}Get rewards{endl}</span>
                        <p>{l}If they stay for a minimum of 3 months with us, you receive a{endl} <a href="https://support.akti.com/hc/nl/articles/360001949377-Hoe-kan-ik-iemand-uitnodigen-voor-Akti-Referral-programma" target="_blank">{l}voucher{endl}</a>                            {l}matching the monthly fee of your friend's subscription!{endl}</p>
                    </div>
                </div>
            </div>
            <div class="col-md-11 referral_link">
                <p class="Your-personal-referral-link">{l}Your personal referral link:{endl}</p><input type="text" ng-model="vmMod.referral_link" class="col-md-6"><button type="submit" ng-click-copy="{{vmMod.referral_link}}" class="btn btn-default">{l}Copy Link{endl}</button>
            </div>

        </div>
    </div>
</div>
<div class="modal-footer invite_friend">
    <button class="btn btn-plain invite_friend" type="button" ng-click="vmMod.cancel()">{l}Ok{endl}</button>

</div>