<div class=modal-body ng-swipe-left=Lightbox.nextImage() ng-swipe-right=Lightbox.prevImage()>
	<div class=lightbox-nav>
		<div class="btn-group col-sm-12" ng-if="Lightbox.images.length > 1">
			<a class="btn btn-xs btn-plain" ng-click=Lightbox.prevImage()>
				<span class="glyphicon glyphicon-chevron-left">
				</span>
			</a>
			<a class="btn btn-xs btn-plain pull-right" ng-click=Lightbox.nextImage()>
				<span class="glyphicon glyphicon-chevron-right"></span>
			</a>
		</div>
	</div>
	<div class=lightbox-image-container>
		<div class=lightbox-image-caption>
			<span>{{Lightbox.imageCaption}}</span>
		</div>
		<img ng-if=!Lightbox.isVideo(Lightbox.image) lightbox-src={{Lightbox.imageUrl}}>
		<div ng-if=Lightbox.isVideo(Lightbox.image) class="embed-responsive embed-responsive-16by9">
			<video ng-if=!Lightbox.isSharedVideo(Lightbox.image) lightbox-src={{Lightbox.imageUrl}} controls autoplay></video>
			<embed-video ng-if=Lightbox.isSharedVideo(Lightbox.image) lightbox-src={{Lightbox.imageUrl}} ng-href={{Lightbox.imageUrl}} iframe-id=lightbox-video class=embed-responsive-item>
				<a ng-href={{Lightbox.imageUrl}}>Watch video</a>
			</embed-video>
		</div>
	</div>
</div>
  