<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="vmMod.cancel()"><span aria-hidden="true">&times;</span></button>
  <h4 class="modal-title">{l}Link to Account{endl}</h4>
</div>
<div class="modal-body modal-body_alt">
  <form class="form-horizontal text-left" name="addAccount" novalidate>
    <div class="row">
        <div class="col-sm-12">
          <div class="col-md-12 new_link_design">
            <div class="form-group">
              <label for="" class="col-sm-4 control-label text-left">{l}Link to Account{endl}</label>
              <div class="col-sm-8">
                  <input type="hidden" name="customer_id" ng-model="vmMod.customer_data.customer_id" />
                  <selectize config="vmMod.custCofg" options="vmMod.data.customers_dd" ng-model="vmMod.newCustomer.customer_id" id="custandcont" ></selectize>
              </div>  
            </div>                      
          </div>
          <div class="col-md-12 new_link_design_body">
              <div class="form-group">
                <label for="" class="col-sm-4 control-label">{l}Address{endl}</label>
                <div class="col-sm-8">
                    <selectize ng-disabled="!vmMod.newCustomer.customer_id" config="vmMod.addressCfg" options="vmMod.data.addresses" ng-model="vmMod.newCustomer.customer_address_id" ></selectize>
                </div>
              </div>
              <div class="form-group">
                <label for="" class="col-sm-4 control-label">{l}Email{endl}</label>
                <div class="col-sm-8">
                    <input type="text" ng-disabled="!vmMod.newCustomer.customer_id" class="form-control" ng-model="vmMod.newCustomer.email">
                </div>
              </div>
              <div class="form-group">
                <label for="" class="col-sm-4 control-label">{l}Exact Title{endl}</label>
                <div class="col-sm-8">
                  <selectize config="vmMod.salesCfg"
                     ng-disabled="!vmMod.newCustomer.customer_id"
                     options="vmMod.data.customer_contact_title"
                     ng-model="vmMod.newCustomer.title"
                     table="customer_contact_title"
                     model="deparment" ></selectize>
                </div>
              </div>
              <div class="form-group">
                <label for="" class="col-sm-4 control-label">{l}Function{endl}</label>
                <div class="col-sm-8">
                  <selectize config="vmMod.salesCfg"
                     ng-disabled="!vmMod.newCustomer.customer_id"
                     options="vmMod.data.customer_contact_job_title"
                     ng-model="vmMod.newCustomer.position"
                     table="customer_contact_job_title"
                     model="position"></selectize>
                </div>
              </div>
              <div class="form-group">
                <label for="" class="col-sm-4 control-label">{l}Deparment{endl}</label>
                <div class="col-sm-8">
                  <selectize config="vmMod.salesCfg"
                     ng-disabled="!vmMod.newCustomer.customer_id"
                     options="vmMod.data.customer_contact_dep"
                     ng-model="vmMod.newCustomer.department"
                     table="customer_contact_dep"
                     model="deparment" ></selectize>
                </div>
              </div>
              <div class="form-group">
                <label for="" class="col-sm-4 control-label">{l}Phone{endl}</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" ng-disabled="!vmMod.newCustomer.customer_id" ng-model="vmMod.newCustomer.phone">
                </div>
              </div>
              <div class="form-group">
                <label for="" class="col-sm-4 control-label">{l}Fax{endl}</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" ng-disabled="!vmMod.newCustomer.customer_id" ng-model="vmMod.newCustomer.fax">
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-4">{l}Agrees to receive emails{endl} </label>
                <label class="switch pull-left small_margin">
                  <input type="checkbox" id="checkbox" ng-model="vmMod.newCustomer.s_email" class="switch-primary">
                  <span class="slider round"></span>
              </label>
              </div>
          </div>
        </div>
    </div>
  </form>
<div class="modal-footer">
    <button class="btn btn-plain" type="button" ng-click="vmMod.cancel()">{l}Cancel{endl}</button>
    <button class="btn btn-default ng-click-active" type="button" ng-disabled="addCustomer.$invalid" ng-click="vmMod.ok(addCustomer)">{l}Save{endl}</button>
</div>

