<div class="modal-body">
	<div class="col-sm-12">
		<div uib-alert type="notice" class="alert-warning" ng-if="!vm.item.data">{l}No data to display{endl}</div>
			<div class="col-sm-12" ng-if="vm.item.data">
				<div class="row form-group margin-bottom-none">
					<label class="control-label text-left col-sm-4">{l}From{endl}</label>
					<label class="control-label col-sm-8">{{vm.item.from}}</label>
				</div>
				<div class="row form-group margin-bottom-none">
					<label class="control-label text-left col-sm-4">{l}Subject{endl}</label>
					<label class="control-label col-sm-8">{{vm.item.subject}}</label>
				</div>
				<div class="row form-group margin-bottom-none">
					<label class="control-label text-left col-sm-4">{l}Start Date{endl}</label>
					<label class="control-label col-sm-8">{{vm.item.date}}</label>
				</div>
				<div class="row form-group margin-bottom-none">
					<label class="control-label text-left col-sm-4">{l}End Date{endl}</label>
					<label class="control-label col-sm-8">{{vm.item.end_date}}</label>
				</div>
				<div class="row form-group margin-bottom-none">
					<label class="control-label text-left col-sm-4">{l}Location{endl}</label>
					<label class="control-label col-sm-8">{{vm.item.location}}</label>
				</div>
				<div class="row form-group margin-bottom-none">
					<label class="control-label text-left col-sm-4">{l}Type{endl}</label>
					<label class="control-label col-sm-8"><a href="#" ng-if="vm.item.type_nr==3" ng-click="vm.viewIntervention(vm.item.service_id)"><span>{{vm.item.type}}</span></a><span ng-if="vm.item.type_nr!=3">{{vm.item.type}}</span></label>
				</div>
				<div class="row form-group margin-bottom-none">
					<label class="control-label text-left col-sm-4">{l}Company Name{endl}</label>
					<label class="control-label col-sm-8"><a href="#" ng-if="vm.item.customer_id" ng-click="vm.viewCustomer(vm.item.customer_id)"><span ng-bind-html="vm.item.company_name"></span></a></label>
				</div>
				<div class="row form-group margin-bottom-none">
					<label class="control-label text-left col-sm-4">{l}Contact name{endl}</label>
					<label class="control-label col-sm-8"><a href="#" ng-repeat="contact in vm.item.contact_name" ng-click="vm.viewContact(contact.id)"><span ng-bind-html="contact.name"></span></a></label>
				</div>
				<div class="row form-group margin-bottom-none" ng-if="vm.item.message.length">
					<label class="control-label col-sm-4 text-left">{l}Description{endl}</label>
					<label class="control-label col-sm-8" ng-bind-html="vm.item.message"></label>
				</div>
			</div>
	</div>
</div>
<div class="modal-footer">
    <button class="btn btn-plain" type="button" ng-click="vm.cancel()">{l}Close{endl}</button>
</div>