<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="vm.cancel()"><span aria-hidden="true">&times;</span></button>
  <h4 class="modal-title">{l}View Task{endl}</h4>
</div>
<div class="modal-body">
	<div class="col-sm-12">
		<div class="loading_wrap loading_alt hidden">
      		<div class="loading"></div>
        	<div class="spinner"></div>
      	</div>
      	<div uib-alert ng-repeat="alert in vm.alerts" type="{{alert.type}}" close="vm.alerts.splice($index, 1);" ng-class="['alert-' + (alert.type || 'warning') ]" dismiss-on-timeout='3500'>{{alert.msg}}</div>
		<div uib-alert type="notice" class="alert-warning" ng-if="!vm.item.data">{l}No data to display{endl}</div>
			<div class="col-sm-12" ng-if="vm.item.data">
				<div class="row form-group margin-bottom-none">
					<label class="control-label text-left col-xs-4 col-sm-4">{l}From{endl}</label>
					<label class="control-label col-xs-8 col-sm-8">{{vm.item.from}}</label>
				</div>
				<div class="row form-group margin-bottom-none">
					<label class="control-label text-left col-xs-4 col-sm-4">{l}Subject{endl}</label>
					<label class="control-label col-xs-8 col-sm-8">{{vm.item.subject}}</label>
				</div>
				<div class="row form-group margin-bottom-none">
					<label class="control-label text-left col-xs-4 col-sm-4">{l}Start Date{endl}</label>
					<label class="control-label col-xs-8 col-sm-8">{{vm.item.date}}</label>
				</div>
				<div class="row form-group margin-bottom-none">
					<label class="control-label text-left col-xs-4 col-sm-4">{l}To{endl}</label>
					<label class="control-label col-xs-8 col-sm-8">{{vm.item.to}}</label>
				</div>
				<div class="row form-group margin-bottom-none">
					<label class="control-label text-left col-xs-4 col-sm-4">{l}Item{endl}</label>
					<label class="control-label col-xs-8 col-sm-8"><a href="#" ng-if="vm.item.item" ng-click="vm.showItemInfo(vm.item.item_url,vm.item.item_param,vm.item.item_field)"><span>{{vm.item.type}}</span></a><span ng-if="!vm.item.item">{{vm.item.type}}</span></label>
				</div>
				<div class="row form-group margin-bottom-none">
					<label class="control-label text-left col-xs-4 col-sm-4">{l}Company Name{endl}</label>
					<label class="control-label col-xs-8 col-sm-8"><a href="#" ng-if="vm.item.customer_id" ng-click="vm.viewCustomer(vm.item.customer_id)"><span ng-bind-html="vm.item.company_name"></span></a></label>
				</div>
				<div class="row form-group margin-bottom-none">
					<label class="control-label text-left col-xs-4 col-sm-4">{l}Contact name{endl}</label>
					<label class="control-label col-xs-8 col-sm-8"><a href="#" ng-repeat="contact in vm.item.contact_name" ng-click="vm.viewContact(contact.id)"><span ng-bind-html="contact.name"></span></a></label>
				</div>
				<div class="row form-group margin-bottom-none" ng-if="vm.item.message.length">
					<label class="control-label col-xs-4 col-sm-4 text-left">{l}Description{endl}</label>
					<label class="control-label col-xs-8 col-sm-8" ng-bind-html="vm.item.message"></label>
				</div>
				<div class="row form-group margin-bottom-none" ng-if="vm.item.status_on">
					<label class="control-label col-xs-4 col-sm-4 text-left">{l}Change status{endl}</label>
					<div class=" col-xs-8 col-sm-8">
						<select class="form-control" ng-model="vm.item.status" ng-change="vm.changeStatus()">
							<option ng-repeat="option in vm.item.status_dd track by option.id" value="{{option.id}}" ng-bind-html="option.name"></option>
						</select>
					</div>
				</div>
			</div>
	</div>
</div>
<div class="modal-footer">
    <button class="btn btn-plain" type="button" ng-click="vm.cancel()">{l}Close{endl}</button>
</div>