<div class="container" ng-if="ls.ADV_CRM">
    <div class="page-header">
        <div class="row">
            <div class="col-sm-12 new_act">
                <h1>{l}My activities{endl}</h1>
                <button type="button" class="btn btn-primary btn-add" aria-haspopup="true" uib-tooltip="{l}New Activity{endl}" tooltip-placement="right" ng-click="ls.openModal('NewActivities', item, 'md')"><span class="btn-add_icon"><span class="icon-bar"></span><span class="icon-bar-2"></span></span></button>
            </div>
        </div>
    </div><!-- /.page-header -->
    <ul class="nav nav-tabs tabs-default margin-top" role="tablist">
        <li role="presentation" class="active"><a href="#import" aria-controls="import" role="tab" data-toggle="tab">{l}Timeline{endl}</a></li>
        <li role="presentation"><a href="#import_history" aria-controls="import_history" role="tab" data-toggle="tab" ng-click="ls.searchDigest()">{l}Actions digest{endl}</a></li>
    </ul>
    <!-- <div uib-alert ng-repeat="alert in ls.alerts" type="{{alert.type}}" close="ls.alerts.splice($index, 1);" ng-class="['alert-' + (alert.type || 'warning'), 'alert-fixed' ]" dismiss-on-timeout='3500' >{{alert.msg}}</div> -->
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane fade active in" id="import">
            <div class="row page-search margin-top">
                <form>

                    <div class="col-sm-2 col-md-2">
                        <div class="so-field" ng-class="{ 'so-active':ls.activityParams.from_date != undefined }">
                            <span class="glyphicon glyphicon-calendar so-icon" ng-click="ls.openDate('start_date')"></span>
                            <input type="text" class="form-control" ng-model="ls.activityParams.from_date" uib-datepicker-popup="{{ls.format}}" is-open="ls.datePickOpen.start_date" datepicker-options="ls.dateOptions" close-text="Close" placeholder="{l}Start Date{endl}" show-button-bar="false" ng-click="ls.datePickOpen.start_date = true" ng-change="ls.getActivities('from_date');">
                            <span class="glyphicon glyphicon-remove so-icon so-remove" ng-click="ls.toggleSearchButtons('from_date', undefined)"></span>
                        </div><!-- /.input-date -->
                    </div>
                    <div class="col-sm-2 col-md-2">
                        <div class="so-field" ng-class="{ 'so-active':ls.activityParams.to_date != undefined }">
                            <span class="glyphicon glyphicon-calendar so-icon" ng-click="ls.openDate('stop_date')"></span>
                            <input type="text" class="form-control" ng-model="ls.activityParams.to_date" uib-datepicker-popup="{{ls.format}}" is-open="ls.datePickOpen.stop_date" datepicker-options="ls.dateOptions" close-text="Close" placeholder="{l}End Date{endl}" show-button-bar="false" ng-click="ls.datePickOpen.stop_date = true" ng-change="ls.getActivities('to_date');">
                            <span class="glyphicon glyphicon-remove so-icon so-remove" ng-click="ls.toggleSearchButtons('to_date', undefined)"></span>
                        </div><!-- /.input-date -->
                    </div>
                    <div class="col-sm-3">
                        <div class="so-field" >
                            <!-- <span class="glyphicon glyphicon-map-marker so-icon"></span> -->
                            <selectize config='ls.customerAutoCfg' options='ls.customer_dd' ng-model="ls.customer2_id" ></selectize>
                            <span class="glyphicon glyphicon-remove so-icon so-remove" ng-click="ls.toggleSearchButtons('customer2_id', '')"></span>
                        </div><!-- /.input-date -->
                    </div>         
                    <div class="col-sm-3">
                        <div class="so-field" >
                            <!-- <span class="akti-icon akti-icon-16 o_akti_custopplier so-icon"></span> -->
                            <selectize config='ls.userAutoCfg' options='ls.user_auto' ng-model="ls.user_id"></selectize>
                            <span class="glyphicon glyphicon-remove so-icon so-remove" ng-click="ls.toggleSearchButtons('user_id', '')"></span>
                        </div><!-- /.input-date -->
                    </div>
                    <div class="col-sm-2">
                        <selectize config='ls.activityCfg' options='ls.activitiesType' ng-model="ls.activity_id"></selectize>			   			    
                    </div>
                </form>
            </div><!-- /.page-search -->
            <div class="ak_activities row">
        
                <div class="ak_activities_options form-horizontal text-left" ng-class="{ 'active':ls.showActivityForm }">
                    <!-- <div class="ak_activities_subject">
                        <input type="text" class="form-control" ng-model="ls.activity.comment" placeholder="{l}Add Subject{endl}">
                        <div class="dropdown ak_activities_dropdown" uib-dropdown>
                            <button class="btn btn-default btn-square dropdown-toggle" type="button" id="dropdownMenu1" uib-dropdown-toggle>
                                {{ls.activityTxt}}
                     
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu dropdown-menu-right" uib-dropdown-menu>
                                <li class="dropdown-header">{l}Activity Type{endl}</li>
                                <li><a href="#" ng-click="ls.showActivityF(true, 'Note', '2');"><span class="fa fa-sticky-note"></span> {l}Note{endl}</a></li>
                                <li><a href="#" ng-click="ls.showActivityF(true, 'Call', '5');"><span class="fa fa-phone"></span> {l}Call{endl}</a></li>
                                <li><a href="#" ng-click="ls.showActivityF(true, 'E-mail', '1');"><span class="fa fa-envelope"></span> {l}E-mail{endl}</a></li>
                                <li><a href="#" ng-click="ls.showActivityF(true, 'Meeting', '4');"><span class="fa fa-calendar"></span> {l}Schedule{endl}</a></li>
                                <li><a href="#" ng-click="ls.showActivityF(true, 'Task', '6');"><span class="akti-icon o_akti_checklist"></span> {l}Task{endl}</a></li>
                            </ul>
                        </div>
                    </div> -->
                    <div class="ak_activities_form">
                        <div class="user_summary user_summary-sm" ng-click="ls.showActivityiny = true;" ng-class="{ 'hidden':ls.showActivityiny }">
                            <div class="text-summary cursor_pointer no_css_show_textarea">
                                {l}Add Description{endl}
                            </div>
                        </div>
                        <div class="ak_activities_description" ng-class="{ 'hidden':!ls.showActivityiny }">
                            <textarea ui-tinymce="ls.tinymceOptions" class="variable_assign" ng-model="ls.activity.log_comment">
                            </textarea>
                        </div>
                        <div class="form-group">
                            <div class="col-xs-12 col-sm-6 col-md-4">
                                <div class="so-field">
                                    <span class="fa fa-building so-icon"></span>
                                    <!-- <input type="text" class="form-control" ng-model="ls.obj.name" placeholder="Select Company" readonly> -->
                                    <selectize config='ls.accountAutoCfg' options='ls.accounts' ng-model="ls.activity.customer_id"></selectize>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-3">
                                <div class="so-field">
                                    <span class="fa fa-user so-icon"></span>
                                    <selectize config='ls.contactAutoCfg' options='ls.contacts' ng-model="ls.activity.contact_ids"></selectize>
                                    <!-- <input type="text" class="form-control" ng-model="ls.obj.contact_name" placeholder="Select Contact" readonly> -->
                                    <!-- <input type="text" class="form-control" placeholder="Select Contact"> -->
                                </div>
                            </div>

                            <div class="col-xs-12 calendar col-sm-6 col-md-3">
                                <div class="so-field calendar-picker">
                                    <span class="fa fa-calendar so-icon"></span>
                                    <input type="text" class="form-control" ng-model="ls.activity.date" uib-datepicker-popup="{{ls.format}}" is-open="ls.open.start_date" datepicker-options="ls.dateOptions" close-text="Close" placeholder="{l}Date{endl}" show-button-bar="false" ng-click="ls.open.start_date = true" ng-change="ls.changeTime(ls.activity.date, ls.activity.dateHours, true)">
                                    <!-- <input type="text" class="form-control" placeholder="Date"> -->
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-2" ng-show="!ls.activity.all_day_meet">
                                <div class="so-field">
                                    <span class="fa fa-clock-o so-icon"></span>
                                    <selectize config='ls.timeAutoCfg' options='ls.hours' ng-model="ls.activity.dateHours" ng-change="ls.changeTime(ls.activity.date, ls.activity.dateHours, true)"></selectize>
                                    <!-- <input type="text" class="form-control" placeholder="Time"> -->
                                </div>
                            </div>
                        </div>
                        <div class="form-group" ng-if="ls.activity.task_type == '4'" ng-show="!ls.activity.all_day_meet">
                            <div class="col-md-7">
                                <select class="form-control" ng-model="ls.activity.duration_meet" ng-change="ls.changeDuration()">
                                    <option value="">{l}Duration{endl}</option>
                                    <option value="0-15">15 {l}minutes{endl}</option>
                                    <option value="0-30">30 {l}minutes{endl}</option>
                                    <option value="1-0">1 {l}hour{endl}</option>
                                    <option value="2-0">2 {l}hours{endl}</option>
                                    <option value="3-0">3 {l}hours{endl}</option>
                                </select>
                            </div>

                            <div class="col-md-3 calendar">
                                <div class="so-field calendar-picker">
                                    <span class="fa fa-calendar so-icon"></span>
                                    <input type="text" class="form-control" ng-model="ls.activity.end_d_meet" uib-datepicker-popup="{{ls.format}}" is-open="ls.open.end_d_meet" datepicker-options="ls.dateOptions" close-text="Close" placeholder="{l}End Date{endl}" show-button-bar="false" ng-click="ls.open.end_d_meet = true" ng-change="ls.changeTime(ls.activity.end_d_meet, ls.activity.dateEHours)">
                                    <!-- <input type="text" class="form-control" placeholder="Date"> -->
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="so-field">
                                    <span class="fa fa-clock-o so-icon"></span>
                                    <selectize config='ls.timeAutoCfg' options='ls.hours' ng-model="ls.activity.dateEHours" ng-change="ls.changeTime(ls.activity.end_d_meet, ls.activity.dateEHours)"></selectize>
                                    <!-- <input type="text" class="form-control" placeholder="Time"> -->
                                </div>
                            </div>
                        </div>
                        <div class="form-group" ng-if="ls.activity.task_type == '4'">
                            <div class="col-xs-12 checkbox checkbox-primary">
                                <input type="checkbox" id="checkbox1" ng-model="ls.activity.all_day_meet" ng-change="ls.checkAllDay()"> {l}All day event{endl}
                                <label for="checkbox1"></label>
                            </div>
                        </div>
                        <div class="form-group" ng-if="ls.activity.task_type == '4'">
                            <div class="col-xs-12">
                                <input type="text" class="form-control" ng-model="ls.activity.location_meet" placeholder="{l}Location{endl}" >
                            </div>
                        </div>
                        <div class="form-group" ng-if="ls.activity.task_type == '5'">
                            <div class="col-xs-6">
                                <div class=" radio">
                                    <label><input type="radio" ng-model="ls.activity.type_of_call" value="0"> {l}outgoing{endl}</label>
                                </div>
                            </div>
                            <div class="col-xs-6">
                                <div class=" radio">
                                    <label><input type="radio" ng-model="ls.activity.type_of_call" value="1"> {l}incoming{endl}</label>
                                </div>
                            </div>
                        </div>
                        <div class="user_summary user_summary-sm" ng-class="{ 'is-open':ls.activity.hd_events }">
                            <div class="text-summary" ng-if="!ls.hideSwitch">
                                <toggle-switch  ng-model="ls.activity.hd_events" on-change="" class="switch-primary ats-switch-sm pull-right" off-label="{l}No{endl}" on-label="{l}Yes{endl}"></toggle-switch>
                                {l}Reminder{endl}
                            </div>
                            <div class="row">
                                <div class="form-group">
                                    <div class="col-md-4">
                                        <div class="so-field">
                                            <span class="fa fa-mail-forward so-icon"></span>
                                            <selectize config='ls.assignAutoCfg' options='ls.user_auto' ng-model="ls.activity.user_to_id"></selectize>
                                        </div>
                                    </div>
                                    <div class="col-md-4 calendar">
                                        <div class="so-field">
                                            <span class="fa fa-calendar so-icon"></span>
                                            <input type="text" class="form-control" ng-model="ls.activity.reminder_event" uib-datepicker-popup="{{ls.format}}" is-open="ls.open.reminder_date" datepicker-options="ls.dateOptions" close-text="Close" placeholder="{l}Date{endl}" show-button-bar="false" ng-click="ls.open.reminder_date = true" ng-change="ls.changeTime(ls.activity.reminder_event, ls.activity.reminderHours)">
                                            <!-- <input type="text" class="form-control" placeholder="Date"> -->
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="so-field">
                                            <span class="fa fa-clock-o so-icon"></span>
                                            <selectize config='ls.timeAutoCfg' options='ls.hours' ng-model="ls.activity.reminderHours" ng-change="ls.changeTime(ls.activity.reminder_event, ls.activity.reminderHours)"></selectize>
                                            <!-- <input type="text" class="form-control" placeholder="Time"> -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group ak_activities_actions">
                            <div class="col-xs-12 text-right">
                                <button class="btn btn-sm btn-plain no_css_hide_activities" ng-click="ls.showActivityF(false, 'Type', ''); ls.showActivityiny = false;">{l}Cancel{endl}</button>
                                <button class="btn btn-sm btn-default" ng-click="ls.addActivity()">{l}Add{endl}</button>
                            </div>
                        </div>
                    </div><!-- /.ak_activities_form -->
                </div><!-- /.ak_activities_options -->
                <div class="ak_activities_entry" ng-repeat="item in ls.activities.item| limitTo:ls.activityNumber" ng-class="{ 'active': item.color == 'green_status' }"  >
                    <div class="ak_activities_type">
                        <span ng-class="{ 'fas fa-user-friends':item.action == 'meeting', 'fas fa-sticky-note':item.action == 'events', 'fa fa-phone':item.action == 'phone', 'fas fa-tasks':item.action == 'other', 'fa fa-tasks':item.action == 'events', 'akti-icon o_akti_quote':item.action == 'quote_sent', 'o_akti_zen':item.action == 'zen', 'o_akti_nylas':item.action == 'nylas' }"></span>
                                    <span class="ak_activities_date">{{item.day}}</span>
                    </div>
                    <div class="ak_activities_corner"></div>
                    <small class="quick_edits"><a href="#" class="text-link text-muted" ng-click="ls.openModal('EditActivity', item, 'md')"><i class="fas fa-pencil-alt"></i></a> <a href="#" class="text-link text-muted" confirm="{l}Are you sure, you want delete this entry?{endl}" ng-click="ls.removeActivity(item, $index)"><i class="fa fa-trash text-primary"></i></a></small>
                    <div class="ak_activities_content row">
                        <!-- <h4 class="ak_activities_title"><span class="badge badge-sm bg-primary">{{item.time}}</span> {{item.message}}</h4> -->
                        <h3 class="ak_activities_title">{{item.message}}</h3>
                        <!-- <small>{l}Created by{endl} {{item.by}}</small> -->
                        <h4 class="ak_activities_user"><i class="fas fa-share" ng-if="item.task_type != '2'"></i><span class="ak_user" ng-if="item.task_type != '2'"><i class="fas fa-user"></i>{{item.to_user}}</span></h4>
                        <div class="for_exp">
                            <div class="ak_descript"><i class="fas fa-align-left"></i>
                                <div ng-if="item.comments && !item.is_nylas" class="ak_activities_note text-muted" ng-class="{ 'active':item.expandText }" ng-bind-html="item.comments" expand-text on-show="item.isBigger=true;"></div>
                               </div>
                               <div ng-if="item.comments" class="ak_activities_note text-muted " ng-class="{ 'active':item.expandText }" ng-bind-html="item.comments" expand-text on-show="item.isBigger=true;"></div>
                              <div ng-if="item.comments && item.isBigger" class="border-top text-center expand_txt">
                                  <button class="btn btn-block btn-arrow no_css_toggle_note" ng-click="item.expandText = !item.expandText"><span class="glyphicon " ng-class="{ 'glyphicon-chevron-up':item.expandText, 'glyphicon-chevron-down':!item.expandText }"></span></button>
                              </div>
                        <div class="ak_hour" ng-if="item.task_type != '2'"><i class="fas fa-calendar"></i> <span class="ak_date">{{item.day_full}}</span> <i class="fas fa-clock"></i> <span class="ak_clock">{{item.time}}</span></div>
                        <div class="ak_hour" ng-if="item.task_type != '2' && item.end_d_meet"><i class="fas fa-calendar"></i> <span class="ak_date">{{item.end_d_meet_day}}</span> <i class="fas fa-clock"></i> <span class="ak_clock">{{item.end_d_meet_time}}</span></div>
                     <p ng-if="item.reminder_assign && item.task_type != '2'"><span class="ak_activities_reminder"><span class="fa fa-bell"></span> {{item.reminder_assign_data}}</span>
                        </div>
                        <div class="ak_hour" ng-if="item.location_meet && item.task_type == '4'"><span class="ak_activities_reminder"><span class="fas fa-map-marker-alt"></span> {{item.location_meet}}</span>
                        </div>
                    </div>
                
                        <!-- <div ng-if="item.is_deal">
                            <p ><span class="far fa-handshake fa-lg"></span> <a ui-sref="dealView({ 'opportunity_id':item.deal_id })"> {{item.deal_serial_number}}</a></p>
                            <p><span > {{item.deal_subject}}</span> </p>
                        </div> -->
                        <!-- <div class="ak_activities_note text-muted" ng-if="item.type_of_call">
                            {{item.type_of_call}}
                        </div> -->
                    </div><!-- /.ak_activities_content -->
                </div><!-- /.ak_activities_entry -->
                <div class="ak_activities_entry ak_activities_button" ng-if="ls.activities.max_rows > ls.activityNumber">
                    <div class="ak_activities_type">
                        <span class="fa fa-ellipsis-h"></span>
                    </div>
                    <div class="ak_activities_content row text-muted">
                        <button class="btn btn-plain" ng-click="ls.getMoreActivities();">{l}Show More{endl}</button>
                    </div><!-- /.ak_activities_content -->
                </div>
            </div><!-- /.ak_activities row -->
        <!-- </div> --><!-- /.tab-pane -->
        <div role="tabpanel" class="tab-pane fade" id="import_history">
            <div class="row page-search margin-top">
                <form>
                    <div class="col-sm-3">
                        <div class="btn-group btn-block">
                              <selectize config='ls.digestPeriodCfg' options='ls.digest_periods' ng-model="ls.digest_search.period_id" ></selectize>
                        </div>
                    </div>
                    <div class="col-sm-2" ng-if="ls.digest_search.period_id=='2'">
                        <div class="so-field" ng-class="{ 'so-active':ls.digest_search.from!=undefined }">
                            <span class="glyphicon glyphicon-calendar so-icon" ng-click="ls.digestDatePickOpen.from=true"></span>
                            <input type="text" class="form-control" ng-model="ls.digest_search.from" uib-datepicker-popup="{{ls.digest_format}}" is-open="ls.digestDatePickOpen.from" datepicker-options="ls.digest_dateOptions" close-text="Close" placeholder="{l}From{endl}" show-button-bar="false" ng-click="ls.digestDatePickOpen.from=true" ng-change="ls.searchDigest()">
                            <span class="glyphicon glyphicon-remove so-icon so-remove" ng-click="ls.searchDigest('from')"></span>
                        </div><!-- /.input-date -->
                    </div>
                    <div class="col-sm-2" ng-if="ls.digest_search.period_id=='2'">
                        <div class="so-field" ng-class="{ 'so-active':ls.digest_search.to!=undefined }">
                            <span class="glyphicon glyphicon-calendar so-icon" ng-click="ls.digestDatePickOpen.to=true"></span>
                            <input type="text" class="form-control" ng-model="ls.digest_search.to" uib-datepicker-popup="{{ls.digest_format}}" is-open="ls.digestDatePickOpen.to" datepicker-options="ls.digest_dateOptions" close-text="Close" placeholder="{l}To{endl}" show-button-bar="false" ng-click="ls.digestDatePickOpen.to=true" ng-change="ls.searchDigest()">
                            <span class="glyphicon glyphicon-remove so-icon so-remove" ng-click="ls.searchDigest('to')"></span>
                        </div><!-- /.input-date -->
                    </div>      
                    <div class="btn-group btn-group-calendar" role="group" ng-if="ls.digest_search.period_id<'2' ">
                        <button type="button" class="btn btn-square btn-plain" ng-click="ls.navigateDigest(-1)"><span class="glyphicon glyphicon-chevron-left"></span></button>
                        <span class="calendar-date">{{ls.digestData.period_txt}}</span>
                        <button type="button" class="btn btn-square btn-plain" ng-click="ls.navigateDigest(+1)"><span class="glyphicon glyphicon-chevron-right"></span></button>
                    </div>
                    <div class="btn-group btn-inline" ng-show="ls.digest_search.period_id<'2'">
                        <button class="btn btn-square btn-plain" ng-model="ls.digest_search.start_date" uib-datepicker-popup="{{ls.digest_format}}" is-open="ls.digestDatePickOpen.start_date" datepicker-options="ls.digest_dateOptions" close-text="Close" show-button-bar="false" ng-click="ls.digestDatePickOpen.start_date=true" ng-change="ls.navigateDigest(+0)">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </button>
                    </div>
                </form>
            </div><!-- /.page-search -->
            <div class="section-content">
                <table class="table orderTable" ng-if="ls.digestData.is_data">
                    <thead>
                        <tr>
                            <th class="col-sm-4">{l}User{endl}</th>
                            <th class="col-sm-1">{l}Phone{endl}</th>
                            <th class="col-sm-1">{l}Meeting{endl}</th>
                            <th class="col-sm-1">{l}Email{endl}</th>
                            <th class="col-sm-1">{l}Fax{endl}</th>
                            <th class="col-sm-1">{l}Events{endl}</th>
                            <th class="col-sm-1">{l}Other{endl}</th>
                            <th class="col-sm-2">{l}Total{endl}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat-start="item in ls.digestData.row">
                            <td class="text-muted" colspan="8"><b>{{item.type}}</b></td>
                        </tr>
                        <tr ng-repeat-end class="versionInfo">
                            <td colspan="8" class="table active_rows orderTable">
                                <table class="table">
                                    <tbody>
                                        <tr ng-repeat="item2 in ls.digestData.row[$index].detaile_row">
                                            <td>
                                                <div class="row">
                                                    <div class="text-muted col-sm-4">{{item2.user}}</div>
                                                    <div class="text-muted col-sm-1">{{item2.phone}}</div>
                                                    <div class="text-muted col-sm-1">{{item2.meeting}}</div>
                                                    <div class="text-muted col-sm-1">{{item2.email}}</div>
                                                    <div class="text-muted col-sm-1">{{item2.fax}}</div>
                                                    <div class="text-muted col-sm-1">{{item2.events}}</div>
                                                    <div class="text-muted col-sm-1">{{item2.other}}</div>
                                                    <div class="text-muted col-sm-2">{{item2.total}}</div>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div><!-- /.tab-pane -->
    </div>
</div><!-- neede on all pages -->