<div class="container">
    <div class="page-header">
        <div class="row">
            <div class="col-sm-6">
                <h1>{l}My Preference{endl}</h1>
            </div>
            <div class="col-sm-6 text-right">
                <!-- <button type="submit" class="btn btn-default" ng-click="ls.save(User)" ng-disabled="User.$invalid">{l}Save{endl}</button> -->
            </div>
        </div>
    </div>
    <!-- /.page-header -->
    <ul class="nav nav-tabs tabs-default" id="tabContent">
        <li class="active"><a href="#details" data-toggle="tab">{l}My profile{endl}</a></li>
        <li ng-if="!ls.user.easyinvoice"><a href="#main_menu" data-toggle="tab">{l}Menu{endl}</a></li>
        <li><a href="#notifications" data-toggle="tab" ng-if="ls.user.show_notification">{l}Notifications{endl}</a></li>
        <li><a href="#credentials" data-toggle="tab">{l}Signature{endl}</a></li>
        <li><a href="#security" data-toggle="tab">{l}Security{endl}</a></li>
    </ul>
    <div class="tab-content">
        <!-- <div uib-alert ng-repeat="alert in ls.alerts" type="{{alert.type}}" close="ls.alerts.splice($index, 1);" dismiss-on-timeout="5000" ng-class="['alert-' + (alert.type || 'warning'), 'alert-fixed'  ]">{{alert.msg}}</div> -->
        <div class="tab-pane fade in active" id="details">
            <div class="section-content">
                <form class="form-horizontal text-left col-top" name="User" novalidate>
                    <div class="row">
                        <div class="col-sm-12">
                            <h2 class="margin-top-none"><strong>{l}Photo{endl}</strong></h2>
                            <h4 class="margin-top margin-bottom">{l}You can upload a small photo which will be displayed next to the personal activity. Supported formats: GIF, JPG, JPEG, PNG{endl}</h4>
                            <div class="col-sm-12 well col-top">
                                <div class="col-sm-6">
                                    <div class="row">
                                        <input type="file" name="file" class="hide uploadFileAvatar" accept=".gif,.jpg,.jpeg,.png">
                                        <div class="drop_images" ng-if="ls.user.avatar">
                                            <div class="col-xs-2 col-sm-1 account_avatar">
                                                <div class="image photo">
                                                    <img ng-src="{{ls.user.avatar}}" />
                                                </div>
                                            </div>
                                        </div>
                                        <span class="akti-icon o_akti_user user-thumb pull-left" ng-if="!ls.user.avatar"></span><a class="text-danger photo_delete" ng-if="ls.user.avatar" ng-click="ls.removeAvatar()" confirm="{l}Are you sure, you wanna remove your photo?{endl}"><span>{l}Delete current photo{endl}</span></a>
                                        <span class="text-muted text-spacer" ng-if="ls.user.avatar">{l}OR{endl}</span>
                                        <div ng-class="{ 'col-sm-12':ls.user.avatar, 'col-sm-8':!ls.user.avatar, 'no_avatar':!ls.user.avatar}">
                                            <a class="col-xs-offset-2 col-sm-offset-1 text-link" ng-click="ls.sendAvatar($event)">{l}Upload picture{endl}</a>
                                            <span class="text-muted text-spacer">{l}OR{endl}</span>
                                            <a ng-click="ls.chooseAvatar()" class="text-link">{l}Select avatar{endl}</a>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <h2 class="margin-top-none"><strong>{l}Personal details{endl}</strong></h2>
                            <div class="form-group" ng-class="{ 'form-group_alert' : User.first_name.$invalid && !User.first_name.$pristine }">
                                <label for="inputFirstName" class="col-xs-6 col-sm-6 col-md-3 control-label">{l}First Name{endl} <span class="mandatory-label">*</span></label>
                                <div class="col-xs-6 col-sm-6 col-md-4">
                                    <input type="text" class="form-control" name="first_name" placeholder="{l}First Name{endl}" ng-model="ls.user.first_name" id="inputFirstName" required>
                                    <div class="alert alert-sm alert-danger" ng-if="User.first_name.$invalid && ls.alertsField.first_name">{{ls.alertsField.first_name}}</div>
                                </div>
                            </div>
                            <div class="form-group" ng-class="{ 'form-group_alert' : User.last_name.$invalid && !User.last_name.$pristine }">
                                <label for="inputLastName" class="col-xs-6 col-sm-6 col-md-3 control-label">{l}Last Name{endl} <span class="mandatory-label">*</span></label>
                                <div class="col-xs-6 col-sm-6 col-md-4">
                                    <input type="text" class="form-control" name="last_name" placeholder="{l}Last Name{endl}" ng-model="ls.user.last_name" id="inputLastName" required>
                                    <div class="alert alert-sm alert-danger" ng-if="User.last_name.$invalid && ls.alertsField.last_name">{{ls.alertsField.last_name}}</div>
                                </div>
                            </div>
                            <div class="form-group account-email-pos" ng-class="{ 'form-group_alert' : User.email.$invalid && !User.email.$pristine }">
                                <label for="inputEmail" class="col-xs-6 col-sm-6 col-md-3 control-label">{l}Email{endl} <span class="mandatory-label">*</span></label>
                                <div class="col-xs-6 col-sm-6 col-md-4">
                                    <input type="text" class="form-control" name="email" placeholder="{l}Email{endl}" ng-model="ls.user.email" id="inputEmail" required>
                                    <div class="alert alert-sm alert-danger" ng-if="User.email.$invalid && ls.alertsField.email">{{ls.alertsField.email}}</div>
                                </div>
                                <div ng-if="ls.user.notification_email_sent" uib-alert class="alert-success notification-email" type="success" close="ls.closeNotificationAlert()" dismiss-on-timeout="12000">{l}An email has been sent to this email address. Please click the confirmation link in the email to make the change final.{endl}
                                </div>
                            </div>

                            <div class="form-group" ng-class="{ 'form-group_alert' : User.lang_id.$invalid && !User.lang_id.$pristine }">
                                <label for="" class="col-xs-6 col-sm-6 col-md-3 control-label">{l}Language{endl} <span class="mandatory-label">*</span></label>
                                <div class="col-xs-6 col-sm-6 col-md-4">
                                    <!--                     <select  class="form-control" ng-model="ls.user.lang_id" name="lang_id">
                      <option value="0">{l}Select{endl}</option>
                      <option ng-repeat="option in ls.user.LANGUAGE_DD track by option.id"  value="{{option.id}}">{{option.value}}</option>
                    </select> -->
                                    <selectize config="ls.cfg" options="ls.user.LANGUAGE_DD" ng-model="ls.user.lang_id"></selectize>
                                    <div class="alert alert-sm alert-danger" ng-if="User.lang_id.$invalid && ls.alertsField.lang_id">{{ls.alertsField.lang_id}}</div>
                                </div>
                            </div>
                            <div class="form-group" ng-class="{ 'form-group_alert' : User.username.$invalid && !User.username.$pristine }">
                                <label for="" class="col-xs-6 col-sm-6 col-md-3 control-label">{l}Username{endl} <span class="mandatory-label">*</span></label>
                                <div class="col-xs-6 col-sm-6 col-md-4">
                                    <input type="text" class="form-control" name="username" placeholder="{l}Username{endl}" ng-model="ls.user.username" id="inputUsername" required autocomplete="OFF">
                                    <div class="alert alert-sm alert-danger" ng-if="User.username.$invalid && ls.alertsField.username">{{ls.alertsField.username}}</div>
                                </div>
                            </div>
                        </div>
                    </div>

                </form>
                <!-- <div class="row margin-top" ng-if="ls.user.active">
          <div class="col-xs-2" >
            <div class="col-xs-12 text-center" ng-click="ls.openModal('GoogleCalendar',ls.user,'sm')"><img class="img-thumbnail" src="images/calendar.png" width="232" height="60" alt=""></div>
          </div>              
        </div> -->
                <div class="margin-top" ng-if="ls.user.nylas_active">
                    <div class="col-xs-2 app_card my-account" ng-click="ls.openModal('NylasCalendar',ls.user,'md')">
                        <div class="activated" ng-class="{ 'not-activated': !ls.user.nylas_user_active }"> </div>
                        <img class="img-responsive" src="images/nylas.png" width="232" height="60" alt="">
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-pane fade" id="main_menu" ng-if="!ls.user.easyinvoice">
            <div class="section-content">
                <form class="form-horizontal text-left" name="Signature" novalidate>
                    <div class="row">
                        <div class="col-sm-12">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th class="col-sm-11">{l}Module{endl}</th>
                                        <th class="col-sm-1">{l}Show{endl}</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="myprofile_table" ng-repeat="item in ls.user.modules">
                                        <td>
                                            {{item.module}} <i ng-if="item.disable==true" class="fa fa-info-circle" uib-tooltip="{l}Only available if you subscribe to this module{endl}" tooltip-placement="top">                         
                      </td>
                      <td>
                        <div class="checkbox checkbox-primary">
                          <input type="checkbox" id="checkbox_module_{{$index}}" ng-model="item.checked" ng-disabled="item.disable" ng-change="ls.moduleAction(item)" name="">
                          <label for="checkbox_module_{{$index}}"></label>
                        </div>
                        <div class="succes_add_cls">
                          <i ng-if="item.succes_add" class="fa fa-check-square fa-2x text-success" aria-hidden="true"></i>
                        </div>
                        </td>
                        </tr>
                        </tbody>
                        </table>
                    </div>
            </div>
            </form>
        </div>
    </div>
    <div class="tab-pane fade" id="notifications" ng-if="ls.user.show_notification">
        <div class="section-content">
            <form class="form-horizontal text-left" name="Signature" novalidate>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group">
                            <div class="col-xs-12 checkbox checkbox-primary">
                                <input type="checkbox" id="checkbox2" class="" value="1" ng-model="ls.user.notification_instant">
                                <label for="checkbox2">
                    </label>
                                <span>{l}Receive email when the message is created{endl}</span>
                            </div>
                            <div class="col-xs-12 checkbox checkbox-primary">
                                <input type="checkbox" id="checkbox3" class="" value="2" ng-model="ls.user.notification_daily">
                                <label for="checkbox3">
                    </label>
                                <span>{l}Receive email(s) as daily digest{endl}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="tab-pane fade" id="credentials">
        <div class="section-content">
            <form class="form-horizontal text-left" name="Signature" novalidate>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group">
                            <div class="col-xs-11">
                                <textarea ui-tinymce="ls.tinymceOptions" ng-model="ls.user.text_signature" class="variable_assign">{{ls.user.text_signature}}</textarea>
                                <input name="image" type="file" id="upload" class="hidden" onchange="">
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="tab-pane fade" id="security">
        <div class="section-content">
            <div class="form-horizontal text-left">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group">
                            <label class="col-xs-4 control-label">{l}Password{endl}</label>
                            <label class="col-xs-4 control-label"><a ng-click="ls.changePass()" class="text-link">{l}Change password{endl}</a></label>
                        </div>
                        <div class="form-group">
                            <label class="control-label text-left col-xs-4">{l}Two-step verification{endl}</label>
                            <div class="col-xs-4">
                                <!-- <toggle-switch ng-model="ls.user.two_factor" class="switch-primary" off-label="{l}No{endl}" on-label="{l}Yes{endl}" on-change="ls.setFactor()"></toggle-switch> -->
                                <label class="switch pull-left small_margin">
                      <input type="checkbox" id="" ng-model="ls.user.two_factor"  class="switch-primary" ng-change="ls.setFactor()">
                      <span class="slider round"></span>
                 </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12 text-right">
        <!-- <button class="btn btn-plain" type="button" ng-click="ls.cancel()">{l}Close{endl}</button> -->
        <button class="btn btn-default" type="button" ng-disabled="addCustomer.$invalid" ng-if="ls.obj.add_customer" ng-click="ls.ok(addCustomer)">{l}Save{endl}</button>
        <button class="btn btn-default" type="button" ng-disabled="addContact.$invalid" ng-if="ls.obj.add_contact" ng-click="ls.ok(addContact)">{l}Save{endl}</button>
        <button type="submit" class="btn btn-default" ng-click="ls.save(User)" ng-disabled="User.$invalid">{l}Save{endl}</button>
    </div>
</div>


</div>
<!-- neede on all pages -->