<a class="btn btn-link" ng-if="showNavigation" ng-class="{ 'navigation_deal': isDealView }" ng-click="goBack()" ng-disabled="start_item==1">
	<i class="fa fa-arrow-left" aria-hidden="true"></i>
</a>
<span class="text-danger" ng-if="showNavigation" ng-class="{ 'navigation_deal': isDealView, 'text-center': isDealView }"><b>{{start_item}} {l}of{endl} {{total_items}}</b><small ng-if="isDealView">{l}Stage{endl}: {{dealStageName}}</small></span>
<a class="btn btn-link" ng-if="showNavigation" ng-class="{ 'navigation_deal': isDealView }" ng-click="goNext()" ng-disabled="start_item==total_items">
	<i class="fa fa-arrow-right" aria-hidden="true"></i>
</a>