<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="vmMod.cancel()"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title" id="NewActivities">{l}Add a new activity{endl}</h4>
</div>
<div class="modal-body">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="tab newactivities" role="tabpanel">
					<div uib-alert ng-repeat="alert in vmMod.alerts" type="{{alert.type}}" close="vmMod.alerts.splice($index, 1);" ng-class="['alert-' + (alert.type || 'warning') ]">{{alert.msg}}</div>
					<!-- Nav tabs -->
					<ul class="nav nav-tabs" role="tablist">
						<li role="presentation" class="active" ng-class="{  'disabled':vmMod.obj.from_tasks }" ng-click="vmMod.showActivityF('6')"><a href="#tasks" aria-controls="home"  role="tab" data-toggle="tab" onclick="return false;"><i class="fas fa-tasks"></i>  {l}Task{endl}</a></li>
						<li role="presentation" ng-class="{  'disabled':vmMod.obj.from_tasks }" ng-click="vmMod.showActivityF('2')"><a href="#note" aria-controls="messages" role="tab" data-toggle="tab" onclick="return false;"><i class="fas fa-sticky-note"></i>  {l}Note{endl}</a></li>
						<li role="presentation" ng-class="{  'disabled':vmMod.obj.from_tasks }" ng-click="vmMod.showActivityF('5')"><a href="#call" aria-controls="profile" role="tab" data-toggle="tab" onclick="return false;"><i class="fa fa-phone"></i>  {l}Call{endl}</a></li>
						
						<li role="presentation" ng-class="{  'disabled':vmMod.obj.from_tasks }" ng-click="vmMod.showActivityF('4')"><a href="#meeting" aria-controls="messages" role="tab" data-toggle="tab" onclick="return false;"><i class="fas fa-user-friends"></i> {l}Schedule{endl}</a></li>
					</ul>
					<!-- Tab panes -->
					<div class="tab-content tabs">				
						<form name="activity_form" novalidate>
							<div role="tabpanel" class="tab-pane fade in active" id="tasks" ng-if="vmMod.activity.task_type=='6'">
								<div class="new_a_row" ng-class="{ 'form-group_alert' : activity_form.comment.$invalid && !activity_form.comment.$pristine }">
									<label class="control-label col-xs-3 col-sm-3 col-md-3 text-left">{l}Subject{endl} <span class="mandatory-label">*</span></label>
									<div class="col-xs-9 col-sm-9 col-md-9">
										<input type="text" class="form-control" ng-model="vmMod.activity.comment" placeholder="{l}Subject{endl}" name="comment">
										<div class="alert alert-sm alert-danger" ng-if="activity_form.comment.$invalid && vmMod.alertsField.comment">{{vmMod.alertsField.comment}}</div>
									</div>
								</div>
								<div class="new_a_row">
									<label class="control-label col-xs-3 col-sm-3 col-md-3 text-left">{l}Due date{endl}</span></label>
									<div class="col-xs-9 col-sm-9 col-md-9">
										<div class="row">
											<div class="so-field col-md-5">
												<span class="fa fa-calendar so-icon"></span>
												<input type="text" class="form-control" ng-model="vmMod.activity.date" uib-datepicker-popup="{{vmMod.obj.account_date_format}}" is-open="vmMod.open.start_date" datepicker-options="vmMod.dateOptions" close-text="Close" placeholder="{l}Date{endl}" show-button-bar="false" ng-click="vmMod.open.start_date = true" ng-change="vmMod.changeTime(vmMod.activity.date, vmMod.activity.dateHours, true)">
											</div>
											<label class="control-label col-xs-2 col-md-2 text-left">{l}Time{endl}</span></label>
											<div class="so-field col-xs-10 col-md-5 act_pad">
												<input class="act_time" type="time" ng-model="vmMod.activity.dateHours" ng-change="vmMod.changeTime(vmMod.activity.date,vmMod.activity.dateHours,true)">
											</div>
										</div>
									</div>
								</div>
								<div class="new_a_row">
									<label class="control-label col-xs-3 col-sm-3 col-md-3 text-left">{l}Reminder{endl}</label>
									<div class="col-xs-9 col-sm-9 col-md-9 act_pad">
										<selectize config='vmMod.reminderAutoCfg' options='vmMod.obj.reminder_dd' ng-model="vmMod.activity.reminder_id"></selectize>
									</div>
								</div>
								<div class="new_a_row">
									<label class="control-label col-xs-3 col-sm-3 col-md-3 text-left">{l}Account{endl}</label>
									<div class="col-xs-9 col-sm-9 col-md-9">
										<div class="so-field act_pad">
											<selectize config='vmMod.accountAutoCfg' options='vmMod.accounts' ng-model="vmMod.activity.customer_id" ng-disabled="vmMod.obj.disable_customer"></selectize>
										</div>
									</div>
								</div>
								<div class="new_a_row">
									<label class="control-label col-xs-3 col-sm-3 col-md-3 text-left">{l}Contact{endl}</label>
									<div class="col-xs-9 col-sm-9 col-md-9">						
										<div class="so-field act_pad">
									
											<selectize config='vmMod.contactAutoCfg' options='vmMod.contacts' ng-model="vmMod.activity.contact_ids" ng-disabled="vmMod.obj.disable_contact"></selectize>
						
										</div>
									</div>
								</div>
								<div class="new_a_row">
									<label class="control-label col-xs-3 col-sm-3 col-md-3 text-left">{l}Assign to{endl}</label>
									<div class="col-xs-9 col-sm-9 col-md-9">
										<div class="so-field act_pad">
                                            <selectize config='vmMod.assignAutoCfg' options='vmMod.obj.user_auto' ng-model="vmMod.activity.user_to_id"></selectize>
                                        </div>
									</div>
								</div>
								<div class="new_a_row" ng-class="{ 'form-group_alert' : activity_form.log_comment.$invalid && !activity_form.log_comment.$pristine }">
									<label class="control-label col-xs-3 col-sm-3 col-md-3 text-left">{l}Description{endl} <span class="mandatory-label">*</span></label>
									<div class="col-xs-9 col-sm-9 col-md-9">
										<textarea ui-tinymce="vmMod.tinymceOptions_new" class="variable_assign_new" ng-model="vmMod.activity.log_comment" name="log_comment"></textarea>
										<div class="alert alert-sm alert-danger" ng-if="activity_form.log_comment.$invalid && vmMod.alertsField.log_comment">{{vmMod.alertsField.log_comment}}</div>
									</div>
								</div>
							</div>
							<div role="tabpanel" class="tab-pane fade" id="call" ng-if="vmMod.activity.task_type=='5' && !vmMod.obj.from_tasks">
								<div class="new_a_row" ng-class="{ 'form-group_alert' : activity_form.comment.$invalid && !activity_form.comment.$pristine }">
									<label class="control-label col-xs-3 col-sm-3 col-md-3 text-left">{l}Subject{endl} <span class="mandatory-label">*</span></label>
									<div class="col-xs-9 col-sm-9 col-md-9">
										<input type="text" class="form-control" ng-model="vmMod.activity.comment" placeholder="{l}Subject{endl}" name="comment">
										<div class="alert alert-sm alert-danger" ng-if="activity_form.comment.$invalid && vmMod.alertsField.comment">{{vmMod.alertsField.comment}}</div>
									</div>
								</div>
								<div class="new_a_row">
									<label class="control-label col-xs-3 col-sm-3 col-md-3 text-left">{l}Due date{endl}</span></label>
									<div class="col-xs-9 col-sm-9 col-md-9">
										<div class="row">
											<div class="so-field col-md-5">
												<span class="fa fa-calendar so-icon"></span>
												<input type="text" class="form-control" ng-model="vmMod.activity.date" uib-datepicker-popup="{{vmMod.obj.account_date_format}}" is-open="vmMod.open.start_date" datepicker-options="vmMod.dateOptions" close-text="Close" placeholder="{l}Date{endl}" show-button-bar="false" ng-click="vmMod.open.start_date = true" ng-change="vmMod.changeTime(vmMod.activity.date, vmMod.activity.dateHours, true)">
											</div>
											<label class="control-label col-xs-2 col-md-2 text-left">{l}Time{endl}</span></label>
											<div class="so-field col-xs-10 col-md-5 act_pad">
												<input class="act_time" type="time" ng-model="vmMod.activity.dateHours" ng-change="vmMod.changeTime(vmMod.activity.date,vmMod.activity.dateHours,true)">
											</div>
										</div>
									</div>
								</div>
								<div class="new_a_row">
									<label class="control-label col-xs-3 col-sm-3 col-md-3 text-left">{l}Reminder{endl}</label>
									<div class="col-xs-9 col-sm-9 col-md-9 act_pad">
										<selectize config='vmMod.reminderAutoCfg' options='vmMod.obj.reminder_dd' ng-model="vmMod.activity.reminder_id"></selectize>
									</div>
								</div>
								<div class="new_a_row">
									<label class="control-label col-xs-3 col-sm-3 col-md-3 text-left">{l}Account{endl}</label>
									<div class="col-xs-9 col-sm-9 col-md-9">
										<div class="so-field act_pad">
									
											<selectize config='vmMod.accountAutoCfg' options='vmMod.accounts' ng-model="vmMod.activity.customer_id" ng-disabled="vmMod.obj.disable_customer"></selectize>
										</div>
									</div>
								</div>
								<div class="new_a_row">
									<label class="control-label col-xs-3 col-sm-3 col-md-3 text-left">{l}Contact{endl}</label>
									<div class="col-xs-9 col-sm-9 col-md-9">						
										<div class="so-field act_pad">
									
											<selectize config='vmMod.contactAutoCfg' options='vmMod.contacts' ng-model="vmMod.activity.contact_ids" ng-disabled="vmMod.obj.disable_contact"></selectize>
						
										</div>
									</div>
								</div>
								<div class="new_a_row">
									<label class="control-label col-xs-3 col-sm-3 col-md-3 text-left">{l}Assign to{endl}</label>
									<div class="col-xs-9 col-sm-9 col-md-9">
										<div class="so-field act_pad">
											<selectize config='vmMod.assignAutoCfg' options='vmMod.obj.user_auto' ng-model="vmMod.activity.user_to_id"></selectize>
										</div>
									</div>
								</div>
								<div class="new_a_row" ng-class="{ 'form-group_alert' : activity_form.log_comment.$invalid && !activity_form.log_comment.$pristine }">
									<label class="control-label col-xs-3 col-sm-3 col-md-3 text-left">{l}Description{endl} <span class="mandatory-label">*</span></label>
									<div class="col-xs-9 col-sm-9 col-md-9">
										<textarea ui-tinymce="vmMod.tinymceOptions_new" class="variable_assign_new" ng-model="vmMod.activity.log_comment" name="log_comment"></textarea>
										<div class="alert alert-sm alert-danger" ng-if="activity_form.log_comment.$invalid && vmMod.alertsField.log_comment">{{vmMod.alertsField.log_comment}}</div>
									</div>
								</div>
							</div>
							<div role="tabpanel" class="tab-pane fade" id="note" ng-if="vmMod.activity.task_type=='2' && !vmMod.obj.from_tasks">
								<div class="new_a_row" ng-class="{ 'form-group_alert' : activity_form.comment.$invalid && !activity_form.comment.$pristine }">
									<label class="control-label col-xs-3 col-sm-3 col-md-3 text-left">{l}Subject{endl} <span class="mandatory-label">*</span></label>
									<div class="col-xs-9 col-sm-9 col-md-9">
										<input type="text" class="form-control" ng-model="vmMod.activity.comment" placeholder="{l}Subject{endl}" name="comment">
										<div class="alert alert-sm alert-danger" ng-if="activity_form.comment.$invalid && vmMod.alertsField.comment">{{vmMod.alertsField.comment}}</div>
									</div>
								</div>
								<!-- <div class="new_a_row">
									<label class="control-label col-sm-3 col-md-3 text-left">{l}Due date{endl}</span></label>
									<div class="col-sm-9 col-md-9">
										<div class="row">
											<div class="so-field col-md-5">
												<span class="fa fa-calendar so-icon"></span>
												<input type="text" class="form-control" ng-model="vmMod.activity.date" uib-datepicker-popup="{{vmMod.obj.account_date_format}}" is-open="vmMod.open.start_date" datepicker-options="vmMod.dateOptions" close-text="Close" placeholder="{l}Date{endl}" show-button-bar="false" ng-click="vmMod.open.start_date = true" ng-change="vmMod.changeTime(vmMod.activity.date, vmMod.activity.dateHours, true)">
											</div>
											<label class="control-label  col-md-2 text-left">{l}Time{endl}</span></label>
											<div class="so-field col-md-5 act_pad">
												<input class="act_time"  type="time" ng-model="vmMod.activity.dateHours" ng-change="vmMod.changeTime(vmMod.activity.date,vmMod.activity.dateHours,true)">
											</div>
										</div>
									</div>
								</div>
								<div class="new_a_row">
									<label class="control-label col-sm-3 col-md-3 text-left">{l}Reminder{endl}</label>
									<div class="col-sm-9 col-md-9 act_pad">
										<selectize config='vmMod.reminderAutoCfg' options='vmMod.obj.reminder_dd' ng-model="vmMod.activity.reminder_id"></selectize>
									</div>
								</div> -->
								<div class="new_a_row">
									<label class="control-label col-xs-3 col-sm-3 col-md-3 text-left">{l}Account{endl}</label>
									<div class="col-xs-9 col-sm-9 col-md-9">
										<div class="so-field act_pad">
									
											<selectize config='vmMod.accountAutoCfg' options='vmMod.accounts' ng-model="vmMod.activity.customer_id" ng-disabled="vmMod.obj.disable_customer"></selectize>
										</div>
									</div>
								</div>
								<div class="new_a_row">
									<label class="control-label col-xs-3 col-sm-3 col-md-3 text-left">{l}Contact{endl}</label>
									<div class="col-xs-9 col-sm-9 col-md-9">						
										<div class="so-field act_pad">
									
											<selectize config='vmMod.contactAutoCfg' options='vmMod.contacts' ng-model="vmMod.activity.contact_ids" ng-disabled="vmMod.obj.disable_contact"></selectize>
						
										</div>
									</div>
								</div>
								<!-- <div class="new_a_row">
									<label class="control-label col-sm-3 col-md-3 text-left">{l}Assign to{endl}</label>
									<div class="col-sm-9 col-md-9">
										<div class="so-field act_pad">
											<selectize config='vmMod.assignAutoCfg' options='vmMod.obj.user_auto' ng-model="vmMod.activity.user_to_id"></selectize>
										</div>
									</div>
								</div> -->
								<div class="new_a_row" ng-class="{ 'form-group_alert' : activity_form.log_comment.$invalid && !activity_form.log_comment.$pristine }">
									<label class="control-label col-xs-3 col-sm-3 col-md-3 text-left">{l}Description{endl} <span class="mandatory-label">*</span></label>
									<div class="col-xs-9 col-sm-9 col-md-9">
										<textarea ui-tinymce="vmMod.tinymceOptions_new" class="variable_assign_new" ng-model="vmMod.activity.log_comment" name="log_comment"></textarea>
										<div class="alert alert-sm alert-danger" ng-if="activity_form.log_comment.$invalid && vmMod.alertsField.log_comment">{{vmMod.alertsField.log_comment}}</div>
									</div>
								</div>
							</div>
							<div role="tabpanel" class="tab-pane fade" id="meeting" ng-if="vmMod.activity.task_type=='4' && !vmMod.obj.from_tasks">
								<div class="new_a_row" ng-class="{ 'form-group_alert' : activity_form.comment.$invalid && !activity_form.comment.$pristine }">
									<label class="control-label col-xs-3 col-sm-3 col-md-3 text-left">{l}Subject{endl} <span class="mandatory-label">*</span></label>
									<div class="col-xs-9 col-sm-9 col-md-9">
										<input type="text" class="form-control" ng-model="vmMod.activity.comment" placeholder="{l}Subject{endl}" name="comment">
										<div class="alert alert-sm alert-danger" ng-if="activity_form.comment.$invalid && vmMod.alertsField.comment">{{vmMod.alertsField.comment}}</div>
									</div>
								</div>
								<div class="new_a_row">
									<label class="control-label col-xs-3 col-sm-3 col-md-3 text-left">{l}Start date{endl}</span></label>
									<div class="col-xs-9 col-sm-9 col-md-9">
										<div class="row">
											<div class="so-field col-md-5">
												<span class="fa fa-calendar so-icon"></span>
												<input type="text" class="form-control" ng-model="vmMod.activity.date" uib-datepicker-popup="{{vmMod.obj.account_date_format}}" is-open="vmMod.open.start_date" datepicker-options="vmMod.dateOptions" close-text="Close" placeholder="{l}Start Date{endl}" show-button-bar="false" ng-click="vmMod.open.start_date = true" ng-change="vmMod.changeTime(vmMod.activity.date, vmMod.activity.dateHours, true)">
											</div>
										
											<div class="so-field col-md-4 act_pad">

												<input class="act_time" type="time" ng-model="vmMod.activity.dateHours" ng-change="vmMod.changeTime(vmMod.activity.date,vmMod.activity.dateHours,true)">
											</div>
										</div>
									</div>
								</div>
								<div class="new_a_row">
									<label class="control-label col-xs-3 col-sm-3 col-md-3 text-left">{l}End date{endl}</span></label>
									<div class="col-xs-9 col-sm-9 col-md-9">
										<div class="row">
											<div class="so-field col-md-5">
												<span class="fa fa-calendar so-icon"></span>
												<input type="text" class="form-control" ng-model="vmMod.activity.end_d_meet" uib-datepicker-popup="{{vmMod.obj.account_date_format}}" is-open="vmMod.open.end_d_meet" datepicker-options="vmMod.dateOptions" close-text="Close" placeholder="{l}End Date{endl}" show-button-bar="false" ng-click="vmMod.open.end_d_meet = true" ng-change="vmMod.changeTime(vmMod.activity.end_d_meet, vmMod.activity.dateEHours)">
											</div>
											
											<div class="so-field col-md-4 act_pad">

												<input class="act_time" type="time" ng-model="vmMod.activity.dateEHours" ng-change="vmMod.changeTime(vmMod.activity.end_d_meet,vmMod.activity.dateEHours)">
											</div>
										</div>
									</div>
								</div>
								<div class="new_a_row">
									<label class="control-label col-xs-3 col-sm-3 col-md-3 text-left">{l}Reminder{endl}</label>
									<div class="col-xs-9 col-sm-9 col-md-9 act_pad">
										<selectize config='vmMod.reminderAutoCfg' options='vmMod.obj.reminder_dd' ng-model="vmMod.activity.reminder_id"></selectize>
									</div>
								</div>
								<div class="new_a_row">
									<label class="control-label col-xs-3 col-sm-3 col-md-3 text-left">{l}Account{endl}</label>
									<div class="col-xs-9 col-sm-9 col-md-9">
										<div class="so-field act_pad">
										
											<selectize config='vmMod.accountAutoCfg' options='vmMod.accounts' ng-model="vmMod.activity.customer_id" ng-disabled="vmMod.obj.disable_customer"></selectize>
										</div>
									</div>
								</div>
								<div class="new_a_row">
									<label class="control-label col-xs-3 col-sm-3 col-md-3 text-left">{l}Contact{endl}</label>
									<div class="col-xs-9 col-sm-9 col-md-9">						
										<div class="so-field act_pad">
									
											<selectize config='vmMod.contactAutoCfg' options='vmMod.contacts' ng-model="vmMod.activity.contact_ids" ng-disabled="vmMod.obj.disable_contact"></selectize>
						
										</div>
									</div>
								</div>
								<div class="new_a_row">
									<label class="control-label col-xs-3 col-sm-3 col-md-3 text-left">{l}Assign to{endl}</label>
									<div class="col-xs-9 col-sm-9 col-md-9">
										<div class="so-field act_pad">
											<selectize config='vmMod.assignAutoCfg' options='vmMod.obj.user_auto' ng-model="vmMod.activity.user_to_id"></selectize>
										</div>
									</div>
								</div>
								<div class="new_a_row">
									<label class="control-label col-xs-3 col-sm-3 col-md-3 text-left">{l}Location{endl}</label>
									<div class="col-xs-9 col-sm-9 col-md-9">
										<div class="so-field">
											<input type="text" class="form-control" ng-model="vmMod.activity.location_meet" placeholder="{l}Location{endl}" >
										</div>
									</div>
								</div>
								<div class="new_a_row" ng-class="{ 'form-group_alert' : activity_form.log_comment.$invalid && !activity_form.log_comment.$pristine }">
									<label class="control-label col-xs-3 col-sm-3 col-md-3 text-left">{l}Description{endl} <span class="mandatory-label">*</span></label>
									<div class="col-xs-9 col-sm-9 col-md-9">
										<textarea ui-tinymce="vmMod.tinymceOptions_new" class="variable_assign_new" ng-model="vmMod.activity.log_comment" name="log_comment"></textarea>
										<div class="alert alert-sm alert-danger" ng-if="activity_form.log_comment.$invalid && vmMod.alertsField.log_comment">{{vmMod.alertsField.log_comment}}</div>
									</div>
								</div>						
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>

</div>
<div class="modal-footer">
	<button type="button" class="btn btn-plain" data-dismiss="modal" ng-click="vmMod.cancel()">{l}Cancel{endl}</button>
	<button type="button" class="btn btn-default" ng-click="vmMod.ok(activity_form)">{l}Save{endl}</button>
</div>