    <div class="vertical-allign col-md-12">
        <div class="row">
            <div class="col-md-12 text-center">
                <div class="row">
                    <div class="col-md-12 margin-bottom error_img">
                        <img src="images/error_new.png" alt="error">
                    </div>
                    <div class="error_text text-center">
                        <h2>{l}Sorry, the page you're looking for can't be displayed{endl}<span>.</span></h2>
                        <h2>{l}It may have been deleted or you don't have permission to view it{endl}<span>.</span></h2>
                        <h2>{l}Go back to{endl}<a href="customers/" go-to="" state="customers" class="text-link"> {l}Dashboard{endl}</a><span>.</span></h2>
                    </div>
                </div>
            </div>
        </div>
    </div>