<div class="modal-header">
    <button type="button" class="close" aria-label="Close" ng-click="vm.cancel()"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title new_blue" id="myModalLabel2">{l}Notifications{endl}</h4>
</div>
<div class="modal-body">
  <div class="all_read" ng-if="vm.obj.list.length>0">
      <a href="#" ng-click="vm.obj.updateReadAll(1)">{l}Mark all as read{endl}</a>
      <a href="#" ng-click="vm.obj.deleteAll()">{l}Delete all{endl}</a>
  </div>
  <ul class="notif_modal" ng-if="vm.obj.list.length>0">
      <li class="notif_list" ng-class="{ 'normal_font':item.read }" ng-repeat="item in vm.obj.list">
        <h4>{{item.header_text}}</h4>
        <button type="button" class="close" data-dismiss="" aria-label="Close" ng-click="vm.obj.deleteNotification($index)"><i class="fa fa-times" aria-hidden="true"></i>
        </button>
        <label class="container new_radio_akti">
            <input type="radio" name="msg_radio_{{item.id}}" ng-model="item.selected" value="{{item.id}}" ng-click="vm.obj.updateReadState(item)">
            <span class="checkmark"></span>
        </label>
        <p>{l}Click{endl}<a href="#" class="text-link" ng-click="vm.obj.showMore(item)"> {l}here{endl}</a> {l}for more details{endl}</p>
        <span>{{item.time}}</span>
      </li>
  </ul>
  <div class="no_notif" ng-if="!vm.obj.list.length">
    <div class="no_notif_img">
        <img src="images/not_png.png" title="no notif" class="jefact-none">
        <img src="images/je-notif.png" title="no notif" class="akti-none">
    </div>
      <div class="no_notif_txt">
         <h1>{l}No new notifications{endl}</h1>
         <p>{l}When you will get new notifications, you will see them here.{endl}</p>
      </div>
  </div>
</div>
