<div class="modal-body">
	<div class="col-sm-12">
				<div class="row form-group margin-bottom-none">
					<label class="control-label text-left col-sm-4">{l}Subject{endl}</label>
					<label class="control-label col-sm-8">{{vm.item.subject}}</label>
				</div>
				<div class="row form-group margin-bottom-none">
					<label class="control-label text-left col-sm-4">{l}Start Date{endl}</label>
					<label class="control-label col-sm-8">{{vm.item.start_time}}</label>
				</div>
				<div class="row form-group margin-bottom-none">
					<label class="control-label text-left col-sm-4">{l}End Date{endl}</label>
					<label class="control-label col-sm-8">{{vm.item.end_time}}</label>
				</div>
				<div class="row form-group margin-bottom-none">
					<label class="control-label text-left col-sm-4">{l}Location{endl}</label>
					<label class="control-label col-sm-8">{{vm.item.location}}</label>
				</div>
				<div class="row form-group margin-bottom-none">
					<label class="control-label text-left col-sm-4">{l}Contacts{endl}</label>
					<label class="control-label col-sm-8">{{vm.item.contacts}}</label>
				</div>
				<div class="row form-group margin-bottom-none" ng-if="vm.item.message.length">
					<label class="control-label col-sm-4 text-left">{l}Description{endl}</label>
					<label class="control-label col-sm-8"><span ng-bind-html="vm.item.message"></span></label>
				</div>
	</div>
</div>
<div class="modal-footer">
    <button class="btn btn-plain" type="button" ng-click="vm.cancel()">{l}Close{endl}</button>
</div>