<nav ng-if="pagination.pagination">
  <ul class="pager">
    <li ng-class="{'disabled': pagination.currentPage==1}">
    	<a href="#" aria-label="First" ng-click="pagination.setPage(1)">
        	<span aria-hidden="true">{l}First{endl}</span>
        </a>
    </li>
    <li ng-class="{'disabled': pagination.currentPage==1}">
    	<a href="#" aria-label="Previous" ng-click="pagination.setPage(pagination.currentPage-1)">
        	<span aria-hidden="true">{l}Previous{endl}</span>
        </a>
    </li>
    <li ng-repeat="pag in pagination.page track by $index" ng-class="{'active': pag==pagination.currentPage}">
    	<a href="#" ng-click="pagination.setPage(pag)">{{pag}}</a>
    </li>
    <li ng-class="{'disabled': pagination.currentPage==pagination.pages}">
      <a href="#" aria-label="Next" ng-click="pagination.setPage(pagination.currentPage+1)">
        <span aria-hidden="true">{l}Next{endl}</span>
      </a>
    </li>
    <li ng-class="{'disabled': pagination.currentPage==pagination.pages}">
      <a href="#" aria-label="Last" ng-click="pagination.setPage(pagination.pages)">
        <span aria-hidden="true">{l}Last{endl}</span>
      </a>
    </li>
  </ul>
</nav>