<div class="modal-header">
  	<button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="post.cancel()"><span aria-hidden="true">&times;</span></button>
  	<h4 class="modal-title">{l}PostGreen Registration{endl}</h4>
</div>
<div uib-alert ng-repeat="alert in post.alerts" type="{{alert.type}}" close="post.alerts.splice($index, 1);" dismiss-on-timeout="5000" ng-class="['alert-' + (alert.type || 'warning') ]">{{alert.msg}}</div>
<div class="modal-body">
	<div class="loading_wrap loading_alt hidden">
      	<div class="loading"></div>
        	<div class="spinner"></div>
      </div>
	<div class="col-sm-12 col-bottom col-top radio-list">
		<div class="row">
			<p>{l}In order to use PostGreen services you have to complete the following PDF{endl}</p>
			<a href="index.php?do=invoice-post_print" target="_blank"><strong>{l}PostGreen PDF{endl}</strong></a>
		</div>		
		<div class="row">
			<p class="text-muted text-spacer">OR</p>
			<p>{l}if you already done that and received the credentials, complete the following form{endl}:</p>
			<form class="form-horizontal">
				<div class="form-group">
					<label class="control-label col-sm-3"><strong>{l}Username{endl}:</strong></label>
					<div class="col-sm-9">
						<input type="text" class="form-control" ng-model="post.obj.user" />
					</div>
				</div>
				<div class="form-group">
					<label class="control-label col-sm-3"><strong>{l}Password{endl}:</strong></label>
					<div class="col-sm-9">
						<input type="text" class="form-control" ng-model="post.obj.pass" />
					</div>
				</div>
			</form>
		</div>	
	</div>
</div>
<div class="modal-footer">
      <button class="btn btn-plain" type="button" ng-click="post.cancel()">{l}Cancel{endl}</button>
      <button class="btn btn-default" type="button" ng-disabled="!post.obj.user || !post.obj.pass" ng-click="post.ok()">{l}Save{endl}</button>
</div>