<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="time.cancel()"><span aria-hidden="true">&times;</span></button>
  <h4 class="modal-title">{l}Select Customer{endl}</h4>
</div>
<div class="modal-body">
	<div class="col-sm-12">
		<div class="form-group">
			<label class="control-label col-sm-4">{l}Logo{endl}</label>
			<div class="form-group col-sm-8" ng-repeat="logo in time.obj.logo">
				<div class="col-sm-1">
					<input type="radio" value="{{logo.account_logo}}" ng-model="time.obj.default_logo">
				</div>
				<img class="img-thumbnail" ng-src="{{logo.account_logo}}" width="232" height="60" alt="">
			</div>
		</div>
		<div class="form-group">
			<label class="control-label col-sm-4">{l}Type{endl}</label>
			<div class="col-sm-8">
				<select class="form-control" ng-model="time.obj.pdf_layout">					
					<option ng-repeat="option in time.obj.pdf_type_dd track by option.id" value="{{option.id}}" ng-bind-html="option.name"></option>
				</select>
			</div>		
		</div>
		<div class="form-group margin-top">
			<label class="control-label col-sm-4">{l}Customer{endl}</label>
			<div class="col-sm-8">
				<select class="form-control" ng-model="time.obj.customer_id">
					<option value="0">{l}All{endl}</option>
					<option ng-repeat="option in time.obj.customer_dd track by option.id" value="{{option.id}}" ng-bind-html="option.name"></option>
				</select>
			</div>		
		</div>
	</div>
</div>
<div class="modal-footer">
    <button class="btn btn-plain" type="button" ng-click="time.cancel()">{l}Close{endl}</button>
    <button class="btn btn-default" type="button" ng-click="time.ok()">{l}Select{endl}</button>
</div>