<div class="modal-header onboarding">
	<button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="vm.cancel()"><span aria-hidden="true">×</span></button>
</div>
<div class="modal-body onboarding">
		<h2>{l}Let's start with{endl}</h2>
		<div class="col-xs-11">
		<button type="button" class="btn btn-primary btn-add" ng-click="vm.show_page('customer')"><span class="btn-add_icon"><span class="icon-bar"></span><span class="icon-bar-2"></span></span></button>
		<p><a class="text-link" href="" ng-click="vm.show_page('customer')" >{l}add a new account (company/contact){endl}</a></p>
		</div>
		<div class="col-xs-11">
			<button type="button" class="btn btn-primary btn-add" ng-click="vm.show_page('article')"><span class="btn-add_icon"><span class="icon-bar"></span><span class="icon-bar-2"></span></span></button>
		<p><a class="text-link" href="" ng-click="vm.show_page('article')" >{l}add a new product or service{endl}</a></p>
		</div>
		<div class="col-xs-11">
		<button type="button" class="btn btn-primary btn-add" ng-click="vm.show_page('quote')"  ><span class="btn-add_icon"><span class="icon-bar"></span><span class="icon-bar-2"></span></span></button>
		<p><a class="text-link" href="" ng-click="vm.show_page('quote')" >{l}create a new quote{endl}</a></p>
		</div>
		<div class="col-xs-11">
			<button type="button" class="btn btn-primary btn-add dropdown-toggle" data-toggle="dropdown" ng-click="vm.show_page('invoice')" aria-haspopup="true" aria-expanded="false" ><span class="btn-add_icon"><span class="icon-bar"></span><span class="icon-bar-2"></span></span></button>
		<p><a class="text-link" href="" ng-click="vm.show_page('invoice')">{l}create an new invoice{endl}</a></p>
		</div>
	<!-- 	<div class="col-xs-11">
		<a href="http://akti.com/help" target="_blank"><span class="akti-icon akti-icon-16 o_akti_help"></span><strong>see the intro video</strong></a></div> -->
		<div class="col-xs-11">
		</div>