<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="vmMod.cancel()"><span aria-hidden="true">&times;</span></button>
  <h4 class="modal-title">Add user</h4>
</div>
<div class="modal-body modal-body_alt">
      <div class="section-content">
        <div uib-alert ng-repeat="alert in vmMod.alerts" type="{{alert.type}}" close="vmMod.alerts.splice($index, 1);" ng-class="['alert-' + (alert.type || 'warning') ]">{{alert.msg}}</div>
        <form class="form-horizontal text-left">
          <div class="form-group">
            <label class="col-sm-5 col-lg-4 control-label">{l}Add users{endl}</label>
            <div class="col-sm-7 col-lg-8">
              <textarea id="inputstreet" class="form-control" ng-model="vm.emails" type="text"></textarea>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-5 col-lg-4 control-label">{l}Add user{endl}</label>
            <div class="col-sm-7 col-lg-8">
              <toggle-switch on-change="vm.activeuser(vm.user)" ng-model="vm.user" class="switch-primary" on-label="{l}Yes{endl}" off-label="{l}No{endl}"></toggle-switch>
            </div>
          </div>
          <div class="form-group" ng-if="vm.user">
            <label class="col-sm-5 col-lg-4 control-label">{l}First name{endl}</label>
            <div class="col-sm-7 col-lg-8">
              <input id="inputzip" class="form-control" ng-model="vm.first_name" type="text">
            </div>
          </div>
          <div class="form-group" ng-if="vm.user">
            <label class="col-sm-5 col-lg-4 control-label">{l}Last name{endl}</label>
            <div class="col-sm-7 col-lg-8">
              <input id="inputzip" class="form-control" ng-model="vm.last_name" type="text">
            </div>
          </div>
          <div class="form-group" ng-if="vm.user">
            <label class="col-sm-5 col-lg-4 control-label">{l}Username{endl}</label>
            <div class="col-sm-7 col-lg-8">
              <input id="inputzip" class="form-control" ng-model="vm.username" type="text">
            </div>
          </div>
          <div class="form-group" ng-if="vm.user">
            <label class="col-sm-5 col-lg-4 control-label">{l}Email{endl}</label>
            <div class="col-sm-7 col-lg-8">
              <input id="inputzip" class="form-control" ng-model="vm.email" type="text">
            </div>
          </div>
          <div class="form-group" ng-if="vm.user">
            <label class="col-sm-5 col-lg-4 control-label">{l}Password{endl}</label>
            <div class="col-sm-7 col-lg-8">
              <input id="inputzip" class="form-control" ng-model="vm.password" type="password">
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-5 col-lg-4 control-label">{l}Add group{endl}</label>
            <div class="col-sm-7 col-lg-8">
              <toggle-switch on-change="vm.activegroup(vm.group)" ng-model="vm.group" class="switch-primary" on-label="{l}Yes{endl}" off-label="{l}No{endl}"></toggle-switch>
            </div>
          </div>
        </form>
              <div class="form-horizontal" ng-if="vm.group">
                    <div class="form-group">
		              <label class="col-sm-5 col-lg-4 control-label">{l}Group Name{endl}:</label>
		                    <div class="col-sm-7 col-lg-8">
		                      <input type="input" class="form-control" ng-model="vm.NAME" >
		                    </div>
		            </div>
                  <div class="form-group ">
                    <label class="col-xs-4 control-label text-left">{l}CRM{endl}:</label>
                    <div class="col-xs-5 col-md-8 checkbox checkbox-primary">
                      <input type="checkbox" ng-model="vm.CRM" id="checkbox1" ng-disabled="vm.disabled">
                      <label for="checkbox1">
                      </label>
                    </div>
                  </div>
                  <div class="form-group ">
                    <label class="col-xs-4 control-label text-left">{l}Catalogue{endl}:</label>
                    <div class="col-xs-5 col-md-8 checkbox checkbox-primary">
                      <input type="checkbox" ng-model="vm.ARTICLES" id="checkbox2" ng-disabled="vm.disabled">
                      <label for="checkbox2">
                      </label>
                    </div>
                  </div>
                  <div class="form-group ">
                    <label class="col-xs-4 control-label text-left">{l}Orders{endl}:</label>
                    <div class="col-xs-5 col-md-8 checkbox checkbox-primary">
                      <input type="checkbox" ng-model="vm.ORDERS" id="checkbox3" ng-disabled="vm.disabled">
                      <label for="checkbox3">
                      </label>
                    </div>
                  </div>
                  <div class="form-group ">
                    <label class="col-xs-4 control-label text-left">{l}Purchase Orders{endl}:</label>
                    <div class="col-xs-5 col-md-8 checkbox checkbox-primary">
                      <input type="checkbox" ng-model="vm.PO_ORDERS" id="checkbox4" ng-disabled="vm.disabled">
                      <label for="checkbox4">
                      </label>
                    </div>
                  </div>
                  <div class="form-group" >
                    <label class="col-xs-4 control-label text-left">{l}Quotes{endl}:</label>
                    <div class="col-xs-5 col-md-8 checkbox checkbox-primary">
                      <input type="checkbox" ng-model="vm.QUOTES" id="checkbox5"  ng-disabled="vm.disabled">
                      <label for="checkbox5">
                      </label>
                    </div>
                  </div>
                  <div class="form-group" >
                    <label class="col-xs-4 control-label text-left">{l}Projects{endl}:</label>
                    <div class="col-xs-5 col-md-8 checkbox checkbox-primary">
                      <input type="checkbox" ng-model="vm.PROJECTS" id="checkbox6"  ng-disabled="vm.disabled">
                      <label for="checkbox6">
                      </label>
                    </div>
                  </div>
                  <div class="form-group" >
                    <label class="col-xs-4 control-label text-left">{l}Intervention{endl}:</label>
                    <div class="col-xs-5 col-md-8 checkbox checkbox-primary">
                      <input type="checkbox" ng-model="vm.MAINTENANCE" id="checkbox7" ng-disabled="vm.disabled">
                      <label for="checkbox7">
                      </label>
                    </div>
                  </div>
                  <div class="form-group" >
                    <label class="col-xs-4 control-label text-left">{l}Contracts{endl}:</label>
                    <div class="col-xs-5 col-md-8 checkbox checkbox-primary">
                      <input type="checkbox" ng-model="vm.CONTRACTS" id="checkbox8" ng-disabled="vm.disabled">
                      <label for="checkbox8">
                      </label>
                    </div>
                  </div>
                  <div class="form-group" >
                    <label class="col-xs-4 control-label text-left">{l}Invoices{endl}:</label>
                    <div class="col-xs-5 col-md-8 checkbox checkbox-primary">
                      <input type="checkbox" ng-model="vm.BILLING" id="checkbox9" ng-disabled="vm.disabled">
                      <label for="checkbox9">
                      </label>
                    </div>
                  </div>
                  <div class="form-group" >
                    <label class="col-xs-4 control-label text-left">{l}Webshop{endl}:</label>
                    <div class="col-xs-5 col-md-8 checkbox checkbox-primary">
                      <input type="checkbox" ng-model="vm.WEBSHOP" id="checkbox10" ng-disabled="vm.disabled">
                      <label for="checkbox10">
                      </label>
                    </div>
                  </div>
            </div>
      </div>    
</div>
<div class="modal-footer">
    <button class="btn btn-plain" type="button" ng-click="vmMod.cancel()">{l}Close{endl}</button>
    <button class="btn btn-default" type="button" ng-if="!vm.user && !vm.group" ng-click="vm.ok()">{l}Save{endl}</button>
    <button class="btn btn-default" type="button" ng-if="vm.user && !vm.group" ng-click="vm.add_user()">{l}Save{endl}</button>
    <button class="btn btn-default" type="button" ng-if="vm.group" ng-click="vm.add_group(vm.CRM,vm.ARTICLES,vm.ORDERS,vm.PO_ORDERS,vm.QUOTES,vm.PROJECTS,vm.MAINTENANCE,vm.CONTRACTS,vm.BILLING,vm.WEBSHOP,vm.TIMESHEET,vm.GROUP_ID,vm.NAME)">{l}Save{endl}</button>
</div>
