<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="post.cancel()"><span aria-hidden="true">&times;</span></button>
  <h4 class="modal-title" ng-if="post.obj.old_obj.no_status!='1'">{{post.obj.status}}</h4>
  <h4 class="modal-title" ng-if="post.obj.old_obj.no_status=='1'">{l}Send by Post{endl}</h4>
</div>
<div uib-alert ng-repeat="alert in post.alerts" type="{{alert.type}}" close="post.alerts.splice($index, 1);" dismiss-on-timeout="5000" ng-class="['alert-' + (alert.type || 'warning') ]">{{alert.msg}}</div>
<div class="modal-body modal-body_alt">
	<div class="loading_wrap loading_alt hidden">
      	<div class="loading"></div>
        <div class="spinner"></div>
    </div>
	<div class="row page-content">
		<div class="col-xs-12 margin-bottom" ng-if="post.obj.old_obj.post_library.length">
			<div class="form-group">
                <label class="col-sm-4 control-label"><strong>{l}E-stationary{endl}</strong></label>
                <div class="col-sm-8">
                    <selectize config='post.stationaryCfg' options='post.obj.old_obj.post_library' ng-model="post.obj.old_obj.stationary_id" ></selectize>
                </div>
            </div>	
		</div>
		<div class="col-xs-12 text-center">
			<button class="btn btn-default" type="button" ng-click="post.resend()" ng-if="post.obj.old_obj.no_status!='1'">{l}Send Again by Post{endl}</button>
			<button class="btn btn-default" type="button" ng-click="post.resend()" ng-if="post.obj.old_obj.no_status=='1'">{l}Send by Post{endl}</button>
			<!-- <div class="btn-group" uib-dropdown is-open="false">
		      <button id="single-button" type="button" class="btn btn-default" uib-dropdown-toggle>
		        {l}Send by Post{endl} <span class="caret"></span>
		      </button>
		      <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="single-button">
		        <li role="menuitem" ng-click="post.resend(1)"><a href="#">{l}Normal Envelope{endl}</a></li>
		        <li role="menuitem" ng-click="post.resend(2)"><a href="#">{l}Recommended Envelope{endl}</a></li>
		      </ul>
		    </div> -->	
		</div>
	</div>
</div>
<div class="modal-footer">
    <button class="btn btn-plain" type="button" ng-click="post.cancel()">{l}Close{endl}</button>
</div>