<div class="so-field-content dropdown-menu dropdown-menu-left show perfect_align {{temp_plan.align}}">
	<div class="row">
		<p col-xs-12>{{temp_plan.title}}</p>
		<div class="form-group col-xs-12">
			<label class="control-label"><span>{l}Block day{endl}</span></label>
			<div class="form-group">
				<toggle-switch on-change="updateBlockDay()"  ng-model="temp_plan.block_day" class="switch-primary"  on-label="{l}Yes{endl}" off-label="{l}No{endl}"></toggle-switch>
			</div>
	      </div>
		<a href="#" class="col-xs-12" ui-sref="service.edit({'service_id': 'tmp', 'for_user':temp_plan.for_user})">{l}Create New Intervention{endl}</a>
	</div>															
</div>