<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="vmMod.cancel()"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title">{l}Scan Barcodes{endl}</h4>
  </div>
  <div class="modal-body">
      <div uib-alert ng-repeat="alert in vmMod.alerts" type="{{alert.type}}" close="vmMod.alerts.splice($index, 1);" ng-class="['alert-' + (alert.type || 'warning') ]" ng-bind-html="alert.msg"></div>

	 <form class="form-horizontal text-left ng-pristine ng-valid" name="scanbar_form" novalidate="" >
		<div class="form-group">
			<div class="col-sm-12" class="ng-clock">   
			<textarea autofocus id="scanbar" class="form-control ng-pristine ng-valid ng-touched" rows="13" type="text" ng-model="vmMod.obj.barcodes" placeholder="{l}Scan your barcodes here{endl}"></textarea></div>
		</div>	      
  </form>


  </div>
  <div class="modal-footer">
      <button class="btn btn-plain" type="button" ng-click="vmMod.cancel()">{l}Close{endl}</button>
      <button class="btn btn-default" type="button" ng-disabled="!vmMod.obj.barcodes" ng-click="vmMod.ok(vmMod.obj.barcodes)">{l}Process{endl}</button>
  </div>