<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="vmMod.cancel()"><span aria-hidden="true">&times;</span></button>
  <h4 class="modal-title">{l}Scan barcodes warning{endl}</h4>
</div>
<div class="modal-body">
	
	<div>
		<div>
      
        <p>{l}Please review your sales order. The following barcode(s) could not be found:{endl} </p>
        <div class="row">
        <div class="col-sm-11" ng-bind-html="vmMod.obj.not_found"></div></div>
	</div>
</div>
<div class="modal-footer">
    <button class="btn btn-default" type="button" ng-click="vmMod.ok()">{l}Close{endl}</button>
</div>
