<div class="modal-header">
  	<button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="tsk.cancel()"><span aria-hidden="true">&times;</span></button>
  	<h4 class="modal-title">{{tsk.title}}</h4>
</div>
<div class="modal-body modal-body_alt">
	<div class="loading_wrap loading_alt hidden">
		<div class="loading"></div>
		<div class="spinner"></div>
	</div>
	<div uib-alert ng-repeat="alert in tsk.alerts" type="{{alert.type}}" close="tsk.alerts.splice($index, 1);" dismiss-on-timeout="3500" ng-class="['alert-' + (alert.type || 'warning') ]">{{alert.msg}}</div>
	<form class="form-horizontal text-left">
		<div class="form-group" ng-if="tsk.obj.t_type=='0'">
			<label class="col-sm-3 control-label">{l}Select project{endl}</label>
			<div class="col-sm-9">
				<selectize config='tsk.projectAutoCfg' options='tsk.obj.auto_project' ng-model="tsk.obj.item.project_id" id="p_list"></selectize>
			</div>
		</div>
		<div class="form-group" ng-if="tsk.obj.t_type=='1' || tsk.obj.t_type=='2'">
			<label class="col-sm-3 control-label">{l}Select customer{endl}</label>
			<div class="col-sm-9">
				<selectize config='tsk.customerAutoCfg' options='tsk.obj.auto_customer' ng-model="tsk.obj.item.c_id" id="c_list"></selectize>
			</div>
		</div>
		<div class="form-group" ng-if="tsk.obj.t_type=='0' || tsk.obj.t_type=='1'">
			<label class="col-sm-3 control-label">{l}Select task{endl}</label>
			<div class="col-sm-9">
				<selectize config='tsk.taskAutoCfg' options='tsk.obj.auto_task' ng-model="tsk.obj.item.tasks_id" id="task_id"></selectize>
			</div>
		</div>
		<div class="form-group" ng-if="tsk.obj.t_type=='2'">
			<label class="col-sm-3 control-label">{l}Select Service{endl}</label>
			<div class="col-sm-9">
				<selectize config='tsk.serviceAutoCfg' options='tsk.obj.auto_service' ng-model="tsk.obj.item.tasks_id" id="services_list"></selectize>
			</div>
		</div>
	</form>
</div>
<div class="modal-footer">
	<button class="btn btn-plain" type="button" ng-click="tsk.cancel()">{l}Close{endl}</button>
	<button class="btn btn-default" type="button" ng-click="tsk.ok()">{l}Save{endl}</button>
</div>