<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="vm.cancel()"><span aria-hidden="true">&times;</span></button>
  <h4 class="modal-title">{l}Avatars{endl}</h4>
</div>
<div class="modal-body">
    <div class="col-sm-12">
    	<div class="row drop_images">
          <div class="col-sm-2 margin-top" ng-repeat="item in vm.obj.images">
            <div class="image avatars">
              <img class="link-pointer" ng-src="{{item.url}}" ng-click="vm.attachAvatar(item.url)"/>
            </div>
          </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-plain" type="button" ng-click="vm.cancel()">{l}Close{endl}</button>
</div>