<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="vmMod.cancel()"><span aria-hidden="true">&times;</span></button>
  <h4 class="modal-title">
    {l}Manage list{endl}
    <button class="btn btn-primary btn-add" type="button" ng-click="vmMod.openModal('AddEntry','','md',vmMod.obj.table,vmMod.obj.extra_id)" uib-tooltip="{l}New Entry{endl}" tooltip-placement="right">
      <span class="btn-add_icon">
      <span class="icon-bar"></span>
      <span class="icon-bar-2"></span>
      </span>
    </button>
  </h4>
</div>
<div class="modal-body">
  <div uib-alert ng-repeat="alert in vmMod.alerts" type="{{alert.type}}" close="vmMod.alerts.splice($index, 1);" ng-class="['alert-' + (alert.type || 'warning') ]">{{alert.msg}}</div>
  <p class="text-muted">{l}Drag to re-order the items{endl}</p>
  <table class="table table_head_only table_orders" cellspacing="0" cellpadding="0">
    <thead>
      <tr>
        <th>
          <div class="row">
            <div class="col-sm-12 col-article">{l}Name{endl}</div>            
          </div>
        </th>
      </tr>
    </thead>
  </table>
 <ul class="table table_orders sort_column drag_table manage_list" role="tablist" data-as-sortable="dragControlListeners" data-ng-model="vmMod.obj.lines">
    <li  ng-repeat="item in vmMod.obj.lines"  ng-if="item.id!='0'" data-as-sortable-item>
      <div class="row" data-as-sortable-item-handle>
        <div class="row_handler">
          <span class="btn-drag drop">&nbsp;</span>
        </div>
        <div class="col-sm-11">{{item.name}}</div>
        <div class="table_actions">
          <div class="btn-group" uib-dropdown>
            <button type="button" class="btn btn-plain dropdown-toggle" uib-dropdown-toggle>
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu dropdown-menu-right" uib-dropdown-menu>
              <li class="dropdown-header">{l}Action{endl}</li>
              <li><a href="#" ng-click="vmMod.openModal('AddEntry',item.id,'md',vmMod.obj.table,vmMod.obj.extra_id)" ><span class="fas fa-pen text-primary"></span> {l}Edit{endl}</a>
              </li>
              <li><a href="#" ng-click="vmMod.removeLine($index)"><i class="fa fa-trash" aria-hidden="true"></i> {l}Delete{endl}</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </li>
  </ul>
<!--   <div class="table_orders-add">
    <button class="btn btn-block btn-blank add_article" ng-click="vmMod.addLine()" ><span class="fa fa-plus icon-holder"></span>{l}Add row{endl}</button>
  </div> -->
</div>
<div class="modal-footer">
    <button class="btn btn-plain" type="button" ng-click="vmMod.cancel()">{l}Close{endl}</button>
    <button class="btn btn-default" type="button" ng-click="vmMod.ok()">{l}Save{endl}</button>
</div>
