<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="vm.cancel()"><span aria-hidden="true">&times;</span></button>
  <h4 class="modal-title">{l}Send by Email{endl}</h4>
</div>
<div class="modal-body content-mail">
	<div class="col-sm-12">
		<div class="row">
			<form class="form-horizontal text-left">
				<!-- <div ng-if="vm.obj.app == 'invoice' && vm.obj.DRAFT_INVOICE_NO_NUMBER" class="form-group" ng-class="{ 'form-group_alert_alt' : vm.obj.red_inp=='red_inp' }">
	                <label class="col-sm-3 control-label">{l}Date{endl}</label>
	                <div class="col-sm-3">
	                  <input type="text" class="form-control" ng-model="vm.obj.invoice_date" uib-datepicker-popup="{{vm.format}}" is-open="vm.datePickOpen.invoice_date" datepicker-options="vm.dateOptions" close-text="Close" placeholder="{l}Sent date{endl}" show-button-bar="false" ng-click="vm.datePickOpen.invoice_date=true" name="invoice_date" required />
	                  <div ng-class="{'alert alert-sm alert-info' : vm.obj.red_inp=='red_inp'}"></div>
	                </div> 
	            </div> -->
	            <div class="form-group">
		            <label for="" class="col-sm-2 control-label">{l}Recipients{endl}<span class="mandatory-label">*</span></label>
		            <div class="col-sm-10">
		              <selectize config='vm.contactForEmailAutoCfg' options='vm.obj.recipients' ng-model="vm.obj.email.recipients" required></selectize>
		            </div>
		        </div>
		        <div class="form-group">
		            <label for="" class="col-sm-2 control-label">{l}Send a copy to{endl}</label>
		            <div class="col-sm-10">
		            	<div class="row">
		            		<div class="clearfix link-pointer">
		            			<div class="col-sm-12">
			            			<div class="checkbox checkbox-primary">
						              <input type="checkbox" class="link-pointer" id="checkbox1" ng-model="vm.obj.email.copy" name="copy">
						              <label for="checkbox1"></label>
						            </div>
						            <div class="text-email">
						            	<label class="control-label link-pointer" ng-click="vm.obj.email.copy=!vm.obj.email.copy">{l}Me{endl}</label>
						            </div>
			            		</div>
		            		</div>
		            		<div class="clearfix" ng-if="!vm.obj.app_mod && vm.obj.app != 'stock' && vm.obj.app != 'p_order'">
		            			<div class="col-sm-12">
		            				<div class="checkbox checkbox-primary">
						              <input type="checkbox" class="link-pointer" id="checkbox2" ng-model="vm.obj.email.copy_acc" >
						              <label for="checkbox2"></label>
						            </div>
				            		<div class="text-email">
				            			<label class="control-label link-pointer" ng-click="vm.obj.email.copy_acc=!vm.obj.email.copy_acc">{l}Account Manager{endl}</label>
				            		</div>
			            		</div>
			            	</div>          		
		            	</div>
		            </div>
		        </div>
		        <div class="form-group">
		            <label for="" class="col-sm-2 control-label">{l}Subject{endl}</label>
		            <div class="col-sm-10">
		              <input type="text" class="form-control" ng-model="vm.obj.email.e_subject" placeholder="{l}Subject{endl}">
		            </div>
		        </div>
		        <div class="form-group">
		            <label for="" class="col-sm-2 control-label">{l}Message{endl}</label>
		            <div class="col-sm-10">
		              <textarea class="form-control" ng-model="vm.obj.email.e_message" placeholder="{l}Message{endl}" rows="10" ng-if="vm.obj.use_html=='0'"></textarea>
		              <textarea ui-tinymce="vm.tinymceOptions" ng-model="vm.obj.email.e_message" class="form-control mail_send" ng-if="vm.obj.use_html=='1'"></textarea>
		            </div>
		        </div>
		        <div class="form-group">
		        	<label for="" class="col-sm-2 control-label">{l}Attachments{endl}</label>
		        	<div class="col-sm-10">
		        		<div class="row">
		        			<div class="clearfix" ng-if="(vm.obj.app == 'maintenance' && !vm.obj.deny_view_article_price) || vm.obj.app != 'maintenance'">
		        				<div class="col-sm-12">
		        					<div class="checkbox checkbox-primary">
						              <input type="checkbox" class="link-pointer" id="checkbox3" ng-model="vm.obj.email.include_pdf" >
						              <label for="checkbox3">
						              </label>
						            </div>
			        				<div class="text-email">
			        					<label for="" class="control-label link-pointer" ng-click="vm.obj.email.include_pdf=!vm.obj.email.include_pdf">
			        						<span ng-if="vm.obj.app == 'invoice'">{l}Include a PDF version of the invoice{endl}</span>
			        						<span ng-if="vm.obj.app == 'quote'">{l}Add a PDF-version of the quote{endl}</span>
			        						<span ng-if="vm.obj.app == 'contract'">{l}Include a PDF version of the contract{endl}</span>
			        						<span ng-if="vm.obj.app == 'order'">{l}Include a PDF version of the order{endl}</span>
			        						<span ng-if="vm.obj.app == 'p_order'">{l}Include a PDF version of the prurchase order{endl}</span>
			        						<span ng-if="vm.obj.app == 'maintenance'">{l}Include a PDF version of the intervention{endl}</span>
			        						<span ng-if="vm.obj.app == 'stock'">{l}Include a PDF version of the stock dispatching{endl}</span>
			        					</label>
			        				</div>
		        				</div>
		        			</div>
		        			<div class="clearfix" ng-if="vm.obj.app == 'invoice' && vm.obj.xml_available">
		        				<div class="col-sm-12">
		        					<div class="checkbox checkbox-primary">
						              <input type="checkbox" class="link-pointer" id="checkbox4" ng-model="vm.obj.email.include_xml" >
						              <label for="checkbox4">
						              </label>
						            </div>
			        				<div class="text-email">
			        					<label for="" class="control-label link-pointer" ng-click="vm.obj.email.include_xml=!vm.obj.email.include_xml">{l}Include an XML version of the invoice{endl}</label>
			        				</div>
		        				</div>
		        			</div>
		        			<div class="clearfix" ng-if="vm.obj.is_file">
		        				<div class="clearfix" ng-repeat="item in vm.obj.email.files">
		        					<div class="col-sm-12">
		        						<div class="checkbox checkbox-primary">
							              <input type="checkbox" class="link-pointer" id="checkbox_files_{{$index}}" ng-model="item.checked" >
							              <label for="checkbox_files_{{$index}}"></label>
							            </div>
				        				<div class="text-email">
				        					<label for="" class="control-label link-pointer" ng-click="item.checked=!item.checked">{{item.file}}</label>
				        				</div>
			        				</div>
		        				</div>     				
		        			</div>
		        			<div class="clearfix" ng-if="vm.obj.app == 'maintenance' ">
		        				<div class="col-sm-12">
		        					<div class="checkbox checkbox-primary">
						              <input type="checkbox" class="link-pointer" id="checkbox5" ng-model="vm.obj.attach_calendar" >
						              <label for="checkbox4">
						              </label>
						            </div>
			        				<div class="text-email">
			        					<label for="" class="control-label link-pointer" ng-click="vm.obj.attach_calendar=!vm.obj.attach_calendar" >{l}Calendar invite{endl}</label>
			        				</div>
		        				</div>
		        			</div>
		        			<div class="clearfix" ng-if="vm.obj.dropbox.dropbox_is_file">
		        				<div class="clearfix" ng-repeat="item in vm.obj.dropbox.dropbox_files">
		        					<div class="col-sm-12" ng-if="!item.is_url">
		        						<div class="checkbox checkbox-primary">
							              <input type="checkbox" class="link-pointer" id="checkbox_drop_{{$index}}" ng-model="item.checked" >
							              <label for="checkbox_drop_{{$index}}"></label>
							            </div>
				        				<div class="text-email">
				        					<label for="" class="control-label link-pointer" ng-click="item.checked=!item.checked">{{item.file}}</label>
				        				</div>
				        			</div>
		        				</div>
		        			</div>
		        		</div>
		        	</div>
		        </div>
			</form>
		</div>
	</div>
</div>
<div class="modal-footer">
    <div class="col-sm-12">
    	<button class="btn btn-plain" type="button" ng-click="vm.cancel()">{l}Cancel{endl}</button>
    	<button class="btn btn-default" type="button" ng-disabled="!vm.obj.email.recipients.length" ng-click="vm.sendEmails()">{{ vm.save_btn }}</button>
    </div>
</div>