<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="vm.cancel()"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title">{l}Share calendar{endl}</h4>
</div>
<div class="modal-body">
    <div class="loading_wrap loading_alt hidden">
        <div class="loading"></div>
        <div class="spinner"></div>
    </div>
    <!-- <div uib-alert ng-repeat="alert in vm.alerts" type="{{alert.type}}" close="vm.alerts.splice($index, 1);" dismiss-on-timeout="3500" ng-class="['alert-' + (alert.type || 'warning') ]">{{alert.msg}}</div> -->
    <div uib-alert type="notice" class="alert-warning" ng-if="!vm.item.list.length">{l}No data to display{endl}</div>
    <table class="table orderTable" cellspacing="0" cellpadding="0" ng-if="vm.item.list.length">
        <thead>
            <tr>
                <th class="col-sm-8">{l}Lastname - Firstname{endl}</th>
                <th class="col-sm-2 text-center">{l}Read{endl}</th>
                <th class="col-sm-2 text-center">{l}Read/Edit{endl}</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="user in vm.item.list">
                <td><a href="#" ng-click="vm.view_user(user.user_id)">{{user.NAME}}</a></td>
                <td class="text-center"><input type="checkbox" ng-model="user.read" ng-disabled="user.disabled" ng-click="vm.share('1',$index)"></td>
                <td class="text-center"><input type="checkbox" ng-model="user.read_write" ng-disabled="user.disabled" ng-click="vm.share('2',$index)"></td>
            </tr>
        </tbody>
    </table>
    <ul ng-if="vm.item.max_rows > 30" uib-pagination total-items="vm.item.max_rows" ng-model="vm.search.offset" ng-change="vm.searchThing()" max-size="5" class="pager" boundary-links="true" items-per-page="vm.item.lr"></ul>
</div>
<div class="modal-footer">
    <button class="btn btn-plain" type="button" ng-click="vm.cancel()">{l}Close{endl}</button>
</div>