<div class="modal-body">
	<div class="col-sm-12 text-center">
		<img ng-src="{{rec.img}}">
	</div>
</div>
<div class="modal-footer">
    <button class="btn btn-plain" type="button" ng-click="rec.cancel()">{l}Close{endl}</button>
</div>