<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="vm.cancel()"><span aria-hidden="true">&times;</span></button>
  <h4 class="modal-title">{l}Calendars{endl}</h4>
</div>
<div class="modal-body modal-body_alt">
	<div class="loading_wrap loading_alt hidden">
      	<div class="loading"></div>
        	<div class="spinner"></div>
    </div>
    <div uib-alert ng-repeat="alert in vm.alerts" type="{{alert.type}}" close="vm.alerts.splice($index, 1);" dismiss-on-timeout="3500" ng-class="['alert-' + (alert.type || 'warning') ]">{{alert.msg}}</div>
    <div class="col-sm-12">
    	<div class="form-group">
    		<label class="text-left control-label col-sm-4">{l}Calendar where to sync Akti events{endl} <a href="#" class="pull-right"><span class="glyphicon glyphicon-info-sign" uib-tooltip="{l}Your main calendar has the same address as your registered e-mail{endl}" tooltip-placement="right"></span></a></label>
    		<div class="col-sm-6">
    			<select class="form-control" ng-model="vm.item.calendar_id">
    				<option value='0'>{l}Select{endl}</option>
                    <option ng-repeat="option in vm.item.calendar_dd track by option.id" value="{{option.id}}" ng-bind-html="option.name"></option>
    			</select>
    		</div>
    	</div>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-plain" type="button" ng-click="vm.cancel()">{l}Close{endl}</button>
    <button class="btn btn-default" type="button" ng-click="vm.ok()">{l}Ok{endl}</button>
</div>