<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="note.cancel()"><span aria-hidden="true">&times;</span></button>
  <h4 class="modal-title">{{note.obj.title}} <button type="button" class="btn btn-primary btn-add" aria-haspopup="true" uib-tooltip="{l}Add time row{endl}" tooltip-placement="right" ng-if="!note.obj.disabled && note.obj.type=='0'" ng-click="note.addTimeRow()"><span class="btn-add_icon"><span class="icon-bar"></span><span class="icon-bar-2"></span></span></button></h4>
</div>
<div class="modal-body modal-body_alt">
	<div class="loading_wrap loading_alt hidden">
		<div class="loading"></div>
		<div class="spinner"></div>
	</div>
	<div uib-alert ng-repeat="alert in note.alerts" type="{{alert.type}}" close="note.alerts.splice($index, 1);" dismiss-on-timeout="1500" ng-class="['alert-' + (alert.type || 'warning'), 'alert-fixed','alert-fixed-timesheet', 'alert-fixed-modal' ]">{{alert.msg}}</div>
	<table class="table timepicker margin-top" cellspacing="0" cellpadding="0" ng-if="note.obj.type=='0'">
		<thead>
			<tr>
				<th class="col-sm-1 sortable_row text-center" ng-class="{ 'sortable_row-up':(!note.reverse && note.ord=='start_time') , 'sortable_row-down':(note.reverse && note.ord=='start_time') }" ng-click="note.orderBY('start_time')">{l}Start time{endl}</th>
				<th class="col-sm-1 text-center">{l}End time{endl}</th>
				<th class="col-sm-1 text-center">{l}Break{endl}</th>
				<th class="col-sm-7">{l}Comment{endl}</th>
				<th class="col-sm-2 timesheet_cell_total text-center timesheet_table_total">{l}Total{endl} {l}Hours{endl}</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="item in note.obj.rows">
				<td class="text-center col-adjust-input">
					<div class="so-relative">
						<div>
							<!-- <input type="text" class="form-control link-pointer" ng-model="item.start_time" ng-disabled="note.obj.disabled" placeholder="00:00" ng-click="note.showTime($event,$index,'start_time','right_align')" ng-blur="note.savepickerData($index)"/> -->
							<input type="time" ng-model="item.start_time" ng-disabled="note.obj.disabled" ng-change="note.savepickerData($index)"/>
						</div>
					</div>
				</td>
				<td class="text-center col-adjust-input">
					<div class="so-relative">
						<div>
							<!-- <input type="text" class="form-control link-pointer" ng-model="item.end_time" ng-disabled="note.obj.disabled" placeholder="00:00" ng-click="note.showTime($event,$index,'end_time','right_align')" ng-blur="note.savepickerData($index)"> -->
							<input type="time" ng-model="item.end_time" ng-disabled="note.obj.disabled" ng-change="note.savepickerData($index)"/>
						</div>
					</div>
				</td>
				<td class="text-center col-adjust-input">
					<div class="so-relative">
						<div>
							<!-- <input type="text" class="form-control link-pointer" ng-model="item.break" ng-disabled="note.obj.disabled" placeholder="00:00" ng-click="note.showTime($event,$index,'break','right_align')" ng-blur="note.savepickerData($index)"> -->
							<input type="time" ng-model="item.break" ng-disabled="note.obj.disabled" ng-change="note.savepickerData($index)"/>
						</div>
					</div>
				</td>
				<td class="col-adjust-input">
					<!-- <textarea class="form-control" rows="1" ng-model="item.comment" ng-blur="note.updateNote($index)" ng-disabled="note.obj.disabled" >{{item.comment}}</textarea> -->
					<!-- <textarea class="form-control" rows="1" ng-model="item.comment"  ng-disabled="note.obj.disabled" >{{item.comment}}</textarea> -->
					<div ng-click="note.showEditor($index)" ng-class="{ 'hidden':item.showEditor }">
                        <textarea class="form-control" rows="1" ng-model="item.comment2"  ng-disabled="note.obj.disabled" >{{item.comment2}}</textarea>
                    </div>
                    <div ng-class="{ 'hidden':!item.showEditor }">
                        <textarea ui-tinymce="note.tinymceOptions" ng-model="item.comment" rows="1" ng-disabled="note.obj.disabled" class="form-control variable_assign">{{item.comment}}</textarea>
                    </div>

				</td>
				<td class="text-center col-adjust-input timesheet_table_total">
					<div class="so-relative">
						<div>
							<!-- <input type="text" class="form-control link-pointer" ng-model="item.line_h" ng-disabled="note.obj.disabled" placeholder="00:00" ng-click="note.showTime($event,$index,'line_h','left_align')" ng-blur="note.changeTotalHoursLine($index)"> -->
							<input type="text" class="form-control link-pointer" ng-model="item.line_h" ng-disabled="note.obj.disabled" placeholder="00:00" ng-click="note.showTime($event,$index,'line_h','left_align')" ng-change="note.changeTotalHoursLine($index)"/>
						</div>
					</div>
					<a class="btn-remove" ng-if="!note.obj.disabled" href="#" ng-click="note.deleteEntry($index)" confirm="{l}Delete this entry?{endl}"><span class="fa fa-trash" title="{l}Delete{endl}"></span></a>
				</td>
			</tr>
		</tbody>
	</table>
	<div ng-if="note.obj.type=='1'">
		<textarea class="form-control" placeholder="{l}Comment{endl}" rows="3" ng-model="note.obj.comment" ng-disabled="note.obj.disabled">{{note.obj.comment}}</textarea>
	</div>
</div>
<div class="modal-footer">
	<!-- <p class="text-right save_popup">{l}The entered data is saved automatically{endl}</p> -->
    <button class="btn btn-default" type="button" ng-if="note.obj.type!='1' && !note.obj.disabled" ng-click="note.saveTimeLogs()">{l}Save{endl}</button>
    <button class="btn btn-default" type="button" ng-if="note.obj.type=='1'" ng-click="note.cancel()">{l}Close{endl}</button>
    <button class="btn btn-default" type="button" ng-if="note.obj.type=='1' && !note.obj.disabled" ng-click="note.ok()">{l}Save{endl}</button>
</div>