<div class="container">
  <div uib-alert ng-repeat="alert in alerts" type="{{alert.type}}" close="alerts.splice($index, 1);" ng-class="['alert-' + (alert.type || 'warning'), 'alert-fixed' ]" dismiss-on-timeout='5000' >{{alert.msg}}</div>
  <div class="row page-content timesheet_main">
		<div class="col-xs-12 col-top">
  		<ul class="nav nav-tabs tabs-default" role="tablist">
				<li class="pull-right text-right">
					<span><a href="{{item.expense_pdf_link}}" class="btn btn-sm btn-square btn-default" ng-if="item.is_manager && item.are_expenses" target="_blank">{l}Print Expenses{endl}</a> </span> 
					<!-- <div class="btn-group" ng-if="item.is_pdf || item.is_time_data" uib-dropdown>
						<button class="btn btn-sm btn-plain btn-square dropdown-toggle" id="pdfOptions" type="button" uib-dropdown-toggle>
							<span class="glyphicon glyphicon-print"></span>&nbsp; {l}Generate PDF{endl} &nbsp;<span class="caret"></span>
						</button>
						<ul class="dropdown-menu dropdown-menu-right" uib-dropdown-menu>
							<li ng-repeat="lang in item.languages_pdf" ng-click="printModal(lang)"><a href="#"> {{lang.language}}</a></li>			
						</ul>
					</div> -->
				</li>
				<li class="active"><a href="#timesheet" aria-controls="timesheet" role="tab" data-toggle="tab" ng-click="getTimesheet()">{l}Timesheet{endl}</a></li>
				<li><a href="#expense" aria-controls="expense" role="tab" data-toggle="tab" aria-expanded="false" ng-click="getExpense()">{l}Expenses{endl}</a></li>
			</ul>		
			<div class="tab-content">
				<div class="tab-pane fade in active" id="timesheet">
					<div class="page-header">
						<div class="row">
							<div class="col-xs-12 col-sm-6">
								<h2>
									{l}Timesheet for{endl} 
									<selectize config='customerCfg' options='item.user_dd' ng-model="item.user_id"></selectize> 
									<div class="btn-group" uib-dropdown ng-if="item.DISPLAY_SAVE">
										<button type="button" class="btn btn-primary btn-add dropdown-toggle" uib-dropdown-toggle tooltip-placement="right"><span class="btn-add_icon"><span class="icon-bar"></span><span class="icon-bar-2"></span></span></button>
										<ul class="dropdown-menu dropdown-menu-left" uib-dropdown-menu>
											<li ng-click="addTask(0)" ng-if="activeType==2 && item.has_p"><a href="#">{l}Project{endl}</a></li>
											<li ng-click="addTask(0)" ng-if="activeType==1 && item.has_p"><a href="#">{l}Add time row{endl}</a></li>
											<li ng-click="addTask(1)" ng-if="activeType==1 || activeType==2"><a href="#">{l}Ad hoc task{endl}</a></li>
											<li ng-click="addTask(2)" ng-if="activeType==1 || activeType==2"><a href="#">{l}Service{endl}</a></li>
										</ul>
									</div>
								</h2>
							</div>
							<div class="col-xs-12 col-sm-6 text-right">
								<div class="btn-group btn-group-calendar" role="group" ng-if="activeType==1">
									<button type="button" class="btn btn-square btn-plain" ng-click="navigate_day(-1)"><span class="glyphicon glyphicon-chevron-left"></span></button>
									<span class="calendar-date">{{item.day_txt}}</span>
									<button type="button" class="btn btn-square btn-plain" ng-click="navigate_day(+1)"><span class="glyphicon glyphicon-chevron-right"></span></button>
								</div>
								<div class="btn-group btn-group-calendar" role="group" ng-if="activeType==2">
									<button type="button" class="btn btn-square btn-plain" ng-click="navigate(-1)"><span class="glyphicon glyphicon-chevron-left"></span></button>
									<span class="calendar-date">{{item.week_txt}}</span>
									<button type="button" class="btn btn-square btn-plain" ng-click="navigate(+1)"><span class="glyphicon glyphicon-chevron-right"></span></button>
								</div>
								<div class="btn-group btn-group-calendar" role="group" ng-if="activeType==3">
									<button type="button" class="btn btn-square btn-plain" ng-click="navigate_month(-1)"><span class="glyphicon glyphicon-chevron-left"></span></button>
									<span class="calendar-date">{{item.month_txt}}</span>
									<button type="button" class="btn btn-square btn-plain" ng-click="navigate_month(+1)"><span class="glyphicon glyphicon-chevron-right"></span></button>
								</div>
								&nbsp; 
								<div class="btn-group btn-inline btn-group-calendar" ng-show="activeType<3">
									<button class="btn btn-square btn-plain" ng-model="item.start_date" uib-datepicker-popup="{{format}}" is-open="datePickOpen.start_date" datepicker-options="dateOptions" close-text="Close" show-button-bar="false" ng-click="datePickOpen.start_date=true" ng-change="changeDate()">
										<span class="glyphicon glyphicon-calendar"></span>
									</button>
								</div>
								<span class="text-left">
									<selectize class="selectize-control-sm" placeholder="{l}Overview{endl}" config='typeCfg' options='types' ng-model="activeType"></selectize>
								</span>
							</div>
						</div>
					</div><!-- /.page-header -->
					<div class="timesheet_holder timesheet_week" ng-if="activeType==2">
						<div class="row timesheet_header">
							<div class="timesheet_general">{l}Status{endl}</div>
							<div class="timesheet_details">
								<div class="timesheet_cell" ng-repeat="day in item.day_row" ng-class="{ 'weekend_dates' : day.end_day }">{{day.day_name}} {{day.date_month}}</div>
								<div class="timesheet_cell timesheet_cell_total">{l}Total{endl}</div>
							</div>
						</div>
						<div class="row timesheet_row" ng-repeat="task in item.task_row">
							<div class="timesheet_general">
								<div class="timesheet_company col-md-3" ng-class="{ 'timesheet_ghost' : !task.HIDE_PROJECT_NAME }"><span class="text-ellipsis">{{task.PROJECT_CUSTOMER_NAME}}</span></div>
								<div class="timesheet_extra col-md-9">
									<div class="timesheet_project"><span class="text-ellipsis">{{task.PROJECT_LIST_NAME}}</span></div>
									<div class="timesheet_task"><span class="text-ellipsis"><span class="fa fa-lock timesheet_icon" ng-show="task.HIDE_SUBMITED || task.HIDE_UNBILLED"></span> {{task.TASK_LIST_NAME}}</span></div>								
								</div>
							</div>
							<div class="timesheet_details">
								<div class="timesheet_cell {{cell.BG_COLOR}}" ng-repeat="cell in task.task_day_row" ng-if="task.project_type=='0'">
									<input type="text" class="form-control" ng-model="cell.HOURSB" ng-blur="changeHourData(cell)" ng-keypress="changeHourDataKey($event,cell)" ng-disabled="cell.IS_BILLED || cell.IS_APPROVED" ng-readonly="cell.IS_SUBMITED || cell.IS_CLOSED || cell.IS_APPROVED">
									<div class="link-pointer btn-options comment_plus" ng-if="cell.success_add"><i class="fa fa-check-square fa-2x text-success" aria-hidden="true"></i></div>
									<div class="link-pointer btn-options comment_plus" ng-click="showNote(cell)"><i class="fas fa-comment-dots comment_grey" aria-hidden="true" ng-if="cell.has_note" title="{l}Time and comment that were put in{endl}"></i><i class="far fa-comment-dots comment_grey" aria-hidden="true" ng-if="!cell.has_note" title="{l}Add comment{endl}"></i></div>
									<div class="timesheet_cell_extra">
										<div class="btn-inline text-danger" ng-if="cell.UNAPPROVED" title="{l}Unapproved{endl}"><i class="fa fa-exclamation" aria-hidden="true"></i></div>								
										<div class="btn-inline text-success" ng-if="cell.IS_APPROVED" title="{l}Approved{endl}"><i class="fa fa-check" aria-hidden="true"></i></div>
										<div class="btn-inline text-primary" ng-if="cell.BILLED_IMG" title="{l}Linked to Billed{endl}"><i class="fa fa-usd" aria-hidden="true"></i></div>
									</div>
								</div>
								<div class="timesheet_cell {{cell.BG_COLOR}}" ng-repeat="cell in task.task_day_row" ng-if="task.project_type=='1'">
									<input type="text" class="form-control" ng-model="cell.HOURSB" ng-disabled="cell.IS_BILLED || cell.IS_APPROVED" readonly>
									<div class="btn-options" ng-if="cell.hide_spinner">
										<a href="#" ng-click="changeDayData(cell,0.5)"><i class="fa fa-plus"></i></a>
										<a href="#" ng-click="changeDayData(cell,-0.5)"><i class="fa fa-minus"></i></a>
									</div>
									<div class="link-pointer btn-options comment_plus" ng-if="cell.success_add"><i class="fa fa-check-square fa-2x text-success" aria-hidden="true"></i></div>
									<div class="timesheet_cell_extra">
										<div class="btn-inline text-danger" ng-if="cell.UNAPPROVED" title="{l}Unapproved{endl}"><i class="fa fa-exclamation" aria-hidden="true"></i></div>
										<div class="btn-inline link-pointer" ng-click="showNote(cell)"><i class="fas fa-comment-dots comment_grey" aria-hidden="true" ng-if="cell.has_note" title="{l}Time and comment that were put in{endl}"></i><i class="far fa-comment-dots comment_grey" aria-hidden="true" ng-if="!cell.has_note" title="{l}Add comment{endl}"></i></div>
										<div class="btn-inline text-success" ng-if="cell.IS_APPROVED" title="{l}Approved{endl}"><i class="fa fa-check" aria-hidden="true"></i></div>
										<div class="btn-inline text-primary" ng-if="cell.BILLED_IMG" title="{l}Linked to Billed{endl}"><i class="fa fa-usd" aria-hidden="true"></i></div>
									</div>
								</div>
								<div class="timesheet_cell timesheet_cell_total">
									<span ng-show="task.line_h_wo>0">{{task.line_h}} H</span>
									<span ng-show="task.line_d>0">{{task.line_d}} D</span>
									<a class="btn-remove" href="#" ng-click="deleteEntry($index)" confirm="{l}Delete this entry?{endl}" ng-if="task.HIDE_BILLED || task.HIDE_SUBMITED_L"><span class="fa fa-trash" title="{l}Delete{endl}"></span></a>
								</div>
							</div>
						</div>
						<div class="row timesheet_total" ng-show="item.task_row.length">
							<div class="timesheet_general"></div>
							<div class="timesheet_details">
								<div class="timesheet_cell text-muted" ng-repeat="sub in subtotal">
									<div ng-show="sub['total_h_wo_'+$index]>0">{{sub['total_h_'+$index]}} H</div>
									<div ng-show="sub['total_d_'+$index]>0">{{sub['total_d_'+$index]}} D</div>
								</div>
								<div class="timesheet_cell timesheet_cell_total">
									<div ng-show="item.total_h_wo>0">{{item.total_h}} H</div>
									<div ng-show="item.total_d>0">{{item.total_d}} D</div>
								</div>					
							</div>
						</div>
						<div class="row col-top text-right">	
							<div class="btn-group" ng-if="item.is_pdf || item.is_time_data" uib-dropdown>
								<button class="btn btn-sm btn-plain btn-square dropdown-toggle" id="pdfOptions" type="button" uib-dropdown-toggle>
									<span class="far fa-file-pdf"></span>&nbsp; {l}Generate PDF{endl} &nbsp;<span class="caret"></span>
								</button>
								<ul class="dropdown-menu dropdown-menu-right" uib-dropdown-menu>
									<li ng-repeat="lang in item.languages_pdf" ng-click="printModal(lang)"><a href="#"> {{lang.language}}</a></li>			
								</ul>
							</div>
							<a ng-if="item.DISPLAY_SAVE" class="btn btn-default" ng-click="submitTime()">{l}Submit timesheet{endl}</a>
						</div>
					</div><!-- /.timesheet_holder:week -->
					<div class="planning planning_month timesheet_month" ng-if="activeType==3">
						<div class="planning_header clearfix">
								<div class="small timestamp pull-left">
									<div><span>{l}Mon{endl}</span></div>                  
								</div>
								<div class="small timestamp pull-left">
									<div><span>{l}Tue{endl}</span></div>                  
								</div>
								<div class="small timestamp pull-left">
									<div><span>{l}Wed{endl}</span></div>                  
								</div>
								<div class="small timestamp pull-left">
									<div><span>{l}Thu{endl}</span></div>                  
								</div>
								<div class="small timestamp pull-left">
									<div><span>{l}Fri{endl}</span></div>                  
								</div>
								<div class="small timestamp pull-left weekend_dates">
									<div><span>{l}Sat{endl}</span></div>                  
								</div>
								<div class="small timestamp pull-left weekend_dates">
									<div><span>{l}Sun{endl}</span></div>                  
								</div>
						</div>
						<div class="planning_body">
							<div class="planning_row clearfix" ng-repeat="week in item.month">
									<div class="planning_cell_wrap pull-left" ng-repeat="day in week.week">
										<div class="planning_cell {{day.bg}}">
											<span class="planning_date">{{day.text}}</span>
											<p class="text-center"><span ng-bind-html="day.hours"></span></p>
											<p class="text-center"><span ng-bind-html="day.days"></span></p>
											<p class="text-center"><span ng-bind-html="day.expens"></span></p>
										</div>
									</div>
							</div>
						</div>
		      </div><!-- /.timesheet_month -->
					<div class="timesheet_holder timesheet_day" ng-if="activeType==1">
						<div class="row timesheet_header">
							<div class="timesheet_general">{l}Status{endl}</div>
							<div class="timesheet_details">
								<div class="timesheet_cell sortable_row" ng-class="{ 'sortable_row-up':(!reverse && ord=='start_time') , 'sortable_row-down':(reverse && ord=='start_time') }" ng-click="orderBY('start_time')">{l}Start time{endl}</div>
								<div class="timesheet_cell">{l}End time{endl}</div>
								<div class="timesheet_cell">{l}Break{endl}</div>	
								<div class="timesheet_cell_text">{l}Comment{endl}</div>
								<div class="timesheet_cell timesheet_cell_total">{l}Total{endl} {l}Hours{endl}</div>
							</div>
						</div>
						<div class="row timesheet_row" ng-repeat="line in item.rows">
							<div class="timesheet_general">
								<div class="timesheet_company"><span class="text-ellipsis">{{line.PROJECT_CUSTOMER_NAME}}</span></div>
								<div class="timesheet_extra">
									<div class="timesheet_project"><span class="text-ellipsis">{{line.PROJECT_LIST_NAME}}</span></div>
									<div class="timesheet_task"><span class="text-ellipsis"><span class="fa fa-lock timesheet_icon" ng-show="line.HIDE_SUBMITED || line.HIDE_UNBILLED"></span> {{line.TASK_LIST_NAME}}</span></div>								
								</div>
							</div>
							<div class="timesheet_details">
								<div class="timesheet_cell {{line.BG_COLOR}}">
									<div class="so-field">
										<div>
											<input type="text" class="form-control link-pointer" ng-model="line.start_time" placeholder="00:00" ng-click="showTime($event,$index,'start_time','right_align')" ng-blur="savepickerData($index)" ng-disabled="line.disabled" ng-readonly="line.IS_SUBMITED || line.IS_CLOSED || line.IS_APPROVED" >											
										</div>
									</div>
									<div class="timesheet_cell_extra">
										<div class="btn-inline text-danger" ng-if="line.UNAPPROVED" title="{l}Unapproved{endl}"><i class="fa fa-exclamation" aria-hidden="true"></i></div>
										<div class="btn-inline text-primary" ng-if="line.BILLED_IMG" title="{l}Linked to Billed{endl}"><i class="fa fa-usd" aria-hidden="true"></i></div>
									</div>
								</div>
								<div class="timesheet_cell {{line.BG_COLOR}}">
									<div class="so-field">
										<div>
											<input type="text" class="form-control link-pointer" ng-model="line.end_time" placeholder="00:00" ng-click="showTime($event,$index,'end_time','right_align')" ng-blur="savepickerData($index)" ng-disabled="line.disabled" ng-readonly="line.IS_SUBMITED || line.IS_CLOSED || line.IS_APPROVED" >
										</div>
									</div>
									<div class="timesheet_cell_extra">
										<div class="btn-inline text-danger" ng-if="line.UNAPPROVED" title="{l}Unapproved{endl}"><i class="fa fa-exclamation" aria-hidden="true"></i></div>
										<div class="btn-inline text-primary" ng-if="line.BILLED_IMG" title="{l}Linked to Billed{endl}"><i class="fa fa-usd" aria-hidden="true"></i></div>
									</div>
								</div>
								<div class="timesheet_cell {{line.BG_COLOR}}">
									<div class="so-field">
										<div>
											<input type="text" class="form-control link-pointer" ng-model="line.break" placeholder="00:00" ng-click="showTime($event,$index,'break','right_align')" ng-blur="savepickerData($index)" ng-disabled="line.disabled" ng-readonly="line.IS_SUBMITED || line.IS_CLOSED || line.IS_APPROVED" >
										</div>
									</div>
									<div class="timesheet_cell_extra">
										<div class="btn-inline text-danger" ng-if="line.UNAPPROVED" title="{l}Unapproved{endl}"><i class="fa fa-exclamation" aria-hidden="true"></i></div>
										<div class="btn-inline text-primary" ng-if="line.BILLED_IMG" title="{l}Linked to Billed{endl}"><i class="fa fa-usd" aria-hidden="true"></i></div>
									</div>
								</div>
								<div class="timesheet_cell_text {{line.BG_COLOR}}">
									<div class="col-xs-12">
										<textarea class="form-control" ng-model="line.comment" ng-blur="updateNote($index)" ng-disabled="line.disabled" ng-readonly="line.IS_SUBMITED || line.IS_CLOSED || line.IS_APPROVED" >{{line.comment}}</textarea>
									</div>							
								</div>
								<div class="timesheet_cell timesheet_cell_total">
									<div class="so-field">
										<div>
											<input type="text" class="form-control link-pointer" ng-model="line.line_h" placeholder="00:00" ng-click="showTime($event,$index,'line_h','left_align')" ng-blur="changeTotalHoursLine($index)" ng-disabled="line.disabled" ng-readonly="line.IS_SUBMITED || line.IS_CLOSED || line.IS_APPROVED">
										</div>
									</div>
									<a class="btn-remove" href="#" ng-click="deleteTimeEntry($index)" confirm="{l}Delete this entry?{endl}" ng-if="line.HIDE_BILLED || line.HIDE_SUBMITED_L"><span class="fa fa-trash" title="{l}Delete{endl}"></span></a>
								</div>
							</div>
						</div>					
						<div class="row timesheet_total" ng-show="item.rows.length && item.total_h_wo>0">
							<div class="timesheet_general"></div>
							<div class="timesheet_details">
								<div class="timesheet_cell timesheet_cell_total pull-right">
									{{item.total_h}}
								</div>					
							</div>
						</div>
					</div><!-- /.timesheet_holder:day -->
					<div class="col-top" ng-show="item.HIDE_LOG">
						<h4>{l}Activity Log{endl}</h4>
						<table class="table table_orders" cellspacing="0" cellpadding="0">
							<tbody>
								<tr ng-repeat="log in item.history_row">
									<td class="col-sm-2">{{log.HISTORY_DATE}}</td>
									<td class="col-sm-3 text-muted">{{log.HISTORY_DESCRIPTION}}</td>
									<td class="col-sm-7 text-muted">{{log.HISTORY_MESSAGE}}</td>
								</tr>
							</tbody>
						</table>
					</div><!-- end Activity Log -->
				</div>
				<div class="tab-pane fade" id="expense">
					<div class="page-header">
						<div class="row">
							<div class="col-xs-12 col-sm-6">
								<h2>
									{l}Expenses for{endl} 
									<selectize config='customerCfg' options='item.user_dd' ng-model="item.user_id"></selectize>
									<div class="btn-group" ng-if="item.hide_s" uib-dropdown>
										<button type="button" class="btn btn-primary btn-add dropdown-toggle" uib-dropdown-toggle uib-tooltip="{l}Add{endl}" tooltip-placement="right"><span class="btn-add_icon"><span class="icon-bar"></span><span class="icon-bar-2"></span></span></button>
										<ul class="dropdown-menu dropdown-menu-left" uib-dropdown-menu>
											<li ng-click="addExpense('',0)"><a href="#">{l}+ Add Expense{endl}</a></li>
											<li ng-if="item.allowadhoc" ng-click="addExpense(1,0)"><a href="#">{l}+ Add ad hoc expense{endl}</a></li>
										</ul>
									</div>
								</h2>
							</div>
							<div class="col-xs-12 col-sm-6 text-right">
								<div class="btn-group btn-group-calendar" role="group">
									<button type="button" class="btn btn-square btn-plain" ng-click="navigate(-1)"><span class="glyphicon glyphicon-chevron-left"></span></button>
									<span class="calendar-date">{{item.week_txt}}</span>
									<button type="button" class="btn btn-square btn-plain" ng-click="navigate(+1)"><span class="glyphicon glyphicon-chevron-right"></span></button>
								</div>
								&nbsp; 
								<div class="btn-group btn-inline btn-group-calendar">
									<button class="btn btn-square btn-plain" ng-model="item.start_date" uib-datepicker-popup="{{format}}" is-open="datePickOpen.start_date" datepicker-options="dateOptions" close-text="Close" show-button-bar="false" ng-click="datePickOpen.start_date=true" ng-change="changeDate()">
										<span class="glyphicon glyphicon-calendar"></span>
									</button>
								</div>
							</div>
						</div>
					</div><!-- /.page-header -->
					<table class="table" cellspacing="0" cellpadding="0">
						<thead>
							<tr>
								<th class="col-sm-1">{l}Date{endl}</th>
								<th class="col-sm-4">{l}Company{endl}</th>
								<th class="col-sm-2">{l}Amount{endl}</th>
								<th class="col-sm-3">{l}Notes{endl}</th>
								<th class="col-sm-1">{l}Receipt{endl}</th>
								<th class="col-sm-1 table_actions"></th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="exp in item.day_row">
								<td class="text-muted">{{exp.DATE}}</td>
								<td class="col-adjust-input">
									<div class="timesheet_company"><span class="text-ellipsis">{{exp.PROJECT_CUSTOMER_NAME}}</span></div>
									<div class="timesheet_extra">
										<div class="timesheet_project"><span class="text-ellipsis">{{exp.PROJECT_LIST_NAME}}</span></div>
										<div class="timesheet_task"><span class="text-ellipsis">{{exp.PROJECR_EXPENSE}}</span></div>								
									</div>
								</td>
								<td><span ng-bind-html="exp.AMOUNT"></span></td>
								<td class="text-muted"><span ng-bind-html="exp.NOTES"></span></td>
								<td>
									<div ng-if="exp.VIEW_IMG"><a href="#" title="{l}View receipt{endl}" ng-click="showReciept(exp)">{l}View receipt{endl}</a></div>
									<div ng-if="exp.VIEW_IMG" class="small"><a class="text-muted" href="#" title="{l}Delete receipt{endl}" confirm="{l}Are you sure you want to remove the receipt image?{endl}" ng-click="deleteReciept(exp)">{l}Delete receipt{endl}</a></div>
								</td>
								<td class="text-center table_actions">
									<div class="btn-group" uib-dropdown>
										<button type="button" class="btn btn-plain dropdown-toggle" uib-dropdown-toggle>
													<span class="caret"></span>
											</button>
											<ul class="dropdown-menu dropdown-menu-right" uib-dropdown-menu>
													<li class="dropdown-header">{l}Action{endl}</li>
													<li ng-if="exp.VIEW_L && exp.show_delete_edit_button">
														<a href="#" title="Edit" ng-click="addExpense(exp.adhoc,exp.E_ID)"><span class="fas fa-pen text-primary"></span> {l}Edit{endl}</a>
													</li>
													<li ng-if="exp.VIEW_L && exp.show_delete_edit_button">
														<a href="#" title="Delete" confirm="{l}Are you sure, you wanna delete this entry?{endl}" ng-click="deleteExpense(exp)"><span class="fa fa-trash text-primary"></span> {l}Delete{endl}</a>
													</li>
											</ul>
									</div>
								</td>
							</tr>
						</tbody>
					</table>
					<div class="col-top" ng-show="item.HIDE_LOG">
						<h4>{l}Activity Log{endl}</h4>
						<table class="table table_orders" cellspacing="0" cellpadding="0">
							<tbody>
								<tr ng-repeat="log in item.history_rowe">
									<td class="col-sm-2">{{log.HISTORY_DATE}}</td>
									<td class="col-sm-10 text-muted">{{log.HISTORY_DESCRIPTION}}</td>
								</tr>
							</tbody>
						</table>
					</div><!-- end Activity Log -->
				</div>
			</div>
		</div>
  </div>
</div>