<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="vm.cancel()"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title">{l}Add task{endl}</h4>
</div>
<div class="modal-body">
    <div class="loading_wrap loading_alt hidden">
        <div class="loading"></div>
        <div class="spinner"></div>
    </div>
    <!-- <div uib-alert ng-repeat="alert in vm.alerts" type="{{alert.type}}" close="vm.alerts.splice($index, 1);" dismiss-on-timeout="3500" ng-class="['alert-' + (alert.type || 'warning') ]">{{alert.msg}}</div>  -->
    <div class="col-sm-12">
        <form class="form-horizontal" name="task_form" novalidate>
            <div class="form-group" ng-class="{ 'form-group_alert' : task_form.task_name.$invalid && !task_form.task_name.$pristine }">
                <label class="control-label text-left col-sm-5">{l}Task name{endl}</label>
                <div class="col-sm-7">
                    <input type="text" name="task_name" class="form-control" ng-model="vm.obj.task_name" placeholder="{l}Task name{endl}">
                    <div class="alert alert-sm alert-danger" ng-if="task_form.task_name.$invalid && vm.alertsField.task_name">{{vm.alertsField.task_name}}</div>
                </div>
            </div>
            <div class="form-group" ng-class="{ 'form-group_alert' : task_form.task_rate.$invalid && !task_form.task_rate.$pristine }">
                <label class="control-label text-left col-sm-5">{l}Hourly Price{endl}</label>
                <div class="col-sm-7">
                    <input type="text" name="task_rate" class="form-control" display-nr="" ng-model="vm.obj.task_rate" placeholder="{l}Hourly Price{endl}">
                    <div class="alert alert-sm alert-danger" ng-if="task_form.task_rate.$invalid && vm.alertsField.task_rate">{{vm.alertsField.task_rate}}</div>
                </div>
            </div>
            <div class="form-group" ng-class="{ 'form-group_alert' : task_form.daily_rate.$invalid && !task_form.daily_rate.$pristine }">
                <label class="control-label text-left col-sm-5">{l}Daily Price{endl}</label>
                <div class="col-sm-7">
                    <input type="text" name="daily_rate" class="form-control" display-nr="" ng-model="vm.obj.daily_rate" placeholder="{l}Daily Price{endl}">
                    <div class="alert alert-sm alert-danger" ng-if="task_form.daily_rate.$invalid && vm.alertsField.daily_rate">{{vm.alertsField.daily_rate}}</div>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label text-left col-sm-5">{l}Billable?{endl}</label>
                <div class="col-sm-7">
                    <div class="checkbox checkbox-primary">
                        <input type="checkbox" id="checkbox_b_0" ng-model="vm.obj.task_billable">
                        <label for="checkbox_b_0"></label>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-plain" type="button" ng-click="vm.cancel()">{l}Cancel{endl}</button>
    <button class="btn btn-default" type="button" ng-click="vm.ok(task_form)">{l}Save{endl}</button>
</div>