<div class="modal-body modal-body_alt">
	<div class="loading_wrap loading_alt hidden">
		<div class="loading"></div>
		<div class="spinner"></div>
	</div>
	<div uib-alert ng-repeat="alert in time.alerts" type="{{alert.type}}" close="time.alerts.splice($index, 1);" dismiss-on-timeout="3500" ng-class="['alert-' + (alert.type || 'warning') ]">{{alert.msg}}</div>
	<form class="form-horizontal text-left" name="form_obj" novalidate>
		<div class="form-group" ng-if="time.obj.type==''" ng-class="{ 'form-group_alert' : form_obj.project_id.$invalid && !form_obj.project_id.$pristine }">
			<label class="control-label col-sm-4 text-left">{l}Select project{endl}</label>
			<div class="col-sm-8">
				<selectize config='time.projectCfg' name="project_id" options='time.obj.projects_list' ng-model="time.obj.project_id"></selectize>
				<div class="alert alert-sm alert-danger" ng-if="form_obj.project_id.$invalid && time.alertsField.project_id">{{time.alertsField.project_id}}</div>
			</div>
		</div>
		<div class="form-group" ng-if="time.obj.type=='1'" ng-class="{ 'form-group_alert' : form_obj.customer_id.$invalid && !form_obj.customer_id.$pristine }">
			<label class="control-label col-sm-4">{l}Select company{endl}</label>
			<div class="col-sm-8">
				<selectize config='time.companyCfg' name="customer_id" options='time.obj.companies_list' ng-model="time.obj.customer_id"></selectize>
				<div class="alert alert-sm alert-danger" ng-if="form_obj.customer_id.$invalid && time.alertsField.customer_id">{{time.alertsField.customer_id}}</div>
			</div>
		</div>
		<div class="form-group" ng-class="{ 'form-group_alert' : form_obj.expense_id.$invalid && !form_obj.expense_id.$pristine }">
			<label class="control-label col-sm-4">{l}Select Category{endl}</label>
			<div class="col-sm-8">
				<selectize config='time.catCfg' name="expense_id" options='time.obj.categories_list' ng-model="time.obj.expense_id"></selectize>
				<div class="alert alert-sm alert-danger" ng-if="form_obj.expense_id.$invalid && time.alertsField.expense_id">{{time.alertsField.expense_id}}</div>
			</div>
		</div>
		<div class="form-group">
			<label class="control-label col-sm-4">{l}Note{endl}</label>
			<div class="col-sm-8">
				<input type="text" class="form-control" ng-model="time.obj.note">
			</div>
		</div>
		<div class="form-group" ng-class="{ 'form-group_alert' : form_obj.amount.$invalid && !form_obj.amount.$pristine }">
			<label class="control-label col-sm-4">{l}Amount{endl}</label>
			<div class="col-sm-8">
				<input type="text" name="amount" class="form-control" ng-model="time.obj.amount">
				<div class="alert alert-sm alert-danger" ng-if="form_obj.amount.$invalid && time.alertsField.amount">{{time.alertsField.amount}}</div>
			</div>
		</div>
		<div class="form-group" ng-class="{ 'form-group_alert' : form_obj.date.$invalid && !form_obj.date.$pristine }">
			<label class="control-label col-sm-4">{l}Select a day{endl}</label>
			<div class="col-sm-8">
				<select class="form-control" name="date" ng-model="time.obj.date">
					<option ng-repeat="option in time.obj.SELECT_DAY track by option.id" value="{{option.id}}">{{option.value}}</option>
				</select>
				<div class="alert alert-sm alert-danger" ng-if="form_obj.date.$invalid && time.alertsField.date">{{time.alertsField.date}}</div>
			</div>
		</div>
		<div class="form-group">
			<label class="control-label col-sm-4">{l}Attachment{endl}</label>
			<div class="col-sm-8">
				<input type="file" name="file" id="uploadFile" class="form-control" value="">
			</div>
		</div>
		<div class="form-group" ng-show="time.obj.type=='1'">
			<label class="control-label col-sm-4">{l}Billable{endl}</label>
			<div class="col-sm-5 checkbox">
				<label><input type="checkbox" ng-model="time.obj.billable"></label>
			</div>
		</div>
	</form>
</div>
<div class="modal-footer">
    <button class="btn btn-plain" type="button" ng-click="time.cancel()">{l}Close{endl}</button>
    <button class="btn btn-default" type="button" ng-click="time.ok(form_obj)">{l}Save{endl}</button>
</div>