<div class="so-field-content dropdown-menu dropdown-menu-left show timepicker {{temp.align}}">
	<h4>{l}Hour{endl}</h4>
	<div class="row so-field-time_pick">
		<div class="col-xs-1" ng-repeat="it in timeH" ng-class="{ 'bg-primary':it.primaryH }" ng-click="setHours(it)">{{it.name}}</div>	
	</div>
	<h4>{l}Minute{endl}</h4>
	<div class="row so-field-time_pick">
		<div class="col-xs-1" ng-repeat="it in timeM" ng-class="{ 'bg-primary':it.primaryM }" ng-click="setMinutes(it)">{{it.name}}</div>
	</div>															
</div>
