<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="vm.cancel()"><span aria-hidden="true">&times;</span></button>
  <h4 class="modal-title">{l}Images{endl}</h4>
</div>
<div class="modal-body">
	<div class="loading_wrap loading_alt hidden">
		<div class="loading"></div>
		<div class="spinner"></div>
	</div>
	<div uib-alert ng-repeat="alert in vm.alerts" type="{{alert.type}}" close="vm.alerts.splice($index, 1);" dismiss-on-timeout="5000" ng-class="['alert-' + (alert.type || 'warning') ]"><span ng-bind-html="alert.msg"></span></div>
	<div class="col-sm-12">
	    <div uib-alert type="notice" class="alert-warning" ng-if="!vm.item.images.length">{l}No data to display{endl}</div>
	    <div class="row drop_images" ng-if="vm.item.images.length">
	      <div class="col-sm-2 margin-top" ng-repeat="item in vm.item.images">
	      	<div class="image">
	          <img class="link-pointer" ng-src="{{item.url}}" ng-click="item.checked=!item.checked"/>
	        </div>
	        <span class="glyphicon glyphicon-ok-sign text-success" ng-class="{ 'hidden':!item.checked }"></span>
	      </div>
	    </div>
	</div>	
</div>
<div class="modal-footer">
	<button class="btn btn-plain" type="button" ng-click="vm.cancel()">{l}Cancel{endl}</button>
	<button class="btn btn-default" type="button" ng-click="vm.ok()">{l}Save{endl}</button>
</div>