<div class="container main-branding">
    <div class="row">

        <div class="col-md-12 text-center urgent_message hide"><span class="text_from_snap"></span></div>

        <div class="col-xs-12 text-right col-user_options float-right" ng-class="{'col-md-12':(!is_trial),'col-md-12':(is_trial)}">
            <ul>
                {if:hide_them_all} {if:hide_add}
                <!-- <li class="helpdesk" ng-if="!is_trial">
                    <a href="https://support.akti.com" target="blank">{l}Akti Helpdesk{endl}: https://support.akti.com</a>
                </li> -->
                <li class="user_options-link uo-quick_add" ng-class="{ 'uo-quick_add-show': show.quickAdd }">
                    <a class="quick_add" href="#" ng-click="show.quickAdd = !show.quickAdd"><span class="icon-bar"></span><span class="icon-bar"></span></a>
                    <ul>
                        {if:is_1}
                        <!-- <li class="module_1 {hide_1}"><a href="" ui-sref="customer({ 'customer_id':'tmp' })" ng-click="show.quickAdd = false" >{l}Add a company{endl}</a></li> -->
                        <li class="module_1 {hide_1}"><a href="" ng-click="createCustomer()"><i class="fas fa-user-friends"></i> {l}Add a company{endl}</a></li>
                        <li class="module_1 {hide_1}"><a href="" ng-click="createContact()"><i class="fas fa-user"></i> {l}Add a contact{endl}</a></li>
                        <!-- <li class="module_1 {hide_1}"><a href="../pim/admin/index.php?do=quote-opportunities&amp;crm=true&amp;add_opportunity=true&amp;add=true" title="{l}Add a new Opportunity{endl}">{l}Add a new Opportunity{endl}</a></li> -->{end}
                        <!-- {if:is_12}<li class="module_1 {hide_1}"><a href="" ui-sref="article.add({ 'article_id':'tmp' })" ng-click="show.quickAdd = false">{l}Add a product{endl}</a></li>
                        <li class="module_1 {hide_1}"><a href="" ui-sref="article.add({ 'article_id':'tmp', 'form_type': 'service'})" ng-click="show.quickAdd = false">{l}Add a service{endl}</a></li>{end} -->
                        {if:is_5}
                        <li class="module_5 {hide_5}"><a href="" ui-sref="quote.edit({ 'quote_id':'tmp' })" ng-click="show.quickAdd = false"><i class="fas fa-file-invoice"></i> {l}Add a quote{endl}</a></li>{end} {if:is_6}
                        <li class="module_6 {hide_6}"><a href="" ui-sref="order.edit({ 'order_id':'tmp', 'buyer_id':'tmp' })" ng-click="show.quickAdd = false"><i class="fas fa-shopping-cart"></i> {l}Add Order{endl}</a></li>{end} {if:is_14}
                        <li class="module_6 {hide_14}"><a href="" ui-sref="purchase_order.edit({ 'p_order_id':'tmp', 'buyer_id':'tmp' })" ng-click="show.quickAdd = false" title="{l}Add Purchase Order{endl}"><i class="fas fa-box"></i> {l}Add Purchase Order{endl}</a></li>{end}
                        {if:is_3}<li class="module_3 {hide_3}"><a href="" ui-sref="project.edit({ 'project_id':'tmp' })" ng-click="show.quickAdd = false" ><i class="fas fa-clipboard-list"></i> {l}Add a project{endl}</a></li>{end}
                        <!-- {if:is_11}<li class="module_11 {hide_11}"><a href="" ui-sref="contract.edit({ 'contract_id':'tmp' })" ng-click="show.quickAdd = false">{l}Add a contract{endl}</a></li>{end} -->
                        {if:is_4}
                        <li class="module_4 {hide_4}"><a href="" ui-sref="invoice.edit({ 'invoice_id':'tmp' })" ng-click="show.quickAdd = false"><i class="far fa-file-alt"></i> {l}Add Invoice{endl}</a></li>
                        <li class="module_4 {hide_4}"><a href="" ui-sref="invoice.edit({'invoice_id': 'tmp', 'type':'1'})" ng-click="show.quickAdd = false"><i class="far fa-file-alt"></i> {l}Add Proforma Invoice{endl}</a></li>
                        {end} {if:is_only_13}
                        <li class="module_13 {hide_13}"><a href="" ui-sref="service.edit({ 'service_id':'tmp' })" ng-click="show.quickAdd = false"><i class="fas fa-briefcase"></i> {l}Add intervention{endl}</a></li>{end}
                        <!-- <li class="module_1"><a href="" ui-sref="article.add({ 'article_id':'tmp' })" ng-click="show.quickAdd=false">{l}Add Article{endl}</a></li> -->
                        <!-- {if:is_17}<li><a href="" ui-sref="installation.edit({'installation_id': 'tmp'})" ng-click="show.quickAdd = false">{l}New Installation{endl}</a></li>{end} -->
                    </ul>
                </li>{end}
                {if:not_easy_invoice_diy}
                <li class="user_options-link uo-activities" ng-if="ADV_CRM">
                    <a class="activities" ui-sref="myActivities" uib-tooltip="{l}My activities{endl}" tooltip-placement="bottom"><span class="akti-icon o_akti_user_alt"></span></a>
                </li>{end}
                {if:not_easy_invoice_diy}
                {if:hide_calendar}
                <li class="user_options-link uo-notifications">
                    <a class="notify" ui-sref="calendar" uib-tooltip="{l}Tasks{endl}" tooltip-placement="bottom"><i class="fas fa-tasks"></i><span class="bubble-holder header_task_number" ng-if="taskNr > 0"><ins>{{taskNr}}</ins></span></a>
                </li>
                {end}{end}
                <!-- <li class="user_options-link uo-notifications">
                    <a id="notify" class="notify" href="../pim/admin/index.php?do=pim-message_center" title="{l}Tasks{endl}"><span class="akti-icon o_akti_checklist"></span><span class="bubble-holder" ng-if="messages > 0"><ins>{{messages}}</ins></span></a
                ></li> -->
                {if:is_19}
                <li class="user_options-link uo-timesheet">
                    <a class="timesheet" uib-tooltip="Fill in your timesheet" ui-sref="timesheet" tooltip-placement="bottom"><span class="akti-icon o_akti_timesheet"></span></a>
                </li>
                {end} {if:is_13}
                <li class="user_options-link uo-interventions {hide_13}">
                    <a id="service_notify" class="notify service module_13 module_13_top" href="#" ui-sref="serviceTs" uib-tooltip="{l}Fill in your intervention{endl}" tooltip-placement="bottom"><span class="fas fa-toolbox"></span><span class="bubble-holder" ng-if="intNr > 0"><ins>{{intNr}}</ins></span></a>
                </li>{end}

                <!-- <li class="user_options-link support-page" ng-class="{'support-page-show' : show.support}">
                    <a href="#" ng-click="show.support = !show.support" uib-tooltip="{l}Support Page{endl}" tooltip-placement="bottom">
                        <i class="fa fa-question" aria-hidden="true"></i>
                    </a>
                    <ul>
                        <li class="support-tutorials">
                            <a href="{tutorials_link}" target="_blank" title="{l}Tutorials{endl}"> {l} Tutorials {endl} </a>
                        </li>
                        <li class="support-knowledge-base">
                            <a href="{faq_link}" target="_blank" title="{l}Knowledge Base{endl}"> {l} Knowledge Base {endl} </a>
                        </li>
                        <li class="support-legal-information">
                            <a href="https://support.akti.com/hc/nl/categories/360000087145-Voorwaarden-en-Privacy" target="_blank" title="{l}Legal information{endl}"> {l} Legal information {endl} </a> 
                           
                            <a href="#" ui-sref="settings({'tab': 'legal_info'})" title="{l}Legal information{endl}"> {l} Legal information {endl} </a>
                        </li>
                    </ul>
                </li> -->
                <notification id="notification_container" />
                {if:not_easy_invoice_diy}
                <li class="user_options-link uo-beamer">
                    <a href="#" uib-tooltip="{l}What's new on Test Akti?{endl}" tooltip-placement="bottom"><i class="fa fa-bullhorn" aria-hidden="true"></i></a>
                </li>
                {end}
                <li class="user_options-menu" ng-class="{ 'user_options-menu-show': show.profile }">
                    <a href="#" class="user_options-profile" ng-click="show.profile = !show.profile">
                        <div class="drop_images top-header-avatar">
                            <span class="akti-icon o_akti_user user-thumb"></span>
                        </div>
                        <!--  {if:no_avatar}<span class="akti-icon o_akti_user user-thumb"></span>{end} -->
                        <!-- {if:avatar}
                        <div class="drop_images top-header-avatar">
                            <div class="col-sm-2 account_avatar">
                                <div class="image avatar">
                                    <img src="{avatar}"/>
                                </div>
                            </div>
                        </div>
                        {end} -->
                        <!-- <span class="glyphicon glyphicon-chevron-down"></span> -->
                        <span class="user_options-firstname">{{userName}}</span>
                        <div class="company_name">
                            <span class="text-ellipsis">{{companyName}}</span>
                        </div>
                    </a>
                    <ul>
                        <li><a href="myaccount/" ui-sref="myaccount" title="{l}My Preferences{endl}" ng-click="show.profile = false"><!-- <span class="akti-icon o_akti_user"></span> --> {l}My Preferences{endl}</a>
                        </li>
                        <li ng-if="switchAcc && switchList.length" uib-dropdown>
                            <a uib-dropdown-toggle="dropdown"><!-- <span class="akti-icon"><i class="fas fa-user-friends"></i></span> --> {l}Switch account{endl} <span class="glyphicon glyphicon-chevron-up"></span></a>
                            <ul class="dropdown-menu-right" uib-dropdown-menu ng-if="switchList.length">
                                <li ng-repeat="item in switchList" ng-click="switchAccount(item.id)" ng-class="{ 'switch_account_underline' : $index < switchList.length-1 }">
                                    <a href="#" class="p-l-0">
                                        <div class="col-sm-2 drop_images deals_avatar switch_account_letters">
                                            <div class="col-sm-2 account_avatar">
                                                <div class="image avatar">
                                                    <small class="letters_color" data-letters="{{item.u_letters}}" style="background-color:{{item.u_color}}"></small>
                                                </div>
                                            </div>
                                        </div>
                                        <small>
                                            <label class="overflow-ellipsis link-pointer"><b class="active">{{::item.u_name}}</b>{{::item.value}}</label>
                                        </small>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        {if:HIDE_PAYMENT}
                        <!--                   <li><a href="billing/" ui-sref="billing" title="{l}Billing{endl}" ng-click="show.profile=false"><i class="fa fa-credit-card" aria-hidden="true"></i> {l}Billing{endl}</a>
                                          </li> -->
                        <!-- <li><a href="" ui-sref="{plan_go}" title="{l}Subscription{endl}" ng-click="show.profile = false"> -->
                        <!-- <span class="akti-icon o_akti_logo"></span> -->
                        <!-- {l}Subscription{endl}</a> -->
                </li>
                {end}
                <li class="hidden hide"><a href="features/" ui-sref="features" title="{l}Features{endl}" ng-click="show.profile = false"><i class="fa fa-universal-access" aria-hidden="true"></i> {l}Features{endl}</a>
                </li>
                {if:is_admin}{if:noteasy}
                <!-- <li><a href="" ui-sref="users" title="{l}Users{endl}" ng-click="show.profile = false"><i class="fa fa-users" aria-hidden="true" uib-tooltip="Individual" ></i>{l} Users{endl}</a> -->
                </li>{end}
                <!-- <li><a href="../pim/admin/index.php?do=settings-invoices" title="{l}Billing{endl}">{l}Billing{endl}</a></li> -->
                <!-- <li class=""><a href="settings/" title="{l}Settings{endl}" ui-sref="settings" ng-click="show.profile = false">{l}Settings{endl}</a></li> -->{end}
                <li class="hidden hide"><a href="#" title="{l}What's New ?{endl}" ng-click="headerModal('HeaderModal', '', sm)"><i class="fa fa-question-circle-o" aria-hidden="true"></i> {l}What's New ?{endl}</a></li>
                <li class="uo-menu-logout"><a href="" id="logout_link" title="{l}Logout{endl}" ng-click="show.profile = false"><!-- <span class="akti-icon akti-icon-16 o_akti_logout"> --></span> {l}Logout{endl}</a>
                </li>
                {if:not_easy_invoice_diy}
                {if:show_invite}
                <li><a href="#" ng-click="headerModal('InviteModal', '', md)" title="{l}Invite{endl}"><!-- <span class="akti-icon o_akti_gift"> --><!-- <i class="fas fa-gift"></i> --></span>{l} Invite a friend{endl}</a>
                </li>{end}{end}
                </ul>
                </li>

                {end} {if:special_button}
                <li class="user_options-link">
                    <!-- <toggle-switch on-change="changeLang(language)" ng-model="language" class="switch-primary" on-label="{l}EN{endl}" off-label="{l}FR{endl}"></toggle-switch> -->
                    <div class="btn-group" uib-dropdown is-open="status.isopen">
                        <button id="single-button" type="button" class="btn btn-default" uib-dropdown-toggle ng-disabled="disabled">{l}Language{endl}<span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="single-button">
                            <li role="menuitem"><a href="#" ng-click="changeLang('en')">{l}EN{endl}</a></li>
                            <li role="menuitem"><a href="#" ng-click="changeLang('fr')">{l}FR{endl}</a></li>
                            <li role="menuitem"><a href="#" ng-click="changeLang('nl')">{l}NL{endl}</a></li>
                        </ul>
                    </div>
                </li>
                {end}
                <!--<li class="user_options-toggle">
                    <a href="#"><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></a>
                </li>-->
            </ul>
            <!-- ???? -->
            <div id="add_tip"></div>
            <input type="hidden" name="current_page" id="current_page" value="invoice-export_btb_inc">
        </div>
        <!-- /.col-user_options -->
    </div>
</div>
<!-- /.container -->
<script>
    var beamer_config = {
        product_id: "{product_id}",
        selector: ".uo-beamer",
        user_firstname: "{first_name}",
        user_lastname: "{last_name}",
        user_email: "{email}",
        user_id: "{user_id}",
        language: "{language}",
        display: "right",
        top: 0,
        right: 0
    };
</script>
{if:not_easy_invoice_diy}
<script type="text/javascript">
    $(document).ready(function() {
        $('.uo-menu-logout').on('click', '#logout_link', function(e) {
            $.post('index.php?do=auth-isLoged-auth-logout', function(o) {
                if (o.success) {
                    var ref = angular.element("base")[0].href;
                    ref = ref.substring(0, ref.length);
                    window.location.href = ref;
                }
            }, 'json');
        });
    });
</script>
<script type="text/javascript" src="https://app.getbeamer.com/js/beamer-embed.js" defer="defer"></script>
{end}
{if:easy_invoice_diy}
    <script type="text/javascript">
    $(document).ready(function() {
        $('.uo-menu-logout').on('click', '#logout_link', function(e) {
            $.post('index.php?do=auth-isLoged-auth-logout', function(o) {
                if (o.success) {
                    var ref = angular.element("base")[0].href;
                    ref = ref.substring(0, ref.length);
                    window.location.href = ref+"?source=mcf";
                }
            }, 'json');
        });
    });
</script>
{end}