<div class="modal-header">
    <h4 class="modal-title">{l}VIES customer info{endl}</h4>
</div>
<div class="modal-body">
	<div class="row">
		<div class="form-group">
			<label class="control-label text-left col-sm-5">{l}Name{endl}</label>
			<label class="control-label text-left col-sm-7">{{vmMod.item.name}}</label>
		</div>
		<div class="form-group">
			<label class="control-label text-left col-sm-5">{l}VAT number{endl}</label>
			<label class="control-label text-left col-sm-7">{{vmMod.item.country_code}} {{vmMod.item.vat}}</label>
		</div>
		<div class="form-group">
			<label class="control-label text-left col-sm-5">{l}Address{endl}</label>
			<label class="control-label text-left col-sm-7" ng-bind-html="vmMod.item.address"></label>
			<label class="control-label text-left col-sm-7 col-sm-offset-5">{{vmMod.item.zip}} {{vmMod.item.city}}</label>
			<label class="control-label text-left col-sm-7 col-sm-offset-5">{{vmMod.item.country_name}}</label>
			<a href="#" class="col-sm-7 col-sm-offset-5 text-link" ng-click="vmMod.openModal('AddAddress',vmMod.item,'md')"><span>{l}Add Address{endl}</span></a>
			<a href="#" class="col-sm-7 col-sm-offset-5 margin-top text-link" ng-click="vmMod.updateDetails()"><span>{l}Update Details{endl}</span></a>
		</div>
	</div>	
</div>
<div class="modal-footer">
    <button class="btn btn-plain" type="button" ng-click="vmMod.cancel()">{l}Close{endl}</button>
</div>