<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="ls.cancel()"><span aria-hidden="true">&times;</span></button>
  <h4 class="modal-title">{l}Comments{endl}</h4>
</div>
<div class="modal-body">
	<div class="col-xs-12 margin-bottom">
		<div class="ak_activities row">
			<div class="ak_activities_entry" ng-repeat="item in ls.activities.item | limitTo:ls.activityNumber track by $index">
				<div class="ak_activities_type">
					<span class="o_akti_zen"></span>
					<span class="ak_activities_date">{{item.day}}</span>
				</div>
				<div class="ak_activities_content row">
					<h4 class="ak_activities_title"><span class="badge badge-sm bg-primary">{{item.time}}</span></h4>
					<small>{l}Created by{endl} {{item.by}}</small>
					<div ng-if="item.comments" class="ak_activities_note text-muted" ng-class="{ 'active':item.expandText }" ng-bind-html="item.comments" expand-text on-show="item.isBigger=true;"></div>
					<div ng-if="item.comments && item.isBigger" class="border-top text-center">
	  					<button class="btn btn-block btn-arrow no_css_toggle_note" ng-click="item.expandText=!item.expandText"><span class="glyphicon " ng-class="{ 'glyphicon-chevron-up':item.expandText, 'glyphicon-chevron-down':!item.expandText }"></span></button>
					</div>						
				</div><!-- /.ak_activities_entry -->
			</div><!-- /.ak_activities row -->
			<div class="ak_activities_entry ak_activities_button" ng-if="ls.activities.item.length > ls.activityNumber">
				<div class="ak_activities_type">
					<span class="fa fa-ellipsis-h"></span>
				</div>
				<div class="ak_activities_content row text-muted">
					<button class="btn btn-plain" ng-click="ls.activityNumber=ls.activityNumber+5;">{l}Show More{endl}</button>
				</div><!-- /.ak_activities_content -->
			</div>
		</div>
	</div>
</div>