<!-- neede on all pages -->
<div class="container">
  <div class="page-header">
    <div class="row">
      <div class="col-sm-8">
        <h1 class="ng-clock">{l}Contract{endl} <span ng-bind-html="vm.serial_number"></span> <span ng-if="vm.version_code">[{{vm.version_code}}]</span></h1>
      </div>
    </div>        
  </div><!-- /.page-header -->
  <div ui-view></div>
</div>
<!-- neede on all pages -->