<div class="container">
    <!-- neede on all pages -->
    <div class="page-header">
        <div class="row">
            <div class="col-xs-8 col-sm-6">
                <h1>{l}Contracts{endl}</h1>
            </div>
            <div class="col-xs-4 col-sm-6 text-right" ng-if="show_settings.is_admin_contract">
                <div class="dropdown new-settings">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-ellipsis-v"></i></button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <!-- <a class="dropdown-item" href="#">Archived Contracts</a>
                        <a class="dropdown-item" href="#">Import</a> -->
                        <li class="dropdown-item" ng-class="{ 'current':menu.submenu == 'contracts_setting' }"><a go-to="" href="contractSettings/" state="contractSettings"><span class="fas fa-cog text-primary"></span> {l}Contracts Settings{endl}</a></li>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.page-header -->
    </div>
    <div class="tabs-navigation">
        <ul class="nav nav-tabs">
            <li class="active">
                <a href="contracts/" go-to="" state="contracts">{l}Contracts{endl}</a>
                <button type="button" class="btn btn-primary btn-add" ui-sref="contract.edit({ 'contract_id':'tmp' })"  tooltip-placement="top"><span class="btn-add_icon"><span class="icon-bar"></span><span class="icon-bar-2"></span></span></button>
            </li>
            <li>
                <a href="contractTemplates/" go-to="" state="contractTemplates">{l}Model Contracts{endl}</a>
            </li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane active" id="contracts">
                <div class="row page-search">
                    <form>
                        <div class="col-xs-12 col-sm-10 col-md-10 col-lg-10 ">
                            <div class="so-field" ng-class="{ 'so-active':search.search != '' }">
                                <span class="glyphicon glyphicon-search so-icon"></span>
                                <input type="text" class="form-control" placeholder="{l}Search{endl}" search-it doit="search" callbk="renderList" ng-model="search.search">
                                <span class="glyphicon glyphicon-remove so-icon so-remove" ng-click="toggleSearchButtons('search', '')"></span>
                            </div>
                            <!-- /.input-search -->
                        </div>
                        <!-- /.page-search_options -->
                        <div class="col-xs-12 col-sm-2">
<!--                            <div class="btn-group btn-block">-->
<!--                                <selectize placeholder="{l}All Statuses{endl}" config='filterCfg' options='views' ng-model="activeView"></selectize>-->
<!--                            </div>-->
                            <div class="so-field" ng-class="{ 'so-active':search.view }">
                                <selectize config='filterCfg' options='view_dd' ng-model="search.view"></selectize>
                                <span class="glyphicon glyphicon-remove so-icon so-remove" ng-click="toggleSearchButtons('view', '')"></span>
                            </div>
                        </div>
                    </form>
                </div>
                <!-- /.page-search -->
                <div class="row page-content">
                    <div uib-alert ng-repeat="alert in alerts" type="{{alert.type}}" close="alerts.splice($index, 1);" ng-class="['alert-' + (alert.type || 'warning'), 'alert-fixed' ]" dismiss-on-timeout='5000'>{{alert.msg}}</div>
                    <div class="col-xs-12">
                        <!-- <div uib-alert type="notice" class="alert-warning" ng-if="!list.length">{l}No data to display{endl}</div> -->
                        <table class="table active_rows orderTable" ng-if="list.length">
                            <thead>
                                <tr>
                                    <th class="col-sm-2 sortable_row expand_row" ng-class="{ 'sortable_row-up':(!reverse && ord == 'serial_number'), 'sortable_row-down':(reverse && ord == 'serial_number') }" ng-click="orderBY('serial_number')">{l}Contract number{endl} <small>[{l}Version{endl}]</small></th>
                                    <th class="col-sm-2 sortable_row" ng-class="{ 'sortable_row-up':(!reverse && ord == 'start_date'), 'sortable_row-down':(reverse && ord == 'start_date') }" ng-click="orderBY('start_date')">{l}Start Date{endl}</th>
                                    <th class="col-sm-2 sortable_row" ng-class="{ 'sortable_row-up':(!reverse && ord == 'end_date'), 'sortable_row-down':(reverse && ord == 'end_date') }" ng-click="orderBY('end_date')">{l}End Date{endl}</th>
                                    <th class="col-sm-2 sortable_row" ng-class="{ 'sortable_row-up':(!reverse && ord == 'subject') , 'sortable_row-down':(reverse && ord == 'subject') }" ng-click="orderBY('subject')">{l}Subject{endl}</th>
                                    <th class="col-sm-3 sortable_row" ng-class="{ 'sortable_row-up':(!reverse && ord == 'customer_name'), 'sortable_row-down':(reverse && ord == 'customer_name') }" ng-click="orderBY('customer_name')">{l}Account Name{endl}</th>
                                    <th class="col-sm-1 sortable_row" ng-class="{ 'sortable_row-up':(!reverse && ord == 'amount'), 'sortable_row-down':(reverse && ord == 'amount') }" ng-click="orderBY('amount')">{l}Amount{endl}</th>
                                    <th class="col-sm-1 text-center col-status">{l}Status{endl}</th>
                                    <th class="col-sm-1"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="item in list" class="collapseTr">
                                    <td class="expand_row">
                                        <i class="fa fa-chevron-right btn-expand" ng-click="listMore($index)" ng-if="item.show_expand"></i>
                                        <i class="fa fa-chevron-down btn-expand hidden" ng-click="listLess($index)" ng-if="item.show_expand"></i>
                                        <!-- <span class="glyphicon glyphicon-plus btn-expand" ng-click="listMore($index)" ng-if="item.show_expand"></span>
                                        <span class="glyphicon glyphicon-minus btn-expand hidden" ng-click="listLess($index)" ng-if="item.show_expand"></span> -->
                                        <a href="contract/view/{{item.contract_id}}?version_id={{item.version_id}}" class="color-dark">
                                            <span go-to="" state="contract.view" params='{"contract_id": {{::item.contract_id}},"version_id": {{::item.version_id}}}' list='{ "type":"contract-contracts", "obj": { "search":{{search}}, "cindex":{{$index}}, "total_items":{{max_rows}} } }'>{{item.CONTRACT_NUMBER}}</span><span>[{{item.version}}]</span>
                                        </a>
                                    </td>
                                    <td go-to="" state="contract.view" params='{"contract_id": {{::item.contract_id}},"version_id": {{::item.version_id}}}' list='{ "type":"contract-contracts", "obj": { "search":{{search}}, "cindex":{{$index}}, "total_items":{{max_rows}} } }'>
                                        <a href="contract/view/{{item.contract_id}}?version_id={{item.version_id}}" class="color-dark"><span>{{item.CONTRACT_DATE}}</span></a>
                                    </td>
                                    <td go-to="" state="contract.view" params='{"contract_id": {{::item.contract_id}},"version_id": {{::item.version_id}}}' list='{ "type":"contract-contracts", "obj": { "search":{{search}}, "cindex":{{$index}}, "total_items":{{max_rows}} } }'>
                                        <a href="contract/view/{{item.contract_id}}?version_id={{item.version_id}}" class="color-dark"><span>{{item.CONTRACT_END_DATE}}</span></a>
                                    </td>
                                    <td go-to="" state="contract.view" params='{"contract_id": {{::item.contract_id}},"version_id": {{::item.version_id}} }' list='{ "type":"contract-contracts", "obj": { "search":{{search}}, "cindex":{{$index}}, "total_items":{{max_rows}} } }'>
                                        <a href="contract/view/{{item.contract_id}}?version_id={{item.version_id}}" class="color-dark">{{::item.subject}}</a>
                                    </td>
                                    <td go-to="" state="contract.view" params='{"contract_id": {{::item.contract_id}},"version_id": {{::item.version_id}}}' list='{ "type":"contract-contracts", "obj": { "search":{{search}} } }'>
                                        <a href="contract/view/{{item.contract_id}}?version_id={{item.version_id}}" class="color-dark"><span>{{item.CUSTONER}}</span></a>
                                    </td>
                                    <td go-to="" state="contract.view" params='{"contract_id": {{::item.contract_id}},"version_id": {{::item.version_id}}}' list='{ "type":"contract-contracts", "obj": { "search":{{search}}, "cindex":{{$index}}, "total_items":{{max_rows}} } }'>
                                        <a href="contract/view/{{item.contract_id}}?version_id={{item.version_id}}" class="color-dark"><span ng-bind-html="item.amount"></span></a>
                                    </td>
                                    <td class="text-center col-status" go-to="" state="contract.view" params='{"contract_id": {{::item.contract_id}},"version_id": {{::item.version_id}}}' list='{ "type":"contract-contracts", "obj": { "search":{{search}}, "cindex":{{$index}}, "total_items":{{max_rows}} } }'>
                                        <a href="contract/view/{{item.contract_id}}?version_id={{item.version_id}}" class="color-dark">
                                            <span class="badge item-status-gray" ng-class="{ 'item-status-orange':item.sent == '1' && item.status_customer == '0', 'item-status-green':item.sent == '1' && item.status_customer == '2', 'item-status-yellow':item.status_customer == '3', 'item-status-red':item.sent == '1' && item.status_customer == '1' }">{{::item.status}}</span>
                                        </a>
                                    </td>
                                    <td class="table_actions">
                                        <div class="btn-group" uib-dropdown>
                                            <button type="button" class="btn btn-plain dropdown-toggle" uib-dropdown-toggle>
                                                <span class="caret"></span>
                                            </button>
                                            <ul class="dropdown-menu dropdown-menu-right" uib-dropdown-menu>
                                                <li class="dropdown-header">{l}Action{endl}</li>
                                                <li>
                                                    <a href="" ng-href="{{item.pdf_link}}" target="_blank"><span class="far fa-file-pdf text-primary"></span> {l}PDF{endl}</a>
                                                </li>
                                                <li ng-if="item.sent == '0' && item.active == '1'">
                                                    <a href="#" go-to="" state="contract.edit" params='{"contract_id": {{::item.contract_id}},"version_id": {{::item.version_id}}}' list='{ "type":"contracts-contracts", "obj": { "search":{{search}} } }'><span class="fas fa-pen text-primary"></span> {l}Edit{endl}</a>
                                                </li>
                                                <li ng-if="item.sent == '0' && item.active == '1'">
                                                    <a href="#" ng-click="action(item, 'ARCHIVE_LINK')" confirm="{l}Are you sure, you wanna archive this entry?{endl}"><span class="fas fa-archive text-primary"></span> {l}Archive{endl}</a>
                                                </li>
                                                <li ng-if="item.sent == '0' && item.active == '0'">
                                                    <a href="#" ng-click="action(item, 'ACTIVATE_LINK')" confirm="{l}Are you sure, you wanna revert this entry?{endl}"><span class="glyphicon glyphicon-repeat text-primary"></span> {l}Revert{endl}</a>
                                                </li>
                                                <li ng-if="item.sent == '0' && item.active == '0'">
                                                    <a href="#" ng-click="action(item, 'DELETE_LINK')" confirm="{l}Are you sure, you wanna delete this entry?{endl}"><span class="fas fa-trash-alt text-primary"></span> {l}Delete{endl}</a>
                                                </li>
                                                <!-- <li ng-if="!item.post_order && !show_load">
                                                    <a href="#" ng-click="greenpost(item)"><img width="16" height="16" alt="" src="images/postgreen_icon.png"> {l}Send by Post{endl}</a>
                                                </li>
                                                <li ng-if="item.post_order && !show_load">
                                                    <a href="#" ng-click="resendPost(item)"><img width="16" height="16" alt="" src="images/postgreen_icon.png"> {l}Post status{endl}</a>
                                                </li> -->
                                            </ul>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-12">
        <div class="col-sm-8">
            <ul ng-if="max_rows > 30" uib-pagination total-items="max_rows" ng-model="search.offset" ng-change="searchThing()" max-size="5" class="pager" boundary-links="true" items-per-page="lr"></ul>
        </div>
        <div class="col-sm-4 text-right">
            <label>{l}Number of contracts{endl}: <strong>{{max_rows}}</strong></label>
        </div>
    </div>
</div>