<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="vmMod.cancel()"><span aria-hidden="true">&times;</span></button>
  <h4 class="modal-title">{l}Contract templates{endl}</h4>
</div>
<div class="modal-body">
  <div uib-alert ng-repeat="alert in vmMod.alerts" type="{{alert.type}}" close="vmMod.alerts.splice($index, 1);" ng-class="['alert-' + (alert.type || 'warning') ]">{{alert.msg}}</div>
  <table class="table active_rows orderTable quotesTable">
    <thead>
      <tr>
        <th class="col-sm-11" >{l}Name{endl}</th>
        <th class="col-sm-1 table_actions">
        </th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="item in vmMod.list" class="collapseTr">
        <td class="expand_row" >
        {{::item.name}}
        </td>
        <td class="text-center"><input type="checkbox" ng-model="vmMod.templates[$index]"  ng-true-value="{{item.id}}" value="{{item.id}}"></td>
      </tr>
    </tbody>
  </table>
  
</div>
<div class="modal-footer">
    <button class="btn btn-plain" type="button" ng-click="vmMod.cancel()">{l}Close{endl}</button>
    <button class="btn btn-default" type="button" ng-click="vmMod.ok()">{l}Save{endl}</button>
</div>
