<div class="page-header-buttons text-right">
    <button go-to="" state="contracts" type="submit" class="btn btn-default"><strong>{l}Back{endl}</strong></button>
    <!--  <a href="index.php?do=contract-print&amp;contract_id={{edit.item_id}}&amp;version_id={{edit.item.version_id}}&amp;lid={{edit.item.email_language}}{{edit.item.end_pdf_link}}" target="_blank" class="btn btn-plain" ng-if="edit.item_id!='tmp'">{l}PDF preview{endl}</a> -->
    <!--  <button type="submit" class="btn btn-default" ng-disabled="!edit.showTxt.address || edit.item.add_customer" ng-click="edit.save(true)">{l}Save{endl}</button> -->
</div>
<div uib-alert ng-repeat="alert in edit.alerts" type="{{alert.type}}" close="edit.alerts.splice($index, 1);" ng-class="['alert-' + (alert.type || 'warning'), 'alert-fixed' ]" dismiss-on-timeout='5000'>{{alert.msg}}</div>
<div class="user_summary" ng-class="{'is-open': edit.showTxt.contract_settings, '': !edit.showTxt.contract_settings}">
    <button class="btn-summary text-link" ng-click="edit.showTxt.contract_settings=!edit.showTxt.contract_settings" ng-disabled="!edit.item.buyer_id || edit.item.add_customer"><span class="glyphicon glyphicon-chevron-down pull-right"></span> {l}Contract Settings{endl}</button>
    <div class="row col-top col-bottom">
        <!-- <div class="col-sm-4 col-md-6">
            <div class="row">
                <div class="col-sm-8">
                    <img class="img-responsive" ng-src="{{edit.item.main_comp_info.logo}}" alt="">
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <h4>{{edit.item.main_comp_info.name}}</h4>
                    <p> <span ng-bind-html="edit.item.main_comp_info.address"></span><br>{{edit.item.main_comp_info.zip}} {{edit.item.main_comp_info.city}}<br> {{edit.item.main_comp_info.country}}
                        <br> {{edit.item.main_comp_info.phone}}
                    </p>
                    <p><a href="#" class="text-link" ng-click="edit.openModal(edit,'ChangeIdentity')">{l}Change Identity{endl}</a> <span class="text-link_space"></span>
                        <a href="#defaultEmail" class="text-link" ui-sref="settings({ 'tab':'defaultEmail' })">{l}Edit Your Information{endl}</a></p>
                </div>
            </div>
        </div> -->
        <div class="col-sm-12 col-md-12 all_left">
            <div class="form-horizontal form-squeeze">
                <div class="row">
                    <div class="col-md-6">
                <!-- <div class="form-group" ng-if="edit.item.start_date">
              <label class="col-sm-5 col-lg-4 control-label">{l}Start Date{endl}</label>
                <div class="col-sm-7 col-lg-8">
                  <div class="so-field">
                    <span class="glyphicon glyphicon-calendar so-icon" ng-click="edit.datePickOpen.start_date=true"></span>
                    <input type="text" class="form-control form-control-border-right" ng-model="edit.item.start_date" uib-datepicker-popup="{{edit.format}}" is-open="edit.datePickOpen.start_date" datepicker-options="edit.dateOptions" ng-disabled="!edit.showTxt.address || edit.item.add_customer" ng-required="true" close-text="Close" placeholder="{l}Start Date{endl}" show-button-bar="false" ng-click="edit.datePickOpen.start_date=true" />
                  </div>
                </div>
            </div>
            <div class="form-group" ng-if="edit.item.start_date">
              <label class="col-sm-5 col-lg-4 control-label">{l}Unlimited Duration{endl}</label>
              <toggle-switch ng-model="edit.item.unlimited_period" class="switch-primary" off-label="{l}No{endl}" on-label="{l}Yes{endl}" is-disabled="!edit.showTxt.address || edit.item.add_customer"></toggle-switch>
            </div>
            <div class="form-group" ng-if="!edit.item.unlimited_period && edit.item.end_date">
              <label class="col-sm-5 col-lg-4 control-label">{l}End Date{endl}</label>
                <div class="col-sm-7 col-lg-8">
                  <div class="so-field">
                    <span class="glyphicon glyphicon-calendar so-icon" ng-click="edit.datePickOpen.end_date=true"></span>
                    <input type="text" class="form-control form-control-border-right" ng-model="edit.item.end_date" uib-datepicker-popup="{{edit.format}}" is-open="edit.datePickOpen.end_date" datepicker-options="edit.dateOptions" ng-disabled="!edit.showTxt.address || edit.item.add_customer" ng-required="true" close-text="Close" placeholder="{l}End Date{endl}" show-button-bar="false" ng-click="edit.datePickOpen.end_date=true" />
                  </div>
                </div>
            </div> -->
            <div class="form-group">
                <label class="col-sm-5 col-lg-4 control-label">{l}Send Reminder{endl}</label>
                <div class="col-sm-7 col-lg-8">
                    <selectize config='edit.cfg' options='edit.item.reminder_type_dd' ng-model="edit.item.reminder_type"></selectize>
                    <div class="row col-top">
                        <div class="col-sm-6 col-lg-6" ng-if="edit.item.reminder_type==3">
                            <div class="so-field">
                                <span class="glyphicon glyphicon-calendar so-icon" ng-click="edit.datePickOpen.reminder_date=true"></span>
                                <input type="text" class="form-control form-control-border-right" ng-model="edit.item.reminder_date" uib-datepicker-popup="{{edit.format}}" is-open="edit.datePickOpen.reminder_date" datepicker-options="edit.dateOptions" ng-disabled="!edit.item.buyer_id || edit.item.add_customer"
                                    ng-required="true" close-text="Close" placeholder="{l}Reminder Date{endl}" show-button-bar="false" ng-click="edit.datePickOpen.reminder_date=true" />
                            </div>
                            <!-- /.so-field -->
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.form-group -->
            <div class="form-group">
                <label class="col-sm-5 col-lg-4 control-label">{l}Budget follow-up{endl}</label>
                <div class="col-sm-7 col-lg-8">
                    <selectize config="edit.cfg" options="edit.item.budget_type_dd" ng-model="edit.item.budget_type"></selectize>
                    <div class="row margin-top" ng-if="edit.item.budget_type=='2'">
                        <div class="col-sm-4">
                            <input type="text" class="form-control form-control-border-right" ng-model="edit.item.t_ct_hour" />
                        </div>
                        <span> {l}hours{endl}</span>
                    </div>
                    <div class="row margin-top" ng-if="edit.item.budget_type=='2'">
                        <div class="col-sm-1 checkbox checkbox-primary">
                            <input type="checkbox" id="checkbox2" class="form-control-border-right" ng-model="edit.item.send_email_alerts" />
                            <label for="checkbox2"></label>
                        </div>
                        <label class="col-sm-10">{l}Send email alerts if contract reaches:{endl}</label>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="col-sm-3">
                                    <input type="text" class="form-control form-control-border-right" ng-model="edit.item.alert_percent" ng-disabled="!edit.item.send_email_alerts" />
                                </div>
                                <label class="col-sm-9"> % {l}of budget{endl}</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.form-group -->
            <div class="form-group">
                <label for="" class="col-sm-5 col-lg-4 control-label">{l}VAT Regime{endl}</label>
                <div class="col-sm-7 col-lg-8">
                    <selectize config="edit.vatregcfg" options="edit.item.vat_regim_dd" ng-model="edit.item.vat_regime_id" id="vat_regime_select"></selectize>
                </div>
                <!-- <div class="col-sm-7 col-sm-offset-5 col-lg-8 col-lg-offset-4 margin-top" ng-if="edit.item.vat_regime_id && edit.item.vat_regular">
              <a class="text-link" href="#" ng-click="edit.vatApplyAll()">{l}Apply VAT Regime on all lines{endl}</a>
            </div> -->
            </div>
            <div class="form-group">
                <label class="col-sm-5 col-lg-4 control-label">{l}Line discount{endl}</label>
                <div class="col-sm-4 col-md-4 col-lg-2">
                    <!-- <toggle-switch  ng-model="edit.item.apply_discount_line" on-change="edit.changeDiscount()" class="switch-primary" off-label="{l}No{endl}" on-label="{l}Yes{endl}"></toggle-switch> -->
                    <label class="switch pull-left small_margin">
              <input type="checkbox" id="checkbox4" ng-model="edit.item.apply_discount_line" ng-change="edit.changeDiscount()">
              <span class="slider round"></span>
              </label>
                </div>
                <div class="col-sm-3 col-lg-2">
                    <div class="input-group">
                        <!-- <input type="text" class="form-control" ng-model="edit.item.discount" display-nr="" placeholder="{l}Discount{endl}" ng-change="edit.changeDiscount()" ng-if="edit.item.apply_discount > 1"> -->
                        <input type="text" class="form-control" ng-model="edit.item.discount_line_gen" display-nr="" placeholder="{l}Discount{endl}" ng-if="edit.item.apply_discount_line == 1">
                        <span class="input-group-addon" ng-if="edit.item.apply_discount_line == 1">%</span>
                    </div>
                </div>
                <div class="col-sm-7 col-lg-4" ng-if="edit.item.apply_discount == 1 || edit.item.apply_discount == 3">
                    <a class="text-link text-right right_imp five_px_mt" href="#" ng-click="edit.applyLineDiscount(true)">{l}Apply discount on all lines{endl}</a>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-5 col-lg-4 control-label">{l}Global discount{endl}</label>
                <div class="col-sm-4 col-md-4 col-lg-2">
                    <!-- <toggle-switch  ng-model="edit.item.apply_discount_global" on-change="edit.changeDiscount()" class="switch-primary" off-label="{l}No{endl}" on-label="{l}Yes{endl}"></toggle-switch> -->
                    <label class="switch pull-left small_margin">
              <input type="checkbox" id="" ng-model="edit.item.apply_discount_global" ng-change="edit.changeDiscount()">
              <span class="slider round"></span>
              </label>
                </div>
                <div class="col-sm-3 col-lg-2">
                    <div class="input-group">
                        <input type="text" class="form-control" ng-model="edit.item.discount" display-nr="" placeholder="{l}Discount{endl}" ng-change="edit.changeDiscount()" ng-if="edit.item.apply_discount_global == 1">
                        <!-- <input type="text" class="form-control" ng-model="edit.item.discount_line_gen" display-nr="" placeholder="{l}Discount{endl}"  ng-if="edit.item.apply_discount == 1"> -->
                        <span class="input-group-addon" ng-if="edit.item.apply_discount_global == 1">%</span>
                    </div>
                </div>
            </div>

               
                <!-- /.form-group -->
                <!-- <div class="form-group col-top col-bottom" ng-if="edit.item.contract_id !='tmp'">
                <label class="col-sm-5 col-lg-4 control-label">{l}Discount{endl}</label>
                <div class="col-sm-4 col-md-4 col-lg-5">
                  <selectize config="edit.cfg" options="edit.item.APPLY_DISCOUNT_LIST" ng-model="edit.item.apply_discount" ></selectize>
                </div>
                <div class="col-sm-3">
                    <div class="input-group">
                      <input type="text" class="form-control" ng-model="edit.item.discount" display-nr="" placeholder="{l}Discount{endl}" ng-change="edit.changeDiscount()" ng-if="edit.item.apply_discount > 1">
                    <input type="text" class="form-control" ng-model="edit.item.discount_line_gen" display-nr="" placeholder="{l}Discount{endl}"  ng-if="edit.item.apply_discount == 1">
                    <span class="input-group-addon" ng-if="edit.item.apply_discount > 1 || edit.item.apply_discount == 1">%</span>
                    </div>
                </div>
                <div class="col-sm-7 col-sm-offset-5 col-lg-8 col-lg-offset-4 col-top" ng-if="edit.item.apply_discount == 1">
                 || edit.item.apply_discount == 2
                    <a class="text-link" href="#" ng-click="edit.applyLineDiscount()">{l}Apply discount on all lines{endl}</a>
                </div>
            </div> -->
                <!-- /.form-group -->
            
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label class="col-sm-5 col-lg-4 control-label">{l}Currency{endl}</label>
                    <div class="col-sm-7 col-lg-8">
                        <selectize config="edit.cfg" options="edit.item.CURRENCY_TYPE_LIST" ng-model="edit.item.currency_type"></selectize>
                    </div>
                </div>
                <!-- /.form-group -->
                <div class="form-group">
                    <label class="col-sm-5 col-lg-4 control-label">{l}Language{endl}</label>
                    <div class="col-sm-7 col-lg-8">
                        <selectize config="edit.cfg" options="edit.item.language_dd" ng-change="edit.changeLang()" ng-model="edit.item.email_language"></selectize>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-5 col-lg-4 control-label">{l}Author{endl}</label>
                    <div class="col-sm-7 col-lg-8">
                        <selectize config='edit.autorAutoCfg' options='edit.item.authors' ng-model="edit.item.author_id"></selectize>
                    </div>
                </div>
                <!-- /.form-group -->
                <div class="form-group">
                    <label class="col-sm-5 col-lg-4 control-label">{l}Account Manager{endl}</label>
                    <div class="col-sm-7 col-lg-8">
                        <selectize config='edit.accmanagerAutoCfg' options='edit.item.accmanager' ng-model="edit.item.acc_manager_id"></selectize>
                    </div>
                </div>
                <!-- /.form-group -->
            
           
               
                <!-- <div class="form-group">
                <label class="col-sm-5 col-lg-4 control-label">{l}VAT{endl}</label>
                <div class="col-sm-7 col-lg-8">
                    <div class="row col-bottom">
                      <div class="col-sm-5">
                        <div class="input-group">
                          <input display-nr="" type="text" class="form-control" ng-model="edit.item.vat">
                          <span class="input-group-addon">%</span>
                        </div>                    
                      </div>                     
                      <a class="text-link" href="#" ng-show="edit.item.no_vat" ng-click="edit.vatApplyAll()">{l}Apply VAT on all lines{endl}</a>                    
                    </div>
                </div>
            </div> -->
         
                <!-- <div class="form-group" ng-if="edit.item.segment_dd.length">
              <label class="control-label col-sm-5 col-lg-4">{l}Segment{endl}</label>
              <div class="col-sm-7 col-lg-8">
                <selectize config='edit.selectCfg' options='edit.item.segment_dd' ng-model="edit.item.segment_id"></selectize>
              </div>
            </div> -->
                <!-- <div class="form-group" ng-if="edit.item.source_dd.length">
              <label class="control-label col-sm-5 col-lg-4">{l}Source{endl}</label>
              <div class="col-sm-7 col-lg-8">
                <selectize config='edit.selectCfg' options='edit.item.source_dd' ng-model="edit.item.source_id"></selectize>
              </div>
            </div>  -->
                <div class="form-group" ng-if="edit.item.type_dd.length">
                    <label class="control-label col-sm-5 col-lg-4">{l}Type{endl}</label>
                    <div class="col-sm-7 col-lg-8">
                        <selectize config='edit.selectCfg' options='edit.item.type_dd' ng-model="edit.item.type_id"></selectize>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-5 col-lg-4">{l}Business Units{endl}</label>
                    <div class="col-sm-7 col-lg-8">
                        <selectize config='edit.selectCfg' options='edit.item.multiple_identity_dd' ng-model="edit.item.identity_id"></selectize>
                    </div>
                </div>
            </div>
            </div>
            </div>
        </div>
    </div>
</div>
<!-- /.user_summary -->
<div class="row no-after">
    <div class="col-sm-6">
        <div class="panel panel-default panel-customer_details border-none">
            <div class="panel-body panel-current_customer" ng-class="{ 'panel-add_customer': edit.item.add_customer && edit.showTxt.addBtn }">
                <div ng-if="edit.showTxt.address && !edit.item.add_customer">
                    <a class="panel-edit text-link" href="#" ng-click="edit.showEditFnc(edit)">{l}Edit{endl}</a>
                    <h2>{{edit.item.buyer_name}} <small class="quick_edits"><span class="text-link_space"></span> <a href="#" class="text-link text-muted edit-customer" ng-click="edit.openModal(edit,'EditContact');" ng-if="edit.item.field=='contact_id'" >{l}Edit Customer{endl}</a><a href="#" class="text-link text-muted edit-customer" ng-click="edit.openModal(edit,'EditCustomer');" ng-if="edit.item.field=='customer_id'" >{l}Edit Customer{endl}</a> <span class="text-link_space" ></span> <a href="#" class="text-link text-muted delete-customer" ng-click="edit.removeCust(edit)" >{l}Remove{endl}</a></small></h2>
                    <p ng-if="edit.item.contact_name && edit.item.field=='customer_id'" class=""><span ng-bind-html="edit.item.contact_name"></span> <small class="quick_edits"><span class="text-link_space"></span> <a href="#" class="text-link text-muted edit-contact" ng-click="edit.openModal(edit,'EditContact');" >{l}Edit Contact{endl}</a> <span class="text-link_space"></span> <a href="#" class="text-link text-muted" ng-click="edit.removeContact(edit)">{l}Remove{endl}</a></small></p>
                    <p><a href="#" class="text-link edit-customer" ng-click="edit.showEditFnc(edit)" ng-if="!edit.item.contact_name">{l}Add a Contact{endl}</a>
                        <!-- <span class="text-link_space" ng-if="!edit.item.contact_name"></span> <a href="#" class="text-link delete-customer" ng-click="edit.openModal(edit,'AddCustomer',edit.contactAddObj,'md');" ng-if="!edit.item.contact_name">{l}Create a new Contact{endl}</a> --></p>
                    <div class="delivery-address" ng-if="!edit.item.view_delivery">
                        <span ng-bind-html="edit.item.free_field_txt"></span>
                        <!-- <small class="quick_edits delivery-controller"><span class="text-link_space"></span> <a href="#" class="text-link text-muted" ng-click="edit.showEditFnc(edit)">{l}Edit address{endl}</a></small> -->
                    </div>
                    <!--<p ng-if="item.view_delivery"><strong>{l}Delivery Address{endl}</strong></p>-->
                    <div class="delivery-address" ng-if="edit.item.view_delivery">
                        <span ng-bind-html="edit.item.delivery_address_txt"></span>
                        <!-- <small class="quick_edits delivery-controller"><span class="text-link_space"></span> <a href="#" class="text-link text-muted" ng-click="edit.showEditFnc(edit)">{l}Edit address{endl}</a></small> -->
                    </div>
                </div>
                <!-- /showTxt.address -->
                <div ng-if="edit.item.add_customer">
                    <button class="btn btn-block btn-lg btn-blank" ng-if="edit.showTxt.addBtn" ng-click="edit.showCCSelectize(edit)"><span class="fa fa-user-plus icon-holder"></span> {l}Add Customer{endl}</button>
                    <selectize config='edit.ccAutoCfg' options='edit.auto.options.cc' ng-model="edit.item.cc_id" id="custandcont" ng-if="!edit.showTxt.addBtn"></selectize>
                </div>
                <div class="form-horizontal text-left " ng-if="!edit.showTxt.address">
                    <div class="form-group">
                        <label class="col-sm-3 control-label">{l}Customer{endl}</label>
                        <div class="col-sm-9">
                            <div class="so-dropdown" ng-class="{ 'so-active':edit.item.buyer_id!==undefined &&  edit.item.buyer_id!=''}">
                                <!-- <input type="text" class="form-control" ng-model="edit.item.buyer_name" ng-disabled="true"> -->
                                <selectize config='edit.ccAutoCfg' options='edit.auto.options.cc' ng-model="edit.item.buyer_id" id="custandcont"></selectize>
                                <span class="glyphicon glyphicon-remove so-icon so-remove"  ng-click="edit.removeAccount(edit)"></span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">{l}Contact{endl}</label>
                        <div class="col-sm-9">
                            <div class="so-dropdown" ng-class="{ 'so-active':edit.item.contact_id && edit.item.contact_id !=0}">
                                <selectize config='edit.contactAutoCfg' options='edit.auto.options.contacts' ng-model="edit.item.contact_id" id="contact_id" ng-disabled="!edit.item.buyer_id"></selectize>
                                <span class="glyphicon glyphicon-remove so-icon so-remove"  ng-click="edit.removeContact(edit)"></span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group extra_address">
                        <label class="col-sm-3 control-label">{l}Address{endl}</label>
                        <div class="col-sm-9 ">
                            <div class="so-dropdown" ng-class="{ 'so-active':edit.item.main_address_id}">
                                <selectize config='edit.addressAutoCfg' options='edit.auto.options.addresses' ng-model="edit.item.main_address_id" id="main_address" ng-disabled="!edit.item.buyer_id"></selectize>
                                <span class="glyphicon glyphicon-remove so-icon so-remove"  ng-click="edit.removeMainDeliveryAddr(edit)"></span>
                            </div>
                        </div>
                    </div>
<!--                    <div class="form-group">-->
<!--                        <label class="col-sm-3 control-label"></label>-->
<!--                        <div class="col-sm-9 checkbox checkbox-primary">-->
<!--                            <input type="checkbox" id="checkbox1" ng-model="edit.item.sameAddress" ng-click="edit.removeDeliveryAddr()" ng-disabled="!edit.item.buyer_id">-->
<!--                            <label for="checkbox1"></label>-->
<!--                            <span class="text-muted"> {l}Billing address same as main address{endl}</span>-->
<!--                        </div>-->

<!--                    </div>-->
                    <div class="form-group extra_address" ng-if="!edit.item.sameAddress">
                        <div class="col-sm-9 col-sm-offset-3">
                            <div class="so-dropdown" ng-class="{ 'so-active':edit.item.delivery_address_id}">
                                <selectize config='edit.addressAutoCfg' options='edit.auto.options.addresses' ng-model="edit.item.delivery_address_id" id="delivery_address" ng-disabled="!edit.item.buyer_id"></selectize>
                                <span class="glyphicon glyphicon-remove so-icon so-remove"  ng-click="edit.removeDeliveryAddr(edit)"></span>
                            </div>
                        </div>
                    </div>
                    <!-- <div class="text-right">
                        <a href="#" class="text-muted" ng-click="edit.cancelEdit(edit)">{l}Cancel{endl}</a> <span class="text-link_space"> </span>
                        <button type="submit" class="btn btn-default" ng-click="edit.saveClientData(edit,edit.item.field)">{l}Save{endl}</button> -->
                        <!-- <a href="#" class="text-link" ng-click="edit.saveClientData(edit,edit.item.field)">{l}Save{endl}</a> -->
                    <!-- </div> -->
                </div>
            </div>
        </div>
        <!-- /.panel -->
    </div>
    <div class="col-sm-6">
        <form class="form-horizontal form-squeeze">
            <div class="form-group">
                <label class="col-sm-3 col-sm-offset-2 control-label text-left">{l}Contract number{endl} <i class="fa fa-question-circle" uib-tooltip="{l}Go to the settings to configure the numbering convention{endl}" tooltip-placement="bottom"></i></label>
                <div class="col-sm-7 input-group">
                    <input type="text" class="form-control" ng-model="edit.item.serial_number" ng-disabled="!edit.item.can_change" placeholder="{l}Contract number{endl}" ng-class="{ 'disabled_class':edit.item.contract_id=='tmp' }" uib-tooltip="{l}Will be generated automatically when saving{endl}"
                        tooltip-enable="{{ edit.item.contract_id=='tmp' ? true : false}}" tooltip-placement="auto" ng-readonly="edit.item.contract_id=='tmp'">
                    <div class="input-group-addon">{{edit.item.CURRENT_VERSION}}</div>
                </div>
            </div>
            <!-- /.form-group -->
            <div class="form-group">
                <label class="col-sm-3 col-sm-offset-2 control-label text-left">{l}Date{endl}</label>
                <div class="col-sm-7">
                    <div class="so-field">
                        <span class="glyphicon glyphicon-calendar so-icon" ng-click="edit.openDate('date')"></span>
                        <input type="text" class="form-control form-control-border-right" ng-model="edit.item.contract_version_date" uib-datepicker-popup="{{edit.format}}" is-open="edit.datePickOpen.date" datepicker-options="edit.dateOptions" ng-disabled="!edit.item.buyer_id || edit.item.add_customer"
                            ng-required="true" close-text="Close" placeholder="{l}Date{endl}" show-button-bar="false" ng-click="edit.datePickOpen.date=true" />
                    </div>
                    <!-- /.so-field -->
                </div>
            </div>
            <!-- /.form-group -->
            <div class="form-group">
                <label class="col-sm-3 col-sm-offset-2 control-label text-left">{l}Subject{endl}</label>
                <div class="col-sm-7">
                    <input type="text" class="form-control" ng-model="edit.item.subject" name="subject" placeholder="{l}Subject{endl}" ng-disabled="!edit.item.buyer_id || edit.item.add_customer">
                </div>
            </div>
            <!-- /.form-group -->
            <div class="form-group">
                <label class="col-sm-3 col-sm-offset-2 control-label text-left">{l}Your reference{endl}</label>
                <div class="col-sm-7">
                    <input type="text" class="form-control" ng-disabled="!edit.item.buyer_id || edit.item.add_customer" ng-model="edit.item.your_ref" placeholder="{l}Your reference{endl}">
                </div>
            </div>
            <!-- /.form-group -->
            <!-- <div class="form-group" ng-if="edit.item.has_installation && edit.item.installations.length"> -->
                <div class="form-group" ng-if="edit.item.has_installation">
                <label class="col-sm-3 col-sm-offset-2 control-label text-left">{l}Installation{endl}</label>
                <!-- <div ng-class="{'col-sm-5':edit.item.installation_id!='0' && edit.item.installation_id!=undefined, 'col-sm-7':(edit.item.installation_id=='0' || edit.item.installation_id==undefined)}"> -->
                    <!-- <selectize config='edit.installAutoCfg' ng-disabled="!edit.item.buyer_id || edit.item.add_customer" options='edit.item.installations' ng-model="edit.item.installation_id" id="installation_list"></selectize> -->
                    <div class="col-sm-7">
                    <selectize config='edit.installAutoCfg' ng-disabled="!edit.item.buyer_id || edit.item.add_customer" options='edit.item.installations' ng-model="edit.item.installation_id" id="installation_list"></selectize>
                </div>
                <!-- <div class="col-sm-2 text-center" ng-if="edit.item.installation_id!='0' && edit.item.installation_id!=undefined">
                    <label class="control-label"><a ng-click="edit.viewInstall(edit.item.installation_id)" uib-tooltip="{l}Installation Info{endl}" tooltip-placement="left"><span class="glyphicon glyphicon-info-sign"></span></a></label>
                    <label class="control-label" ng-if="edit.item.drop_active"><a ng-click="edit.viewDataInstall(edit.item.installation_id)" uib-tooltip="{l}Installation Files{endl}" tooltip-placement="left"><span class="glyphicon glyphicon glyphicon-link"></span></a></label>
                </div> -->
            </div>
            <!-- /.form-group -->
            <!-- <div class="form-group" ng-if="edit.item.deals.length"> -->
                <div class="form-group">
                <label class="col-sm-3 col-sm-offset-2 control-label text-left">{l}Deal{endl}</label>
                <div class="col-sm-7">
                    <selectize config='edit.dealAutoCfg' ng-disabled="!edit.item.buyer_id || edit.item.add_customer" options='edit.item.deals' ng-model="edit.item.deal_id" id="deal_list"></selectize>
                  
                </div>
            </div>
        </form>
        <!-- /.form-horizontal -->
    </div>
</div>
<!-- /.intervention-details -->
<div class="chapter-tab">
    <div scrolling-tabs-wrapper tabs="edit.item.quote_group" prop-pane-id="group_id" prop-title="title" prop-active="active" watch-tabs="edit.item.quote_group" class="clearfix">
        <!-- chapter-tabs -->
        <ul class="nav nav-tabs tabs-default new-chapter" role="tablist" data-as-sortable="edit.dragChaptersControlListeners" data-ng-model="edit.item.quote_group" id="horizontal-container">
            <li class="new_chapter" role="presentation" ng-class="{ 'active': item.active, 'min_width_chapter':item.editTitle, 'no_edit':!item.editTitle }" ng-style="{ 'width' : (item.editTitle ? (item.title.length*7.5)+'px' : '') }" ng-repeat="item in edit.item.quote_group"
                data-as-sortable-item>
                <a ng-if="!item.editTitle" data-toggle="tooltip" data-placement="top" ng-click="edit.showGroup($event,$index)" role="tab" data-toggle="tab" data-as-sortable-item-handle>&nbsp;<span ng-if="item.title">{{item.title}}</span><span class="grey-text" ng-if="!item.title">{l}Chapter{endl} {{$index+1}}</span>&nbsp;</a>
                <input type="text" placeholder="{l}Chapter{endl} {{$index+1}}" class="form-control  chapter_heading chapter_input_head" ng-if="item.editTitle" ng-model="item.title" focus-me="item.editTitle" ng-blur="item.editTitle=false;edit.delaySave()">
                <a class="btn text-link delete_chapter" ng-class="{ 'edit_chapter':edit.item.quote_group.length>1 }" ng-if="!item.editTitle" ng-click="item.editTitle=true"><i class="fas fa-pen"></i></a>
                <a href="" class="btn text-link delete_chapter" confirm="{l}Are you sure you want to delete this chapter{endl}?" ng-click="edit.removeLine($index,edit.item.quote_group,true)" ng-if="!item.editTitle && edit.item.quote_group.length>1"><i class="fa fa-trash-o"></i></a>
            </li>
            <li class="addChapter" uib-tooltip="{l}Chapter{endl}" tooltip-placement="top"><a ng-click="edit.addQuoteGroup(edit)"><i class="fa fa-plus" aria-hidden="true"></i></a></li>
        </ul>
    </div>

    <div class="tab-content tab-content-alt" ng-show="edit.item.quote_group.length">
        <div role="tabpanel" class="tab-pane " ng-class="{ 'active': item.active }" id="{{item.group_id}}" ng-repeat="item in edit.item.quote_group track by $index">
            <div class="chapter_block">
                <div class="row">
                    <!-- <div class="col-sm-3 inline_edit">
                 <input type="text" class="form-control chapter_heading" ng-blur="edit.delaySave()" ng-model="item.title" placeholder="{l}Type a Chapter Name{endl}">
              </div>
              <div class="col-sm-7">
                <a class="btn btn-sm btn-link" ng-click="edit.orderChapter($index)" ng-disabled="$index <= 0"><i class="fa fa-arrow-left" aria-hidden="true"></i> {l}Move Left{endl}</a>
                <a class="btn btn-sm btn-link" ng-click="edit.orderChapter($index,true)" ng-disabled="$index >= (edit.item.quote_group.length-1)">{l}Move Right{endl} <i class="fa fa-arrow-right" aria-hidden="true"></i></a>
                <a href="" class="btn text-link" confirm="{l}Are you sure you want to delete this chapter{endl}?" ng-click="edit.removeLine($index,edit.item.quote_group,true)">{l}Delete Chapter{endl}</a>
              </div> -->
                    <div class="col-md-offset-10 col-md-2 text-right">
                        <div class="btn-group" uib-dropdown>
                            <button type="button" class="btn btn-plain dropdown-toggle" uib-dropdown-toggle>
                    {l}PDF Options{endl} <span class="caret"></span>
                  </button>
                            <ul class="dropdown-menu dropdown-menu-right keep-open-on-click" uib-dropdown-menu>
                                <li class="dropdown-header">{l}Document Actions{endl}</li>
                                <li class="dropdown-checkbox">
                                    <label class="checkbox-inline text-nowrap">
                        <input type="checkbox" ng-model="edit.item.show_grand" ng-change="edit.delaySave()" > {l}Grand Total{endl}
                      </label>
                                </li>
                                <li class="dropdown-checkbox" ng-if="edit.item.show_grand">
                                    <label class="checkbox-inline text-nowrap">
                        <input type="checkbox" ng-model="edit.item.show_vat" ng-change="edit.delaySave()"> {l}Show VAT on total{endl}
                      </label>
                                </li>
                                <li class="dropdown-checkbox">
                                    <label class="checkbox-inline text-nowrap">
                        <input type="checkbox" ng-model="edit.item.show_vat_pdf" ng-change="edit.delaySave()" > {l}Show VAT column on PDF{endl}
                      </label>
                                </li>
                                <li class="dropdown-checkbox">
                                    <label class="checkbox-inline text-nowrap">
                        <input type="checkbox" ng-model="edit.item.show_img_q" ng-change="edit.delaySave()" > {l}Show article image{endl}
                      </label>
                                </li>
                                <li role="separator" class="divider"></li>
                                <li class="dropdown-header">{l}Chapter Options{endl}</li>
                                <li class="dropdown-checkbox">
                                    <label class="checkbox-inline text-nowrap">
                        <input type="checkbox" ng-model="item.show_QC" ng-change="edit.delaySave()"> {l}Quantity{endl}
                      </label>
                                </li>
                                <li class="dropdown-checkbox">
                                    <label class="checkbox-inline text-nowrap">
                        <input type="checkbox" ng-model="item.show_UP" ng-change="edit.delaySave()"> {l}Unit Price{endl}
                      </label>
                                </li>
                                <li class="dropdown-checkbox">
                                    <label class="checkbox-inline text-nowrap">
                        <input type="checkbox" ng-model="item.show_PS" ng-change="edit.delaySave()"> {l}Pack.{endl} / {l}S.U.{endl}
                      </label>
                                </li>
                                <li class="dropdown-checkbox">
                                    <label class="checkbox-inline text-nowrap">
                        <input type="checkbox" ng-model="item.show_d" ng-change="edit.delaySave()"> {l}Discount{endl}
                      </label>
                                </li>
                                <li class="dropdown-checkbox">
                                    <label class="checkbox-inline text-nowrap">
                        <input type="checkbox" ng-model="item.show_chapter_total" ng-change="edit.delaySave()"> {l}Show Capter Total{endl}
                      </label>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.chapter_block -->
            <ul class="table table_orders table_orders_alt" data-as-sortable="edit.dragControlListeners" data-ng-model="table.quote_line" ng-repeat="table in item.table">
                <li ng-repeat="line in table.quote_line" data-as-sortable-item ng-class="{ 'heading_holder':line.line_type==4 ||line.line_type==5, 'section_block':line.line_type==6 || line.line_type==7 }">
                    <div class="row">
                        <div class="row_handler">
                            <span class="btn-drag" data-as-sortable-item-handle>&nbsp;</span>
                            <span class="btn-remove"><span class="fa fa-trash" ng-click="edit.removeLine($index,table.quote_line)"></span></span>
                        </div>


                        <!-- <div ng-if="line.line_type!=3"> -->
                        <div class="col-sm-2" ng-if="line.line_type==1 ">
                            <span class="hideOnDesktop">{l}Code{endl}</span>
                            <code class="text-ellipsis">{{line.article_code}}</code>
                            <!-- <div class="row col-top">
                            <div class="col-sm-6 col-sm-offset-3"><img class="img-responsive img-thumbnail" src="demo_images/wooden_pen_02.jpg" alt=""/></div>
                        </div> -->
                        </div>
                        <div class="col-sm-{{line.colum}}" ng-if="line.line_type==1 || line.line_type==2"><span class="hideOnDesktop">{l}Article{endl} </span><textarea class="form-control textareaResize" resize-txt rows="1" ng-model="line.description" ng-bind-html="line.description"></textarea></div>
                        <div class="col-sm-1" ng-if="line.line_type==1 || line.line_type==2"><span class="hideOnDesktop">{l}Quantity{endl} </span> <input type="text" class="form-control" value="1" ng-model="line.quantity" ng-change="edit.calc('quantity',$index,line.tr_id)" display-nr="" /></div>
                        <div class="col-sm-1" ng-if="line.line_type==1 || line.line_type==2"><span class="hideOnDesktop">{l}Unit Price{endl} </span><input type="text" class="form-control" ng-model="line.price" ng-blur="edit.calc('price',$index,line.tr_id)" display-nr="" use-digits="true" /></div>
                        <div class="col-sm-1 text-center text-muted" ng-if="(line.line_type==1 || line.line_type==2) && edit.item.show_vat"><span class="hideOnDesktop">{l}VAT{endl} </span>
                            <!-- <div class="input-group">
                        <input type="text" class="form-control" ng-model="line.line_vat" display-nr="" ng-disabled="edit.item.block_vat" ng-blur="edit.calc('price',$index,line.tr_id)" />
                        <span class="input-group-addon input-group-addon_shrink">%</span>
                      </div> -->
                            <div class="row">
                                <div class="col-sm-12">
                                    <selectize config="edit.linevatcfg" options="edit.item.generalvats" ng-model="line.line_vat" ng-disabled="edit.item.block_vat" ng-change="edit.calc('price',$index,line.tr_id)"></selectize>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-1" ng-if="line.line_type==1 || line.line_type==2"><span class="hideOnDesktop">{l}Unit Price + VAT{endl} </span><input type="text" class="form-control" ng-blur="edit.calc('price_vat',$index,line.tr_id)" ng-model="line.price_vat" display-nr="" /></div>
                        <div class="col-sm-1 text-center text-muted" ng-if="table.USE_PACKAGE && (line.line_type==1 || line.line_type==2)"><span class="hideOnDesktop">{l}Pack{endl}.<span ng-if="table.USE_SALE_UNIT"> / {l}S.U.{endl}</span> </span><span>{{::line.package}}</span><span ng-if="table.USE_SALE_UNIT"> / {{::line.sale_unit}}</span></div>
                        <div class="col-sm-1" ng-if="edit.item.VIEW_DISCOUNT && (line.line_type==1 || line.line_type==2)">
                            <span class="hideOnDesktop">{{l}}Discount{{endl}} </span>
                            <div class="input-group">
                                <input type="text" class="form-control" value="0" ng-blur="edit.calc()" ng-model="line.line_discount" />
                                <span class="input-group-addon input-group-addon_shrink">%</span>
                            </div>
                        </div>
                        <div class="col-sm-1 text-center" ng-if="line.line_type==1 || line.line_type==2"><span class="hideOnDesktop">{l}Amount{endl} </span>{{line.line_total}}</div>
                        <!-- </div> -->


                        <div ng-if="line.line_type==3" class="col-sm-12">
                            <span class="hideOnDesktop">{l}Free text{endl} </span>
                            <div class="wysiwyg-holder wysiwyg-hide">
                                <textarea ui-tinymce="edit.tinymceOptionsLines" ng-model="line.description" class="" rows="1" placeholder="{l}Free text{endl}"></textarea>
                            </div>
                        </div>

                        <div class="col-sm-12" ng-if="line.line_type==4">
                            <input type="text" class="form-control chapter_heading chapter_h1" ng-model="line.description" placeholder="{l}Enter a Title{endl}">
                        </div>
                        <div class="col-sm-12" ng-if="line.line_type==5">
                            <input type="text" class="form-control chapter_heading chapter_h2" ng-model="line.description" placeholder="{l}Enter a Title{endl}">
                        </div>
                        <div class="clearfix" ng-if="line.line_type==6">
                            <span class="hideOnDesktop"><em>{l}Page Break{endl}</em></span>
                            <div class="col-sm-12">{l}Page Break{endl}</div>
                        </div>
                        <div class="row" ng-if="line.line_type==7">
                            <div class="row_handler">
                                <!-- <span class="btn-drag"> </span> -->
                                <!-- <span class="btn-remove"><span class="fa fa-trash" ng-click="removeLine($index)"></span></span> -->
                            </div>
                            <span class="hideOnDesktop"><em>{l}Table Header{endl}</em></span>
                            <div class="col-sm-{{edit.item.hcolum}}">{l}Item{endl}</div>
                            <div class="col-sm-1">{l}Quantity{endl}</div>
                            <div class="col-sm-1">{l}Unit Price{endl}</div>
                            <div class="col-sm-1 text-center" ng-if="edit.item.show_vat">{l}VAT{endl}</div>
                            <div class="col-sm-1 text-center">{l}Unit Price{endl}<br>+ {l}VAT{endl}</div>
                            <div class="col-sm-1 text-center" ng-if="table.USE_PACKAGE">{l}Pack{endl}.<span ng-if="table.USE_SALE_UNIT"> / {l}S.U.{endl}</span></div>
                            <div class="col-xs-1" ng-if="edit.item.VIEW_DISCOUNT">{l}Discount{endl}</div>
                            <div class="col-xs-1 text-center">{l}Amount{endl}</div>
                        </div>

                    </div>
                </li>
            </ul>
            <!-- /.table_orders -->
<!--            <div class="row" ng-if="item.table.length == 0">-->
<!--                <div class="col-xs-2 col-xs-offset-4">-->
<!--                    <div class="blank_card blank_card-lg text-center contract_chapter_builder" ng-click="edit.addArticle()">-->
<!--                        <a href="javascript:void(0)">-->
<!--                            <div class="card_icon"><span class="akti-icon o_akti_quote"></span></div>-->
<!--                            <p class="text-muted col-top">{l}Start building your chapter.{endl}</p>-->
<!--                        </a>-->
<!--                    </div>-->
<!--                    &lt;!&ndash; /.blank_card &ndash;&gt;-->
<!--                </div>-->
<!--                <div class="col-xs-2">-->
<!--                    <div class="blank_card blank_card-lg text-center contract_chapter_builder" ng-click="edit.openModal(edit,'contractTemplates',edit.quote_group_active)">-->
<!--                        <a href="javascript:void(0)">-->
<!--                            <div class="card_icon"><span class="fa fa-download"></span></div>-->
<!--                            <p class="text-muted col-top">{l}Import existing chapter.{endl}</p>-->
<!--                        </a>-->
<!--                    </div>-->
<!--                    &lt;!&ndash; /.blank_card &ndash;&gt;-->
<!--                </div>-->
<!--            </div>-->
            <div class="row" ng-if="item.table.length > 0 && item.show_chapter_total">
                <div class="col-sm-8 col-sm-offset-4 col-md-7 col-md-offset-5 col-lg-6 col-lg-offset-6 col-bottom order_total">
                    <div class="row" ng-iff="order.is_delivery_cost">
                        <div class="col-sm-7 text-right text-muted">{l}VAT{endl}
                        </div>
                        <div class="col-sm-4 col-sm-offset-1">
                            <strong class="text-muted" ng-bind-html="edit.item.currency_txt"></strong>
                            <strong class="text-muted" ng-bind-html="item.table[0].total_vat_span"></strong>
                        </div>
                    </div>
                    <div class="row" ng-class="{ 'form-group':!order.total_hide }">
                        <div class="col-sm-7 text-right">
                            <strong>{l}Amount Due{endl}</strong>
                        </div>
                        <div class="col-sm-4 col-sm-offset-1">
                            <strong class="text-muted" ng-bind-html="edit.item.currency_txt"></strong>
                            <strong class="text-muted" ng-bind-html="item.table[0].total"></strong>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.chapter_total -->
        </div>
    </div>
    <!-- /.tab-content -->
</div>
<!-- /.scrolling-tabs-container -->
<div class="table_orders-add table_orders-add_alt">
    <!-- <button class="btn btn-block btn-blank add_article text-link" ng-click="edit.addArticle()" ng-if="!edit.showTxt.addArticleBtn"><span class="fa fa-plus icon-holder"></span> {l}Add Item{endl}</button> -->
    <select class="search-products hide" placeholder="Type an article name"></select>
    <div class="btn-group btn-add_line_new" uib-dropdown ng-class="{ 'open': edit.addNewItem }">
        <a href="#" class="btn text-link dropdown-toggle" uib-dropdown-toggle><span class="fa fa-plus icon-holder"></span>{l}Add Content{endl}</a>
        <ul class="dropdown-menu add_content" uib-dropdown-menu>
            <li ng-click="edit.addArticle()"><a><i class="fa fa-plus" aria-hidden="true"></i>{l}Add an Article of the catalog{endl}</a></li>
            <li ng-click="edit.openModal(edit,'addArticle',item,'lg')"><a><i class="fa fa-plus-square" aria-hidden="true"></i>{l}Add Articles of the catalog in bulk{endl}</a></li>
            <li ng-click="edit.addContractContent(edit,'',2)"><a><i class="fa fa-plus-square-o" aria-hidden="true"></i>{l}Add an article out of catalog{endl}</a></li>
            <li ng-click="edit.openModal(edit,'contractTemplates',edit.quote_group_active)"><a><i class="fa fa-copy"></i>{l}Add model contract content{endl}</a></li>
            <li ng-click="edit.addContractContent(edit,'',3)"><a><i class="fa fa-pencil" aria-hidden="true"></i>{l}Add Free Text{endl}</a></li>
            <li ng-click="edit.addContractContent(edit,'',7)"><a><i class="fa fa-table" aria-hidden="true"></i>{l}Table Header{endl}</a></li>
            <li ng-click="edit.addContractContent(edit,'',4)"><a><i class="fa fa-header" aria-hidden="true"></i>{l}h1. Title{endl}</a></li>
            <li ng-click="edit.addContractContent(edit,'',5)"><a><i class="fa fa-text-height" aria-hidden="true"></i>{l}h2. Secondary Title{endl}</a></li>
            <li ng-click="edit.addContractContent(edit,'',6)"><a><i class="fa fa-code" aria-hidden="true"></i>{l}Page Break{endl}</a></li>
            <!-- <li ng-click="edit.addQuoteGroup(edit)"><a href="#">{l}Chapter{endl}</a></li> -->
            <!-- <li><a href="#" data-toggle="modal" data-target="#importFromModel">Import Chapter</a></li> -->
        </ul>
        <!-- <a href="#" class="btn text-link" ng-click="edit.openModal(edit,'addArticle',item,'lg')">{l}Select Item{endl}</a> -->
    </div>
    <selectize config='edit.articlesListAutoCfg' options='edit.auto.options.articles_list' ng-model="edit.selected_article_id" id="article_list_id" ng-if="edit.showTxt.addArticleBtn"></selectize>
</div>
<!-- ng-if="edit.item.show_grand" -->
<div class="row">
    <div class="col-sm-8 col-sm-offset-4 col-md-7 col-md-offset-5 col-lg-6 col-lg-offset-6 col-top order_total">

        <div class="row">
            <div class="col-sm-7 text-right">
                <h4>{l}Total without VAT{endl}</h4>
            </div>
            <div class="col-sm-4 col-sm-offset-1">
                <h4 class="text-amount"><span ng-show="edit.item.hide_currency1" ng-bind-html="edit.item.currency_txt"></span>
                    <span ng-bind-html="edit.item.TOTAL_WITHOUT"></span>
                    <span ng-show="edit.item.hide_currency2" ng-bind-html="edit.item.currency_txt"></span></h4>
            </div>
        </div>
        <!-- ng-if="edit.item.show_vat_pdf" -->
        <div class="row" ng-repeat="vat_line in edit.item.vat_lines">
            <div class="col-sm-7 text-right text-muted" ng-if="vat_line.net_amount != '0,00'">
                {l}Subtotal{endl} {l}VAT{endl} {{vat_line.vat_percent}} %
            </div>
            <div class="col-sm-4 col-sm-offset-1 text-muted text-amount" ng-if="vat_line.net_amount != '0,00'">
                <span ng-if="edit.item.hide_currency1" ng-bind-html="edit.item.currency_txt"></span> {{vat_line.subtotal}}
                <span ng-if="edit.item.hide_currency2" ng-bind-html="edit.item.currency_txt"></span>
            </div>

            <div ng-show="edit.item.apply_discount>1">
                <div class="col-sm-7 text-right text-muted">
                    {l}Discount{endl} ({{edit.item.discount}}) %
                </div>
                <div class="col-sm-4 col-sm-offset-1 text-muted text-amount">
                    <span ng-if="edit.item.hide_currency1" ng-bind-html="edit.item.currency_txt"></span> -
                    <span ng-bind-html="vat_line.discount_value"></span>
                    <span ng-if="edit.item.hide_currency2" ng-bind-html="edit.item.currency_txt"></span>
                </div>
            </div>

            <div ng-show="edit.item.apply_discount>1">
                <div class="col-sm-7 text-right text-muted">
                    {l}Net amount{endl} {l}at{endl} {{vat_line.vat_percent}} %
                </div>
                <div class="col-sm-4 col-sm-offset-1 text-muted text-amount">
                    <span ng-if="edit.item.hide_currency1" ng-bind-html="edit.item.currency_txt"></span>
                    <span ng-bind-html="vat_line.net_amount"></span>
                    <span ng-if="edit.item.hide_currency2" ng-bind-html="edit.item.currency_txt"></span>
                </div>
            </div>

            <div class="col-sm-7 text-right text-muted" ng-if="vat_line.net_amount != '0,00'">
                {l}VAT{endl} {l}for{endl} {{vat_line.vat_percent}} %
            </div>
            <div class="col-sm-4 col-sm-offset-1 text-muted text-amount" ng-if="vat_line.net_amount != '0,00'">
                <span ng-if="edit.item.hide_currency1" ng-bind-html="edit.item.currency_txt"></span>
                <span ng-bind-html="vat_line.vat_value"></span>
                <span ng-if="edit.item.hide_currency2" ng-bind-html="edit.item.currency_txt"></span>
            </div>




        </div>


        <!-- <div class="row">
          <div class="col-sm-7 text-right text-muted">
              {l}Subtotal{endl}
          </div>
          <div class="col-sm-4 col-sm-offset-1 text-muted text-amount">
          <span ng-if="edit.item.hide_currency1" ng-bind-html="edit.item.currency_txt"></span>
          {{edit.item.TOTAL_WITHOUT}}
          <span ng-if="edit.item.hide_currency2" ng-bind-html="edit.item.currency_txt"></span>
          </div>
      </div>
      <div class="row" ng-if="edit.item.hide_global_discount">
          <div class="col-sm-7 text-right text-muted">
              {l}Discount{endl} ( {{edit.item.discount}} % )
            </div>
          <div class="col-sm-4 col-sm-offset-1 text-muted text-amount">
              <span ng-if="edit.item.hide_currency1" ng-bind-html="edit.item.currency_txt"></span>
              <span ng-bind-html="edit.item.TOTAL_DISCOUNT"></span>
              <span ng-if="edit.item.hide_currency2" ng-bind-html="edit.item.currency_txt"></span>
            </div>
        </div> -->
        <!-- ng-if="edit.item.show_vat_pdf" -->
        <!-- <div class="row" >
          <div class="col-sm-7 text-right text-muted">
              {l}VAT{endl}
            </div>
          <div class="col-sm-4 col-sm-offset-1 text-muted text-amount">
              <span ng-if="edit.item.hide_currency1" ng-bind-html="edit.item.currency_txt"></span>
              <span ng-bind-html="edit.item.VAT_TOTAL"></span>
              <span ng-if="edit.item.hide_currency2" ng-bind-html="edit.item.currency_txt"></span>
            </div>
        </div> -->
        <div class="row">
            <div class="col-sm-7 text-right">
                <h4>{l}Total Due{endl}</h4>
            </div>
            <div class="col-sm-4 col-sm-offset-1">
                <h4 class="text-amount">
                    <span ng-if="edit.item.hide_currency1" ng-bind-html="edit.item.currency_txt"></span> {{edit.item.GRAND_TOTAL}}
                    <span ng-if="edit.item.hide_currency2" ng-bind-html="edit.item.currency_txt"></span>
                </h4>
            </div>
        </div>
        <!-- <div class="row" ng-if="edit.item.default_currency!=edit.item.currency_type">
          <div class="col-sm-7 text-right text-muted">
              ( {l}Total in{endl} {{edit.item.default_currency_code}}
            </div>
          <div class="col-sm-4 col-sm-offset-1 text-muted text-amount">
              <span ng-if="edit.item.hide_currency1" ng-bind-html="edit.item.default_currency_value"></span>
              <span ng-bind-html="edit.item.TOTAL_DEFAULT_CURRENCY"></span>
              <span ng-if="edit.item.hide_currency2" ng-bind-html="edit.item.default_currency_value"></span> )
            </div>
        </div> -->
    </div>
</div>
<div class="user_summary" ng-class="{'is-open': edit.showTxt.notes, '': !edit.showTxt.notes}">
    <button class="btn-summary text-link" ng-disabled="!edit.item.buyer_id || edit.item.add_customer" ng-click="edit.showTxt.notes=!edit.showTxt.notes"><span class="glyphicon glyphicon-chevron-down pull-right"></span>{l}Notes & General conditions{endl}</button>
    <div class="row col-top col-bottom">
        <div class="col-sm-12 form-horizontal">
            <div class="form-group">
                <div class="col-sm-12">
                    <textarea class="form-control form-language" ui-tinymce="edit.tinymceOptions" ng-model="edit.item.notes" ng-class="edit.item.lang_cls" rows="6" name="textarea" placeholder="{l}General Conditions{endl}"></textarea>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-12">
                    <textarea class="form-control form-language" ui-tinymce="edit.tinymceOptions" ng-model="edit.item.free_text_content" ng-class="edit.item.lang_cls" rows="6" name="textarea" placeholder="{l}General Conditions{endl}"></textarea>
                    <input name="image" type="file" id="upload" class="hidden" onchange="">
                </div>
                <div class="col-sm-12 check_radio text-muted margin-top-general-condition">
                    <!--<label>
                    <input type="checkbox" ng-model="edit.item.general_conditions_new_page" checked=""> {l}Show on new page{endl}
                  </label> -->
                    <label class="col-sm-2">{l}Show on new page{endl}</label>
                    <!-- <toggle-switch ng-model="edit.item.general_conditions_new_page" class="switch-primary" off-label="{l}No{endl}" on-label="{l}Yes{endl}"></toggle-switch>  -->
                    <div class="col-sm-8 form-group">
                        <label class="switch pull-left small_margin">
                    <input type="checkbox" id="" ng-model="edit.item.general_conditions_new_page"   class="switch-primary">
                    <span class="slider round"></span>
                    </label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /.user_summary -->
<div class="text-right">
    <a href="index.php?do=contract-print&amp;contract_id={{edit.item_id}}&amp;version_id={{edit.item.version_id}}&amp;lid={{edit.item.email_language}}{{edit.item.end_pdf_link}}" target="_blank" class="btn btn-plain" ng-if="edit.item_id!='tmp'">{l}PDF preview{endl}</a>
    <button type="submit" class="btn btn-plain" ng-click="edit.cancel()">{l}Cancel{endl}</button>
    <button type="submit" ng-disabled="!edit.item.buyer_id || edit.item.add_customer" class="btn btn-default" ng-click="edit.save(true)">{l}Save{endl}</button>

</div>