<div class="page-header-buttons text-right">
    <button go-to="" state="contractTemplates" type="submit" class="btn btn-sm btn-default"><strong>{l}Back{endl}</strong></button>
    <!-- <button type="submit" class="btn btn-default" ng-disabled="!edit.item.template_name" ng-click="edit.save(true)">{l}Save{endl}</button>  -->
</div>
<div uib-alert ng-repeat="alert in edit.alerts" type="{{alert.type}}" close="edit.alerts.splice($index, 1);" ng-class="['alert-' + (alert.type || 'warning'), 'alert-fixed' ]" dismiss-on-timeout='5000' >{{alert.msg}}</div>
<form name="addQuoteTemplate" novalidate>
<div class="row ">
  <div class="col-sm-12">
    <div class="form-horizontal text-left">
      <div class="form-group" ng-class="{ 'form-group_alert' : addQuoteTemplate.template_name.$invalid && !addQuoteTemplate.template_name.$pristine }">
          <label class="col-sm-3 col-lg-3 control-label">{l}Template name{endl} <span class="mandatory-label">*</span></label>
          <div class="col-sm-5 col-lg-4">
            <input type="text" class="form-control" ng-model="edit.item.template_name" name="template_name" required>
            <div class="alert alert-sm alert-danger" ng-if="addQuoteTemplate.template_name.$invalid && edit.alertsField.template_name">{{edit.alertsField.template_name}}</div>
          </div>
      </div><!-- /.form-group -->
    </div>
  </div>
</div>
</form>
<div class="chapter-tab">
  <div scrolling-tabs-wrapper tabs="edit.item.quote_group"
                  prop-pane-id="group_id"
                  prop-title="title"
                  prop-active="active"          
                  watch-tabs="edit.item.quote_group" class="clearfix">
                  <!-- chapter-tabs -->
    <ul class="nav nav-tabs tabs-default new-chapter" role="tablist" data-as-sortable="edit.dragChaptersControlListeners" data-ng-model="edit.item.quote_group" id="horizontal-container">
      <li class="new_chapter" role="presentation"  ng-class="{ 'active': item.active, 'min_width_chapter':item.editTitle, 'no_edit':!item.editTitle }" ng-style="{ 'width' : (item.editTitle ? (item.title.length*7.5)+'px' : '') }" ng-repeat="item in edit.item.quote_group" data-as-sortable-item>
        <a ng-if="!item.editTitle" data-toggle="tooltip" data-placement="top" ng-click="edit.showGroup($event,$index)" role="tab" data-toggle="tab" data-as-sortable-item-handle>&nbsp;<span ng-if="item.title">{{item.title}}</span><span class="grey-text" ng-if="!item.title">{l}Chapter{endl} {{$index+1}}</span>&nbsp;</a>
        <input type="text" placeholder="{l}Chapter{endl} {{$index+1}}" class="form-control  chapter_heading chapter_input_head" ng-if="item.editTitle" ng-model="item.title" focus-me="item.editTitle" ng-blur="item.editTitle=false;edit.delaySave()">
        <a class="btn text-link delete_chapter" ng-class="{ 'edit_chapter':edit.item.quote_group.length>1 }" ng-if="!item.editTitle" ng-click="item.editTitle=true"><i class="fas fa-pen"></i></a>
        <a href="" class="btn text-link delete_chapter" confirm="{l}Are you sure you want to delete this chapter{endl}?" ng-click="edit.removeLine($index,edit.item.quote_group,true)" ng-if="!item.editTitle && edit.item.quote_group.length>1"><i class="fa fa-trash-o"></i></a>
      </li>
      <li class="addChapter" uib-tooltip="{l}Chapter{endl}" tooltip-placement="top"><a ng-click="edit.addQuoteGroup(edit)" ><i class="fa fa-plus" aria-hidden="true"></i></a></li>
    </ul>
  </div>

  <div class="tab-content tab-content-alt contract-template">
    <div role="tabpanel" class="tab-pane " ng-class="{ 'active': item.active }" id="{{item.group_id}}" ng-repeat="item in edit.item.quote_group">
      <div class="chapter_block">
          <div class="row">
              <!-- <div class="col-sm-4 col-lg-3 inline_edit">
                 <input type="text" class="form-control chapter_heading" ng-model="item.title" placeholder="{l}Type a Chapter Name{endl}">
              </div>
              <div class="col-sm-5 col-lg-5">
                <a class="btn btn-sm btn-link" ng-click="edit.orderChapter($index)" ng-disabled="$index <= 0"><i class="fa fa-arrow-left" aria-hidden="true"></i> {l}Move Left{endl}</a>
                <a class="btn btn-sm btn-link" ng-click="edit.orderChapter($index,true)" ng-disabled="$index >= (edit.item.quote_group.length-1)">{l}Move Right{endl} <i class="fa fa-arrow-right" aria-hidden="true"></i></a>
                <a href="" class="btn text-link" confirm="{l}Are you sure you want to delete this chapter{endl}?" ng-click="edit.removeLine($index,edit.item.quote_group,true)">{l}Delete Chapter{endl}</a>
              </div> -->
              <div class="col-md-offset-10 col-md-2 text-right">
                <div class="btn-group">
                  <button type="button" class="btn btn-plain dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {l}PDF Options{endl} <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu dropdown-menu-right keep-open-on-click">
                    <li class="dropdown-header">{l}Document Actions{endl}</li>
                    <li class="dropdown-checkbox">
                      <div class="checkbox checkbox-primary">
                        {l}Grand Total{endl}
                        <input type="checkbox" id="checkbox_grand" ng-model="edit.item.show_grand" ng-change="edit.delaySave()" > 
                        <label for="checkbox_grand" class="checkbox-inline text-nowrap"></label>
                      </div>
                    </li>
                    <li class="dropdown-checkbox" ng-if="edit.item.show_grand">
                      <div class="checkbox checkbox-primary">
                        <input type="checkbox" id="checkbox_vat" ng-model="edit.item.show_vat" ng-change="edit.delaySave()"> {l}Show VAT on total{endl}
                        <label for="checkbox_vat" class="checkbox-inline text-nowrap">
                        </label>
                      </div>
                    </li>
                    <li class="dropdown-checkbox">
                      <div class="checkbox checkbox-primary">
                        <input type="checkbox" id="checkbox_vat_pdf" ng-model="edit.item.show_vat_pdf" ng-change="edit.delaySave()" > {l}Show VAT column on PDF{endl}
                        <label for="checkbox_vat_pdf" class="checkbox-inline text-nowrap"></label>
                      </div>
                    </li>
                    <li class="dropdown-checkbox">
                      <div class="checkbox checkbox-primary">
                        <input type="checkbox" id="checkbox_article" ng-model="edit.item.show_img_q" ng-change="edit.delaySave()" > {l}Show article image{endl}
                        <label for="checkbox_article" class="checkbox-inline text-nowrap"></label>
                      </div>
                    </li>
                    <li role="separator" class="divider"></li>
                    <li class="dropdown-header">{l}Chapter Options{endl}</li>
                    <li class="dropdown-checkbox">
                      <div class="checkbox checkbox-primary">
                        <input type="checkbox" id="checkbox_quantity" ng-model="item.show_QC" ng-change="edit.delaySave()"> {l}Quantity{endl}
                        <label for="checkbox_quantity" class="checkbox-inline text-nowrap">
                        </label>
                      </div>
                    </li>
                    <li class="dropdown-checkbox">
                      <div class="checkbox checkbox-primary">
                        <input type="checkbox" id="checkbox_price" ng-model="item.show_UP" ng-change="edit.delaySave()"> {l}Unit Price{endl}
                        <label for="checkbox_price" class="checkbox-inline text-nowrap">
                        </label>
                      </div>
                    </li>                    
                    <li class="dropdown-checkbox">
                      <div class="checkbox checkbox-primary">
                        <input type="checkbox" id="checkbox_pack" ng-model="item.show_PS" ng-change="edit.delaySave()"> {l}Pack.{endl} / {l}S.U.{endl}
                        <label for="checkbox_pack" class="checkbox-inline text-nowrap">
                        </label>
                      </div>
                    </li>
                    <li class="dropdown-checkbox">
                      <div class="checkbox checkbox-primary">
                        <input type="checkbox" id="checkbox_discount" ng-model="item.show_d" ng-change="edit.delaySave()"> {l}Discount{endl}
                        <label for="checkbox_discount" class="checkbox-inline text-nowrap">
                        </label>
                      </div>
                    </li>
                    <!--<li class="dropdown-checkbox ">
                      <label class="checkbox-inline text-nowrap ">
                        <input type="checkbox"  ng-model="edit.item.show_img_q"> {l}Article Image{endl}
                      </label>
                    </li>-->
                  </ul>
                </div>                                    
              </div>
          </div>
        </div><!-- /.chapter_block -->
        <ul class="table table_orders table_orders_alt" data-as-sortable="edit.dragControlListeners" data-ng-model="table.quote_line" ng-repeat="table in item.table" >   
            <li ng-repeat="line in table.quote_line" data-as-sortable-item ng-class="{ 'heading_holder':line.line_type==4 ||line.line_type==5, 'section_block':line.line_type==6 || line.line_type==7 }">
              <div class="row">
                  <div class="row_handler">
                      <span class="btn-drag" data-as-sortable-item-handle>&nbsp;</span>
                      <span class="btn-remove"><span class="fa fa-trash" ng-click="edit.removeLine($index,table.quote_line)"></span></span>
                  </div>


                  <!-- <div ng-if="line.line_type!=3"> -->
                    <div class="col-xs-12 col-sm-2" ng-if="line.line_type==1 ">
                        <span class="hideOnDesktop">{l}Code{endl}</span>
                        <code class="text-ellipsis">{{line.article_code}}</code>
                        <!-- <div class="row col-top">
                            <div class="col-sm-6 col-sm-offset-3"><img class="img-responsive img-thumbnail" src="demo_images/wooden_pen_02.jpg" alt=""/></div>
                        </div> -->
                    </div>
                    <div class="col-xs-12 col-sm-{{line.colum}}"  ng-if="line.line_type==1 || line.line_type==2"><span class="hideOnDesktop">{l}Article{endl} </span><textarea class="form-control textareaResize" ng-blur="edit.save()" resize-txt rows="1" ng-model="line.description" ng-bind-html="line.description"></textarea></div>
                    <div class="col-xs-12 col-sm-1" ng-if="line.line_type==1 || line.line_type==2"><span class="hideOnDesktop">{l}Quantity{endl} </span> <input type="text" class="form-control" value="1" ng-model="line.quantity" ng-blur="edit.calc('quantity',$index,line.tr_id)" display-nr=""/></div>
                    <div class="col-xs-12 col-sm-1" ng-if="line.line_type==1 || line.line_type==2"><span class="hideOnDesktop">{l}Unit Price{endl} </span><input type="text" class="form-control" ng-model="line.price" ng-blur="edit.calc('price',$index,line.tr_id)" display-nr="" use-digits="true" /></div>
                    <div class="col-xs-12 col-sm-1 text-center text-muted" ng-if="line.line_type==1 || line.line_type==2"><span class="hideOnDesktop">{l}VAT{endl} </span> 
                      <!-- <div class="input-group">
                        <input type="text" class="form-control" ng-model="line.line_vat" display-nr="" ng-blur="edit.calc('price',$index,line.tr_id)" />
                        <span class="input-group-addon input-group-addon_shrink">%</span>
                      </div> -->
                      <div class="row">
                        <div class="col-sm-12">
                          <selectize config="edit.linevatcfg" options="edit.item.generalvats" ng-model="line.line_vat" ng-change="edit.calc('price',$index,line.tr_id)"></selectize>
                        </div>             
                      </div>
                    </div>
                    <div class="col-xs-12 col-sm-1" ng-if="line.line_type==1 || line.line_type==2"><span class="hideOnDesktop">{l}Unit Price + VAT{endl} </span><input type="text" class="form-control" ng-blur="edit.calc('price_vat',$index,line.tr_id)" ng-model="line.price_vat" display-nr="" /></div>
                    <div class="col-xs-12 col-sm-1 text-center text-muted" ng-if="table.USE_PACKAGE && (line.line_type==1 || line.line_type==2)"><span class="hideOnDesktop">{l}Pack{endl}.<span ng-if="table.USE_SALE_UNIT"> / {l}S.U.{endl}</span> </span><span>{{::line.package}}</span><span ng-if="table.USE_SALE_UNIT"> / {{::line.sale_unit}}</span></div>
                    <div class="ccol-xs-12 ol-sm-1" ng-if="edit.item.VIEW_DISCOUNT && (line.line_type==1 || line.line_type==2)">
                        <span class="hideOnDesktop">{{l}}Discount{{endl}} </span>
                        <div class="input-group">
                          <input type="text" class="form-control" value="0" ng-blur="edit.calc()" ng-model="line.line_discount" />
                          <span class="input-group-addon input-group-addon_shrink">%</span>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-1 text-center" ng-if="line.line_type==1 || line.line_type==2"><span class="hideOnDesktop">{l}Amount{endl} </span>{{line.line_total}}</div>
                  <!-- </div> -->


                  <div ng-if="line.line_type==3">
                    <span class="hideOnDesktop">{l}Free text{endl} </span>
                    <div class="wysiwyg-holder wysiwyg-hide">
                      <textarea ui-tinymce="edit.tinymceOptionsLines" ng-model="line.description" class="" rows="1" placeholder="{l}Free text{endl}"></textarea>
                    </div>
                  </div>
                  
                  <div class="col-sm-12" ng-if="line.line_type==4">
                      <input type="text" class="form-control chapter_heading chapter_h1" ng-model="line.description" placeholder="{l}Enter a Title{endl}" ng-blur="edit.save()">
                  </div>
                  <div class="col-sm-12" ng-if="line.line_type==5">
                    <input type="text" class="form-control chapter_heading chapter_h2" ng-model="line.description" placeholder="{l}Enter a Title{endl}" ng-blur="edit.save()">
                  </div>
                  <div class="clearfix" ng-if="line.line_type==6">
                    <span class="hideOnDesktop"><em>{l}Page Break{endl}</em></span>
                    <div class="col-sm-12">{l}Page Break{endl}</div>
                  </div>
                  <div class="row" ng-if="line.line_type==7">
                      <div class="row_handler">
                          <!-- <span class="btn-drag"> </span> -->
                          <!-- <span class="btn-remove"><span class="fa fa-trash" ng-click="removeLine($index)"></span></span> -->
                      </div>
                      <span class="hideOnDesktop"><em>{l}Table Header{endl}</em></span>
                      <div class="col-sm-{{edit.item.hcolum}}">{l}Item{endl}</div>
                      <div class="col-sm-1">{l}Quantity{endl}</div>
                      <div class="col-sm-1">{l}Unit Price{endl}</div>
                      <div class="col-sm-1 text-center" ng-iff="edit.item.is_vat">{l}VAT{endl}</div>
                      <div class="col-sm-1 text-center">{l}Unit Price{endl}<br>+ {l}VAT{endl}</div>
                      <div class="col-sm-1 text-center" ng-if="table.USE_PACKAGE">{l}Pack{endl}.<span ng-if="table.USE_SALE_UNIT"> / {l}S.U.{endl}</span></div>
                      <div class="col-xs-1" ng-if="edit.item.VIEW_DISCOUNT">{l}Discount{endl}</div>
                      <div class="col-xs-1 text-center">{l}Amount{endl}</div>
                  </div>
                  
              </div>
            </li>                        
        </ul><!-- /.table_orders -->
        
        <!-- <div class="blank_card blank_card-lg text-center link-pointer" ng-if="item.table.length == 0" ng-click="edit.addNewItem=!edit.addNewItem">
            <div class="card_icon"><span class="akti-icon o_akti_quote"></span></div>
            <p class="text-muted col-top">{l}Start building your chapter.{endl}</p>
        </div> -->
        <div class="blank_card blank_card-lg text-center link-pointer" ng-if="item.table.length == 0" ng-click="edit.addNewItem=!edit.addNewItem">
            <div class="card_icon"><span class="akti-icon o_akti_quote"></span></div>
            <p class="text-muted col-top">{l}Start building your chapter.{endl}</p>
        </div>
        <div class="row" ng-if="item.table.length > 0" >
          <div class="col-sm-8 col-sm-offset-4 col-md-7 col-md-offset-5 col-lg-6 col-lg-offset-6 col-bottom order_total">
              <div class="row" ng-iff="order.is_delivery_cost">
                  <div class="col-sm-7 text-right text-muted">{l}VAT{endl}
                  </div>
                  <div class="col-sm-4 col-sm-offset-1">
                     <strong class="text-muted" ng-bind-html="edit.item.currency_txt"></strong>
                     <strong class="text-muted" ng-bind-html="item.table[0].total_vat_span"></strong>
                  </div>
              </div>
              <div class="row" ng-class="{ 'form-group':!order.total_hide }">
                  <div class="col-sm-7 text-right">
                      <strong>{l}Amount Due{endl}</strong>
                  </div>
                  <div class="col-sm-4 col-sm-offset-1">
                    <strong class="text-muted" ng-bind-html="edit.item.currency_txt"></strong>
                    <strong class="text-muted" ng-bind-html="item.table[0].total"></strong>
                  </div>
              </div>
          </div>                  
        </div> <!-- /.chapter_total -->
    </div>                
  </div><!-- /.tab-content -->
</div><!-- /.scrolling-tabs-container -->
<div class="table_orders-add table_orders-add_alt" >
  <button class="btn btn-block btn-blank add_article" ng-click="edit.addArticle()" ng-if="!edit.showTxt.addArticleBtn"><span class="fa fa-plus icon-holder"></span> {l}Add Item{endl}</button>
  <select class="search-products hide" placeholder="Type an article name"></select>
  <div class="btn-group btn-add_line" ng-class="{ 'open': edit.addNewItem }">
    <a href="#" class="btn text-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{l}Add Content{endl} <span class="caret"></span></a>
    <ul class="dropdown-menu">
      <li ng-click="edit.addQuoteContent(edit,'',2)"><a>{l}Add line{endl}</a></li>
      <li ng-click="edit.addQuoteContent(edit,'',3)"><a>{l}Add Free Text{endl}</a></li>
      <li ng-click="edit.addQuoteContent(edit,'',7)"><a>{l}Table Header{endl}</a></li>
      <li ng-click="edit.addQuoteContent(edit,'',4)"><a>{l}h1. Title{endl}</a></li>
      <li ng-click="edit.addQuoteContent(edit,'',5)"><a>{l}h2. Secondary Title{endl}</a></li>
      <li ng-click="edit.addQuoteContent(edit,'',6)"><a>{l}Page Break{endl}</a></li>
      <!-- <li ng-click="edit.addQuoteGroup(edit)"><a href="#">{l}Chapter{endl}</a></li> -->
      <!-- <li><a href="#" data-toggle="modal" data-target="#importFromModel">Import Chapter</a></li> -->
    </ul>
  </div>
  <selectize config='edit.articlesListAutoCfg' options='edit.auto.options.articles_list' ng-model="edit.selected_article_id" id="article_list_id" ng-if="edit.showTxt.addArticleBtn"></selectize>
</div>              
              <!-- ng-if="edit.item.show_grand" -->
<div class="row" >
  <div class="col-sm-8 col-sm-offset-4 col-md-7 col-md-offset-5 col-lg-6 col-lg-offset-6 col-top order_total">
      <div class="row">
          <div class="col-sm-7 text-right text-muted">
              {l}Subtotal{endl}
          </div>
          <div class="col-sm-4 col-sm-offset-1 text-muted text-amount">
          <span ng-if="edit.item.hide_currency1" ng-bind-html="edit.item.currency_txt"></span>
          {{edit.item.TOTAL_WITHOUT}}
          <span ng-if="edit.item.hide_currency2" ng-bind-html="edit.item.currency_txt"></span>
          </div>
      </div>
      <div class="row" ng-if="edit.item.hide_global_discount">
          <div class="col-sm-7 text-right text-muted">
              {l}Discount{endl} ( {{edit.item.discount}} % )
            </div>
          <div class="col-sm-4 col-sm-offset-1 text-muted text-amount">
              <span ng-if="edit.item.hide_currency1" ng-bind-html="edit.item.currency_txt"></span>
              <span ng-bind-html="edit.item.TOTAL_DISCOUNT"></span>
              <span ng-if="edit.item.hide_currency2" ng-bind-html="edit.item.currency_txt"></span>
            </div>
        </div>
        <!-- ng-if="edit.item.show_vat_pdf" -->
      <div class="row" >
          <div class="col-sm-7 text-right text-muted">
              {l}VAT{endl}
            </div>
          <div class="col-sm-4 col-sm-offset-1 text-muted text-amount">
              <span ng-if="edit.item.hide_currency1" ng-bind-html="edit.item.currency_txt"></span>
              <span ng-bind-html="edit.item.VAT_TOTAL"></span>
              <span ng-if="edit.item.hide_currency2" ng-bind-html="edit.item.currency_txt"></span>
            </div>
        </div>
      <div class="row" >
          <div class="col-sm-7 text-right">
              <h4>{l}Total Due{endl}</h4>
          </div>
          <div class="col-sm-4 col-sm-offset-1">
            <h4 class="text-amount">
            <span ng-if="edit.item.hide_currency1" ng-bind-html="edit.item.currency_txt"></span>
            {{edit.item.GRAND_TOTAL}}
            <span ng-if="edit.item.hide_currency2" ng-bind-html="edit.item.currency_txt"></span>
            </h4>
          </div>
      </div>
      <div class="row" ng-if="edit.item.default_currency!=edit.item.currency_type">
          <div class="col-sm-7 text-right text-muted">
              ( {l}Total in{endl} {{edit.item.default_currency_code}}
            </div>
          <div class="col-sm-4 col-sm-offset-1 text-muted text-amount">
              <span ng-if="edit.item.hide_currency1" ng-bind-html="edit.item.default_currency_value"></span>
              <span ng-bind-html="edit.item.TOTAL_DEFAULT_CURRENCY"></span>
              <span ng-if="edit.item.hide_currency2" ng-bind-html="edit.item.default_currency_value"></span> )
            </div>
        </div>  
  </div>
</div>
<div class="text-right">
  <button type="submit" class="btn btn-default" ng-disabled="!edit.item.template_name" ng-click="edit.save(true)">{l}Save{endl}</button>          
</div>