<div class="container">
    <!-- neede on all pages -->
    <div class="row page-content">
        <div class="col-xs-12 tabs-settings">
            <div class="row">
                <div class="col-xs-12 col-sm-3 col-md-3">
                    <div class="page-header">
                        <h1>{l}Contract Module{endl}</h1>
                    </div>
                    <!-- /.page-header -->
                    <ul class="nav nav-tabs tabs-settings-nav">
                        <li class="active"><a href="#pdf_layouts" aria-controls="pdf_layouts" data-toggle="tab" ng-click="vm.load('PDFlayout','layout','custom_layout')">{l}PDF Layout{endl}</a></li>
                        <li><a href="#customLabels" aria-controls="customLabels" data-toggle="tab" ng-click="vm.load('customLabel','customLabel')">{l}Custom PDF labels{endl}</a></li>
                        <li><a href="#general" aria-controls="general" data-toggle="tab" ng-click="vm.load('general','general_condition')">{l}Notes & General conditions{endl}</a></li>
                        <!--               <li><a href="#convention" aria-controls="convention" data-toggle="tab" ng-click="vm.load('convention','','')">{l}Naming convention{endl}</a></li>
              <li><a href="#general" aria-controls="general" data-toggle="tab" ng-click="vm.load('general','general_condition')">{l}Notes & General conditions{endl}</a></li>
              <li><a href="#customLabels" aria-controls="customLabels" data-toggle="tab" ng-click="vm.load('customLabel','customLabel')">{l}Custom PDF labels{endl}</a></li> -->
                        <li><a href="#emailMessage" aria-controls="emailMessage" data-toggle="tab" ng-click="vm.load('emailMessage','message','message_labels')">{l}Email message{endl}</a></li>

                        <!-- <li><a href="#defaultEmail" aria-controls="defaultEmail" data-toggle="tab" ng-click="vm.load('defaultEmail','email_default')">{l}Default Email{endl}</a></li> -->
                        <li><a href="#weblink" aria-controls="weblink" data-toggle="tab" ng-click="vm.load('weblink','weblink')">{l}Contract Web Link{endl}</a></li>

                        <!-- <li><a href="#categorisation" aria-controls="categorisation" data-toggle="tab" ng-click="vm.load('categorisation','bigloop')">{l}Categorisation{endl}</a></li> -->
                        <li><a href="#articlefield" aria-controls="articlefield" data-toggle="tab" ng-click="vm.load('articlefield','articlefields')">{l}Article Field Selection{endl}</a></li>

                        <li><a href="#attachments" aria-controls="attachments" data-toggle="tab" ng-click="vm.load('attachments','atachment')">{l}Attachments{endl}</a></li>

                        <!-- <li><a href="#listsettings" aria-controls="listsettings" data-toggle="tab" ng-click="vm.load('listsettings','listset')">{l}List Settings{endl}</a></li>
              <li ><a href="#quoteTerm" aria-controls="quoteTerm" data-toggle="tab" ng-click="vm.load('quoteTerm','quoteTerm')">{l}Quotes Validity Term{endl}</a></li> -->
                    </ul>
                    <!-- /.tabs-settings-nav -->
                </div>
                <div class="col-xs-12 col-sm-9 col-md-9 tab-content tabs-settings-content">
                    <!-- <div uib-alert ng-repeat="alert in vm.alerts" type="{{alert.type}}" close="vm.alerts.splice($index, 1);" ng-class="['alert-' + (alert.type || 'warning') ]" dismiss-on-timeout="5000">{{alert.msg}}</div> -->
                    <div class="tab-pane fade in active" id="pdf_layouts">
                        <div class="section-title">
                            <div class="row">
                                <div class="col-xs-4">
                                    <h2>{l}PDF Layout{endl}</h2>
                                </div>
                            </div>
                        </div>
                        <!-- /.section-title -->
                        <div class="section-content">
                            <div class="row">
                                <!-- <p class="text-muted col-bottom margim-botton-none">{l}Pdf layout for quotes{endl}.</p> -->
                                <div class="form-horizontal">
                                    <div class="col-md-7">
                                    </div>
                                    <!--                     <div class="col-md-5">
                      <div class="row">
                     <div class="form-group">
                      <label class="col-xs-6 control-label text-left">{l}Theme Color{endl}</label>
                      <div class="form-group col-xs-6">
                      <input class="color_picker"
                            color-picker 
                           color-picker-model="vm.var"
                           color-picker-show-value="false"
                           color-picker-output-format="'hex'"
                           color-picker-position="left"
                           color-picker-fixed-position="true"
                           color-picker-show-input-spinner="true"
                           color-picker-spinner-rgba-steps="1;1;1;0.1"
                           color-picker-spinner-hsla-steps="1;1;1;0.1"
                           color-picker-show-cancel-button="true"
                           color-picker-cancel-button-class="btn btn-default"
                           style="background-color: {{vm.var}}"/>
                      </div>
                    </div>
                          <div class="form-group">
                      <label class="col-xs-6 control-label text-left">{l}Fonts{endl}</label>
                      <div class="form-group col-xs-6">
                      <selectize  config="vm.cfg" options="vm.settings.font_pdf" ng-model="vm.settings.font_pdf_id" ></selectize>
                      </div>
                    </div>
                  </div>
                  </div> -->
                                </div>
                            </div>
                        </div>
                        <!-- /.section-content -->
                        <div class="section-title section-title_alt margin-bottom-none">
                            <div class="row">
                                <div class="col-xs-3">
                                    <h2>{l}Header{endl}</h2>
                                </div>
                                <div class="col-xs-3">
                                    <h2>{l}Body{endl}</h2>
                                </div>
                                <div class="col-xs-6">
                                    <h2>{l}Footer{endl}</h2>
                                </div>
                            </div>
                        </div>
                        <!-- /.section-title -->
                        <div class="document_layout-list">
                            <div class="row">
                                <div class="col-xs-6 col-sm-4 col-md-4 col-lg-3" ng-repeat="item in vm.layout_header">
                                    <div class="document_layout-item {{item.selected}}" style="min-height: 186px;">
                                        <a href="#"><img class="img-responsive" ng-src="{{item.img_href}}" alt="" /></a>
                                        <p ng-if="item.selected"><a class="btn btn-sm btn-warning" ng-click="vm.modal({ id:item.type, header:item.header },'conTemplate/custom_pdf','custom_pdfCtrl','sm')" href="#"><span class="glyphicon glyphicon-wrench"></span> {l}Modify{endl}</a></p>
                                        <p ng-if="!item.selected"><a class="btn btn-sm btn-tertiary" href="#" ng-click="vm.selectHeaderLayout(vm,item.type)"><span class="glyphicon glyphicon-ok"></span> {l}Select{endl}</a></p>
                                    </div>
                                </div>
                                <div class="col-xs-6 col-sm-4 col-md-4 col-lg-3" ng-repeat="item in vm.layout_body">
                                    <div class="document_layout-item {{item.selected}}">
                                        <a href="#"><img class="img-responsive" ng-src="{{item.img_href}}" width="690" height="976" alt="" /></a>
                                        <p ng-if="!item.selected"><a class="btn btn-sm btn-tertiary" href="#" ng-click="vm.selectBodyLayout(vm,item.type)"><span class="glyphicon glyphicon-ok"></span> {l}Select{endl}</a></p>
                                    </div>
                                </div>
                                <div class="col-xs-6 col-sm-4 col-md-4 col-lg-3" ng-repeat="item in vm.layout_footer">
                                    <div class="document_layout-item {{item.selected}}" style="min-height: 186px;">
                                        <a href="#"><img class="img-responsive" ng-src="{{item.img_href}}" alt="" /></a>
                                        <p ng-if="item.selected"><a class="btn btn-sm btn-warning" ng-click="vm.modal({ id:item.type, footer:item.footer },'qTemplate/custom_pdf','custom_pdfCtrl','sm')" href="#"><span class="glyphicon glyphicon-wrench"></span> {l}Modify{endl}</a></p>
                                        <p ng-if="!item.selected"><a class="btn btn-sm btn-tertiary" href="#" ng-click="vm.selectFooterLayout(vm,item.type)"><span class="glyphicon glyphicon-ok"></span> {l}Select{endl}</a></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /.document_layout-list -->
                    </div>
                    <!-- /.tab-pane -->
                    <div class="tab-pane fade" id="convention">
                        <div class="section-title">
                            <div class="row">
                                <div class="col-xs-6">
                                    <h2>{l}Numbering convention{endl}</h2>
                                </div>
                                <div class="col-xs-6 text-right">
                                    <button class="btn btn-default" type="button" ng-click="vm.Convention(vm,vm.convention)">{l}Save{endl}</button>
                                </div>
                            </div>
                        </div>
                        <!-- /.section-title -->
                        <div class="row">
                            <div class="col-xs-12">
                                <p class="text-muted col-bottom">{l}Chose the naming convention for quotes{endl}.</p>
                                <form class="form-horizontal ng pristine ng valid">
                                    <div class="form-group">
                                        <label class="col-xs-4 control-label text-left" for="inputEmail">
                            {l}Quote Index:{endl}
                            <small class="text-muted">{ {l}Fixed part{endl} }</small>
                          </label>
                                        <div class="col-xs-2">
                                            <input id="inputEmail" class="form-control ng-pristine ng-untouched ng-valid" type="text" ng-model="vm.convention.account_number">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-xs-4 control-label text-left" for="inputPassword">
                            {l}No. of digits{endl}
                            <small class="text-muted">{ {l}Incremental part{endl} }</small>
                          </label>
                                        <div class="col-xs-2">
                                            <input id="inputPassword" class="form-control ng-pristine ng-untouched ng-valid" type="text" ng-model="vm.convention.account_digits">
                                        </div>
                                    </div>
                                    <div class="alert alert-info alert-info_alt" role="alert">{l}The name of the quote will have this format{endl} &nbsp; <code class="bg-primary">{{vm.convention.example}}</code></div>
                                    <div class="form-group">
                                        <label class="col-md-4 control-label text-left" for="inputReference">
                            {l}Show reference{endl}?
                          </label>
                                        <div class="col-xs-2">
                                            <!-- <input id="inputReference" type="checkbox" ng-model="vm.convention.reference" > -->
                                            <!-- <toggle-switch  ng-model="vm.convention.reference" class="switch-primary" off-label="{l}No{endl}" on-label="{l}Yes{endl}"></toggle-switch> -->
                                            <label class="switch pull-left small_margin">
                                <input type="checkbox" id="" ng-model="vm.convention.reference" class="switch-primary">
                                <span class="slider round"></span>
                            </label>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-4 control-label text-left" for="inputDel">
                            {l}Reference delimiter{endl}
                          </label>
                                        <div class="col-xs-4">
                                            <input id="inputDel" class="form-control col-md-4" type="text" ng-model="vm.convention.del">
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="section-footer">
                            <div class="row">
                                <div class="col-xs-12 text-right">
                                    <button class="btn btn-default" type="button" ng-click="vm.Convention(vm,vm.convention)">{l}Save{endl}</button>
                                </div>
                            </div>
                        </div>
                        <!-- /.section-title -->
                    </div>
                    <!-- /.tab-pane -->
                    <div class="tab-pane fade" id="general">
                        <div class="section-title">
                            <div class="row">
                                <div class="col-xs-6">
                                    <h2>{l}Notes & General conditions{endl}</h2>
                                </div>
                                <div class="col-xs-6 text-right">
                                    <form class="form-inline btn-inline col-right">
                                        <div class="form-group form-bottom">
                                            <select class="form-control form-language {{vm.general_condition.translate_cls}}" ng-model="vm.general_condition.languages" ng-change="vm.changelanguage(vm,vm.general_condition)" style="max-width: 200px;">
                          <option ng-repeat="option in vm.general_condition.language_dd track by option.id" value="{{option.id}}">{{option.name}}</option>
                        </select>
                                        </div>
                                    </form>
                                    <!-- <button class="btn btn-default" type="button" ng-click="vm.savelanguage(vm,vm.general_condition.languages,vm.general_condition.notes,vm.general_condition.terms)">{l}Save{endl}</button> -->
                                </div>
                            </div>
                        </div>
                        <!-- /.section-title -->
                        <div class="section-content contract-notes-conditions">
                            <form>
                                <div class="section-title section-title_alt contract-settings-label">
                                    <label for="inputNote">
                            {l}Create a default note for Contracts.{endl}<br>
                            <!-- <small class="text-muted">{l}Create a default note for quotes{endl}.</small> -->
                        </label>
                                </div>
                                <textarea ui-tinymce="vm.tinymceOptions" ng-model="vm.general_condition.notes" class="variable_assign">{{vm.general_condition.notes}}</textarea>
                                <div class="form-group col-top">
                                    <div class="section-title section-title_alt contract-settings-label">
                                        <label for="inputGeneral">
                              {l}Default general conditions for contracts{endl}<br>
                              <!-- <small class="text-muted">{l}Default general conditions for quotes{endl}.</small> -->
                          </label>
                                    </div>
                                    <!-- <textarea ng-if="showtiny" ui-tinymce="vm.tinymceOptions" ng-model="vm.general_condition.terms" class="variable_assign" >{{vm.general_condition.terms}}</textarea> -->
                                    <textarea ui-tinymce="vm.tinymceOptions" ng-model="vm.general_condition.terms" class="variable_assign contract-settings-textarea">{{vm.general_condition.terms}}</textarea>
                                    <input name="image" type="file" id="upload" class="hidden" onchange="">
                                </div>
                                <!--                     <div class="form-group">
                        <div class="section-title section-title_alt"> 
                        <label class="control-label text-left">{l}Show on new page{endl}</label>
                        </div>
                        <div>
                          <toggle-switch on-change="vm.PageActive()"  ng-model="vm.general_condition.page" class="switch-primary" off-label="{l}No{endl}" on-label="{l}Yes{endl}"></toggle-switch>
                        </div>
                      </div> -->
                            </form>
                        </div>
                        <!-- /.section-content -->
                        <div class="section-footer">
                            <div class="row">
                                <div class="col-xs-12 text-right">
                                    <button class="btn btn-default" type="button" ng-click="vm.savelanguage(vm,vm.general_condition.languages,vm.general_condition.notes,vm.general_condition.terms)">{l}Save{endl}</button>
                                </div>
                            </div>
                        </div>
                        <!-- /.section-title -->
                    </div>
                    <!-- /.tab-pane -->
                    <div class="tab-pane fade" id="customLabels">
                        <div class="section-title">
                            <h2>{l}Custom PDF labels{endl}</h2>
                        </div>
                        <!-- /.section-title -->
                        <div class="section-content">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th class="col-sm-10">{l}Language{endl}</th>
                                        <th class="col-sm-2 text-center">{l}Action{endl}</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="item in vm.customLabel">
                                        <td>{{item.name}}</td>
                                        <td class="text-center">
                                            <a href="#" ng-click="vm.modal(item,'conTemplate/label','labelCtrl')"><span class="fas fa-pen"></span></a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <!-- /.tab-pane -->
                    <div class="tab-pane fade" id="emailMessage">
                        <div class="section-title">
                            <div class="row">
                                <div class="col-xs-6">
                                    <h2>{l}Quote Message{endl}</h2>
                                </div>
                                <!-- <div class="col-xs-6 text-right">
                    <button type="submit" class="btn btn-default" ng-click="vm.saveSetting(vm,vm.message)">{l}Save{endl}</button>
                  </div> -->
                            </div>
                        </div>
                        <!-- /.section-title -->
                        <div class="section-content">
                            <p class="text-muted col-bottom">{l}Message for quotes{endl}.</p>
                            <!--                     <form class="form-horizontal text-left">
                  <div class="form-group">
                    <label class="col-xs-4 control-label">{l}Use HTML{endl}</label>
                    <div class="col-xs-8 checkbox">
                      <label>
                        <input type="checkbox" ng-model="vm.message.use_html" ng-change="vm.changelang(vm,vm.message)">
                      </label>
                    </div>
                  </div>
                </form> -->
                            <p class="margin-bottom">
                                {l}You can use the following variables in the message:{endl}<br>
                                <span class="text-muted">*{l}Click on the variable and the Ctrl+C or Cmd+C(on mac) to copy and then Ctrl+V or Cmd+V to paste{endl}</span>
                            </p>
                            <div class="form-horizontal text-left">
                                <div class="form-group">
                                    <label class="control-label col-xs-3">{l}Labels{endl}</label>
                                    <div class="col-xs-3">
                                        <!--                         <select class="form-control" ng-model="vm.message_labels.detail_id" ng-change="vm.Changecodelabes(vm,vm.message_labels)">
                          <option value="0">{l}Select{endl}</option>
                          <option ng-repeat="option in vm.message_labels.detail track by option.id_value" value="{{option.id_value}}">{{option.name}}</option>
                        </select>  -->
                                        <selectize config="vm.cfg" options="vm.message_labels.detail" ng-model="vm.message_labels.detail_id" ng-change="vm.Changecodelabes(vm,vm.message_labels)"></selectize>
                                    </div>
                                    <div class="col-xs-3 variables" ng-if="vm.message_labels.selected_detail != null">
                                        <li class="list-unstyled" ng-click="vm.clickys(vm.message_labels.selected_detail)">
                                            <input type="text" class="form-control disabled" readonly value="{{vm.message_labels.selected_detail}}" style="margin-bottom: 0;">
                                        </li>
                                    </div>
                                    <div class="control-label col-xs-4 col-sm-3">
                                        <!-- <button type="submit" class="btn btn-tertiary" ng-click="Geman = !Geman" >{l}Toggle Details List{endl}</button> -->
                                        <a href="#" ng-click="Geman=true" class="text-link" ng-show="!Geman">{l}Show more{endl}&nbsp;<i class="glyphicon glyphicon-chevron-down" aria-hidden="true"></i></a>
                                        <a href="#" ng-click="Geman=false" class="text-link" ng-show="Geman">{l}Show less{endl}&nbsp;<i class="glyphicon glyphicon-chevron-up" aria-hidden="true"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="row variables" ng-show="Geman">
                                <div class="col-xs-4">
                                    <div class="form-group">
                                        <input type="text" class="form-control disabled" readonly value="[!ACCOUNT_COMPANY!]" onclick="this.select();">
                                        <label>{l}Account Name{endl}</label>
                                    </div>
                                </div>
                                <div class="col-xs-4">
                                    <div class="form-group">
                                        <input type="text" class="form-control disabled" readonly value="[!SERIAL_NUMBER!]" onclick="this.select();">
                                        <label>{l}Contract Nr:{endl}</label>
                                    </div>
                                </div>
                                <div class="col-xs-4">
                                    <div class="form-group">
                                        <input type="text" class="form-control disabled" readonly value="[!CONTRACT_SERIAL_NUMBER!]" onclick="this.select();">
                                        <label>{l}Contract{endl}:</label>
                                    </div>
                                </div>
                                <div class="col-xs-4">
                                    <div class="form-group">
                                        <input type="text" class="form-control disabled" readonly value="[!START_DATE!]" onclick="this.select();">
                                        <label>{l}Start Date{endl}</label>
                                    </div>
                                </div>
                                <div class="col-xs-4">
                                    <div class="form-group">
                                        <input type="text" class="form-control disabled" readonly value="[!END_DATE!]" onclick="this.select();">
                                        <label>{l}End Date{endl}</label>
                                    </div>
                                </div>
                                <div class="col-xs-4">
                                    <div class="form-group">
                                        <input type="text" class="form-control disabled" readonly value="[!CUSTOMER!]" onclick="this.select();">
                                        <label>{l}Company Name{endl}</label>
                                    </div>
                                </div>
                                <div class="col-xs-4">
                                    <div class="form-group">
                                        <input type="text" class="form-control disabled" readonly value="[!CONTACT_FIRST NAME!]" onclick="this.select();">
                                        <label>{l}Contact first name{endl}</label>
                                    </div>
                                </div>
                                <div class="col-xs-4">
                                    <div class="form-group">
                                        <input type="text" class="form-control disabled" readonly value="[!CONTACT_LAST_NAME!]" onclick="this.select();">
                                        <label>{l}Contact last name{endl}</label>
                                    </div>
                                </div>
                                <div class="col-xs-4">
                                    <div class="form-group">
                                        <input type="text" class="form-control disabled" readonly value="[!SUBTOTAL!]" onclick="this.select();">
                                        <label>{l}Subtotal{endl}</label>
                                    </div>
                                </div>
                                <div class="col-xs-4">
                                    <div class="form-group">
                                        <input type="text" class="form-control disabled" readonly value="[!DISCOUNT!]" onclick="this.select();">
                                        <label>{l}Discount Percent{endl}</label>
                                    </div>
                                </div>
                                <div class="col-xs-4">
                                    <div class="form-group">
                                        <input type="text" class="form-control disabled" readonly value="[!DISCOUNT_VALUE!]" onclick="this.select();">
                                        <label>{l}Discount Value{endl}</label>
                                    </div>
                                </div>
                                <div class="col-xs-4">
                                    <div class="form-group">
                                        <input type="text" class="form-control disabled" readonly value="[!AMOUNT_DUE!]" onclick="this.select();">
                                        <label>{l}Amount Due{endl}</label>
                                    </div>
                                </div>
                                <div class="col-xs-4">
                                    <div class="form-group">
                                        <input type="text" class="form-control disabled" readonly value="[!VAT_VALUE!]" onclick="this.select();">
                                        <label>{l}Vat Value{endl}</label>
                                    </div>
                                </div>
                                <div class="col-xs-4">
                                    <div class="form-group">
                                        <input type="text" class="form-control disabled" readonly value="[!WEB_LINK!]" onclick="this.select();">
                                        <label>{l}Web Link{endl}</label>
                                    </div>
                                </div>
                                <div class="col-xs-4">
                                    <div class="form-group">
                                        <input type="text" class="form-control disabled" readonly value="[!SUBJECT!]" onclick="this.select();">
                                        <label>{l}Subject{endl}</label>
                                    </div>
                                </div>
                                <div class="col-xs-4">
                                    <div class="form-group">
                                        <input type="text" class="form-control disabled" readonly value="[!WEB_LINK_2!]" onclick="this.select();">
                                        <label>{l}Weblink 2{endl}</label>
                                    </div>
                                </div>
                                <div class="col-xs-4">
                                    <div class="form-group">
                                        <input type="text" class="form-control disabled" readonly value="[!DROP_BOX!]" onclick="this.select();">
                                        <label>{l}Dropbox files{endl}</label>
                                    </div>
                                </div>
                                <div class="col-xs-4">
                                    <div class="form-group">
                                        <input type="text" class="form-control disabled" readonly value="[!SIGNATURE!]" onclick="this.select();">
                                        <label>{l}Signature{endl}</label>
                                    </div>
                                </div>
                                <div class="col-xs-4">
                                    <div class="form-group">
                                        <input type="text" class="form-control disabled" readonly value="[!LOGO!]" onclick="this.select();">
                                        <label>{l}Logo{endl}</label>
                                    </div>
                                </div>
                                <div class="col-xs-4">
                                    <div class="form-group">
                                        <input type="text" class="form-control disabled" readonly value="[!SALUTATION!]" onclick="this.select();">
                                        <label>{l}Salutation{endl}</label>
                                    </div>
                                </div>
                            </div>
                            <!-- /.variables -->
                            <div class="form-horizontal text-left">
                                <div class="form-group">
                                    <div class="col-xs-9 col-xs-offset-3 col-sm-4 col-sm-offset-8  {{vm.message.translate_special}}">
                                        <!--                       <select class="form-control form-language {{vm.message.translate_cls}}" ng-model="vm.message.languages" ng-change="vm.changelang(vm,vm.message)">
                        <option ng-repeat="option in vm.message.language_dd track by option.id" value="{{option.id}}">{{option.name}}</option>
                      </select> -->
                                        <selectize class="" config="vm.cfg" options="vm.message.language_dd" ng-model="vm.message.languages" ng-change="vm.changelang(vm,vm.message)"></selectize>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-xs-3">{l}Subject{endl} <span class="mandatory-label">*</span></label>
                                    <div class="col-xs-9">
                                        <input type="text" class="form-control form-language {{vm.message.translate_cls}}" ng-model="vm.message.subject">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-xs-3">{l}Body{endl} <span class="mandatory-label">*</span></label>
                                </div>
                                <div class="form-group" ng-if="!showtiny">
                                    <div class="col-sm-12">
                                        <!-- <textarea  class="form-control form-language {{vm.message.translate_cls}}" id="altids" rows="10" ng-model="vm.message.text" ></textarea> -->
                                        <textarea ui-tinymce="vm.tinymceOptions" rows="10" id="altId" ng-model="vm.message.html_content"></textarea>
                                        <input name="image" type="file" id="upload" class="hidden" onchange="">
                                    </div>
                                </div>
                                <!--                   <div class="form-group" ng-if="showtiny">
                      <div class="col-sm-12">
                        <textarea ng-if="showtiny" ui-tinymce="vm.tinymceOptions" ng-model="vm.message.html_content" class="variable_assign" ng-if="showtiny">{{vm.message.html_content}}</textarea>
                        <input name="image" type="file" id="upload" class="hidden" onchange="">
                      </div>
                  </div>  -->
                            </div>
                        </div>
                        <div class="section-footer">
                            <div class="row">
                                <div class="col-xs-12 text-right">
                                    <button type="submit" class="btn btn-default" ng-click="vm.saveSetting(vm,vm.message)">{l}Save{endl}</button>
                                </div>
                            </div>
                        </div>
                        <!-- /.section-footer -->
                    </div>
                    <!-- /.tab-pane -->
                    <div class="tab-pane fade" id="defaultEmail">
                        <div class="section-title">
                            <div class="row">
                                <div class="col-xs-6">
                                    <h2>{l}Default Email{endl}</h2>
                                </div>
                                <div class="col-xs-6 text-right">
                                    <button type="submit" class="btn btn-default" ng-click="vm.saveDefaultEmail(vm,vm.email_default)">{l}Save{endl}</button>
                                </div>
                            </div>
                        </div>
                        <!-- /.section-title -->
                        <div class="section-content">
                            <div class="text-muted col-bottom">
                                <p>{l}To avoid to be considered as spam, the "sent from" address is: noreply@salesassist.eu{endl}.</p>
                                <p>{l}To allow your correspondent to reply on this mail, please fill in below the required address{endl}.</p>
                            </div>
                            <div class="form-horizontal text-left">
                                <div class="form-group">
                                    <label class="col-xs-3 control-label">{l}Default Email{endl} <span class="mandatory-label">*</span></label>
                                    <div class="col-xs-9 radio">
                                        <label><input type="radio" value="1" ng-model="vm.email_default.mail_type_1"> {l}User logged email{endl}</label>
                                    </div>
                                    <div class="col-xs-9 col-xs-offset-3 radio">
                                        <label><input type="radio" value="3" ng-model="vm.email_default.mail_type_1"> {l}Use quote author's email{endl}</label>
                                    </div>
                                    <div class="col-xs-9 col-xs-offset-3 radio">
                                        <label><input type="radio" value="2" ng-model="vm.email_default.mail_type_1"> {l}Use default email{endl}</label>
                                    </div>
                                </div>
                                <div class="form-group" ng-show="vm.email_default.mail_type_1 == 2">
                                    <label class="col-xs-3 control-label">{l}Name{endl} <span class="mandatory-label">*</span></label>
                                    <div class="col-xs-6">
                                        <input type="text" class="form-control" ng-model="vm.email_default.default_name">
                                    </div>
                                </div>
                                <div class="form-group" ng-show="vm.email_default.mail_type_1 == 2">
                                    <label class="col-xs-3 control-label">{l}Email{endl} <span class="mandatory-label">*</span></label>
                                    <div class="col-xs-6">
                                        <input type="text" class="form-control" ng-model="vm.email_default.email_value">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="section-footer">
                            <div class="row">
                                <div class="col-xs-12 text-right">
                                    <button type="submit" class="btn btn-default" ng-click="vm.saveDefaultEmail(vm,vm.email_default)">{l}Save{endl}</button>
                                </div>
                            </div>
                        </div>
                        <!-- /.section-footer -->
                    </div>
                    <!-- /.tab-pane -->
                    <div class="tab-pane fade" id="weblink">
                        <div class="section-title">
                            <h2>{l}Contract Web Link{endl}</h2>
                        </div>
                        <!-- /.section-title -->
                        <div class="section-content">
                            <p class="text-muted col-bottom">{l}Text for contract web link{endl}</p>
                            <div class="form-horizontal text-left">
                                <div class="form-group">
                                    <label class="col-xs-4 control-label">{l}Use web link{endl} <span class="mandatory-label">*</span></label>
                                    <div class="form-group col-xs-8">
                                        <!-- <input type="checkbox" ng-model="vm.weblink.quote_link" ng-click="vm.updateweblink(vm,vm.weblink)"> -->
                                        <!-- <toggle-switch ng-model="vm.weblink.contract_link" on-change="vm.updateweblink(vm,vm.weblink)" class="switch-primary" off-label="{l}No{endl}" on-label="{l}Yes{endl}"></toggle-switch> -->
                                        <label class="switch pull-left small_margin">
                                          <input type="checkbox" id="" ng-model="vm.weblink.contract_link" ng-change="vm.updateweblink(vm,vm.weblink)" class="switch-primary">
                                          <span class="slider round"></span>
                                      </label>
                                    </div>
                                    <div class="form-group col-xs-2 success-sign" ng-if="vm.weblink.contract_link_sign">
                                        <i class="fa fa-check-square fa-2x text-success" aria-hidden="true"></i>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-xs-4 control-label text-right">{l}Also include PDF on email{endl}</label>
                                    <div class="form-group col-xs-2">
                                        <!-- <input type="checkbox" ng-model="vm.weblink.quote_pdf" ng-click="vm.updateweblink(vm,vm.weblink)"> -->
                                        <!-- <toggle-switch is-disabled="vm.weblink.contract_link!=1" ng-model="vm.weblink.contract_pdf" on-change="vm.updateweblink(vm,vm.weblink)" class="switch-primary" off-label="{l}No{endl}" on-label="{l}Yes{endl}"></toggle-switch> -->
                                        <label class="switch pull-left small_margin">
                                          <input type="checkbox" id="" ng-disabled="vm.weblink.contract_link!=1" ng-model="vm.weblink.contract_pdf" ng-change="vm.updateweblink(vm,vm.weblink)" class="switch-primary">
                                          <span class="slider round"></span>
                                      </label>
                                    </div>
                                    <div class="form-group col-xs-2 success-sign" ng-if="vm.weblink.contract_pdf_sign">
                                        <i class="fa fa-check-square fa-2x text-success" aria-hidden="true"></i>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-xs-4 control-label text-left">{l}Allow comments{endl}</label>
                                    <div class="form-group col-xs-2">
                                        <!-- <input type="checkbox" ng-model="vm.weblink.quote_comment" ng-click="vm.updateweblink(vm,vm.weblink)"> -->
                                        <!-- <toggle-switch is-disabled="vm.weblink.contract_link!=1" ng-model="vm.weblink.contract_comment" on-change="vm.updateweblink(vm,vm.weblink)" class="switch-primary" off-label="{l}No{endl}" on-label="{l}Yes{endl}"></toggle-switch> -->
                                        <label class="switch pull-left small_margin">
                                          <input type="checkbox" id="" ng-disabled="vm.weblink.contract_link!=1" ng-model="vm.weblink.contract_comment" ng-change="vm.updateweblink(vm,vm.weblink)" class="switch-primary">
                                          <span class="slider round"></span>
                                      </label>
                                    </div>
                                    <div class="form-group col-xs-2 success-sign" ng-if="vm.weblink.contract_comment_sign">
                                        <i class="fa fa-check-square fa-2x text-success" aria-hidden="true"></i>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-xs-4 control-label text-left">{l}Allow customer to accept the contract{endl}</label>
                                    <div class="form-group col-xs-2">
                                        <!-- <input type="checkbox" ng-model="vm.weblink.quote_accept" ng-click="vm.updateweblink(vm,vm.weblink)"> -->
                                        <!-- <toggle-switch is-disabled="vm.weblink.contract_link!=1" ng-model="vm.weblink.contract_accept" on-change="vm.updateweblink(vm,vm.weblink)" class="switch-primary" off-label="{l}No{endl}" on-label="{l}Yes{endl}"></toggle-switch> -->
                                        <label class="switch pull-left small_margin">
                                          <input type="checkbox" id="" ng-disabled="vm.weblink.contract_link!=1" ng-model="vm.weblink.contract_accept" ng-change="vm.updateweblink(vm,vm.weblink)" class="switch-primary">
                                          <span class="slider round"></span>
                                      </label>
                                    </div>
                                    <div class="form-group col-xs-2 success-sign" ng-if="vm.weblink.contract_accept_sign">
                                        <i class="fa fa-check-square fa-2x text-success" aria-hidden="true"></i>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-xs-4 control-label text-left">{l}Allow customer to request new version{endl}</label>
                                    <div class="form-group col-xs-2">
                                        <!-- <input type="checkbox" ng-model="vm.weblink.quote_new" ng-click="vm.updateweblink(vm,vm.weblink)"> -->
                                        <!-- <toggle-switch is-disabled="vm.weblink.contract_link!=1" ng-model="vm.weblink.contract_new" on-change="vm.updateweblink(vm,vm.weblink)" class="switch-primary" off-label="{l}No{endl}" on-label="{l}Yes{endl}"></toggle-switch> -->
                                        <label class="switch pull-left small_margin">
                                          <input type="checkbox" id="" ng-disabled="vm.weblink.contract_link!=1" ng-model="vm.weblink.contract_new" ng-change="vm.updateweblink(vm,vm.weblink)" class="switch-primary">
                                          <span class="slider round"></span>
                                      </label>
                                    </div>
                                    <div class="form-group col-xs-2 success-sign" ng-if="vm.weblink.contract_new_sign">
                                        <i class="fa fa-check-square fa-2x text-success" aria-hidden="true"></i>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-xs-4 control-label text-left">{l}Allow customer to reject the contract{endl}</label>
                                    <div class="form-group col-xs-2">
                                        <!-- <input type="checkbox" ng-model="vm.weblink.quote_reject" ng-click="vm.updateweblink(vm,vm.weblink)"> -->
                                        <!-- <toggle-switch is-disabled="vm.weblink.contract_link!=1" ng-model="vm.weblink.contract_reject" on-change="vm.updateweblink(vm,vm.weblink)" class="switch-primary" off-label="{l}No{endl}" on-label="{l}Yes{endl}"></toggle-switch> -->
                                        <label class="switch pull-left small_margin">
                                          <input type="checkbox" id="" ng-disabled="vm.weblink.contract_link!=1" ng-model="vm.weblink.contract_reject" ng-change="vm.updateweblink(vm,vm.weblink)" class="switch-primary">
                                          <span class="slider round"></span>
                                      </label>
                                    </div>
                                    <div class="form-group col-xs-2 success-sign" ng-if="vm.weblink.contract_reject_sign">
                                        <i class="fa fa-check-square fa-2x text-success" aria-hidden="true"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /.section-content -->
                    </div>
                    <!-- /.tab-pane -->
                    <div class="tab-pane fade" id="categorisation">
                        <div class="section-title">
                            <h2>{l}Categorisation{endl}</h2>
                        </div>
                        <!-- /.section-title -->
                        <div ng-repeat="item in vm.bigloop">
                            <div class="section-title section-title_alt">
                                <h2>{l}{{item.name}}{endl} <button type="button" class="btn btn-primary btn-add" ng-click="vm.AddField(vm,i.field,item.table,item.name)" uib-tooltip="{l}Add field{endl}" tooltip-placement="top"><span class="btn-add_icon"><span class="icon-bar"></span><span class="icon-bar-2"></span></span></button></h2>
                            </div>
                            <!-- /.section-title -->
                            <div class="form-horizontal text-left col-bottom">
                                <div class="form-group" ng-repeat="i in item.small">
                                    <label class="col-sm-3 control-label">{l}{{i.label}}{endl}</label>
                                    <div class="col-sm-5">
                                        <input type="text" class="form-control" ng-blur="vm.updatefield(vm,i.field_id,item.table,i.value)" ng-model="i.value">
                                    </div>
                                    <div class="col-sm-1">
                                        <a href="" class="btn-remove" ng-click="vm.DeleteField(vm,i.field_id,item.table)"><span class="fa fa-trash"></span></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.tab-pane -->
                    <div class="tab-pane fade" id="articlefield">
                        <div class="section-title">
                            <div class="row">
                                <div class="col-xs-6">
                                    <h2>{l}Article Field Selection{endl}</h2>
                                </div>
                                <!-- <div class="col-xs-6 text-right">
                    <button type="submit" class="btn btn-default" ng-click="vm.articlefieldup(vm,vm.articlefields)">{l}Save{endl}</button>
                  </div> -->
                            </div>
                        </div>
                        <!-- /.section-title -->
                        <div class="section-content">
                            <div class="row">
                                <div class="col-sm-7">
                                    <form>
                                        <div class="form-group">
                                            <label>
                                      {l}Field{endl}<br>
                                      <small class="text-muted">{l}This fields will be visible when selecting an article in a quote{endl}.</small>
                                  </label>
                                            <textarea id="altId" rows="10" class="form-control ng-pristine ng-untouched ng-valid" type="text" ng-model="vm.articlefields.text"></textarea>
                                        </div>
                                    </form>
                                </div>
                                <div class="col-sm-5">
                                    <label class="btn-block text-muted"><small>{l}You can use the following variables in the field description{endl}</small></label>
                                    <ul class="list-unstyled msg_var variables" id="art_var">
                                        <li class="margin-bottom" ng-click="vm.clicky(vm,'[!INTERNAL_NAME!]')"><input class="form-control disabled" type="text" value="[!INTERNAL_NAME!]"> {l}Internal Name{endl}</li>
                                        <li class="margin-bottom" ng-click="vm.clicky(vm,'[!ITEM_CODE!]')"><input class="form-control disabled" type="text" value="[!ITEM_CODE!]"> {l}Code{endl}
                                        </li>
                                        <li class="margin-bottom" ng-click="vm.clicky(vm,'[!CATEGORIE!]')"><input class="form-control disabled" type="text" value="[!CATEGORIE!]"> {l}Categorie{endl}
                                        </li>
                                        <li class="margin-bottom" ng-click="vm.clickyArticle(vm,'[!ITEM_NAME!]')" ng-class="{'pos-relative':(!vm.articlefields.ADV_PRODUCT)}">
                                            <input class="form-control disabled" type="text" ng-disabled="!vm.articlefields.ADV_PRODUCT" ng-class="{'settings-disabled-fields':(!vm.articlefields.ADV_PRODUCT)}" value="[!ITEM_NAME!]">
                                            <a href="javascript:void(0)" ng-if="!vm.articlefields.ADV_PRODUCT" ng-class="{'info-icon-disabled-fields':(!vm.articlefields.ADV_PRODUCT)}"><i title="{{ !vm.articlefields.ADV_PRODUCT ? '{l}Only available if you activate the Catalog+ option{endl}' : undefined }}"
                            class="fa fa-info-circle fa-2x" aria-hidden="true"></i></a> {l}Article Name{endl}</li>
                                        <li class="margin-bottom" ng-click="vm.clickyArticle(vm,'[!ITEM_NAME2!]')" ng-class="{'pos-relative':(!vm.articlefields.ADV_PRODUCT)}">
                                            <input class="form-control disabled" ng-disabled="!vm.articlefields.ADV_PRODUCT" ng-class="{'settings-disabled-fields':(!vm.articlefields.ADV_PRODUCT)}" type="text" value="[!ITEM_NAME2!]">
                                            <a href="javascript:void(0)" ng-if="!vm.articlefields.ADV_PRODUCT" ng-class="{'info-icon-disabled-fields':(!vm.articlefields.ADV_PRODUCT)}"><i title="{{ !vm.articlefields.ADV_PRODUCT ? '{l}Only available if you activate the Catalog+ option{endl}' : undefined }}"
                            class="fa fa-info-circle fa-2x" aria-hidden="true"></i></a> {l}Article Name2{endl}</li>
                                        <li class="margin-bottom" ng-click="vm.clickyArticle(vm,'[!DESCRIPTION!]')" ng-class="{'pos-relative':(!vm.articlefields.ADV_PRODUCT)}">
                                            <input class="form-control disabled" ng-disabled="!vm.articlefields.ADV_PRODUCT" ng-class="{'settings-disabled-fields':(!vm.articlefields.ADV_PRODUCT)}" type="text" value="[!DESCRIPTION!]">
                                            <a href="javascript:void(0)" ng-if="!vm.articlefields.ADV_PRODUCT" ng-class="{'info-icon-disabled-fields':(!vm.articlefields.ADV_PRODUCT)}"><i title="{{ !vm.articlefields.ADV_PRODUCT ? '{l}Only available if you activate the Catalog+ option{endl}' : undefined }}"
                            class="fa fa-info-circle fa-2x" aria-hidden="true"></i></a> {l}Description{endl}
                                        </li>
                                        <!--  <li class="margin-bottom" ng-click="vm.clicky(vm,'[!ITEM_NAME!]')"><input class="form-control disabled" type="text" value="[!ITEM_NAME!]">
                            {l}Article Name{endl}</li>      
                            <li class="margin-bottom" ng-click="vm.clicky(vm,'[!ITEM_NAME2!]')"><input class="form-control disabled" type="text" value="[!ITEM_NAME2!]">
                            {l}Article Name2{endl}</li>      
                            <li class="margin-bottom" ng-click="vm.clicky(vm,'[!ARTICLE_BRAND!]')"><input class="form-control disabled" type="text" value="[!ARTICLE_BRAND!]">
                            {l}Article Brand{endl}</li>    
                            <li class="margin-bottom" ng-click="vm.clicky(vm,'[!EAN_CODE!]')"><input class="form-control disabled" type="text" value="[!EAN_CODE!]">
                            {l}EAN Code{endl}</li>    
                            <li class="margin-bottom" ng-click="vm.clicky(vm,'[!DESCRIPTION!]')"><input class="form-control disabled" type="text" value="[!DESCRIPTION!]">
                            {l}Description{endl}</li>
                            <li class="margin-bottom" ng-click="vm.clicky(vm,'[!ORIGIN_NUMBER!]')"><input class="form-control disabled" type="text" value="[!ORIGIN_NUMBER!]">
                            {l}Origin Code{endl}</li> -->
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!-- /.section-content -->
                        <div class="section-footer">
                            <div class="row">
                                <div class="col-xs-6">
                                </div>
                                <div class="col-xs-6 text-right">
                                    <button type="submit" class="btn btn-default" ng-click="vm.articlefieldup(vm,vm.articlefields)">{l}Save{endl}</button>
                                </div>
                            </div>
                        </div>
                        <!-- /.section-footer -->
                    </div>
                    <!-- /.tab-pane -->
                    <!--                 <div class="tab-pane fade" id="packingsettings">
              <div class="section-title">
                <div class="row">
                  <div class="col-xs-6">
                    <h2>{l}Packaging Settings{endl}</h2>
                  </div>
                  <div class="col-xs-6 text-right">
                    <button type="submit" class="btn btn-default" ng-click="vm.savepacking(vm,vm.packing)">{l}Save{endl}</button>
                  </div>
                </div>
              </div>
              <div class="section-content">
                <p class="text-muted col-bottom">{l}Select these options if you want to show the packaging options on your quotes{endl}.</p>
                <div class="form-horizontal text-left">
                  <div class="form-group">
                    <label class="col-xs-4 control-label">{l}Allow Packaging On Quote{endl}</label>
                    <div class="col-xs-5 col-md-8 checkbox">
                      <label>
                        <input type="checkbox" ng-model="vm.packing.allowpack" >
                      </label>
                    </div>
                  </div>
                  <div class="form-group" ng-show="vm.packing.allowpack==1">
                    <label class="col-xs-4 control-label">{l}Use Different Sales Units On Quote{endl}</label>
                    <div class="col-xs-5 col-md-8 checkbox">
                      <label>
                        <input type="checkbox" ng-model="vm.packing.allowsale" >
                      </label>
                    </div>
                  </div>
                </div>
              </div>
              <div class="section-footer">
                <div class="row">
                  <div class="col-xs-6">
                  </div>
                  <div class="col-xs-6 text-right">
                    <button type="submit" class="btn btn-default" ng-click="vm.savepacking(vm,vm.packing)">{l}Save{endl}</button>
                  </div>
                </div>
              </div>
            </div> -->
                    <div class="tab-pane fade" id="attachments">
                        <div class="section-title">
                            <h2>{l}Attachments{endl}</h2>
                        </div>
                        <!-- /.section-title -->
                        <div class="section-content">
                            <div class="row">
                                <div class="col-xs-12 col-bottom">
                                    <div class="upload-box1 col-xs-12">
                                        <p class="text-muted">{l}Contracts attachments{endl}</p>
                                        <div class="upload-file1 hidden">
                                            <div class="row">
                                                <div class="upload-file1-image col-xs-4">
                                                    <img class="img-thumbnail1" src="images/storedemo.png" width="232" height="60" alt="" />
                                                </div>
                                                <div class="upload-file1-info col-xs-8">
                                                    <p class="nameOfTheFile1"></p>
                                                    <div class="upload-progress">
                                                        <div class="upload-progress-bar1" style="width: 88%;"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <input type="file" name="file" class="newUploadFile3" accept=".gif,.jpg,.jpeg,.pdf,.docx">
                                        <p class="text-center"><button class="btn btn-default" ng-click="vm.attachement_files(vm,$event)"><span class="glyphicon glyphicon-cloud-upload"></span> {l}Upload{endl}</button></p>
                                    </div>
                                    <!-- /.upload-box -->
                                </div>
                            </div>
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th class="col-sm-1 text-center">{l}Default{endl}</th>
                                        <th class="col-sm-10">{l}Name{endl}</th>
                                        <th class="col-sm-1 table_actions text-center">{l}Action{endl}</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="item in vm.atachment">
                                        <td class="text-center">
                                            <div class="checkbox checkbox-primary">
                                                <input type="checkbox" id="checkbox_{{$index}}" ng-model="item.checked" ng-click="vm.defaultcheck(vm,item.file_id,item.file,item.checked)">
                                                <label for="checkbox_{{$index}}"></label>
                                            </div>
                                        </td>
                                        <td><a href="{{item.path}}" class="text-link" target="_blank">{{item.file}}</a></td>
                                        <td class="text-center">
                                            <a href="#" ng-click="vm.deleteatach(vm,item.file_id,item.file)"><span class="fa fa-trash text-primary"></span></a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <!-- /.section-content -->
                    </div>
                    <!-- /.tab-pane -->
                    <div class="tab-pane fade" id="listsettings">
                        <div class="section-title">
                            <h2>{l}List settings{endl}</h2>
                        </div>
                        <!-- /.section-title -->
                        <div class="section-content">
                            <p class="text-muted col-bottom">{l}The default sort order for quotes is on quote date{endl}.</p>
                            <div class="form-horizontal text-left">
                                <div class="form-group">
                                    <label class="col-xs-4 control-label">{l}Sort quote on quote number{endl}</label>
                                    <div class="form-group col-xs-8">
                                        <!-- <input type="checkbox" ng-model="vm.listset.setlist" ng-click="vm.setact(vm,vm.listset.setlist)"> -->
                                        <!-- <toggle-switch ng-model="vm.listset.setlist" on-change="vm.setact(vm,vm.listset.setlist)" class="switch-primary" off-label="{l}No{endl}" on-label="{l}Yes{endl}"></toggle-switch> -->
                                        <label class="switch pull-left small_margin">
                                          <input type="checkbox" id="" ng-model="vm.listset.setlist" on-change="vm.setact(vm,vm.listset.setlist)" class="switch-primary">
                                          <span class="slider round"></span>
                                      </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /.section-content -->
                    </div>
                    <!-- /.tab-pane -->
                    <div class="tab-pane fade" id="quoteTerm">
                        <div class="section-title">
                            <div class="row">
                                <div class="col-xs-4">
                                    <h2>{l}Quotes Validity Term{endl}</h2>
                                </div>
                            </div>
                        </div>
                        <div class="section-content">
                            <div class="row">
                                <div class="col-xs-12">
                                    <p class="text-muted col-bottom">{l}Set the default Validity term for your quotes{endl}</p>
                                    <form class="form-horizontal">
                                        <div class="form-group">
                                            <label class="col-xs-4 control-label text-left" for="inputPaymentTerm">
                          {l}Vality term(days){endl}</label>
                                            <div class="col-xs-4">
                                                <input id="inputPaymentTerm" class="form-control" type="text" ng-blur="vm.saveterm()" ng-model="vm.quoteTerm.quote_term">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-xs-4 control-label text-left">
                          {l}Payment term type{endl}
                        </label>
                                            <div class="col-xs-8 radio">
                                                <label>
                            <input class="" type="radio" ng-change="vm.saveterm()" ng-model="vm.quoteTerm.choose_quote_term_type" value="1" >&nbsp; {l}Payment term(days) from the invoice date{endl}
                          </label>
                                            </div>
                                            <div class="col-xs-8 col-xs-offset-4 radio">
                                                <label>
                            <input class="" type="radio" ng-change="vm.saveterm()" ng-model="vm.quoteTerm.choose_quote_term_type" value="2" >&nbsp; {l}Payment term(days) from the first day of the next month{endl} 
                          </label>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.tabs-settings-content -->
            </div>
        </div>
        <!-- /.tabs-settings -->
    </div>
    <!-- /.page-content -->
</div>
<!-- neede on all pages -->