<!-- <div uib-alert class="ng-cloak" ng-repeat="alert in view.alerts" type="{{alert.type}}" close="view.alerts.splice($index, 1);" ng-class="['alert-' + (alert.type || 'warning'), 'alert-fixed' ]" dismiss-on-timeout='5000'>{{alert.msg}}</div> -->
<div class="page-header-buttons text-right">
    <button go-to="" state="contracts" type="submit" class="btn btn-sm btn-default"><strong>{l}Back{endl}</strong></button>
    <navigator pag="contract-contracts" itemid="{{view.contract_id}}" originalPage="contract.view"></navigator>
</div>
<div ng-show="!view.item.item_exists">
    <nopage></nopage>
</div>
<div ng-show="view.item.item_exists">
    <div class="panel panel-primary panel-order">
        <div class="panel-body">
            <div class="row">
                <div class="col-xs-12 col-md-3">
                    <!-- col-md-4 -->
                    <h4 class="title_underline">{l}Contract Details{endl}</h4>
                    <p class="ng-cloak"><strong>{l}Contract Date{endl}</strong> {{view.item.contract_version_date_txt}}</p>
                    <p class="ng-cloak" ng-if="view.item.status_customer>1"><strong>{l}Start Date{endl}</strong> {{view.item.S_DATE}}</p>
                    <p class="ng-cloak" ng-if="view.item.status_customer>1"><strong>{l}End Date{endl}</strong> {{view.item.E_DATE}}</p>
                    <p class="ng-cloak" ng-if="view.item.status_customer>1"><strong>{l}Reminder Date{endl}</strong> {{view.item.REMINDER_DATE}}</p>
                    <p class="ng-cloak" ng-if="view.item.status_customer=='0'"><strong>{l}Sent Date{endl}</strong> {{view.item.sent_date_txt}}</p>
                    <p class="ng-cloak"><strong>{l}Subject{endl}</strong> {{::view.item.subject}}</p>
                    <p class="ng-cloak"><strong>{l}Contract Nr:{endl}</strong> {{::view.item.contract_nr}}</p>
                    <p class="ng-cloak"><strong>{l}Account Manager{endl}</strong> {{::view.item.account_manager}}</p>
                    <p class="ng-cloak" ng-if="view.item.is_lost"><strong>{l}Reason Lost Contract{endl}</strong> {{::view.item.contract_lost}}</p>
                    <p class="ng-cloak"><strong>{l}Author{endl}</strong> {{::view.item.order_author}}</p>
                    <!-- <p ng-if="view.item.segment_dd.length && !view.showTxt.segment"><strong>{l}Segment{endl}</strong> {{view.item.segment}} <span class="pull-right link-pointer fas fa-pen" ng-click="view.showTxt.segment=true"></span></p>
            <div class="margin-bottom form-horizontal" ng-if="view.showTxt.segment==true">
              <div class="form-group">
                <label class="control-label text-left col-sm-4">{l}Segment{endl}</label>
                <div class="col-sm-6">
                    <selectize config='view.selectfg' options='view.item.segment_dd' ng-model="view.item.segment_id"></selectize>
                </div>
                <label class="control-label col-sm-1 pull-right text-success">
                  <i class="fa fa-check-circle link-pointer" aria-hidden="true" ng-click="view.setSegment()"></i>
                </label>
              </div>
            </div> -->
                    <!-- <p ng-if="view.item.source_dd.length && !view.showTxt.source"><strong>{l}Source{endl}</strong> {{view.item.source}} <span class="pull-right link-pointer fas fa-pen" ng-click="view.showTxt.source=true"></span></p>
            <div class="margin-bottom form-horizontal" ng-if="view.showTxt.source==true">
              <div class="form-group">
                <label class="control-label text-left col-sm-4">{l}Source{endl}</label>
                <div class="col-sm-6">
                    <selectize config='view.selectfg' options='view.item.source_dd' ng-model="view.item.source_id"></selectize>
                </div>
                <label class="control-label col-sm-1 pull-right text-success">
                  <i class="fa fa-check-circle link-pointer" aria-hidden="true" ng-click="view.setSource()"></i>
                </label>
              </div>
            </div>    -->
                    <p ng-if="view.item.type_dd.length && !view.showTxt.type"><strong>{l}Type{endl}</strong> {{view.item.xtype}} <span class="pull-right link-pointer fas fa-pen" ng-click="view.showTxt.type=true"></span></p>
                    <div class="form-horizontal" ng-if="view.showTxt.type==true">
                        <div class="form-group">
                            <label class="control-label text-left col-sm-4"><strong></strong>{l}Type{endl}</label>
                            <div class="col-sm-6">
                                <selectize config='view.selectfgType' options='view.item.type_dd' ng-model="view.item.type_id"></selectize>
                            </div>
                            <!-- <label class="control-label col-sm-1 pull-right text-success">
                    <i class="fa fa-check-circle link-pointer" aria-hidden="true" ng-click="view.setType()"></i>
                  </label> -->
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-md-6">
                    <div class="row">
                        <div class="col-xs-12 col-md-6">
                            <h4 class="title_underline">{l}Customer Details{endl}</h4>
                            <p class="ng-cloak"><a class="text-link" ui-sref="customerView({ 'customer_id':view.item.customer_id })"><span ng-bind-html="view.item.buyer_name"></span></a></p>
                            <!-- <p class="ng-cloak" ng-if="::view.item.contact_name">{{::view.item.contact_name}}</p> -->
                            <p ng-if="::view.item.buyer_email"><span class="far fa-envelope text-muted text-link_space" aria-hidden="true"></span> <a href="mailto:{{::view.item.buyer_email}}" class="ng-cloak text-link">{{::view.item.buyer_email}}</a></p>
                            <p class="ng-cloak" ng-if="::view.item.buyer_phone"><span class="fa fa-phone text-muted text-link_space" aria-hidden="true"></span> <a href="tel:{{::view.item.buyer_phone}}" class="text-link">{{::view.item.buyer_phone}}</a></p>
                            <p class="ng-cloak" ng-if="::view.item.buyer_fax"><span class="fa fa-fax text-muted text-link_space" aria-hidden="true"></span> {{::view.item.buyer_fax}}</p>
                            <h4 class="title_underline">{l}Contact Details{endl}</h4>
                            <p class="ng-cloak">{{::view.item.contact_name}}</p>
                            <p class="ng-cloak" ng-if="::view.item.contact_phone"><span class="fa fa-mobile text-muted text-link_space" aria-hidden="true"></span> {{::view.item.contact_phone}}</p>
                            <p ng-if="::view.item.contact_email"><span class="far fa-envelope text-muted text-link_space" aria-hidden="true"></span> <a href="mailto:{{::view.item.contact_email}}" class="ng-cloak text-link">{{::view.item.contact_email}}</a></p>
                        </div>
                        <div class="col-xs-12 col-md-6">
                            <h4 class="title_underline">{l}Address{endl}</h4>
                            <p class="no_css-display_address" ng-bind-html="::view.item.free_field_txt"></p>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-md-3">
                    <h4 class="title_underline">{l}Versions:{endl}</h4>
                    <ul class="quotevs_list">
                        <li ng-repeat="item in view.item.versions">
                            <span class="quote_version" go-to="" state="contract.view" params='{ "contract_id": {{view.contract_id}}, "version_id": {{item.version_id}} }' ng-class="{ 'delivery-partially':item.active=='sent', 'delivery-full':item.active=='active','selected':item.selected=='selected', 'delivery-lost':item.active=='lost' }">{{item.VERSION_CODE}}</span>
                        </li>
                    </ul>

                    <!-- <div class="text-center col-top" ng-if="view.item.status_customer<1"><a ng-if="view.item.is_admin_2" class="btn btn-lg_icon btn-primary" ng-click="view.addVersion()"><span class="fa fa-plus"></span> {l}Add Version{endl}</a></div> -->
                </div>
                <!-- <div class="col-xs-12 col-top ng-clock">
            <p ng-if="::view.item.use_weblink"><strong>{l}Web Link{endl}</strong> 
              <a class="ng-cloak text-link" ng-if="view.item.external_url" href="{{view.item.web_url}}{{view.item.external_url}}" target="_blank">{{view.item.web_url}}{{view.item.external_url}}</a>
              <i ng-if="view.item.external_url" class="fa fa-info-circle text-muted" uib-tooltip="{l}Weblink Info{endl}" tooltip-placement="top"></i>
              <em ng-if="!view.item.external_url" class="text-muted">{l}Contract must be (marked as) sent to create the weblink{endl}</em>
            </p>
            <a ng-if="view.item.external_url" class="ng-cloak text-link" ng-click="view.showWeblinkLog()">{l}Web Log{endl}</a> 
          </div> -->
            </div>
        </div>
    </div>
    <div class="row intervention-options">
        <div class="col-xs-12">
            <div class="module_steps">
                <ul class="module_steps-tabs">
                    <li ng-class="{ 'selected':view.item.selectedDraft }"><span class="badge">1</span> {l}Draft{endl}</li>
                    <li ng-class="{ 'selected':view.item.selectedSent }"><span class="badge">2</span> {l}Sent{endl}</li>
                    <li ng-class="{ 'selected':view.item.selectedWon }"><span class="badge">3</span> {l}Active{endl}</li>
                    <li class="module_steps-options">
                        <!-- <a class="btn btn-plain" ng-if="!view.item.post_contract && view.item.serial_number" href="#" ng-click="view.greenpost()"><img src="images/postgreen_icon.png" width="16" height="16" alt="" /><span class="hideOnTablet"> {l}Send by Post{endl}</span></a>
                        <div ng-if="view.item.post_active && view.item.post_contract" class="alert alert-inline alert-success cursor_pointer" ng-click="view.resendGreenPost()">{{view.item.postg_status}}</div> -->
                        <!-- <a class="btn btn-default" href="#" ng-click="view.showDrop()"><span class="glyphicon glyphicon-folder-open"></span><span class="hideOnTablet"> {l}Files...{endl}</span></a> -->
                        <a class="btn btn-plain" href="#" ng-click="view.showTxt.viewMarkAsSent=false;view.item.email.alerts=[];view.sendEmail()" ng-if="view.item.is_admin_2"><span class="far fa-envelope"></span><span class="hideOnTablet">{l}Send by Email{endl}</span></a>
                        <div class="btn-group">
                            <a class="btn btn-plain" href="{{view.item.pdf_link}}" target="_blank"><span class="far fa-file-pdf"></span><span class="hideOnTablet">{l}Generate PDF{endl}</span></a>
                            <div class="btn-group" ng-click="view.showPDFsettings()">
                                <a class="btn btn-default" href="#"><span class="glyphicon glyphicon-cog"></span></a>
                            </div>
                        </div>
                    </li>
                </ul>
                <!-- /.module_steps-tabs -->
                <div class="module_steps-content ng-clock" ng-if="view.item.is_admin_2">
                    <div class="row ng-clock">
                        <div class="col-xs-12 col-sm-8 ng-clock" ng-if="view.item.selectedDraft">
                            <a class="btn btn-plain" ui-sref="contract.edit({'contract_id': view.contract_id, 'version_id':view.item.version_id})"><span class="fas fa-pen"></span> {l}Edit{endl}</a>
                            <a class="btn btn-secondary" href="#" ng-click="view.showTxt.markAsReady=!view.showTxt.markAsReady">{l}Next{endl} <span class="glyphicon glyphicon-chevron-right"></span></a>
                            <a class="btn btn-lg_icon btn-plain" href="#" ng-show="view.showTxt.markAsReady" ng-click="view.showTxt.viewMarkAsSent=false;view.item.email.alerts=[];view.sendEmail()"><span class="far fa-envelope"></span> {l}Send by Email{endl}</a>
                            <span ng-show="view.showTxt.markAsReady" class="text-muted text-spacer">{l}OR{endl}</span>
                            <a class="btn btn-lg_icon btn-plain" href="#" ng-show="view.showTxt.markAsReady" ng-click="view.showTxt.viewMarkAsSent=!view.showTxt.viewMarkAsSent; view.showTxt.sendEmail=false;"><!-- <span class="akti-icon o_akti_articles"></span> -->{l}Mark as Sent{endl}</a>
                            <div class="dropdown btn-inline" uib-dropdown>
                                <button class="btn btn-plain dropdown-toggle" id="invoiceOptions" type="button" uib-dropdown-toggle>
                            {l}Action{endl} &nbsp;<span class="caret"></span>
                            </button>
                                <ul class="dropdown-menu" aria-labelledby="invoiceOptions">
                                    <li><a ui-sref="contract.editTemplate({ 'template_id':'tmp', 'contract_id': view.contract_id, 'version_id':view.item.version_id })" href="#"><span class="fa fa-file-o"></span> {l}New model contract{endl}</a></li>
                                    <li ng-if="view.item.status_customer<1">
                                        <a ng-if="view.item.is_admin_2" ng-click="view.addVersion()"><span class="fa fa-plus"></span> {l}Add Version{endl}</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-8 ng-clock" ng-if="view.item.selectedSent">
                            <a ng-if="view.item.can_revert && view.item.status_customer=='0'" class="btn btn-tertiary" ng-click="view.markContract('revert')"><span class="glyphicon glyphicon-chevron-left" ></span> {l}Revert to draft{endl}</a>
                            <a ng-if="view.item.can_revert && view.item.status_customer=='0'" class="btn btn-primary" ng-click="view.showTxt.viewMarkAsWon=!view.showTxt.viewMarkAsWon">{l}Mark as active{endl} <span class="glyphicon glyphicon-chevron-right" ></span></a>
                            <span ng-if="view.item.can_revert && view.item.status_customer=='0'" class="text-muted text-spacer">{l}OR{endl}</span>
                            <a ng-if="view.item.can_revert && view.item.status_customer=='0'" class="btn text-link" ng-click="view.showTxt.viewLost=!view.showTxt.viewLost">{l}Mark as lost{endl}</a>
                            <div class="dropdown btn-inline" ng-if="view.item.status_customer<2" uib-dropdown>
                                <button class="btn btn-plain dropdown-toggle" id="invoiceOptions" type="button" uib-dropdown-toggle>
                            {l}Action{endl} &nbsp;<span class="caret"></span>
                            </button>
                                <ul class="dropdown-menu" aria-labelledby="invoiceOptions">
                                    <li><a ui-sref="contract.editTemplate({ 'template_id':'tmp', 'contract_id': view.contract_id, 'version_id':view.item.version_id})" href="#"><span class="fa fa-file-o"></span> {l}New model contract{endl}</a></li>
                                    <li ng-if="view.item.status_customer<1">
                                        <a ng-if="view.item.is_admin_2" ng-click="view.addVersion()"><span class="fa fa-plus"></span> {l}Add Version{endl}</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-8 ng-clock" ng-if="view.item.selectedWon">
                            <a class="btn btn-secondary" ng-click="view.markContract('status',{ status_customer : 2 })" ng-if="view.item.status_customer=='3'"><span class="glyphicon glyphicon-chevron-left" ></span> {l}Open contract{endl}</a>
                            <a ng-if="view.item.status_customer<3" class="btn btn-secondary" ng-click="view.markContract('status',{ status_customer : 0 })"><span class="glyphicon glyphicon-chevron-left" ></span> {l}Reopen Version{endl}</a>
                            <div ng-if="!view.item.is_lost && view.item.status_customer=='2'" class="dropdown btn-inline" uib-dropdown>
                                <button class="btn btn-plain dropdown-toggle" id="invoiceOptions" type="button" uib-dropdown-toggle>
                            {l}Action{endl} &nbsp;<span class="caret"></span>
                            </button>
                                <ul class="dropdown-menu" aria-labelledby="invoiceOptions">
                                    <li><a ui-sref="contract.editTemplate({ 'template_id':'tmp', 'contract_id': view.contract_id, 'version_id':view.item.version_id})" href="#"><span class="fa fa-file-o"></span> {l}New model contract{endl}</a></li>
                                    <li class="dropdown-header" ng-if="view.item.is_service || view.item.is_invoice">{l}OR Proceed with this Contract as{endl}</li>
                                    <li ng-if="view.item.is_invoice"><a ng-click="view.InvoiceGo()" href="#"><span class="fas fa-file-alt"></span> {l}An Invoice{endl}</a></li>
                                    <li ng-if="view.item.is_invoice"><a ng-click="view.RecurringGo()" href="#"><span class="fa fa-repeat"></span> {l}Create Recurring{endl}</a></li>
                                    <li ng-if="view.item.is_service"><a ng-click="view.serviceGo()" href="#"><span class="fas fa-toolbox"></span> {l}Manual Intervention{endl}</a></li>
                                    <li ng-if="view.item.is_service"><a ng-click="view.recserviceGo()" href="#"><span class="fa fa-repeat"></span> {l}Recurring Intervention{endl}</a></li>
                                </ul>
                            </div>
                            <a ng-if="view.item.can_revert && view.item.status_customer=='2'" class="btn text-link" ng-click="view.markContract('status',{ status_customer : 3 })">{l}Close contract{endl}</a>
                            <span ng-if="view.item.is_lost && view.item.status_customer=='1'" class="text-muted text-spacer">{l}Lost_reason{endl}: </span>
                            <span ng-if="view.item.is_lost && view.item.status_customer=='1'" class="text-spacer ng-clock">{{view.item.contract_lost}}</span>
                            <a href="#" target="_blank" class="btn text-danger" ng-if="view.item.is_recurring" ui-sref="recinvoice.edit({ 'recurring_invoice_id':view.item.rec_id })"><span ng-bind-html="view.item.rec_text"></span></a>
                        </div>
                        <div class="col-xs-12 col-sm-4 text-right module_steps-extra">
                            <!--   <small ng-if="!view.item.selectedDraft" class="text-muted ng-clock">{l}Start date{endl} <strong ng-bind-html="view.item.start_date_txt"></strong></small>
                          <small ng-if="view.item.show_margin" class="text-muted ng-clock">{l}Margin{endl} <strong ng-bind-html="view.item.total_margin"></strong></small>
                          <small ng-if="view.item.is_total2" class="text-muted ng-clock">( {l}Margin in{endl} <span ng-bind-html="view.item.default_currency"></span> :<strong ng-bind-html="view.item.total2_margin"></strong> )</small> -->
                            <small class="text-muted">{l}Total Amount{endl}: <strong ng-bind-html="view.item.total"></strong> <!-- <span ng-if="view.item.is_total2">( {l}Total in{endl} <span ng-bind-html="view.item.default_currency"></span>: <strong ng-bind-html="view.item.total2"></strong> )</span> --> </small>
                        </div>
                    </div>
                    <!-- /.row:DRAFT -->
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="module_steps-highlight module_steps-fillsheet" ng-if="view.showTxt.sendPost">
                                <form class="form-horizontal text-left">
                                    <div class="form-group">
                                        <div class="col-sm-12 text-right">
                                            <button class="btn btn-plain" ng-click="view.showTxt.sendPost=false">{l}Cancel{endl}</button>
                                            <button class="btn btn-primary" ng-click="view.sendPost()">{l}Send by Post{endl}</button>
                                        </div>
                                    </div>
                                    <div class="form-group" ng-if="view.item.post_library.length">
                                        <label class="col-sm-4 control-label"><strong>{l}E-stationary{endl}</strong></label>
                                        <div class="col-sm-8">
                                            <selectize config='view.stationaryCfg' options='view.item.post_library' ng-model="view.item.stationary_id"></selectize>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="module_steps-highlight module_steps-fillsheet ng-clock" ng-show="view.showTxt.sendEmail">
                                <form class="form-horizontal">
                                    <div class="form-group">
                                        <div class="col-xs-12 text-right">
                                            <button type="submit" class="btn btn-plain" ng-click="view.showTxt.sendEmail=false">{l}Cancel{endl}</button>
                                            <button type="submit" class="btn btn-primary" ng-click="view.sendEmails(view.item.email)" ng-if="!view.item.selectedDraft" ng-disabled="view.item.save_disabled">{l}Send{endl}</button>
                                            <button type="submit" class="btn btn-primary" ng-if="view.item.selectedDraft" ng-click="view.sendEmails(view.item.email)" ng-disabled="view.item.save_disabled">{l}Mark as Sent{endl} &amp; {l}Send{endl}</button>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="" class="col-xs-3 control-label text-left"><strong>{l}Recipients{endl}</strong><span class="mandatory-label">*</span></label>
                                        <div class="col-xs-9">
                                            <selectize config='view.contactForEmailAutoCfg' options='view.auto.options.recipients' ng-model="view.item.email.recipients" ng-change="view.myFunction()"></selectize>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="" class="col-xs-3 control-label text-left">{l}Send me a copy{endl}</label>
                                        <div class="col-xs-9 checkbox checkbox-primary">
                                            <input type="checkbox" id="checkbox1" ng-model="view.item.email.copy">
                                            <label for="checkbox1"></label>
                                        </div>
                                    </div>
                                    <div class="form-group" ng-if="view.item.acc_manager_id">
                                        <label for="" class="col-xs-3 control-label text-left">{l}Send account manager a copy{endl}</label>
                                        <div class="col-xs-9 checkbox checkbox-primary">
                                            <input type="checkbox" id="checkbox2" ng-model="view.item.email.copy_acc">
                                            <label for="checkbox2"></label>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="" class="col-xs-3 control-label text-left">{l}Subject{endl}</label>
                                        <div class="col-xs-9">
                                            <input type="text" class="form-control" ng-model="view.item.email.e_subject" placeholder="{l}Subject{endl}">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="" class="col-xs-3 control-label text-left">{l}Message{endl}</label>
                                        <div class="col-xs-9">
                                            <textarea class="form-control" ng-model="view.item.email.e_message" placeholder="{l}Message{endl}" rows="10" ng-if="::view.item.use_html=='0'"></textarea>
                                            <textarea ui-tinymce="view.tinymceOptions" ng-model="view.item.email.e_message" class="variable_assign" ng-if="::view.item.use_html=='1'">{{ls.user.sign.text_signature}}</textarea>
                                            <input name="image" type="file" id="upload" class="hidden" onchange="">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-xs-9 text-right">
                                            <a ng-click="view.showPreview(view.item.email)">{l}Preview{endl}</a>
                                        </div>
                                        <div class="col-xs-3 text-right">
                                            <a ui-sref="contractSettings">{l}Change your default message{endl}</a>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="" class="col-xs-3 control-label text-left">{l}PDF Language{endl}</label>
                                        <div class="col-xs-9">
                                            <select class="form-control" ng-model="view.item.email.lid">
                                    <option ng-repeat="option in view.item.language_dd track by option.id" value="{{option.id}}">{{option.name}}</option>
                                  </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="" class="col-xs-3 control-label text-left">{l}Include a PDF version of the contract{endl}</label>
                                        <div class="col-xs-9 checkbox checkbox-primary">
                                            <input type="checkbox" id="checkbox3" ng-model="view.item.email.include_pdf">
                                            <label for="checkbox3"></label>
                                        </div>
                                    </div>
                                    <div class="form-group" ng-if="::view.item.is_file">
                                        <label for="" class="col-xs-3 control-label text-left">{l}Files{endl}:</label>
                                        <div class="col-xs-9 checkbox checkbox-primary">
                                            <p ng-repeat="item in view.item.email.files">
                                                <input type="checkbox" id="checkbox_file_{{$index}}" ng-model="item.checked">
                                                <label for="checkbox_file_{{$index}}"></label>
                                                <span class="ng-clock">{{::item.file}}</span>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="form-group" ng-if="::view.item.dropbox.dropbox_is_file">
                                        <label for="" class="col-xs-3 control-label text-left">{l}Dropbox Files{endl}:</label>
                                        <div class="col-xs-9 checkbox checkbox-primary">
                                            <p ng-repeat="item in view.item.dropbox.dropbox_files">
                                                <input type="checkbox" id="checkbox_dropbox_file_{{$index}}" ng-model="item.checked">
                                                <label for="checkbox_dropbox_file_{{$index}}"></label>
                                                <span class="ng-clock">{{item.file}}</span>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-12 text-right">
                                            <button type="submit" class="btn btn-plain" ng-click="view.showTxt.sendEmail=false">{l}Cancel{endl}</button>
                                            <button type="submit" class="btn btn-primary" ng-click="view.sendEmails(view.item.email)" ng-if="!view.item.selectedDraft" ng-disabled="view.item.save_disabled">{l}Send by Email{endl}</button>
                                            <button type="submit" class="btn btn-primary" ng-if="view.item.selectedDraft" ng-click="view.sendEmails(view.item.email)" ng-disabled="view.item.save_disabled">{l}Mark as Sent{endl} &amp; {l}Send{endl}</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="module_steps-highlight module_steps-fillsheet ng-clock" ng-if="view.showTxt.markAsReady && view.showTxt.viewMarkAsSent">
                                <form class="form-horizontal">
                                    <div class="form-group" ng-class="{ 'form-group_alert' : sent_form.sent_date.$invalid && !sent_form.sent_date.$pristine }">
                                        <label class="col-sm-3 control-label"><strong>{l}Sent date{endl}</strong></label>
                                        <div class="col-sm-3">
                                            <div class="so-field">
                                                <span class="glyphicon glyphicon-calendar so-icon"></span>
                                                <input type="text" class="form-control" ng-model="view.item.sent_date" uib-datepicker-popup="{{view.format}}" is-open="view.datePickOpen.sent_date" datepicker-options="view.dateOptions" close-text="Close" placeholder="{l}Sent date{endl}" show-button-bar="false"
                                                    ng-click="view.datePickOpen.sent_date=true" name="sent_date" required />
                                                <span class="glyphicon glyphicon-remove so-icon so-remove"></span>
                                            </div>
                                            <!-- /.so-field -->
                                            <div class="alert alert-sm alert-danger" ng-if="sent_form.sent_date.$invalid && view.alertsField.sent_date">{{view.alertsField.sent_date}}</div>
                                        </div>
                                        <div class="col-sm-4 ">
                                            <a class="btn btn-default" ng-click="view.markContractAsSent(sent_form)">{l}Save{endl}</a>
                                        </div>
                                    </div>
                                    <!-- <div class="form-group">
                                
                            </div> -->
                                </form>
                            </div>
                            <!-- !view.showTxt.viewMarkAsSent -->
                            <div class="module_steps-highlight module_steps-fillsheet ng-clock" ng-if="view.item.selectedSent && view.showTxt.viewMarkAsWon">
                                <form class="form-horizontal" name="sent_form">
                                    <div class="form-group" ng-class="{ 'form-group_alert' : sent_form.start_date.$invalid && !sent_form.start_date.$pristine }">
                                        <label class="col-sm-3 control-label"><strong>{l}Start date{endl}</strong></label>
                                        <div class="col-sm-3">
                                            <div class="so-field">
                                                <span class="glyphicon glyphicon-calendar so-icon"></span>
                                                <input type="text" class="form-control" ng-model="view.item.start_date" uib-datepicker-popup="{{view.format}}" is-open="view.datePickOpen.start_date" datepicker-options="view.dateOptions" close-text="Close" placeholder="{l}Start Date{endl}" show-button-bar="false"
                                                    ng-click="view.datePickOpen.start_date=true" name="start_date" required />
                                                <span class="glyphicon glyphicon-remove so-icon so-remove"></span>
                                            </div>
                                            <!-- /.so-field -->
                                            <div class="alert alert-sm alert-danger" ng-if="sent_form.start_date.$invalid && view.alertsField.start_date">{{view.alertsField.start_date}}</div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label"><strong>{l}Unlimited Duration{endl}</strong></label>
                                        <div class="col-sm-3">
                                            <!-- <toggle-switch ng-model="view.item.unlimited_period" class="switch-primary" off-label="{l}No{endl}" on-label="{l}Yes{endl}" value="1"></toggle-switch> -->
                                            <label class="switch pull-left small_margin">
                                  <input type="checkbox" id="" ng-model="view.item.unlimited_period" class="switch-primary">
                                  <span class="slider round"></span>
                             </label>
                                        </div>
                                        <div class="col-sm-6">
                                            <div uib-alert type="info" class="alert-info absolute" ng-if="view.showTxt.date_notice">{l}Start date is greater than end date{endl}</div>
                                        </div>
                                    </div>
                                    <div class="form-group" ng-if="!view.item.unlimited_period" ng-class="{ 'form-group_alert' : sent_form.end_date.$invalid && !sent_form.end_date.$pristine }">
                                        <label class="col-sm-3 control-label"><strong>{l}End date{endl}</strong></label>
                                        <div class="col-sm-3">
                                            <div class="so-field">
                                                <span class="glyphicon glyphicon-calendar so-icon"></span>
                                                <input type="text" class="form-control" ng-model="view.item.end_date" uib-datepicker-popup="{{view.format}}" is-open="view.datePickOpen.end_date" datepicker-options="view.dateOptions" close-text="Close" placeholder="{l}End Date{endl}" show-button-bar="false"
                                                    ng-click="view.datePickOpen.end_date=true" name="end_date" required />
                                                <span class="glyphicon glyphicon-remove so-icon so-remove"></span>
                                            </div>
                                            <!-- /.so-field -->
                                            <div class="alert alert-sm alert-danger" ng-if="sent_form.end_date.$invalid && view.alertsField.end_date">{{view.alertsField.end_date}}</div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-sm-4 col-sm-offset-4">
                                            <a class="btn btn-default" ng-click="view.markContract('status',{ status_customer : 2 },sent_form)">{l}Save{endl}</a>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <!-- !view.showTxt.viewMarkAsSent -->
                            <div class="module_steps-highlight module_steps-fillsheet ng-clock" ng-if="view.showTxt.viewLost">
                                <form class="form-horizontal">
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label"><strong>{l}Lost reason contract{endl}:</strong></label>
                                        <div class="col-sm-4">
                                            <div class="row">
                                                <div class="col-sm-10 col-md-10">
                                                    <div class="so-field">
                                                        <selectize config="view.salesCfg" options="view.item.LOST_QQ" ng-model="view.item.lost_cc" id="custandcont" table="contract_lost_reason" model="contract_lost_reason"></selectize>
                                                    </div>
                                                    <!-- /.so-field -->
                                                </div>
                                                <!-- /.col-* -->
                                            </div>
                                            <!-- /.row -->
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <!-- !view.showTxt.viewLost -->
                        </div>
                    </div>
                </div>
                <!-- /.module_steps-content -->
                <div uib-alert ng-repeat="alert in view.item.email.alerts" type="{{alert.type}}" close="view.item.email.alerts.splice($index, 1);" ng-class="['alert-' + (alert.type || 'warning') ]">{{alert.msg}}</div>
            </div>
            <!-- /.module_steps -->
        </div>
    </div>
    <!-- /.intervention-options -->
    <div class="row">
        <div class="col-sm-12">
            <div class="quotePreview" id="quotePreview">
                <center class="text-loader">{l}Loading PDF{endl}</center>
                <div class="bx-wrapper hide" id="bxWrapper">
                    <div class="bx-controls bx-has-controls-direction">
                        <div class="bx-controls-direction">
                            <a href="#" class="bx-prev" id="prev"><i class="glyphicon glyphicon-chevron-left" aria-hidden="true"></i></a>
                            <input type="text" class="selected_bx_page" id="page_num" value="1">
                            <span class="total_pages" id="page_count">/ 1</span>
                            <a href="#" class="bx-next" id="next"><i class="glyphicon glyphicon-chevron-right" aria-hidden="true"></i></a>
                        </div>
                    </div>
                </div>
                <canvas id="the-canvas" height="1262" width="892"></canvas>
                <div id="annotation-layer"></div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <h4>
                <strong>{l}Files{endl}</strong>
                <button ng-if="view.item.dropbox.is_drop && !view.show_load" type="button" class="btn btn-primary btn-add" uib-tooltip="{l}Upload{endl}" tooltip-placement="right" ng-click="view.uploadDoc(1)"><span class="btn-add_icon"><span class="icon-bar"></span><span class="icon-bar-2"></span></span></button>
            </h4>
            <div class="row text-center" ng-if="view.show_load">
                <i class="fa fa-spinner fa-spin fa-2x fa-fw" aria-hidden="true"></i><span class="sr-only"></span>
            </div>
            <!-- <div uib-alert type="notice" class="alert-warning" ng-if="!view.item.dropbox.dropbox_files.length && !view.show_load">{l}No data to display{endl}</div> -->
            <table class="table active_rows orderTable" ng-if="view.item.dropbox.dropbox_files.length && !view.show_load">
                <thead>
                    <tr>
                        <th class="col-md-1 col-sm-1 text-center">{l}Download{endl}</th>
                        <th class="col-md-10 col-sm-10">{l}File{endl}</th>
                        <th class="col-md-1 col-sm-1"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="item in view.item.dropbox.dropbox_files">
                        <td class="text-center"><a href="{{item.down_file_link}}" target="_blank"><i class="fa fa-dropbox" aria-hidden="true"></i></a></td>
                        <td><a href="{{item.down_file_link}}" target="_blank">{{item.name}}</a></td>
                        <td class="table_actions">
                            <div class="btn-group" uib-dropdown>
                                <button type="button" class="btn btn-plain dropdown-toggle" uib-dropdown-toggle>
                       <span class="caret"></span>
                    </button>
                                <ul class="dropdown-menu dropdown-menu-right" uib-dropdown-menu>
                                    <li class="dropdown-header">{l}Action{endl}</li>
                                    <li>
                                        <a href="#" ng-click="view.deleteDropFile($index)" confirm="{l}Are you sure, you wanna delete this entry?{endl}"><span class="fas fa-trash-alt text-primary"></span> {l}Delete{endl}</a>
                                    </li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
            <h4>
                <strong>{l}Images{endl}</strong>
                <button ng-if="view.item.dropbox.is_drop && !view.show_load" type="button" class="btn btn-primary btn-add" uib-tooltip="{l}Upload{endl}" tooltip-placement="right" ng-click="view.uploadDoc(2)"><span class="btn-add_icon"><span class="icon-bar"></span><span class="icon-bar-2"></span></span></button>
            </h4>
            <div class="row text-center" ng-if="view.show_load">
                <i class="fa fa-spinner fa-spin fa-2x fa-fw" aria-hidden="true"></i><span class="sr-only"></span>
            </div>
            <!-- <div uib-alert type="notice" class="alert-warning" ng-if="!view.item.dropbox.dropbox_images.length && !view.show_load">{l}No data to display{endl}</div> -->
            <div class="row drop_images" ng-if="view.item.dropbox.dropbox_images.length && !view.show_load">
                <div class="col-sm-2 margin-top" ng-repeat="item in view.item.dropbox.dropbox_images">
                    <div class="image">
                        <img class="link-pointer" ng-src="{{item.url}}" ng-click="view.openLightboxModal($index)" />
                    </div>
                    <span class="fas fa-trash-alt text-danger link-pointer" ng-click="view.deleteDropImage($index)" confirm="{l}Are you sure, you wanna delete this entry?{endl}"></span>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        var m = true;
    </script>
    <!--[if !(lte IE 9) ]><!-->
    <script type="text/javascript" src="js/libraries/pdf.js"></script>
    <script type="text/javascript" src="js/libraries/pdf.worker.js"></script>
    <!--<![endif]-->
    <logging do='contrat-contract' type="contract_id" ref="{{view.contract_id}}"></logging>
    <!-- advanced="{{view.item.ADV_QUOTE}}" -->
</div>