<style>
body {  color: #000;  font-family: Arial, Helvetica, sans-serif;  font-size: 9pt; }
h1 {  font-size:10pt; font-weight:normal; color:#50a2b8; }
table { border-collapse: collapse;  border-spacing: 0; }
p{  font-size: 9pt; margin: 0pt; padding: 0pt; }
ol, ul { padding: 0pt; margin: 0pt; font-size: 9pt; }
ol li, ul li{ font-size: 9pt; padding: 0pt; margin: 0pt; }
small { font-size: 7pt; }
small { font-size: 7pt; }
table td{   font-size: 9pt; }
.border_bottom {  border-bottom: 1px solid #CCC; }
.invoice_rows { border-bottom: 1px solid #CCC; }
.invoice_rows .th { border: 1px solid #CCC; color: #fff;  font-size: 9pt; font-weight: bold;  padding-left: 10px; text-align: center; background-color:#50a2b8; }
.invoice_rows td {  border: 1px solid #CCC; vertical-align:middle;  font-size: 9pt; text-align:right; }
/*.invoice_rows .last { border-right: 1px solid #CCC; }*/
.hide {   display:none; }
.right {  text-align:right; }
.free_text_content p { margin: 0pt; padding: 0pt;}

.wizwig_content{margin:0;padding:0;}
.wizwig_content p,.wizwig_content dl{display: block;margin-bottom: 1em;margin-left: 0;margin-right: 0;margin-top: 1em;}
.wizwig_content blockquote,.wizwig_content figure {display: block;margin-bottom: 1em;margin-left: 40px;margin-right: 40px;margin-top: 1em;}
.wizwig_content address{display: block;font-style: italic;}
.wizwig_content center {display: block;}
.wizwig_content h1{color:#000000;display: block;font-size: 2em;font-weight: bold;margin-bottom: 0.67em;margin-left: 0;margin-right: 0;margin-top: 0.67em;}
.wizwig_content h2{display: block;font-size: 1.5em;font-weight: bold;margin-bottom: 0.83em;margin-left: 0;margin-right: 0;margin-top: 0.83em;}
.wizwig_content h3{display: block;font-size: 1.17em;font-weight: bold;margin-bottom: 1em;margin-left: 0;margin-right: 0;margin-top: 1em;}
.wizwig_content h4{display: block;font-size: 1em;font-weight: bold;margin-bottom: 1.33em;margin-left: 0;margin-right: 0;margin-top: 1.33em;}
.wizwig_content h5{display: block;font-size: 0.83em;font-weight: bold;margin-bottom: 1.67em;margin-left: 0;margin-right: 0;margin-top: 1.67em;}
.wizwig_content h6{display: block;font-size: 0.67em;font-weight: bold;margin-bottom: 2.33em;margin-left: 0;margin-right: 0;margin-top: 2.33em;}
.wizwig_content listing {display: block;font-size: medium;margin-bottom: 1em;margin-left: 0;margin-right: 0;margin-top: 1em;white-space: pre;}
.wizwig_content xmp,.wizwig_content pre,.wizwig_content plaintext {display: block;margin-bottom: 1em;margin-left: 0;margin-right: 0;margin-top: 1em;white-space: pre;}
.wizwig_content q:before{content: open-quote;}
.wizwig_content q:after{content: close-quote;}
.wizwig_content b,.wizwig_content strong{font-weight: bolder;}
.wizwig_content i,.wizwig_content cite,.wizwig_content em,.wizwig_content var,.wizwig_content dfn{font-style: italic;}
.wizwig_content tt,.wizwig_content code,.wizwig_content kbd,.wizwig_content samp{font-family: -moz-fixed;}
.wizwig_content big{font-size: larger;}
.wizwig_content small{font-size: smaller;}
.wizwig_content sub{font-size: smaller;line-height: normal;vertical-align: sub;}
.wizwig_content sup{font-size: smaller;line-height: normal;vertical-align: super;}
.wizwig_content mark{background-attachment: scroll;background-clip: border-box;background-color: #FFFF00;background-image: none;background-position: 0 0;background-repeat: repeat;color: #000000;}
.wizwig_content ul,.wizwig_content menu,{display: block;list-style-type: disc;margin-bottom: 1em;margin-left: 0;margin-right: 0;margin-top: 1em;}
.wizwig_content ol{display: block;list-style-type: decimal;margin-bottom: 1em;margin-left: 0;margin-right: 0;margin-top: 1em;}
.wizwig_content li {display: list-item;}
</style>
{HEADER}
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<table width="100%" cellspacing="0" cellpadding="5" class="invoice_rows" style="clear:both;">
  <tr>
    {if:is_nada}<td class="th" width="{width_cp}" style="text-align:left;">&nbsp;</td>{end}
    {if:is_client}<td class="th" width="{width_cp}" style="text-align:left;">{customer_txt}</td>{end}
    {if:is_project}<td class="th" width="{width_cp}">{project_txt}</td>{end}
    {if:is_task}<td class="th" width="{width}">{task_txt}</td>{end}
    <!-- {if:is_person}<td class="th" width="{width}">{person_txt}</td>{end} -->
    <!-- {if:is_comment}<td class="th" width="{width}">{comment_txt}</td>{end} -->
    <td width="8%" class="th">{days_txt}</td>
    <td width="8%" class="th last">{hours_txt}</td>
  </tr>
  <tbody>
    {loop:day_row}
      <tr class="{hide_date}" bgcolor="#EEEEEE">
        <td colspan="{colspan}" style="text-align:left;"><strong>{date}</strong></td>
        <td class="right_w last" style="padding-right:10px;"><strong>{total_days}</strong></td>
        <td class="right_w last" style="padding-right:10px;"><strong>{total_hours}</strong></td>
      </tr>
      {loop:project_row}
      <tr>
        {if:is_nada}<td style="text-align:left;">&nbsp;</td>{end}
        {if:is_client}<td style="text-align:left;">{client}</td>{end}
        {if:is_project}<td style="text-align:left;">{project}</td>{end}
        {if:is_task}<td style="text-align:left;">{task}</td>{end}
        <!-- {if:is_person}<td style="text-align:left;">{person}</td>{end} -->
        <!-- {if:is_comment}<td style="text-align:center;">{comment}</td>{end} -->
        <td class="last right">{day}</td>
        <td class="last right">{hours}</td>
      </tr>
      {if:is_comment_line}
      <tr>
        <td class="last" colspan="{colspan_comm}" style="border-top:1px solid #CCCCCC; border-bottom: 1px solid #CCCCCC;text-align:left;">{comment}</td>
      </tr>
      {end}
      {endloop}
    {endloop}
  </tbody>
</table>
{if:consultant}
<table width="100%" cellspacing="0" cellpadding="3" class="" style="clear:both; margin-top:15px;">
  <tbody>
      <tr>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td>&nbsp;</td>
      </tr>
  </tbody>
</table>
<table width="100%" cellspacing="0" cellpadding="20" class="" style="clear:both; margin-top:15px;">
  <tbody>
      <tr>
        <td class="last" style="border:1px solid #CCCCCC;">&nbsp;</td>
        <td class="last">&nbsp;</td>
        <td class="last" style="border:1px solid #CCCCCC;">&nbsp;</td>
      </tr>
  </tbody>
</table>{end}