<div class="modal-header">
    <h3 class="modal-title">{l}Edit Label{endl}</h3>
</div>
<ul class="nav nav-tabs" id="tabContent">
    <li class="active"><a href="#labels" data-toggle="tab">{l}PDF Labels{endl}</a></li>
    <!-- <li><a href="#weblink" data-toggle="tab">{l}Weblink labels{endl}</a></li> -->
</ul>
<div class="tab-content">
    <div class="tab-pane active" id="labels">
        <div class="modal-body">
            <!-- <div uib-alert ng-repeat="alert in vm.alerts" type="{{alert.type}}" close="vm.alerts.splice($index, 1);" ng-class="['alert-' + (alert.type || 'warning'), 'alert-fixed' ]" dismiss-on-timeout='5000' >{{alert.msg}}</div> -->
            <form class="form-horizontal">
                <div class="row">
                    <div class="col-xs-12 col-sm-6 col-md-6">
                        <div class="form-group">
                            <label class="col-xs-5 control-label text-left">{l}Contract{endl}:</label>
                            <div class="col-xs-7 input-group-sm">
                                <input type="text" class="form-control" ng-model="vm.labels.contract" placeholder="{l}Contract{endl}">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-xs-5 control-label text-left">{l}Contract note{endl}:</label>
                            <div class="col-xs-7 input-group-sm">
                                <input type="text" class="form-control" ng-model="vm.labels.contract_note" placeholder="{l}Contract Note{endl}">
                            </div>
                        </div>
                        <!-- 						<div class="form-group">
							<label class="col-xs-5 control-label text-left">{l}Billing Address{endl}:</label>
		          <div class="col-xs-7 input-group-sm">
		            <input type="text" class="form-control" ng-model="vm.labels.billing_address" placeholder="{l}Billing Address{endl}">
		          </div>
						</div> -->
                        <div class="form-group">
                            <label class="col-xs-5 control-label text-left">{l}Bank Details{endl}:</label>
                            <div class="col-xs-7 input-group-sm">
                                <input type="text" class="form-control" ng-model="vm.labels.bank_details" placeholder="{l}Bank Details{endl}">
                            </div>
                        </div>
                        <!-- 						<div class="form-group">
							<label class="col-xs-5 control-label text-left">{l}Buyer delivery address{endl}:</label>
		          <div class="col-xs-7 input-group-sm">
		            <input type="text" class="form-control" ng-model="vm.labels.buyer_delivery_address" placeholder="{l}Buyer delivery address{endl}">
		          </div>
						</div>
						<div class="form-group">
							<label class="col-xs-5 control-label text-left">{l}Buyer delivery zip{endl}:</label>
		          <div class="col-xs-7 input-group-sm">
		            <input type="text" class="form-control" ng-model="vm.labels.buyer_delivery_zip" placeholder="{l}Buyer delivery zip{endl}">
		          </div>
						</div>
						<div class="form-group">
							<label class="col-xs-5 control-label text-left">{l}Buyer delivery city{endl}:</label>
		          <div class="col-xs-7 input-group-sm">
		            <input type="text" class="form-control" ng-model="vm.labels.buyer_delivery_city" placeholder="{l}Buyer delivery city{endl}">
		          </div>
						</div>
						<div class="form-group">
							<label class="col-xs-5 control-label text-left">{l}Buyer delivery country{endl}:</label>
		          <div class="col-xs-7 input-group-sm">
		            <input type="text" class="form-control" ng-model="vm.labels.buyer_delivery_country" placeholder="{l}Buyer delivery country{endl}">
		          </div>
						</div>
						<div class="form-group">
							<label class="col-xs-5 control-label text-left">{l}Buyer address{endl}:</label>
		          <div class="col-xs-7 input-group-sm">
		            <input type="text" class="form-control" ng-model="vm.labels.buyer_main_address" placeholder="{l}Buyer address{endl}">
		          </div>
						</div>
						<div class="form-group">
							<label class="col-xs-5 control-label text-left">{l}Buyer zip{endl}:</label>
		          <div class="col-xs-7 input-group-sm">
		            <input type="text" class="form-control" ng-model="vm.labels.buyer_main_zip" placeholder="{l}Buyer zip{endl}">
		          </div>
						</div>
						<div class="form-group">
							<label class="col-xs-5 control-label text-left">{l}Buyer city{endl}:</label>
		          <div class="col-xs-7 input-group-sm">
		            <input type="text" class="form-control" ng-model="vm.labels.buyer_main_city" placeholder="{l}Buyer city{endl}">
		          </div>
						</div>
						<div class="form-group">
							<label class="col-xs-5 control-label text-left">{l}Buyer country{endl}:</label>
		          <div class="col-xs-7 input-group-sm">
		            <input type="text" class="form-control" ng-model="vm.labels.buyer_main_country" placeholder="{l}Buyer country{endl}">
		          </div>
						</div> -->
                        <div class="form-group">
                            <label class="col-xs-5 control-label text-left">{l}Item{endl}:</label>
                            <div class="col-xs-7 input-group-sm">
                                <input type="text" class="form-control" ng-model="vm.labels.item" placeholder="{l}Item{endl}">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-xs-5 control-label text-left">{l}Unit Price{endl}:</label>
                            <div class="col-xs-7 input-group-sm">
                                <input type="text" class="form-control" ng-model="vm.labels.unit_price" placeholder="{l}Unit Price{endl}">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-xs-5 control-label text-left">{l}Total without VAT{endl}:</label>
                            <div class="col-xs-7 input-group-sm">
                                <input type="text" class="form-control" ng-model="vm.labels.subtotal" placeholder="{l}Total without VAT{endl}">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-xs-5 control-label text-left">{l}VAT{endl}:</label>
                            <div class="col-xs-7 input-group-sm">
                                <input type="text" class="form-control" ng-model="vm.labels.vat" placeholder="{l}VAT{endl}">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-xs-5 control-label text-left">{l}Total{endl}:</label>
                            <div class="col-xs-7 input-group-sm">
                                <input type="text" class="form-control" ng-model="vm.labels.amount_due" placeholder="{l}Total{endl}">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-xs-5 control-label text-left">{l}Notes{endl}:</label>
                            <div class="col-xs-7 input-group-sm">
                                <input type="text" class="form-control" ng-model="vm.labels.notes" placeholder="{l}Notes{endl}">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-xs-5 control-label text-left">{l}BIC Code{endl}:</label>
                            <div class="col-xs-7 input-group-sm">
                                <input type="text" class="form-control" ng-model="vm.labels.bic_code" placeholder="{l}BIC Code{endl}">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-xs-5 control-label text-left">{l}Phone{endl}:</label>
                            <div class="col-xs-7 input-group-sm">
                                <input type="text" class="form-control" ng-model="vm.labels.phone" placeholder="{l}Phone{endl}">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-xs-5 control-label text-left">{l}Email{endl}:</label>
                            <div class="col-xs-7 input-group-sm">
                                <input type="text" class="form-control" ng-model="vm.labels.email" placeholder="{l}Email{endl}">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-xs-5 control-label text-left">{l}Our reference{endl}:</label>
                            <div class="col-xs-7 input-group-sm">
                                <input type="text" class="form-control" ng-model="vm.labels.our_ref" placeholder="{l}Our reference{endl}">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-xs-5 control-label text-left">{l}VAT number{endl}:</label>
                            <div class="col-xs-7 input-group-sm">
                                <input type="text" class="form-control" ng-model="vm.labels.vat_number" placeholder="{l}VAT number{endl}">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-xs-5 control-label text-left">{l}Packing{endl}:</label>
                            <div class="col-xs-7 input-group-sm">
                                <input type="text" class="form-control" ng-model="vm.labels.package" placeholder="{l}Packaging{endl}">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-xs-5 control-label text-left">{l}Code{endl}:</label>
                            <div class="col-xs-7 input-group-sm">
                                <input type="text" class="form-control" ng-model="vm.labels.article_code" placeholder="{l}Code{endl}">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-xs-5 control-label text-left">{l}Chapter Subtotal{endl}:</label>
                            <div class="col-xs-7 input-group-sm">
                                <input type="text" class="form-control" ng-model="vm.labels.chapter_total" placeholder="{l}Chapter Subtotal{endl}">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-xs-5 control-label text-left">{l}Subtotal{endl}:</label>
                            <div class="col-xs-7 input-group-sm">
                                <input type="text" class="form-control" ng-model="vm.labels.subtotal_2" placeholder="{l}Subtotal{endl}">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-xs-5 control-label text-left">{l}Company Name{endl}:</label>
                            <div class="col-xs-7 input-group-sm">
                                <input type="text" class="form-control" ng-model="vm.labels.company_name" placeholder="{l}Company Name{endl}">
                            </div>
                        </div>

                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-6">
                        <div class="form-group">
                            <label class="col-xs-5 control-label text-left">{l}Reference{endl}:</label>
                            <div class="col-xs-7 input-group-sm">
                                <input type="text" class="form-control" ng-model="vm.labels.reference" placeholder="{l}Reference{endl}">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-xs-5 control-label text-left">{l}Date{endl}:</label>
                            <div class="col-xs-7 input-group-sm">
                                <input type="text" class="form-control" ng-model="vm.labels.date" placeholder="{l}Date{endl}">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-xs-5 control-label text-left">{l}Company{endl}:</label>
                            <div class="col-xs-7 input-group-sm">
                                <input type="text" class="form-control" ng-model="vm.labels.customer" placeholder="{l}Company{endl}">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-xs-5 control-label text-left">{l}Quantity{endl}:</label>
                            <div class="col-xs-7 input-group-sm">
                                <input type="text" class="form-control" ng-model="vm.labels.quantity" placeholder="{l}Quantity{endl}">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-xs-5 control-label text-left">{l}Amount{endl}:</label>
                            <div class="col-xs-7 input-group-sm">
                                <input type="text" class="form-control" ng-model="vm.labels.amount" placeholder="{l}Amount{endl}">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-xs-5 control-label text-left">{l}Discount{endl}:</label>
                            <div class="col-xs-7 input-group-sm">
                                <input type="text" class="form-control" ng-model="vm.labels.discount" placeholder="{l}Discount{endl}">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-xs-5 control-label text-left">{l}Amount Due{endl}:</label>
                            <div class="col-xs-7 input-group-sm">
                                <input type="text" class="form-control" ng-model="vm.labels.payments" placeholder="{l}Amount Due{endl}">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-xs-5 control-label text-left">{l}Grand Total{endl}:</label>
                            <div class="col-xs-7 input-group-sm">
                                <input type="text" class="form-control" ng-model="vm.labels.grand_total" placeholder="{l}Grand Total{endl}">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-xs-5 control-label text-left">{l}Bank Name{endl}:</label>
                            <div class="col-xs-7 input-group-sm">
                                <input type="text" class="form-control" ng-model="vm.labels.bank_name" placeholder="{l}Bank Name{endl}">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-xs-5 control-label text-left">{l}IBAN{endl}:</label>
                            <div class="col-xs-7 input-group-sm">
                                <input type="text" class="form-control" ng-model="vm.labels.iban" placeholder="{l}IBAN{endl}">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-xs-5 control-label text-left">{l}Fax{endl}:</label>
                            <div class="col-xs-7 input-group-sm">
                                <input type="text" class="form-control" ng-model="vm.labels.fax" placeholder="{l}Fax{endl}">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-xs-5 control-label text-left">{l}URL{endl}:</label>
                            <div class="col-xs-7 input-group-sm">
                                <input type="text" class="form-control" ng-model="vm.labels.url" placeholder="{l}URL{endl}">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-xs-5 control-label text-left">{l}Your reference{endl}:</label>
                            <div class="col-xs-7 input-group-sm">
                                <input type="text" class="form-control" ng-model="vm.labels.your_ref" placeholder="{l}Your reference{endl}">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-xs-5 control-label text-left">{l}Sale Unit{endl}:</label>
                            <div class="col-xs-7 input-group-sm">
                                <input type="text" class="form-control" ng-model="vm.labels.sale_unit" placeholder="{l}Sale Unit{endl}">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-xs-5 control-label text-left">{l}General Conditions{endl}:</label>
                            <div class="col-xs-7 input-group-sm">
                                <input type="text" class="form-control" ng-model="vm.labels.general_conditions" placeholder="{l}General Conditions{endl}">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-xs-5 control-label text-left">{l}Page{endl}:</label>
                            <div class="col-xs-7 input-group-sm">
                                <input type="text" class="form-control" ng-model="vm.labels.page" placeholder="{l}Page{endl}">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-xs-5 control-label text-left">{l}Validity date{endl}:</label>
                            <div class="col-xs-7 input-group-sm">
                                <input type="text" class="form-control" ng-model="vm.labels.valid_until" placeholder="{l}Validity date{endl}">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-xs-5 control-label text-left">{l}Signature{endl}:</label>
                            <div class="col-xs-7 input-group-sm">
                                <input type="text" class="form-control" ng-model="vm.labels.stamp_signature" placeholder="{l}Signature{endl}">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-xs-5 control-label text-left">{l}Company Registration Number{endl}:</label>
                            <div class="col-xs-7 input-group-sm">
                                <input type="text" class="form-control" ng-model="vm.labels.comp_reg_number" placeholder="{l}Company Registration Number{endl}">
                            </div>
                        </div>

                    </div>
                </div>
            </form>
        </div>
    </div>
    <!-- <div class="tab-pane" id="weblink">
		<div class="modal-body" >
			<uib-alert ng-repeat="alert in alerts" type="{{alert.type}}" close="alerts.splice($index, 1);" >{{alert.msg}}</uib-alert>
			<form class="form-horizontal">
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="col-xs-5 control-label text-left">{l}Download{endl}:</label>
		          <div class="col-xs-7 input-group-sm">
		            <input type="text" class="form-control" ng-model="vm.labels.download_webl" placeholder="{l}Download{endl}">
		          </div>
						</div>
						<div class="form-group">
							<label class="col-xs-5 control-label text-left">{l}Name{endl}:</label>
		          <div class="col-xs-7 input-group-sm">
		            <input type="text" class="form-control" ng-model="vm.labels.name_webl" placeholder="{l}Name{endl}">
		          </div>
						</div>
						<div class="form-group">
							<label class="col-xs-5 control-label text-left">{l}Add your comment here{endl}:</label>
		          <div class="col-xs-7 input-group-sm">
		            <input type="text" class="form-control" ng-model="vm.labels.addCommentLabel_webl" placeholder="{l}Add your comment here{endl}">
		          </div>
						</div>
						<div class="form-group">
							<label class="col-xs-5 control-label text-left">{l}Quote No{endl}:</label>
		          <div class="col-xs-7 input-group-sm">
		            <input type="text" class="form-control" ng-model="vm.labels.quote_webl" placeholder="{l}Quote No{endl}">
		          </div>
						</div>
						<div class="form-group">
							<label class="col-xs-5 control-label text-left">{l}Accept{endl}:</label>
		          <div class="col-xs-7 input-group-sm">
		            <input type="text" class="form-control" ng-model="vm.labels.accept_webl" placeholder="{l}Accept{endl}">
		          </div>
						</div>
						<div class="form-group">
							<label class="col-xs-5 control-label text-left">{l}Reject{endl}:</label>
		          <div class="col-xs-7 input-group-sm">
		            <input type="text" class="form-control" ng-model="vm.labels.reject_webl" placeholder="{l}Reject{endl}">
		          </div>
						</div>
						<div class="form-group">
							<label class="col-xs-5 control-label text-left">{l}Bank Details{endl}:</label>
		          <div class="col-xs-7 input-group-sm">
		            <input type="text" class="form-control" ng-model="vm.labels.bankDetails_webl" placeholder="{l}Bank Details{endl}">
		          </div>
						</div>
						<div class="form-group">
							<label class="col-xs-5 control-label text-left">{l}Cancel{endl}:</label>
		          <div class="col-xs-7 input-group-sm">
		            <input type="text" class="form-control" ng-model="vm.labels.cancel_webl" placeholder="{l}Cancel{endl}">
		          </div>
						</div>
						<div class="form-group">
							<label class="col-xs-5 control-label text-left">{l}BIC{endl}:</label>
		          <div class="col-xs-7 input-group-sm">
		            <input type="text" class="form-control" ng-model="vm.labels.bicCode_webl" placeholder="{l}BIC{endl}">
		          </div>
						</div>
						<div class="form-group">
							<label class="col-xs-5 control-label text-left">{l}Bank{endl}:</label>
		          <div class="col-xs-7 input-group-sm">
		            <input type="text" class="form-control" ng-model="vm.labels.bank_webl" placeholder="{l}Bank{endl}">
		          </div>
						</div>

					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="col-xs-5 control-label text-left">{l}Print PDF{endl}:</label>
		          <div class="col-xs-7 input-group-sm">
		            <input type="text" class="form-control" ng-model="vm.labels.pdfPrint_webl" placeholder="{l}Print PDF{endl}">
		          </div>
						</div>
						<div class="form-group">
							<label class="col-xs-5 control-label text-left">{l}Email{endl}:</label>
		          <div class="col-xs-7 input-group-sm">
		            <input type="text" class="form-control" ng-model="vm.labels.email_webl" placeholder="{l}Email{endl}">
		          </div>
						</div>
						<div class="form-group">
							<label class="col-xs-5 control-label text-left">{l}Submit{endl}:</label>
		          <div class="col-xs-7 input-group-sm">
		            <input type="text" class="form-control" ng-model="vm.labels.submit_webl" placeholder="{l}Submit{endl}">
		          </div>
						</div>
						<div class="form-group">
							<label class="col-xs-5 control-label text-left">{l}Date{endl}:</label>
		          <div class="col-xs-7 input-group-sm">
		            <input type="text" class="form-control" ng-model="vm.labels.date_webl" placeholder="{l}Date{endl}">
		          </div>
						</div>
						<div class="form-group">
							<label class="col-xs-5 control-label text-left">{l}Request New Version{endl}:</label>
		          <div class="col-xs-7 input-group-sm">
		            <input type="text" class="form-control" ng-model="vm.labels.requestNewVersion_webl" placeholder="{l}Request New Version{endl}">
		          </div>
						</div>
						<div class="form-group">
							<label class="col-xs-5 control-label text-left">{l}Status{endl}:</label>
		          <div class="col-xs-7 input-group-sm">
		            <input type="text" class="form-control" ng-model="vm.labels.status_webl" placeholder="{l}Status{endl}">
		          </div>
						</div>
						<div class="form-group">
							<label class="col-xs-5 control-label text-left">{l}Pay with IcePay{endl}:</label>
		          <div class="col-xs-7 input-group-sm">
		            <input type="text" class="form-control" ng-model="vm.labels.payWithIcepay_webl" placeholder="{l}Pay with IcePay{endl}">
		          </div>
						</div>
						<div class="form-group">
							<label class="col-xs-5 control-label text-left">{l}Reqular invoice was created from these pro-forma{endl}:</label>
		          <div class="col-xs-7 input-group-sm">
		            <input type="text" class="form-control" ng-model="vm.labels.regularInvoiceProForma_webl" placeholder="{l}Reqular invoice was created from these pro-forma{endl}">
		          </div>
						</div>
						<div class="form-group">
							<label class="col-xs-5 control-label text-left">{l}IBAN{endl}:</label>
		          <div class="col-xs-7 input-group-sm">
		            <input type="text" class="form-control" ng-model="vm.labels.ibanCode_webl" placeholder="{l}IBAN{endl}">
		          </div>
						</div>
						<div class="form-group">
							<label class="col-xs-5 control-label text-left">{l}No data to display{endl}:</label>
		          <div class="col-xs-7 input-group-sm">
		            <input type="text" class="form-control" ng-model="vm.labels.noData_webl" placeholder="{l}No data to display{endl}">
		          </div>
						</div>

					</div>
				</div>
			</form>
		</div>
	</div> -->
</div>
<div class="modal-footer">
    <button class="btn btn-plain" type="button" ng-click="vm.cancel()">{l}Close{endl}</button>
    <button class="btn btn-default" type="button" ng-click="vm.ok(vm,vm.labels)">{l}Save{endl}</button>
</div>