<div class="container">
    <div class="tabs-navigation">
        <div class="tab-content">
            <div class="tab-pane active">
                <div class="row page-search page-search-options">
                    <form>
                        <div class="col-sm-12">
                            <div class="row">
                                <div class="col-sm-4">
<!--                                    <div class="btn-group btn-block">-->
<!--                                        <selectize config='periodCfg' options='periods' ng-model="search.period_id"></selectize>-->
<!--                                    </div>-->
                                    <div class="so-field" ng-class="{ 'so-active':search.period_id }">
                                        <selectize config='periodCfg' options='periods' ng-model="search.period_id"></selectize>
                                        <span class="glyphicon glyphicon-remove so-icon so-remove" ng-click="toggleSearchButtons('period_id', '')"></span>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="btn-group btn-block" ng-class="{ 'so-active':search.customer_id!=undefined }">
                                        <selectize config='customerCfg' options='item.customers.list' ng-model="search.customer_id" id="customer_list"></selectize>
                                        <span class="glyphicon glyphicon-remove so-remove" ng-click="searchThing('customer_id')"></span>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="btn-group btn-block" ng-class="{ 'so-active':search.manager_id!=undefined }">
                                        <selectize config='managerCfg' options='item.managers.list' ng-model="search.manager_id" id="manager_list"></selectize>
                                        <span class="glyphicon glyphicon-remove so-remove" ng-click="searchThing('manager_id')"></span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="page-search-button">
                            <div class="btn-group" uib-dropdown>
                                <button type="button" class="btn btn-tertiary dropdown-toggle" uib-dropdown-toggle>
                      <span class="caret"></span>
                    </button>
                                <ul class="dropdown-menu dropdown-menu-right" uib-dropdown-menu>
                                    <li ng-if="show_settings.is_admin_invoice"><a href="{{item.EXPORT_HREF}}" target="_blank"><span class="fas fa-upload text-primary"></span> {l}Export to csv{endl}</a></li>
                                    <li><a href="#" ng-if="item.adv_search" ng-click="search.showAdvanced = !search.showAdvanced"><span class="fa fa-search"></span> {l}Advanced search{endl}</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-sm-12 advanced_search" ng-if="item.adv_search" ng-class="{ 'advanced_search-show': search.showAdvanced }">
                            <div class="row">
                                <div class="col-sm-3">
                                    <div class="btn-group btn-block" ng-class="{ 'so-active':search.identity_id!=undefined }">
                                        <selectize config='identityCfg' options='item.identities' ng-model="search.identity_id"></selectize>
                                        <span class="glyphicon glyphicon-remove so-remove" ng-click="searchThing('identity_id')"></span>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="btn-group btn-block" ng-class="{ 'so-active':search.c_type!=undefined }">
                                        <selectize config='relationTypeCfg' options='item.customer_type' ng-model="search.c_type" id="c_type"></selectize>
                                        <span class="glyphicon glyphicon-remove so-remove" ng-click="searchThing('c_type')"></span>
                                    </div>
                                </div>
                                <div class="col-sm-3" ng-if="item.source_dd.length">
                                    <div class="btn-group btn-block" ng-class="{ 'so-active':search.source_id!=undefined }">
                                        <selectize config='selectSourceCfg' options='item.source_dd' ng-model="search.source_id"></selectize>
                                        <span class="glyphicon glyphicon-remove so-remove" ng-click="searchThing('source_id')"></span>
                                    </div>
                                </div>
                                <div class="col-sm-3" ng-if="item.type_dd.length">
                                    <div class="btn-group btn-block" ng-class="{ 'so-active':search.type_id!=undefined }">
                                        <selectize config='selectTypeCfg' options='item.type_dd' ng-model="search.type_id"></selectize>
                                        <span class="glyphicon glyphicon-remove so-remove" ng-click="searchThing('type_id')"></span>
                                    </div>
                                </div>
                                <div class="col-sm-2 text-right pull-right" ng-class="{ 'margin-top': item.source_dd.length && item.type_dd.length}">
                                    <button class="btn btn-plain btn-search_cancel" ng-click="resetAdvanced()">{l}Cancel{endl}</button>
                                    <button class="btn btn-default" ng-click="searchThing()">{l}Search{endl}</button>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-2 margin-top" ng-if="search.period_id=='4'">
                            <div class="so-field" ng-class="{ 'so-active':search.from!=undefined }">
                                <span class="glyphicon glyphicon-calendar so-icon" ng-click="datePickOpen.from=true"></span>
                                <input type="text" class="form-control" ng-model="search.from" uib-datepicker-popup="{{format}}" is-open="datePickOpen.from" datepicker-options="dateOptions" close-text="Close" placeholder="{l}From{endl}" show-button-bar="false" ng-click="datePickOpen.from=true"
                                    ng-change="searchThing()">
                                <span class="glyphicon glyphicon-remove so-icon so-remove" ng-click="toggleSearchButtons('from',undefined)"></span>
                            </div>
                            <!-- /.input-date -->
                        </div>
                        <div class="col-sm-2 margin-top" ng-if="search.period_id=='4'">
                            <div class="so-field" ng-class="{ 'so-active':search.to!=undefined }">
                                <span class="glyphicon glyphicon-calendar so-icon" ng-click="datePickOpen.to=true"></span>
                                <input type="text" class="form-control" ng-model="search.to" uib-datepicker-popup="{{format}}" is-open="datePickOpen.to" datepicker-options="dateOptions" close-text="Close" placeholder="{l}To{endl}" show-button-bar="false" ng-click="datePickOpen.to=true"
                                    ng-change="searchThing()">
                                <span class="glyphicon glyphicon-remove so-icon so-remove" ng-click="toggleSearchButtons('to',undefined)"></span>
                            </div>
                            <!-- /.input-date -->
                        </div>
                        <div class="btn-group btn-group-calendar margin-top" role="group" ng-if="(search.period_id<'4' || search.period_id=='5') && search.period_id != ''">
                            <button type="button" class="btn btn-square btn-plain" ng-click="navigate(-1)"><span class="glyphicon glyphicon-chevron-left"></span></button>
                            <span class="calendar-date">{{item.period_txt}}</span>
                            <button type="button" class="btn btn-square btn-plain" ng-click="navigate(+1)"><span class="glyphicon glyphicon-chevron-right"></span></button>
                        </div>
                        <div class="btn-group btn-inline btn-group-calendar margin-top" ng-show="(search.period_id<'4' || search.period_id=='5') && search.period_id != ''">
                            <button class="btn btn-square btn-plain" ng-model="search.start_date" uib-datepicker-popup="{{format}}" is-open="datePickOpen.start_date" datepicker-options="dateOptions" close-text="Close" show-button-bar="false" ng-click="datePickOpen.start_date=true"
                                ng-change="navigate(+0)">
					<span class="glyphicon glyphicon-calendar"></span>
				</button>
                        </div>
                    </form>
                </div>
                <!-- /.page-search -->
                <div uib-alert ng-repeat="alert in alerts" type="{{alert.type}}" close="alerts.splice($index, 1);" ng-class="['alert-' + (alert.type || 'warning'), 'alert-fixed' ]" dismiss-on-timeout='5000'>{{alert.msg}}</div>
                <div class="row page-content">
                    <div class="col-sm-3">
                        <h2>{l}Total Amount{endl}:</h2>
                        <h2><b><span ng-bind-html="item.BIG_TOTAL_A"></span> (+{l}VAT{endl}: <span ng-bind-html="item.BIG_VAT_A"></span>)</b></h2>
                        <h2>{l}Invoices{endl}: <b><span>{{item.TOTAL_INVOICES}}</span></b></h2>
                        <h2 ng-if="item.is_credit" class="text-danger">{l}Total Amount Credit{endl}:</h2>
                        <h2 class="text-danger" ng-if="item.is_credit"><b><span ng-bind-html="item.BIG_TOTAL_C"></span> (+{l}VAT{endl}: <span ng-bind-html="item.BIG_VAT_C"></span>)</b></h2>
                        <h2 ng-if="item.is_profi">{l}Margin{endl}:</h2>
                        <h2 ng-if="item.is_profi"><b><span ng-bind-html="item.BIG_MARGIN"></span></b> / <b>({{item.BIG_MARGIN_PERCENT}} %)</b></h2>
                    </div>
                    <div class="col-sm-3">
                        <h2 class="text-center chart_inv">{l}Invoice amount{endl}</h2>
                        <h2 class="text-center">({l}VAT included{endl})</h2>
                        <canvas class="chart chart-pie" chart-data="item.chart_invoice.data" chart-labels="item.chart_invoice.label" chart-options="chart_options"></canvas>
                    </div>
                    <div class="col-sm-3 margin-top">
                        <h2 class="text-center">{l}Top Customers{endl}</h2>
                        <canvas class="chart chart-pie" chart-data="item.chart_customer.data" chart-labels="item.chart_customer.label" chart-options="chart_customer"></canvas>
                    </div>
                    <div class="col-sm-3 margin-top">
                        <h2 class="text-center">{l}Top Managers{endl}</h2>
                        <canvas class="chart chart-pie" chart-data="item.chart_manager.data" chart-labels="item.chart_manager.label" chart-options="chart_manager"></canvas>
                    </div>
                    <div class="col-sm-12">
                        <ul class="nav nav-tabs tabs-default" role="tablist" id="reportsNav">
                            <li class="active"><a href="#customers" aria-controls="customers" role="tab" data-toggle="tab" aria-expanded="true">{l}Clients{endl}</a></li>
                            <li class="" ng-click="get_more('invoicesTab','1')"><a href="#invoices" aria-controls="invoices" role="tab" data-toggle="tab" aria-expanded="false">{l}Invoices{endl}</a></li>
                            <li class="" ng-click="get_more('invoicesTab','2')"><a href="#cinvoices" aria-controls="cinvoices" role="tab" data-toggle="tab" aria-expanded="false">{l}Credit Invoices{endl}</a></li>
                            <li class="" ng-click="get_more('managersTab')"><a href="#managers" aria-controls="managers" role="tab" data-toggle="tab" aria-expanded="false">{l}Managers{endl}</a></li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane fade in active" id="customers">
                                <!-- <div uib-alert type="notice" class="alert-warning" ng-if="!item.customer_tab.other_row.length">{l}No data to display{endl}</div> -->
                                <div class="section-content">
                                    <table class="table active_rows orderTable" ng-if="item.customer_tab.other_row.length">
                                        <thead>
                                            <tr>
                                                <th ng-class="{ 'col-sm-8':!item.is_profi, 'col-sm-5':item.is_profi }">{l}Name{endl}</th>
                                                <th class="col-sm-2 text-center">{l}Invoices{endl}</th>
                                                <th class="col-sm-3 text-center" ng-if="item.is_profi">{l}Margin{endl}</th>
                                                <th class="col-sm-2 text-center sortable_row" ng-class="{ 'sortable_row-up':(!reverse && ord == 'amount') , 'sortable_row-down':(reverse && ord == 'amount') }" ng-click="orderBY('amount', '','')">{l}Total Value{endl}</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="art in item.customer_tab.other_row">
                                                <td class="text-muted">
                                                    <a ng-click="toggleSearchButtons('customer_id',art.CUSTOMER_ID)"><span class="text-ellipsis">{{art.CUSTOMER_N}}</span></a>
                                                </td>
                                                <td class="text-muted text-center"><span>{{art.INVOICES}}</span></td>
                                                <td class="text-muted text-center" ng-if="item.is_profi"><span ng-bind-html="art.margin"></span> (<span>{{art.margin_percent}}</span> %)</td>
                                                <td class="text-muted text-center"><span ng-bind-html="art.TOTAL_CLIENT"></span></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <ul ng-if="item.customer_tab.max_rows > 30" uib-pagination total-items="item.customer_tab.max_rows" ng-model="search.offset_customer" ng-change="get_more('customersTab')" max-size="5" class="pager" boundary-links="true" items-per-page="item.customer_tab.lr"></ul>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="invoices">
                                <div class="section-content">
                                    <!-- <div uib-alert type="notice" class="alert-warning" ng-if="!item.invoice_tab.other_row.length">{l}No data to display{endl}</div>					 -->
                                    <table class="table active_rows orderTable" ng-if="item.invoice_tab.other_row.length">
                                        <thead>
                                            <tr>
                                                <th ng-class="{ 'col-sm-2':item.is_profi, 'col-sm-3':!item.is_profi }">{l}Invoice{endl}</th>
                                                <th class="col-sm-1">{l}Date{endl}</th>
                                                <th ng-class="{ 'col-sm-2':item.is_profi, 'col-sm-3':!item.is_profi }">{l}Customer{endl}</th>
                                                <th class="col-sm-2" ng-if="item.is_profi">{l}Margin{endl}</th>
                                                <th class="col-sm-1 text-center">{l}VAT{endl}</th>
                                                <th class="col-sm-2 text-center sortable_row" ng-class="{ 'sortable_row-up':(!reverse && ord == 'amount') , 'sortable_row-down':(reverse && ord == 'amount') }" ng-click="orderBY('amount', 'invoicesTab','1')">{l}Amount without VAT{endl}</th>
                                                <th class="col-sm-1 text-center col-status">{l}Status{endl}</th>
                                                <th class="col-sm-1"></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="art in item.invoice_tab.other_row">
                                                <td class="text-muted">
                                                    {{art.serial_number}}
                                                    <span class="item-icons">
					                      <i class="fa fa-exclamation text-danger" aria-hidden="true" ng-if="art.late"></i>
					                    </span>
                                                </td>
                                                <td class="text-muted">{{art.created}}</td>
                                                <td class="text-muted">{{art.buyer_name}}</td>
                                                <td class="text-muted" ng-if="item.is_profi">
                                                    <span ng-bind-html="art.margin"></span> (<span>{{art.margin_percent}}</span> %)
                                                </td>
                                                <td class="text-muted text-center"><span ng-bind-html="art.vat"></span></td>
                                                <td class="text-muted text-center"><span ng-bind-html="art.amount"></span></td>
                                                <td class="text-center col-status">
                                                    <span class="badge item-status-gray" ng-class="{ 'item-status-green':art.nr_status=='3', 'item-status-yellow':art.nr_status=='2'}">{{art.type_title}}</span>
                                                </td>
                                                <td class="table_actions">
                                                    <div class="btn-group" uib-dropdown>
                                                        <button type="button" class="btn btn-plain dropdown-toggle" uib-dropdown-toggle>
				                              <span class="caret"></span>
				                          </button>
                                                        <ul class="dropdown-menu dropdown-menu-right" uib-dropdown-menu>
                                                            <li>
                                                                <a href="#" go-to="" state="invoice.view" params='{"invoice_id": {{::art.id}}}'><span class="glyphicon glyphicon-info-sign text-primary"></span> {l}View{endl}</a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <ul ng-if="item.invoice_tab.max_rows > 30" uib-pagination total-items="item.invoice_tab.max_rows" ng-model="search.offset_invoice" ng-change="get_more('invoicesTab','1')" max-size="5" class="pager" boundary-links="true" items-per-page="item.invoice_tab.lr"></ul>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="cinvoices">
                                <!-- <div uib-alert type="notice" class="alert-warning" ng-if="!item.invoice_tab.other_row.length">{l}No data to display{endl}</div> -->
                                <div class="section-content">
                                    <table class="table active_rows orderTable" ng-if="item.invoice_tab.other_row.length">
                                        <thead>
                                            <tr>
                                                <th class="col-sm-3">{l}Invoice{endl}</th>
                                                <th class="col-sm-1">{l}Date{endl}</th>
                                                <th class="col-sm-3">{l}Customer{endl}</th>
                                                <th class="col-sm-1 text-center">{l}VAT{endl}</th>
                                                <th class="col-sm-2 text-center sortable_row" ng-class="{ 'sortable_row-up':(!reverse && ord == 'amount') , 'sortable_row-down':(reverse && ord == 'amount') }" ng-click="orderBY('amount', 'invoicesTab','2')">{l}Amount{endl}</th>
                                                <th class="col-sm-1 text-center col-status">{l}Status{endl}</th>
                                                <th class="col-sm-1"></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="art in item.invoice_tab.other_row">
                                                <td class="text-muted">
                                                    {{art.serial_number}}
                                                    <span class="item-icons">
					                      <i class="fa fa-exclamation text-danger" aria-hidden="true" ng-if="art.late"></i>
					                    </span>
                                                </td>
                                                <td class="text-muted">{{art.created}}</td>
                                                <td class="text-muted">{{art.buyer_name}}</td>
                                                <td class="text-muted text-center"><span ng-bind-html="art.vat"></span></td>
                                                <td class="text-muted text-center"><span ng-bind-html="art.amount"></span></td>
                                                <td class="text-center col-status">
                                                    <span class="badge item-status-gray" ng-class="{ 'item-status-green':art.nr_status=='3', 'item-status-yellow':art.nr_status=='2'}">{{art.type_title}}</span>
                                                </td>
                                                <td class="table_actions">
                                                    <div class="btn-group" uib-dropdown>
                                                        <button type="button" class="btn btn-plain dropdown-toggle" uib-dropdown-toggle>
				                              <span class="caret"></span>
				                          </button>
                                                        <ul class="dropdown-menu dropdown-menu-right" uib-dropdown-menu>
                                                            <li>
                                                                <a href="#" go-to="" state="invoice.view" params='{"invoice_id": {{::art.id}}}'><span class="glyphicon glyphicon-info-sign text-primary"></span> {l}View{endl}</a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <ul ng-if="item.invoice_tab.max_rows > 30" uib-pagination total-items="item.invoice_tab.max_rows" ng-model="search.offset_invoice" ng-change="get_more('invoicesTab','2')" max-size="5" class="pager" boundary-links="true" items-per-page="item.invoice_tab.lr"></ul>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="managers">
                                <!-- <div uib-alert type="notice" class="alert-warning" ng-if="!item.manager_tab.other_row.length">{l}No data to display{endl}</div> -->
                                <div class="section-content">
                                    <table class="table active_rows orderTable" ng-if="item.manager_tab.other_row.length">
                                        <thead>
                                            <tr>
                                                <th ng-class="{ 'col-sm-10':!item.is_profi, 'col-sm-8':item.is_profi }">{l}Name{endl}</th>
                                                <th class="col-sm-2 text-center" ng-if="item.is_profi">{l}Margin{endl}</th>
                                                <th class="col-sm-2 text-center  sortable_row" ng-class="{ 'sortable_row-up':(!reverse && ord == 'amount') , 'sortable_row-down':(reverse && ord == 'amount') }" ng-click="orderBY('amount', 'managersTab')">{l}Total Value{endl}</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="art in item.manager_tab.other_row">
                                                <td class="text-muted">
                                                    <span>{{art.MANAGER_N}}</span>
                                                </td>
                                                <td class="text-muted text-center" ng-if="item.is_profi">
                                                    <span ng-bind-html="art.margin"></span> (<span>{{art.margin_percent}}</span> %)
                                                </td>
                                                <td class="text-muted text-center"><span ng-bind-html="art.TOTAL_MANAGER"></span></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <ul ng-if="item.manager_tab.max_rows > 30" uib-pagination total-items="item.manager_tab.max_rows" ng-model="search.offset_manager" ng-change="get_more('managersTab')" max-size="5" class="pager" boundary-links="true" items-per-page="item.manager_tab.lr"></ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>