<div class="container">
    <div class="tabs-navigation">
        <div class="tab-content">
            <div class="tab-pane active">
                <div class="row page-search page-search-options">
                    <form>
                        <div class="col-sm-12">
                            <div class="row">
                                <div class="col-sm-3">
<!--                                    <div class="btn-group btn-block">-->
<!--                                        <selectize config='periodCfg' options='periods' ng-model="search.period_id"></selectize>-->
<!--                                    </div>-->
                                    <div class="so-field" ng-class="{ 'so-active':search.period_id }">
                                        <selectize config='periodCfg' options='periods' ng-model="search.period_id"></selectize>
                                        <span class="glyphicon glyphicon-remove so-icon so-remove" ng-click="toggleSearchButtons('period_id', '')"></span>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="btn-group btn-block" ng-class="{ 'so-active':search.customer_id!=undefined }">
                                        <selectize config='customerCfg' options='item.customers.list' ng-model="search.customer_id" id="customer_list"></selectize>
                                        <span class="glyphicon glyphicon-remove so-remove" ng-click="searchThing('customer_id')"></span>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="btn-group btn-block" ng-class="{ 'so-active':search.article_category_id!=undefined }">
                                        <selectize config='familyCfg' options='item.families.list' ng-model="search.article_category_id" id="family_list"></selectize>
                                        <span class="glyphicon glyphicon-remove so-remove" ng-click="searchThing('article_category_id')"></span>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="btn-group btn-block" ng-class="{ 'so-active':search.article_id!=undefined }">
                                        <selectize config='articleCfg' options='item.articles.lines' ng-model="search.article_id" id="articles_list"></selectize>
                                        <span class="glyphicon glyphicon-remove so-remove" ng-click="searchThing('article_id')"></span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="page-search-button">
                            <div class="btn-group" uib-dropdown ng-if="show_settings.is_admin_article">
                                <button type="button" class="btn btn-tertiary dropdown-toggle" uib-dropdown-toggle>
			                      <span class="caret"></span>
			                    </button>
                                <ul class="dropdown-menu dropdown-menu-right" uib-dropdown-menu>
                                    <li><a href="{{item.EXPORT_HREF}}" target="_blank"><span class="fas fa-upload text-primary"></span> {l}Export to csv{endl}</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-sm-2 margin-top" ng-if="search.period_id=='4'">
                            <div class="so-field" ng-class="{ 'so-active':search.from!=undefined }">
                                <span class="glyphicon glyphicon-calendar so-icon" ng-click="datePickOpen.from=true"></span>
                                <input type="text" class="form-control" ng-model="search.from" uib-datepicker-popup="{{format}}" is-open="datePickOpen.from" datepicker-options="dateOptions" close-text="Close" placeholder="{l}From{endl}" show-button-bar="false" ng-click="datePickOpen.from=true"
                                    ng-change="searchThing()">
                                <span class="glyphicon glyphicon-remove so-icon so-remove" ng-click="toggleSearchButtons('from',undefined)"></span>
                            </div>
                            <!-- /.input-date -->
                        </div>
                        <div class="col-sm-2 margin-top" ng-if="search.period_id=='4'">
                            <div class="so-field" ng-class="{ 'so-active':search.to!=undefined }">
                                <span class="glyphicon glyphicon-calendar so-icon" ng-click="datePickOpen.to=true"></span>
                                <input type="text" class="form-control" ng-model="search.to" uib-datepicker-popup="{{format}}" is-open="datePickOpen.to" datepicker-options="dateOptions" close-text="Close" placeholder="{l}To{endl}" show-button-bar="false" ng-click="datePickOpen.to=true"
                                    ng-change="searchThing()">
                                <span class="glyphicon glyphicon-remove so-icon so-remove" ng-click="toggleSearchButtons('to',undefined)"></span>
                            </div>
                            <!-- /.input-date -->
                        </div>
                        <div class="btn-group btn-group-calendar margin-top" role="group" ng-if="search.period_id<'4' && search.period_id != ''">
                            <button type="button" class="btn btn-square btn-plain" ng-click="navigate(-1)"><span class="glyphicon glyphicon-chevron-left"></span></button>
                            <span class="calendar-date">{{item.period_txt}}</span>
                            <button type="button" class="btn btn-square btn-plain" ng-click="navigate(+1)"><span class="glyphicon glyphicon-chevron-right"></span></button>
                        </div>
                        <div class="btn-group btn-inline btn-group-calendar margin-top" ng-show="search.period_id<'4' && search.period_id != ''">
                            <button class="btn btn-square btn-plain" ng-model="search.start_date" uib-datepicker-popup="{{format}}" is-open="datePickOpen.start_date" datepicker-options="dateOptions" close-text="Close" show-button-bar="false" ng-click="datePickOpen.start_date=true"
                                ng-change="navigate(+0)">
								<span class="glyphicon glyphicon-calendar"></span>
							</button>
                        </div>
                    </form>
                </div>
                <!-- /.page-search -->
                <div uib-alert ng-repeat="alert in alerts" type="{{alert.type}}" close="alerts.splice($index, 1);" ng-class="['alert-' + (alert.type || 'warning'), 'alert-fixed' ]" dismiss-on-timeout='5000'>{{alert.msg}}</div>
                <div class="row page-content">
                    <div class="col-sm-3">
                        <h2>{l}Articles{endl}: <b>{{item.TOTAL_ARTICLES}}</b></h2>
                        <h2>{l}Total Amount{endl}: <b><span ng-bind-html="item.BIG_TOTAL_A"></span></b></h2>
                        <h2>{l}Total customers{endl}: <b>{{item.BIG_QUANTITY_C}}</b></h2>
                        <h2>{l}Margin{endl}: <b><span ng-bind-html="item.BIG_MARGIN"></span></b> / <b>({{item.BIG_MARGIN_PERCENT}} %)</b></h2>
                    </div>
                    <div class="col-sm-3">
                        <h2 class="text-center">{l}Articles amount{endl}</h2>
                        <canvas class="chart chart-pie" chart-data="item.chart_amount.data" chart-labels="item.chart_amount.label" chart-options="chart_options"></canvas>
                    </div>
                    <div class="col-sm-3">
                        <h2 class="text-center">{l}Top 5 articles{endl}</h2>
                        <canvas class="chart chart-pie" chart-data="item.chart_article.data" chart-labels="item.chart_article.label" chart-options="chart_article"></canvas>
                    </div>
                    <div class="col-sm-3">
                        <h2 class="text-center">{l}Top 5 family{endl}</h2>
                        <canvas class="chart chart-pie" chart-data="item.chart_family.data" chart-labels="item.chart_family.label" chart-options="chart_family"></canvas>
                    </div>
                    <div class="col-sm-12">
                        <ul class="nav nav-tabs tabs-default" role="tablist" id="reportsNav">
                            <li class="active"><a href="#products" aria-controls="products" role="tab" data-toggle="tab" aria-expanded="true">{l}Articles{endl}</a></li>
                            <li class="" ng-click="get_more('customersTab')"><a href="#customers" aria-controls="customers" role="tab" data-toggle="tab" aria-expanded="false">{l}Customers{endl}</a></li>
                            <li class="" ng-click="get_more('familiesTab')"><a href="#categories" aria-controls="categories" role="tab" data-toggle="tab" aria-expanded="false">{l}Families{endl}</a></li>
                            <li class="" ng-if="item.supplier_db" ng-click="get_more('suppliersTab')"><a href="#suppliers" aria-controls="suppliers" role="tab" data-toggle="tab" aria-expanded="false">{l}Suppliers{endl}</a></li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane fade in active" id="products">
                                <div class="section-content">
                                    <!-- <div uib-alert type="notice" class="alert-warning" ng-if="!item.article_tab.article_row.length">{l}No data to display{endl}</div> -->
                                    <table class="table active_rows orderTable products" ng-if="item.article_tab.article_row.length">
                                        <thead>
                                            <tr>
                                                <th class="expand_row" ng-class="{ 'col-sm-2':item.article_tab.is_c_id, 'col-sm-3':item.article_tab.not_c_id }">{l}Article{endl}</th>
                                                <th class="col-sm-2">{l}Supplier{endl}</th>
                                                <th class="col-sm-2">{l}Family{endl}</th>
                                                <th class="col-sm-1 text-center" ng-if="item.article_tab.not_c_id">{l}Customers{endl}</th>
                                                <th class="col-sm-1 text-center" ng-if="item.article_tab.is_c_id">{l}Delivered{endl}</th>
                                                <th class="col-sm-1 text-center" ng-if="item.article_tab.is_c_id">{l}Not Delivered{endl}</th>
                                                <th class="col-sm-1 text-center">{l}Quantity{endl}</th>
                                                <th class="col-sm-2 text-center">{l}Margin{endl}</th>
                                                <th class="col-sm-1 text-center sortable_row" ng-class="{ 'sortable_row-up':(!reverse && ord == 'amount') , 'sortable_row-down':(reverse && ord == 'amount') }" ng-click="orderBY('amount','')">{l}Total Value{endl}</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="art in item.article_tab.article_row" class="collapseTr">
                                                <td class="expand_row text-muted">
                                                    <span class="glyphicon glyphicon-plus btn-expand" ng-click="listMore($index)"></span>
                                                    <span class="glyphicon glyphicon-minus btn-expand hidden" ng-click="listLess($index)"></span>
                                                    <span class="text-ellipsis">{{art.ARTICLE_N}}</span>
                                                </td>
                                                <td class="text-muted"><span>{{art.SUPPLIER}}</span></td>
                                                <td class="text-muted"><span>{{art.FAMILY}}</span></td>
                                                <td class="text-muted text-center" ng-if="item.article_tab.not_c_id"><span>{{art.CUSTOMERS}}</span></td>
                                                <td class="text-muted text-center" ng-if="item.article_tab.is_c_id"><span>{{art.DELIVERED_A}}</span></td>
                                                <td class="text-muted text-center" ng-if="item.article_tab.is_c_id"><span>{{art.NDELIVERED_A}}</span></td>
                                                <td class="text-muted text-center"><span>{{art.TOTAL_QUANTITY}}</span></td>
                                                <td class="text-muted text-center">
                                                    <span ng-bind-html="art.TOTAL_MARGIN"></span> (<span>{{art.TOTAL_MARGIN_PERCENT}}</span> %)
                                                </td>
                                                <td class="text-muted text-center"><span ng-bind-html="art.TOTAL_CLIENT"></span></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <ul ng-if="item.article_tab.max_rows > 30" uib-pagination total-items="item.article_tab.max_rows" ng-model="search.offset_article" ng-change="searchThing()" max-size="5" class="pager" boundary-links="true" items-per-page="item.article_tab.lr"></ul>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="customers">
                                <!-- <div uib-alert type="notice" class="alert-warning" ng-if="!item.customer_tab.other_row.length">{l}No data to display{endl}</div> -->
                                <div class="section-content">
                                    <table class="table active_rows orderTable customers" ng-if="item.customer_tab.other_row.length">
                                        <thead>
                                            <tr>
                                                <th class="col-sm-6 expand_row">{l}Customer{endl}</th>
                                                <th class="col-sm-2">{l}Articles{endl}</th>
                                                <th class="col-sm-2 text-center">{l}Margin{endl}</th>
                                                <th class="col-sm-2 text-center sortable_row" ng-class="{ 'sortable_row-up':(!reverse && ord == 'amount') , 'sortable_row-down':(reverse && ord == 'amount') }" ng-click="orderBY('amount','customersTab')">{l}Total Value{endl}</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="art in item.customer_tab.other_row" class="collapseTr">
                                                <td class="expand_row text-muted">
                                                    <span class="glyphicon glyphicon-plus btn-expand" ng-click="listMoreCustomer($index)"></span>
                                                    <span class="glyphicon glyphicon-minus btn-expand hidden" ng-click="listLessCustomer($index)"></span>
                                                    <a href="#" ng-click="toggleSearchButtons('customer_id',art.cust_id)"><span class="text-ellipsis">{{art.CUSTOMER_N}}</span></a>
                                                </td>
                                                <td class="text-muted"><span>{{art.ARTICLES}}</span></td>
                                                <td class="text-muted text-center">
                                                    <span ng-bind-html="art.TOTAL_MARGIN"></span> (<span>{{art.TOTAL_MARGIN_PERCENT}}</span> %)
                                                </td>
                                                <td class="text-muted text-center"><span ng-bind-html="art.TOTAL_CLIENT"></span></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <ul ng-if="item.customer_tab.max_rows > 30" uib-pagination total-items="item.customer_tab.max_rows" ng-model="search.offset_customer" ng-change="get_more('customersTab')" max-size="5" class="pager" boundary-links="true" items-per-page="item.customer_tab.lr"></ul>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="categories">
                                <!-- <div uib-alert type="notice" class="alert-warning" ng-if="!item.family_tab.other_row.length">{l}No data to display{endl}</div> -->
                                <div class="section-content">
                                    <table class="table active_rows orderTable customers" ng-if="item.family_tab.other_row.length">
                                        <thead>
                                            <tr>
                                                <th class="col-sm-8">{l}Family{endl}</th>
                                                <th class="col-sm-2 text-center">{l}Margin{endl}</th>
                                                <th class="col-sm-2 text-center sortable_row" ng-class="{ 'sortable_row-up':(!reverse && ord == 'amount') , 'sortable_row-down':(reverse && ord == 'amount') }" ng-click="orderBY('amount','familiesTab')">{l}Total Value{endl}</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="art in item.family_tab.other_row" class="collapseTr">
                                                <td class="text-muted"><span>{{art.FAM_NAME}}</span></td>
                                                <td class="text-muted text-center">
                                                    <span ng-bind-html="art.TOTAL_MARGIN"></span> (<span>{{art.TOTAL_MARGIN_PERCENT}}</span> %)
                                                </td>
                                                <td class="text-muted text-center"><span ng-bind-html="art.FAM_VAL"></span></td>
                                            </tr>
                                            <tr>
                                                <td colspan="2">{l}Total{endl}</td>
                                                <td class="text-center"><span ng-bind-html="item.family_tab.BIG_TOTAL"></span></td>
                                            </tr>
                                        </tbody>
                                        <tfoot>
                                    </table>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="suppliers">
                                <!-- <div uib-alert type="notice" class="alert-warning" ng-if="!item.supply_tab.other_row.length">{l}No data to display{endl}</div> -->
                                <div class="section-content">
                                    <table class="table active_rows orderTable customers" ng-if="item.supply_tab.other_row.length">
                                        <thead>
                                            <tr>
                                                <th class="col-sm-6">{l}Supplier{endl}</th>
                                                <th class="col-sm-2">{l}Articles{endl}</th>
                                                <th class="col-sm-2 text-center">{l}Margin{endl}</th>
                                                <th class="col-sm-2 text-center sortable_row" ng-class="{ 'sortable_row-up':(!reverse && ord == 'amount') , 'sortable_row-down':(reverse && ord == 'amount') }" ng-click="orderBY('amount', 'suppliersTab')">{l}Total Value{endl}</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="art in item.supply_tab.other_row" class="collapseTr">
                                                <td class="text-muted"><span>{{art.SUPPLIER_NAME}}</span>
                                                </td>
                                                <td class="text-muted"><span>{{art.NUMBER_ARTICLES}}</span></td>
                                                <td class="text-muted text-center">
                                                    <span ng-bind-html="art.TOTAL_MARGIN"></span> (<span>{{art.TOTAL_MARGIN_PERCENT}}</span> %)
                                                </td>
                                                <td class="text-muted text-center"><span ng-bind-html="art.SUPPLIER_VAL"></span></td>
                                            </tr>
                                            <tr>
                                                <td colspan="3">{l}Total{endl}</td>
                                                <td class="text-center"><span ng-bind-html="item.supply_tab.BIG_TOTAL"></span></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>