<div class="container">
    <div class="tabs-navigation">
        <div class="tab-content">
            <div class="row page-search page-search-options">
                <form>
                    <div class="col-sm-12">
                        <div class="row">
                            <div ng-class="{ 'col-sm-4':!item.is_bunit, 'col-sm-3':item.is_bunit }">
<!--                                <div class="btn-group btn-block">-->
<!--                                    <selectize config='periodCfg' options='periods' ng-model="search.period_id"></selectize>-->
<!--                                </div>-->
                                <div class="so-field" ng-class="{ 'so-active':search.period_id }">
                                    <selectize config='periodCfg' options='periods' ng-model="search.period_id"></selectize>
                                    <span class="glyphicon glyphicon-remove so-icon so-remove" ng-click="toggleSearchButtons('period_id', '')"></span>
                                </div>
                            </div>
                            <div ng-class="{ 'col-sm-4':!item.is_bunit, 'col-sm-3':item.is_bunit }">
                                <div class="btn-group btn-block" ng-class="{ 'so-active':search.user_id!=undefined }">
                                    <selectize config='userCfg' options='item.users.list' ng-model="search.user_id" id="user_list"></selectize>
                                    <span class="glyphicon glyphicon-remove so-remove" ng-click="searchThing('user_id')"></span>
                                </div>
                            </div>
                            <div ng-class="{ 'col-sm-4':!item.is_bunit, 'col-sm-3':item.is_bunit }">
                                <div class="btn-group btn-block" ng-class="{ 'so-active':search.customer_id!=undefined }">
                                    <selectize config='customerCfg' options='item.customers.list' ng-model="search.customer_id" id="customer_list"></selectize>
                                    <span class="glyphicon glyphicon-remove so-remove" ng-click="searchThing('customer_id')"></span>
                                </div>
                            </div>
                            <div class="col-sm-3" ng-show="item.is_bunit">
                                <div class="btn-group btn-block" ng-class="{ 'so-active':search.bunit_id!=undefined }">
                                    <selectize config='bunitCfg' options='item.bunits.list' ng-model="search.bunit_id" id="family_list"></selectize>
                                    <span class="glyphicon glyphicon-remove so-remove" ng-click="searchThing('bunit_id')"></span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="page-search-button">
                        <div class="btn-group" uib-dropdown>
                            <button type="button" class="btn btn-tertiary dropdown-toggle" uib-dropdown-toggle>
                      <span class="caret"></span>
                    </button>
                            <ul class="dropdown-menu dropdown-menu-right" uib-dropdown-menu>
                                <li><a href="#" ng-click="detailed()"><span class="glyphicon glyphicon-share text-primary"></span> {l}Detailed Report{endl}</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-2 margin-top" ng-if="search.period_id=='4'">
                        <div class="so-field" ng-class="{ 'so-active':search.from!=undefined }">
                            <span class="glyphicon glyphicon-calendar so-icon" ng-click="datePickOpen.from=true"></span>
                            <input type="text" class="form-control" ng-model="search.from" uib-datepicker-popup="{{format}}" is-open="datePickOpen.from" datepicker-options="dateOptions" close-text="Close" placeholder="{l}From{endl}" show-button-bar="false" ng-click="datePickOpen.from=true"
                                ng-change="searchThing()">
                            <span class="glyphicon glyphicon-remove so-icon so-remove" ng-click="toggleSearchButtons('from',undefined)"></span>
                        </div>
                        <!-- /.input-date -->
                    </div>
                    <div class="col-sm-2 margin-top" ng-if="search.period_id=='4'">
                        <div class="so-field" ng-class="{ 'so-active':search.to!=undefined }">
                            <span class="glyphicon glyphicon-calendar so-icon" ng-click="datePickOpen.to=true"></span>
                            <input type="text" class="form-control" ng-model="search.to" uib-datepicker-popup="{{format}}" is-open="datePickOpen.to" datepicker-options="dateOptions" close-text="Close" placeholder="{l}To{endl}" show-button-bar="false" ng-click="datePickOpen.to=true"
                                ng-change="searchThing()">
                            <span class="glyphicon glyphicon-remove so-icon so-remove" ng-click="toggleSearchButtons('to',undefined)"></span>
                        </div>
                        <!-- /.input-date -->
                    </div>
                    <div class="btn-group btn-group-calendar margin-top" role="group" ng-if="search.period_id<'4' && search.period_id != ''">
                        <button type="button" class="btn btn-square btn-plain" ng-click="navigate(-1)"><span class="glyphicon glyphicon-chevron-left"></span></button>
                        <span class="calendar-date">{{item.period_txt}}</span>
                        <button type="button" class="btn btn-square btn-plain" ng-click="navigate(+1)"><span class="glyphicon glyphicon-chevron-right"></span></button>
                    </div>
                    <div class="btn-group btn-inline btn-group-calendar margin-top" ng-show="search.period_id<'4' && search.period_id != ''">
                        <button class="btn btn-square btn-plain" ng-model="search.start_date" uib-datepicker-popup="{{format}}" is-open="datePickOpen.start_date" datepicker-options="dateOptions" close-text="Close" show-button-bar="false" ng-click="datePickOpen.start_date=true"
                            ng-change="navigate(+0)">
					<span class="glyphicon glyphicon-calendar"></span>
				</button>
                    </div>
                    <div class="col-sm-4 margin-top pull-right form-horizontal">
                        <div class="form-group">
                            <label class="control-label text-left col-sm-5">{l}Show Internal{endl}</label>
                            <div class="col-sm-7">
                                <toggle-switch ng-model="search.internal" class="switch-primary" off-label="{l}No{endl}" on-label="{l}Yes{endl}" ng-change="searchThing()"></toggle-switch>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12" ng-show="search.project_id || search.task_id">
                        <div class="row">
                            <div class="col-sm-4" ng-show="search.project_id">
                                <div class="btn-group btn-block so-active">
                                    <label class="control-label text-left col-sm-1">
								<span class="glyphicon glyphicon-remove so-remove" ng-click="searchThing('project_id')"></span>	
							</label>
                                    <h4 class="col-sm-10 text-primary"><b>{l}Project{endl}-{{search.project_name}}</b></h4>
                                </div>
                            </div>
                            <div class="col-sm-4" ng-show="search.task_id">
                                <div class="btn-group btn-block so-active">
                                    <label class="control-label text-left col-sm-1">
								<span class="glyphicon glyphicon-remove so-remove" ng-click="searchThing('task_id')"></span>	
							</label>
                                    <h4 class="col-sm-10 text-primary"><b>{l}Task{endl}-{{search.task_name}}</b></h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <!-- /.page-search -->
            <div uib-alert ng-repeat="alert in alerts" type="{{alert.type}}" close="alerts.splice($index, 1);" ng-class="['alert-' + (alert.type || 'warning'), 'alert-fixed' ]" dismiss-on-timeout='5000'>{{alert.msg}}</div>
            <div class="row page-content">
                <div class="col-sm-3">
                    <h2>{l}Billable Amount{endl}</h2>
                    <h2><b><span ng-bind-html="item.BILLABLE_A"></span></b></h2>
                    <h2>{l}Uninvoice Amount{endl}</h2>
                    <h2><b><span ng-bind-html="item.UNINVOICE_A"></span></b></h2>
                </div>
                <div class="col-sm-3">
                    <h2 class="text-center">{l}Hours{endl} {{item.HOURS_TRACKED}}</h2>
                    <canvas class="chart chart-pie" chart-data="item.chart_hours.data" chart-labels="item.chart_hours.label" chart-options="chart_options"></canvas>
                </div>
                <div class="col-sm-3">
                    <h2 class="text-center">{l}Users{endl}</h2>
                    <canvas class="chart chart-pie" chart-data="item.chart_user.data" chart-labels="item.chart_user.label" chart-options="chart_user"></canvas>
                </div>
                <div class="col-sm-3">
                    <h2 class="text-center">{l}Customers{endl}</h2>
                    <canvas class="chart chart-pie" chart-data="item.chart_customer.data" chart-labels="item.chart_customer.label" chart-options="chart_customer"></canvas>
                </div>
                <div class="col-sm-12">
                    <ul class="nav nav-tabs tabs-default" role="tablist" id="reportsNav">
                        <li class="" ng-click="get_more('bunitsTab')" ng-if="item.is_bunit && !search.customer_id && !search.task_id"><a href="#bunits" aria-controls="bunits" role="tab" data-toggle="tab" aria-expanded="false">{l}Business Units{endl}</a></li>
                        <li class="" ng-click="get_more('customersTab')" ng-if="!search.customer_id && !search.task_id"><a href="#customers" aria-controls="customers" role="tab" data-toggle="tab" aria-expanded="false">{l}Clients{endl}</a></li>
                        <li class="" ng-click="get_more('projectsTab')"><a href="#projects" aria-controls="projects" role="tab" data-toggle="tab" aria-expanded="false">{l}Projects{endl}</a></li>
                        <li class="" ng-click="get_more('tasksTab')"><a href="#tasks" aria-controls="tasks" role="tab" data-toggle="tab" aria-expanded="false">{l}Tasks{endl}</a></li>
                        <li class="" ng-click="get_more('staffTab')"><a href="#staff" aria-controls="staff" role="tab" data-toggle="tab" aria-expanded="false">{l}Staff{endl}</a></li>
                        <li class="" ng-click="get_more('productsTab')"><a href="#products" aria-controls="products" role="tab" data-toggle="tab" aria-expanded="false">{l}Articles{endl}</a></li>
                        <li class="" ng-click="get_more('expensesTab')"><a href="#expenses" aria-controls="expenses" role="tab" data-toggle="tab" aria-expanded="false">{l}Expenses{endl}</a></li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane fade" ng-if="item.is_bunit && !search.customer_id && !search.task_id" id="bunits">
                            <div class="section-content">
                                <!-- <div uib-alert type="notice" class="alert-warning" ng-if="!item.bunit_tab.other_row.length && !item.bunit_tab.ONLY_XBUNIT">{l}No data to display{endl}</div> -->
                                <table class="table active_rows orderTable" ng-if="item.bunit_tab.other_row.length || item.bunit_tab.ONLY_XBUNIT">
                                    <thead>
                                        <tr>
                                            <th class="col-sm-2">{l}Name{endl}</th>
                                            <th class="col-sm-2">
                                                <p>{l}Hours{endl}/</p>
                                                <p>{l}Days{endl}</p>
                                            </th>
                                            <th class="col-sm-2">
                                                <p>{l}Internal Hours{endl}/</p>
                                                <p>{l}Internal Costs{endl}</p>
                                            </th>
                                            <th class="col-sm-2">
                                                <p>{l}Billable Hours{endl}/</p>
                                                <p>{l}Billable Days{endl}</p>
                                            </th>
                                            <th class="col-sm-2">
                                                <p>{l}Billable Purchases{endl}/</p>
                                                <p>{l}Billable Articles{endl}</p>
                                            </th>
                                            <th class="col-sm-2 sortable_row" ng-class="{ 'sortable_row-up':(!reverse && ord=='amount'), 'sortable_row-down':(reverse && ord=='amount') }" ng-click="orderBy('amount','bunitsTab')">{l}Billable Amount{endl}</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="art in item.bunit_tab.other_row">
                                            <td class="text-muted">
                                                <a href="#" ng-click="toggleSearchButtons('bunit_id',art.BUNIT_ID)"><span class="text-ellipsis">{{art.BUNIT}}</span></a>
                                            </td>
                                            <td class="text-muted">
                                                <p><a href="#" ng-click="detailed('bunit_id2',art.BUNIT_ID)"><span>{{art.TOTAL_HOUR}}</span></a></p>
                                                <p><a href="#" ng-click="detailed('bunit_id2',art.BUNIT_ID)"><span>{{art.TOTAL_DAY}}</span></a></p>
                                            </td>
                                            <td class="text-muted">
                                                <p><span>{{art.INTERNAL}}</span></p>
                                                <p><span ng-bind-html="art.INTERNAL_COST"></span></p>
                                            </td>
                                            <td class="text-muted">
                                                <p><span>{{art.BILLABLE_H2}}</span></p>
                                                <p><span>{{art.BILLABLE_H2_DAY}}</span></p>
                                            </td>
                                            <td class="text-muted">
                                                <p><span ng-bind-html="art.purchase_row"></span></p>
                                                <p><span ng-bind-html="art.article_amount"></span></p>
                                            </td>
                                            <td class="text-muted"><span ng-bind-html="art.BILLABLE_A"></span></td>
                                        </tr>
                                        <tr ng-if="item.bunit_tab.ONLY_XBUNIT">
                                            <td class="text-muted">
                                                <span class="text-ellipsis">-</span>
                                            </td>
                                            <td class="text-muted">
                                                <p><span>{{item.bunit_tab.TOTAL_HOUR_2}}</span></p>
                                                <p><span>{{item.bunit_tab.TOTAL_DAY_2}}</span></p>
                                            </td>
                                            <td class="text-muted">
                                                <p><span>{{item.bunit_tab.INTERNAL_2}}</span></p>
                                                <p><span ng-bind-html="item.bunit_tab.INTERNAL_COST_2"></span></p>
                                            </td>
                                            <td class="text-muted">
                                                <p><span>{{item.bunit_tab.BILLABLE_H2_2}}</span></p>
                                                <p><span>{{item.bunit_tab.BILLABLE_H2_DAY_2}}</span></p>
                                            </td>
                                            <td class="text-muted">
                                                <p><span ng-bind-html="item.bunit_tab.purchase_amount_2"></span></p>
                                                <p><span ng-bind-html="item.bunit_tab.article_amount_2"></span></p>
                                            </td>
                                            <td class="text-muted"><span ng-bind-html="item.bunit_tab.BILLABLE_A_2"></span></td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <span>{l}Total{endl}</span>
                                            </td>
                                            <td>
                                                <p><span>{{item.bunit_tab.TOTAL_HOURS}}</span></p>
                                                <p><span>{{item.bunit_tab.TOTAL_DAYS}}</span></p>
                                            </td>
                                            <td>
                                                <p><span>{{item.bunit_tab.INTERNAL_HOURS}}</span></p>
                                                <p><span ng-bind-html="item.bunit_tab.INTERNAL_COSTS_TOTAL"></span></p>
                                            </td>
                                            <td>
                                                <p><span>{{item.bunit_tab.TOTAL_BILLABLE_H2}}</span></p>
                                                <p><span>{{item.bunit_tab.TOTAL_BILLABLE_H2_DAYS}}</span></p>
                                            </td>
                                            <td>
                                                <p><span ng-bind-html="item.bunit_tab.total_purchase_amount"></span></p>
                                                <p><span ng-bind-html="item.bunit_tab.total_article_amount"></span></p>
                                            </td>
                                            <td><span ng-bind-html="item.bunit_tab.TOTAL_BILLABLE_A"></span></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="customers" ng-if="!search.customer_id && !search.task_id">
                            <!-- <div uib-alert type="notice" class="alert-warning" ng-if="!item.customer_tab.other_row.length">{l}No data to display{endl}</div> -->
                            <div class="section-content">
                                <table class="table active_rows orderTable" ng-if="item.customer_tab.other_row.length">
                                    <thead>
                                        <tr>
                                            <th class="col-sm-2">{l}Name{endl}</th>
                                            <th class="col-sm-2">
                                                <p>{l}Hours{endl}/</p>
                                                <p>{l}Days{endl}</p>
                                            </th>
                                            <th class="col-sm-2">
                                                <p>{l}Internal Hours{endl}/</p>
                                                <p>{l}Internal Costs{endl}</p>
                                            </th>
                                            <th class="col-sm-2">
                                                <p>{l}Billable Hours{endl}/</p>
                                                <p>{l}Billable Days{endl}</p>
                                            </th>
                                            <th class="col-sm-2">
                                                <p>{l}Billable Purchases{endl}/</p>
                                                <p>{l}Billable Articles{endl}</p>
                                            </th>
                                            <th class="col-sm-2 sortable_row" ng-class="{ 'sortable_row-up':(!reverse && ord=='amount'), 'sortable_row-down':(reverse && ord=='amount') }" ng-click="orderBy('amount','customersTab')">{l}Billable Amount{endl}</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="art in item.customer_tab.other_row">
                                            <td class="text-muted">
                                                <a href="#" ng-click="toggleSearchButtons('customer_id',art.CUSTOMER_ID)"><span class="text-ellipsis">{{art.CUSTOMER_N}}</span></a>
                                            </td>
                                            <td class="text-muted">
                                                <p><a href="#" ng-click="detailed('customer_id2',art.CUSTOMER_ID)"><span>{{art.TOTAL_HOUR}}</span></a></p>
                                                <p><a href="#" ng-click="detailed('customer_id2',art.CUSTOMER_ID)"><span>{{art.TOTAL_DAY}}</span></a></p>
                                            </td>
                                            <td class="text-muted">
                                                <p><span>{{art.INTERNAL}}</span></p>
                                                <p><span ng-bind-html="art.INTERNAL_COST"></span></p>
                                            </td>
                                            <td class="text-muted">
                                                <p><span>{{art.BILLABLE_H2}}</span></p>
                                                <p><span>{{art.BILLABLE_H2_DAY}}</span></p>
                                            </td>
                                            <td class="text-muted">
                                                <p><span ng-bind-html="art.purchase_row"></span></p>
                                                <p><span ng-bind-html="art.article_amount"></span></p>
                                            </td>
                                            <td class="text-muted"><span ng-bind-html="art.BILLABLE_A"></span></td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <span>{l}Total{endl}</span>
                                            </td>
                                            <td>
                                                <p><span>{{item.customer_tab.TOTAL_HOURS}}</span></p>
                                                <p><span>{{item.customer_tab.TOTAL_DAYS}}</span></p>
                                            </td>
                                            <td>
                                                <p><span>{{item.customer_tab.INTERNAL_HOURS}}</span></p>
                                                <p><span ng-bind-html="item.customer_tab.INTERNAL_COSTS_TOTAL"></span></p>
                                            </td>
                                            <td>
                                                <p><span>{{item.customer_tab.TOTAL_BILLABLE_H2}}</span></p>
                                                <p><span>{{item.customer_tab.TOTAL_BILLABLE_H2_DAYS}}</span></p>
                                            </td>
                                            <td>
                                                <p><span ng-bind-html="item.customer_tab.total_purchase_amount"></span></p>
                                                <p><span ng-bind-html="item.customer_tab.total_article_amount"></span></p>
                                            </td>
                                            <td><span ng-bind-html="item.customer_tab.TOTAL_BILLABLE_A"></span></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="projects">
                            <!-- <div uib-alert type="notice" class="alert-warning" ng-if="!item.project_tab.other_row.length">{l}No data to display{endl}</div> -->
                            <div class="section-content">
                                <table class="table active_rows orderTable" ng-if="item.project_tab.other_row.length">
                                    <thead>
                                        <tr>
                                            <th class="col-sm-2">{l}Project Name{endl}</th>
                                            <th class="col-sm-2">{l}Name{endl}</th>
                                            <th class="col-sm-1">
                                                <p>{l}Hours{endl}/</p>
                                                <p>{l}Days{endl}</p>
                                            </th>
                                            <th class="col-sm-2">
                                                <p>{l}Internal Hours{endl}/</p>
                                                <p>{l}Internal Costs{endl}</p>
                                            </th>
                                            <th class="col-sm-2">
                                                <p>{l}Billable Hours{endl}/</p>
                                                <p>{l}Billable Days{endl}</p>
                                            </th>
                                            <th class="col-sm-2">
                                                <p>{l}Billable Purchases{endl}/</p>
                                                <p>{l}Billable Articles{endl}</p>
                                            </th>
                                            <th class="col-sm-1 sortable_row" ng-class="{ 'sortable_row-up':(!reverse && ord=='amount'), 'sortable_row-down':(reverse && ord=='amount') }" ng-click="orderBy('amount','projectsTab')">{l}Billable Amount{endl}</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="art in item.project_tab.other_row">
                                            <td class="text-muted">
                                                <a href="#" ng-click="toggleSearchButtons('project_id',art.PROJECT_ID,art)"><span class="text-ellipsis">{{art.PROJECT_N}}</span></a>
                                            </td>
                                            <td class="text-muted">
                                                <a href="#" ng-click="toggleSearchButtons('customer_id',art.CUSTOMER_ID)"><span class="text-ellipsis">{{art.CUSTOMER_N}}</span></a>
                                            </td>
                                            <td class="text-muted">
                                                <p><a href="#" ng-click="detailed('project_id2',art.PROJECT_ID,art)"><span>{{art.TOTAL_HOUR}}</span></a></p>
                                                <p><a href="#" ng-click="detailed('project_id2',art.PROJECT_ID,art)"><span>{{art.TOTAL_DAY}}</span></a></p>
                                            </td>
                                            <td class="text-muted">
                                                <p><span>{{art.INTERNAL}}</span></p>
                                                <p><span ng-bind-html="art.INTERNAL_COST"></span></p>
                                            </td>
                                            <td class="text-muted">
                                                <p><span>{{art.BILLABLE_H2}}</span></p>
                                                <p><span>{{art.BILLABLE_H2_DAY}}</span></p>
                                            </td>
                                            <td class="text-muted">
                                                <p><span ng-bind-html="art.purchase_row"></span></p>
                                                <p><span ng-bind-html="art.article_amount"></span></p>
                                            </td>
                                            <td class="text-muted"><span ng-bind-html="art.BILLABLE_A"></span></td>
                                        </tr>
                                        <tr>
                                            <td colspan="2">
                                                <span>{l}Total{endl}</span>
                                            </td>
                                            <td>
                                                <p><span>{{item.project_tab.TOTAL_HOURS}}</span></p>
                                                <p><span>{{item.project_tab.TOTAL_DAYS}}</span></p>
                                            </td>
                                            <td>
                                                <p><span>{{item.project_tab.INTERNAL_HOURS}}</span></p>
                                                <p><span ng-bind-html="item.project_tab.INTERNAL_COSTS_TOTAL"></span></p>
                                            </td>
                                            <td>
                                                <p><span>{{item.project_tab.TOTAL_BILLABLE_H2}}</span></p>
                                                <p><span>{{item.project_tab.TOTAL_BILLABLE_H2_DAYS}}</span></p>
                                            </td>
                                            <td>
                                                <p><span ng-bind-html="item.project_tab.total_purchase_amount"></span></p>
                                                <p><span ng-bind-html="item.project_tab.total_article_amount"></span></p>
                                            </td>
                                            <td><span ng-bind-html="item.project_tab.TOTAL_BILLABLE_A"></span></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="tasks">
                            <!-- <div uib-alert type="notice" class="alert-warning" ng-if="!item.task_tab.other_row.length">{l}No data to display{endl}</div> -->
                            <div class="section-content">
                                <div class="col-sm-8 col-sm-offset-2" ng-if="item.task_tab.progress_row.length">
                                    <uib-progress>
                                        <uib-bar ng-repeat="bar in item.task_tab.progress_row" value="bar.value" type="{{bar.type}}" uib-tooltip="{{bar.task_name}} {{bar.value}}%" tooltip-placement="top"></uib-bar>
                                    </uib-progress>
                                </div>
                                <table class="table active_rows orderTable tasks" ng-if="item.task_tab.other_row.length">
                                    <thead>
                                        <tr>
                                            <th class="col-sm-2" ng-class="{ 'expand_row':item.task_tab.HIDE }">{l}Name{endl}</th>
                                            <th class="col-sm-2">{l}Project Name{endl}</th>
                                            <th class="col-sm-2">
                                                <p>{l}Hours{endl}/</p>
                                                <p>{l}Days{endl}</p>
                                            </th>
                                            <th class="col-sm-2">
                                                <p>{l}Internal Hours{endl}/</p>
                                                <p>{l}Internal Costs{endl}</p>
                                            </th>
                                            <th class="col-sm-2">
                                                <p>{l}Billable Hours{endl}/</p>
                                                <p>{l}Billable Days{endl}</p>
                                            </th>
                                            </th>
                                            <th class="col-sm-2 sortable_row" ng-class="{ 'sortable_row-up':(!reverse && ord=='amount'), 'sortable_row-down':(reverse && ord=='amount') }" ng-click="orderBy('amount','tasksTab')">{l}Billable Amount{endl}</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="art in item.task_tab.other_row" class="collapseTr">
                                            <td class="text-muted" ng-class="{ 'expand_row':item.task_tab.HIDE }">
                                                <span class="glyphicon glyphicon-plus btn-expand" ng-if="item.task_tab.HIDE" ng-click="listMore($index,'task_tab','tasks')"></span>
                                                <span class="glyphicon glyphicon-minus btn-expand hidden" ng-if="item.task_tab.HIDE" ng-click="listLess($index,'tasks')"></span>
                                                <span>               
                  							<span class="item-status item-status-gray {{art.status}}"></span>
                                                <span class="text-primary link_pointer" ng-click="toggleSearchButtons('task_id',art.TASK_ID,art)">{{art.TASK_N}}</span>
                                                </span>
                                            </td>
                                            <td class="text-muted">
                                                <a href="#" ng-click="toggleSearchButtons('project_id',art.PROJECT_ID,art)"><span class="text-ellipsis">{{art.PROJECT_N}}</span></a>
                                            </td>
                                            <td class="text-muted">
                                                <p><a href="#" ng-click="detailed('task_id2',art.TASK_ID,art)"><span>{{art.TOTAL_HOUR}}</span></a></p>
                                                <p><a href="#" ng-click="detailed('task_id2',art.TASK_ID,art)"><span>{{art.TOTAL_DAY}}</span></a></p>
                                            </td>
                                            <td class="text-muted">
                                                <p><span>{{art.INTERNAL}}</span></p>
                                                <p><span ng-bind-html="art.INTERNAL_COST"></span></p>
                                            </td>
                                            <td class="text-muted">
                                                <p><span>{{art.BILLABLE_H2}}</span></p>
                                                <p><span>{{art.BILLABLE_H2_DAY}}</span></p>
                                            </td>
                                            <td class="text-muted"><span ng-bind-html="art.BILLABLE_A"></span></td>
                                        </tr>
                                        <tr>
                                            <td colspan="2">
                                                <span>{l}Total{endl}</span>
                                            </td>
                                            <td>
                                                <p><span>{{item.task_tab.TOTAL_HOURS}}</span></p>
                                                <p><span>{{item.task_tab.TOTAL_DAYS}}</span></p>
                                            </td>
                                            <td>
                                                <p><span>{{item.task_tab.INTERNAL_HOURS}}</span></p>
                                                <p><span ng-bind-html="item.task_tab.INTERNAL_COSTS_TOTAL"></span></p>
                                            </td>
                                            <td>
                                                <p><span>{{item.task_tab.TOTAL_BILLABLE_H2}}</span></p>
                                                <p><span>{{item.task_tab.TOTAL_BILLABLE_H2_DAYS}}</span></p>
                                            </td>
                                            <td><span ng-bind-html="item.task_tab.TOTAL_BILLABLE_A"></span></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="staff">
                            <!-- <div uib-alert type="notice" class="alert-warning" ng-if="!item.staff_tab.other_row.length">{l}No data to display{endl}</div> -->
                            <div class="section-content">
                                <table class="table active_rows orderTable staff" ng-if="item.staff_tab.other_row.length">
                                    <thead>
                                        <tr>
                                            <th class="col-sm-4" ng-class="{ 'expand_row':item.staff_tab.HIDE }">{l}Name{endl}</th>
                                            <th class="col-sm-1">{l}Expenses{endl}</th>
                                            <th class="col-sm-1">
                                                <p>{l}Hours{endl}/</p>
                                                <p>{l}Days{endl}</p>
                                            </th>
                                            <th class="col-sm-2">
                                                <p>{l}Internal Hours{endl}/</p>
                                                <p>{l}Internal Costs{endl}</p>
                                            </th>
                                            <th class="col-sm-2">
                                                <p>{l}Billable Hours{endl}/</p>
                                                <p>{l}Billable Days{endl}</p>
                                            </th>
                                            </th>
                                            <th class="col-sm-2 sortable_row" ng-class="{ 'sortable_row-up':(!reverse && ord=='amount'), 'sortable_row-down':(reverse && ord=='amount') }" ng-click="orderBy('amount','staffTab')">{l}Billable Amount{endl}</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="art in item.staff_tab.other_row" class="collapseTr">
                                            <td class="text-muted" ng-class="{ 'expand_row':item.staff_tab.HIDE }">
                                                <span class="glyphicon glyphicon-plus btn-expand" ng-if="item.staff_tab.HIDE" ng-click="listMore($index,'staff_tab','staff')"></span>
                                                <span class="glyphicon glyphicon-minus btn-expand hidden" ng-if="item.staff_tab.HIDE" ng-click="listLess($index,'staff')"></span>
                                                <span class="text-primary link_pointer" ng-click="toggleSearchButtons('user_id',art.USER_ID)">{{art.CUSTOMER_N}}</span>
                                            </td>
                                            <td class="text-muted">
                                                <span ng-bind-html="art.EXPENSES_AMOUNT"></span>
                                            </td>
                                            <td class="text-muted">
                                                <p><a href="#" ng-click="detailed('user_id2',art.USER_ID)"><span>{{art.TOTAL_HOUR}}</span></a></p>
                                                <p><a href="#" ng-click="detailed('user_id2',art.USER_ID)"><span>{{art.TOTAL_DAY}}</span></a></p>
                                            </td>
                                            <td class="text-muted">
                                                <p><span>{{art.INTERNAL}}</span></p>
                                                <p><span ng-bind-html="art.INTERNAL_COST"></span></p>
                                            </td>
                                            <td class="text-muted">
                                                <p><span>{{art.BILLABLE_H2}}</span></p>
                                                <p><span>{{art.BILLABLE_H2_DAY}}</span></p>
                                            </td>
                                            <td class="text-muted"><span ng-bind-html="art.BILLABLE_A"></span></td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <span>{l}Total{endl}</span>
                                            </td>
                                            <td>
                                                <span ng-bind-html="item.staff_tab.TOTAL_EXPENSES"></span>
                                            </td>
                                            <td>
                                                <p><span>{{item.staff_tab.TOTAL_HOURS}}</span></p>
                                                <p><span>{{item.staff_tab.TOTAL_DAYS}}</span></p>
                                            </td>
                                            <td>
                                                <p><span>{{item.staff_tab.INTERNAL_HOURS}}</span></p>
                                                <p><span ng-bind-html="item.staff_tab.INTERNAL_COSTS_TOTAL"></span></p>
                                            </td>
                                            <td>
                                                <p><span>{{item.staff_tab.TOTAL_BILLABLE_H2}}</span></p>
                                                <p><span>{{item.staff_tab.TOTAL_BILLABLE_H2_DAYS}}</span></p>
                                            </td>
                                            <td><span ng-bind-html="item.staff_tab.TOTAL_BILLABLE_A"></span></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="products">
                            <!-- <div uib-alert type="notice" class="alert-warning" ng-if="!item.article_tab.other_row.length">{l}No data to display{endl}</div> -->
                            <div class="section-content">
                                <table class="table active_rows orderTable" ng-if="item.article_tab.other_row.length">
                                    <thead>
                                        <tr>
                                            <th class="col-sm-8">{l}Name{endl}</th>
                                            <th class="col-sm-2">{l}Quantity{endl}</th>
                                            <th class="col-sm-2 sortable_row" ng-class="{ 'sortable_row-up':(!reverse && ord=='amount'), 'sortable_row-down':(reverse && ord=='amount') }" ng-click="orderBy('amount','productsTab')">{l}Billable Amount{endl}</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="art in item.article_tab.other_row">
                                            <td class="text-muted">
                                                <span>{{art.name}}</span>
                                            </td>
                                            <td class="text-muted">
                                                <span>{{art.art_quantity}}</span>
                                            </td>
                                            <td class="text-muted"><span ng-bind-html="art.art_bill_amount"></span></td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <span>{l}Total{endl}</span>
                                            </td>
                                            <td>
                                                <span>{{item.article_tab.TOTAL_QUANTITY}}</span>
                                            </td>
                                            <td><span ng-bind-html="item.article_tab.TOTAL_BILL_ART"></span></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="expenses">
                            <!-- <div uib-alert type="notice" class="alert-warning" ng-if="!item.expense_tab.other_row.length">{l}No data to display{endl}</div> -->
                            <div class="section-content">
                                <table class="table active_rows orderTable expense" ng-if="item.expense_tab.other_row.length">
                                    <thead>
                                        <tr>
                                            <th class="col-sm-4 expand_row">{l}Name{endl}</th>
                                            <th class="col-sm-4">{l}Project Name{endl}</th>
                                            <th class="col-sm-2">{l}Amount internal{endl}</th>
                                            <th class="col-sm-2 sortable_row" ng-class="{ 'sortable_row-up':(!reverse && ord=='amount'), 'sortable_row-down':(reverse && ord=='amount') }" ng-click="orderBy('amount','expensesTab')">{l}Amount total{endl}</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="art in item.expense_tab.other_row" class="collapseTr">
                                            <td class="text-muted expand_row">
                                                <span class="glyphicon glyphicon-plus btn-expand" ng-click="listMoreExp($index)"></span>
                                                <span class="glyphicon glyphicon-minus btn-expand hidden" ng-click="listLessExp($index)"></span>
                                                <span>{{art.TASK_N}}</span>
                                            </td>
                                            <td class="text-muted">
                                                <a href="#" ng-click="toggleSearchButtons('project_id',art.PROJECT_ID,art)"><span class="text-ellipsis">{{art.PROJECT_N}}</span></a>
                                            </td>
                                            <td class="text-muted">
                                                <span ng-bind-html="art.INTERNAL"></span>
                                            </td>
                                            <td class="text-muted"><span ng-bind-html="art.BILLABLE_A"></span></td>
                                        </tr>
                                        <tr>
                                            <td colspan="2">
                                                <span>{l}Total{endl}</span>
                                            </td>
                                            <td>
                                                <span ng-bind-html="item.expense_tab.TOTAL_INTERNAL"></span>
                                            </td>
                                            <td><span ng-bind-html="item.expense_tab.TOTAL_BILLABLE_A"></span></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>