<div class="container">
	<div class="page-header">
    	<div class="row">
        	<div class="col-sm-12">
              	<h1>{l}Detailed Time Report{endl}</h1>
            </div>
        </div>
  	</div><!-- /.page-header -->
  	<div class="row page-content">
  		<div class="col-sm-12">
  			<p><a ng-click="toReports()"><span>{l}Back to reports{endl}</span></a></p>
  			<span>{l}Timeframe{endl} <b>{{item.period_txt}}</b></span>
  		</div>
  		<div class="col-sm-12">
  			<div class="row form-horizontal">
  				<div class="col-sm-6">
  					<div class="row">
  						<div class="col-sm-6">
  							<div class="form-group">
		  						<label class="control-label col-sm-3 text-left"><b>{{item.TOTAL_HOURS}}</b></label>
		  						<label class="control-label col-sm-9 text-left">{l}Hours{endl}</label>
		  					</div>
		  					<div class="form-group">
		  						<label class="control-label col-sm-3 text-left"><b>{{item.TOTAL_HOURS_I}}</b></label>
		  						<label class="control-label col-sm-9 text-left">{l}Invoiced Hours{endl}</label>
		  					</div>
		  					<div class="form-group">
		  						<label class="control-label col-sm-3 text-left"><b>{{item.TOTAL_HOURS_B}}</b></label>
		  						<label class="control-label col-sm-9 text-left">{l}Billable Hours{endl}</label>
		  					</div>
		  					<div class="form-group">
		  						<label class="control-label col-sm-3 text-left"><b>{{item.TOTAL_HOURS_UB}}</b></label>
		  						<label class="control-label col-sm-9 text-left">{l}Unbillable Hours{endl}</label>
		  					</div>
		  					<div class="form-group">
		  						<label class="control-label col-sm-3 text-left"><b>{{item.TOTAL_HOURS_INT}}</b></label>
		  						<label class="control-label col-sm-9 text-left">{l}Internal Hours{endl}</label>
		  					</div>
  						</div>
  						<div class="col-sm-6">
  							<div class="form-group">
		  						<label class="control-label col-sm-3 text-left"><b>{{item.TOTAL_DAYS}}</b></label>
		  						<label class="control-label col-sm-9 text-left">{l}Days{endl}</label>
		  					</div>
		  					<div class="form-group">
		  						<label class="control-label col-sm-3 text-left"><b>{{item.TOTAL_DAYS_I}}</b></label>
		  						<label class="control-label col-sm-9 text-left">{l}Invoiced Days{endl}</label>
		  					</div>
		  					<div class="form-group">
		  						<label class="control-label col-sm-3 text-left"><b>{{item.TOTAL_DAYS_B}}</b></label>
		  						<label class="control-label col-sm-9 text-left">{l}Billable Days{endl}</label>
		  					</div>
		  					<div class="form-group">
		  						<label class="control-label col-sm-3 text-left"><b>{{item.TOTAL_DAYS_UB}}</b></label>
		  						<label class="control-label col-sm-9 text-left">{l}Unbillable Days{endl}</label>
		  					</div>
		  					<div class="form-group">
		  						<label class="control-label col-sm-3 text-left"><b>{{item.TOTAL_DAYS_INT}}</b></label>
		  						<label class="control-label col-sm-9 text-left">{l}Internal Days{endl}</label>
		  					</div>
  						</div>
  					</div>
  				</div>
  				<div class="col-sm-6">
  					<div class="form-group">
  						<label class="control-label col-sm-5 text-left">{l}Client{endl}</label>
  						<label class="control-label col-sm-7 text-left"><b>{{item.CUSTOMER}}</b></label>
  					</div>
  					<div class="form-group">
  						<label class="control-label col-sm-5 text-left">{l}Project{endl}</label>
  						<label class="control-label col-sm-7 text-left"><b>{{item.PROJECTS}}</b></label>
  					</div>
  					<div class="form-group">
  						<label class="control-label col-sm-5 text-left">{l}Task{endl}</label>
  						<label class="control-label col-sm-7 text-left"><b>{{item.TASKS}}</b></label>
  					</div>
  					<div class="form-group">
  						<label class="control-label col-sm-5 text-left">{l}Staff{endl}</label>
  						<label class="control-label col-sm-7 text-left"><b>{{item.STAFFS}}</b></label>
  					</div>
  					<div class="form-group">
  						<label class="control-label col-sm-5 text-left">{l}Business Units{endl}</label>
  						<label class="control-label col-sm-7 text-left"><b>{{item.BUNITS}}</b></label>
  					</div>
  				</div>
  			</div>
  			<table class="table active_rows orderTable">
			    <thead>
				      <tr>
				        	<th class="col-sm-2">{l}Client{endl}</th>
				        	<th class="col-sm-2">{l}Project{endl}</th>
				        	<th class="col-sm-2">{l}Task{endl}</th>
				        	<th class="col-sm-2">{l}Person{endl}</th>
				        	<th class="col-sm-1">{l}Comment{endl}</th>
				        	<th class="col-sm-3 text-center table_actions" colspan="3">{l}Hours{endl}/{l}Days{endl}
				        		<div class="btn-group" uib-dropdown>
			                      <button type="button" class="btn btn-tertiary dropdown-toggle" uib-dropdown-toggle>
			                            <span class="caret"></span>
			                        </button>
			                        <ul class="dropdown-menu dropdown-menu-right" uib-dropdown-menu>
			                            <li><a href="{{item.EXPORT_HREF}}" target="_blank"><span class="far fa-file-pdf text-primary"></span> {l}Export to xls{endl}</a>
			                            </li>
			                            <li><a href="{{item.pdf_link_project_detail}}" target="_blank"><span class="far fa-file-pdf text-primary"></span> {l}Generate PDF{endl}</a>
			                            </li>
			                        </ul>
			                    </div>
				        	</th>
				      </tr>
				      <tr>
				       	<th colspan="5"></th>
				       	<th class="col-sm-1 text-center">{l}Internal{endl}</th>
				      	<th class="col-sm-1 text-center">{l}Unbillable{endl}</th>
				       	<th class="col-sm-1 text-center">{l}Billable{endl}</th>
				      </tr>
			    </thead>
			    <tbody>
			        <tr class="active" ng-repeat-start="subitem in item.time_row">
			          <td colspan="6"><strong>{{subitem.DATE}}</strong></td>        
			        </tr>
			        <tr ng-repeat-end ng-repeat="item2 in subitem.detaile_time_row">
			            <td>{{item2.CUSTOMERS}}</td>
			            <td>{{item2.PROJECT}}</td>
			            <td>{{item2.TASK}}</td>
			            <td>{{item2.USER}}</td>
			            <td>{{item2.COMMENT}}</td>
			            <td>
			            	<p class="text-center" ng-bind-html="item2.INTERNAL_HOURS"></p>
			            	<p class="text-center" ng-bind-html="item2.INTERNAL_DAYS"></p>
			            </td>
			            <td>
			            	<p class="text-center" ng-bind-html="item2.HOURS"></p>
			            	<p class="text-center" ng-bind-html="item2.DAYS"></p>
			            </td>
			            <td>
			            	<p class="text-center" ng-bind-html="item2.HOURSB"></p>
			            	<p class="text-center" ng-bind-html="item2.DAYSB"></p>
			            </td>
			        </tr>
			    </tbody>
			    <tfoot>
			      	<tr>
					    <td colspan="5" class="text-left">{l}Subtotal{endl}</td>
				        <td class="text-center">
				        	<p><b>{{item.TOTAL_H_INT}}</b></p>
				        	<p><b>{{item.TOTAL_D_INT}}</b></p>
				        </td>
				        <td class="text-center">
				        	<p><b>{{item.TOTAL_H_U}}</b></p>
				        	<p><b>{{item.TOTAL_D_U}}</b></p>
				        </td>
				        <td class="text-center">
				        	<p><b>{{item.TOTAL_H}}</b></p>
				        	<p><b>{{item.TOTAL_D}}</b></p>
				        </td>
				    </tr>
				    <tr>
				        <td colspan="5" class="text-left">{l}Total{endl}</td>
				        <td colspan="3" class="text-center">
				        	<p><b>{{item.TOTAL}}</b></p>
				        	<p><b>{{item.TOTAL_FIN_DAYS}}</b></p>
				        </td>
				    </tr>
			    </tfoot>
			</table>
			<table class="table active_rows orderTable">
			    <thead>
				      <tr>
				        	<th class="col-sm-1">{l}Date{endl}</th>
				        	<th class="col-sm-2">{l}Project Name{endl}</th>
				        	<th class="col-sm-2">{l}Expense Name{endl}</th>
				        	<th class="col-sm-1">{l}Note{endl}</th>
				        	<th class="col-sm-1">{l}Person{endl}</th>
				        	<th class="col-sm-1">{l}Quantity{endl}</th>
				        	<th class="col-sm-1">{l}Unit Price{endl}</th>
				        	<th class="col-sm-3 text-center table_actions" colspan="3">{l}Amount{endl}
				        		<div class="btn-group" uib-dropdown>
			                      <button type="button" class="btn btn-tertiary dropdown-toggle" uib-dropdown-toggle>
			                            <span class="caret"></span>
			                        </button>
			                        <ul class="dropdown-menu dropdown-menu-right" uib-dropdown-menu>
			                            <li><a href="{{item.pdf_link}}" target="_blank"><span class="far fa-file-pdf text-primary"></span> {l}Generate PDF{endl}</a>
			                            </li>
			                        </ul>
			                    </div>
				        	</th>
				      </tr>
				      <tr>
				       	<th colspan="7"></th>
				       	<th class="col-sm-1 text-center">{l}Internal{endl}</th>
				      	<th class="col-sm-1 text-center">{l}Unbillable{endl}</th>
				       	<th class="col-sm-1 text-center">{l}Billable{endl}</th>
				      </tr>
			    </thead>
			    <tbody>
			        <tr ng-repeat="item2 in item.p_hours_row">
			            <td>{{item2.EXPENSE_DATE}}</td>
			            <td>{{item2.PROJECT_N}}</td>
			            <td>{{item2.TASK_N}}</td>
			            <td>{{item2.NOTE}}</td>
			            <td>{{item2.PERSON}}</td>
			            <td>{{item2.QUANTITY}}</td>
			            <td>{{item2.UNIT_PRICE}}</td>
			            <td class="text-center">{{item2.EXP_INTERNAL}}</td>
			            <td class="text-center">{{item2.EXP_UNBILLABLE}}</td>
			            <td class="text-center">{{item2.EXP_BILLABLE}}</td>
			        </tr>
			    </tbody>
			    <tfoot>
			      	<tr>
					    <td colspan="7" class="text-left">{l}Subtotal{endl}</td>
				        <td class="text-center">
				        	<b>{{item.EXP_TOTAL_INTERNAL_AMOUNT}}</b>
				        </td>
				        <td class="text-center">
				        	<b>{{item.EXP_TOTAL_UNBILL_AMOUNT}}</b>
				        </td>
				        <td class="text-center">
				        	<b>{{item.EXP_TOTAL_BILL_AMOUNT}}</b>
				        </td>
				    </tr>
				    <tr>
				        <td colspan="7" class="text-left">{l}Total{endl}</td>
				        <td colspan="3" class="text-center">
				        	<b>{{item.EXP_TOTAL_AMOUNT}}</b>
				        </td>
				    </tr>
			    </tfoot>
			</table>
  		</div>
  	</div>
</div>