<div class="container">
    <div class="tabs-navigation">
        <div class="tab-content">
            <div class="tab-pane active">
                <div class="row page-search page-search-options">
                    <form>
                        <div class="col-sm-12">
                            <div class="row">
                                <div class="col-sm-3">
<!--                                    <div class="btn-group btn-block">-->
<!--                                        <selectize config='periodCfg' options='periods' ng-model="search.period_id"></selectize>-->
<!--                                    </div>-->
                                    <div class="so-field" ng-class="{ 'so-active':search.period_id }">
                                        <selectize config='periodCfg' options='periods' ng-model="search.period_id"></selectize>
                                        <span class="glyphicon glyphicon-remove so-icon so-remove" ng-click="toggleSearchButtons('period_id', '')"></span>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="btn-group btn-block" ng-class="{ 'so-active':search.customer_id!=undefined }">
                                        <selectize config='customerCfg' options='item.customers.list' ng-model="search.customer_id" id="customer_list"></selectize>
                                        <span class="glyphicon glyphicon-remove so-remove" ng-click="searchThing('customer_id')"></span>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="btn-group btn-block" ng-class="{ 'so-active':search.author_id!=undefined }">
                                        <selectize config='authorCfg' options='item.authors.list' ng-model="search.author_id" id="author_list"></selectize>
                                        <span class="glyphicon glyphicon-remove so-remove" ng-click="searchThing('author_id')"></span>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="btn-group btn-block" ng-class="{ 'so-active':search.manager_id!=undefined }">
                                        <selectize config='managerCfg' options='item.managers.list' ng-model="search.manager_id" id="manager_list"></selectize>
                                        <span class="glyphicon glyphicon-remove so-remove" ng-click="searchThing('manager_id')"></span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="page-search-button">
                            <div class="btn-group" uib-dropdown>
                                <button type="button" class="btn btn-tertiary dropdown-toggle" uib-dropdown-toggle>
                      <span class="caret"></span>
                    </button>
                                <ul class="dropdown-menu dropdown-menu-right" uib-dropdown-menu>
                                    <li ng-if="show_settings.is_admin_quote"><a href="{{item.EXPORT_HREF}}" target="_blank"><span class="fas fa-upload text-primary"></span> {l}Export to csv{endl}</a></li>
                                    <li><a href="#" ng-if="item.adv_search" ng-click="search.showAdvanced = !search.showAdvanced"><span class="fa fa-search"></span> {l}Advanced search{endl}</a></li>
                                    <li><a href="#" ng-click="digest()"><span class="glyphicon glyphicon-share text-primary"></span> {l}Digest{endl}</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-sm-12 advanced_search margin-top" ng-if="item.adv_search" ng-class="{ 'advanced_search-show': search.showAdvanced }">
                            <div class="row">
                                <div class="col-sm-4" ng-if="item.source_dd.length">
                                    <div class="btn-group btn-block" ng-class="{ 'so-active':search.source_id!=undefined }">
                                        <selectize config='selectSourceCfg' options='item.source_dd' ng-model="search.source_id"></selectize>
                                        <span class="glyphicon glyphicon-remove so-remove" ng-click="searchThing('source_id')"></span>
                                    </div>
                                </div>
                                <div class="col-sm-4" ng-if="item.type_dd.length">
                                    <div class="btn-group btn-block" ng-class="{ 'so-active':search.type_id!=undefined }">
                                        <selectize config='selectTypeCfg' options='item.type_dd' ng-model="search.type_id"></selectize>
                                        <span class="glyphicon glyphicon-remove so-remove" ng-click="searchThing('type_id')"></span>
                                    </div>
                                </div>
                                <div class="col-sm-2 text-right pull-right">
                                    <button class="btn btn-plain btn-search_cancel" ng-click="resetAdvanced()">{l}Cancel{endl}</button>
                                    <button class="btn btn-default" ng-click="searchAdvanced()">{l}Search{endl}</button>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-2 margin-top" ng-if="search.period_id=='4'">
                            <div class="so-field" ng-class="{ 'so-active':search.from!=undefined }">
                                <span class="glyphicon glyphicon-calendar so-icon" ng-click="datePickOpen.from=true"></span>
                                <input type="text" class="form-control" ng-model="search.from" uib-datepicker-popup="{{format}}" is-open="datePickOpen.from" datepicker-options="dateOptions" close-text="Close" placeholder="{l}From{endl}" show-button-bar="false" ng-click="datePickOpen.from=true"
                                    ng-change="searchThing()">
                                <span class="glyphicon glyphicon-remove so-icon so-remove" ng-click="toggleSearchButtons('from',undefined)"></span>
                            </div>
                            <!-- /.input-date -->
                        </div>
                        <div class="col-sm-2 margin-top" ng-if="search.period_id=='4'">
                            <div class="so-field" ng-class="{ 'so-active':search.to!=undefined }">
                                <span class="glyphicon glyphicon-calendar so-icon" ng-click="datePickOpen.to=true"></span>
                                <input type="text" class="form-control" ng-model="search.to" uib-datepicker-popup="{{format}}" is-open="datePickOpen.to" datepicker-options="dateOptions" close-text="Close" placeholder="{l}To{endl}" show-button-bar="false" ng-click="datePickOpen.to=true"
                                    ng-change="searchThing()">
                                <span class="glyphicon glyphicon-remove so-icon so-remove" ng-click="toggleSearchButtons('to',undefined)"></span>
                            </div>
                            <!-- /.input-date -->
                        </div>
                        <div class="btn-group btn-group-calendar margin-top" role="group" ng-if="search.period_id<'4' && search.period_id != ''">
                            <button type="button" class="btn btn-square btn-plain" ng-click="navigate(-1)"><span class="glyphicon glyphicon-chevron-left"></span></button>
                            <span class="calendar-date">{{item.period_txt}}</span>
                            <button type="button" class="btn btn-square btn-plain" ng-click="navigate(+1)"><span class="glyphicon glyphicon-chevron-right"></span></button>
                        </div>
                        <div class="btn-group btn-inline btn-group-calendar margin-top" ng-show="search.period_id<'4' && search.period_id != ''">
                            <button class="btn btn-square btn-plain" ng-model="search.start_date" uib-datepicker-popup="{{format}}" is-open="datePickOpen.start_date" datepicker-options="dateOptions" close-text="Close" show-button-bar="false" ng-click="datePickOpen.start_date=true"
                                ng-change="navigate(+0)">
					<span class="glyphicon glyphicon-calendar"></span>
				</button>
                        </div>
                    </form>
                </div>
                <!-- /.page-search -->
                <div uib-alert ng-repeat="alert in alerts" type="{{alert.type}}" close="alerts.splice($index, 1);" ng-class="['alert-' + (alert.type || 'warning'), 'alert-fixed' ]" dismiss-on-timeout='5000'>{{alert.msg}}</div>
                <div class="row page-content">
                    <div class="col-sm-3">
                        <h2>{l}Quotes{endl}: <b>{{item.TOTAL_ORDERS}}</b></h2>
                        <h2>{l}Quotes status{endl}</h2>
                        <h5><b>{{item.delivered_o}}</b> {l}Accepted{endl}</h5>
                        <h5><b>{{item.ndelivered_o}}</b> {l}Rejected{endl}</h5>
                        <h5><b>{{item.sent}}</b> {l}Sent{endl}</h5>
                        <h5><b>{{item.draft}}</b> {l}Draft{endl}</h5>
                    </div>
                    <div class="col-sm-3">
                        <h2>{l}Total Amount{endl}: <b><span ng-bind-html="item.BIG_TOTAL_A"></span></b></h2>
                        <h2>{l}Quotes amount{endl}</h2>
                        <h5><b><span ng-bind-html="item.delivered_amount"></span></b> {l}Accepted{endl}</h5>
                        <h5><b><span ng-bind-html="item.ndelivered_amount"></span></b> {l}Rejected{endl}</h5>
                        <h5><b><span ng-bind-html="item.sent_amount"></span></b> {l}Sent{endl}</h5>
                        <h5><b><span ng-bind-html="item.draft_amount"></span></b> {l}Draft{endl}</h5>
                    </div>
                    <div class="col-sm-12">
                        <ul class="nav nav-tabs tabs-default" role="tablist" id="reportsNav">
                            <li class="active" ng-click="get_more('customersTab')"><a href="#customers" aria-controls="customers" role="tab" data-toggle="tab" aria-expanded="true">{l}Clients{endl}</a></li>
                            <li class="" ng-click="get_more('authorsTab')"><a href="#authors" aria-controls="authors" role="tab" data-toggle="tab" aria-expanded="false">{l}Created by{endl}</a></li>
                            <li class="" ng-click="get_more('quotesTab','1')"><a href="#dquotes" aria-controls="dquotes" role="tab" data-toggle="tab" aria-expanded="false">{l}Draft quotes{endl}</a></li>
                            <li class="" ng-click="get_more('quotesTab','2')"><a href="#squotes" aria-controls="squotes" role="tab" data-toggle="tab" aria-expanded="false">{l}Sent quotes{endl}</a></li>
                            <li class="" ng-click="get_more('quotesTab','3')"><a href="#aquotes" aria-controls="aquotes" role="tab" data-toggle="tab" aria-expanded="false">{l}Accepted quotes{endl}</a></li>
                            <li class="" ng-click="get_more('quotesTab','4')"><a href="#rquotes" aria-controls="rquotes" role="tab" data-toggle="tab" aria-expanded="false">{l}Refused quotes{endl}</a></li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane fade in active" id="customers">
                                <!-- <div uib-alert type="notice" class="alert-warning" ng-if="!item.customer_tab.other_row.length">{l}No data to display{endl}</div> -->
                                <div class="section-content">
                                    <table class="table active_rows orderTable" ng-if="item.customer_tab.other_row.length">
                                        <thead>
                                            <tr>
                                                <th class="col-sm-6">{l}Name{endl}</th>
                                                <th class="col-sm-2">{l}Quotes{endl}</th>
                                                <th class="col-sm-4 text-center sortable_row" ng-class="{ 'sortable_row-up':(!reverse && ord=='amount'), 'sortable_row-down':(reverse && ord=='amount') }" ng-click="orderBy('amount','customersTab')">{l}Total Value{endl}</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="art in item.customer_tab.other_row">
                                                <td class="text-muted">
                                                    <span class="text-ellipsis" ng-if="!art.is_customer">{{art.CUSTOMER_N}}</span>
                                                    <a ng-if="art.is_customer" ng-click="toggleSearchButtons('customer_id',art.customer_id)"><span class="text-ellipsis">{{art.CUSTOMER_N}}</span></a>
                                                </td>
                                                <td class="text-muted"><span>{{art.ORDERS}}</span></td>
                                                <td class="text-muted text-center"><span ng-bind-html="art.TOTAL_CLIENT"></span></td>
                                            </tr>
                                            <tr>
                                                <td>{l}Total{endl}</td>
                                                <td><span>{{item.customer_tab.BIG_ORDERS}}</span></td>
                                                <td class="text-center"><span ng-bind-html="item.customer_tab.BIG_TOTAL"></span></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="authors">
                                <!-- <div uib-alert type="notice" class="alert-warning" ng-if="!item.author_tab.other_row.length">{l}No data to display{endl}</div> -->
                                <div class="section-content">
                                    <table class="table active_rows orderTable" ng-if="item.author_tab.other_row.length">
                                        <thead>
                                            <tr>
                                                <th class="col-sm-6">{l}Name{endl}</th>
                                                <th class="col-sm-2">{l}Quotes{endl}</th>
                                                <th class="col-sm-4 text-center sortable_row" ng-class="{ 'sortable_row-up':(!reverse && ord=='amount'), 'sortable_row-down':(reverse && ord=='amount') }" ng-click="orderBy('amount','authorsTab')">{l}Total Value{endl}</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="art in item.author_tab.other_row">
                                                <td class="text-muted">
                                                    <a ng-click="toggleSearchButtons('author_id',art.author_id)"><span class="text-ellipsis">{{art.CUSTOMER_N}}</span></a>
                                                </td>
                                                <td class="text-muted"><span>{{art.ORDERS}}</span></td>
                                                <td class="text-muted text-center"><span ng-bind-html="art.TOTAL_CLIENT"></span></td>
                                            </tr>
                                            <tr>
                                                <td>{l}Total{endl}</td>
                                                <td><span>{{item.author_tab.BIG_ORDERS}}</span></td>
                                                <td class="text-center"><span ng-bind-html="item.author_tab.BIG_TOTAL"></span></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="dquotes">
                                <!-- <div uib-alert type="notice" class="alert-warning" ng-if="!item.quote_tab.order_row.length">{l}No data to display{endl}</div> -->
                                <div class="section-content">
                                    <table class="table active_rows orderTable" ng-if="item.quote_tab.order_row.length">
                                        <thead>
                                            <tr>
                                                <th class="col-sm-3 sortable_row" ng-class="{ 'sortable_row-up':(!reverse && ord=='serial_number'), 'sortable_row-down':(reverse && ord=='serial_number') }" ng-click="orderBy('serial_number')">{l}Quote{endl}</th>
                                                <th class="col-sm-1 sortable_row" ng-class="{ 'sortable_row-up':(!reverse && ord=='quote_date'), 'sortable_row-down':(reverse && ord=='quote_date') }" ng-click="orderBy('quote_date')">{l}Date{endl}</th>
                                                <th class="col-sm-4 sortable_row" ng-class="{ 'sortable_row-up':(!reverse && ord=='buyer_name'), 'sortable_row-down':(reverse && ord=='buyer_name') }" ng-click="orderBy('buyer_name')">{l}Customer{endl}</th>
                                                <th class="col-sm-2 text-center sortable_row" ng-class="{ 'sortable_row-up':(!reverse && ord=='amount'), 'sortable_row-down':(reverse && ord=='amount') }" ng-click="orderBy('amount','quotesTab','1')">{l}Amount{endl}</th>
                                                <th class="col-sm-1 text-center col-status">{l}Status{endl}</th>
                                                <th class="col-sm-1"></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="art in item.quote_tab.order_row">
                                                <td class="text-muted">{{art.serial_number}}</td>
                                                <td class="text-muted">{{art.created}}</td>
                                                <td class="text-muted">{{art.buyer_name}}</td>
                                                <td class="text-muted text-center"><span ng-bind-html="art.amount"></span></td>
                                                <td class="text-center col-status">
                                                    <span class="badge item-status-gray" ng-class="{ 'item-status-green':art.status=='2', 'item-status-yellow':art.status=='5', 'item-status-red':art.status=='1' }">{{art.status_customer}}</span>
                                                </td>
                                                <td class="table_actions">
                                                    <div class="btn-group" uib-dropdown>
                                                        <button type="button" class="btn btn-plain dropdown-toggle" uib-dropdown-toggle>
				                              <span class="caret"></span>
				                          </button>
                                                        <ul class="dropdown-menu dropdown-menu-right" uib-dropdown-menu>
                                                            <li>
                                                                <a href="#" go-to="" state="quote.view" params='{"quote_id": {{::art.id}}}'><span class="glyphicon glyphicon-info-sign text-primary"></span> {l}View{endl}</a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td colspan='3'>{l}Total{endl}</td>
                                                <td class="text-center"><span ng-bind-html="item.quote_tab.total_amount"></span></td>
                                                <td colspan="2"></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <ul ng-if="item.quote_tab.max_rows > 30" uib-pagination total-items="item.quote_tab.max_rows" ng-model="search.offset_quote" ng-change="get_more('quotesTab','1')" max-size="5" class="pager" boundary-links="true" items-per-page="item.quote_tab.lr"></ul>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="squotes">
                                <!-- <div uib-alert type="notice" class="alert-warning" ng-if="!item.quote_tab.order_row.length">{l}No data to display{endl}</div> -->
                                <div class="section-content">
                                    <table class="table active_rows orderTable" ng-if="item.quote_tab.order_row.length">
                                        <thead>
                                            <tr>
                                                <th class="col-sm-3 sortable_row" ng-class="{ 'sortable_row-up':(!reverse && ord=='serial_number'), 'sortable_row-down':(reverse && ord=='serial_number') }" ng-click="orderBy('serial_number')">{l}Quote{endl}</th>
                                                <th class="col-sm-1 sortable_row" ng-class="{ 'sortable_row-up':(!reverse && ord=='quote_date'), 'sortable_row-down':(reverse && ord=='quote_date') }" ng-click="orderBy('quote_date')">{l}Date{endl}</th>
                                                <th class="col-sm-4 sortable_row" ng-class="{ 'sortable_row-up':(!reverse && ord=='buyer_name'), 'sortable_row-down':(reverse && ord=='buyer_name') }" ng-click="orderBy('buyer_name')">{l}Customer{endl}</th>
                                                <th class="col-sm-2 text-center sortable_row" ng-class="{ 'sortable_row-up':(!reverse && ord=='amount'), 'sortable_row-down':(reverse && ord=='amount') }" ng-click="orderBy('amount','quotesTab','2')">{l}Amount{endl}</th>
                                                <th class="col-sm-1 text-center col-status">{l}Status{endl}</th>
                                                <th class="col-sm-1"></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="art in item.quote_tab.order_row">
                                                <td class="text-muted">{{art.serial_number}}</td>
                                                <td class="text-muted">{{art.created}}</td>
                                                <td class="text-muted">{{art.buyer_name}}</td>
                                                <td class="text-muted text-center"><span ng-bind-html="art.amount"></span></td>
                                                <td class="text-center col-status">
                                                    <span class="badge item-status-gray" ng-class="{ 'item-status-green':art.status=='2', 'item-status-yellow':art.status=='5', 'item-status-red':art.status=='1' }">{{art.status_customer}}</span>
                                                </td>
                                                <td class="table_actions">
                                                    <div class="btn-group" uib-dropdown>
                                                        <button type="button" class="btn btn-plain dropdown-toggle" uib-dropdown-toggle>
				                              <span class="caret"></span>
				                          </button>
                                                        <ul class="dropdown-menu dropdown-menu-right" uib-dropdown-menu>
                                                            <li>
                                                                <a href="#" go-to="" state="quote.view" params='{"quote_id": {{::art.id}}}'><span class="glyphicon glyphicon-info-sign text-primary"></span> {l}View{endl}</a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td colspan='3'>{l}Total{endl}</td>
                                                <td class="text-center"><span ng-bind-html="item.quote_tab.total_amount"></span></td>
                                                <td colspan="2"></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <ul ng-if="item.quote_tab.max_rows > 30" uib-pagination total-items="item.quote_tab.max_rows" ng-model="search.offset_quote" ng-change="get_more('quotesTab','2')" max-size="5" class="pager" boundary-links="true" items-per-page="item.quote_tab.lr"></ul>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="aquotes">
                                <!-- <div uib-alert type="notice" class="alert-warning" ng-if="!item.quote_tab.order_row.length">{l}No data to display{endl}</div> -->
                                <div class="section-content">
                                    <table class="table active_rows orderTable" ng-if="item.quote_tab.order_row.length">
                                        <thead>
                                            <tr>
                                                <th class="col-sm-3 sortable_row" ng-class="{ 'sortable_row-up':(!reverse && ord=='serial_number'), 'sortable_row-down':(reverse && ord=='serial_number') }" ng-click="orderBy('serial_number')">{l}Quote{endl}</th>
                                                <th class="col-sm-1 sortable_row" ng-class="{ 'sortable_row-up':(!reverse && ord=='quote_date'), 'sortable_row-down':(reverse && ord=='quote_date') }" ng-click="orderBy('quote_date')">{l}Date{endl}</th>
                                                <th class="col-sm-4 sortable_row" ng-class="{ 'sortable_row-up':(!reverse && ord=='buyer_name'), 'sortable_row-down':(reverse && ord=='buyer_name') }" ng-click="orderBy('buyer_name')">{l}Customer{endl}</th>
                                                <th class="col-sm-2 text-center  sortable_row" ng-class="{ 'sortable_row-up':(!reverse && ord=='amount'), 'sortable_row-down':(reverse && ord=='amount') }" ng-click="orderBy('amount','quotesTab','3')">{l}Amount{endl}</th>
                                                <th class="col-sm-1 text-center col-status">{l}Status{endl}</th>
                                                <th class="col-sm-1"></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="art in item.quote_tab.order_row">
                                                <td class="text-muted">{{art.serial_number}}</td>
                                                <td class="text-muted">{{art.created}}</td>
                                                <td class="text-muted">{{art.buyer_name}}</td>
                                                <td class="text-muted text-center"><span ng-bind-html="art.amount"></span></td>
                                                <td class="text-center col-status">
                                                    <span class="badge item-status-gray" ng-class="{ 'item-status-green':art.status=='2', 'item-status-yellow':art.status=='5', 'item-status-red':art.status=='1' }">{{art.status_customer}}</span>
                                                </td>
                                                <td class="table_actions">
                                                    <div class="btn-group" uib-dropdown>
                                                        <button type="button" class="btn btn-plain dropdown-toggle" uib-dropdown-toggle>
				                              <span class="caret"></span>
				                          </button>
                                                        <ul class="dropdown-menu dropdown-menu-right" uib-dropdown-menu>
                                                            <li>
                                                                <a href="#" go-to="" state="quote.view" params='{"quote_id": {{::art.id}}}'><span class="glyphicon glyphicon-info-sign text-primary"></span> {l}View{endl}</a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td colspan='3'>{l}Total{endl}</td>
                                                <td class="text-center"><span ng-bind-html="item.quote_tab.total_amount"></span></td>
                                                <td colspan="2"></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <ul ng-if="item.quote_tab.max_rows > 30" uib-pagination total-items="item.quote_tab.max_rows" ng-model="search.offset_quote" ng-change="get_more('quotesTab','3')" max-size="5" class="pager" boundary-links="true" items-per-page="item.quote_tab.lr"></ul>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="rquotes">
                                <!-- <div uib-alert type="notice" class="alert-warning" ng-if="!item.quote_tab.order_row.length">{l}No data to display{endl}</div> -->
                                <div class="section-content">
                                    <table class="table active_rows orderTable" ng-if="item.quote_tab.order_row.length">
                                        <thead>
                                            <tr>
                                                <th class="col-sm-3 sortable_row" ng-class="{ 'sortable_row-up':(!reverse && ord=='serial_number'), 'sortable_row-down':(reverse && ord=='serial_number') }" ng-click="orderBy('serial_number')">{l}Quote{endl}</th>
                                                <th class="col-sm-1 sortable_row" ng-class="{ 'sortable_row-up':(!reverse && ord=='quote_date'), 'sortable_row-down':(reverse && ord=='quote_date') }" ng-click="orderBy('quote_date')">{l}Date{endl}</th>
                                                <th class="col-sm-4 sortable_row" ng-class="{ 'sortable_row-up':(!reverse && ord=='buyer_name'), 'sortable_row-down':(reverse && ord=='buyer_name') }" ng-click="orderBy('buyer_name')">{l}Customer{endl}</th>
                                                <th class="col-sm-2 text-center sortable_row" ng-class="{ 'sortable_row-up':(!reverse && ord=='amount'), 'sortable_row-down':(reverse && ord=='amount') }" ng-click="orderBy('amount','quotesTab','4')">{l}Amount{endl}</th>
                                                <th class="col-sm-1 text-center col-status">{l}Status{endl}</th>
                                                <th class="col-sm-1"></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="art in item.quote_tab.order_row">
                                                <td class="text-muted">{{art.serial_number}}</td>
                                                <td class="text-muted">{{art.created}}</td>
                                                <td class="text-muted">{{art.buyer_name}}</td>
                                                <td class="text-muted text-center"><span ng-bind-html="art.amount"></span></td>
                                                <td class="text-center col-status">
                                                    <span class="badge item-status-gray" ng-class="{ 'item-status-green':art.status=='2', 'item-status-yellow':art.status=='5', 'item-status-red':art.status=='1' }">{{art.status_customer}}</span>
                                                </td>
                                                <td class="table_actions">
                                                    <div class="btn-group" uib-dropdown>
                                                        <button type="button" class="btn btn-plain dropdown-toggle" uib-dropdown-toggle>
				                              <span class="caret"></span>
				                          </button>
                                                        <ul class="dropdown-menu dropdown-menu-right" uib-dropdown-menu>
                                                            <li>
                                                                <a href="#" go-to="" state="quote.view" params='{"quote_id": {{::art.id}}}'><span class="glyphicon glyphicon-info-sign text-primary"></span> {l}View{endl}</a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td colspan='3'>{l}Total{endl}</td>
                                                <td class="text-center"><span ng-bind-html="item.quote_tab.total_amount"></span></td>
                                                <td colspan="2"></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <ul ng-if="item.quote_tab.max_rows > 30" uib-pagination total-items="item.quote_tab.max_rows" ng-model="search.offset_quote" ng-change="get_more('quotesTab','4')" max-size="5" class="pager" boundary-links="true" items-per-page="item.quote_tab.lr"></ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>