<div class="container">
    <div class="tabs-navigation">
        <div class="tab-content">
            <div class="tab-pane active">
                <div class="row page-search page-search-options">
                    <form>
                        <div class="col-sm-12">
                            <div class="row">
                                <div class="col-sm-6">
<!--                                    <div class="btn-group btn-block">-->
<!--                                        <selectize config='periodCfg' options='periods' ng-model="search.period_id"></selectize>-->
<!--                                    </div>-->
                                    <div class="so-field" ng-class="{ 'so-active':search.period_id }">
                                        <selectize config='periodCfg' options='periods' ng-model="search.period_id"></selectize>
                                        <span class="glyphicon glyphicon-remove so-icon so-remove" ng-click="toggleSearchButtons('period_id', '')"></span>
                                    </div>
                                </div>
                                <!-- <div class="col-sm-4">
                <div class="btn-group btn-block" ng-class="{ 'so-active':search.author_id!=undefined }">
                    <selectize config='authorCfg' options='item.authors.list' ng-model="search.author_id" id="author_list"></selectize>
                    <span class="glyphicon glyphicon-remove so-remove" ng-click="searchThing('author_id')"></span>
                </div>
            </div> -->
                                <div class="col-sm-6">
                                    <div class="btn-group btn-block" ng-class="{ 'so-active':search.customer_id!=undefined }">
                                        <selectize config='customerCfg' options='item.customers.list' ng-model="search.customer_id" id="customer_list"></selectize>
                                        <span class="glyphicon glyphicon-remove so-remove" ng-click="searchThing('customer_id')"></span>
                                    </div>
                                </div>
                                <!-- <div class="col-sm-3">
                <div class="btn-group btn-block" ng-class="{ 'so-active':search.manager_id!=undefined }">
                    <selectize config='managerCfg' options='item.managers.list' ng-model="search.manager_id" id="manager_list"></selectize>
                    <span class="glyphicon glyphicon-remove so-remove" ng-click="searchThing('manager_id')"></span>
                </div>
			</div> -->
                            </div>
                        </div>

                        <div class="page-search-button">
                            <div class="btn-group" uib-dropdown ng-if="show_settings.is_admin_po_order">
                                <button type="button" class="btn btn-tertiary dropdown-toggle" uib-dropdown-toggle>
                      <span class="caret"></span>
                    </button>
                                <ul class="dropdown-menu dropdown-menu-right" uib-dropdown-menu>
                                    <li><a href="{{item.EXPORT_HREF}}" target="_blank"><span class="fas fa-upload text-primary"></span> {l}Export to csv{endl}</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-sm-2 margin-top" ng-if="search.period_id=='4'">
                            <div class="so-field" ng-class="{ 'so-active':search.from!=undefined }">
                                <span class="glyphicon glyphicon-calendar so-icon" ng-click="datePickOpen.from=true"></span>
                                <input type="text" class="form-control" ng-model="search.from" uib-datepicker-popup="{{format}}" is-open="datePickOpen.from" datepicker-options="dateOptions" close-text="Close" placeholder="{l}From{endl}" show-button-bar="false" ng-click="datePickOpen.from=true"
                                    ng-change="searchThing()" />
                                <span class="glyphicon glyphicon-remove so-icon so-remove" ng-click="toggleSearchButtons('from',undefined)"></span>
                            </div>
                            <!-- /.input-date -->
                        </div>
                        <div class="col-sm-2 margin-top" ng-if="search.period_id=='4'">
                            <div class="so-field" ng-class="{ 'so-active':search.to!=undefined }">
                                <span class="glyphicon glyphicon-calendar so-icon" ng-click="datePickOpen.to=true"></span>
                                <input type="text" class="form-control" ng-model="search.to" uib-datepicker-popup="{{format}}" is-open="datePickOpen.to" datepicker-options="dateOptions" close-text="Close" placeholder="{l}To{endl}" show-button-bar="false" ng-click="datePickOpen.to=true"
                                    ng-change="searchThing()" />
                                <span class="glyphicon glyphicon-remove so-icon so-remove" ng-click="toggleSearchButtons('to',undefined)"></span>
                            </div>
                            <!-- /.input-date -->
                        </div>
                        <div class="btn-group btn-group-calendar margin-top" role="group" ng-if="search.period_id<'4' && search.period_id != ''">
                            <button type="button" class="btn btn-square btn-plain" ng-click="navigate(-1)"><span class="glyphicon glyphicon-chevron-left"></span></button>
                            <span class="calendar-date">{{item.period_txt}}</span>
                            <button type="button" class="btn btn-square btn-plain" ng-click="navigate(+1)"><span class="glyphicon glyphicon-chevron-right"></span></button>
                        </div>
                        <div class="btn-group btn-inline btn-group-calendar margin-top" ng-show="search.period_id<'4' && search.period_id != ''">
                            <button class="btn btn-square btn-plain" ng-model="search.start_date" uib-datepicker-popup="{{format}}" is-open="datePickOpen.start_date" datepicker-options="dateOptions" close-text="Close" show-button-bar="false" ng-click="datePickOpen.start_date=true"
                                ng-change="navigate(+0)">
					<span class="glyphicon glyphicon-calendar"></span>
				</button>
                        </div>
                    </form>
                </div>
                <!-- /.page-search -->
                <div uib-alert ng-repeat="alert in alerts" type="{{alert.type}}" close="alerts.splice($index, 1);" ng-class="['alert-' + (alert.type || 'warning'), 'alert-fixed' ]" dismiss-on-timeout='5000'>{{alert.msg}}</div>
                <div class="row page-content">
                    <div class="col-sm-3">
                        <h2>{l}Total Amount{endl}: <b><span ng-bind-html="item.BIG_TOTAL_A"></span></b></h2>
                        <h2>{l}Purchase Orders{endl}: <b>{{item.TOTAL_ORDERS}}</b></h2>
                        <h2>{l}Total articles{endl}: <b>{{item.BIG_QUANTITY_A}}</b></h2>
                    </div>
                    <div class="col-sm-3">
                        <h2 class="text-center">{l}Purchase Orders amount{endl}</h2>
                        <canvas class="chart chart-pie" chart-data="item.chart_order.data" chart-labels="item.chart_order.label" chart-options="chart_options"></canvas>
                    </div>
                    <div class="col-sm-3">
                        <h2 class="text-center">{l}Top Suppliers{endl}</h2>
                        <canvas class="chart chart-pie" chart-data="item.chart_customer.data" chart-labels="item.chart_customer.label" chart-options="chart_customer"></canvas>
                    </div>
                    <!-- <div class="col-sm-3">
			<h2 class="text-center">{l}Top Managers{endl}</h2>
            <canvas class="chart chart-pie" chart-data="item.chart_manager.data" chart-labels="item.chart_manager.label" chart-options="chart_manager"></canvas>
        </div> -->
                    <div class="col-sm-12 margin-top">
                        <ul class="nav nav-tabs tabs-default" role="tablist" id="reportsNav">
                            <li class="active"><a href="#suppliers" aria-controls="suppliers" role="tab" data-toggle="tab" aria-expanded="true">{l}Suppliers{endl}</a></li>
                            <li class="" ng-click="get_more('pordersTab','1')"><a href="#rporders" aria-controls="rporders" role="tab" data-toggle="tab" aria-expanded="false">{l}Received Purchase Orders{endl}</a></li>
                            <li class="" ng-click="get_more('pordersTab','2')"><a href="#nrporders" aria-controls="nrporders" role="tab" data-toggle="tab" aria-expanded="false">{l}Not Received Purchase Orders{endl}</a></li>
                            <li class="" ng-click="get_more('articlesTab')"><a href="#products" aria-controls="products" role="tab" data-toggle="tab" aria-expanded="false">{l}Articles{endl}</a></li>
                            <li class="" ng-click="get_more('taxesTab')"><a href="#taxes" aria-controls="taxes" role="tab" data-toggle="tab" aria-expanded="false">{l}Taxes{endl}</a></li>
                            <!-- <li class="" ng-click="get_more('managersTab')"><a href="#managers" aria-controls="managers" role="tab" data-toggle="tab" aria-expanded="false">{l}Managers{endl}</a></li> -->
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane fade in active" id="suppliers">
                                <!-- <div uib-alert type="notice" class="alert-warning" ng-if="!item.customer_tab.other_row.length">{l}No data to display{endl}</div> -->
                                <div class="section-content">
                                    <table class="table active_rows orderTable" ng-if="item.customer_tab.other_row.length">
                                        <thead>
                                            <tr>
                                                <th class="col-sm-4">{l}Name{endl}</th>
                                                <th class="col-sm-3">{l}Purchase Orders{endl}</th>
                                                <th class="col-sm-3">{l}Total Quantity{endl}</th>
                                                <!-- <th class="col-sm-2">{l}Margin{endl}</th> -->
                                                <th class="col-sm-2 text-center sortable_row" ng-class="{ 'sortable_row-up':(!reverse && ord=='amount'), 'sortable_row-down':(reverse && ord=='amount') }" ng-click="orderBy('amount','customersTab')">{l}Total Value{endl}</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="art in item.customer_tab.other_row">
                                                <td class="text-muted">
                                                    <a ng-click="toggleSearchButtons('customer_id',art.CUSTOMER_ID)"><span class="text-ellipsis">{{art.CUSTOMER_N}}</span></a>
                                                </td>
                                                <td class="text-muted"><span>{{art.ORDERS}}</span></td>
                                                <td class="text-muted"><span>{{art.TOTAL_QUANTITY}}</span></td>
                                                <!-- <td class="text-muted"><span ng-bind-html="art.TOTAL_MARGIN"></span> (<span>{{art.TOTAL_MARGIN_PERCENT}}</span> %)</td> -->
                                                <td class="text-muted text-center"><span ng-bind-html="art.TOTAL_CLIENT"></span></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <ul ng-if="item.customer_tab.max_rows > 30" uib-pagination total-items="item.customer_tab.max_rows" ng-model="search.offset_customer" ng-change="get_more('customersTab')" max-size="5" class="pager" boundary-links="true" items-per-page="item.customer_tab.lr"></ul>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="rporders">
                                <!-- <div uib-alert type="notice" class="alert-warning" ng-if="!item.order_tab.other_row.length">{l}No data to display{endl}</div> -->
                                <div class="section-content">
                                    <table class="table active_rows orderTable" ng-if="item.order_tab.other_row.length">
                                        <thead>
                                            <tr>
                                                <th class="col-sm-2">{l}Purchase Order{endl}</th>
                                                <th class="col-sm-2">{l}Date{endl}</th>
                                                <th class="col-sm-4">{l}Supplier{endl}</th>
                                                <!-- <th class="col-sm-2">{l}Margin{endl}</th> -->
                                                <th class="col-sm-2 text-center sortable_row" ng-class="{ 'sortable_row-up':(!reverse && ord=='amount'), 'sortable_row-down':(reverse && ord=='amount') }" ng-click="orderBy('amount','pordersTab','1')">{l}Amount{endl}</th>
                                                <th class="col-sm-1 text-center col-status">{l}Status{endl}</th>
                                                <th class="col-sm-1"></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="art in item.order_tab.other_row">
                                                <td class="text-muted"><span>{{art.serial_number}}</span></td>
                                                <td class="text-muted"><span>{{art.created}}</span></td>
                                                <td class="text-muted"><span>{{art.buyer_name}}</span></td>
                                                <!-- <td class="text-muted"><span ng-bind-html="art.margin"></span> (<span>{{art.margin_percent}}</span> %)</td> -->
                                                <td class="text-muted text-center"><span ng-bind-html="art.amount"></span></td>
                                                <td class="text-center col-status">
                                                    <span class="badge item-status-gray item-status-green">{l}Received{endl}</span>
                                                </td>
                                                <td class="table_actions">
                                                    <div class="btn-group" uib-dropdown>
                                                        <button type="button" class="btn btn-plain dropdown-toggle" uib-dropdown-toggle>
				                              <span class="caret"></span>
				                          </button>
                                                        <ul class="dropdown-menu dropdown-menu-right" uib-dropdown-menu>
                                                            <li>
                                                                <a href="#" go-to="" state="purchase_order.view" params='{"p_order_id": {{::art.id}}}'><span class="glyphicon glyphicon-info-sign text-primary"></span> {l}View{endl}</a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <ul ng-if="item.order_tab.max_rows > 30" uib-pagination total-items="item.order_tab.max_rows" ng-model="search.offset_order" ng-change="get_more('pordersTab','1')" max-size="5" class="pager" boundary-links="true" items-per-page="item.order_tab.lr"></ul>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="nrporders">
                                <!-- <div uib-alert type="notice" class="alert-warning" ng-if="!item.order_tab.other_row.length">{l}No data to display{endl}</div> -->
                                <div class="section-content">
                                    <table class="table active_rows orderTable" ng-if="item.order_tab.other_row.length">
                                        <thead>
                                            <tr>
                                                <th class="col-sm-2">{l}Purchase Order{endl}</th>
                                                <th class="col-sm-2">{l}Date{endl}</th>
                                                <th class="col-sm-4">{l}Supplier{endl}</th>
                                                <!-- <th class="col-sm-2">{l}Margin{endl}</th> -->
                                                <th class="col-sm-2 text-center sortable_row" ng-class="{ 'sortable_row-up':(!reverse && ord=='amount'), 'sortable_row-down':(reverse && ord=='amount') }" ng-click="orderBy('amount','pordersTab','2')">{l}Amount{endl}</th>
                                                <th class="col-sm-1 text-center col-status">{l}Status{endl}</th>
                                                <th class="col-sm-1"></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="art in item.order_tab.other_row">
                                                <td class="text-muted"><span>{{art.serial_number}}</span></td>
                                                <td class="text-muted"><span>{{art.created}}</span></td>
                                                <td class="text-muted"><span>{{art.buyer_name}}</span></td>
                                                <!-- <td class="text-muted"><span ng-bind-html="art.margin"></span> (<span>{{art.margin_percent}}</span> %)</td> -->
                                                <td class="text-muted text-center"><span ng-bind-html="art.amount"></span></td>
                                                <td class="text-center col-status">
                                                    <span class="badge item-status-gray item-status-yellow">{l}Sent{endl}</span>
                                                </td>
                                                <td class="table_actions">
                                                    <div class="btn-group" uib-dropdown>
                                                        <button type="button" class="btn btn-plain dropdown-toggle" uib-dropdown-toggle>
				                              <span class="caret"></span>
				                          </button>
                                                        <ul class="dropdown-menu dropdown-menu-right" uib-dropdown-menu>
                                                            <li>
                                                                <a href="#" go-to="" state="purchase_order.view" params='{"p_order_id": {{::art.id}}}'><span class="glyphicon glyphicon-info-sign text-primary"></span> {l}View{endl}</a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <ul ng-if="item.order_tab.max_rows > 30" uib-pagination total-items="item.order_tab.max_rows" ng-model="search.offset_order" ng-change="get_more('pordersTab','2')" max-size="5" class="pager" boundary-links="true" items-per-page="item.order_tab.lr"></ul>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="products">
                                <div class="section-content">
                                    <!-- <div uib-alert type="notice" class="alert-warning" ng-if="!item.article_tab.other_row.length">{l}No data to display{endl}</div> -->
                                    <table class="table active_rows orderTable" ng-if="item.article_tab.other_row.length">
                                        <thead>
                                            <tr>
                                                <th class="col-sm-5">{l}Article Name{endl}</th>
                                                <th class="col-sm-3">{l}Last Purchase Order{endl}</th>
                                                <!-- <th class="col-sm-2">{l}Margin{endl}</th> -->
                                                <th class="col-sm-2 text-center">{l}Total Quantity{endl}</th>
                                                <th class="col-sm-2 text-center sortable_row" ng-class="{ 'sortable_row-up':(!reverse && ord=='amount'), 'sortable_row-down':(reverse && ord=='amount') }" ng-click="orderBy('amount','articlesTab')">{l}Total Value{endl}</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="art in item.article_tab.other_row">
                                                <td class="text-muted"><span>{{art.ARTCLE_N}}</span></td>
                                                <td class="text-muted"><a href="#" go-to="" state="purchase_order.view" params='{"p_order_id": {{::art.p_order_id}}}'><span>{{art.last_order}}</span></a></td>
                                                <!-- <td class="text-muted"><span ng-bind-html="art.TOTAL_MARGIN"></span> (<span>{{art.TOTAL_MARGIN_PERCENT}}</span> %)</td> -->
                                                <td class="text-muted text-center"><span>{{art.TOTAL_QUANTITY}}</span></td>
                                                <td class="text-muted text-center"><span ng-bind-html="art.TOTAL_ARTICLE"></span></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <ul ng-if="item.article_tab.max_rows > 30" uib-pagination total-items="item.article_tab.max_rows" ng-model="search.offset_article" ng-change="get_more('articlesTab')" max-size="5" class="pager" boundary-links="true" items-per-page="item.article_tab.lr"></ul>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="taxes">
                                <div class="section-content">
                                    <!-- <div uib-alert type="notice" class="alert-warning" ng-if="!item.tax_tab.other_row.length">{l}No data to display{endl}</div> -->
                                    <table class="table active_rows orderTable" ng-if="item.tax_tab.other_row.length">
                                        <thead>
                                            <tr>
                                                <th class="col-sm-6">{l}Article Name{endl}</th>
                                                <th class="col-sm-2">{l}Purchase Orders{endl}</th>
                                                <th class="col-sm-2 text-center">{l}Total Quantity{endl}</th>
                                                <th class="col-sm-2 text-center sortable_row" ng-class="{ 'sortable_row-up':(!reverse && ord=='amount'), 'sortable_row-down':(reverse && ord=='amount') }" ng-click="orderBy('amount','taxesTab')">{l}Total Value{endl}</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="art in item.tax_tab.other_row">
                                                <td class="text-muted"><span>{{art.ARTCLE_N}}</span></td>
                                                <td class="text-muted"><span>{{art.ORDERS}}</span></td>
                                                <td class="text-muted text-center"><span>{{art.TOTAL_QUANTITY}}</span></td>
                                                <td class="text-muted text-center"><span ng-bind-html="art.TOTAL_ARTICLE"></span></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <!-- <div class="tab-pane fade" id="managers">
					<div class="section-content">
						<div uib-alert type="notice" class="alert-warning" ng-if="!item.manager_tab.other_row.length">{l}No data to display{endl}</div>
						<table class="table active_rows orderTable" ng-if="item.manager_tab.other_row.length">
							<thead>
								<tr>
									<th class="col-sm-8">{l}Name{endl}</th>
                      				<th class="col-sm-2">{l}Margin{endl}</th>
                      				<th class="col-sm-2 text-center">{l}Total Value{endl}</th>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="art in item.manager_tab.other_row">
									<td class="text-muted"><span>{{art.MANAGER_N}}</span></td>
                    				<td class="text-muted"><span ng-bind-html="art.TOTAL_MARGIN"></span> (<span>{{art.MARGIN_PERCENT}}</span> %)</td>
                    				<td class="text-muted text-center"><span ng-bind-html="art.TOTAL_MANAGER"></span></td>
								</tr>
							</tbody>
						</table>
						<ul ng-if="item.manager_tab.max_rows > 30" uib-pagination total-items="item.manager_tab.max_rows" ng-model="search.offset_manager" ng-change="get_more('managersTab')" max-size="5" class="pager" boundary-links="true" items-per-page="item.manager_tab.lr"></ul>
					</div>
				</div> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>