<div class="container">
	<div class="page-header">
    	<div class="row">
        	<div class="col-sm-12">
              	<h1>{l}Digest{endl}</h1>
            </div>
        </div>
  	</div><!-- /.page-header -->
  	<div class="row page-content">
  		<div class="col-sm-12">
  			<p><a ng-click="toReports()"><span>{l}Back to reports{endl}</span></a></p>
  			<span>{l}Timeframe{endl} <b>{{item.period_txt}}</b></span>
  		</div>
  		<div class="col-sm-12" ng-if="!item.is_data">
  			<div uib-alert type="notice" class="alert-warning">{l}No data to display{endl}</div>
  		</div>	
  		<div class="col-sm-12" ng-if="item.is_data">
  			<h3>{l}Quote status{endl}</h3>
  			<table class="table active_rows orderTable">
				<thead>
					<tr>
						<th class="col-sm-4">{l}User{endl}</th>
                      	<th class="col-sm-2 text-center">{l}Draft{endl}</th>
                      	<th class="col-sm-2 text-center">{l}Sent{endl}</th>
                      	<th class="col-sm-2 text-center">{l}Accepted{endl}</th>
                      	<th class="col-sm-2 text-center">{l}Rejected{endl}</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="art in item.detaile_row">
						<td class="text-muted"><span class="text-ellipsis">{{art.user}}</span></td>
                    	<td class="text-muted text-center"><span>{{art.draft}}</span></td>
                     	<td class="text-muted text-center"><span>{{art.sent}}</span></td>
                     	<td class="text-muted text-center"><span>{{art.accepted}}</span></td>
                     	<td class="text-muted text-center"><span>{{art.lost}}</span></td>
					</tr>
				</tbody>
			</table>
			<h3 class="margin-top" ng-if="item.q_lost">{l}Quote lost{endl}</h3>
			<table class="table active_rows orderTable" ng-if="item.q_lost">
				<thead>
					<tr>
						<th class="col-sm-10">{l}User{endl}</th>
                      	<th class="col-sm-2 text-center">{l}Quotes{endl}</th>
					</tr>
				</thead>
				<tbody>
					<tr class="active" ng-repeat-start="art in item.row">
						<td colspan="2">{{art.DATE}}</td>
					</tr>
					<tr ng-repeat-end ng-repeat="subart in art.detaile_rows">
						<td class="text-muted"><span class="text-ellipsis">{{subart.userl}}</span></td>
                    	<td class="text-muted text-center"><span>{{subart.quote_sn}}</span></td>
					</tr>
				</tbody>
			</table>
  		</div>
  	</div>
</div>