<div class="container">
    <div class="tabs-navigation">
        <div class="tab-content">
            <div class="tab-pane active">
                <div class="row page-search page-search-options">
                    <form>
                        <div class="col-sm-12">
                            <div class="row">
                                <div class="col-sm-2">
<!--                                    <div class="btn-group btn-block">-->
<!--                                        <selectize config='periodCfg' options='periods' ng-model="search.period_id"></selectize>-->
<!--                                    </div>-->
                                    <div class="so-field" ng-class="{ 'so-active':search.period_id }">
                                        <selectize config='periodCfg' options='periods' ng-model="search.period_id"></selectize>
                                        <span class="glyphicon glyphicon-remove so-icon so-remove" ng-click="toggleSearchButtons('period_id', '')"></span>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="btn-group btn-block" ng-class="{ 'so-active':search.customer_id!=undefined }">
                                        <selectize config='customerCfg' options='item.customers.list' ng-model="search.customer_id" id="customer_list"></selectize>
                                        <span class="glyphicon glyphicon-remove so-remove" ng-click="searchThing('customer_id')"></span>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="so-field" ng-class="{ 'so-active':search.search!=undefined }">
                                        <span class="glyphicon glyphicon-search so-icon"></span>
                                        <input type="text" class="form-control" placeholder="{l}Search{endl}" ng-model="search.search">
                                        <span class="glyphicon glyphicon-remove so-icon so-remove" ng-click="toggleSearchButtons('search',undefined)"></span>
                                    </div>
                                    <!-- /.input-search -->

                                </div>
                            </div>
                        </div>

                        <div class="page-search-button export">
                            <div class="btn-group" uib-dropdown>
                                <button type="button" class="btn btn-tertiary " ng-click="searchThing()">
                     <span class="glyphicon glyphicon-search so-icon" ></span>
                     <!--  <span class="caret"></span> -->
                    </button>
                                <!-- <ul class="dropdown-menu dropdown-menu-right" uib-dropdown-menu>
                      <li><a href="{{item.EXPORT_HREF}}" target="_blank"><span class="fas fa-upload text-primary"></span> {l}Export to xls{endl}</a></li>
                    </ul> -->
                                <button type="button" class="btn btn-tertiary dropdown-toggle export" uib-dropdown-toggle>
                      <span class="caret"></span>
                    </button>
                                <ul class="dropdown-menu dropdown-menu-right" uib-dropdown-menu>
                                    <li><a href="{{item.EXPORT_HREF}}" target="_blank"><span class="fas fa-upload text-primary"></span> {l}Export to csv{endl}</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-sm-2 margin-top" ng-if="search.period_id=='4'">
                            <div class="so-field" ng-class="{ 'so-active':search.from!=undefined }">
                                <span class="glyphicon glyphicon-calendar so-icon" ng-click="datePickOpen.from=true"></span>
                                <input type="text" class="form-control" ng-model="search.from" uib-datepicker-popup="{{format}}" is-open="datePickOpen.from" datepicker-options="dateOptions" close-text="Close" placeholder="{l}From{endl}" show-button-bar="false" ng-click="datePickOpen.from=true"
                                    ng-change="searchThing()">
                                <span class="glyphicon glyphicon-remove so-icon so-remove" ng-click="toggleSearchButtons('from',undefined)"></span>
                            </div>
                            <!-- /.input-date -->
                        </div>
                        <div class="col-sm-2 margin-top" ng-if="search.period_id=='4'">
                            <div class="so-field" ng-class="{ 'so-active':search.to!=undefined }">
                                <span class="glyphicon glyphicon-calendar so-icon" ng-click="datePickOpen.to=true"></span>
                                <input type="text" class="form-control" ng-model="search.to" uib-datepicker-popup="{{format}}" is-open="datePickOpen.to" datepicker-options="dateOptions" close-text="Close" placeholder="{l}To{endl}" show-button-bar="false" ng-click="datePickOpen.to=true"
                                    ng-change="searchThing()">
                                <span class="glyphicon glyphicon-remove so-icon so-remove" ng-click="toggleSearchButtons('to',undefined)"></span>
                            </div>
                            <!-- /.input-date -->
                        </div>
                        <div class="btn-group btn-group-calendar margin-top" role="group" ng-if="search.period_id<'4' && search.period_id != ''">
                            <button type="button" class="btn btn-square btn-plain" ng-click="navigate(-1)"><span class="glyphicon glyphicon-chevron-left"></span></button>
                            <span class="calendar-date">{{item.period_txt}}</span>
                            <button type="button" class="btn btn-square btn-plain" ng-click="navigate(+1)"><span class="glyphicon glyphicon-chevron-right"></span></button>
                        </div>
                        <div class="btn-group btn-inline btn-group-calendar margin-top" ng-show="search.period_id<'4' && search.period_id != ''">
                            <button class="btn btn-square btn-plain" ng-model="search.start_date" uib-datepicker-popup="{{format}}" is-open="datePickOpen.start_date" datepicker-options="dateOptions" close-text="Close" show-button-bar="false" ng-click="datePickOpen.start_date=true"
                                ng-change="navigate(+0)">
					<span class="glyphicon glyphicon-calendar"></span>
				</button>
                        </div>
                    </form>
                </div>
                <!-- /.page-search -->
                <div uib-alert ng-repeat="alert in alerts" type="{{alert.type}}" close="alerts.splice($index, 1);" ng-class="['alert-' + (alert.type || 'warning'), 'alert-fixed' ]" dismiss-on-timeout='5000'>{{alert.msg}}</div>
                <div class="row page-content">

                    <div class="col-sm-12" margin-top>
                        <ul class="nav nav-tabs tabs-default" role="tablist" id="reportsNav">
                            <li class="active"><a href="#results" aria-controls="results" role="tab" data-toggle="tab" aria-expanded="true">{l}Results{endl}</a></li>

                        </ul>
                        <div class="tab-content">

                            <div class="tab-pane fade in active" id="invoices">
                                <div class="section-content">
                                    <!-- <div uib-alert type="notice" class="alert-warning" ng-if="!item.invoice_tab.other_row.length">{l}No data to display{endl}</div>					 -->
                                    <table class="table active_rows orderTable" ng-if="item.invoice_tab.other_row.length">
                                        <thead>
                                            <tr>
                                                <th class="col-sm-1">{l}Invoice{endl}</th>
                                                <th class="col-sm-2 sortable_row" ng-class="{ 'sortable_row-up':(!reverse && ord=='cname') , 'sortable_row-down':(reverse && ord=='cname') }" ng-click="orderBY('cname')">{l}Customer{endl}</th>
                                                <th class="col-sm-1">{l}Date{endl}</th>
                                                <th class="col-sm-1">{l}Code{endl}</th>
                                                <th class="col-sm-2">{l}Description{endl}</th>
                                                <th class="col-sm-1">{l}Line price{endl}</th>
                                                <th class="col-sm-1 text-center">{l}Base price{endl}</th>
                                                <th class="col-sm-1 text-center sortable_row" ng-class="{ 'sortable_row-up':(!reverse && ord=='difference') , 'sortable_row-down':(reverse && ord=='difference') }" ng-click="orderBY('difference')">{l}Difference{endl}</th>
                                                <th class="col-sm-1 text-center ">{l}Quantity{endl}</th>
                                                <th class="col-sm-1"></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="art in item.invoice_tab.other_row">
                                                <td class="text-muted">
                                                    {{art.serial_number}}
                                                    <span class="item-icons">
					                      <i class="fa fa-exclamation text-danger" aria-hidden="true" ng-if="art.late"></i>
					                    </span>
                                                </td>
                                                <td class="text-muted">{{art.buyer_name}}</td>
                                                <td class="text-muted">{{art.created}}</td>
                                                <td class="text-muted">{{art.item_code}}</td>
                                                <td class="text-muted">{{art.description}}</td>
                                                <td class="text-muted"><span ng-bind-html="art.line_price"></span></td>
                                                <td class="text-muted text-center"><span ng-bind-html="art.base_price"></span></td>
                                                <td class="text-muted text-center"><span ng-bind-html="art.difference"></span></td>
                                                <td class="text-muted text-center">{{art.quantity}}</td>
                                                <td class="table_actions">
                                                    <div class="btn-group" uib-dropdown>
                                                        <button type="button" class="btn btn-plain dropdown-toggle" uib-dropdown-toggle>
				                              <span class="caret"></span>
				                          </button>
                                                        <ul class="dropdown-menu dropdown-menu-right" uib-dropdown-menu>
                                                            <li>
                                                                <a href="#" go-to="" state="invoice.view" params='{"invoice_id": {{::art.id}}}'><span class="glyphicon glyphicon-info-sign text-primary"></span> {l}View{endl}</a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <ul ng-if="item.invoice_tab.max_rows > 30" uib-pagination total-items="item.invoice_tab.max_rows" ng-model="search.offset_invoice" ng-change="get_more('invoicesTab','1')" max-size="5" class="pager" boundary-links="true" items-per-page="item.invoice_tab.lr"></ul>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>