<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-label="{l}Close{endl}" ng-click="cancel()"><span aria-hidden="true">&times;</span></button>
  <h4 class="modal-title">{l}Add Item{endl}</h4>
</div>
<div class="modal-body">
  <div class="row page-search">
    <form>
      <div class="col-xs-12 page-search_options">
        
          <div class="row">
            <div class="col-xs-12 col-search-input">
                <div class="so-field" ng-class="{ 'so-active':search.search!='' }">
               <span class="glyphicon glyphicon-search so-icon"></span>
               <input class="form-control" type="text" placeholder="{l}Search{endl}" search-it doit="search" callbk="renderList" ng-model="search.search" >
               </div>
            </div>
          </div>
        
       
      </div><!-- /.page-search_options -->
    </form>
  </div><!-- /.page-search -->
  <form class="form-horizontal"  >
    <div class="row">
      <div class="col-xs-12">
        <table class="table deliveryTable">
          <thead>
            <tr>
              <th >{l}Code{endl}</th>
              <th >{l}Internal Name{endl}</th>
              <th >{{obj.txt_name}}</th>
              <th >{l}Purchase price{endl}</th>
              
              <th class="articles_controls">{l}Add Item{endl}</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="item in obj.lines" class="collapseTr">
              <td>{{::item.code}}</td>
              <td>{{::item.name}}</td>
              <td >{{::item.name2}}</td>
              <td ng-bind-html="::item.purchase_price"></td>
            
              <td class="articles_controls">
                <div class="row">
                  <div class="col-xs-7">
                    <input type="text" ng-model="item.quantity" class="form-control">
                  </div>
                  <div class="col-xs-2">
                    <span class="glyphicon glyphicon-plus btn-expand" ng-click="ok(item)"></span>
                  </div>
                  <div class="col-xs-2">
                    <i ng-if="item.succes_add" class="fa fa-check-square fa-2x text-success" aria-hidden="true"></i>
                  </div>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div><!-- /.tabelu -->
  </form>
  <ul ng-if="max_rows > 10" uib-pagination total-items="max_rows" ng-model="search.offset" ng-change="searchThing()" max-size="5" class="pager" boundary-links="true" items-per-page="lr" ></ul>
</div>
<div class="modal-footer">
    <button class="btn btn-plain" type="button" ng-click="cancel()">{l}Close{endl}</button>
   
</div>