<div class="modal-body">
	<div uib-alert ng-repeat="alert in alerts" type="{{alert.type}}" close="alerts.splice($index, 1);" ng-class="['alert-' + (alert.type || 'warning') ]">{{alert.msg}}</div>
   <div class="row">
		<div class="col-xs-6"><strong>{l}Article{endl}:</strong>  {{::obj.article_name}}</div>
		
	</div>
	<div class="row">
		<div class="col-xs-12">
	
<table class="table table_head_only" cellspacing="0" cellpadding="0">
<thead>
	<tr>
      <th class="col-sm-4">{l}Batch Number{endl} </th>
      <th class="col-sm-4">{l}Expiration date{endl} </th> 
      <th class="col-sm-2">{l}Quantity{endl} </th>
      <th class="col-sm-2"></th>   
    </tr>
</thead>
<tbody>
 <tr ng-repeat="item in obj.b_n_row">
               <td  class="text-muted "><input ng-model="item.batch_number_v" class="form-control ng-pristine ng-valid ng-touched"   type="text"></td>
               <td  class="text-muted ">
               	<div class="so-field input-date">
                    <span class="glyphicon glyphicon-calendar so-icon" ng-click="edit.openDate('date')"></span>
                    <input type="text" class="form-control form-control-border-right" ng-model="item.date_h" uib-datepicker-popup="{{edit.format}}" is-open="item.datePickOpen.date" datepicker-options="item.dateOptions" ng-required="true" close-text="Close" placeholder="{l}Expiration date{endl}" show-button-bar="false" ng-click="item.datePickOpen.date=true" />
                  </div><!-- /.so-field -->

               </td>
               <td  class="text-muted "><input ng-model="item.batch_number_q" ng-blur="batchNrChange()" class="form-control ng-pristine ng-valid ng-touched"   type="text"></td> 
               <td  class="text-muted btn-remove">
               <div class="pull-right"><span class="fa fa-trash" ng-click="obj.removeLine($index)"></span></div></td>
 </tr>             
</tbody>
</table>




	
	<p></p>
	<div class="buttons pull-right" ng-if="obj.hide_for_view" >	
				
		<button type="button" class="btn btn-sm btn-tertiary" ng-click="obj.addLine(false,0)">{l}Add New Line{endl}</button>	
	</div>
	</div>
 </div>	


<div class="row" ng-if="obj.hide_for_view">
		<div class="col-xs-12">{l}Quantity to add{endl}: <strong class="all">{{obj.article_no}}</strong></div>
		<div class="col-xs-12" ng-class="{ 'span-red':obj.article_no != obj.q_added, 'span-green':obj.article_no == obj.q_added }">{l}Quantity added{endl}: <span><strong>{{obj.q_added}}</strong></span></div>
</div>

	
</div>
<div class="modal-footer">
    <button class="btn btn-plain" type="button" ng-click="cancel()">{l}Close{endl}</button>
    <button class="btn btn-default" type="button" ng-click="ok(obj.b_n_row)">{l}Save{endl}</button>
</div>
