<style>
body { color: #000; font-family: 'Open Sans', sans-serif; font-size: 9pt; }
h1 { font-size:10pt; font-weight:normal; }
table { border-collapse: collapse; border-spacing: 0; }
table td{ font-size: 9pt; }
</style>
{HEADER}
<table width="100%" cellspacing="0" cellpadding="5" class="invoice_rows">
    <tr style="background-color: #666; color: #fff;">
    <td class="th" width="20%" style="font-size: 10pt;">{article_code_txt}</td>
    <td class="th" width="{article_width}%" style="font-size: 10pt;">{article_txt}</td>
    <td class="th" width="13%" style="font-size: 10pt;">{quantity_txt}</td>
    {if:delivery}<td class="th" width="11%" style="font-size: 10pt;text-align: right;">{unit_price_txt}</td>
    {if:sh_discount_total}<td class="th" width="12%" style="font-size: 10pt;">{discount_txt}</td>{end}
    <!-- {if:allow_article_packing}<td class="th" width="13%" style="font-size: 10pt;">{packing_txt}{if:allow_article_sale_unit} / {sale_unit_txt}{end}</td>
    <td width="11%" style="text-align: right;font-size: 10pt;">{total_amount_txt}</td>{end} -->
    <td width="11%" style="text-align: right;font-size: 10pt;">{amount_txt}</td>{else}
    {if:allow_article_packing}<td class="th" width="13%" style="font-size: 10pt;">{packing_txt}{if:allow_article_sale_unit} / {sale_unit_txt}{end}</td>{end}{end}
  </tr>
  <tbody>
    {if:is_first_content_line}
    {if:is_content_line2}
    <tr>
      <td colspan="10" style="border-right:1px solid #cccccc;text-align:left;" >{content_line2}</td>
    </tr>
    {end}
    {end}
    {loop:order_row}
    <tr>
      {if:is_article_code}
      <td class="" width="20%" style="line-height: 15px;font-size: 9pt; background-color: #fff;  border-bottom: 1px solid #a7a7a7; text-align: left;">{article_code}</td>
      {end}
      <td class="first-of-type {content_class}" style="line-height: 15px;font-size: 10pt; background-color: #fff;  border-bottom: 1px solid #a7a7a7; text-align: left;" {colspan} >{article}
      {if:is_serial_number}{art_serial_number_list}{end}
      {if:is_batch_number}{art_batch_number_list}{end}
      </td>{if:content}
      <td class="{q_class}" style="line-height: 15px;font-size: 10pt; background-color: #fff;  border-bottom: 1px solid #a7a7a7;">{quantity}</td>
      {if:delivery}
      <td style="line-height: 15px;font-size: 10pt; background-color: #fff;  border-bottom: 1px solid #a7a7a7; text-align: right;">{price}</td>
      {if:sh_discount_total}<td style="line-height: 15px;font-size: 10pt; background-color: #fff;  border-bottom: 1px solid #a7a7a7;">{discount}</td>{end}
      <!-- {if:allow_article_packing}<td style="line-height: 15px;font-size: 10pt; background-color: #fff;  border-bottom: 1px solid #a7a7a7;">{packing}{if:allow_article_sale_unit} / {sale_unit}{end}</td><td style="line-height: 15px;font-size: 10pt; background-color: #fff;  border-bottom: 1px solid #a7a7a7; text-align: right;">{total_amount}</td>{end} -->
      <td class="last" style="line-height: 15px;font-size: 10pt; background-color: #fff;  border-bottom: 1px solid #a7a7a7; text-align: right;">{price_vat}</td>{else}{if:allow_article_packing}<td style="line-height: 15px;font-size: 10pt; background-color: #fff;  border-bottom: 1px solid #a7a7a7;">{packing}{if:allow_article_sale_unit} / {sale_unit}{end}</td>{end}{end}{end}
    </tr>
    {if:is_content_line}
    <tr>
      <td colspan="10">{content_line}</td>
    </tr>
    {end}
    {endloop}
  </tbody>
</table>
{if:delivery}
<table cellpadding="0" cellspacing="8" border="0" width="100%">
  {if:sh_discount}
    <tr class="{sh_discount}">
        <td width="85%" style="text-align: right;line-height: 15px;font-size: 10pt;">{discount_txt}{discount_percent}:</td>
        <td width="15%" style="text-align: right;line-height: 15px;font-size: 10pt;">{discount_total}</td>
    </tr>
  {end}
  <tr>
    <td width="85%" style="text-align: right;line-height: 15px;font-size: 10pt;"><strong>{amount_txt}:</strong></td>
    <td width="15%" style="text-align: right;line-height: 15px;font-size: 10pt;"><strong>{total_vat}</strong></td>
  </tr>
   <!-- <tr class="{hide_default_total}">
    <td width="85%"  class="right"><strong>{amount_txt} ({def_currency})</strong></td>
    <td width="15%" class="right "><strong>{total_amount_due_default}</strong></td>
  </tr> -->
</table>
{end}
{if:show_delivery_note}
<br />
<br />
<h1 style="border-bottom:1px solid #CCCCCC;" >{entry_note_txt}</h1><br>
<span style="font-size:9pt;">{delivery_note}</span>
<br />
{end}
<br />
<br />
<h1 style="border-bottom:1px solid #CCCCCC;" class="{view_notes}">{notes_txt}</h1><br>
<span style="font-size:9pt;">{notes}</span>
