<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="cancel()"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title">{{delivery.page_title}}</h4>
</div>
<div class="modal-body delivery_modal">
    <div uib-alert ng-repeat="alert in alerts" type="{{alert.type}}" close="alerts.splice($index, 1);" ng-class="['alert-' + (alert.type || 'warning') ]">{{alert.msg}}</div>
    <!-- <div class="row">
    <div class="col-xs-12">
      <a href="#" ng-click="hideDetails=false" ng-class="{ 'hidden':!hideDetails }"><span class="glyphicon glyphicon-plus btn-expand" ></span> [{l}change main details{endl}]</a>
      <a href="#" ng-click="hideDetails=true" ng-class="{ 'hidden':hideDetails }"><span class="glyphicon glyphicon-minus btn-expand" ></span> [{l}hide main details{endl}]</a>
    </div>
  </div> -->
    <form class="form-horizontal">
        <div ng-class="{ 'hidden':hideDetails }">
            <div class="form-group" ng-if="delivery.multiple_deliveries">
                <label class="col-xs-3 control-label text-left">{l}Delivery{endl}</label>
                <div class="col-xs-3">
                  <selectize config='multiDeliveryCfg' options='delivery.multiple_deliveries' ng-model="delivery.delivery_id"></selectize>
                </div>
            </div>
            <div class="form-group" ng-if="delivery.is_add">
                <label class="col-xs-3 control-label text-left">{l}Delivery Date{endl}<span class="red-text"><b> *</b></span></label>
                <div class="col-xs-9 col-sm-3">
                    <!-- <div class="input-group input-group-sm">
                        <input type="text" class="form-control" ng-model="delivery.date_del_line" uib-datepicker-popup="{{format}}" is-open="datePickOpen.date_del_line" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close"
                            placeholder="{l}dd/MM/yyyy{endl}" show-button-bar="false" ng-click="datePickOpen.date_del_line=true" /><span class="input-group-btn"><button type="button" class="btn btn-default" ng-click="openDate('date_del_line')"><span class="glyphicon glyphicon-calendar"></span></button>
                        </span>
                    </div> -->
                    <div class="input-group input-group-sm so-field input-date">
                        <span class="glyphicon glyphicon-calendar so-icon"></span><input type="text" class="form-control" ng-model="delivery.date_del_line" uib-datepicker-popup="{{format}}" is-open="datePickOpen.date_del_line" datepicker-options="dateOptions"
                            date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" placeholder="{l}dd/MM/yyyy{endl}" show-button-bar="false" ng-click="datePickOpen.date_del_line=true" />
                    </div>
                </div>
                <!-- <div class="col-xs-1 input-group-sm">
                    <select class="form-control" ng-model="delivery.hour">
            <option ng-repeat="option in hours" value="{{option}}">{{option}}</option>
          </select>
                </div>
                <div class="col-xs-1 input-group-sm">
                    <select class="form-control" ng-model="delivery.minute">
            <option ng-repeat="option in minutes" value="{{option}}">{{option}}</option>
          </select>
                </div>
                <div class="col-xs-1 input-group-sm">
                    <select class="form-control" ng-model="delivery.pm">
            <option value="am">am</option>
            <option value="pm">pm</option>
          </select>
                </div> -->
            </div>


        </div>
        <div class="form-group" ng-if="delivery.is_add && delivery.view_location">
            <label class="col-xs-3 control-label text-left">{l}Stock Location{endl}</label>
            <div class="col-xs-9 col-sm-5">
                <!-- <select class="form-control" ng-model="delivery.select_main_location">
          <option ng-repeat="option in delivery.location_dd" value="{{option.id}}">{{option.name}}</option>
        </select> -->
                <selectize config='stockLocationCfg' options='delivery.location_dd' ng-model="delivery.select_main_location" id="delivery_location"></selectize>
            </div>
        </div>
        <div class="form-group" ng-if="delivery.is_add && delivery.view_location">
            <label class="col-xs-3 control-label text-left">{l}Remark{endl}</label>
            <div class="col-xs-9">
                <textarea ng-model="delivery.delivery_note" class="form-control" rows="2"></textarea>
            </div>
        </div>
        <div class="form-group" ng-if="!delivery.is_add">
            <label class="col-xs-3 control-label text-left">{l}Remark{endl}</label>
            <div class="col-xs-9">
                <textarea ng-model="delivery.delivery_note" class="form-control" rows="2"></textarea>
            </div>
        </div>
        <div class="row" ng-if="!delivery.is_add">
            <div class="col-xs-12">
                <b>{l}Delivery Date{endl}:</b> {{delivery.delivery_date}} &nbsp; {{delivery.hour}}:{{delivery.minute}} {{delivery.pm}}
            </div>
            <div class="col-xs-12">
                <b>{l}Contact{endl}:</b> {{delivery.contact_name}}
            </div>
            <div class="col-xs-12">
                <b>{l}Delivery Address{endl}:</b>
                <div ng-bind-html="delivery.delivery_address_txt"></div>
            </div>
        </div>
        <div class="row" ng-if="delivery.is_add">
            <div class="col-xs-12">
                <table class="table deliveryTable">
                    <thead>
                        <tr>
                            <th class="col-xs-3">{l}Code{endl}</th>
                            <th class="col-xs-3">{l}Article{endl}</th>


                            <th class="col-xs-3">{l}Quantity{endl}</th>

                            <th class="col-xs-2" ng-if="delivery.use_serial_no">{l}Serial Numbers{endl}</th>
                            <th class="col-xs-2" ng-if="delivery.use_batch_no">{l}Batch Numbers{endl}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="item in delivery.lines" class="collapseTr">
                            <td>{{::item.code}}</td>
                            <td>{{::item.article}}</td>

<!--                            since AKTI-4808-->
<!--                            <td ng-class="{ 'is-error':item.is_error }"><input type="text" ng-model="item.quantity" class="form-control" display-nr=""><i class="fa fa-exclamation-circle" ng-if="item.is_error"></i></td>-->
                            <td><input type="text" ng-model="item.quantity" class="form-control" display-nr=""></td>

                            <td ng-if="delivery.use_serial_no"><button type="button" class="btn " ng-if="item.use_serial_no_art" ng-click="openModal('serialNrP',item)" ng-class="{ 'btn-primary':item.serialOk, 'btn-secondary':!item.serialOk }">{l}Serial Numbers{endl}</button> </td>
                            <td ng-if="delivery.use_batch_no"><button type="button" class="btn " ng-if="item.use_batch_no_art" ng-click="openModal('batchNrP',item)" ng-class="{ 'btn-primary':item.batchOk, 'btn-secondary':!item.batchOk }">{l}Batch Numbers{endl}</button> </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <!-- /.tabelu -->

        <div class="row" ng-if="!delivery.is_add">
            <div class="col-xs-12">
                <table class="table deliveryTable">
                    <thead>
                        <tr>
                            <th>{l}Code{endl}</th>
                            <th>{l}Article{endl}</th>
                            <th ng-if="delivery.allow_article_packing">{l}Pack{endl}.<span ng-if="delivery.allow_article_sale_unit"> / {l}S.U.{endl}</span></th>
                            <th>{l}Quantity{endl}</th>
                            <th ng-if="delivery.use_serial_no">{l}Serial Numbers{endl}</th>
                            <th ng-if="delivery.use_batch_no">{l}Batch Numbers{endl}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="collapseTr" ng-repeat="item in delivery.lines" ng-init="showStats2(item,$index)">
                            <td>{{::item.code}}</td>
                            <td>{{::item.article}}</td>
                            <td ng-if="delivery.allow_article_packing">{{::item.packing}} <span ng-if="delivery.allow_article_sale_unit"> / {{::item.sale_unit}}</span></td>
                            <td>{{::item.quantity}}</td>
                            <td ng-if="delivery.use_serial_no"><button type="button" ng-if="item.use_serial_no_art" ng-click="openModal('serialNr',item,'sm')" class="btn btn-primary">{l}Serial Numbers{endl}</button> </td>
                            <td ng-if="delivery.use_batch_no"><button type="button" ng-if="item.use_batch_no_art" ng-click="openModal('batchNr',item)" class="btn btn-primary">{l}Batch Numbers{endl}</button> </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <!-- /.tabelu -->


    </form>
</div>
<div class="modal-footer">
    <button class="btn btn-plain" type="button" ng-click="cancel()">{l}Close{endl}</button>
    <button class="btn btn-default" type="button" ng-click="ok()">{l}Save{endl}</button>
</div>