<div class="modal-body delivery_modal">
  <div uib-alert ng-repeat="alert in alerts" type="{{alert.type}}" close="alerts.splice($index, 1);" ng-class="['alert-' + (alert.type || 'warning') ]">{{alert.msg}}</div>
 
  <form class="form-horizontal"  >
  
 
    <div class="row">
      <div class="col-xs-12">
        <table class="table deliveryTable">
          <thead>
            <tr>
              <th class="col-xs-3">{l}Article{endl}</th>
             
            
              <th class="col-xs-6">{l}Quantity{endl}</th>
             
            
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="item in delivery.lines" class="collapseTr">
              <td>{{::item.article}}</td>
             
        
              <td ng-class="{ 'is-error':item.is_error }"><input type="text" ng-model="item.quantity" class="form-control" display-nr=""><i class="fa fa-exclamation-circle" ng-if="item.is_error"></i></td>
             
             
            </tr>
          </tbody>
        </table>
      </div>
    </div><!-- /.tabelu -->
   
    <div class="form-group">
      <label class="col-xs-3 control-label text-left"><b>{l}Delivery note{endl}:</b></label>
      <div class="col-xs-9">
        <textarea ng-model="delivery.delivery_note" class="form-control" rows="5"></textarea>
      </div>
    </div>
   
  
  </form>
</div>
<div class="modal-footer">
    <button class="btn btn-plain" type="button" ng-click="cancel()">{l}Close{endl}</button>
    <button class="btn btn-primary" type="button" ng-click="ok()">{l}Save{endl}</button>
</div>