<div class="modal-header">
    <h3 class="modal-title">{{vm.obj.page_title}}</h3>
</div>
<div class="tab-content">
    <div class="tab-pane active" id="labels">
        <div class="modal-body">
            <!-- <div uib-alert ng-repeat="alert in vm.alerts" type="{{alert.type}}" close="vm.alerts.splice($index, 1);" ng-class="['alert-' + (alert.type || 'warning'), 'alert-fixed' ]" dismiss-on-timeout='5000' >{{alert.msg}}</div> -->
            <form class="form-horizontal">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="form-group">
                            <label class="col-xs-3 control-label text-left">{l}Depot{endl}:</label>
                            <div class="col-xs-7 input-group-md">
                                <input type="input" class="form-control" ng-model="vm.obj.naming">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-xs-3 control-label text-left">{l}Country{endl}:</label>
                            <div class="col-xs-7 input-group-md">
                                <select id="inputCountry" class="form-control" ng-model="vm.obj.country_id">
                        			<option ng-repeat="option in vm.obj.countries track by option.id"  value="{{option.id}}">{{option.name}}
                        			</option>
                      			</select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-xs-3 control-label text-left">{l}Street{endl}:</label>
                            <div class="col-xs-7 input-group-md">
                                <input type="input" class="form-control" ng-model="vm.obj.address">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-xs-3 control-label text-left">{l}ZIP{endl}:</label>
                            <div class="col-xs-7 input-group-md">
                                <input type="input" class="form-control" ng-model="vm.obj.zip">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-xs-3 control-label text-left">{l}City{endl}:</label>
                            <div class="col-xs-7 input-group-md">
                                <input type="input" class="form-control" ng-model="vm.obj.city">
                            </div>
                        </div>
                    </div>

                </div>
            </form>
        </div>
    </div>

</div>
<div class="modal-footer">
    <button class="btn btn-plain" type="button" ng-click="vm.cancel()">{l}Close{endl}</button>
    <button class="btn btn-default" type="button" ng-click="vm.save_me(vm.obj)">{l}Save{endl}</button>
</div>