<div class="modal-header">
    <h3 class="modal-title">{l}Edit Label{endl}</h3>
</div>
<ul class="nav nav-tabs" id="tabContent">
    <li class="active"><a href="#labels" data-toggle="tab">{l}PDF Labels{endl}</a></li>
    <li><a href="#weblink" data-toggle="tab">{l}Weblink labels{endl}</a></li>
</ul>
<div class="tab-content">
    <div class="tab-pane active" id="labels">
        <div class="modal-body">
            <!-- <div uib-alert ng-repeat="alert in vm.alerts" type="{{alert.type}}" close="vm.alerts.splice($index, 1);" ng-class="['alert-' + (alert.type || 'warning'), 'alert-fixed' ]" dismiss-on-timeout='5000' >{{alert.msg}}</div> -->
            <form class="form-horizontal">
                <div class="row">
                    <div class="col-xs-6">
                        <div class="form-group">
                            <label class="col-xs-5 control-label text-left">{l}Purchase Order{endl}:</label>
                            <div class="col-xs-7 input-group-sm">
                                <input type="text" class="form-control" ng-model="vm.labels.p_order" placeholder="{l}Purchase Order{endl}">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-xs-5 control-label text-left">{l}Article{endl}:</label>
                            <div class="col-xs-7 input-group-sm">
                                <input type="text" class="form-control" ng-model="vm.labels.article" placeholder="{l}Article{endl}">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-xs-5 control-label text-left">{l}Unit Price{endl}:</label>
                            <div class="col-xs-7 input-group-sm">
                                <input type="text" class="form-control" ng-model="vm.labels.unit_price" placeholder="{l}Unit Price{endl}">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-xs-5 control-label text-left">{l}Code{endl}:</label>
                            <div class="col-xs-7 input-group-sm">
                                <input type="text" class="form-control" ng-model="vm.labels.article_code" placeholder="{l}Code{endl}">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-xs-5 control-label text-left">{l}Phone{endl}:</label>
                            <div class="col-xs-7 input-group-sm">
                                <input type="text" class="form-control" ng-model="vm.labels.Phone" placeholder="{l}Phone{endl}">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-xs-5 control-label text-left">{l}Email{endl}:</label>
                            <div class="col-xs-7 input-group-sm">
                                <input type="text" class="form-control" ng-model="vm.labels.email" placeholder="{l}Email{endl}">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-xs-5 control-label text-left">{l}Delivery Address{endl}:</label>
                            <div class="col-xs-7 input-group-sm">
                                <input type="text" class="form-control" ng-model="vm.labels.billing_address" placeholder="{l}Delivery Address{endl}">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-xs-5 control-label text-left">{l}BIC Code{endl}:</label>
                            <div class="col-xs-7 input-group-sm">
                                <input type="text" class="form-control" ng-model="vm.labels.bic_code" placeholder="{l}BIC Code{endl}">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-xs-5 control-label text-left">{l}Notes{endl}:</label>
                            <div class="col-xs-7 input-group-sm">
                                <input type="text" class="form-control" ng-model="vm.labels.notes" placeholder="{l}Notes{endl}">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-xs-5 control-label text-left">{l}Your reference{endl}:</label>
                            <div class="col-xs-7 input-group-sm">
                                <input type="text" class="form-control" ng-model="vm.labels.your_ref" placeholder="{l}Your reference{endl}">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-xs-5 control-label text-left">{l}Delivery Address{endl}:</label>
                            <div class="col-xs-7 input-group-sm">
                                <input type="text" class="form-control" ng-model="vm.labels.delivery_address" placeholder="{l}Delivery Address{endl}">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-xs-5 control-label text-left">{l}Entry note{endl}:</label>
                            <div class="col-xs-7 input-group-sm">
                                <input type="text" class="form-control" ng-model="vm.labels.entry_note" placeholder="{l}Entry note{endl}">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-xs-5 control-label text-left">{l}Company Registration Number{endl}:</label>
                            <div class="col-xs-7 input-group-sm">
                                <input type="text" class="form-control" ng-model="vm.labels.comp_reg_number" placeholder="{l}Company Registration Number{endl}">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-xs-5 control-label text-left">{l}Total Amount{endl}:</label>
                            <div class="col-xs-7 input-group-sm">
                                <input type="text" class="form-control" ng-model="vm.labels.total_amount" placeholder="{l}Total Amount{endl}">
                            </div>
                        </div>

                    </div>
                    <div class="col-xs-6">
                        <div class="form-group">
                            <label class="col-xs-5 control-label text-left">{l}Purchase Order Note{endl}:</label>
                            <div class="col-xs-7 input-group-sm">
                                <input type="text" class="form-control" ng-model="vm.labels.p_order_note" placeholder="{l}Purchase Order Note{endl}">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-xs-5 control-label text-left">{l}Quantity{endl}:</label>
                            <div class="col-xs-7 input-group-sm">
                                <input type="text" class="form-control" ng-model="vm.labels.quantity" placeholder="{l}Quantity{endl}">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-xs-5 control-label text-left">{l}Amount{endl}:</label>
                            <div class="col-xs-7 input-group-sm">
                                <input type="text" class="form-control" ng-model="vm.labels.amount" placeholder="{l}Amount{endl}">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-xs-5 control-label text-left">{l}Date{endl}:</label>
                            <div class="col-xs-7 input-group-sm">
                                <input type="text" class="form-control" ng-model="vm.labels.date" placeholder="{l}Date{endl}">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-xs-5 control-label text-left">{l}Fax{endl}:</label>
                            <div class="col-xs-7 input-group-sm">
                                <input type="text" class="form-control" ng-model="vm.labels.fax" placeholder="{l}Fax{endl}">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-xs-5 control-label text-left">{l}Url{endl}:</label>
                            <div class="col-xs-7 input-group-sm">
                                <input type="text" class="form-control" ng-model="vm.labels.url" placeholder="{l}Url{endl}">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-xs-5 control-label text-left">{l}Bank Name{endl}:</label>
                            <div class="col-xs-7 input-group-sm">
                                <input type="text" class="form-control" ng-model="vm.labels.bank_name" placeholder="{l}Bank Name{endl}">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-xs-5 control-label text-left">{l}IBAN{endl}:</label>
                            <div class="col-xs-7 input-group-sm">
                                <input type="text" class="form-control" ng-model="vm.labels.iban" placeholder="{l}IBAN{endl}">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-xs-5 control-label text-left">{l}Our reference{endl}:</label>
                            <div class="col-xs-7 input-group-sm">
                                <input type="text" class="form-control" ng-model="vm.labels.our_ref" placeholder="{l}Our reference{endl}">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-xs-5 control-label text-left">{l}Delivery Date{endl}:</label>
                            <div class="col-xs-7 input-group-sm">
                                <input type="text" class="form-control" ng-model="vm.labels.entry_date" placeholder="{l}Delivery Date{endl}">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-xs-5 control-label text-left">{l}Page{endl}:</label>
                            <div class="col-xs-7 input-group-sm">
                                <input type="text" class="form-control" ng-model="vm.labels.page" placeholder="{l}Page{endl}">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-xs-5 control-label text-left">{l}Company Name{endl}:</label>
                            <div class="col-xs-7 input-group-sm">
                                <input type="text" class="form-control" ng-model="vm.labels.company_name" placeholder="{l}Company Name{endl}">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-xs-5 control-label text-left">{l}Vat{endl}:</label>
                            <div class="col-xs-7 input-group-sm">
                                <input type="text" class="form-control" ng-model="vm.labels.vat" placeholder="{l}Vat{endl}">
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="tab-pane" id="weblink">
        <div class="modal-body">
            <!-- <div uib-alert ng-repeat="alert in vm.alerts" type="{{alert.type}}" close="vm.alerts.splice($index, 1);" ng-class="['alert-' + (alert.type || 'warning'), 'alert-fixed' ]" dismiss-on-timeout='5000'>{{alert.msg}}</div> -->
            <form class="form-horizontal">
                <div class="row">
                    <div class="col-xs-6">
                        <div class="form-group">
                            <label class="col-xs-5 control-label text-left">{l}Download{endl}:</label>
                            <div class="col-xs-7 input-group-sm">
                                <input type="text" class="form-control" ng-model="vm.labels.download_webl" placeholder="{l}Download{endl}">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-xs-5 control-label text-left">{l}Name{endl}:</label>
                            <div class="col-xs-7 input-group-sm">
                                <input type="text" class="form-control" ng-model="vm.labels.name_webl" placeholder="{l}Name{endl}">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-xs-5 control-label text-left">{l}Add your comment here{endl}:</label>
                            <div class="col-xs-7 input-group-sm">
                                <input type="text" class="form-control" ng-model="vm.labels.addCommentLabel_webl" placeholder="{l}Add your comment here{endl}">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-xs-5 control-label text-left">{l}Purchase Order No{endl}:</label>
                            <div class="col-xs-7 input-group-sm">
                                <input type="text" class="form-control" ng-model="vm.labels.p_order_webl" placeholder="{l}Purchase Order No{endl}">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-xs-5 control-label text-left">{l}Accept{endl}:</label>
                            <div class="col-xs-7 input-group-sm">
                                <input type="text" class="form-control" ng-model="vm.labels.accept_webl" placeholder="{l}Accept{endl}">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-xs-5 control-label text-left">{l}Reject{endl}:</label>
                            <div class="col-xs-7 input-group-sm">
                                <input type="text" class="form-control" ng-model="vm.labels.reject_webl" placeholder="{l}Reject{endl}">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-xs-5 control-label text-left">{l}Bank Details{endl}:</label>
                            <div class="col-xs-7 input-group-sm">
                                <input type="text" class="form-control" ng-model="vm.labels.bankDetails_webl" placeholder="{l}Bank Details{endl}">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-xs-5 control-label text-left">{l}Cancel{endl}:</label>
                            <div class="col-xs-7 input-group-sm">
                                <input type="text" class="form-control" ng-model="vm.labels.cancel_webl" placeholder="{l}Cancel{endl}">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-xs-5 control-label text-left">{l}BIC{endl}:</label>
                            <div class="col-xs-7 input-group-sm">
                                <input type="text" class="form-control" ng-model="vm.labels.bicCode_webl" placeholder="{l}BIC{endl}">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-xs-5 control-label text-left">{l}Bank{endl}:</label>
                            <div class="col-xs-7 input-group-sm">
                                <input type="text" class="form-control" ng-model="vm.labels.bank_webl" placeholder="{l}Bank{endl}">
                            </div>
                        </div>

                    </div>
                    <div class="col-xs-6">
                        <div class="form-group">
                            <label class="col-xs-5 control-label text-left">{l}Print PDF{endl}</label>
                            <div class="col-xs-7 input-group-sm">
                                <input type="text" class="form-control" ng-model="vm.labels.pdfPrint_webl" placeholder="{l}Print PDF{endl}">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-xs-5 control-label text-left">{l}Email{endl}</label>
                            <div class="col-xs-7 input-group-sm">
                                <input type="text" class="form-control" ng-model="vm.labels.email_webl" placeholder="{l}Email{endl}">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-xs-5 control-label text-left">{l}Submit{endl}</label>
                            <div class="col-xs-7 input-group-sm">
                                <input type="text" class="form-control" ng-model="vm.labels.submit_webl" placeholder="{l}Submit{endl}">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-xs-5 control-label text-left">{l}Date{endl}</label>
                            <div class="col-xs-7 input-group-sm">
                                <input type="text" class="form-control" ng-model="vm.labels.date_webl" placeholder="{l}Date{endl}">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-xs-5 control-label text-left">{l}Request New Version{endl}</label>
                            <div class="col-xs-7 input-group-sm">
                                <input type="text" class="form-control" ng-model="vm.labels.requestNewVersion_webl" placeholder="{l}Request New Version{endl}">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-xs-5 control-label text-left">{l}Status{endl}</label>
                            <div class="col-xs-7 input-group-sm">
                                <input type="text" class="form-control" ng-model="vm.labels.status_webl" placeholder="{l}Status{endl}">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-xs-5 control-label text-left">{l}Pay with IcePay{endl}</label>
                            <div class="col-xs-7 input-group-sm">
                                <input type="text" class="form-control" ng-model="vm.labels.payWithIcepay_webl" placeholder="{l}Pay with IcePay{endl}">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-xs-5 control-label text-left">{l}Regular invoice was created from these pro-forma{endl}</label>
                            <div class="col-xs-7 input-group-sm">
                                <input type="text" class="form-control" ng-model="vm.labels.regularInvoiceProForma_webl" placeholder="{l}Reqular invoice was created from these pro-forma{endl}">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-xs-5 control-label text-left">{l}IBAN{endl}</label>
                            <div class="col-xs-7 input-group-sm">
                                <input type="text" class="form-control" ng-model="vm.labels.ibanCode_webl" placeholder="{l}IBAN{endl}">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-xs-5 control-label text-left">{l}No data to display{endl}</label>
                            <div class="col-xs-7 input-group-sm">
                                <input type="text" class="form-control" ng-model="vm.labels.noData_webl" placeholder="{l}No data to display{endl}">
                            </div>
                        </div>

                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-plain" type="button" ng-click="vm.cancel()">{l}Close{endl}</button>
    <button class="btn btn-default" type="button" ng-click="vm.ok(vm,vm.labels)">{l}OK{endl}</button>
</div>