<style>
body {
	color: #000;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12pt;
}
h1 {
	font-size:14pt;
	font-weight:bold;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
.headline {
	font-size:16pt;
	font-weight:bold;
	text-align:center;
}
.right_box {
	border: 1px solid #000;
	width:240px;
}
.invoice_rows .th {
	border-bottom: 1px solid #000;
	color: #000;
	font-size: 12pt;
	font-weight: bold;
	padding-left: 10px;
	text-align: left;
}
.invoice_rows td {
	border-bottom: 1px solid #000;
	padding: 10px 10px 10px 10px;
	vertical-align:middle;
	font-size: 11pt;
}
.invoice_rows .last{
	text-align: right;
}
.hide {
	display:none;
}
.right{
   text-align:right;
}
</style>
<div class="headline">{invoice_note_txt}</div>
<table cellpadding="5" cellspacing="0" border="0">
  <tr>
    <td width="260" valign="top"><img src="{account_logo}" ></td>
  </tr>
  <tr>
    <td width="300"><strong>{invoice_txt}:</strong> {serial_number} <br/>
      <strong>{date_txt}:</strong> {order_date} <br/>
    </td>
    <td><strong>{customer_txt}:</strong> <br />
	  {buyer_name}<br/>
	  {buyer_address}<br/>
	  {buyer_zip}<br />
	  {buyer_city}<br/>
      {buyer_country}<br />       
    </td>
  </tr>
</table>
<table width="100%" cellspacing="0" cellpadding="4" border="0" class="invoice_rows">
  <tr>
    <td class="th" width="3%">&nbsp;</td>
    <td class="th" width="32%">Article</td>
    <td class="th" width="15%">{quantity_txt}</td>

	<td class="th" width="15%">{unit_price_txt}</td>
    <td width="15%" class="th last">{amount_txt}</td>
  </tr>
  <tbody>
          {loop:order_row}
          <tr>
		  	<td class="first-of-type">&nbsp;</td>
            <td>{article}</td>
            <td>{quantity}</td>
			
            <td>{price}</td>
			<td class="last">{price_vat}</td>
          </tr>
          {endloop}
        </tbody>
</table>
<table cellpadding="2" cellspacing="0" border="0" width="100%">
  <tr>
  <td colspan="2" height="30"></td>
  </tr>
  
  <tr>
    <td class="right"><strong>{amount_txt}:</strong></td>
    <td class="right"><strong>{total_vat}</strong></td>
  </tr>
</table>
<!--<h1>{NOTES_TXT}</h1>
</strong> <br/>
{NOTES} --> 