<style>
body { color: #000; font-family: Arial, Helvetica, sans-serif; font-size: 9pt; }
h1 { font-size:10pt; font-weight:normal; }
table { border-collapse: collapse; border-spacing: 0; }
table td{ font-size: 9pt; }
.border_bottom { border-bottom: 1px solid #CCC; }
.invoice_rows{ border-bottom: 1px solid #CCC; }
.invoice_rows .th { border: 1px solid #ccc; color: #000; font-size: 9pt; font-weight: bold; padding-left: 10px; text-align: center; }
.invoice_rows td { border-left: 1px solid #CCC; vertical-align:middle; font-size: 9pt; text-align:right; }
.invoice_rows .last { border-right: 1px solid #CCC; }
.hide { display:none; }
.right { text-align:right; }
td.last_nocenter{ border-right: 1px solid #d6d6d6; }
</style>
{if:head}
{HEADER}
{else}
<table cellpadding="0" cellspacing="0" border="0" width="760"  style="border-bottom:1pt solid #CCC;">
  <tr>
    <td width="260" valign="top"><img src="{account_logo}" {attr} ></td>
    <td><table cellpadding="0" cellspacing="0" border="0">
        <tr>
          <td style="border-bottom:1pt solid #CCC; text-align:right; font-size:14pt;"><strong>{p_order_txt}</strong></td>
        </tr>
        <tr>
          <td height="10"></td>
        </tr>
        <tr>
          <td style="text-align:right;">{p_order_note_txt}: <strong>{serial_number}</strong></td>
        </tr>
        <tr>
          <td style="text-align:right;">{date_txt}: {order_date}</td>
        </tr>
        {if:is_delivery_date} 
        <tr>
          <td style="text-align:right;">{entry_date_txt}: {delivery_date}</td>
        </tr>
        {end}
        {if:is_delivery_del_date}
        <tr>
          <td style="text-align:right;">{entry_date_txt}: {delivery_del_date}</td>
        </tr>
        {end}
        <tr class="{hide_our_ref}">
          <td style="text-align:right;">{our_ref_txt}: {our_ref}</td>
        </tr>
        <tr class="{hide_your_ref}">
          <td style="text-align:right;">{your_ref_txt}: {your_ref}</td>
        </tr>
      </table></td>
  </tr>
  <tr>
    <td height="5"></td>
  </tr>
</table>
<table cellpadding="0" cellspacing="0" border="0" width="100%" style="border-bottom:1pt solid #CCC;">
  <tr>
    <td colspan="2"></td>
  </tr>
  <tr>
     <td valign="top" width="40%"><h1>{seller_name}</h1>
      {seller_d_address}  <br/>
      {seller_d_zip} {seller_d_city} <br/>
      {seller_d_country}
     </td>
    <td valign="top" width="30%"><h1>{buyer_name}</h1>
       {address_info}
    </td>
    <td style="text-align:right;"><br /> <br /> 
    {delivery_address}
    </td>
  </tr>
  <tr><td colspan="2" height="18"></td></tr>
</table>
{end}
<table cellpadding="0" cellspacing="0" border="0" width="100%" class="{HIDE_B_D}" style="font-size: 9pt; " >
  <tr>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td></td>
    <td></td>
  </tr>
</table>
<table width="100%" cellspacing="0" cellpadding="5" class="invoice_rows">
    <tr>
    <td class="th" width="18%">{article_code_txt}</td>
    <td class="th" width="{article_width}%">{article_txt}</td>
    <td class="th" width="13%">{quantity_txt}</td>
    {if:delivery}<td class="th" width="13%">{unit_price_txt}</td>
    {if:sh_discount_total}<td class="th" width="12%">{discount_txt}</td>{end}
    {if:allow_article_packing}<td class="th" width="13%">{packing_txt}{if:allow_article_sale_unit} / {sale_unit_txt}{end}</td>
    <td width="10%" class="th">{total_amount_txt}</td>{end}
    <td width="9%" class="th last">{amount_txt}</td>{else}
    {if:allow_article_packing}<td class="th" width="13%">{packing_txt}{if:allow_article_sale_unit} / {sale_unit_txt}{end}</td>{end}
    {end}
  </tr>
  <tbody>
    {if:is_first_content_line}
    {if:is_content_line2}
    <tr>
      <td colspan="10" style="border-right:1px solid #cccccc;text-align:left;" >{content_line2}</td>
    </tr>
    {end}
    {end}
    {loop:order_row}
    <tr>
      {if:is_article_code}
      <td class="" width="18%" style="text-align:left;">{article_code}</td>
      {end}
      <td class="first-of-type {content_class}" style="text-align:left;" {colspan} >{article}
      {if:is_serial_number}{art_serial_number_list}{end}  
      {if:is_batch_number}{art_batch_number_list}{end}
      </td>{if:content}
      <td class="{q_class}">{quantity}</td>
      {if:delivery}
      <td>{price}</td>
      {if:sh_discount_total}<td >{discount}</td>{end}
      {if:allow_article_packing}<td >{packing}{if:allow_article_sale_unit} / {sale_unit}{end}</td><td>{total_amount}</td>{end}
      <td class="last">{price_vat}</td>{else}
      {if:allow_article_packing}<td class="last">{packing}{if:allow_article_sale_unit} / {sale_unit}{end}</td>{end}{end}{end}
    </tr>
    {if:is_content_line}
    <tr>
      <td colspan="10" style="border-right:1px solid #cccccc;text-align:left;" >{content_line}</td>
    </tr>
    {end}  
    {endloop}
  </tbody>
</table> 
{if:delivery}
<table cellpadding="0" cellspacing="8" border="0" width="100%"  style="border:1px solid #CCC;"> 
  {if:sh_discount}
  <tr class="{sh_discount}">
      <td width="85%" class="right">{discount_txt}{discount_percent}:</td>
      <td width="15%" class="right">{discount_total}</td>
  </tr>
  {end}
  <tr>
    <td width="85%"  class="right"><strong>{amount_txt}:</strong></td>    
    <td width="15%" class="right "><strong>{total_vat}</strong></td>
  </tr>
   <!-- <tr class="{hide_default_total}">
    <td width="85%"  class="right"><strong>{amount_txt} ({def_currency})</strong></td>    
    <td width="15%" class="right "><strong>{total_amount_due_default}</strong></td>
  </tr> -->
</table>
{end}
{if:show_delivery_note}
<br />
<br />
<h1 style="border-bottom:1px solid #CCCCCC;" >{entry_note_txt}</h1><br>
<span style="font-size:9pt;">{delivery_note}</span>
<br />
{end}
<br />
<br />
<h1 style="border-bottom:1px solid #CCCCCC;" class="{view_notes}">{notes_txt}</h1><br>
<span style="font-size:9pt;">{notes}</span>  