<div uib-alert ng-repeat="alert in alerts" type="{{alert.type}}" close="alerts.splice($index, 1);" dismiss-on-timeout="5000" ng-class="['alert-' + (alert.type || 'warning'), 'alert-fixed' ]">{{alert.msg}}</div>
<div class="panel panel-primary panel-order">
  <div class="panel-body">
    <div class="row">
  <div class="col-xs-12">
    <table class="table table_orders" id="contacts_list">
      <thead>
        <tr>
          <th class="col-sm-1">
            <div class="checkbox checkbox-primary">
                <input type="checkbox" ng-model="listObj.check_add_all" ng-click="checkAll()" id="master_checkbox">
                <label for="master_checkbox"></label>
            </div>
          </th>
          <th class="col-sm-1">{l}Quantity{endl}</th>
          <th class="text-center" ng-class="{ 'col-sm-3':!allow_stock , 'col-sm-2':allow_stock }">{l}Code{endl}</th>
          <th class="col-sm-2 text-center">{l}Internal name{endl}</th>
          <th class="col-sm-2 text-center">{l}Commercial name{endl}</th>
          <!-- <th class="col-sm-1 text-center" ng-if="order.allow_ stock">{l}Stock{endl}<br>({l}anticipated stock{endl})</th> -->
          <th class="col-sm-3 text-center">{l}Supplier{endl}</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="item in order.list" >

          <td class="text-muted"><div class="checkbox checkbox-primary" ng-if="item.is_article"><input type="checkbox"  ng-click="order_act(item)" ng-model="item.add_p_order" id="checkbox_order_{{$index}}"> <label for="checkbox_order_{{$index}}"></div></td>
          <td  class="text-muted"> <input type="text" ng-if="item.is_article" ng-model="item.quantity" class="form-control input-group-addon_shrink"  display-nr > </td>
           <td class="text-muted text-center" ng-if="!item.supplier_reference">{{::item.article_code}}</td>
            <td class="text-muted text-center" ng-if="item.supplier_reference">{{::item.supplier_reference}}</td>
            <td class="text-muted text-center">{{::item.internal_name}}</td>
             <td class="text-muted text-center">{{::item.article_name}}</td>
             <!-- <td class="text-center" ng-if="order.allow_stock"> {{::item.stock}}<br><span >{{::item.ant_stock}}</span></td> -->
             <td class="text-muted text-center"> <div class="form-group" ng-if="item.is_article" ng-class="{ 'form-group_alert' : data_form.supplier_id_{{$index}}.$invalid && !data_form.supplier_id_{{$index}}.$pristine }">
                                      <selectize class="multi_select" name="customer_id_{{$index}}" config='filterCust' options='item.supplier_dd' ng-model="item.supplier_id" placeholder="{l}Select Supplier{endl}" ng-disabled="item.disabled"></selectize>
                                      <div class="alert alert-sm alert-danger" ng-if="data_form['supplier_id_'+$index].$invalid && order.alertsField['supplier_id_'+$index]">{{order.alertsField['supplier_id_'+$index]}}</div>
                                    </div></td>
          
          
        </tr>
      </tbody>
    </table>

  </div>
</div>
   </div> 

</div>   
<p></p>
<div class="text-right">
  <button type="submit" class="btn btn-plain" ng-click="cancel()">{l}Cancel{endl}</button>
  <button type="submit" class="btn btn-default"  ng-click="save()">{l}Create{endl}</button>
</div>