<!-- neede on all pages -->
<div class="container">
  <div class="page-header">
    <div class="row">
      <div class="col-sm-8">
        <h1>{l}Purchase Order{endl} {{serial_number}} {{bulk_info}} <span class="badge item-status-gray" ng-class="{ 'item-status-green':nr_status=='green', 'item-status-yellow':nr_status=='orange' }">{{type_title}}</span></h1>
      </div>
      <div class="col-sm-4 page-header-options" ng-if="isAddPage">
        <button  go-to="" state="purchase_orders"  type="submit" class="btn btn-sm btn-default"><strong>{l}Back{endl}</strong></button>
        <navigator ng-if="is_view && p_order_id!='tmp'" pag="po_order-po_orders" itemid="{{p_order_id}}" originalPage="purchase_order.view"></navigator>
        <!-- <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-paperclip"></span> Files</button> -->
      </div>
    </div>        
  </div><!-- /.page-header -->
  <div ui-view></div>
</div>
<!-- neede on all pages --> 