<!-- <div uib-alert ng-repeat="alert in alerts" type="{{alert.type}}" close="alerts.splice($index, 1);" dismiss-on-timeout="5000" ng-class="['alert-' + (alert.type || 'warning') ]">{{alert.msg}}</div> -->
<div ng-if="!p_order.item_exists">
  <nopage></nopage>
</div>
<div ng-if="p_order.item_exists">
    <div class="panel panel-primary panel-order">
        <div class="panel-body">
            <div class="row">
                <div class="col-sm-6 col-md-3">
                    <h4 class="title_underline">{l}Purchase Order Details{endl}</h4>
                    <p><strong>{l}Date{endl}</strong> {{::p_order.factur_date}}</p>
                    <p ng-if="!showTxt.edit_delivery_date">
                        <strong>{l}Expected delivery date{endl}</strong> <span>{{::p_order.factur_del_date}}</span>
                        <span class="fas fa-pen ml-5 link-pointer" ng-click="showTxt.edit_delivery_date=true"></span>
                    </p>
                    <div class="margin-bottom form-horizontal" ng-if="showTxt.edit_delivery_date==true">
                        <div class="form-group">
                            <label class="control-label text-left col-sm-6"><b>{l}Expected delivery date{endl}</b></label>
                            <div class="col-sm-6">
                                <div class="so-field">
                                    <span class="glyphicon glyphicon-calendar so-icon" ng-click="datePickOpen.delivery_date=true"></span>
                                    <input type="text" ng-change="setDeliveryDate()" class="form-control form-control-border-right" ng-model="p_order.del_date" uib-datepicker-popup="{{format}}" is-open="datePickOpen.delivery_date" datepicker-options="dateOptions" close-text="Close" placeholder="{l}Expected delivery date{endl}"
                                        show-button-bar="false" ng-click="datePickOpen.delivery_date=true" />
                                </div>
                            </div>
                            <!-- <label class="control-label col-sm-1 pull-right text-success">
                      <i class="fa fa-check-circle link-pointer" aria-hidden="true" ng-click="setDeliveryDate()"></i>
                    </label> -->
                        </div>
                    </div>
                    <p ng-if="::p_order.ref"><strong>{l}Reference{endl}</strong> {{::p_order.ref}}</p>
                    <p ng-if="!showTxt.edit_our_ref"><strong>{l}Our reference{endl}</strong> <span>{{::p_order.our_ref}}</span> <span class="fas fa-pen ml-5 link-pointer" ng-click="showOurReference()"></span></p>
                    <div class="margin-bottom form-horizontal" ng-if="showTxt.edit_our_ref==true">
                        <div class="form-group">
                            <label class="control-label text-left col-sm-6"><strong>{l}Our reference{endl}</strong></label>
                            <div class="col-sm-6">
                                <input id="inp_or" type="text" class="form-control" ng-model="p_order.our_ref" placeholder="{l}Our reference{endl}" ng-blur="setOurReference()">
                            </div>
                            <!-- <label class="control-label col-sm-1 pull-right text-success">
                      <i class="fa fa-check-circle link-pointer" aria-hidden="true" ng-click="setOurReference()"></i>
                    </label> -->
                        </div>
                    </div>
                    <p ng-if="!showTxt.edit_your_ref"><strong>{l}Your reference{endl}</strong> <span>{{::p_order.your_ref}}</span> <span class="fas fa-pen ml-5 link-pointer" ng-click="showYourReference()"></span></p>
                    <a href="#" class="pull-left" ng-if="p_order.service_sn" ui-sref="service.view({ 'service_id':p_order.service_id })"><b>{l}Created from{endl}</b> <span class="text-link">{{p_order.service_sn}}</span></a>
                    <div class="margin-bottom form-horizontal" ng-if="showTxt.edit_your_ref==true">
                        <div class="form-group">
                            <label class="control-label text-left col-sm-6"><strong>{l}Your reference{endl}</strong></label>
                            <div class="col-sm-6">
                                <input id="inp_yr" type="text" class="form-control" ng-model="p_order.your_ref" placeholder="{l}Your reference{endl}" ng-blur="setYourReference()">
                            </div>
                            <!-- <label class="control-label col-sm-1 pull-right text-success">
                      <i class="fa fa-check-circle link-pointer" aria-hidden="true" ng-click="setYourReference()"></i>
                    </label> -->
                        </div>
                    </div>
                    <p ng-if="::p_order.auto_aac"><strong>{l}Additional Costs{endl}</strong> <span ng-bind-html="::p_order.add_cost"></span>
                        <p ng-if="p_order.orders.length"><strong>{l}Orders{endl} </strong> <span ng-repeat="item in p_order.orders"><a class="text-link"  ui-sref="order.view({ 'order_id':item.id })"> {{item.serial}}  <span ng-if="item.status">({{item.status}})</span></a><span ng-if="!$last">,</span></span>
                        </p>
                        <p ng-if="p_order.invoices.length"><strong>{l}Invoices{endl} </strong> <span ng-repeat="item in p_order.invoices"><a class="text-link"  ui-sref="invoice.view({ 'invoice_id':item.id })"> {{item.serial}}  <span ng-if="item.status">({{item.status}})</span></a><span ng-if="!$last">,</span></span>
                        </p>
                        <p ng-if="p_order.quotes.length"><strong>{l}Quotes{endl} </strong> <span ng-repeat="item in p_order.quotes"><a class="text-link"  ui-sref="quote.view({ 'quote_id':item.id })"> {{item.serial}}  <span ng-if="item.status">({{item.status}})</span></a><span ng-if="!$last">,</span></span>
                        </p>
                        <p ng-if="p_order.p_invoices.length"><strong>{l}Purchase Invoices{endl} </strong> <span ng-repeat="item in p_order.p_invoices"><a class="text-link"  ui-sref="purchase_invoice.view({ 'invoice_id':item.id })"> {{item.serial}}  <span ng-if="item.status">({{item.status}})</span></a>
                            <span ng-if="!$last">,</span>
                            </span>
                        </p>
                        <!-- <p ng-if="p_order.segment_dd.length && !showTxt.segment"><strong>{l}Segment{endl}</strong> {{p_order.segment}} <span class="pull-right link-pointer fas fa-pen" ng-click="showTxt.segment=true"></span></p>
                <div class="margin-bottom form-horizontal" ng-if="showTxt.segment==true">
                  <div class="form-group">
                    <label class="control-label text-left col-sm-4">{l}Segment{endl}</label>
                    <div class="col-sm-6">
                        <selectize config='selectCfg' options='p_order.segment_dd' ng-model="p_order.segment_id"></selectize>
                    </div>
                    <label class="control-label col-sm-1 pull-right text-success">
                      <i class="fa fa-check-circle link-pointer" aria-hidden="true" ng-click="setSegment()"></i>
                    </label>
                  </div>
                </div> -->
                        <!-- <p ng-if="p_order.source_dd.length && !showTxt.source"><strong>{l}Source{endl}</strong> {{p_order.source}} <span class="pull-right link-pointer fas fa-pen" ng-click="showTxt.source=true"></span></p>
                <div class="margin-bottom form-horizontal" ng-if="showTxt.source==true">
                  <div class="form-group">
                    <label class="control-label text-left col-sm-4">{l}Source{endl}</label>
                    <div class="col-sm-6">
                        <selectize config='selectCfg' options='p_order.source_dd' ng-model="p_order.source_id"></selectize>
                    </div>
                    <label class="control-label col-sm-1 pull-right text-success">
                      <i class="fa fa-check-circle link-pointer" aria-hidden="true" ng-click="setSource()"></i>
                    </label>
                  </div>
                </div>     -->
                        <!-- <p ng-if="p_order.type_dd.length && !showTxt.type"><strong>{l}Type{endl}</strong> {{p_order.xtype}} <span class="pull-right link-pointer fas fa-pen" ng-click="showTxt.type=true"></span></p>
                <div class="form-horizontal" ng-if="showTxt.type==true">
                  <div class="form-group">
                      <label class="control-label text-left col-sm-4">{l}Type{endl}</label>
                      <div class="col-sm-6">
                        <selectize config='selectCfg' options='p_order.type_dd' ng-model="p_order.type_id"></selectize>
                      </div>
                      <label class="control-label col-sm-1 pull-right text-success">
                        <i class="fa fa-check-circle link-pointer" aria-hidden="true" ng-click="setType()"></i>
                      </label>
                  </div>
                </div>  -->
                        <p ng-if="p_order.cost_centre"><strong>{l}Financial Code{endl}</strong> {{p_order.cost_centre}}</p>
                </div>
                <div class="col-sm-6 col-md-3">
                    <h4 class="title_underline">{l}Supplier Details{endl}</h4>
                    <p class="ng-cloak"><a class="text-link" ui-sref="customerView({ 'customer_id':p_order.buyer_id })"><span ng-bind-html="p_order.order_buyer_name"></span></a> <a ng-if="p_order.buyer_id && p_order.customer_notes" ng-click="showAccountNotes()" uib-tooltip="{l}Click icon to show account notes{endl}"
                            tooltip-placement="bottom"><i class="fas fa-sticky-note text-info"></i></a></p>
                    <p ng-if="::p_order.buyer_email"><span class="far fa-envelope text-muted text-link_space" aria-hidden="true"></span> <a href="mailto:{{::p_order.buyer_email}}" class="text-link">{{::p_order.buyer_email}}</a></p>
                    <p ng-if="::p_order.buyer_phone"><span class="fa fa-phone text-muted text-link_space" aria-hidden="true"></span><a href="tel:{{::p_order.buyer_phone}}" class="text-link">{{::p_order.buyer_phone}}</a></p>
                    <p ng-if="::p_order.buyer_fax"><span class="fa fa-fax text-muted text-link_space" aria-hidden="true"></span> {{::p_order.buyer_fax}}</p>
                    <h4 class="title_underline" ng-if="::p_order.order_contact_name">{l}Contact Details{endl}</h4>
                    <p>{{::p_order.order_contact_name}}</p>

                    <p ng-if="::p_order.contact_email"><span class="far fa-envelope text-muted text-link_space" aria-hidden="true"></span> <a href="mailto:{{::p_order.contact_email}}" class="text-link">{{::p_order.contact_email}}</a></p>
                    <p ng-if="::p_order.contact_phone"><span class="fa fa-phone text-muted text-link_space" aria-hidden="true"></span> <a href="tel:{{::p_order.contact_phone}}" class="text-link">{{::p_order.contact_phone}}</a></p>
                    <p ng-if="::p_order.contact_fax"><span class="fa fa-fax text-muted text-link_space" aria-hidden="true"></span> {{::p_order.contact_fax}}</p>
                </div>
                <div class="col-sm-6 col-md-3">

                    <h4 class="title_underline">{l}Supplier Address{endl}</h4>
                    <p class="no_css-display_address" ng-bind-html="::p_order.address_info1"></p>
                    <h4 class="title_underline" ng-if="::p_order.buyer_second_name">{l}Delivery Address{endl}</h4>
                    <p class="no_css-display_address" ng-bind-html="::p_order.buyer_second_name"></p>
                    <p class="no_css-display_address" ng-bind-html="::p_order.second_address_info"></p>

                </div>
                <div class="col-sm-6 col-md-3">
                    <div class="row">
                        <div class="col-md-12">
                            <h4 class="title_underline">{l}Entries{endl}</h4>
                            <ul class="compact_list compact_list-margin">
                                <li ng-repeat="item in p_order.deliveries">
                                    <div class="compact_list-options">
                                        <a href="index.php?do=po_order-p_order_print&amp;p_order_id={{p_order_id}}&amp;lid={{p_order.default_lang}}&amp;type={{p_order.pdf_del_type}}&amp;delivery_id={{item.delivery_id}}" target="_blank"><span class="far fa-file-pdf" aria-hidden="true"></span></a>
                                        <!-- <a href="#" ng-if="p_order.can_edit_del" ng-click="openDeliveyModal(item.delivery_id)"><span class="fas fa-pen"></span></a> -->
                                        <a href="#" ng-click="deleteDelivery(item.del_delivery_link)"><span class="fa fa-trash"></span></a>
                                        <a href="#" ng-click="openSendModal()"><span class="far fa-envelope"></span></a>
                                    </div>
                                    <div class="compact_list-info">
                                        <a href="index.php?do=po_order-p_order_print&amp;p_order_id={{p_order_id}}&amp;lid={{p_order.default_lang}}&amp;type={{p_order.pdf_del_type}}&amp;delivery_id={{item.delivery_id}}" target="_blank"> <span class="delivery-date" ng-class="{ 'delivery-partially':item.active=='delivered', 'delivery-full':item.active=='active', 'delivery-not':item.active=='not_delivered' }">{{item.delivey}} <span class="akti-icon " ng-class="{ 'o_akti_delivery-alt':item.del_by_two_steps && item.active!='not_delivered', 'o_akti_delivery':item.del_by_two_steps && item.active=='not_delivered' }"></span></span>
<!--                                        <a class="text-success" href="#" ng-if="item.del_by_two_steps && item.active=='not_delivered'" ng-click="openDeliveyModal(item.delivery_id, true)"><span class="fa fa-check-circle" aria-hidden="true"></span></a>-->
                                   </a>
                                    </div>
                                </li>
                            </ul>
                            <div class="blank_card text-center">
                                <div class="" ng-show="!order.deliveries.length"></div>
                                <!-- <p class="text-muted col-top" ng-show="!p_order.deliveries.length">{l}Keep track of your entries.{endl}</p>
                    <div class="text-center col-top"><a class="btn btn-lg_icon btn-primary" ng-click="openDeliveyModal()"  ng-show="p_order.is_deliveredd" ng-if="!p_order.selectedDraft"><span class="akti-icon o_akti_delivery"></span> {l}Add a reception{endl}</a></div>
                   <p class="text-center col-top" ng-if="p_order.deliveries.length"><a href="#" class="text-link" ng-click="openReturnModal()">{l}Add return{endl}</a></p> -->
                            </div>
                            <div>



                                <h4 class="title_underline" ng-if="p_order.returns.length">{l}Returns{endl} </h4>
                                <ul class="compact_list compact_list-margin">
                                    <li ng-repeat="item in p_order.returns">
                                        <div class="compact_list-options">
                                            <a href="#" ng-click="openReturnModal(item.return_id)"><span class="fas fa-pen"></span></a>
                                            <a href="#" ng-click="deleteDelivery(item.del_return_link)"><span class="fa fa-trash"></span></a>
                                        </div>
                                        <div class="compact_list-info">
                                            <span class="delivery-date delivery-full">{{::item.date_ret}}</span>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="row intervention-options">
        <div class="col-xs-12">
            <div class="module_steps">
                <ul class="module_steps-tabs">
                    <li ng-class="{ 'selected':p_order.selectedDraft }" ng-if="p_order.is_active"><span class="badge">1</span> {l}Draft{endl}</li>
                    <li ng-class="{ 'selected':p_order.selectedSent }" ng-if="p_order.is_active"><span class="badge">2</span> {l}Final{endl}</li>
                    <li ng-class="{ 'selected':p_order.selectedWon }" ng-if="p_order.is_active"><span class="badge">3</span> {l}Received{endl}</li>
                    <li class="module_steps-options">
                        <!-- <a class="btn btn-plain" ng-if="!p_order.post_order && p_order.factur_nr" href="#" ng-click="greenpost()"><img src="images/postgreen_icon.png" width="16" height="16" alt=""/><span class="hideOnTablet"> {l}Send by Post{endl}</span></a> -->
                        <!-- <div ng-if="p_order.post_active && p_order.post_order" class="alert alert-inline alert-success cursor_pointer" ng-click="resendGreenPost()">{{p_order.postg_status}}</div> -->
                        <!-- <a class="btn btn-plain" href="#" ng-click="showTxt.sendEmail=true;"> {l}Send by Email{endl}</a> -->
                        <!-- <div class="btn-group">
                        <a class="btn btn-plain" href="{{p_order.pdf_link}}" target="_blank"> {l}Generate PDF{endl}</a>
                        <div class="btn-group" ng-click="showPDFsettings()">
                          <a class="btn btn-default" href="#"><span class="glyphicon glyphicon-cog"></span></a>
                        </div>
                      </div> -->

                    </li>
                </ul>
                <!-- /.module_steps-tabs -->
                <div class="module_steps-content">
                    <div class="row" ng-if="p_order.is_archived">
                        <div class="col-sm-12">
                            <!-- <a class="btn btn-plain" ui-sref="purchase_order.edit({'p_order_id': p_order_id})">{l}Edit{endl}</a>  -->
                            <a class="btn btn-plain" ng-click="deletePorder()" title="{l}Delete{endl}" confirm-title="{l}Confirm{endl}" confirm-ok="{l}OK{endl}" confirm-cancel="{l}Cancel{endl}" confirm="{l}Are you sure you want to delete the selected entries{endl}?">{l}Delete{endl}</a>
                            <a class="btn btn-default" title="{l}Activate{endl}" ng-click="statusDocument('1')">{l}Activate{endl}</a>
                        </div>
                    </div>
                    <div class="row" ng-if="p_order.selectedDraft && p_order.is_active">
                        <div class="col-xs-12">
                            <a class="btn btn-plain" ui-sref="purchase_order.edit({'p_order_id': p_order_id})">{l}Edit{endl}</a>
                            <!-- <a class="btn btn-secondary" href="#" ng-click="showTxt.markAsReady=true" >{l}Next{endl} <span class="glyphicon glyphicon-chevron-right"></span></a> -->
                            <a class="btn btn-default" href="#" ng-if="!p_order.facq_activated" ng-click="email.alerts=[];sendEmail()"> {l}Send by mail{endl}</a>
                            <a class="btn btn-default" href="#" ng-if="p_order.facq_activated" ng-click="orderFacq(p_order.totalul.total_vat)"> {l}Order at Facq{endl}</a>
                            <span class="text-muted text-spacer">{l}OR{endl}</span>
                            <a class="btn text-link" href="#" ng-if="!p_order.facq_activated" ng-click="showTxt.viewMarkAsSent=true"> {l}Mark as sent{endl}</a>
                            <a class="btn text-link" href="#" ng-if="p_order.facq_activated" ng-click="PVCheck(false)"> {l}Update Facq Prices{endl}</a>

                            <!-- <a class="btn btn-lg_icon btn-secondary" href="#" ng-click="showTxt.markAsReady=true; showTxt.viewMarkAsSent=true" ><span class="akti-icon o_akti_articles"></span>{l}Mark as sent{endl}</a> -->
                            <div class="dropdown btn-inline" uib-dropdown>
                                <button class="btn btn-plain dropdown-toggle" id="orderOptions" type="button" uib-dropdown-toggle>
                                  {l}Actions{endl} &nbsp;<span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu" uib-dropdown-menu>
                                    <li><a href="{{p_order.pdf_link}}" target="_blank"><i class="far fa-file-pdf"></i> {l}Download PDF{endl}</a></li>
                                    <li><a ng-click="showPDFsettings()" href="#"><i class="fa fa-sync"></i> {l}Regenerate PDF{endl}</a></li>
                                    <li ng-if="p_order.is_active"><a href="" ng-click="statusDocument('0')"><span class="fas fa-archive text-primary"></span> {l}Archive{endl}</a></li>
                                    <li class="dropdown-header"> {l}Create for this purchase order a{endl}</li>
                                    <li><a ui-sref="purchase_order.edit({'duplicate_p_order_id': p_order_id})"><span class="fa fa-files-o"></span> {l}Duplicate{endl}</a></li>
                                </ul>
                            </div>
                            <!-- <a href="#" class="btn btn-plan pull-right" ng-if="p_order.service_sn" ui-sref="service.view({ 'service_id':p_order.service_id })">{l}Created from{endl} <span>{{p_order.service_sn}}</span></a>  -->
                            <div class="pull-right" ng-if="order.is_front"><span class="akti-icon o_akti_webshop"></span></div>
                        </div>


                    </div>
                    <!-- /.row:DRAFT -->
                    <div class="row" ng-if="p_order.selectedSent && p_order.is_active">
                        <div class="col-xs-12">
                            <a class="btn btn-plain" ng-click="markOrder('mark_as_draft')" ng-if="p_order.no_delivery"> {l}Back to draft{endl}</a>
                            <a ng-if="p_order.del_two_steps && p_order.show_confirm_reception" class="btn btn-default" ng-click="confirmReception()"> {l}Confirm reception{endl}</a>
                            <span class="text-muted text-spacer" ng-if="p_order.del_two_steps && p_order.show_confirm_reception && p_order.is_deliveredd && p_order.show_add_new_reception">{l}OR{endl}</span>
                            <a class="btn btn-default" ng-click="openDeliveyModal()" ng-if="p_order.is_deliveredd && p_order.show_add_new_reception"> {l}Register reception{endl}</a>
                            <span class="text-muted text-spacer" ng-if="!p_order.del_two_steps && p_order.are_delivery">{l}OR{endl}</span>
                            <a class="btn text-link" ng-click="markOrder('mark_as_delivered')" ng-if="!p_order.del_two_steps && p_order.are_delivery">{l}Mark as received{endl}</a>
                            <div class="dropdown btn-inline" uib-dropdown>
                                <button class="btn btn-plain dropdown-toggle" id="orderOptions" type="button" uib-dropdown-toggle>
                              {l}Actions{endl} &nbsp;<span class="caret"></span>
                            </button>
                                <ul class="dropdown-menu" uib-dropdown-menu>
                                    <li><a href="{{p_order.pdf_link}}" target="_blank"><i class="far fa-file-pdf"></i> {l}Download PDF{endl}</a></li>
                                    <li><a ng-click="showPDFsettings()" href="#"><i class="fa fa-sync"></i> {l}Regenerate PDF{endl}</a></li>
                                    <li><a href="#" ng-click="sendEmail()"><span class="far fa-envelope"></span> {l}Send by Email{endl}</a></li>
                                    <li class="dropdown-header"> {l}Create for this purchase order a{endl}</li>
                                    <li ng-if="p_order.deliveries.length"><a href="#" ng-click="openReturnModal()"><i class="fas fa-undo-alt"></i> {l}Add return{endl}</a></li>
                                    <li><a ui-sref="purchase_order.edit({'duplicate_p_order_id': p_order_id})"><span class="fa fa-files-o"></span> {l}Duplicate{endl}</a></li>
                                    <li><a ui-sref="purchase_invoice.edit({'incomming_invoice_id':'tmp','p_order_id': p_order_id})"><span class="far fa-file-alt"></span> {l}Purchase Invoice{endl}</a></li>
                                </ul>
                            </div>
                            <a href="#" class="btn btn-plan pull-right" ng-if="p_order.service_sn" ui-sref="service.view({ 'service_id':p_order.service_id })">{l}Created from{endl} <span>{{p_order.service_sn}}</span></a>
                        </div>

                    </div>
                    <!-- /.row:PLANNED -->

                    <div class="row" ng-if="p_order.selectedWon && p_order.is_active">
                        <div class="col-xs-12">
                            <div class="dropdown btn-inline" uib-dropdown>
                                <button class="btn btn-plain dropdown-toggle" id="orderOptions" type="button" uib-dropdown-toggle>
                              {l}Actions{endl} &nbsp;<span class="caret"></span>
                            </button>
                                <ul class="dropdown-menu" uib-dropdown-menu>
                                    <li><a href="{{p_order.pdf_link}}" target="_blank"><i class="far fa-file-pdf"></i> {l}Download PDF{endl}</a></li>
                                    <li><a ng-click="showPDFsettings()" href="#"><i class="fa fa-sync"></i> {l}Regenerate PDF{endl}</a></li>
                                    <li><a href="#" ng-click="sendEmail()"><span class="far fa-envelope"></span> {l}Send by Email{endl}</a></li>
                                    <li class="dropdown-header"> {l}Create for this purchase order a{endl}</li>
                                    <li ng-if="p_order.deliveries.length"><a href="#" ng-click="openReturnModal()"><i class="fas fa-undo-alt"></i> {l}Add return{endl}</a></li>
                                    <li><a ui-sref="purchase_order.edit({'duplicate_p_order_id': p_order_id})"><span class="fa fa-files-o"></span> {l}Duplicate{endl}</a></li>
                                    <li><a ui-sref="purchase_invoice.edit({'incomming_invoice_id':'tmp','p_order_id': p_order_id})"><span class="far fa-file-alt"></span> {l}Purchase Invoice{endl}</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- /.row:RECEIVED -->

                    <div class="row">
                        <div class="col-xs-12">
                            <div class="module_steps-highlight module_steps-fillsheet" ng-if="showTxt.sendPost">
                                <form class="form-horizontal text-left">
                                    <div class="form-group">
                                        <div class="col-sm-12 text-right">
                                            <button class="btn btn-plain" ng-click="showTxt.sendPost=false">{l}Cancel{endl}</button>
                                            <button class="btn btn-primary" ng-click="sendPost()">{l}Send by Post{endl}</button>
                                        </div>
                                    </div>
                                    <div class="form-group" ng-if="p_order.post_library.length">
                                        <label class="col-sm-4 control-label"><strong>{l}E-stationary{endl}</strong></label>
                                        <div class="col-sm-8">
                                            <selectize config='stationaryCfg' options='p_order.post_library' ng-model="p_order.stationary_id"></selectize>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="module_steps-highlight module_steps-fillsheet ng-clock" ng-if="showTxt.viewMarkAsSent">
                                <form class="form-horizontal">
                                    <div class="form-group" ng-class="{ 'form-group_alert' : sent_form.sent_date.$invalid && !sent_form.sent_date.$pristine }">
                                        <label class="col-sm-3 control-label"><strong>{l}Sent date{endl}</strong></label>
                                        <div class="col-sm-3">
                                            <div class="so-field">
                                                <span class="glyphicon glyphicon-calendar so-icon"></span>
                                                <input type="text" class="form-control" ng-model="p_order.sent_date" uib-datepicker-popup="{{format}}" is-open="datePickOpen.sent_date" datepicker-options="dateOptions" close-text="Close" placeholder="{l}Sent date{endl}" show-button-bar="false" ng-click="datePickOpen.sent_date=true"
                                                    name="sent_date" required />
                                                <span class="glyphicon glyphicon-remove so-icon so-remove"></span>
                                            </div>
                                            <!-- /.so-field -->
                                            <div class="alert alert-sm alert-danger" ng-if="sent_form.sent_date.$invalid && alertsField.sent_date">{{alertsField.sent_date}}</div>
                                        </div>
                                        <div class="col-sm-4 ">
                                            <a class="btn btn-default" ng-click="markOrder('mark_sent')">{l}Save{endl}</a>
                                        </div>
                                    </div>
                                    <!-- <div class="form-group">
                                
                            </div> -->
                                </form>
                            </div>
                            <!-- !view.showTxt.viewMarkAsSent -->
                            <div class="module_steps-highlight module_steps-fillsheet" ng-show="showTxt.sendEmail">
                                <form class="form-horizontal">
                                    <div class="form-group">
                                        <div class="col-xs-12 text-right">
                                            <button type="submit" class="btn btn-plain" ng-click="showTxt.sendEmail=false">{l}Cancel{endl}</button>
                                            <button type="submit" class="btn btn-primary" ng-disabled="save_disabled" ng-click="sendEmails(email)">{l}Send{endl}</button>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="" class="col-xs-3 control-label text-left"><strong>{l}Recipients{endl}</strong><span class="mandatory-label">*</span></label>
                                        <div class="col-xs-9">
                                            <selectize config='contactForEmailAutoCfg' options='auto.options.recipients' ng-model="email.recipients" required ng-change="myFunction()"></selectize>
                                            <!-- <input type="text" class="form-control" ng-model="email.recipients" placeholder="{l}Subject{endl}"> -->
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="" class="col-xs-3 control-label text-left">{l}Send me a copy{endl}</label>
                                        <div class="col-xs-9 checkbox checkbox-primary">
                                            <input type="checkbox" id="checkbox1" ng-model="email.copy">
                                            <label for="checkbox1"></label>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="" class="col-xs-3 control-label text-left">{l}Subject{endl}</label>
                                        <div class="col-xs-9">
                                            <input type="text" class="form-control" ng-model="email.e_subject" placeholder="{l}Subject{endl}">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="" class="col-xs-3 control-label text-left">{l}Message{endl}</label>
                                        <div class="col-xs-9">
                                            <!-- <textarea class="form-control" ng-model="email.e_message" placeholder="{l}Message{endl}" rows="10" ng-if="::p_order.use_html=='0'"></textarea>
                                  <wysiwyg textarea-id="question" textarea-class="form-control" textarea-height="184px" ng-model="email.e_message" enable-bootstrap-title="true" textarea-menu="yourModel.menu" ng-if="::p_order.use_html=='1'"></wysiwyg> -->
                                            <textarea ui-tinymce="tinymceOptions" ng-model="email.e_message" class="form-control mail_send"></textarea>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-xs-12 text-right">
                                            <a ng-click="showPreview(email)">{l}Preview{endl}</a>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="" class="col-xs-3 control-label text-left">{l}PDF Language{endl}</label>
                                        <div class="col-xs-9">
                                            <select class="form-control" ng-model="email.email_language">
                                    <option ng-repeat="option in p_order.language_dd track by option.id" value="{{option.id}}">{{option.name}}</option>
                                  </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="" class="col-xs-3 control-label text-left">{l}Include a PDF version of the prurchase order{endl}</label>
                                        <div class="col-xs-9 checkbox checkbox-primary">
                                            <input type="checkbox" id="checkbox2" ng-model="email.include_pdf">
                                            <label for="checkbox2"></label>
                                        </div>
                                    </div>
                                    <div class="form-group" ng-if="::order.is_file">
                                        <label for="" class="col-xs-3 control-label text-left">{l}Files{endl}:</label>
                                        <div class="col-xs-9 checkbox checkbox-primary">
                                            <p ng-repeat="item in email.files">
                                                <input type="checkbox" id="checkbox_file_{{$index}}" ng-model="item.checked"> <span>{{::item.file}}</span>
                                                <label for="checkbox_file_{{$index}}"></label>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="form-group" ng-if="::p_order.dropbox.dropbox_is_file">
                                        <label for="" class="col-xs-3 control-label text-left">{l}Dropbox Files{endl}:</label>
                                        <div class="col-xs-9 checkbox checkbox-primary">
                                            <p ng-repeat="item in p_order.dropbox.dropbox_files">
                                                <input type="checkbox" id="checkbox_dropbox_file_{{$index}}" ng-model="item.checked">
                                                <label for="checkbox_dropbox_file_{{$index}}"></label>
                                                <span class="ng-clock">{{item.file}}</span>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-12 text-right">
                                            <button type="submit" class="btn btn-plain" ng-click="showTxt.sendEmail=false">{l}Cancel{endl}</button>
                                            <button type="submit" class="btn btn-primary" ng-disabled="save_disabled" ng-click="sendEmails(email)">{l}Send{endl}</button>
                                        </div>
                                    </div>

                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.module_steps-content -->
                <div uib-alert ng-repeat="alert in email.alerts" type="{{alert.type}}" close="email.alerts.splice($index, 1);" ng-class="['alert-' + (alert.type || 'warning') ]">{{alert.msg}}</div>
            </div>
            <!-- /.module_steps -->
        </div>
    </div>
    <!-- /.intervention-options -->
    <div class="row">
        <div class="col-xs-12">
            <table class="table table_orders">
                <thead>
                    <tr>
                        <th class="col-sm-2">{l}Code{endl}</th>
                        <th class="col-sm-3">{l}Article{endl}</th>
                        <th class="col-sm-1 text-center">{l}Quantity{endl}</th>
                        <th class="col-sm-2 text-center">{l}Unit Price{endl}</th>
                        <th class="col-sm-1 text-center" ng-if="p_order.allow_article_packing">{l}Pack{endl}.<span ng-if="p_order.allow_article_sale_unit"> / {l}S.U.{endl}</span></th>
                        <th class="col text-center" ng-if="p_order.sh_discount">{l}Discount{endl}</th>
                        <th class="col-sm-2 text-center">{l}Amount{endl}</th>
                        <th class="col-sm-1 text-center">{l}To receive{endl}</th>
                        <th class="col text-center" ng-if="p_order.selectedSent && p_order.edit_confirmed_po_order"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="item in p_order.lines">
                        <td ng-if="item.content"><code class="text-ellipsis" ng-if="!item.supplier_reference">{{::item.article_code}}</code>
                            <code class="text-ellipsis" ng-if="item.supplier_reference">{{::item.supplier_reference}}</code></td>
                        <td ng-if="item.content">
                            <div ng-bind-html="::item.article"></div>
                        </td>
                        <td ng-if="item.content" class="text-center text-muted"><span ng-if="!item.has_variants || item.has_variants=='0'">{{::item.quantity}}</span></td>
                        <td ng-if="item.content" class="text-center text-muted"><span ng-if="!item.has_variants || item.has_variants=='0'"><span ng-if="!item.show_edit">{{::item.price}}</span><input select-tablet-all="true" type="text" ng-model="item.price" class="form-control" ng-if="item.show_edit"/></span></td>
                        <td ng-if="p_order.allow_article_packing && item.content" class="text-center text-muted"><span ng-if="!item.has_variants || item.has_variants=='0'">{{::item.packing}}</span><span ng-if="p_order.allow_article_sale_unit && (!item.has_variants || item.has_variants=='0')"> / {{::item.sale_unit}}</span></td>
                        <td ng-if="item.content && p_order.sh_discount" class="text-center text-muted"><span ng-if="!item.has_variants || item.has_variants=='0'"><span ng-if="!item.show_edit">{{::item.disc}}</span><input ng-if="item.show_edit" select-tablet-all="true" type="text" ng-model=item.disc class="form-control" display-nr=""/></span></td>
                        <td ng-if="item.content" class="text-center text-strong"><span ng-if="!item.has_variants || item.has_variants=='0'">{{::item.price_vat}}</span></td>
                        <td ng-if="item.content" class="text-center"><span ng-if="!item.has_variants || item.has_variants=='0'">{{::item.to_receive}}</span></td>
                        <td ng-if="!item.content" colspan="9">
                            <div class="content_view" ng-bind-html="::item.article | trustThisHtml"></div>
                        </td>
                        <td ng-if="p_order.selectedSent && p_order.edit_confirmed_po_order && item.content">
                            <span ng-if="!item.show_edit" class="fas fa-pen ml-5 link-pointer" ng-click="showEditLine($index)"></span>
                            <a ng-if="item.show_edit" class="btn btn-default" ng-click="saveLineUpdates(item)">{l}Save{endl}</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6 col-sm-offset-6 order_total">

            <div class="row" ng-if="p_order.sh_discount1">
                <div class="col-sm-7 col-lg-8 text-right">
                    <h4>{l}Discount{endl} {{p_order.discount_percent}}</h4>
                </div>
                <div class="col-sm-5 col-lg-4 text-center">
                    <h4 class="text-strong"><span ng-bind-html="p_order.totalul.discount_total"></span></h4>
                </div>
            </div>
            <div class="row" ng-class="{ 'form-group':!p_order.total_hide }">
                <div class="col-sm-7 col-lg-8 text-right">
                    <h4>{l}TOTAL{endl}</h4>
                </div>
                <div class="col-sm-5 col-lg-4 text-center">
                    <h4 class="text-strong"><span ng-bind-html="p_order.totalul.total_vat"></span></h4>
                </div>
            </div>
            <!--  <div class="row" >
              <div class="col-sm-7 col-lg-8 text-muted text-right">
                  ( {l}TOTAL in{endl} <span ng-bind-html="p_order.totalul.default_currency_name"></span>
                </div>
              <div class="col-sm-5 col-lg-4 text-muted text-strong text-center">
                  <span ng-if="p_order.totalul.hide_currency1" ng-bind-html="p_order.totalul.currency_d_type"></span>
                  <span ng-bind-html="p_order.totalul.total_default_c"></span>
                  <span ng-if="p_order.totalul.hide_currency2" ng-bind-html="p_order.totalul.currency_d_type"></span> )
                </div>
            </div> -->


        </div>
    </div>
    <div class="user_summary" ng-class="{ 'is-open': showTxt.viewNotes }">
        <button class="btn-summary text-link" ng-click="showTxt.viewNotes=!showTxt.viewNotes"><span class="glyphicon glyphicon-chevron-down pull-right"></span> {l}Notes (Displayed on order){endl}</button>
        <div class="row col-top col-bottom">
            <div class="col-sm-8">
                <p ng-bind-html="::p_order.notes"></p>
            </div>
            <!-- <div class="col-sm-4" ng-if="p_order.is_extra">
          <div class="panel panel-primary">
              <div class="panel-body">
                  <p ng-bind-html="::p_order.extra_info"></p>
                </div>
            </div>
        </div> -->
        </div>
    </div>
    <!-- /.user_summary -->
    <div class="row">
        <div class="col-sm-12">
            <h4>
                <strong>{l}Files{endl}</strong>
                <button ng-if="p_order.dropbox.is_drop && !show_load" type="button" class="btn btn-primary btn-add" uib-tooltip="{l}Upload{endl}" tooltip-placement="right" ng-click="uploadDoc(1)"><span class="btn-add_icon"><span class="icon-bar"></span><span class="icon-bar-2"></span></span></button>
                <label ng-if="p_order.dropbox.is_drop === false"><i class="fa fa-question-circle" uib-tooltip="{l}To use this functionality Dropbox needs to be activated under 'integrations'{endl}" tooltip-placement="right"></i></label>
            </h4>
            <div class="row text-center" ng-if="show_load">
                <i class="fa fa-spinner fa-spin fa-2x fa-fw" aria-hidden="true"></i><span class="sr-only"></span>
            </div>
            <div type="notice" ng-if="!p_order.dropbox.dropbox_files.length && !p_order.dropbox.dropbox_images.length && !show_load" class="padd-file">{l}No files have been added yet{endl}</div>
            <div class="table active_rows orderTable" ng-if="(p_order.dropbox.dropbox_files.length || p_order.dropbox.dropbox_images.length) && !show_load">
                <div ng-repeat="item in p_order.dropbox.dropbox_files">
                    <p class="padd-file"><a href="{{item.down_file_link}}" target="_blank" class="file-name">{{item.name}}</a> <span><a href="#" ng-click="deleteDropFile($index)" confirm="{l}Are you sure, you wanna delete this entry?{endl}"><span ng-if="item.is_url" class="fas fa-unlink"></span><span ng-if="!item.is_url" class="fa fa-trash"></span></a>
                        </span>
                    </p>
                </div>
                <div ng-if="p_order.dropbox.dropbox_images.length && !show_load">
                    <div ng-repeat="item in p_order.dropbox.dropbox_images">
                        <p class="padd-file"><a target="_blank" class="file-name" ng-click="openLightboxModal($index)">{{item.name}}</a> <span><a href="#" ng-click="deleteDropImage($index)" confirm="{l}Are you sure, you wanna delete this entry?{endl}"><span ng-if="item.is_url" class="fas fa-unlink"></span><span ng-if="!item.is_url" class="fa fa-trash"></span></a>
                            </span>
                        </p>
                    </div>
                </div>
            </div>
            <!-- <table class="table active_rows orderTable" ng-if="p_order.dropbox.dropbox_files.length && !show_load">
            <tbody>
              <tr ng-repeat="item in p_order.dropbox.dropbox_files">
                <td class="text-center"><a href="{{item.down_file_link}}" target="_blank"><i class="fa fa-dropbox" aria-hidden="true"></i></a></td>
                <td><a href="{{item.down_file_link}}" target="_blank">{{item.name}}</a></td>
                <td class="table_actions">
                  <div class="btn-group" uib-dropdown>
                    <button type="button" class="btn btn-plain dropdown-toggle" uib-dropdown-toggle>
                       <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-right" uib-dropdown-menu>
                      <li class="dropdown-header">{l}Action{endl}</li>        
                      <li>
                       <a href="#" ng-click="deleteDropFile($index)" confirm="{l}Are you sure, you wanna delete this entry?{endl}"><span class="glyphicon glyphicon-remove text-primary"></span> {l}Delete{endl}</a>
                      </li>
                    </ul>
                  </div>
                </td>
              </tr>
            </tbody>
        </table> -->
            <!-- <h4>
          <strong>{l}Images{endl}</strong>
          <button ng-if="p_order.dropbox.is_drop && !show_load" type="button" class="btn btn-primary btn-add" uib-tooltip="{l}Upload{endl}" tooltip-placement="right" ng-click="uploadDoc(2)"><span class="btn-add_icon"><span class="icon-bar"></span><span class="icon-bar-2"></span></span></button>
        </h4>
        <div class="row text-center" ng-if="show_load">
            <i class="fa fa-spinner fa-spin fa-2x fa-fw" aria-hidden="true"></i><span class="sr-only"></span>
        </div>
        <div uib-alert type="notice" class="alert-warning" ng-if="!p_order.dropbox.dropbox_images.length && !show_load">{l}No data to display{endl}</div>
        <div class="row drop_images" ng-if="p_order.dropbox.dropbox_images.length && !show_load">
          <div class="col-sm-2 margin-top" ng-repeat="item in p_order.dropbox.dropbox_images">
            <div class="image">
              <img class="link-pointer" ng-src="{{item.url}}" ng-click="openLightboxModal($index)"/>
            </div> 
            <span class="glyphicon glyphicon-remove text-danger link-pointer" ng-click="deleteDropImage($index)" confirm="{l}Are you sure, you wanna delete this entry?{endl}"></span>
          </div>
        </div> -->
        </div>
    </div>
    <logging do='po_order-p_order' advanced="{{p_order.ADV_STOCK}}" type="p_order_id" ref="{{p_order_id}}"></logging>
</div>