<div class="container">
    <div uib-alert ng-repeat="alert in alerts" type="{{alert.type}}" close="alerts.splice($index, 1);" ng-class="['alert-' + (alert.type || 'warning'), 'alert-fixed' ]" dismiss-on-timeout='5000'>{{alert.msg}}</div>
    <div class="page-header">
        <div class="row">
            <div class="col-xs-8 col-sm-6">
                <h1>{l}Purchase Orders{endl}</h1>
            </div>
            <div class="col-xs-4 col-sm-6 text-right" ng-if="show_settings.is_admin_po_order">
                <div class="dropdown new-settings">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-ellipsis-v"></i></button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <!-- <a class="dropdown-item" href="#">Import</a> -->
                        <li class="dropdown-item" ng-class="{ 'current':menu.submenu == 'po_order_setting' }"><a href="PurchaseOrderSettings/" go-to="" state="purchaseOrderSettings"><span class="fas fa-cog text-primary"></span> {l}Purchase Order Module{endl}</a></li>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /.page-header -->
    <div class="tabs-navigation">
        <ul class="nav nav-tabs">
            <li>
                <a href="purchase_orders/" go-to="" state="purchase_orders">{l}Purchase Orders{endl}</a>
                <button type="button" class="btn btn-primary btn-add" go-to="" state="purchase_order.edit" params='{ "p_order_id": "tmp" }'tooltip-placement="top"><span class="btn-add_icon"><span class="icon-bar"></span><span class="icon-bar-2"></span></span></button>
            </li>
            <li class="active">
                <a href="purchase_order_deliveries/" go-to="" state="purchase_order_deliveries">{l}Deliveries{endl}</a>
            </li>
            <li>
                <a href="stock_low/" go-to="" state="stock_low">{l}Products Low in Stock{endl}</a>
                <!-- <button type="button" class="btn btn-primary btn-add" go-to="" state="quote.editTemplate" params='{"template_id": "tmp"}' uib-tooltip="{l}Add{endl}" tooltip-placement="top"><span class="btn-add_icon"><span class="icon-bar"></span><span class="icon-bar-2"></span></span></button> -->
            </li>
            <li>
                <a ui-sref="to_order" href="to_order/">{l}Bulk Orders - To be Ordered{endl}</a>
            </li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane active" id="purchase_orders_delivery">
                <div class="row page-search page-search-options">
                    <form>
                        <div class="col-sm-12">
                            <div class="row">
                                <div class="col-sm-6 col-search-input">
                                    <div class="so-field" ng-class="{ 'so-active':search.search!='' }">
                                        <span class="glyphicon glyphicon-search so-icon"></span>
                                        <input type="text" class="form-control" placeholder="{l}Search{endl}" search-it doit="search" callbk="renderList" ng-model="search.search">
                                        <span class="glyphicon glyphicon-remove so-icon so-remove" ng-click="toggleSearchButtons('search','')"></span>
                                    </div>
                                    <!-- /.input-search -->
                                </div>
                                <div class="col-sm-2 ">
                                    <div class="so-field" ng-class="{ 'so-active':search.item_code!='' }">
                                        <input type="text" class="form-control" placeholder="{l}Code{endl}" search-it doit="search" callbk="renderList" ng-model="search.item_code">
                                        <span class="glyphicon glyphicon-remove so-icon so-remove" ng-click="toggleSearchButtons('item_code','')"></span>
                                    </div>
                                    <!-- /.input-search -->
                                </div>
                                <div class="col-sm-2  col-search-date">
                                    <div class="so-field" ng-class="{ 'so-active':search.start_date!=undefined }">
                                        <span class="glyphicon glyphicon-calendar so-icon" ng-click="openDate('start_date')"></span>
                                        <input type="text" class="form-control" ng-model="search.start_date" uib-datepicker-popup="{{format}}" is-open="datePickOpen.start_date" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" close-text="Close" placeholder="{l}Start Date{endl}"
                                            show-button-bar="false" ng-click="datePickOpen.start_date=true" ng-change="searchThing()">
                                        <span class="glyphicon glyphicon-remove so-icon so-remove" ng-click="toggleSearchButtons('start_date',undefined)"></span>
                                    </div>
                                    <!-- /.input-date -->
                                </div>
                                <div class="col-sm-2 col-search-date">
                                    <div class="so-field" ng-class="{ 'so-active':search.stop_date!=undefined }">
                                        <span class="glyphicon glyphicon-calendar so-icon" ng-click="openDate('stop_date')"></span>
                                        <input type="text" class="form-control" ng-model="search.stop_date" uib-datepicker-popup="{{format}}" is-open="datePickOpen.stop_date" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" close-text="Close" placeholder="{l}End Date{endl}"
                                            show-button-bar="false" ng-click="datePickOpen.stop_date=true" ng-change="searchThing()">
                                        <span class="glyphicon glyphicon-remove so-icon so-remove" ng-click="toggleSearchButtons('stop_date',undefined)"></span>
                                    </div>
                                    <!-- /.input-date -->
                                </div>
                            </div>
                        </div>


                        <div class="page-search-button">
                            <div class="btn-group" uib-dropdown>
                                <button type="button" class="btn btn-tertiary dropdown-toggle" uib-dropdown-toggle>
                        <span class="caret"></span>
                    </button>
                                <ul class="dropdown-menu dropdown-menu-right" uib-dropdown-menu>
                                    <li><a href="#" ng-click="exportDeliveries()"><span class="fas fa-upload text-primary"></span> {l}Export{endl}</a></li>
                                </ul>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="row page-content">
                    <div class="col-xs-12">
                        <table class="table active_rows orderTable mainTable">
                            <thead>
                                <tr>
                                    <th class="col-sm-2 sortable_row" ng-class="{ 'sortable_row-up':(!reverse && ord == 'delivery_date') , 'sortable_row-down':(reverse && ord == 'delivery_date') }" ng-click="orderBY('delivery_date')">{l}Delivery Date{endl}</th>
                                    <th class="col-sm-2 sortable_row" ng-class="{ 'sortable_row-up':(!reverse && ord == 'serial_number') , 'sortable_row-down':(reverse && ord == 'serial_number') }" ng-click="orderBY('serial_number')">{l}Order{endl}</th>
                                    <th class="col-sm-6 sortable_row" ng-class="{ 'sortable_row-up':(!reverse && ord == 'customer_name') , 'sortable_row-down':(reverse && ord == 'customer_name') }" ng-click="orderBY('customer_name')">{l}Account Name{endl}</th>
                                    <th class="col-sm-2 sortable_row" ng-class="{ 'sortable_row-up':(!reverse && ord == 'order_date') , 'sortable_row-down':(reverse && ord == 'order_date') }" ng-click="orderBY('order_date')">{l}Date{endl}</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="item in list">
                                    <td class="text-muted">{{ item.delivery_date }}</td>
                                    <td class="text-muted">{{ item.serial_number }}</td>
                                    <td class="text-muted">{{ item.customer_name }}</td>
                                    <td class="text-muted">{{ item.order_date }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-12">
        <div class="col-sm-8">
            <ul ng-if="max_rows > lr" uib-pagination total-items="max_rows" ng-model="search.offset" ng-change="searchThing()" max-size="5" class="pager" boundary-links="true" items-per-page="lr"></ul>
        </div>
        <div class="col-sm-4 text-right">
            <label>{l}Number of purchase orders deliveries{endl}: <strong>{{max_rows}}</strong></label>
        </div>
    </div>
</div>