<div class="container">
    <!-- neede on all pages -->
    <div class="row page-content">
        <div class="col-xs-12 tabs-settings">
            <div class="row">
                <div class="col-xs-12 col-sm-3">
                    <div class="page-header">
                        <h1>{l}Purchase Order Module{endl}</h1>
                    </div>
                    <!-- /.page-header -->
                    <ul class="nav nav-tabs tabs-settings-nav">
                        <!-- <li class="active"><a href="#pdf_logos" aria-controls="pdf_logos" data-toggle="tab" >{l}PDF Logos{endl}</a></li> -->
                        <li class="active"><a href="#pdf_layouts" aria-controls="pdf_layouts" data-toggle="tab">{l}PDF Layout{endl}</a></li>
                        <li><a href="#convention" aria-controls="convention" data-toggle="tab" ng-click="vm.load('Convention','convention')">{l}Naming convention{endl}</a></li>
                        <li><a href="#general" aria-controls="general" data-toggle="tab" ng-click="vm.load('general','general_condition')">{l}Notes{endl}</a></li>
                        <li><a href="#customLabels" aria-controls="customLabels" data-toggle="tab" ng-click="vm.load('customLabel','customLabel')">{l}Custom PDF labels{endl}</a></li>
                        <li><a href="#emailMessage" aria-controls="emailMessage" data-toggle="tab" ng-click="vm.load('emailMessage','message','message_labels')">{l}Email message{endl}</a></li>
                        <li><a href="#defaultEmail" aria-controls="defaultEmail" data-toggle="tab" ng-click="vm.load('defaultEmail','email_default')">{l}Default Email{endl}</a></li>
                        <li><a href="#deliverySettings" aria-controls="deliverySettings" data-toggle="tab" ng-click="vm.load('deliverySettings','deliverySettings')">{l}Deliveries settings{endl}</a></li>
                        <li><a href="#articlefield" aria-controls="articlefield" data-toggle="tab" ng-click="vm.load('articlefield','articlefields')">{l}Article Field Selection{endl}</a></li>
                        <!-- <li><a href="#weblink" aria-controls="weblink" data-toggle="tab" ng-click="vm.load('weblink','weblink')">{l}Purchase order Web Link{endl}</a></li> -->
                        <!-- <li><a href="#stock" aria-controls="stock" data-toggle="tab" ng-click="vm.load('stock','stock')">{l}Article Stock Management{endl}</a></li>
            <li><a href="#dispatch" aria-controls="dispatch" data-toggle="tab" ng-click="vm.load('dispatch','dispatch')">{l}Dispatch Stock Naming{endl}</a></li>
            <li><a href="#dispatch_note" aria-controls="dispatch_note" data-toggle="tab" ng-click="vm.load('dispatch_note','dispatch_note')">{l}Dispatch Stock Note{endl}</a></li>
            <li><a href="#dispatch_email" aria-controls="dispatch_email" data-toggle="tab" ng-click="vm.load('dispatch_email','dispatch_email','message_label')">{l}Email Dispatch Message{endl}</a></li>
            <li><a href="#dispatch_address" aria-controls="dispatch_address" data-toggle="tab" ng-click="vm.load('dispatch_address','dispatch_address','dispatch_address_add')">{l}Dispatch Addresses{endl}</a></li> -->
                    </ul>
                    <!-- /.tabs-settings-nav -->
                </div>
                <div class="col-xs-12 col-sm-9 tab-content tabs-settings-content">
                    <!-- <div uib-alert ng-repeat="alert in vm.alerts" type="{{alert.type}}" close="vm.alerts.splice($index, 1);" ng-class="['alert-' + (alert.type || 'warning') ]" dismiss-on-timeout="5000">{{alert.msg}}</div> -->
                    <!-- <div class="tab-pane fade in active" id="pdf_logos">
            <div class="section-title">
              <h2>{l}PDF Logos{endl}</h2>
            </div>
            <div class="section-content">
              <div class="row">
                  <div class="col-xs-12">
                      <div class="upload-box col-xs-12">
                          <p><strong>{l}Logo{endl}</strong></p>
                          <p><small>{l}Please provide an image which is 250 x 77 pixels. Allowed file types: <strong>.jpg</strong>, <strong>.jpeg</strong> or <strong>.gif</strong>.{endl}</small></p>
                          <div class="upload-file hidden">
                              <div class="row">
                                  <div class="upload-file-image col-xs-4">
                                    <img class="img-thumbnail" src="demo_images/storedemo.jpg" width="232" height="60" alt=""/>
                                  </div>
                                  <div class="upload-file-info col-xs-8">
                                      <p class="nameOfTheFile"></p>
                                      <div class="upload-progress">
                                          <div class="upload-progress-bar" style="width: 88%;"></div>
                                      </div>
                                  </div>
                              </div>
                          </div>
                          <input type="file" name="file" class="newUploadFile2" accept=".gif,.jpg,.jpeg">
                          <p class="text-center"><button class="btn btn-default" ng-click="vm.upload(vm,$event)"><span class="glyphicon glyphicon-cloud-upload"></span> {l}Upload{endl}</button></p>
                      </div>
                  </div>
              </div>
              <div class="row">
                  <div class="col-xs-12">
                    <div class="radio-list col-xs-12">
                        <div class="row" ng-repeat="item in vm.logos">
                            <div class="col-xs-4 col-xs-offset-4 radio-logo">
                                <span class="radio-logo-option">
                                  <input type="radio" ng-model="vm.default_logo" value="{{item.account_logo}}" ng-click="vm.setLogo(vm,item)">
                                </span>
                                <span class="radio-logo-option radio-logo-del">
                                  <a class="btn-remove" href="#" ng-click="vm.deleteImage(vm,item)"><span class="fa fa-trash"></span></a>
                                </span>
                                <img class="img-thumbnail" src="{{item.account_logo}}" alt=""/>
                            </div>
                        </div>
                    </div>
                  </div>
            </div>
            </div>
          </div> -->
                    <div class="tab-pane fade in active" id="pdf_layouts">
                        <div class="section-title">
                            <div class="row">
                                <div class="col-xs-6">
                                    <h2>{l}PDF Layout{endl}</h2>
                                </div>
                                <div class="col-xs-6 text-right">
                                    <form class="form-inline btn-inline col-right">
                                        <div class="form-group margin-bottom-none">
                                            <label class="control-label col-right" for="exampleInputName2">{l}Selected Identity{endl} </label>
                                            <select class="form-control form-identity" ng-model="vm.settings.identity" ng-disabled="vm.use_custom_layout" ng-change="vm.getIdentityLayout(vm,vm.settings.identity)">
                                              <option value="0">{l}Select{endl}</option>
                                              <option ng-repeat="option in vm.settings.multiple_identity track by option.id" value="{{option.id}}">{{option.name}}</option>
                                            </select>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <!-- /.section-title -->
                        <div class="section-title section-title_alt margin-bottom-none col-xs-3 col-sm-4 col-md-3">
                            <h2>{l}Header{endl}<span ng-if="vm.settings.identity!='0' "> {l}Identity{endl}</span></h2>
                        </div>
                        <!-- /.section-title -->
                        <div class="section-title section-title_alt margin-bottom-none col-xs-3 col-sm-4 col-md-3">
                            <h2>{l}Body{endl}<span ng-if="vm.settings.identity!='0' "> {l}Identity{endl}</span></h2>
                        </div>
                        <!-- /.section-title -->
                        <div class="section-title section-title_alt margin-bottom-none col-xs-3 col-sm-4 col-md-6">
                            <h2>{l}Footer{endl}<span ng-if="vm.settings.identity!='0' "> {l}Identity{endl}</span></h2>
                        </div>
                        <!-- /.section-title -->
                        <div class="row document_layout-list">
                            <div class="col-xs-3 col-sm-4 col-md-4 col-lg-3" ng-repeat="item in vm.layout_header">
                                <div class="document_layout-item {{item.selected}}" style="min-height: 186px;">
                                    <a href="#"><img class="img-responsive" ng-src="{{item.img_href}}" alt="" /></a>
                                    <p ng-if="item.selected"><a class="btn btn-sm btn-warning" ng-click="vm.modal({ id:item.type, header:item.header,identity_id:item.identity_id },'potemplate/custom_pdf','PurchaseCustomPdfCtrl','sm')" href="#"><span class="glyphicon glyphicon-wrench"></span> {l}Modify{endl}</a></p>
                                </div>
                            </div>
                            <div class="col-xs-3 col-sm-4 col-md-4 col-lg-3" ng-repeat="item in vm.layout_body">
                                <div class="document_layout-item {{item.selected}}">
                                    <a href="#"><img class="img-responsive" ng-src="{{item.img_href}}" alt="" /></a>
                                    <p ng-if="!item.selected && vm.use_custom_layout"><a class="btn btn-sm btn-tertiary" href="#" ng-click="vm.selectBodyLayout(vm,item.type)"><span class="glyphicon glyphicon-ok"></span> {l}Select{endl}</a></p>
                                </div>
                            </div>
                            <div class="col-xs-3 col-sm-4 col-md-4 col-lg-3" ng-repeat="item in vm.layout_footer">
                                <div class="document_layout-item {{item.selected}}" style="min-height:186px;">
                                    <a href="#"><img class="img-responsive" ng-src="{{item.img_href}}" alt="" /></a>
                                    <p ng-if="item.selected"><a class="btn btn-sm btn-warning" ng-click="vm.modal({ id:item.type, footer:item.footer,identity_id:item.identity_id },'potemplate/custom_pdf','PurchaseCustomPdfCtrl','sm')" href="#"><span class="glyphicon glyphicon-wrench"></span> {l}Modify{endl}</a></p>
                                </div>
                            </div>
                        </div>
                        <!-- /.document_layout-list -->

                        <div class="row document_layout-list">

                        </div>
                        <!-- /.document_layout-list -->

                        <div class="row document_layout-list">

                        </div>
                        <!-- /.document_layout-list -->

                        <div class="section-title" ng-if="vm.has_custom_layout">
                            <div class="row">
                                <div class="col-xs-4">
                                    <h2>{l}Custom PDF Layout{endl}</h2>
                                </div>
                            </div>
                        </div>
                        <!-- /.section-title -->
                        <div class="document_layout-list" ng-if="vm.has_custom_layout">
                            <div class="row">
                                <div class="col-xs-6 col-sm-4 col-md-4 col-lg-3" ng-repeat="item in vm.custom_layout">
                                    <div class="document_layout-item {{item.selected_custom}}">
                                        <a href="#"><img class="img-responsive" ng-src="{{item.img_href_custom}}" alt="" /></a>
                                        <p ng-if="item.selected_custom"><a class="btn btn-sm btn-primary" href="#"><span class="glyphicon glyphicon-ok"></span> {l}Current{endl}</a></p>
                                        <p ng-if="!item.selected_custom"><a class="btn btn-sm btn-tertiary" href="#" ng-click="vm.selectCustomLayout(vm,item.custom_type)"><span class="glyphicon glyphicon-ok"></span> {l}Select{endl}</a></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.tab-pane -->
                    <div class="tab-pane fade" id="convention">
                        <div class="section-title">
                            <div class="row">
                                <div class="col-xs-6">
                                    <h2>{l}Default Name{endl}</h2>
                                </div>
                                <!-- <div class="col-xs-6 text-right">
                  <button class="btn btn-default" type="button" ng-click="vm.Convention()">{l}Save{endl}</button>
                </div> -->
                            </div>
                        </div>
                        <!-- /.section-title -->
                        <div class="section-title section-title_alt module-general-setting">
                            <h2>{l}Default name for purchase orders.{endl}</h2>
                        </div>
                        <!-- /.section-title -->
                        <div class="section-content">
                            <form class="form-horizontal text-left">
                                <div class="form-group">
                                    <label class="col-xs-6 col-sm-4 control-label" for="inputEmail">
                    {l}Order Index{endl} <!-- <small class="text-muted">{ {l}Fixed part{endl} }</small> -->
                    </label>
                                    <div class="col-xs-6 col-sm-2">
                                        <input id="inputEmail" class="form-control" type="text" ng-model="vm.convention.ACCOUNT_P_ORDER_START">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-xs-6 col-sm-4 control-label" for="inputPassword">
                    {l}No. of digits{endl}<!-- : <small class="text-muted">{ {l}Incremental part{endl} }</small> -->
                    </label>
                                    <div class="col-xs-6 col-sm-2">
                                        <input id="inputPassword" class="form-control" type="text" ng-model="vm.convention.ACCOUNT_P_ORDER_DIGIT_NR">
                                    </div>
                                </div>
                            </form>
                            <div class="alert alert-info alert-info_alt" role="alert">{l}The name of the purchase order will have this format{endl} &nbsp; <code class="bg-primary">{{vm.convention.EXAMPLE}}</code></div>
                            <form class="form-horizontal text-left">
                                <div class="form-group">
                                    <label class="col-xs-6 col-sm-4 control-label" for="inputEmail">{l}Show reference{endl}</label>
                                    <div class="col-xs-6 col-sm-2">
                                        <!-- <toggle-switch   ng-model="vm.convention.CHECKED" class="switch-primary" off-label="{l}No{endl}" on-label="{l}Yes{endl}"></toggle-switch> -->
                                        <label class="switch pull-left small_margin">
                      <input type="checkbox" id="" ng-model="vm.convention.CHECKED" class="switch-primary">
                      <span class="slider round"></span>
                  </label>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-xs-6 col-sm-4 control-label" for="inputEmail">{l}Reference delimiter{endl} 
                  </label>
                                    <div class="col-xs-6 col-sm-2">
                                        <input id="inputEmail" class="form-control" type="text" ng-model="vm.convention.ACCOUNT_P_ORDER_DEL">
                                    </div>
                                </div>
                            </form>
                        </div>
                        <!-- /.section-content -->
                        <div class="section-footer">
                            <div class="row">
                                <div class="col-xs-12 text-right">
                                    <button class="btn btn-default" type="button" ng-click="vm.Convention()">{l}Save{endl}</button>
                                </div>
                            </div>
                        </div>
                        <!-- /.section-footer -->
                    </div>
                    <!-- /.tab-pane -->
                    <div class="tab-pane fade" id="general">
                        <div class="section-title">
                            <div class="row">
                                <div class="col-xs-5">
                                    <h2>{l}Default Note{endl}</h2>
                                </div>
                                <div class="col-xs-7 text-right">
                                    <form class="btn-inline col-right">
                                        <div class="form-group margin-bottom-none" style="max-width: 220px;">
                                            <select class="form-control form-language {{vm.general_condition.translate_cls}}" ng-model="vm.general_condition.languages" ng-change="vm.changelanguage(vm,vm.general_condition)">
                        <option ng-repeat="option in vm.general_condition.language_dd track by option.id" value="{{option.id}}">{{option.name}}</option>
                      </select>
                                        </div>
                                    </form>
                                    <!-- <button class="btn btn-default top" type="button" ng-click="vm.savelanguage(vm,vm.languages,vm.notes,vm.terms)">{l}Save{endl}</button> -->
                                </div>
                            </div>
                        </div>
                        <!-- /.section-title -->
                        <div class="section-content po-order-notes-conditions">
                            <form>
                                <div class="section-title section-title_alt po-order-settings-label">
                                    <label>{l}Note:{endl}
                  <!-- <small class="text-muted">{l}Create a default note for invoices{endl}.</small> -->
                  </label>
                                </div>
                                <textarea ui-tinymce="vm.tinymceOptions" ng-model="vm.general_condition.notes" class="variable_assign">{{vm.general_condition.terms}}</textarea>

                            </form>
                        </div>
                        <!-- /.section-content -->
                        <div class="section-footer">
                            <div class="row">
                                <div class="col-xs-12 text-right">
                                    <button class="btn btn-default" type="button" ng-click="vm.savelanguage(vm,vm.languages,vm.notes,vm.terms)">{l}Save{endl}</button>
                                </div>
                            </div>
                        </div>
                        <!-- /.section-footer -->
                    </div>
                    <!-- /.tab-pane -->
                    <div class="tab-pane fade" id="customLabels">
                        <div class="section-title">
                            <h2>{l}Custom PDF labels{endl}</h2>
                        </div>
                        <!-- /.section-title -->
                        <div class="section-content">
                            <div class="text-muted col-bottom">
                                <p>{l}Custom labels for purchase orders.{endl}</p>
                                <p>{l}In order to translate the PDF versions of all purchase orders select the languages and edit the labels.{endl}</p>
                            </div>
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th class="col-xs-10">{l}Language{endl}</th>
                                        <th class="col-xs-2 text-center">{l}Action{endl}</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="item in vm.customLabel">
                                        <td>{{item.name}}</td>
                                        <td class="text-center">
                                            <a href="#" ng-click="vm.modal(item,'potemplate/label','PurchaselabelCtrl')"><span class="fas fa-pen"></span></a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <!-- /.tab-pane -->
                    <div class="tab-pane fade" id="emailMessage">
                        <div class="section-title">
                            <div class="row">
                                <div class="col-xs-6">
                                    <h2>{l}Purchase Order message{endl}</h2>
                                </div>
                                <!-- <div class="col-xs-6 text-right">
                  <button type="submit" class="btn btn-default" ng-click="vm.saveSetting(vm,vm.message)">{l}Save{endl}</button>
                </div> -->
                            </div>
                        </div>
                        <!-- /.section-title -->
                        <div class="section-content">
                            <p class="text-muted col-bottom">{l}Default message for purchase orders.{endl}</p>
                            <p class="margin-bottom">
                                {l}You can use the following variables in the message:{endl}<br>
                                <span class="text-muted">*{l}Click on the variable and the Ctrl+C or Cmd+C(on mac) to copy and then Ctrl+V or Cmd+V to paste{endl}</span>
                            </p>
                            <div class="form-horizontal text-left">
                                <div class="form-group">
                                    <label class="control-label col-xs-3">{l}Labels{endl}</label>
                                    <div class="col-xs-3">
                                        <select class="form-control" ng-model="vm.message_labels.detail_id" ng-change="vm.Changecodelabes(vm,vm.message_labels)">
                        <option value="0">{l}Select{endl}</option>
                        <option ng-repeat="option in vm.message_labels.detail track by option.id_value" value="{{option.id_value}}">{{option.name}}</option>
                      </select>
                                    </div>
                                    <div class="col-xs-3 variables" ng-if="vm.message_labels.selected_detail != null">
                                        <li class="list-unstyled" ng-click="vm.clickys(vm.message_labels.selected_detail)">
                                            <input type="text" class="form-control disabled" readonly value="{{vm.message_labels.selected_detail}}" style="margin-bottom: 0;">
                                        </li>
                                    </div>
                                    <div class="control-label col-xs-3">
                                        <!-- <button type="submit" class="btn btn-tertiary" ng-click="Geman = !Geman" >{l}Toggle Details List{endl}</button> -->
                                        <a href="#" ng-click="Geman=true" class="text-link" ng-show="!Geman">{l}Show more{endl}&nbsp;<i class="glyphicon glyphicon-chevron-down" aria-hidden="true"></i></a>
                                        <a href="#" ng-click="Geman=false" class="text-link" ng-show="Geman">{l}Show less{endl}&nbsp;<i class="glyphicon glyphicon-chevron-up" aria-hidden="true"></i></a>
                                    </div>
                                    <div class="col-xs-3 {{vm.message.translate_special}}">
                                        <!--                     <select class="form-control form-language {{vm.message.translate_cls}}" ng-model="vm.message.languages" ng-change="vm.changelang(vm,vm.message)">
                      <option ng-repeat="option in vm.message.language_dd track by option.id" value="{{option.id}}">{{option.name}}</option>
                    </select> -->
                                        <selectize class="" config="vm.cfg" options="vm.message.language_dd" ng-model="vm.message.languages" ng-change="vm.changelang(vm,vm.message)"></selectize>
                                    </div>
                                </div>
                            </div>
                            <div class="row variables" ng-show="Geman">
                                <div class="col-xs-4">
                                    <div class="form-group">
                                        <input type="text" class="form-control disabled" readonly value="[!ACCOUNT_COMPANY!]" onclick="this.select();">
                                        <label>{l}Account Name{endl}</label>
                                    </div>
                                </div>
                                <div class="col-xs-4">
                                    <div class="form-group">
                                        <input type="text" class="form-control disabled" readonly value="[!SERIAL_NUMBER!]" onclick="this.select();">
                                        <label>{l}Invoice Nr{endl}</label>
                                    </div>
                                </div>
                                <div class="col-xs-4">
                                    <div class="form-group">
                                        <input type="text" class="form-control disabled" readonly value="[!DATE!]" onclick="this.select();">
                                        <label>{l}Date{endl}</label>
                                    </div>
                                </div>
                                <div class="col-xs-4">
                                    <div class="form-group">
                                        <input type="text" class="form-control disabled" readonly value="[!CUSTOMER!]" onclick="this.select();">
                                        <label>{l}Company Name{endl}</label>
                                    </div>
                                </div>
                                <div class="col-xs-4">
                                    <div class="form-group">
                                        <input type="text" class="form-control disabled" readonly value="[!DISCOUNT!]" onclick="this.select();">
                                        <label>{l}Discount Percent{endl}</label>
                                    </div>
                                </div>
                                <div class="col-xs-4">
                                    <div class="form-group">
                                        <input type="text" class="form-control disabled" readonly value="[!DISCOUNT_VALUE!]" onclick="this.select();">
                                        <label>{l}Discount Value{endl}</label>
                                    </div>
                                </div>
                                <div class="col-xs-4">
                                    <div class="form-group">
                                        <input type="text" class="form-control disabled" readonly value="[!PAYMENTS!]" onclick="this.select();">
                                        <label>{l}Payments{endl}</label>
                                    </div>
                                </div>
                                <div class="col-xs-4">
                                    <div class="form-group">
                                        <input type="text" class="form-control disabled" readonly value="[!AMOUNT_DUE!]" onclick="this.select();">
                                        <label>{l}Amount due{endl}</label>
                                    </div>
                                </div>
                                <div class="col-xs-4">
                                    <div class="form-group">
                                        <input type="text" class="form-control disabled" readonly value="[!WEB_LINK!]" onclick="this.select();">
                                        <label>{l}Web Link{endl}</label>
                                    </div>
                                </div>
                                <div class="col-xs-4">
                                    <div class="form-group">
                                        <input type="text" class="form-control disabled" readonly value="[!WEB_LINK_2!]" onclick="this.select();">
                                        <label>{l}Weblink 2{endl}</label>
                                    </div>
                                </div>
                                <div class="col-xs-4">
                                    <div class="form-group">
                                        <input type="text" class="form-control disabled" readonly value="[!DUE_DATE!]" onclick="this.select();">
                                        <label>{l}Due Date{endl}</label>
                                    </div>
                                </div>
                                <div class="col-xs-4">
                                    <div class="form-group">
                                        <input type="text" class="form-control disabled" readonly value="[!INVOICE_TYPE!]" onclick="this.select();">
                                        <label>{l}Invoice type{endl}</label>
                                    </div>
                                </div>
                                <div class="col-xs-4">
                                    <div class="form-group">
                                        <input type="text" class="form-control disabled" readonly value="[!SIGNATURE!]" onclick="this.select();">
                                        <label>{l}Signature{endl}</label>
                                    </div>
                                </div>
                                <div class="col-xs-4">
                                    <div class="form-group">
                                        <input type="text" class="form-control disabled" readonly value="[!LOGO!]" onclick="this.select();">
                                        <label>{l}Logo{endl}</label>
                                    </div>
                                </div>
                                <div class="col-xs-4">
                                    <div class="form-group">
                                        <input type="text" class="form-control disabled" readonly value="[!SALUTATION!]" onclick="this.select();">
                                        <label>{l}Salutation{endl}</label>
                                    </div>
                                </div>
                                <div class="col-xs-4">
                                    <div class="form-group">
                                        <input type="text" class="form-control disabled" readonly value="[!CONTACT_FIRST_NAME!]" onclick="this.select();">
                                        <label>{l}Contact First Name{endl}</label>
                                    </div>
                                </div>
                                <div class="col-xs-4">
                                    <div class="form-group">
                                        <input type="text" class="form-control disabled" readonly value="[!CONTACT_LAST_NAME!]" onclick="this.select();">
                                        <label>{l}Contact Last Name{endl}</label>
                                    </div>
                                </div>
                                <div class="col-xs-4">
                                    <div class="form-group">
                                        <input type="text" class="form-control disabled" readonly value="[!YOUR_REFERENCE!]" onclick="this.select();">
                                        <label>{l}Your Reference{endl}</label>
                                    </div>
                                </div>
                            </div>
                            <!-- /.variables -->
                            <div class="form-horizontal text-left">
                                <div class="form-group">
                                    <label class="col-xs-3">{l}Subject{endl} <span class="mandatory-label">*</span></label>
                                    <div class="col-xs-9">
                                        <input type="text" class="form-control form-language {{vm.message.translate_cls}}" ng-model="vm.message.subject">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-xs-3">{l}Body{endl} <span class="mandatory-label">*</span></label>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-12">
                                        <textarea ui-tinymce="vm.tinymceOptions" ng-model="vm.message.html_content" id="altId" class="variable_assign">{{vm.message.text}}</textarea>
                                        <input name="image" type="file" id="upload" class="hidden" onchange="">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /.section-content -->
                        <div class="section-footer">
                            <div class="row">
                                <div class="col-xs-12 text-right">
                                    <button type="submit" class="btn btn-default" ng-click="vm.saveSetting(vm,vm.message)">{l}Save{endl}</button>
                                </div>
                            </div>
                        </div>
                        <!-- /.section-footer -->
                    </div>
                    <!-- /.tab-pane -->
                    <div class="tab-pane fade" id="defaultEmail">
                        <div class="section-title">
                            <div class="row">
                                <div class="col-xs-6">
                                    <h2>{l}Default Email{endl}</h2>
                                </div>
                                <!-- <div class="col-xs-6 text-right">
                  <button type="submit" class="btn btn-default" ng-click="vm.saveDefaultEmail(vm,vm.email_default)">{l}Save{endl}</button>
                </div> -->
                            </div>
                        </div>
                        <!-- /.section-title -->
                        <div class="section-content">
                            <div class="form-horizontal text-left">
                                <div class="form-group">
                                    <div class="col-xs-12 text-muted col-top">
                                        {l}This email and name will be the reply emails address on the email sent by the purchase order module{endl}.
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-xs-4 control-label">{l}Name{endl} <span class="mandatory-label">*</span></label>
                                    <div class="col-xs-6">
                                        <input type="input" class="form-control" ng-model="vm.email_default.po_default_name">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-xs-4 control-label">{l}Email{endl} <span class="mandatory-label">*</span></label>
                                    <div class="col-xs-6">
                                        <input type="input" class="form-control disabled" ng-model="vm.email_default.po_email_value">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-xs-12 text-muted col-top">
                                        {l}Optional email address(es) to send a copy of the purchase order to{endl}.
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-xs-4 control-label">{l}BCC Email{endl}<i class="fa fa-question-circle question_mark" uib-tooltip="{l}You can add multiple email addresses split by ;{endl}" tooltip-placement="right"></i></label>
                                    <div class="col-xs-6">
                                        <input type="input" class="form-control disabled" name="bcc_email" ng-model="vm.email_default.bcc_email">
                                        <div class="alert alert-sm alert-danger" ng-if="vm.alertsField.bcc_email">{{vm.alertsField.bcc_email}}</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /.section-content -->
                        <div class="section-footer">
                            <div class="row">
                                <div class="col-xs-12 text-right">
                                    <button type="submit" class="btn btn-default" ng-click="vm.saveDefaultEmail(vm,vm.email_default)">{l}Save{endl}</button>
                                </div>
                            </div>
                        </div>
                        <!-- /.section-footer -->
                    </div>
                    <!-- /.tab-pane -->
                    <div class="tab-pane fade" id="deliverySettings">
                        <div class="section-title">
                            <div class="row">
                                <div class="col-xs-6">
                                    <h2>{l}Default Settings{endl}</h2>
                                </div>
                            </div>
                        </div>
                        <div class="section-content">
                            <div class="row">
                                <div class="col-xs-12">
                                    <form class="form-horizontal">
                                        <div class="form-group">
                                            <label class="col-xs-8 col-sm-6 text-left">{l}Allow editing of confirmed Purchase Orders{endl}?</label>
                                            <div class="form-group col-xs-4 col-sm-6">
                                                <!-- <toggle-switch ng-model="vm.orderTerm.edit_confirmed_orders" ng-change="vm.saveterm()" class="switch-primary" off-label="{l}No{endl}" on-label="{l}Yes{endl}"></toggle-switch> -->
                                                <label class="switch pull-left small_margin">
                                                    <input type="checkbox" id="" ng-model="vm.deliverySettings.edit_confirmed_po_orders" ng-change="vm.saveterm()"  class="switch-primary">
                                                    <span class="slider round"></span>
                                                </label>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="section-title">
                            <div class="row">
                                <div class="col-xs-6">
                                    <h2>{l}Deliveries Settings{endl}</h2>
                                </div>
                            </div>
                        </div>
                        <!-- /.section-title -->
                        <div class="section-content">
                            <div class="text-muted col-bottom">
                                <p>{l}Delivery explanation{endl}.</p>
                            </div>
                            <div class="form-horizontal text-left">
                                <div class="form-group">
                                    <label class="col-xs-3 control-label">{l}Delivery process{endl} <span class="mandatory-label">*</span></label>
                                    <div class="col-xs-9 radio">
                                        <label><input type="radio" ng-click="vm.changedelivery(vm,vm.delivery)" value="1" ng-model="vm.deliverySettings.delivery.delivery_type"> {l}Delivery process is made in one step{endl}</label>
                                    </div>
                                    <div class="col-xs-9 col-xs-offset-3 radio">
                                        <label><input type="radio" ng-click="vm.changedelivery(vm,vm.delivery)" value="2" ng-model="vm.deliverySettings.delivery.delivery_type"> {l}Delivery process is made in two steps{endl}</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.tab-pane -->
                    <div class="tab-pane fade" id="articlefield">
                        <div class="section-title">
                            <div class="row">
                                <div class="col-xs-6">
                                    <h2>{l}Field Details{endl}</h2>
                                </div>
                                <!-- <div class="col-xs-6 text-right">
                  <button type="submit" class="btn btn-default" ng-click="vm.articlefieldup(vm,vm.articlefields)">{l}Save{endl}</button>
                </div> -->
                            </div>
                        </div>
                        <!-- /.section-title -->
                        <div class="section-content">
                            <p class="text-muted col-bottom">{l}Field details for purchase order{endl}</p>
                            <div class="form-horizontal text-left">
                                <div class="form-group">
                                    <label class="col-xs-10 control-label">{l}Use article purchase price from the order{endl}</label>
                                    <div class="form-group col-xs-2">
                                        <!-- <toggle-switch ng-model="vm.articlefields.use_article_purchase_price" class="switch-primary" off-label="{l}No{endl}" on-label="{l}Yes{endl}"></toggle-switch> -->
                                        <label class="switch pull-left small_margin">
                                          <input type="checkbox" id="" ng-model="vm.articlefields.use_article_purchase_price" class="switch-primary">
                                          <span class="slider round"></span>
                                      </label>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-xs-10 control-label">{l}When creating a purchase order from a regular order, DO NOT COPY the article information. Take the article information from below and use the supplier language {endl}</label>
                                    <div class="form-group col-xs-2">
                                        <!-- <toggle-switch ng-model="vm.articlefields.not_copy_article_info" class="switch-primary" off-label="{l}No{endl}" on-label="{l}Yes{endl}"></toggle-switch> -->
                                        <label class="switch pull-left small_margin">
                                          <input type="checkbox" id="" ng-model="vm.articlefields.not_copy_article_info"  class="switch-primary">
                                          <span class="slider round"></span>
                                      </label>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-7">
                                    <form>
                                        <div class="form-group">
                                            <label>
                                  {l}Field{endl}<br>
                              </label>
                                            <textarea id="altId" rows="10" class="form-control ng-pristine ng-untouched ng-valid" type="text" ng-model="vm.articlefields.text"></textarea>
                                        </div>
                                    </form>
                                </div>
                                <div class="col-sm-5">
                                    <label class="btn-block text-muted"><small>{l}You can use the following variables in the field description{endl}</small></label>
                                    <ul class="list-unstyled msg_var variables" id="art_var">
                                        <li class="margin-bottom" ng-click="vm.clicky('[!INTERNAL_NAME!]')"><input class="form-control disabled" type="text" value="[!INTERNAL_NAME!]"> {l}Internal Name{endl}</li>
                                        <li class="margin-bottom" ng-click="vm.clicky('[!ITEM_CODE!]')"><input class="form-control disabled" type="text" value="[!ITEM_CODE!]"> {l}Code{endl}
                                        </li>
                                        <li class="margin-bottom" ng-click="vm.clickyArticle(vm,'[!ITEM_NAME!]')" ng-class="{'pos-relative':(!vm.articlefields.ADV_PRODUCT)}">
                                            <input class="form-control disabled" type="text" ng-disabled="!vm.articlefields.ADV_PRODUCT" ng-class="{'settings-disabled-fields':(!vm.articlefields.ADV_PRODUCT)}" value="[!ITEM_NAME!]">
                                            <a href="javascript:void(0)" ng-if="!vm.articlefields.ADV_PRODUCT" ng-class="{'info-icon-disabled-fields':(!vm.articlefields.ADV_PRODUCT)}"><i title="{{ !vm.articlefields.ADV_PRODUCT ? '{l}Only available if you activate the Catalog+ option{endl}' : undefined }}"
                          class="fa fa-info-circle fa-2x" aria-hidden="true"></i></a> {l}Commercial Name{endl}</li>
                                        <li class="margin-bottom" ng-click="vm.clickyArticle(vm,'[!ITEM_NAME2!]')" ng-class="{'pos-relative':(!vm.articlefields.ADV_PRODUCT)}">
                                            <input class="form-control disabled" ng-disabled="!vm.articlefields.ADV_PRODUCT" ng-class="{'settings-disabled-fields':(!vm.articlefields.ADV_PRODUCT)}" type="text" value="[!ITEM_NAME2!]">
                                            <a href="javascript:void(0)" ng-if="!vm.articlefields.ADV_PRODUCT" ng-class="{'info-icon-disabled-fields':(!vm.articlefields.ADV_PRODUCT)}"><i title="{{ !vm.articlefields.ADV_PRODUCT ? '{l}Only available if you activate the Catalog+ option{endl}' : undefined }}"
                          class="fa fa-info-circle fa-2x" aria-hidden="true"></i></a> {l}Commercial Name2{endl}</li>
                                        <li class="margin-bottom" ng-click="vm.clickyArticle(vm,'[!DESCRIPTION!]')" ng-class="{'pos-relative':(!vm.articlefields.ADV_PRODUCT)}">
                                            <input class="form-control disabled" ng-disabled="!vm.articlefields.ADV_PRODUCT" ng-class="{'settings-disabled-fields':(!vm.articlefields.ADV_PRODUCT)}" type="text" value="[!DESCRIPTION!]">
                                            <a href="javascript:void(0)" ng-if="!vm.articlefields.ADV_PRODUCT" ng-class="{'info-icon-disabled-fields':(!vm.articlefields.ADV_PRODUCT)}"><i title="{{ !vm.articlefields.ADV_PRODUCT ? '{l}Only available if you activate the Catalog+ option{endl}' : undefined }}"
                          class="fa fa-info-circle fa-2x" aria-hidden="true"></i></a> {l}Description{endl}
                                        </li>
                                        <li class="margin-bottom" ng-click="vm.clickyArticle(vm,'[!ARTICLE_CATEGORY!]')" ng-class="{'pos-relative':(!vm.articlefields.ADV_PRODUCT)}">
                                            <input class="form-control disabled" ng-disabled="!vm.articlefields.ADV_PRODUCT" ng-class="{'settings-disabled-fields':(!vm.articlefields.ADV_PRODUCT)}" type="text" value="[!ARTICLE_CATEGORY!]">
                                            <a href="javascript:void(0)" ng-if="!vm.articlefields.ADV_PRODUCT" ng-class="{'info-icon-disabled-fields':(!vm.articlefields.ADV_PRODUCT)}"><i title="{{ !vm.articlefields.ADV_PRODUCT ? '{l}Only available if you activate the Catalog+ option{endl}' : undefined }}"
                          class="fa fa-info-circle fa-2x" aria-hidden="true"></i></a> {l}Article Category{endl}</li>
                                        <li class="margin-bottom" ng-click="vm.clickyArticle(vm,'[!WEIGHT!]')" ng-class="{'pos-relative':(!vm.articlefields.ADV_PRODUCT)}">
                                            <input class="form-control disabled" ng-disabled="!vm.articlefields.ADV_PRODUCT" ng-class="{'settings-disabled-fields':(!vm.articlefields.ADV_PRODUCT)}" type="text" value="[!WEIGHT!]">
                                            <a href="javascript:void(0)" ng-if="!vm.articlefields.ADV_PRODUCT" ng-class="{'info-icon-disabled-fields':(!vm.articlefields.ADV_PRODUCT)}"><i title="{{ !vm.articlefields.ADV_PRODUCT ? '{l}Only available if you activate the Catalog+ option{endl}' : undefined }}"
                          class="fa fa-info-circle fa-2x" aria-hidden="true"></i></a> {l}Weight{endl}
                                        </li>
                                        <li class="margin-bottom" ng-click="vm.clickyArticle(vm,'[!VARIANT_TYPE!]')" ng-class="{'pos-relative':(!vm.articlefields.ADV_PRODUCT)}">
                                            <input class="form-control disabled" ng-disabled="!vm.articlefields.ADV_PRODUCT" ng-class="{'settings-disabled-fields':(!vm.articlefields.ADV_PRODUCT)}" type="text" value="[!VARIANT_TYPE!]">
                                            <a href="javascript:void(0)" ng-if="!vm.articlefields.ADV_PRODUCT" ng-class="{'info-icon-disabled-fields':(!vm.articlefields.ADV_PRODUCT)}"><i title="{{ !vm.articlefields.ADV_PRODUCT ? '{l}Only available if you activate the Catalog+ option{endl}' : undefined }}"
                          class="fa fa-info-circle fa-2x" aria-hidden="true"></i></a> {l}Type of variant{endl}</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!-- /.section-content -->
                        <div class="section-footer">
                            <div class="row">
                                <div class="col-xs-12 text-right">
                                    <button type="submit" class="btn btn-default" ng-click="vm.articlefieldup(vm,vm.articlefields)">{l}Save{endl}</button>
                                </div>
                            </div>
                        </div>
                        <!-- /.section-footer -->
                    </div>
                    <!-- /.tab-pane -->
                    <div class="tab-pane fade" id="weblink">
                        <div class="section-title">
                            <h2>{l}Purchase order Web Link{endl}</h2>
                        </div>
                        <!-- /.section-title -->
                        <div class="section-content">
                            <p class="text-muted col-bottom">{l}Text for purchase order web link{endl}</p>
                            <form class="form-horizontal text-left">
                                <div class="form-group">
                                    <label class="col-xs-4 control-label">{l}Use web link{endl}</label>
                                    <div class="form-group col-xs-8">
                                        <!-- <toggle-switch on-change="vm.updateweblink(vm,vm.weblink)" ng-model="vm.weblink.use" class="switch-primary" off-label="{l}No{endl}" on-label="{l}Yes{endl}"></toggle-switch> -->
                                        <label class="switch pull-left small_margin">
                                          <input type="checkbox" id="" on-change="vm.updateweblink(vm,vm.weblink)" ng-model="vm.weblink.use"  class="switch-primary">
                                          <span class="slider round"></span>
                                      </label>
                                    </div>
                                </div>
                                <div class="form-group" ng-show="vm.weblink.use==1">
                                    <label class="col-xs-4 control-label">{l}Also include PDF on email{endl}:</label>
                                    <div class="form-group col-xs-8">
                                        <!-- <toggle-switch on-change="vm.updateweblink(vm,vm.weblink)" ng-model="vm.weblink.also" class="switch-primary" off-label="{l}No{endl}" on-label="{l}Yes{endl}"></toggle-switch> -->
                                        <label class="switch pull-left small_margin">
                                          <input type="checkbox" id="" on-change="vm.updateweblink(vm,vm.weblink)" ng-model="vm.weblink.also"  class="switch-primary">
                                          <span class="slider round"></span>
                                      </label>
                                    </div>
                                </div>
                                <div class="form-group" ng-show="vm.weblink.use==1">
                                    <label class="col-xs-4 control-label">{l}Allow comments{endl}</label>
                                    <div class="form-group col-xs-8">
                                        <!-- <toggle-switch on-change="vm.updateweblink(vm,vm.weblink)" ng-model="vm.weblink.allow" class="switch-primary" off-label="{l}No{endl}" on-label="{l}Yes{endl}"></toggle-switch> -->
                                        <label class="switch pull-left small_margin">
                                          <input type="checkbox" id="" on-change="vm.updateweblink(vm,vm.weblink)" ng-model="vm.weblink.allow"  class="switch-primary">
                                          <span class="slider round"></span>
                                      </label>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <!-- /.section-content -->
                        <div class="section-footer" ng-if="vm.weblink.invoice_payment=='1'">
                            <div class="row">
                                <div class="col-xs-12 text-right">
                                    <button type="submit" class="btn btn-default" ng-click="vm.updateweblink(vm,vm.weblink)">{l}Save{endl}</button>
                                </div>
                            </div>
                        </div>
                        <!-- /.section-footer -->
                    </div>
                    <!-- /.tab-pane -->
                    <div class="tab-pane fade" id="stock">
                        <div class="section-title">
                            <div class="row">
                                <div class="col-xs-12">
                                    <h2>{l}Stock Settings{endl}</h2>
                                </div>
                            </div>
                        </div>
                        <!-- /.section-title -->
                        <div class="section-content">
                            <div class="text-muted col-bottom">
                                <p>{l}Stock settings for articles.{endl}</p>
                                <!-- <p>{l}To allow your correspondent to reply on this mail, please fill in below the required address{endl}.</p> -->
                            </div>
                            <div class="form-horizontal text-left">
                                <div class="form-group">
                                    <label class="col-xs-4 control-label">{l}Allow Stock{endl}</label>
                                    <div class="form-group col-xs-8">
                                        <!-- <toggle-switch on-change="vm.updatestock(vm,vm.stock)" ng-model="vm.stock.allow_stock" class="switch-primary" off-label="{l}No{endl}" on-label="{l}Yes{endl}"></toggle-switch> -->
                                        <label class="switch pull-left small_margin">
                                          <input type="checkbox" id="" on-change="vm.updatestock(vm,vm.stock)" ng-model="vm.stock.allow_stock"  class="switch-primary">
                                          <span class="slider round"></span>
                                      </label>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-xs-4 control-label">{l}Article Threshold Value{endl}:</label>
                                    <div class="col-xs-2 col-lg-1 text-left">
                                        <input class="form-control" ng-blur="vm.updatestock(vm,vm.stock)" type="text" ng-model="vm.stock.article_threshold_value">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-xs-4 control-label">{l}Allow customers to buy out-of-stock Items{endl}:</label>
                                    <div class="form-group col-xs-8">
                                        <!-- <toggle-switch on-change="vm.updatestock(vm,vm.stock)" ng-model="vm.stock.allow_out_of_stock" class="switch-primary" off-label="{l}No{endl}" on-label="{l}Yes{endl}"></toggle-switch> -->
                                        <label class="switch pull-left small_margin">
                                          <input type="checkbox" id="" on-change="vm.updatestock(vm,vm.stock)" ng-model="vm.stock.allow_out_of_stock"   class="switch-primary">
                                          <span class="slider round"></span>
                                      </label>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-xs-4 control-label">{l}Show Stock Warning{endl}</label>
                                    <div class="form-group col-xs-8">
                                        <!-- <toggle-switch on-change="vm.updatestock(vm,vm.stock)" ng-model="vm.stock.show_stock_warning" class="switch-primary" off-label="{l}No{endl}" on-label="{l}Yes{endl}"></toggle-switch> -->
                                        <label class="switch pull-left small_margin">
                                          <input type="checkbox" id="" on-change="vm.updatestock(vm,vm.stock)" ng-model="vm.stock.show_stock_warning" class="switch-primary">
                                          <span class="slider round"></span>
                                      </label>
                                    </div>
                                </div>
                                <!--                 <div class="form-group">
                  <label class="col-xs-4 control-label">{l}Stock in multiple locations{endl}:</label>
                  <div class="form-group col-xs-8">
                      <toggle-switch on-change="vm.updatestock(vm,vm.stock)"  ng-model="vm.stock.stock_multiple_locations" class="switch-primary" off-label="{l}No{endl}" on-label="{l}Yes{endl}"></toggle-switch>
                  </div>
                </div> -->
                            </div>
                        </div>
                        <!-- /.section-content -->
                    </div>
                    <!-- /.tab-pane -->
                    <div class="tab-pane fade" id="dispatch">
                        <div class="section-title">
                            <div class="row">
                                <div class="col-xs-6">
                                    <h2>{l}Default Name{endl}</h2>
                                </div>
                                <div class="col-xs-6 text-right">
                                    <button class="btn btn-default" type="button" ng-click="vm.DispatchUpdate()">{l}Save{endl}</button>
                                </div>
                            </div>
                        </div>
                        <!-- /.section-title -->
                        <div class="section-title section-title_alt">
                            <h2>{l}Default name for Dispatch Stock.{endl}</h2>
                        </div>
                        <!-- /.section-title -->
                        <div class="section-content">
                            <form class="form-horizontal text-left">
                                <div class="form-group">
                                    <label class="col-xs-4 control-label" for="inputEmail">
                    {l}Dispatch Note Index:{endl} <small class="text-muted">{ {l}Fixed part{endl} }</small>
                    </label>
                                    <div class="col-xs-2">
                                        <input id="inputEmail" class="form-control" type="text" ng-model="vm.dispatch.ACCOUNT_STOCK_DISP_START">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-xs-4 control-label" for="inputPassword">
                    {l}No. of digits{endl}: <small class="text-muted">{ {l}Incremental part{endl} }</small>
                    </label>
                                    <div class="col-xs-2">
                                        <input id="inputPassword" class="form-control" type="text" ng-model="vm.dispatch.ACCOUNT_STOCK_DISP_DIGIT_NR">
                                    </div>
                                </div>
                            </form>
                            <div class="alert alert-info alert-info_alt" role="alert">{l}The name of the dispach note will have this format{endl} &nbsp; <code class="bg-primary">{{vm.dispatch.EXAMPLE}}</code></div>
                            <form class="form-horizontal text-left">
                                <div class="form-group">
                                    <label class="col-xs-4 control-label" for="inputEmail">{l}Show reference{endl}?</label>
                                    <div class="col-xs-2">
                                        <!-- <toggle-switch ng-model="vm.dispatch.CHECKED" class="switch-primary" off-label="{l}No{endl}" on-label="{l}Yes{endl}"></toggle-switch> -->
                                        <label class="switch pull-left small_margin">
                                          <input type="checkbox" id="" ng-model="vm.dispatch.CHECKED" class="switch-primary">
                                          <span class="slider round"></span>
                                      </label>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-xs-4 control-label" for="inputEmail">{l}Reference delimiter{endl} 
                  </label>
                                    <div class="col-xs-2">
                                        <input id="inputEmail" class="form-control" type="text" ng-model="vm.dispatch.ACCOUNT_STOCK_DISP_DEL">
                                    </div>
                                </div>
                            </form>
                        </div>
                        <!-- /.section-content -->
                        <div class="section-footer">
                            <div class="row">
                                <div class="col-xs-12 text-right">
                                    <button class="btn btn-default" type="button" ng-click="vm.DispatchUpdate()">{l}Save{endl}</button>
                                </div>
                            </div>
                        </div>
                        <!-- /.section-footer -->
                    </div>
                    <!-- /.tab-pane -->
                    <div class="tab-pane fade" id="dispatch_note">
                        <div class="section-title">
                            <div class="row">
                                <div class="col-xs-5">
                                    <h2>{l}Default Stock Dispatching Note{endl}</h2>
                                </div>
                                <div class="col-xs-7 text-right">
                                    <form class="btn-inline col-right">
                                        <div class="form-group margin-bottom-none" style="max-width: 220px;">
                                            <select class="form-control form-language {{vm.dispatch_note.translate_cls}}" ng-model="vm.dispatch_note.languages" ng-change="vm.changelanguagedispatch(vm,vm.dispatch_note)">
                        <option ng-repeat="option in vm.dispatch_note.language_dd track by option.id" value="{{option.id}}">{{option.name}}</option>
                      </select>
                                        </div>
                                    </form>
                                    <button class="btn btn-default top" type="button" ng-click="vm.savelanguagedispatch(vm,vm.dispatch_note.languages,vm.dispatch_note.notes)">{l}Save{endl}</button>
                                </div>
                            </div>
                        </div>
                        <!-- /.section-title -->
                        <div class="section-content">
                            <form>
                                <div class="section-title section-title_alt">
                                    <label>{l}Note:{endl}
                  <!-- <small class="text-muted">{l}Create a default note for invoices{endl}.</small> -->
                  </label>
                                </div>
                                <textarea ui-tinymce="vm.tinymceOptions" ng-model="vm.dispatch_note.notes" class="variable_assign">{{vm.dispatch_note.notes}}</textarea>
                            </form>
                        </div>
                        <!-- /.section-content -->
                        <div class="section-footer">
                            <div class="row">
                                <div class="col-xs-12 text-right">
                                    <button class="btn btn-default" type="button" ng-click="vm.savelanguagedispatch(vm,vm.dispatch_note.languages,vm.dispatch_note.notes)">{l}Save{endl}</button>
                                </div>
                            </div>
                        </div>
                        <!-- /.section-footer -->
                    </div>
                    <!-- /.tab-pane -->
                    <div class="tab-pane fade" id="dispatch_email">
                        <div class="section-title">
                            <div class="row">
                                <div class="col-xs-6">
                                    <h2>{l}Stock Dispatching message{endl}</h2>
                                </div>
                                <div class="col-xs-6 text-right">
                                    <button type="submit" class="btn btn-default" ng-click="vm.saveSettingdispatch(vm,vm.dispatch_email)">{l}Save{endl}</button>
                                </div>
                            </div>
                        </div>
                        <!-- /.section-title -->
                        <div class="section-content">
                            <p class="text-muted col-bottom">{l}Default message for stock dispatching.{endl}</p>
                            <p class="margin-bottom">
                                {l}You can use the following variables in the message:{endl}<br>
                                <span class="text-muted">*{l}Click on the variable and the Ctrl+C or Cmd+C(on mac) to copy and then Ctrl+V or Cmd+V to paste{endl}</span>
                            </p>
                            <div class="form-horizontal text-left">
                                <div class="form-group">
                                    <label class="control-label col-xs-3">{l}Labels{endl}</label>
                                    <div class="col-xs-3">
                                        <select class="form-control" ng-model="vm.message_label.detail_id" ng-change="vm.Changecodelabes(vm,vm.message_label)">
                        <option value="0">{l}Select{endl}</option>
                        <option ng-repeat="option in vm.message_label.detail track by option.id_value" value="{{option.id_value}}">{{option.name}}</option>
                      </select>
                                    </div>
                                    <div class="col-xs-3 variables" ng-if="vm.message_label.selected_detail != null">
                                        <li class="list-unstyled" ng-click="vm.clickys(vm.message_label.selected_detail)">
                                            <input type="text" class="form-control disabled" readonly value="{{vm.message_label.selected_detail}}" style="margin-bottom: 0;">
                                        </li>
                                    </div>
                                    <div class="control-label col-xs-3">
                                        <!-- <button type="submit" class="btn btn-tertiary" ng-click="Geman = !Geman" >{l}Toggle Details List{endl}</button> -->
                                        <a href="#" ng-click="Geman=true" class="text-link" ng-show="!Geman">{l}Show more{endl}&nbsp;<i class="glyphicon glyphicon-chevron-down" aria-hidden="true"></i></a>
                                        <a href="#" ng-click="Geman=false" class="text-link" ng-show="Geman">{l}Show less{endl}&nbsp;<i class="glyphicon glyphicon-chevron-up" aria-hidden="true"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="row variables" ng-show="Geman">
                                <div class="col-xs-4">
                                    <div class="form-group">
                                        <input type="text" class="form-control disabled" readonly value="[!ACCOUNT_COMPANY!]" onclick="this.select();">
                                        <label>{l}Account Name{endl}</label>
                                    </div>
                                </div>
                                <div class="col-xs-4">
                                    <div class="form-group">
                                        <input type="text" class="form-control disabled" readonly value="[!SERIAL_NUMBER!]" onclick="this.select();">
                                        <label>{l}Dispatch Note ID{endl}</label>
                                    </div>
                                </div>
                                <div class="col-xs-4">
                                    <div class="form-group">
                                        <input type="text" class="form-control disabled" readonly value="[!INVOICE_DATE!]" onclick="this.select();">
                                        <label>{l}Dispatch Note Date{endl}</label>
                                    </div>
                                </div>
                                <div class="col-xs-4">
                                    <div class="form-group">
                                        <input type="text" class="form-control disabled" readonly value="[!CUSTOMER!]" onclick="this.select();">
                                        <label>{l}Company Name{endl}</label>
                                    </div>
                                </div>
                            </div>
                            <!-- /.variables -->
                            <div class="form-horizontal text-left">
                                <div class="form-group">
                                    <div class="col-xs-4 col-xs-offset-8 text-right">
                                        <select class="form-control form-language {{vm.dispatch_email.translate_cls}}" ng-model="vm.dispatch_email.languages" ng-change="vm.changelangdispatch(vm,vm.dispatch_email)">
                      <option ng-repeat="option in vm.dispatch_email.language_dd track by option.id" value="{{option.id}}">{{option.value}}</option>
                    </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-xs-3">{l}Subject{endl} <span class="mandatory-label">*</span></label>
                                    <div class="col-xs-9">
                                        <input type="text" class="form-control form-language {{vm.dispatch_email.translate_cls}}" ng-model="vm.dispatch_email.subject">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-xs-3">{l}Body{endl} <span class="mandatory-label">*</span></label>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-12">
                                        <textarea ui-tinymce="vm.tinymceOptions" ng-model="vm.dispatch_email.html_content" id="altId" class="variable_assign">{{vm.dispatch_email.text}}</textarea>
                                        <input name="image" type="file" id="upload" class="hidden" onchange="">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /.section-content -->
                        <div class="section-footer">
                            <div class="row">
                                <div class="col-xs-12 text-right">
                                    <button type="submit" class="btn btn-default" ng-click="vm.saveSettingdispatch(vm,vm.dispatch_email)">{l}Save{endl}</button>
                                </div>
                            </div>
                        </div>
                        <!-- /.section-footer -->
                    </div>
                    <!-- /.tab-pane -->
                    <div class="tab-pane fade" id="dispatch_address">
                        <div class="section-title">
                            <div class="row">
                                <div class="col-xs-9">
                                    <h2>{l}List of Dispatch Addresses{endl}</h2>
                                </div>
                                <div class="col-xs-3 text-right padding_top">
                                    <button type="button" class="btn btn-primary btn-add" ng-click="vm.modal_small({},'potemplate/dispatch_address','DispatchAddressCtrl')"  tooltip-placement="top"><span class="btn-add_icon"><span class="icon-bar"></span><span class="icon-bar-2"></span></span></button>
                                    <label for="expense_cat">
                    {l}Add Address{endl}
                  </label>
                                </div>
                            </div>
                        </div>
                        <!-- /.section-title -->
                        <div class="section-content">
                            <div class="text-muted col-bottom">
                                <p>{l}Dispatch Addreses info{endl}</p>
                            </div>
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th class="col-xs-1">{l}Depot{endl}</th>
                                        <th class="col-xs-2">{l}Street{endl}</th>
                                        <th class="col-xs-2">{l}ZIP{endl}</th>
                                        <th class="col-xs-2">{l}City{endl}</th>
                                        <th class="col-xs-2">{l}Country{endl}</th>
                                        <th class="col-xs-2 ">{l}Set main{endl}</th>
                                        <th class="col-xs-1 text-center">{l}Action{endl}</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="item in vm.dispatch_address">
                                        <td>{{item.naming}}</td>
                                        <td>{{item.address}}</td>
                                        <td>{{item.zip}}</td>
                                        <td>{{item.city}}</td>
                                        <td>{{item.country}}</td>
                                        <td>
                                            <input type="radio" ng-model="item.is_default_checked" value="1" ng-click="vm.setAddress(vm,item.address_id)">
                                        </td>
                                        <td class="text-center">
                                            <a href="#" ng-click="vm.modal_small(item,'potemplate/dispatch_address','DispatchAddressCtrl')"><span class="fas fa-pen"></span></a>
                                            <a href="#" ng-if="item.is_default_checked==false" ng-click="vm.deleteaddress(vm,item.address_id)"><span class="fa fa-trash text-primary"></span></a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <!-- /.tab-pane -->
                </div>
                <!-- /.tabs-settings-content -->
            </div>
        </div>
        <!-- /.tabs-settings -->
    </div>
    <!-- /.page-content -->
</div>
<!-- neede on all pages -->