<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="cancel()"><span aria-hidden="true">&times;</span></button>
  <h4 class="modal-title">{l}Define Serial Numbers{endl}</h4>
</div>
<div class="modal-body">
	<div uib-alert ng-repeat="alert in alerts" type="{{alert.type}}" close="alerts.splice($index, 1);" ng-class="['alert-' + (alert.type || 'warning') ]">{{alert.msg}}</div>
   <div class="row">
		<div class="col-xs-6"><strong>{l}Article{endl}:</strong>  {{::obj.article_name}}</div>
		
	</div>
	<div class="row">
		<div class="col-xs-8 serial_number_box">
<ul >
		
		<li ng-repeat="item in obj.s_n_row">
			
			<input type="text" ng-model="item.serial_number" class="form-control" ng-blur="serialNrPChange()">
		
		</li>		
		
	</ul>	
	</div>
 </div>	


<div class="row" ng-if="obj.hide_for_view">
		<div class="col-xs-12">{l}Serial Numbers{endl}: <strong class="all">{{obj.total}}</strong></div>
		<div class="col-xs-12" ng-class="{ 'span-red':obj.completed != obj.total, 'span-green':obj.completed == obj.total }">{l}Completed{endl}: <span><strong>{{obj.completed}}</strong></span></div>
</div>

	
</div>
<div class="modal-footer">
    <button class="btn btn-plain" type="button" ng-click="cancel()">{l}Close{endl}</button>
    <button class="btn btn-default" type="button" ng-click="ok(obj.s_n_row)">{l}Save{endl}</button>
</div>
