<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="vmMod.cancel()"><span aria-hidden="true">&times;</span></button>
  <h4 class="modal-title">{l}Alert{endl}</h4>
</div>
<div class="modal-body">
	<div class="text-danger">
		{{vmMod.obj}}
	</div>
</div>
<div class="modal-footer">
    <button class="btn btn-plain" type="button" ng-click="vmMod.ok()">{l}Close{endl}</button>
</div>
