<div class="modal-body">
	<div uib-alert ng-repeat="alert in alerts" type="{{alert.type}}" close="alerts.splice($index, 1);" ng-class="['alert-' + (alert.type || 'warning') ]">{{alert.msg}}</div>
	<div class="row" ng-if="obj.is_delivery_id" ng-class="{ 'span-red':obj.selected_b_n != obj.total_b_n, 'span-green':obj.selected_b_n == obj.total_b_n }">
		<label class="col-xs-12"><span>{l}Selected Quantity{endl}: <strong>{{obj.total_b_n}}</strong> {l}of{endl} <strong>{{obj.selected_b_n}}</strong><span></label>
	</div>
	<div class="row" ng-if="obj.is_delivery_id">
		<label class="col-xs-12">{l}Selected Batches{endl}: <strong>{{obj.selected_batches}}</strong></label>
	</div>
	<div class="row">
		<div class="col-xs-12">
			<table class="table_minimal">
        <thead>
          <tr>
            <th >#</th>
            <th >{l}Batch Number{endl}</th>
            <th ng-if="obj.is_delivery_id">{l}In stock{endl}</th>
            <th >{l}Selected{endl}</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="item in obj.b_n_row" class="collapseTr">
            <td><input type="checkbox" ng-model="item.batch_no_checked" ng-change="batchSelChange()" ng-disabled="item.disabled_on_view"></td>
            <td>{{::item.batch_number}}</td>
            <td ng-if="obj.is_delivery_id">{{::item.in_stock}}</td>
            <td ><input type="text" ng-model="item.b_n_q_selected" class="form-control" ng-blur="batchNrChange()" ng-disabled="item.disabled_on_view"></td>
          </tr>
        </tbody>
      </table>
		</div>
	</div>
</div>
<div class="modal-footer">
    <button class="btn btn-plain" type="button" ng-click="cancel()">{l}Close{endl}</button>
    <button class="btn btn-primary" type="button" ng-if="obj.is_delivery_id" ng-click="ok(obj.b_n_row)">{l}Save{endl}</button>
</div>
