<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="cancel()"><span aria-hidden="true">&times;</span></button>
  <h4 class="modal-title">{l}Delivery Info{endl}</h4>
</div>
<div class="modal-body">
  <table class="table deliveryTable">
    <thead>
      <tr>
        <th class="col-sm-4">{l}Street{endl}</th>
        <th class="col-sm-1">{l}ZIP{endl}</th>
        <th class="col-sm-3">{l}City{endl}</th>
        <th class="col-sm-3">{l}Country{endl}</th>
        <th class="col-sm-1 text-center">{l}Select{endl}</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="item in obj" class="collapseTr">
        <td class="text-strong">{{::item.address}}</td>
        <td class="text-muted">{{::item.zip}}</td>
        <td class="text-muted">{{::item.city}}</td>
        <td class="text-muted">{{::item.country}}</td>
        <td class="text-center"><input type="radio" ng-model="item.address_id" ng-click="setItem(item)"></td>
      </tr>
    </tbody>
  </table>
</div>
<div class="modal-footer">
    <button class="btn btn-plain" type="button" ng-click="cancel()">{l}Close{endl}</button>
    <button class="btn btn-default" type="button" ng-click="ok()">{l}Save{endl}</button>
</div>
