<div class="modal-body delivery_modal">
  <div uib-alert ng-repeat="alert in alerts" type="{{alert.type}}" close="alerts.splice($index, 1);" ng-class="['alert-' + (alert.type || 'warning') ]">{{alert.msg}}</div>
  <div class="row">
    <div class="col-xs-12">
      <a href="#" ng-click="hideDetails=false" ng-class="{ 'hidden':!hideDetails }"><span class="glyphicon glyphicon-plus btn-expand" ></span> [{l}change main details{endl}]</a>
      <a href="#" ng-click="hideDetails=true" ng-class="{ 'hidden':hideDetails }"><span class="glyphicon glyphicon-minus btn-expand" ></span> [{l}hide main details{endl}]</a>
    </div>
  </div>
  <form class="form-horizontal"  >
    <div ng-class="{ 'hidden':hideDetails }">
      <div class="form-group">
        <label class="col-xs-3 control-label text-left"><b>{l}Delivery Date{endl}:*</b></label>
        <div class="col-xs-3">
          <div class="input-group input-group-sm">
            <input type="text" class="form-control" ng-model="delivery.date_del_line" uib-datepicker-popup="{{format}}" is-open="datePickOpen.date_del_line" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" placeholder="{l}dd/MM/yyyy{endl}" show-button-bar="false" ng-click="datePickOpen.date_del_line=true" /><span class="input-group-btn"><button type="button" class="btn btn-default" ng-click="openDate('date_del_line')"><span class="glyphicon glyphicon-calendar"></span></button></span>
          </div>
        </div>
        <div class="col-xs-1 input-group-sm">
          <select class="form-control" ng-model="delivery.hour">
            <option ng-repeat="option in hours" value="{{option}}">{{option}}</option>
          </select>
        </div>
        <div class="col-xs-1 input-group-sm">
          <select class="form-control" ng-model="delivery.minute">
            <option ng-repeat="option in minutes" value="{{option}}">{{option}}</option>
          </select>
        </div>
        <div class="col-xs-1 input-group-sm">
          <select class="form-control" ng-model="delivery.pm">
            <option value="am">am</option>
            <option value="pm">pm</option>
          </select>
        </div>
      </div>
      <div class="form-group">
        <label class="col-xs-3 control-label text-left"><b>{l}Contact{endl}:</b></label>
        <div class="col-xs-5">
          <selectize config='contactAutoCfg' options='delivery.recipients' ng-model="delivery.contact_id" ></selectize>
        </div>
      </div>
      <div class="form-group">
        <label class="col-xs-3 control-label text-left"><b>{l}Delivery Address{endl}:</b></label>
        <div class="col-xs-5">
          <textarea ng-model="delivery.delivery_address" class="form-control" rows="5" ng-disabled="disableAddress"></textarea>
        </div>
        <label class="col-xs-3 control-label text-left">
          <a href="#" ng-click="disableAddress=false" ng-class="{ 'hidden':!disableAddress }"><small>[ {l}change{endl} ]</small></a>
          <a href="#" ng-click="disableAddress=true" ng-class="{ 'hidden':disableAddress }"><small>[ {l}done{endl} ]</small></a>
        </label>
      </div>
    </div>
    <div class="form-group" ng-if="delivery.is_add && delivery.view_location">
      <label class="col-xs-3 control-label text-left"><b>{l}Select location:{endl}</b></label>
      <div class="col-xs-5">
        <select class="form-control" ng-model="delivery.select_main_location" ng-change="changedAddress()">
          <option ng-repeat="option in delivery.location_dd" value="{{option.id}}">{{option.name}}</option>
        </select>
      </div>
    </div>
    <div class="row" ng-if="delivery.is_add">
      <div class="col-xs-12">
        <table class="table deliveryTable">
          <thead>
            <tr>
              <th >{l}Article{endl}</th>
              <th >{l}Total Quantity{endl}</th>
              <th ng-if="delivery.allow_article_packing">{l}Pack{endl}.<span ng-if="delivery.allow_article_sale_unit"> / {l}S.U.{endl}</span></th>
              <th>{l}Quantity{endl}</th>
              <th ng-if="delivery.view_location">{l}Select Location{endl}</th>
              <th ng-if="delivery.use_serial_no">{l}Serial Numbers{endl}</th>
              <th ng-if="delivery.use_batch_no">{l}Batch Numbers{endl}</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="item in delivery.lines" class="collapseTr">
              <td>{{::item.article}}</td>
              <td>{{::item.quantity2}}</td>
              <td ng-if="item.allow_article_packing">{{::item.packing}} <span ng-if="item.allow_article_sale_unit"> / {{::item.sale_unit}}</span></td>
              <td ng-class="{ 'is-error':item.is_error }"><input type="text" ng-model="item.quantity" class="form-control" display-nr="" ng-change="changeQuantity(item)"><i class="fa fa-exclamation-circle" ng-if="item.is_error"></i></td>
              <td >
                <span ng-if="item.view_location && item.article_id && item.show_stock" class="glyphicon glyphicon-plus btn-expand" ng-click="showStats(item,$index)" ng-class="{ 'glyphicon-minus': item.isopen }" ></span>
              </td>
              <td ng-if="delivery.use_serial_no"><button type="button" class="btn " ng-if="item.use_serial_no_art" ng-click="openModal('serialNr',item)" ng-class="{ 'btn-primary':item.serialOk, 'btn-secondary':!item.serialOk }">{l}Serial Numbers{endl}</button>   </td>
              <td ng-if="delivery.use_batch_no"><button type="button" class="btn " ng-if="item.use_batch_no_art" ng-click="openModal('batchNr',item)" ng-class="{ 'btn-primary':item.batchOk, 'btn-secondary':!item.batchOk }">{l}Batch Numbers{endl}</button>   </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div><!-- /.tabelu -->
    <div class="form-group" ng-if="delivery.is_add && delivery.view_location">
      <label class="col-xs-3 control-label text-left"><b>{l}Delivery note{endl}:</b></label>
      <div class="col-xs-9">
        <textarea ng-model="delivery.delivery_note" class="form-control" rows="5"></textarea>
      </div>
    </div>
    <div class="form-group" ng-if="!delivery.is_add">
      <label class="col-xs-3 control-label text-left"><b>{l}Delivery note{endl}:</b></label>
      <div class="col-xs-9">
        <textarea ng-model="delivery.delivery_note" class="form-control" rows="5"></textarea>
      </div>
    </div>
    <div class="row" ng-if="!delivery.is_add">
      <div class="col-xs-12">
        <b>{l}Delivery Date{endl}:</b>
        {{delivery.delivery_date}} &nbsp;     {{delivery.hour}}:{{delivery.minute}} {{delivery.pm}}
      </div>
      <div class="col-xs-12">
        <b>{l}Contact{endl}:</b>
        {{delivery.contact_name}}
      </div>
      <div class="col-xs-12">
        <b>{l}Delivery Address{endl}:</b>
        <div ng-bind-html="delivery.delivery_address_txt"></div>
      </div>
    </div>
    <div class="row" ng-if="!delivery.is_add">
      <div class="col-xs-12">
        <table class="table deliveryTable">
          <thead>
            <tr>
              <th >{l}Article{endl}</th>
              <th ng-if="delivery.allow_article_packing">{l}Pack{endl}.<span ng-if="delivery.allow_article_sale_unit"> / {l}S.U.{endl}</span></th>
              <th>{l}Quantity{endl}</th>
              <th ng-if="delivery.use_serial_no">{l}Serial Numbers{endl}</th>
              <th ng-if="delivery.use_batch_no">{l}Batch Numbers{endl}</th>
            </tr>
          </thead>
          <tbody>
            <tr class="collapseTr" ng-repeat="item in delivery.lines" ng-init="showStats2(item,$index)">
              <td>{{::item.article}}</td>
              <td ng-if="delivery.allow_article_packing">{{::item.packing}} <span ng-if="delivery.allow_article_sale_unit"> / {{::item.sale_unit}}</span></td>
              <td>{{::item.quantity}}</td>
              <td ng-if="delivery.use_serial_no"><button type="button" ng-if="item.use_serial_no_art" ng-click="openModal('serialNr',item,'sm')" class="btn btn-primary" >{l}Serial Numbers{endl}</button>   </td>
              <td ng-if="delivery.use_batch_no"><button type="button" ng-if="item.use_batch_no_art" ng-click="openModal('batchNr',item)" class="btn btn-primary" >{l}Batch Numbers{endl}</button>   </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div><!-- /.tabelu -->
  </form>
</div>
<div class="modal-footer">
    <button class="btn btn-plain" type="button" ng-click="cancel()">{l}Close{endl}</button>
    <button class="btn btn-default" type="button" ng-click="ok()">{l}Save{endl}</button>
</div>