<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="vmMod.cancel()"><span aria-hidden="true">&times;</span></button>
  <h4 class="modal-title">{l}Dispatch Note{endl}</h4>
</div>
<div class="modal-body">
      <div class="section-content">
        <div uib-alert ng-repeat="alert in vmMod.alerts" type="{{alert.type}}" close="vmMod.alerts.splice($index, 1);" ng-class="['alert-' + (alert.type || 'warning') ]">{{alert.msg}}</div>
        <form class="form-horizontal text-left">
          <div class="col-xs-12">
            <div class="form-group">
              <label for="" class="col-xs-3 control-label text-left"><b>{l}Notes{endl}:</b></label>
              <div class="col-xs-9">
                <textarea ng-model="vmMod.obj.del_note" class="form-control" rows="5"></textarea>
              </div>
            </div>
          </div>
        </form>
      </div>    
</div>
<div class="modal-footer">
    <button class="btn btn-plain" type="button" ng-click="vmMod.cancel()">{l}Close{endl}</button>
    <button class="btn btn-default" type="button" ng-click="vmMod.ok()">{l}Save{endl}</button>
</div>
