<div class="page-header-buttons text-right">
  <button type="submit" class="btn btn-plain" ng-click="edit.cancel()">{l}Cancel{endl}</button>
  <button type="submit" class="btn btn-default" ng-disabled="!edit.showTxt.address || edit.item.add_customer" ng-click="edit.save()">{l}Save{endl}</button>
</div>
<div uib-alert ng-repeat="alert in edit.alerts" type="{{alert.type}}" close="edit.alerts.splice($index, 1);" ng-class="['alert-' + (alert.type || 'warning') ]">{{alert.msg}}</div>
<div class="user_summary" ng-class="{'is-open': edit.showTxt.order_settings, '': !edit.showTxt.order_settings}">
  <button class="btn-summary text-link" ng-disabled="!edit.item.customer_id || !edit.item.contact_id" ng-click="edit.showTxt.order_settings=!edit.showTxt.order_settings"><span class="glyphicon glyphicon-chevron-down pull-right"></span> {l}Order Settings{endl}</button>
  <div class="row col-top col-bottom">
      <div class="col-sm-5">
          <div class="row">
              <div class="col-sm-8">
                  <!-- <img class="img-responsive img-customer_branding" src="http://test.webandgo.be/akti/demo_images/customer_logo.png" alt=""> -->
                  <img class="img-responsive img-customer_branding" src="{{edit.item.main_comp_info.logo}}" alt=""/>
              </div>
          </div>
          <div class="row">
              <div class="col-sm-12">
                <h4>{{edit.item.main_comp_info.name}}</h4>
                <p> <span ng-bind-html="edit.item.main_comp_info.address"></span><br>
                  {{edit.item.main_comp_info.zip}} {{edit.item.main_comp_info.city}}<br>
                  {{edit.item.main_comp_info.country}}<br>
                  {{edit.item.main_comp_info.phone}}</p>
                  <p><a href="#" class="text-link" ng-click="edit.openModal(edit,'ChangeIdentity')">{l}Change Identity{endl}</a> <span class="text-link_space">•</span> <!-- <a  ui-sref="settings({ 'tab':'defaultEmail' })"  class="text-link">{l}Edit Your Information{endl}</a> --></p>
              </div>
          </div>                        
      </div>
      <div class="col-sm-7 col-lg-5 col-lg-offset-2">
        <div class="form-horizontal form-squeeze">
          
          <div class="form-group col-top">
              <label class="col-sm-5 col-lg-4 control-label">{l}Author{endl}</label>
              <div class="col-sm-7 col-lg-8">
                <selectize config='edit.autorAutoCfg' options='edit.auto.options.author' ng-model="edit.item.author_id"></selectize>
              </div>
          </div><!-- /.form-group -->
          <div class="form-group col-bottom">
              <label class="col-sm-5 col-lg-4 control-label">{l}Account Manager{endl}</label>
              <div class="col-sm-7 col-lg-8">
                <selectize config='edit.accmanagerAutoCfg' options='edit.auto.options.accmanager' ng-model="edit.item.acc_manager_id"></selectize>
              </div>
          </div><!-- /.form-group -->
          <div class="form-group col-top">
              <label class="col-sm-5 col-lg-4 control-label">{l}Language{endl}</label>
              <div class="col-sm-7 col-lg-8">
<!--                 <select class="form-control" ng-model="edit.item.email_language" ng-change="edit.changeLang()">
                  <option ng-repeat="option in edit.item.language_dd track by option.id" value="{{option.id}}">{{option.name}}</option>
                </select> -->
                <selectize config="edit.cfg" options="edit.item.language_dd" ng-model="edit.item.email_language" ></selectize>
              </div>
          </div><!-- /.form-group -->
          <div class="form-group hide">
            <label class="col-sm-5 col-lg-4 control-label">{l}Payment Method{endl}</label>
            <div class="col-sm-5 col-md-6 col-lg-7">
<!--               <select class="form-control" ng-model="edit.item.payment_type" >
                <option value="0">{l}Select type{endl}</option>
                <option ng-repeat="option in edit.item.payment_type_dd track by option.id" value="{{option.id}}">{{option.name}}</option>
              </select> -->
              <selectize config="edit.cfg" options="edit.item.payment_type_dd" ng-model="edit.item.payment_type" ></selectize>
            </div>
            <div class="col-sm-2 col-md-1">
              <button class="btn text-link" ng-click="edit.openModal(edit,'selectEdit','customer_payment_type','md')"><span class="fas fa-pen"></span></button>
            </div>
          </div><!-- /.form-group -->
           <div class="form-group">
                        <label class="col-sm-5 col-lg-4 control-label">{l}Payment Method{endl}
                        </label>
                        <div class="col-sm-5 col-md-6 col-lg-7">
                           <selectize config="edit.salesCfg" options="edit.item.payment_type_dd" ng-model="edit.item.payment_type" table="customer_payment_type" model="payment_type_dd" ></selectize>
                        </div>

                     </div>

            <div class="form-group col-top col-bottom">
              <label class="col-sm-5 col-lg-4 control-label">{l}Line discount{endl}</label>
              <div class="col-sm-4 col-md-4 col-lg-3">
                <toggle-switch  ng-model="edit.item.apply_discount_line" on-change="edit.changeDiscount()" class="switch-primary" off-label="{l}No{endl}" on-label="{l}Yes{endl}"></toggle-switch>
              </div>
              <div class="col-sm-3">
                <div class="input-group">
                  <!-- <input type="text" class="form-control" ng-model="edit.item.discount" display-nr="" placeholder="{l}Discount{endl}" ng-change="edit.changeDiscount()" ng-if="edit.item.apply_discount > 1"> -->
                  <input type="text" class="form-control" ng-model="edit.item.discount_line_gen" display-nr="" placeholder="{l}Discount{endl}"   ng-if="edit.item.apply_discount_line == 1">
                  <span class="input-group-addon" ng-if="edit.item.apply_discount_line == 1">%</span>
                </div>
              </div>
              <div class="col-sm-7 col-sm-offset-5 col-lg-8 col-lg-offset-4 col-top" ng-if="edit.item.apply_discount == 1 || edit.item.apply_discount == 3">
                <a class="text-link" href="#" ng-click="edit.applyLineDiscount()">{l}Apply discount on all lines{endl}</a>
              </div>
            </div>
            <div class="form-group col-top col-bottom">
              <label class="col-sm-5 col-lg-4 control-label">{l}Global discount{endl}</label>
              <div class="col-sm-4 col-md-4 col-lg-3">
                <toggle-switch  ng-model="edit.item.apply_discount_global" on-change="edit.changeDiscount()" class="switch-primary" off-label="{l}No{endl}" on-label="{l}Yes{endl}"></toggle-switch>
              </div>
              <div class="col-sm-3">
                <div class="input-group">
                  <input type="text" class="form-control" ng-model="edit.item.discount" display-nr="" placeholder="{l}Discount{endl}" ng-change="edit.changeDiscount()" ng-if="edit.item.apply_discount_global == 1">
                  <!-- <input type="text" class="form-control" ng-model="edit.item.discount_line_gen" display-nr="" placeholder="{l}Discount{endl}"  ng-if="edit.item.apply_discount == 1"> -->
                  <span class="input-group-addon" ng-if="edit.item.apply_discount_global == 1">%</span>
                </div>
              </div>
            </div>
<!--           <div class="form-group">
              <label class="col-sm-5 col-lg-4 control-label">{l}Discount{endl}</label>
              <div class="col-sm-4 col-md-4 col-lg-5">
                <selectize config="edit.cfg" options="edit.item.APPLY_DISCOUNT_LIST" ng-model="edit.item.apply_discount" ></selectize>
              </div>
              <div class="col-sm-3 col-md-3">
                  <div class="input-group">
                    <input type="text" class="form-control" ng-model="edit.item.discount" display-nr="" placeholder="{l}Discount{endl}" ng-change="edit.changeDiscount()" ng-if="edit.item.apply_discount > 1">
                    <input type="text" class="form-control" ng-model="edit.item.discount_line_gen" display-nr="" placeholder="{l}Discount{endl}"  ng-if="edit.item.apply_discount == 1">
                    <span class="input-group-addon" ng-if="edit.item.apply_discount > 1 || edit.item.apply_discount == 1">%</span>
                  </div>
              </div>
              <div class="col-sm-7 col-sm-offset-5 col-lg-8 col-lg-offset-4 col-top" ng-if="edit.item.apply_discount == 1">
                  <a class="text-link" href="#" ng-click="edit.applyLineDiscount()">{l}Apply discount on all lines{endl}</a>
              </div>
          </div> -->
          <div class="form-group">
              <label class="col-sm-5 col-lg-4 control-label">{l}VAT{endl}</label>
              <div class="col-sm-7 col-lg-8 checkbox checkbox-primary">
                <input type="checkbox" id="checkbox1" ng-model="edit.item.show_vat">
                <label for="checkbox1">
                </label>
                <span>{l}Show VAT on print{endl}</span>
              </div>
          </div>
        </div>
      </div>
  </div>
</div><!-- /.user_summary -->
<div class="row intervention-details">
  <div class="col-sm-6">
    <div class="panel panel-default panel-customer_details">
        <div class="panel-body panel-current_customer" ng-class="{ 'panel-add_customer': edit.item.add_customer && edit.showTxt.addBtn }">
            <div ng-if="edit.showTxt.address && !edit.item.add_customer">
              <a class="panel-edit" href="#" ng-click="edit.showEditFnc(edit)" >{l}Edit{endl}</a>
              <h2>{{edit.item.customer_name}} <small class="quick_edits"><span class="text-link_space">•</span> <a href="#" class="text-link text-muted edit-customer" ng-click="edit.openModal(edit,'EditContact');" ng-if="edit.item.field=='contact_id'" >{l}Edit Customer{endl}</a><a href="#" class="text-link text-muted edit-customer" ng-click="edit.openModal(edit,'EditCustomer');" ng-if="edit.item.field=='customer_id'" >{l}Edit Customer{endl}</a> <span class="text-link_space" >•</span> <a href="#" class="text-link text-muted delete-customer" ng-click="edit.removeCust(edit)" >{l}Remove{endl}</a></small></h2>
              <p ng-if="edit.item.contact_name && edit.item.field=='customer_id'" class=""><span ng-bind-html="edit.item.contact_name"></span> <small class="quick_edits"><span class="text-link_space">•</span> <a href="#" class="text-link text-muted edit-contact" ng-click="edit.openModal(edit,'EditContact');" >{l}Edit contact{endl}</a> <span class="text-link_space">•</span> <a href="#" class="text-link text-muted" ng-click="edit.removeContact(edit)">{l}Remove{endl}</a></small></p>
              <p><a href="#" class="text-link edit-customer" ng-click="edit.showEditFnc(edit)" ng-if="!edit.item.contact_name">{l}Add a Contact{endl}</a> <!-- <span class="text-link_space" ng-if="!edit.item.contact_name">•</span> <a href="#" class="text-link delete-customer" ng-click="edit.openModal(edit,'AddCustomer',edit.contactAddObj,'md');" ng-if="!edit.item.contact_name">{l}Create a new Contact{endl}</a> --></p>
              <div class="delivery-address" ng-if="!edit.item.view_delivery">
                <span ng-bind-html="edit.item.address_info_txt"></span>
                <!-- <small class="quick_edits delivery-controller"><span class="text-link_space">•</span> <a href="#" class="text-link text-muted" ng-click="edit.showEditFnc(edit)">{l}Edit address{endl}</a></small> -->
              </div>
            </div><!-- /showTxt.address -->
            <div ng-if="edit.item.add_customer" >
              <button class="btn btn-block btn-lg btn-blank" ng-if="edit.showTxt.addBtn" ng-click="edit.showCCSelectize(edit)"><span class="fa fa-user-plus icon-holder"></span> {l}Add Customer{endl}</button>
              <selectize config='edit.ccAutoCfg' options='edit.auto.options.cc' ng-model="edit.item.cc_id" id="custandcont" ng-if="!edit.showTxt.addBtn"></selectize>
            </div>
            <div class="form-horizontal text-left " ng-if="!edit.showTxt.address">
              <div class="form-group">
                <label class="col-sm-3 control-label">{l}Customer{endl}</label>
                <div class="col-sm-9">
                  <input type="text" class="form-control" ng-model="edit.item.customer_name" ng-disabled="true" >
                </div>
              </div>
              <div class="form-group" ng-if="edit.item.field=='customer_id'">
                <label class="col-sm-3 control-label">{l}Contact{endl}</label>
                <div class="col-sm-9">
                  <selectize config='edit.contactAutoCfg' options='edit.auto.options.contacts' ng-model="edit.item.contact_id" id="contact_id" ></selectize>
                </div>
              </div>
              <div class="form-group extra_address" >
                <label class="col-sm-3 control-label">{l}Address{endl}</label>
                <div class="col-sm-9 ">
                  <selectize config='edit.addressAutoCfg' options='edit.auto.options.addresses' ng-model="edit.item.main_address_id" id="main_address" ></selectize>
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-3 control-label">{l}Shipping{endl}</label>
                <div class="col-sm-9">
                  <div class="checkbox checkbox-primary">
                    <input type="checkbox" id="checkbox2" ng-model="edit.item.sameAddress" ng-click="edit.removeDeliveryAddr()">
                    <label for="checkbox2">
                       
                    </label>
                    <span class="text-muted">{l}Shipping address same as main address{endl}</span>
                  </div>
                </div>
              </div>
              <div class="form-group extra_address" ng-if="!edit.item.sameAddress">
                <div class="col-sm-9 col-sm-offset-3">
                  <selectize config='edit.addressAutoCfg' options='edit.auto.options.addresses' ng-model="edit.item.delivery_address_id" id="delivery_address" ></selectize>
                </div>
              </div>
              <div class="text-right">
                <a href="#" class="text-muted" ng-click="edit.cancelEdit(edit)">{l}Cancel{endl}</a> <span class="text-link_space">• </span> 
                <button type="submit" class="btn btn-default" ng-click="edit.saveClientData(edit,edit.item.field)">{l}Save{endl}</button>
              </div>
            </div>
          </div>
      </div><!-- /.panel -->
  </div>
  <div class="col-sm-6">
        <form class="form-horizontal form-squeeze">
          <div class="form-group">
              <label class="col-sm-5 control-label">{l}Serial Number{endl}</label>
                <div class="col-sm-7">
                  <input type="text" class="form-control" ng-disabled="!edit.showTxt.address || edit.item.add_customer" ng-model="edit.item.serial_number" placeholder="{l}Serial Number{endl}">
                </div>
            </div><!-- /.form-group -->
          <div class="form-group">
              <label class="col-sm-5  control-label">{l}Date{endl}</label>
                <div class="col-sm-7 ">
                  <div class="so-field">
                    <span class="glyphicon glyphicon-calendar so-icon" ng-click="edit.openDate('date')"></span>
                    <input type="text" ng-disabled="!edit.showTxt.address || edit.item.add_customer" class="form-control form-control-border-right" ng-model="edit.item.date_h" uib-datepicker-popup="{{edit.format}}" is-open="edit.datePickOpen.date" datepicker-options="edit.dateOptions" ng-required="true" close-text="Close" placeholder="{l}Date{endl}" show-button-bar="false" ng-click="edit.datePickOpen.date=true" />
                  </div><!-- /.so-field -->
                </div>
            </div><!-- /.form-group -->
          <div class="form-group">
              <label class="col-sm-5  control-label">{l}Delivery Date{endl}</label>
                <div class="col-sm-7 ">
                  <div class="so-field">
                    <span class="glyphicon glyphicon-calendar so-icon" ng-click="edit.openDate('delivery_date')"></span>
                    <input type="text" ng-disabled="!edit.showTxt.address || edit.item.add_customer" class="form-control form-control-border-right" ng-model="edit.item.del_date" uib-datepicker-popup="{{edit.format}}" is-open="edit.datePickOpen.delivery_date" datepicker-options="edit.dateOptions" ng-required="true" close-text="Close" placeholder="{l}Delivery Date{endl}" show-button-bar="false" ng-click="edit.datePickOpen.delivery_date=true" />
                  </div><!-- /.so-field -->
                </div>
            </div><!-- /.form-group -->
              <div class="form-group">
                <label class="col-sm-5 control-label">{l}Your reference{endl}</label>
                <div class="col-sm-7">
                  <input type="text" class="form-control" ng-disabled="!edit.showTxt.address || edit.item.add_customer" ng-model="edit.item.your_ref">
                </div>
            </div><!-- /.form-group -->
            <div class="form-group col-bottom">
                <label class="col-sm-5 control-label">{l}Our reference{endl}</label>
                <div class="col-sm-7">
                  <input type="text" class="form-control" ng-disabled="!edit.showTxt.address || edit.item.add_customer" ng-model="edit.item.our_ref">
                </div>
            </div><!-- /.form-group -->  
        </form><!-- /.form-horizontal -->
    </div>  
</div><!-- /.intervention-details -->
<table class="table table_head_only table_orders" cellspacing="0" cellpadding="0">
  <thead>
    <tr>
      <th>
        <div class="row">
          <div class="col-sm-2">{l}Code{endl}</div>
          <div class="col-sm-{{edit.item.colum}} col-article">{l}Article{endl}</div>
          <div class="col-sm-1 col-quantity">{l}Quantity{endl}</div>
          <div class="col-sm-1 col-unitprice">{l}Unit Price{endl}</div>
          <div class="col-sm-1 col-vat text-center" ng-if="edit.item.is_vat">{l}VAT{endl}</div>
          <div class="col-sm-1 text-center" >{l}Unit price + VAT{endl}</div>
          <div class="col-sm-1 text-center" ng-if="edit.item.allow_article_packing">{l}Pack{endl}.<span ng-if="edit.item.allow_article_sale_unit"> / {l}S.U.{endl}</span></div>
          <div class="col-xs-1" ng-if="edit.item.hide_disc">{l}Discount{endl}</div>
          <div class="col-xs-1 text-center" >{l}Amount{endl}</div>
        </div>
      </th>
    </tr>
  </thead>
</table>
<ul class="table table_orders" id="board" data-as-sortable="dragControlListeners" data-ng-model="edit.item.tr_id">
    <li ng-repeat="item in edit.item.tr_id" data-as-sortable-item>
      
      <div class="row" >
        <div class="row_handler" >
            <span class="btn-drag" data-as-sortable-item-handle>&nbsp;</span>
            <span class="btn-remove"><span class="fa fa-trash" ng-click="edit.removeLine($index)"></span></span>          
        </div>
        <div class="col-sm-2" ng-if="!item.content"><span class="hideOnDesktop">{l}Code{endl} </span><code class="text-ellipsis">{{item.article_code}}</code></div>
        <div class="col-sm-{{item.colum}} col-article" ng-if="!item.content"><span class="hideOnDesktop">{l}Article{endl} </span><textarea ng-bind-html="item.article" ng-model="item.article" class="form-control" resize-txt ></textarea></div>
        <div class="col-sm-1 col-quantity" ng-if="!item.content"><span class="hideOnDesktop">{l}Quantity{endl} </span><input select-tablet-all="true" type="text" ng-model="item.quantity" class="form-control" display-nr="" ng-blur="edit.calcTotal('quantity',$index)" /></div>
        <div class="col-sm-1 col-unitprice" ng-if="!item.content"><span class="hideOnDesktop">{l}Unit Price{endl} </span><input select-tablet-all="true" type="text" ng-model="item.price" class="form-control" display-nr="" ng-blur="edit.calcTotal('price',$index)" /><span class="glyphicon glyphicon-refresh" ng-click="edit.openModal(edit,'purchasePrice',item,'sm')" ></span></div>
        <div class="col-sm-1 col-vat text-center text-muted" ng-if="edit.item.is_vat && !item.content"><span class="hideOnDesktop">{l}VAT{endl} </span><div class="input-group"><input select-tablet-all="true" type="text" ng-model="item.percent_x" class="form-control" display-nr="" ng-blur="edit.updateVat($index)" /><span class="input-group-addon input-group-addon_shrink">%</span></div></div>
        <div class="col-sm-1 text-center" ng-if="!item.content"><span class="hideOnDesktop">{l}Unit price + VAT{endl} </span><input select-tablet-all="true" type="text" ng-model="item.price_vat" class="form-control" display-nr="" ng-blur="edit.calcTotal('price_vat',$index)" /></div>
        <div class="col-sm-1 text-center text-muted" ng-if="edit.item.allow_article_packing && !item.content"><span class="hideOnDesktop">{l}Pack{endl}.<span ng-if="edit.item.allow_article_sale_unit"> / {l}S.U.{endl}</span> </span><span>{{item.packing_x}}</span><span ng-if="edit.item.allow_article_sale_unit"> / {{item.sale_unit_x}}</span></div>
        <div class="col-sm-1" ng-if="edit.item.hide_disc && !item.content"><span class="hideOnDesktop">{l}Discount{endl} </span><input select-tablet-all="true" type="text" ng-model="item.disc" class="form-control" display-nr="" ng-blur="edit.calcTotal()" /></div>
        <div class="col-sm-1 text-center" ng-if="!item.content"><span class="hideOnDesktop">{l}Amount{endl} </span><span class="text-strong">{{item.line_total}} </span></div>
        <div class="col-sm-12" ng-if="item.content"><span class="hideOnDesktop">{l}Content{endl} </span>
        <textarea type="text" class="form-control" rows="1" resize-txt ng-model="item.article" > </textarea></div>
      </div>
    </li>
</ul>
<div class="table_orders-add table_orders-add_alt" ng-if="edit.item.customer_id || edit.item.contact_id">
  <!-- <button class="btn btn-block btn-blank add_article text-link" ng-click="edit.addArticle()" ng-if="!edit.showTxt.addArticleBtn"><span class="fa fa-plus icon-holder"></span> {l}Add Item{endl}</button> -->
  <select class="search-products hide" placeholder="Type an article name"></select>
  <div class="btn-group btn-add_line_new" uib-dropdown ng-class="{ 'open' : edit.openContent}">
    <a href="#" class="btn text-link dropdown-toggle" uib-dropdown-toggle><span class="fa fa-plus icon-holder"></span>{l}Add Content{endl}</a>
    <ul class="dropdown-menu" uib-dropdown-menu>
      <li ng-click="edit.addArticle()"><a>{l}Add an Article of the catalog{endl}</a></li>
      <li ng-click="edit.openModal(edit,'addArticle',item,'lg')"><a>{l}Add Articles of the catalog in bulk{endl}</a></li>
      <li ng-click="edit.addContentLine()"><a>{l}Add text line{endl}</a></li>
    </ul>
  </div>
  <selectize config='edit.articlesListAutoCfg' options='edit.auto.options.articles_list' ng-model="edit.selected_article_id" id="article_list_id" ng-if="edit.showTxt.addArticleBtn"></selectize>
</div> 
<!-- <div class="table_orders-add" ng-if="edit.item.customer_id || edit.item.contact_id">
    <button class="btn btn-block btn-blank add_article" ng-click="edit.addArticle()" ng-if="!edit.showTxt.addArticleBtn"><span class="fa fa-plus icon-holder"></span>{l}Add Item{endl}</button>

   
    <div class="btn-add_line">
    <a href="#" class="btn text-link " ng-click="edit.addContentLine()">
    {l}Add content{endl}</a>
     <a href="#" class="btn text-link" ng-click="edit.openModal(edit,'addArticle',item,'lg')">{l}Select Item{endl}</a>
     </div>
    <selectize config='edit.articlesListAutoCfg' options='edit.auto.options.articles_list' ng-model="edit.selected_article_id" id="article_list_id" ng-if="edit.showTxt.addArticleBtn"></selectize>
</div> -->
<div class="row">
    <div class="col-sm-4 col-sm-offset-8 col-top order_total">
      <div class="row" ng-if="edit.item.is_delivery_cost">
          <div class="col-sm-7 col-lg-8 text-right text-muted">
              {l}Delivery Cost{endl}
            </div>
          <div class="col-sm-5 col-lg-4 text-muted text-strong">
                <span ng-if="edit.item.hide_currency1" ng-bind-html="edit.item.currency_type"></span>
                <span ng-bind-html="edit.item.shipping_price"></span>
                <span ng-if="edit.item.hide_currency2" ng-bind-html="edit.item.currency_type"></span>
            </div>
        </div>
      <div class="row">
          <div class="col-sm-7 col-lg-8 text-right text-muted">
              {l}Total without VAT{endl}
            </div>
          <div class="col-sm-5 col-lg-4 text-muted text-strong">
              <span ng-if="edit.item.hide_currency1" ng-bind-html="edit.item.currency_type"></span>
              <span ng-bind-html="edit.item.total"></span>
              <span ng-if="edit.item.hide_currency2" ng-bind-html="edit.item.currency_type"></span>
            </div>
        </div>
      <div class="row" ng-if="edit.item.hide_global_discount">
          <div class="col-sm-7 col-lg-8 text-right text-muted">
              {l}Discount{endl} {{edit.item.discount_percent}}
            </div>
          <div class="col-sm-5 col-lg-4 text-muted text-strong">
              - <span ng-if="edit.item.hide_currency1" ng-bind-html="edit.item.currency_type"></span>
              <span ng-bind-html="edit.item.discount_total"></span>
              <span ng-if="edit.item.hide_currency2" ng-bind-html="edit.item.currency_type"></span>
            </div>
        </div>
      <div class="row" ng-if="edit.item.is_vat">
          <div class="col-sm-7 col-lg-8 text-right text-muted">
              {l}VAT{endl}
            </div>
          <div class="col-sm-5 col-lg-4 text-muted text-strong">
              <span ng-if="edit.item.hide_currency1" ng-bind-html="edit.item.currency_type"></span>
              <span ng-bind-html="edit.item.vat_total"></span>
              <span ng-if="edit.item.hide_currency2" ng-bind-html="edit.item.currency_type"></span>
            </div>
        </div>
      <div class="row">
          <div class="col-sm-7 col-lg-8 text-right">
              <h4>{l}TOTAL{endl}</h4>
            </div>
          <div class="col-sm-5 col-lg-4">
              <h4 class="text-strong"><span ng-if="edit.item.hide_currency1" ng-bind-html="edit.item.currency_type"></span>
              <span ng-bind-html="edit.item.total_vat"></span>
              <span ng-if="edit.item.hide_currency2" ng-bind-html="edit.item.currency_type"></span></h4>
            </div>
        </div>
      <div class="row" ng-if="edit.item.default_currency!=edit.item.currency_type_val">
          <div class="col-sm-7 col-lg-8 text-muted text-right">
              ( {l}TOTAL in{endl} <span ng-bind-html="edit.item.default_currency_name"></span>
            </div>
          <div class="col-sm-5 col-lg-4 text-muted text-strong">
              <span ng-if="edit.item.hide_currency1" ng-bind-html="edit.item.default_currency_val"></span>
              <span ng-bind-html="edit.item.total_default_c"></span>
              <span ng-if="edit.item.hide_currency2" ng-bind-html="edit.item.default_currency_val"></span> )
            </div>
        </div>
    </div>
</div>
<div class="user_summary" ng-class="{'is-open': edit.showTxt.order_notes, '': !edit.showTxt.order_notes}">
  <button class="btn-summary text-link" ng-disabled="!edit.showTxt.address || edit.item.add_customer" ng-click="edit.showTxt.order_notes=!edit.showTxt.order_notes"><span class="glyphicon glyphicon-chevron-down pull-right"></span> {l}Notes (Displayed on order){endl}</button>
  <div class="row col-top col-bottom">
      <div class="col-sm-12">
        <textarea class="form-control form-language {{item.translate_cls}}" ng-repeat="item in edit.item.translate_loop" ng-model="item.notes" ng-required="true" placeholder="{l}Notes{endl}" rows="4"></textarea>
      </div>
  </div>
</div><!-- /.user_summary -->
<div class="text-right">
  <button type="submit" class="btn btn-plain" ng-click="edit.cancel()">{l}Cancel{endl}</button>
  <button type="submit" class="btn btn-default" ng-disabled="!edit.showTxt.address || edit.item.add_customer" ng-click="edit.save()">{l}Save{endl}</button>
</div>