<div class="container">
    <!-- neede on all pages -->
    <div class="row page-content">
        <div class="col-xs-12 tabs-settings">
            <div class="row">
                <div class="col-xs-3">
                    <div class="page-header">
                        <h1>{l}Settings{endl}</h1>
                    </div>
                    <!-- /.page-header -->
                    <ul class="nav nav-tabs tabs-settings-nav">
                        <!-- <li class="active"><a href="#pdf_logos" aria-controls="pdf_logos" data-toggle="tab" >{l}Pdf logos{endl}</a></li> -->
                        <li class="active"><a href="#pdf_layouts" aria-controls="pdf_layouts" data-toggle="tab">{l}PDF layout{endl}</a></li>
                        <li><a href="#convention" aria-controls="convention" data-toggle="tab" ng-click="vm.load('Convention','convention')">{l}Naming convention{endl}</a></li>
                        <li><a href="#general" aria-controls="general" data-toggle="tab" ng-click="vm.load('general','general_condition')">{l}Note{endl}</a></li>
                        <li><a href="#customLabels" aria-controls="customLabels" data-toggle="tab" ng-click="vm.load('customLabel','customLabel')">{l}Custom PDF labels{endl}</a></li>
                        <li><a href="#emailMessage" aria-controls="emailMessage" data-toggle="tab" ng-click="vm.load('emailMessage','message','message_labels')">{l}Messages{endl}</a></li>
                        <li><a href="#defaultEmail" aria-controls="defaultEmail" data-toggle="tab" ng-click="vm.load('defaultEmail','email_default')">{l}Default Email{endl}</a></li>
                        <li><a href="#articlefield" aria-controls="articlefield" data-toggle="tab" ng-click="vm.load('articlefield','articlefields')">{l}List Settings{endl}</a></li>
                        <li><a href="#attachments" aria-controls="attachments" data-toggle="tab" ng-click="vm.load('attachments','atachment','checkbox_allow')">{l}Attach files{endl}</a></li>
                        <li><a href="#delivery" aria-controls="delivery" data-toggle="tab" ng-click="vm.load('delivery','delivery')">{l}Delivery Settings{endl}</a></li>
                        <li><a href="#mobile" aria-controls="mobile" data-toggle="tab" ng-click="vm.load('mobile','mobile')">{l}Mobile Settings{endl}</a></li>
                        <li><a href="#listSettings" aria-controls="listSettings" data-toggle="tab" ng-click="vm.load('listSettings','listSettings')">{l}List Settings{endl}</a></li>
                    </ul>
                    <!-- /.tabs-settings-nav -->
                </div>
                <div class="col-xs-9 tab-content tabs-settings-content">
                    <!-- <div uib-alert ng-repeat="alert in vm.alerts" type="{{alert.type}}" close="vm.alerts.splice($index, 1);" ng-class="['alert-' + (alert.type || 'warning') ]" dismiss-on-timeout="5000">{{alert.msg}}</div> -->
                    <!--           <div class="tab-pane fade in active" id="pdf_logos">
            <div class="section-title">
              <h2>{l}Logo{endl}</h2>
            </div>
            <div class="section-content">
              <div class="row">
                  <div class="col-xs-12">
                      <div class="upload-box col-xs-12">
                          <p><strong>{l}Logo{endl}</strong></p>
                          <p><small>{l}Please provide an image which is 250 x 77 pixels. Allowed file types: <strong>.jpg</strong>, <strong>.jpeg</strong> or <strong>.gif</strong>.{endl}</small></p>
                          <div class="upload-file hidden">
                              <div class="row">
                                  <div class="upload-file-image col-xs-4">
                                    <img class="img-thumbnail" src="demo_images/storedemo.jpg" width="232" height="60" alt=""/>
                                  </div>
                                  <div class="upload-file-info col-xs-8">
                                      <p class="nameOfTheFile"></p>
                                      <div class="upload-progress">
                                          <div class="upload-progress-bar" style="width: 88%;"></div>
                                      </div>
                                  </div>
                              </div>
                          </div>
                          <input type="file" name="file" class="newUploadFile2" accept=".gif,.jpg,.jpeg">
                          <p class="text-center"><button class="btn btn-default" ng-click="vm.upload(vm,$event)"><span class="glyphicon glyphicon-cloud-upload"></span> {l}Upload{endl}</button></p>
                      </div>
                  </div>
              </div>
              <div class="row">
                  <div class="col-xs-12">
                    <div class="radio-list col-xs-12">
                        <div class="row" ng-repeat="item in vm.logos">
                            <div class="col-xs-4 col-xs-offset-4 radio-logo">
                                <span class="radio-logo-option">
                                  <input type="radio" ng-model="vm.default_logo" value="{{item.account_logo}}" ng-click="vm.setLogo(vm,item)">
                                </span>
                                <span class="radio-logo-option radio-logo-del">
                                  <a class="btn-remove" href="#" ng-click="vm.deleteImage(vm,item)"><span class="fa fa-trash"></span></a>
                                </span>
                                <img class="img-thumbnail" src="{{item.account_logo}}" alt=""/>
                            </div>
                        </div>
                    </div>
                  </div>
            </div>
            </div>
          </div> -->
                    <div class="tab-pane fade  in active" id="pdf_layouts">
                        <ul class="nav nav-tabs ">
                            <li class="active"><a href="#pdf" aria-controls="pdf" data-toggle="tab" ng-click="vm.load('PDFlayout')">{l}Pdf Layout{endl} &nbsp;&nbsp;<button type="button" class="btn btn-primary btn-add" ng-click="vm.modal(vm,'otemplate','OrderSettingsCtrl')" uib-tooltip="{l}Order message{endl}" tooltip-placement="right"><span class="btn-add_icon"><span class="icon-bar"></span><span class="icon-bar-2"></span></span></button></a></li>
                            <li><a href="#pdf_ro" aria-controls="pdf_ro" data-toggle="tab" ng-click="vm.load('PDFlayout')">{l}Pdf Layout Purchase{endl} &nbsp;&nbsp;<button type="button" class="btn btn-primary btn-add" ng-click="vm.modal(vm,'otemplate','OrderSettingsCtrl')" uib-tooltip="{l}Add a group{endl}" tooltip-placement="right"><span class="btn-add_icon"><span class="icon-bar"></span><span class="icon-bar-2"></span></span></button></a></li>
                        </ul>
                        <div class="row">
                            <div class="col-xs-12 tab-content ">
                                <div class="tab-pane fade in active" id="pdf">
                                    <div class="section-title">
                                        <div class="row">
                                            <div class="col-xs-3">
                                                <h2>{l}PDF Layout{endl}</h2>
                                            </div>
                                            <div class="col-xs-9 text-right">
                                                <form class="form-inline btn-inline col-right">
                                                    <div class="form-group margin-bottom-none">
                                                        <label class="control-label col-right" for="exampleInputName2">{l}Multiple Identities{endl} </label>
                                                        <select class="form-control form-identity" ng-model="vm.settings.identity" ng-change="vm.ChangeIdentity(vm,vm.settings)">
                              <option value="0">{l}Select{endl}</option>
                              <option ng-repeat="option in vm.settings.multiple_identity track by option.id" value="{{option.id}}">{{option.name}}</option>
                            </select>
                                                    </div>
                                                </form>
                                                <a class="btn btn-default" role="button" target="_blank" title="PDF" href="index.php?do=order-order_print&header_id={{vm.settings.selected_header}}&body_id={{vm.settings.selected_body}}&footer_id={{vm.settings.selected_footer}}&lid={{vm.custom.lang_id}}&save_as=preview&logo=upload/salesassist_2/logo_img_salesassist_2_1411562302.jpg">{l}Preview PDF{endl}</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="section-title section-title_alt margin-bottom-none">
                                        <h2>{l}Header{endl}</h2>
                                    </div>
                                    <div class="row document_layout-list">
                                        <div class="col-xs-6 col-sm-4 col-md-4 col-lg-3" ng-repeat="item in vm.layout_header">
                                            <div class="document_layout-item {{item.selected}}" style="min-height: 260px;">
                                                <a href="#"><img class="img-responsive" ng-src="{{item.img_href}}" alt="" /></a>
                                                <p ng-if="item.selected"><a class="btn btn-sm btn-primary" href="#"><span class="glyphicon glyphicon-ok"></span> {l}Current{endl}</a></p>
                                                <p ng-if="item.selected"><a class="btn btn-sm btn-warning" ng-click="vm.modal({ id:item.type, header:item.header },'otemplate/custom_pdf','OrderCustomPdfCtrl','sm')" href="#"><span class="glyphicon glyphicon-wrench"></span> {l}Modify{endl}</a></p>
                                                <p ng-if="!item.selected"><a class="btn btn-sm btn-tertiary" href="#" ng-click="vm.selectHeaderLayout(vm,item.type)"><span class="glyphicon glyphicon-ok"></span> {l}Select{endl}</a></p>
                                                <p><a class="btn btn-sm btn-link" href="{{item.view_invoice_pdf}}" target="_blank"><span class="glyphicon glyphicon-share"></span> {l}Preview{endl}</a></p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="section-title section-title_alt margin-bottom-none">
                                        <h2>{l}Body{endl}</h2>
                                    </div>
                                    <div class="row document_layout-list">
                                        <div class="col-xs-6 col-sm-4 col-md-4 col-lg-3" ng-repeat="item in vm.layout_body">
                                            <div class="document_layout-item {{item.selected}}">
                                                <a href="#"><img class="img-responsive" ng-src="{{item.img_href}}" alt="" /></a>
                                                <p ng-if="item.selected"><a class="btn btn-sm btn-primary" href="#"><span class="glyphicon glyphicon-ok"></span> {l}Current{endl}</a></p>
                                                <p ng-if="!item.selected"><a class="btn btn-sm btn-tertiary" href="#" ng-click="vm.selectBodyLayout(vm,item.type)"><span class="glyphicon glyphicon-ok"></span> {l}Select{endl}</a></p>
                                                <p><a class="btn btn-sm btn-link" href="{{item.view_invoice_pdf}}" target="_blank"><span class="glyphicon glyphicon-share"></span> {l}Preview{endl}</a></p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="section-title section-title_alt margin-bottom-none">
                                        <h2>{l}Footer{endl}</h2>
                                    </div>
                                    <div class="row document_layout-list">
                                        <div class="col-xs-6 col-sm-4 col-md-4 col-lg-3" ng-repeat="item in vm.layout_footer">
                                            <div class="document_layout-item {{item.selected}}" style="min-height:260px;">
                                                <a href="#"><img class="img-responsive" ng-src="{{item.img_href}}" alt="" /></a>
                                                <p ng-if="item.selected"><a class="btn btn-sm btn-primary" href="#"><span class="glyphicon glyphicon-ok"></span> {l}Current{endl}</a></p>
                                                <p ng-if="item.selected"><a class="btn btn-sm btn-warning" ng-click="vm.modal({ id:item.type, footer:item.footer },'otemplate/custom_pdf','OrderCustomPdfCtrl','sm')" href="#"><span class="glyphicon glyphicon-wrench"></span> {l}Modify{endl}</a></p>
                                                <p ng-if="!item.selected"><a class="btn btn-sm btn-tertiary" href="#" ng-click="vm.selectFooterLayout(vm,item.type)"><span class="glyphicon glyphicon-ok"></span> {l}Select{endl}</a></p>
                                                <p><a class="btn btn-sm btn-link" href="{{item.view_invoice_pdf}}" target="_blank"><span class="glyphicon glyphicon-share"></span> {l}Preview{endl}</a></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane fade in active" id="pdf_ro">
                                    <div class="section-title">
                                        <div class="row">
                                            <div class="col-xs-3">
                                                <h2>{l}PDF Layout for deliveries{endl}</h2>
                                            </div>
                                            <div class="col-xs-9 text-right">
                                                <a class="btn btn-default" role="button" target="_blank" title="PDF" href="index.php?do=order-order_delivery_print&header_id={{vm.settings.selected_header_delivery}}&body_id={{vm.settings.selected_body_delivery}}&footer_id={{vm.settings.selected_footer_delivery}}&lid={{vm.custom.lang_id}}&save_as=preview&logo=upload/salesassist_2/logo_img_salesassist_2_1411562302.jpg">{l}Preview PDF{endl}</a>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- /.section-title -->
                                    <div class="section-title section-title_alt margin-bottom-none">
                                        <h2>{l}Header{endl}</h2>
                                    </div>
                                    <!-- /.section-title -->
                                    <div class="row document_layout-list">
                                        <div class="col-xs-6 col-sm-4 col-md-4 col-lg-3" ng-repeat="item in vm.layout_header_delivery">
                                            <div class="document_layout-item {{item.selected}}" style="min-height: 260px;">
                                                <a href="#"><img class="img-responsive" ng-src="{{item.img_href}}" alt="" /></a>
                                                <p ng-if="item.selected"><a class="btn btn-sm btn-primary" href="#"><span class="glyphicon glyphicon-ok"></span> {l}Current{endl}</a></p>
                                                <p ng-if="item.selected"><a class="btn btn-sm btn-warning" ng-click="vm.modal({ id:item.type, header:item.header },'otemplate/custom_pdf_delivery','OrderCustomPdfCtrl','sm')" href="#"><span class="glyphicon glyphicon-wrench"></span> {l}Modify{endl}</a></p>
                                                <p ng-if="!item.selected"><a class="btn btn-sm btn-tertiary" href="#" ng-click="vm.selectHeaderLayoutDelivery(vm,item.type)"><span class="glyphicon glyphicon-ok"></span> {l}Select{endl}</a></p>
                                                <p><a class="btn btn-sm btn-link" href="{{item.view_invoice_pdf}}" target="_blank"><span class="glyphicon glyphicon-share"></span> {l}Preview{endl}</a></p>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- /.document_layout-list -->
                                    <div class="section-title section-title_alt margin-bottom-none">
                                        <h2>{l}Body{endl}</h2>
                                    </div>
                                    <!-- /.section-title -->
                                    <div class="row document_layout-list">
                                        <div class="col-xs-6 col-sm-4 col-md-4 col-lg-3" ng-repeat="item in vm.layout_body_delivery">
                                            <div class="document_layout-item {{item.selected}}">
                                                <a href="#"><img class="img-responsive" ng-src="{{item.img_href}}" alt="" /></a>
                                                <p ng-if="item.selected"><a class="btn btn-sm btn-primary" href="#"><span class="glyphicon glyphicon-ok"></span> {l}Current{endl}</a></p>
                                                <p ng-if="!item.selected"><a class="btn btn-sm btn-tertiary" href="#" ng-click="vm.selectBodyLayoutDelivery(vm,item.type)"><span class="glyphicon glyphicon-ok"></span> {l}Select{endl}</a></p>
                                                <p><a class="btn btn-sm btn-link" href="{{item.view_invoice_pdf}}" target="_blank"><span class="glyphicon glyphicon-share"></span> {l}Preview{endl}</a></p>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- /.document_layout-list -->
                                    <div class="section-title section-title_alt margin-bottom-none">
                                        <h2>{l}Footer{endl}</h2>
                                    </div>
                                    <!-- /.section-title -->
                                    <div class="row document_layout-list">
                                        <div class="col-xs-6 col-sm-4 col-md-4 col-lg-3" ng-repeat="item in vm.layout_footer_delivery">
                                            <div class="document_layout-item {{item.selected}}" style="min-height:260px;">
                                                <a href="#"><img class="img-responsive" ng-src="{{item.img_href}}" alt="" /></a>
                                                <p ng-if="item.selected"><a class="btn btn-sm btn-primary" href="#"><span class="glyphicon glyphicon-ok"></span> {l}Current{endl}</a></p>
                                                <p ng-if="item.selected"><a class="btn btn-sm btn-warning" ng-click="vm.modal({ id:item.type, footer:item.footer },'otemplate/custom_pdf_delivery','OrderCustomPdfCtrl','sm')" href="#"><span class="glyphicon glyphicon-wrench"></span> {l}Modify{endl}</a></p>
                                                <p ng-if="!item.selected"><a class="btn btn-sm btn-tertiary" href="#" ng-click="vm.selectFooterLayoutDelivery(vm,item.type)"><span class="glyphicon glyphicon-ok"></span> {l}Select{endl}</a></p>
                                                <p><a class="btn btn-sm btn-link" href="{{item.view_invoice_pdf}}" target="_blank"><span class="glyphicon glyphicon-share"></span> {l}Preview{endl}</a></p>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- /.document_layout-list -->
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="convention">
                        <div class="section-title">
                            <div class="row">
                                <div class="col-xs-6">
                                    <h2>{l}Default Name{endl}</h2>
                                </div>
                                <div class="col-xs-6 text-right">
                                    <button class="btn btn-default" type="button" ng-click="vm.Convention()">{l}Save{endl}</button>
                                </div>
                            </div>
                        </div>
                        <!-- /.section-title -->
                        <div class="section-content">
                            <div class="text-muted col-bottom">
                                <p>{l}Default name for orders.{endl}.</p>
                            </div>
                            <form class="form-horizontal text-left">
                                <div class="form-group">
                                    <label class="col-xs-4 control-label" for="inputEmail">
                    {l}Order Index:{endl} <small class="text-muted">{ {l}Fixed part{endl} }</small>
                    </label>
                                    <div class="col-xs-2">
                                        <input id="inputEmail" class="form-control" type="text" ng-model="vm.convention.ACCOUNT_ORDER_START">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-xs-4 control-label" for="inputPassword">
                    {l}No. of digits{endl} <small class="text-muted">{ {l}Incremental part{endl} }</small>
                    </label>
                                    <div class="col-xs-2">
                                        <input id="inputPassword" class="form-control" type="text" ng-model="vm.convention.ACCOUNT_ORDER_DIGIT_NR">
                                    </div>
                                </div>
                            </form>
                            <div class="alert alert-info alert-info_alt" role="alert">{l}The name of the order will have this format{endl} &nbsp; <code class="bg-primary">{{vm.convention.EXAMPLE}}</code></div>
                            <form class="form-horizontal text-left">
                                <div class="form-group">
                                    <label class="col-xs-4 control-label" for="inputEmail">{l}Show reference{endl}?</label>
                                    <div class="col-xs-2">
                                        <!-- <toggle-switch   ng-model="vm.convention.CHECKED" class="switch-primary" off-label="{l}No{endl}" on-label="{l}Yes{endl}"></toggle-switch> -->
                                        <label class="switch pull-left small_margin">
                                          <input type="checkbox" id=""  ng-model="vm.convention.CHECKED"  class="switch-primary">
                                          <span class="slider round"></span>
                                      </label>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-xs-4 control-label" for="inputEmail">{l}Reference delimiter{endl} 
                  </label>
                                    <div class="col-xs-2">
                                        <input id="inputEmail" class="form-control" type="text" ng-model="vm.convention.ACCOUNT_ORDER_DEL">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-xs-4 control-label">{l}Display weight of orders{endl}</label>
                                    <div class="col-xs-2">
                                        <!-- <toggle-switch ng-model="vm.convention.WEIGHT_CHECKED" class="switch-primary" off-label="{l}No{endl}" on-label="{l}Yes{endl}"></toggle-switch> -->
                                        <label class="switch pull-left small_margin">
                                          <input type="checkbox" id=""  ng-model="vm.convention.WEIGHT_CHECKED"  class="switch-primary">
                                          <span class="slider round"></span>
                                      </label>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <!-- /.section-content -->
                        <div class="section-footer">
                            <div class="row">
                                <div class="col-xs-12 text-right">
                                    <button class="btn btn-default" type="button" ng-click="vm.Convention()">{l}Save{endl}</button>
                                </div>
                            </div>
                        </div>
                        <!-- /.section-footer -->
                    </div>
                    <!-- /.tab-pane -->
                    <div class="tab-pane fade" id="general">
                        <div class="section-title">
                            <div class="row">
                                <div class="col-xs-5">
                                    <h2>{l}Default Note{endl}</h2>
                                </div>
                                <div class="col-xs-7 text-right">
                                    <form class="btn-inline col-right">
                                        <div class="form-group margin-bottom-none" style="max-width: 220px;">
                                            <select class="form-control form-language {{vm.general_condition.translate_cls}}" ng-model="vm.general_condition.languages" ng-change="vm.changelanguage(vm,vm.general_condition)">
                        <option ng-repeat="option in vm.general_condition.language_dd track by option.id" value="{{option.id}}">{{option.name}}</option>
                      </select>
                                        </div>
                                    </form>
                                    <button class="btn btn-default" type="button" ng-click="vm.savelanguage(vm,vm.languages,vm.notes,vm.terms)">{l}Save{endl}</button>
                                </div>
                            </div>
                        </div>
                        <!-- /.section-title -->
                        <div class="section-content">
                            <form>
                                <div class="section-title section-title_alt">
                                    <label>{l}Create a default note for orders.{endl}
                  <!-- <small class="text-muted">{l}Create a default note for invoices{endl}.</small> -->
                  </label>
                                </div>
                                <textarea ui-tinymce="vm.tinymceOptions" ng-model="vm.general_condition.notes" class="variable_assign">{{vm.general_condition.notes}}</textarea>

                            </form>
                        </div>
                        <!-- /.section-content -->
                        <div class="section-footer">
                            <div class="row">
                                <div class="col-xs-12 text-right">
                                    <button class="btn btn-default" type="button" ng-click="vm.savelanguage(vm,vm.languages,vm.notes)">{l}Save{endl}</button>
                                </div>
                            </div>
                        </div>
                        <!-- /.section-footer -->
                    </div>
                    <!-- /.tab-pane -->
                    <div class="tab-pane fade" id="customLabels">
                        <div class="section-title">
                            <h2>{l}Custom PDF labels{endl}</h2>
                        </div>
                        <!-- /.section-title -->
                        <div class="section-content">
                            <div class="text-muted col-bottom">
                                <p>{l}Custom labels for orders.{endl}</p>
                                <p>{l}In order to translate the PDF versions of all orders select the languages and edit the labels.{endl}</p>
                            </div>
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th class="col-xs-10">{l}Language{endl}</th>
                                        <th class="col-xs-2 text-center">{l}Action{endl}</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="item in vm.customLabel">
                                        <td>{{item.name}}</td>
                                        <td class="text-center">
                                            <a href="#" ng-click="vm.modal(item,'otemplate/label','OrderlabelCtrl')"><span class="fas fa-pen"></span></a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <!-- /.tab-pane -->
                    <div class="tab-pane fade" id="emailMessage">
                        <ul class="nav nav-tabs ">
                            <li class="active"><a href="#ord" aria-controls="ord" data-toggle="tab" ng-click="vm.load('defaultEmail','defaultEmail')">{l}Order message{endl} &nbsp;&nbsp;<button type="button" class="btn btn-primary btn-add" ng-click="vm.modal(vm.defaultEmail,'otemplate','OrderSettingsCtrl')" uib-tooltip="{l}Order message{endl}" tooltip-placement="right"><span class="btn-add_icon"><span class="icon-bar"></span><span class="icon-bar-2"></span></span></button></a></li>
                            <li><a href="#ord_po" aria-controls="ord_po" data-toggle="tab" ng-click="vm.load('defaultEmail','defaultEmail')">{l}Order message Purchase{endl} &nbsp;&nbsp;<button type="button" class="btn btn-primary btn-add" ng-click="vm.modal(vm.defaultEmail,'otemplate','OrderSettingsCtrl')" uib-tooltip="{l}Add a group{endl}" tooltip-placement="right"><span class="btn-add_icon"><span class="icon-bar"></span><span class="icon-bar-2"></span></span></button></a></li>
                        </ul>
                        <div class="row">
                            <div class="col-xs-12 tab-content ">
                                <div class="tab-pane fade in active" id="ord">
                                    <div class="section-title">
                                        <div class="row">
                                            <div class="col-xs-6">
                                                <h2>{l}Order message{endl}</h2>
                                            </div>
                                            <div class="col-xs-6 text-right">
                                                <button type="submit" class="btn btn-default" ng-click="vm.saveSettingOrder()">{l}Save{endl}</button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="section-content">
                                        <p class="text-muted col-bottom">{l}Default message for orders.{endl}</p>
                                        <p class="margin-bottom">
                                            {l}You can use the following variables in the message:{endl}<br>
                                            <span class="text-muted">*{l}Click on the variable and the Ctrl+C or Cmd+C(on mac) to copy and then Ctrl+V or Cmd+V to paste{endl}</span>
                                        </p>
                                        <div class="form-horizontal text-left">
                                            <div class="form-group">
                                                <label class="control-label col-xs-3">{l}Labels{endl}</label>
                                                <div class="col-xs-3">
                                                    <select class="form-control" ng-model="vm.message_labels.detail_id" ng-change="vm.Changecodelabes(vm,vm.message_labels)">
                              <option value="0">{l}Select{endl}</option>
                              <option ng-repeat="option in vm.message_labels.detail track by option.id_value" value="{{option.id_value}}">{{option.name}}</option>
                            </select>
                                                </div>
                                                <div class="col-xs-3 variables" ng-if="vm.message_labels.selected_detail != null">
                                                    <li class="list-unstyled" ng-click="vm.clickys(vm.message_labels.selected_detail)">
                                                        <input type="text" class="form-control disabled" readonly value="{{vm.message_labels.selected_detail}}" style="margin-bottom: 0;">
                                                    </li>
                                                </div>
                                                <div class="control-label col-xs-3">

                                                    <a href="#" ng-click="Geman=true" class="text-link" ng-show="!Geman">{l}Show more{endl}&nbsp;<i class="glyphicon glyphicon-chevron-down" aria-hidden="true"></i></a>
                                                    <a href="#" ng-click="Geman=false" class="text-link" ng-show="Geman">{l}Show less{endl}&nbsp;<i class="glyphicon glyphicon-chevron-up" aria-hidden="true"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row variables" ng-show="Geman">
                                            <div class="col-xs-4">
                                                <div class="form-group">
                                                    <input type="text" class="form-control disabled" readonly value="[!ACCOUNT_COMPANY!]" onclick="this.select();">
                                                    <label>{l}Account Name{endl}</label>
                                                </div>
                                            </div>
                                            <div class="col-xs-4">
                                                <div class="form-group">
                                                    <input type="text" class="form-control disabled" readonly value="[!SERIAL_NUMBER!]" onclick="this.select();">
                                                    <label>{l}Serial Number{endl}</label>
                                                </div>
                                            </div>
                                            <div class="col-xs-4">
                                                <div class="form-group">
                                                    <input type="text" class="form-control disabled" readonly value="[!DATE!]" onclick="this.select();">
                                                    <label>{l}Date{endl}</label>
                                                </div>
                                            </div>
                                            <div class="col-xs-4">
                                                <div class="form-group">
                                                    <input type="text" class="form-control disabled" readonly value="[!CUSTOMER!]" onclick="this.select();">
                                                    <label>{l}Company Name{endl}</label>
                                                </div>
                                            </div>
                                            <div class="col-xs-4">
                                                <div class="form-group">
                                                    <input type="text" class="form-control disabled" readonly value="[!DISCOUNT!]" onclick="this.select();">
                                                    <label>{l}Discount Percent{endl}</label>
                                                </div>
                                            </div>
                                            <div class="col-xs-4">
                                                <div class="form-group">
                                                    <input type="text" class="form-control disabled" readonly value="[!DISCOUNT_VALUE!]" onclick="this.select();">
                                                    <label>{l}Discount Value{endl}</label>
                                                </div>
                                            </div>
                                            <div class="col-xs-4">
                                                <div class="form-group">
                                                    <input type="text" class="form-control disabled" readonly value="[!PAYMENTS!]" onclick="this.select();">
                                                    <label>{l}Payments{endl}</label>
                                                </div>
                                            </div>
                                            <div class="col-xs-4">
                                                <div class="form-group">
                                                    <input type="text" class="form-control disabled" readonly value="[!AMOUNT_DUE!]" onclick="this.select();">
                                                    <label>{l}Amount due{endl}</label>
                                                </div>
                                            </div>
                                            <div class="col-xs-4">
                                                <div class="form-group">
                                                    <input type="text" class="form-control disabled" readonly value="[!WEB_LINK!]" onclick="this.select();">
                                                    <label>{l}Web Link{endl}</label>
                                                </div>
                                            </div>
                                            <div class="col-xs-4">
                                                <div class="form-group">
                                                    <input type="text" class="form-control disabled" readonly value="[!WEB_LINK_2!]" onclick="this.select();">
                                                    <label>{l}Weblink 2{endl}</label>
                                                </div>
                                            </div>
                                            <div class="col-xs-4">
                                                <div class="form-group">
                                                    <input type="text" class="form-control disabled" readonly value="[!DUE_DATE!]" onclick="this.select();">
                                                    <label>{l}Due Date{endl}</label>
                                                </div>
                                            </div>
                                            <div class="col-xs-4">
                                                <div class="form-group">
                                                    <input type="text" class="form-control disabled" readonly value="[!INVOICE_TYPE!]" onclick="this.select();">
                                                    <label>{l}Invoice type{endl}</label>
                                                </div>
                                            </div>
                                            <div class="col-xs-4">
                                                <div class="form-group">
                                                    <input type="text" class="form-control disabled" readonly value="[!SIGNATURE!]" onclick="this.select();">
                                                    <label>{l}Signature{endl}</label>
                                                </div>
                                            </div>
                                            <div class="col-xs-4">
                                                <div class="form-group">
                                                    <input type="text" class="form-control disabled" readonly value="[!LOGO!]" onclick="this.select();">
                                                    <label>{l}Logo{endl}</label>
                                                </div>
                                            </div>
                                            <div class="col-xs-4">
                                                <div class="form-group">
                                                    <input type="text" class="form-control disabled" readonly value="[!SALUTATION!]" onclick="this.select();">
                                                    <label>{l}Salutation{endl}</label>
                                                </div>
                                            </div>
                                            <div class="col-xs-4">
                                                <div class="form-group">
                                                    <input type="text" class="form-control disabled" readonly value="[!CONTACT_FIRST_NAME!]" onclick="this.select();">
                                                    <label>{l}Contact First Name{endl}</label>
                                                </div>
                                            </div>
                                            <div class="col-xs-4">
                                                <div class="form-group">
                                                    <input type="text" class="form-control disabled" readonly value="[!CONTACT_LAST_NAME!]" onclick="this.select();">
                                                    <label>{l}Contact Last Name{endl}</label>
                                                </div>
                                            </div>
                                            <div class="col-xs-4">
                                                <div class="form-group">
                                                    <input type="text" class="form-control disabled" readonly value="[!YOUR_REFERENCE!]" onclick="this.select();">
                                                    <label>{l}Your Reference{endl}</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-horizontal text-left">
                                            <div class="form-group">
                                                <div class="col-xs-4 col-xs-offset-8 {{vm.message.translate_special}}">
                                                    <!--                           <select class="form-control form-language {{vm.message.translate_cls}}" ng-model="vm.message.languages" ng-change="vm.changelang(vm,vm.message)">
                            <option ng-repeat="option in vm.message.language_dd track by option.id" value="{{option.id}}">{{option.name}}</option>
                          </select> -->
                                                    <selectize class="" config="vm.cfg" options="vm.message.language_dd" ng-model="vm.message.languages" ng-change="vm.changelang(vm,vm.message)"></selectize>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-xs-3">{l}Subject{endl} <span class="mandatory-label">*</span></label>
                                                <div class="col-xs-9">
                                                    <input type="text" class="form-control form-language {{vm.message.translate_cls}}" ng-model="vm.message.subject">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-xs-3">{l}Body{endl} <span class="mandatory-label">*</span></label>
                                            </div>
                                            <div class="form-group">
                                                <div class="col-sm-12">
                                                    <textarea ui-tinymce="vm.tinymceOptions" ng-model="vm.message.html_content" id="altId" class="variable_assign">{{vm.message.html_content}}</textarea>
                                                    <input name="image" type="file" id="upload" class="hidden" onchange="">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="section-footer">
                                        <div class="row">
                                            <div class="col-xs-12 text-right">
                                                <button type="submit" class="btn btn-default" ng-click="vm.saveSettingOrder()">{l}Save{endl}</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane fade in active" id="ord_po">
                                    <div class="section-title">
                                        <div class="row">
                                            <div class="col-xs-6">
                                                <h2>{l}Purchase Order message{endl}</h2>
                                            </div>
                                            <div class="col-xs-6 text-right">
                                                <button type="submit" class="btn btn-default" ng-click="vm.saveSettingOrder_po()">{l}Save{endl}</button>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- /.section-title -->
                                    <div class="section-content">
                                        <p class="text-muted col-bottom">{l}Default message for purchase orders.{endl}</p>
                                        <p class="margin-bottom">
                                            {l}You can use the following variables in the message:{endl}<br>
                                            <span class="text-muted">*{l}Click on the variable and the Ctrl+C or Cmd+C(on mac) to copy and then Ctrl+V or Cmd+V to paste{endl}</span>
                                        </p>
                                        <div class="form-horizontal text-left">
                                            <div class="form-group">
                                                <label class="control-label col-xs-3">{l}Labels{endl}</label>
                                                <div class="col-xs-3">
                                                    <select class="form-control" ng-model="vm.message_labels.detail_id" ng-change="vm.Changecodelabes(vm,vm.message_labels)">
                              <option value="0">{l}Select{endl}</option>
                              <option ng-repeat="option in vm.message_labels.detail track by option.id_value" value="{{option.id_value}}">{{option.name}}</option>
                            </select>
                                                </div>
                                                <div class="col-xs-3 variables" ng-if="vm.message_labels.selected_detail != null">
                                                    <li class="list-unstyled" ng-click="vm.clickys(vm.message_labels.selected_detail)">
                                                        <input type="text" class="form-control disabled" readonly value="{{vm.message_labels.selected_detail}}" style="margin-bottom: 0;">
                                                    </li>
                                                </div>
                                                <div class="control-label col-xs-3">
                                                    <!-- <button type="submit" class="btn btn-tertiary" ng-click="Geman = !Geman" >{l}Toggle Details List{endl}</button> -->
                                                    <a href="#" ng-click="Geman=true" class="text-link" ng-show="!Geman">{l}Show more{endl}&nbsp;<i class="glyphicon glyphicon-chevron-down" aria-hidden="true"></i></a>
                                                    <a href="#" ng-click="Geman=false" class="text-link" ng-show="Geman">{l}Show less{endl}&nbsp;<i class="glyphicon glyphicon-chevron-up" aria-hidden="true"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row variables" ng-show="Geman">
                                            <div class="col-xs-4">
                                                <div class="form-group">
                                                    <input type="text" class="form-control disabled" readonly value="[!ACCOUNT_COMPANY!]" onclick="this.select();">
                                                    <label>{l}Account Name{endl}</label>
                                                </div>
                                            </div>
                                            <div class="col-xs-4">
                                                <div class="form-group">
                                                    <input type="text" class="form-control disabled" readonly value="[!SERIAL_NUMBER!]" onclick="this.select();">
                                                    <label>{l}Invoice Nr{endl}</label>
                                                </div>
                                            </div>
                                            <div class="col-xs-4">
                                                <div class="form-group">
                                                    <input type="text" class="form-control disabled" readonly value="[!INVOICE_DATE!]" onclick="this.select();">
                                                    <label>{l}Invoice Date{endl}</label>
                                                </div>
                                            </div>
                                            <div class="col-xs-4">
                                                <div class="form-group">
                                                    <input type="text" class="form-control disabled" readonly value="[!CUSTOMER!]" onclick="this.select();">
                                                    <label>{l}Company Name{endl}</label>
                                                </div>
                                            </div>
                                            <div class="col-xs-4">
                                                <div class="form-group">
                                                    <input type="text" class="form-control disabled" readonly value="[!DISCOUNT!]" onclick="this.select();">
                                                    <label>{l}Discount Percent{endl}</label>
                                                </div>
                                            </div>
                                            <div class="col-xs-4">
                                                <div class="form-group">
                                                    <input type="text" class="form-control disabled" readonly value="[!DISCOUNT_VALUE!]" onclick="this.select();">
                                                    <label>{l}Discount Value{endl}</label>
                                                </div>
                                            </div>
                                            <div class="col-xs-4">
                                                <div class="form-group">
                                                    <input type="text" class="form-control disabled" readonly value="[!PAYMENTS!]" onclick="this.select();">
                                                    <label>{l}Payments{endl}</label>
                                                </div>
                                            </div>
                                            <div class="col-xs-4">
                                                <div class="form-group">
                                                    <input type="text" class="form-control disabled" readonly value="[!AMOUNT_DUE!]" onclick="this.select();">
                                                    <label>{l}Amount due{endl}</label>
                                                </div>
                                            </div>
                                            <div class="col-xs-4">
                                                <div class="form-group">
                                                    <input type="text" class="form-control disabled" readonly value="[!WEB_LINK!]" onclick="this.select();">
                                                    <label>{l}Web Link{endl}</label>
                                                </div>
                                            </div>
                                            <div class="col-xs-4">
                                                <div class="form-group">
                                                    <input type="text" class="form-control disabled" readonly value="[!WEB_LINK_2!]" onclick="this.select();">
                                                    <label>{l}Weblink 2{endl}</label>
                                                </div>
                                            </div>
                                            <div class="col-xs-4">
                                                <div class="form-group">
                                                    <input type="text" class="form-control disabled" readonly value="[!DUE_DATE!]" onclick="this.select();">
                                                    <label>{l}Due Date{endl}</label>
                                                </div>
                                            </div>
                                            <div class="col-xs-4">
                                                <div class="form-group">
                                                    <input type="text" class="form-control disabled" readonly value="[!INVOICE_TYPE!]" onclick="this.select();">
                                                    <label>{l}Invoice type{endl}</label>
                                                </div>
                                            </div>
                                            <div class="col-xs-4">
                                                <div class="form-group">
                                                    <input type="text" class="form-control disabled" readonly value="[!SIGNATURE!]" onclick="this.select();">
                                                    <label>{l}Signature{endl}</label>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- /.variables -->
                                        <div class="form-horizontal text-left">
                                            <div class="form-group">
                                                <div class="col-xs-4 col-xs-offset-8 {{vm.message.message_po.translate_special}}">
                                                    <!--                           <select class="form-control form-language {{vm.message.message_po.translate_cls_po}}" ng-model="vm.message.message_po.languages_po" ng-change="vm.changelang_po(vm,vm.message.message_po)">
                            <option ng-repeat="option in vm.message.message_po.language_dd_po track by option.id" value="{{option.id}}">{{option.name}}</option>
                          </select> -->
                                                    <selectize class="" config="vm.cfg" options="vm.message.message_po.language_dd_po" ng-model="vm.message.message_po.languages_po" ng-change="vm.changelang_po(vm,vm.message.message_po)"></selectize>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-xs-3">{l}Subject{endl} <span class="mandatory-label">*</span></label>
                                                <div class="col-xs-9">
                                                    <input type="text" class="form-control form-language {{vm.message.message_po.translate_cls_po}}" ng-model="vm.message.message_po.subject_po">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-xs-3">{l}Body{endl} <span class="mandatory-label">*</span></label>
                                            </div>
                                            <div class="form-group">
                                                <div class="col-sm-12">
                                                    <textarea ui-tinymce="vm.tinymceOptions" ng-model="vm.message.message_po.text_po" id="altId" class="variable_assign">{{vm.message.message_po.text_po}}</textarea>
                                                    <input name="image" type="file" id="upload" class="hidden" onchange="">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- /.section-content -->
                                    <div class="section-footer">
                                        <div class="row">
                                            <div class="col-xs-12 text-right">
                                                <button type="submit" class="btn btn-default" ng-click="vm.saveSettingOrder_po()">{l}Save{endl}</button>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- /.section-footer -->
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.tab-pane -->
                    <div class="tab-pane fade" id="defaultEmail">
                        <div class="section-title">
                            <div class="row">
                                <div class="col-xs-6">
                                    <h2>{l}Default Email{endl}</h2>
                                </div>
                                <div class="col-xs-6 text-right">
                                    <button type="submit" class="btn btn-default" ng-click="vm.saveDefaultEmail(vm,vm.email_default)">{l}Save{endl}</button>
                                </div>
                            </div>
                        </div>
                        <!-- /.section-title -->
                        <div class="section-content">
                            <div class="text-muted col-bottom">
                                <p>{l}This email and name will be the reply emails address on the email sent by the order module{endl}.</p>
                                <!-- <p>{l}To allow your correspondent to reply on this mail, please fill in below the required address{endl}.</p> -->
                            </div>
                            <div class="form-horizontal text-left">
                                <div class="form-group">
                                    <label class="col-xs-4 control-label">{l}Name{endl} <span class="mandatory-label">*</span></label>
                                    <div class="col-xs-6">
                                        <input type="input" class="form-control" ng-model="vm.email_default.default_name">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-xs-4 control-label">{l}Email{endl} <span class="mandatory-label">*</span></label>
                                    <div class="col-xs-6">
                                        <input type="input" class="form-control disabled" ng-model="vm.email_default.email_value">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-xs-12 text-muted col-top">
                                        {l}This email and name will be the reply emails address on the email sent by the purchase order module{endl}.
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-xs-4 control-label">{l}Name{endl} <span class="mandatory-label">*</span></label>
                                    <div class="col-xs-6">
                                        <input type="input" class="form-control" ng-model="vm.email_default.po_default_name">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-xs-4 control-label">{l}Email{endl} <span class="mandatory-label">*</span></label>
                                    <div class="col-xs-6">
                                        <input type="input" class="form-control disabled" ng-model="vm.email_default.po_email_value">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /.section-content -->
                        <div class="section-footer">
                            <div class="row">
                                <div class="col-xs-12 text-right">
                                    <button type="submit" class="btn btn-default" ng-click="vm.saveDefaultEmail(vm,vm.email_default)">{l}Save{endl}</button>
                                </div>
                            </div>
                        </div>
                        <!-- /.section-footer -->
                    </div>
                    <!-- /.tab-pane -->
                    <div class="tab-pane fade" id="articlefield">
                        <div class="section-title">
                            <div class="row">
                                <div class="col-xs-6">
                                    <h2>{l}Field Details{endl}</h2>
                                </div>
                                <div class="col-xs-6 text-right">
                                    <button type="submit" class="btn btn-default" ng-click="vm.articlefieldup(vm,vm.articlefields)">{l}Save{endl}</button>
                                </div>
                            </div>
                        </div>
                        <!-- /.section-title -->
                        <div class="section-content">
                            <div class="form-horizontal text-left">
                                <div class="form-group">
                                    <label class="col-xs-4 control-label">{l}Don't copy the article information{endl}:<span class="mandatory-label">*</span></label>
                                    <div class="form-group col-xs-8">
                                        <!-- <toggle-switch ng-model="vm.articlefields.not_copy_article_info" class="switch-primary" off-label="{l}No{endl}" on-label="{l}Yes{endl}"></toggle-switch> -->
                                        <label class="switch pull-left small_margin">
                                          <input type="checkbox" id=""  ng-model="vm.articlefields.not_copy_article_info"  class="switch-primary">
                                          <span class="slider round"></span>
                                      </label>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-7">
                                    <form>
                                        <div class="form-group">
                                            <label>
                                  {l}Field{endl}<br>
                                  <small class="text-muted">{l}Field details for orders{endl}.</small>
                              </label>
                                            <textarea id="altId" rows="10" class="form-control ng-pristine ng-untouched ng-valid" type="text" ng-model="vm.articlefields.text"></textarea>
                                        </div>
                                    </form>
                                </div>
                                <div class="col-sm-5">
                                    <label class="btn-block text-muted"><small>{l}You can use the following variables in the field description:{endl}</small></label>
                                    <ul class="list-unstyled msg_var variables" id="art_var">
                                        <li class="margin-bottom" ng-click="vm.clicky('[!INTERNAL_NAME!]')"><input class="form-control disabled" type="text" value="[!INTERNAL_NAME!]"> {l}Internal Name{endl}</li>
                                        <li class="margin-bottom" ng-click="vm.clicky('[!ITEM_CODE!]')"><input class="form-control disabled" type="text" value="[!ITEM_CODE!]"> {l}Code{endl}
                                        </li>
                                        <li class="margin-bottom" ng-click="vm.clicky('[!ITEM_NAME!]')"><input class="form-control disabled" type="text" value="[!ITEM_NAME!]"> {l}Article Name{endl}</li>
                                        <li class="margin-bottom" ng-click="vm.clicky('[!ITEM_NAME2!]')"><input class="form-control disabled" type="text" value="[!ITEM_NAME2!]"> {l}Article Name2{endl}</li>
                                        <li class="margin-bottom" ng-click="vm.clicky('[!ARTICLE_BRAND!]')"><input class="form-control disabled" type="text" value="[!ARTICLE_BRAND!]"> {l}Article Brand{endl}</li>
                                        <li class="margin-bottom" ng-click="vm.clicky('[!EAN_CODE!]')"><input class="form-control disabled" type="text" value="[!EAN_CODE!]"> {l}EAN Code{endl}</li>
                                        <li class="margin-bottom" ng-click="vm.clicky('[!DESCRIPTION!]')"><input class="form-control disabled" type="text" value="[!DESCRIPTION!]"> {l}Description{endl}
                                        </li>
                                        <li class="margin-bottom" ng-click="vm.clicky('[!ORIGIN_NUMBER!]')"><input class="form-control disabled" type="text" value="[!ORIGIN_NUMBER!]"> {l}Origin Code{endl}</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!-- /.section-content -->
                        <div class="section-footer">
                            <div class="row">
                                <div class="col-xs-12 text-right">
                                    <button type="submit" class="btn btn-default" ng-click="vm.articlefieldup(vm,vm.articlefields)">{l}Save{endl}</button>
                                </div>
                            </div>
                        </div>
                        <!-- /.section-footer -->
                    </div>
                    <div class="tab-pane fade" id="attachments">
                        <div class="section-title">
                            <h2>{l}Attachments{endl}</h2>
                        </div>
                        <!-- /.section-title -->
                        <div class="section-content">
                            <div class="row">
                                <div class="col-xs-12 col-bottom">
                                    <div class="upload-box1 col-xs-12">
                                        <p class="text-muted">{l}Orders attachments{endl}</p>
                                        <div class="upload-file1 hidden">
                                            <div class="row">
                                                <div class="upload-file-image1 col-xs-4">
                                                    <img class="img-thumbnail1" src="images/storedemo.png" width="232" height="60" alt="" />
                                                </div>
                                                <div class="upload-file-info1 col-xs-8">
                                                    <p class="nameOfTheFile1"></p>
                                                    <div class="upload-progress">
                                                        <div class="upload-progress-bar1" style="width: 88%;"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <input type="file" name="file" class="newUploadFile3" accept=".gif,.jpg,.jpeg,.pdf,.docx">
                                        <p class="text-center"><button class="btn btn-default" ng-click="vm.attachement_files(vm,$event)"><span class="glyphicon glyphicon-cloud-upload"></span> {l}Upload{endl}</button></p>
                                    </div>
                                    <!-- /.upload-box -->
                                </div>
                            </div>
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th class="col-sm-1 text-center">{l}Default{endl}</th>
                                        <th class="col-sm-10">{l}Name{endl}</th>
                                        <th class="col-sm-1 table_actions text-center">{l}Action{endl}</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="item in vm.atachment">
                                        <td class="text-center">
                                            <div class="checkbox checkbox-primary">
                                                <input type="checkbox" ng-model="item.checked" id="checkbox_{{$index}}" ng-click="vm.defaultcheck(vm,item.file_id,item.file,item.checked)">
                                                <label for="checkbox_{{$index}}"></label>
                                            </div>
                                        </td>
                                        <td><a href="{{item.path}}" class="text-link" target="_blank">{{item.file}}</a></td>
                                        <td class="text-center">
                                            <a href="#" ng-click="vm.deleteatach(vm,item.file_id,item.file)"><span class="fa fa-trash text-primary"></span></a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <div class="form-group">
                                <label class="col-xs-4 control-label">{l}Attach dropbox files{endl}:<span class="mandatory-label">*</span></label>
                                <div class="form-group col-xs-8">
                                    <!-- <toggle-switch ng-model="vm.checkbox_allow.allow" on-change="vm.check_allow(vm,vm.checkbox_allow)" class="switch-primary" off-label="{l}No{endl}" on-label="{l}Yes{endl}"></toggle-switch> -->
                                    <label class="switch pull-left small_margin">
                                      <input type="checkbox" id=""  ng-model="vm.checkbox_allow.allow" on-change="vm.check_allow(vm,vm.checkbox_allow)"  class="switch-primary">
                                      <span class="slider round"></span>
                                  </label>
                                </div>
                            </div>
                        </div>
                        <!-- /.section-content -->
                    </div>
                    <!-- /.tab-pane -->
                    <div class="tab-pane fade" id="delivery">
                        <div class="section-title">
                            <div class="row">
                                <div class="col-xs-6">
                                    <h2>{l}Delivery Settings{endl}</h2>
                                </div>
                            </div>
                        </div>
                        <!-- /.section-title -->
                        <div class="section-content">
                            <div class="text-muted col-bottom">
                                <p>{l}Delivery explanation{endl}.</p>
                            </div>
                            <div class="form-horizontal text-left">
                                <div class="form-group">
                                    <label class="col-xs-3 control-label">{l}Delivery process{endl} <span class="mandatory-label">*</span></label>
                                    <div class="col-xs-9 radio">
                                        <label><input type="radio" ng-click="vm.changedelivery(vm,vm.delivery)" value="1" ng-model="vm.delivery.delivery_type"> {l}Delivery process is made in one step{endl}</label>
                                    </div>
                                    <div class="col-xs-9 col-xs-offset-3 radio">
                                        <label><input type="radio" ng-click="vm.changedelivery(vm,vm.delivery)" value="2" ng-model="vm.delivery.delivery_type"> {l}Delivery process is made in two steps{endl}</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.tab-pane -->
                    <div class="tab-pane fade" id="mobile">
                        <div class="section-title">
                            <div class="row">
                                <div class="col-xs-6">
                                    <h2>{l}Mobile Settings{endl}</h2>
                                </div>
                            </div>
                        </div>
                        <!-- /.section-title -->
                        <div class="section-content">
                            <div class="form-horizontal text-left">
                                <div class="form-group">
                                    <label class="col-xs-4 control-label">{l}Activate notification when an order is created from the mobile application{endl}</label>
                                    <div class="form-group col-xs-8">
                                        <!-- <toggle-switch ng-model="vm.mobile.active" on-change="vm.mobileSettings(vm,vm.mobile)" class="switch-primary" off-label="{l}No{endl}" on-label="{l}Yes{endl}"></toggle-switch> -->
                                        <label class="switch pull-left small_margin">
                                          <input type="checkbox" id=""   ng-model="vm.mobile.active" on-change="vm.mobileSettings(vm,vm.mobile)"  class="switch-primary">
                                          <span class="slider round"></span>
                                      </label>
                                    </div>
                                </div>
                                <div class="form-group" ng-if="vm.mobile.active==1">
                                    <label class="col-sm-3 control-label">{l}User{endl}:</label>
                                    <div class="col-sm-9">
                                        <selectize config="vm.salesCfg" options="vm.mobile.username" ng-model="vm.mobile.user_exist"></selectize>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.tab-pane -->
                    <div class="tab-pane fade" id="listSettings">
                        <div class="section-title">
                            <div class="row">
                                <div class="col-xs-6">
                                    <h2>{l}List Settings{endl}</h2>
                                </div>
                            </div>
                        </div>
                        <!-- /.section-title -->
                        <div class="section-content">
                            <div class="form-horizontal text-left">
                                <div class="form-group">
                                    <label class="col-xs-4 control-label">{l}Show my orders only{endl}</label>
                                    <div class="form-group col-xs-8">
                                        <!-- <toggle-switch ng-model="vm.listSettings.list" on-change="vm.listSet(vm,vm.listSettings)" class="switch-primary" off-label="{l}No{endl}" on-label="{l}Yes{endl}"></toggle-switch> -->
                                        <label class="switch pull-left small_margin">
                                          <input type="checkbox" id="" ng-model="vm.listSettings.list" on-change="vm.listSet(vm,vm.listSettings)" class="switch-primary">
                                          <span class="slider round"></span>
                                      </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.tab-pane -->
                    <!-- /.tab-pane -->
                    <!-- /.tab-pane -->
                    <!--               <div class="tab-pane fade" id="sepa">
            <div class="section-title">
              <h2>{l}SEPA{endl}</h2>
            </div>
            <div class="section-content">
              <div class="form-horizontal text-left">
                <div class="form-group">
                  <label class="col-xs-4 control-label">{l}Active SEPA{endl}</label>
                  <div class="col-xs-8 checkbox">
                    <label>
                      <input type="checkbox" ng-model="vm.sepa_active.sepa" ng-click="vm.sepaupdate(vm.sepa_active)">
                    </label>
                  </div>
                </div>
              </div>
            </div>
          </div> -->
                </div>
                <!-- /.tabs-settings-content -->
            </div>
        </div>
        <!-- /.tabs-settings -->
    </div>
    <!-- /.page-content -->
</div>
<!-- neede on all pages -->