<div uib-alert ng-repeat="alert in alerts" type="{{alert.type}}" close="alerts.splice($index, 1);" dismiss-on-timeout="5000" ng-class="['alert-' + (alert.type || 'warning') ]">{{alert.msg}}</div>
<div class="panel panel-primary panel-order">
  <div class="panel-body">
    <div class="row">
      <div class="col-sm-6 col-md-3">
          <h4 class="title_underline">{l}Order Details{endl}</h4>          
            <p><strong>{l}Date{endl}</strong> {{::order.factur_date}}</p>
            <p><strong>{l}Delivery Date{endl}</strong> {{::order.factur_del_date}}</p>
            <p ng-if="::order.ref"><strong>{l}Reference{endl}</strong> {{::order.ref}}</p>
            <p ng-if="::order.our_ref"><strong>{l}Our reference{endl}</strong> {{::order.our_ref}}</p>
            <p ng-if="::order.your_ref"><strong>{l}Your reference{endl}</strong> {{::order.your_ref}}</p>
            <p ng-if="::order.customer_reference"><strong>{l}Customer Reference{endl}</strong> {{::order.customer_reference}}</p>
            <p><strong>{l}Author{endl}</strong> {{::order.order_author}}</p>
            <p ng-if="::order.acc_manager_name"><strong>{l}Account Manager{endl}</strong> {{::order.acc_manager_name}}</p>
            <p ng-if="order.invoices.length"><strong>{l}Invoice Nr{endl} </strong> <span ng-repeat="item in order.invoices"><a class="text-link" href="../pim/admin/index.php?do=invoice-invoice&amp;invoice_id={{item.id}}" >#{{item.serial}}</a><span ng-if="!$last">,</span></span> </p>
      </div>
      <div class="col-sm-6 col-md-3">
          <h4 class="title_underline">{l}Customer Details{endl}</h4>
          <p>{{::order.order_buyer_name}}</p>
          <p ng-if="::order.order_contact_name && order.field_customer_id">{{::order.order_contact_name}}</p>
          <p ng-if="::order.buyer_email"><span class="far fa-envelope text-muted text-link_space" aria-hidden="true"></span> <a href="#">{{::order.buyer_email}}</a></p>
          <p ng-if="::order.buyer_phone"><span class="fa fa-phone text-muted text-link_space" aria-hidden="true"></span> {{::order.buyer_phone}}</p>
          <p ng-if="::order.buyer_fax"><span class="fa fa-fax text-muted text-link_space" aria-hidden="true"></span> {{::order.buyer_fax}}</p>
          <h4 class="title_underline">{l}Delivery Address{endl}</h4>
          <p class="no_css-display_address"  ng-bind-html="::order.address_info"></p>
         <!-- <p class="no_css-display_address" ng-bind-html="::order.delivery_address"></p>-->
          <div ng-if="order.is_pickup">
            <p>{l}Pick Up From Store{endl}</p>
          </div>     
      </div>
      <div class="col-sm-6 col-md-3"  >
        <div class="row">
            <div class="col-md-12">
              <h4 class="title_underline">{l}Deliveries{endl}</h4>
              <ul class="compact_list compact_list-margin">
                <li ng-repeat="item in order.deliveries">
                  <div class="compact_list-options">
                    <a href="index.php?do=order-order_print&amp;order_id={{order_id}}&amp;lid={{order.default_lang}}&amp;type={{order.pdf_del_type}}&amp;delivery_id={{item.delivery_id}}" target="_blank"><span class="far fa-file-pdf" aria-hidden="true"></span></a>
                    <a href="#" ng-click="openDeliveyModal(item.delivery_id)"><span class="fas fa-pen"></span></a>
                    <a href="#" ng-click="deleteDelivery(item.del_delivery_link)"><span class="glyphicon glyphicon-remove"></span></a>
                    <a href="#" ng-click="openSendModal()" ><span class="far fa-envelope"></span></a>
                  </div>
                  <div class="compact_list-info">
                    <span class="delivery-date" ng-class="{ 'delivery-partially':item.active=='delivered', 'delivery-full':item.active=='active', 'delivery-not':item.active=='not_delivered' }" >{{item.delivey}} <span class="akti-icon " ng-class="{ 'o_akti_delivery-alt':item.del_by_two_steps && item.active!='not_delivered', 'o_akti_delivery':item.del_by_two_steps && item.active=='not_delivered' }"></span></span>
                    <a class="text-success" href="#" ng-if="item.del_by_two_steps && item.active=='not_delivered'" ng-click="openDeliveyModal(item.delivery_id,true)"><span class="fa fa-check-circle" aria-hidden="true"></span></a>
                  </div>
                </li>
              </ul>
              <div class="blank_card text-center">
                <div class="card_icon" ng-show="!order.deliveries.length"><span class="akti-icon o_akti_delivery"></span></div>
                <p class="text-muted col-top" ng-show="!order.deliveries.length">{l}Keep track of your deliveries.{endl}</p>
                <div class="text-center col-top"><a class="btn btn-lg_icon btn-primary" ng-click="openDeliveyModal()"  ng-show="order.is_sent && order.is_deliveredd && order.rdy_invoice_not_1"><span class="akti-icon o_akti_delivery"></span> {l}Delivery note{endl}</a></div>
                <p class="text-center col-top" ng-if="order.deliveries.length"><a href="#" class="text-link" data-toggle="modal" data-target="#addReturn" ng-click="openReturnModal()">{l}Add return{endl}</a></p>
              </div>
              <div>

            

                <h4 class="title_underline" ng-if="order.returns.length">{l}Returns{endl} </h4>
                <ul class="compact_list compact_list-margin">
                  <li ng-repeat="item in order.returns">
                    <div class="compact_list-options">
                      <a href="#" ng-click="openReturnModal(item.return_id)"><span class="fas fa-pen"></span></a>
                      <a href="#" ng-click="deleteDelivery(item.del_return_link)"><span class="glyphicon glyphicon-remove"></span></a>
                    </div>
                    <div class="compact_list-info">
                      <span class="delivery-date delivery-full">{{::item.date_ret}}</span>                      
                    </div>
                  </li>
                </ul>
              </div>
            </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
          <h4 class="title_underline">{l}Dispatch Note{endl}</h4>
          <div ng-if="order.del_note">
            <p ng-bind-html="order.del_note_txt"></p>
            <p><a href="#" class="text-link" ng-click="dispatchModal()">{l}Edit{endl}</a> <span class="text-link_space">•</span> <a href="#" class="text-link" ng-click="removeDispatchNote()">{l}Remove{endl}</a></p>
          </div>
          <div class="blank_card text-center" ng-if="!order.del_note">
              <div class="card_icon"><span class="glyphicon glyphicon-comment"></span></div>
              <p class="text-muted col-top">{l}Add extar information to your dispatches.{endl}</p>
              <div class="text-center col-top"><a class="btn btn-lg_icon btn-default" ng-click="dispatchModal()" ><span class="glyphicon glyphicon-comment"></span> {l}Add Dispatch Note{endl}</a></div>
          </div>        
      </div>
    </div>
  </div>
</div>
<div class="row intervention-options">
	<div class="col-xs-12">
    	<div class="module_steps">
        	<ul class="module_steps-tabs">
            	<li ng-class="{ 'selected':order.selectedDraft }"><span class="badge">1</span> {l}Draft{endl}</li>
                <li ng-class="{ 'selected':order.selectedSent }"><span class="badge">2</span> {l}Final{endl}</li>
                <li ng-class="{ 'selected':order.selectedWon }"><span class="badge">3</span> {l}Delivered{endl}</li>
                <li class="module_steps-options" >
                  <a class="btn btn-plain" ng-if="!order.post_order && order.factur_nr" href="#" ng-click="greenpost()"><img src="images/postgreen_icon.png" width="16" height="16" alt=""/><span class="hideOnTablet"> {l}Send by Post{endl}</span></a>
                  <div ng-if="order.post_active && order.post_order" class="alert alert-inline alert-success cursor_pointer" ng-click="resendGreenPost()">{{order.postg_status}}</div>
                	<a class="btn btn-plain" href="#" ng-click="showTxt.sendEmail=true;email.alerts=[];" ng-if="::order.is_admin"><span class="far fa-envelope"></span><span class="hideOnTablet"> {l}Send by Email{endl}</span></a>
                  <div class="btn-group">
                    <a class="btn btn-plain" href="{{order.pdf_link}}" target="_blank"><span class="far fa-file-pdf"></span><span class="hideOnTablet"> {l}Generate PDF{endl}</span></a>
                    <div class="btn-group" ng-click="showPDFsettings()">
                      <a class="btn btn-default" href="#"><span class="glyphicon glyphicon-cog"></span></a>
                    </div>
                  </div>
                  <div class="btn-group">
                    <a class="btn btn-plain" href="{{order.xls_link}}" target="_blank" id="gen_XLS"><span class="akti-icon o_akti_xls"></span><span class="hideOnTablet"> {l}Generate xls{endl}</span></a>
                    <div class="btn-group" ng-click="showPDFsettings(true)">
                      <a class="btn btn-default" href="#"><span class="glyphicon glyphicon-cog"></span></a>
                    </div>
                  </div>
                </li>
            </ul><!-- /.module_steps-tabs -->
            <div class="module_steps-content">
            	<div class="row" ng-if="order.selectedDraft">
                	<div class="col-xs-8">
                        <a class="btn btn-plain" ui-sref="order.edit({'order_id': order_id})" ><span class="fas fa-pen"></span> {l}Edit{endl}</a>
                        <a class="btn btn-secondary" href="#" ng-click="showTxt.markAsReady=true" >{l}Next{endl} <span class="glyphicon glyphicon-chevron-right"></span></a>
                        <a class="btn btn-lg_icon btn-plain" href="#" ng-show="showTxt.markAsReady" ng-click="markOrder('mark_sent')"  ><span class="akti-icon o_akti_articles"></span>{l}Mark as ready to deliver{endl}</a>
                        <div class="pull-right" ng-if="order.is_front"><span class="akti-icon o_akti_webshop"></span></div>
                    </div>
                    <!-- <div class="col-xs-4  text-right" ng-if="order.is_profi">
                      <span>{l}Margin{endl}:<b ng-bind-html="order.margin_value"></b><b>  ( {{::order.margin_percent}} % )</b></span>
                  </div> -->
                  <div class="col-sm-4 text-right module_steps-extra">
                    <small ng-if="order.is_profi" class="text-muted">{l}Margin{endl} <strong ng-bind-html="order.margin_value"></strong> ( {{::order.margin_percent}} % )</small>  <div class="front_icon" ng-if="order.is_front"><span class="akti-icon o_akti_webshop"></span></div>
                  </div>
                </div><!-- /.row:DRAFT -->
            	<div class="row" ng-if="order.selectedSent">
                  <div class="col-xs-8">
                    <a class="btn btn-tertiary" ng-click="markOrder('mark_as_draft')" ng-if="order.is_revert" ><span class="glyphicon glyphicon-chevron-left"></span> {l}Revert to draft{endl}</a>
                    <a class="btn btn-lg_icon btn-plain"  ng-click="markOrder('mark_as_delivered')" ng-if="order.are_delivery && order.not_fully_delivered"><span class="akti-icon o_akti_delivery-alt"></span>{l}Mark as delivered{endl}</a>
                    <div class="dropdown btn-inline" uib-dropdown>
                      <button class="btn btn-plain dropdown-toggle" id="orderOptions" type="button" uib-dropdown-toggle>
                        {l}Actions{endl} &nbsp;<span class="caret"></span>
                      </button>
                      <ul class="dropdown-menu" uib-dropdown-menu>
                        <li ng-if="!order.disable_option"><a href="#" ng-click="goToInvoice(order.invoice_link)"><span class="fas fa-file-alt"></span> {l}Create Invoice{endl}</a></li>
                        <li ng-show="!order.disable_option" class="dropdown-header">{l}OR{endl}</li>

                        <li ng-if="!order.disable_option3 && order.show_for_one_user">
                        <!--<a href="../pim/admin/index.php?do=order-po_orders&amp;add=true&amp;order_id={{order.order_id}}&amp;languages={{order.languages}}&amp;currency_type={{order.currency_type2}}"><span class="fas fa-shopping-cart" ng-if="!order.disable_option3 && order.show_for_one_user"></span> {l}Generate Purchase Order{endl}</a>
                         -->
                         <a href="#" ng-click="goToPurchase_orders(order.po_order_link)"><span class="fas fa-box" ng-if="!order.disable_option3 && order.show_for_one_user"></span> {l}Generate Purchase Order{endl}</a>
                        </li>
                        <li ng-if="!order.disable_option2 "><a href="#" ng-click="goToInvoice(order.proforma_link)"><span class="far fa-file-alt"></span> {l}Generate Proforma Invoice{endl}</a></li>

                        <li ng-if="order.from_import33 "><a href="../pim/admin/index.php?do=order-npo_order&amp;buyer_id={{order.adveo_id}}&amp;is_import_active=1&amp;force_adveo=1&amp;order_id={{order.order_id}}&amp;languages={{order.languages}}&amp;currency_type={{order.currency_type2}}"><span class="glyphicon glyphicon-file"></span> {l}Generate Adveo Order{endl}</a></li>
                      </ul>
                    </div>
                  </div>
                  <div class="col-sm-4 text-right module_steps-extra">
                    <small ng-if="order.is_profi" class="text-muted">{l}Margin{endl} <strong ng-bind-html="order.margin_value"></strong> ( {{::order.margin_percent}} % )</small>  <div class="front_icon" ng-if="order.is_front"><span class="akti-icon o_akti_webshop"></span></div>
                  </div>                  
                </div><!-- /.row:PLANNED -->
                <div class="row" ng-if="order.selectedWon">
                	<div class="col-xs-8">
                    <div class="dropdown btn-inline" uib-dropdown>
                      <button class="btn btn-plain dropdown-toggle" id="orderOptions" type="button" uib-dropdown-toggle>
                        {l}Actions{endl} &nbsp;<span class="caret"></span>
                      </button>
                      <ul class="dropdown-menu" uib-dropdown-menu>
                        <li ng-if="!order.disable_option"><a href="#" ng-click="goToInvoice(order.invoice_link)"><span class="fas fa-file-alt"></span> {l}Create Invoice{endl}</a></li>
                        <li ng-show="!order.disable_option3" class="dropdown-header">{l}OR{endl}</li>
                        <li ng-if="!order.disable_option3 && order.show_for_one_user"><a href="#" ng-click="goToPurchase_orders(order.po_order_link)"><span class="fas fa-box" ng-if="!order.disable_option3 && order.show_for_one_user"></span> {l}Generate Purchase Order{endl}</a></li>
                        <li ng-if="!order.disable_option2 "><a href="#" ng-click="goToInvoice(order.proforma_link)"><span class="far fa-file-alt"></span> {l}Generate Proforma Invoice{endl}</a></li>                        
                      </ul>
                    </div>
                  </div>
                  <div class="col-sm-4 text-right module_steps-extra">
                    <small ng-if="order.is_profi" class="text-muted">{l}Margin{endl} <strong ng-bind-html="order.margin_value"></strong> ( {{::order.margin_percent}} % )</small>  <div class="front_icon" ng-if="order.is_front"><span class="akti-icon o_akti_webshop"></span></div>
                  </div>                  
                </div><!-- /.row:CLOSED -->
                <div class="row">
                	<div class="col-xs-12">
                	  <div class="module_steps-highlight module_steps-fillsheet" ng-if="showTxt.sendEmail">
                      <form class="form-horizontal">
                        <div class="form-group">
                              <div class="col-xs-12 text-right">
                                  <button type="submit" class="btn btn-plain" ng-click="showTxt.sendEmail=false">{l}Cancel{endl}</button>
                                  <button type="submit" class="btn btn-primary" ng-click="sendEmails(email)">{l}Send{endl}</button>
                              </div>
                          </div>
                          <div class="form-group">
                            <label for="" class="col-xs-3 control-label text-left">{l}Recipients{endl}</label>
                            <div class="col-xs-9">
                              <selectize config='contactForEmailAutoCfg' options='auto.options.recipients' ng-model="email.recipients" ></selectize>
                            </div>
                          </div>
                          <div class="form-group">
                            <label for="" class="col-xs-3 control-label text-left">{l}Send me a copy{endl}</label>
                            <div class="col-xs-9 checkbox checkbox-primary">
                              <input type="checkbox" id="checkbox1" ng-model="email.copy" >
                              <label for="checkbox1"> </label>
                            </div>
                          </div>
                          <div class="form-group" ng-if="order.check_acc_manager==true">
                            <label for="" class="col-xs-3 control-label text-left">{l}Send account manager a copy{endl}</label>
                            <div class="col-xs-9 checkbox checkbox-primary">
                              <input type="checkbox" id="checkbox2" ng-model="email.copy_acc" >
                              <label for="checkbox2"></label>
                            </div>
                          </div>
                          <div class="form-group">
                            <label for="" class="col-xs-3 control-label text-left">{l}Subject{endl}</label>
                            <div class="col-xs-9">
                              <input type="text" class="form-control" ng-model="email.e_subject" placeholder="{l}Subject{endl}">
                            </div>
                          </div>
                          <div class="form-group">
                            <label for="" class="col-xs-3 control-label text-left">{l}Message{endl}</label>
                            <div class="col-xs-9">
                              <!-- <textarea class="form-control" ng-model="email.e_message" placeholder="{l}Message{endl}" rows="10" ng-if="::order.use_html=='0'"></textarea> -->
                              <textarea ui-tinymce="tinymceOptions" ng-model="email.e_message" class="form-control mail_send"></textarea>
                              <!-- <wysiwyg textarea-id="question" textarea-class="form-control" textarea-height="184px" ng-model="email.e_message" enable-bootstrap-title="true" textarea-menu="yourModel.menu" ng-if="::order.use_html=='1'"></wysiwyg> -->
                            </div>
                          </div>
                          <div class="form-group">
                              <div class="col-xs-12 text-right">
                                  <a ng-click="showPreview(email)">{l}Preview{endl}</a>
                              </div>
                          </div>
                          <div class="form-group">
                            <label for="" class="col-xs-3 control-label text-left">{l}PDF Language{endl}</label>
                            <div class="col-xs-9">
                              <select class="form-control" ng-model="email.email_language">
                                <option ng-repeat="option in order.language_dd track by option.id" value="{{option.id}}">{{option.name}}</option>
                              </select>
                            </div>
                          </div>
                          <div class="form-group">
                            <label for="" class="col-xs-3 control-label text-left">{l}Include a PDF version of the intervention{endl}</label>
                            <div class="col-xs-9 checkbox checkbox-primary">
                              <input type="checkbox" id="checkbox3" ng-model="email.include_pdf" >
                              <label for="checkbox3"></label>
                            </div>
                          </div>
                          <div class="form-group" ng-if="::order.is_file">
                            <label for="" class="col-xs-3 control-label text-left">{l}Files{endl}:</label>
                            <div class="col-xs-9 checkbox checkbox-primary">
                            	<p ng-repeat="item in email.files">
                              <input type="checkbox" id="checkbox_file_{{$index}}" ng-model="item.checked" > 
                              <label for="checkbox_file_{{$index}}"></label>
                              <span>{{::item.file}}</span>
                            </p>
                            </div>
                          </div>
                          <div class="row">
                              <div class="col-xs-12 text-right">
                                  <button type="submit" class="btn btn-plain" ng-click="showTxt.sendEmail=false">{l}Cancel{endl}</button>
                                  <button type="submit" class="btn btn-primary" ng-click="sendEmails(email)">{l}Send{endl}</button>
                              </div>
                          </div>
                      </form>
                    </div>
                </div>
              </div>
            </div><!-- /.module_steps-content -->
            <div uib-alert ng-repeat="alert in email.alerts" type="{{alert.type}}" close="email.alerts.splice($index, 1);" ng-class="['alert-' + (alert.type || 'warning') ]">{{alert.msg}}</div>
        </div><!-- /.module_steps -->        
    </div>
</div><!-- /.intervention-options -->
<div class="row">
	<div class="col-xs-12">
    <table class="table table_orders">
      <thead>
        <tr>
          <th class="col-sm-2">{l}Code{endl}</th>
          <th class="col-sm-3">{l}Article{endl}</th>
          <th class="col-sm-2 text-center">{l}Quantity{endl}</th>
          <th class="col-sm-1 text-center">{l}Unit Price{endl}</th>
          <th class="col-sm-1 text-center" ng-if="order.is_vat">{l}VAT{endl}</th>
          <th class="col-sm-1 text-center" ng-if="order.allow_article_packing">{l}Pack{endl}.<span ng-if="order.allow_article_sale_unit"> / {l}S.U.{endl}</span></th>
          <th class="col-sm-2 text-center">{l}Amount{endl}</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="item in order.lines" >
          <td ng-if="item.content"><code class="text-ellipsis">{{::item.article_code}}</code></td>
          <td ng-if="item.content"><div ng-bind-html="::item.article"></div></td>
          <td ng-if="item.content" class="text-center text-muted">{{::item.quantity}}</td>
          <td ng-if="item.content" class="text-center text-muted">{{::item.price}}</td>
          <td ng-if="item.content && order.is_vat" class="text-center text-muted">{{::item.percent}}</td>
          <td ng-if="order.allow_article_packing && item.content" class="text-center text-muted">{{::item.packing}}<span ng-if="order.allow_article_sale_unit"> / {{::item.sale_unit}}</span></td>
          <td ng-if="item.content" class="text-center text-strong">{{::item.price_vat}}</td>
          <td ng-if="!item.content" colspan="9"><div ng-bind-html="::item.article"></div></td>
        </tr>
      </tbody>
    </table>
	</div>
</div>
<div class="row">
    <div class="col-sm-6 col-sm-offset-6 order_total">
    	<div class="row" ng-if="order.is_free_delivery">
        	<div class="col-sm-7 col-lg-8 text-right text-muted">
            	{l}Delivery Cost{endl}
            </div>
        	<div class="col-sm-5 col-lg-4 text-right text-muted text-strong">
                <span ng-bind-html="::order.shipping_price"></span>
            </div>
        </div>
    	<div class="row" ng-if="order.sh_vat">
        	<div class="col-sm-7 col-lg-8 text-right text-muted">
            	{l}Total without VAT{endl}
            </div>
        	<div class="col-sm-5 col-lg-4 text-right text-muted text-strong">
              <span ng-bind-html="::order.totalul.total"></span>
            </div>
        </div>
    	<div class="row" ng-if="order.sh_discount1">
        	<div class="col-sm-7 col-lg-8 text-right text-muted">
            	{l}Discount{endl} {{::order.discount_percent}}
            </div>
        	<div class="col-sm-5 col-lg-4 text-right text-muted text-strong">
              <span ng-bind-html="::order.totalul.discount_total"></span>
            </div>
        </div>
    	<div class="row" ng-repeat="item in order.vat_lines" ng-if="order.sh_vat && order.is_vat">
        	<div class="col-sm-7 col-lg-8 text-right text-muted">
            	{l}VAT{endl} ( {{::item.percent}}% )
            </div>
        	<div class="col-sm-5 col-lg-4 text-right text-muted text-strong">
              <span ng-bind-html="::item.vat_total"></span>
            </div>
        </div>
    	<div class="row" ng-class="{ 'form-group':!order.total_hide }">
        	<div class="col-sm-7 col-lg-8 text-right">
            	<h4>{l}TOTAL{endl}</h4>
            </div>
        	<div class="col-sm-5 col-lg-4 text-right">
              <h4 class="text-strong"><span ng-bind-html="::order.totalul.total_vat"></span></h4>
            </div>
        </div>
    	<div class="row" ng-if="order.total_hide">
        	<div class="col-sm-7 col-lg-8 text-muted text-right">
            	( {l}TOTAL in{endl} <span ng-bind-html="::order.totalul.currency_d_type"></span>
            </div>
        	<div class="col-sm-5 col-lg-4 text-muted text-right text-strong">
              <span ng-bind-html="::order.totalul.total_default"></span> )
            </div>
        </div>
    </div>
</div>
<div class="user_summary" ng-class="{ 'is-open': showTxt.viewNotes }">
  <button class="btn-summary text-link" ng-click="showTxt.viewNotes=!showTxt.viewNotes"><span class="glyphicon glyphicon-chevron-down pull-right"></span> {l}Notes{endl} &amp; {l}Extra information{endl}</button>
  <div class="row col-top col-bottom">
    <div class="col-sm-8" >
      <p ng-bind-html="::order.notes"></p>
    </div>
    <div class="col-sm-4" ng-if="order.is_extra">
      <div class="panel panel-primary">
          <div class="panel-body">
              <p ng-bind-html="::order.extra_info"></p>
            </div>
        </div>
    </div>
  </div>
</div><!-- /.user_summary -->
<logging do='order-order' advanced="{{order.ADV_PRODUCT}}" type="order_id" ref="{{order_id}}"></logging>