<div class="container">
  <!-- <div uib-alert ng-repeat="alert in alerts" type="{{alert.type}}" close="alerts.splice($index, 1);" ng-class="['alert-' + (alert.type || 'warning'), 'alert-fixed' ]" dismiss-on-timeout='5000' >{{alert.msg}}</div> -->
  <div class="page-header">
  	<div class="row">
      	<div class="col-sm-12">
              <h1>{l}Orders{endl} 
 <button type="button" class="btn btn-primary btn-add" go-to="" state="order.edit" params='{ "order_id": "tmp", "buyer_id":"tmp" }' uib-tooltip="{l}Add Order{endl}" tooltip-placement="right"><span class="btn-add_icon"><span class="icon-bar"></span><span class="icon-bar-2"></span></span></button>
              </h1>
          </div>
      </div>
  </div><!-- /.page-header -->
  <div class="row page-search">
  	<form>
    	<div class="col-sm-3 col-md-4 col-search-input">
          <div class="so-field" ng-class="{ 'so-active':search.search!='' }">
            <span class="glyphicon glyphicon-search so-icon"></span>
            <input type="text" class="form-control" placeholder="{l}Search{endl}" search-it doit="search" callbk="renderList" ng-model="search.search">
            <span class="glyphicon glyphicon-remove so-icon so-remove" ng-click="toggleSearchButtons('search','')"></span>
          </div><!-- /.input-search -->
        </div>
    	<div class="col-sm-2">
          <div class="btn-group btn-block">
            <selectize placeholder="{l}All Statuses{endl}" config='filterCfg' options='views' ng-model="activeView" ></selectize>
          </div>
        </div>
    	<div class="col-sm-2 col-md-2 col-search-date">
          <div class="so-field" ng-class="{ 'so-active':search.start_date_js!=undefined }">
            <span class="glyphicon glyphicon-calendar so-icon" ng-click="openDate('start_date')"></span>
            <input type="text" class="form-control" ng-model="search.start_date_js" uib-datepicker-popup="{{format}}" is-open="datePickOpen.start_date" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" close-text="Close" placeholder="{l}Start Date{endl}" show-button-bar="false" ng-click="datePickOpen.start_date=true" ng-change="searchThing()">
            <span class="glyphicon glyphicon-remove so-icon so-remove" ng-click="toggleSearchButtons('start_date_js',undefined)"></span>
          </div><!-- /.input-date -->
        </div>
    	<div class="col-sm-2 col-md-2 col-search-date">
          <div class="so-field" ng-class="{ 'so-active':search.stop_date_js!=undefined }">
            <span class="glyphicon glyphicon-calendar so-icon" ng-click="openDate('stop_date')"></span>
            <input type="text" class="form-control" ng-model="search.stop_date_js" uib-datepicker-popup="{{format}}" is-open="datePickOpen.stop_date" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" close-text="Close" placeholder="{l}End Date{endl}" show-button-bar="false" ng-click="datePickOpen.stop_date=true" ng-change="searchThing()">
            <span class="glyphicon glyphicon-remove so-icon so-remove" ng-click="toggleSearchButtons('stop_date_js',undefined)"></span>
          </div><!-- /.input-date -->
        </div>
    	<div class="col-sm-3 col-md-2" ng-class="{ 'hide':search.showAdvanced }">
          	<button type="button" class="btn btn-block btn-plain" ng-click="search.showAdvanced=true;"><span class="text-muted">{l}Advanced search{endl}</span></button>
        </div>
        <div class="col-xs-12 advanced_search" ng-class="{ 'advanced_search-show':search.showAdvanced }">
        	<div class="row">
            	<div class="col-sm-3">
                  <div class="so-field" ng-class="{ 'so-active':search.d_start_date_js!=undefined }">
                    <span class="glyphicon glyphicon-calendar so-icon" ng-click="openDate('d_start_date')"></span>
                    <input type="text" class="form-control" ng-model="search.d_start_date_js" uib-datepicker-popup="{{format}}" is-open="datePickOpen.d_start_date" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" close-text="Close" placeholder="{l}Delivery Start Date{endl}" show-button-bar="false" ng-click="datePickOpen.d_start_date=true">
                    <span class="glyphicon glyphicon-remove so-icon so-remove" ng-click="toggleSearchButtons('d_start_date_js',undefined)"></span>
                  </div><!-- /.so-field -->
                </div>
            	<div class="col-sm-3">
                  <div class="so-field" ng-class="{ 'so-active':search.d_stop_date_js!=undefined }">
                    <span class="glyphicon glyphicon-calendar so-icon" ng-click="openDate('d_stop_date')"></span>
                    <input type="text" class="form-control" ng-model="search.d_stop_date_js" uib-datepicker-popup="{{format}}" is-open="datePickOpen.d_stop_date" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" close-text="Close" placeholder="{l}Delivery End Date{endl}" show-button-bar="false" ng-click="datePickOpen.d_stop_date=true">
                    <span class="glyphicon glyphicon-remove so-icon so-remove" ng-click="toggleSearchButtons('d_stop_date_js',undefined)"></span>
                  </div><!-- /.so-field -->
                </div>
            	<div class="col-sm-3 col-md-4">
                  <input type="text" class="form-control" placeholder="{l}Article{endl}" ng-model="search.article_name_search">
                </div>
            	<div class="col-sm-3 col-md-2 text-right">
                  <button class="btn btn-plain btn-search_cancel" type="button" ng-click="toggleSearchButtons('showAdvanced',false)">Cancel</button>
                  <button class="btn btn-default" type="submit" ng-click="searchThing()">Search</button>
                </div>
            </div>
        </div><!-- /.advanced_search -->
    </form>
  </div><!-- /.page-search -->
  <div class="row page-content">
  	<div class="col-xs-12">
      <table class="table active_rows orderTable">
          <thead>
            <tr>
              <th class="col-sm-2 sortable_row" ng-class="{ 'sortable_row-up':(!reverse && ord=='serial_number'), 'sortable_row-down':(reverse && ord=='serial_number') }" ng-click="orderBY('serial_number')">{l}Order{endl}</th>
              <th class="col-sm-1 sortable_row" ng-class="{ 'sortable_row-up':(!reverse && ord=='t_date') , 'sortable_row-down':(reverse && ord=='t_date') }" ng-click="orderBY('t_date')">{l}Date{endl}</th>
              <th class="col-sm-1 sortable_row" ng-class="{ 'sortable_row-up':(!reverse && ord=='del_date') , 'sortable_row-down':(reverse && ord=='del_date') }" ng-click="orderBY('del_date')">{l}Delivery Date{endl}</th>
              <th class="col-sm-2 sortable_row" ng-class="{ 'sortable_row-up':(!reverse && ord=='our_ref') , 'sortable_row-down':(reverse && ord=='our_ref') }" ng-click="orderBY('our_ref')">{l}Our reference{endl}</th>
              <th class="col-sm-2 sortable_row" ng-class="{ 'sortable_row-up':(!reverse && ord=='customer_name') , 'sortable_row-down':(reverse && ord=='customer_name') }" ng-click="orderBY('customer_name')">{l}Customer{endl}</th>
              <th class="col-sm-1 text-center sortable_row" ng-class="{ 'sortable_row-up':(!reverse && ord=='amount') , 'sortable_row-down':(reverse && ord=='amount') }" ng-click="orderBY('amount')">{l}Amount{endl} </th>
              <th class="col-sm-1 text-center col-status">{l}Status{endl}</th>
              <th class="col-sm-1 col-select">
                <div class="checkbox checkbox-primary">
                  <input type="checkbox" id="checkbox_all" ng-model="listObj.check_add_all" ng-click="saveForPDF()">
                  <label for="checkbox_all"></label>
                </div>  
              </th>
              <th class="col-sm-1 table_actions">
                <!-- <span class="hideOnTablet">{l}Action{endl}</span> -->
                <div class="btn-group" uib-dropdown>
                  <button type="button" class="btn btn-tertiary dropdown-toggle" uib-dropdown-toggle>
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-right" uib-dropdown-menu>
                        <li><a href="index.php?do=order-orders_print&lid=&{{lid}}type={{type}}" target="_blank" ng-click="createPdfs($event)">{l}Create Pdf{endl}</a>
                        </li>
                    </ul>
                </div>
              </th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="item in list" class="collapseTr">
              <td go-to="" state="order.view" params="{'order_id': {{::item.id}}}" list='{ "type":"order-orders", "obj": { "search":{{search}} } }'>
                <span class="text-ellipsis"> 
                    {{::item.serial_number}}
                    <span class="item-icons">
                      <span class="inv_ord {{item.invAll}}" title="{{item.invAll_info}}" ng-if="item.is_invoice"></span>
                      <span class="akti-icon akti-icon-16 o_akti_delivery text-muted" title="{{item.partialDEL_info}}" ng-if="item.is_partial_deliver"></span>
                      <span class="akti-icon akti-icon-16 o_akti_webshop text-muted" ng-if="item.is_front"></span>                                	
                    </span>
                </span> 
              </td>
              <td class="text-muted" go-to="" state="order.view" params='{"order_id": {{::item.id}}}' list='{ "type":"order-orders", "obj": { "search":{{search}} } }'><span>{{::item.created}}</span></td>
              <td class="text-muted" go-to="" state="order.view" params='{"order_id": {{::item.id}}}' list='{ "type":"order-orders", "obj": { "search":{{search}} } }'>{{::item.delivery_date}}</td>
              <td class="text-muted" go-to="" state="order.view" params='{"order_id": {{::item.id}}}' list='{ "type":"order-orders", "obj": { "search":{{search}} } }'>{{::item.our_ref}}</td>
              <td class="text-muted" go-to="" state="order.view" params='{"order_id": {{::item.id}}}' list='{ "type":"order-orders", "obj": { "search":{{search}} } }'>{{::item.buyer_name}}</td>
              <td class="text-center text-strong col-amount" go-to="" state="order.view" params='{"order_id": {{::item.id}}}' list='{ "type":"order-orders", "obj": { "search":{{search}} } }' ng-bind-html="item.amount"></td>
              <td class="text-center col-status" go-to="" state="order.view" params='{"order_id": {{::item.id}}}' list='{ "type":"order-orders", "obj": { "search":{{search}} } }'><span ng-if="item.status!=2" class="badge item-status-gray" ng-class="{ 'item-status-green':item.status=='green', 'item-status-yellow':item.status=='orange' }">{{::item.status2}}</span></td>
              <td class="col-select">
                <div class="checkbox checkbox-primary">
                  <input type="checkbox" id="checkbox_all_{{$index}}" ng-model="item.check_add_to_product" ng-click="saveForPDF(item)">
                  <label for="checkbox_all_{{$index}}"></label>
                </div>
              </td>
              <td class="table_actions">
                <div class="btn-group" uib-dropdown>
                  <button type="button" class="btn btn-plain dropdown-toggle" uib-dropdown-toggle>
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-right" uib-dropdown-menu>
                        <li class="dropdown-header">{l}Action{endl}</li>
                        <li ng-if="!item.is_archived">
                        	<a href="#"  go-to="" state="order.view" params='{"order_id": {{::item.id}}}' list='{ "type":"order-orders", "obj": { "search":{{search}} } }'><span class="glyphicon glyphicon-info-sign text-primary"></span> {l}Info{endl}</a>
                        </li>
                        <li ng-if="item.is_admin && item.is_editable">
                            <a href="#"  go-to="" state="order.edit" params='{"order_id": {{::item.id}}}' list='{ "type":"order-orders", "obj": { "search":{{search}} } }'><span class="fas fa-pen text-primary"></span> {l}Edit{endl}</a>
                        </li>
                        <li ng-if="item.is_admin && !item.is_archived">
                             <a href="#" ng-if="item.status!='orange' && item.status!='green' " ng-click="action(item,'archive_link')" confirm-title="{{item.confirm}}" confirm-ok="{{item.ok}}" confirm-cancel="{{item.cancel}}" confirm="{l}Are you sure, you wanna archive this entry?{endl}"><span class="fas fa-archive text-primary"></span> {l}Archive{endl}</a>
                        </li>
                        <li ng-if="item.is_admin && item.is_archived">
                             <a href="#" ng-click="action(item,'undo_link')" confirm-title="{{item.confirm}}" confirm-ok="{{item.ok}}" confirm-cancel="{{item.cancel}}" confirm="{l}Are you sure, you wanna revert this entry?{endl}"><span class="glyphicon glyphicon-repeat text-primary"></span> {l}Revert{endl}</a>
                        </li>
                        <li ng-if="item.is_archived && item.is_editable">
                        	<a href="#" ng-click="action(item,'delete_link')" confirm-title="{{item.confirm}}" confirm-ok="{{item.ok}}" confirm-cancel="{{item.cancel}}" confirm="{l}Are you sure, you wanna delete this entry?{endl}"><span class="fa fa-trash text-primary"></span> {l}Delete{endl}</a>
                        </li>
                        <li ng-if="item.serial_number && !item.post_order">
                          <a href="#" ng-click="greenpost(item)"><img width="16" height="16" alt="" src="images/postgreen_icon.png"> {l}Send by Post{endl}</a>
                        </li>
                        <li ng-if="item.serial_number && item.post_order">
                          <a href="#" ng-click="resendPost(item)"><img width="16" height="16" alt="" src="images/postgreen_icon.png"> {l}Post status{endl}</a>
                        </li>
                        <!-- <li role="separator" class="divider"></li>
                        <li class="dropdown-header">{l}Extra{endl}</li>
                        <li>
                        	<a href="#">Sample Action</a>
                        </li> -->
                    </ul>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
  	</div>
  </div><!-- /.page-content -->
  <!-- <pag-custom pages="pager" refresh="rederList()" doit='order-orders'></pag-custom> -->
  <ul ng-if="max_rows > 30" uib-pagination total-items="max_rows" ng-model="search.offset" ng-change="searchThing()" max-size="5" class="pager" boundary-links="true" items-per-page="lr" ></ul>
</div><!-- neede on all pages --> 