<div class="modal-body">
  <div class="row">
    <div class="col-xs-12">
      <form class="form-horizontal">
        <div class="form-group">
          <label for="" class="col-xs-3 control-label text-left">{l}Contact{endl}</label>
          <div class="col-xs-9">
            <selectize config='contactForEmailAutoCfg' options='auto.options.recipients' ng-model="email.contact_id" ></selectize>
          </div>
        </div>
        <div class="form-group">
          <label for="" class="col-xs-3 control-label text-left">{l}Recipients{endl}</label>
          <div class="col-xs-9">
            <input type="checkbox" ng-model="email.c_email_ch" >&nbsp;<label class="control-label text-left">{{email.c_email}}</label>
          </div>
          <div class="col-xs-9 pull-right">
            <input type="text" ng-model="email.send_to" class="form-control">
          </div>
          <div class="col-xs-9 pull-right">
            <label>
              <input type="checkbox" ng-model="email.copy" >&nbsp;<label for="" class="control-label text-left">{l}Send me a copy{endl}</label>
            </label>
          </div>
        </div>
        <div class="form-group">
          <label for="" class="col-xs-3 control-label text-left">{l}Subject{endl}</label>
          <div class="col-xs-9">
            <input type="text" class="form-control" ng-model="email.subject" placeholder="{l}Subject{endl}">
          </div>
        </div>
        <div class="form-group">
          <label for="" class="col-xs-3 control-label text-left">{l}Message{endl}</label>
          <div class="col-xs-9">
            <textarea class="form-control" ng-model="email.e_message" placeholder="{l}Message{endl}" rows="10" ></textarea>
          </div>
        </div>
        <div class="form-group">
          <label for="" class="col-xs-3 control-label text-left">{l}PDF Language{endl}</label>
          <div class="col-xs-9">
            <select class="form-control" ng-model="email.lid">
              <option ng-repeat="option in email.language_dd track by option.id" value="{{option.id}}">{{option.name}}</option>
            </select>
          </div>
        </div>
        <div class="form-group">
          <label for="" class="col-xs-3 control-label text-left">{l}Include a PDF version of the intervention{endl}</label>
          <div class="col-xs-9 checkbox">
            <label>
              <input type="checkbox" ng-model="email.include_pdf" >
            </label>
          </div>
        </div>
      </form>
  </div>
</div>
</div>
<div class="modal-footer">
    <button class="btn btn-plain" type="button" ng-click="cancel()">{l}Close{endl}</button>
    <button class="btn btn-primary" type="button" ng-click="ok()">{l}Save{endl}</button>
</div>