<div class="modal-body">
	<div ng-if="!isMultiple">
    	<p>{l}When delivered the stock {endl}(<strong style='color:{{obj.color}};'>{{obj.new_stock}}</strong>) {l}will be under the threshold of{endl} {{obj.threshold_value}}
        <span class="text-muted" ng-if="obj.pending_articles"><br>{l}You have pending deliveries for{endl} <strong>{{obj.pending_articles}}</strong> {l}pieces{endl}</span>
        </p>
	</div>
	<div ng-if="isMultiple">
		<div ng-repeat="item in obj">
        <p><strong>{l}Code{endl} {{::item.article_code}}</strong><br>
        {l}When delivered the stock {endl}(<strong style='color:{{item.color}};'>{{item.new_stock}}</strong>) {l}will be under the threshold of{endl} {{item.threshold_value}}
        <span class="text-muted" ng-if="item.pending_articles"><br>{l}You have pending deliveries for{endl} <strong>{{item.pending_articles}}</strong> {l}pieces{endl}</span>
		</div>
	</div>
</div>
<div class="modal-footer">
    <button class="btn btn-plain" type="button" ng-click="ok()">{l}Close{endl}</button>
</div>
