<h1 class="key">Login</h1>
<form class="main_form" action="index.php" method="POST">
  <input type="hidden" name="do" value="{do_next}">
 
  <fieldset>
    <p>
      <label for="user" style="width:0px;">Username:</label>
      <input name="username" value="{in:username}" type="text"  maxlength="50" class="small" > {msg:[username-out]} 
    </p>
	<p>
      <label for="password" style="width:0px;">Password:</label>
      <input name="password" value="{in:password}" type="password"  maxlength="50" class="small" > {msg:[password-out]} 
    </p>
	
    <div class="buttons" >
	
      <button type="submit">Sign In</button>
    </div>  
  </fieldset>
</form>

