<div class="container">
    <div class="page-header">
        <div class="row">
            <div class="col-sm-12"></div>
        </div>
    </div>
    <!-- /.page-header -->
    <div uib-alert ng-repeat="alert in alerts" type="{{alert.type}}" close="alerts.splice($index, 1);" ng-class="['alert-' + (alert.type || 'warning') ]" dismiss-on-timeout='5000'>{{alert.msg}}</div>
    <div class="row page-content cash-register-articles">
        <div class="col-sm-12">
            <div class="tabs-navigation">
                <ul class="nav nav-tabs" role="tablist">
                    <li class="active" ng-click="get_articles()"><a href="#products" aria-controls="products" role="tab" data-toggle="tab" aria-expanded="true">{l}Articles{endl}</a></li>
                    <li class="" ng-click="get_categories()"><a href="#categories" aria-controls="categories" role="tab" data-toggle="tab" aria-expanded="false">{l}Categories{endl}</a></li>
                    <li class=""><a href="#packs" aria-controls="packs" role="tab" data-toggle="tab" aria-expanded="false">{l}Packs{endl}</a></li>
                    <li class="" ng-click="get_taxes()"><a href="#taxes" aria-controls="taxes" role="tab" data-toggle="tab" aria-expanded="false">{l}Taxes{endl}</a></li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane fade in active" id="products">
                        <div class="section-content">
                            <div class="row page-search">
                                <form>
                                    <div class="col-sm-7 col-search-input">
                                        <div class="so-field" ng-class="{ 'so-active':search.search!='' }">
                                            <span class="glyphicon glyphicon-search so-icon"></span>
                                            <input type="text" class="form-control" placeholder="{l}Search{endl}" search-it doit="search" typemethod="post" callbk="renderList" ng-model="search.search">
                                            <span class="glyphicon glyphicon-remove so-icon so-remove" ng-click="toggleSearchButtons('search','')"></span>
                                        </div>
                                        <!-- /.input-search -->
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="so-field" ng-class="{ 'so-active':search.article_category_id }">
                                            <selectize placeholder="{l}Category{endl}" config='filterCfgFam' options='product_fam' ng-model="search.article_category_id"></selectize>
                                            <span class="glyphicon glyphicon-remove so-icon so-remove" ng-click="toggleSearchButtons('article_category_id','')"></span>
                                        </div>
                                    </div>
                                    <!--  <div class="col-sm-2">
						            <selectize placeholder="{l}All Product Type{endl}" config='filterCfg' options='product_type' ng-model="activeView" ></selectize>                       
						           </div> -->
                                    <div class="col-sm-2">
                                        <div class="so-field" ng-class="{ 'so-active':search.supplier_reference!='' }">
                                            <input type="text" class="form-control" placeholder="{l}Supplier Reference{endl}" search-it doit="search" typemethod="post" callbk="renderList" ng-model="search.supplier_reference">
                                            <span class="glyphicon glyphicon-remove so-icon so-remove" ng-click="toggleSearchButtons('supplier_reference','')"></span>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <!-- /.page-search -->
                            <div class="row">
                                <div class="col-sm-12">
                                    <button type="button" class="btn btn-default pull-right" ng-click="doSync(1)" uib-tooltip="{l}Articles without category or without category syncronized will fail{endl}" tooltip-placement="left" confirm="{l}This will sync ALL non-bloked articles so waiting time depends on articles number{endl}.{l}Are you sure you want to continue{endl}?">{l}Sync{endl}</button>
                                </div>
                            </div>
                            <table class="table active_rows orderTable products">
                                <thead>
                                    <tr>
                                        <th class="{{code_width}} {{code_class}} sortable_row" ng-class="{ 'sortable_row-up':(!reverse && ord=='item_code'), 'sortable_row-down':(reverse && ord=='item_code') }" ng-click="orderBY('item_code')">{l}Code{endl}</th>
                                        <th class="col-sm-3 col-md-3 sortable_row" ng-class="{ 'sortable_row-up':(!reverse && ord=='internal_name'), 'sortable_row-down':(reverse && ord=='internal_name') }" ng-click="orderBY('internal_name')">{l}Internal Name{endl}</th>
                                        <th class="{{fam_width}} sortable_row" ng-class="{ 'sortable_row-up':(!reverse && ord=='article_category'), 'sortable_row-down':(reverse && ord=='article_category') }" ng-click="orderBY('article_category')">{l}Category{endl}</th>
                                        <th class="col-sm-2 col-md-1 sortable_row" ng-class="{ 'sortable_row-up':(!reverse && ord=='price'), 'sortable_row-down':(reverse && ord=='price') }" ng-click="orderBY('price')">{l}Base Price{endl}</th>
                                        <th ng-if="allow_stock && adv_product" class="col-sm-1 col-md-1 text-center sortable_row" ng-class="{ 'sortable_row-up':(!reverse && ord=='stock'), 'sortable_row-down':(reverse && ord=='stock') }" ng-click="orderBY('stock')">{l}Stock{endl}</th>
                                        <th class="col-sm-1 text-center">{l}Block Sync{endl}</th>
                                        <th class="col-sm-1 table_actions">
                                            <div class="btn-group" uib-dropdown>
                                                <button type="button" class="btn btn-plain dropdown-toggle" uib-dropdown-toggle>
                        						<span class="caret"></span>
                    						</button>
                                                <ul class="dropdown-menu dropdown-menu-right" uib-dropdown-menu>
                                                    <li class="dropdown-header">{l}Action{endl}</li>
                                                    <li ng-click="markAllBlocked(true)"><a href="#">{l}Mark all as blocked{endl}</a></li>
                                                    <li ng-click="markAllBlocked(false)"><a href="#">{l}Mark all as unblocked{endl}</a></li>
                                                </ul>
                                            </div>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="item in list" class="collapseTr">
                                        <td class="expand_row text-muted">
                                            <i class="fa fa-chevron-right btn-expand" ng-if="adv_product" ng-click="listMore($index)"></i>
                                            <i class="fa fa-chevron-down btn-expand hidden" ng-click="listLess($index)"></i>

                                            <!-- <span class="glyphicon glyphicon-plus btn-expand" ng-if="adv_product" ng-click="listMore($index)"></span>
                						<span class="glyphicon glyphicon-minus btn-expand hidden" ng-click="listLess($index)"></span>  -->
                                            <span class="text-ellipsis ng-cloak">{{::item.code}}</span>
                                        </td>
                                        <td class="text-muted ng-cloak"><span>{{::item.name}}</span></td>
                                        <td class="text-muted ng-cloak"><span>{{::item.category_name}}</span></td>
                                        <td class="text-muted col-adjust-input text-nowrap">{{::item.base_price}}
                                        </td>
                                        <td ng-if="item.adv_product &&  item.allow_stock && item.stock_multiple_locations" class="text-center text-strong col-amount"><span class="{{item.stock_status}}">{{item.stock}}</span>
                                        </td>
                                        <td ng-if="item.adv_product &&  item.allow_stock && !item.stock_multiple_locations" class="text-center  text-muted col-adjust-input text-nowrap">{{::item.stock}}
                                        </td>
                                        <td class="text-center">
                                            <div class="col-sm-1 text-center checkbox checkbox-primary margin-left">
                                                <input type="checkbox" id="art_{{item.article_id}}" ng-model="item.block_sync" ng-disabled="item.is_tactill" ng-click="blockSyncArticle(item)">
                                                <label for="art_{{item.article_id}}"></label>
                                            </div>
                                        </td>
                                        <td class="text-center"><a href="#" title="{l}Sync done{endl}" ng-if="item.sync_done"><span class="fas fa-upload"></span></a><span class="item-icons" ng-if="item.is_tactill"><i class="fa fa-exclamation text-danger" aria-hidden="true" uib-tooltip="{l}Article from Tactill{endl}" tooltip-placement="left"></i></span></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="categories">
                        <div class="section-content">
                            <div class="row page-search">
                                <form>
                                    <div class="col-sm-12 col-search-input">
                                        <div class="so-field" ng-class="{ 'so-active':search_fam.search!='' }">
                                            <span class="glyphicon glyphicon-search so-icon"></span>
                                            <input type="text" class="form-control" placeholder="{l}Search{endl}" search-it doit="search_fam" typemethod="post" callbk="renderList" ng-model="search_fam.search">
                                            <span class="glyphicon glyphicon-remove so-icon so-remove" ng-click="toggleSearchButtons('search','')"></span>
                                        </div>
                                        <!-- /.input-search -->
                                    </div>
                                </form>
                            </div>
                            <!-- /.page-search -->
                            <div class="row">
                                <div class="col-sm-12">
                                    <button type="button" class="btn btn-default pull-right" ng-click="doSync(2)" confirm="{l}This will sync ALL non-bloked categories so waiting time depends on categories number{endl}.{l}Are you sure you want to continue{endl}?">{l}Sync{endl}</button>
                                </div>
                            </div>
                            <table class="table active_rows orderTable">
                                <thead>
                                    <tr>
                                        <th class="col-sm-7">{l}Name{endl}</th>
                                        <th class="col-sm-3 text-center">{l}Number of articles{endl}</th>
                                        <th class="col-sm-1 text-center">{l}Block Sync{endl}</th>
                                        <th class="col-sm-1 table_actions">
                                            <div class="btn-group" uib-dropdown>
                                                <button type="button" class="btn btn-plain dropdown-toggle" uib-dropdown-toggle>
                        						<span class="caret"></span>
                    						</button>
                                                <ul class="dropdown-menu dropdown-menu-right" uib-dropdown-menu>
                                                    <li class="dropdown-header">{l}Action{endl}</li>
                                                    <li ng-click="markAllBlocked(true)"><a href="#">{l}Mark all as blocked{endl}</a></li>
                                                    <li ng-click="markAllBlocked(false)"><a href="#">{l}Mark all as unblocked{endl}</a></li>
                                                </ul>
                                            </div>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="item in list">
                                        <td>{{item.name}}</td>
                                        <td class="text-center">{{item.no_art}}</td>
                                        <td class="text-center">
                                            <div class="col-sm-1 text-center checkbox checkbox-primary margin-left">
                                                <input type="checkbox" id="cat_{{item.id}}" ng-model="item.block_sync" ng-click="addToBlockCategory(item)" ng-disabled="item.is_tactill">
                                                <label for="cat_{{item.id}}"></label>
                                            </div>
                                        </td>
                                        <td class="text-center"><a href="#" title="{l}Sync done{endl}" ng-if="item.sync_done"><span class="fas fa-upload"></span></a><span class="item-icons" ng-if="item.is_tactill"><i class="fa fa-exclamation text-danger" aria-hidden="true" uib-tooltip="{l}Category from Tactill{endl}" tooltip-placement="left"></i></span></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="packs">
                        <div class="section-content">
                        </div>
                    </div>
                    <div class="tab-pane fade" id="taxes">
                        <div class="section-content">
                            <div class="row page-search">
                                <form>
                                    <div class="col-sm-12 col-search-input">
                                        <div class="so-field" ng-class="{ 'so-active':search_tax.search!='' }">
                                            <span class="glyphicon glyphicon-search so-icon"></span>
                                            <input type="text" class="form-control" placeholder="{l}Search{endl}" search-it doit="search_tax" typemethod="post" callbk="renderList" ng-model="search_tax.search">
                                            <span class="glyphicon glyphicon-remove so-icon so-remove" ng-click="toggleSearchButtons('search','')"></span>
                                        </div>
                                        <!-- /.input-search -->
                                    </div>
                                </form>
                            </div>
                            <!-- /.page-search -->
                            <div class="row">
                                <div class="col-sm-12">
                                    <button type="button" class="btn btn-default pull-right" ng-click="doSync(3)">{l}Sync{endl}</button>
                                </div>
                            </div>
                            <table class="table active_rows orderTable">
                                <thead>
                                    <tr>
                                        <th class="col-sm-7">{l}Value{endl}</th>
                                        <th class="col-sm-2 text-center">{l}Number of articles{endl}</th>
                                        <th class="col-sm-1 text-center">{l}Block Sync{endl}</th>
                                        <th class="col-sm-2 table_actions">
                                            <div class="btn-group" uib-dropdown>
                                                <button type="button" class="btn btn-plain dropdown-toggle" uib-dropdown-toggle>
                        						<span class="caret"></span>
                    						</button>
                                                <ul class="dropdown-menu dropdown-menu-right" uib-dropdown-menu>
                                                    <li class="dropdown-header">{l}Action{endl}</li>
                                                    <li ng-click="markAllBlocked(true)"><a href="#">{l}Mark all as blocked{endl}</a></li>
                                                    <li ng-click="markAllBlocked(false)"><a href="#">{l}Mark all as unblocked{endl}</a></li>
                                                </ul>
                                            </div>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="item in list">
                                        <td>{{item.value}}</td>
                                        <td class="text-center">{{item.no_art}}</td>
                                        <td class="text-center">
                                            <div class="col-sm-1 text-center checkbox checkbox-primary margin-left">
                                                <input type="checkbox" id="vat_{{item.vat_id}}" ng-model="item.block_sync">
                                                <label for="vat_{{item.vat_id}}"></label>
                                            </div>
                                        </td>
                                        <td class="text-center"><a href="#" title="{l}Sync done{endl}" ng-if="item.sync_done"><span class="fas fa-upload"></span></a></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="col-sm-12">
        <div class="col-sm-8">
            <ul ng-if="max_rows > 30 && tab==1" uib-pagination total-items="max_rows" ng-model="search.offset" ng-change="searchThing()" max-size="5" class="pager" boundary-links="true" items-per-page="lr"></ul>
            <ul ng-if="max_rows > 30 && tab==2" uib-pagination total-items="max_rows" ng-model="search_fam.offset" ng-change="searchThing()" max-size="5" class="pager" boundary-links="true" items-per-page="lr"></ul>
            <ul ng-if="max_rows > 30 && tab==3" uib-pagination total-items="max_rows" ng-model="search_tax.offset" ng-change="searchThing()" max-size="5" class="pager" boundary-links="true" items-per-page="lr"></ul>
        </div>
        <div class="col-sm-4 text-right">
            <label>{l}Number of products{endl}: <strong>{{max_rows}}</strong></label>
        </div>
    </div>
</div>