<div class="container">
	<div class="page-header">
    	<div class="row">
        	<div class="col-sm-12"></div>
      </div>
  	</div><!-- /.page-header -->
  	<div uib-alert ng-repeat="alert in alerts" type="{{alert.type}}" close="alerts.splice($index, 1);" ng-class="['alert-' + (alert.type || 'warning') ]" dismiss-on-timeout='5000' >{{alert.msg}}</div>
  	<div class="row page-content">
  		<div class="col-sm-12">
  		<div class="tabs-navigation">
  			<ul class="nav nav-tabs" role="tablist">
				<li class="active" ng-click="get_companies()"><a href="#companies" aria-controls="companies" role="tab" data-toggle="tab" aria-expanded="true">{l}Companies{endl}</a></li>
				<li class="" ng-click="get_offers()"><a href="#offers" aria-controls="offers" role="tab" data-toggle="tab" aria-expanded="false">{l}Offers{endl}</a></li>
				<li class="" ng-click="get_shops()"><a href="#shops" aria-controls="shops" role="tab" data-toggle="tab" aria-expanded="false">{l}Shops{endl}</a></li>
			</ul>
			<div class="tab-content">
				<div class="tab-pane fade in active" id="companies">
					<div class="section-content">
						<div class="row">
			                 <div class="col-sm-12">
			                    <button type="button" class="btn btn-default pull-right" ng-click="doSync(1)" ng-if="data_incoming.length">{l}Sync{endl}</button>
			                </div>
			            </div>
						<table class="table table_orders" cellspacing="0" cellpadding="0" ng-if="list.length">
							<thead>
								<tr>
									<th class="col-sm-2 sortable_row" ng-class="{ 'sortable_row-up':(!reverse && ord=='name'), 'sortable_row-down':(reverse && ord=='name') }" ng-click="orderBY('name')">{l}Name{endl}</th>
									<th class="col-sm-3 sortable_row" ng-class="{ 'sortable_row-up':(!reverse && ord=='address'), 'sortable_row-down':(reverse && ord=='address') }" ng-click="orderBY('address')">{l}Address{endl}</th>
									<th class="col-sm-2 sortable_row" ng-class="{ 'sortable_row-up':(!reverse && ord=='phone'), 'sortable_row-down':(reverse && ord=='phone') }" ng-click="orderBY('phone')">{l}Phone{endl}</th>
									<th class="col-sm-1 sortable_row" ng-class="{ 'sortable_row-up':(!reverse && ord=='zip'), 'sortable_row-down':(reverse && ord=='zip') }" ng-click="orderBY('zip')">{l}Zip{endl}</th>
									<th class="col-sm-2 sortable_row" ng-class="{ 'sortable_row-up':(!reverse && ord=='city'), 'sortable_row-down':(reverse && ord=='city') }" ng-click="orderBY('city')">{l}City{endl}</th>
									<th class="col-sm-2 sortable_row" ng-class="{ 'sortable_row-up':(!reverse && ord=='country_code'), 'sortable_row-down':(reverse && ord=='country_code') }" ng-click="orderBY('country_code')">{l}Country{endl}</th>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="item in list">
									<td>{{item.name}}</td>
									<td>{{item.address}}</td>
									<td>{{item.phone}}</td>
									<td>{{item.zip}}</td>
									<td>{{item.city}}</td>
									<td>{{item.country}}</td>
								</tr>
							</tbody>
						</table>									
					</div>
				</div>
				<div class="tab-pane fade" id="offers">
					<div class="section-content">
						<div class="row">
			                 <div class="col-sm-12">
			                    <button type="button" class="btn btn-default pull-right" ng-click="doSync(2)" ng-if="data_incoming.length">{l}Sync{endl}</button>
			                </div>
			            </div>
			            <table class="table table_orders" cellspacing="0" cellpadding="0" ng-if="list.length">
							<thead>
								<tr>
									<th class="col-sm-3">{l}Name{endl}</th>
									<th class="col-sm-2">{l}Billing Frequency{endl}</th>
									<th class="col-sm-2">{l}Kind{endl}</th>
									<th class="col-sm-1">{l}Price{endl}</th>
									<th class="col-sm-2">{l}Licenses{endl}</th>
									<th class="col-sm-2">{l}Plan{endl}</th>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="item in list">
									<td>{{item.name}}</td>
									<td>{{item.billing_frequency}}</td>
									<td>{{item.kind}}</td>
									<td>{{item.price}}</td>
									<td>{{item.licenses}}</td>
									<td>{{item.plan}}</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
				<div class="tab-pane fade" id="shops">
					<div class="section-content">
						<div class="row">
			                 <div class="col-sm-12">
			                    <button type="button" class="btn btn-default pull-right" ng-click="doSync(3)" ng-if="data_incoming.length">{l}Sync{endl}</button>		
			                  </div>
			                  <table class="table table_orders" cellspacing="0" cellpadding="0" ng-if="list.length">
								<thead>
									<tr>
										<th class="col-sm-2">{l}Name{endl}</th>
										<th class="col-sm-2">{l}Company{endl}</th>
										<th class="col-sm-2">{l}City{endl}</th>
										<th class="col-sm-1">{l}Phone{endl}</th>
										<th class="col-sm-2">{l}Address{endl}</th>
										<th class="col-sm-1">{l}Zip{endl}</th>
										<th class="col-sm-2">{l}Country{endl}</th>
									</tr>
							    </thead>
								<tbody>
									<tr ng-repeat="item in list">
										<td>{{item.name}}</td>
										<td>{{item.company}}</td>
										<td>{{item.city}}</td>
										<td>{{item.phone}}</td>
										<td>{{item.address}}</td>
										<td>{{item.zip}}</td>
										<td>{{item.country}}</td>
									</tr>
								</tbody>
							  </table>
			            </div>
					</div>
				</div>
			</div>			
		</div>
  		</div>
  	</div>
  	<ul ng-if="max_rows > 30 && tab==1" uib-pagination total-items="max_rows" ng-model="search.offset" ng-change="searchThing()" max-size="5" class="pager" boundary-links="true" items-per-page="lr" ></ul>
  	<ul ng-if="max_rows > 30 && tab==2" uib-pagination total-items="max_rows" ng-model="search_offer.offset" ng-change="searchThing()" max-size="5" class="pager" boundary-links="true" items-per-page="lr" ></ul>
  	<ul ng-if="max_rows > 30 && tab==3" uib-pagination total-items="max_rows" ng-model="search_shop.offset" ng-change="searchThing()" max-size="5" class="pager" boundary-links="true" items-per-page="lr" ></ul>
</div>