<div class="container">
    <div class="page-header">
        <div class="row">
            <div class="col-sm-12"></div>
        </div>
    </div><!-- /.page-header -->
    <div uib-alert ng-repeat="alert in alerts" type="{{alert.type}}" close="alerts.splice($index, 1);" ng-class="['alert-' + (alert.type || 'warning'), 'alert-fixed' ]" dismiss-on-timeout='5000' >{{alert.msg}}</div>
    <div class="row page-content">
        <div class="col-sm-12">
        <div class="tabs-navigation">
            <ul class="nav nav-tabs" role="tablist">
                <li class="active" ng-click="get_tickets()"><a href="#tickets" aria-controls="tickets" role="tab" data-toggle="tab" aria-expanded="true">{l}Tickets{endl}</a></li>
                <li class="" ng-click="get_pay_method()"><a href="#pay_method" aria-controls="pay_method" role="tab" data-toggle="tab" aria-expanded="false">{l}Payment Methods{endl}</a></li>
                <li class="" ng-click="get_cashbooks()"><a href="#cashbooks" aria-controls="cashbooks" role="tab" data-toggle="tab" aria-expanded="false">{l}Cashbooks{endl}</a></li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane fade in active" id="tickets">
                    <div class="section-content">
                        <div class="row margin-bottom">
                            <div class="col-sm-12">
                                <button type="button" class="btn btn-default pull-right" ng-click="doSync(1)" ng-disabled="sync_disabled">{l}Sync{endl}</button>
                            </div>
                        </div>
                        <div class="row page-search">
                            <form>
                                <div class="col-sm-4 col-md-4">
                                    <div class="so-field" ng-class="{ 'so-active':search.search != '' }">
                                        <span class="glyphicon glyphicon-search so-icon"></span>
                                        <input type="text" class="form-control" placeholder="{l}Search{endl}" search-it doit="search" callbk="renderList" ng-model="search.search">
                                        <span class="glyphicon glyphicon-remove so-icon so-remove" ng-click="toggleSearchButtons('search', '')"></span>
                                    </div><!-- /.input-search -->
                                </div>		             
                                <div class="col-sm-2 col-md-2">
                                    <div class="so-field" ng-class="{ 'so-active':search.start_date != undefined }">
                                        <span class="glyphicon glyphicon-calendar so-icon" ng-click="datePickOpen.start_date = true"></span>
                                        <input type="text" class="form-control" ng-model="search.start_date" uib-datepicker-popup="{{format}}" is-open="datePickOpen.start_date" datepicker-options="dateOptions" close-text="Close" placeholder="{l}Start Date{endl}" show-button-bar="false" ng-click="datePickOpen.start_date = true" ng-change="searchThing()">
                                        <span class="glyphicon glyphicon-remove so-icon so-remove" ng-click="toggleSearchButtons('start_date', undefined)"></span>
                                    </div><!-- /.input-date -->
                                </div>
                                <div class="col-sm-2 col-md-2">
                                    <div class="so-field" ng-class="{ 'so-active':search.end_date != undefined }">
                                        <span class="glyphicon glyphicon-calendar so-icon" ng-click="datePickOpen.end_date = true"></span>
                                        <input type="text" class="form-control" ng-model="search.end_date" uib-datepicker-popup="{{format}}" is-open="datePickOpen.end_date" datepicker-options="dateOptions" close-text="Close" placeholder="{l}End Date{endl}" show-button-bar="false" ng-click="datePickOpen.end_date = true" ng-change="searchThing()">
                                        <span class="glyphicon glyphicon-remove so-icon so-remove" ng-click="toggleSearchButtons('end_date', undefined)"></span>
                                    </div><!-- /.input-date -->
                                </div>
                                <div class="col-sm-2 col-md-2">
                                    <div class="btn-group btn-block">
                                        <selectize placeholder="{l}Operation{endl}" config='operationCfg' options='operations' ng-model="search.operation" ></selectize>
                                    </div>
                                </div>
                                <div class="col-sm-2 col-md-2">
                                    <div class="btn-group btn-block">
                                        <selectize placeholder="{l}Payment Type{endl}" config='paymentCfg' options='payments' ng-model="search.payment" ></selectize>
                                    </div>
                                </div>
                            </form>
                        </div><!-- /.page-search -->
                        <table class="table table_orders tickets" cellspacing="0" cellpadding="0" ng-if="list.length">
                            <thead>
                                <tr>
                                    <th class="col-sm-1 expand_row sortable_row" ng-class="{ 'sortable_row-up':(!reverse && ord == 'number'), 'sortable_row-down':(reverse && ord == 'number') }" ng-click="orderBY('number')">#</th>
                                    <th class="col-sm-1 sortable_row" ng-class="{ 'sortable_row-up':(!reverse && ord == 'date'), 'sortable_row-down':(reverse && ord == 'date') }" ng-click="orderBY('date')">{l}Date{endl}</th>
                                    <th class="col-sm-2 sortable_row" ng-class="{ 'sortable_row-up':(!reverse && ord == 'customer'), 'sortable_row-down':(reverse && ord == 'customer') }" ng-click="orderBY('customer')">{l}Customer{endl}</th>
                                    <th class="col-sm-1 sortable_row" ng-class="{ 'sortable_row-up':(!reverse && ord == 'amount_net'), 'sortable_row-down':(reverse && ord == 'amount_net') }" ng-click="orderBY('amount_net')">{l}Amount{endl}</th>
                                    <th class="col-sm-1 sortable_row" ng-class="{ 'sortable_row-up':(!reverse && ord == 'amount_taxfree'), 'sortable_row-down':(reverse && ord == 'amount_taxfree') }" ng-click="orderBY('amount_taxfree')">{l}Amount + VAT{endl}</th>					
                                    <th class="col-sm-3" >{l}Payment Type{endl}</th>
                                    <th class="col-sm-2 sortable_row" ng-class="{ 'sortable_row-up':(!reverse && ord == 'serial_number'), 'sortable_row-down':(reverse && ord == 'serial_number') }" ng-click="orderBY('serial_number')">{l}Invoice{endl}</th>
                                    <th class="col-sm-1">
                                        <div class="col-sm-1 checkbox checkbox-primary margin-left m-left ">
                                            <input type="checkbox" id="ticket_m" ng-model="top.checkedAll" ng-click="checkAll()">
                                            <label for="ticket_m"></label>
                                        </div>
                                    </th>
                                    <th class="table_actions">
                                        <div class="btn-group" uib-dropdown>
                                            <button type="button" class="btn btn-tertiary dropdown-toggle" uib-dropdown-toggle>
                                                <span class="caret"></span>
                                            </button>
                                            <ul class="dropdown-menu dropdown-menu-right" uib-dropdown-menu>
                                                <li><a href="#" ng-click="createInvoices('2', 'tickets')"><span class="text-primary"></span> {l}Create Grouped invoice{endl}</a></li>
                                            </ul>
                                        </div>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="collapseTr" ng-repeat="item in list">
                                    <td class="text-muted expand_row">
                                        <span class="item-icons">                                            
                                            <i class="fa fa-chevron-right btn-expand" ng-click="listMore($index)"></i>
                                            <i class="fa fa-chevron-down btn-expand hidden" ng-click="listLess($index)"></i>                                            
                                            <!-- <span class="glyphicon glyphicon-plus btn-expand" ng-click="listMore($index)"></span>
                                            <span class="glyphicon glyphicon-minus btn-expand hidden" ng-click="listLess($index)"></span> -->
                                        </span>
                                        <span> {{item.number}}</span>
                                    </td>
                                    <td>{{item.date}}</td>
                                    <td>
                                        <a ng-if="item.no_customer" uib-tooltip="{l}Customer needed for invoice{endl}" tooltip-placement="right"><span class="glyphicon glyphicon-info-sign"></span></a>
                                        <i ng-if="!item.no_customer && !item.registered" class="fa fa-exclamation text-danger" aria-hidden="true" uib-tooltip="{l}Require customer imported{endl}" tooltip-placement="right"></i>
                                        <span>{{item.customer}}</span>
                                    </td>
                                    <td>{{item.amount}}</td>
                                    <td>{{item.amount_vat}}</td>								
                                    <td><p ng-repeat="pay in item.pay_method">{{pay.type}}</p></td>
                                    <td><a ng-if="item.invoice_done" ui-sref="invoice.view({'invoice_id': item.invoice_id})" target="_blank"><span>{{item.serial_number}}</span></a></td>
                                    <td>
                                        <div class="col-sm-1 checkbox checkbox-primary margin-left m-left">
                                            <input type="checkbox" id="ticket_{{item.id}}" ng-model="item.checked" ng-click="checkTicket(item)" ng-disabled="item.invoice_done || !item.invoice_ok">
                                            <label for="ticket_{{item.id}}"></label>
                                        </div>
                                    </td>
                                    <td class="table_actions">
                                        <div class="btn-group" uib-dropdown>
                                            <button type="button" class="btn btn-plain dropdown-toggle" uib-dropdown-toggle>
                                                <span class="caret"></span>
                                            </button>
                                            <ul class="dropdown-menu dropdown-menu-right" uib-dropdown-menu>
                                                <li class="dropdown-header">{l}Action{endl}</li>
                                                <li >
                                                    <a href="#" ng-click="createInvoice('0', 'tickets', item)" ng-if="item.invoice_ok"><span class="fas fa-file-alt"></span> {l}Create Invoice{endl}</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>									
                    </div>
                </div>
                <div class="tab-pane fade" id="pay_method">
                    <div class="section-content">
                        <div class="row">
                            <div class="col-sm-12">
                                <button type="button" class="btn btn-default pull-right" ng-click="doSync(2)" ng-if="data_incoming.length">{l}Sync{endl}</button>
                            </div>
                        </div>
                        <table class="table table_orders" cellspacing="0" cellpadding="0" ng-if="list.length">
                            <thead>
                                <tr>
                                    <th class="col-sm-8">{l}Name{endl}</th>
                                    <th class="col-sm-4">{l}Type{endl}</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="item in list">
                                    <td>{{item.name}}</td>
                                    <td>{{item.type}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="tab-pane fade" id="cashbooks">
                    <div class="section-content">
                        <div class="row">
                            <div class="col-sm-12">
                                <button type="button" class="btn btn-default pull-right" ng-click="doSync(3)" ng-if="data_incoming.length">{l}Sync{endl}</button>		
                            </div>
                            <div class="col-sm-12">
                                <table class="table table_orders" cellspacing="0" cellpadding="0" ng-if="list.length">
                                    <thead>
                                        <tr>
                                            <th class="col-sm-4">{l}Seller Name{endl}</th>
                                            <th class="col-sm-2">{l}Date{endl}</th>
                                            <th class="col-sm-2">{l}Start Amount{endl}</th>
                                            <th class="col-sm-2">{l}End Amount{endl}</th>
                                            <th class="col-sm-2">{l}Total{endl}</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="item in list">
                                            <td>{{item.seller_name}}</td>
                                            <td>{{item.date}}</td>
                                            <td><span ng-bind-html="item.start_amount"></span></td>
                                            <td><span ng-bind-html="item.end_amount"></span></td>
                                            <td><span ng-bind-html="item.total"></span></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </div>
    <ul ng-if="max_rows > 30 && tab == 1" uib-pagination total-items="max_rows" ng-model="search.offset" ng-change="searchThing()" max-size="5" class="pager" boundary-links="true" items-per-page="lr" ></ul>
    <ul ng-if="max_rows > 30 && tab == 2" uib-pagination total-items="max_rows" ng-model="search_pay.offset" ng-change="searchThing()" max-size="5" class="pager" boundary-links="true" items-per-page="lr" ></ul>
    <ul ng-if="max_rows > 30 && tab == 3" uib-pagination total-items="max_rows" ng-model="search_cash.offset" ng-change="searchThing()" max-size="5" class="pager" boundary-links="true" items-per-page="lr" ></ul>
</div>