<div class="modal-header">
  	<h4 class="modal-title">{l}Sync{endl}</h4>
</div>
<div class="modal-body">
    <div class="progress">     	
	  <div class="progress-bar" role="progressbar" aria-valuenow="{{sync.value}}" aria-valuemin="0" aria-valuemax="100" style="width: {{sync.value}}%;">{{sync.value}}%</div>
	</div>
	<div uib-alert type="info" class="alert-info col-sm-12"><strong>{l}If you close this dialog then errors will appear while syncronizing data{endl}</strong>.</div>	
</div>
<div class="modal-footer">
    <button class="btn btn-plain" type="button" ng-click="sync.cancel()">{l}Close{endl}</button>
</div>