abbr,
address,
article,
aside,
audio,
b,
blockquote,
body,
body div,
caption,
cite,
code,
dd,
del,
details,
dfn,
dl,
dt,
em,
fieldset,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
p,
pre,
q,
samp,
section,
small,
span,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
ul,
var,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font-weight: 400;
    vertical-align: baseline;
    background: 0 0
}
article,
aside,
details,
figure,
footer,
header,
nav,
section,
summary {
    display: block
}
*,
:after,
:before {
    box-sizing: border-box
}
embed,
object {
    max-width: 100%
}
html {
    overflow-y: scroll
}
ul {
    list-style: none
}
blockquote,
q {
    quotes: none
}
blockquote:after,
blockquote:before,
q:after,
q:before {
    content: '';
    content: none
}
a {
    margin: 0;
    padding: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: 0 0
}
del {
    text-decoration: line-through
}
abbr[title],
dfn[title] {
    border-bottom: 1px dotted #000;
    cursor: help
}
table {
    border-collapse: collapse;
    border-spacing: 0
}
th {
    font-weight: 700;
    vertical-align: bottom
}
td {
    font-weight: 400
}
hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0
}
input,
select {
    vertical-align: middle
}
pre {
    white-space: pre;
    white-space: pre-wrap;
    white-space: pre-line;
    word-wrap: break-word
}
input[type=radio] {
    vertical-align: text-bottom
}
input[type=checkbox] {
    vertical-align: bottom
}
.ie7 input[type=checkbox] {
    vertical-align: baseline
}
input,
select,
textarea {
    font: 99% sans-serif
}
table {
    font: 100%
}
small {
    font-size: 85%
}
strong {
    font-weight: 700
}
td,
td img {
    vertical-align: top
}
sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative
}
sup {
    top: -.5em
}
sub {
    bottom: -.25em
}
code,
kbd,
pre,
samp {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}
.clickable,
button,
input[type=button],
input[type=file],
input[type=submit] {
    cursor: pointer
}
button,
input,
select,
textarea {
    margin: 0
}
button,
input[type=button] {
    width: auto;
    overflow: visible
}
.ie7 img {
    -ms-interpolation-mode: bicubic
}
.clearfix:after,
.clearfix:before {
    content: "\0020";
    display: block;
    height: 0;
    overflow: hidden
}
.clearfix:after {
    clear: both
}
.clearfix {
    zoom: 1
}
:-moz-placeholder,
:-ms-input-placeholder,
::-moz-placeholder,
::-webkit-input-placeholder {
    color: #b3b3b3
}
.hide {
    display: none;
    visibility: hidden
}
.make_room {
    height: 0 !important;
    min-height: 0 !important;
    overflow: hidden
}
.left {
    float: left
}
.right {
    float: left;
}
body {
    background: #ebebea!important;
}
.wlinkpag .masterhead {
    background: #50E2D0;
    text-align: center;
    color: #474A4C;
}
.wrap {
    margin: 0 auto;
    width: 980px
}
body,
button,
input,
select,
td,
textarea,
th {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 100%;
    color: #333
}
a,
a:hover {
    text-decoration: none;
    outline: 0;
    color: #5d97b9
}
h1,
h2,
h3,
h4,
h5,
h6 {
    line-height: normal
}
.masterhead .wrap {
    position: relative;
    padding: 16px 0;
    z-index: 80;
    width: 940px
}
h1#logo {
    float: left;
    width: 200px;
    overflow: hidden;
    position: relative
}
h1#logo a {
    display: block;
    height: 100%;
    background: url(../images/salesassist-logo.jpg) 0 50% no-repeat
}
h1#logo a span {
    position: absolute;
    left: -5000px
}
h1#logo img {
    height: auto;
    max-height: 80px;
    max-width: 200px;
    vertical-align: middle;
    width: auto
}
.invoice_summary {
    float: right;
    overflow: hidden
}
.buttons {
    overflow: hidden
}
.buttons li {
    float: left;
    padding: 0 0 0 8px
}
.buttons a,
.buttons a:hover {
    display: block;
    background: #f0f0f0;
    color: grey;
    border: 1px solid #d6d6d6;
    text-decoration: none;
    font-size: 13px;
    line-height: 28px;
    -webkit-transition: all .2s linear;
    -moz-transition: all .2s linear;
    -ms-transition: all .2s linear;
    -o-transition: all .2s linear;
    transition: all .2s linear
}
.buttons a:hover{
   opacity:.7 ;
}
.buttons a:hover,
.modal_pos a,
.modal_pos a:hover {
    background: #f7f7f7;
    color: #666;
    border: 1px solid #b3b3b3
}
.buttons .send {
    background: url(../images/download_document.png) 0 50% no-repeat
}
.buttons .pdf,
.buttons .print {
    background: url(../images/print.png) 0 50% no-repeat
}
.buttons .check,
.buttons .mark_sent,
.buttons .more {
    background: url(../images/tick.png) 0 50% no-repeat
}
.buttons .icepay {
    background: url(../images/icepay_icon.png) 0 50% no-repeat
}
#send_invoice {
    background: #6facd0;
    border-color: #5695ba;
    color: #fff
}
#send_invoice:hover {
    background: #8ac2e4;
    border-color: #5ca3cd;
    color: #fff
}
#send_invoice,
#send_invoice span,
#send_invoice:hover {
    font-weight: 700
}
.pag-wlink {
    margin-top: 20px;
    margin-bottom: 40px
}
.wlink_right {
    width: 250px;
    position: relative
}
.wlink_main {
    width: 730px
}
.pag-invoice.wlink_main {
    position: relative;
    z-index: 2
}
.payment-msg {
    background-color: #5d97b9;
    background-color: rgba(92, 150, 184, .8);
    -webkit-border-radius: 4px;
    border-radius: 4px;
    margin-bottom: 16px;
    padding: 14px 16px;
    color: #bed5e3;
    line-height: 21px
}
.payment-msg h1 {
    font-size: 16px;
    line-height: 26px;
    font-weight: 700;
    margin-bottom: 2px;
    color: #fff
}
.payment-msg a,
.payment-msg a:hover {
    color: #fff;
    text-decoration: underline
}
.wlink_options {
    display: none;
    visibility: hidden
}

.wlink_head {
    padding: 0px 15px 0;
    border-bottom: 1px solid #ebebeb;
}
.wlink_head h2,
.wlink_head h2 label,
.wlink_head span {
    font-weight: 700
}
.wlink_head span {
    white-space: nowrap
}
.wlink_head h2 {
    font-size: 15px;
    margin-bottom: 4px
}

.wlink_head li {
    float: none;
    padding: 8px 0 0
}
.wlink_head .accept {
    border-color: #3db866;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
    background: #3db866;
}
.modal_pos .accept,
.modal_pos .accept:hover,
.wlink_head .accept:hover,
.wlink_head .accept:focus {
    border-color: #3db866;
    background-color:#3db866;
    color: #fff;
}
.wlink_head .reject {
    border-color: #f36f6f;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
    background-color: #f36f6f;
}
.modal_pos .reject,
.modal_pos .reject:hover,
.wlink_head .reject:hover,
.wlink_head .reject:focus {
    border-color: #f36f6f;
    background-color: #f36f6f;
    color: #fff;
}
.wlink_head .newV,
.wlink_head .newV:hover {
    color: grey;
    background-position: 5px 50%;
    background-repeat: no-repeat;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%
}
.invoice_doc a i {
    padding-right: 5px;
}
.balance {
    padding: 20px 16px 16px;
    background: #66b24e;
    -webkit-box-shadow: inset 0 4px 0 0 rgba(0, 0, 0, .1);
    box-shadow: inset 0 4px 0 0 rgba(0, 0, 0, .1);
    font-size: 16px;
    color: #fff
}
.balance p,
.balance span {
    font-weight: 700
}
.balance span {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: auto;
    max-width: 218px;
    display: inline-block
}
.pag-invoice .balance {
    padding: 20px 16px 0;
    font-size: 14px
}
.pag-invoice .balance p {
    padding-bottom: 16px
}
.pag-invoice .balance span {
    display: block;
    font-size: 24px;
    line-height: 30px
}
.quote_lost {
    background: #e05350
}
.quote_sent {
    background: #f9c052
}
.transactions {
    background: #f0f0f0;
    padding: 14px 16px;
    font-size: 12px;
    line-height: 17px
}
.paid_success {
    font-weight: 700;
    color: #57a33f
}
.transactions-list {
    padding: 12px 16px;
    border-bottom: 2px solid #e4e4e4
}
.transactions-list p {
    padding: 0 0 4px
}
.transactions-list li {
    padding: 4px 0;
    border-top: 1px dotted #ccc
}
.proforma {
    padding: 12px 16px;
    border-bottom: 1px solid #ebebeb;
    font-size: 12px;
    line-height: 17px
}
.proforma,
.proforma a,
.proforma a:hover {
    font-weight: 700
}
.extra_info {
    padding: 0 16px 16px;
    color: #8f8f8f;
    font-size: 12px;
    line-height: 17px;
    overflow: hidden
}
.extra_info h3 {
    color: #707070;
    font-weight: 700;
    margin: 14px 0 2px
}
.poweredby a,
.poweredby a:hover {
    display: block;
    text-align: center
}
.poweredby.addfloat {
    top: 10px;
    position: fixed;
    left: 50%;
    margin-left: 257px
}
.lbottom,
.lbottom.addfloat {
    clear: both;
    position: relative !important;
    top: auto !important;
    left: auto !important;
    margin-left: 0 !important;
    padding: 16px 0;
    display: none;
    visibility: hidden
}
.lbottom img {
    width: 180px;
    height: auto
}
.activity {
    height: 227px;
    margin-top: 8px;
    position: relative;
    overflow: hidden;
    -webkit-transition: all .2s linear;
    -moz-transition: all .2s linear;
    -ms-transition: all .2s linear;
    -o-transition: all .2s linear;
    transition: all .2s linear;
    width: 100%!important;
}
.activity.hide_activity {
    overflow: hidden;
    height: 40px;
    -webkit-transition: all .2s linear;
    -moz-transition: all .2s linear;
    -ms-transition: all .2s linear;
    -o-transition: all .2s linear;
    transition: all .2s linear
}
.show_loading {
    position: absolute;
    background-color: #fff;
    background-color: rgba(255, 255, 255, .9);
    right: 0;
    left: 0;
    top: 0;
    bottom: 0
}
.show_loading img {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-top: -16px;
    margin-left: -16px
}
form.comment_form {
    display: block;
    overflow: hidden
}
/*.comment_form p {
    float: left;
    width: 100%;
}*/
.comment_form p.full {
    padding-top: 0
}
#buttons_modal p {
    padding-left: 15px;
    padding-right: 15px;
}
#buttons_modal p.full {
    width: 100%;
    padding: 15px;
    padding-bottom: 0;
}
#stars_textarea,
.comment_form input,
.comment_form textarea {
    width: 100%;
    outline: 0;
    line-height: 19px;
    border: 1px solid #dbdbdb;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    font-size: 12px;
    padding: 0 6px;
    height: 30px
}
.comment_form input:hover,
.comment_form textarea:hover {
    border: 1px solid #d4e3ec;
    background-color: #f9fbfd
}
.comment_form input:active,
.comment_form input:focus,
.comment_form textarea:active,
.comment_form textarea:focus {
    border: 1px solid #ccc;
    background-color: #fff
}
#stars_textarea,
.comment_form textarea {
    /* background: url(../images/addnote.png) no-repeat #fff; */
    outline: 0;
    padding: 4px 6px 0 10px;
    height: 60px
}

#stars_textarea {
    height: 60px;
    margin-bottom: 10px
}
.hide_activity .comment_form textarea {
    height: 30px
}
.comment_form .buttons {
    text-align: center;
    width: 100%;
    float: left;
    margin-top: 5px;
    margin-bottom: 10px;
}
.comment_form button,
.stars button {
    -webkit-border-radius: 3px;
    border-radius: 3px;
    height: 30px;
    background: #50E2D0;
    border: 1px solid #50E2D0;
    color:#474A4C;
    font-weight: 700;
    font-size: 12px;
    padding: 0 10px;
    outline: 0;
    -webkit-transition: all .2s linear;
    -moz-transition: all .2s linear;
    -ms-transition: all .2s linear;
    -o-transition: all .2s linear;
    transition: all .2s linear
}
.stars .buttons {
    margin: 5px 0 10px
}
.comment_form button:hover {
   opacity: .7;
}
.comment_form label {
    display: none;
    visibility: hidden
}
.pag-p_order .wlink_content,
.pag-quote .wlink_content {
    background: #fff;
    min-height: 1002px;
    height: auto !important;
    height: 1002px;
    position: relative;
    padding: 8px
}
.pag-invoice .wlink_content {
    background: #fff;
    min-height: 1002px;
    height: auto !important;
    padding: 8px
}
.pag-maintenance .wlink_content {
    background: #fff;
    height: auto !important;
    position: relative;
    padding: 10px
}
.pag-maintenance .wlink_content h3 {
    color: #5f5f5f;
    font-size: 18px;
    font-weight: 700;
    padding: 5px;
    margin-top: 10px;
    border-top: 1px solid #d7d7d7
}
.pag-maintenance .wlink_content h3:first-child {
    margin-top: 0;
    border-top: none
}
.noData {
    text-align: center;
    font-size: 16px;
    color: #686868;
    margin: 64px 0 0;
    position: relative
}
.noData a,
.noData a:hover {
    position: absolute;
    left: 50%;
    margin-left: -80px;
    bottom: 20px;
    opacity: .6;
    filter: alpha(opacity=60)
}
.noData a:hover {
    opacity: 1;
    filter: alpha(opacity=100)
}
.noData a img {
    width: 160px;
    height: auto
}
#buttons_modal {
    position: absolute;
    top: 30px;
    left: 233px;
    z-index: 5;
    background: #fff;
    -webkit-box-shadow: 0 0 4px 0 rgba(0, 0, 0, .2);
    box-shadow: 0 0 6px 0 #ccc;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, .2);
    border: 1px solid #d7d7d7;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    width: 310px
}
.comment_arrow {
    position: absolute;
    top: 36px;
    left: -9px;
    width: 10px;
    height: 15px;
    background: url(../images/modal_arrow.png);
}
@media screen and (min-width: 320px) and (max-width: 1024px) {
    .wlinkpag {
        padding-bottom: 60px;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        overflow: visible
    }
    .wlink_main.left,
    .wlink_right.left {
        float: left;
    }
    .invoice_doc a, .payment a {
    display: block;
    max-width: 200px;
	}
    .wrap {
        margin: 0;
        width: 100%
    }
    body,
    button,
    input,
    select,
    td,
    textarea,
    th {
        font-size: 16px
    }
    .masterhead .wrap {
        height: 68px;
        padding: 12px;
        width: 100%
    }
    h1#logo {
        width: 148px;
        height: 44px;
        overflow: hidden
    }
    h1#logo a {
        background-size: 148px auto
    }
    h1#logo img {
        width: auto !important;
        height: auto !important;
        max-height: 44px;
        max-width: 148px
    }
    .buttons li {
        float: left;
        padding: 0 0 0 8px
    }
    .buttons a,
    .buttons a:hover {
        font-size: 15px;
        padding: 0 10px;
    }
    .buttons-main {
        padding-top: 16px;
        padding-bottom: 16px
    }
    .buttons .modal_pos {
        height: 276px
    }
    .invoice_summary .buttons li {
        padding: 0 0 0 4px
    }
    .invoice_summary .buttons a span,
    .invoice_summary .buttons a:hover span {
        width: 16px;
        overflow: hidden;
        background-position: 50% 50%;
        line-height: 36px;
        height: 36px;
        padding-left: 16px
    }
    .pag-wlink {
        margin: 0
    }
    .wlink_main,
    .wlink_right {
        width: 100%;
        position: static
    }
    .pag-invoice.wlink_main {
        min-height: 600px
    }
    .payment-msg {
        -webkit-border-radius: 0;
        border-radius: 0;
        margin-bottom: 0
    }
    .payment-msg,
    .payment-msg h1 {
        font-size: 14px;
        line-height: 21px
    }
    .wlink_options {
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        width: 100%;
        height: 96px;
        display: block;
        visibility: visible;
        background: url(../images/menu_icon.png) 98% 40% no-repeat;
        opacity: .6;
        border-bottom: 1px solid #ccc
    }
    .open-menu .wlink_options {
        background: url(../images/menu-icon-up.png) 98% 40% no-repeat #ebebeb;
        opacity: .4
    }
    .wlink_controls {
        -webkit-border-radius: 0;
        border-radius: 0;
        -webkit-box-shadow: none;
        box-shadow: none;
        margin: 0;
        height: 85px;
        overflow: hidden;
        border-bottom: 1px solid #ebebeb
    }
    .wlink_controls.open-menu {
        height: auto
    }
    .wlink_head {
        position: relative;
        border-top: 1px solid #ebebeb;
        padding:0;
    }
    .wlink_head h2 {
        font-size: 17px;
        margin-bottom: 6px
    }
    .wlink_head p {
        font-size: 14px;
        margin-bottom: 8px
    }
    .wlink_info h2,
    .wlink_info p {
        padding-right: 32px
    }
    .wlink_info {
        min-height: 80px;
        margin-bottom: 8px
    }
    .wlink_head li {
        float: none;
        padding: 0 0 10px;
    }
    .activity.hide_activity {
        height: 46px
    }
    .balance {
        font-size: 17px
    }
    .pag-invoice .balance span {
        font-size: 26px;
        line-height: 32px
    }
    .extra_info,
    .proforma,
    .transactions {
        font-size: 14px;
        line-height: 21px
    }
    .wlink_right .poweredby,
    .wlink_right .poweredby.addfloat {
        display: none;
        visibility: hidden
    }
    .lbottom,
    .lbottom.addfloat {
        display: block;
        visibility: visible
    }
    .activity {
        margin-top: 0;
        width: auto;
        height: auto
    }
    #buttons_modal {
        top: 30px;
        left: 0;
        background: #fff;
        -webkit-box-shadow: none;
        box-shadow: none;
        -webkit-border-radius: 0;
        border-radius: 0;
        width: 100%;
        border: 0;
        padding: 0 16px
    }
    .comment_arrow {
        display: none;
        visibility: hidden
    }
    #buttons_modal p {
        width: 100%;
        padding: 8px 0 0
    }
    #buttons_modal .comment_form textarea,
    #buttons_modal .comment_form textarea:active,
    #buttons_modal .comment_form textarea:focus,
    #buttons_modal .comment_form textarea:hover {
        border: 1px solid #dbdbdb;
        -webkit-border-radius: 4px;
        border-radius: 4px
    }
    #buttons_modal .buttons {
        padding-right: 0;
        padding-bottom: 0
    }
    .comment_form input,
    .comment_form textarea {
        line-height: 100%;
        font-size: 14px;
        height: 40px;
        padding: 0 12px
    }
    .comment_form textarea {
        height: 60px;
        padding: 8px 12px 8px 30px
    }
    .hide_activity .comment_form textarea {
        height: 40px
    }
    .comment_form button,
    .stars button {
        height: 36px;
        font-size: 14px;
        padding: 0 14px
    }
    .pag-quote .wlink_content {
        border: 0;
        min-height: 0;
        height: auto !important;
        padding: 0
    }
    .pag-invoice .wlink_content {
        position: absolute;
        width: 100%;
        height: 100%
    }
    .pag-invoice iframe {
        width: 100%;
        height: 100%
    }
    .noData {
        text-align: center;
        font-size: 16px;
        color: #686868;
        margin: 64px 0 0
    }
    .noData a,
    .noData a:hover {
        position: absolute;
        left: 50%;
        margin-left: -80px;
        bottom: 20px;
        opacity: .6;
        filter: alpha(opacity=60)
    }
    .noData a:hover {
        opacity: 1;
        filter: alpha(opacity=100)
    }
    .noData a img {
        width: 160px;
        height: auto
    }
}
@media screen and (min-width: 320px) and (max-width: 480px) {
 .wlink_head li{
    width: 100%;
    float: left;
 }
 .wlink_head .accept,
 .wlink_head .newV, .wlink_head .newV:hover,
 .wlink_head .reject{
    margin: 0 auto;
 }
 .comment_form p {
    float: none;
    width: 80%;
    margin: 3px auto;
}

}
@media screen and (min-width: 320px) and (max-width: 714px) {
    body #the-canvas {
        width: 100%
    }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
    .masterhead .wrap {
        height: auto;
        overflow: hidden
    }
    h1#logo {
        width: 200px;
        height: 60px
    }
    h1#logo a {
        background-size: auto auto
    }
    h1#logo img {
        width: auto !important;
        height: auto !important;
        max-height: 60px;
        max-width: 200px
    }
   .buttons a, .buttons a:hover {
    line-height: 28px;
    padding: 0 12px;
    display: inline-block;
    }
    .payment a {
    float: none;
    }
    .buttons .modal_pos {
        height: 276px
    }
    .invoice_summary .buttons li {
        padding: 0 0 0 8px
    }
    .invoice_summary .buttons a span,
    .invoice_summary .buttons a:hover span {
        width: auto;
        overflow: visible;
        background-position: 0 50%;
        padding-left: 22px
    }
    .pag-invoice.wlink_main {
        min-height: 768px
    }
    .open-menu .wlink_options,
    .wlink_options {
        background-position: 98% 50%
    }
    .open-menu .wlink_options,
    .wlink_controls,
    .wlink_options {
        height: 78px
    }
    .wlink_info {
        min-height: 48px
    }
    .wlink_head li {
        float: left;
        width: 33.33%;
        padding: 0 0 0 16px;
        text-align: center;
    }
    .wlink_head li:last-child {
    width: 100%;
    padding-left: 0;
    }
    a.print.col-md-6, .wlink_head .accept {
        float: left;
    }
    a.down.col-md-6, .wlink_head .reject {
    float: right!important;
    }
   .wlink_head p {
    width: 90%;
    margin: 10px auto;
    float: none;
    }
    .wlink_head p.full {
    width: 90%;
    margin: 5px auto;
    float: none;
    }
    .comment_form textarea {
        background: url(../images/addnote.png) 0 6px no-repeat #fff;
        padding: 12px 12px 8px 30px
    }
    .wlink_head li:first-child {
        padding: 0
    }
    .buttons-main {
        overflow: hidden
    }
    .buttons-main .modal_pos {
        height: 240px
    }
    .buttons-main a,
    .buttons-main a:hover {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        background-position: 10px 50% !important;
    }
    #buttons_modal p {
        width: 50%;
        padding-left: 16px
    }
    #buttons_modal p:nth-child(1),
    #buttons_modal p:nth-child(2) {
        padding-left: 0
    }
    .info-block.seller_details, .info-block.bank_details {
    width: 50%!important;
    float: left;
    margin-bottom: 5px;
    padding-left: 10px;
	}
	.invoice_doc a, .payment a{
		display: inline-block;
	}
}
.iefix .masterhead,
.iefix body,
html.iefix {
    width: 100%
}
.iefix .left,
.iefix .right,
.iefix .wrap {
    display: inline-block
}
.iefix .wrap.pag-wlink {
    position: relative;
    left: 50%;
    margin-left: -490px
}
.iefix .masterhead .wrap {
    left: 50%;
    margin-left: -470px
}
.iefix .buttons-main li {
    height: 30px
}
.iefix .bx-wrapper .bx-controls-direction {
    right: 0
}
.iefix .selected_bx_page {
    height: 24px;
    top: -1px
}
.iefix .total_pages {
    white-space: nowrap
}
.iefix .add_c {
    margin-right: 5px
}
.iefix #bar_shadow {
    display: none;
    visibility: hidden
}
.iefix .pag-quote {
    position: relative;
    z-index: 1
}
.iefix .wlink_right {
    position: relative;
    z-index: 10
}
.bx-wrapper {
    position: relative;
    margin: 0;
    padding: 0
}
.bx-wrapper img {
    max-width: 100%;
    width: 100%;
    display: block
}
.bx-viewport li {
    min-height: 1px;
    min-width: 1px
}
.bx-wrapper .bx-loading {
    display: block !important;
    min-height: 50px;
    background: url(../images/ajax-loader-gray.gif) center center no-repeat #fff;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2
}
.bx-wrapper .bx-controls-direction {
    position: absolute;
    top: 0;
    right: -14px;
    z-index: 3;
    background: #322b78;
    -webkit-border-radius: 4px 0 0 4px;
    border-radius: 4px 0 0 4px;
    padding: 6px 40px;
    color: #a9c5d7
}
.bx-wrapper .bx-controls-direction.addfloat {
    /*position: fixed;*/
    top: 5px;
    right: 35%;
    margin-right: -210px
}
#bar_shadow {
    position: absolute;
    right: 0;
    top: -6px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 6px 6px 0;
    border-color: transparent transparent #322b78;
}
.total_pages {
    padding: 0 4px 0 8px;
    line-height: 30px;
    float: left;
    color: #fff;
    font-size: 15px;
}
.selected_bx_page {
    float: left;
    margin: 1px 0 0;
    border: 0;
    outline: 0;
    background: #fff;
    color: #322b78;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    padding: 2px 0;
    width: 30px;
    text-align: center;
    border: 2px solid #322b78;
    border-radius: 7px;
}
.bx-wrapper .bx-controls-direction a {
    position: absolute;
    top: 9px;
    left: 6px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    width: 24px;
    height: 24px;
    border: 2px solid #fff;
    background: url(../images/bx-ar-left.png) 50% 50% no-repeat
}
.bx-wrapper .bx-controls-direction .bx-next {
    left: auto;
    right: 6px;
    background: url(../images/bx-ar-right.png) 50% 50% no-repeat
}
.bx-wrapper .bx-controls-direction a:hover {
   opacity: .7;
}
.bx-wrapper .bx-controls-direction .bx_disabled,
.bx-wrapper .bx-controls-direction .bx_disabled:hover {
    background-color: #5c97b9;
    opacity: .2;
    filter: alpha(opacity=20);
    cursor: default
}
@media screen and (min-width: 320px) and (max-width: 1024px) {
    .bx-wrapper .bx-controls-direction {
        height: 48px;
        right: 0px
    }
    .bx-wrapper .bx-controls-direction.addfloat {
        position: fixed;
        top: 0;
        right: 0;
        margin-right: 0
    }
    #bar_shadow,
    .selected_bx_page,
    .total_pages {
        display: none;
        visibility: inherit
    }
    .bx-wrapper .bx-controls-direction a {
        width: 36px;
        height: 36px
    }
    a.print.col-md-6,
    a.down.col-md-6{
        float: left;
    }

}

.stars {
    margin-top: 10px
}
.stars2 {
    margin-top: 0
}
.star {
    display: inline-block;
    padding: 14px 15px;
    margin: 5px;
    background: url(../images/icons.png) -47px 0 no-repeat
}
.blue_star {
    background-position: 0 0
}
.add_star,
.cancel_star {
    float: right;
    margin-left: 10px
}
.intervention_table th {
    text-align: left;
    border-bottom: 1px solid #ccc;
    padding: 5px
}
.intervention_table td {
    padding: 5px
}
.intervention_table .last td {
    border-top: 1px solid #ccc
}
.tasks li {
    font-size: 11px
}
.tasks b {
    font-weight: 700;
    font-size: 13px;
    padding-top: 5px;
    display: inline-block
}
.task_closed {
    display: inline-block;
    padding: 1px 20px;
    background: url(../images/icons.png) -9px -53px no-repeat;
    margin-left: 10px;
    color: #66b34e
}
.pag-quote .wlink_content {
    text-align: center
}
.center {
    text-align: center
}

#maintenance_balance {
    padding-bottom: 15px;
    width: 100%;
    float: left;
}
.noDataTxt {
    margin-top: 120px
}
#the-canvas {
    height: auto;
    width: 714px
}

/*new weblink*/
a:hover, a:active, a:focus, a:visited{
	text-decoration: none!important;
}
.masterhead h1 {
    font-size: 18px;
}
.invoice_status {
    width: 100%;
    float: left;
    background: #fff;
}
.invoice_status p {
    display: block;
    padding: 3px 5px 3px 15px;
    margin: 0;
}
.invoice_status.quote p {
    padding-left: 10px;
}
span.status {
    text-transform: capitalize;
}
.invoice_doc {
    width: 100%;
    float: left;
    background: #fff;
    margin-top: 10px;
    padding: 15px 10px;
}
.invoice_doc span {
    font-weight: normal;
}
.invoice_doc a {
    text-align: center;
    color: #fff;
    padding: 0px 5px;

    line-height: 28px;
}
a.confirmation.col-md-12 {
    background: #3db866;
}
a.send_com.col-md-12 {
    background: #1d70b7;
    margin-top: 15px;
}
a.confirmation.col-md-12:hover, a.send_com.col-md-12:hover, .payment a:hover {
	text-decoration: none;
	color: #fff;
	opacity: .7;
}
a.print.col-md-6, a.down.col-md-6 {
    background: #322b78;
    margin-top: 15px;
    color: #fff;
}
a.accept.col-md-12{
    background-color: #3db866;
    margin-bottom: 10px;
}
a.comm.col-md-12{
background-color: #322b78;
}
a.print.col-md-6:hover, a.down.col-md-6:hover{
	text-decoration: none;
	opacity: .7;
}
a.down.col-md-6 {
    width: 47%;
    margin-left: 5px;
}
a.print.col-md-6 {
    width: 47%;
    margin-right: 5px;
}
.extra-info{
    font-size: 10px;
    width: 100%;
    float: left;
    background: #fff;
    margin-top: 10px;
    padding: 10px;
}
.extra-info h3 {
    margin-top: 0px;
    font-size: 11px;
    font-weight: bold;
    margin-bottom: 2px;
}
.extra-info p {
    font-size: 11px;
    line-height: 15px;
    margin: 0;
}
.info-block.seller_details, .info-block.bank_details {
    width: 100%;
    float: left;
    margin-bottom: 5px;
}

.info-block.bank_details {
    margin-top: 10px;
    overflow: hidden;
}
.payment {
    width: 100%;
    float: left;
    margin-top: 15px;
    text-align: center;
    margin-bottom: 15px;
}
.payment a {
    background: #50E2D0;
    color: #fff;
    font-size: 14px;
    line-height: 19px;
    width: 100%;
    float: left;
    padding: 5px 5px;
    /* border-radius: 10px; */
}
.powered_by {
    width: 100%;
    float: left;
    text-align: center;
    margin-top: 15px;
}
.powered_by a{

	text-align: center;
}
.powered_by img {
    max-width: 125px;
    height: auto;
}
.powered_by p {
    margin-bottom: 3px;
    font-size: 11px;
}
span.orange_text {
    display: block;
    margin-bottom: 7px;
    line-height: 20px;
    font-size: 11px;
    margin-top: 2px;
    color: #f4971a;
}
.social_media a i {
    color: #a6a5a4;
    margin-right: 2px;
    font-size: 11px;
}
.social_media a:hover i{

	color: #888;
}
/*Modal*/
.ui-widget-header {
    background: #f5f5f5;
    border: none;
    border-radius: 0;
    padding: 0!important;
}
.ui-widget-header span {
    color: #474a4c;
    padding-left: 10px;
    padding-top: 5px;
}
.ui-widget-overlay.ui-front {
    background: #333;
    opacity: .7;
}
div#modal_info {
    margin-top: 15px;
}
.ui-dialog.ui-widget.ui-widget-content.ui-corner-all.ui-front {
    width: 40%!important;
    border-radius: 0;
    border: none;
    padding: 0;
}
p.full.textarea i {
    position: absolute;
    left: 10px;
    top: 5px;
    font-size: 14px;
}
p.full.textarea {
    position: relative;
}
p.full.textarea textarea {
    background: none;
    height: 90px;
    resize: vertical;
}
.ui-dialog .ui-dialog-titlebar-close {
    position: relative;
    padding: 0px;
    height: 35px;
    float: right;
    width: 35px;
    line-height: 33px;
    border-radius: 0;
    margin-right: -1px;
    background: #6facd0!important;
    margin-top: -1px;
    right: 0;
    border: none;
}
.ui-dialog .ui-dialog-titlebar-close:hover{
    border: none;
    opacity: .7;
}
.ui-dialog .ui-dialog-titlebar-close i{
    color: #fff;
}
button.cancel.pull-right {
    background: none;
    border: none;
    color: #8e9599;
    font-weight: 100;
}
button.cancel.pull-right:hover{
    color: #4293c2;
}
button.add_c.pull-right.accept {
    width: 120px;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    background: #3db866;
    border: none;
    border-radius: 0;
}
button.add_c.pull-right.reject {
    width: 100px;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    background: #322b78;
    border: none;
    border-radius: 0;
}
button.add_c.pull-right.request {
    width: 200px;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    background: #50E2D0;
    border: none;
    border-radius: 0;
}
button.add_c.pull-right.accept i,
button.add_c.pull-right.reject i,
button.add_c.pull-right.request i{
    display: inline-block;
    padding-right: 5px;
}
button.add_c.pull-right.accept:hover,
button.add_c.pull-right.reject:hover,
button.add_c.pull-right.request:hover{
    opacity: .7;
}
button.add_c.pull-right.accept i.fa.fa-close,
button.add_c.pull-right.accept i.fa.fa-plus {
    display: none;
}

button.add_c.pull-right.reject i.fa.fa-check,
button.add_c.pull-right.reject i.fa.fa-plus{
    display: none;
}

button.add_c.pull-right.request i.fa.fa-close,
button.add_c.pull-right.request i.fa.fa-check{
display: none;
}





