{if:data}
<input type="hidden" value="{endhrf}" id="qs">
<div class="wlink_right right pag-quote">
	<input type="hidden" value="{acc_txt}" id="acc_txt">
	<input type="hidden" value="{rej_txt}" id="rej_txt">
	<div id="buttons_modal" style="display:none;">{do:misc-activity2}</div>
  <div id="modal_info"></div>
    <div class="wlink_controls">
        <div class="wlink_head"><a href="#" class="wlink_options"></a>
      		<div class="invoice_status quote ">
            <p class="{hide_proforma}">{invoice_txt}: <span>{QUOTE_NR}[{QUOTE_VERSION}]</span></p>
      			<p>{date_txt}: <span>{SQUOTE_DATE}</span></p>
            <p>{status_txt}: <span class="status_text">{STATUS}</span></p>
            </div>
			{if:can_acc}
      <div class="invoice_doc">
            <ul class="buttons buttons-main">
                {if:allow_acc}
				<li><a href="{accept_link}" id="accept" class="accept"><i class="fa fa-check" aria-hidden="true"></i><span>{accept_txt}</span></a></li>
                {end}
                {if:allow_new}
				<li><a href="#" target="_blank" id="newV" class="newV"><i class="fa fa-plus" aria-hidden="true"></i>  <span>{request_new_version_txt}</span></a></li>
                {end}
                {if:allow_rej}
				<li><a href="{reject_link}"  id="reject" class="reject"><i class="fa fa-ban" aria-hidden="true"></i><span>{reject_txt}</span></a></li>
                {end}
        <div class="activity hide_activity">{do:misc-activity}</div>  
         <li><a class="print col-md-6" href="{pdf_link}" target="_blank">{l}Print{endl}</a>
      <a class="down col-md-6" href="{pdf_link}&dw=1" id="">{l}Download{endl}</a></li>      
            </ul>

            </div>
			{end}
            {if:has_regular_invoice}
    <div class="proforma"> {regularInvoiceProForma_txt} <a href="index.php?do=invoice-invoice&invoice_id={regular_invoice_id}" >{regular_invoice_serial_number}</a></div>
        {end}
      <div class="extra-info">
          <div class="info-block seller_details">
              <h3>{QUOTE_SELLER_NAME}</h3>
              <p>{QUOTE_SELLER_D_ADDRESS}</p>
              <p>{QUOTE_SELLER_D_ZIP} {QUOTE_SELLER_D_CITY}</p>
              <p>{QUOTE_SELLER_D_COUNTRY}</p>
              <p>{QUOTE_VAT_NO}</p>
          </div>
          <div class="info-block bank_details">
              <h3>{bankDetails_txt}</h3>
              <p>{bank_txt_wl}: {bank}</p>
              <p>{bicCode_txt}: {bic}</p>
              <p>{ibanCode_txt}: {iban}</p>
          </div>
      </div>
        </div>
  
    </div>
	  <div class="powered_by">
      <p>{l}Powered by{endl}</p>
      <a href="www.akti.com"><img src="../images/akti-logo.png"></a>
      </div>
</div>
<div class="wlink_main left pag-quote">
	<div class="wlink_content">
    <center style="margin:10px; font-size:15px;">{l}Loading PDF{endl}</center>
    <div class="bx-wrapper hide" style="max-width: 100%; margin: 0px auto;" id="bxWrapper">
      <div class="bx-controls bx-has-controls-direction">
        <div class="bx-controls-direction">
          <a href="#" class="bx-prev" id="prev"></a>
          <span id="bar_shadow"></span>
          <input type="text" class="selected_bx_page" id="page_num" value="1">
          <span class="total_pages" id="page_count" >/ 1</span>
          <a href="#" class="bx-next" id="next"></a>
        </div>
      </div>
    </div>
    <canvas id="the-canvas" ></canvas>
  </div>
</div>
{else}
	<p class="noData">{noData_txt}</p>
	<p class="noData noDataTxt"><a href="http://akti.com/" target="_blank"><img src="images/akti-powered_by.png" width="216" height="80" alt="Light ERP for small and micro enterprises - akti.com"/></a></p>
{end}
	<!-- <div class="poweredby lbottom"><a href="http://akti.com/" target="_blank"><img src="images/akti-powered_by.png" width="216" height="80" alt="Light ERP for small and micro enterprises - akti.com"/></a></div> -->
  <script type="text/javascript">
  var x = 0, z = 0;
  var setX = function(){
    x = $('.bx-controls-direction').offset();
    z = $('.poweredby').offset();
  }
  var m = true;
  </script>
<!--[if !(lte IE 9) ]><!--><script type="text/javascript" src="js/pdf.js"></script>
<script type="text/javascript" src="js/pdf.worker.js"></script>
<script type="text/javascript">
var url = '{PDF_LINK2}';
  PDFJS.workerSrc = 'js/pdf.worker.js';

  var pdfDoc = null, pageNum = 1, pageRendering = false, pageNumPending = null, scale = 1.2, canvas = document.getElementById('the-canvas'), ctx = canvas.getContext('2d');

  function renderPage(num) {
    pageRendering = true;
    pdfDoc.getPage(num).then(function(page) {
      var viewport = page.getViewport(scale);
      canvas.height = viewport.height;
      canvas.width = viewport.width;
      var renderContext = {
        canvasContext: ctx,
        viewport: viewport
      };
      var renderTask = page.render(renderContext);
      renderTask.promise.then(function () {
        pageRendering = false;
        if (pageNumPending !== null) {
          renderPage(pageNumPending);
          pageNumPending = null;
        }
      });
    });
    document.getElementById('page_num').value = pageNum;
    $('.wlink_content center').remove();
    $('#bxWrapper').removeClass('hide');
    setX();
  }

  function queueRenderPage(num) {
    if (pageRendering) {
      pageNumPending = num;
    } else {
      renderPage(num);
    }
  }

  function onPrevPage(e) {
    e.preventDefault();
    if (pageNum <= 1) {
      return;
    }
    pageNum--;
    queueRenderPage(pageNum);
  }
  document.getElementById('prev').addEventListener('click', onPrevPage);

  function onNextPage(e) {
    e.preventDefault();
    if (pageNum >= pdfDoc.numPages) {
      return;
    }
    pageNum++;
    queueRenderPage(pageNum);
  }
  document.getElementById('next').addEventListener('click', onNextPage);

  PDFJS.getDocument(url).then(function (pdfDoc_) {
    console.log(pdfDoc_);
    pdfDoc = pdfDoc_;
    document.getElementById('page_count').textContent = '/ ' + pdfDoc.numPages;
    renderPage(pageNum);
  });
</script><!--<![endif]-->
<!--[if lte IE 9]>
<script type="text/javascript" > m = false; </script>
<![endif]-->
<script type="text/javascript" src="{jspath}"></script>