<!DOCTYPE html>
<html lang="en" ng-app="akti">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <base href="{basehref}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <meta name="author" content="Arkweb">
    <link rel="shortcut icon" type="image/x-icon" href="favicon.ico" />


    <title>{metatitle}</title>

    <style type="text/css">
        [ng\:cloak],
        [ng-cloak],
        [data-ng-cloak],
        [x-ng-cloak],
        .ng-cloak,
        .x-ng-cloak {
            display: none !important;
        }
    </style>
    <script type="text/javascript">
        {
            langjs
        }
    </script>
    <!-- <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,400i,700,700i|Raleway&subset=latin-ext" rel="stylesheet"> -->
    <!-- Bootstrap CSS CDN -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" media="screen" />
    <link href="js/libraries/selectize/selectize.bootstrap3.css" rel="stylesheet" type="text/css" media="screen" />
    <link href="font_awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" media="screen" />
    <link href="bootstrap/css/angular-toggle-switch-bootstrap-3.css" rel="stylesheet" type="text/css" media="screen">
    <!-- <link href="css/scrolling-tabs.min.css" rel="stylesheet" type="text/css" media="screen" /> -->
    <link href="bootstrap/css/bootstrap-theme.css" rel="stylesheet" type="text/css" media="screen" />
    <link href="css/ng-sortable.css" rel="stylesheet" type="text/css" media="screen" />

    <link href="js/libraries/scrollbar/custom_scrollbar.min.css" rel="stylesheet" type="text/css" media="screen" />

    <!-- <link href="css/ng-sortable-style.css" rel="stylesheet" type="text/css" media="screen" /> -->
    <link rel="shortcut icon" href="images/akti_icon.ico" />
    <link rel="apple-touch-icon" sizes="128x128" href="images/akti-icon_small.png">
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body class="login-bk">
    <div class="loading_wrap hidden">
        <div class="loading"></div>
        <div class="spinner"></div>
    </div>
    <div class="page page-login">
        <div class="content login col-md-12">
<!-- 
            <div class="col-md-4 sidebar-login">
                <div class="row">
                    <div class="col-xs-5"><img src="images//akti-logo.png" alt="Akti"></div>
                    <div class="col-xs-12 text-center middle-text">
                        <h1>{l}Welcome back!{endl}</h1>
                        <h2>{l}Ready to simplify your administration?{endl}</h2>
                        <p>{l}Don't have an account yet?{endl}</p>
                        <a class="btn btn-default btn-sm" href="https://www.akti.com/free-trial/">{l}Try Now{endl}</a>
                    </div>
                    <div class="col-xs-6 bottom-stripe"><img src="images/stripe-transparent.png" alt="Akti stripe"></div>
                </div>
            </div> -->
            <div class="email_conf col-md-12">
                <div class="page-login-box">
                    <div class="row">
                       <div class="col-xs-12"><h1 class="text-center txt-blue"><img src="images//akti-logo.png" alt="Akti"></h1></div>
                        <div class="col-xs-12">
                            <h1 class="text-center txt-blue jefact-none">{l}Email confirmation page{endl}</h1>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 page-login-panel">
                            {if:success}
                            <div class="alert alert-success text-center" role="alert"><h2>{l}Email verified{endl}</h2></div>{else}
                            <div class="alert alert-danger text-center" role="alert"><h2>{l}Error{endl}</h2></div>{end}
                            <div class="col-xs-12 text-center">
                                <a href="#" ng-click="ls.back()">{l}Back to login{endl}?</a>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </div>



</body>

</html>