<div class="col-xs-4 sidebar-login">
    <div class="row">
        <div class="col-xs-5"><img src="images/logo.png" alt="Akti"></div>
        <div class="col-xs-12 text-center middle-text">
            <h1>{l}Welcome back!{endl}</h1>
            <h2>{l}Ready to simplify your administration?{endl}</h2>
            <p>{l}Don't have an account yet?{endl}</p>
            <a class="btn btn-default btn-sm" href="https://www.akti.com/free-trial/">{l}Try Now{endl}</a>
        </div>
        <div class="col-xs-6 bottom-stripe"><img src="images/stripe-transparent.png" alt="Akti stripe"></div>
    </div>
</div>
<div class="page-login-vertical col-xs-8">
        <div class="page-login-box">
                <div class="row">
                        <div class="col-xs-12">
                                <h1 class="text-center"><a href="http://akti.com"><img src="images/akti-logo.png" /></a></h1>
                            </div>
                    </div>
                <div class="row {is_not_expired}" >
                    <div class="col-xs-12 page-login-panel">
                        <!-- <div uib-alert ng-repeat="alert in alerts" type="{{alert.type}}" close="alerts.splice($index, 1);" dismiss-on-timeout='3000' ng-class="['alert-' + (alert.type || 'warning'), 'alert-fixed' ]">{{alert.msg}}</div> -->
                        {if:msg_error}
                            <div class="alert alert-dismissible alert-danger" role="alert">
                              <i class="fa fa-exclamation-circle" aria-hidden="true"></i><span >{msg:error}</span>
                              <button type="button" class="close login_close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            </div>
                        {end}
                       <!--  {if:msg_success}
                            <div class="alert alert-success" role="alert" dismiss-on-timeout='3000'>
                              <span >{msg:success}</span> -->
                              <!-- <button type="button" class="close login_close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button> -->
                           <!--  </div>
                        {end} -->
                        <form class="form-horizontal text-left" name="create_form" novalidate action="index.php" method="post">
                            <input type="hidden" name="do" value="{do_next}" id="do" />
                            <input type="hidden" name="database" value="{database}" id="database" />
                             <input type="hidden" name="lang_id" value="{lang_id}" id="lang_id" />
                             <input type="hidden" name="group_id" value="{group_id}" id="group_id" />
                              <input type="hidden" name="duo" value="{crypt}" id="duo" />
                            <div class="form-group" ng-class="{ 'form-group_alert' : create_form.firstname.$invalid && !create_form.firstname.$pristine }">
                                <div class="col-xs-12">
                                    <span class="page-login-icon"><img src="images/user.png" width="30" height="30" alt=""/></span>
                                    <input type="text" class="form-control input-lg" name="firstname" value="{firstname}" ng-model="login.firstname" placeholder="{l}First Name{endl}">
                                    {if:error_firstname}
                                    <div class="alert alert-sm alert-danger" >{error_firstname}</div>
                                    {end}
                                </div>                              
                            </div>
                            <div class="form-group" ng-class="{ 'form-group_alert' : create_form.lastname.$invalid && !create_form.lastname.$pristine }">
                                <div class="col-xs-12">
                                    <span class="page-login-icon"><img src="images/user.png" width="30" height="30" alt=""/></span>
                                    <input type="text" class="form-control input-lg" name="lastname" value="{lastname}" ng-model="login.lastname" placeholder="{l}Last Name{endl}">
                                    {if:error_lastname}
                                    <div class="alert alert-sm alert-danger" >{error_lastname}</div>
                                    {end}
                                </div>                              
                            </div>
                            <div class="form-group" ng-class="{ 'form-group_alert' : create_form.username.$invalid && !create_form.username.$pristine }">
                                <div class="col-xs-12">
                                    <span class="page-login-icon"><img src="images/user.png" width="30" height="30" alt=""/></span>
                                    <input type="text" class="form-control input-lg" name="username" value="{username}" ng-model="login.username" placeholder="{l}Username{endl}" ng-readonly="true">
                                    {if:error_username}
                                    <div class="alert alert-sm alert-danger" >{error_username}</div>
                                    {end}
                                </div>                              
                            </div>
<!--                             <div class="form-group">
                                <div class="col-xs-12">
                                    <selectize config="cfg" options="login.LANGUAGE_DD" ng-model="login.lang_id" ></selectize>
                                </div>                              
                            </div> -->
                            <div class="form-group" ng-class="{ 'form-group_alert' : create_form.password.$invalid && !create_form.password.$pristine }">
                                <div class="col-xs-12">
                                    <span class="page-login-icon"><img src="images/key.png" width="30" height="30" alt=""/></span>
                                    <input type="password" class="form-control input-lg page-login-password" name="password" value="" ng-model="login.password" placeholder="{l}Password{endl}">
                                    {if:error_password}
                                    <div class="alert alert-sm alert-danger" >{error_password}</div>
                                    {end}
                                </div>
                            </div>
                            <div class="form-group" ng-class="{ 'form-group_alert' : create_form.password2.$invalid && !create_form.password2.$pristine }">
                                <div class="col-xs-12">
                                    <span class="page-login-icon"><img src="images/key.png" width="30" height="30" alt=""/></span>
                                    <input type="password" class="form-control input-lg" name="password2" value="" ng-model="login.password2" placeholder="{l}Confirm Password{endl}">
                                     {if:error_password2}
                                    <div class="alert alert-sm alert-danger" >{error_password2}</div>
                                    {end}
                                </div>                              
                            </div>
                            <div class="form-group page-login-actions" >
                                <div class="col-xs-12">
                                    <button type="submit" class="btn btn-lg btn-default col-xs-12" ><img src="images/login.png" width="30" height="30" alt=""/> {l}Activate my Account{endl}</button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="col-xs-12 page-login-panel page-login-banner text-right">
                        {l}Not yet registered?{endl} 
                        <a href="{trial_link}" >{l}Start Free Trial{endl}?</a>
                       <!--  <a href="https://akti.com/fr/inscription/" ng-if="lang=='fr'">{l}Start Free Trial{endl}?</a>
                        <a href="https://akti.com/nl/registratie/" ng-if="lang=='nl'">{l}Start Free Trial{endl}?</a> -->
                    </div> 
                </div>
                <div class="row {is_expired}" >
                    <div class="col-xs-12 page-login-panel">
                            <div class="col-xs-12">
                            <label>{l}Your link to validate the account has expired.Please contact administrator{endl}</label>
                            </div>                              
                    </div>
                </div>


            </div>
</div>
