<!-- <div class="col-xs-4 sidebar-login">
    <div class="row">
        <div class="col-xs-5"><img src="images/logo.png" alt="Akti"></div>
        <div class="col-xs-12 text-center middle-text">
            <h1>{l}Welcome back!{endl}</h1>
            <h2>{l}Ready to simplify your administration?{endl}</h2>
            <p>{l}Don't have an account yet?{endl}</p>
            <a class="btn btn-default btn-sm" href="https://www.akti.com/free-trial/">{l}Try Now{endl}</a>
        </div>
        <div class="col-xs-6 bottom-stripe"><img src="images/stripe-transparent.png" alt="Akti stripe"></div>
    </div>
</div> -->
<div class="col-md-12 landing">
        <div class="page-login-box">
        <!-- <div class="row">
            <div class="col-xs-12">
                <h1 class="text-center"><a href="http://akti.com"><img src="images/akti-logo.png" /></a></h1>
            </div>
        </div> -->
        <div class="row">
            <div class="col-xs-12 page-login-panel padding">
             
                <h1 class="text-center">{l}Welcome{endl} {firstname}!</h1>
                <h2 class="text-center">{l}To get started we need couple more details.{endl}</h2>
                {if:msg_error}
                <div class="alert alert-dismissible alert-danger" role="alert">
                  <span >{msg:error}</span>
                  <!-- <button type="button" class="close login_close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button> -->
                </div>
            {end}
                <form class="form-horizontal text-left" name="create_form" novalidate action="index.php" method="post">
                    <input type="hidden" name="do" value="{do_next}" id="do" />
                    <input type="hidden" name="crypt" value="{crypt}" id="crypt" />
                    <div class="form-group">
                        <div class="col-xs-12">
                           <p>{l}Did we spell your name correctly?{endl}</p>
                            <input type="text" class="form-control" name="firstname" value="{firstname}" placeholder="{l}First Name{endl}*">
                            {if:error_firstname}
                            <div class="alert alert-sm alert-danger" >{error_firstname}</div>
                            {end}
                        </div>                              
                    </div>
                    <div class="form-group">
                        <div class="col-xs-12">
                            
                            <input type="text" class="form-control" name="lastname" value="{lastname}" placeholder="{l}Last Name{endl}*">
                            {if:error_lastname}
                            <div class="alert alert-sm alert-danger" >{error_lastname}</div>
                            {end}
                        </div>                              
                    </div>
                    <div class="form-group">
                        <div class="col-xs-12">
                            <p>{l}Your unique user name{endl}</p>
                            <input type="text" class="form-control" name="username" value="{username}" placeholder="{l}Username{endl}*" readonly>
                            {if:error_username}
                            <div class="alert alert-sm alert-danger" >{error_username}</div>
                            {end}
                        </div>                              
                    </div>
                    <div class="form-group">
                        <div class="col-xs-12">
                       
                            <p>{l}Choose a strong password{endl}</p>
                            <input type="password" name="password" class="form-control page-login-password" value="{password}" placeholder="{l}Password{endl}*">
                            {if:error_password}
                            <div class="alert alert-sm alert-danger" >{error_password}</div>
                            {end}
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-12">
                            
                            <input type="password" name="password2" class="form-control" value="{password2}" placeholder="{l}Confirm Password{endl}*">
                            {if:error_password2}
                            <div class="alert alert-sm alert-danger" >{error_password2}</div>
                            {end}
                        </div>                              
                    </div> 
                    <div class="form-group checking-box">
                                <div class="col-md-12">
                                    <input type="checkbox" id="agree_checkbox" name="agree_checkbox" value="{agree_checkbox}">
                                    <p>{l}I agree with Akti's{endl} <a href="{link1}">{l}Term of Service{endl}</a> {l}and{endl} <a href="{link1}">{l}Privacy Policy{endl} <span class="mandatory-label">*</span></a></p>
                                </div>
                            </div>
                    <!-- <div class="form-group">
                        <div class="col-xs-12">
                            <span class="page-login-icon"><i class="fa fa-home" aria-hidden="true"></i></span>
                            <input type="text" class="form-control input-lg" name="company" value="{company}" placeholder="{l}Company{endl}*">
                            {if:error_company}
                            <div class="alert alert-sm alert-danger" >{error_company}</div>
                            {end}
                        </div>                              
                    </div>
                    <div class="form-group">
                        <div class="col-xs-12">
                            <span class="page-login-icon"><i class="fa fa-phone" aria-hidden="true"></i></span>
                            <input type="text" class="form-control input-lg" name="phone" value="{phone}" placeholder="{l}Phone{endl}*">
                            {if:error_phone}
                            <div class="alert alert-sm alert-danger" >{error_phone}</div>
                            {end}
                        </div>                              
                    </div> -->
                    <div class="form-group page-login-actions activate-button">
                        <div class="col-xs-12 pull-right">
                            <button class="btn btn-lg btn-default btn-disabled col-xs-12" id="create_account_button" disabled="{disabled}">{l}Create Account{endl}</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
