<div class="col-xs-4 sidebar-login">
    <div class="row">
        <div class="col-xs-5"><img src="images/logo.png" alt="Akti"></div>
        <div class="col-xs-12 text-center middle-text">
            <h1>{l}Welcome back!{endl}</h1>
            <h2>{l}Ready to simplify your administration?{endl}</h2>
            <p>{l}Don't have an account yet?{endl}</p>
            <a class="btn btn-default btn-sm" href="https://www.akti.com/free-trial/">{l}Try Now{endl}</a>
        </div>
      <div class="col-xs-6 bottom-stripe"><img src="images/stripe-transparent.png" alt="Akti stripe"></div>
    </div>
</div>
<div class="page-login-vertical col-xs-8">
        <div class="page-login-box forgot_screen">
                <div class="row">
                    <div class="col-xs-12">
                        <h1 class="text-center"><a href="http://akti.com"><img src="images/akti-logo.png" /></a></h1>
                    </div>
                </div>
                <div class="row">
                	<div class="col-xs-12 page-login-panel forgot forgot_screen">
                      <h1 class="text-center"><a href="http://akti.com"><img src="images/email_pr.png" /></a></h1>
                       <h2 class="text-center">{l}Help is on the way{endl}</h2>
                       <p>{l}Akti loves to help you{endl}.</p>
                       <p>{l}You'll get an email at your address at{endl}</p>
                       <a href="">{{ls.email}}</a>
                       <p>{l}with further instructions.{endl}</p>
                       <p class="last_p">{l}If nothing happens in the next 15 minutes{endl},</p><p>{l}please check your spam folder{endl}.</p>
                    </div>
                    <div class="col-xs-12 page-login-panel forgot forgot_screen back">
                  <a href="#" ng-click="ls.back(ls.lang)">{l}Back to login{endl}?</a>
                  </div>
             </div>
       </div>
</div>
