<div class="col-md-4 sidebar-login">
    <div class="row">
        <div class="col-md-5"><img src="images/logo.png" alt="Akti"></div>
        <div class="col-md-7"></div>
        <div class="col-md-12 text-center middle-text">
            <h1>{l}Welcome back!{endl}</h1>
            <h2>{l}Ready to simplify your administration?{endl}</h2>
        </div>
    	<div class="col-md-6 bottom-stripe"><img src="images/stripe-transparent.png" alt="Akti stripe"></div>
    	<div class="col-md-6"></div>
    </div>
</div>
<div class="page-login-vertical col-md-8">
		<div class="page-login-box">
			<div class="row">
					<div class="col-xs-12">
						<h1 class="text-center txt-blue">{l}Please wait till validating{endl} <i class="fa fa-spinner fa-spin fa-1x fa-fw" aria-hidden="true"></i></h1>						
					</div>
					<div class="row hidden">
						<form class="form-horizontal" action="index.php" method="post" id="form_auth">
							<input type="hidden" name="do" value="{do_next}" id="do" />
							<input type="hidden" name="auth_code" value="{auth_code}"  />
						</form>
					</div>
				</div>
		</div>
</div>
<script>
	$(document).ready(function () {
	 	$("#form_auth").submit();
	});
</script>
