<div class="col-xs-4 sidebar-login">
    <div class="row">
        <div class="col-xs-5"><img src="images/logo.png" alt="Akti"></div>
        <div class="col-xs-12 text-center middle-text">
            <h1>{l}Welcome back!{endl}</h1>
            <h2>{l}Ready to simplify your administration?{endl}</h2>
            <p>{l}Don't have an account yet?{endl}</p>
            <a class="btn btn-default btn-sm" href="https://www.akti.com/free-trial/">{l}Try Now{endl}</a>
        </div>
        <div class="col-xs-6 bottom-stripe"><img src="images/stripe-transparent.png" alt="Akti stripe"></div>
    </div>
</div>
<div class="page-login-vertical col-xs-8">
    <div class="page-login-box">
        <div class="row">
            <div class="col-xs-12">
                <h1 class="text-center"><a href="http://akti.com"><img src="images/akti-logo.png" /></a></h1>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 page-login-panel">
                <div uib-alert ng-repeat="alert in ls.alerts" type="{{alert.type}}" close="alerts.splice($index, 1);" dismiss-on-timeout='3000' ng-class="['alert-' + (alert.type || 'warning') ]">{{alert.msg}}</div>
                <form class="form-horizontal text-left">
                    <p class="text-center">{l}Two Step Verification Code{endl}</p>
                    <div class="form-group">
                        <div class="col-xs-12">
                            <span class="page-login-icon"><img src="images/key.png" width="30" height="30" alt=""/></span>
                            <input type="text" class="form-control input-lg page-login-password" ng-model="ls.login.code" placeholder="{l}Two Step Verification Code{endl}" id="login_two_input">
                        </div>
                    </div>
                    <div class="form-group page-login-actions">
                        <div class="col-xs-5">
                            <button class="btn btn-lg btn-default" ng-click="ls.sendCode()"><img src="images/login.png" width="30" height="30" alt=""/> {l}Submit{endl}</button>
                        </div>
                        <div class="col-xs-7 text-right">
                            <div class="checkbox checkbox-primary">
                                <input type="checkbox" id="trust" ng-model="ls.login.trust"> 
                                <label for="trust"></label>
                                <span>{l}Trust this device{endl}</span>
                            </div>
                            <a href="#" ng-click="ls.back()">{l}Back to login{endl}?</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

