<div class="col-md-4 sidebar-login">
    <div class="row">
        <div class="col-md-5"><img src="images/logo.png" alt="Akti" class="jefact-none">
			<img src="images/logo-je.png" alt="logoje" class="akti-none">
		</div>
        <div class="col-md-7"></div>
        <div class="col-md-12 text-center middle-text">
            <h1>{l}Welcome back!{endl}</h1>
            <h2>{l}Ready to simplify your administration?{endl}</h2>
            <p class="jefact-none">{l}Don't have an account yet?{endl}</p>
            <a class="btn btn-default btn-sm jefact-none" href="https://www.akti.com/free-trial/">{l}Try Now{endl}</a>
        </div>
    	<div class="col-md-6 bottom-stripe"><img src="images/stripe-transparent.png" alt="Akti stripe" class="jefact-none"></div>
    	<div class="col-md-6"></div>
    </div>
</div>
<div class="page-login-vertical col-md-8">
		<div class="page-login-box {LOGIN_SCREEN}">
				<div class="row">
						<div class="col-xs-12">
								{if:IS_FORGET}
									<h1 class="text-center txt-blue jefact-none">{l}Recover your Akti password{endl}</h1>
									<h1 class="text-center txt-blue akti-none">{l}Recover your password{endl}</h1>
								{else}
									<h1 class="text-center txt-blue jefact-none">{l}Sign in to your Akti account{endl}</h1>
									<h1 class="text-center txt-blue akti-none">{l}Sign in to your account{endl}</h1>
								{end}						
							</div>
					</div>
			
					<div class="row">
						<div class="col-xs-12 page-login-panel">
								<!-- <div uib-alert ng-repeat="alert in alerts" type="{{alert.type}}" close="alerts.splice($index, 1);" dismiss-on-timeout='3000' ng-class="['alert-' + (alert.type || 'warning') ]"><i class="fa fa-exclamation-circle" aria-hidden="true"></i>{{alert.msg}}</div> -->
								
									<form class="form-horizontal text-left" action="index.php" method="post">
										<input type="hidden" name="do" value="{do_next}" id="do" />
								        <input type="hidden" name="forget" value="{FORGOT}"  />
								        <input type="hidden" name="reset_pass" value="{RESET_PASS}"  />
								        <input type="hidden" name="recover" value="{RECOVER}"  />
								        <input type="hidden" name="timezone_offset" value="" id="timezone_offset" />
								        <input type="hidden" name="crypt" value="{CRYPT}"  />
										   <input type="hidden" name="source" value="{source}"  />
								        <!-- <input type="hidden" id="error_message" value="{msg:error}"> -->

										<div class="form-group {HIDE_INPUT3}">
												<div class="col-xs-12">
														<span class="page-login-icon"><i class="fa fa-user" aria-hidden="true"></i></span>
														<input autofocus type="text" class="form-control input-lg" id="username" value="{in:username}" name="username" placeholder="{l}Email address{endl}">
													</div>                          	
											</div>
										<div class="form-group {HIDE_INPUT3}">
												<div class="col-xs-12">
														<span class="page-login-icon"><i class="fa fa-lock" aria-hidden="true"></i></span>
														<input type="password" class="form-control input-lg page-login-password" id="password" value="" name="password" ng-model="login.password" placeholder="{l}Password{endl}">
													</div>
											</div>

										<div class="form-group {HIDE_L}">
												<div class="col-xs-12">
														<span class="page-login-icon"><i class="far fa-envelope" aria-hidden="true"></i></span>
														<input type="status" class="form-control input-lg page-login-status" id="status" value="{email}" name="email" placeholder="{l}Email{endl}">
													</div>                          	
											</div>

								     	<!-- <div class="form-group {HIDE_L}" >
												<div class="col-xs-12">
													<span class="forgot_text">{l}Please enter your email below and we will send you instructions for resetting your password.{endl}</span>
												</div>
											</div> -->
									{if:msg_error}
										<div class="alert alert-dismissible alert-danger" role="alert">
										  <span >{msg:error}</span>
										  <!-- <button type="button" class="close login_close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button> -->
										</div>
									{end}
									{if:msg_success}
										<div class="alert alert-success" role="alert" dismiss-on-timeout='3000'>
										  <span >{msg:success}</span>
										  <!-- <button type="button" class="close login_close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button> -->
										</div>
									{end}
										<div class="form-group page-login-actions" >
												<div class="col-xs-7">
														<div class="checkbox checkbox-primary {HIDE_INPUT3}">
															<input type="checkbox" id="remember" name ="remember" {CHECKED} value="{remember}"> 
															<label for="remember">																
															</label>
															<span >{l}Remember me{endl}</span>
														</div>
												</div>
												<div class="col-xs-7 col-top {HIDE_L}">
													<a href="index.php?{source_param}" class="forget {HIDE_L}">{l}Back to Login{endl}?</a>
												</div>
												<div class="col-xs-5 text-right {HIDE_INPUT3}">
														<button type="submit" class="btn btn-lg btn-default" >{l}Sign in{endl}</button>
														<div class="{HIDE_INPUT3}">
												            <a href="index.php?forget=1{source_param}">{l}Forgot your password{endl}?</a>
												          </div> 
												</div>
												<div class="col-xs-5 text-right {HIDE_L}">
															<button type="submit" class="btn btn-lg btn-default" >{l}Reset Password{endl}</button>
												</div>
											</div>
						
									</form>
										<div class="row {HIDE_INPUT3} jefact-none">
											<div class=" col-xs-12 text-center MyID_signin">
												<h1>{l}OR{endl}</h1>
												<a href="{signin_kc_link}" class="btn btn-lg btn-default MyID">{l}Sign in with MyID{endl}</a>		
											</div>
										</div>
							</div>
<!-- 						<div class="col-xs-12 page-login-panel page-login-banner text-right">
									{l}Not yet registered?{endl} 
									<a href="https://akti.com/my/registration" ng-if="login.lang=='en'">{l}Start Free Trial{endl}</a>
									<a href="https://akti.com/fr_BE/my/inscription" ng-if="login.lang=='fr'">{l}Start Free Trial{endl}</a>
									<a href="https://akti.com/nl_BE/my/registratie" ng-if="login.lang=='nl'">{l}Start Free Trial{endl}</a>
							</div>  -->
					</div>
			</div>
			<div class="page-login-box forgot_screen {FORGOT_SCREEN}">
                <div class="row">
					<div class="col-xs-12">
						<h1 class="text-center txt-blue">{l}Recover your Akti password test{endl}</h1>
					</div>
					</div>
                <div class="row">
                	<div class="col-xs-12 page-login-panel forgot forgot_screen">
                      <!-- <h1 class="text-center"><a href="http://akti.com"><img src="images/email_pr.png" /></a></h1>
                       <h2 class="text-center">{l}Help is on the way{endl}</h2>
                       <p>{l}Akti loves to help you{endl}.</p>
                       <p>{l}You'll get an email at your address at{endl}</p>
                       <a href="">{email}</a>
                       <p>{l}with further instructions.{endl}</p>
                       <p class="last_p">{l}If nothing happens in the next 15 minutes{endl},</p><p>{l}please check your spam folder{endl}.</p> -->
                       <p class="color-orange">{l}Further instructions to reset your password have been sent to your email address.{endl}</p>
                    </div>
                    <div class="col-xs-12 page-login-panel forgot forgot_screen back">
                  <a href="#" ng-click="ls.back(ls.lang)">{l}Back to login{endl}?</a>
                  </div>
             </div>
       </div>
</div>

<script type="text/javascript">
	 $(document).ready(function () {
	 	$('#remember').click(function(){
		    var remember_me = $('#remember').val();
		    if(remember_me == 0){ 
		        $('#remember').val(1);
		    }else{    
		        $('#remember').val(0);
		    }
  		});
});
</script>
