<div class="col-xs-4 sidebar-login">
    <div class="row">
        <div class="col-xs-5"><img src="images/logo.png" alt="Akti"></div>
        <div class="col-xs-12 text-center middle-text">
            <h1>{l}Welcome back!{endl}</h1>
            <h2>{l}Ready to simplify your administration?{endl}</h2>
            <p>{l}Don't have an account yet?{endl}</p>
            <a class="btn btn-default btn-sm" href="https://www.akti.com/free-trial/">{l}Try Now{endl}</a>
        </div>
        <div class="col-xs-6 bottom-stripe"><img src="images/stripe-transparent.png" alt="Akti stripe"></div>
    </div>
</div>
<div class="page-login-vertical col-xs-8">
        <div class="page-login-box">
                <div class="row">
                        <div class="col-xs-12">
                                <h1 class="text-center"><a href="http://akti.com"><img src="images/akti-logo.png" /></a></h1>
                            </div>
                    </div>
                <div class="row">
                    <div class="col-xs-12 page-login-panel">
                        <!-- <div uib-alert ng-repeat="alert in alerts" type="{{alert.type}}" close="alerts.splice($index, 1);" dismiss-on-timeout='3000' ng-class="['alert-' + (alert.type || 'warning') ]">{{alert.msg}}</div> -->
                       {if:msg_error}
                            <div class="alert alert-dismissible alert-danger" role="alert">
                            <i class="fa fa-exclamation-circle" aria-hidden="true"></i><span >{msg:error}</span>
                            <button type="button" class="close login_close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            </div>
                        {end}
                        <form class="form-horizontal text-left" action="index.php" method="post">
                            <input type="hidden" name="do" value="{do_next}" id="do" />
                            <input type="hidden" name="forget" value="{FORGOT}"  />
                            <input type="hidden" name="reset_pass" value="{RESET_PASS}"  />
                            <input type="hidden" name="recover" value="{RECOVER}"  />
                            <input type="hidden" name="timezone_offset" value="" id="timezone_offset" />
                            <input type="hidden" name="crypt" value="{CRYPT}"  />
                            <input type="hidden" id="error_message" value="{msg:error}">
                            <div class="form-group">
                                <div class="col-xs-12">
                                    <span class="page-login-icon"><img src="images/user.png" width="30" height="30" alt=""/></span>
                                    <input type="text" class="form-control input-lg" id="username" value="{USERNAME}" name="username" ng-model="login.username" placeholder="{l}Username{endl}">
                                </div>                              
                            </div>
                            <div class="form-group">
                                <div class="col-xs-12">
                                    <span class="page-login-icon"><img src="images/key.png" width="30" height="30" alt=""/></span>
                                    <input type="password" class="form-control input-lg page-login-password" id="password" value="" name="password" ng-model="login.password" placeholder="{l}Password{endl}">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-xs-12">
                                    <span class="page-login-icon"><img src="images/key.png" width="30" height="30" alt=""/></span>
                                    <input type="password" class="form-control input-lg" id="password2" value="" name="password2" ng-model="login.password2" placeholder="{l}Confirm Password{endl}">
                                </div>                              
                            </div>
                            <div class="form-group page-login-actions" >
                                <div class="col-xs-5">
                                    <!-- <button type="submit" class="btn btn-lg btn-default" ng-click="change(login.username,login.password,login.password2,login.crypt)"><img src="images/login.png" width="30" height="30" alt=""/> {l}Change Password{endl}</button> -->
                                    <button type="submit" class="btn btn-lg btn-default" ><img src="images/login.png" width="30" height="30" alt=""/> {l}Change Password{endl}</button>
                                </div>
                                <div class="col-xs-7 text-right col-top">
                                    <a href="index.php">{l}Back to login{endl}?</a>
                                </div>
                            </div>
                        </form>
                    </div>
<!--                     <div class="col-xs-12 page-login-panel page-login-banner text-right">
                        {l}Not yet registered?{endl} 
                        <a href="https://akti.com/registration/" ng-if="lang=='en'">{l}Start Free Trial{endl}?</a>
                        <a href="https://akti.com/fr/inscription/" ng-if="lang=='fr'">{l}Start Free Trial{endl}?</a>
                        <a href="https://akti.com/nl/registratie/" ng-if="lang=='nl'">{l}Start Free Trial{endl}?</a>
                    </div> --> 
                </div>


            </div>
</div>
