<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="vmMod.cancel()"><span aria-hidden="true">&times;</span></button>
  <h4 class="modal-title">{l}Create a new item{endl}</h4>
</div>
<div class="modal-body">
    <div uib-alert ng-repeat="alert in vmMod.alerts" type="{{alert.type}}" close="vmMod.alerts.splice($index, 1);" ng-class="['alert-' + (alert.type || 'warning') ]">{{alert.msg}}</div>
    <form class="form-horizontal text-left" name="addAnArticle" novalidate="">
      <div class="row">
        <div class="col-sm-5">
          <div class="form-group" ng-class="{ 'form-group_alert' : addAnArticle.internal_name.$invalid && !addAnArticle.internal_name.$pristine }">
            <label for="inputName" class="col-sm-4 control-label"><strong>{l}Internal Name{endl}*</strong></label>
            <div class="col-sm-8">
              <input type="text" class="form-control" placeholder="{l}Internal Name{endl}" ng-model="vmMod.obj.internal_name" id="inputName" name="internal_name" required >
              <div class="alert alert-sm alert-danger" ng-if="addAnArticle.internal_name.$invalid && vmMod.alertsField.internal_name">{{vmMod.alertsField.internal_name}}</div>
            </div>
          </div>
          <div class="form-group" ng-class="{ 'form-group_alert' : addAnArticle.item_code.$invalid && !addAnArticle.item_code.$pristine }">
            <label for="inputCode" class="col-sm-4 control-label"><strong>{l}Code{endl}*</strong></label>
            <div class="col-sm-8">
              <input type="text" class="form-control" placeholder="{l}Code{endl}" ng-model="vmMod.obj.item_code" id="inputCode" name="item_code" required>
              <div class="alert alert-sm alert-danger" ng-if="addAnArticle.item_code.$invalid && vmMod.alertsField.item_code">{{vmMod.alertsField.item_code}}</div>
            </div>
          </div>
          <div class="form-group">
            <label for="inputArticleCategory" class="col-sm-4 control-label">{l}Article Category{endl}</label>
            <div class="col-sm-6">
              <select class="form-control" ng-model="vmMod.obj.article_category_id" id="inputArticleCategory">
                <option ng-repeat="option in vmMod.obj.article_category track by option.id" value="{{option.id}}">{{option.name}}</option>
              </select>
            </div>
            <div class="col-sm-2">
              <button class="btn text-link"><span class="fas fa-pen" ng-click="vmMod.openModal('selectEdit','pim_article_categories','md')"></span></button>
            </div>
          </div>
          <div class="form-group">
            <label for="inputSupplier" class="col-sm-4 control-label">{l}Supplier{endl}</label>
            <div class="col-sm-8">
              <selectize config='vmMod.customerAutoCfg' options='vmMod.obj.supplier' ng-model="vmMod.obj.supplier_id" id="inputSupplier" ></selectize>
            </div>
          </div>
          <div class="form-group">
            <label for="inputBrand" class="col-sm-4 control-label">{l}Brand{endl}</label>
            <div class="col-sm-6">
              <select class="form-control" ng-model="vmMod.obj.article_brand_id" id="inputBrand">
                <option ng-repeat="option in vmMod.obj.article_brand track by option.id" value="{{option.id}}">{{option.name}}</option>
              </select>
            </div>
            <div class="col-sm-2">
              <button class="btn text-link"><span class="fas fa-pen" ng-click="vmMod.openModal('selectEdit','pim_article_brands','md')"></span></button>
            </div>
          </div>
          <div class="form-group">
            <label for="inputOriginCode" class="col-sm-4 control-label">{l}Origin Code{endl}</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" placeholder="{l}Origin Code{endl}" ng-model="vmMod.obj.origin_number" id="inputOriginCode">
            </div>
          </div>
          <div class="form-group">
            <label for="inputEAN" class="col-sm-4 control-label">{l}EAN Code{endl}</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" placeholder="{l}EAN Code{endl}" ng-model="vmMod.obj.ean_code" id="inputEAN">
            </div>
          </div>
          <div class="form-group">
            <label for="inputSupplierRef" class="col-sm-4 control-label">{l}Supplier Reference{endl}</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" placeholder="{l}Supplier Reference{endl}" ng-model="vmMod.obj.supplier_reference" id="inputSupplierRef">
            </div>
          </div>
          <div class="form-group">
            <label for="inputLedger" class="col-sm-4 control-label">{l}Ledger Account{endl}</label>
            <div class="col-sm-6">
              <select class="form-control" ng-model="vmMod.obj.ledger_account_id" id="inputLedger">
                <option ng-repeat="option in vmMod.obj.article_ledger_account track by option.id" value="{{option.id}}">{{option.name}}</option>
              </select>
            </div>
            <div class="col-sm-2">
              <button class="btn text-link"><span class="fas fa-pen" ng-click="vmMod.openModal('selectEdit','pim_article_ledger_accounts','md')"></span></button>
            </div>
          </div>
          <div class="form-group">
            <label for="inputWeight" class="col-sm-4 control-label">{l}Weight{endl}</label>
            <div class="col-sm-4 col-lg-3">
              <input type="text" class="form-control" placeholder="{l}Weight{endl}" ng-model="vmMod.obj.weight" id="inputWeight">
            </div>
          </div>
          <div class="form-group">
            <label for="inputSalesUnit" class="col-sm-4 control-label">{l}Sale Unit{endl}</label>
            <div class="col-sm-4 col-lg-3">
              <input type="text" class="form-control" placeholder="{l}Sale Unit{endl}" ng-model="vmMod.obj.sale_unit" id="inputSalesUnit">
            </div>
          </div>
          <div class="form-group">
            <label for="inputPacking" class="col-sm-4 control-label">{l}Packing{endl}</label>
            <div class="col-sm-4 col-lg-3">
              <input type="text" class="form-control" placeholder="{l}Packing{endl}" ng-model="vmMod.obj.packing" id="inputPacking">
            </div>
          </div>
        </div>
        <div class="col-sm-7">
          <div class="form-group" ng-class="{ 'form-group_alert' : addAnArticle.price.$invalid && !addAnArticle.price.$pristine }">
          	<div class="col-sm-6">
            	<div class="row">
                  <label for="inputBasePrice" class="col-sm-6 control-label"><strong>{l}Base Price{endl}*</strong></label>
                  <div class="col-sm-6">
                    <input type="text" class="form-control" placeholder="{l}Base Price{endl}" ng-blur="vmMod.setPrice('price')" ng-model="vmMod.obj.price" display-nr="" id="inputBasePrice" name="price" required>
                    <div class="alert alert-sm alert-danger" ng-if="addAnArticle.price.$invalid && vmMod.alertsField.price">{{vmMod.alertsField.price}}</div>                  
                  </div>
                </div>
            </div>
          	<div class="col-sm-6">
            	<div class="row">
                  <label for="inputPurchase" class="col-sm-6 control-label"><strong>{l}Purchase Price{endl}</strong></label>
                  <div class="col-sm-6">
                    <input type="text" class="form-control" placeholder="{l}Purchase Price{endl}" ng-model="vmMod.obj.purchase_price" display-nr="" id="inputPurchase">
                  </div>
                </div>
            </div>
          </div>
          <div class="form-group" >
            <div class="col-sm-6" ng-class="{ 'form-group_alert' : addAnArticle.vat_id.$invalid && !addAnArticle.vat_id.$pristine }">
              <div class="row">
                  <label for="inputVat" class="col-sm-6 control-label"><strong>{l}VAT{endl}</strong></label>
                  <div class="col-sm-6">
                    <select class="form-control" ng-model="vmMod.obj.vat_id" id="inputVat" ng-change="vmMod.setPrice('vat_id')" name="vat_id" required >
                      <option ng-repeat="option in vmMod.obj.vat_dd track by option.id" value="{{option.id}}">{{option.name}}</option>
                    </select>
                    <div class="alert alert-sm alert-danger" ng-if="addAnArticle.vat_id.$invalid && vmMod.alertsField.vat_id">{{vmMod.alertsField.vat_id}}</div>
                  </div>
                </div>
            </div>
            <div class="col-sm-6" ng-class="{ 'form-group_alert' : addAnArticle.total_price.$invalid && !addAnArticle.total_price.$pristine }">
              <div class="row">
                  <label for="inputPriceVat" class="col-sm-6 control-label"><strong>{l}Price + VAT{endl}*</strong></label>
                  <div class="col-sm-6">
                    <input type="text" class="form-control" placeholder="{l}Price + VAT{endl}" ng-model="vmMod.obj.total_price" id="inputPriceVat" display-nr="" ng-blur="vmMod.setPrice('total_price')" name="total_price" >
                    <div class="alert alert-sm alert-danger" ng-if="addAnArticle.total_price.$invalid && vmMod.alertsField.total_price">{{vmMod.alertsField.total_price}}</div>
                  </div>
                </div>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-3">{l}Price Type by default{endl}</label>
            <div class="col-sm-9 radio">
              <label class="text-muted"><input type="radio" name="priceType" ng-model="vmMod.obj.price_type" value="1" > {l}Based on Customer Price Category{endl}</label>              
            </div>
            <div class="col-sm-9 col-sm-offset-3 radio">
              <label class="text-muted"><input type="radio" name="priceType" ng-model="vmMod.obj.price_type" value="2" > {l}Based on Quantity Ordered{endl}</label>              
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-3 control-label">{l}Exclude Stock{endl}</label>
            <div class="col-sm-9 checkbox">
              <label><input type="checkbox" ng-model="vmMod.obj.hide_stock" value="1"></label>
            </div>
          </div>
          <div class="form-group">
            <label for="inputInStock" class="col-sm-3 control-label">{l}In Stock{endl}</label>
            <div class="col-sm-4 col-lg-3">
              <input type="text" class="form-control" placeholder="{l}In Stock{endl}" ng-model="vmMod.obj.stock" id="inputInStock">
            </div>
          </div>
          <div class="form-group">
            <label for="inputThreshold" class="col-sm-3 control-label">{l}Threshold{endl}</label>
            <div class="col-sm-4 col-lg-3">
              <input type="text" class="form-control" placeholder="{l}Threshold{endl}" ng-model="vmMod.obj.article_threshold_value" id="inputThreshold">
            </div>
          </div>
          <div class="form-group">
            <label for="inputMaxStock" class="col-sm-3 control-label">{l}Max. Stock{endl}</label>
            <div class="col-sm-4 col-lg-3">
              <input type="text" class="form-control" placeholder="{l}Max. Stock{endl}" ng-model="vmMod.obj.max_stock" id="inputMaxStock">
            </div>
          </div>
          <div class="panel panel-default form-language form-language-{{vmMod.obj.lang_code}}">
            <div class="panel-body">
              <div class="form-group">
                  <label for="inputCommercialName" class="control-label col-sm-3">{l}Commercial Name{endl}</label>
                  <div class="col-sm-9">
                      <input type="text" class="form-control" ng-model="vmMod.obj.name" placeholder="{l}Commercial Name{endl}" id="inputCommercialName">
                  </div>
              </div>
              <div class="form-group">
                  <label for="inputCommercialName2" class="control-label col-sm-3">{l}Commercial Name2{endl}</label>
                  <div class="col-sm-9">
                      <input type="text" class="form-control" ng-model="vmMod.obj.name2" placeholder="{l}Commercial Name{endl}" id="inputCommercialName2">
                  </div>
              </div>
              <div class="form-group row-bottom">
                  <label for="inputDescription" class="control-label col-sm-3">{l}Description{endl}</label>
                  <div class="col-sm-9">
                      <textarea class="form-control" rows="3"  ng-model="vmMod.obj.description" placeholder="{l}Description{endl}" id="inputDescription"></textarea>
                  </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
</div>
<div class="modal-footer">
    <button class="btn btn-plain" type="button"  ng-click="vmMod.cancel()">{l}Close{endl}</button>
    <button class="btn btn-primary" type="button" ng-disabled="addAnArticle.$invalid" ng-click="vmMod.ok(addAnArticle)">{l}Add Article{endl}</button>
</div>
