<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="cancel()"><span aria-hidden="true">&times;</span></button>
  <h4 class="modal-title" >{l}Create Certificate{endl}</h4>
</div>
<div class="modal-body certificate_modal">
  <div class="loading_wrap loading_alt hidden">
        <div class="loading"></div>
          <div class="spinner"></div>
      </div>
  <div class="col-md-12 margin-bottom">
    <div class="row">
        <label class="col-md-2 control-label">{l}Language{endl}</label>
        <div class="col-md-3"><selectize config="cfg" options="obj.language_dd" ng-change="changeLang(obj.lang_id)" ng-model="obj.lang_id" ></selectize></div>
    </div>
  </div>
  <div class="col-md-12 margin-top margin-bottom">
    <div class="row">
        <label class="col-md-2 control-label">{l}Deliveries{endl}</label>
        <div class="col-md-3"> <selectize config='delCfg' options='obj.deliveries_dd' ng-change="changeDelivery(obj.delivery_id)" ng-model="obj.delivery_id" id="delivery" ></selectize></div>
    </div>
  </div>
 
    <div class="col-xs-12 margin-top">
      <table class="table certificate_table">
        <thead>
          <tr>
            <th class="col-md-3">{l}Code{endl}</th>
            <th class="col-md-5">{l}Article{endl}</th>
            <th class="col-md-2">{l}Total Quantity{endl}</th>
            <th class="col-md-2"></th>
            
          </tr>
        </thead>
        <tbody>
          <tr ng-if="obj.lines.length>0" ng-repeat="item in obj.lines" class="collapseTr">
            <td>{{::item.code}}</td>
            <td class="delivery_art_width" >{{::item.article}}</td>
            <td class="low_width_deliv" >{{::item.quantity}}</td>
            <td class="btn-remove " ><span class="fa fa-trash ng-click-active pull-right" ng-click="removeLine($index)"></span></td>
           
          </tr>
          <tr ng-if="obj.lines.length<1" class="collapseTr">
            <td colspan ="4">{l}No items to display{endl}</td>
        </tbody>
      </table>
    </div>
  <!-- /.tabelu -->
</div>
<div class="modal-footer margin-right">
  <button class="btn btn-plain" type="button" ng-click="cancel()">{l}Cancel{endl}</button>
    <button class="btn btn-default" type="button" ng-disabled="$scope.obj.lines.length<1" ng-click="ok()">{l}Save{endl}</button>
</div>
