<style>
body { color: #000; font-family: Eurostile,"Times New Roman", Arial, Helvetica, sans-serif; font-size:12pt; }
h1 { font-size:20pt; font-weight:bold;}
h2 { font-size:16pt; font-weight:bold;}
h3 { font-size:14pt; font-weight:bold;}
table { border-collapse: collapse; border-spacing: 0; }
table td{ font-size: 12pt; }
.border_bottom { border-bottom: 1px solid #CCC; }
.hide { display:none; }
.right { text-align:right; }
td.last_nocenter{ border-right: 1px solid #d6d6d6; }
</style>
<body>
 
 <table cellpadding="11px" cellspacing="0"  width="100%" border="0">
  <tr>
    <td width="20%" rowspan="3"><img src="{account_logo}" {attr} ></td>
    <td width="80%"><h2>STOUWERSSMEDERIJ – FORGE-ARRIMEURS</h2></td>
    
  </tr>
   <tr>
   <td width="80%"> <h1 style="text-align:center; text-transform:uppercase; ">{seller_name}</h1></td>
   <!--  <td width="80%"> <h1 style="text-align:center; text-transform:uppercase; ">P. RAYMAKERS & ZOON  BVBA/SPRL</h1></td> -->
  </tr>
   <tr>
    
    <td width="80%"><h3 style="text-align:center;">{phone_txt}: {seller_b_phone} – {fax_txt}: {seller_b_fax}</h3></td>
   <!-- <td width="80%"><h3 style="text-align:center;">Tel: 03/233.42.41-234.32.98 - Fax: 03/232.78.77</h3></td> -->
  </tr>
 </table>


 <h3 style="text-align:center; "><b>{title_txt}</b><br /></h3>
 
 {if:directive_txt}<p style="text-align:justify;">{directive_txt}</p>{end}

<table cellpadding="0" cellspacing="0" border="0" width="100%" style="text-align:left;" >
  <tr>
    <td width="20%" rowspan="2"><u>{delivered_to_txt}</u>:</td>
    <td>{buyer_name}</td>
  </tr>
  <tr>
    <td>{if:is_delivery}{delivery_address}{else}{address_info}{end}</td>
  </tr>
 </table>

<p style="text-align:left;"><u>{customer_ref_txt}</u>: {customer_ref}<br>
<u>{delivery_note_txt}</u>: {serial_number}</p>

<p style="text-align:justify;">{text_txt} </p>

<p style="text-align:left;"><u>{description_txt}</u>:</p>


<table cellpadding="3px" cellspacing="0" border="0"  style="text-align:left;" >
{loop:certificate_row}
  {if:linetext}
    <tr>
        <td>{article}</td>
      </tr>
  {else}
      <tr>
        <td>{quantity} x {article}</td>
      </tr>
  {end}
  
  {endloop}
</table>

{if:certificate_note}
    <p>{certificate_note_txt}: {certificate_note}</p>
{end}

{if:particularities_txt}
    <p>{particularities_txt}</p>
{end}

{if:attention_text_txt}
    <p><b>{attention_text_txt}</b></p>
{end}

<p>{if:place_txt}{place_txt} {end}{seller_d_city},  {certificate_date}</p>
<table cellpadding="0" cellspacing="0" border="0" width="100%" style="text-align:left;" nobr="true" >
  <tr>
    <td width="60%" rowspan="4">{stamp_txt}</td>
    <td width="40%" >{signature_txt}<br />
                    {manager_name}<br />
                    {function_txt}<br />
                     {if:checked_signature}
                       {if:signature} 
                            <img src="{signature}" width="100px" height="80px" >
                      {end}
                     {end}
     </td>
  </tr>
 

</table>
</body>
