<style>
body { color: #000; font-family: "Times New Roman", Arial, Helvetica, sans-serif; font-size:12pt; }
h1 { font-size:10pt; font-weight:normal; }
table { border-collapse: collapse; border-spacing: 0; }
table td{ font-size: 12pt; }
table.text_table td{ font-size: 10pt; }
.border_bottom { border-bottom: 1px solid #CCC; }
.hide { display:none; }
.right { text-align:right; }
td.last_nocenter{ border-right: 1px solid #d6d6d6; }
</style>
<body>

<table cellpadding="0" cellspacing="0"  border="0" >
  <tr>
    
    <td width="100%"><img src="{account_logo}" {attr} ></td>
  </tr>
 </table>

 <div style="text-align:center; color: rgb(35, 71, 144);font-size: 8pt; font-family:  Arial;">{seller_d_address} – {phone_txt} {seller_b_phone} – {fax_txt}  {seller_b_fax} – {email_txt}: {seller_b_email}</div>
 <div style="text-align:left; color: rgb(35, 71, 144); font-size: 10pt; font-family:  Arial;">R.P.R.Antwerp<br>{vat_txt}: {order_vat_no}</div>

<table cellpadding="0" cellspacing="0" border="0" width="98%" style="text-align:right;" class="text_table">
  <tr>
    <td>{buyer_name}</td>
  </tr>
  <tr>
    <td>{if:is_delivery}{delivery_address}{else}{address_info}{end}</td>
  </tr>
 </table>

<div style="text-decoration:underline; text-align:center; "><b>{title_txt}</b></div>
<table cellpadding="4px" cellspacing="0"  border="0" class="text_table">
  <tr>
    <td width="100%" style="text-align:justify;">{directive_txt}<br>{text_txt}</td>
  </tr>
  <tr>
    <td width="100%">{if:place_txt}{place_txt} {end}{seller_d_city},  {certificate_date}</td>
  </tr>
   <tr>
    <td width="100%">{signature_txt}</td>
  </tr>
 </table>
{if:checked_signature}
    {if:signature} 
    <table cellpadding="3" cellspacing="0" class="text_table">
      <tr>
        <td width="100px" height="80px"><img src="{signature}" {attr_sign} ></td> 
      </tr>
      <tr>
         <td width="100%">{manager_name}<br>{function_txt}<br/></td>
      </tr>
     </table>
     {else}
         <table cellpadding="0" cellspacing="0" class="text_table">
          <tr>
            <td width="220px" height="80px" ></td>
          </tr>
           <tr>
             <td width="100%">{manager_name}<br>{function_txt}<br/></td>
          </tr>
         </table>
     {end}
   {else}
   <table cellpadding="0" cellspacing="0" class="text_table">
    <tr>
      <td width="220px" height="80px" ></td>
    </tr>
      <tr>
        <td width="100%">{manager_name}<br>{function_txt}<br/></td>
      </tr>    
   </table>
   {end}

<table cellpadding="1px" cellspacing="0" border="0"  style="text-align:left;" >
    <tr>
        <td><u>{description_txt}</u>:<br/>
    {purchase_ref_txt}:  {customer_ref}</td>
    </tr>
{loop:certificate_row}
  {if:linetext}
    <tr>
        <td>{article}</td>
      </tr>
  {else}
      <tr>
        <td>{quantity} x {article} </td>
      </tr>
  {end}
  {endloop}
</table>

<br/>
<p>{delivery_note_txt}: {serial_number}</p>

{if:certificate_note}
    <p>{certificate_note_txt}: {certificate_note}</p>
{end}
</body>
