<style>
body { color: #000; font-family: Arial, Helvetica, sans-serif; font-size: 9pt; }
h1 { font-size:10pt; font-weight:normal; }
table { border-spacing: 0; }
table td{ font-size: 9pt; }
.border_bottom { border-bottom: 1px solid #000; }
.invoice_rows{ border-bottom: 1px solid #000; }
.invoice_rows .th { border: 1px solid #000; color: #000; font-size: 8pt;padding-left: 10px; text-align: center; background-color:#efefef;}
.invoice_rows td { border-left: 1px solid #000; border-bottom: 1px solid #000;vertical-align:middle; font-size: 7.8pt; text-align:right; }
.invoice_rows .last { border-right: 1px solid #000; }
.hide { display:none; }
.right { text-align:right; }
.article_code_txt { border:none; padding:0;margin:0; }
.bold { font-weight: bold; }
</style>
{if:is_table}
<table cellpadding="0" cellspacing="0" border="0" width="760"  >
  <tr>
    <td width="355" valign="top"><img src="{account_logo}" {attr} ></td>
    <td  width="40%">
      <table cellpadding="0" cellspacing="0" border="0">

        <tr>
          <td style="text-align:right; font-size:14pt;" width="98.5%"><strong>{order_txt}</strong></td>
        </tr>

        <tr>
          <td style="text-align:left;" width="60%"><strong>{order_note_txt}</strong></td>
          <td style="text-align:left;"><strong>{serial_number}</strong></td>
        </tr>
        <tr>
          <td style="text-align:left;" width="60%">{date_txt}: </td>
          <td style="text-align:left;">{order_date}</td>
        </tr>
        {if:is_delivery_date}
        <tr>
          <td style="text-align:left;" width="60%">{delivery_date_txt}: </td>
          <td style="text-align:left;">{delivery_date}</td>
        </tr>
        {end}
        {if:is_delivery_del_date}
        <tr >
          <td style="text-align:left;" width="60%">{delivery_date_txt}: </td>
          <td style="text-align:left;">{delivery_del_date}</td>
        </tr>
        {end}
        {if:our_ref}
<!--        <tr class="{hide_our_ref}">
          <td style="text-align:left;" width="60%">{our_ref_txt}: </td>
          <td style="text-align:left;">{our_ref}</td>
        </tr>-->
        {end}
        {if:your_ref}
        <tr class="{hide_your_ref}">
          <td style="text-align:left;" width="60%">{your_ref_txt}: </td>
          <td style="text-align:left;">{your_ref}</td>
        </tr>
        {end}
        {if:buyer_reference}
        <tr>
          <td style="text-align:left;" width="60%">{additional_ref_txt}: </td>
          <td style="text-align:left;">{buyer_reference}</td>
        </tr>
        {end}
      </table></td>
  </tr>

</table>

<table cellpadding="0" cellspacing="0" border="0" width="100%" >
  <tr>
<td valign="top" width="55%"><h1><strong>{seller_name}</strong></h1></td>
    <td  width="45%"></td>
  </tr>
  <tr>
    <td valign="top" width="55%">{seller_d_address}<br />
      {seller_d_zip} {seller_d_city} - {seller_d_country}<br />
      {if:hide_p}{phone_txt}: {seller_b_phone}<br />{end}
      {if:hide_e}{email_txt}: {seller_b_email}<br />{end}
      {if:hide_u}{url_txt}: {seller_b_url}<br />{end}
      fb : brasseriedelacambre<br />
      {vat_number_txt}: {order_vat_no}<br />
      </td>
      {if:delivery_address}
    <td valign="top" width="45%" style="border: 1px solid #000; background-color:#efefef;">
        <table cellpadding="2" cellspacing="0" border="0">
          <tr>
            <td style="text-align:right; font-size:11pt;"><strong>{billing_address_txt}</strong></td>
          </tr>
          <tr>
            <td style="text-align:left;">{buyer_name}</td>
          </tr>
          <tr>
            <td style="text-align:left;">{delivery_address}</td>
          </tr>
          <tr>
            <td style="text-align:left;">{buyer_email}</td>
          </tr>
          <tr>
            <td style="text-align:left;">{buyer_phone}</td>
          </tr>
      </table>
    </td>
    {else}
      <td valign="top" width="45%" >
        <table cellpadding="1" cellspacing="0" border="0">
          <tr>
            <td style="text-align:right; font-size:10pt;"><strong>{billing_address_txt2}</strong></td>
          </tr>
          <tr>
            <td style="text-align:left;">{buyer_name}</td>
          </tr>
          <tr>
            <td style="text-align:left;">{address_info}</td>
          </tr>
      </table>
    </td>
    {end}
  </tr>

  {if:delivery_address}
   <tr>
    <td valign="top" width="55%"></td>
    <td valign="top" width="45%" >
        <table cellpadding="1" cellspacing="0" border="0">
          <tr>
            <td style="text-align:right; font-size:11pt;"><strong>{billing_address_txt2}</strong></td>
          </tr>
          <tr>
            <td style="text-align:left;">{buyer_name}</td>
          </tr>
          <tr>
            <td style="text-align:left;">{address_info}</td>
          </tr>
      </table>
    </td>
  </tr>
  {end}
</table>


<table width="100%" cellspacing="3" cellpadding="0" >
  <tr>
    <td style="text-align:right;" width="100%">Montants exprim&eacute;s en Euros &euro;</td>
  </tr>
</table>
<table width="100%" cellspacing="0" cellpadding="5" class="invoice_rows">
    <tr >
    <td class="th" width="20.3%" >{article_code_txt}</td>
    <td class="th" width="41%" >{article_txt}</td>
    <td class="th" width="5.9%">{quantity_txt}</td>
    <td class="th" width="6.9%">{unit_price_txt}</td>
    <td class="th" width="6.4%">{vat_txt} %</td>
    <td class="th"  width="7.2%" >{discount_txt} %</td>
    <td width="12.3%" class="th last">{subtotal_txt}</td>
  </tr>
  <tbody>
    {if:is_first_content_line}
    {if:is_content_line2}
    <tr>
      <td colspan="10" style="border-right:1px solid #000;text-align:left;" >{content_line2}</td>
    </tr>
    {end}
    {end}
    {loop:order_row}
    <tr>
     {if:is_article_code}
      <td width="20.3%" style="text-align:left; line-height: 15px; font-size: 10.6px;">{article_code}</td>
     {end}
      <td class="first-of-type {content_class}" style="text-align:left; font-size: 10.6px;" {colspan}>{article}
        {if:is_serial_number}{art_serial_number_list}{end}
        {if:is_batch_number}{art_batch_number_list}{end}
      </td>
      {if:content}
        <td class="{q_class}" style="font-size: 10.6px;">{quantity}</td>
        <td>{if:is_not_component}{price}{end}</td>
          <td> <span class="vat_percent" style="font-size: 10px;">{if:is_not_component}{percent}{end}</span></td>
          <td>{if:is_not_component}{discount}{end}</td>
          <td class="last" width="12.3%" style="font-size: 10.5px;">{if:is_not_component}{price_vat}{end}</td>

      {end}
    </tr>
    {if:is_content_line}
      <tr>
        <td colspan="10" style="border-right:1px solid #000;text-align:left;" >{content_line}</td>
      </tr>
    {end}
    {endloop}
  </tbody>
</table>
<br/>
<br/>

<table cellpadding="3" cellspacing="0" border="0" width="100%"  style="border:1px solid #000;font-size: 8pt; ">
  {if:is_free_delivery}
  <tr class="">
    <td width="80.5%"  class="right" style=" border-right: 1px solid #000;">{shipping_price_txt}</td>
    <td width="19.5%"  class="right ">{shipping_price}</td>
  </tr>
  {end}
  <tr class="">
    <td width="80.5%"  class="right" style=" border-right: 1px solid #000;">{subtotal_txt}</td>
    <td width="19.5%"  class="right ">{total}</td>
  </tr>

  <tr >
    <td width="80.5%"  class="right" style=" border-right: 1px solid #000;">{discount_txt}{discount_percent}</td>
    <td width="19.5%"  class="right ">- {discount_total}</td>
  </tr>


  <tr >
    <td width="80.5%"  class="right" style=" border-right: 1px solid #000;">{vat_txt}</td>
    <td width="19.5%"  class="right ">{vat_total} </td>
  </tr>


  <tr >
    <td width="80.5%"  class="right" style=" border-right: 1px solid #000;"><strong>{amount_txt}</strong></td>
    <td width="19.5%" class="right "><strong>{total_vat}</strong></td>
  </tr>

   <!-- <tr class="{hide_default_total}">
    <td width="75%"  class="right"><strong>{amount_txt} ({def_currency})</strong></td>
    <td width="25%" class="right "><strong>{total_amount_due_default}</strong></td>
  </tr> -->
</table>


<br />
<br />

<h1 style="border-bottom:1px solid #000; " class="{view_notes}">{delivery_note_txt}</h1><ul>{if:show_delivery_note}<li style="font-size:9pt;">{delivery_note}</li>{end}<li style="font-size:9pt;">{notes}</li></ul>
<br />
<br />

{end}
{if:is_data}
<table width="100%" cellspacing="0" cellpadding="0" class="" style="clear:both;" nobr="true">
  <tbody>
      <tr>
        <td width="55%">&nbsp;</td>
        <td width="45%" style="border:1px solid #000;text-align:center;">
          {stamp_signature}<br/>
          &nbsp;<br/>
          &nbsp;<br/>
          &nbsp;<br/>
          &nbsp;<br/>
          &nbsp;<br/>
          &nbsp;<br/>
          <table cellpadding="0" cellspacing="0" border="0" width="100%" style="font-size: 9pt; " >
            <tr>
              <td  width="50%">Nom</td>
              <td  width="50%">{simple_date_txt}</td>
            </tr>
            <tr>
              <td  width="50%">&nbsp;</td>
              <td  width="50%">&nbsp;</td></tr>
            <tr>
              <td>......................</td>
              <td>......................</td>
            </tr>
          </table>
          &nbsp;</td>
      </tr>
  </tbody>
</table>
{end}
