<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="cancel()"><span aria-hidden="true">&times;</span></button>
  <h4 class="modal-title">{l}Custom Address{endl}</h4>
</div>
<div class="modal-body modal-body_alt">
      <div class="section-content">
        <div uib-alert ng-repeat="alert in alerts" type="{{alert.type}}" close="alerts.splice($index, 1);" ng-class="['alert-' + (alert.type || 'warning') ]">{{alert.msg}}</div>
        <form class="form-horizontal text-left">          
          <div class="form-group">
            <label class="col-sm-5 col-lg-4 control-label">{l}Street{endl}</label>
            <div class="col-sm-7 col-lg-8">
              <textarea ng-model="obj.address" class="form-control"></textarea>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-5 col-lg-4 control-label">{l}ZIP{endl}</label>
            <div class="col-sm-7 col-lg-8">
              <input type="text" class="form-control" placeholder="{l}ZIP{endl}" ng-model="obj.zip">
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-5 col-lg-4 control-label">{l}City{endl}</label>
            <div class="col-sm-7 col-lg-8">
              <input type="text" class="form-control" placeholder="{l}City{endl}" ng-model="obj.city">
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-5 col-lg-4 control-label">{l}Country{endl}  <span class="mandatory-label">*</span></label>
            <div class="col-sm-7 col-lg-8">
              <selectize config="cfg" options="obj.countries" ng-model="obj.country_id" ></selectize>             
            </div>
          </div>
        </form>
      </div>    
</div>
<div class="modal-footer">
    <button class="btn btn-plain" type="button" ng-click="cancel()">{l}Cancel{endl}</button>
    <button class="btn btn-default" type="button" ng-click="ok()">{l}Save{endl}</button>
</div>
