<style>
    body {
        color: #000;
        font-family: 'Open Sans', sans-serif;
        font-size: 9pt;
    }
    
    h1 {
        font-size: 10pt;
        font-weight: normal;
    }
    
    table {
        border-collapse: collapse;
        border-spacing: 0;
    }
    
    table td {
        font-size: 9pt;
    }
</style>
{if:head} {HEADER} {else}
<table cellpadding="0" cellspacing="0" border="0" width="760" style="border-bottom:1pt solid #CCC;">
    <tr>
        <td width="260" valign="top"><img src="{account_logo}" {attr}></td>
        <td>
            <table cellpadding="0" cellspacing="0" border="0">
                <tr>
                    <td style="border-bottom:1pt solid #CCC; text-align:right; font-size:14pt;"><strong>{order_txt}</strong></td>
                </tr>
                <tr>
                    <td height="10"></td>
                </tr>
                <tr>
                    <td style="text-align:right;">{order_note_txt}: <strong>{serial_number}</strong></td>
                </tr>
                <tr>
                    <td style="text-align:right;">{date_txt}: {order_date}</td>
                </tr>
                {if:is_delivery_date}
                <tr>
                    <td style="text-align:right;">{delivery_date_txt}: {delivery_date}</td>
                </tr>
                {end} {if:is_delivery_del_date}
                <tr>
                    <td style="text-align:right;">{delivery_date_txt}: {delivery_del_date}</td>
                </tr>
                {end}
                <tr class="{hide_our_ref}">
                    <td style="text-align:right;">{our_ref_txt}: {our_ref}</td>
                </tr>
                <tr class="{hide_your_ref}">
                    <td style="text-align:right;">{your_ref_txt}: {your_ref}</td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td height="5"></td>
    </tr>
</table>
<table cellpadding="0" cellspacing="0" border="0" width="100%" style="border-bottom:1pt solid #CCC;">
    <tr>
        <td colspan="2"></td>
    </tr>
    <tr>
        <td valign="top" width="40%">
            <h1>{seller_name}</h1>
            {seller_d_address} <br/> {seller_d_zip} {seller_d_city} <br/> {seller_d_country}
            <br/> {if:hide_p}{phone_txt}: {seller_b_phone}<br />{end} {if:hide_f}{fax_txt}: {seller_b_fax}<br />{end} {if:hide_e}{email_txt}: {seller_b_email}<br />{end} {if:hide_u}{url_txt}: {seller_b_url}<br />{end}
            <!-- {order_vat_no} <br/> -->
            <!-- <div class="{hide_b_d}">
        <h1>{bankd_txt}</h1>
        {bank_txt}: {bank}<br/>
        {bic_txt}: {bic}<br/>
        {iban_txt}: {iban}
      </div> -->
        </td>
        <td valign="top" width="30%">
            <h1>{buyer_name}</h1>
            {address_info}{buyer_email}{buyer_phone}{buyer_fax}
        </td>
        <td style="text-align:right;"><br /> {if:is_delivery}
            <h1>{if:billing_address_txt}{billing_address_txt}:{end}</h1>
            {delivery_address}{end} {if:is_pickup} {pick_up_from_store_txt} {end}

        </td>
    </tr>
    <tr>
        <td colspan="2" height="18"></td>
    </tr>
</table>
{end}


<!-- <table cellpadding="0" cellspacing="0" border="0" width="100%" class="{HIDE_B_D}" style="font-size: 9pt; " >
  <tr>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td></td>
    <td></td>
  </tr>
</table> -->
{if:show_backorder}
<table width="100%" cellspacing="0" cellpadding="5" class="invoice_rows">
    <tr style="background-color: #666; color: #fff;">
        <!-- <td class="th" width="13%">{article_code_txt}</td> -->
        <!-- {if:delivery}{else}
    <td class="th" width="13%" style="text-align: center;">{quantity_txt}</td>
    {if:allow_article_packing}<td class="th" width="30%" style="text-align: center;">{package_txt} {if:allow_article_sale_unit} /{sale_unit_txt}{end}</td>{end}
    {end} -->
        <td class="th" width="{article_width}%">{article_txt}</td>
        {if:delivery}
        <td class="th" width="13%">{quantity_txt}</td>
        <td class="th" width="13%">{unit_price_txt}</td>
        {if:show_vat}
        <td class="th" width="12%">{vat_txt}</td> {end} {if:allow_article_packing}
        <td style="text-align: center;" width="13%">{package_txt} {if:allow_article_sale_unit} /{sale_unit_txt}{end}</td>{end} {if:sh_discount_total}
        <td style="text-align: right;" width="12%">{discount_txt}</td>{end}
        <td width="13%" style="text-align: right;">{amount_txt}</td>
        {else}
        <td class="th" width="15%" style="text-align: center;">{ordered_quantity_txt}</td>
        <td class="th" width="14%" style="text-align: center;">{delivered_quantity_txt}</td>
        {if:allow_article_packing}
        <td class="th" width="15%" style="text-align: center;">{package_txt} {if:allow_article_sale_unit} /{sale_unit_txt}{end}</td>{end}
        <td class="th" width="14%" style="text-align: center;">{backordered_quantity_txt}</td>
        {end}
    </tr>
    <tbody>
        {if:is_first_content_line} {if:is_content_line2}
        <tr nobr="true">
            <td colspan="10" style="text-align:left;">{content_line2}</td>
        </tr>
        {end} {end} {loop:order_row}
        <tr nobr="false">
            {if:content}
            <!-- <td width="{content_width}%" style="text-align:left; border-bottom: 1px solid #ccc;line-height: 15px;font-size: 9pt;">{article_code}</td> -->
            <!--  {if:delivery}{else}
        <td class="{q_class}" style="border-bottom: 1px solid #ccc;line-height: 15px;font-size: 9pt;text-align: center;">{quantity}</td>
        {if:allow_article_packing}<td style="text-align:center; border-bottom: 1px solid #ccc;line-height: 15px;font-size: 9pt;">{if:is_not_component}{packing} {if:allow_article_sale_unit}/ {sale_unit}{end} {end}</td>{end}
        {end} -->
            <td class="first-of-type {content_class}" style="text-align:left;border-bottom: 1px solid #ccc;line-height: 15px;font-size: 9pt;" {colspan}>{article} {if:is_serial_number}{art_serial_number_list}{end} {if:is_batch_number}{art_batch_number_list}{end}
            </td>
            {if:content} {if:delivery}

            <td class="{q_class}" style="border-bottom: 1px solid #ccc;line-height: 15px;font-size: 9pt;">{quantity}</td>
            <td style="border-bottom: 1px solid #ccc;line-height: 15px;font-size: 9pt;">{if:is_not_component}{price}{end}</td>
            {if:show_vat}
            <td style="border-bottom: 1px solid #ccc;line-height: 15px;font-size: 9pt;"> {if:is_not_component}<span class="vat_percent">{percent}</span>%{end}</td> {end} {if:allow_article_packing}
            <td style="text-align: center;border-bottom: 1px solid #ccc;line-height: 15px;font-size: 9pt;">{if:is_not_component}{packing} {if:allow_article_sale_unit}/ {sale_unit}{end} {end}</td>{end} {if:sh_discount_total}
            <td style="text-align: right;border-bottom: 1px solid #ccc;line-height: 15px;font-size: 9pt;">{if:is_not_component}{discount}{end}</td>{end}
            <td style="text-align: right;border-bottom: 1px solid #ccc;line-height: 15px;font-size: 9pt;" width="13%">{if:is_not_component}{price_vat}{end}</td>
            {else}
            <td style="border-bottom: 1px solid #ccc;line-height: 15px;font-size: 9pt;text-align: center;">{quantity_order}</td>
            <td style="border-bottom: 1px solid #ccc;line-height: 15px;font-size: 9pt;text-align: center;">{quantity_delivery}</td>
            {if:allow_article_packing}
            <td style="text-align:center; border-bottom: 1px solid #ccc;line-height: 15px;font-size: 9pt;">{if:is_not_component}{packing} {if:allow_article_sale_unit}/ {sale_unit}{end} {end}</td>{end}
            <td style="border-bottom: 1px solid #ccc;line-height: 15px;font-size: 9pt;text-align: center;">{quantity_backorder}</td>
            {end}{end} {else}
            <td style="text-align:left; border-bottom: 1px solid #ccc;line-height: 15px;font-size: 9pt;">{article_code}</td>
            <!-- width="{content_width}%" -->
            {end}
        </tr>
        {if:is_content_line}
        <tr nobr="true">
            <td colspan="10" style="text-align:left;border-bottom: 1px solid #ccc;line-height: 15px;font-size: 9pt;">{content_line}</td>
        </tr>
        {end}
        <!-- <tr>
            <td width="100%" style="line-height: -9px;"></td>
        </tr> -->
        {endloop}
    </tbody>
</table>

{else}
<table width="100%" cellspacing="0" cellpadding="5" class="invoice_rows">
    <tr style="background-color: #666; color: #fff;">
        <!-- <td class="th" width="13%">{article_code_txt}</td> -->
        {if:delivery}{else}
        <td class="th" width="13%" style="text-align: center;">{quantity_txt}</td>
        {if:allow_article_packing}
        <td class="th" width="30%" style="text-align: center;">{package_txt} {if:allow_article_sale_unit} /{sale_unit_txt}{end}</td>{end} {end}
        <td class="th" width="{article_width}%">{article_txt}</td>
        {if:delivery}
        <td class="th" width="13%">{quantity_txt}</td>
        <td class="th" width="13%">{unit_price_txt}</td>
        {if:show_vat}
        <td class="th" width="12%">{vat_txt}</td> {end} {if:allow_article_packing}
        <td style="text-align: center;" width="13%">{package_txt} {if:allow_article_sale_unit} /{sale_unit_txt}{end}</td>{end} {if:sh_discount_total}
        <td style="text-align: right;" width="12%">{discount_txt}</td>{end}
        <td width="13%" style="text-align: right;">{amount_txt}</td>
        {end}
    </tr>
    <tbody>
        {if:is_first_content_line} {if:is_content_line2}
        <tr nobr="true">
            <td colspan="10" style="text-align:left;">{content_line2}</td>
        </tr>
        {end} {end} {loop:order_row}
        <tr nobr="false">
            {if:content}
            <!-- <td width="{content_width}%" style="text-align:left; border-bottom: 1px solid #ccc;line-height: 15px;font-size: 9pt;">{article_code}</td> -->
            {if:delivery}{else}
            <td class="{q_class}" style="border-bottom: 1px solid #ccc;line-height: 15px;font-size: 9pt;text-align: center;">{quantity}</td>
            {if:allow_article_packing}
            <td style="text-align:center; border-bottom: 1px solid #ccc;line-height: 15px;font-size: 9pt;">{if:is_not_component}{packing} {if:allow_article_sale_unit}/ {sale_unit}{end} {end}</td>{end} {end}
            <td class="first-of-type {content_class}" style="text-align:left;border-bottom: 1px solid #ccc;line-height: 15px;font-size: 9pt;" {colspan}>{article} {if:is_serial_number}{art_serial_number_list}{end} {if:is_batch_number}{art_batch_number_list}{end}
            </td>
            {if:content} {if:delivery}

            <td class="{q_class}" style="border-bottom: 1px solid #ccc;line-height: 15px;font-size: 9pt;">{quantity}</td>
            <td style="border-bottom: 1px solid #ccc;line-height: 15px;font-size: 9pt;">{if:is_not_component}{price}{end}</td>
            {if:show_vat}
            <td style="border-bottom: 1px solid #ccc;line-height: 15px;font-size: 9pt;"> {if:is_not_component}<span class="vat_percent">{percent}</span>%{end}</td> {end} {if:allow_article_packing}
            <td style="text-align: center;border-bottom: 1px solid #ccc;line-height: 15px;font-size: 9pt;">{if:is_not_component}{packing} {if:allow_article_sale_unit}/ {sale_unit}{end} {end}</td>{end} {if:sh_discount_total}
            <td style="text-align: right;border-bottom: 1px solid #ccc;line-height: 15px;font-size: 9pt;">{if:is_not_component}{discount}{end}</td>{end}
            <td style="text-align: right;border-bottom: 1px solid #ccc;line-height: 15px;font-size: 9pt;" width="13%">{if:is_not_component}{price_vat}{end}</td>{end}{end} {else}
            <td colspan="10" style="text-align:left; border-bottom: 1px solid #ccc;line-height: 15px;font-size: 9pt;">{article_code}</td>
            <!-- width="{content_width}%" -->
            {end}
        </tr>
        {if:is_content_line}
        <tr nobr="true">
            <td colspan="10" style="text-align:left;border-bottom: 1px solid #ccc;line-height: 15px;font-size: 9pt;">{content_line}</td>
        </tr>
        {end}
        <!-- <tr>
            <td width="100%" style="line-height: -9px;"></td>
        </tr> -->
        {endloop}
    </tbody>
</table>
{end} {if:is_delivery}
<!-- <table cellpadding="0" cellspacing="8" border="0" width="100%">
    <tr>
        <td width="15%"  class="right"><strong>{amount_due_txt}:</strong></td>
        <td width="85%" class="right"><strong> {total_quantity} </strong></td>
    </tr>
</table> -->
{end}<br/><br/> {if:delivery_custom}
<table width="100%" cellspacing="0" cellpadding="5">
    <tr>
        <td width="20%" style="text-align: center; border-bottom: 1px solid #666; border-left: 1px solid #666;border-top: 1px solid #666; line-height: 15px;font-size: 9pt; ">{amount_order_txt}</td>
        <td width="20%" style="text-align: center; border-bottom: 1px solid #666; border-left: 1px solid #666;border-top: 1px solid #666; line-height: 15px;font-size: 9pt;">{downpayment_paid_txt} </td>
        <td width="20%" style="text-align: center; border-bottom: 1px solid #666; border-left: 1px solid #666; border-top: 1px solid #666;line-height: 15px;font-size: 9pt;">{downpayment_amount_vat_txt} </td>
        <td width="20%" style="text-align: center; border-bottom: 1px solid #666; border-left: 1px solid #666;border-top: 1px solid #666; line-height: 15px;font-size: 9pt;">{downpayment_balance_txt} </td>
        <td width="20%" style="text-align: center; border-bottom: 1px solid #666; border-left: 1px solid #666;border-top: 1px solid #666;  border-right: 1px solid #666;line-height: 15px;font-size: 9pt;">{signature_txt}</td>
    </tr>
    <tr>
        <td width="20%" style="text-align: center; border-bottom: 1px solid #666; border-left: 1px solid #666; line-height: 15px;font-size: 9pt; line-height:60pt;">{total_vat}</td>
        <td width="20%" style="text-align: center; border-bottom: 1px solid #666; border-left: 1px solid #666; line-height: 15px;font-size: 9pt; line-height:60pt;">{downpayment_paid} </td>
        <td width="20%" style="text-align: center; border-bottom: 1px solid #666; border-left: 1px solid #666; line-height: 15px;font-size: 9pt; line-height:60pt;">{downpayment_amount_vat} </td>
        <td width="20%" style="text-align: center; border-bottom: 1px solid #666; border-left: 1px solid #666; line-height: 15px;font-size: 9pt; line-height:60pt;">{downpayment_balance} </td>
        <td width="20%" style="text-align: center; border-bottom: 1px solid #666; border-left: 1px solid #666; border-right: 1px solid #666;line-height: 15px;font-size: 9pt; line-height:60pt;"></td>
    </tr>
</table>


{end} {if:delivery}
<table cellpadding="0" cellspacing="8" border="0" width="100%">
    {if:is_free_delivery}
    <tr class="">
        <td width="85%" style="text-align: right;">{shipping_price_txt}:</td>
        <td width="15%" style="text-align: right;">{shipping_price}</td>
    </tr>
    {end}
    <tr class="">
        <td width="85%" style="text-align: right;">{subtotal_txt}:</td>
        <td width="15%" style="text-align: right;">{total}</td>
    </tr>
    {if:sh_discount}
    <tr class="{sh_discount}">
        <td width="85%" style="text-align: right;">{discount_txt}{discount_percent}:</td>
        <td width="15%" style="text-align: right;">- {discount_total}</td>
    </tr>
    {end} {if:show_vat}
    <tr class="{sh_vat}">
        <td width="85%" style="text-align: right;">{vat_txt}:</td>
        <td width="15%" style="text-align: right;">{vat_total} </td>
    </tr>
    {end} {if:hide_if_no_vat_no_disc}
    <tr class="{hide_if_no_vat_no_disc}">
        <td width="85%" style="text-align: right;"><strong>{amount_txt}:</strong></td>
        <td width="15%" style="text-align: right;"><strong>{total_vat}</strong></td>
    </tr>
    {end}
    <!-- <tr class="{hide_default_total}">
    <td width="85%"  class="right"><strong>{amount_txt} ({def_currency})</strong></td>
    <td width="15%" class="right "><strong>{total_amount_due_default}</strong></td>
  </tr> -->
</table>
{end}
<table width="100%" cellspacing="0" cellpadding="0" class="" style="clear:both;">
    <tbody>
        <tr>
            <td class="last">
                &nbsp;<br/> &nbsp;
                <br/> &nbsp;
                <br/> &nbsp;
            </td>
            <td class="last">&nbsp;</td>
            <td class="last">&nbsp;</td>
        </tr>
    </tbody>
</table>
{if:show_delivery_note}
<h1 style="font-size: 12pt;font-weight: bold; line-height: 10px;">{delivery_note_txt}</h1>
<span style="font-size:9pt; line-height: 10px;">{delivery_note}</span>
<br /> {end}
<br />
<br />
<h1 style="font-size: 12pt;font-weight: bold; line-height: 10px;" class="{view_notes}">{notes_txt}</h1>
<span style="font-size:9pt;">{notes}</span> {if:foot} {FOOTER} {end}