<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="cancel()"><span aria-hidden="true">&times;</span></button>
  <h4 class="modal-title" >{{delivery.page_title}}</h4>
</div>
<div class="modal-body delivery_modal">
  <div uib-alert ng-repeat="alert in alerts" type="{{alert.type}}" close="alerts.splice($index, 1);" ng-class="['alert-' + (alert.type || 'warning') ]">{{alert.msg}}</div>
  <!-- <div class="row">
    <div class="col-xs-12">
      <a href="#" ng-click="hideDetails=false" ng-class="{ 'hidden':!hideDetails }"><span class="glyphicon glyphicon-plus btn-expand" ></span> [{l}change main details{endl}]</a>
      <a href="#" ng-click="hideDetails=true" ng-class="{ 'hidden':hideDetails }"><span class="glyphicon glyphicon-minus btn-expand" ></span> [{l}hide main details{endl}]</a>
    </div>
  </div> -->
  <form class="form-horizontal"  >
    <div>
      <div class="form-group" ng-if="delivery.multiple_deliveries">
        <label class="col-xs-3 control-label text-left">{l}Delivery{endl}</label>
        <div class="col-xs-6 col-sm-3">
          <selectize config='multiDeliveryCfg' options='delivery.multiple_deliveries' ng-model="delivery.delivery_id"></selectize>
        </div>
      </div>
      <div class="form-group">
        <label class="col-xs-3 control-label text-left">{l}Delivery Date{endl}<span class="red-text"><b> *</b></span></label>
        <div class="col-xs-9">
          <div class="input-group input-group-sm so-field input-date">
            <span class="glyphicon glyphicon-calendar so-icon"></span><input type="text" class="form-control" ng-model="delivery.date_del_line" uib-datepicker-popup="{{format}}" is-open="datePickOpen.date_del_line" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" placeholder="{l}dd/MM/yyyy{endl}" show-button-bar="false" ng-click="datePickOpen.date_del_line=true" />
          </div>
        </div>
        <!-- <div class="col-xs-1 input-group-sm">
          <select class="form-control" ng-model="delivery.hour">
            <option ng-repeat="option in hours" value="{{option}}">{{option}}</option>
          </select>
        </div>
        <div class="col-xs-1 input-group-sm">
          <select class="form-control" ng-model="delivery.minute">
            <option ng-repeat="option in minutes" value="{{option}}">{{option}}</option>
          </select>
        </div>
        <div class="col-xs-1 input-group-sm">
          <select class="form-control" ng-model="delivery.pm">
            <option value="am">am</option>
            <option value="pm">pm</option>
          </select>
        </div> -->
      </div>
      <div class="form-group">
        <label class="col-xs-3 control-label text-left">{l}Account{endl}</label>
        <div class="col-xs-9 col-sm-6">
          <selectize config='buyerAutoCfg' options='delivery.cc' ng-model="delivery.buyer_id" id="buyer_id"></selectize>
        </div>
      </div>
      <div class="form-group">
        <label class="col-xs-3 control-label text-left">{l}Contact{endl}</label>
        <div class="col-xs-9 col-sm-6">
          <selectize config='contactAutoCfg' options='delivery.recipients' ng-model="delivery.contact_id" ng-disabled="!delivery.buyer_id"></selectize>
        </div>
      </div>
      <div class="form-group">
        <label class="col-xs-3 control-label text-left">{l}Delivery Address{endl}</label>
        <div class="col-xs-9 col-sm-6">
         
            <selectize config='addressAutoCfg' options='delivery.delivery_addresses' ng-model="delivery.delivery_address_id" id="delivery_address" ng-if="!delivery.is_custom_address" ng-disabled="!delivery.buyer_id"></selectize>
            <textarea ng-model="delivery.delivery_address" class="form-control" rows="2" ng-if="delivery.is_custom_address"></textarea>
           
        </div>
        <!-- <label class="col-xs-3 control-label text-left"><a class="text-link text-muted" href="#" ng-click="openModal('customAddress',item,'md')"">{l}Custom Address{endl}</a></label> -->
        <!-- <label class="col-xs-3 control-label text-left">
          <a href="#" ng-click="disableAddress=false" ng-class="{ 'hidden':!disableAddress }"><small>[ {l}change{endl} ]</small></a>
          <a href="#" ng-click="disableAddress=true" ng-class="{ 'hidden':disableAddress }"><small>[ {l}done{endl} ]</small></a>
        </label> -->
      </div>
    </div>
    <div class="form-group" ng-if="delivery.is_add && delivery.view_location">
      <label class="col-xs-3 control-label text-left">{l}Stock Location{endl}</label>
      <div class="col-xs-9 col-sm-6">
        <selectize config='stockLocationCfg' options='delivery.location_dd' ng-model="delivery.select_main_location" id="delivery_location" ></selectize>
        <!-- <select class="form-control"  ng-model="delivery.select_main_location" ng-change="changedAddress()">
          <option ng-repeat="option in delivery.location_dd" value="{{option.id}}">{{option.name}}</option>
        </select> -->
      </div>
    </div>
    <div class="form-group" ng-if="delivery.is_add">
      <label class="col-xs-3 control-label text-left">{l}Note{endl}</label>
      <div class="col-xs-9">
        <textarea ng-model="delivery.delivery_note" class="form-control" rows="2"></textarea>
      </div>
    </div>
    <div class="form-group" ng-if="!delivery.is_add">
      <label class="col-xs-3 control-label text-left">{l}Note{endl}</label>
      <div class="col-xs-9">
        <textarea ng-model="delivery.delivery_note" class="form-control" rows="2"></textarea>
      </div>
    </div>
    <div class="row" ng-if="delivery.is_add">
      <div class="col-xs-12">
        <table class="table deliveryTable">
          <thead>
            <tr>
              <th >{l}Code{endl}</th>
              <th class="delivery_art_width">{l}Article{endl}</th>
              <th >{l}Total Quantity{endl}</th>
              <th ng-if="delivery.allow_article_packing">{l}Pack{endl}.<span ng-if="delivery.allow_article_sale_unit"> / {l}S.U.{endl}</span></th>
              <th class="low_width_deliv">{l}Quantity{endl}</th>
              <th ng-if="delivery.view_location && delivery.location_dd.length>1">{l}Select Location{endl}</th>
              <th ng-if="delivery.use_serial_no">{l}Serial Numbers{endl}</th>
              <th ng-if="delivery.use_batch_no">{l}Batch Numbers{endl}</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="item in delivery.lines" class="collapseTr">
              <td>{{::item.code}}</td>
              <td class="delivery_art_width">{{::item.article}}</td>
              <td class="low_width_deliv">{{::item.quantity2}}</td>
              <td ng-if="item.allow_article_packing">{{::item.packing}} <span ng-if="item.allow_article_sale_unit"> / {{::item.sale_unit}}</span></td>
              <td ng-class="{ 'is-error':item.is_error }" class="low_width_deliv"><input type="text" ng-model="item.quantity" class="form-control" display-nr="" ng-change="changeQuantity(item)"></td>
              <td ng-if=" item.view_location && delivery.location_dd.length>1">
                <span ng-if="item.view_location && item.article_id && item.show_stock" class="glyphicon glyphicon-plus btn-expand" ng-click="showStats(item,$index)" ng-class="{ 'glyphicon-minus': item.isopen }" ></span>
              </td>
              <td ng-if="delivery.use_serial_no"><button type="button" class="btn batch_ser" ng-if="item.use_serial_no_art" ng-click="openModal('serialNr',item)" ng-class="{ 'btn-primary':item.serialOk, 'btn-secondary':!item.serialOk }" >{l}Serial Numbers{endl}</button>   </td>
              <td ng-if="delivery.use_batch_no"><button type="button" class="btn batch_ser" ng-if="item.use_batch_no_art" ng-click="openModal('batchNr',item)" ng-class="{ 'btn-primary':item.batchOk, 'btn-secondary':!item.batchOk }">{l}Batch Numbers{endl}</button>   </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div><!-- /.tabelu -->

    <div class="row" ng-if="!delivery.is_add">
      <div class="col-xs-12">
        <b>{l}Delivery Date{endl}:</b>
        {{delivery.delivery_date}} &nbsp;     {{delivery.hour}}:{{delivery.minute}} {{delivery.pm}}
      </div>
      <div class="col-xs-12">
        <b>{l}Contact{endl}:</b>
        {{delivery.contact_name}}
      </div>
      <div class="col-xs-12">
        <b>{l}Delivery Address{endl}:</b>
        <div ng-bind-html="delivery.delivery_address_txt"></div>
      </div>
    </div>
    <div class="row" ng-if="!delivery.is_add">
      <div class="col-xs-12">
        <table class="table deliveryTable">
          <thead>
            <tr>
              <th >{l}Code{endl}</th>
              <th >{l}Article{endl}</th>
              <th ng-if="delivery.allow_article_packing">{l}Pack{endl}.<span ng-if="delivery.allow_article_sale_unit"> / {l}S.U.{endl}</span></th>
              <th>{l}Quantity{endl}</th>
              <th ng-if="delivery.use_serial_no">{l}Serial Numbers{endl}</th>
              <th ng-if="delivery.use_batch_no">{l}Batch Numbers{endl}</th>
            </tr>
          </thead>
          <tbody>
            <tr class="collapseTr" ng-repeat="item in delivery.lines" ng-init="showStats2(item,$index)">
              <td>{{::item.code}}</td>
              <td>{{::item.article}}</td>
              <td ng-if="delivery.allow_article_packing">{{::item.packing}} <span ng-if="delivery.allow_article_sale_unit"> / {{::item.sale_unit}}</span></td>
              <td>{{::item.quantity}}</td>
              <td ng-if="delivery.use_serial_no"><button type="button" ng-if="item.use_serial_no_art" ng-click="openModal('serialNr',item,'sm')" class="btn btn-primary batch_ser" >{l}Serial Numbers{endl}</button>   </td>
              <td ng-if="delivery.use_batch_no"><button type="button" ng-if="item.use_batch_no_art" ng-click="openModal('batchNr',item)" class="btn btn-primary batch_ser" >{l}Batch Numbers{endl}</button>   </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div><!-- /.tabelu -->
  </form>
</div>
<div class="modal-footer">
    <button class="btn btn-plain" type="button" ng-click="cancel()">{l}Close{endl}</button>
    <button class="btn btn-default" type="button" ng-disabled="!delivery.buyer_id || isDisabled" ng-click="ok()">{l}Save{endl}</button>
</div>