<div class="modal-header">
    <h3 class="modal-title">{l}Edit Label{endl}</h3>
</div>

<div class="tab-content">
    <div class="tab-pane active" id="labels">
        <div class="modal-body">
            <!-- <div uib-alert ng-repeat="alert in vm.alerts" type="{{alert.type}}" close="vm.alerts.splice($index, 1);" ng-class="['alert-' + (alert.type || 'warning'), 'alert-fixed' ]" dismiss-on-timeout='5000' >{{alert.msg}}</div> -->
            <form class="form-horizontal">
                <div class="row">
                    <div class="col-xs-6">
                        <div class="form-group">
                            <label class="col-xs-5 control-label text-left">{l}Order Note{endl}:</label>
                            <div class="col-xs-7 input-group-sm">
                                <input type="text" class="form-control" ng-model="vm.labels.ORDER_NOTE" placeholder="{l}Order Note{endl}">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-xs-5 control-label text-left">{l}Stock Dispatching Note{endl}:</label>
                            <div class="col-xs-7 input-group-sm">
                                <input type="text" class="form-control" ng-model="vm.labels.STOCK_DISPATCHING_NOTE" placeholder="{l}Stock Dispatching Note{endl}">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-xs-5 control-label text-left">{l}Article{endl}:</label>
                            <div class="col-xs-7 input-group-sm">
                                <input type="text" class="form-control" ng-model="vm.labels.ARTICLE" placeholder="{l}Article{endl}">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-xs-5 control-label text-left">{l}Date{endl}:</label>
                            <div class="col-xs-7 input-group-sm">
                                <input type="text" class="form-control" ng-model="vm.labels.DATE" placeholder="{l}Date{endl}">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-xs-5 control-label text-left">{l}Company{endl}:</label>
                            <div class="col-xs-7 input-group-sm">
                                <input type="text" class="form-control" ng-model="vm.labels.CUSTOMER" placeholder="{l}Company{endl}">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-xs-5 control-label text-left">{l}Quantity{endl}:</label>
                            <div class="col-xs-7 input-group-sm">
                                <input type="text" class="form-control" ng-model="vm.labels.QUANTITY" placeholder="{l}Quantity{endl}">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-xs-5 control-label text-left">{l}Amount{endl}:</label>
                            <div class="col-xs-7 input-group-sm">
                                <input type="text" class="form-control" ng-model="vm.labels.AMOUNT" placeholder="{l}Amount{endl}">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-xs-5 control-label text-left">{l}Discount{endl}:</label>
                            <div class="col-xs-7 input-group-sm">
                                <input type="text" class="form-control" ng-model="vm.labels.DISCOUNT" placeholder="{l}Discount{endl}">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-xs-5 control-label text-left">{l}Amount Due{endl}:</label>
                            <div class="col-xs-7 input-group-sm">
                                <input type="text" class="form-control" ng-model="vm.labels.PAYMENTS" placeholder="{l}Amount Due{endl}">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-xs-5 control-label text-left">{l}Notes{endl}:</label>
                            <div class="col-xs-7 input-group-sm">
                                <input type="text" class="form-control" ng-model="vm.labels.NOTES" placeholder="{l}Notes{endl}">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-xs-5 control-label text-left">{l}BIC Code{endl}:</label>
                            <div class="col-xs-7 input-group-sm">
                                <input type="text" class="form-control" ng-model="vm.labels.BIC_CODE" placeholder="{l}BIC Code{endl}">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-xs-5 control-label text-left">{l}Phone{endl}:</label>
                            <div class="col-xs-7 input-group-sm">
                                <input type="text" class="form-control" ng-model="vm.labels.PHONE" placeholder="{l}Phone{endl}">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-xs-5 control-label text-left">{l}Email{endl}:</label>
                            <div class="col-xs-7 input-group-sm">
                                <input type="text" class="form-control" ng-model="vm.labels.EMAIL" placeholder="{l}Email{endl}">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-xs-5 control-label text-left">{l}Our reference{endl}:</label>
                            <div class="col-xs-7 input-group-sm">
                                <input type="text" class="form-control" ng-model="vm.labels.OUR_REF" placeholder="{l}Our reference{endl}">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-xs-5 control-label text-left">{l}VAT number{endl}:</label>
                            <div class="col-xs-7 input-group-sm">
                                <input type="text" class="form-control" ng-model="vm.labels.VAT_NUMBER" placeholder="{l}VAT number{endl}">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-xs-5 control-label text-left">{l}Packing{endl}:</label>
                            <div class="col-xs-7 input-group-sm">
                                <input type="text" class="form-control" ng-model="vm.labels.PACKAGE" placeholder="{l}Packing{endl}">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-xs-5 control-label text-left">{l}Code{endl}:</label>
                            <div class="col-xs-7 input-group-sm">
                                <input type="text" class="form-control" ng-model="vm.labels.ARTICLE_CODE" placeholder="{l}Code{endl}">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-xs-5 control-label text-left">{l}Delivery note{endl}:</label>
                            <div class="col-xs-7 input-group-sm">
                                <input type="text" class="form-control" ng-model="vm.labels.DELIVERY_NOTE" placeholder="{l}Delivery note{endl}">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-xs-5 control-label text-left">{l}Page{endl}:</label>
                            <div class="col-xs-7 input-group-sm">
                                <input type="text" class="form-control" ng-model="vm.labels.PAGE" placeholder="{l}Page{endl}">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-xs-5 control-label text-left">{l}Company Name{endl}:</label>
                            <div class="col-xs-7 input-group-sm">
                                <input type="text" class="form-control" ng-model="vm.labels.company_name" placeholder="{l}Company Name{endl}">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-xs-5 control-label text-left">{l}Pick-Up Address{endl}:</label>
                            <div class="col-xs-7 input-group-sm">
                                <input type="text" class="form-control" ng-model="vm.labels.pickup_address" placeholder="{l}Pick-Up Address{endl}">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-xs-5 control-label text-left">{l}Total Amount{endl}:</label>
                            <div class="col-xs-7 input-group-sm">
                                <input type="text" class="form-control" ng-model="vm.labels.amount_order_vat" placeholder="{l}Total Amount (including VAT){endl}">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-xs-5 control-label text-left">{l}Signature{endl}:</label>
                            <div class="col-xs-7 input-group-sm">
                                <input type="text" class="form-control" ng-model="vm.labels.signature" placeholder="{l}Signature{endl}">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-xs-5 control-label text-left">{l}Serial Numbers{endl}:</label>
                            <div class="col-xs-7 input-group-sm">
                                <input type="text" class="form-control" ng-model="vm.labels.serial_numbers" placeholder="{l}Serial Numbers{endl}">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-xs-5 control-label text-left">{l}Batches{endl}:</label>
                            <div class="col-xs-7 input-group-sm">
                                <input type="text" class="form-control" ng-model="vm.labels.batches" placeholder="{l}Batches{endl}">
                            </div>
                        </div>
                    </div>

                    <div class="col-xs-6">
                        <div class="form-group">
                            <label class="col-xs-5 control-label text-left">{l}Order{endl}:</label>
                            <div class="col-xs-7 input-group-sm">
                                <input type="text" class="form-control" ng-model="vm.labels.ORDER" placeholder="{l}Order{endl}">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-xs-5 control-label text-left">{l}Stock Dispatching{endl}:</label>
                            <div class="col-xs-7 input-group-sm">
                                <input type="text" class="form-control" ng-model="vm.labels.STOCK_DISPATCHING" placeholder="{l}Stock Dispatching{endl}">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-xs-5 control-label text-left">{l}Delivery Address{endl}:</label>
                            <div class="col-xs-7 input-group-sm">
                                <input type="text" class="form-control" ng-model="vm.labels.BILLING_ADDRESS" placeholder="{l}Delivery Address{endl}">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-xs-5 control-label text-left">{l}Bank Details{endl}:</label>
                            <div class="col-xs-7 input-group-sm">
                                <input type="text" class="form-control" ng-model="vm.labels.BANKD" placeholder="{l}Bank Details{endl}">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-xs-5 control-label text-left">{l}Item{endl}:</label>
                            <div class="col-xs-7 input-group-sm">
                                <input type="text" class="form-control" ng-model="vm.labels.ITEM" placeholder="{l}Item{endl}">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-xs-5 control-label text-left">{l}Unit Price{endl}:</label>
                            <div class="col-xs-7 input-group-sm">
                                <input type="text" class="form-control" ng-model="vm.labels.UNIT_PRICE" placeholder="{l}Unit Price{endl}">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-xs-5 control-label text-left">{l}Total without VAT{endl}:</label>
                            <div class="col-xs-7 input-group-sm">
                                <input type="text" class="form-control" ng-model="vm.labels.SUBTOTAL" placeholder="{l}Total without VAT{endl}">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-xs-5 control-label text-left">{l}VAT{endl}:</label>
                            <div class="col-xs-7 input-group-sm">
                                <input type="text" class="form-control" ng-model="vm.labels.VAT" placeholder="{l}VAT{endl}">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-xs-5 control-label text-left">{l}Total{endl}:</label>
                            <div class="col-xs-7 input-group-sm">
                                <input type="text" class="form-control" ng-model="vm.labels.AMOUNT_DUE" placeholder="{l}Total{endl}">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-xs-5 control-label text-left">{l}Bank Name{endl}:</label>
                            <div class="col-xs-7 input-group-sm">
                                <input type="text" class="form-control" ng-model="vm.labels.BANK_NAME" placeholder="{l}Bank Name{endl}">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-xs-5 control-label text-left">{l}IBAN{endl}:</label>
                            <div class="col-xs-7 input-group-sm">
                                <input type="text" class="form-control" ng-model="vm.labels.IBAN" placeholder="{l}IBAN{endl}">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-xs-5 control-label text-left">{l}Fax{endl}:</label>
                            <div class="col-xs-7 input-group-sm">
                                <input type="text" class="form-control" ng-model="vm.labels.FAX" placeholder="{l}Fax{endl}">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-xs-5 control-label text-left">{l}Url{endl}:</label>
                            <div class="col-xs-7 input-group-sm">
                                <input type="text" class="form-control" ng-model="vm.labels.URL" placeholder="{l}Url{endl}">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-xs-5 control-label text-left">{l}Your reference{endl}:</label>
                            <div class="col-xs-7 input-group-sm">
                                <input type="text" class="form-control" ng-model="vm.labels.YOUR_REF" placeholder="{l}Your reference{endl}">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-xs-5 control-label text-left">{l}Sale Unit{endl}:</label>
                            <div class="col-xs-7 input-group-sm">
                                <input type="text" class="form-control" ng-model="vm.labels.SALE_UNIT" placeholder="{l}Sale Unit{endl}">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-xs-5 control-label text-left">{l}Delivery Cost{endl}:</label>
                            <div class="col-xs-7 input-group-sm">
                                <input type="text" class="form-control" ng-model="vm.labels.SHIPPING_PRICE" placeholder="{l}Delivery Cost{endl}">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-xs-5 control-label text-left">{l}Delivery Date{endl}:</label>
                            <div class="col-xs-7 input-group-sm">
                                <input type="text" class="form-control" ng-model="vm.labels.DELIVERY_DATE" placeholder="{l}Delivery Date{endl}">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-xs-5 control-label text-left">{l}Pick Up From Store{endl}:</label>
                            <div class="col-xs-7 input-group-sm">
                                <input type="text" class="form-control" ng-model="vm.labels.PICK_UP_FROM_STORE" placeholder="{l}Pick Up From Store{endl}">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-xs-5 control-label text-left">{l}Customer Reference{endl}:</label>
                            <div class="col-xs-7 input-group-sm">
                                <input type="text" class="form-control" ng-model="vm.labels.CUSTOMER_REF" placeholder="{l}Customer Reference{endl}">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-xs-5 control-label text-left">{l}Company Registration Number{endl}:</label>
                            <div class="col-xs-7 input-group-sm">
                                <input type="text" class="form-control" ng-model="vm.labels.comp_reg_number" placeholder="{l}Company Registration Number{endl}">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-xs-5 control-label text-left">{l}Downpayment Amount{endl}:</label>
                            <div class="col-xs-7 input-group-sm">
                                <input type="text" class="form-control" ng-model="vm.labels.downpayment_amount_vat" placeholder="{l}Downpayment Amount{endl}">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-xs-5 control-label text-left">{l}Downpayment paid{endl}:</label>
                            <div class="col-xs-7 input-group-sm">
                                <input type="text" class="form-control" ng-model="vm.labels.downpayment_paid" placeholder="{l}Downpayment paid{endl}">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-xs-5 control-label text-left">{l}Balance{endl}:</label>
                            <div class="col-xs-7 input-group-sm">
                                <input type="text" class="form-control" ng-model="vm.labels.downpayment_balance" placeholder="{l}Balance (including VAT){endl}">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-xs-5 control-label text-left">{l}Expiration date of batch:{endl}</label>
                            <div class="col-xs-7 input-group-sm">
                                <input type="text" class="form-control" ng-model="vm.labels.batch_expiration_date" placeholder="{l}Expiration date of batch:{endl}">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-xs-5 control-label text-left">{l}Code of origin{endl}:</label>
                            <div class="col-xs-7 input-group-sm">
                                <input type="text" class="form-control" ng-model="vm.labels.origin_code" placeholder="{l}Code of origin{endl}">
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-plain" type="button" ng-click="vm.cancel()">{l}Close{endl}</button>
    <button class="btn btn-default" type="button" ng-click="vm.ok(vm,vm.labels)">{l}OK{endl}</button>
</div>