<style>
body { color: #000; font-family: Arial, Helvetica, sans-serif; font-size: 9pt; }
h1 { font-size:10pt; font-weight:normal; }
table { border-collapse: collapse; border-spacing: 0; }
table td{ font-size: 9pt; }
.border_bottom { border-bottom: 1px solid #CCC; }
.invoice_rows { border-bottom: 1px solid #CCC; }
.invoice_rows .th { border: 1px solid #CCC; color: #000; font-size: 9pt; font-weight: bold; padding-left: 10px; text-align: center; }
.invoice_rows td { border-left: 1px solid #CCC; vertical-align:middle; font-size: 9pt; text-align:right; }
.invoice_rows .last { border-right: 1px solid #CCC; }
.hide { display:none; }
.right { text-align:right; }
td.last_nocenter{ border-right: 1px solid #d6d6d6; }
</style>
{if:head}
  {HEADER}
{else}
<table cellpadding="2" cellspacing="4" border="0" width="100%">
  <tr>
     <td width="32%" valign="top"><h1>{seller_name}</h1>
      {seller_d_address}  <br/>
      {seller_d_zip} {seller_d_city} <br/>
      {seller_d_country} <br/>
      {if:hide_p}{phone_txt}: {seller_b_phone}<br />{end}
      {if:hide_f}{fax_txt}: {seller_b_fax}<br />{end}
      {if:hide_e}{email_txt}: {seller_b_email}<br />{end}
      {if:hide_u}{url_txt}: {seller_b_url}<br />{end}
      <!-- {order_vat_no} <br/> -->
      <!-- <div class="{hide_b_d}">
        <h1>{bankd_txt}</h1>
        {bank_txt}: {bank}<br/>
        {bic_txt}: {bic}<br/>
        {iban_txt}: {iban}
      </div> -->
    </td>
    <td width="1%" valign="top"></td>
    <td width="34%" valign="top" ><table cellpadding="0" cellspacing="0" border="0" width="100%">
        <tr>
          <td style="text-align:center;font-size:14pt;"><strong>{order_txt}</strong></td>
        </tr>
        <tr>
          <td style="text-align:center; border:1px solid #CCC;">
		        {order_note_txt}: <strong>{serial_number}</strong> <br />
            {date_txt}: {order_date}
            {if:is_delivery_date} <br>{delivery_date_txt}: {delivery_date}{end}
            {if:is_delivery_del_date} <br>{delivery_date_txt}: {delivery_del_date}{end}
            <span class="{hide_our_ref}"><br>{our_ref_txt}: {our_ref}</span>
            <span class="{hide_your_ref}"><br>{your_ref_txt}: {your_ref}</span>
          </td>
        </tr>
        <tr>
          <td></td>
        </tr>
        <tr>
          <td valign="top" style="text-align:center;"><img src="{account_logo}" {attr} ></td>
        </tr>
      </table></td>
    <td width="1%" valign="top"></td>
    <td width="32%" valign="top">
      <h1>{buyer_name}</h1>
      {address_info} {buyer_email}
      {buyer_phone}
      {buyer_fax}
     <br />
   {if:is_delivery}  <h1>{if:billing_address_txt}{billing_address_txt}:{end}</h1>
    {delivery_address}{end}
     {if:is_pickup}

       {pick_up_from_store_txt}

    {end}


	</td>
  </tr>
</table>
{end}
<table width="100%" cellspacing="0" cellpadding="0">
  <tr>
    <td></td>
  </tr>
</table>
<table width="100%" cellspacing="0" cellpadding="5" class="invoice_rows">
  <tr>
    <td class="th" width="13%">{article_code_txt}</td>
    <td class="th" width="{article_width}%">{article_txt}</td>
    {if:delivery}{else}
    {if:allow_article_packing}<td class="th" width="13%">{package_txt} {if:allow_article_sale_unit} /{sale_unit_txt}{end}</td>{end}
    {end}
    <td class="th" width="13%">{quantity_txt}</td>
    {if:delivery}
    <td class="th" width="13%">{unit_price_txt}</td>
    {if:show_vat}<td class="th" width="12%">{vat_txt}</td>  {end}
    {if:allow_article_packing}<td class="th" width="13%">{package_txt} {if:allow_article_sale_unit}/ {sale_unit_txt}{end}</td>{end}
    {if:sh_discount_total}<td class="th" width="12%">{discount_txt}</td>{end}
    <td width="13%" class="th last">{amount_txt}</td>
    {end}
  </tr>
  <tbody>
    {if:is_first_content_line}
    {if:is_content_line2}
    <tr>
      <td colspan="10" style="border-right:1px solid #cccccc;text-align:left;" >{content_line2}</td>
    </tr>
    {end}
    {end}
    {loop:order_row}
    <tr>
      <td width="13%" style="text-align:left;">{article_code}</td>
      <td class="first-of-type {content_class}" style="text-align:left;" {colspan} >{article}
      {if:is_serial_number}{art_serial_number_list}{end}
      {if:is_batch_number}{art_batch_number_list}{end}
      </td>
      {if:delivery}{else}
      {if:allow_article_packing}<td>{packing} {if:allow_article_sale_unit}/ {sale_unit}{end}</td>{end}
      {end}
      {if:content}
      <td class="{q_class}">{quantity}</td>
      {if:delivery}<td>{price}</td>
      {if:show_vat}<td><span class="vat_percent">{percent}</span>%</td>{end}
      {if:allow_article_packing}<td>{packing} {if:allow_article_sale_unit}/ {sale_unit}{end}</td>{end}
     {if:sh_discount_total} <td>{discount}</td>{end}
      <td class="last" width="13%">{price_vat}</td>{end}{end}
    </tr>
    {if:is_content_line}
    <tr>
      <td colspan="10" style="border-right:1px solid #cccccc;text-align:left;" >{content_line}</td>
    </tr>
    {end}
    {endloop}
  </tbody>
</table>
{if:delivery}
<table cellpadding="0" cellspacing="8" border="0" width="100%"  style="border:1px solid #CCC;">
  {if:is_free_delivery}
  <tr class="">
    <td width="75%"  class="right">{shipping_price_txt}:</td>
    <td width="25%"  class="right ">{shipping_price}</td>
  </tr>
  {end}
  <tr class="">
    <td width="75%"  class="right">{subtotal_txt}:</td>
    <td width="25%"  class="right ">{total}</td>
  </tr>
  {if:sh_discount}
  <tr class="{sh_discount}">
    <td width="75%"  class="right">{discount_txt}{discount_percent}:</td>
    <td width="25%"  class="right ">- {discount_total}</td>
  </tr>
  {end}
  {if:show_vat}
  <tr class="{sh_vat}">
    <td width="75%"  class="right">{vat_txt}:</td>
    <td width="25%"  class="right">{vat_total}</td>
  </tr>
  {end}
  {if:hide_if_no_vat_no_disc}
  <tr class="{hide_if_no_vat_no_disc}">
    <td width="75%"  class="right"><strong style="font-family:sans">{amount_txt}:</strong></td>
    <td width="25%" class="right "><strong>{total_vat}</strong></td>
  </tr>
  {end}
   <!-- <tr class="{hide_default_total}">
    <td width="75%"  class="right"><strong>{amount_txt} ({def_currency})</strong></td>
    <td width="25%" class="right "><strong>{total_amount_due_default}</strong></td>
  </tr> -->
</table>{end}
{if:show_delivery_note}
<br />
<br />
<h1 style="border-bottom:1px solid #CCCCCC;" >{delivery_note_txt}</h1><br>
<span style="font-size:9pt;">{delivery_note}</span>
<br />
{end}
<br />
<br />
<h1 style="border-bottom:1px solid #CCCCCC;" class="{view_notes}">{notes_txt}</h1><br>
<span style="font-size:9pt;">{notes}</span>

{if:foot}
{FOOTER}
{end}