<div class="container">
    <!-- <div uib-alert ng-repeat="alert in alerts" type="{{alert.type}}" close="alerts.splice($index, 1);" ng-class="['alert-' + (alert.type || 'warning'), 'alert-fixed' ]" dismiss-on-timeout='5000' >{{alert.msg}}</div> -->
    <div class="tabs-navigation">
        <div class="tab-content">
            <div class="tab-pane active" id="orders">
                <div class="row page-search page-search-options">
                    <form>
                        <div class="col-sm-12">
                            <div class="row">
                                <div class="col-sm-4 col-search-input">
                                    <div class="so-field" ng-class="{ 'so-active':search.search!='' }">
                                        <span class="glyphicon glyphicon-search so-icon"></span>
                                        <input type="text" class="form-control" placeholder="{l}Search{endl}" search-it doit="search" resetlist="1" callbk="renderList" ng-model="search.search">
                                        <span class="glyphicon glyphicon-remove so-icon so-remove" ng-click="toggleSearchButtons('search','')"></span>
                                    </div>
                                    <!-- /.input-search -->
                                </div>
                                <div class="col-sm-2 ">
                                    <div class="so-field" ng-class="{ 'so-active':invoice_status_id !=0 }">
                                        <span class="akti-icon akti-icon-16 o_akti_custopplier so-icon"></span>
                                        <selectize config='invoiceCfg' options='invoice_statuses' ng-model="invoice_status_id">
                                        </selectize>
                                        <span class="glyphicon glyphicon-remove so-icon so-remove" ng-click="removeInvoiceStatus();"></span>
                                    </div>
                                </div>
                                <div class="col-sm-2 ">
                                    <div class="so-field" ng-class="{ 'so-active':activeView !=0 }">
                                        <span class="akti-icon akti-icon-16 o_akti_custopplier so-icon"></span>
                                        <selectize placeholder="{l}All Statuses{endl}" config='filterCfg' options='views' ng-model="activeView">
                                        </selectize>
                                        <span class="glyphicon glyphicon-remove so-icon so-remove" ng-click="filters(0)"></span>
                                    </div>
                                </div>
                                <div class="col-sm-2  col-search-date">
                                    <div class="so-field" ng-class="{ 'so-active':search.start_date_js!=undefined }">
                                        <span class="glyphicon glyphicon-calendar so-icon" ng-click="openDate('start_date')"></span>
                                        <input type="text" class="form-control" ng-model="search.start_date_js" uib-datepicker-popup="{{format}}" is-open="datePickOpen.start_date" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" close-text="Close" placeholder="{l}Start Date{endl}"
                                            show-button-bar="false" ng-click="datePickOpen.start_date=true" ng-change="searchThing(true)">
                                        <span class="glyphicon glyphicon-remove so-icon so-remove" ng-click="toggleSearchButtons('start_date_js',undefined)"></span>
                                    </div>
                                    <!-- /.input-date -->
                                </div>
                                <div class="col-sm-2 col-search-date">
                                    <div class="so-field" ng-class="{ 'so-active':search.stop_date_js!=undefined }">
                                        <span class="glyphicon glyphicon-calendar so-icon" ng-click="openDate('stop_date')"></span>
                                        <input type="text" class="form-control" ng-model="search.stop_date_js" uib-datepicker-popup="{{format}}" is-open="datePickOpen.stop_date" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" close-text="Close" placeholder="{l}End Date{endl}"
                                            show-button-bar="false" ng-click="datePickOpen.stop_date=true" ng-change="searchThing(true)">
                                        <span class="glyphicon glyphicon-remove so-icon so-remove" ng-click="toggleSearchButtons('stop_date_js',undefined)"></span>
                                    </div>
                                    <!-- /.input-date -->
                                </div>
                            </div>
                        </div>

                        <div class="page-search-button">
                            <div class="btn-group" uib-dropdown>
                                <!-- <button type="button" class="btn btn-block btn-plain" ng-click="search.showAdvanced=true;"><span class="text-muted">{l}Advanced search{endl}</span></button> -->
                                <button type="button" class="btn btn-tertiary dropdown-toggle" uib-dropdown-toggle>
                     <span class="caret"></span>
                   </button>
                                <ul class="dropdown-menu dropdown-menu-right" uib-dropdown-menu>
                                    <li><a href="#" ng-click="search.showAdvanced=true;"><span class="fa fa-search text-primary" aria-hidden="true"></span> {l}Advanced search{endl}</a></li>
                                    <li ng-if="search.archived"><a href="#" ng-click="archived(0)"><span class="fa fa-list-ul" aria-hidden="true"></span> {l}Active Order{endl}</a></li>
                                    <li ng-if="!search.archived"><a href="#" ng-click="archived(-1)"><span class="fas fa-archive new_archive" ></span> {l}Archived Order{endl}</a></li>
                                    <!-- <li ng-if="show_settings.is_admin_order"><a href="index.php?do=order-export_orders_report&amp;{{export_args}}" target="_blank"><span class="fas fa-upload text-primary"></span> {l}Export Orders List{endl}</a></li> -->
                                    <li><a href="#" ng-click="columnSettings()"><span class="fas fa-cog text-primary" ></span> {l}Column settings{endl}</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-xs-12 advanced_search adv_s" ng-class="{ 'advanced_search-show':search.showAdvanced }">
                            <div class="row">
                                <div class="col-sm-3 col-md-2">
                                    <input type="text" class="form-control" placeholder="{l}Commercial Name{endl}" ng-model="search.commercial_name_search">
                                </div>
                                <div class="col-sm-3 col-md-2">
                                    <div class="so-field" ng-class="{ 'so-active':search.d_start_date_js!=undefined }">
                                        <span class="glyphicon glyphicon-calendar so-icon" ng-click="openDate('d_start_date')"></span>
                                        <input type="text" class="form-control" ng-model="search.d_start_date_js" uib-datepicker-popup="{{format}}" is-open="datePickOpen.d_start_date" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" close-text="Close" placeholder="{l}Delivery Start Date{endl}"
                                            show-button-bar="false" ng-click="datePickOpen.d_start_date=true">
                                        <span class="glyphicon glyphicon-remove so-icon so-remove" ng-click="toggleSearchButtons('d_start_date_js',undefined)"></span>
                                    </div>
                                    <!-- /.so-field -->
                                </div>
                                <div class="col-sm-3 col-md-2">
                                    <div class="so-field" ng-class="{ 'so-active':search.d_stop_date_js!=undefined }">
                                        <span class="glyphicon glyphicon-calendar so-icon" ng-click="openDate('d_stop_date')"></span>
                                        <input type="text" class="form-control" ng-model="search.d_stop_date_js" uib-datepicker-popup="{{format}}" is-open="datePickOpen.d_stop_date" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" close-text="Close" placeholder="{l}Delivery End Date{endl}"
                                            show-button-bar="false" ng-click="datePickOpen.d_stop_date=true">
                                        <span class="glyphicon glyphicon-remove so-icon so-remove" ng-click="toggleSearchButtons('d_stop_date_js',undefined)"></span>
                                    </div>
                                    <!-- /.so-field -->
                                </div>
                                <div class="col-sm-3 col-md-2">
                                    <input type="text" class="form-control" placeholder="{l}Article{endl}" ng-model="search.article_name_search">
                                </div>
                                <div class="col-sm-3 col-md-2">
                                    <input type="text" class="form-control" placeholder="{l}Your Reference{endl}" ng-model="search.your_reference_search">
                                </div>
                                <div class="col-sm-3 col-md-2 text-right pull-right">
                                    <button class="btn btn-plain btn-search_cancel" type="button" ng-click="resetAdvanced()">{l}Cancel{endl}</button>
                                    <button class="btn btn-default" type="submit" ng-click="searchThing(true)">{l}Search{endl}</button>
                                </div>
                            </div>
                        </div>
                        <!-- /.advanced_search -->
                    </form>
                </div>
                <!-- /.page-search -->
                <div class="row page-content">
                    <div class="col-xs-12">
                        <table class="table active_rows orderTable">
                            <thead>
                                <tr>
                                    <!-- <th class="col-sm-2 sortable_row" ng-class="{ 'sortable_row-up':(!reverse && ord=='serial_number'), 'sortable_row-down':(reverse && ord=='serial_number') }" ng-click="orderBY('serial_number')">{l}Order{endl}</th>
                    <th class="col-sm-1 sortable_row" ng-class="{ 'sortable_row-up':(!reverse && ord=='t_date') , 'sortable_row-down':(reverse && ord=='t_date') }" ng-click="orderBY('t_date')">{l}Date{endl}</th>
                    <th class="col-sm-1 sortable_row" ng-class="{ 'sortable_row-up':(!reverse && ord=='del_date') , 'sortable_row-down':(reverse && ord=='del_date') }" ng-click="orderBY('del_date')">{l}Delivery Date{endl}</th>
                    <th class="col-sm-2 sortable_row" ng-class="{ 'sortable_row-up':(!reverse && ord=='our_ref') , 'sortable_row-down':(reverse && ord=='our_ref') }" ng-click="orderBY('our_ref')">{l}Our reference{endl}</th>
                    <th class="col-sm-2 sortable_row" ng-class="{ 'sortable_row-up':(!reverse && ord=='customer_name') , 'sortable_row-down':(reverse && ord=='customer_name') }" ng-click="orderBY('customer_name')">{l}Account Name{endl}</th>
                    <th class="col-sm-1 text-center sortable_row" ng-class="{ 'sortable_row-up':(!reverse && ord=='amount') , 'sortable_row-down':(reverse && ord=='amount') }" ng-click="orderBY('amount')">{l}Amount{endl} </th>
                    <th class="col-sm-1 text-center col-status">{l}Status{endl}</th> -->
                                    <th ng-repeat="col in columns" ng-class="{ 'sortable_row':col.order_by, 'sortable_row-up':(!reverse && col.order_by && ord==col.order_by), 'sortable_row-down':(reverse && col.order_by && ord==col.order_by), 'text-center':col.column_name=='status2' }"
                                        ng-click="(col.order_by ? orderBY(col.order_by) : '')">
                                        <span ng-bind-html="col.name"></span>
                                    </th>
                                    <th class="col-sm-1 col-select">
                                        <!-- <div class="checkbox checkbox-primary">
                        <input type="checkbox" id="checkbox_all" ng-model="listObj.check_add_all" ng-click="saveForPDF()">
                        <label for="checkbox_all"></label>
                      </div>   -->
                                        <div class="dropdown order_export">
                                            <!-- <button class="dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          <i class="fa fa-square-o" aria-hidden="true"></i>
                          <i class="fa fa-caret-down" aria-hidden="true"></i>
                        </button> -->
                                            <!-- <button class="dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                         <i class="fas fa-minus-square"></i>
                          <i class="fa fa-caret-down" aria-hidden="true"></i>
                        </button> -->
                                            <button class="dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          <i class="fa fa-square-o" ng-if="!all_pages_selected && !minimum_selected"></i>
                          <i class="fas fa-minus-square" ng-if="!all_pages_selected && minimum_selected"></i>
                          <i class="fas fa-check-square" ng-if="all_pages_selected"></i>
                          <i class="fa fa-caret-down" aria-hidden="true"></i>
                        </button>
                                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                                <a class="dropdown-item" href="#" ng-click="checkAllPage()">{l}Select page{endl}</a>
                                                <a class="dropdown-item" href="#" ng-if="!all_pages_selected" ng-click="checkAllPages()">{l}Select all{endl}</a>
                                                <a class="dropdown-item" href="#" ng-if="all_pages_selected || minimum_selected" ng-click="uncheckAllPages()">{l}Select none{endl}</a>
                                            </div>
                                        </div>
                                    </th>
                                    <th class="table_actions">
                                        <!-- <span class="hideOnTablet">{l}Action{endl}</span> -->
                                        <div class="btn-group export_list" uib-dropdown>
                                            <button type="button" class="btn btn-tertiary dropdown-toggle" uib-dropdown-toggle>
                              <span class="caret"></span>
                          </button>
                                            <ul class="dropdown-menu dropdown-menu-right" uib-dropdown-menu>
                                                <li><a href="index.php?do=order-orders_print&lid=&{{lid}}type={{type}}" target="_blank" ng-click="createPdfs($event)"><span class="far fa-file-pdf text-primary"></span>{l}Create Pdf{endl}</a>
                                                </li>
                                                <li ng-if="show_settings.is_admin_order"><a href="index.php?do=order-export_orders" target="_blank" ng-click="createExports($event)"><span class="fas fa-upload text-primary"></span> {l}Export{endl}</a></li>
                                            </ul>
                                        </div>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="item in list" class="collapseTr">
                                    <td ng-repeat="col in columns" go-to="" state="order.view" params='{"order_id": {{::item.id}}}' list='{ "type":"order-orders", "obj": { "search":{{search}}, "cindex":{{$parent.$index}}, "total_items":{{max_rows}} } }' ng-class="{ 'text-muted':col.column_name!='serial_number' && col.column_name!='amount' && col.column_name!='status2' }">
                                        <span class="text-ellipsis" ng-if="col.column_name=='serial_number'">
                          <a href="order/view/{{item.id}}" class="text-muted">{{::item[col.column_name]}}</a>
                          <span class="item-icons">
                            <span class="inv_ord {{item.invAll}}" uib-tooltip="{{item.invAll_info}}" tooltip-placement="bottom" ng-if="item.is_invoice"></span>
                                        <!-- <span class="akti-icon akti-icon-16 o_akti_delivery text-muted" uib-tooltip="{{item.partialDEL_info}}" tooltip-placement="bottom" ng-if="item.is_partial_deliver"></span> -->
                                        <span class="text-muted" uib-tooltip="{{item.downpayment_title}}" tooltip-placement="bottom" ng-if="item.has_downpayment"><i class="fa fa-arrow-circle-down" aria-hidden="true"></i></span>
                                        <span class="akti-icon akti-icon-16 o_akti_webshop text-muted" ng-if="item.is_front"></span>
                                        <span class="text-muted" uib-tooltip="{l}This order is linked to a deal{endl}" tooltip-placement="bottom" ng-if="item.deal_linked"><i class="far fa-handshake"></i></span>
                                        </span>
                                        </span>
                                        <a href="order/view/{{item.id}}" class="text-muted" ng-if="col.column_name!='serial_number' && col.column_name!='status2' && col.column_name!='amount'"><span>{{::item[col.column_name]}}</span></a>
                                        <a href="order/view/{{item.id}}" class="color-dark text-center text-strong" ng-if="col.column_name=='amount'"><span ng-bind-html="item[col.column_name]"></span></a>
                                        <div class="text-center m-left"> <a href="order/view/{{item.id}}" ng-if="col.column_name=='status2'"><span ng-if="item.status!=2" class="badge item-status-gray" ng-class="{ 'item-status-green':item.status=='green', 'item-status-yellow':item.status=='orange' }">{{::item[col.column_name]}}</span></a></div>
                                    </td>
                                    <!--               <td go-to="" state="order.view" params='{"order_id": {{::item.id}}}' list='{ "type":"order-orders", "obj": { "search":{{search}}, "cindex":{{$index}}, "total_items":{{max_rows}} } }'>
                      <span class="text-ellipsis">
                          <a href="order/view/{{item.id}}" class="text-muted">{{::item.serial_number}}</a>
                          <span class="item-icons">
                            <span class="inv_ord {{item.invAll}}" title="{{item.invAll_info}}" ng-if="item.is_invoice"></span>
                            <span class="akti-icon akti-icon-16 o_akti_delivery text-muted" title="{{item.partialDEL_info}}" ng-if="item.is_partial_deliver"></span>
                            <span class="text-muted" title="{{item.downpayment_title}}" ng-if="item.has_downpayment"><i class="fa fa-arrow-circle-down" aria-hidden="true"></i></span>
                            <span class="akti-icon akti-icon-16 o_akti_webshop text-muted" ng-if="item.is_front"></span>
                            <span class="text-muted" title="{l}This order is linked to a deal{endl}" ng-if="item.deal_linked"><i class="far fa-handshake"></i></span></span>
                          </span>
                      </span>
                    </td>
                    <td class="text-muted" go-to="" state="order.view" params='{"order_id": {{::item.id}}}' list='{ "type":"order-orders", "obj": { "search":{{search}}, "cindex":{{$index}}, "total_items":{{max_rows}} } }'>
                        <a href="order/view/{{item.id}}" class="text-muted"><span>{{::item.created}}</span></a>
                    </td>
                    <td class="text-muted" go-to="" state="order.view" params='{"order_id": {{::item.id}}}' list='{ "type":"order-orders", "obj": { "search":{{search}}, "cindex":{{$index}}, "total_items":{{max_rows}} } }'>
                        <a href="order/view/{{item.id}}" class="text-muted">{{::item.delivery_date}}</a>
                    </td>
                    <td class="text-muted" go-to="" state="order.view" params='{"order_id": {{::item.id}}}' list='{ "type":"order-orders", "obj": { "search":{{search}}, "cindex":{{$index}}, "total_items":{{max_rows}} } }'>
                        <a href="order/view/{{item.id}}" class="text-muted">{{::item.our_ref}}</a>
                    </td>
                    <td class="text-muted" go-to="" state="order.view" params='{"order_id": {{::item.id}}}' list='{ "type":"order-orders", "obj": { "search":{{search}}, "cindex":{{$index}}, "total_items":{{max_rows}} } }'>
                        <a href="order/view/{{item.id}}" class="text-muted">{{::item.buyer_name}}</a>
                    </td>
                    <td class="text-center text-strong col-amount" go-to="" state="order.view" params='{"order_id": {{::item.id}}}' list='{ "type":"order-orders", "obj": { "search":{{search}}, "cindex":{{$index}}, "total_items":{{max_rows}} } }'>
                        <a href="order/view/{{item.id}}" class="color-dark text-center text-strong" ng-bind-html="item.amount"></a>
                    </td>
                    <td class="text-center col-status" go-to="" state="order.view" params='{"order_id": {{::item.id}}}' list='{ "type":"order-orders", "obj": { "search":{{search}}, "cindex":{{$index}}, "total_items":{{max_rows}} } }'>
                        <a href="order/view/{{item.id}}"><span ng-if="item.status!=2" class="badge item-status-gray" ng-class="{ 'item-status-green':item.status=='green', 'item-status-yellow':item.status=='orange' }">{{::item.status2}}</span></a>
                    </td> -->
                                    <td class="col-select">
                                        <div class="checkbox checkbox-primary">
                                            <input type="checkbox" id="checkbox_all_{{$index}}" ng-model="item.check_add_to_product" ng-click="markCheckNew(item)">
                                            <label for="checkbox_all_{{$index}}"></label>
                                        </div>
                                    </td>
                                    <td class="table_actions">
                                        <div class="btn-group" uib-dropdown ng-if="(item.is_admin && item.is_editable) || (item.is_admin && !item.is_archived && item.status!='orange' && item.status!='green') || (item.is_admin && item.is_archived) || (item.is_archived && item.is_editable)">
                                            <button type="button" class="btn btn-plain dropdown-toggle" uib-dropdown-toggle>
                              <span class="caret"></span>
                          </button>
                                            <ul class="dropdown-menu dropdown-menu-right" uib-dropdown-menu>
                                                <li class="dropdown-header">{l}Action{endl}</li>
                                                <!-- <li ng-if="!item.is_archived">
                              	<a href="#"  go-to="" state="order.view" params='{"order_id": {{::item.id}}}' list='{ "type":"order-orders", "obj": { "search":{{search}}, "cindex":{{$parent.$index}}, "total_items":{{max_rows}} } }'><span class="glyphicon glyphicon-info-sign text-primary"></span> {l}Info{endl}</a>
                              </li> -->
                                                <li ng-if="item.is_admin && item.is_editable">
                                                    <a href="#" go-to="" state="order.edit" params='{"order_id": {{::item.id}}}' list='{ "type":"order-orders", "obj": { "search":{{search}} } }'><span class="fas fa-pen text-primary"></span> {l}Edit{endl}</a>
                                                </li>
                                                <li ng-if="item.is_admin && !item.is_archived && item.status!='orange' && item.status!='green'">
                                                    <a href="#" ng-click="action(item,'archive_link')" confirm-title="{{item.confirm}}" confirm-ok="{{item.ok}}" confirm-cancel="{{item.cancel}}" confirm="{l}Are you sure, you wanna archive this entry?{endl}"><span class="fas fa-archive text-primary"></span> {l}Archive{endl}</a>
                                                </li>
                                                <li ng-if="item.is_admin && item.is_archived">
                                                    <a href="#" ng-click="action(item,'undo_link')" confirm-title="{{item.confirm}}" confirm-ok="{{item.ok}}" confirm-cancel="{{item.cancel}}" confirm="{l}Are you sure, you wanna revert this entry?{endl}"><span class="glyphicon glyphicon-repeat text-primary"></span> {l}Revert{endl}</a>
                                                </li>
                                                <li ng-if="item.is_archived && item.is_editable">
                                                    <a href="#" ng-click="action(item,'delete_link')" confirm-title="{{item.confirm}}" confirm-ok="{{item.ok}}" confirm-cancel="{{item.cancel}}" confirm="{l}Are you sure, you wanna delete this entry?{endl}"><span class="fa fa-trash text-primary"></span> {l}Delete{endl}</a>
                                                </li>
                                                <!-- <li ng-if="item.serial_number && !item.post_order && !show_load">
                                <a href="#" ng-click="greenpost(item)"><img width="16" height="16" alt="" src="images/postgreen_icon.png"> {l}Send by Post{endl}</a>
                              </li>
                              <li ng-if="item.serial_number && item.post_order && !show_load">
                                <a href="#" ng-click="resendPost(item)"><img width="16" height="16" alt="" src="images/postgreen_icon.png"> {l}Post status{endl}</a>
                              </li> -->
                                                <!-- <li role="separator" class="divider"></li>
                              <li class="dropdown-header">{l}Extra{endl}</li>
                              <li>
                              	<a href="#">Sample Action</a>
                              </li> -->
                                            </ul>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <!-- /.page-content -->
            </div>
        </div>
    </div>
    <!-- <pag-custom pages="pager" refresh="rederList()" doit='order-orders'></pag-custom> -->
    <div class="col-sm-12">
        <div class="col-sm-8">
            <ul ng-if="max_rows > 30" uib-pagination total-items="max_rows" ng-model="search.offset" ng-change="searchThing()" max-size="5" class="pager" boundary-links="true" items-per-page="lr"></ul>
        </div>
        <div class="col-sm-4 text-right">
            <label>{l}Number of sales orders{endl}: <strong>{{max_rows}}</strong></label>
        </div>
    </div>
</div>
<!-- neede on all pages -->