<style>
body {  color: #000;  font-family: Arial, Helvetica, sans-serif;  font-size: 9pt;  }
h1 {  font-size:10pt; font-weight:bold;  }
table {  border-collapse: collapse; border-spacing: 0;  }
table td {  font-size: 9pt;  }
.hide {  display:none;  }
.right {  text-align: right;  }
.light_grey {  color: #6a747c;  padding: 0px;  }
.borders {  border-top: 1px solid #000; border-bottom: 1px solid #000;  }
</style>

{if:is_table}
{if:head}
  {HEADER}
{else}
<table cellpadding="3" cellspacing="0" border="0" width="100%" class="{hide_all}" >
  <tr>
    <td width="60%" height="96" colspan="2">&nbsp;</td>
    <td width="40%" valign="top" style="text-align:right;"><img src="{account_logo}" {attr} ></td>
  </tr>
  <tr>
    <td width="61%" class="light_grey" colspan="2"><h1>{seller_name}</h1>
      {seller_d_address}<br />
      {seller_d_zip} {seller_d_city} <br />
      {seller_d_country}<br />
      {if:hide_p}{phone_txt}: {seller_b_phone}<br />{end}
      {if:hide_f}{fax_txt}: {seller_b_fax}<br />{end}
      {if:hide_e}{email_txt}: {seller_b_email}<br />{end}
      {if:hide_u}{url_txt}: {seller_b_url}<br />{end}</td>
    <td width="39%">
  <tr>
    <!-- <td height="34">&nbsp;</td> -->
    <td height="1">&nbsp;</td>
  </tr>
  <tr><td><h1>{buyer_name}</h1>
{address_info}
{buyer_email}
{buyer_phone}<br />
{if:is_delivery}  <h1>{if:billing_address_txt}{billing_address_txt}:{end}</h1>
    {delivery_address}{end}
  {if:is_pickup}

       {pick_up_from_store_txt}

    {end}

</td>
  </tr>
  </td>
  </tr>
  <!-- <tr class="{hide_b_d} light_grey" >
    <td colspan="2">{bank_txt}: {bank}<br />
        {bic_txt}: {bic}<br />
        {iban_txt}: {iban}<br />
    </td>
    <td>&nbsp;</td>
  </tr> -->
  <!-- <tr >
    <td class="light_grey" colspan="2" width="61%">{vat_number_txt}: {order_vat_no}<br />
      <br /></td> -->
    <!-- <td>{vat_number_txt}: {invoice_vat_no}</td> -->
  <!-- </tr> -->
  <tr>
    <td width="4%" class="borders" >&nbsp;</td>
    <td class="th borders" width="18%"  >{article_code_txt}</td>
    <td width="{width_if_del}%" class="borders" ><h1 style="font-size: 12pt;">{order_txt} {serial_number}</h1></td>
    <td width="12%" class="borders" >{order_date} </td>
    {if:is_delivery_date}<td width="28%" class="borders" >{delivery_date_txt}: {delivery_date}</td>{end}
    {if:is_delivery_del_date}<td width="28%" class="borders" >{delivery_date_txt}: {delivery_del_date}</td>{end}
  </tr>
</table>
{end}
<table width="100%" cellspacing="0" cellpadding="3" border="0" class="invoice_rows {hide_all}">
  <tbody>{if:delivery}{end}{if:sh_discount_total}{end}{if:show_vat}{end}
    <tr class="{hide_our_ref}">
      <td width="4%">&nbsp;</td>
      <td width="16%"><strong>{our_ref_txt}</strong></td>
      <td colspan="4">{our_ref}</td>
    </tr>
    <tr style="padding:0px;"><td colspan="7" style="font-size:0pt;padding:0; line-height=0pt; height:0pt;"></td></tr>
    <tr class="{hide_your_ref}">
      <td width="4%">&nbsp;</td>
      <td width="16%"><strong>{your_ref_txt}</strong></td>
      <td colspan="4">{your_ref}</td>
    </tr>
    <tr><td colspan="6">&nbsp;</td></tr>
    {if:is_first_content_line}
    {if:is_content_line2}
    <tr>
      <td width="4%">&nbsp;</td>
      <td colspan="11" width="96%" style="text-align:left;" >{content_line2}</td>
    </tr>
    {end}
    {end}
    {loop:order_row}
    <tr>
      <td width="4%">&nbsp;</td>
      {if:is_article_code}
      <td  width="15%" style="text-align:left;" >{article_code}</td>
      {end}
      <td class="first-of-type {content_class}"  width="{article_width}%" style="text-align:left;" {colspan} >{article}
      {if:is_serial_number}{art_serial_number_list}{end}
      {if:is_batch_number}{art_batch_number_list}{end}
      </td>
      {if:delivery}{else}
      {if:allow_article_packing}<td width="12%">{packing} {if:allow_article_sale_unit}/ {sale_unit}{end}</td>{end}
      {end}
      {if:content}
      <td class="{q_class}" width="10%" >{quantity}</td>
      {if:delivery}<td width="15%">{price}</td>
      {if:show_vat}<td width="15%"> <span class="vat_percent">{percent}</span>%</td>{end}
      {if:allow_article_packing}<td width="10%">{packing} {if:allow_article_sale_unit}/ {sale_unit}{end}</td>{end}
      {if:sh_discount_total}<td width="12%">{discount}</td>{end}
      <td class="last right" width="12%">{price_vat}</td>{end}{end}
    </tr>
    {if:is_content_line}
    <tr>
      <td width="4%">&nbsp;</td>
      <td colspan="10" width="96%" style="text-align:left;" >{content_line}</td>
    </tr>
    {end}
    {endloop}
  </tbody>
</table>
<br /><br />
{if:show_delivery_note}
<br />
<h1 style="border-bottom:1px solid #CCCCCC;" >{delivery_note_txt}</h1><br>
<span style="font-size:9pt;">{delivery_note}</span>
<br /><br />
{end}
<h1 style="border-bottom:1px solid #CCCCCC;" class="{view_notes} {hide_all}">{notes_txt}</h1><br />
<span style="font-size:9pt;" class="{hide_all}">{notes}</span>{end}
{if:is_data}{if:delivery}
<table cellpadding="3" cellspacing="0" border="0" width="100%" class="{hide_t}" >
  {if:is_free_delivery}
  <tr class="">
    <td width="4%" >&nbsp;</td>
    <td width="71%" >{shipping_price_txt}</td>
    <td width="25%" style=" text-align: right;" > {shipping_price}</td>
  </tr>
  {end}
  <tr class="">
    <td width="4%" >&nbsp;</td>
    <td width="71%" ><strong>{subtotal_txt}</strong></td>
    <td width="25%" style=" text-align: right;" > {total}</td>
  </tr>
  {if:show_vat}
  <tr class="{sh_vat}">
    <td width="4%" >&nbsp;</td>
    <td width="71%" ><strong>{vat_txt}</strong></td>
    <td width="25%" style=" text-align: right;" > {vat_total}</td>
  </tr>
  {end}
  {if:sh_discount}
  <tr class="{sh_discount}">
    <td width="4%">&nbsp;</td>
    <td width="71%" ><strong>{discount_txt} {discount_percent}</strong></td>
    <td width="25%" style=" text-align: right;">-{discount_total}</td>
  </tr>
  {end}
  {if:hide_if_no_vat_no_disc}
  <tr class="{hide_if_disc_and_no_vat}">
    <td width="4%" class="borders">&nbsp;</td>
    <td width="71%" class="borders" style="font-size: 12pt;" ><strong>{amount_txt}</strong></td>
    <td width="25%" class="borders" style=" text-align: right;"><strong> {total_vat}</strong></td>
  </tr>
  {end}
  <!-- {if:default_total}
  <tr>
    <td width="4%" class="borders">&nbsp;</td>
    <td width="71%"  class="borders" style="font-size: 12pt;"><strong>{amount_txt} ({def_currency})</strong></td>
    <td width="25%" class="borders" style=" text-align: right;"><strong>{total_amount_due_default}</strong></td>
  </tr>
  {end} -->
  <!-- <tr>
    <td width="4%" >&nbsp;</td>
    <td width="96%" colspan="2" >{duedate_txt} {invoice_due_date}</td>
  </tr> -->
</table>
{end}{end}
{if:foot}
{FOOTER}
{end}