<div uib-alert ng-repeat="alert in alerts" type="{{alert.type}}" close="alerts.splice($index, 1);" dismiss-on-timeout='3000' ng-class="['alert-' + (alert.type || 'warning') ]">{{alert.msg}}</div>
<div class="row intervention-details">
	<div class="col-xs-12">
		<div class="panel panel-primary panel-add">
			<div class="panel-body">
				<div class="row">
					<form class="form-horizontal">
						<div class="col-xs-6">
            	<div ng-if="!showTxt.add_new_default">
                <div class="form-group">
                  <div class="col-xs-12">
                    <selectize placeholder="{l}Select company{endl}" config='customerAutoCfg' options='auto.options.customer' ng-model="order.customer_id" id="customer_id"></selectize>
                  </div>
                </div>
                <div class="form-group">
                  <div class="col-xs-12">
                    <selectize placeholder="{l}Select contact{endl}" config='contactAutoCfg' options='auto.options.contact' ng-model="order.contact_id" id="contact_id"></selectize>
                  </div>
                </div>
              </div>
              <div class="add_new_item add_details" ng-if="showCustomerDetails">
                <div class="panel panel-default">
                  <div class="panel-body">
                    <h4>{l}Company Details{endl}</h4>
                    <p><strong>{{customer_info.customer_name}}</strong><br>
                    <span ng-bind-html="customer_info.address"></span><br>
        						{{customer_info.city}} {{customer_info.zip}}<br>
										{{customer_info.country}}</p>
                    <h4>{l}Contact Details{endl}</h4>
                    <p><strong>{{contact_info.first_name}} {{contact_info.last_name}}</strong><br>
                    {{contact_info.email}}<br>
										{{contact_info.phone}}</p>
                  </div>
                </div>
              </div><!-- /.add_details -->
						</div><!-- /.col-xs-6 -->
						<div class="col-xs-6">
							<div class="form-group">
								<label class="col-xs-5 control-label text-left">{l}Currency{endl}</label>
								<div class="col-xs-7">
									<select class="form-control" ng-model="order.currency_id">
										<option ng-repeat="option in order.currency_type_list track by option.id" value="{{option.id}}" ng-bind-html="option.name"></option>
									</select>
								</div>
							</div>
							<div class="form-group">
								<label class="col-xs-5 control-label text-left">{l}Language{endl}</label>
								<div class="col-xs-7">
									<select class="form-control" ng-model="order.languages">
										<option ng-repeat="option in order.language_dd2 track by option.id" value="{{option.id}}">{{option.name}}</option>
									</select>
								</div>
							</div>
							<div class="form-group">
								<label class="col-xs-5 control-label text-left">{l}Multiple Identities{endl}</label>
								<div class="col-xs-7">
									<select class="form-control" ng-model="order.identity_id">
                  <option value="0">{l}Select{endl}</option>
										<option ng-repeat="option in order.multiple_identity track by option.id" value="{{option.id}}">{{option.name}}</option>
									</select>
								</div>
							</div>
						</div><!-- /.col-xs-6 -->
						<div class="col-xs-12" ng-if="showCustomerDetails || is_del_note">
							<div class="form-group">
								<label class="col-xs-3 control-label text-left">{l}Delivery and dispatch notes{endl}:</label>
								<div class="col-xs-9">
									<textarea class="form-control" ng-model="order.del_note" placeholder="{l}Delivery and dispatch notes{endl}" rows="5" ></textarea>
								</div>
							</div>
						</div>
	 				  <div class="col-xs-12 panel-options text-right">
              <button type="submit" class="btn btn-plain" go-to="" state="orders" >{l}Cancel{endl}</button>
              <button type="submit" class="btn btn-default" ng-click="add(order)" >{l}Next Step{endl}</button>
            </div><!-- /.col-xs-12 -->
					</form><!-- /.form-horizontal -->
				</div>
			</div>
		</div>
	</div>
</div><!-- /.intervention-details -->
