<div class="container">
    <div uib-alert ng-repeat="alert in alerts" type="{{alert.type}}" close="alerts.splice($index, 1);" ng-class="['alert-' + (alert.type || 'warning'), 'alert-fixed' ]" dismiss-on-timeout='5000'>{{alert.msg}}</div>
    <div class="tabs-navigation">
        <div class="tab-content">
            <div class="tab-pane active" id="orders_delivery">
                <div class="row page-search">   
                    <form>
                        <div class="col-sm-10 col-search-input">
                            <div class="so-field" ng-class="{ 'so-active':search.search!='' }">
                                <span class="glyphicon glyphicon-search so-icon"></span>
                                <input type="text" class="form-control" placeholder="{l}Search{endl}" search-it doit="search" callbk="renderList" ng-model="search.search">
                                <span class="glyphicon glyphicon-remove so-icon so-remove" ng-click="toggleSearchButtons('search','')"></span>
                            </div>
                            <!-- /.input-search -->
                        </div>
                        <div class="col-sm-2 ">
<!--                            <div class="btn-group btn-block">-->
<!--                                <selectize config='filterCfg' options='views' ng-model="search.view"></selectize>-->
<!--                            </div>-->
                        <div class="so-field" ng-class="{ 'so-active':search.view }">
                                    <selectize config='filterCfg' options='view_dd' ng-model="search.view"></selectize>
                                    <span class="glyphicon glyphicon-remove so-icon so-remove" ng-click="toggleSearchButtons('view', '')"></span>
                                </div>
                        </div>
                    </form>
                </div>
                <div class="row page-content">
                    <div class="col-xs-12">
                        <table class="table active_rows orderTable mainTable">
                            <thead>
                                <tr>
                                    <th class="col-sm-1 expand_row" ng-click="showStatsAll()">
                                        <i class="fa fa-chevron-right btn-expand"></i>
                                    </th>
                                    <th class="col-sm-3 sortable_row" ng-class="{ 'sortable_row-up':(!reverse && ord == 'item_code') , 'sortable_row-down':(reverse && ord == 'item_code') }" ng-click="orderBY('item_code')">{l}Code{endl}</th>
                                    <th class="col-sm-4 sortable_row" ng-class="{ 'sortable_row-up':(!reverse && ord == 'internal_name') , 'sortable_row-down':(reverse && ord == 'internal_name') }" ng-click="orderBY('internal_name')">{l}Internal Name{endl}</th>
                                    <th class="col-sm-2 sortable_row" ng-class="{ 'sortable_row-up':(!reverse && ord == 'stock') , 'sortable_row-down':(reverse && ord == 'stock') }" ng-click="orderBY('stock')">{l}Stock{endl}</th>
                                    <th class="col-sm-1 sortable_row" ng-class="{ 'sortable_row-up':(!reverse && ord == 'deliver_nr') , 'sortable_row-down':(reverse && ord == 'deliver_nr') }" ng-click="orderBY('deliver_nr')">{l}To be delivered{endl}</th>
                                    <th class="col-sm-1 sortable_row col-select">
                                        <div class="dropdown order_export">
                                            <button class="dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                <i class="fa fa-square-o" ng-if="!all_pages_selected && !minimum_selected"></i>
                                                <i class="fas fa-minus-square" ng-if="!all_pages_selected && minimum_selected"></i>
                                                <i class="fas fa-check-square" ng-if="all_pages_selected"></i>
                                                <i class="fa fa-caret-down" aria-hidden="true"></i>
                                            </button>
                                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                                <a class="dropdown-item" href="#" ng-click="checkAllPage()">{l}Select page{endl}</a>
                                                <a class="dropdown-item" href="#" ng-if="!all_pages_selected" ng-click="checkAllPages()">{l}Select all{endl}</a>
                                                <a class="dropdown-item" href="#" ng-if="all_pages_selected || minimum_selected" ng-click="uncheckAllPages()">{l}Select none{endl}</a>
                                            </div>
                                        </div>
                                    </th>
                                    <th class="sortable_row table_actions">
                                        <div class="btn-group export_list" uib-dropdown>
                                            <button type="button" class="btn btn-tertiary dropdown-toggle" uib-dropdown-toggle>
                                                <span class="caret"></span>
                                            </button>
                                            <ul class="dropdown-menu dropdown-menu-right" uib-dropdown-menu>
                                                <li ng-if="show_settings.is_admin_order"><a href="index.php?do=order-export_to_deliver_orders" target="_blank" ng-click="createExports($event)"><span class="fas fa-upload text-primary"></span> {l}Export{endl}</a></li>
                                            </ul>
                                        </div>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat-start="item in list" class="collapseTr" ng-click="showStats(item, $index)">
                                    <td class="expand_row">
                                        <i class="fa fa-chevron-right btn-expand"></i>
                                    </td>
                                    <td class="text-muted">{{ item.code }}</td>
                                    <td class="text-muted">{{ item.internal_name }}</td>
                                    <td class="text-muted">
                                        <span class="text-strong {{item.stock_status}}">{{ item.stock }}</span>
                                    </td>
                                    <td class="text-muted">{{ item.deliver_nr }}</td>
                                    <td class="col-select">
                                        <div class="checkbox checkbox-primary">
                                            <input type="checkbox" id="checkbox_all_{{$index}}" ng-model="item.check_add_to_product" ng-click="markCheckNew(item)">
                                            <label for="checkbox_all_{{$index}}"></label>
                                        </div>
                                    </td>
                                    <td></td>
                                </tr>
                                <tr ng-repeat-end class="versionInfo " ng-class="{ 'hidden': !item.isopen }">
                                    <td colspan="12" class="no_border level-two">
                                        <table class="table active_rows orderTable">
                                            <thead>
                                                <tr>
                                                    <th class="text-muted col-sm-1"></th>
                                                    <th class="text-muted col-sm-2">{l}Order{endl}</th>
                                                    <th class="text-muted col-sm-2">{l}Date{endl}</th>
                                                    <th class="text-muted col-sm-2">{l}Delivery Date{endl}</th>
                                                    <th class="text-muted col-sm-2">{l}Customer{endl}</th>
                                                    <th class="text-muted col-sm-1">{l}Quantity{endl}</th>
                                                    <th class="text-muted col-sm-1 col-select"></th>
                                                    <th class="text-muted col-sm-1 table_actions"></th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr ng-repeat="item2 in listStats[$index].list as ListResult">
                                                    <td></td>
                                                    <td go-to="" state="order.view" params='{"order_id": {{item2.id}}}'>
                                                        <a href="order/view/{{item2.id}}" class="text-muted"><span>{{item2.serial_number}}</span></a>
                                                    </td>
                                                    <td go-to="" state="order.view" params='{"order_id": {{item2.id}}}'>
                                                        <a href="order/view/{{item2.id}}" class="text-muted"><span>{{item2.created}}</span></a>
                                                    </td>
                                                    <td go-to="" state="order.view" params='{"order_id": {{item2.id}}}'>
                                                        <a href="order/view/{{item2.id}}" class="text-muted"><span>{{item2.delivery_date}}</span></a>
                                                    </td>
                                                    <td go-to="" state="order.view" params='{"order_id": {{item2.id}}}'>
                                                        <a href="order/view/{{item2.id}}" class="text-muted"><span>{{item2.customer}}</span></a>
                                                    </td>
                                                    <td go-to="" state="order.view" params='{"order_id": {{item2.id}}}'>
                                                        <a href="order/view/{{item2.id}}" class="text-muted"><span>{{item2.quantity}}</span></a>
                                                    </td>
                                                    <td></td>
                                                    <td></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-12">
        <div class="col-sm-8">
            <ul ng-if="max_rows > lr" uib-pagination total-items="max_rows" ng-model="search.offset" ng-change="searchThing()" max-size="5" class="pager" boundary-links="true" items-per-page="lr"></ul>
        </div>
        <div class="col-sm-4 text-right">
            <label>{l}Number of orders to be delivered{endl}: <strong>{{max_rows}}</strong></label>
        </div>
    </div>
</div>