<!-- <div uib-alert ng-repeat="alert in alerts" type="{{alert.type}}" close="alerts.splice($index, 1);" dismiss-on-timeout="5000" ng-class="['alert-' + (alert.type || 'warning') ]">{{alert.msg}}</div> -->
<div ng-if="!order.item_exists">
  <nopage></nopage>
</div>
<div ng-if="order.item_exists">
  <div class="panel panel-primary panel-order">
    <div class="panel-body">
      <div class="row">
        <div class="col-sm-6 col-md-3">
            <h4 class="title_underline">{l}Order Details{endl}</h4>
              <p><strong>{l}Date{endl}</strong> {{::order.factur_date}}</p>
              <p ng-if="!showTxt.edit_delivery_date">
                <strong>{l}Expected delivery date{endl}</strong> <span>{{::order.factur_del_date}}</span>
                <span class="fas fa-pen ml-5 link-pointer" ng-click="showTxt.edit_delivery_date=true"></span>
              </p>
              <div class="margin-bottom form-horizontal" ng-if="showTxt.edit_delivery_date==true" >
                <div class="form-group">
                  <label class="control-label text-left col-sm-6"><strong>{l}Expected delivery date{endl}</strong></label>
                  <div class="col-sm-6">
                      <div class="so-field">
                        <span class="glyphicon glyphicon-calendar so-icon" ng-click="datePickOpen.delivery_date=true"></span>
                        <input type="text" ng-change="setDeliveryDate()" class="form-control form-control-border-right" ng-model="order.del_date" uib-datepicker-popup="{{format}}" is-open="datePickOpen.delivery_date" datepicker-options="dateOptions"  close-text="Close" placeholder="{l}Expected delivery date{endl}" show-button-bar="false" ng-click="datePickOpen.delivery_date=true" />
                      </div>
                  </div>
                  <!-- <label class="control-label col-sm-1 pull-right text-success">
                    <i class="fa fa-check-circle link-pointer" aria-hidden="true" ng-click="setDeliveryDate()"></i>
                  </label> -->
                </div>
              </div>
              <p ng-if="::order.ref"><strong>{l}Reference{endl}</strong> {{::order.ref}}</p>
              <p ng-if="!showTxt.edit_our_ref"><strong>{l}Our reference{endl}</strong> <span>{{order.our_ref}}</span> <span class="fas fa-pen ml-5 link-pointer" ng-click="showOurReference()"></span></p>
              <div class="margin-bottom form-horizontal" ng-if="showTxt.edit_our_ref==true">
                <div class="form-group">
                  <label class="control-label text-left col-sm-6"><strong>{l}Our reference{endl}</strong></label>
                  <div class="col-sm-6">
                      <input id="inp_or" type="text" class="form-control" ng-model="order.our_ref" placeholder="{l}Our reference{endl}" ng-blur="setOurReference()">
                  </div>
                  <!-- <label class="control-label col-sm-1 pull-right text-success">
                    <i class="fa fa-check-circle link-pointer" aria-hidden="true" ng-click="setOurReference()"></i>
                  </label> -->
                </div>
              </div>
              <p ng-if="!showTxt.edit_your_ref"><strong>{l}Your reference{endl}</strong> <span>{{order.your_ref}}</span> <span class="fas fa-pen ml-5 link-pointer" ng-click="showYourReference()"></span></p>
              <div class="margin-bottom form-horizontal" ng-if="showTxt.edit_your_ref==true">
                <div class="form-group">
                  <label class="control-label text-left col-sm-6"><strong>{l}Your reference{endl}</strong></label>
                  <div class="col-sm-6">
                      <input id="inp_yr" type="text" class="form-control" ng-model="order.your_ref" placeholder="{l}Your reference{endl}" ng-blur="setYourReference()">
                  </div>
                  <!-- <label class="control-label col-sm-1 pull-right text-success">
                    <i class="fa fa-check-circle link-pointer" aria-hidden="true" ng-click="setYourReference()"></i>
                  </label> -->
                </div>
              </div>
              <p ng-if="::order.customer_reference"><strong>{l}Customer Reference{endl}</strong> {{::order.customer_reference}}</p>
              <p><strong>{l}Author{endl}</strong> {{::order.order_author}}</p>
              <p ng-if="::order.acc_manager_name"><strong>{l}Account Manager{endl}</strong> {{::order.acc_manager_name}}</p>
              <p ng-if="::order.subject_field"><strong>{l}Subject{endl}</strong> {{::order.subject_field}}</p>
              <p ng-if="::order.yuki_project_name"><strong>{l}Yuki Project{endl}</strong> {{::order.yuki_project_name}}</p>
              <!-- <p ng-if="order.invoices.length"><strong>{l}Invoice Nr{endl} </strong> <span ng-repeat="item in order.invoices"><a class="text-link" href="../pim/admin/index.php?do=invoice-invoice&amp;invoice_id={{item.id}}" >#{{item.serial}}</a><span ng-if="!$last">,</span></span> </p> -->
              <p ng-if="order.quotes.length"><strong>{l}Quotes{endl} </strong> <span ng-repeat="item in order.quotes"><a class="text-link" ui-sref="quote.view({ 'quote_id':item.id })"> {{item.serial}}  <span ng-if="item.status">({{item.status}})</span></a><span ng-if="!$last">,</span></span> </p>
              <p ng-if="order.p_orders.length"><strong>{l}Purchase Orders{endl} </strong> <span ng-repeat="item in order.p_orders"><a class="text-link" ui-sref="purchase_order.view({ 'p_order_id':item.id })"> {{item.serial}}  <span ng-if="item.status">({{item.status}})</span></a><span ng-if="!$last">,</span></span> </p>
              <p ng-if="order.deals.length"><strong>{l}Deal ID{endl} </strong> <span ng-repeat="item in order.deals"><a class="text-link" ui-sref="dealView({ 'opportunity_id':item.id })" >{{item.serial}} <span ng-if="item.stage_name">({{item.stage_name}})</span></a><span ng-if="!$last">,</span></span> </p>
              <!-- <p ng-if="order.segment_dd.length && !showTxt.segment"><strong>{l}Segment{endl}</strong> {{order.segment}} <span class="pull-right link-pointer fas fa-pen" ng-click="showTxt.segment=true"></span></p>
              <div class="margin-bottom form-horizontal" ng-if="showTxt.segment==true">
                <div class="form-group">
                  <label class="control-label text-left col-sm-4">{l}Segment{endl}</label>
                  <div class="col-sm-6">
                      <selectize config='selectfg' options='order.segment_dd' ng-model="order.segment_id"></selectize>
                  </div>
                  <label class="control-label col-sm-1 pull-right text-success">
                    <i class="fa fa-check-circle link-pointer" aria-hidden="true" ng-click="setSegment()"></i>
                  </label>
                </div>
              </div> -->
              <!-- <p ng-if="order.source_dd.length && !showTxt.source"><strong>{l}Source{endl}</strong> {{order.source}} <span class="pull-right link-pointer fas fa-pen" ng-click="showTxt.source=true"></span></p>
              <div class="margin-bottom form-horizontal" ng-if="showTxt.source==true">
                <div class="form-group">
                  <label class="control-label text-left col-sm-4">{l}Source{endl}</label>
                  <div class="col-sm-6">
                      <selectize config='selectfg' options='order.source_dd' ng-model="order.source_id"></selectize>
                  </div>
                  <label class="control-label col-sm-1 pull-right text-success">
                    <i class="fa fa-check-circle link-pointer" aria-hidden="true" ng-click="setSource()"></i>
                  </label>
                </div>
              </div>    --> 
             <!--  <p ng-if="order.type_dd.length && !showTxt.type"><strong>{l}Type{endl}</strong> {{order.xtype}} <span class="pull-right link-pointer fas fa-pen" ng-click="showTxt.type=true"></span></p>
              <div class="form-horizontal" ng-if="showTxt.type==true">
                <div class="form-group">
                    <label class="control-label text-left col-sm-4">{l}Type{endl}</label>
                    <div class="col-sm-6">
                      <selectize config='selectfg' options='order.type_dd' ng-model="order.type_id"></selectize>
                    </div>
                    <label class="control-label col-sm-1 pull-right text-success">
                      <i class="fa fa-check-circle link-pointer" aria-hidden="true" ng-click="setType()"></i>
                    </label>
                </div>
              </div> --> 
              <p ng-if="order.is_order_weight"><strong>{l}Weight{endl} </strong> {{order.weight_value}} kg</p>
              <p ng-if="!order.hide_margin && order.show_margin"><strong>{l}Margin{endl} </strong> <span ng-bind-html="order.margin_value"></span> ({{::order.margin_percent}} %)</p>
              <p ng-if="order.invoices.length"><strong>{l}Invoices{endl} </strong><!-- <a href="#" class="text-link" ng-if="order.downpayment_made" ui-sref="invoice.view({ 'invoice_id':order.downpayment_invoice })">{l}Downpayment{endl} <span>{{order.downpayment_sn}}</span></a><span ng-if="!$last">,</span> --> <span ng-repeat="item in order.invoices"><a class="text-link"  ui-sref="invoice.view({ 'invoice_id':item.id })"> {{item.downp_txt}} {{item.serial}}  <span ng-if="item.status">({{item.status}})</span></a><span ng-if="!$last">,</span></span> </p>
        </div>
        <div class="col-sm-6 col-md-3">
            <h4 class="title_underline">{l}Customer Details{endl}</h4>
            <p class="ng-cloak"><a class="text-link" ui-sref="customerView({ 'customer_id':order.buyer_id })"><span ng-bind-html="order.order_buyer_name"></span></a> <a ng-if="order.buyer_id && order.customer_notes" ng-click="showAccountNotes()" uib-tooltip="{l}Click icon to show account notes{endl}" tooltip-placement="bottom"><i class="fas fa-sticky-note text-info"></i></a></p>
            <p class="ng-cloak" ng-if="::order.buyer_phone"><span class="fa fa-phone text-muted text-link_space" aria-hidden="true"></span> <a href="tel:{{::order.buyer_phone}}" class="text-link">{{::order.buyer_phone}}</a></p>
            <p class="ng-cloak" ng-if="::order.buyer_fax"><span class="fa fa-fax text-muted text-link_space" aria-hidden="true"></span> {{::order.buyer_fax}}</p>
            <p ng-if="::order.buyer_email"><span class="far fa-envelope text-muted text-link_space" aria-hidden="true"></span> <a href="mailto:{{::order.buyer_email}}" class="ng-cloak text-link">{{::order.buyer_email}}</a></p>
            <h4 class="title_underline">{l}Contact Details{endl}</h4>
            <p class="ng-cloak" >{{::order.order_contact_name}}</p>
            <p class="ng-cloak" ng-if="::order.contact_phone"><span class="fa fa-mobile text-muted text-link_space" aria-hidden="true"></span> <a href="tel:{{::order.contact_phone}}" class="text-link">{{::order.contact_phone}}</a></p>
            <p ng-if="::order.contact_email"><span class="far fa-envelope text-muted text-link_space" aria-hidden="true"></span> <a href="mailto:{{::order.contact_email}}" class="ng-cloak text-link">{{::order.contact_email}}</a></p>
                
        </div>
        <div class="col-sm-6 col-md-3"  >
          <div class="row">
              <div class="col-md-12">
                <h4 class="title_underline">{l}Delivery Address{endl}</h4>
                <p class="no_css-display_address"  ng-bind-html="::order.address_info"></p>
               <!-- <p class="no_css-display_address" ng-bind-html="::order.delivery_address"></p>-->
                <div ng-if="order.is_pickup">
                  <p>{l}Pick Up From Store{endl}</p>
                </div> 

              </div>
          </div>
        </div>

        <div class="col-sm-6 col-md-3"  >
          <div class="row">
              <div class="col-md-12">
                <h4 class="title_underline">{l}Deliveries{endl}</h4>
                <ul class="compact_list compact_list-margin">
                  <li ng-repeat="item in order.deliveries">
                    <div class="compact_list-options">
                      <!-- <a href="index.php?do=order-order_print&amp;order_id={{order_id}}&amp;lid={{order.default_lang}}&amp;type={{order.pdf_del_type}}&amp;delivery_id={{item.delivery_id}}" target="_blank"><span class="fas fa-file-download" aria-hidden="true"></span></a> -->
                      <a href="{{item.delivery_link}}" target="_blank"><span class="far fa-file-pdf" aria-hidden="true"></span></a>
                      <!-- <a href="#" ng-click="openDeliveyModal(item.delivery_id)"><span class="fas fa-pen"></span></a> -->
                      <a href="#" ng-click="deleteDelivery(item.del_delivery_link)"><span class="fa fa-trash"></span></a>
                      <a href="#" ng-click="openSendModal(item.delivery_id)" ><span class="far fa-envelope"></span></a>
                    </div>
                    <div class="compact_list-info">
                      <a href="{{item.delivery_link}}" target="_blank" class="order-delivery-date"><span class="delivery-date" ng-class="{ 'delivery-partially':item.active=='delivered', 'delivery-full':item.active=='active', 'delivery-not':item.active=='not_delivered' }" >{{item.delivey}} <span class="akti-icon " ng-class="{ 'o_akti_delivery-alt':item.del_by_two_steps && item.active!='not_delivered', 'o_akti_delivery':item.del_by_two_steps && item.active=='not_delivered' }"></span></span></a>
<!--                      <a class="text-success" href="#" ng-if="item.del_by_two_steps && item.active=='not_delivered'" ng-click="openDeliveyModal(item.delivery_id,true)"><span class="fa fa-check-circle" aria-hidden="true"></span></a>-->
                    </div>
                  </li>
                </ul>
                <div class="blank_card text-center">
                  <!-- <div class="card_icon" ng-show="!order.deliveries.length"><span class="akti-icon o_akti_delivery"></span></div>
                  <p class="text-muted col-top" ng-show="!order.deliveries.length">{l}Keep track of your deliveries.{endl}</p> -->
                  <!-- <div class="text-center col-top"><a class="btn btn-lg_icon btn-primary" ng-click="openDeliveyModal()"  ng-show="order.is_sent && order.is_deliveredd && order.rdy_invoice_not_1"><span class="akti-icon o_akti_delivery"></span> {l}Delivery note{endl}</a></div>
                  <p class="text-center col-top" ng-if="order.deliveries.length"><a href="#" class="text-link" data-toggle="modal" data-target="#addReturn" ng-click="openReturnModal()">{l}Add return{endl}</a></p> -->
                </div> 
                <div>



                  <h4 class="title_underline" ng-if="order.returns.length">{l}Returns{endl} </h4>
                  <ul class="compact_list compact_list-margin">
                    <li ng-repeat="item in order.returns">
                      <div class="compact_list-options">
                        <!-- <a href="#" ng-click="openReturnModal(item.return_id)"><span class="fas fa-pen"></span></a> -->
                        <a href="#" ng-click="deleteDelivery(item.del_return_link)"><span class="fa fa-trash"></span></a>
                      </div>
                      <div class="compact_list-info">
                        <span class="delivery-date delivery-full">{{::item.date_ret}}</span>                      
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
          </div>
        </div>
     <!--    <div class="col-sm-6 col-md-3">
            <h4 class="title_underline">{l}Dispatch Note{endl}</h4>
            <div ng-if="order.del_note">
              <p ng-bind-html="order.del_note_txt"></p>
              <p><a href="#" class="text-link" ng-click="dispatchModal()">{l}Edit{endl}</a> <span class="text-link_space">•</span> <a href="#" class="text-link" ng-click="removeDispatchNote()">{l}Remove{endl}</a></p>
            </div>
            <div class="blank_card text-center" ng-if="!order.del_note">
                <div class="card_icon"><span class="glyphicon glyphicon-comment"></span></div>
                <p class="text-muted col-top">{l}Add extar information to your dispatches.{endl}</p>
                <div class="text-center col-top"><a class="btn btn-lg_icon btn-default" ng-click="dispatchModal()" ><span class="glyphicon glyphicon-comment"></span> {l}Add Dispatch Note{endl}</a></div>
            </div>        
            <div class="text-center col-top" ><a class="btn btn-default" href="#" ng-click="showDrop()"><span class="glyphicon glyphicon-folder-open"></span><span class="hideOnTablet"> {l}Files...{endl}</span></a></div> 
        </div> -->
      </div>
    </div>
  </div>
  <div class="row intervention-options">
    <div class="col-xs-12">
        <div class="module_steps">
            <ul class="module_steps-tabs">
                <li ng-if="order.is_active" ng-class="{ 'selected':order.selectedDraft }"><span class="badge">1</span> {l}Draft{endl}</li>
                  <li ng-if="order.is_active" ng-class="{ 'selected':order.selectedSent }"><span class="badge">2</span> {l}Confirmed{endl}</li>
                  <li ng-if="order.is_active" ng-class="{ 'selected':order.selectedWon }"><span class="badge">3</span> {l}Delivered{endl}</li>
                  <li class="module_steps-options" >
                    <!-- <a class="btn btn-plain" ng-if="!order.post_order && order.factur_nr" href="#" ng-click="greenpost()"><img src="images/postgreen_icon.png" width="16" height="16" alt=""/><span class="hideOnTablet"> {l}Send by Post{endl}</span></a>
                    <div ng-if="order.post_active && order.post_order" class="alert alert-inline alert-success cursor_pointer" ng-click="resendGreenPost()">{{order.postg_status}}</div> -->
                    <!-- <a class="btn btn-plain" href="#" ng-click="showTxt.sendEmail=true;email.alerts=[];" ng-if="::order.is_admin"><span class="glyphicon glyphicon-envelope"></span><span class="hideOnTablet"> {l}Send by Email{endl}</span></a>
                    <div class="btn-group">
                      <a class="btn btn-plain" href="{{order.pdf_link}}" target="_blank"><span class="glyphicon glyphicon-print"></span><span class="hideOnTablet"> {l}Generate PDF{endl}</span></a>
                      <div class="btn-group" ng-click="showPDFsettings()">
                        <a class="btn btn-default" href="#"><span class="glyphicon glyphicon-cog"></span></a>
                      </div>
                    </div>
                    <div class="btn-group">
                      <a class="btn btn-plain" href="{{order.xls_link}}" target="_blank" id="gen_XLS"><span class="akti-icon o_akti_xls"></span><span class="hideOnTablet"> {l}Generate xls{endl}</span></a>
                      <div class="btn-group" ng-click="showPDFsettings(true)">
                        <a class="btn btn-default" href="#"><span class="glyphicon glyphicon-cog"></span></a>
                      </div> 
                    </div> -->
                  </li>
              </ul><!-- /.module_steps-tabs -->
              <div class="module_steps-content">
                <div class="row" ng-if="order.is_archived">
                  <div class="col-sm-12">  
                      <a class="btn btn-plain" ng-click="deleteOrder()" title="{l}Delete{endl}" confirm-title="{l}Confirm{endl}" confirm-ok="{l}OK{endl}" confirm-cancel="{l}Cancel{endl}" confirm="{l}Are you sure you want to delete the selected entries{endl}?">{l}Delete{endl}</a>
                      <a class="btn btn-default" title="{l}Activate{endl}" ng-click="statusOrder('0')">{l}Activate{endl}</a>
                  </div>          
                </div>
                <div class="row" ng-if="order.selectedDraft && order.is_active">
                    <div class="col-sm-9">
                          <a ng-if="::order.is_admin" class="btn btn-plain" ui-sref="order.edit({'order_id': order_id})" ></span>{l}Edit{endl}</a>
                          <!-- <a class="btn btn-secondary" href="#" ng-click="showTxt.markAsReady=true" >{l}Next{endl} <span class="glyphicon glyphicon-chevron-right"></span></a> -->
                          <a ng-if="::order.is_admin" class="btn btn-default" href="#" ng-click="showTxt.markAsReady=true; markOrder('mark_sent')"  >{l}Ready to delivery{endl}</a>
                          <div class="dropdown btn-inline" uib-dropdown>
                              <button class="btn btn-plain dropdown-toggle" id="orderOptions" type="button" uib-dropdown-toggle>
                                {l}Actions{endl} &nbsp;<span class="caret"></span>
                              </button>
                              <ul class="dropdown-menu" uib-dropdown-menu>
                                <li><a href="{{order.pdf_link}}" target="_blank"><i class="far fa-file-pdf"></i> {l}Download PDF{endl}</span></a></li>
                                <li><a ng-click="showPDFsettings()" href="#"><i class="fa fa-sync"></i> {l}Regenerate PDF{endl}</a></li>
                                <li><a href="{{order.xls_link}}" target="_blank" id="gen_XLS"><i class="far fa-file-excel"></i> {l}Generate XLS{endl}</a></li>
                                <li><a href="#" ng-click="email.alerts=[];sendEmail()" ng-if="::order.is_admin"><span class="far fa-envelope"></span> {l}Send by Email{endl}</a></li>
                                <li ng-if="order.is_active"><a href="" ng-click="statusOrder('1')"><span class="fas fa-archive text-primary"></span> {l}Archive{endl}</a></li>
                                <li class="dropdown-header"> {l}Create for this order a{endl}</li>
                                <li ng-if="order.show_for_one_user"><a href="#" ng-click="goToPurchase_orders(order.po_order_link)"><span class="fas fa-box" ng-if="order.show_for_one_user"></span> {l}Purchase Order{endl}</a></li>
                                <li><a ng-if="!order.downpayment_made " ng-click="showDownpayment()"><i class="fas fa-coins"></i> {l}Create downpayment{endl}</a></li>
                                <li><a href="#" ng-click="goToInvoice(order.proforma_link)"><span class="far fa-file-alt"></span> {l}Pro forma Invoice{endl}</a></li>
                                <li ><a ui-sref="order.edit({'duplicate_order_id': order.order_id})"><span class="fa fa-files-o"></span> {l}Duplicate{endl}</a></li>
                              </ul>
                          </div>
                          <!-- <a class="btn btn-lg_icon btn-plain" href="#" ng-show="showTxt.markAsReady" ng-click="markOrder('mark_sent')"  ><span class="akti-icon o_akti_articles"></span>{l}Mark as ready to deliver{endl}</a> -->
                          
                          <div class="pull-right" ng-if="order.is_front"><span class="akti-icon o_akti_webshop"></span></div>
                      </div>
                      <!-- <div class="col-xs-4  text-right" ng-if="order.is_profi">
                        <span>{l}Margin{endl}:<b ng-bind-html="order.margin_value"></b><b>  ( {{::order.margin_percent}} % )</b></span>
                    </div> -->
                    
                  </div><!-- /.row:DRAFT -->
                <div class="row" ng-if="order.selectedSent && order.is_active">
                    <div class="col-sm-9">
                      <a ng-if="::order.is_admin" class="btn btn-plain" ng-click="markOrder('mark_as_draft')" ng-if="order.is_revert" > {l}Back to draft{endl}</a>
                      <a ng-if="order.is_admin && order.del_two_steps && order.show_confirm_delivery" class="btn btn-default" ng-click="confirmDelivery()"> {l}Confirm delivery{endl}</a>
                      <li class="text-muted text-spacer" ng-if="order.is_admin && order.del_two_steps && order.show_confirm_delivery && order.is_sent && order.rdy_invoice_not_1 && order.show_add_new_delivery">{l}OR{endl}</li>
                      <a ng-if="order.is_admin && order.is_sent && order.rdy_invoice_not_1 && order.show_add_new_delivery" class="btn btn-default" ng-click="openDeliveyModal()"> {l}Create delivery note{endl}</a>
                      <div class="dropdown btn-inline" uib-dropdown>
                        <button class="btn btn-plain dropdown-toggle" id="orderOptions" type="button" uib-dropdown-toggle>
                          {l}Actions{endl} &nbsp;<span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" uib-dropdown-menu>
                          <li><a href="{{order.pdf_link}}" target="_blank"><i class="far fa-file-pdf"></i> {l}Download PDF{endl}</span></a></li>
                          <li><a ng-click="showPDFsettings()" href="#"><i class="fa fa-sync"></i> {l}Regenerate PDF{endl}</a></li>
                          <li><a href="{{order.xls_link}}" target="_blank" id="gen_XLS"><i class="far fa-file-excel"></i> {l}Generate XLS{endl}</a></li>
                          <li><a href="#" ng-click="email.alerts=[];sendEmail()" ng-if="::order.is_admin"><span class="far fa-envelope"></span> {l}Send by Email{endl}</a></li>
                          <li><a class=""  ng-click="markOrder('mark_as_delivered')" ng-if="order.are_delivery && order.not_fully_delivered"><i class="fas fa-check"></i> {l}Mark as delivered{endl}</a></li>
                          <li class="dropdown-header"> {l}Create for this order a{endl}</li>           
                          <li ng-if="!order.disable_option3 && order.show_for_one_user">
                          <!--<a href="../pim/admin/index.php?do=order-po_orders&amp;add=true&amp;order_id={{order.order_id}}&amp;languages={{order.languages}}&amp;currency_type={{order.currency_type2}}"><span class="fas fa-shopping-cart" ng-if="!order.disable_option3 && order.show_for_one_user"></span> {l}Generate Purchase Order{endl}</a>
                           -->
                           <a href="#" ng-click="goToPurchase_orders(order.po_order_link)"><span class="fas fa-box" ng-if="!order.disable_option3 && order.show_for_one_user"></span> {l}Purchase Order{endl}</a>
                          </li>
                          <li><a ng-if="!order.downpayment_made " ng-click="showDownpayment()"><i class="fas fa-coins"></i> {l}Create downpayment{endl}</a></li>
                          <li ng-if="!order.disable_option"><a href="#" ng-click="goToInvoice(order.invoice_link)"><span class="fas fa-file-alt"></span> {l}Invoice{endl}</a></li>
                          <li ng-if="!order.disable_option2 "><a href="#" ng-click="goToInvoice(order.proforma_link)"><span class="far fa-file-alt"></span> {l}Pro forma Invoice{endl}</a></li>
                          <li ng-if="order.deliveries.length"><a href="#" data-toggle="modal" data-target="#addReturn" ng-click="openReturnModal()"><i class="fas fa-undo-alt"></i> {l}Return{endl}</a></li>
                          <li ng-show="!order.disable_option2"><a ui-sref="order.edit({'duplicate_order_id': order.order_id})"><span class="fa fa-files-o"></span> {l}Duplicate{endl}</a></li>
                          <li ng-if="order.certif_db && order.is_delivered"><a class="" ng-click="openCertificateModal()" ><i class="fas fa-certificate"></i> {l}Certificate{endl}</a></li>

                          <li ng-if="order.from_import33 "><a href="../pim/admin/index.php?do=order-npo_order&amp;buyer_id={{order.adveo_id}}&amp;is_import_active=1&amp;force_adveo=1&amp;order_id={{order.order_id}}&amp;languages={{order.languages}}&amp;currency_type={{order.currency_type2}}"><span class="glyphicon glyphicon-file"></span> {l}Generate Adveo Order{endl}</a></li>
                        </ul>
                      </div>
                       <!-- <a class="btn btn-default" ng-if="!order.downpayment_made " ng-click="order.downpayment =! order.downpayment">{l}Create downpayment{endl}</a> -->
                          
                    </div>                
                  </div><!-- /.row:PLANNED -->
                  <div class="row" ng-if="order.selectedWon && order.is_active">
                    <div class="col-sm-9">
                      <div class="dropdown btn-inline" uib-dropdown>
                        <button class="btn btn-plain dropdown-toggle" id="orderOptions" type="button" uib-dropdown-toggle>
                          {l}Actions{endl} &nbsp;<span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" uib-dropdown-menu>
                          <li><a href="{{order.pdf_link}}" target="_blank"><i class="far fa-file-pdf"></i> {l}Download PDF{endl}</span></a></li>
                          <li><a ng-click="showPDFsettings()" href="#"><i class="fa fa-sync"></i> {l}Regenerate PDF{endl}</a></li>
                          <li><a href="{{order.xls_link}}" target="_blank" id="gen_XLS"><i class="far fa-file-excel"></i> {l}Generate XLS{endl}</a></li>
                          <li><a href="#" ng-click="email.alerts=[];sendEmail()" ng-if="::order.is_admin"><span class="far fa-envelope"></span> {l}Send by Email{endl}</a></li>                        
                          <li ng-show="!order.disable_option3" class="dropdown-header">{l}Create for this order a{endl}</li>
                          <li ng-if="!order.disable_option3 && order.show_for_one_user"><a href="#" ng-click="goToPurchase_orders(order.po_order_link)"><span class="fas fa-box" ng-if="!order.disable_option3 && order.show_for_one_user"></span> {l}Purchase Order{endl}</a></li>
                          <li ng-if="!order.disable_option"><a href="#" ng-click="goToInvoice(order.invoice_link)"><span class="fas fa-file-alt"></span> {l}Invoice{endl}</a></li>
                          <li ng-if="!order.disable_option2 "><a href="#" ng-click="goToInvoice(order.proforma_link)"><span class="far fa-file-alt"></span> {l}Pro forma Invoice{endl}</a></li>   
                          <li ng-if="order.deliveries.length"><a href="#" data-toggle="modal" data-target="#addReturn" ng-click="openReturnModal()"><i class="fas fa-undo-alt"></i> {l}Return{endl}</a></li>
                          <li><a ui-sref="order.edit({'duplicate_order_id': order.order_id})"><span class="fa fa-files-o"></span> {l}Duplicate{endl}</a></li> <li ng-if="order.certif_db && order.is_delivered"><a class="" ng-click="openCertificateModal()" ><i class="fas fa-certificate"></i> {l}Certificate{endl}</a></li>                   
                        </ul>
                      </div>
                      <!-- <a href="#" class="btn btn-plan text-link pull-right" ng-if="order.downpayment_made" ui-sref="invoice.view({ 'invoice_id':order.downpayment_invoice })">{l}Downpayment invoice{endl} <span>{{order.downpayment_sn}}</span></a> -->
                    </div>
                                    
                  </div><!-- /.row:CLOSED -->
                  <div class="row">
                    <div class="col-xs-12">
                      <div class="module_steps-highlight module_steps-fillsheet" ng-if="showTxt.sendPost">
                        <form class="form-horizontal text-left">
                            <div class="form-group">
                                <div class="col-sm-12 text-right">
                                    <button class="btn btn-plain" ng-click="showTxt.sendPost=false">{l}Cancel{endl}</button>
                                    <button class="btn btn-primary" ng-click="sendPost()">{l}Send by Post{endl}</button>
                                </div>
                            </div>
                            <div class="form-group" ng-if="order.post_library.length">
                              <label class="col-sm-4 control-label"><strong>{l}E-stationary{endl}</strong></label>
                              <div class="col-sm-8">
                                <selectize config='stationaryCfg' options='order.post_library' ng-model="order.stationary_id" ></selectize>
                              </div>
                            </div>
                        </form>
                      </div>
                      <div class="module_steps-highlight module_steps-fillsheet" ng-show="showTxt.sendEmail">
                        <form class="form-horizontal">
                          <div class="form-group">
                                <div class="col-xs-12 text-right">
                                    <button type="submit" class="btn btn-plain" ng-click="showTxt.sendEmail=false">{l}Cancel{endl}</button>
                                    <button type="submit" class="btn btn-primary" ng-disabled="save_disabled" ng-click="sendEmails(email)">{l}Send{endl}</button>
                                </div>
                            </div>
                            <div class="form-group">
                              <label for="" class="col-xs-3 control-label text-left"><strong>{l}Recipients{endl}</strong><span class="mandatory-label">*</span></label>
                              <div class="col-xs-9">
                                <selectize config='contactForEmailAutoCfg' options='auto.options.recipients' ng-model="email.recipients" required ng-change="myFunction()"></selectize>
                              </div>
                            </div>
                            <div class="form-group">
                              <label for="" class="col-xs-3 control-label text-left">{l}Send me a copy{endl}</label>
                              <div class="col-xs-9 checkbox checkbox-primary">
                                <input type="checkbox" id="checkbox1" ng-model="email.copy" >
                                <label for="checkbox1"> </label>
                              </div>
                            </div>
                            <div class="form-group" ng-if="order.check_acc_manager==true">
                              <label for="" class="col-xs-3 control-label text-left">{l}Send account manager a copy{endl}</label>
                              <div class="col-xs-9 checkbox checkbox-primary">
                                <input type="checkbox" id="checkbox2" ng-model="email.copy_acc" >
                                <label for="checkbox2"></label>
                              </div>
                            </div>
                            <div class="form-group">
                              <label for="" class="col-xs-3 control-label text-left">{l}Subject{endl}</label>
                              <div class="col-xs-9">
                                <input type="text" class="form-control" ng-model="email.e_subject" placeholder="{l}Subject{endl}">
                              </div>
                            </div>
                            <div class="form-group">
                              <label for="" class="col-xs-3 control-label text-left">{l}Message{endl}</label>
                              <div class="col-xs-9">
                                <!-- <textarea class="form-control" ng-model="email.e_message" placeholder="{l}Message{endl}" rows="10" ng-if="::order.use_html=='0'"></textarea> -->
                                <textarea ui-tinymce="tinymceOptions" ng-model="email.e_message" class="form-control mail_send"></textarea>
                                <!-- <wysiwyg textarea-id="question" textarea-class="form-control" textarea-height="184px" ng-model="email.e_message" enable-bootstrap-title="true" textarea-menu="yourModel.menu" ng-if="::order.use_html=='1'"></wysiwyg> -->
                              </div>
                            </div>
                            <div class="form-group">
                                <div class="col-xs-12 text-right">
                                    <a ng-click="showPreview(email)">{l}Preview{endl}</a>
                                </div>
                            </div>
                            <div class="form-group">
                              <label for="" class="col-xs-3 control-label text-left">{l}PDF Language{endl}</label>
                              <div class="col-xs-9">
                                <select class="form-control" ng-model="email.email_language">
                                  <option ng-repeat="option in order.language_dd track by option.id" value="{{option.id}}">{{option.name}}</option>
                                </select>
                              </div>
                            </div>
                            <div class="form-group">
                              <label for="" class="col-xs-3 control-label text-left">{l}Include a PDF version of the order{endl}</label>
                              <div class="col-xs-9 checkbox checkbox-primary">
                                <input type="checkbox" id="checkbox3" ng-model="email.include_pdf" >
                                <label for="checkbox3"></label>
                              </div>
                            </div>
                            <div class="form-group" ng-if="::order.is_file">
                              <label for="" class="col-xs-3 control-label text-left">{l}Files{endl}:</label>
                              <div class="col-xs-9 checkbox checkbox-primary">
                                <p ng-repeat="item in email.files">
                                <input type="checkbox" id="checkbox_file_{{$index}}" ng-model="item.checked" > 
                                <label for="checkbox_file_{{$index}}"></label>
                                <span>{{::item.file}}</span>
                              </p>
                              </div>
                            </div>
                            <div class="form-group" ng-if="::order.dropbox.dropbox_is_file">
                              <label for="" class="col-xs-3 control-label text-left">{l}Dropbox Files{endl}:</label>
                              <div class="col-xs-9 checkbox checkbox-primary">
                                <p ng-repeat="item in order.dropbox.dropbox_files">
                                  <input type="checkbox" id="checkbox_dropbox_file_{{$index}}" ng-model="item.checked">
                                  <label for="checkbox_dropbox_file_{{$index}}"></label>
                                  <span class="ng-clock">{{item.file}}</span>
                                </p>
                              </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12 text-right">
                                    <button type="submit" class="btn btn-plain" ng-click="showTxt.sendEmail=false">{l}Cancel{endl}</button>
                                    <button type="submit" class="btn btn-primary" ng-disabled="save_disabled" ng-click="sendEmails(email)">{l}Send{endl}</button>
                                </div>
                            </div>
                        </form>
                      </div>
                  </div>
                </div>
                <div class="row" ng-if="order.downpayment">
                      <div class="col-sm-12">
                        <div class="module_steps-highlight module_steps-fillsheet order">
                          <div class="form-group">
                            <label class="col-sm-2 control-label">{l}Fixed price{endl}</label>
                            <div class="col-sm-2">
                                <div class="input-group">
                                  <input type="text" class="form-control" display-nr="" placeholder="0" aria-describedby="basic-addon2" ng-model="order.downpayment_fixed" ng-blur="setDownType('1')">
                                  <span class="input-group-addon" ng-bind-html="order.ACCOUNT_CURRENCY"></span>
                                </div>
                            </div>
                            <div class="col-sm-7">
                              <div uib-alert type="info" class="alert-info absolute zero" ng-if="showTxt.down_notice">{l}Downpayment amount greater than order value{endl}</div>
                            </div>                        
                          </div>
                          <div class="form-group" >
                            <label class="col-sm-2 control-label">{l}Percent{endl}</label>
                            <div class="col-sm-2">
                                <div class="input-group">
                                  <input type="text" class="form-control" display-nr="" placeholder="0" aria-describedby="basic-addon2" ng-model="order.downpayment_percent" ng-blur="setDownType('2')">
                                  <span class="input-group-addon">%</span>
                                </div>
                            </div>
                          </div>
                          <div class="form-group" ng-if="!showTxt.down_notice">
                            <div class="col-sm-4 negative_margin_left">
                              <a class="btn btn-default pull-right" ng-click="createDownPayment()">{l}Create{endl}</a> 
                            </div>
                          </div>
                        </div>
                      </div>                    
                    </div>
              </div><!-- /.module_steps-content -->
              <div uib-alert ng-repeat="alert in email.alerts" type="{{alert.type}}" close="email.alerts.splice($index, 1);" ng-class="['alert-' + (alert.type || 'warning') ]">{{alert.msg}}</div>
          </div><!-- /.module_steps -->        
      </div>
  </div><!-- /.intervention-options -->
  <div class="row">
    <div class="col-xs-12">
      <table class="table table_orders edit_order_table">
        <thead>
          <tr>
            <th class="col">{l}Code{endl}</th>
            <th class="col">{l}Article{endl}</th>
            <th class="col text-center">{l}Quantity{endl}</th>
            <th class="col text-center">{l}Unit Price{endl}</th>
            <th class="col text-center" ng-if="order.is_vat">{l}VAT{endl}</th>
            <th class="col text-center" ng-if="order.allow_article_packing">{l}Pack{endl}.<span ng-if="order.allow_article_sale_unit"> / {l}S.U.{endl}</span></th>
            <th class="col text-center" ng-if="order.sh_discount">{l}Discount{endl}</th>
            <th class="col text-center">{l}Amount{endl}</th>
            <th class="col text-center">{l}To deliver{endl}</th>
            <th class="col text-center" ng-if="order.show_articles_pdf">{l}Show on PDF{endl}</th>
            <th class="col text-center" ng-if="order.selectedSent && order.edit_confirmed_order"></th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="item in order.lines" class="table_body_line">
            <td ng-class="{'component_code': item.is_component}" ng-if="item.content"><code class="text-ellipsis">{{::item.article_code}}</code></td>
            <td ng-if="item.content"><div ng-bind-html="::item.article"></div></td>
            <td ng-if="item.content" class="text-center text-muted"><span ng-if="!item.has_variants || item.has_variants=='0'">{{::item.quantity}}</span></td>
            <td ng-if="item.content" class="text-center text-muted col-unitprice"><span ng-if="(!item.has_variants || item.has_variants=='0') &&  !item.is_component "><span ng-if="!item.show_edit">{{::item.price}}</span><input select-tablet-all="true" type="text" ng-model="item.price" class="form-control" ng-if="item.show_edit" ng-blur="recalculateTotal('price',$index)" /> <span class="glyphicon fas fa-hand-holding-usd link-pointer" ng-if="!order.hide_margin && item.show_edit" ng-click="showPurchasePrice(item,$index)" ></span></span></td>
            <td ng-if="item.content && order.is_vat" class="text-center text-muted"><span ng-if="(!item.has_variants || item.has_variants=='0') && !item.is_component"><span ng-if="!item.show_edit">{{::item.percent}}</span><selectize ng-if="item.show_edit" config="linevatcfg" options="order.generalvats" ng-model="item.percent" ng-disabled="order.block_vat" ng-change="recalculateTotal('price',$index)"></selectize></span></td>
            <td ng-if="order.allow_article_packing && item.content" class="text-center text-muted"><span ng-if="(!item.has_variants || item.has_variants=='0') && (!item.is_component)">{{::item.packing}}</span><span ng-if="order.allow_article_sale_unit && (!item.has_variants || item.has_variants=='0') && (!item.is_component)"> / {{::item.sale_unit}}</span></td>
            <td ng-if="item.content && order.sh_discount" class="text-center text-muted col-unitprice"><span ng-if="(!item.has_variants || item.has_variants=='0') && (!item.is_component) "><span ng-if="!item.show_edit">{{::item.disc}}</span><input ng-if="item.show_edit" select-tablet-all="true" type="text" ng-model="item.disc" class="form-control" display-nr="" ng-blur="recalculateTotal()" /></span></td>
            <td ng-if="item.content" class="text-center text-strong"><span ng-if="(!item.has_variants || item.has_variants=='0') && (!item.is_component) ">{{::item.price_vat}}</span></td>
            <td ng-if="item.content" class="text-center"><span ng-if="(!item.has_variants || item.has_variants=='0') && (!item.is_component) ">{{::item.to_deliver}}</span></td>
            <td class="text-center" ng-if="item.content && order.show_articles_pdf "><a href="#" ng-click="setVisibility(item, $index)"><span ng-class="{ 'fa fa-eye text-default':item.visible, 'fas fa-eye-slash':!item.visible  }" ></span></a></td>
            <td ng-if="!item.content" colspan="9"><div class="content_view" ng-bind-html="::item.article | trustThisHtml"></div></td>
            <td ng-if="order.selectedSent && order.edit_confirmed_order && item.content">
                <span ng-if="!item.show_edit" class="fas fa-pen ml-5 link-pointer" ng-click="showEditLine($index)"></span>
                <a ng-if="item.show_edit" class="btn btn-default" ng-click="saveLineUpdates(item)">{l}Save{endl}</a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="row">
      <div class="col-sm-8 col-sm-offset-4 order_total">

       <div class="row" ng-if="order.is_free_delivery">
        <div class="col-xs-7 col-xs-offset-5">
          <div class="row">
            <div class="col-sm-7 col-lg-7 text-left">
              <h4>{l}Delivery Cost{endl}</h4>
            </div>
            <div class="col-sm-5 col-lg-5 text-right text-amount">
              <h4 class="text-amount">
                <span ng-bind-html="::order.shipping_price"></span>
              </h4>
            </div>
          </div>
        </div>
      </div>

      <div class="row"  ng-if="order.sh_vat">
        <div class="col-xs-12 col-sm-7 col-sm-offset-5">
          <div class="row">
            <div class="col-xs-7 col-sm-7 col-lg-7 text-left">
              <h4>{l}Total without VAT{endl}</h4>
            </div>
            <div class="cool-xs-5 col-sm-5 col-lg-5 text-right text-amount">
              <h4 class="text-amount">
                <span ng-bind-html="order.totalul.total"></span>
              </h4>
            </div>
          </div>
        </div>
      </div>
        <div class="row" ng-repeat="vat_line in order.vat_line">
          <div class="col-xs-12 col-sm-7 col-sm-offset-5">
            <div class="row">
              <div class="col-xs-7 col-sm-7 col-lg-7 text-left">
                <h4>{l}Subtotal{endl} {l}VAT{endl} {{vat_line.vat_percent}} %</h4>
              </div>
              <div class="col-xs-5 col-sm-5 col-lg-5 text-right text-amount">
                <h4 class="text-amount"><!-- <span ng-show="edit.item.hide_currency1" ng-bind-html="edit.item.default_currency_val"></span> -->
                <span ng-bind-html="vat_line.subtotal"></span>
               <!--  <span ng-show="edit.item.hide_currency2" ng-bind-html="edit.item.default_currency_val"></span> --></h4>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-7 col-sm-offset-5" ng-show="order.sh_discount1">
            <div class="row">
              <div class="col-xs-7 col-sm-7 col-lg-7 text-left">
                <h4>{l}Discount{endl} {{order.discount_percent}}</h4>
              </div>
              <div class="col-xs-5 col-sm-5 col-lg-5 text-right text-amount">
                <h4 class="text-amount"><!-- <span ng-show="edit.item.hide_currency1" ng-bind-html="edit.item.default_currency_val"></span> -->
                - <span ng-bind-html="vat_line.discount_value"></span>
               <!--  <span ng-show="edit.item.hide_currency2" ng-bind-html="edit.item.default_currency_val"></span> --></h4>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-7 col-sm-offset-5" ng-show="order.sh_discount1">
            <div class="row">
              <div class="col-xs-7 col-sm-7 col-lg-7 text-left">
                <h4>{l}Net amount{endl} {l}at{endl} {{vat_line.vat_percent}} %</h4>
              </div>
              <div class="col-xs-5 col-sm-5 col-lg-5 text-right text-amount">
                <h4 class="text-amount"><!-- <span ng-show="edit.item.hide_currency1" ng-bind-html="edit.item.default_currency_val"></span> -->
                <span ng-bind-html="vat_line.net_amount"></span>
               <!--  <span ng-show="edit.item.hide_currency2" ng-bind-html="edit.item.default_currency_val"></span> --></h4>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-7 col-sm-offset-5">
            <div class="row">
              <div class="col-xs-7 col-sm-7 col-lg-7 text-left">
                <h4>{l}VAT{endl} {l}for{endl} {{vat_line.vat_percent}} %</h4>
              </div>
              <div class="col-xs-5 col-sm-5 col-lg-5 text-right text-amount">
                <h4 class="text-amount">
                  <span ng-bind-html="vat_line.vat_value"></span>
                </h4>
              </div>
            </div>
          </div>
        </div>
        <div class="row" ng-class="{ 'form-group':!order.total_hide }">
         <div class="col-xs-12 col-sm-7 col-sm-offset-5">
          <div class="row">
            <div class="col-xs-7 col-sm-7 col-lg-7 text-left">
                <h4>{l}TOTAL{endl}</h4>
              </div>
            <div class="col-xs-5 col-sm-5 col-lg-5 text-right">
                <h4 class="text-strong"><span ng-bind-html="order.totalul.total_vat"></span></h4>
              </div>
          </div>
          </div>
        </div>
     <!--    <div class="row" ng-if="order.total_hide">
         <div class="col-xs-7 col-xs-offset-5">
          <div class="row">
            <div class="col-sm-7 col-lg-7 text-muted text-left">
                ( {l}TOTAL in{endl} <span ng-bind-html="::order.totalul.currency_d_type"></span>
              </div>
            <div class="col-sm-5 col-lg-5 text-muted text-right text-strong">
                <span ng-bind-html="::order.totalul.total_default"></span> )
              </div>
          </div>
          </div>
        </div> -->
      </div>
  </div>
  <div class="user_summary" ng-class="{ 'is-open': showTxt.viewNotes }">
    <button class="btn-summary text-link" ng-click="showTxt.viewNotes=!showTxt.viewNotes"><span class="glyphicon glyphicon-chevron-down pull-right"></span> {l}Notes (Displayed on order){endl}</button>
    <div class="row col-top col-bottom">
      <div class="col-sm-8" >
        <p ng-bind-html="::order.notes"></p>
      </div>
      <div class="col-sm-4" ng-if="order.is_extra">
        <div class="panel panel-primary">
            <div class="panel-body">
                <p ng-bind-html="::order.extra_info"></p>
              </div>
          </div>
      </div>
    </div>
  </div><!-- /.user_summary -->
  <div class="row">
    <div class="col-sm-12">
      <h4>
        <strong>{l}Files{endl}</strong>
        <button ng-if="order.dropbox.is_drop && !show_load" type="button" class="btn btn-primary btn-add" uib-tooltip="{l}Upload{endl}" tooltip-placement="right" ng-click="uploadDoc(1)"><span class="btn-add_icon"><span class="icon-bar"></span><span class="icon-bar-2"></span></span></button>
        <label ng-if="order.dropbox.is_drop === false"><i class="fa fa-question-circle" uib-tooltip="{l}To use this functionality Dropbox needs to be activated under 'integrations'{endl}" tooltip-placement="right"></i></label>
      </h4>
      <div class="row text-center" ng-if="show_load">
          <i class="fa fa-spinner fa-spin fa-2x fa-fw" aria-hidden="true"></i><span class="sr-only"></span>
      </div>
      <div type="notice" ng-if="!order.dropbox.dropbox_files.length && !order.dropbox.dropbox_images.length && !show_load" class="padd-file">{l}No files have been added yet{endl}</div>
      <div class="table active_rows orderTable" ng-if="(order.dropbox.dropbox_files.length || order.dropbox.dropbox_images.length) && !show_load">
        <div ng-repeat="item in order.dropbox.dropbox_files">
              <p class="padd-file"><a href="{{item.down_file_link}}" target="_blank" class="file-name">{{item.name}}</a> <span><a href="#" ng-click="deleteDropFile($index)" confirm="{l}Are you sure, you wanna delete this entry?{endl}"><span ng-if="item.is_url" class="fas fa-unlink"></span><span ng-if="!item.is_url" class="fa fa-trash"></span></a></span></p>
            </div>
        <div ng-if="order.dropbox.dropbox_images.length && !show_load">
          <div ng-repeat="item in order.dropbox.dropbox_images">
            <p class="padd-file"><a target="_blank" class="file-name" ng-click="openLightboxModal($index)">{{item.name}}</a> <span><a href="#" ng-click="deleteDropImage($index)" confirm="{l}Are you sure, you wanna delete this entry?{endl}"><span ng-if="item.is_url" class="fas fa-unlink"></span><span ng-if="!item.is_url" class="fa fa-trash"></span></a></span></p>
          </div>
        </div>
      </div>
      <!-- <h4>
        <strong>{l}Images{endl}</strong>
        <button ng-if="order.is_drop && !show_load" type="button" class="btn btn-primary btn-add" uib-tooltip="{l}Upload{endl}" tooltip-placement="right" ng-click="uploadDoc(2)"><span class="btn-add_icon"><span class="icon-bar"></span><span class="icon-bar-2"></span></span></button>
      </h4>
      <div class="row text-center" ng-if="show_load">
          <i class="fa fa-spinner fa-spin fa-2x fa-fw" aria-hidden="true"></i><span class="sr-only"></span>
      </div>
       <div type="notice" ng-if="!order.dropbox.dropbox_images.length && !show_load" class="padd-file">{l}No images have been added yet{endl}</div>
      <div class="row drop_images" ng-if="order.dropbox.dropbox_images.length && !show_load">
        <div ng-repeat="item in order.dropbox.dropbox_images">
           <p class="padd-file"><a ng-src="{{item.url}}" ng-click="openLightboxModal($index)" class="file-name">{{item.name}}</a> <span><a href="#" ng-click="deleteDropImage($index)" confirm="{l}Are you sure, you wanna delete this entry?{endl}"><span class="fa fa-trash"></span></a></span></p> -->
            <!-- <p class="link-pointer" ng-src="{{item.url}}" ng-click="openLightboxModal($index)">{{item.url}}</p> -->
          <!-- <div class="image">
            <img class="link-pointer" ng-src="{{item.url}}" ng-click="openLightboxModal($index)"/>
          </div> --> 
          <!-- <span ng-click="deleteDropImage($index)" confirm="{l}Are you sure, you wanna delete this entry?{endl}"><span class="fa fa-trash"></span></span> -->
        <!-- </div>
      </div> -->
    </div>
  </div>
  <logging do='order-order' advanced="{{order.ADV_PRODUCT}}" type="order_id" ref="{{order_id}}"></logging>
</div>