<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="cancel()"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title">{l}Generate PDF,again{endl}</h4>
</div>
<div class="modal-body">
	<form class="form-horizontal">
<!-- 		<div class="form-group">
          <label for="supplyinfo" class="col-xs-3 control-label text-left">{l}Language{endl}</label>
          <div class="col-xs-8">
              <select class="form-control" ng-model="obj.language_id">
                  <option ng-repeat="option in obj.language_dd track by option.id" value="{{option.id}}">{{option.name}}</option>
              </select>
          </div>
		</div> -->
		<div ng-if="!obj.xls">
<!--         	<div class="col-sm-12 col-bottom">
              <div class="row">
                  <div class="col-xs-12 radio-list">
                        <div class="row" ng-repeat="item in obj.logo">
                            <div class="col-xs-1 col-xs-offset-3 input-group-sm radio"><label><input type="radio" ng-model="obj.default_logo" value="{{item.account_logo}}" /></label></div>
                            <div class="col-xs-4 text-center"><img class="img-thumbnail" src="../{{item.account_logo}}" width="232" height="60" alt=""></div>
                        </div>
                  </div>
              </div>
            </div> -->
<!-- 			<div class="form-group">
		    <label for="supplyinfo" class="col-xs-3 control-label text-left">{l}Type{endl}</label>
		    <div class="col-xs-8">
			    <select class="form-control" ng-model="obj.pdf_type_id">
	          <option ng-repeat="option in obj.pdf_type_dd track by option.id" value="{{option.id}}">{{option.name}}</option>
	        </select>
			  </div>
			</div> -->
			<div class="form-group">
		    <label for="supplyinfo" class="col-xs-3 control-label text-left">{l}Multiple Identity{endl}</label>
		    <div class="col-xs-8">
			    <select class="form-control" ng-model="obj.multiple_identity_id">
			    	<option value="0">{l}Select{endl}</option>
	          <option ng-repeat="option in obj.multiple_identity track by option.id" value="{{option.id}}">{{option.name}}</option>
	        </select>
			  </div>
			</div>
		</div>
	</form>
</div>
<div class="modal-footer">
  <button class="btn btn-plain" type="button" ng-click="cancel()">{l}Close{endl}</button>
  <button class="btn btn-default" type="button" ng-click="ok()">{l}Generate PDF,again{endl}</button>
</div>