<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="cancel()"><span aria-hidden="true">&times;</span></button>
  <h4 class="modal-title"><b>{l}Modify purchase price{endl}</b></h4>
</div>
<div class="modal-body">
  <form class="form-horizontal"  >
    <div class="form-group">
      <label class="col-xs-5 control-label text-left">{l}Purchase Price{endl}</label>
      <div class="col-xs-7 input-group-sm">
        <input type="text" class="form-control" ng-model="obj.purchase_price" display-nr=""  placeholder="{l}Purchase Price{endl}">
      </div>
    </div>
  </form>
</div>
<div class="modal-footer">
    <button class="btn btn-plain" type="button" ng-click="cancel()">{l}Cancel{endl}</button>
    <button class="btn btn-default" type="button" ng-click="ok()">{l}Save{endl}</button>
</div>
