<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="cancel()"><span aria-hidden="true">&times;</span></button>
  <h4 class="modal-title"><b>{l}Modify purchase price{endl}</b></h4>
</div>
<div class="modal-body modal-body_alt p_o_modal">
  <form class="form-horizontal"  >
    <div class="form-group">
      <label class="col-xs-4 control-label text-left">{l}Purchase Price{endl}</label>
      <div class="col-xs-5 input-group-sm">
        <input type="text" class="form-control" ng-model="obj.purchase_price" display-nr=""  placeholder="{l}Purchase Price{endl}" ng-blur="setPurchasePrice()">
      </div>
      <div class="col-xs-3">
        <selectize config='currencyCfg' options='obj.currencies' ng-model="obj.currency_id"></selectize>
      </div>
    </div>
    <div class="form-group" ng-if="obj.currency_id != obj.default_currency_id">
      <label class="col-xs-4 control-label text-left">{l}Purchase Price{endl} {{obj.default_currency_name}}</label>
      <div class="col-xs-8 input-group-sm">
        <input type="text" class="form-control" ng-model="obj.purchase_price_new" display-nr=""  placeholder="{l}Purchase Price{endl}">
      </div>
    </div>
  </form>
</div>
<div class="modal-footer">
    <button class="btn btn-plain" type="button" ng-click="cancel()">{l}Cancel{endl}</button>
    <button class="btn btn-default" type="button" ng-click="ok()">{l}Save{endl}</button>
</div>
