<div class="modal-header">
<button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="cancel()"><span aria-hidden="true">&times;</span></button>
  <h4 class="modal-title">{l}Return{endl}</h4>
</div>
<div class="modal-body">
  <div class="row">
    <div class="col-xs-12">
      <form class="form-horizontal">
        <div class="form-group">
          <label for="" class="col-xs-3 control-label text-left">{l}Return Date{endl}:*</label>
          <div class="col-xs-3">
            <div class="input-group input-group-sm">
              <input type="text" class="form-control" ng-model="returns.date" uib-datepicker-popup="{{format}}" is-open="datePickOpen.date" datepicker-options="dateOptions" close-text="Close" placeholder="{l}dd/MM/yyyy{endl}" show-button-bar="false" ng-click="datePickOpen.date=true" /><span class="input-group-btn"><button type="button" class="btn btn-default" ng-click="openDate('date')"><span class="glyphicon glyphicon-calendar"></span></button></span>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="row" >
    <div class="col-xs-12">
      <table class="table deliveryTable">
        <thead>
          <tr>
            <th >{l}Article{endl}</th>
            <th ng-if="returns.allow_article_packing">{l}Pack{endl}.<span ng-if="returns.allow_article_sale_unit"> / {l}S.U.{endl}</span></th>
            <th>{l}Total Quantity{endl}</th>
            <th>{l}Already Returned{endl}</th>
            <th>{l}Returned{endl}</th>
            <th ng-if="returns.use_serial_no">{l}Serial Numbers{endl}</th>
            <th ng-if="returns.use_batch_no">{l}Batch Numbers{endl}</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="item in returns.lines" class="collapseTr">
            <td>{{::item.article}}</td>
            <td ng-if="returns.allow_article_packing">{{::item.packing}} <span ng-if="returns.allow_article_sale_unit"> / {{::item.sale_unit}}</span></td>
            <td>{{::item.quantity}}</td>
            <td>{{::item.quantity_already_ret}}</td>
            <td ng-class="{ 'is-error':item.is_error }"><input class="form-control" type="text" ng-model="item.ret_quantity" display-nr="" ng-change="checkQuantity(item)"><i class="fa fa-exclamation-circle" ng-if="item.is_error"></i></td>
            <td ng-if="returns.use_serial_no"><button type="button" class="btn " ng-if="item.use_serial_no_art" ng-click="openModal('serialNr',item)" ng-class="{ 'btn-primary':item.serialOk, 'btn-secondary':!item.serialOk }">{l}Serial Numbers{endl}</button>   </td>
            <td ng-if="returns.use_batch_no"><button type="button" class="btn " ng-if="item.use_batch_no_art" ng-click="openModal('batchNr',item)" ng-class="{ 'btn-primary':item.batchOk, 'btn-secondary':!item.batchOk }" ng-disabled="item.no_quantity">{l}Batch Numbers{endl}</button>   </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div><!-- /.tabelu -->
  <div class="row" >
    <div class="col-xs-12">
    <div class="row" >
      <div class="form-group">
        <label for="" class="col-xs-3 control-label text-left">{l}Note{endl}:</label>
        <div class="col-xs-9">
          <textarea ng-model="returns.note" class="form-control" rows="5" ></textarea>
        </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal-footer">
    <button class="btn btn-plain" type="button" ng-click="cancel()">{l}Close{endl}</button>
    <button class="btn btn-default" type="button" ng-click="ok()">{l}Save{endl}</button>
</div>