<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="cancel()">
    <span aria-hidden="true">x</span>
  </button>
  <h4 class="modal-title">{l}Send Delivery Note{endl}</h4>
</div>
<div class="modal-body content-mail">
  <div class="row">
    <div class="col-xs-12">
      <form class="form-horizontal text-left">
        <div class="form-group">
          <label for="" class="col-xs-2 control-label text-left">{l}Recipients{endl}<span class="mandatory-label">*</span></label>
          <div class="col-xs-10">
            <selectize config='contactForEmailAutoCfg' options='email.recipients_auto' ng-model="email.recipients" ></selectize>
          </div>
        </div>
        <div class="form-group">
            <label for="" class="col-sm-2 control-label">{l}Send a copy to{endl}</label>
            <div class="col-sm-10">
              <div class="row">
                <div class="clearfix link-pointer">
                  <div class="col-sm-12">
                    <div class="checkbox checkbox-primary">
                      <input type="checkbox" class="link-pointer" id="checkbox1" ng-model="email.copy" name="copy">
                      <label for="checkbox1"></label>
                    </div>
                    <div class="text-email">
                      <label class="control-label link-pointer" ng-click="email.copy=!email.copy">{l}Me{endl}</label>
                    </div>
                  </div>
                </div>
                <div class="clearfix" ng-if="email.acc_manager_id">
                  <div class="col-sm-12">
                    <div class="checkbox checkbox-primary">
                      <input type="checkbox" class="link-pointer" id="checkbox2" ng-model="email.copy_acc" >
                      <label for="checkbox2"></label>
                    </div>
                    <div class="text-email">
                      <label class="control-label link-pointer" ng-click="email.copy_acc=!email.copy_acc">{l}Account Manager{endl}</label>
                    </div>
                  </div>
                </div>              
              </div>
            </div>
        </div>
        <div class="form-group">
          <label for="" class="col-xs-2 control-label text-left">{l}Subject{endl}</label>
          <div class="col-xs-10">
            <input type="text" class="form-control" ng-model="email.e_subject" placeholder="{l}Subject{endl}">
          </div>
        </div>
        <div class="form-group">
          <label for="" class="col-xs-2 control-label text-left">{l}Message{endl}</label>
          <div class="col-xs-10">
            <textarea ui-tinymce="tinymceOptions" ng-model="email.e_message" class="form-control mail_send"></textarea>
          </div>
        </div>
        <div class="form-group">
          <label for="" class="col-sm-2 control-label">{l}Attachments{endl}</label>
          <div class="col-sm-10">
            <div class="row">
              <div class="clearfix">
                <div class="col-sm-12">
                  <div class="checkbox checkbox-primary">
                      <input type="checkbox" class="link-pointer" id="checkbox3" ng-model="email.include_pdf" >
                      <label for="checkbox3">
                      </label>
                    </div>
                  <div class="text-email">
                    <label for="" class="control-label link-pointer" ng-click="email.include_pdf=!email.include_pdf">
                      <span>{l}Include a PDF version of the Delivery note{endl}</span>
                    </label>
                  </div>
                </div>
              </div>
              <div class="clearfix" ng-if="email.is_file">
                <div class="clearfix" ng-repeat="item in email.files">
                  <div class="col-sm-12">
                    <div class="checkbox checkbox-primary">
                        <input type="checkbox" class="link-pointer" id="checkbox_files_{{$index}}" ng-model="item.checked" >
                        <label for="checkbox_files_{{$index}}"></label>
                      </div>
                    <div class="text-email">
                      <label for="" class="control-label link-pointer" ng-click="item.checked=!item.checked">{{item.file}}</label>
                    </div>
                  </div>
                </div>            
              </div>

            </div>
          </div>
        </div>
      </form>
  </div>
</div>
</div>
<div class="modal-footer">
    <button class="btn btn-plain" type="button" ng-click="cancel()">{l}Cancel{endl}</button>
    <button class="btn btn-default" type="button" ng-disabled="!email.recipients.length" ng-click="ok()">{l}Send{endl}</button>
</div>