<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="cancel()"><span aria-hidden="true">&times;</span></button>
  <h4 class="modal-title">{l}Assign serial numbers to order{endl}</h4>
</div>
<div class="modal-body">
	<div uib-alert ng-repeat="alert in alerts" type="{{alert.type}}" close="alerts.splice($index, 1);" ng-class="['alert-' + (alert.type || 'warning') ]">{{alert.msg}}</div>
	<div class="row margin-bottom">
		<div class="search_fields col-xs-5">
	      <div class="so-field" ng-class="{ 'so-active':search!='' }">
	        <span class="glyphicon glyphicon-search so-icon"></span>
	        <input type="text" class="form-control" placeholder="{l}Search{endl}" ng-model="search" ng-change="searchSerial()">
	        <span class="glyphicon glyphicon-remove so-icon so-remove" ng-click="search='';searchSerial()"></span>
	      </div><!-- /.input-search -->
	    </div><!-- /.page-search -->
	</div>	
	<div class="row">
		<div class="col-xs-6" ng-if="obj.hide_if_delivery">{l}Serial Numbers{endl}</div>
		<div class="col-xs-{{obj.column}}" ng-class="{ 'span-red':obj.sel_s_n != obj.total_s_n, 'span-green':obj.sel_s_n == obj.total_s_n }">{l}Selected Serial Numbers{endl} <span>{{obj.sel_s_n}}</span> <span>{l}of{endl}</span> <span>{{obj.total_s_n}}</span></div>
	</div>
	<div class="row">
		<div class="col-xs-5 serial_number_box" ng-if="obj.hide_if_delivery">
			<ul>
				<li ng-repeat="item in obj.serial_nr_row_search">
					<span>{{item.serial_number}} <span ng-if="item.location_name">({{item.location_name}})</span></span>
					<span class="glyphicon glyphicon-plus btn-expand pull-right" ng-click="slectItem(item,'serial_nr_row','sel_serial_nr_row')"></span>
				</li>
			</ul>
		</div>
		<div class="col-xs-1 text-center" ng-if="obj.hide_if_delivery">
			<span class="glyphicon glyphicon-resize-horizontal"></span>
		</div>
		<div class="col-xs-{{obj.column}} serial_number_box">
			<ul>
				<li ng-repeat="item in obj.sel_serial_nr_row">
					<span>{{item.serial_number}}</span>
					<span ng-if="obj.hide_if_delivery" class="glyphicon glyphicon-minus btn-expand pull-right" ng-click="slectItem(item,'sel_serial_nr_row','serial_nr_row')"></span>
				</li>
			</ul>
		</div>
	</div>
</div>
<div class="modal-footer">
    <button class="btn btn-plain" type="button" ng-click="cancel()">{l}Close{endl}</button>
    <button class="btn btn-default" type="button" ng-if="obj.hide_if_delivery" ng-click="ok(obj.sel_serial_nr_row)">{l}Save{endl}</button>
</div>
