{if:data}
<div class="wlink_right right pag-invoice">
    <div class="wlink_controls">
        <div class="wlink_head" id="maintenance_balance"><a href="#" class="wlink_options"></a>
        <div class="invoice_status">
            <div class="wlink_info"><h2 class="{hide_proforma}">
            <p>{l}Maintenance{endl}: <span>{factur_nr}</span></p></h2>
              <p>{l}Planed date{endl}: <span>{factur_date}</span></p>        
             <p>{l}Status{endl}: <span>{STATUS}</span></p>
           </div></div>
            <input type="hidden" value="{accepted}" id="accepted" />
            {if:accepted}
            <div class="invoice_doc">
            <ul>
                <li><a href="#" id="accept" class="accept col-md-12">{l}Accept{endl}</a></li>
                {if:show_comm}<li><a href="#" id="comm" class="comm col-md-12">{l}Comment on this Intervention{endl}</a></li>{end}
            </ul></div>
            {else}
            {if:allow_star_rating}<div class="stars {hide_stars}">
                {loop:stars}
                <span class="star {blue}"></span>
                {endloop}
            </div>{end}{end}
        
      <div class="extra-info">
        <div class="info-block seller_details">
            <h3>{invoice_seller_name}</h3>
            <p>{invoice_seller_b_address}</p>
            <p>{invoice_seller_b_zip} {invoice_seller_b_city}</p>
            <p>{invoice_seller_b_country} </p>
            <p>{l}VAT{endl}: {invoice_vat_no}</p>
        </div>
         <div class="info-block bank_details">
            <h3>{bankDetails_txt}</h3>
            <p>{bank_txt}: {bank} </p>
            <p>{bicCode_txt}: {bic} </p>
            <p>{ibanCode_txt}: {iban}</p>
        </div>
      </div>
    </div></div>
    <div class="powered_by"><p>Powered by</p>
    <a href="http://akti.com/" target="_blank"><img src="../images/akti-logo.png"></a>
    </div>
</div>
<div class="wlink_main left pag-maintenance">
    <div class="wlink_content">
        <h3>{l}Intervention report{endl}</h3>
        <table width="100%" class="intervention_table">
            <thead>
                <tr>
                    <th>{l}Staff{endl}</th>
                    <th>{l}Date{endl}</th>
                    <th>{l}Start time{endl}</th>
                    <th>{l}End time{endl}</th>
                    <th>{l}Break{endl}</th>
                    <th>{l}Total{endl}</th>
                </tr>
            </thead>
            <tbody>
                {loop:intervention}
                <tr>
                    <td>{user}</td>
                    <td>{DATE}</td>
                    <td>{start_time}</td>
                    <td>{end_time}</td>
                    <td>{break}</td>
                    <td>{hours}</td>
                </tr>
                {endloop}
                <tr class="last">
                    <td colspan="5" style="text-align:right">{l}Total{endl}:</td>
                    <td>{total_h}</td>
                </tr>
            </tbody>
        </table>
        {if:is_exp}
        <h3>{l}Intervention expenses{endl}</h3>
        <table width="100%" class="intervention_table">
            <thead>
                <tr>
                    <th width="40%">{l}Name{endl}</th>
                    <th width="30%">{l}Date{endl}</th>
                    <th width="30%">{l}Total{endl}</th>
                </tr>
            </thead>
            <tbody>
                {loop:intervention_exp}
                <tr>
                    <td>{name}</td>
                    <td>{DATE}</td>
                    <td>{hours}</td>
                </tr>
                {endloop}
                <tr class="last">
                    <td colspan="2" style="text-align:right">{l}Total{endl}:</td>
                    <td>{total_exp}</td>
                </tr>
            </tbody>
        </table>{end}
        <!-- <p style="font-size:11px;">{intervention_report}</p> -->
        <h3>{l}Users{endl}</h3>
        <p>
            {loop:users}
            {sign}<span style="font-size:11px;">{name}</span>
            {endloop}
        <p>
        <h3>{l}tasks{endl}</h3>
        <ul class="tasks">
            {loop:task}
            <li>
                <b>{name}</b>{if:closed}<span class="task_closed"> {l}Done{endl}</span>{end}
                <div>{comment}</div>
            </li>
            {endloop}
        </ul>
        <h3>{l}Purchases{endl}</h3>
        <table width="100%" class="intervention_table">
            <thead>
                <tr>
                    <th>{l}Name{endl}</th>
                    <th>{l}Quantity{endl}</th>
                    <th>{l}Price{endl}</th>
                    <th>{l}Delivered{endl}</th>
                </tr>
            </thead>
            <tbody>
                {loop:expenses}
                <tr>
                    <td>{name}</td>
                    <td>{quantity}</td>
                    <td>{price}</td>
                    <td>{delivered}</td>
                </tr>
                {endloop}
            </tbody>
        </table>
        <h3>{l}Articles{endl}</h3>
        <table width="100%" class="intervention_table">
            <thead>
                <tr>
                    <th>{l}Name{endl}</th>
                    <th>{l}Quantity{endl}</th>
                    <th>{l}Price{endl}</th>

                </tr>
            </thead>
            <tbody>
                {loop:articles}
                <tr>
                    <td>{name}</td>
                    <td>{quantity}</td>
                    <td>{price}</td>
                </tr>
                {endloop}
            </tbody>
        </table>
        <!-- <ul>
            {loop:expenses}
            <li style="font-size:11px;">{name} - {price} - {delivered}</li>
            {endloop}
        </ul> -->
        <p>*{l}All prices are without VAT{endl}</p>
    </div>
</div>
{else}
    <p class="noData">{noData_txt}</p>
    <p class="noData"><a href="http://akti.com/" target="_blank"><img src="images/akti-powered_by.png" width="216" height="80" alt="Light ERP for small and micro enterprises - akti.com"/></a></p>
{end}
    <!-- <div class="poweredby lbottom"><a href="http://akti.com/" target="_blank"><img src="images/akti-powered_by.png" width="216" height="80" alt="Light ERP for small and micro enterprises - akti.com"/></a></div> -->

<div id="dialog" title="{l}Accept this intervention{endl}" style="display:none;">
    {if:allow_star_rating}<div class="stars {hide_stars} center">
        <p>{l}Please, rate this intervention{endl}</p>
        {loop:stars}
        <span class="star {blue}"></span>
        {endloop}
    </div>{end}
    <div class="stars hide stars2">
        <div class="buttons ">
            <form action="index.php">
                <textarea placeholder="add your comment here" rows="2" class="textarea_logging" name="comment" id="stars_textarea"></textarea>
                <input type="hidden" value="project-service-project-addStars" name="do"  />
                <input type="hidden" value="0" name="stars" id="stars"/>
                <input type="hidden" value="{in:q}" name="q" />
                <input type="hidden" value="{star_c}" id="star_c">
                <button class="add_star" type="submit">{l}Save{endl}</button>
                <button class="cancel_star" >{l}Cancel{endl}</button>
            </form>
        </div>
    </div>
</div>

<div id="dialog1" title="{l}Comment on this Intervention{endl}" style="display:none;" class="activity">
    {do:misc-activity}
</div>
<script type="text/javascript">
  var z = 0;
  var setX = function(){
    z = $('.poweredby').offset();
  }
  var m = true;
  </script>
<script type="text/javascript" src="{jspath}"></script>