<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="art.cancel()"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title">{l}Deliveries List{endl}</h4>
</div>
<div class="modal-body modal-body_alt">
    <div class="loading_wrap loading_alt hidden">
        <div class="loading"></div>
        <div class="spinner"></div>
    </div>
    <div uib-alert ng-repeat="alert in art.alerts" type="{{alert.type}}" close="art.alerts.splice($index, 1);" ng-class="['alert-' + (alert.type || 'warning') ]" dismiss-on-timeout='5000'>{{alert.msg}}</div>
    <div class="row page-content">
        <div class="col-xs-12">
            <table ng-if="art.obj.list.length" class="table active_rows orderTable">
                <thead>
                    <tr>
                        <th class="col-xs-3">{l}Date{endl}</th>
                        <th class="col-xs-3">{l}Contact{endl}</th>
                        <th class="col-xs-5">{l}Address{endl}</th>
                        <th class="col-xs-1 table_actions"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="item in art.obj.list">
                        <td>{{item.date}}</td>
                        <td>{{item.contact}}</td>
                        <td><span ng-bind-html="item.address"></span></td>
                        <td class="table_actions">
                            <div class="btn-group" uib-dropdown>
                                <button type="button" class="btn btn-plain dropdown-toggle" uib-dropdown-toggle>
				                        <span class="caret"></span>
				                  </button>
                                <ul class="dropdown-menu dropdown-menu-right" uib-dropdown-menu>
                                    <li class="dropdown-header">{l}Action{endl}</li>
                                    <li>
                                        <a href="#" ng-click="art.showDelivery(item)"><span class="fas fa-pen text-primary"></span> {l}View{endl}</a>
                                    </li>
                                    <li ng-if="art.obj.not_closed">
                                        <a href="#" ng-click="art.deleteDelivery(item)" confirm="{l}Are you sure, you wanna delete this entry?{endl}"><span class="fas fa-trash-alt text-primary"></span> {l}Delete{endl}</a>
                                    </li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <!-- <div uib-alert type="notice" class="alert-warning" ng-if="!art.obj.list.length">{l}No data to display{endl}</div> -->
</div>
<div class="modal-footer">
    <button class="btn btn-plain" type="button" ng-click="art.cancel()">{l}Cancel{endl}</button>
</div>