<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="cancel()"><span aria-hidden="true">&times;</span></button>
  <h4 class="modal-title">
  {l}Add expense category{endl}
  </h4>
</div>
<div class="modal-body">
	<div uib-alert ng-repeat="alert in alerts" type="{{alert.type}}" close="alerts.splice($index, 1);" ng-class="['alert-' + (alert.type || 'warning') ]">{{alert.msg}}</div>
	<form class="form-horizontal" >
		<div class="form-group">
	    <label for="supplyname" class="col-xs-5 control-label text-left"><strong>{l}Name{endl}:*</strong></label>
	    <div class="col-xs-7">
		    <input type="text" class="form-control" id="supplyname" placeholder="{l}Name{endl}" ng-model="expense.name"  />
		  </div>
		</div>
		<div class="form-group">
	    <label for="supplyname" class="col-xs-5 control-label text-left">{l}Unit Price{endl}:</label>
	    <div class="col-xs-7">
		    <input type="text" class="form-control" id="supplyname" display-nr="1" placeholder="{l}Unit Price{endl}" ng-model="expense.u_price"  />
		  </div>
		</div>
		<div class="form-group">
	    <label for="supplyname" class="col-xs-5 control-label text-left">{l}Per:{endl}</label>
	    <div class="col-xs-7">
		    <input type="text" class="form-control" id="supplyname" placeholder="{l}Per:{endl}" ng-model="expense.unit"  />
		  </div>
		</div>

	</form>
</div>
<div class="modal-footer">
    <button class="btn btn-plain" type="button" ng-click="cancel()">{l}Close{endl}</button>
    <button class="btn btn-default" type="button" ng-click="ok()">{l}OK{endl}</button>
</div>