<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="edit.cancel()"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title">{l}Register expense{endl}</h4>
</div>
<div uib-alert ng-repeat="alert in edit.alerts" type="{{alert.type}}" close="edit.alerts.splice($index, 1);" ng-class="['alert-' + (alert.type || 'warning') ]">{{alert.msg}}</div>
<div class="modal-body modal-body_alt">
    <div class="col-sm-12">
        <form class="form-horizontal">
            <div class="row">
                <div class="col-xs-12">
                    <div class="form-group">
                        <label for="" class="col-xs-6 control-label text-left">{l}Collaborators{endl}</label>
                        <div class="col-xs-6">
                            <selectize config='edit.userAutoCfg' options='edit.item.userSrv' ng-model="edit.service_expense.user_id"></selectize>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="" class="col-xs-6 control-label text-left">{l}Select a day{endl}</label>
                        <div class="col-xs-6">
                            <div class="so-field">
                                <span class="glyphicon glyphicon-calendar so-icon" ng-click="edit.openDate('startDate')"></span>
                                <input type="text" class="form-control" ng-model="edit.service_expense.service_date" uib-datepicker-popup="{{edit.format}}" is-open="edit.datePickOpen.startDate" datepicker-options="edit.dateOptions" date-disabled="disabled(date, mode)" ng-required="true"
                                    close-text="Close" show-button-bar="false" ng-click="edit.datePickOpen.startDate=true" />
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="" class="col-xs-6 control-label text-left">{l}Category{endl}</label>
                        <div class="col-xs-6">
                            <selectize config='edit.expenseAutoCfg' options='edit.item.expenseCat' ng-model="edit.service_expense.expense_id"></selectize>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="" class="col-xs-6 control-label text-left">{l}Amount{endl}</label>
                        <div class="col-xs-6">
                            <input type="text" class="form-control" ng-model="edit.service_expense.amount" placeholder="{l}Amount{endl}">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="" class="col-xs-6 control-label text-left">{l}Billable{endl}</label>
                        <div class="col-xs-4">
                            <!-- <toggle-switch ng-model="edit.service_expense.billabel" class="switch-primary" off-label="{l}No{endl}" on-label="{l}Yes{endl}"></toggle-switch> -->
                            <label class="switch pull-left small_margin">
                                <input type="checkbox" id="" ng-model="edit.service_expense.billabel"  class="switch-primary">
                                <span class="slider round"></span>
                           </label>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <!-- /.module_steps-highlight -->
</div>
<div class="modal-footer">
    <button class="btn btn-plain" type="button" ng-click="edit.cancel()">{l}Cancel{endl}</button>
    <button class="btn btn-default" type="button" ng-click="edit.ok()">{l}Add{endl}</button>
</div>