<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="edit.cancel()"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title">{l}Register time{endl}</h4>
</div>
<div uib-alert ng-repeat="alert in edit.alerts" type="{{alert.type}}" close="edit.alerts.splice($index, 1);" ng-class="['alert-' + (alert.type || 'warning') ]">{{alert.msg}}</div>
<div class="modal-body modal-body_alt">
    <div class="col-sm-12">
        <form class="form-horizontal">
            <div class="row">
                <div class="col-xs-6">
                    <div class="form-group">
                        <label for="" class="col-xs-6 control-label text-left">{l}Collaborators{endl}</label>
                        <div class="col-xs-6">
                            <selectize config='edit.userAutoCfg' options='edit.item.userSrv' ng-model="edit.service_sheet.sheet_user_id"></selectize>
                        </div>
                    </div>
                    <!-- <div class="form-group">
                        <label for="" class="col-xs-6 control-label text-left">{l}Select a day{endl}</label>
                        <div class="col-xs-6">
                            <div class="so-field">
                                <span class="glyphicon glyphicon-calendar so-icon" ng-click="edit.openDate('startDate')"></span>
                                <input type="text" class="form-control" ng-model="edit.item.planeddate_js" uib-datepicker-popup="{{edit.format}}" is-open="edit.datePickOpen.startDate" datepicker-options="edit.dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close"
                                    show-button-bar="false" ng-click="edit.datePickOpen.startDate=true" />
                            </div>
                        </div>
                    </div> -->
                    <div class="form-group">
                        <label for="" class="col-xs-6 control-label text-left">{l}Start time{endl}</label>
                        <div class="col-xs-4">
                            <!-- <input type="text" class="form-control link-pointer ungreyed" ng-model="edit.service_sheet.start_time" placeholder="00:00" ng-click="edit.showTime($event,'service_sheet','start_time',0)" readonly> -->
                            <input type="time" ng-model="edit.service_sheet.start_time">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="" class="col-xs-6 control-label text-left">{l}End time{endl}</label>
                        <div class="col-xs-4">
                            <!-- <input type="text" class="form-control link-pointer ungreyed" ng-model="edit.service_sheet.end_time" ng-blur="edit.correctVal(edit.service_sheet)" placeholder="00:00" ng-click="edit.showTime($event,'service_sheet','end_time',0)" readonly> -->
                            <input type="time" ng-model="edit.service_sheet.end_time">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="" class="col-xs-6 control-label text-left">{l}Break{endl}</label>
                        <div class="col-xs-4">
                             <input type="text" class="input-time" ng-model="edit.service_sheet.break" ng-blur="edit.correctVal(edit.service_sheet)" placeholder="--:--" ng-click="edit.showTime($event,'service_sheet','break',0)" readonly>
<!--                            <input type="time" ng-model="edit.service_sheet.break">-->
                        </div>
                    </div>
                </div>
                <div class="col-xs-6">
                    <div class="form-group">
                        <div class="col-xs-12">
                            <textarea class="form-control vertical-align" ng-model="edit.service_sheet.time_report" placeholder="{l}Report{endl}" rows="4"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="" class="col-xs-6 control-label text-left">{l}Internal{endl}</label>
                        <div class="col-xs-6">
                            <!-- <toggle-switch ng-model="edit.service_sheet.internal_report" class="switch-primary" off-label="{l}No{endl}" on-label="{l}Yes{endl}"></toggle-switch> -->
                            <label class="switch pull-left small_margin">
                                <input type="checkbox" id="" ng-model="edit.service_sheet.internal_report" class="switch-primary">
                                <span class="slider round"></span>
                           </label>
                        </div>
                    </div>
                    <div class="form-group" ng-if=edit.item.service_type=='1'>
                        <label for="" class="col-xs-6 control-label text-left">{l}Extra hours{endl}</label>
                        <div class="col-xs-6">
                            <!-- <toggle-switch ng-model="edit.service_sheet.extra_hours" class="switch-primary" off-label="{l}No{endl}" on-label="{l}Yes{endl}"></toggle-switch> -->
                            <label class="switch pull-left small_margin">
                                <input type="checkbox" id="" ng-model="edit.service_sheet.extra_hours"  class="switch-primary">
                                <span class="slider round"></span>
                           </label>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-plain" type="button" ng-click="edit.cancel()">{l}Cancel{endl}</button>
    <button class="btn btn-default" type="button" ng-click="edit.ok()">{l}Add{endl}</button>
</div>