<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="edit.cancel()"><span aria-hidden="true">&times;</span></button>
  <h4 class="modal-title" >{l}Plan Intervention{endl}</h4>
</div>
<div uib-alert ng-repeat="alert in edit.alerts" type="{{alert.type}}" close="edit.alerts.splice($index, 1);" ng-class="['alert-' + (alert.type || 'warning') ]">{{alert.msg}}</div>
<div class="modal-body modal-body_alt">
    <div class="col-sm-12">
        <div class="form-horizontal">
            <div class="form-group">
                <label class="col-sm-4 control-label text-left">{l}Planned date{endl}</label>
                <div class="col-sm-8">
                    <div class="so-field input-date d-inline-block">
                        <span class="glyphicon glyphicon-calendar so-icon" ng-click="edit.openDate('planeddate2')" ng-if="edit.item.edit"></span>
                        <input type="text" class="form-control form-date" ng-model="edit.item.planeddate_js" uib-datepicker-popup="{{edit.format}}" is-open="edit.datePickOpen.planeddate2" datepicker-options="edit.dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" placeholder="{l}dd/MM/yyyy{endl}" show-button-bar="false" ng-click="edit.datePickOpen.planeddate2=true" />
                    </div>
                    <a class="btn text-link" ng-show="edit.item.planeddate_js" ng-click="edit.checkFree()">{l}Check free collaborators{endl}</a>
                </div> 
            </div>
            <div class="form-group relative">
                <label class="col-xs-12 col-sm-4 control-label text-left">{l}Planned time{endl}</label>
                <div class="col-xs-12 col-sm-4 perfect_align">
                    <!-- <input type="text" class="form-control form-hour link-pointer ungreyed" ng-model="edit.item.startdate" placeholder="00:00" ng-click="edit.showTime($event,'item','startdate',0)" readonly corect_val=""> -->
                    <input type="time" ng-model="edit.item.startdate">
                </div>
            </div>
            <div class="form-group relative">
                <label class="col-xs-12 col-sm-4 control-label text-left">{l}Planned duration{endl}</label>
                <div class="col-xs-12 col-sm-4 perfect_align">
                    <!-- <input type="text" class="form-control form-hour link-pointer ungreyed" ng-model="edit.item.duration" placeholder="00:00" ng-click="edit.showTime($event,'item','duration',0)" readonly corect_val=""> -->
                	<input type="time" ng-model="edit.item.duration">
                </div>
            </div> 
            
        </div>
        <div class="row" ng-if="edit.item.users.is_data || edit.item.planning.free">
            <div class="col-xs-12">
                <div class="row page-header">
                    <div class="col-xs-12 col-sm-5">
                        <h2>{l}Overview for{endl}
                            <selectize config='edit.teamAutoCfg' options='edit.item.planning.select' ng-model="edit.item.planning.team_id" placeholder="{l}A Team{endl}"></selectize>
                        </h2>
                    </div>
                    <div class="col-xs-12 col-sm-7 text-right">
                        <div class="btn-group btn-group-calendar" role="group">
                            <button type="button" class="btn btn-square btn-plain" ng-click="edit.navigate(-1)"><span class="glyphicon glyphicon-chevron-left"></span></button>
                            <span class="calendar-date">{{edit.item.planning.week_txt}}</span>
                            <button type="button" class="btn btn-square btn-plain" ng-click="edit.navigate(+1)"><span class="glyphicon glyphicon-chevron-right"></span></button>
                        </div>
                        <div class="btn-inline col-left text-left">
                            <span class="glyphicon glyphicon-calendar so-icon" ng-model="edit.item.planning.planning_date" uib-datepicker-popup="{{edit.format}}" is-open="edit.datePickOpen.planning_date" datepicker-options="edit.dateOptions" close-text="Close" show-button-bar="false" ng-click="edit.datePickOpen.planning_date=true" ng-change="edit.changePlanningDate()"></span>
                        </div> 
                    </div>
                </div>
                <div class="planning planning_groups planning_groups_week">
                    <div class="planning_header clearfix">
                        <div class="planning_row_user"></div>
                        <div class="planning_row_content">
                            <div class="planning_cell" ng-repeat="item in edit.item.planning.days_nr" ng-class="{ 'weekend_dates' : item.end_day }">{{item.day_name}} {{item.date_month}}</div>
                        </div>
                    </div><!-- /.planning_header -->
                    <div class="planning_row clearfix" ng-repeat="item in edit.item.planning.user_data">
                        <div class="planning_row_user">
                            <div class="planning_user_thumb">
                                <span class="fa fa-user"></span>
                            </div>
                            <div class="planning_user">
                                <span class="text-ellipsis pull-left">{{item.name}}</span>
                                <a ng-if="item.added" class="add_user_plann" uib-tooltip="{l}Remove Collaborator{endl}" tooltip-placement="left" ng-click="edit.removeUserPlan(item)"><span class="fas fa-trash-alt"></span></a>
                                <a ng-if="!item.added" class="add_user_plann" uib-tooltip="{l}Add Collaborator{endl}" tooltip-placement="left" ng-click="edit.addUserPlan(item)"><span class="fa fa-plus icon-holder"></span></a>
                            </div>
                        </div><!-- /.planning_header -->
                        <div class="planning_row_content">
                            <div class="planning_cell" ng-repeat="item2 in item.data" ng-class="{ 'bg-grey' : item2.block_day}">
                                <div class="planning_details" ng-class="{ 'bg-success' : item2.service_nr<5 && item2.service_nr>0, 'bg-warning' : item2.service_nr>=5 && item2.service_nr<=7, 'bg-danger':item2.service_nr>7 }">
                                    <a href="#" class="planning_details_btn" ng-click="edit.showMore($event,item2,item.user_id)"></a>
                                    <div class="cell_c"></div>
                                </div>              
                            </div>
                        </div><!-- /.planning_row_content -->
                    </div><!-- /.planning_row -->             
                </div><!-- /.planning_groups_week -->
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
      <button class="btn btn-plain" type="button" ng-click="edit.cancel()">{l}Cancel{endl}</button>
      <button class="btn btn-default" type="button" ng-click="edit.ok()">{l}Save{endl}</button>
</div>