<!-- <div class="modal-header">
    <h3 class="modal-title">{{title}}</h3>
</div> -->
<div class="modal-body" >
	<div uib-alert ng-repeat="alert in alerts" type="{{alert.type}}" close="alerts.splice($index, 1);" ng-class="['alert-' + (alert.type || 'warning') ]">{{alert.msg}}</div>
	<form class="form-horizontal">
		<div class="row">
			<div class="col-xs-6">
				<div class="form-group">
					<label class="col-xs-5 control-label text-left">{l}Intervention{endl}:</label>
          <div class="col-xs-7 input-group-sm">
            <input type="text" class="form-control" ng-model="label.intervention" placeholder="{l}Intervention{endl}">
          </div>
				</div>
				<div class="form-group">
					<label class="col-xs-5 control-label text-left">{l}Date{endl}:</label>
          <div class="col-xs-7 input-group-sm">
            <input type="text" class="form-control" ng-model="label.date" placeholder="{l}Date{endl}">
          </div>
				</div>
				<div class="form-group">
					<label class="col-xs-5 control-label text-left">{l}Fax{endl}:</label>
          <div class="col-xs-7 input-group-sm">
            <input type="text" class="form-control" ng-model="label.fax" placeholder="{l}Fax{endl}">
          </div>
				</div>
				<div class="form-group">
					<label class="col-xs-5 control-label text-left">{l}Url{endl}:</label>
          <div class="col-xs-7 input-group-sm">
            <input type="text" class="form-control" ng-model="label.url" placeholder="{l}Url{endl}">
          </div>
				</div>
				<div class="form-group">
					<label class="col-xs-5 control-label text-left">{l}Collaborators{endl}:</label>
          <div class="col-xs-7 input-group-sm">
            <input type="text" class="form-control" ng-model="label.staff" placeholder="{l}Collaborators{endl}">
          </div>
				</div>
				<div class="form-group">
					<label class="col-xs-5 control-label text-left">{l}End time{endl}:</label>
          <div class="col-xs-7 input-group-sm">
            <input type="text" class="form-control" ng-model="label.end_time" placeholder="{l}End time{endl}">
          </div>
				</div>
				<div class="form-group">
					<label class="col-xs-5 control-label text-left">{l}Total{endl}:</label>
          <div class="col-xs-7 input-group-sm">
            <input type="text" class="form-control" ng-model="label.total" placeholder="{l}Total{endl}">
          </div>
				</div>
				<div class="form-group">
					<label class="col-xs-5 control-label text-left">{l}Intervention expenses{endl}:</label>
          <div class="col-xs-7 input-group-sm">
            <input type="text" class="form-control" ng-model="label.expenses" placeholder="{l}Intervention expenses{endl}">
          </div>
				</div>
				<div class="form-group">
					<label class="col-xs-5 control-label text-left">{l}Done{endl}:</label>
          <div class="col-xs-7 input-group-sm">
            <input type="text" class="form-control" ng-model="label.done" placeholder="{l}Done{endl}">
          </div>
				</div>
				<div class="form-group">
					<label class="col-xs-5 control-label text-left">{l}Quantity{endl}:</label>
          <div class="col-xs-7 input-group-sm">
            <input type="text" class="form-control" ng-model="label.quantity" placeholder="{l}Quantity{endl}">
          </div>
				</div>
				<div class="form-group">
					<label class="col-xs-5 control-label text-left">{l}Delivered{endl}:</label>
          <div class="col-xs-7 input-group-sm">
            <input type="text" class="form-control" ng-model="label.delivered" placeholder="{l}Delivered{endl}">
          </div>
				</div>
				<div class="form-group">
					<label class="col-xs-5 control-label text-left">{l}Total Amount{endl}:</label>
          <div class="col-xs-7 input-group-sm">
            <input type="text" class="form-control" ng-model="label.tamount" placeholder="{l}Total Amount{endl}">
          </div>
				</div>
				<div class="form-group">
					<label class="col-xs-5 control-label text-left">{l}To be delivered{endl}:</label>
          <div class="col-xs-7 input-group-sm">
            <input type="text" class="form-control" ng-model="label.to_be_delivered" placeholder="{l}To be delivered{endl}">
          </div>
				</div>

			</div>
			<div class="col-xs-6">
				<div class="form-group">
					<label class="col-xs-5 control-label text-left">{l}Intervention number{endl}:</label>
          <div class="col-xs-7 input-group-sm">
            <input type="text" class="form-control" ng-model="label.serial_number" placeholder="{l}Intervention number{endl}">
          </div>
				</div>
				<div class="form-group">
					<label class="col-xs-5 control-label text-left">{l}Phone{endl}:</label>
          <div class="col-xs-7 input-group-sm">
            <input type="text" class="form-control" ng-model="label.phone" placeholder="{l}Phone{endl}">
          </div>
				</div>
				<div class="form-group">
					<label class="col-xs-5 control-label text-left">{l}Email{endl}:</label>
          <div class="col-xs-7 input-group-sm">
            <input type="text" class="form-control" ng-model="label.email" placeholder="{l}Email{endl}">
          </div>
				</div>
				<div class="form-group">
					<label class="col-xs-5 control-label text-left">{l}Intervention report{endl}:</label>
          <div class="col-xs-7 input-group-sm">
            <input type="text" class="form-control" ng-model="label.report" placeholder="{l}Intervention report{endl}">
          </div>
				</div>
				<div class="form-group">
					<label class="col-xs-5 control-label text-left">{l}Start time{endl}:</label>
          <div class="col-xs-7 input-group-sm">
            <input type="text" class="form-control" ng-model="label.start_time" placeholder="{l}Start time{endl}">
          </div>
				</div>
				<div class="form-group">
					<label class="col-xs-5 control-label text-left">{l}Break{endl}:</label>
          <div class="col-xs-7 input-group-sm">
            <input type="text" class="form-control" ng-model="label.break" placeholder="{l}Break{endl}">
          </div>
				</div>
				<div class="form-group">
					<label class="col-xs-5 control-label text-left">{l}Name{endl}:</label>
          <div class="col-xs-7 input-group-sm">
            <input type="text" class="form-control" ng-model="label.iname" placeholder="{l}Name{endl}">
          </div>
				</div>
				<div class="form-group">
					<label class="col-xs-5 control-label text-left">{l}Task{endl}:</label>
          <div class="col-xs-7 input-group-sm">
            <input type="text" class="form-control" ng-model="label.task" placeholder="{l}Task{endl}">
          </div>
				</div>
				<div class="form-group">
					<label class="col-xs-5 control-label text-left">{l}Purchases{endl}:</label>
          <div class="col-xs-7 input-group-sm">
            <input type="text" class="form-control" ng-model="label.purchase" placeholder="{l}Purchases{endl}">
          </div>
				</div>
				<div class="form-group">
					<label class="col-xs-5 control-label text-left">{l}Price{endl}:</label>
          <div class="col-xs-7 input-group-sm">
            <input type="text" class="form-control" ng-model="label.price" placeholder="{l}Price{endl}">
          </div>
				</div>
				<div class="form-group">
					<label class="col-xs-5 control-label text-left">{l}Hourly rate{endl}:</label>
          <div class="col-xs-7 input-group-sm">
            <input type="text" class="form-control" ng-model="label.hrate" placeholder="{l}Hourly rate{endl}">
          </div>
				</div>
				<div class="form-group">
					<label class="col-xs-5 control-label text-left">{l}All prices are without VAT{endl}:</label>
          <div class="col-xs-7 input-group-sm">
            <input type="text" class="form-control" ng-model="label.allpricenovat" placeholder="{l}All prices are without VAT{endl}">
          </div>
				</div>

			</div>
		</div>
	</form>
</div>
<div class="modal-footer">
    <button class="btn btn-plain" type="button" ng-click="cancel()">{l}Close{endl}</button>
    <button class="btn btn-default" type="button" ng-click="ok()">{l}OK{endl}</button>
</div>