<!-- <div class="modal-header">
    <h3 class="modal-title">{{title}}</h3>
</div> -->
<div class="modal-body" ng-bind-html="text">

</div>
<div class="modal-footer">
    <!-- <button class="btn btn-primary" type="button" ng-click="ok()">OK</button> -->
    <button class="btn btn-plain" type="button" ng-click="cancel()">{l}Close{endl}</button>
</div>