<div class="container"><!-- neede on all pages -->
  <div class="page-header">
        <div class="row">
            <div class="col-xs-8 col-sm-6">
                <h1>{l}Interventions{endl}</h1>
            </div>
            <div class="col-xs-4 col-sm-6 text-right" ng-if="show_settings.is_admin_service">
                  <div class="dropdown new-settings">
                      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-ellipsis-v"></i></button>
                      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                          <li class="dropdown-item" ng-class="{ 'current':menu.submenu == 'intervention setting' }"><a go-to="" href="serviceSettings/" state="serviceSettings"><span class="fas fa-cog text-primary"></span> {l}Interventions Settings{endl}</a></li>
                      </div>
                  </div>
              </div>
        </div>
    </div><!-- /.page-header -->
    <div class="tabs-navigation"> 
        <ul class="nav nav-tabs">
          <li>
            <a href="services/" go-to="" state="services">{l}Interventions{endl}</a>
            <button type="button" class="btn btn-primary btn-add" go-to="" state="service.edit" params='{"service_id": "tmp"}' uib-tooltip="{l}Add{endl}" tooltip-placement="top"><span class="btn-add_icon"><span class="icon-bar"></span><span class="icon-bar-2"></span></span></button>
          </li>
          <li class="active" ng-if="show_settings.view_all_interventions">
            <a href="rec_services/" go-to="" state="rec_services">{l}Recurring Interventions{endl}</a>
            <button type="button" class="btn btn-primary btn-add" go-to="" state="rec_service.edit" params='{ "service_id": "tmp","is_recurring": true }' uib-tooltip="{l}Add{endl}" tooltip-placement="top"><span class="btn-add_icon"><span class="icon-bar"></span><span class="icon-bar-2"></span></span></button>
          </li>
          <li ng-if="show_settings.view_all_interventions">
            <a href="planning/" go-to="" state="planning">{l}Planning{endl}</a>
          </li>
          <li ng-if="show_settings.view_all_interventions">
            <a href="teams/" go-to="" state="teams">{l}Teams{endl}</a>
            <button type="button" class="btn btn-primary btn-add" ui-sref="team.edit({'team_id': 'tmp'})" uib-tooltip="{l}Add{endl}" tooltip-placement="top"><span class="btn-add_icon"><span class="icon-bar"></span><span class="icon-bar-2"></span></span></button>
          </li>
          <li ng-if="show_settings.view_all_interventions">
            <a href="serviceModels/" go-to="" state="serviceModels">{l}Model Interventions{endl}</a>
            <button type="button" class="btn btn-primary btn-add" go-to="" state="service.addModel" params='{"template_id": "tmp"}' uib-tooltip="{l}Add{endl}" tooltip-placement="top"><span class="btn-add_icon"><span class="icon-bar"></span><span class="icon-bar-2"></span></span></button>
          </li>
        </ul>       
        <div class="tab-content">
            <div class="tab-pane active">
              <div class="row page-search page-search-options">
                <form>
                  <div class="col-sm-12">
                    <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                      <div class="so-field" ng-class="{ 'so-active':search.search!='' }">
                        <span class="glyphicon glyphicon-search so-icon"></span>
                        <input type="text" class="form-control" placeholder="{l}Search{endl}" search-it doit="search" callbk="renderList" ng-model="search.search">
                        <span class="glyphicon glyphicon-remove so-icon so-remove" ng-click="toggleSearchButtons('search','')"></span>
                      </div><!-- /.input-search -->
                    </div><!-- /.page-search_options -->
                    </div>
                  </div>
                    <div class="page-search-button">
                      <div class="btn-group" uib-dropdown>
                          <button type="button" class="btn btn-tertiary dropdown-toggle" uib-dropdown-toggle>
                              <span class="caret"></span>
                          </button>
                          <ul class="dropdown-menu dropdown-menu-right" uib-dropdown-menu>
                              <li ng-if="!search.archived"><a href="#" ng-click="archived(1)"><span class="fas fa-archive new_archive" ></span> {l}Archived{endl}</a></li>
                              <li ng-if="search.archived"><a href="#" ng-click="archived(0)"><span class="fa fa-list-ul" ></span> {l}Active{endl}</a></li>
                          </ul>
                      </div>
                  </div>
                </form>
            </div><!-- /.page-search -->
            <div class="row page-content">
              <div class="col-xs-12">
                <table class="table active_rows interventionTable rec_serv">
                  <thead>
                    <tr>
                      <th class="col-sm-3 sortable_row" ng-class="{ 'sortable_row-up':(!reverse && ord=='rec_next_date'), 'sortable_row-down':(reverse && ord=='rec_next_date') }" ng-click="orderBY('rec_next_date')">{l}Next Date{endl}</th>
                      <th class="col-sm-4 sortable_row" ng-class="{ 'sortable_row-up':(!reverse && ord=='customer_name'), 'sortable_row-down':(reverse && ord=='customer_name') }" ng-click="orderBY('customer_name')">{l}Account Name{endl}</th>
                      <th class="col-sm-4 sortable_row" ng-class="{ 'sortable_row-up':(!reverse && ord=='subject'), 'sortable_row-down':(reverse && ord=='subject') }" ng-click="orderBY('subject')">{l}Subject{endl}</th>
                      <th class="col-sm-1 table_actions text-right">{l}Action{endl}</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr ng-repeat="item in list">
                      <td go-to="" state="rec_service.edit" params='{"service_id": {{::item.service_id}}}' list='{ "type":"maintenance-rec_services", "obj": { "search":{{search}} } }'>
                           <a href="rec_service/edit/{{item.service_id}}" class="color-dark"><span ng-if="item.planeddate != 0">{{item.next_date}}</span> <small class="text-muted">({{::item.frequency}})</small></a>
                      </td>
                      <td go-to="" state="rec_service.edit" params='{"service_id": {{::item.service_id}}}' list='{ "type":"maintenance-rec_services", "obj": { "search":{{search}} } }'>
                          <a href="rec_service/edit/{{item.service_id}}" class="color-dark">{{item.customer_name ? item.customer_name : item.contact_name}}</a>
                      </td>
                      <td go-to="" state="rec_service.edit" params='{"service_id": {{::item.service_id}}}' list='{ "type":"maintenance-rec_services", "obj": { "search":{{search}} } }'>
                          <a href="rec_service/edit/{{item.service_id}}" class="color-dark">{{::item.subject}}</a>
                      </td>
                      <td class="table_actions">
                        <div class="btn-group" uib-dropdown>
                          <button type="button" class="btn btn-plain dropdown-toggle" uib-dropdown-toggle>
                            <span class="caret"></span>
                          </button>
                          <ul class="dropdown-menu dropdown-menu-right" uib-dropdown-menu>
                            <li class="dropdown-header">{l}Action{endl}</li>
                            <li>
                                <a href="#" go-to="" state="rec_service.edit" params='{"service_id": {{::item.service_id}}}' list='{ "type":"maintenance-rec_services", "obj": { "search":{{search}} } }'><span class="fas fa-pen text-primary"></span> {l}Edit{endl}</a>
                            </li>
                            <li ng-if="search.archived==0">
                                 <a href="#" ng-click="action(item,'archive_link')" confirm-title="{{item.confirm}}" confirm-ok="{{item.ok}}" confirm-cancel="{{item.cancel}}" confirm="{l}Are you sure, you wanna archive this entry?{endl}"><span class="fas fa-archive text-primary"></span> {l}Archive{endl}</a>
                            </li>
                            <li ng-if="search.archived==1">
                                 <a href="#" ng-click="action(item,'activate_link')" confirm-title="{{item.confirm}}" confirm-ok="{{item.ok}}" confirm-cancel="{{item.cancel}}" confirm="{l}Are you sure, you wanna revert this entry?{endl}"><span class="glyphicon glyphicon-repeat text-primary"></span> {l}Revert{endl}</a>
                            </li>
                            <li ng-if="search.archived==1">
                              <a href="#" ng-click="action(item,'delete_link')" confirm-title="{{item.confirm}}" confirm-ok="{{item.ok}}" confirm-cancel="{{item.cancel}}" confirm="{l}Are you sure, you wanna delete this entry?{endl}"><span class="fas fa-trash-alt text-primary"></span> {l}Delete{endl}</a>
                            </li>
                          </ul>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div><!-- /.page-content -->
             </div>
        </div>
    </div>
    <div class="col-sm-12">
        <div class="col-sm-8">
            <ul ng-if="max_rows && max_rows > lr" uib-pagination total-items="max_rows" ng-model="search.offset" ng-change="searchThing()" max-size="5" class="pager" boundary-links="true" items-per-page="lr"></ul>
        </div>
        <div class="col-sm-4 text-right">
            <label ng-if="max_rows">{l}Number of recurring interventions{endl}: <strong>{{max_rows}}</strong></label>
        </div>
    </div>
  
<!--  <ul ng-if="max_rows > 30" uib-pagination total-items="max_rows" ng-model="search.offset" ng-change="searchThing()" max-size="5" class="pager" boundary-links="true" items-per-page="lr" ></ul>-->
</div><!-- neede on all pages -->
