<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="vm.cancel()"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title">{l}Planned interventions{endl}</h4>
</div>
<div class="modal-body">
    <div class="loading_wrap loading_alt hidden">
        <div class="loading"></div>
        <div class="spinner"></div>
    </div>
    <!-- <div uib-alert ng-repeat="alert in vm.alerts" type="{{alert.type}}" close="vm.alerts.splice($index, 1);" dismiss-on-timeout="3500" ng-class="['alert-' + (alert.type || 'warning'), 'alert-fixed']">{{alert.msg}}</div> -->
    <div class="col-sm-12 form-horizontal">
        <div class="row col-bottom form-horizontal">
            <div class="col-xs-12">
                <div class="row page-header">
                    <div class="col-xs-5">
                        <h2>{l}Overview for{endl}
                            <selectize config='vm.teamAutoCfg' options='vm.planning.select' ng-model="vm.search.team_id" placeholder="{l}A Team{endl}"></selectize>
                        </h2>
                    </div>
                    <div class="col-xs-7 text-right">
                        <div class="btn-group btn-group-calendar" role="group">
                            <button type="button" class="btn btn-square btn-plain" ng-click="vm.navigate(-1)"><span class="glyphicon glyphicon-chevron-left"></span></button>
                            <span class="calendar-date">{{vm.planning.date_txt}}</span>
                            <button type="button" class="btn btn-square btn-plain" ng-click="vm.navigate(+1)"><span class="glyphicon glyphicon-chevron-right"></span></button>
                        </div>
                        <div class="btn-inline col-left text-left">
                            <selectize class="selectize-control-sm" config='vm.typeCfg' options='vm.types' ng-model="vm.search.activeType"></selectize>
                        </div>
                    </div>
                </div>
                <div class="planning planning_groups planning_groups_week" ng-if="vm.search.activeType=='1'">
                    <div class="planning_header clearfix">
                        <div class="planning_row_user"></div>
                        <div class="planning_row_content">
                            <div class="planning_cell" ng-repeat="item in vm.planning.days_nr" ng-class="{ 'weekend_dates' : item.end_day }">{{item.day_name}} {{item.date_month}}</div>
                        </div>
                    </div>
                    <!-- /.planning_header -->
                    <div class="planning_row clearfix" ng-repeat="item in vm.planning.user_data">
                        <div class="planning_row_user">
                            <div class="planning_user_thumb">
                                <span class="fa fa-user"></span>
                            </div>
                            <div class="planning_user">
                                <span class="text-ellipsis pull-left">{{item.name}}</span>
                                <a ng-if="!item.added" class="add_user_plann" uib-tooltip="{l}Add User{endl}" tooltip-placement="left" ng-click="vm.userPlan(item)"><span class="fa fa-plus icon-holder"></span></a>
                                <a ng-if="item.added" class="add_user_plann" uib-tooltip="{l}Remove User{endl}" tooltip-placement="left" ng-click="vm.rmuserPlan(item)"><span class="fa fa-check icon-holder icon-checked"></span></a>
                            </div>
                        </div>
                        <!-- /.planning_header -->
                        <div class="planning_row_content">
                            <div class="planning_cell" id="master{{item.user_id}}_{{item2.tmsp}}" ng-repeat="item2 in item.data" ng-class="{ 'bg-grey' : item2.block_day}" my-drop='true' nuser="{{$parent.$index}}" on-drop="vm.dropped(line,origin_tmsp, dest_tmsp)">
                                <div class="planning_details link-pointer" id="drag{{item.user_id}}_{{item2.tmsp}}" ng-class="{ 'bg-primary':item2.is_proposed, 'bg-success' : item2.service_nr<5 && item2.service_nr>0 && !item2.is_proposed, 'bg-warning' : item2.service_nr>=5 && item2.service_nr<=7 && !item2.is_proposed, 'bg-danger':item2.service_nr>7 && !item2.is_proposed }"
                                    draggable="{{item2.is_proposed}}" my-dragg='true' nuser="{{$parent.$index}}" nday="{{$index}}"></div>
                            </div>
                        </div>
                        <!-- /.planning_row_content -->
                    </div>
                    <!-- /.planning_row -->
                </div>
                <!-- /.planning_groups_week -->
                <div class="planning planning_groups planning_groups_month" ng-if="vm.search.activeType=='2'">
                    <div class="planning_header clearfix">
                        <div class="planning_row_user"></div>
                        <div class="planning_row_content">
                            <div class="planning_cell" ng-repeat="item in vm.planning.days_nr" ng-class="{ 'weekend_dates' : item.end_day }">{{item.day}}</div>
                        </div>
                    </div>
                    <!-- /.planning_header -->
                    <div class="planning_row clearfix" ng-repeat="item in vm.planning.user_data">
                        <div class="planning_row_user">
                            <div class="planning_user_thumb">
                                <span class="fa fa-user"></span>
                            </div>
                            <div class="planning_user">
                                <span class="text-ellipsis">{{item.name}}</span>
                                <a ng-if="!item.added" class="add_user_plann" uib-tooltip="{l}Add User{endl}" tooltip-placement="left" ng-click="vm.userPlan(item)"><span class="fa fa-plus icon-holder"></span></a>
                                <a ng-if="item.added" class="add_user_plann" uib-tooltip="{l}Remove User{endl}" tooltip-placement="left" ng-click="vm.rmuserPlan(item)"><span class="fa fa-check icon-holder icon-checked"></span></a>
                            </div>
                        </div>
                        <!-- /.planning_row_user -->
                        <div class="planning_row_content">
                            <div class="planning_cell" id="master{{item.user_id}}_{{item2.tmsp}}" ng-repeat="item2 in item.data" ng-class="{ 'bg-grey' : item2.block_day}" my-drop='true' nuser="{{$parent.$index}}" on-drop="vm.dropped(line,origin_tmsp, dest_tmsp)">
                                <div class="planning_details link-pointer" id="drag{{item.user_id}}_{{item2.tmsp}}" ng-class="{ 'bg-primary':item2.is_proposed, 'bg-success' : item2.service_nr<5 && item2.service_nr>0 && !item2.is_proposed, 'bg-warning' : item2.service_nr>=5 && item2.service_nr<=7 && !item2.is_proposed, 'bg-danger':item2.service_nr>7 && !item2.is_proposed }"
                                    draggable="{{item2.is_proposed}}" my-dragg='true' nuser="{{$parent.$index}}" nday="{{$index}}"></div>
                            </div>
                        </div>
                        <!-- /.planning_row_content -->
                    </div>
                    <!-- /.planning_row -->
                </div>
                <!-- /.planning_groups_month -->

            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-plain" type="button" ng-click="vm.cancel()">{l}Cancel{endl}</button>
    <button class="btn btn-default" type="button" ng-click="vm.ok()">{l}Save{endl}</button>
</div>