<div class="container"><!-- neede on all pages -->
  <div class="page-header">
    <div class="row">
      <div class="col-md-12">
        <h1>{l}Interventions{endl}</h1>
      </div>
    </div>
  </div><!-- /.page-header -->
  <div class="row page-content">
    <div class="col-md-12">
      <ul class="nav nav-tabs tabs-default">
        <li role="presentation" class="active"><a href="#planning" aria-controls="planning" data-toggle="tab" ng-click="loadPlanning()">{l}Planning{endl}</a></li>
        <li role="presentation"><a href="#interventions" aria-controls="interventions" data-toggle="tab" ng-click="load()">{l}Interventions{endl}</a></li>
      </ul>
      <div class="tab-content">
      	<div class="tab-pane fade in active" id="planning">
          <div class="section-content">
            <!-- <div class="row">
                <div class="col-md-12">
                  <table class="table">
                    <thead>
                      <tr>
                        <th>{l}Planned date{endl}</th>
                        <th class="text-center">{l}Service{endl}</th>
                        <th class="text-center">{l}Company Name{endl}</th>
                        <th class="text-center">
                          <div class="checkbox checkbox-primary">
                              <input type="checkbox" ng-model="listObj.check_add_all" ng-click="markAsSeenList()" >
                              <label for="checkbox_all"></label>
                          </div>   
                        </th>
                      
                        <th class="col-sm-1 table_actions">
        
                                        <div class="btn-group" uib-dropdown>
                                            <button type="button" class="btn btn-tertiary dropdown-toggle" uib-dropdown-toggle>
                                                <span class="caret"></span>
                                            </button>
                                            <ul class="dropdown-menu dropdown-menu-right" uib-dropdown-menu>
                                                <li >
                                                    <a href="#" ng-click="markAsSeen()" ><span class="fa fa-trash text-primary"></span> {l}Mark as seen{endl}</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr ng-repeat="item in intNotSeen">
                        <td>{{item.date}}</td>
                        <td class="text-center">{{item.subject}}</td>
                        <td class="text-center">{{item.contact_name}}</td>
                        <td class="text-center">
                          <div class="checkbox checkbox-primary">
                              <input type="checkbox" ng-model="item.check_add_to_product" ng-click="markAsSeenList(item)" >
                              <label for="checkbox_all"></label>
                          </div> 
                          </td>
                        <td class="table_actions  text-right">
                          <div class="btn-group" uib-dropdown>
                            <button type="button" class="btn btn-plain dropdown-toggle" uib-dropdown-toggle>
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu dropdown-menu-right" uib-dropdown-menu>
                                <li class="dropdown-header">{l}Action{endl}</li>
                                <li>
                                  <a href="#" ui-sref="service.view({'service_id': item.service_id})"><span class="glyphicon glyphicon-info-sign text-primary"></span> {l}Info{endl}</a>
                                </li>
                                <li >
                                  <a href="#" ng-click="markAsSeen(item)" ><span class="fa fa-trash text-primary"></span> {l}Mark as seen{endl}</a>
                                 </li>
                            </ul>
                          </div>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
            </div> -->
            <div class="page-header">
              <div class="row">
                <div class="col-md-5 service_ts">
                  <h2><span>{l}Intervention sheet for{endl}</span><div class="selectize_holder"><selectize config='userAutoCfg' options='auto.options.user' ng-model="planning.user_id"></selectize><i class="fa fa-times cursor_pointer" aria-hidden="true" ng-click="planning.user_id=undefined"></i></div></h2>
                </div>
                <div class="col-md-7 text-right">
                  <div class="btn-group btn-group-calendar" role="group" ng-if="activeType<3">
          					<button type="button" class="btn btn-square btn-plain" ng-click="navigate(-1)"><span class="glyphicon glyphicon-chevron-left"></span></button>
          					<span class="calendar-date">{{planning.week_txt}}</span>
          					<button type="button" class="btn btn-square btn-plain" ng-click="navigate(+1)"><span class="glyphicon glyphicon-chevron-right"></span></button>
                  </div>
                  <div class="btn-group btn-group-calendar" role="group" ng-if="activeType==3">
                    <button type="button" class="btn btn-square btn-plain" ng-click="navigate_month(-1)"><span class="glyphicon glyphicon-chevron-left"></span></button>
                    <span class="calendar-date">{{planning.month_txt}}</span>
                    <button type="button" class="btn btn-square btn-plain" ng-click="navigate_month(+1)"><span class="glyphicon glyphicon-chevron-right"></span></button>
                  </div>
                  <div class="btn-inline col-left text-left" ng-show="activeType<3">
                    <span class="glyphicon glyphicon-calendar so-icon" ng-model="start_date" uib-datepicker-popup="{{format}}" is-open="datePickOpen.start_date" datepicker-options="dateOptions" close-text="Close" show-button-bar="false" ng-click="datePickOpen.start_date=true" ng-change="changeDate()"></span>
                  </div>                
                  <div class="btn-inline col-left text-left">
                    <selectize placeholder="{l}Overview{endl}" config='typeCfg' options='types' ng-model="activeType"></selectize>
                  </div>
                </div>
              </div>
            </div><!-- /.page-header -->
            <div class="planning" ng-if="activeType<3">
              <div class="planning_header clearfix">
                {loop:day_row}
                  <div class="small timestamp pull-left {NO_MARGIN}">
                    <div><span>{{planning.week_days[{inc}].day_name}}</span>, <span class="month">{{planning.week_days[{inc}].date_month}}</span></div>
                  </div>
                {endloop}
              </div>
              <div class="planning_overflow">
                <div class="planning_body {{planning.is_top_class}}" ng-scrollbars ng-scrollbars-config="scroll_config">
                  {loop:day_body_rows}
                    <div class="planning_row clearfix">
                      {loop:day_cells}
                        <div class="planning_cell_wrap pull-left">
                          <div class="planning_cell">{hour}</div>
                        </div>
                      {endloop}
                    </div>
                  {endloop}
                  <div class="entry {{item.phour}} {{item.pduration}} {{item.pday}} {{item.pwidth}}" style="border-color:{{item.color_ball}}" ng-repeat="item in planning.planning" ng-click="modal(item,'template/viewIntervention','viewInterventionCtrl')">
                    <small ng-class="{ 'text-muted':item.status==2 }" ng-style="{'color': item.status!=2 ? item.color_ball : ''}"><del ng-if="item.status==2">{{item.start_time}}</span></del><span ng-if="item.status!=2">{{item.start_time}}</span></small>
										<p class="text-ellipsis" ng-class="{ 'text-muted':item.status==2 }" ng-style="{'color': item.status!=2 ? item.color_ball : ''}" title="{{item.c_name}}"><del ng-if="item.status==2">{{item.c_name}}</del><span ng-if="item.status!=2">{{item.c_name}}</span></p>
                    <p class="hide" ng-class="{ 'text-muted':item.status==2 }" ng-style="{'color': item.status!=2 ? item.color_ball : ''}"><del ng-if="item.status==2">{{item.start_time}}</span></del><span ng-if="item.status!=2">{{item.start_time}}</span></p>
                    <small class="text-ellipsis" ng-class="{ 'text-muted':item.status==2 }" ng-style="{'color': item.status!=2 ? item.color_ball : ''}" title="{{item.serial_number}}"><del ng-if="item.status==2">{{item.serial_number}}</del><span ng-if="item.status!=2">{{item.serial_number}}</span></small>
                  </div><!-- /.entry -->
                </div><!-- /.planning_body -->
                <div class="planning_top" ng-if="planning.is_top">
                  <div class="entry {{item.pday}} {{item.pwidth}}" style="border-color:{{item.color_ball}}" ng-repeat="item in planning.planningAllDay" ng-click="modal(item,'template/viewIntervention','viewInterventionCtrl')">
                    <p class="text-ellipsis" ng-class="{ 'text-muted':item.status==2 }" ng-style="{'color': item.status!=2 ? item.color_ball : ''}" title="{{item.c_name}}"><del ng-if="item.status==2">{{item.c_name}}</del><span ng-if="item.status!=2">{{item.c_name}}</span></p>
                    <small class="text-ellipsis" ng-class="{ 'text-muted':item.status==2 }" ng-style="{'color': item.status!=2 ? item.color_ball : ''}" title="{{item.serial_number}}"><del ng-if="item.status==2">{{item.serial_number}}</del><span ng-if="item.status!=2">{{item.serial_number}}</span></small>
                  </div><!-- /.entry -->
                </div><!-- /.planning_top -->
              </div><!-- /.planning_overflow -->
            </div><!-- /.planning -->
            <div class="planning planning_month" ng-if="activeType==3">
              <div class="planning_header clearfix">
                  <div class="small timestamp pull-left">
                    <div><span>{l}Mon{endl}</span></div>                  
                  </div>
                  <div class="small timestamp pull-left">
                    <div><span>{l}Tue{endl}</span></div>                  
                  </div>
                  <div class="small timestamp pull-left">
                    <div><span>{l}Wed{endl}</span></div>                  
                  </div>
                  <div class="small timestamp pull-left">
                    <div><span>{l}Thu{endl}</span></div>                  
                  </div>
                  <div class="small timestamp pull-left">
                    <div><span>{l}Fri{endl}</span></div>                  
                  </div>
                  <div class="small timestamp pull-left">
                    <div><span>{l}Sat{endl}</span></div>                  
                  </div>
                  <div class="small timestamp pull-left">
                    <div><span>{l}Sun{endl}</span></div>                  
                  </div>
              </div>
              <div class="planning_body">
                <div class="planning_row clearfix" ng-repeat="week in planning.week">
                    <div class="planning_cell_wrap pull-left" ng-repeat="day in week.day">
                      <div class="planning_cell {{day.planning_empty}}">
                        <span class="planning_date">{{day.text}}</span>
                        <div class="planning_entry" ng-repeat="item in day.data|limitTo:3" ng-class="{  'text-muted':item.status==2 }" ng-style="{'color': item.status!=2 ? item.color_ball : ''}" ng-click="modal(item,'template/viewIntervention','viewInterventionCtrl')">
                          <small ng-if="!item.top"><span>{{item.start_time}}</span> <span ng-if="item.pduration">- {{item.end_time}}</span></small>
                          <div class="text-ellipsis"><del ng-if="item.status==2">{{item.c_name}}</del> <span ng-if="item.status!=2">{{item.c_name}}</span></div>
                        </div>
                        <div class="planning_details" ng-show="day.data_nr>3">
                          <a href="#" class="planning_details_btn" ng-click="showMore($event,day)"><span class="fa fa-ellipsis-h"></span></a>
                          <div class="cell_c"></div>
                        </div>
                      </div>
                    </div>
                </div>
              </div>
            </div><!-- /.planning -->
          </div><!-- /.section-content -->
        </div>
        <!-- /.tab-pane -->
        <div class="tab-pane fade" id="interventions">
  	        <div class="section-content">
  	          <div class="row page-search">
  	              <form>
                    <div class="col-md-10 col-sm-10 col-md-10 col-lg-10">
                      <div class="so-field" ng-class="{ 'so-active':search.search!='' }">
                        <span class="glyphicon glyphicon-search so-icon"></span>
                        <input type="text" class="form-control" placeholder="{l}Search{endl}" search-it doit="search" callbk="renderList" ng-model="search.search">
                        <span class="glyphicon glyphicon-remove so-icon so-remove" ng-click="toggleSearchButtons('search','')"></span>
                      </div><!-- /.input-search -->
                    </div><!-- /.page-search_options -->
                    <div class="col-sm-2">
                      <div class="btn-group btn-block">
                        <selectize placeholder="{l}All Statuses{endl}" config='filterCfg' options='views' ng-model="activeView" ></selectize>
                      </div>
                    </div>
                </form>
  	          </div><!-- /.page-search -->
  	          <div class="row">
  	              <div class="col-md-12">
  	                <table class="table active_rows interventionTable">
  	                  <thead>
  	                    <tr>
  	                      <th class="col-sm-2">{l}Intervention{endl}</th>
  	                      <th class="col-sm-2">{l}Planed date{endl}</th>
  	                      <th class="col-sm-3">{l}Customer{endl}</th>
  	                      <th class="col-sm-4">{l}Subject{endl}</th>
  	                      <th class="col-sm-1 table_actions text-right">{l}Action{endl}</th>
  	                    </tr>
  	                  </thead>
  	                  <tbody>
  	                    <tr ng-repeat="item in list" class="collapseTr">
  	                      <td class="expand_row">
                            <span class="glyphicon glyphicon-plus btn-expand" ng-click="showStats(item,$index)" ng-class="{ 'glyphicon-minus': item.isopen }" ></span>
                            <span go-to="" state="service.view" params='{"service_id": {{item.service_id}}}'><span ng-if="item.status!=2" class="item-status item-status-gray" ng-class="{ 'item-status-green':item.status==1, 'item-status-yellow':item.planeddate!=0 && item.status==0 }"></span> {{item.number}}</span>
                          </td>
  	                      <td go-to="" state="service.view" params='{"service_id": {{item.service_id}}}'>{{item.planedd}}</td>
  	                      <td go-to="" state="service.view" params='{"service_id": {{item.service_id}}}'>{{item.NAME}}<uib-rating ng-model="item.rating" max="5"
  	                      readonly="item.accepted" class="pull-right stars" ng-if="item.accepted" ></uib-rating></td>
  	                      <td go-to="" state="service.view" params='{"service_id": {{item.service_id}}}'>{{item.subject}}</td>
  	                      <td class="table_actions text-right">
                            <div class="btn-group" uib-dropdown>
                              <button type="button" class="btn btn-plain dropdown-toggle" uib-dropdown-toggle>
                                  <span class="caret"></span>
                              </button>
                              <ul class="dropdown-menu dropdown-menu-right" uib-dropdown-menu>
                                <li class="dropdown-header">{l}Action{endl}</li>
                                <li>
                                    <a href="#" go-to="" state="service.view" params='{"service_id": {{::item.service_id}}}' list='{ "type":"maintenance-planning", "obj": { "search":{{search}} } }'><span class="fas fa-pen text-primary"></span> {l}Edit{endl}</a>
                                </li>
                              </ul>
                            </div>
  	                        <!-- <a href="#" ui-sref="service.edit({'service_id': item.service_id})"><span class="fas fa-pen"></span></a> -->
  	                      </td>
  	                    </tr>
  	                  </tbody>
  	                </table>
  	              </div>
  	          </div>
  	          <!-- <pag-custom pages="pager" refresh="rederList()" doit='maintenance-planning' xget="intervention"></pag-custom> -->
              <ul ng-if="max_rows > 30" uib-pagination total-items="max_rows" ng-model="search.offset" ng-change="searchThing()" max-size="5" class="pager" boundary-links="true" items-per-page="lr" ></ul>
  	        </div><!-- /.section-content -->
  	    </div><!-- /.tab-pane -->
  	  </div><!-- /.tabs-content -->
    </div>
  </div><!-- /.page-content -->
</div><!-- neede on all pages -->