<style>
body {  color: #000;  font-family: Arial, Helvetica, sans-serif;  font-size: 9pt; }
h1 { font-size:10pt; font-weight:normal; }
table { border-collapse: collapse; border-spacing: 0; }
p { font-size: 9pt; margin: 0pt; padding: 0pt; }
small { font-size: 7pt; }
ol, ul { padding: 0pt; margin: 0pt; font-size: 9pt; }
ol li, ul li{ font-size: 9pt; padding: 0pt; margin: 0pt; }
table td{ font-size: 9pt; }
.border_bottom { border-bottom: 1px solid #ccc; }
.invoice_rows{ border-bottom: 1px solid #ccc; }
.invoice_rows .th { border: 1px solid #ccc; color: #000;  font-size: 9pt; font-weight: bold;  padding-left: 10px; text-align: center; }
.invoice_rows td {  border: 1px solid #ccc; vertical-align:middle;  font-size: 9pt; text-align:right; }
/*.invoice_rows .last { border-right: 1px solid #ccc; }*/
.hide { display:none; }
.right { text-align:right; }

.wizwig_content{margin:0;padding:0;}
.wizwig_content p,.wizwig_content dl{display: block;margin-bottom: 1em;margin-left: 0;margin-right: 0;margin-top: 1em;}
.wizwig_content blockquote,.wizwig_content figure {display: block;margin-bottom: 1em;margin-left: 40px;margin-right: 40px;margin-top: 1em;}
.wizwig_content address{display: block;font-style: italic;}
.wizwig_content center {display: block;}
.wizwig_content h1{color:#000000;display: block;font-size: 2em;font-weight: bold;margin-bottom: 0.67em;margin-left: 0;margin-right: 0;margin-top: 0.67em;}
.wizwig_content h2{display: block;font-size: 1.5em;font-weight: bold;margin-bottom: 0.83em;margin-left: 0;margin-right: 0;margin-top: 0.83em;}
.wizwig_content h3{display: block;font-size: 1.17em;font-weight: normal;margin-bottom: 1em;margin-left: 0;margin-right: 0;margin-top: 1em;}
.wizwig_content h4{display: block;font-size: 1em;font-weight: bold;margin-bottom: 1.33em;margin-left: 0;margin-right: 0;margin-top: 1.33em;}
.wizwig_content h5{display: block;font-size: 0.83em;font-weight: bold;margin-bottom: 1.67em;margin-left: 0;margin-right: 0;margin-top: 1.67em;}
.wizwig_content h6{display: block;font-size: 0.67em;font-weight: bold;margin-bottom: 2.33em;margin-left: 0;margin-right: 0;margin-top: 2.33em;}
.wizwig_content listing {display: block;font-size: medium;margin-bottom: 1em;margin-left: 0;margin-right: 0;margin-top: 1em;white-space: pre;}
.wizwig_content xmp,.wizwig_content pre,.wizwig_content plaintext {display: block;margin-bottom: 1em;margin-left: 0;margin-right: 0;margin-top: 1em;white-space: pre;}
.wizwig_content q:before{content: open-quote;}
.wizwig_content q:after{content: close-quote;}
.wizwig_content b,.wizwig_content strong{font-weight: bolder;}
.wizwig_content i,.wizwig_content cite,.wizwig_content em,.wizwig_content var,.wizwig_content dfn{font-style: italic;}
.wizwig_content tt,.wizwig_content code,.wizwig_content kbd,.wizwig_content samp{font-family: -moz-fixed;}
.wizwig_content big{font-size: larger;}
.wizwig_content small{font-size: smaller;}
.wizwig_content sub{font-size: smaller;line-height: normal;vertical-align: sub;}
.wizwig_content sup{font-size: smaller;line-height: normal;vertical-align: super;}
.wizwig_content mark{background-attachment: scroll;background-clip: border-box;background-color: #FFFF00;background-image: none;background-position: 0 0;background-repeat: repeat;color: #000000;}
.wizwig_content ul,.wizwig_content menu,{display: block;list-style-type: disc;margin-bottom: 1em;margin-left: 0;margin-right: 0;margin-top: 1em;}
.wizwig_content ol{display: block;list-style-type: decimal;margin-bottom: 1em;margin-left: 0;margin-right: 0;margin-top: 1em;}
.wizwig_content li {display: list-item;}
.border{ border-top:1pt solid #ccc; border-left:1pt solid #ccc; }
.bot { border-bottom:1pt solid #ccc; }
.lst { border-right:1pt solid #ccc; }
.bordertop { border-top:1pt solid #ccc; }
</style>
<table cellpadding="0" cellspacing="0" border="0" width="760"  style="border-bottom:1pt solid #ccc;">
  <tr>
    <td width="260" valign="top"><img src="{ACCOUNT_LOGO_Q}" {ATTR} ></td>
    <td><table cellpadding="0" cellspacing="0" border="0">
        <tr>
          <td style="border-bottom:1pt solid #ccc; text-align:right; font-size:14pt;"><strong>{intervention}</strong></td>
        </tr>
        <tr>
          <td height="10"></td>
        </tr>
        <tr>
          <td style="text-align:right;">{serial_number}: {BUYER_REFERENCE} {SERIAL_NUMBER}</td>
        </tr>
        <tr>
          {if:QUOTE_DATE}<td style="text-align:right;">{DATE_TXT}: {QUOTE_DATE}</td>{end}
        </tr>
      </table></td>
  </tr>
  <tr>
    <td height="5"></td>
  </tr>
</table>
<table cellpadding="0" cellspacing="0" border="0" width="100%">
  <tr>
    <td colspan="2"></td>
  </tr>
  <tr>
    <td valign="top" width="50%"><h1>{SELLER_NAME}</h1><br />
      {SELLER_D_ADDRESS}  <br/>
      {SELLER_D_ZIP} {SELLER_D_CITY} <br/>
      {SELLER_D_COUNTRY}<br />
      {if:SHOW_P}<span class="{HIDE_P}">{PHONE_TXT}: {SELLER_B_PHONE}<br /></span>{end}
      {if:SHOW_F}<span class="{HIDE_F}">{FAX_TXT}: {SELLER_B_FAX}<br /></span>{end}
      {if:SHOW_E}<span class="{HIDE_E}">{EMAIL_TXT}: {SELLER_B_EMAIL}<br /></span>{end}
      {if:SHOW_U}<span class="{HIDE_U}">{URL_TXT}: {SELLER_B_URL}<br /></span>{end}
     </td>
    <td valign="top" width="50%"><h1 class="{HIDE_CUSTOMER}">{BUYER_NAME}</h1>{QUOTE_CONTACT_NAME}<br/>
      {free_field}<br/>
      {contact_email}
      <br/>
      {contact_phone}
      <!-- <h1 class="{HIDE_DELIVERY}">{BILLING_ADDRESS_TXT}</h1>{DELIVERY_ADDRESS} -->
    </td>
  </tr>
  <tr><td colspan="2" height="18"></td></tr>
</table>
{if:users_exist}
<h3 >{Interventionreport}</h3>
<table width="100%" class="intervention_table" >
    <thead>
        <tr >
            <th class="border">{Staff}</th>
            <th class="border">{DATE_TXT}</th>
            <th class="border">{Starttime}</th>
            <th class="border">{Endtime}</th>
            <th class="border">{Break}</th>
            <th class="border lst">{Total}</th>
        </tr>
    </thead>
    <tbody>
        {loop:intervention}
        <tr>
            <td class="border">{user}</td>
            <td class="border">{DATE}</td>
            <td class="border">{start_time}</td>
            <td class="border">{end_time}</td>
            <td class="border">{break}</td>
            <td class="border lst">{hours}</td>
        </tr>
        {endloop}
        <tr class="last">
            <td class="border bot"colspan="5" style="text-align:right">{Total}:</td>
            <td class="border bot lst">{total_h}</td>
        </tr>
    </tbody>
</table>
{end}
{if:is_exp}
<h3>{Interventionexpenses}</h3>
<table width="100%" class="intervention_table">
    <thead>
        <tr>
            <th width="40%" class="border">{Name}</th>
            <th width="30%" class="border">{DATE_TXT}</th>
            <th width="30%" class="border lst">{Total}</th>
        </tr>
    </thead>
    <tbody>
        {loop:intervention_exp}
        <tr>
            <td class="border" width="40%">{name}</td>
            <td class="border" width="30%">{DATE}</td>
            <td class="border lst" width="30%">{hours}</td>
        </tr>
        {endloop}
        <tr class="last">
            <td class="border bot"colspan="2" style="text-align:right">{Total}:</td>
            <td class="border bot lst">{total_exp}</td>
        </tr>
    </tbody>
</table>{end}
<!-- <p style="font-size:11px;">{intervention_report}</p> -->
<!--<h3>{l}Users{endl}</h3>
<p>
    {loop:users}
    {sign}<span style="font-size:11px;">{name}</span>
    {endloop}
<p>-->
{if:tasks_exist}
<h3>{Tasks}</h3>
<ul class="tasks">
    {loop:task}
    <li>
        <b>{name}</b>{if:closed}<span class="task_closed"> {l}Done{endl}</span>{end}
        <p>{comment}</p>
    </li>
    {endloop}
</ul>
{end}
{if:expens}<h3>{Purchases}</h3>
<table width="100%" class="intervention_table">
    <thead>
        <tr>
            <th class="border">{Name}</th>
            <th class="border">{Quantity}</th>
            <th class="border">{Price}</th>
            <th class="border lst">{Delivered}</th>
        </tr>
    </thead>
    <tbody>
        {loop:expenses}
        <tr>
            <td class="border">{name}</td>
            <td class="border">{quantity}</td>
            <td class="border">{price}</td>
            <td class="border lst">{delivered}</td>
        </tr>
        {endloop}
        <tr>
            <th class="bordertop"></th>
            <th class="bordertop"></th>
            <th class="bordertop"></th>
            <th class="bordertop"></th>
        </tr>
    </tbody>
</table>{end}
{if:article}<h3>{Articles}</h3>
<table width="100%" class="intervention_table">
    <thead>
        <tr>
            <th class="border">{Name}</th>
            <th class="border">{Quantity}</th>
            <th class="border">{Price}</th>
            <th class="border lst">{TobeDelivered}</th>
        </tr>
    </thead>
    <tbody>
        {loop:articles}
        <tr>
            <td class="border">{name}</td>
            <td class="border">{quantity}</td>
            <td class="border">{price}</td>
            <td class="border lst">{tobedelivered}</td>
        </tr>
        {endloop}
        <tr>
            <th class="bordertop"></th>
            <th class="bordertop"></th>
            <th class="bordertop"></th>
            <th class="bordertop"></th>
        </tr>
    </tbody>
</table>{end}
{if:shropdf}<p>{Hourlyrate}: {hrate}</p>
<h3>{TotalAmount}:</h3>
<p>{total_amount}</p>{end}
<p>*{AllpricesarewithoutVAT}</p>