<div class="page-header">
    <div class="row">
        <div class="col-xs-12 col-sm-8">
            <h1>{l}Intervention{endl} {{view.item.serial_number}} <div class="color-ball-item" style="background-color:{{view.item.color_ball}}"></div> <span class="badge item-status-gray" class="item-status item-status-gray" ng-class="{ 'item-status-orange':view.item.nr_status == 1, 'item-status-green':view.item.nr_status == 2 }">{{view.item.type_title}}</span></h1>
        </div>
        <div class="col-xs-12 col-sm-4 page-header-options">
            <a class="btn btn-sm btn-default" ui-sref="services" href="#">{l}Back{endl}</a>
            <navigator pag="maintenance-services" itemid="{{view.item.service_id}}" originalPage="service.view"></navigator>
        </div>
    </div>
</div><!-- /.page-header -->
<!-- <div uib-alert ng-repeat="alert in view.alerts" type="{{alert.type}}" close="view.alerts.splice($index, 1);" dismiss-on-timeout="5000" ng-class="['alert-' + (alert.type || 'warning') ]">{{alert.msg}}</div> -->
<div ng-if="!view.item.item_exists">
  <nopage></nopage>
</div>
<div ng-if="view.item.item_exists">
  <div class="panel panel-primary panel-order">
    <div class="panel-body">
      <div class="row">
        <div class="col-sm-6 col-md-3">
            <h4 class="title_underline">{l}Intervention Details{endl}</h4>          
              <p><strong>{l}Invoicing Type{endl}</strong> {{view.item.invoicing_type}}</p>
              <p><strong>{l}Planned{endl}</strong> {{view.item.planeddate}} <span ng-if="view.item.startdate_txt">{{view.item.startdate_txt}}</span> <span ng-if="view.item.enddate_txt">- {{view.item.enddate_txt}}</span></p>
              <p><strong>{l}Subject{endl}</strong> {{view.item.subject}}</p>
              <p ng-if="view.item.deals.length"><strong>{l}Deal ID{endl}</strong> <span ng-repeat="item in view.item.deals"><a class="text-link" ui-sref="dealView({ 'opportunity_id':item.id })"> {{item.name}} </a><span ng-if="!$last">,</span></span> </p>
              <p ng-if="view.item.installation_id!='0'"><strong>{l}Installation{endl}</strong> <span><a class="text-link" ng-click="view.viewInstall(view.item.installation_id)" > {{view.item.installation_name}} </a></span> </p>
              <p ng-if="::view.item.your_ref"><strong>{l}Your Reference{endl}</strong> {{::view.item.your_ref}}</p>
              <p ng-if="view.item.p_orders.length"><strong>{l}Purchase Orders{endl} </strong> <span ng-repeat="item in view.item.p_orders"><a class="text-link" ui-sref="purchase_order.view({ 'p_order_id':item.id })"> {{item.serial}}  <span ng-if="item.status">({{item.status}})</span></a><span ng-if="!$last">,</span></span> </p>
              <p ng-if="view.item.invoices.length"><strong>{l}Invoices{endl}</strong> <span ng-repeat="item in view.item.invoices"><a class="text-link"  ui-sref="invoice.view({ 'invoice_id':item.id })"> {{item.downp_txt}} {{item.serial}}  <span ng-if="item.status">({{item.status}})</span></a><span ng-if="!$last">,</span></span></p>
              <p class="web-link"><strong>{l}Web Link{endl}</strong>
                <a ng-if="view.item.status==2" class="text-link" href="{{view.item.web_url}}{{view.item.external_url}}" target="_blank"><i class="fas fa-external-link-alt"></i></a>
                <!-- <i class="weblink_info" ng-if="view.item.status<2">{l}Intervention must by in progress to create the weblink{endl}</i> -->
              </p>
        </div>
        <div class="col-sm-6">
          <div class="row">
            <div class="col-sm-12 col-md-6">
                <h4 class="title_underline">{l}Customer Details{endl}</h4>
                <p class="ng-cloak"><a class="text-link" ui-sref="customerView({ 'customer_id':view.item.buyer_id })"><span ng-bind-html="view.item.buyer_name"></span></a></p>       
                <p class="ng-cloak" ng-if="::view.item.buyer_phone"><span class="fa fa-phone text-muted text-link_space" aria-hidden="true"></span> <a href="tel:{{::view.item.buyer_phone}}" class="text-link">{{::view.item.buyer_phone}}</a></p>
                <p class="ng-cloak" ng-if="::view.item.buyer_fax"><span class="fa fa-fax text-muted text-link_space" aria-hidden="true"></span> {{::view.item.buyer_fax}}</p>
                <p ng-if="::view.item.buyer_email"><span class="far fa-envelope text-muted text-link_space" aria-hidden="true"></span> <a href="mailto:{{::view.item.buyer_email}}" class="ng-cloak text-link">{{::view.item.buyer_email}}</a></p>

                <h4 class="title_underline">{l}Contact Details{endl}</h4>
                <p class="ng-cloak" >{{::view.item.contact_name}}</p>
                <p class="ng-cloak" ng-if="::view.item.contact_phone"><span class="fa fa-mobile text-muted text-link_space" aria-hidden="true"></span> <a href="tel:{{::view.item.contact_phone}}" class="text-link">{{::view.item.contact_phone}}</a></p>
                <p ng-if="::view.item.contact_email"><span class="far fa-envelope text-muted text-link_space" aria-hidden="true"></span> <a href="mailto:{{::view.item.contact_email}}" class="ng-cloak text-link">{{::view.item.contact_email}}</a></p>         
              </div>
              <div class="col-sm-12 col-md-6">
                <h4 class="title_underline">{l}Intervention Address{endl}</h4>
                <p ng-bind-html="view.item.free_field"></p>
              </div>
          </div>
        </div>
        <div class="col-sm-12 col-md-3">
            <h4 class="title_underline">{l}Deliveries{endl}</h4>
            <ul class="compact_list compact_list-margin">
              <li ng-repeat="item in view.item.deliveries">
                <div class="compact_list-options">
                  <a href="#" ng-click="view.deleteDelivery(item)" confirm-title="Confirm" confirm-ok="OK" confirm-cancel="{l}Cancel{endl}" confirm="{l}Are you sure you want to delete the selected entries{endl}?"><span class="fa fa-trash"></span></a>
                </div>
                <div class="compact_list-info">
                  <a href="#" class="order-delivery-date" ng-click="view.showDelivery(item)"><span class="delivery-date delivery-full">{{item.date}}</span></a>
                </div>
              </li>
            </ul>

        </div>
      </div>
    </div>
  </div>
  <div class="row intervention-options">
    <div class="col-xs-12">
      <div class="module_steps">
          <ul class="module_steps-tabs">
            <li ng-if="view.item.is_active" ng-class="{ 'selected':view.item.status==0 }"><span class="badge">1</span> {l}Draft{endl}</li>
              <li ng-if="view.item.is_active" ng-class="{ 'selected':view.item.status==1 }"><span class="badge">2</span> {l}Planned{endl}</li>
              <li ng-if="view.item.is_active" ng-class="{ 'selected':view.item.status==2 }"><span class="badge">3</span> {l}Closed{endl}</li>
          </ul>
          <div class="module_steps-content">
            <div class="row" ng-if="view.item.is_archived && view.item.can_edit_general && !view.item.is_team">
              <div class="col-sm-12">  
                  <a class="btn btn-default" title="{l}Activate{endl}" ng-click="view.statusDocument('1')">{l}Activate{endl}</a>
              </div>          
            </div>
            <div class="row" ng-if="view.item.status==0 && view.item.can_edit_general && !view.item.is_team && view.item.is_active">    
              <div class="col-sm-9">
                  <a class="btn btn-plain" ui-sref="service.edit({'service_id': view.item.service_id})" ></span>{l}Edit{endl}</a>
                  <a class="btn btn-default" href="#" id="mark_as_sent4" ng-click="view.changeDraftStatus()">{l}Plan{endl}</a>
                  <div class="dropdown btn-inline" uib-dropdown>
                      <button class="btn btn-plain dropdown-toggle" id="orderOptions" type="button" uib-dropdown-toggle>
                        {l}Actions{endl} &nbsp;<span class="caret"></span>
                      </button>
                      <ul class="dropdown-menu" uib-dropdown-menu>
                        <li ng-if="!view.item.deny_view_article_price"><a href="{{view.item.pdf_link}}" target="_blank"><i class="far fa-file-pdf"></i> {l}Download PDF{endl}</span></a></li>
                        <li><a href="" ng-click="view.statusDocument('0')"><span class="fas fa-archive text-primary"></span> {l}Archive{endl}</a></li>
                        <li class="dropdown-header"> {l}Create for this intervention a{endl}</li>
                        <li ng-if="view.item.articles.is_data>0"><a href="#" ng-click="view.goToPurchase_orders()"><span class="fas fa-box"></span> {l}Purchase Order{endl}</a></li>
                        <li ng-if="!view.item.downpayment_made && view.item.show_down"><a ng-click="view.showDownpayment()"><i class="fas fa-coins"></i> {l}Create downpayment{endl}</a></li>
                        <li ng-if="!view.item.use_stock_reservation"><a href="#" ng-click="view.makeDelivery()" ><span class="akti-icon o_akti_delivery"></span> {l}Delivery{endl}</a></li>
                        <li ng-if="view.item.use_stock_reservation"><a href="#"  ng-click="view.makeReservation()" ><span class="akti-icon o_akti_delivery"></span> {l}Reserving stock{endl}</a></li>
                        <li><a ui-sref="service.edit({'duplicate_service_id': view.service_id})"><span class="fa fa-files-o"></span> {l}Duplicate{endl}</a></li>
                      </ul>
                  </div>                
              </div>
            </div>
            <div class="row" ng-if="view.item.status==1 && view.item.is_active">
              <div class="col-sm-9">
                <a class="btn btn-plain" ng-click="view.changeStatus(0)" ng-if="view.item.can_edit_general && !view.item.is_team"> {l}Back to draft{endl}</a>
                <a class="btn btn-default" ng-click="view.changeStatus(2)"  ng-if="view.item.can_edit_general && !view.item.is_team"> {l}Close sheet{endl}</a>
                <div class="dropdown btn-inline" uib-dropdown>
                    <button class="btn btn-plain dropdown-toggle" id="orderOptions" type="button" uib-dropdown-toggle>
                      {l}Actions{endl} &nbsp;<span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" uib-dropdown-menu>
                      <li><a href="" ng-click="view.registerTime()"><span class="glyphicon glyphicon-time"></span> {l}Register time{endl}</a></li>
                      <li><a href="" ng-click="view.registerExpense()"><span class="glyphicon glyphicon-copy"></span> {l}Register expenses{endl}</a></li>
                      <li ng-if="!view.item.deny_view_article_price"><a href="{{view.item.pdf_link}}" target="_blank"><i class="far fa-file-pdf"></i> {l}Download PDF{endl}</span></a></li>
                      <li ng-if="!view.item.deny_view_article_price"><a ng-click="view.showPDFsettings()" href="#"><i class="fa fa-sync"></i> {l}Regenerate PDF{endl}</a></li>
                      <li ng-if="view.item.can_edit_general"><a href="#" ng-click="view.item.email.alerts=[];view.sendEmail()"><span class="far fa-envelope"></span> {l}Send by Email{endl}</a></li>
<!--                      <li ng-if="view.item.can_edit_general"><a href="#" ui-sref="serviceReport({service_id: view.service_id})"><span class="glyphicon glyphicon-stats"></span> {l}Report{endl}</a></li>-->
                      <li ng-if="view.item.is_active"><a href="" ng-click="view.statusDocument('0')"><span class="fas fa-archive text-primary"></span> {l}Archive{endl}</a></li>
                      <li class="dropdown-header"> {l}Create for this intervention a{endl}</li>
                      <li ng-if="view.item.articles.is_data>0"><a href="#" ng-click="view.goToPurchase_orders()"><span class="fas fa-box"></span> {l}Purchase Order{endl}</a></li>
                      <li ng-if="!view.item.downpayment_made && view.item.show_down"><a ng-click="view.showDownpayment()"><i class="fas fa-coins"></i> {l}Create downpayment{endl}</a></li>
                      <li ng-if="!view.item.use_stock_reservation"><a href="#"  ng-click="view.makeDelivery()"><span class="akti-icon o_akti_delivery"></span> {l}Delivery{endl}</a></li>
                      <li ng-if="view.item.is_team && view.item.users.allow_submit"><a href="#" ng-click="view.submitIntervention()" ><span class="fa fa-repeat"></span>{l}Submit{endl}</a></li>
                      <li><a ui-sref="service.edit({'duplicate_service_id': view.service_id})"><span class="fa fa-files-o"></span> {l}Duplicate{endl}</a></li>
                    </ul>
                </div>          
              </div>
            </div>
            <div class="row" ng-if="view.item.status==2 && view.item.can_edit_general && !view.item.is_team && view.item.is_active">
              <div class="col-sm-9">
                <a class="btn btn-plain" ng-click="view.changeStatus(1)" ng-if="view.item.can_edit_general && view.item.not_accepted"> {l}Back to Planned{endl}</a>
                <div class="dropdown btn-inline" uib-dropdown>
                    <button class="btn btn-plain dropdown-toggle" id="orderOptions" type="button" uib-dropdown-toggle>
                      {l}Actions{endl} &nbsp;<span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" uib-dropdown-menu>
                      <li ng-if="!view.item.deny_view_article_price"><a href="{{view.item.pdf_link}}" target="_blank"><i class="far fa-file-pdf"></i> {l}Download PDF{endl}</span></a></li>
                      <li ng-if="!view.item.deny_view_article_price"><a ng-click="view.showPDFsettings()" href="#"><i class="fa fa-sync"></i> {l}Regenerate PDF{endl}</a></li>
                      <li ng-if="view.item.can_edit_general"><a href="#" ng-click="view.item.email.alerts=[];view.sendEmail()"><span class="far fa-envelope"></span> {l}Send by Email{endl}</a></li>
<!--                      <li ng-if="view.item.can_edit_general"><a href="#" ui-sref="serviceReport({service_id: view.service_id})"><span class="glyphicon glyphicon-stats"></span> {l}Report{endl}</a></li>-->
                      <li class="dropdown-header"> {l}Create for this intervention a{endl}</li>
                      <li ng-if="view.item.show_inv_create"><a href="#" ng-click="view.createInvoice()"><span class="glyphicon glyphicon-file"></span> {l}Create Invoice{endl}</a></li>
                      <li ng-if="view.item.can_duplicate"><a href="#" ng-click="view.duplicate()"><span class="glyphicon glyphicon-wrench"></span> {l}Create a New Intervention{endl}</a></li>
                      <li ng-if="view.item.installation_id && view.item.dropbox.dropbox_images.length"><a href="#" ng-click="view.linkToInstall()"><span class="glyphicon glyphicon-link"></span> {l}Link images to installation{endl}</a></li>
                      <li><a ui-sref="service.edit({'duplicate_service_id': view.service_id})"><span class="fa fa-files-o"></span> {l}Duplicate{endl}</a></li>
                    </ul>
                </div>

              </div>
            </div>
          </div>
        </div>
    </div>
  </div>
  <div>
    <div class="row minimal_list minimal_list-staff margin-bottom-none margin-top-none" ng-if="view.item.users.is_data>0">
          <div class="col-xs-12">
              <div>
                  <h5><strong>{l}Collaborators{endl}</strong></h5>
              </div>
              <div ng-if="view.item.users.is_data>0">
                  <table class="table active_rows orderTable" id="users_table">
                      <thead>
                          <tr>
                              <th>
                                  <div class="row">
                                      <div class="col-xs-1 text-center">&nbsp;</div>
                                      <!-- <div ng-class="{'col-xs-4':view.item.status!=2 && view.item.edit && !view.item.is_team, 'col-sm-5':(view.item.status==2 && view.item.can_edit && !view.item.is_team) || !view.item.can_edit || view.item.is_team}">{l}Name{endl}</div> -->
                                      <div ng-class="{'col-xs-4':view.item.status!=2 && view.item.edit && !view.item.is_team, 'col-sm-5':(view.item.status==2 && view.item.can_edit && !view.item.is_team) || !view.item.can_edit || view.item.is_team}" class="col-md-5">{l}Name{endl}</div>
                                      
                                      <div class="col-xs-1 text-center">{l}Hours{endl}</div>
                                      <div class="col-xs-1 text-center">{l}Expences{endl}</div>
                                      <div class="col-xs-2 text-center"></div>
                                      <div class="col-xs-1 text-center">{l}Intervention Manager{endl}</div>
                                      <div class="col-xs-1" ng-if="view.item.status!=2 && view.item.edit && !view.item.is_team"></div>
                                  </div>
                              </th>
                          </tr>
                      </thead>
                      <tbody data-as-sortable="view.dragUsers" data-ng-model="view.item.users.users">
                          <tr ng-repeat="user in view.item.users.users" class="collapseTr" data-as-sortable-item>
                              <td class="d-block">
                                  <div class="row">
                                      <div class="col-xs-1 text-center drag_drop"> <span ng-if="!item.component_for" class="btn-drag as-sortable-item-handle" data-as-sortable-item-handle="">&nbsp;</span></div>
                                      <!-- <div ng-class="{'col-xs-4':view.item.status!=2 && view.item.edit && !view.item.is_team, 'col-sm-5':(view.item.status==2 && view.item.can_edit && !view.item.is_team) || !view.item.can_edit || view.item.is_team}">
                                          <span class="glyphicon glyphicon-plus btn-expand" ng-click="view.listMore($index)"></span>
                                          <span class="glyphicon glyphicon-minus btn-expand hidden" ng-click="view.listLess($index)"></span>
                                          &nbsp;&nbsp;{{::user.name}}
                                      </div> -->
                                      <div ng-class="{'col-xs-12 col-sm-4':view.item.status!=2 && view.item.edit && !view.item.is_team, 'col-xs-12 col-sm-5':(view.item.status==2 && view.item.can_edit && !view.item.is_team) || !view.item.can_edit || view.item.is_team}" class="col-md-5">
                                          <span class="glyphicon glyphicon-plus btn-expand" ng-click="view.listMore($index)"></span>
                                          <span class="glyphicon glyphicon-minus btn-expand hidden" ng-click="view.listLess($index)"></span>
                                          &nbsp;&nbsp;{{::user.name}}
                                      </div>
                                    
                                      <div class="col-xs-12 col-sm-1 text-center m-left">{{user.hours}}</div>
                                      <div class="col-xs-12 col-sm-1 text-center m-left"><span ng-bind-html="user.expences"></span></div>
                                      <div class="col-xs-12 col-sm-2 text-center m-left"></div>
                                      <div class="col-xs-12 col-sm-1 text-center m-left checkbox checkbox-primary">
                                          <input type="checkbox" id="checkbox_user_{{$index}}" ng-model="user.pr_m" ng-click="view.editUser(user,'user',$event)" ng-disabled="!view.item.edit || view.item.is_team"/>
                                          <label for="checkbox_user_{{$index}}"></label>
                                      </div>
                                      <div class="col-xs-12 col-sm-1 text-center m-left" ng-if="view.item.status!=2 && view.item.edit && !view.item.is_team">
                                          <a ng-click="view.delete('user',user)" confirm="{l}Delete this user?{endl}" ng-if="view.item.edit"><span class="glyphicon glyphicon-trash"></span></a>
                                      </div>
                                  </div>
                              </td>
                          </tr>
                      </tbody>
                  </table><!-- /.table_minimal -->
              </div><!-- /.minimal_list-content -->
          </div>
      </div><!-- end /.minimal_list-staff -->
      <div class="row minimal_list minimal_list-tasks margin-bottom-none margin-top-none" ng-if="view.item.tasks.is_data>0">
          <div class="col-xs-12">
              <div>
                  <h5><strong>{l}Tasks{endl}</strong></h5>
              </div><!-- /.minimal_list-header -->
              <div ng-if="view.item.tasks.is_data>0">
                  <table class="table active_rows orderTable">
                      <thead>
                          <tr>
                              <th>
                                  <div class="row">
                                      <div class="col-xs-12 col-sm-1 text-center m-left">&nbsp;</div>
                                      <!-- <div ng-class="{'col-xs-7':view.item.status!=2 && view.item.service_type=='1', 'col-sm-8':view.item.status==2 && view.item.can_edit && view.item.service_type=='1','col-sm-9':view.item.status!=2 && view.item.service_type!='1' && view.item.can_edit, 'col-sm-10':!view.item.can_edit || (view.item.status==2 && view.item.can_edit && view.item.service_type!='1')}">{l}Name{endl}</div> -->
                                      <div ng-class="{'col-xs-12 col-sm-7':view.item.status!=2 && view.item.service_type=='1', 'col-xs-12 col-sm-8':view.item.status==2 && view.item.can_edit && view.item.service_type=='1','col-xs-12 col-sm-9':view.item.status!=2 && view.item.service_type!='1' && view.item.can_edit, 'col-sm-10':!view.item.can_edit || (view.item.status==2 && view.item.can_edit && view.item.service_type!='1')}" class="col-md-5">{l}Name{endl}</div>
                                      <div class="col-xs-12 col-sm-1 text-center m-left" ng-if="view.item.service_type!='0'">{l}Price{endl}</div>
                                      <div class="text-center m-left" ng-class="{'col-xs-12 col-sm-4':view.item.status!=2, 'col-xs-12 col-sm-3': view.item.service_type!='0'}"></div>
                                      <div class="col-xs-12 col-sm-1 text-center m-left">{l}Done{endl}</div>
                                      <div class="col-xs-12 col-sm-1" ng-if="view.item.status!=2"></div>
                                  </div>
                              </th>
                          </tr>
                      </thead>
                      <tbody data-as-sortable="view.dragTasks" data-ng-model="view.item.tasks.tasks">
                          <tr ng-repeat="task in view.item.tasks.tasks" data-as-sortable-item>
                              <td class="d-block">
                                  <div class="row">
                                      <div class="col-xs-12 col-sm-1 text-center m-left drag_drop"> <span ng-if="!item.component_for" class="btn-drag as-sortable-item-handle" data-as-sortable-item-handle="">&nbsp;</span></div>
                                      <!-- <div ng-class="{'col-xs-7':view.item.status!=2 && view.item.service_type=='1', 'col-sm-8':view.item.status==2 && view.item.can_edit && view.item.service_type=='1','col-sm-9':view.item.status!=2 && view.item.service_type!='1' && view.item.can_edit,'col-sm-10':!view.item.can_edit || (view.item.status==2 && view.item.can_edit && view.item.service_type!='1')}">
                                          <textarea ng-bind-html="task.name" ng-model="task.name" ng-blur="view.editUser(task,'task_art',$event)" class="form-control" resize-txt rows="1" ng-disabled="view.item.status==2 || !view.item.edit"></textarea>
                                      </div> -->
                                      <div ng-class="{'col-xs-12 col-sm-7':view.item.status!=2 && view.item.service_type=='1', 'col-sm-8':view.item.status==2 && view.item.can_edit && view.item.service_type=='1','col-xs-12 col-sm-9':view.item.status!=2 && view.item.service_type!='1' && view.item.can_edit,'col-xs-12 col-sm-10':!view.item.can_edit || (view.item.status==2 && view.item.can_edit && view.item.service_type!='1')}" class="col-md-5">
                                          <textarea ng-bind-html="task.name" ng-model="task.name" ng-blur="view.editUser(task,'task_art',$event)" class="form-control" resize-txt rows="1" ng-disabled="view.item.status==2 || !view.item.edit"></textarea>
                                      </div>
                                      <div class="col-xs-12 col-sm-1 text-center m-left" ng-if="view.item.service_type!='0'">
                                          <input type="text" class="form-control" display-nr="" ng-model="task.task_budget" ng-disabled="view.item.status==2" ng-blur="view.changeTaskBudget(task)"/>
                                      </div>
                                      <div class="text-center m-left" ng-class="{'col-xs-12 col-sm-4':view.item.status!=2, 'col-xs-12 col-sm-3': view.item.service_type!='0'}"></div>
                                      <div class="col-xs-12 col-sm-1 text-center form-inline m-left">                                          
                                          <div class="checkbox checkbox-primary">
                                              <input type="checkbox" id="checkbox_t_{{$index}}" ng-model="task.checked" ng-click="view.editUser(task,'task',$event)" ng-disabled="view.item.status==2"/>
                                              <label for="checkbox_t_{{$index}}">
                                              </label><a href="#" ng-click="view.taskModal(task)"><span class="fas fa-comment"></span></a> &nbsp;
                                          </div>
                                      </div>
                                      <div class="col-xs-12 col-sm-1" ng-if="view.item.status!=2">
                                          <a class="table_minimal-btn" confirm="{l}Delete this task?{endl}" ng-click="view.delete('task',task)" ng-if="view.item.edit"><span class="glyphicon glyphicon-trash"></span></a>
                                      </div>
                                  </div>
                              </td>
                          </tr>
                      </tbody>
                  </table><!-- /.table_minimal -->
              </div><!-- /.minimal_list-content -->
          </div>
      </div><!-- end /.minimal_list-tasks -->
      <div class="row minimal_list minimal_list-tasks margin-bottom-none margin-top-none" ng-if="view.item.services.is_data>0">
          <div class="col-xs-12">
              <div>
                  <h5><strong>{l}Services{endl}</strong></h5>
              </div><!-- /.minimal_list-header -->
              <div ng-if="view.item.services.is_data>0">
                  <table class="table active_rows orderTable">
                      <thead>
                          <tr>
                              <th>
                                  <div class="row">
                                      <div class="col-xs-12 col-sm-1"></div>
                                      <div class="col-xs-12 col-sm-1">{l}Code{endl}</div>
                                      <!-- <div ng-class="{'col-xs-4':view.item.status!=2, 'col-sm-5':view.item.status==2 && view.item.can_edit, 'col-sm-7':!view.item.can_edit}">{l}Name{endl}</div> -->
                                      <div ng-class="{'col-xs-12 col-sm-4':view.item.status!=2, 'col-sm-5':view.item.status==2 && view.item.can_edit, 'col-xs-12 col-sm-7':!view.item.can_edit}" class="col-md-4">{l}Name{endl}</div>
                                      <div class="col-xs-12 col-sm-1 text-center m-left" ng-if="view.item.service_type!='0'">{l}Quantity{endl}</div>
                                      <div class="col-xs-12 col-sm-1 text-center m-left" ng-if="view.item.service_type!='0'">{l}Price{endl}</div>
                                      <div class="text-center m-left" ng-class="{'col-xs-12 col-sm-4':view.item.status!=2, 'col-xs-12 col-sm-2': view.item.service_type!='0'}"></div>
                                      <div class="col-xs-12 col-sm-1 text-center m-left">{l}Done{endl}</div>
                                      <div class="col-xs-12 col-sm-1" ng-if="view.item.status!=2"></div>
                                  </div>
                              </th>
                          </tr>
                      </thead>
                      <tbody data-as-sortable="view.dragServices" data-ng-model="view.item.services.services">
                          <tr ng-repeat="task in view.item.services.services" data-as-sortable-item>
                              <td class="d-block">
                                  <div class="row">
                                      <div class="col-xs-12 col-sm-1 m-left text-center drag_drop"> <span ng-if="!item.component_for" class="btn-drag as-sortable-item-handle" data-as-sortable-item-handle="">&nbsp;</span></div>
                                      <div class="col-xs-12 col-sm-1">{{task.code}}</div>
                                      <!-- <div ng-class="{'col-xs-4':view.item.status!=2, 'col-sm-5':view.item.status==2 && view.item.can_edit, 'col-sm-7':!view.item.can_edit}">{{task.name}}</div> -->
                                      <div ng-class="{'col-xs-12 col-sm-4':view.item.status!=2, 'col-xs-12 col-sm-5':view.item.status==2 && view.item.can_edit, 'col-xs-12 col-sm-7':!view.item.can_edit}" class="col-md-4">{{task.name}}</div>
                                      <div class="col-xs-12 col-sm-1 text-center m-left" ng-if="view.item.service_type!='0'">
                                          <input type="text" ng-model="task.quantity" display-nr="" ng-blur="view.editUser(task,'quantity_serv',$event)" ng-disabled="view.item.status==2 || !view.item.edit" class="form-control" />
                                      </div>
                                      <div class="col-xs-12 col-sm-1 text-center m-left" ng-if="view.item.service_type!='0'">
                                          <input type="text" class="form-control" display-nr="" ng-model="task.task_budget" ng-disabled="view.item.status==2" ng-blur="view.changeTaskBudget(task)"/>
                                      </div>
                                      <div class="text-center m-left" ng-class="{'col-xs-12 col-sm-4':view.item.status!=2, 'col-xs-12 col-sm-2': view.item.service_type!='0'}"></div>
                                      <div class="col-xs-12 col-sm-1 text-center m-left form-inline">
                                          
                                          <div class="checkbox checkbox-primary">
                                              <input type="checkbox" id="checkbox_ts_{{$index}}" ng-model="task.checked" ng-click="view.editUser(task,'task',$event)" ng-disabled="view.item.status==2"/>
                                              <label for="checkbox_ts_{{$index}}">
                                              </label>
                                              <a href="#" ng-click="view.taskModal(task)"><span class="fas fa-comment"></span></a> &nbsp;
                                          </div>
                                      </div>
                                      <div class="col-xs-12 col-sm-1" ng-if="view.item.status!=2">
                                          <a class="table_minimal-btn" confirm="{l}Delete this task?{endl}" ng-click="view.delete('service',task)" ng-if="view.item.edit"><span class="glyphicon glyphicon-trash"></span></a>
                                      </div>
                                  </div>
                              </td>
                          </tr>
                      </tbody>
                  </table><!-- /.table_minimal -->
              </div><!-- /.minimal_list-content -->
          </div>
      </div><!-- end /.minimal_list-tasks -->
      <div class="row minimal_list minimal_list-supplies margin-bottom-none margin-top-none" ng-if="view.item.articles_allowed && view.item.articles.is_data>0">
          <div class="col-xs-12">
              <div>
                  <h5><strong>{l}Articles{endl}</strong></h5>
              </div><!-- /.minimal_list-header -->
              <div ng-if="view.item.articles.is_data>0">
                  <table class="table active_rows orderTable">
                      <thead>
                          <tr>
                              <th>
                                  <div class="row">
                                      <div class="col-xs-12 col-sm-1 line-height"></div>
                                      <div class="col-xs-12 col-sm-1 line-height">{l}Code{endl}</div>
                                      <!-- <div ng-class="{'col-xs-3':view.item.status!=2 && view.item.edit && view.item.ALLOW_STOCK && view.item.use_stock_reservation, 'col-xs-4':view.item.status==2 && view.item.can_edit || !view.item.ALLOW_STOCK || !view.item.use_stock_reservation, 'col-xs-5':!view.item.can_edit && view.item.status!=2, 'col-xs-6':!view.item.can_edit && view.item.status==2}" class="line-height">{l}Name{endl}</div> -->
                                      <div ng-class="{'col-xs-12 col-sm-3':view.item.status!=2 && view.item.edit && view.item.ALLOW_STOCK && view.item.use_stock_reservation, 'col-xs-12 col-sm-4':view.item.status==2 && view.item.can_edit || !view.item.ALLOW_STOCK || !view.item.use_stock_reservation, 'col-xs-12 col-sm-5':!view.item.can_edit && view.item.status!=2, 'col-xs-12 col-sm-6':!view.item.can_edit && view.item.status==2}" class="line-height col-md-4">{l}Name{endl}</div>
                                    
                                      <div class="col-xs-12 col-sm-1 text-center m-left line-height">{l}Quantity{endl}</div>
                                      <div class="col-xs-12 col-sm-1 text-center m-left line-height" ng-if="!view.item.deny_view_article_price" >{l}Sell price{endl}</div>
                                      <div class="col-xs-12 col-sm-1 text-center m-left line-height" ng-if="view.item.ALLOW_STOCK">{l}Stock{endl}</div>
                                      <div class="col-xs-12 col-sm-1 text-center m-left line-height" ng-if="view.item.ALLOW_STOCK && view.item.use_stock_reservation">{l}To be reserved{endl}</div>
                                      <div class="col-xs-12 col-sm-1 text-center m-left line-height">{l}To be delivered{endl}</div>
                                      <div class="col-xs-12 col-sm-1 text-center m-left line-height">{l}Billable{endl}</div>
                                      <div class="col-xs-12 col-sm-1 line-height" ng-if="view.item.status!=2"></div>
                                      
                                  </div>
                              </th>
                          </tr>
                      </thead>
                      <tbody data-as-sortable="view.dragArticles" data-ng-model="view.item.articles.articles">
                          <tr ng-repeat="art in view.item.articles.articles" data-as-sortable-item>
                              <td class="d-block">
                                  <div class="row">
                                      <div class="col-xs-12 col-sm-1 text-center m-left drag_drop"> <span ng-if="!art.component_for" class="btn-drag as-sortable-item-handle" data-as-sortable-item-handle="">&nbsp;</span></div>
                                      <div class="col-xs-12 col-sm-1"><label ng-bind-html="art.code"></label></div>
                                      <!-- <div ng-class="{'col-xs-3':view.item.status!=2 && view.item.edit && art.ALLOW_STOCK && view.item.use_stock_reservation, 'col-xs-4':view.item.status==2 && view.item.can_edit || !art.ALLOW_STOCK || !view.item.use_stock_reservation, 'col-xs-5':!view.item.can_edit && view.item.status!=2, 'col-xs-6':!view.item.can_edit && view.item.status==2}">
                                          <textarea ng-bind-html="art.name" ng-model="art.name" ng-blur="view.editUser(art,'name_art',$event)" class="form-control" resize-txt rows="1"></textarea>
                                      </div> -->
                                      <div ng-class="{'col-xs-12 col-sm-3':view.item.status!=2 && view.item.edit && art.ALLOW_STOCK && view.item.use_stock_reservation, 'col-xs-12 col-sm-4':view.item.status==2 && view.item.can_edit || !art.ALLOW_STOCK || !view.item.use_stock_reservation, 'col-xs-12 col-sm-5':!view.item.can_edit && view.item.status!=2, 'col-xs-12 col-sm-6':!view.item.can_edit && view.item.status==2}" class="col-md-4">
                                          <textarea ng-bind-html="art.name" ng-model="art.name" ng-blur="view.editUser(art,'name_art',$event)" class="form-control" resize-txt rows="1"></textarea>
                                      </div>
                                    
                                      <div class="col-xs-12 col-sm-1 text-center m-left"><input ng-if="!art.has_variants || art.has_variants=='0'" type="text" ng-model="art.quantity" display-nr="" ng-blur="view.editUser(art,'quantity_art',$event)" ng-disabled="view.item.status==2 || art.billed=='1' || !view.item.edit || art.component_for" class="form-control" /></div>
                                      <div class="col-xs-12 col-sm-1 text-center m-left" ng-if="!view.item.deny_view_article_price"><input ng-if="(!art.has_variants || art.has_variants=='0') && !art.component_for" type="text" ng-model="art.sell_price" display-nr="" ng-blur="view.editUser(art,'sell_price',$event)" ng-disabled="view.item.status==2 || art.billed=='1'" class="form-control">
                                          <a class="table_minimal-btn edit_price" ng-click="view.editSupply(art)"  ng-if="view.item.edit && (!art.has_variants || art.has_variants=='0') && !art.component_for"><span class="fas fa-pen"></span></a>
                                      </div>
                                      <div class="col-xs-12 col-sm-1 text-center m-left {{art.stock_status}}" ng-if="art.ALLOW_STOCK" ><label ng-if="(!art.has_variants || art.has_variants=='0') && !art.component_for"><b>{{art.stock}} <span ng-if="view.item.use_stock_reservation && art.reserved_stock">({{art.reserved_stock}})</span></b></label></div>
                                      <div class="col-xs-12 col-sm-1 text-center m-left " ng-if="art.ALLOW_STOCK && view.item.use_stock_reservation" ><label ng-if="!art.has_variants || art.has_variants=='0'">{{art.to_be_reserved}}</label></div>
                                      <div class="col-xs-12 col-sm-1 text-center">
                                          <label ng-if="!art.has_variants || art.has_variants=='0'">{{art.to_be_delivered}}</label>
                                      </div>
                                      
                                      <div class="col-xs-12 col-sm-1 text-center m-left m-left">
                                          <div class="checkbox checkbox-primary">
                                              <input type="checkbox" id="checkbox_art_bil_{{$index}}" ng-model="art.billable" ng-click="view.changeArticleBillable(art)" ng-disabled="view.item.status==2 || art.billed=='1' || !view.item.edit">
                                              <label for="checkbox_art_bil_{{$index}}"></label>
                                          </div>               
                                      </div>
                                      <div class="text-center m-left col-xs-12 col-sm-1" ng-if="view.item.status!=2">
                                      </div>
                                      <div class="col-xs-12 col-sm-1 text-center m-left" ng-if="view.item.status!=2">                  
                                          <a class="table_minimal-btn" confirm="{l}Delete this entry?{endl}" ng-click="view.delete('article',art)"  ng-if="view.item.edit"><span class="glyphicon glyphicon-trash"></span></a>
                                          <span ng-if="art.billed=='1'" class="glyphicon glyphicon-lock">
                                      </div>
                                  </div>
                              </td>
                          </tr> 
                      </tbody>
                  </table><!-- /.table_minimal -->
              </div><!-- /.minimal_list-content -->
          </div>
      </div><!-- end /.minimal_list-supplies -->
      <div class="row minimal_list minimal_list-supplies margin-bottom-none margin-top-none" ng-if="view.item.supplies.is_data>0">
          <div class="col-xs-12">
              <div>
                  <h5><strong>{l}Supplies{endl}</strong></h5>
              </div><!-- /.minimal_list-header -->
              <div ng-if="view.item.supplies.is_data>0">
                  <table class="table active_rows orderTable">
                      <thead>
                          <tr>
                              <th>
                                  <div class="row">
                                      <div class="col-xs-12 col-sm-1 text-center m-left"></div>
                                      <!-- <div ng-class="{'col-xs-3':view.item.status!=2 && view.item.edit, 'col-xs-5':view.item.status==2 && view.item.can_edit, 'col-xs-7':!view.item.edit}">{l}Name{endl}</div> -->
                                      <div ng-class="{'col-xs-12 col-sm-3':view.item.status!=2 && view.item.edit, 'col-xs-12 col-sm-5':view.item.status==2 && view.item.can_edit, 'col-xs-12 col-sm-7':!view.item.edit}" class="col-md-5">{l}Name{endl}</div>
                                      
                                      <div class="col-xs-12 col-sm-1 text-center m-left">{l}Quantity{endl}</div>
                                      <div class="col-xs-12 col-sm-1 text-center m-left" >{l}Sell price{endl}</div>
                                      <div class="col-xs-12 col-sm-1 text-center m-left">{l}Delivered{endl}</div>
                                      <div class="col-xs-12 col-sm-1 text-center m-left" ng-if="view.item.status!=2"></div>
                                      <div class="col-xs-12 col-sm-1 text-center m-left">{l}Billable{endl}</div>
                                      <div class="col-xs-12 col-sm-1" ng-if="view.item.status!=2"></div>
                                  </div>
                              </th>
                          </tr>
                      </thead>
                      <tbody data-as-sortable="view.dragSupplies" data-ng-model="view.item.supplies.supplies">
                          <tr ng-repeat="sup in view.item.supplies.supplies" data-as-sortable-item>
                              <td class="d-block">
                                  <div class="row">
                                      <div class="col-xs-12 col-sm-1 text-center m-left drag_drop"> <span ng-if="!item.component_for" class="btn-drag as-sortable-item-handle" data-as-sortable-item-handle="">&nbsp;</span></div>
                                      <!-- <div ng-class="{'col-xs-3':view.item.status!=2 && view.item.edit, 'col-xs-5':view.item.status==2 && view.item.can_edit, 'col-xs-7':!view.item.edit}">{{sup.name}}</div> -->
                                      <div ng-class="{'col-xs-12 col-sm-3':view.item.status!=2 && view.item.edit, 'col-xs-12 col-sm-5':view.item.status==2 && view.item.can_edit, 'col-xs-12 col-sm-7':!view.item.edit}" class="col-md-5">{{sup.name}}</div>
                                   
                                      <div class="col-xs-12 col-sm-1 text-center m-left"><input type="text" ng-model="sup.quantity" display-nr="" ng-blur="view.editUser(sup,'quantity',$event)" ng-disabled="view.item.status==2 || sup.billed=='1' || !view.item.edit" class="form-control"/></div>
                                      <div class="col-xs-12 col-sm-1 text-center m-left" >{{sup.sell_price}}</div>
                                      <div class="col-xs-12 col-sm-1 text-center m-left"><input type="text" ng-model="sup.delivered" display-nr="" ng-blur="view.editUser(sup,'delivered',$event)" ng-disabled="view.item.status==2 || sup.billed=='1'" class="form-control" /></div>
                                      <div class="col-xs-12 col-sm-1 text-center m-left" ng-if="view.item.status!=2">
                                          <a class="table_minimal-btn" ng-click="view.editSupply(sup)"  ng-if="view.item.edit"><span class="fas fa-pen"></span></a>
                                      </div>
                                      <div class="col-xs-12 col-sm-1 text-center m-left">
                                          <div class="checkbox checkbox-primary">
                                              <input type="checkbox" id="checkbox_sup_{{$index}}" ng-model="sup.billable" ng-click="view.changeArticleBillable(sup)" ng-disabled="sup.billed=='1' || view.item.status==2 || !view.item.edit">
                                              <label for="checkbox_sup_{{$index}}">
                                              </label>
                                          </div>   
                                      </div>
                                      <div class="col-xs-12 col-sm-1" ng-if="view.item.status!=2">                 
                                          <a class="table_minimal-btn" confirm="{l}Delete this entry?{endl}" ng-click="view.delete('supplie',sup)"  ng-if="view.item.edit"><span class="glyphicon glyphicon-trash"></span></a>
                                          <span ng-if="sup.billed=='1'" class="glyphicon glyphicon-lock">
                                      </div>
                                  </div>
                              </td>
                          </tr>
                      </tbody>
                  </table><!-- /.table_minimal -->
              </div><!-- /.minimal_list-content -->
          </div>
      </div><!-- end /.minimal_list-supplies -->
      <div class="row minimal_list minimal_list-supplies" ng-if="view.item.edit">
          <div class="col-xs-12">
              <div class="btn-group btn-add_line_new" uib-dropdown>
                  <a href="#" class="btn text-link dropdown-toggle" uib-dropdown-toggle ng-click="view.closeOpened()"><span class="fa fa-plus icon-holder"></span>{l}Add Content{endl}</a>
                  <ul class="dropdown-menu add_content" uib-dropdown-menu>
                      <li ng-if="!view.item.is_team"><a href="#" ng-click="view.addUser()"><i class="fa fa-user-plus" aria-hidden="true"></i>{l}Add Collaborator{endl}</a></li>
                      <li><a href="#" ng-click="view.add.subtask=!view.add.subtask"><i class="fa fa-tasks" aria-hidden="true"></i>{l}Add Task{endl}</a></li>
                      <li><a href="#" ng-click="view.addServiceBtn()"><i class="fa fa-wrench" aria-hidden="true"></i>{l}Add Service{endl}</a></li>     
                      <li><a href="#" ng-click="view.add.supplie=!view.add.supplie"><i class="fa fa-truck" aria-hidden="true"></i>{l}Add Supply{endl}</a></li>
                      <li ng-if="view.item.articles_allowed"><a href="#" ng-click="view.addArticleBtn()"><i class="fa fa-plus" aria-hidden="true"></i>{l}Quick Add a product from the catalog{endl}</a></li>
                      <li ng-if="view.item.articles_allowed"><a href="#" ng-click="view.openModal(view,'addArticle',item,'lg')"><i class="fa fa-plus-square" aria-hidden="true"></i>{l}Add Articles of the catalog in bulk{endl}</a></li>
                      <li ng-if="!view.item.is_recurring && view.item.allow_model"><a href="#" ng-click="view.addModel()"><i class="fa fa-download" aria-hidden="true"></i>{l}Add model intervention content{endl}</a></li>
                  </ul>
              </div>     
              <div class="col-sm-12">
                  <div class="col-sm-6 col-sm-offset-4" ng-if="!view.add.subtask">
                      <div class="col-sm-8">
                          <input class="form-control" type="text" placeholder="{l}Add Task{endl}" ng-model="view.item.task_name"/>
                      </div>   
                      <button class="btn btn-default" ng-click="view.showAdd('subtask')">{l}Add Task{endl}</button>
                  </div>
                  
                  <div class="col-sm-6 col-sm-offset-4" ng-if="!view.add.supplie">
                      <div class="col-sm-8">
                          <input class="form-control" type="text" placeholder="{l}Add Supply{endl}" ng-model="view.item.supplie"/>
                      </div>
                      <button class="btn btn-default" ng-click="view.showAdd('supplie')">{l}Add Supply{endl}</button>
                  </div>
                  <div class="col-sm-6 col-sm-offset-3" ng-if="!view.add.article && view.item.articles_allowed">
                      <selectize ng-if="!view.add.article" config='view.articleAutoCfg' options='view.auto.options.articles' ng-model="view.item.article_id" id="articles_list"></selectize>
                  </div>
                  <div class="col-sm-6 col-sm-offset-3" ng-if="view.item.add_subtask1">
                      <selectize ng-if="view.item.add_subtask1" config='view.taskAutoCfg' options='view.item.services_list.lines' ng-model="view.item.task_service_id" id="tasks_list"></selectize>
                  </div>
                  <div class="col-sm-6 col-sm-offset-3" ng-if="!view.add.staff && !view.item.is_team">
                      <selectize ng-if="!view.add.staff && !view.item.is_team" config='view.userAutoCfg' options='view.auto.options.user' ng-model="view.item.staff_id" id="users_list"></selectize>
                  </div> 
                  
              </div>
          </div>
      </div>
      <div class="row" ng-if="view.item.status==0 || view.item.status==1 || view.item.status==2">
          <div class="col-sm-12">
              <h4>
                  <strong>{l}Files{endl}</strong>
                  <button type="button" class="btn btn-primary btn-add" uib-tooltip="{l}Upload{endl}" tooltip-placement="right" ng-if="view.item.status==0 || view.item.status==1" ng-click="view.uploadDoc(1)"><span class="btn-add_icon"><span class="icon-bar"></span><span class="icon-bar-2"></span></span></button>
              </h4>
              <div class="row text-center" ng-if="view.show_load">
                  <i class="fa fa-spinner fa-spin fa-2x fa-fw" aria-hidden="true"></i><span class="sr-only"></span>
              </div>
              <div uib-alert type="notice" ng-if="!view.item.dropbox.dropbox_files.length && !view.show_load" class="padd-file">{l}No files have been added yet{endl}</div>
             <!--  <table class="table active_rows orderTable" ng-if="view.item.dropbox.dropbox_files.length && !view.show_load">
                  <thead>
                      <tr>
                          <th class="col-md-1 col-sm-1 text-center">{l}Link{endl}</th>
                          <th class="col-md-10 col-sm-10">{l}File{endl}</th>
                          <th class="col-md-1 col-sm-1"></th>                   
                      </tr>
                  </thead>
                  <tbody>
                      <tr ng-repeat="item in view.item.dropbox.dropbox_files">
                          <td class="text-center"><a href="{{item.down_file_link}}" target="_blank"><i class="fa fa-amazon" aria-hidden="true"></i></a></td>
                          <td><a href="{{item.down_file_link}}" target="_blank">{{item.name}}</a></td>
                          <td class="table_actions" ng-if="view.item.status==0 || view.item.status==1">
                              <div class="btn-group" uib-dropdown>
                                  <button type="button" class="btn btn-plain dropdown-toggle" uib-dropdown-toggle>
                                      <span class="caret"></span>
                                  </button>
                                  <ul class="dropdown-menu dropdown-menu-right" uib-dropdown-menu>
                                      <li class="dropdown-header">{l}Action{endl}</li>        
                                      <li>
                                          <a href="#" ng-click="view.deleteDropFile($index)" confirm="{l}Are you sure, you wanna delete this entry?{endl}"><span class="glyphicon glyphicon-remove text-primary"></span> {l}Delete{endl}</a>
                                      </li>
                                  </ul>
                              </div>
                          </td>
                      </tr>
                  </tbody>
              </table> -->
              <div class="table active_rows orderTable" ng-if="view.item.dropbox.dropbox_files.length && !view.show_load">
                <div ng-repeat="item in view.item.dropbox.dropbox_files">
                  <p class="padd-file"><a href="{{item.down_file_link}}" target="_blank" class="file-name">{{item.name}}</a> <span ng-if="view.item.status==0 || view.item.status==1"><a href="#" ng-click="view.deleteDropFile($index)" confirm="{l}Are you sure, you wanna delete this entry?{endl}"><span ng-if="item.is_url" class="fas fa-unlink"></span><span ng-if="!item.is_url" class="fa fa-trash"></span></a></span></p>
                </div>
              </div>
              <h4>
                  <strong>{l}Images{endl}</strong>
                  <button type="button" class="btn btn-primary btn-add" uib-tooltip="{l}Upload{endl}" tooltip-placement="right" ng-if="view.item.status==0 || view.item.status==1" ng-click="view.uploadDoc(2)"><span class="btn-add_icon"><span class="icon-bar"></span><span class="icon-bar-2"></span></span></button>
              </h4>
              <div class="row text-center" ng-if="view.show_load">
                  <i class="fa fa-spinner fa-spin fa-2x fa-fw" aria-hidden="true"></i><span class="sr-only"></span>
              </div>
              <div uib-alert type="notice" ng-if="!view.item.dropbox.dropbox_images.length && !view.show_load" class="padd-file">{l}No images have been added yet{endl}</div>
              <div class="row drop_images" ng-if="view.item.dropbox.dropbox_images.length && !view.show_load">
                  <div class="col-sm-2 margin-top" ng-repeat="item in view.item.dropbox.dropbox_images">
                      <div class="image">
                          <img class="link-pointer" ng-src="{{item.url}}" ng-click="view.openLightboxModal($index,'item')"/>
                      </div> 
                      <span class="glyphicon glyphicon-remove text-danger link-pointer" ng-if="view.item.status==0 || view.item.status==1" ng-click="view.deleteDropImage($index)" confirm="{l}Are you sure, you wanna delete this entry?{endl}"></span>
                  </div>
              </div>
              <h4>
                  <strong>{l}Signature{endl}</strong>
                  <button type="button" class="btn btn-primary btn-add" uib-tooltip="{l}Upload{endl}" tooltip-placement="right" ng-if="view.item.status==0 || view.item.status==1" ng-click="view.uploadDoc(3)"><span class="btn-add_icon"><span class="icon-bar"></span><span class="icon-bar-2"></span></span></button>
              </h4>
              <div class="row text-center" ng-if="view.show_load">
                  <i class="fa fa-spinner fa-spin fa-2x fa-fw" aria-hidden="true"></i><span class="sr-only"></span>
              </div>
              <div uib-alert type="notice" ng-if="!view.item.dropbox.signature.length && !view.show_load" class="padd-file">{l}No signature has been added yet{endl}</div>
              <div class="row drop_images" ng-if="view.item.dropbox.signature.length && !view.show_load">
                  <div class="col-sm-2 margin-top" ng-repeat="item in view.item.dropbox.signature">
                      <div class="image">
                          <img class="link-pointer" ng-src="{{item.url}}" ng-click="view.openSignature($index,'item')"/>
                      </div> 
                      <span class="glyphicon glyphicon-remove text-danger link-pointer" ng-if="view.item.status==0 || view.item.status==1" ng-click="view.deleteSignature($index)" confirm="{l}Are you sure, you wanna delete this entry?{endl}"></span>
                  </div>
              </div>
          </div>
      </div>
      <div class="row">
          <div class="col-sm-12">
              <div class="user_summary" ng-class="{'is-open': view.showTxt.notes, '': !view.showTxt.notes}">
                  <button class="btn-summary text-link" ng-click="view.showTxt.notes=!view.showTxt.notes"><span class="glyphicon glyphicon-chevron-down pull-right"></span> {l}Intervention Report{endl}</button>
                  <div class="row">
                      <textarea class="form-control resize_vertical" ng-model="view.item.report" placeholder="{l}Intervention Report{endl}" rows="6" ng-readonly="true" >{{view.item.report}}</textarea>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <logging do='maintenance-service' type="service_id" ref="{{view.item.service_id}}"></logging>
</div>