<div class="container"><!-- neede on all pages -->
  <div class="page-header">
  	<div class="row">
      	<div class="col-xs-12">
              <h1>{l}Settings{endl}</h1>
          </div>
      </div>
  </div><!-- /.page-header -->
  <div class="row page-content">
  	<div class="col-xs-12 tabs-settings">
  		<div class="row">
        <ul class="col-xs-4 nav nav-tabs tabs-settings-nav">
          <li class="active"><a href="#pdf_logos" aria-controls="pdf_logos" data-toggle="tab" ng-click="load('logos','logos')">{l}PDF Logos{endl}</a></li>
          <li><a href="#pdf_layouts" aria-controls="pdf_layouts" data-toggle="tab" ng-click="load('PDFlayout','layout')">{l}PDF Layout{endl}</a></li>
        </ul><!-- /.tabs-settings-nav -->
        <div class="col-xs-8 tab-content tabs-settings-content">
          <uib-alert ng-repeat="alert in alerts" type="{{alert.type}}" close="alerts.splice($index, 1);" >{{alert.msg}}</uib-alert>
          <div class="tab-pane fade in active" id="pdf_logos">
            <div class="section-title">
                <div class="row">
                    <div class="col-xs-12">
                        <h2>{l}PDF Logos{endl} </h2>
                    </div>
                </div>
            </div><!-- /.section-title -->
            <div class="section-content">
              <div class="row">
                  <div class="col-xs-12">
                      <div class="upload-box col-xs-12">
                          <p><strong>{l}Logo{endl}</strong></p>
                          <p><small>{l}Please provide an image which is 250 x 77 pixels. Allowed file types: <strong>.jpg</strong>, <strong>.jpeg</strong> or <strong>.gif</strong>.{endl}</small></p>
                          <div class="upload-file hidden">
                              <div class="row">
                                  <div class="upload-file-image col-xs-4">
                                    <img class="img-thumbnail" src="images/storedemo.png" width="232" height="60" alt=""/>
                                  </div>
                                  <div class="upload-file-info col-xs-8">
                                      <p class="nameOfTheFile"></p>
                                      <div class="upload-progress">
                                          <div class="upload-progress-bar" style="width: 88%;"></div>
                                      </div>
                                  </div>
                              </div>
                          </div>
                          <input type="file" name="file" class="newUploadFile2" accept=".gif,.jpg,.jpeg">
                          <p class="text-center"><button class="btn btn-default" ng-click="upload($event)"><span class="glyphicon glyphicon-cloud-upload"></span> {l}Upload{endl}</button></p>
                      </div><!-- /.upload-box -->
                  </div>
              </div>
              <div class="row">
                <div class="col-xs-12 radio-list">
                  <div class="row" ng-repeat="item in logos">
                    <div class="col-xs-1 col-xs-offset-3 text-center"><input type="radio" ng-model="default_logo" value="{{item.account_logo}}" ng-click="setLogo(item)"></div>
                      <div class="col-xs-4 text-center"><img class="img-thumbnail" ng-src="{{item.account_logo}}" width="232" height="60" alt=""/></div>
                      <div class="col-xs-1 text-center"><a href="#" ng-click="deleteImage(item)"><span class="fas fa-trash-alt"></span></a></div>
                  </div>
                </div><!-- /.radio-list -->
              </div>
            </div><!-- /.section-content -->
          </div><!-- /.tab-pane -->
          <div class="tab-pane fade" id="pdf_layouts">
            <div class="section-title">
                <div class="row">
                    <div class="col-xs-12">
                        <h2>{l}PDF Layout{endl}</h2>
                    </div>
                </div>
            </div><!-- /.section-title -->
            <div class="section-content">
                <div class="row">
                    <div class="col-xs-12">
                        <p>{l}Pdf layout for quotes{endl}</p>
                    </div>
                </div>
                <form class="form-horizontal">
                  <div class="form-horizontal">
                    <div class="form-group">
                      <label class="col-xs-4 control-label text-left">{l}Use page numbering{endl}:</label>
                      <div class="col-xs-5 col-md-8 checkbox">
                        <label>
                          <input type="checkbox" ng-model="settings.use_page_numbering" ng-click="updateLayout()">
                        </label>
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="col-xs-4 control-label text-left">{l}Show Stamp/Signature on PDF{endl}:</label>
                      <div class="col-xs-5 col-md-8 checkbox">
                        <label>
                          <input type="checkbox" ng-model="settings.show_stamp" ng-click="updateLayout()">
                        </label>
                      </div>
                    </div>
                  </div>
                </form>
                <div class="row document_layout-list">
                    <div class="col-xs-6 col-sm-4 col-md-4 col-lg-3" ng-repeat="item in layout">
                      <div class="document_layout-item {{item.selected}}">
                        <a href="#"><img class="img-responsive" ng-src="{{item.img_href}}" width="690" height="976" alt=""/></a>
                        <p ng-if="item.selected"><a class="btn btn-sm btn-primary" href="#"><span class="glyphicon glyphicon-ok"></span> {l}Current{endl}</a></p>
                        <p ng-if="!item.selected"><a class="btn btn-sm btn-tertiary" href="#" ><span class="glyphicon glyphicon-ok"></span> {l}Select{endl}</a></p>
                        <p><a class="btn btn-sm btn-link" href="{{item.view_invoice_pdf}}" target="_blank"><span class="glyphicon glyphicon-share"></span> {l}Preview{endl}</a></p>
                      </div>
                    </div>

                </div><!-- /.document_layout-list -->
            </div><!-- /.section-content -->
          </div><!-- /.tab-pane -->
        </div><!-- /.tabs-settings-content -->
        <div class="col-xs-4 tabs-settings-background"><span></span></div><!-- /.tabs-settings-background -->
      </div>
  	</div><!-- /.tabs-settings -->
  </div><!-- /.page-content -->
</div><!-- neede on all pages -->