<div class="container"><!-- neede on all pages -->
  <div class="page-header">
    <div class="row">
      <div class="col-xs-12">
        <h1>{l}Service Report{endl} <a class="btn btn-link pull-right" ui-sref="service.view({'service_id': service_id})" href="#"><span class="glyphicon glyphicon-list"></span> {l}Back to intervention{endl}</a></h1>
      </div>
    </div>
  </div><!-- /.page-header -->
  <div class="row page-content">  
    <div class="col-xs-7">
      <div class="row">
        <div class="col-xs-12">
          <table class="table_minimal">
            <thead>
              <tr>
                <th class="col-sm-2">{l}Date{endl}</th>
                <th class="col-sm-4">{l}Name{endl}</th>
                <th class="col-sm-2">{l}Start time{endl}</th>
                <th class="col-sm-2">{l}End time{endl}</th>
                <th class="col-sm-1">{l}Break{endl}</th>
                <th class="col-sm-1">{l}Hours{endl}</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="item in table.hours">
                <td>{{item.DATE}}</td>
                <td><span class="item-status item-status-gray" style="background-color:{{item.color}}"></span> {{item.c_name}}</td>
                <td>{{item.start_time}}</td>
                <td>{{item.end_time}}</td>
                <td>{{item.break}}</td>
                <td>{{item.hours}}</td>
              </tr>
            </tbody>
            <tfoot>
              <td colspan="5" class="text-right"><strong>{l}Total{endl}</strong></td>
              <td>{{table.total}}</td>
            </tfoot>
          </table>
        </div>
      </div>
    </div>
    <div class="col-xs-5">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title"><strong>{{table.total}}</strong> {l}Hours Tracked{endl}</h3>
        </div>
        <div class="panel-body">
          <canvas class="chart chart-pie" chart-data="chart.data" chart-labels="chart.labels" chart-options="chart.opt" chart-colors="chart.color" ></canvas>
        </div><!-- /.panel-body -->
      </div><!-- /.panel panel-primary -->
    </div>
    <div class="col-sm-7" ng-if="expenses.is_data>0">
      <div><h5><strong>{l}Expenses{endl}</strong></h5></div>
      <table class="table_minimal">
        <thead>
              <tr>
                  <th class="col-xs-2">{l}Date{endl}</th>
                  <th class="col-sm-3">{l}Name{endl}</th>
                  <th class="col-xs-2">{l}Category{endl}</th>
                  <th class="col-xs-3">{l}Amount{endl}</th>
                  <th class="col-xs-2">{l}Notes{endl}</th>
              </tr>
        </thead>
        <tbody>
              <tr ng-repeat="exp in expenses.expense">
                  <td>{{exp.DATE}}</td>
                  <td>{{exp.u_name}}</td>
                  <td>{{exp.category}}</td>
                  <td ng-bind-html="exp.amount"></td>
                  <td ng-bind-html="exp.note"></td>
              </tr>
        </tbody>
        <tfoot>
          <td colspan="4" class="text-right"><strong>{l}Total{endl}</strong></td>
          <td><span ng-bind-html="expenses.total"></span></td>
        </tfoot>
      </table>
    </div>
  </div><!-- /.page-content -->
</div><!-- neede on all pages -->