<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="add.close_modal()"><span aria-hidden="true">&times;</span></button>
  <h4 class="modal-title">{l}Intervention Setup{endl}</h4>
</div>
<div class="modal-body">
	<div class="loading_wrap loading_alt hidden">
      	<div class="loading"></div>
        	<div class="spinner"></div>
    </div>
	<div uib-alert ng-repeat="alert in add.alerts" type="{{alert.type}}" close="add.alerts.splice($index, 1);" dismiss-on-timeout="3500" ng-class="['alert-' + (alert.type || 'warning'), 'alert-fixed', 'alert-fixed-modal' ]">{{alert.msg}}</div>
	<div class="row setup_timeline" ng-if="add.obj.item.quote_id || (!add.obj.item.contract_id && add.obj.item.is_recurring)">
		<div class="setup_step col-xs-6 col-sm-6" ng-class="{'active':add.step==1 }">
			<div class="setup_card">1</div>
		</div>
		<div class="setup_step col-xs-6 col-sm-6" ng-class="{'active':add.step==2 }">
			<div class="setup_card">2</div>
		</div>
	</div>
	<div class="row setup_timeline" ng-if="add.obj.item.contract_id && !add.obj.item.is_recurring">
		<div class="setup_step col-xs-4 col-sm-4" ng-class="{'active':add.step==1 }">
			<div class="setup_card">1</div>
		</div>
		<div class="setup_step col-xs-4 col-sm-4" ng-class="{'active':add.step==2 }">
			<div class="setup_card">2</div>
		</div>
		<div class="setup_step col-xs-4 col-sm-4" ng-class="{'active':add.step==3 }">
			<div class="setup_card">3</div>
		</div>
	</div>
	<div class="row setup_timeline" ng-if="add.obj.item.contract_id && add.obj.item.is_recurring">
		<div class="setup_step col-xs-3 col-sm-3" ng-class="{'active':add.step==1 }">
			<div class="setup_card">1</div>
		</div>
		<div class="setup_step col-xs-3 col-sm-3" ng-class="{'active':add.step==2 }">
			<div class="setup_card">2</div>
		</div>
		<div class="setup_step col-xs-3 col-sm-3" ng-class="{'active':add.step==3 }">
			<div class="setup_card">3</div>
		</div>
		<div class="setup_step col-xs-3 col-sm-3" ng-class="{'active':add.step==4 }">
			<div class="setup_card">4</div>
		</div>
		<!-- <div class="setup_step col-xs-2" ng-class="{'active':add.step==5 }">
			<div class="setup_card">5</div>
		</div> -->
	</div>	
	<div class="row col-bottom" ng-show="add.step==1 && add.obj.item.contract_id && !add.obj.item.is_recurring">
		<div class="col-xs-12 col-sm-4 col-sm-offset-2">
			<button class="btn btn-block btn-lg btn-setup" ng-click="add.set_ctype('1')" ng-class="{ 'active':add.obj.item.service_ctype=='1' }">
				<div class="btn-setup_holder">
					<div class="text-holder">
						<span class="icon-holder">
							<i class="fa fa-reply" aria-hidden="true" width="16" height="16"></i>
						</span>
						{l}Prepaid{endl}
					</div>
				</div>
			</button>
		</div>
		<div class="col-xs-12 col-sm-4">
			<button class="btn btn-block btn-lg btn-setup" ng-click="add.set_ctype('0')" ng-class="{ 'active':add.obj.item.service_ctype=='0' }">
				<div class="btn-setup_holder">
					<div class="text-holder">
						<span class="icon-holder">
							<i class="fa fa-share" aria-hidden="true" width="16" height="16"></i>
						</span>
						{l}Postpaid{endl}
					</div>
				</div>
			</button>
		</div>
		<div class="col-xs-12 col-sm-4 col-sm-offset-2 text-center">
			<label>{l}Payment is handled through recurring invoicing of the contract and the individual interventions won't be invoicable{endl}</label>
		</div>
		<div class="col-xs-12 col-sm-4 text-center">
			<label>{l}Each separate intervention will be invoicable{endl}</label>
		</div>
	</div>
	<div class="row col-bottom" ng-show="add.step==1 && add.obj.item.contract_id && add.obj.item.is_recurring">
		<div class="col-xs-12 col-sm-4 col-sm-offset-2">
			<button class="btn btn-block btn-lg btn-setup" ng-click="add.set_ctype('1')" ng-class="{ 'active':add.obj.item.service_ctype=='1' }">
				<div class="btn-setup_holder">
					<div class="text-holder">
						<span class="icon-holder">
							<i class="fa fa-reply" aria-hidden="true" width="16" height="16"></i>
						</span>
						{l}Prepaid{endl}
					</div>
				</div>
			</button>
		</div>
		<div class="col-xs-12 col-sm-4">
			<button class="btn btn-block btn-lg btn-setup" ng-click="add.set_ctype('0')" ng-class="{ 'active':add.obj.item.service_ctype=='0' }">
				<div class="btn-setup_holder">
					<div class="text-holder">
						<span class="icon-holder">
							<i class="fa fa-share" aria-hidden="true" width="16" height="16"></i>
						</span>
						{l}Postpaid{endl}
					</div>
				</div>
			</button>
		</div>
		<div class="col-xs-12 col-sm-4 col-sm-offset-2 text-center">
			<label>{l}Payment is handled through recurring invoicing of the contract and the individual interventions won't be invoicable{endl}</label>
		</div>
		<div class="col-xs-12 col-sm-4 text-center">
			<label>{l}Each separate intervention will be invoicable{endl}</label>
		</div>
	</div>
	<div class="row col-bottom" ng-show="add.step==1 && !add.obj.item.contract_id">
		<div class="col-xs-12 col-sm-4">
			<button class="btn btn-block btn-lg btn-setup" ng-click="add.set_type('0')" ng-class="{ 'active':add.obj.item.service_type=='0' }">
				<div class="btn-setup_holder">
					<div class="text-holder">
						<span class="icon-holder">
							<img src="images/time_p.png" alt="" width="16" height="16">
						</span>
						{l}Time & Expenses{endl}
					</div>
				</div>
			</button>
		</div>
		<div class="col-xs-12 col-sm-4">
			<button class="btn btn-block btn-lg btn-setup" ng-click="add.set_type('1')" ng-class="{ 'active':add.obj.item.service_type=='1' }">
				<div class="btn-setup_holder">
					<div class="text-holder">
						<span class="icon-holder">
							<img src="images/fixed_p.png" alt="" width="16" height="16">
						</span>
						{l}Fixed price{endl}
					</div>
				</div>
			</button>
		</div>
		<div class="col-xs-12 col-sm-4">
			<button class="btn btn-block btn-lg btn-setup" ng-click="add.set_type('2')" ng-class="{ 'active':add.obj.item.service_type=='2' }">
				<div class="btn-setup_holder">
					<div class="text-holder">
						<span class="icon-holder">
							<i class="fa fa-eur" aria-hidden="true" width="16" height="16"></i>
						</span>
						{l}Not Billable{endl}
					</div>
				</div>
			</button>
		</div>
	</div>
	<div class="row col-bottom" ng-show="add.step==2 && add.obj.item.contract_id">
		<div class="col-xs-12 col-sm-4 col-sm-offset-2">
			<button class="btn btn-block btn-lg btn-setup" ng-click="add.set_type('0')" ng-class="{ 'active':add.obj.item.service_type=='0' }">
				<div class="btn-setup_holder">
					<div class="text-holder">
						<span class="icon-holder">
							<img src="images/time_p.png" alt="" width="16" height="16">
						</span>
						{l}Time & Expenses{endl}
					</div>
				</div>
			</button>
		</div>
		<div class="col-xs-12 col-sm-4">
			<button class="btn btn-block btn-lg btn-setup" ng-click="add.set_type('1')" ng-class="{ 'active':add.obj.item.service_type=='1' }">
				<div class="btn-setup_holder">
					<div class="text-holder">
						<span class="icon-holder">
							<img src="images/fixed_p.png" alt="" width="16" height="16">
						</span>
						{l}Fixed price{endl}
					</div>
				</div>
			</button>
		</div>
	</div>
	<div class="row col-bottom form-horizontal" ng-show="add.step==2 && !add.obj.item.contract_id && add.obj.item.is_recurring">
		<div class="col-xs-12 col-sm-6 col-sb-offset-3">
			<div class="form-group">
				<label class="control-label col-sm-5 col-lg-4">{l}Start date{endl}</label>
				<div class="col-sm-4 col-lg-4">
				    <div class="so-field">
				        <span class="glyphicon glyphicon-calendar so-icon"></span>
				        <input type="text" class="form-control form-control-border-right" ng-model="add.obj.item.rec_start_date" uib-datepicker-popup="{{add.format}}" is-open="add.datePickOpen.rec_start_date" datepicker-options="add.dateOptions" ng-required="true" close-text="Close" placeholder="{l}Start Date{endl}" show-button-bar="false" ng-click="add.datePickOpen.rec_start_date=true" ng-change="add.search.rec_start_date=add.obj.item.rec_start_date"/>
				    </div><!-- /.so-field -->
				</div>
			</div>
			<div class="form-group">
				<label class="control-label col-sm-5 col-lg-4">{l}Frequency{endl}</label>
				<div class="col-sm-4 col-lg-4">
					<selectize config="add.cfg" options="add.obj.item.frequency_list" ng-model="add.obj.item.rec_frequency"></selectize>
					<div class="row margin-top" ng-show="add.obj.item.rec_frequency=='5'">
	                    <div class="col-sm-8">
	                        <div class="input-group">
	                          <span class="input-group-addon"> {l}Every{endl}</span>
	                          <input type="text" class="form-control" ng-model="add.obj.item.rec_days" ng-change="add.search.rec_days=add.obj.item.rec_days">
	                        </div>                
	                    </div>
	                    <div class="col-sm-4">
	                      <span>{l}Days{endl}</span>
	                    </div>
	                </div>
				</div>			
			</div>
		</div>
		<div class="col-xs-12">
			<div class="col-xs-12 col-sm-3 col-sm-offset-1">
				<div class="btn btn-block btn-lg btn-setup">
					<div class="btn-setup_holder">
						<div class="text-holder">
							<span class="icon-holder">
								<span class="glyphicon glyphicon-calendar"></span>
							</span>
							<div class="form-group">
								<label class="control-label col-xs-12 text-left">{l}End date{endl}</label>
								<div class="col-xs-12">
								    <div class="so-field">							       
								        <input type="text" class="form-control form-control-border-right" ng-model="add.obj.item.rec_end_date" uib-datepicker-popup="{{add.format}}" is-open="add.datePickOpen.rec_end_date" datepicker-options="add.dateOptions" ng-required="true" close-text="Close" placeholder="{l}End Date{endl}" show-button-bar="false" ng-click="add.datePickOpen.rec_end_date=true" ng-change="add.setEnd('0')"/>
								    </div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-xs-12 col-sm-1 text-center margin-top">
				<label class="control-label">{l}OR{endl}</label>
			</div>
			<div class="col-xs-12 col-sm-3">
				<div class="btn btn-block btn-lg btn-setup">
					<div class="btn-setup_holder">
						<div class="text-holder">
							<span class="icon-holder">
								<span class="glyphicon glyphicon-option-horizontal"></span>
							</span>
							<div class="form-group">
								<label class="control-label col-xs-12 text-left">{l}Recurring number{endl}</label>
								<div class="col-xs-12">
								    <input type="text" class="form-control" ng-model="add.obj.item.rec_number" ng-change="add.setEnd('1')">
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-xs-12 col-sm-1 text-center margin-top">
				<label class="control-label">{l}OR{endl}</label>
			</div>
			<div class="col-xs-12 col-sm-3">
				<div class="btn btn-block btn-lg btn-setup">
					<div class="btn-setup_holder">
						<div class="text-holder">
							<span class="icon-holder">
								<i class="fa fa-hourglass-o" aria-hidden="true"></i>
							</span>
							<div class="form-group">
								<label class="control-label col-xs-12 text-left">{l}No end date{endl}</label>
								<div class="col-xs-12">
									<toggle-switch ng-model="add.obj.item.recurring_no_end" class="switch-primary" off-label="{l}No{endl}" on-label="{l}Yes{endl}" on-change="add.setEnd('3')"></toggle-switch>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>		
	</div>
	<div class="row col-bottom" ng-show="(add.step==2 && add.obj.item.quote_id) || (add.step==3 && add.obj.item.contract_id)">
		<div class="minimal_list minimal_list-tasks" ng-if="add.obj.item.quote_task">
			<div class="col-xs-12">
	    		<div>
					<h5><strong>{l}Selected tasks{endl}</strong></h5>
					<div>
						<table class="table active_rows orderTable" ng-repeat="item in add.obj.item.quote_group_data">
					  		<thead>
					    		<tr>
					      			<th colspan="4">
					      				<div class="row">
					      					<div class="col-sm-1">
						      					<input type="checkbox" ng-model="item.checked">
						      				</div>
						      				<label>{{item.group_title}}</label>
					      				</div>	      				
					      			</th>
					      		</tr>
					      		<tr>
					      			<th class="col-sm-6">{l}Item{endl}</th>
					      			<th class="col-sm-2 text-center">{l}Quantity{endl}</th>
					      			<th class="col-sm-2 text-center">{l}Unit Price{endl}</th>
					      			<th class="col-sm-2 text-center">{l}Amount{endl}</th>
					      		</tr>
					     	</thead>
					     	<tbody>
					     		<tr ng-repeat="item2 in item.data_line">
					     			<td><span ng-bind-html="item2.item"></span></td>
					     			<td class="text-center">{{item2.quantity}}</td>
					     			<td class="text-center">{{item2.unit_price}}</td>
					     			<td class="text-center"><span ng-bind-html="item2.amount"></span></td>
					     		</tr>
					     		<tr>
					     			<td colspan="3"><b>{l}TOTAL{endl}</b></td>
					     			<td class="text-center"><b><span ng-bind-html="item.total"></span></b></td>
					     		</tr>
					     	</tbody>
					    </table>
					</div>
				</div>
			</div>
		</div>
		<div class="minimal_list minimal_list-tasks" ng-if="add.obj.item.quote_service">
			<div class="col-xs-12">
	    		<div>
					<h5><strong>{l}Selected services{endl}</strong></h5>
					<div>
						<table class="table active_rows orderTable" ng-repeat="item in add.obj.item.quote_group_services">
					  		<thead>
					    		<tr>
					      			<th colspan="4">
					      				<div class="row">
					      					<div class="col-sm-1">
						      					<input type="checkbox" ng-model="item.checked">
						      				</div>
						      				<label>{{item.group_title}}</label>
					      				</div>	      				
					      			</th>
					      		</tr>
					      		<tr>
					      			<th class="col-sm-6">{l}Item{endl}</th>
					      			<th class="col-sm-2 text-center">{l}Quantity{endl}</th>
					      			<th class="col-sm-2 text-center">{l}Unit Price{endl}</th>
					      			<th class="col-sm-2 text-center">{l}Amount{endl}</th>
					      		</tr>
					     	</thead>
					     	<tbody>
					     		<tr ng-repeat="item2 in item.services">
					     			<td><span ng-bind-html="item2.item"></span></td>
					     			<td class="text-center">{{item2.quantity}}</td>
					     			<td class="text-center">{{item2.unit_price}}</td>
					     			<td class="text-center"><span ng-bind-html="item2.amount"></span></td>
					     		</tr>
					     		<tr>
					     			<td colspan="3"><b>{l}TOTAL{endl}</b></td>
					     			<td class="text-center"><b><span ng-bind-html="item.total"></span></b></td>
					     		</tr>
					     	</tbody>
					    </table>
					</div>
				</div>
			</div>
		</div>
		<div class="minimal_list minimal_list-tasks" ng-if="add.obj.item.quote_art">
			<div class="col-xs-12">
	    		<div>
					<h5><strong>{l}Selected articles{endl}</strong></h5>
					<div>
						<table class="table active_rows orderTable" ng-repeat="item in add.obj.item.quote_group_articles">
					  		<thead>
					    		<tr>
					      			<th colspan="4">
					      				<div class="row">
					      					<div class="col-sm-1">
						      					<input type="checkbox" ng-model="item.checked">
						      				</div>
						      				<label>{{item.group_title}}</label>
					      				</div>				
					      			</th>
					      		</tr>
					      		<tr>
					      			<th class="col-sm-6">{l}Item{endl}</th>
					      			<th class="col-sm-2 text-center">{l}Quantity{endl}</th>
					      			<th class="col-sm-2 text-center">{l}Unit Price{endl}</th>
					      			<th class="col-sm-2 text-center">{l}Amount{endl}</th>
					      		</tr>
					     	</thead>
					     	<tbody>
					     		<tr ng-repeat="item2 in item.articles">
					     			<td><span ng-bind-html="item2.item"></span></td>
					     			<td class="text-center">{{item2.quantity}}</td>
					     			<td class="text-center">{{item2.unit_price}}</td>
					     			<td class="text-center"><span ng-bind-html="item2.amount"></span></td>
					     		</tr>
					     		<tr>
					     			<td colspan="3"><b>{l}TOTAL{endl}</b></td>
					     			<td class="text-center"><b><span ng-bind-html="item.total"></span></b></td>
					     		</tr>
					     	</tbody>
					    </table>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row col-bottom form-horizontal" ng-show="add.step==4 && add.obj.item.contract_id">
		<div class="col-xs-6 col-xs-offset-3">
			<div class="form-group">
				<label class="control-label col-sm-5 col-lg-4">{l}Start date{endl}</label>
				<div class="col-sm-4 col-lg-4">
				    <div class="so-field">
				        <span class="glyphicon glyphicon-calendar so-icon"></span>
				        <input type="text" class="form-control form-control-border-right" ng-model="add.obj.item.rec_start_date" uib-datepicker-popup="{{add.format}}" is-open="add.datePickOpen.rec_start_date" datepicker-options="add.dateOptions" ng-required="true" close-text="Close" placeholder="{l}Start Date{endl}" show-button-bar="false" ng-click="add.datePickOpen.rec_start_date=true" ng-change="add.search.rec_start_date=add.obj.item.rec_start_date"/>
				    </div><!-- /.so-field -->
				</div>
			</div>
			<div class="form-group">
				<label class="control-label col-sm-5 col-lg-4">{l}Frequency{endl}</label>
				<div class="col-sm-4 col-lg-4">
					<selectize config="add.cfg" options="add.obj.item.frequency_list" ng-model="add.obj.item.rec_frequency"></selectize>
					<div class="row margin-top" ng-show="add.obj.item.rec_frequency=='5'">
	                    <div class="col-sm-8">
	                        <div class="input-group">
	                          <span class="input-group-addon"> {l}Every{endl}</span>
	                          <input type="text" class="form-control" ng-model="add.obj.item.rec_days" ng-change="add.search.rec_days=add.obj.item.rec_days">
	                        </div>                
	                    </div>
	                    <div class="col-sm-4">
	                      <span>{l}Days{endl}</span>
	                    </div>
	                </div>
				</div>			
			</div>
		</div>
		<div class="col-xs-12">
			<div class="col-xs-3 col-xs-offset-1">
				<div class="btn btn-block btn-lg btn-setup">
					<div class="btn-setup_holder">
						<div class="text-holder">
							<span class="icon-holder">
								<span class="glyphicon glyphicon-calendar"></span>
							</span>
							<div class="form-group">
								<label class="control-label col-xs-12 text-left">{l}End date{endl}</label>
								<div class="col-xs-12">
								    <div class="so-field">							       
								        <input type="text" class="form-control form-control-border-right" ng-model="add.obj.item.rec_end_date" uib-datepicker-popup="{{add.format}}" is-open="add.datePickOpen.rec_end_date" datepicker-options="add.dateOptions" ng-required="true" close-text="Close" placeholder="{l}End Date{endl}" show-button-bar="false" ng-click="add.datePickOpen.rec_end_date=true" ng-change="add.setEnd('0')"/>
								    </div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-xs-1 text-center margin-top">
				<label class="control-label">{l}OR{endl}</label>
			</div>
			<div class="col-xs-3">
				<div class="btn btn-block btn-lg btn-setup">
					<div class="btn-setup_holder">
						<div class="text-holder">
							<span class="icon-holder">
								<span class="glyphicon glyphicon-option-horizontal"></span>
							</span>
							<div class="form-group">
								<label class="control-label col-xs-12 text-left">{l}Recurring number{endl}</label>
								<div class="col-xs-12">
								    <input type="text" class="form-control" ng-model="add.obj.item.rec_number" ng-change="add.setEnd('1')">
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-xs-1 text-center margin-top">
				<label class="control-label">{l}OR{endl}</label>
			</div>
			<div class="col-xs-3">
				<div class="btn btn-block btn-lg btn-setup">
					<div class="btn-setup_holder">
						<div class="text-holder">
							<span class="icon-holder">
								<i class="fa fa-hourglass-o" aria-hidden="true"></i>
							</span>
							<div class="form-group">
								<label class="control-label col-xs-12 text-left">{l}End when contract ends{endl}</label>
								<div class="col-xs-12">
									<toggle-switch ng-model="add.obj.item.end_contract" class="switch-primary" off-label="{l}No{endl}" on-label="{l}Yes{endl}" on-change="add.setEnd('2')"></toggle-switch>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>		
	</div>
	<div class="row col-bottom form-horizontal" ng-if="add.nothing"><!--"add.step==5 && add.obj.item.contract_id"-->
		<div class="col-xs-12">
            <div class="row page-header">
                <div class="col-xs-5">
                    <h2>{l}Overview for{endl}
                        <selectize config='add.teamAutoCfg' options='add.planning.select' ng-model="add.search.team_id" placeholder="{l}A Team{endl}"></selectize>
                    </h2>
                </div>
                <div class="col-xs-7 text-right">
                    <div class="btn-group btn-group-calendar" role="group">
                        <button type="button" class="btn btn-square btn-plain" ng-click="add.navigate(-1)"><span class="glyphicon glyphicon-chevron-left"></span></button>
                        <span class="calendar-date">{{add.planning.date_txt}}</span>
                        <button type="button" class="btn btn-square btn-plain" ng-click="add.navigate(+1)"><span class="glyphicon glyphicon-chevron-right"></span></button>
                    </div>
                    <div class="btn-inline col-left text-left">
						<selectize class="selectize-control-sm" config='add.typeCfg' options='add.types' ng-model="add.search.activeType"></selectize>
					</div>
                </div>
        	</div>
            <div class="planning planning_groups planning_groups_week" ng-if="add.search.activeType=='1'">
                <div class="planning_header clearfix">
                    <div class="planning_row_user"></div>
                    <div class="planning_row_content">
                        <div class="planning_cell" ng-repeat="item in add.planning.days_nr" ng-class="{ 'weekend_dates' : item.end_day }">{{item.day_name}} {{item.date_month}}</div>
                   </div>
                </div><!-- /.planning_header -->
                <div class="planning_row clearfix" ng-repeat="item in add.planning.user_data">
                    <div class="planning_row_user">
                        <div class="planning_user_thumb">
                            <span class="fa fa-user"></span>
                        </div>
                        <div class="planning_user">
                            <span class="text-ellipsis pull-left">{{item.name}}</span>
                            <a ng-if="!item.added" class="add_user_plann" uib-tooltip="{l}Add User{endl}" tooltip-placement="left" ng-click="add.userPlan(item)"><span class="fa fa-plus icon-holder"></span></a>
                            <a ng-if="item.added" class="add_user_plann" uib-tooltip="{l}Remove User{endl}" tooltip-placement="left" ng-click="add.rmuserPlan(item)"><span class="fa fa-check icon-holder icon-checked"></span></a>
                        </div>
                    </div><!-- /.planning_header -->
                    <div class="planning_row_content">
                        <div class="planning_cell" id="master{{item.user_id}}_{{item2.tmsp}}" ng-repeat="item2 in item.data" ng-class="{ 'bg-grey' : item2.block_day}" my-drop='true' nuser="{{$parent.$index}}" on-drop="add.dropped(line,origin_tmsp, dest_tmsp)">
                            <div class="planning_details link-pointer" id="drag{{item.user_id}}_{{item2.tmsp}}" ng-class="{ 'bg-primary':item2.is_proposed, 'bg-success' : item2.service_nr<5 && item2.service_nr>0 && !item2.is_proposed, 'bg-warning' : item2.service_nr>=5 && item2.service_nr<=7 && !item2.is_proposed, 'bg-danger':item2.service_nr>7 && !item2.is_proposed }" draggable="{{item2.is_proposed}}" my-dragg='true' nuser="{{$parent.$index}}" nday="{{$index}}"></div>              
                        </div>
                    </div><!-- /.planning_row_content -->
               	</div><!-- /.planning_row -->             
            </div><!-- /.planning_groups_week -->
            <div class="planning planning_groups planning_groups_month" ng-if="add.search.activeType=='2'">
				<div class="planning_header clearfix">
					<div class="planning_row_user"></div>
					<div class="planning_row_content">
						<div class="planning_cell" ng-repeat="item in add.planning.days_nr" ng-class="{ 'weekend_dates' : item.end_day }">{{item.day}}</div>
					</div>
				</div><!-- /.planning_header -->
				<div class="planning_row clearfix" ng-repeat="item in add.planning.user_data">
					<div class="planning_row_user">
						<div class="planning_user_thumb">
							<span class="fa fa-user"></span>
						</div>
						<div class="planning_user">
							<span class="text-ellipsis">{{item.name}}</span>
							<a ng-if="!item.added" class="add_user_plann" uib-tooltip="{l}Add User{endl}" tooltip-placement="left" ng-click="add.userPlan(item)"><span class="fa fa-plus icon-holder"></span></a>
							<a ng-if="item.added" class="add_user_plann" uib-tooltip="{l}Remove User{endl}" tooltip-placement="left" ng-click="add.rmuserPlan(item)"><span class="fa fa-check icon-holder icon-checked"></span></a>
						</div>
					</div><!-- /.planning_row_user -->
					<div class="planning_row_content">
						<div class="planning_cell" id="master{{item.user_id}}_{{item2.tmsp}}" ng-repeat="item2 in item.data" ng-class="{ 'bg-grey' : item2.block_day}" my-drop='true' nuser="{{$parent.$index}}" on-drop="add.dropped(line,origin_tmsp, dest_tmsp)">
							<div class="planning_details link-pointer" id="drag{{item.user_id}}_{{item2.tmsp}}" ng-class="{ 'bg-primary':item2.is_proposed, 'bg-success' : item2.service_nr<5 && item2.service_nr>0 && !item2.is_proposed, 'bg-warning' : item2.service_nr>=5 && item2.service_nr<=7 && !item2.is_proposed, 'bg-danger':item2.service_nr>7 && !item2.is_proposed }" draggable="{{item2.is_proposed}}" my-dragg='true' nuser="{{$parent.$index}}" nday="{{$index}}"></div>
						</div>
					</div><!-- /.planning_row_content -->
				</div><!-- /.planning_row -->
			</div><!-- /.planning_groups_month -->

        </div>
	</div>
</div>
<div class="modal-footer">
    <button class="btn btn-plain" type="button" ng-click="add.cancel()">{{add.close_btn}}</button>
     <button class="btn btn-default" type="button" ng-click="add.ok()" ng-show="(add.step>1 && !add.obj.item.contract_id) || (add.step>2 && add.obj.item.contract_id && !add.obj.item.is_recurring) || (add.step==4 && add.obj.item.contract_id && add.obj.item.is_recurring)">{l}Start{endl}</button>
     <button class="btn btn-default" type="button" ng-click="add.ok()" ng-show="(add.step==3) && add.obj.item.contract_id && add.obj.item.is_recurring">{l}Next Step{endl}</button>
</div>
