<div class="container">
    <!-- neede on all pages -->
    <div class="row page-content">
        <div class="col-xs-12 tabs-settings">
            <div class="row">
                <div class="col-xs-12 col-sm-4">
                    <div class="page-header">
                        <h1>{l}Intervention Module{endl}</h1>
                    </div>
                    <ul class="nav nav-tabs tabs-settings-nav">
                        <!-- <li class="active"><a href="#pdf_logos" aria-controls="pdf_logos" data-toggle="tab" ng-click="load('logos','logos')">{l}PDF Logos{endl}</a></li> -->
                        <!-- <li><a href="#pdf_layouts" aria-controls="pdf_layouts" data-toggle="tab" ng-click="load('PDFlayout','layout')">{l}PDF Layout{endl}</a></li> -->
                        <li class="active"><a href="#number_convention" aria-controls="number_convention" data-toggle="tab" ng-click="load('namingConv','namingConv')">{l}Naming convention{endl}</a></li>
                        <li><a href="#customLabels" aria-controls="customLabels" data-toggle="tab" ng-click="load('customLabel','customLabel')">{l}Custom PDF Labels{endl}</a></li>
                        <li><a href="#emailMessage" aria-controls="emailMessage" data-toggle="tab" ng-click="load('emailMessage','message')">{l}Email Message{endl}</a></li>
                        <li><a href="#defaultEmail" aria-controls="defaultEmail" data-toggle="tab" ng-click="load('defaultEmail','email_default')">{l}Default Email{endl}</a></li>
                        <li><a href="#settings" aria-controls="settings" data-toggle="tab" ng-click="load('settings','settings')">{l}Settings{endl}</a></li>
                        <li><a href="#expenses" aria-controls="expenses" data-toggle="tab" ng-click="load('expenses','expenses')">{l}Expenses{endl}</a></li>
                        <li><a href="#weblink" aria-controls="weblink" data-toggle="tab" ng-click="load('weblink','weblink')">{l}Intervention Weblink{endl}</a></li>
                    </ul>
                    <!-- /.tabs-settings-nav -->
                </div>
                <div class="col-xs-12 col-sm-8 tab-content tabs-settings-content">
                    <!-- <div uib-alert ng-repeat="alert in alerts" type="{{alert.type}}" close="alerts.splice($index, 1);" ng-class="['alert-' + (alert.type || 'warning') ]" dismiss-on-timeout='5000'>{{alert.msg}}</div> -->
                    <!--           <div class="tab-pane fade " id="pdf_layouts">
            <div class="section-title">
                <div class="row">
                    <div class="col-xs-12">
                        <h2>{l}PDF Layout{endl}</h2>
                    </div>
                </div>
            </div>
            <div class="section-content">
                <div class="row">
                    <div class="col-xs-12">
                        <p>{l}Pdf layout for maintenance{endl}</p>
                    </div>
                </div>
                <div class="row document_layout-list">
                    <div class="col-xs-6 col-sm-4 col-md-4 col-lg-3" ng-repeat="item in layout">
                      <div class="document_layout-item {{item.selected}}">
                        <a href="#"><img class="img-responsive" src="{{item.img_href}}" width="690" height="976" alt=""/></a>
                        <p ng-if="item.selected"><a class="btn btn-sm btn-primary" href="#"><span class="glyphicon glyphicon-ok"></span> {l}Current{endl}</a></p>
                        <p ng-if="!item.selected"><a class="btn btn-sm btn-tertiary" href="#" ><span class="glyphicon glyphicon-ok"></span> {l}Select{endl}</a></p>
                        <p><a class="btn btn-sm btn-link" href="{{item.view_invoice_pdf}}" target="_blank"><span class="glyphicon glyphicon-share"></span> {l}Preview{endl}</a></p>
                      </div>
                    </div>

                </div>
            </div>
          </div> -->
                    <div class="tab-pane fade in active" id="number_convention">
                        <div class="section-title">
                            <div class="row">
                                <div class="col-xs-6">
                                    <h2>{l}Naming convention{endl}</h2>
                                </div>
                                <div class="col-xs-6 text-right">
                                    <!-- <button type="submit" class="btn btn-default" ng-click="saveSetting(namingConv,'namingConv')">{l}Save{endl}</button> -->
                                </div>
                            </div>
                        </div>
                        <!-- /.section-title -->
                        <div class="section-content">
                            <div class="row">
                                <div class="col-xs-12">
                                    <p>{l}Default name for interventions{endl}</p>
                                    <form class="form-horizontal">
                                        <div class="form-group">
                                            <label for="inputEmail3" class="col-xs-6 col-sm-3 control-label text-left"><span>{l}Service intervention Index{endl}</span> <!-- <small>({l}Fixed part{endl})</small> --></label>
                                            <div class="col-xs-6 col-sm-3">
                                                <input type="text" class="form-control" id="inputEmail3" placeholder="SRV" ng-model="namingConv.ACCOUNT_SERVICE_START">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="inputPassword3" class="col-xs-6 col-sm-3 control-label text-left">{l}No. of digits{endl} <!-- <small>({l}Incremental part{endl})</small> --></label>
                                            <div class="col-xs-6 col-sm-3">
                                                <input type="text" class="form-control" id="inputPassword3" placeholder="1" ng-model="namingConv.ACCOUNT_SERVICE_DIGIT_NR">
                                            </div>
                                        </div>
                                        <p class="text-muted">
                                            <small>{l}The name of the intervention will have this format{endl}:</small> <strong>{{namingConv.EXAMPLE_SRV}}</strong>
                                        </p>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <!-- /.section-content -->
                        <div class="section-footer">
                            <div class="row">
                                <div class="col-xs-12 text-right">
                                    <button type="submit" class="btn btn-default" ng-click="saveSetting(namingConv,'namingConv')">{l}Save{endl}</button>
                                </div>
                            </div>
                        </div>
                        <!-- /.section-footer -->
                    </div>
                    <!-- /.tab-pane -->
                    <div class="tab-pane fade" id="customLabels">
                        <div class="section-title">
                            <div class="row">
                                <div class="col-xs-6">
                                    <h2>{l}Custom PDF Labels{endl}</h2>
                                </div>
                            </div>
                        </div>
                        <!-- /.section-title -->
                        <div class="section-content">
                            <div class="row">
                                <div class="col-xs-12">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th>{l}Language{endl}</th>
                                                <th class="table_actions text-right">{l}Action{endl}</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="item in customLabel">
                                                <td>{{item.name}}</td>
                                                <td class="table_actions  text-right">
                                                    <a href="#" ng-click="modal(item,'template/label','intlabelCtrl')"><span class="fas fa-pen"></span></a>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.tab-pane -->
                    <div class="tab-pane fade" id="emailMessage">
                        <div class="section-title">
                            <div class="row">
                                <div class="col-xs-6">
                                    <h2>{l}Intervention Message{endl}</h2>
                                </div>
                                <div class="col-xs-6 text-right">
                                    <!-- <button type="submit" class="btn btn-default" ng-click="saveSetting(message,'message')">{l}Save{endl}</button> -->
                                </div>
                            </div>
                        </div>
                        <!-- /.section-title -->
                        <div class="section-content">
                            <p class="text-muted">
                                <small>{l}Message on attached mail for intervention{endl}</small>
                            </p>
                            <form class="form-horizontal">
                                <div class="row">
                                    <div class="col-xs-6">
                                        <!-- <div class="form-group">
                      <label class="col-xs-5 control-label text-left">{l}Use HTML{endl}:</label>
                      <div class="col-xs-7 input-group-sm checkbox checkbox-primary">
                        <input type="checkbox" id="checkbox1" ng-model="message.use_html" ng-change="changeLang(message)">
                        <label for="checkbox1">
                        </label>
                      </div>
                    </div> -->
                                        <div class="form-group">
                                            <label class="col-xs-7 control-label text-left">{l}Include calendar invite{endl}:</label>
                                            <div class="col-xs-5 input-group-sm checkbox checkbox-primary">
                                                <input type="checkbox" id="checkbox1" ng-model="message.calendar_available">
                                                <label for="checkbox1">
                        </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                            <p>{l}You can use the following variables in the message:{endl}</p>
                            <p>*{l}Click on the variable and the Ctrl+C or Cmd+C(on mac) to copy and then Ctrl+V or Cmd+V to paste{endl}</p>
                            <div class="row variables">
                                <div class="col-xs-4">
                                    <div class="form-group">
                                        <input type="text" class="form-control disabled" readonly="readonly" value="[!ACCOUNT_COMPANY!]" onclick="this.select();">
                                        <label>{l}Account Name{endl}</label>
                                    </div>
                                </div>
                                <div class="col-xs-4">
                                    <div class="form-group">
                                        <input type="text" class="form-control disabled" readonly="readonly" value="[!SERIAL_NUMBER!]" onclick="this.select();">
                                        <label>{l}Intervention ID{endl}</label>
                                    </div>
                                </div>
                                <div class="col-xs-4">
                                    <div class="form-group">
                                        <input type="text" class="form-control disabled" readonly="readonly" value="[!INTERVENTION_DATE!]" onclick="this.select();">
                                        <label>{l}Intervention Planned Date{endl}</label>
                                    </div>
                                </div>
                                <div class="col-xs-4">
                                    <div class="form-group">
                                        <input type="text" class="form-control disabled" readonly="readonly" value="[!INTERVENTION_HOUR!]" onclick="this.select();">
                                        <label>{l}Planned Hour of Intervention{endl}</label>
                                    </div>
                                </div>
                                <div class="col-xs-4">
                                    <div class="form-group">
                                        <input type="text" class="form-control disabled" readonly="readonly" value="[!CUSTOMER!]" onclick="this.select();">
                                        <label>{l}Company Name{endl}</label>
                                    </div>
                                </div>
                                <div class="col-xs-4">
                                    <div class="form-group">
                                        <input type="text" class="form-control disabled" readonly="readonly" value="[!WEB_LINK!]" onclick="this.select();">
                                        <label>{l}Web Link{endl}</label>
                                    </div>
                                </div>
                                <div class="col-xs-4">
                                    <div class="form-group">
                                        <input type="text" class="form-control disabled" readonly="readonly" value="[!WEB_LINK_2!]" onclick="this.select();">
                                        <label>{l}Weblink 2{endl}</label>
                                    </div>
                                </div>
                                <div class="col-xs-4">
                                    <div class="form-group">
                                        <input type="text" class="form-control disabled" readonly="readonly" value="[!SITE_ADDRESS!]" onclick="this.select();">
                                        <label>{l}Site Address{endl}</label>
                                    </div>
                                </div>
                                <div class="col-xs-4">
                                    <div class="form-group">
                                        <input type="text" class="form-control disabled" readonly="readonly" value="[!SITE_ZIP!]" onclick="this.select();">
                                        <label>{l}Site Zip{endl}</label>
                                    </div>
                                </div>
                                <div class="col-xs-4">
                                    <div class="form-group">
                                        <input type="text" class="form-control disabled" readonly="readonly" value="[!SITE_CITY!]" onclick="this.select();">
                                        <label>{l}Site City{endl}</label>
                                    </div>
                                </div>
                                <div class="col-xs-4">
                                    <div class="form-group">
                                        <input type="text" class="form-control disabled" readonly="readonly" value="[!SITE_COUNTRY!]" onclick="this.select();">
                                        <label>{l}Site Country{endl}</label>
                                    </div>
                                </div>
                                <div class="col-xs-4">
                                    <div class="form-group">
                                        <input type="text" class="form-control disabled" readonly="readonly" value="[!SIGNATURE!]" onclick="this.select();">
                                        <label>{l}Signature{endl}</label>
                                    </div>
                                </div>
                            </div>
                            <!-- /.variables -->
                            <div class="form-horizontal">
                                <div class="form-group">
                                    <div class="col-xs-6 col-xs-offset-6 text-right">
                                        <select class="form-control form-language {{message.translate_cls}}" ng-model="message.languages" ng-change="changeLang(message)">
                        <option ng-repeat="option in message.language_dd track by option.id" value="{{option.id}}">{{option.name}}</option>
                      </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-xs-4 col-md-3 control-label"><strong>{l}Subject{endl}:</strong></label>
                                    <div class="col-xs-8 col-md-9">
                                        <input type="text" class="form-control form-language {{message.translate_cls}}" ng-model="message.subject">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-xs-4 col-md-3 control-label"><strong>{l}Body:{endl}</strong></label>
                                    <div class="col-xs-12 col-md-9">
                                        <!-- <textarea class="form-control form-language {{message.translate_cls}}" rows="10" ng-model="message.text" ng-if="!message.use_html"></textarea>
                        <wysiwyg textarea-id="question" textarea-class="form-control form-language {{message.translate_cls}}" textarea-height="184px" ng-model="message.text" enable-bootstrap-title="true" textarea-menu="yourModel.menu" ng-if="message.use_html">></wysiwyg> -->
                                        <textarea ui-tinymce="tinymceOptions" ng-model="message.text" id="altId" class="variable_assign">{{message.text}}</textarea>
                                        <input name="image" type="file" id="upload" class="hidden" onchange="">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="section-footer">
                            <div class="row">
                                <div class="col-xs-12 text-right">
                                    <button type="submit" class="btn btn-default" ng-click="saveSetting(message,'message')">{l}Save{endl}</button>
                                </div>
                            </div>
                        </div>
                        <!-- /.section-footer -->
                    </div>
                    <!-- /.tab-pane -->
                    <div class="tab-pane fade" id="defaultEmail">
                        <div class="section-title">
                            <div class="row">
                                <div class="col-xs-6">
                                    <h2>{l}Default Email{endl}</h2>
                                </div>
                            </div>
                        </div>
                        <!-- /.section-title -->
                        <div class="section-content">
                            <div class="text-muted col-bottom">
                                <p>{l}To avoid to be considered as spam, the "sent from" address is: noreply@salesassist.eu{endl}.</p>
                                <p>{l}To allow your correspondent to reply on this mail, please fill in below the required address{endl}.</p>
                            </div>
                            <div class="form-horizontal text-left">
                                <div class="form-group">
                                    <label class="col-xs-3 control-label">{l}Default Email{endl} <span class="mandatory-label">*</span></label>
                                    <div class="col-xs-9 radio">
                                        <label><input type="radio" value="1" ng-model="email_default.mail_type_1"> {l}User logged email{endl}</label>
                                    </div>
                                    <div class="col-xs-9 col-xs-offset-3 radio">
                                        <label><input type="radio" value="3" ng-model="email_default.mail_type_1"> {l}Use intervention author's email{endl}</label>
                                    </div>
                                    <div class="col-xs-9 col-xs-offset-3 radio">
                                        <label><input type="radio" value="2" ng-model="email_default.mail_type_1"> {l}Use default email{endl}</label>
                                    </div>
                                </div>
                                <div class="form-group" ng-show="email_default.mail_type_1 == 2">
                                    <label class="col-xs-3 control-label">{l}Name{endl} <span class="mandatory-label">*</span></label>
                                    <div class="col-xs-6">
                                        <input type="text" class="form-control" ng-model="email_default.default_name">
                                    </div>
                                </div>
                                <div class="form-group" ng-show="email_default.mail_type_1 == 2">
                                    <label class="col-xs-3 control-label">{l}Email{endl} <span class="mandatory-label">*</span></label>
                                    <div class="col-xs-6">
                                        <input type="text" class="form-control" ng-model="email_default.email_value">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-xs-12 text-muted col-top">
                                        {l}Optional email address(es) to send a copy of the intervention to{endl}.
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-xs-3 control-label">{l}BCC Email{endl}<i class="fa fa-question-circle question_mark" uib-tooltip="{l}You can add multiple email addresses split by ;{endl}" tooltip-placement="right"></i></label>
                                    <div class="col-xs-6">
                                        <input type="input" class="form-control disabled" name="bcc_email" ng-model="email_default.bcc_email">
                                        <div class="alert alert-sm alert-danger" ng-if="alertsField.bcc_email">{{alertsField.bcc_email}}</div>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="section-footer">
                            <div class="row">
                                <div class="col-xs-12 text-right">
                                    <button type="submit" class="btn btn-default" ng-click="saveDefaultEmailInt(email_default)">{l}Save{endl}</button>
                                </div>
                            </div>
                        </div>
                        <!-- /.section-footer -->
                    </div>
                    <div class="tab-pane fade" id="settings">
                        <div class="section-title">
                            <div class="row">
                                <div class="col-xs-6">
                                    <h2>{l}Intervention Settings{endl}</h2>
                                </div>
                                <div class="col-xs-6 text-right">
                                    <!-- <button type="submit" class="btn btn-default" ng-click="saveSetting(settings,'settings')">{l}Save{endl}</button> -->
                                </div>
                            </div>
                        </div>
                        <!-- /.section-title -->
                        <div class="section-content">
                            <div class="form-horizontal">
                                <div class="form-group">
                                    <label class="col-xs-8 col-md-3 control-label">{l}Billable by default{endl}:</label>
                                    <div class="col-xs-4 col-md-9 checkbox checkbox-primary">
                                        <input type="checkbox" id="checkbox2" ng-model="settings.maintenance_is_billable">
                                        <label for="checkbox2">
                      
                    </label>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-xs-8 col-md-3 control-label">{l}Default Hourly rate{endl}:</label>
                                    <div class="col-xs-4 col-md-3">
                                        <input type="text" class="form-control" display-nr="" ng-model="settings.maintenance_rate">
                                    </div>
                                </div>
                            </div>
                            <!-- <div class="form-horizontal">
                <div class="form-group">
                  <label class="col-xs-4 col-md-3 control-label">{l}Use stock reservation{endl}:</label>
                  <div class="col-xs-8 col-md-9 checkbox checkbox-primary">
                    <input type="checkbox" id="checkbox6" ng-model="settings.use_stock_reservation">
                    <label for="checkbox6">
                      
                    </label>
                  </div>
                </div>
              </div> -->
                        </div>
                        <!-- /.section-content -->
                        <div class="section-footer">
                            <div class="row">
                                <div class="col-xs-12 text-right">
                                    <button type="submit" class="btn btn-default" ng-click="saveSetting(settings,'settings')">{l}Save{endl}</button>
                                </div>
                            </div>
                        </div>
                        <!-- /.section-footer -->
                    </div>
                    <!-- /.tab-pane -->
                    <div class="tab-pane fade" id="expenses">
                        <div class="section-title">
                            <div class="row">
                                <div class="col-xs-7">
                                    <h2>{l}Expenses categories{endl}
                                        <button type="button" class="btn btn-primary btn-add" ng-click="modal({},'template/expenseModal','expenseModalCtrl','sm')" tooltip-placement="top"><span class="btn-add_icon"><span class="icon-bar"></span><span class="icon-bar-2"></span></span></button>
                                    </h2>
                                </div>
                            </div>
                        </div>
                        <!-- /.section-title -->
                        <div class="section-content">
                            <div class="row page-content">
                                <div class="col-xs-12">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th>{l}Name{endl}</th>
                                                <th>&nbsp;</th>
                                                <th class="table_actions text-right">{l}Action{endl}</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="item in expenses">
                                                <td>{{item.name}}</td>
                                                <td>{{item.price}}</td>
                                                <td class="table_actions  text-right">
                                                    <a href="#" ng-click="modal(item,'template/expenseModal','expenseModalCtrl','sm')"><span class="fas fa-pen"></span></a>
                                                    <a href="#" ng-click="deleteExpense(item,$index)" ng-if="item.hide_delete"><span class="fas fa-trash-alt"></span></a>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <!-- /.page-content -->
                        </div>
                        <!-- /.section-content -->
                    </div>
                    <!-- /.tab-pane -->
                    <div class="tab-pane fade" id="weblink">
                        <div class="section-title">
                            <div class="row">
                                <div class="col-xs-7">
                                    <h2>{l}Intervention Web Link{endl}</h2>
                                </div>
                                <div class="col-xs-5 text-right">
                                    <!--  <button type="submit" class="btn btn-default" ng-click="saveSetting(weblink,'weblink')">{l}Save{endl}</button> -->
                                </div>
                            </div>
                        </div>
                        <!-- /.section-title -->
                        <div class="section-content">
                            <p class="text-muted">
                                <small>{l}Text for intervention web link{endl}</small>
                            </p>
                            <div class="form-horizontal">
                                <div class="form-group">
                                    <label class="col-xs-8 col-md-3 control-label">{l}Use web link{endl}:</label>
                                    <div class="col-xs-4 col-md-9 checkbox checkbox-primary">
                                        <input type="checkbox" id="checkbox3" ng-model="weblink.use_maintenance_web_link">
                                        <label for="checkbox3">
                    </label>
                                    </div>
                                </div>
                                <div class="panel panel-primary" ng-if="weblink.use_maintenance_web_link">
                                    <div class="panel-body">
                                        <div class="form-group">
                                            <label class="col-xs-8 col-md-3 control-label">{l}Allow comments{endl}:</label>
                                            <div class="col-xs-4 col-md-9 checkbox checkbox-primary">
                                                <input type="checkbox" id="checkbox4" ng-model="weblink.allow_maintenance_comments">
                                                <label for="checkbox4">
                        </label>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-xs-8 col-md-3 control-label">{l}Allow stars rating{endl}:</label>
                                            <div class="col-xs-4 col-md-9 checkbox checkbox-primary">
                                                <input type="checkbox" id="checkbox5" ng-model="weblink.allow_stars_rating">
                                                <label for="checkbox5">
                        </label>
                                            </div>
                                        </div>
                                        <p class="text-muted">
                                            <small>{l}Number of stars below a comment is needed{endl}</small>
                                        </p>
                                        <div class="form-group">
                                            <label class="col-xs-8 col-md-3 control-label">{l}Number of stars{endl}:</label>
                                            <div class="col-xs-4 col-md-3">
                                                <input type="text" class="form-control" ng-model="weblink.stars_comments">
                                            </div>
                                        </div>
                                    </div>
                                    <!-- /.panel-body -->
                                </div>
                                <!-- /.panel panel-primary -->
                            </div>
                        </div>
                        <!-- /.section-content -->
                        <div class="section-footer">
                            <div class="row">
                                <div class="col-xs-12 text-right">
                                    <button type="submit" class="btn btn-default" ng-click="saveSetting(weblink,'weblink')">{l}Save{endl}</button>
                                </div>
                            </div>
                        </div>
                        <!-- /.section-footer -->
                    </div>
                    <!-- /.tab-pane -->
                </div>
                <!-- /.tabs-settings-content -->
                <div class="col-xs-4 tabs-settings-background"><span></span></div>
                <!-- /.tabs-settings-background -->
            </div>
        </div>
        <!-- /.tabs-settings -->
    </div>
    <!-- /.page-content -->
</div>
<!-- neede on all pages -->