<div class="container">
    <!-- neede on all pages -->
    <div class="page-header">
        <div class="row">
            <div class="col-xs-8 col-sm-6">
                <h1>{l}Intervention{endl}</h1>
            </div>
            <div class="col-xs-4 col-sm-6 text-right" ng-if="show_settings.is_admin_service">
                <div class="dropdown new-settings">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-ellipsis-v"></i></button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <li class="dropdown-item" ng-class="{ 'current':menu.submenu == 'intervention setting' }"><a go-to="" href="serviceSettings/" state="serviceSettings"><span class="fas fa-cog text-primary"></span> {l}Interventions Settings{endl}</a></li>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /.page-header -->
    <div class="tabs-navigation">
        <ul class="nav nav-tabs">
            <li class="active">
                <a href="services/" go-to="" state="services">{l}Interventions{endl}</a>
                <button type="button" class="btn btn-primary btn-add" go-to="" state="service.edit" params='{"service_id": "tmp"}' tooltip-placement="top"><span class="btn-add_icon"><span class="icon-bar"></span><span class="icon-bar-2"></span></span></button>
            </li>
            <li ng-if="show_settings.view_all_interventions">
                <a href="rec_services/" go-to="" state="rec_services">{l}Recurring Interventions{endl}</a>
                <button type="button" class="btn btn-primary btn-add" go-to="" state="rec_service.edit" params='{"service_id": "tmp","is_recurring": true }' tooltip-placement="top"><span class="btn-add_icon"><span class="icon-bar"></span><span class="icon-bar-2"></span></span></button>
            </li>
            <li ng-if="show_settings.view_all_interventions">
                <a href="planning/" go-to="" state="planning">{l}Planning{endl}</a>
            </li>
            <li ng-if="show_settings.view_all_interventions">
                <a href="teams/" go-to="" state="teams">{l}Teams{endl}</a>
                <button type="button" class="btn btn-primary btn-add" ui-sref="team.edit({'team_id': 'tmp'})" tooltip-placement="top"><span class="btn-add_icon"><span class="icon-bar"></span><span class="icon-bar-2"></span></span></button>
            </li>
            <li ng-if="show_settings.view_all_interventions">
                <a href="serviceModels/" go-to="" state="serviceModels">{l}Model Interventions{endl}</a>
                <button type="button" class="btn btn-primary btn-add" go-to="" state="service.addModel" params='{"template_id": "tmp"}' tooltip-placement="top"><span class="btn-add_icon"><span class="icon-bar"></span><span class="icon-bar-2"></span></span></button>
            </li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane active">
                <div class="row page-search page-search-options">
                    <form>
                        <div class="col-sm-12">
                            <div class="row">
                                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 ">
                                    <div class="so-field" ng-class="{
                                    'so-active':search.search != '' }">
                                        <span class="glyphicon glyphicon-search so-icon"></span>
                                        <input type="text" class="form-control" placeholder="{l}Search{endl}" search-it doit="search" resetlist="1" callbk="renderList" ng-model="search.search">
                                        <span class="glyphicon glyphicon-remove so-icon so-remove" ng-click="toggleSearchButtons('search', '')"></span>
                                    </div>
                                    <!-- /.input-search -->
                                </div>
                                <!-- /.page-search_options -->
                          
                                <div class="col-sm-2 ">
                                    <div class="so-field" ng-class="{ 'so-active':activeView !=0 }">
                                        <span class="akti-icon akti-icon-16 o_akti_custopplier so-icon"></span>
                                        <selectize placeholder="{l}All Statuses{endl}" config='filterCfg' options='views' ng-model="activeView">
                                        </selectize>
                                        <span class="glyphicon glyphicon-remove so-icon so-remove" ng-click="filters(0)"></span>
                                    </div>
                                </div>
                                <div class="col-sm-2 col-md-2">
                                    <div class="so-field" ng-class="{
                                    'so-active':search.start_date_js != undefined }">
                                        <span class="glyphicon glyphicon-calendar so-icon" ng-click="openDate('start_date')"></span>
                                        <input type="text" class="form-control" ng-model="search.start_date_js" uib-datepicker-popup="{{format}}" is-open="datePickOpen.start_date" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" close-text="Close" placeholder="{l}Start Date{endl}"
                                            show-button-bar="false" ng-click="datePickOpen.start_date = true" ng-change="searchThing(true)">
                                        <span class="glyphicon glyphicon-remove so-icon so-remove" ng-click="toggleSearchButtons('start_date_js', undefined)"></span>
                                    </div>
                                    <!-- /.input-date -->
                                </div>
                                <div class="col-sm-2 col-md-2">
                                    <div class="so-field" ng-class="{
                                    'so-active':search.stop_date_js != undefined }">
                                        <span class="glyphicon glyphicon-calendar so-icon" ng-click="openDate('stop_date')"></span>
                                        <input type="text" class="form-control" ng-model="search.stop_date_js" uib-datepicker-popup="{{format}}" is-open="datePickOpen.stop_date" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" close-text="Close" placeholder="{l}End Date{endl}"
                                            show-button-bar="false" ng-click="datePickOpen.stop_date = true" ng-change="searchThing(true)">
                                        <span class="glyphicon glyphicon-remove so-icon so-remove" ng-click="toggleSearchButtons('stop_date_js', undefined)"></span>
                                    </div>
                                    <!-- /.input-date -->
                                </div>
                            </div>
                        </div>

                        <div class="page-search-button">
                            <div class="btn-group" uib-dropdown>
                                <button type="button" class="btn btn-tertiary dropdown-toggle" uib-dropdown-toggle>
                        <span class="caret"></span>
                    </button>
                                <ul class="dropdown-menu dropdown-menu-right" uib-dropdown-menu>
                                    <li><a href="#" ng-click="search.showAdvanced = !search.showAdvanced"><span class="fa fa-search"></span> {l}Advanced search{endl}</a></li>
                                    <li ng-if="!search.archived"><a href="#" ng-click="archived(1)"><span class="fas fa-archive new_archive" ></span> {l}Archived Interventions{endl}</a></li>
                                    <li ng-if="search.archived"><a href="#" ng-click="archived(0)"><span class="fa fa-list-ul" ></span> {l}Active Interventions{endl}</a></li>
                                    <li><a href="#" ng-click="columnSettings()"><span class="fas fa-cog text-primary" ></span> {l}Column settings{endl}</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-sm-12 advanced_search adv_s" ng-class="{
                    'advanced_search-show': search.showAdvanced }">
                            <div class="row ">
                                <div class="col-sm-2">
                                    <div class="btn-group btn-block" ng-class="{
                                'so-active':search.manager_id != undefined }">
                                        <selectize config='managerCfg' options='managers.list' ng-model="search.manager_id" id="manager_list"></selectize>
                                        <span class="glyphicon glyphicon-remove so-remove" ng-click="toggleSearchButtons('manager_id',undefined)"></span>
                                    </div>
                                </div>
                                <div class="col-sm-1">
                                    <div class="btn-group btn-block" ng-class="{
                                'so-active':search.color_ball != undefined }">
                                        <selectize class="color-ball-select" config='ballCfg' options='color_ball_dd' ng-model="search.color_ball"></selectize>
                                        <span class="glyphicon glyphicon-remove so-remove" ng-click="toggleSearchButtons('color_ball',undefined)"></span>
                                    </div>
                                </div>
                                <div class="col-sm-9 text-right">
                                    <button class="btn btn-plain btn-search_cancel" ng-click="resetAdvanced()">{l}Cancel{endl}</button>
                                    <button class="btn btn-default" ng-click="searchAdvanced()">{l}Search{endl}</button>

                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <!-- /.page-search -->
                <div class="row page-content">
                    <div class="col-xs-12">
                        <table class="table active_rows interventionTable">
                            <thead>
                                <tr>
                                    <!-- <th class="col-sm-2 sortable_row expand_row" ng-class="{
                                'sortable_row-up':(!reverse && ord == 'serial_number'), 'sortable_row-down':(reverse && ord == 'serial_number') }" ng-click="orderBY('serial_number')">{l}Intervention No{endl}</th>
                        <th class="col-sm-2 sortable_row" ng-class="{
                                'sortable_row-up':(!reverse && ord == 'planeddate'), 'sortable_row-down':(reverse && ord == 'planeddate') }" ng-click="orderBY('planeddate')">{l}Planned date{endl}</th>
                        <th class="col-sm-2 sortable_row" ng-class="{
                                'sortable_row-up':(!reverse && ord == 'customer_name'), 'sortable_row-down':(reverse && ord == 'customer_name') }" ng-click="orderBY('customer_name')">{l}Account Name{endl}</th>
                        <th class="col-sm-2 sortable_row" ng-class="{
                                'sortable_row-up':(!reverse && ord == 'manager'), 'sortable_row-down':(reverse && ord == 'manager') }" ng-click="orderBY('manager')">{l}Intervention manager{endl}</th>
                        <th class="col-sm-2 sortable_row" ng-class="{
                                'sortable_row-up':(!reverse && ord == 'subject'), 'sortable_row-down':(reverse && ord == 'subject') }" ng-click="orderBY('subject')">{l}Subject{endl}</th>
                        <th class="col-sm-1 text-center">{l}Status{endl}</th> -->
                                    <th class="expand_row"></th>
                                    <th ng-repeat="col in columns" ng-class="{ 'sortable_row':col.order_by, 'sortable_row-up':(!reverse && col.order_by && ord==col.order_by), 'sortable_row-down':(reverse && col.order_by && ord==col.order_by) }" ng-click="(col.order_by ? orderBY(col.order_by) : '')">
                                        <span ng-bind-html="col.name"></span>
                                    </th>
                                    <!-- <th class="col-sm-1 col-select">
                            <div class="checkbox checkbox-primary">
                              <input type="checkbox" id="checkbox_all" ng-model="listObj.check_add_all" ng-click="saveForPDF()">
                              <label for="checkbox_all"></label>
                            </div>  
                        </th> -->
                                    <th class="col-sm-1 col-select">
                                        <div class="dropdown order_export">
                                            <button class="dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                <i class="fa fa-square-o" ng-if="!all_pages_selected && !minimum_selected"></i>
                                                <i class="fas fa-minus-square" ng-if="!all_pages_selected && minimum_selected"></i>
                                                <i class="fas fa-check-square" ng-if="all_pages_selected"></i>
                                                <i class="fa fa-caret-down" aria-hidden="true"></i>
                                            </button>
                                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                                <a class="dropdown-item" href="#" ng-click="checkAllPage()">{l}Select page{endl}</a>
                                                <a class="dropdown-item" href="#" ng-if="!all_pages_selected" ng-click="checkAllPages()">{l}Select all{endl}</a>
                                                <a class="dropdown-item" href="#" ng-if="all_pages_selected || minimum_selected" ng-click="uncheckAllPages()">{l}Select none{endl}</a>
                                            </div>
                                        </div>
                                    </th>

                                    <th class="table_actions">
                                        <div class="btn-group" uib-dropdown ng-if="show_settings.is_admin_service">
                                            <button type="button" class="btn btn-tertiary dropdown-toggle" uib-dropdown-toggle>
                                    <span class="caret"></span>
                                </button>
                                            <ul class="dropdown-menu dropdown-menu-right" uib-dropdown-menu>
                                                <li><a href="index.php?do=maintenance-export_interventions" target="_blank" ng-click="createExports($event)"><span class="fas fa-upload text-primary"></span> {l}Export Interventions List{endl}</a></li>
                                            </ul>
                                        </div>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="(parentIndex, item) in list" class="collapseTr">
                                    <td class="expand_row">
                                        <i class="fa fa-chevron-right btn-expand" ng-click="showStats(item, parentIndex)" ng-class="{ 'fa-chevron-down': item.isopen }"></i>
                                    </td>
                                    <td ng-repeat="col in columns">
                                        <span ng-if="$index == 0">
                                            <span go-to="" state="service.view" params='{"service_id": {{::item.service_id}}}' list='{ "type":"maintenance-services", "obj": { "search":{{search}}, "cindex":{{ parentIndex }}, "total_items":{{max_rows}} } }'>
                                                <a href="service/edit/{{item.service_id}}" class="color-dark" ng-if="col.column_name!='color_code'">{{::item[col.column_name]}}</a>
                                                <a href="service/edit/{{item.service_id}}" class="color-dark" ng-if="col.column_name=='color_code'"><span class="color-ball-item" style="background-color:{{::item[col.column_name]}}"></span></a>
                                                <span class="item-icons">
                                                    <span class="inv_ord {{item.invoiced}}" uib-tooltip="{{item.invoiced_info}}" tooltip-placement="right" ng-if="item.has_invoice"></span>
                                                    <span class="text-muted" title="" ng-if="item.has_downpayment" uib-tooltip="{{item.downpayment_title}}" tooltip-placement="right">
                                                        <i class="fa fa-arrow-circle-down" aria-hidden="true"></i>
                                                    </span>
                                                </span>
                                            </span>
                                            <span class="item-icons item-serv">
                                                <span ng-if="item.is_from_recurring" class="fa fa-refresh" uib-tooltip="{l}This intervention was created through from a periodic intervention.{endl}" tooltip-placement="right"></span>
                                            </span>
                                        </span>
                                        <span class="intervention_table" ng-if="$index>0" go-to="" state="service.view" params='{"service_id": {{::item.service_id}}}' list='{ "type":"maintenance-services", "obj": { "search":{{search}}, "cindex":{{ parentIndex }}, "total_items":{{max_rows}} } }'>
                                <a ng-if="col.column_name=='planeddate'" href="service/edit/{{item.service_id}}" class="color-dark"><span ng-if="item.planeddate != 0">{{item[col.column_name]}}</span></a>
                                        <a ng-if="col.column_name=='customer_name'" href="service/edit/{{item.service_id}}" class="color-dark">{{item.customer_name ? item.customer_name : item.contact_name}}</a>
                                        <uib-rating ng-if="col.column_name=='customer_name'" ng-model="item.rating" max="5" readonly="item.accept" class="pull-right stars" ng-if="item.accept == 1"></uib-rating>
                                        <a ng-if="col.column_name=='type_status'" href="service/edit/{{item.service_id}}">
                                            <span class="badge item-status-gray" go-to="" state="service.view" params='{"service_id": {{::item.service_id}}}' list='{ "type":"maintenance-services", "obj": { "search":{{search}} } }' class="item-status item-status-gray" ng-class="{ 'item-status-orange':item.status == 1, 'item-status-green':item.status == 2 }">{{::item[col.column_name]}}</span>
                                        </a>
                                        <a ng-if="col.column_name=='color_code'"><span class="color-ball-item" style="background-color:{{::item[col.column_name]}}"></span></a>
                                        <a ng-if="col.column_name!='planeddate' && col.column_name!='customer_name' && col.column_name!='type_status' && col.column_name!='color_code'" href="service/edit/{{item.service_id}}" class="color-dark">{{::item[col.column_name]}}</a>
                                        </span>
                                    </td>
                                    <!-- <td class="expand_row">
                            <span class="glyphicon glyphicon-plus btn-expand" ng-click="showStats(item, $index)" ng-class="{
                                    'glyphicon-minus': item.isopen }" ></span>
                            <span go-to="" state="service.edit" params='{"service_id": {{::item.service_id}}}' list='{ "type":"maintenance-services", "obj": { "search":{{search}}, "cindex":{{$index}}, "total_items":{{max_rows}} } }'>
                                <a href="service/edit/{{item.service_id}}" class="color-dark">{{::item.serial_number}}</a>
                                <span class="item-icons">
                                    <span class="inv_ord {{item.invoiced}}" uib-tooltip="{{item.invoiced_info}}" tooltip-placement="right" ng-if="item.has_invoice"></span>
                                    <span class="text-muted" title="" ng-if="item.has_downpayment" uib-tooltip="{{item.downpayment_title}}" tooltip-placement="right">
                                        <i class="fa fa-arrow-circle-down" aria-hidden="true"></i>
                                    </span>                               
                                </span>
                            </span>
                            <span class="item-icons item-serv">
                                <span ng-if="item.is_from_recurring" class="fa fa-refresh" uib-tooltip="{l}This intervention was created through from a periodic intervention.{endl}" tooltip-placement="right"></span>
                            </span>
                        </td>
                        <td go-to="" state="service.edit" params='{"service_id": {{::item.service_id}}}' list='{ "type":"maintenance-services", "obj": { "search":{{search}}, "cindex":{{$index}}, "total_items":{{max_rows}} } }'>
                            <a href="service/edit/{{item.service_id}}" class="color-dark"><span ng-if="item.planeddate != 0">{{item.planeddate}}</span></a>
                        </td>
                        <td go-to="" state="service.edit" params='{"service_id": {{::item.service_id}}}' list='{ "type":"maintenance-services", "obj": { "search":{{search}}, "cindex":{{$index}}, "total_items":{{max_rows}} } }'>
                            <a href="service/edit/{{item.service_id}}" class="color-dark">{{item.customer_name ? item.customer_name : item.contact_name}}</a>
                <uib-rating ng-model="item.rating" max="5" readonly="item.accept" class="pull-right stars" ng-if="item.accept == 1" ></uib-rating>
                </td>
                <td go-to="" state="service.edit" params='{"service_id": {{::item.service_id}}}' list='{ "type":"maintenance-services", "obj": { "search":{{search}}, "cindex":{{$index}}, "total_items":{{max_rows}} } }'>
                    <a href="service/edit/{{item.service_id}}" class="color-dark">{{::item.manager}}</a>
                </td>
                <td go-to="" state="service.edit" params='{"service_id": {{::item.service_id}}}' list='{ "type":"maintenance-services", "obj": { "search":{{search}}, "cindex":{{$index}}, "total_items":{{max_rows}} } }'>
                    <a href="service/edit/{{item.service_id}}" class="color-dark">{{::item.subject}}</a>
                </td>
                <td class="text-center" go-to="" state="service.edit" params='{"service_id": {{::item.service_id}}}' list='{ "type":"maintenance-services", "obj": { "search":{{search}}, "cindex":{{$index}}, "total_items":{{max_rows}} } }'>
                    <a href="service/edit/{{item.service_id}}"><span class="badge item-status-gray" go-to="" state="service.edit" params='{"service_id": {{::item.service_id}}}' list='{ "type":"maintenance-services", "obj": { "search":{{search}} } }'  class="item-status item-status-gray" ng-class="{
                            'item-status-orange':item.status == 1, 'item-status-green':item.status == 2 }">{{item.type_status}}</span></a>
                </td> -->
                                    <td class="col-select">
                                        <div class="checkbox checkbox-primary">
                                            <input type="checkbox" id="checkbox_all_{{$index}}" ng-model="item.check_add_to_product" ng-click="markCheckNew(item)">
                                            <label for="checkbox_all_{{$index}}"></label>
                                        </div>
                                    </td>
                                    <td class="table_actions">
                                        <div class="btn-group" uib-dropdown>
                                            <button type="button" class="btn btn-plain dropdown-toggle int_table" uib-dropdown-toggle>
                            <span class="caret"></span>
                        </button>
                                            <!-- <a href="#" ui-sref="service.edit({'service_id': item.service_id})"><span class="fas fa-pen"></span></a>
                        <a href="#" ng-click="archive(item)" ng-if="archiveList==1" confirm="{l}Are you sure, you wanna archive this entry?{endl}"><span class="fas fa-archive"></span></a>
                        <a href="#" ng-click="activate(item)" ng-if="archiveList!=1" confirm="{l}Are you sure, you wanna revert this entry?{endl}"><span class="glyphicon glyphicon-repeat"></span></a>
                        <a href="#" ng-click="delete(item)" ng-if="archiveList!=1" confirm="{l}Are you sure, you wanna delete this entry?{endl}"><span class="glyphicon glyphicon-remove"></span></a> -->
                                            <ul class="dropdown-menu dropdown-menu-right" uib-dropdown-menu>
                                                <li class="dropdown-header">{l}Action{endl}</li>
                                                <!-- <li>
                                <a href="#" go-to="" state="service.edit" params='{"service_id": {{::item.service_id}}}' list='{ "type":"maintenance-services", "obj": { "search":{{search}}, "cindex":{{$index}}, "total_items":{{max_rows}} } }'><span class="fas fa-pen text-primary"></span> {l}Edit{endl}</a>
                            </li> -->
                                                <li ng-if="search.archived == 0 && item.status!='2'">
                                                    <a href="#" ng-click="action(item, 'archive_link')" confirm-title="{{item.confirm}}" confirm-ok="{{item.ok}}" confirm-cancel="{{item.cancel}}" confirm="{l}Are you sure, you wanna archive this entry?{endl}"><span class="fas fa-archive text-primary"></span> {l}Archive{endl}</a>
                                                </li>
                                                <li ng-if="search.archived == 1">
                                                    <a href="#" ng-click="action(item, 'activate_link')" confirm-title="{{item.confirm}}" confirm-ok="{{item.ok}}" confirm-cancel="{{item.cancel}}" confirm="{l}Are you sure, you wanna revert this entry?{endl}"><span class="glyphicon glyphicon-repeat text-primary"></span> {l}Revert{endl}</a>
                                                </li>
                                                <li ng-if="search.archived == 1">
                                                    <a href="#" ng-click="action(item, 'delete_link')" confirm-title="{{item.confirm}}" confirm-ok="{{item.ok}}" confirm-cancel="{{item.cancel}}" confirm="{l}Are you sure, you wanna delete this entry?{endl}"><span class="fas fa-trash-alt text-primary"></span> {l}Delete{endl}</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </td>
                                </tr>
                                <!-- <tr ng-repeat-end class="versionInfo hidden">
                    <td colspan="10" class="no_border">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>
                                        <div class="row">
                                            <div class="col-sm-8">{l}Name{endl}</div>
                                            <div class="col-sm-4">{l}Hours{endl}</div>
                                        </div>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="item2 in listStats['+$index+'].list">
                                    <td>
                                        <div class="row">
                                            <div class="col-sm-8">{{item2.name}}</div>
                                            <div class="col-sm-4 text-strong">{{item2.hours}}</div>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr> -->
                            </tbody>
                        </table>
                    </div>
                </div>
                <!-- /.page-content -->
            </div>
        </div>
    </div>

    <!-- <pag-custom pages="pager" refresh="rederList()" doit='maintenance-services'></pag-custom> -->
    <div class="col-sm-12">
        <div class="col-sm-8">
            <ul ng-if="max_rows > 30" uib-pagination total-items="max_rows" ng-model="search.offset" ng-change="searchThing()" max-size="5" class="pager" boundary-links="true" items-per-page="lr"></ul>
        </div>
        <div class="col-sm-4 text-right">
            <label>{l}Number of interventions{endl}: <strong>{{max_rows}}</strong></label>
        </div>
    </div>
</div>
<!-- neede on all pages -->