<div class="container">
  <div class="page-header">
        <div class="row">
            <div class="col-xs-8 col-sm-6">
                <h1>{l}Interventions{endl}</h1>
            </div>
            <div class="col-xs-4 col-sm-6 text-right" ng-if="show_settings.is_admin_service">
                  <div class="dropdown new-settings">
                      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-ellipsis-v"></i></button>
                      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                          <li class="dropdown-item" ng-class="{ 'current':menu.submenu == 'intervention setting' }"><a go-to="" href="serviceSettings/" state="serviceSettings"><span class="fas fa-cog text-primary"></span> {l}Interventions Settings{endl}</a></li>
                      </div>
                  </div>
              </div>
        </div>
    </div><!-- /.page-header -->
    <div class="tabs-navigation"> 
        <ul class="nav nav-tabs">
          <li>
            <a href="services/" go-to="" state="services">{l}Interventions{endl}</a>
            <button type="button" class="btn btn-primary btn-add" go-to="" state="service.edit" params='{"service_id": "tmp"}' tooltip-placement="top"><span class="btn-add_icon"><span class="icon-bar"></span><span class="icon-bar-2"></span></span></button>
          </li>
          <li ng-if="show_settings.view_all_interventions">
            <a href="rec_services/" go-to="" state="rec_services">{l}Recurring Interventions{endl}</a>
            <button type="button" class="btn btn-primary btn-add" go-to="" state="rec_service.edit" params='{"service_id": "tmp","is_recurring": true }' tooltip-placement="top"><span class="btn-add_icon"><span class="icon-bar"></span><span class="icon-bar-2"></span></span></button>
          </li>
          <li ng-if="show_settings.view_all_interventions">
            <a href="planning/" go-to="" state="planning">{l}Planning{endl}</a>
          </li>
          <li ng-if="show_settings.view_all_interventions"> 
            <a href="teams/" go-to="" state="teams">{l}Teams{endl}</a>
            <button type="button" class="btn btn-primary btn-add" ui-sref="team.edit({'team_id': 'tmp'})" tooltip-placement="top"><span class="btn-add_icon"><span class="icon-bar"></span><span class="icon-bar-2"></span></span></button>
          </li>
          <li class="active" ng-if="show_settings.view_all_interventions">
            <a href="serviceModels/" go-to="" state="serviceModels">{l}Model Interventions{endl}</a>
            <button type="button" class="btn btn-primary btn-add" go-to="" state="service.addModel" params='{"template_id": "tmp"}' tooltip-placement="top"><span class="btn-add_icon"><span class="icon-bar"></span><span class="icon-bar-2"></span></span></button>
          </li>
        </ul>       
        <div class="tab-content">
            <div class="tab-pane active">
  <div uib-alert ng-repeat="alert in alerts" type="{{alert.type}}" close="alerts.splice($index, 1);" dismiss-on-timeout="5000" ng-class="['alert-' + (alert.type || 'warning') ]">{{alert.msg}}</div>
  <div class="row page-search">
  	<form>
    	<div class="col-sm-8 col-search-input">
          <div class="so-field" ng-class="{ 'so-active':search.search!='' }">
            <span class="glyphicon glyphicon-search so-icon"></span>
            <input type="text" class="form-control" placeholder="{l}Search{endl}" search-it doit="search" callbk="renderList" ng-model="search.search">
            <span class="glyphicon glyphicon-remove so-icon so-remove" ng-click="toggleSearchButtons('search','')"></span>
          </div><!-- /.input-search -->
        </div>
    	 <div class="col-sm-4">
<!--            <div class="btn-group btn-block">-->
<!--                <selectize placeholder="{l}All Languages{endl}" config='filterCfg' options='langs' ng-model="search.lang" ></selectize>-->
<!--            </div>-->
             <div class="so-field" ng-class="{ 'so-active':search.lang }">
                 <selectize config='filterCfg' options='langs' ng-model="search.lang"></selectize>
                 <span class="glyphicon glyphicon-remove so-icon so-remove" ng-click="toggleSearchButtons('lang', '')"></span>
             </div>
        </div>     	
    </form>
  </div><!-- /.page-search -->
  <div class="row page-content">
  	<div class="col-xs-12">
      <table class="table active_rows orderTable quotesTable">
          <thead>
            <tr>
              <th class="col-sm-4 sortable_row" ng-class="{'sortable_row-up':(!reverse && ord == 'serial_number'), 'sortable_row-down':(reverse && ord == 'serial_number') }" ng-click="orderBY('serial_number')" >{l}Name{endl}</th>
              <th class="col-sm-7 sortable_row" ng-class="{'sortable_row-up':(!reverse && ord == 'email_language'), 'sortable_row-down':(reverse && ord == 'email_language') }" ng-click="orderBY('email_language')" >{l}Language{endl}</th>
              <th class="col-sm-1 table_actions">
              </th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="item in list" class="collapseTr">
              <td go-to="" state="service.editModel" params='{"template_id": {{::item.service_id}}}' list='{ "type":"maintenance-serviceModels", "obj": { "search":{{search}} } }'>
              <a href="service/editModel/{{item.service_id}}" class="text-muted">{{::item.name}}</a>
              </td>
              <td><a href="service/editModel/{{item.service_id}}" class="text-muted">{{item.lang_f}}</td>
              <td class="table_actions">
                <div class="btn-group" uib-dropdown>
                  <button type="button" class="btn btn-plain dropdown-toggle" uib-dropdown-toggle>
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-right" uib-dropdown-menu>
                        <li class="dropdown-header">{l}Action{endl}</li>
                        <li>
                            <a href="#" go-to="" state="service.editModel" params='{"template_id": {{::item.service_id}}}' list='{ "type":"maintenance-serviceModels", "obj": { "search":{{search}} } }'><span class="fas fa-pen text-primary"></span> {l}Edit{endl}</a>
                        </li>                        
                        <li >
                        	<a href="#" ng-click="action(item,'delete_link')" confirm="{l}Are you sure, you wanna delete this entry?{endl}"><span class="fa fa-trash text-primary"></span> {l}Delete{endl}</a>
                        </li>
                    </ul>
                </div>
              </td>
            </tr>            
          </tbody>
        </table>
  	</div>
  </div><!-- /.page-content -->
</div>
</div>
</div>
    <div class="col-sm-12">
        <div class="col-sm-8">
            <ul ng-if="max_rows && max_rows > 30" uib-pagination total-items="max_rows" ng-model="search.offset" ng-change="searchThing()" max-size="5" class="pager" boundary-links="true" items-per-page="lr"></ul>
        </div>
        <div class="col-sm-4 text-right">
            <label ng-if="max_rows">{l}Number of model interventions{endl}: <strong>{{max_rows}}</strong></label>
        </div>
    </div>
<!--  <ul ng-if="max_rows > 30" uib-pagination total-items="max_rows" ng-model="search.offset" ng-change="searchThing()" max-size="5" class="pager" boundary-links="true" items-per-page="lr" ></ul>-->
</div><!-- neede on all pages -->
