<div class="page-header">
    <div class="row">
        <div class="col-xs-8">
            <h1>{l}New Model Intervention{endl}</h1>
        </div>
        <!-- <div class="col-xs-4 page-header-options">
          <button type="button" class="btn btn-default save_form"  ng-disabled="!edit.item.template_id || !edit.item.template_name" ng-click="edit.saveData(edit.serviceModelForm)">{l}Save{endl}</button> 
          <button go-to="" state="serviceModels" type="submit" class="btn btn btn-default"><strong>{l}Back{endl}</strong></button>
        </div> -->
    </div>
</div><!-- /.page-header -->
<!-- <div uib-alert ng-repeat="alert in edit.alerts" type="{{alert.type}}" close="edit.alerts.splice($index, 1);" ng-class="['alert-' + (alert.type || 'warning'), 'alert-fixed' ]" dismiss-on-timeout='5000' >{{alert.msg}}</div> -->
<form name="edit.serviceModelForm" novalidate>
<div class="row ">
  <div class="col-sm-12">
    <div class="form-horizontal text-left">
      <div class="form-group" ng-class="{ 'form-group_alert' : edit.serviceModelForm.template_name.$invalid && !edit.serviceModelForm.template_name.$pristine }">
          <label class="col-sm-3 col-lg-3 control-label">{l}Name{endl} <span class="mandatory-label">*</span></label>
          <div class="col-sm-5 col-lg-4">
            <input type="text" class="form-control" ng-model="edit.item.template_name" name="template_name" placeholder="{l}Name{endl}" ng-blur="edit.saveModel()" required>
            <div class="alert alert-sm alert-danger" ng-if="edit.serviceModelForm.template_name.$invalid && edit.alertsField.template_name">{{edit.alertsField.template_name}}</div>
          </div>
          <div class="col-sm-2">
            <div class="btn-group btn-block">
                <selectize placeholder="{l}All Languages{endl}" config='edit.filterCfg' options='edit.item.langs_dd' ng-model="edit.item.email_language" ></selectize>
            </div>
          </div>
      </div><!-- /.form-group -->
    </div>
  </div>
</div>
</form>
<div class="row minimal_list minimal_list-staff margin-bottom-none margin-top-none" ng-if="edit.item.users.is_data>0 && edit.item.template_id">
    <div class="col-xs-12">
        <div>
          <h5><strong>{l}Collaborators{endl}</strong></h5>
        </div><!-- /.minimal_list-header -->
        <div ng-if="edit.item.users.is_data>0">
          <table class="table active_rows orderTable" id="users_table">
            <thead>
              <tr>
                <th>
                  <div class="row">
                    <div ng-class="{'col-xs-4':edit.item.status!=2 && edit.item.edit && !edit.item.is_team, 'col-sm-5':(edit.item.status==2 && edit.item.can_edit && !edit.item.is_team) || !edit.item.can_edit || edit.item.is_team}">{l}Name{endl}</div>
                    <div class="col-xs-3 text-center">{l}Intervention Manager{endl}</div>
                    <div class="col-xs-2 text-center">{l}Hours{endl}</div>
                    <div class="col-xs-2 text-center">{l}Expences{endl}</div>
                    <div class="col-xs-1" ng-if="edit.item.status!=2 && edit.item.edit && !edit.item.is_team"></div>
                  </div>
                </th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="user in edit.item.users.users" class="collapseTr">
                <td>
                  <div class="row">
                    <div ng-class="{'col-xs-4':edit.item.status!=2 && edit.item.edit && !edit.item.is_team, 'col-sm-5':(edit.item.status==2 && edit.item.can_edit && !edit.item.is_team) || !edit.item.can_edit || edit.item.is_team}">
                      <span class="glyphicon glyphicon-plus btn-expand" ng-click="edit.listMore($index)"></span>
                      <span class="glyphicon glyphicon-minus btn-expand hidden" ng-click="edit.listLess($index)"></span>
                      &nbsp;&nbsp;{{::user.name}}
                    </div>
                    <div class="col-xs-3 text-center checkbox checkbox-primary">
                      <input type="checkbox" id="checkbox_user_{{$index}}" ng-model="user.pr_m" ng-click="edit.editUser(user,'user',$event)" ng-disabled="!edit.item.edit || edit.item.is_team"/>
                      <label for="checkbox_user_{{$index}}"></label>
                    </div>
                    <div class="col-xs-2 text-center">{{user.hours}}</div>
                    <div class="col-xs-2 text-center"><span ng-bind-html="user.expences"></span></div>
                    <div class="col-xs-1 text-center" ng-if="edit.item.status!=2 && edit.item.edit && !edit.item.is_team">
                       <a ng-click="edit.delete('user',user)" confirm="{l}Delete this user?{endl}" ng-if="edit.item.edit"><span class="glyphicon glyphicon-trash"></span></a>
                    </div>
                  </div>
                </td>
              </tr>
            </tbody>
          </table><!-- /.table_minimal -->
        </div><!-- /.minimal_list-content -->
      </div>
  </div><!-- end /.minimal_list-staff -->
  <div class="row minimal_list minimal_list-tasks margin-bottom-none margin-top-none" ng-if="edit.item.tasks.is_data>0 && edit.item.template_id">
    <div class="col-xs-12">
        <div>
          <h5><strong>{l}Tasks{endl}</strong></h5>
        </div><!-- /.minimal_list-header -->
        <div ng-if="edit.item.tasks.is_data>0">
          <table class="table active_rows orderTable">
            <thead>
              <tr>
                <th>
                  <div class="row">
                    <div ng-class="{'col-xs-7':edit.item.status!=2 && edit.item.service_type=='1', 'col-sm-8':edit.item.status==2 && edit.item.can_edit && edit.item.service_type=='1','col-sm-9':edit.item.status!=2 && edit.item.service_type!='1' && edit.item.can_edit, 'col-sm-10':!edit.item.can_edit || (edit.item.status==2 && edit.item.can_edit && edit.item.service_type!='1')}">{l}Name{endl}</div>
                    <div class="col-xs-2 text-center" ng-if="edit.item.can_edit && edit.item.service_type=='1'">{l}Price{endl}</div>
                    <div class="col-xs-2 text-center">{l}Done{endl}</div>
                    <div class="col-xs-1" ng-if="edit.item.status!=2"></div>
                  </div>
                </th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="task in edit.item.tasks.tasks">
                <td>
                  <div class="row">
                    <div ng-class="{'col-xs-7':edit.item.status!=2 && edit.item.service_type=='1', 'col-sm-8':edit.item.status==2 && edit.item.can_edit && edit.item.service_type=='1','col-sm-9':edit.item.status!=2 && edit.item.service_type!='1' && edit.item.can_edit,'col-sm-10':!edit.item.can_edit || (edit.item.status==2 && edit.item.can_edit && edit.item.service_type!='1')}">
                    <textarea ng-bind-html="task.name" ng-model="task.name" ng-blur="edit.editUser(task,'task_art',$event)" class="form-control" resize-txt rows="1" ng-disabled="edit.item.status==2 || !edit.item.edit"></textarea>
                    </div>
                    <div class="col-xs-2 text-center" ng-if="edit.item.can_edit && edit.item.service_type=='1' ">
                      <input type="text" class="form-control" display-nr="" ng-model="task.task_budget" ng-disabled="edit.item.status==2" ng-blur="edit.changeTaskBudget(task)"/>
                    </div>
                    <div class="col-xs-2 text-center form-inline">
                      <a href="#" ng-click="edit.taskModal(task)"><span class="fas fa-comment"></span></a> &nbsp;
                      <div class="checkbox checkbox-primary">
                        <input type="checkbox" id="checkbox_t_{{$index}}" ng-model="task.checked" ng-click="edit.editUser(task,'task',$event)" ng-disabled="edit.item.status==2"/>
                        <label for="checkbox_t_{{$index}}">
                        </label>
                      </div>
                    </div>
                    <div class="col-xs-1" ng-if="edit.item.status!=2">
                       <a class="table_minimal-btn" confirm="{l}Delete this task?{endl}" ng-click="edit.delete('task',task)" ng-if="edit.item.edit"><span class="glyphicon glyphicon-trash"></span></a>
                    </div>
                  </div>
                </td>
              </tr>
            </tbody>
          </table><!-- /.table_minimal -->
        </div><!-- /.minimal_list-content -->
      </div>
  </div><!-- end /.minimal_list-tasks -->
  <div class="row minimal_list minimal_list-tasks margin-bottom-none margin-top-none" ng-if="edit.item.services.is_data>0 && edit.item.template_id">
    <div class="col-xs-12">
        <div>
          <h5><strong>{l}Services{endl}</strong></h5>
        </div><!-- /.minimal_list-header -->
        <div ng-if="edit.item.services.is_data>0">
          <table class="table active_rows orderTable">
            <thead>
              <tr>
                <th>
                  <div class="row">
                    <div class="col-xs-1">{l}Code{endl}</div>
                    <div ng-class="{'col-xs-4':edit.item.status!=2, 'col-sm-5':edit.item.status==2 && edit.item.can_edit, 'col-sm-7':!edit.item.can_edit}">{l}Name{endl}</div>
                    <div class="col-xs-2 text-center">{l}Quantity{endl}</div>
                    <div class="col-xs-2 text-center" ng-if="edit.item.can_edit">{l}Price{endl}</div>
                    <div class="col-xs-2 text-center">{l}Done{endl}</div>
                    <div class="col-xs-1" ng-if="edit.item.status!=2"></div>
                  </div>
                </th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="task in edit.item.services.services">
                <td>
                  <div class="row">
                    <div class="col-xs-1">{{task.code}}</div>
                    <div ng-class="{'col-xs-4':edit.item.status!=2, 'col-sm-5':edit.item.status==2 && edit.item.can_edit, 'col-sm-7':!edit.item.can_edit}">{{task.name}}</div>
                    <div class="col-xs-2 text-center">
                      <input type="text" ng-model="task.quantity" display-nr="" ng-blur="edit.editUser(task,'quantity_serv',$event)" ng-disabled="edit.item.status==2 || !edit.item.edit" class="form-control" />
                      </div>
                    <div class="col-xs-2 text-center" ng-if="edit.item.can_edit">
                      <input type="text" class="form-control" display-nr="" ng-model="task.task_budget" ng-disabled="edit.item.status==2" ng-blur="edit.changeTaskBudget(task)"/>
                    </div>
                    <div class="col-xs-2 text-center form-inline">
                      <a href="#" ng-click="edit.taskModal(task)"><span class="fas fa-comment"></span></a> &nbsp;
                      <div class="checkbox checkbox-primary">
                        <input type="checkbox" id="checkbox_ts_{{$index}}" ng-model="task.checked" ng-click="edit.editUser(task,'task',$event)" ng-disabled="edit.item.status==2"/>
                        <label for="checkbox_ts_{{$index}}">
                        </label>
                      </div>
                    </div>
                    <div class="col-xs-1" ng-if="edit.item.status!=2">
                       <a class="table_minimal-btn" confirm="{l}Delete this task?{endl}" ng-click="edit.delete('service',task)" ng-if="edit.item.edit"><span class="glyphicon glyphicon-trash"></span></a>
                    </div>
                  </div>
                </td>
              </tr>
            </tbody>
          </table><!-- /.table_minimal -->
        </div><!-- /.minimal_list-content -->
      </div>
  </div><!-- end /.minimal_list-tasks -->
  <div class="row minimal_list minimal_list-supplies margin-bottom-none margin-top-none" ng-if="edit.item.supplies.is_data>0 && edit.item.template_id">
    <div class="col-xs-12">
        <div>
          <h5><strong>{l}Supplies{endl}</strong></h5>
        </div><!-- /.minimal_list-header -->
        <div ng-if="edit.item.supplies.is_data>0">
          <table class="table active_rows orderTable">
            <thead>
              <tr>
                <th>
                  <div class="row">
                    <div ng-class="{'col-xs-3':edit.item.status!=2 && edit.item.edit, 'col-xs-5':edit.item.status==2 && edit.item.can_edit, 'col-xs-7':!edit.item.edit}">{l}Name{endl}</div>
                    <div class="col-xs-1 text-center">{l}Billable{endl}</div>
                    <div class="col-xs-2 text-center">{l}Quantity{endl}</div>
                    <div class="col-xs-2 text-center" ng-if="edit.item.can_edit">{l}Sell price{endl}</div>
                    <div class="col-xs-2 text-center">{l}Delivered{endl}</div>
                    <div class="col-xs-1 text-center" ng-if="edit.item.status!=2"></div>
                    <div class="col-xs-1" ng-if="edit.item.status!=2"></div>
                  </div>
                </th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="sup in edit.item.supplies.supplies">
                <td>
                  <div class="row">
                    <div ng-class="{'col-xs-3':edit.item.status!=2 && edit.item.edit, 'col-xs-5':edit.item.status==2 && edit.item.can_edit, 'col-xs-7':!edit.item.edit}">{{sup.name}}</div>
                     <div class="col-xs-1 text-center">
                      <div class="checkbox checkbox-primary">
                        <input type="checkbox" id="checkbox_sup_{{$index}}" ng-model="sup.billable" ng-click="edit.changeArticleBillable(sup)" ng-disabled="sup.billed=='1' || edit.item.status==2 || !edit.item.edit">
                        <label for="checkbox_sup_{{$index}}">
                        </label>
                      </div>   
                     </div>
                    <div class="col-xs-2 text-center"><input type="text" ng-model="sup.quantity" display-nr="" ng-blur="edit.editUser(sup,'quantity',$event)" ng-disabled="edit.item.status==2 || sup.billed=='1' || !edit.item.edit" class="form-control"/></div>
                    <div class="col-xs-2 text-center" ng-if="edit.item.can_edit">{{sup.sell_price}}</div>
                    <div class="col-xs-2 text-center"><input type="text" ng-model="sup.delivered" display-nr="" ng-blur="edit.editUser(sup,'delivered',$event)" ng-disabled="edit.item.status==2 || sup.billed=='1'" class="form-control" /></div>
                    <div class="col-xs-1 text-center" ng-if="edit.item.status!=2">
                      <a class="table_minimal-btn" ng-click="edit.editSupply(sup)"  ng-if="edit.item.edit"><span class="fas fa-pen"></span></a>
                    </div>
                    <div class="col-xs-1" ng-if="edit.item.status!=2">                 
                      <a class="table_minimal-btn" confirm="{l}Delete this entry?{endl}" ng-click="edit.delete('supplie',sup)"  ng-if="edit.item.edit"><span class="glyphicon glyphicon-trash"></span></a>
                      <span ng-if="sup.billed=='1'" class="glyphicon glyphicon-lock">
                    </div>
                  </div>
                </td>
              </tr>
            </tbody>
          </table><!-- /.table_minimal -->
        </div><!-- /.minimal_list-content -->
      </div>
  </div><!-- end /.minimal_list-supplies -->
  <div class="row minimal_list minimal_list-supplies margin-bottom-none margin-top-none" ng-if="edit.item.articles_allowed && edit.item.articles.is_data>0 && edit.item.template_id">
    <div class="col-xs-12">
        <div>
          <h5><strong>{l}Articles{endl}</strong></h5>
        </div><!-- /.minimal_list-header -->
        <div ng-if="edit.item.articles.is_data>0">
          <table class="table active_rows orderTable">
            <thead>
              <tr>
                <th>
                  <div class="row">
                    <div class="col-xs-2 line-height">{l}Code{endl}</div>
                    <div ng-class="{'col-xs-3':edit.item.status!=2 && edit.item.edit && edit.item.ALLOW_STOCK && edit.item.use_stock_reservation, 'col-xs-4':edit.item.status==2 && edit.item.can_edit || !edit.item.ALLOW_STOCK || !edit.item.use_stock_reservation, 'col-xs-5':!edit.item.can_edit && edit.item.status!=2, 'col-xs-6':!edit.item.can_edit && edit.item.status==2}" class="line-height">{l}Name{endl}</div>
                    <div class="col-xs-1 text-center line-height">{l}Billable{endl}</div>
                    <div class="col-xs-1 text-center line-height">{l}Quantity{endl}</div>
                    <div class="col-xs-1 text-center line-height" ng-if="edit.item.can_edit">{l}Sell price{endl}</div>
                    <div class="col-xs-1 text-center line-height" ng-if="edit.item.ALLOW_STOCK">{l}Stock{endl}</div>
                    <div class="col-xs-1 text-center line-height" ng-if="edit.item.ALLOW_STOCK && edit.item.use_stock_reservation">{l}To be reserved{endl}</div>
                    <div class="col-xs-1 text-center line-height">{l}To be delivered{endl}</div>
                    <div class="col-xs-1 line-height" ng-if="edit.item.status!=2"></div>
                  </div>
                </th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="art in edit.item.articles.articles">
                <td>
                  <div class="row">
                    <div class="col-xs-12 col-sm-2"><label ng-bind-html="art.code"></label></div>
                    <div ng-class="{'col-xs-12 col-sm-3':edit.item.status!=2 && edit.item.edit && art.ALLOW_STOCK && edit.item.use_stock_reservation, 'col-xs-12 col-sm-4':edit.item.status==2 && edit.item.can_edit || !art.ALLOW_STOCK || !edit.item.use_stock_reservation, 'col-xs-12 col-sm-5':!edit.item.can_edit && edit.item.status!=2, 'col-xs-12 col-sm-6':!edit.item.can_edit && edit.item.status==2}">
                      <textarea ng-bind-html="art.name" ng-model="art.name" ng-blur="edit.editUser(art,'name_art',$event)" class="form-control" resize-txt rows="1"></textarea>
                    </div>
                    <div class="col-xs-12 col-sm-1 text-center m-left">
                      <div class="checkbox checkbox-primary">
                        <input type="checkbox" id="checkbox_art_bil_{{$index}}" ng-model="art.billable" ng-click="edit.changeArticleBillable(art)" ng-disabled="edit.item.status==2 || art.billed=='1' || !edit.item.edit">
                        <label for="checkbox_art_bil_{{$index}}"></label>
                      </div>               
                    </div>
                    <div class="col-xs-12 col-sm-1 text-center"><input type="text" ng-model="art.quantity" display-nr="" ng-blur="edit.editUser(art,'quantity_art',$event)" ng-disabled="edit.item.status==2 || art.billed=='1' || !edit.item.edit" class="form-control" /></div>
                    <div class="col-xs-12 col-sm-1 text-center m-left" ng-if="edit.item.can_edit"><input type="text" ng-model="art.sell_price" display-nr="" ng-blur="edit.editUser(art,'sell_price',$event)" ng-disabled="edit.item.status==2 || art.billed=='1'" class="form-control">
                    <a class="table_minimal-btn edit_price" ng-click="edit.editSupply(art)"  ng-if="edit.item.edit"><span class="fas fa-pen"></span></a>
                    </div>
                    <div class="col-xs-12 col-sm-1 text-center {{art.stock_status}} m-left" ng-if="art.ALLOW_STOCK" ><label><b>{{art.stock}} <span ng-if="edit.item.use_stock_reservation && art.reserved_stock">({{art.reserved_stock}})</span></b></label></div>
                    <div class="col-xs-1 text-center " ng-if="art.ALLOW_STOCK && edit.item.use_stock_reservation" ><label>{{art.to_be_reserved}}</label></div>
                    <div class="col-xs-12 col-sm-1 text-center m-left">
                        <label>{{art.to_be_delivered}}</label>
                    </div>
                    <div class="text-center col-xs-12 col-sm-1 m-left" ng-if="edit.item.status!=2">
                    </div>
                    <div class="col-xs-12 col-sm-1 text-center m-left" ng-if="edit.item.status!=2">                  
                      <a class="table_minimal-btn" confirm="{l}Delete this entry?{endl}" ng-click="edit.delete('article',art)"  ng-if="edit.item.edit"><span class="glyphicon glyphicon-trash"></span></a>
                      <span ng-if="art.billed=='1'" class="glyphicon glyphicon-lock">
                    </div>
                  </div>
                </td>
              </tr> 
            </tbody>
          </table><!-- /.table_minimal -->
        </div><!-- /.minimal_list-content -->
      </div>
  </div>
  <div class="row minimal_list minimal_list-supplies" ng-if="edit.item.edit && edit.item.template_id">
    <div class="col-xs-12">
      <div class="btn-group btn-add_line_new" uib-dropdown>
        <a href="#" class="btn text-link dropdown-toggle" uib-dropdown-toggle ng-click="edit.closeOpened()"><span class="fa fa-plus icon-holder"></span>{l}Add Content{endl}</a>
        <ul class="dropdown-menu add_content" uib-dropdown-menu>
            <li ng-if="!edit.item.is_team"><a href="#" ng-click="edit.addUser()"><i class="fa fa-user-plus" aria-hidden="true"></i>{l}Add Collaborator{endl}</a></li>
            <li><a href="#" ng-click="edit.add.subtask=!edit.add.subtask"><i class="fa fa-tasks" aria-hidden="true"></i>{l}Add Task{endl}</a></li>
            <li><a href="#" ng-click="edit.addServiceBtn()"><i class="fa fa-wrench" aria-hidden="true"></i>{l}Add Service{endl}</a></li>     
            <li><a href="#" ng-click="edit.add.supplie=!edit.add.supplie"><i class="fa fa-truck" aria-hidden="true"></i>{l}Add Supply{endl}</a></li>
            <li ng-if="edit.item.articles_allowed"><a href="#" ng-click="edit.addArticleBtn()"><i class="fa fa-plus" aria-hidden="true"></i>{l}Quick Add a product from the catalog{endl}</a></li>
            <li ng-if="edit.item.articles_allowed"><a href="#" ng-click="edit.openModal(edit,'addArticle',item,'lg')"><i class="fa fa-plus-square" aria-hidden="true"></i>{l}Add Articles of the catalog in bulk{endl}</a></li>
        </ul>
      </div>     
      <div class="col-sm-12">
        <div class="col-sm-6 col-sm-offset-4" ng-if="!edit.add.subtask">
            <div class="col-sm-8">
               <input class="form-control" type="text" placeholder="{l}Add Task{endl}" ng-model="edit.item.task_name"/>
            </div>   
            <button class="btn btn-default" ng-click="edit.showAdd('subtask')">{l}Add Task{endl}</button>
        </div>
        <div class="col-sm-6 col-sm-offset-4" ng-if="!edit.add.supplie">
            <div class="col-sm-8">
              <input class="form-control" type="text" placeholder="{l}Add Supply{endl}" ng-model="edit.item.supplie"/>
            </div>
            <button class="btn btn-default" ng-click="edit.showAdd('supplie')">{l}Add Supply{endl}</button>
        </div>
        <div class="col-sm-6 col-sm-offset-3" ng-if="!edit.add.article && edit.item.articles_allowed">
          <selectize ng-if="!edit.add.article" config='edit.articleAutoCfg' options='edit.auto.options.articles' ng-model="edit.item.article_id" id="articles_list"></selectize>
        </div>
        <div class="col-sm-6 col-sm-offset-3" ng-if="edit.item.add_subtask1">
          <selectize ng-if="edit.item.add_subtask1" config='edit.taskAutoCfg' options='edit.item.services_list.lines' ng-model="edit.item.task_service_id" id="tasks_list"></selectize>
        </div>
        <div class="col-sm-6 col-sm-offset-3" ng-if="!edit.add.staff && !edit.item.is_team">
           <selectize ng-if="!edit.add.staff && !edit.item.is_team" config='edit.userAutoCfg' options='edit.auto.options.user' ng-model="edit.item.staff_id" id="users_list"></selectize>
        </div> 
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-8">

    </div>
    <div class="col-xs-12 col-sm-4 text-right">
      <a go-to="" state="serviceModels" type="submit" class="btn btn-plain">{l}Cancel{endl}</a>
      <button type="button" class="btn btn-default save_form"  ng-disabled="!edit.item.template_id || !edit.item.template_name" ng-click="edit.saveData(edit.serviceModelForm)">{l}Save{endl}</button> 
      
    </div>
</div>