<div class="container"><!-- neede on all pages -->
    <div class="page-header">
        <div class="row">
            <div class="col-xs-8 col-sm-6">
                <h1>{l}Interventions{endl}</h1>
            </div>
            <div class="col-xs-4 col-sm-6 text-right" ng-if="show_settings.is_admin_service">
                  <div class="dropdown new-settings">
                      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-ellipsis-v"></i></button>
                      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <li class="dropdown-item" ng-class="{ 'current':menu.submenu == 'intervention setting' }"><a go-to="" href="serviceSettings/" state="serviceSettings"><span class="fas fa-cog text-primary"></span> {l}Interventions Settings{endl}</a></li>
                      </div>
                  </div>
              </div>
        </div>
    </div><!-- /.page-header -->
    <div class="tabs-navigation"> 
        <ul class="nav nav-tabs">
          <li class="active">
            <a href="services/" go-to="" state="services">{l}Interventions{endl}</a>
            <button type="button" class="btn btn-primary btn-add" go-to="" state="service.edit" params='{"service_id": "tmp"}' uib-tooltip="{l}Add{endl}" tooltip-placement="top"><span class="btn-add_icon"><span class="icon-bar"></span><span class="icon-bar-2"></span></span></button>
          </li>
          <li ng-if="show_settings.view_all_interventions">
            <a href="rec_services/" go-to="" state="rec_services">{l}Recurring Interventions{endl}</a>
            <button type="button" class="btn btn-primary btn-add" go-to="" state="rec_service.edit" params='{"service_id": "tmp","is_recurring": true }' uib-tooltip="{l}Add{endl}" tooltip-placement="top"><span class="btn-add_icon"><span class="icon-bar"></span><span class="icon-bar-2"></span></span></button>
          </li>
          <li ng-if="show_settings.view_all_interventions">
            <a href="planning/" go-to="" state="planning">{l}Planning{endl}</a>
          </li>
          <li ng-if="show_settings.view_all_interventions">
            <a href="teams/" go-to="" state="teams">{l}Teams{endl}</a>
            <button type="button" class="btn btn-primary btn-add" ui-sref="team.edit({'team_id': 'tmp'})" uib-tooltip="{l}Add{endl}" tooltip-placement="top"><span class="btn-add_icon"><span class="icon-bar"></span><span class="icon-bar-2"></span></span></button>
          </li>
          <li ng-if="show_settings.view_all_interventions">
            <a href="serviceModels/" go-to="" state="serviceModels">{l}Model Interventions{endl}</a>
            <button type="button" class="btn btn-primary btn-add" go-to="" state="service.addModel" params='{"template_id": "tmp"}' uib-tooltip="{l}Add{endl}" tooltip-placement="top"><span class="btn-add_icon"><span class="icon-bar"></span><span class="icon-bar-2"></span></span></button>
          </li>
        </ul>       
        <div class="tab-content">
            <div class="tab-pane active">
                <div class="row page-search page-search-options">
        <form>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 " ng-if="!search.showDistance">
                <div class="so-field" ng-class="{
                        'so-active':search.search != '' }">
                    <span class="glyphicon glyphicon-search so-icon"></span>
                    <input type="text" class="form-control" placeholder="{l}Search{endl}" search-it doit="search" resetlist="1" callbk="renderList" ng-model="search.search">
                    <span class="glyphicon glyphicon-remove so-icon so-remove" ng-click="toggleSearchButtons('search', '')"></span>
                </div><!-- /.input-search -->
            </div><!-- /.page-search_options -->
            <div class="col-sm-2 col-md-2" ng-if="!search.showDistance">
                <div class="btn-group btn-block">
                    <selectize placeholder="{l}All Statuses{endl}" config='filterCfg' options='views' ng-model="activeView" ></selectize>
                </div>
            </div>
            <div class="col-sm-2 col-md-2" ng-if="!search.showDistance">
                <div class="so-field" ng-class="{
                        'so-active':search.start_date_js != undefined }">
                    <span class="glyphicon glyphicon-calendar so-icon" ng-click="openDate('start_date')"></span>
                    <input type="text" class="form-control" ng-model="search.start_date_js" uib-datepicker-popup="{{format}}" is-open="datePickOpen.start_date" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" close-text="Close" placeholder="{l}Start Date{endl}" show-button-bar="false" ng-click="datePickOpen.start_date = true" ng-change="searchThing(true)">
                    <span class="glyphicon glyphicon-remove so-icon so-remove" ng-click="toggleSearchButtons('start_date_js', undefined)"></span>
                </div><!-- /.input-date -->
            </div>
            <div class="col-sm-2 col-md-2" ng-if="!search.showDistance">
                <div class="so-field" ng-class="{
                        'so-active':search.stop_date_js != undefined }">
                    <span class="glyphicon glyphicon-calendar so-icon" ng-click="openDate('stop_date')"></span>
                    <input type="text" class="form-control" ng-model="search.stop_date_js" uib-datepicker-popup="{{format}}" is-open="datePickOpen.stop_date" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" close-text="Close" placeholder="{l}End Date{endl}" show-button-bar="false" ng-click="datePickOpen.stop_date = true" ng-change="searchThing(true)">
                    <span class="glyphicon glyphicon-remove so-icon so-remove" ng-click="toggleSearchButtons('stop_date_js', undefined)"></span>
                </div><!-- /.input-date -->
            </div>    
            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3" ng-if="search.showDistance">
                <div class="so-field" ng-class="{ 'so-active':search.street != '' && search.street!=undefined }">
                    <input type="text" class="form-control" placeholder="{l}Street{endl}" ng-model="search.street" autocomplete="off">
                    <span class="glyphicon glyphicon-remove so-icon so-remove" ng-click="toggleSearchButtons('street', '')"></span>
                </div>
            </div>
            <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2" ng-if="search.showDistance">
                <div class="so-field" ng-class="{ 'so-active':search.zip != '' && search.zip!=undefined }">
                    <input type="text" class="form-control" placeholder="{l}Zip{endl}" ng-model="search.zip" autocomplete="off">
                    <span class="glyphicon glyphicon-remove so-icon so-remove" ng-click="toggleSearchButtons('zip', '')"></span>
                </div>
            </div>
            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3" ng-if="search.showDistance">
                <div class="so-field" ng-class="{ 'so-active':search.city != '' && search.city!=undefined }">
                    <input type="text" class="form-control" placeholder="{l}City{endl}" ng-model="search.city" autocomplete="off">
                    <span class="glyphicon glyphicon-remove so-icon so-remove" ng-click="toggleSearchButtons('city', '')"></span>
                </div>
            </div>
            <div class="col-sm-2 col-md-2" ng-if="search.showDistance">
                <div class="btn-group btn-block">
                    <selectize config='countryCfg' options='country_dd' ng-model="search.country_id" ></selectize>
                </div>
            </div>
            <div class="col-sm-2 col-md-2" ng-if="search.showDistance">
                <div class="btn-group btn-block">
                    <button class="btn btn-default btn-group-full" ng-click="searchThing(true)">{l}Search{endl}</button>
                </div>
            </div>
            <div class="page-search-button" ng-class="{
                    'hide':search.showAdvanced }">
                <div class="btn-group" uib-dropdown>
                    <button type="button" class="btn btn-tertiary dropdown-toggle" uib-dropdown-toggle>
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-right" uib-dropdown-menu>
                        <li><a href="#" ng-click="search.showAdvanced = !search.showAdvanced" ><span class="fa fa-search"></span> {l}Advanced search{endl}</a></li>
                        <li ng-if="!search.showDistance"><a href="#" ng-click="search.showDistance = !search.showDistance" ><span class="fas fa-ruler"></span> {l}Distance Lookup{endl}</a></li>
                        <li ng-if="search.showDistance"><a href="#" ng-click="search.showDistance = !search.showDistance" ><span class="fa fa-list"></span> {l}Regular list view{endl}</a></li>
                        <li ng-if="!search.archived"><a href="#" ng-click="archived(1)"><span class="fas fa-archive new_archive" ></span> {l}Archived Interventions{endl}</a></li>
                        <li ng-if="search.archived"><a href="#" ng-click="archived(0)"><span class="fa fa-list-ul" ></span> {l}Active Interventions{endl}</a></li>
                        <li><a href="#" ng-click="columnSettings()"><span class="fas fa-cog text-primary" ></span> {l}Column settings{endl}</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-12 advanced_search adv_s" ng-class="{ 'advanced_search-show': search.showAdvanced }">
                <div class="row ">
                    <div class="col-sm-2">
                        <div class="btn-group btn-block" ng-class="{ 'so-active':search.manager_id != undefined }">
                            <selectize config='managerCfg' options='managers.list' ng-model="search.manager_id" id="manager_list"></selectize>
                            <span class="glyphicon glyphicon-remove so-remove" ng-click="toggleSearchButtons('manager_id',undefined)"></span>
                        </div>
                    </div>
                    <div class="col-sm-10 text-right">
                        <button class="btn btn-plain btn-search_cancel" ng-click="resetAdvanced()">{l}Cancel{endl}</button>
                    </div>
                </div>
            </div>
        </form>
    </div><!-- /.page-search -->
    <div class="row page-content">
        <div class="col-xs-12">
            <table class="table active_rows interventionTable" ng-if="!search.showDistance">
                <thead>
                    <tr>
                        <th class="expand_row"></th>
                        <th ng-repeat="col in columns" ng-class="{ 'sortable_row':col.order_by, 'sortable_row-up':(!reverse && col.order_by && ord==col.order_by), 'sortable_row-down':(reverse && col.order_by && ord==col.order_by) }" ng-click="(col.order_by ? orderBY(col.order_by) : '')">
                            <span ng-bind-html="col.name"></span>
                        </th>
                        <!-- <th class="col-sm-1 col-select">
                            <div class="checkbox checkbox-primary">
                              <input type="checkbox" id="checkbox_all" ng-model="listObj.check_add_all" ng-click="saveForPDF()">
                              <label for="checkbox_all"></label>
                            </div>  
                        </th> -->
                        <th class="col-sm-1 col-select">
                            <div class="dropdown order_export">
                                <button class="dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="fa fa-square-o" ng-if="!all_pages_selected && !minimum_selected"></i>
                                    <i class="fas fa-minus-square" ng-if="!all_pages_selected && minimum_selected"></i>
                                    <i class="fas fa-check-square" ng-if="all_pages_selected"></i>
                                    <i class="fa fa-caret-down" aria-hidden="true"></i>
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <a class="dropdown-item" href="#" ng-click="checkAllPage()">{l}Select page{endl}</a>
                                    <a class="dropdown-item" href="#" ng-if="!all_pages_selected" ng-click="checkAllPages()">{l}Select all{endl}</a>
                                    <a class="dropdown-item" href="#" ng-if="all_pages_selected || minimum_selected" ng-click="uncheckAllPages()">{l}Select none{endl}</a>
                                </div>
                            </div>
                        </th>
                        <th class="col-sm-1 table_actions">
                            <div class="btn-group" uib-dropdown ng-if="show_settings.is_admin_service">
                              <button type="button" class="btn btn-tertiary dropdown-toggle" uib-dropdown-toggle>
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu dropdown-menu-right" uib-dropdown-menu>
                                    <li><a href="index.php?do=maintenance-export_interventions" target="_blank" ng-click="createExports($event)"><span class="fas fa-upload text-primary"></span> {l}Export Interventions List{endl}</a></li>
                                </ul>
                            </div>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="(parentIndex, item) in list" class="collapseTr">
                        <td class="expand_row">
                            <i class="fa fa-chevron-right btn-expand" ng-click="showStats(item, parentIndex)" ng-class="{
                                    'fa-chevron-down': item.isopen }" ></i>
                        </td>
                        <td ng-repeat="col in columns">
                            <span ng-if="$index == 0">
                                <span go-to="" state="service.view" params='{"service_id": {{::item.service_id}}}' list='{ "type":"maintenance-services", "obj": { "search":{{search}}, "cindex":{{ parentIndex }}, "total_items":{{max_rows}} } }'>
                                    <a href="service/view/{{item.service_id}}" class="color-dark">{{::item[col.column_name]}}</a>
                                    <span class="item-icons">
                                        <span class="inv_ord {{item.invoiced}}" uib-tooltip="{{item.invoiced_info}}" tooltip-placement="right" ng-if="item.has_invoice"></span>
                                        <span class="text-muted" title="" ng-if="item.has_downpayment" uib-tooltip="{{item.downpayment_title}}" tooltip-placement="right">
                                            <i class="fa fa-arrow-circle-down" aria-hidden="true"></i>
                                        </span>                               
                                    </span>
                                </span>
                                <span class="item-icons item-serv">
                                    <span ng-if="item.is_from_recurring" class="fa fa-refresh" uib-tooltip="{l}This intervention was created through from a periodic intervention.{endl}" tooltip-placement="right"></span>
                                </span>
                            </span>
                            <span class="intervention_table" ng-if="$index>0" go-to="" state="service.view" params='{"service_id": {{::item.service_id}}}' list='{ "type":"maintenance-services", "obj": { "search":{{search}}, "cindex":{{ parentIndex }}, "total_items":{{max_rows}} } }'>
                                <a ng-if="col.column_name=='planeddate'" href="service/view/{{item.service_id}}" class="color-dark"><span ng-if="item.planeddate != 0">{{item[col.column_name]}}</span></a>
                                <a ng-if="col.column_name=='customer_name'" href="service/view/{{item.service_id}}" class="color-dark">{{item.customer_name ? item.customer_name : item.contact_name}}</a>
                                <uib-rating ng-if="col.column_name=='customer_name'" ng-model="item.rating" max="5" readonly="item.accept" class="pull-right stars" ng-if="item.accept == 1" ></uib-rating>
                                <a ng-if="col.column_name=='type_status'" href="service/view/{{item.service_id}}">
                                    <span class="badge item-status-gray" go-to="" state="service.view" params='{"service_id": {{::item.service_id}}}' list='{ "type":"maintenance-services", "obj": { "search":{{search}} } }'  class="item-status item-status-gray" ng-class="{ 'item-status-orange':item.status == 1, 'item-status-green':item.status == 2 }">{{::item[col.column_name]}}</span>
                                </a>
                                <a ng-if="col.column_name!='planeddate' && col.column_name!='customer_name' && col.column_name!='type_status'" href="service/view/{{item.service_id}}" class="color-dark">{{::item[col.column_name]}}</a>
                            </span>                    
                        </td>
                <td class="col-select">
                    <div class="checkbox checkbox-primary">
                      <input type="checkbox" id="checkbox_all_{{$index}}" ng-model="item.check_add_to_product" ng-click="markCheckNew(item)">
                      <label for="checkbox_all_{{$index}}"></label>
                    </div>
                </td>
                <td class="table_actions">
                    <div class="btn-group" uib-dropdown>
                        <button type="button" class="btn btn-plain dropdown-toggle" uib-dropdown-toggle>
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu dropdown-menu-right" uib-dropdown-menu>
                            <li class="dropdown-header">{l}Action{endl}</li>
                            <li ng-if="search.archived == 0 && item.status=='0' ">
                                <a href="#" go-to="" state="service.view" params='{"service_id": {{::item.service_id}}}' list='{ "type":"maintenance-services", "obj": { "search":{{search}}, "cindex":{{$index}}, "total_items":{{max_rows}} } }'><span class="fas fa-pen text-primary"></span> {l}Edit{endl}</a>
                            </li>
                            <li ng-if="search.archived == 0 && item.status!='2'">
                                <a href="#" ng-click="action(item, 'archive_link')" confirm-title="{{item.confirm}}" confirm-ok="{{item.ok}}" confirm-cancel="{{item.cancel}}" confirm="{l}Are you sure, you wanna archive this entry?{endl}"><span class="fas fa-archive text-primary"></span> {l}Archive{endl}</a>
                            </li>
                            <li ng-if="search.archived == 1">
                                <a href="#" ng-click="action(item, 'activate_link')" confirm-title="{{item.confirm}}" confirm-ok="{{item.ok}}" confirm-cancel="{{item.cancel}}" confirm="{l}Are you sure, you wanna revert this entry?{endl}"><span class="glyphicon glyphicon-repeat text-primary"></span> {l}Revert{endl}</a>
                            </li>
                            <li ng-if="search.archived == 1">
                                <a href="#" ng-click="action(item, 'delete_link')" confirm-title="{{item.confirm}}" confirm-ok="{{item.ok}}" confirm-cancel="{{item.cancel}}" confirm="{l}Are you sure, you wanna delete this entry?{endl}"><span class="fas fa-trash-alt text-primary"></span> {l}Delete{endl}</a>
                            </li>
                        </ul>
                    </div>
                </td>
                </tr>
                </tbody>
            </table>
            <table class="table active_rows interventionTable" ng-if="search.showDistance">
                <thead>
                    <tr>
                        <th class="col-sm-1 sortable_row" ng-class="{ 'sortable_row-up':(!reverse && ord == 'distance_ord'), 'sortable_row-down':(reverse && ord == 'distance_ord') }" ng-click="orderBY('distance_ord')">{l}Distance{endl} (km)</th>
                        <th class="col-sm-2 sortable_row" ng-class="{ 'sortable_row-up':(!reverse && ord == 'serial_number'), 'sortable_row-down':(reverse && ord == 'serial_number') }" ng-click="orderBY('serial_number')">{l}Intervention No{endl}</th>
                        <th class="col-sm-2 sortable_row" ng-class="{ 'sortable_row-up':(!reverse && ord == 'planeddate'), 'sortable_row-down':(reverse && ord == 'planeddate') }" ng-click="orderBY('planeddate')">{l}Planned date{endl}</th>
                        <th class="col-sm-2">{l}Site Address{endl}</th>
                        <th class="col-sm-2 sortable_row" ng-class="{ 'sortable_row-up':(!reverse && ord == 'subject'), 'sortable_row-down':(reverse && ord == 'subject') }" ng-click="orderBY('subject')">{l}Subject{endl}</th>
                        <th class="col-sm-1 text-center">{l}Status{endl}</th>
                        <th class="col-sm-2 sortable_row" ng-class="{ 'sortable_row-up':(!reverse && ord == 'manager'), 'sortable_row-down':(reverse && ord == 'manager') }" ng-click="orderBY('manager')">{l}Intervention manager{endl}</th>                 
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="item in list" class="collapseTr" >
                        <td go-to="" state="service.view" params='{"service_id": {{::item.service_id}}}' list='{ "type":"maintenance-services", "obj": { "search":{{search}}, "cindex":{{$index}}, "total_items":{{max_rows}} } }'>
                            <a href="service/view/{{item.service_id}}" class="color-dark"><span>{{::item.distance}}</span></a>
                        </td>
                        <td go-to="" state="service.view" params='{"service_id": {{::item.service_id}}}' list='{ "type":"maintenance-services", "obj": { "search":{{search}}, "cindex":{{$index}}, "total_items":{{max_rows}} } }'>
                            <a href="service/view/{{item.service_id}}" class="color-dark"><span>{{::item.serial_number}}</span></a>
                        </td>
                        <td go-to="" state="service.view" params='{"service_id": {{::item.service_id}}}' list='{ "type":"maintenance-services", "obj": { "search":{{search}}, "cindex":{{$index}}, "total_items":{{max_rows}} } }'>
                            <a href="service/view/{{item.service_id}}" class="color-dark"><span ng-if="item.planeddate != 0">{{::item.planeddate}}</span></a>
                        </td>
                        <td go-to="" state="service.view" params='{"service_id": {{::item.service_id}}}' list='{ "type":"maintenance-services", "obj": { "search":{{search}}, "cindex":{{$index}}, "total_items":{{max_rows}} } }'>
                            <a href="service/view/{{item.service_id}}" class="color-dark"><span ng-bind-html="item.site_address"></span></a>
                        </td>
                        <td go-to="" state="service.view" params='{"service_id": {{::item.service_id}}}' list='{ "type":"maintenance-services", "obj": { "search":{{search}}, "cindex":{{$index}}, "total_items":{{max_rows}} } }'>
                            <a href="service/view/{{item.service_id}}" class="color-dark">{{::item.subject}}</a>
                        </td>
                        <td class="text-center" go-to="" state="service.view" params='{"service_id": {{::item.service_id}}}' list='{ "type":"maintenance-services", "obj": { "search":{{search}}, "cindex":{{$index}}, "total_items":{{max_rows}} } }'>
                            <a href="service/view/{{item.service_id}}"><span class="badge item-status-gray" go-to="" state="service.view" params='{"service_id": {{::item.service_id}}}' list='{ "type":"maintenance-services", "obj": { "search":{{search}} } }'  class="item-status item-status-gray" ng-class="{
                                    'item-status-orange':item.status == 1, 'item-status-green':item.status == 2 }">{{::item.type_status}}</span></a>
                        </td>
                        <td go-to="" state="service.view" params='{"service_id": {{::item.service_id}}}' list='{ "type":"maintenance-services", "obj": { "search":{{search}}, "cindex":{{$index}}, "total_items":{{max_rows}} } }'>
                            <a href="service/view/{{item.service_id}}" class="color-dark">{{::item.manager}}</a>
                        </td>                                           
                    </tr>
                </tbody>
            </table>
        </div>
    </div><!-- /.page-content -->
            </div>
       </div>
    </div> 
    
    <!-- <pag-custom pages="pager" refresh="rederList()" doit='maintenance-services'></pag-custom> -->
    <ul ng-if="max_rows > 30" uib-pagination total-items="max_rows" ng-model="search.offset" ng-change="searchThing()" max-size="5" class="pager" boundary-links="true" items-per-page="lr" ></ul>
</div><!-- neede on all pages -->
