<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="add.cancel()"><span aria-hidden="true">&times;</span></button>
  <h4 class="modal-title">{l}Select Type{endl}</h4>
</div>
<div class="modal-body">
	<div class="loading_wrap loading_alt hidden">
      	<div class="loading"></div>
        	<div class="spinner"></div>
      </div>
	<div class="row col-bottom">
		<div class="col-xs-6">
			<button class="btn btn-block btn-lg btn-setup" ng-click="add.set_type('0')" ng-class="{ 'active':add.obj.item.service_type=='0' }">
				<div class="btn-setup_holder">
					<div class="text-holder">
						<span class="icon-holder">
							<img src="images/time_p.png" alt="" width="16" height="16">
						</span>
						{l}Time & Expenses{endl}
					</div>
				</div>
			</button>
		</div>
		<div class="col-xs-6">
			<button class="btn btn-block btn-lg btn-setup" ng-click="add.set_type('1')" ng-class="{ 'active':add.obj.item.service_type=='1' }">
				<div class="btn-setup_holder">
					<div class="text-holder">
						<span class="icon-holder">
							<img src="images/fixed_p.png" alt="" width="16" height="16">
						</span>
						{l}Fixed price{endl}
					</div>
				</div>
			</button>
		</div>
	</div>
</div>