<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="add.cancel()"><span aria-hidden="true">&times;</span></button>
  <h4 class="modal-title">{l}Edit hours{endl}</h4>
</div>
<div class="modal-body modal-body_alt">
	<div class="loading_wrap loading_alt hidden">
      	<div class="loading"></div>
        	<div class="spinner"></div>
      </div>
      <div uib-alert ng-repeat="alert in add.alerts" type="{{alert.type}}" close="add.alerts.splice($index, 1);" ng-class="['alert-' + (alert.type || 'warning') ]" dismiss-on-timeout='5000'>{{alert.msg}}</div>
      <div class="col-sm-12 form-horizontal">
      	<div class="form-group">
      		<label class="control-label col-sm-4 text-left">{l}Date{endl}</label>
      		<div class="col-sm-4">
      			<div class="so-field">
                  <span class="glyphicon glyphicon-calendar so-icon" ng-click="add.datePickOpen.date=true"></span>
                  <input type="text" class="form-control" ng-model="add.obj.service_date" uib-datepicker-popup="{{add.format}}" is-open="add.datePickOpen.date" datepicker-options="add.dateOptions" close-text="Close" show-button-bar="false" ng-click="add.datePickOpen.date=true" />
            </div>
      		</div>
      	</div>
        <div class="form-group">
          <label class="control-label col-sm-4 text-left">{l}Category{endl}</label>
          <label class="control-label col-sm-4 text-left">{{add.obj.category}}</label>
        </div>
        <div class="form-group">
          <label class="control-label col-sm-4 text-left">{l}Amount{endl}</label>
          <div class="col-sm-4">
            <input type="text" class="form-control" ng-model="add.obj.amount_txt">
          </div>
        </div>
      	<div class="form-group">
      		<label class="control-label col-sm-4 text-left">{l}Billable{endl}</label>
      		 <div class="col-sm-4">
      		 	<toggle-switch ng-model="add.obj.billabel" class="switch-primary" off-label="{l}No{endl}" on-label="{l}Yes{endl}"></toggle-switch>
      		 </div> 		
      	</div>
      	<div class="form-group">
      		<label class="control-label col-sm-4 text-left">{l}Attachment{endl}</label>
      		<div class="col-sm-8">
				<input type="file" name="file" id="attachement" class="form-control" value="">
			</div>
      	</div>
      	<div class="form-group">
      		<label class="control-label col-sm-4 text-left">{l}Note{endl}</label>
      		<div class="col-sm-8">
      			<input type="text" class="form-control" ng-model="add.obj.note">
      		</div>
      	</div>
      </div>
</div>
<div class="modal-footer">
    <button class="btn btn-plain" type="button" ng-click="add.cancel()">{l}Cancel{endl}</button>
     <button class="btn btn-default" type="button" ng-click="add.ok()" >{l}Save{endl}</button>
</div>