<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="edit.cancel()"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title">{l}Edit hours{endl}</h4>
</div>
<div class="modal-body modal-body_alt">
    <div class="loading_wrap loading_alt hidden">
        <div class="loading"></div>
        <div class="spinner"></div>
    </div>
    <div uib-alert ng-repeat="alert in edit.alerts" type="{{alert.type}}" close="edit.alerts.splice($index, 1);" ng-class="['alert-' + (alert.type || 'warning') ]" dismiss-on-timeout='5000'>{{alert.msg}}</div>
    <div class="col-sm-12 form-horizontal">
        <div class="col-sm-6">
            <div class="form-group">
                <label class="control-label col-sm-4 text-left">{l}Date{endl}</label>
                <div class="col-sm-4">
                    <div class="so-field">
                        <span class="glyphicon glyphicon-calendar so-icon" ng-click="edit.datePickOpen.service_date=true"></span>
                        <input type="text" class="form-control" ng-model="edit.obj.date_js" uib-datepicker-popup="{{edit.format}}" is-open="edit.datePickOpen.service_date" datepicker-options="edit.dateOptions" close-text="Close" show-button-bar="false" ng-click="edit.datePickOpen.service_date=true"
                        />
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-4 text-left">{l}Start time{endl}</label>
                <div class="col-sm-4">
                    <input type="text" class="form-control link-pointer" ng-model="edit.obj.start_time" placeholder="00:00" ng-click="edit.showTime($event,'obj','start_time',0)" readonly>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-4 text-left">{l}End time{endl}</label>
                <div class="col-sm-4">
                    <input type="text" class="form-control link-pointer" ng-model="edit.obj.end_time" placeholder="00:00" ng-click="edit.showTime($event,'obj','end_time',0)" readonly>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-4 text-left">{l}Break{endl}</label>
                <div class="col-sm-4">
                    <input type="text" class="form-control link-pointer" ng-model="edit.obj.break" placeholder="00:00" ng-click="edit.showTime($event,'obj','break',0)" readonly>
                </div>
            </div>

        </div>
        <div class="col-sm-6">
            <div class="form-group">
                <div class="col-sm-12">
                    <textarea class="form-control vertical-align" ng-model="edit.obj.time_report" placeholder="{l}Report{endl}" rows="4"></textarea>
                </div>
            </div>
            <div class="form-group">
                <label for="" class="control-label col-sm-4 text-left">{l}Internal{endl}</label>
                <div class="col-sm-4">
                    <!-- <toggle-switch ng-model="edit.obj.internal_report" class="switch-primary" off-label="{l}No{endl}" on-label="{l}Yes{endl}"></toggle-switch> -->
                    <label class="switch pull-left small_margin">
                  <input type="checkbox" id="" ng-model="edit.obj.internal_report" class="switch-primary">
                  <span class="slider round"></span>
             </label>
                </div>
            </div>
            <div class="form-group" ng-if=edit.obj.service_type=='1'>
                <label for="" class="control-label col-sm-4 text-left">{l}Extra hours{endl}</label>
                <div class="col-sm-4">
                    <!-- <toggle-switch ng-model="edit.obj.extra_hours" class="switch-primary" off-label="{l}No{endl}" on-label="{l}Yes{endl}"></toggle-switch> -->
                    <label class="switch pull-left small_margin">
                <input type="checkbox" id="" ng-model="edit.obj.extra_hours"  class="switch-primary">
                <span class="slider round"></span>
           </label>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-plain" type="button" ng-click="edit.cancel()">{l}Cancel{endl}</button>
    <button class="btn btn-default" type="button" ng-click="edit.ok()">{l}Save{endl}</button>
</div>