<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="cancel()"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title">{l}Signature{endl}</h4>
</div>
<div class="modal-body">
    <div class="loading_wrap loading_alt hidden">
        <div class="loading"></div>
        <div class="spinner"></div>
    </div>

    <div class="col-sm-10">
            <signature-pad accept="accept" clear="clear" height="220" width="700" dataurl="dataurl"></signature-pad>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-plain" type="button" ng-click="clear()">{l}Clear{endl}</button>
    <button class="btn btn-plain" type="button" ng-click="cancel()">{l}Cancel{endl}</button>
    <button class="btn btn-default" type="button" ng-click="done()">{l}Save{endl}</button>
</div>