<style>
    table{border:1px solid black;}
    .subtable{background-color: #F4F4F7}
    .no_border table th{font-style:italic;}
</style>
{if:data}
<body style="background-color: #f2f2f2;width:100%">
    {if:intervention_report}
        <table style="width:100%">
            <caption>{l}Intervention Report{endl}</caption>
            <tbody>
                <tr>
                    <td>{intervention_report}</td>
                </tr>
            </tbody>       
        </table>
    {end}
{if:is_user}
    <table style="width:100%">
        <caption>{l}Collaborators{endl}</caption>
        <thead>
            <tr>
                <th style="width:40%">{l}Name{endl}</th>
                <th style="width:20%;text-align:center">{l}Intervention Manager{endl}</th>
                <th style="width:20%;text-align:center">{l}Hours{endl}</th>
                <th style="width:20%;text-align:center">{l}Expences{endl}</th>
            </tr>
        </thead>
        <tbody>
            {loop:users}
                <tr class="user_line">
                    <td style="width:40%">{name}</td>
                    <td style="width:20%;text-align:center"><input type="checkbox" {pr_m} /></td>
                    <td style="width:20%;text-align:center">{hours}</td>
                    <td style="width:20%;text-align:center">{expences}</td>
                </tr>
                {if:is_hours_data}
                <tr>
                    <td colspan="8" class="no_border">
                      <table style="width:100%" class="subtable">
                        <thead>
                            <tr>
                                <th style="width:20%">{l}Date{endl}</th>
                                {if:fixed}<th style="width:30%">{l}Report{endl}</th>
                                <th style="width:10%">{l}Internal{endl}</th>
                                <th style="width:10%">{l}Extra hours{endl}</th>{else}
                                <th style="width:40%">{l}Report{endl}</th>
                                <th style="width:10%">{l}Internal{endl}</th>{end}
                                <th style="width:10%">{l}Start time{endl}</th>
                                <th style="width:10%">{l}End time{endl}</th>
                                <th style="width:10%">{l}Break{endl}</th>
                            </tr>
                        </thead>                       
                        <tbody>
                            {loop:hours}
                            <tr>
                                <td style="width:20%">{DATE}</td>
                                {if:fixed}<td style="width:30%">{time_report_txt}</td>
                                <td style="width:10%">{internal_report_txt}</td> 
                                <td style="width:10%">{extra_hours_txt}</td>{else}
                                <td style="width:40%">{time_report_txt}</td>
                                <td style="width:10%">{internal_report_txt}</td>{end}
                                <td style="width:10%">{start_time}</td>
                                <td style="width:10%">{end_time}</td>
                                <td style="width:10%">{break}</td>
                            </tr>
                            {endloop}
                        </tbody>
                      </table>
                    </td>
                </tr>
                {end}
                {if:is_expense_data}
                <tr class="versionInfo">
                    <td colspan="8" class="no_border">
                        <table style="width:100%" class="subtable">
                            <thead>
                                <tr>
                                    <th style="width:20%">{l}Date{endl}</th>
                                    <th style="width:20%">{l}Category{endl}</th>
                                    <th style="width:20%">{l}Amount{endl}</th>
                                    <th style="width:40%">{l}Notes{endl}</th>
                                </tr>
                            </thead>                       
                            <tbody>
                                {loop:expenses}
                                <tr>
                                    <td class="col-xs-2 text-muted">{DATE}</td>
                                    <td class="col-xs-3 text-muted">{category}</td>
                                    <td class="col-xs-2 text-muted">{amount}</td> 
                                    <td class="col-xs-5 text-muted">{note}</td>
                                </tr>
                                {endloop}
                            </tbody>
                        </table>
                    </td>
                </tr>
                {end}
            {endloop}
        </tbody>      
    </table>
{end}
{if:is_task}
    <table style="width:100%">
        <caption>{l}Tasks{endl}</caption>
        <thead>
            <tr>
                {if:fixed}<th style="width:60%">{l}Name{endl}</th>{else}
                <th style="width:80%">{l}Name{endl}</th>{end}
                {if:fixed}<th style="width:20%;text-align:center">{l}Price{endl}</th>{end}
                <th style="width:20%;text-align:center">{l}Done{endl}</th>
            </tr>
        </thead>
        <tbody>
            {loop:tasks}
            <tr>
                {if:fixed}<td style="width:60%">
                    {name}
                </td>{else}
                <td style="width:80%">
                    {name}
                </td>{end}
                {if:fixed}<td style="width:20%;text-align:center">
                    {task_budget}
                </td>{end}
                <td style="width:20%;text-align:center">
                    <input type="checkbox" {checked}/>
                </td>
            </tr>
            {endloop}
        </tbody>
    </table>
{end}
{if:is_service}
    <table style="width:100%">
        <caption>{l}Services{endl}</caption>
        <thead>
            <tr>
                <th style="width:10%">{l}Code{endl}</th>
                <th style="width:40%">{l}Name{endl}</th>
                <th style="width:20%;text-align:center">{l}Quantity{endl}</th>
                <th style="width:20%;text-align:center">{l}Price{endl}</th>
                <th style="width:10%;text-align:center">{l}Done{endl}</th>
            </tr>
        </thead>
        <tbody>
            {loop:services}
            <tr>
                <td style="width:10%">{code}</td>
                <td style="width:40%">{name}</td>
                <td style="width:20%;text-align:center">
                    {quantity}
                </td>
                <td style="width:20%;text-align:center">
                    {task_budget}
                </td>
                <td style="width:10%;text-align:center">
                    <input type="checkbox" {checked}/>
                </td>
            </tr>
            {endloop}
        </tbody>
    </table>
{end}
{if:is_supply}
    <table style="width:100%">
        <caption>{l}Supplies{endl}</caption>
        <thead>
            <tr>
                <th style="width:40%">{l}Name{endl}</th>
                <th style="width:10%;text-align:center">{l}Billable{endl}</th>
                <th style="width:20%;text-align:center">{l}Quantity{endl}</th>
                <th style="width:20%;text-align:center">{l}Sell price{endl}</th>
                <th style="width:10%;text-align:center">{l}Delivered{endl}</th>
            </tr>
        </thead>
        <tbody>
            {loop:supply}
            <tr>
                <td style="width:40%">{name}</td>
                <td style="width:10%;text-align:center">
                    <input type="checkbox" {billable}>   
                </td>
                <td style="width:20%;text-align:center">
                    {quantity}
                </td>
                <td style="width:20%;text-align:center">{sell_price}</td>
                <td style="width:10%;text-align:center">
                    {delivered}                
                </td>
            </tr>
            {endloop}
        </tbody>
    </table>
{end}
{if:is_article}
    <table style="width:100%">
        <caption>{l}Articles{endl}</caption>
        <thead>
            <tr>
                <th style="width:20%">{l}Code{endl}</th>
                <th style="width:40%">{l}Name{endl}</th>
                <th style="width:10%;text-align:center">{l}Billable{endl}</th>
                <th style="width:10%;text-align:center">{l}Quantity{endl}</th>
                <th style="width:10%;text-align:center">{l}Sell price{endl}</th>
                <th style="width:10%;text-align:center">{l}To be delivered{endl}</th>       
            </tr>
        </thead>
        <tbody>
            {loop:articles}
            <tr>
                <td style="width:20%">{code}</td>
                <td style="width:40%">
                    {name}
                </td>
                <td style="width:10%;text-align:center">
                    <input type="checkbox" {billable}>               
                </td>
                <td style="width:10%;text-align:center">
                    {quantity}
                </td>
                <td style="width:10%;text-align:center">
                    {sell_price}
                </td>
                <td style="width:10%;text-align:center">
                    {to_be_delivered}
                </td>
            </tr>
            {endloop}
        </tbody>
    </table>
{end}
{if:is_delivery}
    <table style="width:100%">
        <caption>{l}Deliveries List{endl}</caption>
        <thead>
            <tr>
                <th style="width:20%">{l}Date{endl}</th>
                <th style="width:30%">{l}Contact{endl}</th>
                <th style="width:50%">{l}Address{endl}</th>       
            </tr>
        </thead>
        <tbody>
            {loop:deliveries}
            <tr>
                <td style="width:20%">{date}</td>
                <td style="width:30%">{contact}</td>
                <td style="width:50%">{address}</td>       
            </tr>
            {if:is_article}
                <tr class="versionInfo">
                    <td colspan="8" class="no_border">
                        <table style="width:100%" class="subtable">
                            <thead>
                                <tr>
                                    {if:allow_article_packing}<th style="width:60%">{l}Article{endl}</th>
                                    <th style="width:20%;text-align:center">{l}Pack{endl} {if:allow_article_sale_unit}/{l}S.U.{endl}{end}</th>{else}
                                    <th style="width:80%">{l}Article{endl}</th>
                                    {end}
                                    <th style="width:20%;text-align:center">{l}Quantity{endl}</th>
                                </tr>
                            </thead>                       
                            <tbody>
                                {loop:delivery_articles}
                                <tr>
                                    {if:allow_article_packing}<td style="width:60%">{article}</td>
                                    <td style="width:20%;text-align:center">{packing} {if:allow_article_sale_unit}/{sale_unit}{end}</td>{else}
                                    <td style="width:80%">{article}</td>
                                    {end}
                                    <td style="width:20%;text-align:center">{line_q}</td> 
                                </tr>
                                {endloop}
                            </tbody>
                        </table>
                    </td>
                </tr>
                {end}
            {endloop}
        </tbody>
    </table>
{end}
{else}
    <p class="noData">No data</p>
{end}
</body>