<div class="container">
	<div class="page-header">
        <div class="row">
            <div class="col-xs-8 col-sm-6">
                <h1>{l}Interventions{endl}</h1>
            </div>
            <div class="col-xs-4 col-sm-6 text-right" ng-if="show_settings.is_admin_service">
                  <div class="dropdown new-settings">
                      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-ellipsis-v"></i></button>
                      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                          <li class="dropdown-item" ng-class="{ 'current':menu.submenu == 'intervention setting' }"><a go-to="" href="serviceSettings/" state="serviceSettings"><span class="fas fa-cog text-primary"></span> {l}Interventions Settings{endl}</a></li>
                      </div>
                  </div>
              </div>
        </div>
    </div><!-- /.page-header -->
    <div class="tabs-navigation"> 
        <ul class="nav nav-tabs">
          <li>
            <a href="services/" go-to="" state="services">{l}Interventions{endl}</a>
            <button type="button" class="btn btn-primary btn-add" go-to="" state="service.edit" params='{"service_id": "tmp"}' uib-tooltip="{l}Add{endl}" tooltip-placement="top"><span class="btn-add_icon"><span class="icon-bar"></span><span class="icon-bar-2"></span></span></button>
          </li>
          <li ng-if="show_settings.view_all_interventions">
            <a href="rec_services/" go-to="" state="rec_services">{l}Recurring Interventions{endl}</a>
            <button type="button" class="btn btn-primary btn-add" go-to="" state="rec_service.edit" params='{"service_id": "tmp","is_recurring": true }' uib-tooltip="{l}Add{endl}" tooltip-placement="top"><span class="btn-add_icon"><span class="icon-bar"></span><span class="icon-bar-2"></span></span></button>
          </li>
          <li class="active" ng-if="show_settings.view_all_interventions">
            <a href="planning/" go-to="" state="planning">{l}Planning{endl}</a>
          </li>
          <li ng-if="show_settings.view_all_interventions">
            <a href="teams/" go-to="" state="teams">{l}Teams{endl}</a>
            <button type="button" class="btn btn-primary btn-add" ui-sref="team.edit({'team_id': 'tmp'})" uib-tooltip="{l}Add{endl}" tooltip-placement="top"><span class="btn-add_icon"><span class="icon-bar"></span><span class="icon-bar-2"></span></span></button>
          </li>
          <li ng-if="show_settings.view_all_interventions">
            <a href="serviceModels/" go-to="" state="serviceModels">{l}Model Interventions{endl}</a>
            <button type="button" class="btn btn-primary btn-add" go-to="" state="service.addModel" params='{"template_id": "tmp"}' uib-tooltip="{l}Add{endl}" tooltip-placement="top"><span class="btn-add_icon"><span class="icon-bar"></span><span class="icon-bar-2"></span></span></button>
          </li>
        </ul>       
        <div class="tab-content">
            <div class="tab-pane active">
            	<div class="row page-content">
		<div uib-alert ng-repeat="alert in alerts" type="{{alert.type}}" close="alerts.splice($index, 1);" ng-class="['alert-' + (alert.type || 'warning'), 'alert-fixed' ]" dismiss-on-timeout='3500' >{{alert.msg}}</div>
		<div uib-alert type="notice" class="alert-warning" ng-if="!planning.team_id">{l}No teams selected/available{endl}</div>
		<div class="col-xs-12">
			<div class="page-header">
				<div class="row">
					<div class="col-xs-12 col-sm-5">
						<h2>{l}Overview for{endl}
							<selectize config='teamAutoCfg' options='auto.options.team' ng-model="planning.team_id"></selectize>
						</h2>
					</div>
					<div class="col-xs-12 col-sm-7 text-right m-left">
						<div class="btn-group btn-group-calendar" role="group" ng-if="activeType==1">
							<button type="button" class="btn btn-square btn-plain" ng-click="navigate_day(-1)"><span class="glyphicon glyphicon-chevron-left"></span></button>
							<span class="calendar-date">{{planning.day_txt}}</span>
							<button type="button" class="btn btn-square btn-plain" ng-click="navigate_day(+1)"><span class="glyphicon glyphicon-chevron-right"></span></button>
						</div>
						<div class="btn-group btn-group-calendar" role="group" ng-if="activeType==2">
							<button type="button" class="btn btn-square btn-plain" ng-click="navigate(-1)"><span class="glyphicon glyphicon-chevron-left"></span></button>
							<span class="calendar-date">{{planning.week_txt}}</span>
							<button type="button" class="btn btn-square btn-plain" ng-click="navigate(+1)"><span class="glyphicon glyphicon-chevron-right"></span></button>
						</div>
						<div class="btn-group btn-group-calendar" role="group" ng-if="activeType==3">
							<button type="button" class="btn btn-square btn-plain" ng-click="navigate_month(-1)"><span class="glyphicon glyphicon-chevron-left"></span></button>
							<span class="calendar-date">{{planning.month_txt}}</span>
							<button type="button" class="btn btn-square btn-plain" ng-click="navigate_month(+1)"><span class="glyphicon glyphicon-chevron-right"></span></button>
						</div>
						<div class="btn-inline col-left text-left" ng-show="activeType<3">
							<span class="glyphicon glyphicon-calendar so-icon" ng-model="start_date" uib-datepicker-popup="{{format}}" is-open="datePickOpen.start_date" datepicker-options="dateOptions" close-text="Close" show-button-bar="false" ng-click="datePickOpen.start_date=true" ng-change="changeDate()"></span>
						</div>                
						<div class="btn-inline col-left text-left">
							<selectize class="selectize-control-sm" placeholder="{l}Overview{endl}" config='typeCfg' options='types' ng-model="activeType"></selectize>
						</div>
					</div>
				</div>
			</div><!-- /.page-header -->
			
			<div class="planning planning_groups planning_groups_day" ng-if="activeType==1 && planning.team_id" ng-class="{ 'is_top_class':planning.is_top}">
				<div class="planning_row_user">
					<div class="planning_header clearfix">
						<div class="planning_cell">&nbsp;</div>
					</div><!-- /.planning_header -->
					<div class="planning_row clearfix" ng-repeat="item in planning.user_data">
						<div class="planning_user_thumb" ui-sref="serviceTs({'user_id': item.user_id})">
							<span class="fa fa-user"></span>
						</div>
						<div class="planning_user" ui-sref="serviceTs({'user_id': item.user_id})">
							<span class="text-ellipsis">{{item.name}}</span>
						</div>
						<div class="entry {{item2.phour}} {{item2.pduration}} {{item2.colors}}" ng-click="modal(item2,'template/viewIntervention','viewInterventionCtrl')" ng-repeat="item2 in item.all_day">
							<p class="text-ellipsis" ng-class="{ 'text-success' : item2.status==1, 'text-warning' : item2.status==0, 'text-muted':item2.status==2 }" title="{{item2.c_name}}"><del ng-if="item2.status==2">{{item2.c_name}}</del><span ng-if="item2.status!=2">{{item2.c_name}}</span></p>
						</div>
					</div><!-- /.planning_row -->
				</div><!-- /.planning_row_user -->
				<div class="planning_row_content" ng-scrollbars ng-scrollbars-config="scroll_config" >
					<div class="planning_header clearfix">
						<div class="planning_cell" ng-repeat="item in planning.days_nr">{{item.day}}</div>
					</div><!-- /.planning_header -->
					<div class="planning_row clearfix" ng-repeat="item in planning.user_data">
						<div class="planning_cell" ng-repeat="hour in planning.days_nr"></div>
						<div ng-repeat="item2 in item.data" class="entry {{item2.phour}} {{item2.pduration}} {{item2.pwidth}} {{item2.colors}}" ng-click="modal(item2,'template/viewIntervention','viewInterventionCtrl')">
							<p class="text-ellipsis" ng-class="{ 'text-success' : item2.status==1, 'text-warning' : item2.status==0, 'text-muted':item2.status==2 }" title="{{item2.c_name}}"><del ng-if="item2.status==2">{{item2.c_name}}</del><span ng-if="item2.status!=2">{{item2.c_name}}</span></p>
						</div>
					</div><!-- /.planning_row -->
				</div><!-- /.planning_row_content -->
			</div><!-- /.planning_groups_day -->
			<div class="planning planning_groups planning_groups_month" ng-if="activeType==3 && planning.team_id">
				<div class="planning_header clearfix">
					<div class="planning_row_user"></div>
					<div class="planning_row_content">
						<div class="planning_cell" ng-repeat="item in planning.days_nr" ng-class="{ 'weekend_dates' : item.end_day }">{{item.day}}</div>
					</div>
				</div><!-- /.planning_header -->
				<div class="planning_row clearfix" ng-repeat="item in planning.user_data">
					<div class="planning_row_user" ui-sref="serviceTs({'user_id': item.user_id})">
						<div class="planning_user_thumb">
							<span class="fa fa-user"></span>
						</div>
						<div class="planning_user">
							<span class="text-ellipsis">{{item.name}}</span>
						</div>
					</div><!-- /.planning_row_user -->
					<div class="planning_row_content">
						<div class="planning_cell" ng-repeat="item2 in item.data" ng-class="{ 'bg-grey' : item2.block_day}">
							<div class="planning_details" ng-class="{ 'bg-success' : item2.service_nr<5 && item2.service_nr>0, 'bg-warning' : item2.service_nr>=5 && item2.service_nr<=7, 'bg-danger':item2.service_nr>7 }">
								<a href="#" class="planning_details_btn" ng-click="showMore($event,item2,item.user_id,$parent.$index,$index)"></a>
								<div class="cell_c"></div>
							</div>
						</div>
					</div><!-- /.planning_row_content -->
				</div><!-- /.planning_row -->
			</div><!-- /.planning_groups_month -->
			<div class="planning planning_groups planning_groups_week" ng-if="activeType==2 && planning.team_id">
				<div class="planning_header clearfix">
					<div class="planning_row_user"></div>
					<div class="planning_row_content">
						<div class="planning_cell" ng-repeat="item in planning.days_nr" ng-class="{ 'weekend_dates' : item.end_day }">{{item.day_name}} {{item.date_month}}</div>
					</div>
				</div><!-- /.planning_header -->
				<div class="planning_row clearfix" ng-repeat="item in planning.user_data">
					<div class="planning_row_user" ui-sref="serviceTs({'user_id': item.user_id})">
						<div class="planning_user_thumb">
							<span class="fa fa-user"></span>
						</div>
						<div class="planning_user">
							<span class="text-ellipsis">{{item.name}}</span>
						</div>
					</div><!-- /.planning_header -->
					<div class="planning_row_content">
						<div class="planning_cell" ng-repeat="item2 in item.data" ng-class="{ 'bg-grey' : item2.block_day}">
							<div class="planning_details" ng-class="{ 'bg-success' : item2.service_nr<5 && item2.service_nr>0, 'bg-warning' : item2.service_nr>=5 && item2.service_nr<=7, 'bg-danger':item2.service_nr>7 }">
								<a href="#" class="planning_details_btn" ng-click="showMore($event,item2,item.user_id,$parent.$index,$index)"></a>
								<div class="cell_c"></div>
							</div>							
						</div>
					</div><!-- /.planning_row_content -->
				</div><!-- /.planning_row -->			      	
			</div><!-- /.planning_groups_week -->
		</div>
	</div>
            </div>
        </div>
    </div>       	
	
</div>