<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="cancel()"><span aria-hidden="true">&times;</span></button>
  <h4 class="modal-title">{l}Add comment{endl}</h4>
</div>
<div class="modal-body">
	<form class="form-horizontal" >
		<div class="form-group">
	    <label for="supplyinfo" class="col-xs-3 control-label text-left">{l}Comment{endl}</label>
	    <div class="col-xs-8">
		    <textarea class="form-control" ng-model="obj.comment" id="supplyinfo" rows="5" ng-readonly="obj.service_status==2"></textarea>
		  </div>
		</div>
	</form>
</div>
<div class="modal-footer">
  <!-- <button class="btn btn-plain" type="button" ng-click="cancel()">{l}Close{endl}</button> -->
	<button class="btn btn-default" type="button" ng-click="ok()" ng-if="obj.service_status!=2">{l}Save{endl}</button>
</div>