<div class="page-header">
      <div class="row">
          <div class="col-sm-12">
            <h1>{l}Team{endl} {{edit.item.name}}      
               
                
            </h1>
          </div>
          <div class="col-sm-4 page-header-options" ng-if="edit.isAddPage">
          </div>
      </div>        
</div><!-- /.page-header -->
<div class="col-md-12">
<div class="row">
<!-- <div uib-alert ng-repeat="alert in edit.alerts" type="{{alert.type}}" close="edit.alerts.splice($index, 1);" ng-class="['alert-' + (alert.type || 'warning'), 'alert-fixed' ]" dismiss-on-timeout='5000' >{{alert.msg}}</div> -->
<form name="team_form" class="form-horizontal" novalidate>
  <div class="row">
    <div class="col-sm-12">
      <div class="row">
        <div class="col-sm-8">
          <div class="form-group" ng-class="{ 'form-group_alert' : team_form.name.$invalid && !edit.team_form.name.$pristine }">
            <label class="control-label col-sm-1 text-left"><b>{l}Name{endl}*</b></label>
            <div class="col-sm-5">
              <input type="text" name="name" class="form-control" ng-model="edit.item.name" placeholder="{l}Name{endl}">
               <div class="alert alert-sm alert-danger" ng-if="team_form.name.$invalid && edit.alertsField.name">{{edit.alertsField.name}}</div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
      <div class="col-sm-12 text-center">
      <div class="row">
        <div class="col-sm-12">
        <div class="row">
          <div class="col-sm-4">
            <h2><b>{l}Users{endl}</b> <small class="text-muted">*{l}Drag and drop{endl}</small></h2>
               <div class="search_fields">
              <div class="so-field" ng-class="{ 'so-active':edit.search!='' }">
                <span class="glyphicon glyphicon-search so-icon"></span>
                <input type="text" class="form-control" placeholder="{l}Search{endl}" ng-model="edit.search">
                <span class="glyphicon glyphicon-remove so-icon so-remove" ng-click="edit.clearSearch()"></span>
              </div><!-- /.input-search -->
            </div><!-- /.page-search -->
            <ul class="table table_orders sort_column drag_table" role="tablist" data-as-sortable="edit.dragControlListeners" data-ng-model="edit.item.left_users">
              
               <li role="presentation" data-ng-repeat="user in edit.item.left_users | filter: edit.search" data-as-sortable-item>
                  <div class="row" data-as-sortable-item-handle>
                    <div class="row_handler">
                        <span class="btn-drag drop">&nbsp;</span>
                    </div>
                    <div class="col-sm-12">{{user.name}}</div>
                  </div>
               </li>
            </ul>
          </div>
          <div class="col-sm-4"><h2><b>{l}Drag and Drop{endl}</b></h2>
          <p>{l}Instructions: grab a user from left hand side and drag it in to the drop zone from right hand side.{endl}</p>
          <!-- <img src="images/drag_box.jpg"> -->
          </div>
          <div class="col-sm-4">
            <h2><b>{l}Selected users{endl}</b></h2>
            <ul class="table table_orders sort_column drag_table" role="tablist" data-as-sortable="edit.dragControlListeners" data-ng-model="edit.item.users">
              
               <li role="presentation" data-ng-repeat="user in edit.item.users" data-as-sortable-item>
                  <div class="row" data-as-sortable-item-handle>
                    <div class="row_handler">
                        <span class="btn-drag drop">&nbsp;</span>
                    </div>
                    <div class="col-sm-12">{{user.name}}</div>
                  </div>
               </li>
            </ul>
          </div>      
        </div>
      </div>
      </div>
      </div>
      </div>
    </div>
  </div>
</form>
  <div class="col-md-12 plan_team">
  
    <a class="btn btn-default pull-right" ng-click="edit.saveData(team_form)">{l}Save{endl}</a>
    <a class="btn btn-plain pull-right" ui-sref="teams" href="#"> {l}Cancel{endl}</a>
  
  </div>
</div>
</div>