<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="cancel()"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title">{l}Intervention{endl}</h4>
</div>
<div class="modal-body">
    <!-- <div uib-alert ng-repeat="alert in alerts" type="{{alert.type}}" close="alerts.splice($index, 1);" ng-class="['alert-' + (alert.type || 'warning'), 'alert-fixed' ]" dismiss-on-timeout='3500'>{{alert.msg}}</div> -->
    <div class="row">
        <div class="col-xs-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">{l}Intervention Details{endl}</h3>
                </div>
                <div class="panel-body">
                    <div class="row row-bottom">
                        <div class="col-xs-5">{l}Intervention number{endl}:</div>
                        <div class="col-xs-7">{{service.serial_number}}</div>
                    </div>
                    <div class="row row-bottom">
                        <div class="col-xs-5">{l}Subject{endl}:</div>
                        <div class="col-xs-7">{{service.subject}}</div>
                    </div>
                    <div class="row row-bottom">
                        <div class="col-xs-5">{l}Planned date{endl}:</div>
                        <div class="col-xs-7">{{service.DATE}}</div>
                    </div>
                    <div class="row row-bottom" ng-if="service.start_time">
                        <div class="col-xs-5">{l}Planned time{endl}:</div>
                        <div class="col-xs-7">{{service.start_time}}</div>
                    </div>
                    <div class="row row-bottom" ng-if="service.end_time">
                        <div class="col-xs-5">{l}Planned end{endl}:</div>
                        <div class="col-xs-7">{{service.end_time}}</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">{l}Company Details{endl}</h3>
                </div>
                <div class="panel-body">
                    <div class="row row-bottom">
                        <div class="col-xs-12"><strong ng-bind-html="service.customer_name"></strong></div>
                    </div>
                    <div class="row row-bottom">
                        <div class="col-xs-12"><strong ng-bind-html="service.contact_name"></strong></div>
                    </div>
                    <div class="row row-bottom">
                        <div class="col-xs-12" ng-bind-html="service.free_field"></div>
                    </div>
                    <div class="row row-bottom" ng-if="service.customer_phone">
                        <div class="col-xs-12">{{service.customer_phone}}</div>
                    </div>
                    <div class="row row-bottom" ng-if="service.contact_phone">
                        <div class="col-xs-12">{{service.contact_phone}}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12" ng-if="service.installation_id!='0' && service.installation_id!=undefined">
            <div class="user_summary" ng-class="{'is-open': showTxt.site, '': !showTxt.site}">
                <button class="btn-summary text-link" ng-click="installationInfo()"><span class="glyphicon glyphicon-chevron-down pull-right"></span> {l}Intervention Installation{endl}</button>
                <div class="row text-center col-top col-bottom" ng-if="showInstLoad">
                    <i class="fa fa-spinner fa-spin fa-3x fa-fw"></i>
                </div>
                <div class="row col-top" ng-if="!showInstLoad && showInstData">
                    <div class="col-xs-8">
                        <div class="panel panel-primary panel-extend margin-bottom-none">
                            <div class="panel-body">
                                <div class="form-horizontal">
                                    <div class="panel-highlight margin-bottom-none padding-bottom-none">
                                        <div class="row">
                                            <div class="col-xs-12">
                                                <div class="row">
                                                    <div class="col-sm-12">
                                                        <div class="form-group">
                                                            <label class="control-label col-sm-6 text-left text-muted">{l}Installation{endl}</label>
                                                            <label class="control-label col-sm-6 text-left text-muted">{{instal_data.name}}</label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-6">
                                            <div class="form-group" ng-repeat="field in instal_data.template.left_fields | limitTo:4:0">
                                                <label class="control-label col-sm-4 text-left text-muted">{{field.name}}</label>
                                                <label class="control-label col-sm-8">{{field.name_final}}</label>
                                            </div>
                                        </div>
                                        <div class="col-xs-6">
                                            <div class="form-group" ng-repeat="field in instal_data.template.right_fields | limitTo:4:0">
                                                <label class="control-label col-sm-4 text-left text-muted">{{field.name}}</label>
                                                <label class="control-label col-sm-8">{{field.name_final}}</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row" ng-if="showTxt.showMoreInstall">
                                        <div class="col-xs-6">
                                            <div class="form-group" ng-repeat="field in instal_data.template.left_fields | limitTo:instal_data.template.left_fields.length-4:4">
                                                <label class="control-label col-sm-4 text-left text-muted">{{field.name}}</label>
                                                <label class="control-label col-sm-8">{{field.name_final}}</label>
                                            </div>
                                        </div>
                                        <div class="col-xs-6">
                                            <div class="form-group" ng-repeat="field in instal_data.template.right_fields | limitTo:edit.instal_data.template.right_fields.length-4:4">
                                                <label class="control-label col-sm-4 text-left text-muted">{{field.name}}</label>
                                                <label class="control-label col-sm-8">{{field.name_final}}</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="border-top text-center" ng-if="instal_data.show_more">
                                        <button class="btn btn-link btn-block btn-arrow no_css-company_info_btn" ng-click="showTxt.showMoreInstall=!showTxt.showMoreInstall">
		                      <span class="glyphicon  glyphicon-chevron-down" ng-class="{ 'glyphicon-chevron-down': !showTxt.showMoreInstall, 'glyphicon-chevron-up' : showTxt.showMoreInstall }"></span>
		                    </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-4">
                        <ui-gmap-google-map center='sitemap.center' zoom='sitemap.zoom' refresh='sitemap.refresh'>
                            <ui-gmap-marker idKey='sitemap.marker_id' coords='sitemap.marker_coord'></ui-gmap-marker>
                        </ui-gmap-google-map>
                        <div class="no_css-company_address ">
                            <div class="address_display">
                                <span class="fa fa-map-marker text-muted address_display-icon"></span>
                                <h4 class="delivery-address">{{instal_data.address}} <small class="quick_edits delivery-controller"><span class="text-link_space"></span></small>
                                </h4>
                                <div class="text-muted">
                                    {{instal_data.zip}} {{instal_data.city}} - {{instal_data.country}}<br>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-8">
                        <div class="panel panel-primary panel-extend margin-bottom-none">
                            <div class="panel-body">
                                <div class="form-horizontal">
                                    <div class="panel-highlight margin-bottom-none padding-bottom-none">
                                        <div class="row">
                                            <div class="col-xs-12">
                                                <div class="row">
                                                    <div class="col-sm-12">
                                                        <div class="form-group">
                                                            <label class="control-label col-sm-6 text-left text-muted">{l}Address Fields{endl}</label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-6" ng-repeat="field in site_data.list | limitTo:6:0">
                                            <div class="form-group">
                                                <label class="control-label col-sm-4 text-left text-muted">{{field.name}}</label>
                                                <label class="control-label col-sm-8"><span ng-bind-html="field.value"></span></label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row" ng-if="showTxt.showMoreAddressField">
                                        <div class="col-xs-6" ng-repeat="field in site_data.list | limitTo:site_data.list.length-6:6">
                                            <div class="form-group">
                                                <label class="control-label col-sm-4 text-left text-muted">{{field.name}}</label>
                                                <label class="control-label col-sm-8"><span ng-bind-html="field.value"></span></label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="border-top text-center" ng-if="site_data.list.length>6">
                                        <button class="btn btn-link btn-block btn-arrow no_css-company_info_btn" ng-click="showTxt.showMoreAddressField=!showTxt.showMoreAddressField">
		                        <span class="glyphicon  glyphicon-chevron-down" ng-class="{ 'glyphicon-chevron-down': !showTxt.showMoreAddressField, 'glyphicon-chevron-up' : showTxt.showMoreAddressField}"></span>
		                      </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row margin-bottom" ng-if="!showInstLoad && showInstData">
                    <div class="col-sm-12">
                        <h4>
                            <strong>{l}Files{endl}</strong>
                        </h4>
                        <!-- <div uib-alert type="notice" class="alert-warning" ng-if="!instal_data.dropbox.dropbox_files.length">{l}No data to display{endl}</div> -->
                        <table class="table active_rows orderTable" ng-if="instal_data.dropbox.dropbox_files.length">
                            <thead>
                                <tr>
                                    <th class="col-md-1 col-sm-1 text-center">{l}Download{endl}</th>
                                    <th class="col-md-11 col-sm-11">{l}File{endl}</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="item in instal_data.dropbox.dropbox_files">
                                    <td class="text-center"><a href="{{item.down_file_link}}" target="_blank"><i class="fa fa-amazon" aria-hidden="true"></i></a></td>
                                    <td>{{item.name}}</td>
                                </tr>
                            </tbody>
                        </table>
                        <h4>
                            <strong>{l}Images{endl}</strong>
                        </h4>
                        <!-- <div uib-alert type="notice" class="alert-warning" ng-if="!instal_data.dropbox.dropbox_images.length">{l}No data to display{endl}</div> -->
                        <div class="row drop_images" ng-if="instal_data.dropbox.dropbox_images.length">
                            <div class="col-sm-2 margin-top" ng-repeat="item in instal_data.dropbox.dropbox_images">
                                <div class="image">
                                    <img class="link-pointer" ng-src="{{item.url}}" ng-click="openLightboxModal($index,'instal_data')" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12">
            <div class="user_summary is-open">
                <button class="btn-summary text-link">{l}Intervention Report{endl} <!-- <small><em>({l}Internal usage only{endl})</em></small> --></button>
                <div class="row col-top col-bottom">
                    <div class="col-sm-12 col-bottom">
                        <textarea class="form-control" ng-model="service.report" placeholder="{l}Intervention Report{endl}" rows="6" ng-readonly="true">{{service.report}}</textarea>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <a class="btn btn-plain" ng-click="toggleStuff('fillSheet','fillTime')"><span class="glyphicon glyphicon-time"></span> {l}Fill in your sheet{endl}</a>
            <a class="btn btn-plain" ng-click="toggleStuff('fillTime','fillSheet')"><span class="glyphicon glyphicon-copy"></span> {l}Fill in your expenses{endl}</a>
            <a class="btn btn-default" ng-click="link()">{l}View intervention{endl}</a>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="module_steps-highlight module_steps-fillsheet" ng-if="showTxt.fillSheet">
                <form class="form-horizontal">
                    <div class="row">
                        <div class="col-xs-6">
                            <div class="form-group">
                                <label for="" class="col-xs-6 control-label">{l}Select a day{endl}</label>
                                <div class="col-xs-6">
                                    <div class="input-group so-field">
                                        <span class="glyphicon glyphicon-calendar so-icon" ng-click="openDate('startDate')"></span>
                                        <input type="text" class="form-control" ng-model="service_sheet.service_date" uib-datepicker-popup="{{format}}" is-open="datePickOpen.startDate" datepicker-options="dateOptions" ng-required="true" close-text="Close" show-button-bar="false" ng-click="datePickOpen.startDate=true"
                                        />
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="" class="col-xs-6 control-label">{l}Report{endl}</label>
                                <div class="col-xs-6">
                                    <textarea class="form-control vertical-align" ng-model="service_sheet.time_report" placeholder="{l}Report{endl}" rows="4"></textarea>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="" class="col-xs-6 control-label">{l}Internal{endl}</label>
                                <div class="col-xs-6">
                                    <!-- <toggle-switch ng-model="service_sheet.internal_report" class="switch-primary" off-label="{l}No{endl}" on-label="{l}Yes{endl}"></toggle-switch> -->
                                    <label class="switch pull-left small_margin">
										<input type="checkbox" id="" ng-model="service_sheet.internal_report"  class="switch-primary">
										<span class="slider round"></span>
						   			</label>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-6">
                            <div class="form-group">
                                <label for="" class="col-xs-6 control-label">{l}Start time{endl}</label>
                                <div class="col-xs-2">
                                    <div class="row">
                                        <input type="time" ng-model="edit.service_sheet.start_time">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="" class="col-xs-6 control-label">{l}End time{endl}</label>
                                <div class="col-xs-2">
                                    <div class="row">
                                        <input type="time" ng-model="edit.service_sheet.end_time">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="" class="col-xs-6 control-label">{l}Break{endl}</label>
                                <div class="col-xs-2">
                                    <div class="row">
                                        <input type="text" class="form-control link-pointer" ng-model="edit.service_sheet.break" placeholder="00:00" ng-click="showTime($event,'service_sheet','break',0,'picker_left')" readonly>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group" ng-if=service.service_type=='1'>
                                <label for="" class="col-xs-6 control-label">{l}Extra hours{endl}</label>
                                <div class="col-xs-6">
                                    <div class="row">
                                        <!-- <toggle-switch ng-model="service_sheet.extra_hours" class="switch-primary" off-label="{l}No{endl}" on-label="{l}Yes{endl}"></toggle-switch> -->
                                        <label class="switch pull-left small_margin">
                                            <input type="checkbox" id="" ng-model="service_sheet.extra_hours" class="switch-primary">
                                            <span class="slider round"></span>
                                           </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 text-right">
                            <button type="submit" class="btn btn-plain" ng-click="showTxt.fillSheet=false">{l}Cancel{endl}</button>
                            <button type="submit" class="btn btn-default" ng-click="addSheet(edit.service_sheet)">{l}Add{endl}</button>
                        </div>
                    </div>
                </form>
            </div>
            <!-- /.module_steps-highlight:fillSheet -->
            <div class="module_steps-highlight module_steps-fillsheet" ng-if="showTxt.fillTime">
                <form class="form-horizontal">
                    <div class="row">
                        <div class="col-xs-6">
                            <div class="form-group">
                                <label for="" class="col-xs-6 control-label">{l}Select a day{endl}</label>
                                <div class="col-xs-6">
                                    <div class="input-group so-field">
                                        <span class="glyphicon glyphicon-calendar so-icon" ng-click="openDate('startDate')"></span>
                                        <input type="text" class="form-control" ng-model="service_expense.service_date" uib-datepicker-popup="{{format}}" is-open="datePickOpen.startDate" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close"
                                            show-button-bar="false" ng-click="datePickOpen.startDate=true" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-6">
                            <div class="form-group">
                                <label for="" class="col-xs-6 control-label">{l}Billable{endl}</label>
                                <div class="col-xs-6">
                                    <!-- <toggle-switch ng-model="service_expense.billabel" class="switch-primary" off-label="{l}No{endl}" on-label="{l}Yes{endl}"></toggle-switch> -->
                                    <label class="switch pull-left small_margin">
                                        <input type="checkbox" id="" ng-model="service_expense.billabel" class="switch-primary">
                                        <span class="slider round"></span>
                                       </label>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="" class="col-xs-6 control-label">{l}Category{endl}</label>
                                <div class="col-xs-6">
                                    <selectize config='expenseAutoCfg' options='auto.options.expenseCat' ng-model="service_expense.expense_id"></selectize>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="" class="col-xs-6 control-label">{l}Amount{endl}</label>
                                <div class="col-xs-6">
                                    <input type="text" class="form-control" ng-model="service_expense.amount" placeholder="{l}Amount{endl}">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 text-right">
                            <button type="submit" class="btn btn-plain" ng-click="showTxt.fillTime=false">{l}Cancel{endl}</button>
                            <button type="submit" class="btn btn-default" ng-click="addExpense(service_expense)">{l}Add{endl}</button>
                        </div>
                    </div>
                </form>
            </div>
            <!-- /.module_steps-highlight -->
        </div>
    </div>
</div>
<div class="modal-footer hide">
    <button class="btn btn-plain" type="button" ng-click="cancel()">{l}Close{endl}</button>
</div>