<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="time.cancel()"><span aria-hidden="true">&times;</span></button>
  <h4 class="modal-title">{l}Partial approve{endl}</h4>
</div>
<div class="modal-body">
	<div class="loading_wrap loading_alt hidden">
      	<div class="loading"></div>
        	<div class="spinner"></div>
      </div>
      <div uib-alert ng-repeat="alert in time.alerts" type="{{alert.type}}" close="time.alerts.splice($index, 1);" dismiss-on-timeout="3500" ng-class="['alert-' + (alert.type || 'warning') ]">{{alert.msg}}</div>
      <div class="col-sm-12">
      	<div class="row">
      		<div class="col-sm-12">
      			<div class="form-group margin-bottom">
		      		<label class="control-label col-sm-4">{l}Start Date{endl}</label>
		      		<div class="col-sm-6">
		      			<select class="form-control" ng-model="time.obj.week_start">
		      				<option ng-repeat="option in time.obj.SELECT_DAY track by option.id" value="{{option.id}}" ng-bind-html="option.value" ng-disabled="option.disabled"></option>
		      			</select>
		      		</div>  		
		      	</div>
      		</div>
      	</div>
      	<div class="row margin-top">
      		<div class="col-sm-12">
      			<div class="form-group">
		      		<label class="control-label col-sm-4">{l}End Date{endl}</label>
		      		<div class="col-sm-6">
		      			<select class="form-control" ng-model="time.obj.week_end">
		      				<option ng-repeat="option in time.obj.SELECT_DAY track by option.id" value="{{option.id}}" ng-bind-html="option.value" ng-disabled="option.disabled"></option>
		      			</select>
		      		</div>  		
		      	</div>
      		</div>
      	</div>   	
      </div>
</div>
<div class="modal-footer">
    <button class="btn btn-plain" type="button" ng-click="time.cancel()">{l}Close{endl}</button>
    <button class="btn btn-default" type="button" ng-click="time.ok()">{l}Save{endl}</button>
</div>