<div class="container">
	<div class="page-header">
	  	<div class="row">
	      	<div class="col-xs-8 col-sm-6">
	              <h1>{l}Timesheets{endl}</h1>
	        </div>
	        <div class="col-xs-4 col-sm-6 text-right" ng-if="show_settings.is_admin_timetracker">
                <div class="dropdown new-settings">
                	<button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-ellipsis-v"></i></button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <li class="dropdown-item" ng-class="{ 'current':menu.submenu == 'timetracker_setting' }"><a go-to="" href="timetrackerSettings/" state="timetrackerSettings"><span class="fas fa-cog text-primary"></span> {l}Timetracker Module{endl}</a></li>
                    </div>
                </div>
            </div>
	      </div>
	  </div><!-- /.page-header -->
	 <div class="tabs-navigation">
	 	<ul class="nav nav-tabs">
	 		<li class="active">
                <a go-to="" href="ptimesheets/" state="ptimesheets">{l}Timesheets{endl}</a>
            </li>
            <li>
                <a go-to="" href="timetracker_tasks/" state="timetracker_tasks">{l}Tasks{endl}</a>
                <button type="button" class="btn btn-primary btn-add"  tooltip-placement="right" ng-click="addTask('tmp')" ng-if="item.can_do"><span class="btn-add_icon"><span class="icon-bar"></span><span class="icon-bar-2"></span></span></button> 
            </li>
	 	</ul>	
	 <div class="tab-content">
        <div class="tab-pane active">
		  <div uib-alert ng-repeat="alert in alerts" type="{{alert.type}}" close="alerts.splice($index, 1);" ng-class="['alert-' + (alert.type || 'warning'), 'alert-fixed' ]" dismiss-on-timeout='5000' >{{alert.msg}}</div>
		  <div class="row page-content">
		  	<div class="col-sm-12">
							<div class="row page-search">
							  	<form>
								      <div class="col-sm-4">
<!--								          <div class="btn-group btn-block">-->
<!--								            <selectize placeholder="{l}All Users{endl}" config='userCfg' options='item.users_list' ng-model="item.users_id" ></selectize>-->
<!--								          </div>-->
										  <div class="so-field" ng-class="{ 'so-active':search.users_id }">
											  <selectize config='userCfg' options='item.users_list' ng-model="search.users_id"></selectize>
											  <span class="glyphicon glyphicon-remove so-icon so-remove" ng-click="toggleSearchButtons('users_id', '')"></span>
										  </div>
								      </div>
								      <div class="col-sm-4">
<!--								          <div class="btn-group btn-block">-->
<!--								            <selectize placeholder="{l}All Statuses{endl}" config='statusCfg' options='statuses' ng-model="search.status" ></selectize>-->
<!--								          </div>-->
										  <div class="so-field" ng-class="{ 'so-active':search.status }">
											  <selectize config='statusCfg' options='statuses' ng-model="search.status"></selectize>
											  <span class="glyphicon glyphicon-remove so-icon so-remove" ng-click="toggleSearchButtons('status', '')"></span>
										  </div>
								      </div>
								      <div class="col-sm-4">
<!--								          <div class="btn-group btn-block">-->
<!--								            <selectize placeholder="{l}All Periods{endl}" config='viewCfg' options='views' ng-model="search.view" ></selectize>-->
<!--								          </div>-->
										  <div class="so-field" ng-class="{ 'so-active':search.view }">
											  <selectize config='viewCfg' options='views' ng-model="search.view"></selectize>
											  <span class="glyphicon glyphicon-remove so-icon so-remove" ng-click="toggleSearchButtons('view', '')"></span>
										  </div>
								      </div>				      
								      <div class="col-sm-2 col-md-2 margin-top" ng-if="search.view=='3'">
								          <div class="so-field" ng-class="{ 'so-active':search.from_w!=undefined }">
								            <span class="glyphicon glyphicon-calendar so-icon" ng-click="datePickOpen.from_w=true"></span>
								            <input type="text" class="form-control" ng-model="search.from_w" uib-datepicker-popup="{{format}}" is-open="datePickOpen.from_w" datepicker-options="dateOptions" close-text="Close" placeholder="{l}Start Date{endl}" show-button-bar="false" ng-click="datePickOpen.from_w=true" ng-change="searchThing()">
								            <span class="glyphicon glyphicon-remove so-icon so-remove" ng-click="toggleSearchButtons('from_w',undefined)"></span>
								          </div><!-- /.input-date -->
								      </div>
								    	<div class="col-sm-2 col-md-2 margin-top" ng-if="search.view=='3'">
								          <div class="so-field" ng-class="{ 'so-active':search.to_w!=undefined }">
								            <span class="glyphicon glyphicon-calendar so-icon" ng-click="datePickOpen.to_w=true"></span>
								            <input type="text" class="form-control" ng-model="search.to_w" uib-datepicker-popup="{{format}}" is-open="datePickOpen.to_w" datepicker-options="dateOptions" close-text="Close" placeholder="{l}End Date{endl}" show-button-bar="false" ng-click="datePickOpen.to_w=true" ng-change="searchThing()">
								            <span class="glyphicon glyphicon-remove so-icon so-remove" ng-click="toggleSearchButtons('to_w',undefined)"></span>
								          </div><!-- /.input-date -->
								      </div>
							    </form>
							</div><!-- /.page-search -->
							<table class="table table_orders unapproved" cellspacing="0" cellpadding="0">
								<thead>
									<tr>					    
									    <th class="col-sm-2">{l}Period{endl}</th>
										<th class="col-sm-2">{l}Hours{endl}</th>
										<th class="col-sm-1">{l}Days{endl}</th>
									      <!-- <th class="col-sm-1">{l}Expenses{endl}</th> -->
									    <th class="col-sm-3 text-center">{l}Status{endl}</th>
									    <th class="col-sm-3">{l}Comments{endl}</th>
									    <th class="col-sm-1 col-select">
									    	<div class="checkbox checkbox-primary text-right">
							                  <input type="checkbox" ng-model="listObj.check_add_all" ng-click="saveForAction()" ng-if="item.can_do">
							                  <label for="checkbox_all"></label>
							                </div>  
	                                    </th>
									    <th class="table_actions">
									    	<div class="btn-group" uib-dropdown>
	                                            <button type="button" class="btn btn-tertiary dropdown-toggle" uib-dropdown-toggle>
	                                                <span class="caret"></span>
	                                            </button>
	                                            <ul class="dropdown-menu dropdown-menu-right" uib-dropdown-menu>
	                                                <li>
	                                                    <a href="#" ng-click="approveBulk()"><span class="glyphicon glyphicon-ok-circle"></span> {l}Approve selection{endl}</a>
	                                                </li>
	                                            </ul>
	                                        </div>
									    </th>
									</tr>
								</thead>
								<tbody>
									<tr ng-repeat-start="user in item.project_row">
										<td class="expand_row active">
											<span class="item-icons">
												<i class="fa fa-chevron-right btn-expand hidden"  ng-click="listMore($event,user.u_id)"></i>
												<i class="fa fa-chevron-down btn-expand" data-mainid="{{user.u_id}}" ng-click="listLess($event,user.u_id)"></i>
												<!-- <span class="glyphicon glyphicon-plus btn-expand hidden" ng-click="listMore($event,user.u_id)"></span>
	                  								<span class="glyphicon glyphicon-minus btn-expand" data-mainid="{{user.u_id}}" ng-click="listLess($event,user.u_id)"></span> -->
											</span>
										{{user.PROJECT}}</td>						
									</tr>
									<tr ng-repeat-end ng-repeat="time in user.time_row" class="subline cursor_pointer" data-subid="{{user.u_id}}">			
									    <!-- <td ng-click="show_info(time)" class="text-muted">{{time.PERIOD}}</td> -->
									    <td class="text-muted" go-to="" state="timesheetView" params='{"user_id": {{time.USER_ID}}, "start": {{time.WEEK}} }' list='{ "type":"timetracker-timesheets", "obj": { "search":{{search}}, "cindex":{{$index}} } }'>{{time.PERIOD}}</td>
										<td class="text-muted" go-to="" state="timesheetView" params='{"user_id": {{time.USER_ID}}, "start": {{time.WEEK}} }' list='{ "type":"timetracker-timesheets", "obj": { "search":{{search}}, "cindex":{{$index}} } }'>{{time.HOURS}}</td>
										<td class="text-muted" go-to="" state="timesheetView" params='{"user_id": {{time.USER_ID}}, "start": {{time.WEEK}} }' list='{ "type":"timetracker-timesheets", "obj": { "search":{{search}}, "cindex":{{$index}} } }'>{{time.DAYS}}</td>
									      <!-- <td><span ng-bind-html="time.EXPENSES"></span></td> -->
									    <td class="text-muted text-center" go-to="" state="timesheetView" params='{"user_id": {{time.USER_ID}}, "start": {{time.WEEK}} }' list='{ "type":"timetracker-timesheets", "obj": { "search":{{search}}, "cindex":{{$index}} } }'>
											<span class="badge item-status-{{time.APPROVED}}">
												<span ng-bind-html="time.STATUS"></span>
												<span ng-bind-html="time.PARTIAL_SUBMIT"></span>
											</span>					
										</td>
									    <td ng-click="show_info(time)" class="text-muted">{{time.COMMENTS}}</td>
									    <td class="col-select text-right"><input type="checkbox" ng-model="time.check_add_action" ng-if="item.can_do && time.VIEW_LINK"></td>
									    <td class="table_actions">
									      	<div class="btn-group" uib-dropdown>
										      	<button type="button" class="btn btn-plain dropdown-toggle" uib-dropdown-toggle>
							                                <span class="caret"></span>
							                            	</button>
							                            	<ul class="dropdown-menu dropdown-menu-right" uib-dropdown-menu>
							                                <li class="dropdown-header">{l}Action{endl}</li>
							                                <!-- <li>
							                                	<a href="#" ng-click="show_info(time)"><span class=" glyphicon glyphicon-info-sign"></span> {l}View{endl}</a>
							                                </li> -->
							                                <li ng-if="item.can_do && time.VIEW_LINK">
							                                	<a href="#" ng-click="action(time,'APPROVE_LINK')"><span class="glyphicon glyphicon-ok-circle"></span> {l}Approve{endl}</a>
							                                </li>
							                                <li ng-if="item.can_do && time.VIEW_P_APP">
							                                	<a href="#" ng-click="approve_partial(time)"><span class="glyphicon glyphicon-ok-circle"></span> {l}Partial approve{endl}</a>
							                                </li>
							                                <li ng-if="item.can_do && time.VIEW_LINK2">
							                                	<a href="#" ng-click="reject_time(time)"><span class="glyphicon glyphicon-minus-sign"></span> {{time.REJECT_TEXT}}</a>
							                                </li>
							                                <li ng-if="item.can_do && time.VIEW_REMIND_LINK">
							                                	<a href="#" ng-click="action(time,'REMIND_LINK')"><span class="far fa-envelope"></span> {l}Send a reminder{endl}</a>
							                                </li>
							                                <li ng-if="item.can_do && time.is_approve">
							                                	<a href="#" confirm="{l}By unapproving, all hours and expenses in this period (including invoiced ones) will be unapproved and uninvoiced!{endl} {l}Do you want to continue{endl}?" ng-click="action(time,'reject_link')"><span class="glyphicon glyphicon-repeat"></span> {{time.REJECT_TEXT}}</a>
							                                </li>
							                                <li ng-if="item.HIDE_ADMIN && time.can_delete">
							                                	<a href="#" confirm="{l}Are you sure, you wanna delete this entry?{endl}" ng-click="delete_unsubmitted(time)"><span class="fas fa-trash-alt text-primary"></span> {l}Delete{endl}
							                                	</a>
							                                </li>
							                            	</ul>
						                            </div>
									      </td>
									</tr>
								</tbody>
							</table>

	 </div>	
		  	</div>
		  </div>
		</div>
	  </div>
</div>