<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="note.cancel()"><span aria-hidden="true">&times;</span></button>
  <h4 class="modal-title">{l}Reject timesheet{endl}</h4>
</div>
<div class="modal-body">
	<div class="loading_wrap loading_alt hidden">
      	<div class="loading"></div>
        	<div class="spinner"></div>
      </div>
      <div uib-alert ng-repeat="alert in note.alerts" type="{{alert.type}}" close="note.alerts.splice($index, 1);" dismiss-on-timeout="3500" ng-class="['alert-' + (alert.type || 'warning') ]">{{alert.msg}}</div>
      <div class="col-sm-12">
      	<div class="form-group form-horizontal">
      		<label class="control-label col-sm-2 text-left">{l}Comment{endl}</label>
      		<div class="col-sm-6">
      			<textarea class="form-control" ng-model="note.obj.t_comment"></textarea>
      		</div>
      	</div>
      </div>
</div>
<div class="modal-footer">
    <button class="btn btn-plain" type="button" ng-click="note.cancel()">{l}Close{endl}</button>
    <button class="btn btn-default" type="button" ng-click="note.ok()">{l}Save{endl}</button>
</div>