<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="time.cancel()"><span aria-hidden="true">&times;</span></button>
  <h4 class="modal-title">{l}Partial submit{endl}</h4>
</div>
<div class="modal-body">
	<div class="loading_wrap loading_alt hidden">
      	<div class="loading"></div>
        	<div class="spinner"></div>
      </div>
      <div uib-alert ng-repeat="alert in time.alerts" type="{{alert.type}}" close="time.alerts.splice($index, 1);" dismiss-on-timeout="3500" ng-class="['alert-' + (alert.type || 'warning') ]">{{alert.msg}}</div>
      <div class="col-sm-12">
      	<div class="form-group">
      		<div class="col-sm-1">
      			<input type="radio" value="1" ng-model="time.obj.partial_full_radio" ng-click="time.showPartial=false"/>
      		</div>
      		<label class="control-label">{l}Submit entire week{endl}</label>
      	</div>
      	<div class="form-group">
      		<div class="col-sm-1">
      			<input type="radio" value="2" ng-model="time.obj.partial_full_radio" ng-click="time.showPartialTime()"/>
      		</div>
      		<label class="control-label">{l}Submit partial timesheet{endl}</label>
      	</div>
      	<div class="form-group" ng-show="time.showPartial">
      		<label class="control-label col-sm-4">{l}Select last day for submitting data{endl}</label>
      		<div class="col-sm-6">
      			<select class="form-control" ng-model="time.obj.partial_end">
      				<option ng-repeat="option in time.obj.partial_submit track by option.id" value="{{option.id}}" ng-bind-html="option.value"></option>
      			</select>
      		</div>  		
      	</div>
      </div>
</div>
<div class="modal-footer">
    <button class="btn btn-plain" type="button" ng-click="time.cancel()">{l}Close{endl}</button>
    <button class="btn btn-default" type="button" ng-click="time.ok()">{l}Save{endl}</button>
</div>