<form class="form-horizontal" action="index.php" method="POST">
    <p>First step: database configuration</p>   
    {if:is_error}<div class="alert alert-error">
        <button class="close" data-dismiss="alert" type="button">&times;</button>
        <strong>Oh darn!</strong>
        {big_error}
    </div>{end}
    <input type="hidden" name="do" value="{do_next}">
    <fieldset class="form">
        <h3>Database configuration</h3>
        <div class="control-group {show_hostname}">
            <label for="user" class="control-label"><strong>Host name:</strong></label>
            <div class="controls">      
                <input name="hostname" value="{in:hostname}" type="text" class="input-xlarge" > 
            </div>
        </div>
        <div class="control-group {show_username}">
            <label for="user" class="control-label"><strong>User name:</strong></label>
            <div class="controls">      
                <input name="username" value="{in:username}" type="text" class="input-xlarge" > 
            </div>
        </div>
        <div class="control-group {show_password}">
            <label for="user" class="control-label"><strong>Password:</strong></label>
            <div class="controls">      
                <input name="password" value="{in:password}" type="text" class="input-xlarge" > 
            </div>
        </div>
        <div class="control-group {show_database}">
            <label for="user" class="control-label"><strong>Database name:</strong></label>
            <div class="controls">      
                <input name="database" value="{in:database}" type="text" class="input-xlarge" > 
            </div>
        </div>
    </fieldset>
    <div class="form-actions">
        <button class="btn btn-primary" type="submit">Save changes</button>
        <button class="btn">Cancel</button>
    </div>
</form>