<form class="form-horizontal" action="index.php" method="POST">
    <p>Second step: Set up the config file</p>   
    {if:is_success}<div class="alert alert-success">
        <button data-dismiss="alert" class="close" type="button">&times;</button>
        <strong>Evrika!</strong> {msg:success}
    </div>{end}    
    <input type="hidden" name="do" value="{do_next}">
    <fieldset class="form">
        {loop:config}
        <div class="control-group {show_hostname}">
            <label for="user" class="control-label"><strong>{name}:</strong></label>
            <div class="controls">      
                <input name="{name}" value="{value}" type="text" class="input-xlarge" > 
            </div>
        </div>
        {endloop}
    </fieldset>
    <div class="form-actions">
        <button class="btn btn-primary" type="submit">Save changes</button>
        <button class="btn">Cancel</button>
    </div>
</form>