<form class="form-horizontal" action="index.php" method="POST">
    <p>Third step: Create the default application and controller</p>   
    {if:is_success}<div class="alert alert-success">
        <button data-dismiss="alert" class="close" type="button">&times;</button>
        <strong>Evrika!</strong> {msg:success}
    </div>{end} 
    {if:is_error}<div class="alert alert-error">
        <button class="close" data-dismiss="alert" type="button">&times;</button>
        <strong>Oh darn!</strong>
        {big_error}
    </div>{end}
    <input type="hidden" name="do" value="{do_next}">
    <fieldset class="form">
        <h3>Add a new application</h3>
        <div class="control-group {show_apps_name}">
            <label for="user" class="control-label"><strong>Application name:</strong></label>
            <div class="controls">      
                <input name="apps_name" value="{in:apps_name}" type="text" class="input-xlarge" > {msg:[apps_name-out]}
            </div>
        </div>
        <div class="control-group {show_controller}">
            <label for="user" class="control-label"><strong>Controller:</strong></label>
            <div class="controls">      
                <input name="controller" value="{in:controller}" type="text" class="input-xlarge" > {msg:[controller-out]}
            </div>
        </div>
    </fieldset>
    <div class="form-actions">
        <button class="btn btn-primary" type="submit">Save changes</button>
        <button class="btn">Cancel</button>
    </div>
</form>


