<div class="modal-header">
    <h3 class="modal-title">{l}Add Company{endl}</h3>
</div>
<div class="tab-content">
	<div class="panel panel-default panel-customer_details">
	    <div class="panel-body panel-current_customer" ng-class="{ 'panel-add_customer': vm.quote.item.add_customer && vm.quote.showTxt.addBtn }">
            
            <div ng-if="vm.quote.item.add_customer" >
              <button class="btn btn-block btn-lg btn-blank" ng-if="vm.quote.showTxt.addBtn" ng-click="vm.quote.showCCSelectize(vm.quote);" ><span class="fa fa-user-plus icon-holder"></span> {l}Add Customer{endl}</button>
              <!-- <button class="btn btn-block btn-lg btn-blank" ng-if="vm.quote.showTxt.addBtn" ><span class="fa fa-user-plus icon-holder"></span> {l}Add Customer{endl}</button> -->
              <selectize config='vm.quote.ccAutoCfg' options='vm.quote.auto.options.cc' ng-model="vm.quote.item.cc_id" id="custandcont" ng-if="!vm.quote.showTxt.addBtn"></selectize>
            </div>
            <div class="form-horizontal text-left " ng-if="!vm.quote.showTxt.address">
              <div class="form-group">
                <label class="col-sm-3 control-label">{l}Customer{endl}</label>
                <div class="col-sm-9">
                  <input type="text" class="form-control" ng-model="vm.quote.item.buyer_name" ng-disabled="true" >
                </div>
              </div>
              <div class="form-group" ng-if="vm.quote.item.field=='customer_id'">
                <label class="col-sm-3 control-label">{l}Contact{endl}</label>
                <div class="col-sm-9">
                  <selectize config='vm.quote.contactAutoCfg' options='vm.quote.auto.options.contacts' ng-model="vm.quote.item.contact_id" id="contact_id" ></selectize>
                </div>
              </div>
              <div class="form-group extra_address" >
                <label class="col-sm-3 control-label">{l}Address{endl}</label>
                <div class="col-sm-9 ">
                  <selectize config='vm.quote.addressAutoCfg' options='vm.quote.auto.options.addresses' ng-model="vm.quote.item.main_address_id" id="main_address" ></selectize>
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-3 control-label"></label>
                <div class="col-sm-9">
                  <div class="checkbox">
                    <label>
                      <input type="checkbox" id="checkbox1" ng-model="vm.quote.item.sameAddress" ng-click="vm.quote.removeDeliveryAddr()"> <span class="text-muted">{l}Shipping address same as main address{endl}</span>
                    </label>
                  </div>
                </div>
              </div>
              <div class="form-group extra_address" ng-if="!vm.quote.item.sameAddress">
                <div class="col-sm-9 col-sm-offset-3">
                  <selectize config='vm.quote.addressAutoCfg' options='vm.quote.auto.options.addresses' ng-model="vm.quote.item.delivery_address_id" id="delivery_address" ></selectize>
                </div>
              </div>
            </div>
          </div>
      </div><!-- /.panel -->	
</div>
<div class="modal-footer">
    <button class="btn btn-plain" type="button" ng-click="vm.cancel(vm.quote)">{l}Close{endl}</button>
    <button class="btn btn-default" type="button" ng-click="vm.saveModal()">{l}OK{endl}</button>
</div>