<style>
body { color: #000; font-family: 'Open Sans', sans-serif; font-size: 9pt; }
h1 {  font-size:10pt;   font-weight:normal; }
table { border-spacing: 0; }
p {  font-size: 9pt; }
small { font-size: 7pt; }
ol, ul { padding: 0pt; margin: 0pt; font-size: 9pt; }
ol li, ul li{ font-size: 9pt; padding: 0pt; margin: 0pt; }
.border_bottom {  border-bottom: 1px solid #ccc; }
.invoice_rows .th { font-weight: bold;  padding-left: 10px; text-align: center; }
.invoice_rows td { vertical-align:middle; text-align:right; }
/*.invoice_rows .last { border-right: 1px solid #ccc; }*/
.hide { display:none; }
.right {  text-align:right; }

.wizwig_content{margin:0;padding:0;}
.wizwig_content div { line-height: 120pt; }
.wizwig_content p,.wizwig_content dl{display: block;margin-left: 0;margin-right: 0; font-size: 10pt;}
.wizwig_content blockquote,.wizwig_content figure {display: block;margin-left: 40px;margin-right: 40px;}
.wizwig_content address{display: block;font-style: italic;}
.wizwig_content center {display: block;}
.wizwig_content listing {display: block;font-size: medium;white-space: pre;}
.wizwig_content xmp,.wizwig_content pre,.wizwig_content plaintext {display: block;margin-bottom: 1em;margin-left: 0;margin-right: 0;margin-top: 1em;white-space: pre;}
.wizwig_content q:before{content: open-quote;}
.wizwig_content q:after{content: close-quote;}
.wizwig_content b,.wizwig_content strong{font-weight: bolder;}
.wizwig_content i,.wizwig_content cite,.wizwig_content em,.wizwig_content var,.wizwig_content dfn{font-style: italic;}
.wizwig_content tt,.wizwig_content code,.wizwig_content kbd,.wizwig_content samp{font-family: -moz-fixed;}
.wizwig_content big{font-size: larger;}
.wizwig_content small{font-size: smaller;}
.wizwig_content sub{font-size: smaller;line-height: normal;vertical-align: sub;}
.wizwig_content sup{font-size: smaller;line-height: normal;vertical-align: super;}
.wizwig_content mark{background-attachment: scroll;background-clip: border-box;background-color: #FFFF00;background-image: none;background-position: 0 0;background-repeat: repeat;color: #000000;}
.wizwig_content ul,.wizwig_content menu,{display: block;list-style-type: disc;margin-left: 0;margin-right: 0;}
.wizwig_content ol{display: block;list-style-type: decimal;margin-left: 0;margin-right: 0;}
.wizwig_content li {display: list-item;}
</style>
{if:head}
{HEADER}
{else}
<table width="100%" cellspacing="0" cellpadding="0" class="" style="clear:both;" nobr="true">
  <tbody>
      <tr>
        <td>
          &nbsp;<br/>
          &nbsp;<br/>
          &nbsp;<br/>
          &nbsp;</td>
        <td class="last">&nbsp;</td>
      </tr>
  </tbody>
</table>
<table style="height: 85px;" width="100%">
<tbody>
<tr>
<td style="text-align: right;" width="100%">
<p style="text-align: right;"><span style="font-size: 18pt; color: #4f4b4c; font-family: Nunito-Light;">{quote_note_txt}</span></p>
</td>
</tr>
</tbody>
</table><p>&nbsp;</p>
<table cellpadding="0" cellspacing="0" border="0" width="100%">
  <tr>
    <td colspan="2"></td>
  </tr>
  <tr>
    <td valign="top" width="50%"><p><span style="font-size: 10pt; font-family: Nunito-Bold; color: #4f4b4c;">{reference_txt}:</span> <span style="font-size: 10pt; font-family: Nunito-Light; color: #808080;">{buyer_reference}</span><br/>
      <span style="font-size: 10pt; font-family: Nunito-Bold; color: #4f4b4c;">{your_reference_txt}:</span> <span style="font-size: 10pt; font-family: Nunito-Light; color: #808080;">{own_reference}</span></p>
    </td>
    <td valign="top" width="50%"><p><span style="font-size: 10pt; font-family: Nunito-Light; color: #4f4b4c;">{buyer_name}</span><br/><span style="font-size: 10pt; font-family: Nunito-Light; color: #4f4b4c;">{free_field}</span><br/><span style="font-size: 10pt; font-family: Nunito-Light; color: #4f4b4c;">{buyer_vat}</span></p><br/>
     </td>
  </tr>
  </table>
  <table  width="100%">
    <tbody>
        <tr>
            <td style="color: #ff4d00; font-size: 18pt; font-family: Nunito-Light; line-height: 5px;">&nbsp;</td>
        </tr>
        <tr style="line-height: 15px;">
            <td style="color: #ff4d00; font-size: 18pt; font-family: Nunito-Light;"></td>
        </tr>
        <tr>
            <td style="text-align: left; font-size: 10pt; font-family: Nunito-Bold; color: #4f4b4c;" width="35%;">{quote_txt}</td>
            <td style="text-align: left; font-size: 10pt; font-family: Nunito-Bold; color: #4f4b4c;" width="15%">{date_txt}</td>
            <td style="text-align: right; font-size: 10pt; font-family: Nunito-Bold; color: #4f4b4c;" width="25%">{valid_until_txt}</td>
            <td style="text-align: right; font-size: 10pt; font-family: Nunito-Bold; color: #4f4b4c;" width="25%">{author_txt}</td>
        </tr>
        <tr>
            <td style="text-align: left; font-size: 10pt; line-height: 30px; font-family: Nunito-Light; color: #808080;" width="35%">{serial_number}</td>
            <td style="text-align: left; font-size: 10pt; line-height: 30px; font-family: Nunito-Light; color: #808080;" width="15%">{quote_date}</td>
            <td style="text-align: right; font-size: 10pt; line-height: 30px; font-family: Nunito-Light; color: #808080;" width="25%">{validity_date}</td>
            <td style="text-align: right; font-size: 10pt; line-height: 30px; font-family: Nunito-Light; color: #808080;" width="25%">{AUTHOR}</td>
        </tr>
    </tbody>
</table>
<table width="100%" cellspacing="0" cellpadding="0" style="border-top: 0.5pt solid #FF4D00;" width="100%">
  <tbody>
      <tr>
        <td class="last" width="100%">&nbsp;</td>
      </tr>
  </tbody> 
</table>
{end}
{loop:quote_group}

  {loop:quote_table}
    {loop:quote_line}
      {if:line_type == '1'}
        {if:table_start}
        <table width="100%" cellspacing="" cellpadding="4" {first_title}>
       <tr style="color: #4f4b4c;font-family: Nunito-Regular; line-height: 100%;">
          <td class="th" width="13%" style="font-size: 10pt;color: #4f4b4c;font-family: Nunito-Regular;">{ARTICLE_CODE_TXT}</td>
          <td class="th" width="{ITEM_WIDTH}%" style="font-size: 10pt;color: #4f4b4c;font-family: Nunito-Regular;border-right: 0.25pt solid #B3B3B3;">{ITEM_TXT}</td>
          {if:hide_QC}<td class="th" width="13%" style="font-size: 10pt;color: #4f4b4c;font-family: Nunito-Regular;border-right: 0.25pt solid #B3B3B3; text-align: center;">{QUANTITY_TXT}</td>{end}
          {if:hide_UP}<td class="th" width="13%" style="font-size: 10pt;color: #4f4b4c;font-family: Nunito-Regular;border-right: 0.25pt solid #B3B3B3;text-align: center;">{UNIT_PRICE_TXT}</td>{end}
          
          <!-- {if:hide_row_vat}<td class="th {hide_row_vat}" width="15%" style="">vat %</td>{end} -->
          {if:hide_DISC}<td class="th " width="11%" style="font-size: 10pt;color: #4f4b4c;font-family: Nunito-Regular;border-right: 0.25pt solid #B3B3B3;text-align: center;" >{DISCOUNT_TXT}</td>{end}
          {if:show_v}<td class="th" width="13%" style="font-size: 10pt;color: #4f4b4c;font-family: Nunito-Regular;border-right: 0.25pt solid #B3B3B3;text-align: center;">{VAT_TXT}</td>{end}
          <td width="13%" class="th last" style="text-align: right;font-size: 10pt;color: #4f4b4c;font-family: Nunito-Regular;">{AMOUNT_TXT}</td>
      </tr>
          <tbody>
        {end}
            <tr style="color: #4f4b4c;font-family: Nunito-Regular; line-height: 100%; text-align: left;">
              {S_VIEW_ARTICLE}
              <td width="13%" style="line-height: 30px; font-size: 10pt;color: #808080;font-family: Nunito-Regular;">{ARTICLE_CODE}</td>
              {E_VIEW_ARTICLE}
              <td style="text-align:left; line-height: 30px; color: #808080;font-family: Nunito-Regular;border-right: 0.25pt solid #B3B3B3;" width="{ITEM_WIDTH}%">{DESCRIPTION}</td>
              {if:hide_QC}<td class="{hide_QC}" width="13%" style="line-height: 30px;font-size: 10pt; color: #808080;font-family: Nunito-Regular;border-right: 0.25pt solid #B3B3B3;text-align: center;">{QUANTITY}</td>{end}
              {if:hide_UP}<td class="{hide_UP}" width="13%" style="line-height: 30px;font-size: 10pt; color: #808080;font-family: Nunito-Regular;border-right: 0.25pt solid #B3B3B3;text-align: center;">{PRICE}</td>{end}
              {S_VIEW_DISCOUNT}
              {if:hide_DISC}<td class="{hide_DISC}" width="11%" style="text-align:center;background-color: #fff;  border-bottom: 1px solid #a7a7a7;line-height: 30px;">{DISCOUNT} %</td>{end}
              {E_VIEW_DISCOUNT}
              {if:show_v}<td style="line-height: 30px;font-size: 10pt; color: #808080;font-family: Nunito-Regular;border-right: 0.25pt solid #B3B3B3;text-align: center;" width="13%">{VAT} %</td>{end}
              {S_VIEW_ARTICLE}  {if:show_PS}<td  {USE_PACKAGE} width="15%" >{PACKAGE}<span {USE_SALE_UNIT}>  /  {SALE_UNIT}</span></td style="line-height: 30px;font-size: 10pt; color: #808080;font-family: Nunito-Regular;border-right: 0.25pt solid #B3B3B3;text-align: center;">{end} {E_VIEW_ARTICLE}
              {if:hide_AC}<td width="13%" class="last {hide_AC}" style="text-align: right;line-height: 30px;font-size: 10pt;color: #808080;font-family: Nunito-Regular;">{LINE_TOTAL}</td>{end}        
            </tr>
      {end}  <!-- line_type = 1 -->
      {if:line_type == '2'}
        {if:table_start}
        <table width="100%" cellspacing="0" cellpadding="4" class="invoice_rows">
          <tbody>
        {end}
          

        <tr style="color: #808080;font-family: Nunito-Regular; line-height: 100%; text-align: center;">
              <td width="{ITEM_WIDTH_L}%" style="text-align:left; line-height: 30px; color: #808080;font-family: Nunito-Regular;border-right: 0.25pt solid #B3B3B3;">{DESCRIPTION}</td>
              {if:hide_QC}<td class="{hide_QC}" width="13%" style="font-size: 10pt;color: #808080;font-family: Nunito-Regular;border-right: 0.25pt solid #B3B3B3; text-align: center;line-height: 30px;">{QUANTITY}</td>{end}
              {if:hide_UP}<td class="{hide_UP}" width="14%" style="font-size: 10pt;color: #808080;font-family: Nunito-Regular;border-right: 0.25pt solid #B3B3B3;text-align: center;line-height: 30px;" width="13%">{PRICE}</td>{end}
              {S_VIEW_DISCOUNT}
              {if:hide_DISC}<td class="{hide_DISC}" width="11%" style="font-size: 10pt;color: #808080;font-family: Nunito-Regular;border-right: 0.25pt solid #B3B3B3;text-align: center;line-height: 30px;">{DISCOUNT} %</td>{end}
              {E_VIEW_DISCOUNT}
              {if:show_v}<td style="font-size: 10pt;color: #808080;font-family: Nunito-Regular;border-right: 0.25pt solid #B3B3B3;text-align: center;line-height: 30px;" width="13%">{VAT} %</td>{end}
              {S_VIEW_ARTICLE}  {if:show_PS} {if:USE_PACKAGE != 'class="hide"' }<td style="font-size: 10pt;color: #808080;font-family: Nunito-Regular;border-right: 0.25pt solid #B3B3B3;text-align: center;line-height: 30px;">{PACKAGE}<span {USE_SALE_UNIT}>  /  {SALE_UNIT}</span></td>{end}{end} {E_VIEW_ARTICLE}
              {if:hide_AC}<td class="last {hide_AC}" width="13%" style="font-size: 10pt;color: #808080;font-family: Nunito-Regular;text-align: right;line-height: 30px;">{LINE_TOTAL}</td>{end}      
            </tr> 
      {end} 
      {if:line_type == '7'}
        {if:table_start}
        <table width="100%" cellspacing="0" cellpadding="4" class="invoice_rows">
          <tbody>
        {end}
            <tr style="color: #4f4b4c;font-family: Nunito-Regular; line-height: 100%; text-align: center;">
              {S_VIEW_ARTICLE}
              <td class="th" width="13%" style="text-align:left; height: 30px; color: #4f4b4c;font-family: Nunito-Regular;">{ARTICLE_CODE_TXT}</td>
              {E_VIEW_ARTICLE}
              <td class="th" width="{ITEM_WIDTH}%"  style="font-size: 10pt;color: #4f4b4c;font-family: Nunito-Regular;border-right: 0.25pt solid #B3B3B3;text-align: left;">{ITEM_TXT}</td>
              {if:hide_QC}<td class="th {hide_QC}" width="13%" style="font-size: 10pt;color: #4f4b4c;font-family: Nunito-Regular;border-right: 0.25pt solid #B3B3B3;text-align: center;">{QUANTITY_TXT}</td>{end}
              {if:hide_UP}<td class="th {hide_UP}" width="13%" style="font-size: 10pt;color: #4f4b4c;font-family: Nunito-Regular;border-right: 0.25pt solid #B3B3B3;text-align: center;">{UNIT_PRICE_TXT}</td>{end}
              
              {if:hide_DISC}<td class="th {hide_DISC}" width="11%" style="line-height: 30px;font-size: 10pt;color: #808080;font-family: Nunito-Regular;border-right: 0.25pt solid #B3B3B3;text-align: center;">{DISCOUNT_TXT}</td>{end}
              {E_VIEW_DISCOUNT}
              {if:show_v}<td class="th" width="13%" style="font-size: 10pt;color: #4f4b4c;font-family: Nunito-Regular;border-right: 0.25pt solid #B3B3B3;text-align: center;">{VAT_TXT}</td>{end}
              {S_VIEW_ARTICLE}    {if:show_PS}<td class="th {USE_PACKAGE2}"  width="13%" style="font-size: 10pt;color: #4f4b4c;font-family: Nunito-Regular;border-right: 0.25pt solid #B3B3B3;text-align: center;" >{PACKAGE_TXT} <span {USE_SALE_UNIT2} > / {SALE_UNIT_TXT}</span></td>{end} {E_VIEW_ARTICLE}
              {if:hide_AC}<td width="13%" class="th {hide_AC} last" style="font-size: 10pt;color: #4f4b4c;font-family: Nunito-Regular;text-align: right;">{AMOUNT_TXT}</td>{end}
            </tr>
      {end} 
      {if:table_end}
          </tbody>
        </table>
      {end} 
      {if:line_type == '3'} 
      <table cellpadding="4" cellspacing="0" border="0" width="100%"> <tr>       
      <td><h4 style="text-align: left; line-height: 30px;font-size: 9pt;color: #808080;font-family: Nunito-Regular;">{DESCRIPTION}</h4></td></tr></table>
      {end} <!-- line_type = 3 -->
      {if:line_type == '4'}
       <table cellpadding="4" cellspacing="0" border="0" width="100%"> <tr>       
      <td><h1 style="text-align: left; line-height: 30px;font-size: 10pt; color: #808080;font-family: Nunito-Regular;">{DESCRIPTION}</h1></td></tr></table>
      {end} <!-- line_type = 4 -->
      {if:line_type == '5'}
       <table cellpadding="4" cellspacing="0" border="0" width="100%"> <tr>       
      <td><h1 style="text-align: left; line-height: 30px;font-size: 10pt; color: #808080;font-family: Nunito-Regular;">{DESCRIPTION}</h1></td></tr></table>
      {end} <!-- line_type = 5 -->
      {if:line_type == '6'}
      <br pagebreak="true"/>
      {end} <!-- line_type = 6 -->

    {endloop} <!-- loop: quote_line -->
    
 <table cellpadding="0" cellspacing="0" border="0" width="100%"> <tr>
    <td width="100%" colspan="0" style="text-align: right; line-height: 15px;font-size: 10pt;color: #214F78;border-bottom: 0.5pt solid #FF4D00;"></td>
  </tr></table>
  {if:SHOW_CHAPTER_TOTAL}<table cellpadding="4" cellspacing="0" border="0" width="100%" class="invoice_rows" >
    <tr>
      <td width="85%" style="text-align: left; line-height: 15px;font-size: 10pt;color: #4f4b4c;font-family: Nunito-Bold;"><strong>{chapter_total_txt}:</strong></td>
      <td width="15%" style="text-align: right; line-height: 15px;font-size: 10pt;color: #4f4b4c;font-family: Nunito-Bold;"><strong>{TOTAL}</strong></td>
    </tr>
  </table><table cellpadding="0" cellspacing="0" border="0" width="100%"  style="border:none;">
  <tr ><td colspan="2" height="18"></td></tr></table>{end}
  {endloop}<!-- loop: quote_table -->

{endloop}
{if:show_table}
<br/><br/>
<table cellpadding="4" cellspacing="0" border="0"  width="100%;">
    {if:SHOW_TOTAL}
        <tr>
            <td width="85%" colspan="2" style="text-align: left; line-height: 15px;font-size: 10pt;color: #4f4b4c;font-family: Nunito-Bold;">{subtotal_txt}:</td>
            <td width="15%"  style="text-align: right; line-height: 15px;font-size: 10pt;color: #4f4b4c;font-family: Nunito-Bold;">{total_novat}</td>
        </tr>
        <tr class="{VIEW_DISCOUNT}">
            <td width="80%"  style="text-align: left; line-height: 15px;font-size: 10pt;color: #808080;font-family: Nunito-Regular;color: #808080;font-family: Nunito-Regular;">{DISCOUNT_TXT} ({TOTAL_DISCOUNT_PROCENT} %):</td>
            <td width="20%"  style="text-align: right; line-height: 15px;font-size: 10pt;color: #808080;font-family: Nunito-Regular;color: #808080;font-family: Nunito-Regular;">-{DISCOUNT_VALUE}</td>
        </tr>
        {loop:vat_loop}
            <tr class="{sh_vat}">
               <td width="80%"  style="text-align: left; line-height: 15px;font-size: 10pt;ccolor: #808080;font-family: Nunito-Regular;color: #808080;font-family: Nunito-Regular;">{vat_txt} ({vat_percent} %):</td>
                <td width="20%"  style="text-align: right; line-height: 15px;font-size: 10pt;color: #808080;font-family: Nunito-Regular;color: #808080;font-family: Nunito-Regular;">{vat_value}</td>
            </tr>
        {endloop}
        <tr>
            <td width="80%" colspan="2" style="text-align: left; line-height: 15px;font-size: 10pt;color: #4f4b4c;font-family: Nunito-Regular;border-bottom: 0.5pt solid #FF4D00;"><strong>{GRAND_TOTAL_TXT}:</strong></td>
            <td width="20%" style="text-align: right; line-height: 15px;font-size: 10pt;color: #4f4b4c;font-family: Nunito-Regular;border-bottom: 0.5pt solid #FF4D00;"><strong>{GRAND_TOTAL}</strong></td>
        </tr>
        <tr>
           <td width="1%"   style="text-align: left; line-height: 0px;font-size: 11pt;color: #191919;font-family: Nunito-Bold;">&nbsp;</td>
            <td width="99%"  style="text-align: right; line-height: 10px;font-size: 9pt;color: #4f4b4c;font-family: Nunito-italic;">{valid_until_txt} {validity_date}</td>
        </tr>
         
    {end}
</table>
{end}
<!-- <table width="100%" cellspacing="0" cellpadding="0" class="" style="clear:both;">
  <tbody>
      <tr>
        <td class="last">&nbsp;</td>
        <td class="last">&nbsp;</td>
      </tr>
  </tbody> 
</table> -->
{if:show_table}
 <table cellpadding="5" cellspacing="0" border="0" width="100%;" >
  <tr>
    <td width="100%;"><span style="font-size:10pt;font-family: Nunito-Regular;color: #4f4b4c;text-align: right;">{notes}</span>   
    </td>
  </tr>
 </table>
<!-- <p style="font-size:9pt;">{notes}</p> -->
{if:is_free_text_content}
<table cellpadding="0" cellspacing="0" border="0" width="100%;"  pagebreak="true">
      <tr>
        <td width="100%;"><br /><br /><br /><br /><br /><br /><h1 style="color: #FF4D00; font-size: 20pt;font-family: Nunito-Bold;"><strong>{general_conditions_txt}</strong><br /></h1>
        </td>
      </tr>
      <tr>
        <td width="100%;"><span style="font-size:12pt;font-family: Nunito-Bold;color: #4f4b4c;">{free_text_content}</span>
          
        </td>
      </tr>
    </table>
    
{end}
{end}


