<style>
body {  color: #000;  font-family: Arial, Helvetica, sans-serif;  font-size: 9pt; }
h1 {  font-size:10pt; font-weight:normal; color:#50a2b8; }
table { border-collapse: collapse;  border-spacing: 0; }
p{  font-size: 9pt; margin: 0pt; padding: 0pt; }
ol, ul { padding: 0pt; margin: 0pt; font-size: 9pt; }
ol li, ul li{ font-size: 9pt; padding: 0pt; margin: 0pt; }
small { font-size: 7pt; }
small { font-size: 7pt; }
table td{   font-size: 9pt; }
</style>
<br /><br /><br /><br /><br /><br /><br />
<body>

{if:is_hide_all}

<table style="height: 85px;" width="100%">
<tbody>
<tr>
<td style="text-align: right;" width="100%">
<p style="text-align: right;"><span style="font-size: 18pt; color: #4f4b4c; font-family: Nunito-Light;">{quote_note_txt}</span></p>
</td>
</tr>
</tbody>
</table>
</table><p>&nbsp;</p>
<table style="height: 67px;" width="100%">
<tbody>
  <tr>
          <td style="width: 60%;">&nbsp;</td>
          <td style="width: 40%;">
                   <p><span style="font-size: 11pt; font-family: Nunito-Light; color: #4f4b4c;">{buyer_name}</span><span style="font-size: 10pt; font-family: Nunito-Light; color: #4f4b4c;line-height: 14px;">{free_field}</span></p>
          </td>
    </tr>
  </tbody>
</table><p>&nbsp;</p><p>&nbsp;</p>
<h3 style="font-family: Nunito-Light;color: #383436; font-size: 16px">{l}Beste klant{endl},</h3>
<p style="font-family: Nunito-Light;color: #383436; font-size: 15px;">{l}Bedankt voor uw vertrouwen in Cozie. Hier bijgevoegd vindt u uw gedetailleerde
factuur voor de geleverde diensten in de{endl} <span  style="font-family: Nunito-Light;color: #383436;font-size: 15px;">{buyer_address}</span>, <span style="font-family: Nunito-Light;color: #383436;font-size: 15px;">{buyer_zip} {buyer_city}.</span></p>
<p style="font-family: Nunito-Light;color: #383436;font-size: 15px;">{l}Het totaal gefactureerd bedrag is{endl} <span style="font-family: Nunito-Light;color: #383436;font-size: 15px;">{total_amount_due}</span>. {l}Gelieve deze betaling voor{endl} <span style="font-family: Nunito-Light;color: #383436;font-size: 15px;">{invoice_due_date}</span> {l}te betalen a.u.b.{endl} .</p>
<p style="font-family: Nunito-Light;color: #383436;font-size: 15px;">{l}Met vriendelijke groeten{endl},</p>
<p style="font-family: Nunito-Light;color: #383436;font-size: 15px;">Cozie</p>


<p>&nbsp;&nbsp;</p>

    <span style="font-size:10pt;font-family: Nunito-Regular;color: #4f4b4c;text-align: right;width: 100%;display: block;">{general_conditions_txt}</span>
    <span style="font-size:10pt;font-family: Nunito-Regular;color: #4f4b4c;text-align: right;width: 100%;display: block;">{free_text_content}</span>
{end}
{if:is_hide_t}

 <table cellpadding="5" cellspacing="0" border="0" width="100%" nobr="true">
  <tr>
    <td width="100%;" style="border: 1px solid #ed7d31;">{notes}
      
    </td>
  </tr>
 </table>
{end}


</body>
