<div class="modal-header">
  	<button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="vmMod.cancel()"><span aria-hidden="true">&times;</span></button>
  	<h4 class="modal-title">{l}Facq basket list{endl}</h4>
</div>
<div class="modal-body">
	<div class="loading_wrap loading_alt hidden">
      	<div class="loading"></div>
        	<div class="spinner"></div>
    </div>
    <div class="progress">     	
		<div class="progress-bar" role="progress" aria-valuenow="{{vmMod.value}}" aria-valuemin="0" aria-valuemax="100" style="width: {{vmMod.value}}%;"></div>

	</div>
	<div uib-alert type="info" ng-if="vmMod.len && vmMod.value && vmMod.value!='100'" class="alert-info col-sm-12"><span>Line</span> {{vmMod.step}} <span> of </span>{{vmMod.len}} <span> is being added to your order</span></div>	
	
	<!-- <div class="col-sm-12 text-center">
		<button class="btn btn-default" ng-show="vmMod.start" ng-click="vmMod.ok()">{l}Start{endl}</button>
	</div> -->
	<!-- <div uib-alert type="info" class="alert-info col-sm-12">{l}If you close this dialog then the export will{endl} <strong>{l}stop{endl}</strong>.</div> -->
	<div class="col-sm-12" uib-alert ng-repeat="alert in vmMod.alerts" type="{{alert.type}}" close="vmMod.alerts.splice($index, 1);" ng-class="['alert-' + (alert.type || 'warning') ]"><span ng-bind-html="alert.msg"></span></div>
	<div uib-alert type="info" ng-if="vmMod.value=='100'" class="alert-info col-sm-12">{l}Basket fully retrieved{endl}.</div>	
</div>