<div class="modal-header">
  	<button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="pprice.cancel()"><span aria-hidden="true">&times;</span></button>
  	<h4 class="modal-title">{l}Edit Purchase Price{endl}</h4>
</div>
<div class="modal-body">
	<div class="col-sm-12 col-bottom col-top">
      <form class="form-horizontal text-left" name="pp_form" no-validate=''>
            <div class="form-group">
              <label class="col-sm-5 col-lg-4 control-label">{l}Purchase Price{endl}</label>
              <div class="col-sm-7 col-lg-8">
                <input type="text" display-nr="" use-digits="true" class="form-control" name="purchase_price" ng-model="pprice.obj.purchase_price">               
              </div>
            </div>
      </form>
    </div>
</div>
<div class="modal-footer">
      <button class="btn btn-plain" type="button" ng-click="pprice.cancel()">{l}Cancel{endl}</button>
    	<button class="btn btn-default" type="button" ng-click="pprice.ok()">{l}Update{endl}</button>
</div>