<div class="container">
    <div class="page-header">
        <div class="row">
            <div class="col-xs-8 col-sm-6">
                <h1>{l}Quotes{endl}</h1>
            </div>
            <div class="col-xs-4 col-sm-6 text-right" ng-if="show_settings.is_admin_quote">
                <div class="dropdown new-settings">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-ellipsis-v"></i></button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <!-- <a class="dropdown-item" href="#">Import</a> -->
                        <li class="dropdown-item" ng-class="{ 'current':menu.submenu == 'quotes setting' }"><a class="dropdown-item" go-to="" href="quoteSettings/" state="quoteSettings"><span class="fas fa-cog text-primary"></span> {l}Quotes Settings{endl}</a></li>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.page-header -->
    </div>
    <div class="tabs-navigation">
        <ul class="nav nav-tabs">
            <li>
                <a href="quotes/" go-to="" state="quotes">{l}Quotes{endl}</a>
                <button type="button" class="btn btn-primary btn-add" go-to="" state="quote.edit" params='{"quote_id": "tmp"}' uib-tooltip="{l}Add{endl}" tooltip-placement="top"><span class="btn-add_icon"><span class="icon-bar"></span><span class="icon-bar-2"></span></span></button>
            </li>
            <li class="active">
                <a href="quotesTemplates/" go-to="" state="quotesTemplates">{l}Quote Models{endl}</a>
                <button type="button" class="btn btn-primary btn-add" go-to="" state="quote.editTemplate" params='{"template_id": "tmp"}' uib-tooltip="{l}Add{endl}" tooltip-placement="top"><span class="btn-add_icon"><span class="icon-bar"></span><span class="icon-bar-2"></span></span></button>
            </li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane active" id="quotesTemplates">
                <!-- <div uib-alert ng-repeat="alert in vm.alerts" type="{{alert.type}}" close="vm.alerts.splice($index, 1);" dismiss-on-timeout="5000" ng-class="['alert-' + (alert.type || 'warning') ]">{{alert.msg}}</div> -->
                <div class="row page-search">
                    <form>
                        <div class="col-sm-8 col-search-input">
                            <div class="so-field" ng-class="{ 'so-active':vm.search.search!='' }">
                                <span class="glyphicon glyphicon-search so-icon"></span>
                                <input type="text" class="form-control" placeholder="{l}Search{endl}" search-it doit="vm.search" callbk="vm.renderList" ng-model="vm.search.search">
                                <span class="glyphicon glyphicon-remove so-icon so-remove" ng-click="vm.toggleSearchButtons('search','')"></span>
                            </div>
                            <!-- /.input-search -->
                        </div>
                        <div class="col-sm-4">
<!--                            <div class="btn-group btn-block">-->
<!--                                <selectize placeholder="{l}All Languages{endl}" config='vm.filterCfg' options='vm.langs' ng-model="vm.search.lang"></selectize>-->
<!--                            </div>-->
                            <div class="so-field" ng-class="{ 'so-active':vm.search.lang }">
                                <selectize config='vm.filterCfg' options='vm.langs' ng-model="vm.search.lang"></selectize>
                                <span class="glyphicon glyphicon-remove so-icon so-remove" ng-click="vm.toggleSearchButtons('lang', '')"></span>
                            </div>
                        </div>
                    </form>
                </div>
                <!-- /.page-search -->
                <div class="row page-content">
                    <div class="col-xs-12">
                        <table class="table active_rows orderTable quotesTable">
                            <thead>
                                <tr>
                                    <th class="col-sm-11 sortable_row" ng-class="{ 'sortable_row-up':(!vm.reverse && vm.ord == 'serial_number'), 'sortable_row-down':(vm.reverse && vm.ord == 'serial_number') }" ng-click="vm.orderBY('serial_number')">{l}Name{endl}</th>
                                    <th class="col-sm-1 table_actions">
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="item in vm.list" class="collapseTr">
                                    <td go-to="" state="quote.editTemplate" params='{"template_id": {{::item.id}}}' list='{ "type":"quote-quotes", "obj": { "search":{{vm.search}} } }'>
                                        <a href="quote/editTemplate/{{item.id}}" class="text-muted">{{::item.name}} {{item.lang_f}}</a>
                                    </td>
                                    <td class="table_actions">
                                        <div class="btn-group" uib-dropdown>
                                            <button type="button" class="btn btn-plain dropdown-toggle" uib-dropdown-toggle>
                        <span class="caret"></span>
                    </button>
                                            <ul class="dropdown-menu dropdown-menu-right" uib-dropdown-menu>
                                                <li class="dropdown-header">{l}Action{endl}</li>
                                                <li>
                                                    <a href="#" go-to="" state="quote.editTemplate" params='{"template_id": {{::item.id}}}' list='{ "type":"quote-quotes", "obj": { "search":{{vm.search}} } }'><span class="fas fa-pen text-primary"></span> {l}Edit{endl}</a>
                                                </li>
                                                <li>
                                                    <a href="#" ng-click="vm.action(item,'delete_link')" confirm="{l}Are you sure, you wanna delete this entry?{endl}"><span class="fa fa-trash text-primary"></span> {l}Delete{endl}</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <!-- /.page-content -->
            </div>
        </div>
    </div>
<!--    <ul ng-if="vm.max_rows > 30" uib-pagination total-items="vm.max_rows" ng-model="vm.search.offset" ng-change="vm.searchThing()" max-size="5" class="pager" boundary-links="true" items-per-page="vm.lr"></ul>-->
    <div class="col-sm-12">
        <div class="col-sm-8">
            <ul ng-if="vm.max_rows && vm.max_rows > vm.lr" uib-pagination total-items="vm.max_rows" ng-model="vm.search.offset" ng-change="vm.searchThing()" max-size="5" class="pager" boundary-links="true" items-per-page="vm.lr"></ul>
        </div>
        <div class="col-sm-4 text-right">
            <label ng-if="vm.max_rows">{l}Number of model quotes{endl}: <strong>{{vm.max_rows}}</strong></label>
        </div>
    </div>
</div>
<!-- neede on all pages -->