<!-- neede on all pages -->
<div class="container">
  <div class="page-header">
    <div class="row">
      <div class="col-sm-8 q_mob">
        <h1 class="ng-clock">{{vm.title_text}} <span ng-bind-html="vm.serial_number"></span> <span ng-if="vm.adv_quotes">{{vm.version_code}}</span> <span class="badge item-status-gray" ng-class="{ 'item-status-green':vm.status_nr == '2', 'item-status-yellow':vm.status_nr == '5', 'item-status-red':vm.status_nr == '1' }">{{vm.status_title}}</span></h1>
      </div>
      <div class="col-sm-4 page-header-options q_mob" ng-if="!vm.ADV_QUOTE">
        <!-- <button go-to="" state="quotes" type="submit" class="btn btn-link"><span class="glyphicon glyphicon-list"></span> <strong>{l}List{endl}</strong></button> -->
        <!-- <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-paperclip"></span> Files</button> -->
      </div>
    </div>        
  </div><!-- /.page-header -->
  <div ui-view></div>
</div>
<!-- neede on all pages -->
