<style>
body {  color: #000;  font-family: Arial, Helvetica, sans-serif;  font-size: 9pt;  }
h1 {  font-size:10pt; font-weight:bold;  }
p{ font-size: 9pt; }
table {  border-collapse: collapse; border-spacing: 0;  }
ol, ul { padding: 0pt; margin: 0pt; font-size: 9pt; }
ol li, ul li{ font-size: 9pt; padding: 0pt; margin: 0pt; }
table td {  font-size: 9pt;  }
.hide {  display:none;  }
.right {  text-align: right; }
.light_grey {  color: #6a747c;  padding: 0pt;  }
.borders {  border-top: 1px solid #000; border-bottom: 1px solid #000;  }

.wizwig_content{margin:0;padding:0;}
.wizwig_content p,.wizwig_content dl{display: block;margin-bottom: 1em;margin-left: 0;margin-right: 0;margin-top: 1em;}
.wizwig_content blockquote,.wizwig_content figure {display: block;margin-bottom: 1em;margin-left: 40px;margin-right: 40px;margin-top: 1em;}
.wizwig_content address{display: block;font-style: italic;}
.wizwig_content center {display: block;}
.wizwig_content h1{display: block;font-size: 2em;font-weight: bold;margin-bottom: 0.67em;margin-left: 0;margin-right: 0;margin-top: 0.67em;}
.wizwig_content h2{display: block;font-size: 1.5em;font-weight: bold;margin-bottom: 0.83em;margin-left: 0;margin-right: 0;margin-top: 0.83em;}
.wizwig_content h3{display: block;font-size: 1.17em;font-weight: bold;margin-bottom: 1em;margin-left: 0;margin-right: 0;margin-top: 1em;}
.wizwig_content h4{display: block;font-size: 1em;font-weight: bold;margin-bottom: 1.33em;margin-left: 0;margin-right: 0;margin-top: 1.33em;}
.wizwig_content h5{display: block;font-size: 0.83em;font-weight: bold;margin-bottom: 1.67em;margin-left: 0;margin-right: 0;margin-top: 1.67em;}
.wizwig_content h6{display: block;font-size: 0.67em;font-weight: bold;margin-bottom: 2.33em;margin-left: 0;margin-right: 0;margin-top: 2.33em;}
.wizwig_content listing {display: block;font-size: medium;margin-bottom: 1em;margin-left: 0;margin-right: 0;margin-top: 1em;white-space: pre;}
.wizwig_content xmp,.wizwig_content pre,.wizwig_content plaintext {display: block;margin-bottom: 1em;margin-left: 0;margin-right: 0;margin-top: 1em;white-space: pre;}
.wizwig_content q:before{content: open-quote;}
.wizwig_content q:after{content: close-quote;}
.wizwig_content b,.wizwig_content strong{font-weight: bolder;}
.wizwig_content i,.wizwig_content cite,.wizwig_content em,.wizwig_content var,.wizwig_content dfn{font-style: italic;}
.wizwig_content tt,.wizwig_content code,.wizwig_content kbd,.wizwig_content samp{font-family: -moz-fixed;}
.wizwig_content big{font-size: larger;}
.wizwig_content small{font-size: smaller;}
.wizwig_content sub{font-size: smaller;line-height: normal;vertical-align: sub;}
.wizwig_content sup{font-size: smaller;line-height: normal;vertical-align: super;}
.wizwig_content mark{background-attachment: scroll;background-clip: border-box;background-color: #FFFF00;background-image: none;background-position: 0 0;background-repeat: repeat;color: #000000;}
.wizwig_content ul,.wizwig_content menu,{display: block;list-style-type: disc;margin-bottom: 1em;margin-left: 0;margin-right: 0;margin-top: 1em;}
.wizwig_content ol{display: block;list-style-type: decimal;margin-bottom: 1em;margin-left: 0;margin-right: 0;margin-top: 1em;}
.wizwig_content li {display: list-item;}
</style>
{if:head}
{if:HIDE_ALL !='hide'}{HEADER}{end}
{else}
<table cellpadding="3" cellspacing="0" border="0" width="100%" class="{HIDE_ALL}" style="margin-top:-25pt;">
  <tr>
    <td colspan="7" width="60%" height="96"><img src="{ACCOUNT_LOGO_Q}" {ATTR} ></td>
    <td width="40%" valign="top" style="text-align:left;">&nbsp;</td>
  </tr>
  <tr>
    <td coolspan="4" width="61%" class="light_grey" colspan="4">
      <h1>{SELLER_NAME}</h1>
      <span class="{HIDE_AUTHOR}">{AUTHOR}</span>
      <br/>
      {SELLER_D_ADDRESS}
      <br />
      {SELLER_D_ZIP} {SELLER_D_CITY}
      <br />
      {SELLER_D_COUNTRY}
      <br />
      {if:SHOW_P}<span class="{HIDE_P}">{PHONE_TXT}: {SELLER_B_PHONE}<br /></span>{end}
      {if:SHOW_F}<span class="{HIDE_F}">{FAX_TXT}: {SELLER_B_FAX}<br /></span>{end}
      {if:SHOW_E}<span class="{HIDE_E}">{EMAIL_TXT}: {SELLER_B_EMAIL}<br /></span>{end}
      {if:SHOW_U}<span class="{HIDE_U}">{URL_TXT}: {SELLER_B_URL}<br /></span>{end}
    </td>
    <td colspan="4" width="39%">
      <br/><br/><br/><br/>
      <h1 class="{HIDE_CUSTOMER}">{BUYER_NAME}</h1>
      {QUOTE_CONTACT_NAME}
      <br/>
      {free_field}
      <br/><br/>
      <h1 class="{HIDE_DELIVERY}">{BILLING_ADDRESS_TXT}:</h1>
      {DELIVERY_ADDRESS}
    </td>
  </tr>
  <tr>
    <td colspan="5" width="61%" class="borders" style="padding-left:0px;" >
      <h1 style="font-size: 12pt;padding-left:0px;">{REFERENCE_TXT}: {BUYER_REFERENCE} {SERIAL_NUMBER}
      </h1>
    </td>
    <td colspan="3" width="39%" class="borders" >
      {DATE_TXT}: {QUOTE_DATE}
    </td>
  </tr>
  {if:is_validity_date}
  <tr>
    <td width="61%">&nbsp;</td>
    <td width="39%"><span style="color:#ffffff;">.</span>{VALID_UNTILL_TXT}: {validity_date}</td>
  </tr>
  {end}
</table>
<table width="100%" cellspacing="0" cellpadding="3" border="0" class="invoice_rows {HIDE_ALL}">
  <tbody>
    <tr class="{HIDE_YOUR_REF}">
      <td colspan="2" width="20%"><strong>{YOUR_REFERENCE_TXT}</strong></td>
      <td colspan="6">{OWN_REFERENCE}</td>
    </tr>
  </tbody>
</table>
{end}
<table width="100%" cellspacing="0" cellpadding="3" border="0" class="invoice_rows {HIDE_ALL}">
  <tbody>
    {loop:quote_group}
    


    {loop:quote_table}
    {loop:quote_line}
      {if:line_type == '1'}
        {if:table_start}
        <table width="100%" cellspacing="0" cellpadding="5" border="0" class="invoice_rows">
          <tbody><tr class="">
                <td width="4%">&nbsp;</td>
                {S_VIEW_ARTICLE}
                <td class="th" width="14%" style="text-align:left;" >&nbsp;</td>
                {E_VIEW_ARTICLE}
                <td class="th" width="{ITEM_WIDTH}%" style="text-align:left;">&nbsp; </td>
                {if:hide_QC}<td class="th {hide_QC}"  width="13%">&nbsp;</td>{end}
                {if:hide_UP}<td class="th {hide_UP}" width="15%">&nbsp;</td>{end}
                {S_VIEW_DISCOUNT}
                {if:hide_DISC}<td class="th {hide_DISC}" width="11%">&nbsp;</td>{end}
                {E_VIEW_DISCOUNT}
                {if:show_v}<td class="th" width="11%">&nbsp;</td>{end}
                {S_VIEW_ARTICLE}{if:show_PS}<td class="th {USE_PACKAGE2}"  width="13%" {USE_PACKAGE}>&nbsp;</td>{end}{E_VIEW_ARTICLE}
                {if:hide_AC}<td width="14%" class="th {hide_AC} last">&nbsp;</td>{end}
            </tr>
        {end}
            <tr>
                <td width="4%">&nbsp;</td>
                {S_VIEW_ARTICLE}
                <td style="text-align:left;">{ARTICLE_CODE}{art_img}</td>
                {E_VIEW_ARTICLE}
                <td>{DESCRIPTION}</td>
                {if:hide_QC}<td class="{hide_QC}" style="text-align:right;">{QUANTITY}</td>{end}
                {if:hide_UP}<td class="{hide_UP}" style="text-align:right;">{PRICE}</td>{end}
                {S_VIEW_DISCOUNT}
                {if:hide_DISC}<td class="{hide_DISC}" style="text-align:right;">{DISCOUNT} %</td>{end}
                {E_VIEW_DISCOUNT}
                {if:show_v}<td style="text-align:right;">{VAT} %</td>{end}
                {S_VIEW_ARTICLE} {if:show_PS}<td  {USE_PACKAGE} style="text-align:right;" >{if:is_article}{PACKAGE}<span {USE_SALE_UNIT}>  /  {SALE_UNIT}</span>{else}&nbsp;{end}</td>{end}{E_VIEW_ARTICLE}
                {if:hide_AC}<td class="last {hide_AC}" style="text-align:right;">{LINE_TOTAL}</td>{end}
            </tr>
      {end}  <!-- line_type = 1 -->
      {if:line_type == '2'}
        {if:table_start}
        <table width="100%" cellspacing="0" cellpadding="5" border="0" class="invoice_rows">
          <tbody>
          <tr class="">
                <td width="4%">&nbsp;</td>
                {S_VIEW_ARTICLE}
                <td class="th" width="14%" style="text-align:left;" >&nbsp;</td>
                {E_VIEW_ARTICLE}
                <td class="th" width="{ITEM_WIDTH}%" style="text-align:left;">&nbsp; </td>
                {if:hide_QC}<td class="th {hide_QC}"  width="13%">&nbsp;</td>{end}
                {if:hide_UP}<td class="th {hide_UP}" width="15%">&nbsp;</td>{end}
                {S_VIEW_DISCOUNT}
                {if:hide_DISC}<td class="th {hide_DISC}" width="11%">&nbsp;</td>{end}
                {E_VIEW_DISCOUNT}
                {if:show_v}<td class="th" width="11%">&nbsp;</td>{end}
                {S_VIEW_ARTICLE}{if:show_PS}<td class="th {USE_PACKAGE2}"  width="13%" {USE_PACKAGE}>&nbsp;</td>{end}{E_VIEW_ARTICLE}
                {if:hide_AC}<td width="14%" class="th {hide_AC} last">&nbsp;</td>{end}
            </tr>
        {end}
            <tr>
                <td width="4%">&nbsp;</td>
                <td colspan="2">{DESCRIPTION}</td>
                {if:hide_QC}<td class="{hide_QC}" style="text-align:right;">{QUANTITY}</td>{end}
                {if:hide_UP}<td class="{hide_UP}" style="text-align:right;">{PRICE}</td>{end}
                {S_VIEW_DISCOUNT}
                {if:hide_DISC}<td class="{hide_DISC}" style="text-align:right;">{DISCOUNT} %</td>{end}
                {E_VIEW_DISCOUNT}
                {if:show_v}<td style="text-align:right;">{VAT} %</td>{end}
                {S_VIEW_ARTICLE} {if:show_PS}<td  {USE_PACKAGE} style="text-align:right;" >{if:is_article}{PACKAGE}<span {USE_SALE_UNIT}>  /  {SALE_UNIT}</span>{else}&nbsp;{end}</td>{end}{E_VIEW_ARTICLE}
                {if:hide_AC}<td class="last {hide_AC}" style="text-align:right;">{LINE_TOTAL}</td>{end}                
            </tr>
      {end} <!-- line_type = 2 -->
      {if:line_type == '7'}
        {if:table_start}
        <table width="100%" cellspacing="0" cellpadding="5" border="0" class="invoice_rows">
          <tbody>
        {end}
            <tr class="">
                <td width="4%">&nbsp;</td>
                {S_VIEW_ARTICLE}
                <td class="th" width="14%" style="text-align:left;" >&nbsp;</td>
                {E_VIEW_ARTICLE}
                <td class="th" width="{ITEM_WIDTH}%" style="text-align:left;">&nbsp; </td>
                {if:hide_QC}<td class="th {hide_QC}"  width="13%">&nbsp;</td>{end}
                {if:hide_UP}<td class="th {hide_UP}" width="15%">&nbsp;</td>{end}
                {S_VIEW_DISCOUNT}
                {if:hide_DISC}<td class="th {hide_DISC}" width="11%">&nbsp;</td>{end}
                {E_VIEW_DISCOUNT}
                {if:show_v}<td class="th" width="11%">&nbsp;</td>{end}
                {S_VIEW_ARTICLE}{if:show_PS}<td class="th {USE_PACKAGE2}"  width="13%" {USE_PACKAGE}>&nbsp;</td>{end}{E_VIEW_ARTICLE}
                {if:hide_AC}<td width="14%" class="th {hide_AC} last">&nbsp;</td>{end}
            </tr>
      {end} <!-- line_type = 7 -->
      {if:table_end}
          </tbody>
        </table>
      {end} <!-- close the table if is opened -->
      {if:line_type == '3'}        
      <!-- <table ><tbody><tr><td><div class="wizwig_content">{DESCRIPTION}</div></td></tr></tbody></table> -->
      <div class="wizwig_content"><td colspan="70">{QUOTE_CONTENT}</td></div>
      {end} <!-- line_type = 3 -->
      {if:line_type == '4'}
      <br />
      <br />
      <h1 style="font-size:12pt;border-bottom:1px solid #CCCCCC;">{DESCRIPTION}</h1><br />
      {end} <!-- line_type = 4 -->
      {if:line_type == '5'}
      <br />
      <br />
      <h1 style="font-size:12pt;">{DESCRIPTION}</h1><br />
      {end} <!-- line_type = 5 -->
      {if:line_type == '6'}
      <br pagebreak="true"/>
      {end} <!-- line_type = 6 -->

    {endloop} <!-- loop: quote_line -->
    
  <br/>
  <br/>
  
  {if:SHOW_CHAPTER_TOTAL}<table cellpadding="5" cellspacing="0" border="0" width="100%"  style="border:1px solid #ccc;" >
    <tr>
      <td width="85%"  class="right"><strong>{VAT_TXT}:</strong></td>
      <td width="15%" class="right "><strong>{VAT_TOTAL}</strong></td>
    </tr>
  
    <tr>
      <td width="85%"  class="right"><strong>{chapter_total_txt}:</strong></td>
      <td width="15%" class="right "><strong>{TOTAL}</strong></td>
    </tr>
  </table>{end}
  {endloop}<!-- loop: quote_table -->
    {endloop}
    <!-- <tr><td colspan="8"><br/></td></tr> -->
  </tbody>
</table>
<table cellpadding="0" cellspacing="0" border="0" width="100%">
  <tr>
    <td colspan="8">
      <h1 style="border-bottom:1px solid #CCCCCC; margin: 0pt;" class="{VIEW_NOTES} {HIDE_ALL}">{NOTES_TXT}</h1>&nbsp;
      <p style="font-size:9pt;" class="{HIDE_ALL}">{NOTES}</p>
    </td>
  </tr>
</table>
{if:show_table}
<table cellpadding="3" cellspacing="0" border="0" width="100%" class="{HIDE_T}" style="padding:0;">
  {if:SHOW_TOTAL}
  <tr class="">
    <td width="4%" ></td>
    <td width="81%" ><strong>{subtotal_txt}:</strong></td>
    <td width="15%" style=" text-align: right;" > {total_novat}</td>
  </tr>
   <tr class="{VIEW_DISCOUNT}">
    <td width="4%" ></td>
    <td width="81%" ><strong>{DISCOUNT_TXT} ({TOTAL_DISCOUNT_PROCENT} %)</strong></td>
    <td width="15%" style=" text-align: right;">-{DISCOUNT_VALUE}</td>
  </tr>
  {loop:vat_loop}
  <tr class="{sh_vat}">
    <td width="4%" ></td>
    <td width="81%"><strong>{vat_txt} ({vat_percent} %)</strong>:</td>
    <td width="15%" style=" text-align: right;">{vat_value}</td>
  </tr>
  {endloop}
  <tr>
    <td width="4%" class="borders"></td>
    <td width="81%" class="borders" style="font-size: 12pt;" ><strong>{GRAND_TOTAL_TXT}</strong></td>
    <td width="15%" class="borders" style=" text-align: right;"><strong> {GRAND_TOTAL}</strong></td>
  </tr>
  {end}
  <!-- <tr class="{HIDE_DEFAULT_TOTAL}">
    <td width="4%" class="borders">&nbsp;</td>
    <td width="81%"  class="borders" style="font-size: 12pt;"><strong>{GRAND_TOTAL_TXT} ({DEF_CURRENCY})</strong></td>
    <td width="15%" class="borders" style=" text-align: right;"><strong>{GRAND_TOTAL_DEF}</strong></td>
  </tr> -->
</table>&nbsp;{end}
{if:is_free_text_content}
<br class="{HIDE_T}"  pagebreak="true"/>&nbsp;
<h1 style="border-bottom:1px solid #CCCCCC;" class="{HIDE_T}" >{GENERAL_CONDITIONS_TXT}</h1>&nbsp;
<div class="free_text_content {HIDE_T} wizwig_content" style="width:890px;border:none;">{free_text_content}</div>
{end}


{if:show_stamp_signature}
<div class="{HIDE_ALL}">
  <br />
  <br />
  <table width="100%" cellspacing="0" cellpadding="0" class="" style="clear:both;page-break-inside:avoid;">
    <tbody>
        <tr>
          <td class="last" style="border:1px solid #CCCCCC;text-align:center;">
            {stamp_signature}<br/>
            &nbsp;<br/>
            &nbsp;<br/>
            &nbsp;<br/>
            &nbsp;<br/>
            &nbsp;<br/>
            &nbsp;</td>
          <td class="last">&nbsp;</td>
          <td class="last">&nbsp;</td>
        </tr>
    </tbody>
  </table>
</div>
{end}