<!-- <div uib-alert class="ng-cloak" ng-repeat="alert in view.alerts" type="{{alert.type}}" close="view.alerts.splice($index, 1);" ng-class="['alert-' + (alert.type || 'warning'), 'alert-fixed' ]" dismiss-on-timeout='5000' >{{alert.msg}}</div> -->
<div class="page-header-buttons text-right hq_mob">
    <button go-to="" state="quotes" type="submit" class="btn btn-sm btn-default"><strong>{l}Back{endl}</strong></button>
    <navigator ng-if="view.quote_id!='tmp'" pag="quote-quotes" itemid="{{view.quote_id}}" originalPage="quote.view"></navigator>
</div>
<div ng-show="!view.item.item_exists">
    <nopage></nopage>
</div>
<div ng-show="view.item.item_exists">
  <div class="panel panel-primary panel-order">
    <div class="panel-body">
      <div class="row">
        <div class="col-xs-6 q_mob" ng-class="{ 'col-md-3':view.item.ADV_QUOTE, 'col-md-4':!view.item.ADV_QUOTE }"><!-- col-md-4 -->
          <h4 class="title_underline">{l}Quote Details{endl}</h4>          
          <p class="ng-cloak"><strong>{l}Date{endl}</strong> {{::view.item.SQUOTE_DATE}}</p>
         <p ng-if="!view.showTxt.edit_subject" class="ng-cloak"><strong>{l}Subject{endl}</strong> {{view.item.subject}}<span class="fas fa-pen ml-5 link-pointer" ng-click="view.showSubject()"></span></p>
         <div class="margin-bottom form-horizontal" ng-if="view.showTxt.edit_subject==true">
          <div class="form-group">
            <label class="control-label text-left col-sm-6">{l}Subject{endl}</label>
            <div class="col-sm-6">
                <input id="subj_edit" type="text" class="form-control" ng-model="view.item.subject" placeholder="{l}Subject{endl}" ng-blur="view.setSubject()">
            </div>
            <!-- <label class="control-label col-sm-1 pull-right text-success">
              <i class="fa fa-check-circle link-pointer" aria-hidden="true" ng-click="view.setSubject()"></i>
            </label> -->
          </div>
        </div>
        <p ng-if="!view.showTxt.edit_own_reference"><strong>{l}Your reference{endl}</strong> {{view.item.own_reference}} <span class="fas fa-pen ml-5 link-pointer" ng-click="view.showYourReference()"></span></p>
        <div class="margin-bottom form-horizontal" ng-if="view.showTxt.edit_own_reference==true">
          <div class="form-group">
            <label class="control-label text-left col-sm-6"><strong>{l}Your reference{endl}</strong></label>
            <div class="col-sm-6">
                <input id="inp_yr" type="text" class="form-control" ng-model="view.item.own_reference" placeholder="{l}Your reference{endl}" ng-blur="view.setYourReference()">
            </div>
            <!-- <label class="control-label col-sm-1 pull-right text-success">
              <i class="fa fa-check-circle link-pointer" aria-hidden="true" ng-click="view.setYourReference()"></i>
            </label> -->
          </div>
        </div>     
          <!-- <p><strong>{l}Source{endl}</strong> {{::view.item.source}}</p>
          <p><strong>{l}Type{endl}</strong> {{::view.item.xtype}}</p> -->
          <!-- <p class="ng-cloak"><strong>{l}Quote Nr:{endl}</strong> {{::view.item.quote_nr}}</p> -->
          <p class="ng-cloak"><strong>{l}Author{endl}</strong> {{::view.item.order_author}}</p>
          <p class="ng-cloak"><strong>{l}Account Manager{endl}</strong> {{::view.item.account_manager}}</p>
          <p class="ng-cloak" ng-if="view.item.yuki_project_name"><strong>{l}Yuki Project{endl}</strong> {{view.item.yuki_project_name}}</p>
          <p class="ng-cloak" ng-if="view.item.is_lost"><strong>{l}Lost reason{endl}</strong> {{view.item.quote_lost}}</p>
          
          <p class="ng-cloak" ng-if="view.item.has_installation"><strong>{l}Installation{endl}</strong> <a href="{{view.item.installation_link}}" target="_blank">{{::view.item.installation_name}}</a></p>
          <!-- <p ng-if="view.item.invoices.length"><strong>{l}Invoice Nr{endl} </strong> <span ng-repeat="item in view.item.invoices"><a class="text-link ng-cloak" href="../pim/admin/index.php?do=invoice-invoice&amp;invoice_id={{item.id}}" >#{{item.serial}}</a><span ng-if="!$last">,</span></span></p> -->
          <p ng-if="view.item.orders.length"><strong>{l}Orders{endl} </strong> <span ng-repeat="item in view.item.orders"><a class="text-link"  ui-sref="order.view({ 'order_id':item.id })"> {{item.serial}}  <span ng-if="item.status">({{item.status}})</span></a><span ng-if="!$last">,</span></span> </p>
          <p ng-if="view.item.p_orders.length"><strong>{l}Purchase Orders{endl} </strong> <span ng-repeat="item in view.item.p_orders"><a class="text-link" ui-sref="purchase_order.view({ 'p_order_id':item.id })"> {{item.serial}}  <span ng-if="item.status">({{item.status}})</span></a><span ng-if="!$last">,</span></span> </p>
          <p ng-if="view.item.orig_deal.length"><strong>{l}Deal{endl} </strong> <span ng-repeat="item in view.item.orig_deal"><a class="text-link" ui-sref="dealView({ 'opportunity_id':item.id })" params='{"opportunity_id": {{::item.id}}}'>{{item.serial}} <span ng-if="item.stage_name">({{item.stage_name}})</span></a><span ng-if="!$last">,</span></span> </p>
          <p ng-if="view.item.invoices.length"><strong>{l}Invoices{endl} </strong> <span ng-repeat="item in view.item.invoices"><a class="text-link"  ui-sref="invoice.view({ 'invoice_id':item.id })"> {{item.serial}}  <span ng-if="item.status">({{item.status}})</span></a><span ng-if="!$last">,</span></span> </p>
          <!-- <p ng-if="view.item.segment_dd.length && !view.showTxt.segment"><strong>{l}Segment{endl}</strong> {{view.item.segment}} <span class="pull-right link-pointer fas fa-pen" ng-click="view.showTxt.segment=true"></span></p>
          <div class="margin-bottom form-horizontal" ng-if="view.showTxt.segment==true">
            <div class="form-group">
              <label class="control-label text-left col-sm-4">{l}Segment{endl}</label>
              <div class="col-sm-6">
                  <selectize config='view.selectfg' options='view.item.segment_dd' ng-model="view.item.segment_id"></selectize>
              </div>
              <label class="control-label col-sm-1 pull-right text-success">
                <i class="fa fa-check-circle link-pointer" aria-hidden="true" ng-click="view.setSegment()"></i>
              </label>
            </div>
          </div> -->
          <!-- <p ng-if="view.item.source_dd.length && !view.showTxt.source"><strong>{l}Source{endl}</strong> {{view.item.source}} <span class="pull-right link-pointer fas fa-pen" ng-click="view.showTxt.source=true"></span></p>
          <div class="margin-bottom form-horizontal" ng-if="view.showTxt.source==true">
            <div class="form-group">
              <label class="control-label text-left col-sm-4">{l}Source{endl}</label>
              <div class="col-sm-6">
                  <selectize config='view.selectfg' options='view.item.source_dd' ng-model="view.item.source_id"></selectize>
              </div>
              <label class="control-label col-sm-1 pull-right text-success">
                <i class="fa fa-check-circle link-pointer" aria-hidden="true" ng-click="view.setSource()"></i>
              </label>
            </div>
          </div>     -->
          <!-- <p ng-if="view.item.type_dd.length && !view.showTxt.type"><strong>{l}Type{endl}</strong> {{view.item.xtype}} <span class="pull-right link-pointer fas fa-pen" ng-click="view.showTxt.type=true"></span></p>
          <div class="form-horizontal" ng-if="view.showTxt.type==true">
            <div class="form-group">
                <label class="control-label text-left col-sm-4">{l}Type{endl}</label>
                <div class="col-sm-6">
                  <selectize config='view.selectfg' options='view.item.type_dd' ng-model="view.item.type_id"></selectize>
                </div>
                <label class="control-label col-sm-1 pull-right text-success">
                  <i class="fa fa-check-circle link-pointer" aria-hidden="true" ng-click="view.setType()"></i>
                </label>
            </div>
          </div>  -->
          <div class="ng-clock">
            <p ng-if="::view.item.use_weblink" class="web-link" ng-class="{ 'hide': !view.item.external_url }"><strong>{l}Web Link{endl}</strong> 
              <a class="ng-cloak text-link" ng-if="view.item.external_url" href="{{view.item.web_url}}{{view.item.external_url}}" target="_blank"><i class="fas fa-external-link-alt"></i><!-- {{view.item.web_url}}{{view.item.external_url}} --></a>
              <!-- <i ng-if="view.item.external_url" class="fa fa-info-circle text-muted" uib-tooltip="{l}Weblink Info{endl}" tooltip-placement="top"></i> -->
              <!-- <em ng-if="!view.item.external_url" class="text-muted">{l}Quote must by sent to create the weblink{endl}</em> -->
            </p>
            <!-- <a ng-if="view.item.external_url" class="ng-cloak text-link" ng-click="view.showWeblinkLog()">{l}Web Log{endl}</a>  -->
            <p ng-if="view.item.is_quote_weight" class="text-muted ng-clock"><strong>{l}Weight{endl}</strong> {{view.item.weight_value}} kg</p>
            <p ng-if="view.item.show_margin && !view.item.hide_margin" class="text-muted ng-clock"><strong>{l}Margin{endl}</strong> <span ng-bind-html="view.item.total_margin"></span> <span ng-if="view.item.show_margin && !view.item.hide_margin && view.item.margin_percent_val">({{view.item.margin_percent}})</span> <span ng-if="view.item.is_total2 && !view.item.hide_margin"><span ng-bind-html="view.item.default_currency"></span> :<span ng-bind-html="view.item.total2_margin"></span></span><i ng-if="view.item.facq_activated" class="fas fa-sync" ng-click="view.PVCheck()"></i></p>
            <!-- <p ng-if="view.item.is_total2 && !view.item.hide_margin" class="text-muted ng-clock">{l}Margin in{endl} <span ng-bind-html="view.item.default_currency"></span> :<span ng-bind-html="view.item.total2_margin"></span> )</p> -->
            <!-- <p ng-if="view.item.show_margin && !view.item.hide_margin && view.item.margin_percent_val" class="text-muted ng-clock"><strong>{l}Margin Percent{endl}</strong> <span ng-bind-html="view.item.margin_percent"></span></p> -->
          </div>               
        </div>
        <div ng-class="{ 'col-xs-6':view.item.ADV_QUOTE, 'col-md-8':!view.item.ADV_QUOTE }" class="q_mob">
          <div class="row">
            <div class="col-xs-12 col-md-6">

              <h4 class="title_underline">{l}Customer Details{endl}</h4>
              <p class="ng-cloak"><a class="text-link" ui-sref="customerView({ 'customer_id':view.item.buyer_id })"><span ng-bind-html="view.item.buyer_name"></span></a> <a ng-if="view.item.buyer_id && view.item.customer_notes" ng-click="view.showCustomerNotes(view,view.item.buyer_id,view.item.customer_notes)" uib-tooltip="{l}Click icon to show account notes{endl}" tooltip-placement="bottom"><i class="far fa-file text-info"></i></i></a></p>
              <p class="ng-cloak" ng-if="::view.item.buyer_phone"><span class="fa fa-phone text-muted text-link_space" aria-hidden="true"></span> <a href="tel:{{::view.item.buyer_phone}}" class="text-link">{{::view.item.buyer_phone}}</a></p>
              <p class="ng-cloak" ng-if="::view.item.buyer_fax"><span class="fa fa-fax text-muted text-link_space" aria-hidden="true"></span> {{::view.item.buyer_fax}}</p>
              <p ng-if="::view.item.buyer_email"><span class="far fa-envelope text-muted text-link_space" aria-hidden="true"></span> <a href="mailto:{{::view.item.buyer_email}}" class="ng-cloak text-link">{{::view.item.buyer_email}}</a></p>
              <h4 class="title_underline">{l}Contact Details{endl}</h4>
              <p class="ng-cloak" >{{::view.item.contact_name}}</p>
              <p class="ng-cloak" ng-if="::view.item.contact_phone"><span class="fa fa-mobile text-muted text-link_space" aria-hidden="true"></span> {{::view.item.contact_phone}}</p>
              <p ng-if="::view.item.contact_email"><span class="far fa-envelope text-muted text-link_space" aria-hidden="true"></span> <a href="mailto:{{::view.item.contact_email}}" class="ng-cloak text-link">{{::view.item.contact_email}}</a></p>
            </div>
            <div class="col-xs-12 col-md-6">
              <h4 class="title_underline">{l}Main Address{endl}</h4>
              <p class="no_css-display_address" ng-bind-html="::view.item.free_field_txt"></p>
              <h4 class="title_underline" ng-if="view.item.delivery_address_main!=''">{l}Delivery Address{endl}</h4>
              <p class="no_css-display_address" ng-if="view.item.delivery_address_main!=''" ng-bind-html="::view.item.delivery_address_main"></p>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-md-3" ng-if="view.item.ADV_QUOTE">
          <h4 class="title_underline">{l}Versions:{endl}</h4>
          <ul class="quotevs_list">
            <li ng-repeat="item in view.item.versions">
              <span class="quote_version" go-to="" state="quote.view" params='{ "quote_id": {{view.quote_id}}, "version_id": {{item.version_id}} }' ng-class="{ 'delivery-partially':item.active=='sent', 'delivery-full':item.active=='active','selected':item.selected=='selected', 'delivery-lost':item.active=='lost' }">{{item.VERSION_CODE}}</span>
            </li>
          </ul>
          <!-- <div class="text-center col-top" ng-if="!view.item.selectedWon"><a ng-if="view.item.is_admin_2" class="btn btn-lg_icon btn-primary" ng-click="view.addVersion()"><span class="fa fa-plus"></span> {l}Add Version{endl}</a></div> -->
        </div>
      </div>
    </div>
  </div>
  <div class="row intervention-options" >
    <div class="col-xs-12">
        <div class="module_steps">
            <ul class="module_steps-tabs">
                <li ng-class="{ 'selected':view.item.selectedDraft }" ng-if="view.item.is_active"><span class="badge">1</span> {l}Draft{endl}</li>
                  <li ng-class="{ 'selected':view.item.selectedSent }" ng-if="view.item.is_active"><span class="badge">2</span> {l}Sent{endl}</li>
                  <li ng-class="{ 'selected':view.item.selectedWon }" ng-if="view.item.is_active"><span class="badge">3</span> {l}Won{endl}</li>
                  <li class="module_steps-options" >
                    <!-- <a class="btn btn-plain" ng-if="!view.item.post_quote && view.item.serial_number" href="#" ng-click="view.greenpost()"><img src="images/postgreen_icon.png" width="16" height="16" alt=""/><span class="hideOnTablet"> {l}Send by Post{endl}</span></a> -->
                    <div ng-if="view.item.post_active && view.item.post_quote" class="alert alert-inline alert-success cursor_pointer" ng-click="view.resendGreenPost()">{{view.item.postg_status}}</div>                  
                  </li>
              </ul><!-- /.module_steps-tabs -->
              <div class="module_steps-content ng-clock" ng-if="view.item.is_admin_2">
                <div class="row" ng-if="view.item.is_archived">
                  <div class="col-sm-12">
                    <!-- <a class="btn btn-plain" ui-sref="quote.edit({'quote_id': view.quote_id, 'version_id':view.item.version_id})">{l}Edit{endl}</a>     -->      
                      <a class="btn btn-plain" ng-click="view.deleteQuote()" title="{l}Delete{endl}" confirm-title="{l}Confirm{endl}" confirm-ok="{l}OK{endl}" confirm-cancel="{l}Cancel{endl}" confirm="{l}Are you sure you want to delete the selected entries{endl}?">{l}Delete{endl}</a>
                      <a class="btn btn-default" title="{l}Activate{endl}" ng-click="view.statusQuote('0')">{l}Activate{endl}</a>
                  </div>          
                </div>
                <div class="row ng-clock">
                    <div class="col-xs-12 col-sm-7 ng-clock" ng-if="view.item.selectedDraft && view.item.is_active">
                        <a class="btn btn-plain" ui-sref="quote.edit({'quote_id': view.quote_id, 'version_id':view.item.version_id})" > {l}Edit{endl}</a>
                        <!-- <a class="btn btn-secondary" href="#" ng-click="view.showTxt.markAsReady=!view.showTxt.markAsReady" >{l}Next{endl} <span class="glyphicon glyphicon-chevron-right"></span></a> -->
                        <a class="btn btn-default" href="#" ng-click="view.showTxt.viewMarkAsSent=false;view.item.email.alerts=[];view.sendEmail()" > {l}Send by Email{endl}</a>
                        <span class="text-muted text-spacer" >{l}OR{endl}</span>
                        <a class="btn text-link" href="#" ng-click="view.showTxt.viewMarkAsSent=true; view.showTxt.sendEmail=false;"  > {l}Mark as Sent{endl}</a>
                        <div class="dropdown btn-inline" uib-dropdown>
                          <button class="btn btn-plain dropdown-toggle" ng-click="view.showTxt.viewMarkAsSent=false" id="invoiceOptions" type="button" uib-dropdown-toggle>
                          {l}Action{endl} &nbsp;<span class="caret"></span>
                          </button>
                          <ul class="dropdown-menu" uib-dropdown-menu>
                            <li><a href="{{view.item.pdf_link}}" target="_blank"><i class="far fa-file-pdf"></i> {l}Download PDF{endl}</a></li>
                            <li><a ng-click="view.showPDFsettings()" href="#"><i class="fa fa-sync"></i> {l}Regenerate PDF{endl}</a></li>
                            <li><a ng-if="view.item.is_active" title="{l}Archive{endl}" ng-click="view.statusQuote('1')"><span class="fas fa-archive text-primary"></span> {l}Archive{endl}</a></li>
                            <li class="dropdown-header">{l}Create for this quote a{endl}</li>
                            <li ng-if="!view.item.selectedWon">
                              <a ng-if="view.item.is_admin_2" ng-click="view.addVersion()"><span class="fa fa-plus"></span> {l}New Version{endl}</a>
                            </li>
                            <li><a ui-sref="quote.edit({'duplicate_quote_id': view.quote_id,  'version_id':view.item.version_id})"><span class="fa fa-files-o"></span> {l}Duplicate{endl}</a></li>
                            <!-- <li><a href="#" ng-click="view.showTxt.viewMarkAsSent=false; view.showTxt.sendEmail=true;view.item.email.alerts=[];" ng-if="view.item.is_admin_2"><span class="glyphicon glyphicon-envelope"></span><span>{l}Send by Email{endl}</span></a></li> -->
                            <li ng-if="view.item.ADV_QUOTE"><a ui-sref="quote.editTemplate({ 'template_id':'tmp', 'quote_id': view.quote_id, 'version_id':view.item.version_id })" href="#"><span class="fa fa-file-o"></span> {l}Model Quote{endl}</a></li>
                          </ul>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-7 ng-clock" ng-if="view.item.selectedSent && view.item.is_active">
                      <a ng-if="view.item.can_edit" class="btn btn-plain" ng-click="view.markQuote('revert')">{l}Back to draft{endl}</a>
                      <a ng-if="view.item.can_revert" class="btn btn-default" ng-click="view.markQuote('status',{ status_customer : 2 })">{l}Mark as won{endl}</span></a>
                      <span ng-if="view.item.can_revert" class="text-muted text-spacer" >{l}OR{endl}</span>
                      <a ng-if="view.item.can_revert" class="btn text-link" ng-click="view.showTxt.viewLost=true" >{l}Mark as lost{endl}</a>
                      <div class="dropdown btn-inline" uib-dropdown>
                          <button class="btn btn-plain dropdown-toggle" id="invoiceOptions" type="button" uib-dropdown-toggle ng-click="view.showTxt.viewLost=false;">
                          {l}Action{endl} &nbsp;<span class="caret"></span>
                          </button>
                          <ul class="dropdown-menu" uib-dropdown-menu>
                            <li><a href="{{view.item.pdf_link}}" target="_blank"><i class="far fa-file-pdf"></i> {l}Download PDF{endl}</a></li>
                            <li><a ng-click="view.showPDFsettings()" href="#"><i class="fa fa-sync"></i> {l}Regenerate PDF{endl}</a></li>
                            <li><a href="#" ng-click="view.showTxt.viewMarkAsSent=false;view.item.email.alerts=[];view.sendEmail()" ng-if="view.item.is_admin_2"><span class="far fa-envelope"></span> {l}Send by Email{endl}</a></li>
                            <li class="dropdown-header">{l}Create for this quote a{endl}</li>
                            <li ng-if="!view.item.selectedWon">
                              <a ng-if="view.item.is_admin_2" ng-click="view.addVersion()"><span class="fa fa-plus"></span> {l}New Version{endl}</a>
                            </li>
                            <li><a ui-sref="quote.edit({'duplicate_quote_id': view.quote_id, 'version_id':view.item.version_id})"><span class="fa fa-files-o"></span> {l}Duplicate{endl}</a></li>
                            <li ng-if="view.item.ADV_QUOTE"><a ui-sref="quote.editTemplate({ 'template_id':'tmp', 'quote_id': view.quote_id, 'version_id':view.item.version_id})" href="#"><span class="fa fa-file-o"></span> {l}Model Quote{endl}</a></li>
                          </ul>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-7 ng-clock" ng-if="view.item.selectedWon && view.item.is_active">
                      <a ng-if="!view.item.is_lost" class="btn btn-plain" ng-click="view.markQuote('status',{ status_customer : 0 })"> {l}Back to sent{endl}</a>
                      <div ng-if="!view.item.is_lost" class="dropdown btn-inline" uib-dropdown>
                          <button class="btn btn-plain dropdown-toggle" id="invoiceOptions" type="button" uib-dropdown-toggle>
                          {l}Action{endl} &nbsp;<span class="caret"></span>
                          </button>
                          <ul class="dropdown-menu" uib-dropdown-menu>
                            <li><a href="{{view.item.pdf_link}}" target="_blank"><i class="far fa-file-pdf"></i> {l}Download PDF{endl}</a></li>
                            <li><a ng-click="view.showPDFsettings()" href="#"><i class="fa fa-sync"></i> {l}Regenerate PDF{endl}</a></li>
                            <li><a href="#" ng-click="view.showTxt.viewMarkAsSent=false;view.item.email.alerts=[];view.sendEmail()" ng-if="view.item.is_admin_2"><span class="far fa-envelope"></span> {l}Resend by Email{endl}</a></li>
                            <li class="dropdown-header">{l}OR Procced with this Quote as{endl}</li>
                            <!-- <li><a ui-sref="quote.edit({'quote_id': view.quote_id})" ng-if="view.item.downpayment" href="#"><span class="fas fa-file-alt"></span> {l}A Downpayment Invoice{endl}</a></li> -->
                            <!-- ng-if="!view.item.downpayment" -->
                            <li ng-if="view.item.is_4==true"><a ng-click="view.createInvoice()"  href="#"><span class="fas fa-file-alt"></span> {l}An Invoice{endl}</a></li>
                            <li ng-if="view.item.is_4==false" class="text-muted"><a class="text-muted disabled" href="#"><span class="fas fa-file-alt"></span> {l}An Invoice{endl} <i class="fa fa-info-circle" uib-tooltip="{l}Available only if you subscribe to the Invoice-advanced module{endl}" tooltip-placement="top"></i></a></li>
                            <li ng-if="view.item.is_4==true"><a ng-click="view.createProformaInvoice()" href="#"><span class="far fa-file-alt"></span> {l}A Proforma Invoice{endl}</a></li>
                            <li ng-if="view.item.is_4==false" class="text-muted"><a class="text-muted disabled" href="#"><span class="far fa-file-alt"></span> {l}A Proforma Invoice{endl} <i class="fa fa-info-circle" uib-tooltip="{l}Available only if you subscribe to the Invoice-advanced module{endl}" tooltip-placement="top"></i></a></li>
                            <li ng-if="view.item.is_3==true"><a ng-click="view.projectGo()" href="#"><span class="akti-icon o_akti_projects"></span> {l}A Project{endl}</a></li>
                            <li ng-if="view.item.is_3==false" class="text-muted"><a class="text-muted disabled" href="#"><span class="akti-icon o_akti_projects"></span> {l}A Project{endl} <i class="fa fa-info-circle" uib-tooltip="{l}Available only if you subscribe to the Project-advanced module{endl}" tooltip-placement="top"></i></a></li>
                            <li ng-if="view.item.is_13==true"><a ng-click="view.serviceGo()" href="#"><span class="fas fa-toolbox"></span> {l}An Intervention{endl}</a></li>
                            <li ng-if="view.item.is_13==false" class="text-muted"><a class="text-muted disabled" href="#"><span class="fas fa-toolbox"></span> {l}An Intervention{endl} <i class="fa fa-info-circle" uib-tooltip="{l}Available only if you subscribe to the Intervention-advanced module{endl}" tooltip-placement="top"></i></a></li>
                            <li ng-if="view.item.is_6==false" class="text-muted"><a class="text-muted disabled" href="#"><span class="fas fa-shopping-cart"></span> {l}An Order{endl} <i class="fa fa-info-circle" uib-tooltip="{l}Available only if you subscribe to the Order-advanced module{endl}" tooltip-placement="top"></i></a></li>
                            <li ng-if="view.item.is_11==true"><a ng-click="view.createContract()" href="#"><span class="fas fa-file-contract"></span> {l}A Contract{endl}</a></li>
                            <li ng-if="view.item.is_11==false" class="text-muted"><a class="text-muted disabled" href="#"><span class="fas fa-file-contract"></span> {l}A Contract{endl} <i class="fa fa-info-circle" uib-tooltip="{l}Available only if you subscribe to the Contract-advanced module{endl}" tooltip-placement="top"></i></a></li>
                            <li ng-if="view.item.databasename=='0561881e_90e4_ed68_616f5472328b'" class="dropdown-header">{l}Custom action list{endl}</li>
                            <li ng-if="view.item.databasename=='0561881e_90e4_ed68_616f5472328b'"><a ui-sref="invoice.edit({'c_quote_id': view.quote_id, buyer_id: view.item.buyer_id,type: '3', a_quote_id:view.item.serial_number,'your_ref': view.item.own_reference })"  href="#"><span class="fas fa-file-alt"></span> {l}Internal invoice{endl}</a></li>
                            <li ng-if="view.item.is_6==true"><a ng-click="view.createOrder()" href="#"><span class="fas fa-shopping-cart"></span> {l}An Order{endl}</a></li>
                            <li ng-if="view.item.is_facq_subscription==true"><a ng-click="view.createPOrder()" href="#"><span class="fa fa-shopping-cart green"></span> {l}Facq PO{endl}</a></li>
                            <li><a ui-sref="quote.edit({'duplicate_quote_id': view.quote_id, 'version_id':view.item.version_id})"><span class="fa fa-files-o"></span> {l}Duplicate{endl}</a></li>
                            <li ng-if="view.item.ADV_QUOTE"><a ui-sref="quote.editTemplate({ 'template_id':'tmp', 'quote_id': view.quote_id, 'version_id':view.item.version_id})" href="#"><span class="fa fa-file-o"></span> {l}Model Quote{endl}</a></li>
                          </ul>
                        </div>
                        <!-- <a ng-if="!view.item.is_lost" class="btn btn-danger" ng-if="view.item.downpayment_made"><span class="fa fa-exclamation-circle" ></span> {l}Downpayment invoiced{endl}</a> -->
                        <a ng-if="view.item.is_lost" class="btn btn-plain" ng-click="view.markQuote('status',{ status_customer : 0 })"> {l}Back to sent{endl}</a>
                        <div ng-if="view.item.is_lost" class="dropdown btn-inline" uib-dropdown>
                            <button class="btn btn-plain dropdown-toggle" id="invoiceOptions" type="button" uib-dropdown-toggle>
                            {l}Action{endl} &nbsp;<span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" uib-dropdown-menu>
                              <li><a href="{{view.item.pdf_link}}" target="_blank"><i class="far fa-file-pdf"></i> {l}Download PDF{endl}</a></li>
                              <li><a ng-click="view.showPDFsettings()" href="#"><i class="fa fa-sync"></i> {l}Regenerate PDF{endl}</a></li>
                              <li><a href="#" ng-click="view.showTxt.viewMarkAsSent=false;view.item.email.alerts=[];view.sendEmail()" ng-if="view.item.is_admin_2"><span class="far fa-envelope"></span> {l}Send by Email{endl}</a></li>
                              <li class="dropdown-header">{l}Create for this quote a{endl}</li>
                              <li>
                                <a ng-if="view.item.is_admin_2" ng-click="view.addVersion()"><span class="fa fa-plus"></span> {l}New Version{endl}</a>
                              </li>
                              <li><a ui-sref="quote.edit({'duplicate_quote_id': view.quote_id, 'version_id':view.item.version_id})"><span class="fa fa-files-o"></span> {l}Duplicate{endl}</a></li>
                              <li ng-if="view.item.ADV_QUOTE"><a ui-sref="quote.editTemplate({ 'template_id':'tmp', 'quote_id': view.quote_id, 'version_id':view.item.version_id})" href="#"><span class="fa fa-file-o"></span> {l}Model Quote{endl}</a></li>
                            </ul>
                          </div>
                        <span ng-if="view.item.is_lost" class="text-muted text-spacer" >{l}Lost_reason{endl}: </span>
                        <span ng-if="view.item.is_lost" class="text-spacer ng-clock" >{{view.item.quote_lost}}</span>
                    </div>
                    <div class="col-xs-5 text-right module_steps-extra">
                        <!-- <small ng-if="view.item.is_quote_weight" class="text-muted ng-clock">{l}Weight{endl}: <strong>{{view.item.weight_value}} kg</strong></small> -->
                        <!-- <small ng-if="!view.item.selectedDraft" class="text-muted ng-clock">{l}Sent date{endl} <strong ng-bind-html="view.item.sent_date_txt"></strong></small>
                        <small ng-if="view.item.show_margin && !view.item.hide_margin" class="text-muted ng-clock">{l}Margin{endl} <strong ng-bind-html="view.item.total_margin"></strong></small>
                        <small ng-if="view.item.is_total2 && !view.item.hide_margin" class="text-muted ng-clock">( {l}Margin in{endl} <span ng-bind-html="view.item.default_currency"></span> :<strong ng-bind-html="view.item.total2_margin"></strong> )</small>
                        <small ng-if="view.item.show_margin && !view.item.hide_margin && view.item.margin_percent_val" class="text-muted ng-clock">{l}Margin Percent{endl} <strong ng-bind-html="view.item.margin_percent"></strong></small>
                        <small class="text-muted">{l}Total Amount{endl}: <strong ng-bind-html="view.item.total"></strong> <span ng-if="view.item.is_total2">( {l}Total in{endl} <span ng-bind-html="view.item.default_currency"></span>: <strong ng-bind-html="view.item.total2"></strong> )</span> </small> -->
                    </div>
                </div><!-- /.row:DRAFT -->
                  <div class="row">
                    <div class="col-xs-12">
                      <div class="module_steps-highlight module_steps-fillsheet" ng-if="view.showTxt.sendPost">
                        <form class="form-horizontal text-left">
                            <div class="form-group">
                                <div class="col-sm-12 text-right">
                                    <button class="btn btn-plain" ng-click="view.showTxt.sendPost=false">{l}Cancel{endl}</button>
                                    <button class="btn btn-primary" ng-click="view.sendPost()">{l}Send by Post{endl}</button>
                                </div>
                            </div>
                            <div class="form-group" ng-if="view.item.post_library.length">
                              <label class="col-sm-4 control-label"><strong>{l}E-stationary{endl}</strong></label>
                              <div class="col-sm-8">
                                <selectize config='view.stationaryCfg' options='view.item.post_library' ng-model="view.item.stationary_id" ></selectize>
                              </div>
                            </div>
                        </form>
                      </div>
                      <div class="module_steps-highlight module_steps-fillsheet ng-clock" ng-show="view.showTxt.sendEmail">
                        <form class="form-horizontal">
                          <div class="form-group">
                                <div class="col-xs-12 text-right">
                                    <button type="submit" class="btn btn-plain" ng-click="view.showTxt.sendEmail=false">{l}Cancel{endl}</button>
                                    <button type="submit" class="btn btn-primary" ng-if="!view.item.selectedDraft" ng-click="view.sendEmails(view.item.email)" ng-disabled="view.item.save_disabled">{l}Send{endl}</button>
                                    <button type="submit" class="btn btn-primary" ng-if="view.item.selectedDraft" ng-click="view.sendEmails(view.item.email)" ng-disabled="view.item.save_disabled"><!-- {l}Mark as Sent{endl} &amp; --> {l}Send{endl}</button>
                                </div>
                            </div>
                            <div class="form-group">
                              <label for="" class="col-xs-3 control-label text-left"><strong>{l}Recipients{endl}</strong><span class="mandatory-label">*</span></label>
                              <div class="col-xs-9">
                                <selectize config='view.contactForEmailAutoCfg' options='view.auto.options.recipients' ng-model="view.item.email.recipients" ng-change="view.myFunction()"></selectize>
                              </div>
                            </div>
                            <div class="form-group">
                              <label for="" class="col-xs-3 control-label text-left">{l}Send me a copy{endl}</label>
                              <div class="col-xs-9 checkbox checkbox-primary">
                                <input type="checkbox" id="checkbox1" ng-model="view.item.email.copy" >
                                <label for="checkbox1"></label>
                              </div>
                            </div>
                            <div class="form-group" ng-if="view.item.acc_manager_id">
                              <label for="" class="col-xs-3 control-label text-left">{l}Send account manager a copy{endl}</label>
                              <div class="col-xs-9 checkbox checkbox-primary">
                                <input type="checkbox" id="checkbox2" ng-model="view.item.email.copy_acc" >
                                <label for="checkbox2"></label>
                              </div>
                            </div>
                            <div class="form-group">
                              <label for="" class="col-xs-3 control-label text-left">{l}Subject{endl}</label>
                              <div class="col-xs-9">
                                <input type="text" class="form-control" ng-model="view.item.email.e_subject" placeholder="{l}Subject{endl}">
                              </div>
                            </div>
                            <div class="form-group">
                              <label for="" class="col-xs-3 control-label text-left">{l}Message{endl}</label>
                              <div class="col-xs-9">
                                <textarea class="form-control" ng-model="view.item.email.e_message" placeholder="{l}Message{endl}" rows="10" ng-if="::view.item.use_html=='0'"></textarea>
                                <!-- <wysiwyg textarea-id="question" textarea-class="form-control" textarea-height="184px" ng-model="view.item.email.e_message" enable-bootstrap-title="true" textarea-menu="yourModel.menu" ng-if="::view.item.use_html=='1'"></wysiwyg> -->
                                <textarea  ui-tinymce="view.tinymceOptions" ng-model="view.item.email.e_message" class="variable_assign" ng-if="::view.item.use_html=='1'">{{ls.user.sign.text_signature}}</textarea>
                                <input name="image" type="file" id="upload" class="hidden" onchange="">
                              </div>
                            </div>
                            <div class="form-group">
                                <div class="col-xs-9 text-right">
                                    <a ng-click="view.showPreview(view.item.email)">{l}Preview{endl}</a>
                                </div>
                                <div class="col-xs-3 text-right">
                                    <a ui-sref="quoteSettings" >{l}Change your default message{endl}</a>
                                </div>
                            </div>
                            <div class="form-group">
                              <label for="" class="col-xs-3 control-label text-left">{l}PDF Language{endl}</label>
                              <div class="col-xs-9">
                                <select class="form-control" ng-model="view.item.email.lid">
                                  <option ng-repeat="option in view.item.language_dd track by option.id" value="{{option.id}}">{{option.name}}</option>
                                </select>
                              </div>
                            </div>
                            <div class="form-group">
                              <label for="" class="col-xs-3 control-label text-left">{l}Add a PDF-version of the quote{endl}</label>
                              <div class="col-xs-9 checkbox checkbox-primary">
                                <input type="checkbox" id="checkbox3" ng-model="view.item.email.include_pdf" >
                                <label for="checkbox3"></label>
                              </div>
                            </div>
                            <div class="form-group" ng-if="::view.item.is_file">
                              <label for="" class="col-xs-3 control-label text-left">{l}Files{endl}:</label>
                              <div class="col-xs-9 checkbox checkbox-primary">
                                <p ng-repeat="item in view.item.email.files">
                                <input type="checkbox" id="checkbox_file_{{$index}}" ng-model="item.checked" > 
                                <label for="checkbox_file_{{$index}}"></label>
                                <span class="ng-clock">{{::item.file}}</span>
                              </p>
                              </div>
                            </div>
                            <div class="form-group" ng-if="::view.item.dropbox.dropbox_is_file">
                              <label for="" class="col-xs-3 control-label text-left">{l}Dropbox Files{endl}:</label>
                              <div class="col-xs-9 checkbox checkbox-primary">
                                <p ng-repeat="item in view.item.dropbox.dropbox_files">
                                  <input type="checkbox" id="checkbox_dropbox_file_{{$index}}" ng-model="item.checked">
                                  <label for="checkbox_dropbox_file_{{$index}}"></label>
                                  <span class="ng-clock">{{item.file}}</span>
                                </p>
                              </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12 text-right">
                                    <button type="submit" class="btn btn-plain" ng-click="view.showTxt.sendEmail=false">{l}Cancel{endl}</button>
                                    <button type="submit" class="btn btn-primary" ng-if="!view.item.selectedDraft" ng-click="view.sendEmails(view.item.email)" ng-disabled="view.item.save_disabled">{l}Send{endl}</button>
                                    <button type="submit" class="btn btn-primary" ng-if="view.item.selectedDraft" ng-click="view.sendEmails(view.item.email)" ng-disabled="view.item.save_disabled"><!-- {l}Mark as Sent{endl} &amp; --> {l}Send{endl}</button>
                                </div>
                            </div>
                        </form>
                      </div>
                      <div class="module_steps-highlight module_steps-fillsheet ng-clock" ng-if="view.showTxt.viewMarkAsSent">
                        <form class="form-horizontal">
                          <div class="form-group" ng-class="{ 'form-group_alert' : sent_form.sent_date.$invalid && !sent_form.sent_date.$pristine }">
                            <label class="col-sm-3 control-label"><strong>{l}Sent date{endl}</strong></label>
                            <div class="col-sm-3">
                              <div class="so-field">
                                <span class="glyphicon glyphicon-calendar so-icon"></span>
                                <input type="text" class="form-control" ng-model="view.item.sent_date" uib-datepicker-popup="{{view.format}}" datepicker-append-to-body="true" is-open="view.datePickOpen.sent_date" datepicker-options="view.dateOptions" close-text="Close" placeholder="{l}Sent date{endl}" show-button-bar="false" ng-click="view.datePickOpen.sent_date=true" name="sent_date" required />    
                                <span class="glyphicon glyphicon-remove so-icon so-remove"></span>
                              </div><!-- /.so-field -->
                              <div class="alert alert-sm alert-danger" ng-if="sent_form.sent_date.$invalid && view.alertsField.sent_date">{{view.alertsField.sent_date}}</div>
                            </div> 
                            <div class="col-sm-4 ">
                              <a class="btn btn-default" ng-click="view.markQuoteAsSent()">{l}Save{endl}</a> 
                            </div>
                          </div>
                          <!-- <div class="form-group">
                              
                          </div> -->
                        </form>
                      </div><!-- !view.showTxt.viewMarkAsSent -->
                      <div class="module_steps-highlight module_steps-fillsheet ng-clock" ng-if="view.showTxt.viewLost">
                        <form class="form-horizontal">
                          <div class="form-group lost_quote">
                            <label class="control-label"><strong>{l}Lost reason{endl}:</strong></label>
                            <div class="col-sm-4">
                              <div class="row">
                                <div class="col-sm-8 col-md-6">
                                    <!-- <div class="so-field">
                                    <selectize config="view.salesCfg" options="view.item.LOST_QQ" ng-model="view.item.LOST_QQ" id="custandcont" ng-change="view.lost()" table="tblquote_lost_reason" model="tblquote_lost_reason" ></selectize> 
                                    </div> --><!-- /.so-field -->
                                    <div class="form-group" ng-class="">
                                      <selectize config="view.extraCfg" options="view.item.lost_dd" ng-model="view.item.lost_id" table="tblquote_lost_reason" opts="lost_dd" model="lost_id" required></selectize>
                                    </div>
                                </div><!-- /.col-* -->
                              </div><!-- /.row -->                            
                            </div> 
                          </div>                        
                        </form>
                      </div><!-- !view.showTxt.viewLost -->
                  </div>
                </div>
              </div><!-- /.module_steps-content -->
              <div uib-alert ng-repeat="alert in view.item.email.alerts" type="{{alert.type}}" close="view.item.email.alerts.splice($index, 1);" ng-class="['alert-' + (alert.type || 'warning') ]">{{alert.msg}}</div>
          </div><!-- /.module_steps -->        
      </div>
  </div><!-- /.intervention-options -->
  <div class="row" >
    <div class="col-sm-12" >
        <div class="quotePreview" id="quotePreview" >
          <center class="text-loader">{l}Loading PDF{endl}</center>
          <div class="bx-wrapper hide" id="bxWrapper">
            <div class="bx-controls bx-has-controls-direction">
              <a class="pi_download" href="{{view.item.PDF_LINK2}}&just_download=1" target="_blank"><i class="fa fa-download" aria-hidden="true" title="{l}Download Attachment{endl}"></i></a>
              <div class="bx-controls-direction">
                <a href="#" class="bx-prev" id="prev"><i class="glyphicon glyphicon-chevron-left" aria-hidden="true"></i></a>
                <input type="text" class="selected_bx_page" id="page_num" value="1">
                <span class="total_pages" id="page_count">/ 1</span>
                <a href="#" class="bx-next" id="next"><i class="glyphicon glyphicon-chevron-right" aria-hidden="true"></i></a>
              </div>
            </div>
          </div>
          <canvas id="the-canvas" height="1262" width="892"></canvas>
          <div id="annotation-layer"></div>
        </div>
      </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <h4>
        <strong>{l}Files{endl}</strong>
        <button ng-if="view.item.dropbox.is_drop && !view.show_load" type="button" class="btn btn-primary btn-add" uib-tooltip="{l}Upload{endl}" tooltip-placement="right" ng-click="view.uploadDoc(1)"><span class="btn-add_icon"><span class="icon-bar"></span><span class="icon-bar-2"></span></span></button>
        <label ng-if="view.item.dropbox.is_drop === false"><i class="fa fa-question-circle" uib-tooltip="{l}To use this functionality Dropbox needs to be activated under 'integrations'{endl}" tooltip-placement="right"></i></label>
      </h4>
      <div class="row text-center" ng-if="view.show_load">
          <i class="fa fa-spinner fa-spin fa-2x fa-fw" aria-hidden="true"></i><span class="sr-only"></span>
      </div>
      <div type="notice" ng-if="!view.item.dropbox.dropbox_files.length && !view.item.dropbox.dropbox_images.length && !view.show_load" class="padd-file">{l}No files have been added yet{endl}</div>
      <div class="table active_rows orderTable" ng-if="(view.item.dropbox.dropbox_files.length || view.item.dropbox.dropbox_images.length) && !view.show_load">
            <div ng-repeat="item in view.item.dropbox.dropbox_files">
              <p class="padd-file">
                <a href="{{item.down_file_link}}" target="_blank" class="file-name">{{item.name}}</a>
                <a href="#" ng-click="view.deleteDropFile($index)" confirm="{l}Are you sure, you wanna delete this entry?{endl}"><span ng-if="item.is_url" class="fas fa-unlink"></span><span ng-if="!item.is_url" class="fa fa-trash"></span></a>
              </p>
            </div>
            <div ng-if="view.item.dropbox.dropbox_images.length && !view.show_load">
            <div ng-repeat="item in view.item.dropbox.dropbox_images">
              <p class="padd-file"><a target="_blank" class="file-name" ng-click="view.openLightboxModal($index)">{{item.name}}</a> <span><a href="#" ng-click="view.deleteDropImage($index)" confirm="{l}Are you sure, you wanna delete this entry?{endl}"><span ng-if="item.is_url" class="fas fa-unlink"></span><span ng-if="!item.is_url" class="fa fa-trash"></span></a></span></p>
            </div>
          </div>
      </div>
      <!-- <h4>
        <strong>{l}Images{endl}</strong>
        <button ng-if="view.item.dropbox.is_drop && !view.show_load" type="button" class="btn btn-primary btn-add" uib-tooltip="{l}Upload{endl}" tooltip-placement="right" ng-click="view.uploadDoc(2)"><span class="btn-add_icon"><span class="icon-bar"></span><span class="icon-bar-2"></span></span></button>
      </h4>
      <div class="row text-center" ng-if="view.show_load">
          <i class="fa fa-spinner fa-spin fa-2x fa-fw" aria-hidden="true"></i><span class="sr-only"></span>
      </div>
      <div uib-alert type="notice" class="alert-warning" ng-if="!view.item.dropbox.dropbox_images.length && !view.show_load">{l}No data to display{endl}</div>
      <div class="row drop_images" ng-if="view.item.dropbox.dropbox_images.length && !view.show_load">
        <div class="col-sm-2 margin-top" ng-repeat="item in view.item.dropbox.dropbox_images">
          <div class="image">
            <img class="link-pointer" ng-src="{{item.url}}" ng-click="view.openLightboxModal($index)"/>
          </div> 
          <span class="glyphicon glyphicon-remove text-danger link-pointer" ng-click="view.deleteDropImage($index)" confirm="{l}Are you sure, you wanna delete this entry?{endl}"></span>
        </div>
      </div> -->
    </div>
  </div>
  <script type="text/javascript">
var m = true;
</script>
<!--[if !(lte IE 9) ]><!-->
<script type="text/javascript" src="js/libraries/pdf.js"></script>
<script type="text/javascript" src="js/libraries/pdf.worker.js"></script>
<!--<![endif]-->
<logging do='quote-quote' advanced="{{view.item.ADV_QUOTE}}" type="quote_id" ref="{{view.quote_id}}"></logging>
</div>

