<style>
body { color: #000; font-family: 'Open Sans', sans-serif; font-size: 9pt; }
h1 {  font-size:10pt;   font-weight:normal; }
table { border-spacing: 0; }
p {  font-size: 9pt; }
small { font-size: 7pt; }
ol, ul { padding: 0pt; margin: 0pt; font-size: 9pt; }
ol li, ul li{ font-size: 9pt; padding: 0pt; margin: 0pt; }
.border_bottom {  border-bottom: 1px solid #a7a7a7; }
.invoice_rows { border-bottom: 1px solid #a7a7a7; }
.invoice_rows .th { font-weight: bold;  padding-left: 10px; text-align: center; }
.invoice_rows td { vertical-align:middle; text-align:right; }
/*.invoice_rows .last { border-right: 1px solid #ccc; }*/
.hide { display:none; }
.right {  text-align:right; }
.left {text-align: left;}

.wizwig_content{margin:0;padding:0;}
.wizwig_content div { line-height: 120pt; }
.wizwig_content p,.wizwig_content dl{display: block;margin-bottom: 1em;margin-left: 0;margin-right: 0;margin-top: 1em; font-size: 10pt;}
.wizwig_content blockquote,.wizwig_content figure {display: block;margin-bottom: 1em;margin-left: 40px;margin-right: 40px;margin-top: 1em;}
.wizwig_content address{display: block;font-style: italic;}
.wizwig_content center {display: block;}
.wizwig_content h1{display: block;font-size: 2em;font-weight: bold;margin-bottom: 0.67em;margin-left: 0;margin-right: 0;margin-top: 0.67em;}
.wizwig_content h2{display: block;font-size: 1.5em;font-weight: bold;margin-bottom: 0.83em;margin-left: 0;margin-right: 0;margin-top: 0.83em;}
.wizwig_content h3{display: block;font-size: 1.17em;font-weight: bold;margin-bottom: 1em;margin-left: 0;margin-right: 0;margin-top: 1em;}
.wizwig_content h4{display: block;font-size: 1em;font-weight: bold;margin-bottom: 1.33em;margin-left: 0;margin-right: 0;margin-top: 1.33em;}
.wizwig_content h5{display: block;font-size: 0.83em;font-weight: bold;margin-bottom: 1.67em;margin-left: 0;margin-right: 0;margin-top: 1.67em;}
.wizwig_content h6{display: block;font-size: 0.67em;font-weight: bold;margin-bottom: 2.33em;margin-left: 0;margin-right: 0;margin-top: 2.33em;}
.wizwig_content listing {display: block;font-size: medium;margin-bottom: 1em;margin-left: 0;margin-right: 0;margin-top: 1em;white-space: pre;}
.wizwig_content xmp,.wizwig_content pre,.wizwig_content plaintext {display: block;margin-bottom: 1em;margin-left: 0;margin-right: 0;margin-top: 1em;white-space: pre;}
.wizwig_content q:before{content: open-quote;}
.wizwig_content q:after{content: close-quote;}
.wizwig_content b,.wizwig_content strong{font-weight: bolder;}
.wizwig_content i,.wizwig_content cite,.wizwig_content em,.wizwig_content var,.wizwig_content dfn{font-style: italic;}
.wizwig_content tt,.wizwig_content code,.wizwig_content kbd,.wizwig_content samp{font-family: -moz-fixed;}
.wizwig_content big{font-size: larger;}
.wizwig_content small{font-size: smaller;}
.wizwig_content sub{font-size: smaller;line-height: normal;vertical-align: sub;}
.wizwig_content sup{font-size: smaller;line-height: normal;vertical-align: super;}
.wizwig_content mark{background-attachment: scroll;background-clip: border-box;background-color: #FFFF00;background-image: none;background-position: 0 0;background-repeat: repeat;color: #000000;}
.wizwig_content ul,.wizwig_content menu,{display: block;list-style-type: disc;margin-bottom: 1em;margin-left: 0;margin-right: 0;margin-top: 1em;}
.wizwig_content ol{display: block;list-style-type: decimal;margin-bottom: 1em;margin-left: 0;margin-right: 0;margin-top: 1em;}
.wizwig_content li {display: list-item;}
</style>
{if:head}
{HEADER}
{else}
<table cellpadding="0" cellspacing="0" border="0" width="760"  style="border-bottom:1pt solid #ccc;">
  <tr>
    <td width="260" valign="top"><img src="{ACCOUNT_LOGO_Q}" {ATTR} ></td>
    <td><table cellpadding="0" cellspacing="0" border="0">
        <tr>
          <td style="border-bottom:1pt solid #ccc; text-align:right; font-size:14pt;"><strong>{QUOTE_NOTE_TXT}</strong></td>
        </tr>
        <tr>
          <td height="10"></td>
        </tr>
        <tr>
          <td style="text-align:right;">{REFERENCE_TXT}: {BUYER_REFERENCE} {SERIAL_NUMBER}</td>
        </tr>
        <tr class="{HIDE_YOUR_REF}">
          <td style="text-align:right;">{YOUR_REFERENCE_TXT}: {OWN_REFERENCE}</td>
        </tr>
        <tr>
          <td style="text-align:right;">{DATE_TXT}: {QUOTE_DATE}</td>
        </tr>
        {if:is_validity_date}
        <tr>
          <td style="text-align:right;">{VALID_UNTILL_TXT}: {validity_date}</td>
        </tr>
        {end}
      </table></td>
  </tr>
  <tr>
    <td height="5"></td>
  </tr>
</table>
<table cellpadding="0" cellspacing="0" border="0" width="100%">
  <tr>
    <td colspan="2"></td>
  </tr>
  <tr>
    <td valign="top" width="50%"><h1>{SELLER_NAME}</h1><span class="{HIDE_AUTHOR}">{AUTHOR}</span><br />
      {SELLER_D_ADDRESS}  <br/>
      {SELLER_D_ZIP} {SELLER_D_CITY} <br/>
      {SELLER_D_COUNTRY}<br />
      {if:SHOW_P}<span class="{HIDE_P}">{PHONE_TXT}: {SELLER_B_PHONE}<br /></span>{end}
      {if:SHOW_F}<span class="{HIDE_F}">{FAX_TXT}: {SELLER_B_FAX}<br /></span>{end}
      {if:SHOW_E}<span class="{HIDE_E}">{EMAIL_TXT}: {SELLER_B_EMAIL}<br /></span>{end}
      {if:SHOW_U}<span class="{HIDE_U}">{URL_TXT}: {SELLER_B_URL}<br /></span>{end}
     </td>
    <td valign="top" width="50%"><h1 class="{HIDE_CUSTOMER}">{BUYER_NAME}</h1>{QUOTE_CONTACT_NAME}<br/>
      {free_field}<br/><br/>
      <h1 class="{HIDE_DELIVERY}">{BILLING_ADDRESS_TXT}</h1>{DELIVERY_ADDRESS}
    </td>
  </tr>
  <tr><td colspan="2" height="18"></td></tr>
</table>
{end}
{loop:quote_group}
    <h1 style="font-size:12pt;margin:0;padding:0;" class="{QUOTE_GROUP_HAS_TITLE}">{QUOTE_GROUP_TITLE}</h1>
  {loop:quote_table}
    {loop:quote_line}
      {if:line_type == '1'}
        {if:table_start}
        <table width="100%" cellspacing="0" cellpadding="5" class="invoice_rows">
       <!-- <tr style="background-color: #666; color: #fff;">
          <td class="th" width="13%" style="text-align:left">{ARTICLE_CODE_TXT}</td>
          <td class="th" width="{ITEM_WIDTH}%" style="text-align:left; font-size: 10pt;">{ITEM_TXT}</td>
          {if:hide_QC}<td class="th" width="13%" style=" text-align: center font-size: 10pt;">{QUANTITY_TXT}</td>{end}
          {if:hide_UP}<td class="th" width="13%" style=" text-align: center;font-size: 10pt;">{UNIT_PRICE_TXT}</td>{end} -->
          
          <!-- {if:hide_row_vat}<td class="th {hide_row_vat}" width="15%" style="">vat %</td>{end} -->
         <!--  {if:hide_DISC}<td class="th " width="11%" style=" text-align: center;font-size: 10pt;" >{DISCOUNT_TXT}</td>{end}
          {if:show_v}<td class="th" width="13%" style=" text-align: center;font-size: 10pt;">{VAT_TXT}</td>{end}
          {if:hide_AC}<td width="13%" class="th last" style=" text-align:right;font-size: 10pt;">{AMOUNT_TXT}</td>{end}
      </tr> -->
          <tbody>
        {end}
            <tr>
              {if:show_IC}<td width="13%" style="text-align:left; background-color: #fff;  border-bottom: 1px solid #a7a7a7; line-height: 15px;">{ARTICLE_CODE}{art_img}</td>{end}
              {if:show_I}<td width="13%" style="text-align:left; background-color: #fff;  border-bottom: 1px solid #a7a7a7; line-height: 15px;">{art_img}</td>{end}
              <td style="text-align:left;background-color: #fff;  border-bottom: 1px solid #a7a7a7;line-height: 15px;" width="{ITEM_WIDTH}%">{DESCRIPTION}</td>
              {if:hide_QC}<td class="{hide_QC}" width="13%" style="text-align:right;background-color: #fff;  border-bottom: 1px solid #a7a7a7;line-height: 15px;">{QUANTITY}</td>{end}
              {if:hide_UP}<td class="{hide_UP}" width="13%" style="text-align:right;background-color: #fff;  border-bottom: 1px solid #a7a7a7;line-height: 15px;">{if:is_not_component}{PRICE}{end}</td>{end}
              {S_VIEW_DISCOUNT}
              {if:hide_DISC}<td class="{hide_DISC}" width="11%" style="text-align:right;background-color: #fff;  border-bottom: 1px solid #a7a7a7;line-height: 15px;">{if:is_not_component}{DISCOUNT} %{end}</td>{end}
              {E_VIEW_DISCOUNT}
              {if:show_v}<td style="text-align:right;background-color: #fff;  border-bottom: 1px solid #a7a7a7;line-height: 15px;" width="13%">{if:is_not_component}{VAT} %{end}</td>{end}
              {if:show_price_vat}<td width="13%" style="text-align:right;background-color: #fff;  border-bottom: 1px solid #a7a7a7;line-height: 15px;">{if:is_not_component}{PRICE_VAT}{end}</td>{end}
              {S_VIEW_ARTICLE}  {if:show_PS}<td  {USE_PACKAGE} width="13%" style="text-align:center;background-color: #fff;  border-bottom: 1px solid #a7a7a7;line-height: 15px;">{if:is_not_component}{PACKAGE}{end}<span {USE_SALE_UNIT}>{if:is_not_component}  /  {SALE_UNIT}{end}</span></td style="text-align:center;background-color: #fff;  border-bottom: 1px solid #a7a7a7;line-height: 15px;">{end} {E_VIEW_ARTICLE}
              {if:hide_AC}<td width="13%" class="last {hide_AC}" style="text-align:right;background-color: #fff;  border-bottom: 1px solid #a7a7a7;line-height: 15px;">{if:is_not_component}{LINE_TOTAL}{end}</td>{end}        
            </tr>
      {end}  <!-- line_type = 1 -->
      {if:line_type == '2'}
        {if:table_start}
        <table width="100%" cellspacing="0" cellpadding="5" class="invoice_rows">
          <tbody>
        {end}


        <tr >
              <td width="{ITEM_WIDTH_L}%" style="text-align:left; font-size: 10pt;background-color: #fff;  border-bottom: 1px solid #a7a7a7;line-height: 15px;" colspan="2" >{DESCRIPTION}</td>
              {if:hide_QC}<td class="{hide_QC}" width="13%" style="text-align:right;background-color: #fff;  border-bottom: 1px solid #a7a7a7;line-height: 15px;">{QUANTITY}</td>{end}
              {if:hide_UP}<td class="{hide_UP}" width="13%" style="text-align:right;background-color: #fff;  border-bottom: 1px solid #a7a7a7;line-height: 15px;">{PRICE}</td>{end}
              {S_VIEW_DISCOUNT}
              {if:hide_DISC}<td class="{hide_DISC}" width="11%" style="text-align:right;background-color: #fff;  border-bottom: 1px solid #a7a7a7;line-height: 15px;">{DISCOUNT} %</td>{end}
              {E_VIEW_DISCOUNT}
              {if:show_v}<td style="text-align:right;background-color: #fff;  border-bottom: 1px solid #a7a7a7;line-height: 15px;" width="13%">{VAT} %</td>{end}
              {if:show_price_vat}<td width="13%" style="text-align:right;background-color: #fff;  border-bottom: 1px solid #a7a7a7;line-height: 15px;">{PRICE_VAT}</td>{end}
              {S_VIEW_ARTICLE}  {if:show_PS} {if:USE_PACKAGE != 'class="hide"' }<td style="text-align:center;background-color: #fff;  border-bottom: 1px solid #a7a7a7;line-height: 15px;">{PACKAGE}<span {USE_SALE_UNIT}>  /  {SALE_UNIT}</span></td>{end}{end} {E_VIEW_ARTICLE}
              {if:hide_AC}<td class="last {hide_AC}" width="13%" style="text-align:right;background-color: #fff;  border-bottom: 1px solid #a7a7a7;line-height: 15px;">{LINE_TOTAL}</td>{end}      
            </tr> 
      {end} 
      {if:line_type == '7'}
        {if:table_start}
        <table width="100%" cellspacing="0" cellpadding="5" class="invoice_rows">
          <tbody>
        {end}
            <tr style="background-color: #666; color: #fff;">
              {if:show_IC}
              <td class="th" width="13%" style="text-align:left; font-size: 10pt;">{ARTICLE_CODE_TXT}</td>
              {end}
              {if:show_I}
              <td class="th" width="13%" style="text-align:left; font-size: 10pt;">{ARTICLE_IMAGE_TXT}</td>
              {end}
              <td class="th" width="{ITEM_WIDTH}%" style="text-align:left;">{ITEM_TXT}</td>
              {if:hide_QC}<td class="th {hide_QC}" width="13%" style="text-align:right;">{QUANTITY_TXT}</td>{end}
              {if:hide_UP}<td class="th {hide_UP}" width="13%" style="text-align:right">{UNIT_PRICE_TXT}</td>{end}            
              
              {if:hide_DISC}<td class="th {hide_DISC}" width="11%" style="text-align:right">{DISCOUNT_TXT}</td>{end}
              {E_VIEW_DISCOUNT}
              {if:show_v}<td class="th" width="13%" style="text-align:right">{VAT_TXT}</td>{end}
              {if:show_price_vat}<td class="th" width="13%" style="text-align:right">{UNIT_PRICE_VAT_TXT}</td>{end}
              {S_VIEW_ARTICLE}    {if:show_PS}<td class="th {USE_PACKAGE2}"  width="13%" >{PACKAGE_TXT} <span {USE_SALE_UNIT2} > / {SALE_UNIT_TXT}</span></td>{end} {E_VIEW_ARTICLE}
              {if:hide_AC}<td width="13%" class="th {hide_AC} last" style=" text-align:right;font-size: 10pt;">{AMOUNT_TXT}</td>{end}
            </tr>
      {end} 
      {if:table_end}
          </tbody>
        </table>
      {end} 
      {if:line_type == '3'}        
      <table><tbody><tr><td ><div class="wizwig_content">{DESCRIPTION}</div></td></tr></tbody></table>
      {end} <!-- line_type = 3 -->
      {if:line_type == '4'}
      <br />
      <br />
      <h1 style="font-size:12pt;border-bottom:1px solid #a7a7a7;">{DESCRIPTION}</h1><br />
      {end} <!-- line_type = 4 -->
      {if:line_type == '5'}
      <br />
      <br />
      <h1 style="font-size:12pt;">{DESCRIPTION}</h1><br />
      {end} <!-- line_type = 5 -->
      {if:line_type == '6'}
      <br pagebreak="true"/>
      {end} <!-- line_type = 6 -->
      {if:line_type == '8'}
        {if:SHOW_CHAPTER_TOTAL}
        <table width="100%" cellspacing="0" cellpadding="5" class="invoice_rows">
          <tr>
            <td width="85%"  class="right"><strong>{DESCRIPTION}:</strong></td>
            <td width="15%" class="right " style="text-align:right;"><strong>{CHAPTER_TOTAL}</strong></td>
          </tr>
        </table>
        {end}
      {end}

    {endloop} <!-- loop: quote_line -->
    
  <table cellpadding="5" cellspacing="0" border="0" width="100%;"  style="border:none;">
  <tr ><td colspan="2" height="18"></td></tr></table>

 <!--  {if:SHOW_CHAPTER_TOTAL}<table cellpadding="5" cellspacing="0" border="0" width="100%;" class="invoice_rows"  style="border:1px solid #ccc;" > 
    <tr>
      <td width="85%"  class="right"><strong>{chapter_total_txt}:</strong></td>
      <td width="15%" class="right "><strong>{TOTAL}</strong></td>
    </tr>
  </table><table cellpadding="0" cellspacing="0" border="0" width="100%;"  style="border:none;">
  <tr ><td colspan="2" height="18"></td></tr></table>
  {else}
    <table cellpadding="0" cellspacing="0" border="0" width="100%;"  style="border:none;">
  <tr ><td colspan="2" height="18"></td></tr></table>
  {end} -->
  {endloop}<!-- loop: quote_table -->

{endloop}
{if:show_table}
<br/><br/>
<table width="100%" cellspacing="0" cellpadding="5" class="invoice_rows">
    {if:SHOW_TOTAL}
        <tr>
            <td width="85%" class="right">{subtotal_txt}:</td>
            <td width="15%" class="right">{total_novat}</td>
        </tr>
        <tr class="{VIEW_DISCOUNT}">
            <td width="85%" class="right">{DISCOUNT_TXT} ({TOTAL_DISCOUNT_PROCENT} %):</td>
            <td width="15%" class="right">-{DISCOUNT_VALUE}</td>
        </tr>
        {loop:vat_loop}
            <tr class="{sh_vat}">
                <td width="85%" class="right">{vat_txt} ({vat_percent} %):</td>
                <td width="15%" class="right">{vat_value}</td>
            </tr>
        {endloop}
        <tr>
            <td width="85%" class="right" style="border-top: 1px solid #ccc;"><strong>{GRAND_TOTAL_TXT}:</strong></td>
            <td width="15%" class="right" style="border-top: 1px solid #ccc;"><strong>{GRAND_TOTAL}</strong></td>
        </tr>
    {end}
</table>
{end}

{if:show_discount_total}
<table width="100%" cellspacing="0" cellpadding="5" class="invoice_rows">
    <tr> 
      <td width="100%;" >{discount_total_txt}: {discount_total_value} {no_vat_txt}
      </td>
    </tr>
   </table>
   {end}

  {if:show_notes}
  <table width="100%" cellspacing="0" cellpadding="5" class="invoice_rows">
    <tr> 
      <td width="100%;" style="border-bottom: 1px solid #ccc; text-align:left;">{notes_txt}
      </td>
    </tr>
    <tr>
      <td width="100%;" style=" text-align:left;">{notes}
        
      </td>
    </tr>
   </table>
   {end}
 <br />
 <br />
 
{if:show_stamp_signature}
<br />
<br />
<table width="100%" cellspacing="0" cellpadding="0" class="right" style="clear:both;page-break-inside:avoid;">
  <tbody>
      <tr>
        <td class="last" style="border:1px solid #CCCCCC;text-align:center;">
          {stamp_signature}<br/>
          &nbsp;<br/>
          &nbsp;<br/>
          &nbsp;<br/>
          &nbsp;<br/>
     
          &nbsp;</td>
        <td class="last">&nbsp;</td>
        <td class="last">&nbsp;</td>
      </tr>
  </tbody>
</table>
{end}

<!-- <p style="font-size:9pt;">{notes}</p> -->
{if:is_free_text_content}
    {free_text_br}
    <table cellpadding="5" cellspacing="0" border="0" width="100%;" >
      <tr>
        <td width="100%;" style="border-bottom: 1px solid #ccc">{general_conditions_txt}
        </td>
      </tr>
      <tr>
        <td width="100%;">{free_text_content}
          
        </td>
      </tr>
    </table>
    
{end}



