<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="vmMod.cancel()"><span aria-hidden="true">&times;</span></button>
  <h4 class="modal-title">{l}Quote templates{endl}</h4>
</div>
<div class="modal-body">
  <div uib-alert ng-repeat="alert in vmMod.alerts" type="{{alert.type}}" close="vmMod.alerts.splice($index, 1);" ng-class="['alert-' + (alert.type || 'warning') ]">{{alert.msg}}</div>
    <div class="row">
      <form>
         <div class="col-sm-3 pull-right">
              <div class="btn-group btn-block">
                  <selectize placeholder="{l}All Languages{endl}" config='vmMod.filterCfg' options='vmMod.langs' ng-model="vmMod.search.lang" ></selectize>
              </div>
          </div>      
    </form>
  </div><!-- /.page-search -->
  <table class="table active_rows orderTable quotesTable">
    <thead>
      <tr>
        <th class="col-sm-11" >{l}Name{endl}</th>
        <th class="col-sm-1 table_actions">
        </th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="item in vmMod.list" class="collapseTr">
        <td class="expand_row low_padding" >
        {{::item.name}} {{item.lang_f}}
        </td>
        <td class="text-center"><input type="checkbox" ng-model="vmMod.templates[$index]"  ng-true-value="{{item.id}}" value="{{item.id}}"></td>
      </tr>
    </tbody>
  </table>
  <ul ng-if="vmMod.max_rows > 30" uib-pagination total-items="vmMod.max_rows" ng-model="vmMod.search.offset" ng-change="vmMod.searchThing()" max-size="5" class="pager" boundary-links="true" items-per-page="vmMod.lr" ></ul>  
</div>
<div class="modal-footer">
    <span class="checkbox checkbox-primary d-inline">
      <input type="checkbox" ng-model="vmMod.refresh_prices" class="link-pointer">
      <label for="checkbox_all"></label>
    </span> 
    <span class="link-pointer m-l-20 mr-30"  ng-click="vmMod.refresh_prices=!vmMod.refresh_prices">{l}Update to latest prices{endl}</span>
    <button class="btn btn-plain" type="button" ng-click="vmMod.cancel()">{l}Close{endl}</button>
    <button class="btn btn-default" type="button" ng-click="vmMod.ok()">{l}Confirm{endl}</button>
</div>
