<style>
body {  color: #000;  font-family: Arial, Helvetica, sans-serif;  font-size: 9pt; }
h1 {  font-size:10pt;   font-weight:normal; }
table { border-spacing: 0; }
p {  font-size: 9pt; }
small { font-size: 7pt; }
ol, ul { padding: 0pt; margin: 0pt; font-size: 9pt; }
ol li, ul li{ font-size: 9pt; padding: 0pt; margin: 0pt; }
table td{   font-size: 9pt; }
.border_bottom {  border-bottom: 1px solid #ccc; }
.invoice_rows { border-bottom: 1px solid #ccc; }
.invoice_rows .th { border: 1px solid #ccc; color: #000;  font-size: 9pt; font-weight: bold;  padding-left: 10px; text-align: center; }
.invoice_rows td {  border: 1px solid #ccc; vertical-align:middle;  font-size: 9pt; text-align:right; }
/*.invoice_rows .last { border-right: 1px solid #ccc; }*/
.hide { display:none; }
.right {  text-align:right; }

.wizwig_content{margin:0;padding:0;}
.wizwig_content div { line-height: 120pt; }
.wizwig_content p,.wizwig_content dl{display: block;margin-bottom: 1em;margin-left: 0;margin-right: 0;margin-top: 1em;}
.wizwig_content blockquote,.wizwig_content figure {display: block;margin-bottom: 1em;margin-left: 40px;margin-right: 40px;margin-top: 1em;}
.wizwig_content address{display: block;font-style: italic;}
.wizwig_content center {display: block;}
.wizwig_content h1{color:#000000;display: block;font-size: 2em;font-weight: bold;margin-bottom: 0.67em;margin-left: 0;margin-right: 0;margin-top: 0.67em;}
.wizwig_content h2{display: block;font-size: 1.5em;font-weight: bold;margin-bottom: 0.83em;margin-left: 0;margin-right: 0;margin-top: 0.83em;}
.wizwig_content h3{display: block;font-size: 1.17em;font-weight: bold;margin-bottom: 1em;margin-left: 0;margin-right: 0;margin-top: 1em;}
.wizwig_content h4{display: block;font-size: 1em;font-weight: bold;margin-bottom: 1.33em;margin-left: 0;margin-right: 0;margin-top: 1.33em;}
.wizwig_content h5{display: block;font-size: 0.83em;font-weight: bold;margin-bottom: 1.67em;margin-left: 0;margin-right: 0;margin-top: 1.67em;}
.wizwig_content h6{display: block;font-size: 0.67em;font-weight: bold;margin-bottom: 2.33em;margin-left: 0;margin-right: 0;margin-top: 2.33em;}
.wizwig_content listing {display: block;font-size: medium;margin-bottom: 1em;margin-left: 0;margin-right: 0;margin-top: 1em;white-space: pre;}
.wizwig_content xmp,.wizwig_content pre,.wizwig_content plaintext {display: block;margin-bottom: 1em;margin-left: 0;margin-right: 0;margin-top: 1em;white-space: pre;}
.wizwig_content q:before{content: open-quote;}
.wizwig_content q:after{content: close-quote;}
.wizwig_content b,.wizwig_content strong{font-weight: bolder;}
.wizwig_content i,.wizwig_content cite,.wizwig_content em,.wizwig_content var,.wizwig_content dfn{font-style: italic;}
.wizwig_content tt,.wizwig_content code,.wizwig_content kbd,.wizwig_content samp{font-family: -moz-fixed;}
.wizwig_content big{font-size: larger;}
.wizwig_content small{font-size: smaller;}
.wizwig_content sub{font-size: smaller;line-height: normal;vertical-align: sub;}
.wizwig_content sup{font-size: smaller;line-height: normal;vertical-align: super;}
.wizwig_content mark{background-attachment: scroll;background-clip: border-box;background-color: #FFFF00;background-image: none;background-position: 0 0;background-repeat: repeat;color: #000000;}
.wizwig_content ul,.wizwig_content menu,{display: block;list-style-type: disc;margin-bottom: 1em;margin-left: 0;margin-right: 0;margin-top: 1em;}
.wizwig_content ol{display: block;list-style-type: decimal;margin-bottom: 1em;margin-left: 0;margin-right: 0;margin-top: 1em;}
.wizwig_content li {display: list-item;}
</style>
{if:head}
{HEADER}
{else}
<table cellpadding="2" cellspacing="3" border="0" width="100%" style="border:1px solid #ccc;">
  <tr>
    <td width="32%" valign="top"><h1>{SELLER_NAME}</h1><span class="{HIDE_AUTHOR}">{AUTHOR}</span><br/>
      {SELLER_D_ADDRESS}  <br/>
      {SELLER_D_ZIP} {SELLER_D_CITY} <br/>
      {SELLER_D_COUNTRY}<br />
      {if:SHOW_P}<span class="{HIDE_P}">{PHONE_TXT}: {SELLER_B_PHONE}<br /></span>{end}
      {if:SHOW_F}<span class="{HIDE_F}">{FAX_TXT}: {SELLER_B_FAX}<br /></span>{end}
      {if:SHOW_E}<span class="{HIDE_E}">{EMAIL_TXT}: {SELLER_B_EMAIL}<br /></span>{end}
      {if:SHOW_U}<span class="{HIDE_U}">{URL_TXT}: {SELLER_B_URL}<br /></span>{end}
    </td>
    <td width="1%" valign="top"></td>
    <td width="34%" valign="top" ><table cellpadding="3" cellspacing="0" border="0" width="100%">
        <tr>
          <td style="text-align:center;font-size:14pt;"><strong>{QUOTE_NOTE_TXT}</strong></td>
        </tr>
        <tr>
          <td style="text-align:center; border:1px solid #ccc;">
            {REFERENCE_TXT}: {BUYER_REFERENCE} {SERIAL_NUMBER} <br>
            {DATE_TXT}: {QUOTE_DATE}
            {if:is_validity_date}<br>{VALID_UNTILL_TXT}: {validity_date}{end}
            <span class="{HIDE_YOUR_REF}"><br>{YOUR_REFERENCE_TXT}: {OWN_REFERENCE}</span>
          </td>
        </tr>
        <tr>
          <td></td>
        </tr>
        <tr>
          <td valign="top" style="text-align:center;"><img src="{ACCOUNT_LOGO_Q}" {ATTR} ></td>
        </tr>
      </table></td>
    <td width="1%" valign="top"></td>
    <td width="32%" valign="top"><h1 class="{HIDE_CUSTOMER}">{BUYER_NAME}</h1>{QUOTE_CONTACT_NAME}<br/>
      {free_field}<br/><br/>
      <h1 class="{HIDE_DELIVERY}">{BILLING_ADDRESS_TXT}:</h1>{DELIVERY_ADDRESS}
    </td>
  </tr>
  <tr>
    <td colspan="3" height="10"></td>
  </tr>
</table>
<table width="100%" cellspacing="0" cellpadding="0">
  <tr>
    <td></td>
  </tr>
</table>
{end}
<!--  -->
{loop:quote_group}
  <table class="{QUOTE_GROUP_HAS_TITLE}"><tbody><tr><td><br /></td></tr></tbody></table>&nbsp;
  <h1 style="font-size:12pt;border-bottom:1px solid #CCCCCC;margin:0;padding:0" class="{QUOTE_GROUP_HAS_TITLE}">{QUOTE_GROUP_TITLE}</h1>
  {loop:quote_table}
  {if:pagebreak}{PAGE_BREAK}{end}
  {if:q_content}<table><tbody><tr><td style="font-size:0pt;padding:0; line-height=0pt; height:0pt;"><br /></td></tr></tbody></table><table><tbody><tr><td><div class="wizwig_content">{QUOTE_CONTENT}</div></td></tr></tbody></table>{end}
  {if:q_table}
  <table class="{SERVICE_BLOC_HAS_TITLE}"><tbody><tr><td><br /></td></tr></tbody></table>
  <h1 style="font-size:10pt;border-bottom:1px solid #CCCCCC;margin:0;padding:0" class="{SERVICE_BLOC_HAS_TITLE}">{SERVICE_BLOC_TITLE}</h1><br class="{SERVICE_BLOC_HAS_TITLE}"/>
  <table><tbody><tr><td style="font-size:0pt;padding:0; line-height=0pt; height:0pt;"><br /></td></tr></tbody></table><table width="100%" cellspacing="0" cellpadding="5" class="invoice_rows">
    <tr>
         {S_VIEW_ARTICLE}
      <td class="th" width="14%" style="text-align:left;" >{ARTICLE_CODE_TXT}</td>
        {E_VIEW_ARTICLE}
      <td class="th" width="{ITEM_WIDTH}%" style="text-align:left;">{ITEM_TXT}</td>
      <td class="th {hide_QC}" width="13%">{QUANTITY_TXT}</td>
      <td class="th {hide_UP}" width="13%">{UNIT_PRICE_TXT}</td>
        {S_VIEW_DISCOUNT}
      {if:hide_DISC}<td class="th {hide_DISC}" width="11%">{DISCOUNT_TXT}</td>{end}
        {E_VIEW_DISCOUNT}
        {S_VIEW_VAT}
      <td class="th" width="11%">{VAT_TXT}</td>
        {E_VIEW_VAT}
    <!--  {S_VIEW_ARTICLE}    <td class="th {USE_PACKAGE2}"  width="13%" >{PACKAGE_TXT} <span {USE_SALE_UNIT2} > / {SALE_UNIT_TXT}</span></td> {E_VIEW_ARTICLE} -->
      {if:hide_AC}<td width="14%" class="th {hide_AC} last">{AMOUNT_TXT}</td>{end}
    </tr>
    <tbody>
      {loop:quote_line}
      <tr>
             {S_VIEW_ARTICLE}
          <td style="text-align:left;">{ARTICLE_CODE}{art_img}</td>
          {E_VIEW_ARTICLE}
        <td style="text-align:left;">{DESCRIPTION}</td>
        {if:hide_QC}<td class="{hide_QC}">{QUANTITY}</td>{end}
        <td class="{hide_UP}">{PRICE}</td>
        {S_VIEW_DISCOUNT}
          {if:hide_DISC}<td class="{hide_DISC}" style="text-align:left;">{DISCOUNT} %</td>{end}
          {E_VIEW_DISCOUNT}
             {S_VIEW_VAT}
          <td style="text-align:left;">{VAT} %</td>
          {E_VIEW_VAT}
          {S_VIEW_ARTICLE}  <td  {USE_PACKAGE} >{PACKAGE}<span {USE_SALE_UNIT}>  /  {SALE_UNIT}</span></td> {E_VIEW_ARTICLE}
        {if:hide_AC}<td class="last {hide_AC}">{LINE_TOTAL}</td>{end}
      </tr>
      {endloop}
    </tbody>
  </table>
    {if:show_lVAT != 'hide'}
      <table cellpadding="5" cellspacing="0" border="0" width="100%"  style="border:1px solid #ccc;" class="{show_lVAT}">
        <tr>
          <td width="85%"  class="right"><strong>{VAT_TXT}:</strong></td>
          <td width="15%" class="right "><strong>{VAT_TOTAL}</strong></td>
        </tr>
      </table>
    {end}
    {if:block_total_hide != 'hide'}
      <table cellpadding="5" cellspacing="0" border="0" width="100%"  style="border:1px solid #ccc;" class="{block_total_hide}">
        <tr>
          <td width="85%"  class="right"><strong>{AMOUNT_DUE_TXT}:</strong></td>
          <td width="15%" class="right "><strong>{TOTAL}</strong></td>
        </tr>
      </table>
    {end}
  {end}
  {endloop}
  {if:SHOW_CHAPTER_TOTAL}
  <br/>
  <br/>
  <table cellpadding="5" cellspacing="0" border="0" width="100%"  style="border:1px solid #ccc;">
    <tr>
      <td width="85%"  class="right"><strong>{CHAPTER_TOTAL_TXT}:</strong></td>
      <td width="15%" class="right "><strong>{CHAPTER_TOTAL}</strong></td>
    </tr>
  </table>
  {end}
  {if:show_chapter_pb}<br pagebreak="true" />{end}
{endloop}
{if:show_table}
<br/><br/>
<table cellpadding="5" cellspacing="0" border="0" width="100%"  style="border:1px solid #ccc;">
  {if:SHOW_TOTAL}
  <tr class="">
    <td width="85%" class="right">{subtotal_txt}:</td>
    <td width="15%" class="right">{total_novat}</td>
  </tr>
  <tr class="{VIEW_DISCOUNT}">
    <td width="85%" class="right">{DISCOUNT_TXT} ({TOTAL_DISCOUNT_PROCENT} %): </td>
    <td width="15%" class="right">-{DISCOUNT_VALUE}</td>
  </tr>
  {loop:vat_loop}
  <tr class="{sh_vat}">
    <td width="85%" class="right">{vat_txt} ({vat_percent} %):</td>
    <td width="15%" class="right">{vat_value}</td>
  </tr>
  {endloop}

  <tr>
    <td width="85%"  class="right"><strong>{GRAND_TOTAL_TXT}:</strong></td>
    <td width="15%" class="right "><strong>{GRAND_TOTAL}</strong></td>
  </tr>
  {end}
  <!-- <tr class="{HIDE_DEFAULT_TOTAL}">
    <td width="85%"  class="right"><strong>{GRAND_TOTAL_TXT} ({DEF_CURRENCY})</strong></td>
    <td width="15%" class="right "><strong>{GRAND_TOTAL_DEF}</strong></td>
  </tr> -->
</table>{end}
{if:show_table}<table><tbody><tr><td><br /></td></tr></tbody></table><table><tbody><tr><td><br /></td></tr></tbody></table>
<h1 style="border-bottom:1px solid #CCCCCC;" class="{VIEW_NOTES}">{notes_txt}</h1>
<p style="font-size:9pt;">{notes}</p>
{if:is_free_text_content}
  {free_text_br}
  <h1 style="border-bottom:1px solid #CCCCCC;">{general_conditions_txt}</h1>
  <div class="free_text_content wizwig_content" style="width:890px;border:none;">{free_text_content}</div>
{end}
{end}

{if:show_stamp_signature}
<br />
<br />
<br />
<table width="100%" cellspacing="0" cellpadding="0" class="" style="clear:both;page-break-inside:avoid;">
  <tbody>
      <tr>
        <td class="last" style="border:1px solid #CCCCCC;text-align:center;">
          {stamp_signature}<br/>
          &nbsp;<br/>
          &nbsp;<br/>
          &nbsp;<br/>
          &nbsp;<br/>
          &nbsp;<br/>
          &nbsp;</td>
        <td class="last">&nbsp;</td>
        <td class="last">&nbsp;</td>
      </tr>
  </tbody>
</table>
{end}

