<div class="loading_wrap hidden"><div class="loading"></div><div class="spinner"></div></div>
<div class="modal-header">
  	<h4 class="modal-title">{l}WebLog{endl}</h4>
</div>
<div class="modal-body">
  <div uib-alert type="notice" class="alert-info" ng-if="!vm.obj.weblink_rows.length">{l}No data to display{endl}</div>
  <table class="table orderTable" ng-if="vm.obj.weblink_rows.length">
  <thead>
  <tr>
      <th class="col-sm-3">{l}Code{endl}</th>
      <th class="col-sm-3">{l}IP{endl}</th>
      <th class="col-sm-3">{l}Browser{endl}</th>
      <th class="col-sm-3">{l}Time{endl}</th>
    </tr>                    
  </thead>
  <tbody>
    <tr ng-repeat="item in vm.obj.weblink_rows">
      <td>
        <span class="text-ellipsis">{{item.code}}</span>
      </td>
      <td>
        <span class="text-ellipsis">{{item.ip}}</span>
      </td>
      <td>
        <span class="text-ellipsis">{{item.browser}}</span>
      </td>
      <td>
        <span class="text-ellipsis">{{item.time}}</span>
      </td>                         
    </tr>
  </tbody>
</table>
<ul ng-if="vm.obj.max_rows > vm.obj.lr" uib-pagination total-items="vm.obj.max_rows" ng-model="vm.search.offset" ng-change="vm.searchThing()" max-size="5" class="pager" boundary-links="true" items-per-page="vm.obj.lr" ></ul>
</div>
<div class="modal-footer">
  <button class="btn btn-plain" type="button" ng-click="vm.cancel()">{l}Close{endl}</button>
</div>