<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="art.cancel()"><span aria-hidden="true">&times;</span></button>
  <h4 class="modal-title" >{{art.obj.page_title}}</h4>
</div>
<div class="modal-body delivery_modal">
	<div class="loading_wrap loading_alt hidden">
      	<div class="loading"></div>
        	<div class="spinner"></div>
      </div>
      <!-- <div uib-alert ng-repeat="alert in art.alerts" type="{{alert.type}}" close="art.alerts.splice($index, 1);" ng-class="['alert-' + (alert.type || 'warning') ]" dismiss-on-timeout='5000'>{{alert.msg}}</div> -->
      <div class="row">
	    	<div class="col-xs-12">
	      	<a href="#" ng-click="art.hideDetails=false" ng-class="{ 'hidden':!art.hideDetails }"><span class="glyphicon glyphicon-plus btn-expand" ></span> [{l}change main details{endl}]</a>
	      	<a href="#" ng-click="art.hideDetails=true" ng-class="{ 'hidden':art.hideDetails }"><span class="glyphicon glyphicon-minus btn-expand" ></span> [{l}hide main details{endl}]</a>
	    	</div>
	</div>
      <div class="form-horizontal">
      	<div ng-class="{ 'hidden':art.hideDetails }">
		      <div class="form-group">
		        	<label class="col-xs-3 control-label text-left"><b>{l}Delivery Date{endl}:*</b></label>
		        	<div class="col-xs-3">
			          	<div class="input-group input-group-sm">
			            	<input type="text" class="form-control" ng-model="art.obj.date_del_line" uib-datepicker-popup="{{art.format}}" is-open="art.datePickOpen.date_del_line" datepicker-options="art.dateOptions" date-disabled="art.disabled(date, mode)" ng-required="true" close-text="Close" placeholder="{l}dd/MM/yyyy{endl}" show-button-bar="false" ng-click="art.datePickOpen.date_del_line=true" /><span class="input-group-btn"><button type="button" class="btn btn-default" ng-click="art.openDate('date_del_line')"><span class="glyphicon glyphicon-calendar"></span></button></span>
			          	</div>
		        	</div>
		        	<div class="col-xs-1 input-group-sm">
		          		<select class="form-control" ng-model="art.obj.hour">
		            		<option ng-repeat="option in art.hours" value="{{option}}">{{option}}</option>
		          		</select>
		        	</div>
		        	<div class="col-xs-1 input-group-sm">
		          		<select class="form-control" ng-model="art.obj.minute">
		            		<option ng-repeat="option in art.minutes" value="{{option}}">{{option}}</option>
		          		</select>
		       	 </div>
		        	<div class="col-xs-1 input-group-sm">
		          		<select class="form-control" ng-model="art.obj.pm">
		            		<option value="am">am</option>
		            		<option value="pm">pm</option>
		          		</select>
		        	</div>
		      </div>
		      <div class="form-group">
		        <label class="col-xs-3 control-label text-left"><b>{l}Contact{endl}:</b></label>
		        <div class="col-xs-5">
		          <selectize config='art.contactAutoCfg' options='art.obj.recipients' ng-model="art.obj.contact_id" ></selectize>
		        </div>
		      </div>
		      <div class="form-group">
		        <label class="col-xs-3 control-label text-left"><b>{l}Delivery Address{endl}:</b></label>
		        <div class="col-xs-5">
		          <textarea ng-model="art.obj.delivery_address" class="form-control" rows="5" ng-disabled="art.disableAddress"></textarea>
		        </div>
		        <label class="col-xs-3 control-label text-left">
		          <a href="#" ng-click="art.disableAddress=false" ng-class="{ 'hidden':!art.disableAddress }"><small>[ {l}change{endl} ]</small></a>
		          <a href="#" ng-click="art.disableAddress=true" ng-class="{ 'hidden':art.disableAddress }"><small>[ {l}done{endl} ]</small></a>
		        </label>
		      </div>
	    	</div>
      	<div class="form-group" ng-if="art.obj.is_add && art.obj.view_location">
      		<label class="col-xs-3 control-label text-left"><b>{l}Select location:{endl}</b></label>
      		<div class="col-xs-5">
		            <select class="form-control" ng-model="art.obj.select_main_location" ng-change="art.changeLocation()">	
		            	<option ng-repeat="option in art.obj.location_dd track by option.id" value="{{option.id}}" ng-bind-html="option.name"></option>
		            </select>		                			                    
		      </div>
      	</div>
      	<div class="row" ng-if="art.obj.is_add">
      		<div class="col-xs-12">
	      		<table class="table deliveryTable">
					<thead>
						<tr>
							<th >{l}Article{endl}</th>
							<th >{l}Total Quantity{endl}</th>
							<th ng-if="art.obj.allow_article_packing">{l}Pack{endl}.<span ng-if="art.obj.allow_article_sale_unit"> / {l}S.U.{endl}</span></th>
							<th>{l}Quantity{endl}</th>
							<th ng-if="art.obj.view_location && art.obj.location_dd.length>1">{l}Select Location{endl}</th>
							<th ng-if="art.obj.use_serial_no">{l}Serial Numbers{endl}</th>
						</tr>	
					</thead>
					<tbody>
						<tr class="collapseTr" ng-repeat="item in art.obj.lines">
							<td>{{::item.article}}</td>
							<td>{{::item.quantity2}}</td>
							<td ng-if="item.allow_article_packing">{{::item.packing}} <span ng-if="item.allow_article_sale_unit"> / {{::item.sale_unit}}</span></td>	
							<td ng-class="{ 'is-error':item.is_error }"><input type="text" ng-model="item.quantity" class="form-control" display-nr="" ng-change="art.changeQuantity(item)"><i class="fa fa-exclamation-circle" ng-if="item.is_error"></i></td>
							<td ng-if="art.obj.location_dd.length>1">
					                <span ng-if="item.view_location && item.article_id && item.show_stock" class="glyphicon glyphicon-plus btn-expand" ng-click="art.showStats(item,$index)" ng-class="{ 'glyphicon-minus': item.isopen }" ></span>
					            </td>	
							<td ng-if="art.obj.use_serial_no">
								<button class="btn btn-warning" ng-if="item.use_serial_no_art" ng-click="art.showSerials(item,$index)">{l}Serial Numbers{endl}</button>
							</td>			
						</tr>
					</tbody>
				</table>
			</div>
      	</div>
      	<div class="form-group" ng-if="art.obj.is_add && art.obj.view_location">
		      <label class="col-xs-3 control-label text-left"><b>{l}Delivery note{endl}:</b></label>
		      <div class="col-xs-9">
		        <textarea ng-model="art.obj.delivery_note" class="form-control" rows="5"></textarea>
		      </div>
		</div>
		<div class="form-group" ng-if="!art.obj.is_add">
		      <label class="col-xs-3 control-label text-left"><b>{l}Delivery note{endl}:</b></label>
		      <div class="col-xs-9">
		        <textarea ng-model="art.obj.delivery_note" class="form-control" rows="5"></textarea>
		      </div>
		</div>
		<div class="row" ng-if="!art.obj.is_add">
		      <div class="col-xs-12">
		        <b>{l}Delivery Date{endl}:</b>
		        {{art.obj.delivery_date}} &nbsp;     {{art.obj.hour}}:{{art.obj.minute}} {{art.obj.pm}}
		      </div>
		      <div class="col-xs-12">
		        <b>{l}Contact{endl}:</b>
		        {{art.obj.contact_name}}
		      </div>
		      <div class="col-xs-12">
		        <b>{l}Delivery Address{endl}:</b>
		        <div ng-bind-html="art.obj.delivery_address_txt"></div>
		      </div>
		</div>
		<div class="row" ng-if="!art.obj.is_add">
		      <div class="col-xs-12">
		        <table class="table deliveryTable">
		          <thead>
		            <tr>
		              <th >{l}Article{endl}</th>
		              <th ng-if="art.obj.allow_article_packing">{l}Pack{endl}.<span ng-if="art.obj.allow_article_sale_unit"> / {l}S.U.{endl}</span></th>
		              <th>{l}Quantity{endl}</th>
		              <th ng-if="art.obj.use_serial_no">{l}Serial Numbers{endl}</th>
		            </tr>
		          </thead>
		          <tbody>
		            <tr class="collapseTr" ng-repeat="item in art.obj.lines" ng-init="art.showStats2(item,$index)">
		              <td>{{::item.article}}</td>
		              <td ng-if="art.obj.allow_article_packing">{{::item.packing}} <span ng-if="art.obj.allow_article_sale_unit"> / {{::item.sale_unit}}</span></td>
		              <td>{{::item.quantity}}</td>
		              <td ng-if="art.obj.use_serial_no">
					<button class="btn btn-warning" ng-if="item.use_serial_no_art" ng-click="art.showSerials(item)">{l}Serial Numbers{endl}</button>
				  </td>
		            </tr>
		          </tbody>
		        </table>
		      </div>
		</div>
      </div>
</div>
<div class="modal-footer">
      <button class="btn btn-plain" type="button" ng-click="art.cancel()">{l}Cancel{endl}</button>
      <button class="btn btn-default" type="button" ng-click="art.ok()" ng-if="art.obj.lines.length">{l}Save{endl}</button>
</div>