<div class="modal-header">
  	<button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="mrg.cancel()"><span aria-hidden="true">&times;</span></button>
  	<h4 class="modal-title">{l}Article Prices{endl}</h4>
</div>
<div class="modal-body">
	<div class="loading_wrap loading_alt hidden">
      	<div class="loading"></div>
        <div class="spinner"></div>
    </div>
	<div uib-alert ng-repeat="alert in mrg.alerts" type="{{alert.type}}" close="mrg.alerts.splice($index, 1);" ng-class="['alert-' + (alert.type || 'warning') ]">{{alert.msg}}</div>
	<div class="col-sm-12 col-bottom col-top">
    <div class="row">
       <div class="form-group">
          <label class="col-sm-5 col-lg-4 control-label">{l}Name{endl}</label>
            <div class="col-sm-7 col-lg-8">
                <input type="text" class="form-control" ng-model="mrg.obj.article_name" readonly>
            </div>
      </div><!-- /.form-group -->
      <table class="table active_rows orderTable">
              <thead>
                <tr>
                  <th class="col-md-4 col-sm-4 text-center">{l}Price{endl}</th>
                  <th class="col-md-4 col-sm-4 text-center">{l}Margin{endl} %</th>
                  <th class="col-md-4 col-sm-4 text-center">{l}Sell price{endl}</th>                
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>
                      <div class="col-sm-10">
                        <input type="text" display-nr="" class="form-control" ng-model="mrg.obj.article_purchase_price" ng-blur="mrg.changePPrice()" ng-disabled="mrg.obj.invoiced">
                      </div>                 
                  </td>
                  <td>
                      <div class="col-sm-10">
                        <input type="text" display-nr="" class="form-control" ng-model="mrg.obj.article_margin" ng-blur="mrg.changeMargin()" ng-disabled="mrg.obj.invoiced">
                      </div>
                      <span> %</span>                  
                  </td>
                  <td>
                      <div class="col-sm-10">
                        <input type="text" display-nr="" class="form-control" ng-model="mrg.obj.article_sell_price" ng-blur="mrg.changeSellPrice()" ng-disabled="mrg.obj.invoiced">
                      </div>                 
                  </td>
                </tr>
              </tbody>
      </table>
    </div>
	</div>
</div>
<div class="modal-footer">
      <button class="btn btn-plain" type="button" ng-click="mrg.cancel()">{l}Close{endl}</button>
</div>