<div class="modal-header">
  	<button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="blk.cancel()"><span aria-hidden="true">&times;</span></button>
  	<h4 class="modal-title">{l}Bulk Users{endl}</h4>
</div>
<div class="modal-body">
	<div class="loading_wrap loading_alt hidden">
      	<div class="loading"></div>
        <div class="spinner"></div>
    </div>
	<div uib-alert ng-repeat="alert in blk.alerts" type="{{alert.type}}" close="blk.alerts.splice($index, 1);" ng-class="['alert-' + (alert.type || 'warning') ]">{{alert.msg}}</div>
	<div class="col-sm-12 col-bottom col-top">
    <div class="row page-search">
        <form>
          <div class="col-sm-12 col-md-12">
              <div class="so-field" ng-class="{ 'so-active':blk.search.search!='' }">
                <span class="glyphicon glyphicon-search so-icon"></span>
                <input type="text" class="form-control" placeholder="{l}Search{endl}" search-it doit="blk.search" callbk="blk.renderList" ng-model="blk.search.search">
                <span class="glyphicon glyphicon-remove so-icon so-remove" ng-click="blk.toggleSearchButtons('search','')"></span>
              </div><!-- /.input-search -->
            </div>
        </form>
    </div><!-- /.page-search -->
    <div class="row">
      <table class="table active_rows orderTable">
              <thead>
                <tr>
                  <th class="col-md-8 col-sm-8">{l}Lastname - Firstname{endl}</th>
                  <th class="col-md-4 col-sm-4 text-center">{l}Add user to project{endl}</th>                 
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="item in blk.obj.query">
                  <td><span ng-bind-html="item.NAME"></span></td>
                  <td class="text-center"><button class="btn btn-default" ng-click="blk.addUser(item)"><span class="glyphicon glyphicon-plus"></span></button></td>
                </tr>
              </tbody>
      </table>
    </div>
    <ul ng-if="blk.obj.max_rows > 30" uib-pagination total-items="blk.obj.max_rows" ng-model="blk.search.offset" ng-change="blk.searchThing()" max-size="5" class="pager" boundary-links="true" items-per-page="blk.obj.lr" ></ul>
	</div>
</div>
<div class="modal-footer">
      <button class="btn btn-plain" type="button" ng-click="blk.cancel()">{l}Close{endl}</button>
</div>