<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="vm.cancel()"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title">{{vm.obj.page_title}}</h4>
</div>
<div class="tab-content">
    <div class="tab-pane active" id="labels">
        <div class="modal-body">
            <div uib-alert ng-repeat="alert in vm.alerts" type="{{alert.type}}" close="vm.alerts.splice($index, 1);" ng-class="['alert-' + (alert.type || 'warning') ]" >{{alert.msg}}</div>
            <!-- /.section-title -->
            <form class="form-horizontal" name="expense_form" no-validate=''>
                <div class="row">
                    <div class="col-xs-12">
                        <div class="form-group" ng-class="{ 'form-group_alert' : expense_form.NAME.$invalid && !expense_form.NAME.$pristine }">
                            <label class="col-xs-5 control-label text-left"><strong>{l}Name{endl}:*</strong></label>
                            <div class="col-xs-7">
                                <input type="input" class="form-control" ng-model="vm.obj.NAME" placeholder="{l}Name{endl}" name="NAME">
                                <div class="alert alert-sm alert-danger" ng-if="expense_form.NAME.$invalid && vm.alertsField.NAME">{{vm.alertsField.NAME}}</div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-xs-5 control-label text-left">{l}Unit Price{endl}:</label>
                            <div class="col-xs-7">
                                <input type="input" class="form-control" ng-model="vm.obj.PRICE_NORMAL" display-nr="1" placeholder="{l}Unit Price{endl}">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-xs-5 control-label text-left">{l}Per{endl}:</label>
                            <div class="col-xs-7">
                                <input type="input" class="form-control" ng-model="vm.obj.PER" placeholder="{l}Per:{endl}">
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>

</div>
<div class="modal-footer">
    <button class="btn btn-plain" type="button" ng-click="vm.cancel()">{l}Close{endl}</button>
    <button class="btn btn-default" type="button" ng-click="vm.save_me(expense_form)">{l}Save{endl}</button>
</div>