<style>
body { color: #000; font-family: Arial, Helvetica, sans-serif; font-size: 9pt; }
h1 { font-size:10pt; font-weight:normal; color:#000; }
table { border-collapse: collapse; border-spacing: 0; }
table td{ font-size: 9pt; }
.border_bottom { border-bottom: 1px solid #CCC; }
.invoice_rows { border-bottom: 1px solid #CCC; }
.invoice_rows .th { border: 1px solid #CCC; color: #000; font-size: 9pt; font-weight: bold; padding-left: 10px; text-align: center;}
.invoice_rows td { border-left: 1px solid #CCC; vertical-align:middle; font-size: 9pt; text-align:right; }
.invoice_rows .last { border-right: 1px solid #CCC; }
.hide { display:none; }
.right { text-align:right; }
.left{ float:left;}
.light_grey {  color: #6a747c;}
</style>
{loop:p_hours_row}
<table cellpadding="0" cellspacing="0" border="0" width="100%" class="light_grey">    
  <tr>
    <td width="20%"><strong>{l}Timeframe{endl}:</strong></td>
    <td width="30%">{TIMEFRAME}</td>
    <td width="20%"><strong>{l}Staff{endl}:</strong></td>
    <td width="30%">{STAFFS}</td>
  </tr>  
</table>  
<br><br><br>
<table cellpadding="3" cellspacing="0" border="0" width="100%">    
  <tr>
    <td width="50%" class="light_grey" style="height:450px;border-right:1px solid #ccc">
      {if:expense_date_0}
      <table cellpadding="0" cellspacing="0" border="0" width="100%">   
        <tr>
          <td style="height:320px" colspan="2">{if:picture_0}<img src="{picture_0}" {attr_0} >{end}</td>
        </tr>
        <tr>
          <td width="40%"><strong>{l}Date{endl}:</strong></td>
          <td width="60%">{expense_date_0}</td>
        </tr>
        <tr>
          <td><strong>{l}Project Name{endl}:</strong></td>
          <td>{p_name_0}</td>
        </tr>
        <tr>
          <td><strong>{l}Expense Name{endl}:</strong></td>
          <td>{task_n_0}</td>
        </tr>
        <tr>
          <td><strong>{l}Person{endl}:</strong></td>
          <td>{person_0}</td>
        </tr>
        <tr>
          <td><strong>{l}Quantity{endl}:</strong></td>
          <td>{quantity_0}</td>
        </tr>
        <tr>
          <td><strong>{l}Unit Price{endl}:</strong></td>
          <td>{unit_price_0}</td>
        </tr>
        <tr>
          <td><strong>{l}Internal{endl}:</strong></td>
          <td>{exp_internal_0}</td>
        </tr>
        <tr>
          <td><strong>{l}Unbillable{endl}:</strong></td>
          <td>{exp_unbillable_0}</td>
        </tr>
        <tr>
          <td><strong>{l}Billable{endl}:</strong></td>
          <td>{exp_billable_0}</td>
        </tr>
      </table>  
      {end}          
    </td>
    <td width="50%" class="light_grey" style="height:450px;">   
    {if:expense_date_1}   
      <table cellpadding="0" cellspacing="0" border="0" width="100%">   
        <tr>
          <td style="height:320px" colspan="2">{if:picture_1}<img src="{picture_1}" {attr_1} >{end}</td>
        </tr>
        <tr>
          <td width="40%"><strong>{l}Date{endl}:</strong></td>
          <td width="60%">{expense_date_1}</td>
        </tr>
        <tr>
          <td><strong>{l}Project Name{endl}:</strong></td>
          <td>{p_name_1}</td>
        </tr>
        <tr>
          <td><strong>{l}Expense Name{endl}:</strong></td>
          <td>{task_n_1}</td>
        </tr>
        <tr>
          <td><strong>{l}Person{endl}:</strong></td>
          <td>{person_1}</td>
        </tr>
        <tr>
          <td><strong>{l}Quantity{endl}:</strong></td>
          <td>{quantity_1}</td>
        </tr>
        <tr>
          <td><strong>{l}Unit Price{endl}:</strong></td>
          <td>{unit_price_1}</td>
        </tr>
        <tr>
          <td><strong>{l}Internal{endl}:</strong></td>
          <td>{exp_internal_1}</td>
        </tr>
        <tr>
          <td><strong>{l}Unbillable{endl}:</strong></td>
          <td>{exp_unbillable_1}</td>
        </tr>
        <tr>
          <td><strong>{l}Billable{endl}:</strong></td>
          <td>{exp_billable_1}</td>
        </tr>
      </table> 
      {end}
    </td>
  </tr>  
  <tr>
    <td width="50%" class="light_grey" style="height:450px;border-top:1px solid #ccc;border-right:1px solid #ccc">  
      {if:expense_date_2}
      <table cellpadding="0" cellspacing="0" border="0" width="100%">   
        <tr>
          <td style="height:320px" colspan="2">{if:picture_2}<img src="{picture_2}" {attr_2} >{end}</td>
        </tr>
        <tr>
          <td width="40%"><strong>{l}Date{endl}:</strong></td>
          <td width="60%">{expense_date_2}</td>
        </tr>
        <tr>
          <td><strong>{l}Project Name{endl}:</strong></td>
          <td>{p_name_2}</td>
        </tr>
        <tr>
          <td><strong>{l}Expense Name{endl}:</strong></td>
          <td>{task_n_2}</td>
        </tr>
        <tr>
          <td><strong>{l}Person{endl}:</strong></td>
          <td>{person_2}</td>
        </tr>
        <tr>
          <td><strong>{l}Quantity{endl}:</strong></td>
          <td>{quantity_2}</td>
        </tr>
        <tr>
          <td><strong>{l}Unit Price{endl}:</strong></td>
          <td>{unit_price_2}</td>
        </tr>
        <tr>
          <td><strong>{l}Internal{endl}:</strong></td>
          <td>{exp_internal_2}</td>
        </tr>
        <tr>
          <td><strong>{l}Unbillable{endl}:</strong></td>
          <td>{exp_unbillable_2}</td>
        </tr>
        <tr>
          <td><strong>{l}Billable{endl}:</strong></td>
          <td>{exp_billable_2}</td>
        </tr>
      </table> 
      {end}
    </td>
    <td width="50%" class="light_grey" style="height:450px;border-top:1px solid #ccc">
      {if:expense_date_3}      
      <table cellpadding="0" cellspacing="0" border="0" width="100%">   
        <tr>
          <td style="height:320px" colspan="2">{if:picture_3}<img src="{picture_3}" {attr_3} >{end}</td>
        </tr>
        <tr>
          <td width="40%"><strong>{l}Date{endl}:</strong></td>
          <td width="60%">{expense_date_3}</td>
        </tr>
        <tr>
          <td><strong>{l}Project Name{endl}:</strong></td>
          <td>{p_name_3}</td>
        </tr>
        <tr>
          <td><strong>{l}Expense Name{endl}:</strong></td>
          <td>{task_n_3}</td>
        </tr>
        <tr>
          <td><strong>{l}Person{endl}:</strong></td>
          <td>{person_3}</td>
        </tr>
        <tr>
          <td><strong>{l}Quantity{endl}:</strong></td>
          <td>{quantity_3}</td>
        </tr>
        <tr>
          <td><strong>{l}Unit Price{endl}:</strong></td>
          <td>{unit_price_3}</td>
        </tr>
        <tr>
          <td><strong>{l}Internal{endl}:</strong></td>
          <td>{exp_internal_3}</td>
        </tr>
        <tr>
          <td><strong>{l}Unbillable{endl}:</strong></td>
          <td>{exp_unbillable_3}</td>
        </tr>
        <tr>
          <td><strong>{l}Billable{endl}:</strong></td>
          <td>{exp_billable_3}</td>
        </tr>
      </table> 
      {end}
    </td>
  </tr>  
</table> 
{if:empty_space}<br pagebreak="true"/>{end}
{endloop}