<div class="modal-header">
    <h3 class="modal-title">{l}Edit Label{endl}</h3>
</div>
<ul class="nav nav-tabs" id="tabContent">
    <li class="active"><a href="#labels" data-toggle="tab">{l}PDF Labels{endl}</a></li>
</ul>
<div class="tab-content">
    <div class="tab-pane active" id="labels">
        <div class="modal-body">
            <!-- <div uib-alert ng-repeat="alert in vm.alerts" type="{{alert.type}}" close="vm.alerts.splice($index, 1);" ng-class="['alert-' + (alert.type || 'warning'), 'alert-fixed' ]" dismiss-on-timeout='5000' >{{alert.msg}}</div> -->
            <form class="form-horizontal">
                <div class="row">
                    <div class="col-xs-6">
                        <div class="form-group">
                            <label class="col-xs-5 control-label text-left">{l}Timeframe{endl}:</label>
                            <div class="col-xs-7 input-group-sm">
                                <input type="text" class="form-control" ng-model="vm.labels.timeframe" placeholder="{l}Timeframe{endl}">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-xs-5 control-label text-left">{l}Project{endl}:</label>
                            <div class="col-xs-7 input-group-sm">
                                <input type="text" class="form-control" ng-model="vm.labels.project" placeholder="{l}Project{endl}">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-xs-5 control-label text-left">{l}Total{endl}:</label>
                            <div class="col-xs-7 input-group-sm">
                                <input type="text" class="form-control" ng-model="vm.labels.total" placeholder="{l}Total{endl}">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-xs-5 control-label text-left">{l}Consultant{endl}:</label>
                            <div class="col-xs-7 input-group-sm">
                                <input type="text" class="form-control" ng-model="vm.labels.consultant" placeholder="{l}Consultant{endl}">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-xs-5 control-label text-left">{l}Page{endl}:</label>
                            <div class="col-xs-7 input-group-sm">
                                <input type="text" class="form-control" ng-model="vm.labels.page" placeholder="{l}Page{endl}">
                            </div>
                        </div>

                    </div>
                    <div class="col-xs-6">
                        <div class="form-group">
                            <label class="col-xs-5 control-label text-left">{l}Hours{endl}:</label>
                            <div class="col-xs-7 input-group-sm">
                                <input type="text" class="form-control" ng-model="vm.labels.hours" placeholder="{l}Hours{endl}">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-xs-5 control-label text-left">{l}Task{endl}:</label>
                            <div class="col-xs-7 input-group-sm">
                                <input type="text" class="form-control" ng-model="vm.labels.task" placeholder="{l}Task{endl}">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-xs-5 control-label text-left">{l}Customer{endl}:</label>
                            <div class="col-xs-7 input-group-sm">
                                <input type="text" class="form-control" ng-model="vm.labels.customer" placeholder="{l}Customer{endl}">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-xs-5 control-label text-left">{l}Comment{endl}:</label>
                            <div class="col-xs-7 input-group-sm">
                                <input type="text" class="form-control" ng-model="vm.labels.comment" placeholder="{l}Comment{endl}">
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-plain" type="button" ng-click="vm.cancel()">{l}Close{endl}</button>
    <button class="btn btn-default" type="button" ng-click="vm.ok(vm,vm.labels)">{l}OK{endl}</button>
</div>