<div class="modal-header">
  	<button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="inv.cancel()"><span aria-hidden="true">&times;</span></button>
  	<h4 class="modal-title">{l}Prepare invoice{endl}</h4>
</div>
<div class="modal-body modal-body_alt">
	<div class="col-sm-12 col-bottom col-top">
		<div class="row form-horizontal" ng-if="inv.obj.not_6 && inv.obj.HIDE_BASE_TYPE1">
			<div class="form-group">
		              <label class="col-sm-4 col-lg-3 control-label text-left">{{inv.obj.billable_h}}</label>
		                <div class="col-sm-8 col-lg-9">
		                  <div class="row">
		                  	<div class="col-sm-1">
		                  		<input type="radio" value="0" ng-model="inv.obj.hours_type">
		                  	</div>
		                  	<label>{{inv.obj.first_choice}}</label>
		                  </div>
		                  <div class="row">
		                  	<div class="col-sm-1 pull-left">
		                  		<input type="radio" value="1" ng-model="inv.obj.hours_type">
		                  	</div>
		                  	<label class="control-label pull-left">{{inv.obj.second_choice}}</label>
		                  	<div class="col-sm-4 pull-left">
		                  		<select class="form-control" ng-model="inv.obj.custom_hours">
			                  		<option ng-repeat="option in inv.obj.custom_hours_dd track by option.id" value="{{option.id}}" ng-bind-html="option.value"></option>
			                  	</select>
		                  	</div>                  	
		                  </div>
		                  <div class="row margin-top" ng-if="inv.obj.custom_hours=='3'">
		                  	<div class="form-group col-sm-4">
		                  		<label class="control-label col-sm-3">{l}From{endl}:</label>
			                  	<div class="col-sm-9">
			                  		<div class="so-field input-date">
					                    <span class="glyphicon glyphicon-calendar so-icon" ng-click="inv.datePickOpen.invoice_start_date=true"></span>
					                    <input type="text" class="form-control form-control-border-right" ng-model="inv.obj.invoice_start_date" uib-datepicker-popup="{{inv.format}}" is-open="inv.datePickOpen.invoice_start_date" datepicker-options="inv.dateOptions" ng-required="true" close-text="Close" placeholder="{l}From{endl}" show-button-bar="false" ng-click="inv.datePickOpen.invoice_start_date=true"/>
					                  </div><!-- /.so-field -->
			                  	</div>
		                  	</div>
		                  	<div class="form-group col-sm-4">
		                  		<label class="control-label col-sm-3">{l}To{endl}:</label>
			                  	<div class="col-sm-9">
			                  		<div class="so-field input-date">
			                  			<span class="glyphicon glyphicon-calendar so-icon" ng-click="inv.datePickOpen.invoice_end_date=true"></span>
					                    	<input type="text" class="form-control form-control-border-right" ng-model="inv.obj.invoice_end_date" uib-datepicker-popup="{{inv.format}}" is-open="inv.datePickOpen.invoice_end_date" datepicker-options="inv.dateOptions" ng-required="true" close-text="Close" placeholder="{l}To{endl}" show-button-bar="false" ng-click="inv.datePickOpen.invoice_end_date=true"/>
			                  		</div>	                  		
			                  	</div>
		                  	</div>		                  	
		                  </div>
		                </div>
		      </div><!-- /.form-group -->
		</div>
		<div class="row form-horizontal">
		      <div class="form-group" ng-if="inv.obj.VIEW_TASK_OPTIONS">
		      	<label class="col-sm-4 col-lg-3 control-label text-left">{l}Select task{endl}</label>
		      	<div class="col-sm-8 col-lg-9">
		      		<div class="row" ng-repeat="item in inv.obj.tasks_id">
		                  	<div class="col-sm-1">
		                  		<input type="checkbox" ng-model="item.checked">
		                  	</div>
		                  	<label>{{item.value}}</label>
		                  </div>
		      	</div>
		      </div>
		      <div class="form-group" ng-if="inv.obj.VIEW_ARTICLE_OPTIONS">
		      	<label class="col-sm-4 col-lg-3 control-label text-left">{l}Select article{endl}</label>
		      	<div class="col-sm-8 col-lg-9">
		      		<div class="row" ng-repeat="item in inv.obj.project_a_id">
		                  	<div class="col-sm-1">
		                  		<input type="checkbox" ng-model="item.checked">
		                  	</div>
		                  	<label>{{item.value}}</label>
		                  </div>
		      	</div>
		      </div>
		      <div class="form-group" ng-if="inv.obj.VIEW_PURCHASE_OPTIONS">
		      	<label class="col-sm-4 col-lg-3 control-label text-left">{l}Select purchase{endl}</label>
		      	<div class="col-sm-8 col-lg-9">
		      		<div class="row" ng-repeat="item in inv.obj.project_purchases_id">
		                  	<div class="col-sm-1">
		                  		<input type="checkbox" ng-model="item.checked">
		                  	</div>
		                  	<label>{{item.value}}</label>
		                  </div>
		      	</div>
		      </div>
		</div>
	</div>
</div>
<div class="modal-footer">
      <button class="btn btn-plain" type="button" ng-click="inv.cancel()">{l}Cancel{endl}</button>
      <button class="btn btn-default" type="button" ng-click="inv.ok()">{l}Save{endl}</button>
</div>