<div class="modal-header">
  	<button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="app.cancel()"><span aria-hidden="true">&times;</span></button>
  	<h4 class="modal-title">{{app.obj.title}}</h4>
</div>
<div class="modal-body">
	  <div class="loading_wrap loading_alt hidden">
      	<div class="loading"></div>
        	<div class="spinner"></div>
      </div>
      <!-- <div uib-alert ng-repeat="alert in app.alerts" type="{{alert.type}}" close="app.alerts.splice($index, 1);" ng-class="['alert-' + (alert.type || 'warning') ]" dismiss-on-timeout='5000'>{{alert.msg}}</div> -->
	<div class="col-sm-12 col-bottom col-top">
		<div class="row form-group">
		      <label class="col-sm-5 col-lg-5 control-label text-left">{{app.obj.undo_all_approved}}</label>
		      <div class="col-sm-7 col-lg-7">
		      	 <select class="form-control" ng-model="app.obj.week">
		              <option ng-repeat="option in app.obj.weeks track by option.value" value="{{option.value}}" ng-bind-html="option.name"></option>
		         </select>
		      </div>
		</div>
	</div>
</div>
<div class="modal-footer">
      <button class="btn btn-plain" type="button" ng-click="app.cancel()">{l}Cancel{endl}</button>
      <button class="btn btn-default" type="button" ng-click="app.ok()">{l}Save{endl}</button>
</div>