<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="vm.cancel()"><span aria-hidden="true">&times;</span></button>
  <h4 class="modal-title">{l}Create downpayment{endl}</h4>
</div>
<div class="modal-body">
	<div class="col-sm-12" uib-alert ng-repeat="alert in vm.alerts" type="{{alert.type}}" close="vm.alerts.splice($index, 1);" ng-class="['alert-' + (alert.type || 'warning'), 'alert-fixed' ]">{{ alert.msg }}</div>	
	<div class="form-horizontal m-t-5">
	    <div class="form-group">
	      <label class="col-sm-4 control-label text-left">{l}Fixed price{endl}</label>
	      <div class="col-sm-4">
	          <div class="input-group">
	            <input type="text" class="form-control" display-nr="" placeholder="0" aria-describedby="basic-addon2" ng-model="vm.data.downpayment_fixed" ng-blur="vm.setDownType('1')">
	            <span class="input-group-addon" ng-bind-html="vm.data.ACCOUNT_CURRENCY"></span>
	          </div>
	      </div>
	      <div class="col-sm-4">
	        <selectize config='vm.selectfg' options='vm.downpayment_opts' ng-model="vm.downpayment_opt_id"></selectize>
	      </div>                        
	    </div>
	    <div class="form-group" >
	      <label class="col-sm-4 control-label text-left">{l}Percent{endl}</label>
	      <div class="col-sm-4">
	          <div class="input-group">
	            <input type="text" class="form-control" display-nr="" placeholder="0" aria-describedby="basic-addon2" ng-model="vm.data.downpayment_percent" ng-blur="vm.setDownType('2')">
	            <span class="input-group-addon">%</span>
	          </div>
	      </div>
	    </div>
	</div>
</div>
<div class="modal-footer">
    <button class="btn btn-plain" type="button" ng-click="vm.cancel()">{l}Cancel{endl}</button>
    <button class="btn btn-default" type="button" ng-click="vm.createDownPayment()" ng-disabled="!vm.showTxt.btn_create">{l}Create{endl}</button>
</div>