<div class="container">
    <div class="page-header">
        <div class="row">
            <div class="col-xs-8 col-sm-6">
                <h1>{l}Projects{endl}</h1>
            </div>
            <div class="col-xs-4 col-sm-6 text-right" ng-if="show_settings.is_admin_project">
                <div class="dropdown new-settings">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-ellipsis-v"></i></button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <li class="dropdown-item" ng-class="{ 'current':menu.submenu == 'project_setting' }">
                            <a go-to="" href="projectSettings/" state="projectSettings"><span class="fas fa-cog text-primary"></span> {l}Project Module{endl}</a>
                        </li>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /.page-header -->
    <div class="tabs-navigation">
        <ul class="nav nav-tabs">
            <li class="active">
                <a href="projects/" go-to="" state="projects">{l}Projects{endl}</a>
                <button type="button" class="btn btn-primary btn-add" go-to="" state="project.edit" params='{"project_id": "tmp"}' tooltip-placement="top"><span class="btn-add_icon"><span class="icon-bar"></span><span class="icon-bar-2"></span></span></button>
            </li>
            <li>
                <a href="project_invoice/" go-to="" state="project_invoice">{l}Billable{endl}</a>
            </li>
            <li>
                <a href="project_deliver/" go-to="" state="project_deliver">{l}To Deliver{endl}</a>
            </li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane active">
                <!-- <div uib-alert ng-repeat="alert in alerts" type="{{alert.type}}" close="alerts.splice($index, 1);" ng-class="['alert-' + (alert.type || 'warning') ]" dismiss-on-timeout='5000'>{{alert.msg}}</div>
                <div uib-alert type="notice" class="alert-warning" ng-if="!list.length">{l}No data to display{endl}</div> -->
                <div class="row page-search" ng-class="{ 'page-search-options':archive_access_top }">
                    <form>
                        <div class="col-sm-12">
                            <div class="row">
                                <div class="col-sm-10 col-md-10">
                                    <div class="so-field" ng-class="{ 'so-active':search.search!='' }">
                                        <span class="glyphicon glyphicon-search so-icon"></span>
                                        <input type="text" class="form-control" placeholder="{l}Search{endl}" search-it doit="search" callbk="renderList" ng-model="search.search">
                                        <span class="glyphicon glyphicon-remove so-icon so-remove" ng-click="toggleSearchButtons('search','')"></span>
                                    </div>
                                    <!-- /.input-search -->
                                </div>
                                <div class="col-sm-2">
<!--                                    <div class="btn-group btn-block">-->
<!--                                        <selectize placeholder="{l}All Statuses{endl}" config='filterCfg' options='views' ng-model="activeView">-->
<!--                                        </selectize>-->
<!--                                    </div>-->
                                    <div class="so-field" ng-class="{ 'so-active':search.view }">
                                        <selectize config='filterCfg' options='views' ng-model='search.view'></selectize>
                                        <span class="glyphicon glyphicon-remove so-icon so-remove" ng-click="toggleSearchButtons('view', '')"></span>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="page-search-button" ng-if="archive_access_top">
                            <div class="btn-group" uib-dropdown>
                                <button type="button" class="btn btn-tertiary btn-square dropdown-toggle" uib-dropdown-toggle>
                        <span class="caret"></span>
                        <span class="sr-only"></span>
                      </button>
                                <ul class="dropdown-menu dropdown-menu-right" uib-dropdown-menu>
                                    <li ng-if="search.archived"><a href="#" ng-click="archived(0)"><span class="fa fa-list-ul" ></span> {l}Active Project{endl}</a></li>
                                    <li ng-if="!search.archived"><a href="#" ng-click="archived(1)"><span class="fas fa-archive new_archive" ></span> {l}Archived Project{endl}</a></li>
                                </ul>
                            </div>
                        </div>
                    </form>
                </div>
                <!-- /.page-search -->
                <div class="row page-content">
                    <div class="col-sm-12">
                        <table class="table active_rows orderTable">
                            <thead>
                                <tr>
                                    <th class="col-sm-3 sortable_row" ng-class="{ 'sortable_row-up':(!reverse && ord=='serial_number') , 'sortable_row-down':(reverse && ord=='serial_number') }" ng-click="orderBY('serial_number')">{l}Project number{endl}</th>
                                    <th class="col-sm-1 sortable_row" ng-class="{ 'sortable_row-up':(!reverse && ord=='start_date') , 'sortable_row-down':(reverse && ord=='start_date') }" ng-click="orderBY('start_date')">{l}Start Date{endl}</th>
                                    <th class="col-sm-1 sortable_row" ng-class="{ 'sortable_row-up':(!reverse && ord=='end_date') , 'sortable_row-down':(reverse && ord=='end_date') }" ng-click="orderBY('end_date')">{l}End Date{endl}</th>
                                    <th class="col-sm-2 sortable_row" ng-class="{ 'sortable_row-up':(!reverse && ord=='name') , 'sortable_row-down':(reverse && ord=='name') }" ng-click="orderBY('name')">{l}Name{endl}</th>
                                    <th class="col-sm-3 sortable_row" ng-class="{ 'sortable_row-up':(!reverse && ord=='company_name') , 'sortable_row-down':(reverse && ord=='company_name') }" ng-click="orderBY('company_name')">{l}Account Name{endl} </th>
                                    <th class="col-sm-1"></th>
                                    <th class="col-sm-1 table_actions"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="item in list" class="collapseTr">
                                    <td class="text-muted expand_row">
                                        <i class="fa fa-chevron-right btn-expand" ng-click="listMore($index)"></i>
                                        <i class="fa fa-chevron-down btn-expand hidden" ng-click="listLess($index)"></i>
                                        <!-- <span class="glyphicon glyphicon-plus btn-expand" ng-click="listMore($index)"></span>
                        <span class="glyphicon glyphicon-minus btn-expand hidden" ng-click="listLess($index)"></span> -->
                                        <span go-to="" state="project.edit" params='{"project_id": {{::item.project_id}}}' list='{ "type":"project-projects", "obj": { "search":{{search}}, "cindex":{{$index}}, "total_items":{{max_rows}} } }'>               
                          <span ng-if="!search.archived && item.stage !=2" class="item-status item-status-gray" ng-class="{ 'item-status-green':item.stage==1 }" title="{{item.status_title}}"></span>
                                        <img src="images/{{item.project_type}}.png" title="{{item.project_title}}" />
                                        <a href="project/edit/{{item.project_id}}" class="text-muted"><span ng-bind-html="item.PROJECT_NUMBER"></span></a>
                                        </span>
                                    </td>
                                    <td class="text-muted" go-to="" state="project.edit" params='{"project_id": {{::item.project_id}}}' list='{ "type":"project-projects", "obj": { "search":{{search}}, "cindex":{{$index}}, "total_items":{{max_rows}} } }'>
                                        <a href="project/edit/{{item.project_id}}" class="text-muted"><span ng-bind-html="item.PROJECT_DATE"></span></a>
                                    </td>
                                    <td class="text-muted" go-to="" state="project.edit" params='{"project_id": {{::item.project_id}}}' list='{ "type":"project-projects", "obj": { "search":{{search}}, "cindex":{{$index}}, "total_items":{{max_rows}} } }'>
                                        <a href="project/edit/{{item.project_id}}" class="text-muted"><span ng-bind-html="item.END_DATE"></span></a>
                                    </td>
                                    <td class="text-muted" go-to="" state="project.edit" params='{"project_id": {{::item.project_id}}}' list='{ "type":"project-projects", "obj": { "search":{{search}}, "cindex":{{$index}}, "total_items":{{max_rows}} } }'>
                                        <a href="project/edit/{{item.project_id}}" class="text-muted"><span ng-bind-html="item.NAME"></span></a>
                                    </td>
                                    <td class="text-muted" go-to="" state="project.edit" params='{"project_id": {{::item.project_id}}}' list='{ "type":"project-projects", "obj": { "search":{{search}}, "cindex":{{$index}}, "total_items":{{max_rows}} } }'>
                                        <a href="project/edit/{{item.project_id}}" class="text-muted"><span ng-bind-html="item.CUSTOMER"></span></a>
                                    </td>
                                    <td>
                                        <div ng-if="item.show_progress_bar" class="progress margin-bottom-none">
                                            <div class="progress-bar" style="width: {{item.width}}%;"></div>
                                            <div ng-if="item.over_spent" class="progress-bar progress-bar-danger" style="width: {{item.width_red}}%;"></div>
                                        </div>
                                    </td>
                                    <td class="table_actions">
                                        <div class="btn-group" uib-dropdown>
                                            <button type="button" class="btn btn-plain dropdown-toggle" uib-dropdown-toggle>
                                <span class="caret"></span>
                            </button>
                                            <ul class="dropdown-menu dropdown-menu-right" uib-dropdown-menu>
                                                <li class="dropdown-header">{l}Action{endl}</li>
                                                <li>
                                                    <a href="#" go-to="" state="project.edit" params='{"project_id": {{::item.project_id}}}' list='{ "type":"project-project", "obj": { "search":{{search}}, "cindex":{{$index}}, "total_items":{{max_rows}} } }'><span class="fas fa-pen text-primary"></span> {l}Edit{endl}</a>
                                                </li>
                                                <li ng-if="item.archive_access && (!search.archived || search.archived =='0')">
                                                    <a href="#" ng-click="action(item,'ARCHIVE_LINK')" confirm-title="{{item.confirm}}" confirm-ok="{{item.ok}}" confirm-cancel="{{item.cancel}}" confirm="{l}Are you sure, you wanna archive this entry?{endl}"><span class="fas fa-archive text-primary"></span> {l}Archive{endl}</a>
                                                </li>
                                                <li ng-if="item.archive_access && search.archived =='1' ">
                                                    <a href="#" ng-click="action(item,'ACTIVATE_LINK')" confirm-title="{{item.confirm}}" confirm-ok="{{item.ok}}" confirm-cancel="{{item.cancel}}" confirm="{l}Are you sure, you wanna revert this entry?{endl}"><span class="glyphicon glyphicon-repeat text-primary"></span> {l}Revert{endl}</a>
                                                </li>
                                                <li ng-if="item.archive_access">
                                                    <a href="#" ng-click="action(item,'DELETE_LINK')" confirm-title="{{item.confirm}}" confirm-ok="{{item.ok}}" confirm-cancel="{{item.cancel}}" confirm="{l}Are you sure, you wanna delete this entry?{endl}"><span class="fas fa-trash-alt text-primary"></span> {l}Delete{endl}</a>
                                                </li>
                                                <li>
                                                    <a href="#" go-to="" state="project.report" params='{"project_id": {{::item.project_id}}}' list='{ "type":"project-project", "obj": { "search":{{search}} } }'><span class="fas fa-chart-line text-primary"></span> {l}Report{endl}</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <!-- /.page-content -->
            </div>
        </div>
    </div>
    <!-- <pag-custom pages="pager" refresh="renderList()" doit='invoice-invoices'></pag-custom> -->
    <div class="col-sm-12">
        <div class="col-sm-8">
            <ul ng-if="max_rows > 30" uib-pagination total-items="max_rows" ng-model="search.offset" ng-change="searchThing()" max-size="5" class="pager" boundary-links="true" items-per-page="lr"></ul>
        </div>
        <div class="col-sm-4 text-right">
            <label>{l}Number of projects{endl}: <strong>{{max_rows}}</strong></label>
        </div>
    </div>
</div>
<!-- neede on all pages -->