<div class="modal-header">
  	<button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="app.cancel()"><span aria-hidden="true">&times;</span></button>
  	<h4 class="modal-title">{{app.obj.title}}</h4>
</div>
<div class="modal-body">
	  <div class="loading_wrap loading_alt hidden">
      	<div class="loading"></div>
        	<div class="spinner"></div>
      </div>
	<div class="col-sm-12 col-bottom col-top">
		<div class="row form-group">
		      <label class="col-sm-4 col-lg-4 control-label text-left">{l}Close selected tasks{endl}</label>
		      <div class="col-sm-8 col-lg-8">
		      	<input type="checkbox" ng-model="app.obj.close_tasks">
		      </div>
		</div>
		<div uib-alert type="notice" class="alert-warning" ng-if="!app.obj.tasks.is_data">{l}No data to display{endl}</div>
		<table class="table orderTable" ng-if="app.obj.tasks.is_data">
			<thead>
				<tr>
					<th class="col-sm-9">{l}Task name{endl}</th>
					<th class="col-sm-3">{l}Select{endl}</th>
				</tr>
			</thead>
			<tbody>
				<tr class="collapseTr" ng-repeat="item in app.obj.tasks.tasks">
				    <td>{{item.task_name}}</td>
				    <td><input type="checkbox" ng-model="item.tasks_approve"></td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
<div class="modal-footer">
      <button class="btn btn-plain" type="button" ng-click="app.cancel()">{l}Cancel{endl}</button>
      <button class="btn btn-default" type="button" ng-click="app.ok()">{l}Save{endl}</button>
</div>