<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="add.close_modal()"><span aria-hidden="true">&times;</span></button>
  <h4 class="modal-title">{l}Project Setup{endl}</h4>
</div>
<div class="modal-body modal-body_alt">
	<!-- <div uib-alert ng-repeat="alert in add.alerts" type="{{alert.type}}" close="add.alerts.splice($index, 1);" dismiss-on-timeout="3500" ng-class="['alert-' + (alert.type || 'warning'), 'alert-fixed alert', 'alert-fixed-modal' ]">{{alert.msg}}</div> -->
	<div class="row setup_timeline">
		<div class="setup_step" ng-class="{ 'col-xs-3':!add.obj.item.quote_id, 'col-xs-2':add.obj.item.quote_id, 'col-xs-offset-1':add.obj.item.quote_id, 'active':add.step==0 }">
			<div class="setup_card">1</div>
		</div>
		<div class="setup_step" ng-class="{ 'col-xs-3':!add.obj.item.quote_id, 'col-xs-2':add.obj.item.quote_id, 'active':add.step==1 }">
			<div class="setup_card">2</div>
		</div>
		<div class="setup_step" ng-class="{ 'col-xs-3':!add.obj.item.quote_id, 'col-xs-2':add.obj.item.quote_id,'active':add.step==2 }">
			<div class="setup_card">3</div>
		</div>
		<div class="setup_step" ng-class="{ 'col-xs-3':!add.obj.item.quote_id, 'col-xs-2':add.obj.item.quote_id,'active':add.step==3 }">
			<div class="setup_card">4</div>
		</div>
		<div class="col-xs-2 setup_step" ng-class="{ 'active':add.step==4 }" ng-if="add.obj.item.quote_id">
			<div class="setup_card">5</div>
		</div>
	</div>
	<div class="row col-bottom" ng-show="(!add.obj.item.quote_id && add.step==3) || (add.obj.item.quote_id && add.step==4)">
		<div class="col-xs-8 col-xs-offset-2 col-bottom">
			<div class="alert alert-sm alert-warning">{l}Project Settings are final and can't be updated later on{endl}</div>
		</div>
	</div>
	<div class="row col-bottom" ng-show="add.step==0">
		<div class="col-xs-12 col-sm-4 col-sm-offset-4">
			<div class="row">
				<div class="form-group">
					<label class="control-label col-sm-5"><b>{l}Project Name{endl}</b></label>
					<div class="col-sm-12">
						<input type="text" class="form-control" ng-model="add.obj.item.name" placeholder="{l}Project Name{endl}" ng-blur="add.setName()" ng-keypress="add.setNamePress($event)">
					</div>				
				</div>
			</div>
		</div>
	</div>	
	<div class="row col-bottom" ng-show="add.step==1">
		<div class="col-sm-4" ng-class="{ 'col-sm-offset-2':add.obj.item.quote_id }">
			<button class="btn btn-block btn-lg btn-setup" ng-click="add.set_type('1')" ng-class="{ 'active':add.obj.item.project_type=='1' }">
				<div class="btn-setup_holder">
					<div class="text-holder">
						<span class="icon-holder">
							<img src="images/time_p.png" alt="" width="16" height="16">
						</span>
						{l}Time & Expenses{endl}
					</div>
				</div>
			</button>
		</div>
		<div class="col-sm-4">
			<button class="btn btn-block btn-lg btn-setup" ng-click="add.set_type('2')" ng-class="{ 'active':add.obj.item.project_type=='2' }">
				<div class="btn-setup_holder">
					<div class="text-holder">
						<span class="icon-holder">
							<img src="images/fixed_p.png" alt="" width="16" height="16">
						</span>
						{l}Fixed price{endl}
					</div>
				</div>
			</button>
		</div>
		<div class="col-sm-4" ng-if="!add.obj.item.quote_id">
			<button class="btn btn-block btn-lg btn-setup" ng-click="add.set_type('3')" ng-class="{ 'active':add.obj.item.project_type=='3' }">
				<div class="btn-setup_holder">
					<div class="text-holder">
						<span class="icon-holder">
							<i class="fa fa-university" aria-hidden="true"></i>
						</span>
						{l}Internal Project{endl}
					</div>
				</div>
			</button>
		</div>
	</div>
	<div class="row col-bottom" ng-show="add.step==2 && (add.obj.item.project_type=='1' || add.obj.item.project_type=='3')">
		<div class="col-sm-4" ng-class="{ 'col-sm-offset-2':add.obj.item.project_type=='1', 'col-sm-offset-4':add.obj.item.project_type=='3' }">
			<button class="btn btn-block btn-lg btn-setup" ng-click="add.set_time_type('0')" ng-class="{ 'active':add.obj.item.project_rate=='0' }">
				<div class="btn-setup_holder">
					<div class="text-holder">
						<span class="icon-holder">
							<i class="fa fa-clock-o" aria-hidden="true"></i>
						</span>
						{l}Hourly Rate{endl}
					</div>
				</div>
			</button>
		</div>
		<div class="col-sm-4" ng-show="add.obj.item.project_type=='1'">
			<button class="btn btn-block btn-lg btn-setup" ng-click="add.set_time_type('1')" ng-class="{ 'active':add.obj.item.project_rate=='1' }">
				<div class="btn-setup_holder">
					<div class="text-holder">
						<span class="icon-holder">
							<i class="fa fa-calendar-o" aria-hidden="true"></i>
						</span>
						{l}Daily Rate{endl}
					</div>
				</div>
			</button>
		</div>
	</div>
	<div class="row col-bottom" ng-show="add.step==2 && add.obj.item.project_type=='2'">
		<div class="col-xs-12 col-sm-4 col-sm-offset-2">
			<button class="btn btn-block btn-lg btn-setup" ng-click="add.set_billable_type('5')" ng-class="{ 'active':add.obj.item.billable_type=='5' }">
				<div class="btn-setup_holder">
					<div class="text-holder">
						<span class="icon-holder">
							<i class="fa fa-tasks" aria-hidden="true"></i>
						</span>
						{l}budget per task{endl}
					</div>
				</div>
			</button>
		</div>
		<div class="col-sm-4">
			<button class="btn btn-block btn-lg btn-setup" ng-click="add.set_billable_type('6')" ng-class="{ 'active':add.obj.item.billable_type=='6' }">
				<div class="btn-setup_holder">
					<div class="text-holder">
						<span class="icon-holder">
							<i class="fa fa-database" aria-hidden="true"></i>
						</span>
						{l}retainer (monthly fixed amount){endl}
					</div>
				</div>
			</button>
		</div>
	</div>
	<div class="row col-bottom" ng-show="add.step==3 && (add.obj.item.project_type=='1' || add.obj.item.project_type=='3') && add.obj.item.project_rate=='0'">
		<div class="col-xs-12 col-sm-4">
			<button class="btn btn-block btn-lg btn-setup" ng-click="add.set_billable_type('1')" ng-class="{ 'active':add.obj.item.billable_type=='1' }">
				<div class="btn-setup_holder">
					<div class="text-holder">
						<span class="icon-holder">
							<i class="fa fa-sticky-note" aria-hidden="true"></i>
						</span>
						{l}task hourly rate{endl}
					</div>
				</div>
			</button>
		</div>
		<div class="col-xs-12 col-sm-4">
			<button class="btn btn-block btn-lg btn-setup" ng-click="add.set_billable_type('2')" ng-class="{ 'active':add.obj.item.billable_type=='2' }">
				<div class="btn-setup_holder">
					<div class="text-holder">
						<span class="icon-holder">
							<i class="fa fa-user" aria-hidden="true"></i>
						</span>
						{l}person hourly rate{endl}					
					</div>
				</div>
			</button>
		</div>
		<div class="col-xs-12 col-sm-4">
			<button class="btn btn-block btn-lg btn-setup" ng-click="add.set_billable_type('3')" ng-class="{ 'active':add.obj.item.billable_type=='3' }">
				<div class="btn-setup_holder">
					<div class="text-holder">
						<span class="icon-holder">
							<i class="fa fa-clock-o" aria-hidden="true"></i>
						</span>
						{l}project hourly rate{endl}
					</div>
				</div>
			</button>
		</div>
	</div>
	<div class="row col-bottom" ng-show="add.step==3 && add.obj.item.project_type=='1' && add.obj.item.project_rate=='1'">
		<div class="col-xs-12 col-sm-4">
			<button class="btn btn-block btn-lg btn-setup" ng-click="add.set_billable_type('1')" ng-class="{ 'active':add.obj.item.billable_type=='1' }">
				<div class="btn-setup_holder">
					<div class="text-holder">
						<span class="icon-holder">
							<i class="fa fa-sticky-note" aria-hidden="true"></i>
						</span>
						{l}Task daily rate (each task can have its own daily rate){endl}
					</div>
				</div>
			</button>
		</div>
		<div class="col-xs-12 col-sm-4">
			<button class="btn btn-block btn-lg btn-setup" ng-click="add.set_billable_type('2')" ng-class="{ 'active':add.obj.item.billable_type=='2' }">
				<div class="btn-setup_holder">
					<div class="text-holder">
						<span class="icon-holder">
							<i class="fa fa-user" aria-hidden="true"></i>
						</span>
						{l}Person daily rate (each user can have its own daily rate){endl}	
					</div>
				</div>
			</button>
		</div>
		<div class="col-xs-12 col-sm-4">
			<button class="btn btn-block btn-lg btn-setup" ng-click="add.set_billable_type('3')" ng-class="{ 'active':add.obj.item.billable_type=='3' }">
				<div class="btn-setup_holder">
					<div class="text-holder">
						<span class="icon-holder">
							<i class="fa fa-clock-o" aria-hidden="true"></i>
						</span>
						{l}Project daily rate (all the tasks for this project have the same daily rate){endl}
					</div>
				</div>
			</button>
		</div>
	</div>
	<div class="row col-bottom" ng-show="add.step==3 && add.obj.item.project_type=='2' && add.obj.item.billable_type=='6'">
			<div class="col-xs-12 col-sm-4 col-sm-offset-4">
				<div class="row">
					<div class="form-group">
						<label class="control-label col-sm-5">{l}Start Date{endl}</label>
						<div class="col-sm-7">
							<div class="so-field">
						        <span class="glyphicon glyphicon-calendar so-icon" ng-click="add.datePickOpen.start_date=true"></span>
						        <input type="text" class="form-control form-control-border-right" ng-model="add.obj.item.start_date" name="start_date" uib-datepicker-popup="{{add.format}}" is-open="add.datePickOpen.start_date" datepicker-options="add.dateOptions" close-text="Close" placeholder="{l}Start Date{endl}" show-button-bar="false" ng-click="add.datePickOpen.start_date=true" required/>
						    </div>
						</div>			
					</div>
				</div>	
				<div class="row">
					<div class="form-group margin-top">
						<label class="control-label col-sm-5">{l}End Date{endl}</label>
						<div class="col-sm-7">
							<div class="so-field">
							   <span class="glyphicon glyphicon-calendar so-icon" ng-click="add.datePickOpen.end_date=true"></span>
							    <input type="text" class="form-control form-control-border-right" ng-model="add.obj.item.end_date" name="end_date" uib-datepicker-popup="{{add.format}}" is-open="add.datePickOpen.end_date" datepicker-options="add.dateOptions" close-text="Close" placeholder="{l}End Date{endl}" show-button-bar="false" ng-click="add.datePickOpen.end_date=true" required/>
							</div>
						</div>			
					</div>
				</div>			
			</div>
	</div>
	<div class="row col-bottom" ng-show="add.step==3">
		<div class="col-xs-12 col-sm-4 col-sm-offset-4">
			<div class="form-group">
				<label class="control-label">{l}Budget follow-up{endl}</label>
				<select class="form-control budget_type" ng-if="(add.obj.item.project_type=='1' && add.obj.item.project_rate=='0') || add.obj.item.project_type=='2' || add.obj.item.project_type=='3'" ng-model="add.obj.item.budget_type">
					<option ng-repeat="option in add.obj.item.budget_dd_hourly track by option.id" value="{{option.id}}" ng-bind-html="option.name"></option>
				</select>
				<select class="form-control" ng-if="add.obj.item.project_type=='1' && add.obj.item.project_rate=='1'" ng-model="add.obj.item.budget_type">
					<option ng-repeat="option in add.obj.item.budget_dd_daily track by option.id" value="{{option.id}}" ng-bind-html="option.value"></option>
				</select>
			</div>
			<div class="form-group" ng-show="add.obj.item.budget_type=='2'">
				<div class="row">
					<div class="col-xs-8 col-md-6">
						<div class="input-group">
							<input type="text" class="form-control" placeholder="0" aria-describedby="basic-addon2" ng-model="add.obj.item.t_pr_hour">
							<span class="input-group-addon"> {{add.obj.item.task_rate}}</span>
						</div>											
					</div>
				</div>
			</div>
			<div class="form-group" ng-show="add.obj.item.budget_type=='3'">
				<div class="row">
					<div class="col-xs-8 col-md-6">
						<div class="input-group">
							<input type="text" class="form-control" placeholder="0" aria-describedby="basic-addon2" ng-model="add.obj.item.t_pr_hour">
							<span class="input-group-addon" ng-bind-html="add.obj.item.ACCOUNT_CURRENCY"></span>
						</div>											
					</div>
				</div>
			</div>
			<div class="form-group checkbox checkbox-primary" ng-show="add.obj.item.budget_type!='1'">
				<input type="checkbox" id="checkbox1" ng-model="add.obj.item.send_email_alerts"> {l}Send email alerts if project reaches:{endl}
				<label for="checkbox1">
				</label>
			</div>
			<div class="form-group" ng-show="add.obj.item.budget_type!='1'">
				<div class="row">
					<div class="col-xs-8 col-md-6">
						<div class="input-group budget_input">
							<input type="text" class="form-control" ng-model="add.obj.item.alert_percent" ng-disabled="!add.obj.item.send_email_alerts" placeholder="0" aria-describedby="basic-addon3">
							<span class="input-group-addon" id="basic-addon3">% {l}of budget{endl}</span>
						</div>											
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row col-bottom" ng-show="add.step==4">
		<div class="minimal_list minimal_list-tasks" ng-if="add.obj.item.quote_task">
			<div class="col-xs-12">
	    		<div>
					<h5><strong>{l}Selected tasks{endl}</strong></h5>
					<div>
						<table class="table active_rows orderTable" ng-repeat="item in add.obj.item.quote_group_data">
					  		<thead>
					    		<tr>
					      			<th colspan="4">
					      				<div class="row">
					      					<div class="col-sm-1">
						      					<input type="checkbox" ng-model="item.checked">
						      				</div>
						      				<label>{{item.group_title}}</label>
					      				</div>	      				
					      			</th>
					      		</tr>
					      		<tr>
					      			<th class="col-sm-6">{l}Item{endl}</th>
					      			<th class="col-sm-2 text-center">{l}Quantity{endl}</th>
					      			<th class="col-sm-2 text-center">{l}Unit Price{endl}</th>
					      			<th class="col-sm-2 text-center">{l}Amount{endl}</th>
					      		</tr>
					     	</thead>
					     	<tbody>
					     		<tr ng-repeat="item2 in item.data_line">
					     			<td><span ng-bind-html="item2.item"></span></td>
					     			<td class="text-center">{{item2.quantity}}</td>
					     			<td class="text-center">{{item2.unit_price}}</td>
					     			<td class="text-center"><span ng-bind-html="item2.amount"></span></td>
					     		</tr>
					     		<tr>
					     			<td colspan="3"><b>{l}TOTAL{endl}</b></td>
					     			<td class="text-center"><b><span ng-bind-html="item.total"></span></b></td>
					     		</tr>
					     	</tbody>
					    </table>
					</div>
				</div>
			</div>
		</div>
		<div class="minimal_list minimal_list-tasks" ng-if="add.obj.item.quote_art">
			<div class="col-xs-12">
	    		<div>
					<h5><strong>{l}Selected articles{endl}</strong></h5>
					<div>
						<table class="table active_rows orderTable" ng-repeat="item in add.obj.item.quote_group_articles">
					  		<thead>
					    		<tr>
					      			<th colspan="4">
					      				<div class="row">
					      					<div class="col-sm-1">
						      					<input type="checkbox" ng-model="item.checked">
						      				</div>
						      				<label>{{item.group_title}}</label>
					      				</div>				
					      			</th>
					      		</tr>
					      		<tr>
					      			<th class="col-sm-6">{l}Item{endl}</th>
					      			<th class="col-sm-2 text-center">{l}Quantity{endl}</th>
					      			<th class="col-sm-2 text-center">{l}Unit Price{endl}</th>
					      			<th class="col-sm-2 text-center">{l}Amount{endl}</th>
					      		</tr>
					     	</thead>
					     	<tbody>
					     		<tr ng-repeat="item2 in item.articles">
					     			<td><span ng-bind-html="item2.item"></span></td>
					     			<td class="text-center">{{item2.quantity}}</td>
					     			<td class="text-center">{{item2.unit_price}}</td>
					     			<td class="text-center"><span ng-bind-html="item2.amount"></span></td>
					     		</tr>
					     		<tr>
					     			<td colspan="3"><b>{l}TOTAL{endl}</b></td>
					     			<td class="text-center"><b><span ng-bind-html="item.total"></span></b></td>
					     		</tr>
					     	</tbody>
					    </table>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="modal-footer">
    <button class="btn btn-plain" type="button" ng-click="add.cancel()">{{add.close_btn}}</button>
     <button class="btn btn-default" type="button" ng-click="add.ok()" ng-show="add.step==0 || add.step>2">{{add.ok_btn}}</button>
</div>
