<div class="modal-header">
  	<button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="app.cancel()"><span aria-hidden="true">&times;</span></button>
  	<h4 class="modal-title">{{app.obj.title}}</h4>
</div>
<div class="modal-body">
	  <div class="loading_wrap loading_alt hidden">
      	<div class="loading"></div>
        	<div class="spinner"></div>
      </div>
	<div class="col-sm-12 col-bottom col-top">
		<div class="row form-group">
		      <label class="col-sm-6 col-lg-6 control-label text-left">{l}Close all the tasks and project{endl}</label>
		      <div class="col-sm-4 col-lg-4">
		      	<input type="checkbox" ng-model="app.obj.close_all">
		      </div>
		</div>
		<div class="row form-group">
		      <label class="col-sm-6 col-lg-6 control-label text-left">{l}Till date{endl} <a href="#" uib-tooltip="{l}included{endl}" tooltip-placement="right"><i class="fa fa-question-circle" aria-hidden="true"></i></a></label>
		      <div class="col-sm-4 col-lg-4">
		      	<div class="so-field input-date">
			           <span class="glyphicon glyphicon-calendar so-icon" ng-click="app.datePickOpen.end_date=true"></span>
					<input type="text" class="form-control form-control-border-right" ng-model="app.obj.end_date" uib-datepicker-popup="{{app.format}}" is-open="app.datePickOpen.end_date" datepicker-options="app.dateOptions" ng-required="true" close-text="Close" placeholder="{l}Till date{endl}" show-button-bar="false" ng-click="app.datePickOpen.end_date=true"/>
			      </div>
		      </div>
		</div>
	</div>
</div>
<div class="modal-footer">
      <button class="btn btn-plain" type="button" ng-click="app.cancel()">{l}Cancel{endl}</button>
      <button class="btn btn-default" type="button" ng-click="app.ok()">{l}Save{endl}</button>
</div>