<div class="page-header">
    <div class="row">
        <div class="col-sm-8">
            <h1>{l}Project{endl} {{edit.item.serial_number}}</h1>
        </div>
        <div class="col-sm-4 page-header-options" ng-if="edit.isAddPage">
            <a class="btn btn-default ml-5" ui-sref="projects" href="#">{l}Back{endl}</a>
            <!-- <a ng-if="edit.project_id=='tmp'" class="btn btn-default pull-right" ng-click="edit.saveData(edit.project_all)" save-spin>{l}Save{endl}</a> -->
            <!-- <a ng-if="edit.project_id=='tmp'" class="btn btn-default pull-right" ng-click="edit.saveData(edit.project_all)">{l}Save{endl}</a> -->
            <navigator ng-if="edit.project_id!='tmp'" pag="project-projects" itemid="{{edit.project_id}}" originalPage="project.edit"></navigator>
        </div>
    </div>
</div>
<!-- /.page-header -->
<!-- <div uib-alert ng-repeat="alert in edit.alerts" type="{{alert.type}}" close="edit.alerts.splice($index, 1);" ng-class="['alert-' + (alert.type || 'warning'), 'alert-fixed' ]" dismiss-on-timeout='5000' >{{alert.msg}}</div> -->
<div ng-if="!edit.item.item_exists">
    <nopage></nopage>
</div>
<div ng-if="edit.item.item_exists">
    <form class="form-horizontal" name="edit.project_all" novalidate>
        <div class="user_summary" ng-class="{'is-open': edit.showTxt.project_settings, '': !edit.showTxt.project_settings}">
            <button class="btn-summary text-link" ng-disabled="!edit.item.buyer_id" ng-click="edit.showTxt.project_settings=!edit.showTxt.project_settings"><span class="glyphicon glyphicon-chevron-down pull-right"></span> {l}Project Settings{endl}</button>
            <div class="row col-top col-bottom">
                <div class="col-sm-4 col-md-6">
                    <div class="row">
                        <div class="col-sm-8">
                            <img class="img-responsive" ng-src="{{edit.item.main_comp_info.logo}}" alt="">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <h4>{{edit.item.main_comp_info.name}}</h4>
                            <p> <span ng-bind-html="edit.item.main_comp_info.address"></span><br>{{edit.item.main_comp_info.zip}} {{edit.item.main_comp_info.city}}<br> {{edit.item.main_comp_info.country}}
                                <br> {{edit.item.main_comp_info.phone}}
                            </p>
                            <p><a href="#" class="text-link" ng-click="edit.openModal(edit,'ChangeIdentity')">{l}Change Identity{endl}</a> <span class="text-link_space"></span></p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-8 col-md-6">
                    <div class="form-horizontal form-squeeze">
                        <!-- <div class="form-group">
			              <label class="col-sm-5 col-lg-4 control-label">{l}Internal Project{endl}</label>
			                <div class="col-sm-7 col-lg-8">
			                		<div class="col-sm-1 checkbox">
			                			<label>
				                			<input type="checkbox" ng-model="edit.item.internal_value" ng-readonly="!edit.item.edit_access" ng-change="edit.showInternal(edit.item.internal_value,{{edit.item.internal_value}})" />
				                		</label>
				                	</div>	                			                    
			                </div>
			            </div> -->
                        <div class="form-group" ng-if="edit.project_id=='tmp'">
                            <label class="col-sm-5 col-lg-4 control-label">{l}Project Manager{endl}</label>
                            <div class="col-sm-7 col-lg-8">
                                <selectize config='edit.userAutoCfg' options='edit.item.users_list' ng-model="edit.item.manager_id" id="users_list" placeholder="{l}Select Manager{endl}"></selectize>
                            </div>
                        </div>
                        <!-- /.form-group -->
                        <div class="form-group" ng-show="edit.item.BUNIT_HIDE">
                            <label class="col-sm-5 col-lg-4 control-label">{l}Business Unit{endl}</label>
                            <div class="col-sm-7 col-lg-8">
                                <selectize ng-if="edit.item.edit_access || edit.project_id=='tmp'" config='edit.bunitAutoCfg' options='edit.item.bunits' ng-model="edit.item.bunit_id" id="business_list" placeholder="{l}Select Business Unit{endl}"></selectize>
                                <label class="control-label" ng-if="!edit.item.edit_access" ng-bind-html="edit.item.BUNIT"></label>
                            </div>
                        </div>
                        <!-- /.form-group -->
                        <div class="form-group" ng-if="edit.project_id=='tmp'">
                            <label class="col-sm-5 col-lg-4 control-label">{l}Project type{endl}</label>
                            <div class="col-sm-7 col-lg-8">
                                <div class="row">
                                    <div class="col-sm-1">
                                        <input type="radio" value="1" name="project_type" ng-model="edit.item.project_type" disabled />
                                    </div>
                                    <label class="col-sm-5">{l}Time & Expenses{endl}</label>
                                    <img src="images/time_p.png" title="{l}Time & Expenses{endl}" />
                                </div>
                                <div class="row">
                                    <div class="col-sm-1">
                                        <input type="radio" value="2" name="project_type" ng-model="edit.item.project_type" disabled/>
                                    </div>
                                    <label class="col-sm-5">{l}Fixed price{endl}</label>
                                    <img src="images/fixed_p.png" title="{l}Fixed price{endl}" />
                                </div>
                                <div class="row" ng-if="edit.showTxt.type_time">
                                    <div class="col-sm-6">
                                        <input class="pull-left" value='0' type="radio" name="time_options" ng-click="edit.showHourly()" ng-model="edit.item.project_rate" disabled>
                                        <label class="col-sm-9">{l}Hourly Rate{endl}</label>
                                    </div>
                                    <div class="col-sm-6">
                                        <input class="pull-left" value="1" type="radio" name="time_options" ng-click="edit.showDaily()" ng-model="edit.item.project_rate" disabled>
                                        <label class="col-sm-9">{l}Daily Rate{endl}</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /.form-group -->
                        <div class="form-group" ng-if="edit.project_id=='tmp'">
                            <label class="col-sm-5 col-lg-4 control-label"></label>
                            <div class="col-sm-7 col-lg-8">
                                <div class="form-group" ng-if="edit.project_id=='tmp' && edit.showTxt.type_time && edit.showTxt.hourly">
                                    <div class="radio" ng-repeat="item in edit.item.project_type_te_hourly">
                                        <label>
						                      <input type="radio" value="{{item.id}}" ng-model="edit.item.billable_type" disabled> {{item.name}}
						                </label>
                                    </div>
                                </div>
                                <div class="form-group" ng-if="edit.project_id=='tmp' && edit.showTxt.type_time && edit.showTxt.daily">
                                    <div class="radio" ng-repeat="item in edit.item.project_type_te_daily">
                                        <label>
						                      <input type="radio" value="{{item.id}}" ng-model="edit.item.billable_type" disabled> {{item.name}}
						                </label>
                                    </div>
                                </div>
                                <div class="form-group" ng-if="edit.project_id=='tmp' && edit.showTxt.type_fixed">
                                    <div class="radio" ng-repeat="item in edit.item.project_type_fixed">
                                        <label>
						                      <input type="radio" value="{{item.id}}" ng-model="edit.item.billable_type" ng-click="edit.showFixedDates(item.id)" disabled> {{item.name}}
						                </label>
                                    </div>
                                </div>
                                <div class="form-group" ng-if="edit.showTxt.type_fixed && edit.showTxt.fixed_fee">
                                    <label class="col-sm-5 col-lg-4 pull-left">{l}Start Date{endl}</label>
                                    <div class="col-sm-7 col-lg-8">
                                        <div class="so-field input-date">
                                            <span class="glyphicon glyphicon-calendar so-icon"></span>
                                            <input type="text" class="form-control form-control-border-right" ng-model="edit.item.start_date" uib-datepicker-popup="{{edit.format}}" is-open="edit.datePickOpen.start_date" datepicker-options="edit.dateOptions" ng-required="true" close-text="Close"
                                                placeholder="{l}Start Date{endl}" show-button-bar="false" ng-click="edit.datePickOpen.start_date=true" disabled/>
                                        </div>
                                        <!-- /.so-field -->
                                    </div>
                                </div>
                                <!-- /.form-group -->
                                <div class="form-group" ng-if="edit.showTxt.type_fixed && edit.showTxt.fixed_fee" ng-class="{ 'form-group_alert' : edit.project_all.end_date.$invalid && !edit.project_all.end_date.$pristine }">
                                    <label class="col-sm-5 col-lg-4 pull-left">{l}End Date{endl}</label>
                                    <div class="col-sm-7 col-lg-8">
                                        <div class="so-field input-date">
                                            <span class="glyphicon glyphicon-calendar so-icon"></span>
                                            <input type="text" class="form-control form-control-border-right" ng-model="edit.item.end_date" name="end_date" uib-datepicker-popup="{{edit.format}}" is-open="edit.datePickOpen.end_date" datepicker-options="edit.dateOptions" ng-required="true" close-text="Close"
                                                placeholder="{l}End Date{endl}" show-button-bar="false" ng-click="edit.datePickOpen.end_date=true" disabled/>
                                            <div class="alert alert-sm alert-danger" ng-if="edit.project_all.end_date.$invalid && edit.alertsField.end_date">{{edit.alertsField.end_date}}</div>
                                        </div>
                                        <!-- /.so-field -->
                                    </div>
                                </div>
                                <!-- /.form-group -->
                            </div>
                        </div>
                        <div class="form-group" ng-if="edit.item.project_id !='tmp'">
                            <label class="col-sm-5 col-lg-4 control-label">{l}Lead Source{endl}</label>
                            <div class="col-sm-7 col-lg-8">
                                <!-- 		                  <select class="form-control" ng-model="edit.item.source_id" ng-if="edit.item.edit_access">
			                    <option value='0'>{l}Select{endl}</option>
			                    <option ng-repeat="option in edit.item.SOURCE_DD track by option.id" value="{{option.id}}" ng-bind-html="option.name"></option>
			                  </select> -->
                                <selectize config="edit.cfg" options="edit.item.SOURCE_DD" ng-model="edit.item.source_id"></selectize>
                                <label class="control-label" ng-if="!edit.item.edit_access" ng-bind-html="edit.item.lead_source"></label>
                            </div>
                        </div>
                        <!-- /.form-group -->
                        <div class="form-group" ng-if="edit.item.project_id !='tmp'">
                            <label for="" class="col-sm-5 col-lg-4 control-label">{l}VAT Regime{endl}</label>
                            <div class="col-sm-7 col-lg-8">
                                <selectize config="edit.cfg" options="edit.item.vat_regim_dd" ng-model="edit.item.vat_regime_id"></selectize>
                            </div>
                        </div>
                        <div class="form-group" ng-show="edit.item.retainer_hide && edit.item.edit_access && edit.project_id !='tmp'">
                            <label class="col-sm-5 col-lg-4 control-label">{l}Retainer{endl}</label>
                            <div class="col-sm-7 col-lg-8">
                                <div class="form-group">
                                    <div class="col-sm-10">
                                        <input type="text" display-nr="" class="form-control form-control-border-right" ng-model="edit.item.retainer_budget" />
                                    </div>
                                    <label class="col-sm-2 control-label" ng-bind-html="edit.item.ACCOUNT_CURRENCY"></label>
                                </div>
                            </div>
                        </div>
                        <!-- /.form-group -->
                        <div class="form-group" ng-show="edit.item.PR_H_RATE_VIEW && edit.item.edit_access && edit.project_id !='tmp'">
                            <label class="col-sm-5 col-lg-4 control-label">{l}Hourly rate{endl}</label>
                            <div class="col-sm-7 col-lg-8">
                                <div class="col-sm-10">
                                    <input type="text" display-nr="" class="form-control form-control-border-right" ng-disabled="edit.item.DISABLED_BILLABLE2" ng-model="edit.item.pr_h_rate" />
                                </div>
                                <label class="col-sm-2 control-label" ng-bind-html="edit.item.ACCOUNT_CURRENCY"></label>
                            </div>
                        </div>
                        <!-- /.form-group -->
                        <div class="form-group" ng-if="edit.project_id !='tmp'">
                            <label class="col-sm-5 col-lg-4 control-label">{l}Project type{endl}</label>
                            <div class="col-sm-7 col-lg-8">
                                <div class="radio" ng-repeat="item in edit.item.bill_type">
                                    <label>
				                      <input type="radio" value="{{item.id}}" ng-model="edit.item.billable_type" ng-disabled="!edit.item.edit_access || item.disabled" ng-change="edit.changeBillableType({{edit.item.billable_type}})"> {{item.name}}
				                    </label>
                                </div>
                            </div>
                        </div>
                        <!-- /.form-group -->
                        <div class="form-group" ng-if="edit.item.edit_access && edit.item.internal_value=='0' && edit.project_id!='tmp'">
                            <label class="col-sm-5 col-lg-4 control-label">{l}Billable{endl}</label>
                            <div class="col-sm-7 col-lg-8">
                                <a class="btn btn-default" ng-if="edit.item.HIDE_NOT" ng-click="edit.changeBillable(0);">{l}Mark as not billable{endl}</a>
                                <a class="btn btn-default" ng-if="edit.item.HIDE_YES" ng-click="edit.changeBillable(1)">{l}Mark as billable{endl}</a>
                            </div>
                        </div>
                        <!-- /.form-group -->
                        <div class="form-group" ng-if="edit.project_id !='tmp'">
                            <label class="col-sm-5 col-lg-4 control-label">{l}Budget follow-up{endl}</label>
                            <div class="col-sm-7 col-lg-8">
                                <!-- 		                	 <select class="form-control" ng-model="edit.item.budget_type" ng-if="edit.item.edit_access" ng-change="edit.changeBudgetType({{edit.item.budget_type}})">
			                    <option ng-repeat="option in edit.item.BUDGET_TYPE_DD track by option.id" value="{{option.id}}" ng-bind-html="option.value"></option>
			                  </select> -->
                                <selectize config="edit.cfg" options="edit.item.BUDGET_TYPE_DD" ng-model="edit.item.budget_type"></selectize>
                                <label class="control-label" ng-if="!edit.item.edit_access" ng-bind-html="edit.item.budget_type_name"></label>
                                <div class="row margin-top" ng-if="edit.item.budget_type=='2' && edit.item.edit_access">
                                    <div class="col-sm-4">
                                        <input type="text" class="form-control form-control-border-right" ng-model="edit.item.t_pr_hour" />
                                    </div>
                                    <span> {{edit.item.task_rate}}</span>
                                </div>
                                <div class="row margin-top" ng-if="edit.item.budget_type=='3' && edit.item.edit_access">
                                    <div class="col-sm-4">
                                        <input type="text" class="form-control form-control-border-right" ng-model="edit.item.t_pr_fees" />
                                    </div>
                                    <span ng-bind-html="edit.item.ACCOUNT_CURRENCY"></span>
                                </div>
                                <div class="row margin-top" ng-if="edit.item.budget_type!='1' && edit.item.edit_access">
                                    <div class="col-sm-1 checkbox checkbox-primary">
                                        <input type="checkbox" id="checkbox2" class="form-control-border-right" ng-model="edit.item.send_email_alerts" />
                                        <label for="checkbox2"></label>
                                    </div>
                                    <label class="col-sm-10">{l}Send email alerts if project reaches:{endl}</label>
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <div class="col-sm-3">
                                                <input type="text" class="form-control form-control-border-right" ng-model="edit.item.alert_percent" ng-disabled="!edit.item.send_email_alerts" />
                                            </div>
                                            <label class="col-sm-9"> % {l}of budget{endl}</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /.form-group -->
                        <div class="form-group" ng-if="edit.project_id !='tmp'">
                            <label class="col-sm-5 col-lg-4 control-label">{l}Expenses{endl}</label>
                            <label class="control-label" ng-if="!edit.item.edit_access" ng-bind-html="edit.item.expenses_view"></label>
                            <div class="col-sm-7 col-lg-8" ng-if="edit.item.edit_access">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <label>
			            					<toggle-switch ng-model="edit.item.add_expenses" class="switch-primary" off-label="{l}No{endl}" on-label="{l}Yes{endl}"></toggle-switch>
					                  	</label>
                                    </div>
                                </div>
                                <div class="row" ng-if="edit.item.add_expenses">
                                    <label class="col-sm-5 col-lg-12 control-label left-side">{l}Billable expenses{endl}</label>
                                    <div class="col-sm-7 col-lg-12 margin-top">
                                        <div class="row">
                                            <div class="col-sm-6" ng-repeat="item in edit.item.expenses">
                                                <div class="row">
                                                    <div class="col-sm-1 checkbox checkbox-primary">
                                                        <input type="checkbox" id="expense_{{item.EXPENSE_ID}}" class="form-control-border-right" ng-model="item.EXP_CHECKED" />
                                                        <label for="expense_{{item.EXPENSE_ID}}"></label>
                                                    </div>
                                                    <label class="col-sm-10 padding-top" ng-bind-html="item.EXPENSE"></label></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /.form-group -->
                        <!-- <div class="form-group" ng-if="edit.project_id !='tmp' && edit.item.segment_dd.length">
			              <label class="control-label col-sm-5 col-lg-4">{l}Segment{endl}</label>
			              <div class="col-sm-7 col-lg-8">
			                <selectize config='edit.selectCfg' options='edit.item.segment_dd' ng-model="edit.item.segment_id"></selectize>
			              </div>
			            </div>  -->
                        <!-- <div class="form-group" ng-if="edit.project_id !='tmp' && edit.item.source_dd.length">
			              <label class="control-label col-sm-5 col-lg-4">{l}Source{endl}</label>
			              <div class="col-sm-7 col-lg-8">
			                <selectize config='edit.selectCfg' options='edit.item.source_dd' ng-model="edit.item.source_id"></selectize>
			              </div>
			            </div>  -->
                        <div class="form-group" ng-if="edit.project_id !='tmp' && edit.item.type_dd.length">
                            <label class="control-label col-sm-5 col-lg-4">{l}Type{endl}</label>
                            <div class="col-sm-7 col-lg-8">
                                <selectize config='edit.selectCfg' options='edit.item.type_dd' ng-model="edit.item.type_id"></selectize>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.user_summary -->
        <div class="row">
            <div class="col-sm-6">
                <div class="panel panel-default panel-customer_details">
                    <div class="panel-body panel-current_customer panel-add_customer_alt" ng-class="{ 'panel-add_customer': edit.item.add_customer && edit.showTxt.addBtn }">
                        <div ng-if="edit.showTxt.address && !edit.item.add_customer">
                            <a class="panel-edit margin-top" href="#" ng-click="edit.showEditFnc(edit)">{l}Edit{endl}</a>
                            <h2>{{edit.item.buyer_name}} <small class="quick_edits"><span class="text-link_space" ng-if="edit.item.edit_access">•</span> <a href="#" class="text-link text-muted edit-customer" ng-click="edit.openModal(edit,'EditContact');" ng-if="edit.item.field=='contact_id' && edit.item.edit_access" >{l}Edit Customer{endl}</a><a href="#" class="text-link text-muted edit-customer" ng-click="edit.openModal(edit,'EditCustomer');" ng-if="edit.item.field=='customer_id' && edit.item.edit_access" >{l}Edit Customer{endl}</a> <span class="text-link_space" ng-if="edit.item.edit_access">•</span> <a href="#" class="text-link text-muted delete-customer" ng-click="edit.removeCust(edit)" ng-if="edit.item.edit_access">{l}Remove{endl}</a></small></h2>
                            <p ng-if="edit.item.contact_name && edit.item.field=='customer_id'" class=""><span ng-bind-html="edit.item.contact_name"></span> <small class="quick_edits" ng-if="edit.item.edit_access"><span class="text-link_space">•</span> <a href="#" class="text-link text-muted edit-contact" ng-click="edit.openModal(edit,'EditContact');" >{l}Edit contact{endl}</a> <span class="text-link_space">•</span> <a href="#" class="text-link text-muted" ng-click="edit.removeContact(edit)">{l}Remove{endl}</a></small></p>
                            <p ng-if="edit.item.edit_access"><a href="#" class="text-link edit-customer" ng-click="edit.showEditFnc(edit)" ng-if="!edit.item.contact_name">{l}Add a Contact{endl}</a>
                                <!-- <span class="text-link_space" ng-if="!edit.item.contact_name">•</span> <a href="#" class="text-link delete-customer" ng-click="edit.openModal(edit,'AddCustomer',edit.contactAddObj,'md');" ng-if="!edit.item.contact_name">{l}Create a new Contact{endl}</a> --></p>
                            <div class="delivery-address" ng-if="!edit.item.view_delivery">
                                <span ng-bind-html="edit.item.free_field_txt"></span>
                                <!-- <small class="quick_edits delivery-controller" ng-if="edit.item.edit_access"><span class="text-link_space">•</span> <a href="#" class="text-link text-muted" ng-click="edit.showEditFnc(edit)">{l}Edit address{endl}</a></small> -->
                            </div>
                        </div>
                        <!-- /showTxt.address -->
                        <div ng-if="edit.item.add_customer && (edit.item.project_rate!='0' || edit.item.billable_type>'4')">
                            <button class="btn btn-block btn-lg btn-blank" ng-if="edit.showTxt.addBtn" ng-click="edit.setInternal(false)"><span class="fa fa-user-plus icon-holder"></span> {l}Add Customer{endl}</button>
                            <selectize config='edit.ccAutoCfg' options='edit.auto.options.cc' ng-model="edit.item.customer_id" id="custandcont" ng-if="!edit.showTxt.addBtn"></selectize>
                        </div>
                        <div ng-if="edit.item.add_customer && edit.item.project_type=='1' && edit.item.project_rate=='0'">
                            <button class="btn btn-block btn-lg btn-blank" ng-if="edit.showTxt.addBtn" ng-click="edit.setInternal(false)"><span class="fa fa-user-plus icon-holder"></span> {l}Add Customer{endl}</button>
                            <selectize config='edit.ccAutoCfg' options='edit.auto.options.cc' ng-model="edit.item.cc_id" id="custandcont" ng-if="edit.item.add_customer && !edit.showTxt.addBtn"></selectize>
                        </div>
                        <div ng-if="edit.item.add_customer && edit.item.project_type=='3' && edit.item.project_rate=='0'">
                            <button class="btn btn-block btn-lg btn-blank" ng-if="edit.showTxt.addBtn" ng-click="edit.setInternal(true)"><span class="fa fa fa-building icon-holder"></span> {l}Add Customer{endl}</button>
                            <selectize config='edit.ccAutoCfg' options='edit.auto.options.cc' ng-model="edit.item.cc_id" id="custandcont" ng-if="edit.item.add_customer && !edit.showTxt.addBtn"></selectize>
                        </div>
                        <div class="form-horizontal text-left " ng-if="!edit.showTxt.address">
                            <div class="form-group">
                                <label class="col-sm-3 control-label">{l}Customer{endl}</label>
                                <div class="col-sm-9">
                                    <!-- <input type="text" class="form-control" ng-model="edit.item.buyer_name" ng-disabled="true"> -->
                                    <selectize config='edit.ccAutoCfg' options='edit.auto.options.cc' ng-model="edit.item.buyer_id" id="custandcont"></selectize>
                                </div>
                            </div>
                            <div class="form-group" ng-if="edit.item.field=='customer_id'">
                                <label class="col-sm-3 control-label">{l}Contact{endl}</label>
                                <div class="col-sm-9">
                                    <selectize config='edit.contactAutoCfg' options='edit.auto.options.contacts' ng-model="edit.item.contact_id" id="contact_id" ng-disabled="!edit.item.buyer_id"></selectize>
                                </div>
                            </div>
                            <div class="form-group extra_address">
                                <label class="col-sm-3 control-label">{l}Main Address{endl}</label>
                                <div class="col-sm-9 ">
                                    <selectize config='edit.addressAutoCfg' options='edit.auto.options.addresses' ng-model="edit.item.main_address_id" id="main_address" ng-disabled="!edit.item.buyer_id"></selectize>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">{l}Delivery Address{endl}</label>
                                <div class="col-sm-9">
                                    <div class="checkbox checkbox-primary">
                                        <input type="checkbox" id="checkbox4" ng-model="edit.item.sameAddress" ng-click="edit.removeDeliveryAddr()" ng-disabled="!edit.item.buyer_id">
                                        <label for="checkbox4">
		                      
		                    </label>
                                        <span class="text-muted">{l}Delivery address same as main address{endl}</span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group extra_address" ng-if="!edit.item.sameAddress">
                                <div class="col-sm-9 col-sm-offset-3">
                                    <selectize config='edit.addressAutoCfg' options='edit.auto.options.addresses' ng-model="edit.item.delivery_address_id" id="delivery_address" ng-disabled="!edit.item.buyer_id"></selectize>
                                </div>
                            </div>
                            <!-- <div class="text-right">
                                <a href="#" class="text-muted" ng-click="edit.cancelEdit(edit)">{l}Cancel{endl}</a> <span class="text-link_space"></span> <a href="#" class="text-link btn btn-default" ng-click="edit.saveClientData(edit,edit.item.field,edit.project_all)">{l}Save{endl}</a>
                            </div> -->
                        </div>
                    </div>
                </div>
                <!-- /.panel -->
            </div>
            <div class="col-sm-6 col-lg-6">
                <div class="form-squeeze" name="project_main">
                    <div class="form-group" ng-class="{ 'form-group_alert' : edit.project_all.serial_number.$invalid && !edit.project_all.serial_number.$pristine }">
                        <label class="col-sm-5 control-label">{l}Project number{endl} <i class="fa fa-question-circle" uib-tooltip="{l}Go to the settings to configure the numbering convention{endl}" tooltip-placement="bottom"></i></label>
                        <div class="col-sm-7">
                            <input type="text" ng-disabled="!edit.item.buyer_id || edit.item.project_id=='tmp' " class="form-control" ng-model="edit.item.serial_number" name="serial_number" placeholder="{l}Project number{endl}" ng-readonly="!edit.item.edit_access">
                            <div class="alert alert-sm alert-danger" ng-if="edit.project_all.serial_number.$invalid && edit.alertsField.serial_number">{{edit.alertsField.serial_number}}</div>
                        </div>
                    </div>
                    <!-- /.form-group -->
                    <div class="form-group" ng-class="{ 'form-group_alert' : edit.project_all.name.$invalid && !edit.project_all.name.$pristine }">
                        <label class="col-sm-5 control-label">{l}Project Name{endl}</label>
                        <div class="col-sm-7">
                            <input type="text" ng-disabled="!edit.item.buyer_id" class="form-control" ng-model="edit.item.name" name="name" placeholder="{l}Project Name{endl}" ng-readonly="!edit.item.edit_access">
                            <div class="alert alert-sm alert-danger" ng-if="edit.project_all.name.$invalid && edit.alertsField.name">{{edit.alertsField.name}}</div>
                        </div>
                    </div>
                    <!-- /.form-group -->
                    <div class="form-group" ng-if="edit.project_id !='tmp'">
                        <label class="col-sm-5 control-label">{l}Start Date{endl}</label>
                        <div class="col-sm-7">
                            <div class="so-field input-date">
                                <span class="glyphicon glyphicon-calendar so-icon" ng-click="edit.datePickOpen.start_date=true" ng-if="edit.item.edit_access"></span>
                                <input type="text" class="form-control form-control-border-right" ng-model="edit.item.start_date" uib-datepicker-popup="{{edit.format}}" is-open="edit.datePickOpen.start_date" datepicker-options="edit.dateOptions" ng-required="true" close-text="Close"
                                    placeholder="{l}Start Date{endl}" show-button-bar="false" ng-click="edit.datePickOpen.start_date=true" ng-readonly="!edit.item.edit_access" />
                            </div>
                            <!-- /.so-field -->
                        </div>
                    </div>
                    <!-- /.form-group -->
                    <div class="form-group" ng-if="edit.project_id !='tmp'">
                        <label class="col-sm-5 control-label">{l}End Date{endl}</label>
                        <div class="col-sm-7">
                            <div class="so-field input-date">
                                <span class="glyphicon glyphicon-calendar so-icon" ng-click="edit.datePickOpen.end_date=true" ng-if="edit.item.edit_access"></span>
                                <input type="text" class="form-control form-control-border-right" ng-model="edit.item.end_date" uib-datepicker-popup="{{edit.format}}" is-open="edit.datePickOpen.end_date" datepicker-options="edit.dateOptions" ng-required="true" close-text="Close" placeholder="{l}End Date{endl}"
                                    show-button-bar="false" ng-click="edit.datePickOpen.end_date=true" ng-readonly="!edit.item.edit_access" />
                            </div>
                            <!-- /.so-field -->
                        </div>
                    </div>
                    <!-- /.form-group -->
                    <div class="form-group" ng-if="edit.item.deals.length">
                        <label class="col-sm-5 control-label">{l}Deal{endl}</label>
                        <div class="col-sm-7">
                            <selectize config='edit.dealAutoCfg' ng-disabled="!edit.item.buyer_id" options='edit.item.deals' ng-model="edit.item.deal_id" id="deal_list"></selectize>
                        </div>
                    </div>
                </div>
                <!-- /.form-horizontal -->
            </div>
        </div>
        <!-- /.intervention-details -->
        <!-- <div class="row minimal_list minimal_list-tasks" ng-if="edit.item.quote_task">
			<div class="col-xs-12">
	    		<div>
					<h5><strong>{l}Selected tasks{endl}</strong></h5>
					<div>
						<table class="table active_rows orderTable" ng-repeat="item in edit.item.quote_group_data">
					  		<thead>
					    		<tr>
					      			<th colspan="4">
					      				<div class="row">
					      					<div class="col-sm-1">
						      					<input type="checkbox" ng-model="item.checked">
						      				</div>
						      				<label>{{item.group_title}}</label>
					      				</div>	      				
					      			</th>
					      		</tr>
					      		<tr>
					      			<th class="col-sm-6">{l}Item{endl}</th>
					      			<th class="col-sm-2 text-center">{l}Quantity{endl}</th>
					      			<th class="col-sm-2 text-center">{l}Unit Price{endl}</th>
					      			<th class="col-sm-2 text-center">{l}Amount{endl}</th>
					      		</tr>
					     	</thead>
					     	<tbody>
					     		<tr ng-repeat="item2 in item.data_line">
					     			<td>{{item2.item}}</td>
					     			<td class="text-center">{{item2.quantity}}</td>
					     			<td class="text-center">{{item2.unit_price}}</td>
					     			<td class="text-center"><span ng-bind-html="item2.amount"></span></td>
					     		</tr>
					     	</tbody>
					     	<tfoot>
					     		<tr>
					     			<td colspan="3">{l}TOTAL{endl}</td>
					     			<td class="text-center"><span ng-bind-html="item.total"></span></td>
					     		</tr>
					     	</tfoot>
					    </table>
					</div>
				</div>
			</div>
		</div>
		<div class="row minimal_list minimal_list-tasks" ng-if="edit.item.quote_art">
			<div class="col-xs-12">
	    		<div>
					<h5><strong>{l}Selected articles{endl}</strong></h5>
					<div>
						<table class="table active_rows orderTable" ng-repeat="item in edit.item.quote_group_articles">
					  		<thead>
					    		<tr>
					      			<th colspan="4">
					      				<div class="row">
					      					<div class="col-sm-1">
						      					<input type="checkbox" ng-model="item.checked">
						      				</div>
						      				<label>{{item.group_title}}</label>
					      				</div>				
					      			</th>
					      		</tr>
					      		<tr>
					      			<th class="col-sm-6">{l}Item{endl}</th>
					      			<th class="col-sm-2 text-center">{l}Quantity{endl}</th>
					      			<th class="col-sm-2 text-center">{l}Unit Price{endl}</th>
					      			<th class="col-sm-2 text-center">{l}Amount{endl}</th>
					      		</tr>
					     	</thead>
					     	<tbody>
					     		<tr ng-repeat="item2 in item.articles">
					     			<td>{{item2.item}}</td>
					     			<td class="text-center">{{item2.quantity}}</td>
					     			<td class="text-center">{{item2.unit_price}}</td>
					     			<td class="text-center"><span ng-bind-html="item2.amount"></span></td>
					     		</tr>
					     	</tbody>
					     	<tfoot>
					     		<tr>
					     			<td colspan="3">{l}TOTAL{endl}</td>
					     			<td class="text-center"><span ng-bind-html="item.total"></span></td>
					     		</tr>
					     	</tfoot>
					    </table>
					</div>
				</div>
			</div>
		</div> -->
        <div class="user_summary" ng-class="{'is-open': edit.showTxt.notes, '': !edit.showTxt.notes}" ng-if="edit.project_id !='tmp'">
            <button class="btn-summary text-link" ng-click="edit.showTxt.notes=!edit.showTxt.notes"><span class="glyphicon glyphicon-chevron-down pull-right"></span> {l}Notes{endl}</button>
            <div class="row col-top col-bottom">
                <div class="col-sm-12 col-bottom">
                    <textarea class="form-control" ng-model="edit.item.notes" placeholder="{l}Notes{endl}" rows="6" ng-disabled="!edit.item.edit_access"></textarea>
                </div>
            </div>
        </div>
        <div class="row intervention-options" ng-if="edit.project_id !='tmp'">
            <div class="col-xs-12">
                <div class="module_steps">
                    <ul class="module_steps-tabs">
                        <li ng-class="{ 'selected':edit.item.DRAFT_SELECTED }"><span class="badge">1</span> {l}Draft{endl}</li>
                        <li ng-class="{ 'selected':edit.item.ACTIVE_SELECTED }"><span class="badge">2</span> {l}Active{endl}</li>
                        <li ng-class="{ 'selected':edit.item.CLOSED_SELECTED }"><span class="badge">3</span> {l}Closed{endl}</li>
                        <li class="module_steps-options">
                            <a class="btn btn-plain" href="#" ng-if="edit.item.stage_status!='0'" ng-click="edit.showDeliveries()"><span class="akti-icon o_akti_delivery"></span> {l}Deliveries{endl}</a>
                            <a class="btn btn-plain" href="#" ng-click="edit.showInvoices()" ng-show="edit.item.INVOICES_HIDE"><span class="glyphicon glyphicon-list"></span><span class="hideOnTablet"> {l}Invoices{endl}</span></a>
                            <a class="btn btn-plain" href="#" ui-sref="project.report({'project_id': edit.item.project_id})"><span class="glyphicon glyphicon-stats"></span><span class="hideOnTablet"> {l}Report{endl}</span></a>
                        </li>
                    </ul>
                    <!-- /.module_steps-tabs -->
                    <div class="module_steps-content" ng-if="edit.item.edit_access">
                        <div class="row" ng-if="edit.item.stage_status=='0'">
                            <div class="col-sm-12">
                                <a class="btn btn-secondary" href="#" ng-click="edit.draftNext(edit.project_all)">{l}Next{endl} <span class="glyphicon glyphicon-chevron-right"></span></a>
                                <div class="dropdown btn-inline" uib-dropdown>
                                    <button class="btn btn-plain dropdown-toggle" type="button" uib-dropdown-toggle>
	                        	{l}Actions{endl} &nbsp;<span class="caret"></span>
	                        	</button>
                                    <ul class="dropdown-menu" uib-dropdown-menu>
                                        <li><a href="#" ng-click="edit.duplicateProject()"><span class="fa fa-files-o"></span> {l}Duplicate{endl}</a></li>
                                        <li ng-if="edit.item.articles.is_data">
                                            <a href="#" ng-click="edit.goToPurchase_orders()"><span class="fas fa-shopping-cart"></span> {l}Generate Purchase Order{endl}</a>
                                        </li>
                                        <li ng-if="!edit.item.downpayment_made"><a ng-click="edit.showDownpayment()"><i class="fas fa-coins"></i> {l}Create downpayment{endl}</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!-- /.row:DRAFT -->
                        <div class="row" ng-if="edit.item.stage_status=='1'">
                            <div class="col-sm-7">
                                <a class="btn btn-tertiary" ng-click="edit.changeStatus('0',edit.project_all)"><span class="glyphicon glyphicon-chevron-left" ></span> {l}Revert to draft{endl}</a>
                                <a class="btn btn-primary" ng-click="edit.changeStatus('2',edit.project_all)">{l}Close project{endl} <span class="glyphicon glyphicon-chevron-right" ></span></a>
                                <div class="dropdown btn-inline" uib-dropdown auto-close="outsideClick" is-open="edit.showTxt.closeDropdown" on-toggle="edit.toggleActions(open)">
                                    <button class="btn btn-plain dropdown-toggle" type="button" uib-dropdown-toggle>
	                        	{l}Actions{endl} &nbsp;<span class="caret"></span>
	                        	</button>
                                    <ul class="dropdown-menu" uib-dropdown-menu>
                                        <li><a href="#" ng-click="edit.duplicateProject()"><span class="fa fa-files-o"></span> {l}Duplicate{endl}</a></li>
                                        <li uib-dropdown>
                                            <a href="#" ng-click="edit.showTxt.showApproveOpts=!edit.showTxt.showApproveOpts"><span class="glyphicon glyphicon-ok-circle"></span> {{edit.item.approve_hours}}</a>
                                            <ul class="dropdown-menu-right deals-suboption" ng-if="edit.showTxt.showApproveOpts">
                                                <li ng-click="edit.approveHours()"><a href="#">{{edit.item.all_hours}}</a></li>
                                                <li ng-click="edit.approveTasks()"><a href="#">{l}Task based{endl}</a></li>
                                                <li ng-click="edit.undoApproved()"><a href="#">{l}Undo approved entries{endl}</a></li>
                                            </ul>
                                        </li>
                                        <li ng-if="edit.item.articles.is_data">
                                            <a href="#" ng-click="edit.goToPurchase_orders()"><span class="fas fa-shopping-cart"></span> {l}Generate Purchase Order{endl}</a>
                                        </li>
                                        <li><a href="#" ng-click="edit.prepareInvoice()"><span class="glyphicon glyphicon-list"></span> {l}Generate Invoice{endl}</a></li>
                                        <li ng-if="!edit.item.downpayment_made"><a ng-click="edit.showDownpayment()"><i class="fas fa-coins"></i> {l}Create downpayment{endl}</a></li>
                                        <li ng-if="edit.item.above_PM"><a href="#" ng-click="edit.makeDelivery()"><span class="akti-icon o_akti_delivery"></span> {l}Delivery{endl}</a></li>
                                    </ul>
                                </div>
                                <!-- <div class="dropdown btn-inline" uib-dropdown>
		                        <button class="btn btn-plain dropdown-toggle" id="invoiceOptions" type="button" uib-dropdown-toggle>
		                        {{edit.item.approve_hours}} &nbsp;<span class="caret"></span>
		                        </button>
		                        <ul class="dropdown-menu" uib-dropdown-menu>
		                          <li ng-click="edit.approveHours()"><a href="#">{{edit.item.all_hours}}</a></li>
		                          <li ng-click="edit.approveTasks()"><a href="#">{l}Task based{endl}</a></li>
		                          <li ng-click="edit.undoApproved()"><a href="#">{l}Undo approved entries{endl}</a></li>
		                        </ul>	                        
		                  </div>
		                  <a class="btn btn-plain" href="#" ng-click="edit.prepareInvoice()"><span class="glyphicon glyphicon-list"></span><span class="hideOnTablet"> {l}Generate Invoice{endl}</span></a> -->
                            </div>
                            <a href="#" ng-if="edit.item.quote_downpayment" class="btn btn-danger pull-right" ui-sref="invoice.view({'invoice_id': edit.item.downpayment})"><span class="fa fa-exclamation-circle"></span> {l}Quote Downpayment invoiced{endl}</a>
                        </div>
                        <!-- /.row:PLANNED -->
                        <div class="row" ng-if="edit.item.stage_status=='2'">
                            <div class="col-sm-7">
                                <a class="btn btn-plain" ng-click="edit.changeStatus('1',edit.project_all)"><span class="glyphicon glyphicon-chevron-left" ></span> {l}Back{endl}</a>
                                <!-- <a class="btn btn-plain" href="#" ng-click="edit.prepareInvoice()"><span class="glyphicon glyphicon-list"></span><span class="hideOnTablet"> {l}Generate Invoice{endl}</span></a> -->
                                <div class="dropdown btn-inline" uib-dropdown>
                                    <button class="btn btn-plain dropdown-toggle" type="button" uib-dropdown-toggle>
	                        	{l}Actions{endl} &nbsp;<span class="caret"></span>
	                        	</button>
                                    <ul class="dropdown-menu" uib-dropdown-menu>
                                        <li><a href="#" ng-click="edit.duplicateProject()"><span class="fa fa-files-o"></span> {l}Duplicate{endl}</a></li>
                                        <li><a href="#" ng-click="edit.prepareInvoice()"><span class="glyphicon glyphicon-list"></span> {l}Generate Invoice{endl}</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!-- /.row:CLOSED -->
                        <div class="row" ng-show="edit.item.show_planned">
                            <div class="col-sm-12">
                                <div class="module_steps-highlight module_steps-fillsheet">
                                    <div class="form-group" ng-class="{ 'form-group_alert' : edit.project_all.planned_date.$invalid && !edit.project_all.planned_date.$pristine }">
                                        <label class="col-sm-3 control-label"><strong>{l}Planned date{endl}</strong></label>
                                        <div class="col-sm-4">
                                            <div class="row">
                                                <div class="col-sm-8 col-md-6">
                                                    <div class="so-field">
                                                        <span class="glyphicon glyphicon-calendar so-icon"></span>
                                                        <input type="text" class="form-control" ng-model="edit.item.planned_date" uib-datepicker-popup="{{edit.format}}" is-open="edit.datePickOpen.planned_date" datepicker-options="edit.dateOptions" close-text="Close" placeholder="{l}Planned date{endl}" show-button-bar="false"
                                                            ng-click="edit.datePickOpen.planned_date=true" name="planned_date" required />
                                                        <div class="alert alert-sm alert-danger" ng-if="edit.project_all.planned_date.$invalid && edit.alertsField.planned_date">{{edit.alertsField.planned_date}}</div>
                                                    </div>
                                                    <!-- /.so-field -->
                                                </div>
                                                <!-- /.col-* -->
                                            </div>
                                            <!-- /.row -->
                                        </div>
                                    </div>
                                    <!-- /.form-group -->
                                    <div class="form-group" ng-class="{ 'form-group_alert' : edit.project_all.planned_end.$invalid && !edit.project_all.planned_end.$pristine }" ng-if="edit.item.billable_type=='6'">
                                        <label class="col-sm-3 control-label"><strong>{l}End date{endl}</strong></label>
                                        <div class="col-sm-4">
                                            <div class="row">
                                                <div class="col-sm-8 col-md-6">
                                                    <div class="so-field">
                                                        <span class="glyphicon glyphicon-calendar so-icon"></span>
                                                        <input type="text" class="form-control" ng-model="edit.item.planned_end" uib-datepicker-popup="{{edit.format}}" is-open="edit.datePickOpen.planned_end" datepicker-options="edit.dateOptions" close-text="Close" placeholder="{l}End date{endl}" show-button-bar="false"
                                                            ng-click="edit.datePickOpen.planned_end=true" name="planned_end" required />
                                                        <div class="alert alert-sm alert-danger" ng-if="edit.project_all.planned_end.$invalid && edit.alertsField.planned_end">{{edit.alertsField.planned_end}}</div>
                                                    </div>
                                                    <!-- /.so-field -->
                                                </div>
                                                <!-- /.col-* -->
                                            </div>
                                            <!-- /.row -->
                                        </div>
                                    </div>
                                    <!-- /.form-group -->
                                    <div class="form-group">
                                        <div class="col-sm-8 col-sm-offset-3">
                                            <a class="btn btn-default" ng-click="edit.changeStatus('1',edit.project_all)">{l}Save{endl}</a>
                                        </div>
                                    </div>
                                </div>
                                <!-- /.module_steps-highlight -->
                            </div>
                        </div>
                        <!-- /.row:markAsSent -->
                    </div>
                    <!-- /.module_steps-content -->
                </div>
                <!-- /.module_steps -->
            </div>
        </div>
        <!-- /.intervention-options -->
        <div class="row minimal_list minimal_list-tasks margin-bottom-none margin-top-none" ng-if="edit.project_id !='tmp' && edit.item.tasks.is_data">
            <div class="col-xs-12">
                <div>
                    <h5><strong>{l}Tasks{endl}</strong></h5>
                    <!-- <span ng-if="edit.item.edit_access && edit.item.stage_status!='2'"><a class="minimal_list-btn_add" ng-click="edit.item.add_subtask=false" ng-if="edit.item.add_subtask"><span class="glyphicon glyphicon glyphicon-plus"></span></a></span>
					<div class="minimal_list-add" ng-if="!edit.item.add_subtask">
						<selectize ng-if="edit.item.edit_access" config='edit.taskAutoCfg' options='edit.item.tasks_list' ng-model="edit.item.task_name" id="tasks_list" placeholder="{l}Select Task{endl}" ></selectize>
						<button class="btn btn-default" ng-click="edit.AddTask()">{l}Add{endl}</button>
						<button class="btn btn-link" ng-click="edit.cancelAddTask()">{l}Cancel{endl}</button>
					</div> -->
                    <!-- /.minimal_list-add -->
                    <div class="col-sm-5 pull-right text-right" ng-if="edit.item.edit_access && edit.item.budget_type=='4'">
                        {l}Budget{endl}: <b>{{edit.item.tasks.total_task_hours}}</b> <span>{{edit.item.task_rate}}</span> <span ng-if="edit.item.billable_type=='1'">( <span ng-bind-html="edit.item.ACCOUNT_CURRENCY"></span> <b>{{edit.item.tasks.total_task_budget}}</b>                        )</span>
                    </div>
                </div>
                <!-- /.minimal_list-header -->
                <!-- <div uib-alert type="notice" class="alert-warning" ng-if="!edit.item.tasks.is_data">{l}No data to display{endl}</div> -->
                <div ng-if="edit.item.tasks.is_data">
                    <table class="table active_rows orderTable">
                        <thead>
                            <tr>
                                <th>
                                    <div class="row">
                                        <div class="col-xs-1"></div>
                                        <div class="col-xs-{{edit.item.tasks.t_width - 1}}">{l}Name{endl}</div>
                                        <div class="col-xs-1 text-center checkbox checkbox-primary" ng-show="edit.item.internal_value=='0' && edit.item.billable_type!='6'">
                                            <p>{l}Billable?{endl}</p>
                                            <input type="checkbox" id="checkbox6" class="all_bill_tasks" value="1" ng-model="edit.item.tasks.BILLABLE_CHECKEDs" ng-disabled="!edit.item.edit_access || edit.item.stage_status=='2'" ng-click="edit.changeTasksBillable()" />
                                            <label for="checkbox6"></label>
                                        </div>
                                        <div class="col-xs-2 text-center" ng-show="(edit.item.billable_type=='1' || edit.item.billable_type=='7') && edit.item.project_rate_status=='0'">{l}Hourly Price{endl}</div>
                                        <div class="col-xs-2 text-center" ng-show="(edit.item.billable_type=='1' || edit.item.billable_type=='7') && edit.item.project_rate_status=='1'">{l}Daily Price{endl}</div>
                                        <div class="col-xs-1 text-center" ng-show="edit.item.budget_type=='4'">{{edit.item.tasks.task_rate}}</div>
                                        <div class="col-xs-2 text-center" ng-show="edit.item.billable_type=='5'">{l}Budget (task){endl}</div>
                                        <div class="col-xs-2">{l}Start Date{endl}</div>
                                        <div class="col-xs-2">{l}End Date{endl}</div>
                                        <div class="col-xs-1 text-center checkbox checkbox-primary" ng-show="edit.item.billable_type<'6' && edit.item.billable_type!='4' ">
                                            <p>{l}Task closed{endl}</p>
                                            <input type="checkbox" id="checkbox7" ng-model="edit.item.tasks.TASKS_CLOSED_CHECKED" ng-disabled="!edit.item.edit_access || edit.item.stage_status!='1'" ng-click="edit.changeTasksClosed()" />
                                            <label for="checkbox7"></label>
                                        </div>
                                        <div class="col-xs-1" ng-if="edit.item.edit_access && edit.item.stage_status!='2'"></div>
                                    </div>
                                </th>
                            </tr>
                        </thead>
                        <tbody data-as-sortable="edit.dragTasks" data-ng-model="edit.item.tasks.tasks">
                            <tr ng-repeat="item in edit.item.tasks.tasks" data-as-sortable-item>
                                <td class="d-block">
                                    <div class="row">
                                        <div class="col-xs-1 text-center drag_drop"> <span ng-if="!item.component_for" class="btn-drag as-sortable-item-handle" data-as-sortable-item-handle=""> </span></div>

                                        <div class="col-xs-{{edit.item.tasks.t_width - 1}} text-left">
                                            <input type="text" class="form-control" ng-model="item.task_name" ng-disabled="!edit.item.edit_access || edit.item.stage_status=='2'" ng-blur="edit.changeTaskName(item)" />
                                        </div>
                                        <div class="col-xs-1 text-center checkbox checkbox-primary" ng-show="edit.item.internal_value=='0' && edit.item.billable_type!='6'">
                                            <input type="checkbox" id="checkbox_tbil_{{$index}}" ng-model="item.BILLABLE_CHECKED" ng-disabled="!edit.item.edit_access || edit.item.stage_status=='2'" ng-click="edit.changeTaskBillable(item)" />
                                            <label for="checkbox_tbil_{{$index}}"></label>
                                        </div>
                                        <div class="col-xs-2" ng-show="(edit.item.billable_type=='1' || edit.item.billable_type=='7') && edit.item.project_rate_status=='0'">
                                            <div class="col-xs-10">
                                                <input type="text" class="form-control" display-nr="" ng-model="item.t_h_rate" ng-disabled="!edit.item.edit_access || edit.item.stage_status=='2'" ng-blur="edit.changeTaskPrice(0,item)" />
                                            </div> <span ng-bind-html="item.currency"></span>
                                        </div>
                                        <div class="col-xs-2" ng-show="(edit.item.billable_type=='1' || edit.item.billable_type=='7') && edit.item.project_rate_status=='1'">
                                            <div class="col-xs-10">
                                                <input type="text" class="form-control" display-nr="" ng-model="item.daily_h_rate" ng-disabled="!edit.item.edit_access || edit.item.stage_status=='2'" ng-blur="edit.changeTaskPrice(1,item)" />
                                            </div>
                                            <span ng-bind-html="item.currency"></span>
                                        </div>
                                        <div class="col-xs-1" ng-show="edit.item.budget_type=='4'">
                                            <input type="text" class="form-control" display-nr="" ng-model="item.t_hours" ng-disabled="!edit.item.edit_access || edit.item.stage_status=='2'" ng-blur="edit.changeTaskHours(item)" />
                                        </div>
                                        <div class="col-xs-2" ng-show="edit.item.billable_type=='5'">
                                            <div class="col-xs-10">
                                                <input type="text" class="form-control" display-nr="" ng-model="item.task_budget" ng-disabled="!edit.item.edit_access || edit.item.stage_status=='2'" ng-blur="edit.changeTaskBudget(item)" />
                                            </div>
                                            <span ng-bind-html="item.currency"></span>
                                        </div>
                                        <div class="col-xs-2">
                                            <div class="so-field">
                                                <span class="glyphicon glyphicon-calendar so-icon" ng-if="edit.item.edit_access" ng-click="edit.datePickOpen.start[$index]=true"></span>
                                                <input type="text" class="form-control form-control-border-right" ng-model="item.start_date" uib-datepicker-popup="{{edit.format}}" is-open="edit.datePickOpen.start[$index]" datepicker-options="edit.dateOptions" ng-required="true" close-text="Close" placeholder="{l}Start Date{endl}"
                                                    show-button-bar="false" ng-click="edit.datePickOpen.start[$index]=true" ng-change="edit.changeStart(item)" ng-readonly="!edit.item.edit_access" />
                                            </div>
                                            <!-- /.so-field -->
                                        </div>
                                        <div class="col-xs-2">
                                            <div class="so-field">
                                                <span class="glyphicon glyphicon-calendar so-icon" ng-if="edit.item.edit_access" ng-click="edit.datePickOpen.end[$index]=true"></span>
                                                <input type="text" class="form-control form-control-border-right" ng-model="item.end_date" uib-datepicker-popup="{{edit.format}}" is-open="edit.datePickOpen.end[$index]" datepicker-options="edit.dateOptions" ng-required="true" close-text="Close" placeholder="{l}End Date{endl}"
                                                    show-button-bar="false" ng-click="edit.datePickOpen.end[$index]=true" ng-change="edit.changeEnd(item)" ng-readonly="!edit.item.edit_access" />
                                            </div>
                                            <!-- /.so-field -->
                                        </div>
                                        <div class="text-center col-xs-1 checkbox checkbox-primary" ng-show="edit.item.billable_type<'6' && edit.item.billable_type!='4' ">
                                            <input type="checkbox" id="checkbox_tclose_{{$index}}" ng-model="item.task_budget_c" ng-disabled="!edit.item.edit_access || edit.item.stage_status!='1' || item.DISABLED" ng-click="edit.changeTaskClosed(item)" />
                                            <label for="checkbox_tclose_{{$index}}"></label>
                                            <span ng-if="item.HIDE" class="glyphicon glyphicon-lock"></span>
                                        </div>
                                        <div class="text-center col-xs-1" ng-if="edit.item.edit_access && edit.item.stage_status!='2'">
                                            <a href="#" ng-click="edit.removeTask(item)" confirm="{l}Delete this task?{endl}"><span class="glyphicon glyphicon-trash" title="{l}Delete{endl}"></span></a>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <!-- /.table_minimal -->
                </div>
                <!-- /.minimal_list-content -->
                <!-- <div class="table_orders-add text-center" ng-if="edit.item.edit_access && edit.item.stage_status!='2'">
					<div class="dropdown btn-inline" uib-dropdown>
						<button class="btn btn-block btn-blank add_article dropdown-toggle" ng-click="edit.task_double_show()" type="button" uib-dropdown-toggle><span class="fa fa-plus icon-holder"></span>{l}Add Task{endl}</button>
						<ul class="dropdown-menu" uib-dropdown-menu>
		                          	<li><a href="#" ng-click="edit.addServiceBtn()">{l}Select from list{endl}</a></li>
					      	<li><a href="#" ng-click="edit.item.add_subtask2=true">{l}Add Manually{endl}</a></li>
		                        </ul>
					</div>
					<selectize ng-if="edit.item.add_subtask1" config='edit.taskAutoCfg' options='edit.item.tasks_list.lines' ng-model="edit.item.task_name" id="tasks_list" placeholder="{l}Select Task{endl}" ></selectize>			
					<div class="minimal_list-add col-sm-12" ng-if="edit.item.add_subtask2">
						<input ng-if="edit.item.edit_access" type="text" class="form-control" ng-model="edit.item.task_name" placeholder="{l}Add Task{endl}">
						<button class="btn btn-default" ng-click="edit.AddTask(2)">{l}Add{endl}</button>
					</div>
				</div> -->
            </div>
        </div>
        <!-- end /.minimal_list-tasks -->
        <div class="row minimal_list minimal_list-staff margin-bottom-none margin-top-none" ng-if="edit.project_id !='tmp' && edit.item.users.is_data">
            <div class="col-xs-12">
                <div>
                    <h5><strong>{l}Staff{endl}</strong></h5>
                    <!-- <span ng-if="edit.item.edit_access && edit.item.stage_status!='2'"><a class="minimal_list-btn_add" ng-click="edit.item.add_staff=false" ng-if="edit.item.add_staff"><span class="glyphicon glyphicon glyphicon-plus"></span></a></span>
					<div class="minimal_list-add" ng-if="!edit.item.add_staff">
						<selectize config='edit.userAutoCfg' options='edit.item.users_list' ng-model="edit.item.staff_id" id="users_list" placeholder="{l}Select Manager{endl}"></selectize>
						<button class="btn btn-default" ng-click="edit.addUser()">{l}Add{endl}</button>
						<button class="btn btn-default" ng-click="edit.AddBulkUser()">{l}Assign bulk members{endl}</button>
						<button class="btn btn-link" ng-click="edit.cancelAddUser()">{l}Cancel{endl}</button>
					</div> -->
                    <!-- /.minimal_list-add -->
                    <div class="col-sm-5 pull-right text-right" ng-if="edit.item.edit_access && edit.item.budget_type=='5'">
                        {l}Budget{endl}: <b>{{edit.item.users.total_user_hours}}</b> <span>{{edit.item.task_rate}}</span> <span ng-if="edit.item.billable_type=='2'">( <span ng-bind-html="edit.item.ACCOUNT_CURRENCY"></span> <b>{{edit.item.users.total_user_budget}}</b>                        )</span>
                    </div>
                </div>
                <!-- /.minimal_list-header -->
                <!-- <div uib-alert type="notice" class="alert-warning" ng-if="!edit.item.users.is_data">{l}No data to display{endl}</div> -->
                <div ng-if="edit.item.users.is_data">
                    <table class="table active_rows orderTable">
                        <thead>
                            <tr>
                                <th>
                                    <div class="row">
                                        <div class="col-xs-{{edit.item.users.t_width}}">{l}Name{endl}</div>
                                        <div class="col-xs-2 text-center">{l}Project Manager{endl}</div>
                                        <div class="col-xs-2 text-center" ng-show="edit.item.budget_type=='5'">{{edit.item.users.user_rate}}</div>
                                        <div class="col-xs-2 text-center" ng-show="(edit.item.billable_type=='2' || edit.item.billable_type=='5') && edit.item.project_rate_status=='0'">{l}Hourly Price{endl}</div>
                                        <div class="col-xs-2 text-center" ng-show="(edit.item.billable_type=='2' || edit.item.billable_type=='5') && edit.item.project_rate_status=='1'">{l}Daily Price{endl}</div>
                                        <div class="col-xs-1" ng-if="edit.item.above_PM && edit.item.stage_status!='2'"></div>
                                        <div class="col-xs-1" ng-if="edit.item.edit_access && edit.item.stage_status!='2'"></div>
                                    </div>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="item in edit.item.users.users">
                                <td>
                                    <div class="row">
                                        <div class="col-xs-{{edit.item.users.t_width}} text-left">
                                            <label ng-bind-html="item.user_name"></label>
                                        </div>
                                        <div class="col-xs-2 text-center checkbox checkbox-primary">
                                            <input type="checkbox" id="checkbox_u_{{$index}}" ng-model="item.MANAGER_CHECKED" ng-disabled="!edit.item.edit_access || edit.item.stage_status>'1'" ng-click="edit.checkManager(item)" />
                                            <label for="checkbox_u_{{$index}}"></label>
                                        </div>
                                        <div class="col-xs-2" ng-show="edit.item.budget_type=='5'">
                                            <input type="text" class="form-control" display-nr="" ng-model="item.p_hours" ng-disabled="!edit.item.edit_access || edit.item.stage_status=='2'" ng-blur="edit.changeUserBudget(item)" />
                                        </div>
                                        <div class="col-xs-2" ng-show="(edit.item.billable_type=='2' || edit.item.billable_type=='5') && edit.item.project_rate_status=='0'">
                                            <input type="text" class="form-control" display-nr="" ng-model="item.p_h_rate" ng-disabled="!edit.item.edit_access || edit.item.stage_status=='2'" ng-blur="edit.changeUserPrice(0,item)" />
                                        </div>
                                        <div class="col-xs-2" ng-show="(edit.item.billable_type=='2' || edit.item.billable_type=='5') && edit.item.project_rate_status=='1'">
                                            <input type="text" class="form-control" display-nr="" ng-model="item.p_daily_rate" ng-disabled="!edit.item.edit_access || edit.item.stage_status=='2'" ng-blur="edit.changeUserPrice(1,item)">
                                        </div>
                                        <div class="text-center col-xs-1" ng-if="edit.item.above_PM && edit.item.stage_status!='2'">
                                            <a href="#" ng-click="edit.viewCost(item)"><span class="fas fa-pen" title="{l}View cost{endl}"></span></a>
                                        </div>
                                        <div class="text-center col-xs-1" ng-if="edit.item.edit_access && edit.item.stage_status!='2'">
                                            <a href="#" ng-click="edit.removeUser(item)" confirm="{l}Delete this user?{endl}"><span class="glyphicon glyphicon-trash" title="{l}Delete{endl}"></span></a>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <!-- /.table_minimal -->
                </div>
                <!-- /.minimal_list-content -->
                <!-- <div class="text-center" ng-if="edit.item.edit_access && edit.item.stage_status!='2'">
					<button class="btn btn-block btn-blank add_article" ng-click="edit.item.add_staff=!edit.item.add_staff"><span class="fa fa-plus icon-holder"></span>{l}Add User{endl}</button>
					<div class="minimal_list-add col-sm-12" ng-if="!edit.item.add_staff">
						<selectize config='edit.userAutoCfg' options='edit.item.users_list' ng-model="edit.item.staff_id" id="users_list" placeholder="{l}Select Manager{endl}"></selectize>
						<button class="btn btn-default" ng-click="edit.AddBulkUser()">{l}Assign bulk members{endl}</button>
					</div>
				</div> -->
            </div>
        </div>
        <!-- end /.minimal_list-staff -->
        <div class="row minimal_list margin-bottom-none margin-top-none" ng-if="edit.item.articles_allowed && edit.project_id!='tmp' && edit.item.articles.is_data">
            <div class="col-xs-12">
                <div>
                    <h5><strong>{l}Articles{endl}</strong></h5>
                    <!-- <span ng-if="edit.item.edit_access && edit.item.stage_status!='2'"><a class="minimal_list-btn_add" ng-click="edit.item.add_article=false" ng-if="edit.item.add_article"><span class="glyphicon glyphicon glyphicon-plus"></span></a></span>
					<div class="minimal_list-add" ng-if="!edit.item.add_article">
						<selectize config='edit.articleAutoCfg' options='edit.item.articles_list' ng-model="edit.item.article_id" id="articles_list" placeholder="{l}Select Article{endl}"></selectize>
						<button class="btn btn-default" ng-click="edit.addArticle()">{l}Add{endl}</button>
						<button class="btn btn-link" ng-click="edit.cancelAddArticle()">{l}Cancel{endl}</button>
					</div> -->
                    <!-- /.minimal_list-add -->
                </div>
                <!-- /.minimal_list-header -->
                <!-- <div uib-alert type="notice" class="alert-warning" ng-if="!edit.item.articles.is_data">{l}No data to display{endl}</div> -->
                <div ng-if="edit.item.articles.is_data">
                    <table class="table active_rows orderTable">
                        <thead>
                            <tr>
                                <th>
                                    <div class="row">
                                        <div class="col-xs-1">{l}Code{endl}</div>
                                        <div class="col-xs-{{edit.item.articles.t_width}}">{l}Name{endl}</div>
                                        <div class="col-xs-2 text-center">{l}Quantity{endl}</div>
                                        <div class="col-xs-2 text-center">{l}Price{endl}</div>
                                        <div class="col-xs-1 text-center" ng-if="edit.item.articles.allow_stock">{l}Stock{endl}</div>
                                        <div class="col-xs-1 text-center">{l}To be delivered{endl}</div>
                                        <div class="col-xs-1" ng-if="edit.item.above_PM && edit.item.stage_status!='2'"></div>
                                        <div class="col-xs-1" ng-if="edit.item.edit_access && edit.item.stage_status!='2'"></div>
                                    </div>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="item in edit.item.articles.articles">
                                <td>
                                    <div class="row">
                                        <div class="col-xs-1">
                                            <label ng-bind-html="item.code"></label>
                                        </div>
                                        <div class="col-xs-{{edit.item.articles.t_width}} text-left">
                                            <!-- <input type="text" class="form-control" ng-model="item.name" ng-disabled="!edit.item.edit_access || edit.item.stage_status=='2' || item.billed =='1'" ng-blur="edit.changeArticleName(item)" /> -->
                                            <textarea ng-bind-html="item.name" ng-model="item.name" ng-disabled="!edit.item.edit_access || edit.item.stage_status=='2' || item.billed =='1'" ng-blur="edit.changeArticleName(item)" class="form-control" resize-txt rows="1"></textarea>
                                        </div>
                                        <div class="col-xs-2">
                                            <input type="text" class="form-control" display-nr="" ng-model="item.quantity" ng-disabled="!edit.item.edit_access || edit.item.stage_status=='2' || item.billed =='1'" ng-blur="edit.changeArticleQty(item)" />
                                        </div>
                                        <div class="col-xs-2">
                                            <input type="text" class="form-control" display-nr="" ng-model="item.price" ng-disabled="!edit.item.edit_access || edit.item.stage_status=='2' || item.billed =='1'" ng-blur="edit.changeArticlePrice(item)" />
                                        </div>
                                        <div class="col-xs-1 text-center {{item.stock_status}}" ng-if="edit.item.articles.allow_stock">
                                            <label><b>{{item.stock}}</b></label>
                                        </div>
                                        <!-- <div class="col-xs-1 text-center checkbox checkbox-primary">
						      				<input type="checkbox" id="checkbox_art_{{$index}}" ng-model="item.delivered_checked" ng-disabled="!edit.item.edit_access || edit.item.stage_status!='1'" ng-click="edit.checkArtDelivered(item)"/>
						      				<label for="checkbox_art_{{$index}}"></label>
						      			</div> -->
                                        <div class="col-xs-1 text-center">
                                            <label>{{item.to_be_delivered}}</label>
                                        </div>
                                        <div class="text-center col-xs-1" ng-if="edit.item.above_PM && edit.item.stage_status!='2'">
                                            <a href="#" ng-click="edit.viewArtMargin(item)"><span class="fas fa-pen" title="{l}View margin{endl}"></span></a>
                                        </div>
                                        <div class="text-center col-xs-1" ng-if="edit.item.edit_access && edit.item.stage_status!='2'">
                                            <a href="#" ng-click="edit.removeArticle(item)" confirm="{l}Delete this article?{endl}"><span class="glyphicon glyphicon-trash" title="{l}Delete{endl}"></span></a>
                                            <span ng-if="item.billed =='1'" class="glyphicon glyphicon-lock">
						      			</div>
					      			</div>	
								</td>
					    		</tr>
					  	</tbody>
					</table><!-- /.table_minimal -->
				</div><!-- /.minimal_list-content -->
		      </div>
		</div><!-- end /.minimal_list-staff -->
		<div class="row minimal_list margin-bottom-none margin-top-none" ng-if="edit.project_id !='tmp' && edit.item.purchases.is_data">
			<div class="col-xs-12">
		    		<div>
					<h5><strong>{l}Purchase{endl}</strong></h5>
					<!-- <span ng-if="edit.item.edit_access && edit.item.stage_status!='2'"><a class="minimal_list-btn_add" ng-click="edit.item.add_purchase=false" ng-if="edit.item.add_purchase"><span class="glyphicon glyphicon glyphicon-plus"></span></a>
                                            </span>
                                            <div class="minimal_list-add" ng-if="!edit.item.add_purchase">
                                                <input type="text" class="form-control" ng-model="edit.item.purchase_name" placeholder="{l}Add Purchase{endl}">
                                                <button class="btn btn-default" ng-click="edit.addPurchase()">{l}Add{endl}</button>
                                                <button class="btn btn-link" ng-click="edit.cancelAddPurchase()">{l}Cancel{endl}</button>
                                            </div> -->
                                            <!-- /.minimal_list-add -->
                                        </div>
                                        <!-- /.minimal_list-header -->
                                        <!-- <div uib-alert type="notice" class="alert-warning" ng-if="!edit.item.purchases.is_data">{l}No data to display{endl}</div> -->
                                        <div ng-if="edit.item.purchases.is_data">
                                            <table class="table active_rows orderTable">
                                                <thead>
                                                    <tr>
                                                        <th>
                                                            <div class="row">
                                                                <div class="col-xs-{{edit.item.purchases.t_width}}">{l}Purchase{endl}</div>
                                                                <div class="col-xs-2 text-center">{l}Supplier{endl}</div>
                                                                <div class="col-xs-2 text-center">{l}Price{endl}</div>
                                                                <div class="col-xs-1 text-center">{l}Margin{endl} %</div>
                                                                <div class="col-xs-2 text-center">{l}Sell price{endl}</div>
                                                                <div class="col-xs-1 text-center">{l}Delivered{endl}</div>
                                                                <div class="col-xs-1 text-center">{l}Comment{endl}</div>
                                                                <div class="col-xs-1 text-center"></div>
                                                                <div class="col-xs-1" ng-if="edit.item.edit_access && edit.item.stage_status!='2'"></div>
                                                            </div>
                                                        </th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr ng-repeat="item in edit.item.purchases.purchases">
                                                        <td>
                                                            <div class="row">
                                                                <div class="col-xs-{{edit.item.purchases.t_width}} text-left">
                                                                    <span ng-bind-html="item.PURCHASE"></span>
                                                                </div>
                                                                <div class="col-xs-2 text-left">
                                                                    <span ng-bind-html="item.SUPPLIER"></span>
                                                                </div>
                                                                <div class="col-xs-2">
                                                                    <input type="text" class="form-control" display-nr="" ng-model="item.unit_price" ng-disabled="!edit.item.edit_access || item.billed =='1' || edit.item.stage_status=='2'" ng-blur="edit.changePurchasesPrice(item)" />
                                                                </div>
                                                                <div class="col-xs-1">
                                                                    <input type="text" class="form-control" display-nr="" ng-model="item.margin" ng-disabled="!edit.item.edit_access || item.billed =='1' || edit.item.stage_status=='2'" ng-blur="edit.changePurchasesPrice(item)" />
                                                                </div>
                                                                <div class="col-xs-2">
                                                                    <input type="text" class="form-control" display-nr="" ng-model="item.sell_price" ng-disabled="!edit.item.edit_access || item.billed =='1' || edit.item.stage_status=='2'" ng-blur="edit.changePurchasesSPrice(item)" />
                                                                </div>
                                                                <div class="col-xs-1 text-center checkbox checkbox-primary">
                                                                    <input type="checkbox" id="checkbox_p_{{$index}}" ng-model="item.delivered" ng-disabled="!edit.item.edit_access || item.billed =='1' || edit.item.stage_status!='1'" ng-click="edit.checkPurchaseDelivered(item)" />
                                                                    <label for="checkbox_p_{{$index}}"></label>
                                                                </div>
                                                                <div class="col-xs-1 text-center">
                                                                    <a href="#" ng-click="edit.purchaseNote(item)"><span class="fas fa-comment" title="{l}Add Note{endl}"></span></a>
                                                                </div>
                                                                <div class="col-xs-1 text-center">
                                                                    <a href="#" ng-click="edit.showPurchase(item)"><span class="fas fa-pen"></span></a>

                                                                </div>
                                                                <div class="text-center col-xs-1" ng-if="edit.item.edit_access && edit.item.stage_status!='2'">
                                                                    <a href="#" ng-click="edit.removePurchase(item)" confirm="{l}Delete this purchase?{endl}"><span class="glyphicon glyphicon-trash" title="{l}Delete{endl}"></span></a>
                                                                    <span ng-if="item.billed =='1'" class="glyphicon glyphicon-lock">
						      			</div>
					      			</div>	
								</td>
					    		</tr>
					  	</tbody>
					</table><!-- /.table_minimal -->
				</div><!-- /.minimal_list-content -->
				<!-- <div class="text-center" ng-if="edit.item.edit_access && edit.item.stage_status!='2'">
				<button class="btn btn-block btn-blank add_article" ng-click="edit.item.add_purchase=!edit.item.add_purchase"><span class="fa fa-plus icon-holder"></span>{l}Add Purchase{endl}</button>
                                                                    <div class="minimal_list-add col-sm-12" ng-if="!edit.item.add_purchase">
                                                                        <input type="text" class="form-control" ng-model="edit.item.purchase_name" placeholder="{l}Add Purchase{endl}">
                                                                        <button class="btn btn-default" ng-click="edit.addPurchase()">{l}Add{endl}</button>
                                                                    </div>
                                                                </div> -->
                                                            </div>
                                        </div>
                                        <!-- end /.minimal_list-staff -->
                                        <div class="row minimal_list minimal_list-supplies" ng-if="edit.project_id !='tmp' && edit.item.edit_access && edit.item.stage_status!='2'">
                                            <div class="col-xs-12">
                                                <div class="btn-group btn-add_line_new" uib-dropdown>
                                                    <a href="#" class="btn text-link dropdown-toggle" uib-dropdown-toggle ng-click="edit.closeOpened()"><span class="fa fa-plus icon-holder"></span>{l}Add Content{endl}</a>
                                                    <ul class="dropdown-menu add_content" uib-dropdown-menu>
                                                        <li><a href="#" ng-click="edit.item.add_subtask2=!edit.item.add_subtask2"><i class="fa fa-tasks" aria-hidden="true"></i>{l}Add Task{endl}</a></li>
                                                        <li><a href="#" ng-click="edit.addServiceBtn()"><i class="fa fa-wrench" aria-hidden="true"></i>{l}Add Service{endl}</a></li>
                                                        <li><a href="#" ng-click="edit.addUserBtn()"><i class="fa fa-user-plus" aria-hidden="true"></i>{l}Add User{endl}</a></li>
                                                        <li><a href="#" ng-click="edit.AddBulkUser()"><i class="fa fa-users" aria-hidden="true"></i>{l}Assign bulk members{endl}</a></li>
                                                        <li ng-if="edit.item.articles_allowed"><a href="#" ng-click="edit.addArticleBtn()"><i class="fa fa-plus" aria-hidden="true"></i>{l}Add an Article of the catalog{endl}</a></li>
                                                        <li ng-if="edit.item.articles_allowed"><a href="#" ng-click="edit.openModal(edit,'addArticle',item,'lg')"><i class="fa fa-plus-square" aria-hidden="true"></i>{l}Quick add a product from the catalog{endl}</a></li>
                                                        <li><a href="#" ng-click="edit.item.add_purchase=!edit.item.add_purchase"><i class="fa fa-shopping-cart" aria-hidden="true"></i>{l}Add Purchase{endl}</a></li>
                                                    </ul>
                                                </div>
                                                <div class="col-xs-12">
                                                    <div class="col-sm-6 col-sm-offset-4" ng-if="edit.item.add_subtask2">
                                                        <div class="col-sm-8">
                                                            <input class="form-control" type="text" placeholder="{l}Add Task{endl}" ng-model="edit.item.task_name" />
                                                        </div>
                                                        <button class="btn btn-default" ng-click="edit.AddTask(2)">{l}Add Task{endl}</button>
                                                    </div>
                                                    <div class="col-sm-6 col-sm-offset-4" ng-if="!edit.item.add_purchase">
                                                        <div class="col-sm-8">
                                                            <input class="form-control" type="text" placeholder="{l}Add Purchase{endl}" ng-model="edit.item.purchase_name" />
                                                        </div>
                                                        <button class="btn btn-default" ng-click="edit.addPurchase()">{l}Add Purchase{endl}</button>
                                                    </div>
                                                    <div class="col-sm-6 col-sm-offset-3" ng-if="edit.item.add_subtask1">
                                                        <selectize ng-if="edit.item.add_subtask1" config='edit.taskAutoCfg' options='edit.item.tasks_list.lines' ng-model="edit.item.task_name" id="tasks_list" placeholder="{l}Select Task{endl}"></selectize>
                                                    </div>
                                                    <div class="col-sm-6 col-sm-offset-3" ng-if="!edit.item.add_staff">
                                                        <selectize ng-if="!edit.item.add_staff" config='edit.userAutoCfg' options='edit.item.users_list' ng-model="edit.item.staff_id" id="users_list" placeholder="{l}Select Manager{endl}"></selectize>
                                                    </div>
                                                    <div class="col-sm-6 col-sm-offset-3" ng-if="!edit.item.add_article && edit.item.articles_allowed">
                                                        <selectize ng-if="!edit.item.add_article" config='edit.articleAutoCfg' options='edit.item.articles_list' ng-model="edit.item.article_id" id="articles_list" placeholder="{l}Select Article{endl}"></selectize>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
    </form>
    <div class="row" ng-if="edit.item.project_id!='tmp'">
        <div class="col-sm-12">
            <h4>
                <strong>{l}Files{endl}</strong>
                <button ng-if="edit.item.dropbox.is_drop && !edit.show_load" type="button" class="btn btn-primary btn-add" uib-tooltip="{l}Upload{endl}" tooltip-placement="right" ng-click="edit.uploadDoc(1)"><span class="btn-add_icon"><span class="icon-bar"></span><span class="icon-bar-2"></span></span></button>
            </h4>
            <div class="row text-center" ng-if="edit.show_load">
                <i class="fa fa-spinner fa-spin fa-2x fa-fw" aria-hidden="true"></i><span class="sr-only"></span>
            </div>
            <!-- <div uib-alert type="notice" class="alert-warning" ng-if="!edit.item.dropbox.dropbox_files.length && !edit.show_load">{l}No data to display{endl}</div> -->
            <div type="notice" ng-if="!edit.item.dropbox.dropbox_files.length && !edit.show_load" class="padd-file">{l}No files have been added yet{endl}</div>
            <table class="table active_rows orderTable" ng-if="edit.item.dropbox.dropbox_files.length && !edit.show_load">
                <thead>
                    <tr>
                        <th class="col-md-1 col-sm-1 text-center">{l}Download{endl}</th>
                        <th class="col-md-10 col-sm-10">{l}File{endl}</th>
                        <th class="col-md-1 col-sm-1"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="item in edit.item.dropbox.dropbox_files">
                        <td class="text-center"><a href="{{item.down_file_link}}" target="_blank"><i class="fa fa-dropbox" aria-hidden="true"></i></a></td>
                        <td><a href="{{item.down_file_link}}" target="_blank">{{item.name}}</a></td>
                        <td class="table_actions">
                            <div class="btn-group" uib-dropdown>
                                <button type="button" class="btn btn-plain dropdown-toggle" uib-dropdown-toggle>
	                   <span class="caret"></span>
	                </button>
                                <ul class="dropdown-menu dropdown-menu-right" uib-dropdown-menu>
                                    <li class="dropdown-header">{l}Action{endl}</li>
                                    <li>
                                        <a href="#" ng-click="edit.deleteDropFile($index)" confirm="{l}Are you sure, you wanna delete this entry?{endl}"><span class="fas fa-trash-alt text-primary"></span> {l}Delete{endl}</a>
                                    </li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
            <h4>
                <strong>{l}Images{endl}</strong>
                <button ng-if="edit.item.dropbox.is_drop && !edit.show_load" type="button" class="btn btn-primary btn-add" uib-tooltip="{l}Upload{endl}" tooltip-placement="right" ng-click="edit.uploadDoc(2)"><span class="btn-add_icon"><span class="icon-bar"></span><span class="icon-bar-2"></span></span></button>
            </h4>
            <div class="row text-center" ng-if="edit.show_load">
                <i class="fa fa-spinner fa-spin fa-2x fa-fw" aria-hidden="true"></i><span class="sr-only"></span>
            </div>
            <!-- <div uib-alert type="notice" class="alert-warning" ng-if="!edit.item.dropbox.dropbox_images.length && !edit.show_load">{l}No data to display{endl}</div> -->
            <div type="notice" ng-if="!edit.item.dropbox.dropbox_images.length && !edit.show_load" class="padd-file">{l}No files have been added yet{endl}</div>
            <div class="row drop_images" ng-if="edit.item.dropbox.dropbox_images.length && !edit.show_load">
                <div class="col-sm-2 margin-top" ng-repeat="item in edit.item.dropbox.dropbox_images">
                    <div class="image">
                        <img class="link-pointer" ng-src="{{item.url}}" ng-click="edit.openLightboxModal($index)" />
                    </div>
                    <span class="glyphicon glyphicon-remove text-danger link-pointer" ng-click="edit.deleteDropImage($index)" confirm="{l}Are you sure, you wanna delete this entry?{endl}"></span>
                </div>
            </div>
        </div>
    </div>
    <div class="text-right" ng-if="edit.isAddPage">
        <a ng-if="edit.project_id=='tmp'" class="btn btn-default pull-right" ng-click="edit.saveData(edit.project_all)" save-spin>{l}Save{endl}</a>
    </div>
    <logging ng-if="edit.project_id !='tmp'" do='project-project' type="project_id" ref="{{edit.project_id}}"></logging>
    <a ng-if="edit.item.stage_status!='2' && edit.item.edit_access && edit.project_id!='tmp'" class="btn btn-default pull-right" ng-click="edit.saveData(edit.project_all)" save-spin>{l}Save{endl}</a>
    </div>