<div class="container">
    <!-- neede on all pages -->
    <div class="row page-content">
        <div class="col-xs-12 tabs-settings">
            <div class="row">
                <div class="col-xs-12 col-sm-3">
                    <div class="page-header">
                        <h1>{l}Project Module{endl}</h1>
                    </div>
                    <!-- /.page-header -->
                    <ul class="nav nav-tabs tabs-settings-nav">
                        <li class="active" ng-if="nothing"><a href="#pdf_layouts" aria-controls="pdf_layouts" data-toggle="tab">{l}PDF Layout{endl}</a></li>
                        <li class="active"><a href="#name_convention" aria-controls="name_convention" data-toggle="tab" ng-click="vm.load('name_convention','name_convention')">{l}Naming Convention{endl}</a></li>
                        <li ng-if="nothing"><a href="#emailMessage" aria-controls="emailMessage" data-toggle="tab" ng-click="vm.load('emailMessage','message','message_labels')">{l}Email message{endl}</a></li>
                        <li ng-if="nothing"><a href="#timesheet" aria-controls="timesheet" data-toggle="tab" ng-click="vm.load('timesheet','timesheet')">{l}Timesheet settings{endl}</a></li>
                        <li ng-if="nothing"><a href="#customLabels" aria-controls="customLabels" data-toggle="tab" ng-click="vm.load('customLabel','customLabel')">{l}Custom PDF labels{endl}</a></li>
                        <!-- <li><a href="#pdf_logos" aria-controls="pdf_logos" data-toggle="tab" ng-click="vm.load('logos','logos')">{l}PDF Logos{endl}</a></li> -->

                        <li><a href="#business" aria-controls="business" data-toggle="tab" ng-click="vm.load('business','bigloop')">{l}Business Unit{endl}</a></li>
                        <li><a href="#internal" aria-controls="internal" data-toggle="tab" ng-click="vm.load('internal','internal')">{l}Internal Companies{endl}</a></li>
                        <li><a href="#expenses" aria-controls="expenses" data-toggle="tab" ng-click="vm.load('expenses','expenses')">{l}Expenses{endl}</a></li>
                    </ul>
                </div>
                <div class="col-xs-12 col-sm-9 tab-content tabs-settings-content">
                    <!-- <div uib-alert ng-repeat="alert in vm.alerts" type="{{alert.type}}" close="vm.alerts.splice($index, 1);" ng-class="['alert-' + (alert.type || 'warning') ]" dismiss-on-timeout="5000">{{alert.msg}}</div> -->
                    <div class="tab-pane fade in active" id="pdf_layouts" ng-if="nothing">
                        <div class="section-title">
                            <div class="row">
                                <div class="col-xs-3">
                                    <h2>{l}PDF Layout{endl}</h2>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <a class="btn btn-default" role="button" target="_blank" title="PDF" href="index.php?do=project-timesheet_print&header_id={{vm.settings.selected_header}}&body_id={{vm.settings.selected_body}}&footer_id={{vm.settings.selected_footer}}&lid=1&save_as=preview&logo=upload/salesassist_2/logo_img_salesassist_2_1411562302.jpg">{l}Preview PDF{endl}</a>
                                </div>
                            </div>
                        </div>
                        <!-- /.section-title -->
                        <div class="section-content">
                            <div class="form-horizontal text-left">
                                <div class="form-group">
                                    <label class="col-xs-5 control-label">{l}Client{endl}</label>
                                    <div class="form-group col-xs-7">
                                        <!-- <toggle-switch on-change="vm.updateLayout()"  ng-model="vm.settings.client" class="switch-primary" off-label="{l}No{endl}" on-label="{l}Yes{endl}"></toggle-switch> -->
                                        <label class="switch pull-left small_margin">
                        <input type="checkbox" id="" on-change="vm.updateLayout()"  ng-model="vm.settings.client" class="switch-primary">
                        <span class="slider round"></span>
                    </label>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-xs-5 control-label">{l}Project{endl}</label>
                                    <div class="form-group col-xs-7">
                                        <!-- <toggle-switch on-change="vm.updateLayout()" ng-model="vm.settings.project" class="switch-primary" off-label="{l}No{endl}" on-label="{l}Yes{endl}"></toggle-switch> -->
                                        <label class="switch pull-left small_margin">
                                          <input type="checkbox" id="" on-change="vm.updateLayout()" ng-model="vm.settings.project" class="switch-primary">
                                          <span class="slider round"></span>
                                      </label>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-xs-5 control-label">{l}Task{endl}</label>
                                    <div class="form-group col-xs-7">
                                        <!-- <toggle-switch on-change="vm.updateLayout()" ng-model="vm.settings.task" class="switch-primary" off-label="{l}No{endl}" on-label="{l}Yes{endl}"></toggle-switch> -->
                                        <label class="switch pull-left small_margin">
                                          <input type="checkbox" id="" on-change="vm.updateLayout()" ng-model="vm.settings.task" class="switch-primary">
                                          <span class="slider round"></span>
                                      </label>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-xs-5 control-label">{l}Comment{endl}</label>
                                    <div class="form-group col-xs-7">
                                        <!-- <toggle-switch on-change="vm.updateLayout()" ng-model="vm.settings.comment" class="switch-primary" off-label="{l}No{endl}" on-label="{l}Yes{endl}"></toggle-switch> -->
                                        <label class="switch pull-left small_margin">
                                          <input type="checkbox" id="" on-change="vm.updateLayout()" ng-model="vm.settings.comment" class="switch-primary">
                                          <span class="slider round"></span>
                                      </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /.section-content -->
                        <div class="section-title section-title_alt margin-bottom-none">
                            <h2>{l}Header{endl}</h2>
                        </div>
                        <!-- /.section-title -->
                        <div class="row document_layout-list">
                            <div class="col-xs-6 col-sm-4 col-md-4 col-lg-3" ng-repeat="item in vm.layout_header">
                                <div class="document_layout-item {{item.selected}}" style="min-height: 260px;">
                                    <a href="#"><img class="img-responsive" ng-src="{{item.img_href}}" alt="" /></a>
                                    <p ng-if="item.selected"><a class="btn btn-sm btn-primary" href="#"><span class="glyphicon glyphicon-ok"></span> {l}Current{endl}</a></p>
                                    <p ng-if="item.selected"><a class="btn btn-sm btn-warning" ng-click="vm.modal({ id:item.type, header:item.header },'pTemplate/custom_pdf','ProjectCustomPdfCtrl','sm')" href="#"><span class="glyphicon glyphicon-wrench"></span> {l}Modify{endl}</a></p>
                                    <p ng-if="!item.selected"><a class="btn btn-sm btn-tertiary" href="#" ng-click="vm.selectHeaderLayout(vm,item.type)"><span class="glyphicon glyphicon-ok"></span> {l}Select{endl}</a></p>
                                </div>
                            </div>
                        </div>
                        <!-- /.document_layout-list -->
                        <div class="section-title section-title_alt margin-bottom-none">
                            <h2>{l}Body{endl}</h2>
                        </div>
                        <!-- /.section-title -->
                        <div class="row document_layout-list">
                            <div class="col-xs-6 col-sm-4 col-md-4 col-lg-3" ng-repeat="item in vm.layout_body">
                                <div class="document_layout-item {{item.selected}}">
                                    <a href="#"><img class="img-responsive" ng-src="{{item.img_href}}" alt="" /></a>
                                    <p ng-if="item.selected"><a class="btn btn-sm btn-primary" href="#"><span class="glyphicon glyphicon-ok"></span> {l}Current{endl}</a></p>
                                    <p ng-if="!item.selected"><a class="btn btn-sm btn-tertiary" href="#" ng-click="vm.selectBodyLayout(vm,item.type)"><span class="glyphicon glyphicon-ok"></span> {l}Select{endl}</a></p>
                                </div>
                            </div>
                        </div>
                        <!-- /.document_layout-list -->
                        <div class="section-title section-title_alt margin-bottom-none">
                            <h2>{l}Footer{endl}</h2>
                        </div>
                        <!-- /.section-title -->
                        <div class="row document_layout-list">
                            <div class="col-xs-6 col-sm-4 col-md-4 col-lg-3" ng-repeat="item in vm.layout_footer">
                                <div class="document_layout-item {{item.selected}}" style="min-height:260px;">
                                    <a href="#"><img class="img-responsive" ng-src="{{item.img_href}}" alt="" /></a>
                                    <p ng-if="item.selected"><a class="btn btn-sm btn-primary" href="#"><span class="glyphicon glyphicon-ok"></span> {l}Current{endl}</a></p>
                                    <p ng-if="item.selected"><a class="btn btn-sm btn-warning" ng-click="vm.modal({ id:item.type, footer:item.footer },'pTemplate/custom_pdf','ProjectCustomPdfCtrl','sm')" href="#"><span class="glyphicon glyphicon-wrench"></span> {l}Modify{endl}</a></p>
                                    <p ng-if="!item.selected"><a class="btn btn-sm btn-tertiary" href="#" ng-click="vm.selectFooterLayout(vm,item.type)"><span class="glyphicon glyphicon-ok"></span> {l}Select{endl}</a></p>
                                </div>
                            </div>
                        </div>
                        <!-- /.document_layout-list -->
                    </div>
                    <!-- /.tab-pane -->
                    <div class="tab-pane fade" id="expenses">
                        <div class="section-title">
                            <div class="row">
                                <div class="col-xs-8">
                                    <h2>{l}Expenses categories{endl}
                                        <button type="button" class="btn btn-primary btn-add" ng-click="vm.modal_small({},'pTemplate/expensEdit','ProjectexpensCtrl','sm')" uib-tooltip="{l}Add Expense{endl}" tooltip-placement="top"><span class="btn-add_icon"><span class="icon-bar"></span><span class="icon-bar-2"></span></span></button>
                                    </h2>
                                </div>
                            </div>
                        </div>
                        <!-- /.section-title -->
                        <div class="section-content">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th class="col-xs-8">{l}Name{endl}</th>
                                        <th class="col-xs-2"></th>
                                        <th class="col-xs-2 text-center">{l}Action{endl}</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="item in vm.expenses">
                                        <td>{{item.NAME}}</td>
                                        <td>{{item.PRICE}}</td>
                                        <td class="text-center">
                                            <a href="#" ng-click="vm.modal_small(item,'pTemplate/expensEdit','ProjectexpensCtrl','sm')"><span class="fas fa-pen"></span></a>
                                            <a href="#" ng-if="item.HIDE_DELETE==false" ng-click="vm.deleteexpense(vm,item.Q_ID)"><span class="fas fa-trash-alt"></span></a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <!-- /.tab-pane -->
                    <div class="tab-pane fade in active" id="name_convention">
                        <div class="section-title">
                            <div class="row">
                                <div class="col-xs-6">
                                    <h2>{l}Default Name{endl}</h2>
                                </div>
                            </div>
                        </div>
                        <!-- /.section-title -->
                        <div class="section-content">
                            <form class="form-horizontal text-left">
                                <div class="form-group">
                                    <label class="col-xs-4 control-label" for="inputEmail">
                    {l}Project Index:{endl} <!-- <small class="text-muted">{ {l}Fixed part{endl} }</small> -->
                    </label>
                                    <div class="col-xs-4 col-sm-2">
                                        <input id="inputEmail" class="form-control" type="text" ng-model="vm.name_convention.ACCOUNT_PROJECT_START">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-xs-4 control-label" for="inputPassword">
                    {l}No. of digits{endl} <!-- <small class="text-muted">{ {l}Incremental part{endl} }</small> -->
                    </label>
                                    <div class="col-xs-4 col-sm-2">
                                        <input id="inputPassword" class="form-control" type="text" ng-model="vm.name_convention.ACCOUNT_PROJECT_DIGIT_NR">
                                    </div>
                                </div>
                            </form>
                        </div>
                        <!-- /.section-content -->
                        <div class="text-right">
                            <button class="btn btn-default" type="button" ng-click="vm.save_conv()">{l}Save{endl}</button>
                        </div>
                    </div>
                    <!-- /.tab-pane -->
                    <div class="tab-pane fade" id="emailMessage" ng-if="nothing">
                        <div class="section-title">
                            <div class="row">
                                <div class="col-xs-6">
                                    <h2>{l}Timesheet Message{endl}</h2>
                                </div>
                                <div class="col-xs-5">
                                    <div class="col-xs-12">
                                        <select class="form-control" ng-model="vm.message.LANG_ID" ng-change="vm.ChangeLang()">
                      <option ng-repeat="option in vm.message.LANG_DD track by option.id" value="{{option.id}}">{{option.value}}</option>
                    </select>
                                    </div>
                                </div>
                                <div class="col-xs-1 text-right">
                                    <button type="submit" class="btn btn-default" ng-click="vm.saveMessage(vm,vm.message)">{l}Save{endl}</button>
                                </div>
                            </div>
                        </div>
                        <!-- /.section-title -->
                        <div class="section-content">
                            <p class="text-muted col-bottom">{l}Timesheet messages for projects{endl}</p>
                            <div class="form-group">
                                <h2>{l}Timesheet submited - email{endl}</h2>
                            </div>
                            <div class="form-horizontal text-left">
                                <!--                 <div class="form-group">
                    <label class="control-label col-xs-3">{l}Use HTML{endl}</label>
                    <div class="col-xs-3">
                    <toggle-switch  ng-model="vm.message.USE_HTML" on-change="vm.updateHtml()" class="switch-primary" off-label="{l}No{endl}" on-label="{l}Yes{endl}"></toggle-switch>
                    </div>
                </div> -->
                                <div class="form-group">
                                    <label class="control-label col-xs-3">{l}Labels{endl}</label>
                                    <div class="col-xs-3">
                                        <select class="form-control" ng-model="vm.message_labels.detail_id" ng-change="vm.Changecodelabes(vm,vm.message_labels)">
                        <option value="0">{l}Select{endl}</option>
                        <option ng-repeat="option in vm.message_labels.detail track by option.id_value" value="{{option.id_value}}">{{option.name}}</option>
                      </select>
                                    </div>
                                    <div class="col-xs-3 variables" ng-if="vm.message_labels.selected_detail != null">
                                        <li class="list-unstyled" ng-click="vm.clickys(vm.message_labels.selected_detail)">
                                            <input type="text" class="form-control disabled" readonly value="{{vm.message_labels.selected_detail}}" style="margin-bottom: 0;">
                                        </li>
                                    </div>
                                    <div class="control-label col-xs-3">
                                        <!-- <button type="submit" class="btn btn-tertiary" ng-click="Geman = !Geman" >{l}Toggle Details List{endl}</button> -->
                                        <a href="#" ng-click="Geman=true" class="text-link" ng-show="!Geman">{l}Show more{endl}&nbsp;<i class="glyphicon glyphicon-chevron-down" aria-hidden="true"></i></a>
                                        <a href="#" ng-click="Geman=false" class="text-link" ng-show="Geman">{l}Show less{endl}&nbsp;<i class="glyphicon glyphicon-chevron-up" aria-hidden="true"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="row variables" ng-show="Geman">
                                <div class="col-xs-4">
                                    <div class="form-group">
                                        <input type="text" class="form-control disabled" readonly value="[!ACCOUNT_COMPANY!]" onclick="this.select();">
                                        <label>{l}Account Name{endl}</label>
                                    </div>
                                </div>
                                <div class="col-xs-4">
                                    <div class="form-group">
                                        <input type="text" class="form-control disabled" readonly value="[!USER_NAME!]" onclick="this.select();">
                                        <label>{l}Name of the user{endl}</label>
                                    </div>
                                </div>
                                <div class="col-xs-4">
                                    <div class="form-group">
                                        <input type="text" class="form-control disabled" readonly value="[!START_DATE!]" onclick="this.select();">
                                        <label>{l}Start Date{endl}</label>
                                    </div>
                                </div>
                                <div class="col-xs-4">
                                    <div class="form-group">
                                        <input type="text" class="form-control disabled" readonly value="[!END_DATE!]" onclick="this.select();">
                                        <label>{l}End Date{endl}</label>
                                    </div>
                                </div>
                                <div class="col-xs-4">
                                    <div class="form-group">
                                        <input type="text" class="form-control disabled" readonly value="[!DATE!]" onclick="this.select();">
                                        <label>{l}Date{endl}</label>
                                    </div>
                                </div>
                                <div class="col-xs-4">
                                    <div class="form-group">
                                        <input type="text" class="form-control disabled" readonly value="[!SUMMARY!]" onclick="this.select();">
                                        <label>{l}Summary{endl}</label>
                                    </div>
                                </div>
                                <div class="col-xs-4">
                                    <div class="form-group">
                                        <input type="text" class="form-control disabled" readonly value="[!COMMENT!]" onclick="this.select();">
                                        <label>{l}Comment{endl}</label>
                                    </div>
                                </div>
                                <div class="col-xs-4">
                                    <div class="form-group">
                                        <input type="text" class="form-control disabled" readonly value="[!FIRST_NAME!]" onclick="this.select();">
                                        <label>{l}First Name{endl}</label>
                                    </div>
                                </div>
                            </div>
                            <!-- /.variables -->
                            <div class="form-horizontal text-left">
                                <div class="form-group" ng-if="vm.message.USE_HTML==true">
                                    <label class="col-xs-3">{l}Subject{endl} <span class="mandatory-label">*</span></label>
                                    <div class="col-xs-9">
                                        <input type="text" class="form-control form-language" ng-model="vm.message.SUBJECT_TIMESHEET">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-xs-3">{l}Body{endl} <span class="mandatory-label">*</span></label>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-12">
                                        <textarea ui-tinymce="vm.tinymceOptions" ng-model="vm.message.TEXT_TIMESHEET" id="altId" class="variable_assign">{{vm.message.TEXT_TIMESHEET}}</textarea>
                                        <input name="image" type="file" id="upload" class="hidden" onchange="">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <h2>{l}Timesheet rejected - email{endl}</h2>
                            </div>
                            <div class="form-horizontal text-left">
                                <div class="form-group">
                                    <label class="col-xs-3">{l}Subject{endl} <span class="mandatory-label">*</span></label>
                                    <div class="col-xs-9">
                                        <input type="text" class="form-control form-language" ng-model="vm.message.SUBJECT_REJECT">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-xs-3">{l}Body{endl} <span class="mandatory-label">*</span></label>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-12">
                                        <textarea ui-tinymce="vm.tinymceOptions" ng-model="vm.message.TEXT_REJECT" id="altId" class="variable_assign">{{vm.message.TEXT_REJECT}}</textarea>
                                        <input name="image" type="file" id="upload" class="hidden" onchange="">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <h2>{l}Timesheet reminder - email{endl}</h2>
                            </div>
                            <div class="form-horizontal text-left">
                                <div class="form-group">
                                    <label class="col-xs-3">{l}Subject{endl} <span class="mandatory-label">*</span></label>
                                    <div class="col-xs-9">
                                        <input type="text" class="form-control form-language" ng-model="vm.message.SUBJECT_REMINDER">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-xs-3">{l}Body{endl} <span class="mandatory-label">*</span></label>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-12">
                                        <textarea ui-tinymce="vm.tinymceOptions" ng-model="vm.message.TEXT_REMINDER" id="altId" class="variable_assign">{{vm.message.TEXT_REMINDER}}</textarea>
                                        <input name="image" type="file" id="upload" class="hidden" onchange="">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <h2>{l}Timesheet approved - email{endl}</h2>
                            </div>
                            <div class="form-horizontal text-left">
                                <div class="form-group">
                                    <label class="col-xs-3">{l}Subject{endl} <span class="mandatory-label">*</span></label>
                                    <div class="col-xs-9">
                                        <input type="text" class="form-control form-language" ng-model="vm.message.SUBJECT_APPROVED">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-xs-3">{l}Body{endl} <span class="mandatory-label">*</span></label>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-12">
                                        <textarea ui-tinymce="vm.tinymceOptions" ng-model="vm.message.TEXT_APPROVED" id="altId" class="variable_assign">{{vm.message.TEXT_APPROVED}}</textarea>
                                        <input name="image" type="file" id="upload" class="hidden" onchange="">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /.section-content -->
                    </div>
                    <!-- /.tab-pane -->
                    <div class="tab-pane fade" id="timesheet" ng-if="nothing">
                        <div class="section-title">
                            <div class="row">
                                <div class="col-xs-12">
                                    <h2>{l}Timesheet settings{endl}</h2>
                                </div>
                            </div>
                        </div>
                        <!-- /.section-title -->
                        <div class="section-content">
                            <div class="text-muted col-bottom">
                                <p>{l}Ad-hoc explanation{endl}</p>
                            </div>
                            <form class="form-horizontal text-left">
                                <div class="form-group">
                                    <label class="col-xs-4 control-label" for="inputEmail"> {l}Use the Ad-hoc timesheet and expenses.{endl} </label>
                                    <div class="col-xs-2">
                                        <!-- <toggle-switch on-change="vm.updatetimesheet()" ng-model="vm.timesheet.checked_useadhoc" class="switch-primary" off-label="{l}No{endl}" on-label="{l}Yes{endl}"></toggle-switch> -->
                                        <label class="switch pull-left small_margin">
                                          <input type="checkbox" id="" on-change="vm.updatetimesheet()" ng-model="vm.timesheet.checked_useadhoc" class="switch-primary">
                                          <span class="slider round"></span>
                                      </label>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <!-- /.section-content -->
                    </div>
                    <!-- /.tab-pane -->
                    <div class="tab-pane fade" id="customLabels" ng-if="nothing">
                        <div class="section-title">
                            <h2>{l}Translations{endl}</h2>
                        </div>
                        <!-- /.section-title -->
                        <div class="section-content">
                            <div class="text-muted col-bottom">
                                <p>{l}Custom labels for timesheets{endl}</p>
                                <p>{l}In order to translate the PDF versions of all timesheets select the languages and edit the labels.{endl}</p>
                            </div>
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th class="col-xs-10">{l}Language{endl}</th>
                                        <th class="col-xs-2 text-center">{l}Action{endl}</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="item in vm.customLabel">
                                        <td>{{item.name}}</td>
                                        <td class="text-center">
                                            <a href="#" ng-click="vm.modal(item,'pTemplate/label','ProjectlabelCtrl')"><span class="fas fa-pen"></span></a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <!-- /.tab-pane -->

                    <div class="tab-pane fade" id="business">
                        <div class="section-title">
                            <h2>{l}Business Unit{endl}</h2>
                        </div>
                        <!-- /.section-title -->
                        <div ng-repeat="item in vm.bigloop">
                            <div class="section-title section-title_alt module-general-setting">
                                <h2>{l}{{item.name}}{endl} <button type="button" class="btn btn-primary btn-add" ng-click="vm.AddField(vm,i.field,item.table,item.name)"  tooltip-placement="top"><span class="btn-add_icon"><span class="icon-bar"></span><span class="icon-bar-2"></span></span></button></h2>
                            </div>
                            <!-- /.section-title -->
                            <div class="form-horizontal text-left col-bottom">
                                <div class="form-group" ng-repeat="i in item.small">
                                    <label class="col-xs-3 col-sm-3 control-label">{l}{{i.label}}{endl}</label>
                                    <div class="col-xs-5 col-sm-5">
                                        <input type="text" class="form-control" ng-blur="vm.updatefield(vm,i.field_id,item.table,i.value)" ng-model="i.value">
                                    </div>
                                    <div class="col-xs-1 col-sm-1">
                                        <a href="" class="btn-remove" ng-click="vm.DeleteField(vm,i.field_id,item.table)"><span class="fa fa-trash"></span></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.tab-pane -->
                    <div class="tab-pane fade" id="internal">
                        <div class="section-title">
                            <h2>{l}Internal Companies{endl}</h2>
                        </div>
                        <!-- /.section-title -->
                        <!-- <div ng-repeat="item in vm.internal"> -->
                        <div class="section-title section-title_alt module-general-setting">
                            <h2>{l}{{vm.internal.name}}{endl} <button type="button" class="btn btn-primary btn-add" ng-click="vm.AddFieldInternal(vm.internal)"  tooltip-placement="top"><span class="btn-add_icon"><span class="icon-bar"></span><span class="icon-bar-2"></span></span></button></h2>
                        </div>
                        <!-- /.section-title -->
                        <div class="form-horizontal text-left col-bottom">
                            <div class="form-group" ng-repeat="i in vm.internal.small">
                                <label class="col-xs-4 col-sm-3 control-label">{l}{{i.label}}{endl}</label>
                                <div class="col-xs-5 col-sm-5">
                                    <input type="text" class="form-control" ng-blur="vm.updatefield(vm,i.field_id,vm.internal.table,i.value)" ng-show="i.value" ng-model="i.value">
                                    <selectize ng-if="!i.value" config="vm.salesCfg" options="vm.internal.accounts" ng-model="vm.value_id" ng-change="vm.AddFieldIntern(vm.internal)"></selectize>
                                </div>
                                <div class="col-xs-1 col-sm-1">
                                    <a href="" class="btn-remove" ng-click="vm.DeleteFieldInternal(vm,i.field_id,vm.internal.table)"><span class="fa fa-trash"></span></a>
                                </div>
                            </div>
                        </div>
                        <!-- </div> -->
                    </div>
                    <!-- /.tab-pane -->
                </div>
                <!-- /.tabs-settings-content -->
            </div>
        </div>
        <!-- /.tabs-settings -->
    </div>
    <!-- /.page-content -->
</div>
<!-- neede on all pages -->