<div class="page-header">
      <div class="row">
          <div class="col-sm-12">
            <h1>{{rep.item.PAGE_TITLE}}               
                <a class="btn btn-link pull-right" ui-sref="project.edit({'project_id': rep.project_id})" href="#"><span class="glyphicon glyphicon-list"></span> {l}Back to project{endl}</a>
            </h1>
          </div>
          <div class="col-sm-4 page-header-options" ng-if="rep.isAddPage">
          </div>
      </div>        
</div><!-- /.page-header -->
<div class="row">
  <div class="col-sm-12">
    <div class="col-sm-3">
      <h2>{l}Billable Amount{endl}</h2>
      <h1><strong><span ng-bind-html="rep.item.BILLABLE_A"></span></strong></h1>
      <h2>{l}Uninvoice Amount{endl}</h2>
      <h1><strong><span ng-bind-html="rep.item.UNINVOICE_A"></span></strong></h1>
    </div>
    <div class="col-sm-3">
      <h2>{{rep.item.hour_day}}</h2>
      <h1><strong><span>{{rep.item.HOURS_TRACKED}}</span></strong></h1>
      <h2>{{rep.item.hour_day_billable}}</h2>
      <ul>
        <li><span><strong>{{rep.item.BILLABLE_H}}</strong></span> {l}Billable{endl}</li>
        <li><span><strong>{{rep.item.UNBILLABLE_H}}</strong></span> {l}Not billable{endl}</li>
        <li><span><strong>{{rep.item.SUBMIT_H}}</strong></span> {l}Submitted{endl}</li>
        <li><span><strong>{{rep.item.NOT_SUBMIT_H}}</strong></span> {l}Not Submitted{endl}</li>
      </ul>
    </div>
    <div class="col-sm-6">
      <h2>{l}Budget follow-up{endl}:</h2>
      <div class="col-sm-6">
        <canvas class="chart chart-doughnut" chart-data="rep.budget_data" chart-labels="rep.budget_labels" chart-options="rep.chart_opt"></canvas>
      </div>
      <div class="col-sm-6">
        <p><strong>{{rep.item.type}}</strong></p>
        <ul>
          <li><span><strong ng-bind-html="rep.item.BUDGET"></strong></span></li>
          <li><span><strong ng-bind-html="rep.item.SPENT"></strong></span> {l}Spent{endl}</li>
          <li><span><strong><span ng-bind-html="rep.item.BUDGET_LEFT"></span> (<span ng-bind-html="rep.item.PROCENT"></span>%)</strong></span> {l}Left{endl}</li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-9">
    <canvas class="chart chart-bar" chart-data="rep.bar_data" chart-labels="rep.bar_labels" chart-series="rep.bar_series" chart-options="rep.chart_options"></canvas>
  </div>
  <div class="col-sm-3" ng-if="rep.item.cost_rights">
    <div class="col-sm-12">
      <table class="table table-bordered active_rows orderTable">
        <thead>
          <tr>
            <th colspan="2"><strong>{l}Profitability{endl}</strong></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>{l}Forecast{endl}</td>
            <td class="text-right"><span ng-bind-html="rep.item.teoretic_p"></span></td>
          </tr>
          <tr>
            <td>{l}Actual{endl}</td>
            <td class="text-right"><span ng-bind-html="rep.item.invoice_p"></span></td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-sm-12">
      <table class="table table-bordered active_rows orderTable">
        <thead>
          <tr>
            <th colspan="2"><strong>{l}Profitability{endl}</strong></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>{l}Forecast{endl}</td>
            <td class="text-right"><span>{{rep.item.teoretic_pr}} %</span></td>
          </tr>
          <tr>
            <td>{l}Actual{endl}</td>
            <td class="text-right"><span ng-bind-html="rep.item.invoice_pr"></span></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<div class="row">
  <table class="table active_rows orderTable" ng-if="rep.item.HIDE_TASK_REP">
    <thead>
      <tr>
        <th class="col-sm-{{rep.item.t_width}}">{l}Task name{endl}</th>
        <th class="col-sm-2 text-right" ng-if="rep.item.hide_these">{l}Budget(amount){endl}</th>
        <th class="col-sm-1" ng-if="rep.item.hide_these"></th>
        <th class="col-sm-2 text-right" ng-if="rep.item.hide_these">{l}Balance spent / left(amount){endl}</th>
        <th class="col-sm-2 text-right" ng-if="rep.item.HIDE_THIS">{{rep.item.budget_hours}}</th>
        <th class="col-sm-1" ng-if="rep.item.HIDE_THIS"></th>
        <th class="col-sm-2 text-right" ng-if="rep.item.HIDE_THIS">{{rep.item.balance_spent_left}}</th>
      </tr>
      </thead>
      <tbody>
        <tr ng-repeat="item in rep.item.task_row">
          <td>{{item.TASK_NAME}}</td>
          <td class="text-right" ng-if="rep.item.hide_these"><span ng-bind-html="item.TASK_BUDGET"></span></td>
          <td ng-if="rep.item.hide_these">
              <div ng-if="item.p" class="progress margin-bottom-none">
                <div class="progress-bar" style="width: {{item.b_width}}%;"></div>
                <div ng-if="item.b_over_spent" class="progress-bar progress-bar-danger" style="width: {{item.b_width_red}}%;"></div>
              </div>
          </td>
          <td class="text-right" ng-if="rep.item.hide_these"><span ng-bind-html="item.RATE"></span></td>
          <td class="text-right" ng-if="rep.item.HIDE_THIS">{{item.TASK_HOURS}}</td>
          <td ng-if="rep.item.HIDE_THIS">
            <div ng-if="item.p_h" class="progress margin-bottom-none">
                <div class="progress-bar" style="width: {{item.h_width}}%;"></div>
                <div ng-if="item.h_over_spent" class="progress-bar progress-bar-danger" style="width: {{item.h_width_red}}%;"></div>
              </div>
          </td>
          <td class="text-right" ng-if="rep.item.HIDE_THIS">{{item.RATE_HOURS}}</td>
        </tr>
        <tr>
          <td><b>{l}Total{endl}</b></td>
          <td class="text-right" ng-if="rep.item.hide_these"><b><span ng-bind-html="rep.item.TOTAL_AMOUNT"></span></b></td>
          <td ng-if="rep.item.hide_these"></td>
          <td class="text-right" ng-if="rep.item.hide_these"><b><span ng-bind-html="rep.item.TOTAL_AMOUNT_SPENT"></span></b></td>
          <td class="text-right" ng-if="rep.item.HIDE_THIS"><b>{{rep.item.TOTAL_HOURS}}</b></td>
          <td ng-if="rep.item.HIDE_THIS"></td>
          <td class="text-right" ng-if="rep.item.HIDE_THIS"><b>{{rep.item.TOTAL_HOURS_SPENT}}</b></td>
        </tr>
      </tbody>
  </table>
  <a class="pull-right" ng-if="rep.item.HIDE_INFO" href="#" ng-if="rep.item.HIDE_INFO" ui-sref="project.report_detailed({'project_id': rep.project_id})">{l}Detailed Report{endl}</a>
  <table class="table active_rows orderTable" ng-if="rep.item.HIDE_INFO">
    <thead>
      <tr>
        <th ng-class="{ 'col-sm-3':rep.item.hide_ud==true, 'col-sm-8':rep.item.hide_ud==false}">{l}Name{endl}</th>
        <th class="col-sm-2 text-right" ng-if="rep.item.hide_ud">{l}Budget(amount){endl}</th>      
        <th class="col-sm-1" ng-if="rep.item.hide_ud"></th>
        <th class="col-sm-2 text-right" ng-if="rep.item.hide_ud">{l}Balance spent / left(amount){endl}</th>
        <th class="col-sm-2 text-right">{{rep.item.hours_fixed_budget}}</th>
        <th class="col-sm-2 text-right">{l}Billable Amount{endl}</th>
      </tr>
      </thead>
      <tbody>
        <tr class="active" ng-repeat-start="item in rep.item.u_hours_row">
          <td>{{item.CUSTOMER_N}}</td>
          <td class="text-right" ng-if="rep.item.hide_ud">{{item.budget_user}}</td>         
          <td ng-if="rep.item.hide_ud">
              <div class="progress margin-bottom-none">
                <div class="progress-bar" style="width: {{item.bu_width}}%;"></div>
                <div ng-if="item.bu_over_spent" class="progress-bar progress-bar-danger" style="width: {{item.bu_width_red}}%;"></div>
              </div>
          </td>
          <td class="text-right" ng-if="rep.item.hide_ud">{{item.budget_user_l}}</td>
          <td class="text-right">{{item.TOTAL_HOUR}}</td>
          <td class="text-right"><span ng-bind-html="item.BILLALBE_A"></span></td>
        </tr>
        <tr ng-repeat-end ng-repeat="item2 in item.x_hours_row">
            <td>{{item2.STAFF_N}}</td>
            <td ng-if="rep.item.hide_ud"></td>
            <td ng-if="rep.item.hide_ud"></td>
            <td ng-if="rep.item.hide_ud"></td>
            <td class="text-right">{{item2.TOTAL_HOUR_2}}</td>
            <td class="text-right"><span ng-bind-html="item2.BILLALBE_A2"></span></td>
        </tr>
      </tbody>
  </table>
  <table class="table active_rows orderTable" ng-if="rep.item.article_min">
    <thead>
      <tr>
        <th class="col-sm-4">{l}Article name{endl}</th>
        <th class="col-sm-2 text-right">{l}Quantity{endl}</th>
        <th class="col-sm-2 text-right">{l}Purchase price{endl}</th>
        <th class="col-sm-2 text-right">{l}Price{endl}</th>
        <th class="col-sm-2 text-right">{l}Billable Amount{endl}</th>
      </tr>
      </thead>
      <tbody>
        <tr ng-repeat="item in rep.item.article_row">
          <td>{{item.ARTICLE_N}}</td>
          <td class="text-right">{{item.art_quantity}}</td>
          <td class="text-right">{{item.art_purchase_price}}</td>
          <td class="text-right">{{item.art_sell_price}}</td>
          <td class="text-right"><span ng-bind-html="item.art_bill_amount"></span></td>
        </tr>
        <tr>
          <td><b>{l}Total{endl}</b></td>
          <td class="text-right"><b>{{rep.item.TOTAL_QUANTITY}}</b></td>
          <td class="text-right"><b>{{rep.item.TOTAL_PURCHASE_PRICE}}</b></td>
          <td class="text-right"><b>{{rep.item.TOTAL_SELL_PRICE}}</b></td>
          <td class="text-right"><b><span ng-bind-html="rep.item.TOTAL_BILL_ART"></span></b></td>
        </tr>
      </tbody>
  </table>
  <table class="table active_rows orderTable" ng-if="rep.item.purchase_row.length">
    <thead>
      <tr>
        <th class="col-sm-4">{l}Purchase{endl}</th>
        <th class="col-sm-2 text-right">{l}Supplier{endl}</th>
        <th class="col-sm-2 text-right">{l}Price{endl}</th>
        <th class="col-sm-2 text-right">{l}Sell price{endl}</th>
        <th class="col-sm-2 text-right">{l}Billable Amount{endl}</th>
      </tr>
      </thead>
      <tbody>
        <tr ng-repeat="item in rep.item.purchase_row">
          <td>{{item.name}}</td>
          <td class="text-right">{{item.supplier}}</td>
          <td class="text-right"><span ng-bind-html="item.price"></span></td>
          <td class="text-right"><span ng-bind-html="item.selling_price"></span></td>
          <td class="text-right"><span ng-bind-html="item.billable_price"></span></td>
        </tr>
        <tr>
          <td><b>{l}Total{endl}</b></td>
          <td class="text-right"></td>
          <td class="text-right"><b><span ng-bind-html="rep.item.TOTAL_P_UNIT_PRICE"></span></b></td>
          <td class="text-right"><b><span ng-bind-html="rep.item.TOTAL_P_SELLING_PRICE"></span></b></td>
          <td class="text-right"><b><span ng-bind-html="rep.item.TOTAL_P_BILLABLE"></span></b></td>
        </tr>
      </tbody>
  </table>
</div>