<div class="page-header">
      <div class="row">
          <div class="col-sm-12">
            <h1>{{rep.item.PAGE_TITLE}}                             
                <a class="pull-right" href="{{rep.item.EXPORT_HREF}}" target="_blank" title="{l}Export to xls{endl}"><span class="fas fa-upload"></span></a>
                <a class="btn btn-link pull-right" ui-sref="project.report({'project_id': rep.project_id})">{l}Project report{endl}</a>
                <a class="btn btn-link pull-right" ui-sref="project.edit({'project_id': rep.project_id})" href="#">{l}Back to project{endl}</a>
            </h1>
          </div>
          <div class="col-sm-4 page-header-options" ng-if="rep.isAddPage">
          </div>
      </div>        
</div><!-- /.page-header -->
<div class="row">
	<table class="table table-bordered active_rows orderTable">
	    	<thead>
		      <tr>
		        	<th class="col-sm-2">{l}Client{endl}</th>
		        	<th class="col-sm-2">{l}Project{endl}</th>
		        	<th class="col-sm-2">{l}Task{endl}</th>
		        	<th class="col-sm-2">{l}Person{endl}</th>
		        	<th class="col-sm-2">{l}Comment{endl}</th>
		        	<th class="col-sm-2 text-center" colspan="2">{{rep.item.hour_day}}</th>
		      </tr>
		      <tr>
		       	<th colspan="5"></th>
		      	<th class="col-sm-1">{l}Unbillable{endl}</th>
		       	<th class="col-sm-1">{l}Billable{endl}</th>
		      </tr>
	      </thead>
	      <tbody>
	        <tr class="active" ng-repeat-start="item in rep.item.time_row">
	          <td colspan="6"><strong>{{item.DATE}}</strong></td>
	          <td class="text-right">{{item.TOTAL_C_HOURS}}</td>         
	        </tr>
	        <tr ng-repeat-end ng-repeat="item2 in item.detailed_time_row">
	            <td>{{item2.CUSTOMERS}}</td>
	            <td>{{item2.PROJECT}}</td>
	            <td>{{item2.TASK}}</td>
	            <td>{{item2.USER}}</td>
	            <td ng-bind-html="item2.COMMENT"></td>
	            <td><span class="glyphicon glyphicon-lock" ng-if="item2.LOCKED_B" title="Entry has been invoiced and locked"></span> <span>{{item2.HOURS}}</span></td>
	            <td class="text-right"><span class="glyphicon glyphicon-lock" ng-if="item2.LOCKED_SB" title="Entry has been invoiced and locked"></span> <span>{{item2.HOURSB}}</span></td>
	        </tr>
	      </tbody>
	      <tfoot>
	      	<tr>
			      <td colspan="5" class="text-right"></td>
		        	<td class="text-center"><strong>{{rep.item.TOTAL_H_U}}</strong></td>
		        	<td class="text-center"><strong>{{rep.item.TOTAL_H}}</strong></td>
		      </tr>
		      <tr>
		        	<td colspan="5" class="text-right"></td>
		        	<td colspan="2" class="text-center">{l}Total{endl} <strong>{{rep.item.TOTAL}}</strong></td>
		      </tr>
	      </tfoot>
	</table>
</div>