<div class="container">
   <div class="page-header">
  	<div class="row">
      	<div class="col-xs-8 col-sm-6">
              <h1>{l}Projects{endl}
              	<a class="pull-left" ng-if="list.length" href="{{export_link}}" target="_blank" title="{l}To deliver projects .xls{endl}"><span class="fas fa-upload"></span></a>
              </h1>
          </div>
          <div class="col-xs-4 col-sm-6 text-right" ng-if="show_settings.is_admin_project">
                <div class="dropdown new-settings">
                  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-ellipsis-v"></i></button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                      <li class="dropdown-item" ng-class="{ 'current':menu.submenu == 'project_setting' }">
                        <a go-to="" href="projectSettings/" state="projectSettings"><span class="fas fa-cog text-primary"></span> {l}Project Module{endl}</a>
                      </li>
                    </div>
                </div>
            </div>
      </div>
  </div><!-- /.page-header -->
  <div class="tabs-navigation">
    <ul class="nav nav-tabs">
      <li>
          <a href="projects/" go-to="" state="projects">{l}Projects{endl}</a>
          <button type="button" class="btn btn-primary btn-add" go-to="" state="project.edit" params='{"project_id": "tmp"}' uib-tooltip="{l}Add{endl}" tooltip-placement="top"><span class="btn-add_icon"><span class="icon-bar"></span><span class="icon-bar-2"></span></span></button>
      </li>
      <li>
        <a href="project_invoice/" go-to="" state="project_invoice">{l}Billable{endl}</a>
      </li>
      <li class="active">
        <a href="project_deliver/" go-to="" state="project_deliver">{l}To Deliver{endl}</a>
      </li>
    </ul> 
   <div class="tab-content">
        <div class="tab-pane active">
  <div uib-alert type="notice" class="alert-warning" ng-if="!list.length">{l}No data to display{endl}</div>
  <div class="row page-search">
  	<form>
    	<div class="col-sm-12 col-md-12">
          <div class="so-field" ng-class="{ 'so-active':search.search!='' }">
            <span class="glyphicon glyphicon-search so-icon"></span>
            <input type="text" class="form-control" placeholder="{l}Search{endl}" search-it doit="search" callbk="renderList" ng-model="search.search">
            <span class="glyphicon glyphicon-remove so-icon so-remove" ng-click="toggleSearchButtons('search','')"></span>
          </div><!-- /.input-search -->
      </div>
    </form>
  </div><!-- /.page-search -->
  <div class="row page-content">
  	<div class="col-sm-12">
  	  <table class="table active_rows orderTable">
          <thead>
            <tr>
              <th class="col-sm-1">{l}Status{endl}</th>
              <th class="col-sm-3 sortable_row" ng-class="{ 'sortable_row-up':(!reverse && ord=='start_date') , 'sortable_row-down':(reverse && ord=='start_date') }" ng-click="orderBY('start_date')">{l}Start Date{endl}</th>
              <th class="col-sm-3 sortable_row" ng-class="{ 'sortable_row-up':(!reverse && ord=='name') , 'sortable_row-down':(reverse && ord=='name') }" ng-click="orderBY('name')">{l}Project{endl}</th>
              <th class="col-sm-4 sortable_row" ng-class="{ 'sortable_row-up':(!reverse && ord=='company_name') , 'sortable_row-down':(reverse && ord=='company_name') }" ng-click="orderBY('company_name')">{l}Customer Name{endl} </th>
              <th class="col-sm-1 table_actions"></th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="item in list" class="collapseTr">
              <td class="text-muted expand_row">
                <span class="item-icons">
                  <i class="fa fa-chevron-right btn-expand" ng-click="listMore($index)"></i>
                  <i class="fa fa-chevron-down btn-expand hidden" ng-click="listLess($index)"></i>
                  <!-- <span class="glyphicon glyphicon-plus btn-expand" ng-click="listMore($index)"></span>
                  <span class="glyphicon glyphicon-minus btn-expand hidden" ng-click="listLess($index)"></span> -->
                  <span ng-if="item.stage !=2" class="item-status item-status-gray" ng-class="{ 'item-status-green':item.stage==1 }" title="{{item.status_title}}" go-to="" state="project.edit" params='{"project_id": {{::item.project_id}}}' list='{ "type":"project-projects", "obj": { "search":{{search}} } }'></span>
                </span>
              </td>
              <td class="text-muted" go-to="" state="project.edit" params='{"project_id": {{::item.project_id}}}' list='{ "type":"project-projects", "obj": { "search":{{search}} } }'>
                  <a href="project/edit/{{item.project_id}}" class="text-muted"><span ng-bind-html="item.PROJECT_DATE"></span></a>
              </td>
              <td class="text-muted" go-to="" state="project.edit" params='{"project_id": {{::item.project_id}}}' list='{ "type":"project-projects", "obj": { "search":{{search}} } }'>
                  <a href="project/edit/{{item.project_id}}" class="text-muted"><span ng-bind-html="item.NAME"></span></a>
              </td>
              <td class="text-muted" go-to="" state="project.edit" params='{"project_id": {{::item.project_id}}}' list='{ "type":"project-projects", "obj": { "search":{{search}} } }' >
                <a href="project/edit/{{item.project_id}}" class="text-muted"><span ng-bind-html="item.CUSTOMER"></span></a>
              </td>
              <td class="table_actions">
                <div class="btn-group" uib-dropdown>
                  <button type="button" class="btn btn-plain dropdown-toggle" uib-dropdown-toggle>
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-right" uib-dropdown-menu>
                        <li class="dropdown-header">{l}Action{endl}</li>
                        <li>
                          <a href="#" go-to="" state="project.edit" params='{"project_id": {{::item.project_id}}}' list='{ "type":"project-project", "obj": { "search":{{search}} } }'><span class="fas fa-pen text-primary"></span> {l}Edit{endl}</a>
                      </li>   
                    </ul>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
  	</div>
  </div>
    <div class="col-sm-12">
        <div class="col-sm-8">
            <ul ng-if="max_rows && max_rows > lr" uib-pagination total-items="max_rows" ng-model="search.offset" ng-change="searchThing()" max-size="5" class="pager" boundary-links="true" items-per-page="lr"></ul>
        </div>
        <div class="col-sm-4 text-right">
            <label ng-if="max_rows">{l}Number of projects{endl}: <strong>{{max_rows}}</strong></label>
        </div>
    </div>
<!--  <ul ng-if="max_rows > 30" uib-pagination total-items="max_rows" ng-model="search.offset" ng-change="searchThing()" max-size="5" class="pager" boundary-links="true" items-per-page="lr" ></ul>-->
</div>
</div>
</div>
</div>