<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="inv.cancel()"><span aria-hidden="true">&times;</span></button>
  <h4 class="modal-title">{l}List invoices{endl}</h4>
</div>
<div class="modal-body">
	<div class="row page-content">
		<div class="col-xs-12">
      <label><b>{l}Our reference{endl}: {{inv.obj.serial_nr}}</b> <a href="#" uib-tooltip="{l}project reference{endl}" tooltip-placement="right"><i class="fa fa-question-circle" aria-hidden="true"></i></a></label>
      <table ng-if="inv.obj.is_data" class="table active_rows orderTable">
              <thead>
                <tr>
                  <th class="col-md-2 col-sm-2">{l}Invoice{endl}</th>
                  <th class="col-md-2 col-sm-2">{l}Date{endl}</th>
                  <th class="col-md-4 col-sm-4">{l}Company{endl}</th>
                  <th class="col-md-2 col-sm-2">{l}Amount{endl}</th>
                  <th class="col-md-2 col-sm-2">{l}Amount + VAT{endl}</th>                    
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="item in inv.obj.list">
                  <td ng-click="inv.viewInvoice(item.id)">{{item.s_number}}</td>
                  <td ng-click="inv.viewInvoice(item.id)">{{item.created}}</td>
                  <td ng-click="inv.viewInvoice(item.id)">{{item.buyer_name}}</td>
                  <td ng-click="inv.viewInvoice(item.id)"><span ng-bind-html="item.amount"></span></td>
                  <td ng-click="inv.viewInvoice(item.id)"><span ng-bind-html="item.amount_vat"></span></td>  
                </tr>
              </tbody>
			</table>
		</div>
	</div>
	<div uib-alert type="notice" class="alert-warning" ng-if="!inv.obj.is_data">{l}No data to display{endl}</div>
  <ul ng-if="inv.list.max_rows > 30" uib-pagination total-items="inv.list.max_rows" ng-model="inv.search.offset" ng-change="inv.searchThing()" max-size="5" class="pager" boundary-links="true" items-per-page="inv.obj.lr" ></ul>
</div>
<div class="modal-footer">
    <button class="btn btn-plain" type="button" ng-click="inv.cancel()">{l}Close{endl}</button>
</div>