<div class="container">
   <div class="page-header">
  	<div class="row">
      	<div class="col-xs-8 col-sm-6">
              <h1>{l}Projects{endl}</h1>
          </div>
          <div class="col-xs-4 col-sm-6 text-right" ng-if="show_settings.is_admin_project">
                <div class="dropdown new-settings">
                  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-ellipsis-v"></i></button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                      <li class="dropdown-item" ng-class="{ 'current':menu.submenu == 'project_setting' }">
                        <a go-to="" href="projectSettings/" state="projectSettings"><span class="fas fa-cog text-primary"></span> {l}Project Module{endl}</a>
                      </li>
                    </div>
                </div>
            </div>
      </div>
  </div><!-- /.page-header -->
  <div class="tabs-navigation">
    <ul class="nav nav-tabs">
      <li>
          <a href="projects/" go-to="" state="projects">{l}Projects{endl}</a>
          <button type="button" class="btn btn-primary btn-add" go-to="" state="project.edit" params='{"project_id": "tmp"}' uib-tooltip="{l}Add{endl}" tooltip-placement="top"><span class="btn-add_icon"><span class="icon-bar"></span><span class="icon-bar-2"></span></span></button>
      </li>
      <li class="active">
        <a href="project_invoice/" go-to="" state="project_invoice">{l}Billable{endl}</a>
      </li>
      <li>
        <a href="project_deliver/" go-to="" state="project_deliver">{l}To Deliver{endl}</a>
      </li>
    </ul> 
   <div class="tab-content">
        <div class="tab-pane active">
  <div uib-alert type="notice" class="alert-warning" ng-if="!item.HIDE_ALL">{l}There are no hours recorded for this time period{endl}. <a href="#" ui-sref="timesheet">{l}Track your time under{endl} {l}Timesheets{endl}</a></div>
  <div class="row page-search">
  	<form>
	    	<div class="col-sm-2">
<!--	          <div class="btn-group btn-block">-->
<!--	            <selectize placeholder="{l}All Periods{endl}" config='filterCfg' options='item.periods' ng-model="item.period_id" ></selectize>-->
<!--	          </div>-->
				<div class="so-field" ng-class="{ 'so-active':search.period_id }">
					<selectize config='filterCfg' options='item.periods' ng-model='search.period_id'></selectize>
					<span class="glyphicon glyphicon-remove so-icon so-remove" ng-click="toggleSearchButtons('period_id', '')"></span>
				</div>
	      </div>
	      <div class="col-sm-2">
<!--	          <div class="btn-group btn-block">-->
<!--	            <selectize placeholder="{l}All Customers{endl}" config='custCfg' options='item.customers_list' ng-model="item.customer_id" ></selectize>-->
<!--	          </div>-->
			  <div class="so-field" ng-class="{ 'so-active':search.customer_id }">
				  <selectize config='custCfg' options='item.customers_list' ng-model='search.customer_id'></selectize>
				  <span class="glyphicon glyphicon-remove so-icon so-remove" ng-click="toggleSearchButtons('customer_id', '')"></span>
			  </div>
	      </div>
    </form>
  </div><!-- /.page-search -->
  <div class="row page-content">
  	<div class="col-sm-12" ng-if="item.HIDE_ALL">
  		<div class="row">
  			<div class="col-sm-3">
	  			<h2>{l}Hours Tracked{endl}</h2>
	        		<h1><strong>{{item.HOURS_TRACKED}}</strong></h1>
	        		<h2>{l}Days Tracked{endl}</h2>
	        		<h1><strong>{{item.DAYS_TRACKED}}</strong></h1>
	  		</div>
	  		<div class="col-sm-3">
	  			<h2>{l}Hours{endl}</h2>
	  			<ul>
			          <li><span><strong>{{item.BILLABLE_H}}</strong></span> {l}Submitted{endl}</li>
			          <li><span><strong>{{item.UNBILLABLE_H}}</strong></span> {l}Approved{endl}</li>
			      </ul>
			      <h2>{l}Days{endl}</h2>
			      <ul>
			          <li><span>{{item.BILLABLE_D}}</span> {l}Submitted{endl}</li>
			          <li><span>{{item.UNBILLABLE_D}}</span> {l}Approved{endl}</li>
			      </ul>
	  		</div>
	  		<div class="col-sm-4">
	  			<h2>{l}Billable Amount{endl}</h2>
			      <h1><strong><span ng-bind-html="item.BILLABLE_A"></span></strong></h1>
			      <h2>{l}Approved Amount{endl}</h2>
			      <h1><strong><span ng-bind-html="item.APPROVED_A"></span></strong></h1>
			      <div class="row form-group">
			      	<label class="col-sm-5">{l}Show Approved{endl}</label>
			      	<div class="col-sm-2">
			      		<toggle-switch  ng-model="item.show_approved" on-change="filterData()" class="switch-primary" off-label="{l}No{endl}" on-label="{l}Yes{endl}"></toggle-switch>
			      	</div>	      	
			      </div>
	  		</div>
	  		<div class="col-sm-2">
	  			<div class="row margin-top">
	  				<a class="btn btn-default" href="{{item.pdf_link}}" target="_blank">{l}Generate PDF Report{endl}</a>
	  			</div>
	  			<div class="row margin-top">
	  				<a class="btn btn-default" href="{{item.excel_link}}" target="_blank">{l}Export to Excel{endl}</a>
	  			</div>  		  			
	  		</div>
  		</div>	
  		<div class="row">
  			<div class="col-sm-12">
  				<h1>{l}Invoices{endl}</h1>
  			</div>
  			<div class="col-sm-12" ng-repeat="cust in item.customers">
  				<p>{l}Customer Name{endl}: <span ng-bind-html="cust.c_name"></span></p>
  				<p>{l}Project Manager{endl}: <span ng-bind-html="cust.proj_man"></span></p>
  				<table class="table active_rows orderTable" ng-if="item.is_task">
				    <thead>
				      <tr>
				        <th class="col-sm-6">{l}Tasks{endl}</th>
				        <th class="col-sm-2 text-right">{l}Quantity{endl}</th>
				        <th class="col-sm-2 text-right">{l}Unit Price{endl}</th>
				        <th class="col-sm-2 text-right">{l}Amount{endl}</th>
				      </tr>
				    </thead>
				    <tbody>
				        <tr ng-repeat="task in cust.lines">
				          <td><a href="#" ui-sref="project.report({'project_id': {{task.project_id}}})">{{task.project_name}}:</a> {{task.task_name}}</td>
				          <td class="text-right">{{task.quantity}}</td>
				          <td class="text-right"><span ng-bind-html="task.price"></span></td>
				          <td class="text-right"><span ng-bind-html="task.line_total"></span></td>
				        </tr>
				    </tbody>
				    <tfoot>
				        <td class="text-right" colspan="3"><strong>{l}Total{endl}</strong></td>
				        <td class="text-right"><span ng-bind-html="cust.total"></span></td>
				    </tfoot>
				</table>
				<table class="table active_rows orderTable" ng-if="cust.is_article">
				    <thead>
				      <tr>
				        <th class="col-sm-6">{l}Articles{endl}</th>
				        <th class="col-sm-2 text-right">{l}Quantity{endl}</th>
				        <th class="col-sm-2 text-right">{l}Unit Price{endl}</th>
				        <th class="col-sm-2 text-right">{l}Amount{endl}</th>
				      </tr>
				    </thead>
				    <tbody>
				        <tr ng-repeat="line in cust.articles">
				          <td><a href="#" ui-sref="project.report({'project_id': {{line.project_id}}})">{{line.project_name}}:</a> {{line.name}}</td>
				          <td class="text-right">{{line.quantity}}</td>
				          <td class="text-right"><span ng-bind-html="line.price"></span></td>
				          <td class="text-right"><span ng-bind-html="line.amount"></span></td>
				        </tr>
				    </tbody>
				    <tfoot>
				        <td class="text-right" colspan="3"><strong>{l}Total{endl}</strong></td>
				        <td class="text-right"><span ng-bind-html="cust.articles_total"></span></td>
				    </tfoot>
				</table>
				<table class="table active_rows orderTable" ng-if="cust.is_expense">
				    <thead>
				      <tr>
				        <th class="col-sm-10">{l}Expenses{endl}</th>
				        <th class="col-sm-2 text-right">{l}Amount{endl}</th>
				      </tr>
				    </thead>
				    <tbody>
				        <tr ng-repeat="line in cust.expenses">
				          <td><a href="#" ui-sref="project.report({'project_id': {{line.project_id}}})">{{line.project_name}}:</a> {{line.expense_name}}</td>
				          <td class="text-right"><span ng-bind-html="line.expense_amount"></span></td>
				        </tr>
				    </tbody>
				    <tfoot>
				        <td class="text-right"><strong>{l}Total{endl}</strong></td>
				        <td class="text-right"><span ng-bind-html="cust.expense_total"></span></td>
				    </tfoot>
				</table>
				<table class="table active_rows orderTable" ng-if="cust.is_service">
				    <thead>
				      <tr>
				        <th class="col-sm-10">{l}Services{endl}</th>
				        <th class="col-sm-2 text-right">{l}Amount{endl}</th>
				      </tr>
				    </thead>
				    <tbody>
				        <tr ng-repeat="line in cust.services">
				          <td><a href="#" ui-sref="project.report({'project_id': {{line.project_id}}})">{{line.project_name}}:</a> {{line.service_name}}</td>
				          <td class="text-right"><span ng-bind-html="line.service_amount"></span></td>
				        </tr>
				    </tbody>
				    <tfoot>
				        <td class="text-right"><strong>{l}Total{endl}</strong></td>
				        <td class="text-right"><span ng-bind-html="cust.service_total"></span></td>
				    </tfoot>
				</table>
				<table class="table active_rows orderTable" ng-if="cust.is_purchase">
				    <thead>
				      <tr>
				        <th class="col-sm-10">{l}Purchases{endl}</th>
				        <th class="col-sm-2 text-right">{l}Amount{endl}</th>
				      </tr>
				    </thead>
				    <tbody>
				        <tr ng-repeat="line in cust.purchases">
				          <td><a href="#" ui-sref="project.report({'project_id': {{line.project_id}}})">{{line.project_name}}:</a> {{line.purchase_description}}</td>
				          <td class="text-right"><span ng-bind-html="line.purchase_amount"></span></td>
				        </tr>
				    </tbody>
				    <tfoot>
				        <td class="text-right"><strong>{l}Total{endl}</strong></td>
				        <td class="text-right"><span ng-bind-html="cust.purchase_total"></span></td>
				    </tfoot>
				</table>
  			</div> 			
  			<div class="col-sm-12" ng-if="item.is_alone_article" ng-repeat="art in item.alone_customers3">
  				<p>{l}Customer Name{endl}: <span ng-bind-html="art.alone_customer_name"></span></p>
  				<p>{l}Project Manager{endl}: <span ng-bind-html="art.man_name"></span></p>
  				<table class="table active_rows orderTable">
				    <thead>
				      <tr>
				        <th class="col-sm-6">{l}Articles{endl}</th>
				        <th class="col-sm-2 text-right">{l}Quantity{endl}</th>
				        <th class="col-sm-2 text-right">{l}Unit Price{endl}</th>
				        <th class="col-sm-2 text-right">{l}Amount{endl}</th>
				      </tr>
				    </thead>
				    <tbody>
				        <tr ng-repeat="line in art.alone_articles">
				          <td><a href="#" ui-sref="project.report({'project_id': {{line.project_id}}})">{{line.project_name}}:</a> {{line.name}}</td>
				          <td class="text-right">{{line.alone_article_quantity}}</td>
				          <td class="text-right"><span ng-bind-html="line.alone_article_price"></span></td>
				          <td class="text-right"><span ng-bind-html="line.alone_article_amount"></span></td>
				        </tr>
				    </tbody>
				    <tfoot>
				        <td class="text-right" colspan="3"><strong>{l}Total{endl}</strong></td>
				        <td class="text-right"><span ng-bind-html="art.alone_article_total"></span></td>
				    </tfoot>
				</table>
  			</div>
  			<div class="col-sm-12" ng-if="item.is_alone_expense" ng-repeat="art in item.alone_customers">
  				<p>{l}Customer Name{endl}: <span ng-bind-html="art.alone_customer_name"></span></p>
  				<p>{l}Project Manager{endl}: <span ng-bind-html="art.man_name"></span></p>
  				<table class="table active_rows orderTable">
				    <thead>
				      <tr>
				        <th class="col-sm-10">{l}Expenses{endl}</th>
				        <th class="col-sm-2 text-right">{l}Amount{endl}</th>
				      </tr>
				    </thead>
				    <tbody>
				        <tr ng-repeat="line in art.alone_expenses">
				          <td><a href="#" ui-sref="project.report({'project_id': {{line.project_id}}})">{{line.project_name}}:</a> {{line.expense_name}}</td>
				          <td class="text-right"><span ng-bind-html="line.alone_expense_amount"></span></td>
				        </tr>
				    </tbody>
				    <tfoot>
				        <td class="text-right"><strong>{l}Total{endl}</strong></td>
				        <td class="text-right"><span ng-bind-html="art.alone_expense_total"></span></td>
				    </tfoot>
				</table>
  			</div>
  			<div class="col-sm-12" ng-if="item.is_alone_purchase" ng-repeat="art in item.alone_customers2">
  				<p>{l}Customer Name{endl}: <span ng-bind-html="art.alone_customer_name"></span></p>
  				<p>{l}Project Manager{endl}: <span ng-bind-html="art.man_name"></span></p>
  				<table class="table active_rows orderTable">
				    <thead>
				      <tr>
				        <th class="col-sm-10">{l}Purchases{endl}</th>
				        <th class="col-sm-2 text-right">{l}Amount{endl}</th>
				      </tr>
				    </thead>
				    <tbody>
				        <tr ng-repeat="line in art.alone_purchases">
				          <td><a href="#" ui-sref="project.report({'project_id': {{line.project_id}}})">{{line.project_name}}:</a> {{line.purchase_description}}</td>
				          <td class="text-right"><span ng-bind-html="line.alone_purchase_amount"></span></td>
				        </tr>
				    </tbody>
				    <tfoot>
				        <td class="text-right"><strong>{l}Total{endl}</strong></td>
				        <td class="text-right"><span ng-bind-html="art.alone_purchase_total"></span></td>
				    </tfoot>
				</table>
  			</div>
  		</div>
  	</div>
  </div>
</div>
</div>
</div>
</div>