  <div class="container">
        <div class="page-header">
  	         <div class="row">
      	         <div class="col-sm-12">
                    <h1>{l}Tasks{endl}
                        <button type="button" class="btn btn-primary btn-add" go-to="" state="pservice.edit" params='{"article_id": "tmp"}' uib-tooltip="{l}Create Task{endl}" tooltip-placement="right"><span class="btn-add_icon"><span class="icon-bar"></span><span class="icon-bar-2"></span></span></button> 
                    </h1>                    
                </div>
            </div>
         </div><!-- /.page-header -->
    <div uib-alert type="notice" class="alert-warning" ng-if="!list.length">{l}No data to display{endl}</div>
    <div class="row page-search">
    	<form>
      	<div class="col-sm-6 col-search-input">
            <div class="so-field" ng-class="{ 'so-active':search.search!='' }">
              <span class="glyphicon glyphicon-search so-icon"></span>
              <input type="text" class="form-control" placeholder="{l}Search{endl}" search-it doit="search" callbk="renderList" ng-model="search.search">
              <span class="glyphicon glyphicon-remove so-icon so-remove" ng-click="toggleSearchButtons('search','')"></span>
            </div><!-- /.input-search -->
          </div>
      	<div class="col-sm-3">
            <div class="so-field" ng-class="{ 'so-active':search.article_category_id }">
              <selectize placeholder="{l}Family{endl}" config='filterCfgFam' options='product_fam' ng-model="search.article_category_id" ></selectize>
              <span class="glyphicon glyphicon-remove so-icon so-remove" ng-click="toggleSearchButtons('article_category_id','')"></span>
            </div>
          </div>
            <div class="col-sm-3">
                     <div class="btn-group btn-block">
                          <selectize placeholder="{l}All Services Type{endl}" config='filterCfg' options='product_type' ng-model="activeView" ></selectize>
                     </div>
             </div>     
      </form>
    </div><!-- /.page-search -->
    <div class="row page-content" ng-if="list.length">
  	<div class="col-xs-12">
        <table class="table active_rows orderTable">
             <thead>
                    <tr>
                      <th class="col-sm-2 col-md-2 sortable_row" ng-class="{ 'sortable_row-up':(!reverse && ord=='internal_name'), 'sortable_row-down':(reverse && ord=='internal_name') }" ng-click="orderBY('internal_name')">{l}Code{endl}</th> 
                      <th class="col-sm-3 col-md-3 sortable_row" ng-class="{ 'sortable_row-up':(!reverse && ord=='internal_name'), 'sortable_row-down':(reverse && ord=='internal_name') }" ng-click="orderBY('internal_name')">{l}Internal Name{endl}</th>
                      <th class="col-sm-2 col-md-2 sortable_row" ng-class="{ 'sortable_row-up':(!reverse && ord=='article_category'), 'sortable_row-down':(reverse && ord=='article_category') }" ng-click="orderBY('article_category')">{l}Article Category{endl}</th>
                       <th class="col-sm-2 col-md-2 sortable_row" ng-class="{ 'sortable_row-up':(!reverse && ord=='h_price'), 'sortable_row-down':(reverse && ord=='h_price') }" ng-click="orderBY('h_price')">{l}Hourly Price{endl}</th>
                      <th class="col-sm-2 col-md-2 sortable_row" ng-class="{ 'sortable_row-up':(!reverse && ord=='d_price'), 'sortable_row-down':(reverse && ord=='d_price') }" ng-click="orderBY('d_price')">{l}Daily Price{endl}</th>                     
                      <th class="col-sm-1 table_actions">
                        <div class="btn-group" uib-dropdown>
                          <button type="button" class="btn btn-tertiary dropdown-toggle" uib-dropdown-toggle>
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu dropdown-menu-right" uib-dropdown-menu>
                                <li>
                                     <a href="index.php?do=project-service_raport_csv&search={{search.search}}&article_category_id={{search.article_category_id}}&archived={{search.archived}}" target="_blank" ><span class="far fa-file-pdf text-primary">
                                     </span>{l}Export Services .csv{endl}</a>
                                </li>
                                <li>
                                   <a href="index.php?do=project-service_raport&search={{search.search}}&article_category_id={{search.article_category_id}}&archived={{search.archived}}" target="_blank" ><span class="fa fa-file-o text-primary"></span>{l}Export Services .xls{endl}</a>
                                </li>
                            </ul>
                        </div>
                      </th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr ng-repeat="item in list" class="collapseTr">
                      <td class="text-muted" go-to="" state="pservice.edit" params='{"article_id": {{::item.article_id}}}' list='{ "type":"project-pservices", "obj": { "search":{{search}} } }'><span>{{::item.code}}</span></td>          
                      <td class="text-muted" go-to="" state="pservice.edit" params='{"article_id": {{::item.article_id}}}' list='{ "type":"project-pservices", "obj": { "search":{{search}} } }'><span>{{::item.name}}</span></td>
                       <td class="text-muted" go-to="" state="pservice.edit" params='{"article_id": {{::item.article_id}}}' list='{ "type":"project-pservices", "obj": { "search":{{search}} } }'><span>{{::item.article_category}}</span></td>
                      <td class="text-muted col-adjust-input" > 
                          <input type="text" value="{{::item.h_price}}" class="form-control input-group-addon_shrink" readonly>
                      </td>
                      <td class="text-muted col-adjust-input" > 
                          <input type="text" value="{{::item.d_price}}" class="form-control input-group-addon_shrink" readonly>
                      </td>                            
                      <td class="table_actions">
                        <div class="btn-group" uib-dropdown>
                          <button type="button" class="btn btn-plain dropdown-toggle" uib-dropdown-toggle>
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu dropdown-menu-right" uib-dropdown-menu>
                                <li class="dropdown-header">{l}Action{endl}</li>
                                <li ng-if="!item.is_archived">
                                     <a href="#" ng-click="action(item,'archive_link')" confirm="{l}Are you sure, you wanna archive this entry?{endl}"><span class="fas fa-archive text-primary"></span> {l}Archive{endl}</a>
                                </li>
                                <li ng-if="item.is_archived">
                                     <a href="#" ng-click="action(item,'undo_link')" confirm="{l}Are you sure, you wanna revert this entry?{endl}"><span class="glyphicon glyphicon-repeat text-primary"></span> {l}Revert{endl}</a>
                                </li>
                                <li ng-if="item.is_archived">
                                	<a href="#" ng-click="action(item,'delete_link')" confirm="{l}Are you sure, you wanna delete this entry?{endl}"><span class="fa fa-trash text-primary"></span> {l}Delete{endl}</a>
                                </li>
                              
                            </ul>
                        </div>
                      </td>
                     </tr>
                  </tbody>
        </table>
      </div> 
    </div>  <!-- /.page-content -->

   <pag-custom pages="pager" refresh="rederList()" doit='project-pservices'></pag-custom>
   <ul ng-if="max_rows > 30" uib-pagination total-items="max_rows" ng-model="search.offset" ng-change="searchThing()" max-size="5" class="pager" boundary-links="true" items-per-page="lr" ></ul>
</div><!-- neede on all pages -->