<div class="container">
	<div class="page-header">
	  	<div class="row">
	      	<div class="col-sm-12">
	              <h1>{l}Timesheets{endl}</h1>
	          </div>
	      </div>
	  </div><!-- /.page-header -->
	  <!-- <div uib-alert ng-repeat="alert in alerts" type="{{alert.type}}" close="alerts.splice($index, 1);" ng-class="['alert-' + (alert.type || 'warning'), 'alert-fixed' ]" dismiss-on-timeout='5000' >{{alert.msg}}</div> -->
	  <div class="row page-content">
	  	<div class="col-sm-12">
		  	<!-- <ul class="nav nav-tabs tabs-default">
				<li class="active" ng-click="getUnapproved()"><a href="#unapproved" data-toggle="tab" aria-expanded="true">{l}Unapproved{endl}</a></li>
				<li class="" ng-click="getApproved()"><a href="#approved" data-toggle="tab" aria-expanded="false">{l}Approved{endl}</a></li>
			</ul>
			<div class="tab-content">
				<div class="tab-pane active" id="unapproved">
					<div class="section-content">-->
						<div class="row page-search">
						  	<form>
							      <div class="col-sm-4">
							          <div class="btn-group btn-block">
							            <selectize placeholder="{l}All Users{endl}" config='userCfg' options='item.users_list' ng-model="item.users_id" ></selectize>
							          </div>
							      </div>
							      <div class="col-sm-4">
							          <div class="btn-group btn-block">
							            <selectize placeholder="{l}All Statuses{endl}" config='statusCfg' options='statuses' ng-model="search.status" ></selectize>
							          </div>
							      </div>
							      <div class="col-sm-4">
							          <div class="btn-group btn-block">
							            <selectize placeholder="{l}All Periods{endl}" config='viewCfg' options='views' ng-model="search.view" ></selectize>
							          </div>
							      </div>				      
							      <div class="col-sm-2 col-md-2 margin-top" ng-if="search.view=='3'">
							          <div class="so-field" ng-class="{ 'so-active':search.from_w!=undefined }">
							            <span class="glyphicon glyphicon-calendar so-icon" ng-click="datePickOpen.from_w=true"></span>
							            <input type="text" class="form-control" ng-model="search.from_w" uib-datepicker-popup="{{format}}" is-open="datePickOpen.from_w" datepicker-options="dateOptions" close-text="Close" placeholder="{l}Start Date{endl}" show-button-bar="false" ng-click="datePickOpen.from_w=true" ng-change="searchThing()">
							            <span class="glyphicon glyphicon-remove so-icon so-remove" ng-click="toggleSearchButtons('from_w',undefined)"></span>
							          </div><!-- /.input-date -->
							      </div>
							    	<div class="col-sm-2 col-md-2 margin-top" ng-if="search.view=='3'">
							          <div class="so-field" ng-class="{ 'so-active':search.to_w!=undefined }">
							            <span class="glyphicon glyphicon-calendar so-icon" ng-click="datePickOpen.to_w=true"></span>
							            <input type="text" class="form-control" ng-model="search.to_w" uib-datepicker-popup="{{format}}" is-open="datePickOpen.to_w" datepicker-options="dateOptions" close-text="Close" placeholder="{l}End Date{endl}" show-button-bar="false" ng-click="datePickOpen.to_w=true" ng-change="searchThing()">
							            <span class="glyphicon glyphicon-remove so-icon so-remove" ng-click="toggleSearchButtons('to_w',undefined)"></span>
							          </div><!-- /.input-date -->
							      </div>
						    </form>
						</div><!-- /.page-search -->
						<table class="table table_orders unapproved" cellspacing="0" cellpadding="0">
							<thead>
								<tr>
								      <th class="col-sm-3">{l}Status{endl}</th>
								      <th class="col-sm-2">{l}Period{endl}</th>
									<th class="col-sm-1">{l}Hours{endl}</th>
									<th class="col-sm-1">{l}Days{endl}</th>
								      <th class="col-sm-1">{l}Expenses{endl}</th>
								      <th class="col-sm-3">{l}Comments{endl}</th>
								      <th class="col-sm-1"></th>
								</tr>
							</thead>
							<tbody>
								<tr class="active" ng-repeat-start="user in item.project_row">
									<td class="expand_row">
										<span class="item-icons">
											<span class="glyphicon glyphicon-plus btn-expand hidden" ng-click="listMore($event,user.u_id)"></span>
                  								<span class="glyphicon glyphicon-minus btn-expand" data-mainid="{{user.u_id}}" ng-click="listLess($event,user.u_id)"></span>
										</span>
									{{user.PROJECT}}</td>
								</tr>
								<tr ng-repeat-end ng-repeat="time in user.time_row" class="subline" data-subid="{{user.u_id}}">
									<td>
										<span class="item-status item-status-{{time.APPROVED}}" title="{{item.STATUS}}"></span>
										<span ng-bind-html="time.STATUS"></span>
										<span ng-bind-html="time.PARTIAL_SUBMIT"></span>
									</td>
								      <td>{{time.PERIOD}}</td>
									<td>{{time.HOURS}}</td>
									<td>{{time.DAYS}}</td>
								      <td><span ng-bind-html="time.EXPENSES"></span></td>
								      <td>{{time.COMMENTS}}</td>
								      <td class="table_actions">
								      	<div class="btn-group" uib-dropdown>
									      	<button type="button" class="btn btn-plain dropdown-toggle" uib-dropdown-toggle>
						                                <span class="caret"></span>
						                            	</button>
						                            	<ul class="dropdown-menu dropdown-menu-right" uib-dropdown-menu>
						                                <li class="dropdown-header">{l}Action{endl}</li>
						                                <li>
						                                	<a href="#" ng-click="show_info(time)"><span class=" glyphicon glyphicon-info-sign"></span> {l}View{endl}</a>
						                                </li>
						                                <li ng-if="time.HIDE_ADMIN && time.VIEW_LINK">
						                                	<a href="#" ng-click="action(time,'APPROVE_LINK')"><span class="glyphicon glyphicon-ok-circle"></span> {l}Approve{endl}</a>
						                                </li>
						                                <li ng-if="time.HIDE_ADMIN && time.VIEW_P_APP">
						                                	<a href="#" ng-click="approve_partial(time)"><span class="glyphicon glyphicon-ok-circle"></span> {l}Partial approve{endl}</a>
						                                </li>
						                                <li ng-if="time.HIDE_ADMIN && time.VIEW_LINK2">
						                                	<a href="#" ng-click="reject_time(time)"><span class="glyphicon glyphicon-minus-sign"></span> {{time.REJECT_TEXT}}</a>
						                                </li>
						                                <li ng-if="time.HIDE_ADMIN && time.VIEW_REMIND_LINK">
						                                	<a href="#" ng-click="action(time,'REMIND_LINK')"><span class="far fa-envelope"></span> {l}Send a reminder{endl}</a>
						                                </li>
						                                <li ng-if="time.is_admin && time.is_approve">
						                                	<a href="#" confirm="{l}By unapproving, all hours and expenses in this period (including invoiced ones) will be unapproved and uninvoiced!{endl} {l}Do you want to continue{endl}?" ng-click="action(time,'reject_link')"><span class="glyphicon glyphicon-repeat"></span> {{time.REJECT_TEXT}}</a>
						                                </li>
						                                <li ng-if="time.can_delete">
						                                	<a href="#" confirm="{l}Are you sure, you wanna delete this entry?{endl}" ng-click="delete_unsubmitted(time)"><span class="fas fa-trash-alt text-primary"></span> {l}Delete{endl}
						                                	</a>
						                                </li>
						                            	</ul>
					                            </div>
								      </td>
								</tr>
							</tbody>
						</table>
					<!--</div>
				</div>
				<div class="tab-pane" id="approved">
					<div class="section-content">
						<div class="row page-search">
						  	<form>
							      <div class="col-sm-4">
							          <div class="btn-group btn-block">
							            <selectize placeholder="{l}All Users{endl}" config='userCfg' options='item.users_list' ng-model="item.users_id" ></selectize>
							          </div>
							      </div>
							      <div class="col-sm-2 col-md-2">
							          <div class="so-field" ng-class="{ 'so-active':search.from_w!=undefined }">
							            <span class="glyphicon glyphicon-calendar so-icon" ng-click="datePickOpen.from_w=true"></span>
							            <input type="text" class="form-control" ng-model="search.from_w" uib-datepicker-popup="{{format}}" is-open="datePickOpen.from_w" datepicker-options="dateOptions" close-text="Close" placeholder="{l}Start Date{endl}" show-button-bar="false" ng-click="datePickOpen.from_w=true" ng-change="searchThing()">
							            <span class="glyphicon glyphicon-remove so-icon so-remove" ng-click="toggleSearchButtons('from_w',undefined)"></span>
							          </div>
							      </div>
							    	<div class="col-sm-2 col-md-2">
							          <div class="so-field" ng-class="{ 'so-active':search.to_w!=undefined }">
							            <span class="glyphicon glyphicon-calendar so-icon" ng-click="datePickOpen.to_w=true"></span>
							            <input type="text" class="form-control" ng-model="search.to_w" uib-datepicker-popup="{{format}}" is-open="datePickOpen.to_w" datepicker-options="dateOptions" close-text="Close" placeholder="{l}End Date{endl}" show-button-bar="false" ng-click="datePickOpen.to_w=true" ng-change="searchThing()">
							            <span class="glyphicon glyphicon-remove so-icon so-remove" ng-click="toggleSearchButtons('to_w',undefined)"></span>
							          </div>
							      </div>
						    </form>
						</div>
						<table class="table table_orders" cellspacing="0" cellpadding="0">
							<thead>
								<tr>
								      <th class="col-sm-3">{l}Status{endl}</th>
								      <th class="col-sm-2">{l}Period{endl}</th>
									<th class="col-sm-1">{l}Hours{endl}</th>
									<th class="col-sm-1">{l}Days{endl}</th>
								      <th class="col-sm-1">{l}Expenses{endl}</th>
								      <th class="col-sm-3">{l}Comments{endl}</th>
								      <th class="col-sm-1"></th>
								</tr>
							</thead>
							<tbody>
								<tr class="active" ng-repeat-start="user in item.project_row">
									<td colspan="7">{{user.PROJECT}}</td>
								</tr>
								<tr ng-repeat-end ng-repeat="time in user.time_row">
									<td>
										<span class="item-status item-status-{{time.APPROVED}}" title="{{item.STATUS}}"></span>
										<span ng-bind-html="time.STATUS"></span>
										<span ng-bind-html="time.PARTIAL_SUBMIT"></span>
								      <td>{{time.PERIOD}}</td>
									<td>{{time.HOURS}}</td>
									<td>{{time.DAYS}}</td>
								      <td><span ng-bind-html="time.EXPENSES"></span></td>
								      <td>{{time.COMMENTS}}</td>
								      <td class="table_actions">
								      	<div class="btn-group" uib-dropdown>
									      	<button type="button" class="btn btn-plain dropdown-toggle" uib-dropdown-toggle>
						                                <span class="caret"></span>
						                            	</button>
						                            	<ul class="dropdown-menu dropdown-menu-right" uib-dropdown-menu>
						                                <li class="dropdown-header">{l}Action{endl}</li>
						                                <li>
						                                	<a href="#" ng-click="show_info(time)"><span class=" glyphicon glyphicon-info-sign"></span> {l}View{endl}</a>
						                                </li>
						                                <li ng-if="time.is_admin">
						                                	<a href="#" confirm="{l}By unapproving, all hours and expenses in this period (including invoiced ones) will be unapproved and uninvoiced!{endl} {l}Do you want to continue{endl}?" ng-click="action(time,'reject_link')"><span class="glyphicon glyphicon-repeat"></span> {{time.REJECT_TEXT}}</a>
						                                </li>
						                            	</ul>
					                            </div>
								      </td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div> -->
	  	</div>
	  </div>
</div>