<div class="modal-header">
  	<button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="prc.cancel()"><span aria-hidden="true">&times;</span></button>
  	<h4 class="modal-title">{{prc.obj.title}}</h4>
</div>
<div class="modal-body modal-body_alt">
	<div class="loading_wrap loading_alt hidden">
      	<div class="loading"></div>
        	<div class="spinner"></div>
      </div>
	<div uib-alert ng-repeat="alert in prc.alerts" type="{{alert.type}}" close="prc.alerts.splice($index, 1);" ng-class="['alert-' + (alert.type || 'warning') ]">{{alert.msg}}</div>
	<div class="col-sm-12 col-bottom col-top form-horizontal">
		<div class="form-group">
		      <label class="col-sm-5 col-lg-4 control-label text-left">{l}Name{endl}</label>
		      <div class="col-sm-7 col-lg-8">
		           <input type="text" class="form-control" ng-model="prc.obj.description" ng-disabled="prc.obj.DISABLE">       
		      </div>
		</div><!-- /.form-group -->
		<div class="form-group">
		      <label class="col-sm-5 col-lg-4 control-label text-left">{l}Supplier{endl}</label>
		      <div class="col-sm-7 col-lg-8">
		           <selectize config='prc.supplierAutoCfg' options='prc.obj.suppliers' ng-model="prc.obj.supplier" id="suppliers_list" placeholder="{l}Select Supplier{endl}" ng-disabled="prc.obj.DISABLE"></selectize>      
		      </div>
		</div><!-- /.form-group -->
		<div class="form-group">
		      <label class="col-sm-5 col-lg-4 control-label text-left">{l}Billable{endl}</label>
		      <!-- <div class="col-sm-7 col-lg-8">
		           <input type="checkbox" ng-model="prc.obj.billable" ng-disabled="prc.obj.DISABLE">       
		      </div> -->
		      	<div class="col-xs-1 text-center checkbox checkbox-primary">
					<input type="checkbox" id="checkbox_p1" ng-model="prc.obj.billable" ng-disabled="prc.obj.DISABLE" />
					<label for="checkbox_p1"></label>
				</div>
		</div><!-- /.form-group -->
		<!-- <div class="form-group">
		      <label class="col-sm-5 col-lg-4 control-label text-left">{l}Delivered{endl}</label>
		      <div class="col-sm-7 col-lg-8">
		           <input type="checkbox" ng-model="prc.obj.delivered" ng-disabled="prc.obj.DISABLE">       
		      </div>
		</div> -->
		<table class="table active_rows orderTable">
	              <thead>
	                <tr>
	                  <th class="col-md-4 col-sm-4 text-center">{l}Price{endl}</th>
	                  <th class="col-md-4 col-sm-4 text-center">{l}Margin{endl} %</th>
	                  <th class="col-md-4 col-sm-4 text-center">{l}Sell price{endl}</th>                
	                </tr>
	              </thead>
	              <tbody>
	                <tr>
	                  <td>
	                      <div class="col-sm-10">
	                        <input type="text" display-nr="" class="form-control" ng-model="prc.obj.unit_price" ng-blur="prc.changePrices()" ng-disabled="prc.obj.DISABLE">
	                      </div>                 
	                  </td>
	                  <td>
	                      <div class="col-sm-10">
	                        <input type="text" display-nr="" class="form-control" ng-model="prc.obj.margin" ng-blur="prc.changePrices()" ng-disabled="prc.obj.DISABLE">
	                      </div>
	                      <span> %</span>                  
	                  </td>
	                  <td>
	                      <div class="col-sm-10">
	                        <input type="text" display-nr="" class="form-control" ng-model="prc.obj.sell_price" ng-blur="prc.changeSellPrice()" ng-disabled="prc.obj.DISABLE">
	                      </div>                 
	                  </td>
	                </tr>
	              </tbody>
	      </table>
	</div>
</div>
<div class="modal-footer">
	<button class="btn btn-plain" type="button" ng-click="prc.cancel()" ng-if="prc.obj.DISABLE">{l}Close{endl}</button>
      <button class="btn btn-plain" type="button" ng-click="prc.cancel()" ng-if="!prc.obj.DISABLE">{l}Cancel{endl}</button>
      <button class="btn btn-default" type="button" ng-click="prc.ok()" ng-if="!prc.obj.DISABLE">{l}Save{endl}</button>
</div>