<style>
body { color: #000; font-family: Arial, Helvetica, sans-serif; font-size: 9pt; }
h1 { font-size:10pt; font-weight:normal; color:#000; }
table { border-collapse: collapse; border-spacing: 0; }
table td{ font-size: 9pt; }
.border_bottom { border-bottom: 1px solid #CCC; }
.invoice_rows { border-bottom: 1px solid #CCC; }
.invoice_rows .th { border: 1px solid #CCC; color: #000; font-size: 9pt; font-weight: bold; padding-left: 10px; text-align: center;}
.invoice_rows td { border-left: 1px solid #CCC; vertical-align:middle; font-size: 9pt; text-align:right; }
.invoice_rows .last { border-right: 1px solid #CCC; }
.hide { display:none; }
.right { text-align:right; }
.left{ float:left;}
</style>
{if:head}
  {HEADER}
{else}
<table width="100%" cellspacing="0" cellpadding="5" class="invoice_rows" style="clear:both;">
  <tr>
    {if:is_nada}<td class="th" width="{width_cp}" style="text-align:left;">&nbsp;</td>{end}
    {if:is_client}<td class="th" width="{width_cp}" style="text-align:left;">{customer_txt}</td>{end}
    {if:is_project}<td class="th" width="{width_cp}">{project_txt}</td>{end}
    {if:is_task}<td class="th" width="{width}">{task_txt}</td>{end}
    <!-- {if:is_person}<td class="th" width="{width}">{person_txt}</td>{end} -->
    <!-- {if:is_comment}<td class="th" width="{width}">{comment_txt}</td>{end} -->
    <td width="8%" class="th">{days_txt}</td>
    <td width="8%" class="th last">{hours_txt}</td>
  </tr> 
  <tbody>
    {loop:day_row}
      <tr class="{hide_date}">
        <td colspan="{colspan}" style="text-align:left;border-bottom:1px solid #cccccc;"><strong>{date}</strong></td>
        <td class="right_w last" style="padding-right:10px;border-bottom:1px solid #cccccc;"><strong>{total_days}</strong></td>
        <td class="right_w last" style="padding-right:10px;border-bottom:1px solid #cccccc;"><strong>{total_hours}</strong></td> 
      </tr>
      {loop:project_row}
      <tr>
        {if:is_nada}<td style="text-align:left;border-bottom:1px solid #cccccc;">&nbsp;</td>{end}
        {if:is_client}<td style="text-align:left;border-bottom:1px solid #cccccc;">{client}</td>{end}
        {if:is_project}<td style="text-align:left;border-bottom:1px solid #cccccc;">{project}</td>{end}
        {if:is_task}<td style="text-align:left;border-bottom:1px solid #cccccc;">{task}</td>{end}
        <!-- {if:is_person}<td style="text-align:left;">{person}</td>{end} -->
        <!-- {if:is_comment}<td style="text-align:center;">{comment}</td>{end} -->
        <td class="last right" style="border-bottom:1px solid #cccccc;">{day}</td>
        <td class="last right" style="border-bottom:1px solid #cccccc;">{hours}</td>
      </tr>
      {if:is_comment_line}
      <tr>
        <td class="last" colspan="{colspan_comm}" style="border-top:1px solid #CCCCCC; border-bottom: 1px solid #CCCCCC;text-align:left;">{comment}</td>
      </tr>
      {end}
      {endloop}
    {endloop}
  </tbody>
</table>
{if:consultant}
<table width="100%" cellspacing="0" cellpadding="3" class="" style="clear:both; margin-top:15px;">
  <tbody>
      <tr>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td>&nbsp;</td>
      </tr>
  </tbody>
</table>
<table width="100%" cellspacing="0" cellpadding="20" class="" style="clear:both; margin-top:15px;">
  <tbody>
      <tr>
        <td class="last" style="border:1px solid #CCCCCC;">&nbsp;</td>
        <td class="last">&nbsp;</td>
        <td class="last" style="border:1px solid #CCCCCC;">&nbsp;</td>
      </tr>
  </tbody>
</table>{end}
{end}
{if:foot}
{FOOTER}
{end}