<style> 
body { color: #000; font-family: Arial, Helvetica, sans-serif; font-size: 9pt; }
h1 { font-size:10pt; font-weight:normal; }
table { border-collapse: collapse; border-spacing: 0; }
table td{ font-size: 9pt; }
.border_bottom { border-bottom: 1px solid #CCC; }
.invoice_rows{ border-bottom: 1px solid #CCC; }
.invoice_rows .th { border: 1px solid #ccc; color: #000; font-size: 9pt; font-weight: bold; padding-left: 10px; text-align: center; }
.invoice_rows td { border-left: 1px solid #CCC; vertical-align:middle; font-size: 9pt; text-align:right; }
.invoice_rows .last {	border-right: 1px solid #CCC; }
.hide { display:none; }
.right { text-align:right; }
</style>
{loop:customers}
<table cellpadding="0" cellspacing="0" border="0" width="100%" style="border-bottom:1pt solid #CCC;">
  <tr>
    <td colspan="2"></td>
  </tr>
  <tr>
    <td valign="top" width="50%"><h1>{l}Customer Name{endl}: {seller_name}</h1>      
      </td>
    <td valign="top" width="50%"></td>
  </tr>
  <tr>
    <td valign="top" width="50%"><h1>{l}Project Manager{endl}: {proj_man}</h1>      
      </td>
    <td valign="top" width="50%"></td>
  </tr>
  <tr><td colspan="2" height="18"></td></tr>
</table>
<table width="100%" cellspacing="0" cellpadding="5" class="invoice_rows">
  <tr>    
    <td class="th" width="56%" style="text-align:left;">{l}Tasks{endl}</td>
    <td class="th" width="15%">{l}Quantity{endl}</td>
    <td class="th" width="15%">{l}Unit Price{endl}</td>
    <td width="14%" class="th last">{l}Amount{endl}</td>
  </tr>
  <tbody>
    {loop:invoice_row}
    <tr>      
      <td style="text-align:left;">{row_description}</td>      
      <td class="right">{row_quantity}</td>
      <td class="right">{row_unit_price}</td>
      <td class="last right">{row_amount}</td>
    </tr>
    {endloop}
  </tbody>
</table>
<div style="text-align:right">{l}Amount due{endl}: {total}</div>
{if:is_article}
<h1></h1>
<table width="100%" cellspacing="0" cellpadding="5" class="invoice_rows">
  <tr>    
    <td class="th" width="56%" style="text-align:left;">{l}Articles{endl}</td>
    <td class="th" width="15%">{l}Quantity{endl}</td>
    <td class="th" width="15%">{l}Unit Price{endl}</td>
    <td width="14%" class="th last">{l}Amount{endl}</td>
  </tr>
  <tbody>
    {loop:articles}
    <tr>      
      <td style="text-align:left;">{description}</td>      
      <td class="right">{quantity}</td>
      <td class="right">{price}</td>
      <td class="last right">{amount}</td>
    </tr>
    {endloop}
  </tbody>
</table>
<div style="text-align:right">{l}Amount due{endl}: {articles_total}</div>
{end}
{if:is_expense}
<h1></h1>
<table width="100%" cellspacing="0" cellpadding="5" class="invoice_rows">
  <tr>    
    <td class="th" width="86%" style="text-align:left;">{l}Expenses{endl}</td>
    <td width="14%" class="th last">{l}Amount{endl}</td>
  </tr>
  <tbody>
    {loop:expenses}
    <tr>      
      <td style="text-align:left;">{expense_description}</td>      
      <td class="last right">{expense_amount}</td>
    </tr>
    {endloop}
  </tbody>
</table>
<div style="text-align:right">{l}Amount due{endl}: {expenses_total}</div>
{end}
{if:is_purchase}
<h1></h1>
<table width="100%" cellspacing="0" cellpadding="5" class="invoice_rows">
  <tr>    
    <td class="th" width="86%" style="text-align:left;">{l}Purchases{endl}</td>
    <td width="14%" class="th last">{l}Amount{endl}</td>
  </tr>
  <tbody>
    {loop:purchases}
    <tr>      
      <td style="text-align:left;">{purchase_description}</td>      
      <td class="last right">{purchase_amount}</td>
    </tr>
    {endloop}
  </tbody>
</table>
<div style="text-align:right">{l}Amount due{endl}: {purchases_total}</div>
{end}
{endloop}
{if:is_alone_article}
  {loop:alone_customers3}
  <h1></h1>
  <table cellpadding="0" cellspacing="0" border="0" width="100%" style="border-bottom:1pt solid #CCC;">
    <tr>
      <td colspan="2"></td>
    </tr>
    <tr>
      <td valign="top" width="50%"><h1>{l}Customer Name{endl}: {alone_customer_name}</h1>      
        </td>
      <td valign="top" width="50%"></td>
    </tr>
    <tr>
      <td valign="top" width="50%"><h1>{l}Project Manager{endl}: {man_name}</h1>      
        </td>
      <td valign="top" width="50%"></td>
    </tr>
    <tr><td colspan="2" height="18"></td></tr>
  </table>
  <table width="100%" cellspacing="0" cellpadding="5" class="invoice_rows">
    <tr>    
      <td class="th" width="56%" style="text-align:left;">{l}Articles{endl}</td>
      <td class="th" width="15%">{l}Quantity{endl}</td>
      <td class="th" width="15%">{l}Unit Price{endl}</td>
      <td width="14%" class="th last">{l}Amount{endl}</td>
    </tr>
    <tbody>
      {loop:alone_articles}
      <tr>      
        <td style="text-align:left;">{alone_article_description}</td>      
        <td class="right">{alone_article_quantity}</td>
        <td class="right">{alone_article_price}</td>
        <td class="last right">{alone_article_amount}</td>
      </tr>
      {endloop}
    </tbody>
  </table>
  <div style="text-align:right">{l}Amount due{endl}: {alone_article_total}</div>
  {endloop}
{end}
{if:is_alone_expense}
  {loop:alone_customers}
  <h1></h1>
  <table cellpadding="0" cellspacing="0" border="0" width="100%" style="border-bottom:1pt solid #CCC;">
    <tr>
      <td colspan="2"></td>
    </tr>
    <tr>
      <td valign="top" width="50%"><h1>{l}Customer Name{endl}: {alone_customer_name}</h1>      
        </td>
      <td valign="top" width="50%"></td>
    </tr>
    <tr>
      <td valign="top" width="50%"><h1>{l}Project Manager{endl}: {man_name}</h1>      
        </td>
      <td valign="top" width="50%"></td>
    </tr>
    <tr><td colspan="2" height="18"></td></tr>
  </table>
  <table width="100%" cellspacing="0" cellpadding="5" class="invoice_rows">
    <tr>    
      <td class="th" width="86%" style="text-align:left;">{l}Expenses{endl}</td>
      <td width="14%" class="th last">{l}Amount{endl}</td>
    </tr>
    <tbody>
      {loop:alone_expenses}
      <tr>      
        <td style="text-align:left;">{alone_expense_description}</td>      
        <td class="last right">{alone_expense_amount}</td>
      </tr>
      {endloop}
    </tbody>
  </table>
  <div style="text-align:right">{l}Amount due{endl}: {alone_expense_total}</div>
  {endloop}
{end}
{if:is_alone_purchase}
  {loop:alone_customers2}
  <h1></h1>
  <table cellpadding="0" cellspacing="0" border="0" width="100%" style="border-bottom:1pt solid #CCC;">
    <tr>
      <td colspan="2"></td>
    </tr>
    <tr>
      <td valign="top" width="50%"><h1>{l}Customer Name{endl}: {alone_customer_name}</h1>      
        </td>
      <td valign="top" width="50%"></td>
    </tr>
    <tr>
      <td valign="top" width="50%"><h1>{l}Project Manager{endl}: {man_name}</h1>      
        </td>
      <td valign="top" width="50%"></td>
    </tr>
    <tr><td colspan="2" height="18"></td></tr>
  </table>
  <table width="100%" cellspacing="0" cellpadding="5" class="invoice_rows">
    <tr>    
      <td class="th" width="86%" style="text-align:left;">{l}Purchases{endl}</td>
      <td width="14%" class="th last">{l}Amount{endl}</td>
    </tr>
    <tbody>
      {loop:alone_purchases}
      <tr>      
        <td style="text-align:left;">{alone_purchase_description}</td>      
        <td class="last right">{alone_purchase_amount}</td>
      </tr>
      {endloop}
    </tbody>
  </table>
  <div style="text-align:right">{l}Amount due{endl}: {alone_purchase_total}</div>
  {endloop}
{end}