<div class="modal-header">
  	<button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="srl.cancel()"><span aria-hidden="true">&times;</span></button>
  	<h4 class="modal-title">{l}Serial Numbers{endl}</h4>
</div>
<div class="modal-body">
	<div class="col-sm-12 col-bottom col-top">
		<div uib-alert type="notice" class="alert-warning" ng-if="!srl.obj.is_data">{l}No data to display{endl}</div>
		<div class="col-sm-5 text-center" ng-if="srl.obj.is_data">
			<p><b>{l}Serial Numbers{endl}</b></p>
			<div class="col-sm-12">
				<table class="table orderTable table-bordered">
					<tbody>
				    		<tr class="collapseTr" ng-repeat="item in srl.obj.serial_row">
				    			<td>
				    				<div class="row">
				    					<div class="col-sm-12">
					      				<label>{{item.serial_number}}</label>
					      				<span class="glyphicon glyphicon-plus btn-expand pull-right" ng-click="srl.goRight(item,$index)"></span>
					      			</div>
				    				</div>
				    			</td>
				    		</tr>
				    	</tbody>
				</table>
			</div>
		</div>
		<div class="col-sm-1 text-center" ng-if="srl.obj.is_data"><span class="glyphicon glyphicon-transfer"></span></div>
		<div class="col-sm-5 text-center" ng-if="srl.obj.is_data">
			<p><b>{l}Selected Serial Numbers{endl}: <span class="text-danger" ng-class="{'text-success':srl.obj.sel_s_n ==srl.obj.total_s_n }"><span >{{srl.obj.sel_s_n}}</span> <span>{l}of{endl}</span> <span>{{srl.obj.total_s_n}}</span></span></b>
			</p>
			<div class="col-sm-12">
				<table class="table orderTable table-bordered">
					<tbody>
				    		<tr class="collapseTr" ng-repeat="item in srl.obj.sel_serial_row">
				    			<td>
				    				<div class="row">
				    					<div class="col-sm-12">
					      				<label>{{item.serial_number}}</label>
					      				<span class="glyphicon glyphicon-minus btn-expand pull-right" ng-click="srl.goLeft(item,$index)"></span>
					      			</div>
				    				</div>
				    			</td>
				    		</tr>
				    	</tbody>
				</table>
			</div>
		</div>
	</div>
</div>
<div class="modal-footer">
      <button class="btn btn-plain" type="button" ng-click="srl.cancel()">{l}Cancel{endl}</button>
      <button class="btn btn-default" type="button" ng-disabled="!srl.obj.is_data" ng-click="srl.ok()">{l}Save{endl}</button>
</div>