<div class="page-header">
  <div class="row">
    <div class="col-sm-8">
      <h1 ng-if="edit.add_mode">{l}Add{endl}</h1>
      <h1 ng-if="!edit.add_mode">{l}Edit{endl}  {{edit.item.internal_name}}</h1>
    </div>
    <div class="col-sm-4 page-header-options">
      <button go-to="" state="pservices" type="submit" class="btn btn-link"><span class="glyphicon glyphicon-list"></span> <strong>{l}List{endl}</strong></button>
      <button class="btn btn-default" ng-disabled="addAnService.$invalid" ng-click="edit.save(addAnService)" type="submit">{l}Save{endl}</button>
    </div>
  <!-- </div>
  <div class="row" > -->               
  </div>         
</div><!-- /.page-header -->
<!-- <div uib-alert ng-repeat="alert in edit.alerts" type="{{alert.type}}" close="edit.alerts.splice($index, 1);" ng-class="['alert-' + (alert.type || 'warning') ]" dismiss-on-timeout='5000' >{{alert.msg}}</div> -->
<div id="no_css_switch_content_1" class="row page-content col-top">
<div class="col-sm-6">            
  <form class="form-horizontal text-left" name="addAnService" novalidate>
    <div class="form-group" ng-class="{ 'form-group_alert' : addAnService.internal_name.$invalid && !addAnService.internal_name.$pristine }">
      <label for="internal_name" class="col-sm-3 control-label">{l}Internal Name{endl} <span class="mandatory-label">*</span></label>
      <div class="col-sm-9">
        <input type="text" class="form-control" placeholder="{l}Internal Name{endl}" ng-model="edit.item.internal_name" name="internal_name" required >
         <div class="alert alert-sm alert-danger" ng-if="addAnService.internal_name.$invalid && edit.alertsField.internal_name">{{edit.alertsField.internal_name}}</div>
      </div>
    </div>
    <div class="form-group" ng-class="{ 'form-group_alert' : addAnService.item_code.$invalid && !addAnService.item_code.$pristine }">
      <label for="inputCode2" class="col-sm-3 control-label">{l}Code{endl} <span class="mandatory-label">*</span></label>
      <div class="col-sm-3">
        <input type="text" class="form-control" placeholder="{l}Code{endl}" ng-model="edit.item.item_code" name="item_code" required>
         <div class="alert alert-sm alert-danger" ng-if="addAnService.item_code.$invalid && edit.alertsField.item_code">{{edit.alertsField.item_code}}</div>
      </div>
    </div>
    <div class="form-group">
      <label for="inputBasePrice" class="col-sm-3 control-label">{l}Hourly Price{endl}</label>
      <div class="col-sm-3">
        <input type="text" class="form-control" placeholder="{l}Hourly Price{endl}" ng-model="edit.item.h_price" display-nr="" name="price" >
      </div>
      <label for="inputPurchase" class="col-sm-3 control-label">{l}Daily Price{endl}</label>
      <div class="col-sm-3">
        <input type="text" class="form-control" placeholder="{l}Daily Price{endl}" ng-model="edit.item.d_price" display-nr="" >
      </div>
    </div>
    <div class="form-group">
      <label for="inputArticleCategory" class="col-sm-3 control-label">{l}Category{endl}</label>
      <div class="col-sm-7">
<!--         <select class="form-control" ng-model="edit.item.article_category_id">
          <option ng-repeat="option in edit.item.article_category track by option.id" value="{{option.id}}">{{option.name}}</option>
        </select> -->
        <selectize config="edit.cfg" options="edit.item.article_category" ng-model="edit.item.article_category_id" ></selectize>
      </div>
      <div class="col-sm-2">
       <button class="btn text-link" ng-click="edit.openModal('selectEdit','pim_article_categories','md')"><span class="fas fa-pen"></span></button>
      </div>
    </div>
    <div class="form-group">
      <label for="inputLedger2" class="col-sm-3 control-label">{l}Ledger Account{endl}</label>
      <div class="col-sm-7">
<!--         <select class="form-control" ng-model="edit.item.ledger_account_id">
          <option ng-repeat="option in edit.item.article_ledger_account track by option.id" value="{{option.id}}">{{option.name}}</option>
        </select> -->
        <selectize config="edit.cfg" options="edit.item.article_ledger_account" ng-model="edit.item.ledger_account_id" ></selectize>
      </div>
      <div class="col-sm-2">
        <button class="btn text-link" ng-click="edit.openModal('selectEdit','pim_article_ledger_accounts','md')"><span class="fas fa-pen" ></span></button>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-3 control-label" for="supplier_name">{l}Billable?{endl}</label>
      <div class="col-sm-9 checkbox checkbox-primary">
        <input id="checkbox1" type="checkbox" ng-model="edit.item.billable">
        <label for="checkbox1"> </label>
      </div>
    </div>
  </form>
 </div>
</div> 
         