<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="info.cancel()"><span aria-hidden="true">&times;</span></button>
  <h4 class="modal-title">{l}Timesheet{endl}</h4>
</div>
<div class="modal-body">
	<div class="loading_wrap loading_alt hidden">
      	<div class="loading"></div>
        	<div class="spinner"></div>
      </div>
      <!-- <div uib-alert ng-repeat="alert in info.alerts" type="{{alert.type}}" close="info.alerts.splice($index, 1);" dismiss-on-timeout="3500" ng-class="['alert-' + (alert.type || 'warning') ]">{{alert.msg}}</div> -->
      <div class="col-sm-12">
      	<ul class="nav nav-tabs tabs-default" role="tablist">
      		<li class="active"><a href="#timesheet" aria-controls="timesheet" role="tab" data-toggle="tab" ng-click="info.getTimesheet()">{l}Timesheet{endl}</a></li>
			<li><a href="#expense" aria-controls="expense" role="tab" data-toggle="tab" aria-expanded="false" ng-click="info.getExpense()">{l}Expenses{endl}</a></li>
      	</ul>
      	<div class="tab-content">
      		<div class="tab-pane fade in active" id="timesheet">
      			<div class="page-header">
      				<div class="row">
      					<div class="col-xs-6">
							<h2>
								{l}Timesheet for{endl} 
								<selectize config='info.customerCfg' options='info.obj.user_dd' ng-model="info.obj.user_id" ng-disabled="true"></selectize> 
								<button type="button" class="btn btn-primary btn-add" aria-haspopup="true" uib-tooltip="{l}+ Add task for project{endl}" tooltip-placement="right" ng-if="info.obj.DISPLAY_SAVE && info.obj.hide_if_task_no_exp_submited && info.activeType==2" ng-click="info.addTask()"><span class="btn-add_icon"><span class="icon-bar"></span><span class="icon-bar-2"></span></span></button>
							</h2>
						</div>
						<div class="col-xs-6 text-right">
							<div class="btn-group btn-group-calendar" role="group" ng-if="info.activeType==2">
								<span class="calendar-date">{{info.obj.week_txt}}</span>
							</div>
							<div class="btn-group btn-group-calendar" role="group" ng-if="info.activeType==3">
								<span class="calendar-date">{{info.obj.month_txt}}</span>
							</div>
							&nbsp; 
							<span class="text-left">
								<selectize class="selectize-control-sm" placeholder="{l}Overview{endl}" config='info.typeCfg' options='info.types' ng-model="info.activeType"></selectize>
							</span>
						</div>
      				</div>
      			</div>
      			<div class="timesheet_holder timesheet_week" ng-if="info.activeType==2">
					<div class="row timesheet_header">
						<div class="timesheet_general"><span>{l}Status{endl}</span></div>
						<div class="timesheet_details">
							<div class="timesheet_cell" ng-repeat="day in info.obj.day_row" ng-class="{ 'weekend_dates' : day.end_day }">{{day.day_name}} {{day.date_month}}</div>
							<div class="timesheet_cell timesheet_cell_total">{l}Total{endl}</div>
						</div>
					</div>
					<div class="row timesheet_row" ng-repeat="task in info.obj.task_row">
						<div class="timesheet_general">
							<div class="timesheet_company" ng-class="{ 'timesheet_ghost' : !task.HIDE_PROJECT_NAME }"><span class="text-ellipsis">{{task.PROJECT_CUSTOMER_NAME}}</span></div>
							<div class="timesheet_extra">
								<div class="timesheet_project"><span class="text-ellipsis">{{task.PROJECT_LIST_NAME}}</span></div>
								<div class="timesheet_task"><span class="text-ellipsis"><span class="fa fa-lock timesheet_icon" ng-show="task.HIDE_SUBMITED || task.HIDE_UNBILLED" ng-click="info.unlock_time(task)"></span> {{task.TASK_LIST_NAME}}</span></div>								
							</div>
						</div>
						<div class="timesheet_details">
							<div class="timesheet_cell {{cell.BG_COLOR}}" ng-repeat="cell in task.task_day_row" ng-if="task.project_type=='0'">
								<input type="text" class="form-control" ng-model="cell.HOURSB" ng-blur="info.changeHourData(cell)" ng-keypress="info.changeHourDataKey($event,cell)" ng-disabled="cell.IS_BILLED || cell.IS_APPROVED" ng-readonly="cell.IS_SUBMITED || cell.IS_CLOSED || cell.IS_APPROVED">
								<div class="timesheet_cell_extra">
									<div class="btn-inline text-danger" ng-if="cell.UNAPPROVED" title="{l}Unapproved{endl}"><i class="fa fa-exclamation" aria-hidden="true"></i></div>
									<div class="btn-inline link-pointer text-warning" title="{l}Add note{endl}" ng-click="info.showNote(cell)"><i class="fa fa-sticky-note" aria-hidden="true"></i></div>
									<div class="btn-inline text-primary" ng-if="cell.BILLED_IMG" title="{l}Linked to Billed{endl}"><i class="fa fa-usd" aria-hidden="true"></i></div>
								</div>
							</div>
							<div class="timesheet_cell {{cell.BG_COLOR}}" ng-repeat="cell in task.task_day_row" ng-if="task.project_type=='1'">
								<input type="text" class="form-control" ng-model="cell.HOURSB" ng-disabled="cell.IS_BILLED || cell.IS_APPROVED" readonly>
								<div class="btn-options" ng-if="cell.hide_spinner">
									<a href="#" ng-click="info.changeDayData(cell,0.5)"><i class="fa fa-plus"></i></a>
									<a href="#" ng-click="info.changeDayData(cell,-0.5)"><i class="fa fa-minus"></i></a>
								</div>
								<div class="timesheet_cell_extra">
									<div class="btn-inline text-danger" ng-if="cell.UNAPPROVED" title="{l}Unapproved{endl}"><i class="fa fa-exclamation" aria-hidden="true"></i></div>
									<div class="btn-inline link-pointer text-warning" title="{l}Add note{endl}" ng-click="info.showNote(cell)"><i class="fa fa-sticky-note" aria-hidden="true"></i></div>
									<div class="btn-inline text-primary" ng-if="cell.BILLED_IMG" title="{l}Linked to Billed{endl}"><i class="fa fa-usd" aria-hidden="true"></i></div>
								</div>
							</div>
							<div class="timesheet_cell timesheet_cell_total">
								<span ng-show="task.line_h_wo>0">{{task.line_h}} H</span>
								<span ng-show="task.line_d>0">{{task.line_d}} D</span>
								<a class="btn-remove" href="#" ng-click="info.deleteEntry($index)" confirm="{l}Delete this entry?{endl}" ng-if="task.HIDE_BILLED || task.HIDE_SUBMITED_L"><span class="fa fa-trash" title="{l}Delete{endl}"></span></a>
							</div>
						</div>
					</div>
					<div class="row timesheet_total" ng-show="info.obj.task_row.length">
						<div class="timesheet_general"></div>
						<div class="timesheet_details">
							<div class="timesheet_cell text-muted" ng-repeat="sub in info.subtotal">
								<div ng-show="sub['total_h_wo_'+$index]>0">{{sub['total_h_'+$index]}} H</div>
								<div ng-show="sub['total_d_'+$index]>0">{{sub['total_d_'+$index]}} D</div>
							</div>
							<div class="timesheet_cell timesheet_cell_total">
								<div ng-show="info.obj.total_h_wo>0">{{info.obj.total_h}} H</div>
								<div ng-show="info.obj.total_d>0">{{info.obj.total_d}} D</div>
							</div>
						</div>
					</div>					
					<div class="row col-top text-right" ng-show="info.obj.DISPLAY_SAVE && info.obj.hide_if_task_no_exp_submited">					
						<a class="btn btn-default pull-right" ng-click="info.submitTime()">{l}Submit timesheet{endl}</a>						
					</div>			      	
				</div>
				<div class="planning planning_month timesheet_month" ng-if="info.activeType==3">
		              <div class="planning_header clearfix">
		                  <div class="small timestamp pull-left">
		                    <div><span>{l}Mon{endl}</span></div>                  
		                  </div>
		                  <div class="small timestamp pull-left">
		                    <div><span>{l}Tue{endl}</span></div>                  
		                  </div>
		                  <div class="small timestamp pull-left">
		                    <div><span>{l}Wed{endl}</span></div>                  
		                  </div>
		                  <div class="small timestamp pull-left">
		                    <div><span>{l}Thu{endl}</span></div>                  
		                  </div>
		                  <div class="small timestamp pull-left">
		                    <div><span>{l}Fri{endl}</span></div>                  
		                  </div>
		                  <div class="small timestamp pull-left">
		                    <div><span>{l}Sat{endl}</span></div>                  
		                  </div>
		                  <div class="small timestamp pull-left">
		                    <div><span>{l}Sun{endl}</span></div>                  
		                  </div>
		              </div>
		              <div class="planning_body">
		                <div class="planning_row clearfix" ng-repeat="week in info.obj.month">
		                    <div class="planning_cell_wrap pull-left" ng-repeat="day in week.week">
		                      <div class="planning_cell {{day.bg}}">
		                        <span class="planning_date">{{day.text}}</span>
		                        <p class="text-center"><b><span ng-bind-html="day.hours"></span></b></p>
		                        <p class="text-center"><b><span ng-bind-html="day.days"></span></b></p>
		                        <p class="text-center"><b><span ng-bind-html="day.expens"></span></b></p>
		                      </div>
		                    </div>
		                </div>
		              </div>
		        </div><!-- /.timesheet_month -->
		        <div class="col-top" ng-show="info.obj.HIDE_LOG">
					<h4>{l}Activity Log{endl}</h4>
					<table class="table table_orders" cellspacing="0" cellpadding="0">
						<tbody>
							<tr ng-repeat="log in info.obj.history_row">
								<td class='col-sm-2'>{{log.HISTORY_DATE}}</td>
								<td class='col-sm-10'>{{log.HISTORY_DESCRIPTION}}</td>
							</tr>
						</tbody>
					</table>
				</div>
      		</div>
      		<div class="tab-pane fade" id="expense">
				<div class="section-content">
					<div class="page-header">
						<div class="row">
							<div class="col-xs-6">
								<h2>{l}Expenses for{endl}
									<selectize config='info.customerCfg' options='info.obj.user_dd' ng-model="info.obj.user_id" ng-disabled="true"></selectize>
								</h2>
							</div>
							<div class="col-xs-6 text-right">							<div class="btn-group btn-group-calendar" role="group">
									<span class="calendar-date">{{info.obj.week_txt}}</span>
								</div>               
							</div>
						</div>
					</div>
					<table class="table" cellspacing="0" cellpadding="0">
						<thead>
							<tr>
								<th class="col-sm-1">{l}Date{endl}</th>
								<th class="col-sm-4">{l}Company{endl}</th>
								<th class="col-sm-2">{l}Amount{endl}</th>
								<th class="col-sm-3">{l}Notes{endl}</th>
								<th class="col-sm-2">{l}Receipt{endl}</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="exp in info.obj.day_row">
								<td class="text-muted">{{exp.DATE}}</td>
								<td class="col-adjust-input">
									<div class="timesheet_company"><span class="text-ellipsis">{{exp.PROJECT_CUSTOMER_NAME}}</span></div>
									<div class="timesheet_extra">
										<div class="timesheet_project"><span class="text-ellipsis">{{exp.PROJECT_LIST_NAME}}</span></div>
										<div class="timesheet_task"><span class="text-ellipsis">{{exp.PROJECR_EXPENSE}}</span></div>
									</div>
								</td>
								<td><span ng-bind-html="exp.AMOUNT"></span></td>
								<td class="text-muted"><span ng-bind-html="exp.NOTES"></span></td>
								<td>
									<div ng-if="exp.VIEW_IMG"><a href="#" title="{l}View receipt{endl}" ng-click="info.showReciept(exp)">{l}View receipt{endl}</a></div>
									<div ng-if="exp.VIEW_IMG" class="small"><a class="text-muted" href="#" title="{l}Delete receipt{endl}" confirm="{l}Are you sure you want to remove the receipt image?{endl}" ng-click="info.deleteReciept(exp)">{l}Delete receipt{endl}</a></div>
								</td>
							</tr>
						</tbody>
					</table>
					<div class="col-top" ng-show="info.obj.HIDE_LOG">
						<h4>{l}Activity Log{endl}</h4>
						<table class="table table_orders" cellspacing="0" cellpadding="0">
							<tbody>
								<tr ng-repeat="log in info.obj.history_rowe">
									<td class='col-sm-2'>{{log.HISTORY_DATE}}</td>
									<td class='col-sm-10'>{{log.HISTORY_DESCRIPTION}}</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
      	</div>
      </div>
</div>
<div class="modal-footer">
    <button class="btn btn-plain" type="button" ng-click="info.cancel()">{l}Close{endl}</button>
</div>