<div class="modal-header">
  	<button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="cost.cancel()"><span aria-hidden="true">&times;</span></button>
  	<h4 class="modal-title">{l}User Cost{endl}</h4>
</div>
<div class="modal-body">
	<div class="loading_wrap loading_alt hidden">
      	<div class="loading"></div>
        <div class="spinner"></div>
    </div>
	<div uib-alert ng-repeat="alert in cost.alerts" type="{{alert.type}}" close="cost.alerts.splice($index, 1);" ng-class="['alert-' + (alert.type || 'warning') ]">{{alert.msg}}</div>
	<div class="col-sm-12 col-bottom col-top">
    <div class="row">
      <table class="table active_rows orderTable">
              <thead>
                <tr>
                  <th class="col-md-12 col-sm-12 text-center">{{cost.obj.cost_name}}</th>                
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>
                      <div class="col-sm-10">
                        <input type="text" display-nr="" class="form-control" ng-model="cost.obj.user_cost" ng-blur="cost.changeCost()">
                      </div>
                      <span> &euro;</span>                  
                  </td>
                </tr>
              </tbody>
      </table>
    </div>
	</div>
</div>
<div class="modal-footer">
      <button class="btn btn-plain" type="button" ng-click="cost.cancel()">{l}Close{endl}</button>
</div>