<div class="tab-content">
	<div class="tab-pane active" id="labels">
		<div class="modal-body" >
			<div class="loading_wrap loading_alt hidden">
		      	<div class="loading"></div>
		        	<div class="spinner"></div>
		    </div>
			<div uib-alert ng-repeat="alert in vm.alerts" type="{{alert.type}}" close="vm.alerts.splice($index, 1);" ng-class="['alert-' + (alert.type || 'warning')]" dismiss-on-timeout='5000' >{{alert.msg}}</div>
			<form class="form-horizontal" name="facts_form" novalidate>
				<div class="row">
					<div class="col-xs-12">
						<div class="form-group" >
							<div class="col-xs-4">
									<img class="img-thumbnail" ng-src="{{vm.allo.CLASS2}}" width="232" height="90" alt=""/>
								<div class="margin-top text-center">
				                    <button type="submit" class="btn btn-default" ng-if="vm.allo.active==false" ng-click="vm.allo_connect(facts_form)">{{vm.allo.title}}</button>
				                    <button type="submit" class="btn btn-default" ng-if="vm.allo.active==true" ng-click="vm.allo_disconnect()">{{vm.allo.title}}</button>
                    			</div>
							</div>
							<div class="col-xs-8">
							    <div class="section-title">
                    				<h2>{l}Allocloud{endl}</h2>                    				
                				</div><!-- /.section-title -->
                			</div>
                			<div class="margin-top col-xs-8 pull-right">
                				<label class="text-muted"><b>{l}Note{endl}</b>: {l}Base Url can be found in Allocloud panel-API Doc-Authentication{endl}</label>
                				<div class="form-group" ng-class="{ 'form-group_alert' : facts_form.url.$invalid && !facts_form.url.$pristine }">
								    <label class="col-xs-3 control-label text-left">
			                           	{l}Base Url{endl}:
				                    </label>
				                    <div class="col-xs-9">
				                        <input class="form-control" name="url" type="text" ng-model="vm.allo.url" ng-disabled="vm.allo.active==true">
				                        <div class="alert alert-sm alert-danger" ng-if="facts_form.url.$invalid && vm.alertsField.url">{{vm.alertsField.url}}</div>
				                    </div>
								</div>
                			</div>
                			<div class="margin-top col-xs-8 pull-right">
                				<div class="form-group" ng-class="{ 'form-group_alert' : facts_form.username.$invalid && !facts_form.username.$pristine }">
								    <label class="col-xs-3 control-label text-left">
			                           	{l}Username{endl}:
				                    </label>
				                    <div class="col-xs-9">
				                        <input class="form-control" name="username" type="text" ng-model="vm.allo.username" ng-disabled="vm.allo.active==true">
				                        <div class="alert alert-sm alert-danger" ng-if="facts_form.username.$invalid && vm.alertsField.username">{{vm.alertsField.username}}</div>
				                    </div>
								</div>
                			</div>
                			<div class="margin-top col-xs-8 pull-right">
                				<div class="form-group" ng-class="{ 'form-group_alert' : facts_form.api_key.$invalid && !facts_form.api_key.$pristine }">
								    <label class="col-xs-3 control-label text-left">
			                           	{l}API Key{endl}:
				                    </label>
				                    <div class="col-xs-9">
				                        <input class="form-control" name="api_key" type="text" ng-model="vm.allo.api_key" ng-disabled="vm.allo.active==true">
				                        <div class="alert alert-sm alert-danger" ng-if="facts_form.api_key.$invalid && vm.alertsField.api_key">{{vm.alertsField.api_key}}</div>
				                    </div>
								</div>
                			</div>              			        			
						</div>
					</div>
				</div>
			</form>
		</div>
		<div class="modal-footer">
			  <button class="btn btn-plain" type="button" ng-click="vm.cancel()" >{l}Close{endl}</button>
		</div>
	</div>
	
</div>
