<div class="modal-header">
    <h3 class="modal-title">{{vm.obj.page_title}}</h3>
</div>
<div class="modal-body" >
	<div class="loading_wrap loading_alt hidden">
      	<div class="loading"></div>
        <div class="spinner"></div>
    </div> 
	<form class="form-horizontal" name="v_form">
		<div class="row">
			<div class="col-xs-12">
				<div class="form-group"  ng-class="{ 'form-group_alert' : v_form.application_name.$invalid && !v_form.application_name.$pristine }">
					<label class="col-xs-4 control-label text-left">{l}Name{endl}:</label>
          			<div class="col-xs-7 input-group-md">
            			<input type="input" name="application_name" class="form-control" ng-model="vm.obj.application_name" placeholder="{l}Name{endl}" ng-disabled="vm.obj.is_internal">
            			<div class="alert alert-sm alert-danger" ng-if="v_form.application_name.$invalid && vm.alertsField.application_name">{{vm.alertsField.application_name}}</div>
          			</div>
				</div>
				<div class="form-group" ng-if="vm.obj.client_id">
					<label class="col-xs-4 control-label text-left">{l}Client Id{endl}:</label>
          			<label class="col-xs-7 control-label text-left">{{vm.obj.client_id}}</label>
				</div>
				<div class="form-group" ng-if="vm.obj.client_id">
					<label class="col-xs-4 control-label text-left">{l}Client Secret{endl}:</label>
          			<label class="col-xs-7 control-label text-left">{{vm.obj.client_secret}}</label>
				</div>
				<div class="form-group"  ng-class="{ 'form-group_alert' : v_form.redirect_uri.$invalid && !v_form.redirect_uri.$pristine }">
					<label class="col-xs-4 control-label text-left">{l}Redirect Uri{endl}:</label>
          			<div class="col-xs-7 input-group-md">
            			<input type="input" name="redirect_uri" class="form-control" ng-model="vm.obj.redirect_uri" placeholder="{l}Redirect Uri{endl}" ng-disabled="vm.obj.is_internal" >
            			<div class="alert alert-sm alert-danger" ng-if="v_form.redirect_uri.$invalid && vm.alertsField.redirect_uri">{{vm.alertsField.redirect_uri}}</div>
          			</div>
				</div>
			</div>			
		</div>
	</form>
</div>
<div class="modal-footer">
    <button class="btn btn-plain" type="button" ng-click="vm.cancel()">{l}Close{endl}</button>
    <button class="btn btn-default" type="button" ng-click="vm.ok(v_form)" ng-if="!vm.obj.is_internal">{l}Save{endl}</button>
</div>