<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="vm.cancel()"><span aria-hidden="true">&times;</span></button>
  <h4 class="modal-title" >{l}Integration with Billtobox{endl}</h4>
</div>
<div class="tab-content">
	<div class="tab-pane active" id="labels">
		<div class="modal-body" >
			<div class="loading_wrap loading_alt hidden">
		      	<div class="loading"></div>
		        	<div class="spinner"></div>
		    </div>
			<!-- <div uib-alert ng-repeat="alert in vm.alerts" type="{{alert.type}}" close="vm.alerts.splice($index, 1);" ng-class="['alert-' + (alert.type || 'warning')]" dismiss-on-timeout='3000' >{{alert.msg}}</div> -->
			<form class="form-horizontal" name="billtobox_form" novalidate>
				<div class="row">
					<div class="col-xs-12">
						<div class="form-group" >
							<div class="col-xs-3">
									<img class="img-thumbnail" ng-src="{{vm.billtobox.CLASS2}}" width="232" height="90" alt=""/>
							</div>
							<div class="col-xs-9">
							    <div class="section-title">
                    				<h2>{l}Bill To Box{endl}</h2>                    				
                				</div><!-- /.section-title -->
                			</div>
                			<div class=" col-xs-9 pull-right" ng-if="vm.billtobox.is_active==false">  										    
			                <!-- {l}In order to activate the Bill to Box integration with Akti you will need to fill in a username and API-password that you can generate in Bill to Box. Check our support page regarding Bill to Box on how to obtain this information.{endl}	 
							  -->
							  {l}To activate the Billtobox integration you need one or two API keys that can be generated in Billtobox.{endl}
                			</div>
							<div class="col-xs-9 pull-right">
		                		<!-- <div class="form-group">
								    <label class="col-xs-4 control-label text-left" for="username">
		                            	{l}Username{endl}*
			                          </label>
			                          <div class="col-xs-8">
			                            <input id="username" class="form-control ng-pristine ng-untouched ng-valid" type="text" ng-model="vm.billtobox.username" name="username">
			                          </div>
								</div> -->
								<!-- <div class="form-group">
								    <label class="col-xs-5 control-label text-left" for="api_key">
		                            	{l}API-password{endl}*
			                          </label>
			                          <div class="col-xs-7">
			                            <input id="api_key" class="form-control ng-pristine ng-untouched ng-valid" type="password" ng-model="vm.billtobox.api_key" name="api_key">
			                          </div>
								</div> -->
								<div class="form-group" >
                                    <label class="col-xs-6 control-label text-left">{l}Send Sales Invoices{endl}</label>
                                    <div class="col-xs-6">
                                        <selectize config='vm.sendInvoiceCfg' options='vm.billtobox.sendInvoiceOpts' ng-model="vm.billtobox.sendSalesInvoice" ng-disabled="vm.billtobox.is_active==true"></selectize>
                                    </div>                          
                                </div>
								<div class="form-group" ng-if="vm.billtobox.sendSalesInvoice=='0'">
                                    <label class="col-xs-6 control-label text-left">{l}Export Sales Invoices{endl}</label>
                                    <div class="col-xs-6" uib-popover="{l}This setting has been enforced by your accountant. Please contact them if you want to change the automated export settings{endl}" popover-placement="'top'" popover-trigger="'mouseenter'" popover-enable="{{vm.billtobox.accountant_export_invoice_force}}">
                                        <selectize config='vm.exportAutoCfg' options='vm.billtobox.exportAutoOpts' ng-model="vm.billtobox.exportAutoInvoice" ng-disabled="vm.billtobox.accountant_export_invoice_force"></selectize>
                                    </div>                          
                                </div>

								<div class="form-group" ng-class="{ 'form-group_alert' : billtobox_form.api_key.$invalid && !billtobox_form.api_key.$pristine }">
									<label class="col-xs-6 control-label text-left" for="api_key">
										{l}API-key Sales Invoices{endl}<span class="mandatory-label">*</span>
									  </label>
									  <div class="col-xs-6" ng-if="vm.billtobox.sendSalesInvoice=='0'">
										<input id="api_key" class="form-control ng-pristine ng-untouched ng-valid" type="password" name="api_key" ng-model="vm.billtobox.api_key" required>
										<div class="alert alert-sm alert-danger" ng-if="billtobox_form.api_key.$invalid && vm.alertsField.api_key">{{vm.alertsField.api_key}}</div>
									  </div>
									  <div class="col-xs-6" ng-if="vm.billtobox.sendSalesInvoice=='1'">
										<input id="api_key" class="form-control ng-pristine ng-untouched ng-valid" type="password" name="active_sales_api_key" ng-model="vm.billtobox.active_sales_api_key" required>
										<div class="alert alert-sm alert-danger" ng-if="billtobox_form.active_sales_api_key.$invalid && vm.alertsField.active_sales_api_key">{{vm.alertsField.active_sales_api_key}}</div>
									  </div>
								</div>
								
								<!-- <div class="form-group" ng-if="vm.billtobox.is_active==true">
                                    <label class="col-xs-5 control-label text-left">{l}Export invoice automatically{endl}</label>
                                    <div class="col-xs-7" uib-popover="{l}This setting has been enforced by your accountant. Please contact them if you want to change the automated export settings{endl}" popover-placement="'top'" popover-trigger="'mouseenter'" popover-enable="{{vm.billtobox.accountant_export_invoice_force}}">
                                        <selectize config='vm.exportAutoCfg' options='vm.billtobox.exportAutoOpts' ng-model="vm.billtobox.exportAutoInvoice" ng-disabled="vm.billtobox.accountant_export_invoice_force"></selectize>
                                    </div>                          
                                </div> -->
                                <!-- <div class="form-group">
                                    <label class="col-xs-4 control-label text-left">{l}Export purchase invoice automatically{endl}</label>
                                    <div class="col-xs-8">
                                        <selectize config='vm.exportAutoCfg' options='vm.billtobox.exportAutoOpts' ng-model="vm.billtobox.exportAutoPInvoice"></selectize>
                                    </div>                          
                                </div> -->
                                <!-- <div class="form-group" ng-if="vm.billtobox.is_active==true">
				                  <label class="col-xs-5 control-label text-left">{l}Activate the export of purchase invoices uploaded to BilltoBox to Dropbox?{endl}</label>
				                  <div class="col-xs-7">
				                      <toggle-switch ng-change="vm.change(vm)" ng-model="vm.billtobox.export_billtobox_to_dropbox" class="switch-primary {{ vm.billtobox.automatic_xml_knob_class }}" off-label="{l}No{endl}" on-label="{l}Yes{endl}" is-disabled="!vm.billtobox.dropbox_active" uib-popover-html="vm.pInvoiceDisabledMsg" popover-placement="'top'" popover-trigger="'mouseenter'" popover-popup-close-delay="1000" popover-enable="{{!vm.billtobox.dropbox_active}}"></toggle-switch>
				                  </div>
				                </div> -->
				                <div class="form-group" >
                                    <label class="col-xs-6 control-label text-left">{l}Purchase Invoices{endl}</label>
                                    <div class="col-xs-6">
                                        <selectize config='vm.exportAutoPurchaseCfg' options='vm.billtobox.exportAutoPurchaseOpts' ng-model="vm.billtobox.exportPurchaseInvoices"></selectize>
                                    </div>                          
                                </div>
				                <div class="form-group" ng-class="{ 'form-group_alert' : billtobox_form.access_key.$invalid && !billtobox_form.access_key.$pristine }" ng-if="vm.billtobox.export_billtobox_to_dropbox =='1' ">
				                  <label class="col-xs-6 control-label text-left">{l}Api-key Purchase Invoices{endl}<span class="mandatory-label">*</span></label>
				                  <div class="col-xs-6" >
				                     <div class="row">
				                      <div class="col-xs-12">
				                        <input id="access_key" name="access_key" type="password" class="form-control" ng-change="vm.change(vm)"  ng-model="vm.billtobox.access_key" required>
				                        <div class="alert alert-sm alert-danger" ng-if="billtobox_form.access_key.$invalid && vm.alertsField.access_key">{{vm.alertsField.access_key}}</div>
				                      </div>
				                    </div>
				                  </div>
				                </div>
				                <div class="form-group" ng-class="{ 'form-group_alert' : billtobox_form.access_key_pinv.$invalid && !billtobox_form.access_key_pinv.$pristine }" ng-if="vm.billtobox.export_pinv_to_billtobox =='1'">
				                  <label class="col-xs-6 control-label text-left">{l}Api-key Purchase Invoices{endl}<span class="mandatory-label">*</span></label>
				                  <div class="col-xs-6" >
				                     <div class="row">
				                      <div class="col-xs-12">
				                        <input id="access_key_pinv"  name="access_key_pinv" type="password" class="form-control" ng-change="vm.change(vm)"  ng-model="vm.billtobox.access_key_pinv" required>
				                        <div class="alert alert-sm alert-danger" ng-if="billtobox_form.access_key_pinv.$invalid && vm.alertsField.access_key_pinv">{{vm.alertsField.access_key_pinv}}</div>
				                      </div>
				                    </div>
				                  </div>
				                </div>
							</div>
                		
						</div>
					</div>
				</div>
			</form>
		</div>
		<div class="modal-footer">
			  <button class="btn btn-plain" type="button" ng-click="vm.cancel()" >{l}Cancel{endl}</button> 
			  <button type="submit" class="btn btn-default" ng-if="vm.billtobox.is_active==false" ng-click="vm.billtobox_connect(vm, billtobox_form)">{{vm.billtobox.title}}</button>
			  <button type="submit" class="btn btn-tertiary_red" ng-if="vm.billtobox.is_active==true" ng-click="vm.billtobox_disconnect()">{{vm.billtobox.title}}</button>
			  <button class="btn btn-default" type="button" ng-if="vm.billtobox.is_active==true" ng-disabled="billtobox_form.$pristine" ng-click="vm.save(vm, billtobox_form)" >{l}{{vm.billtobox.save_button_text}}{endl}</button>
			 
			  
		</div>
	</div>
	
</div>