<div class="container">
  <div class="page-header">
  	<div class="row">
      	<div class="col-sm-12">
            <h1>{l}Billing{endl}                
            </h1>
          </div>
      </div>
  </div><!-- /.page-header -->
  <ul class="nav nav-tabs tabs-default" id="tabContent">
    <li class="active"><a href="#billing" data-toggle="tab">{l}Billing Data{endl}</a></li>
    <li><a href="#subscription" data-toggle="tab">{l}Subscription{endl}</a></li>
    <li><a href="#invoices" data-toggle="tab">{l}Invoices{endl}</a></li>  
  </ul>
<div class="tab-content">
  <div class="tab-pane fade in active" id="billing" > 
      <div class="section-content">
      </div>
  </div>
  <div class="tab-pane fade" id="subscription" > 
      <div class="section-content">
      </div>
  </div>
  <div class="tab-pane fade" id="invoices" > 
    <div class="page-header">
    <div class="row">
        <div class="col-sm-12">
              <h1>{l}Invoices{endl}                
            </h1>
          </div>
      </div>
  </div><!-- /.page-header -->
    <div class="section-content">
          <div uib-alert ng-repeat="alert in alerts" type="{{alert.type}}" close="alerts.splice($index, 1);" ng-class="['alert-' + (alert.type || 'warning') ]" dismiss-on-timeout='5000' >{{alert.msg}}</div>
          <div class="row page-search">
          	<form>
            	<div class="col-sm-8 col-md-8">
                  <div class="so-field" ng-class="{ 'so-active':search.search!='' }">
                    <span class="glyphicon glyphicon-search so-icon"></span>
                    <input type="text" class="form-control" placeholder="{l}Search{endl}" search-it doit="search" callbk="renderList" ng-model="search.search">
                    <span class="glyphicon glyphicon-remove so-icon so-remove" ng-click="toggleSearchButtons('search','')"></span>
                  </div><!-- /.input-search -->
                </div>    	
            	<div class="col-sm-2 col-md-2">
                  <div class="so-field" ng-class="{ 'so-active':search.start_date_js!=undefined }">
                    <span class="glyphicon glyphicon-calendar so-icon" ng-click="openDate('start_date')"></span>
                    <input type="text" class="form-control" ng-model="search.start_date_js" uib-datepicker-popup="{{format}}" is-open="datePickOpen.start_date" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" close-text="Close" placeholder="{l}Start Date{endl}" show-button-bar="false" ng-click="datePickOpen.start_date=true" ng-change="searchThing()">
                    <span class="glyphicon glyphicon-remove so-icon so-remove" ng-click="toggleSearchButtons('start_date_js',undefined)"></span>
                  </div><!-- /.input-date -->
                </div>
            	<div class="col-sm-2 col-md-2">
                  <div class="so-field" ng-class="{ 'so-active':search.stop_date_js!=undefined }">
                    <span class="glyphicon glyphicon-calendar so-icon" ng-click="openDate('stop_date')"></span>
                    <input type="text" class="form-control" ng-model="search.stop_date_js" uib-datepicker-popup="{{format}}" is-open="datePickOpen.stop_date" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" close-text="Close" placeholder="{l}End Date{endl}" show-button-bar="false" ng-click="datePickOpen.stop_date=true" ng-change="searchThing()">
                    <span class="glyphicon glyphicon-remove so-icon so-remove" ng-click="toggleSearchButtons('stop_date_js',undefined)"></span>
                  </div><!-- /.input-date -->
                </div>
            </form>
          </div><!-- /.page-search -->
          <div class="row page-content">
          	<div class="col-sm-12">
              <table class="table active_rows orderTable">
                  <thead>
                    <tr>
                      <th class="col-sm-1 sortable_row" ng-class="{ 'sortable_row-up':(!reverse && ord=='t_date') , 'sortable_row-down':(reverse && ord=='t_date') }" ng-click="orderBY('t_date')">{l}Date{endl}</th>
                      <th class="col-sm-1 sortable_row" ng-class="{ 'sortable_row-up':(!reverse && ord=='our_ref') , 'sortable_row-down':(reverse && ord=='our_ref') }" ng-click="orderBY('our_ref')">{l}Our Reference{endl}</th>
                      <th class="col-sm-1 text-center sortable_row" ng-class="{ 'sortable_row-up':(!reverse && ord=='amount') , 'sortable_row-down':(reverse && ord=='amount') }" ng-click="orderBY('amount')">{l}Amount{endl} </th>
                      <th class="col-sm-1 text-center sortable_row" ng-class="{ 'sortable_row-up':(!reverse && ord=='amount_vat') , 'sortable_row-down':(reverse && ord=='amount_vat') }" ng-click="orderBY('amount_vat')">{l}Amount + VAT{endl} </th>
                      <th class="col-sm-1 table_actions">
                        <!-- <span class="hideOnTablet">{l}Action{endl}</span> -->                
                      </th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr ng-repeat="item in list" class="collapseTr">
                      <td class="text-muted" ><span>{{::item.created}}</span></td>
                      <td class="text-muted" >{{::item.our_reference}}</td>
                      <td class="text-center col-amount"  ng-bind-html="item.amount"></td>
                      <td class="text-center text-muted col-amount"  ng-bind-html="item.amount_vat"></td>
                      <td class="table_actions">
                        <div class="btn-group" uib-dropdown>
                          <button type="button" class="btn btn-plain dropdown-toggle" uib-dropdown-toggle>
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu dropdown-menu-right" uib-dropdown-menu>
                                <li class="dropdown-header">{l}Action{endl}</li>
                                <li >
                                    <a href="{{item.pdf_link}}" target="_blank"><span class="far fa-file-pdf text-primary"></span> {l}PDF{endl}</a>
                                </li>                        
                            </ul>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
          	</div>
          </div><!-- /.page-content -->
    </div>
  </div>
  <!-- <pag-custom pages="pager" refresh="renderList()" doit='invoice-invoices'></pag-custom> -->
  <ul ng-if="max_rows > 30" uib-pagination total-items="max_rows" ng-model="search.offset" ng-change="searchThing()" max-size="5" class="pager" boundary-links="true" items-per-page="lr" ></ul>
</div><!-- neede on all pages -->