<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="vm.cancel()"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title">{l}Activate integration with E-fff{endl}</h4>
</div>
<div class="tab-content">
    <div class="tab-pane active" id="labels">
        <div class="modal-body modal-body_alt">
            <div class="loading_wrap loading_alt hidden">
                <div class="loading"></div>
                <div class="spinner"></div>
            </div>
            <!-- <div uib-alert ng-repeat="alert in vm.alerts" type="{{alert.type}}" close="vm.alerts.splice($index, 1);" ng-class="['alert-' + (alert.type || 'warning')]" dismiss-on-timeout='5000' >{{alert.msg}}</div> -->
            <form class="form-horizontal" name="btb_form">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="form-group">
                            <div class="col-xs-3">
                                <img class="img-thumbnail" ng-src="{{vm.winbook.CLASS2}}" width="232" height="90" alt="" />
                                <!-- <div class="margin-top text-center" ng-if="vm.winbook.available">
				                    <button type="submit" class="btn btn-default" ng-if="vm.winbook.hide_active==true" ng-click="vm.winbooks()">{{vm.winbook.title}}</button>
				                    <button type="submit" class="btn btn-default" ng-if="vm.winbook.hide_deactive==true" ng-click="vm.winbooks()">{{vm.winbook.title}}</button>
                    			</div> -->
                            </div>
                            <div class="col-xs-9">
                                <div class="section-title">
                                    <h2>{l}E-fff UBL{endl} </h2>
                                </div>
                                <!-- /.section-title -->
                            </div>
                            <!-- <div class="col-xs-8" ng-if="vm.winbook.available && vm.winbook.hide_deactive==true">
								<small>{l}Please fill with the credentials from your Account{endl}.</small>
                			</div> -->
                            <div class="col-xs-9" ng-if="vm.winbook.hide_active==true && vm.winbook.available">
                                <div class="form-group">
                                    <label class="col-xs-6 control-label text-left">
		                            	{l}Provider{endl}
			                        </label>
                                    <div class="col-xs-6 efff">
                                        <selectize config='vm.providerCfg' options='vm.providers' ng-model="vm.winbook.eff_drop" ng-disabled="true"></selectize>
                                    </div>
                                </div>
                                <div class="form-group" ng-if="vm.winbook.eff_drop=='0'">
                                    <label class="col-xs-6 control-label text-left" for="inputEmail">
		                            	{l}Host{endl}<span class="mandatory-label">*</span>
			                          </label>
                                    <div class="col-xs-6">
                                        {{vm.winbook.ap_push_key}}
                                    </div>
                                </div>
                                <div class="form-group" ng-if="vm.winbook.eff_drop=='0'">
                                    <label class="col-xs-6 control-label text-left" for="inputEmail">
		                            	{l}User{endl}<span class="mandatory-label">*</span>
			                          </label>
                                    <div class="col-xs-6">
                                        {{vm.winbook.push_user}}
                                    </div>
                                </div>
                                <div class="form-group" ng-if="vm.winbook.eff_drop=='0'">
                                    <label class="col-xs-6 control-label text-left" for="inputEmail">
		                            	{l}Payments folder{endl}<span class="mandatory-label">*</span>
			                          </label>
                                    <div class="col-xs-6">
                                        {{vm.winbook.pull_user}}
                                    </div>
                                </div>
                                <div class="form-group" ng-if="vm.winbook.drop_active && vm.winbook.eff_drop=='1'">
                                    <label class="col-xs-6 control-label text-left">
		                            	{l}Path{endl}
			                        </label>
                                    <label class="col-xs-6 control-label text-left">
			                            {{vm.winbook.eff_drop_link}}
			                        </label>
                                </div>
                                <div class="form-group">
                                    <label class="col-xs-6 control-label text-left">{l}Export invoice{endl}</label>
                                    <div class="col-xs-6" uib-popover="{l}This setting has been enforced by your accountant. Please contact them if you want to change the automated export settings{endl}" popover-placement="'top'" popover-trigger="'mouseenter'" popover-enable="{{vm.winbook.accountant_export_invoice_force}}">
                                        <selectize config='vm.exportAutoCfg' options='vm.winbook.exportAutoOpts' ng-model="vm.winbook.exportAutoInvoice" ng-disabled="vm.winbook.accountant_export_invoice_force"></selectize>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-xs-6 control-label text-left">{l}Export purchase invoice{endl}</label>
                                    <div class="col-xs-6" uib-popover="{l}This setting has been enforced by your accountant. Please contact them if you want to change the automated export settings{endl}" popover-placement="'top'" popover-trigger="'mouseenter'" popover-enable="{{vm.winbook.accountant_export_pinvoice_force}}">
                                        <selectize config='vm.exportAutoCfg' options='vm.winbook.exportAutoOpts' ng-model="vm.winbook.exportAutoPInvoice" ng-disabled="vm.winbook.accountant_export_pinvoice_force"></selectize>
                                    </div>
                                </div>
                            </div>
                            <div uib-alert type="notice" class="alert-danger margin-top col-xs-8 pull-right" ng-if="!vm.winbook.available">{l}Application not available to activate in your country{endl}</div>
                        </div>
                    </div>
                    <div class="col-xs-9 col-xs-offset-3" ng-if="vm.winbook.hide_deactive==true && vm.winbook.available">
                        <div class="form-group">
                            <label class="col-xs-6 control-label text-left">
                            	{l}Provider{endl}
	                        </label>
                            <div class="col-xs-6">
                                <selectize config='vm.providerCfg' options='vm.providers' ng-model="vm.winbook.eff_drop"></selectize>
                            </div>
                        </div>
                        <div class="form-group" ng-if="vm.winbook.eff_drop=='0'">
                            <label class="col-xs-5 control-label text-left" for="inputEmail">
                            	{l}Host{endl}<span class="mandatory-label">*</span>
	                          </label>
                            <div class="col-xs-6">
                                <input id="inputCode" class="form-control ng-pristine ng-untouched ng-valid" type="text" ng-model="vm.winbook.ap_push_key">
                            </div>
                        </div>
                        <div class="form-group" ng-if="vm.winbook.eff_drop=='0'">
                            <label class="col-xs-5 control-label text-left" for="inputEmail">
                            	{l}User{endl}<span class="mandatory-label">*</span>
	                          </label>
                            <div class="col-xs-6">
                                <input id="inputCode" class="form-control ng-pristine ng-untouched ng-valid" type="text" ng-model="vm.winbook.push_user">
                            </div>
                        </div>
                        <div class="form-group" ng-if="vm.winbook.eff_drop=='0'">
                            <label class="col-xs-6 control-label text-left" for="inputEmail">
                            	{l}Password{endl}<span class="mandatory-label">*</span>
	                          </label>
                            <div class="col-xs-6">
                                <input id="inputCode" class="form-control ng-pristine ng-untouched ng-valid" type="text" ng-model="vm.winbook.ar_push_key">
                            </div>
                        </div>
                        <!-- <div class="form-group" ng-if="vm.winbook.eff_drop=='0'">
						    <label class="col-xs-5 control-label text-left" for="inputEmail">
                            	{l}Payments folder{endl}<span class="mandatory-label">*</span>
	                          </label>
	                          <div class="col-xs-7">
	                            <input id="inputCode" class="form-control ng-pristine ng-untouched ng-valid" type="text" ng-model="vm.winbook.pull_user">
	                          </div>
						</div> -->
                        <div class="form-group" ng-if="vm.winbook.drop_active && vm.winbook.eff_drop=='1'">
                            <label class="col-xs-6 control-label text-left">
                            	{l}Path{endl}<span class="mandatory-label">*</span>
	                        </label>
                            <label class="col-xs-6 control-label text-left" ng-if="vm.winbook.eff_drop_link.length">{{vm.winbook.eff_drop_link}} &nbsp;&nbsp;<a href="#" ng-click="vm.showFolders()" uib-tooltip="{l}Select Folder{endl}" tooltip-placement="left"><span class="glyphicon glyphicon-open-file"></span></a></label>
                            <label class="col-xs-6 control-label text-left" ng-if="!vm.winbook.eff_drop_link.length"><a href="#" ng-click="vm.showFolders()" class="btn btn-default">{l}Select Folder{endl}</a></label>
                        </div>
                        <div class="form-group">
                            <label class="col-xs-6 control-label text-left">{l}Export invoice{endl}</label>
                            <div class="col-xs-6" uib-popover="{l}This setting has been enforced by your accountant. Please contact them if you want to change the automated export settings{endl}" popover-placement="'top'" popover-trigger="'mouseenter'" popover-enable="{{vm.winbook.accountant_export_invoice_force}}">
                                <selectize config='vm.exportAutoCfg' options='vm.winbook.exportAutoOpts' ng-model="vm.winbook.exportAutoInvoice" ng-disabled="vm.winbook.accountant_export_invoice_force"></selectize>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-xs-6 control-label text-left">{l}Export purchase invoice{endl}</label>
                            <div class="col-xs-6" uib-popover="{l}This setting has been enforced by your accountant. Please contact them if you want to change the automated export settings{endl}" popover-placement="'top'" popover-trigger="'mouseenter'" popover-enable="{{vm.winbook.accountant_export_pinvoice_force}}">
                                <selectize config='vm.exportAutoCfg' options='vm.winbook.exportAutoOpts' ng-model="vm.winbook.exportAutoPInvoice" ng-disabled="vm.winbook.accountant_export_pinvoice_force"></selectize>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>

        <div class="modal-footer">
            <button type="submit" class="btn btn-tertiary_red" ng-if="vm.winbook.hide_active==true" ng-click="vm.winbooks()">{{vm.winbook.title}}</button>
            <!--<button type="submit" class="btn btn-default" ng-if="vm.winbook.hide_deactive==true" ng-click="vm.winbooks()">{{vm.winbook.title}}</button>-->
            <button class="btn btn-plain" type="button" ng-click="vm.cancel()">Cancel</button>
            <button class="btn btn-default" type="button" ng-if="vm.winbook.hide_active==true" ng-disabled="btb_form.$pristine" ng-click="vm.saveSettings()">{l}{{vm.winbook.save_button_text}}{endl}</button>
        </div>
    </div>

</div>