<div class="tab-content">
    <div class="tab-pane active" id="labels">
        <div class="modal-body">
            <!-- <div uib-alert ng-repeat="alert in vm.alerts" type="{{alert.type}}" close="vm.alerts.splice($index, 1);" ng-class="['alert-' + (alert.type || 'warning')]" dismiss-on-timeout='5000' >{{alert.msg}}</div> -->
            <form class="form-horizontal">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="form-group">
                            <div class="col-xs-4">
                                <img class="img-thumbnail" ng-src="{{vm.calendars.CLASS2}}" width="232" height="90" alt="" />
                                <div class="margin-top text-center">
                                    <button type="submit" class="btn btn-default" ng-if="vm.calendars.hide_deactive==true" ng-click="vm.toggleActivate(vm,vm.calendars,vm.calendars.value)">{l}{{vm.calendars.title}}{endl}</button>
                                    <button type="submit" class="btn btn-default" ng-if="vm.calendars.hide_active==true" ng-click="vm.toggleActivate(vm,vm.calendars,vm.calendars.value)">{l}{{vm.calendars.title}}{endl}</button>
                                </div>
                            </div>
                            <div class="col-xs-7">
                                <div class="section-title">
                                    <h2>{l}Calendar{endl} </h2>
                                </div>
                                <!-- /.section-title -->
                            </div>
                            <div class="col-xs-8">
                                <small>{l}Some googlely text here{endl}</small>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>

</div>