<!-- <div class="modal-header">
    <h3 class="modal-title">Edit VAT</h3>
</div> -->
<div class="tab-content">
    <div class="tab-pane active" id="labels">
        <div class="modal-body">
            <!-- <div uib-alert ng-repeat="alert in vm.alerts" type="{{alert.type}}" close="vm.alerts.splice($index, 1);" ng-class="['alert-' + (alert.type || 'warning')]" dismiss-on-timeout='5000' >{{alert.msg}}</div> -->
            <form class="form-horizontal">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="form-group">
                            <div class="col-xs-4">
                                <img class="img-thumbnail" ng-src="{{vm.campain.CLASS2}}" width="232" height="90" alt="" />
                                <div class="margin-top text-center">
                                    <button type="submit" class="btn btn-default" ng-if="vm.campain.hide_deactive==true" ng-click="vm.Campaign(vm,vm.campain,vm.campain.campaign_user,vm.campain.campaign_password,vm.campain.campaign_site)">{l}Connect Application{endl}</button>
                                    <button type="submit" class="btn btn-default" ng-if="vm.campain.hide_active==true" ng-click="vm.deactivate_camp(vm,vm.campain)">{l}Deactivate Application{endl}</button>
                                </div>
                            </div>
                            <div class="col-xs-7">
                                <div class="section-title">
                                    <h2>{l}Campaign Monitor{endl} </h2>
                                </div>
                                <!-- /.section-title -->
                            </div>
                            <div class="col-xs-7" ng-if="vm.campain.hide_deactive==true">
                                <small>Please fill whit the credentials from your <a href="http://www.campaignmonitor.com" target="_blank">Campaign Monitor</a> Account.</small>
                            </div>
                            <div class="col-xs-8" ng-if="vm.campain.hide_active==true">
                                <small>{l}Your Campaign Monitor API Key{endl}:</small>
                            </div>
                            <div class="col-xs-8" ng-if="vm.campain.hide_active==true">
                                <input id="inputEmail" class="form-control ng-pristine ng-untouched ng-valid" type="text" ng-model="vm.campain.campaign_apy">
                            </div>
                            <div class="col-xs-8" ng-if="vm.campain.hide_active==true">
                                <small>{l}Your Campaign Clients{endl}:</small>
                            </div>
                            <div class="col-xs-8" ng-if="vm.campain.hide_active==true">
                                <div class="col-xs-3 control-label" ng-repeat="item in vm.campain.clients">
                                    <input type="radio" value="{{item.CLIENT_API}}" ng-model="item.CLIENT_API"><label>{{item.CLIENT_NAME}}</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-9 col-xs-offset-4" ng-if="vm.campain.hide_deactive==true">
                        <div class="form-group">
                            <label class="col-xs-3 control-label text-left" for="inputEmail">
                            	{l}Email{endl}:*
	                          </label>
                            <div class="col-xs-7">
                                <input id="inputEmail" class="form-control ng-pristine ng-untouched ng-valid" type="text" ng-model="vm.campain.campaign_user">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-xs-3 control-label text-left" for="inputEmail">
                            	{l}Password{endl}:*
	                          </label>
                            <div class="col-xs-7">
                                <input id="inputPassword" class="form-control ng-pristine ng-untouched ng-valid" type="text" ng-model="vm.campain.campaign_password">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-xs-3 control-label text-left" for="inputEmail">
                            	{l}Site address{endl}:*
	                          </label>
                            <div class="col-xs-7">
                                <input id="inputAddress" class="form-control ng-pristine ng-untouched ng-valid" type="text" ng-model="vm.campain.campaign_site">
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>

</div>
<!-- <div class="modal-footer">
    <button class="btn btn-plain" type="button" ng-click="vm.cancel()">Close</button>
    <button class="btn btn-default" type="button" ng-click="vm.save_me(vm.obj)">Save</button>
</div> -->