<div class="tab-content">
	<div class="tab-pane active" id="labels">
		<div class="modal-body" >
			<div uib-alert ng-repeat="alert in vm.alerts" type="{{alert.type}}" close="vm.alerts.splice($index, 1);" ng-class="['alert-' + (alert.type || 'warning')]" dismiss-on-timeout='5000' >{{alert.msg}}</div>
			<form class="form-horizontal">
				<div class="row">
					<div class="col-xs-12">
						<div class="form-group" >
							<div class="col-xs-4">
									<img class="img-thumbnail" ng-src="{{vm.chimp_mail.CLASS2}}" width="232" height="90" alt=""/>
								<div class="margin-top text-center">
				                    <button type="submit" ng-if="vm.chimp_mail.app_me==true"  class="btn btn-default" ng-click="vm.Chimp(vm,vm.chimp_mail,vm.chimp_mail.api_key)">{{vm.chimp_mail.title}}</button>
				                    <button type="submit" ng-if="vm.chimp_mail.app==true" class="btn btn-default" ng-click="vm.Chimp_deactivate(vm,vm.chimp_mail,vm.chimp_mail.api_key)">{{vm.chimp_mail.title}}</button>
                    			</div>
							</div>
							<div class="col-xs-7">
							    <div class="section-title">
		                            <h2>{l}MailChimp{endl} </h2>
                				</div><!-- /.section-title -->
                			</div>
                			<div class="col-xs-7">
								<div class="form-group">
								    <label class="col-xs-3 control-label text-left" for="inputEmail">
		                            	{l}API key{endl}:*
			                          </label>
			                          <div class="col-xs-9">
			                            <input id="inputEmail" class="form-control ng-pristine ng-untouched ng-valid" type="text" ng-model="vm.chimp_mail.api_key">
			                          </div>
								</div>
                			</div>
						</div>
					</div>

				</div>
			</form>
		</div>
	</div>
	
</div>
