<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="vm.cancel()"><span aria-hidden="true">&times;</span></button>
  <h4 class="modal-title" >{l}Activate integration with ClearFacts{endl}</h4>
</div>
<div class="tab-content">
	<div class="tab-pane active" id="labels">
		<div class="modal-body" >
			<div class="loading_wrap loading_alt hidden">
		      	<div class="loading"></div>
		        	<div class="spinner"></div>
		    </div>
			<div uib-alert ng-repeat="alert in vm.alerts" type="{{alert.type}}" close="vm.alerts.splice($index, 1);" ng-class="['alert-' + (alert.type || 'warning')]" dismiss-on-timeout='5000' >{{alert.msg}}</div>
			<form class="form-horizontal" name="facts_form" novalidate>
				<div class="row">
					<div class="col-xs-12">
						<div class="form-group" >
							<div class="col-xs-3">
									<img class="img-thumbnail" ng-src="{{vm.clearfacts.CLASS2}}" width="232" height="90" alt=""/>
							</div>
							<div class="col-xs-9">
							    <div class="section-title">
                    				<h2>{l}ClearFacts{endl}</h2>                    				
                				</div><!-- /.section-title -->
                			</div>
                			<div class=" col-xs-9 pull-right" ng-if="vm.clearfacts.active==false">  										    
			                           	{l}In order to connect with ClearFacts, you will need your ClearFacts Username and Password. The connection with ClearFacts will be based on the VAT-number, filled in in your general settings{endl}.	               
                			</div>
                			<div class="padding_bottom col-xs-9 pull-right" ng-if="vm.clearfacts.active==true && vm.cfconn=='1'">    										    
			                           	{l}Your ClearFacts account is successfully connected to Akti and invoice can now be exported to your account{endl}.      
                			</div>
                			<!-- <div class="padding_bottom col-xs-9 pull-right" ng-if="vm.clearfacts.active==true && !vm.cfconn">    										    
			                           	{l}The integration with ClearFacts enable you to export invoices digitally to your accountant{endl}.      
                			</div> -->
                		
                			<div class="col-xs-9 pull-right margin-top" ng-if="vm.clearfacts.active==true">
                				<div class="form-group">
	                                <label class="col-xs-6 control-label text-left">{l}Export invoice automatically{endl}</label>
	                                <div class="col-xs-6" uib-popover="{l}This setting has been enforced by your accountant. Please contact them if you want to change the automated export settings{endl}" popover-placement="'top'" popover-trigger="'mouseenter'" popover-enable="{{vm.clearfacts.accountant_export_invoice_force}}">
	                                    <selectize config='vm.exportAutoCfg' options='vm.clearfacts.exportAutoOpts' ng-model="vm.clearfacts.exportAutoInvoice" ng-disabled="vm.clearfacts.accountant_export_invoice_force"></selectize>
	                                </div>                          
								</div>
								<!-- <div class="padding_bottom col-xs-9 pull-right" ng-if="vm.clearfacts.active==true">    
									<label  for="inputSyncStatus">{l}Do you want to synchronise payment statuses of invoices automatically from ClearFacts to Akti? {endl}</label>
								 </div>
								<div class=" col-xs-9 pull-right" ng-if="vm.clearfacts.active==true">   
											<toggle-switch ng-model="vm.clearfacts.sync_statuses" class="switch-primary" off-label="{l}No{endl}" on-label="{l}Yes{endl}"></toggle-switch>    
								</div> -->

								<div class="form-group" ng-if="vm.clearfacts.active==true">
									<div class="col-xs-9" ng-if="vm.clearfacts.active==true">    
							
										<label for="inputSyncStatus">{l}Sync payments of Sales Invoices from Clearfacts{endl}</label>
									</div>
									<div class=" col-xs-3 pull-right" ng-if="vm.clearfacts.active==true">   
								
										<label class="switch pull-right">
											<input type="checkbox" id="checkbox4" ng-model="vm.clearfacts.sync_statuses">
											<span class="slider round"></span>
										  </label> 
									</div>
								</div>
	                            <div class="form-group">
	                                <label class="col-xs-6 control-label text-left">{l}Export purchase invoice{endl}</label>
	                                <div class="col-xs-6" uib-popover="{l}This setting has been enforced by your accountant. Please contact them if you want to change the automated export settings{endl}" popover-placement="'top'" popover-trigger="'mouseenter'" popover-enable="{{vm.clearfacts.accountant_export_pinvoice_force}}">
	                                    <selectize config='vm.exportAutoCfg' options='vm.clearfacts.exportAutoOpts' ng-model="vm.clearfacts.exportAutoPInvoice" ng-disabled="vm.clearfacts.accountant_export_pinvoice_force"></selectize>
	                                </div>                          
	                            </div>	
                			</div>             			
                		<!-- 	<div class="margin-top col-xs-8 pull-right">
                				<div class="form-group" ng-class="{ 'form-group_alert' : facts_form.api_key.$invalid && !facts_form.api_key.$pristine }">
								    <label class="col-xs-3 control-label text-left">
			                           	{l}X Software Company{endl}:
				                    </label>
				                    <div class="col-xs-9">
				                        <input class="form-control" name="api_key" type="text" ng-model="vm.clearfacts.api_key" ng-disabled="vm.clearfacts.active==true">
				                        <div class="alert alert-sm alert-danger" ng-if="facts_form.api_key.$invalid && vm.alertsField.api_key">{{vm.alertsField.api_key}}</div>
				                    </div>
								</div>
                			</div>              			
                			<div class="margin-top col-xs-8 pull-right">
                				<div class="form-group" ng-class="{ 'form-group_alert' : facts_form.username.$invalid && !facts_form.username.$pristine }">
								    <label class="col-xs-3 control-label text-left">
			                           	{l}Username{endl}:
				                    </label>
				                    <div class="col-xs-9">
				                        <input class="form-control" name="username" type="text" ng-model="vm.clearfacts.username" ng-disabled="vm.clearfacts.active==true">
				                        <div class="alert alert-sm alert-danger" ng-if="facts_form.username.$invalid && vm.alertsField.username">{{vm.alertsField.username}}</div>
				                    </div>
								</div>
                			</div>
                			<div class="margin-top col-xs-8 pull-right">
                				<div class="form-group" ng-class="{ 'form-group_alert' : facts_form.password.$invalid && !facts_form.password.$pristine }">
								    <label class="col-xs-3 control-label text-left">
			                           	{l}Password{endl}:
				                    </label>
				                    <div class="col-xs-9">
				                        <input class="form-control" name="password" type="password" ng-model="vm.clearfacts.password" ng-disabled="vm.clearfacts.active==true">
				                        <div class="alert alert-sm alert-danger" ng-if="facts_form.password.$invalid && vm.alertsField.password">{{vm.alertsField.password}}</div>
				                    </div>
								</div>
                			</div> -->
						</div>
					</div>
				</div>
			</form>
		</div>
		<div class="modal-footer">
			
			 <button type="submit" class="btn btn-tertiary_red" ng-if="vm.clearfacts.active==true && !vm.cfconn" ng-click="vm.clearfacts_disconnect()">{{vm.clearfacts.title}}</button>
			 <button class="btn btn-plain" type="button" ng-click="vm.cancel()" >{l}Cancel{endl}</button>
			  <button type="submit" class="btn btn-default" ng-if="vm.clearfacts.active==false" ng-click="vm.clearfacts_connect(facts_form)">{{vm.clearfacts.title}}</button> 
			   <button class="btn btn-default" type="button" ng-if="vm.clearfacts.active==true" ng-disabled="facts_form.$pristine" ng-click="vm.save()" >{l}Save{endl}</button>
		</div>
	</div>
	
</div>
