<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="vm.cancel()"><span aria-hidden="true">&times;</span></button>
  <h4 class="modal-title" >{l}Activate integration with Codabox{endl}</h4>
</div>
<div class="tab-content">
	<div class="tab-pane active" id="labels">
		<div class="modal-body" >
			<div uib-alert ng-repeat="alert in vm.alerts" type="{{alert.type}}" close="vm.alerts.splice($index, 1);" ng-class="['alert-' + (alert.type || 'warning')]" dismiss-on-timeout='5000' >{{alert.msg}}</div>
			<form class="form-horizontal" name="codabox_form">
				<div class="row">
					<div class="col-xs-12">
						<div class="form-group" >
							<div class="col-xs-3">
									<img class="img-thumbnail" ng-src="{{vm.coda.CLASS2}}" width="232" height="90" alt=""/>
								<div class="margin-top text-center" ng-if="vm.coda.hide_button==true">
				                    <!-- <button type="submit" class="btn btn-default" ng-if="vm.coda.is_active==true" ng-click="vm.coda_connect()">{{vm.coda.title}}</button>
				                    <button type="submit" class="btn btn-default" ng-if="vm.coda.active==true" ng-click="vm.coda_disconnect()">{{vm.coda.title}}</button> -->
                    			</div>
							</div>
							<div class="col-xs-9">
							    <div class="section-title">
                    				<h2>{l}Codabox{endl} </h2>                    				
                				</div><!-- /.section-title -->
                			</div>
                			<div class="col-xs-9" ng-if="vm.coda.hide_vat==true">
                				<small>{l}Note: Vat Number used to register on CodaBox{endl}</small>
                			</div>
                			<div class="col-xs-9" ng-if="vm.coda.hide_token==true">
                				<small>{l}Note: Token is a unique number you received in your email from completing previous step{endl}</small>
                			</div>
                			<div class="margin-top col-md-offset-3 col-xs-9 pull-right" ng-if="vm.coda.hide_vat==true">
                				<div class="form-group">
								    <label class="col-xs-6 control-label text-left" for="inputCode">
			                           	{l}Vat Number{endl}<span class="mandatory-label">*</span>
				                    </label>
				                    <div class="col-xs-6">
				                        <input id="inputCode" class="form-control ng-pristine ng-untouched ng-valid" type="text" ng-model="vm.coda.vat_nr">
				                    </div>
								</div>
                			</div>
                			<div class="margin-top col-md-offset-3 col-xs-9" ng-if="vm.coda.hide_token==true">
                				<div class="form-group">
								    <label class="col-xs-5 control-label text-left" for="inputCode1">
			                           	{l}Token{endl}<span class="mandatory-label">*</span>
				                    </label>
				                    <div class="col-xs-7">
				                        <input id="inputCode1" class="form-control ng-pristine ng-untouched ng-valid" type="text" ng-model="vm.coda.token_id">
				                    </div>
								</div>
								<div class="form-group">
									<div class="col-xs-12 checkbox checkbox-primary">
				                    	<input type="checkbox" id="checkbox1" ng-model="vm.coda.sales_check">
				                    	<label for="checkbox1"></label>
				                    	<span>{l}use Codabox for exporting sales invoices{endl}</span>
				                  	</div>
				                  	<!-- <div class="col-xs-12 checkbox checkbox-primary">
				                    	<input type="checkbox" id="checkbox2" ng-model="vm.coda.payments_check">
				                    	<label for="checkbox2"></label>
				                    	<span>{l}use Codabox for fetching payments{endl}</span>
				                  	</div> -->
								</div>
								<div class="form-group">
									<div class="col-xs-9">    
							
										<label for="checkbox4">{l}Sync payments of Sales Invoices from Codabox{endl}</label>
									</div>
									<div class=" col-xs-3 pull-right">   
								
										<label class="switch pull-right">
											<input type="checkbox" id="checkbox4" ng-model="vm.coda.payments_check" ng-click="vm.setOption('payments_check')">
											<span class="slider round"></span>
										  </label> 
									</div>
								</div>
                			</div>
                			<div class="col-xs-9" ng-if="vm.coda.hide_button==true">
								<div class="form-group">
								    <label class="col-xs-6 control-label text-left" for="inputCode">
			                           	{l}Vat Number{endl}<span class="mandatory-label">*</span>
				                    </label>
				                    <div class="col-xs-6">
				                        <input id="inputCode" class="form-control ng-pristine ng-untouched ng-valid" type="text" ng-model="vm.coda.vat_nr" readonly disabled>
				                    </div>
								</div>
								<div class="form-group">
								    <label class="col-xs-6 control-label text-left" for="inputCode1">
			                           	{l}Token{endl}<span class="mandatory-label">*</span>
				                    </label>
				                    <div class="col-xs-6">
				                        <input id="inputCode1" class="form-control ng-pristine ng-untouched ng-valid" type="text" ng-model="vm.coda.token" readonly disabled>
				                    </div>
								</div>
								<!-- <div class="form-group">
									<div class="col-xs-12 checkbox checkbox-primary">
				                    	<input type="checkbox" id="checkbox3" ng-model="vm.coda.sales_check" ng-click="vm.setOption('sales_check')">
				                    	<label for="checkbox3"></label>
				                    	<span>{l}use Codabox for exporting sales invoices{endl}</span>
				                  	</div>
				                  	<div class="col-xs-12 checkbox checkbox-primary">
				                    	<input type="checkbox" id="checkbox4" ng-model="vm.coda.payments_check" ng-click="vm.setOption('payments_check')">
				                    	<label for="checkbox4"></label>
				                    	<span>{l}use Codabox for fetching payments{endl}</span>
				                  	</div>
								</div> -->
								<!-- <div class="form-group">
									<label class="col-xs-6 control-label text-left">{l}Export invoice automatically{endl}</label>
									<div class="col-xs-6" uib-popover="{l}This setting has been enforced by your accountant. Please contact them if you want to change the automated export settings{endl}" popover-placement="'top'" popover-trigger="'mouseenter'" popover-enable="{{vm.coda.accountant_export_invoice_force}}">
										<selectize config='vm.exportAutoCfg' options='vm.coda.exportAutoOpts' ng-model="vm.coda.exportAutoInvoice" ng-disabled="vm.coda.accountant_export_invoice_force"></selectize>
									</div>							
								</div> -->
							
								<!-- <div class="form-group">
									<div class="col-xs-9">    
							
										<label for="checkbox4">{l}Sync payments of Sales Invoices from Codabox{endl}</label>
									</div>
									<div class=" col-xs-3 pull-right">   
								
										<label class="switch pull-right">
											<input type="checkbox" id="checkbox4" ng-model="vm.coda.payments_check" ng-click="vm.setOption('payments_check')">
											<span class="slider round"></span>
										  </label> 
									</div>
								</div> -->

								<!-- <div class="form-group">
									<label class="col-xs-3 control-label text-left">{l}Export purchase invoice automatically{endl}</label>
									<div class="col-xs-9">
										<selectize config='vm.exportAutoCfg' options='vm.coda.exportAutoOpts' ng-model="vm.coda.exportAutoPInvoice"></selectize>
									</div>							
								</div> -->
							</div>
						</div>
					</div>
					<div class="col-xs-12">
						<div class="form-group">
						    <div class="col-xs-12 pull-right text-right" ng-if="vm.coda.hide_button==true">
								<button class="btn btn-plain" type="button" ng-click="vm.cancel()">Cancel</button>
	                           <button type="submit" class="btn btn-default" ng-if="vm.coda.is_active==true" ng-click="vm.coda_back(vm,vm.coda)">{l}Back{endl}</button>
	                           <button type="submit" class="btn btn-default" ng-if="vm.coda.is_active==true" ng-click="vm.coda_connect()">{{vm.coda.title}}</button>
								<button type="submit" class="btn btn-tertiary_red" ng-if="vm.coda.active==true" ng-click="vm.coda_disconnect()">{{vm.coda.title}}</button>
								<button class="btn btn-default" type="button" ng-disabled="codabox_form.$pristine" ng-if="vm.coda.active==true" ng-click="vm.saveSettings()" >{l}{{vm.coda.save_button_text}}{endl}</button>
	                        </div>
						</div>
					</div>
	                <div class="col-xs-12">
	                    <div class="form-group">
		                    <div class="col-xs-12 pull-right text-right">
		                    	<button type="submit" class="btn btn-default" ng-if="vm.coda.hide_vat==true" ng-click="vm.coda_tok(vm,vm.coda,vm.coda.vat_nr)">{l}Request Token{endl}</button>
		                    </div>
		                </div>
	                </div>
					<div class="col-xs-12" ng-if="vm.coda.hide_token==true">
						<div class="form-group">
						    <div class="col-xs-12 pull-right text-right">
	                           <button type="submit" class="btn btn-default"  ng-click="vm.coda_back(vm,vm.coda)">{l}Back{endl}</button>
	                           <button type="submit" class="btn btn-default"  ng-click="vm.coda_cred(vm,vm.coda,vm.coda.token_id,vm.coda.sales_check,vm.coda.payments_check)">{l}Activate{endl}</button>
	                        </div>
						</div>
					</div>
				</div>
			</form>
		</div>

	</div>
	
</div>
