<div class="modal-header">
	<button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="vm.cancel()"><span aria-hidden="true">&times;</span></button>
	<h4 class="modal-title" >{l}Integration with Dropbox{endl}</h4>
  </div>
<div class="tab-content">
	<div class="tab-pane active" id="labels">
		<div class="modal-body" >
			<div class="loading_wrap loading_alt hidden">
		      	<div class="loading"></div>
		        <div class="spinner"></div>
		    </div>
			<div uib-alert ng-repeat="alert in vm.alerts" type="{{alert.type}}" close="vm.alerts.splice($index, 1);" ng-class="['alert-' + (alert.type || 'warning')]" dismiss-on-timeout='5000' >{{alert.msg}}</div>
			<form class="form-horizontal"  name="dropbox_form">
				<div class="row">
					<div class="col-xs-12">
						<div class="form-group" >
							<div class="col-xs-3">
									<img class="img-thumbnail" ng-src="{{vm.dropbox.CLASS2}}" width="232" height="90" alt=""/>
								<!-- <div class="margin-top text-center">
				                    <button type="submit" class="btn btn-default" ng-if="vm.dropbox.if_dropbox==true" ng-click="vm.step2(vm,vm.dropbox,vm.dropbox.authCode)">{l}{{vm.dropbox.title}}{endl}</button>
				                    <button type="submit" class="btn btn-default" ng-if="vm.dropbox.hide_deactivate==true" ng-click="vm.deactivateDrop(vm,vm.dropbox,vm.dropbox.authCode)">{l}{{vm.dropbox.title}}{endl}</button>
                    			</div> -->
							</div>
							<div class="col-xs-9">
							    <div class="section-title">
		                            <h2>{l}Dropbox{endl} </h2>
                				</div><!-- /.section-title -->
                			</div>
                			<!-- <div class="col-xs-offset-3 col-xs-9" ng-if="vm.dropbox.if_dropbox==true">
								<small>{l}Go to the link below, click "Allow" (you might have to log in first) and copy the authorization code{endl}.</small>
                			</div>
                			<div class="col-xs-offset-3 col-xs-9" ng-if="vm.dropbox.if_dropbox==true">
                				<small><a  class="text-link" href="https://www.dropbox.com/oauth2/authorize?locale=&client_id=9hesophhsk325w1&response_type=code" target="_blank" id="activate_drop">https://www.dropbox.com/oauth2/authorize?locale=&client_id=9hesophhsk325w1&response_type=code</a></small>
                			</div> -->
                			<div class="col-xs-offset-3 col-xs-9" ng-if="vm.dropbox.hide_deactivate==true">
								<small>{l}Dropbox is actived{endl}.</small>
                			</div>
						</div>
					</div>
					<!-- <div class="col-xs-offset-3 col-xs-9" ng-if="vm.dropbox.if_dropbox==true">
						<div class="form-group">
						    <label class="col-xs-6 control-label text-left" for="inputEmail">
                            	{l}Authorization Code{endl}<span class="mandatory-label">*</span>
	                          </label>
	                          <div class="col-xs-6">
	                            <input id="inputCode" class="form-control ng-pristine ng-untouched ng-valid" type="text" ng-model="vm.dropbox.authCode">
	                          </div>
						</div>
					</div> -->
				</div>
			</form>
		</div>
		<div class="modal-footer">
			<button class="btn btn-plain ng-click-active" type="button" ng-click="vm.cancel()">Cancel</button>
			<!-- <button type="submit" class="btn btn-default" ng-if="vm.dropbox.if_dropbox==true" ng-click="vm.step2(vm,vm.dropbox,vm.dropbox.authCode)">{l}{{vm.dropbox.title}}{endl}</button> -->
			<button type="submit" class="btn btn-default" ng-if="vm.dropbox.if_dropbox==true" ng-click="vm.activateDrop(dropbox_form)">{l}{{vm.dropbox.title}}{endl}</button>
			<button type="submit" class="btn btn-tertiary_red" ng-if="vm.dropbox.hide_deactivate==true" ng-click="vm.deactivateDrop(vm,vm.dropbox,vm.dropbox.authCode)">{l}{{vm.dropbox.title}}{endl}</button>
		
		</div>
	</div>
	
</div>
