<div class="tab-content">
	<div class="tab-pane active" id="labels">
		<div class="modal-body" >
			<div uib-alert ng-repeat="alert in vm.alerts" type="{{alert.type}}" close="vm.alerts.splice($index, 1);" ng-class="['alert-' + (alert.type || 'warning')]" dismiss-on-timeout='5000' >{{alert.msg}}</div>
			<form class="form-horizontal">
				<div class="row">
					<div class="col-xs-12">
						<div class="form-group" >
							<div class="col-xs-4">
									<img class="img-thumbnail" ng-src="{{vm.edebex.CLASS2}}" width="232" height="90" alt=""/>
								<div class="margin-top text-center">
				                    <button type="submit" class="btn btn-default" ng-if="vm.edebex.active==false && vm.edebex.available" ng-click="vm.edebex_connect()">{{vm.edebex.title}}</button>
				                    <button type="submit" class="btn btn-default" ng-if="vm.edebex.active==true && vm.edebex.available" ng-click="vm.edebex_disconnect()">{{vm.edebex.title}}</button>
                    			</div>
							</div>
							<div class="col-xs-8">
							    <div class="section-title">
                    				<h2>{l}Edebex{endl} </h2>                    				
                				</div><!-- /.section-title -->
                			</div>
                			<div uib-alert type="info" class="alert-info margin-top col-xs-8 pull-right" ng-if="vm.edebex.available">{l}Registration is done only in invoices module{endl}</div>
                			<div uib-alert type="notice" class="alert-danger margin-top col-xs-8 pull-right" ng-if="!vm.edebex.available">{l}Application not available to activate in your country{endl}</div>
                			<div class="margin-top col-xs-8 pull-right" ng-if="vm.edebex.token!=''">
                				<div class="form-group">
								    <label class="col-xs-3 control-label text-left">
			                           	{l}Email Address{endl}:
				                    </label>
				                    <div class="col-xs-9">
				                        <input class="form-control" type="text" ng-model="vm.edebex.email" disabled>
				                    </div>
								</div>
                			</div>
                			<div class="margin-top col-xs-8 pull-right" ng-if="vm.edebex.token!=''">
                				<div class="form-group">
								    <label class="col-xs-3 control-label text-left">
			                           	{l}Token{endl}:
				                    </label>
				                    <div class="col-xs-9">
				                        <input class="form-control" type="password" ng-model="vm.edebex.token" disabled>
				                    </div>
								</div>
                			</div>
						</div>
					</div>
				</div>
			</form>
		</div>
		<div class="modal-footer">
			  <button class="btn btn-plain" type="button" ng-click="vm.cancel()" >{l}Close{endl}</button>
		</div>
	</div>
	
</div>
