<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="vm.cancel()"><span aria-hidden="true">&times;</span></button>
  <h4 class="modal-title" >{l}Integration with Exact Online{endl}</h4>
</div>
<div class="tab-content">
	<div class="tab-pane active" id="labels">
		<div class="modal-body" >
			<div class="loading_wrap loading_alt hidden">
		      	<div class="loading"></div>
		        	<div class="spinner"></div>
		    </div>
			<form class="form-horizontal" name="exact_form" novalidate>
			<div uib-alert ng-repeat="alert in vm.alerts" type="{{alert.type}}" close="vm.alerts.splice($index, 1);" ng-class="['alert-' + (alert.type || 'warning')]" dismiss-on-timeout='3000' >{{alert.msg}}</div>
				<div class="row">
					<div class="col-xs-12">
						<div class="form-group" >
							<div class="col-xs-3 text-center exact_online">
								<img class="img-thumbnail" ng-src="{{vm.exact_online.CLASS2}}" width="232" height="90" alt=""/>
								

							</div>
							<div class="col-xs-9">
							    <div class="section-title">
                    				<h2>{l}Exact Online{endl}</h2>                    				
                				</div><!-- /.section-title -->
                			</div>
							<div class="col-xs-9 pull-right" ng-if="vm.exact_online.active==false">
								{l}In order to connect with Exact Online, you will need your Exact Online Username and Password.{endl}              													
							</div>
                			<div class="padding_bottom col-xs-9 pull-right" ng-if="vm.exact_online.active==true && vm.eoconn=='1'">    							{l}Your Exact Online account is successfully connected to Akti and invoices can now be exported to your account{endl}.      
                			</div>
                			<!-- <div class="padding_bottom col-xs-9 pull-right" ng-if="vm.exact_online.active==true && !vm.eoconn">    								{l}The integration with Exact Online enable you to export invoices digitally to your accountant{endl}.      
                			</div> -->
                			
                			<div class="col-xs-9 pull-right margin-top" ng-if="vm.exact_online.active==true">
                				<div class="form-group">
	                                <label class="col-xs-6 control-label text-left">{l}Export invoice automatically{endl}</label>
	                                <div class="col-xs-6" uib-popover="{l}This setting has been enforced by your accountant. Please contact them if you want to change the automated export settings{endl}" popover-placement="'top'" popover-trigger="'mouseenter'" popover-enable="{{vm.exact_online.accountant_export_invoice_force}}">
	                                    <selectize config='vm.exportAutoCfg' options='vm.exact_online.exportAutoOpts' ng-model="vm.exact_online.exportAutoInvoice" ng-disabled="vm.exact_online.accountant_export_invoice_force"></selectize>
	                                </div>                          
								</div>
								<div class="form-group">
									<div class="col-xs-9" ng-if="vm.exact_online.active==true">    
										<!-- <label  for="inputSyncStatus">{l}Do you want to synchronise payment statuses of invoices automatically from Exact Online to Akti? {endl}</label> -->
										<label  for="inputSyncStatus">{l}Sync payments of Sales Invoices from Exact Online{endl}</label>
									</div>
									<div class=" col-xs-3 pull-right" ng-if="vm.exact_online.active==true">   
										<!-- <toggle-switch ng-model="vm.exact_online.sync_statuses" class="switch-primary" off-label="{l}No{endl}" on-label="{l}Yes{endl}"></toggle-switch>    -->
										<label class="switch pull-right">
											<input type="checkbox" id=""  ng-model="vm.exact_online.sync_statuses">
											<span class="slider round"></span>
										  </label> 
									</div>
								</div>
	                            <!-- <div class="form-group">
	                                <label class="col-xs-6 control-label text-left">{l}Export purchase invoice automatically{endl}</label>
	                                <div class="col-xs-6">
	                                    <selectize config='vm.exportAutoPurchaseCfg' options='vm.exact_online.exportAutoPurchaseOpts' ng-model="vm.exact_online.exportPurchaseInvoices"></selectize>
	                                </div>                          
	                            </div>	 -->
	                            <div class="form-group">
								    <label class="col-xs-6 control-label text-left" >
		                            	<a href="#" class="text-link" ng-click="vm.openModal('exact_settings','','lg')">{l}Manage VAT regime mappings{endl}</a>
			                        </label>
			                        
								</div>
                			</div>  
						</div>
					</div>
				</div>
			</form>
		</div>
		<div class="modal-footer">
			<button class="btn btn-plain" type="button"  ng-click="vm.cancel()" >{l}Cancel{endl}</button>
			<button type="submit" class="btn btn-default" ng-if="vm.exact_online.active==false" ng-click="vm.exact_online_connect(exact_form)">{{vm.exact_online.title}}</button>
			<button type="submit" class="btn btn-tertiary_red" ng-if="vm.exact_online.active==true " ng-click="vm.exact_online_disconnect()">{{vm.exact_online.title}}</button>
			<button class="btn btn-default" type="button" ng-if="vm.exact_online.active==true" ng-disabled="exact_form.$pristine" ng-click="vm.save(exact_form)" >{l}{{vm.exact_online.save_button_text}}{endl}</button>
		</div>
	</div>
	
</div>