<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="vm.cancel()"><span aria-hidden="true">&times;</span></button>
  <h4 class="modal-title" >{l}Activation of Facq integration{endl}</h4>
</div>
<div class="tab-content">
	<div class="tab-pane active" id="labels">
		<div class="modal-body" >
			<div class="loading_wrap loading_alt hidden">
		      	<div class="loading"></div>
		        	<div class="spinner"></div>
		    </div>
			<form class="form-horizontal" name="facts_form" novalidate>
			<!-- <div uib-alert ng-repeat="alert in vm.alerts" type="{{alert.type}}" close="vm.alerts.splice($index, 1);" ng-class="['alert-' + (alert.type || 'warning')]" dismiss-on-timeout='3000' >{{alert.msg}}</div> -->
				<div class="row">
					<div class="col-xs-12">
						<div class="form-group" >
							<div class="col-xs-3 text-center">
								<img class="img-thumbnail" ng-src="{{vm.facq.CLASS2}}" width="232" height="90" alt=""/>
								
							</div>
							<div class="col-xs-9">
							    <div class="section-title">
                    				<h2>{l}Facq{endl}</h2>                    				
                				</div><!-- /.section-title -->
                			</div>
                			<div class="padding_bottom  col-xs-9 pull-right" ng-if="vm.facq.is_active==false">  										    
			                    {l}Activate Facq's webshop integration with your personalized prices.{endl}            
                			</div>
							<div class="col-xs-9 pull-right">
								<div class="form-group new_alert" ng-class="{ 'form-group_alert' : facts_form.UserID.$invalid && !facts_form.UserID.$pristine }">
								    <label class="col-xs-5 control-label text-left" for="UserID">
		                            	{l}User ID{endl}<span class="mandatory-label">*</span>
			                          </label>
			                          <div class="col-xs-7">
										<input id="UserID" class="form-control ng-pristine ng-untouched ng-valid" type="text" ng-model="vm.facq.UserID" name="UserID">
										<div class="alert alert-sm alert-danger" ng-if="facts_form.UserID.$invalid && vm.alertsField.UserID">{{vm.alertsField.UserID}}</div>
			                          </div>
								</div>
								<div class="form-group new_alert" ng-class="{ 'form-group_alert' : facts_form.Login.$invalid && !facts_form.Login.$pristine }">
								    <label class="col-xs-5 control-label text-left" for="Login">
		                            	{l}Login Facq{endl}<span class="mandatory-label">*</span>
			                          </label>
			                          <div class="col-xs-7">
										<input id="Login" class="form-control ng-pristine ng-untouched ng-valid" type="text" ng-model="vm.facq.Login" name="Login">
										<div class="alert alert-sm alert-danger" ng-if="facts_form.Login.$invalid && vm.alertsField.Login">{{vm.alertsField.Login}}</div>
			                          </div>
								</div>
								<div class="form-group new_alert" ng-class="{ 'form-group_alert' : facts_form.Password.$invalid && !facts_form.Password.$pristine }">
								    <label class="col-xs-5 control-label text-left" for="Password">
		                            	{l}Password{endl}<span class="mandatory-label">*</span>
			                          </label>
			                          <div class="col-xs-7">
										<input id="Password" class="form-control ng-pristine ng-untouched ng-valid" type="password" ng-model="vm.facq.Password" name="Password">
										<div class="alert alert-sm alert-danger" ng-if="facts_form.Password.$invalid && vm.alertsField.Password">{{vm.alertsField.Password}}</div>
			                          </div>
								</div>
							</div>
                		
						</div>
					</div>
				</div>
			</form>
		</div>
		<div class="modal-footer">
			<button class="btn btn-plain" type="button" ng-click="vm.cancel()" >{l}Cancel{endl}</button>
			<button type="submit" class="btn btn-tertiary_red" ng-if="vm.facq.is_active==true" ng-click="vm.facq_disconnect()">{{vm.facq.title}}</button>
			<button type="submit" class="btn btn-default" ng-if="vm.facq.is_active==false" ng-click="vm.facq_connect(facts_form)">{{vm.facq.title}}</button>
			<button class="btn btn-default" type="button" ng-if="vm.facq.is_active==true" ng-disabled="facts_form.$pristine" ng-click="vm.save(facts_form)" >{l}{{vm.facq.save_button_text}}{endl}</button>
		</div>
	</div>
	
</div>