<div class="tab-content">
	<div class="tab-pane active" id="labels">
		<div class="modal-body" >
			<div uib-alert ng-repeat="alert in vm.alerts" type="{{alert.type}}" close="vm.alerts.splice($index, 1);" ng-class="['alert-' + (alert.type || 'warning')]" dismiss-on-timeout='5000' >{{alert.msg}}</div>
			<form class="form-horizontal">
				<div class="row">
					<div class="col-xs-12">
						<div class="form-group" >
							<div class="col-xs-4">
									<img class="img-thumbnail" ng-src="{{vm.import.CLASS2}}" width="232" height="90" alt=""/>
								<div class="margin-top text-center">
				                    <button type="submit" class="btn btn-default" ng-if="vm.import.hide_active==true" ng-click="vm.ftp_import(vm,vm.import,vm.import.activate,vm.import.app_id,vm.import.ftp_host,vm.import.ftp_user,vm.import.ftp_password)">{l}{{vm.import.title}}{endl}</button>
				                    <button type="submit" class="btn btn-default" ng-if="vm.import.hide_deactive==true" ng-click="vm.ftp_import(vm,vm.import,vm.import.activate,vm.import.app_id,vm.import.ftp_host,vm.import.ftp_user,vm.import.ftp_password)">{l}{{vm.import.title}}{endl}</button>
                    			</div>
							</div>
							<div class="col-xs-7">
							    <div class="section-title">
		                            <h2>{l}FTP Import{endl} </h2>
                				</div><!-- /.section-title -->
                			</div>
                			<div class="col-xs-8" >
								<small>{l}Please fill whit the credentials from your Account{endl}.</small>
                			</div>
                			<div class="col-xs-8" ng-if="vm.import.hide_active==true">
		                		<div class="form-group">
								    <label class="col-xs-3 control-label text-left" for="inputEmail">
		                            	{l}Host{endl}:*
			                          </label>
			                          <div class="col-xs-7">
			                            {{vm.import.ftp_host}}
			                          </div>
								</div>
								<div class="form-group">
								    <label class="col-xs-3 control-label text-left" for="inputEmail">
		                            	{l}User{endl}:*
			                          </label>
			                          <div class="col-xs-7">
			                            {{vm.import.ftp_user}}
			                          </div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-xs-9 col-xs-offset-4" ng-if="vm.import.hide_deactive==true">
						<div class="form-group">
						    <label class="col-xs-3 control-label text-left" for="inputEmail">
                            	{l}Host{endl}:*
	                          </label>
	                          <div class="col-xs-7">
	                            <input id="inputCode" class="form-control ng-pristine ng-untouched ng-valid" type="text" ng-model="vm.import.ftp_host">
	                          </div>
						</div>
						<div class="form-group">
						    <label class="col-xs-3 control-label text-left" for="inputEmail">
                            	{l}User{endl}:*
	                          </label>
	                          <div class="col-xs-7">
	                            <input id="inputCode" class="form-control ng-pristine ng-untouched ng-valid" type="text" ng-model="vm.import.ftp_user">
	                          </div>
						</div>
						<div class="form-group">
						    <label class="col-xs-3 control-label text-left" for="inputEmail">
                            	{l}Password{endl}:*
	                          </label>
	                          <div class="col-xs-7">
	                            <input id="inputCode" class="form-control ng-pristine ng-untouched ng-valid" type="text" ng-model="vm.import.ftp_password">
	                          </div>
						</div>
					</div>
				</div>
			</form>
		</div>
	</div>
	
</div>
