<div class="modal-header">
    <h3 class="modal-title">{{vm.obj.page_title}}</h3>
</div>
<div class="tab-content">
  <div class="tab-pane active" id="labels">
    <div class="modal-body" >
      <div uib-alert ng-repeat="alert in vm.alerts" type="{{alert.type}}" close="vm.alerts.splice($index, 1);" ng-class="['alert-' + (alert.type || 'warning'), 'alert-fixed' ]" dismiss-on-timeout='5000' >{{alert.msg}}</div>
      <form class="form-horizontal">
        <div class="row">
          <div class="col-xs-12">
            <div class="form-group">
              <label class="col-xs-3 control-label text-left">{l}Group Name{endl}:</label>
                    <div class="col-xs-9 input-group-md">
                      <input type="input" class="form-control" ng-model="vm.obj.NAME" >
                    </div>
            </div>
          </div>
        </div>
        <div class="section-title">
                  <div class="row">
                    <div class="col-xs-12">
                      <h2>{l}Credentials{endl}</h2>
                    </div>
                  </div>
                </div><!-- /.section-title -->
      </form>
      <div class="form-horizontal">
                  <div class="form-group" ng-if="vm.obj.is_CRM">
                    <label class="col-xs-4 control-label text-left">{l}CRM{endl}:</label>
                    <div class="col-xs-5 col-md-8 checkbox checkbox-primary">
                      <input type="checkbox" ng-model="vm.obj.CRM" id="checkbox1" ng-disabled="vm.disabled">
                      <label for="checkbox1">
                      </label>
                    </div>
                  </div>
                  <div class="form-group " ng-if="vm.obj.is_ARTICLES">
                    <label class="col-xs-4 control-label text-left">{l}Catalogue{endl}:</label>
                    <div class="col-xs-5 col-md-8 checkbox checkbox-primary">
                      <input type="checkbox" ng-model="vm.obj.ARTICLES" id="checkbox2" ng-disabled="vm.disabled">
                      <label for="checkbox2">
                      </label>
                    </div>
                  </div>
                  <div class="form-group " ng-if="vm.obj.is_ORDERS">
                    <label class="col-xs-4 control-label text-left">{l}Orders{endl}:</label>
                    <div class="col-xs-5 col-md-8 checkbox checkbox-primary">
                      <input type="checkbox" ng-model="vm.obj.ORDERS" id="checkbox3" ng-disabled="vm.disabled">
                      <label for="checkbox3">
                      </label>
                    </div>
                  </div>
                  <div class="form-group " ng-if="vm.obj.is_PO_ORDERS">
                    <label class="col-xs-4 control-label text-left">{l}Purchase Orders{endl}:</label>
                    <div class="col-xs-5 col-md-8 checkbox checkbox-primary">
                      <input type="checkbox" ng-model="vm.obj.PO_ORDERS" id="checkbox4" ng-disabled="vm.disabled">
                      <label for="checkbox4">
                      </label>
                    </div>
                  </div>
                  <div class="form-group" ng-if="vm.obj.is_QUOTES">
                    <label class="col-xs-4 control-label text-left">{l}Quotes{endl}:</label>
                    <div class="col-xs-5 col-md-8 checkbox checkbox-primary">
                      <input type="checkbox" ng-model="vm.obj.QUOTES" id="checkbox5"  ng-disabled="vm.disabled">
                      <label for="checkbox5">
                      </label>
                    </div>
                  </div>
                  <div class="form-group" ng-if="vm.obj.is_PROJECTS">
                    <label class="col-xs-4 control-label text-left">{l}Projects{endl}:</label>
                    <div class="col-xs-5 col-md-8 checkbox checkbox-primary">
                      <input type="checkbox" ng-model="vm.obj.PROJECTS" id="checkbox6"  ng-disabled="vm.disabled">
                      <label for="checkbox6">
                      </label>
                    </div>
                  </div>
                  <div class="form-group" ng-if="vm.obj.is_TIMETRACKER">
                    <label class="col-xs-4 control-label text-left">{l}Timetracker{endl}:</label>
                    <div class="col-xs-5 col-md-8 checkbox checkbox-primary">
                      <input type="checkbox" ng-model="vm.obj.TIMETRACKER" id="checkbox16"  ng-disabled="vm.disabled">
                      <label for="checkbox16">
                      </label>
                    </div>
                  </div>
                  <div class="form-group" ng-if="vm.obj.is_MAINTENANCE">
                    <label class="col-xs-4 control-label text-left">{l}Intervention{endl}:</label>
                    <div class="col-xs-5 col-md-8 checkbox checkbox-primary">
                      <input type="checkbox" ng-model="vm.obj.MAINTENANCE" id="checkbox7" ng-disabled="vm.disabled">
                      <label for="checkbox7">
                      </label>
                    </div>
                  </div>
                  <div class="form-group" ng-if="vm.obj.is_INSTALLATION">
                    <label class="col-xs-4 control-label text-left">{l}Installations{endl}:</label>
                    <div class="col-xs-5 col-md-8 checkbox checkbox-primary">
                      <input type="checkbox" ng-model="vm.obj.INSTALLATION" id="checkbox13" ng-disabled="vm.disabled">
                      <label for="checkbox13">
                      </label>
                    </div>
                  </div>
                  <div class="form-group" ng-if="vm.obj.is_CONTRACTS">
                    <label class="col-xs-4 control-label text-left">{l}Contracts{endl}:</label>
                    <div class="col-xs-5 col-md-8 checkbox checkbox-primary">
                      <input type="checkbox" ng-model="vm.obj.CONTRACTS" id="checkbox8" ng-disabled="vm.disabled">
                      <label for="checkbox8">
                      </label>
                    </div>
                  </div>
                  <div class="form-group" ng-if="vm.obj.is_BILLING">
                    <label class="col-xs-4 control-label text-left">{l}Invoices{endl}:</label>
                    <div class="col-xs-5 col-md-8 checkbox checkbox-primary">
                      <input type="checkbox" ng-model="vm.obj.BILLING" id="checkbox9" ng-disabled="vm.disabled">
                      <label for="checkbox9">
                      </label>
                    </div>
                  </div>
                  <!-- <div class="form-group" ng-if="vm.obj.is_WEBSHOP">
                    <label class="col-xs-4 control-label text-left">{l}Webshop{endl}:</label>
                    <div class="col-xs-5 col-md-8 checkbox checkbox-primary">
                      <input type="checkbox" ng-model="vm.obj.WEBSHOP" id="checkbox10" ng-disabled="vm.disabled">
                      <label for="checkbox10">
                      </label>
                    </div>
                  </div> -->                  
                  <div class="form-group" ng-if="vm.obj.is_STOCK">
                    <label class="col-xs-4 control-label text-left">{l}Stock{endl}:</label>
                    <div class="col-xs-5 col-md-8 checkbox checkbox-primary">
                      <input type="checkbox" ng-model="vm.obj.STOCK" id="checkbox12" ng-disabled="vm.disabled">
                      <label for="checkbox12">
                      </label>
                    </div>
                  </div>
                  <div class="form-group" ng-if="vm.obj.is_CASHREGISTER">

                    <label class="col-xs-4 control-label text-left">{l}CashRegister{endl}:</label>
                    <div class="col-xs-5 col-md-8 checkbox checkbox-primary">
                      <input type="checkbox" ng-model="vm.obj.CASHREGISTER" id="checkbox14" ng-disabled="vm.disabled">
                      <label for="checkbox14">
                      </label>
                    </div>
                  </div>
                  <div class="form-group" ng-if="vm.obj.is_REPORTS">

                    <label class="col-xs-4 control-label text-left">{l}Reports{endl}:</label>
                    <div class="col-xs-5 col-md-8 checkbox checkbox-primary">
                      <input type="checkbox" ng-model="vm.obj.REPORTS" id="checkbox15" ng-disabled="vm.disabled">
                      <label for="checkbox15">
                      </label>
                    </div>
                  </div>
<!--                   <div class="form-group" >
                    <label class="col-xs-4 control-label text-left">{l}Installations{endl}:</label>
                    <div class="col-xs-5 col-md-8 checkbox checkbox-primary">
                      <input type="checkbox" ng-model="vm.obj.INSTALLATION" id="checkbox13" ng-disabled="vm.disabled">
                      <label for="checkbox13">
                      </label>
                    </div>
                  </div>
                  <div class="form-group" >

                    <label class="col-xs-4 control-label text-left">{l}CashRegister{endl}:</label>
                    <div class="col-xs-5 col-md-8 checkbox checkbox-primary">
                      <input type="checkbox" ng-model="vm.obj.CASHREGISTER" id="checkbox14" ng-disabled="vm.disabled">
                      <label for="checkbox14">
                      </label>
                    </div>
                  </div>
                  <div class="form-group" >
                    <label class="col-xs-4 control-label text-left">{l}Timesheet & expenses only{endl}:</label>
                    <div class="col-xs-5 col-md-8 checkbox checkbox-primary">
                      <input type="checkbox" ng-model="vm.obj.TIMESHEET" id="checkbox11" disabled="disabled">
                      <label for="checkbox11">
                      </label>
                    </div>
                  </div> -->
            </div>
    </div>
  </div>
  
</div>
<div class="modal-footer">
    <button class="btn btn-plain" type="button" ng-click="vm.cancel()">{l}Close{endl}</button>
    <button class="btn btn-default" type="button" ng-if="vm.obj.show_him==true && !vm.disabled" ng-click="vm.add_group(vm,vm.obj,vm.obj.CRM,vm.obj.ARTICLES,vm.obj.ORDERS,vm.obj.PO_ORDERS,vm.obj.QUOTES,vm.obj.PROJECTS,vm.obj.MAINTENANCE,vm.obj.CONTRACTS,vm.obj.BILLING,vm.obj.WEBSHOP,vm.obj.TIMESHEET,vm.obj.REPORTS,vm.obj.TIMETRACKER,vm.obj.GROUP_ID,vm.obj.NAME)">{l}Save{endl}</button>
    <button class="btn btn-default" type="button" ng-if="vm.obj.show_me==true && !vm.disabled"  ng-click="vm.update_group(vm,vm.obj,vm.obj.CRM,vm.obj.ARTICLES,vm.obj.ORDERS,vm.obj.PO_ORDERS,vm.obj.QUOTES,vm.obj.PROJECTS,vm.obj.MAINTENANCE,vm.obj.CONTRACTS,vm.obj.BILLING,vm.obj.WEBSHOP,vm.obj.TIMESHEET,vm.obj.REPORTS,vm.obj.TIMETRACKER,vm.obj.GROUP_ID,vm.obj.NAME,vm.obj)">{l}Save{endl}</button>
</div>