<div class="container">
    <div class="page-header">
        <div class="row">
            <div class="col-xs-6 col-sm-6">
                <h1>{{vm.identitys.page_title}}</h1>
            </div>
            <div class="col-xs-6 col-sm-6 text-right">
                <button class="btn btn-link" ui-sref="settings({ 'tab':'identity' })" type="submit">
          <span class="glyphicon glyphicon-list"></span>
          <strong>List</strong>
        </button>
            </div>
        </div>
    </div>
    <div class="tab-content">
        <div class="tab-pane fade in active" id="details">
            <div class="section-title">
                <div class="row">
                    <div class="col-xs-12">
                        <h2>{l}Details{endl}</h2>
                    </div>
                    <!--  <div class="col-xs-1 text-right">
            <button type="submit" class="btn btn-default" ng-disabled="addIdentity.$invalid" ng-if="vm.identitys.show_me==true" ng-click="vm.add_identity(vm,vm.identitys,addIdentity)">{l}Save{endl}</button>
            <button type="submit" class="btn btn-default" ng-disabled="addIdentity.$invalid" ng-if="vm.identitys.show_him==true" ng-click="vm.update_identity(vm,vm.identitys,addIdentity)">{l}Save{endl}</button>
          </div> -->
                </div>
            </div>
            <!-- /.section-title -->
            <div class="section-content">
                <!-- <div uib-alert ng-repeat="alert in vm.alerts" type="{{alert.type}}" close="vm.alerts.splice($index, 1);" ng-class="['alert-' + (alert.type || 'warning') ]" dismiss-on-timeout='5000' >{{alert.msg}}</div>  -->
                <form class="form-horizontal text-left" name="addIdentity" novalidate ng-keyup="vm.resetSaveBtn()">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label for="inputName" class="col-sm-2 control-label">{l}Identity name{endl}</label>
                                <div class="col-sm-4" ng-class="{ 'form-group_alert' : addIdentity.identity_name.$invalid && !addIdentity.identity_name.$pristine }">
                                    <input type="text" class="form-control" name="identity_name" placeholder="{l}Identity name{endl}" ng-model="vm.identitys.identity_name" id="inputIdentityName" required>
                                    <div class="alert alert-sm alert-danger" ng-if="addIdentity.identity_name.$invalid && vm.alertsField.identity_name">{{vm.alertsField.identity_name}}</div>
                                </div>
                                <label for="inputName" class="col-sm-2 control-label">{l}Company{endl}</label>
                                <div class="col-sm-4">
                                    <input type="text" class="form-control" name="company_name" placeholder="{l}Company{endl}" ng-model="vm.identitys.company_name" id="inputCompany">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputName" class="col-sm-2 control-label">{l}Email{endl}</label>
                                <div class="col-sm-4">
                                    <input type="text" class="form-control" name="company_email" placeholder="{l}Email{endl}" ng-model="vm.identitys.company_email" id="inputEmail">
                                </div>
                                <label for="inputName" class="col-sm-2 control-label">{l}URL{endl}</label>
                                <div class="col-sm-4">
                                    <input type="text" class="form-control" name="company_url" placeholder="{l}URL{endl}" ng-model="vm.identitys.company_url" id="inputURL">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputName" class="col-sm-2 control-label">{l}Description{endl}</label>
                                <div class="col-sm-4">
                                    <textarea id="inputDescription" rows="2" class="form-control ng-pristine ng-untouched ng-valid" name="company_description" ng-model="vm.identitys.company_description" type="text"></textarea>
                                </div>
                                <label for="inputName" class="col-sm-2 control-label">{l}Bank Name{endl}</label>
                                <div class="col-sm-4">
                                    <input type="text" class="form-control" name="bank_name_identity" placeholder="{l}Bank Name{endl}" ng-model="vm.identitys.bank_name_identity" id="inputBankName">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputName" class="col-sm-2 control-label">{l}BIC Code{endl}</label>
                                <div class="col-sm-4">
                                    <input type="text" class="form-control" name="bank_bic_code_identity" placeholder="{l}BIC Code{endl}" ng-model="vm.identitys.bank_bic_code_identity" id="inputBicCode">
                                </div>
                                <label for="inputName" class="col-sm-2 control-label">{l}IBAN{endl}</label>
                                <div class="col-sm-4">
                                    <input type="text" class="form-control" name="bank_iban_identity" placeholder="{l}IBAN{endl}" ng-model="vm.identitys.bank_iban_identity" id="inputIban">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputName" class="col-sm-2 control-label">{l}Fax{endl}</label>
                                <div class="col-sm-4">
                                    <input type="text" class="form-control" name="company_fax" placeholder="{l}Fax{endl}" ng-model="vm.identitys.company_fax" id="inputFax">
                                </div>
                                <label for="inputName" class="col-sm-2 control-label">{l}Phone{endl}</label>
                                <div class="col-sm-4">
                                    <input type="text" class="form-control" name="company_phone" placeholder="{l}Phone{endl}" ng-model="vm.identitys.company_phone" id="inputPhone">
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.row -->
                </form>
            </div>
            <!-- <div class="upload-box col-xs-12">
                <p><strong>{l}Logo{endl}</strong></p>
                <p><small>{l}Please provide an image which is 250 x 77 pixels. Allowed file types: <strong>.jpg</strong>, <strong>.jpeg</strong>, <strong>.png</strong> or <strong>.gif</strong>.{endl}</small></p>
                <div class="upload-file hidden">
                    <div class="row">
                        <div class="upload-file-image col-xs-4">
                            <img class="img-thumbnail" src="images/storedemo.png" width="232" height="60" alt="" />
                        </div>
                        <div class="upload-file-info col-xs-8">
                            <p class="nameOfTheFile"></p>
                            <div class="upload-progress">
                                <div class="upload-progress-bar" style="width: 88%;"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <input type="file" name="file" class="newUploadFile3" accept=".gif,.jpg,.jpeg,.png">
                <p class="text-center"><button class="btn btn-default" ng-click="vm.uploadidentity(vm,$event)"><span class="glyphicon glyphicon-cloud-upload"></span> {l}Upload{endl}</button></p>
            </div> -->
            <div class="row">
                <div class="col-xs-12 m-b-15">
                    <div class="upload-box1 col-xs-12 col-sm-2">
                        <div class="drop_drag"><i class="fa fa-trash link-pointer" ng-if="vm.hideLogoText" aria-hidden="true" ng-click="vm.removeLogo()"></i>
                            <img ngf-drop="vm.uploadFiles($files)" ngf-drag-over-class="'dragover'" ngf-multiple="true" accept="image/*" ngf-pattern="'image/*'" class="img-thumbnail" ng-src={{vm.identitys.image}}>
                            <div ngf-no-file-drop></div>
                            <input type="file" name="file" class="newUploadFile3" accept=".gif,.jpg,.jpeg,.png">
                            <span ng-if="!vm.hideLogoText">{l}Glissez-deposez votre logo ici ou{endl} <a ng-click="vm.uploadidentity(vm,$event)" class="text-link">{l}Parcourir vos fichiers{endl}</a></span>
                        </div>
                    </div>
                    <div class="form-group setting_up col-xs-12 col-sm-2">
                        <div class="info_logo" ng-if="!vm.hideLogoText">
                            <span>{l}Allowed file types: <strong>.jpg</strong>, <strong>.jpeg</strong>, <strong>.png</strong> or <strong>.gif</strong>.{endl}</span>

                        </div>
                    </div>
                </div>
            </div>
            <!-- /.upload-box -->
            <!-- <div class="row">
                <div class="col-xs-12 radio-list">
                    <div class="col-xs-1 col-xs-offset-3 text-center"></div>
                    <div class="col-xs-4 text-center"><img class="img-thumbnail" src="{{vm.identitys.image}}" width="232" height="60" alt=""/></div>
                    <div class="drop_drag col-xs-4 text-center">
                        <img ngf-drop="vm.uploadFiles($files)" ngf-drag-over-class="'dragover'" ngf-multiple="true" ngf-pattern="'image/*,application/pdf'" class="img-thumbnail" src={{vm.identitys.image}}>
                        <div ngf-no-file-drop></div>
                    </div>
                </div>
            </div> -->
            <div class="section-title">
                <div class="row">
                    <div class="col-xs-12">
                        <h2>{l}Main Address{endl}</h2>
                    </div>
                </div>
            </div>
            <!-- /.section-title -->
            <div class="section-content">
                <form class="form-horizontal text-left" name="addUser" novalidate ng-keyup="vm.resetSaveBtn()">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group" ng-class="{ 'form-group_alert' : addIdentity.country_id.$invalid && !addIdentity.country_id.$pristine }">
                                <label for="inputName" class="col-sm-2 control-label">{l}Country{endl} <span class="mandatory-label">*</span></label>
                                <div class="col-sm-4">
                                    <!--                   <select  class="form-control" ng-model="vm.identitys.country_id" name="country_id">
                    <option value="0">{l}Select{endl}</option>
                    <option ng-repeat="option in vm.identitys.ACCOUNT_DELIVERY_COUNTRY_DD track by option.id"  value="{{option.id}}">{{option.name}}</option>
                  </select> -->
                                    <selectize config="vm.cfg" options="vm.identitys.ACCOUNT_DELIVERY_COUNTRY_DD" ng-model="vm.identitys.country_id"></selectize>
                                    <div class="alert alert-sm alert-danger" ng-if="addIdentity.country_id.$invalid && vm.alertsField.country_id">{{vm.alertsField.country_id}}</div>
                                </div>
                                <label for="inputName" class="col-sm-2 control-label">{l}Zip{endl}</label>
                                <div class="col-sm-4">
                                    <input type="text" class="form-control" name="company_zip" placeholder="{l}Zip{endl}" ng-model="vm.identitys.company_zip" id="inputZip">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputName" class="col-sm-2 control-label">{l}Street{endl}</label>
                                <div class="col-sm-4">
                                    <textarea id="inputNote" rows="2" class="form-control ng-pristine ng-untouched ng-valid" name="company_address" ng-model="vm.identitys.company_address" type="text"></textarea>
                                </div>
                                <label for="inputName" class="col-sm-2 control-label">{l}City{endl}</label>
                                <div class="col-sm-4">
                                    <input type="text" class="form-control" name="city_name" placeholder="{l}City{endl}" ng-model="vm.identitys.city_name" id="inputCity">
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 text-right">
            <button type="submit" class="btn btn-default" ng-disabled="addIdentity.$invalid || vm.disable_btn_submit" ng-if="vm.identitys.show_me==true" ng-click="vm.add_identity(vm,vm.identitys,addIdentity)">{l}Save{endl}</button>
            <button type="submit" class="btn btn-default" ng-disabled="addIdentity.$invalid || vm.disable_btn_submit" ng-if="vm.identitys.show_him==true" ng-click="vm.update_identity(vm,vm.identitys,addIdentity)">{{vm.save_btn_text}}</button>
        </div>
    </div>


</div>
<!-- neede on all pages -->