<style>
body {	color: #000;	font-family: Arial, Helvetica, sans-serif;	font-size: 9pt;  }
h1 {  font-size:10pt;	font-weight:bold;  }
table {  border-collapse: collapse;	border-spacing: 0;  }
table td {  font-size: 9pt;  }
.hide {  display:none;  }
.right {  text-align: right;  }
.light_grey {  color: #6a747c;	padding: 0px;  }
.borders {  border-top: 1px solid #000;	border-bottom: 1px solid #000;  }
</style>
{if:is_table}
<br><br><br><br><br><br>
<table cellpadding="3" cellspacing="0" border="0" width="100%" class="{hide_all}" >
  <tr>
    <td width="61%" class="light_grey" colspan="2">&nbsp;</td>
  <td width="39%">
  <tr>
    <td height="34">&nbsp;</td>
  </tr>
  <tr><td><h1>{buyer_name}</h1>
{free_field}</td>
  </tr>
  </td>
  </tr>
  <tr >
  {if:invoice_buyer_vat}
    <td class="light_grey" colspan="2" width="61%">&nbsp;</td>
      {end}
     {if:invoice_vat_no}
    <td>{vat_number_txt}: {invoice_vat_no}<br><br></td>
    {end}
  </tr>
  <tr>
    <td width="4%" class="borders" >&nbsp;</td>
    <td width="57%" class="borders" ><h1 style="font-size: 12pt;">{if:not_proforma}{invoice_txt} {serial_number}{end}</h1></td>
    <td width="39%" class="borders" >{seller_b_city}, {invoice_date} </td>
  </tr>
</table>
<table width="100%" cellspacing="0" cellpadding="3" border="0" class="invoice_rows {hide_all}">
  <tbody>
    <tr>
      <td width="4%">&nbsp;</td>
      <td width="16%"><strong>{our_ref_txt}</strong></td>
      <td colspan="4">{our_ref}</td>
    </tr>
    <tr>
      <td width="4%">&nbsp;</td>
      <td width="16%"><strong>{your_ref_txt}</strong></td>
      <td colspan="4">{your_ref}</td>
    </tr>
    <tr><td colspan="6">&nbsp;</td></tr>
    {loop:invoice_row}
    <!-- BEGIN DYNAMIC BLOCK: invoice_row -->
    <tr>
      <td width="4%">&nbsp;</td>
      <td width="16%">&nbsp;</td>
      <td width="40%" >{row_description}</td>
      <td width="10%" class="right">{row_quantity}</td>
      <td width="15%" class="right">{row_unit_price}</td>
      <td width="15%" class="last right" >{row_amount} </td>
    </tr>
    <!-- END DYNAMIC BLOCK: invoice_row -->
    {endloop}
  </tbody>
</table>
<br /><br />
<h1 style="border-bottom:1px solid #CCCCCC;" class="{view_notes} {hide_all}">{notes_txt}</h1><br />
<span style="font-size:8pt;" class="{hide_all}">{notes}</span><br/><br/>
<h1 style="border-bottom:1px solid #CCCCCC;" class="{view_notes2} {hide_all}">{notes2_txt}</h1><br>
<span style="font-size:8pt;" class="{hide_all}">{notes2}</span>{end}
{if:is_data}
<table cellpadding="3" cellspacing="0" border="0" width="100%" class="{hide_t}" >
  <tr class="{sh_vat}">
    <td width="4%" >&nbsp;</td>
    <td width="81%" ><strong>{subtotal_txt}</strong></td>
    <td width="15%" style=" text-align: right;" > {total_novat}</td>
  </tr>
  <tr class="{sh_discount}">
    <td width="4%">&nbsp;</td>
    <td width="81%" ><strong>{discount_txt} ({total_discount_procent} %)</strong></td>
    <td width="15%" style=" text-align: right;">-{discount_value}</td>
  </tr>
  {loop:vat_line}
  <!-- BEGIN DYNAMIC BLOCK: vat_line -->
  <tr class="{sh_vat}">
    <td width="4%">&nbsp;</td>
    <td width="81%"><strong>{vat_txt} ({vat_percent} %)</strong>:</td>     
    <td width="15%" style=" text-align: right;">{vat_value} {currency}</td>
  </tr>
  <!-- END DYNAMIC BLOCK: vat_line -->
  {endloop}
  {if:is_proforma}
    <tr>
      <td width="4%">&nbsp;</td>
      <td width="81%"><strong>{amount_txt}</strong></td>
      <td width="15%" style=" text-align: right;"><strong> {total_amount_due}</strong></td>
    </tr>
    <tr>
      <td width="4%" class="borders">&nbsp;</td>
      <td width="81%" class="borders" style="font-size: 12pt;" ><strong>{amount_due_txt} ( <span>{req_payment} %</span> )</strong></td>
      <td width="15%" class="borders" style=" text-align: right;"><strong> {req_payment_value}</strong></td>
    </tr>
  {else}
  <tr>
    <td width="4%" class="borders">&nbsp;</td>
    <td width="81%" class="borders" style="font-size: 12pt;" ><strong>{amount_due_txt}</strong></td>
    <td width="15%" class="borders" style=" text-align: right;"><strong> {total_amount_due}</strong></td>
  </tr>
  {end}
  <!-- {if:default_total}
  <tr>
    <td width="4%" class="borders">&nbsp;</td>
    <td width="81%"  class="borders" style="font-size: 12pt;"><strong>{amount_due_txt} ({def_currency})</strong></td>    
    <td width="15%" class="borders" style=" text-align: right;"><strong>{total_amount_due_default}</strong></td>
  </tr>
  {end} -->
  {if:inv_type != '2'}<tr>
    <td width="4%" >&nbsp;</td>
    <td width="96%" colspan="2" >{duedate_txt} {invoice_due_date}</td>
  </tr>{end}
</table>
{end}