<style>
body { color: #000; font-family: Arial, Helvetica, sans-serif; font-size: 9pt; }
h1 { font-size:10pt; font-weight:normal; }
table { border-collapse: collapse; border-spacing: 0; }
table td{ font-size: 9pt; }
.border_bottom { border-bottom: 1px solid #CCC; }
.invoice_rows { border-bottom: 1px solid #CCC; }
.invoice_rows .th { border: 1px solid #CCC; color: #000; font-size: 9pt; font-weight: bold; padding-left: 10px; text-align: center; }
.invoice_rows td { border-left: 1px solid #CCC; vertical-align:middle; font-size: 9pt; text-align:right; }
.invoice_rows .last { border-right: 1px solid #CCC; }
.hide { display:none; }
.right { text-align:right; }
</style>
<table cellpadding="2" cellspacing="4" border="0" width="100%" style="border:1px solid #CCC;">
  <tr>
    <td width="32%" valign="top"><h1>{seller_name}</h1>
      Think Web bvba<br/>
      {seller_b_address}<br />
      {seller_b_zip} {seller_b_city} <br />
      {seller_b_country}<br />
      {if:hide_p}{phone_txt}: {seller_b_phone}<br />{end}
      {if:hide_f}{fax_txt}: {seller_b_fax}<br />{end}
      {if:hide_e}{email_txt}: {seller_b_email}<br />{end}
      {if:hide_u}{url_txt}: {seller_b_url}<br />{end}
      {invoice_buyer_vat}
      <br />
      <br />
      <span class="{hide_b_d}">
      <h1>{bankd_txt}</h1>
      {bank_txt}: {bank} <br />
      {bic_txt}: {bic} <br />
      {iban_txt}: {iban}</span>
     </td>
    <td width="1%" valign="top"></td>
    <td width="34%" valign="top" ><table cellpadding="0" cellspacing="0" border="0" width="100%">
        <tr>
          <td style="text-align:center;font-size:14pt;"><strong>{invoice_note_txt}</strong></td>
        </tr>
        <tr>
          <td style="text-align:center; border:1px solid #CCC;">{if:not_proforma} {invoice_txt} <strong>{serial_number}</strong> <br> {end}
            {date_txt}: {invoice_date} <br/>
            <span class="{hide_our}">{our_ref_txt}: {our_ref}<br/></span>
            <span class="{hide_your}">{your_ref_txt}: {your_ref}</span>
            <!--<br />{vat_txt}: {invoice_vat} %--> </td>
        </tr>
        <tr>
          <td></td>
        </tr>
        <tr>
          <td valign="top" style="text-align:center;"><img src="{account_logo}" {attr} ></td>
        </tr>
      </table></td>
    <td width="1%" valign="top"></td>
    <td width="32%" valign="top">
      <h1>{buyer_name}</h1>
      {free_field}
      {invoice_vat_no}</td>
  </tr>
</table>
<table width="100%" cellspacing="0" cellpadding="0">
  <tr>
    <td></td>
  </tr>
</table>
<table width="100%" cellspacing="0" cellpadding="5" class="invoice_rows">
  <tr>

    <td class="th" width="56%" style="text-align:left;">{item_txt}</td>
    <td class="th" width="15%">{quantity_txt}</td>
    <td class="th" width="15%">{unit_price_txt}</td>
    <td width="14%" class="th last">{amount_txt}</td>
  </tr>
  <tbody>
    {loop:invoice_row}
    <tr>
      <td style="text-align:left;">{row_description}</td>
      <td class="right">{row_quantity}</td>
      <td class="right">{row_unit_price}</td>
      <td class="last right">{row_amount}</td>
    </tr>
    {endloop}
  </tbody>
</table>
<table cellpadding="0" cellspacing="8" border="0" width="100%"  style="border:1px solid #CCC;">
  <tr class="{sh_vat}">
    <td width="85%"  class="right">{subtotal_txt}:</td>
    <td width="15%"  class="right ">{total_novat}</td>
  </tr>
  <tr class="{sh_discount}">
    <td width="85%" class="right">{discount_txt} ({total_discount_procent} %): </td>
    <td width="15%" class="right">-{discount_value}</td>
  </tr>
  {loop:vat_line}
  <!-- BEGIN DYNAMIC BLOCK: vat_line -->
  <tr class="{SH_VAT}">
    <td width="85%"  class="right">{vat_txt} ({vat_percent} %):</td>
    <td width="15%"  class="right ">{vat_value}</td>
  </tr>
  <!-- END DYNAMIC BLOCK: vat_line -->
  {endloop}
  <tr>
    <td width="85%"  class="right"><strong>{if:is_proforma} {amount_txt} {else} {amount_due_txt} {end}:</strong></td>
    <td width="15%" class="right "><strong>{total_amount_due}</strong></td>
  </tr>
  {if:is_proforma}
  <tr>
    <td width="85%"  class="right"><strong>{amount_due_txt} ( <span>{req_payment} %</span> ):</strong></td>
    <td width="15%" class="right "><strong>{req_payment_value}</strong></td>
  </tr>
  {end}
  <!-- {if:default_total}
  <tr>
    <td width="85%"  class="right"><strong>{amount_due_txt} ({def_currency})</strong></td>
    <td width="15%" class="right "><strong>{total_amount_due_default}</strong></td>
  </tr>
  {end} -->
<!--  <tr>
    <td width="85%"  class="right">{payments_txt}:</td>
    <td width="15%"  class="right ">{total_payments} {currency} </td>
  </tr>-->
</table>
{if:inv_type != '2'}<div style="text-align: right; font-size: 9pt;">{duedate_txt}: {invoice_due_date}</div>{end}
<br/>
<h1 style="border-bottom:1px solid #CCCCCC;" class="{view_notes}">{notes_txt}</h1><br>
<span style="font-size:8pt;">{notes}</span> <br/><br/>
<h1 style="border-bottom:1px solid #CCCCCC;" class="{view_notes2}">{notes2_txt}</h1><br>
<span style="font-size:8pt;">{notes2}</span>