<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="vm.cancel()"><span aria-hidden="true">&times;</span></button>
  <h4 class="modal-title" >{l}Integration with Jefacture{endl}</h4>
</div>
<div class="tab-content">
	<div class="tab-pane active" id="labels">
		<div class="modal-body" >
			<div class="loading_wrap loading_alt hidden">
		      	<div class="loading"></div>
		        	<div class="spinner"></div>
		    </div>
			<form class="form-horizontal" name="jefacture_form" novalidate>
				<div class="row">
					<div class="col-xs-12">
						<div class="form-group" >
							<div class="col-xs-3">
									<img class="img-thumbnail" ng-src="{{vm.jefacture.CLASS2}}" width="232" height="90" alt=""/>
							</div>
							<div class="col-xs-9">
							    <div class="section-title">
                    				<h2>{l}Jefacture{endl}</h2>                    				
                				</div><!-- /.section-title -->
                			</div>
                			<div class=" col-xs-9 pull-right" ng-if="vm.jefacture.is_active==false">  										   
							  {l}To activate the Jefacture integration you need an API key that can be generated in Jefacture.{endl}
                			</div>
							<div class="col-xs-9 pull-right">
								<div class="form-group" ng-class="{ 'form-group_alert' : jefacture_form.api_key.$invalid && !jefacture_form.api_key.$pristine }">
									<label class="col-xs-6 control-label text-left" for="api_key">
										{l}API-key Sales Invoices{endl}<span class="mandatory-label">*</span>
									  </label>
									  <div class="col-xs-6">
										<input id="api_key" class="form-control ng-pristine ng-untouched ng-valid" type="password" name="api_key" ng-model="vm.jefacture.api_key" required>
										<div class="alert alert-sm alert-danger" ng-if="jefacture_form.api_key.$invalid && vm.alertsField.api_key">{{vm.alertsField.api_key}}</div>
									  </div>
								</div>
							</div>       		
						</div>
					</div>
				</div>
			</form>
		</div>
		<div class="modal-footer">
				 <button class="btn btn-plain" type="button" ng-click="vm.cancel()" >{l}Cancel{endl}</button> 
			  <button type="submit" class="btn btn-default" ng-if="vm.jefacture.is_active==false" ng-click="vm.jefacture_connect(vm, jefacture_form)">{{vm.jefacture.title}}</button>
			  <button type="submit" class="btn btn-tertiary_red" ng-if="vm.jefacture.is_active==true" ng-click="vm.jefacture_disconnect()">{{vm.jefacture.title}}</button>
			 	  
		</div>
	</div>
	
</div>