<div class="tab-content">
	<div class="tab-pane active" id="labels">
		<div class="modal-body" >
			<div uib-alert ng-repeat="alert in vm.alerts" type="{{alert.type}}" close="vm.alerts.splice($index, 1);" ng-class="['alert-' + (alert.type || 'warning')]" dismiss-on-timeout='5000' >{{alert.msg}}</div>
			<form class="form-horizontal">
				<div class="row">
					<div class="col-xs-12">
						<div class="form-group" >
							<div class="col-xs-4">
									<img class="img-thumbnail" ng-src="{{vm.lengo.CLASS2}}" width="232" height="90" alt=""/>
								<div class="margin-top text-center">
				                    <button type="submit" class="btn btn-default" ng-if="vm.lengo.hide_active==true" ng-click="vm.lengow_disconnect(vm,vm.lengo)">{{vm.lengo.title}}</button>
				                    <button type="submit" class="btn btn-default" ng-if="vm.lengo.hide_deactive==true" ng-click="vm.lengow_connect(vm,vm.lengo,vm.lengo.access_token,vm.lengo.secret)">{{vm.lengo.title}}</button>
                    			</div>
							</div>
							<div class="col-xs-7">
							    <div class="section-title">
		                            <h2>{l}Lengow{endl} </h2>
                				</div><!-- /.section-title -->
                			</div>
                			<div class="col-xs-8" >
								<small>{l}Note: Access token and Secret are secret keys found in your Lengow Account{endl}.</small>
                			</div>
                			<div class="col-xs-8">
		                		<div class="form-group">
								    <label class="col-xs-4 control-label text-left" for="inputEmail">
		                            	{l}Access token{endl}:
			                          </label>
			                          <div class="col-xs-8">
			                            <input id="inputCode" class="form-control ng-pristine ng-untouched ng-valid" type="text" ng-model="vm.lengo.access_token">
			                          </div>
								</div>
								<div class="form-group">
								    <label class="col-xs-4 control-label text-left" for="inputEmail">
		                            	{l}Secret{endl}:
			                          </label>
			                          <div class="col-xs-8">
			                            <input id="inputCode" class="form-control ng-pristine ng-untouched ng-valid" type="text" ng-model="vm.lengo.secret">
			                          </div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</form>
		</div>
	</div>
	
</div>
