<div class="modal-header">
    <h3 class="modal-title">{l}Invite new people{endl}</h3>
    <div uib-alert ng-repeat="alert in vm.alerts" type="{{alert.type}}" close="vm.alerts.splice($index, 1);" dismiss-on-timeout="5000" ng-class="['alert-' + (alert.type || 'warning') ]">{{alert.msg}}</div>
</div>
<div class="modal-body" >
      <div class="form-horizontal">
        <div class="form-group">
          <h3 class="col-xs-12">{l}Send invitation email to new users{endl}</h3>
        </div>
        <div class="form-group">
          <label class="col-xs-6 control-label text-left"></label>
          <label class="col-xs-9 control-label text-right">{l}Or add manually{endl}</label>
          <div class="col-xs-3 input-group-md text-right">
            <toggle-switch  ng-model="vm.user_add" on-change="vm.newUser(vm.user_add)" class="switch-primary" off-label="{l}No{endl}" on-label="{l}Yes{endl}"></toggle-switch>
          </div>
          
        </div>
        <div class="form-group">
          <label class="col-xs-12 control-label text-left">{l}Enter email address of user(s) you want to add to the account.Split entries with ';'{endl}</label>
        </div>
        <div class="form-group">
          <textarea class="form-control" style="width: 95%; margin-left: 15px;" type="text" ng-model="vm.emails" rows="5"></textarea>
        </div>
        <div class="form-group">
          <!-- <label class="col-xs-4 control-label text-left">{l}Group list{endl}</label> -->
          <label class="col-xs-9 control-label text-right">{l}More options{endl}</label>
            <div class="col-xs-3 input-group-md text-right">
              <!-- <toggle-switch  ng-model="vm.group_add" on-change="vm.modal_group(vm.groups,'sTemplate/group','GroupSetCtrl')" class="switch-primary" off-label="{l}No{endl}" on-label="{l}Yes{endl}"></toggle-switch> -->
              <toggle-switch  ng-model="vm.group_list" on-change="vm.change_group(vm.group_list)" class="switch-primary" off-label="{l}No{endl}" on-label="{l}Yes{endl}"></toggle-switch>
            </div>
            
        </div>
        <div class="form-group" ng-if="vm.group_list==true">
          <label class="col-xs-7 control-label text-left">{l}Select language{endl}:</label>
          <div class="col-xs-5">
            <selectize config="vm.cfg" options="vm.language.LANGUAGE_DD" ng-model="vm.language.lang_id" ></selectize>
          </div>
        </div>
        <div  class="form-group" ng-if="vm.group_list==true">
          <label class="col-xs-2 control-label text-left">{l}Group list{endl}</label>
          <label class="col-xs-10 control-label text-left"><a href="#" ng-click="vm.modal_group(vm.group,'sTemplate/group','GroupSetCtrl')">{l}Create a new group{endl}</a></label>
        </div>
        <div class="form-group"  ng-if="vm.group_list==true">
            <table class="table" style="width: 95%; margin-left: 15px;" width="100%">
                  <thead>
                    <tr>
                        <th class="col-sm-9" >{l}Name{endl}</th>
                        <th class="col-sm-3 text-right">{l}Select a group{endl}</th>
                    </tr>  
                </thead>
                <tbody>
                    <tr ng-repeat="item in vm.groups ">
                        <td ><span ng-bind-html="item.NAME"></span></td>
                        <td class="table_actions">
                            <div class="checkbox checkbox-primary">
                              <input type="checkbox" id="checkbox_module_{{$index}}" ng-model="item.checked" ng-click="vm.checkgroup(item.group_id)" ng-disabled="item.disable" name="">
                              <label for="checkbox_module_{{$index}}"></label>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
      </div>

</div>
<div class="modal-footer">
    <button class="btn btn-plain" type="button" ng-click="vm.cancel()">{l}Cancel{endl}</button>
    <button class="btn btn-default" type="button" ng-click="vm.ok(vm.emails,vm.language.lang_id)">{l}Send Invitation{endl}</button>
</div>