<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="vm.cancel()"><span aria-hidden="true">&times;</span></button>
  <h4 class="modal-title" >{l}Integration with NetSuite{endl}</h4>
</div>
<div class="tab-content">
	<div class="tab-pane active" id="labels">
		<div class="modal-body" >
			<div class="loading_wrap loading_alt hidden">
		      	<div class="loading"></div>
		        	<div class="spinner"></div>
		    </div>
			<form class="form-horizontal" name="facts_form" novalidate>
				<div class="row">
					<div class="col-xs-12">
						<div class="form-group" >
							<div class="col-xs-3 text-center">
								<img class="img-thumbnail" ng-src="{{vm.netsuite.CLASS2}}" width="232" height="90" alt="NetSuite logo"/>
								
							</div>
							<div class="col-xs-9">
							    <div class="section-title">
                    				<h2>{l}NetSuite{endl}</h2>                    				
                				</div><!-- /.section-title -->
                			</div>
                			<div class="padding_bottom  col-xs-9 pull-right" >  										    
			                    {l}Provide export of custom CSV for NetSuite injection{endl}            
                			</div>               		
						</div>
					</div>
				</div>
			</form>
		</div>
		<div class="modal-footer">
			<button class="btn btn-plain" type="button"  ng-click="vm.cancel()" >{l}Cancel{endl}</button>
			<button type="submit" class="btn btn-tertiary_red" ng-if="vm.netsuite.is_active==true" ng-click="vm.netsuite_disconnect()">{{vm.netsuite.title}}</button>
			<button type="submit" class="btn btn-default" ng-if="vm.netsuite.is_active==false" ng-click="vm.netsuite_connect(facts_form)">{{vm.netsuite.title}}</button>
			<!-- <button class="btn btn-default" type="button" ng-if="vm.netsuite.is_active==true" ng-click="vm.save(facts_form)" >{l}{{vm.netsuite.save_button_text}}{endl}</button> -->
		</div>
	</div>
	
</div>