<div class="container">
	<div class="row page-content">
		<div class="col-sm-12">
			<div class="jumbotron">
			  <h1>{{message}}</h1>
               <p><a role="button" class="btn btn-primary btn-lg" go-to="" state="myaccount">{l}Back to my preferences{endl}</a></p>
			</div>
		</div>
	</div>
</div>