<div class="tab-content">
	<div class="tab-pane active" id="labels">
		<div class="modal-body" >
			<div class="loading_wrap loading_alt hidden">
		      	<div class="loading"></div>
		        	<div class="spinner"></div>
		    </div>
			<div uib-alert ng-repeat="alert in vm.alerts" type="{{alert.type}}" close="vm.alerts.splice($index, 1);" ng-class="['alert-' + (alert.type || 'warning')]" dismiss-on-timeout='5000' >{{alert.msg}}</div>
			<form class="form-horizontal" name="nylform" novalidate>
				<div class="row">
					<div class="col-xs-12">
						<div class="form-group" >
							<div class="col-xs-4">
									<img class="img-thumbnail" ng-src="{{vm.nylas.CLASS2}}" width="232" height="90" alt=""/>
								<div class="margin-top text-center">
				                    <button type="submit" class="btn btn-default" ng-if="vm.nylas.active==false" ng-click="vm.nylas_connect(nylform)">{{vm.nylas.title}}</button>
				                    <button type="submit" class="btn btn-default" ng-if="vm.nylas.active==true" ng-click="vm.nylas_disconnect()">{{vm.nylas.title}}</button>
                    			</div>
							</div>
							<div class="col-xs-8">
							    <div class="section-title">
                    				<h2>{l}Nylas{endl} </h2>                    				
                				</div><!-- /.section-title -->
                			</div>              			
                			<div class="col-xs-8" >
                				<small>{l}You can connect your calendar with Akti{endl}</small>
							</div>
						</div>
					</div>
				</div>
			</form>
		</div>
		<div class="modal-footer">
			  <button class="btn btn-plain" type="button" ng-click="vm.cancel()" >{l}Close{endl}</button>
		</div>
	</div>
	
</div>
