<div class="modal-header">
	<button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="vm.cancel()"><span aria-hidden="true">&times;</span></button>
	<h4 class="modal-title" >{l}Integration with Mollie{endl}</h4>
  </div>
<div class="tab-content">
	<div class="tab-pane active" id="labels">
		<div class="modal-body">
			<div class="loading_wrap loading_alt hidden">
		      	<div class="loading"></div>
		        	<div class="spinner"></div>
		    </div>
			<div uib-alert ng-repeat="alert in vm.alerts" type="{{alert.type}}" close="vm.alerts.splice($index, 1);" ng-class="['alert-' + (alert.type || 'warning')]" dismiss-on-timeout='5000' >{{alert.msg}}</div>
			<form class="form-horizontal">
				<div class="row">
					<div class="col-xs-12">
						<div class="form-group" >
							<div class="col-xs-3">
									<img class="img-thumbnail" ng-src="{{vm.mollie.CLASS2}}" width="232" height="90" alt=""/>
								<!-- <div class="margin-top text-center">
				                    <button type="submit" class="btn btn-default" ng-if="vm.mollie.active==false" ng-click="vm.mollie_connect()">{{vm.mollie.title}}</button>
				                    <button type="submit" class="btn btn-default" ng-if="vm.mollie.active==true" ng-click="vm.mollie_disconnect()">{{vm.mollie.title}}</button>
                    			</div> -->
							</div>
							<div class="col-xs-9">
							    <div class="section-title">
		                            <h2>{l}Mollie{endl} </h2>
                				</div><!-- /.section-title -->
                			</div>
                			<div class="col-xs-9 pull-right">
								<small>{l}Please fill the credentials from your Account{endl}.</small>
                			</div>
                			<div class="col-xs-9 pull-right margin-top">
		                		<div class="form-group">
								    <label class="col-xs-6 control-label text-left">
		                            	{l}Live API key{endl}<span class="mandatory-label">*</span>
			                          </label>
			                          <div class="col-xs-6">
			                            <input class="form-control ng-pristine ng-untouched ng-valid" type="text" ng-model="vm.mollie.api_key" ng-disabled="vm.mollie.active==true">
			                          </div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</form>
		</div>
		<div class="modal-footer">
			  <button class="btn btn-plain" type="button" ng-click="vm.cancel()" >{l}Cancel{endl}</button>
			  <button type="submit" class="btn btn-default" ng-if="vm.mollie.active==false" ng-click="vm.mollie_connect()">{{vm.mollie.title}}</button>
			 <button type="submit" class="btn btn-tertiary_red" ng-if="vm.mollie.active==true" ng-click="vm.mollie_disconnect()">{{vm.mollie.title}}</button>
		</div>
	</div>
	
</div>
