<div class="modal-header">
	<button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="vm.cancel()"><span aria-hidden="true">&times;</span></button>
	<h4 class="modal-title" >{l}Integration with Stripe{endl}</h4>
  </div>
<div class="tab-content">
	<div class="tab-pane active" id="labels">
		<div class="modal-body" >
			<div uib-alert ng-repeat="alert in vm.alerts" type="{{alert.type}}" close="vm.alerts.splice($index, 1);" ng-class="['alert-' + (alert.type || 'warning')]" dismiss-on-timeout='5000' >{{alert.msg}}</div>
			<form class="form-horizontal">
				<div class="row">
					<div class="col-xs-12">
						<div class="form-group" >
							<div class="col-xs-4">
									<img class="img-thumbnail" ng-src="{{vm.stripe.CLASS2}}" width="232" height="90" alt=""/>
								<div class="margin-top text-center">
				                   
				                   
                    			</div>
							</div>
							<div class="col-xs-7">
							    <div class="section-title">
		                            <h2>{l}Stripe{endl} </h2>
                				</div><!-- /.section-title -->
                			</div>
                			<div class="col-xs-8" >
								<small ng-if="vm.stripe.hide_deactive==true">{l}Please fill whit the credentials from your Account{endl}.</small>
                			</div>
                			<div class="col-xs-8">
		                		<div class="form-group">
								    <label class="col-xs-4 control-label text-left" for="inputEmail">
		                            	{l}Live Secret key{endl}*
			                          </label>
			                          <div class="col-xs-8">
			                            <input id="inputCode" class="form-control ng-pristine ng-untouched ng-valid" type="text" ng-model="vm.stripe.api_key">
			                          </div>
								</div>
								<div class="form-group">
								    <label class="col-xs-4 control-label text-left" for="inputEmail">
		                            	{l}Live Publishable key{endl}*
			                          </label>
			                          <div class="col-xs-8">
			                            <input id="inputCode" class="form-control ng-pristine ng-untouched ng-valid" type="text" ng-model="vm.stripe.publish_key">
			                          </div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</form>
		</div>
		<div class="modal-footer">
			<button class="btn btn-plain ng-click-active"  ng-if="vm.stripe.hide_deactive==true" type="button" ng-click="vm.cancel()">Cancel</button>
			<button type="submit" class="btn btn-default" ng-if="vm.stripe.hide_deactive==true" ng-click="vm.stripe_connect(vm,vm.stripe,vm.stripe.api_key,vm.stripe.publish_key)">{{vm.stripe.title}}</button>
			<button type="submit" class="btn btn-tertiary_red " ng-if="vm.stripe.hide_active==true" ng-click="vm.stripe_disconnect(vm,vm.stripe)">{{vm.stripe.title}}</button>
		</div>
	</div>
	
</div>
