<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="vm.cancel()"><span aria-hidden="true">&times;</span></button>
  <h4 class="modal-title" >{l}Activation of SendGrid integration{endl}</h4>
</div>
<div class="tab-content">
	<div class="tab-pane active">
		<div class="modal-body" >
			<div class="loading_wrap loading_alt hidden">
		      	<div class="loading"></div>
		        <div class="spinner"></div>
		    </div>
			<div uib-alert ng-repeat="alert in vm.alerts" type="{{alert.type}}" close="vm.alerts.splice($index, 1);" ng-class="['alert-' + (alert.type || 'warning')]" dismiss-on-timeout='5000' >{{alert.msg}}</div>
			<form class="form-horizontal" name="zen_form" novalidate>
				<div class="row">
					<div class="col-xs-12">
						<div class="form-group" >
							<div class="col-xs-4">
									<img class="img-thumbnail" src="{{vm.sendgrid.CLASS2}}" width="232" height="90" alt=""/>
								<!-- <div class="margin-top text-center">
				                    <button type="submit" class="btn btn-default" ng-if="vm.sendgrid.active==false && vm.sendgrid.has_admin_rights" ng-click="vm.sendgrid_connect(zen_form)">{{vm.sendgrid.title}}</button>
				                    <button type="submit" class="btn btn-default" ng-if="vm.sendgrid.active==true && vm.sendgrid.has_admin_rights" ng-click="vm.sendgrid_disconnect()">{{vm.sendgrid.title}}</button>
                    			</div> -->
							</div>
							<div class="col-xs-8">
							    <div class="section-title">
                    				<h2>SendGrid</h2>                    				
                				</div><!-- /.section-title -->
                			</div>
                			<div class="col-xs-8 pull-right">
                				<label class="text-muted" ng-if="vm.sendgrid.active==false">{l}Application is deactivated{endl}</label>
                				<label class="text-muted" ng-if="vm.sendgrid.active==true">{l}Application is activated{endl}</label>
                			</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12 margin-top">
						<div class="form-group" ng-class="{ 'form-group_alert' : zen_form.api_key.$invalid && !zen_form.api_key.$pristine }">
						    <label class="col-xs-4 text-right">
	                           	{l}API Key{endl}:<span class="mandatory-label">*</span>
		                    </label>
		                    <div class="col-xs-8">
		                    	<textarea class="form-control" name="api_key" type="text" ng-model="vm.sendgrid.api_key" placeholder="{l}API Key{endl}" ng-disabled="vm.sendgrid.active" style="resize:none"></textarea>
		                        <div class="alert alert-sm alert-danger" ng-if="zen_form.api_key.$invalid && vm.alertsField.api_key">{{vm.alertsField.api_key}}</div>
		                    </div>
						</div>
                	</div>
                </div>	
			</form>
		</div>
		<div class="modal-footer">
			<button type="submit" class="btn btn-default" ng-if="vm.sendgrid.active==false && vm.sendgrid.has_admin_rights" ng-click="vm.sendgrid_connect(zen_form)">{{vm.sendgrid.title}}</button>
			<button type="submit" class="btn btn-tertiary_red" ng-if="vm.sendgrid.active==true && vm.sendgrid.has_admin_rights" ng-click="vm.sendgrid_disconnect()">{{vm.sendgrid.title}}</button>
			  <button class="btn btn-plain" type="button" ng-click="vm.cancel()" >{l}Close{endl}</button>
		</div>
	</div>
</div>
