<div class="modal-header">
  	<button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="vm.cancel()"><span aria-hidden="true">&times;</span></button>
  	<h4 class="modal-title">{l}History Log{endl}</h4>
</div>
<div class="modal-body">
	<div class="loading_wrap loading_alt hidden">
      	<div class="loading"></div>
        	<div class="spinner"></div>
      </div>
      <div class="col-sm-12">
      	<table class="table orderTable">
			<thead>
				<tr>
					<th class="col-sm-2">{l}Date{endl}</th>
					<th class="col-sm-2">{l}Webservice{endl}</th>
					<th class="col-sm-3">{l}Object{endl}</th>
					<th class="col-sm-2">{l}Http Response{endl}</th>
					<th class="col-sm-2">{l}Result{endl}</th>
					<th class="col-sm-1"></th>					
				</tr>	
			</thead>
			<tbody>
				<tr ng-repeat="item in vm.obj.list">
					<td>{{item.date}}</td>
					<td>{{item.webservice}}</td>
					<td><a ng-if="item.webservice_resource_name && item.webservice_resource_href" href="{{item.webservice_resource_href}}" target="_blank">{{item.webservice_resource_name}}</a></td>
					<td>{{item.http_response}}</td>
					<td>{{item.http_result}}</td>
					<td><span class="glyphicon glyphicon-new-window link-pointer" ng-click="vm.showFullData(item)"></span></td>		
				</tr>
			</tbody>
		</table>
		<ul ng-if="vm.obj.max_rows > 30" uib-pagination total-items="vm.obj.max_rows" ng-model="vm.search.offset" ng-change="vm.get_more()" max-size="5" class="pager" boundary-links="true" items-per-page="vm.obj.lr"></ul>
      </div>
</div>
<div class="modal-footer">
      <button class="btn btn-plain" type="button" ng-click="vm.cancel()">{l}Close{endl}</button>
</div>