<div class="container">
  <!-- <div uib-alert ng-repeat="alert in vm.alerts" type="{{alert.type}}" close="vm.alerts.splice($index, 1);" ng-class="['alert-' + (alert.type || 'warning'), 'alert-fixed' ]" dismiss-on-timeout='5000' >{{alert.msg}}</div> -->
  <div ng-if="!vm.user.item_exists">
    <nopage></nopage>
  </div>
  <div ng-if="vm.user.item_exists">
    <div class="page-header">
      <div class="row">
        <div class="col-sm-8">
          <h1>{{vm.user.page_title}}
          <button ng-if="vm.user.user_him==true" type="button" class="btn btn-primary btn-add" go-to="" state="user" params='{"user_id": "tmp"}' uib-tooltip="{l}Add Staff{endl}" tooltip-placement="right"><span class="btn-add_icon"><span class="icon-bar"></span><span class="icon-bar-2"></span></span></button>
          </h1>
        </div>
        <div class="col-sm-4 page-header-options" ng-if="vm.user.is_edit">
          <button go-to="" state="settings" params='{"tab": "users" }' class="btn btn-sm btn-default"><strong>{l}Back{endl}</strong></button>
          <navigator pag="settings-users" itemid="{{vm.user_id}}" originalPage="user.edit"></navigator>
        </div>
      </div>
    </div><!-- /.page-header -->

  <!--       <ul class="nav nav-tabs tabs-default" ng-if="!ls.is_add">
      <li role="presentation" class="active"><a href="#" aria-controls="details" data-toggle="tab">{l}Details{endl}</a></li>
      <li role="presentation" ><a href="#" aria-controls="credentials" data-toggle="tab" >{l}Credentials{endl}</a></li>
    </ul> -->
    <ul class="nav nav-tabs tabs-default" id="tabContent" role="tablist">
      <li class="active"><a href="#details" aria-controls="details" role="tab" data-toggle="tab" aria-expanded="true" ng-click="vm.activateTab('add_details')">{l}Details{endl}</a></li>
      <li class="{{vm.user.tab}}" ng-if="vm.user.group_id!='2'"><a href="#credentials" aria-controls="credentials" role="tab" data-toggle="{{vm.user.toggle}}" aria-expanded="false" ng-click="vm.activateTab('add_credentials')">{l}Credentials{endl}</a></li>
       <li class="" ng-if="vm.user.devices" ng-click="vm.activateTab('add_devices')"><a href="#devices" aria-controls="devices" role="tab" data-toggle="tab" aria-expanded="false">{l}Devices{endl}</a></li> 
    </ul>
    <div class="tab-content">
      <div class="tab-pane fade in active" id="details" >
        <div class="section-content">
          <!-- <div uib-alert ng-repeat="alert in vm.alerts" type="{{alert.type}}" close="vm.alerts.splice($index, 1);" ng-class="['alert-' + (alert.type || 'warning') ]" dismiss-on-timeout='5000' >{{alert.msg}}</div> -->
          <form class="form-horizontal text-left col-top" name="Player" novalidate>
            <div class="row">
              <div class="col-sm-6">
                <div class="form-group" ng-class="{ 'form-group_alert' : Player.first_name.$invalid && !Player.first_name.$pristine }">
                  <label for="inputFirstName" class="col-xs-4 control-label">{l}First Name{endl} <span class="mandatory-label">*</span></label>
                  <div class="col-sm-8">
                    <input type="text" class="form-control" name="first_name" placeholder="{l}First Name{endl}" ng-model="vm.user.first_name" id="inputFirstName" ng-change="vm.checkInput(vm.user.first_name)" required >
                    <div class="alert alert-sm alert-danger" ng-if="Player.first_name.$invalid && vm.alertsField.first_name">{{vm.alertsField.first_name}}</div>
                  </div>
                </div>
                  <div class="form-group" ng-class="{ 'form-group_alert' : Player.last_name.$invalid && !Player.last_name.$pristine }">
                  <label for="inputName" class="col-sm-4 control-label">{l}Last name{endl}  <span class="mandatory-label">*</span></label>
                  <div class="col-sm-8">
                    <input type="text" class="form-control" name="last_name" placeholder="{l}Last name{endl}" ng-model="vm.user.last_name" id="inputLastName" ng-change="vm.checkInput(vm.user.last_name)" required >
                    <div class="alert alert-sm alert-danger" ng-if="Player.last_name.$invalid && vm.alertsField.last_name">{{vm.alertsField.last_name}}</div>
                  </div>
                </div>
  <!--               <div class="form-group" ng-class="{ 'form-group_alert' : Player.user_type.$invalid && !Player.user_type.$pristine }">
                  <label class="col-xs-4 control-label">{l}Assign License{endl} <span class="mandatory-label">*</span></label>
                  <div class="col-xs-8">
                    <div class="radio "><label><input type="radio" ng-model="vm.user.user_type" value="2" ng-click="vm.user.group_id='2'">{l}Timesheets &amp; Expenses only{endl}</label></div>
                    <div class="radio"><label><input type="radio" ng-model="vm.user.user_type" value="1" ng-click="vm.user.group_id=''">{l}Regular User{endl}</label></div>
                    <div class="alert alert-sm alert-danger" ng-if="Player.user_type.$invalid && vm.alertsField.user_type">{{vm.alertsField.user_type}}</div>
                  </div>
                </div> -->
                <div class="form-group" ng-class="{ 'form-group_alert' : Player.group_id.$invalid && !Player.group_id.$pristine }">
                  <label for="" class="col-sm-4 control-label">{l}Group{endl}</label>
                  <div class="col-sm-8" >
                    <!-- <selectize config="vm.cfg"  options="vm.user.group" ng-model="vm.user.group_id" ></selectize> -->
                    <selectize config="vm.groupCfg"  options="vm.user.group" ng-model="vm.user.group_id" id="group_list" ng-change="vm.checkInput(vm.user.group_id)"></selectize>
                    <div class="alert alert-sm alert-danger" ng-if="Player.group_id.$invalid && vm.alertsField.group_id">{{vm.alertsField.group_id}}</div>
                  </div>
                </div>
                <div class="form-group" ng-class="{ 'form-group_alert' : Player.identity_id.$invalid && !Player.identity_id.$pristine }">
                  <label for="" class="col-sm-4 control-label">{l}Overrule business unit by{endl}:</label>
                  <div class="col-sm-8" >
                    <selectize config="vm.cfg"  options="vm.user.identity_dd" ng-model="vm.user.identity_id" id="identity_list" ng-change="vm.checkInput(vm.user.identity_id)"></selectize>
                    <div class="alert alert-sm alert-danger" ng-if="Player.identity_id.$invalid && vm.alertsField.identity_id">{{vm.alertsField.identity_id}}</div>
                  </div>
                </div>
                <div class="form-group" ng-class="{ 'form-group_alert' : Player.email.$invalid && !Player.email.$pristine }">
                  <label for="" class="col-sm-4 control-label">{l}Email{endl} <span class="mandatory-label">*</span></label>
                  <div class="col-sm-8">
                  <input type="text" class="form-control" name="email" placeholder="{l}Email{endl}" ng-change="vm.changeuser(vm.user.email)" ng-model="vm.user.email" id="inputEmail" required >
                  <div class="alert alert-sm alert-danger" ng-if="Player.email.$invalid && vm.alertsField.email">{{vm.alertsField.email}}</div>
                  </div>
                </div>
                <div class="form-group" ng-class="{ 'form-group_alert' : Player.country_id.$invalid && !Player.country_id.$pristine }">
                  <label for="" class="col-sm-4 control-label">{l}Country{endl} <span class="mandatory-label">*</span></label>
                  <div class="col-sm-8">
                    <selectize config="vm.cfg" options="vm.user.country_dd" ng-model="vm.user.country_id" ng-change="vm.checkInput(vm.user.country_id)"></selectize>
                    <div class="alert alert-sm alert-danger" ng-if="Player.country_id.$invalid && vm.alertsField.country_id">{{vm.alertsField.country_id}}</div>
                  </div>
                </div>
                <div class="form-group" ng-class="{ 'form-group_alert' : Player.lang_id.$invalid && !Player.lang_id.$pristine }">
                  <label for="" class="col-sm-4 control-label">{l}Language{endl} <span class="mandatory-label">*</span></label>
                  <div class="col-sm-8">
                    <selectize config="vm.cfg" options="vm.user.language_dd" ng-model="vm.user.lang_id" ng-change="vm.checkInput(vm.user.lang_id)"></selectize>
                    <div class="alert alert-sm alert-danger" ng-if="Player.lang_id.$invalid && vm.alertsField.lang_id">{{vm.alertsField.lang_id}}</div>
                  </div>
                </div>
                <div class="form-group" ng-class="{ 'form-group_alert' : Player.username.$invalid && !Player.username.$pristine }">
                  <label for="" class="col-sm-4 control-label">{l}Username{endl} <span class="mandatory-label">*</span></label>
                  <div class="col-sm-8">
                    <input type="text" class="form-control" name="username" placeholder="{l}Username{endl}" ng-model="vm.user.username" id="inputusername" ng-change="vm.checkInput(vm.user.username)" required >
                    <div class="alert alert-sm alert-danger" ng-if="Player.username.$invalid && vm.alertsField.username">{{vm.alertsField.username}}</div>
                  </div>
                </div>
                <div class="form-group" ng-class="{ 'form-group_alert' : Player.password.$invalid && !Player.password.$pristine }">
                  <label for="inputPassword" class="col-xs-4 control-label">{l}Password{endl} <span class="mandatory-label">*</span></label>
                  <div class="col-xs-8 input-group">
                          <input type="{{vm.inputType}}" class="form-control" name="password" placeholder="{l}Password{endl}" ng-model="vm.user.password" id="inputPassword" ng-required="vm.user.user_id=='tmp'" ng-change="vm.checkInput(vm.user.password)">
                          <div class="input-group-addon" ><a href="#" ng-click="vm.hideShowPassword(vm.inputType)"><i class="fa fa-eye" aria-hidden="true" ></i></a></div>
                          <div class="alert alert-sm alert-danger" ng-if="Player.password.$invalid && vm.alertsField.password">{{vm.alertsField.password}}</div>
                  </div>
                  <div class="col-sm-4 margin-top">
                  </div>
                  <div class="col-sm-8 margin-top ">
  <!--                     <div class="col-sm-2 pull-right checkbox checkbox-primary">
                        <input type="checkbox" id="checkbox1" value="1" ng-click="vm.hideShowPassword(vm.user.input_value)" ng-model="vm.user.input_value">
                        <label for="checkbox1" class="control-label padding-none"></label> 
                      </div> -->
                      <label class="control-label padding-none"><a href="#" ng-click="vm.genPass(8)" class="text-link">{l}Generate Password{endl}</a></label>
                      <!-- <label for="showHidePass" class="col-sm-5 control-label pull-right">{l}Show Password{endl}:</label>   -->                      
                  </div>
                </div>
                <div class="form-group"  ng-class="{ 'form-group_alert' : Player.password1.$invalid && !Player.password1.$pristine }">
                  <label for="inputConPassword" class="col-xs-4 control-label">{l}Confirm Password{endl} <span class="mandatory-label">*</span></label>
                  <div class="col-xs-8">
                    <input type="password" class="form-control" name="password1" placeholder="{l}Confirm Password{endl}" ng-model="vm.user.password1" id="inputConPassword"  ng-required="vm.user.user_id=='tmp'" ng-change="vm.checkInput(vm.user.password1)">
                    <div class="alert alert-sm alert-danger" ng-if="Player.password1.$invalid && vm.alertsField.password1">{{vm.alertsField.password1}}</div>
                  </div>
                </div>
                <div class="form-group" ng-if="vm.user.user_id=='tmp'">
                  <label for="inputSendEmail" class="col-xs-4 control-label">{l}Send username and password per e-mail{endl}?</label>
                  <div class="col-xs-8 checkbox checkbox-primary">
                    <input type="checkbox" id="checkbox2" name="user_id" ng-model="vm.user.send_mail" ng-change="vm.checkInput(vm.user.send_mail)">
                      <label for="checkbox2"></label>
                  </div>
                </div>
                <div class="form-group">
                  <label for="inputHourlyRate" class="col-xs-4 control-label">{l}Hourly rate{endl}</label>
                  <div class="col-xs-3">
                    <input type="text" class="form-control" name="hourlyrate" placeholder="{l}Hourly rate{endl}" ng-model="vm.user.h_rate" id="inputHourlyRate" ng-change="vm.checkInput(vm.user.h_rate)">
                  </div>
                </div>
                <div class="form-group">
                  <label for="inputHourlyCost" class="col-xs-4 control-label">{l}Hourly cost{endl}</label>
                  <div class="col-xs-3">
                    <input type="text" class="form-control" name="hourlycost" placeholder="{l}Hourly cost{endl}" ng-model="vm.user.h_cost" id="inputHourlyCost" ng-change="vm.checkInput(vm.user.h_cost)">
                  </div>
                </div>
                <div class="form-group">
                  <label for="inputDailyRate" class="col-xs-4 control-label">{l}Daily rate{endl}</label>
                  <div class="col-xs-3">
                    <input type="text" class="form-control" name="dailyrate" placeholder="{l}Daily rate{endl}" ng-model="vm.user.d_rate" id="inputDailyRate" ng-change="vm.checkInput(vm.user.d_rate)">
                  </div>
                </div>
                <div class="form-group">
                  <label for="inputDailyCost" class="col-xs-4 control-label">{l}Daily cost{endl}</label>
                  <div class="col-xs-3">
                    <input type="text" class="form-control" name="dailycost" placeholder="{l}Daily cost{endl}" ng-model="vm.user.d_cost" id="inputDailyCost" ng-change="vm.checkInput(vm.user.d_cost)">
                  </div>
                </div>
               {loop:extra_field}
                <div class="form-group">
                  <label for="" class="col-xs-4 control-label">{label}</label>
                  {if:normal_input}
                  <div class="col-xs-8">
                    <input type="text" class="form-control" name="extra[{field_id}]" value="{value}" placeholder="{l}Daily cost{endl}" ng-model="ls.obj.extra[{field_id}]" maxlength="30">
                  </div>
                  {else}
                   <div class="col-xs-6">
                    <select name="extra[{field_id}]" id="extra_{field_id}" ng-model="ls.obj.extra[{field_id}]" class="form-control">
                      <option value="0">{l}Select type{endl}</option>
                      {extra_field_dd}
                      <option ng-repeat="option in ls.extra_dd[{field_id}] track by option.id" value="{{option.id}}">{{option.name}}</option>
                    </select>
                  </div>
                  {end} 
                  {if:is_admin}
                    {if:normal_input}
                    {else}
                    <div class="col-xs-2">
                      <button class="btn text-link text-muted" ng-click="ls.openModal('selectEdit','customer_extrafield_dd','md',['extra_dd','{field_id}'],{field_id})"><span class="fas fa-pen"></span></button>
                    </div>
                    {end}
                  {end}                                      
                </div>
               {endloop}
  <!--              <div class="form-group">
                  <div class="col-xs-8 col-xs-offset-4">
                    <button type="submit" ng-if="vm.user.user_id=='tmp'" class="btn btn-default" ng-disabled="Player.$invalid" ng-click="vm.AddUser(vm,vm.user,Player)">{l}Save{endl}</button>
                    <button type="submit" ng-if="vm.user.user_id!='tmp'" class="btn btn-default" ng-disabled="Player.$invalid" ng-click="vm.UpdateUser(vm,vm.user,Player)">{l}Save{endl}</button>
                  </div>
                </div>-->
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="tab-pane fade" id="credentials">
        <div class="section-content">
        <div uib-alert ng-repeat="alert in ls.alerts" type="{{alert.type}}" close="ls.alerts.splice($index, 1);" dismiss-on-timeout="5000" ng-class="['alert-' + (alert.type || 'warning') ]">{{alert.msg}}</div>
          <form class="form-horizontal text-left" name="addContact" novalidate>
            <table class="table" border="0" cellspacing="0" cellpadding="0">
              <thead>
                <tr>
                  <th class="col-sm-3">{l}Administrator{endl}</th>
                  <th class="col-sm-3 text-center">{l}User{endl}</th>
                  <th class="col-sm-3 text-center">{l}Manager{endl}</th>
                  <th class="col-sm-3 text-center">{l}Administrator{endl}</th>
                </tr>
              </thead>
              <tbody>
                <tr class="myprofile_table" ng-if="vm.user.credentials.is_active_CRM">
                  <td>{l}CRM{endl}</td>
                  <td class="text-center">
                    <div class="checkbox checkbox-primary">
                      <input type="checkbox" id="checkbox3" ng-model="vm.user.credentials.CRM" ng-click="vm.credential()" ng-disabled="vm.user.credentials.CRM1">
                      <label for="checkbox3"></label>
                    </div>
                  </td>
                  <td class="text-center"> </td>
                  <td class="text-center" ng-if="vm.user.group_id!=1">
                    <div class="checkbox checkbox-primary">
                      <input  type="checkbox" id="checkbox4" ng-model="vm.user.admin_cred.ADMIN_1_V" ng-click="vm.credential()" ng-disabled="vm.user.admin_cred.ADMIN_1" {{vm.user.credentials.CRM}} {{vm.user.credentials.CRM1}}>
                      <label for="checkbox4"></label>
                    </div>
                  </td>
                  <td class="text-center" ng-if="vm.user.group_id==1">
                    <div class="checkbox checkbox-primary">
                      <input  type="checkbox" id="checkbox5" ng-model="vm.user.credentials.CRM" ng-click="vm.credential()" ng-disabled="vm.user.credentials.CRM1">
                      <label for="checkbox5"></label>
                    </div>
                  </td>
                </tr>
                <tr class="myprofile_table" ng-if="vm.user.credentials.is_active_ARTICLES">
                  <td>{l}Catalogue{endl}</td>
                  <td class="text-center">
                    <div class="checkbox checkbox-primary">
                      <input type="checkbox" id="checkbox6" ng-model="vm.user.credentials.ARTICLES" ng-click="vm.credential()" ng-disabled="vm.user.credentials.ARTICLES1">
                      <label for="checkbox6"></label>
                    </div>
                  </td>
                  <td class="text-center"> </td>
                  <td class="text-center" ng-if="vm.user.group_id!=1">
                    <div class="checkbox checkbox-primary">
                      <input  type="checkbox" id="checkbox7" ng-model="vm.user.admin_cred.ADMIN_12_V" ng-click="vm.credential()" ng-disabled="vm.user.admin_cred.ADMIN_12">
                      <label for="checkbox7"></label>
                    </div>
                  </td>
                  <td class="text-center" ng-if="vm.user.group_id==1">
                    <div class="checkbox checkbox-primary">
                      <input  type="checkbox" id="checkbox8" ng-model="vm.user.credentials.ARTICLES" ng-click="vm.credential()" ng-disabled="vm.user.credentials.ARTICLES1">
                      <label for="checkbox8"></label>
                    </div>
                  </td>
                </tr>
                <tr class="myprofile_table" ng-if="vm.user.credentials.is_active_ORDERS">
                  <td>{l}Orders{endl}</td>
                  <td class="text-center">
                    <div class="checkbox checkbox-primary">
                      <input  type="checkbox" id="checkbox9" ng-model="vm.user.credentials.ORDERS" ng-click="vm.credential()" ng-disabled="vm.user.credentials.ORDERS1">
                      <label for="checkbox9"></label>
                    </div>
                  </td>
                  <td class="text-center"> </td>
                  <td class="text-center" ng-if="vm.user.group_id!=1">
                    <div class="checkbox checkbox-primary">
                      <input  type="checkbox" id="checkbox10" ng-model="vm.user.admin_cred.ADMIN_6_V" ng-click="vm.credential()" ng-disabled="vm.user.admin_cred.ADMIN_6">
                      <label for="checkbox10"></label>
                    </div>
                  </td>
                  <td class="text-center" ng-if="vm.user.group_id==1">
                    <div class="checkbox checkbox-primary">
                      <input  type="checkbox" id="checkbox11" ng-model="vm.user.credentials.ORDERS" ng-click="vm.credential()" ng-disabled="vm.user.credentials.ORDERS1">
                      <label for="checkbox11"></label>
                    </div>
                  </td>
                </tr>
                <tr class="myprofile_table" ng-if="vm.user.credentials.is_active_PO_ORDERS">
                  <td>{l}Purchase Orders{endl}</td>
                  <td class="text-center">
                    <div class="checkbox checkbox-primary">
                      <input  type="checkbox" id="checkbox12" ng-model="vm.user.credentials.PO_ORDERS" ng-click="vm.credential()" ng-disabled="vm.user.credentials.PO_ORDERS1">
                      <label for="checkbox12"></label>
                    </div>
                  </td>
                  <td class="text-center"> </td>
                  <td class="text-center" ng-if="vm.user.group_id!=1">
                    <div class="checkbox checkbox-primary">
                      <input  type="checkbox" id="checkbox13" ng-model="vm.user.admin_cred.ADMIN_14_V" ng-click="vm.credential()" ng-disabled="vm.user.admin_cred.ADMIN_14">
                      <label for="checkbox13"></label>
                    </div>
                  </td>
                  <td class="text-center" ng-if="vm.user.group_id==1">
                    <div class="checkbox checkbox-primary">
                      <input  type="checkbox" id="checkbox14" ng-model="vm.user.credentials.PO_ORDERS" ng-click="vm.credential()" ng-disabled="vm.user.credentials.PO_ORDERS1">
                      <label for="checkbox14"></label>
                    </div>
                  </td>
                </tr>
                <tr class="myprofile_table" ng-if="vm.user.credentials.is_active_STOCK">
                  <td>{l}Stock{endl}</td>
                  <td class="text-center">
                    <div class="checkbox checkbox-primary">
                      <input  type="checkbox" id="checkbox44" ng-model="vm.user.credentials.STOCK" ng-click="vm.credential()" ng-disabled="vm.user.credentials.STOCK1">
                      <label for="checkbox44"></label>
                    </div>
                  </td>
                  <td class="text-center"> </td>
                  <td class="text-center" ng-if="vm.user.group_id!=1">
                    <div class="checkbox checkbox-primary">
                      <input  type="checkbox" id="checkbox45" ng-model="vm.user.admin_cred.ADMIN_16_V" ng-click="vm.credential()" ng-disabled="vm.user.admin_cred.ADMIN_16">
                      <label for="checkbox45"></label>
                    </div>
                  </td>
                  <td class="text-center" ng-if="vm.user.group_id==1">
                    <div class="checkbox checkbox-primary">
                      <input  type="checkbox" id="checkbox46" ng-model="vm.user.credentials.STOCK" ng-click="vm.credential()" ng-disabled="vm.user.credentials.STOCK1">
                      <label for="checkbox46"></label>
                    </div>
                  </td>
                </tr>
                <tr class="myprofile_table" ng-if="vm.user.credentials.is_active_QUOTES">
                  <td>{l}Quotes{endl}</td>
                  <td class="text-center">
                    <div class="checkbox checkbox-primary">
                      <input  type="checkbox" id="checkbox15" ng-model="vm.user.credentials.QUOTES" ng-click="vm.credential()" ng-disabled="vm.user.credentials.QUOTES1">
                      <label for="checkbox15"></label>
                    </div>
                  </td>
                  <td class="text-center"> </td>
                  <td class="text-center" ng-if="vm.user.group_id!=1">
                    <div class="checkbox checkbox-primary">
                      <input  type="checkbox" id="checkbox16" ng-model="vm.user.admin_cred.ADMIN_5_V" ng-click="vm.credential()" ng-disabled="vm.user.admin_cred.ADMIN_5">
                      <label for="checkbox16"></label>
                    </div>
                  </td>
                  <td class="text-center" ng-if="vm.user.group_id==1">
                    <div class="checkbox checkbox-primary">
                      <input  type="checkbox" id="checkbox17" ng-model="vm.user.credentials.QUOTES" ng-click="vm.credential()" ng-disabled="vm.user.credentials.QUOTES1">
                      <label for="checkbox17"></label>
                    </div>
                  </td>
                </tr>
                <tr class="myprofile_table" ng-if="vm.user.credentials.is_active_PROJECTS">
                  <td>{l}Projects{endl}</td>
                  <td class="text-center">
                    <div class="checkbox checkbox-primary">
                      <input  type="checkbox" id="checkbox18" ng-model="vm.user.credentials.PROJECTS" ng-click="vm.credential()" ng-disabled="vm.user.credentials.PROJECTS1">
                      <label for="checkbox18"></label>
                    </div>
                  </td>
                  <td class="text-center">
                    <div class="checkbox checkbox-primary">
                      <input class="{{vm.user.credentials.HIDE_A}}" id="checkbox19" type="checkbox" ng-model="vm.user.credentials.PROJECTS_A" ng-click="vm.credential()" ng-disabled="vm.user.credentials.PROJECTS_A1">
                      <label for="checkbox19"></label>
                    </div>
                  </td>
                  <td class="text-center" ng-if="vm.user.group_id!=1">
                    <div class="checkbox checkbox-primary">
                      <input  type="checkbox" id="checkbox20" ng-model="vm.user.admin_cred.ADMIN_3_V" ng-click="vm.credential()" ng-disabled="vm.user.admin_cred.ADMIN_3">
                      <label for="checkbox20"></label>
                    </div>
                  </td>
                  <td class="text-center" ng-if="vm.user.group_id==1">
                    <div class="checkbox checkbox-primary">
                      <input  type="checkbox" id="checkbox21" ng-model="vm.user.credentials.PROJECTS" ng-click="vm.credential()" ng-disabled="vm.user.credentials.PROJECTS1">
                      <label for="checkbox21"></label>
                    </div>
                  </td>
                </tr>
                <tr class="myprofile_table" ng-if="vm.user.credentials.is_active_TIMETRACKER">
                  <td>{l}Timetracker{endl}</td>
                  <td class="text-center">
                    <div class="checkbox checkbox-primary">
                      <input  type="checkbox" id="checkbox40" ng-model="vm.user.credentials.TIMETRACKER" ng-click="vm.credential()" ng-disabled="vm.user.credentials.TIMETRACKER1">
                      <label for="checkbox40"></label>
                    </div>
                  </td>
                  <td class="text-center">
                    <div class="checkbox checkbox-primary">
                      <input class="{{vm.user.credentials.HIDE_T}}" id="checkbox41" type="checkbox" ng-model="vm.user.credentials.TIMETRACKER_A" ng-click="vm.credential()" ng-disabled="vm.user.credentials.TIMETRACKER_A1">
                      <label for="checkbox41"></label>
                    </div>
                  </td>
                  <td class="text-center" ng-if="vm.user.group_id!=1">
                    <div class="checkbox checkbox-primary">
                      <input  type="checkbox" id="checkbox42" ng-model="vm.user.admin_cred.ADMIN_19_V" ng-click="vm.credential()" ng-disabled="vm.user.admin_cred.ADMIN_19">
                      <label for="checkbox42"></label>
                    </div>
                  </td>
                  <td class="text-center" ng-if="vm.user.group_id==1">
                    <div class="checkbox checkbox-primary">
                      <input  type="checkbox" id="checkbox43" ng-model="vm.user.credentials.TIMETRACKER" ng-click="vm.credential()" ng-disabled="vm.user.credentials.TIMETRACKER1">
                      <label for="checkbox43"></label>
                    </div>
                  </td>
                </tr>
                <tr class="myprofile_table" ng-if="vm.user.credentials.is_active_MAINTENANCE">
                  <td>{l}Intervention{endl}</td>
                  <td class="text-center">
                    <div class="checkbox checkbox-primary">
                      <input  type="checkbox" id="checkbox22" ng-model="vm.user.credentials.MAINTENANCE" ng-click="vm.credential()" ng-disabled="vm.user.credentials.MAINTENANCE1">
                      <label for="checkbox22"></label>
                    </div>
                  </td>
                  <td class="text-center">
                    <div class="checkbox checkbox-primary">
                      <input class="{{vm.user.credentials.HIDE_M}}" id="checkbox23"  type="checkbox" ng-model="vm.user.credentials.MAINTENANCE_A" ng-click="vm.credential()" ng-disabled="vm.user.credentials.MAINTENANCE_A1">
                      <label for="checkbox23"></label>
                    </div>
                  </td>
                  <td class="text-center" ng-if="vm.user.group_id!=1">
                    <div class="checkbox checkbox-primary">
                      <input  type="checkbox" id="checkbox24" ng-model="vm.user.admin_cred.ADMIN_13_V" ng-click="vm.credential()" ng-disabled="vm.user.admin_cred.ADMIN_13">
                      <label for="checkbox24"></label>
                    </div>
                  </td>
                  <td class="text-center" ng-if="vm.user.group_id==1">
                    <div class="checkbox checkbox-primary">
                      <input  type="checkbox" id="checkbox25" ng-model="vm.user.credentials.MAINTENANCE" ng-click="vm.credential()" ng-disabled="vm.user.credentials.MAINTENANCE1">
                      <label for="checkbox25"></label>
                    </div>
                  </td>
                </tr>
                <tr class="myprofile_table" ng-if="vm.user.credentials.is_active_INSTALLATION">
                  <td>{l}Installations{endl}</td>
                  <td class="text-center">
                    <div class="checkbox checkbox-primary">
                      <input  type="checkbox" id="checkbox37" ng-model="vm.user.credentials.INSTALLATIONS" ng-click="vm.credential()" ng-disabled="vm.user.credentials.INSTALLATIONS1">
                      <label for="checkbox37"></label>
                    </div>
                  </td>
                  <td class="text-center"> </td>
                  <td class="text-center" ng-if="vm.user.group_id!=1">
                    <div class="checkbox checkbox-primary">
                      <input  type="checkbox" id="checkbox38" ng-model="vm.user.admin_cred.ADMIN_17_V" ng-click="vm.credential()" ng-disabled="vm.user.admin_cred.ADMIN_17">
                      <label for="checkbox38"></label>
                    </div>
                  </td>
                  <td class="text-center" ng-if="vm.user.group_id==1">
                    <div class="checkbox checkbox-primary">
                      <input  type="checkbox" id="checkbox39" ng-model="vm.user.credentials.INSTALLATIONS" ng-click="vm.credential()" ng-disabled="vm.user.credentials.INSTALLATIONS1">
                      <label for="checkbox39"></label>
                    </div>
                  </td>
                </tr>
                <tr class="myprofile_table" ng-if="vm.user.credentials.is_active_CONTRACTS">
                  <td>{l}Contracts{endl}</td>
                  <td class="text-center">
                    <div class="checkbox checkbox-primary">
                      <input  type="checkbox" id="checkbox26" ng-model="vm.user.credentials.CONTRACTS" ng-click="vm.credential()" ng-disabled="vm.user.credentials.CONTRACTS1">
                      <label for="checkbox26"></label>
                    </div>
                  </td>
                  <td class="text-center"> </td>
                  <td class="text-center" ng-if="vm.user.group_id!=1">
                    <div class="checkbox checkbox-primary">
                      <input  type="checkbox" id="checkbox27" ng-model="vm.user.admin_cred.ADMIN_11_V" ng-click="vm.credential()" ng-disabled="vm.user.admin_cred.ADMIN_11">
                      <label for="checkbox27"></label>
                    </div>
                  </td>
                  <td class="text-center" ng-if="vm.user.group_id==1">
                    <div class="checkbox checkbox-primary">
                      <input  type="checkbox" id="checkbox28" ng-model="vm.user.credentials.CONTRACTS" ng-click="vm.credential()" ng-disabled="vm.user.credentials.CONTRACTS1">
                      <label for="checkbox28"></label>
                    </div>
                  </td>
                </tr>
                <tr class="myprofile_table" ng-if="vm.user.credentials.is_active_BILLING">
                  <td>{l}Invoices{endl}</td>
                  <td class="text-center">
                    <div class="checkbox checkbox-primary">
                      <input  type="checkbox" id="checkbox29" ng-model="vm.user.credentials.BILLING" ng-click="vm.credential()" ng-disabled="vm.user.credentials.BILLING1">
                      <label for="checkbox29"></label>
                    </div>
                  </td>
                  <td class="text-center"> </td>
                  <td class="text-center" ng-if="vm.user.group_id!=1">
                    <div class="checkbox checkbox-primary">
                      <input  type="checkbox" id="checkbox30" ng-model="vm.user.admin_cred.ADMIN_4_V" ng-click="vm.credential()" ng-disabled="vm.user.admin_cred.ADMIN_4">
                      <label for="checkbox30"></label>
                    </div>
                  </td>
                  <td class="text-center" ng-if="vm.user.group_id==1">
                    <div class="checkbox checkbox-primary">
                      <input  type="checkbox" id="checkbox32" ng-model="vm.user.credentials.BILLING" ng-click="vm.credential()" ng-disabled="vm.user.credentials.BILLING1">
                      <label for="checkbox31"></label>
                    </div>
                  </td>
                </tr>
                <!-- <tr class="myprofile_table">
                  <td>{l}Webshop{endl}</td>
                  <td class="text-center">
                    <div class="checkbox checkbox-primary">
                      <input  type="checkbox" id="checkbox32" ng-model="vm.user.credentials.PIM" ng-click="vm.credential()" ng-disabled="vm.user.credentials.PIM1">
                      <label for="checkbox32"></label>
                    </div>
                  </td>
                  <td class="text-center"> </td>
                  <td class="text-center"> </td>
                </tr> -->
                <tr class="myprofile_table" ng-if="vm.user.credentials.is_active_REPORTS">
                  <td>{l}Reports{endl}</td>
                  <td class="text-center">
                    <div class="checkbox checkbox-primary">
                      <input  type="checkbox" id="checkbox36" ng-model="vm.user.credentials.REPORTS" ng-click="vm.credential()" ng-disabled="vm.user.credentials.REPORTS1">
                      <label for="checkbox36"></label>
                    </div>
                  </td>
                  <td class="text-center"> </td>
                  <td class="text-center"> </td>
                </tr>
  <!--               <tr class="myprofile_table">
                  <td>{l}Timesheet & expenses only{endl}</td>
                  <td class="text-center">
                    <div class="checkbox checkbox-primary">
                      <input  type="checkbox" id="checkbox33" ng-model="vm.user.credentials.TIMESHEET" ng-disabled="vm.user.credentials.TIMESHEET1">
                      <label for="checkbox33"></label>
                    </div>
                  </td>
                  <td class="text-center">
                    <div class="checkbox checkbox-primary">
                      <input type="checkbox" id="checkbox34" ng-if="vm.user.credentials.TIMESHEET1 && vm.user.group_id!=1" ng-model="vm.user.credentials.TIMESHEET_A" ng-click="vm.credential()" ng-disabled="vm.user.credentials.TIMESHEET_A1">
                      <label for="checkbox35"></label>
                    </div>
                  </td>
                  <td class="text-center"> </td>
                </tr> -->
                <!-- <tr>
                  <td>{l}User Accountant{endl}</td>
                  <td class="text-center"><input  type="checkbox" ng-model="vm.user.credentials.USER_ACCOUNTANT" ng-click="vm.credential()"></td>
                  <td class="text-center"> </td>
                  <td class="text-center"> </td>
                </tr> -->
              </tbody>
            </table>
          </form>
        </div>
      </div>

      <div class="tab-pane fade" id="devices">
        <div class="section-content">
          <form class="form-horizontal text-left" name="addDevice" novalidate>
            <div class="row">
              <div class="col-sm-12">
                <button type="button" class="btn btn-default pull-right" ng-click="vm.importDevices()">{l}Import Devices{endl}</button>   
              </div>
              <div class="col-sm-12">
                <table class="table table_orders" cellspacing="0" cellpadding="0">
                  <thead>
                    <tr>
                      <th class="col-sm-6">{l}Name{endl}</th>
                      <th class="col-sm-5">{l}Company{endl}</th>
                      <th class="col-sm-1"></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr ng-repeat="item in vm.allo.list">
                      <td>{{item.name}}</td>
                      <td>{{item.last_name}} {{item.first_name}}</td>
                      <td class="table_actions">
                          <div class="btn-group" uib-dropdown>
                              <button type="button" class="btn btn-plain dropdown-toggle" uib-dropdown-toggle>
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu dropdown-menu-right" uib-dropdown-menu>
                              <li class="dropdown-header">{l}Action{endl}</li>
                              <li>
                                  <a href="#" ng-click="vm.deleteDevice(item,$index,addDevice)" confirm="{l}Are you sure, you wanna delete this entry?{endl}"><span class="fas fa-trash-alt text-primary"></span> {l}Delete{endl}</a>
                              </li>
                            </ul>
                         </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </form>
        </div>
      </div>

    </div>
    <div class="row">
  <div class="col-sm-12 text-right">
          <!-- <button class="btn btn-plain" type="button" ng-click="ls.cancel()">{l}Close{endl}</button> -->
          <button class="btn btn-default" type="button" ng-disabled="addCustomer.$invalid" ng-if="ls.obj.add_customer" ng-click="ls.ok(addCustomer)">{l}Save{endl}</button>
          <button class="btn btn-default" type="button" ng-disabled="addContact.$invalid" ng-if="ls.obj.add_contact" ng-click="ls.ok(addContact)">{l}Save{endl}</button>
      </div>
    </div>
    <div class="form-group">
      <div class="col-xs-12 wrapper-button text-right">
        <button class="btn btn-plain"  ui-sref="users" type="submit">{l}Cancel{endl}</button>
        <button type="submit" ng-if="vm.user.user_id=='tmp' && vm.user.add_details " class="btn btn-default"  ng-disabled="Player.$invalid" ng-click="vm.AddUser(vm,vm.user,Player)">{l}{{vm.save_button_text}}{endl}</button>
        <!-- <button type="submit" ng-if="vm.user.user_id!='tmp'" class="btn btn-default" ng-disabled="Player.$invalid" ng-click="vm.UpdateUser(vm,vm.user,Player)">{l}Save{endl}</button> -->
        <button type="button" ng-if="vm.user.user_id!='tmp' && vm.user.add_details" class="btn btn-default" ng-class="{ 'add_disabled': vm.show_disabled }" ng-disabled="vm.checkForm(Player)" ng-click="vm.UpdateUser(vm,vm.user,Player)">{l}{{vm.save_button_text}}{endl}</button>
        <button type="button" ng-if="vm.user.user_id!='tmp' && vm.user.add_credentials" class="btn btn-default" ng-disabled="vm.checkForm(addContact)" ng-click="vm.UpdateUser(vm,vm.user,addContact)">{l}{{vm.save_button_text}}{endl}</button>
        <button type="button" ng-if="vm.user.user_id!='tmp' && vm.user.add_devices" class="btn btn-default" ng-disabled="vm.checkForm(addDevice)" ng-click="vm.UpdateUser(vm,vm.user,addDevice)">{l}{{vm.save_button_text}}{endl}</button>
      </div>
    </div>
  </div>
</div><!-- neede on all pages -->