<div class="modal-header title stripe-modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="vmMod.cancel()"><span aria-hidden="true">&times;</span></button>
    <div class="stripe-modal-header-img">
      <div class="title-image">
        <img src="images/akti-icon_small.png" width="32" height="32" alt="Akti">
      </div>
    </div>
    <span>Akti</span>
</div>
<div class="modal-body">
  <div class="loading_wrap loading_alt hidden">
        <div class="loading"></div>
        <div class="spinner"></div>
    </div>
    <div class="stripe-error">{{vmMod.message}}</div>
     <form class="form-horizontal text-left stripe-modal" name="stripe_form" no-validate=''>
        <div class="form-group">
            <input name="cardholder-name" id="cardholder-name" type="text" class="field " placeholder="Name" />                 
      </div>
      <div class="form-group">    
            <input name="cardholder-email" id="cardholder-email" type="text" class="field empty StripeElement" placeholder="Email" required/>                   
      </div>
      <div class="form-group">
            <div id="card-number" class="field empty StripeElement"></div>
            <div id="card-expiry" class="field empty half-width StripeElement"></div>
            <div id="card-cvc" class="field empty half-width StripeElement"></div>
      </div>
      <div class="form-group">
          <div class="stripe-authorize-message">{l}I authorise AKTI to send instructions to the financial institution that issued my card to take payments from my card account in accordance with the terms of my agreement with you.{endl}</div>
      </div>
      <button id="card-button" type="button" ng-click="vmMod.ok(stripe_form)" ng-bind-html="vmMod.obj.button_text"></button>
  	
      </form>      
</div>
