<div class="subscription_new">
<div class="container">
	<div class="page-header">
  		<div class="row">
      		<div class="col-sm-12">
              	<h1>{l}Your Plan{endl}</h1>
          	</div>
      </div>
  	</div>
  	<div uib-alert ng-repeat="alert in alerts" type="{{alert.type}}" close="alerts.splice($index, 1);" ng-class="['alert-' + (alert.type || 'warning') ]" dismiss-on-timeout='5000' >{{alert.msg}}</div>
  	<div class="page-content">
  		<div class="col-sm-12">
  			<div ng-if="item.payed">
	  			<noscript>
				<iframe src="//www.googletagmanager.com/ns.html?id=GTM-3GN9"
				height="0" width="0" style="display:none;visibility:hidden"></iframe>
				</noscript>
				<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
				new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
				j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
				'//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
				})(window,document,'script','dataLayer','GTM-3GN9');
				</script>
			</div>
			<div class="row form-horizontal">
					<div class="subscription">
				       <div class="row">	    	
					 		<div class="col-sm-12">
					 			<div class="row">
					 				<div ng-if="item.selected_plan!='7'">
						 				<div class="col-sm-2 subscription_column no_easy_invoice" ng-repeat="plan in item.pricing_plans | orderBy: 'sort_order'" ng-if="plan.id!='6' && plan.id!='7' && plan.id!='8'">
						 					<div class="simple_box">
						 						<div class="box-height">
							 						<h2 class="title-color">{{plan.name}}</h2>
							 						<h2 ng-if="!item.period" class="title-weight"><span ng-bind-html="plan.value_currency"></span>/{l}Month{endl}</h2>
							 						<h2 ng-if="item.period" class="title-weight"><span ng-bind-html="plan.value_currency_annual"></span>/{l}Month{endl}</h2>
							 						<ul class="first-box" >
							 							<li ng-repeat="option in plan.options"><a href="#" >{{option}}</a><img src="images/bluecheck.png" alt="blucheck" title="bluecheck"></li>
							 						</ul>
							 						<ul class="first-box">
							 							<li><a href="#" class="no_change">{l}SUPPORT (en ligne){endl}</a><img src="images/bluecheck.png" alt="blucheck" title="bluecheck"></li>
							 							<li><a href="#">{l}Import/Export{endl}</a><img src="images/bluecheck.png" alt="blucheck" title="bluecheck"></li>
							 						</ul>
							 						<ul class="first-box">
							 							<li><a href="#">{l}Included users{endl}</a><span class="users_nr">{{plan.nr_users}}</span></li>
							 						</ul>						 					
		                            			</div>
							 						<ul>
							 							<p ng-if="plan.selected"><a class="btn btn-sm btn-primary disabled_link" href="#"> {{plan.select_text}}</a></p>
		                            					<p ng-if="plan.can_be_selected "><a class="btn btn-sm btn-primary" href="#" ng-click="selectPricingPlan(plan.id)">{{plan.select_text}}</a></p>
		                            					<p ng-if="!plan.can_be_selected && !plan.selected"><a class="btn btn-sm btn-tertiary disabled_btn" href="#" uib-tooltip="{{item.tooltip_text}}" tooltip-placement="right"> {{plan.select_text}}</a></p>
		                            				</ul>
						 					</div>
						 				</div>
					 				</div>
					 				<div ng-if="item.selected_plan=='7'">
						 				<div class="col-sm-2 subscription_column" ng-repeat="plan in item.pricing_plans | orderBy: 'sort_order'" ng-if="plan.id!='6'" >
						 					<div class="simple_box">
						 						<div class="box-height">
							 						<h2 class="title-color">{{plan.name}}</h2>
							 						<h2 ng-if="!item.period" class="title-weight"><span ng-bind-html="plan.value_currency"></span>/{l}Month{endl}</h2>
							 						<h2 ng-if="item.period" class="title-weight"><span ng-bind-html="plan.value_currency_annual"></span>/{l}Month{endl}</h2>
							 						<ul class="first-box" >
							 							<li ng-repeat="option in plan.options"><a href="#" >{{option}}</a><img src="images/bluecheck.png" alt="blucheck" title="bluecheck"></li>
							 						</ul>
							 						<ul class="first-box">
							 							<li><a href="#" class="no_change">{l}SUPPORT (en ligne){endl}</a><img src="images/bluecheck.png" alt="blucheck" title="bluecheck"></li>
							 							<li><a href="#">{l}Import/Export{endl}</a><img src="images/bluecheck.png" alt="blucheck" title="bluecheck"></li>
							 						</ul>
							 						<ul class="first-box">
							 							<li><a href="#">{l}Included users{endl}</a><span class="users_nr">{{plan.nr_users}}</span></li>
							 						</ul>						 					
		                            			</div>
							 						<ul>
							 							<p ng-if="plan.selected"><a class="btn btn-sm btn-primary disabled_link" href="#"> {{plan.select_text}}</a></p>
		                            					<p ng-if="plan.can_be_selected "><a class="btn btn-sm btn-primary" href="#" ng-click="selectPricingPlan(plan.id)">{{plan.select_text}}</a></p>
		                            					<p ng-if="!plan.can_be_selected && !plan.selected"><a class="btn btn-sm btn-tertiary disabled_btn" href="#" uib-tooltip="{{item.tooltip_text}}" tooltip-placement="right"> {{plan.select_text}}</a></p>
		                            				</ul>
						 					</div>
						 				</div>
					 				</div>
					 				
					 				<!--<div class="col-sm-2" >
					 					<div class="simple_box" >
					 						<h2>{l}Advanced{endl}</h2>
					 						<ul class="first-box">
					 							<li><a href="#" >{l}Gestion Contacts{endl}</a><img src="images/bluecheck.png"></li>
					 							<li><a href="#">{l}Catalogue{endl}</a><img src="images/bluecheck.png" alt="blucheck" title="bluecheck"></li>
					 							<li><a href="#">{l}Products+{endl}</a><img src="images/bluecheck.png" alt="blucheck" title="bluecheck"></li>
					 							<li><a href="#">{l}Devis{endl}</a><img src="images/bluecheck.png" alt="blucheck" title="bluecheck"></li>
					 							<li><a href="#">{l}Orders{endl}</a><img src="images/bluecheck.png" alt="blucheck" title="bluecheck"></li>
					 							<li><a href="#">{l}Purchase Orders{endl}</a><img src="images/bluecheck.png" alt="blucheck" title="bluecheck"></li>
					 							<li><a href="#">{l}Stocks{endl}</a><img src="images/bluecheck.png" alt="blucheck" title="bluecheck"></li>
					 							<li><a href="#">{l}Interventions{endl}</a><img src="images/bluecheck.png" alt="blucheck" title="bluecheck"></li>
					 							<li><a href="#">{l}Contracts{endl}</a><img src="images/bluecheck.png" alt="blucheck" title="bluecheck"></li>
					 							<li><a href="#">{l}Installations{endl}</a><img src="images/bluecheck.png" alt="blucheck" title="bluecheck"></li>
					 							<li><a href="#">{l}Facturation{endl}</a><img src="images/bluecheck.png"></li>
					 							<li><a href="#">{l}Marketplace{endl}</a><img src="images/bluecheck.png" alt="blucheck" title="bluecheck"></li>
					 						</ul>
					 						<ul class="first-box"> -->
					 							<!-- <li><a href="#" class="no_change">{l}APPLICATIONS TIERCES{endl}</a><img src="images/bluecheck.png" alt="blucheck" title="bluecheck"></li> -->
					 							<!-- <li><a href="#" class="no_change">{l}SUPPORT (en ligne){endl}</a><img src="images/bluecheck.png" alt="blucheck" title="bluecheck"></li> -->
					 						<!-- </ul>
					 						<ul class="first-box"> -->
					 							<!-- <li><a href="#">{l}Import/Export{endl}</a><img src="images/bluecheck.png" alt="blucheck" title="bluecheck"></li> -->
					 							<!-- <li><a href="#">{l}Export comptable{endl}</a><img src="images/bluecheck.png" alt="blucheck" title="bluecheck"></li>
					 							<li><a href="#">{l}Tableau de bord comptable{endl}</a><img src="images/bluecheck.png" alt="blucheck" title="bluecheck"></li> -->
					 						<!-- </ul>
					 						<ul class="first-box"> -->
					 							<!-- <li><a href="#">{l}Backup{endl}</a><img src="images/bluecheck.png" alt="blucheck" title="bluecheck"></li>
					 							<li><a href="#">{l}Zero limite{endl}</a><img src="images/bluecheck.png" alt="blucheck" title="bluecheck"></li>
					 							<li><a href="#">{l}Mise a jour{endl}</a><img src="images/bluecheck.png" alt="blucheck" title="bluecheck"></li> -->
					 							<!-- <li><a href="#">{l}Included users{endl}</a><span class="users_nr">5</span></li>
					 						</ul>
					 						
					 					</div> 
					 				</div>-->
					 				
						 		<!-- 	<div class="col-sm-2 subscription" ng-if="item.show_invoice_details"> -->
						 			<div class="col-sm-2 subscription" >
						  				<div class="panel panel-default" ng-if="item.is_active_payed">
										  <div class="panel-footer text-strong ">
										    {l}Your invoice details{endl}
										  </div>
										</div>
										<div class="col-sm-12 no-bk" ng-if="item.is_active_payed">
											<div class="form-group margin-bottom-none">
												<label class="control-label col-sm-6 text-left">{l}Current charge rate{endl}</label>
												<label class="control-label col-sm-6 text-left"><strong>&euro;{{item.TOTAL_LAST}}/{l}month{endl}</strong></label>
											</div>
											<div class="form-group margin-bottom-none">
												<label class="control-label col-sm-6 text-left">{l}Current subscription{endl}</label>
												<label class="control-label col-sm-6 text-left">{{item.TYPE}}</label>
											</div>
											<div class="form-group margin-bottom-none" ng-if="item.HIDE_NEXT_CHARGE">
												<label class="control-label col-sm-6 text-left">{l}Next charge{endl}</label>
												<label class="control-label col-sm-6 text-left"><span><strong>{{item.NEXT_CHARGE_DATE}}</strong></span> <span>(&euro;{{item.CHARGE_RATE}})</span> <span ng-if="item.HIDE_VAT_FROM_T">{l}including{endl} &euro;{{item.VAT_P}} {l}VAT{endl}</span></label>
											</div>
											<div class="form-group margin-bottom-none" ng-if="item.HIDE_NEXT_CHARGE2">
												<label class="control-label col-sm-6 text-left">{l}Tax{endl}</label>
												<label class="control-label col-sm-6 text-left"><span><strong>{l}21% Belgian VAT{endl}</strong></span> <span>{l}because you are a citizen of the Europe Union{endl}</span> <a href="#" ng-click="changeTax(undefined)">[ {l}I have EU-VAT ID{endl} ]</a></label>
											</div>
											<div class="form-group margin-bottom-none" ng-if="item.HIDE_DAYS">
												<label class="control-label col-sm-6 text-left">{l}Days left{endl}</label>
												<label class="control-label col-sm-6 text-left">{{item.DAYS_LEFT}}</label>
											</div>
											<!-- <div class="form-group margin-bottom-none" ng-if="item.HIDE_CANCEL && !item.easyinvoice"> -->
											<div class="form-group margin-bottom-none" ng-if="item.can_change_card && !item.easyinvoice">
												<label class="control-label col-sm-6 text-left">{l}Change credit card{endl}</label>
												<label class="control-label col-sm-6 text-left"><a href="#" ng-click="changeCCard()">[ {l}change{endl} ]</a> <a href="" uib-tooltip="{l}change credit card{endl}" tooltip-placement="top"><span class="glyphicon glyphicon-question-sign"></span></a></label>
											</div>
											<!-- <div class="form-group margin-bottom-none" ng-if="item.HIDE_CANCEL">
												<label class="control-label col-sm-6 text-left">{l}Cancel subscription{endl}</label>
												<label class="control-label col-sm-6 text-left"><a href="#" ng-click="cancelSubscription()">[ {l}change{endl} ]</a></label>
											</div> -->
											<div class="form-group margin-bottom-none">
												<label class="control-label col-sm-6 text-left">{l}Invoice Details{endl}</label>
												<label class="control-label col-sm-6 text-left"><span><strong>{{item.INVOICING_NAME}}</strong></span> <a href="#" ng-click="changeTax(1)">[ {l}change{endl} ]</a></label>
											</div>
											<div class="form-group margin-bottom-none" ng-if="item.is_eu_country">
												<label class="control-label col-sm-6 text-left">{l}VAT number{endl}</label>
												<label class="control-label col-sm-6 text-left"><span>{{item.ACCOUNT_VAT_NUMBER}}<strong></strong></span> <a href="#" ng-click="changeTax(2)">[ {l}change{endl} ]</a></label>
											</div>
										</div>
										<div class="panel panel-bottom">
										  <div class="panel-footer text-strong">
										    {l}Your subscription details{endl}
										  </div>
										</div>
					 					<div class="calculation_box">
						 					<div class="user_no" >
						 						<label>{l}Users{endl} :</label>
												<selectize config='userCfg' options='item.USER_DD' ng-model="item.users" ng-disabled="!item.is_trial"></selectize>
											</div>
											<div class="user_no" >
												<label>{l}Payment{endl} :</label>
												<toggle-switch  ng-model="item.period" on-change="recalculate()" class="switch-primary" off-label="{l}mensuel{endl}" on-label="{l}annuel{endl}" is-disabled="!item.is_trial" ></toggle-switch>
											</div>
											<div class="col-md-12">
												<div class="total_price">	
													<h1 ng-if="!showTxt.pay"><strong>{l}Custom price{endl}</strong></h1>
													<h1 ng-if="showTxt.pay"><strong>&euro; {{item.total_price}}</strong></h1>
													<p class="text-warning" ng-if="showTxt.pay">{l}per month without VAT{endl}</p>
													<h2 ng-if="item.is_vat && showTxt.pay"><strong>&euro; {{item.vat_value}}</strong></h2>	
													<h3 class="text-warning" ng-if="item.is_vat && showTxt.pay">{l}Vat{endl}</h3>	
												</div>
												<div class="pay_box"  ng-if="showTxt.update_pay && item.is_active_payed  ">
													<a ng-click="paySubscription()" class="btn btn-sm btn-warning" ng-if="showTxt.pay && !item.easyinvoice">{{item.PAY_TEXT}}</a>
													<a class="btn btn-sm btn-warning disabled_btn" ng-if="showTxt.pay && item.easyinvoice" href="#" uib-tooltip="{{item.tooltip_text}}" tooltip-placement="left">{{item.PAY_TEXT}}</a></div>
											</div>
						 				</div>
						  			</div>
					  			</div>
		  					</div>	
						</div>
	  				</div>	
	  		</div>
	  	</div>
	</div>
</div>
</div>
