<div class="container">
	<div class="page-header">
  		<div class="row">
      		<div class="col-sm-12">
              	<h1>{l}Payment Plan{endl}
              		<a href="#" class="btn btn-primary pull-right" ui-sref="subscription_new"><span>{l}Try the new payment options{endl}</span></a>
              	</h1>
          	</div>
      </div>
  	</div><!-- /.page-header -->
  	<div uib-alert ng-repeat="alert in alerts" type="{{alert.type}}" close="alerts.splice($index, 1);" ng-class="['alert-' + (alert.type || 'warning') ]" dismiss-on-timeout='5000' >{{alert.msg}}</div>
  	<div class="row page-content">
  		<div class="col-sm-12">
  			<div ng-if="item.payed">
	  			<noscript>
				<iframe src="//www.googletagmanager.com/ns.html?id=GTM-3GN9"
				height="0" width="0" style="display:none;visibility:hidden"></iframe>
				</noscript>
				<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
				new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
				j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
				'//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
				})(window,document,'script','dataLayer','GTM-3GN9');
				</script>
			</div>
	  		<div class="row form-horizontal">
	  			<div class="col-sm-8">
	  				<div class="panel panel-default">
					  <div class="panel-footer text-strong">
					    {l}Our company details{endl}
					  </div>
					</div>
					<div class="form-group margin-bottom-none">
						<label class="control-label col-sm-3 text-left">{l}Current charge rate{endl}</label>
						<label class="control-label"><strong>&euro;{{item.TOTAL_LAST}}/month</strong></label>
					</div>
					<div class="form-group margin-bottom-none">
						<label class="control-label col-sm-3 text-left">{l}Current subscription{endl}</label>
						<label class="control-label">{{item.TYPE}}</label>
					</div>
					<div class="form-group margin-bottom-none" ng-if="item.HIDE_NEXT_CHARGE">
						<label class="control-label col-sm-3 text-left">{l}Next charge{endl}</label>
						<label class="control-label"><span><strong>{{item.NEXT_CHARGE_DATE}}</strong></span> <span>(&euro;{{item.CHARGE_RATE}})</span> <span ng-if="item.HIDE_VAT_FROM_T">{l}including{endl} &euro;{{item.VAT_P}} {l}VAT{endl}</span></label>
					</div>
					<div class="form-group margin-bottom-none" ng-if="item.HIDE_NEXT_CHARGE2">
						<label class="control-label col-sm-3 text-left">{l}Tax{endl}</label>
						<label class="control-label"><span><strong>{l}21% Belgian VAT{endl}</strong></span> <span>{l}because you are a citizen of the Europe Union{endl}</span> <a href="#" ng-click="changeTax(undefined)">[ {l}I have EU-VAT ID{endl} ]</a></label>
					</div>
					<div class="form-group margin-bottom-none" ng-if="item.HIDE_DAYS">
						<label class="control-label col-sm-3 text-left">{l}Days left{endl}</label>
						<label class="control-label">{{item.DAYS_LEFT}}</label>
					</div>
					<div class="form-group margin-bottom-none" ng-if="item.HIDE_CANCEL">
						<label class="control-label col-sm-3 text-left">{l}Change credit card{endl}</label>
						<label class="control-label"><a href="#" ng-click="changeCCard()">[ {l}change{endl} ]</a> <a href="" uib-tooltip="{l}change credit card{endl}" tooltip-placement="top"><span class="glyphicon glyphicon-question-sign"></span></a></label>
					</div>
					<div class="form-group margin-bottom-none" ng-if="item.HIDE_CANCEL">
						<label class="control-label col-sm-3 text-left">{l}Cancel subscription{endl}</label>
						<label class="control-label"><a href="#" ng-click="cancelSubscription()">[ {l}change{endl} ]</a></label>
					</div>
					<div class="form-group margin-bottom-none">
						<label class="control-label col-sm-3 text-left">{l}Invoice Details{endl}</label>
						<label class="control-label"><span><strong>{{item.INVOICING_NAME}}</strong></span> <a href="#" ng-click="changeTax(1)">[ {l}change{endl} ]</a></label>
					</div>
					<div class="form-group margin-bottom-none" ng-if="item.is_eu_country">
						<label class="control-label col-sm-3 text-left">{l}VAT number{endl}</label>
						<label class="control-label"><span>{{item.ACCOUNT_VAT_NUMBER}}<strong></strong></span> <a href="#" ng-click="changeTax(2)">[ {l}change{endl} ]</a></label>
					</div>
	  			</div>
	  			<div class="col-sm-4">
	  				<div class="panel panel-default">
					  <div class="panel-footer text-strong">
					    {l}Payment details{endl}
					  </div>
					</div>
					<div class="col-sm-12">
						<div class="form-group margin-bottom-none">
						  	<label class="control-label">Akti SA/ NV</label>
						</div>
						<div class="form-group margin-bottom-none">
						  	<label class="control-label">Sinter-Goedelevoorplein 5</label>
						</div>
						<div class="form-group margin-bottom-none">
						  	<label class="control-label">Kantersteen 10</label>
						</div>
						<div class="form-group margin-bottom-none">
						  	<label class="control-label">1000 BRUSSELS</label>
						</div>
						<div class="form-group margin-bottom-none">
						  	<label class="control-label">BELGIUM</label>
						</div>
						<div class="form-group margin-bottom-none">
						  	<label class="control-label">{l}Email{endl} <a href="mailto:office@akti.com">support@akti.com</a></label>
						</div>
						<div class="form-group margin-bottom-none">
						  	<label class="control-label">Tel <strong>+32 78 48 15 20</strong></label>
						</div>
						<div class="form-group margin-bottom-none">
						  	<label class="control-label">{l}VAT{endl} <strong>BE0882583501</strong></label>
						</div>
					</div>				
	  			</div>
	  		</div>
	  		<div class="row form-horizontal margin-top">
	  			<div class="col-sm-12">
	  				<div class="panel panel-default">
						<div class="panel-footer text-muted text-strong">
						    {l}Your plan{endl}
						</div>
					</div>
					<div class="row">
						<div class="col-sm-8">
							<div class="panel panel-default">
								<div class="panel-footer">
								    <div class="form-group">
								    	<p class="col-sm-12 text-primary">{l}Plan{endl}</p>
								    	<div class="col-sm-6">
								    		<select class="form-control" ng-model="item.plan" ng-change="changePlan()">
								    			<option ng-repeat="option in item.you_sell_dd track by option.id" value="{{option.id}}" ng-bind-html="option.name"></option>
								    		</select>
								    	</div>
								    	<div class="col-sm-6">
								    		<select class="form-control" ng-model="item.how_many" ng-change="changeValues()">
								    			<option ng-repeat="option in item.how_many_users_dd track by option.id" value="{{option.id}}" ng-bind-html="option.name"></option>
								    		</select>
								    	</div>
								    	<div class="col-sm-6 margin-top">
									    	<p class="text-primary">{l}Additional features{endl}</p>
									    	<p><input type="radio" value="0" ng-model="item.webshop" ng-click="changeValues()" ng-disabled="item.plan==5"> {l}No webshop{endl}</p>
									    	<p><input type="radio" value="1" ng-model="item.webshop" ng-disabled="item.disabledw || item.plan==5" ng-click="changeValues()"> {l}Webshop < 250 articles{endl}</p>
									    	<p><input type="radio" value="2" ng-model="item.webshop" ng-disabled="item.disabledw || item.plan==5" ng-click="changeValues()"> {l}Webshop unlimited{endl}</p>
									    </div>
									    <div class="col-sm-6 margin-top">
									    	<p class="text-primary">{l}You pay{endl}</p>
									    	<select class="form-control" ng-model="item.period" ng-change="changePeriod()">
									    		<option ng-repeat="option in item.period_dd track by option.id" value="{{option.id}}" ng-bind-html="option.name"></option>
									    	</select>
									    	<p class="text-primary margin-top" ng-if="item.user_discount">{l}Discount{endl}</p>
									    	<p class="row" ng-if="item.user_discount">
									    		<label class="col-sm-11">
									    			<select class="form-control col-sm-10" ng-model="item.user_disc" ng-change="changeValues()">
										    			<option value="0">{l}Select{endl}</option>
										    			<option ng-repeat="option in item.user_disc_dd track by option.id" value="{{option.id}}" ng-bind-html="option.name"></option>
        											</select>	
									    		</label>								    		
              									<span ng-bind-html="item.discount_type"></span>
									    	</p>
									    </div>
								    </div>							  
								</div>
							</div>
						</div>
						<div class="col-sm-4">
							<div class="panel panel-default">
							  <div class="panel-body text-center">
							    <h1>{{item.default}} &euro;</h1>
							    <p ng-if="item.is_vat">{{item.vat_value}} &euro; {l}VAT{endl}</p>
							    <p>{{item.month_year}}</p>
							    <button class="btn btn-default" ng-click="paySubscription()">{{item.BUY_TEXT}}</button>
							  </div>
							</div>
						</div>
					</div>
					<p class="text-muted">{l}Prices do not include 21% VAT{endl}</p>
	  			</div>
	  		</div>
	  	</div>
  	</div>
</div>