<div class="tab-content">
    <div class="tab-pane active" id="labels">
        <div class="modal-body">
            <div class="loading_wrap loading_alt hidden">
                <div class="loading"></div>
                <div class="spinner"></div>
            </div>
            <!-- <div uib-alert ng-repeat="alert in vm.alerts" type="{{alert.type}}" close="vm.alerts.splice($index, 1);" ng-class="['alert-' + (alert.type || 'warning')]" dismiss-on-timeout='5000' >{{alert.msg}}</div> -->
            <form class="form-horizontal">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="form-group">
                            <div class="col-xs-4">
                                <img class="img-thumbnail" ng-src="{{vm.tact.CLASS2}}" width="232" height="90" alt="" />
                                <div class="margin-top text-center">
                                    <button type="submit" class="btn btn-default" ng-if="vm.tact.active==false" ng-click="vm.tact_connect()">{{vm.tact.title}}</button>
                                    <button type="submit" class="btn btn-default" ng-if="vm.tact.active==true" ng-click="vm.tact_disconnect()">{{vm.tact.title}}</button>
                                </div>
                            </div>
                            <div class="col-xs-8">
                                <div class="section-title">
                                    <h2>{l}Tactill{endl} </h2>
                                </div>
                                <!-- /.section-title -->
                            </div>
                            <div class="margin-top col-xs-8 pull-right">
                                <div class="form-group">
                                    <label class="col-xs-3 control-label text-left">
			                           	{l}API Key{endl}:
				                    </label>
                                    <div class="col-xs-9">
                                        <input class="form-control" type="text" ng-model="vm.tact.api_key" ng-disabled="vm.tact.active==true">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <button class="btn btn-plain" type="button" ng-click="vm.cancel()">{l}Close{endl}</button>
        </div>
    </div>

</div>