<div class="container">
    <!-- <div uib-alert ng-repeat="alert in vm.alerts" type="{{alert.type}}" close="vm.alerts.splice($index, 1);" ng-class="['alert-' + (alert.type || 'warning'), 'alert-fixed' ]" dismiss-on-timeout='3500' >{{alert.msg}}</div> -->
    <div class="form-group">
    </div>
    <ul class="nav nav-tabs ">
        <li class="active">
            <a href="#usrs" aria-controls="usrs" data-toggle="tab">{l}Users{endl} &nbsp;&nbsp;
                <button type="button" class="btn btn-primary btn-add" go-to="" state="user" params='{"user_id": "tmp"}' uib-tooltip="{l}Add Staff{endl}" tooltip-placement="top">
                <!-- <button type="button" class="btn btn-primary btn-add" ng-click="vm.modal_users(vm,'sTemplate/multiuser','MultiuserSetCtrl')" uib-tooltip="{l}Add Staff{endl}" tooltip-placement="top"> -->
                  <span class="btn-add_icon">
                    <span class="icon-bar"></span>
                    <span class="icon-bar-2"></span>
                  </span>
                </button>
              </a>
        </li>
        <li><a href="#group" aria-controls="group" data-toggle="tab" ng-click="vm.load('group','groups')">{l}Groups{endl} &nbsp;&nbsp;<button type="button" class="btn btn-primary btn-add" ng-click="vm.modal_group(vm.groups.group_add,'sTemplate/group','GroupSetCtrl')" uib-tooltip="{l}Add a group{endl}" tooltip-placement="top"><span class="btn-add_icon"><span class="icon-bar"></span><span class="icon-bar-2"></span></span></button></a></li>
    </ul>
    <div class="row">
        <div class="col-xs-12 tab-content ">

            <div class="tab-pane fade in active" id="usrs">
                <div class="section-content">
                    <div class="row page-search">
                        <form>
                            <div class="col-sm-9 col-search-input">
                                <div class="so-field" ng-class="{ 'so-active':vm.users.search.search!='' }">
                                    <span class="glyphicon glyphicon-search so-icon"></span>
                                    <input type="text" class="form-control" placeholder="{l}Search{endl}" search-it doit="vm.users.search" callbk="vm.renderList" ng-model="vm.users.search.search">
                                    <span class="glyphicon glyphicon-remove so-icon so-remove" ng-click="vm.toggleSearchButtons('search','')"></span>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="so-field" ng-class="{ 'so-active':vm.users.search.view != '' }">
                                    <selectize config='vm.filterCfg' options='vm.users.views' ng-model="vm.users.search.view"></selectize>
                                    <span class="glyphicon glyphicon-remove so-icon so-remove" ng-click="vm.toggleSearchButtons('view', '')"></span>
                                </div>
<!--                                <selectize placeholder="{l}All Statuses{endl}" config="vm.filterCfg" options="vm.users.views" ng-model="vm.users.activeView"></selectize>-->
                            </div>
                        </form>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <table class="table active_rows orderTable" width="100%">
                                <thead>
                                    <tr>
                                        <th class="col-sm-1" ng-click="vm.sortBy('TYPE')">{l}Type{endl} <span class="sortable_row" ng-show="vm.propertyName === 'TYPE'" ng-class="{ 'sortable_row-up':!vm.reverse, 'sortable_row-down':vm.reverse }"></span></th>
                                        <th class="col-sm-4 sortorder" ng-click="vm.sortBy('NAME')">{l}Lastname - Firstname{endl} <span class="sortable_row" ng-show="vm.propertyName === 'NAME'" ng-class="{ 'sortable_row-up':!vm.reverse, 'sortable_row-down':vm.reverse }"></span></th>
                                        <th class="col-sm-3 sortorder" ng-click="vm.sortBy('GROUP')" ng-class="{reverse: reverse}">{l}Group{endl} <span class="sortable_row" ng-show="vm.propertyName === 'GROUP'" ng-class="{ 'sortable_row-up':!vm.reverse, 'sortable_row-down':vm.reverse }"></span></th>
                                        <th class="col-sm-2 text-center sortorder" ng-click="vm.sortBy('ACTIVE')" ng-class="{reverse: reverse}">{l}Status{endl} <span class="sortable_row" ng-show="vm.propertyName === 'ACTIVE'" ng-class="{ 'sortable_row-up':!vm.reverse, 'sortable_row-down':vm.reverse }"></span></th>
                                        <th class="col-sm-2 text-center sortorder" ng-click="vm.sortBy('DEFAULT')" ng-class="{reverse: reverse}">{l}Main admin{endl} <span class="sortable_row" ng-show="vm.propertyName === 'DEFAULT'" ng-class="{ 'sortable_row-up':!vm.reverse, 'sortable_row-down':vm.reverse }"></span></th>
                                        <th class="col-sm-1 table_actions">{l}Action{endl}</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="item in vm.users.list">
                                        <td class="" go-to="" state="user" params='{"user_id": {{::item.ACTION}}}'>
                                            <span class="text-{{item.style}}">
                                <i class="fa fa-user" aria-hidden="true"></i>
                                <i class="fa fa-{{item.TYPE}}" aria-hidden="true"></i>
                               </span>
                                        </td>
                                        <td go-to="" state="user" params='{"user_id": {{::item.ACTION}}}' list='{ "type":"settings-users", "obj": { "search":{{vm.users.search}}, "cindex":{{$index}} } }'>
                                            {{item.NAME}}
                                        </td>
                                        <td class="text-muted" go-to="" state="user" params='{"user_id": {{::item.ACTION}}}' list='{ "type":"settings-users", "obj": { "search":{{vm.users.search}}, "cindex":{{$index}} } }'>
                                            {{item.GROUP}}
                                        </td>
                                        <td class="text-center m-left" go-to="" state="user" params='{"user_id": {{::item.ACTION}}}' list='{ "type":"settings-users", "obj": { "search":{{vm.users.search}}, "cindex":{{$index}} } }'>
                                            <span class="badge item-status-gray" ng-class="{ 'item-status-orange':item.ACTIVE=='1', 'item-status-green':item.ACTIVE=='0','item-status-red':item.ACTIVE=='3','item-status-yellow':item.ACTIVE=='4' }">{{item.ROL}}</span>
                                        </td>
                                        <td class="text-center m-left">
                                            <input type="radio" value="1" ng-change="vm.change_main_user(vm,item,item.ACTION)" ng-if="!item.invited" ng-model="item.DEFAULT">
                                        </td>
                                        <td class="table_actions">
                                            <div class="btn-group" uib-dropdown>
                                                <button type="button" class="btn btn-plain dropdown-toggle" uib-dropdown-toggle>
                                      <span class="caret"></span>
                                  </button>
                                                <ul class="dropdown-menu dropdown-menu-right" uib-dropdown-menu>
                                                    <li class="dropdown-header">{l}Action{endl}</li>
                                                    <li ng-if="item.is_invitation">
                                                        <a href="user/item.ACTION" ui-sref="user({'user_id': {{item.ACTION}}})"><span class="fas fa-pen text-primary"></span> {l}Edit{endl}</a>
                                                    </li>
                                                    <li ng-if="item.is_main !='0'">
                                                        <a ng-click="vm.delete(vm,item,item.ACTION,item.CRYPT)" confirm="{l}Are you sure, you wanna delete this user?{endl}"><span class="fa fa-trash text-primary"></span> {l}Delete{endl}</a>
                                                    </li>
                                                    <li ng-if="item.is_main !='0'">
                                                        <a ng-click="vm.activate(vm,item,item.ACTION,item.LINK_CLASS1)"><span class="fa fa-{{item.LINK_CLASS}} text-primary"></span> {{item.TEXT_ACTIVE}}</a>
                                                    </li>
                                                    <li><a ng-if="item.RESSEND" ng-click="vm.ressend(vm,item,item.CRYPT,item.NAME)"><i class="fa fa-refresh" aria-hidden="true"></i>{l}Resend Invitation{endl}</a></li>
                                                    <li><a ng-if="item.invited" ng-click="vm.cancelInvitation(item.CRYPT)" confirm="{l}Are you sure you want cancel the invitation{endl}"><span class="fas fa-trash-alt text-primary"></span>{l}Cancel Invitation{endl}</a></li>
                                                </ul>
                                            </div>

                                            <div class="hide"><a href="/ioan/sales/thinkweb-salesassist/branches/marius/new/user/item.ACTION" ui-sref="user({'user_id': {{item.ACTION}}})" ng-if="item.HIDE_EDIT"><span class="fas fa-pen"></span></a>

                                                <a href="#" ng-if="item.HIDE_DELETE" ng-click="vm.delete(vm,item,item.ACTION)"><span class="glyphicon glyphicon-ban-circle" ></span></a>

                                                <a href="#" ng-if="item.HIDE_DEACTIVATE" ng-click="vm.deactivate_user(vm,item,item.ACTION)"><span class="glyphicon glyphicon-ban-circle" ></span></a>
                                                <a href="#" ng-if="item.is_main !='0'" ng-click="vm.activate(vm,item,item.ACTION,item.LINK_CLASS1)"><i class="fa fa-{{item.LINK_CLASS}}" aria-hidden="true"></i></a>
                                                <a href="#" ng-if="item.HIDE_ACTIVATE" ng-click="vm.activate2(vm,item,item.ACTION,item.LINK_CLASS1)"><i class="fa fa-level-up" aria-hidden="true"></i></a>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <!-- /.section-content -->
            </div>
            <!-- /.tab-pane -->
            <div class="tab-pane fade" id="group">
                <!-- <div class="section-title">
                  <h2>{l}List of Groups with same Credentials{endl}
                  
                  </h2>
                </div> -->
                <!-- /.section-title -->
                <div class="section-content">
                    <table class="table">
                        <thead>
                            <tr>
                                <th class="col-sm-11">{l}Name{endl}</th>
                                <th class="col-sm-1 table_actions">{l}Actions{endl}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="item in vm.groups.group_list">
                                <td>
                                    {{item.NAME}}
                                </td>
                                <td class="table_actions">
                                    <div class="btn-group" uib-dropdown>
                                        <button type="button" class="btn btn-plain dropdown-toggle" uib-dropdown-toggle>
                                  <span class="caret"></span>
                              </button>
                                        <ul class="dropdown-menu dropdown-menu-right" uib-dropdown-menu>
                                            <li class="dropdown-header">{l}Action{endl}</li>
                                            <li>
                                                <a href="#" ng-click="vm.modal_group(item,'sTemplate/group','GroupSetCtrl')"><span class="fas fa-pen text-primary"></span> {l}Edit{endl}</a>
                                            </li>
                                            <li ng-if="item.HIDE_DELETE==true">
                                                <a href="#" ng-click="vm.delete_group(vm,item,item.group_id)"><span class="fa fa-trash text-primary"></span> {l}Delete{endl}</a>
                                            </li>
                                        </ul>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <!-- /.tab-pane -->
        </div>
        <!-- /.tab-content -->
    </div>
    <!-- /.row -->
</div>