<div class="modal-header">
    <h3 class="modal-title">{l}Legal Mentions{endl}</h3>
</div>
<div class="tab-content">
	<div class="tab-pane active" id="labels">
		<div class="modal-body" >
			<!-- <div uib-alert ng-repeat="alert in vm.alerts" type="{{alert.type}}" close="vm.alerts.splice($index, 1);" ng-class="['alert-' + (alert.type || 'warning'), 'alert-fixed' ]" dismiss-on-timeout='5000' >{{alert.msg}}</div> -->
			<form class="form-horizontal" name="v_form">
				<div class="row">
					<div class="col-xs-12">
						<div class="form-group">
							<label class="col-xs-4 control-label text-left">{l}English{endl}:</label>
		          			<div class="col-xs-8">
		            			<textarea class="form-control" ng-model="vm.obj.en">{{vm.obj.en}}</textarea>   		
		            		</div>
						</div>
					</div>			
				</div>
				<div class="row">
					<div class="col-xs-12">
						<div class="form-group">
							<label class="col-xs-4 control-label text-left">{l}Dutch{endl}:</label>
		          			<div class="col-xs-8">
		            			<textarea class="form-control" ng-model="vm.obj.nl">{{vm.obj.nl}}</textarea>   		
		            		</div>
						</div>
					</div>			
				</div>
				<div class="row">
					<div class="col-xs-12">
						<div class="form-group">
							<label class="col-xs-4 control-label text-left">{l}French{endl}:</label>
		          			<div class="col-xs-8">
		            			<textarea class="form-control" ng-model="vm.obj.fr">{{vm.obj.fr}}</textarea>   		
		            		</div>
						</div>
					</div>			
				</div>
				<div class="row">
					<div class="col-xs-12">
						<div class="form-group">
							<label class="col-xs-4 control-label text-left">{l}German{endl}:</label>
		          			<div class="col-xs-8">
		            			<textarea class="form-control" ng-model="vm.obj.de">{{vm.obj.de}}</textarea>   		
		            		</div>
						</div>
					</div>			
				</div>
			</form>
		</div>
	</div>
	
</div>
<div class="modal-footer">
    <button class="btn btn-plain" type="button" ng-click="vm.cancel()">{l}Close{endl}</button>
    <button class="btn btn-default" type="button" ng-click="vm.save_me()">{l}Save{endl}</button>
</div>