<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="vm.cancel()"><span aria-hidden="true">&times;</span></button>
  <h4 class="modal-title" >{l}Activate integration with Yuki{endl}</h4>
</div>
<div class="tab-content">
	<div class="tab-pane active" id="labels">
		<div class="modal-body">
			<div class="loading_wrap loading_alt hidden">
		      	<div class="loading"></div>
		        <div class="spinner"></div>
		    </div>
			<!-- <div uib-alert ng-repeat="alert in vm.alerts" type="{{alert.type}}" close="vm.alerts.splice($index, 1);" ng-class="['alert-' + (alert.type || 'warning')]" dismiss-on-timeout='5000' >{{alert.msg}}</div> -->
			<form class="form-horizontal" name="yuki_form" novalidate>
				<div class="row">
					<div class="col-xs-12">
						<div class="form-group" >
							<div class="col-xs-3 text-center">
									<img class="img-thumbnail" ng-src="{{vm.yuk.CLASS2}}" width="300" height="117" alt=""/>
								<!-- <div class="margin-top text-center">
				                    <button type="submit" class="btn btn-default" ng-if="vm.yuk.hide_active==true" ng-click="vm.yuky(yuki_form)">{l}{{vm.yuk.title}}{endl}</button>
				                    <button type="submit" class="btn btn-default" ng-if="vm.yuk.hide_deactive==true" ng-click="vm.yuky(yuki_form)">{l}{{vm.yuk.title}}{endl}</button>
                    			</div> -->
							</div>
							<div class="col-xs-9">
							    <div class="section-title">
		                            <h2>{l}Yuki{endl} </h2>
                				</div><!-- /.section-title -->
                			</div>
                			<div class="col-xs-9 pull-right" ng-if="vm.yuk.hide_deactive==true">
								<small>{l}Please fill with the credentials from your Account{endl}.</small>
                			</div>
                			<div class="col-xs-9 pull-right" ng-if="vm.yuk.hide_active==true">
                				<div class="form-group">
								    <label class="col-xs-6 control-label text-left">
		                            	{l}Provider{endl}
			                        </label>
			                        <div class="col-xs-6 efff">
			                        	<selectize config='vm.providerCfg' options='vm.providers' ng-model="vm.yuk.eff_drop" ng-disabled="true"></selectize>
					                </div>
								</div>	         
								<div class="form-group" ng-if="vm.yuk.eff_drop=='0'">
								    <label class="col-xs-6 control-label text-left" for="inputEmail">
		                            	{l}Api key{endl}<span class="mandatory-label">*</span>
			                          </label>
			                        <div class="col-xs-6 yuki_code_padding">
			                            {{vm.yuk.api_key}}
			                        </div>
								</div>
								<div class="form-group" ng-if="vm.yuk.eff_drop=='0'">
								    <label class="col-xs-6 control-label text-left" for="inputEmail">
		                            	{l}Admin key{endl}<span class="mandatory-label">*</span>
			                          </label>
			                          <div class="col-xs-6 yuki_code_padding">
			                            {{vm.yuk.admin_key}}
			                          </div>
								</div>
								<div class="form-group" ng-if="vm.yuk.eff_drop=='1'">
								    <label class="col-xs-6 control-label text-left" for="inputEmail">
		                            	{l}Dropbox folder for sales invoices{endl}
			                        </label>
			                        <label class="col-xs-6 control-label text-left">
			                            {{vm.yuk.yuki_drop_sale}}
			                        </label>
								</div>
								<div class="form-group">
								    <label class="col-xs-6 control-label text-left" for="inputEmail">
		                            	{l}Dropbox folder for purchase invoices{endl}
			                        </label>
			                        <label class="col-xs-6 control-label text-left">
			                            {{vm.yuk.yuki_drop}}
			                        </label>
								</div>
								<div class="form-group">
                                    <label class="col-xs-6 control-label text-left">{l}Export invoice{endl}</label>
                                    <div class="col-xs-6" uib-popover="{l}This setting has been enforced by your accountant. Please contact them if you want to change the automated export settings{endl}" popover-placement="'top'" popover-trigger="'mouseenter'" popover-enable="{{vm.yuk.accountant_export_invoice_force}}">
                                        <selectize config='vm.exportAutoCfg' options='vm.yuk.exportAutoOpts' ng-model="vm.yuk.exportAutoInvoice" ng-disabled="vm.yuk.accountant_export_invoice_force"></selectize>
                                    </div>                          
                                </div>
                                <div class="form-group">
                                    <label class="col-xs-6 control-label text-left">{l}Export purchase invoice{endl}</label>
                                    <div class="col-xs-6" uib-popover="{l}This setting has been enforced by your accountant. Please contact them if you want to change the automated export settings{endl}" popover-placement="'top'" popover-trigger="'mouseenter'" popover-enable="{{vm.yuk.accountant_export_pinvoice_force}}">
                                        <selectize config='vm.exportAutoCfg' options='vm.yuk.exportAutoOpts' ng-model="vm.yuk.exportAutoPInvoice" ng-disabled="vm.yuk.accountant_export_pinvoice_force"></selectize>
                                    </div>                          
                                </div>
                                <!-- <div class="form-group" >
				                  <label class="col-xs-6 control-label text-left">{l}Enable Yuki Projects{endl}</label>
				                  <div class="col-xs-6">
				                      <toggle-switch ng-change="vm.change(vm)" ng-model="vm.yuk.yuki_projects_enabled" class="switch-primary " off-label="{l}No{endl}" on-label="{l}Yes{endl}" ></toggle-switch>
				                  </div>
								</div> -->
								
								<div class="form-group">								
									<label class="col-xs-6 control-label text-left">{l}Enable Yuki Projects{endl}</label>								
									<div class=" col-xs-6 pull-right">
										<label class="switch pull-left">
											<input type="checkbox" ng-change="vm.change(vm)" ng-model="vm.yuk.yuki_projects_enabled">
											<span class="slider round"></span>
										</label>
									</div>
								</div>
								<div class="form-group">
								    <label class="col-xs-6 control-label text-left" ng-if="vm.yuk.hide_active==true">
		                            	<a href="#" class="text-link" ng-click="vm.openModal('yuki_settings','','lg')">{l}Manage VAT regime mappings{endl}</a>
			                        </label>
			                        
								</div>
							</div>
						</div>
					</div>
					<div class="col-xs-9 col-xs-offset-3" ng-if="vm.yuk.hide_deactive==true">
						<div class="form-group">
						    <label class="col-xs-6 control-label text-left">
                            	{l}Provider{endl}
	                        </label>
	                        <div class="col-xs-6">
	                        	<selectize config='vm.providerCfg' options='vm.providers' ng-model="vm.yuk.eff_drop"></selectize>
			                </div>		           	                
						</div>
						<div class="form-group" ng-if="vm.yuk.eff_drop=='0'" ng-class="{ 'form-group_alert' : yuki_form.api_key.$invalid && !yuki_form.api_key.$pristine }">
						    <label class="col-xs-6 control-label text-left" for="inputEmail">
                            	{l}Api key{endl}<span class="mandatory-label">*</span>
	                          </label>
	                          <div class="col-xs-6">
	                            <input id="inputCode" class="form-control" type="text" name="api_key" ng-model="vm.yuk.api_key">
	                            <div class="alert alert-sm alert-danger" ng-if="yuki_form.api_key.$invalid && vm.alertsField.api_key">{{vm.alertsField.api_key}}</div>
	                          </div>
						</div>
						<div class="form-group" ng-if="vm.yuk.eff_drop=='0'" ng-class="{ 'form-group_alert' : yuki_form.admin_key.$invalid && !yuki_form.admin_key.$pristine }">
						    <label class="col-xs-6 control-label text-left" for="inputEmail">
                            	{l}Admin key{endl}<span class="mandatory-label">*</span>
	                          </label>
	                          <div class="col-xs-6">
	                            <input id="inputCode" class="form-control" type="text" name="admin_key" ng-model="vm.yuk.admin_key">
	                            <div class="alert alert-sm alert-danger" ng-if="yuki_form.admin_key.$invalid && vm.alertsField.admin_key">{{vm.alertsField.admin_key}}</div>
	                          </div>
						</div>	
						<div class="form-group" ng-if="vm.yuk.eff_drop=='1'">
						    <label class="col-xs-6 control-label text-left" for="inputEmail">
                            	{l}Dropbox folder for sales invoices{endl}
	                        </label>
	                        <label class="col-xs-6 control-label text-left" ng-if="vm.yuk.yuki_drop_sale.length">{{vm.yuk.yuki_drop_sale}} &nbsp;&nbsp;<a href="#" ng-click="vm.showFolders('yuki_drop_sale')" uib-tooltip="{l}Select Folder{endl}" tooltip-placement="left"><span class="glyphicon glyphicon-open-file"></span></a></label>
	                        <label class="col-xs-6 control-label text-left" ng-if="!vm.yuk.yuki_drop_sale.length"><a href="#" ng-click="vm.showFolders('yuki_drop_sale')" class="btn btn-default">{l}Select Folder{endl}</a></label>
						</div>
						<div class="form-group">
						    <label class="col-xs-6 control-label text-left" for="inputEmail">
                            	{l}Dropbox folder for purchase invoices{endl}
	                        </label>

	                        <label class="col-xs-6 control-label text-left" ng-if="vm.yuk.yuki_drop.length">{{vm.yuk.yuki_drop}} &nbsp;&nbsp;<a href="#" ng-click="vm.showFolders('yuki_drop')" uib-tooltip="{l}Select Folder{endl}" tooltip-placement="left"><span class="glyphicon glyphicon-open-file"></span></a></label>
	                        <label class="col-xs-6 control-label text-left" ng-if="!vm.yuk.yuki_drop.length"><a href="#" ng-click="vm.showFolders('yuki_drop')" class="btn btn-default">{l}Select Folder{endl}</a></label>
						</div>
						<div class="form-group">
                            <label class="col-xs-6 control-label text-left">{l}Export invoice{endl}</label>
                            <div class="col-xs-6" uib-popover="{l}This setting has been enforced by your accountant. Please contact them if you want to change the automated export settings{endl}" popover-placement="'top'" popover-trigger="'mouseenter'" popover-enable="{{vm.yuk.accountant_export_invoice_force}}">
                                <selectize config='vm.exportAutoCfg' options='vm.yuk.exportAutoOpts' ng-model="vm.yuk.exportAutoInvoice" ng-disabled="vm.yuk.accountant_export_invoice_force"></selectize>
                            </div>                          
						</div>
						<!-- <div class="form-group" >
							<label class="col-xs-6 control-label text-left">{l}Enable Yuki Projects{endl}</label>
							<div class="col-xs-6">
								<toggle-switch ng-change="vm.change(vm)" ng-model="vm.yuk.yuki_projects_enabled" class="switch-primary " off-label="{l}No{endl}" on-label="{l}Yes{endl}" ></toggle-switch>
							</div>
						  </div> -->


						  <div class="form-group">
						   
					
								<label class="col-xs-6 control-label text-left">{l}Enable Yuki Projects{endl}</label>
							
							<div class=" col-xs-6 pull-right">   
						
								<label class="switch pull-left">
									<input type="checkbox" ng-change="vm.change(vm)" ng-model="vm.yuk.yuki_projects_enabled">
									<span class="slider round"></span>
								  </label> 
							</div>
							</div>




                        <div class="form-group">
                            <label class="col-xs-6 control-label text-left">{l}Export purchase invoice{endl}</label>
                            <div class="col-xs-6" uib-popover="{l}This setting has been enforced by your accountant. Please contact them if you want to change the automated export settings{endl}" popover-placement="'top'" popover-trigger="'mouseenter'" popover-enable="{{vm.yuk.accountant_export_pinvoice_force}}">
                                <selectize config='vm.exportAutoCfg' options='vm.yuk.exportAutoOpts' ng-model="vm.yuk.exportAutoPInvoice" ng-disabled="vm.yuk.accountant_export_pinvoice_force"></selectize>
                            </div>                          
						</div>

						<div class="form-group">
                            <label class="col-xs-6 control-label text-left">{l}Default ledger account{endl}</label>
                            <div class="col-xs-6" uib-popover="" popover-placement="'top'" popover-trigger="'mouseenter'">
                                <selectize config='' options='' ng-model="" ng-disabled=""></selectize>
                            </div>                          
						</div>
                       <!--  <div class="form-group" >
		                  <label class="col-xs-5 control-label text-left">{l}Enable Yuki Projects{endl}</label>
		                  <div class="col-xs-7">
		                      <toggle-switch ng-change="vm.change(vm)" ng-model="vm.yuk.yuki_projects_enabled" class="switch-primary " off-label="{l}No{endl}" on-label="{l}Yes{endl}" ></toggle-switch>
		                  </div>
		                </div> -->
						<!-- <div class="form_group">
							<div class="col-xs-7 control-label" ng-repeat="item in vm.yuk.folderloop">
	                        	<span class="glyphicon glyphicon-plus btn-expand" ng-click="vm.listMore(vm,vm.yuk,item,$index)"></span>{{item.folder}} <input type="radio" value="{{item.folder}}" name="yuki_drop" ng-model="item.folder" >
			                </div>
						</div> -->
					</div>
				</div>
			</form>
		</div>

		<div class="modal-footer">
			<button type="submit" class="btn btn-tertiary_red" ng-if="vm.yuk.hide_active==true" ng-click="vm.yuky(yuki_form)">{{vm.yuk.title}}</button>
			<button class="btn btn-plain" ng-click="vm.cancel()">{l}Cancel{endl}</button>
			<button type="submit" class="btn btn-default" ng-if="vm.yuk.hide_deactive==true" ng-click="vm.yuky(yuki_form)">{{vm.yuk.title}}</button>	
			<button type="button" class="btn btn-default" ng-disabled="yuki_form.$pristine" ng-if="vm.yuk.hide_active==true" ng-click="vm.saveSettings()" >{{vm.yuk.save_button_text}}</button>
		</div>
	</div>
	
</div>
