<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="vm.cancel()"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title">{l}Integration with Zendesk{endl}</h4>
</div>
<div class="tab-content">
    <div class="tab-pane active" id="labels">
        <div class="modal-body">
            <div class="loading_wrap loading_alt hidden">
                <div class="loading"></div>
                <div class="spinner"></div>
            </div>
            <!-- <div uib-alert ng-repeat="alert in vm.alerts" type="{{alert.type}}" close="vm.alerts.splice($index, 1);" ng-class="['alert-' + (alert.type || 'warning')]" dismiss-on-timeout='5000' >{{alert.msg}}</div> -->
            <form class="form-horizontal" name="zen_form" novalidate>
                <div class="row">
                    <div class="col-xs-12">
                        <div class="form-group">
                            <div class="col-xs-3">
                                <img class="img-thumbnail" ng-src="{{vm.zendesk.CLASS2}}" width="232" height="90" alt="" />
                                <div class="margin-top text-center">

                                </div>
                            </div>
                            <div class="col-xs-9">
                                <div class="section-title">
                                    <h2>{l}Zendesk{endl}</h2>
                                </div>
                                <!-- /.section-title -->
                            </div>
                            <div class="margin-top col-xs-9 pull-right">
                                <!-- <label class="text-muted"><b>{l}Note{endl}</b>: {l}Zendesk Url is your Zendesk organization Url as https://organization.zendesk.com{endl}</label> -->

                                <div class="form-group" ng-class="{ 'form-group_alert' : zen_form.url.$invalid && !zen_form.url.$pristine }">
                                    <label class="col-xs-6 control-label text-left">
			                           	{l}Zendesk Url{endl}<span class="mandatory-label">*</span>  <label><i class="fa fa-question-circle" uib-tooltip="{l}Zendesk Url is your Zendesk organization Url as https://organization.zendesk.com{endl}" tooltip-placement="right"></i></label>
                                    </label>
                                    <div class="col-xs-6">
                                        <input class="form-control" name="url" type="text" ng-model="vm.zendesk.url" ng-disabled="vm.zendesk.active==true" placeholder="{l}Zendesk Url{endl}">
                                        <div class="alert alert-sm alert-danger" ng-if="zen_form.url.$invalid && vm.alertsField.url">{{vm.alertsField.url}}</div>
                                    </div>
                                </div>
                            </div>
                            <div class="margin-top col-xs-9 pull-right">
                                <div class="form-group" ng-class="{ 'form-group_alert' : zen_form.email.$invalid && !zen_form.email.$pristine }">
                                    <label class="col-xs-6 control-label text-left">
			                           	{l}Email{endl}<span class="mandatory-label">*</span>
				                    </label>
                                    <div class="col-xs-6">
                                        <input class="form-control" name="email" type="text" ng-model="vm.zendesk.email" ng-disabled="vm.zendesk.active==true" placeholder="{l}Email{endl}">
                                        <div class="alert alert-sm alert-danger" ng-if="zen_form.email.$invalid && vm.alertsField.email">{{vm.alertsField.email}}</div>
                                    </div>
                                </div>
                            </div>
                            <div class="margin-top col-xs-9 pull-right">
                                <div class="form-group" ng-class="{ 'form-group_alert' : zen_form.password.$invalid && !zen_form.password.$pristine }">
                                    <label class="col-xs-6 control-label text-left">
			                           	{l}Token{endl}<span class="mandatory-label">*</span>
				                    </label>
                                    <div class="col-xs-6">
                                        <input class="form-control" name="password" type="text" ng-model="vm.zendesk.password" ng-disabled="vm.zendesk.active==true" placeholder="{l}Token{endl}">
                                        <div class="alert alert-sm alert-danger" ng-if="zen_form.password.$invalid && vm.alertsField.password">{{vm.alertsField.password}}</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <button class="btn btn-plain" type="button" ng-click="vm.cancel()">{l}Close{endl}</button>
            <button type="submit" class="btn btn-default" ng-if="vm.zendesk.active==false" ng-click="vm.zendesk_connect(zen_form)">{{vm.zendesk.title}}</button>
            <button type="submit" class="btn btn-tertiary_red" ng-if="vm.zendesk.active==true" ng-click="vm.zendesk_disconnect()">{{vm.zendesk.title}}</button>
        </div>
    </div>

</div>