<div class="modal-header">
  	<button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="bPay.cancel()"><span aria-hidden="true">&times;</span></button>
  	<h4 class="modal-title">{l}Instapaid Status{endl}</h4>
</div>
<div class="modal-body">
	<div class="col-sm-12 col-bottom col-top fluid-iframe">
		<iframe class="fluid-iframe" ng-src="{{bPay.obj.link}}"></iframe>	
	</div>
</div>
<div class="modal-footer">
      <button class="btn btn-plain" type="button" ng-click="bPay.cancel()">{l}Close{endl}</button>
</div>