<div class="modal-header">
  	<button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="bPay.cancel()"><span aria-hidden="true">&times;</span></button>
  	<h4 class="modal-title">{l}Instapaid Recovery Actions{endl}</h4>
</div>
<div uib-alert ng-repeat="alert in bPay.alerts" type="{{alert.type}}" close="bPay.alerts.splice($index, 1);" dismiss-on-timeout="5000" ng-class="['alert-' + (alert.type || 'warning') ]">{{alert.msg}}</div>
<div class="modal-body">
	<div class="loading_wrap loading_alt hidden">
      	<div class="loading"></div>
        	<div class="spinner"></div>
      </div>
	<div class="col-sm-12 col-bottom col-top bepaid_options">
		<p ng-if="bPay.obj.lg !='fr' && bPay.obj.lg !='nl'">Instapaid is your one-click solution to recover late payment faster.</p>
		<p ng-if="bPay.obj.lg =='fr'">InstaPaid vous permet de recouvrer votre argent en 1 clic.</p>
		<p ng-if="bPay.obj.lg =='nl'">Instapaid maakt het mogelijk om uw geld in 1 click te inkasseren.</p>
		<p ng-if="bPay.obj.lg !='fr' && bPay.obj.lg !='nl'">You can trigger two different recovery actions:</p>
		<p ng-if="bPay.obj.lg =='fr'">Voici les deux actions que vous pouvez activer:</p>
		<p ng-if="bPay.obj.lg =='nl'">Dit zijn de 2 acties die U kunt ondernemen:</p>
		<div class="col-sm-12 radio-list">
			<div class="row">
				<div class="col-sm-1">
					<input type="checkbox" ng-click="bPay.obj.friendly=false" ng-model="bPay.obj.letter">
				</div> 
				<div class="col-sm-11">
					<p ng-if="bPay.obj.lg !='fr' && bPay.obj.lg !='nl'"><strong>Last Hope Letter</strong>: with a fixed cost of 10 euros, our husher sends an official letter to your debtor. Such official document has proven impact on large number of debtors. Your client is ordered to pay without delay directly on your own account. It is your first lever to recover your money.</p>
					<p ng-if="bPay.obj.lg =='fr'"><strong>Lettre d’huissier </strong>: nos partenaires huissiers envoient une lettre d’huissier à votre débiteur. Le coût est de 10 euros fixes. Ce type de document a prouvé son efficacité auprès de nombreux débiteurs. Il sera demandé à votre débiteur de payer rapidement et directement sur votre compte. Ceci est notre premier niveau de recouvrement.</p>
					<p ng-if="bPay.obj.lg =='nl'"><strong>Deurwaardersbrief</strong>: onze deurwaarders sturen een deurwaardersbrief naar uw debiteur. De vaste kost voor deze dienst is 10 euro. Deze brief is zeer efficient en bijkomend zal er gevraagd worden om rechtstreeks te betalen op uw bankrekening. Dit is onze eerste stap in invordering.</p>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-1">
					<input type="checkbox" ng-click="bPay.obj.letter=false" ng-model="bPay.obj.friendly">
				</div> 
				<div class="col-sm-11">
					<p ng-if="bPay.obj.lg !='fr' && bPay.obj.lg !='nl'"><strong>Amicable recovery:</strong> with a No cure/No Pay principle, our husher is acting towards your debtor to recover your payment (formal notice, calls, emails…). You have no risk. It only costs you a fee of 19% of the recovered amount. That means if nothing is recovered : it is free. But we think we will. It is a second lever to recover your money.</p>
					<p ng-if="bPay.obj.lg =='fr'"><strong>Recouvrement amiable:</strong> avec un principe de No cure/No Pay, nos huissiers mettent tout en oeuvre (mise en demeure, appels, emails…) pour que votre débiteur paye sa dette, tout en veillant à garder vos bonnes relations. Le risque est nulle car si rien n’est recouvré, c’est gratuit. Le coût est seulement de 19% de la somme recouvrée. Ceci est notre deuxième niveau de recouvrement.</p>
					<p ng-if="bPay.obj.lg =='nl'"><strong>Minnelijke invordering:</strong> met een ‘no cure/no pay” principe doen onze deurwaarders al het nodige (ingebrekestelling, telefonische oproepen, emails,...) opdat uw debiteur zijn schuld betaalt. Deze dienst is gratis indien er geen resultaat is. Indien er wordt betaalt is de kost 19% van de teruggevorderde rekening. Dit is onze 2de niveau van invordering.</p>
				</div>
			</div>
		</div>	
	</div>
</div>
<div class="modal-footer bepaid_btn">
      <button class="btn btn-plain" type="button" ng-click="bPay.cancel()">{l}Cancel{endl}</button>
      <button class="btn btn-default" type="button" ng-disabled="!bPay.obj.letter && !bPay.obj.friendly" ng-click="bPay.ok()">{l}Confirm{endl}</button>
</div>