<div class="modal-header">
  	<button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="bPay.cancel()"><span aria-hidden="true">&times;</span></button>
  	<h4 class="modal-title" ng-if="bPay.obj.lg !='fr' && bPay.obj.lg !='nl'">Start now with Instapaid</h4>
  	<h4 class="modal-title" ng-if="bPay.obj.lg =='fr'">Commencez dès maintenant avec InstaPaid</h4>
  	<h4 class="modal-title" ng-if="bPay.obj.lg =='nl'">Instapaid maakt het mogelijk om uw geld in 1 click te inkasseren</h4>
</div>
<div class="modal-body">
	<div class="col-sm-12 col-bottom col-top">
		<p ng-if="bPay.obj.lg !='fr' && bPay.obj.lg !='nl'">Instapaid is your one-click solution to recover late payment faster. You click, we collect !</p>
		<p ng-if="bPay.obj.lg =='fr'">InstaPaid vous permet de recouvrer votre argent en 1 clic. Vous cliquez, nous recouvrons !</p>
		<p ng-if="bPay.obj.lg =='nl'">Instapaid maakt het mogelijk om uw geld in 1 click te inkasseren.</p>
		<p ng-if="bPay.obj.lg !='fr' && bPay.obj.lg !='nl'">You can trigger two different recovery actions:</p>
		<p ng-if="bPay.obj.lg =='fr'">Voici les deux actions que vous pourrez activer:</p>
		<p ng-if="bPay.obj.lg =='nl'">Dit zijn de 2 acties die U kunt ondernemen:</p>
		<ul>
			<li ng-if="bPay.obj.lg !='fr' && bPay.obj.lg !='nl'"><p><strong>Last Hope Letter</strong>: with a fixed cost of 10 euros, our husher sends an official letter to your debtor. Such official document has proven impact on large number of debtors. Your client is ordered to pay without delay directly on your own account. It is your first lever to recover your money.</p>
			</li>
			<li ng-if="bPay.obj.lg =='fr'"><p><strong>Lettre d’huissier</strong>: nos partenaires huissiers envoient une lettre d’huissier à votre débiteur. Le coût est de 10 euros fixes. Ce type de document a prouvé son efficacité auprès de nombreux débiteurs. Il sera demandé à votre débiteur de payer rapidement et directement sur votre compte. Ceci est notre premier niveau de recouvrement.</p>
			</li>
			<li ng-if="bPay.obj.lg =='nl'"><p><strong>Deurwaardersbrief</strong>: onze deurwaarders sturen een deurwaardersbrief naar uw debiteur. De vaste kost voor deze dienst is 10 euro. Deze brief is zeer efficient en bijkomend zal er gevraagd worden om rechtstreeks te betalen op uw bankrekening. Dit is onze eerste stap in invordering.</p>
			</li>
			<li ng-if="bPay.obj.lg !='fr' && bPay.obj.lg !='nl'"><p><strong>Amicable recovery:</strong> with a No cure/No Pay principle, our husher is acting towards your debtor to recover your payment (formal notice, calls, emails…). You have no risk. It only costs you a fee of 19% of the recovered amount. That means if nothing is recovered : it is free. But we think we will. It is a second lever to recover your money.</p>
			</li>
			<li ng-if="bPay.obj.lg =='fr'"><p><strong>Recouvrement amiable:</strong> avec un principe de No cure/No Pay, nos huissiers mettent tout en oeuvre (mise en demeure, appels, emails…) pour que votre débiteur paye sa dette, tout en veillant à garder vos bonnes relations. Le risque est nulle car si rien n’est recouvré, rien n’est dû. Le coût est seulement de 19% de la somme recouvrée. Ceci est notre deuxième niveau de recouvrement.</p>
			</li>
			<li ng-if="bPay.obj.lg =='nl'"><p><strong>Minnelijke invordering:</strong> met een ‘no cure/no pay” principe doen onze deurwaarders al het nodige (ingebrekestelling, telefonische oproepen, emails,...) opdat uw debiteur zijn schuld betaalt. Deze dienst is gratis indien er geen resultaat is. Indien er wordt betaalt is de kost 19% van de teruggevorderde rekening. Dit is onze 2de niveau van invordering.</p>
			</li>
		</ul>
		<p ng-if="bPay.obj.lg !='fr' && bPay.obj.lg !='nl'">Thank to the integration with Akti, as soon as you have a late payment on one of your invoice, you can trigger your preferred recovery action in one-click.</p>
		<p ng-if="bPay.obj.lg =='fr'">Grâce à notre intégration dans Akti, dès que vous souffrez d’un retard de paiement, vous pouvez déclencher votre action de recouvrement en un seul clic.</p>
		<p ng-if="bPay.obj.lg =='nl'">Dankzij onze integratie in Akti, kunt U snel een aktie ondernemen door 1 click.</p>
		<div class="col-sm-12">
			<div class="col-sm-1">
				<input type="checkbox" ng-click="bPay.obj.accept=!bPay.obj.accept" />
			</div>
			<div class="col-sm-11">
				<label ng-if="bPay.obj.lg !='fr' && bPay.obj.lg !='nl'">I want to start using Instapaid and I accept the terms and conditions</label>
				<label ng-if="bPay.obj.lg =='fr'">Oui, je veux commencer à utiliser InstaPaid, et j’accepte les conditions générales de vente</label>
				<label ng-if="bPay.obj.lg =='nl'">Ja, ik wens Instapaid te gebruiken, en aanvaard de algemene voorwaarden</label>
			</div>			
		</div>
	</div>
</div>
<div class="modal-footer">
      <a class="btn btn-plain" href="mailto:info@InstaPaid.be">{l}I have a question{endl}</a>
      <button class="btn btn-default" type="button" ng-disabled="!bPay.obj.accept" ng-click="bPay.ok()">{l}Start{endl}</button>
</div>