<div class="modal-header">
  	<button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="bPay.cancel()"><span aria-hidden="true">&times;</span></button>
  	<h4 class="modal-title">{l}Instapaid Registration{endl}</h4>
</div>
<div class="modal-body">
	<div class="loading_wrap loading_alt hidden">
      	<div class="loading"></div>
        	<div class="spinner"></div>
      </div>
      <div uib-alert ng-repeat="alert in bPay.alerts" type="{{alert.type}}" close="bPay.alerts.splice($index, 1);" dismiss-on-timeout="1500" ng-class="['alert-' + (alert.type || 'warning') ]">{{alert.msg}}</div>
	<div class="col-sm-12 col-bottom col-top">
		<form class="form-horizontal text-left" name="bPaid_reg" no-validate=''>
			<div class="form-group" ng-class="{ 'form-group_alert' : bPaid_reg.invoice_seller_name.$invalid && !bPaid_reg.invoice_seller_name.$pristine }">
				<label class="col-sm-3 control-label">{l}Company Name{endl}</label>
				<div class="col-sm-9">
					<input type="text" class="form-control" ng-model="bPay.obj.invoice_seller_name" name="invoice_seller_name" placeholder="Company Name" required />
					<div class="alert alert-sm alert-danger" ng-if="bPaid_reg.invoice_seller_name.$invalid && bPay.alertsField.invoice_seller_name">{{bPay.alertsField.invoice_seller_name}}</div>
				</div>
			</div>
			<div class="form-group" ng-class="{ 'form-group_alert' : bPaid_reg.invoice_seller_email.$invalid && !bPaid_reg.invoice_seller_email.$pristine }">
				<label class="col-sm-3 control-label">{l}Email{endl}</label>
				<div class="col-sm-9">
					<input type="text" class="form-control" ng-model="bPay.obj.invoice_seller_email" name="invoice_seller_email" placeholder="Email" required />
					<div class="alert alert-sm alert-danger" ng-if="bPaid_reg.invoice_seller_email.$invalid && bPay.alertsField.invoice_seller_email">{{bPay.alertsField.invoice_seller_email}}</div>
				</div>
			</div>
			<div class="form-group" ng-class="{ 'form-group_alert' : bPaid_reg.invoice_vat_no.$invalid && !bPaid_reg.invoice_vat_no.$pristine }">
				<label class="col-sm-3 control-label">{l}VAT{endl}</label>
				<div class="col-sm-9">
					<input type="text" class="form-control" ng-model="bPay.obj.invoice_vat_no" name="invoice_vat_no" placeholder="Vat" required />
					<div class="alert alert-sm alert-danger" ng-if="bPaid_reg.invoice_vat_no.$invalid && bPay.alertsField.invoice_vat_no">{{bPay.alertsField.invoice_vat_no}}</div>
				</div>
			</div>
			<div class="form-group">
                        <label class="col-sm-3 control-label">{l}Language{endl}</label>
                        <div class="col-sm-9">
                          <select class="form-control" ng-model="bPay.obj.languages">
                            <option ng-repeat="option in bPay.obj.language_dd track by option.id" value="{{option.id}}">{{option.name}}</option>
                          </select>
                        </div>
                  </div>
                  <div class="form-group" ng-class="{ 'form-group_alert' : bPaid_reg.invoice_seller_iban.$invalid && !bPaid_reg.invoice_seller_iban.$pristine }">
				<label class="col-sm-3 control-label">{l}Bank Iban{endl}</label>
				<div class="col-sm-9">
					<input type="text" class="form-control" ng-model="bPay.obj.invoice_seller_iban" name="invoice_seller_iban" placeholder="Bank Iban" required />
					<div class="alert alert-sm alert-danger" ng-if="bPaid_reg.invoice_seller_iban.$invalid && bPay.alertsField.invoice_seller_iban">{{bPay.alertsField.invoice_seller_iban}}</div>
				</div>
			</div>
			<div class="form-group" ng-class="{ 'form-group_alert' : bPaid_reg.invoice_seller_swift.$invalid && !bPaid_reg.invoice_seller_swift.$pristine }">
				<label class="col-sm-3 control-label">{l}Bank BIC{endl}</label>
				<div class="col-sm-9">
					<input type="text" class="form-control" ng-model="bPay.obj.invoice_seller_swift" name="invoice_seller_swift" placeholder="Bank Swift" required />
					<div class="alert alert-sm alert-danger" ng-if="bPaid_reg.invoice_seller_swift.$invalid && bPay.alertsField.invoice_seller_swift">{{bPay.alertsField.invoice_seller_swift}}</div>
				</div>
			</div>
			<div class="form-group" ng-class="{ 'form-group_alert' : bPaid_reg.invoice_seller_b_address.$invalid && !bPaid_reg.invoice_seller_b_address.$pristine }">
				<label class="col-sm-3 control-label">{l}Street{endl}</label>
				<div class="col-sm-9">
					<input type="text" class="form-control" ng-model="bPay.obj.invoice_seller_b_address" name="invoice_seller_b_address" placeholder="Address" required />
					<div class="alert alert-sm alert-danger" ng-if="bPaid_reg.invoice_seller_b_address.$invalid && bPay.alertsField.invoice_seller_b_address">{{bPay.alertsField.invoice_seller_b_address}}</div>
				</div>
			</div>
			<div class="form-group" ng-class="{ 'form-group_alert' : bPaid_reg.invoice_seller_b_city.$invalid && !bPaid_reg.invoice_seller_b_city.$pristine }">
				<label class="col-sm-3 control-label">{l}City{endl}</label>
				<div class="col-sm-9">
					<input type="text" class="form-control" ng-model="bPay.obj.invoice_seller_b_city" name="invoice_seller_b_city" placeholder="City" required />
					<div class="alert alert-sm alert-danger" ng-if="bPaid_reg.invoice_seller_b_city.$invalid && bPay.alertsField.invoice_seller_b_city">{{bPay.alertsField.invoice_seller_b_city}}</div>
				</div>
			</div>
			<div class="form-group" ng-class="{ 'form-group_alert' : bPaid_reg.invoice_seller_b_zip.$invalid && !bPaid_reg.invoice_seller_b_zip.$pristine }">
				<label class="col-sm-3 control-label">{l}Zip{endl}</label>
				<div class="col-sm-9">
					<input type="text" class="form-control" ng-model="bPay.obj.invoice_seller_b_zip" name="invoice_seller_b_zip" placeholder="Zip" required />
					<div class="alert alert-sm alert-danger" ng-if="bPaid_reg.invoice_seller_b_zip.$invalid && bPay.alertsField.invoice_seller_b_zip">{{bPay.alertsField.invoice_seller_b_zip}}</div>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">{l}Country{endl}</label>
				<div class="col-sm-9">
					<select class="form-control" ng-model="bPay.obj.invoice_seller_b_country_id">
		                    <option ng-repeat="option in bPay.obj.invoice_seller_b_country_dd track by option.id" value="{{option.id}}" ng-bind-html="option.name"></option>
		                  </select>
				</div>
			</div>
		</form>
	</div>
</div>
<div class="modal-footer">
      <button class="btn btn-plain" type="button" ng-click="bPay.cancel()">{l}Cancel{endl}</button>
    	<button class="btn btn-default" type="button" ng-click="bPay.ok(bPaid_reg)">{l}Register{endl}</button>
</div>