<div class="modal-header">
  	<button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="set.cancel()"><span aria-hidden="true">&times;</span></button>
  	<h4 class="modal-title">{l}Csv Settings{endl}</h4>
</div>
<div class="modal-body">
	<div uib-alert ng-repeat="alert in set.alerts" type="{{alert.type}}" close="set.alerts.splice($index, 1);" dismiss-on-timeout="3000" ng-class="['alert-' + (alert.type || 'warning') ]">{{alert.msg}}</div>
	<div class="col-sm-12 col-bottom col-top">		
		<table class="table active_rows orderTable">
			<thead>
				<tr>
					<th class="col-sm-4">{l}Description{endl}</th>
					<th class="col-sm-2">{l}VAT{endl}</th>
					<th class="col-sm-2">{l}Type{endl}</th>
					<th class="col-sm-4 text-center">{l}Value{endl}</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="item in set.obj.vats">
					<td>{{item.VAT_VALUE}}</td>
					<td>{{item.value}} %</td>
					<td>{{item.regime_type}}</td>
					<td>
						<div class="col-sm-12">
				               <input type="text" class="form-control" ng-model="item.selected" ng-blur="set.exportsettingup(item)">   
			                	</div>
					</td>
				</tr>
			</tbody>
		</table>
		<table class="table active_rows orderTable">
			<thead>
				<tr>
					<th class="col-sm-4">{l}Description{endl}</th>
					<th class="col-sm-8 text-center">{l}Value{endl}</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="item in set.obj.types">
					<td>{{item.name}}</td>
					<td>
						<div class="col-sm-12">
				               <input type="text" class="form-control" ng-model="item.selected" ng-blur="set.exportsettingType(item)">   
			                	</div>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
<div class="modal-footer">
	<button class="btn btn-plain" type="button" ng-click="set.cancel()">{l}Close{endl}</button>
</div>