<style>
body {	color: #000;	font-family: Arial, Helvetica, sans-serif;	font-size: 9pt;  }
h1 {  font-size:10pt;	font-weight:bold;  }
table {  border-collapse: collapse;	border-spacing: 0;  }
table td {  font-size: 9pt;  }
.hide {  display:none;  }
.right {  text-align: right;  }
.light_grey {  color: #6a747c;	padding: 0px;  }
.borders {  border-top: 1px solid #000;	border-bottom: 1px solid #000;  }
.bold { font-weight: bold; }
</style>
{if:is_table}
{if:reminder}
  {reminder_table}
{else}
<table width="100%" cellspacing="0" cellpadding="3" border="0" class="invoice_rows {hide_all}">
  <tbody>
    <tr class="{hide_our}">
      <!-- <td width="4%">&nbsp;</td> -->
      <td width="20%"><strong>{our_ref_txt}</strong></td>
      <td colspan="6">{our_ref}</td>
    </tr>
    <tr class="{hide_your}">
      <!-- <td width="4%">&nbsp;</td> -->
      <td width="20%"><strong>{your_ref_txt}</strong></td>
      <td colspan="6">{your_ref}</td>
    </tr>
    {loop:invoice_row}
    <tr>
      <!-- <td width="4%">&nbsp;</td> -->
         {if:content}
      <td width="100%"  {colspan}>{if:title}<h3>{end}{row_description}{if:title}</h3>{end}</td>
      {else}
      <td width="{if_disc_line}%" >{if:show_for_articles}<table width="100%" cellspacing="0" cellpadding="4" class="article_code_txt" border="0">
            <tr>
              <td width="40%" style="">{article_code}</td>
              <td width="60%">{row_description}</td>
            </tr>
          </table>{else}{row_description}{end}
      </td>
      <td width="16%">&nbsp;</td>
      <td width="7%" class="right">{row_quantity}</td>
      <td width="10%" class="right">{row_unit_price}</td>
      {if:hide_row_vat}<td width="13%" class="right {hide_row_vat}">{row_vat} %</td>{end}
      {if:hide_disc_line}<td width="10%" class="right {hide_disc_line}">{row_discount} %</td>{end}
      <td width="15%" class="last right" >{row_amount} </td>
      {end}
    </tr>
    {endloop}
  </tbody>
</table>
<br /><br />
<table cellpadding="3" cellspacing="0" border="0" width="100%" class="{hide_t}" >
  {if:sh_vat2}<tr class="{sh_vat2}">
     <!-- <td width="4%" >&nbsp;</td> -->
    <td width="85%" colspan="2" ><strong>{subtotal_txt}</strong></td>
    <td width="15%" style=" text-align: right;" > {total_novat}</td>
  </tr>
  {if:sh_discount}<tr class="{sh_discount}">
    <!-- <td width="4%">&nbsp;</td> -->
    <td width="85%" colspan="2" ><strong>{discount_txt} ({total_discount_procent} %)</strong></td>
    <td width="15%" style=" text-align: right;"> -{discount_value}</td>
  </tr>
  <tr class="{sh_discount}">
    <td width="85%" colspan="2" ><strong>{net_txt}</strong></td>
    <td width="15%" style=" text-align: right;">{net_value}</td>
  </tr>{end}{end}
  {loop:vat_line}
  <!-- <tr class="{sh_vat}">
    <!-1- <td width="4%">&nbsp;</td> -1->
    <td width="85%"><strong>{vat_txt}({vat_percent} %)</strong></td>
    <td width="15%" style=" text-align: right;"> {vat_value}</td>
  </tr> -->
  {if:sh_vat}<tr class="{sh_vat}">
    <td width="20%" ><strong>{vat_txt} ({vat_percent} %)</strong></td>
    <td width="65%" ><strong>{subtotal_txt}:</strong></td>
    <td width="15%"  class="right ">{sub_value}</td>
  </tr>
  {if:sh_discount}<tr class="{sh_vat}">
    <td width="20%"  >&nbsp;</td>
    <td width="65%"  ><strong>{discount_txt} ({total_discount_procent} %): </strong></td>
    <td width="15%"  class="right ">{disc_value}</td>
  </tr>
  <tr class="{sh_vat}">
    <td width="20%"  >&nbsp;</td>
    <td width="65%"  ><strong>{net_txt}:</strong></td>
    <td width="15%"  class="right ">{nett_value}</td>
  </tr>{end}
  <tr class="{sh_vat}">
    <td width="20%" ></td>
    <td width="65%" ><strong>{vat_txt}:</strong></td>
    <td width="15%"  class="right ">{vat_value}</td>
  </tr>
  {if:show_due_date_vat_pdf}
  <tr class="{sh_vat}">
    <td colspan="3" width="96%" >{due_date_vat_txt}:&nbsp;&nbsp;&nbsp;{invoice_due_date_vat}</td>
  </tr>
  {end}{end}
  {endloop}
  {if:is_proforma}
    <!-- <tr>
      <!-1- <td width="4%">&nbsp;</td> -1->
      <td width="85%" colspan="2"><strong>{amount_txt}</strong></td>
      <td width="15%" style=" text-align: right;"><strong> {total_amount_due}</strong></td>
    </tr> -->
    {if:downpayment}
    <tr>
      <td width="81%" class="borders" colspan="2" style="font-size: 12pt;"><strong>{downpayment_txt}:</strong></td>
      <td width="19%" class="borders" style=" text-align: right;"><strong>{total_downpayment}</strong></td>
    </tr>
    {end}
    {if:show_paid}
    <tr class="{is_paid}">
      <td width="85%" colspan="2"  style="font-size: 12pt;"><strong>{paid_txt}</strong></td>
      <td width="15%"  style=" text-align: right;"><strong>{total_paid}</strong></td>
    </tr>
    <tr>
      <td width="85%" colspan="2" class="borders" style="font-size: 12pt;"><strong>{amount_due_txt}</strong></td>
      <td width="15%" class="borders" style=" text-align: right;"><strong style="{red_if_credit}"> {total_payments}</strong></td>
    </tr>{else}
    <tr>
      <!-- <td width="4%" class="borders">&nbsp;</td> -->
      <td width="85%" colspan="2" class="borders" style="font-size: 12pt;" ><strong>{amount_due_txt} ( <span>{req_payment} %</span> )</strong></td>
      <td width="15%" class="borders" style=" text-align: right;"><strong> {req_payment_value}</strong></td>
    </tr>{end}
  {else}
    {if:downpayment}
    <tr>
      <td width="81%" class="borders" colspan="2" style="font-size: 12pt;"><strong>{downpayment_txt}:</strong></td>
      <td width="19%" class="borders" style=" text-align: right;"><strong>{total_downpayment}</strong></td>
    </tr>
    {end}
    {if:show_paid}
    <tr class="{is_paid}">
      <td width="85%" colspan="2"  style="font-size: 12pt;"><strong>{paid_txt}</strong></td>
      <td width="15%"  style=" text-align: right;"><strong>{total_paid}</strong></td>
    </tr>
    <tr>
      <td width="85%" colspan="2" class="borders" style="font-size: 12pt;"><strong>{amount_due_txt}</strong></td>
      <td width="15%" class="borders" style=" text-align: right;"><strong style="{red_if_credit}"> {total_payments}</strong></td>
    </tr>{else}
    <tr>
      <td width="85%" colspan="2" class="borders" style="font-size: 12pt;" ><strong>{amount_due_txt}</strong></td>
      <td width="15%" class="borders" style=" text-align: right;"><strong style="{red_if_credit}"> {total_amount_due}</strong></td>
    </tr>
    {end}
  {end}

  <!-- {if:default_total}
  <tr>
    <td width="4%" class="borders">&nbsp;</td>
    <td width="81%"  class="borders" style="font-size: 12pt;"><strong>{amount_due_txt} ({def_currency})</strong></td>
    <td width="15%" class="borders" style=" text-align: right;"><strong>{total_amount_due_default}</strong></td>
  </tr>
  {end} -->
  {if:inv_type != '2'}<tr  class="{sh_edit}">
    <td width="50%">{duedate_txt} {invoice_due_date}</td>
    {if:use_ogm}<td width="20%"  class="right ">{ogm_txt}:</td>
    <td width="30%"  class="right "><strong>+++{ogm}+++</strong></td>{end}
  </tr>
  {if:show_sepa_mess}
  <tr>
    <td width="100%" >{sepa_mess}</td>
  </tr>{end}
  {end}
</table>
<br /><br />
<h1 style="border-bottom:1px solid #CCCCCC;" class="{view_notes} {hide_all}">{notes_txt}</h1><br />
<span style="font-size:9pt;" class="{hide_all}">{notes}</span><br/><br/>
<h1 style="border-bottom:1px solid #CCCCCC;" class="{view_notes2} {hide_all}">{notes2_txt}</h1><br>
<span style="font-size:9pt;" class="{hide_all}">{notes2}</span>
{if:show_stamp_signature}
<br />
<table width="100%" cellspacing="0" cellpadding="0" class="" style="clear:both;">
  <tbody>
      <tr>
        <td class="last" style="border:1px solid #CCCCCC;text-align:center;">
          {stamp_signature}<br/>
          &nbsp;<br/>
          &nbsp;<br/>
          &nbsp;<br/>
          &nbsp;<br/>
          &nbsp;<br/>
          &nbsp;</td>
        <td class="last">&nbsp;</td>
        <td class="last">&nbsp;</td>
      </tr>
  </tbody>
</table>
{end}
{end} <!--end: if: -->
{end} <!--end if:is_table-->