<style>
body { color: #000; font-family: 'Nunito-Regular',  font-size: 10pt; }
h1 { font-size:10pt; font-weight:normal;color: #58595B; }
table { border-collapse: collapse; border-spacing: 0; }
table td{ font-size: 9pt; }
.underlined { 
      border-bottom: 0.1em solid #000;       
}
</style>
{if:head}
  {HEADER}
{else}
<table cellpadding="2" cellspacing="4" border="0" width="100%" style="border:1px solid #CCC;">
  <tr>
    <td width="32%" valign="top"><h1>{seller_name}</h1>
      {seller_b_address}<br />
      {seller_b_zip} {seller_b_city} <br />
      {seller_b_country}<br />
      {if:hide_p}{phone_txt}: {seller_b_phone}<br />{end}
      {if:hide_f}{fax_txt}: {seller_b_fax}<br />{end}
      {if:hide_e}{email_txt}: {seller_b_email}<br />{end}
      {if:hide_u}{url_txt}: {seller_b_url}<br />{end}
      {invoice_buyer_vat}
      {if:show_acc_reg_no}<br />{comp_reg_number_txt}: {seller_b_reg_number}<br />{end}
     </td>
    <td width="1%" valign="top"></td>
    <td width="34%" valign="top" ><table cellpadding="0" cellspacing="0" border="0" width="100%">
        <tr>
          <td style="text-align:center;font-size:14pt;"><strong>{invoice_note_txt}</strong></td>
        </tr>
        <tr>
          <td style="text-align:center; border:1px solid #CCC;">{if:not_proforma} {invoice_txt} <strong>{serial_number}</strong> <br> {end}
            {date_txt}: {invoice_date} <br/>
            <span class="{hide_our}">{our_ref_txt}: {our_ref}<br/></span>
            <span class="{hide_your}">{your_ref_txt}: {your_ref}</span>
          </td>
        </tr>
        <tr>
          <td></td>
        </tr>
        <tr>
          <td valign="top" style="text-align:center;"><img src="{account_logo}" {attr} ></td>
        </tr>
      </table></td>
    <td width="1%" valign="top"></td>
    <td width="32%" valign="top">
      <h1>{buyer_name}</h1>
       {if:show_attention_of}{attention_of_txt}: {attention_of}<br />{end}
      {free_field}
      {invoice_vat_no}
      {if:show_comp_reg_no}<br />{comp_reg_number_txt}: {buyer_b_reg_number}<br />{end}
    </td>
  </tr>
  {if:hide_b_d}<tr>
    <td width="34%" >
      <h1>{bankd_txt}</h1>
       {if:bank}{bank_txt}: {bank} <br />{end}
       {if:bic} {bic_txt}: {bic} <br />{end}
      {iban_txt}: {iban}
    </td>
    <td width="36%" >&nbsp;</td>
    <td width="30%" >
      
      <h1>{if:show_bank_details}{bankd_txt}{end}</h1>
      {if:buyer_bank}{if:show_bank_details}{bank_txt}: {buyer_bank}<br />{end}{end}
     {if:buyer_bic}{if:show_bank_details} {bic_txt}: {buyer_bic}<br />{end}{end}
      {if:buyer_iban}{if:show_bank_details}{iban_txt}: {buyer_iban}
      {else}&nbsp;{end}{end}
    </td>
  </tr>{end}
</table>
{end}
{if:reminder}
{reminder_table}
{else}
<table width="100%" cellspacing="0" cellpadding="0" {first_title}>
  <tr><td width="100%"></td></tr>
  <tr style="color: #4f4b4c;font-family: Nunito-Regular; line-height: 100%;">
    <td width="{item_w}%" style="font-size: 10pt;color: #4f4b4c;font-family: Nunito-Regular;border-right: 0.10pt solid #B3B3B3;">{item_txt}</td>
    <td style="font-size: 10pt;color: #4f4b4c;font-family: Nunito-Regular;border-right: 0.10pt solid #B3B3B3; text-align: center;" width="11%">{quantity_txt}</td>
    <td style="font-size: 10pt;color: #4f4b4c;font-family: Nunito-Regular;border-right: 0.10pt solid #B3B3B3;text-align: center;" width="15%">{unit_price_txt}</td>
    {if:hide_row_vat}<td style="font-size: 10pt;color: #4f4b4c;font-family: Nunito-Regular;border-right: 0.10pt solid #B3B3B3;text-align: center;" class="th {hide_row_vat}" width="12%">{vat_txt} %</td>{end}
    {if:hide_disc_line}<td style="font-size: 10pt;color: #4f4b4c;font-family: Nunito-Regular;border-right: 0.10pt solid #B3B3B3;text-align: center;" class="th {hide_disc_line}" width="13%" >{discount_txt} %</td>{end}
    <td width="11%" style="text-align: right;font-size: 10pt;color: #4f4b4c;font-family: Nunito-Regular;">{amount_txt}</td>
  </tr>
          <tbody>
            {loop:invoice_row}
            <tr>
             {if:content}
              {if:title1}
                                </tr>
                               </tbody>
                    </table>

                    <h3 style="text-align: left; line-height: 25px;font-size: 10pt;color: #808080;font-family: Nunito-Regular;">{row_description}</h3>
              {else}
                     {if:title2}
                    </tr>
                         </tbody>
                        </table>
                        <h4 style="text-align: left; line-height: 25px;font-size: 9pt;color: #808080;font-family: Nunito-Regular;">{row_description}</h4>
                     {else}
                        <td style="text-align: left; line-height: 25px;font-size: 10pt; color: #808080;font-family: Nunito-Regular;" {colspan}>{row_description}</td>
                    {end}
              {end}
              {if:is_last_title} 
                              
                    <table width="100%" cellspacing="0" cellpadding="0" >
                          <tr style="color: #4f4b4c;font-family: Nunito-Regular; line-height: 100%; text-align: center;" {after_title2} >
                            <td width="{item_w}%" style="font-size: 10pt;color: #4f4b4c;font-family: Nunito-Regular;border-right: 0.10pt solid #B3B3B3;text-align: left;">{item_txt}</td>
                            <td style="font-size: 10pt;color: #4f4b4c;font-family: Nunito-Regular;border-right: 0.10pt solid #B3B3B3;text-align: center;" width="11%">{quantity_txt}</td>
                            <td style="font-size: 10pt;color: #4f4b4c;font-family: Nunito-Regular;border-right: 0.10pt solid #B3B3B3;text-align: center;" width="15%">{unit_price_txt}</td>
                      {if:hide_row_vat}<td style="font-size: 10pt;color: #4f4b4c;font-family: Nunito-Regular;border-right: 0.10pt solid #B3B3B3;text-align: center;" class="th {hide_row_vat}" width="12%">{vat_txt} %</td>{end}
                      {if:hide_disc_line}<td style="font-size: 10pt;color: #4f4b4c;font-family: Nunito-Regular;border-right: 0.10pt solid #B3B3B3;text-align: center;" class="th {hide_disc_line}" width="13%" >{discount_txt} %</td>{end}
                      <td width="11%" style="font-size: 10pt;color: #4f4b4c;font-family: Nunito-Regular;text-align: right;">{amount_txt}</td>
                          </tr>
                          
                          <tbody><tr style="border-bottom: 0.5pt solid #FF4D00;">
                  {end}
            {else}
            
            <td width="{item_w}%" style="text-align:left; height: 30px; color: #808080;font-family: Nunito-Regular;border-right: 0.10pt solid #B3B3B3;">{if:show_for_articles}<table width="100%" cellspacing="0" cellpadding="0" class="article_code_txt" border="0">
                  <tr style="vertical-align: middle;">
                    <td width="35%" style="line-height: 30px; font-size: 10pt;color: #808080;font-family: Nunito-Regular;">{article_code}</td>
                    <td width="65%" style="line-height: 30px;font-size: 10pt;color: #808080;font-family: Nunito-Regular;">{row_description}</td>
                  </tr>
                </table>{else}<table width="100%" cellspacing="0" cellpadding="0" class="article_code_txt" border="0">
                <tr style="vertical-align: middle;">
                <td width="100%" style="line-height: 30px;font-size: 10pt;color: #808080;font-family: Nunito-Regular;">{row_description}</td></tr>
                </table>{end}
            </td>
            
            <td width="11%" class="right" style="line-height: 30px;font-size: 10pt; color: #808080;font-family: Nunito-Regular;border-right: 0.10pt solid #B3B3B3;text-align: center;">{row_quantity}</td>
            <td width="15%" style="line-height: 30px;font-size: 10pt; color: #808080;font-family: Nunito-Regular;border-right: 0.10pt solid #B3B3B3;text-align: center;">{row_unit_price}</td>
            {if:hide_row_vat}<td width="12%" class="right {hide_row_vat}" style="line-height: 30px;font-size: 10pt; color: #808080;font-family: Nunito-Regular;border-right: 0.10pt solid #B3B3B3;text-align: center;">{row_vat} %</td>{end}
            {if:hide_disc_line}<td width="13%" class="right {hide_disc_line}" style="line-height: 30px;font-size: 10pt;color: #808080;font-family: Nunito-Regular;border-right: 0.10pt solid #B3B3B3;text-align: center;">{row_discount}</td>{end}
            <td width="11%" style="text-align: right;line-height: 30px;font-size: 10pt;color: #808080;font-family: Nunito-Regular;">{row_amount}</td>
            {end}
          </tr>
          {endloop}
        </tbody>
      </table>
<table cellpadding="5" cellspacing="2" border="0" width="100%"> <tr>
    <td width="100%" colspan="2" style="text-align: right; line-height: 15px;font-size: 10pt;color: #214F78;border-bottom: 0.5pt solid #FF4D00;"></td>
  </tr></table>
<table cellpadding="4" cellspacing="0" border="0" width="100%">
<tr>
    <td width="85%" colspan="2" style="text-align: left; line-height: 15px;font-size: 10pt;color: #4f4b4c;font-family: Nunito-Bold;">{subtotal_no_vat_txt}:</td>
    <td width="15%"  style="text-align: right; line-height: 15px;font-size: 10pt;color: #4f4b4c;font-family: Nunito-Bold;">{total_novat}</td>
  </tr>
  {if:sh_vat2}<tr class="{sh_vat2}">
    <td width="80%" colspan="2" style="text-align: left; line-height: 15px;font-size: 10pt;color: #808080;font-family: Nunito-Regular;">{subtotal_txt}:</td>
    <td width="20%"  style="text-align: right; line-height: 15px;color: #808080;font-family: Nunito-Regular;">{total_novat}</td>
  </tr>
  {if:sh_discount}<tr class="{sh_discount}">
    <td width="80%" colspan="2" style="text-align: left; line-height: 15px;font-size: 10pt;color: #808080;font-family: Nunito-Regular;">{discount_txt} ({total_discount_procent} %): </td>
    <td width="20%" style="text-align: right; line-height: 15px;font-size: 10pt;color: #808080;font-family: Nunito-Regular;">-{discount_value}</td>
  </tr>
  <tr class="{sh_discount}">
    <td width="80%" colspan="2" style="text-align: left; line-height: 15px;font-size: 10pt;color: #808080;font-family: Nunito-Regular;">{net_txt}:</td>
    <td width="20%" style="text-align: right; line-height: 15px;font-size: 10pt;color: #808080;font-family: Nunito-Regular;">{net_value}</td>
  </tr>{end}{end}
  {loop:vat_line}
  {if:sh_vat}<tr class="{sh_vat}">
    <td width="80%"  style="text-align: left; line-height: 15px;font-size: 10pt;color: #808080;font-family: Nunito-Regular;">{vat_percent}% &nbsp; {subtotal_txt}:</td>
    <td width="20%"  style="text-align: right; line-height: 15px;font-size: 10pt;color: #808080;font-family: Nunito-Regular;">{sub_value}</td>
  </tr>
  {if:sh_discount}<tr class="{sh_vat}">
    <td width="80%"  style="text-align: left; line-height: 15px;font-size: 10pt;color: #808080;font-family: Nunito-Regular;color: #808080;font-family: Nunito-Regular;">{discount_txt} ({total_discount_procent} %): </td>
    <td width="20%"  style="text-align: right; line-height: 15px;font-size: 10pt;color: #808080;font-family: Nunito-Regular;color: #808080;font-family: Nunito-Regular;">{disc_value}</td>
  </tr>
  <tr class="{sh_vat}">
    <td width="80%"  style="text-align: left; line-height: 15px;font-size: 10pt;color: #808080;font-family: Nunito-Regular;color: #808080;font-family: Nunito-Regular;">{net_txt}:</td>
    <td width="20%"  style="text-align: right; line-height: 15px;font-size: 10pt;color: #808080;font-family: Nunito-Regular;color: #808080;font-family: Nunito-Regular;">{nett_value}</td>
  </tr>{end}
  <tr class="{sh_vat}">
    <td width="80%"  style="text-align: left; line-height: 15px;font-size: 10pt;ccolor: #808080;font-family: Nunito-Regular;color: #808080;font-family: Nunito-Regular;">{vat_txt}:</td>
    <td width="20%"  style="text-align: right; line-height: 15px;font-size: 10pt;color: #808080;font-family: Nunito-Regular;color: #808080;font-family: Nunito-Regular;">{vat_value}</td>
  </tr>{end}
  {endloop}
   {if:show_paid}
  <tr class="{is_paid}">
    <td width="80%" colspan="2"  style="text-align: left; line-height: 15px;font-size: 10pt;color: #808080;font-family: Nunito-Regular;color: #808080;font-family: Nunito-Regular;"><strong>{paid_txt}:</strong></td>
    <td width="20%"  style="text-align: right; line-height: 15px;font-size: 10pt;color: #808080;font-family: Nunito-Regular;color: #808080;font-family: Nunito-Regular;"><strong>{total_paid}</strong></td>
  </tr>
  {if:downpayment}
  <tr>
    <td width="80%" colspan="2"  style="text-align: left; line-height: 15px;font-size: 10pt;color: #808080;font-family: Nunito-Regular;"><strong>{downpayment_txt}:</strong></td>
    <td width="20%"  style="text-align: right; line-height: 15px;font-size: 10pt;color: #808080;font-family: Nunito-Regular;"><strong>{total_downpayment}</strong></td>
  </tr>
  {end}
  {if:is_proforma}<tr>
    <td width="80%" colspan="2" style="text-align: left; line-height: 15px;font-size: 10pt;color: #808080;font-family: Nunito-Regular;"><strong>{amount_due_txt}:</strong></td>
    <td width="20%" style="text-align: right; line-height: 15px;font-size: 10pt;color: #808080;font-family: Nunito-Regular;"><strong>{total_amount_due}</strong></td>
  </tr>
  {if:is_req_payment}
  <tr>
    <td width="80%" colspan="2"  style="text-align: left; line-height: 15px;font-size: 10pt;color: #808080;font-family: Nunito-Regular;"><strong>{amount_txt}: (<span>{req_payment} %</span>)</strong></td>
    <td width="20%"  style="text-align: right; line-height: 15px;font-size: 10pt;color: #808080;font-family: Nunito-Regular;"><strong>{req_payment_value}</strong></td>
  </tr>
  {end}
  {else}
  <tr>
    <td width="80%" colspan="2"  style="text-align: left;line-height: 15px;font-size: 10pt;color: #4f4b4c;font-family: Nunito-Bold;"><strong>{if:is_proforma}{amount_txt}{else}{amount_due_txt}{end}:</strong></td>
    <td width="20%"  style="text-align: right;line-height: 15px;font-size: 10pt;color: #4f4b4c;font-family: Nunito-Bold;"><strong> {total_payments}</strong></td>
  </tr>{end}{else}
  {if:downpayment}
  <tr>
    <td width="80%" colspan="2"  style="text-align: left;line-height: 15px;font-size: 10pt;color: #4f4b4c;font-family: Nunito-Bold;"><strong>{downpayment_txt}:</strong></td>
    <td width="20%"  style="text-align: right;line-height: 15px;font-size: 10pt;color: #4f4b4c;font-family: Nunito-Bold;"><strong>{total_downpayment}</strong></td>
  </tr>
  {end}
   <tr>
    <td width="80%" colspan="2"  style="text-align: left;line-height: 15px;font-size: 10pt;color: #4f4b4c;font-family: Nunito-Bold;border-bottom: 0.5pt solid #FF4D00;"><strong>{if:is_proforma} {amount_txt} {else}{amount_due_txt} {end}:</strong></td>
    <td width="20%"  style="text-align: right;line-height: 15px;font-size: 10pt;color: #4f4b4c;font-family: Nunito-Bold;border-bottom: 0.5pt solid #FF4D00;"><strong>{total_amount_due}</strong></td>
  </tr>
  {end}
  {if:use_ogm}
  <tr>
    <td width="40%"   style="text-align: left; line-height: 25px;font-size: 11pt;color: #4f4b4c;font-family: Nunito-Bold;border-bottom: 0.5pt solid #FF4D00;">{ogm_txt}:</td>
    <td width="60%"  style="text-align: right; line-height: 25px;font-size: 11pt;color: #4f4b4c;font-family: Nunito-Bold;border-bottom: 0.5pt solid #FF4D00;">+++{ogm}+++</td>
  </tr>
   <tr>
    <td width="62%"   style="text-align: left; line-height: 0px;font-size: 11pt;color: #191919;font-family: Nunito-Bold;">&nbsp;</td>
    <td width="38%"  style="text-align: right; line-height: 10px;font-size: 9pt;color: #4f4b4c;font-family: Nunito-italic;">{if:is_credit}{credit_payment_inst_txt}{else}{payment_inst_txt} {invoice_due_date} {end}</td>
  </tr>{else}
    <tr>
    <td width="40%"   style="text-align: left; line-height: 1px;font-size: 11pt;color: #191919;font-family: Nunito-Bold;"></td>
    <td width="60%"  style="text-align: right; line-height: 1px;font-size: 11pt;color: #191919;font-family: Nunito-Bold;"></td>
  </tr>
   <tr>
    <td width="62%"   style="text-align: left; line-height: 0px;font-size: 11pt;color: #191919;font-family: Nunito-Bold;">&nbsp;</td>
    <td width="38%"  style="text-align: right; line-height: 14px;font-size: 9pt;color: #4f4b4c;font-family: Nunito-italic;">{if:is_credit}{else}{payment_inst_txt} {invoice_due_date}{end}</td>
  </tr>
  {end}
</table>
<table width="100%" cellspacing="0" cellpadding="0" class="" style="clear:both;">
  <tbody>
      <tr>
        <td class="last">&nbsp;</td>
        <td class="last">&nbsp;</td>
      </tr>
  </tbody> 
</table>
{if:view_notes2 != 'hide'}<!-- <br pagebreak="true"/> -->
<!-- <br />
<h1 style="color: #FF4D00; font-size: 18pt;font-family: Nunito-Bold;" class="{view_notes2}">{notes2_txt}</h1><br> -->
<span style="font-size:10pt;font-family: Nunito-Regular;color: #4f4b4c;text-align: right;">{notes2}</span>{end}{if:view_notes != 'hide'}<br pagebreak="true"/>
<h1 style="color: #FF4D00; font-size: 18pt;font-family: Nunito-Bold;" class="{view_notes}">{notes_txt}</h1><br>
<span style="font-size:10pt;font-family: Nunito-Bold;color: #808080;">{notes}</span>{end}
{end}
{if:foot}
{FOOTER}
{end}



