<style>
body { color: #000; font-family: 'Nunito-Regular',  font-size: 10pt; }
h1 { font-size:10pt; font-weight:normal;color: #58595B; }
table { border-collapse: collapse; border-spacing: 0; }
table td{ font-size: 9pt; }
.underlined { 
      border-bottom: 0.1em solid #000;       
}
</style>
{if:is_table}
<table width="100%" cellspacing="0" cellpadding="0" class="" style="clear:both;" nobr="true">
  <tbody>
      <tr>
        <td>
          &nbsp;<br/>
          &nbsp;<br/>
          &nbsp;<br/>
          &nbsp;</td>
        <td class="last">&nbsp;</td>
      </tr>
  </tbody>
</table>
<table style="height: 85px;" width="100%">
<tbody>
<tr>
<td style="text-align: right;" width="100%">
<p style="text-align: right;"><span style="font-size: 18pt; color: #4f4b4c; font-family: Nunito-Light;">{l}Inleidende brief{endl}</span></p>
</td>
</tr>
</tbody>
</table><p>&nbsp;</p>
<table style="height: 67px;" width="100%">
<tbody>
  <tr>
          <td style="width: 60%;">&nbsp;</td>
          <td style="width: 40%;">
                   <p><span style="font-size: 11pt; font-family: Nunito-Light; color: #4f4b4c;">{buyer_name}</span><span style="font-size: 10pt; font-family: Nunito-Light; color: #4f4b4c;line-height: 14px;">{free_field}</span></p>
          </td>
    </tr>
  </tbody>
</table>
<h3 style="font-family: Nunito-Light;color: #383436; font-size: 16px">Beste klant,</h3>
<p style="font-family: Nunito-Light;color: #383436; font-size: 15px;">Bedankt voor uw vertrouwen in Cozie. Hier bijgevoegd vindt u uw gedetailleerde factuur voor de geleverde diensten in de <span  style="font-family: Nunito-Light;color: #383436;font-size: 15px;">{buyer_address2}.</span></p>
<p style="font-family: Nunito-Light;color: #383436;font-size: 15px;">Het totaal gefactureerd bedrag is <span style="font-family: Nunito-Light;color: #383436;font-size: 15px;">{total_amount_due}</span>. Gelieve deze betaling voor <span style="font-family: Nunito-Light;color: #383436;font-size: 15px;">{invoice_due_date}</span> te betalen a.u.b. .</p>
<p style="font-family: Nunito-Light;color: #383436;font-size: 15px;">Met vriendelijke groeten,</p>
<p style="font-family: Nunito-Light;color: #383436;font-size: 15px;">Cozie</p>

{end}

{if:is_data}
<table width="100%" cellspacing="0" cellpadding="0" class="" style="clear:both;" nobr="true">
  <tbody>
      <tr>
        <td width="14%">
          &nbsp;<br/>
          &nbsp;<br/>
          &nbsp;<br/>
          &nbsp;<br/>
          &nbsp;<br/>
          &nbsp;<br/>
          &nbsp;<br/>
          &nbsp;</td>
    <td width="84%"  style="text-align: right; font-size: 11pt;color: #4f4b4c;font-family: Nunito-Bold; line-height: 16pt;">{description}</td>
    <td width="2%;">&nbsp;</td>
      </tr>
  </tbody>
</table>
<table cellpadding="0" cellspacing="0" border="0" width="100%">
<tr>
    <td width="55%" style="text-align: left; font-size: 13pt;color: #191919;font-family: Nunito-Bold;letter-spacing: 7pt;line-height: 20pt;">{invoice_date_cozie}</td>
    <td width="45%"  style="text-align: right;  font-size: 13pt;color: #191919;font-family: Nunito-Bold;letter-spacing: 8.1px;line-height: 20pt;"><strong >{total_amount_due_int}</strong><span style="font-size: 7pt;">&nbsp;&nbsp;</span><strong style="text-align: right;  font-size: 13pt;color: #191919;font-family: Nunito-Bold;letter-spacing: 7.1px;line-height: 20pt;">{total_amount_due_dig}</strong></td>
</tr>
<tr>
    <td width="14%"  style="text-align: left; font-size: 10pt;color: #191919;font-family: Nunito-Bold; line-height: 24pt;">&nbsp;</td>
    <td width="86%"  style="text-align: left; line-height: 15px;font-size: 10pt;"><strong >&nbsp;</strong></td>
</tr>
<tr>
    <td width="100%"  style="text-align: left; font-size: 8pt;color: #191919;font-family: Nunito-Bold; line-height: 11pt;">&nbsp;</td>
</tr>
<tr>
    <td width="15%"  style="text-align: left; line-height: 13pt;font-size: 10pt;color: #191919;font-family: Nunito-Bold;">&nbsp;</td>
    <td width="85%"  style="text-align: left; line-height: 15px;font-size: 10pt;"><strong >{buyer_name}</strong><br><strong>{buyer_address}</strong><br><strong>{buyer_zip} {buyer_city}</strong></td>
</tr>
<tr>
    <td width="100%"  style="text-align: left; font-size: 10pt;color: #191919;font-family: Nunito-Bold; line-height: 11pt;">&nbsp;</td>
</tr>
<tr>
    <td width="15%"  style="text-align: left; line-height: 15px;font-size: 10pt;color: #191919;font-family: Nunito-Bold;">&nbsp;</td>
    <td width="85%"  style="text-align: left; line-height: 15px;font-size: 14pt; letter-spacing: 7.8px;"><strong >{iban}</strong></td>
</tr>
<tr>
    <td width="100%"  style="text-align: left; font-size: 10pt;color: #191919;font-family: Nunito-Bold; line-height: 11pt;">&nbsp;</td>
</tr>
<tr>
    <td width="15%"  style="text-align: left; line-height: 15px;font-size: 10pt;color: #191919;font-family: Nunito-Bold;">&nbsp;</td>
    <td width="85%"  style="text-align: left; line-height: 17px;font-size: 14pt; letter-spacing: 6.4px;"><strong >{bic}</strong></td>
</tr>
<tr>
    <td width="100%"  style="text-align: left; font-size: 10pt;color: #191919;font-family: Nunito-Bold; line-height: 11pt;">&nbsp;</td>
</tr>
<tr>
    <td width="15%"  style="text-align: left; line-height: 15px;font-size: 10pt;color: #191919;font-family: Nunito-Bold;">&nbsp;</td>
    <td width="85%"  style="text-align: left; line-height: 16px;font-size: 10pt;letter-spacing: 8.7px;"><strong >{seller_name_uppercase}</strong><br><strong>{seller_address_uppercase}</strong><br><strong>{seller_zip} {seller_city_uppercase}</strong></td>
</tr>
 <tr>
    <td width="100%"  style="text-align: left; font-size: 10pt;color: #191919;font-family: Nunito-Bold; line-height: 12pt;">&nbsp;</td>
</tr>
  {if:use_ogm}
  <tr><!-- style="background-image: url('{background_img}');" -->
    <td width="15%"   style="text-align: left; font-size: 11pt;color: #191919;font-family: Nunito-Bold;">&nbsp;</td>
    <td width="85%"  style="text-align: left; line-height: 17px;font-size: 14pt; letter-spacing: 6pt;font-family: Nunito-Bold;">+++{ogm}+++</td>
  </tr>
  {end}
</table>
{end}




