<style>
body { color: #000; font-family: Arial, Helvetica, sans-serif; font-size: 9pt; }
h1 { font-size:10pt; font-weight:normal; color:#50a2b8; }
table { border-collapse: collapse; border-spacing: 0; }
table td{ font-size: 9pt; }
.border_bottom { border-bottom: 1px solid #CCC; }
.no_grade{ border-bottom: 1px solid #CCC; border-left: none; border-right: 1px solid #CCC; }
.invoice_rows { border-bottom: 1px solid #CCC; }
.invoice_rows .th { border: 1px solid #CCC; color: #fff; font-size: 9pt;padding-left: 10px; text-align: center; background-color:#50a2b8; }
.invoice_rows td { border-left: 1px solid #CCC; vertical-align:middle; font-size: 9pt; text-align:right; }
.invoice_rows .last { border-right: 1px solid #CCC; }
.hide { display:none; }
.right { text-align:right; }
.bold { font-weight: bold; }
</style>
{HEADER}
<br />
<br />
<br />
<br />
<br />
<br />
<br />
{if:reminder}
{reminder_table}
{else}
<table width="100%" cellspacing="0" cellpadding="5" class="invoice_rows" {first_title}>
  <tr>
    <td class="th" width="{item_w}%" style="text-align:left;">{item_txt}</td>
    <td class="th" width="15%">{quantity_txt}</td>
    <td class="th" width="15%">{unit_price_txt}</td>
    {if:hide_row_vat}<td class="th {hide_row_vat}" width="15%">{vat_txt} %</td>{end}
    {if:hide_disc_line}<td class="th {hide_disc_line}" width="15%" >{discount_txt} %</td>{end}
    <td width="14%" class="th last">{amount_txt}</td>
  </tr>
  <tbody>
    {loop:invoice_row}
    <!-- BEGIN DYNAMIC BLOCK: invoice_row -->
    <tr>
          {if:content}
      {if:title}
 </tr>
                     </tbody>
                    </table>
                    <h3>{row_description}</h3>
                    {else}
                    <td style="text-align:left;" {colspan}>
         {row_description}
      </td>
      {end}
      {if:is_last_title} 
                   
                    <table width="100%" cellspacing="0" cellpadding="5" class="invoice_rows" border="0">
  
  <tr>
    <td class="th" width="{item_w}%" style="text-align:left;">{item_txt}</td>
    <td class="th" width="15%">{quantity_txt}</td>
    <td class="th" width="15%">{unit_price_txt}</td>
    {if:hide_row_vat}<td class="th {hide_row_vat}" width="15%">{vat_txt} %</td>{end}
    {if:hide_disc_line}<td class="th {hide_disc_line}" width="15%" >{discount_txt} %</td>{end}
    <td width="14%" class="th last">{amount_txt}</td>
  </tr>
  
  <tbody><tr>
          {end}
          {else}
      
      <td style="text-align:left;">{if:show_for_articles}<table width="100%" cellspacing="0" cellpadding="4" class="article_code_txt" border="0">
            <tr>
              <td width="40%" style="border-right:1px solid #ccc;">{article_code}</td>
              <td width="60%">{row_description}</td>
            </tr>
          </table>{else}{row_description}{end}
      </td>
      <td class="right">{row_quantity}</td>
      <td class="right">{row_unit_price}</td>
      {if:hide_row_vat}<td class="right {hide_row_vat}">{row_vat} %</td>{end}
      {if:hide_disc_line}<td class="right {hide_disc_line}">{row_discount}</td>{end}
      <td class="last right">{row_amount}</td>
      {end}
    </tr>
    <!-- END DYNAMIC BLOCK: invoice_row -->
    {endloop}
  </tbody>
</table>
<table cellpadding="0" cellspacing="8" border="0" width="100%"  style="border:1px solid #ccc;">
  {if:sh_vat2}<tr class="{sh_vat2}">
    <td width="80%" colspan="2" class="right">{subtotal_txt}:</td>
    <td width="20%"  class="right ">{total_novat}</td>
  </tr>
  {if:sh_discount}<tr class="{sh_discount}">
    <td width="80%" colspan="2" class="right">{discount_txt} ({total_discount_procent} %): </td>
    <td width="20%" class="right">-{discount_value}</td>
  </tr>
  <tr class="{sh_discount}">
    <td width="80%" colspan="2" class="right">{net_txt}:</td>
    <td width="20%" style=" text-align: right;">{net_value}</td>
  </tr>{end}{end}
  {loop:vat_line}
  {if:sh_vat}<tr class="{sh_vat}">
    <td width="60%"  class="right">{vat_txt} ({vat_percent} %)</td>
    <td width="20%"  class="right">{subtotal_txt}:</td>
    <td width="20%"  class="right ">{sub_value}</td>
  </tr>
  {if:sh_discount}<tr class="{sh_vat}">
    <td width="60%"  class="right">&nbsp;</td>
    <td width="20%"  class="right">{discount_txt} ({total_discount_procent} %): </td>
    <td width="20%"  class="right ">{disc_value}</td>
  </tr>
  <tr class="{sh_vat}">
    <td width="60%"  class="right">&nbsp;</td>
    <td width="20%"  class="right">{net_txt}:</td>
    <td width="20%"  class="right ">{nett_value}</td>
  </tr>{end}
  <tr class="{sh_vat}">
    <td width="60%"  class="">{if:show_due_date_vat_pdf}{due_date_vat_txt}:&nbsp;&nbsp;&nbsp;{invoice_due_date_vat}{end}</td>
    <td width="20%"  class="right">{vat_txt}:</td>
    <td width="20%"  class="right ">{vat_value}</td>
  </tr>{end}
  {endloop}
  {if:show_paid}
  <tr class="{is_paid}">
    <td width="80%" colspan="2" class="right "><strong>{paid_txt}:</strong></td>
    <td width="20%" class="right"><strong>{total_paid}</strong></td>
  </tr>
  {if:downpayment}
  <tr>
    <td width="80%" colspan="2" class="right"><strong>{downpayment_txt}:</strong></td>
    <td width="20%" class="right"><strong>{total_downpayment}</strong></td>
  </tr>
  {end}
   {if:is_proforma}<tr>
    <td width="80%" colspan="2" class="right"><strong>{amount_due_txt}:</strong></td>
    <td width="20%" class="right "><strong>{total_amount_due}</strong></td>
  </tr>
  {if:is_req_payment}
  <tr>
    <td width="80%" colspan="2" class="right"><strong>{amount_txt}: (<span>{req_payment} %</span>)</strong></td>
    <td width="20%" class="right "><strong>{req_payment_value}</strong></td>
  </tr>
  {end}{else}
  <tr>
    <td width="80%" colspan="2" class="right"><strong>{if:is_proforma} {amount_txt} {else} {amount_due_txt} {end}:</strong></td>
    <td width="20%" class="right"><strong style="{red_if_credit}"> {total_payments}</strong></td>
  </tr>{end}{else}
  {if:downpayment}
  <tr>
    <td width="80%" colspan="2" class="right"><strong>{downpayment_txt}:</strong></td>
    <td width="20%" class="right"><strong>{total_downpayment}</strong></td>
  </tr>
  {end}
   <tr>
    <td width="80%" colspan="2" class="right"><strong>{if:is_proforma} {amount_txt} {else} {amount_due_txt} {end}:</strong></td>
    <td width="20%" class="right"><strong style="{red_if_credit}"> {total_amount_due}</strong></td>
  </tr>
  {end}
  {if:use_ogm}
  <tr>
    <td width="80%" colspan="2" class="right">&nbsp;</td>
    <td width="20%" class="right ">&nbsp;</td>
  </tr>
  <tr>
    <td width="40%">{if:inv_type != '2'}{duedate_txt}: {invoice_due_date}{end}</td>
    <td width="30%" class="right">{ogm_txt}:</td>
    <td width="30%" class="right bold">+++{ogm}+++</td>
  </tr>
  {if:show_sepa_mess}
  <tr>
    <td width="100%" >{sepa_mess}</td>
  </tr>{end}
  {else}
  <tr>
    <td width="80%" colspan="2" class="right">&nbsp;</td>
    <td width="20%" class="right ">&nbsp;</td>
  </tr>
  <tr>
    <td width="60%">{if:inv_type != '2'}{duedate_txt}: {invoice_due_date}{end}</td>
    <td width="20%" class="right"></td>
    <td width="20%" class="right bold"></td>
  </tr>
  {if:show_sepa_mess}
  <tr>
    <td width="100%" >{sepa_mess}</td>
  </tr>{end}
  {end}
  {if:is_proforma}

  {end}
  <!-- {if:default_total}
  <tr>
    <td width="85%"  class="right"><strong>{amount_due_txt} ({def_currency})</strong></td>
    <td width="15%" class="right "><strong>{total_amount_due_default}</strong></td>
  </tr>
  {end} -->
<!--  <tr>
    <td width="85%"  class="right">{payments_txt}:</td>
    <td width="15%"  class="right ">{total_payments} {currency} </td>
  </tr>-->
</table>
{if:view_notes != 'hide'}&nbsp;
<br/>
<h1 style="border-bottom:1px solid #CCCCCC;" class="{view_notes}">{notes_txt}</h1><br>
<span style="font-size:9pt;">{notes}</span>{end} {if:view_notes2 != 'hide'}<br/><br/>
<h1 style="border-bottom:1px solid #CCCCCC;" class="{view_notes2}">{notes2_txt}</h1><br>
<span style="font-size:9pt;">{notes2}</span>{end}
{end}
{if:show_stamp_signature}
<br />
<br />
<br />
<table width="100%" cellspacing="0" cellpadding="0" class="" style="clear:both;">
  <tbody>
      <tr>
        <td class="last" style="border:1px solid #CCCCCC;text-align:center;">
          {stamp_signature}<br/>
          &nbsp;<br/>
          &nbsp;<br/>
          &nbsp;<br/>
          &nbsp;<br/>
          &nbsp;<br/>
          &nbsp;</td>
        <td class="last">&nbsp;</td>
        <td class="last">&nbsp;</td>
      </tr>
  </tbody>
</table>
{end}