<div class="modal-header">
  	<button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="prog.cancel()"><span aria-hidden="true">&times;</span></button>
  	<h4 class="modal-title">{l}Custom hours{endl}/{l}Custom days{endl}</h4>
</div>
<div uib-alert ng-repeat="alert in prog.alerts" type="{{alert.type}}" close="prog.alerts.splice($index, 1);" dismiss-on-timeout="3500" ng-class="['alert-' + (alert.type || 'warning') ]">{{alert.msg}}</div>
<div class="modal-body modal-body_alt">
	<div class="loading_wrap loading_alt hidden">
      	<div class="loading"></div>
        	<div class="spinner"></div>
      </div>
      <div class="col-sm-12">
      	<div class="form-group">
      		<div class="radio">
      			<label>
      				<input type="radio" value="1" ng-model="prog.obj.custom_hours" ng-disabled="prog.obj.disabled_this_month"> {l}This Month{endl}
      			</label>
      		</div>
      	</div>
      	<div class="form-group">
      		<div class="radio">
      			<label>
      				<input type="radio" value="2" ng-model="prog.obj.custom_hours" ng-disabled="prog.obj.disabled_last_month"> {l}Last Month{endl} 
      			</label>
      		</div>
      	</div>
      	<div class="form-group">
      		<div class="radio">
      			<label>
      				<input type="radio" value="3" ng-model="prog.obj.custom_hours" ng-click="prog.obj.hide_custom=true"> {l}Custom{endl}
      			</label>
      		</div>
      	</div>
      	<div class="form-group" ng-show="prog.obj.hide_custom">
      		<div class="col-sm-6">
      			<label class="control-label col-sm-3 text-left">{l}From{endl}</label>
      			<div class="col-sm-9">
      				<div class="so-field">
      					<span class="glyphicon glyphicon-calendar so-icon" ng-click="prog.datePickOpen.from=true"></span>
			                  <input type="text" class="form-control" ng-model="prog.obj.from" uib-datepicker-popup="{{prog.format}}" is-open="prog.datePickOpen.from" datepicker-options="prog.dateOptions" ng-required="true" close-text="Close" placeholder="{l}From{endl}" show-button-bar="false" ng-click="prog.datePickOpen.from=true" />
      				</div>
      			</div>
      		</div>
      		<div class="col-sm-6">
      			<label class="control-label col-sm-3 text-left">{l}To{endl}</label>
      			<div class="col-sm-9">
      				<div class="so-field">
      					<span class="glyphicon glyphicon-calendar so-icon" ng-click="prog.datePickOpen.to=true"></span>
			                  <input type="text" class="form-control" ng-model="prog.obj.to" uib-datepicker-popup="{{prog.format}}" is-open="prog.datePickOpen.to" datepicker-options="prog.dateOptions" ng-required="true" close-text="Close" placeholder="{l}From{endl}" show-button-bar="false" ng-click="prog.datePickOpen.to=true" />
      				</div>
      			</div>
      		</div>
      	</div>
      </div>
</div>
<div class="modal-footer">
    <button class="btn btn-default" type="button" ng-click="prog.ok()">{l}Ok{endl}</button>
</div>