<style>
body { color: #000; font-family: Arial, Helvetica, sans-serif; font-size: 9pt; }
h1 { font-size:10pt; font-weight:normal; }
table { border-spacing: 0; }
table td{ font-size: 9pt; }
.border_bottom { border-bottom: 1px solid #000; }
.invoice_rows td.no_grade{ border-bottom: 1px solid #000; border-left: none; border-right: none; }
.invoice_rows{ border-bottom: 1px solid #000; }
.invoice_rows .th { border: 1px solid #000; color: #000; font-size: 8pt;padding-left: 10px; text-align: center; background-color:#efefef;}
.invoice_rows td { border-left: 1px solid #000; border-bottom: 1px solid #000;vertical-align:middle; font-size: 7.8pt; text-align:right; }
.invoice_rows .last {	border-right: 1px solid #000; }
.hide { display:none; }
.right { text-align:right; }
.article_code_txt { border:none; padding:0;margin:0; }
.article_code_txt td {  }
.bold { font-weight: bold; }
</style>
{if:is_table}
<table cellpadding="0" cellspacing="0" border="0" width="760"  >
  <tr>
    <td width="360" valign="top"><img src="{account_logo}" {attr} ></td>
    <td  width="42%">
      <table cellpadding="0" cellspacing="0" border="0">
        <tr>
          <td style="text-align:right;" width="38%"></td>
          <td style="text-align:right; font-size:14pt;"><strong>{invoice_note_txt}</strong></td>
        </tr>

        {if:not_proforma}<tr>
          <td style="text-align:left;" width="50%"><strong>{invoice_txt}</strong></td>
          <td style="text-align:left;"><strong>{serial_number}</strong></td>
        </tr>{end}
        <tr>
          <td style="text-align:left;" width="50%">{date_txt}: </td>
          <td style="text-align:left;">{invoice_date}</td>
        </tr>
        {if:inv_type != '2'}
        <tr>
          <td style="text-align:left;" width="50%">{duedate_txt}: </td>
          <td style="text-align:left;">{invoice_due_date}</td>
        </tr>
        {end}
        {if:our_ref}
        <tr class="{hide_our}">
          <td style="text-align:left;" width="50%">{our_ref_txt}: </td>
          <td style="text-align:left;">{our_ref}</td>
        </tr>
        {end}
        {if:your_ref}
        <tr class="{hide_your}">
          <td style="text-align:left;" width="50%">{your_ref_txt}: </td>
          <td style="text-align:left;">{your_ref}</td>
        </tr>
        {end}
        {if:buyer_reference}
        <tr>
          <td style="text-align:left;" width="50%">{additional_ref_txt}: </td>
          <td style="text-align:left;">{buyer_reference}</td>
        </tr>
        {end}
      </table></td>
  </tr>

</table>
<table cellpadding="0" cellspacing="0" border="0" width="100%" >

  <tr>
    <td valign="top" width="55%"><h1><strong>{seller_name}</strong></h1></td>
    <td  width="45%"></td>
  </tr>
  <tr>
    <td valign="top" width="55%">{seller_address}<br />
      {seller_zip} {seller_city} - {seller_country}<br />
      {if:hide_p}{phone_txt}: {seller_phone}<br />{end}
      {if:hide_e}{email_txt}: {seller_email}<br />{end}
      {if:hide_u}{url_txt}: {seller_url}<br />{end}
      fb : brasseriedelacambre<br />
      {vat_number_txt}: {seller_vat}<br />
     <!--  {invoice_buyer_vat}
      {if:show_acc_reg_no}<br />{comp_reg_number_txt}: {seller_b_reg_number}<br />{end} -->
      </td>
    <td valign="top" width="45%" style="border: 1px solid #000; background-color:#efefef;">
        <table cellpadding="2" cellspacing="0" border="0">
          <tr>
            <td style="text-align:right; font-size:11pt;"><strong>{billing_address_txt}</strong></td>
          </tr>
          <tr>
            <td style="text-align:left;">{buyer_name}</td>
          </tr>
          <tr>
            <td style="text-align:left;">{free_field}</td>
          </tr>
          <tr>
            <td style="text-align:left;">{vat_number_txt}: {buyer_btw}</td>
          </tr>
      </table>

    </td>
  </tr>
  <tr><td colspan="2" height="5"></td></tr>
</table>

{if:reminder}
  {reminder_table}
{else}

<table width="100%" cellspacing="3" cellpadding="0" >
  <tr>
    <td style="text-align:right;" width="100%">Montants exprim&eacute;s en Euros &euro;</td>  
  </tr>
</table>

<table width="100%" cellspacing="0" cellpadding="5" class="invoice_rows" style="1pt solid #000;" {first_title}>

  <tr>
    <td class="th" width="20.3%" >{article_code_txt}</td>
    <td class="th" width="41%" >{item_txt}</td>
    <td class="th" width="5.9%">{quantity_txt}</td>
    <td class="th" width="6.9%">{unit_price_txt}</td>
    <td class="th" width="6.4%">{vat_txt} %</td>
    <td class="th"  width="7.2%" >{discount_txt} %</td>
    <td width="12.3%" class="th last">{amount_txt}</td>
</tr>

  <tbody>
    {if:delivery_address}
    <tr>
        <td style="text-align:left;" width="20.3%" >{delivery_address_txt}</td>
        <td style="text-align:left;"  colspan="6" class="last" >{delivery_address}</td>
    </tr>
    {end}
    {loop:invoice_row}
    <!-- BEGIN DYNAMIC BLOCK: invoice_row -->
    <tr>
      {if:content}
        {if:title}
              </tr>
            </tbody>
          </table>
          <h3>{row_description}</h3>
        {else}
             <td style="text-align:left;" {colspan}>{row_description}</td>
        {end}
        {if:is_last_title}
           <table width="100%" cellspacing="0" cellpadding="5" class="invoice_rows" border="0">
              <tr>
                <td class="th" width="20.3%" >{article_code_txt}</td>
                <td class="th" width="41%" >{item_txt}</td>
                <td class="th" width="5.9%">{quantity_txt}</td>
                <td class="th" width="6.9%">{unit_price_txt}</td>
                <td class="th" width="6.4%">{vat_txt} %</td>
                <td class="th" width="7.2%" >{discount_txt} %</td>
                <td width="12.3%" class="th last">{amount_txt}</td>
              </tr>
             <tbody>
             <tr>
        {end}

      {else}
          {if:show_for_articles}
          <td style="text-align:left;">{article_code}</td>
          <td style="text-align:left;">{row_description}</td>
          {else}
          <td style="text-align:left;" colspan="2" >{row_description}</td>
          {end}
          <td style="text-align:center;">{row_quantity}</td>
          <td style="text-align:center;">{if:is_not_component}{row_unit_price}{end}</td>
          <td class="right ">{if:is_not_component}{row_vat}{end}</td>
          <td class="right ">{if:is_not_component}{row_discount}{end}</td>
          <td class="last right">{if:is_not_component}{row_amount}{end}</td>
      {end}
    </tr>
    <!-- END DYNAMIC BLOCK: invoice_row -->
    {endloop}
    
  </tbody>
</table>

<br/>
<br/>
<br/>
<br/>

<table cellpadding="3" cellspacing="0" border="0" width="100%"  style="border:1pt solid #000;" >
  {if:sh_vat2}<tr class="{sh_vat2}">
    <td width="80.5%" colspan="2" class="right" style=" border-right: 1px solid #000;">{subtotal_txt}:</td>
    <td width="19.5%"  class="right ">{total_novat}</td></tr>
  {if:sh_discount}<tr class="{sh_discount}">
    <td width="80.5%" colspan="2" class="right" style=" border-right: 1px solid #000;">{discount_txt} ({total_discount_procent} %) </td>
    <td width="19.5%" class="right">-{discount_value}</td>
  </tr>
  <tr class="{sh_discount}">
    <td width="80.5%" colspan="2" class="right" style=" border-right: 1px solid #000;">{net_txt}</td>
    <td width="19.5%" style=" text-align: right;">{net_value}</td>
  </tr>{end}{end}
  {loop:vat_line}
  {if:sh_vat}<tr class="{sh_vat}">
    <td width="60.5%"  class="right">{vat_txt} ({vat_percent} %)</td>
    <td width="20%"  class="right" style=" border-right: 1px solid #000;">{subtotal_txt}</td>
    <td width="19.5%"  class="right ">{sub_value}</td>
  </tr>
  {if:sh_discount}<tr class="{sh_vat}">
    <td width="60.5%"  class="right">&nbsp;</td>
    <td width="20%"  class="right" style=" border-right: 1px solid #000;">{discount_txt} ({total_discount_procent} %) </td>
    <td width="19.5%"  class="right ">{disc_value}</td>
  </tr>
  <tr class="{sh_vat}">
    <td width="60.5%"  class="right">&nbsp;</td>
    <td width="20%"  class="right" style=" border-right: 1px solid #000;">{net_txt}</td>
    <td width="19.5%"  class="right ">{nett_value}</td>
  </tr>{end}
  <tr class="{sh_vat}">
    <td width="60.5%"  class=""></td>
    <td width="20%"  class="right" style=" border-right: 1px solid #000;">{vat_txt}</td>
    <td width="19.5%"  class="right ">{vat_value}</td>
  </tr>{end}
  {endloop}
  {if:show_paid}
  <tr>
    <td width="80.5%" colspan="2" class="right" style=" border-right: 1px solid #000;"><strong>{if:is_proforma} {amount_txt} {else} {amount_due_txt} {end}</strong></td>
    <td width="19.5%" class="right"><strong style="{red_if_credit}"> {total_amount_due}</strong></td>
  </tr>
  <tr class="{is_paid}">
    <td width="80.5%" colspan="2" class="right " style=" border-right: 1px solid #000;"><strong>{paid_txt}</strong></td>
    <td width="19.5%" class="right"><strong>{total_paid}</strong></td>
  </tr>
      {if:downpayment}
      <tr>
        <td width="80.5%" colspan="2" class="right" style=" border-right: 1px solid #000;"><strong>{downpayment_txt}</strong></td>
        <td width="19.5%" class="right"><strong>{total_downpayment}</strong></td>
      </tr>
      {end}
        {if:is_proforma}<tr>
          <td width="80.5%" colspan="2" class="right" style=" border-right: 1px solid #000;"><strong>{amount_due_txt}</strong></td>
          <td width="19.5%" class="right "><strong>{total_amount_due}</strong></td>
        </tr>
              {if:is_req_payment}
              <tr>
                <td width="80.5%" colspan="2" class="right" style=" border-right: 1px solid #000;"><strong>{amount_txt} (<span>{req_payment} %</span>)</strong></td>
                <td width="19.5%" class="right "><strong>{req_payment_value}</strong></td>
              </tr>
              {end}

        {else}
        <tr>
          <td width="80.5%" colspan="2" class="right" style=" border-right: 1px solid #000;"><strong>{if:is_proforma} {amount_txt} {else} {req_payment_txt} {end}</strong></td>
          <td width="19.5%" class="right"><strong style="{red_if_credit}"> {total_payments}</strong></td>
        </tr>{end}
  {else}
        {if:downpayment}
        <tr>
          <td width="80.5%" colspan="2" class="right" style=" border-right: 1px solid #000;"><strong>{downpayment_txt}</strong></td>
          <td width="19.5%" class="right"><strong>{total_downpayment}</strong></td>
        </tr>
        {end}
  <tr>
    <td width="80.5%" colspan="2" class="right" style=" border-right: 1px solid #000;"><strong>{if:is_proforma} {amount_txt} {else} {amount_due_txt} {end}</strong></td>
    <td width="19.5%" class="right"><strong style="{red_if_credit}"> {total_amount_due}</strong></td>
  </tr>
  {end}

</table>

<br/>
<br/>

<table cellpadding="1" cellspacing="0" border="0" width="100%" class="" style="font-size: 9pt; " >
  <tr>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td width="100%" valign="top" ><strong>{bankd_txt}:</strong></td>
  </tr>
  <tr>
    <td valign="top" >{if:bank}{bank_txt}: {bank}{end}</td>
  </tr>
  <tr>
    <td valign="top" >{if:iban}{iban_txt}: {iban}{end}</td>
  </tr>
  <tr>
    <td valign="top" >{if:bic}{bic_txt}: {bic}{end}</td>
  </tr> 
   {if:use_ogm} 
  <tr>
    <td  width="61.3%" valign="top" style="border: 1px solid #000; background-color:#efefef;">{ogm_txt}: +++{ogm}+++</td>
  </tr> 
  {end}

  <tr>
    <td></td>
    <td></td>
  </tr>
</table>


<!-- {if:view_notes != 'hide'}&nbsp;
<br />
<h1 style="border-bottom:1px solid #000; " class="{view_notes}">{notes_txt}</h1><ul><li style="font-size:9pt;">{notes}</li>{if:notes2}<li style="font-size:9pt;">{notes2}</li>{end}</ul>{end}{end} --> <!-- end reminder? -->

{if:view_notes2 != 'hide'}&nbsp;
<br />
<h1 style="border-bottom:1px solid #CCCCCC;" class="{view_notes2}">{notes2_txt}</h1><br>
<span style="font-size:9pt;">{notes2}</span>{end}{free_text_br}{if:view_notes != 'hide'}<br/><br/>
<h1 style="border-bottom:1px solid #CCCCCC;" class="{view_notes}">{notes_txt}</h1><br>
<span style="font-size:9pt;">{notes}</span>{end}

<!-- {if:show_stamp_signature}
<br />
<br />
<br />
<table width="100%" cellspacing="0" cellpadding="0" class="" style="clear:both;" nobr="true">
  <tbody>
      <tr>
        <td class="last" style="border:1px solid #CCCCCC;text-align:center;">
          {stamp_signature}<br/>
          &nbsp;<br/>
          &nbsp;<br/>
          &nbsp;<br/>
          &nbsp;<br/>
          &nbsp;<br/>
          &nbsp;</td>
        <td class="last">&nbsp;</td>
        <td class="last">&nbsp;</td>
      </tr>
  </tbody>
</table>
{end} -->

{end}

<!-- {if:is_data}
<table width="100%" cellspacing="3" cellpadding="3" style="clear:both; border:2px solid #000;" nobr="true">
  <tbody>
      <tr>
         <td width="50%" ><strong>{additional_ref_txt}: {serial_number}</strong></td>
         <td width="50%" ><strong>{iban_txt}: {iban}</strong></td>
      </tr>
      <tr>
         <td width="50%" ><strong>{if:inv_type != '2'}{duedate_txt}: {invoice_due_date}{end}</strong></td>
         <td width="50%" ><strong>{if:is_proforma}{amount_txt}{else}{amount_due_txt}{end}: {total_payments}</strong></td>
      </tr>
  </tbody>
</table>
{end} -->