<style>
    body {
        color: #000;
        font-family: 'Open Sans', sans-serif;
        font-size: 9pt;
    }
    
    h1 {
        font-size: 10pt;
        font-weight: normal;
    }
    
    table {
        border-collapse: collapse;
        border-spacing: 0;
    }
    
    table td {
        font-size: 9pt;
    }
</style>
{if:head} {HEADER} {else}
<table cellpadding="2" cellspacing="4" border="0" width="100%" style="border:1px solid #CCC;">
    <tr>
        <td width="32%" valign="top">
            <h1>{seller_name}</h1>
            {seller_b_address}<br /> {seller_b_zip} {seller_b_city} <br /> {seller_b_country}
            <br /> {if:hide_p}{phone_txt}: {seller_b_phone}<br />{end} {if:hide_f}{fax_txt}: {seller_b_fax}<br />{end} {if:hide_e}{email_txt}: {seller_b_email}<br />{end} {if:hide_u}{url_txt}: {seller_b_url}<br />{end} {seller_vat} {if:show_acc_reg_no}
            <br />{comp_reg_number_txt}: {seller_b_reg_number}<br />{end}
        </td>
        <td width="1%" valign="top"></td>
        <td width="34%" valign="top">
            <table cellpadding="0" cellspacing="0" border="0" width="100%">
                <tr>
                    <td style="text-align:center;font-size:14pt;"><strong>{invoice_note_txt}</strong></td>
                </tr>
                <tr>
                    <td style="text-align:center; border:1px solid #CCC;">{if:not_proforma} {invoice_txt} <strong>{serial_number}</strong> <br> {end} {date_txt}: {invoice_date} <br/>
                        <span class="{hide_our}">{our_ref_txt}: {our_ref}<br/></span>
                        <span class="{hide_your}">{your_ref_txt}: {your_ref}</span>
                    </td>
                </tr>
                <tr>
                    <td></td>
                </tr>
                <tr>
                    <td valign="top" style="text-align:center;"><img src="{account_logo}" {attr}></td>
                </tr>
            </table>
        </td>
        <td width="1%" valign="top"></td>
        <td width="32%" valign="top">
            <h1>{buyer_name}</h1>
            {if:show_attention_of}{attention_of_txt}: {attention_of}<br />{end} {free_field} {invoice_vat_no} {if:show_comp_reg_no}
            <br />{comp_reg_number_txt}: {buyer_b_reg_number}<br />{end}
        </td>
    </tr>
    {if:hide_b_d}
    <tr>
        <td width="34%">
            <h1>{bankd_txt}</h1>
            {if:bank}{bank_txt}: {bank} <br />{end} {if:bic} {bic_txt}: {bic} <br />{end} {iban_txt}: {iban}
        </td>
        <td width="36%">&nbsp;</td>
        <td width="30%">

            <h1>{if:show_bank_details}{bankd_txt}{end}</h1>
            {if:buyer_bank}{if:show_bank_details}{bank_txt}: {buyer_bank}<br />{end}{end} {if:buyer_bic}{if:show_bank_details} {bic_txt}: {buyer_bic}<br />{end}{end} {if:buyer_iban}{if:show_bank_details}{iban_txt}: {buyer_iban} {else}&nbsp;{end}{end}
        </td>
    </tr>{end}
</table>
{end} {if:reminder} {reminder_table} {else} {if:body_up}{BODY}{end}
<table width="100%" cellspacing="0" cellpadding="5" {first_title}>
    <tr style="background-color: #666; color: #fff;">
        <td width="{item_w}%" style="font-size: 10pt;">{item_txt}</td>
        <td style="font-size: 10pt;" width="10%">{quantity_txt}</td>
        <td style="font-size: 10pt;" width="14%">{unit_price_txt}</td>
        {if:hide_row_vat}
        <td style="font-size: 10pt;" class="th {hide_row_vat}" width="12%">{vat_txt} %</td>{end} {if:hide_disc_line}
        <td style="font-size: 10pt;" class="th {hide_disc_line}" width="12%">{discount_txt} %</td>{end}
        <td width="14%" style="text-align: right;font-size: 10pt;">{amount_txt}</td>
    </tr>
    <tbody>
        {loop:invoice_row}
        <tr nobr="true">
            {if:content} {if:title1}
        </tr>
    </tbody>
</table>
<h3 style="text-align: left; line-height: 15px;font-size: 10pt;width: 100%;">{row_description}</h3>
{else} {if:title2}
</tr>
</tbody>
</table>
<h4 style="text-align: left; line-height: 15px;font-size: 8pt;width: 100%;">{row_description}</h4>
{else}
<td style="text-align: left; line-height: 15px;font-size: 10pt; border-bottom: 1px solid #a7a7a7; width: 100%;" {colspan}>{row_description}</td>
{end} {end} {if:is_last_title}

<table width="100%" cellspacing="0" cellpadding="5">
    <tr style="background-color: #666; color: #fff;" {after_title2}>
        <td width="{item_w}%" style="font-size: 10pt;">{item_txt}</td>
        <td style="font-size: 10pt;" width="10%">{quantity_txt}</td>
        <td style="font-size: 10pt;" width="14%">{unit_price_txt}</td>
        {if:hide_row_vat}
        <td style="font-size: 10pt;" class="th {hide_row_vat}" width="12%">{vat_txt} %</td>{end} {if:hide_disc_line}
        <td style="font-size: 10pt;" class="th {hide_disc_line}" width="12%">{discount_txt} %</td>{end}
        <td width="14%" style="text-align: right;font-size: 10pt;">{amount_txt}</td>
    </tr>

    <tbody>
        <tr>
            {end} {else}

            <td width="{item_w}%" style="text-align:left;background-color: #fff;  border-bottom: 1px solid #a7a7a7;">{if:show_for_articles}<table width="100%" cellspacing="0" cellpadding="0" class="article_code_txt" border="0">
                    <tr style="vertical-align: middle;"><td width="{description_w}%" style="line-height: 15px;font-size: 10pt;">{row_description}</td></tr>
                        <!-- <td width="{code_w}%" style="line-height: 15px; font-size: 10pt;">{article_code}</td> -->
                     </table>{else}
                <table width="100%" cellspacing="0" cellpadding="0" class="article_code_txt" border="0"><tr style="vertical-align: middle;"><td width="100%" style="line-height: 15px;font-size: 10pt;">{row_description}</td></tr></table>{end}</td>

            <td width="10%" class="right" style="line-height: 15px;font-size: 10pt; background-color: #fff;  border-bottom: 1px solid #a7a7a7;">{row_quantity}</td>
            <td width="14%" class="right" style="line-height: 15px;font-size: 10pt; background-color: #fff;  border-bottom: 1px solid #a7a7a7;">{if:is_not_component}{row_unit_price}{end}</td>
            {if:hide_row_vat}
            <td width="12%" class="right {hide_row_vat}" style="line-height: 15px;font-size: 10pt; background-color: #fff;  border-bottom: 1px solid #a7a7a7;">{if:is_not_component}{row_vat} %{end}</td>{end} {if:hide_disc_line}
            <td width="12%" class="right {hide_disc_line}" style="line-height: 15px;font-size: 10pt;background-color: #fff;  border-bottom: 1px solid #a7a7a7;">{if:is_not_component}{row_discount}{end}</td>{end}
            <td width="14%" style="text-align: right;line-height: 15px;font-size: 10pt;background-color: #fff;  border-bottom: 1px solid #a7a7a7;">{if:is_not_component}{row_amount}{end}</td>
            {end}
        </tr>
        <tr>
            <td width="100%" style="line-height: -7px;"></td>
        </tr>
        {endloop}
    </tbody>
</table>

<table cellpadding="2" cellspacing="0" border="0" width="100%">
    <tr>
        <td width="85%" colspan="2" style="text-align: right; line-height: 15px;font-size: 10pt;">{subtotal_no_vat_txt}:</td>
        <td width="15%" style="text-align: right; line-height: 15px;font-size: 10pt;">{total_novat}</td>
    </tr>
    {if:sh_vat2}
    <tr class="{sh_vat2}">
        <td width="80%" colspan="2" style="text-align: right; line-height: 15px;font-size: 10pt;">{subtotal_txt}:</td>
        <td width="20%" style="text-align: right; line-height: 15px;">{total_novat}</td>
    </tr>
    {if:sh_discount}
    <tr class="{sh_discount}">
        <td width="80%" colspan="2" style="text-align: right; line-height: 15px;font-size: 10pt;">{discount_txt} ({total_discount_procent} %): </td>
        <td width="20%" style="text-align: right; line-height: 15px;font-size: 10pt;">-{discount_value}</td>
    </tr>
    <tr class="{sh_discount}">
        <td width="80%" colspan="2" style="text-align: right; line-height: 15px;font-size: 10pt;">{net_txt}:</td>
        <td width="20%" style="text-align: right; line-height: 15px;font-size: 10pt;">{net_value}</td>
    </tr>{end}{end} {loop:vat_line} {if:sh_vat}
    <tr class="{sh_vat}">
        <td width="60%" style="text-align: right; line-height: 15px;"></td>
        <td width="25%" style="text-align: right; line-height: 15px;font-size: 10pt;">{vat_percent}% &nbsp; {subtotal_txt}</td>
        <td width="15%" style="text-align: right; line-height: 15px;font-size: 10pt;">{sub_value}</td>
    </tr>
    {if:sh_discount}
    <tr class="{sh_vat}">
        <td width="60%" style="text-align: right; line-height: 15px;">&nbsp;</td>
        <td width="25%" style="text-align: right; line-height: 15px;font-size: 10pt;">{discount_txt} ({total_discount_procent} %): </td>
        <td width="15%" style="text-align: right; line-height: 15px;font-size: 10pt;">{disc_value}</td>
    </tr>
    <tr class="{sh_vat}">
        <td width="60%" style="text-align: right; line-height: 15px;">&nbsp;</td>
        <td width="25%" style="text-align: right; line-height: 15px;font-size: 10pt;">{net_txt}:</td>
        <td width="15%" style="text-align: right; line-height: 15px;font-size: 10pt;">{nett_value}</td>
    </tr>{end}
    <tr class="{sh_vat}">
        <td width="60%" style="text-align: right; line-height: 15px;"></td>
        <td width="25%" style="text-align: right; line-height: 15px;font-size: 10pt;">{vat_txt}:</td>
        <td width="15%" style="text-align: right; line-height: 15px;font-size: 10pt;">{vat_value}</td>
    </tr>{end} {endloop} {if:international_type}
    <tr>
        <td width="60%" style="text-align: right; line-height: 15px;">&nbsp;</td>
        <td width="25%" style="text-align: right; line-height: 15px;font-size: 10pt;">{vat_txt} ({vat_percent_int} %):</td>
        <td width="15%" style="text-align: right; line-height: 15px;font-size: 10pt;">{vat_value_int}</td>
    </tr>
    {end} {if:show_paid}
    <tr>
        <td width="85%" colspan="2" style="text-align: right; line-height: 15px;font-size: 10pt;"><strong>{if:is_proforma} {amount_txt} {else} {amount_due_txt} {end}:</strong></td>
        <td width="15%" style="text-align: right; line-height: 15px;font-size: 10pt;"><strong style="{red_if_credit}"> {total_amount_due}</strong></td>
    </tr>
    <tr class="{is_paid}">
        <td width="85%" colspan="2" style="text-align: right; line-height: 15px;font-size: 10pt;"><strong>{paid_txt}:</strong></td>
        <td width="15%" style="text-align: right; line-height: 15px;font-size: 10pt;"><strong>{total_paid}</strong></td>
    </tr>
    {if:downpayment}
    <tr>
        <td width="85%" colspan="2" style="text-align: right; line-height: 15px;font-size: 10pt;"><strong>{downpayment_txt}:</strong></td>
        <td width="15%" style="text-align: right; line-height: 15px;font-size: 10pt;"><strong>{total_downpayment}</strong></td>
    </tr>
    {end} {if:is_proforma}
    <tr>
        <td width="85%" colspan="2" style="text-align: right; line-height: 15px;font-size: 10pt;"><strong>{amount_due_txt}:</strong></td>
        <td width="15%" style="text-align: right; line-height: 15px;font-size: 10pt;"><strong>{total_amount_due_proforma}</strong></td>
    </tr>
    {if:is_req_payment}
    <tr>
        <td width="85%" colspan="2" style="text-align: right; line-height: 15px;font-size: 10pt;"><strong>{req_payment_txt}: (<span>{req_payment} %</span>)</strong></td>
        <td width="15%" style="text-align: right; line-height: 15px;font-size: 10pt;"><strong>{req_payment_value}</strong></td>
    </tr>
    {end} {else}
    <tr>
        <td width="85%" colspan="2" style="text-align: right;line-height: 15px;font-size: 10.5pt;background-color: #f0f0f0;"><strong>{if:is_proforma} {amount_txt}{else} {req_payment_txt}{end}:</strong></td>
        <td width="15%" style="text-align: right;line-height: 15px;font-size: 10pt;background-color: #f0f0f0;"><strong style="{red_if_credit}"> {total_payments}</strong></td>
    </tr>{end}{else} {if:downpayment}
    <tr>
        <td width="85%" colspan="2" style="text-align: right; line-height: 15px;font-size: 10pt;"><strong>{downpayment_txt}:</strong></td>
        <td width="15%" style="text-align: right; line-height: 15px;font-size: 10pt;"><strong>{total_downpayment}</strong></td>
    </tr>
    {end}
    <tr>
        <td width="85%" colspan="2" style="text-align: right; line-height: 15px;font-size: 10pt;"><strong>{if:is_proforma} {amount_txt} {else} {amount_due_txt} {end}:</strong></td>
        <td width="15%" style="text-align: right; line-height: 15px;font-size: 10pt;"><strong style="{red_if_credit}"> {total_amount_due}</strong></td>
    </tr>
    {end} {if:use_ogm}
    <tr>
        <td width="20%" style="text-align: left; line-height: 15px;font-size: 11pt;">{ogm_txt}:</td>
        <td width="80%" style="text-align: left; line-height: 15px;font-size: 11pt;">+++{ogm}+++</td>
    </tr>
    {end}
</table>
<table width="100%" cellspacing="0" cellpadding="0" class="" style="clear:both;">
    <tbody>
        <tr>
            <td class="last">
                &nbsp;<br/> &nbsp;
                <br/> &nbsp;
                <br/> &nbsp;
            </td>
            <td class="last">&nbsp;</td>
            <td class="last">&nbsp;</td>
        </tr>
    </tbody>
</table>
{if:body_down} {BODY} {end} {if:view_notes2 != 'hide'}&nbsp;
<h1 style="border-bottom:1px solid #CCCCCC;" class="{view_notes2}">{notes2_txt}</h1><br>
<span style="font-size:9pt;">{notes2}</span>{end}{free_text_br}{if:view_notes != 'hide'}<br/><br/>
<h1 style="border-bottom:1px solid #CCCCCC;" class="{view_notes}">{notes_txt}</h1><br>
<span style="font-size:9pt;">{notes}</span>{end} {end} {if:show_stamp_signature}
<br/> &nbsp;<br/> &nbsp;<br/> &nbsp;<br/>
<table width="100%" cellspacing="0" cellpadding="0" class="" style="clear:both;" nobr="true">
    <tbody>
        <tr>
            <td class="last" style="border:1px solid #CCCCCC;text-align:center;">
                {stamp_signature}<br/> &nbsp;
                <br/> &nbsp;
                <br/> &nbsp;
                <br/> &nbsp;
                <br/> &nbsp;
                <br/> &nbsp;
            </td>
            <td class="last">&nbsp;</td>
            <td class="last">&nbsp;</td>
        </tr>
    </tbody>
</table>
{end} {if:foot} {FOOTER} {end}