<div class="modal-header">
  	<button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="edb.cancel()"><span aria-hidden="true">&times;</span></button>
  	<h4 class="modal-title">{l}Edebex Sell{endl}</h4>
</div>
<div class="modal-body">
	<div class="loading_wrap loading_alt hidden">
      	<div class="loading"></div>
        <div class="spinner"></div>
    </div>
	<div uib-alert ng-repeat="alert in edb.alerts" type="{{alert.type}}" close="edb.alerts.splice($index, 1);" ng-class="['alert-' + (alert.type || 'warning') ]">{{alert.msg}}</div>
	<div class="col-sm-12 col-bottom col-top">
		<div class="row form-group">
            <label class="col-sm-5 col-lg-4 control-label">{l}Invoice Amount{endl}</label>
            <label class="col-sm-5 col-lg-4 control-label">{{edb.obj.amount}} {{edb.obj.currency}}</label>    
        </div><!-- /.form-group -->
        <div class="row form-group">
            <label class="col-sm-5 col-lg-4 control-label">{l}Amount Offered{endl}</label>
            <label class="col-sm-5 col-lg-4 control-label"><strong>{{edb.obj.amount_offer}} {{edb.obj.currency}}</strong></label>    
        </div><!-- /.form-group -->
        <div class="row" ng-if="!edb.obj.redirect && !edb.obj.error">
			<div class="col-sm-1">
				<input type="checkbox" ng-click="edb.obj.accept=!edb.obj.accept" />
			</div>
			<div class="col-sm-11">
				<label>{l}I accept the offer{endl}</label>
			</div>			
		</div>
		<div class="row text-center" ng-if="edb.obj.redirect">
			<a href="{{edb.obj.redirect}}" target="_blank">{l}Click here to finish the process{endl}</a>
		</div>
	</div>
</div>
<div class="modal-footer">
      <button ng-if="!edb.obj.redirect" class="btn btn-plain" type="button" ng-click="edb.cancel()">{l}Cancel{endl}</button>
      <button ng-if="!edb.obj.redirect" class="btn btn-default" type="button" ng-disabled="!edb.obj.accept" ng-click="edb.ok()">{l}Sell{endl}</button>
      <button ng-if="edb.obj.redirect" class="btn btn-plain" type="button" ng-click="edb.cancel()">{l}Close{endl}</button>
</div>