<div class="modal-header">
  	<button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="edb.cancel()"><span aria-hidden="true">&times;</span></button>
  	<h4 class="modal-title">{l}Edebex Status{endl}</h4>
</div>
<div class="modal-body">
	<div uib-alert type="info" ng-if="edb.obj.status" class="alert-info">{{edb.obj.status}}</div>
</div>
<div class="modal-footer">
      <button class="btn btn-plain" type="button" ng-click="edb.cancel()">{l}Close{endl}</button>
</div>