<div class="container">
    <div class="page-header">
        <div class="row">
            <div class="col-sm-12">
                <h1>{l}Export type list{endl}
                    <a href="#" class="btn btn-plain pull-right" ng-click="openModal('csv_settings','','lg')">{l}Csv Settings{endl}</a>
                    <button ui-sref="export_apps" class="btn btn-link pull-right"><span class="glyphicon glyphicon-list"></span> <strong>{l}Back{endl}</strong></button>
                </h1>
            </div>
        </div>
    </div>
    <div uib-alert ng-repeat="alert in alerts" type="{{alert.type}}" close="alerts.splice($index, 1);" ng-class="['alert-' + (alert.type || 'warning') ]" dismiss-on-timeout='5000'>{{alert.msg}}</div>
    <div class="row page-search">
        <form>
            <div class="col-sm-9 col-md-9">
                <div class="so-field" ng-class="{ 'so-active':search.search!='' }">
                    <span class="glyphicon glyphicon-search so-icon"></span>
                    <input type="text" class="form-control" placeholder="{l}Search{endl}" search-it doit="search" callbk="renderList" ng-model="search.search">
                    <span class="glyphicon glyphicon-remove so-icon so-remove" ng-click="toggleSearchButtons('search','')"></span>
                </div>
                <!-- /.input-search -->
            </div>
            <div class="col-sm-3">
                <button class="btn btn-block btn-plain" type="button" go-to="" state="export_csv.edit" params='{"list_id": "tmp"}'>
                <span class="text-muted">{l}Add export{endl}</span>
              </button>
            </div>
        </form>
    </div>
    <!-- /.page-search -->
    <div class="row page-content">
        <div class="col-sm-12">
            <table class="table active_rows orderTable" ng-if="list.length">
                <thead>
                    <tr>
                        <th class="col-sm-11 sortable_row" ng-class="{ 'sortable_row-up':(!reverse && ord=='name'), 'sortable_row-down':(reverse && ord=='name') }" ng-click="orderBY('name')">{l}Name{endl}</th>
                        <th class="col-sm-1 table_actions"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="item in list" class="collapseTr">
                        <td class="text-muted" ui-sref="export_view({'list_id': item.id})" list='{ "type":"invoice-export_csvs", "obj": { "search":{{search}} } }'><span>{{::item.name}}</span></td>
                        <td class="table_actions">
                            <div class="btn-group" uib-dropdown>
                                <button type="button" class="btn btn-plain dropdown-toggle" uib-dropdown-toggle>
	                            <span class="caret"></span>
	                        </button>
                                <ul class="dropdown-menu dropdown-menu-right" uib-dropdown-menu>
                                    <li class="dropdown-header">{l}Action{endl}</li>
                                    <li>
                                        <a href="#" go-to="" state="export_csv.edit" params='{"list_id": {{::item.id}}}' list='{ "type":"invoice-export_csvs", "obj": { "search":{{search}} } }'><span class="fas fa-pen text-primary"></span> {l}Edit{endl}</a>
                                    </li>
                                    <li>
                                        <a href="#" ng-click="action(item,'delete_link')" confirm="{l}Are you sure, you wanna delete this entry?{endl}"><span class="fas fa-trash-alt text-primary"></span> {l}Delete{endl}</a>
                                    </li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
            <!-- <div ng-if="!list.length" uib-alert type="notice" class="alert-warning">{l}No data to display{endl}</div> -->
        </div>
    </div>
    <!-- /.page-content -->
    <ul ng-if="max_rows > 30" uib-pagination total-items="max_rows" ng-model="search.offset" ng-change="searchThing()" max-size="5" class="pager" boundary-links="true" items-per-page="lr"></ul>
</div>