<div class="modal-header">
  	<button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="set.cancel()"><span aria-hidden="true">&times;</span></button>
  	<h4 class="modal-title">{{set.obj.title}}</h4>
</div>
<div class="modal-body" ng-class="{ 'modal-body_alt':set.obj.app=='winbooks' }">
	<!-- <div uib-alert ng-repeat="alert in set.alerts" type="{{alert.type}}" close="set.alerts.splice($index, 1);" dismiss-on-timeout="3000" ng-class="['alert-' + (alert.type || 'warning') ]">{{alert.msg}}</div> -->
	<div class="col-sm-12 col-bottom col-top">
		<div class="row">
			<div class="form-group">
				<label class="control-label text-left col-sm-5">{l}Ledger Account{endl}</label>
				<div class="col-sm-7">
					<div class="col-sm-12">
						<selectize config="set.ledgeCfg" options="set.obj.ledger_account" ng-model="set.obj.ledger_account_id" id="custandcont" table="pim_article_ledger_accounts" model="ledger_account" ></selectize>
					</div>				
				</div>
			</div>
		</div>		
		<table class="table active_rows orderTable" ng-if="set.obj.app=='yuki' || set.obj.app=='codabox' || set.obj.app=='exact_online'">
			<thead>
				<tr>
					<th class="col-sm-4">{l}Description{endl}</th>
					<th class="col-sm-2">{l}VAT{endl}</th>
					<th class="col-sm-2">{l}Type{endl}</th>
					<th class="col-sm-4 text-center">{l}Value{endl}</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="item in set.obj.vats">
					<td>{{item.VAT_VALUE}}</td>
					<td>{{item.value}} %</td>
					<td>{{item.regime_type}}</td>
					<td>
						<div class="col-sm-12">
				                  <select class="form-control" ng-model="item.selected" ng-change="set.changeVats($index,item.selected)">
				                    <option value="0">{l}Select type{endl}</option>
				                    <option ng-repeat="option in item.d track by option.id" value="{{option.id}}">{{option.name}}</option>
				                  </select>
			                	</div>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
<div class="modal-footer">
	<button class="btn btn-plain" type="button" ng-click="set.cancel()">{l}Close{endl}</button>
</div>