<div class="container">
    <div class="page-header">
        <div class="row">
            <div class="col-sm-12">
                <h1>{{title}}
                    <button ui-sref="export_csvs" class="btn btn-link pull-right"><span class="glyphicon glyphicon-list"></span> <strong>{l}List{endl}</strong></button>
                    <a class="pull-right edit" href="#" go-to="" state="export_csv.edit" params='{"list_id": {{list_id}}}'><span class="fas fa-pen text-primary"></span> {l}Edit{endl}</a>
                </h1>
            </div>
        </div>
    </div>
    <div uib-alert ng-repeat="alert in alerts" type="{{alert.type}}" close="alerts.splice($index, 1);" ng-class="['alert-' + (alert.type || 'warning') ]" dismiss-on-timeout='5000'>{{alert.msg}}</div>
    <div class="row page-content">
        <div class="col-sm-12">
            <ul class="nav nav-tabs">
                <li class="active" ng-click="initial()"><a href="#" data-toggle="tab" aria-expanded="true">{l}Invoices{endl}</a></li>
                <li class="" ng-click="second()"><a href="#" data-toggle="tab" aria-expanded="false">{l}Purchase Invoices{endl}</a></li>
            </ul>
            <div>
                <div class="row page-search page-search-options margin-top">
                    <form>
                        <div class="col-sm-12">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="so-field" ng-class="{ 'so-active':search.search!='' }">
                                        <span class="glyphicon glyphicon-search so-icon"></span>
                                        <input type="text" class="form-control" placeholder="{l}Search{endl}" search-it doit="search" callbk="renderList" ng-model="search.search">
                                        <span class="glyphicon glyphicon-remove so-icon so-remove" ng-click="toggleSearchButtons('search','')"></span>
                                    </div>
                                    <!-- /.input-search -->
                                </div>
                                <!-- /.page-search_options -->
                            </div>
                        </div>
                        <div class="page-search-button">
                            <div class="btn-group" uib-dropdown>
                                <button type="button" class="btn btn-tertiary dropdown-toggle" uib-dropdown-toggle>
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu dropdown-menu-right" uib-dropdown-menu>
                                    <li ng-if="activeView == 0"><a href="#" ng-click="changeView(-1)"><span class="fas fa-archive new_archive"></span> {l}Exported{endl}</a></li>
                                    <li ng-if="activeView == -1"><a href="#" ng-click="changeView(0)"><span class="fa fa-list-ul" ></span> {l}List{endl}</a></li>
                                </ul>
                            </div>
                        </div>
                        <!-- <div class="col-sm-2 pull-right">
				              	<div class="btn-group btn-block">
				                	<selectize placeholder="{l}All Statuses{endl}" config='filterCfg' options='views' ng-model="activeView" ></selectize>
				              	</div>
				          	</div> -->
                    </form>
                </div>
                <div>
                    <table class="table active_rows orderTable" ng-if="list.length">
                        <thead>
                            <tr>
                                <th class="col-sm-2 sortable_row" ng-class="{ 'sortable_row-up':(!reverse && ord=='serial_number'), 'sortable_row-down':(reverse && ord=='serial_number') }" ng-click="orderBY('serial_number')">{l}Invoice{endl}</th>
                                <th class="col-sm-2 sortable_row" ng-class="{ 'sortable_row-up':(!reverse && ord=='t_date'), 'sortable_row-down':(reverse && ord=='t_date') }" ng-click="orderBY('t_date')">{l}Date{endl}</th>
                                <th class="col-sm-6 sortable_row" ng-class="{ 'sortable_row-up':(!reverse && ord=='buyer_name'), 'sortable_row-down':(reverse && ord=='buyer_name') }" ng-click="orderBY('buyer_name')">{l}Company{endl}</th>
                                <th class="col-sm-1 col-select" ng-if="!search.archived"><input type="checkbox" ng-model="checkboxAll.checkIt" ng-click="checkAll()"></th>
                                <th class="col-sm-1 table_actions" ng-if="!search.archived">
                                    <div class="btn-group" uib-dropdown>
                                        <button type="button" class="btn btn-tertiary dropdown-toggle" uib-dropdown-toggle><span class="caret"></span></button>
                                        <ul class="dropdown-menu dropdown-menu-right" uib-dropdown-menu>
                                            <li><a href="#" ng-click="exportMultiple(1)"><span class="fas fa-upload text-primary"></span> {l}Export invoices CSV{endl}</a></li>
                                            <li><a href="#" ng-click="exportMultiple(0)"><span class="fas fa-archive text-primary"></span> {l}Remove from export{endl}</a>
                                            </li>
                                        </ul>
                                    </div>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="item in list" class="collapseTr">
                                <td class="text-muted" ng-click="go_link(item.id)"><span>{{::item.s_number}}</span></td>
                                <td class="text-muted" ng-click="go_link(item.id)"><span>{{::item.created}}</span></td>
                                <td class="text-muted" ng-click="go_link(item.id)"><span>{{::item.buyer_name}}</span></td>
                                <td class="text-muted col-select" ng-if="!search.archived"><input type="checkbox" ng-model="item.checked" ng-click="checkSingle($index)"></td>
                                <td class="table_actions" ng-if="!search.archived">
                                    <div class="btn-group" uib-dropdown>
                                        <button type="button" class="btn btn-plain dropdown-toggle" uib-dropdown-toggle>
			                            <span class="caret"></span>
			                        </button>
                                        <ul class="dropdown-menu dropdown-menu-right" uib-dropdown-menu>
                                            <li class="dropdown-header">{l}Action{endl}</li>
                                            <li ng-if="search.archived !='1'">
                                                <a href="#" ng-click="action(item,'delete_link')" confirm="{l}Are you sure, you wanna remove this invoice from the list? You will not be able to send this invoice anymore{endl}"><span class="fas fa-trash-alt text-primary"></span> {l}Remove from list{endl}</a>
                                            </li>
                                        </ul>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div ng-if="!list.length" uib-alert type="notice" class="alert-warning">{l}No data to display{endl}</div>
                </div>
            </div>
        </div>
    </div>
    <!-- /.page-content -->
    <ul ng-if="max_rows > 30" uib-pagination total-items="max_rows" ng-model="search.offset" ng-change="searchThing()" max-size="5" class="pager" boundary-links="true" items-per-page="lr"></ul>
</div>