<div class="page-header-buttons text-right">
    <a href="#" ui-sref="export_view({'list_id': edit.list_id})" ng-if="edit.list_id !='tmp' "><i class="fa fa-eye" aria-hidden="true"></i> {l}View{endl}</a>
    <button go-to="" state="export_csvs" type="submit" class="btn btn-link"><span class="glyphicon glyphicon-list"></span> <strong>{l}List{endl}</strong></button>
    <button type="submit" class="btn btn-plain" go-to="" state="export_csv.edit" params='{"list_id": "tmp"}'>{l}Add export list{endl}</button>
    <button type="submit" class="btn btn-default" ng-click="edit.save(name_form)">{l}Save{endl}</button> 
</div>
<div uib-alert ng-repeat="alert in edit.alerts" type="{{alert.type}}" close="edit.alerts.splice($index, 1);" ng-class="['alert-' + (alert.type || 'warning') ]" dismiss-on-timeout='5000' >{{alert.msg}}</div>
<div class="user_summary">
	<button class="btn-summary text-link">{l}Export settings{endl}</button>
</div>
<div class="row">
	<div class="row">
		<div class="col-sm-6">
			<div class="col-sm-12">
				<form class="form-horizontal text-left" name="name_form" novalidate>
					<div class="form-group" ng-class="{ 'form-group_alert' : name_form.name.$invalid && !name_form.name.$pristine }">
						<label class="col-sm-3 control-label">{l}Name{endl}:*</label>
						<div class="col-sm-9">
		                          <input type="text" class="form-control" ng-model="edit.item.name" name="name" required />
		                            <div class="alert alert-sm alert-danger" ng-if="name_form.name.$invalid && edit.alertsField.name">{{edit.alertsField.name}}</div>
		                        </div>
					</div>
				</form>
			</div>
			<div class="col-sm-12">
				<div class="row">
					<label class="col-sm-3 control-label">{l}Delimiter{endl}:</label>
					<div class="col-sm-9">
		                        <input type="text" class="form-control" ng-model="edit.item.delimit_er" />
		                  </div>
				</div>
			</div>			
		</div>
		<div class="col-sm-6">
			<div class="col-sm-12">
				<div class="row">
					<label class="col-sm-5 control-label">{l}Show headers{endl}:</label>
					<div class="col-sm-2">
						<div class="checkbox checkbox-primary text-center">
		                        <input type="checkbox" class="form-control" id="checkbox_0" ng-model="edit.item.show_headers" />
		                        <label for="checkbox_0"></label>
		                    </div>
		                  </div>
				</div>
			</div>
			<div class="col-sm-12">
				<div class="row">
					<label class="col-sm-5 control-label">{l}Convert serial number to number{endl}:</label>
					<div class="col-sm-2">
						<div class="checkbox checkbox-primary text-center">
		                        <input type="checkbox" class="form-control" id="checkbox_1" ng-model="edit.item.convert" />
								<label for="checkbox_1"></label>
		                    </div>
		                  </div>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-12">
			<div class="col-sm-12">
				<div class="section-title">
					<h2><strong>{l}Custom fields{endl}</strong>
						<button type="button" class="btn btn-default pull-right" ng-click="edit.addLine()">{l}Add line{endl}</button>
					</h2>
				</div>
				<table class="table table_head_only table_orders" cellspacing="0" cellpadding="0" ng-if="edit.item.custom_fields.length">
				  <thead>
				    <tr>
				      <th>
				        <div class="row">
				          <div class="col-sm-6 text-left">{l}Header{endl}</div>
				          <div class="col-sm-6 text-left">{l}Value{endl}</div>
				        </div>
				      </th>
				    </tr>
				  </thead>
				</table>
				<ul class="table table_orders" data-as-sortable="dragControlListeners" data-ng-model="edit.item.custom_fields" ng-if="edit.item.custom_fields.length">
					<li ng-repeat="item in edit.item.custom_fields" data-as-sortable-item>
						<div class="row">
							<div class="row_handler" >
						            <span class="btn-drag" data-as-sortable-item-handle>&nbsp;</span>
						            <span class="btn-remove"><span class="fa fa-trash" ng-click="edit.removeLine($index)"></span></span>        
						      </div>
						      <div class="col-sm-6">
						      	<div class="col-sm-9">
						      		<input type="text" class="form-control" ng-model="item.header" />
						      	</div>						      	
						      </div>
						      <div class="col-sm-6">
						      	<div class="col-sm-9">
						      		<input type="text" class="form-control" ng-model="item.value" />
						      	</div>						      	
						      </div>
						</div>
					</li>
				</ul>
			</div>			
		</div>	
	</div>
	<div class="row">
		<div class="col-sm-12">
			<div class="col-sm-12">
				<div class="section-title">
					<h2><strong>{l}Invoices fields{endl}</strong></h2>
				</div>
				<table class="table table_head_only table_orders" cellspacing="0" cellpadding="0">
				  <thead>
				    <tr>
				      <th>
				        <div class="row">
				          <div class="col-sm-4 text-left">{l}Field{endl}</div>
				          <div class="col-sm-5 text-left">{l}Header{endl}</div>
				          <div class="col-sm-3 text-center">{l}Show on export{endl}</div>
				        </div>
				      </th>
				    </tr>
				  </thead>
				</table>
				<ul class="table table_orders" data-as-sortable="dragControlListeners" data-ng-model="edit.item.fields">
					<li ng-repeat="item in edit.item.fields" data-as-sortable-item>
						<div class="row">
							<div class="row_handler" >
						            <span class="btn-drag" data-as-sortable-item-handle>&nbsp;</span>        
						      </div>
						      <div class="col-sm-4">{{item.name}}</div>
						      <div class="col-sm-5">
						      	<input type="text" class="form-control" ng-model="item.header" /></div>
						      <div class="col-sm-3">
						      	<div class="checkbox checkbox-primary text-center">
						      	<input type="checkbox" class="form-control" id="inv_f_{{item.id}}" ng-model="item.checked" />
						      	<label for="inv_f_{{item.id}}"></label>
						      </div>
						      </div>
						</div>
					</li>
				</ul>
				<div class="section-title">
					<h2><strong>{l}Lines fields{endl}</strong></h2>
				</div>
				<table class="table table_head_only table_orders" cellspacing="0" cellpadding="0">
				  <thead>
				    <tr>
				      <th>
				        <div class="row">
				          <div class="col-sm-4 text-left">{l}Field{endl}</div>
				          <div class="col-sm-5 text-left">{l}Header{endl}</div>
				          <div class="col-sm-3 text-center">{l}Show on export{endl}</div>
				        </div>
				      </th>
				    </tr>
				  </thead>
				</table>
				<ul class="table table_orders" data-as-sortable="dragControlListeners" data-ng-model="edit.item.lines">
					<li ng-repeat="item in edit.item.lines" data-as-sortable-item>
						<div class="row">
							<div class="row_handler" >
						            <span class="btn-drag" data-as-sortable-item-handle>&nbsp;</span>        
						      </div>
						      <div class="col-sm-4">{{item.name}}</div>
						      <div class="col-sm-5">
						      	<input type="text" class="form-control" ng-model="item.header" /></div>
						      <div class="col-sm-3">
						      	<div class="checkbox checkbox-primary text-center">
						      	<input type="checkbox" class="form-control" id="line_f_{{item.id}}" ng-model="item.checked" />
						      	<label for="line_f_{{item.id}}"></label>
						      </div>
						      </div>
						</div>
					</li>
				</ul>
			</div>			
		</div>
	</div>	
</div>
<div class="text-right">
      <button type="submit" class="btn btn-default" ng-click="edit.save(name_form)">{l}Save{endl}</button>          
</div>