<div class="container">
  <div class="page-header">
    <div class="row">
        <div class="col-xs-8 col-sm-6">
              <h1>{l}Export{endl}</h1>
          </div>
          <div class="col-xs-4 col-sm-6 text-right" ng-if="show_settings.is_admin_invoice || show_settings.noteasy">
                  <div class="dropdown new-settings">
                      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-ellipsis-v"></i></button>
                      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <li class="dropdown-item" ng-if="show_settings.noteasy" ng-class="{ 'current':menu.submenu == 'import' }"><a go-to=""  href="import_invoices/" state="import_invoices"><i class="fas fa-download"></i> {l}Import{endl}</a></li>
                            <li class="dropdown-item" ng-if="show_settings.is_admin_invoice" ng-class="{ 'current':menu.submenu == 'invoices setting' }"><a go-to="" href="invoiceSettings/" state="invoiceSettings"><span class="fas fa-cog text-primary"></span> {l}Invoice Module{endl}</a> </li>
                      </div>
                  </div>
            </div>
      </div>
  </div><!-- /.page-header -->
  <div class="tabs-navigation"> 
<div class="tab-content">
  <div class="tab-pane active">
      <div uib-alert ng-repeat="alert in alerts" type="{{alert.type}}" close="alerts.splice($index, 1);" ng-class="['alert-' + (alert.type || 'warning'), 'alert-fixed' ]" dismiss-on-timeout='5000' >{{alert.msg}}</div>
			<div class="row page-content col-top">
            	<div class="col-sm-12 col-top">

                  <div class="row">                  
                      <div class="col-sm-3 col-md-2" ng-repeat="item in list.accountancy">
                          <div class="app_card" ng-click="showApp(item)">
                            <div class="badge badge-beta app_card-badge" ng-if="item.view_beta">
                                beta
                            </div>
                            <div class="activated" ng-class="{ 'not-activated':!item.activated }"></div>
                            <img class="img-responsive" ng-src="images/{{item.app}}.png" alt=""/> 
                          </div>
                      </div>
                      <div class="col-sm-3 col-md-2" ng-if="!list.preferred_acc && list.activated=='0'">
                          <div class="app_card app_card-text" ui-sref="export_csvs">
                            {l}CSV export{endl}
                          </div>
                      </div>
                  </div>
                </div>
			</div>
		</div>
  </div>
</div>
</div>