<div class="container">
    <div class="page-header">
        <div class="row">
            <div class="col-sm-12">
                <h1>{{title}}
                    <a href="#" class="btn btn-plain pull-right" ng-if="app=='codabox'" ng-click="openModal('coda_settings','','lg')">{l}Codabox settings{endl}</a>
                    <!-- <a href="#" class="btn btn-plain pull-right" ng-if="app=='yuki'" ng-click="openModal('yuki_settings','','lg')">{l}Yuki settings{endl}</a> -->
                    <a href="#" class="btn btn-plain pull-right" ng-if="app=='winbooks'" ng-click="openModal('btb_settings','','md')">{l}E-FFF settings{endl}</a>
                    <!-- <a href="#" class="btn btn-plain pull-right" ng-if="app=='exact_online'" ng-click="openModal('exact_settings','','md')">{l}Exact Online settings{endl}</a> -->
                    <!-- <a href="#" class="btn btn-plain pull-right" ng-if="app=='billtobox'" ng-click="openModal('billtobox_settings','','md')">{l}BillToBox settings{endl}</a> -->
                    <a href="#" class="btn btn-danger pull-right hid" ng-if="export_errors" ng-click="showFailed()">{l}Failed Exports{endl}</a>
                    <!-- <button ui-sref="export_apps" class="btn btn-link pull-right"><span class="glyphicon glyphicon-list"></span> <strong>{l}Back{endl}</strong></button> -->
                </h1>
            </div>
        </div>
    </div>
    <div uib-alert ng-repeat="alert in alerts" type="{{alert.type}}" close="alerts.splice($index, 1);" ng-class="['alert-' + (alert.type || 'warning') ]" dismiss-on-timeout='5000'>{{alert.msg}}</div>
    <div class="row page-content">
        <div class="col-sm-12">
            <ul class="nav nav-tabs">
                <li class="active" ng-click="initial()"><a href="#" data-toggle="tab" aria-expanded="true">{l}Sales Invoices{endl}</a></li>
                <li ng-if="app=='winbooks' || app=='yuki' || app=='clearfacts' || app=='billtobox'" class="" ng-click="second()"><a href="#" data-toggle="tab" aria-expanded="false">{l}Purchase Invoices{endl}</a></li>
            </ul>
            <div>
                <div class="row page-search page-search-options margin-top">
                    <form>
                        <div class="col-sm-12">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="so-field" ng-class="{ 'so-active':search.search!='' }">
                                        <span class="glyphicon glyphicon-search so-icon"></span>
                                        <input type="text" class="form-control" placeholder="{l}Search{endl}" search-it doit="search" callbk="renderList" ng-model="search.search">
                                        <span class="glyphicon glyphicon-remove so-icon so-remove" ng-click="toggleSearchButtons('search','')"></span>
                                    </div>
                                    <!-- /.input-search -->
                                </div>
                                <!-- /.page-search_options -->
                            </div>
                        </div>
                        <!-- <div class="col-sm-2" ng-if="app=='netsuite'">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="btn-group btn-block">
                                        <selectize placeholder="{l}All Types{endl}" config='filterCfgType' options='types' ng-model="doc_type">
                                        </selectize>
                                    </div>
                                </div>
                            </div>
                        </div> -->
                        <div class="page-search-button">
                            <div class="btn-group" uib-dropdown>
                                <button type="button" class="btn btn-tertiary dropdown-toggle" uib-dropdown-toggle>
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu dropdown-menu-right" uib-dropdown-menu>
                                    <li ng-if="activeView == 0"><a href="#" ng-click="changeView(-1)"><span class="fas fa-archive new_archive"></span> {l}Exported{endl}</a></li>
                                    <li ng-if="activeView == -1"><a href="#" ng-click="changeView(0)"><span class="fa fa-list-ul" ></span> {l}List{endl}</a></li>
                                </ul>
                            </div>
                        </div>
                        <!-- <div class="col-sm-2 pull-right">
					              	<div class="btn-group btn-block">
					                	<selectize placeholder="{l}All Statuses{endl}" config='filterCfg' options='views' ng-model="activeView" ></selectize>
									  </div> -->
                        <!-- <div class="btn-group dropdown" uib-dropdown="">
										<button type="button" class="btn btn-tertiary btn-square dropdown-toggle" uib-dropdown-toggle="" aria-haspopup="true" aria-expanded="false">
										  <span class="caret"></span>
										  <span class="sr-only">Toggle Dropdown</span>
										</button>
										<ul class="dropdown-menu dropdown-menu-right" uib-dropdown-menu="">
										
											<li>
												<selectize placeholder="{l}All Statuses{endl}" config='filterCfg' options='views' ng-model="activeView" ></selectize>
											</li>
										</ul>
									  </div> -->
                        <!-- </div> -->
                    </form>
                </div>
                <div>
                    <table class="table active_rows orderTable" ng-if="list.length">
                        <thead>
                            <tr>
                                <th ng-if="(app=='winbooks' || app=='yuki' || app=='clearfacts' || app=='billtobox') && search.type=='1'" class="col-sm-2 sortable_row" ng-class="{ 'sortable_row-up':(!reverse && ord=='booking_number'), 'sortable_row-down':(reverse && ord=='booking_number') }"
                                    ng-click="orderBY('booking_number')">{l}Booking{endl}</th>
                                <th class="col-sm-2 sortable_row" ng-class="{ 'sortable_row-up':(!reverse && ord=='serial_number'), 'sortable_row-down':(reverse && ord=='serial_number') }" ng-click="orderBY('serial_number')">{l}Invoice{endl}</th>
                                <th class="col-sm-2 sortable_row" ng-class="{ 'sortable_row-up':(!reverse && ord=='t_date'), 'sortable_row-down':(reverse && ord=='t_date') }" ng-click="orderBY('t_date')">{l}Date{endl}</th>
                                <th class="col-sm-{{col_plus}} sortable_row" ng-class="{ 'sortable_row-up':(!reverse && ord=='buyer_name'), 'sortable_row-down':(reverse && ord=='buyer_name') }" ng-click="orderBY('buyer_name')">{l}Company{endl}</th>
                                <!-- <th class="col-sm-1 col-select" ng-if="!search.archived"><input type="checkbox" ng-model="listObj.checkIt" ng-click="checkAll()"></th>
			                  <th class="col-sm-1 col-select" ng-if="search.archived"><input type="checkbox" ng-model="listObj.checkItUnmark" ng-click="checkAllUnmark()"></th> -->
                                <th class="col-sm-1 col-select">
                                    <div class="dropdown order_export">
                                        <button class="dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          				<i class="fa fa-square-o" ng-if="!all_pages_selected && !minimum_selected"></i>
                          				<i class="fas fa-minus-square" ng-if="!all_pages_selected && minimum_selected"></i>
                          				<i class="fas fa-check-square" ng-if="all_pages_selected"></i>
                          				<i class="fa fa-caret-down" aria-hidden="true"></i>
                       				</button>
                                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                            <a class="dropdown-item" href="#" ng-click="checkAllPage()">{l}Select page{endl}</a>
                                            <a class="dropdown-item" href="#" ng-if="!all_pages_selected" ng-click="checkAllPages()">{l}Select all{endl}</a>
                                            <a class="dropdown-item" href="#" ng-if="all_pages_selected || minimum_selected" ng-click="uncheckAllPages()">{l}Select none{endl}</a>
                                        </div>
                                    </div>
                                </th>
                                <th class="col-sm-1 table_actions">
                                    <div class="btn-group" uib-dropdown>
                                        <button type="button" class="btn btn-tertiary dropdown-toggle" uib-dropdown-toggle><span class="caret"></span></button>
                                        <ul class="dropdown-menu dropdown-menu-right" uib-dropdown-menu>
                                            <li ng-if="!search.archived && app!='netsuite'"><a href="#" ng-click="openModal('progress_invoice','','md')"><span class="glyphicon fas fa-upload text-primary"></span> {l}Export{endl}</a>
                                            </li>
                                            <li ng-if="!search.archived && app=='netsuite'"><a href="#" ng-click="exportNetsuite()"><i class="glyphicon fas fa-upload text-primary"></i> {l}Export{endl}</a>
                                            </li>
                                            <li ng-if="search.archived && app!='netsuite'"><a href="#" ng-click="openModal('progress_invoice_unmark','','md')"><span class="glyphicon fas fa-upload text-primary"></span> {l}Restore to be exported{endl}</a>
                                            </li>
                                            <li ng-if="search.archived && app=='netsuite'"><a href="#" ng-click="restoreSelectedExported()"><span class="glyphicon fas fa-upload text-primary"></span> {l}Restore to be exported{endl}</a>
                                            </li>
                                            <li ng-if="!search.archived"><a href="#" ng-click="markSelectedExported()"><i class="fas fa-file-export"></i> {l}Mark as exported{endl}</a>
                                            </li>
                                        </ul>
                                    </div>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="item in list" class="collapseTr">
                                <td ng-if="(app=='winbooks' || app=='yuki' || app=='clearfacts' || app=='billtobox') && search.type=='1'" class="text-muted" ng-click="go_link(item.id)"><span>{{::item.b_number}}</span></td>
                                <td class="text-muted" ng-click="go_link(item.id)"><span>{{::item.s_number}}</span></td>
                                <td class="text-muted" ng-click="go_link(item.id)"><span>{{::item.created}}</span></td>
                                <td class="text-muted" ng-click="go_link(item.id)"><span>{{::item.buyer_name}}</span></td>
                                <td class="text-muted col-select"><input type="checkbox" ng-model="item.checked" ng-click="checkSingle($index)"></td>
                                <td class="table_actions">
                                    <div class="btn-group" uib-dropdown>
                                        <button type="button" class="btn btn-plain dropdown-toggle" uib-dropdown-toggle>
			                            <span class="caret"></span>
			                        </button>
                                        <ul class="dropdown-menu dropdown-menu-right" uib-dropdown-menu>
                                            <li class="dropdown-header">{l}Action{endl}</li>
                                            <li ng-if="search.archived !='1'">
                                                <a href="#" ng-click="action(item,'mark_as_sent_link')"><i class="fas fa-file-export"></i>{l}Mark as exported{endl}</a>
                                            </li>
                                            <li ng-if="search.archived =='1'">
                                                <a href="#" ng-click="action(item,'unmark_as_sent_link')"><span class="glyphicon glyphicon-remove text-primary"></span> {l}Mark as unexported{endl}</a>
                                            </li>
                                        </ul>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <!-- <div ng-if="!list.length" uib-alert type="notice" class="alert-warning">{l}No data to display{endl}</div> -->
                </div>
            </div>
        </div>
    </div>
    <!-- /.page-content -->
<!--    <ul ng-if="max_rows > 30" uib-pagination total-items="max_rows" ng-model="search.offset" ng-change="searchThing()" max-size="5" class="pager" boundary-links="true" items-per-page="lr"></ul>-->
    <div class="col-sm-12">
        <div class="col-sm-8">
            <ul ng-if="max_rows && max_rows > 30" uib-pagination total-items="max_rows" ng-model="search.offset" ng-change="searchThing()" max-size="5" class="pager" boundary-links="true" items-per-page="lr"></ul>
        </div>
        <div class="col-sm-4 text-right">
            <label ng-if="max_rows && search.type == 0">{l}Number of invoices{endl}: <strong>{{max_rows}}</strong></label>
            <label ng-if="max_rows && search.type == 1">{l}Number of purchase invoices{endl}: <strong>{{max_rows}}</strong></label>
        </div>
    </div>
</div>