<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="fetch.cancel()"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title">{l}Fetch Invoices{endl}</h4>
</div>
<div class="modal-body">
    <div class="loading_wrap loading_alt hidden">
        <div class="loading"></div>
        <div class="spinner"></div>
    </div>
    <div uib-alert ng-repeat="alert in fetch.alerts" type="{{alert.type}}" close="fetch.alerts.splice($index, 1);" dismiss-on-timeout="4000" ng-class="['alert-' + (alert.type || 'warning') ]">{{alert.msg}}</div>
    <div class="col-sm-12 col-bottom col-top">
        <h2>{l}Payment Information{endl}</h2>
        <div class="row">
            <div class="form-group">
                <label class="text-left control-label col-sm-3">{l}Name{endl}</label>
                <label class="text-left control-label col-sm-9"><span ng-bind-html="fetch.obj.name"></label>
            </div>
        </div>
        <div class="row">
            <div class="form-group">
                <label class="text-left control-label col-sm-3">{l}IBAN{endl}</label>
                <label class="text-left control-label col-sm-3">{{fetch.obj.iban}}</label>

            </div>
        </div>
        <div class="row">
            <div class="form-group">
                <label class="text-left control-label col-sm-3">{l}Reference{endl}</label>
                <label class="text-left control-label col-sm-9"><span ng-bind-html="fetch.obj.reference"></span></label>
            </div>
        </div>
        <div class="row">
            <div class="form-group">
                <label class="text-left control-label col-sm-3">{l}Amount{endl}</label>
                <!-- <label class="text-left control-label col-sm-2"><span>{{fetch.obj.amount_info}} {{fetch.obj.currency_type}}</span></label> -->
                <label class="text-left control-label col-sm-2"><span ng-bind-html="fetch.obj.currency_value"></span> <span>{{fetch.obj.amount_info}}</span> </label>

            </div>
        </div>
        <div class="row">
            <div class="form-group">
                <label class="text-left control-label col-sm-3">{l}To still match{endl}</label>
                <div class=" control-label col-sm-9">
                    <span><strong><span ng-bind-html="fetch.obj.currency_value"></span> <span>{{fetch.obj.amount}}</span></strong>
                    </span>
                </div>
            </div>
        </div>
        <div class="row margin-top">
            <div class="page-search col-sm-4">
                <form>
                    <div class="col-sm-12 col-md-12">
                        <div class="so-field" ng-class="{ 'so-active':fetch.search.search!='' }">
                            <span class="glyphicon glyphicon-search so-icon"></span>
                            <input type="text" class="form-control" placeholder="{l}Search{endl}" ng-model="fetch.search.search" ng-keyup="fetch.searchIt()">
                            <span class="glyphicon glyphicon-remove so-icon so-remove" ng-click="fetch.toggleSearchButtons('search','')"></span>
                        </div>
                    </div>
                </form>
            </div>

            <div class="col-sm-4 top_space" ng-show="fetch.obj.iban">
                <div class="checkbox checkbox-primary col-md-1 right_space">
                    <input type="checkbox" id="checkbox1" ng-model="fetch.search.filter_iban" ng-click="fetch.searchThing('fetch_iban_nr',fetch.obj.iban,fetch.search.filter_iban)">
                    <label for="checkbox1" uib-tooltip="{l}Filter{endl}" tooltip-placement="left"></label>
                </div>
                <div class=" col-md-10 margin_top">
                    <label class="text-left control-label">{l}Match{endl}</label>
                    <label class="text-left control-label">{{fetch.obj.iban}}</label>
                </div>
            </div>
            <div class="col-sm-4 top_space">
                <div class="checkbox checkbox-primary  col-md-1 right_space">
                    <input type="checkbox" id="checkbox2" ng-model="fetch.search.filter_amount" ng-click="fetch.searchThing('fetch_amount_nr',fetch.obj.amount_info,fetch.search.filter_amount)">
                    <label for="checkbox2" uib-tooltip="{l}Filter{endl}" tooltip-placement="left"></label>
                </div>
                <div class="col-md-10 margin_top">
                    <label class="text-left control-label ">{l}Match{endl}</label>
                    <label class="text-left control-label "><span ng-bind-html="fetch.obj.amount_info_currency"></span></label>
                </div>
            </div>
        </div>
        <!-- <div uib-alert type="notice" class="alert-warning" ng-if="!fetch.obj.invoices.length">{l}No data to display{endl}</div> -->
        <table class="table orderTable" ng-if="fetch.obj.invoices.length">
            <thead>
                <tr>

                    <th class="col-sm-3">{l}Invoice{endl}</th>
                    <th class="col-sm-3">{l}Company{endl}</th>
                    <th class="col-sm-2">{l}IBAN{endl}</th>
                    <th class="col-sm-2">{l}Balance{endl}</th>
                    <th class="col-sm-2 text-center">{l}Link{endl}</th>

                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in fetch.obj.invoices">
                    <td>{{item.serial_number}}</td>
                    <td>{{item.buyer_name}}</td>
                    <td>{{item.iban}}</td>
                    <td><span ng-bind-html="item.amount_vat_currency"></span></td>
                    <td>
                        <div class="text-center checkbox checkbox-primary">
                            <input type="checkbox" id="fetch_{{item.id}}" ng-model="item.add_to_fetch" ng-click="fetch.fetch($index,item.add_to_fetch)" ng-disabled="fetch.show_amount_warning && !item.add_to_fetch">
                            <label for="fetch_{{item.id}}"></label>
                            <a ng-if="fetch.show_amount_warning && !item.add_to_fetch" class="match_warning" uib-tooltip="{l}No amount available{endl}" tooltip-placement="bottom"><i class="fa fa-warning"></i></a>
                        </div>
                        
                    </td>
                </tr>
            </tbody>
        </table>

    </div>
</div>
<div class="modal-footer">
    <ul ng-if="fetch.obj.max_rows > 10" uib-pagination total-items="fetch.obj.max_rows" ng-model="fetch.search.offset" ng-change="fetch.searchThingList()" max-size="5" class="pager" boundary-links="true" items-per-page="fetch.obj.lr"></ul>
    <button class="btn btn-plain" type="button" ng-click="fetch.cancel()" ng-if="!fetch.obj.invoices.length">{l}Close{endl}</button>
    <button class="btn btn-plain" type="button" ng-click="fetch.cancel()" ng-if="fetch.obj.invoices.length">{l}Cancel{endl}</button>
    <button class="btn btn-default" type="button" ng-click="fetch.ok()" ng-if="fetch.obj.invoices.length">{l}Save{endl}</button>
</div>