<div class="container">
    <div class="page-header">
        <div class="row">
            <div class="col-xs-12">
                <h1>{l}Import Invoices{endl}</h1>
            </div>
        </div>
    </div>
    <!-- /.page-header -->
    <div class="tabs-navigation">
        <div class="row page-content">
            <div class="col-sm-12">
                <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation" class="active"><a href="#import" aria-controls="import" role="tab" data-toggle="tab">{l}Import{endl}</a></li>
                    <li role="presentation"><a href="#import_history" class="history" aria-controls="import_history" role="tab" data-toggle="tab">{l}Import history{endl}</a></li>
                </ul>
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane fade in active" id="import">
                        <form id="import_form" class="form-horizontal text-left" name="backup_import" novalidate>
                            <div class="section-content col-top">
                                <!-- <div uib-alert ng-repeat="alert in vm.alerts" type="{{alert.type}}" close="vm.alerts.splice($index, 1);" dismiss-on-timeout="5000" ng-class="['alert-' + (alert.type || 'warning') ]">{{alert.msg}}</div> -->
                                <div class="row panel_steps col-top col-bottom">
                                    <div class="col-xs-12 col-sm-4">
                                        <div class="panel panel-plain {{vm.invoice.class1}}">
                                            <div class="panel-body text-center">
                                                <h2>{l}Step 1{endl} - {l}Backup your data{endl}</h2>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-4">
                                        <div class="panel panel-plain {{vm.invoice.class2}}">
                                            <div class="panel-body text-center">
                                                <h2>{l}Step 2{endl} - {l}Select a file you want to import{endl}</h2>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-4">
                                        <div class="panel panel-plain {{vm.class3}}">
                                            <div class="panel-body text-center">
                                                <h2>{l}Step 3{endl} - {l}Match desired fields{endl}</h2>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-12 text-center">
                                        <div ng-show="vm.invoice.step==1 || vm.step==1 ">
                                            <p>{l}Step 1 - Take a backup. If anything goes wrong, you can always restore this backup.{endl}</p>
                                            <div class="row">
                                                <div class="col-xs-12 col-sm-6 col-sm-offset-3 col-top">
                                                    <div class="form-group">
                                                        <label class="control-label col-xs-2">{l}File{endl} <span class="mandatory-label">*</span></label>
                                                        <div class="col-xs-6">
                                                            <!--                                   <select class="form-control" ng-model="vm.invoice.file_id">
                                    <option value="0">{l}Select file{endl}</option>
                                    <option ng-repeat="option in vm.invoice.file track by option.id" value="{{option.id}}">{{option.value}}</option>
                                  </select> -->
                                                            <selectize config="vm.cfg" options="vm.invoice.file" ng-model="vm.invoice.file_id"></selectize>
                                                        </div>
                                                        <div class="col-xs-4">
                                                            <button class="btn btn-default btn-block" type="button" ng-click="vm.backup_data(vm,vm.invoice,vm.invoice.file_id)">{l}Backup{endl}</button>
                                                        </div>
                                                    </div>
                                                    <!--                             <div class="form-group" ng-if="vm.invoice.show_file==false">
                                <div class="col-xs-4 col-xs-offset-4">
                                  <button class="btn btn-default btn-block" type="button" ng-click="vm.backup_data(vm,vm.invoice,vm.invoice.file_id)">{l}Backup{endl}</button>
                                </div>
                            </div>  -->
                                                </div>
                                            </div>
                                        </div>
                                        <div ng-show="vm.invoice.step==2">
                                            <p>{l}Step 2 - Select the Excel file that contains the data. That file should have the column headers on the first line. NOTE: each column header must be unique.{endl}</p>
                                            <div class="row">
                                                <div class="col-xs-12 col-sm-6 col-sm-offset-3 col-top">
                                                    <div class="upload-box col-xs-12">
                                                        <p><strong>{l}Import file{endl}</strong></p>
                                                        <p><small>{l}Allowed file types: <strong>.xls</strong> or <strong>.xlsx</strong>{endl}</small></p>
                                                        <div class="upload-file hidden">
                                                            <div class="row">
                                                                <div class="upload-file-info col-xs-12">
                                                                    <p class="nameOfTheFile"></p>
                                                                    <div class="upload-progress">
                                                                        <div class="upload-progress-bar" style="width: 88%;"></div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <input type="file" name="file" class="newUploadFile2" accept=".xls,.xlsx">
                                                        <p class="text-center"><button class="btn btn-default" ng-click="vm.upload(vm,$event)"><span class="glyphicon glyphicon-cloud-upload"></span> {l}Upload{endl}</button></p>
                                                    </div>
                                                    <!-- /.upload-box -->
                                                </div>
                                            </div>
                                        </div>
                                        <div ng-show="vm.step==3 || vm.invoice.step==3">
                                            <div class="form-group">
                                                <label class="col-xs-9 col-sm-2 text-left">{l}Mark as sent{endl}</label>
                                                <div class="form-group col-xs-3 col-sm-10 text-left">
                                                    <toggle-switch ng-model="vm.mark_as_sent" class="switch-primary" off-label="{l}No{endl}" on-label="{l}Yes{endl}"></toggle-switch>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-xs-9 col-sm-2 text-left">{l}Mark as paid{endl}</label>
                                                <div class="form-group col-xs-3 col-sm-10 text-left">
                                                    <toggle-switch ng-model="vm.mark_as_paid" class="switch-primary" off-label="{l}No{endl}" on-label="{l}Yes{endl}"></toggle-switch>
                                                </div>
                                            </div>
                                            <div class="row col-bottom text-left" ng-repeat="(key,val) in vm.file_content">
                                                <div class="col-xs-4 col-top">
                                                    <table class="table">
                                                        <thead>
                                                            <tr>
                                                                <th class="col-sm-12">{{key}}</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr ng-repeat="item in val | limitTo:3 track by $index">
                                                                <td>
                                                                    {{item}}
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                                <div class="col-xs-4" ng-if="vm.hideconts==0">
                                                    <h3>{l}Article{endl}</h3>
                                                    <select class="form-control" ng-model="vm.fields[vm.names_id[$index]]" ng-show="!vm.fieldsC[vm.names_id[$index]]" data-ng-options="option.id as option.name group by option.group for option in vm.match_field_invoice">
                            <option value="">{l}Select{endl}</option>
                            </select>
                                                </div>
                                                <!--                         <div class="col-xs-4" ng-if="vm.hideconts==1">
                          <h3>{l}Article{endl}</h3>
                            <select class="form-control" ng-model="vm.fields[vm.names_id[$index]]" ng-show="!vm.fieldsC[vm.names_id[$index]]" data-ng-options="option.id as option.name group by option.group for option in vm.match_field_company1">
                            <option value="">{l}Select{endl}</option>
                            </select>                            
                        </div> -->
                                            </div>
                                            <div class="col-top col-bottom text-center">
                                                <button class="btn btn-default" type="button" ng-click="vm.save_imports()">{l}Import{endl}</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- /.section-content -->
                        </form>
                        <!-- /#import_form -->
                    </div>
                    <!-- /.tab-pane -->
                    <div role="tabpanel" class="tab-pane fade" id="import_history">
                        <form id="import_form" name="backup_import" novalidate>
                            <div class="section-content">
                                <!-- <div uib-alert ng-repeat="alert in vm.alerts" type="{{alert.type}}" close="vm.alerts.splice($index, 1);" dismiss-on-timeout="5000" ng-class="['alert-' + (alert.type || 'warning') ]">{{alert.msg}}</div> -->
                                <h2>{l}View what has been imported{endl}</h2>
                                <p class="text-muted">{l}Import History{endl}</p>
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th class="col-sm-1">{l}Date{endl}</th>
                                            <th class="col-sm-4">{l}Filename{endl}</th>
                                            <th class="col-sm-2">{l}Invoice Added{endl}</th>
                                            <th class="col-sm-2">{l}Invoice Updated{endl}</th>
                                            <th class="col-sm-2">{l}Name{endl}</th>
                                            <th class="col-sm-1"> </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="item in vm.invoice.history">
                                            <td class="text-muted">{{item.date}}</td>
                                            <td>{{item.filename}}</td>
                                            <td class="text-primary link-pointer text-link" ng-click="vm.modal_history([item.id,item.add_company],'cTemplate/history','historyCtrl','lg')">{{item.company_added}}</td>
                                            <td class="text-primary link-pointer text-link" ng-click="vm.modal_history([item.id,item.update_company],'cTemplate/history','historyCtrl','lg')">{{item.company_updated}}</td>
                                            <td class="text-muted">{{item.username}}</td>
                                            <td class="table_actions">
                                                <div class="btn-group" uib-dropdown>
                                                    <button type="button" class="btn btn-plain dropdown-toggle" uib-dropdown-toggle>
                        <span class="caret"></span>
                      </button>
                                                    <ul class="dropdown-menu dropdown-menu-right" uib-dropdown-menu>
                                                        <li class="dropdown-header">{l}Action{endl}</li>
                                                        <li>
                                                            <a href="#" ng-click="vm.delete_import_company(vm,vm.vat,item.id)"><span class="fas fa-trash-alt text-primary"></span> {l}Delete{endl}</a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </form>
                    </div>
                    <!-- /.tab-pane -->
                </div>
            </div>
            <!-- neede on all pages -->
        </div>
    </div>
</div>