<div uib-alert ng-repeat="alert in view.alerts" type="{{alert.type}}" close="view.alerts.splice($index, 1);" dismiss-on-timeout="5000" ng-class="['alert-' + (alert.type || 'warning') ]">{{alert.msg}}</div>
<div class="panel panel-primary panel-order">
  <div class="panel-body">
    <div class="row">
      <div class="col-sm-6 col-md-3">
          <h4 class="title_underline">{l}Invoice Details{endl}</h4>          
            <p><strong>{l}Booking number{endl}</strong> {{::view.invoice.booking_number}}</p>
            <p><strong>{l}Invoice No.{endl}</strong> {{::view.invoice.invoice_number}}</p>
            <p><strong>{l}Invoice Date{endl}</strong> {{::view.invoice.factur_date}}</p>
            <p><strong>{l}Due Date{endl}</strong> {{::view.invoice.due_date}}</p>
            <p ng-if="::view.invoice.allow_disconto"><strong>{l}Disconto{endl}</strong> {{::view.invoice.disconto}}</p>
            <div ng-if="::view.invoice.one_vat">
              <p><strong>{l}VAT{endl}</strong> {{::view.invoice.new_vat1}} %</p>
              <p><strong>{l}Total excl. VAT{endl}</strong> {{::view.invoice.new_total1}}</p>
              <p><strong>{l}Total with VAT{endl}</strong> {{::view.invoice.total_with_vat1}}
              <span ng-if="::view.invoice.allow_disconto">({{::view.invoice.total_with_disco1}})</span>
              </p>
            </div>

             <div ng-if="!view.invoice.one_vat">
              <table class="table table-miimal">
                        <thead>
                          <tr>
                            <th>{l}Amount{endl}</th>
                            <th>{l}VAT{endl}%</th>
                            <th>{l}VAT{endl}</th>
                            <th class="text-center">{l}Total with VAT{endl}</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr ng-repeat="vat_row in view.invoice.vat_row">
                            <td class="col-adjust-input">{{::vat_row.new_total}}</td>
                            <td class="col-adjust-input text-muted text-nowrap">{{::vat_row.new_vat}}%</td>
                            <td class="col-adjust-input text-muted">{{::vat_row.vat_amount}}</td>
                            <td class="col-adjust-input text-strong text-center">{{::vat_row.total_with_vat}} <span ng-if="::vat_row.allow_disconto"> ({{::vat_row.total_with_disco}})</span></td>
                          </tr>
                          <tr>
                            <td class="col-adjust-input">{{::view.invoice.total_amount}}</td>
                            <td class="col-adjust-input text-muted text-nowrap"></td>
                            <td class="col-adjust-input text-muted">{{::view.invoice.total_vat}}</td>
                            <td class="col-adjust-input text-strong text-center">{{::view.invoice.total}} <span ng-if="::view.invoice.allow_disconto"> ({{::view.invoice.total_disco}})</span></td>
                          </tr>
                        </tbody>
                      </table>
            </div>


      </div>
      <div class="col-sm-6 col-md-3">
      	
        	
              <h4 class="title_underline">{l}Company Details{endl}</h4>
            <p><b>{{::view.invoice.customer_name}}</b></p>
<p>{{::view.invoice.address}}</p>
<p>{{::view.invoice.zip}} {{::view.invoice.city}}</p>
<p>{{::view.invoice.country_dd}}</p>
<p>{{::view.invoice.btw}}</p>
 <div ng-if="::view.invoice.c_start">
<h4 class="title_underline">{l}Contact Details{endl}</h4>
            <p><b>{{::view.invoice.first_name}} {{::view.invoice.last_name}}</b></p>
<p>{{::view.invoice.address}}</p>
<p ng-if="::view.invoice.email"> <span class="far fa-envelope text-muted text-link_space" aria-hidden="true"></span>{{::view.invoice.email}}</p>
<p ng-if="::view.invoice.phone"><span class="fa fa-phone text-muted text-link_space" aria-hidden="true"></span>{{::view.invoice.phone}}</p>

     </div>
     
   </div>
      <div class="col-sm-6 col-md-3" >
                      <div class="row">
                          <div class="col-md-12">
                            <h4 class="title_underline">{l}Transactions{endl}</h4>
                            <p><strong>{l}Invoice Balance{endl}:</strong> <span ng-bind-html="view.invoice.total_sum_curr"> </span> 
                            <ul class="compact_list">
                                <li class="compact_list-item_alt"  ng-repeat="payment_row in view.invoice.payments_row">
                                    <span class="delivery-date delivery-partially">{{::payment_row.date}} - <span ng-bind-html="payment_row.amount"></span> - {{::payment_row.info}} - {{::payment_row.cost_pay}} - {{::payment_row.payment_method}} </span>
                                </li>
                               
                            </ul>
           <div class="text-center col-top" ng-if="view.invoice.not_paid"><a class="btn btn-primary" title="{l}Record Payment{endl}" ng-click="view.openModal('recordPayment',view.invoice_id)"><span class="fa fa-sticky-note"></span>&nbsp; {l}Record Payment{endl}</a></div>
                          </div>
                      </div>
                    </div>
       <div class="col-sm-6 col-md-3">
                      <div >
                        <h4 class="title_underline">{l}Purchase Orders{endl}</h4>
                            <p><strong>{l}Total{endl}</strong> <span  ng-bind-html="::view.invoice.total_gen_order"></span></p>
                            <ul class="compact_list">
                                <li class="compact_list-item_alt" ng-repeat="order_row in view.invoice.orders_row" >
                                    <span class="delivery-date">{{::order_row.serial}} - <span ng-bind-html="order_row.total"></span></span>
                                </li>
                                
                            </ul>
                            <div class="text-center col-top"><a class="btn btn-primary" title="{l}Add Purchase Order{endl}" ng-click="view.addPorder()"><span class="fa fa-arrow-right"></span>{l}Add Purchase Order{endl}</a></div>
                      </div>
           <div class="" ng-if="view.showTxt.addPorder"> 
                        <div class="form-group">
                            <div class="col-sm-9">
                          <selectize config='view.porderAutoCfg' options='view.item.orders' ng-model="view.item.order_id" id="inputPorder" ></selectize>
                          </div>
                        </div>
                      </div>
                    </div>  

   
  </div>
</div>
    <div class="row intervention-options">
                  <div class="col-xs-12">
                      <div class="module_steps">
                          <ul class="module_steps-tabs">
                              <li ng-class="{ 'selected':view.invoice.selectedDraft }"><span class="badge">1</span>{l}Draft{endl}</li>
                              <li ng-class="{ 'selected':view.invoice.selectedFinal }"><span class="badge">2</span>{l}Final{endl}</li>
                              <li ng-class="{ 'selected':view.invoice.selectedPaid }"><span class="badge">3</span>{l}Paid{endl}</li>
                             
                          </ul><!-- /.module_steps-tabs -->
                          <div class="module_steps-content">
                              <div class="row" ng-if="view.invoice.selectedDraft">
                                  <div class="col-sm-12">
                                      <a class="btn btn-plain" ui-sref="purchase_invoice.edit({'incomming_invoice_id': view.invoice_id})" ><span class="fas fa-pen"></span>{l}Edit{endl}</a>
                                      <a class="btn btn-secondary"  ng-click="view.next()">{l}Next{endl}<span class="glyphicon glyphicon-chevron-right"></span></a>
                                      <div ng-if="view.showTxt.markFinal" class="btn-inline">
                                      <a class="btn btn-plain" ng-click="view.markFinal()"><span>{l}Mark as Final{endl}</span></a>
                                      </div>
                                      
                                  </div>
                              </div><!-- /.row:DRAFT -->
                                 <div class="row" ng-if="view.invoice.selectedFinal">
                                  <div class="col-sm-12">
                                            <a class="btn btn-tertiary" ng-click="view.markDraft()">
                                            <span class="glyphicon glyphicon-chevron-left"></span>
                                           {l}Revert to draft{endl}
                                            </a>
                                      </div>
                                      
                                  </div>
                                     <div class="row" ng-if="view.invoice.selectedPaid">
                                  <div class="col-sm-12">
                                            <a class="btn btn-tertiary" ng-click="view.markDraft()">
                                            
                                           <span class="glyphicon glyphicon-chevron-left"></span>{l}Back{endl}
                                            </a>
                                      </div>
                                      
                                  </div>
                              </div><!-- /.row:final -->
                              
                           

                          </div><!-- /.module_steps-content -->
                      </div><!-- /.module_steps -->
                  </div>
              </div><!-- /.intervention-options -->
 <div class="row page-content">
                    <div class="col-sm-12">
                     
                    </div>
              </div>  

