
<div class="page-header-buttons text-right">
    <button go-to="" state="incomming_invoices" type="submit" class="btn btn-link"><span class="glyphicon glyphicon-list"></span> <strong>{l}List{endl}</strong></button>
    <button type="submit" class="btn btn-default"  ng-disabled="!edit.item.buyer_id && !edit.item.contact_id" ng-click="edit.save(true)">{l}Save{endl}</button> 
</div>


<div uib-alert ng-repeat="alert in edit.alerts" type="{{alert.type}}" close="edit.alerts.splice($index, 1);" ng-class="['alert-' + (alert.type || 'warning') ]" dismiss-on-timeout='5000' >{{alert.msg}}</div>



<div class="row page-content col-top">
                  <div class="col-sm-7">
                    
                    <div class="fluid-iframe panel-primary col-top" ng-show="edit.item.view_upload">
                      <div class="row col-top">
                          <div class="col-sm-8 col-sm-offset-2">
                              <div class="upload-box">
                                  <p><strong>{l}Upload Invoice Scan{endl}</strong></p>
                                 <div class="upload-file hidden">
                            <div class="row">
                                <div class="upload-file-image col-xs-4">
                                  <img class="img-thumbnail" src="images/storedemo.png" width="232" height="60" alt=""/>
                                </div>
                                <div class="upload-file-info col-xs-8">
                                    <p class="nameOfTheFile"></p>
                                    <div class="upload-progress">
                                        <div class="upload-progress-bar" style="width: 88%;"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <input type="file" name="file" class="newUploadFile2" accept=".gif,.jpg,.jpeg,.pdf">
                        <p class="text-center"><button class="btn btn-default" ng-click="edit.upload(edit,$event)"><span class="glyphicon glyphicon-cloud-upload"></span> {l}Upload{endl}</button></p>  
                                


                              </div><!-- /.upload-box -->
                              <div class="col-top col-bottom text-muted text-center hide">OR</div>
                              <div class="upload-box hide" ng-show="edit.item.is_dropbox" >
                                  <p><strong>{l}Dropbox File{endl}</strong></p>
                                  <div class="row">
                                      <div class="col-sm-8">
                                        <select class="form-control" ng-model="edit.item.file_selected">
                                 <option ng-repeat="option in edit.item.file_selected_dd track by option.id" value="{{option.id}}" ng-bind-html="option.name"></option>
                                 </select>
                                      </div>
                                      <div class="col-sm-4"><button class="btn btn-default btn-block text-center"><span class="fa fa-dropbox"></span>{l}Make Link{endl}</button></div>
                                  </div>
                              </div><!-- /.upload-box -->                            
                          


                            </div>
                        </div>
                    </div>
                    <div  ng-show="edit.item.exist_image"> 
                         <div id="image_frame" style=" background-color:#666;width:618px; height:718px;" class="{is_link}">
                          <iframe width="614" height="716" ng-src="{{edit.item.link_url}}" ></iframe>
                       </div>
                       <div class="col-top text-center">
                              <a class="btn btn-tertiary" id='remove_button' ng-click="edit.remove_file()">{l}Remove File{endl}</a>
                      </div>
                    </div>



                  </div>
                  <div class="col-sm-5">
                    <div class="panel panel-default panel-customer_details">
        <div class="panel-body panel-current_customer" ng-class="{ 'panel-add_customer': edit.item.add_customer && edit.showTxt.addBtn }">
            <!-- <a class="panel-edit" href="#" ng-click="edit.showTxt.address = false" ng-if="edit.showTxt.address"><span class="fas fa-pen"></span></a> -->
            <div ng-if="edit.showTxt.address && !edit.item.add_customer">
              <h2>{{edit.item.buyer_name}} <small class="quick_edits"><span class="text-link_space">•</span> <a href="#" class="text-link text-muted edit-customer" ng-click="edit.openModal(edit,'EditContact');" ng-if="edit.item.field=='contact_id'" >{l}Edit Customer{endl}</a><a href="#" class="text-link text-muted edit-customer" ng-click="edit.openModal(edit,'EditCustomer');" ng-if="edit.item.field=='customer_id'" >{l}Edit Customer{endl}</a> <span class="text-link_space" >•</span> <a href="#" class="text-link text-muted delete-customer" ng-click="edit.removeCust(edit)" >{l}Remove{endl}</a></small></h2>
              <p ng-if="edit.item.contact_name && edit.item.field=='customer_id'" class=""><span ng-bind-html="edit.item.contact_name"></span> <small class="quick_edits"><span class="text-link_space">•</span> <a href="#" class="text-link text-muted edit-contact" ng-click="edit.openModal(edit,'EditContact');" >{l}Edit Contact{endl}</a> <span class="text-link_space">•</span> <a href="#" class="text-link text-muted" ng-click="edit.removeContact(edit)">{l}Remove{endl}</a></small></p>
              <p><a href="#" class="text-link edit-customer" ng-click="edit.showEditFnc(edit)" ng-if="!edit.item.contact_name">{l}Add a Contact{endl}</a> <span class="text-link_space" ng-if="!edit.item.contact_name">•</span> <a href="#" class="text-link delete-customer" ng-click="edit.openModal(edit,'AddCustomer',edit.contactAddObj,'md');" ng-if="!edit.item.contact_name">{l}Create a new Contact{endl}</a></p>
              <div class="delivery-address" ng-if="!edit.item.view_delivery">
                <span ng-bind-html="edit.item.free_field_txt"></span>
                <small class="quick_edits delivery-controller"><span class="text-link_space">•</span> <a href="#" class="text-link text-muted" ng-click="edit.showEditFnc(edit)">{l}Edit address{endl}</a></small>
              </div>
            </div><!-- /showTxt.address -->
            <div ng-if="edit.item.add_customer" >
              <button class="btn btn-block btn-lg btn-blank" ng-if="edit.showTxt.addBtn" ng-click="edit.showCCSelectize(edit)"><span class="fa fa-user-plus icon-holder"></span> {l}Add a Supplier{endl}</button>
              <selectize config='edit.ccAutoCfg' options='edit.auto.options.cc' ng-model="edit.item.cc_id" id="custandcont" ng-if="!edit.showTxt.addBtn"></selectize>
            </div>
            <div class="form-horizontal text-left " ng-if="!edit.showTxt.address">
              <div class="form-group">
                <label class="col-sm-3 control-label">{l}Customer{endl}</label>
                <div class="col-sm-9">
                  <input type="text" class="form-control" ng-model="edit.item.buyer_name" ng-disabled="true" >
                </div>
              </div>
              <div class="form-group" ng-if="edit.item.field=='customer_id'">
                <label class="col-sm-3 control-label">{l}Contact{endl}</label>
                <div class="col-sm-9">
                  <selectize config='edit.contactAutoCfg' options='edit.auto.options.contacts' ng-model="edit.item.contact_id" id="contact_id" ></selectize>
                </div>
              </div>
              
              <div class="form-group extra_address">
                <div class="col-sm-9 col-sm-offset-3">
                  <selectize config='edit.addressAutoCfg' options='edit.auto.options.addresses' ng-model="edit.item.delivery_address_id" id="delivery_address" ></selectize>
                </div>
              </div>
              <div class="text-right">
                <a href="#" class="text-muted" ng-click="edit.cancelEdit(edit)">{l}Cancel{endl}</a> <span class="text-link_space">• </span> <a href="#" class="text-link" ng-click="edit.saveClientData(edit,edit.item.field)">{l}Save{endl}</a>
              </div>
            </div>
          </div>
      </div><!-- /.panel -->
                    <form class="form-horizontal text-left">
                        <div class="form-group">
                            <label class="col-sm-5 col-lg-4 control-label"><strong>{l}Invoice Type{endl}</strong></label>
                            <div class="col-sm-7 col-lg-8">
                                 <select class="form-control" ng-model="edit.item.type">
                                 <option ng-repeat="option in edit.item.type_dd track by option.id" value="{{option.id}}" ng-bind-html="option.name"></option>
                                 </select>
                            </div>
                        </div><!-- /.form-group -->
                        <div class="form-group">
                              <label class="col-sm-5 col-lg-4 control-label"><strong>{l}Booking number{endl}</strong></label>
                              <div class="col-sm-7 col-lg-8">
                              <input type="text" class="form-control" ng-model="edit.item.booking_number" placeholder="{l}Booking number{endl}">
                              </div>
                          </div><!-- /.form-group -->
                        <div class="form-group">
                            <label class="col-sm-5 col-lg-4 control-label"><strong>{l}Invoice Nr{endl}</strong></label>
                            <div class="col-sm-7 col-lg-8">
                            <input type="text" class="form-control" ng-model="edit.item.invoice_number"  placeholder="{l}Invoice Nr{endl}">
                            </div>
                        </div><!-- /.form-group -->
                        <div class="form-group">
                            <label class="col-sm-5 col-lg-4 control-label"><strong>{l}Date{endl}</strong></label>
                            <div class="col-sm-7 col-lg-8">
                              <div class="so-field input-date">
                                <span class="glyphicon glyphicon-calendar so-icon" ng-click="edit.datePickOpen.invoice_date=true"></span>
                    <input type="text" class="form-control form-control-border-right" ng-model="edit.item.invoice_date" uib-datepicker-popup="{{edit.format}}" is-open="edit.datePickOpen.invoice_date" datepicker-options="edit.dateOptions" ng-required="true" close-text="Close" placeholder="{l}Date{endl}" show-button-bar="false" ng-click="edit.datePickOpen.invoice_date=true"/>


                              </div><!-- /.so-field -->
                            </div>
                        </div><!-- /.form-group -->
                        <div class="form-group">
                            <label class="col-sm-5 col-lg-4 control-label"><strong>{l}Due Date{endl}</strong></label>
                            <div class="col-sm-7 col-lg-8">
                              <div class="so-field input-date">
                                <span class="glyphicon glyphicon-calendar so-icon" ng-click="edit.datePickOpen.due_date=true"></span>
                                        <input type="text" class="form-control form-control-border-right" ng-model="edit.item.due_date" uib-datepicker-popup="{{edit.format}}" is-open="edit.datePickOpen.due_date" datepicker-options="edit.dateOptions" ng-required="true" close-text="Close" placeholder="{l}Date{endl}" show-button-bar="false" ng-click="edit.datePickOpen.due_date=true"/>
                              </div><!-- /.so-field -->
                            </div>
                        </div><!-- /.form-group -->
                        <div class="form-group">
                            <label class="col-sm-5 col-lg-4 control-label">{l}Allow Disconto{endl}</label>
                            <div class="col-sm-3 checkbox">
                                <label><input type="checkbox" ng-model="edit.item.allow_disconto">
                            </div>
                        </div><!-- /.form-group -->
                         <div class="form-group" ng-if="edit.item.allow_disconto">
                              <label class="col-sm-5 col-lg-4 control-label"><strong>{l}Disconto{endl}</strong></label>
                              <div class="col-sm-3 col-lg-3">
                              <input type="text" display-nr="" class="form-control" ng-blur="edit.calcPrice()"  ng-model="edit.item.disconto" >
                              </div>
                          </div><!-- /.form-group -->
                        
                   
                      <div ng-if="edit.item.buyer_id">
                        <div class="border-top col-top"  ng-repeat="item in edit.item.invoice_line">
                         
                          <div class="form-group">
                              <label class="col-sm-5 col-lg-4 control-label">{l}VAT{endl}</label>
                              <div class="col-sm-4 col-lg-3">
                                  <div class="input-group">
                                    <input ng-blur="edit.calcPrice()" type="text" class="form-control" display-nr="" ng-model="item.vat_line">
                                    <span class="input-group-addon input-group-addon_shrink">%</span>
                                  </div>
                                 
                              </div>
                               <div class="btn-remove col-sm-3 col-lg-3 pull-right">
<span class="fa fa-trash" ng-click="edit.removeLine($index)"></span>
</div>
                          </div><!-- /.form-group -->
                          <div class="form-group">
                              <label class="col-sm-5 col-lg-4 control-label">{l}Total excl. VAT{endl}</label>
                              <div class="col-sm-4 col-lg-3">
                                <input ng-blur="edit.calcPrice()" type="text" class="form-control" display-nr="" ng-model="item.total_no_vat">
                              </div>
                          </div><!-- /.form-group -->
                          <div class="form-group">
                              <label class="col-sm-5 col-lg-4 control-label ">{l}Total incl. VAT{endl}</label>
                              <div class="col-sm-4 col-lg-3">
                                <label class="text-strong control-label" ng-bind-html="item.total"></label>
                              </div>
                          </div><!-- /.form-group -->
                        </div><!-- /.border-top -->

                        <div class="border-top col-top">
                          <div class="form-group">
                              <div class="col-sm-7 col-sm-offset-5 col-lg-8 col-lg-offset-4">
                                <a class="btn btn-sm btn-tertiary" ng-click="edit.addLine(false,0)">{l}Add another VAT{endl}</a>
                              </div>
                          </div><!-- /.form-group -->
                        </div><!-- /.border-top -->
                         <div class="form-group">
                              <label class="col-sm-5 col-lg-4 control-label "><strong>{l}Total{endl}</strong></label>
                              <div class="col-sm-4 col-lg-3">
                                <label class="text-strong control-label" ng-bind-html="edit.item.total"></label>
                              </div>
                          </div><!-- /.form-group -->
                      </div>  
                    </form><!-- /.form-horizontal -->
                  </div> 
              </div>   


<div class="text-right">
      <button type="submit" class="btn btn-plain" ng-click="edit.cancel()">{l}Cancel{endl}</button>
      <button type="submit" ng-disabled="!edit.item.buyer_id && !edit.item.contact_id" class="btn btn-default" ng-click="edit.save()">{l}Save{endl}</button>          
</div>
