<!-- neede on all pages -->
<div class="container">
  <div class="page-header">
    <div class="row">
      <div class="col-xs-12 col-sm-8">
        <h1>{l}Purchase Invoice{endl}</h1>
      </div>
      <div class="col-xs-12 col-sm-4 page-header-options" ng-if="isAddPage">
        
      
      </div>
    </div>        
  </div><!-- /.page-header -->
  <div ui-view></div>
</div>
<!-- neede on all pages -->