<div class="container">
  <div class="page-header">
  	<div class="row">
      	<div class="col-sm-12">
              <h1>{l}List Purchase Invoices{endl} 
              <button type="button" class="btn btn-primary" ui-sref="incomming_invoice.edit({'incomming_invoice_id': 'tmp'})">{l}Add{endl}</button>
            </h1>
          </div>
      </div>
  </div><!-- /.page-header -->
  <div uib-alert ng-repeat="alert in alerts" type="{{alert.type}}" close="alerts.splice($index, 1);" ng-class="['alert-' + (alert.type || 'warning') ]" dismiss-on-timeout='5000' >{{alert.msg}}</div>
  <div class="row page-search">
  	<form>
    	<div class="col-sm-6 col-md-6">
          <div class="so-field" ng-class="{ 'so-active':search.search!='' }">
            <span class="glyphicon glyphicon-search so-icon"></span>
            <input type="text" class="form-control" placeholder="{l}Search{endl}" search-it doit="search" callbk="renderList" ng-model="search.search">
            <span class="glyphicon glyphicon-remove so-icon so-remove" ng-click="toggleSearchButtons('search','')"></span>
          </div><!-- /.input-search -->
        </div>
    	<div class="col-sm-2">
          <div class="btn-group btn-block">
            <selectize placeholder="{l}All Statuses{endl}" config='filterCfg' options='views' ng-model="activeView" ></selectize>
          </div>
        </div>
    	<div class="col-sm-2 col-md-2">
          <div class="so-field" ng-class="{ 'so-active':search.start_date_js!=undefined }">
            <span class="glyphicon glyphicon-calendar so-icon" ng-click="openDate('start_date')"></span>
            <input type="text" class="form-control" ng-model="search.start_date_js" uib-datepicker-popup="{{format}}" is-open="datePickOpen.start_date" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" close-text="Close" placeholder="{l}Start Date{endl}" show-button-bar="false" ng-click="datePickOpen.start_date=true" ng-change="searchThing()">
            <span class="glyphicon glyphicon-remove so-icon so-remove" ng-click="toggleSearchButtons('start_date_js',undefined)"></span>
          </div><!-- /.input-date -->
        </div>
    	<div class="col-sm-2 col-md-2">
          <div class="so-field" ng-class="{ 'so-active':search.stop_date_js!=undefined }">
            <span class="glyphicon glyphicon-calendar so-icon" ng-click="openDate('stop_date')"></span>
            <input type="text" class="form-control" ng-model="search.stop_date_js" uib-datepicker-popup="{{format}}" is-open="datePickOpen.stop_date" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" close-text="Close" placeholder="{l}End Date{endl}" show-button-bar="false" ng-click="datePickOpen.stop_date=true" ng-change="searchThing()">
            <span class="glyphicon glyphicon-remove so-icon so-remove" ng-click="toggleSearchButtons('stop_date_js',undefined)"></span>
          </div><!-- /.input-date -->
        </div>
    </form>
  </div><!-- /.page-search -->
  <div class="row page-content">
  	<div class="col-sm-12">
      <table class="table active_rows orderTable">
          <thead>
            <tr>
         
              <th class="col-sm-2 sortable_row" ng-class="{ 'sortable_row-up':(!reverse && ord=='booking_number') , 'sortable_row-down':(reverse && ord=='booking_number') }" ng-click="orderBY('booking_number')">{l}Booking number{endl}</th>
              <th class="col-sm-2 sortable_row" ng-class="{ 'sortable_row-up':(!reverse && ord=='invoice_number') , 'sortable_row-down':(reverse && ord=='invoice_number') }" ng-click="orderBY('invoice_number')">{l}Invoice{endl}</th>
              <th class="col-sm-1 sortable_row" ng-class="{ 'sortable_row-up':(!reverse && ord=='t_date') , 'sortable_row-down':(reverse && ord=='t_date') }" ng-click="orderBY('t_date')">{l}Date{endl}</th>
              <th class="col-sm-2">{l}Company{endl}</th>
              <th class="col-sm-1 text-center">{l}Amount{endl} </th>
              <th class="col-sm-1 text-center">{l}Amount + VAT{endl} </th>
              <th class="col-sm-1 text-center">{l}Status{endl}</th>
             
              <th class="col-sm-1 col-select"><input type="checkbox" ng-model="listObj.check_add_all" ng-click="saveForPDF()"></th>
              <th class="col-sm-1 table_actions">
             
                <div class="btn-group" uib-dropdown>
                  <button type="button" class="btn btn-tertiary dropdown-toggle" uib-dropdown-toggle>
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-right" uib-dropdown-menu>
                        <li><a href="index.php?do=invoice-export_selected_purchase_inv" target="_blank" ng-click="createExports($event)"><span class="far fa-file-pdf text-primary"></span>{l}Export purchase invoices list{endl}</a>
                        </li>
                        
                    </ul>
                </div>
              </th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="item in list" class="collapseTr">
            
              <td class="text-muted" go-to="" state="incomming_invoice.view" params='{"invoice_id": {{::item.invoice_id}}}'><span>{{::item.b_number}}</span></td>
              <td class="text-muted" go-to="" state="incomming_invoice.view" params='{"invoice_id": {{::item.invoice_id}}}'>{{::item.s_number}}</td>
              <td class="text-muted" go-to="" state="incomming_invoice.view" params='{"invoice_id": {{::item.invoice_id}}}'>{{::item.created}}</td>
              <td class="text-muted" go-to="" state="incomming_invoice.view" params='{"invoice_id": {{::item.invoice_id}}}'>{{::item.buyer_name}}</td>
               <td class="text-center col-amount" go-to="" state="incomming_invoice.view" params='{"invoice_id": {{::item.invoice_id}}}' ng-bind-html="item.amount"></td>
                 <td class="text-center text-muted col-amount" go-to="" state="incomming_invoice.view" params='{"invoice_id": {{::item.invoice_id}}}' ng-bind-html="item.amount_vat"></td>
             <td class="text-center"><span class="badge item-status-gray" ng-class="{ 'item-status-green':item.nr_status=='3', 'item-status-yellow':item.nr_status=='2'}">{{item.type_title}}</span></td>

               <td class="col-select"><input type="checkbox" ng-model="item.check_add_to_product" ng-click="saveForPDF(item)"></td>
              <td class="table_actions">
                <div class="btn-group" uib-dropdown>
                  <button type="button" class="btn btn-plain dropdown-toggle" uib-dropdown-toggle>
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-right" uib-dropdown-menu>
                        <li class="dropdown-header">{l}Action{endl}</li>
                      
                        <li>
                            <a href="#" go-to="" state="incomming_invoice.edit" params='{"incomming_invoice_id": {{::item.invoice_id}}}' list='{ "type":"invoice-incomming_invoices", "obj": { "search":{{search}} } }'><span class="fas fa-pen text-primary"></span> {l}Edit{endl}</a>
                        </li>
  
                       
                        <li>
                            <a href="#" ng-click="action(item,'delete_link')" confirm="{l}Are you sure, you wanna delete this entry?{endl}"><span class="fas fa-trash-alt text-primary"></span> {l}Delete{endl}</a>
                        </li>
                       
                        <li ng-if="item.can_pay">
                            <a href="#" ng-click="pay(item)"><span class="fas fa-coins text-primary"></span> {l}Record Payment{endl}</a>
                        </li>
                      
                       

                    </ul>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
  	</div>
  </div><!-- /.page-content -->
  <!-- <pag-custom pages="pager" refresh="renderList()" doit='invoice-invoices'></pag-custom> -->
  <ul ng-if="max_rows > 30" uib-pagination total-items="max_rows" ng-model="search.offset" ng-change="searchThing()" max-size="5" class="pager" boundary-links="true" items-per-page="lr" ></ul>
</div><!-- neede on all pages -->