<div class="col-xs-6">
  pdf
</div>
<div class="col-xs-6">
  <div class="page-header-buttons text-right">
    <navigator pag="invoice-invoices" itemid="{{view.invoice_id}}" originalPage="invoice.view"></navigator>
    <button go-to="" state="invoices" type="submit" class="btn btn-sm btn-default"><strong>{l}Back{endl}</strong></button>
</div>
<div uib-alert ng-repeat="alert in view.alerts" type="{{alert.type}}" close="view.alerts.splice($index, 1);" dismiss-on-timeout="5000" ng-class="['alert-' + (alert.type || 'warning') ]">{{alert.msg}}</div>
<div class="panel panel-order">

  <div class="panel-body">
    <div class="row">
      <div class="col-sm-6 col-md-3">
          <h4 class="title_underline">{l}Invoice Details{endl}</h4>          
            <p><strong>{l}Date{endl}</strong> {{view.invoice.factur_date}}</p>
            <p><strong>{l}Due Date{endl}</strong> {{view.invoice.due_date}}</p>
            <p ng-show="view.invoice.hide_sentd"><strong>{l}Sent date{endl}</strong> {{view.invoice.sent_dated}}</p>
            <p ng-if="::view.invoice.show_due_date_vat_pdf"><strong>{l}Chargeability of VAT{endl}</strong> {{::view.invoice.invoice_due_date_vat}}</p>
            <p ng-if="::view.invoice.our_ref"><strong>{l}Our Reference{endl}</strong> {{::view.invoice.our_ref}}</p>
            <p ng-if="::view.invoice.your_ref"><strong>{l}Your Reference{endl}</strong> {{::view.invoice.your_ref}}</p>
            <p ng-if="view.invoice.orig_deal.length"><strong>{l}DealID{endl} </strong> <span ng-repeat="item in view.invoice.orig_deal"><a class="text-link" href="" go-to="" state="dealView" params='{"opportunity_id": {{::item.id}}}'>{{item.serial}}</a><span ng-if="!$last">,</span></span> </p>
            <p ng-if="view.invoice.use_ogm"><strong>{l}Payment Instructions{endl}</strong><br>
+++{{view.invoice.ogm}}+++</p>
            <p ng-if="view.invoice.segment_dd.length && !view.showTxt.segment"><strong>{l}Segment{endl}</strong> {{view.invoice.segment}} <span class="pull-right link-pointer fas fa-pen" ng-click="view.showTxt.segment=true"></span></p>
            <div class="margin-bottom form-horizontal" ng-if="view.showTxt.segment==true">
              <div class="form-group">
                <label class="control-label text-left col-sm-4">{l}Segment{endl}</label>
                <div class="col-sm-6">
                    <selectize config='view.selectfg' options='view.invoice.segment_dd' ng-model="view.invoice.segment_id"></selectize>
                </div>
                <label class="control-label col-sm-1 pull-right text-success">
                  <i class="fa fa-check-circle link-pointer" aria-hidden="true" ng-click="view.setSegment()"></i>
                </label>
              </div>
            </div> 
            <p ng-if="view.invoice.source_dd.length && !view.showTxt.source"><strong>{l}Source{endl}</strong> {{view.invoice.source}} <span class="pull-right link-pointer fas fa-pen" ng-click="view.showTxt.source=true"></span></p>
            <div class="margin-bottom form-horizontal" ng-if="view.showTxt.source==true">
              <div class="form-group">
                <label class="control-label text-left col-sm-4">{l}Source{endl}</label>
                <div class="col-sm-6">
                    <selectize config='view.selectfg' options='view.invoice.source_dd' ng-model="view.invoice.source_id"></selectize>
                </div>
                <label class="control-label col-sm-1 pull-right text-success">
                  <i class="fa fa-check-circle link-pointer" aria-hidden="true" ng-click="view.setSource()"></i>
                </label>
              </div>
            </div>    
            <p ng-if="view.invoice.type_dd.length && !view.showTxt.type"><strong>{l}Type{endl}</strong> {{view.invoice.xtype}} <span class="pull-right link-pointer fas fa-pen" ng-click="view.showTxt.type=true"></span></p>
            <div class="form-horizontal" ng-if="view.showTxt.type==true">
              <div class="form-group">
                  <label class="control-label text-left col-sm-4">{l}Type{endl}</label>
                  <div class="col-sm-6">
                    <selectize config='view.selectfg' options='view.invoice.type_dd' ng-model="view.invoice.type_id"></selectize>
                  </div>
                  <label class="control-label col-sm-1 pull-right text-success">
                    <i class="fa fa-check-circle link-pointer" aria-hidden="true" ng-click="view.setType()"></i>
                  </label>
              </div>
            </div>

        <p ng-if="::view.invoice.is_attached_timesheet"><strong>{l}Attach timesheet report{endl}</strong> {l}Yes{endl}</p>
          <p ng-if="::view.invoice.is_attached_intervention"><strong>{l}Attach intervention report{endl}</strong> {l}Yes{endl}</p>
      </div>
      <div class="col-sm-6">
        <div class="row">
          <div class="col-sm-12 col-md-6">
              <h4 class="title_underline">{l}Customer Details{endl}</h4>
              <p class="ng-cloak"><a class="text-link" ui-sref="customerView({ 'customer_id':view.invoice.buyer_id })"><span ng-bind-html="view.invoice.invoice_buyer_name"></span></a></p>       
              <p>{{::view.invoice.invoice_buyer_vat}}</p>
              <p ng-if="::view.invoice.buyer_phone"><span class="fa fa-phone text-muted text-link_space" aria-hidden="true"></span> {{::view.invoice.buyer_phone}}</p>
              <p ng-if="::view.invoice.buyer_fax"><span class="fa fa-fax text-muted text-link_space" aria-hidden="true"></span> {{::view.invoice.buyer_fax}}</p>  
              <p ng-if="::view.invoice.buyer_email"><span class="far fa-envelope text-muted text-link_space" aria-hidden="true"></span> <a href="#" class="text-link">{{::view.invoice.buyer_email}}</a></p> 

              <h4 class="title_underline">{l}Contact Details{endl}</h4>
              <p>{{::view.invoice.invoice_contact_name}}</p>
              <p ng-if="::view.invoice.contact_phone"><span class="fa fa-mobile text-muted text-link_space" aria-hidden="true"></span> {{::view.invoice.contact_phone}}</p>  
              <p ng-if="::view.invoice.contact_email"><span class="far fa-envelope text-muted text-link_space" aria-hidden="true"></span> <a href="#" class="text-link">{{::view.invoice.contact_email}}</a></p>  

              <h4 class="title_underline" ng-if="view.invoice.cost_centre">{l}Financial Code{endl}</h4>
              <p ng-if="view.invoice.cost_centre">{{::view.invoice.cost_centre}}</p>     
         
            </div>
            <div class="col-sm-12 col-md-6">
              <h4 class="title_underline">{l}Address{endl}</h4>
              <p ng-bind-html="view.invoice.free_field"></p>
            </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-3">
          <h4 class="title_underline">{l}Transactions{endl}</h4>
          <p><strong>{l}Total{endl}</strong> <span ng-bind-html="view.invoice.total_amount_due2"></span></p>
          <p class="text-muted" ng-if="view.invoice.no_credit">
            <span ng-if="view.invoice.hide_proforma && view.invoice.s_paid">
              <strong>{l}Invoice Balance{endl}</strong> 
              <span ng-bind-html="view.invoice.total_sum"></span>
            </span>
            <span ng-if="view.invoice.hide_serial && view.invoice.s_paid">
              <strong>{l}Proforma Balance{endl}</strong>
              <span ng-bind-html="view.invoice.total_sum"></span>
            </span>
            <span ng-if="view.invoice.hide_proforma && view.invoice.s_notpaid">
              <strong>{l}Invoice Balance{endl}</strong>
              <span ng-bind-html="view.invoice.total_amount_due"></span>
            </span>
            <span ng-if="view.invoice.hide_serial && view.invoice.s_notpaid">
              <strong>{l}Proforma Balance{endl}</strong>
              <span ng-bind-html="view.invoice.total_amount_due"></span>
            </span> 
          </p>
          <div ng-if="view.invoice.is_payment" class="col-top">
            <ul class="compact_list compact_list-margin" ng-class="{ 'compact_list-lastgreen':view.invoice.st=='fully' }">
              <li ng-repeat="payment_row in view.invoice.payments_row" class="compact_list-item_alt">
                  <span ng-if="!payment_row.link" ng-bind-html="payment_row.payment_info" class="delivery-date delivery-partially"></span>
                  <div class="compact_list-options">
                    <a href="#" ng-click="view.openPaymentModal(payment_row.payment_id)"><span class="fas fa-pen"></span></a>
                    <a href="#" ng-click="view.deletePayment(payment_row.del_payment_link)"><span class="glyphicon glyphicon-remove"></span></a>
                  </div>
                  <span ng-if="payment_row.link" class="delivery-date">
                    <a href="#" ng-bind-html="payment_row.payment_info" ui-sref="invoice.view({'invoice_id': payment_row.id})"></a>
                  </span>
              </li>
            </ul>
          </div>
          <div class="text-center col-top" ng-if="view.invoice.fully"><a class="btn btn-primary" ng-if="view.invoice.no_regular_invoice && view.invoice.no_credit" title="{l}Record Payment{endl}" ng-click="view.openModal('recordPayment',view.invoice_id)"><span class="fas fa-coins"></span>&nbsp; {l}Record Payment{endl}</a></div>
          <div class="text-center col-top" ng-if="view.invoice.bpaid_active && view.invoice.bPaid_reg && view.invoice.bpaid && view.invoice.no_regular_invoice && view.invoice.no_credit && view.invoice.bePaid_debt_done && (view.invoice.payed || view.invoice.fully)">
            <button class="btn btn-plain" ng-click="view.bePaidStatus()"><img src="images/ipaid.png" width="16" height="16" alt="{l}View Status{endl}"> {l}View Status{endl}</button>          
          </div>
          <div class="text-center col-top" ng-if="view.invoice.bpaid_active && view.invoice.bpaid && view.invoice.fully && view.invoice.no_regular_invoice && view.invoice.no_credit && !view.invoice.bePaid_debt_done">
            <div class="btn-group">
        <!--       <button type="button" class="btn btn-plain" aria-haspopup="true" aria-expanded="false" ng-click="view.bPaidFlow()">
                <img src="images/ipaid.png" width="16" height="16" alt="{l}Instapaid Recovery{endl}"> {l}Instapaid Recovery{endl}</span>
              </button>   -->          
            </div><!-- /.btn-group -->
          </div>
          <div class="text-center col-top" ng-if="view.invoice.edebex_active && view.invoice.fully && view.invoice.no_regular_invoice && view.invoice.no_credit && view.invoice.edebex_show && !view.invoice.edebex_status">
            <button type="button" class="btn btn-plain" aria-haspopup="true" aria-expanded="false" ng-click="view.edebexFlow()">
                <img src="images/edebex_icon.png" width="16" height="16" alt="{l}Edebex{endl}"> {l}Edebex{endl}</span>
              </button>
          </div>
          <div class="text-center col-top" ng-if="view.invoice.edebex_active && view.invoice.fully && view.invoice.no_regular_invoice && view.invoice.no_credit && view.invoice.edebex_show && view.invoice.edebex_status">
            <button type="button" class="btn btn-plain" aria-haspopup="true" aria-expanded="false" ng-click="view.edebexStatus()">
                <img src="images/edebex_icon.png" width="16" height="16" alt="{l}Edebex Status{endl}"> {l}Edebex Status{endl}</span>
              </button>
          </div>
          <!-- <div class="text-center col-top" ><a class="btn btn-default" href="#" ng-click="view.showDrop()"><span class="glyphicon glyphicon-folder-open"></span><span class="hideOnTablet"> {l}Files...{endl}</span></a></div> -->
      </div>
      <div class="col-sm-12 col-top">
            <p ng-if="view.invoice.use_weblink"><strong>{l}Web Link{endl}</strong> 
              <a ng-if="view.invoice.external_url" class="text-link" href="{{view.invoice.web_url}}{{view.invoice.external_url}}" target="_blank">{{view.invoice.web_url}}{{view.invoice.external_url}}</a>
              <a class="text-muted" ng-if="view.invoice.external_url" href="#" uib-tooltip="{l}Weblink Info{endl}" tooltip-placement="top"><i class="fa fa-info-circle text-muted" aria-hidden="true"></i></a>
              <!-- <i ng-if="view.item.external_url" class="fa fa-info-circle text-muted" uib-tooltip="{l}Weblink Info{endl}" tooltip-placement="top"></i>
                <a class="text-muted" ng-if="view.invoice.external_url" href="#" ng-click="view.openModal('web_log',view.invoice_id)" uib-tooltip="{l}Web Log{endl}" tooltip-placement="top"><i class="fa fa-eye" aria-hidden="true"></i></a> -->
              <em ng-if="!view.invoice.external_url" class="text-muted">{l}Invoice must by final to create the weblink{endl}</em>
            </p>
             <a ng-if="view.invoice.external_url" href="#" ng-click="view.openModal('web_log',view.invoice_id)">{l}Web Log{endl}</a>  

      </div>
    </div>
    <div class="row">
      <div class="col-md-12" ng-if="view.invoice.has_regular_invoice">
        {l}Invoice{endl} <a class="text-link" ui-sref="invoice.view({'invoice_id': view.invoice.regular_invoice_id})">{{view.invoice.regular_invoice_serial_number}}</a> {l}was created from this Pro Forma invoice{endl} 
      </div>
    </div>
  </div>
</div>
<!-- <div class="row" ng-if="view.showTxt.drop && view.invoice.invoice_id!='tmp'">
  <div class="col-sm-12">
    <div class="upload-box col-sm-12">
      <p>{l}Files{endl}</p>
      <div class="upload-file hidden">
        <div class="row">
          <div class="upload-file-info col-xs-12">
            <p class="nameOfTheFile"></p>
            <div class="upload-progress">
              <div class="upload-progress-bar" style="width: 88%;"></div>
            </div>
          </div>
        </div>
      </div>
      <input type="file" name="file" class="newUploadFile4">
      <p class="text-center"><button class="btn btn-default" ng-click="view.uploadDrop(view,$event,true)"><span class="glyphicon glyphicon-cloud-upload"></span> {l}Upload{endl}</button></p>
    </div>
  </div>
  <div class="col-sm-12" ng-if="view.invoice.dropbox.nr > 0">
    <table class="table active_rows orderTable">
      <thead>
        <tr>
          <th class="col-md-2 col-sm-2 text-center">{l}Link{endl}</th>
          <th class="col-md-8 col-sm-8">{l}File{endl}</th>
          <th class="col-md-2 col-sm-2"></th>                   
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="item in view.invoice.dropbox.dropbox_files">
          <td class="text-center"><a href="{{item.down_file_link}}" target="_blank"><i class="fa fa-dropbox" aria-hidden="true"></i></a></td>
          <td>{{item.file}}</td>
          <td class="table_actions">
            <div class="btn-group" uib-dropdown>
              <button type="button" class="btn btn-plain dropdown-toggle" uib-dropdown-toggle>
                <span class="caret"></span>
              </button>
              <ul class="dropdown-menu dropdown-menu-right" uib-dropdown-menu>
                <li class="dropdown-header">{l}Action{endl}</li>        
                <li>
                  <a href="#" ng-click="view.deleteDropFile($index)" confirm="{l}Are you sure, you wanna delete this entry?{endl}"><span class="glyphicon glyphicon-remove text-primary"></span> {l}Delete{endl}</a>
                </li>
              </ul>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div> -->
<div class="row intervention-options">
  <div class="col-xs-12">
      <div class="module_steps">
          <ul class="module_steps-tabs">
              <li ng-class="{ 'selected':view.invoice.selectedDraft }"><span class="badge">1</span> {l}Draft{endl}</li>
                <li ng-class="{ 'selected':view.invoice.selectedSent }"><span class="badge">2</span> {l}Final{endl}</li>
                <li ng-class="{ 'selected':view.invoice.selectedWon }"><span class="badge">3</span> {l}Paid{endl}</li>
                <li class="module_steps-options" >
                  <a class="btn btn-plain" ng-if="!view.invoice.post_invoice" href="#" ng-click="view.greenpost()"><img src="images/postgreen_icon.png" width="16" height="16" alt=""/><span class="hideOnTablet"> {l}Send by Post{endl}</span></a>
                  <div ng-if="view.invoice.post_active && view.invoice.post_invoice" class="alert alert-inline alert-success cursor_pointer" ng-click="view.resendGreenPost()">{{view.invoice.postg_status}}</div>             
                  <a class="btn btn-plain" href="#" ng-click="view.sendEmail()"><span class="far fa-envelope"></span><span class="hideOnTablet"> {l}Send by Email{endl}</span></a>
                  <div class="btn-group">
                    <a class="btn btn-plain" href="{{view.invoice.pdf_link}}" target="_blank"><span class="far fa-file-pdf"></span><span class="hideOnTablet"> {l}Generate PDF{endl}</span></a>
                    <!-- <div class="btn-group" ng-click="view.openModal('pdf_settings',view.invoice_id)"> -->
                    <div class="btn-group" ng-click="view.settingsPDF('pdf_settings',view.invoice_id)">
                      <a class="btn btn-default" href="#"><span class="glyphicon glyphicon-cog"></span></a>
                    </div>
                  </div>
                  <a class="btn btn-plain" ng-if="view.invoice.xml_available" href="{{view.invoice.xml_link}}" target="_blank"><span class="far fa-file-pdf"></span><span class="hideOnTablet"> {l}Generate XML{endl}</span></a>
                </li>
            </ul><!-- /.module_steps-tabs -->
          <div class="module_steps-content">
            <div class="row" ng-if="view.invoice.draft">
                <div class="col-sm-12">
                      <a class="btn btn-plain" ui-sref="invoice.edit({'invoice_id': view.invoice_id})" ><span class="fas fa-pen"></span> {l}Edit{endl}</a>
                      <a class="btn btn-secondary" href="#" ng-click="view.draftNext()" >{l}Next{endl} <span class="glyphicon glyphicon-chevron-right"></span></a>
                      <a class="btn btn-lg_icon btn-plain" href="#" ng-show="view.showTxt.markAsReady" ng-click="view.sendEmail()"><span class="far fa-envelope"></span>{l}Send by Email{endl}</a>
                      <span ng-show="view.showTxt.markAsReady" class="text-muted text-spacer">{l}OR{endl}</span>
                      <a class="btn btn-lg_icon btn-plain" href="#" ng-show="view.showTxt.markAsReady" ng-click="view.showTxt.markAsSent==true ? view.showTxt.markAsSent=false : view.showTxt.markAsSent=true"><span class="fa fa-check-square-o"></span>{l}Mark as sent{endl}</a>
                      <div class="dropdown btn-inline"  uib-dropdown>
                        <button class="btn btn-plain dropdown-toggle" id="invoiceOptions" type="button"  uib-dropdown-toggle>
                        {l}Actions{endl} &nbsp;<span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu"  uib-dropdown-menu>
                          <li><a ui-sref="invoice.edit({'duplicate_invoice_id': view.invoice_id})" href="#"><span class="fa fa-files-o"></span> {l}Duplicate{endl}</a></li>
                          <li><a ui-sref="recinvoice.edit({'invoice_id': view.invoice_id, 'recurring_invoice_id':'tmp'})" href="#"><span class="fa fa-repeat"></span> {l}Create Recurring{endl}</a></li>
                          <li ng-show="view.invoice.hide_unsent"><a ui-sref="invoice.edit({'c_invoice_id': view.invoice_id, 'type':view.invoice.credit_type, 'a_invoice_id': view.invoice.serial_number1, 'base_type':0, 'languages': view.invoice.languages, 'track_base':view.invoice.type})" href="#"> <span class="far fa-file-alt"></span> {l}Create Credit Invoice{endl}</a></li>               
                        </ul>
                      </div>                  
                </div>
            </div><!-- /.row:DRAFT -->
            <div class="row" ng-if="view.invoice.fully">
                <div class="col-sm-8">
                    <a ng-if="view.invoice.no_regular_invoice && !view.invoice.block_edit" class="btn btn-tertiary" ng-click="view.changeState('draft',0)"><span class="glyphicon glyphicon-chevron-left" ></span> {l}Revert to draft{endl}</a>
                  <div class="dropdown btn-inline"  uib-dropdown>
                        <button class="btn btn-plain dropdown-toggle" id="invoiceOptions" type="button"  uib-dropdown-toggle>
                        {l}Actions{endl} &nbsp;<span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu"  uib-dropdown-menu>
                          <li><a ui-sref="invoice.edit({'duplicate_invoice_id': view.invoice_id})" href="#"><span class="fa fa-files-o"></span> {l}Duplicate{endl}</a></li>
                          <li><a ui-sref="recinvoice.edit({'invoice_id': view.invoice_id, 'recurring_invoice_id':'tmp'})" href="#"><span class="fa fa-repeat"></span> {l}Create Recurring{endl}</a></li>
                          <li><a ng-if="view.invoice.no_regular_invoice && view.invoice.no_credit && view.invoice.is_proforma" title="{l}Create Invoice{endl}" ng-click="view.showTxt.creditInvOpt==false ? view.showTxt.creditInvOpt=true : view.showTxt.creditInvOpt=false"><span class="fas fa-file-alt"></span>{l}Create Invoice{endl}</a></li>
                          <li ng-show="view.invoice.hide_unsent"><a ui-sref="invoice.edit({'c_invoice_id': view.invoice_id, 'type':view.invoice.credit_type, 'a_invoice_id': view.invoice.serial_number1, 'base_type':0, 'languages': view.invoice.languages, 'track_base':view.invoice.type})" href="#"> <span class="far fa-file-alt"></span> {l}Create Credit Invoice{endl}</a></li>
                          <li ng-if="view.invoice.is_credit && view.invoice.is_order"><a href="#" ui-sref="order.view({'order_id': view.invoice.return_link})"><span class="akti-icon o_akti_delivery"></span> {l}Make Return{endl}</a>
                          </li>
                          <li ng-if="view.invoice.stripe_active && view.invoice.pay_with_stripe" ><a ng-click="view.pushToStripe(view.invoice_id)" ><span class="far fa-credit-card"></span> {l}Push invoice to Stripe{endl}</a>
                          </li>
                        </ul>
                  </div>
                </div>
                <div class="col-sm-4 text-right module_steps-extra">
                  <small class="text-muted col-right" ng-if="view.invoice.no_regular_invoice">{l}Sent date{endl} <strong>{{view.invoice.sent_dated}}</strong></small>
                  <small class="text-muted" ng-if="view.invoice.is_profi && !view.invoice.hide_margin" >{l}Margin{endl} <strong ng-bind-html="view.invoice.margin_value"></strong> ( {{::view.invoice.margin_percent}} % )</small>
                </div>
            </div><!-- /.row:PLANNED -->
            <div class="row" ng-if="view.invoice.payed">
              <div class="col-sm-8">
                 <!--  <a ng-if="view.invoice.no_regular_invoice" class="btn btn-plain" ng-click="view.changeState('draft',1)"><span class="glyphicon glyphicon-chevron-left" ></span> {l}Back{endl}</a> -->
                  <div class="dropdown btn-inline"  uib-dropdown>
                    <button class="btn btn-plain dropdown-toggle" id="invoiceOptions" type="button"  uib-dropdown-toggle>
                    {l}Actions{endl} &nbsp;<span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu"  uib-dropdown-menu>
                      <li><a ui-sref="invoice.edit({'duplicate_invoice_id': view.invoice_id})" href="#"><span class="fa fa-files-o"></span> {l}Duplicate{endl}</a></li>
                      <li><a ui-sref="recinvoice.edit({'invoice_id': view.invoice_id, 'recurring_invoice_id':'tmp'})" href="#"><span class="fa fa-repeat"></span> {l}Create Recurring{endl}</a></li>
                      <li ng-if="view.invoice.is_proforma"><a title="{l}Create Invoice{endl}" ng-click="view.showTxt.creditInvOpt==false ? view.showTxt.creditInvOpt=true : view.showTxt.creditInvOpt=false"><span class="fas fa-file-alt"></span> {l}Create Invoice{endl}</a></li> 
                      <li ng-show="view.invoice.hide_unsent"><a ui-sref="invoice.edit({'c_invoice_id': view.invoice_id, 'type':2, 'a_invoice_id': view.invoice.serial_number1, 'base_type':0, 'languages': view.invoice.email_language, 'track_base':view.invoice.type})" href="#"><span class="far fa-file-alt"></span> {l}Create Credit Invoice{endl}</a></li>
                      <li ng-if="view.invoice.is_credit && view.invoice.is_order"><a ui-sref="order.view({'order_id': view.invoice.return_link})"><span class="akti-icon o_akti_delivery"></span> {l}Make Return{endl}</a></li>
                    </ul>
                  </div>
              </div>
              <div class="col-sm-4 text-right module_steps-extra">
                <small class="text-muted col-right" ng-if="view.invoice.no_regular_invoice">{l}Sent date{endl} <strong>{{view.invoice.sent_dated}}</strong></small>
                <small class="text-muted" ng-if="view.invoice.is_profi && !view.invoice.hide_margin" >{l}Margin{endl} <strong ng-bind-html="view.invoice.margin_value"></strong> ( {{::view.invoice.margin_percent}} % )</small>
              </div>
            </div><!-- /.row:CLOSED -->
            <div class="row" ng-show="view.showTxt.markAsReady && view.showTxt.markAsSent">               
              <div class="col-sm-12">
                <div class="module_steps-highlight module_steps-fillsheet">
                  <form class="form-horizontal text-left" name="sent_form" novalidate>
                    <div ng-if="view.invoice.DRAFT_INVOICE_NO_NUMBER">
                      <div class="form-group" ng-class="{ 'form-group_alert' : sent_form.invoice_date.$invalid && !sent_form.invoice_date.$pristine }">
                        <label class="col-sm-3 control-label"><strong>{l}Date{endl}</strong></label>
                        <div class="col-sm-4">
                          <div class="row">
                            <div class="col-sm-8 col-md-6">
                                <div class="so-field">
                                  <span class="glyphicon glyphicon-calendar so-icon"></span>
                                  <input type="text" class="form-control" ng-model="view.invoice.invoice_date" uib-datepicker-popup="{{view.format}}" is-open="view.datePickOpen.invoice_date" datepicker-options="view.dateOptions" close-text="Close" placeholder="{l}Sent date{endl}" show-button-bar="false" ng-click="view.datePickOpen.invoice_date=true" name="invoice_date" required />                                
                                  <span class="glyphicon glyphicon-remove so-icon so-remove"></span>                                    
                                </div><!-- /.so-field -->
                            </div><!-- /.col-* -->
                          </div><!-- /.row -->
                          <div class="alert alert-sm alert-danger" ng-if="sent_form.invoice_date.$invalid">{l}This field is required{endl}</div>
                        </div> 
                      </div><!-- /.form-group -->
                      <div class="form-group" ng-class="{ 'form-group_alert' : sent_form.sent_date.$invalid && !sent_form.sent_date.$pristine }">
                        <label class="col-sm-3 control-label"><strong>{l}Sent date{endl}</strong></label>
                        <div class="col-sm-4">
                          <div class="row">
                            <div class="col-sm-8 col-md-6">
                                <div class="so-field">
                                  <span class="glyphicon glyphicon-calendar so-icon"></span>
                                  <input type="text" class="form-control" ng-model="view.invoice.sent_date" uib-datepicker-popup="{{view.format}}" is-open="view.datePickOpen.sent_date" datepicker-options="view.dateOptions" close-text="Close" placeholder="{l}Sent date{endl}" show-button-bar="false" ng-click="view.datePickOpen.sent_date=true" name="sent_date" required />    
                                  <span class="glyphicon glyphicon-remove so-icon so-remove"></span>                                    
                                </div><!-- /.so-field -->
                            </div><!-- /.col-* -->
                          </div><!-- /.row -->
                          <div class="alert alert-sm alert-danger" ng-if="sent_form.sent_date.$invalid && view.alertsField.sent_date">{{view.alertsField.sent_date}}</div>
                        </div> 
                      </div><!-- /.form-group -->
                    </div><!-- view.invoice.DRAFT_INVOICE_NO_NUMBER -->
                    <div ng-if="!view.invoice.DRAFT_INVOICE_NO_NUMBER">
                      <div class="form-group" ng-class="{ 'form-group_alert' : sent_form.sent_date.$invalid && !sent_form.sent_date.$pristine }">
                        <label class="col-sm-3 control-label"><strong>{l}Sent date{endl}</strong></label>
                        <div class="col-sm-4">
                          <div class="row">
                            <div class="col-sm-8 col-md-6">
                                <div class="so-field">
                                  <span class="glyphicon glyphicon-calendar so-icon"></span>
                                  <input type="text" class="form-control" ng-model="view.invoice.sent_date" uib-datepicker-popup="{{view.format}}" is-open="view.datePickOpen.sent_date" datepicker-options="view.dateOptions" close-text="Close" placeholder="{l}Sent date{endl}" show-button-bar="false" ng-click="view.datePickOpen.sent_date=true" name="sent_date" required />    
                                  <span class="glyphicon glyphicon-remove so-icon so-remove"></span>                                    
                                </div><!-- /.so-field -->
                            </div><!-- /.col-* -->
                          </div><!-- /.row -->
                          <div class="alert alert-sm alert-danger" ng-if="sent_form.sent_date.$invalid && view.alertsField.sent_date">{{view.alertsField.sent_date}}</div>
                        </div> 
                      </div>
                    </div><!-- !view.invoice.DRAFT_INVOICE_NO_NUMBER -->
                    <div class="form-group">
                        <div class="col-sm-8 col-sm-offset-3">
                             <a class="btn btn-default" ng-click="view.saveData(sent_form,'mark_sent')">{l}Save{endl}</a> 
                        </div>
                    </div>
                  </form>
                </div><!-- /.module_steps-highlight -->
              </div>
            </div><!-- /.row:markAsSent -->
            <div class="row" ng-show="view.showTxt.creditInvOpt">
              <div class="col-sm-12">
                <div class="module_steps-highlight module_steps-fillsheet">
                  <form class="form-horizontal text-left" name="main_form" novalidate>
                      <div class="form-group" ng-class="{ 'form-group_alert' : main_form.serial_number.$invalid && !main_form.serial_number.$pristine }">
                        <label class="col-sm-3 control-label"><strong>{l}Invoice Nr{endl}</strong></label>
                        <div class="col-sm-5">
                          <input type="text" class="form-control" name="serial_number" ng-model="view.invoice.serial_number" required>
                          <div class="alert alert-sm alert-danger" ng-if="view.alertsField.serial_number">{{view.alertsField.serial_number}}</div>
                        </div>
                      </div>
                      <div class="form-group">
                        <div class="col-sm-5 col-sm-offset-3">
                          <a class="btn btn-default" ng-click="view.saveData(main_form,'add_nr')">{l}Save{endl}</a> 
                        </div>
                      </div>
                  </form>
                </div>
              </div>
            </div><!-- /.row:view.showTxt.creditInvOpt -->
            <div class="row" ng-if="view.showTxt.sendPost">
              <div classs="col-sm-12">
                <div class="module_steps-highlight module_steps-fillsheet">
                  <form class="form-horizontal text-left">
                      <div class="form-group">
                          <div class="col-sm-12 text-right">
                              <button class="btn btn-plain" ng-click="view.showTxt.sendPost=false">{l}Cancel{endl}</button>
                              <button class="btn btn-primary" ng-click="view.sendPost()">{l}Send by Post{endl}</button>
                          </div>
                      </div>
                      <div class="form-group" ng-if="view.invoice.post_library.length">
                        <label class="col-sm-4 control-label"><strong>{l}E-stationary{endl}</strong></label>
                        <div class="col-sm-8">
                          <selectize config='view.stationaryCfg' options='view.invoice.post_library' ng-model="view.invoice.stationary_id" ></selectize>
                        </div>
                      </div>
                  </form>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12">
                <div class="module_steps-highlight module_steps-fillsheet" ng-show="view.showTxt.sendEmail">
                  <form class="form-horizontal text-left">
                      <div class="form-group">
                          <div class="col-sm-12 text-right">
                              <button type="button" class="btn btn-plain" ng-click="view.showTxt.sendEmail=false">{l}Cancel{endl}</button>
                              <button type="button" class="btn btn-primary" ng-disabled="view.save_disabled" ng-click="view.sendEmails(view.email)">{l}Send{endl}</button>
                          </div>
                      </div>
                      <div ng-if="view.invoice.DRAFT_INVOICE_NO_NUMBER" class="form-group" ng-class="{ 'form-group_alert_alt' : view.invoice.red_inp=='red_inp' }">
                        <label class="col-sm-3 control-label"><strong>{l}Date{endl}</strong></label>
                        <div class="col-sm-3">
                          <input type="text" class="form-control" ng-model="view.invoice.invoice_date" uib-datepicker-popup="{{view.format}}" is-open="view.datePickOpen.invoice_date" datepicker-options="view.dateOptions" close-text="Close" placeholder="{l}Sent date{endl}" show-button-bar="false" ng-click="view.datePickOpen.invoice_date=true" name="invoice_date" required />
                          <div ng-class="{'alert alert-sm alert-info' : view.invoice.red_inp=='red_inp'}"></div>
                        </div> 
                      </div>
                      <div class="form-group">
                        <label for="" class="col-sm-3 control-label"><strong>{l}Recipients{endl}</strong><span class="mandatory-label">*</span></label>
                        <div class="col-sm-9">
                          <selectize config='view.contactForEmailAutoCfg' options='view.auto.options.recipients' ng-model="view.email.recipients" required ng-change="view.myFunction()"></selectize>
                        </div>
                      </div>
                      <div class="form-group">
                        <label for="" class="col-sm-3 control-label">{l}Send me a copy{endl}</label>
                        <div class="col-sm-9 checkbox checkbox-primary">
                          <input type="checkbox" id="checkbox1" ng-model="view.email.copy" name="copy">
                          <label for="checkbox1">
                          </label>
                        </div>
                      </div>
                      <div class="form-group" ng-if="view.invoice.check_acc_manager==true">
                        <label for="" class="col-xs-3 control-label text-left">{l}Send account manager a copy{endl}</label>
                        <div class="col-xs-9 checkbox checkbox-primary">
                          <input type="checkbox" id="checkbox2" ng-model="view.email.copy_acc" >
                          <label for="checkbox2">
                          </label>
                        </div>
                      </div>
                      <div class="form-group">
                        <label for="" class="col-sm-3 control-label">{l}Subject{endl}</label>
                        <div class="col-sm-9">
                          <input type="text" class="form-control" ng-model="view.email.e_subject" placeholder="{l}Subject{endl}">
                        </div>
                      </div>
                      <div class="form-group">
                        <label for="" class="col-sm-3 control-label">{l}Message{endl}</label>
                        <div class="col-sm-9">
                          <textarea class="form-control" ng-model="view.email.e_message" placeholder="{l}Message{endl}" rows="10" ng-if="::view.invoice.use_html=='0'"></textarea>
                          <textarea ui-tinymce="view.tinymceOptions" ng-model="view.email.e_message" class="form-control mail_send" ng-if="::view.invoice.use_html=='1'"></textarea>
                        </div>
                      </div>
                      <div class="form-group">
                          <div class="col-sm-12 text-right">
                              <a ng-click="view.showPreview(view.email)">{l}Preview{endl}</a>
                          </div>
                      </div>
                      <div class="form-group">
                        <label for="" class="col-sm-3 control-label">{l}PDF Language{endl}</label>
                        <div class="col-sm-9">
                          <select class="form-control" ng-model="view.email.email_language">
                            <option ng-repeat="option in view.invoice.language_dd track by option.id" value="{{option.id}}">{{option.name}}</option>
                          </select>
                        </div>
                      </div>
                      <div class="form-group">
                        <label for="" class="col-sm-3 control-label">{l}Include a PDF version of the invoice{endl}</label>
                        <div class="col-sm-9 checkbox checkbox-primary">
                          <input type="checkbox" id="checkbox3" ng-model="view.email.include_pdf" >
                          <label for="checkbox3">
                          </label>
                        </div>
                      </div>
                      <div class="form-group" ng-if="view.invoice.xml_available">
                        <label for="" class="col-sm-3 control-label">{l}Include an XML version of the invoice{endl}</label>
                        <div class="col-sm-9 checkbox checkbox-primary">
                          <input type="checkbox" id="checkbox4" ng-model="view.email.include_xml" >
                          <label for="checkbox4">
                          </label>
                        </div>
                      </div>
                      <div class="form-group" ng-if="::view.invoice.is_file">
                        <label for="" class="col-sm-3 control-label">{l}Files{endl}:</label>
                        <div class="col-sm-9 checkbox checkbox-primary">
                          <p class="text-muted" ng-repeat="item in view.email.files">
                          <input type="checkbox" ng-model="item.checked" id="checkbox_{{$index}}" > 
                          <label for="checkbox_{{$index}}">
                          </label>
                          <span>{{::item.file}}</span>
                        </p>
                        </div>
                      </div>
                      <div class="form-group" ng-if="::view.invoice.dropbox.dropbox_is_file">
                            <label for="" class="col-xs-3 control-label text-left">{l}Dropbox Files{endl}:</label>
                            <div class="col-xs-9 checkbox checkbox-primary">
                              <p ng-repeat="item in view.invoice.dropbox.dropbox_files">
                                <input type="checkbox" id="checkbox_dropbox_file_{{$index}}" ng-model="item.checked">
                                <label for="checkbox_dropbox_file_{{$index}}"></label>
                                <span class="ng-clock">{{item.file}}</span>
                              </p>
                            </div>
                          </div>
                      <div class="row">
                          <div class="col-sm-12 text-right">
                              <button type="button" class="btn btn-plain" ng-click="view.showTxt.sendEmail=false">{l}Cancel{endl}</button>
                              <button type="button" class="btn btn-primary" ng-disabled="view.save_disabled" ng-click="view.sendEmails(view.email)">{l}Send{endl}</button>
                          </div>
                      </div>
                  </form>
                </div>
            </div>
          </div>
          </div><!-- /.module_steps-content -->
          <div uib-alert ng-repeat="alert in view.email.alerts" type="{{alert.type}}" close="view.email.alerts.splice($index, 1);" ng-class="['alert-' + (alert.type || 'warning') ]">{{alert.msg}}</div>
        </div><!-- /.module_steps -->        
    </div>
</div><!-- /.intervention-options -->
<table class="table table_orders">
  <thead>
    <th class="col-xs-1">{l}Code{endl}</th>
    <th class="col-xs-3">{l}Item{endl}</th>
    <th class="col-xs-2 text-center">{l}Quantity{endl}</th>
    <th class="col-xs-2 text-center">{l}Unit Price{endl}</th>
    <th ng-show="view.invoice.hide_vat" class="col-xs-1 text-center">{l}VAT{endl}</th>
    <th ng-show="view.invoice.hide_disc_line" class="col-xs-1 text-center">{l}Discount{endl}</th>
    <th class="col-xs-2 text-center">{l}Amount{endl}</th>
  </thead>
  <tbody>
    <tr ng-repeat="item in view.invoice.invoice_row">
      <td ng-if="item.content" colspan="7">
        <p ng-if="item.title" ng-bind-html="::item.row_description"></p>
        <p ng-if="!item.title" ng-bind-html="::item.row_description"></p>
      </td>
      <td ng-if="!item.content">
        <code ng-show="item.article_code" class="text-ellipsis">{{::item.article_code}}</code>
      </td>
      <td ng-if="!item.content">
        <span ng-bind-html="::item.row_description"></span>
      </td>
      <td ng-if="!item.content" class="text-center text-muted"><span ng-if="!item.has_variants || item.has_variants=='0'">{{::item.row_quantity}}</span></td>
      <td ng-if="!item.content" class="text-center text-muted"><span ng-bind-html="::item.row_unit_price" ng-if="!item.has_variants || item.has_variants=='0'"></span><span ng-if="!item.has_variants || item.has_variants=='0'">{{::item.row_currency}}</span></td>
      <td ng-if="!item.content && view.invoice.hide_vat" class="text-center text-muted"><span ng-if="!item.has_variants || item.has_variants=='0'">{{::item.vat}} %</span></td>
      <td ng-if="!item.content && view.invoice.hide_disc_line" class="text-center text-muted"><span ng-if="!item.has_variants || item.has_variants=='0'">{{::item.disc_line}} %</span></td>
      <td ng-if="!item.content" class="text-center"><span ng-bind-html="::item.row_amount" ng-if="!item.has_variants || item.has_variants=='0'"></span><span ng-if="!item.has_variants || item.has_variants=='0'">{{::item.row_currency}}</span></td>
    </tr>
  </tbody>
</table><!-- /.table_orders -->
<div class="row">
  <div class="col-sm-8 col-sm-offset-4 order_total">
    <div class="row" ng-show="view.invoice.hide_total">
      <div class="col-xs-7 col-xs-offset-5">
        <div class="row">
          <div class="col-sm-7 col-lg-7 text-left">
            <h4>{l}Total without VAT{endl}</h4>
          </div>
          <div class="col-sm-5 col-lg-5 text-right text-amount">
            <h4 class="text-amount">
              <span ng-bind-html="view.invoice.total_wo_vat"></span>
            </h4>
          </div>
        </div>
      </div>
    </div>
<!--     <div class="row" ng-show="view.invoice.view_discount1">
      <div class="col-xs-7 col-xs-offset-5">
        <div class="row">
          <div class="col-sm-7 col-lg-7 text-left">
            <h4>{l}Discount{endl}</h4>
          </div>
          <div class="col-sm-5 col-lg-5 text-right text-amount">
            <h4 class="text-amount">
            - <span ng-bind-html="view.invoice.discount_value"></span>
            </h4>
          </div>
        </div>
      </div>
    </div>
    <div class="row" ng-show="view.invoice.view_discount1 && view.invoice.apply_discount>1">
      <div class="col-xs-7 col-xs-offset-5">
        <div class="row">
          <div class="col-sm-7 col-lg-7 text-left">
            <h4>{l}Net amount{endl}</h4>
          </div>
          <div class="col-sm-5 col-lg-5 text-right text-amount">
            <h4 class="text-amount">
              <span ng-bind-html="view.invoice.net_amount"></span>
            </h4>
          </div>
        </div>
      </div>
    </div> -->
    <div class="row" ng-show="view.invoice.no_vat" ng-repeat="vat_line in view.invoice.vat_line">
      <div class="col-xs-7 col-xs-offset-5">
        <div class="row">
          <div class="col-sm-7 col-lg-7 text-left">
            <h4>{l}Subtotal{endl} {l}VAT{endl} {{vat_line.vat_percent}} %</h4>
          </div>
          <div class="col-sm-5 col-lg-5 text-right text-amount">
            <h4 class="text-amount"><!-- <span ng-show="edit.item.hide_currency1" ng-bind-html="edit.item.default_currency_val"></span> -->
            <span ng-bind-html="vat_line.subtotal"></span>
           <!--  <span ng-show="edit.item.hide_currency2" ng-bind-html="edit.item.default_currency_val"></span> --></h4>
          </div>
        </div>
      </div>
      <div class="col-xs-7 col-xs-offset-5" ng-show="vat_line.sh_discount">
        <div class="row">
          <div class="col-sm-7 col-lg-7 text-left">
            <h4>{l}Discount{endl} ({{vat_line.total_discount_procent}}) %</h4>
          </div>
          <div class="col-sm-5 col-lg-5 text-right text-amount">
            <h4 class="text-amount"><!-- <span ng-show="edit.item.hide_currency1" ng-bind-html="edit.item.default_currency_val"></span> -->
            - <span ng-bind-html="vat_line.discount_value"></span>
           <!--  <span ng-show="edit.item.hide_currency2" ng-bind-html="edit.item.default_currency_val"></span> --></h4>
          </div>
        </div>
      </div>
      <div class="col-xs-7 col-xs-offset-5" ng-show="vat_line.sh_discount">
        <div class="row">
          <div class="col-sm-7 col-lg-7 text-left">
            <h4>{l}Net amount{endl} {l}at{endl} {{vat_line.vat_percent}} %</h4>
          </div>
          <div class="col-sm-5 col-lg-5 text-right text-amount">
            <h4 class="text-amount"><!-- <span ng-show="edit.item.hide_currency1" ng-bind-html="edit.item.default_currency_val"></span> -->
            <span ng-bind-html="vat_line.net_amount"></span>
           <!--  <span ng-show="edit.item.hide_currency2" ng-bind-html="edit.item.default_currency_val"></span> --></h4>
          </div>
        </div>
      </div>
      <div class="col-xs-7 col-xs-offset-5">
        <div class="row">
          <div class="col-sm-7 col-lg-7 text-left">
            <h4>{l}VAT{endl} {l}for{endl} {{vat_line.vat_percent}} %</h4>
          </div>
          <div class="col-sm-5 col-lg-5 text-right text-amount">
            <h4 class="text-amount">
              <span ng-bind-html="vat_line.vat_value"></span>
            </h4>
          </div>
        </div>
      </div>
    </div>
    <!-- <div class="row" ng-repeat="vat_line in view.invoice.vat_line">
      <div class="col-xs-5 text-right text-muted">
        <small ng-show="vat_line.sh_vat">{l}VAT{endl} ({{vat_line.vat_percent}} %)</small>
      </div>
      <div class="col-xs-7">
        <div class="row">
          <div class="col-sm-7 col-lg-7 text-left text-muted">
          {l}Total without VAT{endl}
          </div>
          <div class="col-sm-5 col-lg-5 text-right text-muted text-amount">
            <span ng-bind-html="::vat_line.total_novat"></span>
          </div>
        </div>
        <div class="row" ng-show="vat_line.sh_discount">
          <div class="col-sm-7 col-lg-7 text-left text-muted">
            <span>{l}Discount{endl}</span>
              ( <span ng-bind-html="::vat_line.total_discount_procent"></span>%)
          </div>        
          <div ng-show="view.invoice.show_disc" class="col-sm-5 col-lg-5 text-right text-muted text-amount">
            - <span ng-bind-html="::vat_line.discount_value"></span>
          </div>
        </div>
        <div class="row" ng-show="vat_line.sh_discount">
          <div class="col-sm-7 col-lg-7 text-left text-muted">
          {l}Net amount{endl}
          </div>
          <div class="col-sm-5 col-lg-5 text-right text-muted text-amount">
            <span ng-bind-html="::vat_line.net_amount"></span>
          </div>
        </div>
        <div class="row" ng-show="vat_line.sh_vat">
          <div class="col-sm-7 col-lg-7 text-left text-muted">
          {l}VAT{endl}
          </div>
          <div class="col-sm-5 col-lg-5 text-right text-muted text-amount">
            <span ng-bind-html="::vat_line.vat_value"></span>
          </div>
        </div>
      </div>
    </div> -->
    <div class="row" ng-if="view.invoice.downpayment">
      <div class="col-xs-7 col-xs-offset-5">
        <div class="row">
          <div class="col-sm-7 col-lg-7 text-left text-muted">
            <h4>{l}Downpayment{endl}</h4>
          </div>
          <div class="col-sm-5 col-lg-5 text-right text-muted text-amount">
            <h4 class="text-amount">- <span ng-bind-html="::view.invoice.total_downpayment"></span></h4>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-7 col-xs-offset-5">
        <div class="row" ng-class="{ 'text-danger':view.invoice.red_if_credit }">
          <div class="col-sm-7 col-lg-7 text-left">
            <h4>{l}TOTAL{endl}</h4>
          </div>
          <div class="col-sm-5 col-lg-5 text-right">
            <h4 class="text-amount"><span ng-bind-html="::view.invoice.total_amount_due2"></span></h4>
          </div>
        </div>
      </div>
    </div>
    <div class="row" ng-show="view.invoice.hide_total_currency">
      <div class="col-xs-7 col-xs-offset-5">
        <div class="row">
          <div class="col-sm-7 col-lg-7 text-left text-muted">
            <strong>{l}TOTAL in{endl} <span ng-bind-html="::view.invoice.default_currency_name"></span></strong>
          </div>
          <div class="col-sm-5 col-lg-5 text-right text-muted text-strong">
            <span ng-bind-html="::view.invoice.total_amount_due2_default"></span>
          </div>
        </div>
      </div>
    </div>
    <div class="row" ng-if="view.invoice.is_proforma_payments">
      <div class="col-xs-7 col-xs-offset-5">
        <div class="row">
          <div class="col-sm-7 text-left text-muted">
            <p>{l}Proforma invoice{endl}</p>
            <p>({{view.invoice.proforma_date}})</p>
          </div>
          <div class="col-sm-5 text-right text-muted">
            - <span ng-bind-html="::view.invoice.total_payed_proforma"></span>
          </div>
        </div>
      </div>
    </div>
    <div class="row" ng-if="view.invoice.is_not_credit">
      <div class="col-xs-7 col-xs-offset-5" ng-show="view.invoice.sh_pay">
        <div class="row">
          <div class="col-sm-7 col-lg-7 text-left text-muted">
            {l}Amount Due{endl}
          </div>
          <div class="col-sm-5 col-lg-5 text-right text-muted">
            <span ng-bind-html="::view.invoice.total_payments"></span>
          </div>
        </div>
      </div>
    </div>
    <div class="row" ng-show="view.invoice.view_req_payment">
      <div class="col-xs-7 col-xs-offset-5" ng-show="view.invoice.sh_pay">
        <div class="row">
          <div class="col-sm-7 col-lg-7 text-left text-muted">
            {l}Amount Due{endl} ( <span ng-bind-html="::view.invoice.req_payment"></span> %)
          </div>
          <div class="col-sm-5 col-lg-5 text-right text-muted">
            <span ng-bind-html="::view.invoice.req_payment_value"></span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="user_summary" ng-class="{ 'is-open': view.showTxt.viewNotes }">
  <button class="btn-summary text-link" ng-click="view.showTxt.viewNotes=!view.showTxt.viewNotes"><span class="glyphicon glyphicon-chevron-down pull-right"></span>{l}Notes & General conditions{endl}</button>
  <div class="row col-top col-bottom">
    <div class="col-sm-12" >
      <p ng-bind-html="::view.invoice.notes2"></p>
    </div>
    <div class="col-sm-12" >
      <p ng-bind-html="::view.invoice.down_notes"></p>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <h4>
      <strong>{l}Files{endl}</strong>
      <button ng-if="view.invoice.is_drop && !view.show_load && view.invoice.serial_number1" type="button" class="btn btn-primary btn-add" uib-tooltip="{l}Upload{endl}" tooltip-placement="right" ng-click="view.uploadDoc(1)"><span class="btn-add_icon"><span class="icon-bar"></span><span class="icon-bar-2"></span></span></button>
      <button ng-if="view.invoice.is_drop && !view.show_load && !view.invoice.serial_number1" type="button" class="btn btn-primary btn-add not_allowed" uib-tooltip="{l}You cannot upload attachments to invoices without an invoice number{endl}" tooltip-placement="right" ><span class="btn-add_icon"><span class="icon-bar"></span><span class="icon-bar-2"></span></span></button>
    </h4>
    <div class="row text-center" ng-if="view.show_load">
        <i class="fa fa-spinner fa-spin fa-2x fa-fw" aria-hidden="true"></i><span class="sr-only"></span>
    </div>
    <div uib-alert type="notice" class="alert-warning" ng-if="!view.invoice.dropbox.dropbox_files.length && !view.show_load">{l}No data to display{endl}</div>
    <table class="table active_rows orderTable" ng-if="view.invoice.dropbox.dropbox_files.length && !view.show_load">
      <thead>
        <tr>
          <th class="col-md-1 col-sm-1 text-center">{l}Download{endl}</th>
          <th class="col-md-10 col-sm-10">{l}File{endl}</th>
          <th class="col-md-1 col-sm-1"></th>                   
        </tr>
      </thead>
        <tbody>
          <tr ng-repeat="invoice in view.invoice.dropbox.dropbox_files">
            <td class="text-center"><a href="{{invoice.down_file_link}}" target="_blank"><i class="fa fa-dropbox" aria-hidden="true"></i></a></td>
            <td><a href="{{invoice.down_file_link}}" target="_blank">{{invoice.name}}</a></td>
            <td class="table_actions">
              <div class="btn-group" uib-dropdown>
                <button type="button" class="btn btn-plain dropdown-toggle" uib-dropdown-toggle>
                   <span class="caret"></span>
                </button>
                <ul class="dropdown-menu dropdown-menu-right" uib-dropdown-menu>
                  <li class="dropdown-header">{l}Action{endl}</li>        
                  <li>
                   <a href="#" ng-click="view.deleteDropFile($index)" confirm="{l}Are you sure, you wanna delete this entry?{endl}"><span class="fas fa-trash-alt text-primary"></span> {l}Delete{endl}</a>
                  </li>
                </ul>
              </div>
            </td>
          </tr>
        </tbody>
    </table>
    <h4>
      <strong>{l}Images{endl}</strong>
      <button ng-if="view.invoice.is_drop && !view.show_load && view.invoice.serial_number1" type="button" class="btn btn-primary btn-add" uib-tooltip="{l}Upload{endl}" tooltip-placement="right" ng-click="view.uploadDoc(2)"><span class="btn-add_icon"><span class="icon-bar"></span><span class="icon-bar-2"></span></span></button>
      <button ng-if="view.invoice.is_drop && !view.show_load && !view.invoice.serial_number1" type="button" class="btn btn-primary btn-add not_allowed" uib-tooltip="{l}You cannot upload attachments to invoices without an invoice number{endl}" tooltip-placement="right" ><span class="btn-add_icon"><span class="icon-bar"></span><span class="icon-bar-2"></span></span></button>
    </h4>
    <div class="row text-center" ng-if="view.show_load">
        <i class="fa fa-spinner fa-spin fa-2x fa-fw" aria-hidden="true"></i><span class="sr-only"></span>
    </div>
    <div uib-alert type="notice" class="alert-warning" ng-if="!view.invoice.dropbox.dropbox_images.length && !view.show_load">{l}No data to display{endl}</div>
    <div class="row drop_images" ng-if="view.invoice.dropbox.dropbox_images.length && !view.show_load">
      <div class="col-sm-2 margin-top" ng-repeat="invoice in view.invoice.dropbox.dropbox_images">
        <div class="image">
          <img class="link-pointer" src="{{invoice.url}}" ng-click="view.openLightboxModal($index)"/>
        </div> 
        <span class="glyphicon glyphicon-remove text-danger link-pointer" ng-click="view.deleteDropImage($index)" confirm="{l}Are you sure, you wanna delete this entry?{endl}"></span>
      </div>
    </div>
  </div>
</div>

<logging do='invoice-invoice' advanced="{{view.hide_invoice}}" type="invoice_id" ref="{{view.invoice_id}}"></logging>
</div>