<!-- neede on all pages -->
<div class="container">
  <div class="page-header">
    <div class="row">
      <div class="col-xs-12 col-sm-8">
        <h1>{{page_title}} {{serial_number}} <span class="badge item-status-gray" ng-class="{ 'item-status-green':nr_status == '3', 'item-status-yellow':nr_status == '2', 'item-status-red':nr_status=='4'}">{{type_title}}</span></h1>
      </div>
      <div class="col-xs-12 col-sm-4 page-header-options" ng-if="isAddPage">
        <!-- <button go-to="" state="invoices" type="submit" class="btn btn-link"><span class="glyphicon glyphicon-list"></span> <strong>{l}List{endl}</strong></button> -->
        <!-- <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-paperclip"></span> Files</button> -->
      </div>
    </div>        
  </div><!-- /.page-header -->
  <div ui-view></div>
</div>
<!-- neede on all pages -->