<style>
body {  
	color: #000;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12pt;
}
h1 {  
	font-size:14pt;
	font-weight:bold;
}
table {  
	border-collapse: collapse;
	border-spacing: 0;
}
.headline {  
	font-size:16pt;
	font-weight:bold;
	text-align:center;
}
.right_box {  
	border: 1px solid #000;
	width:240px;
}
.invoice_rows .th {  
	border-bottom: 1px solid #000;
	color: #000;
	font-size: 12pt;
	font-weight: bold;
	padding-left: 10px;
	text-align: left;
}
.invoice_rows td {  
	border-bottom: 1px solid #000;
	padding: 10px 10px 10px 10px;
	vertical-align:middle;
	font-size: 11pt;
}
.invoice_rows .last{  
	text-align: right;
}
.hide {  
	display:none;
}
.right{  
   text-align:right;
}
</style>
{if:english}
<table cellpadding="5" cellspacing="0" border="0">
  <tr>
    <td style="width:70%;"><h2>SEPA  Direct Debit Mandate CORE</h2></td>
    <td style="width:30%;"><h3>{creditor_name}</h3></td>
  </tr>
  <tr>
    <td></td>
    <td width="100%" valign="top"><img src="{creditor_logo}" {attr}></td>
  </tr>
</table>
<table cellpadding="5" cellspacing="0" border="0">
  <tr>
    <td><span>Please complete all the fields marked * </span></td>
  </tr>
  <tr>
    <td style="border-top:1pt solid #000; border-left:1pt solid #000;"><span><strong>Mandate reference *</strong> – To be completed by the Creditor <i>(max. 35 Characters)</i></span></td>
  </tr>
  <tr><td><p class="mandate_reference" style="border-bottom-style: dashed;">{sepa_number}</p></td></tr>
  <tr><td><p>By signing this mandate form, you authorise (A) {creditor_name} to send instructions to your bank  (B) (NAME OF YOUR BANK) to direct debit your account  in accordance with the instructions from {creditor_name}</p>
    <p>As parts of your rights,  you are entitled to a refund from your bank under the terms and conditions of your agreement with your bank. A refund must be claimed within 8 weeks starting from the date on which your account was debited.</p><br />
  </td></tr>
  <tr>
    <td style="border-top:1pt solid #000; border-left:1pt solid #000;"><span><strong>Account Holder </strong></span></td>
  </tr>
  <tr>
    <td><span>Your name*  <i>(max.70 Characters)</i></span><br />
        <p style="border-bottom-style: dashed;">{holder_name}</p></td>
  </tr>
  <tr>
    <td><span>Street name and number*</span><br />
        <p style="border-bottom-style: dashed;">{holder_address}</p></td>
  </tr>
  <tr>
    <td style="width:30%;"><span>Postal Code*</span><br />
        <p style="border-bottom-style: dashed;">{holder_zip}</p></td>
    <td style="width:70%;"><span>City*</span><br />
        <p style="border-bottom-style: dashed;">{holder_city}</p></td>
  </tr>
  <tr>
    <td><span>Country*</span><br />
        <p style="border-bottom-style: dashed;">{holder_country}</p></td>
  </tr>
  <tr>
    <td><span>Your account number*</span><br />
        <span>IBAN: {holder_iban}</span><br />
        <span>BIC: {holder_bic_code}</span><br /></td>
  </tr>
</table>
<table cellpadding="5" cellspacing="0" border="0">
  <tr>
    <td style="border-top:1pt solid #000; border-left:1pt solid #000;"><span><strong>Name of Creditor</strong></span></td>
  </tr>
  <tr>
    <td><span>Name of Creditor*  <i>(max.70 Characters)</i></span><br />
        <p style="border-bottom-style: dashed;">{creditor_name}</p></td>
  </tr>
  <tr>
    <td><span>Creditor identifier *  <i>(max.35 Characters)</i></span><br />
        <p style="border-bottom-style: dashed;">{creditor_sepa}</p></td>
  </tr>
  <tr>
    <td></td>
  </tr>
  <tr>
    <td></td>
  </tr>
  <tr>
    <td></td>
  </tr>
  <tr>
    <td></td>
  </tr>
  <tr>
    <td><span>Street name and number*</span><br />
        <p style="border-bottom-style: dashed;">{creditor_address}</p></td>
  </tr>
  <tr>
    <td style="width:30%;"><span>Postal Code*</span><br />
        <p style="border-bottom-style: dashed;">{creditor_zip}</p></td>
    <td style="width:70%;"><span>City*</span><br />
        <p style="border-bottom-style: dashed;">{creditor_city}</p></td>
  </tr>
  <tr>
    <td><span>Country*</span><br />
        <p style="border-bottom-style: dashed;">{creditor_country}</p></td>
  </tr>
</table>
<table cellpadding="5" cellspacing="0" border="0">
  <tr>
    <td style="border-top:1pt solid #000; border-left:1pt solid #000;"><span><strong>Type of payment*</strong></span></td>
  </tr>
  <tr>
    <td style="width:6%;"><img src="images/{check1}.png"></td>
    <td style="width:30%;">Recurrent payment</td>
    <td style="width:6%;"><img src="images/{check2}.png"></td>
    <td style="width:40%;">One-off payment</td>
  </tr>
  <tr>
    <td style="width:100%;">Details regarding the underlying relationship between the Creditor and the Debtor (for information purposes only) *<br />
      <p style="border-bottom-style: dashed;"></p></td>
  </tr>
  <tr><td ><span>&nbsp;<br/></span></td></tr>
</table>


<table width="100%" cellspacing="0" cellpadding="0" class="" style="clear:both;">
  <tbody>
      <tr>
        <td style="width:60%;"><h2>SEPA  Direct Debit Mandate CORE</h2></td>
      </tr>
      <tr>
        <td class="last" style="border:1pt solid #ccc;"><label style="border-bottom:1pt solid #ccc; padding:0pt;">City*</label><br />
        &nbsp;<br/>
        &nbsp;<br/>
        &nbsp;<br/>
        <label>Date*</label><br /></td>
        
        <td class="last" style="background-color:#99FFFF; border:1pt solid #ccc;"><p style="border-top:1pt solid #000; border-left:1pt solid #000; ">Signature(s)*</p><br/>
          &nbsp;<br/>
          &nbsp;<br/>
          &nbsp;<br/>
          &nbsp;<br/>
          &nbsp;<br/>
          &nbsp;</td>
        
      </tr>
  </tbody>
</table>
{end}
{if:french}
<table cellpadding="5" cellspacing="0" border="0">
  <tr>
    <td style="width:70%;"><h2>Mandat de domiciliation européenne SEPA CORE</h2></td>
    <td style="width:30%;"><h3>{creditor_name}</h3></td>
  </tr>
  <tr>
    <td></td>
    <td width="100%" valign="top"><img src="{creditor_logo}" {attr}></td>
  </tr>
</table>
<table cellpadding="5" cellspacing="0" border="0">
  <tr>
    <td><span>Veuillez  compléter  tous  les  champs  marqués *</span></td>
  </tr>
  <tr>
    <td style="border-top:1pt solid #000; border-left:1pt solid #000;"><span><strong>Référence du mandat*</strong> – à compléter par le créancier <i>(max. 35 caractères)</i></span></td></tr>
  <tr><td><p class="mandate_reference" style="border-bottom-style: dashed;">{sepa_number}</p></td></tr>
  <tr><td><p>En signant ce formulaire de mandat, vous autorisez (A) {creditor_name} à envoyer des instructions à votre banque pour débiter votre compte, et (B) votre banque à débiter votre compte conformément aux instructions  de {creditor_name}</p>
    <p>Vous bénéficiez d’un droit au remboursement par votre banque selon les conditions décrites dans la convention que vous avez passée avec elle. Toute demande de remboursement doit être présentée dans les 8 semaines suivant la date de débit de votre compte.</p>
    <p>Vous pouvez obtenir auprès de votre banque des informations sur vos droits dans le cadre de ce mandat.</p><br />
  </td></tr>
  <tr>
    <td style="border-top:1pt solid #000; border-left:1pt solid #000;"><span><strong>Titulaire(s) du compte</strong></span></td>
  </tr>
  <tr>
    <td><span>Votre nom* <i>(max.70 caractères)</i></span><br />
        <p style="border-bottom-style: dashed;">{holder_name}</p></td>
  </tr>
  <tr>
    <td><span>Rue et numéro*</span><br />
        <p style="border-bottom-style: dashed;">{holder_address}</p></td>
  </tr>
  <tr>
    <td style="width:30%;"><span>Code postal*</span><br />
        <p style="border-bottom-style: dashed;">{holder_zip}</p></td>
    <td style="width:70%;"><span>Localité*</span><br />
        <p style="border-bottom-style: dashed;">{holder_city}</p></td>
  </tr>
  <tr>
    <td><span>Pays*</span><br />
        <p style="border-bottom-style: dashed;">{holder_country}</p></td>
  </tr>
  <tr>
    <td><span>Votre compte*</span><br />
        <span>IBAN: {holder_iban}</span><br />
        <span>BIC: {holder_bic_code}</span><br /></td>
  </tr>
</table>
<table cellpadding="5" cellspacing="0" border="0">
  <tr>
    <td style="border-top:1pt solid #000; border-left:1pt solid #000;"><span><strong>Créancier</strong></span></td>
  </tr>
  <tr>
    <td><span>Nom du créancier*  <i>(max.70 caractères)</i></span><br />
        <p style="border-bottom-style: dashed;">{creditor_name}</p></td>
  </tr>
  <tr>
    <td><span>Identification du créancier* <i>(max.35 caractères)</i></span><br />
        <p style="border-bottom-style: dashed;">{creditor_sepa}</p></td>
  </tr>
  <tr>
    <td></td>
  </tr>
  <tr>
    <td></td>
  </tr>
  <tr>
    <td><span>Rue et numéro*</span><br />
        <p style="border-bottom-style: dashed;">{creditor_address}</p></td>
  </tr>
  <tr>
    <td style="width:30%;"><span>Code postal*</span><br />
        <p style="border-bottom-style: dashed;">{creditor_zip}</p></td>
    <td style="width:70%;"><span>Localité*</span><br />
        <p style="border-bottom-style: dashed;">{creditor_city}</p></td>
  </tr>
  <tr>
    <td><span>Pays*</span><br />
        <p style="border-bottom-style: dashed;">{creditor_country}</p></td>
  </tr>
</table>
<table cellpadding="5" cellspacing="0" border="0">
  <tr>
    <td style="border-top:1pt solid #000; border-left:1pt solid #000;"><span><strong>Type d’encaissement*</strong></span></td>
  </tr>
  <tr>
    <td style="width:6%;"><img src="images/{check1}.png"></td>
    <td style="width:30%;">Encaissement récurrent</td>
    <td style="width:6%;"><img src="images/{check2}.png"></td>
    <td style="width:40%;">Encaissement unique</td>
  </tr>
  <tr>
    <td style="width:100%;">Numéro d’identification du contrat sous-jacent*<br />
      <p style="border-bottom-style: dashed;"></p></td>
  </tr>
  <tr><td ><span>&nbsp;<br/></span></td></tr>
</table>


<table width="100%" cellspacing="0" cellpadding="0" class="" style="clear:both;">
  <tbody>
      <tr>
        <td style="width:60%;"><h2>Mandat de domiciliation européenne SEPA CORE</h2></td>
      </tr>
      <tr>
        <td class="last" style="border:1pt solid #ccc;"><label style="border-bottom:1pt solid #ccc; padding:0pt;">Localité*</label><br />
        &nbsp;<br/>
        &nbsp;<br/>
        &nbsp;<br/>
        <label>Date de signature*</label><br /></td>
        
        <td class="last" style="background-color:#99FFFF; border:1pt solid #ccc;"><p style="border-top:1pt solid #000; border-left:1pt solid #000; ">Signature(s)*</p><br/>
          &nbsp;<br/>
          &nbsp;<br/>
          &nbsp;<br/>
          &nbsp;<br/>
          &nbsp;<br/>
          &nbsp;</td>
        
      </tr>
  </tbody>
</table>
{end}
{if:dutch}
<table cellpadding="5" cellspacing="0" border="0">
  <tr>
    <td style="width:70%;"><h2>Mandaat SEPA Europese domiciliëring CORE</h2></td>
    <td style="width:30%;"><h3>{creditor_name}</h3></td>
  </tr>
  <tr>
    <td></td>
    <td width="100%" valign="top"><img src="{creditor_logo}" {attr}></td>
  </tr>
</table>
<table cellpadding="5" cellspacing="0" border="0">
  <tr>
    <td><span>Vult u a.u.b. alle met * gemarkeerde velden in.</span></td>
  </tr>
  <tr>
    <td style="border-top:1pt solid #000; border-left:1pt solid #000;"><span><strong>Mandaatreferte *</strong> – in te vullen door de schuldeiser <i>(max. 35 karakters)</i></span></td>
  </tr>
  <tr><td><p class="mandate_reference" style="border-bottom-style: dashed;">{sepa_number}</p></td></tr>
  <tr><td><p>Door ondertekening van dit mandaatformulier geeft u toestemming aan (A) {creditor_name} een opdracht te sturen naar uw bank om een bedrag van uw rekening te debiteren en (B) uw bank om een bedrag van uw rekening te debiteren overeenkomstig de opdracht van {creditor_name}</p>
    <p>U kunt een Europese domiciliëring laten terugbetalen. Vraag uw eigen bank naar de voorwaarden. Een verzoek tot terugbetaling moet binnen de 8 weken na de datum van debitering van het bedrag van uw rekening worden ingediend.</p>
    <p>Bij uw bank kunt u informatie krijgen over uw rechten met betrekking tot dit mandaat.</p></td></tr>
  <tr>
    <td style="border-top:1pt solid #000; border-left:1pt solid #000;"><span><strong>Rekeninghouder(s)</strong></span></td>
  </tr>
  <tr>
    <td><span>Uw naam*<i>(max.70 karakters)</i></span><br />
        <p style="border-bottom-style: dashed;">{holder_name}</p></td>
  </tr>
  <tr>
    <td><span>Straat en huisnummer*</span><br />
        <p style="border-bottom-style: dashed;">{holder_address}</p></td>
  </tr>
  <tr>
    <td style="width:30%;"><span>Postcode*</span><br />
        <p style="border-bottom-style: dashed;">{holder_zip}</p></td>
    <td style="width:70%;"><span>Plaats*</span><br />
        <p style="border-bottom-style: dashed;">{holder_city}</p></td>
  </tr>
  <tr>
    <td><span>Land*</span><br />
        <p style="border-bottom-style: dashed;">{holder_country}</p></td>
  </tr>
  <tr>
    <td><span>Uw rekening*</span><br />
        <span>IBAN: {holder_iban}</span><br />
        <span>BIC: {holder_bic_code}</span><br /></td>
  </tr>
</table>
<table cellpadding="5" cellspacing="0" border="0">
  <tr>
    <td style="border-top:1pt solid #000; border-left:1pt solid #000;"><span><strong>Schuldeiser</strong></span></td>
  </tr>
  <tr>
    <td><span>Naam schuldeiser* <i>(max.70 karakters)</i></span><br />
        <p style="border-bottom-style: dashed;">{creditor_name}</p></td>
  </tr>
  <tr>
    <td><span>Schuldeisersidentificatie* <i>(max.35 karakters)</i></span><br />
        <p style="border-bottom-style: dashed;">{creditor_sepa}</p></td>
  </tr>
  <tr>
    <td></td>
  </tr>
  <tr>
    <td></td>
  </tr>
  <tr>
    <td></td>
  </tr>
  <tr>
    <td><span>Straat en huisnummer*</span><br />
        <p style="border-bottom-style: dashed;">{creditor_address}</p></td>
  </tr>
  <tr>
    <td style="width:30%;"><span>Postcode*</span><br />
        <p style="border-bottom-style: dashed;">{creditor_zip}</p></td>
    <td style="width:70%;"><span>Plaats*</span><br />
        <p style="border-bottom-style: dashed;">{creditor_city}</p></td>
  </tr>
  <tr>
    <td><span>Land*</span><br />
        <p style="border-bottom-style: dashed;">{creditor_country}</p></td>
  </tr>
</table>
<table cellpadding="5" cellspacing="0" border="0">
  <tr>
    <td style="border-top:1pt solid #000; border-left:1pt solid #000;"><span><strong>Type betaling*</strong></span></td>
  </tr>
  <tr>
    <td style="width:6%;"><img src="images/{check1}.png"></td>
    <td style="width:30%;">Terugkerende invordering</td>
    <td style="width:6%;"><img src="images/{check2}.png"></td>
    <td style="width:40%;">Eenmalige invordering</td>
  </tr>
  <tr>
    <td style="width:100%;">Identificatienummer van het onderliggende contract/omschrijving van het contract *<br />
      <p style="border-bottom-style: dashed;"></p></td>
  </tr>
  <tr><td ><span>&nbsp;<br/></span></td></tr>
</table>
<table width="100%" cellspacing="0" cellpadding="0" class="" style="clear:both;">
  <tbody>
      <tr>
        <td style="width:60%;"><h2>Mandaat SEPA Europese domiciliëring CORE</h2></td>
      </tr>
      <tr>
        <td class="last" style="border:1pt solid #ccc;"><label style="border-bottom:1pt solid #ccc; padding:0pt;">Plaats*</label><br />
        &nbsp;<br/>
        &nbsp;<br/>
        &nbsp;<br/>
        <label>Datum van ondertekening*</label><br /></td>
        
        <td class="last" style="background-color:#99FFFF; border:1pt solid #ccc;"><p style="border-top:1pt solid #000; border-left:1pt solid #000; ">Handtekening(en)*</p><br/>
          &nbsp;<br/>
          &nbsp;<br/>
          &nbsp;<br/>
          &nbsp;<br/>
          &nbsp;<br/>
          &nbsp;</td>
        
      </tr>
  </tbody>
</table>
{end}