<style>
body {  color: #000;  font-family: Arial, Helvetica, sans-serif;  font-size: 9pt;  }
h1 {  font-size:10pt; font-weight:bold;  }
table {  border-collapse: collapse; border-spacing: 0;  }
table td {  font-size: 9pt;  }

</style>
<table cellpadding="3" cellspacing="0" border="0" width="100%"  >
   <tr>
    <td width="100%" valign="top" style="text-align:center;text-font:16pt;color:#000;font-weight:bold;"><u>CONDITIONS GENERALES DE VENTE</u></td>
  </tr>
  <tr>
    <td width="100%" valign="top" style="font-size:10px;color:#000;" ><br /><br /><br /><span style="text-font:16pt;color:#000;font-weight:bold;">1. GENERALITES</span ><br />Les présentes conditions générales visent à régler toute vente et/ou concession de logiciels informatiques par la sa
MONDIALWEB et ses clients, à l’exception de celles pour lesquelles une convention particulière aurait été établie. Tout client
passant commande auprès de la sa MONDIALWEB est supposé avoir pris connaissance et accepter sans réserves les présentes
conditions. Aucune dérogation ne pourra y être apportée, sauf accord écrit et préalable de MONDIALWEB. Les présentes
conditions générales excluent l’application des conditions générales du client.<br />La création ou l’acceptation d’une lettre de change ou d’un autre effet n’emportera ni dérogation ni novation aux présentes conditions ni à la facture.<br /><br />Les engagements souscrits ou contrats passés par les représentants de Mondialweb SA ne seront valables et ne lui sont opposables qu’après ratification écrite par un de ses membres habilités.</td>
  </tr>
  <tr>
    <td width="100%" style="font-size:10px;color:#000;" ><br /><span style="text-font:16pt;color:#000;font-weight:bold;">2. PRIX</span ><br />Les prix et tarifs sont donnés sans aucun engagement et peuvent toujours être modifiés par la sa Mondialweb sans avertissement préalable ni préavis<br /><br />En outre, toute modification des prestations demandées par le client entraîne un supplément de prix.</td>
  </tr>
  <tr>
    <td width="100%" style="font-size:10px;color:#000;" ><br /><span style="text-font:16pt;color:#000;font-weight:bold;">3. DELAI D’EXECUTION</span ><br />Sauf stipulation écrite contraire de la sa MONDIALWEB, les délais d’exécution ne sont donnés qu'à titre indicatif. Ils ne l’engagent nullement et ne peuvent donner lieu à des dommages-intérêts de sa part. Dans tous les cas, les interruptions de travail ou les retards provoqués par le client ou son représentant ne sont pas pris en compte dans le délai d’exécution.<br /><br />Si le retard dans l’accomplissement des prestations de la sa MONDIALWEB incombe au client, la sa MONDIALWEB se réserve le droit de ne pas poursuivre ses prestations et conserver les acomptes et arrhes versés; en ce cas le client sera tenu de payer en outre le montant de 20% de clause pénale conventionnelle prévu à l’article 4</td>
  </tr>
  <tr>
    <td width="100%"  style="font-size:10px;color:#000;"><br /><span style="text-font:16pt;color:#000;font-weight:bold;">4. PAIEMENT – DEFAUT – RETARD</span ><br />Toute commande du client s’accompagnera du paiement d’un acompte équivalent à 80 % du prix du matériel commandé.<br /><br />Le paiement de tout montant facturé devra se faire à notre siège de Bruxelles, net, au comptant, sans escompte ni frais pour la sa MONDIALWEB.<br /><br />Tout retard de paiement oblige le client, de plein droit et sans mise en demeure préalable, au paiement d’un intérêt de 1% par
mois entamé, sans préjudice d’éventuels dommages et intérêts. A défaut de paiement d’une facture à son échéance, son montant sera majoré de plein droit et sans mise en demeure préalable de 20%, avec un minimum de 150,00 €, à titre de clause pénale conventionnelle.<br /><br />Le défaut de paiement à l'échéance ou l'émission d'un chèque sans provision ou d’une traite impayée rend exigible de plein droit
immédiatement et intégralement sans mise en demeure préalable toutes les autres créances de la sa MONDIALWEB sur le client,
et ce même si un délai de payement avait été accordé, et autorise en outre la sa MONDIALWEB à suspendre ses prestations au
profit du client.<br /><br />En cas de rupture du contrat pour quelque cause que ce soit, tous acomptes ou arrhes seront conservés par la sa MONDIALWEB à titre d’indemnité de dédit irréductible, sans préjudice de la réclamation de la réparation intégrale du préjudice qu’elle a subi.<br /><br />Tout cas de force majeure, entraînant chez la sa MONDIALWEB ou l’un de ses fournisseurs, un arrêt total ou partiel de la production ou des possibilités d’exécution, suspend l’exécution des obligations de la sa MONDIALWEB, et ne pourra donner lieu à l’octroi de dommages et intérêts quelconques.<br /><br />Les marchandises sont transportées aux risques et périls de l’acheteur, quel que soit le mode de transport utilisé. Les frais d’envoi éventuels sont également à charge de l’acheteur.</td>
  </tr>
   <tr>
    <td width="100%"  style="font-size:10px;color:#000;"><br /><span style="text-font:16pt;color:#000;font-weight:bold;">5. CLAUSE DE RESERVE DE PROPRIETE</span ><br />La propriété des marchandises vendues ne passe à l’acheteur qu’après le règlement intégral des sommes dues. L’acheteur ne pourra disposer du matériel qu’une fois que son prix aura été payé. Jusqu’alors, il lui est formellement interdit de le vendre ou de le laisser en gage à autrui. En cas de non paiement de ses factures, le vendeur peut demander la restitution des marchandises vendues, restées entre les mains de l’acheteur.</td>
  </tr>
  <tr>
    <td width="100%"  style="font-size:10px;color:#000;"><br /><span style="text-font:16pt;color:#000;font-weight:bold;">6. RESOLUTION</span ><br />La liquidation judiciaire ou amiable, la faillite ou la déconfiture du client entraîneront la résolution immédiate des relations contractuelles en cours et les acomptes et arrhes versés seront retenus à titre d’indemnité forfaitaire sans préjudice du droit de la sa MONDIALWEB de poursuivre la réclamation et le paiement de sa créance.</td>
  </tr>
   <tr>
    <td width="100%"  style="font-size:10px;color:#000;"><br /><span style="text-font:16pt;color:#000;font-weight:bold;">7. LITIGE - COMPETENCE</span ><br />Toute réclamation doit être introduite auprès du siège social de la sa MONDIALWEB par lettre recommandée circonstanciée et justifiée, adressée au plus tard dans les 5 jours ouvrables suivant l’envoi de la facture ou la remise des travaux.
Tout litige sera de la compétence exclusive des Tribunaux de Bruxelles.</td>
  </tr>
</table>
