<div class="container">
    <!-- <div uib-alert ng-repeat="alert in alerts" type="{{alert.type}}" close="alerts.splice($index, 1);" ng-class="['alert-' + (alert.type || 'warning'), 'alert-fixed' ]" dismiss-on-timeout='5000' >{{alert.msg}}</div> -->

    <div class="tabs-navigation">
        <div class="row page-content">
            <div class="col-sm-12">
                <div class="tab-content no-margin">
                    <div class="tab-pane fade" id="invoices">
                        <div class="section-content">
                            <div class="page-header margin-top-none">
                                <div class="row text-center invoice-spin" ng-if="show_load">
                                    <!-- <i class="fa fa-spinner fa-spin fa-2x fa-fw" aria-hidden="true"></i><span class="sr-only"></span> -->
                                </div>

                                <!-- <div class="row">
                                <div class="col-sm-12">
                                      <h1>{l}Invoices{endl} 
                                        <div class="btn-group">
                                          <button type="button" class="btn btn-primary btn-add dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" uib-tooltip="{l}Add{endl}" tooltip-placement="right"><span class="btn-add_icon"><span class="icon-bar"></span><span class="icon-bar-2"></span></span></button>
                                          <ul class="dropdown-menu dropdown-menu-left">
                                            <li><a ui-sref="invoice.edit({'invoice_id': 'tmp', 'type':'0'})">{l}Invoice{endl}</a></li>
                                            <li><a ui-sref="invoice.edit({'invoice_id': 'tmp', 'type':'2'})">{l}Credit Invoice{endl}</a></li>
                                          </ul>
                                        </div>
                                    </h1>
                                  </div>
                              </div> -->
                                <div class="row hidden" ng-if="nothing">
                                    <div class="col-sm-6">
                                        <div class="col-sm-6">
                                            <canvas class="chart chart-doughnut" chart-data="chart_data" chart-labels="inv_labels" chart-options="chart_options" chart-colors="chart_colors"></canvas>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="section-title margin-bottom-none margin-top-none">
                                                <h3><b>{l}Amount outstanding{endl}</b> <a href="#" class="pull-right" ng-click="showOutstanding()"><span class="glyphicon glyphicon-info-sign" uib-tooltip="{l}show invoices{endl}" tooltip-placement="top"></span></a></h3>
                                            </div>
                                            <div class="row">
                                                <div class="col-sm-12">
                                                    <h1><span ng-bind-html="inv_data.amount_to_be_inv"></span> <a href="#" class="pull-right"><span class="glyphicon glyphicon-info-sign" uib-tooltip="{{inv_data.amount_to_be_inv_nr}} {l}Invoices{endl}" tooltip-placement="top"></span></a></h1>
                                                    <p class="text-muted"><span ng-bind-html="inv_data.amount_to_be_inv_btw"></span> {l}With VAT{endl}</p>
                                                </div>
                                                <div class="col-sm-12 bg-warning">
                                                    <h1><span ng-bind-html="inv_data.amount_to_be_inv_late"></span> <a href="#" class="pull-right"><span class="glyphicon glyphicon-info-sign" uib-tooltip="{{inv_data.amount_to_be_inv_nr_late}} {l}Late Invoices{endl}" tooltip-placement="top"></span></a></h1>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="col-sm-6">
                                            <canvas class="chart chart-doughnut" chart-data="chart_data_month" chart-labels="inv_labels_month" chart-options="chart_options" chart-colors="chart_colors"></canvas>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="row">
                                                <div class="col-sm-12">
                                                    <div class="section-title margin-bottom-none margin-top-none">
                                                        <h3><b>{l}This Month{endl}</b> - {{inv_data.amount_to_be_inv_month_nr}} {l}Invoices{endl}</h3>
                                                    </div>
                                                    <h3 class="text-success"><span ng-bind-html="inv_data.amount_to_be_inv_month"></span></h3>
                                                    <p class="text-muted"><span ng-bind-html="inv_data.amount_to_be_inv_month_btw"></span> {l}VAT{endl}</p>
                                                    <p class="text-muted"><span class="text-danger" ng-bind-html="inv_data.credit_this_month"></span> (<span ng-bind-html="inv_data.credit_this_month_btw"></span> {l}VAT{endl}) - {l}Credit Invoice{endl}</p>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-sm-12">
                                                    <div class="section-title margin-bottom-none margin-top-none">
                                                        <h3><b>{l}Last Month{endl}</b> - {{inv_data.amount_to_be_inv_last_nr}} {l}Invoices{endl}</h3>
                                                    </div>
                                                    <h3 class="text-info"><span ng-bind-html="inv_data.amount_to_be_inv_last"></span></h3>
                                                    <p class="text-muted"><span ng-bind-html="inv_data.amount_to_be_inv_last_btw"></span> {l}VAT{endl}</p>
                                                    <p class="text-muted"><span class="text-danger" ng-bind-html="inv_data.credit_this_last"></span> (<span ng-bind-html="inv_data.credit_this_last_btw"></span> {l}VAT{endl}) - {l}Credit Invoice{endl}</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row" ng-if="!show_load">
                                    <div class="col-sm-12">
                                        <div class="col-bottom">
                                            <div class="row">
                                                <!-- <div class="col-sm-2 ">
                                                <h1 class="kpi_number kpi_toggle_switch">
                                                 <label>
                                                    <toggle-switch ng-model="inv_data.use_vat_invoices_kpi" ng-change="useVatKPI()" class="switch-primary" off-label="{l}No{endl}" on-label="{l}Yes{endl}"></toggle-switch></label>
                                                </h1>
                                                  <span class="dark_text kpi_compare">{l}Show VAT included{endl}</span>
                                            </div> -->
                                                <div class="col-sm-4 text-center q_mob">
                                                    <h1 class="kpi_number">
                                                        <span ng-if="inv_data.use_vat_invoices_kpi"><span ng-bind-html="inv_data.amount_to_be_inv_month_with_btw" ng-class="{ 'text-success':inv_data.amount_to_be_inv_month_with_btw > inv_data.amount_to_be_inv_last_with_btw,  'text-orange':inv_data.amount_to_be_inv_month_with_btw < inv_data.amount_to_be_inv_last_with_btw }"></span>
                                                        <span class="dark_text"> {l}VAT incl{endl}</span>
                                                        <!-- <small class="kpi_procent" ng-class="{ 'text-success':data_month_i_with_btw > '0', 'text-muted':data_month_i_with_btw == '0', 'text-danger':data_month_i_with_btw < '0' }"><span class="fa" ng-class="{ 'fa-arrow-up':data_month_i_with_btw > '0', 'fa-circle':data_month_i_with_btw == '0', 'fa-arrow-down':data_month_i_with_btw < '0' }" aria-hidden="true"></span> {{data_month_i_with_btw}}%</small> -->
                                                        </span>
                                                        <div class="btn-group table_actions" uib-dropdown ng-if="inv_data.use_vat_invoices_kpi">
                                                            <button type="button" class="btn btn-plain dropdown-toggle" uib-dropdown-toggle>
                                                            <span class="caret"></span>
                                                        </button>
                                                            <ul class="dropdown-menu dropdown-menu-right kpi_vat" uib-dropdown-menu>
                                                                <li ng-if="!search.archived"><a href="#" ng-click="useVatKPI(0)">{l}VAT excl{endl}</a></li>
                                                            </ul>
                                                        </div>

                                                        <span ng-if="!inv_data.use_vat_invoices_kpi"><span ng-bind-html="inv_data.amount_to_be_inv_month" ng-class="{ 'text-success':inv_data.amount_to_be_inv_month > inv_data.amount_to_be_inv_last,  'text-orange':inv_data.amount_to_be_inv_month < inv_data.amount_to_be_inv_last }"></span>
                                                        <span class="dark_text"> {l}VAT excl{endl}</span>
                                                        <!-- <small class="kpi_procent" ng-class="{ 'text-success':data_month_i > '0', 'text-muted':data_month_i == '0', 'text-danger':data_month_i < '0' }"><span class="fa" ng-class="{ 'fa-arrow-up':data_month_i > '0', 'fa-circle':data_month_i == '0', 'fa-arrow-down':data_month_i < '0' }" aria-hidden="true"></span> {{data_month_i}}%</small>  --></span>
                                                        <div class="btn-group table_actions" uib-dropdown ng-if="!inv_data.use_vat_invoices_kpi">
                                                            <button type="button" class="btn btn-plain dropdown-toggle" uib-dropdown-toggle>
                                                            <span class="caret"></span>
                                                        </button>
                                                            <ul class="dropdown-menu dropdown-menu-right kpi_vat" uib-dropdown-menu>
                                                                <li ng-if="!search.archived"><a href="#" ng-click="useVatKPI(1)">{l}VAT incl{endl}</a></li>
                                                            </ul>
                                                        </div>

                                                    </h1>
                                                    <span class="kpi_compare">{l}Revenue Last Month{endl} 
                                                    <span  ng-if="inv_data.use_vat_invoices_kpi" class="dark_text" ng-bind-html="inv_data.amount_to_be_inv_last_with_btw"></span>
                                                    <span ng-if="!inv_data.use_vat_invoices_kpi" class="dark_text" ng-bind-html="inv_data.amount_to_be_inv_last"></span>
                                                    </span>
                                                </div>
                                                <!--                                           <div class="col-sm-3 text-center">
                                                <h1 class="kpi_number"><span ng-bind-html="inv_data.amount_to_be_inv_month_30"></span> <small class="kpi_procent" ng-class="{ 'text-success':data_month_i_30 > '0', 'text-muted':data_month_i_30 == '0', 'text-danger':data_month_i_30 < '0' }"><span class="fa" ng-class="{ 'fa-arrow-up':data_month_i_30 > '0', 'fa-circle':data_month_i_30 == '0', 'fa-arrow-down':data_month_i_30 < '0' }" aria-hidden="true"></span></small></h1>
                                                <span class="kpi_compare">{l}Last 30 days{endl}</span>
                                            </div> -->
                                                <div class="col-sm-4 text-center q_mob">
                                                    <h1 ng-if="inv_data.use_vat_invoices_kpi" class="kpi_number"><span ng-bind-html="inv_data.amount_to_be_inv_late_with_btw"></span> <span class="dark_text"> {l}VAT incl{endl}</span> </h1>
                                                    <h1 ng-if="!inv_data.use_vat_invoices_kpi" class="kpi_number"><span ng-bind-html="inv_data.amount_to_be_inv_late"></span><span class="dark_text"> {l}VAT excl{endl}</span></h1>
                                                    <span class="kpi_compare">{l}Late{endl}</span>
                                                </div>
                                                <div class="col-sm-4 text-center q_mob">
                                                    <h1 ng-if="inv_data.use_vat_invoices_kpi" class="kpi_number"><span ng-bind-html="inv_data.amount_to_be_inv_with_btw"></span><span class="dark_text"> {l}VAT incl{endl}</span></h1>
                                                    <h1 ng-if="!inv_data.use_vat_invoices_kpi" class="kpi_number"><span ng-bind-html="inv_data.amount_to_be_inv"></span><span class="dark_text"> {l}VAT excl{endl}</span></h1>
                                                    <span class="kpi_compare">{l}Open Invoices{endl}</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- /.page-header -->
                            <div class="row page-search  page-search-options">
                                <form>
                                    <div class="col-sm-12">
                                        <div class="row">
                                            <div class="col-sm-4 col-md-4">
                                                <div class="so-field" ng-class="{ 'so-active':search.search != '' }">
                                                    <span class="glyphicon glyphicon-search so-icon"></span>
                                                    <input type="text" class="form-control" placeholder="{l}Search{endl}" search-it doit="search" resetlist="1" callbk="renderList" ng-model="search.search">
                                                    <span class="glyphicon glyphicon-remove so-icon so-remove" ng-click="toggleSearchButtons('search', '')"></span>
                                                </div>
                                                <!-- /.input-search -->
                                            </div>
                                            <div class="col-sm-2">
<!--                                                <div class="btn-group btn-block">-->
<!--                                                    <selectize placeholder="{l}All Types{endl}" config='filterCfgType' options='types' ng-model="doc_type">-->
<!--                                                    </selectize>-->
<!--                                                </div>-->
                                                <div class="so-field" ng-class="{ 'so-active':search.doc_type }">
                                                    <selectize config='filterCfgType' options='types' ng-model="search.doc_type"></selectize>
                                                    <span class="glyphicon glyphicon-remove so-icon so-remove" ng-click="toggleSearchButtons('doc_type', '')"></span>
                                                </div>
                                            </div>
                                            
                                         
                                            <div class="col-sm-2 ">
                                                <div class="so-field" ng-class="{ 'so-active':activeView !=0 }">
                                                    <span class="akti-icon akti-icon-16 o_akti_custopplier so-icon"></span>
                                                    <selectize placeholder="{l}All Statuses{endl}" config='filterCfg' options='views' ng-model="activeView">
                                                    </selectize>
                                                    <span class="glyphicon glyphicon-remove so-icon so-remove" ng-click="filters(0)"></span>
                                                </div>
                                            </div>
                                            <div class="col-sm-2 col-md-2">
                                                <div class="so-field" ng-class="{ 'so-active':search.start_date_js != undefined }">
                                                    <span class="glyphicon glyphicon-calendar so-icon" ng-click="openDate('start_date')"></span>
                                                    <input type="text" class="form-control" ng-model="search.start_date_js" uib-datepicker-popup="{{format}}" is-open="datePickOpen.start_date" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" close-text="Close" placeholder="{l}Start Date{endl}"
                                                        show-button-bar="false" ng-click="datePickOpen.start_date = true" ng-change="searchThing(true)">
                                                    <span class="glyphicon glyphicon-remove so-icon so-remove" ng-click="toggleSearchButtons('start_date_js', undefined)"></span>
                                                </div>
                                                <!-- /.input-date -->
                                            </div>
                                            <div class="col-sm-2 col-md-2">
                                                <div class="so-field" ng-class="{ 'so-active':search.stop_date_js != undefined }">
                                                    <span class="glyphicon glyphicon-calendar so-icon" ng-click="openDate('stop_date')"></span>
                                                    <input type="text" class="form-control" ng-model="search.stop_date_js" uib-datepicker-popup="{{format}}" is-open="datePickOpen.stop_date" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" close-text="Close" placeholder="{l}End Date{endl}"
                                                        show-button-bar="false" ng-click="datePickOpen.stop_date = true" ng-change="searchThing(true)">
                                                    <span class="glyphicon glyphicon-remove so-icon so-remove" ng-click="toggleSearchButtons('stop_date_js', undefined)"></span>
                                                </div>
                                                <!-- /.input-date -->
                                            </div>
                                        </div>
                                    </div>


                                    <div class="page-search-button">
                                        <div class="btn-group" uib-dropdown>
                                            <button type="button" class="btn btn-tertiary dropdown-toggle" uib-dropdown-toggle>
                                            <span class="caret"></span>
                                        </button>
                                            <ul class="dropdown-menu dropdown-menu-right" uib-dropdown-menu>
                                                <!-- <li><a href="index.php?do=invoice-invoices_print" target="_blank" ng-click="createExports($event)"><span class="fas fa-file-download text-primary"></span> {l}Create PDF{endl}</a>
                                            </li> -->
                                                <!-- <li><a href="index.php?do=invoice-export_selected_invoices" target="_blank" ng-click="createExports($event)"><span class="fas fa-upload text-primary"></span> {l}Export Invoices List{endl}</a></li> -->
                                                <li><a href="#" ng-if="adv_search" ng-click="search.showAdvanced = !search.showAdvanced"><span class="fa fa-search"></span> {l}Advanced search{endl}</a></li>
                                                <li ng-if="yuki_active"><a href="#" ng-click="checkYuki()"><span class="fa fa-money text-primary"></span> {l}Check Payed Invoices on Yuki{endl}</a></li>
                                                <li ng-if="search.archived"><a href="#" ng-click="archived(0)"><span class="fa fa-list-ul" ></span> {l}Active Invoices{endl}</a></li>
                                                <li ng-if="!search.archived"><a href="#" ng-click="archived(1)"><span class="fas fa-archive new_archive" ></span> {l}Archived Invoices{endl}</a></li>
                                                <li><a href="#" ng-click="columnSettings()"><span class="fas fa-cog text-primary" ></span> {l}Column settings{endl}</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col-sm-12 advanced_search adv_s" ng-if="adv_search" ng-class="{ 'advanced_search-show': search.showAdvanced }">
                                        <div class="row ">
                                            <div class="form-group form-horizontal col-sm-3">
                                                <span class="control-label text-left col-sm-12">{l}O.G.M.{endl}</span>
                                            </div>
                                            <div class="col-sm-1">
                                                <input type="text" class="form-control" ng-model="search.ogm1" ng-blur="checkOgm('ogm1', search.ogm1)" placeholder="###" maxlength="3">
                                            </div>
                                            <div class="col-sm-1">
                                                <input type="text" class="form-control" ng-model="search.ogm2" ng-blur="checkOgm('ogm2', search.ogm2)" placeholder="####" maxlength="4">
                                            </div>
                                            <div class="col-sm-1">
                                                <input type="text" class="form-control" ng-model="search.ogm3" ng-blur="checkOgm('ogm3', search.ogm3)" placeholder="#####" maxlength="5">
                                            </div>
                                            <div class="col-sm-2 ">
                                                <input type="text" class="form-control" placeholder="{l}Article{endl}" ng-model="search.article_name_search">
                                            </div>
                                            <div class="col-sm-2 ">
                                                <input type="text" class="form-control" placeholder="{l}Your Reference{endl}" ng-model="search.your_reference_search">
                                            </div>
                                            <div class="col-sm-2 ">
                                                <input type="text" class="form-control" placeholder="{l}Customer VAT number{endl}" ng-model="search.customer_vat">
                                            </div>
                                        </div>
                                        <div class="row ">
                                            <div class="col-sm-10  text-right">

                                            </div>
                                            <div class="col-sm-2 text-right">
                                                <button class="btn btn-plain btn-search_cancel" ng-click="resetAdvanced()">{l}Cancel{endl}</button>
                                                <button class="btn btn-default" ng-click="searchAdvanced()">{l}Search{endl}</button>

                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <!-- /.page-search -->
                            <table class="table active_rows orderTable invoicesTable">
                                <thead>
                                    <tr>
                                        <!-- <th class="col-sm-2 table-head-invoices sortable_row" ng-class="{ 'sortable_row-up':(!reverse && ord == 'serial_number'), 'sortable_row-down':(reverse && ord == 'serial_number') }" ng-click="orderBY('serial_number')">{l}Invoice{endl}</th>
                                    <th class="col-sm-1 sortable_row" ng-class="{ 'sortable_row-up':(!reverse && ord == 't_date') , 'sortable_row-down':(reverse && ord == 't_date') }" ng-click="orderBY('t_date')">{l}Date{endl}</th>
                                    <th class="col-sm-1 sortable_row" ng-class="{ 'sortable_row-up':(!reverse && ord == 'due_date') , 'sortable_row-down':(reverse && ord == 'due_date') }" ng-click="orderBY('due_date')">{l}Due Date{endl}</th>
                                    <th class="col-sm-2 sortable_row" ng-class="{ 'sortable_row-up':(!reverse && ord == 'buyer_name') , 'sortable_row-down':(reverse && ord == 'buyer_name') }" ng-click="orderBY('buyer_name')">{l}Account Name{endl}</th>
                                    <th class="col-sm-1 sortable_row" ng-class="{ 'sortable_row-up':(!reverse && ord == 'sepa_number') , 'sortable_row-down':(reverse && ord == 'sepa_number') }" ng-click="orderBY('sepa_number')">{l}Mandate Reference{endl}</th>
                                    <th class="col-sm-1 sortable_row" ng-class="{ 'sortable_row-up':(!reverse && ord == 'our_ref') , 'sortable_row-down':(reverse && ord == 'our_ref') }" ng-click="orderBY('our_ref')">{l}Our Reference{endl}</th>
                                    <th class="col-sm-1 text-center sortable_row" ng-class="{ 'sortable_row-up':(!reverse && ord == 'amount') , 'sortable_row-down':(reverse && ord == 'amount') }" ng-click="orderBY('amount')">{l}Amount{endl} </th>
                                    <th class="col-sm-1 text-center sortable_row" ng-class="{ 'sortable_row-up':(!reverse && ord == 'amount_vat') , 'sortable_row-down':(reverse && ord == 'amount_vat') }" ng-click="orderBY('amount_vat')">{l}Amount + VAT{endl} </th>
                                    <th class="col-sm-1 text-center sortable_row" ng-class="{ 'sortable_row-up':(!reverse && ord == 'balance') , 'sortable_row-down':(reverse && ord == 'balance') }" ng-click="orderBY('balance')">{l}Balance{endl}</th>
                                    <th class="col-sm-1 text-center col-status">{l}Status{endl}</th>  -->
                                        <th ng-repeat="col in columns" ng-class="{ 'sortable_row':col.order_by, 'sortable_row-up':(!reverse && col.order_by && ord==col.order_by), 'sortable_row-down':(reverse && col.order_by && ord==col.order_by), 'text-center': col.column_name=='amount' || col.column_name=='amount_vat' || col.column_name=='balance' || col.column_name=='status' , 'col-status': col.column_name=='status' , 'table-head-invoices': col.column_name=='s_number' }"
                                            ng-click="(col.order_by ? orderBY(col.order_by) : '')">
                                            <span ng-if="col.column_name!='type'" ng-bind-html="col.name"></span>
                                        </th>
                                        <th class="col-sm-1 col-select">
                                            <!-- <div class="checkbox checkbox-primary">
                                          <input type="checkbox" ng-model="listObj.check_add_all" ng-click="saveForPDF()">
                                          <label for="checkbox_all"></label>
                                        </div>                                           -->
                                            <div class="dropdown order_export">
                                                <!-- <button class="dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                              <i class="fa fa-square-o" aria-hidden="true"></i>
                                              <i class="fa fa-caret-down" aria-hidden="true"></i>
                                            </button> -->
                                                <!-- <button class="dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                             <i class="fas fa-minus-square"></i>
                                              <i class="fa fa-caret-down" aria-hidden="true"></i>
                                            </button> -->
                                                <button class="dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                              <i class="fa fa-square-o" ng-if="!all_pages_selected && !minimum_selected"></i>
                                              <i class="fas fa-minus-square" ng-if="!all_pages_selected && minimum_selected"></i>
                                              <i class="fas fa-check-square" ng-if="all_pages_selected"></i>
                                              <i class="fa fa-caret-down" aria-hidden="true"></i>
                                            </button>
                                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                                    <a class="dropdown-item" href="#" ng-click="checkAllPage()">{l}Select page{endl}</a>
                                                    <a class="dropdown-item" href="#" ng-if="!all_pages_selected" ng-click="checkAllPages()">{l}Select all{endl}</a>
                                                    <a class="dropdown-item" href="#" ng-if="all_pages_selected || minimum_selected" ng-click="uncheckAllPages()">{l}Select none{endl}</a>
                                                </div>
                                            </div>
                                        </th>
                                        <th class="table_actions">
                                            <!-- <span class="hideOnTablet">{l}Action{endl}</span> -->
                                            <div class="btn-group" uib-dropdown>
                                                <button type="button" class="btn btn-tertiary dropdown-toggle" uib-dropdown-toggle>
                                                <span class="caret"></span>
                                            </button>
                                                <ul class="dropdown-menu dropdown-menu-right" uib-dropdown-menu>
                                                    <li><a href="index.php?do=invoice-invoices_print" target="_blank" ng-click="createExports($event, 'pdf')"><span class="far fa-file-pdf text-primary"></span> {l}Create PDF{endl}</a>
                                                    </li>
                                                    <li ng-if="show_settings.is_admin_invoice"><a href="index.php?do=invoice-export_selected_invoices" target="_blank" ng-click="createExports($event, 'export')"><span class="fas fa-upload text-primary"></span> {l}Export Invoices List{endl}</a></li>
                                                    <li ng-if="!search.archived">
                                                        <a href="#" ng-click="markSentBulkInvoices()" confirm-title="Confirm" confirm-ok="OK" confirm-cancel="Cancel" confirm="{l}Are you sure you want to mark as sent the selected entries{endl}?"><span class="fas fa-file-export"></span> {l}Mark as sent{endl}</a>
                                                    </li>
                                                    <!--  <li ng-if="yuki_active"><a href="#" ng-click="checkYuki()"><span class="fa fa-money text-primary"></span> {l}Check Payed Invoices on Yuki{endl}</a></li> -->
                                                    <li ng-if="search.archived">
                                                        <a href="#" ng-click="deleteBulkInvoices()" confirm-title="Confirm" confirm-ok="OK" confirm-cancel="Cancel" confirm="{l}Are you sure you want to delete the selected entries{endl}?"><span class="fa fa-trash text-primary"></span> {l}Delete{endl}</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </th>

                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="item in list" class="collapseTr">
                                        <!-- <td go-to="" state="invoice.view" params='{"invoice_id": {{::item.id}}}' list='{ "type":"invoice-invoices", "obj": { "search":{{search}}, "cindex":{{$index}}, "total_items":{{max_rows}} } }'>
                                        <a href='invoice/view/{{::item.id}}' class="text-muted">{{::item.s_number}}</a>
                                        <span class="item-icons">
                                            <span ng-if="item.is_money" class="fa fa-credit-card text-primary" uib-tooltip="{l}Invoice has been credited{endl}" tooltip-placement="right"></span>
                                            <span class="inv_ord {{item.invAll}}" title="{{item.invAll_info}}" ng-if="item.is_invoice"></span>
                                            <span class="akti-icon akti-icon-16 o_akti_delivery text-muted pull-right" title="{{item.partialDEL_info}}" ng-if="item.is_partial_deliver"></span>
                                            <span class="akti-icon akti-icon-16 o_akti_webshop text-muted pull-right" ng-if="item.is_front"></span>
                                            <i class="fa fa-exclamation text-danger" aria-hidden="true" ng-if="item.late" uib-tooltip="{l}This invoice is overdue{endl}"></i>
                                        </span>
                                    </td>
                                    <td class="text-muted" go-to="" state="invoice.view" params='{"invoice_id": {{::item.id}}}' list='{ "type":"invoice-invoices", "obj": { "search":{{search}}, "cindex":{{$index}}, "total_items":{{max_rows}} } }'>
                                        <a href='invoice/view/{{::item.id}}' class="text-muted"><span>{{::item.created}}</span></a>
                                    </td>
                                    <td class="text-muted" go-to="" state="invoice.view" params='{"invoice_id": {{::item.id}}}' list='{ "type":"invoice-invoices", "obj": { "search":{{search}}, "cindex":{{$index}}, "total_items":{{max_rows}} } }'>
                                        <a href='invoice/view/{{::item.id}}' class="text-muted"><span>{{::item.due_date}}</span></a>
                                    </td>
                                    <td class="text-muted" go-to="" state="invoice.view" params='{"invoice_id": {{::item.id}}}' list='{ "type":"invoice-invoices", "obj": { "search":{{search}}, "cindex":{{$index}}, "total_items":{{max_rows}} } }'>
                                        <a href='invoice/view/{{::item.id}}' class="text-muted">{{::item.buyer_name}}</a>
                                    </td>
                                    <td class="text-muted" go-to="" state="invoice.view" params='{"invoice_id": {{::item.id}}}' list='{ "type":"invoice-invoices", "obj": { "search":{{search}} } }'>
                                        <a href='invoice/view/{{::item.id}}' class="text-muted">{{::item.mandate_reference}}</a>
                                    </td>
                                    <td class="text-muted" go-to="" state="invoice.view" params='{"invoice_id": {{::item.id}}}' list='{ "type":"invoice-invoices", "obj": { "search":{{search}}, "cindex":{{$index}}, "total_items":{{max_rows}} } }'>
                                        <a href='invoice/view/{{::item.id}}' class="text-muted">{{::item.our_reference}}</a>
                                    </td>
                                    <td class="text-center col-amount" go-to="" state="invoice.view" params='{"invoice_id": {{::item.id}}}' list='{ "type":"invoice-invoices", "obj": { "search":{{search}}, "cindex":{{$index}}, "total_items":{{max_rows}} } }' >
                                        <a href='invoice/view/{{::item.id}}' class="text-muted" ng-bind-html="item.amount"></a>
                                    </td>
                                    <td class="text-center text-muted col-amount" go-to="" state="invoice.view" params='{"invoice_id": {{::item.id}}}' list='{ "type":"invoice-invoices", "obj": { "search":{{search}}, "cindex":{{$index}}, "total_items":{{max_rows}} } }'>
                                        <a href='invoice/view/{{::item.id}}' class="text-muted" ng-bind-html="item.amount_vat"></a>
                                    </td>
                                    <td class="text-center text-muted" go-to="" state="invoice.view" params='{"invoice_id": {{::item.id}}}' list='{ "type":"invoice-invoices", "obj": { "search":{{search}}, "cindex":{{$index}}, "total_items":{{max_rows}} } }'>
                                        <a href='invoice/view/{{::item.id}}' class="text-muted" ng-bind-html="item.balance"></a>
                                    </td>
                                    <td class="text-center">
                                        <span class="badge item-status-gray" ng-class="{ 'item-status-green':item.nr_status == '3', 'item-status-yellow':item.nr_status == '2'}">
                                            <a href='invoice/view/{{::item.id}}' style="color: #FFF;">{{item.type_title}}</a>
                                        </span>
                                    </td> -->
                                        <td class="text-muted q_mob" ng-repeat="col in columns" ng-class="{'text-center col-amount' : col.column_name=='amount', 'text-center text-muted col-amount': col.column_name=='amount_vat', 'text-center text-muted' : col.column_name=='balance' || col.column_name=='days_expired', 'text-center' : col.column_name=='status' }"
                                            go-to="" state="invoice.view" params='{"invoice_id": {{::item.id}}}' list='{ "type":"invoice-invoices", "obj": { "search":{{search}}, "cindex":{{$parent.$index}}, "total_items":{{max_rows}} } }'>
                                            <span ng-if="col.column_name=='status'" class="badge item-status-gray" ng-class="{ 'item-status-green':item.nr_status == '3', 'item-status-yellow':item.nr_status == '2', 'item-status-red':item.nr_status=='4'}">
                                            <a href='invoice/view/{{::item.id}}' style="color: #FFF;">{{item.type_title}}</a>
                                        </span>
                                            <a ng-if="col.column_name!='status'" href='invoice/view/{{::item.id}}' class="text-muted" ng-bind-html="item[col.column_name]"></a>
                                            <span class="item-icons" ng-if="col.column_name=='s_number'">
                                            <span ng-if="item.is_money" class="fa fa-credit-card text-primary" uib-tooltip="{l}Invoice has been credited{endl}" tooltip-placement="right"></span>
                                            <span class="inv_ord {{item.invAll}}" title="{{item.invAll_info}}" ng-if="item.is_invoice"></span>
                                            <span class="akti-icon akti-icon-16 o_akti_delivery text-muted pull-right" title="{{item.partialDEL_info}}" ng-if="item.is_partial_deliver"></span>
                                            <span class="akti-icon akti-icon-16 o_akti_webshop text-muted pull-right" ng-if="item.is_front"></span>
                                            <!-- <i class="fa fa-exclamation text-danger" aria-hidden="true" ng-if="item.late" uib-tooltip="{l}This invoice is overdue{endl}" tooltip-placement="right"></i> -->
                                            </span>

                                        </td>
                                        <td class="col-select">
                                            <div class="checkbox checkbox-primary">
                                                <input type="checkbox" ng-model="item.check_add_to_product" ng-click="markCheckNew(item)">
                                                <label for="checkbox_all"></label>
                                            </div>
                                        </td>
                                        <td class="table_actions">
                                            <div class="btn-group" uib-dropdown>
                                                <button type="button" class="btn btn-plain dropdown-toggle" uib-dropdown-toggle>
                                                <span class="caret"></span>
                                            </button>
                                                <ul class="dropdown-menu dropdown-menu-right" uib-dropdown-menu>
                                                    <li class="dropdown-header">{l}Action{endl}</li>
                                                    <li>
                                                        <a href="{{item.pdf_link}}" target="_blank"><span class="far fa-file-pdf text-primary"></span> {l}PDF{endl}</a>
                                                    </li>
                                                    <li ng-if="item.hide_unsent">
                                                        <a href="#" ui-sref="invoice.edit({'c_invoice_id': item.id, 'type':2, 'a_invoice_id': item.s_number, 'base_type':0, 'languages': item.email_language})"><span class="fa fa-credit-card text-primary"></span> {l}Credit Invoice{endl}</a>
                                                    </li>
                                                    <li ng-if="item.can_pay">
                                                        <a href="#" ng-click="pay(item)"><span class="fas fa-coins text-primary"></span> {l}Record Payment{endl}</a>
                                                    </li>
                                                    <!-- <li ng-if="item.is_edit">
                                                    <a href="#" go-to="" state="invoice.edit" params='{"invoice_id": {{::item.id}}}' list='{ "type":"invoice-invoices", "obj": { "search":{{search}} } }'><span class="fas fa-pen text-primary"></span> {l}Edit{endl}</a>
                                                </li> -->

                                                    <li ng-if="item.can_archive">
                                                        <a href="#" ng-click="action(item, 'archive_link')" confirm-title="{{item.confirm}}" confirm-ok="{{item.ok}}" confirm-cancel="{{item.cancel}}" confirm="{l}Are you sure, you wanna archive this entry?{endl}"><span class="fas fa-archive text-primary"></span> {l}Archive{endl}</a>
                                                    </li>
                                                    <li ng-if="item.can_activate">
                                                        <a href="#" ng-click="action(item, 'activate_link')" confirm-title="{{item.confirm}}" confirm-ok="{{item.ok}}" confirm-cancel="{{item.cancel}}" confirm="{l}Are you sure, you wanna revert this entry?{endl}"><span class="glyphicon glyphicon-repeat text-primary"></span> {l}Revert{endl}</a>
                                                    </li>
                                                    <li ng-if="item.can_delete">
                                                        <a href="#" ng-click="action(item, 'delete_link')" confirm-title="{{item.confirm}}" confirm-ok="{{item.ok}}" confirm-cancel="{{item.cancel}}" confirm="{l}Are you sure, you wanna delete this entry?{endl}"><span class="fas fa-trash-alt text-primary"></span> {l}Delete{endl}</a>
                                                    </li>
                                                    <!-- <li role="separator" class="divider" ng-if="item.is_money || item.can_pay"></li> -->
                                                    <!-- <li class="dropdown-header" ng-if="item.is_money || item.can_pay">{l}Extra{endl}</li>
                                                <li ng-if="!item.post_invoice && !show_post_load">
                                                    <a href="#" ng-click="greenpost(item)"><img width="16" height="16" alt="" src="images/postgreen_icon.png"> {l}Send by Post{endl}</a>
                                                </li> -->
                                                    <li ng-if="item.post_invoice && !show_post_load">
                                                        <a href="#" ng-disabled="show_post_load" ng-click="resendPost(item)"><img width="16" height="16" alt="" src="images/postgreen_icon.png"> {l}Post status{endl}</a>
                                                    </li>
                                                    <li ng-if="bpaid_active && item.bpaid && item.fully && item.no_regular_invoice && item.no_credit && !item.bePaid_debt_done">
                                                        <a href="#" ng-click="bPaidFlow($index)"><img src="images/ipaid.png" width="16" height="16" alt="{l}Instapaid Recovery{endl}"> {l}Instapaid Recovery{endl}</a>
                                                    </li>
                                                    <li ng-if="bpaid_active && bPaid_reg && item.bpaid && item.no_regular_invoice && item.no_credit && item.bePaid_debt_done && (item.payed || item.fully)">
                                                        <a href="#" ng-click="bePaidStatus(item.id)"><img src="images/ipaid.png" width="16" height="16" alt="{l}View Status{endl}"> {l}View Status{endl}</a>
                                                    </li>
                                                    <li ng-if="edebex_active && item.fully && item.no_regular_invoice && item.no_credit && item.edebex_show && !item.edebex_status">
                                                        <a href="#" ng-click="edebexFlow(item.id)"><img src="images/edebex_icon.png" width="16" height="16" alt="{l}Edebex{endl}"> {l}Edebex{endl}</a>
                                                    </li>
                                                    <li ng-if="edebex_active && item.fully && item.no_regular_invoice && item.no_credit && item.edebex_show && item.edebex_status">
                                                        <a href="#" ng-click="edebexStatus(item.id)"><img src="images/edebex_icon.png" width="16" height="16" alt="{l}Edebex Status{endl}"> {l}Edebex Status{endl}</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="deliveries">
                        <!-- <div uib-alert type="notice" class="alert-warning" ng-if="!list.length">{l}No data to display{endl}</div> -->
                        <div class="section-content" ng-if="list.length">
                            <div class="page-header">
                                <div class="row">
                                    <div class="col-xs-12 col-sm-12">
                                        <div class="col-xs-6 col-sm-3">
                                            <h2>{l}uninvoiced orders{endl}</h2>
                                        </div>
                                        <div class="col-xs-6 col-sm-3">
                                            <h2>{l}oldest order{endl}</h2>
                                        </div>
                                        <div class="col-xs-3 col-sm-3"></div>
                                        <div class="col-xs-3 col-sm-3"></div>
                                    </div>
                                    <div class="col-xs-12 col-sm-12">
                                        <div class="col-xs-6 col-sm-3">
                                            <h2><b>{{number_o}}</b></h2>
                                        </div>
                                        <div class="col-xs-6 col-sm-3">
                                            <h2><b>{{date_o}}</b></h2>
                                        </div>
                                        <div class="col-xs-3 col-sm-3"></div>
                                        <div class="col-xs-3 col-sm-3"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12 m-t-20">
                                <div class="row page-search">
                                    <form>
                                        <div class="col-sm-12">
                                            <div class="so-field" ng-class="{ 'so-active':search_deliveries.search != '' }">
                                                <span class="glyphicon glyphicon-search so-icon"></span>
                                                <input type="text" class="form-control" placeholder="{l}Search{endl}" search-it doit="search_deliveries" callbk="renderDeliveries" ng-model="search_deliveries.search">
                                                <span class="glyphicon glyphicon-remove so-icon so-remove" ng-click="removeSearchDeliveries('search', '')"></span>
                                            </div>
                                            <!-- /.input-search -->
                                        </div>
                                    </form>
                                </div>
                                <!-- /.page-search -->

                            </div>
                            <div class="col-sm-12">
                                <table class="table active_rows orderTable">
                                    <thead>
                                        <tr>
                                            <!-- <th class="col-sm-4">{l}Number{endl}</th> -->
                                            <th class="col-sm-3">{l}Number{endl}</th>
                                            <th class="col-sm-2">{l}Date{endl}</th>
                                            <!-- <th class="col-sm-4">{l}Amount/Name{endl}</th> -->
                                            <th class="col-sm-3">{l}Amount/Name{endl}</th>
                                            <th class="col-sm-2">{l}Value of Downpayment{endl}</th>
                                            <th class="col-sm-1 text-center">
                                                <div class="checkbox checkbox-primary">
                                                    <input type="checkbox" ng-model="listObj.markAll" ng-click="checkAll(1)" class="ng-pristine ng-valid ng-touched" style="">
                                                    <label for="checkbox_all"></label>
                                                </div>
                                                <!--  <input type="checkbox" ng-model="listObj.markAll" ng-click="checkAll(1)"> -->
                                            </th>
                                            <th class="col-sm-1 table_actions">
                                                <div class="btn-group" uib-dropdown>
                                                    <button type="button" class="btn btn-tertiary dropdown-toggle" uib-dropdown-toggle>
                                                    <span class="caret"></span>
                                                </button>
                                                    <ul class="dropdown-menu dropdown-menu-right" uib-dropdown-menu>
                                                        <li><a href="#" ng-click="createInvoice('0', 'orders')"><span class="text-primary"></span> {l}Create Draft invoices{endl}</a>
                                                        </li>
                                                        <li><a href="#" ng-click="createInvoice('1', 'orders')"><span class="text-primary"></span> {l}Create Final invoices{endl}</a></li>
                                                        <li><a href="#" ng-click="createInvoice('2', 'orders')"><span class="text-primary"></span> {l}Create Grouped invoice{endl}</a></li>
                                                    </ul>
                                                </div>
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr class="active" ng-repeat-start="company in list">
                                            <td colspan="5"><a href="#" ui-sref="customerView({'customer_id': company.id})">{{company.customer_name}}</a></td>
                                        </tr>
                                        <tr ng-repeat-start="item2 in company.quote">
                                            <td>
                                                <a href="order/view/{{item2.id_line}}" class="color-dark">{{item2.serial}}</a>
                                            </td>
                                            <td>
                                                <a href="order/view/{{item2.id_line}}" class="color-dark">{{item2.date}}</a>
                                            </td>
                                            <td>
                                                <a href="order/view/{{item2.id_line}}" class="color-dark" ng-bind-html="item2.amount"></a>
                                            </td>
                                            <td>
                                                <a href="order/view/{{item2.id_line}}" class="color-dark" ng-bind-html="item2.amount_downpayment"></a>
                                            </td>
                                            <td class="text-center m-left">
                                                <div class="checkbox checkbox-primary">
                                                    <input type="checkbox" ng-model="item2.checked" ng-if="item2.is_project" class="ng-pristine ng-valid ng-touched" style="">
                                                    <label for="checkbox_all"></label>
                                                </div>
                                                <!-- <input type="checkbox" ng-model="item2.checked" ng-if="item2.is_project"> -->
                                            </td>
                                            <td class="table_actions">
                                                <!-- <div class="btn-group" uib-dropdown>
                                                <button type="button" class="btn btn-plain dropdown-toggle" uib-dropdown-toggle>
                                                    <span class="caret"></span>
                                                </button>
                                                <ul class="dropdown-menu dropdown-menu-right" uib-dropdown-menu>
                                                    <li><a href="#" ui-sref="order.view({'order_id': item2.id_line})"><span class="glyphicon glyphicon-info-sign text-primary"></span> {l}View{endl}</a>
                                                    </li>
                                                </ul>
                                            </div> -->
                                            </td>
                                        </tr>
                                        <tr ng-repeat-end ng-repeat="item3 in item2.project">
                                            <td colspan="3">
                                                <div class="row">
                                                    <div class="col-sm-6">{{item3.what}}</div>
                                                    <div class="col-sm-3" ng-if="item3.is_hour">
                                                        <input type="radio" value="0" ng-model="item3.custom_hour"> {l}All hours{endl}/{l}All days{endl}
                                                    </div>
                                                    <div class="col-sm-3" ng-if="item3.is_hour">
                                                        <input type="radio" value="1" ng-model="item3.custom_hour"> {l}Custome hours{endl}
                                                    </div>
                                                </div>
                                            </td>
                                            <td class="text-center"><input type="checkbox"></td>
                                            <td class="table_actions"></td>
                                        </tr>
                                        <tr ng-repeat-end ng-if="0"></tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="projects">
                        <!-- <div uib-alert type="notice" class="alert-warning" ng-if="!list.length">{l}No data to display{endl}</div> -->
                        <div class="section-content" ng-if="list.length">
                            <div class="page-header">
                                <div class="row">
                                    <div class="col-xs-12 col-sm-12">
                                        <div class="col-xs-3 col-sm-3">
                                            <h2>{l}uninvoiced projects{endl}</h2>
                                        </div>
                                        <div class="col-xs-3 col-sm-3">
                                            <h2>{l}uninvoiced hours{endl}</h2>
                                        </div>
                                        <div class="col-xs-3 col-sm-3">
                                            <h2>{l}uninvoiced days{endl}</h2>
                                        </div>
                                        <div class="col-xs-3 col-sm-3">
                                            <h2>{l}oldest project{endl}</h2>
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-12">
                                        <div class="col-xs-3 col-sm-3">
                                            <h2><b>{{number_p}}</b></h2>
                                        </div>
                                        <div class="col-xs-3 col-sm-3">
                                            <h2><b>{{amount_p}}</b></h2>
                                        </div>
                                        <div class="col-xs-3 col-sm-3">
                                            <h2><b>{{amount_days}}</b></h2>
                                        </div>
                                        <div class="col-xs-3 col-sm-3">
                                            <h2><b>{{date_p}}</b></h2>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <table class="table active_rows orderTable">
                                    <thead>
                                        <tr>
                                            <th class="col-sm-4">{l}Number{endl}</th>
                                            <th class="col-sm-2">{l}Date{endl}</th>
                                            <th class="col-sm-4">{l}Amount/Name{endl}</th>
                                            <th class="col-sm-1 text-center">
                                                <div class="checkbox checkbox-primary">
                                                    <input type="checkbox" ng-model="listObj.markAll" ng-click="checkAll(2)" class="ng-pristine ng-valid ng-touched" style="">
                                                    <label for="checkbox_all"></label>
                                                </div>
                                                <!-- <input type="checkbox" ng-model="listObj.markAll" ng-click="checkAll(2)"> -->
                                            </th>
                                            <th class="col-sm-1 table_actions">
                                                <div class="btn-group" uib-dropdown>
                                                    <button type="button" class="btn btn-tertiary dropdown-toggle" uib-dropdown-toggle>
                                                    <span class="caret"></span>
                                                </button>
                                                    <ul class="dropdown-menu dropdown-menu-right" uib-dropdown-menu>
                                                        <li><a href="#" ng-click="createInvoice('0', 'projects')"><span class="text-primary"></span> {l}Create Draft invoices{endl}</a>
                                                        </li>
                                                        <li><a href="#" ng-click="createInvoice('1', 'projects')"><span class="text-primary"></span> {l}Create Final invoices{endl}</a></li>
                                                        <li><a href="#" ng-click="createInvoice('2', 'projects')"><span class="text-primary"></span> {l}Create Grouped invoice{endl}</a></li>
                                                    </ul>
                                                </div>
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr class="active" ng-repeat-start="company in list">
                                            <td colspan="5"><a href="#" ui-sref="customerView({'customer_id': company.id})">{{company.customer_name}}</a></td>
                                        </tr>
                                        <tr ng-repeat-start="item2 in company.quote">
                                            <td>
                                                <a href="project/edit/{{item2.id_line}}" class="color-dark">{{item2.serial}}</a>
                                            </td>
                                            <td>
                                                <a href="project/edit/{{item2.id_line}}" class="color-dark">{{item2.date}}</a>
                                            </td>
                                            <td>
                                                <a href="project/edit/{{item2.id_line}}" class="color-dark" ng-bind-html="item2.amount"></a>
                                            </td>
                                            <td class="text-center m-left">
                                                <div class="checkbox checkbox-primary" ng-if="item2.is_project">
                                                    <input type="checkbox" ng-model="item2.checked" class="ng-pristine ng-valid ng-touched" style="">
                                                    <label for="checkbox_all"></label>
                                                </div>
                                                <!-- <input type="checkbox" ng-model="item2.checked" ng-if="item2.is_project"> -->
                                            </td>
                                            <td class="table_actions">
                                                <!-- <div class="btn-group" uib-dropdown>
                                                <button type="button" class="btn btn-plain dropdown-toggle" uib-dropdown-toggle>
                                                    <span class="caret"></span>
                                                </button>
                                                <ul class="dropdown-menu dropdown-menu-right" uib-dropdown-menu>
                                                    <li><a href="#" ui-sref="project.edit({'project_id': item2.id_line})"><span class="glyphicon glyphicon-info-sign text-primary"></span> {l}View{endl}</a>
                                                    </li>
                                                </ul>
                                            </div> -->
                                            </td>
                                        </tr>
                                        <tr ng-repeat-end ng-repeat="item3 in item2.project">
                                            <td colspan="3">
                                                <div class="row">
                                                    <div class="col-sm-6">{{item3.what}}</div>
                                                    <div class="col-sm-3" ng-if="item3.is_hour">
                                                        <input type="radio" value="0" ng-model="item3.custom_hour" ng-click="setDefaultHours(item3)"> {l}All hours{endl}/{l}All days{endl}
                                                    </div>
                                                    <div class="col-sm-3" ng-if="item3.is_hour">
                                                        <input type="radio" value="1" ng-model="item3.custom_hour" ng-click="setCustomHours(item3)"> {l}Custome hours{endl}
                                                    </div>
                                                </div>
                                            </td>
                                            <td class="text-center m-left">
                                                <div class="checkbox checkbox-primary">
                                                    <input type="checkbox" ng-model="item3.checked" class="ng-pristine ng-valid ng-touched" style="">
                                                    <label for="checkbox_all"></label>
                                                </div>
                                                <!--  <input type="checkbox" ng-model="item3.checked"> -->
                                            </td>
                                            <td class="table_actions"></td>
                                        </tr>
                                        <tr ng-repeat-end ng-if="0"></tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="interventions">
                        <!-- <div uib-alert type="notice" class="alert-warning" ng-if="!list.length">{l}No data to display{endl}</div> -->
                        <div class="section-content" ng-if="list.length">
                            <div class="page-header">
                                <div class="row">
                                    <div class="col-xs-12 col-sm-12">
                                        <div class="col-xs-6 col-sm-3">
                                            <h2>{l}Uninvoiced interventions{endl}</h2>
                                        </div>
                                        <div class="col-xs-6 col-sm-3">
                                            <h2>{l}Oldest intervention{endl}</h2>
                                        </div>
                                        <div class="col-sm-3"></div>
                                        <div class="col-sm-3"></div>
                                    </div>
                                    <div class="col-xs-12 col-sm-12">
                                        <div class="col-xs-6 col-sm-3">
                                            <h2><b>{{number_s}}</b></h2>
                                        </div>
                                        <div class="col-xs-6 col-sm-3">
                                            <h2><b>{{date_s}}</b></h2>
                                        </div>
                                        <div class="col-sm-3"></div>
                                        <div class="col-sm-3"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12 m-t-20">
                                <div class="row page-search">
                                    <form>
                                        <div class="col-sm-12">
                                            <div class="so-field" ng-class="{ 'so-active':search_interventions.search != '' }">
                                                <span class="glyphicon glyphicon-search so-icon"></span>
                                                <input type="text" class="form-control" placeholder="{l}Search{endl}" search-it doit="search_interventions" callbk="renderInterventions" ng-model="search_interventions.search">
                                                <span class="glyphicon glyphicon-remove so-icon so-remove" ng-click="removeSearchInterventions('search', '')"></span>
                                            </div>
                                            <!-- /.input-search -->
                                        </div>
                                    </form>
                                </div>
                                <!-- /.page-search -->
                            </div>
                            <div class="col-sm-12">
                                <table class="table active_rows orderTable">
                                    <thead>
                                        <tr>
                                            <th class="col-sm-4">{l}Number{endl}</th>
                                            <th class="col-sm-2">{l}Date{endl}</th>
                                            <th class="col-sm-4">{l}Amount/Name{endl}</th>
                                            <th class="col-sm-1 text-center">
                                                <div class="checkbox checkbox-primary">
                                                    <input type="checkbox" ng-model="listObj.markAll" ng-click="checkAll(3)" class="ng-pristine ng-valid ng-touched" style="">
                                                    <label for="checkbox_all"></label>
                                                </div>
                                                <!-- <input type="checkbox" ng-model="listObj.markAll" ng-click="checkAll(3)"> -->
                                            </th>
                                            <th class="col-sm-1 table_actions">
                                                <div class="btn-group" uib-dropdown>
                                                    <button type="button" class="btn btn-tertiary dropdown-toggle" uib-dropdown-toggle>
                                                    <span class="caret"></span>
                                                </button>
                                                    <ul class="dropdown-menu dropdown-menu-right" uib-dropdown-menu>
                                                        <li><a href="#" ng-click="createInvoice('0', 'interventions')"><span class="text-primary"></span> {l}Create Draft invoices{endl}</a>
                                                        </li>
                                                        <li><a href="#" ng-click="createInvoice('1', 'interventions')"><span class="text-primary"></span> {l}Create Final invoices{endl}</a></li>
                                                        <li><a href="#" ng-click="createInvoice('2', 'interventions')"><span class="text-primary"></span> {l}Create Grouped invoice{endl}</a></li>
                                                    </ul>
                                                </div>
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr class="active" ng-repeat-start="company in list">
                                            <td colspan="5"><a href="#" ui-sref="customerView({'customer_id': company.id})">{{company.customer_name}}</a></td>
                                        </tr>
                                        <tr ng-repeat-start="item2 in company.quote">
                                            <td>
                                                <a href="service/edit/{{item2.id_line}}" class="color-dark">{{item2.serial}}</a>
                                            </td>
                                            <td>
                                                <a href="service/edit/{{item2.id_line}}" class="color-dark">{{item2.date}}</a>
                                            </td>
                                            <td>
                                                <a href="service/edit/{{item2.id_line}}" class="color-dark" ng-bind-html="item2.amount"></a>
                                            </td>
                                            <td class="text-center m-left">
                                                <div class="checkbox checkbox-primary" ng-if="item2.is_project">
                                                    <input type="checkbox" ng-model="item2.checked" class="ng-pristine ng-valid ng-touched" style="">
                                                    <label for="checkbox_all"></label>
                                                </div>
                                                <!-- <input type="checkbox" ng-model="item2.checked" ng-if="item2.is_project"> -->
                                            </td>
                                            <td class="table_actions">
                                                <!-- <div class="btn-group"  uib-dropdown>
                                                <button type="button" class="btn btn-plain dropdown-toggle" uib-dropdown-toggle>
                                                    <span class="caret"></span>
                                                </button>
                                                <ul class="dropdown-menu dropdown-menu-right" uib-dropdown-menu>
                                                    <li><a href="#" ui-sref="service.edit({'service_id': item2.id_line})"><span class="glyphicon glyphicon-info-sign text-primary"></span> {l}View{endl}</a>
                                                    </li>
                                                </ul>
                                            </div> -->
                                            </td>
                                        </tr>
                                        <tr ng-repeat-end ng-repeat="item3 in item2.project">
                                            <td colspan="3">
                                                <div class="row">
                                                    <div class="col-sm-6">{{item3.what}}</div>
                                                    <div class="col-sm-3" ng-if="item3.is_hour">
                                                        <input type="radio" value="0" ng-model="item3.custom_hour"> {l}All hours{endl}/{l}All days{endl}
                                                    </div>
                                                    <div class="col-sm-3" ng-if="item3.is_hour">
                                                        <input type="radio" value="1" ng-model="item3.custom_hour"> {l}Custome hours{endl}
                                                    </div>
                                                </div>
                                            </td>
                                            <td class="text-center m-left">
                                                <div class="checkbox checkbox-primary">
                                                    <input type="checkbox">
                                                    <label for="checkbox_all"></label>
                                                </div>
                                                <input type="checkbox">
                                            </td>
                                            <td class="table_actions"></td>
                                        </tr>
                                        <tr ng-repeat-end ng-if="0"></tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.page-content -->
    </div>
    <!-- <pag-custom pages="pager" refresh="renderList()" doit='invoice-invoices'></pag-custom> -->
    <div class="col-sm-12">
        <div class="col-sm-8">
            <ul ng-if="max_rows && max_rows > 30" uib-pagination total-items="max_rows" ng-model="search.offset" ng-change="searchThing()" max-size="5" class="pager" boundary-links="true" items-per-page="lr"></ul>
        </div>
        <div class="col-sm-4 text-right">
            <label ng-if="max_rows">{l}Number of invoices{endl}: <strong>{{max_rows}}</strong></label>
        </div>
    </div>
</div>
<!-- neede on all pages -->
</div>