<style>
body {
	color: #000;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12pt;
}
h1 {
	font-size:14pt;
	font-weight:bold;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
.headline {
	font-size:16pt;
	font-weight:bold;
	text-align:center;
}
.right_box {
	border: 1px solid #000;
	width:240px;
}
.invoice_rows .th {
	border-bottom: 1px solid #000;
	color: #000;
	font-size: 12pt;
	font-weight: bold;
	padding-left: 10px;
	text-align: left;
}
.invoice_rows td {
	border-bottom: 1px solid #000;
	padding: 10px 10px 10px 10px;
	vertical-align:middle;
	font-size: 11pt;
}
.invoice_rows .last{
	text-align: right;
}
.hide {
	display:none;
}
.right{
   text-align:right;
}
</style>
<table cellpadding="5" cellspacing="0" border="0">
  <tr>
    <td style="width:400px;"></td>
    <td class="right_box"><h1>{seller_name}</h1>
      {seller_d_country}, {seller_d_state}, {seller_d_city}
      {seller_d_zip}, {seller_d_address} <br/></td>
  </tr>
  <tr>
    <td style="width:400px;"></td>
    <td style="width:240px;"><p></p>
      <i>{billing_address_txt}</i><br/>
      {seller_b_country}, {seller_b_state}, {seller_b_city}
      {seller_b_zip}, {seller_b_address} </td>
  </tr>
</table>
<div class="headline">{invoice_note_txt}</div>
<table cellpadding="5" cellspacing="0" border="0">
  <tr>
    <td height="30"></td>
  </tr>
  <tr>
    <td width="300"><strong>{invoice_txt}:</strong> {serial_number} <br/>
      <strong>{date_txt}:</strong> {invoice_date} <br/>
    </td>
    <td><strong>{customer_txt}:</strong> <br />
	  {buyer_name}<br/>
	  {buyer_address}<br/>
	  {buyer_zip}<br />
	  {buyer_city}<br/>
      {buyer_country}<br />       
    </td>
  </tr>
</table>
<table width="100%" cellspacing="0" cellpadding="4" border="0" class="invoice_rows">
  <tr>
    <td class="th" width="5%">&nbsp;</td>
    <td class="th" width="37%">{item_txt}</td>
    <td class="th" width="7%">{unitmeasure_txt}</td>
    <td class="th" width="12%">{quantity_txt}</td>
    <td class="th" width="14%">{unit_price_txt}</td>
	<td class="th" width="9%">{vat_txt}</td>
    <td width="15%" class="th last">{amount_txt}</td>
  </tr>
  <tbody>
    {loop:invoice_row}
    <!-- BEGIN DYNAMIC BLOCK: invoice_row -->
    <tr>
      <td>{row_nr}</td>
      <td>{row_description}</td>
      <td>{row_unitmeasure}</td>
      <td>{row_quantity}</td>
      <td>{row_unit_price} {row_currency}</td>
	  <td>{row_vat} %</td>
      <td class="last">{row_amount} {row_currency}</td>
    </tr>
    <!-- END DYNAMIC BLOCK: invoice_row -->
    {endloop}
  </tbody>
</table>
<table cellpadding="2" cellspacing="0" border="0" width="100%">
  <tr>
  <td colspan="2" height="30"></td>
  </tr>
  <!--<tr>
    <td width="80%" class="right">{subtotal_txt}</td>
    <td width="20%" class="right">{sub_total} {currency} </td>
  </tr>-->
  <tr class="{sh_discount}">
    <td width="80%" class="right">{discount_txt} ({total_discount_procent})</td>
    <td width="20%" class="right">-{discount_value} {currency}</td>
  </tr>
  <!--<tr class="{sh_vat}">
    <td class="right">{vat_txt} ({total_vat_procent})</td>
    <td class="right">{vat_value} {currency}</td>
  </tr>-->
  <tr>
    <td width="80%"  class="right">{payments_txt}:</td>
    <td width="20%"  class="right">{total_payments} {currency} </td>
  </tr>
  <tr>
    <td class="right"><strong>{amount_due_txt}:</strong></td>
    <td class="right"><strong>{total_amount_due} {currency}</strong></td>
  </tr>
</table>
<h1>{notes_txt}</h1>
</strong> <br/>
{notes} 