<style>
body { color: #000; font-family: Arial, Helvetica, sans-serif; font-size: 9pt; }
h1 { font-size:10pt; font-weight:normal; }
table { border-collapse: collapse; border-spacing: 0; }
table td{ font-size: 9pt; }
.border_bottom { border-bottom: 1px solid #CCC; }
.invoice_rows td.no_grade{ border-bottom: 1px solid #CCC; border-left: none; border-right: none; }
.invoice_rows{ border-bottom: 1px solid #CCC; }
.invoice_rows .th { border: 1px solid #ccc; color: #000; font-size: 9pt; font-weight: bold; padding-left: 10px; text-align: center; }
.invoice_rows td { border-left: 1px solid #CCC; vertical-align:middle; font-size: 9pt; text-align:right; }
.invoice_rows .last { border-right: 1px solid #CCC; }
.hide { display:none; }
.right { text-align:right; }
</style>
<table cellpadding="0" cellspacing="0" border="0" width="760"  style="border-bottom:1pt solid #CCC;">
  <tr>
    <td width="260" valign="top"><img src="{account_logo}" {attr} ></td>
    <td><table cellpadding="0" cellspacing="0" border="0">
        <tr>
          <td style="border-bottom:1pt solid #CCC; text-align:right; font-size:14pt;"><strong>{invoice_note_txt}</strong></td>
        </tr>
        <tr>
          <td height="10"></td>
        </tr>
        {if:not_proforma}<tr>
          <td style="text-align:right;">{invoice_txt} <strong>{serial_number}</strong></td>
        </tr>{end}
        <tr>
          <td style="text-align:right;">{date_txt}: {invoice_date}</td>
        </tr>
        <tr class="{hide_our}">
          <td style="text-align:right;">{our_ref_txt}: {our_ref}</td>
        </tr>
        <tr class="{hide_your}">
          <td style="text-align:right;">{your_ref_txt}: {your_ref}</td>
        </tr>
        <tr class="">
          <td style="text-align:right;">{delivery_date_txt}: {del_date}</td>
        </tr>
        <tr>
          <!--<td style="text-align:right;">{vat_txt}: {invoice_vat} %</td>-->
        </tr>
      </table></td>
  </tr>
  <tr>
    <td height="5"></td>
  </tr>
</table>
<table cellpadding="0" cellspacing="0" border="0" width="100%" style="border-bottom:1pt solid #CCC;">
  <tr>
    <td colspan="2"></td>
  </tr>
  <tr>
    <td valign="top" width="35%"><h1>{seller_name}</h1>
      {seller_b_address}<br />
      {seller_b_zip} {seller_b_city} <br />
      {seller_b_country}<br />
      {if:hide_p}{phone_txt}: {seller_b_phone}<br />{end}
      {if:hide_f}{fax_txt}: {seller_b_fax}<br />{end}
      {if:hide_e}{email_txt}: {seller_b_email}<br />{end}
      {if:hide_u}{url_txt}: {seller_b_url}<br />{end}
      {invoice_buyer_vat}
      </td>
    <td valign="top" width="35%"><h1>{buyer_name}</h1>
       {if:show_attention_of}{attention_of_txt}: {attention_of}<br />{end}
      {free_field}
      {invoice_vat_no}
    </td>
    <td valign="top" style="text-align:right;" width="30%"><h1>{billing_address_txt}:</h1>
      {del_addres}      
    </td>
  </tr>
  <tr><td colspan="2" height="18"></td></tr>
</table>
<table cellpadding="0" cellspacing="0" border="0" width="100%" class="{hide_b_d}" style="font-size: 9pt; " >
  <tr>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td width="15%" valign="top" ><h1>{bankd_txt}</h1></td>
    <td width="85%"></td>
  </tr>
  {if:bank}
  <tr>
    <td valign="top" >{bank_txt}:</td>
    <td>{bank}</td>
  </tr>
  {end}
  {if:bic}
  <tr>
    <td valign="top" >{bic_txt}:</td>
    <td>{bic}</td>
  </tr>
  {end}
  <tr>
    <td valign="top" >{iban_txt}:</td>
    <td>{iban}</td>
  </tr>
  <tr>
    <td></td>
    <td></td>
  </tr>
</table>
{if:reminder}
{reminder_table}
{else}
<table width="100%" cellspacing="0" cellpadding="5" class="invoice_rows">
  <tr>
    <td class="th" width="{item_w}%" style="text-align:left;">{item_txt}</td>
    <td class="th" width="15%">{quantity_txt}</td>
    <td class="th" width="15%">{unit_price_txt}</td>
    <td class="th {hide_row_vat}" width="15%">{vat_txt} %</td>
    <td class="th {hide_disc_line}" width="15%" >{discount_txt} %</td>
    <td width="14%" class="th last">{amount_txt}</td>
  </tr>
  <tbody>
    {loop:invoice_row}
    <!-- BEGIN DYNAMIC BLOCK: invoice_row -->
    <tr>
      {if:content}
      <td style="text-align:left;" {colspan}>{row_description}</td>
      {else}
      <td style="text-align:left;">{row_description}</td>
      <td class="right">{row_quantity}</td>
      <td class="right">{row_unit_price}</td>
      <td class="right {hide_row_vat}">{row_vat} %</td>
      <td class="right {hide_disc_line}">{row_discount}</td>
      <td class="last right">{row_amount}</td>
      {end}
    </tr>
    <!-- END DYNAMIC BLOCK: invoice_row -->
    {endloop}
  </tbody>
</table>
<table cellpadding="0" cellspacing="8" border="0" width="100%"  style="border:1px solid #CCC;">
  <tr class="{sh_vat2}">
    <td width="85%" colspan="2" class="right">{subtotal_txt}:</td>
    <td width="15%"  class="right ">{total_novat}</td></tr>
  <tr class="{sh_discount}">
    <td width="85%" colspan="2" class="right">{discount_txt} ({total_discount_procent} %): </td>
    <td width="15%" class="right">-{discount_value}</td>
  </tr>
  <tr class="{sh_discount}">
    <td width="85%" colspan="2" class="right">{net_txt}:</td>
    <td width="15%" style=" text-align: right;">{net_value}</td>
  </tr>
  {loop:vat_line}
  <tr class="{sh_vat}">
    <td width="70%"  class="right">{vat_txt} ({vat_percent} %)</td>
    <td width="15%"  class="right">{subtotal_txt}:</td>
    <td width="15%"  class="right ">{sub_value}</td>
  </tr>
  <tr class="{sh_vat}">
    <td width="70%"  class="right"></td>
    <td width="15%"  class="right">{vat_txt}:</td>
    <td width="15%"  class="right ">{vat_value}</td>
  </tr>
  {endloop}
  <tr>
    <td width="85%" colspan="2" class="right"><strong>{if:is_proforma} {amount_txt} {else} {amount_due_txt} {end}:</strong></td>
    <td width="15%" class="right"><strong style="{red_if_credit}">{total_amount_due}</strong></td>
  </tr>
  {if:is_proforma}
  <tr>
    <td width="85%" colspan="2" class="right"><strong>{amount_due_txt} ( <span>{req_payment} %</span> ):</strong></td>
    <td width="15%" class="right "><strong>{req_payment_value}</strong></td>
  </tr>
  {end}
</table>
{if:inv_type != '2'}<div style="text-align: right; font-size: 9pt;">{duedate_txt}: {invoice_due_date}</div>{end}
<br />
<h1 style="border-bottom:1px solid #CCCCCC;" class="{view_notes}">{notes_txt}</h1><br>
<span style="font-size:9pt;">{notes}</span><br/><br/>
<h1 style="border-bottom:1px solid #CCCCCC;" class="{view_notes2}">{notes2_txt}</h1><br>
<span style="font-size:9pt;">{notes2}</span>
{end}
