<style>
    body {  color: #000;  font-family: Arial, Helvetica, sans-serif;  font-size: 9pt;  }
    h1 {  font-size:10pt; font-weight:bold;  }
    table {  border-collapse: collapse; border-spacing: 0;  }
    table td {  font-size: 9pt;  }
    .hide {  display:none;  }
    .right {  text-align: right;  }
    .light_grey {  color: #6a747c;  padding: 0px;  }
    .borders {  border-top: 1px solid #000; border-bottom: 1px solid #000;  }
</style>
{if:is_table}
<br><br>
<table><tr><td width="61%">&nbsp;</td><td width="39%" style="font-size:14pt;color:#000000;font-weight:bold;">{invoice_note_txt}</td></tr></table>
<h1 style="font-size:6pt;">&nbsp;</h1>
<br><br>
<table cellpadding="3" cellspacing="0" border="0" width="100%" class="" >
    <tr>
        <td width="61%" class="light_grey" colspan="2"></td>
        <td width="39%">
    <tr>
        <td height="34">&nbsp;</td>
    </tr>
    <tr><td><h1>{buyer_name}</h1>
            {free_field}
            {if:show_comp_reg_no}{comp_reg_number_txt}: {buyer_b_reg_number}<br />{end}
        </td>
    </tr>
</td>
</tr>
<tr >
    {if:invoice_buyer_vat}
    <td class="light_grey" colspan="2" width="61%">&nbsp;</td>
    {end}
    {if:invoice_vat_no}
    <td>{vat_number_txt}: {invoice_vat_no}<br><br></td>
    {end}
</tr>
<tr>
    <td></td>
    <td></td>
    <td>{if:show_bank_details}<h1>{bankd_txt}</h1>
        {bank_txt}: {buyer_bank}<br />
        {bic_txt}: {buyer_bic}<br />
        {iban_txt}: {buyer_iban}{else}&nbsp;{end}</td>
</tr>
<tr>
    <td width="4%" class="borders" >&nbsp;</td>
    <td width="57%" class="borders" ><h1 style="font-size: 12pt;">{if:not_proforma}{invoice_txt} {serial_number}{end}</h1></td>
    <td width="39%" class="borders" >{seller_b_city}, {invoice_date} </td>
</tr>
</table>
{if:reminder}
{reminder_table}
{else}
<table width="100%" cellspacing="0" cellpadding="3" border="0" class="invoice_rows ">
    <tbody>
        <tr class="{hide_our}">
            <td width="20%"><strong>{our_ref_txt}</strong></td>
            <td colspan="5">{our_ref}</td>
        </tr>
        <tr class="{hide_your}">
            <td width="20%"><strong>{your_ref_txt}</strong></td>
            <td colspan="5">{your_ref}</td>
        </tr>
        <tr class="">
            <td width="4%">&nbsp;</td>     
            <td class="th" width="15%" style="text-align:left;font-weight:bold;">{article_code_txt}</td>
            <td class="th" width="{custom_width}%" style="text-align:left;font-weight:bold;">{item_txt}</td>
            <td class="th" width="16%" style="text-align:left;font-weight:bold;">{quantity_txt}</td> 
            <td class="th" width="10%" style="text-align:left;font-weight:bold;">{unit_price_txt}</td>
            {if:hide_row_vat}<td class="th {hide_row_vat}" width="13%" style="text-align:left;font-weight:bold;" >{vat_txt} %</td>{end}
            {if:hide_disc_line}<td class="th {hide_disc_line}" width="10%" style="text-align:left;font-weight:bold;" >{discount_txt} %</td>{end}             
            <td width="15%" class="th last" style="text-align:right;font-weight:bold;">{amount_txt}</td>
        </tr>
        {loop:invoice_row}
        <tr>
            <td >&nbsp;</td>            
            <td class="left">{article_code}</td>
            <td class="left">{row_description}</td>
            <td class="left">{row_quantity}</td>
            <td class="left">{row_unit_price}</td>
            {if:hide_row_vat}<td class="left {hide_row_vat}">{row_vat} %</td>{end}
            {if:hide_disc_line}<td class="left {hide_disc_line}">{row_discount} %</td>{end}
            <td class="last right" >{row_amount} </td>
        </tr>
        {endloop}
    </tbody>
</table>
<br />
<br />
<br />

{end}{end}
{if:reminder}{else}
{if:is_data}
<table cellpadding="3" cellspacing="0" border="0" width="100%" class="{hide_t}" >
    {if:sh_vat2}<tr class="{sh_vat2}">
        <td width="4%" >&nbsp;</td>
        <td width="81%" colspan="2" ><strong>{subtotal_txt}</strong></td>
        <td width="15%" style=" text-align: right;" > {total_novat}</td>
    </tr>
    {if:sh_discount}<tr class="{sh_discount}">
        <td width="4%">&nbsp;</td>
        <td width="81%" colspan="2" ><strong>{discount_txt} ({total_discount_procent} %)</strong></td>
        <td width="15%" style=" text-align: right;">-{discount_value}</td>
    </tr>
    <tr class="{sh_discount}">
        <td width="4%">&nbsp;</td>
        <td width="81%" colspan="2" ><strong>{net_txt}</strong></td>
        <td width="15%" style=" text-align: right;">{net_value}</td>
    </tr>{end}{end}
    {loop:vat_line}
    <!-- BEGIN DYNAMIC BLOCK: vat_line -->
    <!-- <tr class="{sh_vat}">
      <td width="4%">&nbsp;</td>
      <td width="81%"><strong>{vat_txt} ({vat_percent} %)</strong></td>
      <td width="15%" style=" text-align: right;">{vat_value} {currency}</td>
    </tr> -->
    <!-- END DYNAMIC BLOCK: vat_line -->
    {if:sh_vat}<tr class="{sh_vat}">
        <td width="4%">&nbsp;</td>
        <td width="20%"  ><strong>{vat_txt} ({vat_percent} %)</strong></td>
        <td width="61%"  ><strong>{subtotal_txt}:</strong></td>
        <td width="15%"  style=" text-align: right;">{sub_value}</td>
    </tr>
    {if:sh_discount}<tr class="{sh_vat}">
        <td width="4%"  >&nbsp;</td>
        <td width="20%"  >&nbsp;</td>
        <td width="61%"  ><strong>{discount_txt} ({total_discount_procent} %): </strong></td>
        <td width="15%"  class="right ">{disc_value}</td>
    </tr>
    <tr class="{sh_vat}">
        <td width="4%"  >&nbsp;</td>
        <td width="20%"  >&nbsp;</td>
        <td width="61%"  ><strong>{net_txt}:</strong></td>
        <td width="15%"  class="right ">{nett_value}</td>
    </tr>{end}
    <tr class="{sh_vat}">
        <td width="4%">&nbsp;</td>
        <td width="20%"  ></td>
        <td width="61%"  ><strong>{vat_txt}:</strong></td>
        <td width="15%"  style=" text-align: right;">{vat_value}</td>
    </tr>
    {if:show_due_date_vat_pdf}
    <tr class="{sh_vat}">
        <td width="4%">&nbsp;</td>
        <td colspan="3" width="96%" >{due_date_vat_txt}:&nbsp;&nbsp;&nbsp;{invoice_due_date_vat}</td>
    </tr>
    {end}{end}
    {endloop}
    {if:is_proforma}
    {if:downpayment}
      <tr>
        <td width="4%">&nbsp;</td>
        <td width="81%" colspan="2"><strong>{downpayment_txt}</strong></td>
        <td width="15%" style=" text-align: right;"><strong> -{total_downpayment}</strong></td>
      </tr>
    {end}
    <tr>
        <td width="4%">&nbsp;</td>
        <td width="81%" colspan="2"><strong>{amount_txt}</strong></td>
        <td width="15%" style=" text-align: right;"><strong> {total_amount_due}</strong></td>
    </tr>
    <tr>
        <td width="4%" class="borders">&nbsp;</td>
        <td width="81%" colspan="2" class="borders" style="font-size: 12pt;" ><strong>{amount_due_txt} ( <span>{req_payment} %</span> )</strong></td>
        <td width="15%" class="borders" style=" text-align: right;"><strong> {req_payment_value}</strong></td>
    </tr>
    {else}
    {if:downpayment}
      <tr>
        <td width="4%" class="borders">&nbsp;</td>
        <td width="81%" colspan="2" class="borders" style="font-size: 12pt;" ><strong>{downpayment_txt}</strong></td>
        <td width="15%" class="borders" style=" text-align: right;"><strong> -{total_downpayment}</strong></td>
      </tr>
    {end}
    <tr>
        <td width="4%" class="borders">&nbsp;</td>
        <td width="81%" colspan="2" class="borders" style="font-size: 12pt;" ><strong>{amount_due_txt}</strong></td>
        <td width="15%" class="borders" style=" text-align: right;"><strong style="{red_if_credit}"> {total_amount_due}</strong></td>
    </tr>
    {end}
    {if:ogm}<tr>
    <td width="4%" class="borders">&nbsp;</td>
    <td width="81%" colspan="2" class="borders" >{ogm_txt}:</td>
    <td width="15%" class="borders" style=" text-align: right;">{ogm}</td>
  </tr>{end}
    <!-- {if:default_total}
    <tr>
      <td width="4%" class="borders">&nbsp;</td>
      <td width="81%"  class="borders" style="font-size: 12pt;"><strong>{amount_due_txt} ({def_currency})</strong></td>
      <td width="15%" class="borders" style=" text-align: right;"><strong>{total_amount_due_default}</strong></td>
    </tr>
    {end} -->
    {if:inv_type != '2'}<tr  class="{sh_edit}">
        <td width="4%" >&nbsp;</td>
        <td width="96%" colspan="3" >{duedate_txt} {invoice_due_date}</td>
    </tr>{end}
</table>
<br />
{end}
{end}
{if:is_table}
<div class="{view_notes}">
    <br />
    <h1 style="border-bottom:1px solid #CCCCCC;" class=" ">{notes_txt}</h1>
    <br />
    <span style="font-size:9pt;" class="">{notes}</span>
    <br/>
    <br/>
</div>
<div class="{view_notes2}">
    <br pagebreak="true"/>
    <h1 style="border-bottom:1px solid #CCCCCC;" class=" ">{notes2_txt}</h1>
    <br>
    <span style="font-size:9pt;" class="">{notes2}</span>
</div>
{end}