<style>
body { color: #000; font-family: Arial, Helvetica, sans-serif; font-size: 7pt; }
h1 { font-size:10pt; font-weight:normal; }
table { border-collapse: collapse; border-spacing: 0; }
table td{ font-size: 7pt; }
.border_bottom { border-bottom: 1px solid #CCC; }
.invoice_facdate td.no_grade{ border-bottom: 1px solid #CCC; border-left: none; border-right: none; }
.invoice_facdate{ border-bottom: none;}
.invoice_facdate .th { border: none; color: #000; font-size: 7pt; font-weight: bold;padding-left: 10px; text-align: center; }
.invoice_facdate td { border-left: none; vertical-align:middle; font-size: 7pt; text-align:right; }
.invoice_facdate .last { border-right: 1px solid #CCC; }

.invoice_desc td.no_grade{ border-bottom: 1px solid #CCC; border-left: none; border-right: none; }
.invoice_desc{ border-bottom: none;  }
.invoice_desc .th { border: none; color: #000; font-size: 7pt; font-weight: bold;padding-left: 10px; text-align: center; }
.invoice_desc td { border-left: none; vertical-align:middle; font-size: 7pt; text-align:right; }
.invoice_desc .last { border-right: 1px solid #CCC; }

.invoice_amount td.no_grade{ border-bottom: 1px solid #CCC; border-left: none; border-right: none; }
/*.invoice_amount  border-bottom: 1px solid #CCC; }*/
.invoice_amount .th { border: 1px solid #ccc; color: #000; font-size: 7pt;padding-left: 10px; text-align: center; }
.invoice_amount td { border-left: none; vertical-align:middle; font-size: 7pt; text-align:right; }
.invoice_amount .last { border-right: 1px solid #CCC; }

span{color:#92bb00;font-size:5pt; }


.invoice_rows td.no_grade{ border-bottom: 1px solid #CCC; border-left: none; border-right: none; }
/*.invoice_rows{ border-bottom: 1px solid #CCC; }*/
.invoice_rows .th { border: 1px solid #ccc; color: #000; font-size: 7pt;padding-left: 10px; text-align: center; }
.invoice_rows td { border-left: 1px solid #CCC;border-bottom: 1px solid #CCC; vertical-align:middle; font-size: 7pt; text-align:right; }
.invoice_rows .last { border-right: 1px solid #CCC; }
.hide { display:none; }
.right { text-align:right; }
.article_code_txt { border:none; padding:0;margin:0; }
.article_code_txt td {  }
.bold { font-weight: bold; }
</style>
 &nbsp;<br/>
    &nbsp;<br/>
    &nbsp;<br/>
    &nbsp;<br/>
    &nbsp;<br/>
<table cellpadding="0" cellspacing="0" border="0" width="100%" >
  <tr>
    <td width="260" valign="top"><img src="{account_logo}" {attr} ></td>
    <td  valign="top" style="font-size:14pt; text-align:center;"><strong>{invoice_note_txt}</strong></td>
  </tr>
  <tr>
    <td height="5"></td>
  </tr>
</table>
&nbsp;<br/>
&nbsp;<br/>
<table cellpadding="0" cellspacing="0" border="0" width="100%">
  <tr>
    <td colspan="2"></td>
  </tr>
   <tr><td colspan="2" height="18"></td></tr>
</table>


{reminder_table}

          &nbsp;<br/>
          &nbsp;<br/>
          &nbsp;<br/>
          &nbsp;<br/>
          &nbsp;<br/>
          &nbsp;<br/>
<table >
  <tbody>
    <tr>
        <td  width="100%" >
          <img src="../upload/salesassist_2/custom_pdf/wlogo.jpg" height="20">
          Wink textieldruk, bedrukken & borduren,banners & spandoeken, werfborden, promomateriaal en ontwerp Cyriel Buyssestraat 14
          <span >&#9632;</span> 9850 Nevele
          <span >&#9632;</span> GSM +32 488 14 50 15
          <span >&#9632;</span> e-mail: info@wink-print.be
          <span >&#9632;</span> www.wink-print.be
          <span >&#9632;</span> ING BE97 3900 6934 4749
          <span >&#9632;</span> BIC BBRU BE BB
          <span >&#9632;</span> BE0820.113.620
          <span >&#9632;</span> Algemene verkoopsvoorwaarden zie keerzijde
        </td>
    </tr>
  </tbody>
</table>
