<style>
body {  color: #000;  font-family: Arial, Helvetica, sans-serif;  font-size: 12pt; font-weight: bold; }
h1 {  font-size:10pt; font-weight:bold;  }
table {  border-collapse: collapse; border-spacing: 0;  }
table td {  font-size: 13pt;  }
.hide {  display:none;  }
.right {  text-align: right;  }
.light_grey {  color: #6a747c;  padding: 0px;  }
.borders {  border-top: 1px solid #000; border-bottom: 1px solid #000;  }
</style>
{if:is_table}
  <br><br><br><br>
  <table cellpadding="3" cellspacing="0" border="1" colspan="3"  width="100%" class="{hide_all}" >
    <tr>
      <td width="56%" >
      </td>
      <td width="28%" height="127" style="text-align:right">
        <table>
          <tbody>
            <tr>
              <td style="text-align:center;">
                <span style="font-size:10pt;color:#000;font-weight:bold;">{buyer_name}</span>
                <span style="color:#4f5053;font-size:10pt;">{free_field}
{invoice_vat_no}</span>
              </td>
            </tr>
          </tbody>
        </table>
      </td>
      <td width="16%"></td>
    </tr>
  </table>
  <table width="100%" cellspacing="0" cellpadding="3" border="1"  colspan="8" class="invoice_rows {hide_all}">
    <br />
    <br />
    <tr>
      <td width="14%"></td>
      <td width="78%" colspan="8" style="font-size: 26pt;letter-spacing:-1.5pt;color:#afafb4;text-align:right;">{if:not_proforma}{invoice_txt} {end}</td>
      <td width="8%"></td>
    </tr>
    <tr>
      <td width="14%"></td>
      <td width="78%" colspan="8" style="font-size: 20pt;color:#afafb4;text-align:right;";>{if:not_proforma}{serial_number}{end} </td>
      <td width="8%"></td>
    </tr>
    &nbsp;
    {if:inv_type != '2'}
    <tr >
      <td width="14%" ></td>
      <td width="78%" colspan="8" style="text-align:right;font-size: 10pt;"  >{invoice_date}</td>
      <td width="8%"></td>
    </tr>
    {end}
    &nbsp;
    {if:hide_our}{else}
    <tr class="{hide_all}" >
      <td width="14%"></td>
      <td width="40%" ><span style="font-size: 9pt;">{our_ref_txt}</span></td>
      <td width="38%" colspan="7" style="text-align:right;font-size: 9pt;" >{our_ref}</td>
      <td width="8%"></td>
    </tr>
    {end}
    {if:hide_your}{else}
    <tr class="{hide_all}" >
      <td width="14%"></td>
      <td width="40%" ><span style="font-size: 9pt;">{your_ref_txt}</span></td>
      <td width="38%" colspan="7" style="text-align:right;font-size: 9pt;">{your_ref}</td>
      <td width="8%"></td>
    </tr>
    {end}
  </table>
  &nbsp;<br/>
   {reminder_table}
{end}

