<style>
body {  color: #000;  font-family: Arial, Helvetica, sans-serif;  font-size: 9pt;  }
h1 {  font-size:10pt; font-weight:bold;  }
table {  border-collapse: collapse; border-spacing: 0;  }
table td {  font-size: 9pt;  }
.hide {  display:none;  }
.right {  text-align: right;  }
.light_grey {  color: #6a747c;  padding: 0px;  }
.borders {  border-top: 1px solid #000; border-bottom: 1px solid #000;  }
</style>
{if:is_table}
<table cellpadding="3" cellspacing="0" border="0" width="100%" class="{hide_all}" >
  <tr>
    <td width="61%" class="light_grey" colspan="2"><h1>{seller_name}</h1>
      {seller_b_address}<br />
      {seller_b_zip} {seller_b_city} <br />
      {seller_b_country}<br />
      {if:hide_p}{phone_txt}: {seller_b_phone}<br />{end}
      {if:hide_f}{fax_txt}: {seller_b_fax}<br />{end}
      {if:hide_e}{email_txt}: {seller_b_email}<br />{end}
      {if:hide_u}{url_txt}: {seller_b_url}<br />{end}</td>
    <td width="39%">
      <h1 >{buyer_name}</h1>
      {free_field}
      </td>
  </tr>
  <tr class="{hide_b_d} light_grey" >
    <td colspan="2">{bank_txt}: {bank}<br />
        {bic_txt}: {bic}<br />
        {iban_txt}: {iban}<br />
    </td>
    <td>&nbsp;</td>
  </tr>
  <tr >
  {if:invoice_buyer_vat}
    <td class="light_grey" colspan="2" width="61%">{vat_number_txt}: {invoice_buyer_vat}<br />
      <br /></td>
  {end}
  {if:invoice_vat_no}
    <td>{vat_number_txt}: {invoice_vat_no}</td>
  {end}
  </tr>
  <tr>
    <!-- <td width="4%" class="borders" >&nbsp;</td> -->
    <td width="61%" class="borders" colspan="2"><h1 style="font-size: 12pt;">{if:not_proforma}{invoice_txt} {serial_number}{end}</h1></td>
    <td width="39%" class="borders" >{seller_b_city}, {invoice_date} </td>
  </tr>
</table>
{if:reminder}
  {reminder_table}
{else}
<table width="100%" cellspacing="0" cellpadding="3" border="0" class="invoice_rows {hide_all}">
  <tbody>
    <tr class="{hide_our}">
      <!-- <td width="4%">&nbsp;</td> -->
      <td width="20%"><strong>{our_ref_txt}</strong></td>
      <td colspan="6">{our_ref}</td>
    </tr>
    <tr class="{hide_your}">
      <!-- <td width="4%">&nbsp;</td> -->
      <td width="20%"><strong>{your_ref_txt}</strong></td>
      <td colspan="6">{your_ref}</td>
    </tr>
    <tr><td colspan="7">&nbsp;</td></tr>
    {loop:invoice_row}
    <tr>
      <!-- <td width="4%">&nbsp;</td> -->
         {if:content}
      <td width="100%"  {colspan}>{row_description}</td>
      {else}


      <td width="{if_disc_line2}%" >{row_description}</td>
      <td width="6%" class="right">{row_quantity}</td>
      <td width="10%" class="right">{row_unit_price}</td>
      {if:hide_row_vat}<td width="10%" class="right {hide_row_vat}">{row_vat} %</td>{end}
      {if:hide_disc_line}<td width="10%" class="right {hide_disc_line}">{row_discount} %</td>{end}
      <td width="15%" class="last right" >{row_amount} </td>
      {end}
    </tr>
    {endloop}
  </tbody>
</table>
<br /><br />
<table cellpadding="3" cellspacing="0" border="0" width="100%" class="{hide_t}" >
  <tr class="{sh_vat2}">
     <!-- <td width="4%" >&nbsp;</td> -->
    <td width="85%" colspan="2" ><strong>{subtotal_txt}</strong></td>
    <td width="15%" style=" text-align: right;" > {total_novat}</td>
  </tr>
  {if:sh_discount}<tr class="{sh_discount}">
    <!-- <td width="4%">&nbsp;</td> -->
    <td width="85%" colspan="2" ><strong>{discount_txt} ({total_discount_procent} %)</strong></td>
    <td width="15%" style=" text-align: right;"> -{discount_value}</td>
  </tr>
  <tr class="{sh_discount}">
    <td width="85%" colspan="2" ><strong>{net_txt}</strong></td>
    <td width="15%" style=" text-align: right;">{net_value}</td>
  </tr>{end}
  {loop:vat_line}
   <tr class="{sh_vat}">
    <!-- <td width="4%">&nbsp;</td> -->
    <td width="85%"><strong>{vat_txt}({vat_percent} %)</strong></td>
    <td width="15%" style=" text-align: right;"> {vat_value}</td>
  </tr>
  {if:sh_discount}<tr class="{sh_vat}">
    <td width="20%" ><strong>{vat_txt} ({vat_percent} %)</strong></td>
    <td width="65%" ><strong>{subtotal_txt}:</strong></td>
    <td width="15%"  class="right ">{sub_value}</td>
  </tr>
  <tr class="{sh_vat}">
    <td width="20%" ></td>
    <td width="65%" ><strong>{vat_txt}:</strong></td>
    <td width="15%"  class="right ">{vat_value}</td>
  </tr>{end}
  {endloop}
  {if:is_proforma}
    {if:downpayment}
    <tr>
      <!-- <td width="4%">&nbsp;</td> -->
      <td width="85%" colspan="2"><strong>{downpayment_txt}</strong></td>
      <td width="15%" style=" text-align: right;"><strong> -{total_downpayment}</strong></td>
    </tr>
    {end}
    <tr>
      <!-- <td width="4%">&nbsp;</td> -->
      <td width="85%" colspan="2"><strong>{amount_txt}</strong></td>
      <td width="15%" style=" text-align: right;"><strong> {total_amount_due}</strong></td>
    </tr>
    <tr>
      <!-- <td width="4%" class="borders">&nbsp;</td> -->
      <td width="85%" colspan="2" class="borders" style="font-size: 12pt;" ><strong>{amount_due_txt} ( <span>{req_payment} %</span> )</strong></td>
      <td width="15%" class="borders" style=" text-align: right;"><strong> {req_payment_value}</strong></td>
    </tr>
  {else}
  {if:downpayment}
    <tr>
      <!-- <td width="4%">&nbsp;</td> -->
      <td width="85%" colspan="2" class="borders" style="font-size: 12pt;" ><strong>{downpayment_txt}</strong></td>
      <td width="15%" class="borders" style=" text-align: right;"><strong style="{red_if_credit}"> -{total_downpayment}</strong></td>
    </tr>
  {end}
  <tr>
    <!-- <td width="4%" class="borders">&nbsp;</td> -->
    <td width="85%" colspan="2" class="borders" style="font-size: 12pt;" ><strong>{amount_due_txt}</strong></td>
    <td width="15%" class="borders" style=" text-align: right;"><strong style="{red_if_credit}"> {total_amount_due}</strong></td>
  </tr>
  {end}
  {if:ogm}<tr>
    <td width="85%" colspan="2" class="borders">{ogm_txt}:</td>
    <td width="15%" class="borders " style="text-align: right;">{ogm}</td>
  </tr>{end}
  <!-- {if:default_total}
  <tr>
    <td width="4%" class="borders">&nbsp;</td>
    <td width="81%"  class="borders" style="font-size: 12pt;"><strong>{amount_due_txt} ({def_currency})</strong></td>
    <td width="15%" class="borders" style=" text-align: right;"><strong>{total_amount_due_default}</strong></td>
  </tr>
  {end} -->
  {if:inv_type != '2'}<tr>
    <!-- <td width="4%" >&nbsp;</td> -->
    <td width="100%" colspan="3" >{duedate_txt} {invoice_due_date}</td>
  </tr>{end}
</table>
<!-- <span class="{view_notes} {hide_all}" ><br/><br/></span> -->
{if:notes_txt}<h1 style="border-bottom:1px solid #CCCCCC;" class="{view_notes} {hide_all}">{notes_txt}</h1>
<span class="{view_notes} {hide_all}" ><br/></span>{end}
<span style="font-size:9pt;" class="{hide_all}">{notes}</span>
<!-- <span class="{view_notes2} {hide_all}" ><br/><br/></span> -->
{if:notes2_txt}<h1 style="border-bottom:1px solid #CCCCCC;" class="{view_notes2} {hide_all}">{notes2_txt}</h1>
<span class="{view_notes2} {hide_all}" ><br/></span>{end}
{if:notes2}<span style="font-size:9pt;" class="{hide_all}">{notes2}</span>{end}
{end} <!--end: if: -->
{end} <!--end if:is_table-->
