<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="cancel()"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title">{l}Record Payment{endl}</h4>
</div>
<div class="modal-body delivery_modal">
  <div class="loading_wrap loading_alt hidden">
      <div class="loading"></div>
      <div class="spinner"></div>
  </div>
  <div uib-alert ng-repeat="alert in alerts" type="{{alert.type}}" close="alerts.splice($index, 1);" ng-class="['alert-' + (alert.type || 'warning') ]">{{alert.msg}}</div>
  <form class="form-horizontal"  >

    <div class="form-group">
      <label class="col-xs-3 control-label text-left"><b>{l}Payment Date{endl}:</b></label>
      <div class="col-xs-5">
        <div class="input-group input-group-sm">
          <input type="text" class="form-control" ng-model="pay.payment_date" uib-datepicker-popup="{{format}}" is-open="datePickOpen.payment_date" datepicker-options="dateOptions" ng-required="true" close-text="Close" placeholder="{l}dd/MM/yyyy{endl}" show-button-bar="false" ng-click="(pay.payment_method != '14' ? datePickOpen.payment_date=true : false)" ng-disabled="pay.payment_method == '14'" /><span class="input-group-btn"><button type="button" class="btn btn-default" ng-click="(pay.payment_method != '14' ? openDate('payment_date') : false)" ng-disabled="pay.payment_method == '14'"><span class="glyphicon glyphicon-calendar"></span></button></span>
        </div>
      </div>
    </div>
    <div class="form-group">
      <label class="col-xs-3 control-label text-left"><b>{l}Amount{endl}({{currency}})</b></label>
      <div class="col-xs-5">
        <input type="text" class="form-control" ng-model="pay.amount" display-nr="" ng-disabled="pay.payment_method == '14'">
      </div>
    </div>
    <div class="form-group">
      <label class="col-xs-3 control-label text-left"><b>{l}Cost{endl}:</b></label>
      <div class="col-xs-5">
        <input type="text" class="form-control" ng-model="pay.cost" display-nr="">
      </div>
    </div>
    <div class="form-group">
      <label class="col-xs-3 control-label text-left"><b>{l}Payment Method{endl}</b></label>
      <div class="col-xs-9">
        <select class="form-control" ng-model="pay.payment_method">
            <option ng-repeat="option in pay.payment_method_dd track by option.id" value="{{option.id}}" ng-bind-html="option.name"></option>
        </select>
      </div>
    </div>
    <div class="form-group" ng-if="pay.payment_method == '14'">
      <label class="col-xs-3 control-label text-left">{l}Credit invoice{endl}</label>
      <div class="col-xs-9">
        <selectize config='ciCfg' options='pay.c_invoices' ng-model="pay.c_invoice_id" ></selectize>
      </div>
    </div>
    <div class="form-group">
      <label class="col-xs-3 control-label text-left"><b>{l}Notes{endl}:</b></label>
      <div class="col-xs-9">
        <textarea ng-model="pay.notes" class="form-control" rows="5" ng-disabled="disableAddress"></textarea>
      </div>
    </div>
    <div class="form-group">
      <label class="col-xs-3 control-label text-left"><b>{l}Will not be paid{endl}:</b></label>
      <div class="col-xs-5">
        <input type="checkbox" ng-model="pay.not_paid" 
        ng-checked="{{pay.not_paid == true}}"
        ng-click="checkbox()">
      </div>
    </div>
  </form>
</div>
<div class="modal-footer">
    <button class="btn btn-plain" type="button" ng-click="cancel()">{l}Close{endl}</button>
    <button class="btn btn-default" type="button" ng-disabled="pay.not_paid || (pay.payment_method == '14' && !pay.c_invoice_id)"
      ng-class="{'disable-record-payment-button':(pay.not_paid == true)}" 
    ng-click="ok()">{l}Save{endl}</button>
</div>