<div class="modal-header">
  	<button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="editPay.cancel()"><span aria-hidden="true">&times;</span></button>
  	<h4 class="modal-title">{l}Record Payment{endl}</h4>
</div>
<div class="modal-body">
	<div class="col-sm-12 col-bottom col-top">
      <form class="form-horizontal text-left" name="payment_form" no-validate=''>
            <div class="form-group" ng-class="{ 'form-group_alert' : payment_form.payment_date.$invalid && !payment_form.payment_date.$pristine }">
                <label class="col-sm-3 control-label"><strong>{l}Payment Date{endl}</strong></label>
                <div class="col-sm-4">
                    <div class="so-field">
                        <span class="glyphicon glyphicon-calendar so-icon" ng-click="editPay.datePickOpen.payment_date=true"></span>
                        <input type="text" class="form-control" ng-model="editPay.obj.payment_date" uib-datepicker-popup="{{editPay.format}}" is-open="editPay.datePickOpen.payment_date" datepicker-options="editPay.dateOptions" close-text="Close" placeholder="{l}Sent date{endl}" show-button-bar="false" ng-click="editPay.datePickOpen.payment_date=true" name="payment_date" required />
                        <span class="glyphicon glyphicon-remove so-icon so-remove"></span>
                    </div>
                    <div class="alert alert-sm alert-danger" ng-if="payment_form.payment_date.$invalid && editPay.alertsField.payment_date">{{editPay.alertsField.payment_date}}</div>
                </div>
            </div>
          <div class="form-group" ng-class="{ 'form-group_alert' : payment_form.total_amount_due1.$dirty && !payment_form.total_amount_due1.$pristine }">
                <label class="col-sm-3 control-label"><strong>{l}Amount{endl}</strong></label>
                <div class="col-sm-4">
                    <input display-nr="" type="text" class="form-control" name="amount" ng-model="editPay.obj.total_amount_due1" required>
                    <div class="alert alert-sm alert-danger" ng-if="editPay.alertsField.amount">{{editPay.alertsField.amount}}</div>
                </div>
          </div>
          <div class="form-group">
                <label class="col-sm-3 control-label">{l}Cost{endl}</label>
                <div class="col-sm-4">
                    <input display-nr="" type="text" class="form-control" name="cost" ng-model="editPay.obj.cost">
                </div>
          </div>
          <div class="form-group">
            <label class="col-sm-3 control-label">{l}Payment Method{endl}</label>
            <div class="col-sm-9">
              <select class="form-control" ng-model="editPay.obj.payment_method">
                  <option ng-repeat="option in editPay.obj.payment_method_dd track by option.id" value="{{option.id}}" ng-bind-html="option.name"></option>
              </select>
            </div>
          </div>
          <div class="form-group">
                <label class="col-sm-3 control-label">{l}Notes{endl}</label>
                <div class="col-sm-9">
                    <textarea class="form-control" name="notes" ng-model="editPay.obj.notes" rows="4"></textarea>
                </div>
          </div>
          <div class="form-group">
                <div class="col-sm-9 col-sm-offset-3 checkbox record_payment">
                    <label> &nbsp;<input type="checkbox" name="not_paid" ng-model="editPay.obj.not_paid" value="{{editPay.obj.check_not_paid}}" ng-checked="{{editPay.obj.not_paid == true}}"
                    ng-click="editPay.checkbox(payment_form)"
                    ><span>{l}Will not be paid{endl}</span></label>
                </div>
          </div>
      </form>
    </div>
</div>
<div class="modal-footer">
      <button class="btn btn-plain" type="button" ng-click="editPay.cancel()">{l}Cancel{endl}</button>
    	<button class="btn btn-default" type="button" ng-disabled="editPay.obj.not_paid"
      ng-class="{'disable-record-payment-button':(editPay.obj.not_paid == true)}" 
      ng-click="editPay.ok(payment_form)">{l}Save{endl}</button>
</div>