<div class="modal-header">
  	<h4 class="modal-title">{l}Payments Load{endl}</h4>
</div>
<div class="modal-body">
    <div class="progress">     	
	  <div class="progress-bar" role="progressbar" aria-valuenow="{{pay.value}}" aria-valuemin="0" aria-valuemax="100" style="width: {{pay.value}}%;">{{pay.value}}%</div>
	</div>
	<div uib-alert type="info" class="alert-info col-sm-12"><strong>{l}If you close this dialog then errors will appear while importing data{endl}</strong>.</div>
	<div class="col-sm-12" uib-alert ng-repeat="alert in pay.alerts" type="{{alert.type}}" close="pay.alerts.splice($index, 1);" ng-class="['alert-' + (alert.type || 'warning') ]">{{alert.msg}}</div>	
</div>