<div class="container">
    <div class="tabs-navigation">
        <div class="tab-content">
            <div class="tab-pane active">

                <ul class="nav nav-tabs tabs-default" role="tablist">
                    <li role="presentation" class="active" ng-click="hideFetch()"><a href="#payments" aria-controls="payments" role="tab" data-toggle="tab">&nbsp; {l}Payments{endl}</a></li>
                    <li role="presentation" ng-if="codabox_active" ng-click="getCodaboxPayments()"><a href="#codabox_payments" class="history" aria-controls="codabox_payments" role="tab" data-toggle="tab">&nbsp; {l}Codabox payments{endl}</a></li>
                    <li class="pull-right-fetch" ng-if="feeds.length && codabox_active">
                        <button class="btn btn-default btn-fetch" ng-disabled="fetchDisabled" type="button" ng-click="getData()">{l}Fetch payments{endl}</button>
                    </li>
                </ul>

                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane fade in active" id="payments">
                        <!-- <div class="row">
          <div class="col-sm-2 pull-right">
            <div class="btn-group btn-block">
              <selectize placeholder="{l}All Statuses{endl}" config='filterCfg' options='views' ng-model="activeView" ></selectize>
            </div>
          </div>
       </div> -->

                        <div class="row page-search page-search-options margin-top">
                            <form>
                                <div class="col-sm-12">
                                    <div class="row">
                                        <div class="col-sm-6 col-md-6">
                                            <div class="so-field" ng-class="{ 'so-active':search.search != '' }">
                                                <span class="glyphicon glyphicon-search so-icon"></span>
                                                <input type="text" class="form-control" placeholder="{l}Search{endl}" search-it doit="search" callbk="renderList" ng-model="search.search">
                                                <span class="glyphicon glyphicon-remove so-icon so-remove" ng-click="toggleSearchButtons('search', '')"></span>
                                            </div>
                                            <!-- /.input-search -->
                                        </div>
                                        <div class="col-sm-2">
                                            <div class="btn-group btn-block">
                                                <selectize config='filterPaymentCfg' options='payments.payment_methods' ng-model="search.payment_method_id" id="payment_methods_list"></selectize>
                                            </div>
                                        </div>
                                        <div class="col-sm-2 col-md-2">
                                            <div class="so-field" ng-class="{ 'so-active':search.start_date_js != undefined }">
                                                <span class="glyphicon glyphicon-calendar so-icon" ng-click="openDate('start_date')"></span>
                                                <input type="text" class="form-control" ng-model="search.start_date_js" uib-datepicker-popup="{{format}}" is-open="datePickOpen.start_date" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" close-text="Close" placeholder="{l}Start Date{endl}"
                                                    show-button-bar="false" ng-click="datePickOpen.start_date = true" ng-change="searchThing()">
                                                <span class="glyphicon glyphicon-remove so-icon so-remove" ng-click="toggleSearchButtons('start_date_js', undefined)"></span>
                                            </div>
                                            <!-- /.input-date -->
                                        </div>
                                        <div class="col-sm-2 col-md-2">
                                            <div class="so-field" ng-class="{ 'so-active':search.stop_date_js != undefined }">
                                                <span class="glyphicon glyphicon-calendar so-icon" ng-click="openDate('stop_date')"></span>
                                                <input type="text" class="form-control" ng-model="search.stop_date_js" uib-datepicker-popup="{{format}}" is-open="datePickOpen.stop_date" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" close-text="Close" placeholder="{l}End Date{endl}"
                                                    show-button-bar="false" ng-click="datePickOpen.stop_date = true" ng-change="searchThing()">
                                                <span class="glyphicon glyphicon-remove so-icon so-remove" ng-click="toggleSearchButtons('stop_date_js', undefined)"></span>
                                            </div>
                                            <!-- /.input-date -->
                                        </div>
                                    </div>
                                </div>
                                <div class="page-search-button">
                                    <div class="btn-group" uib-dropdown ng-if="show_settings.is_admin_invoice">
                                            <button type="button" class="btn btn-tertiary dropdown-toggle" uib-dropdown-toggle><span class="caret"></span></button>
                                            <ul class="dropdown-menu dropdown-menu-right" uib-dropdown-menu>
                                                <li>
                                                    <!-- <a href="#" ng-click="openModal('progress_invoice','','md')"><span class="glyphicon fas fa-upload text-primary"></span> {l}Export{endl}</a> -->
                                                    <a href="#" ng-click="exportPayments()"><span class="glyphicon fas fa-upload text-primary"></span> {l}Export{endl}</a>
                                                </li>
                                            </ul>
                                        </div>
                                </div>
                            </form>
                        </div>
                        <!-- /.page-search -->
                        <!-- <div uib-alert type="notice" class="alert-warning" ng-if="!payments.list.length">{l}No data to display{endl}</div> -->
                        <table class="table orderTable" ng-if="payments.list.length">
                            <thead>
                                <tr ng-if="payments.list.length">
                                    <th class="col-sm-1">{l}Date{endl}</th>
                                    <th class="col-sm-2">{l}Amount{endl}</th>
                                    <th class="col-sm-2">{l}Payment Method{endl}</th>
                                    <th class="col-sm-2">{l}Invoice{endl}</th>
                                    <th class="col-sm-5">{l}Buyer Name{endl}</th>
                                    <!-- <th class="col-sm-1 col-select" >
                  <div class="checkbox checkbox-primary">
                  <input type="checkbox" ng-model="payments.listObj.check_add_all" ng-click="saveForXls()">
                  <label for="checkbox_all"></label>
                  </div>  
                </th> -->
                                    <th class="col-sm-1 table_actions">
                                        <!-- <div class="btn-group" uib-dropdown ng-if="show_settings.is_admin_invoice">
                                            <button type="button" class="btn btn-tertiary dropdown-toggle" uib-dropdown-toggle><span class="caret"></span></button>
                                            <ul class="dropdown-menu dropdown-menu-right" uib-dropdown-menu>
                                                <li> -->
                                                    <!-- <a href="#" ng-click="openModal('progress_invoice','','md')"><span class="glyphicon fas fa-upload text-primary"></span> {l}Export{endl}</a> -->
                                                   <!--  <a href="#" ng-click="exportPayments()"><span class="glyphicon fas fa-upload text-primary"></span> {l}Export{endl}</a>
                                                </li>
                                            </ul>
                                        </div> -->
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="item in payments.list">
                                    <td class="text-muted ">
                                        <span>{{item.date}}</span>
                                    </td>
                                    <td class="text-muted"><span ng-bind-html="item.amount_currency"></span></td>
                                    <td class="text-muted">{{item.payment_method_name}}</td>
                                    <td class="text-muted">{{item.serial_number}}</td>
                                    <td class="text-muted">{{item.buyer_name}}</td>
                                    <!-- <td class="text-muted col-select">
                  <div class="checkbox checkbox-primary">
                  <input type="checkbox" ng-model="item.check_add_to_product" ng-click="saveForXls(item)">
                  <label for="checkbox_all"></label>
                </div>  
              </td> -->
                                    <td class="table_actions"></td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="col-sm-12">
                            <div class="col-sm-8">
                                <ul ng-if="payments.max_rows > 30" uib-pagination total-items="payments.max_rows" ng-model="search.offset" ng-change="searchThing()" max-size="5" class="pager" boundary-links="true" items-per-page="payments.lr"></ul>
                            </div>
                            <div class="col-sm-4 text-right">
                                <label>{l}Number of invoice payments{endl}: <strong>{{payments.max_rows}}</strong></label>
                            </div>
                        </div>
                    </div>

                    <div role="tabpanel" class="tab-pane fade" id="codabox_payments" ng-if="codabox_active">
                        <div uib-alert ng-repeat="alert in alerts" type="{{alert.type}}" close="alerts.splice($index, 1);" ng-class="['alert-' + (alert.type || 'warning'), 'alert-fixed' ]" dismiss-on-timeout='5000'>{{alert.msg}}</div>
                        <div class="row page-search margin-top">
                            <form>
                                <div class="col-sm-9 ">
                                    <div class="so-field" ng-class="{ 'so-active':search.search!='' }">
                                        <span class="glyphicon glyphicon-search so-icon"></span>
                                        <input type="text" class="form-control" placeholder="{l}Search{endl}" search-it doit="search" callbk="renderList" ng-model="search.search">
                                        <span class="glyphicon glyphicon-remove so-icon so-remove" ng-click="toggleSearchButtons('search','')"></span>
                                    </div>
                                    <!--  <h1>
                  <button class="btn btn-default pull-right" ng-if="feeds.length" ng-disabled="fetchDisabled" type="button" ng-click="getData()">{l}Fetch payments{endl}</button> 
                </h1> -->
                                </div>
                                <div class="col-sm-3 pull-right">
                                    <div class="btn-group btn-block">
                                        <selectize placeholder="{l}All Statuses{endl}" config='filterCfg' options='views_codabox' ng-model="activeView"></selectize>
                                    </div>
                                </div>
                            </form>
                        </div>

                        <!-- <div uib-alert type="notice" class="alert-warning" ng-if="!list.length">{l}No data to display{endl}</div> -->
                        <table class="table orderTable" ng-if="list.length">
                            <tbody>
                                <tr class="versionInfo ">
                                    <td colspan="8" class="no_border">
                                        <table class="table">
                                            <thead>
                                                <tr>
                                                    <th>
                                                        <div class="row">
                                                            <div class="col-sm-1 sortable_row" ng-class="{ 'sortable_row-up':(!reverse && ord == 'date') , 'sortable_row-down':(reverse && ord == 'date') }" ng-click="orderBY('date','')">{l}Date{endl}</div>
                                                            <div class="col-sm-1 text-center sortable_row" ng-class="{ 'sortable_row-up':(!reverse && ord == 'amount') , 'sortable_row-down':(reverse && ord == 'amount') }" ng-click="orderBY('amount','')">{l}Amount{endl}</div>
                                                            <div class="col-sm-2 sortable_row" ng-class="{ 'sortable_row-up':(!reverse && ord == 'name') , 'sortable_row-down':(reverse && ord == 'name') }" ng-click="orderBY('name','')">{l}Name{endl}</div>
                                                            <div class="col-sm-2 sortable_row" ng-class="{ 'sortable_row-up':(!reverse && ord == 'reference') , 'sortable_row-down':(reverse && ord == 'reference') }" ng-click="orderBY('reference','')">{l}Reference{endl}</div>
                                                            <div class="col-sm-2 sortable_row" ng-class="{ 'sortable_row-up':(!reverse && ord == 'bank') , 'sortable_row-down':(reverse && ord == 'bank') }" ng-click="orderBY('bank','')">{l}Bank Account{endl}</div>

                                                            <div class="col-sm-1 text-center">{l}Linked Invoices{endl}</div>
                                                            <div class="col-sm-1 text-center sortable_row" ng-class="{ 'sortable_row-up':(!reverse && ord == 'amount_left') , 'sortable_row-down':(reverse && ord == 'amount_left') }" ng-click="orderBY('amount_left','')">{l}Balance{endl}</div>
                                                            <div class="col-sm-1 text-center">{l}Status{endl}</div>
                                                            <div class="col-sm-1"></div>
                                                        </div>
                                                    </th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr ng-repeat="item2 in list">
                                                    <td>

                                                        <div class="row">
                                                            <div class="col-sm-1 text-muted">{{item2.date}}</div>
                                                            <div class="col-sm-1 text-muted text-center"><span ng-bind-html="item2.amount_currency"></span></div>
                                                            <div class="col-sm-2 text-muted"><span ng-bind-html="item2.name"></span></div>
                                                            <div class="col-sm-2 text-muted">{{item2.reference}}</div>
                                                            <div class="col-sm-2 text-muted"><span ng-bind-html="item2.bank"></span></div>

                                                            <div class="col-sm-1 text-muted text-center"><span ng-if="item2.invoices.length" ng-repeat="item in item2.invoices"><a class="text-link" ui-sref="invoice.view({ 'invoice_id':item.invoice_id })">{{item.serial}}</a> </span> </div>
                                                            <div class="col-sm-1 text-muted text-center"><span ng-bind-html="item2.balance"></span></div>
                                                            <div class="col-sm-1 text-muted text-center"><span class="badge item-status-gray" ng-class="{ 'item-status-green':item2.nr_status=='1','item-status-yellow':item2.nr_status=='2'}">{{item2.status}}</span>
                                                            </div>
                                                            <div class="col-sm-1 table_actions text-center">
                                                                <div class="btn-group" uib-dropdown>
                                                                    <button type="button" class="btn btn-plain dropdown-toggle" uib-dropdown-toggle>
                                <span class="caret"></span>
                              </button>
                                                                    <ul class="dropdown-menu dropdown-menu-right" uib-dropdown-menu>
                                                                        <li class="dropdown-header">{l}Action{endl}</li>
                                                                        <li ng-if="(!search.archived || search.archived==0) && item2.nr_status!='1' "><a href="#" ng-click="fetchInvoices($index)"><span class="fas fa-link"></span>{l}Link{endl}</a></li>
                                                                        <li ng-if="(!search.archived || search.archived==0) && item2.nr_status!='1' "><a href="#" ng-click="markAsLinked($index)"><span class="fas fa-check"></span> {l}Mark as Linked{endl}</a></li>
                                                                        <li ng-if="(!search.archived || search.archived==0) && item2.nr_status!='0' "><a href="#" ng-click="unlink($index)"><span class="fas fa-unlink"></span> {l}Unlink{endl}</a></li>
                                                                        <!-- <li ng-if="(!search.archived || search.archived==0) && item2.nr_status!='1' ">
                                  <a href="#" ng-click="archiveSubline($index)" confirm="{l}Are you sure you wanna archive this line{endl}? {l}This action cannot be reversed{endl}!"><span class="fas fa-archive text-primary"></span> {l}Archive line{endl}</a>
                                </li>           -->
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </td>

                                                </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="col-sm-12">
                            <div class="col-sm-8">
                                <ul ng-if="max_rows > 30" uib-pagination total-items="max_rows" ng-model="search.offset" ng-change="searchThing('codabox_payments')" max-size="5" class="pager" boundary-links="true" items-per-page="lr"></ul>
                            </div>
                            <div class="col-sm-4 text-right">
                                <label>{l}Number of invoice payments{endl}: <strong>{{max_rows}}</strong></label>
                            </div>
                        </div>
                    </div>


                </div>
                <!-- /.tab-content -->

            </div>
            <!-- neede on all pages -->
        </div>
    </div>
</div>