  <div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="pdfset.cancel()"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title">{l}Generate PDF,again{endl}</h4>
    </div>
<div class="modal-body">
	<form class="form-horizontal" >
<!--       <div class="row margin-bottom">
        <div class="col-xs-12 radio-list">			    		
            <div class="row" ng-repeat="item in pdfset.obj.logo">
              <div class="col-xs-1 col-xs-offset-3 input-group-sm radio"><label><input type="radio" ng-model="pdfset.obj.default_logo" value="{{item.account_logo}}" /></label></div>
              <div class="col-xs-4 text-center"><img class="img-thumbnail" ng-src="{{item.account_logo}}" width="232" height="60" alt=""></div>
            </div>
        </div>      
      </div> -->
<!--       <div class="form-group">
              <label class="col-xs-3 control-label text-left">{l}Type{endl}</label>
              <div class="col-xs-8">
                  <select class="form-control" ng-model="pdfset.obj.pdf_type_id">
                      <option ng-repeat="option in pdfset.obj.pdf_type_dd track by option.id" value="{{option.id}}">{{option.name}}</option>
                  </select>
          </div>
      </div> -->
      <div class="form-group">
              <label class="col-xs-3 control-label text-left">{l}Multiple Identity{endl}</label>
              <div class="col-xs-8">
                  <select class="form-control" ng-model="pdfset.obj.multiple_identity_id">
                      <option value="0">{l}Select{endl}</option>
                      <option ng-repeat="option in pdfset.obj.multiple_identity track by option.id" value="{{option.id}}">{{option.name}}</option>
                  </select>
          </div>
      </div>
      <div class="form-group">
          <label class="col-xs-3 control-label text-left"></label>
          <div class="col-xs-8">
            
          </div>
      </div>
	</form>
</div>
<div class="modal-footer">
  <button class="btn btn-plain" type="button" ng-click="pdfset.cancel()">{l}Close{endl}</button>
  <!-- <button class="btn btn-default" type="button" ng-click="pdfset.ok()">{l}OK{endl}</button> -->
  <a class="btn btn-default" ng-click="pdfset.ok()" >{l}Generate PDF,again{endl}</a>
  <!-- <a class="btn btn-default"  href="{{pdfset.obj.pdf_link}}" ng-if="pdfset.hide_button==true" target="_blank">{l}Open{endl}</a> -->
</div>