<style>
body { color: #000; font-family: Arial, Helvetica, sans-serif; font-size: 9pt; }
h1 { font-size:10pt; font-weight:normal; }
table { border-collapse: collapse; border-spacing: 0; }
table td{ font-size: 8pt; }
.border_bottom { border-bottom: 1px solid #CCC; }
.hide { display:none; }
.right { text-align:right; }
.bold { font-weight: bold; }
</style>
<table cellpadding="2" cellspacing="2" border="0" width="100%">
  <tr>
    <td></td>
  </tr>
  <tr>
    <td></td>
  </tr>
  <tr>
    <td></td>
  </tr>
  <tr>
  	<td width="30%"></td>
  	<td style="text-align:left;">{comp_name}</td>
  </tr>
  <tr>
    <td></td>
  </tr>
  <tr>
  	<td width="30%"></td>
  	<td style="text-align:left;">{comp_address}</td>
  </tr>
  <tr>
    <td></td>
  </tr>
  <tr>
  	<td width="30%"></td>
  	<td width="40%" style="text-align:left;">{comp_zip}</td>
  	<td width="30%" style="text-align:left;">{comp_city}</td>
  </tr>
  <tr>
    <td></td>
  </tr>
  <tr>
  	<td width="30%"></td>
  	<td style="text-align:left;">{comp_country}</td>
  </tr>
  <tr>
    <td></td>
  </tr>
  <tr>
  	<td width="30%"></td>
  	<td width="40%" style="text-align:left;">{comp_vat}</td>
  	<td width="30%" style="text-align:left;">{comp_vat}</td>
  </tr>
</table>
<table cellpadding="2" cellspacing="0" border="0" width="100%">
  <tr>
    <td></td>
  </tr>
  <tr>
    <td></td>
  </tr>
  <tr>
    <td></td>
  </tr>
  <tr>
    <td></td>
  </tr>
  <tr>
  	<td width="30%"></td>
  	<td width="40%">{usr_name}</td>
  	<td style="text-align:left;">{usr_surname}</td>
  </tr>
   <tr>
    <td></td>
  </tr>
  <tr>
  	<td width="30%"></td>
  	<td width="40%">{usr_phone}</td>
  	<td style="text-align:left;">{usr_email}</td>
  </tr>
</table>
<table cellpadding="2" cellspacing="2" border="0" width="100%">
  <tr>
    <td></td>
  </tr>
  <tr>
    <td></td>
  </tr>
  <tr>
    <td></td>
  </tr>
  <tr>
    <td></td>
  </tr>
</table>
<table cellpadding="2" cellspacing="0" border="0" width="100%">
  {if:lang_fr}
  <tr>
    <td></td>
  </tr>
  {end}
  <tr>
  	<td width="30%"></td>
  	<td style="text-align:left;">{usr_name} {usr_surname}</td>
  </tr>
   <tr>
    <td></td>
  </tr>
  <tr>
  	<td width="30%"></td>
  	<td width="40%">{usr_phone}</td>
  	<td style="text-align:left;">{usr_email}</td>
  </tr>
</table>
