<style>
body { color: #000; font-family: Arial, Helvetica, sans-serif; font-size: 9pt; }
h1 { font-size:10pt; font-weight:normal; }
table { border-collapse: collapse; border-spacing: 0; }
table td{ font-size: 8pt; }
.hide { display:none; }
.right { text-align:right; }
.bold { font-weight: bold; }
</style>
<table cellpadding="2" cellspacing="2" border="0" width="100%">
  {if:lang_en}
  <tr>
    <td></td>
  </tr>
  {end}
  <tr>
    <td width="30%"></td>
    <td style="text-align:left;" height="">{usr_name} {usr_surname}</td>
  </tr>
  <tr>
    <td></td>
  </tr>
  <tr>
    <td width="30%"></td>
    <td style="text-align:left;" height="">{usr_address}</td>
  </tr>
  <tr>
    <td></td>
  </tr>
  <tr>
    <td width="30%"></td>
    <td width="40%" style="text-align:left;" height="">{usr_zip}</td>
    <td style="text-align:left;" height="">{usr_city}</td>
  </tr>
  <tr>
    <td></td>
  </tr>
  <tr>
    <td width="30%"></td>
    <td style="text-align:left;" height="">{usr_country}</td>
  </tr>
  <tr>
    <td></td>
  </tr>
  <tr>
    <td width="30%"></td>
    <td width="40%" style="text-align:left;" height="">{usr_phone}</td>
    <td style="text-align:left;" height="">{usr_email}</td>
  </tr>
</table>
