<div class="modal-header">
  	<button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="prog.cancel()"><span aria-hidden="true">&times;</span></button>
  	<h4 class="modal-title">{l}To invoice list{endl}</h4>
</div>
<div class="modal-body">
	<div class="loading_wrap loading_alt hidden">
      	<div class="loading"></div>
        	<div class="spinner"></div>
      </div>
      <div class="progress">     	
	  <div class="progress-bar" role="progressbar" aria-valuenow="{{prog.value}}" aria-valuemin="0" aria-valuemax="100" style="width: {{prog.value}}%;"></div>
	</div>
	<div class="col-sm-12 text-center">
		<button class="btn btn-default" ng-show="prog.start" ng-click="prog.ok()">{l}Start{endl}</button>
	</div>
	<div uib-alert type="info" class="alert-info col-sm-12">{l}If you close this dialog then the export will{endl} <strong>{l}stop{endl}</strong>.</div>
	<div class="col-sm-12" uib-alert ng-repeat="alert in prog.alerts" type="{{alert.type}}" close="prog.alerts.splice($index, 1);" ng-class="['alert-' + (alert.type || 'warning') ]"><span ng-bind-html="alert.msg"></span></div>	
</div>