<div class="page-header-buttons text-right">
    <button go-to="" state="purchase_invoices" type="submit" class="btn btn-default"><strong>{l}Back{endl}</strong></button>  
    <navigator pag="invoice-purchase_invoices" itemid="{{view.invoice_id}}" originalPage="purchase_invoice.view"></navigator>  
</div>
<!-- <div uib-alert ng-repeat="alert in view.alerts" type="{{alert.type}}" close="view.alerts.splice($index, 1);" dismiss-on-timeout="5000" ng-class="['alert-' + (alert.type || 'warning') ]">{{alert.msg}}</div> -->
<div ng-show="!view.invoice.item_exists">
  <nopage></nopage>
</div>
<div ng-show="view.invoice.item_exists">
    <div class="panel panel-primary panel-order">
        <div class="panel-body">
            <div class="row">
                <div class="col-sm-6 col-md-3">
                    <h4 class="title_underline">{l}Purchase Invoice Details{endl}</h4>          
                    <!-- <p><strong>{l}Booking number{endl}</strong> {{::view.invoice.booking_number}}</p> -->
                    <p><strong>{l}Invoice No.{endl}</strong> {{::view.invoice.invoice_number}}</p>
                    
                    <p><strong>{l}Invoice Date{endl}</strong> {{::view.invoice.factur_date}}</p>
                    <p><strong>{l}Due Date{endl}</strong> {{::view.invoice.due_date}}</p>
                    <p ng-if="view.invoice.ogm"><strong>{l}O.G.M.{endl}</strong> +++{{::view.invoice.ogm}}+++</p>
                    
                    <p ng-if="::view.invoice.allow_disconto"><strong>{l}Disconto{endl}</strong> {{::view.invoice.disconto}}</p>
                    <div ng-if="::view.invoice.one_vat">
                        <!-- <p><strong>{l}VAT{endl}</strong> {{::view.invoice.new_vat1}} %</p>
                        <p><strong>{l}Total excl. VAT{endl}</strong> {{::view.invoice.new_total1}}</p>
                        <p><strong>{l}Total with VAT{endl}</strong> {{::view.invoice.total_with_vat1}}
                            <span ng-if="::view.invoice.allow_disconto">({{::view.invoice.total_with_disco1}})</span>
                        </p> -->
                        <p ng-if="::view.invoice.expense_category"><strong>{l}Expense category{endl}</strong> {{::view.invoice.expense_category}}</p>
                        <p ng-if="view.invoice.reference"><strong>{l}Reference{endl}</strong> {{::view.invoice.reference}}</p>
                    </div>

                    <div>  <!-- ng-if="!view.invoice.one_vat" -->
                        <table class="table table-miimal">
                            <thead>
                                <tr>
                                    <th>{l}Amount{endl}</th>
                                    <th>{l}VAT{endl}%</th>
                                    <th>{l}VAT{endl}</th>
                                    <th class="text-center">{l}Total with VAT{endl}</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="vat_row in view.invoice.vat_row">
                                    <td class="col-adjust-input">{{::vat_row.new_total}}</td>
                                    <td class="col-adjust-input text-muted text-nowrap">{{::vat_row.new_vat}}%</td>
                                    <td class="col-adjust-input text-muted">{{::vat_row.vat_amount}}</td>
                                    <td class="col-adjust-input text-strong text-center">{{::vat_row.total_with_vat}} <span ng-if="::vat_row.allow_disconto"> ({{::vat_row.total_with_disco}})</span></td>
                                </tr>
                                <tr ng-if="!view.invoice.one_vat">
                                    <td class="col-adjust-input">{{::view.invoice.total_amount}}</td>
                                    <td class="col-adjust-input text-muted text-nowrap"></td>
                                    <td class="col-adjust-input text-muted">{{::view.invoice.total_vat}}</td>
                                    <td class="col-adjust-input text-strong text-center">{{::view.invoice.total}} <span ng-if="::view.invoice.allow_disconto"> ({{::view.invoice.total_disco}})</span></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>


                </div>
                <div class="col-sm-6 col-md-3">
                    <h4 class="title_underline">{l}Supplier{endl}</h4>
                    <p class="ng-cloak"><a class="text-link" ui-sref="customerView({ 'customer_id':view.invoice.buyer_id })"><span ng-bind-html="view.invoice.customer_name"></span></a></p>   
                    <p ng-bind-html="view.invoice.free_field"></p>
                    <p>{{::view.invoice.btw}}</p>
                    <div >
                        <h4 class="title_underline">{l}Contact Details{endl}</h4>
                        <p><b>{{::view.invoice.first_name}} {{::view.invoice.last_name}}</b></p>
                        <p>{{::view.invoice.address}}</p>
                        <p ng-if="::view.invoice.email"> <span class="far fa-envelope text-muted text-link_space" aria-hidden="true"></span><a href="mailto:{{::view.invoice.email}}" class="text-link">{{::view.invoice.email}}</a></p>
                        <p ng-if="::view.invoice.phone"><span class="fa fa-phone text-muted text-link_space" aria-hidden="true"></span><a href="tel:{{::view.invoice.phone}}" class="text-link">{{::view.invoice.phone}}</a></p>
                    </div>
                </div>
                <div class="col-sm-6 col-md-3" >
                    <div class="row">
                        <div class="col-md-12">
                            <h4 class="title_underline">{l}Payments{endl}</h4>
                            <p><strong>{l}Invoice Balance{endl}</strong> <span ng-bind-html="view.invoice.total_sum_curr"> </span>
                            <p ng-if="::view.invoice.a_transfer">{l}This invoice will be paid by automatic transfer{endl}.</p> 

                            <ul class="compact_list">
                                <li class="compact_list-item_alt"  ng-repeat="payment_row in view.invoice.payments_row">
                                    <!-- <div class="compact_list-options">
                                      <a href="#" ng-if="!view.invoice.not_paid" ng-click="view.deletepayment(view.invoice.del_payment_link)"><span class="glyphicon glyphicon-remove"></span></a>
                                    </div> -->
                                    <div class="compact_list-options">
                                        <a href="#" ng-click="view.openPaymentModal(payment_row.payment_id)"><span class="fas fa-pen"></span></a>
                                        <a href="#" ng-click="view.deletepayment(payment_row.del_payment_link)"><span class="glyphicon glyphicon-trash"></span></a>
                                    </div>
                                    <div class="compact_list-info">
                                        <p>{{::payment_row.date}} - <span ng-bind-html="payment_row.amount"></span><!--  - {{::payment_row.info}} - {{::payment_row.cost_pay}} - {{::payment_row.payment_method}}  --><span ng-if="payment_row.is_info"> - {{::payment_row.info}}</span><span ng-if="payment_row.is_cost"> - {{::payment_row.cost_pay}}</span><span ng-if="payment_row.payment_method"> - {{::payment_row.payment_method}}</span></p>
                                    </div>                           
                                </li>
                            </ul>

                            
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-3">
                    <div >
                        <h4 class="title_underline">{l}Purchase Orders{endl}</h4>
                        <p><strong>{l}Total{endl}</strong> <span  ng-bind-html="::view.invoice.total_gen_order"></span></p>
                        <ul class="compact_list">
                            <li class="compact_list-item_alt" ng-repeat="order_row in view.invoice.orders_row" >
                                <div class="compact_list-options">
                                    <a href="#" ng-click="view.deletepurchaseorder(order_row.delete_link)"><span class="glyphicon glyphicon-remove"></span></a>
                                </div>
                                <div class="compact_list-info">
                                    <a class="text-link" ui-sref="purchase_order.view({ 'p_order_id':order_row.p_order_id })">{{::order_row.serial}} ({{::order_row.status}}) - <span ng-bind-html="order_row.total"></span></a>
                                </div>  
                            </li>
                        </ul>
                        <!-- <div class="col-top"><a class="btn btn-primary" title="{l}Add Purchase Order{endl}" ng-click="view.addPorder()"><span class="fa fa-arrow-right"></span>{l}Add Purchase Order{endl}</a></div> -->
                    </div>
                    <div class="" ng-if="view.showTxt.addPorder"> 
                        <div class="form-group">
                            <div class="col-sm-9">
                                <selectize config='view.porderAutoCfg' options='view.item.orders' ng-model="view.item.order_id" id="inputPorder" ></selectize>
                            </div>
                        </div>
                    </div>
                </div>  


            </div>
        </div>
    </div>
    <div class="row intervention-options">
        <div class="col-xs-12">
            <div class="module_steps">
                <ul class="module_steps-tabs">
                    <li ng-if="view.invoice.is_active" ng-class="{ 'selected':view.invoice.selectedDraft }"><span class="badge">1</span>{l}Uploaded{endl}</li>
                    <li ng-if="view.invoice.is_active" ng-class="{ 'selected':view.invoice.selectedFinal }"><span class="badge">2</span>{l}Approved{endl}</li>
                    <li ng-if="view.invoice.is_active" ng-class="{ 'selected':view.invoice.selectedPaid }"><span class="badge">3</span>{l}Paid{endl}</li>
                </ul><!-- /.module_steps-tabs -->
                <div class="module_steps-content">
                    <div class="row" ng-if="view.invoice.is_archived">
                    <div class="col-sm-12">     
                            <a class="btn btn-plain" ng-click="view.deleteDocument()" title="{l}Delete{endl}" confirm-title="{l}Confirm{endl}" confirm-ok="{l}OK{endl}" confirm-cancel="{l}Cancel{endl}" confirm="{l}Are you sure you want to delete the selected entries{endl}?">{l}Delete{endl}</a>
                            <a class="btn btn-default" title="{l}Activate{endl}" ng-click="view.statusDocument('0')">{l}Activate{endl}</a>
                        </div>          
                    </div>
                    <div class="row" ng-if="view.invoice.selectedDraft && view.invoice.is_active">
                        <div class="col-sm-12">
                            <a ng-if="!view.invoice.is_payment" class="btn btn-plain" ui-sref="purchase_invoice.edit({'incomming_invoice_id': view.invoice_id})" >{l}Edit{endl}</a>
                            <a ng-if="view.invoice.is_payment" class="btn btn-plain" href="#"  ng-click="view.editInvoice()" title="{l}Edit{endl}" confirm-title="{l}Edit Purchase invoice{endl}" confirm-ok="{l}Confirm{endl}" confirm-cancel="{l}Cancel{endl}" confirm="{l}Editing this purchase invoice will erase all payments registered on the purchase invoice. Are you sure you want to continue{endl}?">{l}Edit{endl}</a>
                            <!-- <a class="btn btn-secondary"  ng-click="view.next()">{l}Next{endl}<span class="glyphicon glyphicon-chevron-right"></span></a>
                            <div ng-if="view.showTxt.markFinal" class="btn-inline">
                                <a class="btn btn-plain" ng-click="view.markFinal()"><span>{l}Approve{endl}</span></a>
                            </div> -->
                            <a class="btn btn-default" ng-click="view.next(); view.markFinal()"><span>{l}Approve{endl}</span></a>
                            <div class="dropdown btn-inline" uib-dropdown>
                                <button class="btn btn-plain dropdown-toggle" id="pinvoiceOptions" type="button"  uib-dropdown-toggle ng-click="view.showTxt.markAsSent=false">
                                 {l}Actions{endl} &nbsp;<span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu" uib-dropdown-menu>
                                  <li><a href="#" ng-click="view.openModal('recordPayment', view.invoice_id)"><i class="fas fa-coins"></i><span>{l}Record Payment{endl}</span></a></li>
                                  <li ng-if="view.invoice.allow_po_create"><a title="{l}Link to Purchase Order{endl}" ng-click="view.linkToPo()"><span class="fa fa-arrow-right"></span><span> {l}Link to Purchase Order{endl}</span></a></li>
                                  <li><a title="{l}Archive{endl}" ng-click="view.statusDocument('1')"><span class="fas fa-archive text-primary"></span><span> {l}Archive{endl}</span></a></li>
                                </ul>
                            </div>  
                        </div>
                    </div><!-- /.row:DRAFT -->
                    <div class="row" ng-if="view.invoice.selectedFinal && view.invoice.is_active">
                        <div class="col-sm-12">
                            <a class="btn btn-plain" ng-click="view.markDraft()">{l}Back to uploaded{endl}</a>
                            <a class="btn btn-default" title="{l}Record Payment{endl}" ng-if="view.invoice.selectedFinal" ng-click="view.openModal('recordPayment', view.invoice_id)">{l}Record Payment{endl}</a>
                            <div class="dropdown btn-inline" uib-dropdown ng-if="view.invoice.allow_po_create">
                                <button class="btn btn-plain dropdown-toggle" id="pinvoiceOptions" type="button"  uib-dropdown-toggle ng-click="view.showTxt.markAsSent=false">
                                 {l}Actions{endl} &nbsp;<span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu" uib-dropdown-menu>
                                  <li><a title="{l}Link to Purchase Order{endl}" ng-click="view.linkToPo()"><span class="fa fa-arrow-right"></span><span> {l}Link to Purchase Order{endl}</span></a></li>
                                    <li><a ng-if="view.invoice.type==1 && view.invoice.nr_status==2" title="{l}Create Invoice{endl}" ng-click="view.showTxt.creditInvOpt==false ? view.showTxt.creditInvOpt=true : view.showTxt.creditInvOpt=false" ><span class="fas fa-file-alt"></span> {l}Create Invoice{endl}</a></li>
                                </ul>
                            </div> 
                            <!-- <span class="text-info pull-right margin-top new-txt" ng-if="view.invoice.approved_by">{l}Approved by{endl} {{view.invoice.approved_by}}</span> -->
                        </div>                                 
                    </div>
                    <div class="row" ng-if="view.invoice.selectedPaid && view.invoice.is_active">
                        <div class="col-sm-12">
                            <a class="btn btn-plain" ng-click="view.markDraft()" title="{l}Delete{endl}">{l}Back to uploaded{endl}</a>
                            <a class="btn btn-default" ng-if="view.invoice.paid=='2'" title="{l}Record Payment{endl}" ng-click="view.openModal('recordPayment', view.invoice_id)">{l}Record Payment{endl}</a>
                            <div class="dropdown btn-inline" uib-dropdown ng-if="view.invoice.allow_po_create">
                                <button class="btn btn-plain dropdown-toggle" id="pinvoiceOptions" type="button"  uib-dropdown-toggle ng-click="view.showTxt.markAsSent=false">
                                 {l}Actions{endl} &nbsp;<span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu" uib-dropdown-menu>
                                  <li><a title="{l}Link to Purchase Order{endl}" ng-click="view.linkToPo()"><span class="fa fa-arrow-right"></span><span> {l}Link to Purchase Order{endl}</span></a></li>
                                </ul>
                            </div> 
                            <!-- <span class="text-info pull-right margin-top new-txt" ng-if="view.invoice.approved_by">{l}Approved by{endl} {{view.invoice.approved_by}}</span> -->
                        </div>                                  
                    </div>
                </div><!-- /.row:final -->
                <div class="row" ng-show="view.showTxt.creditInvOpt">
                    <div class="col-sm-12">
                        <div class="module_steps-highlight module_steps-fillsheet">
                            <form class="form-horizontal text-left" name="main_form" novalidate>
                                <div class="form-group" ng-class="{ 'form-group_alert' : main_form.booking_number_new.$invalid && !main_form.booking_number_new.$pristine }">
                                    <label class="col-sm-3 control-label"><strong>{l}Booking number{endl}</strong></label>
                                    <div class="col-sm-5">
                                        <input type="text" class="form-control" name="booking_number_new" ng-model="view.invoice.booking_number_new" required>
                                        <div class="alert alert-sm alert-danger" ng-if="view.alertsField.booking_number_new">{{view.alertsField.booking_number_new}}</div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-5 col-sm-offset-3">
                                        <a class="btn btn-default" ng-click="view.saveData(main_form,'add_nr_purchase')">{l}Save{endl}</a>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div><!-- /.module_steps-content -->
        </div><!-- /.module_steps -->
    </div><!-- /.intervention-options -->
    <div class="row" ng-show="view.invoice.link_url">
        <div class="col-sm-12">
            <div class="quotePreview" id="quotePreview">
                <center class="text-loader">{l}Loading Attachment{endl}</center>
                <div class="bx-wrapper hide" id="bxWrapper">
                    <div class="bx-controls bx-has-controls-direction">
                        <a class="pi_download" href="{{view.invoice.download_url}}" target="_blank"><i class="fa fa-download" aria-hidden="true" title="Download Attachment"></i></a>
                        <div class="bx-controls-direction" ng-show="!view.invoice.is_image">

                            <a href="#" class="bx-prev" id="prev"><i class="glyphicon glyphicon-chevron-left" aria-hidden="true"></i></a>
                            <input type="text" class="selected_bx_page" id="page_num" value="1">
                            <span class="total_pages" id="page_count">/ 1</span>
                            <a href="#" class="bx-next" id="next"><i class="glyphicon glyphicon-chevron-right" aria-hidden="true"></i></a>
                        </div>
                    </div>
                </div>
                <canvas id="the-canvas" height="1262" width="892"></canvas>
            </div>
        </div>
    </div>

    <!-- <div class="user_summary" ng-class="{ 'is-open': view.showTxt.viewNotes }">
        <button class="btn-summary text-link" ng-click="view.showTxt.viewNotes = !view.showTxt.viewNotes"><span class="glyphicon glyphicon-chevron-down pull-right"></span>{l}Notes{endl} &amp; {l}Extra information{endl}</button>
        <div class="row col-top col-bottom">
            <div class="col-sm-12" >
                <p ng-bind-html="::view.invoice.notes"></p>
            </div>
        </div>
    </div> -->

    <logging do='invoice-purchase_invoice' type="purchase_invoice_id" ref="{{view.invoice_id}}"></logging>

    <script type="text/javascript">
        var m = true;</script>
    <!--[if !(lte IE 9) ]><!-->
    <script type="text/javascript" src="js/libraries/pdf.js"></script>
    <script type="text/javascript" src="js/libraries/pdf.worker.js"></script>
    <!--<![endif]-->
</div>
