<div class="modal-header">
  	<button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="vm.cancel()"><span aria-hidden="true">&times;</span></button>
  	<h4 class="modal-title">{l}Link to Purchase Order{endl}</h4>
</div>
<div class="modal-body modal-body_alt">
	<div class="col-sm-12 col-bottom col-top">
      <form class="form-horizontal text-left" name="po_form" no-validate=''>
            <div class="form-group">
              <label class="col-sm-12 col-lg-12 control-label">{l}Link this purchase invoice to the following purchase order{endl}</label>
              <div class="col-sm-12 col-lg-12 m-t-5">
                <selectize config='vm.porderAutoCfg' options='vm.obj.orders' ng-model="vm.obj.order_id"></selectize>               
              </div>
            </div>
      </form>
    </div>
</div>
<div class="modal-footer">
      <button class="btn btn-plain" type="button" ng-click="vm.cancel()">{l}Cancel{endl}</button>
    	<button class="btn btn-default" type="button" ng-click="vm.ok(po_form)" ng-disabled="!vm.obj.order_id">{l}OK{endl}</button>
</div>