
<div class="page-header-buttons text-right">
   <!--  <button go-to="" state="purchase_invoices" type="submit" class="btn btn-default"><strong>{l}Back{endl}</strong></button> -->
    <!-- <button type="submit" class="btn btn-default" ng-if="edit.item_id!='tmp'" ng-disabled="(!edit.item.buyer_id && !edit.item.contact_id) || edit.item.err_ogm" ng-click="edit.save(form_obj)">{l}Save{endl}</button>
    <button type="submit" class="btn btn-default" ng-if="edit.item_id=='tmp'" ng-disabled="!edit.item.buyer_id && !edit.item.contact_id || edit.item.err_ogm" ng-click="edit.save(form_obj,true)">{l}Save & create next{endl}</button>
    <button type="submit" class="btn btn-default" ng-if="edit.item_id=='tmp'" ng-disabled="!edit.item.buyer_id && !edit.item.contact_id || edit.item.err_ogm" ng-click="edit.save(form_obj)">{l}Save and manage{endl}</button>   -->
</div>


<!-- <div uib-alert ng-repeat="alert in edit.alerts" type="{{alert.type}}" close="edit.alerts.splice($index, 1);" ng-class="['alert-' + (alert.type || 'warning') ]" dismiss-on-timeout='5000' >{{alert.msg}}</div> -->


<form class="form-horizontal" name="form_obj" novalidate>
<div class="row page-content col-top">
                  <div class="col-sm-7">                    
                    <div class="fluid-iframe panel-primary col-top" ng-show="edit.item.view_upload">
                        <div class="row col-top">
                            <div class="col-sm-8 col-sm-offset-2">
                              <div class="upload-box">
                                <p><strong>{l}Upload Scan{endl}</strong></p>
                                <div class="upload-file hidden">
                                    <div class="row">
                                        <div class="upload-file-image col-xs-4">
                                          <img class="img-thumbnail" src="images/storedemo.png" width="232" height="60" alt=""/>
                                        </div>
                                        <div class="upload-file-info col-xs-8">
                                            <p class="nameOfTheFile"></p>
                                            <div class="upload-progress">
                                                <div class="upload-progress-bar" style="width: 88%;"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <input type="file" name="file" class="newUploadFile2" accept=".gif,.jpg,.jpeg,.pdf,.xml">
                                <p class="text-center"><button class="btn btn-default" ng-click="edit.upload(edit,$event)"><span class="glyphicon glyphicon-cloud-upload"></span> {l}Upload{endl}</button></p>  
                              </div><!-- /.upload-box -->
                              <div class="row text-center col-top" ng-if="edit.show_drop_load">
                                  <i class="fa fa-spinner fa-spin fa-2x fa-fw" aria-hidden="true"></i><span class="sr-only"></span>
                              </div>
                              <div class="col-top col-bottom text-muted text-center" ng-show="edit.item.is_dropbox && !edit.show_drop_load">OR</div>
                              <div class="upload-box" ng-show="edit.item.is_dropbox && !edit.show_drop_load" >
                                  <p><strong>{l}Dropbox File{endl}</strong></p>
                                  <div class="row">
                                      <div class="col-sm-8">
                                        <select class="form-control" ng-model="edit.item.file_selected">
                                 <option ng-repeat="option in edit.item.file_selected_dd track by option.id" value="{{option.id}}" ng-bind-html="option.value"></option>
                                 </select>
                                      </div>
                                      <div class="col-sm-4"><button class="btn btn-default btn-block text-center" ng-click="edit.link_dropbox()"><span class="fa fa-dropbox"></span>{l}Make Link{endl}</button></div>
                                  </div>
                              </div><!-- /.upload-box -->                            
                            </div>
                        </div>
                    </div>
                    <div ng-show="edit.item.exist_image"> 
                        <div id="image_frame">
                          <iframe ng-src="{{edit.item.link_url}}"></iframe>
                        </div>
                        <div class="col-top text-center">
                            <a class="btn btn-tertiary" id='remove_button' ng-click="edit.remove_file('1',edit.item.link_url)">{l}Remove File{endl}</a>
                        </div>
                    </div>
                    <div ng-show="edit.item.exist_drop_image"> 
                        <div id="image_frame_drop">
                          <iframe ng-src="{{edit.item.drop_file_path}}" ></iframe>
                        </div>
                        <div class="col-top text-center">
                            <a class="btn btn-tertiary" id='remove_button' ng-click="edit.remove_file('2',edit.item.drop_file_path)">{l}Remove File{endl}</a>
                        </div>
                    </div>
                  </div>
                  <div class="col-sm-5">
                    <div class="panel panel-default panel-customer_details no_margin_b">
        <div class="panel-body panel-current_customer no_padding no_high" ng-class="{ 'panel-add_customer': edit.item.add_customer && edit.showTxt.addBtn }">
            <!-- <a class="panel-edit" href="#" ng-click="edit.showTxt.address = false" ng-if="edit.showTxt.address"><span class="fas fa-pen"></span></a> -->
            <div ng-if="edit.showTxt.address && !edit.item.add_customer">
             <!--  <a class="panel-edit text-link" href="#" ng-click="edit.showEditFnc(edit)" >{l}Edit{endl}</a> -->
              <h2>{{edit.item.buyer_name}} <small class="quick_edits"><span class="text-link_space">•</span> <a href="#" class="text-link text-muted edit-customer" ng-click="edit.openModal(edit,'EditContact');" ng-if="edit.item.field=='contact_id'" >{l}Edit Supplier{endl}</a><a href="#" class="text-link text-muted edit-customer" ng-click="edit.openModal(edit,'EditCustomer');" ng-if="edit.item.field=='customer_id'" >{l}Edit Supplier{endl}</a> <span class="text-link_space" >•</span> <a href="#" class="text-link text-muted delete-customer" ng-click="edit.removeCust(edit)" >{l}Remove{endl}</a></small></h2>
              <!-- <p ng-if="edit.item.contact_name && edit.item.field=='customer_id'" class=""><span ng-bind-html="edit.item.contact_name"></span> <small class="quick_edits"><span class="text-link_space">•</span> <a href="#" class="text-link text-muted edit-contact" ng-click="edit.openModal(edit,'EditContact');" >{l}Edit Contact{endl}</a> <span class="text-link_space">•</span> <a href="#" class="text-link text-muted" ng-click="edit.removeContact(edit)">{l}Remove{endl}</a></small></p>
              <p><a href="#" class="text-link edit-customer" ng-click="edit.showEditFnc(edit)" ng-if="!edit.item.contact_name">{l}Add a Contact{endl}</a> <span class="text-link_space" ng-if="!edit.item.contact_name">•</span> <a href="#" class="text-link delete-customer" ng-click="edit.openModal(edit,'AddCustomer',edit.contactAddObj,'md');" ng-if="!edit.item.contact_name">{l}Create a new Contact{endl}</a></p> -->
              <div class="delivery-address" ng-if="!edit.item.view_delivery">
                <span ng-bind-html="edit.item.free_field_txt"></span>
                <!-- <small class="quick_edits delivery-controller"><span class="text-link_space">•</span> <a href="#" class="text-link text-muted" ng-click="edit.showEditFnc(edit)">{l}Edit address{endl}</a></small> -->
              </div>
            </div><!-- /showTxt.address -->
            <div ng-if="edit.item.add_customer" class="pi_supplier">
              <button class="btn btn-block btn-lg btn-blank text-link" ng-if="edit.showTxt.addBtn" ng-click="edit.showCCSelectize(edit)"><span class="fa fa-user-plus icon-holder"></span> {l}Add a Supplier{endl}</button>
              <selectize config='edit.sccAutoCfg' options='edit.auto.options.cc' ng-model="edit.item.cc_id" id="custandcont" ng-if="!edit.showTxt.addBtn"></selectize>
            </div>
            <div class="form-horizontal text-left " ng-if="!edit.showTxt.address">
              <div class="form-group">
                <label class="col-sm-5 col-lg-4 control-label text-left">{l}Supplier{endl}</label>
                <div class="col-sm-7 col-lg-8">
                  <!-- <input type="text" class="form-control" ng-model="edit.item.buyer_name" ng-disabled="true" > -->
                  <selectize config='edit.sccAutoCfg' options='edit.auto.options.cc' ng-model="edit.item.buyer_id" id="custandcont"></selectize>
                </div>
              </div>
              <div class="form-group hidden" ng-if="edit.item.field=='customer_id'">
                <label class="col-sm-5 col-lg-4 control-label text-left">{l}Contact{endl}</label>
                <div class="col-sm-7 col-lg-8">
                  <selectize config='edit.contactAutoCfg' options='edit.auto.options.contacts' ng-model="edit.item.contact_id" id="contact_id" ng-disabled="!edit.item.buyer_id"></selectize>
                </div>
              </div>
              <div class="form-group extra_address hidden" >
                <label class="col-sm-5 col-lg-4 control-label text-left">{l}Address{endl}</label>
                <div class="col-sm-7 col-lg-8 ">
                  <selectize config='edit.addressAutoCfg' options='edit.auto.options.addresses' ng-model="edit.item.main_address_id" id="main_address" ng-disabled="!edit.item.buyer_id"></selectize>
                </div>
              </div>
              <div class="form-group hidden">
                <label class="col-sm-5 col-lg-4 control-label text-left">{l}Billing Address{endl}</label>
                <div class="col-sm-7 col-lg-8">
                  <div class="checkbox checkbox-primary">
                    <input type="checkbox" id="checkbox1" ng-model="edit.item.sameAddress" ng-click="edit.removeDeliveryAddr()"> 
                    <label for="checkbox1">
                    </label>
                    <span class="text-muted">{l}Billing address same as main address{endl}</span>
                  </div>
                </div>
              </div>
              <div class="form-group extra_address hidden" ng-if="!edit.item.sameAddress">
                <div class="col-sm-9 col-sm-offset-3">
                  <selectize config='edit.addressAutoCfg' options='edit.auto.options.addresses' ng-model="edit.item.delivery_address_id" id="delivery_address" ></selectize>
                </div>
              </div>
              <!-- <div class="text-right">
                <a href="#" class="text-muted" ng-click="edit.cancelEdit(edit)">{l}Cancel{endl}</a> <span class="text-link_space">• </span> 
                <button type="submit" class="btn btn-default" ng-click="edit.saveClientData(edit,edit.item.field)">{l}Save{endl}</button>
              </div> -->
            </div>
          </div>
      </div><!-- /.panel -->
                    <form class="form-horizontal text-left">
                        <div class="form-group">
                            <label class="col-sm-5 col-lg-4 control-label text-left">{l}Invoice Type{endl}</label>
                            <div class="col-sm-7 col-lg-8">
<!--                                  <select class="form-control" ng-model="edit.item.type">
                                 <option ng-repeat="option in edit.item.type_dd track by option.id" value="{{option.id}}" ng-bind-html="option.name"></option>
                                 </select> -->
                                 <selectize config="edit.invoiceTypeCfg" ng-disabled="!edit.item.buyer_id && !edit.item.contact_id" options="edit.item.type_dd" ng-model="edit.item.type" ></selectize>
                            </div>
                        </div><!-- /.form-group -->
                        <div class="form-group" ng-hide="edit.hide"  ng-if="edit.item.booking_number" ng-class="{ 'form-group_alert' : form_obj.booking_number.$invalid && !form_obj.booking_number.$pristine }">
                              <label class="col-sm-5 col-lg-4 control-label text-left">{l}Booking number{endl} <i class="fa fa-question-circle" uib-tooltip="{l}Go to the settings to configure the numbering convention{endl}" tooltip-placement="bottom"></i></label>
                              <div class="col-sm-7 col-lg-8">
                              <input type="text" class="form-control" ng-disabled="!edit.item.buyer_id && !edit.item.contact_id" ng-model="edit.item.booking_number" name="booking_number" placeholder="{l}Booking number{endl}">
                              <div class="alert alert-sm alert-danger" ng-if="form_obj.booking_number.$invalid && edit.alertsField.booking_number">{{edit.alertsField.booking_number}}</div>
                              </div>
                          </div><!-- /.form-group -->
                        <div class="form-group" ng-class="{ 'form-group_alert' : form_obj.invoice_number.$invalid && !form_obj.invoice_number.$pristine }">
                            <label class="col-sm-5 col-lg-4 control-label text-left">{l}Invoice Nr{endl}<span class="mandatory-label">*</span></label>
                            <div class="col-sm-7 col-lg-8">
                            <input type="text" class="form-control" ng-disabled="!edit.item.buyer_id && !edit.item.contact_id" ng-model="edit.item.invoice_number" name="invoice_number" placeholder="{l}Invoice Nr{endl}">
                            <div class="alert alert-sm alert-danger" ng-if="form_obj.invoice_number.$invalid && edit.alertsField.invoice_number">{{edit.alertsField.invoice_number}}</div>
                            </div>
                        </div><!-- /.form-group -->
                        <div class="form-group" ng-class="{ 'form-group_alert' : form_obj.invoice_date.$invalid && !form_obj.invoice_date.$pristine }">
                            <label class="col-sm-5 col-lg-4 control-label text-left">{l}Date{endl}</label>
                            <div class="col-sm-7 col-lg-8">
                              <div class="so-field input-date">
                                <span class="glyphicon glyphicon-calendar so-icon" ng-click="edit.showInvoiceDate()"></span>
                                <input type="text" ng-disabled="!edit.item.buyer_id && !edit.item.contact_id" class="form-control form-control-border-right" ng-model="edit.item.invoice_date" name="invoice_date" uib-datepicker-popup="{{edit.format}}" is-open="edit.datePickOpen.invoice_date" datepicker-options="edit.dateOptions" ng-required="true" close-text="Close" placeholder="{l}Date{endl}" show-button-bar="false" ng-click="edit.showInvoiceDate()" ng-change="edit.updateDueDate()"/>
                                <div class="alert alert-sm alert-danger" ng-if="form_obj.invoice_date.$invalid && edit.alertsField.invoice_date">{{edit.alertsField.invoice_date}}</div>
                              </div><!-- /.so-field -->
                            </div>
                        </div><!-- /.form-group -->
                        <div class="form-group">
                            <label class="col-sm-5 col-lg-4 control-label text-left">{l}Due Date{endl}</label>
                            <div class="col-sm-7 col-lg-8">
                              <div class="so-field input-date">
                                <span class="glyphicon glyphicon-calendar so-icon" ng-click="edit.datePickOpen.due_date=true"></span>
                                        <input type="text" ng-disabled="!edit.item.buyer_id && !edit.item.contact_id" class="form-control form-control-border-right" ng-model="edit.item.due_date" uib-datepicker-popup="{{edit.format}}" is-open="edit.datePickOpen.due_date" datepicker-options="edit.dateOptions" ng-required="true" close-text="Close" placeholder="{l}Due Date{endl}" show-button-bar="false" ng-click="edit.datePickOpen.due_date=true"/>
                              </div><!-- /.so-field -->
                            </div>
                        </div><!-- /.form-group -->
                        <div class="form-group">
                          <label class="col-sm-5 col-lg-4 control-label text-left">{l}O.G.M.{endl}</label>
                          <div class="col-sm-7 col-lg-8">
                            <input type="text" class="form-control" display-ogm="" display-error="edit.item.err_ogm" ng-disabled="!edit.item.buyer_id && !edit.item.contact_id" ng-model="edit.item.ogm" name="ogm" placeholder="###/####/#####">
                            <div class="alert alert-sm alert-danger" ng-if="edit.item.err_ogm">{{edit.item.err_ogm}}</div>
                          </div>
                        </div>
                        <div ng-if="edit.item.buyer_id" class="form-group" ng-class="{ 'form-group_alert' : form_obj.buyer_iban.$invalid && !form_obj.buyer_iban.$pristine }">
                            <label class="col-sm-5 col-lg-4 control-label text-left">{l}IBAN{endl} </label>
                            <div class="col-sm-7 col-lg-8">
                            <input type="text" class="form-control" ng-disabled="!edit.item.buyer_id && !edit.item.contact_id" ng-model="edit.item.buyer_iban" name="buyer_iban" placeholder="{l}IBAN{endl}">
                            <div class="alert alert-sm alert-danger" ng-if="form_obj.buyer_iban.$invalid && edit.alertsField.buyer_iban">{{edit.alertsField.buyer_iban}}</div>
                            </div>
                        </div><!-- /.form-group -->

                        <div class="form-group">
                            <label class="col-sm-5 col-lg-4 control-label text-left">{l}Allow Disconto{endl}</label>
                            <div class="col-sm-3 checkbox checkbox-primary">
                              <input type="checkbox" ng-disabled="!edit.item.buyer_id && !edit.item.contact_id" id="checkbox2" ng-model="edit.item.allow_disconto" ng-click="edit.allowDisconto()">
                                <label for="checkbox2"></label>
                            </div>
                        </div><!-- /.form-group -->
                         <div class="form-group" ng-if="edit.item.allow_disconto">
                              <label class="col-sm-5 col-lg-4 control-label text-left">{l}Disconto{endl}</label>
                              <div class="col-sm-3 col-lg-3">
                              <input type="text" display-nr="" ng-disabled="!edit.item.buyer_id && !edit.item.contact_id" class="form-control" ng-blur="edit.calcPrice()"  ng-model="edit.item.disconto" >
                              </div>
                          </div><!-- /.form-group -->
                          <div class="form-group">
                            <label class="col-sm-5 col-lg-4 control-label text-left">{l}Paid by automatic transfer{endl}?</label>
                            <div class="col-sm-3 col-lg-3">
                              <toggle-switch on-change="edit.AutomaticTransfer()" ng-model="edit.item.a_transfer" class="switch-primary" off-label="{l}No{endl}" is-disabled="!edit.item.buyer_id && !edit.item.contact_id" on-label="{l}Yes{endl}"></toggle-switch>
                            </div>
                          </div><!-- /.form-group -->
                          <div class="form-group">
                            <label class="col-sm-5 col-lg-4 control-label text-left">{l}Expense category{endl}</label>
                            <div class="col-sm-7 col-lg-8">
                              <selectize config="edit.extraCfg" options="edit.item.expense_category" ng-disabled="!edit.item.buyer_id && !edit.item.contact_id" ng-model="edit.item.expense_category_id" table="tblinvoice_expense_categories" model="expense_category_id" opts="expense_category"></selectize>
                            </div>
                          </div><!-- /.form-group -->
                          <div class="form-group">
                            <label class="col-sm-5 col-lg-4 control-label text-left">{l}Reference{endl}</label>
                            <div class="col-sm-7 col-lg-8">
                              <input type="text" ng-disabled="!edit.item.buyer_id && !edit.item.contact_id" class="form-control" ng-model="edit.item.reference" placeholder="{l}Reference{endl}">
                            </div>
                          </div><!-- /.form-group -->
                   
                     <!--  <div ng-if="edit.item.buyer_id"> -->
                      <div>
                        <div class="border-top col-top"  ng-repeat="item in edit.item.invoice_line">
                         
                          <div class="form-group">
                              <label class="col-sm-5 col-lg-4 control-label text-left">{l}VAT{endl}</label>
                              <div class="col-sm-4 col-lg-3">
                                  <!-- <div class="input-group">
                                    <input ng-blur="edit.calcPrice()"  type="text" class="form-control" display-nr="" ng-model="item.vat_line">
                                    <span class="input-group-addon input-group-addon_shrink">%</span>
                                  </div> -->
                                 <div class="row">
                                    <div class="col-sm-12">
                                      <selectize config="edit.linevatcfg" ng-disabled="!edit.item.buyer_id && !edit.item.contact_id" options="edit.item.generalvats" ng-model="item.vat_line" ng-change="edit.calcPrice()"></selectize>
                                    </div>             
                                  </div>
                              </div>
                              <div class="btn-remove col-sm-3 col-lg-3 pull-right">
                                <span class="fa fa-trash" ng-click="edit.removeLine($index)"></span>
                              </div>
                          </div><!-- /.form-group -->
                          <div class="form-group">
                              <label class="col-sm-5 col-lg-4 control-label text-left">{l}Total excl. VAT{endl}</label>
                              <div class="col-sm-4 col-lg-3">
                                <input ng-blur="edit.calcPrice()" ng-disabled="!edit.item.buyer_id && !edit.item.contact_id" type="text" class="form-control" display-nr="" ng-model="item.total_no_vat">
                              </div>
                          </div><!-- /.form-group -->
                          <div class="form-group">
                              <label class="col-sm-5 col-lg-4 control-label text-left ">{l}Total incl. VAT{endl}</label>
                              <div class="col-sm-4 col-lg-3">
                                <label class="text-strong control-label text-left" ng-disabled="!edit.item.buyer_id && !edit.item.contact_id" ng-bind-html="item.total"></label>
                              </div>
                          </div><!-- /.form-group -->
                        </div><!-- /.border-top -->

                        <div class="border-top col-top">
                          <div class="form-group">
                              <div class="col-sm-7 col-sm-offset-5 col-lg-8 col-lg-offset-4">
                                <a class="btn btn-sm btn-tertiary" ng-click="edit.addLine(false,0)">{l}Add another VAT{endl}</a>
                              </div>
                          </div><!-- /.form-group -->
                        </div><!-- /.border-top -->
                         <div class="form-group">
                              <label class="col-sm-5 col-lg-4 control-label text-left ">{l}Total{endl}</label>
                              <div class="col-sm-4 col-lg-3">
                                <label class="text-strong control-label" ng-bind-html="edit.item.total"></label>
                              </div>
                          </div><!-- /.form-group -->
                      </div>  
                    </form><!-- /.form-horizontal -->
                  </div> 
              </div>   
<table class="table table_orders" ng-if="edit.item.invoice_row.length">
  <thead>
    <th class="col-xs-1">{l}Code{endl}</th>
    <th class="col-xs-4">{l}Item{endl}</th>
    <th class="col-xs-2 text-center">{l}Quantity{endl}</th>
    <th class="col-xs-2 text-center">{l}Unit Price{endl}</th>
    <th class="col-xs-1 text-center">{l}VAT{endl}</th>
    <th class="col-xs-2 text-center">{l}Amount{endl}</th>
  </thead>
  <tbody>
    <tr ng-repeat="item in edit.item.invoice_row">
      <td>
        <code class="text-ellipsis">{{item.article_code}}</code>
      </td>
      <td>
        <span ng-bind-html="item.row_description"></span>
      </td>
      <td class="text-center text-muted">{{item.row_quantity}}</td>
      <td class="text-center text-muted">{{item.row_unit_price}} <span ng-bind-html="edit.item.invoice_currency"></span></td>
      <td class="text-center text-muted">{{item.vat}} %</td>
      <td class="text-center">{{item.row_amount}} <span ng-bind-html="edit.item.invoice_currency"></span></td>
    </tr>
  </tbody>
</table><!-- /.table_orders -->
<div class="row" ng-if="edit.item.invoice_row.length">
  <div class="col-sm-8 col-sm-offset-4 order_total">
    <div class="row">
      <div class="col-xs-7 col-xs-offset-5">
        <div class="row">
          <div class="col-sm-7 col-lg-7 text-left">
            <h4>{l}Total without VAT{endl}</h4>
          </div>
          <div class="col-sm-5 col-lg-5 text-right text-amount">
            <h4 class="text-amount">
              {{edit.item.invoice_total_wo_vat}} <span ng-bind-html="edit.item.invoice_currency"></span>
            </h4>
          </div>
        </div>
      </div>
    </div>
    <div class="row" ng-repeat="vat_line in edit.item.invoice_vat_line">
      <div class="col-xs-7 col-xs-offset-5">
        <div class="row">
          <div class="col-sm-7 col-lg-7 text-left">
            <h4>{l}Subtotal{endl} {l}VAT{endl} {{vat_line.vat_line}} %</h4>
          </div>
          <div class="col-sm-5 col-lg-5 text-right text-amount">
            <h4 class="text-amount">
              {{vat_line.total_no_vat}} <span ng-bind-html="edit.item.invoice_currency"></span>
            </h4>
          </div>
        </div>
      </div>
      <div class="col-xs-7 col-xs-offset-5">
        <div class="row">
          <div class="col-sm-7 col-lg-7 text-left">
            <h4>{l}VAT{endl} {l}for{endl} {{vat_line.vat_line}} %</h4>
          </div>
          <div class="col-sm-5 col-lg-5 text-right text-amount">
            <h4 class="text-amount">
              {{vat_line.vat_value}} <span ng-bind-html="edit.item.invoice_currency"></span>
            </h4>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-7 col-xs-offset-5">
        <div class="row">
          <div class="col-sm-7 col-lg-7 text-left">
            <h4>{l}TOTAL{endl}</h4>
          </div>
          <div class="col-sm-5 col-lg-5 text-right">
            <h4 class="text-amount" ng-class="{ 'text-danger':edit.item.type=='2' }">{{edit.item.total_amount_due}} <span ng-bind-html="edit.item.invoice_currency"></span></h4>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- <div class="user_summary" ng-class="{'is-open': edit.showTxt.invoice_notes, '': !edit.showTxt.invoice_notes}">
  <button class="btn-summary text-link" ng-disabled="edit.item.add_customer" ng-click="edit.showTxt.invoice_notes=!edit.showTxt.invoice_notes"><span class="glyphicon glyphicon-chevron-down pull-right"></span> {l}Notes{endl} &amp; {l}Extra information{endl}</button>
  <div class="row col-top col-bottom">
      <div class="col-sm-12 col-bottom">
      <h1>{l}Notes{endl}</h1>
        <textarea class="form-control form-language" ui-tinymce="edit.tinymceOptions" ng-model="edit.item.notes" ng-class="edit.item.lang_cls" rows="6" name="textarea" placeholder="{l}General Conditions{endl}"></textarea>
      </div>
  </div>
</div> -->

<div class="text-right">
      <span class="checkbox checkbox-primary d-inline" ng-if="edit.item_id=='tmp'">
        <input type="checkbox" ng-model="edit.create_new" class="link-pointer" ng-disabled="!edit.item.buyer_id && !edit.item.contact_id || edit.item.err_ogm">
        <label for="checkbox_all"></label>
      </span> 
      <span ng-if="edit.item_id=='tmp'" class="link-pointer m-l-20 mr-30" ng-click="(!edit.item.buyer_id && !edit.item.contact_id || edit.item.err_ogm ? edit.create_new=false : edit.create_new=!edit.create_new)">{l}Create another{endl}</span>
      <button type="submit" class="btn btn-plain" ng-click="edit.cancel()">{l}Cancel{endl}</button>
      <button type="submit" class="btn btn-default" ng-if="edit.item_id!='tmp'" ng-disabled="(!edit.item.buyer_id && !edit.item.contact_id) || edit.item.err_ogm" ng-click="edit.save(form_obj)">{l}Save{endl}</button>
      <!-- <button type="submit" class="btn btn-default" ng-if="edit.item_id=='tmp'" ng-disabled="!edit.item.buyer_id && !edit.item.contact_id || edit.item.err_ogm" ng-click="edit.save(form_obj,true)">{l}Save & create next{endl}</button> -->
      <button type="submit" class="btn btn-default" ng-if="edit.item_id=='tmp'" ng-disabled="!edit.item.buyer_id && !edit.item.contact_id || edit.item.err_ogm" ng-click="edit.save(form_obj)">{l}Save{endl}</button>
      <!-- <button type="submit" ng-if="edit.item_id!='tmp'" ng-disabled="!edit.item.buyer_id && !edit.item.contact_id" class="btn btn-default" ng-click="edit.save(form_obj)">{l}Save{endl}</button>
      <button type="submit" ng-if="edit.item_id=='tmp'" ng-disabled="!edit.item.buyer_id && !edit.item.contact_id" class="btn btn-default" ng-click="edit.save(form_obj,true)">{l}Save & create next{endl}</button>  
      <button type="submit" ng-if="edit.item_id=='tmp'" ng-disabled="!edit.item.buyer_id && !edit.item.contact_id" class="btn btn-default" ng-click="edit.save(form_obj)">{l}Save and manage{endl}</button>  -->           
</div>
</form>
<br/>
<br/>
<br/>