<div class="container">
    <div class="page-header">
        <div class="row">
            <div class="col-xs-8 col-sm-6">
                <h1>{l}Purchase Invoices{endl}
                    <button type="button" class="btn btn-primary btn-add" ui-sref="purchase_invoice.edit({'incomming_invoice_id': 'tmp'})"  tooltip-placement="top"><span class="btn-add_icon"><span class="icon-bar"></span><span class="icon-bar-2"></span></span></button></h1>
            </div>
            <div class="col-xs-4 col-sm-6 text-right" ng-if="show_settings.is_admin_invoice">
                <div class="dropdown new-settings">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-ellipsis-v"></i></button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <li class="dropdown-item" ng-if="show_settings.is_admin_invoice" ng-class="{ 'current':menu.submenu == 'invoices setting' }"><a go-to="" href="invoiceSettings/" state="invoiceSettings"><span class="fas fa-cog text-primary"></span> {l}Invoice Module{endl}</a> </li>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /.page-header -->

    <!-- <div uib-alert ng-repeat="alert in alerts" type="{{alert.type}}" close="alerts.splice($index, 1);" ng-class="['alert-' + (alert.type || 'warning'), 'alert-fixed' ]" dismiss-on-timeout='5000' >{{alert.msg}}</div> -->


    <div class="page-header">
        <div class="row text-center invoice-spin" ng-if="show_load">
            <!-- <i class="fa fa-spinner fa-spin fa-2x fa-fw" aria-hidden="true"></i><span class="sr-only"></span> -->
        </div>
        <div class="row" ng-if="!show_load">
            <div class="col-sm-12">
                <div class="col-bottom">
                    <div class="row">
                        <div class="col-sm-4 text-center q_mob">
                            <h1 class="kpi_number">
                                <span ng-if="inv_data.use_vat_invoices_kpi"><span ng-bind-html="inv_data.amount_to_be_inv_month_with_btw" ng-class="{ 'text-success':inv_data.amount_to_be_inv_month_with_btw > inv_data.amount_to_be_inv_last_with_btw,  'text-orange':inv_data.amount_to_be_inv_month_with_btw < inv_data.amount_to_be_inv_last_with_btw }"></span>
                                <span class="dark_text"> {l}VAT incl{endl}</span>
                                </span>
                                <div class="btn-group table_actions" uib-dropdown ng-if="inv_data.use_vat_invoices_kpi">
                                    <button type="button" class="btn btn-plain dropdown-toggle" uib-dropdown-toggle>
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu dropdown-menu-right kpi_vat" uib-dropdown-menu>
                                        <li><a href="#" ng-click="useVatKPI(0)">{l}VAT excl{endl}</a></li>
                                    </ul>
                                </div>
                                <span ng-if="!inv_data.use_vat_invoices_kpi"><span ng-bind-html="inv_data.amount_to_be_inv_month" ng-class="{ 'text-success':inv_data.amount_to_be_inv_month > inv_data.amount_to_be_inv_last,  'text-orange':inv_data.amount_to_be_inv_month < inv_data.amount_to_be_inv_last }"></span>
                                <span class="dark_text"> {l}VAT excl{endl}</span>
                                </span>
                                <div class="btn-group table_actions" uib-dropdown ng-if="!inv_data.use_vat_invoices_kpi">
                                    <button type="button" class="btn btn-plain dropdown-toggle" uib-dropdown-toggle>
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu dropdown-menu-right kpi_vat" uib-dropdown-menu>
                                        <li><a href="#" ng-click="useVatKPI(1)">{l}VAT incl{endl}</a></li>
                                    </ul>
                                </div>
                            </h1>
                            <span class="kpi_compare">{l}Charges last month{endl}
                                <span  ng-if="inv_data.use_vat_invoices_kpi" class="dark_text" ng-bind-html="inv_data.amount_to_be_inv_last_with_btw"></span>
                            <span ng-if="!inv_data.use_vat_invoices_kpi" class="dark_text" ng-bind-html="inv_data.amount_to_be_inv_last"></span>
                            </span>
                        </div>
                        <div class="col-sm-4 text-center q_mob">
                            <h1 ng-if="inv_data.use_vat_invoices_kpi" class="kpi_number"><span ng-bind-html="inv_data.amount_to_be_inv_late_with_btw"></span> <span class="dark_text"> {l}VAT incl{endl}</span> </h1>
                            <h1 ng-if="!inv_data.use_vat_invoices_kpi" class="kpi_number"><span ng-bind-html="inv_data.amount_to_be_inv_late"></span><span class="dark_text"> {l}VAT excl{endl}</span></h1>
                            <span class="kpi_compare">{l}Late{endl}</span>
                        </div>
                        <div class="col-sm-4 text-center q_mob">
                            <h1 ng-if="inv_data.use_vat_invoices_kpi" class="kpi_number"><span ng-bind-html="inv_data.amount_to_be_inv_with_btw"></span><span class="dark_text"> {l}VAT incl{endl}</span></h1>
                            <h1 ng-if="!inv_data.use_vat_invoices_kpi" class="kpi_number"><span ng-bind-html="inv_data.amount_to_be_inv"></span><span class="dark_text"> {l}VAT excl{endl}</span></h1>
                            <span class="kpi_compare">{l}Open Invoices{endl}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /.page-header -->
    <!-- <div uib-alert ng-repeat="alert in alerts" type="{{alert.type}}" close="alerts.splice($index, 1);" ng-class="['alert-' + (alert.type || 'warning'), 'alert-fixed' ]" dismiss-on-timeout='5000' >{{alert.msg}}</div> -->
    <div class="row page-search page-search-options">
        <form>
            <div class="col-sm-12">
                <div class="row">
                    <div class="col-sm-2 col-md-2">
                        <div class="so-field" ng-class="{ 'so-active':search.search != '' }">
                            <span class="glyphicon glyphicon-search so-icon"></span>
                            <input type="text" class="form-control" placeholder="{l}Search{endl}" search-it doit="search" resetlist="1" callbk="renderList" ng-model="search.search">
                            <span class="glyphicon glyphicon-remove so-icon so-remove" ng-click="toggleSearchButtons('search', '')"></span>
                        </div>
                        <!-- /.input-search -->
                    </div>
                    <div class="col-sm-2">
<!--                        <div class="btn-group btn-block">-->
<!--                            <selectize placeholder="{l}All Types{endl}" config='filterCfgType' options='types' ng-model="doc_type">-->
<!--                            </selectize>-->
<!--                        </div>-->
                        <div class="so-field" ng-class="{ 'so-active':search.doc_type }">
                            <selectize config='filterCfgType' options='types' ng-model="search.doc_type"></selectize>
                            <span class="glyphicon glyphicon-remove so-icon so-remove" ng-click="toggleSearchButtons('doc_type', '')"></span>
                        </div>
                    </div>
                    <div class="col-sm-2">
<!--                        <div class="btn-group btn-block">-->
<!--                            <selectize placeholder="{l}All Expense Categories{endl}" config='filterCfgExp' options='expense_categories' ng-model="expense_category_id"></selectize>-->
<!--                        </div>-->
                        <div class="so-field" ng-class="{ 'so-active':search.expense_category_id }">
                            <selectize config='filterCfgExp' options='expense_categories' ng-model="search.expense_category_id"></selectize>
                            <span class="glyphicon glyphicon-remove so-icon so-remove" ng-click="toggleSearchButtons('expense_category_id', '')"></span>
                        </div>
                    </div>
                 
                    <div class="col-sm-2 ">
                        <div class="so-field" ng-class="{ 'so-active':activeView !=0 }">
                            <span class="akti-icon akti-icon-16 o_akti_custopplier so-icon"></span>
                            <selectize placeholder="{l}All Statuses{endl}" config='filterCfg' options='views' ng-model="activeView">
                            </selectize>
                            <span class="glyphicon glyphicon-remove so-icon so-remove" ng-click="filters(0)"></span>
                        </div>
                    </div>
                    <div class="col-sm-2 col-md-2">
                        <div class="so-field" ng-class="{ 'so-active':search.start_date_js != undefined }">
                            <span class="glyphicon glyphicon-calendar so-icon" ng-click="openDate('start_date')"></span>
                            <input type="text" class="form-control" ng-model="search.start_date_js" uib-datepicker-popup="{{format}}" is-open="datePickOpen.start_date" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" close-text="Close" placeholder="{l}Start Date{endl}"
                                show-button-bar="false" ng-click="datePickOpen.start_date = true" ng-change="searchThing(true)">
                            <span class="glyphicon glyphicon-remove so-icon so-remove" ng-click="toggleSearchButtons('start_date_js', undefined)"></span>
                        </div>
                        <!-- /.input-date -->
                    </div>
                    <div class="col-sm-2 col-md-2">
                        <div class="so-field" ng-class="{ 'so-active':search.stop_date_js != undefined }">
                            <span class="glyphicon glyphicon-calendar so-icon" ng-click="openDate('stop_date')"></span>
                            <input type="text" class="form-control" ng-model="search.stop_date_js" uib-datepicker-popup="{{format}}" is-open="datePickOpen.stop_date" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" close-text="Close" placeholder="{l}End Date{endl}"
                                show-button-bar="false" ng-click="datePickOpen.stop_date = true" ng-change="searchThing(true)">
                            <span class="glyphicon glyphicon-remove so-icon so-remove" ng-click="toggleSearchButtons('stop_date_js', undefined)"></span>
                        </div>
                        <!-- /.input-date -->
                    </div>
                </div>
            </div>

            <div class="page-search-button">
                <div class="btn-group" uib-dropdown>
                    <button type="button" class="btn btn-tertiary dropdown-toggle" uib-dropdown-toggle>
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-right" uib-dropdown-menu>
                        <li ng-if="search.archived"><a href="#" ng-click="archived(0)"><span class="fa fa-list-ul" ></span> {l}Active Purchase Invoices{endl}</a></li>
                        <li ng-if="!search.archived"><a href="#" ng-click="archived(1)"><span class="fas fa-archive new_archive" ></span> {l}Archived Purchase Invoices{endl}</a></li>
                        <li><a href="#" ng-click="columnSettings()"><span class="fas fa-cog text-primary" ></span> {l}Column settings{endl}</a></li>
                    </ul>
                </div>
            </div>
        </form>
    </div>
    <!-- /.page-search -->
    <div class="row page-content">
        <div class="col-sm-12">
            <table class="table active_rows orderTable">
                <thead>
                    <tr>

                        <!-- <th class="col-sm-1 sortable_row" ng-class="{ 'sortable_row-up':(!reverse && ord == 'booking_number') , 'sortable_row-down':(reverse && ord == 'booking_number') }" ng-click="orderBY('booking_number')">{l}Booking number{endl}</th>
                        <th class="col-sm-1 sortable_row" ng-class="{ 'sortable_row-up':(!reverse && ord == 'invoice_number') , 'sortable_row-down':(reverse && ord == 'invoice_number') }" ng-click="orderBY('invoice_number')">{l}Invoice{endl}</th>
                        <th class="col-sm-1 sortable_row" ng-class="{ 'sortable_row-up':(!reverse && ord == 't_date') , 'sortable_row-down':(reverse && ord == 't_date') }" ng-click="orderBY('t_date')">{l}Date{endl}</th>
                        <th class="col-sm-1 sortable_row" ng-class="{ 'sortable_row-up':(!reverse && ord == 'due_date') , 'sortable_row-down':(reverse && ord == 'due_date') }" ng-click="orderBY('due_date')">{l}Due Date{endl}</th>
                        <th class="col-sm-2 sortable_row" ng-class="{ 'sortable_row-up':(!reverse && ord == 'buyer_name') , 'sortable_row-down':(reverse && ord == 'buyer_name') }" ng-click="orderBY('buyer_name')">{l}Company{endl}</th>
                        <th class="col-sm-1 sortable_row" ng-class="{ 'sortable_row-up':(!reverse && ord == 'expense_category') , 'sortable_row-down':(reverse && ord == 'expense_category') }" ng-click="orderBY('expense_category')">{l}Expense category{endl}</th>
                        <th class="col-sm-1 text-center sortable_row" ng-class="{ 'sortable_row-up':(!reverse && ord == 'total') , 'sortable_row-down':(reverse && ord == 'total') }" ng-click="orderBY('total')">{l}Amount{endl} </th>
                        <th class="col-sm-1 text-center sortable_row" ng-class="{ 'sortable_row-up':(!reverse && ord == 'total_with_vat') , 'sortable_row-down':(reverse && ord == 'total_with_vat') }" ng-click="orderBY('total_with_vat')">{l}Amount + VAT{endl} </th>
                        <th class="col-sm-1 text-center sortable_row" ng-class="{ 'sortable_row-up':(!reverse && ord == 'balance') , 'sortable_row-down':(reverse && ord == 'balance') }" ng-click="orderBY('balance')">{l}Balance{endl}</th>
                        <th class="col-sm-1 text-center">{l}Status{endl}</th> -->
                        <th ng-repeat="col in columns" ng-class="{ 'sortable_row':col.order_by, 'sortable_row-up':(!reverse && col.order_by && ord==col.order_by), 'sortable_row-down':(reverse && col.order_by && ord==col.order_by), 'text-center': col.column_name=='amount' || col.column_name=='amount_vat' || col.column_name=='balance' || col.column_name=='status' || col.column_name=='ogm' }"
                            ng-click="(col.order_by ? orderBY(col.order_by) : '')">
                            <span ng-bind-html="col.name"></span>
                        </th>
                        <!-- <th class="col-select">
                            <div class="checkbox checkbox-primary">
                              <input type="checkbox" ng-model="listObj.check_add_all" ng-click="saveForPDF()">
                              <label for="checkbox_all"></label>
                            </div>  
                        </th> -->
                        <th class="col-sm-1 col-select">

                            <div class="dropdown order_export">
                                <button class="dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              <i class="fa fa-square-o" ng-if="!all_pages_selected && !minimum_selected"></i>
                              <i class="fas fa-minus-square" ng-if="!all_pages_selected && minimum_selected"></i>
                              <i class="fas fa-check-square" ng-if="all_pages_selected"></i>
                              <i class="fa fa-caret-down" aria-hidden="true"></i>
                            </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <a class="dropdown-item" href="#" ng-click="checkAllPage()">{l}Select page{endl}</a>
                                    <a class="dropdown-item" href="#" ng-if="!all_pages_selected" ng-click="checkAllPages()">{l}Select all{endl}</a>
                                    <a class="dropdown-item" href="#" ng-if="all_pages_selected || minimum_selected" ng-click="uncheckAllPages()">{l}Select none{endl}</a>
                                </div>
                            </div>
                        </th>
                        <th class="table_actions">

                            <div class="btn-group" uib-dropdown ng-if="show_settings.is_admin_invoice">
                                <button type="button" class="btn btn-tertiary dropdown-toggle" uib-dropdown-toggle>
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu dropdown-menu-right" uib-dropdown-menu>
                                    <li><a href="index.php?do=invoice-export_selected_purchase_inv" target="_blank" ng-click="createExports($event)"><span class="fas fa-upload text-primary"></span>{l}Export purchase invoices list{endl}</a>
                                    </li>
                                    <li ng-if="!search.archived"><a href="#" ng-click="payMultiple()"><span class="fas fa-coins text-primary"></span>{l}Record Payment{endl}</a>
                                    </li>
                                </ul>
                            </div>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="item in list" class="collapseTr">

                        <!-- <td class="text-muted" go-to="" state="purchase_invoice.view" params='{"invoice_id": {{::item.invoice_id}}}' list='{ "type":"invoice-purchase_invoices", "obj": { "search":{{search}}, "cindex":{{$index}}, "total_items":{{max_rows}} } }'>
                            <a href="purchase_invoice/view/{{item.invoice_id}}" class="text-muted"><span>{{::item.b_number}}</span></a>
                            <span class="item-icons">
                                <i class="fa fa-credit-card" aria-hidden="true" ng-if="item.a_transfer" uib-tooltip="{l}This invoice will be paid by automatic transfer{endl}" tooltip-placement="right"></i>
                            </span>
                        </td>
                        <td class="text-muted" go-to="" state="purchase_invoice.view" params='{"invoice_id": {{::item.invoice_id}}}' list='{ "type":"invoice-purchase_invoices", "obj": { "search":{{search}}, "cindex":{{$index}}, "total_items":{{max_rows}} } }'>
                            <a href="purchase_invoice/view/{{item.invoice_id}}" class="text-muted">{{::item.s_number}}</a>
                        </td>
                        <td class="text-muted" go-to="" state="purchase_invoice.view" params='{"invoice_id": {{::item.invoice_id}}}' list='{ "type":"invoice-purchase_invoices", "obj": { "search":{{search}}, "cindex":{{$index}}, "total_items":{{max_rows}} } }'>
                            <a href="purchase_invoice/view/{{item.invoice_id}}" class="text-muted">{{::item.created}}</a>
                        </td>
                        <td class="text-muted" go-to="" state="purchase_invoice.view" params='{"invoice_id": {{::item.invoice_id}}}' list='{ "type":"invoice-purchase_invoices", "obj": { "search":{{search}}, "cindex":{{$index}}, "total_items":{{max_rows}} } }'>
                            <a href="purchase_invoice/view/{{item.invoice_id}}" class="text-muted">{{::item.due_date}}</a>
                        </td>
                        <td class="text-muted" go-to="" state="purchase_invoice.view" params='{"invoice_id": {{::item.invoice_id}}}' list='{ "type":"invoice-purchase_invoices", "obj": { "search":{{search}}, "cindex":{{$index}}, "total_items":{{max_rows}} } }'>
                            <a href="purchase_invoice/view/{{item.invoice_id}}" class="text-muted">{{::item.buyer_name}}</a>
                        </td>
                       <td class="text-muted" go-to="" state="purchase_invoice.view" params='{"invoice_id": {{::item.invoice_id}}}' list='{ "type":"invoice-purchase_invoices", "obj": { "search":{{search}}, "cindex":{{$index}}, "total_items":{{max_rows}} } }'>
                            <a href="purchase_invoice/view/{{item.invoice_id}}" class="text-muted">{{::item.expense_category}}</a>
                        </td>
                        <td class="text-center col-amount" go-to="" state="purchase_invoice.view" params='{"invoice_id": {{::item.invoice_id}}}'  list='{ "type":"invoice-purchase_invoices", "obj": { "search":{{search}}, "cindex":{{$index}}, "total_items":{{max_rows}} } }'>
                            <a href="purchase_invoice/view/{{item.invoice_id}}" class="color-dark" ng-bind-html="item.amount"></a>
                        </td>
                        <td class="text-center text-muted col-amount" go-to="" state="purchase_invoice.view" params='{"invoice_id": {{::item.invoice_id}}}'  list='{ "type":"invoice-purchase_invoices", "obj": { "search":{{search}}, "cindex":{{$index}}, "total_items":{{max_rows}} } }'>
                            <a href="purchase_invoice/view/{{item.invoice_id}}" class="text-muted" ng-bind-html="item.amount_vat"></a>
                        </td>
                        <td class="text-center text-muted" go-to="" state="purchase_invoice.view" params='{"invoice_id": {{::item.invoice_id}}}' list='{ "type":"invoice-purchase_invoices", "obj": { "search":{{search}}, "cindex":{{$index}}, "total_items":{{max_rows}} } }'>
                            <a href="purchase_invoice/view/{{item.invoice_id}}" class="text-muted" ng-bind-html="item.balance"></a>
                        </td>
                        <td class="text-center">
                            <a href="purchase_invoice/view/{{item.invoice_id}}"><span class="badge item-status-gray" ng-class="{ 'item-status-green':item.nr_status == '3', 'item-status-yellow':item.nr_status == '2', 'item-status-red':item.nr_status=='4' }">{{item.type_title}}</span></a>
                        </td> -->
                        <td class="text-muted" ng-repeat="col in columns" ng-class="{'text-center col-amount' : col.column_name=='amount' || col.column_name=='amount_vat', 'text-center' : col.column_name=='balance' || col.column_name=='status' || col.column_name=='ogm'}" go-to=""
                            state="purchase_invoice.view" params='{"invoice_id": {{::item.invoice_id}}}' list='{ "type":"invoice-purchase_invoices", "obj": { "search":{{search}}, "cindex":{{$parent.$index}}, "total_items":{{max_rows}} } }'>
                            <span ng-if="col.column_name=='status'" class="badge item-status-gray" ng-class="{ 'item-status-green':item.nr_status == '3', 'item-status-yellow':item.nr_status == '2', 'item-status-red':item.nr_status=='4' }">
                                <a href='purchase_invoice/view/{{item.invoice_id}}' style="color: #FFF;">{{item.type_title}}</a>
                            </span>
                            <a ng-if="col.column_name!='status'" href='purchase_invoice/view/{{item.invoice_id}}' class="text-muted" ng-bind-html="item[col.column_name]"></a>
                            <span class="item-icons" ng-if="col.column_name=='b_number'">
                                <i class="fa fa-credit-card" aria-hidden="true" ng-if="item.a_transfer" uib-tooltip="{l}This invoice will be paid by automatic transfer{endl}" tooltip-placement="right"></i>
                            </span>
                        </td>
                        <td class="col-select">
                            <div class="checkbox checkbox-primary">
                                <input type="checkbox" ng-model="item.check_add_to_product" ng-click="markCheckNew(item)">
                                <label for="checkbox_all"></label>
                            </div>
                        </td>
                        <td class="table_actions">
                            <div class="btn-group" uib-dropdown>
                                <button type="button" class="btn btn-plain dropdown-toggle" uib-dropdown-toggle>
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu dropdown-menu-right" uib-dropdown-menu>
                                    <li class="dropdown-header">{l}Action{endl}</li>
                                    <li ng-if="item.nr_status < 2">
                                        <a href="#" go-to="" state="purchase_invoice.edit" params='{"incomming_invoice_id": {{::item.invoice_id}}}' list='{ "type":"invoice-purchase_invoices", "obj": { "search":{{search}} } }'><span class="fas fa-pen text-primary"></span> {l}Edit{endl}</a>
                                    </li>
                                    <li ng-if="item.nr_status < 2">
                                        <a href="#" ng-click="action(item, 'delete_link')" confirm="{l}Are you sure, you wanna delete this entry?{endl}"><span class="fas fa-trash-alt text-primary"></span> {l}Delete{endl}</a>
                                    </li>
                                    <li ng-if="item.can_pay">
                                        <a href="#" ng-click="pay(item)"><span class="fas fa-coins text-primary"></span> {l}Record Payment{endl}</a>
                                    </li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <!-- /.page-content -->
    <!-- <pag-custom pages="pager" refresh="renderList()" doit='invoice-invoices'></pag-custom> -->
    <div class="col-sm-12">
        <div class="col-sm-8">
            <ul ng-if="max_rows > 30" uib-pagination total-items="max_rows" ng-model="search.offset" ng-change="searchThing()" max-size="5" class="pager" boundary-links="true" items-per-page="lr"></ul>
        </div>
        <div class="col-sm-4 text-right">
            <label>{l}Number of purchase invoices{endl}: <strong>{{max_rows}}</strong></label>
        </div>
    </div>
</div>
<!-- neede on all pages -->
</div>