<!-- <div uib-alert ng-repeat="alert in view.alerts" type="{{alert.type}}" close="view.alerts.splice($index, 1);" dismiss-on-timeout="5000" ng-class="['alert-' + (alert.type || 'warning') ]">{{alert.msg}}</div> -->
<div class="page-header-buttons text-right">
    <button go-to="" state="recinvoices" type="submit" class="btn btn-sm btn-default"><strong>{l}Back{endl}</strong></button>
    <navigator pag="invoice-recurring_invoices" itemid="{{view.recurring_invoice_id}}" originalPage="recinvoice.view"></navigator>
</div>
<div ng-show="!view.invoice.item_exists">
  <nopage></nopage>
</div>
<div ng-show="view.invoice.item_exists">
    <div class="panel panel-primary panel-order">
        <div class="panel-body">
            <div class="row">
                <div class="col-sm-6 col-md-3">
                    <h4 class="title_underline">{l}Recurring Invoice Details{endl}</h4>
                    <p><strong>{l}Start Date{endl}</strong> {{view.invoice.start_date}}</p>
                    <p><strong>{l}End Date{endl}</strong> {{view.invoice.end_date}}</p>
                    <p><strong>{l}Frequency{endl}</strong> {{::view.invoice.frequency}}</p>
                    <p><strong>{l}Account Manager{endl}</strong> {{::view.invoice.acc_manager_name}}</p>
                    <p><strong>{l}Payment Method{endl}</strong> {{::view.invoice.payment_method}}</p>
                    <p ng-if="view.invoice.yuki_project_name" ><strong>{l}Yuki Project{endl}</strong> {{::view.invoice.yuki_project_name}}</p>
                    <p ng-if="view.invoice.payment_method_id=='3'"><strong>{l}SEPA Mandate{endl}</strong> {{::view.invoice.sepa_mandate}}</p>
                </div>
                <div class="col-sm-6">
                    <div class="row">
                        <div class="col-sm-12 col-md-6">
                            <h4 class="title_underline">{l}Customer Details{endl}</h4>
                            <p class="ng-cloak"><a class="text-link" ui-sref="customerView({ 'customer_id':view.invoice.buyer_id })"><span ng-bind-html="view.invoice.invoice_buyer_name"></span></a> <a ng-if="view.invoice.buyer_id && view.invoice.customer_notes" ng-click="view.showCustomerNotes(view,view.invoice.buyer_id,view.invoice.customer_notes)"
                                    uib-tooltip="{l}Click icon to show account notes{endl}" tooltip-placement="bottom" style="display: inline-block;"><i class="fas fa-sticky-note text-info"></i></a></p>
                            <p>{{::view.invoice.invoice_buyer_vat}}</p>

                            <h4 class="title_underline">{l}Contact Details{endl}</h4>
                            <p>{{::view.invoice.invoice_contact_name}}</p>
                        </div>
                        <div class="col-sm-12 col-md-6">
                            <h4 class="title_underline">{l}Address{endl}</h4>
                            <p ng-bind-html="view.invoice.free_field"></p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-3">
                    <h4 class="title_underline">{l}More details{endl}</h4>
                    <p><strong>{l}Subject{endl}</strong> {{view.invoice.subject}}</p>
                    <p><strong>{l}Your reference{endl}</strong> {{view.invoice.your_ref}}</p>
                    <p><strong>{l}Our reference{endl}</strong> {{view.invoice.our_ref}}</p>
                    <p><strong>{l}Delivery{endl}</strong> {{view.invoice.delivery_method}}</p>
                    <p ng-if="view.invoice.invoice_delivery=='1'"><strong>{l}Send to{endl}</strong> {{view.invoice.send_to}}</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row intervention-options">
        <div class="col-xs-12">
            <div class="module_steps">
                <div class="module_steps-content">
                    <div class="row">
                        <div class="col-sm-12">
                            <a class="btn btn-plain" ng-if="view.invoice.is_active" title="{l}Edit{endl}" ui-sref="recinvoice.edit({'recurring_invoice_id': view.recurring_invoice_id})">{l}Edit{endl}</a>
                            <a class="btn btn-plain" ng-if="view.invoice.is_archived" ng-click="view.deleteInvoice()" title="{l}Delete{endl}" confirm-title="{l}Confirm{endl}" confirm-ok="{l}OK{endl}" confirm-cancel="{l}Cancel{endl}" confirm="{l}Are you sure you want to delete the selected entries{endl}?">{l}Delete{endl}</a>
                            <a class="btn btn-default" ng-if="view.invoice.is_archived" title="{l}Activate{endl}" ng-click="view.statusInvoice('0')">{l}Activate{endl}</a>
                            <div class="dropdown btn-inline" uib-dropdown ng-if="view.invoice.is_active">
                                <button class="btn btn-plain dropdown-toggle" id="invoiceOptions" type="button" uib-dropdown-toggle>
                      {l}Actions{endl} &nbsp;<span class="caret"></span>
                      </button>
                                <ul class="dropdown-menu" uib-dropdown-menu>
                                    <li ng-if="view.invoice.is_active"><a title="{l}Archive{endl}" ng-click="view.statusInvoice('1')" confirm-title="{l}Confirm{endl}" confirm-ok="{l}OK{endl}" confirm-cancel="{l}Cancel{endl}" confirm="{l}Are you sure, you wanna archive this entry?"><span class="fas fa-archive"></span><span> {l}Archive{endl}</span></a></li>
                                    <li><a ui-sref="recinvoice.edit({'duplicate_recurring_invoice_id': view.recurring_invoice_id})"><span class="fa fa-files-o"></span> {l}Duplicate{endl}</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <table class="table table_orders">
        <thead>
            <th class="col-xs-1">{l}Code{endl}</th>
            <th class="col-xs-3">{l}Item{endl}</th>
            <th class="col-xs-2 text-center">{l}Quantity{endl}</th>
            <th class="col-xs-2 text-center">{l}Unit Price{endl}</th>
            <th ng-show="view.invoice.hide_vattd" class="col-xs-1 text-center">{l}VAT{endl}</th>
            <th ng-show="view.invoice.hide_discount_line" class="col-xs-1 text-center">{l}Discount{endl}</th>
            <th class="col-xs-2 text-center">{l}Amount{endl}</th>
        </thead>
        <tbody>
            <tr ng-repeat="item in view.invoice.invoice_line">
                <td ng-if="item.content" colspan="7">
                    <p ng-bind-html="::item.description"></p>
                </td>
                <td ng-if="!item.content">
                    <code ng-show="item.article_code" class="text-ellipsis">{{::item.article_code}}</code>
                </td>
                <td ng-if="!item.content">
                    <div ng-bind-html="::item.description"></div>
                </td>
                <td ng-if="!item.content" class="text-center text-muted"><span>{{::item.quantity}}</span></td>
                <td ng-if="!item.content" class="text-center text-muted"><span ng-bind-html="::item.price"></span></td>
                <td ng-if="!item.content && view.invoice.hide_vattd" class="text-center text-muted"><span>{{::item.vat}} %</span></td>
                <td ng-if="!item.content && view.invoice.hide_discount_line" class="text-center text-muted"><span>{{::item.discount_line}} %</span></td>
                <td ng-if="!item.content" class="text-center"><span ng-bind-html="::item.line_total"></span></td>
            </tr>
        </tbody>
    </table>
    <div class="row">
        <div class="col-sm-8 col-sm-offset-4 order_total">
            <div class="row" ng-show="view.invoice.hide_total">
                <div class="col-xs-12 col-sm-7 col-sm-offset-5">
                    <div class="row">
                        <div class="col-xs-7 col-sm-7 col-lg-7 text-left">
                            <h4>{l}Total without VAT{endl}</h4>
                        </div>
                        <div class="col-xs-5 col-sm-5 col-lg-5 text-right text-amount">
                            <h4 class="text-amount">
                                <span ng-bind-html="view.invoice.total_wo_vat"></span>
                            </h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" ng-show="view.invoice.no_vat" ng-repeat="vat_line in view.invoice.vat_line">
                <div class="col-xs-12 col-sm-7 col-sm-offset-5">
                    <div class="row">
                        <div class="col-xs-7 col-sm-7 col-lg-7 text-left">
                            <h4>{l}Subtotal{endl} {l}VAT{endl} {{vat_line.vat_percent}} %</h4>
                        </div>
                        <div class="col-xs-5 col-sm-5 col-lg-5 text-right text-amount">
                            <h4 class="text-amount"><span ng-show="view.invoice.hide_currency1" ng-bind-html="view.invoice.currency_val"></span>
                                <span ng-bind-html="vat_line.subtotal"></span>
                                <span ng-show="view.invoice.hide_currency2" ng-bind-html="view.invoice.currency_val"></span></h4>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-7 col-sm-offset-5" ng-show="view.invoice.apply_discount > 1">
                    <div class="row">
                        <div class="col-xs-7 col-sm-7 col-lg-7 text-left">
                            <h4>{l}Discount{endl} ({{view.invoice.discount}}) %</h4>
                        </div>
                        <div class="col-xs-5 col-sm-5 col-lg-5 text-right text-amount">
                            <h4 class="text-amount"><span ng-show="view.invoice.hide_currency1" ng-bind-html="view.invoice.currency_val"></span> - <span ng-bind-html="vat_line.discount_value"></span>
                                <span ng-show="view.invoice.hide_currency2" ng-bind-html="view.invoice.currency_val"></span> </h4>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-7 col-sm-offset-5" ng-show="view.invoice.apply_discount > 1">
                    <div class="row">
                        <div class="col-xs-7 col-sm-7 col-lg-7 text-left">
                            <h4>{l}Net amount{endl} {l}at{endl} {{vat_line.vat_percent}} %</h4>
                        </div>
                        <div class="col-xs-5 col-sm-5 col-lg-5 text-right text-amount">
                            <h4 class="text-amount"> <span ng-show="view.invoice.hide_currency1" ng-bind-html="view.invoice.currency_val"></span>
                                <span ng-bind-html="vat_line.net_amount"></span>
                                <span ng-show="view.invoice.hide_currency2" ng-bind-html="view.invoice.currency_val"></span></h4>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-7 col-sm-offset-5">
                    <div class="row">
                        <div class="col-xs-7 col-sm-7 col-lg-7 text-left">
                            <h4>{l}VAT{endl} {l}for{endl} {{vat_line.vat_percent}} %</h4>
                        </div>
                        <div class="col-xs-5 col-sm-5 col-lg-5 text-right text-amount">
                            <h4 class="text-amount"><span ng-show="view.invoice.hide_currency1" ng-bind-html="view.invoice.currency_val"></span>
                                <span ng-bind-html="vat_line.vat_value"></span><span ng-show="view.invoice.hide_currency2" ng-bind-html="view.invoice.currency_val"></span>
                            </h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-7 col-sm-offset-5">
                    <div class="row">
                        <div class="col-xs-7 col-sm-7 col-lg-7 text-left">
                            <h4>{l}TOTAL{endl}</h4>
                        </div>
                        <div class="col-xs-5 col-sm-5 col-lg-5 text-right">
                            <h4 class="text-amount"><span ng-show="view.invoice.hide_currency1" ng-bind-html="view.invoice.currency_val"></span>
                                <span ng-bind-html="::view.invoice.total"></span>
                                <span ng-show="view.invoice.hide_currency2" ng-bind-html="view.invoice.currency_val"></span></h4>
                        </div>
                    </div>
                </div>
            </div>
            <!--  <div class="row" ng-show="view.invoice.total_currency_hide">
          <div class="col-xs-7 col-xs-offset-5">
            <div class="row">
              <div class="col-sm-7 col-lg-7 text-left text-muted">
                <strong>{l}TOTAL in{endl} <span ng-bind-html="::view.invoice.default_currency_name"></span></strong>
              </div>
              <div class="col-sm-5 col-lg-5 text-right text-muted text-strong">
                <span ng-bind-html="::view.invoice.total_default_currency"></span>
              </div>
            </div>
          </div>
        </div> -->
        </div>
    </div>
    <div class="user_summary" ng-class="{ 'is-open': view.showTxt.viewNotes }">
        <button class="btn-summary text-link" ng-click="view.showTxt.viewNotes=!view.showTxt.viewNotes"><span class="glyphicon glyphicon-chevron-down pull-right"></span>{l}Notes & General conditions{endl}</button>
        <div class="row col-top col-bottom">
            <div class="col-sm-12">
                <p ng-bind-html="::view.invoice.notes2"></p>
            </div>
            <div class="col-sm-12">
                <p ng-bind-html="::view.invoice.down_notes"></p>
            </div>
        </div>
    </div>
    <logging do='invoice-recurring_invoice' advanced="{{view.hide_invoice}}" type="recurring_invoice_id" ref="{{view.recurring_invoice_id}}"></logging>
</div>