<div class="page-header-buttons text-right">
    <!-- <button go-to="" state="recinvoices" type="submit" class="btn btn-sm btn-default"><strong>{l}Back{endl}</strong></button> -->
    <!-- <navigator ng-if="edit.item.recurring_invoice_id != 'tmp'" pag="invoice-recurring_invoices" itemid="{{edit.item.recurring_invoice_id}}" originalPage="recinvoice.edit"></navigator> -->
    <!-- <button  go-to="" state="recinvoices"  type="submit" class="btn btn-link"><span class="glyphicon glyphicon-list"></span> <strong>{l}List{endl}</strong></button>
    <button type="submit" class="btn btn-default" ng-disabled="!edit.showTxt.address || edit.item.add_customer" ng-click="edit.save(true)">{l}Save{endl}</button> -->
</div>
<!-- <div uib-alert ng-repeat="alert in edit.alerts" type="{{alert.type}}" close="edit.alerts.splice($index, 1);" ng-class="['alert-' + (alert.type || 'warning'), 'alert-fixed' ]" dismiss-on-timeout='5000'>{{alert.msg}}</div> -->
<div class="user_summary" ng-class="{'is-open': edit.showTxt.invoice_settings, '': !edit.showTxt.invoice_settings}">
    <button class="btn-summary text-link" ng-disabled="!edit.item.buyer_id || edit.item.add_customer" ng-click="edit.showTxt.invoice_settings = !edit.showTxt.invoice_settings"><span class="glyphicon glyphicon-chevron-down pull-right"></span> {l}Invoice Settings{endl}</button>
    <div class="row col-top col-bottom">
        <div class="col-sm-6 col-md-6">
            <div class="form-horizontal form-squeeze">
                <!-- <img class="img-responsive" ng-src="{{edit.item.main_comp_info.logo}}" alt=""> -->
                <div class="form-group">
                    <label class="col-sm-3 text-left control-label">{l}Subject{endl}</label>
                    <div class="col-sm-9 padd-right">
                        <input type="text" class="form-control" ng-model="edit.item.title">
                    </div>
                </div>
                <!-- /.form-group -->
                <div class="form-group">
                    <label class="col-sm-3 text-left control-label">{l}Delivery{endl}</label>
                    <div class="col-sm-9 col-md-6 col-lg-4">
                        <!-- <div class="radio">
                                <label>
                                    <input type="radio" value="0" ng-model="edit.item.invoice_delivery" ng-click="edit.item.view_send_box = false"> {l}Save invoice as draft in invoices overview on scheduled date{endl}
                                </label>
                            </div>
                            <div class="radio">
                                <label>
                                    <input type="radio" value="1" ng-model="edit.item.invoice_delivery" ng-click="edit.item.view_send_box = true"> {l}Automatically send this invoice via email on scheduled date{endl}
                                </label>
                            </div> -->
                        <selectize config="edit.deliveryCfg" options="edit.item.delivery_list" ng-model="edit.item.invoice_delivery"></selectize>
                    </div>
                    <div class="col-sm-9 col-sm-offset-3 col-md-3 col-md-offset-0 col-lg-5 control-label padd-right" ng-if="edit.item.view_send_box">
                        <div class="row">
                            <a class="text-link col-md-6 col-lg-6 mail" href="#" ng-click="edit.showEmail()">{l}Configure email{endl} <span class="mandatory-label">*</span></a>
                            <div class="alert alert-sm alert-danger mail col-md-6 col-lg-6" ng-if="edit.alertsField.recipients">{l}Configure email{endl}</div>
                        </div>
                    </div>
                </div>
                <!-- /.form-group -->
                <div class="form-group">
                    <label class="col-sm-3 text-left control-label">{l}VAT Regime{endl}</label>
                    <div class="col-sm-9 col-md-6 col-lg-4">
                        <!--                   <select class="form-control" ng-model="edit.item.vat_regime_id">
                                                <option value='0'>{l}Select{endl}</option>
                                                <option ng-repeat="option in edit.item.vat_regime_dd track by option.id" value="{{option.id}}" ng-bind-html="option.name"></option>
                                              </select> -->
                        <selectize config="edit.vatregcfg" options="edit.item.vat_regime_dd" ng-model="edit.item.vat_regime_id" id="vat_regime_select"></selectize>
                    </div>
                    <!-- <div class="col-sm-9 col-sm-offset-3 col-md-3 col-md-offset-0 col-lg-5 control-label" ng-if="edit.item.vat_regime_id && edit.item.vat_regular">
                            <a class="text-link" href="#" ng-click="edit.vatApplyAll()">{l}Apply VAT Regime on all lines{endl}</a>
                        </div> -->
                </div>
                <!-- /.form-group -->
                <div class="form-group">
                    <label class="col-sm-3 text-left control-label">{l}Line discount{endl}</label>
                    <div class="col-sm-4 col-md-3 col-lg-2">
                        <!-- <toggle-switch  ng-model="edit.item.apply_discount_line" on-change="edit.changeDiscount()" class="switch-primary" off-label="{l}No{endl}" on-label="{l}Yes{endl}"></toggle-switch> -->
                        <label class="switch pull-left small_margin">
                                <input type="checkbox" id="checkbox4" ng-model="edit.item.apply_discount_line" ng-change="edit.changeDiscount()">
                                <span class="slider round"></span>
                                </label>
                    </div>
                    <div class="col-sm-4 col-md-3 col-lg-2 " ng-show="edit.item.apply_discount_line">
                        <div class="input-group">
                            <!-- <input type="text" class="form-control" ng-model="edit.item.discount" display-nr="" placeholder="{l}Discount{endl}" ng-change="edit.changeDiscount()" ng-if="edit.item.apply_discount > 1"> -->
                            <input type="text" class="form-control" ng-model="edit.item.discount_line_gen" display-nr="" placeholder="{l}Discount{endl}" ng-if="edit.item.apply_discount_line == 1">
                            <span class="input-group-addon" ng-if="edit.item.apply_discount_line == 1">%</span>
                        </div>
                    </div>
                    <div class="col-sm-4 col-md-3 col-lg-5  c_pad control-label" ng-if="edit.item.apply_discount == 1 || edit.item.apply_discount == 3">
                        <a class="text-link text-right right_imp" href="#" ng-click="edit.changeDisc()">{l}Apply discount on all lines{endl}</a>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 text-left control-label">{l}Global discount{endl}</label>
                    <div class="col-sm-4 col-md-3 col-lg-2">
                        <!-- <toggle-switch  ng-model="edit.item.apply_discount_global" on-change="edit.changeDiscount()" class="switch-primary" off-label="{l}No{endl}" on-label="{l}Yes{endl}"></toggle-switch> -->
                        <label class="switch pull-left small_margin">
                                <input type="checkbox" id="" ng-model="edit.item.apply_discount_global" ng-change="edit.changeDiscount()">
                                <span class="slider round"></span>
                                </label>
                    </div>
                    <div class="col-sm-4 col-md-3 col-lg-2 ">
                        <div class="input-group">
                            <input type="text" class="form-control" ng-model="edit.item.discount" display-nr="" placeholder="{l}Discount{endl}" ng-change="edit.changeDiscount()" ng-if="edit.item.apply_discount_global == 1">
                            <!-- <input type="text" class="form-control" ng-model="edit.item.discount_line_gen" display-nr="" placeholder="{l}Discount{endl}"  ng-if="edit.item.apply_discount == 1"> -->
                            <span class="input-group-addon" ng-if="edit.item.apply_discount_global == 1">%</span>
                        </div>
                    </div>
                </div>
            </div>
            <!-- <div class="row">
                <div class="col-sm-12">
                    <h4>{{edit.item.main_comp_info.name}}</h4> -->
            <!-- <p> <span ng-bind-html="edit.item.main_comp_info.address"></span><br>{{edit.item.main_comp_info.zip}} {{edit.item.main_comp_info.city}}<br>
                      {{edit.item.main_comp_info.country}}<br>
                      {{edit.item.main_comp_info.phone}}</p> -->
            <!-- <p><a href="#" class="text-link" ng-click="edit.openModal(edit,'ChangeIdentity')">{l}Change Identity{endl}</a> <span class="text-link_space">•</span> <a href="#" class="text-link">{l}Edit Your Information{endl}</a></p> -->
            <!--  <p>{l}When created the billing address will be taken{endl}</p>
                </div>
            </div>  -->
        </div>
        <div class="col-sm-6 col-md-6">
            <div class="form-horizontal form-squeeze">
                <div class="form-group">
                    <label class="col-sm-3 col-sm-offset-2 text-left control-label">{l}Currency{endl} </label>
                    <div class="col-sm-7 col-lg-3">
                        <selectize config="edit.currencyCfg" options="edit.item.currency_type_list" ng-model="edit.item.currency_type"></selectize>
                    </div>
                </div>
                <!--<div class="form-group">
                    <label class="col-sm-5 col-lg-4 control-label">{l}VAT{endl}</label>
                    <div class="col-sm-7 col-lg-8">
                        <div class="row col-bottom">
                          <div class="col-sm-5" ng-show="edit.item.no_vat">
                            <div class="input-group">
                              <input display-nr="" type="text" class="form-control" ng-model="edit.item.vat">
                              <span class="input-group-addon">%</span>
                            </div>                    
                          </div>                     
                          <a class="text-link" href="#" ng-show="edit.item.no_vat" ng-click="edit.changeVat()">{l}Remove VAT{endl}</a>
                          <a class="text-link" href="#" ng-show="edit.item.no_vat" ng-click="edit.vatApplyAll()">{l}Apply VAT on all lines{endl}</a>
                          <div class="col-sm-12" ng-show="edit.item.show_vat">
                            <a class="text-link" href="#"  ng-click="edit.changeVat()">{l}Add VAT{endl}</a>
                          </div>                    
                        </div>
                    </div>
                </div>
                 <div class="form-group col-top">
                  <label class="col-sm-5 col-lg-4 control-label">{l}Discount{endl}</label>
                  <div class="col-sm-7 col-lg-8">
                    <div class="row">
                      <div class="col-sm-7">
                        <selectize config="edit.cfg" options="edit.item.APPLY_DISCOUNT_LIST" ng-change="edit.changeDiscount({{edit.item.apply_discount}})" ng-model="edit.item.apply_discount" ></selectize>
                      </div>           
                      <div class="col-sm-5" ng-show="edit.item.hide_global_discount">
                        <div class="input-group">
                          <input display-nr="" type="text" class="form-control" ng-model="edit.item.discount" ng-blur="edit.changeDisc()">
                          <span class="input-group-addon">%</span>
                        </div>
                      </div>
                      <div class="col-sm-5" ng-show="edit.item.hide_line_global_discount">
                        <div class="input-group">
                          <input display-nr="" type="text" class="form-control" ng-model="edit.item.discount_line_gen" ng-blur="edit.changeDisc()">
                          <span class="input-group-addon">%</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div> -->
                <div class="form-group">
                    <label class="col-sm-3 col-sm-offset-2 text-left control-label">{l}Language{endl}</label>
                    <div class="col-sm-7 col-lg-7">
                        <!--                   <select class="form-control form-language" ng-model="edit.item.email_language" ng-change="edit.changeLang()">
                                            <option ng-repeat="option in edit.item.language_dd_admin track by option.id" value="{{option.id}}">{{option.name}}</option>
                                          </select> -->
                        <selectize config="edit.cfg" options="edit.item.language_dd_admin" ng-change="edit.changeLang()" ng-model="edit.item.email_language"></selectize>
                    </div>
                </div>
                <!-- /.form-group -->
                <div class="form-group">
                    <label class="col-sm-3 col-sm-offset-2 text-left control-label">{l}Account Manager{endl}</label>
                    <div class="col-sm-7">
                        <selectize config='edit.accmanagerAutoCfg' options='edit.item.accmanager' ng-model="edit.item.acc_manager_id"></selectize>
                    </div>
                </div>
                <div class="form-group" ng-if="edit.item.yuki_project_enabled">
                    <label class="col-sm-3 col-sm-offset-2 text-left control-label">{l}Yuki Project{endl}</label>
                    <div class="col-sm-7">
                        <selectize config='edit.cfg' options='edit.item.yuki_projects' ng-model="edit.item.yuki_project_id"></selectize>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 col-sm-offset-2 text-left control-label">{l}Business Units{endl}</label>
                    <div class="col-sm-7">
                        <selectize config='edit.selectCfg' options='edit.item.multiple_identity_dd' ng-model="edit.item.identity_id"></selectize>
                    </div>
                </div>
                <!-- /.form-group -->
                <!--  <div class="form-group col-top" ng-if="edit.item.customer_mandat">
                    <label class="col-sm-5 col-lg-4 control-label">{l}SEPA Mandate{endl}</label>
                    <div class="col-sm-7 col-lg-8">
                        <select class="form-control" ng-model="edit.item.sepa_mandates">
                            <option ng-repeat="option in edit.item.sepa_mandate_dd track by option.id" value="{{option.id}}">{{option.name}}</option>
                        </select>
                    </div>
                </div> -->
                <!-- /.form-group -->
                <!-- <div class="form-group" ng-if="edit.item.segment_dd.length">
                    <label class="control-label col-sm-5 col-lg-4">{l}Segment{endl}</label>
                    <div class="col-sm-7 col-lg-8">
                        <selectize config='edit.selectCfg' options='edit.item.segment_dd' ng-model="edit.item.segment_id"></selectize>
                    </div>
                </div> -->
                <!-- <div class="form-group" ng-if="edit.item.source_dd.length">
                    <label class="control-label col-sm-5 col-lg-4">{l}Source{endl}</label>
                    <div class="col-sm-7 col-lg-8">
                        <selectize config='edit.selectCfg' options='edit.item.source_dd' ng-model="edit.item.source_id"></selectize>
                    </div>
                </div>  -->
                <!-- <div class="form-group" ng-if="edit.item.type_dd.length">
                    <label class="col-sm-3 col-sm-offset-2 text-left control-label">{l}Type{endl}</label>
                    <div class="col-sm-7">
                        <selectize config='edit.selectCfg' options='edit.item.type_dd' ng-model="edit.item.type_id"></selectize>
                    </div>
                </div> -->
            </div>
        </div>
    </div>
</div>
<!-- /.user_summary -->
<div class="row">
    <div class="col-sm-6">
        <div class="panel panel-default panel-customer_details">
            <div class="panel-body panel-current_customer" ng-class="{ 'panel-add_customer': edit.item.add_customer && edit.showTxt.addBtn }">
                <!-- <a class="panel-edit" href="#" ng-click="edit.showTxt.address = false" ng-if="edit.showTxt.address"><span class="fas fa-pen"></span></a> -->
                <div ng-if="edit.showTxt.address && !edit.item.add_customer">
                    <a class="panel-edit text-link" href="#" ng-click="edit.showEditFnc(edit)">{l}Edit{endl}</a>
                    <h2>{{edit.item.buyer_name}} <small class="quick_edits"><span class="text-link_space">•</span> <a href="#" class="text-link text-muted edit-customer" ng-click="edit.openModal(edit, 'EditContact');" ng-if="edit.item.field == 'contact_id'" >{l}Edit Customer{endl}</a><a href="#" class="text-link text-muted edit-customer" ng-click="edit.openModal(edit, 'EditCustomer');" ng-if="edit.item.field == 'customer_id'" >{l}Edit Customer{endl}</a> <span class="text-link_space" >•</span> <a href="#" class="text-link text-muted delete-customer" ng-click="edit.removeCust(edit)" >{l}Remove{endl}</a></small></h2>
                    <p ng-if="edit.item.contact_name && edit.item.field == 'customer_id'" class=""><span ng-bind-html="edit.item.contact_name"></span> <small class="quick_edits"><span class="text-link_space">•</span> <a href="#" class="text-link text-muted edit-contact" ng-click="edit.openModal(edit, 'EditContact');" >{l}Edit Contact{endl}</a> <span class="text-link_space">•</span> <a href="#" class="text-link text-muted" ng-click="edit.removeContact(edit)">{l}Remove{endl}</a></small></p>
                    <p><a href="#" class="text-link edit-customer" ng-click="edit.showEditFnc(edit)" ng-if="!edit.item.contact_name">{l}Add a Contact{endl}</a>
                        <!-- <span class="text-link_space" ng-if="!edit.item.contact_name">•</span> <a href="#" class="text-link delete-customer" ng-click="edit.openModal(edit,'AddCustomer',edit.contactAddObj,'md');" ng-if="!edit.item.contact_name">{l}Create a new Contact{endl}</a> --></p>
                    <!--<div class="delivery-address" ng-if="!edit.item.view_delivery">
                      <span ng-bind-html="edit.item.free_field_txt"></span>-->
                    <!-- <small class="quick_edits delivery-controller"><span class="text-link_space">•</span> <a href="#" class="text-link text-muted" ng-click="edit.showEditFnc(edit)">{l}Edit address{endl}</a></small> -->
                    <!--</div>-->
                </div>
                <!-- /showTxt.address -->
                <div ng-if="edit.item.add_customer">
                    <button class="btn btn-block btn-lg btn-blank" ng-if="edit.showTxt.addBtn" ng-click="edit.showCCSelectize(edit)"><span class="fa fa-user-plus icon-holder"></span> {l}Add Customer{endl}</button>
                    <selectize config='edit.ccAutoCfg' options='edit.auto.options.cc' ng-model="edit.item.cc_id" id="custandcont" ng-if="!edit.showTxt.addBtn"></selectize>
                </div>
                <div class="form-horizontal text-left " ng-if="!edit.showTxt.address">
                    <div class="form-group">
                        <label class="col-sm-3 control-label">{l}Account{endl}</label>
                        <div class="col-sm-9">
                            <div class="so-dropdown" ng-class="{ 'so-active':edit.item.buyer_id!=='tmp' &&  edit.item.buyer_id!='' &&  edit.item.buyer_id!==null}">
                                <!--  <input type="text" class="form-control" ng-model="edit.item.buyer_name" ng-disabled="true" > -->
                                <selectize config='edit.ccAutoCfg' options='edit.auto.options.cc' ng-model="edit.item.buyer_id" id="custandcont"></selectize>
                                <span class="glyphicon glyphicon-remove so-icon so-remove"  ng-click="edit.removeAccount(edit)"></span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">{l}Contact{endl}</label>
                        <div class="col-sm-9">
                            <div class="so-dropdown" ng-class="{ 'so-active':edit.item.contact_id && edit.item.contact_id !=0}">
                                <selectize config='edit.contactAutoCfg' options='edit.auto.options.contacts' ng-model="edit.item.contact_id" id="contact_id" ng-disabled="!edit.item.buyer_id"></selectize>
                                <span class="glyphicon glyphicon-remove so-icon so-remove"  ng-click="edit.removeContact(edit)"></span>
                            </div>
                        </div>
                    </div>
                    <!-- <div class="form-group extra_address" >
                        <label class="col-sm-3 control-label">{l}Address{endl}</label>
                        <div class="col-sm-9 "> -->
                    <!-- <selectize config='edit.addressAutoCfg' options='edit.auto.options.addresses' ng-model="edit.item.main_address_id" id="main_address" ></selectize> -->
                    <!-- <label class="control-label">{l}When created the billing address will be taken{endl}</label>
                        </div>
                    </div> -->
                    <!--               <div class="form-group">
                                    <label class="col-sm-3 control-label">{l}Billing{endl}</label>
                                    <div class="col-sm-9">
                                      <div class="checkbox checkbox-primary">
                                        <input type="checkbox" id="checkbox1" ng-model="edit.item.sameAddress" ng-click="edit.removeDeliveryAddr()"> 
                                        <label for="checkbox1">
                                        </label>
                                        <span class="text-muted">{l}Billing address same as main address{endl}</span>
                                      </div>
                                    </div>
                                  </div>
                                  <div class="form-group extra_address" ng-if="!edit.item.sameAddress">
                                    <div class="col-sm-9 col-sm-offset-3">
                                      <selectize config='edit.addressAutoCfg' options='edit.auto.options.addresses' ng-model="edit.item.delivery_address_id" id="delivery_address" ></selectize>
                                    </div>
                                  </div> -->
                    <!-- <div class="text-right">
                        <a href="#" class="text-muted" ng-click="edit.cancelEdit(edit)">{l}Cancel{endl}</a> <span class="text-link_space">• </span> 
                        <button type="submit" class="btn btn-default" ng-click="edit.saveClientData(edit, edit.item.field)">{l}Save{endl}</button>
                    </div> -->
                </div>
            </div>
        </div>
        <!-- /.panel -->
    </div>
    <div class="col-sm-6">
        <form class="form-horizontal form-squeeze">
            <div class="form-group" ng-class="{ 'form-group_alert' : edit.alertsField.start_date }">
                <label class="col-sm-3 col-sm-offset-2 text-left control-label">{l}Start Date{endl} <span class="mandatory-label">*</span></label>
                <div class="col-sm-7">
                    <label class="text-left control-label" ng-if="edit.item.recurring_invoice_id != 'tmp' && !edit.item.duplicate_recurring_invoice_id">{{edit.item.start_date_txt}}</label>
                    <div class="so-field" ng-if="edit.item.recurring_invoice_id == 'tmp' || edit.item.duplicate_recurring_invoice_id">
                        <span class="glyphicon glyphicon-calendar so-icon" ng-click="edit.datePickOpen.start_date = true"></span>
                        <input type="text" ng-disabled="edit.item.add_customer" class="form-control form-control-border-right" name="start_date" ng-model="edit.item.start_date" uib-datepicker-popup="{{edit.format}}" is-open="edit.datePickOpen.start_date" datepicker-options="edit.dateOptions"
                            ng-required="true" close-text="Close" placeholder="{l}Start Date{endl}" show-button-bar="false" ng-click="edit.datePickOpen.start_date = true" ng-change="edit.setStartDate()" />
                    </div>
                    <!-- /.so-field -->
                    <div class="alert alert-sm alert-danger" ng-if="edit.alertsField.start_date">{{edit.alertsField.start_date}}</div>
                </div>
            </div>
            <!-- /.form-group -->
            <div class="form-group" ng-class="{ 'form-group_alert' : edit.alertsField.end_date }">
                <label class="col-sm-3 col-sm-offset-2 text-left control-label">{l}End Date{endl}</label>
                <div class="col-sm-7">
                    <div class="so-field">
                        <span class="glyphicon glyphicon-calendar so-icon" ng-click="edit.datePickOpen.end_date = true"></span>
                        <input type="text" ng-disabled="edit.item.add_customer" class="form-control form-control-border-right" name="end_date" ng-model="edit.item.end_date" uib-datepicker-popup="{{edit.format}}" is-open="edit.datePickOpen.end_date" datepicker-options="edit.dateOptions"
                            ng-required="true" close-text="Close" placeholder="{l}End Date{endl}" show-button-bar="false" ng-click="edit.datePickOpen.end_date = true" />
                        <div class="alert alert-sm alert-danger" ng-if="edit.alertsField.end_date">{{edit.alertsField.end_date}}</div>
                    </div>
                    <!-- /.so-field -->
                </div>
            </div>
            <!-- /.form-group -->
            <div class="form-group" ng-if="edit.item.contract_id && edit.item.contract_id != '0'">
                <label class="col-sm-3 col-sm-offset-2 text-left control-label">{l}End when contract ends{endl}</label>
                <div class="col-sm-7">
                    <toggle-switch ng-model="edit.item.end_contract" class="switch-primary" off-label="{l}No{endl}" on-label="{l}Yes{endl}"></toggle-switch>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 col-sm-offset-2 text-left control-label">{l}Payment Method{endl}</label>
                <div class="col-sm-7">
                    <selectize config="edit.cfg" options="edit.item.payment_methods" ng-model="edit.item.payment_method" ng-disabled="edit.item.add_customer"></selectize>
                </div>
            </div>
            <!-- /.form-group -->
            <div class="form-group" ng-if="edit.item.payment_method=='3' && edit.item.allow_sepa">
                <label class="col-sm-3 col-sm-offset-2 text-left control-label">{l}SEPA Mandate{endl} <i class="fa fa-question-circle" uib-tooltip="{l}Go to Sales Invoices -> SEPA -> Mandates -> List of Mandates to manage the list of mandates{endl}" tooltip-placement="left"></i></label>
                <div class="col-sm-7">
                    <selectize config="edit.cfg" options="edit.item.sepa_mandate_dd" ng-model="edit.item.sepa_mandates" ng-disabled="edit.item.add_customer || !edit.item.customer_mandat_active || !edit.item.payment_methods[2]"></selectize>
                </div>
            </div>
            <!-- /.form-group -->
            <div class="form-group">
                <label class="col-sm-3 col-sm-offset-2 text-left control-label">{l}Frequency{endl}</label>
                <div class="col-sm-7">
                    <!--                   <select class="form-control" ng-model="edit.item.frequency">
                                        <option ng-repeat="option in edit.item.frequency_list track by option.id" value="{{option.id}}" ng-bind-html="option.name"></option>
                                      </select> -->
                    <label class="text-left control-label" ng-if="edit.item.recurring_invoice_id != 'tmp' && !edit.item.duplicate_recurring_invoice_id">{{edit.item.frequency_txt}}</label>
                    <selectize config="edit.frequencyCfg" options="edit.item.frequency_list" ng-model="edit.item.frequency" ng-disabled="edit.item.add_customer" ng-if="edit.item.recurring_invoice_id == 'tmp' || edit.item.duplicate_recurring_invoice_id"></selectize>
                    <div class="row margin-top" ng-show="edit.item.frequency == '5' && (edit.item.recurring_invoice_id == 'tmp' || edit.item.duplicate_recurring_invoice_id)">
                        <div class="col-sm-8">
                            <div class="input-group">
                                <span class="input-group-addon"> {l}Every{endl}</span>
                                <input type="text" class="form-control" ng-model="edit.item.days" ng-disabled="!edit.item.buyer_id && !edit.item.contact_id">
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <span>{l}Days{endl}</span>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.form-group -->
            <div class="form-group">
                <label class="col-sm-3 col-sm-offset-2 text-left control-label">{l}Your reference{endl}</label>
                <div class="col-sm-7">
                    <input type="text" class="form-control" ng-model="edit.item.your_ref" ng-disabled="edit.item.add_customer">
                </div>
            </div>
            <!-- /.form-group -->
            <div class="form-group">
                <label class="col-sm-3 col-sm-offset-2 text-left control-label">{l}Our reference{endl}</label>
                <div class="col-sm-7">
                    <input type="text" class="form-control" ng-model="edit.item.our_ref" ng-disabled="edit.item.add_customer">
                </div>
            </div>
            <!-- /.form-group -->
            <div class="form-group" ng-if="edit.item.contract_id && edit.item.recurring_invoice_id == 'tmp'">
                <label class="col-sm-3 col-sm-offset-2 text-left control-label">{l}Adjust prices{endl}</label>
                <div class="col-sm-7">
                    <toggle-switch ng-model="edit.item.adjust_prices" class="switch-primary" on-change="edit.adjustPrice()" off-label="{l}No{endl}" on-label="{l}Yes{endl}"></toggle-switch>
                </div>
            </div>
        </form>
        <!-- /.form-horizontal -->
    </div>
</div>
<!-- /.intervention-details -->
<div class="row">
    <div class="col-sm-12">
        <div class="module_steps-highlight module_steps-fillsheet" ng-show="edit.item.view_send_box_old">
            <form class="form-horizontal text-left">
                <div class="form-group" ng-class="{ 'form-group_alert' : edit.alertsField.recipients }">
                    <label for="" class="col-sm-3 control-label"><strong>{l}Recipients{endl}</strong> <span class="mandatory-label">*</span></label>
                    <div class="col-sm-9">
                        <selectize config='edit.emailAutoCfg' options='edit.auto.options.recipients' ng-model="edit.email.recipients"></selectize>
                        <div class="alert alert-sm alert-danger" ng-if="edit.alertsField.recipients">{{edit.alertsField.recipients}}</div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="" class="col-sm-3 control-label">{l}Send me a copy{endl}</label>
                    <div class="col-sm-9 checkbox checkbox-primary">
                        <input type="checkbox" id="checkbox2" ng-model="edit.email.copy" name="copy">
                        <label for="checkbox2">
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <label for="" class="col-sm-3 control-label">{l}Subject{endl}</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" ng-model="edit.email.subject" placeholder="{l}Subject{endl}">
                    </div>
                </div>
                <div class="form-group">
                    <label for="" class="col-sm-3 control-label">{l}Message{endl}</label>
                    <div class="col-sm-9">
                        <textarea class="form-control" ng-model="edit.email.text" placeholder="{l}Message{endl}" rows="10" ng-if="::edit.email.use_html == '0'"></textarea>
                        <textarea ui-tinymce="edit.tinymceOptions" ng-model="edit.email.text" class="form-control mail_send" ng-if="::edit.email.use_html == '1'"></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <label for="" class="col-sm-3 control-label">{l}Include a PDF version of the invoice{endl}</label>
                    <div class="col-sm-9 checkbox checkbox-primary">
                        <input type="checkbox" id="checkbox3" ng-model="edit.email.include_pdf">
                        <label for="checkbox3">
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <label for="" class="col-sm-3 control-label">{l}Include an XML version of the invoice{endl}</label>
                    <div class="col-sm-9 checkbox checkbox-primary">
                        <input type="checkbox" id="checkbox4" ng-model="edit.email.include_xml">
                        <label for="checkbox4">
                        </label>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<table class="table table_head_only table_orders" cellspacing="0" cellpadding="0">
    <thead>
        <tr>
            <th>
                <div class="row">
                    <div class="col-sm-2" ng-show="edit.item.code_width">{l}Code{endl}</div>
                    <div class="col-sm-{{edit.item.item_width}} col-article">{l}Article{endl}</div>
                    <div class="col-sm-1 col-quantity">{l}Quantity{endl}</div>
                    <div class="col-sm-1 col-unitprice">{l}Unit Price{endl}</div>
                    <div class="col-sm-1 col-vat text-center" ng-show="edit.item.hide_vattd">{l}VAT{endl}</div>
                    <div class="col-sm-1 text-center">{l}Unit price + VAT{endl}</div>
                    <div class="col-sm-1" ng-show="edit.item.hide_discount_line">{l}Discount{endl}</div>
                    <div class="col-sm-1 text-center">{l}Amount{endl}</div>
                </div>
            </th>
        </tr>
    </thead>
</table>
<ul class="table table_orders" id="board" data-as-sortable="dragControlListeners" data-ng-model="edit.item.invoice_line">
    <li ng-repeat="item in edit.item.invoice_line" data-as-sortable-item>
        <div class="row">
            <div class="row_handler">
                <span class="btn-drag" data-as-sortable-item-handle>&nbsp;</span>
                <span class="btn-remove"><span class="fa fa-trash" ng-click="edit.removeLine($index)"></span></span>
            </div>
            <div class="col-sm-12 wysiwyg-holder wysiwyg-hide" ng-if="item.content">
                <span class="hideOnDesktop">{l}Item{endl} </span>
                <!-- <input type="text" class="form-control" ng-model="item.description"> -->
                <textarea ui-tinymce="edit.tinymceOptionsLines" class="variable_assign" rows="1" ng-model="item.description"> </textarea>
            </div>
            <!-- item.full -->
            <div class="col-sm-2" ng-if="!item.content && item.show_for_articles">
                <span class="hideOnDesktop">{l}Code{endl}</span>
                <code class="text-ellipsis">{{item.article_code}}</code>
            </div>
            <div class="col-sm-{{item.item_width}} col-article" ng-if="!item.content">
                <span class="hideOnDesktop">{l}Article{endl} </span>
                <textarea ng-bind-html="item.description" ng-model="item.description" class="form-control" resize-txt rows="1"></textarea>
            </div>
            <div class="col-sm-1 col-quantity" ng-if="!item.content">
                <span class="hideOnDesktop">{l}Quantity{endl} </span>
                <input select-tablet-all="true" type="text" ng-model="item.quantity" class="form-control" display-nr="" ng-blur="edit.calcInvoice()" />
            </div>
            <div class="col-sm-1 col-unitprice" ng-if="!item.content">
                <span class="hideOnDesktop">{l}Unit Price{endl} </span>
                <input select-tablet-all="true" type="text" ng-model="item.price" class="form-control" display-nr="" use-digits="true" ng-blur="edit.calcInvoice()" />
            </div>
            <div class="col-sm-1 col-vat text-center text-muted" ng-if="!item.content && edit.item.hide_vattd">
                <span class="hideOnDesktop">{l}VAT{endl} </span>
                <!-- <div class="input-group">
                  <input select-tablet-all="true" type="text" ng-model="item.vat" class="form-control" ng-disabled="edit.item.block_vat" display-nr="" ng-blur="edit.calcInvoice()" />
                  <span class="input-group-addon input-group-addon_shrink">%</span>
                </div> -->
                <div class="row">
                    <div class="col-sm-12">
                        <selectize config="edit.linevatcfg" options="edit.item.generalvats" ng-model="item.vat" ng-disabled="edit.item.block_vat" ng-change="edit.calcInvoice()"></selectize>
                    </div>
                </div>
            </div>
            <div class="col-sm-1 text-center" ng-if="!item.content">
                <span class="hideOnDesktop">{l}Unit price + VAT{endl} </span>
                <input select-tablet-all="true" type="text" ng-model="item.price_vat" class="form-control" display-nr="" ng-blur="edit.changePriceVat(item.price_vat, $index)" />
            </div>
            <div class="col-sm-1" ng-if="!item.content && edit.item.hide_discount_line">
                <span class="hideOnDesktop">{l}Discount{endl} </span>
                <div class="input-group">
                    <input select-tablet-all="true" type="text" ng-model="item.discount_line" class="form-control" display-nr="" ng-blur="edit.calcInvoice()" />
                    <span class="input-group-addon input-group-addon_shrink">%</span>
                </div>
            </div>
            <div class="col-sm-1 text-center" ng-if="!item.content">
                <span class="hideOnDesktop">{l}Amount{endl} </span> {{item.line_total}}
            </div>
        </div>
    </li>
</ul>
<div class="table_orders-add">
    <!--   {show:goods}
        <button class="btn btn-block btn-blank add_article text-link" ng-click="edit.addArticle()"><span class="fa fa-plus icon-holder"></span>{l}Add Item{endl}</button>
      {endshow} -->
    <selectize config='edit.articlesListAutoCfg' options='edit.auto.options.articles_list' ng-model="edit.selected_article_id" id="article_list_id" ng-if="edit.showTxt.addArticleBtn"></selectize>
    <div class="btn-group btn-add_line_new" uib-dropdown>
        <a href="#" class="btn text-link dropdown-toggle" uib-dropdown-toggle><span class="fa fa-plus icon-holder"></span>{l}Add Content{endl}</a>
        <ul class="dropdown-menu add_content" uib-dropdown-menu>
            {show:goods}
            <li><a href="#" ng-click="edit.addArticle()"><i class="fa fa-plus" aria-hidden="true"></i>{l}Add an Article of the catalog{endl}</a></li>
            {endshow}
            <li><a href="#" ng-click="edit.openModal(edit, 'addArticle', item, 'lg')"><i class="fa fa-plus-square" aria-hidden="true"></i>{l}Add Articles of the catalog in bulk{endl}</a></li>
            <li><a href="#" ng-click="edit.addLine(false, 0)"><i class="fa fa-plus-square-o" aria-hidden="true"></i>{l}Add an article out of catalog{endl}</a></li>
            <li><a href="#" ng-click="edit.addLine(true, 1)"><i class="fa fa-header" aria-hidden="true"></i>{l}Add Title{endl}</a></li>
            <li><a href="#" ng-click="edit.addLine(true, 0)"><i class="fa fa-code" aria-hidden="true"></i>{l}Add Free Text{endl}</a></li>
            <!--       <li><a href="#" ng-click="edit.addLine(true,1)">{l}h1. Title{endl}</a></li>
                  <li><a href="#" ng-click="edit.addLine(true,2)">{l}h2. Secondary Title{endl}</a></li> -->
            <!-- {show:services-free}
            <li><a href="#">{l}Add Grouped Tasks{endl}</a></li>
            {endshow} -->
        </ul>
    </div>
    <!--   {show:goods}
        <button class="btn btn-block btn-blank add_article text-link" ng-click="edit.addArticle()"><span class="fa fa-plus icon-holder"></span>{l}Add Item{endl}</button>
      {endshow}
      <selectize config='edit.articlesListAutoCfg' options='edit.auto.options.articles_list' ng-model="edit.selected_article_id" id="article_list_id" ng-if="edit.showTxt.addArticleBtn"></selectize>
      <div class="btn-group btn-add_line"  uib-dropdown>
        <a href="#" class="btn text-link dropdown-toggle"  uib-dropdown-toggle>{l}Add Content{endl} <span class="caret"></span></a>
        <ul class="dropdown-menu"  uib-dropdown-menu>
          <li><a href="#" ng-click="edit.addLine(false,0)">{l}Add line{endl}</a></li>
          <li><a href="#" ng-click="edit.addLine(true,0)">{l}Add Free Text{endl}</a></li>
        </ul>
      </div> -->
</div>
<div class="row">
    <div class="col-sm-8 col-sm-offset-4 order_total">
        <div class="row">
            <div class="col-xs-12 col-sm-7 col-sm-offset-5">
                <div class="row">
                    <div class="col-xs-7 col-sm-7 col-lg-7 text-left">
                        <h4>{l}Total without VAT{endl}</h4>
                    </div>
                    <div class="col-xs-5 col-sm-5 col-lg-5 text-right text-amount">
                        <h4 class="text-amount"><span ng-show="edit.item.hide_currency1" ng-bind-html="edit.item.currency_val"></span>
                            <span ng-bind-html="edit.item.total_wo_vat"></span>
                            <span ng-show="edit.item.hide_currency2" ng-bind-html="edit.item.currency_val"></span></h4>
                    </div>
                </div>
            </div>
        </div>
        <!-- <div class="row" ng-show="edit.item.apply_discount > 1">
            <div class="col-xs-7 col-xs-offset-5">
                <div class="row">
                    <div class="col-sm-7 col-lg-7 text-left">
                        <h4>{l}Discount{endl}</h4>
                    </div>
                    <div class="col-sm-5 col-lg-5 text-right text-amount">
                        <h4 class="text-amount"><span ng-show="edit.item.hide_currency1" ng-bind-html="edit.item.currency_val"></span>
                            - <span ng-bind-html="edit.item.discount_value"></span>
                            <span ng-show="edit.item.hide_currency2" ng-bind-html="edit.item.currency_val"></span></h4>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" ng-show="edit.item.apply_discount > 1">
            <div class="col-xs-7 col-xs-offset-5">
                <div class="row">
                    <div class="col-sm-7 col-lg-7 text-left">
                        <h4>{l}Net amount{endl}</h4>
                    </div>
                    <div class="col-sm-5 col-lg-5 text-right text-amount">
                        <h4 class="text-amount"><span ng-show="edit.item.hide_currency1" ng-bind-html="edit.item.currency_val"></span>
                            <span ng-bind-html="edit.item.net_amount"></span>
                            <span ng-show="edit.item.hide_currency2" ng-bind-html="edit.item.currency_val"></span></h4>
                    </div>
                </div>
            </div>
        </div> -->
        <div class="row" ng-show="edit.item.no_vat" ng-repeat="vat_line in edit.item.vat_line">
            <div class="col-xs-12 col-sm-7 col-sm-offset-5">
                <div class="row">
                    <div class="col-xs-7 col-sm-7 col-lg-7 text-left">
                        <h4>{l}Subtotal{endl} {l}VAT{endl} {{vat_line.vat_percent}} %</h4>
                    </div>
                    <div class="col-xs-5 col-sm-5 col-lg-5 text-right text-amount">
                        <h4 class="text-amount"><span ng-show="edit.item.hide_currency1" ng-bind-html="edit.item.currency_val"></span>
                            <span ng-bind-html="vat_line.subtotal"></span>
                            <span ng-show="edit.item.hide_currency2" ng-bind-html="edit.item.currency_val"></span></h4>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-7 col-sm-offset-5" ng-show="edit.item.apply_discount > 1">
                <div class="row">
                    <div class="col-xs-7 col-sm-7 col-lg-7 text-left">
                        <h4>{l}Discount{endl} ({{edit.item.discount}}) %</h4>
                    </div>
                    <div class="col-xs-5 col-sm-5 col-lg-5 text-right text-amount">
                        <h4 class="text-amount"><span ng-show="edit.item.hide_currency1" ng-bind-html="edit.item.currency_val"></span> - <span ng-bind-html="vat_line.discount_value"></span>
                            <span ng-show="edit.item.hide_currency2" ng-bind-html="edit.item.currency_val"></span></h4>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-7 col-sm-offset-5" ng-show="edit.item.apply_discount > 1">
                <div class="row">
                    <div class="col-xs-7 col-sm-7 col-lg-7 text-left">
                        <h4>{l}Net amount{endl} {l}at{endl} {{vat_line.vat_percent}} %</h4>
                    </div>
                    <div class="col-xs-5 col-sm-5 col-lg-5 text-right text-amount">
                        <h4 class="text-amount"><span ng-show="edit.item.hide_currency1" ng-bind-html="edit.item.currency_val"></span>
                            <span ng-bind-html="vat_line.net_amount"></span>
                            <span ng-show="edit.item.hide_currency2" ng-bind-html="edit.item.currency_val"></span></h4>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-7 col-sm-offset-5">
                <div class="row">
                    <div class="col-xs-7 col-sm-7 col-lg-7 text-left">
                        <h4>{l}VAT{endl} {l}for{endl} {{vat_line.vat_percent}} %</h4>
                    </div>
                    <div class="col-xs-5 col-sm-5 col-lg-5 text-right text-amount">
                        <h4 class="text-amount"><span ng-show="edit.item.hide_currency1" ng-bind-html="edit.item.currency_val"></span>
                            <span ng-bind-html="vat_line.vat_value"></span>
                            <span ng-show="edit.item.hide_currency2" ng-bind-html="edit.item.currency_val"></span></h4>
                    </div>
                </div>
            </div>
        </div>
        <!-- <div class="row" ng-show="edit.item.no_vat" ng-repeat="vat_line in edit.item.vat_line">
            <div class="col-xs-7 col-xs-offset-5">
                <div class="row">
                    <div class="col-sm-7 col-lg-7 text-left">
                        <h4>{l}VAT{endl} {l}for{endl} {{vat_line.vat_percent}} %</h4>
                    </div>
                    <div class="col-sm-5 col-lg-5 text-right text-amount">
                        <h4 class="text-amount"><span ng-show="edit.item.hide_currency1" ng-bind-html="edit.item.currency_val"></span>
                            <span ng-bind-html="vat_line.vat_value"></span>
                            <span ng-show="edit.item.hide_currency2" ng-bind-html="edit.item.currency_val"></span></h4>
                    </div>
                </div>
            </div>
        </div> -->
        <!-- <div class="row" ng-repeat="vat_line in edit.item.vat_line">
          <div class="col-xs-5 text-right">
            <div ng-show="edit.item.no_vat">{l}VAT{endl} ({{vat_line.vat_percent}} %)</div>
          </div>
          <div class="col-xs-7">
            <div class="row">
              <div class="col-sm-7 col-lg-7 text-left text-muted">
              {l}Total without VAT{endl}
              </div>
              <div class="col-sm-5 col-lg-5 text-right text-muted text-amount">
                <span ng-show="edit.item.hide_currency1" ng-bind-html="edit.item.currency_val"></span>
                <span ng-bind-html="vat_line.total_novat"></span>
                <span ng-show="edit.item.hide_currency2" ng-bind-html="edit.item.currency_val"></span>
              </div>
            </div>
            <div class="row" ng-show="vat_line.view_discount">
              <div class="col-sm-7 col-lg-7 text-left text-muted">
                <span>{l}Discount{endl}</span>
                <span ng-if="!vat_line.is_ord">
                  ( <span ng-bind-html="edit.item.discount"></span>%)
                </span>
              </div>
              <div class="col-sm-5 col-lg-5 text-right text-muted text-amount">
                <span ng-show="edit.item.hide_currency1" ng-bind-html="edit.item.currency_val"></span>
                - <span ng-bind-html="vat_line.discount_value"></span>
                <span ng-show="edit.item.hide_currency2" ng-bind-html="edit.item.currency_val"></span>
              </div>         
            </div>
            <div class="row" ng-show="edit.item.no_vat">
              <div class="col-sm-7 col-lg-7 text-left text-muted">
              {l}VAT{endl}
              </div>
              <div class="col-sm-5 col-lg-5 text-right text-muted text-amount">
                <span ng-show="edit.item.hide_currency1" ng-bind-html="edit.item.currency_val"></span>
                <span ng-bind-html="vat_line.vat_value"></span>
                <span ng-show="edit.item.hide_currency2" ng-bind-html="edit.item.currency_val"></span>
              </div>
            </div>
          </div>
        </div> -->
        <div class="row">
            <div class="col-xs-12 col-sm-7 col-sm-offset-5">
                <div class="row">
                    <div class="col-xs-7 col-sm-7 col-lg-7 text-left">
                        <h4>{l}TOTAL{endl}</h4>
                    </div>
                    <div class="col-xs-5 col-sm-5 col-lg-5 text-right text-amount">
                        <h4 class="text-amount"><span ng-show="edit.item.hide_currency1" ng-bind-html="edit.item.currency_val"></span>
                            <span ng-bind-html="edit.item.total"></span>
                            <span ng-show="edit.item.hide_currency2" ng-bind-html="edit.item.currency_val"></span></h4>
                    </div>
                </div>
            </div>
        </div>
        <!-- <div class="row" ng-show="edit.item.total_currency_hide">
            <div class="col-xs-7 col-xs-offset-5">
                <div class="row">
                    <div class="col-sm-7 col-lg-7 text-left text-muted">
                        (<strong>{l}TOTAL in{endl} <span ng-bind-html="edit.item.default_currency_name"></span></strong>
                    </div>
                    <div class="col-sm-5 col-lg-5 text-right text-muted text-amount">

                        <span ng-bind-html="edit.item.total_default_currency"></span>
                        <span ng=show="edit.item.hide_currency2" ng-bind-html="edit.item.default_currency_val"></span>)
                    </div>
                </div>
            </div>
        </div>  -->
    </div>
</div>
<!-- <div class="user_summary" ng-class="{'is-open': edit.showTxt.invoice_notes, '': !edit.showTxt.invoice_notes}">
  <button class="btn-summary text-link" ng-disabled="!edit.item.buyer_id && !edit.item.contact_id" ng-click="edit.showTxt.invoice_notes=!edit.showTxt.invoice_notes"><span class="glyphicon glyphicon-chevron-down pull-right"></span> {l}Notes (Displayed on invoice){endl}</button>
  <div class="row col-top col-bottom">
      <div class="col-sm-12 col-bottom">
        <textarea ng-repeat="item in edit.item.translate_loop" class="form-control form-language {{item.translate_cls}}"  ng-model="item.NOTES" ng-required="true" placeholder="{l}Notes{endl}" rows="6"></textarea>
      </div>
      <div class="col-sm-12 col-bottom">
        <textarea ng-repeat="item in edit.item.custom_translate_loop" class="form-control form-language {{item.translate_cls}}"  ng-model="item.NOTES" ng-required="true" placeholder="{l}Notes{endl}" rows="6"></textarea>
      </div>
  </div>
</div> -->
<div class="user_summary" ng-class="{'is-open': edit.showTxt.invoice_notes, '': !edit.showTxt.invoice_notes}">
    <button class="btn-summary text-link" ng-disabled="!edit.item.buyer_id || edit.item.add_customer" ng-click="edit.showTxt.invoice_notes = !edit.showTxt.invoice_notes"><span class="glyphicon glyphicon-chevron-down pull-right"></span> {l}Notes (Displayed on invoice){endl}</button>
    <div class="row col-top col-bottom">
        <div class="col-sm-12 col-bottom recinvoice-notes-conditions">
            <h1>{l}Notes 2{endl}</h1>
            <textarea class="form-control form-language" ui-tinymce="edit.tinymceOptions" ng-model="edit.item.notes2" ng-class="edit.item.lang_cls" rows="6" name="textarea" placeholder="{l}General Conditions{endl}"></textarea>
            <input name="image" type="file" id="upload" class="hidden" onchange="">
            <h1>{l}General Conditions{endl}</h1>
            <textarea ui-tinymce="edit.tinymceOptions" ng-model="edit.item.NOTES" placeholder="{l}General Conditions{endl}" rows="6"></textarea>
            <div class="col-sm-12 col-bottom">
                <!-- <textarea ng-repeat="item in edit.item.custom_translate_loop" class="form-control form-language {{item.translate_cls}}"  ng-model="item.NOTES" ng-required="true" placeholder="{l}Notes{endl}" rows="6"></textarea> -->
            </div>
            <div class="form-group">
                <label class="col-sm-2">
            {l}Show on new page{endl}</label>
                <!-- <toggle-switch ng-model="edit.item.page" class="switch-primary" off-label="{l}No{endl}" on-label="{l}Yes{endl}"></toggle-switch>  -->
                <label class="switch pull-left small_margin">
                <input type="checkbox" id="" ng-model="edit.item.page"   class="switch-primary">
                <span class="slider round"></span>
           </label>
            </div>
        </div>
    </div>
</div>
<div class="text-right">
    <button type="submit" class="btn btn-plain" ng-click="edit.cancel()">{l}Cancel{endl}</button>
    <button type="submit" ng-disabled="!edit.item.buyer_id || edit.item.add_customer" class="btn btn-default" ng-click="edit.save()">{l}Save{endl}</button>
</div>