<div class="container">
    <div class="tabs-navigation">
        <div class="tab-content">
            <div class="tab-pane active">
                <!-- <div uib-alert ng-repeat="alert in alerts" type="{{alert.type}}" close="alerts.splice($index, 1);" ng-class="['alert-' + (alert.type || 'warning') ]" dismiss-on-timeout='5000' >{{alert.msg}}</div> -->

                <div class="row page-content">
                    <div class="col-sm-12" ng-if="!show_load">
                        <div class="row">
                            <div class="col-sm-3 text-left col-bottom col-sm-offset-3 text-center">
                                <!-- <h1 class="kpi_number"><span ng-bind-html="amount_this_month"></span> <small class="dark_text">(<span ng-bind-html="to_be_invoiced"></span>)</small></h1>
            <span class="kpi_compare">{l}Periodic revenue this month (to be invoiced){endl}</span> -->
                                <h1 class="kpi_number"><span ng-bind-html="to_be_invoiced"></span> </h1>
                                <span class="kpi_compare">{l}Amount to be invoiced this month{endl}</span>
                            </div>
                            <div class="col-sm-3 text-left col-bottom text-center">
                                <h1 class="kpi_number"><span ng-bind-html="mrr"></span> </h1>
                                <span class="kpi_compare">{l}Monthly Recurring Revenue (MRR){endl}</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="row page-search page-search-options">
                            <form>
                                <div class="col-sm-12">
                                    <div class="row">
                                        <div class="col-sm-9 col-md-9">
                                            <div class="so-field" ng-class="{ 'so-active':search.search!='' }">
                                                <span class="glyphicon glyphicon-search so-icon"></span>
                                                <input type="text" class="form-control" placeholder="{l}Search{endl}" search-it doit="search" resetlist="1" callbk="renderList" ng-model="search.search">
                                                <span class="glyphicon glyphicon-remove so-icon so-remove" ng-click="toggleSearchButtons('search','')"></span>
                                            </div>
                                            <!-- /.input-search -->
                                        </div>
                                        <!-- <div class="col-sm-2">
                        <div class="btn-group btn-block">
                          <selectize placeholder="{l}Active{endl}" config='filterCfg' options='views' ng-model="activeView" ></selectize>
                        </div>
                      </div> -->
                                        <div class="col-sm-3 ">
<!--                                            <div class="btn-group btn-block">-->
<!--                                                <selectize config='periodCfg' options='periods' ng-model="search.period_id"></selectize>-->
<!--                                            </div>-->
                                            <div class="so-field" ng-class="{ 'so-active':search.period_id }">
                                                <selectize config='periodCfg' options='periods' ng-model="search.period_id"></selectize>
                                                <span class="glyphicon glyphicon-remove so-icon so-remove" ng-click="toggleSearchButtons('period_id', '')"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                                <div class="page-search-button">
                                    <div class="btn-group" uib-dropdown>
                                        <button type="button" class="btn btn-tertiary dropdown-toggle" uib-dropdown-toggle>
                  <span class="caret"></span>
                </button>
                                        <ul class="dropdown-menu dropdown-menu-right" uib-dropdown-menu>
                                            <li ng-if="search.archived"><a href="#" ng-click="archived(0)"><span class="fa fa-list-ul" ></span> {l}Active Invoice{endl}</a></li>
                                            <li ng-if="!search.archived"><a href="#" ng-click="archived(1)"><span class="fas fa-archive new_archive" ></span> {l}Archived Invoice{endl}</a></li>
                                            <li><a href="#" ng-click="columnSettings()"><span class="fas fa-cog text-primary" ></span> {l}Column settings{endl}</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-sm-2 margin-top" ng-if="search.period_id=='5'">
                                    <div class="so-field" ng-class="{ 'so-active':search.from!=undefined }">
                                        <span class="glyphicon glyphicon-calendar so-icon" ng-click="datePickOpen.from=true"></span>
                                        <input type="text" class="form-control" ng-model="search.from" uib-datepicker-popup="{{format}}" is-open="datePickOpen.from" datepicker-options="dateOptions" close-text="Close" placeholder="{l}From{endl}" show-button-bar="false" ng-click="datePickOpen.from=true"
                                            ng-change="searchThing(true)">
                                        <span class="glyphicon glyphicon-remove so-icon so-remove" ng-click="toggleSearchButtons('from',undefined)"></span>
                                    </div>
                                    <!-- /.input-date -->
                                </div>
                                <div class="col-sm-2 margin-top" ng-if="search.period_id=='5'">
                                    <div class="so-field" ng-class="{ 'so-active':search.to!=undefined }">
                                        <span class="glyphicon glyphicon-calendar so-icon" ng-click="datePickOpen.to=true"></span>
                                        <input type="text" class="form-control" ng-model="search.to" uib-datepicker-popup="{{format}}" is-open="datePickOpen.to" datepicker-options="dateOptions" close-text="Close" placeholder="{l}To{endl}" show-button-bar="false" ng-click="datePickOpen.to=true"
                                            ng-change="searchThing(true)">
                                        <span class="glyphicon glyphicon-remove so-icon so-remove" ng-click="toggleSearchButtons('to',undefined)"></span>
                                    </div>
                                    <!-- /.input-date -->
                                </div>
                            </form>
                            <!-- <div class="row" ng-if="!show_load">
          <div class="col-sm-12">   
            <div class="row">
              <div class="col-sm-3 text-left col-top col-sm-offset-3">
                <h1 class="kpi_number"><span ng-bind-html="to_be_invoiced"></span> </h1>
                <span class="kpi_compare">{l}Amount to be invoiced this month{endl}</span>
              </div>                     
            </div>                               
          </div>
        </div> -->
                        </div>
                        <!-- /.page-search -->
                        <table class="table active_rows orderTable">
                            <thead>
                                <tr>
                                    <!-- <th class="col-sm-3 sortable_row" ng-class="{ 'sortable_row-up':(!reverse && ord=='buyer_name') , 'sortable_row-down':(reverse && ord=='buyer_name') }" ng-click="orderBY('buyer_name')">{l}Company{endl}</th>
              <th class="col-sm-3 sortable_row" ng-class="{ 'sortable_row-up':(!reverse && ord=='next_date'), 'sortable_row-down':(reverse && ord=='next_date') }" ng-click="orderBY('next_date')">{l}Next Invoice{endl}</th>
              <th class="col-sm-2 sortable_row" ng-class="{ 'sortable_row-up':(!reverse && ord=='title') , 'sortable_row-down':(reverse && ord=='title') }" ng-click="orderBY('title')">{l}Subject{endl}</th>
              <th class="col-sm-1 sortable_row" ng-class="{ 'sortable_row-up':(!reverse && ord=='our_ref') , 'sortable_row-down':(reverse && ord=='our_ref') }" ng-click="orderBY('our_ref')">{l}Contract reference{endl}</th>
              <th class="col-sm-1 sortable_row" ng-class="{ 'sortable_row-up':(!reverse && ord=='sepa_number') , 'sortable_row-down':(reverse && ord=='sepa_number') }" ng-click="orderBY('sepa_number')">{l}Mandate reference{endl}</th>
              <th class="col-sm-1 text-center sortable_row" ng-class="{ 'sortable_row-up':(!reverse && ord=='amount') , 'sortable_row-down':(reverse && ord=='amount') }" ng-click="orderBY('amount')">{l}Amount{endl} </th> -->
                                    <th ng-repeat="col in columns" ng-class="{ 'sortable_row':col.order_by, 'sortable_row-up':(!reverse && col.order_by && ord==col.order_by), 'sortable_row-down':(reverse && col.order_by && ord==col.order_by), 'text-center': col.column_name=='amount' }"
                                        ng-click="(col.order_by ? orderBY(col.order_by) : '')">
                                        <span ng-if="col.column_name!='type'" ng-bind-html="col.name"></span>
                                    </th>
                                    <th class="col-sm-1 col-select">
                                        <!-- <div class="checkbox checkbox-primary">
                  <input type="checkbox" ng-model="listObj.check_add_all" ng-click="saveForXls()">
                  <label for="checkbox_all"></label>
                </div>  -->
                                        <div class="dropdown order_export">
                                            <button class="dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                              <i class="fa fa-square-o" ng-if="!all_pages_selected && !minimum_selected"></i>
                                              <i class="fas fa-minus-square" ng-if="!all_pages_selected && minimum_selected"></i>
                                              <i class="fas fa-check-square" ng-if="all_pages_selected"></i>
                                              <i class="fa fa-caret-down" aria-hidden="true"></i>
                                            </button>
                                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                                <a class="dropdown-item" href="#" ng-click="checkAllPage()">{l}Select page{endl}</a>
                                                <a class="dropdown-item" href="#" ng-if="!all_pages_selected" ng-click="checkAllPages()">{l}Select all{endl}</a>
                                                <a class="dropdown-item" href="#" ng-if="all_pages_selected || minimum_selected" ng-click="uncheckAllPages()">{l}Select none{endl}</a>
                                            </div>
                                        </div>
                                    </th>
                                    <th class="table_actions">
                                        <div class="btn-group" uib-dropdown ng-if="show_settings.is_admin_invoice">
                                            <button type="button" class="btn btn-tertiary dropdown-toggle" uib-dropdown-toggle>
                                          <span class="caret"></span>
                                        </button>
                                            <ul class="dropdown-menu dropdown-menu-right" uib-dropdown-menu>
                                                <li><a href="index.php?do=invoice-export_selected_recinvoices" target="_blank" ng-click="createExports($event)"><span class="fas fa-upload text-primary"></span> {l}Export
                                              Recurring Invoices List{endl}</a></li>
                                            </ul>
                                        </div>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="item in list" class="collapseTr">
                                    <!-- <td class="text-muted" go-to="" state="recinvoice.edit" params='{"recurring_invoice_id": {{::item.id}}}' list='{ "type":"invoice-recurring_invoices", "obj": { "search":{{search}}, "cindex":{{$index}}, "total_items":{{max_rows}} } }'>
                  <a href="recinvoice/edit/{{item.id}}" class="text-muted"><span>{{::item.buyer_name}}</span></a>
              </td>
              <td go-to="" state="recinvoice.edit" params='{"recurring_invoice_id": {{::item.id}}}' list='{ "type":"invoice-recurring_invoices", "obj": { "search":{{search}}, "cindex":{{$index}}, "total_items":{{max_rows}} } }'>
                  <a href="recinvoice/edit/{{item.id}}" class="color-dark">
                      {{::item.next_date}} <small class="text-muted">({{::item.frequency}})</small>
                  </a>
              </td>
              <td class="text-muted" go-to="" state="recinvoice.edit" params='{"recurring_invoice_id": {{::item.id}}}' list='{ "type":"invoice-recurring_invoices", "obj": { "search":{{search}}, "cindex":{{$index}}, "total_items":{{max_rows}} } }'>
                  <a href="recinvoice/edit/{{item.id}}" class="text-muted">{{::item.title}}</a>
              </td>
              <td class="text-muted" go-to="" state="recinvoice.edit" params='{"recurring_invoice_id": {{::item.id}}}' list='{ "type":"invoice-recurring_invoices", "obj": { "search":{{search}}, "cindex":{{$index}}, "total_items":{{max_rows}} } }'>
                  <a href="recinvoice/edit/{{item.id}}" class="text-muted">{{::item.contract_reference}}</a>
              </td>
              <td class="text-muted" go-to="" state="recinvoice.edit" params='{"recurring_invoice_id": {{::item.id}}}' list='{ "type":"invoice-recurring_invoices", "obj": { "search":{{search}}, "cindex":{{$index}}, "total_items":{{max_rows}} } }'>
                  <a href="recinvoice/edit/{{item.id}}" class="text-muted">{{::item.mandate_reference}}</a>
              </td>
              <td class="text-center col-amount" go-to="" state="recinvoice.edit" params='{"recurring_invoice_id": {{::item.id}}}' list='{ "type":"invoice-recurring_invoices", "obj": { "search":{{search}}, "cindex":{{$index}}, "total_items":{{max_rows}} } }'>
                  <a href="recinvoice/edit/{{item.id}}" class="color-dark"><span ng-bind-html="::item.amount"></span></a>
              </td> -->
                                    <td class="text-muted" ng-repeat="col in columns" ng-class="{'text-center col-amount' : col.column_name=='amount' }" go-to="" state="recinvoice.view" params='{"recurring_invoice_id": {{::item.id}}}' list='{ "type":"invoice-recurring_invoices", "obj": { "search":{{search}}, "cindex":{{$parent.$index}}, "total_items":{{max_rows}} } }'>
                                        <a href="recinvoice/view/{{item.id}}" class="text-muted" ng-class="{ 'color-dark' : col.column_name=='amount', 'no-wrap' : col.column_name=='mrr' }"><span ng-bind-html="::item[col.column_name]"></span></a>
                                    </td>
                                    <td class="col-select">
                                        <div class="checkbox checkbox-primary">
                                            <input type="checkbox" ng-model="item.check_add_to_product" ng-click="markCheckNew(item)">
                                            <label for="checkbox_all"></label>
                                        </div>
                                    </td>
                                    <td class="table_actions">
                                        <div class="btn-group" uib-dropdown>
                                            <button type="button" class="btn btn-plain dropdown-toggle" uib-dropdown-toggle>
                        <span class="caret"></span>
                    </button>
                                            <ul class="dropdown-menu dropdown-menu-right" uib-dropdown-menu>
                                                <li class="dropdown-header">{l}Action{endl}</li>
                                                <li ng-if="item.hide_on_a">
                                                    <a href="#" ui-sref="recinvoice.edit({'recurring_invoice_id': item.id})"><span class="fas fa-pen text-primary"></span> {l}Edit{endl}</a>
                                                </li>
                                                <li ng-if="item.view_delete_link">
                                                    <a href="#" ng-click="action(item,'archive_link')" confirm="{l}Are you sure, you wanna archive this entry?{endl}"><span class="fas fa-archive text-primary"></span> {l}Archive{endl}</a>
                                                </li>
                                                <li ng-if="item.view_archive_link">
                                                    <a href="#" ng-click="action(item,'activate_link')" confirm="{l}Are you sure, you wanna revert this entry?{endl}"><span class="glyphicon glyphicon-repeat text-primary"></span> {l}Revert{endl}</a>
                                                </li>
                                                <li ng-if="item.view_delete_link2">
                                                    <a href="#" ng-click="action(item,'delete_link')" confirm="{l}Are you sure, you wanna delete this entry?{endl}"><span class="fas fa-trash-alt text-primary"></span> {l}Delete{endl}</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <!-- /.page-content -->
            </div>
        </div>
    </div>
    <!-- <pag-custom pages="pager" refresh="renderList()" doit='invoice-recurring_invoices'></pag-custom> -->
    <div class="col-sm-12">
        <div class="col-sm-8">
            <ul ng-if="max_rows > 30" uib-pagination total-items="max_rows" ng-model="search.offset" ng-change="searchThing()" max-size="5" class="pager" boundary-links="true" items-per-page="lr"></ul>
        </div>
        <div class="col-sm-4 text-right">
            <label>{l}Number of recurring invoices{endl}: <strong>{{max_rows}}</strong></label>
        </div>
    </div>
</div>
<!-- neede on all pages -->