<div class="modal-header">
  	<button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="recpay.cancel()"><span aria-hidden="true">&times;</span></button>
  	<h4 class="modal-title">{l}Record Payment{endl}</h4>
</div>
<div class="modal-body modal-body_alt rec_pay_modal">
  <div class="loading_wrap loading_alt hidden">
      <div class="loading"></div>
      <div class="spinner"></div>
  </div>
	<div class="col-sm-12 col-bottom col-top">
      <form class="form-horizontal text-left" name="payment_form" no-validate=''>
            <div class="form-group" ng-class="{ 'form-group_alert' : payment_form.payment_date.$invalid && !payment_form.payment_date.$pristine }">
                <label class="col-sm-3 control-label"><strong>{l}Payment Date{endl}</strong></label>
                <div class="col-sm-4">
                    <div class="so-field">
                        <span class="glyphicon glyphicon-calendar so-icon" ng-click="(recpay.obj.payment_method != '14' ? recpay.datePickOpen.payment_date=true : false)"></span>
                        <input type="text" class="form-control rec_pay_modal" ng-model="recpay.obj.payment_date" uib-datepicker-popup="{{recpay.format}}" is-open="recpay.datePickOpen.payment_date" datepicker-options="recpay.dateOptions" close-text="Close" placeholder="{l}Sent date{endl}" show-button-bar="false" ng-click="(recpay.obj.payment_method != '14' ? recpay.datePickOpen.payment_date=true : false)" name="payment_date" required ng-disabled="recpay.obj.payment_method == '14'" />
                        <span class="glyphicon glyphicon-remove so-icon so-remove"></span>
                    </div>
                    <div class="alert alert-sm alert-danger" ng-if="payment_form.payment_date.$invalid && recpay.alertsField.payment_date">{{recpay.alertsField.payment_date}}</div>
                </div>
            </div>
          <div class="form-group" ng-class="{ 'form-group_alert' : payment_form.total_amount_due1.$dirty && !payment_form.total_amount_due1.$pristine }">
                <label class="col-sm-3 control-label"><strong>{l}Amount{endl}</strong></label>
                <div class="col-sm-4">
                    <input display-nr="" type="text" class="form-control" name="amount" ng-model="recpay.obj.total_amount_due1" required ng-disabled="recpay.obj.payment_method == '14'">
                    <div class="alert alert-sm alert-danger" ng-if="recpay.alertsField.amount">{{recpay.alertsField.amount}}</div>
                </div>
          </div>
          <div class="form-group">
                <label class="col-sm-3 control-label">{l}Cost{endl}</label>
                <div class="col-sm-4">
                    <input display-nr="" type="text" class="form-control" name="cost" ng-model="recpay.obj.cost">
                </div>
          </div>
          <div class="form-group">
            <label class="col-sm-3 control-label">{l}Payment Method{endl}</label>
            <div class="col-sm-9">
              <select class="form-control" ng-model="recpay.obj.payment_method">
                  <option ng-repeat="option in recpay.obj.payment_method_dd track by option.id" value="{{option.id}}" ng-bind-html="option.name"></option>
              </select>
            </div>
          </div>
          <div class="form-group" ng-if="recpay.obj.payment_method == '14'">
            <label class="col-sm-3 control-label">{l}Credit invoice{endl}</label>
            <div class="col-sm-9">
              <selectize config='recpay.ciCfg' options='recpay.obj.c_invoices' ng-model="recpay.obj.c_invoice_id" ></selectize>
            </div>
          </div>
          <div class="form-group">
                <label class="col-sm-3 control-label">{l}Notes{endl}</label>
                <div class="col-sm-9">
                    <textarea class="form-control" name="notes" ng-model="recpay.obj.notes" rows="4"></textarea>
                </div>
          </div>
          <div class="form-group">
                <div class="col-sm-9 col-sm-offset-3 checkbox record_payment">
                    <label> &nbsp;<input type="checkbox" name="not_paid" ng-model="recpay.obj.not_paid" value="{{recpay.obj.check_not_paid}}" ng-checked="{{recpay.obj.not_paid == true}}"
                    ng-click="recpay.checkbox(payment_form)"
                    ><span>{l}Will not be paid{endl}</span></label>
                </div>
          </div>
      </form>
    </div>
</div>
<div class="modal-footer">
      <button class="btn btn-plain" type="button" ng-click="recpay.cancel()">{l}Cancel{endl}</button>
    	<button class="btn btn-default" type="button" ng-disabled="recpay.obj.not_paid || (recpay.obj.payment_method == '14' && !recpay.obj.c_invoice_id)"
      ng-class="{'disable-record-payment-button':(recpay.obj.not_paid == true)}" 
      ng-click="recpay.ok(payment_form)">{l}Record Payment{endl}</button>
</div>