<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="recpayincomming.cancel()"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title">{l}Record Payment{endl}</h4>
</div>
<div uib-alert ng-repeat="alert in recpayincomming.alerts" type="{{alert.type}}" close="recpayincomming.alerts.splice($index, 1);" dismiss-on-timeout="5000" ng-class="['alert-' + (alert.type || 'warning') ]">{{alert.msg}}</div>
<div class="modal-body">
  <div class="col-sm-12 col-bottom col-top">
      <form class="form-horizontal text-left" name="payment_form" no-validate=''>
          <div class="row">
            <div class="col-sm-12 ">
              <div class="row">
                <div class="col-sm-7 ">
                  <div class="row">
                    <div class="form-group" ng-class="{ 'form-group_alert' : payment_form.payment_date.$invalid && !payment_form.payment_date.$pristine }">
                        <label class="col-sm-5 control-label">{l}Payment Date{endl}</label>
                        <div class="col-sm-7">
                            <div class="so-field">
                                <span class="glyphicon glyphicon-calendar so-icon" ng-click="recpayincomming.datePickOpen.payment_date=true"></span>
                                <input type="text" class="form-control" ng-model="recpayincomming.obj.payment_date" uib-datepicker-popup="{{recpayincomming.format}}" is-open="recpayincomming.datePickOpen.payment_date" datepicker-options="recpayincomming.dateOptions" close-text="Close" placeholder="{l}Payment Date{endl}" show-button-bar="false" ng-click="recpayincomming.datePickOpen.payment_date=true" name="payment_date" required />
                                <span class="glyphicon glyphicon-remove so-icon so-remove"></span>
                            </div>
                            <div class="alert alert-sm alert-danger" ng-if="payment_form.payment_date.$invalid && recpayincomming.alertsField.payment_date">{{recpayincomming.alertsField.payment_date}}</div>
                        </div>
                    </div>
                    <div class="form-group" ng-class="{ 'form-group_alert' : payment_form.total_amount_due1.$dirty && !payment_form.total_amount_due1.$pristine }">
                        <label class="col-sm-5 control-label">{l}Amount{endl}</label>
                        <div class="col-sm-7">
                            <input display-nr="" type="text" class="form-control" name="amount" ng-change="recpayincomming.activateButtonQRCode()" ng-model="recpayincomming.obj.total_amount_due1" ng-disabled="recpayincomming.obj.disable_amount" required>
                            <div class="alert alert-sm alert-danger" ng-if="recpayincomming.alertsField.total_amount_due1">{{recpay.alertsField.total_amount_due1}}</div>
                        </div>
                    </div>
                    <div class="form-group" ng-if="recpayincomming.obj.show_QRCode_button">               
                          <div class="col-sm-offset-5 col-sm-7 text-right">
                              <button class="btn btn-plain" type="button" ng-click="recpayincomming.generateQRCode()" ng-disabled="recpayincomming.obj.disabled_QRCode_button">{l}Generate QR Code{endl}</button>
                          </div>
                    </div>
                    <!-- <div class="form-group">
                          <label class="col-sm-5 control-label">{l}Cost{endl}</label>
                          <div class="col-sm-7">
                              <input display-nr="" type="text" class="form-control" name="cost" ng-change="recpayincomming.activateButtonQRCode()" ng-model="recpayincomming.obj.cost">
                          </div>
                    </div> -->
                </div>
               </div>
              <div class="col-sm-5 ">
                  <div ng-bind-html="recpayincomming.qrcode" ng-if="recpayincomming.obj.show_QRCode"></div>
              </div>
            </div>
          </div>
          <div class="col-sm-12 ">
             <div class="row">
                <div class="form-group">
                  <label class="col-sm-3 control-label">{l}Payment Method{endl}</label>
                  <div class="col-sm-9">
                    <select class="form-control" ng-model="recpayincomming.obj.payment_method">
                                  <option ng-repeat="option in recpayincomming.obj.payment_method_dd track by option.id" value="{{option.id}}" ng-bind-html="option.name"></option>
                                </select>
                  </div>
                </div>
                <div class="form-group">
                      <label class="col-sm-3 control-label">{l}Notes{endl}</label>
                      <div class="col-sm-9">
                          <textarea class="form-control" name="notes" ng-model="recpayincomming.obj.notes" rows="4"></textarea>
                      </div>
                </div>
              </div>
          </div>
       </div>
      </form>
    </div>
</div>
<div class="modal-footer">
      <button class="btn btn-plain" type="button" ng-click="recpayincomming.cancel()">{l}Cancel{endl}</button>
      <button class="btn btn-default" type="button" ng-click="recpayincomming.ok(payment_form)">{l}Record Payment{endl}</button>
</div>