<div class="container">
    <div class="tabs-navigation">
        <div class="tab-content">
            <div class="tab-pane active">
                <!-- <div uib-alert ng-repeat="alert in alerts" type="{{alert.type}}" close="alerts.splice($index, 1);" dismiss-on-timeout="5000" ng-class="['alert-' + (alert.type || 'warning') ]">{{alert.msg}}</div> -->
                <div class="page-header margin-top-none">
                    <div class="row text-center" ng-if="show_load">
                        <!--  <i class="fa fa-spinner fa-spin fa-2x fa-fw" aria-hidden="true"></i><span class="sr-only"></span> -->
                    </div>
                </div>
                <div class="col-md-12" ng-if="!show_load">                  
                    <div class="col-sm-12 text-center q_mob">
                        <h1 class="kpi_number"><span ng-bind-html="amount_to_be_inv_late"></span><span class="dark_text"> {l}VAT excl{endl}</span></h1>
                        <span class="kpi_compare">{l}Late{endl}</span>
                    </div>              
                </div>
                <div class="col-sm-12 row">
                <div class="row page-search page-search-options">
                    <form>
                        <div class="col-sm-12">
                            <div class="row">
                                <div class="col-sm-12 col-md-12">
                                    <div class="so-field" ng-class="{ 'so-active':search.search!='' }">
                                        <span class="glyphicon glyphicon-search so-icon"></span>
                                        <input type="text" class="form-control" placeholder="{l}Search{endl}" search-it doit="search" callbk="renderList" ng-model="search.search">
                                        <span class="glyphicon glyphicon-remove so-icon so-remove" ng-click="toggleSearchButtons('search','')"></span>
                                    </div>
                                    <!-- /.input-search -->
                                </div>
                            </div>
                        </div>

                        <div class="page-search-button">
                            <div class="btn-group" uib-dropdown>
                                <button type="button" class="btn btn-tertiary btn-square dropdown-toggle" uib-dropdown-toggle>
                <span class="caret"></span>
                <span class="sr-only">Toggle Dropdown</span>
            </button>
                                <ul class="dropdown-menu dropdown-menu-right" uib-dropdown-menu>
                                    <li><a href="#" ng-click="columnSettings()"><span class="fas fa-cog text-primary" ></span> {l}Column settings{endl}</a></li>
                                </ul>
                            </div>
                        </div>
                    </form>
                </div>
                <!-- /.page-search -->
                <div class="row page-content">
                    <div class="col-sm-12">
                        <table class="table orderTable">
                            <thead>
                                <tr>
                                    <!-- <th class="col-sm-8 expand_row sortable_row" ng-class="{ 'sortable_row-up':(!reverse && ord=='buyer_name'), 'sortable_row-down':(reverse && ord=='buyer_name') }" ng-click="orderBY('buyer_name')">{l}Account{endl}</th>
              <th class="col-sm-1 text-center sortable_row" ng-class="{ 'sortable_row-up':(!reverse && ord=='sent_date'), 'sortable_row-down':(reverse && ord=='sent_date') }" ng-click="orderBY('sent_date')">{l}Date sent{endl}</th>
              <th class="col-sm-2 text-center sortable_row" ng-class="{ 'sortable_row-up':(!reverse && ord=='amount'), 'sortable_row-down':(reverse && ord=='amount') }" ng-click="orderBY('amount')">{l}Amount{endl}</th> -->
                                    <th ng-repeat="col in columns" ng-class="{ 'sortable_row':col.order_by, 'sortable_row-up':(!reverse && col.order_by && ord==col.order_by), 'sortable_row-down':(reverse && col.order_by && ord==col.order_by), 'expand_row':col.column_name=='buyer_name' ,'text-left': col.column_name=='amount' || col.column_name=='date_sent' }"
                                        ng-click="(col.order_by ? orderBY(col.order_by) : '')">
                                        <span ng-bind-html="col.name"></span>
                                    </th>
                                    <th class="table_actions"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat-start="(index,item) in list" class="collapseTr">
                                    <!-- <td class="text-muted expand_row">
                <i class="fa fa-chevron-right btn-expand" ng-click="listMore($index)"></i>
                <i class="fa fa-chevron-down btn-expand hidden" ng-click="listLess($index)"></i>
                <span>{{::item.buyer_name}}</span>
              </td>
              <td class="text-muted text-center"><span>{{item.date_sent}}</span></td>
              <td class="text-center"><span ng-bind-html="::item.amount"></span></td> -->
                                    <td ng-repeat="col in columns" ng-class="{ 'expand_row':col.column_name=='buyer_name', 'text-muted': col.column_name!='amount','text-left' : col.column_name=='amount' || col.column_name=='date_sent' }">
                                        <span ng-if="col.column_name=='buyer_name'">
                  <i class="fa fa-chevron-right btn-expand" ng-click="listMore(index)"></i>
                  <i class="fa fa-chevron-down btn-expand hidden" ng-click="listLess(index)"></i>
                  <span>{{item.buyer_name}}</span>
                  <span ng-if="item.subdata.length > 1" class="badge item-status-gray reminders">{{ item.subdata.length }}</span>
                                        </span>
                                        <span ng-if="col.column_name != 'buyer_name'" ng-bind-html="item[col.column_name]"></span>
                                    </td>
                                    <td class="table_actions">
                                        <div class="btn-group" uib-dropdown>
                                            <button type="button" class="btn btn-plain dropdown-toggle" uib-dropdown-toggle>
                        <span class="caret"></span>
                    </button>
                                            <ul class="dropdown-menu dropdown-menu-right" uib-dropdown-menu>
                                                <li class="dropdown-header">{l}Action{endl}</li>
                                                <li>
                                                    <a href="#" ng-click="remind_email(item.c_id)"><span class="far fa-envelope text-primary"></span> {l}Send a reminder{endl}</a>
                                                </li>
                                                <li>
                                                    <a href="{{item.pdf_link}}" target="_blank" ng-if="!item.with_names"><span class="far fa-file-pdf text-primary"></span> {l}PDF reminder{endl}</a>
                                                    <a href="#" ng-if="item.with_names" ng-click="remind_contact(index)"><span class="far fa-file-pdf text-primary"></span> {l}PDF reminder{endl}</a>
                                                </li>
                                                <li ng-if="item.is_date">
                                                    <a href="#" ng-click="remind_info(item.b_id)"><span class="glyphicon glyphicon-info-sign text-primary"></span> {l}Info{endl}</a>
                                                </li>
                                                <li>
                                                    <a href="#" ng-click="remind_sent_date(item,index)"><span class="fas fa-pen text-primary"></span> {l}Manually Edit Sent Date{endl}</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </td>
                                </tr>
                                <tr ng-repeat-end class="versionInfo hidden">
                                    <td colspan="8" class="table active_rows orderTable">
                                        <table class="table">
                                            <thead>
                                                <tr><th class="col-sm-2">{l}Invoice{endl} #</th>
                                                    <th class="col-sm-2">{l}Invoice date{endl}</th>
                                                   
                                                   
                                                    <!-- <th class="col-sm-3 text-center">{l}PostGreen Status{endl}</th> -->
                                                  
                                                    <th class="col-sm-2">{l}Days over due{endl}</th>
                                                    <!-- <th class="col-sm-2">{l}Account{endl}</th> -->
                                                    <!-- <th class="col-sm-2">{l}Our reference{endl}</th> -->
                                                    <th class="col-sm-2 text-left">{l}Amount{endl}</th>
                                                    <th class="col-sm-2 expand_row">{l}Grade{endl}</th>
                                                    <th class="col-sm-2"></th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr class="cursor_pointer" ng-repeat="item2 in list[$index].subdata">
                                                    <td class="text-muted col-sm-2" ui-sref="invoice.view({ 'invoice_id': item2.invoice_id })">{{item2.serial_number_td}}</td>
                                                    <td class="text-muted col-sm-1" ui-sref="invoice.view({ 'invoice_id':item2.invoice_id })">{{item2.created}}</td>
                                               


                                                   
                                                    <!-- <td class="text-muted text-center col-sm-3 pg_status" ui-sref="invoice.view({ 'invoice_id': item2.invoice_id })">
                            <i class="fa fa-spinner fa-spin fa-fw" ng-if="item2.postgreen_id"></i>
                          </td> -->
                                                   
                                                    <td class="text-muted col-sm-2" ui-sref="invoice.view({ 'invoice_id':item2.invoice_id })"><span ng-if="item2.nr_days_due_date>0">{{item2.nr_days_due_date}}</span></td>
                                                    <!-- <td class="text-muted col-sm-2" ui-sref="invoice.view({ 'invoice_id':item2.invoice_id })">{{item2.buyer_name}}</td> -->
                                                    <!-- <td class="text-muted col-sm-2 wrapped" ui-sref="invoice.view({ 'invoice_id':item2.invoice_id })">{{item2.our_reference}}</td> -->
                                                    <td class="col-amount col-sm-2 text-left"><span ng-bind-html="item2.amount_inv"></span></td>
                                                    <td class="text-strong text-muted col-sm-2 expand_row">
                                                        <span class="badge" ui-sref="invoice.view({ 'invoice_id': item2.invoice_id })">{{item2.grade}}</span>
                                                        <a ng-if="item2.grade!=3" ng-click="update_grade(item2,'up')" class="" href="#"><i class="fa fa-arrow-up" aria-hidden="true"></i></a>
                                                        <i ng-if="item2.grade==3" class="fa fa-arrow-up" aria-hidden="true"></i>
                                                        <a ng-if="item2.grade!=1" ng-click="update_grade(item2,'down')" class="" href="#"><i class="fa fa-arrow-down" aria-hidden="true"></i></a>
                                                        <i ng-if="item2.grade==1" class="fa fa-arrow-down" aria-hidden="true"></i>
                                                    </td>
                                                    <td class="col-sm-2"></td>
                                                    <!--  <td class="col-sm-1 table_actions">
                            <div class="btn-group" uib-dropdown>
                              <button type="button" class="btn btn-plain dropdown-toggle" uib-dropdown-toggle>
                                  <span class="caret"></span>
                              </button>
                              <ul class="dropdown-menu dropdown-menu-right" uib-dropdown-menu>
                                <li class="dropdown-header">{l}Action{endl}</li>
                                <li><a href="#" ui-sref="invoice.view({ 'invoice_id':item2.invoice_id })"><span class="glyphicon glyphicon-info-sign text-primary"></span>{l}Info{endl}</a></li>
                                <li ng-if="bpaid_active && !item2.debt_done && item2.serial_number_td"><a href="#" ng-click="bPaidFlow('index',$index)"><img src="images/ipaid.png" width="16" height="16">{l}Instapaid Recovery{endl}</li>
                                <li ng-if="bpaid_active && bPaid_reg && item2.debt_done && item2.serial_number_td"><a href="#" ng-click="bPaid_status(item2.invoice_id)"><img src="images/ipaid.png" width="16" height="16"> {l}View Status{endl}</li>                             
                              </ul>
                            </div>
                          </td> -->


                                                </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        </div>
                    </div>
                </div>
                <!-- /.page-content -->
            </div>
        </div>
    </div>
    <!-- <pag-custom pages="pager" refresh="renderList()" doit='invoice-late_invoices'></pag-custom> -->
    <div class="col-sm-12">
        <div class="col-sm-8">
            <ul ng-if="max_rows > 30" uib-pagination total-items="max_rows" ng-model="search.offset" ng-change="searchThing()" max-size="5" class="pager" boundary-links="true" items-per-page="lr"></ul>
        </div>
        <div class="col-sm-4 text-right">
            <label>{l}Number of invoice reminders{endl}: <strong>{{max_rows}}</strong></label>
        </div>
    </div>
</div>
<!-- neede on all pages -->