<div class="remsdate">
	<div class="modal-header">
	  	<button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="remsdate.cancel()"><span aria-hidden="true">&times;</span></button>
	  	<h4 class="modal-title">{{remsdate.obj.title}}</h4>
	</div>
	<div class="modal-body">
		  <div class="loading_wrap loading_alt hidden">
	      	<div class="loading"></div>
	        	<div class="spinner"></div>
	      </div>
		<div class="col-sm-12 col-bottom col-top">
			<div class="row form-group">
			      <label class="col-sm-2 col-lg-2 control-label text-left">{l}Sent Date{endl} <a href="#" uib-tooltip="{l}included{endl}" tooltip-placement="right"></a></label>
			      <div class="col-sm-4 col-lg-4">
			      	<div class="so-field input-date">
				        <span class="glyphicon glyphicon-calendar so-icon" ng-click="remsdate.openDate('date')"></span>
						<input type="text" class="form-control form-control-border-right" ng-model="remsdate.obj.sent_date" uib-datepicker-popup="{{remsdate.format}}" is-open="remsdate.datePickOpen.date" datepicker-options="remsdate.dateOptions" close-text="Close" placeholder="{l}Sent Date{endl}" show-button-bar="false" ng-click="remsdate.datePickOpen.date=true"/>
				      </div>
			      </div>
			</div>
		</div>
	</div>
	<div class="modal-footer">
	      <button class="btn btn-plain" type="button" ng-click="remsdate.cancel()">{l}Cancel{endl}</button>
	      <button class="btn btn-default" type="button" ng-click="remsdate.ok()">{l}Save{endl}</button>
	</div>
</div>