<div class="modal-header">
  	<button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="cont.cancel()"><span aria-hidden="true">&times;</span></button>
  	<h4 class="modal-title">{l}Choose contact{endl}</h4>
</div>
<div uib-alert ng-repeat="alert in cont.alerts" type="{{alert.type}}" close="cont.alerts.splice($index, 1);" dismiss-on-timeout="5000" ng-class="['alert-' + (alert.type || 'warning') ]">{{alert.msg}}</div>
<div class="modal-body modal-body_alt">
	<div class="col-sm-12">
		<div class="row form-horizontal">
			<div class="form-group">
		          <label for="" class="col-sm-3 control-label">{l}Contact to send to{endl}</label>
		          <div class="col-sm-9 checkbox">
		            <selectize config='cont.ccCfg' options='cont.obj.contacts' ng-model="cont.obj.contact_selected"></selectize>
		          </div>
		      </div>
		</div>
	</div>
</div>
<div class="modal-footer">
      <button class="btn btn-default" type="button" ng-disabled="!cont.obj.contact_selected" ng-click="cont.ok()">{l}Start{endl}</button>
</div>