<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="remstatus.cancel()"><span aria-hidden="true">&times;</span></button>
  <h4 class="modal-title">{{remstatus.obj.title}}</h4>
</div>
<div class="modal-body">
	<div class="row page-content">
		<div class="col-xs-12">
			<table class="table active_rows orderTable">
              <thead>
                <tr>
                  <th class="col-md-3 col-sm-3">{l}Account manager{endl}</th>
                  <th class="col-md-3 col-sm-3">{l}Date sent{endl}</th>
                  <th class="col-md-3 col-sm-3">{l}Email{endl}</th>
                  <th class="col-md-3 col-sm-3">{l}Invoices{endl}</th>                  
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="item in remstatus.obj.reminders">
                  <td><span ng-bind-html="item.name"></span></td>
                  <td>{{item.sent_date}}</td>
                  <td>{{item.email}}</td>
                  <td>
                    <span ng-repeat="item2 in item.invoices">
                      <a href="#" ng-click="remstatus.go_link(item2.invoice_id)">{{item2.serial_number}}</a><span ng-if="!$last">, </span> 
                    </span>                   
                  </td>  
                </tr>
              </tbody>
			</table>
		</div>
	</div>
</div>
<div class="modal-footer">
    <button class="btn btn-plain" type="button" ng-click="remstatus.cancel()">{l}Close{endl}</button>
</div>