<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="remail.cancel()"><span aria-hidden="true">&times;</span></button>
  <h4 class="modal-title">{l}Send mail{endl}</h4>
</div>
<div uib-alert ng-repeat="alert in remail.alerts" type="{{alert.type}}" close="remail.alerts.splice($index, 1);" dismiss-on-timeout="5000" ng-class="['alert-' + (alert.type || 'warning') ]">{{alert.msg}}</div>
<div class="modal-body">
  <div class="row page-content">
    <div class="col-xs-12">
      <form class="form-horizontal text-left">
        <div class="form-group">
          <label for="" class="col-sm-3 control-label"><strong>{l}Recipients{endl}</strong></label>
            <div class="col-sm-9">
              <selectize config='remail.contactForEmailAutoCfg' options='remail.obj.auto.options.recipients' ng-model="remail.obj.email.recipients"></selectize>
            </div>
        </div>
        <div class="form-group">
          <label for="" class="col-sm-3 control-label">{l}Send me a copy{endl}</label>
          <div class="col-sm-9 checkbox checkbox-primary">
            <input type="checkbox" id="checkbox1" ng-model="remail.obj.copy" name="copy">
            <label for="checkbox1">
            </label>
          </div>
        </div>
        <div class="form-group">
          <label for="" class="col-sm-3 control-label">{l}Send PDF{endl}</label>
          <div class="col-sm-9 checkbox checkbox-primary">
            <input type="checkbox" id="checkbox2" ng-model="remail.obj.include_pdf" >
            <label for="checkbox2">
            </label>
          </div>
        </div>
        <div class="form-group" ng-if="remail.obj.has_contacts">
          <label for="" class="col-sm-3 control-label">{l}Contact to send to{endl}</label>
          <div class="col-sm-9 checkbox">
            <selectize config='remail.ccCfg' options='remail.obj.auto.options.contacts' ng-model="remail.obj.contact_selected"></selectize>
          </div>
        </div>
        <div class="form-group">
          <label for="" class="col-sm-3 control-label">{l}Subject{endl}</label>
          <div class="col-sm-9">
            <input type="text" class="form-control" ng-model="remail.obj.subject" placeholder="{l}Subject{endl}">
          </div>
        </div>
        <div class="form-group">
          <label for="" class="col-sm-3 control-label">{l}Message{endl}</label>
          <div class="col-sm-9">
            <textarea ui-tinymce="remail.tinymceOptions" ng-model="remail.obj.e_message" class="form-control mail_send"></textarea>          
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<div class="modal-footer">
    <button class="btn btn-plain" type="button" ng-click="remail.cancel()">{l}Cancel{endl}</button>
    <button class="btn btn-default" type="button" ng-disabled="remail.save_disabled" ng-click="remail.ok(remail.obj)">{l}Send{endl}</button>
</div>