<div class="container"><!-- neede on all pages -->
  <div class="page-header">
    <div class="row">
        <div class="col-xs-12">
              <h1>{l}Reminders Settings{endl}</h1>
        </div>
      </div>
  </div><!-- /.page-header -->
  <div class="row page-content">
    <div class="col-xs-12">
      <div class="row">
        <div class="col-xs-12">
          <div uib-alert ng-repeat="alert in set.alerts" type="{{alert.type}}" dismiss-on-timeout="5000" close="set.alerts.splice($index, 1);" ng-class="['alert-' + (alert.type || 'warning') ]">{{alert.msg}}</div>
          <div class="section-title">
            <div class="row">
              <div class="col-xs-7">
                <h2>{l}Invoice Message{endl} </h2>
              </div>
              <div class="col-xs-5 text-right">
                <button go-to="" state="reminders" class="btn btn-link "><span class="glyphicon glyphicon-list"></span> <strong>{l}List{endl}</strong></button>
                <button type="submit" class="btn btn-default " ng-click="set.save()">{l}Save{endl}</button>
              </div>
            </div>
          </div><!-- /.section-title -->
          <div class="section-content">
            <div class="row form-horizontal">
              <div class="col-xs-12">
                <p class="text-muted">{l}Late message on attached mail for invoices{endl}</p>
                <div class="form-group">
                  <label class="col-sm-2 control-label text-left">{l}Subject{endl}:</label>
                  <div class="col-sm-4">
                    <input type="text" class="form-control form-language {{set.rem.translate_cls}}" ng-model="set.rem.subject"/>
                  </div>
                  
                  <div class="col-sm-5 col-sm-offset-1 text-right">
                    <div class="btn-inline col-right">
                      <select class="form-control form-language {{set.rem.translate_cls}}" ng-model="set.rem.languages" ng-change="set.changeLang()">
                        <option ng-repeat="option in set.rem.language_dd track by option.id" value="{{option.id}}">{{option.name}}</option>
                      </select>
                    </div>
                    <a href="index.php?do=invoice-invoice_print&lid={{set.rem.languages}}&save_as=rem&logo=upload/salesassist_2/logo_img_salesassist_2_1411562302.jpg" target="_blank" class="btn btn-default " ng-click="set.preview()">{l}Preview{endl}</a>
                  </div>
                </div>
                <p><strong>{l}You can use the following variables in the message:{endl}</strong></p>
                <p class="text-muted"><strong>*{l}Click on the variable and the Ctrl+C or Cmd+C(on mac) to copy and then Ctrl+V or Cmd+V to paste{endl}</strong></p>
                <div class="row variables">
                  <div class="col-xs-4">
                    <input type="text" class="form-control disabled" readonly="readonly" value="[!CUSTOMER!]" onclick="this.select();" />
                    <label>{l}Company Name{endl}</label>
                  </div>
                  <div class="col-xs-4">
                    <input type="text" class="form-control disabled" readonly="readonly" value="[!FIRST_NAME!]" onclick="this.select();" />
                    <label>{l}First Name{endl}</label>
                  </div>
                  <div class="col-xs-4">
                      <input type="text" class="form-control disabled" readonly="readonly" value="[!LAST_NAME!]" onclick="this.select();" />
                      <label>{l}Last Name{endl}</label>
                  </div>
<!--                             <div class="col-xs-3">
                                <input type="text" class="form-control disabled" readonly="readonly" value="[!INVOICE_SUMMARY!]" onclick="this.select();" />
                                <label>{l}Invoices summary{endl}</label>
                            </div> -->                          
                </div>
                <div class="form-horizontal">
                  <div class="form-group">
                      <label class="col-sm-2 control-label text-left"><strong>{l}Intro{endl}:</strong></label>
                      <div class="col-sm-10">
                        <textarea ui-tinymce="set.tinymceOptions" ng-model="set.rem.text" class="form-control mail_send"></textarea>
                      </div>
                  </div>
                </div>                          
              </div>
            </div>
          <!-- </div> -->
          </div><!-- /.section-content -->
          <div class="row col-sm-12" ng-repeat="item in set.rem.tabs">
            <div class="section-title">
              <div class="row">
                  <div class="col-xs-12">
                      <h2>{{item.header}} </h2>
                  </div>
              </div>
            </div><!-- /.section-title -->
            <div class="section-content">
              <div class="row form-horizontal">
                  <div class="col-xs-12">
                    <div class="form-group">
                      <label class="col-sm-2 control-label text-left"><strong>{l}Penalty:{endl}</strong></label>
                      <div class="col-sm-2">
                        <input display-nr="" type="text" class="form-control" ng-model="item.penalty_value" />
                      </div>
                      <div class="col-sm-2">
                        <select class="form-control form-language" ng-model="item.penalty_type">
                          <option value="1">{l}Percent{endl}</option>
                          <option value="2">{l}Fixed amount{endl}</option>
                        </select>
                      </div>                           
                    </div>
                    <div class="form-group">
                      <label class="col-sm-2 control-label text-left"><strong>{l}Title{endl}:</strong></label>
                      <div class="col-sm-4">
                        <input type="text" class="form-control form-language {{set.rem.translate_cls}}" ng-model="item.title"/>
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="col-sm-2 control-label text-left"><strong>{l}Message{endl}:</strong></label>
                      <div class="col-sm-10">
                        <textarea ui-tinymce="set.tinymceOptions" ng-model="item.text" class="form-control mail_send" ></textarea>
                      </div>
                    </div>
                  </div>
              </div>
            </div><!-- /.section-content -->
          </div>
          <div class="section-title">
            <div class="row">
                <div class="col-xs-12">
                  <h2>{l}Foot notes{endl} </h2>
                </div>
            </div>
          </div>
          <div class="section-content">
            <div class="row form-horizontal">
              <div class="col-xs-12">
                <div class="form-group">
                  <label class="col-sm-2 control-label text-left"><strong>{l}Foot notes{endl}:</strong></label>
                  <div class="col-sm-10">
                    <textarea ui-tinymce="set.tinymceOptions" ng-model="set.rem.footnote" class="form-control mail_send" ></textarea>
                  </div>
                </div>
              </div>
            </div>
          </div>             
        </div><!-- /.tabs-settings-content -->
      </div>
    </div><!-- /.tabs-settings -->
  </div><!-- /.page-content -->
</div><!-- needed on all pages -->