<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="post.cancel()"><span aria-hidden="true">&times;</span></button>
  <h4 class="modal-title">{l}Status{endl}</h4>
</div>
<div class="modal-body modal-body_alt">
	<div class="loading_wrap loading_alt hidden">
      	<div class="loading"></div>
        <div class="spinner"></div>
    </div>
	<div class="row page-content">
		<div class="col-xs-12 text-center">
			<p>{{post.obj.status}}</p>
			<div class="btn-group" uib-dropdown is-open="false">
		      <button id="single-button" type="button" class="btn btn-default" uib-dropdown-toggle>
		        {l}Send by Post{endl} <span class="caret"></span>
		      </button>
		      <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="single-button">
		        <li role="menuitem" ng-click="post.resend(1)"><a href="#">{l}Normal Envelope{endl}</a></li>
		        <li role="menuitem" ng-click="post.resend(2)"><a href="#">{l}Recommended Envelope{endl}</a></li>
		      </ul>
		    </div>	
		</div>
	</div>
</div>
<div class="modal-footer">
    <button class="btn btn-plain" type="button" ng-click="post.cancel()">{l}Close{endl}</button>
</div>