<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="col.cancel()"><span aria-hidden="true">&times;</span></button>
  <h4 class="modal-title">{l}Create SEPA-XML{endl}</h4>
</div>
<div class="modal-body modal-body_alt">
	<div class="loading_wrap loading_alt hidden">
      	<div class="loading"></div>
        	<div class="spinner"></div>
      </div>
	<div class="row page-content">
		<div class="col-xs-12">
			<div class="row">
				<div class="form-group">
					<label class="control-label text-left col-sm-6">{l}Please select collection date{endl} <span class="mandatory-label">*</span></label></label>
					<div class="col-sm-4">
						<div class="so-field">
							<span class="glyphicon glyphicon-calendar so-icon" ng-click="col.datePickOpen.col_date=true"></span>
							<input type="text" class="form-control form-control-border-right" ng-model="col.obj.collection_date" uib-datepicker-popup="{{col.format}}" is-open="col.datePickOpen.col_date" datepicker-options="col.dateOptions" ng-required="true" close-text="Close" placeholder="{l}Collection Date{endl}" show-button-bar="false" ng-click="col.datePickOpen.col_date=true" />
						</div>
					</div>
				</div>
			</div>		
			<div class="row margin-top">
				<div class="form-group">
					<label class="control-label text-left col-sm-6">{l}Paid on collection date{endl}</label>
					<div class="checkbox checkbox-primary">
 						<input type="checkbox" id="checkbox1" ng-model="col.obj.paid_collection_date">
 						<label for="checkbox1"></label>
 					</div>
				</div>
			</div>		
		</div>
	</div>
</div>
<div class="modal-footer">
    <button class="btn btn-plain" type="button" ng-click="col.cancel()">{l}Cancel{endl}</button>
    <button class="btn btn-default" type="button" ng-disabled="!col.obj.collection_date" ng-click="col.ok()">{l}Create{endl}</button>
</div>