<div class="modal-header">
  	<button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="sp.cancel()"><span aria-hidden="true">&times;</span></button>
  	<h4 class="modal-title">{l}Sepa Language{endl}</h4>
</div>
<div class="modal-body">
	<div class="col-sm-12">
		<div class="form-group">
			<label class="control-label text-left col-sm-4">{l}Type{endl}</label>
			<div class="col-sm-6">
				<select ng-model="sp.obj.lang_id" class="form-control">
					<option ng-repeat="option in sp.obj.pdf_lg track by option.id" value="{{option.id}}" ng-bind-html="option.value"></option>
				</select>
			</div>
		</div>
	</div>
</div>
<div class="modal-footer">
      <button class="btn btn-plain" type="button" ng-click="sp.cancel()">{l}Cancel{endl}</button>
      <button class="btn btn-default" type="button" ng-click="sp.ok()">{l}Ok{endl}</button>
</div>