<div class="container">
    <div class="tabs-navigation">
        <div class="tab-content">
            <div class="tab-pane active">
                <!--     <div uib-alert ng-repeat="alert in alerts" type="{{alert.type}}" close="alerts.splice($index, 1);" ng-class="['alert-' + (alert.type || 'warning'), 'alert-fixed' ]" dismiss-on-timeout='5000' >{{alert.msg}}</div> -->
                <div class="row page-content">
                    <div class="col-sm-12">
                        <ul class="nav nav-tabs" role="tablist">
                            <li class="active" ng-click="get_invoices()"><a href="#invoices" aria-controls="invoices" role="tab" data-toggle="tab" aria-expanded="true">{l}Invoices{endl}</a></li>
                            <li class="" ng-click="get_mandates()"><a href="#mandates" aria-controls="mandates" role="tab" data-toggle="tab" aria-expanded="false">{l}Mandates{endl}</a></li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane fade in active" id="invoices">
                                <div class="section-content">
                                    <div class="row page-search">
                                        <form>
                                            <div class="col-sm-2">
                                                <div class="btn-group btn-block">
                                                    <selectize placeholder="{l}All Statuses{endl}" config='filterCfg' options='views' ng-model="activeView"></selectize>
                                                </div>
                                            </div>
                                            <div class="col-sm-4 pull-right text-right" ng-if="list.length && show_settings.is_admin_invoice">
                                                <a class="btn btn-default" ng-click="export_xml()">{l}Export XML{endl}</a>
                                            </div>
                                        </form>
                                    </div>
                                    <!-- /.page-search -->
                                    <!-- <div uib-alert type="notice" class="alert-warning" ng-if="!list.length">{l}No data to display{endl}</div> -->
                                    <table class="table active_rows orderTable" ng-if="list.length">
                                        <thead>
                                            <tr>
                                                <!-- <th class="col-sm-1 text-center">{l}Status{endl}</th> -->
                                                <th class="col-sm-2 sortable_row" ng-class="{ 'sortable_row-up':(!reverse && ord == 'serial_number'), 'sortable_row-down':(reverse && ord == 'serial_number') }" ng-click="orderBY('serial_number')">{l}Invoice{endl}</th>
                                                <th class="col-sm-1 sortable_row" ng-class="{ 'sortable_row-up':(!reverse && ord == 'sepa_number'), 'sortable_row-down':(reverse && ord == 'sepa_number') }" ng-click="orderBY('sepa_number')">{l}Mandate{endl}</th>
                                                <th class="col-sm-1 sortable_row" ng-class="{ 'sortable_row-up':(!reverse && ord == 't_date'), 'sortable_row-down':(reverse && ord == 't_date') }" ng-click="orderBY('t_date')">{l}Date{endl}</th>
                                                <th class="col-sm-1 sortable_row" ng-class="{ 'sortable_row-up':(!reverse && ord == 'due_date'), 'sortable_row-down':(reverse && ord == 'due_date') }" ng-click="orderBY('due_date')">{l}Due Date{endl}</th>
                                                <th class="col-sm-2 sortable_row" ng-class="{ 'sortable_row-up':(!reverse && ord == 'buyer_name'), 'sortable_row-down':(reverse && ord == 'buyer_name') }" ng-click="orderBY('buyer_name')">{l}Company{endl}</th>
                                                <th class="col-sm-1 sortable_row" ng-class="{ 'sortable_row-up':(!reverse && ord == 'amount'), 'sortable_row-down':(reverse && ord == 'amount') }" ng-click="orderBY('amount')">{l}Amount{endl}</th>
                                                <th class="col-sm-1 sortable_row" ng-class="{ 'sortable_row-up':(!reverse && ord == 'amount_vat'), 'sortable_row-down':(reverse && ord == 'amount_vat') }" ng-click="orderBY('amount_vat')">{l}Amount + VAT{endl}</th>
                                                <th class="col-sm-1 text-center">
                                                    <div class="checkbox checkbox-primary">
                                                        <input type="checkbox" id="checkbox1" ng-model="listObj.check_add_all" ng-click="checkAll()">
                                                        <label for="checkbox1"></label>
                                                    </div>
                                                </th>
                                                <th class="col-sm-1"></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="item in list">
                                                <!-- <td class="text-center">
                                        <a href="invoice/edit/{{item.invoice_id}}"><span class="badge item-status-gray">{{item.status_title}}</span></a>
                                    </td> -->
                                                <td>
                                                    <a href="invoice/edit/{{item.invoice_id}}" class="color-dark">{{item.s_number}}</a>
                                                </td>
                                                <td>
                                                    <a href="invoice/edit/{{item.invoice_id}}" class="color-dark">{{item.sepa_number}}</a>
                                                </td>
                                                <td>
                                                    <a href="invoice/edit/{{item.invoice_id}}" class="color-dark">{{item.created}}</a>
                                                </td>
                                                <td>
                                                    <a href="invoice/edit/{{item.invoice_id}}" class="color-dark">{{item.due_date}}</a>
                                                </td>
                                                <td>
                                                    <a href="invoice/edit/{{item.invoice_id}}" class="color-dark">{{item.buyer_name}}</a>
                                                </td>
                                                <td>
                                                    <a href="invoice/edit/{{item.invoice_id}}" class="color-dark"><span ng-bind-html="item.amount"></span></a>
                                                </td>
                                                <td>
                                                    <a href="invoice/edit/{{item.invoice_id}}" class="color-dark"><span ng-bind-html="item.amount_vat"></span></a>
                                                </td>
                                                <td class="text-center">
                                                    <div class="checkbox checkbox-primary">
                                                        <input type="checkbox" id="checkbox_title_{{$index}}" ng-model="item.add_to_pdf" ng-click="checkAll(item)">
                                                        <label for="checkbox_title_{{$index}}"></label>
                                                    </div>
                                                </td>
                                                <td class="table_actions">
                                                    <div class="btn-group" uib-dropdown>
                                                        <button type="button" class="btn btn-plain dropdown-toggle" uib-dropdown-toggle>
                                                <span class="caret"></span>
                                            </button>
                                                        <ul class="dropdown-menu dropdown-menu-right" uib-dropdown-menu>
                                                            <li class="dropdown-header">{l}Action{endl}</li>
                                                            <li>
                                                                <a href="#" go-to="" state="invoice.edit" params='{"invoice_id": {{::item.invoice_id}}}'><span class="glyphicon glyphicon-info-sign text-primary"></span> {l}View{endl}</a>
                                                            </li>
                                                            <li ng-if="item.can_archive && (!search.archived || search.archived == '0')">
                                                                <a href="#" ng-click="action(item, 'archive_link')" confirm="{l}Are you sure, you wanna archive this entry?{endl}"><span class="fas fa-archive text-primary"></span> {l}Archive{endl}</a>
                                                            </li>
                                                            <li ng-if="item.can_activate && search.archived == '1'">
                                                                <a href="#" ng-click="action(item, 'activate_link')" confirm="{l}Are you sure, you wanna revert this entry?{endl}"><span class="glyphicon glyphicon-repeat text-primary"></span> {l}Activate{endl}</a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="mandates">
                                <div class="section-content">
                                    <div class="page-header">
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <h1>{l}List Mandates{endl}
                                                    <button type="button" class="btn btn-primary btn-add dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" uib-tooltip="{l}Add Mandate{endl}" tooltip-placement="right" ng-click="showMandate('tmp')"><span class="btn-add_icon"><span class="icon-bar"></span><span class="icon-bar-2"></span></span></button>
                                                </h1>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- /.page-header -->
                                    <div class="row page-search">
                                        <form>
                                            <div class="col-sm-12 col-md-12">
                                                <div class="so-field" ng-class="{ 'so-active':search_mand.search != '' }">
                                                    <span class="glyphicon glyphicon-search so-icon"></span>
                                                    <input type="text" class="form-control" placeholder="{l}Search{endl}" search-it doit="search_mand" callbk="renderList" ng-model="search_mand.search">
                                                    <span class="glyphicon glyphicon-remove so-icon so-remove" ng-click="toggleSearchButtons('search', '')"></span>
                                                </div>
                                                <!-- /.input-search -->
                                            </div>
                                        </form>
                                    </div>
                                    <!-- /.page-search -->
                                    <!-- <div uib-alert type="notice" class="alert-warning" ng-if="!list.length">{l}No data to display{endl}</div> -->
                                    <table class="table active_rows orderTable" ng-if="list.length">
                                        <thead>
                                            <tr>
                                                <th class="col-sm-1 text-center">{l}Status{endl}</th>
                                                <th class="col-sm-1 sortable_row" ng-class="{ 'sortable_row-up':(!reverse && ord == 'sepa_number'), 'sortable_row-down':(reverse && ord == 'sepa_number') }" ng-click="orderBY('sepa_number')">{l}Sepa number{endl}</th>
                                                <th class="col-sm-2 sortable_row" ng-class="{ 'sortable_row-up':(!reverse && ord == 'buyer_id'), 'sortable_row-down':(reverse && ord == 'buyer_id') }" ng-click="orderBY('buyer_id')">{l}Company{endl}</th>
                                                <th class="col-sm-1 sortable_row" ng-class="{ 'sortable_row-up':(!reverse && ord == 'creation_date'), 'sortable_row-down':(reverse && ord == 'creation_date') }" ng-click="orderBY('creation_date')">{l}Creation Date{endl}</th>
                                                <th class="col-sm-1 sortable_row" ng-class="{ 'sortable_row-up':(!reverse && ord == 'type_mandate'), 'sortable_row-down':(reverse && ord == 'type_mandate') }" ng-click="orderBY('type_mandate')">{l}Type{endl}</th>
                                                <th class="col-sm-1 sortable_row" ng-class="{ 'sortable_row-up':(!reverse && ord == 'frequency'), 'sortable_row-down':(reverse && ord == 'frequency') }" ng-click="orderBY('frequency')">{l}Frequency{endl}</th>
                                                <th class="col-sm-2 sortable_row" ng-class="{ 'sortable_row-up':(!reverse && ord == 'bank_iban'), 'sortable_row-down':(reverse && ord == 'bank_iban') }" ng-click="orderBY('bank_iban')">{l}IBAN{endl}</th>
                                                <th class="col-sm-1"></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="item in list">
                                                <td class="text-center">
                                                    <span class="item-status" ng-class="{ 'item-status-green':item.status == 1, 'item-status-orange':item.status != 1 }"></span>
                                                </td>
                                                <td>{{item.sepa_number}}</td>
                                                <td>{{item.company_mandate}}</td>
                                                <td>{{item.creation_date}}</td>
                                                <td>{{item.type_mandate}}</td>
                                                <td>{{item.frequency}}</td>
                                                <td>{{item.iban}}</td>
                                                <td class="table_actions">
                                                    <div class="btn-group" uib-dropdown>
                                                        <button type="button" class="btn btn-plain dropdown-toggle" uib-dropdown-toggle>
                                                <span class="caret"></span>
                                            </button>
                                                        <ul class="dropdown-menu dropdown-menu-right" uib-dropdown-menu>
                                                            <li class="dropdown-header">{l}Action{endl}</li>
                                                            <li><a href="#" ng-click="showMandate(item.id_mandate)"><span class="fas fa-pen text-primary"></span> {l}Edit{endl}</a></li>
                                                            <li ng-show="item.hide_view"><a href="{{item.amazon_link}}" target="_blank" ng-click=""><i class="far fa-file-pdf text-primary"></i> {l}View{endl}</a></li>
                                                            <li ng-show="item.hide_active"><a href="#" ng-click="showPdf(item)"><i class="far fa-file-pdf text-primary"></i> {l}PDF SEPA{endl}</a></li>
                                                            <li>
                                                                <a href="#" ng-click="deleteMandate($index)" confirm="{l}Are you sure, you wanna delete this entry?{endl}"><span class="fas fa-trash-alt text-primary"></span> {l}Delete{endl}</a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-12">
        <div class="col-sm-8">
            <ul ng-if="max_rows && max_rows > 30 && tab == 1" uib-pagination total-items="max_rows" ng-model="search.offset" ng-change="searchThing()" max-size="5" class="pager" boundary-links="true" items-per-page="lr"></ul>
            <ul ng-if="max_rows && max_rows > 30 && tab == 2" uib-pagination total-items="max_rows" ng-model="search_mand.offset" ng-change="searchThing()" max-size="5" class="pager" boundary-links="true" items-per-page="lr"></ul>
        </div>
        <div class="col-sm-4 text-right">
            <label ng-if="max_rows && tab == 1">{l}Number of invoices{endl}: <strong>{{max_rows}}</strong></label>
            <label ng-if="max_rows && tab == 2">{l}Number of mandates{endl}: <strong>{{max_rows}}</strong></label>
        </div>
    </div>
</div>
<!--<ul ng-if="max_rows > 30 && tab == 1" uib-pagination total-items="max_rows" ng-model="search.offset" ng-change="searchThing()" max-size="5" class="pager" boundary-links="true" items-per-page="lr"></ul>-->
<!--<ul ng-if="max_rows > 30 && tab == 2" uib-pagination total-items="max_rows" ng-model="search_mand.offset" ng-change="searchThing()" max-size="5" class="pager" boundary-links="true" items-per-page="lr"></ul>-->

</div>