<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="show.cancel()"><span aria-hidden="true">&times;</span></button>
  <h4 class="modal-title">{{show.item.title}}</h4>
</div>
<!-- <div uib-alert ng-repeat="alert in show.alerts" type="{{alert.type}}" close="show.alerts.splice($index, 1);" dismiss-on-timeout="3500" ng-class="['alert-' + (alert.type || 'warning') ]">{{alert.msg}}</div> -->
<div class="modal-body modal-body_alt">
	<div class="loading_wrap loading_alt hidden">
      	<div class="loading"></div>
        	<div class="spinner"></div>
      </div>
      <div class="col-sm-12">
      	<div class="row" ng-show="show.item.mandate_id=='tmp'">
      		<div class="col-sm-6">
			    	<div class="panel panel-default panel-customer_details">
			        <div class="panel-body panel-current_customer" ng-class="{ 'panel-add_customer': show.item.add_customer && show.showTxt.addBtn }">
			            <div ng-if="show.showTxt.address && !show.item.add_customer">
			              <a class="panel-edit text-link" href="#" ng-click="show.showEditFnc(show)" >{l}Edit{endl}</a>
			              <h2>{{show.item.buyer_name}} <small class="quick_edits"><span class="text-link_space">•</span> <a href="#" class="text-link text-muted edit-customer" ng-click="show.openModal(show,'EditContact');" ng-if="show.item.field=='contact_id'" >{l}Edit Customer{endl}</a><a href="#" class="text-link text-muted edit-customer" ng-click="show.openModal(show,'EditCustomer');" ng-if="show.item.field=='customer_id'" >{l}Edit Customer{endl}</a> <span class="text-link_space" >•</span> <a href="#" class="text-link text-muted delete-customer" ng-click="show.removeCust(show)" >{l}Remove{endl}</a></small></h2>
			              <p ng-if="show.item.contact_name && show.item.field=='customer_id'" class=""><span ng-bind-html="show.item.contact_name"></span> <small class="quick_edits"><span class="text-link_space">•</span> <a href="#" class="text-link text-muted edit-contact" ng-click="show.openModal(show,'EditContact');" >{l}Edit Contact{endl}</a> <span class="text-link_space">•</span> <a href="#" class="text-link text-muted" ng-click="show.removeContact(show)">{l}Remove{endl}</a></small></p>
			              <p><a href="#" class="text-link edit-customer" ng-click="show.showEditFnc(show)" ng-if="!show.item.contact_name">{l}Add a Contact{endl}</a></p>
			              <div class="delivery-address" ng-if="!show.item.view_delivery">
			                <span ng-bind-html="show.item.free_field_txt"></span>			
			               </div>
			            </div><!-- /showTxt.address -->
			            <div ng-if="show.item.add_customer">
			              <button class="btn btn-block btn-lg btn-blank" ng-if="show.showTxt.addBtn" ng-click="show.showCCSelectize(show)"><span class="fa fa-user-plus icon-holder"></span> {l}Add Customer{endl}</button>
			              <selectize config='show.ccAutoCfg' options='show.auto.options.cc' ng-model="show.item.cc_id" id="custandcont" ng-if="!show.showTxt.addBtn"></selectize>
			            </div>
			            <div class="form-horizontal text-left " ng-if="!show.showTxt.address">
			              <div class="form-group">
			                <label class="col-sm-3 control-label">{l}Customer{endl}</label>
			                <div class="col-sm-9">
								<div class="so-dropdown" ng-class="{ 'so-active':show.item.buyer_id!=='tmp' &&  show.item.buyer_id!='' &&  show.item.buyer_id!=null}">
			                  		<!-- <input type="text" class="form-control" ng-model="show.item.buyer_name" ng-disabled="true" > -->
			                  		<selectize config='show.ccAutoCfg' options='show.auto.options.cc' ng-model="show.item.buyer_id" id="custandcont"></selectize>
									  <span class="glyphicon glyphicon-remove so-icon so-remove"  ng-click="show.removeAccount(show)"></span>
								</div>
			                </div>
			              </div>
			              <div class="form-group" >
			                <label class="col-sm-3 control-label">{l}Contact{endl}</label>
			                <div class="col-sm-9">
								<div class="so-dropdown" ng-class="{ 'so-active':show.item.contact_id && show.item.contact_id !=0}">
			                  		<selectize config='show.contactAutoCfg' options='show.auto.options.contacts' ng-model="show.item.contact_id" id="contact_id" ng-disabled="!show.item.buyer_id"></selectize>
									<span class="glyphicon glyphicon-remove so-icon so-remove"  ng-click="show.removeContact(show)"></span>
								</div>
			                </div>
			              </div>
			              <div class="form-group extra_address" >
			                <label class="col-sm-3 control-label">{l}Address{endl}</label>
			                <div class="col-sm-9 ">
								<div class="so-dropdown" ng-class="{ 'so-active':show.item.main_address_id}">
			                  		<selectize config='show.addressAutoCfg' options='show.auto.options.addresses' ng-model="show.item.main_address_id" id="main_address" ng-disabled="!show.item.buyer_id"></selectize>
									<span class="glyphicon glyphicon-remove so-icon so-remove"  ng-click="show.removeMainDeliveryAddr(show)"></span>
								</div>
			                </div>
			              </div>
			              <!-- <div class="form-group">
			                <label class="col-sm-3 control-label"></label>
			                <div class="col-sm-9">
			                  <div class="checkbox checkbox-primary">                    
			                      <input type="checkbox" id="checkbox1" ng-model="show.item.sameAddress" ng-click="show.removeDeliveryAddr()" ng-disabled="!show.item.buyer_id">
			                    <label for="checkbox1"></label>
			                    <span class="text-muted">{l}Billing address same as main address{endl}</span>
			                  </div>
			                </div>
			              </div>
			              <div class="form-group extra_address" ng-if="!show.item.sameAddress">
			                <div class="col-sm-9 col-sm-offset-3">
			                  <selectize config='show.addressAutoCfg' options='show.auto.options.addresses' ng-model="show.item.delivery_address_id" id="delivery_address" ng-disabled="!show.item.buyer_id"></selectize>
			                </div>
			              </div> -->
			              <!-- <div class="text-right">
			                <a href="#" class="text-muted" ng-click="show.cancelEdit(show)">{l}Cancel{endl}</a> <span class="text-link_space">• </span> <a href="#" class="text-link" ng-click="show.saveClientData(show,show.item.field)">{l}Save{endl}</a>
			              </div> -->
			            </div>
			          </div>
			      </div><!-- /.panel -->
			</div>
			<div class="col-sm-5 col-sm-offset-1 col-lg-4 col-lg-offset-2">
			      <form class="form-horizontal form-squeeze" name="mandate_add" novalidate>
			      	<div class="form-group" ng-class="{ 'form-group_alert' : mandate_add.bank_iban.$invalid && !mandate_add.bank_iban.$pristine }">
		  				<label class="control-label text-left col-sm-5">{l}IBAN{endl}</label>
		  				<div class="col-sm-7">
		  					<input type="text" class="form-control" name="bank_iban" ng-model="show.item.bank_iban">
		  					<div class="alert alert-sm alert-danger" ng-if="mandate_add.bank_iban.$invalid && show.alertsField.bank_iban">{{show.alertsField.bank_iban}}</div>
		  				</div>
		  			</div>
		  			<div class="form-group" ng-class="{ 'form-group_alert' : mandate_add.bank_bic_code.$invalid && !mandate_add.bank_bic_code.$pristine }">
		  				<label class="control-label text-left col-sm-5">{l}BIC Code{endl}</label>
		  				<div class="col-sm-7">
		  					<input type="text" class="form-control" name="bank_bic_code" ng-model="show.item.bank_bic_code">
		  					<div class="alert alert-sm alert-danger" ng-if="mandate_add.bank_bic_code.$invalid && show.alertsField.bank_bic_code">{{show.alertsField.bank_bic_code}}</div>
		  				</div>
		  			</div>
		  			<div class="form-group" ng-class="{ 'form-group_alert' : mandate_add.type_mandate.$invalid && !mandate_add.type_mandate.$pristine }">
		  				<label class="control-label text-left col-sm-5">{l}Type{endl}</label>
		  				<div class="col-sm-7">
		  					<select ng-model="show.item.type_mandate" class="form-control" name="type_mandate">
		  						<option ng-repeat="option in show.item.type_mandate_dd track by option.id" value="{{option.id}}" ng-bind-html="option.name"></option>
		  					</select>
		  					<div class="alert alert-sm alert-danger" ng-if="mandate_add.type_mandate.$invalid && show.alertsField.type_mandate">{{show.alertsField.type_mandate}}</div>
		  				</div>
		  			</div>
		  			<div class="form-group" ng-class="{ 'form-group_alert' : mandate_add.frequency.$invalid && !mandate_add.frequency.$pristine }">
		  				<label class="control-label text-left col-sm-5">{l}Frequency{endl}</label>
		  				<div class="col-sm-7">
		  					<select ng-model="show.item.frequency" class="form-control" name="frequency">
		  						<option ng-repeat="option in show.item.frequency_dd track by option.id" value="{{option.id}}" ng-bind-html="option.name"></option>
		  					</select>
		  					<div class="alert alert-sm alert-danger" ng-if="mandate_add.frequency.$invalid && show.alertsField.frequency">{{show.alertsField.frequency}}</div>
		  				</div>
		  			</div>       
			      </form><!-- /.form-horizontal -->
			</div>
      	</div>
      	<div class="row" ng-show="show.item.mandate_id!='tmp'">
      		<form class="form-horizontal" name="mandate_form" novalidate>
	  			<div class="form-group" ng-show="show.item.hide_sepa_number" ng-class="{ 'form-group_alert' : mandate_form.sepa_number.$invalid && !mandate_form.sepa_number.$pristine }">
	  				<label class="control-label text-left col-sm-4">{l}Sepa number{endl}</label>
	  				<div class="col-sm-6">
	  					<input type="text" class="form-control" name="sepa_number" ng-model="show.item.sepa_number">
	  					<div class="alert alert-sm alert-danger" ng-if="mandate_form.sepa_number.$invalid && show.alertsField.sepa_number">{{show.alertsField.sepa_number}}</div>
	  				</div>
	  			</div>
	  			<div class="form-group" ng-class="{ 'form-group_alert' : mandate_form.bank_iban.$invalid && !mandate_form.bank_iban.$pristine }">
	  				<label class="control-label text-left col-sm-4">{l}IBAN{endl}</label>
	  				<div class="col-sm-6">
	  					<input type="text" class="form-control" name="bank_iban" ng-model="show.item.bank_iban">
	  					<div class="alert alert-sm alert-danger" ng-if="mandate_form.bank_iban.$invalid && show.alertsField.bank_iban">{{show.alertsField.bank_iban}}</div>
	  				</div>
	  			</div>
	  			<div class="form-group" ng-class="{ 'form-group_alert' : mandate_form.bank_bic_code.$invalid && !mandate_form.bank_bic_code.$pristine }">
	  				<label class="control-label text-left col-sm-4">{l}BIC Code{endl}</label>
	  				<div class="col-sm-6">
	  					<input type="text" class="form-control" name="bank_bic_code" ng-model="show.item.bank_bic_code">
	  					<div class="alert alert-sm alert-danger" ng-if="mandate_form.bank_bic_code.$invalid && show.alertsField.bank_bic_code">{{show.alertsField.bank_bic_code}}</div>
	  				</div>
	  			</div>
	  			<div class="form-group">
	  				<label class="control-label text-left col-sm-4">{l}Type{endl}</label>
	  				<div class="col-sm-6">
	  					<select ng-model="show.item.type_mandate" class="form-control">
	  						<option ng-repeat="option in show.item.type_mandate_dd track by option.id" value="{{option.id}}" ng-bind-html="option.name"></option>
	  					</select>
	  				</div>
	  			</div>
	  			<div class="form-group">
	  				<label class="control-label text-left col-sm-4">{l}Frequency{endl}</label>
	  				<div class="col-sm-6">
	  					<select ng-model="show.item.frequency" class="form-control">
	  						<option ng-repeat="option in show.item.frequency_dd track by option.id" value="{{option.id}}" ng-bind-html="option.name"></option>
	  					</select>
	  				</div>
	  			</div>
	  			<div class="form-group">
	  				<label class="control-label text-left col-sm-4">{l}Mode{endl}</label>
	  				<div class="col-sm-6">
	  					<select ng-model="show.item.mode" class="form-control">
	  						<option ng-repeat="option in show.item.mode_dd track by option.id" value="{{option.id}}" ng-bind-html="option.name"></option>
	  					</select>
	  				</div>
	  			</div>
	  			<div class="form-group">
	  				<label class="control-label text-left col-sm-4">{l}Signature of the Mandate{endl}</label>
	  				<div class="col-sm-6">
	  					<div class="so-field">
	                                  <span class="glyphicon glyphicon-calendar so-icon" ng-click="show.datePickOpen.signature_date=true"></span>
	                                  <input type="text" class="form-control" ng-model="show.item.signature_date" uib-datepicker-popup="{{show.format}}" is-open="show.datePickOpen.signature_date" datepicker-options="show.dateOptions" close-text="Close" placeholder="{l}Signature date{endl}" show-button-bar="false" ng-click="show.datePickOpen.signature_date=true" />
	                            </div><!-- /.so-field -->
	  				</div>
	  			</div>
	  			<div class="form-group" ng-show="show.item.name_PDF">
	  				<label class="control-label text-left col-sm-4">{l}PDF{endl}</label>
	  				<div class="col-sm-6">
	  					<label class="control-label">{{show.item.original_name}} <a href="#" ng-click="show.removeFile()"><span class="fas fa-trash-alt text-primary"></span></a></label>
	  				</div>
	  			</div>
		            <div class="upload-box col-sm-12 margin-bottom" ng-show="show.item.PDF_hide">
		                        <p>{l}PDF{endl}</p>
		                        <p>{l}Allowed file types: <strong>.pdf</strong>.{endl}</p>
		                        <div class="upload-file hidden">
		                                  <div class="row">
		                                      <div class="upload-file-info col-xs-12">
		                                          <p class="nameOfTheFile"></p>
		                                          <div class="upload-progress">
		                                              <div class="upload-progress-bar" style="width: 88%;"></div>
		                                          </div>
		                                      </div>
		                                  </div>
		                        </div>
		                        <input type="file" name="file" class="newUploadFile5">
		                        <p class="text-center"><button class="btn btn-default" ng-click="show.uploadDrop(show,$event)"><span class="glyphicon glyphicon-cloud-upload"></span> {l}Upload{endl}</button></p>
		            </div><!-- /.upload-box -->
  			</form>
      	</div>
      </div>
</div>
<div class="modal-footer">
	<button class="btn btn-plain" type="button" ng-click="show.cancel()">{l}Close{endl}</button>
	<button class="btn btn-default" ng-show="show.item.mandate_id=='tmp'" type="button" ng-click="show.ok(mandate_add)" ng-disabled="!show.item.buyer_id">{l}Save{endl}</button>
	<button class="btn btn-default" ng-show="show.item.mandate_id!='tmp'" type="button" ng-click="show.ok(mandate_form)">{l}Save{endl}</button>
</div>