<div class="modal-header">
    <h3 class="modal-title"></h3>
</div>
<div class="modal-body" >
		<h3 class="modal-title">{l}Reading the file.{endl}  <i class="fa fa-spinner fa-spin fa-1x fa-fw" aria-hidden="true"></i><span class="sr-only">{l}Loading{endl}</span></h3>
</div>
