<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="weblog.cancel()"><span aria-hidden="true">&times;</span></button>
  <h4 class="modal-title">{l}Web log{endl}</h4>
</div>
<div class="modal-body">
	<div ng-if="weblog.is_data" class="row page-content">
		<div class="col-xs-12">
			<table class="table active_rows orderTable">
              <thead>
                <tr>
                  <th class="col-md-3 col-sm-3">{l}Code{endl}</th>
                  <th class="col-md-3 col-sm-3">{l}IP{endl}</th>
                  <th class="col-md-3 col-sm-3">{l}Browser{endl}</th>
                  <th class="col-md-3 col-sm-3">{l}Time{endl}</th>                  
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="item in weblog.list">
                  <td>{{item.code}}</td>
                  <td>{{item.ip}}</td>
                  <td>{{item.browser}}</td>
                  <td>{{item.time}}</td>  
                </tr>
              </tbody>
			</table>
		</div>
	</div>
	<div ng-if="!weblog.is_data">
		<div uib-alert ng-repeat="alert in weblog.alerts" type="{{alert.type}}" close="weblog.closeAlert($index)" ng-class="['alert-' + (alert.type || 'warning') ]">{l}No data to display{endl}</div>
	</div>
  <ul ng-if="weblog.max_rows > 30" uib-pagination total-items="weblog.max_rows" ng-model="weblog.search.offset" ng-change="weblog.searchThing()" max-size="5" class="pager" boundary-links="true" items-per-page="weblog.lr" ></ul>
</div>
<!-- <pag-custom pages="pager" refresh="weblog.renderList()" doit='invoice-web_log'></pag-custom> -->
<div class="modal-footer">
    <button class="btn btn-plain" type="button" ng-click="weblog.cancel()">{l}Close{endl}</button>
</div>