<div class="modal-header">
  	<button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="vm.cancel()"><span aria-hidden="true">&times;</span></button>
  	<h4 class="modal-title">{l}Invoice payments{endl}</h4>
</div>
<div class="modal-body">
      <div class="col-sm-12">
      	 <div uib-alert type="notice" class="alert-warning" ng-if="!vm.obj.length">{l}No data to display{endl}</div>
      	<table class="table orderTable" ng-if="vm.obj.length">
			<thead>
				<tr>
					<th class="col-sm-6">{l}Invoice{endl}</th>
					<th class="col-sm-6">{l}Amount{endl}</th>					
				</tr>	
			</thead>
			<tbody>
				<tr ng-repeat="item in vm.obj">
					<td>{{item.id}}</td>
					<td>{{item.amount}}</td>			
				</tr>
			</tbody>
		</table>
      </div>
</div>
<div class="modal-footer">
      <button class="btn btn-plain" type="button" ng-click="vm.cancel()">{l}Close{endl}</button>
</div>