<div class="container">
	<div class="page-header">
		<div class="row">
			<div class="col-sm-8">
				<h1 >{l}Campaign{endl}</h1>
			</div>
		</div>
	</div><!-- /.page-header -->
	<ul class="nav nav-tabs tabs-default tabs-default-stack" ng-if="!ls.is_add">
		<li role="presentation" class="active"><a href="#lists" aria-controls="lists" data-toggle="tab" aria-expanded="false">{l}Lists &amp; Subscribers{endl}</a></li>
		<li role="presentation"><a href="#campaigns" aria-controls="campaigns" data-toggle="tab" ng-click="ls.loadCampaigns();" aria-expanded="true">{l}Campaigns{endl}</a></li>
	</ul><!-- /.nav-tabs -->
	<div class="tab-content">
		<div uib-alert ng-repeat="alert in ls.alerts" type="{{alert.type}}" close="ls.alerts.splice($index, 1);" dismiss-on-timeout="5000" ng-class="['alert-' + (alert.type || 'warning'), 'alert-fixed' ]">{{alert.msg}}</div>
		<div role="tabpanel" class="tab-pane fade in active" id="lists">
			<div class="row col-top">
				<div class="col-xs-12">
					<table class="table" width="100%">
				        <thead>
				          <tr>
				            <th class="col-sm-9" >{l}List{endl}</th>
				            <th class="col-sm-2" >{l}Subscribers{endl}</th>
				            <th class="col-sm-1 table_actions"> </th>
				          </tr>  
				        </thead>
				        <tbody>
				          <tr ng-repeat="item in ls.list track by item.LIST_ID">
				            <td ><span ng-bind-html="item.NAME"></span></td>
				            <td ><span ng-bind-html="item.SUBSCRIBERS"></span></td>
				            <td class="table_actions">
				                <div class="btn-group">
				                  <button type="button" class="btn btn-plain dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
				                    <span class="caret"></span>
				                  </button>
				                    <ul class="dropdown-menu dropdown-menu-right" role="menu">
				                        <li class="dropdown-header">{l}Action{endl}</li>
				                        <li><a href="#" ng-click="ls.openModal('CampaignEditList',item)" ><span class="glyphicon glyphicon-edit text-primary"></span> {l}Edit{endl}</a></li>
				                        <li ng-if="ls.no_delete"><a href="#" ng-click="ls.action(item,'delete_link')" confirm-title="{{ls.confirm}}" confirm-ok="{{ls.ok}}" confirm-cancel="{{ls.cancel}}" confirm="{l}Are you sure, you wanna archive this entry?{endl}"><span class="glyphicon glyphicon-trash text-primary"></span> {l}Delete{endl}</a></li>
				                        <li><a href="#" ng-click="ls.action(item,'refresh_link')" ><span class="glyphicon glyphicon-refresh text-primary"></span> {l}Refresh{endl}</a></li>
				                    </ul>
				                </div>
				            </td>
				          </tr>
				        </tbody>
				      </table>
				</div>
			</div>
		</div>
		<div role="tabpanel" class="tab-pane fade" id="campaigns">
			<div class="row col-top">
				<div class="col-xs-12">
					<table class="table" width="100%">
				        <thead>
				          <tr>
				            <th class="expand_row col-sm-6" >{l}Campaign Name{endl}</th>
				            <th class="col-sm-3" >{l}Sent{endl}</th>
				            <th class="col-sm-2" >{l}Recipients{endl}</th>
				            <th class="col-sm-1 table_actions"> </th>
				          </tr>  
				        </thead>
				        <tbody>
				          <tr ng-repeat-start="item in ls.listC track by $index" class="collapseTr">
				            <td >
				            <span class="glyphicon glyphicon-plus btn-expand" ng-click="ls.showStats(item,$index)"></span> 
				            <span ng-bind-html="item.NAME"></span></td>
				            <td ><span ng-bind-html="item.SENT"></span></td>
				            <td ><span ng-bind-html="item.RECIPIENTS"></span></td>
				            <td class="table_actions">
				                <div class="btn-group">
				                  <button type="button" class="btn btn-plain dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
				                    <span class="caret"></span>
				                  </button>
				                    <ul class="dropdown-menu dropdown-menu-right" role="menu">
				                        <li class="dropdown-header">{l}Action{endl}</li>
				                        <li><a href="#" ng-click="ls.action(item,'save_link')" ><i class="fa fa-database" aria-hidden="true"></i> {l}Save{endl}</a></li>
				                    </ul>
				                </div>
				            </td>
				          </tr>
				          <tr ng-repeat-end class="versionInfo " ng-class="{ 'hidden': !item.isopen }">
				            <td colspan="5" class="no_border">
				              <p>{l}Sent{endl} {{ls.listStats[$index].DATE}} {l}to{endl} {{ls.listStats[$index].RECIPIENTS}} {l}subscribers{endl}</p>
				              <div class="row">
				                <div class="col-sm-4">
				                  <canvas class="chart chart-base" chart-type="ls.listStats[$index].chart.chart_type" chart-dataset-override="ls.listStats[$index].chart.datasetOverride" chart-series="ls.listStats[$index].chart.series"
				            chart-data="ls.listStats[$index].chart.data" chart-labels="ls.listStats[$index].chart.labels" chart-options="ls.listStats[$index].chart.opt" chart-colors="ls.listStats[$index].chart.colors">
				                </div>
				                <div class="col-sm-4">
				                  <p><label class="label-success">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label> <b>{{ls.listStats[$index].OPENED_UNIQ}}</b> <span ng-click="ls.openModal('RecipientActivity',{ campaign_id:ls.listStats[$index].campaign_id, opened: 1 })" ng-bind-html="ls.listStats[$index].OPENED_UNIQ_TEXT"></span></p>
				                  <p style="padding-left:14px;"><b>{{ls.listStats[$index].TOTAL_OPENED}}</b> {l}total opens to date{endl}</p>
				                  <p><label class="label-danger">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>  <b>{{ls.listStats[$index].BOUNCED}}</b> <span ng-click="ls.openModal('RecipientActivity',{ campaign_id:ls.listStats[$index].campaign_id, opened: 2 })" ng-bind-html="ls.listStats[$index].BOUNCED_TEXT"></span></p>
				                  <p><label class="label-info">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>  <B>{{ls.listStats[$index].NOT_OPENED}}</b> <span ng-click="ls.openModal('RecipientActivity',{ campaign_id:ls.listStats[$index].campaign_id, opened: 0 })" ng-bind-html="ls.listStats[$index].NOT_OPENED_TEXT"></span></p>
				                </div>
				                <div class="col-sm-4">
				                  <p><b>{{ls.listStats[$index].OPENED_PROCENT}}</b> % {l}of all recipients{endl} <span ng-click="ls.openModal('RecipientActivity',{ campaign_id:ls.listStats[$index].CAMPAIGN_ID, opened: 1 })" ng-bind-html="ls.listStats[$index].OPENED_PROCENT_TEXT"></span></p>
				                  <p><b>{{ls.listStats[$index].CLICK_LINK_PROCENT}}</b> % {l}clicked a link{endl} ({{ls.listStats[$index].CLICKED}} {l}people{endl})</p>
				                  <p><b>{{ls.listStats[$index].UNSUBSCRIBED_PROCENT}}</b> % {l}unsubscribed{endl} ({{ls.listStats[$index].UNSUBSCRIBED}} <span ng-click="ls.openModal('RecipientActivity',{ campaign_id:ls.listStats[$index].campaign_id, opened: 3 })" ng-bind-html="ls.listStats[$index].UNSUBSCRIBED_LINK"></span>)</p>
				                  <p><b>{{ls.listStats[$index].LIKES}}</b> {l}share across Facebook, Twitter & email{endl}</p>
				                </div>
				              </div>
				            </td>
				          </tr>
				        </tbody>
				      </table>
				</div>
			</div>
		</div>
	</div><!-- /.tab-content -->
</div><!-- neede on all pages -->

