<div class="container">
  <div class="page-header">
    <div class="row">
      <div class="col-sm-12">
        <h1>{l}E-mail Campaigns reports{endl}        
        </h1>
      </div>
    </div>
  </div><!-- /.page-header -->
  <div uib-alert ng-repeat="alert in ls.alerts" type="{{alert.type}}" close="ls.alerts.splice($index, 1);" dismiss-on-timeout="5000" ng-class="['alert-' + (alert.type || 'warning') ]">{{alert.msg}}</div>
  <div class="row page-content col-bottom col-top" >
    
    <div class="col-sm-12" >
      <table class="table" width="100%">
        <thead>
          <tr>          
            <th  class="expand_row col-sm-4" >{l}Campaign Name{endl}</th>
            <th class="col-sm-2" >{l}Sent{endl}</th>
            <th class="col-sm-2" >{l}Recipients{endl}</th>
            <th class="col-sm-2" >{l}Opened{endl}</th>
            <th class="col-sm-2" >{l}Clicked{endl}</th>
          </tr>  
        </thead>
        <tbody>
          <tr ng-repeat-start="item in ls.list track by item.CAMPAIGN_ID" class="collapseTr">
            <td >
            <span class="glyphicon glyphicon-plus btn-expand" ng-click="ls.showStats(item,$index)"></span>
            <span ng-bind-html="item.NAME"></span></td>
            <td ><span ng-bind-html="item.SENT"></span></td>
            <td ><span ng-bind-html="item.RECIPIENTS"></span></td>
            <td ><span ng-bind-html="item.OPEN"></span></td>
            <td ><span ng-bind-html="item.CLICK"></span></td>            
          </tr>
          <tr ng-repeat-end class="versionInfo " ng-class="{ 'hidden': !item.isopen }">
            <td colspan="5" class="no_border">
              <p>{l}Sent{endl} {{ls.listStats[$index].DATE}} {l}to{endl} {{ls.listStats[$index].RECIPIENTS}} {l}subscribers{endl}</p>
              <div class="row">
                <div class="col-sm-4">
                  <canvas class="chart chart-base" chart-type="ls.listStats[$index].chart.chart_type" chart-dataset-override="ls.listStats[$index].chart.datasetOverride" chart-series="ls.listStats[$index].chart.series"
            chart-data="ls.listStats[$index].chart.data" chart-labels="ls.listStats[$index].chart.labels" chart-options="ls.listStats[$index].chart.opt" chart-colors="ls.listStats[$index].chart.colors">
                </div>
                <div class="col-sm-4">
                  <p><label class="label-success">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label> <b>{{ls.listStats[$index].OPENED_UNIQ}}</b> <span ng-click="ls.openModal('RecipientActivity',{ campaign_id:ls.listStats[$index].CAMPAIGN_ID, opened: 1 })" ng-bind-html="ls.listStats[$index].OPENED_UNIQ_TEXT"></span></p>
                  <p style="padding-left:14px;"><b>{{ls.listStats[$index].TOTAL_OPENED}}</b> {l}total opens to date{endl}</p>
                  <p><label class="label-danger">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>  <b>{{ls.listStats[$index].BOUNCED}}</b> <span ng-click="ls.openModal('RecipientActivity',{ campaign_id:ls.listStats[$index].CAMPAIGN_ID, opened: 2 })" ng-bind-html="ls.listStats[$index].BOUNCED_TEXT"></span></p>
                  <p><label class="label-info">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>  <B>{{ls.listStats[$index].NOT_OPENED}}</b> <span ng-click="ls.openModal('RecipientActivity',{ campaign_id:ls.listStats[$index].CAMPAIGN_ID, opened: 0 })" ng-bind-html="ls.listStats[$index].NOT_OPENED_TEXT"></span></p>
                </div>
                <div class="col-sm-4">
                  <p><b>{{ls.listStats[$index].OPENED_PROCENT}}</b> % {l}of all recipients{endl} <span ng-click="ls.openModal('RecipientActivity',{ campaign_id:ls.listStats[$index].CAMPAIGN_ID, opened: 1 })" ng-bind-html="ls.listStats[$index].OPENED_PROCENT_TEXT"></span></p>
                  <p><b>{{ls.listStats[$index].CLICK_LINK_PROCENT}}</b> % {l}clicked a link{endl} ({{ls.listStats[$index].CLICKED}} {l}people{endl})</p>
                  <p><b>{{ls.listStats[$index].UNSUBSCRIBED_PROCENT}}</b> % {l}unsubscribed{endl} ({{ls.listStats[$index].UNSUBSCRIBED}} <span ng-click="ls.openModal('RecipientActivity',{ campaign_id:ls.listStats[$index].CAMPAIGN_ID, opened: 3 })" ng-bind-html="ls.listStats[$index].UNSUBSCRIBED_LINK"></span>)</p>
                  <p><b>{{ls.listStats[$index].LIKES}}</b> {l}share across Facebook, Twitter & email{endl}</p>
                </div>                
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <!-- <pag-custom pages="pager" refresh="ls.renderList()" doit='customers-customers'></pag-custom> -->
    <div class="col-sm-12" >
      <ul ng-if="ls.max_rows > 30" uib-pagination total-items="ls.max_rows" ng-model="ls.search.offset" ng-change="ls.searchThing()" max-size="5" class="pager" boundary-links="true" items-per-page="ls.lr" ></ul>
    </div>
  </div><!-- /.page-content -->

</div><!-- neede on all pages -->