<div class="container">
    <div class="page-header">
        <div class="row">
            <div class="col-sm-8">
                <h1>{{ls.obj.firstname}} {{ls.obj.lastname}}</h1>
            </div>
            <div class="col-sm-4 page-header-options">
                <!-- <button type="button" class="btn btn-link"><span class="fa fa-building"></span> <strong>{l}Back to company{endl}</strong></button> -->
                <button go-to="" state="contacts" type="button" class="btn btn-link"><span class="glyphicon glyphicon-list"></span> <strong>{l}List{endl}</strong></button>
            </div>
        </div>
    </div><!-- /.page-header -->
    <ul class="nav nav-tabs tabs-default tabs-default-stack" ng-if="!ls.is_add">
        <li role="presentation" class="active"><a href="#details" aria-controls="details" data-toggle="tab" aria-expanded="false">{l}Details{endl}</a></li>
        <li class="hidden" role="presentation"><a href="#financial" aria-controls="financial" data-toggle="tab" aria-expanded="true">{l}Campaigns{endl}</a></li>
        <li class="hidden" role="presentation"><a href="#financial" aria-controls="financial" data-toggle="tab" aria-expanded="true">{l}Webshop{endl}</a></li>
    </ul><!-- /.nav-tabs -->
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane fade in active" id="details">
            <div class="row col-top">
                <div class="col-xs-8">
                    <div class="panel panel-primary panel-extend margin-bottom-none">
                        <div class="panel-body">
                           <div class="form-horizontal text-left">
                                <div class="panel-highlight">
                                    <div class="row">
                                        <div class="col-xs-6">
                                             <div class="row">
                                                <div class="col-xs-4 control-label text-muted">{l}First Name{endl}</div>
                                                <div class="col-xs-6 control-label">{{ls.obj.firstname}}</div>
                                            </div>
                                        </div>
                                        <div class="col-xs-6">
                                           <div class="row">
                                                <div class="col-xs-8">
                                                    <div class="row">
                                                        <div class="col-xs-6 control-label text-muted">{l}Last Name{endl}</div>
                                                        <div class="col-xs-6 control-label">{{ls.obj.lastname}}</div>
                                                    </div>
                                                </div>
                                                <div class="col-xs-4 text-right"><a href="" class="btn btn-default" ui-sref="contact({'contact_id': ls.contact_id})">{l}Edit{endl}</a></div>
                                           </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    {loop:show_default}
                                    {if:itteration > '6'}<div class="no_css-company_info" ng-class="{ 'hidden': !ls.showMoreField }">{end}
                                    {if:is_mobile}
                                    <div class="col-xs-6">
                                        <div class="form-group">
                                            <div class="col-xs-4 text-muted">{l}Cell{endl}</div>
                                            <div class="col-xs-8">{{ls.obj.cell}}</div>
                                        </div> 
                                    </div>
                                    {end}
                                    {if:is_language}
                                    <div class="col-xs-6">
                                        <div class="form-group">
                                            <div class="col-xs-4 text-muted">{l}Language{endl}</div>
                                            <div class="col-xs-8">{{ls.obj.language_txt}}</div>
                                        </div>
                                    </div>
                                    {end}
                                    {if:is_title}
                                    <div class="col-xs-6">
                                        <div class="form-group">
                                            <div class="col-xs-4 text-muted">{l}Title{endl}</div>
                                            <div class="col-xs-8">{{ls.obj.title_txt}}</div>
                                        </div>
                                    </div>
                                    {end}
                                    {if:is_title}
                                    <div class="col-xs-6">
                                        <div class="form-group">
                                            <div class="col-xs-4 text-muted">{l}Exact Title{endl}</div>
                                            <div class="col-xs-8">{{ls.obj.exact_title_txt}}</div>
                                        </div>
                                    </div>
                                    {end}
                                    {if:is_birthdate}
                                    <div class="col-xs-6">
                                        <div class="form-group">
                                          <div class="col-xs-4 text-muted">{l}Birthdate{endl}</div>
                                            <div class="col-xs-8">{{ls.obj.birthdate_txt}}</div>
                                        </div>
                                    </div>
                                    {end}
                                    {if:is_gender}
                                    <div class="col-xs-6">
                                        <div class="form-group">
                                            <div class="col-xs-4 text-muted">{l}Gender{endl}</div>
                                            <div class="col-xs-8">{{ls.obj.sex_txt}}</div>
                                        </div>
                                    </div>
                                    {end}
                                    {if:is_create}
                                    <div class="col-xs-6">
                                        <div class="form-group">
                                            <div for="" class="col-xs-4 text-muted">{l}Creation Date{endl}</div>
                                            <div for="" class="col-xs-8">{{ls.obj.create}}</div>
                                        </div>  
                                    </div>
                                    {end}
                                    {if:itteration}<div class="col-xs-12 clear_rows" ></div>{end}
                                    {if:itteration > '3'}</div>{end}
                                    {endloop}
                                </div>
                                <div class="row">
                                    <div class="no_css-company_info" ng-class="{ 'hidden': !ls.showMoreField }">
                                        <div class="col-xs-6" ng-repeat-start="(key, item) in ls.extra_name">
                                            <div class="form-group">
                                                <div class="col-xs-4 text-muted">{{item}}</div>
                                                <div class="col-xs-8">{{ls.obj.extra[key]}}</div>
                                            </div>
                                        </div>
                                        <div class="col-xs-12 clear_rows" ng-repeat-end ng-if="$index%2==1"></div>
                                    </div>
                                </div>
                                <div class="border-top text-center">
                                    <button class="btn btn-link btn-block btn-arrow no_css-company_info_btn" ng-click="ls.showMoreField=!ls.showMoreField">
                                        <span class="glyphicon " ng-class="{ 'glyphicon-chevron-down': !ls.showMoreField, 'glyphicon-chevron-up' : ls.showMoreField }" ></span>
                                    </button>
                                </div>
                            </div><!-- /.form-horizontal -->
                        </div>
                    </div>
                    <div class="row card_list margin-top" >
                        <div class="col-sm-6 col-md-4" ng-repeat-start="item in ls.accounts track by item.customer_id">
                            <div class="card_list-item card_list-contacts_item" ng-class="{ 'active':item.showMore }">
                                <div class="card_list-item_header">
                                    <strong class="text-ellipsis"><a class="text-link" ui-sref="customerView({ 'customer_id':item.customer_id })"><span ng-bind-html="item.name"></span></a> </strong>
                                    <small class="text-muted text-ellipsis">{{item.position_txt}}</small>
                                    <small class="text-muted text-ellipsis">{{item.department_txt}}</small>
                                </div>
                                <div class="card_list-item_body">
                                    <p class="text-ellipsis"><i class="fa fa-at card_list-icon text-muted" aria-hidden="true"></i> <a href="mailto:{{item.email}}" title="Send mail'" class="text-link" >{{item.email}}</a></p>
                                    <p class="text-ellipsis"><i class="fa fa-phone card_list-icon text-muted" aria-hidden="true"></i>   {{item.phone}}</p>
                                    <p><small class="text-muted btn-block">{l}Fax{endl}</small>  {{item.fax}}</p>
                                    <p><small class="text-muted btn-block">{l}Title{endl}</small> {{item.title_txt}}</p>
                                    <p><small class="text-muted btn-block">{l}Extra Title{endl}</small>  {{item.e_title}}</p>
                                    <p><small class="text-muted btn-block">{l}Allow on e-mailing lists{endl}</small>  {{item.s_email_txt}}</p>
                                    <!-- <small class="quick_edits"><a href="#" class="text-link text-muted">{l}Edit{endl}</a> <span class="text-link_space hidden">•</span> <a href="#" class="text-link text-muted hidden">{l}Activities{endl}</a></small> -->
                                </div>
                                <button class="btn btn-block btn-arrow no_css-company_info_btn2" ng-click="ls.showMore(item)">
                                    <span class="glyphicon" ng-class="{ 'glyphicon-chevron-down': !item.showMore, 'glyphicon-chevron-up' : item.showMore }" ></span>
                                </button>
                            </div>
                        </div>
                        <div class="col-xs-12 clear_rows" ng-repeat-end ng-if="$index%3==2"></div>
                    </div>  
                </div>
                <div class="col-xs-4">
                    <div class="panel panel-plain">
                        <div class="panel-body">
                            <div class="profile_card text-center">
                                <div class="card_icon"><span class="fa fa-user"></span></div>
                                <div class="card_icon hide"></div>
                                <h3>{{ls.obj.firstname}} {{ls.obj.lastname}}</h3>
                                <!-- <p><a href="#">hiranagtegaal@personal.eu</a></p> -->
                                <p><i class="fa fa-mobile" aria-hidden="true"></i>&nbsp;<a href="#" class="small">{{ls.obj.cell}}</a></p>
                                <!-- <p><a href="#" class="small">+ Add Social Info</a></p> -->
                            </div>
                        </div>
                    </div>
                    <div class="ak_activities row" ng-if="ls.ADV_CRM">
                        <div class="ak_activities_options form-horizontal text-left" ng-class="{ 'active':ls.showActivityForm }">
                            <div class="ak_activities_subject">
                                <input type="text" class="form-control" ng-model="ls.activity.comment" placeholder="{l}Add Subject{endl}">
                                <div class="dropdown ak_activities_dropdown">
                                    <button class="btn btn-default btn-square dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                        {{ls.activityTxt}}
                                        <!--<span class="akti-icon o_akti_user_alt"></span>-->
                                        <!--<span class="fa fa-sticky-note"></span>-->
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenu1">
                                        <li class="dropdown-header">{l}Activity Type{endl}</li>
                                        <li><a href="#" ng-click="ls.showActivityF(true,'Note','2');"><span class="fa fa-sticky-note"></span> {l}Note{endl}</a></li>
                                        <li><a href="#" ng-click="ls.showActivityF(true,'Call','5');"><span class="fa fa-phone"></span> {l}Call{endl}</a></li>
                                        <li><a href="#" ng-click="ls.showActivityF(true,'E-mail','1');"><span class="fa fa-envelope-o"></span> {l}E-mail{endl}</a></li>
                                        <li><a href="#" ng-click="ls.showActivityF(true,'Meeting','4');"><span class="fa fa-calendar"></span> {l}Schedule{endl}</a></li>
                                        <li><a href="#" ng-click="ls.showActivityF(true,'Task','6');"><span class="akti-icon o_akti_checklist"></span> {l}Task{endl}</a></li>
                                    </ul>
                                </div>
                            </div><!-- /.ak_activities_subject -->
                            <div class="ak_activities_form">
                                <div class="user_summary user_summary-sm" ng-click="ls.showActivityiny = true;" ng-class="{ 'hidden':ls.showActivityiny }">
                                    <div class="text-summary cursor_pointer no_css_show_textarea">
                                        {l}Add Description{endl}
                                    </div>
                                </div>
                                <div class="ak_activities_description" ng-class="{ 'hidden':!ls.showActivityiny }">
                                    <textarea ui-tinymce="ls.tinymceOptions" class="variable_assign" ng-model="ls.activity.log_comment">
                                    </textarea>
                                </div>
                                <div class="form-group">
                                    <div class="col-xs-12">
                                        <div class="so-field">
                                            <span class="fa fa-building so-icon"></span>                                            
                                            <!-- <input type="text" class="form-control" ng-model="ls.obj.name" placeholder="Select Company" readonly> -->
                                            <selectize config='ls.contactAutoCfg' options='ls.accounts' ng-model="ls.activity.customer_id"></selectize>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-xs-12">
                                        <div class="so-field">
                                            <span class="fa fa-user so-icon"></span>
                                            <!-- <selectize config='ls.contactAutoCfg' options='ls.contactsActitivty' ng-model="ls.activity.contact_ids"></selectize> -->
                                            <input type="text" class="form-control" ng-model="ls.obj.contact_name" placeholder="Select Contact" readonly>
                                            <!-- <input type="text" class="form-control" placeholder="Select Contact"> -->
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group" ng-if="ls.activity.task_type=='4'" ng-show="!ls.activity.all_day_meet">
                                    <div class="col-xs-12">                                 
                                        <select class="form-control" ng-model="ls.activity.duration_meet" ng-change="ls.changeDuration()">
                                            <option value="">{l}Duration{endl}</option>
                                            <option value="0-15">15 {l}minutes{endl}</option>
                                            <option value="0-30">30 {l}minutes{endl}</option>
                                            <option value="1-0">1 {l}hour{endl}</option>
                                            <option value="2-0">2 {l}hours{endl}</option>
                                            <option value="3-0">3 {l}hours{endl}</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-xs-6">
                                        <div class="so-field">
                                            <span class="fa fa-calendar so-icon"></span>
                                            <input type="text" class="form-control" ng-model="ls.activity.date" uib-datepicker-popup="{{ls.format}}" is-open="ls.open.start_date" datepicker-options="ls.dateOptions" close-text="Close" placeholder="{l}Date{endl}" show-button-bar="false" ng-click="ls.open.start_date=true" ng-change="ls.changeTime(ls.activity.date,ls.activity.dateHours,true)">
                                            <!-- <input type="text" class="form-control" placeholder="Date"> -->
                                        </div>
                                    </div>
                                    <div class="col-xs-6" ng-show="!ls.activity.all_day_meet">
                                        <div class="so-field">
                                            <span class="fa fa-clock-o so-icon"></span>
                                            <selectize config='ls.timeAutoCfg' options='ls.hours' ng-model="ls.activity.dateHours" ng-change="ls.changeTime(ls.activity.date,ls.activity.dateHours,true)"></selectize>
                                            <!-- <input type="text" class="form-control" placeholder="Time"> -->
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="form-group" ng-if="ls.activity.task_type=='4'" ng-show="!ls.activity.all_day_meet">
                                    <div class="col-xs-6">
                                        <div class="so-field">
                                            <span class="fa fa-calendar so-icon"></span>
                                            <input type="text" class="form-control" ng-model="ls.activity.end_d_meet" uib-datepicker-popup="{{ls.format}}" is-open="ls.open.end_d_meet" datepicker-options="ls.dateOptions" close-text="Close" placeholder="{l}End Date{endl}" show-button-bar="false" ng-click="ls.open.end_d_meet=true" ng-change="ls.changeTime(ls.activity.end_d_meet,ls.activity.dateEHours)">
                                            <!-- <input type="text" class="form-control" placeholder="Date"> -->
                                        </div>
                                    </div>
                                    <div class="col-xs-6">
                                        <div class="so-field">
                                            <span class="fa fa-clock-o so-icon"></span>
                                            <selectize config='ls.timeAutoCfg' options='ls.hours' ng-model="ls.activity.dateEHours" ng-change="ls.changeTime(ls.activity.end_d_meet,ls.activity.dateEHours)"></selectize>
                                            <!-- <input type="text" class="form-control" placeholder="Time"> -->
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group" ng-if="ls.activity.task_type=='4'">
                                    <div class="col-xs-12">
                                        <div class=" checkbox">
                                          <label><input type="checkbox" ng-model="ls.activity.all_day_meet" ng-change="ls.checkAllDay()"> {l}All day event{endl}</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group" ng-if="ls.activity.task_type=='4'">
                                    <div class="col-xs-12">
                                        <input type="text" class="form-control" ng-model="ls.activity.location_meet" placeholder="{l}Location{endl}" >                                      
                                    </div>
                                </div>
                                <div class="form-group" ng-if="ls.activity.task_type=='5'">
                                    <div class="col-xs-6">
                                        <div class=" radio">
                                          <label><input type="radio" ng-model="ls.activity.type_of_call" value="0"> {l}outgoing{endl}</label>
                                        </div>
                                    </div>
                                    <div class="col-xs-6">
                                        <div class=" radio">
                                          <label><input type="radio" ng-model="ls.activity.type_of_call" value="1"> {l}incoming{endl}</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="user_summary user_summary-sm" ng-class="{ 'is-open':ls.activity.hd_events }">
                                    <div class="text-summary" ng-if="!ls.hideSwitch">
                                        <toggle-switch  ng-model="ls.activity.hd_events" on-change="" class="switch-primary ats-switch-sm pull-right" off-label="{l}No{endl}" on-label="{l}Yes{endl}"></toggle-switch>
                                        {l}Reminder{endl}
                                    </div>
                                    <div class="row">
                                        <div class="form-group">
                                            <div class="col-xs-12">
                                                <div class="so-field">
                                                    <span class="fa fa-mail-forward so-icon"></span>
                                                    <selectize config='ls.assignAutoCfg' options='ls.user_auto' ng-model="ls.activity.user_to_id"></selectize>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-xs-6">
                                                <div class="so-field">
                                                    <span class="fa fa-calendar so-icon"></span>
                                                    <input type="text" class="form-control" ng-model="ls.activity.reminder_event" uib-datepicker-popup="{{ls.format}}" is-open="ls.open.reminder_date" datepicker-options="ls.dateOptions" close-text="Close" placeholder="{l}Date{endl}" show-button-bar="false" ng-click="ls.open.reminder_date=true" ng-change="ls.changeTime(ls.activity.reminder_event,ls.activity.reminderHours)">
                                                    <!-- <input type="text" class="form-control" placeholder="Date"> -->
                                                </div>
                                            </div>
                                            <div class="col-xs-6">
                                                <div class="so-field">
                                                    <span class="fa fa-clock-o so-icon"></span>
                                                    <selectize config='ls.timeAutoCfg' options='ls.hours' ng-model="ls.activity.reminderHours" ng-change="ls.changeTime(ls.activity.reminder_event,ls.activity.reminderHours)"></selectize>
                                                    <!-- <input type="text" class="form-control" placeholder="Time"> -->
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group ak_activities_actions">
                                    <div class="col-xs-12 text-right">
                                        <button class="btn btn-sm btn-plain no_css_hide_activities" ng-click="ls.showActivityF(false,'Type','');ls.showActivityiny = false;">{l}Cancel{endl}</button>
                                        <button class="btn btn-sm btn-default" ng-click="ls.addActivity()">{l}Add{endl}</button>
                                    </div>
                                </div>
                            </div><!-- /.ak_activities_form -->
                        </div><!-- /.ak_activities_options -->
                        <div class="ak_activities_entry" ng-repeat="item in ls.activities.item | limitTo:ls.activityNumber track by $index" ng-class="{ 'active': item.color=='green_status' }"  >
                            <div class="ak_activities_type">
                                <span ng-class="{ 'fa fa-calendar':item.action == 'meeting', 'fa fa-envelope-o':item.action == 'email', 'fa fa-phone':item.action == 'phone', 'akti-icon o_akti_checklist':item.action == 'other', 'fa fa-sticky-note':item.action == 'events', 'akti-icon o_akti_quote':item.action == 'quote_sent' }"></span>
                                <span class="ak_activities_date">{{item.day}}</span>
                            </div>
                            <div class="ak_activities_content row">
                                <h4 class="ak_activities_title"><span class="badge badge-sm bg-primary">{{item.time}}</span> {{item.message}}</h4>
                                <small>{l}Created by{endl} {{item.by}}</small>
                                <small class="quick_edits"><span class="text-link_space">•</span> <a href="#" class="text-link text-muted" ng-click="ls.openModal('EditActivity',item,'md')">{l}Edit{endl}</a> <span class="text-link_space">•</span> <a href="#" class="text-link text-muted" confirm="{l}Are you sure, you want delete this entry?{endl}" ng-click="ls.removeActivity(item,$index)">{l}Remove{endl}</a></small>
                                <div class="ak_activities_contacts" ng-if="item.contacts.length">
                                    <div class="text-nowrap" ng-repeat="item2 in item.contacts"><span class="fa fa-user"></span> {{item2.contact_name}}</div>
                                </div>
                                <div ng-if="item.comments" class="ak_activities_note text-muted" ng-class="{ 'active':item.expandText }" ng-bind-html="item.comments" expand-text on-show="item.isBigger=true;"></div>
                                <div ng-if="item.comments && item.isBigger" class="border-top text-center">
                                    <button class="btn btn-block btn-arrow no_css_toggle_note" ng-click="item.expandText=!item.expandText"><span class="glyphicon " ng-class="{ 'glyphicon-chevron-up':item.expandText, 'glyphicon-chevron-down':!item.expandText }"></span></button>
                                </div>
                                <div ng-if="item.reminder_assign">
                                    <p class="ak_activities_user"><span class="fa fa-share"></span> {{item.to_user}}</p>
                                    <p><span class="ak_activities_status text-muted pull-right col-left" ng-click="ls.changeActivityStatus(item)"><span class="fa fa-circle-o" ng-class="{ 'fa-circle-o': item.color!='green_status', 'fa-check': item.color=='green_status' }"></span> {{item.activity_status}}</span><span class="ak_activities_reminder"><span class="fa fa-bell"></span> {{item.reminder_date}}</span> </p>
                                </div>
                                <div class="ak_activities_note text-muted" ng-if="item.type_of_call">
                                    {{item.type_of_call}}
                                </div>
                            </div><!-- /.ak_activities_content -->                          
                        </div><!-- /.ak_activities_entry -->
                        <div class="ak_activities_entry ak_activities_button" ng-if="ls.activities.item.length > ls.activityNumber">
                            <div class="ak_activities_type">
                                <span class="fa fa-ellipsis-h"></span>
                            </div>
                            <div class="ak_activities_content row text-muted">
                                <button class="btn btn-plain" ng-click="ls.activityNumber=ls.activityNumber+5;">{l}Show More{endl}</button>
                            </div><!-- /.ak_activities_content -->
                        </div>
                    </div><!-- /.ak_activities row -->
                </div>
            </div>
            <div class="row">
                <div class="col-xs-8">
                    <div class="row col-top">
                        <logging do='customers-xcustomer_contact' type="contact_id" ref="{{ls.contact_id}}"></logging>
                    </div>
                </div>
                <div class="col-xs-4"><!-- Activities --></div>
            </div>
        </div>
        <div role="tabpanel" class="tab-pane fade" id="financial">2</div>
    </div><!-- /.tab-content -->
</div><!-- neede on all pages -->