<div class="container">
  <div class="page-header">
    <div class="row">
      <div class="col-sm-12">
        <h1>{l}Contacts{endl} 
        <button type="button" class="btn btn-primary btn-add"  go-to="" state="contact" params='{"contact_id": "tmp"}' uib-tooltip="{l}Add Contact{endl}" tooltip-placement="right"><span class="btn-add_icon"><span class="icon-bar"></span><span class="icon-bar-2"></span></span></button>
        </h1>
      </div>
    </div>
  </div><!-- /.page-header -->
  <div uib-alert ng-repeat="alert in vm.alerts" type="{{alert.type}}" close="vm.alerts.splice($index, 1);" dismiss-on-timeout="5000" ng-class="['alert-' + (alert.type || 'warning'), 'alert-fixed' ]">{{alert.msg}}</div>
  <div class="row page-search">
    <form>
      <div class="col-sm-11 page-search-extd-btn">
        <div class="so-field" ng-class="{ 'so-active':vm.search.search!='' }">
          <span class="glyphicon glyphicon-search so-icon"></span>
          <input id="no_css_search_field" type="text" class="form-control" search-it doit="vm.search" callbk="vm.renderList" ng-change="vm.checkSearch()" placeholder="{l}Search{endl}" ng-model="vm.search.search">
          <span class="glyphicon glyphicon-remove so-icon so-remove" ng-click="vm.toggleSearchButtons('search','')"></span>
        </div><!-- /.input-search -->
      </div>          
      <div class="col-sm-1 page-search-btn-only">
        <div class="btn-group">
          <button type="button" class="btn btn-tertiary btn-square dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="caret"></span>
            <span class="sr-only">Toggle Dropdown</span>
          </button>
          <ul class="dropdown-menu dropdown-menu-right">
            <!-- <li><a href="#" ng-click="vm.search.showAdvanced = !vm.search.showAdvanced"><span class="fa fa-search"></span> {l}Advanced search{endl}</a></li> -->
            <!-- <li ng-if="vm.view==0" ng-click="vm.saveView(1)"><a href="#"><span class="fa fa-list-ul" ></span> {l}List View{endl}</a></li> -->
            <li ng-if="vm.view==1" ng-click="vm.saveView(0)"><a href="#"><span class="fa fa-th-large"></span> {l}Card View{endl}</a></li>
            <li><a href="#" ng-if="!vm.search.archived" ng-click="vm.showArchivedList(1,0)" ><span class="glyphicon glyphicon-briefcase" ></span> {l}Archived Contacts{endl}</a></li>
            <li><a href="#" ng-if="vm.search.archived" ng-click="vm.showArchivedList(0)"><span class="fa fa-list-ul"  ></span> {l}Active Contacts{endl}</a></li>
            <li><a href="index.php?do=customers-export_contacts&amp;{{vm.export_args}}" target="_blank"><span class="glyphicon glyphicon-export"></span> {l}Export Contacts{endl}</a></li>
            <li ng-if="vm.view==0"><a href="#" ng-click="vm.saveView(1)"><span class="fa fa-list-ul"  ></span> {l}List View{endl}</a></li>
          </ul>
        </div>
      </div>
    </form>
  </div><!-- /.page-search -->
  <div class="row page-content col-bottom col-top" >
    <div class="col-sm-12" ng-if="vm.view==0">
      <div class="row card_list">
        <div class="col-sm-3" ng-repeat="item in vm.list track by item.contact_id">
          <div class="card_list-item card_list-customers_item" ng-class="{ 'active':item.showMore }">
            <div class="card_list-item_header">
              <strong class="text-ellipsis"><span ng-bind-html="item.con_lastname"></span> <span ng-bind-html="item.con_firstname"></span></strong>
              <small class="text-ellipsis"><a ui-sref="customerView({ 'customer_id':item.customer_id })">{{item.cus_name}}</a></small>
            </div>
            <div class="card_list-item_body">
              <p class="text-ellipsis"><i class="fa fa-phone card_list-icon text-muted" aria-hidden="true"></i> {{item.con_phone}}</p>
              <p class="text-ellipsis"><i class="fa fa-mobile card_list-icon text-muted" aria-hidden="true"></i> {{item.con_cell}}</p>
              <p class="text-ellipsis"><i class="fa fa-at card_list-icon text-muted" aria-hidden="true"></i> <a href="mailto:{{item.con_email}}" title="{l}Send mail{endl}'" ng-if="item.con_email">{{item.con_email}}</a> <span ng-if="!item.con_email">-</span></p>
              <p class="text-ellipsis"><small class="text-muted btn-block">{l}Fax{endl}</small>  {{item.fax}}</p>
              <p class="text-ellipsis"><small class="text-muted btn-block">{l}Title{endl}</small> {{item.title}}</p>
              <p class="text-ellipsis"><small class="text-muted btn-block">{l}Extra Title{endl}</small>  {{item.e_title}}</p>
              <p class="text-ellipsis"><small class="text-muted btn-block">{l}Allow on e-mailing lists{endl}</small>{{item.s_email}}</p>  
            </div>
            <button class="btn btn-block btn-arrow no_css-company_info_btn2" ng-click="vm.showMore(item)">
              <span class="glyphicon" ng-class="{ 'glyphicon-chevron-down': !item.showMore, 'glyphicon-chevron-up' : item.showMore }" ></span>
            </button>
            <small class="quick_edits"><a href="#" go-to="" state="contactView" params='{"contact_id": {{::item.contact_id}}}' list='{ "type":"customers-contacts", "obj": { "search":{{vm.search}} } }' class="text-link text-muted">{l}View{endl}</a> <span class="text-link_space">•</span></small> <small class="quick_edits"><a href="#" go-to="" state="contact" params='{"contact_id": {{::item.contact_id}}}' list='{ "type":"customers-contacts", "obj": { "search":{{vm.search}} } }' class="text-link text-muted">{l}Edit{endl}</a> <span ng-if="!vm.search.archived" class="text-link_space">•</span> <a ng-if="!vm.search.archived" href="#" ng-click="vm.action(item,'archive_link')"
            confirm-title="{{vm.confirm}}" confirm-ok="{{vm.ok}}" confirm-cancel="{{vm.cancel}}" confirm="{l}Are you sure, you wanna archive this entry?{endl}" class="text-link text-muted">{l}Archive{endl}</a> <span ng-if="vm.search.archived" class="text-link_space">•</span> <a ng-if="vm.search.archived" href="#" ng-click="vm.action(item,'activate_link')" confirm-title="{{vm.confirm}}" confirm-ok="{{vm.ok}}" confirm-cancel="{{vm.cancel}}" confirm="{l}Are you sure, you wanna revert this entry?{endl}" class="text-link text-muted">{l}Revert{endl}</a> <!-- <span class="text-link_space">•</span> <a href="#" class="text-link text-muted">Timeline</a> --></small>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-12" ng-if="vm.view==1">
      <table class="table active_rows orderTable" width="100%">
        <thead>
          <tr>
            <th class="col-sm-3" ng-class="{ 'sortable_row-up':(!ls.vm.reverse && ls.vm.ord=='lastname'), 'sortable_row-down':(ls.vm.reverse && ls.vm.ord=='lastname') }" ng-click="vm.orderBY('lastname')">{l}Last Name{endl}</th>
            <th class="col-sm-2" ng-class="{ 'sortable_row-up':(!ls.vm.reverse && ls.vm.ord=='firstname'), 'sortable_row-down':(ls.vm.reverse && ls.vm.ord=='firstname') }" ng-click="vm.orderBY('firstname')">{l}First Name{endl}</th>
            <th class="col-sm-2" ng-class="{ 'sortable_row-up':(!ls.vm.reverse && ls.vm.ord=='cus_name'), 'sortable_row-down':(ls.vm.reverse && ls.vm.ord=='cus_name') }" ng-click="vm.orderBY('cus_name')">{l}Company Name{endl}</th>
            <th class="col-sm-2" ng-class="{ 'sortable_row-up':(!ls.vm.reverse && ls.vm.ord=='function'), 'sortable_row-down':(ls.vm.reverse && ls.vm.ord=='function') }" ng-click="vm.orderBY('function')">{l}Function{endl}</th>
            <th class="col-sm-2">{l}Info{endl}</th>
            <th class="col-sm-1 table_actions"></th>
          </tr>  
        </thead>
        <tbody>
          <tr ng-repeat="item in vm.list track by item.contact_id">
            <td go-to="" state="contactView" params='{"contact_id": {{::item.contact_id}}}' list='{ "type":"customers-contacts", "obj": { "search":{{vm.search}} } }'><span ng-bind-html="item.con_lastname"></span></td>
            <td go-to="" state="contactView" params='{"contact_id": {{::item.contact_id}}}' list='{ "type":"customers-contacts", "obj": { "search":{{vm.search}} } }'><span ng-bind-html="item.con_firstname"></span></td>
            <td go-to="" state="contactView" params='{"contact_id": {{::item.contact_id}}}' list='{ "type":"customers-contacts", "obj": { "search":{{vm.search}} } }'><span ng-bind-html="item.cus_name"></span></td>
            <td go-to="" state="contactView" params='{"contact_id": {{::item.contact_id}}}' list='{ "type":"customers-contacts", "obj": { "search":{{vm.search}} } }'><span ng-bind-html="item.function"></span></td>
            <td class="text-muted"><i class="fa fa-phone" aria-hidden="true"></i> {{item.con_phone}}
              <i class="fa fa-mobile" aria-hidden="true"></i> {{item.con_cell}}
              <i class="fa fa-at" aria-hidden="true"></i> <a href="mailto:{{item.con_email}}" title="{l}Send mail{endl}'" class="text-link" ng-if="item.con_email">{{item.con_email}}</a> <span ng-if="!item.con_email">-</span></td>
            <td class="table_actions">
                <div class="btn-group">
                  <button type="button" class="btn btn-plain dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                    <span class="caret"></span>
                  </button>
                    <ul class="dropdown-menu dropdown-menu-right" role="menu">
                        <li class="dropdown-header">{l}Action{endl}</li>
                        <li><a href="#" ui-sref="contact({'contact_id': item.contact_id})" ><span class="glyphicon glyphicon-edit text-primary"></span> {l}Edit{endl}</a></li>
                        <li ng-if="!vm.search.archived"><a href="#" ng-click="vm.action(item,'archive_link')" confirm-title="{{ls.erase.confirm}}" confirm-ok="{{ls.erase.ok}}" confirm-cancel="{{ls.erase.cancel}}" confirm="{l}Are you sure, you wanna archive this entry?{endl}"><span class="glyphicon glyphicon-minus-sign text-primary"></span> {l}Archive{endl}</a></li>
                        <li ng-if="vm.search.archived"><a href="#" ng-click="vm.action(item,'activate_link')" confirm-title="{{ls.erase.confirm}}" confirm-ok="{{ls.erase.ok}}" confirm-cancel="{{ls.erase.cancel}}" confirm="{l}Are you sure, you wanna revert this entry?{endl}"><span class="glyphicon glyphicon-repeat text-primary"></span> {l}Revert{endl}</a></li>
                        <li ng-if="item.indiv_created==true"><a href="#" go-to="" state="customer" params='{"customer_id": "tmp","types": 1 ,"contact_id": {{::item.contact_id}}}' ><span class="glyphicon glyphicon-user text-primary"></span> {l}Create Individual{endl}</a></li>
                        <!-- <li><a href="#"><span class="fa fa-bars text-primary"></span> Timeline</a></li> -->
                    </ul>
                </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-sm-12" >
      <ul ng-if="vm.max_rows > 30" uib-pagination total-items="vm.max_rows" ng-model="vm.search.offset" ng-change="vm.searchThing()" max-size="5" class="pager" boundary-links="true" items-per-page="vm.lr" ></ul>
    </div>
  </div><!-- /.page-content -->

</div><!-- neede on all pages -->