<div class="container">
  <div class="page-header">
    <div class="row">
      <div class="col-sm-8">
        <h1>{l}Contact{endl} {{ls.obj.firstname}} {{ls.obj.lastname}}</h1>
      </div>
      <div class="col-sm-4 page-header-options">
        <button ng-if="ls.contact_id!='tmp'" go-to="" state="contactView" params='{"contact_id": {{::ls.contact_id}}}' type="button" class="btn btn-link"><span class="glyphicon glyphicon-globe"></span> <strong>{l}View{endl}</strong></button>
        <button go-to="" state="contacts" type="submit" class="btn btn-link"><span class="glyphicon glyphicon-list"></span> <strong>{l}List{endl}</strong></button>
        <button class="btn btn-default" type="button" ng-disabled="addCustomer.$invalid" ng-click="ls.ok(addCustomer)">{l}Save{endl}</button>
      </div>
    </div>
  </div><!-- /.page-header -->
  <div uib-alert ng-repeat="alert in ls.alerts" type="{{alert.type}}" close="ls.alerts.splice($index, 1);" dismiss-on-timeout="5000" ng-class="['alert-' + (alert.type || 'warning') ]">{{alert.msg}}</div>
  <form class="form-horizontal text-left" name="addCustomer" novalidate>
    <div class="row">
      <div class="col-sm-6">
        <div class="form-group" ng-class="{ 'form-group_alert' : addCustomer.firstname.$invalid && !addCustomer.firstname.$pristine }">
          <label for="inputName" class="col-sm-4 control-label">{l}First Name{endl} <span class="mandatory-label">*</span></label>
          <div class="col-sm-8">
            <input type="text" class="form-control" name="firstname" placeholder="{l}First Name{endl}" ng-model="ls.obj.firstname" id="inputName" required >
            <div class="alert alert-sm alert-danger" ng-if="addCustomer.firstname.$invalid && ls.alertsField.firstname">{{ls.alertsField.firstname}}</div>
          </div>
        </div>
        <div class="form-group" ng-class="{ 'form-group_alert' : addCustomer.lastname.$invalid && !addCustomer.lastname.$pristine }">
          <label for="inputName" class="col-sm-4 control-label">{l}Last Name{endl} <span class="mandatory-label">*</span></label>
          <div class="col-sm-8">
            <input type="text" class="form-control" name="lastname" placeholder="{l}Last Name{endl}" ng-model="ls.obj.lastname" id="inputName" required >
            <div class="alert alert-sm alert-danger" ng-if="addCustomer.lastname.$invalid && ls.alertsField.lastname">{{ls.alertsField.lastname}}</div>
          </div>
        </div>
        <div class="form-group" ng-if="ls.hide.mobile_if">
          <label for="" class="col-sm-4 control-label">{l}Cell{endl}</label>
          <div class="col-sm-8">
            <input type="text" class="form-control" ng-model="ls.obj.cell">
          </div>
        </div>
        <div class="form-group" >
          <label for="" class="col-sm-4 control-label">{l}Titleee{endl}</label>
          <div class="col-sm-8">
            <selectize config="ls.salesCfg" options="ls.title" ng-model="ls.obj.title_contact_id" table="customer_contact_title" model="title"  ind="{{$index}}" ></selectize>
          </div>  
        </div> 
        <div class="form-group" ng-if="ls.hide.gender_if">
          <label for="" class="col-sm-4 control-label">{l}Gender{endl}</label>
          <div class="col-sm-8">
            <select name="sex"  ng-model="ls.obj.sex" class="form-control" >
              <option value="1">{l}Male{endl}</option>
              <option value="2">{l}Female{endl}</option>
            </select>
          </div>              
        </div>
        <div class="form-group" ng-if="ls.hide.language_if">
          <label for="" class="col-sm-4 control-label">{l}Language{endl}</label>
          <div class="col-sm-8">
            <selectize config="ls.lngCfg" options="ls.language" ng-model="ls.obj.language" table="customer_contact_language" model="language" ></selectize>
          </div>  
        </div>
        
        <div class="form-group" ng-if="ls.hide.birthdate_if">
          <label for="" class="col-sm-4 control-label">{l}Birthdate{endl}</label>
          <div class="col-sm-8">
            <!-- <input type="text" class="form-control" ng-model="ls.obj.bday"> -->
            <input type="text" class="form-control" ng-model="ls.obj.birthdate" uib-datepicker-popup="{{ls.format}}" is-open="ls.bday" datepicker-options="dateOptions" close-text="Close" placeholder="{l}Birthdate{endl}" show-button-bar="false" ng-click="ls.bday=true" >
          </div>
        </div>
        
        {loop:extra_field}
        <div class="form-group">
          <label for="" class="col-sm-4 control-label">{label}</label>
          
          {if:normal_input}
          <div class="col-sm-8">
            <input type="text" name="extra[{field_id}]" value="{value}" ng-model="ls.obj.extra[{field_id}]" class="form-control" maxlength="30" />
          {else}
          <div class="col-sm-8">
            <selectize config="ls.extraCfg" options="ls.extra[{field_id}]" id="extra_{field_id}" ng-model="ls.obj.extra[{field_id}]" table="contact_extrafield_dd" model="extra" extra="{field_id}" ></selectize>
          {end}
          </div>
        </div>
        {endloop}
        
      </div>
      <div class="col-sm-6">
        <div class="panel panel-primary">
            <div class="panel-body">
                <div class="form-group" ng-class="{ 'form-group_alert' : addCustomer.customer_id.$invalid && !addCustomer.customer_id.$pristine }" ng-if="ls.contact_id=='tmp'">
                    <label for="" class="col-sm-4 control-label text-right">{l}Link to Account{endl}</label>
                    <div class="col-sm-8">
                        <input type="hidden" name="customer_id" ng-model="ls.obj.customer_id" />
                        <selectize config="ls.compCfg" options="ls.customer_dd" ng-model="ls.obj.customer_id" id="custandcont" ></selectize>
                        <div class="alert alert-sm alert-danger" ng-if="addCustomer.customer_id.$invalid && ls.alertsField.customer_id">{{ls.alertsField.customer_id}}</div>
                    </div>                        
                </div>
                <div class="accounts_list">
                    <div class="accounts_item" ng-repeat="item in ls.accounts track by item.customer_id" ng-class="{ 'active': item.collapse }">
                        <div class="row">
                            <div class="col-xs-12 accounts_header" ng-click="ls.collapse(item)">
                                <a class="btn-remove pull-right" href="#" ng-click="ls.action(item.customer_id,'removeContactFromCustomer')" confirm="{l}Are you sure, you wanna remove this entry?{endl}"><span class="fa fa-trash"></span></a>
                                {{item.name}} - <i class="fa" aria-hidden="true" ng-class="{ 'fa-star-o':item.primary==0, 'fa-star':item.primary==1 }" ng-click="ls.action(item.customer_id,'setAccountAsPrimary')"></i>
                            </div>
                            <div class="col-xs-12 accounts_body collapse" ng-class="{ 'in': item.collapse }">
                                <div class="form-group">
                                    <label for="" class="col-sm-4 control-label">{l}Function{endl}</label>
                                    <div class="col-sm-8">
                                        <selectize config="ls.salesCfg" options="ls.position" ng-model="item.position" table="customer_contact_job_title" model="position" ind="{{$index}}" ></selectize>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="" class="col-sm-4 control-label">{l}Department{endl}</label>
                                    <div class="col-sm-8">
                                        <selectize config="ls.salesCfg" options="ls.department" ng-model="item.department" table="customer_contact_dep" model="department" ind="{{$index}}"  ></selectize>
                                    </div>  
                                </div>
                                <div class="form-group" >
                                    <label for="inputName" class="col-sm-4 control-label">{l}Exact Title{endl}</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control" name="e_title" placeholder="{l}Exact Title{endl}" ng-model="item.e_title" id="inputName" >
                                    </div>
                                </div>      
                                <div class="form-group">
                                    <label for="inputName" class="col-sm-4 control-label">{l}Email{endl}</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control" name="email" placeholder="{l}Email{endl}" ng-model="item.email" id="inputName" >
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="" class="col-sm-4 control-label">{l}Phone{endl}</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control" ng-model="item.phone">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="" class="col-sm-4 control-label">{l}Fax{endl}</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control" ng-model="item.fax">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="" class="col-sm-4 control-label">{l}Allow on e-mailing lists{endl}</label>
                                    <div class="col-sm-8 checkbox checkbox-primary">
                                        <input type="checkbox" id="checkbox1" ng-model="item.s_email">
                                        <label for="checkbox1"></label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!-- /.account_item -->
                </div>
                <div class="form-group" ng-if="ls.contact_id!='tmp' && !ls.showLinkAccount">
                    <div class="col-sm-12">
                        <a href="#" ng-click="ls.showLinkAccount=true" class="text-link">{l}Link to Account{endl}</a>
                    </div>
                </div>
                <div class="form-group" ng-class="{ 'form-group_alert' : addCustomer.customer_id.$invalid && !addCustomer.customer_id.$pristine }" ng-if="ls.contact_id!='tmp' && ls.showLinkAccount">
                    <label for="" class="col-sm-4 control-label text-right">{l}Link to Account{endl}</label>
                    <div class="col-sm-6">
                        <input type="hidden" name="customer_id" ng-model="ls.obj.customer_id" />
                        <selectize config="ls.compCfg" options="ls.customer_dd" ng-model="ls.obj.customer_id" id="custandcont" ></selectize>
                        <div class="alert alert-sm alert-danger" ng-if="addCustomer.customer_id.$invalid && ls.alertsField.customer_id">{{ls.alertsField.customer_id}}</div>
                    </div>
                    <div class="col-sm-2" >
                        <button class="btn btn-tertiary" type="button" ng-click="ls.action(ls.obj.customer_id,'addContactToCustomer')"><i class="fa fa-plus" aria-hidden="true"></i></button>
                    </div>
                </div>                  
            </div>
        </div>
      </div>
    </div><!-- /.row -->
  </form>
  <div class="row">
    <div class="col-sm-12 text-right">
      <button class="btn btn-default" type="button" ng-disabled="addCustomer.$invalid" ng-click="ls.ok(addCustomer)">{l}Save{endl}</button>
    </div>
  </div>
</div><!-- neede on all pages -->
