<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="ls.cancel()"><span aria-hidden="true">&times;</span></button>
    <h3 class="modal-title">{l}Contact{endl} {{ls.obj.firstname}} {{ls.obj.lastname}}</h3>
</div>
<div class="modal-body" >
    <div uib-alert ng-repeat="alert in ls.alerts" type="{{alert.type}}" close="ls.alerts.splice($index, 1);" dismiss-on-timeout="5000" ng-class="['alert-' + (alert.type || 'warning') ]">{{alert.msg}}</div>
    <form class="form-horizontal text-left" name="addCustomer" novalidate>
        <div class="row">
            <div class="col-sm-6">
                <div class="panel panel-primary panel-extend margin-bottom-none">
                    <div class="panel-heading hide">{l}Details{endl}</div>
                    <div class="panel-body">
                        <div class="form-group">
                            <label class="col-sm-4 control-label text-muted">{l}First Name{endl} </label>
                            <label class="col-sm-8 control-label">{{ls.obj.firstname}}</label>
                        </div>
                        <div class="form-group" ng-class="{ 'form-group_alert' : addCustomer.lastname.$invalid && !addCustomer.lastname.$pristine }">
                            <label class="col-sm-4 control-label text-muted">{l}Last Name{endl} </label>
                            <label class="col-sm-8 control-label">{{ls.obj.lastname}} </label>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label text-muted">{l}Cell{endl}</label>
                            <label class="col-sm-8 control-label">{{ls.obj.cell}}</label>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label text-muted">{l}Gender{endl}</label>
                            <label class="col-sm-8 control-label">{{ls.obj.sex_txt}}</label>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label text-muted">{l}Language{endl}</label>
                            <label class="col-sm-8 control-label">{{ls.obj.language_txt}}</label>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label text-muted">{l}Email{endl}</label>
                            <label class="col-sm-8 control-label">{{ls.obj.email}}</label>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label text-muted">{l}Exact Title{endl}</label>
                            <label class="col-sm-8 control-label">{{ls.obj.e_title}}</label>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label text-muted">{l}Function{endl}</label>
                            <label class="col-sm-8 control-label">{{ls.obj.position_txt}}</label>
                        </div>
                        {loop:extra_field}
                        <div class="form-group">
                            <label for="" class="col-sm-4 control-label text-muted">{label}</label>
                            <label for="" class="col-sm-8 control-label">{{ls.obj.extra[{field_id}]}}</label>
                        </div>
                        {endloop}
                    </div>
                </div>
            </div>
            <div class="col-sm-6">        
				<table class="table" width="100%" ng-if="ls.contact_id!='tmp'">
					<thead>
						<tr>
							<th class="col-sm-12" >{l}Accounts1{endl}</th>
							<!-- <th class="col-sm-2 table_actions"> </th> -->
						</tr>  
					</thead>
					<tbody>
						<tr ng-repeat="item in ls.accounts track by item.customer_id">
							<td><span ng-bind-html="item.name"></span></td>
							<!-- <td class="table_actions">
								<div class="btn-group">
									<button type="button" class="btn btn-plain dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
										<span class="caret"></span>
									</button>
									<ul class="dropdown-menu dropdown-menu-right" role="menu">
										<li class="dropdown-header">{l}Action{endl}</li>
										<li ><a href="#" ng-click="ls.action(item.customer_id,'removeContactFromCustomer')" confirm="{l}Are you sure, you wanna remove this entry?{endl}"><span class="fa fa-trash"></span> {l}Remove{endl}</a></li>                                    
									</ul>
								</div>
							</td> -->
						</tr>
					</tbody>
				</table>
				<div class="col-top">
					<table class="table" width="100%">
						<thead>
							<tr>
								<th class="col-sm-12">{l}Details two{endl}</th>
							</tr>  
						</thead>
					</table>
					<div class="form-group">
						<label class="col-sm-4 control-label text-muted">{l}Titleee{endl}</label>
						<label class="col-sm-8 control-label">{{ls.obj.title_txt}}</label>                            
					</div>
					<div class="form-group">
						<label class="col-sm-4 control-label text-muted">{l}Department{endl}</label>
						<label class="col-sm-8 control-label">{{ls.obj.department_txt}}</label>                            
					</div>
					<div class="form-group">
						<label class="col-sm-4 control-label text-muted">{l}Phone{endl}</label>
						<label class="col-sm-8 control-label">{{ls.obj.phone}}</label>                            
					</div>
					<div class="form-group">
						<label class="col-sm-4 control-label text-muted">{l}Fax{endl}</label>
						<label class="col-sm-8 control-label">{{ls.obj.fax}}</label>                            
					</div>
					<div class="form-group">
						<label class="col-sm-4 control-label text-muted">{l}Birthdate{endl}</label>
						<label class="col-sm-8 control-label">{{ls.obj.birthdate_txt}}</label>                            
					</div>
					<div class="form-group">
						<label class="col-sm-4 control-label text-muted">{l}Allow on e-mailing lists{endl}</label>
						<label class="col-sm-8 control-label">{{ls.obj.s_email_txt}}</label>                            
					</div>
					<div class="form-group">
						<label for="" class="col-sm-4 control-label text-muted">{l}Creation Date{endl}</label>
						<label for="" class="col-sm-8 control-label">{{ls.obj.create}}</label>
					</div>				
				</div>
            </div>
        </div><!-- /.row -->
    </form>  
</div>
<div class="modal-footer hide">
    <button class="btn btn-plain" type="button" ng-click="ls.cancel()">{l}Close{endl}</button>
</div>

