<div class="container">
  <div class="page-header">
    <div class="row">
      <div class="col-sm-12">
        <h1>{l}Accounts{endl} 
        <button type="button" class="btn btn-primary btn-add" go-to="" state="customer" params='{"customer_id": "tmp"}' uib-tooltip="{l}New Account{endl}" tooltip-placement="right"><span class="btn-add_icon"><span class="icon-bar"></span><span class="icon-bar-2"></span></span></button>
        </h1>
      </div>
    </div>
  </div><!-- /.page-header -->
  <div uib-alert ng-repeat="alert in vm.alerts" type="{{alert.type}}" close="vm.alerts.splice($index, 1);" dismiss-on-timeout="5000" ng-class="['alert-' + (alert.type || 'warning') ]">{{alert.msg}}</div>
  <div class="row page-search page-search-options">
    <form>
      <div class="col-sm-4">
        <div class="so-field" ng-class="{ 'so-active':vm.search.search!='' }">
          <span class="glyphicon glyphicon-search so-icon"></span>
          <input id="no_css_search_field" type="text" class="form-control" search-it doit="vm.search" callbk="vm.renderList" ng-change="vm.checkSearch()" placeholder="{l}Search{endl}" ng-model="vm.search.search">
          <span class="glyphicon glyphicon-remove so-icon so-remove" ng-click="vm.toggleSearchButtons('search','')"></span>
        </div><!-- /.input-search -->
      </div>
      <div class="col-sm-2">
        <div class="so-field" ng-class="{ 'so-active':vm.search.type }">
          <span class="fa fa-users so-icon"></span>
          <selectize config='vm.type_cfg' options='vm.type_dd' ng-model="vm.search.type" ></selectize>
          <span class="glyphicon glyphicon-remove so-icon so-remove" ng-click="vm.toggleSearchButtons('type','')"></span>
        </div><!-- /.input-date -->
      </div>
      <div class="col-sm-2">
        <div class="so-field" ng-class="{ 'so-active':vm.search.is_supplier }">
          <span class="akti-icon akti-icon-16 o_akti_custopplier so-icon"></span>
          <selectize config='vm.type2_cfg' options='vm.type_dd2' ng-model="vm.search.is_supplier" ></selectize>
          <span class="glyphicon glyphicon-remove so-icon so-remove" ng-click="vm.toggleSearchButtons('is_supplier','')"></span>
        </div><!-- /.input-date -->
      </div>
      <div class="col-sm-2">
        <div class="so-field" ng-class="{ 'so-active':vm.search.country_id }">
          <span class="glyphicon glyphicon-map-marker so-icon"></span>
          <selectize config='vm.country_cfg' options='vm.countries' ng-model="vm.search.country_id" ></selectize>
          <span class="glyphicon glyphicon-remove so-icon so-remove" ng-click="vm.toggleSearchButtons('country_id','')"></span>
        </div><!-- /.input-date -->
      </div>
      <div class="col-sm-2">
        <div class="so-field" ng-class="{ 'so-active':vm.search.acc_manager_id }">
          <span class="glyphicon glyphicon-user so-icon"></span>
          <selectize config='vm.acc_manager_cfg' options='vm.account_managers' ng-model="vm.search.acc_manager_id" ></selectize>
          <span class="glyphicon glyphicon-remove so-icon so-remove" ng-click="vm.toggleSearchButtons('acc_manager_id','')"></span>
        </div><!-- /.input-date -->
      </div>
      
      <div class="page-search-button">
        <div class="btn-group">
          <button type="button" class="btn btn-tertiary btn-square dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="caret"></span>
            <span class="sr-only">Toggle Dropdown</span>
          </button>
          <ul class="dropdown-menu dropdown-menu-right">
            <li><a href="#" ng-click="vm.search.showAdvanced = !vm.search.showAdvanced;vm.showActiveList(1)" ><span class="fa fa-search"></span> {l}Advanced search{endl}</a></li>
            <li ng-if="vm.search.archived"><a href="#" ng-click="vm.showArchivedList(0)"><span class="fa fa-list-ul"  ></span> {l}Active Customers{endl}</a></li>
            <li ng-if="!vm.search.archived"><a href="#" ng-click="vm.showArchivedList(1)"><span class="glyphicon glyphicon-briefcase" ></span> {l}Archived Companies{endl}</a></li>
            <li><a href="index.php?do=customers-export_customers_report&amp;{{vm.export_args}}" target="_blank"><span class="glyphicon glyphicon-export"></span> {l}Export Companies{endl}</a></li>
            <li><a href="#" ng-click="vm.showActiveList(1)"><span class="glyphicon glyphicon-globe" ></span> {l}View Client list{endl}</a></li>
          </ul>
        </div>
      </div>
      <div class="col-sm-12 advanced_search" ng-class="{ 'advanced_search-show': vm.search.showAdvanced }">
        <div class="row">
            <div class="col-sm-1">
                  <input type="text" class="form-control" ng-change="vm.checkSearch()" ng-model="vm.search.zip_from" placeholder="{l}Zip From{endl}">
              </div>
            <div class="col-sm-1">
                  <input type="text" class="form-control" ng-change="vm.checkSearch()" ng-model="vm.search.zip_to" placeholder="{l}Zip To{endl}">
              </div>
            <div class="col-sm-2">
                  <input type="text" class="form-control" ng-change="vm.checkSearch()" ng-model="vm.search.btw_nr" placeholder="{l}VAT number{endl}">
              </div>
            <div class="col-sm-2">
                  <input type="text" class="form-control" ng-change="vm.checkSearch()" ng-model="vm.search.our_reference" placeholder="{l}Our reference{endl}">
              </div>
            <div class="col-sm-2">
                  <input type="text" class="form-control" ng-change="vm.checkSearch()" ng-model="vm.search.commercial_name" placeholder="{l}Commercial Name{endl}">
              </div>
              <div class="col-sm-2">
                <selectize config='vm.select_cfg_lead' options='vm.lead_source_dd' ng-model="vm.search.lead_source" ></selectize>
              </div>
              <div class="col-sm-2">
                <selectize config='vm.select_cfg_sector' options='vm.sector_dd' ng-model="vm.search.sector" ></selectize>
              </div>
              <div class="col-sm-2  col-top">
                <div class="so-field" ng-class="{ 'so-active':vm.search.c_type_name }">
                  <span class="glyphicon glyphicon-user so-icon"></span>
                  <selectize config='vm.c_type_cfg' options='vm.c_type_dd' ng-model="vm.c_type_id" ></selectize>
                  <span class="glyphicon glyphicon-remove so-icon so-remove" ng-click="vm.toggleSearchButtons('c_type_name','')"></span>
                </div><!-- /.input-date -->
              </div>
          </div>
          <div class="row">
            <div class="col-sm-12 text-right">
                <button class="btn btn-plain btn-search_cancel" ng-click="vm.closeAdvanced()" type="button">{l}Cancel{endl}</button>
                <button class="btn btn-default" ng-click="vm.searchThing()" type="submit">{l}Search{endl}</button>
              </div>
          </div>
      </div>
    </form>
  </div><!-- /.page-search -->
  <div class="row page-content col-bottom col-top" id="no_css-companies_kpis" ng-if="!vm.search.showList">
    <div class="col-sm-12">
      <div class="row">
        <div class="col-sm-12">
          <div class="col-bottom border-bottom">
            <h3 class="text-muted">{l}Active Clients{endl} <small>{l}last 6 months{endl}</small></h3>
            <div class="row">
              <div class="col-sm-3" ng-repeat="item in vm.kpi_number">
                <h1 class="kpi_number">{{item.clients}} <small class="kpi_procent" ng-class="item.class"><span class="fa" ng-class="item.faclass" aria-hidden="true"></span> {{item.diff}}</small></h1>
                <span class="kpi_compare">{{item.text}}</span>
              </div>                        
            </div>                            
          </div>
        </div>
      </div>
      <div class="row" >
        <div class="col-sm-4" ng-repeat="item in vm.graphs" ng-if="item.show">
            <div class="row">
                <div class="col-sm-8">
                    <h3 class="text-muted col-bottom">{{item.name}}</h3>
                </div>
                <div class="col-sm-4 col-top text-right" ng-show="$last">
                  <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <i class="fa fa-bars text-muted" aria-hidden="true"></i>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-right">
                      <li class="dropdown-checkbox" ng-repeat="itemMenu in vm.graphs">
                        <label class="checkbox-inline">
                          <input type="checkbox" ng-model="itemMenu.show" ng-click="vm.showGraph(itemMenu)"> {{itemMenu.name}}
                        </label>
                      </li>
                    </ul>
                  </div>
                </div>
            </div>
          <canvas class="chart chart-base" chart-type="vm[item.option].chart_type" chart-dataset-override="vm[item.option].datasetOverride" chart-series="vm[item.option].series"
            chart-data="vm[item.option].data" chart-labels="vm[item.option].labels" chart-options="vm[item.option].opt" chart-colors="vm[item.option].colors">                
        </div>           
      </div>
    </div>                
  </div><!-- /.page-content -->
  <div class="row page-content col-bottom col-top" ng-if="vm.search.showList">
    <div class="col-sm-12">
      <table class="table active_rows orderTable" width="100%">
        <thead>
          <tr>
            <th class="col-sm-1"></th>
            <th class="col-sm-3 sortable_row" ng-class="{ 'sortable_row-up':(!vm.reverse && vm.ord=='name'), 'sortable_row-down':(vm.reverse && vm.ord=='name') }" ng-click="vm.orderBY('name')">{l}Account Name{endl}</th>
            <th class="col-sm-2 sortable_row" ng-class="{ 'sortable_row-up':(!vm.reverse && vm.ord=='city_name'), 'sortable_row-down':(vm.reverse && vm.ord=='city_name') }" ng-click="vm.orderBY('city_name')">{l}City{endl}</th>
            <th class="col-sm-2 sortable_row" ng-class="{ 'sortable_row-up':(!vm.reverse && vm.ord=='country_name'), 'sortable_row-down':(vm.reverse && vm.ord=='country_name') }" ng-click="vm.orderBY('country_name')">{l}Country{endl}</th>
            <th class="col-sm-2 sortable_row" ng-class="{ 'sortable_row-up':(!vm.reverse && vm.ord=='c_type_name'), 'sortable_row-down':(vm.reverse && vm.ord=='c_type_name') }" ng-click="vm.orderBY('c_type_name')">{l}Type of relationship{endl}</th>
            <th class="col-sm-2 sortable_row" ng-class="{ 'sortable_row-up':(!vm.reverse && vm.ord=='acc_manager_name'), 'sortable_row-down':(vm.reverse && vm.ord=='acc_manager_name') }" ng-click="vm.orderBY('acc_manager_name')">{l}Account Manager{endl}</th>
            <th class="col-sm-1 table_actions"> </th>
          </tr>  
        </thead>
        <tbody>
          <tr ng-repeat="item in vm.list">

            <td go-to="" state="customerView" params='{"customer_id": {{::item.customer_id}}}' list='{ "type":"customers-customersDashboard", "obj": { "search":{{vm.search}} } }'><i class="fa fa-{{item.type2}}" aria-hidden="true" uib-tooltip="{{item.type2_name}}" tooltip-placement="right" ></i>  <span class="{{item.type}}" aria-hidden="true" uib-tooltip="{{item.type_name}}" tooltip-placement="right"></span></td>
            <td ng-bind-html="item.name" go-to="" state="customerView" params='{"customer_id": {{::item.customer_id}}}' list='{ "type":"customers-customersDashboard", "obj": { "search":{{vm.search}} } }'></td>
            <td class="text-muted" go-to="" state="customerView" params='{"customer_id": {{::item.customer_id}}}' list='{ "type":"customers-customersDashboard", "obj": { "search":{{vm.search}} } }'><span ng-bind-html="item.city"></span></td>
            <td class="text-muted" go-to="" state="customerView" params='{"customer_id": {{::item.customer_id}}}' list='{ "type":"customers-customersDashboard", "obj": { "search":{{vm.search}} } }'><span ng-bind-html="item.country"></span></td>
            <td class="text-muted" go-to="" state="customerView" params='{"customer_id": {{::item.customer_id}}}' list='{ "type":"customers-customersDashboard", "obj": { "search":{{vm.search}} } }'><span ng-bind-html="item.sales"></span></td>
            <td class="text-muted" go-to="" state="customerView" params='{"customer_id": {{::item.customer_id}}}' list='{ "type":"customers-customersDashboard", "obj": { "search":{{vm.search}} } }'><span ng-bind-html="item.contacts"></span></td>

            <td class="table_actions">
                <div class="btn-group">
                  <button type="button" class="btn btn-plain dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                    <span class="caret"></span>
                  </button>
                    <ul class="dropdown-menu dropdown-menu-right" role="menu">
                        <li class="dropdown-header">{l}Action{endl}</li>
                        <li><a href="" go-to="" state="customer" params='{"customer_id": {{::item.customer_id}}}' list='{ "type":"customers-customersDashboard", "obj": { "search":{{vm.search}} } }'><span class="glyphicon glyphicon-edit text-primary"></span> {l}Edit{endl}</a></li>
                        <li ng-if="!vm.search.archived"><a href="#" ng-click="vm.action(item,'archive_link')" confirm="{l}Are you sure, you wanna archive this entry?{endl}"><span class="glyphicon glyphicon-minus-sign text-primary"></span> {l}Archive{endl}</a></li>
                        <li ng-if="vm.search.archived"><a href="#" ng-click="vm.action(item,'activate_link')" confirm="{l}Are you sure, you wanna revert this entry?{endl}"><span class="glyphicon glyphicon-repeat text-primary"></span> {l}Revert{endl}</a></li>
                        <!-- <li><a href="#"><span class="fa fa-bars text-primary"></span> Timeline</a></li> -->
                    </ul>
                </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-sm-12">
      <div class="col-sm-8">
        <ul ng-if="vm.max_rows > 30" uib-pagination total-items="vm.max_rows" ng-model="vm.search.offset" ng-change="vm.searchThing()" max-size="5" class="pager" boundary-links="true" items-per-page="vm.lr" ></ul>
      </div>
      <div class="col-sm-4 text-right">
        <label>{l}Number of companies{endl}: <strong>{{vm.max_rows}}</strong></label>
      </div>
    </div>
  </div><!-- /.page-content -->

</div><!-- neede on all pages -->