<div class="modal-header">
	<h3 class="modal-title">{l}Confirm{endl}</h3>
</div>
<div class="modal-body" >
<div class="col-sm-12">{l}Are you sure, you wanna backup your data? Please select a file to overwrite.{endl}</div class="col-sm-12">
		<div class="col-sm-12 checkbox checkbox-primary">
        	<input type="checkbox" value="1" ng-model="vm.checkerase" id="checkbox2" >{l}Yes or No?{endl}
            <label for="checkbox2"></label>
        </div>
</div>
<div class="modal-footer">
		<button class="btn btn-plain" ng-click="vm.cancel()">{l}Cancel{endl}</button>
		<button class="btn btn-default" ng-disabled="vm.checkerase==false" ng-click="vm.ok(vm,vm.checkerase)">{l}OK{endl}</button>
</div>