<div class="modal-body" >
		<div uib-alert ng-repeat="alert in vm.alerts" type="{{alert.type}}" close="vm.alerts.splice($index, 1);" dismiss-on-timeout="5000" ng-class="['alert-' + (alert.type || 'warning') ]">{{alert.msg}}</div>
		<h3 class="modal-title text-center">{l}Importing data...{endl}  <i class="fa fa-spinner fa-spin fa-1x fa-fw" aria-hidden="true"></i><span class="sr-only">{l}Loading{endl}</span></h3>
		<div class="showprogress ">
            <p class="imported_txt text-center"><span class="show_loading" style="display:none;"><img src="../img/ajax-loader-gray.gif" alt="loading" /> </span> <span id="imported">0</span> {l}Companies imported{endl}</p>
            <div class="import_progressbar" >
                <div style="display: block; width: 0%;" class="import-progressbar-value" >
                </div>
            </div>
        </div>
</div>