<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="vmMod.cancel()"><span aria-hidden="true">&times;</span></button>
    <h3 class="modal-title">{l}Manage Addresses{endl}
    	<button type="button" class="btn btn-primary btn-add" ng-click="vmMod.openModal('CustomerAddress','tmp','md')" uib-tooltip="{l}Add Address{endl}" tooltip-placement="right"><span class="btn-add_icon"><span class="icon-bar"></span><span class="icon-bar-2"></span></span></button>
    </h3>
</div>
<div class="modal-body" >
    <div uib-alert ng-repeat="alert in vmMod.alerts" type="{{alert.type}}" close="vmMod.alerts.splice($index, 1);" dismiss-on-timeout="5000" ng-class="['alert-' + (alert.type || 'warning') ]">{{alert.msg}}</div>
    <table class="table" width="100%">
          <thead>
            <tr>
                <th class="col-sm-2" >{l}Street{endl}</th>
                <th class="col-sm-1" >{l}ZIP{endl}</th>
                <th class="col-sm-2" >{l}City{endl}</th>
                <th class="col-sm-2">{l}State(Region){endl}</th>
                <th class="col-sm-2">{l}Country{endl}</th>
                <th class="col-sm-2">{l}Delivery/Billing{endl}</th>
                <th class="col-sm-1 table_actions"> </th>
            </tr>  
        </thead>
        <tbody>
            <tr ng-repeat="item in vmMod.list ">
                <td ><span ng-bind-html="item.address"></span></td>
                <td ><span ng-bind-html="item.zip"></span></td>
                <td ><span ng-bind-html="item.city"></span></td>
                <td ><span ng-bind-html="item.state"></span></td>
                <td ><span ng-bind-html="item.country"></span></td>
                <td ><span ng-bind-html="item.address_type2"></span></td>
                <td class="table_actions">
                    <div class="btn-group">
                        <button type="button" class="btn btn-plain dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu dropdown-menu-right" role="menu">
                            <li class="dropdown-header">{l}Action{endl}</li>
                            <li><a href="#" ng-click="vmMod.openModal('CustomerAddress',item.address_id,'md')" ><span class="glyphicon glyphicon-edit text-primary"></span> {l}Edit{endl}</a></li>
                            <li><a href="#" ng-click="vmMod.action(item,'delete_link')" confirm="{l}Are you sure, you wanna archive this entry?{endl}"><i class="fa fa-trash" aria-hidden="true"></i> {l}Delete{endl}</a></li>
                        </ul>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>    
</div>
<div class="modal-footer hide">
    <button class="btn btn-plain" type="button" ng-click="vmMod.cancel()">{l}Close{endl}</button>    
</div>

