<div class="modal-header">
    <h3 class="modal-title">{l}Are you sure to use First reference to all accounts{endl}?
    </h3>
</div>
<div class="modal-body" >
    <form class="form-horizontal text-left {{vm.hide_all}}" name="addCustomer" novalidate>
        <div class="row">
            <div class="col-sm-12">
				<div class="form-group" >
				    <label class="col-md-6 control-label text-left" for="inputReference">
				        {l}First reference to use{endl}?
				    </label>
				    <div class="col-xs-6">
				        <input id="inputReference" type="text" class="form-control" ng-model="vm.first_reference_c" >
				  	</div>
				</div>
			</div>
		</div>
	</form>
	<div class="showprogress {{vm.hide}}">
	    <p class="imported_txt text-center"><span class="show_loading" style="display:none;"><img src="../img/ajax-loader-gray.gif" alt="loading" /> </span> <span id="imported">0</span> {l}Companies updated{endl}</p>
	    <div class="import_progressbar" >
	        <div style="display: block; width: 0%;" class="import-progressbar-value" >
	        </div>
	    </div>
	</div>
</div>
<div class="modal-footer {{vm.hide_all}}">
	<button class="btn btn-default" type="button" ng-click="vm.saveReference()">{l}Save{endl}</button> 
    <button class="btn btn-plain" type="button" ng-click="vm.cancel()">{l}Close{endl}</button>    
</div>
