<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="vm.cancel()"><span aria-hidden="true">&times;</span></button>
  <h4 class="modal-title">{l}Set Country{endl}</h4>
</div>
<div class="modal-body">
	<div class="loading_wrap loading_alt hidden">
      	<div class="loading"></div>
        <div class="spinner"></div>
    </div>
    <div class="col-sm-12">
    	<div class="form-group">
    		<label class="col-sm-4 text-left control-label">{l}Country{endl}</label>
    		<div class="col-sm-8">
    			<select class="form-control" ng-model="vm.obj.country_id">
    				<option ng-repeat="option in vm.obj.country_dd track by option.id" value="{{option.id}}" ng-bind-html="option.name"></option>
    			</select>
    		</div>
    	</div>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-plain" type="button" ng-click="vm.cancel()">{l}Cancel{endl}</button>
    <button class="btn btn-default" type="button" ng-click="vm.ok()">{l}Save{endl}</button>
</div>