<div class="container">
  <div class="page-header">
    <div class="row">
      <div class="col-sm-8">
        <h1>{l}Edit List{endl} 
        </h1>        
      </div>
      <div class="col-sm-4 text-right">
        <button go-to="" state="smartList" type="button" class="btn btn-link"><span class="glyphicon glyphicon-list"></span> <strong>{l}List{endl}</strong></button>
        <button type="submit" class="btn btn-plain" go-to="" state="smartListView" params='{"contact_list_id": {{::ls.contact_list_id}}}' >{l}View{endl}</button>
        <button type="submit" ng-disabled="smartListForm.$invalid" class="btn btn-default" ng-click="ls.save(smartListForm)">{l}Save{endl}</button>
      </div>
    </div>
  </div><!-- /.page-header -->
  <div uib-alert ng-repeat="alert in ls.alerts" type="{{alert.type}}" close="ls.alerts.splice($index, 1);" dismiss-on-timeout="5000" ng-class="['alert-' + (alert.type || 'warning') ]">{{alert.msg}}</div>
  <div class="row page-content col-bottom col-top">
    <div class="col-sm-3">
      <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
        <div class="panel" ng-repeat="item in ls.filters" ng-class="{ 'panel-plain':item.show , 'panel-default':!item.show }" >
          <div class="panel-heading cursor_pointer" role="tab" ng-click="item.show=!item.show">
            <h4 class="panel-title">
              <a role="button">
                {{item.name}}
              </a>
            </h4>
          </div>
          <div id="{{item.id}}" class="panel-collapse collapse" ng-class="{ 'in':item.show  }" role="tabpanel" aria-labelledby="headingOne">
            <div class="panel-body">
              <p ng-repeat="item2 in item.items" ng-click="ls.applyFilter($event,item2)" class="cursor_pointer"><i class="fa fa-times" aria-hidden="true" ng-if="ls.search.filter[item2.key].indexOf(item2.id)>-1"> </i> {{item2.name}} <small>({{item2.total}})</small></p>
            </div>
          </div>
        </div>
      </div>    

    </div>
    <div class="col-sm-9">
      <form class="form-horizontal text-left" name="smartListForm" novalidate>
        <div class="row">
          <div class="col-sm-12">
            <div class="form-group" ng-class="{ 'form-group_alert' : smartListForm.list_name.$invalid && !smartListForm.list_name.$pristine }">
              <label for="inputName" class="col-sm-4 control-label">{l}Name{endl} <span class="mandatory-label">*</span></label>
              <div class="col-sm-8">
                <input type="text" class="form-control" name="list_name" placeholder="{l}Name{endl}" ng-model="ls.list_name" id="inputName" required >
                <div class="alert alert-sm alert-danger" ng-if="smartListForm.list_name.$invalid && ls.alertsField.list_name">{{ls.alertsField.list_name}}</div>
              </div>
            </div>
            <div class="form-group" >
              <label for="inputName" class="col-sm-4 control-label">{l}Filters{endl} </label>
              <label for="inputName" class="col-sm-8 control-label"><a href="" ng-click="ls.search.filter={};ls.appliedFilters={};ls.searchThing();">{l}Remove all Filters{endl}</a> </label>
              <div class="col-sm-12 smartListFilters">
                <span class="text-muted" ng-repeat="item in ls.appliedFilters"><span ng-repeat="item2 in item"><span>, </span>{{item2}}</span></span>
              </div>
            </div>
            <div class="form-group" >
              <label for="inputName" class="col-sm-4 control-label">{l}N&deg; of total contacts{endl} </label>
              <div class="col-sm-2">
                <label class="control-label">{{ls.max_rows}}</label>
              </div>
              <label for="inputName" class="col-sm-4 control-label">{l}Selected contacts{endl} </label>
              <div class="col-sm-2">
                <label class="control-label">{{ls.TOTAL_SEL_C}}</label>
              </div>
            </div>
          </div>
         </div>
      </form>
      <div class="row">
        <div class="col-sm-12">
          <table class="table active_rows orderTable" width="100%">
            <thead>
              <tr>
                <th class="col-sm-3 sortable_row" ng-class="{ 'sortable_row-up':(!ls.reverse && ls.ord=='name'), 'sortable_row-down':(ls.reverse && ls.ord=='name') }" ng-click="ls.orderBY('name')">{l}Account{endl}</th>
                <th class="col-sm-3 " >{l}First Name{endl}</th>
                <th class="col-sm-3 " ng-if="ls.hide_comp" >{l}Last Name{endl}</th>
                <th class="col-sm-2 " ng-if="ls.hide_comp" >{l}Email{endl}</th>
                <th class="col-sm-1 table_actions"  ng-if="ls.list_type==1"> </th>
              </tr>  
            </thead>
            <tbody>
              <tr ng-repeat="item in ls.list">
                <td go-to="" state="contactView" params='{"contact_id": {{::item.REL}}}' >{{item.CON_COMP}}</td>
                <td class="text-muted" ng-if="ls.hide_comp" go-to="" state="contactView" params='{"contact_id": {{::item.REL}}}' >{{item.CON_FIRSTNAME}}</td>
                <td class="text-muted" ng-if="ls.hide_comp" go-to="" state="contactView" params='{"contact_id": {{::item.REL}}}' >{{item.CON_LASTNAME}}</td>
                <td class="text-muted" go-to="" state="contactView" params='{"contact_id": {{::item.REL}}}' >{{item.EMAIL}}</td>
                <td class="table_actions" ng-if="ls.list_type==1">
                    <div class="text-center">
                      <input type="checkbox" ng-model="item.CHECKED" ng-click="ls.action(item)" >
                    </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <ul ng-if="ls.max_rows > 30" uib-pagination total-items="ls.max_rows" ng-model="ls.search.offset" ng-change="ls.searchThing()" max-size="5" class="pager" boundary-links="true" items-per-page="ls.lr" ></ul>
      </div><!-- /.page-content -->
      <div class="text-right">
        <button type="submit" class="btn btn-plain" go-to="" state="smartListView" params='{"contact_list_id": {{::ls.contact_list_id}}}' >{l}View{endl}</button>
        <button type="submit" ng-disabled="smartListForm.$invalid" class="btn btn-default" ng-click="ls.save(smartListForm)">{l}Save{endl}</button>
      </div>
    </div>
  </div><!-- /.page-content -->

</div><!-- neede on all pages -->