<div class="modal-header">
    <h3 class="modal-title">{l}Add Smart List{endl}</h3>
</div>
<div class="modal-body" >
  <div uib-alert ng-repeat="alert in vmMod.alerts" type="{{alert.type}}" close="vmMod.alerts.splice($index, 1);" dismiss-on-timeout="5000" ng-class="['alert-' + (alert.type || 'warning') ]">{{alert.msg}}</div>
  <form class="form-horizontal text-left" name="addSmartList" novalidate>
    <div class="row">
      <dir class="col-sm-12">
        <div class="form-group" ng-class="{ 'form-group_alert' : addSmartList.list_name.$invalid && !addSmartList.list_name.$pristine }">
          <label for="inputName" class="col-sm-4 control-label">{l}Name{endl} <span class="mandatory-label">*</span></label>
          <div class="col-sm-8">
            <input type="text" class="form-control" name="list_name" placeholder="{l}Name{endl}" ng-model="vmMod.obj.list_name" id="inputName" required >
            <div class="alert alert-sm alert-danger" ng-if="addSmartList.list_name.$invalid && vmMod.alertsField.list_name">{{vmMod.alertsField.list_name}}</div>
          </div>
        </div>
      </dir>
      <div class="col-sm-6">
        <div class="form-group">
          <label class="col-sm-8 control-label" >{l}Dynamic list{endl}</label>
          <div class="col-sm-4 checkbox checkbox-primary">
            <input type="radio" ng-model="vmMod.obj.list_type" value="0" id="checkbox1">
            <!-- <label for="checkbox1"></label> -->
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-8 control-label" >{l}Contacts only{endl}</label>
          <div class="col-sm-4 checkbox checkbox-primary">
            <input type="radio" ng-model="vmMod.obj.list_for" value="0" id="checkbox2">
            <!-- <label for="checkbox2"></label> -->
          </div>
        </div>
      </div>
      <div class="col-sm-6">        
        <div class="form-group">
          <label class="col-sm-8 control-label" >{l}Static list{endl}</label>
          <div class="col-sm-4 checkbox checkbox-primary">
            <input type="radio" ng-model="vmMod.obj.list_type" value="1" id="checkbox3">
            <!-- <label for="checkbox3"></label> -->
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-8 control-label" >{l}Accounts only{endl}</label>
          <div class="col-sm-4 checkbox checkbox-primary">
            <input type="radio" ng-model="vmMod.obj.list_for" value="1" id="checkbox4">
            <!-- <label for="checkbox4"></label> -->
          </div>
        </div>
        
      </div>
    </div><!-- /.row -->
  </form>  
</div>
<div class="modal-footer">
    <button class="btn btn-plain" type="button" ng-click="vmMod.cancel()">{l}Close{endl}</button>
    <button class="btn btn-default" type="button" ng-disabled="addSmartList.$invalid" ng-click="vmMod.ok(addSmartList)">{l}Save{endl}</button>
</div>
 
