<div class="container">
  <div class="page-header">
    <div class="row">
      <div class="col-sm-12">
        <h1>{l}Lists{endl} 
        <button type="button" class="btn btn-primary btn-add" ng-click="ls.openModal('SmartListAdd','','md')" uib-tooltip="{l}New Smart List{endl}" tooltip-placement="right"><span class="btn-add_icon"><span class="icon-bar"></span><span class="icon-bar-2"></span></span></button>
        </h1>
      </div>
    </div>
  </div><!-- /.page-header -->
  <div uib-alert ng-repeat="alert in ls.alerts" type="{{alert.type}}" close="ls.alerts.splice($index, 1);" dismiss-on-timeout="5000" ng-class="['alert-' + (alert.type || 'warning') ]">{{alert.msg}}</div>
  <div class="row page-search">
    <form>
      <div class="col-sm-12">
        <div class="so-field" ng-class="{ 'so-active':ls.search.search!='' }">
          <span class="glyphicon glyphicon-search so-icon"></span>
          <input id="no_css_search_field" type="text" class="form-control" search-it doit="ls.search" callbk="ls.renderPage" ng-change="ls.checkSearch()" placeholder="{l}Search{endl}" ng-model="ls.search.search">
          <span class="glyphicon glyphicon-remove so-icon so-remove" ng-click="ls.toggleSearchButtons('search','')"></span>
        </div><!-- /.input-search -->
      </div>      
    </form>
  </div><!-- /.page-search -->
  <div class="row page-content col-bottom col-top">
    <div class="col-sm-12">
      <table class="table active_rows orderTable" width="100%">
        <thead>
          <tr>
            <th class="col-sm-4 sortable_row" ng-class="{ 'sortable_row-up':(!ls.reverse && ls.ord=='name'), 'sortable_row-down':(ls.reverse && ls.ord=='name') }" ng-click="ls.orderBY('name')">{l}Name{endl}</th>
            <th class="col-sm-3 " >{l}Contacts only{endl} / {l}Accounts only{endl}</th>
            <th class="col-sm-2 " >{l}Type{endl}</th>
            <th class="col-sm-2 " >{l}Items{endl}</th>
            <th class="col-sm-1 table_actions"> </th>
          </tr>  
        </thead>
        <tbody>
          <tr ng-repeat="item in ls.list">
            <td ng-bind-html="item.name" go-to="" state="smartListView" params='{"contact_list_id": {{::item.contact_list_id}}}' list='{ "type":"customers-smartList", "obj": { "search":{{ls.search}} } }'></td>
            <td class="text-muted" go-to="" state="smartListView" params='{"contact_list_id": {{::item.contact_list_id}}}' list='{ "type":"customers-smartList", "obj": { "search":{{ls.search}} } }'><span ng-bind-html="item.based_type"></span></td>
            <td class="text-muted" go-to="" state="smartListView" params='{"contact_list_id": {{::item.contact_list_id}}}' list='{ "type":"customers-smartList", "obj": { "search":{{ls.search}} } }'><span ng-bind-html="item.type"></span></td>
            <td class="text-muted" go-to="" state="smartListView" params='{"contact_list_id": {{::item.contact_list_id}}}' list='{ "type":"customers-smartList", "obj": { "search":{{ls.search}} } }'><span ng-bind-html="item.contacts"></span></td>
            <td class="table_actions">
                <div class="btn-group">
                  <button type="button" class="btn btn-plain dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                    <span class="caret"></span>
                  </button>
                    <ul class="dropdown-menu dropdown-menu-right" role="menu">
                        <li class="dropdown-header">{l}Action{endl}</li>
                        <li><a href="" go-to="" state="smartListView" params='{"contact_list_id": {{::item.contact_list_id}}}' list='{ "type":"customers-smartList", "obj": { "search":{{ls.search}} } }'><i class="fa fa-eye" aria-hidden="true"></i> {l}View{endl}</a></li>
                        <li><a href="" go-to="" state="smartListEdit" params='{"contact_list_id": {{::item.contact_list_id}}}' list='{ "type":"customers-smartList", "obj": { "search":{{ls.search}} } }'><span class="glyphicon glyphicon-edit text-primary"></span> {l}Edit{endl}</a></li>
                        <li><a href="#" ng-click="ls.action(item,'delete_link')" confirm="{l}Are you sure, you wanna archive this entry?{endl}"><span class="fa fa-trash text-primary"></span> {l}Delete{endl}</a></li>
                        <li ng-if="item.hide_refresh"><a href="#" ng-click="ls.action(item,'refresh_link')"><span class="glyphicon glyphicon-repeat text-primary"></span> {l}Refresh List{endl}</a></li>
                    </ul>
                </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-sm-12">
      <ul ng-if="ls.max_rows > 30" uib-pagination total-items="ls.max_rows" ng-model="ls.search.offset" ng-change="ls.searchThing()" max-size="5" class="pager" boundary-links="true" items-per-page="ls.lr" ></ul>
    </div>
  </div><!-- /.page-content -->

</div><!-- neede on all pages -->