<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="sync.cancel()"><span aria-hidden="true">&times;</span></button>
  <h4 class="modal-title">{l}Email Contacts{endl}</h4>
</div>
<div class="modal-body">
	<div class="loading_wrap loading_alt hidden">
      	<div class="loading"></div>
        <div class="spinner"></div>
    </div>
     <div uib-alert ng-repeat="alert in sync.alerts" type="{{alert.type}}" close="sync.alerts.splice($index, 1);" ng-class="['alert-' + (alert.type || 'warning') ]" dismiss-on-timeout='5000'>{{alert.msg}}</div>
    <form class="form-horizontal" name="data_form" no-validate>
    	<table class="table active_rows orderTable">
    		<thead>
    			<tr>
    				<th>
    					<div class="row">
    						<div class="col-sm-2">{l}Last Name{endl}</div>
		    				<div class="col-sm-2">{l}First Name{endl}</div>
		    				<div class="col-sm-2">{l}Account{endl}</div>
		    				<div class="col-sm-1 text-center">
		    					<p>{l}As Individual{endl}</p>
		    					<input type="checkbox" ng-model="sync.markAll" ng-click="sync.checkAll()">
		    				</div>
		    				<div class="col-sm-2">{l}Email{endl}</div>
		    				<div class="col-sm-2">{l}Phone{endl}</div>
		    				<div class="col-sm-1"></div>
    					</div>
    				</th>   				
    			</tr>
    		</thead>
    		<tbody>
    			<tr ng-repeat="item in sync.obj.list">
    				<td>
    					<div class="row">
			    				<div class="col-sm-2">
			    					<div class="col-sm-12">
			    						<div class="form-group" ng-class="{ 'form-group_alert' : data_form.lastname_{{$index}}.$invalid && !data_form.lastname_{{$index}}.$pristine }">
				    						<input type="text" class="form-control" name="lastname_{{$index}}" ng-model="item.lastname" placeholder="{l}Last Name{endl}">
				    						<div class="alert alert-sm alert-danger" ng-if="data_form['lastname_'+$index].$invalid && sync.alertsField['lastname_'+$index]">{{sync.alertsField['lastname_'+$index]}}</div>
				    					</div>	
			    					</div>	    						    					
			    				</div>			
			    				<div class="col-sm-2">
			    					<div class="col-sm-12">
			    						<div class="form-group" ng-class="{ 'form-group_alert' : data_form.firstname_{{$index}}.$invalid && !data_form.firstname_{{$index}}.$pristine }">
				    						<input type="text" class="form-control" name="firstname_{{$index}}" ng-model="item.firstname" placeholder="{l}First Name{endl}">
				    						<div class="alert alert-sm alert-danger" ng-if="data_form['firstname_'+$index].$invalid && sync.alertsField['firstname_'+$index]">{{sync.alertsField['firstname_'+$index]}}</div>
				    					</div>	
			    					</div>    						    					
			    				</div> 				
		    					<div class="col-sm-2">
		    						<div class="col-sm-12">
		    							<div class="form-group" ng-class="{ 'form-group_alert' : data_form.customer_id_{{$index}}.$invalid && !data_form.customer_id_{{$index}}.$pristine }">
			    							<selectize class="multi_select" name="customer_id_{{$index}}" config='sync.filterCust' options='item.customer_dd' ng-model="item.customer_id" placeholder="{l}All Customers{endl}" ng-disabled="item.disabled"></selectize>
			    							<div class="alert alert-sm alert-danger" ng-if="data_form['customer_id_'+$index].$invalid && sync.alertsField['customer_id_'+$index]">{{sync.alertsField['customer_id_'+$index]}}</div>
			    						</div>
		    						</div>    							    						
		    					</div>   					
		    					<div class="col-sm-1 text-center"><input type="checkbox" ng-model="item.individual" ng-click="sync.setIndividual($index)"></div>
		    					<div class="col-sm-2">
		    						<div class="col-sm-12">
		    							<div class="form-group" ng-class="{ 'form-group_alert' : data_form.email_{{$index}}.$invalid && !data_form.email_{{$index}}.$pristine }">
			    							<input type="text" class="form-control" name="email_{{$index}}" ng-model="item.email" placeholder="{l}Email{endl}">
			    							<div class="alert alert-sm alert-danger" ng-if="data_form['email_'+$index].$invalid && sync.alertsField['email_'+$index]">{{sync.alertsField['email_'+$index]}}</div>
			    						</div>
		    						</div> 											
		    					</div>			
			    				<div class="col-sm-2">
			    					<div class="col-sm-12">
			    						<div class="form-group" ng-class="{ 'form-group_alert' : data_form.phone_{{$index}}.$invalid && !data_form.phone_{{$index}}.$pristine }">
				    						<input type="text" class="form-control" name="phone_{{$index}}" ng-model="item.phone" placeholder="{l}Phone{endl}">
				    						<div class="alert alert-sm alert-danger" ng-if="data_form['phone_'+$index].$invalid && sync.alertsField['phone_'+$index]">{{sync.alertsField['phone_'+$index]}}</div>
				    					</div>
			    					</div>						    					
			    				</div>				
		    				<div class="col-sm-1 table_actions">
			                    <div class="btn-group">
			                      <button type="button" class="btn btn-plain dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
			                            <span class="caret"></span>
			                        </button>
			                        <ul class="dropdown-menu dropdown-menu-right" role="menu">
			                        	<li class="dropdown-header">{l}Action{endl}</li>
			                            <li><a href="#" ng-click="sync.deleteContact($index)" confirm="{l}Are you sure, you wanna delete this entry?{endl}"><span class="glyphicon glyphicon-remove text-primary"></span> {l}Delete{endl}</a></li>
			                        </ul>
			                    </div>
			                </div>
    					</div>
    				</td> 				
    			</tr>
    		</tbody>
    	</table>
    </form>
</div>
<div class="modal-footer">
    <button class="btn btn-plain" type="button" ng-click="sync.cancel()">{l}Cancel{endl}</button>
    <button class="btn btn-default" type="button" ng-click="sync.ok(data_form)">{l}Save{endl}</button>
</div>