<div class="page-header">
      <div class="row">
          <div class="col-sm-12">
            <h1>{{edit.item.address}},{{edit.item.zip}} {{edit.item.city}} - {{edit.item.country}}               
                <a class="btn btn-default pull-right" ng-click="edit.saveData(template_form)">{l}Save{endl}</a>
                <a class="btn btn-link pull-right" go-to="" state="customerView" params='{"customer_id": {{edit.item.customer_id}}, "tab":"sites", "site_addr":{{edit.item.address_id}}}' href="#"><span class="fas fa-globe"></span> {l}View{endl}</a>
            </h1>
          </div>
          <div class="col-sm-4 page-header-options" ng-if="edit.isAddPage">
          </div>
      </div>        
</div><!-- /.page-header -->
<div uib-alert ng-repeat="alert in edit.alerts" type="{{alert.type}}" close="edit.alerts.splice($index, 1);" ng-class="['alert-' + (alert.type || 'warning'), 'alert-fixed' ]" dismiss-on-timeout='5000' >{{alert.msg}}</div>
<form name="template_form" class="form-horizontal" novalidate>
  <div class="row">
    <div class="col-sm-12">
        <div class="row">
            <div class="col-xs-6" ng-repeat="field in edit.item.list">
                <div class="form-group">
                    <label class="control-label col-sm-4 text-left text-muted">{{field.name}}</label>
                    <div class="col-sm-8">
                        <selectize config='edit.fieldCfg' ng-if="field.field_type=='1'" options='field.options' fieldid="{{$index}}" ng-model="field.value"></selectize>
                        <input type="text" class="form-control" ng-if="field.field_type=='2'" ng-model="field.value" placeholder="{{field.name}}">
                        <div class="so-field input-date" ng-if="field.field_type=='3'">
                          <span class="glyphicon glyphicon-calendar so-icon" ng-click="edit.datePickOpen['field_'+field.field_id]=true"></span>
                          <input type="text" class="form-control" ng-model="field.value" uib-datepicker-popup="{{edit.format}}" is-open="edit.datePickOpen['field_'+field.field_id]" datepicker-options="edit.dateOptions" close-text="Close" placeholder="{{field.name}}" show-button-bar="false" ng-click="edit.datePickOpen['field_'+field.field_id]=true" />
                        </div>
                        <textarea class="form-control" ng-if="field.field_type=='4'" ng-model="field.value" placeholder="{{field.name}}"></textarea>
                        <div class="checkbox checkbox-primary" ng-if="field.field_type=='5'">
                            <input type="checkbox" id="check_{{field.field_id}}" ng-model="field.value" >
                            <label for="check_{{field.field_id}}"></label>
                        </div>
                      </div>
                </div>
            </div>
        </div>
    </div>
  </div>
</form>