<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="vmMod.cancel()"><span aria-hidden="true">&times;</span></button>
    <h3 class="modal-title">{l}Edit List{endl}
    </h3>
</div>
<div class="modal-body" ng-show="!vmMod.importContacts">
    <table class="table" width="100%">
          <thead>
            <tr>
                <th class="col-sm-4" >{l}List name{endl}</th>
                <th class="col-sm-4" >{l}Type{endl}</th>
                <th class="col-sm-3" >{l}Contacts{endl}</th>                
                <th class="col-sm-1 table_actions"> </th>
            </tr>  
        </thead>
        <tbody>
            <tr ng-repeat="item in vmMod.list ">
                <td ><span ng-bind-html="item.NAME2"></span></td>
                <td ><span ng-bind-html="item.TYPE"></span></td>
                <td ><span ng-bind-html="item.CONTACTS"></span></td>
                <td class="table_actions">
                    <input type="radio" ng-model="vmMod.lists_id" ng-value="item.LISTS_ID" >
                </td>
            </tr>
        </tbody>
    </table>
    <p>{l}To create a list click{endl} <a ui-sref="smartList" >{l}here{endl}</a></p>
</div>
<div class="modal-body" ng-show="vmMod.importContacts">
    <h3 class="modal-title text-center">{l}Importing data...{endl}  <i class="fa fa-spinner fa-spin fa-1x fa-fw" aria-hidden="true"></i><span class="sr-only">{l}Loading{endl}</span></h3>
    <div class="showprogress text-center">
        <p class="imported_txt text-center"><span class="show_loading" style="display:none;"><img src="../img/ajax-loader-gray.gif" alt="loading" /> </span> <span id="imported">{{vmMod.importedContacts}}</span> {l}Contacts added{endl}</p>
        <div class="row">
            
            <div class="import_progressbar center-block" >
                <div style="display: block; width: {{vmMod.width}}%;" class="import-progressbar-value" >
                </div>
            </div>
        </div>
    </div>
    <div uib-alert ng-repeat="alert in vmMod.alerts track by $index" type="{{alert.type}}" dismiss-on-timeout="40000000" close="vmMod.alerts.splice($index, 1);" ng-class="['alert-' + (alert.type || 'warning') ]">{{alert.msg}}</div>
</div>
<div class="modal-footer ">
    <button class="btn btn-plain" type="button" ng-click="vmMod.cancel()">{l}Close{endl}</button>    
    <button class="btn btn-default" type="button" ng-if="!vmMod.importContacts" ng-click="vmMod.ok()">{l}Save{endl}</button>    
</div>

