<div class="container">
  <div class="page-header">
    <div class="row">
      <div class="col-sm-8">
        <h1>{l}Contact{endl} {{ls.obj.firstname}} {{ls.obj.lastname}}</h1>
      </div>
      <div class="col-sm-4 page-header-options">
        <!-- <button ng-if="ls.contact_id!='tmp'" go-to="" state="contactView" params='{"contact_id": {{::ls.contact_id}}}' type="button" class="btn btn-link"><span class="fas fa-globe"></span> <strong>{l}View{endl}</strong></button> -->
        <!-- <button go-to="" state="contacts" type="submit" class="btn btn-sm btn-default"><strong>{l}Back{endl}</strong></button> -->
        <navigator ng-if="ls.contact_id!='tmp'" pag="customers-contacts" itemid="{{ls.contact_id}}" originalPage="contact"></navigator>
        <!-- <button class="btn btn-default" type="button" ng-disabled="addCustomer.$invalid" ng-click="ls.ok(addCustomer)">{l}Save{endl}</button> -->
      </div>
    </div>
  </div><!-- /.page-header -->
  <!-- <div uib-alert ng-repeat="alert in ls.alerts" type="{{alert.type}}" close="ls.alerts.splice($index, 1);" dismiss-on-timeout="5000" ng-class="['alert-' + (alert.type || 'warning') ]">{{alert.msg}}</div> -->
  <form class="form-horizontal text-left" name="addCustomer" novalidate>
    <div class="row">
      <div class="col-sm-6">
        <div class="form-group" ng-class="{ 'form-group_alert' : addCustomer.firstname.$invalid && !addCustomer.firstname.$pristine }">
          <label for="inputName" class="col-sm-4 control-label">{l}First Name{endl} <span class="mandatory-label">*</span></label>
          <div class="col-sm-8">
            <input type="text" class="form-control" name="firstname" placeholder="{l}First Name{endl}" ng-model="ls.obj.firstname" id="inputName" required >
            <div class="alert alert-sm alert-danger" ng-if="addCustomer.firstname.$invalid && ls.alertsField.firstname">{{ls.alertsField.firstname}}</div>
          </div>
        </div>
        <div class="form-group" ng-class="{ 'form-group_alert' : addCustomer.lastname.$invalid && !addCustomer.lastname.$pristine }">
          <label for="inputName" class="col-sm-4 control-label">{l}Last Name{endl} <span class="mandatory-label">*</span></label>
          <div class="col-sm-8">
            <input type="text" class="form-control" name="lastname" placeholder="{l}Last Name{endl}" ng-model="ls.obj.lastname" id="inputName" required >
            <div class="alert alert-sm alert-danger" ng-if="addCustomer.lastname.$invalid && ls.alertsField.lastname">{{ls.alertsField.lastname}}</div>
          </div>
        </div>

            <div ng-repeat="item in ls.obj.linesObj">
                <div class="form-group" ng-if="ls.hide[item.if_condition] && !item.is_custom"
                >
                  <label for="" class="col-sm-4 control-label">{{item.label}}</label>
                  <!-- Normal Inputs -->
                  <div class="col-sm-8" ng-if="!item.is_dd && !item.is_date">
                    <input type="text" class="form-control" ng-model="ls.obj[item.model]">
                  </div>

                  <!-- Birthdate Input -->
                  <div class="col-sm-8" ng-if="!item.is_dd && item.is_date && item.model !='sex'">
                    <input type="text" class="form-control" ng-model="ls.obj[item.model]" uib-datepicker-popup="{{ls.format}}" is-open="ls.bday" datepicker-options="dateOptions" close-text="Close" placeholder="{{item.label}}" show-button-bar="false" ng-click="ls.bday=true" >
                  </div>
                  <!-- Select without table -->
                  <div class="col-sm-8" ng-if="!item.has_table && item.is_dd && item.model != 'sex'">
                    <selectize config="ls[item.selectize_config]" options="ls[item.selectize_options]" ng-model="ls.obj[item.model]"></selectize>
                  </div>
                  <!-- Select without table custom for gender-->
                  <div class="col-sm-8" ng-if="!item.has_table && item.is_dd && item.model == 'sex'">
                    <selectize config="ls[item.selectize_config]" options="ls.obj[item.selectize_options]" ng-model="ls.obj[item.model]"></selectize>
                  </div>

                  <!-- Select with table -->
                  <div class="col-sm-8" ng-if="item.has_table && item.is_dd && item.model != 'sex'">
                    <selectize config="ls[item.selectize_config]" options="ls[item.selectize_options]"
                    ng-model="ls.obj[item.model]" table="{{item.table}}" model="{{item.model}}" ind="{{$index}}"></selectize>
                  </div>
                </div>  

                <div class="form-group" ng-if="item.is_custom">
                  <label for="" class="col-sm-4 control-label" >{{item.label}}</label>

                    <div class="col-sm-8" ng-if="item.normal_input">
                      <input type="text" name="extra[item.field_id]" value="item.value" ng-model="ls.obj.extra[item.field_id]" class="form-control" maxlength="30" />
                    </div>

                    <div class="col-sm-8" ng-if="!item.normal_input">
                      <selectize config="ls.extraCfg" options="ls.extra[item.field_id]" id="extra_{{item.field_id}}" ng-model="ls.obj.extra[item.field_id]" table="contact_extrafield_dd" model="extra" extra="{{item.field_id}}" >
                      </selectize>
                    </div>
                </div>
            </div>        
      </div>
      <div class="col-sm-6">
        <div class="panel panel-primary">
            <div class="panel-body">
                <div class="form-group" ng-class="{ 'form-group_alert' : addCustomer.customer_id.$invalid && !addCustomer.customer_id.$pristine }" ng-if="ls.contact_id=='tmp'">
                    <label for="" class="col-sm-4 control-label text-right">{l}Link to Account{endl}</label>
                    <div class="col-sm-8">
                        <input type="hidden" name="customer_id" ng-model="ls.obj.customer_id" />
                        <selectize config="ls.compCfg" options="ls.customer_dd" ng-model="ls.obj.customer_id" id="custandcont" ></selectize>
                        <div class="alert alert-sm alert-danger" ng-if="addCustomer.customer_id.$invalid && ls.alertsField.customer_id">{{ls.alertsField.customer_id}}</div>
                    </div>                        
                </div>
                <div class="accounts_list" ng-class="{ 'hidden':!ls.accounts.length }">
                    <div class="accounts_item no-overflow" ng-repeat="(iKey,item) in ls.accounts track by item.customer_id">
                        <div class="row">
                            <div class="col-xs-12 accounts_header">
                                <a class="btn-remove pull-right" href="#" ng-click="ls.action(item.customer_id,'removeContactFromCustomer')" confirm="{l}Are you sure, you wanna remove this entry?{endl}" confirm-title="{{ls.confirm}}" confirm-ok="{{ls.ok}}" confirm-cancel="{{ls.cancel}}" ><span class="fa fa-trash"></span></a>
                                <span class="acc_inactive">{{item.name}} - <i class="fa" aria-hidden="true" ng-class="{ 'fa-star-o':item.primary==0, 'fa-star':item.primary==1 }" ng-click="ls.action(item.customer_id,'setAccountAsPrimary')"></i></span>
                                <a class="text-link view_acc" href="" go-to="" state="customerView" params='{"customer_id": {{::item.customer_id}}}'><i class="fa fa-eye"></i><span>{l}View Account{endl}</span></a>
                            </div>
                            <div class="col-xs-12 accounts_body">
                              <div ng-repeat="itemA in ls.obj.accountRelatedObj">
                                <div class="form-group">
                                  <label for="" class="col-sm-4 control-label">{{itemA.label}}</label>
                                  <!-- Normal Inputs with name -->
                                  <div class="col-sm-8" ng-if="!itemA.is_dd && itemA.has_name && !itemA.is_checkbox">
                                    <input type="text" class="form-control" name="itemA.model" placeholder="{{itemA.label}}" ng-model="item[itemA.model]">
                                  </div>

                                  <!-- Normal Inputs without name -->
                                  <div class="col-sm-8" ng-if="!itemA.is_dd && !itemA.has_name && !itemA.is_checkbox">
                                    <input type="text" class="form-control" placeholder="{{itemA.label}}" ng-model="item[itemA.model]">
                                  </div>     
                                  <!-- Select without table for location -->
                                  <div class="col-sm-8" ng-if="!itemA.has_table && itemA.is_dd && itemA.model == 'customer_address_id' ">
                                    <selectize config="ls[itemA.selectize_config]" options="item.addresses" ng-model="item[itemA.model]"></selectize>
                                  </div>                           
                                  <!-- Select with table -->
                                  <div class="col-sm-8" ng-if="itemA.has_table && itemA.is_dd && !itemA.is_checkbox">
                                    <selectize config="ls[itemA.selectize_config]" options="ls[itemA.selectize_options]"
                                    ng-model="item[itemA.model]" table="{{itemA.table}}" model="itemA.model" ></selectize>
                                  </div>
                                  <!-- checkbox -->
                                  <div ng-if="!itemA.is_dd && itemA.has_name && itemA.is_checkbox" class="col-sm-8 checkbox checkbox-primary" >
                                        <input type="checkbox" id="checkbox_{{iKey}}_{{$index}}" ng-model="item[itemA.model]">
                                        <label for="checkbox_{{iKey}}_{{$index}}"></label>
                                    </div>
                                </div>
                              </div>
  
                                <!-- <div class="form-group">
                                    <label for="" class="col-sm-4 control-label">{l}Allow on e-mailing lists{endl}</label>
                                    <div class="col-sm-8 checkbox checkbox-primary">
                                        <input type="checkbox" id="checkbox1" ng-model="item.s_email">
                                        <label for="checkbox1"></label>
                                    </div>
                                </div> -->
                            </div>
                        </div>
                    </div><!-- /.account_item -->
                </div>
                <div class="form-group" ng-if="ls.contact_id!='tmp' && !ls.showLinkAccount">
                    <div class="col-sm-12">
                        <a href="#" ng-click="ls.showLinkAccount=true" class="text-link">{l}Link to Account{endl}</a>
                    </div>
                </div>
                <div class="form-group" ng-class="{ 'form-group_alert' : addCustomer.customer_id.$invalid && !addCustomer.customer_id.$pristine }" ng-if="ls.contact_id!='tmp' && ls.showLinkAccount">
                    <label for="" class="col-sm-4 control-label text-right">{l}Link to Account{endl}</label>
                    <div class="col-sm-6">
                        <input type="hidden" name="customer_id" ng-model="ls.obj.customer_id" />
                        <selectize config="ls.compCfg" options="ls.customer_dd" ng-model="ls.obj.customer_id" id="custandcont" ></selectize>
                        <div class="alert alert-sm alert-danger" ng-if="addCustomer.customer_id.$invalid && ls.alertsField.customer_id">{{ls.alertsField.customer_id}}</div>
                    </div>
                    <div class="" >
                        <button class="btn btn-default" type="button" ng-click="ls.action(ls.obj.customer_id,'addContactToCustomer')">{l}Link{endl}</button>
                    </div>
                </div>
                <div class="form-group margin-bottom-none" ng-if="(!ls.accounts.length && ls.contact_id!='tmp') || (!ls.obj.customer_id && ls.contact_id=='tmp')">
                  <label for="inputName" class="col-sm-4 control-label">{l}Email{endl}</label>
                  <div class="col-sm-8">
                      <input type="text" class="form-control" placeholder="{l}Email{endl}" ng-model="ls.obj.email" >
                  </div>
                </div>
                <div class="form-group margin-bottom-none" ng-if="ls.obj.customer_id && ls.contact_id=='tmp'">
                  <div class="col-xs-12 accounts_body in">
                      <div ng-repeat="itemA in ls.obj.accountRelatedObj">
                        <div class="form-group">
                          <label for="" class="col-sm-4 control-label">{{itemA.label}}</label>
                          <!-- Normal Inputs with name -->
                          <div class="col-sm-8" ng-if="!itemA.is_dd && itemA.has_name && !itemA.is_checkbox">
                            <input type="text" class="form-control" name="itemA.model" placeholder="{{itemA.label}}" ng-model="itemA.model_value">
                          </div>

                          <!-- Normal Inputs without name -->
                          <div class="col-sm-8" ng-if="!itemA.is_dd && !itemA.has_name && !itemA.is_checkbox">
                            <input type="text" class="form-control" placeholder="{{itemA.label}}" ng-model="itemA.model_value">
                          </div>
                          <!-- Select without table for location -->
                          <div class="col-sm-8" ng-if="!itemA.has_table && itemA.is_dd && itemA.model == 'customer_address_id' ">
                            <selectize config="ls[itemA.selectize_config]" options="ls.tmp_customer_addresses" ng-model="itemA.model_value"></selectize>
                          </div>                                 
                          <!-- Select with table -->
                          <div class="col-sm-8" ng-if="itemA.has_table && itemA.is_dd && !itemA.is_checkbox">
                            <selectize config="ls[itemA.selectize_config]" options="ls[itemA.selectize_options]"
                            ng-model="itemA.model_value" table="{{itemA.table}}" model="itemA.model" ></selectize>
                          </div>
                          <!-- checkbox -->
                          <div ng-if="!itemA.is_dd && itemA.has_name && itemA.is_checkbox" class="col-sm-8 checkbox checkbox-primary" >
                                <input type="checkbox" id="checkbox_{{$parent.$index}}_{{$index}}" ng-model="itemA.model_value">
                                <label for="checkbox_{{$parent.$index}}_{{$index}}"></label>
                            </div>
                        </div>
                      </div>
                    </div>
                </div> 
            </div>
        </div>
      </div>
    </div><!-- /.row -->
  </form>
  <div class="row">
    <div class="col-sm-12 text-right">
      <button type="submit" class="btn btn-plain" ng-click="ls.cancels()">{l}Cancel{endl}</button>
      <button class="btn btn-default" type="button" ng-disabled="addCustomer.$invalid" ng-click="ls.ok(addCustomer)">{l}Save{endl}</button>
    </div>
  </div>
</div><!-- neede on all pages -->
