<div class="container">
    <div class="page-header">
        <div class="row">
            <div class="col-xs-8 col-sm-6">
                <h1>{l}Accounts & Contacts{endl}</h1>
            </div>
            <div class="col-xs-4 col-sm-6 text-right" ng-if="show_settings.is_admin_company">
                <div class="dropdown new-settings">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-ellipsis-v"></i></button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <li class="dropdown-item" ng-class="{ 'current':menu.submenu == 'import' }"><a class="dropdown-item" href="import_accounts/" go-to="" state="import_accounts">{l}Import{endl}</a></li>
                        <li class="dropdown-item" ng-class="{ 'current':menu.submenu == 'setting' }"><a class="dropdown-item" go-to="" href="customersSettings/" state="customersSettings"><span class="fas fa-cog text-primary"></span> {l}CRM Settings{endl}</a></li>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.page-header -->
    </div>
    <div class="tabs-navigation">
        <ul class="nav nav-tabs">
            <!-- <li>
                <a href="customers/" go-to="" state="customers">{l}Accounts{endl}</a>
                <button type="button" class="btn btn-primary btn-add" go-to="" state="customer" params='{"customer_id": "tmp"}' uib-tooltip="{l}Add{endl}" tooltip-placement="top"><span class="btn-add_icon"><span class="icon-bar"></span><span class="icon-bar-2"></span></span></button>
                <button type="button" class="btn btn-primary btn-add"  tooltip-placement="rtop" ng-click="vm.createCustomer()"><span class="btn-add_icon"><span class="icon-bar"></span><span class="icon-bar-2"></span></span></button>
            </li> -->
            <li class="active">
                <a href="contacts/" go-to="" state="contacts">{l}Contacts{endl}</a>
                <button type="button" class="btn btn-primary btn-add" ng-click="vm.createContact()" tooltip-placement="top"><span class="btn-add_icon"><span class="icon-bar"></span><span class="icon-bar-2"></span></span></button>
            </li>
            <li ng-if="show_settings.special_user && show_settings.adv_crm && show_settings.not_easyinv_subscription  && show_settings.not_easy_invoice_diy">
                <a href="smartListContact/" go-to="" state="smartListContact">{l}Smart Filters{endl}</a>
                <button class="btn btn-primary btn-add" ui-sref="smartListAdd({'list_for': '0'})"tooltip-placement="top"><span class="btn-add_icon"><span class="icon-bar"></span><span class="icon-bar-2"></span></span></button>
            </li>
            <!-- <li ng-if="show_settings.special_user && show_settings.adv_crm && show_settings.not_easyinv_subscription">
                <a href="smartList/" go-to="" state="smartList">{l}Smart Filters{endl}</a>
                <button type="button" class="btn btn-primary btn-add" ng-click="vm.openModal('SmartListAdd', '', 'md')"  tooltip-placement="top"><span class="btn-add_icon"><span class="icon-bar"></span><span class="icon-bar-2"></span></span></button>
            </li> -->
        </ul>
        <div class="tab-content">
            <div class="tab-pane active" id="contacts">
                <!-- <div uib-alert ng-repeat="alert in vm.alerts" type="{{alert.type}}" close="vm.alerts.splice($index, 1);" dismiss-on-timeout="5000" ng-class="['alert-' + (alert.type || 'warning'), 'alert-fixed' ]">{{alert.msg}}</div> -->
                <div class="row page-search page-search-options">
                    <form>
                        <div class="col-xs-12 col-sm-12 col-md-12 page-search-extd-btn">
                            <div class="so-field" ng-class="{ 'so-active':vm.search.search!='' }">
                                <span class="glyphicon glyphicon-search so-icon"></span>
                                <input id="no_css_search_field" type="text" class="form-control" search-it doit="vm.search" callbk="vm.renderList" ng-change="vm.checkSearch()" placeholder="{l}Search{endl}" ng-model="vm.search.search">
                                <span class="glyphicon glyphicon-remove so-icon so-remove" ng-click="vm.toggleSearchButtons('search','')"></span>
                            </div>
                            <!-- /.input-search -->
                        </div>
                        <div class="page-search-button t-0">
                            <div class="btn-group" uib-dropdown>
                                <button type="button" class="btn btn-tertiary btn-square dropdown-toggle" uib-dropdown-toggle>
            <span class="caret"></span>
            <span class="sr-only">Toggle Dropdown</span>
          </button>
                                <ul class="dropdown-menu dropdown-menu-right" uib-dropdown-menu>
                                    <!-- <li><a href="#" ng-click="vm.search.showAdvanced = !vm.search.showAdvanced"><span class="fa fa-search"></span> {l}Advanced search{endl}</a></li> -->
                                    <!-- <li ng-if="vm.view==0" ng-click="vm.saveView(1)"><a href="#"><span class="fa fa-list-ul" ></span> {l}List View{endl}</a></li> -->
                                    <li ng-if="vm.view==1" ng-click="vm.saveView(0)"><a href="#"><span class="fa fa-th-large"></span> {l}Card View{endl}</a></li>
                                    <li><a href="#" ng-if="!vm.search.archived" ng-click="vm.showArchivedList(1,0)"><span class="fas fa-archive new_archive" ></span> {l}Archived Contacts{endl}</a></li>
                                    <li><a href="#" ng-if="vm.search.archived" ng-click="vm.showArchivedList(0)"><span class="fa fa-list-ul"  ></span> {l}Active Contacts{endl}</a></li>
                                    <li ng-if="show_settings.is_admin_company"><a href="index.php?do=customers-export_contacts&amp;{{vm.export_args}}" target="_blank"><span class="fas fa-upload"></span> {l}Export Contacts{endl}</a></li>
                                    <li ng-if="vm.view==0"><a href="#" ng-click="vm.saveView(1)"><span class="fa fa-list-ul"  ></span> {l}List View{endl}</a></li>
                                    <li ng-if="vm.view==1"><a href="#" ng-click="vm.columnSettings()"><span class="fas fa-cog text-primary"></span> {l}Column settings{endl}</a></li>
                                </ul>
                            </div>
                        </div>
                    </form>
                </div>
                <!-- /.page-search -->
                <div class="row page-content">
                    <div class="col-sm-12 contacts-card contacts-card-view" ng-scrollbars ng-scrollbars-config="vm.scroll_config_vertical" ng-if="vm.view==0">
                        <div class="row card_list">
                            <div class="col-sm-3" ng-repeat="item in vm.list track by item.contact_id">
                                    <div class="card_list-item card_list-customers_item" ng-class="{ 'active':item.showMore }">
                                        <div class="card_list-item_header col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                            <strong class="text-ellipsis"><span ng-bind-html="item.con_lastname"></span> <span ng-bind-html="item.con_firstname"></span></strong>
                                            <small class="text-ellipsis"><a ui-sref="customerView({ 'customer_id':item.customer_id })">{{item.cus_name}}</a></small>
                                        </div>
                                        <small class="quick_edits contacts_cards col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                            <a href="#" go-to="" state="contactView" params='{"contact_id": {{::item.contact_id}}}' list='{ "type":"customers-contacts", "obj": { "search":{{vm.search}} } }' class="text-link text-muted">{l}View{endl}</a> <span class="text-link_space">•</span>
                                            <a href="#" go-to="" state="contact" params='{"contact_id": {{::item.contact_id}}}' list='{ "type":"customers-contacts", "obj": { "search":{{vm.search}} } }' class="text-link text-muted">{l}Edit{endl}</a> 
                                            <span ng-if="!vm.search.archived" class="text-link_space">•</span> 
                                            <a ng-if="!vm.search.archived" href="#" ng-click="vm.action(item,'archive_link')"
                                            confirm-title="{{vm.confirm}}" confirm-ok="{{vm.ok}}" confirm-cancel="{{vm.cancel}}" confirm="{l}Are you sure, you wanna archive this entry?{endl}" class="text-link text-muted">{l}Archive{endl}</a> 
                                            <span ng-if="vm.search.archived" class="text-link_space">•</span> 
                                            <a ng-if="vm.search.archived" href="#" ng-click="vm.action(item,'activate_link')" confirm-title="{{vm.confirm}}" confirm-ok="{{vm.ok}}" confirm-cancel="{{vm.cancel}}" confirm="{l}Are you sure, you wanna revert this entry?{endl}" class="text-link text-muted">{l}Revert{endl}</a> <!-- <span class="text-link_space">•</span> <a href="#" class="text-link text-muted">Timeline</a> -->
                                        </small>
                                        <div class="card_list-item_body align col-md-12">
                                            <p class="text-ellipsis">
                                                <i ng-if="!vm.allo_available" class="fa fa-phone card_list-icon text-muted" aria-hidden="true"></i> <span ng-if="!vm.allo_available">{{item.con_phone}}</span>
                                                <span ng-if="vm.allo_available" class="allo_call" uib-tooltip="{l}Allocloud call{endl}" tooltip-placement="right"></span> <a ng-if="vm.allo_available" ng-click="vm.alloCall(item.con_phone,item)"><span>{{item.con_phone}}</span></a>
                                            </p>
                                            <p class="text-ellipsis">
                                                <i ng-if="!vm.allo_available" class="fa fa-mobile card_list-icon text-muted" aria-hidden="true"></i> <span ng-if="!vm.allo_available">{{item.con_cell}}</span>
                                                <span ng-if="vm.allo_available" class="allo_call" uib-tooltip="{l}Allocloud call{endl}" tooltip-placement="right"></span> <a ng-if="vm.allo_available" ng-click="vm.alloCall(item.con_cell,item)"><span>{{item.con_cell}}</span></a>
                                            </p>
                                            <p class="text-ellipsis"><i class="fa fa-at card_list-icon text-muted" aria-hidden="true"></i> <a href="mailto:{{item.con_email}}" title="{l}Send mail{endl}'" ng-if="item.con_email">{{item.con_email}}</a> <span ng-if="!item.con_email">-</span></p>
                                            <p class="text-ellipsis"><small class="text-muted btn-block">{l}Fax{endl}</small> {{item.fax}}</p>
                                            <p class="text-ellipsis"><small class="text-muted btn-block">{l}Title{endl}</small> {{item.title}}</p>
                                            <p class="text-ellipsis"><small class="text-muted btn-block">{l}Extra Title{endl}</small> {{item.e_title}}</p>
                                            <p class="text-ellipsis"><small class="text-muted btn-block">{l}Allow on e-mailing lists{endl}</small>{{item.s_email}}</p>
                                        </div>
                                        <button class="btn btn-block btn-arrow no_css-company_info_btn2" ng-click="vm.showMore(item)">
                                             <span class="glyphicon" ng-class="{ 'glyphicon-chevron-down': !item.showMore, 'glyphicon-chevron-up' : item.showMore }" ></span>
                                        </button>
                                        <!-- <small class="quick_edits">
                                            <a href="#" go-to="" state="contactView" params='{"contact_id": {{::item.contact_id}}}' list='{ "type":"customers-contacts", "obj": { "search":{{vm.search}} } }' class="text-link text-muted">{l}View{endl}</a> <span class="text-link_space">•</span>
                                        </small>    -->                  
                                        <!-- <small class="quick_edits contacts_cards">
                                            <a href="#" go-to="" state="contactView" params='{"contact_id": {{::item.contact_id}}}' list='{ "type":"customers-contacts", "obj": { "search":{{vm.search}} } }' class="text-link text-muted">{l}View{endl}</a> <span class="text-link_space">•</span>
                                            <a href="#" go-to="" state="contact" params='{"contact_id": {{::item.contact_id}}}' list='{ "type":"customers-contacts", "obj": { "search":{{vm.search}} } }' class="text-link text-muted">{l}Edit{endl}</a> 
                                            <span ng-if="!vm.search.archived" class="text-link_space">•</span> 
                                            <a ng-if="!vm.search.archived" href="#" ng-click="vm.action(item,'archive_link')"
                                            confirm-title="{{vm.confirm}}" confirm-ok="{{vm.ok}}" confirm-cancel="{{vm.cancel}}" confirm="{l}Are you sure, you wanna archive this entry?{endl}" class="text-link text-muted">{l}Archive{endl}</a> 
                                            <span ng-if="vm.search.archived" class="text-link_space">•</span> 
                                            <a ng-if="vm.search.archived" href="#" ng-click="vm.action(item,'activate_link')" confirm-title="{{vm.confirm}}" confirm-ok="{{vm.ok}}" confirm-cancel="{{vm.cancel}}" confirm="{l}Are you sure, you wanna revert this entry?{endl}" class="text-link text-muted">{l}Revert{endl}</a> <!-- <span class="text-link_space">•</span> <a href="#" class="text-link text-muted">Timeline</a> -->
                                        <!-- </small> -->
                                    </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 contacts-list" ng-scrollbars ng-scrollbars-config="vm.scroll_config_vertical" ng-if="vm.view==1">
                        <table class="table active_rows orderTable" width="100%">
                            <thead>
                                <tr>
                                    <th ng-repeat="col in vm.columns" ng-class="{ 'sortable_row':col.order_by, 'sortable_row-up':(!vm.reverse && col.order_by && vm.ord==col.order_by), 'sortable_row-down':(vm.reverse && col.order_by && vm.ord==col.order_by) }" ng-click="(col.order_by ? vm.orderBY(col.order_by) : '')">
                                        <span ng-if="col.column_name!='type'" ng-bind-html="col.name"></span>
                                    </th>
                                    <!-- <th class="col-sm-3 sortable_row" ng-class="{ 'sortable_row-up':(!vm.reverse && vm.ord=='lastname'), 'sortable_row-down':(vm.reverse && vm.ord=='lastname') }" ng-click="vm.orderBY('lastname')">{l}Last Name{endl}</th>
            <th class="col-sm-2 sortable_row" ng-class="{ 'sortable_row-up':(!vm.reverse && vm.ord=='firstname'), 'sortable_row-down':(vm.reverse && vm.ord=='firstname') }" ng-click="vm.orderBY('firstname')">{l}First Name{endl}</th>
            <th class="col-sm-2 sortable_row" ng-class="{ 'sortable_row-up':(!vm.reverse && vm.ord=='cus_name'), 'sortable_row-down':(vm.reverse && vm.ord=='cus_name') }" ng-click="vm.orderBY('cus_name')">{l}Account Name{endl}</th>
            <th class="col-sm-2 sortable_row" ng-class="{ 'sortable_row-up':(!vm.reverse && vm.ord=='function'), 'sortable_row-down':(vm.reverse && vm.ord=='function') }" ng-click="vm.orderBY('function')">{l}Function{endl}</th>
            <th class="col-sm-2">{l}Info{endl}</th> -->
                                    <th class="col-sm-1 table_actions"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="item in vm.list track by item.contact_id">
                                    <td ng-repeat="col in vm.columns" go-to="" state="contactView" params='{"contact_id": {{::item.contact_id}}}' list='{ "type":"customers-contacts", "obj": { "search":{{vm.search}}, "cindex":{{$parent.$index}}, "total_items":{{vm.max_rows}} } }' ng-class="{ 'text-muted':col.column_name=='info' }">
                                        <!-- <i ng-if="col.column_name=='info' && !vm.allo_available" class="fa fa-phone" aria-hidden="true"></i> <span ng-if="col.column_name=='info' && !vm.allo_available">{{item.con_phone}}</span>
              <span ng-if="col.column_name=='info' && vm.allo_available" class="allo_call" uib-tooltip="{l}Allocloud call{endl}" tooltip-placement="right"></span> <a ng-if="col.column_name=='info' && vm.allo_available" class="allo_call_text" ng-click="vm.alloCall(item.con_phone,item)"><span>{{item.con_phone}}</span></a> -->
                                        <i ng-if="col.column_name=='info'" class="fa fa-phone" aria-hidden="true"></i> <span ng-if="col.column_name=='info'"><a href="tel:{{item.con_phone}}" class="text-link">{{item.con_phone}}</a></span>
                                        <!-- <i ng-if="col.column_name=='info' && !vm.allo_available" class="fa fa-mobile" aria-hidden="true"></i> <span ng-if="col.column_name=='info' && !vm.allo_available">{{item.con_cell}}</span>
              <span ng-if="col.column_name=='info' && vm.allo_available" class="allo_call" uib-tooltip="{l}Allocloud call{endl}" tooltip-placement="right"></span> <a ng-if="col.column_name=='info' && vm.allo_available" class="allo_call_text" ng-click="vm.alloCall(item.con_cell,item)"><span>{{item.con_cell}}</span></a> -->
                                        <i ng-if="col.column_name=='info'" class="fa fa-mobile" aria-hidden="true"></i> <span ng-if="col.column_name=='info'"><a href="tel:{{item.con_cell}}" class="text-link">{{item.con_cell}}</a></span>
                                        <i ng-if="col.column_name=='info'" class="fa fa-at" aria-hidden="true"></i> <a href="mailto:{{item.con_email}}" title="{l}Send mail{endl}'" class="text-link" ng-if="col.column_name=='info' && item.con_email">{{item.con_email}}</a>                                        <span ng-if="col.column_name=='info'&& !item.con_email">-</span>
                                        <a ng-if="col.column_name!='info'" href="contactView/{{item.contact_id}}" class="color-dark"><span ng-bind-html="item[col.column_name]"></span></a>
                                    </td>
                                    <!-- <td go-to="" state="contactView" params='{"contact_id": {{::item.contact_id}}}' list='{ "type":"customers-contacts", "obj": { "search":{{vm.search}}, "cindex":{{$index}}, "total_items":{{vm.max_rows}} } }'>
                <a href="contactView/{{item.contact_id}}" class="color-dark"><span ng-bind-html="item.con_lastname"></span></a>
            </td>
            <td go-to="" state="contactView" params='{"contact_id": {{::item.contact_id}}}' list='{ "type":"customers-contacts", "obj": { "search":{{vm.search}}, "cindex":{{$index}}, "total_items":{{vm.max_rows}} } }'>
                <a href="contactView/{{item.contact_id}}" class="color-dark"><span ng-bind-html="item.con_firstname"></span></a>
            </td>
            <td go-to="" state="contactView" params='{"contact_id": {{::item.contact_id}}}' list='{ "type":"customers-contacts", "obj": { "search":{{vm.search}}, "cindex":{{$index}}, "total_items":{{vm.max_rows}} } }'>
                <a href="contactView/{{item.contact_id}}" class="color-dark"><span ng-bind-html="item.cus_name"></span></a>
            </td>
            <td go-to="" state="contactView" params='{"contact_id": {{::item.contact_id}}}' list='{ "type":"customers-contacts", "obj": { "search":{{vm.search}}, "cindex":{{$index}}, "total_items":{{vm.max_rows}} } }'>
                <a href="contactView/{{item.contact_id}}" class="color-dark"><span ng-bind-html="item.function"></span></a>
            </td>
            <td class="text-muted">
              <i ng-if="!vm.allo_available" class="fa fa-phone" aria-hidden="true"></i> <span ng-if="!vm.allo_available">{{item.con_phone}}</span>
              <span ng-if="vm.allo_available" class="allo_call" uib-tooltip="{l}Allocloud call{endl}" tooltip-placement="right"></span> <a ng-if="vm.allo_available" class="allo_call_text" ng-click="vm.alloCall(item.con_phone,item)"><span>{{item.con_phone}}</span></a>
              <i ng-if="!vm.allo_available" class="fa fa-mobile" aria-hidden="true"></i> <span ng-if="!vm.allo_available">{{item.con_cell}}</span>
              <span ng-if="vm.allo_available" class="allo_call" uib-tooltip="{l}Allocloud call{endl}" tooltip-placement="right"></span> <a ng-if="vm.allo_available" class="allo_call_text" ng-click="vm.alloCall(item.con_cell,item)"><span>{{item.con_cell}}</span></a>
              <i class="fa fa-at" aria-hidden="true"></i> <a href="mailto:{{item.con_email}}" title="{l}Send mail{endl}'" class="text-link" ng-if="item.con_email">{{item.con_email}}</a> <span ng-if="!item.con_email">-</span></td> -->
                                    <td class="table_actions">
                                        <div class="btn-group" uib-dropdown>
                                            <button type="button" class="btn btn-plain dropdown-toggle" uib-dropdown-toggle ng-click="vm.scrollUp($event, $index)">
                    <span class="caret"></span>
                  </button>
                                            <ul class="dropdown-menu dropdown-menu-right" uib-dropdown-menu>
                                                <li class="dropdown-header">{l}Action{endl}</li>
                                                <li>
                                                    <a href="#" go-to="" state="contact" params='{"contact_id": {{::item.contact_id}}}' list='{ "type":"customers-contacts", "obj": { "search":{{vm.search}}, "cindex":{{$index}}, "total_items":{{vm.max_rows}} } }'><span class="fas fa-pen text-primary"></span> {l}Edit{endl}</a>
                                                </li>
                                                <li ng-if="!vm.search.archived">
                                                    <a href="#" ng-click="vm.action(item,'archive_link')" confirm-title="{{item.confirm}}" confirm-ok="{{item.ok}}" confirm-cancel="{{item.cancel}}" confirm="{l}Are you sure, you wanna archive this entry?{endl}"><span class="fas fa-archive text-primary"></span> {l}Archive{endl}</a>
                                                </li>
                                                <li ng-if="vm.search.archived">
                                                    <a href="#" ng-click="vm.action(item,'activate_link')" confirm-title="{{item.confirm}}" confirm-ok="{{item.ok}}" confirm-cancel="{{item.cancel}}" confirm="{l}Are you sure, you wanna revert this entry?{endl}"><span class="glyphicon glyphicon-repeat text-primary"></span> {l}Revert{endl}</a>
                                                </li>
                                                <li ng-if="item.indiv_created==true"><a href="#" go-to="" state="customer" params='{"customer_id": "tmp","types": 1 ,"contact_id": {{::item.contact_id}}}'><span class="glyphicon glyphicon-user text-primary"></span> {l}Create Individual{endl}</a></li>
                                                <!-- <li><a href="#"><span class="fa fa-bars text-primary"></span> Timeline</a></li> -->
                                            </ul>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-sm-12">
                        <div class="col-sm-8">
                            <ul ng-if="vm.max_rows && vm.max_rows > 30" uib-pagination total-items="vm.max_rows" ng-model="vm.search.offset" ng-change="vm.searchThing()" max-size="5" class="pager" boundary-links="true" items-per-page="vm.lr"></ul>
                        </div>
                        <div class="col-sm-4 text-right">
                            <label ng-if="vm.max_rows">{l}Number of contacts{endl}: <strong>{{vm.max_rows}}</strong></label>
                        </div>
                    </div>
<!--                    <div class="col-sm-12">-->
<!--                        <ul ng-if="vm.max_rows > 30" uib-pagination total-items="vm.max_rows" ng-model="vm.search.offset" ng-change="vm.searchThing()" max-size="5" class="pager" boundary-links="true" items-per-page="vm.lr"></ul>-->
<!--                    </div>-->
                </div>
            </div>
        </div>
    </div>
    <!-- /.page-content -->

</div>
<!-- neede on all pages -->

