<div class="modal-header">
    <h3 class="modal-title">{l}Contact{endl} {{ls.obj.firstname}} {{ls.obj.lastname}}</h3>
</div>
<div class="modal-body">
    <!-- <div uib-alert ng-repeat="alert in ls.alerts" type="{{alert.type}}" close="ls.alerts.splice($index, 1);" dismiss-on-timeout="5000" ng-class="['alert-' + (alert.type || 'warning') ]">{{alert.msg}}</div> -->
    <form class="form-horizontal text-left" name="addCustomer" novalidate>
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group" ng-class="{ 'form-group_alert' : addCustomer.firstname.$invalid && !addCustomer.firstname.$pristine }">
                    <label for="inputName" class="col-sm-4 control-label">{l}First Name{endl} <span class="mandatory-label">*</span></label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" name="firstname" placeholder="{l}First Name{endl}" ng-model="ls.obj.firstname" id="inputName" required>
                        <div class="alert alert-sm alert-danger" ng-if="addCustomer.firstname.$invalid && ls.alertsField.firstname">{{ls.alertsField.firstname}}</div>
                    </div>
                </div>
                <div class="form-group" ng-class="{ 'form-group_alert' : addCustomer.lastname.$invalid && !addCustomer.lastname.$pristine }">
                    <label for="inputName" class="col-sm-4 control-label">{l}Last Name{endl} <span class="mandatory-label">*</span></label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" name="lastname" placeholder="{l}Last Name{endl}" ng-model="ls.obj.lastname" id="inputName" required>
                        <div class="alert alert-sm alert-danger" ng-if="addCustomer.lastname.$invalid && ls.alertsField.lastname">{{ls.alertsField.lastname}}</div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="" class="col-sm-4 control-label">{l}Cell{endl}</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" ng-model="ls.obj.cell">
                    </div>
                </div>
                <div class="form-group">
                    <label for="" class="col-sm-4 control-label">{l}Gender{endl}</label>
                    <div class="col-sm-8">
                        <select name="sex" ng-model="ls.obj.sex" class="form-control">
              <option value="1">{l}Male{endl}</option>
              <option value="2">{l}Female{endl}</option>
            </select>
                    </div>
                </div>
                <div class="form-group">
                    <label for="" class="col-sm-4 control-label">{l}Language{endl}</label>
                    <div class="col-sm-8">
                        <selectize config="ls.salesCfg" options="ls.language" ng-model="ls.obj.language" table="customer_contact_language" model="language"></selectize>
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputName" class="col-sm-4 control-label">{l}Email{endl}</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" name="email" placeholder="{l}Email{endl}" ng-model="ls.obj.email" id="inputName">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputName" class="col-sm-4 control-label">{l}Exact Title{endl}</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" name="e_title" placeholder="{l}Exact Title{endl}" ng-model="ls.obj.e_title" id="inputName">
                    </div>
                </div>
                <div class="form-group">
                    <label for="" class="col-sm-4 control-label">{l}Function{endl}</label>
                    <div class="col-sm-8">
                        <selectize config="ls.salesCfg" options="ls.position" ng-model="ls.obj.position" table="customer_contact_job_title" model="position"></selectize>
                    </div>
                </div>

                {loop:extra_field}
                <div class="form-group">
                    <label for="" class="col-sm-4 control-label">{label}</label> {if:normal_input}
                    <div class="col-sm-8">
                        <input type="text" name="extra[{field_id}]" value="{value}" ng-model="ls.obj.extra[{field_id}]" class="form-control" maxlength="30" /> {else}
                        <div class="col-sm-8">
                            <selectize config="ls.extraCfg" options="ls.extra[{field_id}]" id="extra_{field_id}" ng-model="ls.obj.extra[{field_id}]" table="contact_extrafield_dd" model="extra" extra="{field_id}"></selectize>
                            {end}
                        </div>
                    </div>
                    {endloop}

                </div>
                <div class="col-sm-6">
                    <!--<div class="panel panel-primary">
          <div class="panel-body">
              <div class="form-group">
                <label for="" class="col-sm-4 control-label text-right">{l}Street{endl}</label>
                <div class="col-sm-8">
                  <textarea class="form-control" rows="2" ng-model="ls.obj.address"></textarea>
                </div>
              </div>
              <div class="form-group">
                <label for="" class="col-sm-4 control-label">{l}Zip{endl}</label>
                <div class="col-sm-4">
                  <input type="text" class="form-control" name="website" ng-model="ls.obj.zip">
                </div>
              </div>
              <div class="form-group">
                <label for="" class="col-sm-4 control-label">{l}City{endl}</label>
                <div class="col-sm-8">
                  <input type="text" class="form-control" name="website" ng-model="ls.obj.city">
                </div>
              </div>
              <div class="form-group form-group-end">
                <label for="" class="col-sm-4 control-label">{l}Country{endl}</label>
                <div class="col-sm-8">
                  <select class="form-control" ng-model="ls.obj.country_id">
                    <option ng-repeat="option in ls.country_dd track by option.id" value="{{option.id}}">{{option.name}}</option>
                  </select>
                </div>
              </div>
          </div>
        </div>-->
                    <div class="panel panel-primary">
                        <div class="panel-body">
                            <div class="form-group" ng-class="{ 'form-group_alert' : addCustomer.customer_id.$invalid && !addCustomer.customer_id.$pristine }">
                                <label for="" class="col-sm-4 control-label text-right">{l}Account{endl}</label>
                                <div class="col-sm-6">
                                    <input type="hidden" name="customer_id" ng-model="ls.obj.customer_id" />
                                    <selectize config="ls.compCfg" options="ls.customer_dd" ng-model="ls.obj.customer_id" id="custandcont"></selectize>
                                    <div class="alert alert-sm alert-danger" ng-if="addCustomer.customer_id.$invalid && ls.alertsField.customer_id">{{ls.alertsField.customer_id}}</div>
                                </div>
                                <div class="col-sm-2" ng-if="ls.contact_id!='tmp'">
                                    <button class="btn btn-default" type="button" ng-click="ls.action(ls.obj.customer_id,'addContactToCustomer')"><i class="fa fa-plus" aria-hidden="true"></i></button>
                                </div>
                            </div>
                            <table class="table" width="100%" ng-if="ls.contact_id!='tmp'">
                                <thead>
                                    <tr>
                                        <th class="col-sm-10">{l}Name{endl}</th>
                                        <th class="col-sm-2 table_actions"> </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="item in ls.accounts track by item.customer_id">
                                        <td go-to="" state="customer" params='{"customer_id": {{::item.customer_id}}}'><span ng-bind-html="item.name"></span></td>
                                        <td class="table_actions">
                                            <div class="btn-group" uib-dropdown>
                                                <button type="button" class="btn btn-plain dropdown-toggle" uib-dropdown-toggle>
                            <span class="caret"></span>
                          </button>
                                                <ul class="dropdown-menu dropdown-menu-right" uib-dropdown-menu>
                                                    <li class="dropdown-header">{l}Action{endl}</li>
                                                    <li><a href="#" ng-click="ls.action(item.customer_id,'removeContactFromCustomer')" confirm="{l}Are you sure, you wanna remove this entry?{endl}"><span class="fa fa-trash"></span> {l}Remove{endl}</a></li>
                                                </ul>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <!-- <div class="row" ng-if="!ls.obj.attachlocation">
                <div class="col-sm-12 text-right">
                  <button class="btn btn-default" type="button" ng-click="ls.openModal('attachToLocation',ls.obj.customer_id,'md')" >{l}Attach to company location{endl}</button>
                </div>
              </div>
              <div class="form-group" ng-if="ls.obj.attachlocation">
                <label for="" class="col-sm-4 control-label text-right">{l}Location{endl}:</label>
                <div class="col-sm-8">
                  <pre>{{ls.obj.attachlocation.caddress}}<br />{{ls.obj.attachlocation.czip}} {{ls.obj.attachlocation.ccity}}<br />{{ls.obj.attachlocation.ccountry}}</pre>
                  <small class="quick_edits"><a href="#" ng-click="ls.openModal('attachToLocation',ls.obj.customer_id,'md')" class="text-link text-muted">{l}Edit{endl}</a> <span class="text-link_space">•</span> <a href="#" ng-click="ls.deleteAttachedLocation()" class="text-link text-muted">{l}Delete{endl}</a> </small>  
                </div>
              </div> -->
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="" class="col-sm-4 control-label">{l}Salutation{endl}</label>
                        <div class="col-sm-8">
                            <selectize config="ls.salesCfg" options="ls.title" ng-model="ls.obj.title" table="customer_contact_title" model="title"></selectize>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="" class="col-sm-4 control-label">{l}Department{endl}</label>
                        <div class="col-sm-8">
                            <selectize config="ls.salesCfg" options="ls.department" ng-model="ls.obj.department" table="customer_contact_dep" model="department"></selectize>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="" class="col-sm-4 control-label">{l}Phone{endl}</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" ng-model="ls.obj.phone">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="" class="col-sm-4 control-label">{l}Fax{endl}</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" ng-model="ls.obj.fax">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="" class="col-sm-4 control-label">{l}Birthdate{endl}</label>
                        <div class="col-sm-8">
                            <!-- <input type="text" class="form-control" ng-model="ls.obj.bday"> -->
                            <input type="text" class="form-control" ng-model="ls.obj.birthdate" uib-datepicker-popup="{{ls.format}}" is-open="ls.bday" datepicker-options="dateOptions" close-text="Close" placeholder="{l}Birthdate{endl}" show-button-bar="false" ng-click="ls.bday=true">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="" class="col-sm-4 control-label">{l}Allow on e-mailing lists{endl}</label>
                        <div class="col-sm-8 checkbox">
                            <label><input type="checkbox" ng-model="ls.obj.s_email"></label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="" class="col-sm-4 control-label">{l}Creation Date{endl}</label>
                        <label for="" class="col-sm-8 control-label">{{ls.obj.create}}</label>
                    </div>
                </div>
            </div>
            <!-- /.row -->
    </form>
    </div>
    <div class="modal-footer">
        <button class="btn btn-plain" type="button" ng-click="ls.cancel()">{l}Close{endl}</button>
        <button class="btn btn-default" type="button" ng-disabled="addCustomer.$invalid" ng-click="ls.ok(addCustomer)">{l}Save{endl}</button>
    </div>