<div class="modal-header">
  	<button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="vm.cancel()"><span aria-hidden="true">&times;</span></button>
  	<h4 class="modal-title">{{vm.obj.title}}</h4>
</div>
<div class="modal-body modal-body_alt">
	<div class="loading_wrap loading_alt hidden">
      	<div class="loading"></div>
        <div class="spinner"></div>
    </div>
    <div uib-alert ng-repeat="alert in vm.alerts" type="{{alert.type}}" close="vm.alerts.splice($index, 1);" ng-class="['alert-' + (alert.type || 'warning') ]" dismiss-on-timeout='3500'>{{alert.msg}}</div>
    <form class="form-horizontal" name="board_form" novalidate>
	    <div class="col-sm-12 col-bottom col-top">
	    	<div class="form-group" ng-class="{ 'form-group_alert' : board_form.name.$invalid && !board_form.name.$pristine }">
	    		<label class="control-label text-left col-xs-4">{l}Name{endl}</label>
	    		<div class="col-xs-6">
	    			<input type="text" class="form-control" name="name" ng-model="vm.obj.name" placeholder="{l}Name{endl}" required>
	    			<div class="alert alert-sm alert-danger" ng-if="board_form.name.$invalid && vm.alertsField.name">{{vm.alertsField.name}}</div>
	    		</div>
	    	</div>
	    	<ul class="table table_orders" id="board" data-as-sortable="dragControlListeners" data-ng-model="vm.obj.stages" ng-if="vm.obj.stages.length">
	    		<li ng-repeat="item in vm.obj.stages" data-as-sortable-item>
	    			<div class="row">
	    				<div class="row_handler" >
				            <span class="btn-drag" data-as-sortable-item-handle>&nbsp;</span>
				            <span class="btn-remove"><span class="fa fa-trash" ng-click="vm.removeLine($index)"></span></span>          
				        </div>
				        <div class="col-sm-12">
				        	<div class="col-sm-6">
				        		<div class="form-group margin-bottom-none" ng-class="{ 'form-group_alert' : board_form.name_{{$index}}.$invalid && !board_form.name_{{$index}}.$pristine }">
					        		<input type="text" class="form-control" name="name_{{$index}}" ng-model="item.name" placeholder="{l}Stage Name{endl}">
					        		<div class="alert alert-sm alert-danger" ng-if="board_form['name_'+$index].$invalid && vm.alertsField['name_'+$index]">{{vm.alertsField['name_'+$index]}}</div>
					        	</div>	
				        	</div>
				        	<div class="col-sm-6">
				        		<selectize config="vm.dealTypeCfg" options="vm.obj.deals_dd" ng-model="item.rate"></selectize>
				        	</div>        			        	
				        </div>
	    			</div>
	    		</li>
	    	</ul>
	    </div>
    </form>
</div>
<div class="modal-footer">
	   <button class="btn btn-primary" ng-click="vm.addStage()">{l}Add Stage{endl}</button>
      <button class="btn btn-plain" type="button" ng-click="vm.cancel()">{l}Cancel{endl}</button>
      <button class="btn btn-default" type="button" ng-click="vm.ok(board_form)">{l}Save{endl}</button>
</div>