<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="show.cancel()"><span aria-hidden="true">&times;</span></button>
  <h4 class="modal-title">{l}Deals{endl}</h4>
</div>
<div uib-alert ng-repeat="alert in show.alerts" type="{{alert.type}}" close="show.alerts.splice($index, 1);" dismiss-on-timeout="3500" ng-class="['alert-' + (alert.type || 'warning') ]">{{alert.msg}}</div>
<div class="modal-body modal-body_alt">
	<div class="loading_wrap loading_alt hidden">
      	<div class="loading"></div>
        <div class="spinner"></div>
    </div>
    <div class="row setup_timeline" ng-if="show.item.opportunity_id=='tmp' ">
		<div class="setup_step col-xs-6" ng-class="{'active':show.step==1 }">
			<div class="setup_card">1</div>
		</div>
		<div class="setup_step col-xs-6" ng-class="{'active':show.step==2 }">
			<div class="setup_card">2</div>
		</div>
	</div>
	<div class="row form-horizontal" ng-show="show.step==1">
		<div class="col-xs-6 col-xs-offset-3">
			<div class="form-group">
				<label class="control-label col-sm-3 col-lg-3 text-left">{l}Board{endl}</label>
				<div class="col-sm-9 col-lg-9">
					<selectize config="show.boardCfg" options="show.item.board_list" ng-model="show.item.board_id"></selectize>
				</div>			
			</div>
		</div>
		<div class="col-xs-6 col-xs-offset-3" ng-show="show.item.board_id">
			<div class="form-group">
				<label class="control-label col-sm-3 col-lg-3 text-left">{l}Stage{endl} <span class="mandatory-label">*</span></label>
				<div class="col-sm-9 col-lg-9">
					<selectize config="show.selectCfg" options="show.item.stages_list" ng-model="show.item.stage_id"></selectize>
				</div>			
			</div>
		</div>
	</div>
    <div class="col-sm-12" ng-show="show.step==2">
      	<!-- <div class="user_summary" ng-class="{'is-open': show.showTxt.sevice_settings, '': !show.showTxt.sevice_settings}">
      		<button class="btn-summary text-link" ng-click="show.showTxt.sevice_settings=!show.showTxt.sevice_settings"><span class="glyphicon glyphicon-chevron-down pull-right"></span> {l}Deal Settings{endl}</button>
      		<div class="row col-top col-bottom">
      			<div class="col-sm-4 col-md-6">
		            <div class="row">
		                  <div class="col-sm-8">
		                     <img class="img-responsive" ng-src="{{show.item.main_comp_info.logo}}" alt="">
		                  </div>
		              </div>
		            <div class="row">
		                  <div class="col-sm-12">
		                      <h4>{{show.item.main_comp_info.name}}</h4>
		                      <p> <span ng-bind-html="show.item.main_comp_info.address"></span><br>{{show.item.main_comp_info.zip}} {{show.item.main_comp_info.city}}<br>
		                        {{show.item.main_comp_info.country}}<br>
		                        {{show.item.main_comp_info.phone}}</p>
		                        <p><a href="#" class="text-link" ng-click="show.openModal(show,'ChangeIdentity')">{l}Change Identity{endl}</a> <span class="text-link_space">•</span></p>
		                    </div>
		              </div>                        
		          </div>
      		</div>
      	</div> -->
      	<div class="row">
      		<div class="col-sm-6">
			    	<div class="panel panel-default panel-customer_details">
			        <div class="panel-body panel-current_customer" ng-class="{ 'panel-add_customer': show.item.add_customer && show.showTxt.addBtn }">
			            <div ng-if="show.showTxt.address && !show.item.add_customer">
			              <a class="panel-edit text-link" href="#" ng-click="show.showEditFnc(show)" >{l}Edit{endl}</a>
			              <h2>{{show.item.buyer_name}}<!--  <small class="quick_edits"><span class="text-link_space">•</span> <a href="#" class="text-link text-muted edit-customer" ng-click="show.openModal(show,'EditContact');" ng-if="show.item.field=='contact_id'" >{l}Edit Customer{endl}</a><a href="#" class="text-link text-muted edit-customer" ng-click="show.openModal(show,'EditCustomer');" ng-if="show.item.field=='customer_id'" >{l}Edit Customer{endl}</a> <span class="text-link_space" >•</span> <a href="#" class="text-link text-muted delete-customer" ng-click="show.removeCust(show)" >{l}Remove{endl}</a></small> --></h2>
			              <p ng-if="show.item.contact_name && show.item.field=='customer_id'" class=""><span ng-bind-html="show.item.contact_name"></span> <!-- <small class="quick_edits"><span class="text-link_space">•</span> <a href="#" class="text-link text-muted edit-contact" ng-click="show.openModal(show,'EditContact');" >{l}Edit Contact{endl}</a> <span class="text-link_space">•</span> <a href="#" class="text-link text-muted" ng-click="show.removeContact(show)">{l}Remove{endl}</a></small> --></p>
			              <p><a href="#" class="text-link edit-customer" ng-click="show.showEditFnc(show)" ng-if="!show.item.contact_name">{l}Add a Contact{endl}</a></p>
			              <div class="delivery-address" ng-if="!show.item.view_delivery">
			                <span ng-bind-html="show.item.free_field_txt"></span>			
			               </div>
			            </div><!-- /showTxt.address -->
			            <div ng-if="show.item.add_customer">
			              <button class="btn btn-block btn-lg btn-blank" ng-if="show.showTxt.addBtn" ng-click="show.showCCSelectize(show)"><span class="fa fa-user-plus icon-holder"></span> {l}Add Customer{endl}</button>
			              <selectize config='show.ccAutoCfg' options='show.auto.options.cc' ng-model="show.item.cc_id" id="custandcont" ng-if="!show.showTxt.addBtn"></selectize>
			            </div>
			            <div class="form-horizontal text-left " ng-if="!show.showTxt.address">
			              <div class="form-group">
			                <label class="col-sm-3 control-label">{l}Account{endl} <span class="mandatory-label">*</span></label>
			                <div class="col-sm-9">
								<div class="so-dropdown" ng-class="{ 'so-active':show.item.buyer_id!='' && show.item.buyer_id!=undefined}">
			                 		<!--  <input type="text" class="form-control" ng-model="show.item.buyer_name" ng-disabled="true" > -->
			                 		<selectize config='show.ccAutoCfg' options='show.auto.options.cc' ng-model="show.item.buyer_id" id="custandcont"></selectize>
									 <span class="glyphicon glyphicon-remove so-icon so-remove"  ng-click="show.removeAccount(show)"></span>
								</div>
			                </div>
			              </div>
			              <div class="form-group">
			                <label class="col-sm-3 control-label">{l}Contact{endl}</label>
			                <div class="col-sm-9">
								<div class="so-dropdown" ng-class="{ 'so-active':show.item.contact_id && show.item.contact_id !=0}">
			                  		<selectize config='show.contactAutoCfg' options='show.auto.options.contacts' ng-model="show.item.contact_id" id="contact_id" ng-disabled="!show.item.buyer_id"></selectize>
									  <span class="glyphicon glyphicon-remove so-icon so-remove"  ng-click="show.removeContact(show)"></span>
								</div>
							</div>
			              </div>
			              <div class="form-group extra_address" >
			                <label class="col-sm-3 control-label">{l}Delivery address{endl}</label>
			                <div class="col-sm-9 ">
								<div class="so-dropdown" ng-class="{ 'so-active':show.item.delivery_address_id}">
			                  		<selectize config='show.addressAutoCfg' options='show.auto.options.addresses' ng-model="show.item.delivery_address_id" id="delivery_address" ng-disabled="!show.item.buyer_id"></selectize>
									<span class="glyphicon glyphicon-remove so-icon so-remove"  ng-click="show.removeDeliveryAddr(show)"></span>
								</div>
							</div>
			              </div>
			              <!-- <div class="form-group">
			                <label class="col-sm-3 control-label"></label>
			                <div class="col-sm-9">
			                  <div class="checkbox checkbox-primary">                    
			                      <input type="checkbox" id="checkbox1" ng-model="show.item.sameAddress" ng-click="show.removeDeliveryAddr()">
			                    <label for="checkbox1"></label>
			                    <span class="text-muted">{l}Delivery address same as main address{endl}</span>
			                  </div>
			                </div>
			              </div>
			              <div class="form-group extra_address" ng-if="!show.item.sameAddress">
			                <div class="col-sm-9 col-sm-offset-3">
			                  <selectize config='show.addressAutoCfg' options='show.auto.options.addresses' ng-model="show.item.delivery_address_id" id="delivery_address" ></selectize>
			                </div>
			              </div>
			              <div class="text-right">
			                <a href="#" class="text-muted" ng-click="show.cancelEdit(show)">{l}Cancel{endl}</a> <span class="text-link_space"> </span> <a href="#" class="text-link btn btn-default" ng-click="show.saveClientData(show,show.item.field)">{l}Save{endl}</a>
			              </div> -->
			            </div>
			          </div>
			      </div><!-- /.panel -->
			</div>
			<div class="col-sm-6 col-lg-6">
			      <form class="form-horizontal form-squeeze" name="deal_form" novalidate>
			      	<div class="form-group" ng-class="{ 'form-group_alert' : deal_form.serial_number.$invalid && !deal_form.serial_number.$pristine }">
		  				<label class="control-label text-left col-sm-5">{l}Deal Number{endl}</label>
		  				<div class="col-sm-7">
		  					<input type="text" name="serial_number" class="form-control" ng-model="show.item.serial_number" placeholder="{l}Deal Number{endl}">
		  					<div class="alert alert-sm alert-danger" ng-if="deal_form.serial_number.$invalid && show.alertsField.serial_number">{{show.alertsField.serial_number}}</div>
		  				</div>
		  			</div>
		  			<div class="form-group" ng-class="{ 'form-group_alert' : deal_form.subject.$invalid && !deal_form.subject.$pristine }">
		  				<label class="control-label text-left col-sm-5">{l}Subject{endl} <span class="mandatory-label">*</span></label>
		  				<div class="col-sm-7">
		  					<input type="text" name="subject" class="form-control" ng-model="show.item.subject" placeholder="{l}Subject{endl}">
		  					<div class="alert alert-sm alert-danger" ng-if="deal_form.subject.$invalid && show.alertsField.subject">{{show.alertsField.subject}}</div>
		  				</div>
		  			</div>
		  			<div class="form-group" ng-class="{ 'form-group_alert' : deal_form.amount.$invalid && !deal_form.amount.$pristine }">
		  				<label class="control-label text-left col-sm-5">{l}Amount{endl}</label>
		  				<div class="col-sm-7">
		  					<input type="text" name="amount" class="form-control" display-nr="" ng-model="show.item.amount" placeholder="{l}Amount{endl}">
		  					<div class="alert alert-sm alert-danger" ng-if="deal_form.amount.$invalid && show.alertsField.amount">{{show.alertsField.amount}}</div>
		  				</div>
		  			</div>
		  			<!-- <div class="form-group" ng-class="{ 'form-group_alert' : deal_form.success_rate.$invalid && !deal_form.success_rate.$pristine }">
		  				<label class="control-label text-left col-sm-5">{l}Success Rate{endl}(%)</label>
		  				<div class="col-sm-7">
		  					<input type="text" name="success_rate" class="form-control" display-nr="" ng-model="show.item.success_rate" placeholder="{l}Success Rate{endl}">
		  					<div class="alert alert-sm alert-danger" ng-if="deal_form.success_rate.$invalid && show.alertsField.success_rate">{{show.alertsField.success_rate}}</div>
		  				</div>
		  			</div> -->
		  			<div class="form-group" ng-class="{ 'form-group_alert' : deal_form.close_date.$invalid && !deal_form.close_date.$pristine }">
		  				<label class="control-label text-left col-sm-5">{l}Closing Date{endl} <span class="mandatory-label">*</span></label>
		  				<div class="col-sm-7">
		  					<div class="so-field input-date">
		                    	<span class="glyphicon glyphicon-calendar so-icon" ng-click="show.datePickOpen.close_date=true"></span>
		                    	<input type="text" class="form-control" name="close_date" ng-model="show.item.close_date" uib-datepicker-popup="{{show.format}}" is-open="show.datePickOpen.close_date" datepicker-options="show.dateOptions"  ng-required="true" close-text="Close" placeholder="{l}Closing Date{endl}" show-button-bar="false" ng-click="show.datePickOpen.close_date=true"/>
		                    </div>
		  					<div class="alert alert-sm alert-danger" ng-if="deal_form.close_date.$invalid && show.alertsField.close_date">{{show.alertsField.close_date}}</div>
		  				</div>
		  			</div>
		  			<!-- <div class="form-group" ng-if="show.item.segment_dd.length">
		  				<label class="control-label text-left col-sm-5">{l}Segment{endl}</label>
		  				<div class="col-sm-7">
		  					<selectize config='show.selectCfg' options='show.item.segment_dd' ng-model="show.item.segment_id"></selectize>
		  				</div>
		  			</div> -->
		  			<!-- <div class="form-group" ng-if="show.item.source_dd.length">
		  				<label class="control-label text-left col-sm-5">{l}Source{endl}</label>
		  				<div class="col-sm-7">
		  					<selectize config='show.selectCfg' options='show.item.source_dd' ng-model="show.item.source_id"></selectize>
		  				</div>
		  			</div>  -->
		  			<div class="form-group" ng-if="show.item.type_dd.length">
		  				<label class="control-label text-left col-sm-5">{l}Type{endl}</label>
		  				<div class="col-sm-7">
		  					<selectize config='show.selectCfg' options='show.item.type_dd' ng-model="show.item.type_id"></selectize>
		  				</div>
		  			</div>
		  			<div class="form-group" ng-class="{ 'form-group_alert' : deal_form.created_by.$invalid && !deal_form.created_by.$pristine }">
		  				<label class="control-label text-left col-sm-5">{l}Manager{endl}</label>
		  				<div class="col-sm-7">
		  					<selectize config='show.userAutoCfg' name="created_by" options='show.item.user_list' ng-model="show.item.created_by" id="user_list"></selectize>
		  					<div class="alert alert-sm alert-danger" ng-if="deal_form.created_by.$invalid && show.alertsField.created_by">{{show.alertsField.created_by}}</div>
		  				</div>
		  			</div> 
		  			<div class="form-group">
	                    <label class="control-label text-left col-sm-5">{l}Business Units{endl}</label>
	                    <div class="col-sm-7">
	                        <selectize config='show.selectCfg' options='show.item.multiple_identity_dd' ng-model="show.item.identity_id"></selectize>
	                    </div>
	                </div>      
			      </form><!-- /.form-horizontal -->
			</div>
      	</div>
    </div>
</div>
<div class="modal-footer">
	<button class="btn btn-plain" type="button" ng-click="show.step=1" ng-if="show.item.opportunity_id=='tmp' && show.step==2">{l}Previous Step{endl}</button>
	<button class="btn btn-default" type="button" ng-click="show.step=2" ng-if="show.item.opportunity_id=='tmp' && show.step==1" ng-disabled="!show.item.board_id || !show.item.stage_id">{l}Next Step{endl}</button>
	<button class="btn btn-secondary" ng-if="show.item.opportunity_id!='tmp'" confirm="{l}Are you sure, you wanna archive this entry?{endl}" ng-click="show.deleteDeal()">{l}Archive Deal{endl}</button>
	<!-- <button class="btn btn-plain" ng-show="show.step==2" type="button" ng-click="show.cancel()">{l}Close{endl}</button> -->
	<button class="btn btn-default" ng-show="show.step==2" type="button" ng-click="show.ok(deal_form)" ng-disabled="!show.item.buyer_id">{l}Save{endl}</button>
</div>