<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="vmMod.cancel()"><span aria-hidden="true">&times;</span></button>
    <h3 class="modal-title">{{vmMod.page_title}}</h3>
</div>
<div class="modal-body">
    <!-- <div uib-alert ng-repeat="alert in vmMod.alerts" type="{{alert.type}}" close="vmMod.alerts.splice($index, 1);" dismiss-on-timeout="5000" ng-class="['alert-' + (alert.type || 'warning') ]">{{alert.msg}}</div> -->
    <div class="section-content">
        <form class="form-horizontal text-left" name="addAnArticle">
            <!-- <div class="form-group">
            <label for="inputPrimary" class="col-sm-5 col-lg-4 control-label">{l}Primary addr{endl} </label>
            <div class="col-sm-7 col-lg-8">
                <div class="checkbox checkbox-primary">
                <input type="checkbox" id="checkbox1" ng-model="vmMod.primary">
                    <label for="checkbox1">
                    </label>
                </div>
            </div>
          </div>
          <div class="form-group" >
            <label for="inputBilling" class="col-sm-5 col-lg-4 control-label">{l}Billing addr{endl} </label>
            <div class="col-sm-7 col-lg-8">
                <div class="checkbox checkbox-primary">
                <input type="checkbox" id="checkbox2" ng-model="vmMod.billing">
                    <label for="checkbox2">
                    </label>
                </div>
            </div>
          </div>
          <div class="form-group" >
            <label for="inputDelivery" class="col-sm-5 col-lg-4 control-label">{l}Shipping addr{endl} </label>
            <div class="col-sm-7 col-lg-8">
                <div class="checkbox checkbox-primary">
                <input type="checkbox" id="checkbox3" ng-model="vmMod.delivery">
                    <label for="checkbox3">
                    </label>
                </div>
            </div>
          </div>
          <div class="form-group" >
            <label for="inputSite" class="col-sm-5 col-lg-4 control-label">{l}Site Address{endl} </label>
            <div class="col-sm-7 col-lg-8">
                <div class="checkbox checkbox-primary">
                <input type="checkbox" id="checkbox4" ng-model="vmMod.site">
                    <label for="checkbox4">
                    </label>
                </div>
            </div>
          </div>  -->
            <div class="form-group">
                <label class="col-sm-5 col-lg-4 control-label">{l}Street{endl}</label>
                <div class="col-sm-7 col-lg-8">
                    <textarea ng-model="vmMod.address" class="form-control"></textarea>
                    <!-- <input type="text" class="form-control" placeholder="{l}Street{endl}" ng-model="vmMod.address"> -->
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-5 col-lg-4 control-label">{l}ZIP{endl}</label>
                <div class="col-sm-7 col-lg-8">
                    <input type="text" class="form-control" placeholder="{l}ZIP{endl}" ng-model="vmMod.zip">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-5 col-lg-4 control-label">{l}City{endl}</label>
                <div class="col-sm-7 col-lg-8">
                    <input type="text" class="form-control" placeholder="{l}City{endl}" ng-model="vmMod.city">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-5 col-lg-4 control-label">{l}State(Region){endl}</label>
                <div class="col-sm-7 col-lg-8">
                    <input type="text" class="form-control" placeholder="{l}State(Region){endl}" ng-model="vmMod.state_name">
                </div>
            </div>
            <div class="form-group" ng-class="{ 'form-group_alert' : addAnArticle.country_id.$invalid && !addAnArticle.country_id.$pristine }">
                <label class="col-sm-5 col-lg-4 control-label">{l}Country{endl}  <span class="mandatory-label">*</span></label>
                <div class="col-sm-7 col-lg-8">
                    <select class="form-control" ng-model="vmMod.country_id" name="country_id">
                <option ng-repeat="option in vmMod.country_dd track by option.id" value="{{option.id}}">{{option.name}}</option>
              </select>
                    <div class="alert alert-sm alert-danger" ng-if="addAnArticle.country_id.$invalid && vmMod.alertsField.country_id">{{ls.alertsField.country_id}}</div>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-plain" type="button" ng-click="vmMod.cancel()">{l}Cancel{endl}</button>
    <button class="btn btn-default" type="button" ng-disabled="addAnArticle.$invalid" ng-click="vmMod.ok(addAnArticle)">{l}Save{endl}</button>
</div>