<div class="container">
    <div class="page-header">
        <div class="row">
            <div class="col-xs-8 col-sm-6">
                <h1>{l}Accounts & Contacts{endl}</h1>
            </div>
            <div class="col-xs-4 col-sm-6 text-right" ng-if="show_settings.is_admin_company">
                <div class="dropdown new-settings">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-ellipsis-v"></i></button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <li class="dropdown-item" ng-class="{ 'current':menu.submenu == 'import' }"><a class="dropdown-item" href="import_accounts/" go-to="" state="import_accounts"><i class="fas fa-download"></i> {l}Import{endl}</a></li>
                        <li class="dropdown-item" ng-class="{ 'current':menu.submenu == 'setting' }"><a class="dropdown-item" go-to="" href="customersSettings/" state="customersSettings"><span class="fas fa-cog text-primary"></span> {l}CRM Settings{endl}</a></li>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.page-header -->
    </div>
    <div class="tabs-navigation">
        <ul class="nav nav-tabs">
            <li class="active">
                <a href="customers/" go-to="" state="customers">{l}Accounts{endl}</a>
                <!-- <button type="button" class="btn btn-primary btn-add" go-to="" state="customer" params='{"customer_id": "tmp"}'  tooltip-placement="rtop"><span class="btn-add_icon"><span class="icon-bar"></span><span class="icon-bar-2"></span></span></button> -->
                <button type="button" class="btn btn-primary btn-add"  tooltip-placement="rtop" ng-click="vm.createCustomer()"><span class="btn-add_icon"><span class="icon-bar"></span><span class="icon-bar-2"></span></span></button>
            </li>
            <!-- <li>
                <a href="contacts/" go-to="" state="contacts">{l}Contacts{endl}</a>
                <button type="button" class="btn btn-primary btn-add" ng-click="vm.createContact()" tooltip-placement="top"><span class="btn-add_icon"><span class="icon-bar"></span><span class="icon-bar-2"></span></span></button>
            </li> -->
         
            <li ng-if="show_settings.special_user && show_settings.adv_crm && show_settings.not_easyinv_subscription  && show_settings.not_easy_invoice_diy">
                <a href="smartList/" go-to="" state="smartList">{l}Smart Filters{endl}</a>
                <button class="btn btn-primary btn-add" ui-sref="smartListAdd({'list_for': '1'})"tooltip-placement="top"><span class="btn-add_icon"><span class="icon-bar"></span><span class="icon-bar-2"></span></span></button>
            </li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane active" id="accounts">
                <!-- <div uib-alert ng-repeat="alert in vm.alerts" type="{{alert.type}}" close="vm.alerts.splice($index, 1);" dismiss-on-timeout="5000" ng-class="['alert-' + (alert.type || 'warning') ]">{{alert.msg}}</div> -->
                <div class="row page-search page-search-options">
                    <form>
                        <div class="col-sm-12">
                            <div class="row">
                                <div class="col-sm-4">
                                    <div class="so-field" ng-class="{ 'so-active':vm.search.search != '' }">
                                        <span class="glyphicon glyphicon-search so-icon"></span>
                                        <input id="no_css_search_field" type="text" class="form-control" search-it doit="vm.search" callbk="vm.renderList" ng-change="vm.checkSearch()" placeholder="{l}Search{endl}" ng-model="vm.search.search">
                                        <span class="glyphicon glyphicon-remove so-icon so-remove" ng-click="vm.toggleSearchButtons('search', '')"></span>
                                    </div>
                               
                                </div>
                                <div class="col-sm-2">
                                    <div class="so-field" ng-class="{ 'so-active':vm.search.type }">
                                        <span class="fa fa-users so-icon"></span>
                                        <selectize config='vm.type_cfg' options='vm.type_dd' ng-model="vm.search.type"></selectize>
                                        <span class="glyphicon glyphicon-remove so-icon so-remove" ng-click="vm.toggleSearchButtons('type', '')"></span>
                                    </div>
                                 
                                </div>
                                <div class="col-sm-2">
                                    <div class="so-field" ng-class="{ 'so-active':vm.search.is_supplier }">
                                        <span class="akti-icon akti-icon-16 o_akti_custopplier so-icon"></span>
                                        <selectize config='vm.type2_cfg' options='vm.type_dd2' ng-model="vm.search.is_supplier"></selectize>
                                        <span class="glyphicon glyphicon-remove so-icon so-remove" ng-click="vm.toggleSearchButtons('is_supplier', '')"></span>
                                    </div>
                                  
                                </div>
                                <div class="col-sm-2">
                                    <div class="so-field" ng-class="{ 'so-active':vm.search.country_id }">
                                        <span class="glyphicon glyphicon-map-marker so-icon"></span>
                                        <selectize config='vm.country_cfg' options='vm.countries' ng-model="vm.search.country_id"></selectize>
                                        <span class="glyphicon glyphicon-remove so-icon so-remove" ng-click="vm.toggleSearchButtons('country_id', '')"></span>
                                    </div>
                                 
                                </div>
                                <div class="col-sm-2">
                                    <div class="so-field" ng-class="{ 'so-active':vm.search.acc_manager_name }">
                                        <span class="glyphicon glyphicon-user so-icon"></span>
                                        <selectize config='vm.acc_manager_cfg' options='vm.account_managers' ng-model="vm.search.acc_manager_name"></selectize>
                                        <span class="glyphicon glyphicon-remove so-icon so-remove" ng-click="vm.toggleSearchButtons('acc_manager_name', '')"></span>
                                    </div>
                                    
                                </div>
                            </div>
                        </div>

                        <div class="page-search-button">
                            <div class="btn-group" uib-dropdown>
                                <button type="button" class="btn btn-tertiary btn-square dropdown-toggle" uib-dropdown-toggle>
                        <span class="caret"></span>
                        <span class="sr-only">Toggle Dropdown</span>
                    </button>
                                <ul class="dropdown-menu dropdown-menu-right" uib-dropdown-menu>
                                    <li><a href="javascript:void(0)" ng-click="vm.search.showAdvanced = !vm.search.showAdvanced; vm.showActiveList(1)"><span class="fa fa-search"></span> <span ng-if="!vm.search.showAdvanced">{l}Advanced search{endl}</span><span ng-if="vm.search.showAdvanced">{l}Simplified search{endl}</span></a></li>
                                    <li ng-if="vm.search.archived"><a href="#" ng-click="vm.showArchivedList(0)"><span class="fa fa-list-ul"  ></span> {l}Active Customers{endl}</a></li>
                                    <li ng-if="!vm.search.archived"><a href="#" ng-click="vm.showArchivedList(1)"><span class="fas fa-archive new_archive" ></span> {l}Archived Companies{endl}</a></li>
                                    <li ng-if="show_settings.is_admin_company"><a href="index.php?do=customers-export_customers_report&amp;{{vm.export_args}}" target="_blank"><span class="fas fa-upload"></span> {l}Export Companies{endl}</a></li>
                                    <!-- <li><a href="#" ng-click="vm.showActiveList(1)"><span class="fas fa-globe" ></span> {l}View Client list{endl}</a></li> -->
                                    <li><a href="#" ng-click="vm.columnSettings()"><span class="fas fa-cog text-primary" ></span> {l}Column settings{endl}</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-sm-12 advanced_search" ng-class="{ 'advanced_search-show': vm.search.showAdvanced }">
                            <div class="row">
                                <div class="col-sm-1">
                                    <input type="text" class="form-control" ng-change="vm.checkSearch()" ng-model="vm.search.zip_from" placeholder="{l}Zip From{endl}">
                                </div>
                                <div class="col-sm-1">
                                    <input type="text" class="form-control" ng-change="vm.checkSearch()" ng-model="vm.search.zip_to" placeholder="{l}Zip To{endl}">
                                </div>
                                <div class="col-sm-2">
                                    <input type="text" class="form-control" ng-change="vm.checkSearch()" ng-model="vm.search.address" placeholder="{l}Street{endl}">
                                </div>
                                <div class="col-sm-2">
                                    <input type="text" class="form-control" ng-change="vm.checkSearch()" ng-model="vm.search.city_name" placeholder="{l}City{endl}">
                                </div>

                                <div class="col-sm-2">
                                    <input type="text" class="form-control" ng-change="vm.checkSearch()" ng-model="vm.search.commercial_name" placeholder="{l}Commercial Name{endl}">
                                </div>
                                <div class="col-sm-2">
                                    <selectize config='vm.select_cfg_lead' options='vm.lead_source_dd' ng-model="vm.search.lead_source"></selectize>
                                </div>
                                <div class="col-sm-2">
                                    <selectize config='vm.select_cfg_sector' options='vm.sector_dd' ng-model="vm.search.sector"></selectize>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-2 ">
                                    <div class="so-field" ng-class="{ 'so-active':vm.search.c_type_name }">
                                        <span class="glyphicon glyphicon-user so-icon"></span>
                                        <selectize config='vm.c_type_cfg' options='vm.c_type_dd' ng-model="vm.c_type_id"></selectize>
                                        <span class="glyphicon glyphicon-remove so-icon so-remove" ng-click="vm.toggleSearchButtons('c_type_name', '')"></span>
                                    </div>
                                    <!-- /.input-date -->
                                </div>
                                <div class="col-sm-2 ">
                                    <input type="text" class="form-control" ng-change="vm.checkSearch()" ng-model="vm.search.btw_nr" placeholder="{l}VAT Number{endl}">
                                </div>
                                <div class="col-sm-2">
                                    <input type="text" class="form-control" ng-change="vm.checkSearch()" ng-model="vm.search.our_reference" placeholder="{l}Account Number{endl}">
                                </div>
                                <div class="col-sm-6 text-right">
                                    <button class="btn btn-plain btn-search_cancel" ng-click="vm.closeAdvanced()" type="button">{l}Cancel{endl}</button>
                                    <button class="btn btn-default" ng-click="vm.searchThing()" type="submit">{l}Search{endl}</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <!-- /.page-search -->
                <div class="row page-content col-bottom col-top" id="no_css-companies_kpis" ng-if="!vm.search.showList">
                    <div class="col-sm-12">
                        <div class="row" ng-if="false">
                            <div class="col-sm-12">
                                <div class="col-bottom border-bottom">
                                    <h3 class="text-muted">{l}Active Clients{endl} <small>{l}last 6 months{endl}</small></h3>
                                    <div class="row">
                                        <div class="col-sm-3" ng-repeat="item in vm.kpi_number">
                                            <h1 class="kpi_number">{{item.clients}} <small class="kpi_procent" ng-class="item.class"><span class="fa" ng-class="item.faclass" aria-hidden="true"></span> {{item.diff}}</small></h1>
                                            <span class="kpi_compare">{{item.text}}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="revenue">
                                    <div class="row">
                                        <div class="col-md-3 revenue_crm"><span class="full_wd">113.043,78</span><span class="full_wdb">{l}Revenue this year{endl}</span></div>
                                        <div class="col-md-3 revenue_crm"><span class="full_wd">113.043,78</span><span class="full_wdb">{l}Revenue this year{endl}</span></div>
                                        <div class="col-md-3 revenue_crm"><span class="full_wd">113.043,78</span><span class="full_wdb">{l}Revenue this year{endl}</span></div>
                                        <div class="col-md-3 revenue_crm last"><span class="revenue_red full_wd">37.357,69</span><span class="full_wdb">{l}Overdue Invoices{endl}</span>
                                            <div class="row col-md-12 pull-right">
                                            <label class="first_lab">{l}VAT excl{endl}</label>
                                            <label class="switch pull-left small_margin sec_lab">
                                                <input type="checkbox" id="" ng-model="vm.convention.use_credit_number" class="switch-primary ng-pristine ng-untouched ng-valid">
                                                <span class="slider round"></span>
                                            </label>
                                            <label class="t_lab">{l}VAT incl{endl}</label>
                                        </div>
                                        
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6 shadow" ng-repeat="item in vm.graphs" ng-if="item.show">
                                <div class="row">
                                    <div class="col-sm-8">
                                        <h3 class="text-muted col-bottom">{{item.name}}</h3>
                                    </div>
                                    <div class="col-sm-4 col-top text-right" ng-show="$last">
                                        <!-- <div class="btn-group" uib-dropdown>
                                            <button type="button" class="btn btn-sm btn-link dropdown-toggle" uib-dropdown-toggle>
                                    <i class="fa fa-bars text-muted" aria-hidden="true"></i>
                                             </button>
                                            <ul class="dropdown-menu dropdown-menu-right" uib-dropdown-menu>
                                                <li class="dropdown-checkbox" ng-repeat="itemMenu in vm.graphs">
                                                    <label class="checkbox-inline">
                                            <input type="checkbox" ng-model="itemMenu.show" ng-click="vm.showGraph(itemMenu)"> {{itemMenu.name}}
                                        </label>
                                                </li>
                                            </ul>
                                        </div> -->
                                    </div>
                                </div>
                                <canvas class="chart chart-line" chart-type="vm[item.option].chart_type" chart-dataset-override="vm[item.option].datasetOverride" chart-series="vm[item.option].series" chart-data="vm[item.option].data" chart-labels="vm[item.option].labels" chart-options="vm[item.option].opt"
                                    chart-colors="vm[item.option].colors">                
                </div>           
            </div>
        </div>                
    </div><!-- /.page-content -->
    <div class="row page-content col-bottom col-top" ng-if="vm.search.showList">
        <div class="col-sm-12">
            <table class="table active_rows orderTable customers-archived" width="100%">
                <thead>
                    <tr>
                        <th ng-repeat="col in vm.columns" ng-class="{ 'sortable_row':col.order_by, 'sortable_row-up':(!vm.reverse && col.order_by && vm.ord==col.order_by), 'sortable_row-down':(vm.reverse && col.order_by && vm.ord==col.order_by) }" ng-click="(col.order_by ? vm.orderBY(col.order_by) : '')">
                            <span ng-if="col.column_name!='type'" ng-bind-html="col.name"></span>
                        </th>
                        <!-- <th class="col-sm-1"></th>
                        <th class="col-sm-3 sortable_row expand_row" ng-class="{ 'sortable_row-up':(!vm.reverse && vm.ord == 'name'), 'sortable_row-down':(vm.reverse && vm.ord == 'name') }" ng-click="vm.orderBY('name')">{l}Name{endl}</th>
                        <th class="col-sm-2 sortable_row" ng-class="{ 'sortable_row-up':(!vm.reverse && vm.ord == 'city_name'), 'sortable_row-down':(vm.reverse && vm.ord == 'city_name') }" ng-click="vm.orderBY('city_name')">{l}City{endl}</th>
                        <th class="col-sm-2 sortable_row" ng-class="{ 'sortable_row-up':(!vm.reverse && vm.ord == 'country_name'), 'sortable_row-down':(vm.reverse && vm.ord == 'country_name') }" ng-click="vm.orderBY('country_name')">{l}Country{endl}</th>
                        <th class="col-sm-2 sortable_row" ng-class="{ 'sortable_row-up':(!vm.reverse && vm.ord == 'c_type_name'), 'sortable_row-down':(vm.reverse && vm.ord == 'c_type_name') }" ng-click="vm.orderBY('c_type_name')">{l}Type of relationship{endl}</th>
                        <th class="col-sm-2 sortable_row" ng-class="{ 'sortable_row-up':(!vm.reverse && vm.ord == 'acc_manager_name'), 'sortable_row-down':(vm.reverse && vm.ord == 'acc_manager_name') }" ng-click="vm.orderBY('acc_manager_name')">{l}Account Manager{endl}</th> -->
                        <th class="col-sm-1 sortable_row col-select">
                            <div class="dropdown order_export">
                                <button class="dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="fa fa-square-o" ng-if="!vm.all_pages_selected && !vm.minimum_selected"></i>
                                    <i class="fas fa-minus-square" ng-if="!vm.all_pages_selected && vm.minimum_selected"></i>
                                    <i class="fas fa-check-square" ng-if="vm.all_pages_selected"></i>
                                    <i class="fa fa-caret-down" aria-hidden="true"></i>
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <a class="dropdown-item" href="#" ng-click="vm.checkAllPage()">{l}Select page{endl}</a>
                                    <a class="dropdown-item" href="#" ng-if="!vm.all_pages_selected" ng-click="vm.checkAllPages()">{l}Select all{endl}</a>
                                    <a class="dropdown-item" href="#" ng-if="vm.all_pages_selected || vm.minimum_selected" ng-click="vm.uncheckAllPages()">{l}Select none{endl}</a>
                                </div>
                            </div>
                        </th>
                        <th class="table_actions">
                            <!-- <span class="hideOnTablet">{l}Action{endl}</span> -->
                            <div class="btn-group" uib-dropdown >
                                <button type="button" class="btn btn-tertiary dropdown-toggle" uib-dropdown-toggle>
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu dropdown-menu-right" uib-dropdown-menu>
                                    <li ng-if="!vm.search.archived">
                                        <a href="#" ng-click="vm.archiveBulkCustomers()"><span class="fas fa-archive text-primary"></span> {l}Archive Bulk Customers{endl}</a>
                                    </li>
                                    <li ng-if="vm.search.archived">
                                        <a href="#" ng-click="vm.restoreBulkCustomers()"><span class="glyphicon glyphicon-repeat text-primary"></span> {l}Restore Bulk Customers{endl}</a>
                                    </li>
                                </ul>
                            </div>
                        </th>
                        <th class="table_actions"> </th>
                    </tr>  
                </thead>
                <tbody>
                    <tr ng-repeat="item in vm.list">
                        <td ng-repeat="col in vm.columns" go-to="" state="customerView" params='{"customer_id": {{::item.customer_id}}}' list='{ "type":"customers-customersDashboard", "obj": { "search":{{vm.search}}, "cindex":{{$parent.$index}}, "total_items":{{vm.max_rows}} } }'>
                           <i ng-if="col.column_name=='type'" class="fa fa-{{item.type2}}" aria-hidden="true" uib-tooltip="{{item.type2_name}}" tooltip-placement="right" ></i>  <span ng-if="col.column_name=='type'" class="{{item.type}}" aria-hidden="true" uib-tooltip="{{item.type_name}}" tooltip-placement="right"></span>
                           <span ng-if="col.column_name!='type'" ng-bind-html="item[col.column_name]"></span>
                        </td>
                        <!-- <td go-to="" state="customerView" params='{"customer_id": {{::item.customer_id}}}' list='{ "type":"customers-customersDashboard", "obj": { "search":{{vm.search}}, "cindex":{{$index}}, "total_items":{{vm.max_rows}} } }'><i class="fa fa-{{item.type2}}" aria-hidden="true" uib-tooltip="{{item.type2_name}}" tooltip-placement="right" ></i>  <span class="{{item.type}}" aria-hidden="true" uib-tooltip="{{item.type_name}}" tooltip-placement="right"></span></td>
                        <td ng-bind-html="item.name" go-to="" state="customerView" params='{"customer_id": {{::item.customer_id}}}' list='{ "type":"customers-customersDashboard", "obj": { "search":{{vm.search}}, "cindex":{{$index}}, "total_items":{{vm.max_rows}} } }'></td>
                        <td class="text-muted" go-to="" state="customerView" params='{"customer_id": {{::item.customer_id}}}' list='{ "type":"customers-customersDashboard", "obj": { "search":{{vm.search}}, "cindex":{{$index}}, "total_items":{{vm.max_rows}} } }'><span ng-bind-html="item.city"></span></td>
                        <td class="text-muted" go-to="" state="customerView" params='{"customer_id": {{::item.customer_id}}}' list='{ "type":"customers-customersDashboard", "obj": { "search":{{vm.search}}, "cindex":{{$index}}, "total_items":{{vm.max_rows}} } }'><span ng-bind-html="item.country"></span></td>
                        <td class="text-muted" go-to="" state="customerView" params='{"customer_id": {{::item.customer_id}}}' list='{ "type":"customers-customersDashboard", "obj": { "search":{{vm.search}}, "cindex":{{$index}}, "total_items":{{vm.max_rows}} } }'><span ng-bind-html="item.sales"></span></td>
                        <td class="text-muted" go-to="" state="customerView" params='{"customer_id": {{::item.customer_id}}}' list='{ "type":"customers-customersDashboard", "obj": { "search":{{vm.search}}, "cindex":{{$index}}, "total_items":{{vm.max_rows}} } }'><span ng-bind-html="item.contacts"></span></td> -->
                        <td class="col-select">
                            <div class="checkbox checkbox-primary">
                                <input type="checkbox" id="checkbox_all_{{$index}}" ng-model="item.check_add_to_product" ng-click="vm.markCheckNew(item)">
                                <label for="checkbox_all_{{$index}}"></label>
                            </div>
                        </td>
                        <td class="table_actions">
                            <div class="btn-group" uib-dropdown>
                                <button type="button" class="btn btn-plain dropdown-toggle" uib-dropdown-toggle>
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu dropdown-menu-right" uib-dropdown-menu>
                                    <li class="dropdown-header">{l}Action{endl}</li>
                                    <li><a href="" go-to="" state="customer" params='{"customer_id": {{::item.customer_id}}}' list='{ "type":"customers-customersDashboard", "obj": { "search":{{vm.search}}, "cindex":{{$index}}, "total_items":{{vm.max_rows}} } }'><span class="fas fa-pen text-primary"></span> {l}Edit{endl}</a></li>
                                    <li ng-if="!vm.search.archived"><a href="#" ng-click="vm.action(item, 'archive_link')" confirm-title="{{item.confirm}}" confirm-ok="{{item.ok}}" confirm-cancel="{{item.cancel}}" confirm="{l}Are you sure, you wanna archive this entry?{endl}"><span class="fas fa-archive text-primary"></span> {l}Archive{endl}</a></li>
                                    <li ng-if="vm.search.archived"><a href="#" ng-click="vm.action(item, 'activate_link')"  confirm-title="{{item.confirm}}" confirm-ok="{{item.ok}}" confirm-cancel="{{item.cancel}}" confirm="{l}Are you sure, you wanna revert this entry?{endl}"><span class="glyphicon glyphicon-repeat text-primary"></span> {l}Revert{endl}</a></li>
                                    <li ng-if="item.can_be_deleted && vm.search.archived"><a href="#" ng-click="vm.action(item,'delete_link')"  confirm-title="{{item.confirm}}" confirm-ok="{{item.ok}}" confirm-cancel="{{item.cancel}}" confirm="{l}Are you sure, you wanna delete this entry?{endl}"><span class="fa fa-trash text-primary"></span> {l}Delete{endl}</a></li>
                                    <li ng-if="!item.can_be_deleted && vm.search.archived"  uib-tooltip="{l}This account cannot be fully deleted because it is linked to documents in Akti.{endl}" tooltip-placement="left"><a class="disabled" href="#" ><span class="fa fa-trash text-primary"></span> {l}Delete{endl}</a></li> 
                                    <!-- <li><a href="#"><span class="fa fa-bars text-primary"></span> Timeline</a></li> -->
                                </ul>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-sm-12">
            <div class="col-sm-8">
                <ul ng-if="vm.max_rows > 30" uib-pagination total-items="vm.max_rows" ng-model="vm.search.offset" ng-change="vm.searchThing()" max-size="5" class="pager" boundary-links="true" items-per-page="vm.lr" ></ul>
            </div>
            <div class="col-sm-4 text-right">
                <label>{l}Number of companies{endl}: <strong>{{vm.max_rows}}</strong></label>
            </div>
        </div>
    </div>
          </div>
        </div>
    </div>
    <!-- /.page-content -->

</div><!-- neede on all pages -->