<div class="container">
  <div class="page-header">
    <div class="row">
      <div class="col-sm-8">
        <h1 ng-if="ls.customer_id=='tmp'">{l}Create new account{endl}
          <div class="btn-group" uib-dropdown>
            <button type="button" class="btn btn-dropdown-line dropdown-toggle" uib-dropdown-toggle id="no_css_switch_btn" ng-if="ls.obj.type=='0'" >{l}Company{endl} <span class="caret"></span></button>
            <button type="button" class="btn btn-dropdown-line dropdown-toggle" uib-dropdown-toggle id="no_css_switch_btn" ng-if="ls.obj.type=='1'">{l}Individual{endl} <span class="caret"></span></button>
            <ul class="dropdown-menu" uib-dropdown-menu>
              <li><a ng-click="ls.obj.type='0';">{l}Company{endl}</a></li>
              <li><a ng-click="ls.obj.type='1';">{l}Individual{endl}</a></li>
            </ul>
          </div>
        </h1>
        <h1 ng-if="ls.customer_id!='tmp'">{l}Account{endl} {{ls.obj.name}} 
          <div class="btn-group" uib-dropdown>
            <button type="button" class="btn btn-dropdown-line dropdown-toggle" uib-dropdown-toggle id="no_css_switch_btn" ng-if="ls.obj.type=='0'" >{l}Company{endl} <span class="caret"></span></button>
            <button type="button" class="btn btn-dropdown-line dropdown-toggle" uib-dropdown-toggle id="no_css_switch_btn" ng-if="ls.obj.type=='1'">{l}Individual{endl} <span class="caret"></span></button>
            <ul class="dropdown-menu" uib-dropdown-menu>
              <li><a ng-click="ls.obj.type='0';">{l}Company{endl}</a></li>
              <li><a ng-click="ls.obj.type='1';">{l}Individual{endl}</a></li>
            </ul>
          </div>
        </h1>
      </div>
      <div class="col-sm-4 page-header-options">
         <!--  <button ng-if="ls.customer_id!='tmp'" go-to="" state="customerView" params='{"customer_id": {{::ls.customer_id}}}' list='{ "type":"customers-customersDashboard"}'  type="button" class="btn btn-link"><span class="fas fa-globe"></span> <strong>{l}View{endl}</strong></button>
          <navigator ng-if="ls.customer_id!='tmp'" pag="customers-customersDashboard" itemid="{{ls.customer_id}}" originalPage="customer"></navigator> -->
          <!-- <button go-to="" state="customers" type="button" class="btn btn-default"><strong>{l}Back{endl}</strong></button> -->
          <!-- <button class="btn btn-default" type="button" ng-disabled="addCustomer.$invalid" ng-if="ls.obj.add_customer" ng-click="ls.ok(addCustomer)">{l}Save{endl}</button> -->
          <!-- <button class="btn btn-default" type="button" ng-disabled="ls.checkForm(addCustomer)" ng-if="ls.obj.add_customer" ng-click="ls.ok(addCustomer)">{l}{{ls.save_button_text}}{endl}</button> -->
          <!-- <button class="btn btn-default" type="button" ng-disabled="financial.$invalid" ng-if="ls.obj.add_contact" ng-click="ls.ok(financial)">{l}Save{endl}</button> -->
         <!--  <button class="btn btn-default" type="button" ng-disabled="ls.checkForm(financial)" ng-if="ls.obj.add_contact" ng-click="ls.ok(financial)">{l}{{ls.save_button_text}}{endl}</button> -->
          <!-- <button class="btn btn-default" type="button" ng-disabled="notes.$invalid" ng-if="ls.obj.add_notes" ng-click="ls.ok(notes)">{l}Save{endl}</button> -->
          <!-- <button class="btn btn-default" type="button" ng-disabled="ls.checkForm(notes)" ng-if="ls.obj.add_notes" ng-click="ls.ok(notes)">{l}{{ls.save_button_text}}{endl}</button> -->
      </div>
    </div>
  </div><!-- /.page-header -->

  <ul class="nav nav-tabs tabs-default" ng-if="!ls.is_add">
    <li role="presentation" ng-class="{ 'active':ls.obj.add_customer }" ng-click="ls.activeteTab('add_customer')"><a href="#" aria-controls="details" data-toggle="tab">{l}Company Details{endl}</a></li>
    <!-- <li role="presentation" ng-class="{ 'active':ls.obj.add_contact }" ng-click="ls.activeteTab('add_contact')" ><a href="#" aria-controls="financial" data-toggle="tab" >{l}Financial{endl}</a></li>
    <li role="presentation" ng-class="{ 'active':ls.obj.add_notes }" ng-click="ls.activeteTab('add_notes')"><a href="#" aria-controls="notes" data-toggle="tab" >{l}Notes and Files{endl}</a></li> -->
  </ul>
  <div class="tab-content">
    <div class="tab-pane fade" ng-class="{ 'in active':ls.obj.add_customer }" id="details" >
      <div class="section-content">
        <div uib-alert ng-repeat="alert in ls.alerts" type="{{alert.type}}" close="ls.alerts.splice($index, 1);" ng-class="['alert-' + (alert.type || 'warning'), 'alert-fixed' ]">{{alert.msg}}</div>
        <form class="form-horizontal text-left" name="addCustomer" novalidate>
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group" ng-show="ls.is_add && ls.obj.type=='0'">
                <label for="inputEmail3" class="col-sm-4 control-label">{l}VAT number{endl}</label>
                <div class="col-sm-8">
                  <div class="input-group">
                    <input type="text" class="form-control" placeholder="{l}VAT number{endl}" ng-change="ls.checkVatAdd()" ng-model="ls.obj.btw_nr">
                    <span class="input-group-addon" >
                      <i class="glyphicon vies_sign" ng-if="ls.obj.vies_ok" ><img src="images/vies_vat.png" alt="" /></i>
                      <i class="fa fa-spinner fa-spin fa-fw" ng-if="ls.checking"></i>
                      <!-- <i class="glyphicon glyphicon-refresh text-muted" ng-if="ls.checking"></i> -->
                      <i class="glyphicon glyphicon-ok text-success" ng-if="ls.isOk"></i>
                      <i class="glyphicon glyphicon-ban-circle text-danger" ng-if="ls.isFalse"></i>
                      <i class="glyphicon top_trends_icon" ng-if="ls.isTrends"><img src="images/trends_vat1.png" alt="" /></i>
                    </span>
                  </div>
                  <div uib-alert ng-if="ls.showViesUnavailable" class="alert alert-danger" type="danger">{l}VIES service unavailable at this moment.{endl}</div>
                </div>
              </div>
              <div class="form-group" ng-if="ls.obj.type=='0'" ng-class="{ 'form-group_alert' : addCustomer.name.$invalid && !addCustomer.name.$pristine }">
                <label for="inputName" class="col-sm-4 control-label">{l}Account Name{endl} <span class="mandatory-label">*</span></label>
                <div class="col-sm-8">
                  <input type="text" class="form-control" name="name" placeholder="{l}Name{endl}" ng-model="ls.obj.name" id="inputName" required >
                  <div class="alert alert-sm alert-danger" ng-if="addCustomer.name.$invalid && ls.alertsField.name">{{ls.alertsField.name}}</div>
                </div>
              </div>
              
              <!-- <div class="form-group" ng-if="ls.obj.type=='1'" >
                <label for="inputFirstName" class="col-sm-4 control-label">{l}First Name{endl} </label>
                <div class="col-sm-8">
                  <input type="text" class="form-control" name="firstname" placeholder="{l}First Name{endl}" ng-model="ls.obj.firstname" id="inputFirstName" >
                </div>
              </div> -->
              <div class="form-group" ng-if="ls.obj.type=='1'" ng-class="{ 'form-group_alert' : addCustomer.name.$invalid && !addCustomer.name.$pristine }">
                <label for="inputName" class="col-sm-4 control-label">{l}Last name{endl} <span class="mandatory-label">*</span></label>
                <div class="col-sm-8">
                  <input type="text" class="form-control" name="name" placeholder="{l}Name{endl}" ng-model="ls.obj.name" id="inputName" required >
                  <div class="alert alert-sm alert-danger" ng-if="addCustomer.name.$invalid && ls.alertsField.name">{{ls.alertsField.name}}</div>
                </div>
              </div>
              <div class="form-group" ng-show="ls.is_add && ls.obj.type=='1'">
                <label for="inputEmail3" class="col-sm-4 control-label">{l}VAT number{endl}</label>
                <div class="col-sm-8">
                  <div class="input-group">
                    <input type="text" class="form-control" placeholder="{l}VAT number{endl}" ng-change="ls.checkVatAdd()" ng-model="ls.obj.btw_nr">
                    <span class="input-group-addon" >
                      <i class="glyphicon vies_sign" ng-if="ls.obj.vies_ok" ><img src="images/vies_vat.png" alt="" /></i>
                      <i class="fa fa-spinner fa-spin fa-fw" ng-if="ls.checking"></i>
                      <!-- <i class="glyphicon glyphicon-refresh text-muted" ng-if="ls.checking"></i> -->
                      <i class="glyphicon glyphicon-ok text-success" ng-if="ls.isOk"></i>
                      <i class="glyphicon glyphicon-ban-circle text-danger" ng-if="ls.isFalse"></i>
                      <i class="glyphicon top_trends_icon" ng-if="ls.isTrends"><img src="images/trends_vat1.png" alt="" /></i>
                    </span>
                  </div>
                  <div uib-alert ng-if="ls.showViesUnavailable" class="alert alert-danger" type="danger">{l}VIES service unavailable at this moment.{endl}</div>
                </div>
              </div>

              <div ng-repeat="item in ls.obj.linesObj">
                <div class="form-group" ng-if="ls.obj[item.if_condition] && !item.is_custom"
                ng-class="{ 'form-group_alert' : addCustomer.our_reference.$invalid && !addCustomer.our_reference.$pristine && item.model == 'our_reference','hide':item.model =='firstname' && ls.obj.type=='0'}"
                >
                  <!-- Label -->
                  <label for="" class="col-sm-4 control-label">{{item.label}}</label>

                  <!-- Select without table -->
                  <div class="col-sm-8" ng-if="!item.has_table && item.is_dd && item.model != 'language'">
                    <selectize config="ls[item.selectize_config]" options="ls.auto.options[item.selectize_options]" ng-model="ls.obj[item.model]"></selectize>
                  </div>
                  <!-- Select with table -->
                  <div class="col-sm-8" ng-if="item.has_table && item.is_dd && item.model != 'language'">
                    <selectize config="ls[item.selectize_config]" options="ls[item.selectize_options]"
                    ng-model="ls.obj[item.model]" table="{{item.table}}" model="{{item.model}}"></selectize>
                  </div>
                  <!-- Custom select for language -->
                  <div class="col-sm-8" ng-if="!item.has_table && item.is_dd && item.model == 'language'">
                    <selectize config="ls[item.selectize_config]" options="ls[item.selectize_options]" ng-model="ls.obj[item.model]" ></selectize>
                  </div>
                
                  <!-- Normal Inputs -->
                  <div class="col-sm-8" ng-if="!item.is_dd && !item.is_checkbox">
                    <input type="text" class="form-control" name="{{item.model}}" ng-model="ls.obj[item.model]" placeholder="{{item.label}}" >
                    <div class="alert alert-sm alert-danger" ng-if="addCustomer.our_reference.$invalid && ls.alertsField.our_reference && item.model == 'our_reference'">{{ls.alertsField.our_reference}}</div>
                  </div>

                  <!-- Checkbox Inputs -->
                  <div class="col-md-3 col-sm-5 checkbox checkbox-primary" ng-if="ls.obj[item.if_condition] && !item.is_dd && item.is_checkbox"
                  >
                    <input type="checkbox" ng-model="ls.obj[item.model]" id="{{item.if_condition}}_{{item.model}}" value="1">
                    <label for="{{item.if_condition}}_{{item.model}}" ng-if="item.is_checkbox"></label>
                  </div>

                </div>  

                <div class="form-group" ng-if="item.label_if && item.is_custom">
                  <label for="" class="col-sm-4 control-label" >{{item.label}}</label>
                    <div class="col-sm-8" ng-if="item.normal_input">
                      <input type="text" name="extra[item.field_id]" value="item.value" ng-model="ls.obj.extra[item.field_id]" class="form-control" maxlength="30" />
                    </div>
                    <div class="col-sm-8" ng-if="item.label_if && !item.normal_input">
                      <selectize config="ls.extraCfg" options="ls.extra[item.field_id]" id="extra_{{item.field_id}}" ng-model="ls.obj.extra[item.field_id]" table="customer_extrafield_dd" model="extra" extra="{{item.field_id}}" >
                      </selectize>
                    </div>
                </div>


              </div>
                <!--  {loop:extra_field}
                 <div class="form-group">
                <label for="" class="col-sm-4 control-label" >{label}</label>
                {if:label_if}
                {if:normal_input}
                
                <div class="col-sm-8" >
                  <input type="text" name="extra[{field_id}]" value="{value}" ng-model="ls.obj.extra[{field_id}]" class="form-control" maxlength="30" /></div>
                {else}
                <div class="col-sm-8">
                <selectize config="ls.extraCfg" options="ls.extra[{field_id}]" id="extra_{field_id}" ng-model="ls.obj.extra[{field_id}]" table="customer_extrafield_dd" model="extra" extra="{field_id}" ></selectize></div>
                {end}{end}
                
              </div>
               {endloop} -->
          </div>
            <!-- end col-sm-6 left -->
            <div class="col-sm-6"><!-- start right col-sm-6 -->
              <div class="panel panel-primary">
                <div class="panel-body">
                    <div class="form-group" >
                      <label for="" class="col-sm-4 control-label">{l}Phone{endl} <i class="fa fa-phone" aria-hidden="true"></i></label>
                      <div class="col-sm-8">
                        <input type="text" class="form-control" name="comp_phone" ng-model="ls.obj.comp_phone"  >
                      </div>
                    </div>
                    <div class="form-group" >
                      <label for="" class="col-sm-4 control-label">{l}Fax{endl}<i class="fa fa-fax" aria-hidden="true"></i></label>
                      <div class="col-sm-8">
                        <input type="text" class="form-control" name="comp_fax" ng-model="ls.obj.comp_fax"  >
                      </div>
                    </div>
                    <div class="form-group" >
                      <label for="" class="col-sm-4 control-label">{l}Company email{endl} <i class="far fa-envelope" aria-hidden="true"></i></label>
                      <div class="col-sm-8">
                        <input type="text" class="form-control" name="c_email" ng-model="ls.obj.c_email"  >
                        <div class="alert alert-sm alert-danger" ng-if="addCustomer.c_email.$invalid && ls.alertsField.c_email">{{ls.alertsField.c_email}}</div>
                      </div>
                    </div>
                    <div class="form-group" >
                      <label for="" class="col-sm-4 control-label">{l}Website{endl} <i class="fas fa-globe" aria-hidden="true"></i></label>
                      <div class="col-sm-8">
                        <input type="text" class="form-control" name="website" ng-model="ls.obj.website" generate-link="">
                      </div>
                    </div>
                    <h1 class="crm_separator" ng-if="!ls.obj.customer_id">{l}Contact{endl}</h1>
                    <div class="form-group" ng-if="!ls.obj.customer_id">
                      <label for="" class="col-sm-4 control-label text-right">{l}Contact{endl} {l}First Name{endl}</label>
                      <div class="col-sm-8">
                        <input class="form-control" ng-model="ls.obj.cont_firstname"/>
                      </div>
                    </div>
                    <div class="form-group" ng-if="!ls.obj.customer_id">
                      <label for="" class="col-sm-4 control-label text-right">{l}Contact{endl} {l}Last Name{endl}</label>
                      <div class="col-sm-8">
                        <input class="form-control" ng-model="ls.obj.cont_lastname"/>
                      </div>
                    </div>
                    <div class="form-group" ng-if="!ls.obj.customer_id" ng-class="{ 'form-group_alert' : addCustomer.cont_cell.$invalid && !addCustomer.cont_cell.$pristine }">
                      <label for="" class="col-sm-4 control-label text-right">{l}Contact{endl} {l}Phone{endl} <i class="fa fa-phone" aria-hidden="true"></i></label>
                      <div class="col-sm-8 input-group">
                        <span class="input-group-addon">+</span>
                        <input type="text" class="form-control" name="cont_cell" ng-valid-phone ng-model="ls.obj.cont_cell" >
                      </div>
                      <div class="alert alert-sm alert-danger custom-phone-alert" ng-if="!addCustomer.cont_cell.$valid">{l}Please enter a valid number{endl}</div>
                    </div>
                    <div class="form-group" ng-if="!ls.obj.customer_id" ng-class="{ 'form-group_alert' : addCustomer.cont_email.$invalid && !addCustomer.cont_email.$pristine }">
                      <label for="" class="col-sm-4 control-label">{l}Contact{endl} {l}Email{endl}<i class="far fa-envelope" aria-hidden="true"></i></label>
                      <div class="col-sm-8">
                        <input type="text" class="form-control" name="cont_email" ng-model="ls.obj.cont_email"  >
                          <div class="alert alert-sm alert-danger" ng-if="addCustomer.cont_email.$invalid && ls.alertsField.cont_email">{{ls.alertsField.cont_email}}</div>
                      </div>
                    </div>
                       <h1 class="crm_separator">{l}Main address{endl} - <button ng-disabled="true" ng-if="!ls.obj.customer_id" ng-click="ls.openModal('ManageAddresses',ls.customer_id,'lg')" class="text-link" ng-class="{ 'add_inactive':!ls.obj.customer_id }" title="{l}You need to save / create the account before you can manage addresses{endl}">{l}Manage other Address(es){endl}</button><a ng-if="ls.obj.customer_id" href="#" ng-click="ls.openModal('ManageAddresses',ls.customer_id,'lg')" class="text-link">{l}Manage other Address(es){endl}</a></h1>
                    <div class="form-group">
                      <label for="" class="col-sm-4 control-label text-right">{l}Street{endl} <i class="fa fa-road" aria-hidden="true"></i></label>
                      <div class="col-sm-8">
                        <textarea class="form-control" rows="2" ng-model="ls.obj.address"></textarea>
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="" class="col-sm-4 control-label">{l}Zip{endl} <i class="fa fa-map-marker" aria-hidden="true"></i></label>
                      <div class="col-sm-4">
                        <input type="text" class="form-control" name="website" ng-model="ls.obj.zip">
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="" class="col-sm-4 control-label">{l}City{endl} <i class="fa fa-users" aria-hidden="true"></i></label>
                      <div class="col-sm-8">
                        <input type="text" class="form-control" name="website" ng-model="ls.obj.city">
                      </div>
                    </div>
                    <div class="form-group form-group-end">
                      <label for="" class="col-sm-4 control-label">{l}Country{endl} <i class="fas fa-globe" aria-hidden="true"></i></label>
                      <div class="col-sm-8">
<!--                         <select class="form-control" ng-model="ls.obj.country_id">
                          <option ng-repeat="option in ls.obj.country_dd track by option.id" value="{{option.id}}">{{option.name}}</option>
                        </select> -->
                        <selectize config="ls.cfg" options="ls.obj.country_dd" ng-model="ls.obj.country_id" ></selectize>
                      </div>
                    </div>
                </div>
              </div>

               <!-- <div class="form-group" ng-if="ls.obj.various1_if">
                <label for="" class="col-sm-4 control-label">{various1_text}</label>
                <div class="col-sm-8">
                  <selectize config="ls.salesCfg" options="ls.various1" ng-model="ls.obj.various1" table="customer_various1" model="various1" ></selectize>
                </div>
              </div>
              <div class="form-group" ng-if="ls.obj.various2_if">
                <label for="" class="col-sm-4 control-label">{various2_text}</label>
                <div class="col-sm-8">
                <selectize config="ls.salesCfg" options="ls.various2" ng-model="ls.obj.various2" table="customer_various2" model="various2" ></selectize>
                </div>
              </div> -->
            </div><!-- right col-sm-6 -->
           </form>
      </div>
    </div></div>
    <div class="tab-pane fade" ng-class="{ 'in active':ls.obj.add_contact }" id="financial" ng-show="!ls.is_add" >
      <div class="section-content">
      <div uib-alert ng-repeat="alert in ls.alerts" type="{{alert.type}}" close="ls.alerts.splice($index, 1);"  ng-class="['alert-' + (alert.type || 'warning') ]">{{alert.msg}}</div>
        <form class="form-horizontal text-left" name="financial" novalidate>
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group" ng-if="ls.is_siret">
                <label for="" class="col-sm-4 control-label">{l}SIRET{endl}</label>
                <div class="col-sm-8">
                  <input type="text" class="form-control" name="siret" ng-model="ls.obj.siret" >
                </div>
              </div>
              <div class="form-group">
                <label for="" class="col-sm-4 control-label">{l}Company Registration Number{endl}</label>
                <div class="col-sm-8">
                  <input type="text" class="form-control" name="comp_reg_number" ng-model="ls.obj.comp_reg_number" >
                </div>
              </div>
              <div class="form-group">
                <label for="" class="col-sm-4 control-label">{l}VAT number{endl}</label>
                <div class="col-sm-8">
                  <!-- <input type="text" class="form-control" name="btw_nr" ng-model="ls.obj.btw_nr" > -->
                  <div class="input-group">
                    <input type="text" class="form-control" ng-model="ls.obj.btw_nr" ng-blur="ls.check_for_btw()">
                    <span class="input-group-addon" >
                      <i class="glyphicon vies_sign" ng-if="ls.obj.vies_ok" ><img src="images/vies_vat.png" alt="" /></i>
                      <i class="glyphicon glyphicon-refresh text-muted" ng-if="ls.checking"></i>
                      <i class="glyphicon glyphicon-ok text-success" ng-if="ls.isOk"></i>
                      <i class="glyphicon glyphicon-ban-circle text-danger" ng-if="ls.isFalse"></i>
                      <i class="glyphicon top_trends_icon" ng-if="ls.isTrends"><img src="images/trends_vat1.png" alt="" /></i>                          
                    </span>
                  </div>
                  <div uib-alert ng-if="ls.showViesUnavailable" class="alert alert-danger" type="danger">{l}VIES service unavailable at this moment.{endl}</div>
                </div>
                <label for="" class="col-sm-8 col-sm-offset-4 control-label">
                  <a href="#" class="btn btn-sm btn-tertiary" ng-click="ls.checkVatAdd()">{l}Check VAT Number{endl}</a>
                </label>
              </div>
              <div class="form-group">
                <label for="" class="col-sm-4 control-label">{l}VAT Regime{endl}</label>
                <div class="col-sm-8">
<!--                   <select class="form-control" ng-model="ls.obj.vat_regime_id" ng-change="ls.changeVatRegim()">
                    <option value="0">{l}Select type{endl}</option>
                    <option ng-repeat="option in ls.vat_regim_dd track by option.id" value="{{option.id}}">{{option.name}}</option>
                  </select> -->
                  <selectize config="ls.cfg" options="ls.vat_regim_dd" ng-model="ls.obj.vat_regime_id" ></selectize>
                </div>
              </div>
              <!-- <div class="form-group" >
                <label for="" class="col-sm-4 control-label">{l}VAT{endl}</label>
                <div class="col-sm-4">
                  <selectize config="ls.cfg" options="ls.vat_dd" ng-model="ls.obj.vat_id" ></selectize>
                    <a href="#" class="btn btn-sm btn-tertiary" ng-click="ls.obj.no_vat='0'"  ng-if="ls.obj.no_vat=='1'">{l}Add VAT{endl}</a>
                </div>
                <div class="col-sm-4" ng-if="ls.obj.no_vat=='0' && ls.obj.vat_regime_id!='2'">
                    <a href="#" class="btn btn-sm btn-tertiary" ng-click="ls.obj.no_vat='1'">{l}Remove VAT{endl}</a>
                </div>
              </div> -->
              <div class="form-group">
                <label for="" class="col-sm-4 control-label">{l}Credit limit (VAT included){endl} </label>
                <div class="col-sm-4">
                  <div class="input-group">
                      <input type="text" class="form-control" name="credit_limit" ng-model="ls.obj.credit_limit">
                      <span class="input-group-addon" ng-bind-html="ls.obj.currency_code"></span>
                    </div>
                </div>
              </div>
              <div class="form-group">
                <label for="" class="col-sm-4 control-label">{l}Payment Term{endl} </label>
                <div class="col-sm-4">
                  <div class="input-group">
                      <input type="text" class="form-control" name="payment_term" ng-model="ls.obj.payment_term">
                      <span class="input-group-addon">{l}days{endl}</span>
                    </div>
                </div>
              </div>
              <div class="form-group">
                <label for="" class="col-sm-4 control-label">{l}Payment term type{endl} </label>
                <div class="col-sm-8 radio text-muted">
                  <label>
                    <input type="radio"  name="payment_term_start" ng-model="ls.obj.payment_term_start" value="1" >  {l}Payment term(days) from the invoice date{endl}
                  </label>
                </div>
                <div class="col-sm-8 col-sm-offset-4 radio text-muted">
                  <label>
                    <input type="radio"  name="payment_term_start" ng-model="ls.obj.payment_term_start" value="2" >  {l}Payment term(days) from the first day of the next month{endl}
                  </label>
                </div>
              </div>
              <div class="form-group">
                <label for="" class="col-sm-4 control-label">{l}Invoice email{endl} </label>
                <div class="col-sm-8 radio text-muted">
                  <label>
                    <input type="radio"  name="invoice_email_type" ng-model="ls.obj.invoice_email_type" value="1">  {l}Contact select on document{endl}
                  </label>
                </div>
                <div class="col-sm-8 col-sm-offset-4 radio text-muted">
                  <label>
                    <input type="radio"  name="invoice_email_type" ng-model="ls.obj.invoice_email_type" value="2">  {l}Specific email for this company{endl}
                  </label>
                </div>
              </div>
              <div class="form-group invoice_email" ng-show="ls.obj.invoice_email_type==2">
                <label for="" class="col-sm-4 control-label">{l}Email address for invoices{endl} <i class="fa fa-question-circle" uib-tooltip="{l}You can add multiple email addresses split by ;{endl}" tooltip-placement="right"></i></label>
                <div class="col-sm-8">
                  <input type="text" class="form-control" name="invoice_email" ng-model="ls.obj.invoice_email" >
                  <div class="alert alert-sm alert-danger" ng-if="ls.alertsField.invoice_email">{{ls.alertsField.invoice_email}}</div>
                </div>
              </div>
              <div class="form-group" ng-show="ls.obj.invoice_email_type==2">
                <label for="" class="col-sm-4 control-label">{l}Invoice at attention of{endl} </label>
                <div class="col-sm-8">
                  <input type="text" class="form-control" name="attention_of_invoice" ng-model="ls.obj.attention_of_invoice" >
                </div>
              </div>
              <div class="form-group" ng-if="ls.obj.creation_date">
                <label for="" class="col-sm-4 control-label">{l}Creation Date{endl} </label>
                <div class="col-sm-8">
                  <label class="control-label text-muted">{{ls.obj.creation_date}} </label>
                </div>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label for="" class="col-sm-4 control-label">{l}Bank Name{endl}</label>
                <div class="col-sm-8">
                  <input type="text" class="form-control" name="bank_name" ng-model="ls.obj.bank_name" >
                </div>
              </div>
              <div class="form-group">
                <label for="" class="col-sm-4 control-label">{l}BIC Code{endl}</label>
                <div class="col-sm-8">
                  <input type="text" class="form-control" name="bank_bic_code" ng-model="ls.obj.bank_bic_code" >
                </div>
              </div>
              <div class="form-group">
                <label for="" class="col-sm-4 control-label">{l}IBAN{endl}</label>
                <div class="col-sm-8">
                  <input type="text" class="form-control" name="bank_iban" ng-model="ls.obj.bank_iban" >
                </div>
              </div>
<!--               <div class="form-group">
                <label for="" class="col-sm-4 control-label">{l}Discount{endl}</label>
                <div class="col-sm-4">
                  <div class="input-group">
                    <input type="text" class="form-control" name="fixed_discount" ng-model="ls.obj.fixed_discount" display-nr >
                    <span class="input-group-addon" >%</span>
                  </div>
                </div>
                <div class="col-sm-4 checkbox checkbox-primary">
                  <input type="checkbox" name="apply_fix_disc" id="checkbox4" ng-model="ls.obj.apply_fix_disc">{l}Apply Discount{endl}
                  <label for="checkbox4">
                  </label>
                </div>
              </div>
              <div class="form-group">
                <label for="" class="col-sm-4 control-label">{l}Line Discount{endl}</label>
                <div class="col-sm-4">
                  <div class="input-group">
                    <input type="text" class="form-control" name="line_discount" ng-model="ls.obj.line_discount" display-nr >
                    <span class="input-group-addon" >%</span>
                  </div>
                </div>
                <div class="col-sm-4 checkbox checkbox-primary">
                <input type="checkbox" name="apply_fix_disc" id="checkbox5" ng-model="ls.obj.apply_line_disc">{l}Apply Discount{endl}
                  <label for="checkbox5">
                  </label>
                </div>
              </div> -->
              <div class="form-group">
                <label for="" class="col-sm-4 control-label">{l}Currency{endl}</label>
                <div class="col-sm-8">
<!--                   <select class="form-control" ng-model="ls.obj.currency_id">
                    <option ng-repeat="option in ls.currency_dd track by option.id" value="{{option.id}}" ng-bind-html="option.name"></option>
                  </select> -->
                  <selectize config="ls.currencyCfg" options="ls.currency_dd" ng-model="ls.obj.currency_id" ></selectize>
                </div>
              </div>
              <div class="form-group" ng-if="ls.ADV_PRODUCT==true">
                <label for="" class="col-sm-4 control-label">{l}Price Category{endl}</label>
                <div class="col-sm-8">
<!--                   <select class="form-control" ng-model="ls.obj.cat_id">
                    <option value="0">{l}Select type{endl}</option>
                    <option ng-repeat="option in ls.cat_dd track by option.id" value="{{option.id}}">{{option.name}}</option>
                  </select> -->
                   <selectize config="ls.cfg" options="ls.cat_dd" ng-model="ls.obj.cat_id" ></selectize>
                </div>
              </div>
              <div class="form-group" ng-if="ls.ADV_PRODUCT==false">
                <label for="" class="col-sm-4 control-label">{l}Price Category{endl} <a class="text-muted disabled"><i class="fa fa-info-circle" uib-tooltip="{l}Only available if full version of catalogue{endl}" tooltip-placement="top"></i></a></label>
                <div class="col-sm-8">
<!--                   <select class="form-control" ng-model="ls.obj.cat_id" disabled>
                    <option value="0">{l}Select type{endl}</option>
                    <option ng-repeat="option in ls.cat_dd track by option.id" value="{{option.id}}">{{option.name}}</option>
                  </select> -->
                  <selectize ng-disabled="ls.ADV_PRODUCT==false" config="ls.cfg" options="ls.cat_dd" ng-model="ls.obj.cat_id" ></selectize>
                </div>
              </div>
              <!-- <div class="form-group">
                <label for="" class="col-sm-4 control-label">{l}Document Language{endl}</label>
                <div class="col-sm-8"> -->
<!--                   <select class="form-control" ng-model="ls.obj.internal_language">
                    <option value="0">{l}Select type{endl}</option>
                    <option ng-repeat="option in ls.lang_dd track by option.id" value="{{option.id}}">{{option.name}}</option>
                  </select> -->
                  <!-- <selectize config="ls.cfg" options="ls.lang_dd" ng-model="ls.obj.internal_language" ></selectize>
                </div>
              </div> -->
              <div class="form-group" ng-if="ls.hide_identity==true">
                <label for="" class="col-sm-4 control-label">{l}Multiple Identity{endl}</label>
                <div class="col-sm-8">
<!--                   <select class="form-control" ng-model="ls.obj.identity_id">
                    <option value="0">{l}Select type{endl}</option>
                    <option ng-repeat="option in ls.multiple_dd track by option.id" value="{{option.id}}">{{option.name}}</option>
                  </select> -->
                   <selectize config="ls.cfg" options="ls.multiple_dd" ng-model="ls.obj.identity_id" ></selectize>
                </div>
              </div>
              <div class="form-group" ng-if="ls.hide_identity==false">
                <label for="" class="col-sm-4 control-label">{l}Multiple Identity{endl} <a class="text-muted disabled"><i class="fa fa-info-circle" uib-tooltip="{l}Go to the global settings to create more identities{endl}" tooltip-placement="top"></i></a></label>
                <div class="col-sm-8">
<!--                   <select class="form-control" ng-model="ls.obj.identity_id" disabled>
                    <option value="0">{l}Select type{endl}</option>
                    <option ng-repeat="option in ls.multiple_dd track by option.id" value="{{option.id}}">{{option.name}}</option>
                  </select> -->
                  <selectize ng-disabled="ls.hide_identity==false" config="ls.cfg" options="ls.multiple_dd" ng-model="ls.obj.identity_id" ></selectize>
                </div>
              </div>
              <div class="form-group">
                <label for="" class="col-sm-4 control-label">{l}External id{endl}</label>
                <div class="col-sm-8">
                  <input type="text" class="form-control" name="external_id" ng-model="ls.obj.external_id" >
                </div>
              </div>
            </div>
            <div class="col-sm-12">
              <div class="form-group">
                <label for="" class="col-sm-2 control-label">{l}Invoice notes 2{endl}</label>
                <div class="col-sm-10">
                  <textarea class="form-control" rows="3"  ng-model="ls.obj.invoice_note2" ></textarea>
                </div>
              </div>
            </div>
            <div class="col-sm-12">
              <div class="form-group">
                <label for="" class="col-sm-2 control-label">{l}Delivery and dispatch notes{endl}</label>
                <div class="col-sm-10">
                  <textarea class="form-control" rows="3"  ng-model="ls.obj.deliv_disp_note" disabled></textarea>
                </div>
              </div>
            </div>
          </div>
          
        </form>
      </div>
    </div>
    <div class="tab-pane fade" ng-class="{ 'in active':ls.obj.add_notes }" id="notes" >
      <div class="section-content">
        <div uib-alert ng-repeat="alert in ls.alerts" type="{{alert.type}}" close="ls.alerts.splice($index, 1);" dismiss-on-timeout="5000" ng-class="['alert-' + (alert.type || 'warning') ]">{{alert.msg}}</div>
        <form class="form-horizontal text-left" name="notes" novalidate>
                <div class="row">
                        <div class="col-sm-12 margin-top">
                          <textarea ui-tinymce="ls.tinymceOptions" ng-model="ls.obj.customer_notes" class="variable_assign" >{{ls.obj.customer_notes}}</textarea>
                          <input name="image" type="file" id="upload" class="hidden" onchange="">
                        </div>
                </div>
        </form>
      </div>
      <div class="section-title">
        <h2>{l}Attachments{endl}</h2>
      </div><!-- /.section-title -->
            <div class="section-content">
                <div class="row">
                  <div class="col-xs-12 col-bottom">
                    <div class="upload-box1 col-xs-12">
                      <p class="text-muted">{l}Invoices attachments{endl}</p>
                      <div class="upload-file1 hidden">
                        <div class="row">
                          <div class="upload-file-image1 col-xs-4">
                            <img class="img-thumbnail1" src="images/storedemo.png" width="232" height="60" alt=""/>
                          </div>
                          <div class="upload-file-info1 col-xs-8">
                            <p class="nameOfTheFile1"></p>
                            <div class="upload-progress">
                              <div class="upload-progress-bar1" style="width: 88%;"></div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <input type="file" name="file" class="newUploadFile3" accept=".gif,.jpg,.jpeg,.pdf,.docx">
                      <p class="text-center"><button class="btn btn-default" ng-click="ls.attachement_files(ls,$event)"><span class="glyphicon glyphicon-cloud-upload"></span> {l}Upload{endl}</button></p>
                    </div><!-- /.upload-box -->
                  </div>
                </div>
                <table class="table">
                  <thead>
                    <tr>
                      <th class="col-sm-1 text-center">{l}Default{endl}</th>
                      <th class="col-sm-10">{l}Name{endl}</th>
                      <th class="col-sm-1 table_actions text-center">{l}Action{endl}</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr ng-repeat="item in ls.atachment">
                      <td class="text-center">
                        <div class="checkbox checkbox-primary">
                          <input type="checkbox" id="checkbox_{{$index}}" ng-model="item.checked" ng-click="ls.defaultcheck(ls,item.file_id,item.file,item.checked,notes)"  >
                          <label for="checkbox_{{$index}}"></label>
                        </div>
                      </td>
                      <td><a href="{{item.path}}" class="text-link" target="_blank">{{item.file}}</a></td>
                      <td class="text-center">
                        <a href="#" ng-click="ls.deleteatach(ls,item.file_id,item.file,notes)"><span class="fa fa-trash text-primary"></span></a>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div><!-- /.section-content -->
    </div>
  </div>
  <div class="row">
<div class="col-sm-12 text-right">
        <button class="btn btn-plain" type="button" ng-click="ls.cancel()">{l}Cancel{endl}</button>
        <button class="btn btn-default" type="button" ng-disabled="ls.checkForm(addCustomer)" ng-if="ls.obj.add_customer" ng-click="ls.ok(addCustomer)">{{ls.save_button_text}}</button>
        <button class="btn btn-default" type="button" ng-disabled="ls.checkForm(financial)" ng-if="ls.obj.add_contact" ng-click="ls.ok(financial)">{{ls.save_button_text}}</button>
        <button class="btn btn-default" type="button" ng-disabled="ls.checkForm(notes)" ng-if="ls.obj.add_notes" ng-click="ls.ok(notes)">{{ls.save_button_text}}</button>
    </div>
  </div>
</div><!-- neede on all pages -->