<div class="container">
  <div class="row page-content">
    <div class="col-xs-12 tabs-settings">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-3">
          <div class="page-header">
            <h1>{l}Account Module{endl}</h1>
          </div><!-- /.page-header -->
          <ul class="nav nav-tabs tabs-settings-nav">
            <li class="active"><a href="#customisefields" aria-controls="customisefields" data-toggle="tab"
                ng-click="ls.load('customerFields','customerFields')">{l}Accounts{endl}</a></li>
            <li><a href="#customiseContactfields" aria-controls="customiseContactfields" data-toggle="tab"
                ng-click="ls.load('contactFields','contactFields')">{l}Contacts{endl}</a></li>
            <!-- <li><a href="#extraFields" aria-controls="extraFields" data-toggle="tab"
                ng-click="ls.load('extraFields','extraFields')">{l}Custom fields{endl}</a></li>
            <li><a href="#custRef" aria-controls="custRef" data-toggle="tab"
                ng-click="ls.load('custRef','custRef')">{l}References{endl}</a></li> -->
            <li><a href="#restore" aria-controls="restore" data-toggle="tab"
                ng-click="ls.load('restore','restore')">{l}Backup &amp; restore{endl}</a></li>
            <li class="hidden"><a href="#emailMessage" aria-controls="emailMessage" data-toggle="tab"
                ng-click="ls.load('emailMessage','message')">{l}Restore data{endl}</a></li>
            <!-- <li ><a href="#paymentTerm" aria-controls="paymentTerm" data-toggle="tab" ng-click="ls.load('paymentTerm','paymentTerm')">{l}Payment Term{endl}</a></li> -->
            <li class="hidden"><a href="#expenses" aria-controls="expenses" data-toggle="tab"
                ng-click="ls.load('expenses','expenses')">{l}Opportunity{endl}</a></li>
            <li class="hidden"><a href="#weblink" aria-controls="weblink" data-toggle="tab"
                ng-click="ls.load('weblink','weblink')">{l}Categorisation{endl}</a></li>
            <li class="hidden"><a href="#weblink" aria-controls="weblink" data-toggle="tab"
                ng-click="ls.load('weblink','weblink')">{l}Customers settings{endl}</a></li>
            <li class="hidden"><a href="#weblink" aria-controls="weblink" data-toggle="tab"
                ng-click="ls.load('weblink','weblink')">{l}Messages{endl}</a></li>
          </ul><!-- /.tabs-settings-nav -->
        </div>
        <div class="col-xs-12 col-sm-12 col-md-8 tab-content tabs-settings-content">
          <div class="tab-pane fade in active" id="customisefields">
            <!-- <div uib-alert ng-repeat="alert in ls.alerts" type="{{alert.type}}" close="ls.alerts.splice($index, 1);"
              dismiss-on-timeout="5000" ng-class="['alert-' + (alert.type || 'warning'), 'alert-fixed'  ]">{{alert.msg}}
            </div> -->
            <div class="section-title">
              <h2>{l}Accounts{endl}</h2>
            </div><!-- /.section-title -->
            <div class="section-title">
              <h3>{l}Default Fields{endl}</h3>
            </div><!-- /.section-title -->
            <div class="section-content">
              <div class="row">
                <div class="col-xs-12">
                  <table class="table table_orders" cellspacing="0" cellpadding="0">
                    <thead>
                      <tr>
                        <th>
                          <div class="row">
                            <div class="col-xs-3 col-sm-3">{l}Label{endl}</div>
                            <div class="col-xs-3 col-sm-3 text-center">{l}Show on page{endl}</div>
                            <!-- <div class="col-xs-2 col-sm-2 text-center">{l}Default show on page{endl}</div> -->
                            <div class="col-xs-3 col-sm-3 text-center">{l}Show on creation{endl}</div>
                            <div class="col-xs-3 col-sm-3 text-center">{l}Manage list of entries{endl}</div>
                          </div>
                        </th>
                      </tr>
                    </thead>
                  </table>
                  <div class="">
                    <ul class="table table_orders sort_column drag_table manage_list" role="tablist"
                      data-as-sortable="ls.dragCustomerControlListeners" data-ng-model="ls.customerFields.linesObj">
                      <li role="presentation" ng-repeat="item in ls.customerFields.linesObj" data-as-sortable-item>
                        <div class="row" data-as-sortable-item-handle>
                          <div class="row_handler">
                            <span class="btn-drag drop">&nbsp;</span>
                          </div>
                          <div class="col-xs-3 col-sm-3">
                            {{item.label}}
                          </div>
                          <div class="col-xs-3 col-sm-3 text-center">
                            <div class="checkbox checkbox-primary" ng-if="!item.is_custom">
                              <input type="checkbox" value="1" id="{{item.model}}_{{item.checkbox_id}}"
                                ng-model="item[item.model]"
                                ng-click="ls.saveData(item.save_field,item[item.model],
                                                                        [item.model,item.save_value,item.save_attribute])">
                              <label for="{{item.model}}_{{item.checkbox_id}}"></label>
                            </div>
                            <div class="checkbox checkbox-primary" ng-if="item.is_custom">
                              <input type="checkbox" value="1" id="checkbox_extra_{{$index}}" ng-model="item.value"
                                ng-click="ls.saveData(item.save_value,item)">
                              <label for="checkbox_extra_{{$index}}"></label>
                            </div>
                          </div>
                          <!-- <div class="col-xs-3 col-sm-3 text-center">
                            <div class="checkbox checkbox-primary" ng-if="!item.is_custom">
                              <input type="checkbox" value="1" id="{{item.model_d}}_{{item.checkbox_id_d}}"
                                ng-model="item[item.model_d]" ng-disabled="!item[item.model]"
                                ng-click="ls.saveData(item.save_field,item[item.model_d],[item.model,item.save_value_d])">
                              <label for="{{item.model_d}}_{{item.checkbox_id_d}}"></label>
                            </div>
                            <div class="checkbox checkbox-primary" ng-if="item.is_custom">
                              <input type="checkbox" value="1" id="checkbox_extra1_{{$index}}"
                                ng-model="item.value_default" ng-disabled="!item.value"
                                ng-click="ls.saveData(item.save_value_d,item)">
                              <label for="checkbox_extra1_{{$index}}"></label>
                            </div>
                          </div> -->
                          <div class="col-xs-3 col-sm-3 text-center">
                            <div class="checkbox checkbox-primary" ng-if="!item.is_custom">
                              <input type="checkbox" value="1" id="{{item.model_c}}_{{item.checkbox_id_c}}"
                                ng-model="item[item.model_c]" ng-disabled="!item[item.model]"
                                ng-click="ls.saveData(item.save_field,item[item.model_c],[item.model,item.save_value_c])">
                              <label for="{{item.model_c}}_{{item.checkbox_id_c}}"></label>
                            </div>
                            <div class="checkbox checkbox-primary" ng-if="item.is_custom">
                              <input type="checkbox" value="1" id="checkbox_extra2_{{$index}}"
                                ng-model="item.value_creation" ng-disabled="!item.value"
                                ng-click="ls.saveData(item.save_value_c,item)">
                              <label for="checkbox_extra2_{{$index}}"></label>
                            </div>
                          </div>
                          <div class="col-xs-3 col-sm-3 text-center">
                            <div class="table_actions" ng-if="item.editInfo.editStatus && !item.is_custom">
                              <div class="btn-group" uib-dropdown>
                                <button type="button" class="btn btn-plain dropdown-toggle" uib-dropdown-toggle>
                                  <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu dropdown-menu-right" uib-dropdown-menu>
                                  <li class="dropdown-header">{l}Action{endl}</li>
                                  <li><a href="#"
                                      ng-click="ls.openModal('selectEdit',item.editInfo.editParameter,'md')"><span
                                        class="fas fa-pen text-primary"></span> {l}Edit{endl}</a>
                                  </li>
                      </li>
                    </ul>
                  </div>
  
                </div>
                <div class="table_actions" ng-if="item.is_custom && item.is_dd">
                  <div class="btn-group" uib-dropdown>
                    <button type="button" class="btn btn-plain dropdown-toggle" uib-dropdown-toggle>
                      <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-right" uib-dropdown-menu>
                      <li class="dropdown-header">{l}Action{endl}</li>
                      <li><a href="#"
                          ng-click="ls.openModal('selectEdit',item.edit_parameter,'md','',item.field_id)"><span
                            class="fas fa-pen text-primary"></span> {l}Edit{endl}</a>
                      </li>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            </li>
            </ul>
           
            <div class="section-content">
              <div class="row">
                <div class="col-xs-12">
                  <div class="section-title">
                    <h3>{l}Custom Fields{endl} &nbsp;	 <span class="block-inline col-right">
                      <button type="button" class="btn btn-primary btn-add" ng-click="ls.saveData('add_field','add_field')" tooltip-placement="top"><span class="btn-add_icon"><span class="icon-bar"></span><span class="icon-bar-2"></span></span></button>
                    </span></h3>
                   
                  </div><!-- /.section-title -->
                  <!-- <p class="col-top col-bottom text-muted">
                    <span class="block-inline col-right">
                      <button type="button" class="btn btn-primary btn-add" ng-click="ls.saveData('add_field','add_field')" uib-tooltip="{l}Add field{endl}" tooltip-placement="top"><span class="btn-add_icon"><span class="icon-bar"></span><span class="icon-bar-2"></span></span></button>
                    </span>
                    {l}Custom fields for companies{endl}
                  </p> -->
                  <div class="form-horizontal text-left col-bottom">
                    <div class="form-group" ng-repeat="item in ls.extraFields.customer_fields">
                      <div class="col-xs-4 col-sm-4">
                        <input type="text" class="form-control ng-pristine ng-untouched ng-valid" ng-blur="ls.saveData('customer_fields',item,['update_field'])" ng-model="item.value">
                      </div>
                      <div class="succes_add_cls crm_mn crm-settings">
                        <i ng-if="item.add_field_succes" class="fa fa-check-square fa-2x text-success" aria-hidden="true"></i>
                      </div>
                      <div class="col-xs-4 col-sm-3 col-sm-offset-4 checkbox checkbox-primary">
                          <input type="checkbox" name="" value="1" id="checkbox_comp_{{$index}}" ng-click="ls.saveData('customer_fields',item,['update_field'],true)" ng-model="item.checked" ng-disabled="item.checked"> {l}Make dropdown{endl}
                        <label for="checkbox_comp_{{$index}}">                          
                        </label>
                        <div class="succes_add_cls crm_mn">
                          <i ng-if="item.succes_add" class="fa fa-check-square fa-2x text-success" aria-hidden="true"></i>
                        </div>
                      </div>
                      <div class="col-xs-1 col-sm-1">
                        <a href="" class="btn-remove" ng-click="ls.saveData('customer_fields',item,['delete_field'])"><span class="fa fa-trash"></span></a>
                      </div>
                    </div>
                  </div>
               
                
                </div>
              </div>
            </div>
            <div class="section-title">
              <div class="row">
                <div class="col-xs-4">
                  <h3>{l}Accounts Reference{endl}</h3>
                </div>
              </div>
            </div><!-- /.section-title -->
            <div class="section-content">
              <div class="row">
                <div class="col-xs-12">
                  <!-- <p class="text-muted col-bottom">{l}Chose the naming convention for company.{endl}</p> -->
                  <form class="form-horizontal ng pristine ng valid">
                    <div class="form-group">
                      <label class="col-xs-5 control-label text-left" for="inputEmail">
                        {l}Use company number{endl}</label>
                      <div class="col-xs-7 toggle_switch">
                        <!-- <div class="col-xs-3 checkbox checkbox-primary"> -->
                        <!-- <input class="" type="checkbox" id="checkbox_number" ng-change="ls.saveData('custRef','custRef')" ng-model="ls.custRef.use_company_number">
                        <label for="checkbox_number">
                          
                        </label> -->
                        <label class="switch">
                          <input type="checkbox" id="checkbox_number" ng-change="ls.saveData('custRef','custRef')" ng-model="ls.custRef.use_company_number">
                          <span class="slider round"></span>
                        </label>
                      </div>
    
                    </div>
                    <div class="form-group" ng-show="ls.custRef.use_company_number">
                      <label class="col-xs-5 control-label text-left" for="inputPassword">
                        {l}No. of digits{endl}</label>
                      <div class="col-xs-3">
                        <input id="inputPassword" class="form-control" type="text" ng-blur="ls.saveData('custRef','custRef')" ng-model="ls.custRef.inc_part_c" >
                      </div>
                    </div>
    <!--                     <div class="form-group" ng-show="ls.custRef.use_company_number">
                      <label class="col-md-4 control-label text-left" for="inputReference">
                        {l}First reference to use{endl}?
                      </label>
                      <div class="col-xs-4">
                        <input id="inputReference" type="text" class="form-control" ng-blur="ls.saveData('custRef','custRef')" ng-model="ls.custRef.first_reference_c" >
                      </div>
                    </div> -->
                    <div>
                      <a href="" class="text-link" ng-click="ls.modal(ls.custRef,'cTemplate/reference','ReferenceCtrl','md')">{l}Insert customer reference for existing customer that don't have company number.{endl}</a>
                    </div>
                    
                  </form>
                </div>
              </div>
            </div>
  
          </div>
          
        </div>
        
        
      </div>
    </div>
  </div>
            
          <div class="tab-pane fade" id="customiseContactfields">
            <!-- <div uib-alert ng-repeat="alert in ls.alerts" type="{{alert.type}}" close="ls.alerts.splice($index, 1);" dismiss-on-timeout="5000" ng-class="['alert-' + (alert.type || 'warning'), 'alert-fixed'  ]">{{alert.msg}}</div> -->
            <div class="section-title">
              <div class="row">
                <div class="col-xs-4">
                  <h2>{l}Contacts{endl}</h2>
                </div>
              </div>
            </div>
            <div class="section-title">
              <div class="row">
                <div class="col-xs-4">
                  <h3>{l}Default Fields{endl}</h3>
                </div>
              </div>
            </div><!-- /.section-title -->
            <div class="section-content">
                <div class="row">
                    <div class="col-xs-12">
                      <table class="table table_orders" cellspacing="0" cellpadding="0">
                          <thead>
                            <tr>
                              <th>
                                <div class="row">
                                  <div class="col-xs-3 col-sm-3">{l}Label{endl}</div>
                                  <div class="col-xs-2 col-sm-2 text-center">{l}Show on page{endl}</div>
                                  <div class="col-xs-2 col-sm-2 text-center">{l}Default show on page{endl}</div>
                                  <div class="col-xs-2 col-sm-2 text-center">{l}Show on creation{endl}</div>
                                  <div class="col-xs-3 col-sm-3 text-center">{l}Manage list of entries{endl}</div>      
                                </div>
                              </th>
                            </tr>
                          </thead>
                        </table>
                        <div class="">
                            <ul class="table table_orders sort_column drag_table manage_list" role="tablist" data-as-sortable="ls.dragControlListeners" data-ng-model="ls.contactFields.linesObj">
                              <li role="presentation" ng-repeat="item in ls.contactFields.linesObj" data-as-sortable-item>
                                <div class="row" data-as-sortable-item-handle>
                                  <div class="row_handler">
                                    <span class="btn-drag drop">&nbsp;</span>
                                  </div>
                                  <div class="col-xs-3 col-sm-3">
                                    {{item.label}}
                                  </div>
                                  <div class="col-xs-2 col-sm-2 text-center">
                                    <div class="checkbox checkbox-primary" ng-if="!item.is_custom">
                                      <input type="checkbox" value="1" id="{{item.model}}_{{item.checkbox_id}}_check" ng-model="item[item.model]" 
                                      ng-click="ls.saveData(item.save_field,item[item.model],
                                      [item.model,item.save_value,item.save_attribute])" 
                                      >
                                        <label for="{{item.model}}_{{item.checkbox_id}}_check"></label>
                                    </div>
                                    <div class="checkbox checkbox-primary" ng-if="item.is_custom">
                                      <input type="checkbox" value="1" id="checkbox_ex_{{$index}}" ng-model="item.value" 
                                      ng-click="ls.saveData(item.save_value,item)" 
                                      >
                                        <label for="checkbox_ex_{{$index}}"></label>
                                    </div>
                                  </div>
                                  <div class="col-xs-2 col-sm-2 text-center">
                                    <div class="checkbox checkbox-primary" ng-if="!item.is_custom">
                                      <input type="checkbox" value="1" id="{{item.model_d}}_{{item.checkbox_id_d}}_check" ng-model="item[item.model_d]" ng-disabled="!item[item.model]"
                                      ng-click="ls.saveData(item.save_field,item[item.model_d],[item.model,item.save_value_d])"
                                      >
                                      <label for="{{item.model_d}}_{{item.checkbox_id_d}}_check"></label>
                                    </div>
                                    <div class="checkbox checkbox-primary" ng-if="item.is_custom">
                                      <input type="checkbox" value="1" id="checkbox_ex1_{{$index}}" ng-model="item.value_default" ng-disabled="!item.value"
                                      ng-click="ls.saveData(item.save_value_d,item)"
                                      >
                                      <label for="checkbox_ex1_{{$index}}"></label>
                                    </div>    
                                  </div>
                                  <div class="col-xs-2 col-sm-2 text-center">
                                    <div class="checkbox checkbox-primary" ng-if="!item.is_custom">
                                      <input type="checkbox" value="1" id="{{item.model_c}}_{{item.checkbox_id_c}}_check" ng-model="item[item.model_c]" ng-disabled="!item[item.model]"
                                      ng-click="ls.saveData(item.save_field,item[item.model_c],[item.model,item.save_value_c])"
                                      >
                                      <label for="{{item.model_c}}_{{item.checkbox_id_c}}_check"></label>
                                    </div>
                                    <div class="checkbox checkbox-primary" ng-if="item.is_custom">
                                      <input type="checkbox" value="1" id="checkbox_ex2_{{$index}}" ng-model="item.value_creation" ng-disabled="!item.value"
                                      ng-click="ls.saveData(item.save_value_c,item)"
                                      >
                                      <label for="checkbox_ex2_{{$index}}"></label>
                                    </div>
                                  </div>
                                  <div class="col-xs-3 col-sm-3 text-center">
                                      <div class="table_actions" ng-if="item.editInfo.editStatus && !item.is_custom">
                                            <div class="btn-group" uib-dropdown>
                                              <button type="button" class="btn btn-plain dropdown-toggle" uib-dropdown-toggle>
                                                <span class="caret"></span>
                                              </button>
                                              <ul class="dropdown-menu dropdown-menu-right" uib-dropdown-menu>
                                                <li class="dropdown-header">{l}Action{endl}</li>
                                                    <li><a href="#" ng-click="ls.openModal('selectEdit',item.editInfo.editParameter,'md')" ><span class="fas fa-pen text-primary"></span> {l}Edit{endl}</a>
                                                    </li>
                                                </li>
                                              </ul>
                                            </div>
                                      </div>
                                      <div class="table_actions" ng-if="item.is_custom && item.is_dd">
                                            <div class="btn-group" uib-dropdown>
                                              <button type="button" class="btn btn-plain dropdown-toggle" uib-dropdown-toggle>
                                                <span class="caret"></span>
                                              </button>
                                              <ul class="dropdown-menu dropdown-menu-right" uib-dropdown-menu>
                                                <li class="dropdown-header">{l}Action{endl}</li>
                                                    <li><a href="#" ng-click="ls.openModal('selectEdit',item.edit_parameter,'md','',item.field_id)" ><span class="fas fa-pen text-primary"></span> {l}Edit{endl}</a>
                                                    </li>
                                                </li>
                                              </ul>
                                            </div>
                                      </div>
                                  </div>
                                </div>
                              </li>
                            </ul>    
                        </div>            
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-xs-12">
                      <!-- <p class="col-top col-bottom text-muted">
                        <span class="block-inline col-right">
                          <button type="button" class="btn btn-primary btn-add" ng-click="ls.saveData('add_field','add_contact_field')"
                            uib-tooltip="{l}Add field{endl}" tooltip-placement="top"><span class="btn-add_icon"><span
                                class="icon-bar"></span><span class="icon-bar-2"></span></span></button>
                        </span>
                        {l}Custom fields for contact{endl}
                      </p> -->
                      <div class="section-title">
                      <h3>{l}Custom Fields{endl}  &nbsp;	<span class="block-inline col-right">
                        <button type="button" class="btn btn-primary btn-add" ng-click="ls.saveData('add_field','add_contact_field')"
                           tooltip-placement="top"><span class="btn-add_icon"><span
                              class="icon-bar"></span><span class="icon-bar-2"></span></span></button>
                      </span></h3></div>
                      <div class="form-horizontal text-left col-bottom">
                        <div class="form-group" ng-repeat="i in ls.extraFields.contact_fields">
                          <div class="col-xs-4 col-sm-4">
                            <input type="text" class="form-control ng-pristine ng-untouched ng-valid"
                              ng-blur="ls.saveData('customer_fields',i,['update_contact_field'])" ng-model="i.value">
                          </div>
                          <div class="succes_add_cls crm_mn crm-settings">
                            <i ng-if="i.add_field_succes" class="fa fa-check-square fa-2x text-success" aria-hidden="true"></i>
                          </div>
                          <div class="col-xs-4 col-sm-3 col-sm-offset-4 checkbox checkbox-primary">
                            <input type="checkbox" name="" value="1" id="checkbox_cont_{{$index}}"
                              ng-click="ls.saveData('customer_fields',i,['update_contact_field'],true)" ng-model="i.checked"
                              ng-disabled="i.checked"> {l}Make dropdown{endl}
                            <label for="checkbox_cont_{{$index}}">
                  
                            </label>
                            <div class="succes_add_cls crm_mn">
                              <i ng-if="i.succes_add" class="fa fa-check-square fa-2x text-success" aria-hidden="true"></i>
                            </div>
                          </div>
                          <div class="col-xs-1 col-sm-1">
                            <a href="" class="btn-remove" ng-click="ls.saveData('customer_fields',i,['delete_contact_field'])"><span
                                class="fa fa-trash"></span></a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

            <div class="section-title">
                <div class="row">
                  <div class="col-xs-4">
                    <h3>{l}Account related fields{endl}</h3>
                  </div>
                </div>
              </div><!-- /.section-title -->

            <div class="section-content">
                <div class="row">
                    <div class="col-xs-12">
                      <table class="table table_orders" cellspacing="0" cellpadding="0">
                          <thead>
                            <tr>
                              <th>
                                <div class="row">
                                  <div class="col-sm-3">{l}Label{endl}</div>
                                  <div class="col-sm-2 text-center">{l}Show on page{endl}</div>
                                  <div class="col-sm-2 text-center">{l}Default show on page{endl}</div>
                                  <div class="col-sm-2 text-center">{l}Show on creation{endl}</div>
                                  <div class="col-sm-3 text-center">{l}Manage list of entries{endl}</div>      
                                </div>
                              </th>
                            </tr>
                          </thead>
                        </table>
                        <div class="row">
                            <ul class="table table_orders sort_column drag_table manage_list" role="tablist" data-as-sortable="ls.dragControlListeners" data-ng-model="ls.contactFields.accountRelatedObj">
                              <li role="presentation" ng-repeat="item in ls.contactFields.accountRelatedObj" data-as-sortable-item>
                                <div class="row" data-as-sortable-item-handle>
                                  <div class="row_handler">
                                    <span class="btn-drag drop">&nbsp;</span>
                                  </div>
                                  <div class="col-sm-3">
                                    {{item.label}}
                                  </div>
                                  <div class="col-sm-2 text-center">
                                    <div class="checkbox checkbox-primary" ng-if="!item.is_custom">
                                      <input type="checkbox" value="1" id="{{item.model}}_{{item.checkbox_id}}" ng-model="item[item.model]" 
                                      ng-click="ls.saveData(item.save_field,item[item.model],[item.model,item.save_value,item.save_attribute])">
                                        <label for="{{item.model}}_{{item.checkbox_id}}"></label>
                                    </div>
                                    <div class="checkbox checkbox-primary" ng-if="item.is_custom">
                                      <input type="checkbox" value="1" id="checkbox_ex_{{$index}}" ng-model="item.value" 
                                      ng-click="ls.saveData(item.save_value,item)" 
                                      >
                                        <label for="checkbox_ex_{{$index}}"></label>
                                    </div>
                                  </div>
                                  <div class="col-sm-2 text-center">
                                    <div class="checkbox checkbox-primary" ng-if="!item.is_custom">
                                      <input type="checkbox" value="1" id="{{item.model_d}}_{{item.checkbox_id_d}}" ng-model="item[item.model_d]" ng-disabled="!item[item.model]"
                                      ng-click="ls.saveData(item.save_field,item[item.model_d],[item.model,item.save_value_d])"
                                      >
                                      <label for="{{item.model_d}}_{{item.checkbox_id_d}}"></label>
                                    </div>
                                    <div class="checkbox checkbox-primary" ng-if="item.is_custom">
                                      <input type="checkbox" value="1" id="checkbox_ex1_{{$index}}" ng-model="item.value_default" ng-disabled="!item.value"
                                      ng-click="ls.saveData(item.save_value_d,item)"
                                      >
                                      <label for="checkbox_ex1_{{$index}}"></label>
                                    </div>    
                                  </div>
                                  <div class="col-sm-2 text-center">
                                    <div class="checkbox checkbox-primary" ng-if="!item.is_custom">
                                      <input type="checkbox" value="1" id="{{item.model_c}}_{{item.checkbox_id_c}}" ng-model="item[item.model_c]" ng-disabled="!item[item.model]"
                                      ng-click="ls.saveData(item.save_field,item[item.model_c],[item.model,item.save_value_c])"
                                      >
                                      <label for="{{item.model_c}}_{{item.checkbox_id_c}}"></label>
                                    </div>
                                    <div class="checkbox checkbox-primary" ng-if="item.is_custom">
                                      <input type="checkbox" value="1" id="checkbox_ex2_{{$index}}" ng-model="item.value_creation" ng-disabled="!item.value"
                                      ng-click="ls.saveData(item.save_value_c,item)"
                                      >
                                      <label for="checkbox_ex2_{{$index}}"></label>
                                    </div>
                                  </div>
                                  <div class="col-sm-3 text-center">
                                      <div class="table_actions" ng-if="item.editInfo.editStatus && !item.is_custom">
                                            <div class="btn-group" uib-dropdown>
                                              <button type="button" class="btn btn-plain dropdown-toggle" uib-dropdown-toggle>
                                                <span class="caret"></span>
                                              </button>
                                              <ul class="dropdown-menu dropdown-menu-right" uib-dropdown-menu>
                                                <li class="dropdown-header">{l}Action{endl}</li>
                                                    <li><a href="#" ng-click="ls.openModal('selectEdit',item.editInfo.editParameter,'md')" ><span class="fas fa-pen text-primary"></span> {l}Edit{endl}</a>
                                                    </li>
                                                </li>
                                              </ul>
                                            </div>
                                      </div>
                                      <div class="table_actions" ng-if="item.is_custom && item.is_dd">
                                            <div class="btn-group" uib-dropdown>
                                              <button type="button" class="btn btn-plain dropdown-toggle" uib-dropdown-toggle>
                                                <span class="caret"></span>
                                              </button>
                                              <ul class="dropdown-menu dropdown-menu-right" uib-dropdown-menu>
                                                <li class="dropdown-header">{l}Action{endl}</li>
                                                    <li><a href="#" ng-click="ls.openModal('selectEdit',item.edit_parameter,'md','',item.field_id)" ><span class="fas fa-pen text-primary"></span> {l}Edit{endl}</a>
                                                    </li>
                                                </li>
                                              </ul>
                                            </div>
                                      </div>
                                  </div>
                                </div>
                              </li>
                            </ul>    
                        </div>   
                           
                    </div>
                  </div>
                </div>    

                </div>
            </div>        

          <!-- <div class="tab-pane fade" id="extraFields">
            <div uib-alert ng-repeat="alert in ls.alerts" type="{{alert.type}}" close="ls.alerts.splice($index, 1);" dismiss-on-timeout="5000" ng-class="['alert-' + (alert.type || 'warning') ]">{{alert.msg}}</div>
        
          </div>
          <div class="tab-pane fade" id="custRef">
            <div uib-alert ng-repeat="alert in ls.alerts" type="{{alert.type}}" close="ls.alerts.splice($index, 1);" dismiss-on-timeout="5000" ng-class="['alert-' + (alert.type || 'warning') ]">{{alert.msg}}</div>
            
          </div> -->
          <div class="tab-pane fade" id="restore">
            <!-- <div uib-alert ng-repeat="alert in ls.alerts" type="{{alert.type}}" close="ls.alerts.splice($index, 1);" dismiss-on-timeout="5000" ng-class="['alert-' + (alert.type || 'warning') ]">{{alert.msg}}</div> -->
            <form class="form-horizontal ng pristine ng valid">
              <div class="section-title">
                <div class="row">
                  <div class="col-xs-12">
                    <!-- <h2>{l}Restore / Cleanup CRM data{endl}</h2> -->
                    <h2>{l}Backup &amp; restore{endl}</h2>
                  </div>
                </div>
              </div><!-- /.section-title -->
              <div class="section-content">
               <form class="form-horizontal">
                  <div class="form-group">
                    <div class="col-xs-4">
                        <label>{l}Backup{endl}</label>
                    </div>
                    <div class="col-xs-4 text-left">
<!--                           <select class="form-control" ng-model="ls.erase.file_id">
                            <option value="0">{l}Select file{endl}</option>
                            <option ng-repeat="option in ls.erase.filebackup track by option.id" value="{{option.id}}">{{option.value}}</option>
                          </select> -->
                          <selectize config="ls.cfg" options="ls.erase.filebackup" ng-model="ls.erase.file_id" ></selectize>
                    </div>
                    <div class="col-xs-4 text-right">
                          <button type="submit" class="btn btn-default" ng-disabled="ls.erase.file_id==0 || !ls.erase.file_id" confirm="{l}Are you sure, you wanna backup your data? Please select a file to overwrite.{endl}" confirm-title="{{ls.erase.confirm}}" confirm-ok="{{ls.erase.ok}}" confirm-cancel="{{ls.erase.cancel}}" ng-click="ls.saveData('backup')">{l}Backup data{endl}</button>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-xs-4">
                        <label>{l}Restore data{endl}</label>
                    </div>
                    <div class="col-xs-4 text-left">
<!--                           <select class="form-control" ng-model="ls.erase.file2_id">
                            <option value="0">{l}Select file{endl}</option>
                            <option ng-repeat="option in ls.erase.filebackup track by option.id" value="{{option.id}}">{{option.value}}</option>
                          </select> -->
                           <selectize config="ls.cfg" options="ls.erase.filerestore" ng-model="ls.erase.file2_id" ></selectize>
                    </div>
                    <div class="col-xs-4 text-right">
                          <button type="submit" class="btn btn-default" ng-disabled="ls.erase.file2_id==0 || !ls.erase.file2_id" confirm="{l}Are you sure you want to restore your backup data?{endl}" confirm-title="{{ls.erase.confirm}}" confirm-ok="{{ls.erase.ok}}" confirm-cancel="{{ls.erase.cancel}}" ng-click="ls.saveData('restore')">{l}Restore{endl}</button>
                    </div>
                  </div>
                  <!-- <div class="section-title">
                    <div class="row">
                      <div class="col-xs-4">
                        <h2>{l}Clean CRM{endl}</h2>
                      </div>
                    </div>
                  </div> -->
                  <div class="form-group">
                    <div class="col-xs-8 col-sm-10">
                        <label>{l}Erase data from Crm{endl}</label>
                    </div>
                    <div class="col-xs-4 col-sm-2 text-right" >
                      <button type="submit" class="btn btn-default" confirm="{l}Are you sure, you wanna erase your data? Make sure you backup your data first!{endl}" ng-click="ls.saveData('erase')">{l}Erase data{endl}</button>
                    </div>
                  </div>
                </form>
              </div>
            </form>
          </div><!-- /.tab-pane -->
<!--           <div class="tab-pane fade" id="paymentTerm">
            <div uib-alert ng-repeat="alert in ls.alerts" type="{{alert.type}}" close="ls.alerts.splice($index, 1);" dismiss-on-timeout="5000" ng-class="['alert-' + (alert.type || 'warning') ]">{{alert.msg}}</div>
            <div class="section-title">
              <div class="row">
                <div class="col-xs-4">
                  <h2>{l}Payment Term{endl}</h2>
                </div>
              </div>
            </div>
            <div class="section-content">
              <div class="row">
                <div class="col-xs-12">
                  <p class="text-muted col-bottom">{l}Payment term info.{endl}</p>
                  <form class="form-horizontal">
                    <div class="form-group">
                      <label class="col-xs-4 control-label text-left" for="inputPaymentTerm">
                        {l}Payment term(days){endl}</label>
                      <div class="col-xs-4">
                        <input id="inputPaymentTerm" class="form-control" type="text" ng-blur="ls.saveData('paymentTerm')" ng-model="ls.paymentTerm.payment_term" >
                      </div>
                    </div>
                    <div class="form-group" >
                      <label class="col-xs-4 control-label text-left" >
                        {l}Payment term type{endl}
                      </label>
                      <div class="col-xs-8 radio">
                        <label>
                          <input class="" type="radio" ng-change="ls.saveData('paymentTerm')" ng-model="ls.paymentTerm.choose_payment_term_type" value="1" >&nbsp; {l}Payment term(days) from the invoice date{endl}
                        </label>
                      </div>
                      <div class="col-xs-8 col-xs-offset-4 radio">
                        <label>
                          <input class="" type="radio" ng-change="ls.saveData('paymentTerm')" ng-model="ls.paymentTerm.choose_payment_term_type" value="2" >&nbsp; {l}Payment term(days) from the first day of the next month{endl} 
                        </label>                            
                      </div>                          
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div> -->
        </div><!-- /.tabs-settings-content -->
      </div>
    </div><!-- /.tabs-settings -->
  </div><!-- /.page-content -->
</div><!-- neede on all pages -->
