<!-- <div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="ls.cancel()"><span aria-hidden="true">&times;</span></button>
  <h4 class="modal-title">{l}Activities{endl} {l}for{endl} {{ls.activities.customer_name}}</h4>
</div>
<div class="modal-body">
	<div class="loading_wrap loading_alt hidden">
      	<div class="loading"></div>
        <div class="spinner"></div>
    </div>
	<div class="col-xs-12 margin-bottom">
		<div uib-alert ng-repeat="alert in ls.alerts" type="{{alert.type}}" close="ls.alerts.splice($index, 1);" dismiss-on-timeout="3500" ng-class="['alert-' + (alert.type || 'warning') ]">{{alert.msg}}</div>
		<div class="ak_activities row">
			<div class="ak_activities_options form-horizontal text-left" ng-class="{ 'active':ls.showActivityForm}">
				<div class="ak_activities_subject">
					<input type="text" class="form-control" ng-model="ls.activity.comment" placeholder="{l}Add Subject{endl}">
					<div class="dropdown ak_activities_dropdown" uib-dropdown>
						<button class="btn btn-default btn-square dropdown-toggle" type="button" id="dropdownMenu1" uib-dropdown-toggle>
							{{ls.activityTxt}}
							<span class="caret"></span>
						</button>
						<ul class="dropdown-menu dropdown-menu-right" uib-dropdown-menu>
							<li class="dropdown-header">{l}Activity Type{endl}</li>
							<li><a href="#" ng-click="ls.showActivityF(true,'Note','2');"><span class="fa fa-sticky-note"></span> {l}Note{endl}</a></li>
							<li><a href="#" ng-click="ls.showActivityF(true,'Call','5');"><span class="fa fa-phone"></span> {l}Call{endl}</a></li>
							<li><a href="#" ng-click="ls.showActivityF(true,'E-mail','1');"><span class="fa fa-envelope"></span> {l}E-mail{endl}</a></li>
							<li><a href="#" ng-click="ls.showActivityF(true,'Meeting','4');"><span class="fa fa-calendar"></span> {l}Schedule{endl}</a></li>
							<li><a href="#" ng-click="ls.showActivityF(true,'Task','6');"><span class="akti-icon o_akti_checklist"></span> {l}Task{endl}</a></li>
							<li><a href="#" ng-if="ls.activities.is_zen" ng-click="ls.showActivityF(true,'Zendesk','7');"><span class="akti_zen"></span> {l}Zendesk Activity{endl}</a></li>
						</ul>
					</div>
				</div>
				<div class="ak_activities_form">
					<div class="user_summary user_summary-sm" ng-click="ls.showActivityiny = true;" ng-class="{ 'hidden':ls.showActivityiny }">
						<div class="text-summary cursor_pointer no_css_show_textarea">
							{l}Add Description{endl}
						</div>
					</div>
					<div class="ak_activities_description" ng-class="{ 'hidden':!ls.showActivityiny }">
						<textarea ui-tinymce="ls.tinymceOptions" class="variable_assign" ng-model="ls.activity.log_comment">
									</textarea>
					</div>
					<div class="form-group">
						<div class="col-xs-12">
							<div class="so-field">
								<span class="fa fa-building so-icon"></span>											
								<input type="text" class="form-control" ng-model="ls.activities.customer_name" readonly>
							</div>
						</div>
					</div>
					<div class="form-group">
						<div class="col-xs-12">
							<div class="so-field">
								<span class="fa fa-user so-icon"></span>
								<selectize config='ls.contactAutoCfg' options='ls.contactsActitivty' ng-model="ls.activity.contact_ids" id="contact_ids"></selectize>
							</div>
						</div>
					</div>
					<div class="form-group" ng-if="ls.activity.task_type=='4'" ng-show="!ls.activity.all_day_meet">
						<div class="col-xs-12">									
							<select class="form-control" ng-model="ls.activity.duration_meet" ng-change="ls.changeDuration()">
								<option value="">{l}Duration{endl}</option>
                                <option value="0-15">15 {l}minutes{endl}</option>
                                <option value="0-30">30 {l}minutes{endl}</option>
                                <option value="1-0">1 {l}hour{endl}</option>
                                <option value="2-0">2 {l}hours{endl}</option>
                                <option value="3-0">3 {l}hours{endl}</option>
							</select>
						</div>
					</div>
					<div class="form-group">
						<div class="col-xs-6">
							<div class="so-field">
								<span class="fa fa-calendar so-icon"></span>
								<input type="text" class="form-control" ng-model="ls.activity.date" uib-datepicker-popup="{{ls.format}}" is-open="ls.open.start_date" datepicker-options="ls.dateOptions" close-text="Close" placeholder="{l}Date{endl}" show-button-bar="false" ng-click="ls.open.start_date=true" ng-change="ls.changeTime(ls.activity.date,ls.activity.dateHours,true)">
							</div>
						</div>
						<div class="col-xs-6" ng-show="!ls.activity.all_day_meet">
							<div class="so-field">
								<span class="fa fa-clock-o so-icon"></span>
								<selectize config='ls.timeAutoCfg' options='ls.hours' ng-model="ls.activity.dateHours" ng-change="ls.changeTime(ls.activity.date,ls.activity.dateHours,true)"></selectize>
							</div>
						</div>
					</div>						
					<div class="form-group" ng-if="ls.activity.task_type=='4'" ng-show="!ls.activity.all_day_meet">
						<div class="col-xs-6">
							<div class="so-field">
								<span class="fa fa-calendar so-icon"></span>
								<input type="text" class="form-control" ng-model="ls.activity.end_d_meet" uib-datepicker-popup="{{ls.format}}" is-open="ls.open.end_d_meet" datepicker-options="ls.dateOptions" close-text="Close" placeholder="{l}End Date{endl}" show-button-bar="false" ng-click="ls.open.end_d_meet=true" ng-change="ls.changeTime(ls.activity.end_d_meet,ls.activity.dateEHours)">
							</div>
						</div>
						<div class="col-xs-6">
							<div class="so-field">
								<span class="fa fa-clock-o so-icon"></span>
								<selectize config='ls.timeAutoCfg' options='ls.hours' ng-model="ls.activity.dateEHours" ng-change="ls.changeTime(ls.activity.end_d_meet,ls.activity.dateEHours)"></selectize>
							</div>
						</div>
					</div>
					<div class="form-group" ng-if="ls.activity.task_type=='4'">
						<div class="col-xs-12 checkbox checkbox-primary">
							<input type="checkbox" id="checkbox3" ng-model="ls.activity.all_day_meet" ng-change="ls.checkAllDay()"> {l}All day event{endl}
						    <label for="checkbox3"></label>
						</div>
					</div>
					<div class="form-group" ng-if="ls.activity.task_type=='4' ">
						<div class="col-xs-12">
							<input type="text" class="form-control" ng-model="ls.activity.location_meet" placeholder="{l}Location{endl}" >						                
						</div>
					</div>
					<div class="form-group" ng-if="ls.activity.task_type=='5'">
						<div class="col-xs-6">
							<div class=" radio">
						        <label><input type="radio" ng-model="ls.activity.type_of_call" value="0"> {l}outgoing{endl}</label>
						    </div>
						</div>
						<div class="col-xs-6">
							<div class=" radio">
						        <label><input type="radio" ng-model="ls.activity.type_of_call" value="1"> {l}incoming{endl}</label>
						    </div>
						</div>
					</div>
					<div class="form-group" ng-if="ls.activity.task_type=='1'">
						<div class="col-xs-6">
							<div class=" radio">
						        <label><input type="radio" ng-model="ls.activity.type_of_call" value="0"> {l}outgoing email{endl}</label>
						    </div>
						</div>
						<div class="col-xs-6">
							<div class=" radio">
						        <label><input type="radio" ng-model="ls.activity.type_of_call" value="1"> {l}incoming email{endl}</label>
						    </div>
						</div>
					</div>
					<div class="user_summary user_summary-sm" ng-class="{ 'is-open':ls.activity.hd_events }">
						<div class="text-summary" ng-if="!ls.hideSwitch">
							<toggle-switch  ng-model="ls.activity.hd_events" on-change="" class="switch-primary ats-switch-sm pull-right" off-label="{l}No{endl}" on-label="{l}Yes{endl}"></toggle-switch>
										{l}Reminder{endl}
						</div>
						<div class="row">
							<div class="form-group">
								<div class="col-xs-12">
									<div class="so-field">
										<span class="fa fa-mail-forward so-icon"></span>
										<selectize config='ls.userAutoCfg' options='ls.activities.user_auto' ng-model="ls.activity.user_to_id"></selectize>
									</div>
								</div>
							</div>
							<div class="form-group">
								<div class="col-xs-6">
									<div class="so-field">
										<span class="fa fa-calendar so-icon"></span>
										<input type="text" class="form-control" ng-model="ls.activity.reminder_event" uib-datepicker-popup="{{ls.format}}" is-open="ls.open.reminder_date" datepicker-options="ls.dateOptions" close-text="Close" placeholder="{l}Date{endl}" show-button-bar="false" ng-click="ls.open.reminder_date=true" ng-change="ls.changeTime(ls.activity.reminder_event,ls.activity.reminderHours)">
									</div>
								</div>
								<div class="col-xs-6">
									<div class="so-field">
										<span class="fa fa-clock-o so-icon"></span>
										<selectize config='ls.timeAutoCfg' options='ls.hours' ng-model="ls.activity.reminderHours" ng-change="ls.changeTime(ls.activity.reminder_event,ls.activity.reminderHours)"></selectize>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="form-group ak_activities_actions">
						<div class="col-xs-12 text-right">
							<button class="btn btn-sm btn-plain no_css_hide_activities" ng-click="ls.showActivityF(false,'Type','');ls.showActivityiny = false;">{l}Cancel{endl}</button>
							<button class="btn btn-sm btn-default" ng-click="ls.addActivity()">{l}Add{endl}</button>
						</div>
					</div>
				</div>
			</div>
			<div class="ak_activities_entry" ng-repeat="item in ls.activities.item | limitTo:ls.activityNumber track by $index" ng-class="{ 'active': item.color=='green_status' }"  >
				<div class="ak_activities_type">
					<span ng-class="{ 'fa fa-calendar':item.action == 'meeting', 'fa fa-envelope':item.action == 'email', 'fa fa-phone':item.action == 'phone', 'akti-icon o_akti_checklist':item.action == 'other', 'fa fa-sticky-note':item.action == 'events', 'akti-icon o_akti_quote':item.action == 'quote_sent', 'o_akti_zen':item.action == 'zen', 'o_akti_nylas':item.action == 'nylas' }"></span>
					<span class="ak_activities_date">{{item.day}}</span>
				</div>
				<div class="ak_activities_content row">
					<h4 class="ak_activities_title"><span class="badge badge-sm bg-primary">{{item.time}}</span> {{item.message}}</h4>
					<small>{l}Created by{endl} {{item.by}}</small>
					<small class="quick_edits"><span class="text-link_space">•</span> <a href="#" class="text-link text-muted" ng-click="ls.openModal('EditActivity',item,'md')">{l}Edit{endl}</a> <span class="text-link_space">•</span> <a href="#" class="text-link text-muted" confirm="{l}Are you sure, you want delete this entry?{endl}" ng-click="ls.removeActivity(item,$index)">{l}Remove{endl}</a> <span class="text-link_space" ng-if="item.is_nylas">•</span> <a href="#" ng-if="item.is_nylas" class="text-link text-muted" ng-click="ls.viewContent(item)">{l}View Content{endl}</a> <span class="text-link_space" ng-if="item.zen_link">•</span> <a href="{{item.zen_link}}" target="_blank" ng-if="item.zen_link" class="text-link text-muted" uib-tooltip="{l}View ticket in Zendesk{endl}" tooltip-placement="left"><i class="fa fa-external-link" aria-hidden="true"></i></a> <span class="text-link_space" ng-if="item.zen_link">•</span> <a href="#" ng-if="item.zen_link" class="text-link text-muted" uib-tooltip="{l}View ticket comments{endl}" tooltip-placement="left" ng-click="ls.openModal('ZenComment',item.zen_ticket_id,'md')"><span class="glyphicon glyphicon-comment" aria-hidden="true"></span></a></small>
					<div class="ak_activities_contacts" ng-if="item.contacts.length">
						<div class="text-nowrap" ng-repeat="item2 in item.contacts"><span class="fa fa-user"></span> {{item2.contact_name}}</div>
					</div>
					<div ng-if="item.comments && !item.is_nylas" class="ak_activities_note text-muted" ng-class="{ 'active':item.expandText }" ng-bind-html="item.comments" expand-text on-show="item.isBigger=true;"></div>
					<div ng-if="item.comments && item.isBigger && !item.is_nylas" class="border-top text-center">
	  					<button class="btn btn-block btn-arrow no_css_toggle_note" ng-click="item.expandText=!item.expandText"><span class="glyphicon " ng-class="{ 'glyphicon-chevron-up':item.expandText, 'glyphicon-chevron-down':!item.expandText }"></span></button>
					</div>
					<div ng-if="item.reminder_assign">
						<p class="ak_activities_user"><span class="fa fa-share"></span> {{item.to_user}}</p>
						<p><span class="ak_activities_status text-muted pull-right col-left" ng-click="ls.changeActivityStatus(item)"><span class="fa fa-circle-o" ng-class="{ 'fa-circle-o': item.color!='green_status', 'fa-check': item.color=='green_status' }"></span> {{item.activity_status}}</span><span class="ak_activities_reminder"><span class="fa fa-bell"></span> {{item.reminder_date}}</span> </p>
					</div>
					<div class="ak_activities_note text-muted" ng-if="item.type_of_call">
					{{item.type_of_call}}
					</div>						
				</div>
			</div>
			<div class="ak_activities_entry ak_activities_button" ng-if="ls.activities.item.length > ls.activityNumber">
				<div class="ak_activities_type">
					<span class="fa fa-ellipsis-h"></span>
				</div>
				<div class="ak_activities_content row text-muted">
					<button class="btn btn-plain" ng-click="ls.activityNumber=ls.activityNumber+5;">{l}Show More{endl}</button>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="modal-footer">
    <button class="btn btn-plain" type="button" ng-click="ls.cancel()">{l}Close{endl}</button>
</div> -->
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="ls.cancel()"><span aria-hidden="true">&times;</span></button>
	<h4 class="modal-title">{l}Activities{endl} {l}for{endl} {{ls.activities.customer_name}}</h4>
</div>
<div class="modal-body">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="tab newactivities" role="tabpanel">
					<!-- Nav tabs -->
					<ul class="nav nav-tabs" role="tablist">
						<li role="presentation" class="active"><a href="#tasks" aria-controls="home" role="tab" data-toggle="tab"><i class="fas fa-tasks"></i>  {l}Task{endl}</a></li>
						<li role="presentation"><a href="#call" aria-controls="profile" role="tab" data-toggle="tab"><i class="fa fa-phone"></i>  {l}Call{endl}</a></li>
						<li role="presentation"><a href="#email" aria-controls="messages" role="tab" data-toggle="tab"><i class="far fa-envelope"></i>  {l}E-mail{endl}</a></li>
						<li role="presentation"><a href="#meeting" aria-controls="messages" role="tab" data-toggle="tab"><i class="fas fa-user-friends"></i> {l}Schedule{endl}</a></li>
					</ul>
					<!-- Tab panes -->
					<div class="tab-content tabs">
						
						<div role="tabpanel" class="tab-pane fade in active" id="tasks">
								<div class="new_a_row">
									<label class="control-label col-sm-3 col-md-3 text-left">{l}Subject{endl} <span class="mandatory-label">*</span></label>
									<div class="col-sm-9 col-md-9">
										<input type="text" class="form-control" ng-model="ls.activity.comment" placeholder="{l}Subject{endl}">
									</div>
								</div>
								<div class="new_a_row">
									<label class="control-label col-sm-3 col-md-3 text-left">{l}Due date{endl}</span></label>
									<div class="col-sm-9 col-md-9">
										<div class="row">
											<div class="so-field col-md-5">
												<span class="fa fa-calendar so-icon"></span>
												<input type="text" class="form-control" ng-model="ls.activity.date" uib-datepicker-popup="{{ls.format}}" is-open="ls.open.start_date" datepicker-options="ls.dateOptions" close-text="Close" placeholder="{l}Date{endl}" show-button-bar="false" ng-click="ls.open.start_date = true" ng-change="ls.changeTime(ls.activity.date, ls.activity.dateHours, true)">
											</div>
											<label class="control-label  col-md-2 text-left">{l}Time{endl}</span></label>
											<div class="so-field col-md-5">
								
												<!-- <selectize config='ls.timeAutoCfg' options='ls.hours' ng-model="ls.obj.dateHours" ng-change="ls.changeTime(ls.obj.date,ls.obj.dateHours,true)"></selectize> -->
												<input type="time" id="appt" name="appt">
											</div>
										</div>
									</div>
								</div>
								<div class="new_a_row">
									<label class="control-label col-sm-3 col-md-3 text-left">{l}Reminder{endl}</label>
									<div class="col-sm-9 col-md-9">
										<selectize config='ls.userAutoCfg' options='' ng-model="ls.obj.to_user_id"></selectize>
									</div>
								</div>
								<div class="new_a_row">
									<label class="control-label col-sm-3 col-md-3 text-left">{l}Account{endl}</label>
									<div class="col-sm-9 col-md-9">
										<div class="so-field">
										
											<!-- <input type="text" class="form-control" ng-model="ls.obj.name" placeholder="Select Company" readonly> -->
											<selectize config='ls.accountAutoCfg' options='ls.accounts' ng-model="ls.activity.customer_id"></selectize>
										</div>
									</div>
								</div>
								<div class="new_a_row">
									<label class="control-label col-sm-3 col-md-3 text-left">{l}Contact{endl}</label>
									<div class="col-sm-9 col-md-9">						
										<div class="so-field">
									
											<selectize config='ls.contactAutoCfg' options='ls.contacts' ng-model="ls.activity.contact_ids"></selectize>
						
										</div>
									</div>
								</div>
								<div class="new_a_row">
									<label class="control-label col-sm-3 col-md-3 text-left">{l}Assign to{endl}</label>
									<div class="col-sm-9 col-md-9">
										<div class="so-field">
                                            <selectize config='ls.assignAutoCfg' options='ls.user_auto' ng-model="ls.activity.user_to_id"></selectize>
                                        </div>
									</div>
								</div>
								<div class="new_a_row">
									<label class="control-label col-sm-3 col-md-3 text-left">{l}Description{endl} <span class="mandatory-label">*</span></label>
									<div class="col-sm-9 col-md-9">
										<textarea ui-tinymce="ls.tinymceOptions_new" class="variable_assign_new" ng-model="ls.obj.comments"></textarea>
									</div>
								</div>
								
						</div>
						<div role="tabpanel" class="tab-pane fade" id="call">
						
							<div class="new_a_row">
								<label class="control-label col-sm-3 col-md-3 text-left">{l}Subject{endl} <span class="mandatory-label">*</span></label>
								<div class="col-sm-9 col-md-9">
									<input type="text" class="form-control" ng-model="ls.activity.comment" placeholder="{l}Subject{endl}">
								</div>
							</div>
							<div class="new_a_row">
								<label class="control-label col-sm-3 col-md-3 text-left">{l}Due date{endl}</span></label>
								<div class="col-sm-9 col-md-9">
									<div class="row">
										<div class="so-field col-md-5">
											<span class="fa fa-calendar so-icon"></span>
											<input type="text" class="form-control" ng-model="ls.activity.date" uib-datepicker-popup="{{ls.format}}" is-open="ls.open.start_date" datepicker-options="ls.dateOptions" close-text="Close" placeholder="{l}Date{endl}" show-button-bar="false" ng-click="ls.open.start_date = true" ng-change="ls.changeTime(ls.activity.date, ls.activity.dateHours, true)">
										</div>
										<label class="control-label  col-md-2 text-left">{l}Time{endl}</span></label>
										<div class="so-field col-md-5">
											<span class="fa fa-clock-o so-icon"></span>
											<selectize config='ls.timeAutoCfg' options='ls.hours' ng-model="ls.obj.dateHours" ng-change="ls.changeTime(ls.obj.date,ls.obj.dateHours,true)"></selectize>
										</div>
									</div>
								</div>
							</div>
							<div class="new_a_row">
								<label class="control-label col-sm-3 col-md-3 text-left">{l}Reminder{endl}</label>
								<div class="col-sm-9 col-md-9">
									<selectize config='ls.userAutoCfg' options='' ng-model="ls.obj.to_user_id"></selectize>
								</div>
							</div>
							<div class="new_a_row">
								<label class="control-label col-sm-3 col-md-3 text-left">{l}Account{endl}</label>
								<div class="col-sm-9 col-md-9">
									<div class="so-field">
									
										<!-- <input type="text" class="form-control" ng-model="ls.obj.name" placeholder="Select Company" readonly> -->
										<selectize config='ls.accountAutoCfg' options='ls.accounts' ng-model="ls.activity.customer_id"></selectize>
									</div>
								</div>
							</div>
							<div class="new_a_row">
								<label class="control-label col-sm-3 col-md-3 text-left">{l}Contact{endl}</label>
								<div class="col-sm-9 col-md-9">						
									<div class="so-field">
								
										<selectize config='ls.contactAutoCfg' options='ls.contacts' ng-model="ls.activity.contact_ids"></selectize>
					
									</div>
								</div>
							</div>
							<div class="new_a_row">
								<label class="control-label col-sm-3 col-md-3 text-left">{l}Assign to{endl}</label>
								<div class="col-sm-9 col-md-9">
									<div class="so-field">
										<selectize config='ls.assignAutoCfg' options='ls.user_auto' ng-model="ls.activity.user_to_id"></selectize>
									</div>
								</div>
							</div>
							<div class="new_a_row">
								<label class="control-label col-sm-3 col-md-3 text-left">{l}Description{endl} <span class="mandatory-label">*</span></label>
								<div class="col-sm-9 col-md-9">
									<textarea ui-tinymce="ls.tinymceOptions_new" class="variable_assign_new" ng-model="ls.obj.comments"></textarea>
								</div>
							</div>
						</div>
						<div role="tabpanel" class="tab-pane fade" id="email">
							
							<div class="new_a_row">
								<label class="control-label col-sm-3 col-md-3 text-left">{l}Subject{endl} <span class="mandatory-label">*</span></label>
								<div class="col-sm-9 col-md-9">
									<input type="text" class="form-control" ng-model="ls.activity.comment" placeholder="{l}Subject{endl}">
								</div>
							</div>
							<div class="new_a_row">
								<label class="control-label col-sm-3 col-md-3 text-left">{l}Due date{endl}</span></label>
								<div class="col-sm-9 col-md-9">
									<div class="row">
										<div class="so-field col-md-5">
											<span class="fa fa-calendar so-icon"></span>
											<input type="text" class="form-control" ng-model="ls.activity.date" uib-datepicker-popup="{{ls.format}}" is-open="ls.open.start_date" datepicker-options="ls.dateOptions" close-text="Close" placeholder="{l}Date{endl}" show-button-bar="false" ng-click="ls.open.start_date = true" ng-change="ls.changeTime(ls.activity.date, ls.activity.dateHours, true)">
										</div>
										<label class="control-label  col-md-2 text-left">{l}Time{endl}</span></label>
										<div class="so-field col-md-5">
											<span class="fa fa-clock-o so-icon"></span>
											<selectize config='ls.timeAutoCfg' options='ls.hours' ng-model="ls.obj.dateHours" ng-change="ls.changeTime(ls.obj.date,ls.obj.dateHours,true)"></selectize>
										</div>
									</div>
								</div>
							</div>
							<div class="new_a_row">
								<label class="control-label col-sm-3 col-md-3 text-left">{l}Reminder{endl}</label>
								<div class="col-sm-9 col-md-9">
									<selectize config='ls.userAutoCfg' options='' ng-model="ls.obj.to_user_id"></selectize>
								</div>
							</div>
							<div class="new_a_row">
								<label class="control-label col-sm-3 col-md-3 text-left">{l}Account{endl}</label>
								<div class="col-sm-9 col-md-9">
									<div class="so-field">
									
										<!-- <input type="text" class="form-control" ng-model="ls.obj.name" placeholder="Select Company" readonly> -->
										<selectize config='ls.accountAutoCfg' options='ls.accounts' ng-model="ls.activity.customer_id"></selectize>
									</div>
								</div>
							</div>
							<div class="new_a_row">
								<label class="control-label col-sm-3 col-md-3 text-left">{l}Contact{endl}</label>
								<div class="col-sm-9 col-md-9">						
									<div class="so-field">
								
										<selectize config='ls.contactAutoCfg' options='ls.contacts' ng-model="ls.activity.contact_ids"></selectize>
					
									</div>
								</div>
							</div>
							<div class="new_a_row">
								<label class="control-label col-sm-3 col-md-3 text-left">{l}Assign to{endl}</label>
								<div class="col-sm-9 col-md-9">
									<div class="so-field">
										<selectize config='ls.assignAutoCfg' options='ls.user_auto' ng-model="ls.activity.user_to_id"></selectize>
									</div>
								</div>
							</div>
							<div class="new_a_row">
								<label class="control-label col-sm-3 col-md-3 text-left">{l}Description{endl} <span class="mandatory-label">*</span></label>
								<div class="col-sm-9 col-md-9">
									<textarea ui-tinymce="ls.tinymceOptions_new" class="variable_assign_new" ng-model="ls.obj.comments"></textarea>
								</div>
							</div>
						</div>
						<div role="tabpanel" class="tab-pane fade" id="meeting">
						
							<div class="new_a_row">
								<label class="control-label col-sm-3 col-md-3 text-left">{l}Subject{endl} <span class="mandatory-label">*</span></label>
								<div class="col-sm-9 col-md-9">
									<input type="text" class="form-control" ng-model="ls.activity.comment" placeholder="{l}Subject{endl}">
								</div>
							</div>
							<div class="new_a_row">
								<label class="control-label col-sm-3 col-md-3 text-left">{l}Start date{endl}</span></label>
								<div class="col-sm-9 col-md-9">
									<div class="row">
										<div class="so-field col-md-5">
											<span class="fa fa-calendar so-icon"></span>
											<input type="text" class="form-control" ng-model="ls.activity.date" uib-datepicker-popup="{{ls.format}}" is-open="ls.open.start_date" datepicker-options="ls.dateOptions" close-text="Close" placeholder="{l}Start Date{endl}" show-button-bar="false" ng-click="ls.open.start_date = true" ng-change="ls.changeTime(ls.activity.date, ls.activity.dateHours, true)">
										</div>
									
										<div class="so-field col-md-4">
											<span class="fa fa-clock-o so-icon"></span>
											<selectize config='ls.timeAutoCfg' options='ls.hours' ng-model="ls.obj.dateHours" ng-change="ls.changeTime(ls.obj.date,ls.obj.dateHours,true)"></selectize>
										</div>
									</div>
								</div>
							</div>
							<div class="new_a_row">
								<label class="control-label col-sm-3 col-md-3 text-left">{l}End date{endl}</span></label>
								<div class="col-sm-9 col-md-9">
									<div class="row">
										<div class="so-field col-md-5">
											<span class="fa fa-calendar so-icon"></span>
											<input type="text" class="form-control" ng-model="ls.activity.end_d_meet" uib-datepicker-popup="{{ls.format}}" is-open="ls.open.end_d_meet" datepicker-options="ls.dateOptions" close-text="Close" placeholder="{l}End Date{endl}" show-button-bar="false" ng-click="ls.open.end_d_meet = true" ng-change="ls.changeTime(ls.activity.end_d_meet, ls.activity.dateEHours)">
										</div>
										
										<div class="so-field col-md-4">
											<span class="fa fa-clock-o so-icon"></span>
											<selectize config='ls.timeAutoCfg' options='ls.hours' ng-model="ls.obj.dateHours" ng-change="ls.changeTime(ls.obj.date,ls.obj.dateHours,true)"></selectize>
										</div>
									</div>
								</div>
							</div>
							<div class="new_a_row">
								<label class="control-label col-sm-3 col-md-3 text-left">{l}Reminder{endl}</label>
								<div class="col-sm-9 col-md-9">
									<selectize config='ls.userAutoCfg' options='' ng-model="ls.obj.to_user_id"></selectize>
								</div>
							</div>
							<div class="new_a_row">
								<label class="control-label col-sm-3 col-md-3 text-left">{l}Account{endl}</label>
								<div class="col-sm-9 col-md-9">
									<div class="so-field">
									
										<!-- <input type="text" class="form-control" ng-model="ls.obj.name" placeholder="Select Company" readonly> -->
										<selectize config='ls.accountAutoCfg' options='ls.accounts' ng-model="ls.activity.customer_id"></selectize>
									</div>
								</div>
							</div>
							<div class="new_a_row">
								<label class="control-label col-sm-3 col-md-3 text-left">{l}Contact{endl}</label>
								<div class="col-sm-9 col-md-9">						
									<div class="so-field">
								
										<selectize config='ls.contactAutoCfg' options='ls.contacts' ng-model="ls.activity.contact_ids"></selectize>
					
									</div>
								</div>
							</div>
							<div class="new_a_row">
								<label class="control-label col-sm-3 col-md-3 text-left">{l}Assign to{endl}</label>
								<div class="col-sm-9 col-md-9">
									<div class="so-field">
										<selectize config='ls.assignAutoCfg' options='ls.user_auto' ng-model="ls.activity.user_to_id"></selectize>
									</div>
								</div>
							</div>
							<div class="new_a_row">
								<label class="control-label col-sm-3 col-md-3 text-left">{l}Location{endl}</label>
								<div class="col-sm-9 col-md-9">
									<div class="so-field">
										<input type="text" class="form-control" ng-model="ls.activity.location_meet" placeholder="{l}Location{endl}" >
									</div>
								</div>
							</div>
							<div class="new_a_row">
								<label class="control-label col-sm-3 col-md-3 text-left">{l}Description{endl} <span class="mandatory-label">*</span></label>
								<div class="col-sm-9 col-md-9">
									<textarea ui-tinymce="ls.tinymceOptions_new" class="variable_assign_new" ng-model="ls.obj.comments"></textarea>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

</div>
<div class="modal-footer">
	<button type="button" class="btn btn-plain" data-dismiss="modal" ng-click="ls.cancel()">{l}Cancel{endl}</button>
	<button type="button" class="btn btn-default" ng-click="ls.ok()">{l}Save{endl}</button>
</div>