<div class="container">
    <div class="page-header">
        <div class="row">
            <div class="col-sm-8">
                <h1 class="w-auto">{l}Deal{endl} {{serial_number}}<!-- <span ng-if="subject">:</span> {{subject}} -->
                    <selectize config='edit.selectCfg' options='edit.item.stage_dd' ng-model="edit.item.stage_id" class="customize"></selectize>
                </h1>
                <div ng-if="edit.item.stage_id != edit.stage_saved" class="text-right mt-100">
                    <a href="#" class="btn btn-border" ng-click="edit.cancelEdit(edit)">{l}Cancel{endl}</a> <span class="text-link_space"> </span>
                    <button type="submit" class="btn btn-default btn-save" ng-click="edit.saveClientData(edit, edit.item.field)">{l}Save changes{endl}</button>
                </div>
            </div>
            <div class="col-sm-4 page-header-options">
                <div class="text-right">
                    <div class="navigator_right no-float">
                        <button go-to="" state="deals" type="submit" class="btn btn-sm btn-default"><strong>{l}Back{endl}</strong></button>
                    </div>
                </div>
            </div>
        </div>

        <!-- <div uib-alert ng-repeat="alert in edit.alerts" type="{{alert.type}}" close="edit.alerts.splice($index, 1);" dismiss-on-timeout="5000" ng-class="['alert-' + (alert.type || 'warning') ]">{{alert.msg}}</div> -->
    </div>
    <!-- /.page-header -->

    <div ng-show="!edit.item.item_exists">
        <nopage></nopage>
    </div>
    <div ng-show="edit.item.item_exists">

        <div class="row ">
            <div class="col-sm-8">
                <div class="panel panel-default panel-customer_details deal-notes">
                    <div class="panel-body panel-current_customer" ng-class="{ 'panel-add_customer': edit.item.add_customer && edit.showTxt.addBtn }">
                        <div ng-if="edit.showTxt.address && !edit.item.add_customer">
                            <div class="row">
                                <div class="col-md-11">
                                    <div class="row">
                                        <div class="col-xs-12 col-sm-12 col-md-4 deal-details">
                                                <h2 class="line-color">{l}Deal details{endl}</h2>
                                                <div class="row padd">
                                                    <strong class="col-md-6">{l}Date{endl} </strong><span class="col-md-6" ng-bind-html="edit.item.exp_close_date"></span>
                                                </div>
                                                <div class="row padd">
                                                    <strong class="col-md-6">{l}Subject{endl} </strong><span class="col-md-6" ng-bind-html="edit.item.subject"></span>
                                                </div>
                                                <div class="row padd">
                                                    <strong class="col-md-6">{l}Reference{endl} </strong><span class="col-md-6" ng-bind-html="edit.item.serial_number"></span>
                                                </div>
                                                <div class="row padd">
                                                    <strong class="col-md-6">{l}Account Manager{endl} </strong><span class="col-md-6" ng-bind-html="edit.item.author"></span>
                                                </div>
                                                <div class="row padd">
                                                    <strong class="col-md-6">{l}Value{endl} </strong><span class="col-md-6" ng-bind-html="edit.item.amount_currency"></span>
                                                </div>
                                        </div>
                                        <div class="col-xs-12 col-sm-12 col-md-4 account-details">
                                            <h2 class="line-color">{l}Account details{endl}</h2>
                                            <div class="padd">
                                                <a class="text-link" state="customerView" ui-sref="customerView({ 'customer_id':edit.item.customer_id })"><span ng-bind-html="edit.item.buyer_name"></span></a>
                                                <!--  <img ng-if="edit.item.avatar" ng-src="{{edit.item.avatar}}" /> -->
                                            </div>
                                            <div class="padd" ng-if="edit.item.company_phone">
                                                <div class="deals_phone">
                                                    <i class="fas fa-phone-alt">
                                                    </i>
                                                    {{edit.item.company_phone}}
                                                </div>
                                            </div>
                                            <div class="padd email" ng-if="edit.item.company_email">
                                                <i class="fas fa-envelope" aria-hidden="true"></i>
                                                {{edit.item.company_email}}
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-sm-12 col-md-4 contact-details">
                                            <h2 class="line-color">{l}Contact details{endl}</h2>
                                            <div class="padd" ng-if="edit.item.contact_name && edit.item.field == 'customer_id'" class="padd">
                                                <a class="text-link" ui-sref="contactView({ 'contact_id':edit.item.contact_id })"><span ng-bind-html="edit.item.contact_name"></span></a>
                                            </div>
                                            <div class="padd" ng-if="edit.item.contact_phone">
                                                <div class="deals_phone"><i class="fas fa-phone-alt"></i><a href="tel:{{edit.item.contact_phone}}">{{edit.item.contact_phone}}</a></div>
                                            </div>
                                            <div class="padd email" ng-if="edit.item.contact_email">
                                                <i class="fas fa-envelope"></i>
                                                {{edit.item.contact_email}}
                                            </div>
                                        </div>  
                                    </div>
                                </div>
                                <div class="col-md-1">
                                    <div class="row">                                                                      
                                        <div class="col-xs-12 col-sm-12 col-md-12">
                                            <div class="deals-actions text-right">
                                                <a class="" href="#" ng-click="edit.editDeal('EditDeal')"><i class="fas fa-pen"></i></a>
                                             <div class="btn-group nav_inline" uib-dropdown>
                                                <button type="button" class="btn btn-primary btn-add dropdown-toggle" uib-dropdown-toggle uib-tooltip="{l}Action{endl}" tooltip-placement="top"><i class="fas fa-ellipsis-v"></i></button>
                                                <ul class="dropdown-menu-right no-padd" uib-dropdown-menu>
                                                   <li>
                                                        <a href="#" class="delete-customer" ng-click="edit.removeCust(edit)" ><i class="fa fa-trash text-primary"></i> {l}Delete{endl}</a>
                                                   </li>
                                                </ul>
                                            </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                           
                            <!-- <h2><a class="text-link" ui-sref="customerView({ 'customer_id':edit.item.buyer_id })">{{edit.item.buyer_name}}</a> -->
                                <!-- <small class="quick_edits"><span class="text-link_space">•</span> <a href="#" class="text-link text-muted edit-customer" ng-click="edit.openModal(edit, 'EditContact');" ng-if="edit.item.field == 'contact_id'" >{l}Edit Customer{endl}</a><a href="#" class="text-link text-muted edit-customer" ng-click="edit.openModal(edit, 'EditCustomer');" ng-if="edit.item.field == 'customer_id'" >{l}Edit Customer{endl}</a> <span class="text-link_space" >•</span> <a href="#" class="text-link text-muted delete-customer" ng-click="edit.removeCust(edit)" >{l}Remove{endl}</a></small></h2> -->
                           <!--  <div class="row row-bottom" ng-if="edit.item.company_phone">
                                <div class="col-xs-12 deals_phone"><i class="fa fa-phone"></i><a href="tel:{{edit.item.company_phone}}"><span class="text-link">{{edit.item.company_phone}}</span></a></div>
                            </div> -->
                            <!-- <p ng-if="edit.item.contact_name && edit.item.field == 'customer_id'" class=""><a class="text-link" ui-sref="contactView({ 'contact_id':edit.item.contact_id })"><span ng-bind-html="edit.item.contact_name"></span></a> -->
                                <!-- <small class="quick_edits"><span class="text-link_space">•</span> <a href="#" class="text-link text-muted edit-contact" ng-click="edit.openModal(edit, 'EditContact');" >{l}Edit contact{endl}</a> <span class="text-link_space">•</span> <a href="#" class="text-link text-muted" ng-click="edit.removeContact(edit)">{l}Remove{endl}</a></small> --></p>
                            <!-- <p><a href="#" class="text-link edit-customer" ng-click="edit.showEditFnc(edit)" ng-if="!edit.item.contact_name">{l}Add a Contact{endl}</a> -->
                                <!-- <div class="row row-bottom" ng-if="edit.item.contact_phone">
                                    <div class="col-xs-12 deals_phone"><i class="fa fa-mobile"></i><a href="tel:{{edit.item.contact_phone}}"><span class="text-link">{{edit.item.contact_phone}}</span></a></div>
                                </div> -->
                                <!-- <span class="text-link_space" ng-if="!edit.item.contact_name">•</span> <a href="#" class="text-link delete-customer" ng-click="edit.openModal(edit,'AddCustomer',edit.contactAddObj,'md');" ng-if="!edit.item.contact_name">{l}Create a new Contact{endl}</a> --></p>
                            <!-- <div class="delivery-address delivery-address-deal">

                                <p><span ng-bind-html="edit.item.free_field_txt"></span></p>

                            </div> -->

                            <!-- <div>
                                <strong>{l}Board{endl} </strong><span><a class="text-link" ui-sref="deals({ 'board_id':edit.item.board_id })"><span ng-bind-html="edit.item.board_name"></span></a>
                                </span>
                            </div> -->
                            <div>

                                <!-- <p ng-if=" !edit.showTxt.stage"><strong>{l}Stage{endl}</strong> {{edit.item.stage_name}} -->
                                    <!-- <span class="pull-left link-pointer fa fa-caret-down" ng-click="edit.showTxt.stage=true"></span> --><!-- </p>
                                <div class="form-horizontal" ng-if="edit.showTxt.stage==true">
                                    <div class="form-group">
                                        <label class="control-label text-left col-sm-4">{l}Stage{endl}</label>
                                        <div class="col-sm-6">
                                            <selectize config='edit.selectCfg' options='edit.item.stage_dd' ng-model="edit.item.stage_id"></selectize>
                                        </div>
                                        <label class="control-label col-sm-1 pull-left text-success">
                                <i class="fa fa-check-circle link-pointer" aria-hidden="true" ng-click="edit.setStage()"></i>
                              </label>
                                    </div>
                                </div> -->
                            </div>
                            <!-- <div class="row">
                                <div class="col-sm-12 ">
                                    <div class="row">
                                         <div class="col-sm-4 ">
                                            <strong>{l}Closing Date{endl} </strong><span ng-bind-html="edit.item.exp_close_date"></span>
                                        </div>

                                        <div class="col-sm-4 ">
                                            <strong>{l}Value of deal{endl} </strong><span ng-bind-html="edit.item.amount_currency"></span>
                                        </div> 

                                        <div class="col-sm-4 account_avatar text-right">
                                            <div class="image avatar">
                                                <span ng-bind-html="edit.item.author"></span>
                                                <img ng-if="edit.item.avatar" ng-src="{{edit.item.avatar}}" />
                                            </div>

                                        </div>
                                    </div>

                                </div>
                            </div> -->

                        </div>
                        <!-- /showTxt.address -->
                        <div ng-if="edit.item.add_customer">
                            <button class="btn btn-block btn-lg btn-blank" ng-if="edit.showTxt.addBtn" ng-click="edit.showCCSelectize(edit)"><span class="fa fa-user-plus icon-holder"></span> {l}Add Customer{endl}</button>
                            <selectize config='edit.ccAutoCfg' options='edit.auto.options.cc' ng-model="edit.item.cc_id" id="custandcont" ng-if="!edit.showTxt.addBtn"></selectize>
                        </div>
                        <div class="form-horizontal text-left " ng-if="!edit.showTxt.address">
                            <div class="form-group">
                                <label class="col-sm-3 control-label">{l}Account{endl}</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" ng-model="edit.item.buyer_name" ng-disabled="true">
                                </div>
                            </div>
                            <div class="form-group" ng-if="edit.item.field == 'customer_id'">
                                <label class="col-sm-3 control-label">{l}Contact{endl}</label>
                                <div class="col-sm-9">
                                    <selectize config='edit.contactAutoCfg' options='edit.auto.options.contacts' ng-model="edit.item.contact_id" id="contact_id"></selectize>
                                </div>
                            </div>
                            <div class="form-group extra_address">
                                <label class="col-sm-3 control-label">{l}Address{endl}</label>
                                <div class="col-sm-9 ">
                                    <selectize config='edit.addressAutoCfg' options='edit.auto.options.addresses' ng-model="edit.item.main_address_id" id="main_address"></selectize>
                                </div>
                            </div>

                            <div class="form-group" ng-class="{ 'form-group_alert' : edit.item.serial_number.$invalid && !edit.item.serial_number.$pristine }">
                                <label class="control-label text-left col-sm-3">{l}Deal Number{endl}</label>
                                <div class="col-sm-9">
                                    <input type="text" name="serial_number" class="form-control" ng-model="edit.item.serial_number" placeholder="{l}Deal Number{endl}">
                                    <div class="alert alert-sm alert-danger" ng-if="edit.item.serial_number.$invalid && edit.alertsField.serial_number">{{edit.alertsField.serial_number}}</div>
                                </div>
                            </div>
                            <div class="form-group" ng-class="{ 'form-group_alert' : edit.item.subject.$invalid && !edit.item.subject.$pristine }">
                                <label class="control-label text-left col-sm-3">{l}Subject{endl}<!--  <span class="mandatory-label">*</span> --></label>
                                <div class="col-sm-9">
                                    <input type="text" name="subject" class="form-control" ng-model="edit.item.subject" placeholder="{l}Subject{endl}">
                                    <div class="alert alert-sm alert-danger" ng-if="edit.item.subject.$invalid && edit.alertsField.subject">{{edit.alertsField.subject}}</div>
                                </div>
                            </div>
                            <div class="form-group" ng-class="{ 'form-group_alert' : edit.item.amount.$invalid && !edit.item.amount.$pristine }">
                                <label class="control-label text-left col-sm-3">{l}Amount{endl}</label>
                                <div class="col-sm-9">
                                    <input type="text" name="amount" class="form-control" display-nr="" ng-model="edit.item.amount" placeholder="{l}Amount{endl}">
                                    <div class="alert alert-sm alert-danger" ng-if="edit.item.amount.$invalid && edit.alertsField.amount">{{edit.alertsField.amount}}</div>
                                </div>
                            </div>
                            <div class="form-group ">
                                <label class="col-sm-3 control-label">{l}Board{endl}</label>
                                <div class="col-sm-9 ">
                                    <selectize config='edit.boardCfg' options='edit.item.board_dd' ng-model="edit.item.board_id" id="board_id"></selectize>
                                </div>
                            </div>
                            <div class="form-group ">
                                <label class="col-sm-3 control-label">{l}Stage{endl}</label>
                                <div class="col-sm-9 ">
                                    <selectize config='edit.selectCfg' options='edit.item.stage_dd' ng-model="edit.item.stage_id" id="stage_id"></selectize>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">{l}Expected closure date{endl}<!-- <span class="mandatory-label">*</span> --></label>
                                <div class="col-sm-9">
                                    <div class="so-field">
                                        <span class="glyphicon glyphicon-calendar so-icon" ng-click="edit.datePickOpen.exp_close_date_js = true"></span>
                                        <input type="text" class="form-control form-control-border-right" ng-model="edit.item.exp_close_date_js" uib-datepicker-popup="{{edit.format}}" is-open="edit.datePickOpen.exp_close_date_js" datepicker-options="edit.dateOptions" ng-required="true" close-text="Close"
                                            placeholder="{l}Date{endl}" show-button-bar="false" ng-click="edit.datePickOpen.exp_close_date_js = true" ng-change="edit.setExpCloseDate()" />
                                    </div>
                                    <!-- /.so-field -->
                                </div>
                            </div>
                            <div class="form-group ">
                                <label class="col-sm-3 control-label">{l}Account Manager{endl}</label>
                                <div class="col-sm-9 ">
                                    <selectize config='edit.userAutoCfg' options='edit.item.user_list' ng-model="edit.item.created_by" id="created_by"></selectize>
                                </div>
                            </div>
                            <!-- <div class="form-group" ng-if="edit.item.segment_dd.length">
                        <label class="control-label text-left col-sm-3">{l}Segment{endl}</label>
                        <div class="col-sm-9">
                          <selectize config='edit.selectCfg' options='edit.item.segment_dd' ng-model="edit.item.segment_id"></selectize>
                        </div>
                      </div> -->
                            <!-- <div class="form-group" ng-if="edit.item.source_dd.length">
                        <label class="control-label text-left col-sm-3">{l}Source{endl}</label>
                        <div class="col-sm-9">
                          <selectize config='edit.selectCfg' options='edit.item.source_dd' ng-model="edit.item.source_id"></selectize>
                        </div>
                      </div>  -->
                            <div class="form-group" ng-if="edit.item.type_dd.length">
                                <label class="control-label text-left col-sm-3">{l}Type{endl}</label>
                                <div class="col-sm-9">
                                    <selectize config='edit.selectCfg' options='edit.item.type_dd' ng-model="edit.item.type_id"></selectize>
                                </div>
                            </div>

                            <div class="text-right">
                                <a href="#" class="text-muted" ng-click="edit.cancelEdit(edit)">{l}Cancel{endl}</a> <span class="text-link_space"> </span>
                                <button type="submit" class="btn btn-default" ng-click="edit.saveClientData(edit, edit.item.field)">{l}Save{endl}</button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.panel -->
            </div>
            <div class="col-sm-4">
                <form class="form-horizontal text-left form-squeeze deal-notes" name="notes" novalidate>
                    <div class="row">
                        <div class="col-sm-12 ">
                            <textarea ui-tinymce="edit.tinymceOptions" ng-model="edit.item.deal_notes" class="variable_assign " ng-change="edit.editNotes()">{{edit.item.deal_notes}}</textarea>
                            <input name="image" type="file" id="upload" class="hidden" onchange="">
                        </div>
                    </div>

                </form>

            </div>
        </div>

        <div class="section-content track_search">
            <div class="container no-padd">
                <!-- neede on all pages -->
                <div class="page-header">
                    <div class="row">
                        <!--     <div class="col-sm-12"> -->
                        <h1>{l}Timeline of deal{endl}
                            <div class="btn-group nav_inline" uib-dropdown>
                                <button type="button" class="btn btn-primary btn-add dropdown-toggle" uib-dropdown-toggle uib-tooltip="{l}Add{endl}" tooltip-placement="top"><span class="btn-add_icon"><span class="icon-bar"></span><span class="icon-bar-2"></span></span></button>
                                <ul class=" dropdown-menu-left " uib-dropdown-menu>
                                    <li ng-if="edit.item.is_5"><a href="" ng-click="edit.createDocument('quote', edit.item)"><i class="fas fa-file-invoice"></i> {l}Add a quote{endl}</a></li>
                                    <li ng-if="edit.item.is_6"><a href="" ng-click="edit.createDocument('order', edit.item)"><i class="fas fa-shopping-cart"></i> {l}Add Order{endl}</a></li>
                                    <li ng-if="edit.item.is_3"><a href="" ng-click="edit.createDocument('project', edit.item)"><i class="fas fa-clipboard-list"></i> {l}Add a project{endl}</a></li>
                                    <li ng-if="edit.item.is_13"><a href="" ng-click="edit.createDocument('service', edit.item)"><i class="fas fa-briefcase"></i> {l}Add intervention{endl}</a></li>
                                    <li ng-if="edit.item.is_11"><a href="" ng-click="edit.createDocument('contract', edit.item)"><i class="fas fa-file-contract"></i> {l}Add a contract{endl}</a></li>
                                    <li ng-if="edit.item.is_4"><a href="" ng-click="edit.createDocument('invoice', edit.item)"><i class="far fa-file-alt"></i> {l}Add Invoice{endl}</a></li>
                                    <li ng-if="edit.item.ADV_CRM"><a href="" ng-click="edit.showActivities(edit.item)"><i class="fas fa-tasks"></i> {l}Add activity{endl}</a></li>
                                </ul>
                            </div>
                        </h1>
                        <!--  </div> -->
                    </div>
                </div>

            </div>
            <!-- /.page-header -->
            <div class="row">
                <div class="col-xs-12">
                    <div class="">
                        <div class="row page-search margin-top">
                            <form>
                                <div class="col-sm-8">
                                    <div class="so-field" ng-class="{ 'so-active':edit.search_track.search != '' }">
                                        <span class="glyphicon glyphicon-search so-icon"></span>
                                        <input id="no_css_search_field" type="text" class="form-control" placeholder="{l}Search{endl}" ng-model="edit.search_track.search">
                                        <span class="glyphicon glyphicon-remove so-icon so-remove" ng-click="edit.search_track.search = ''"></span>
                                    </div>

                                </div>
                                <!--                           <div class="col-sm-2">
                                <div class="so-field" ng-class="{ 'so-active':edit.search_track.start_date != '' }">
                                    <span class="glyphicon glyphicon-calendar so-icon" ng-click="edit.datePickOpen.start_date = true"></span>
                                    <input type="text" class="form-control" ng-model="edit.search_track.start_date" uib-datepicker-popup="" is-open="edit.datePickOpen.start_date" datepicker-options="edit.dateOptions" close-text="Close" placeholder="{l}Start Date{endl}" show-button-bar="false" ng-click="edit.datePickOpen.start_date = true" ng-change="edit.showTracking()"/>
                                    <span class="glyphicon glyphicon-remove so-icon so-remove" ng-click="edit.removeTrackDate('start_date')"></span>
                                </div>
                            </div>
                            <div class="col-sm-2">
                                <div class="so-field" ng-class="{ 'so-active':edit.search_track.end_date != '' }">
                                    <span class="glyphicon glyphicon-calendar so-icon" ng-click="edit.datePickOpen.end_date = true"></span>
                                    <input type="text" class="form-control" ng-model="edit.search_track.end_date" uib-datepicker-popup="" is-open="edit.datePickOpen.end_date" datepicker-options="edit.dateOptions" close-text="Close" placeholder="{l}End Date{endl}" show-button-bar="false" ng-click="edit.datePickOpen.end_date = true" ng-change="edit.showTracking()"/>
                                    <span class="glyphicon glyphicon-remove so-icon so-remove" ng-click="edit.removeTrackDate('end_date')"></span>
                                </div>
                            </div> -->

                                <div class="col-sm-4">
                                    <selectize config='edit.viewCfg' options='edit.views' ng-model="edit.view"></selectize>
                                </div>

                            </form>
                        </div>
                    </div>

                </div>
            </div>
            <!-- <div uib-alert type="notice" class="alert-warning" ng-if="!edit.item.list.length">{l}No data to display{endl}</div> -->
            <div class="ak_activities_entry new_design {{item.danger}}" ng-if="edit.item.list.length" ng-repeat="item in edit.item.list|dealTimelineSearch:edit.search_track.search" ng-class="{ 'active': item.color == 'green_status' }">
                <div ng-if="!item.is_activity">
                    <div class="ak_activities_type">
                        <!-- <span class="fa fa-file-text-o"></span> -->
                        <!-- <img ng-src="images/akti-{{item.img}}.png"> -->
                        <i class="{{item.img}}"></i>
                        <span class="ak_activities_date">{{item.time}}</span>
                    </div>
                    <div class="ak_activities_corner {{item.danger_corner}}"></div>
                    <div class="ak_activities_content row col-sm-4">
                        <h4 class="ak_activities_title">
                            <!-- <span class="badge badge-sm bg-primary">{{item.hour}}</span> -->
                            <!-- <a ui-sref="{{item.sref}}" ng-click="edit.opendocument(item.edit, item.type_id, item.id, item.version_id)" title="{l}View Document{endl}" class="text-link">{{item.type}} {{item.serial_nr}}</a> -->
                            <a ui-sref="{{item.sref}}" title="{l}View Document{endl}" class="text-link">{{item.type}} {{item.serial_nr}}</a><a href="{{item.pdf_link}}" ng-if="item.pdf_link" target="_blank" class="view_pdf"><i class="far fa-file-pdf" aria-hidden="true" title="{l}View PDF{endl}"></i></a></h4>
                            <!-- <i class="fas fa-user"></i><small ng-if='!item.supplier'>{{item.author}}</small><small ng-if='item.supplier'>{{item.supplier}}</small> -->
                    </div>
                    <div class="ak_activities_content_status row col-sm-1 text-center">
                        <span class="badge item-status-gray " ng-class="{ 'item-status-green':item.color_status == 'green', 'item-status-yellow':item.color_status == 'yellow', 'item-status-red':item.color_status=='red'}">{{item.status}}</span>
                    </div>
                    <div class="ak_activities_content row col-sm-2">
                        <h4 class="ak_activities_title">{l}Subject{endl}</h4>
                        <small>{{item.subject}}</small>
                    </div>
                    <!-- <div class="ak_activities_content row col-sm-1">
                  <h4 class="ak_activities_title">{l}Date{endl}</h4>
                  <small>{{item.time}}</small>
              </div> -->
                    <div class="ak_activities_content row col-sm-2">
                        <h4 class="ak_activities_title">{l}Your reference{endl}</h4>
                        <small>{{item.your_ref}}</small>
                    </div>
                    <div class="ak_activities_content row col-sm-1">
                        <h4 class="ak_activities_title">{l}Amount{endl}</h4>
                        <!-- <small>{{edit.item.customer_name}}</small> -->
                        <small>€{{item.amount}}</small>
                    </div>
                    <div class="ak_activities_content row col-sm-2">
                        <h4 class="ak_activities_title">{l}Source document{endl}</h4>
                        <small ng-repeat="origin in item.origins"><!-- <a ui-sref="{{origin.origin_sref}}" ng-click="edit.opendocument(origin.origin_edit, origin.origin_type_id, origin.origin_id)" title="{l}View Document{endl}" class="text-link">{{origin.origin_type}} {{origin.origin_serial_nr}}</a> --><a ui-sref="{{origin.origin_sref}}" title="{l}View Document{endl}" class="text-link">{{origin.origin_type}} {{origin.origin_serial_nr}}</a></small>
                    </div>
                </div>
                <div ng-if="item.is_activity">
                    <div class="ak_activities_type">
                        <span ng-class="{ 'fas fa-user-friends':item.action == 'meeting', 'fas fa-sticky-note':item.action == 'events', 'fa fa-phone':item.action == 'phone', 'fas fa-tasks':item.action == 'other', 'fa fa-tasks':item.action == 'events', 'akti-icon o_akti_quote':item.action == 'quote_sent', 'o_akti_zen':item.action == 'zen', 'o_akti_nylas':item.action == 'nylas' }"></span>
                        <span class="ak_activities_date">{{item.day}}</span>
                    </div>
                    <div class="ak_activities_corner"></div>
                    <small class="quick_edits"><a href="#" class="text-link text-muted" ng-click="edit.editActivities(item, $index)"><i class="fas fa-pencil-alt"></i></a> <a href="#" class="text-link text-muted" confirm="{l}Are you sure, you want delete this entry?{endl}" ng-click="edit.removeActivity(item, $index)"><i class="fa fa-trash text-primary"></i></a></small>
                    <div class="ak_activities_content row">
                    <h3 class="ak_activities_title">{{item.message}}</h3>
                    <h4 class="ak_activities_user"><i class="fas fa-share" ng-if="item.task_type != '2'"></i><span class="ak_user" ng-if="item.task_type != '2'"><i class="fas fa-user"></i>{{item.to_user}}</span></h4>
                    <!-- <small>{l}Created by{endl} {{item.by}}</small> -->
                    <!-- <small class="quick_edits"><a href="#" class="text-link text-muted" ng-click="edit.editActivities(item, $index)">{l}Edit{endl}</a><a href="#" class="text-link text-muted" confirm="{l}Are you sure, you want delete this entry?{endl}" ng-click="edit.removeActivity(item, $index)">{l}Remove{endl}</a></small> -->
                    <!-- <div class="ak_activities_contacts" ng-if="item.customer">
                        <div class="text-nowrap"><span class="fa fa-building-o"></span><a class="text-link" ui-sref="customerView({ 'customer_id':edit.item.customer_id })"> {{item.customer}}</a></div>
                    </div> -->
                    <!-- <div class="ak_activities_contacts" ng-if="item.contacts.length">
                        <div class="text-nowrap" ng-repeat="item2 in item.contacts"><span class="fa fa-user"></span> <a class="text-link" ui-sref="contactView({ 'contact_id':item2.contact_id })">{{item2.contact_name}}</a></div>
                    </div> -->
                    <div class="for_exp">
                    <div class="ak_descript"><i class="fas fa-align-left"></i>
                        <div ng-if="item.comments && !item.is_nylas" class="ak_activities_note text-muted" ng-class="{ 'active':item.expandText }" ng-bind-html="item.comments" expand-text on-show="item.isBigger=true;"></div>
                       </div>
                    <div ng-if="item.comments" class="ak_activities_note text-muted" ng-class="{ 'active':item.expandText }" ng-bind-html="item.comments" expand-text on-show="item.isBigger=true;"></div>
                    <div ng-if="item.comments && item.isBigger" class=" border-top text-center expand_txt">
                        <button class="btn btn-block btn-arrow no_css_toggle_note" ng-click="item.expandText = !item.expandText"><span class="glyphicon " ng-class="{ 'glyphicon-chevron-up':item.expandText, 'glyphicon-chevron-down':!item.expandText }"></span></button>
                    </div>
                    <div ng-if="item.reminder_assign">
                        <!-- <p class="ak_activities_user"><span class="fa fa-share"></span> {{item.to_user}}</p> -->
                        <!-- <p><span class="ak_activities_status text-muted pull-right col-left" ng-click="edit.changeActivityStatus(item)">{{item.activity_status}}</span><span class="ak_activities_reminder"><span class="fa fa-bell"></span> {{item.reminder_date}}</span>
                        </p> -->
                        <div class="ak_hour" ng-if="item.task_type != '2'"><i class="fas fa-calendar"></i> <span class="ak_date">{{item.day_full}}</span> <i class="fas fa-clock"></i> <span class="ak_clock">{{item.time}}</span></div>
                        <div class="ak_hour" ng-if="item.task_type != '2' && item.end_d_meet"><i class="fas fa-calendar"></i> <span class="ak_date">{{item.end_d_meet_day}}</span> <i class="fas fa-clock"></i> <span class="ak_clock">{{item.end_d_meet_time}}</span></div>

                        <p ng-if="item.reminder_assign && item.task_type != '2'"><span class="ak_activities_reminder"><span class="fa fa-bell"></span> {{item.reminder_assign_data}}</span>
                            <div class="ak_hour" ng-if="item.location_meet && item.task_type == '4'"><span class="ak_activities_reminder"><span class="fas fa-map-marker-alt"></span> {{item.location_meet}}</span>
                            </div>  
                    </div>
                    </div>
                    <!-- <div class="ak_activities_note text-muted" ng-if="item.type_of_call">
                        {{item.type_of_call}}
                    </div> -->
                </div>
                </div>
            </div>
        </div>
        <!-- /.ak_activities_entry -->
        <div class="row">
            <div class="col-sm-12">
                <h4>
                    <strong>{l}Files{endl}</strong>
                    <button ng-if="edit.item.dropbox.is_drop && !edit.show_load" type="button" class="btn btn-primary btn-add" uib-tooltip="{l}Upload{endl}" tooltip-placement="right" ng-click="edit.uploadDoc(1)"><span class="btn-add_icon"><span class="icon-bar"></span><span class="icon-bar-2"></span></span></button>
                </h4>
                <div class="row text-center" ng-if="edit.show_load">
                    <i class="fa fa-spinner fa-spin fa-2x fa-fw" aria-hidden="true"></i><span class="sr-only"></span>
                </div>
                <div type="notice" ng-if="!edit.item.dropbox.dropbox_files.length && !edit.item.dropbox.dropbox_images.length && !edit.show_load" class="padd-file">{l}No files have been added yet{endl}</div>
                <div class="table active_rows orderTable" ng-if="edit.item.dropbox.dropbox_files.length || edit.item.dropbox.dropbox_images.length && !edit.show_load">
                    <div ng-repeat="item in edit.item.dropbox.dropbox_files">
                        <p class="padd-file"><a href="{{item.down_file_link}}" target="_blank" class="file-name">{{item.name}}</a> <span><a href="#" ng-click="edit.deleteDropFile($index)" confirm="{l}Are you sure, you wanna delete this entry?{endl}"><span ng-if="item.is_url" class="fas fa-unlink"></span><span ng-if="!item.is_url" class="fa fa-trash"></span></a>
                            </span>
                        </p>
                    </div>
                    <div ng-if="edit.item.dropbox.dropbox_images.length && !edit.show_load">
                        <div ng-repeat="item in edit.item.dropbox.dropbox_images">
                            <p class="padd-file"><a target="_blank" class="file-name" ng-click="edit.openLightboxModal($index)">{{item.name}}</a> <span><a href="#" ng-click="edit.deleteDropImage($index)" confirm="{l}Are you sure, you wanna delete this entry?{endl}"><span ng-if="item.is_url" class="fas fa-unlink"></span><span ng-if="!item.is_url" class="fa fa-trash"></span></a>
                                </span>
                            </p>
                        </div>
                    </div>
                </div>
                <!-- <table class="table active_rows orderTable" ng-if="edit.item.dropbox.dropbox_files.length && !edit.show_load">
              <thead>
                <tr>
                  <th class="col-md-1 col-sm-1 text-center">{l}Download{endl}</th>
                  <th class="col-md-10 col-sm-10">{l}File{endl}</th>
                  <th class="col-md-1 col-sm-1"></th>                   
                </tr>
              </thead>
                <tbody>
                  <tr ng-repeat="item in edit.item.dropbox.dropbox_files">
                    <td class="text-center"><a href="{{item.down_file_link}}" target="_blank"><i class="fa fa-dropbox" aria-hidden="true"></i></a></td>
                    <td>{{item.name}}</td>
                    <td class="table_actions">
                      <div class="btn-group" uib-dropdown>
                        <button type="button" class="btn btn-plain dropdown-toggle" uib-dropdown-toggle>
                           <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu dropdown-menu-right" uib-dropdown-menu>
                          <li class="dropdown-header">{l}Action{endl}</li>        
                          <li>
                           <a href="#" ng-click="edit.deleteDropFile($index)" confirm="{l}Are you sure, you wanna delete this entry?{endl}"><span class="glyphicon glyphicon-remove text-primary"></span> {l}Delete{endl}</a>
                          </li>
                        </ul>
                      </div>
                    </td>
                  </tr>
                </tbody>
            </table> -->
                <!-- <h4>
              <strong>{l}Images{endl}</strong>
              <button ng-if="edit.item.dropbox.is_drop && !edit.show_load" type="button" class="btn btn-primary btn-add" uib-tooltip="{l}Upload{endl}" tooltip-placement="right" ng-click="edit.uploadDoc(2)"><span class="btn-add_icon"><span class="icon-bar"></span><span class="icon-bar-2"></span></span></button>
            </h4>
            <div class="row text-center" ng-if="edit.show_load">
                <i class="fa fa-spinner fa-spin fa-2x fa-fw" aria-hidden="true"></i><span class="sr-only"></span>
            </div>
            <div class="padd-file" type="notice" ng-if="!edit.item.dropbox.dropbox_images.length && !edit.show_load">{l}No files have been added yet{endl}</div>
            <div class="row drop_images" ng-if="edit.item.dropbox.dropbox_images.length && !edit.show_load">
              <div class="col-sm-2 margin-top" ng-repeat="item in edit.item.dropbox.dropbox_images">
                <div class="image">
                  <img class="link-pointer" ng-src="{{item.url}}" ng-click="edit.openLightboxModal($index)"/>
                </div>
                <span class="glyphicon glyphicon-remove text-danger link-pointer" ng-click="edit.deleteDropImage($index)" confirm="{l}Are you sure, you wanna delete this entry?{endl}"></span>
              </div>
            </div> -->
            </div>
        </div>
    </div>
</div>
</div>