<div class="container">
  <div class="row page-content">
    <div class="col-xs-12 tabs-settings">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-3">
          <div class="page-header">
            <h1>{l}Deals Settings{endl}</h1>
          </div><!-- /.page-header -->
          <ul class="nav nav-tabs tabs-settings-nav">
            <li class="active"><a href="#dealsRef" aria-controls="dealsRef" data-toggle="tab" ng-click="ls.load('dealsRef','dealsRef')">{l}Numbering{endl}</a></li>
            <li><a href="#dealsBoards" aria-controls="dealsBoards" data-toggle="tab" ng-click="ls.loadBoards()">{l}Boards{endl}</a></li>
          </ul><!-- /.tabs-settings-nav -->
        </div>
        <div class="col-xs-12 col-sm-12 col-md-9 tab-content tabs-settings-content">
          <div class="tab-pane fade active in" id="dealsRef">
            <div uib-alert ng-repeat="alert in ls.alerts" type="{{alert.type}}" close="ls.alerts.splice($index, 1);" dismiss-on-timeout="5000" ng-class="['alert-' + (alert.type || 'warning') ]">{{alert.msg}}</div>
            <div class="section-title">
              <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-4">
                  <h2>{l}Deal Reference{endl}</h2>
                </div>
              </div>
            </div><!-- /.section-title -->
            <div class="section-content">
                <div class="row">
                    <div class="col-xs-12">
                        <form class="form-horizontal">
                          <div class="form-group">
                            <label for="inputEmail3" class="col-xs-4 control-label text-left">{l}Deal Index{endl}<!-- <small>({l}Fixed part{endl})</small> --></label>
                            <div class="col-xs-3">
                              <input type="text" class="form-control" id="inputEmail3" placeholder="D-" ng-blur="ls.saveData('dealsRef','dealsRef')" ng-model="ls.dealsRef.ACCOUNT_DEAL_START">
                            </div>
                          </div>
                          <div class="form-group">
                            <label for="inputPassword3" class="col-xs-4 control-label text-left">{l}No. of digits{endl}<!-- : <small>({l}Incremental part{endl})</small> --></label>
                            <div class="col-xs-3">
                              <input type="text" class="form-control" id="inputPassword3" placeholder="1" ng-blur="ls.saveData('dealsRef','dealsRef')" ng-model="ls.dealsRef.ACCOUNT_DEAL_DIGIT_NR">
                            </div>
                          </div>
                          <div class="alert alert-info alert-info_alt" role="alert">{l}The name of the deal will have this format{endl}  &nbsp; <code class="bg-primary">{{ls.dealsRef.EXAMPLE_DEAL}}</code></div>
                        </form>
                    </div>
                </div>
            </div><!-- /.section-content -->
          </div><!-- /.tab-pane -->
          <div class="tab-pane fade" id="dealsBoards">
            <div uib-alert ng-repeat="alert in ls.alerts" type="{{alert.type}}" close="ls.alerts.splice($index, 1);" dismiss-on-timeout="5000" ng-class="['alert-' + (alert.type || 'warning') ]">{{alert.msg}}</div>
            <div class="section-title">
              <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-4">
                  <h2>{l}Manage Boards{endl}
                    <button type="button" class="btn btn-primary btn-add" aria-haspopup="true"  tooltip-placement="right" ng-click="ls.addBoard('tmp')"><span class="btn-add_icon"><span class="icon-bar"></span><span class="icon-bar-2"></span></span></button>
                  </h2>
                </div>
              </div>
            </div><!-- /.section-title -->
            <div class="section-content">
                <div class="row">
                    <div class="col-xs-12">
                      <table class="table">
                        <thead>
                            <tr>
                                <th class="col-sm-7">{l}Name{endl}</th>
                                <th class="col-sm-4">{l}Number of stages{endl}</th>
                                <th class="col-sm-1"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="item in ls.boards">
                                <td class="col-adjust-input buttom">
                                    <label>{{item.value}}</label>
                                </td>
                                <td class="col-adjust-input buttom">
                                    <label>{{item.stage_nr}}</label>
                                </td>
                                <td class="table_actions buttom">
                                    <div class="btn-group" uib-dropdown>
                                        <button type="button" class="btn btn-plain dropdown-toggle" uib-dropdown-toggle>
                                            <span class="caret"></span>
                                        </button>
                                        <ul class="dropdown-menu dropdown-menu-right" uib-dropdown-menu>
                                            <li><a href="#" ng-click="ls.editBoard(item.id)"><span class="fas fa-pen text-primary"></span> {l}Edit{endl}</a>
                                            </li>
                                            <li><a ng-click="ls.deleteBoard(item.id)" confirm="{l}Are you sure, you wanna delete this entry?{endl}{l}This will delete all deals{endl}!"><span class="fa fa-trash text-primary"></span> {l}Delete{endl}</a>
                                            </li>
                                        </ul>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    </div>
                </div>
            </div><!-- /.section-content -->
          </div><!-- /.tab-pane -->
        </div><!-- /.tabs-settings-content -->
      </div>
    </div><!-- /.tabs-settings -->
  </div><!-- /.page-content -->
</div><!-- neede on all pages -->
