<div class="container">
    <div class="page-header">
        <div class="row">
            <div class="col-xs-12">
                <h1>{l}Import Accounts{endl}</h1>
            </div>
        </div>
    </div>
    <!-- /.page-header -->
    <div class="tabs-navigation">
        <div class="row page-content">
            <div class="col-sm-12">
                <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation" class="active"><a href="#import" aria-controls="import" role="tab" data-toggle="tab">{l}Import{endl}</a></li>
                    <li role="presentation" class="" ng-if="vm.crm.is_nylas" ng-click="vm.get_contacts()"><a href="#contacts" aria-controls="contacts" role="tab" data-toggle="tab">{l}Email Contacts{endl}</a></li>
                    <li role="presentation"><a href="#import_history" class="history" aria-controls="import_history" role="tab" data-toggle="tab">{l}History{endl}</a></li>
                    <li role="presentation" ng-if="vm.crm.is_zendesk" ng-click="vm.get_zendesk(0)"><a href="#import_zendesk" aria-controls="import_zendesk" role="tab" data-toggle="tab">{l}Import Zendesk{endl}</a></li>
                </ul>
                <div class="tab-content">
                    <!-- <div uib-alert ng-repeat="alert in vm.alerts" type="{{alert.type}}" close="vm.alerts.splice($index, 1);" dismiss-on-timeout="5000" ng-class="['alert-' + (alert.type || 'warning'), 'alert-fixed' ]">{{alert.msg}}</div> -->
                    <div role="tabpanel" class="tab-pane fade in active" id="import">
                        <form id="import_form" class="form-horizontal text-left" name="backup_import" novalidate>
                            <div class="section-content col-top">
                                <div class="row panel_steps col-top col-bottom">
                                    <div class="col-xs-12 col-sm-4">
                                        <div class="panel panel-plain {{vm.crm.class1}}">
                                            <div class="panel-body text-center">
                                                <h2>{l}Step 1{endl} - {l}Backup your data{endl}</h2>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-4">
                                        <div class="panel panel-plain {{vm.crm.class2}}">
                                            <div class="panel-body text-center">
                                                <h2>{l}Step 2{endl} - {l}Select a file you want to import{endl}</h2>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-4">
                                        <div class="panel panel-plain {{vm.class3}}">
                                            <div class="panel-body text-center">
                                                <h2>{l}Step 3{endl} - {l}Match desired fields{endl}</h2>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-12 text-center">
                                        <div ng-show="vm.crm.step==1 || vm.step==1 ">
                                            <p>{l}Step 1 - Take a backup. If anything goes wrong, you can always restore this backup.{endl}</p>
                                            <div class="row">
                                                <div class="col-xs-12 col-sm-7 col-sm-offset-3 col-top">
                                                    <div class="form-group">
                                                        <label class="control-label col-xs-2">{l}File{endl} <span class="mandatory-label">*</span></label>
                                                        <div class="col-xs-6">
                                                            <!--                                   <select class="form-control" ng-model="vm.crm.file_id">
                                    <option value="0">{l}Select file{endl}</option>
                                    <option ng-repeat="option in vm.crm.file track by option.id" value="{{option.id}}">{{option.value}}</option>
                                  </select> -->
                                                            <selectize config="vm.cfg" options="vm.crm.file" ng-model="vm.crm.file_id"></selectize>
                                                        </div>
                                                        <div class="col-xs-4">
                                                            <button class="btn btn-default btn-block" type="button" ng-click="vm.backup_data(vm,vm.crm,vm.crm.file_id)">{l}Backup{endl}</button>
                                                        </div>
                                                    </div>
                                                    <!--                             <div class="form-group" ng-if="vm.crm.show_file==false">
                                <div class="col-xs-4 col-xs-offset-4">
                                  <button class="btn btn-default btn-block" type="button" ng-click="vm.backup_data(vm,vm.crm,vm.crm.file_id)">{l}Backup{endl}</button>
                                </div>
                            </div>  -->
                                                </div>
                                            </div>
                                        </div>
                                        <div ng-show="vm.crm.step==2">
                                            <p>{l}Step 2 - Select the Excel file that contains the data. That file should have the column headers on the first line. NOTE: each column header must be unique.{endl}</p>
                                            <div class="row">
                                                <div class="col-xs-12 col-sm-6 col-sm-offset-3 col-top">
                                                    <div class="upload-box col-xs-12">
                                                        <p><strong>{l}Import file{endl}</strong></p>
                                                        <p><small>{l}Allowed file types: <strong>.xls</strong> or <strong>.xlsx</strong>{endl}</small></p>
                                                        <div class="upload-file hidden">
                                                            <div class="row">
                                                                <div class="upload-file-info col-xs-12">
                                                                    <p class="nameOfTheFile"></p>
                                                                    <div class="upload-progress">
                                                                        <div class="upload-progress-bar" style="width: 88%;"></div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <input type="file" name="file" class="newUploadFile2" accept=".xls,.xlsx">
                                                        <p class="text-center"><button class="btn btn-default" ng-click="vm.upload(vm,$event)"><span class="glyphicon glyphicon-cloud-upload"></span> {l}Upload{endl}</button></p>
                                                    </div>
                                                    <!-- /.upload-box -->
                                                </div>
                                            </div>
                                        </div>
                                        <div ng-show="vm.step==3 || vm.crm.step==3">
                                            <p class="col-bottom text-left"><u>{l}Explanation{endl}</u>: {l}For the last step of the import, match the fields from the Excel file you uploaded to the fields available in Akti. In the first column below, you can find the titles of the columns
                                                from your file and the first three values in those columns. The following column(s) are the fields in Akti to which you can import that information.{endl}</p>
                                            <div class="form-group">
                                                <label class="col-xs-6 col-sm-2 text-left">{l}Individual?{endl}</label>
                                                <div class="form-group col-xs-6 col-sm-10 text-left">
                                                    <toggle-switch ng-model="vm.indi" class="switch-primary" on-change="vm.hidecontact()" off-label="{l}No{endl}" on-label="{l}Yes{endl}"></toggle-switch>
                                                </div>
                                            </div>
                                            <div class="form-group" ng-if="vm.hidecont==0">
                                                <label class="col-xs-6 col-sm-2 text-left">{l}Contact for Individual?{endl}</label>
                                                <div class="form-group col-xs-6 col-sm-10 text-left">
                                                    <toggle-switch ng-model="vm.indicontact" on-change="vm.putcontact()" class="switch-primary" off-label="{l}No{endl}" on-label="{l}Yes{endl}"></toggle-switch>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-xs-6 col-sm-2 text-left">{l}Import multiple addresses{endl}</label>
                                                <div class="form-group col-xs-6 col-sm-10 text-left">
                                                    <toggle-switch ng-model="vm.multiple_addresses" class="switch-primary" on-change="vm.multipleAddresses()" off-label="{l}No{endl}" on-label="{l}Yes{endl}"></toggle-switch>
                                                </div>
                                            </div>
                                            <div class="row col-bottom text-left" ng-repeat="(key,val) in vm.file_content">
                                                <div class="col-xs-4">
                                                    <h3><u>{l}Columns from excel{endl}</u></h3>
                                                    <table class="table">
                                                        <thead>
                                                            <tr>
                                                                <th class="col-sm-12">{{key}}</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr ng-repeat="item in val | limitTo:3 track by $index">
                                                                <td>
                                                                    {{item}}
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                                <div class="col-xs-4" ng-if="vm.changefield==0">
                                                    <h3><u>{l}Fields in Akti for accounts{endl}</u></h3>
                                                    <h3>{l}Company{endl}</h3>
                                                    <!--                             <select class="form-control" name="match_field_id" ng-model="vm.fields[vm.names_id[$index]]" ng-show="!vm.fieldsC[vm.names_id[$index]]">
                              <option value="">{l}Select{endl}</option>
                              <option ng-repeat="option in vm.match_field_company track by option.id" value="{{option.id}}">{{option.name}}</option>
                            </select>  -->
                                                    <select class="form-control" ng-model="vm.fields[vm.names_id[$index]]" ng-show="!vm.fieldsC[vm.names_id[$index]]" data-ng-options="option.id as option.name group by option.group for option in vm.match_field_company">
                            <option value="">{l}Select{endl}</option>
                            </select>
                                                </div>
                                                <div class="col-xs-4" ng-if="vm.changefield==1">
                                                    <h3><u>{l}Fields in Akti for Individuals{endl}</u></h3>
                                                    <h3>{l}Individual{endl}</h3>
                                                    <select class="form-control" name="match_field" ng-model="vm.fields[vm.names_id[$index]]" ng-show="!vm.fieldsC[vm.names_id1[$index]] || (vm.fieldsC[vm.names_id1[$index]]=='20' || vm.fieldsC[vm.names_id1[$index]]=='21')" data-ng-options="option.id as option.name group by option.group for option in vm.match_field_individual">
                              <option value="">{l}Select{endl}</option>
                            </select>
                                                </div>
                                                <div class="col-xs-4" ng-if="vm.changefield==0">
                                                    <h3><u>{l}Fields in Akti for Contacts{endl}</u></h3>
                                                    <h3>{l}Contacts{endl}</h3>
                                                    <select class="form-control" name="match_field_id" ng-model="vm.fieldsC[vm.names_id[$index]]" ng-show="!vm.fields[vm.names_id[$index]]" data-ng-options="option.id as option.name group by option.group for option in vm.match_field_contacts">
                              <option value="">{l}Select{endl}</option>
                            </select>
                                                </div>
                                                <div class="col-xs-4" ng-if="vm.hideconts==1 && vm.changefield==1">
                                                    <h3><u>{l}Fields in Akti for Contacts{endl}</u></h3>
                                                    <h3>{l}Contacts{endl}</h3>
                                                    <select class="form-control" name="match_field" ng-model="vm.fieldsC[vm.names_id1[$index]]" ng-show="!vm.fields[vm.names_id[$index]] || (vm.fields[vm.names_id[$index]]=='12' || vm.fields[vm.names_id[$index]]=='13')" data-ng-options="option.id as option.name group by option.group for option in vm.match_field_contacts">
                              <option value="">{l}Select{endl}</option>
                            </select>
                                                </div>
                                            </div>
                                            <div class="col-top col-bottom text-center">
                                                <button class="btn btn-default" type="button" ng-click="vm.save_imports()">{l}Import{endl}</button>
                                            </div>
                                            <!--                     <div class="showprogress hide">
                        <p class="imported_txt"><span class="show_loading" style="display:none;"><img src="../img/ajax-loader-gray.gif" alt="loading" /> </span> <span id="imported">0</span> {l}Companies imported{endl}</p>
                          <div class="import_progressbar" >
                            <div style="display: block; width: 0%;" class="import-progressbar-value" >
                            </div>
                          </div>
                    </div> -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- /.section-content -->
                        </form>
                        <!-- /#import_form -->
                    </div>
                    <!-- /.tab-pane -->
                    <div role="tabpanel" class="tab-pane fade" id="contacts">
                        <div class="section-content">
                            <div class="row panel_steps col-top col-bottom">
                                <div class="col-xs-12 col-sm-4">
                                    <div class="panel panel-plain text-plain" ng-class="{'text-primary': vm.nylas_data.step==1}">
                                        <div class="panel-body text-center">
                                            <h2>{l}Step 1{endl} - {l}Backup your data{endl}</h2>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-4">
                                    <div class="panel panel-plain text-plain" ng-class="{'text-primary': vm.nylas_data.step==2}">
                                        <div class="panel-body text-center">
                                            <h2>{l}Step 2{endl} - {l}Import email contacts{endl}</h2>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-4">
                                    <div class="panel panel-plain" ng-class="{'text-primary': vm.nylas_data.step==3}">
                                        <div class="panel-body text-center">
                                            <h2>{l}Step 3{endl} - {l}Save desired contacts{endl}</h2>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12 text-center" ng-show="vm.nylas_data.step==1">
                                <p>{l}Step 1 - Take a backup. If anything goes wrong, you can always restore this backup.{endl}</p>
                                <div class="row">
                                    <div class="col-xs-12 col-sm-7 col-sm-offset-3 col-top">
                                        <div class="form-group" ng-if="vm.crm.show_file==true">
                                            <label class="control-label col-xs-2">{l}File{endl} <span class="mandatory-label">*</span></label>
                                            <div class="col-xs-6">
                                                <!--                     <select class="form-control" ng-model="vm.nylas_data.file_id">
                      <option value="0">{l}Select file{endl}</option>
                      <option ng-repeat="option in vm.nylas_data.file track by option.id" value="{{option.id}}">{{option.value}}</option>
                    </select> -->
                                                <selectize config="vm.cfg" options="vm.nylas_data.file" ng-model="vm.nylas_data.file_id"></selectize>
                                            </div>
                                            <div class="col-xs-4">
                                                <button class="btn btn-default btn-block" type="button" ng-click="vm.backup_data_nylas(vm,vm.nylas_data,vm.nylas_data.file_id)">{l}Backup{endl}</button>
                                            </div>
                                        </div>
                                        <div class="form-group" ng-if="vm.crm.show_file==false">
                                            <div class="col-xs-4 col-xs-offset-4">
                                                <button class="btn btn-default btn-block" type="button" ng-click="vm.backup_data_nylas(vm,vm.nylas_data,vm.nylas_data.file_id)">{l}Backup{endl}</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12 text-center" ng-show="vm.nylas_data.step==2">
                                <p>{l}Step 2 - Start importing contacts from your email.{endl}</p>
                                <div class="col-sm-12 text-center">
                                    <button class="btn btn-default" ng-if="vm.nylas_data.nylas_active" ng-click="vm.sync_contacts()" uib-tooltip="{l}Syncronize email contacts{endl}" tooltip-placement="bottom">{l}Sync contacts{endl}</button>
                                </div>
                            </div>
                            <div class="col-sm-12" ng-show="vm.nylas_data.step==3">
                                <div class="row">

                                    <div class="scroll_list_overflow">
                                        <div class="scroll_list_body" ng-scrollbars ng-scrollbars-config="vm.scroll_config">
                                            <form class="form-horizontal" name="data_form" no-validate>
                                                <table class="table active_rows orderTable" id="contacts_list">
                                                    <thead>
                                                        <tr>
                                                            <th>
                                                                <div class="row">
                                                                    <div class="col-sm-2">{l}Last Name{endl}</div>
                                                                    <div class="col-sm-2">{l}First Name{endl}</div>
                                                                    <div class="col-sm-3">{l}Account{endl}</div>
                                                                    <div class="col-sm-2">{l}Email{endl}</div>
                                                                    <div class="col-sm-2">{l}Phone{endl}</div>
                                                                    <div class="col-sm-1 table_actions">
                                                                        <div class="btn-group" uib-dropdown>
                                                                            <button type="button" class="btn btn-tertiary dropdown-toggle" uib-dropdown-toggle>
                                        <span class="caret"></span>
                                    </button>
                                                                            <ul class="dropdown-menu dropdown-menu-right" uib-dropdown-menu>
                                                                                <li>
                                                                                    <div class="checkbox">
                                                                                        <label>
                                              <input type="checkbox" ng-model="vm.nylas_data.markAll" ng-click="vm.checkAll()"> {l}All as Individual{endl}  
                                            </label>
                                                                                    </div>
                                                                                    <div class="checkbox">
                                                                                        <label>
                                              <input type="checkbox" ng-model="vm.nylas_data.markSync" ng-click="vm.checkSync()"> {l}All not imported{endl}  
                                            </label>
                                                                                    </div>
                                                                                </li>
                                                                            </ul>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr ng-repeat="item in vm.nylas_data.list">
                                                            <td>
                                                                <div class="row">
                                                                    <div class="col-sm-2">
                                                                        <div class="col-sm-12">
                                                                            <div class="form-group" ng-class="{ 'form-group_alert' : data_form.lastname_{{$index}}.$invalid && !data_form.lastname_{{$index}}.$pristine }">
                                                                                <input type="text" class="form-control" name="lastname_{{$index}}" ng-model="item.lastname" placeholder="{l}Last Name{endl}">
                                                                                <div class="alert alert-sm alert-danger" ng-if="data_form['lastname_'+$index].$invalid && vm.alertsField['lastname_'+$index]">{{vm.alertsField['lastname_'+$index]}}</div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-sm-2">
                                                                        <div class="col-sm-12">
                                                                            <div class="form-group" ng-class="{ 'form-group_alert' : data_form.firstname_{{$index}}.$invalid && !data_form.firstname_{{$index}}.$pristine }">
                                                                                <input type="text" class="form-control" name="firstname_{{$index}}" ng-model="item.firstname" placeholder="{l}First Name{endl}">
                                                                                <div class="alert alert-sm alert-danger" ng-if="data_form['firstname_'+$index].$invalid && vm.alertsField['firstname_'+$index]">{{vm.alertsField['firstname_'+$index]}}</div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-sm-3">
                                                                        <div class="col-sm-12">
                                                                            <div class="form-group" ng-class="{ 'form-group_alert' : data_form.customer_id_{{$index}}.$invalid && !data_form.customer_id_{{$index}}.$pristine }">
                                                                                <selectize class="multi_select" name="customer_id_{{$index}}" config='vm.filterCust' options='item.customer_dd' ng-model="item.customer_id" placeholder="{l}All Customers{endl}" ng-disabled="item.disabled"></selectize>
                                                                                <div class="alert alert-sm alert-danger" ng-if="data_form['customer_id_'+$index].$invalid && vm.alertsField['customer_id_'+$index]">{{vm.alertsField['customer_id_'+$index]}}</div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-sm-2">
                                                                        <div class="col-sm-12">
                                                                            <div class="form-group" ng-class="{ 'form-group_alert' : data_form.email_{{$index}}.$invalid && !data_form.email_{{$index}}.$pristine }">
                                                                                <input type="text" class="form-control" name="email_{{$index}}" ng-model="item.email" placeholder="{l}Email{endl}">
                                                                                <div class="alert alert-sm alert-danger" ng-if="data_form['email_'+$index].$invalid && vm.alertsField['email_'+$index]">{{vm.alertsField['email_'+$index]}}</div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-sm-2">
                                                                        <div class="col-sm-12">
                                                                            <div class="form-group" ng-class="{ 'form-group_alert' : data_form.phone_{{$index}}.$invalid && !data_form.phone_{{$index}}.$pristine }">
                                                                                <input type="text" class="form-control" name="phone_{{$index}}" ng-model="item.phone" placeholder="{l}Phone{endl}">
                                                                                <div class="alert alert-sm alert-danger" ng-if="data_form['phone_'+$index].$invalid && vm.alertsField['phone_'+$index]">{{vm.alertsField['phone_'+$index]}}</div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-sm-1 table_actions">
                                                                        <div class="btn-group" uib-dropdown>
                                                                            <button type="button" class="btn btn-plain dropdown-toggle" uib-dropdown-toggle>
                                                <span class="caret"></span>
                                            </button>
                                                                            <ul class="dropdown-menu dropdown-menu-right" uib-dropdown-menu>
                                                                                <li class="dropdown-header">{l}Action{endl}</li>
                                                                                <li>
                                                                                    <div class="checkbox">
                                                                                        <label>
                                                      <input type="checkbox" ng-model="item.individual" ng-click="vm.setIndividual($index)"> {l}As Individual{endl}
                                                    </label>
                                                                                    </div>
                                                                                    <div class="checkbox">
                                                                                        <label>
                                                      <input type="checkbox" ng-model="item.sync" ng-click="vm.setSync($index)"> {l}Not imported{endl}
                                                    </label>
                                                                                    </div>
                                                                                </li>
                                                                                <li><a href="#" ng-click="vm.deleteContact($index)" confirm="{l}Are you sure, you wanna delete this entry?{endl}"><span class="fas fa-trash-alt text-primary"></span> {l}Delete{endl}</a></li>
                                                                            </ul>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12 text-center">
                                    <button class="btn btn-default pull-right" ng-click="vm.saveContacts(data_form)">{l}Save{endl}</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane fade" id="import_history">
                        <form id="import_form" name="backup_import" novalidate>
                            <div class="section-content">
                                <h2>{l}View what has been imported{endl}</h2>
                                <p class="text-muted">{l}Import History{endl}</p>
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th class="col-sm-1">{l}Date{endl}</th>
                                            <th class="col-sm-3">{l}Filename{endl}</th>
                                            <th class="col-sm-1">{l}Type{endl}</th>
                                            <th class="col-sm-1">{l}Company Added{endl}</th>
                                            <th class="col-sm-1">{l}Company Updated{endl}</th>
                                            <th class="col-sm-1">{l}Contact Added{endl}</th>
                                            <th class="col-sm-1">{l}Contact Updated{endl}</th>
                                            <th class="col-sm-2">{l}User{endl}</th>
                                            <th class="col-sm-1"> </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="item in vm.crm.history">
                                            <td class="text-muted">{{item.date}}</td>
                                            <td>{{item.filename}}</td>
                                            <td>{{item.type}}</td>
                                            <td class="text-primary link-pointer text-link" ng-click="vm.modal_history([item.id,item.add_company],'cTemplate/history','historyCtrl','lg')">{{item.company_added}}</td>
                                            <td class="text-primary link-pointer text-link" ng-click="vm.modal_history([item.id,item.update_company],'cTemplate/history','historyCtrl','lg')">{{item.company_updated}}</td>
                                            <td class="text-primary link-pointer text-link" ng-click="vm.modal_history([item.id,item.add_contact],'cTemplate/history','historyCtrl','lg')">{{item.contact_added}}</td>
                                            <td class="text-primary link-pointer text-link" ng-click="vm.modal_history([item.id,item.update_contact],'cTemplate/history','historyCtrl','lg')">{{item.contact_updated}}</td>
                                            <td class="text-muted">{{item.username}}</td>
                                            <td class="table_actions">
                                                <div class="btn-group" uib-dropdown>
                                                    <button type="button" class="btn btn-plain dropdown-toggle" uib-dropdown-toggle>
                        <span class="caret"></span>
                      </button>
                                                    <ul class="dropdown-menu dropdown-menu-right" uib-dropdown-menu>
                                                        <li class="dropdown-header">{l}Action{endl}</li>
                                                        <li>
                                                            <a href="#" ng-click="vm.delete_import_company(vm,vm.vat,item.id)"><span class="fa fa-trash text-primary"></span> {l}Delete{endl}</a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </form>
                    </div>
                    <!-- /.tab-pane -->
                    <div role="tabpanel" class="tab-pane fade" id="import_zendesk">
                        <div class="section-content">
                            <div class="row">
                                <div class="panel_steps col-top col-bottom">
                                    <div class="col-xs-12 col-sm-4 link-pointer" ng-click="vm.zendesk_data.step=0">
                                        <div class="panel panel-plain text-plain" ng-class="{'text-primary': vm.zendesk_data.step==0}">
                                            <div class="panel-body text-center">
                                                <h2>{l}Import from{endl} Zendesk</h2>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-4 link-pointer" ng-click="vm.zendesk_data.step=1">
                                        <div class="panel panel-plain text-plain" ng-class="{'text-primary': vm.zendesk_data.step==1}">
                                            <div class="panel-body text-center">
                                                <h2>{l}Import to{endl} Zendesk</h2>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-4 link-pointer" ng-click="vm.zendesk_data.step=2">
                                        <div class="panel panel-plain text-plain" ng-class="{'text-primary': vm.zendesk_data.step==2}">
                                            <div class="panel-body text-center">
                                                <h2>{l}Sync{endl}</h2>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12 form-horizontal left_side" ng-if="vm.zendesk_data.step==0">
                                    <div class="form-group">
                                        <label class="control-label col-sm-2">{l}Imported contacts{endl}</label>
                                        <div class="col-sm-9">
                                            <label class="control-label col-sm-1"><b>{{vm.zendesk_data.contacts_imported}}</b></label>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-sm-2">{l}Available contacts{endl}</label>
                                        <div class="col-sm-9">
                                            <label class="control-label col-sm-1"><b>{{vm.zendesk_data.contacts_available}}</b></label>
                                            <button class="btn btn-default" ng-if="vm.zendesk_data.contacts_available>0" ng-click="vm.showZenF.contact_fields=!vm.showZenF.contact_fields">{l}Import{endl}</button>
                                            <span ng-if="vm.zendesk_data.contacts_available>0 && vm.zendesk_data.one_time" class="text-muted text-spacer">OR</span>
                                            <button class="btn btn-default" ng-if="vm.zendesk_data.contacts_available>0 && vm.zendesk_data.one_time" ng-click="vm.ZenSyncNew('sync_one')">{l}One time match contacts by email{endl}</button>
                                            <button class="btn btn-default" ng-if="vm.zendesk_data.contacts_imported>0 && vm.zendesk_data.contacts_available==0" ng-click="vm.ZenSyncNew('sync_membership')">{l}Sync Memberships{endl}</button>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-sm-2">{l}Imported accounts{endl}</label>
                                        <div class="col-sm-9">
                                            <label class="control-label col-sm-1"><b>{{vm.zendesk_data.accounts_imported}}</b></label>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-sm-2">{l}Available accounts{endl}</label>
                                        <div class="col-sm-9">
                                            <label class="control-label col-sm-1"><b>{{vm.zendesk_data.accounts_available}}</b></label>
                                            <button class="btn btn-default" ng-if="vm.zendesk_data.accounts_available>0" ng-click="vm.showZenF.account_fields=!vm.showZenF.account_fields">{l}Import{endl}</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="col-sm-12 text-center" ng-if="vm.zendesk_data.step==1">
                                        <button type="button" class="btn btn-default" ng-click="vm.setExportContacts()">{l}Import Contacts to Zendesk{endl}</button>
                                    </div>
                                    <div class="row" ng-if="vm.zendesk_data.step==0 && vm.showZenF.account_fields && !vm.zendesk_data.account_custom_fields.length">
                                        <div class="col-sm-12">
                                            <div uib-alert type="notice" class="alert-warning">{l}There are no Zendesk custom fields{endl}</div>
                                            <h4>
                                                <button class="btn btn-default pull-right" ng-click="vm.ZenSyncNew('import_account')">{l}Continue Import{endl}</button>
                                            </h4>
                                        </div>
                                    </div>
                                    <div class="row" ng-if="vm.zendesk_data.step==0 && vm.showZenF.account_fields && vm.zendesk_data.account_custom_fields.length">
                                        <div class="col-sm-12">
                                            <h4>
                                                <button class="btn btn-default pull-right" ng-click="vm.ZenSyncNew('import_account')">{l}Continue Import{endl}</button>
                                            </h4>
                                            <table class="table table_orders">
                                                <thead>
                                                    <th class="col-sm-6">{l}Zendesk custom field{endl}</th>
                                                    <th class="col-sm-6">{l}Custom fields for companies{endl}</th>
                                                </thead>
                                                <tbody>
                                                    <tr ng-repeat="item in vm.zendesk_data.account_custom_fields">
                                                        <td><span>{{item.name}}</span></td>
                                                        <td>
                                                            <div class="col-sm-10">
                                                                <selectize config="vm.cfgZenF" options="vm.zendesk_data.account_fields" ng-model="item.custom_field_id"></selectize>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                    <div class="row" ng-if="vm.zendesk_data.step==0 && vm.showZenF.contact_fields && !vm.zendesk_data.contact_custom_fields.length">
                                        <div class="col-sm-12">
                                            <div uib-alert type="notice" class="alert-warning">{l}There are no Zendesk custom fields{endl}</div>
                                            <h4>
                                                <button class="btn btn-default pull-right" ng-click="vm.ZenSyncNew('import_contact')">{l}Continue Import{endl}</button>
                                            </h4>
                                        </div>
                                    </div>
                                    <div class="row" ng-if="vm.zendesk_data.step==0 && vm.showZenF.contact_fields && vm.zendesk_data.contact_custom_fields.length">
                                        <div class="col-sm-12">
                                            <h4>
                                                <button class="btn btn-default pull-right" ng-click="vm.ZenSyncNew('import_contact')">{l}Continue Import{endl}</button>
                                            </h4>
                                            <table class="table table_orders">
                                                <thead>
                                                    <th class="col-sm-6">{l}Zendesk custom field{endl}</th>
                                                    <th class="col-sm-6">{l}Custom fields for contact{endl}</th>
                                                </thead>
                                                <tbody>
                                                    <tr ng-repeat="item in vm.zendesk_data.contact_custom_fields">
                                                        <td><span>{{item.name}}</span></td>
                                                        <td>
                                                            <div class="col-sm-10">
                                                                <selectize config="vm.cfgZenF" options="vm.zendesk_data.contact_fields" ng-model="item.custom_field_id"></selectize>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                    <div class="col-sm-12 margin-bottom text-center" ng-if="vm.zendesk_data.step==2">
                                        <button class="btn btn-default" ng-disabled="!vm.zendesk_data.can_sync" ng-click="vm.ZenSyncNew('sync_contact_change')">{l}Sync modified contacts from Zendesk{endl}</button>
                                    </div>
                                    <div class="row margin-bottom" ng-if="vm.zendesk_data.step==2">
                                        <div class="form-group">
                                            <label class="control-label col-sm-6 text-right">{l}Automatically sync Akti new contacts to Zendesk{endl}</label>
                                            <div class="col-sm-1 checkbox checkbox-primary">
                                                <input type="checkbox" id="checkbox1" ng-model="vm.zendesk_data.zen_sync_new_c" ng-click="vm.applySync('zen_sync_new_c')" />
                                                <label for="checkbox1"></label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row margin-bottom" ng-if="vm.zendesk_data.step==2">
                                        <div class="form-group">
                                            <label class="control-label col-sm-6 text-right">{l}Automatically sync Akti modified contacts to Zendesk{endl}</label>
                                            <div class="col-sm-1 checkbox checkbox-primary">
                                                <input type="checkbox" id="checkbox2" ng-model="vm.zendesk_data.zen_sync_old_c" ng-click="vm.applySync('zen_sync_old_c')" />
                                                <label for="checkbox2"></label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row" ng-if="vm.zendesk_data.step==2">
                                        <div class="form-group">
                                            <label class="control-label col-sm-6 text-right">{l}Automatically sync modified Zendesk contacts to Akti{endl}</label>
                                            <div class="col-sm-1 checkbox checkbox-primary">
                                                <input type="checkbox" id="checkbox3" ng-model="vm.zendesk_data.zen_sync_inc_c" ng-click="vm.applySync('zen_sync_inc_c')" ng-disabled="!vm.zendesk_data.can_sync" />
                                                <label for="checkbox3"></label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-12" ng-if="vm.zendesk_data.step==2 && !vm.zendesk_data.can_sync">
                                        <div class="col-sm-6 col-sm-offset-3">
                                            <div uib-alert type="notice" class="alert-warning">{l}Zendesk Sync requires contacts import{endl}</div>
                                        </div>
                                    </div>
                                    <div class="col-sm-12" ng-if="vm.zendesk_data.step==2 && vm.showAutoZen && !vm.zendesk_data.contact_custom_fields_matched.length">
                                        <div class="col-sm-6 col-sm-offset-3">
                                            <div uib-alert type="notice" class="alert-warning">{l}There are no Zendesk custom fields{endl}</div>
                                            <h4>
                                                <button class="btn btn-plain pull-right" ng-click="vm.showAutoZen=false">{l}Close{endl}</button>
                                            </h4>
                                        </div>
                                    </div>
                                    <div class="row" ng-if="vm.zendesk_data.step==2 && vm.showAutoZen && vm.zendesk_data.contact_custom_fields_matched.length">
                                        <div class="col-sm-12">
                                            <h4>
                                                <button class="btn btn-default pull-right" ng-click="vm.applyCustomAuto()">{l}Save{endl}</button>
                                                <button class="btn btn-plain pull-right" ng-click="vm.showAutoZen=false">{l}Cancel{endl}</button>
                                            </h4>
                                            <table class="table table_orders">
                                                <thead>
                                                    <th class="col-sm-6">{l}Zendesk custom field{endl}</th>
                                                    <th class="col-sm-6">{l}Custom fields for contact{endl}</th>
                                                </thead>
                                                <tbody>
                                                    <tr ng-repeat="item in vm.zendesk_data.contact_custom_fields_matched">
                                                        <td><span>{{item.name}}</span></td>
                                                        <td>
                                                            <div class="col-sm-10">
                                                                <selectize config="vm.cfgZenF" options="vm.zendesk_data.contact_fields" ng-model="item.custom_field_id"></selectize>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                <!--<table class="table table_orders customers" cellspacing="0" cellpadding="0" ng-if="vm.zendesk_data.step==1">
              <thead>
                <tr>
                  <th class="col-sm-3">{l}Last Name{endl}</th>
                  <th class="col-sm-2">{l}First Name{endl}</th>
                  <th class="col-sm-3">{l}Account{endl}</th>
                  <th class="col-sm-2">{l}Email{endl}</th>
                  <th class="col-sm-1"></th>
                  <th class="col-sm-1 table_actions">
                    <div class="btn-group" uib-dropdown>
                      <button type="button" class="btn btn-tertiary dropdown-toggle" uib-dropdown-toggle>
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu dropdown-menu-right" uib-dropdown-menu>
                            <li><a href="#" ng-click="vm.get_zendesk(0)" ng-if="vm.zendesk_data.view=='1' "><span class="glyphicon glyphicon-briefcase"></span> {{vm.zendesk_data.active}}</a></li>
                            <li><a href="#" ng-click="vm.get_zendesk(1)" ng-if="vm.zendesk_data.view!='1' "><span class="fa fa-list-ul"></span> {{vm.zendesk_data.active}}</a></li>                      
                        </ul>
                    </div>
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="item in vm.zendesk_data.list">
                  <td class="text-muted">
                    <span> {{item.last_name}}</span>
                  </td>
                  <td>{{item.first_name}}</td>
                  <td>{{item.company}}</td>
                  <td>{{item.email}}</td>
                  <td class="text-center">
                      <a href="#" uib-tooltip="{l}Imported to Zendesk{endl}" tooltip-placement="left" ng-if="item.our"><span class="fas fa-upload"></span></a>
                      <a href="#" uib-tooltip="{l}Imported into CRM{endl}" tooltip-placement="left" ng-if="!item.our && item.imported"><span class="glyphicon glyphicon-import"></span></a>
                      <span class="item-icons" ng-if="!item.our"><i class="fa fa-exclamation text-danger" aria-hidden="true" uib-tooltip="{l}Contact from Zendesk{endl}" tooltip-placement="left"></i></span>
                  </td>
                  <td class="table_actions">
                    <div class="btn-group" uib-dropdown>
                        <button type="button" class="btn btn-plain dropdown-toggle" uib-dropdown-toggle>
                                  <span class="caret"></span>
                                </button>
                            <ul class="dropdown-menu dropdown-menu-right" uib-dropdown-menu>
                              <li class="dropdown-header">{l}Action{endl}</li>
                              <li ng-if="!item.our && !item.imported && vm.zendesk_data.view!='1'">
                                <a href="#" ng-click="vm.createAccount(item)"><span class="glyphicon glyphicon-user text-primary"></span> {l}Create Account{endl}</a>
                              </li>
                               <li ng-if="!item.our && !item.imported && vm.zendesk_data.view!='1'">
                                <a href="#" ng-click="vm.createContact(item)"><span class="glyphicon glyphicon-briefcase"></span> {l}Link to an existing Account{endl}</a>
                              </li>
                              <li ng-if="item.our && vm.zendesk_data.view!='1'">
                                <a href="#" ng-click="vm.syncContact(item)"><span class="fas fa-upload"></span> {l}Sync{endl}</a>
                              </li>
                              <li ng-if="vm.zendesk_data.view!='1'">
                                   <a href="#" ng-click="vm.archiveZen(item,vm.zendesk_data.view)" confirm="Are you sure, you wanna archive this entry?"><span class="fas fa-archive text-primary"></span> {l}Archive{endl}</a>
                              </li>
                              <li ng-if="vm.zendesk_data.view=='1'">
                                   <a href="#" ng-click="vm.archiveZen(item,vm.zendesk_data.view)" confirm="Are you sure, you wanna revert this entry?"><span class="glyphicon glyphicon-repeat text-primary"></span> {l}Revert{endl}</a>
                              </li>
                            </ul>
                      </div>
                  </td>
                </tr>
              </tbody>
            </table> -->
                            </div>
                        </div>
                    </div>
                    <!-- /.tab-pane -->
                </div>
            </div>
            <!-- neede on all pages -->
        </div>
    </div>
</div>