<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="vmMod.cancel()"><span aria-hidden="true">&times;</span></button>
    <h3 class="modal-title">{l}Manage Addresses{endl}
    	<button type="button" class="btn btn-primary btn-add" ng-click="vmMod.openModal('CustomerAddress','tmp','md')" uib-tooltip="{l}Add Address{endl}" tooltip-placement="right" ng-if="vmMod.show_add"><span class="btn-add_icon"><span class="icon-bar"></span><span class="icon-bar-2"></span></span></button>
    </h3>
</div>
<div class="modal-body modal-body_alt address_modal" >
    <!-- <div uib-alert ng-repeat="alert in vmMod.alerts" type="{{alert.type}}" close="vmMod.alerts.splice($index, 1);" dismiss-on-timeout="5000" ng-class="['alert-' + (alert.type || 'warning') ]">{{alert.msg}}</div> -->
    <table class="table" width="100%">
          <thead>
            <tr>
                <!-- <th class="col-sm-2" >{l}Street{endl}</th>
                <th class="col-sm-1" >{l}ZIP{endl}</th>
                <th class="col-sm-2" >{l}City{endl}</th>
                <th class="col-sm-2">{l}State(Region){endl}</th>
                <th class="col-sm-2">{l}Country{endl}</th>
                <th class="col-sm-2">{l}Delivery/Billing{endl}</th> -->
                <th class="col-sm-3">{l}Address{endl}</th>
                <th class="col-sm-2 text-center">{l}Primary addr{endl}</th>
                <th class="col-sm-2 text-center">{l}Billing addr{endl}</th>
                <th ng-if="show_settings.pricing_plan_id != 4" class="col-sm-2 text-center">{l}Shipping addr{endl}</th>
                <th ng-if="show_settings.pricing_plan_id == 4 || show_settings.pricing_plan_id == 5 || show_settings.pricing_plan_id == 6" class="col-sm-2 text-center">{l}Site Address{endl}</th>
                <th class="col-sm-1 table_actions center"> </th>
            </tr>  
        </thead>
        <tbody>
            <tr ng-repeat="item in vmMod.list ">
               <!--  <td ><span ng-bind-html="item.address"></span></td>
                <td ><span ng-bind-html="item.zip"></span></td>
                <td ><span ng-bind-html="item.city"></span></td>
                <td ><span ng-bind-html="item.state_name"></span></td>
                <td ><span ng-bind-html="item.country"></span></td>
                <td ><span ng-bind-html="item.address_type2"></span></td> -->
                <td><span ng-bind-html="item.full_address"></span></td>
                <td>
                    <div class="radio text-center">
                        <label>
                            <input type="radio" ng-model="item.primary_id" value="{{ item.address_id }}" ng-change="vmMod.updateMainAddress(item)">
                        </label>
                    </div>
                </td>
                <td>
                    <div class="radio text-center">
                        <label>
                            <input type="radio" ng-model="item.billing_id" value="{{ item.address_id }}" ng-change="vmMod.updateBillingAddress(item)">
                        </label>
                    </div>
                </td>
                <td ng-if="show_settings.pricing_plan_id != 4">
                    
                        <div class="checkbox checkbox-primary text-center">
                        <input type="checkbox" id="checkbox_{{item.address_id}}" ng-model="item.is_delivery" ng-change="vmMod.updateDeliveryAddress(item)">
                            <label for="checkbox_{{item.address_id}}"></label>
                        </div>
                  
                </td>
                <td ng-if="show_settings.pricing_plan_id == 4 || show_settings.pricing_plan_id == 5 || show_settings.pricing_plan_id == 6">
                   
                        <div class="checkbox checkbox-primary text-center">
                        <input type="checkbox" id="checkbox_{{item.address_id}}" ng-model="item.is_site" ng-change="vmMod.updateSiteAddress(item)">
                            <label for="checkbox_{{item.address_id}}"></label>
                        </div>
                
                </td>
                <td class="table_actions">
                    <div class="btn-group text-center" uib-dropdown>
                        <button type="button" class="btn btn-plain dropdown-toggle" uib-dropdown-toggle>
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu dropdown-menu-right" uib-dropdown-menu>
                            <li class="dropdown-header">{l}Action{endl}</li>
                            <li><a href="#" ng-click="vmMod.openModal('CustomerAddress',item.address_id,'md')" ><span class="fas fa-pen text-primary"></span> {l}Edit{endl}</a></li>
                            <li ng-if="!item.is_primary && !item.is_billing"><a href="#" ng-click="vmMod.action(item,'delete_link')" confirm="{l}Are you sure you want to delete this entry?{endl}"><i class="fa fa-trash" aria-hidden="true"></i> {l}Delete{endl}</a></li>
                        </ul>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<div class="modal-footer">

    <button class="btn btn-default" type="button" ng-click="vmMod.cancel()">{l}Close{endl}</button>    
</div>

