<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="vm.cancel()"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title">{l}Manage Boards{endl}
        <button type="button" class="btn btn-primary btn-add" aria-haspopup="true" uib-tooltip="{l}Add Board{endl}" tooltip-placement="right" ng-click="vm.addBoard('tmp')"><span class="btn-add_icon"><span class="icon-bar"></span><span class="icon-bar-2"></span></span></button>
    </h4>
</div>
<div class="modal-body modal-body_alt">
    <div class="loading_wrap loading_alt hidden">
        <div class="loading"></div>
        <div class="spinner"></div>
    </div>
    <!-- <div uib-alert ng-repeat="alert in vm.alerts" type="{{alert.type}}" close="vm.alerts.splice($index, 1);" ng-class="['alert-' + (alert.type || 'warning') ]" dismiss-on-timeout='3500'>{{alert.msg}}</div> -->
    <div class="col-sm-12 col-bottom col-top">
        <table class="table active_rows orderTable">
            <thead>
                <tr>
                    <th class="col-sm-6">{l}Name{endl}</th>
                    <th class="col-sm-4">{l}Number of stages{endl}</th>
                    <th class="col-sm-2"></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in vm.obj">
                    <td>{{item.value}}</td>
                    <td>{{item.stage_nr}}</td>
                    <td class="table_actions">
                        <div class="btn-group" uib-dropdown>
                            <button type="button" class="btn btn-plain dropdown-toggle" uib-dropdown-toggle>
		                        <span class="caret"></span>
		                    </button>
                            <ul class="dropdown-menu dropdown-menu-right" uib-dropdown-menu>
                                <li class="dropdown-header">{l}Action{endl}</li>
                                <li>
                                    <a href="#" ng-click="vm.editBoard(item.id)"><span class="fas fa-pen text-primary"></span> {l}Edit{endl}</a>
                                </li>
                                <li>
                                    <a href="#" ng-click="vm.deleteBoard(item.id)" confirm="{l}Are you sure, you wanna delete this entry?{endl}{l}This will delete all deals{endl}!"><span class="fas fa-trash-alt text-primary"></span> {l}Delete{endl}</a>
                                </li>
                            </ul>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-plain" type="button" ng-click="vm.cancel()">{l}Close{endl}</button>
</div>