<div class="container">
    <div class="page-header">
        <div class="row">
            <div class="col-sm-12">
                <h1>{l}Marketing{endl}</h1>
            </div>
        </div>
    </div>
    <!-- /.page-header -->
    <!-- <div uib-alert ng-repeat="alert in vm.alerts" type="{{alert.type}}" close="vm.alerts.splice($index, 1);" dismiss-on-timeout="5000" ng-class="['alert-' + (alert.type || 'warning') ]">{{alert.msg}}</div> -->

    <div class="row page-content col-top">
        <div class="col-sm-12 col-top">
            <div class="row">
                <div class="col-sm-3 col-md-2">
                    <div class="app_card app_card-text" ui-sref="campaignReports">
                        {l}Report{endl}
                    </div>
                </div>
                <div class="col-sm-3 col-md-2" ng-repeat="item in ls.list">
                    <div class="app_card" ui-sref="campaigns({'app': item.app})">
                        <div class="badge badge-beta app_card-badge" ng-if="item.view_beta">
                            beta
                        </div>
                        <img class="img-responsive" ng-src="images/{{item.app}}.png" alt="" />
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<!-- neede on all pages -->