<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="ms.cancel()"><span aria-hidden="true">&times;</span></button>
  <h4 class="modal-title">{l}Deals{endl}</h4>
</div>
<div uib-alert ng-repeat="alert in ms.alerts" type="{{alert.type}}" close="ms.alerts.splice($index, 1);" dismiss-on-timeout="3500" ng-class="['alert-' + (alert.type || 'warning') ]">{{alert.msg}}</div>
<div class="modal-body modal-body_alt">
	<div class="loading_wrap loading_alt hidden">
      	<div class="loading"></div>
        <div class="spinner"></div>
    </div>
	<div class="row form-horizontal">
		<div class="col-xs-6 col-xs-offset-3">
			<div class="form-group">
				<label class="control-label col-sm-3 col-lg-3">{l}Board{endl}</label>
				<div class="col-sm-9 col-lg-9">
					<selectize config="ms.boardCfg" options="ms.item.board_list" ng-model="ms.item.board_id"></selectize>
				</div>			
			</div>
		</div>
		<div class="col-xs-6 col-xs-offset-3" ng-show="ms.item.board_id">
			<div class="form-group">
				<label class="control-label col-sm-3 col-lg-3">{l}Stage{endl}</label>
				<div class="col-sm-9 col-lg-9">
					<selectize config="ms.selectCfg" options="ms.item.stages_list" ng-model="ms.item.stage_id"></selectize>
				</div>			
			</div>
		</div>
	</div>

</div>
<div class="modal-footer">
	<button class="btn btn-plain" type="button" ng-click="ms.cancel()">{l}Close{endl}</button>
	<button class="btn btn-default" type="button" ng-click="ms.ok(deal_form)" ng-disabled="!ms.item.stage_id">{l}Save{endl}</button>
</div>