<div class="tracking-modal">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="vmMod.cancel()"><span aria-hidden="true">&times;</span></button>
        <h3 class="modal-title">{l}Related documents{endl}
        </h3>
    </div>
    <div class="modal-body">
        <!-- <div uib-alert type="notice" class="alert-warning" ng-if="!vmMod.obj.list.length">{l}No data to display{endl}</div> -->
        <div class="ak_activities_entry new_design" ng-if="vmMod.obj.list.length" ng-repeat="item in vmMod.obj.list">
            <div class="ak_activities_type">
                <!-- <span class="fa fa-file-text-o"></span> -->
                <!-- <img ng-src="images/akti-{{item.img}}.png"> -->
                <i class="{{item.img}}"></i>
                <span class="ak_activities_date">{{item.time}}</span>
            </div>
            <div class="ak_activities_content row col-sm-6">
                <h4 class="ak_activities_title"><a href="#" ng-click="vmMod.opendocument(item.edit,item.type_id,item.id)">{{item.type}} {{item.serial_nr}}</a></h4>
                <i class="fas fa-user"></i><small>{{item.author}}</small>

            </div>
            <div class="ak_activities_content row col-sm-2" ng-if="item.type_nr=='11'">
                <h4 class="ak_activities_title">{l}Date{endl}</h4>
                <small>{{item.date}}</small>
            </div>
            <div class="ak_activities_content row col-sm-2" ng-if="item.type_nr!='11'">
                <h4 class="ak_activities_title" ng-bind-html="item.date">{l}Date{endl}</h4>
                <small>{{item.time}}</small>
            </div>
            <div class="ak_activities_content row col-sm-2">
                <h4 class="ak_activities_title">{l}Amount{endl}</h4>
                <!-- <small>{{vmMod.obj.customer_name}}</small> -->
                <small>€{{item.amount}}</small>
            </div>
            <div class="ak_activities_content row col-sm-2">
                <h4 class="ak_activities_title">Details</h4>
                <small class="quick_edits"><a href="{{item.pdf_link}}" ng-if="item.pdf_link.length" target="_blank" class="text-link text-muted"><i class="far fa-file-pdf" aria-hidden="true" title="View PDF"></i></a></small>
            </div>
        </div>
        <!-- /.ak_activities_entry -->
    </div>
    <div class="modal-footer ">
        <button class="btn btn-plain" type="button" ng-click="vmMod.cancel()">{l}Close{endl}</button>
    </div>
</div>