<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="vmMod.cancel()"><span aria-hidden="true">&times;</span></button>
  <h4 class="modal-title">{l}Nylas Emails{endl}</h4>
</div>
<div class="modal-body">
	<div class="loading_wrap loading_alt hidden">
        <div class="loading"></div>
        <div class="spinner"></div>
    </div>
	<div uib-alert ng-repeat="alert in vmMod.alerts" type="{{alert.type}}" close="vmMod.alerts.splice($index, 1);" dismiss-on-timeout="3500" ng-class="['alert-' + (alert.type || 'warning') ]">{{alert.msg}}</div>
	<div class="col-sm-12">
		<table class="table active_rows manage_list">
			<thead>
			    <tr>
			        <th>
			            <div class="row">
			            	<div class="col-sm-1">{l}Date{endl}</div>
					        <div class="col-sm-3">{l}Subject{endl}</div>
					        <div class="col-sm-3">{l}From{endl}</div>
					        <div class="col-sm-3">{l}To{endl}</div>
					        <div class="col-sm-1"></div>
					        <div class="col-sm-1 table_actions">
		    					<div class="btn-group" uib-dropdown>
		    						<button type="button" class="btn btn-tertiary dropdown-toggle" uib-dropdown-toggle>
				                      <span class="caret"></span>
				                    </button>
						            <ul class="dropdown-menu dropdown-menu-right" uib-dropdown-menu>
						            	<li><a href="#" ng-click="vmMod.selectAll(1)">{l}Select All{endl}</a></li>
						            	<li><a href="#" ng-click="vmMod.selectAll(0)">{l}Clear All{endl}</a></li>
						            </ul>
		    					</div>
		    				</div>
			            </div>
			        </th>		              	
			    </tr>
			</thead>
			<tbody>
				<tr ng-repeat="item in vmMod.obj.list">
					<td>
						<div class="row">
							<div class="col-sm-1"><span>{{item.datef}}</span></div>
					        <div class="col-sm-3"><span ng-bind-html="item.subject"></span></div>
					        <div class="col-sm-3">
					        	<span>
					        		<span ng-repeat="email in item.from" ng-bind-html="email.email"></span>
					        	</span>
					        </div>
					        <div class="col-sm-3">
					        	<span>
					        		<span ng-repeat="email in item.to" ng-bind-html="email.email"></span>
					        	</span>
					        </div>
					        <div class="col-sm-1">
		    					<div class="col-sm-1 text-center checkbox checkbox-primary margin-left">
		    						<input type="checkbox" id="email_{{$index}}" ng-model="item.checked">
		    						<label for="email_{{$index}}"></label>
		    					</div>
		    				</div>
					        <div class="col-sm-1 table_actions">
					        	<div class="btn-group" uib-dropdown>
			                        <button type="button" class="btn btn-plain dropdown-toggle" uib-dropdown-toggle>
			                                  <span class="caret"></span>
			                                </button>
			                            <ul class="dropdown-menu dropdown-menu-right" uib-dropdown-menu>
			                              <li>
			                                <a href="#" ng-click="vmMod.viewMore(item)"><span class="glyphicon glyphicon-info-sign text-primary"></span> {l}Description{endl}</a>
			                              </li>
			                              <li ng-if="item.files.length">
			                                <a href="#" ng-click="vmMod.viewAttach(item)"><span class="glyphicon glyphicon-link text-primary"></span> {l}Attachments{endl}</a>
			                              </li>
			                            </ul>
			                      </div>
					        </div>
						</div>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
<div class="modal-footer">
    <button class="btn btn-plain" type="button" ng-click="vmMod.cancel()">{l}Cancel{endl}</button>
     <button class="btn btn-default" type="button" ng-click="vmMod.ok()">{l}Save{endl}</button>
</div>