<div class="container">
    <div class="page-header">
        <div class="row">
            <div class="col-xs-8 col-sm-8">
                <h1>{{ls.list_name}} 
                </h1>        
            </div>
            <div class="col-xs-4 col-sm-4 text-right new-btn">
                <!-- <button go-to="" state="smartList" type="button" class="btn btn-sm btn-default"><strong>{l}Back{endl}</strong></button> -->   
                <a href="smartListEdit/{{ls.contact_list_id}}" ui-sref="smartListEdit({ 'contact_list_id':ls.contact_list_id })"><span class="fas fa-pen"></span></a>     
                <div class="btn" uib-dropdown>
                    <button type="button" class="btn btn-transparent btn-square dropdown-toggle" uib-dropdown-toggle>
                        <i class="fas fa-ellipsis-v"></i>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-right" uib-dropdown-menu>
                        <li ng-if="ls.hide_refresh"><a ng-click="ls.action({}, 'refresh_link')" ><span class="glyphicon glyphicon-repeat text-primary"></span> {l}Refresh List{endl}</a></li>
                        <li ng-if="ls.admin_1"><a href="index.php?do=customers-{{ls.pag_export}}{{ls.EXPORT}}" target="_blank" ><span class="fas fa-upload" ></span> {l}Export{endl}</a></li>            
                    </ul>
                </div>
            </div>
        </div>
    </div><!-- /.page-header -->
    <div uib-alert ng-repeat="alert in ls.alerts" type="{{alert.type}}" close="ls.alerts.splice($index, 1);" dismiss-on-timeout="5000" ng-class="['alert-' + (alert.type || 'warning') ]">{{alert.msg}}</div>
    <div class="col-md-3">
        <div class="row left-sidebar">
            <div class="title-sidebar">
                <h1>{l}Active filters{endl}</h1>
            </div>
            <div class="active-filters mt-30">
                <div class="content_row" ng-repeat="item in ls.filters" ng-class="{'hidden' : !item.show || !item.items.length }">
                    <h4 class="title">
                        <span>{{ item.name }}</span>
                    </h4>
                    <div class="filters" ng-repeat="item2 in item.items" ng-class="{'hidden' : !item2.CHECKED }">
                        <a role="button" class="btn-filter">{{item2.name}}</a>
                    </div>
                </div>            
            </div>
        </div>   
    </div>
    <div class="col-md-9">
        <div class="row page-search">
            <form>
                <div class="col-md-8">
                    <h1>{l}Filtered results{endl}</h1>
                </div>
                <div class="col-xs-10 col-sm-10 col-md-4 page-search-extd-btn pull-right small-search">
                    <div class="so-field" ng-class="{ 'so-active':ls.search.search != '' }">
                        <span class="glyphicon glyphicon-search so-icon"></span>
                        <input id="no_css_search_field" type="text" class="form-control" search-it doit="ls.search" callbk="ls.renderPage" placeholder="Search" ng-model="ls.search.search">
                        <span class="glyphicon glyphicon-remove so-icon so-remove" ng-click="ls.toggleSearchButtons('search', '')"></span>
                    </div><!-- /.input-search -->
                </div>          
                <!-- <div class="col-xs-2 col-sm-2 col-md-1 page-search-btn-only">
                    <div class="btn-group" uib-dropdown>
                        <button type="button" class="btn btn-tertiary btn-square dropdown-toggle" uib-dropdown-toggle>
                            <span class="caret"></span>
                            <span class="sr-only">Toggle Dropdown</span>
                        </button>
                        <ul class="dropdown-menu dropdown-menu-right" uib-dropdown-menu>
                            <li ><a href="smartListEdit/{{ls.contact_list_id}}" ui-sref="smartListEdit({ 'contact_list_id':ls.contact_list_id })"><span class="fas fa-pen text-primary"></span> {l}Edit{endl}</a></li>
                            <li ng-if="ls.hide_refresh"><a ng-click="ls.action({}, 'refresh_link')" ><span class="glyphicon glyphicon-repeat text-primary"></span> {l}Refresh List{endl}</a></li>
                            <li ng-if="ls.admin_1"><a href="index.php?do=customers-{{ls.pag_export}}{{ls.EXPORT}}" target="_blank" ><span class="fas fa-upload" ></span> {l}Export{endl}</a></li>            
                        </ul>
                    </div>
                </div> -->
            </form>
        </div><!-- /.page-search -->
    <div class="row page-content col-bottom">
        <div class="col-sm-12">
            <table class="table active_rows orderTable" width="100%">
                <thead>
                    <tr ng-if="ls.list_for == 0">
                        <th class="col-sm-2 expand_row">{l}First Name{endl}</th>
                        <th class="col-sm-2 " >{l}Last Name{endl}</th>
                        <th class="col-sm-2 " >{l}Email{endl}</th>
                        <th class="col-sm-2 sortable_row" ng-class="{ 'sortable_row-up':(!ls.reverse && ls.ord == 'name'), 'sortable_row-down':(ls.reverse && ls.ord == 'name') }" ng-click="ls.orderBY('name')">{l}Account{endl}</th>
                        <th class="col-sm-2 ">{l}Phone{endl}</th>
                        <th class="col-sm-2 ">{l}Mobile{endl}</th>
                    </tr>  
                    <tr ng-if="ls.list_for == 1">
                        <th class="col-sm-2 sortable_row expand_row" ng-class="{ 'sortable_row-up':(!ls.reverse && ls.ord == 'name'), 'sortable_row-down':(ls.reverse && ls.ord == 'name') }" ng-click="ls.orderBY('name')" >{l}Company{endl}</th>
                        <th class="col-sm-2 " >{l}Email{endl}</th>
                        <th class="col-sm-2 " >{l}Country{endl}</th>
                        <th class="col-sm-2 " >{l}City{endl}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat-start="item in ls.list" >
                        <!-- <span class="glyphicon glyphicon-plus btn-expand" ng-click="ls.showStats(item,$index)"></span>  -->
                        <td ng-if="ls.list_for == 0" class="expand_row" >
                            <a href="contactView/{{::item.REL}}">{{item.CON_FIRSTNAME}}</a>
                        </td>

                        <td ng-if="ls.list_for == 0" go-to="" state="contactView" params='{"contact_id": {{::item.REL}}}' >
                            <a href="contactView/{{::item.REL}}">{{item.CON_LASTNAME}}</a>
                        </td>
                        <td ng-if="ls.list_for == 0" go-to="" state="contactView" params='{"contact_id": {{::item.REL}}}'>
                            <a href="contactView/{{::item.REL}}">{{item.EMAIL}}</a>
                        </td>
                        <td ng-if="ls.list_for == 0" go-to="" state="customerView" params='{"customer_id": {{::item.customer_id}}}'>
                            <a href="customerView/{{::item.customer_id}}">{{item.CON_COMP}}</a>
                        </td>
                        <td ng-if="ls.list_for == 0" go-to="" state="contactView" params='{"contact_id": {{::item.REL}}}'>
                            <a href="contactView/{{::item.REL}}">{{item.PHONE}}</a>
                        </td>
                        <td ng-if="ls.list_for == 0" go-to="" state="contactView" params='{"contact_id": {{::item.REL}}}'>
                            <a href="contactView/{{::item.REL}}">{{item.CELL}}</a>
                        </td>

                        <!-- <span class="glyphicon glyphicon-plus btn-expand" ng-click="ls.showStats(item,$index)"></span>  -->
                        <td ng-if="ls.list_for == 1" class="expand_row" go-to="" state="customerView" params='{"customer_id": {{::item.customer_id}}}'>{{item.CON_COMP}}</td>
                        <td ng-if="ls.list_for == 1" go-to="" state="customerView" params='{"customer_id": {{::item.customer_id}}}'>{{item.EMAIL}}</td>
                        <td ng-if="ls.list_for == 1" go-to="" state="customerView" params='{"customer_id": {{::item.customer_id}}}'>
                            <a href="customerView/{{::item.customer_id}}">{{item.country}}</a>
                        </td>
                        <td ng-if="ls.list_for == 1" go-to="" state="customerView" params='{"customer_id": {{::item.customer_id}}}'>
                            <a href="customerView/{{::item.customer_id}}">{{item.city}}</a>    
                        </td>
                    </tr>

                    <tr ng-repeat-end class="versionInfo hidden" ng-class="{ 'hidden': !item.isopen }" >
                        <td colspan="7" class="no_border">
                            <div class="ak_activities row">
                                <div class="ak_activities_options form-horizontal text-left" ng-class="{ 'active':ls.showActivityForm }">
                                    <div class="ak_activities_subject">
                                        <input type="text" class="form-control" ng-model="ls.activity.comment" placeholder="{l}Add Subject{endl}">
                                        <div class="dropdown ak_activities_dropdown" uib-dropdown>
                                            <button class="btn btn-default btn-square dropdown-toggle" type="button" id="dropdownMenu1" uib-dropdown-toggle>
                                                {{ls.activityTxt}}
                                                <!--<span class="akti-icon o_akti_user_alt"></span>-->
                                                <!--<span class="fa fa-sticky-note"></span>-->
                                                <span class="caret"></span>
                                            </button>
                                            <ul class="dropdown-menu dropdown-menu-right" uib-dropdown-menu>
                                                <li class="dropdown-header">{l}Activity Type{endl}</li>
                                                <li><a href="#" ng-click="ls.showActivityF(true, 'Note', '2');"><span class="fa fa-sticky-note"></span> {l}Note{endl}</a></li>
                                                <li><a href="#" ng-click="ls.showActivityF(true, 'Call', '5');"><span class="fa fa-phone"></span> {l}Call{endl}</a></li>
                                                <li><a href="#" ng-click="ls.showActivityF(true, 'E-mail', '1');"><span class="far fa-envelope"></span> {l}E-mail{endl}</a></li>
                                                <li><a href="#" ng-click="ls.showActivityF(true, 'Meeting', '4');"><span class="fa fa-calendar"></span> {l}Schedule{endl}</a></li>
                                                <li><a href="#" ng-click="ls.showActivityF(true, 'Task', '6');"><span class="akti-icon o_akti_checklist"></span> {l}Task{endl}</a></li>
                                            </ul>
                                        </div>
                                    </div><!-- /.ak_activities_subject -->
                                    <div class="ak_activities_form">
                                        <div class="user_summary user_summary-sm" ng-click="ls.showActivityiny = true;" ng-class="{ 'hidden':ls.showActivityiny }">
                                            <div class="text-summary cursor_pointer no_css_show_textarea">
                                                {l}Add Description{endl}
                                            </div>
                                        </div>
                                        <div class="ak_activities_description" ng-class="{ 'hidden':!ls.showActivityiny }">
                                            <textarea ui-tinymce="ls.tinymceOptions" class="variable_assign" ng-model="ls.activity.log_comment">
                                            </textarea>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-xs-12">
                                                <div class="so-field">
                                                    <span class="fa fa-building so-icon"></span>
                                                    <!-- <input type="text" class="form-control" ng-model="ls.obj.name" placeholder="Select Company" readonly> -->
                                                    <selectize config='ls.accountAutoCfg' options='ls.accounts' ng-model="ls.activity.customer_id"></selectize>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-xs-12">
                                                <div class="so-field">
                                                    <span class="fa fa-user so-icon"></span>
                                                    <selectize config='ls.contactAutoCfg' options='ls.contacts' ng-model="ls.activity.contact_ids"></selectize>
                                                    <!-- <input type="text" class="form-control" ng-model="ls.obj.contact_name" placeholder="Select Contact" readonly> -->
                                                    <!-- <input type="text" class="form-control" placeholder="Select Contact"> -->
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group" ng-if="ls.activity.task_type == '4'" ng-show="!ls.activity.all_day_meet">
                                            <div class="col-xs-12">
                                                <select class="form-control" ng-model="ls.activity.duration_meet" ng-change="ls.changeDuration()">
                                                    <option value="">{l}Duration{endl}</option>
                                                    <option value="0-15">15 {l}minutes{endl}</option>
                                                    <option value="0-30">30 {l}minutes{endl}</option>
                                                    <option value="1-0">1 {l}hour{endl}</option>
                                                    <option value="2-0">2 {l}hours{endl}</option>
                                                    <option value="3-0">3 {l}hours{endl}</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-xs-6">
                                                <div class="so-field">
                                                    <span class="fa fa-calendar so-icon"></span>
                                                    <input type="text" class="form-control" ng-model="ls.activity.date" uib-datepicker-popup="{{ls.format}}" is-open="ls.open.start_date" datepicker-options="ls.dateOptions" close-text="Close" placeholder="{l}Date{endl}" show-button-bar="false" ng-click="ls.open.start_date = true" ng-change="ls.changeTime(ls.activity.date, ls.activity.dateHours, true)">
                                                    <!-- <input type="text" class="form-control" placeholder="Date"> -->
                                                </div>
                                            </div>
                                            <div class="col-xs-6" ng-show="!ls.activity.all_day_meet">
                                                <div class="so-field">
                                                    <span class="fa fa-clock-o so-icon"></span>
                                                    <selectize config='ls.timeAutoCfg' options='ls.hours' ng-model="ls.activity.dateHours" ng-change="ls.changeTime(ls.activity.date, ls.activity.dateHours, true)"></selectize>
                                                    <!-- <input type="text" class="form-control" placeholder="Time"> -->
                                                </div>
                                            </div>
                                        </div>

                                        <div class="form-group" ng-if="ls.activity.task_type == '4'" ng-show="!ls.activity.all_day_meet">
                                            <div class="col-xs-6">
                                                <div class="so-field">
                                                    <span class="fa fa-calendar so-icon"></span>
                                                    <input type="text" class="form-control" ng-model="ls.activity.end_d_meet" uib-datepicker-popup="{{ls.format}}" is-open="ls.open.end_d_meet" datepicker-options="ls.dateOptions" close-text="Close" placeholder="{l}End Date{endl}" show-button-bar="false" ng-click="ls.open.end_d_meet = true" ng-change="ls.changeTime(ls.activity.end_d_meet, ls.activity.dateEHours)">
                                                    <!-- <input type="text" class="form-control" placeholder="Date"> -->
                                                </div>
                                            </div>
                                            <div class="col-xs-6">
                                                <div class="so-field">
                                                    <span class="fa fa-clock-o so-icon"></span>
                                                    <selectize config='ls.timeAutoCfg' options='ls.hours' ng-model="ls.activity.dateEHours" ng-change="ls.changeTime(ls.activity.end_d_meet, ls.activity.dateEHours)"></selectize>
                                                    <!-- <input type="text" class="form-control" placeholder="Time"> -->
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group" ng-if="ls.activity.task_type == '4'">
                                            <div class="col-xs-12">
                                                <div class=" checkbox">
                                                    <label><input type="checkbox" ng-model="ls.activity.all_day_meet" ng-change="ls.checkAllDay()"> {l}All day event{endl}</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group" ng-if="ls.activity.task_type == '4'">
                                            <div class="col-xs-12">
                                                <input type="text" class="form-control" ng-model="ls.activity.location_meet" placeholder="{l}Location{endl}" >
                                            </div>
                                        </div>
                                        <div class="form-group" ng-if="ls.activity.task_type == '5'">
                                            <div class="col-xs-6">
                                                <div class=" radio">
                                                    <label><input type="radio" ng-model="ls.activity.type_of_call" value="0"> {l}outgoing{endl}</label>
                                                </div>
                                            </div>
                                            <div class="col-xs-6">
                                                <div class=" radio">
                                                    <label><input type="radio" ng-model="ls.activity.type_of_call" value="1"> {l}incoming{endl}</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="user_summary user_summary-sm" ng-class="{ 'is-open':ls.activity.hd_events }">
                                            <div class="text-summary" ng-if="!ls.hideSwitch">
                                                <toggle-switch  ng-model="ls.activity.hd_events" on-change="" class="switch-primary ats-switch-sm pull-right" off-label="{l}No{endl}" on-label="{l}Yes{endl}"></toggle-switch>
                                                {l}Reminder{endl}
                                            </div>
                                            <div class="row">
                                                <div class="form-group">
                                                    <div class="col-xs-12">
                                                        <div class="so-field">
                                                            <span class="fa fa-mail-forward so-icon"></span>
                                                            <selectize config='ls.assignAutoCfg' options='ls.user_auto' ng-model="ls.activity.user_to_id"></selectize>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <div class="col-xs-6">
                                                        <div class="so-field">
                                                            <span class="fa fa-calendar so-icon"></span>
                                                            <input type="text" class="form-control" ng-model="ls.activity.reminder_event" uib-datepicker-popup="{{ls.format}}" is-open="ls.open.reminder_date" datepicker-options="ls.dateOptions" close-text="Close" placeholder="{l}Date{endl}" show-button-bar="false" ng-click="ls.open.reminder_date = true" ng-change="ls.changeTime(ls.activity.reminder_event, ls.activity.reminderHours)">
                                                            <!-- <input type="text" class="form-control" placeholder="Date"> -->
                                                        </div>
                                                    </div>
                                                    <div class="col-xs-6">
                                                        <div class="so-field">
                                                            <span class="fa fa-clock-o so-icon"></span>
                                                            <selectize config='ls.timeAutoCfg' options='ls.hours' ng-model="ls.activity.reminderHours" ng-change="ls.changeTime(ls.activity.reminder_event, ls.activity.reminderHours)"></selectize>
                                                            <!-- <input type="text" class="form-control" placeholder="Time"> -->
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group ak_activities_actions">
                                            <div class="col-xs-12 text-right">
                                                <button class="btn btn-sm btn-plain no_css_hide_activities" ng-click="ls.showActivityF(false, 'Type', ''); ls.showActivityiny = false;">{l}Cancel{endl}</button>
                                                <button class="btn btn-sm btn-default" ng-click="ls.addActivity()">{l}Add{endl}</button>
                                            </div>
                                        </div>
                                    </div><!-- /.ak_activities_form -->
                                </div><!-- /.ak_activities_options -->
                                <div class="ak_activities_entry" ng-repeat="item in ls.activities.item| limitTo:ls.activityNumber track by $index" ng-class="{ 'active': item.color == 'green_status' }"  >
                                    <div class="ak_activities_type">
                                        <span ng-class="{ 'fa fa-calendar':item.action == 'meeting', 'far fa-envelope':item.action == 'email', 'fa fa-phone':item.action == 'phone', 'akti-icon o_akti_checklist':item.action == 'other', 'fa fa-sticky-note':item.action == 'events', 'akti-icon o_akti_quote':item.action == 'quote_sent' }"></span>
                                        <span class="ak_activities_date">{{item.day}}</span>
                                    </div>
                                    <div class="ak_activities_corner"></div>
                                    <div class="ak_activities_content row">
                                        <h4 class="ak_activities_title"><span class="badge badge-sm bg-primary">{{item.time}}</span> {{item.message}}</h4>
                                        <small>{l}Created by{endl} {{item.by}}</small>
                                        <small class="quick_edits"><span class="text-link_space">•</span> <a href="#" class="text-link text-muted">{l}Edit{endl}</a> <span class="text-link_space">•</span> <a href="#" class="text-link text-muted" confirm="{l}Are you sure, you want delete this entry?{endl}" ng-click="ls.removeActivity(item, $index)">{l}Remove{endl}</a></small>
                                        <div class="ak_activities_contacts" ng-if="item.customer">
                                            <div class="text-nowrap" ><span class="fa fa-building-o"></span> {{item.customer}}</div>
                                        </div>
                                        <div class="ak_activities_contacts" ng-if="item.contacts.length">
                                            <div class="text-nowrap" ng-repeat="item2 in item.contacts"><span class="fa fa-user"></span> {{item2.contact_name}}</div>
                                        </div>
                                        <div ng-if="item.comments" class="ak_activities_note text-muted" ng-class="{ 'active':item.expandText }" ng-bind-html="item.comments" expand-text on-show="item.isBigger=true;"></div>
                                        <div ng-if="item.comments && item.isBigger" class="border-top text-center">
                                            <button class="btn btn-block btn-arrow no_css_toggle_note" ng-click="item.expandText = !item.expandText"><span class="glyphicon " ng-class="{ 'glyphicon-chevron-up':item.expandText, 'glyphicon-chevron-down':!item.expandText }"></span></button>
                                        </div>
                                        <div ng-if="item.reminder_assign">
                                            <p class="ak_activities_user"><span class="fa fa-share"></span> {{item.to_user}}</p>
                                            <p><span class="ak_activities_status text-muted pull-right col-left" ng-click="ls.changeActivityStatus(item)"><span class="fa fa-circle-o" ng-class="{ 'fa-circle-o': item.color != 'green_status', 'fa-check': item.color == 'green_status' }"></span> {{item.activity_status}}</span><span class="ak_activities_reminder"><span class="fa fa-bell"></span> {{item.reminder_date}}</span> </p>
                                        </div>
                                        <div class="ak_activities_note text-muted" ng-if="item.type_of_call">
                                            {{item.type_of_call}}
                                        </div>
                                    </div><!-- /.ak_activities_content -->
                                </div><!-- /.ak_activities_entry -->
                                <div class="ak_activities_entry ak_activities_button" ng-if="ls.activities.max_rows > ls.activityNumber">
                                    <div class="ak_activities_type">
                                        <span class="fa fa-ellipsis-h"></span>
                                    </div>
                                    <div class="ak_activities_content row text-muted">
                                        <button class="btn btn-plain" ng-click="ls.getMoreActivities();">{l}Show More{endl}</button>
                                    </div><!-- /.ak_activities_content -->
                                </div>
                            </div><!-- /.ak_activities row -->
                        </td>
                    </tr>

                </tbody>
            </table>
        </div>
        <ul ng-if="ls.max_rows > 30" uib-pagination total-items="ls.max_rows" ng-model="ls.search.offset" ng-change="ls.searchThing()" max-size="5" class="pager" boundary-links="true" items-per-page="ls.lr" ></ul>
        <div class="nr-contacts col-md-4">
          <label for="inputName" class="control-label">{l}Number of contacts{endl}: </label>
          <label class="control-label"><strong>{{ls.max_rows}}</strong></label>
        </div>
    </div><!-- /.page-content -->
    </div>

</div><!-- neede on all pages -->