<div class="container">
    <div class="page-header">
        <div class="row">
            <div class="col-xs-8 col-sm-6">
                <h1>{l}Accounts & Contacts{endl}</h1>
            </div>
            <div class="col-xs-4 col-sm-6 text-right" ng-if="show_settings.is_admin_company">
                <div class="dropdown new-settings">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-ellipsis-v"></i></button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <li class="dropdown-item" ng-class="{ 'current':menu.submenu == 'import' }"><a class="dropdown-item" href="import_accounts/" go-to="" state="import_accounts"><i class="fas fa-download"></i> {l}Import{endl}</a></li>
                        <li class="dropdown-item" ng-class="{ 'current':menu.submenu == 'setting' }"><a class="dropdown-item" go-to="" href="customersSettings/" state="customersSettings"><span class="fas fa-cog text-primary"></span> {l}CRM Settings{endl}</a></li>
                    </div>
                </div>
            </div>
        </div><!-- /.page-header -->
    </div>
    <div class="tabs-navigation"> 
        <ul class="nav nav-tabs">
          <li>
            <a href="contacts/" go-to="" state="contacts">{l}Contacts{endl}</a>
                <button type="button" class="btn btn-primary btn-add" ng-click="vm.createContact()" tooltip-placement="top"><span class="btn-add_icon"><span class="icon-bar"></span><span class="icon-bar-2"></span></span></button>
        </li>
          <li class="active">
            <a href="smartList/" go-to="" state="smartList">{l}Smart Filters{endl}</a>
            <button class="btn btn-primary btn-add" ui-sref="smartListAdd({'list_for': '0'})"tooltip-placement="top"><span class="btn-add_icon"><span class="icon-bar"></span><span class="icon-bar-2"></span></span></button>
        </li>
        </ul>       
        <div class="tab-content">
          <div class="tab-pane active" id="smart-list">
              <div uib-alert ng-repeat="alert in ls.alerts" type="{{alert.type}}" close="ls.alerts.splice($index, 1);" dismiss-on-timeout="5000" ng-class="['alert-' + (alert.type || 'warning') ]">{{alert.msg}}</div>
    <div class="row page-search">
        <form>
            <div class="col-sm-12">
                <div class="so-field" ng-class="{ 'so-active':ls.search.search != '' }">
                    <span class="glyphicon glyphicon-search so-icon"></span>
                    <input id="no_css_search_field" type="text" class="form-control" search-it doit="ls.search" callbk="ls.renderPage" ng-change="ls.checkSearch()" placeholder="{l}Search{endl}" ng-model="ls.search.search">
                    <span class="glyphicon glyphicon-remove so-icon so-remove" ng-click="ls.toggleSearchButtons('search', '')"></span>
                </div><!-- /.input-search -->
            </div>      
        </form>
    </div><!-- /.page-search -->
    <div class="row page-content">
        <div class="col-sm-12">
            <table class="table active_rows orderTable" width="100%">
                <thead>
                    <tr>
                        <th class="col-sm-4 sortable_row" ng-class="{ 'sortable_row-up':(!ls.reverse && ls.ord == 'name'), 'sortable_row-down':(ls.reverse && ls.ord == 'name') }" ng-click="ls.orderBY('name')">{l}Name{endl}</th>
                        <!-- <th class="col-sm-3 sortable_row" ng-class="{ 'sortable_row-up':(!ls.reverse && ls.ord == 'list_for'), 'sortable_row-down':(ls.reverse && ls.ord == 'list_for') }" ng-click="ls.orderBY('list_for')" >{l}Contacts only{endl} / {l}Accounts only{endl}</th>
                        <th class="col-sm-2 sortable_row" ng-class="{ 'sortable_row-up':(!ls.reverse && ls.ord == 'list_type'), 'sortable_row-down':(ls.reverse && ls.ord == 'list_type') }" ng-click="ls.orderBY('list_type')">{l}Type{endl}</th>
                        <th class="col-sm-2 sortable_row" ng-class="{ 'sortable_row-up':(!ls.reverse && ls.ord == 'contacts_nr'), 'sortable_row-down':(ls.reverse && ls.ord == 'contacts_nr') }" ng-click="ls.orderBY('contacts_nr')">{l}Items{endl}</th>
                        <th class="col-sm-1 table_actions"> </th> -->
                    </tr>  
                </thead>
                <tbody>
                    <tr ng-repeat="item in ls.list">
                        <td go-to="" state="smartListView" params='{"contact_list_id": {{::item.contact_list_id}}}' list='{ "type":"customers-smartList", "obj": { "search":{{ls.search}} } }'>
                            <a href="smartListView/{{item.contact_list_id}}" class="color-dark" ng-bind-html="item.name"></a>
                        </td>
                       <!--  <td class="text-muted" go-to="" state="smartListView" params='{"contact_list_id": {{::item.contact_list_id}}}' list='{ "type":"customers-smartList", "obj": { "search":{{ls.search}} } }'>
                            <a href="smartListView/{{item.contact_list_id}}" class="text-muted"><span ng-bind-html="item.based_type"></span></a>
                        </td>
                        <td class="text-muted" go-to="" state="smartListView" params='{"contact_list_id": {{::item.contact_list_id}}}' list='{ "type":"customers-smartList", "obj": { "search":{{ls.search}} } }'>
                            <a href="smartListView/{{item.contact_list_id}}" class="text-muted"><span ng-bind-html="item.type"></span></a>
                        </td>
                        <td class="text-muted" go-to="" state="smartListView" params='{"contact_list_id": {{::item.contact_list_id}}}' list='{ "type":"customers-smartList", "obj": { "search":{{ls.search}} } }'>
                            <a href="smartListView/{{item.contact_list_id}}" class="text-muted"><span ng-bind-html="item.contacts"></span></a>
                        </td>
                        <td class="table_actions">
                            <div class="btn-group" uib-dropdown>
                                <button type="button" class="btn btn-plain dropdown-toggle" uib-dropdown-toggle>
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu dropdown-menu-right" uib-dropdown-menu>
                                    <li class="dropdown-header">{l}Action{endl}</li>
                                    <li><a href="" go-to="" state="smartListView" params='{"contact_list_id": {{::item.contact_list_id}}}' list='{ "type":"customers-smartList", "obj": { "search":{{ls.search}} } }'><i class="fa fa-eye" aria-hidden="true"></i> {l}View{endl}</a></li>
                                    <li><a href="" go-to="" state="smartListEdit" params='{"contact_list_id": {{::item.contact_list_id}}}' list='{ "type":"customers-smartList", "obj": { "search":{{ls.search}} } }'><span class="fas fa-pen text-primary"></span> {l}Edit{endl}</a></li>
                                    <li><a href="#" ng-click="ls.action(item, 'delete_link')" confirm="{l}Are you sure, you wanna archive this entry?{endl}"><span class="fa fa-trash text-primary"></span> {l}Delete{endl}</a></li>
                                    <li ng-if="item.hide_refresh"><a href="#" ng-click="ls.action(item, 'refresh_link')"><span class="glyphicon glyphicon-repeat text-primary"></span> {l}Refresh List{endl}</a></li>
                                </ul>
                            </div>
                        </td> -->
                    </tr>
                </tbody>
            </table>
        </div>
<!--        <div class="col-sm-12">-->
<!--            <ul ng-if="ls.max_rows > 30" uib-pagination total-items="ls.max_rows" ng-model="ls.search.offset" ng-change="ls.searchThing()" max-size="5" class="pager" boundary-links="true" items-per-page="ls.lr" ></ul>-->
<!--        </div>-->
    </div><!-- /.page-content -->
          </div>
        </div>
    </div>
    <div class="col-sm-12">
        <div class="col-sm-8">
            <ul ng-if="ls.max_rows && ls.max_rows > 30" uib-pagination total-items="ls.max_rows" ng-model="ls.search.offset" ng-change="ls.searchThing()" max-size="5" class="pager" boundary-links="true" items-per-page="ls.lr"></ul>
        </div>
        <div class="col-sm-4 text-right">
            <label ng-if="ls.max_rows">{l}Number of smart lists{endl}: <strong>{{ls.max_rows}}</strong></label>
        </div>
    </div>

</div><!-- neede on all pages -->