<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="vmMod.cancel()"><span aria-hidden="true">&times;</span></button>
  <h4 class="modal-title">
    {l}VAT number check{endl}
  </h4>
</div>
<div class="modal-body modal-body_alt" >
    <div uib-alert ng-repeat="alert in vmMod.alerts" type="{{alert.type}}" close="vmMod.alerts.splice($index, 1);" dismiss-on-timeout="5000" ng-class="['alert-' + (alert.type || 'warning') ]">{{alert.msg}}</div>
    <p><label class="value" style="font-size: 15px; width: auto;"><strong style="width: auto;">{{vmMod.obj.exist_company}} {l}has/have the same VAT number{endl}</strong></label></p>
</div>
<div class="modal-footer">
    <button class="btn btn-plain" type="button" ng-click="vmMod.cancel()">{l}OK{endl}</button>    
</div>


