<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="sync.cancel()"><span aria-hidden="true">&times;</span></button>
  <h4 class="modal-title"> {l}Import Contacts to Zendesk{endl}</h4>
</div>
<div class="modal-body">
    <div uib-alert ng-repeat="alert in sync.alerts" type="{{alert.type}}" close="sync.alerts.splice($index, 1);" dismiss-on-timeout="3500" ng-class="['alert-' + (alert.type || 'warning') ]">{{alert.msg}}</div>
	<div class="loading_wrap loading_alt hidden">
      	<div class="loading"></div>
        <div class="spinner"></div>
    </div>
    <div class="col-sm-12">
    	<div class="row page-search">
		    <form>
		      <div class="col-sm-12 page-search-extd-btn">
		        <div class="so-field" ng-class="{ 'so-active':sync.search.search!='' }">
		          <span class="glyphicon glyphicon-search so-icon"></span>
		          <input id="no_css_search_field" type="text" class="form-control" search-it doit="sync.search" callbk="sync.renderList" placeholder="{l}Search{endl}" ng-model="sync.search.search">
		          <span class="glyphicon glyphicon-remove so-icon so-remove" ng-click="sync.toggleSearchButtons('search','')"></span>
		        </div><!-- /.input-search -->
		      </div>          
		    </form>
		  </div><!-- /.page-search -->
    	<table class="table active_rows orderTable">
    		<thead>
    			<tr>
    				<th class="col-sm-2">{l}Last Name{endl}</th>
    				<th class="col-sm-2">{l}First Name{endl}</th>
    				<th class="col-sm-2">{l}Company Name{endl}</th>
    				<th class="col-sm-2">{l}Function{endl}</th>
    				<th class="col-sm-2">{l}Info{endl}</th>
                    <th class="col-sm-1"></th>
    				<th class="col-sm-1 table_actions">
    					<div class="btn-group" uib-dropdown>
    						<button type="button" class="btn btn-tertiary dropdown-toggle" uib-dropdown-toggle>
		                      <span class="caret"></span>
		                    </button>
				            <ul class="dropdown-menu dropdown-menu-right" uib-dropdown-menu>
				            	<li><a href="#" ng-click="sync.selectAll(1)">{l}Select All{endl}</a></li>
				            	<li><a href="#" ng-click="sync.selectAll(0)">{l}Clear All{endl}</a></li>
				            </ul>
    					</div>
    				</th>
    			</tr>
    		</thead>
    		<tbody>
    			<tr ng-repeat="item in sync.obj.list">
    				<td><span ng-bind-html="item.con_lastname"></span></td>
    				<td><span ng-bind-html="item.con_firstname"></span></td>
    				<td><span ng-bind-html="item.cus_name"></span></td>
    				<td><span ng-bind-html="item.function"></span></td>
    				<td class="text-muted"><i class="fa fa-phone" aria-hidden="true"></i> {{item.con_phone}}
		              <i class="fa fa-mobile" aria-hidden="true"></i> {{item.con_cell}}
		              <i class="fa fa-at" aria-hidden="true"></i> <a href="mailto:{{item.con_email}}" title="{l}Send mail{endl}'" class="text-link" ng-if="item.con_email">{{item.con_email}}</a> <span ng-if="!item.con_email">-</span>
		            </td>
                    <td class="text-center"><a href="#" title="{l}Sync done{endl}" ng-if="item.sync_done"><span class="fas fa-upload"></span></a></td>
    				<td>
    					<div class="col-sm-1 text-center checkbox checkbox-primary margin-left">
    						<input type="checkbox" id="contact_{{item.contact_id}}" ng-model="item.checked">
    						<label for="contact_{{item.contact_id}}"></label>
    					</div>
    				</td>
    			</tr>
    		</tbody>
    	</table>
    </div>
    <div class="col-sm-12" >
      <ul ng-if="sync.obj.max_rows > 30" uib-pagination total-items="sync.obj.max_rows" ng-model="sync.search.offset" ng-change="sync.searchThing()" max-size="5" class="pager" boundary-links="true" items-per-page="sync.obj.lr" ></ul>
    </div>
</div>
<div class="modal-footer">
	<button class="btn btn-plain" type="button" ng-click="sync.cancel()">{l}Cancel{endl}</button>
	<button class="btn btn-default" type="button" ng-click="sync.ok()">{l}Import{endl}</button>
</div>