{if:show_comm}
<div class="comment_logging" data-username="{user_name}" >
  <span class="comment_arrow"></span>
  <form class="comment_form clearfix">
    <input type="hidden" value="{field_name}" name="field_name">
    <input type="hidden" value="{field_value}" name="field_value">
    <input type="hidden" value="{page}" name="pag">
    <input type="hidden" value="{user_id}" name="user_id">
    <input type="hidden" value="{in:q}" name="q" class="q">
    <input type="hidden" value="0" name="status_customer" class="status_customer">
    <input type="hidden" value="0" name="new_version" class="new_version">
    <input type="hidden" name="do" value="misc--customer-insert_comment">
     <fieldset class="form">
        <div class="row">
          <p class="col-md-12">{l}Please fill your contact information so that we can get back to you{endl}.</p>
        <p class="col-md-6"><label for="name">{name_txt}</label>
        <input type="text" name="name" value="" placeholder="{name_txt}"></p>
        <p class="col-md-6"><label for="email">{email_txt}</label>
        <input type="text" name="email" value="" placeholder="{email_txt}"></p>
        </div>
        <p class="full textarea"><label for="comment">{commnent_txt}</label><i class="fa fa-pencil" aria-hidden="true"></i><textarea name="comment" class="textarea_logging" rows="2" placeholder="{commnent_txt}"></textarea></p>
      </fieldset>
     <div class="buttons right">
        <button type="submit" class="add_c pull-right"><i class="fa fa-check" aria-hidden="true"></i><i class="fa fa-close" aria-hidden="true"></i><i class="fa fa-plus" aria-hidden="true"></i><span>{submit_txt}</span></button>
        <button type="submit" class="comment_cancel cancel pull-right">{cancel_txt}</button>          
     </div>
  </form>
</div>
<script type="text/javascript" src="{jspath}"></script>
{end}