<ul class="comment_list_ul">
  {loop:comments}
  <li id="line_{id}" class="{hide_comment}"><div><b>{name}</b> <span class="time_elapse">{time}</span></div>
    <p >{message}</p>
    {if:assign_to}<span class="assign_to">{l}Assigned to{endl}:&nbsp{to}</span>{end}{if:due_date}<span class="assign_to">{l}Due date{endl}&nbsp{due_date}</span>{end}
  </li>
  {endloop}
  {if:comment}<li>{count} {l}more comments{endl} <a href="#" class="show_comment" >{l}show all{endl}</a></li>
  <li class="hide"><a href="#" class="dont_show_comment " data-fieldname="{field_name}" data-fieldvalue="{field_value}" data-pag="{pag}">{l}show less{endl}</a></li>{end}
</ul>