<!-- {if:data}
<h1 id="logo"><img src="{logo}" {attr}></h1>

<div class="invoice_summary">
  <div class="invoice_summary-action-links clearfix">
    <ul class="buttons">
      <li><a href="{pdf_link}&dw=1" id="send_invoice"><span class="send">{download_txt}</span></a></li>
      <li><a href="{pdf_link}" target="_blank"><span class="pdf">{print_pdf_txt}</span></a>
      {if:project}{else}
      	{if:mollie}<li><a href="#" ><span class="icepay mollie">{payWithIcepay_txt}</span></a></li>{end}
      	{if:icepay_hide}<li><a href="{ice_pay_link}" ><span class="icepay">{payWithIcepay_txt}</span></a></li>{end}
      	{if:stripe}<li><a href="#" ><span class="icepay stripe" >{payWithIcepay_txt}</span></a>
      		<form action="" method="POST" id="stripe_form" class="hide">
			    <script id="stripe_script"
			      src="https://checkout.stripe.com/checkout.js" class="stripe-button"
			      data-key="{stripe_pub_key}"
			      data-amount="1000"
			      data-name="{account_name}"
			      data-description="{serial_number}"
			      data-image="../images/stripe_akti.png"
			      data-locale="{stripe_locale}"
			      data-currency="eur"
			      data-panel-label="Pay">
			    </script>
			</form>
		    </li>
		{end}
      {end}
    </ul>
  </div>
</div>

{end} -->
	<h1>{title} {company_name}</h1>
