<style>
body {	color: #000;	font-family: Arial, Helvetica, sans-serif;	font-size: 9pt;  }
h1 {  font-size:10pt;	font-weight:bold;  }
table {  border-collapse: collapse;	border-spacing: 0;  }
table td {  font-size: 9pt;  }
.hide {  display:none;  }
.right {  text-align: right;  }
.light_grey {  color: #6a747c;	padding: 0px;  }
.borders {  border-top: 1px solid #000;	border-bottom: 1px solid #000;  }
.bold { font-weight: bold; }
</style>
{if:is_table}
<table cellpadding="3" cellspacing="0" border="0" width="100%" class="{hide_all}" >
  <tr>
    <td width="55%" height="96" colspan="2"><strong style="font-size:14pt;color:#000000;">{invoice_note_txt}</strong></td>
    <td width="45%" valign="top" style="text-align:right;"><img src="{account_logo}" {attr} ></td>
  </tr>
  <tr>
    <td width="61%" class="light_grey" colspan="2"><h1>{seller_name}</h1>
      {seller_b_address}<br />
      {seller_b_zip} {seller_b_city} <br />
      {seller_b_country}<br />
      {if:hide_p}{phone_txt}: {seller_b_phone}<br />{end}
      {if:hide_f}{fax_txt}: {seller_b_fax}<br />{end}
      {if:hide_e}{email_txt}: {seller_b_email}<br />{end}
      {if:hide_u}{url_txt}: {seller_b_url}<br />{end}
      {if:show_acc_reg_no}{comp_reg_number_txt}: {seller_b_reg_number}<br />{end}
    </td>
    <td width="39%">
  <tr>
    <td height="34">&nbsp;</td>
  </tr>
  <tr><td><h1>{buyer_name}</h1>
      {free_field}
      {if:show_comp_reg_no}{comp_reg_number_txt}: {buyer_b_reg_number}<br />{end}
    </td>
  </tr>
  </td>
  </tr>
  {if:hide_b_d}<tr class="{hide_b_d}" >
    <td colspan="2" class="light_grey">{bank_txt}: {bank}<br />
        {bic_txt}: {bic}<br />
        {iban_txt}: {iban}<br />
    </td>
    <td>{if:show_bank_details}{bank_txt}: {buyer_bank}<br />
      {bic_txt}: {buyer_bic}<br />
      {iban_txt}: {buyer_iban}<br />{else}&nbsp;{end}
    </td>
  </tr>{end}
  <tr >
  {if:invoice_buyer_vat}
    <td class="light_grey" colspan="2" width="61%">{vat_number_txt}: {invoice_buyer_vat}<br />
      <br /></td>
      {end}
     {if:invoice_vat_no}
    <td>{vat_number_txt}: {invoice_vat_no}</td>
    {end}
  </tr>
  <tr>
    <td width="4%" class="borders" >&nbsp;</td>
    <td width="57%" class="borders" ><h1 style="font-size: 12pt;">{if:not_proforma}{invoice_txt} {serial_number}{end}</h1></td>
    <td width="39%" class="borders" >{seller_b_city}, {invoice_date} </td>
  </tr>
</table>
{if:reminder}
{reminder_table}
{else}
<table width="100%" cellspacing="0" cellpadding="3" border="0" class="invoice_rows {hide_all}">
  <tbody>
    <tr class="{hide_our}">
      <td width="20%"><strong>{our_ref_txt}</strong></td>
      <td width="80%" colspan="7">{our_ref}</td>
    </tr>
    <tr class="{hide_your}">
      <td width="20%"><strong>{your_ref_txt}</strong></td>
      <td width="80%" colspan="7">{your_ref}</td>
    </tr>
    {loop:invoice_row}
    <tr>
      <td width="4%">&nbsp;</td>
      <td width="16%">&nbsp;</td>
         {if:content}
      <td  width="80%" {colspan}>{row_description}</td>
      {else}
      <td width="{i_w}%" >{if:show_for_articles}<table width="100%" cellspacing="0" cellpadding="4" class="article_code_txt" border="0">
            <tr>
              <td width="40%" style="">{article_code}</td>
              <td width="60%">{row_description}</td>
            </tr>
          </table>{else}{row_description}{end}
      </td>
      <td width="7%" class="right">{row_quantity}</td>
      <td width="10%" class="right">{row_unit_price}</td>
      {if:hide_row_vat}<td width="13%" class="right {hide_row_vat}">{row_vat} %</td>{end}
      {if:hide_disc_line}<td width="10%" class="right {hide_disc_line}">{row_discount} %</td>{end}
      <td width="15%" class="last right" >{row_amount} </td>
      {end}
    </tr>
    {endloop}
  </tbody>
</table>
<br />
<div class="{view_notes}">
<br />
<h1 style="border-bottom:1px solid #CCCCCC;" class=" {hide_all}">{notes_txt}</h1><br />
<span style="font-size:9pt;" class="{hide_all}">{notes}</span><br/><br/></div>
<div class="{view_notes2}">
<h1 style="border-bottom:1px solid #CCCCCC;" class=" {hide_all}">{notes2_txt}</h1><br>
<span style="font-size:9pt;" class="{hide_all}">{notes2}</span></div>
{if:show_stamp_signature}
<br/>
<table width="100%" cellspacing="0" cellpadding="0" class="" style="clear:both;">
  <tbody>
      <tr>
        <td class="last" style="border:1px solid #CCCCCC;text-align:center;">
          {stamp_signature}<br/>
          &nbsp;<br/>
          &nbsp;<br/>
          &nbsp;<br/>
          &nbsp;<br/>
          &nbsp;<br/>
          &nbsp;</td>
        <td class="last">&nbsp;</td>
        <td class="last">&nbsp;</td>
      </tr>
  </tbody>
</table>
{end}
{end}{end}
{if:reminder}{else}
{if:is_data}
<table cellpadding="3" cellspacing="0" border="0" width="100%" class="{hide_t}" >
  {if:sh_vat2}<tr class="{sh_vat2}">
    <td width="4%" >&nbsp;</td>
    <td width="81%" colspan="2" ><strong>{subtotal_txt}</strong></td>
    <td width="15%" style=" text-align: right;" > {total_novat}</td>
  </tr>
  {if:sh_discount}<tr class="{sh_discount}">
    <td width="4%">&nbsp;</td>
    <td width="81%" colspan="2" ><strong>{discount_txt} ({total_discount_procent} %)</strong></td>
    <td width="15%" style=" text-align: right;"> -{discount_value}</td>
  </tr>
  <tr class="{sh_discount}">
    <td width="4%">&nbsp;</td>
    <td width="81%" colspan="2" ><strong>{net_txt}</strong></td>
    <td width="15%" style=" text-align: right;">{net_value}</td>
  </tr>{end}{end}
  {loop:vat_line}
  {if:sh_vat}<tr class="{sh_vat}">
    <td width="4%">&nbsp;</td>
    <td width="20%"  ><strong>{vat_txt} ({vat_percent} %)</strong></td>
    <td width="61%"  ><strong>{subtotal_txt}:</strong></td>
    <td width="15%"  style=" text-align: right;">{sub_value}</td>
  </tr>
  {if:sh_discount}<tr class="{sh_vat}">
    <td width="4%"  >&nbsp;</td>
    <td width="20%"  >&nbsp;</td>
    <td width="61%"  ><strong>{discount_txt} ({total_discount_procent} %): </strong></td>
    <td width="15%"  class="right ">{disc_value}</td>
  </tr>
  <tr class="{sh_vat}">
    <td width="4%"  >&nbsp;</td>
    <td width="20%"  >&nbsp;</td>
    <td width="61%"  ><strong>{net_txt}:</strong></td>
    <td width="15%"  class="right ">{nett_value}</td>
  </tr>{end}
  <tr class="{sh_vat}">
    <td width="4%">&nbsp;</td>
    <td width="20%"  ></td>
    <td width="61%"  ><strong>{vat_txt}:</strong></td>
    <td width="15%"  style=" text-align: right;">{vat_value}</td>
  </tr>
  {if:show_due_date_vat_pdf}
  <tr class="{sh_vat}">
    <td width="4%">&nbsp;</td>
    <td colspan="3" width="96%" >{due_date_vat_txt}:&nbsp;&nbsp;&nbsp;{invoice_due_date_vat}</td>
  </tr>
  {end}{end}
  {endloop}
  {if:is_proforma}
    <tr>
      <td width="4%">&nbsp;</td>
      <td width="81%" colspan="2"><strong>{amount_txt}</strong></td>
      <td width="15%" style=" text-align: right;"><strong> {total_amount_due}</strong></td>
    </tr>
    <tr>
      <td width="4%" class="borders">&nbsp;</td>
      <td width="81%" colspan="2" class="borders" style="font-size: 12pt;" ><strong>{amount_due_txt} ( <span>{req_payment} %</span> )</strong></td>
      <td width="15%" class="borders" style=" text-align: right;"><strong> {req_payment_value}</strong></td>
    </tr>
  {else}
    {if:show_paid}
    <tr class="{is_paid}">
      <td width="4%" >&nbsp;</td>
      <td width="81%" colspan="2"  style="font-size: 12pt;"><strong>{paid_txt}</strong></td>
      <td width="15%"  style=" text-align: right;"><strong>{total_paid}</strong></td>
    </tr>
    <tr>
      <td width="4%" class="borders">&nbsp;</td>
      <td width="81%" colspan="2" class="borders" style="font-size: 12pt;"><strong>{amount_due_txt}</strong></td>
      <td width="15%" class="borders" style=" text-align: right;"><strong style="{red_if_credit}"> {total_payments}</strong></td>
    </tr>{else}
    <tr>
      <td width="4%" class="borders">&nbsp;</td>
      <td width="81%" colspan="2" class="borders" style="font-size: 12pt;" ><strong>{amount_due_txt}</strong></td>
      <td width="15%" class="borders" style=" text-align: right;"><strong style="{red_if_credit}"> {total_amount_due}</strong></td>
    </tr>
    {end}
  {end}
  <!-- {if:use_ogm}
  <tr>
    <td width="4%" class="borders">&nbsp;</td>
    <td width="71%" colspan="2" class="borders bold" >&nbsp;<br></td>
    <td width="25%" class="borders bold" style=" text-align: right;">&nbsp;<br>+++{ogm}+++</td>
  </tr>{end} -->
  <!-- {if:default_total}
  <tr>
    <td width="4%" class="borders">&nbsp;</td>
    <td width="81%"  class="borders" style="font-size: 12pt;"><strong>{amount_due_txt} ({def_currency})</strong></td>
    <td width="15%" class="borders" style=" text-align: right;"><strong>{total_amount_due_default}</strong></td>
  </tr>
  {end} -->
  {if:inv_type != '2'}
  <tr class="{sh_edit}">
    <td width="4%" >&nbsp;</td>
    <td width="46%" {if:use_ogm}{else}colspan="3"{end} >{duedate_txt} {invoice_due_date}</td>
    {if:use_ogm}<td width="25%"  class="right ">{ogm_txt}:</td>
    <td width="25%"  class="right "><strong>+++{ogm}+++</strong></td>{end}
  </tr>{end}
</table>
{end}
{end}
