<style>
body { color: #000; font-family: Arial, Helvetica, sans-serif; font-size: 9pt; }
h1 { font-size:10pt; font-weight:normal; }
table { border-collapse: collapse; border-spacing: 0; }
table td{ font-size: 9pt; }
.border_bottom { border-bottom: 1px solid #CCC; }
.invoice_rows td.no_grade{ border-bottom: 1px solid #CCC; border-left: none; border-right: none; }
.invoice_rows{ border-bottom: 1px solid #CCC; }
.invoice_rows .th { border: 1px solid #ccc; color: #000; font-size: 9pt;padding-left: 10px; text-align: center; }
.invoice_rows td { border-left: 1px solid #CCC; vertical-align:middle; font-size: 9pt; text-align:right; }
.invoice_rows .last {	border-right: 1px solid #CCC; }
.hide { display:none; }
.right { text-align:right; }
.article_code_txt { border:none; padding:0;margin:0; }
.article_code_txt td {  }
.bold { font-weight: bold; }
</style>
<table cellpadding="0" cellspacing="0" border="0" width="760"  style="border-bottom:1pt solid #CCC;">
  <tr>
    <td width="260" valign="top"><img src="{account_logo}" {attr} ></td>
    <td><table cellpadding="0" cellspacing="0" border="0">
        <tr>
          <td style="border-bottom:1pt solid #CCC; text-align:right; font-size:14pt;"><strong>{invoice_note_txt}</strong></td>
        </tr>
        <tr>
          <td height="10"></td>
        </tr>
        {if:not_proforma}<tr>
          <td style="text-align:right;">{invoice_txt} <strong>{serial_number}</strong></td>
        </tr>{end}
        <tr>
          <td style="text-align:right;">{date_txt}: {invoice_date}</td>
        </tr>
        <tr class="{hide_our}">
          <td style="text-align:right;">{our_ref_txt}: {our_ref}</td>
        </tr>
        <tr class="{hide_your}">
          <td style="text-align:right;">{your_ref_txt}: {your_ref}</td>
        </tr>
        <tr>
          <!--<td style="text-align:right;">{vat_txt}: {invoice_vat} %</td>-->
        </tr>
      </table></td>
  </tr>
  <tr>
    <td height="5"></td>
  </tr>
</table>
<table cellpadding="0" cellspacing="0" border="0" width="100%" style="border-bottom:1pt solid #CCC;">
  <tr>
    <td colspan="2"></td>
  </tr>
  <tr>
    <td valign="top" width="50%"><h1>{seller_name}</h1>
      {seller_b_address}<br />
      {seller_b_zip} {seller_b_city} <br />
      {seller_b_country}<br />
      {if:hide_p}{phone_txt}: {seller_b_phone}<br />{end}
      {if:hide_f}{fax_txt}: {seller_b_fax}<br />{end}
      {if:hide_e}{email_txt}: {seller_b_email}<br />{end}
      {if:hide_u}{url_txt}: {seller_b_url}<br />{end}
      {invoice_buyer_vat}
      {if:show_acc_reg_no}<br />{comp_reg_number_txt}: {seller_b_reg_number}<br />{end}
      </td>
    <td valign="top" width="50%"><h1>{buyer_name}</h1>
      {if:show_billing_addres_txt}{if:billing_address_txt}{billing_address_txt}:{end}{end}
      {free_field}
      {invoice_vat_no}
      {if:show_comp_reg_no}<br />{comp_reg_number_txt}: {buyer_b_reg_number}<br />{end}
    </td>
  </tr>
  <tr><td colspan="2" height="18"></td></tr>
</table>
{if:hide_b_d}<table cellpadding="0" cellspacing="0" border="0" width="100%" class="{hide_b_d}" style="font-size: 9pt; " >
	<tr>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td width="50%" valign="top" ><h1>{bankd_txt}</h1></td>
    <td width="50%">{if:show_bank_details}<h1>{bankd_txt}</h1>{else}&nbsp;{end}</td>
  </tr>
  <tr>
    <td valign="top" >{bank_txt}: {bank}</td>
    <td>{if:show_bank_details}{bank_txt}: {buyer_bank}{else}&nbsp;{end}</td>
  </tr>
  <tr>
    <td valign="top" >{bic_txt}: {bic}</td>
    <td>{if:show_bank_details}{bic_txt}: {buyer_bic}{else}&nbsp;{end}</td>
  </tr>
  <tr>
    <td valign="top" >{iban_txt}: {iban}</td>
    <td>{if:show_bank_details}{iban_txt}: {buyer_iban}{else}&nbsp;{end}</td>
  </tr>
  <tr>
    <td></td>
    <td></td>
  </tr>
</table>{end}
{if:reminder}
{reminder_table}
{else}
<table width="100%" cellspacing="0" cellpadding="5" class="invoice_rows" border="0">
  <tr>
    <td class="th" width="{item_w}%" style="text-align:left;">{item_txt}</td>
    <td class="th" width="15%">{quantity_txt}</td>
    <td class="th" width="15%">{unit_price_txt}</td>
    {if:hide_row_vat}<td class="th {hide_row_vat}" width="15%">{vat_txt} %</td>{end}
    {if:hide_disc_line}<td class="th {hide_disc_line}" width="15%" >{discount_txt} %</td>{end}
    <td width="14%" class="th last">{amount_txt}</td>
  </tr>
  <tbody>
    {loop:invoice_row}
    <!-- BEGIN DYNAMIC BLOCK: invoice_row -->
    <tr>
      {if:content}
      <td style="text-align:left;" {colspan}>{row_description}</td>
      {else}
      <td style="text-align:left;">{if:show_for_articles}<table width="100%" cellspacing="0" cellpadding="4" class="article_code_txt" border="0">
            <tr>
              <td width="40%" style="border-right:1px solid #ccc;">{article_code}</td>
              <td width="60%">{row_description}</td>
            </tr>
        </table>{else}{row_description}{end}
      </td>
      <td class="right">{row_quantity}</td>
      <td class="right">{row_unit_price}</td>
      {if:hide_row_vat}<td class="right {hide_row_vat}">{row_vat} %</td>{end}
      {if:hide_disc_line}<td class="right {hide_disc_line}">{row_discount}</td>{end}
      <td class="last right">{row_amount}</td>
      {end}
    </tr>
    <!-- END DYNAMIC BLOCK: invoice_row -->
    {endloop}
  </tbody>
</table>
<table cellpadding="0" cellspacing="3" border="0" width="100%"  style="border:1px solid #CCC;">
  {if:sh_vat2}<tr class="{sh_vat2}">
    <td width="80%" colspan="2" class="right">{subtotal_txt}:</td>
    <td width="20%"  class="right ">{total_novat}</td></tr>
  {if:sh_discount}<tr class="{sh_discount}">
    <td width="80%" colspan="2" class="right">{discount_txt} ({total_discount_procent} %): </td>
    <td width="20%" class="right">-{discount_value}</td>
  </tr>
  <tr class="{sh_discount}">
    <td width="80%" colspan="2" class="right">{net_txt}:</td>
    <td width="20%" style=" text-align: right;">{net_value}</td>
  </tr>{end}{end}
  {loop:vat_line}
  {if:sh_vat}<tr class="{sh_vat}">
    <td width="60%"  class="right">{vat_txt} ({vat_percent} %)</td>
    <td width="20%"  class="right">{subtotal_txt}:</td>
    <td width="20%"  class="right ">{sub_value}</td>
  </tr>
  {if:sh_discount}<tr class="{sh_vat}">
    <td width="60%"  class="right">&nbsp;</td>
    <td width="20%"  class="right">{discount_txt} ({total_discount_procent} %): </td>
    <td width="20%"  class="right ">{disc_value}</td>
  </tr>
  <tr class="{sh_vat}">
    <td width="60%"  class="right">&nbsp;</td>
    <td width="20%"  class="right">{net_txt}:</td>
    <td width="20%"  class="right ">{nett_value}</td>
  </tr>{end}
  <tr class="{sh_vat}">
    <td width="60%"  class="">{if:show_due_date_vat_pdf}{due_date_vat_txt}:&nbsp;&nbsp;&nbsp;{invoice_due_date_vat}{end}</td>
    <td width="20%"  class="right">{vat_txt}:</td>
    <td width="20%"  class="right ">{vat_value}</td>
  </tr>{end}
  {endloop}
  {if:show_paid}
  <tr class="{is_paid}">
    <td width="80%" colspan="2" class="right "><strong>{paid_txt} :</strong></td>
    <td width="20%" class="right"><strong>{total_paid}</strong></td>
  </tr>
  <tr>
    <td width="80%" colspan="2" class="right"><strong>{if:is_proforma} {amount_txt} {else} {amount_due_txt} {end}:</strong></td>
    <td width="20%" class="right"><strong style="{red_if_credit}"> {total_payments}</strong></td>
  </tr>{else}
  <tr>
    <td width="80%" colspan="2" class="right"><strong>{if:is_proforma} {amount_txt} {else} {amount_due_txt} {end}:</strong></td>
    <td width="20%" class="right"><strong style="{red_if_credit}"> {total_amount_due}</strong></td>
  </tr>
  {end}
  {if:use_ogm}
  <tr>
    <td width="80%" colspan="2" class="right bold">&nbsp;</td>
    <td width="20%" class="right bold">&nbsp;</td>
  </tr>
  <tr>
    <td width="60%" >{if:inv_type != '2'}{duedate_txt}: {invoice_due_date}{end}</td>
    <td width="20%" class="right ">{ogm_txt}:</td>
    <td width="20%" class="right bold">+++{ogm}+++</td>
  </tr>{else}
  <tr>
    <td width="80%" colspan="2" class="right bold">&nbsp;</td>
    <td width="20%" class="right bold">&nbsp;</td>
  </tr>
  <tr>
    <td width="60%" >{if:inv_type != '2'}{duedate_txt}: {invoice_due_date}{end}</td>
    <td width="20%" class="right "></td>
    <td width="20%" class="right bold"></td>
  </tr>
  {end}
  {if:is_proforma}
  <tr>
    <td width="20%"  class="right"><strong>{amount_due_txt} ( <span>{req_payment} %</span> ):</strong></td>
    <td width="20%" class="right "><strong>{req_payment_value}</strong></td>
  </tr>
  {end}
</table>
&nbsp;
<br />
<h1 style="border-bottom:1px solid #CCCCCC;" class="{view_notes}">{notes_txt}</h1><br>
<span style="font-size:9pt;">{notes}</span><br/><br/>
<h1 style="border-bottom:1px solid #CCCCCC;" class="{view_notes2}">{notes2_txt}</h1><br>
<span style="font-size:9pt;">{notes2}</span>
{end}

{if:show_stamp_signature}
<br />
<br />
<br />
<table width="100%" cellspacing="0" cellpadding="0" class="" style="clear:both;">
  <tbody>
      <tr>
        <td class="last" style="border:1px solid #CCCCCC;text-align:center;">
          {stamp_signature}<br/>
          &nbsp;<br/>
          &nbsp;<br/>
          &nbsp;<br/>
          &nbsp;<br/>
          &nbsp;<br/>
          &nbsp;</td>
        <td class="last">&nbsp;</td>
        <td class="last">&nbsp;</td>
      </tr>
  </tbody>
</table>
{end}