{if:data}
<input type="hidden" value="{endhrf}" id="qs">
{if:error}
<div class="payment-msg">
    <h1>{paymentError_txtl}</h1>
    <p>{paymentErrorContact_txt}</p>
</div>
{end}

{if:stripe_ok}
<div class="payment-msg">
    <p>{msg:success-out}</p>
</div>
{end}

{if:stripe_fail}
<div class="payment-msg">
    <p>{msg:error-out}</p>
</div>
{end}

{if:pending}
<div class="payment-msg">
    <h1>{paymentPending_txt}</h1>
    <p>{paymentPendingContact_txt}</p>
</div>
{end}

{if:ok}
<div class="payment-msg">
    <h1>{paymentConfirmation_txt}</h1>
    <p>{paymentConfirmationContact_txt}</p>
</div>
{end}

<div class="wlink_right right pag-invoice">
  <div class="wlink_controls">
    <div class="wlink_head"><a href="#" class="wlink_options"></a>
    <div class="invoice_status">
      <p>{l}Amount due{endl}: <span>{total_amount_due}</span></p>
      <p>{l}Due on{endl}: <span>{factur_date}</span></p>
      <p>{l}Status{endl}: <span class="status">{status}</span></p>
    </div>
    <div class="invoice_doc">
     <!--  <a href="#" class="confirmation col-md-12">{l}Confirm as received{endl}</a> -->
      <ul><li class="activity hide_activity">{do:misc-activity}</li></ul>  
      <a class="print col-md-6" href="{pdf_link}" target="_blank">{l}Print{endl}</a>
      <a class="down col-md-6" href="{pdf_link}&dw=1" id="">{l}Download{endl}</a>
    </div>
         <div class="extra-info">
        <div class="info-block seller_details">
            <h3>{invoice_seller_name}</h3>
            <p>{invoice_seller_b_address}</p>
            <p>{invoice_seller_b_zip} {invoice_seller_b_city}</p>
            <p>{invoice_seller_b_country} </p>
            <p>{l}VAT{endl}: {invoice_vat_no}</p>
        </div>
        <div class="info-block bank_details">
            <h3>{bankDetails_txt}</h3>
            <p>{bank_txt}: {bank} </p>
            <p>{bicCode_txt}: {bic} </p>
            <p>{ibanCode_txt}: {iban}</p>
        </div>
        {if:online_pay}
        <div class="payment">
          {if:mollie}<a class="mollie" href="#">{l}Send your payment{endl}</a>{end}
          {if:icepay_hide}<a href="{ice_pay_link}">{l}Send your payment{endl}</a>{end}
          {if:stripe}<a class="stripe" href="#">{l}Send your payment{endl}</a>{end}
        </div>
        {end}
      </div>
      <div class="powered_by">
      <p>{l}Powered by{endl}</p>
      <a href="www.akti.com"><img src="../images/akti-logo.png"></a>
</div>
</div></div></div>
<div class="wlink_main left pag-invoice">
  <div class="wlink_content">
    <center style="margin:10px; font-size:15px;">{l}Loading PDF{endl}</center>
    <div class="bx-wrapper hide" style="max-width: 100%; margin: 0px auto;" id="bxWrapper">
      <div class="bx-controls bx-has-controls-direction">
        <div class="bx-controls-direction">
          <a href="#" class="bx-prev" id="prev"></a>
          <span id="bar_shadow"></span>
          <input type="text" class="selected_bx_page" id="page_num" value="1">
          <span class="total_pages" id="page_count" >/ 1</span>
          <a href="#" class="bx-next" id="next"></a>
        </div>
      </div>
    </div>
    <canvas id="the-canvas" ></canvas>
  </div>
</div>
{if:stripe}
          <form action="" method="POST" id="stripe_form" class="hide">
          <script id="stripe_script"
            src="https://checkout.stripe.com/checkout.js" class="stripe-button"
            data-key="{stripe_pub_key}"
            data-amount="1000"
            data-name="{account_name}"
            data-description="{serial_number}"
            data-image="../images/stripe_akti.png"
            data-locale="{stripe_locale}"
            data-currency="eur"
            data-panel-label="Pay">
          </script>
      </form>
{end}
{else}
  <p class="noData">{noData_txt}</p>
  <p class="noData noDataTxt"><a href="http://akti.com/" target="_blank"><img src="images/akti-powered_by.png" width="216" height="80" alt="Light ERP for small and micro enterprises - akti.com"/></a></p>
{end}
    <script type="text/javascript">
  var x = 0, z = 0;
  var setX = function(){
    x = $('.bx-controls-direction').offset();
    z = $('.powered_by').offset();
  }
  var m = true;
  </script>
<!--[if !(lte IE 9) ]><!--><script type="text/javascript" src="js/pdf.js"></script>
<script type="text/javascript" src="js/pdf.worker.js"></script>
<script type="text/javascript">
  var stripe_amount='{stripe_amount}';
  var currentLocation = window.location.href;
  $('.payment .stripe').click(function(){
    StripeCheckout.__app.configurations.button0.amount = stripe_amount*100;     
      $("#stripe_script").attr("data-amount",stripe_amount*100);
      $('#stripe_form').attr('action', currentLocation);
      $('#stripe_form').append('<input type="hidden" name="stripe_value" value='+stripe_amount+'>');
    $('#stripe_form button').click();
  });

  $('.payment .mollie').click(function(){
    var data={};
    data.do='invoice--invoice-mollie_pay';
    data.invoice_id='{in:invoice_id}';
    data.q='{in:q}';
    $.post('index.php',data,function(o){
      var resp=JSON.parse(o);
      if(resp.redirect){
        window.location.href=resp.redirect;
      }
    });
  });

var url = '{pdf_link}';
  PDFJS.workerSrc = 'js/pdf.worker.js';

  var pdfDoc = null, pageNum = 1, pageRendering = false, pageNumPending = null, scale = 1.2, canvas = document.getElementById('the-canvas'), ctx = canvas.getContext('2d');

  function renderPage(num) {
    pageRendering = true;
    pdfDoc.getPage(num).then(function(page) {
      var viewport = page.getViewport(scale);
      canvas.height = viewport.height;
      canvas.width = viewport.width;
      var renderContext = {
        canvasContext: ctx,
        viewport: viewport
      };
      var renderTask = page.render(renderContext);
      renderTask.promise.then(function () {
        pageRendering = false;
        if (pageNumPending !== null) {
          renderPage(pageNumPending);
          pageNumPending = null;
        }
      });
    });
    document.getElementById('page_num').value = pageNum;
    $('.wlink_content center').remove();
    $('#bxWrapper').removeClass('hide');
    setX();
  }

  function queueRenderPage(num) {
    if (pageRendering) {
      pageNumPending = num;
    } else {
      renderPage(num);
    }
  }

  function onPrevPage(e) {
    e.preventDefault();
    if (pageNum <= 1) {
      return;
    }
    pageNum--;
    queueRenderPage(pageNum);
  }
  document.getElementById('prev').addEventListener('click', onPrevPage);

  function onNextPage(e) {
    e.preventDefault();
    if (pageNum >= pdfDoc.numPages) {
      return;
    }
    pageNum++;
    queueRenderPage(pageNum);
  }
  document.getElementById('next').addEventListener('click', onNextPage);

  PDFJS.getDocument(url).then(function (pdfDoc_) {
    pdfDoc = pdfDoc_;
    document.getElementById('page_count').textContent = '/ ' + pdfDoc.numPages;
    renderPage(pageNum);
  });
</script><!--<![endif]-->
<!--[if lte IE 9]>
<script type="text/javascript" > m = false; </script>
<![endif]-->
<script type="text/javascript" src="{jspath}"></script>



<!-- <table class="{border_info}" border="0" width="100%" cellspacing="0" cellpadding="0">
<tbody>
  <tr>
  <td width="100%">
    <span style="display: inline-block;">[!seller_name!]</span>
    <span style="display: inline-block;">[label]bank_name[/label]: [!seller_bank!]</span>
    <span style="display: inline-block;">[label]iban[/label]: [!seller_iban!]</span>
    <span style="display: inline-block;">[label]bic_code[/label] / [!seller_bic!]</span>
  </td>
  </tr>
</tbody>
</table> -->