<style>
body { color: #000; font-family: Arial, Helvetica, sans-serif; font-size: 9pt; }
h1 { font-size:10pt; font-weight:normal; }
table { border-collapse: collapse; border-spacing: 0; }
table td{ font-size: 9pt; }
.border_bottom { border-bottom: 1px solid #CCC; }
.invoice_rows td.no_grade{ border-bottom: 1px solid #CCC; border-left: none; border-right: none; }
.invoice_rows { border-bottom: 1px solid #CCC; }
.invoice_rows .th { border: 1px solid #CCC; color: #000; font-size: 9pt;padding-left: 10px; text-align: center; }
.invoice_rows td { border-left: 1px solid #CCC; vertical-align:middle; font-size: 9pt; text-align:right; }
.invoice_rows .last { border-right: 1px solid #CCC; }
.hide { display:none; }
.right { text-align:right; }
.bold { font-weight: bold; }
</style>
<table cellpadding="2" cellspacing="4" border="0" width="100%" style="border:1px solid #CCC;">
  <tr>
    <td width="32%" valign="top"><h1>{seller_name}</h1>
      {seller_b_address}<br />
      {seller_b_zip} {seller_b_city} <br />
      {seller_b_country}<br />
      {if:hide_p}{phone_txt}: {seller_b_phone}<br />{end}
      {if:hide_f}{fax_txt}: {seller_b_fax}<br />{end}
      {if:hide_e}{email_txt}: {seller_b_email}<br />{end}
      {if:hide_u}{url_txt}: {seller_b_url}<br />{end}
      {invoice_buyer_vat}
      {if:show_acc_reg_no}<br />{comp_reg_number_txt}: {seller_b_reg_number}<br />{end}
     </td>
    <td width="1%" valign="top"></td>
    <td width="34%" valign="top" ><table cellpadding="0" cellspacing="0" border="0" width="100%">
        <tr>
          <td style="text-align:center;font-size:14pt;"><strong>{invoice_note_txt}</strong></td>
        </tr>
        <tr>
          <td style="text-align:center; border:1px solid #CCC;">{if:not_proforma} {invoice_txt} <strong>{serial_number}</strong> <br> {end}
            {date_txt}: {invoice_date} <br/>
            <span class="{hide_our}">{our_ref_txt}: {our_ref}<br/></span>
            <span class="{hide_your}">{your_ref_txt}: {your_ref}</span>
            <!--<br />{vat_txt}: {invoice_vat} %--> </td>
        </tr>
        <tr>
          <td></td>
        </tr>
        <tr>
          <td valign="top" style="text-align:center;"><img src="{account_logo}" {attr} ></td>
        </tr>
      </table></td>
    <td width="1%" valign="top"></td>
    <td width="32%" valign="top">
      <h1>{buyer_name}</h1>
      {free_field}
      {invoice_vat_no}
      {if:show_comp_reg_no}<br />{comp_reg_number_txt}: {buyer_b_reg_number}<br />{end}
    </td>
  </tr>
  {if:hide_b_d}<tr>
    <td width="34%" >
      <h1>{bankd_txt}</h1>
      {bank_txt}: {bank} <br />
      {bic_txt}: {bic} <br />
      {iban_txt}: {iban}
    </td>
    <td width="36%" >&nbsp;</td>
    <td width="30%" >
      {if:show_bank_details}
      <h1>{bankd_txt}</h1>
      {bank_txt}: {buyer_bank}<br />
      {bic_txt}: {buyer_bic}<br />
      {iban_txt}: {buyer_iban}
      {else}&nbsp;{end}
    </td>
  </tr>{end}
</table>
<table width="100%" cellspacing="0" cellpadding="0">
  <tr>
    <td></td>
  </tr>
</table>
{if:reminder}
{reminder_table}
{else}
<table width="100%" cellspacing="0" cellpadding="5" class="invoice_rows">
  <tr>

    <td class="th" width="{item_w}%" style="text-align:left;">{item_txt}</td>
    <td class="th" width="15%">{quantity_txt}</td>
    <td class="th" width="15%">{unit_price_txt}</td>
    {if:hide_row_vat}<td class="th {hide_row_vat}" width="15%">{vat_txt} %</td>{end}
    {if:hide_disc_line}<td class="th {hide_disc_line}" width="15%" >{discount_txt} %</td>{end}
    <td width="14%" class="th last">{amount_txt}</td>
  </tr>
  <tbody>
    {loop:invoice_row}
    <tr>
        {if:content}
      <td style="text-align:left;" {colspan}>{row_description}</td>
      {else}
      <td style="text-align:left;">{if:show_for_articles}<table width="100%" cellspacing="0" cellpadding="4" class="article_code_txt" border="0">
            <tr>
              <td width="40%" style="border-right:1px solid #ccc;">{article_code}</td>
              <td width="60%">{row_description}</td>
            </tr>
          </table>{else}{row_description}{end}
      </td>
      <td class="right">{row_quantity}</td>
      <td class="right">{row_unit_price}</td>
      {if:hide_row_vat}<td class="right {hide_row_vat}">{row_vat} %</td>{end}
      {if:hide_disc_line}<td class="right {hide_disc_line}">{row_discount}</td>{end}
      <td class="last right">{row_amount}</td>
      {end}
    </tr>
    {endloop}
  </tbody>
</table>
<table cellpadding="0" cellspacing="8" border="0" width="100%"  style="border:1px solid #CCC;">
  {if:sh_vat2}<tr class="{sh_vat2}">
    <td width="80%" colspan="2" class="right">{subtotal_txt}:</td>
    <td width="20%"  class="right ">{total_novat}</td>
  </tr>
  {if:sh_discount}<tr class="{sh_discount}">
    <td width="80%" colspan="2" class="right">{discount_txt} ({total_discount_procent} %): </td>
    <td width="20%" class="right">-{discount_value}</td>
  </tr>
  <tr class="{sh_discount}">
    <td width="80%" colspan="2" class="right">{net_txt}:</td>
    <td width="20%" style=" text-align: right;">{net_value}</td>
  </tr>{end}{end}
  {loop:vat_line}
  {if:sh_vat}<tr class="{sh_vat}">
    <td width="60%"  class="right">{vat_txt} ({vat_percent} %)</td>
    <td width="20%"  class="right">{subtotal_txt}:</td>
    <td width="20%"  class="right ">{sub_value}</td>
  </tr>
  {if:sh_discount}<tr class="{sh_vat}">
    <td width="60%"  class="right">&nbsp;</td>
    <td width="20%"  class="right">{discount_txt} ({total_discount_procent} %): </td>
    <td width="20%"  class="right ">{disc_value}</td>
  </tr>
  <tr class="{sh_vat}">
    <td width="60%"  class="right">&nbsp;</td>
    <td width="20%"  class="right">{net_txt}:</td>
    <td width="20%"  class="right ">{nett_value}</td>
  </tr>{end}
  <tr class="{sh_vat}">
    <td width="60%"  class="">{if:show_due_date_vat_pdf}{due_date_vat_txt}:&nbsp;&nbsp;&nbsp;{invoice_due_date_vat}{end}</td>
    <td width="20%"  class="right">{vat_txt}:</td>
    <td width="20%"  class="right ">{vat_value}</td>
  </tr>{end}
  {endloop}
 {if:show_paid}
  <tr class="{is_paid}">
    <td width="80%" colspan="2" class="right "><strong>{paid_txt} :</strong></td>
    <td width="20%" class="right"><strong>{total_paid}</strong></td>
  </tr>
  <tr>
    <td width="80%" colspan="2" class="right"><strong>{if:is_proforma} {amount_txt} {else} {amount_due_txt} {end}:</strong></td>
    <td width="20%" class="right"><strong style="{red_if_credit}"> {total_payments}</strong></td>
  </tr>{else}
  <tr>
    <td width="80%" colspan="2" class="right"><strong>{if:is_proforma} {amount_txt} {else} {amount_due_txt} {end}:</strong></td>
    <td width="20%" class="right"><strong style="{red_if_credit}"> {total_amount_due}</strong></td>
  </tr>
  {end}
  {if:use_ogm}<tr>
    <td width="80%" colspan="2" class="right">&nbsp;</td>
    <td width="20%" class="right ">&nbsp;</td>
  </tr>
  <tr>
    <td width="60%" >{if:inv_type != '2'}{duedate_txt}: {invoice_due_date}{end}</td>
    <td width="20%" class="right ">{ogm_txt}:</td>
    <td width="20%" class="right bold">+++{ogm}+++</td>
  </tr>{else}
  <tr>
    <td width="80%" colspan="2" class="right">&nbsp;</td>
    <td width="20%" class="right ">&nbsp;</td>
  </tr>
  <tr>
    <td width="60%" >{if:inv_type != '2'}{duedate_txt}: {invoice_due_date}{end}</td>
    <td width="20%" class="right "></td>
    <td width="20%" class="right bold"></td>
  </tr>
  {end}
  {if:is_proforma}
  <tr>
    <td width="80%" colspan="2" class="right"><strong>{amount_due_txt} ( <span>{req_payment} %</span> ):</strong></td>
    <td width="20%" class="right "><strong>{req_payment_value}</strong></td>
  </tr>
  {end}
</table>
&nbsp;
<br/>
<h1 style="border-bottom:1px solid #CCCCCC;" class="{view_notes}">{notes_txt}</h1><br>
<span style="font-size:9pt;">{notes}</span> <br/><br/>
<h1 style="border-bottom:1px solid #CCCCCC;" class="{view_notes2}">{notes2_txt}</h1><br>
<span style="font-size:9pt;">{notes2}</span>
{end}
{if:show_stamp_signature}
<br />
<br />
<br />
<table width="100%" cellspacing="0" cellpadding="0" class="" style="clear:both;">
  <tbody>
      <tr>
        <td class="last" style="border:1px solid #CCCCCC;text-align:center;">
          {stamp_signature}<br/>
          &nbsp;<br/>
          &nbsp;<br/>
          &nbsp;<br/>
          &nbsp;<br/>
          &nbsp;<br/>
          &nbsp;</td>
        <td class="last">&nbsp;</td>
        <td class="last">&nbsp;</td>
      </tr>
  </tbody>
</table>
{end}