
<div class="page-header">
  <div class="row">
    <div class="col-sm-8">
      <h1 ng-if="add.add_mode">{l}Create New{endl}
        <span ng-if="add.form_type=='article'">{l}Product{endl}</span>
        <span ng-if="add.form_type=='service'">{l}Service{endl}</span>
        <!-- <div class="btn-group" ng-if="!add.item.adv_product" uib-dropdown>
          <button type="button" class="btn btn-dropdown-line dropdown-toggle" uib-dropdown-toggle id="no_css_switch_btn" ng-if="add.form_type=='article'">{l}Product{endl} <span class="caret"></span></button>
          <button type="button" class="btn btn-dropdown-line dropdown-toggle" uib-dropdown-toggle id="no_css_switch_btn" ng-if="add.form_type=='service'">{l}Service{endl} <span class="caret"></span></button>
          <ul class="dropdown-menu" uib-dropdown-menu>
            <li><a go-to="" state="article.add" params='{"article_id": "tmp","form_type":"article"}'>{l}Product{endl}</a></li>
            <li><a go-to="" state="article.add" params='{"article_id": "tmp","form_type":"service"}'>{l}Service{endl}</a></li>
          </ul>
        </div> -->
      </h1>
      <h1 ng-if="!add.add_mode" class="ng-cloak">{l}Edit{endl}  {{add.item.internal_name}}</h1>
    </div>
    <div class="col-sm-4 page-header-options">
      <navigator ng-if="!add.add_mode && add.form_type=='article'" pag="article-articles" itemid="{{add.article_id}}" originalPage="article.add"></navigator>
      <!-- <button ng-if="!add.add_mode" go-to="" ng-show="add.form_type=='article'" state="articles" type="submit" class="btn btn-link"><span class="glyphicon glyphicon-list"></span> <strong>{l}List{endl}</strong></button> -->
      <navigator ng-if="!add.add_mode && add.form_type=='service'" pag="article-aservices" itemid="{{add.article_id}}" originalPage="article.add"></navigator>
      <!-- <button ng-if="!add.add_mode" go-to="" ng-show="add.form_type=='service'" state="aservices" type="submit" class="btn btn-link"><span class="glyphicon glyphicon-list"></span> <strong>{l}List{endl}</strong></button>
      <button class="btn btn-plain" ng-click="add.cancel()" type="submit">{l}Cancel{endl}</button>
      <button class="btn btn-default" ng-show="add.form_type=='article'" ng-disabled="addAnArticle.$invalid" ng-click="add.save(addAnArticle)" type="submit">{l}Save{endl}</button>
      <button class="btn btn-default" ng-show="add.form_type=='service'" ng-disabled="addAnService.$invalid" ng-click="add.save(addAnService)" type="submit">{l}Save{endl}</button> -->
    </div>
  <!-- </div>
  <div class="row" > --><!-- ng-if="!add.add_mode" -->
    <!-- <div class="text-right col-sm-12" >
      <a class="btn btn-sm btn-link" ui-sref="article.add({'article_id': add.item.prev})" ng-show="add.item.prev"><i class="fa fa-arrow-left" aria-hidden="true"></i>{l}Previous{endl}</a> <a class="btn btn-sm btn-link" ui-sref="article.add({'article_id': add.item.next})" ng-show="add.item.next">{l}Next{endl} <i class="fa fa-arrow-right" aria-hidden="true"></i></a>
    </div>  -->                 
  </div>         
</div><!-- /.page-header -->

<!-- <div uib-alert ng-repeat="alert in add.alerts" type="{{alert.type}}" close="add.alerts.splice($index, 1);" ng-class="['alert-' + (alert.type || 'warning') ]" dismiss-on-timeout='5000' >{{alert.msg}}</div> -->
<div id="no_css_switch_content_1" class="row page-content col-top">
  <div class="col-xs-12 col-sm-6"  ng-show="add.form_type=='article'">            
  <form class="form-horizontal text-left" name="addAnArticle" novalidate>
    <div class="form-group" ng-class="{ 'form-group_alert' : addAnArticle.internal_name.$invalid && !addAnArticle.internal_name.$pristine }">
      <label for="internal_name" class="col-sm-5 control-label">{l}Internal Name{endl} <span class="mandatory-label">*</span></label>
      <div class="col-sm-7">
        <input type="text" class="form-control" placeholder="{l}Internal Name{endl}" ng-model="add.item.internal_name" id="internal_name" name="internal_name" required >
         <div class="alert alert-sm alert-danger ng-cloak" ng-if="addAnArticle.internal_name.$invalid && add.alertsField.internal_name">{{add.alertsField.internal_name}}</div>
      </div>
    </div>
    <div class="form-group" ng-class="{ 'form-group_alert' : addAnArticle.item_code.$invalid && !addAnArticle.item_code.$pristine }">
      <label for="inputCode" class="col-sm-5 control-label">{l}Code{endl} <span class="mandatory-label">*</span></label>
      <div class="col-sm-7">
        <input type="text" class="form-control" placeholder="{l}Code{endl}" ng-model="add.item.item_code" id="inputCode" name="item_code" required>
         <div class="alert alert-sm alert-danger ng-cloak" ng-if="addAnArticle.item_code.$invalid && add.alertsField.item_code">{{add.alertsField.item_code}}</div>
      </div>
    </div>
    <div class="form-group" ng-class="{ 'form-group_alert' : addAnArticle.price.$invalid && !addAnArticle.price.$pristine }">
      <label for="inputBasePrice" class="col-sm-5 control-label">{l}Base Price{endl} <span class="mandatory-label">*</span></label>
      <div class="col-sm-7">
        <input type="text" class="form-control" placeholder="{l}Base Price{endl}" ng-blur="add.setPrice('price')" ng-model="add.item.price" display-nr="" id="inputBasePrice" name="price" required>
      </div>
    </div>
    <div class="form-group" ng-class="{ 'form-group_alert' : addAnArticle.price.$invalid && !addAnArticle.price.$pristine }">  
      <label for="inputPurchase" class="col-sm-5 control-label">{l}Purchase Price{endl} </label>
      <div class="col-sm-7">
        <input type="text" class="form-control" placeholder="{l}Purchase Price{endl}" ng-model="add.item.purchase_price" display-nr="" id="inputPurchase">
      </div>
    </div>
    <div class="form-group" ng-class="{ 'form-group_alert' : addAnArticle.vat_id.$invalid && !addAnArticle.vat_id.$pristine }">
      <label for="inputVat" class="col-sm-5 control-label">{l}VAT{endl} <span class="mandatory-label">*</span></label>
      <div class="col-sm-7">
        <selectize config="add.cfg" options="add.item.vat_dd" ng-model="add.item.vat_id" ng-change="add.setPrice('vat_id')" ></selectize>
      </div>
    </div>
    <div class="form-group" ng-class="{ 'form-group_alert' : addAnArticle.total_price.$invalid && !addAnArticle.total_price.$pristine }">
      <label for="inputPriceVat" class="col-sm-5 control-label">{l}Price + VAT{endl} <span class="mandatory-label">*</span></label>
      <div class="col-sm-7">
        <input type="text" class="form-control" placeholder="{l}Price + VAT{endl}" ng-model="add.item.total_price" id="inputPriceVat" display-nr="" ng-blur="add.setPrice('total_price')" name="total_price" >
      </div>
    </div>
    <div class="form-group">
      <label for="inputArticleCategory" class="col-sm-5 control-label">{l}Article Category{endl}</label>
      <div class="col-sm-7">
        <selectize config="add.extraCfg" options="add.item.article_category" ng-model="add.item.article_category_id" table="pim_article_categories" model="article_category_id" opts="article_category"></selectize> 
      </div>
    </div>
    <div class="form-group">
      <label for="inputSupplier" class="col-sm-5 control-label">{l}Supplier{endl}</label>
      <div class="col-sm-7">
        <selectize config='add.customerAutoCfg' options='add.item.supplier' ng-model="add.item.supplier_id" id="inputSupplier" ></selectize>
      </div>
    </div>
    <div class="form-group" >
      <label for="supplier_reference" class="col-sm-5 control-label">{l}Supplier Reference{endl}</label>
      <div class="col-sm-7">
        <input type="text" class="form-control" placeholder="{l}Supplier Reference{endl}" ng-model="add.item.supplier_reference" id="supplier_reference" name="supplier_reference" >
       
      </div>
    </div>
    <div class="form-group">
      <label for="inputLedger" class="col-sm-5 control-label">{l}Ledger Account{endl}</label>
      <div class="col-sm-7">
        <!-- <select class="form-control" ng-model="add.item.ledger_account_id" id="inputLedger">
          <option ng-repeat="option in add.item.article_ledger_account track by option.id" value="{{option.id}}">{{option.name}}</option>
        </select> -->
        <selectize config="add.ledgerCfg" options="add.item.ledger_account" ng-model="add.item.ledger_account_id" id="custandcont" table="pim_article_ledger_accounts" model="ledger_account" ></selectize>
      </div>
    </div>
  </form>
</div>
<div class="col-xs-12 col-sm-6"  ng-show="add.form_type=='service'">            
  <form class="form-horizontal text-left" name="addAnService" novalidate>
    <div class="form-group" ng-class="{ 'form-group_alert' : addAnService.internal_name.$invalid && !addAnService.internal_name.$pristine }">
      <label for="internal_name" class="col-sm-5 control-label">{l}Internal Name{endl} <span class="mandatory-label">*</span></label>
      <div class="col-sm-7">
        <input type="text" class="form-control" placeholder="{l}Internal Name{endl}" ng-model="add.item.internal_name" id="internal_name" name="internal_name" required >
         <div class="alert alert-sm alert-danger ng-cloak" ng-if="addAnService.internal_name.$invalid && add.alertsField.internal_name">{{add.alertsField.internal_name}}</div>
      </div>
    </div>
    <div class="form-group" ng-class="{ 'form-group_alert' : addAnService.item_code.$invalid && !addAnService.item_code.$pristine }">
      <label for="inputCode2" class="col-sm-5 control-label">{l}Code{endl} <span class="mandatory-label">*</span></label>
      <div class="col-sm-7">
        <input type="text" class="form-control" placeholder="{l}Code{endl}" ng-model="add.item.item_code" id="inputCode2" name="item_code" required>
         <div class="alert alert-sm alert-danger ng-cloak" ng-if="addAnService.item_code.$invalid && add.alertsField.item_code">{{add.alertsField.item_code}}</div>
      </div>
    </div>
    <div class="form-group">
      <label for="inputPrice" class="col-sm-5 control-label">{l}Unit price{endl}</label>
      <div class="col-sm-7">
        <input type="text" class="form-control" placeholder="{l}Unit price{endl}" ng-blur="add.setPrice('price')" ng-model="add.item.price" display-nr="" id="inputPrice" name="price" >
      </div>
    </div>
    <div class="form-group" ng-class="{ 'form-group_alert' : addAnArticle.price.$invalid && !addAnArticle.price.$pristine }">  
      <label for="inputPurchase" class="col-sm-5 control-label">{l}Cost Price per unit{endl} <span class="mandatory-label">*</span></label>
      <div class="col-sm-7">
        <input type="text" class="form-control" placeholder="{l}Cost Price per unit{endl}" ng-model="add.item.purchase_price" display-nr="" id="inputPurchase">
      </div>
    </div>
    <div class="form-group" ng-class="{ 'form-group_alert' : addAnArticle.vat_id.$invalid && !addAnArticle.vat_id.$pristine }">
      <label for="inputVat" class="col-sm-5 control-label">{l}VAT{endl} <span class="mandatory-label">*</span></label>
      <div class="col-sm-7">
        <selectize config="add.cfg" options="add.item.vat_dd" ng-model="add.item.vat_id" ng-change="add.setPrice('vat_id')" ></selectize>
      </div>
    </div>
    <div class="form-group" ng-class="{ 'form-group_alert' : addAnArticle.total_price.$invalid && !addAnArticle.total_price.$pristine }">
      <label for="inputPriceVat" class="col-sm-5 control-label">{l}Price + VAT{endl} <span class="mandatory-label">*</span></label>
      <div class="col-sm-7">
        <input type="text" class="form-control" placeholder="{l}Price + VAT{endl}" ng-model="add.item.total_price" id="inputPriceVat" display-nr="" ng-blur="add.setPrice('total_price')" name="total_price" >
      </div>
    </div>
    <!-- <div class="form-group">inputArticleBrand
      <label for="inputBasePrice" class="col-sm-3 control-label">{l}Hourly Price{endl}</label>
      <div class="col-sm-3">
        <input type="text" class="form-control" placeholder="{l}Hourly Price{endl}" ng-model="add.item.h_price" display-nr="" id="inputBasePrice" name="price" >
      </div>
      <label for="inputPurchase" class="col-sm-3 control-label">{l}Daily Price{endl}</label>
      <div class="col-sm-3">
        <input type="text" class="form-control" placeholder="{l}Daily Price{endl}" ng-model="add.item.d_price" display-nr="" id="inputPurchase">
      </div>
    </div> -->
    <div class="form-group">
      <label for="inputArticleCategory" class="col-sm-5 control-label">{l}Category{endl}</label>
      <div class="col-sm-7">
        <!-- <select class="form-control" ng-model="add.item.article_category_id" id="inputArticleCategory">
          <option ng-repeat="option in add.item.article_category track by option.id" value="{{option.id}}">{{option.name}}</option>
        </select> -->
        <selectize config="add.extraCfg" options="add.item.article_category" ng-model="add.item.article_category_id"  table="pim_article_categories" model="article_category_id" opts="article_category"></selectize>
      </div>
<!--       <div class="col-sm-2">
       <button class="btn text-link" ng-click="add.openModal('selectEdit','pim_article_categories','md')"><span class="fas fa-pen"></span></button>
      </div> -->
    </div>
    <div class="form-group">
      <label for="inputLedger2" class="col-sm-5 control-label">{l}Ledger Account{endl}</label>
      <div class="col-sm-7">
<!--         <select class="form-control" ng-model="add.item.ledger_account_id" id="inputLedger2">
          <option ng-repeat="option in add.item.article_ledger_account track by option.id" value="{{option.id}}">{{option.name}}</option>
        </select> -->
        <selectize config="add.ledgerCfg" options="add.item.ledger_account" ng-model="add.item.ledger_account_id" id="custandcont" table="pim_article_ledger_accounts" model="ledger_account" ></selectize>
      </div>
<!--       <div class="col-sm-2">
        <button class="btn text-link" ng-click="add.openModal('selectEdit','pim_article_ledger_accounts','md')"><span class="fas fa-pen" ></span></button>
      </div> -->
    </div>
<!--     <div class="form-group">
      <label class="col-sm-3 control-label" for="supplier_name">{l}Billable{endl}?</label>
      <div class="col-sm-9 checkbox">
        <label> <input type="checkbox" ng-model="add.item.billable"></label>
      </div>
    </div> -->
  </form>
 </div>
    <!-- <div class="col-sm-6 text-center ">
      <div class="panel panel-primary">
          <div class="panel-body">
              <div class="blank_card col-bottom text-center">
              <div class="card_icon"><span class="akti-icon o_akti_articles"></span></div>
              <p class="text-muted col-top">{l}To access all Catalog features, upgrade your account.{endl}</p>
              <div class="text-center col-top"><a class="btn btn-lg_icon btn-primary" ng-click="add.upgrade()" >{l}Upgrade My Account{endl}</a></div>
              </div>
            </div>
        </div>
    </div> -->
</div>
  <div class="text-right">
<button class="btn btn-plain" ng-click="add.cancel()" type="submit">{l}Cancel{endl}</button>
  <button class="btn btn-default" ng-show="add.form_type=='article'"  ng-class="{ 'add_disabled': add.show_disabled }" ng-disabled="add.checkForm(addAnArticle)" ng-click="add.save(addAnArticle)" type="submit">{l}{{add.save_button_text}}{endl}</button>
  <button class="btn btn-default" ng-show="add.form_type=='service'" ng-class="{ 'add_disabled': add.show_disabled }" ng-disabled="add.checkForm(addAnService)" ng-click="add.save(addAnService)" type="submit">{l}{{add.save_button_text}}{endl}</button>
</div>  
