<div class="page-header">
    <div class="row">
        <div class="col-sm-8">
            <h1 ng-if="add.add_mode">{l}Create New{endl}
                <span ng-if="add.form_type == 'article'">{l}Product{endl}</span>
                <span ng-if="add.form_type == 'service'">{l}Service{endl}</span>
                <!-- <div class="btn-group" uib-dropdown>
                    <button type="button" class="btn btn-dropdown-line dropdown-toggle" uib-dropdown-toggle
                            id="no_css_switch_btn" ng-if="add.form_type == 'article'">{l}Product{endl} <span
                            class="caret"></span></button>
                    <button type="button" class="btn btn-dropdown-line dropdown-toggle" uib-dropdown-toggle
                            id="no_css_switch_btn" ng-if="add.form_type == 'service'"
                    >{l}Service{endl} <span class="caret"></span></button>
                    <ul class="dropdown-menu" uib-dropdown-menu>
                        <li><a go-to="" state="article.add" params='{"article_id": "tmp","form_type":"article"}'>{l}Product{endl}</a>
                        </li>
                        <li><a go-to="" state="article.add" params='{"article_id": "tmp","form_type":"service"}'>{l}Service{endl}</a>
                        </li>
                    </ul>
                </div> -->
            </h1>
            <h1 ng-if="add.item.edit_mode"> {{add.item.internal_name}} <span ng-if="add.item.is_archived" class="badge item-status-gray">{l}Archived{endl}</span>
            </h1>
        </div>
        <div class="col-sm-4 page-header-options">
            <!-- <button ng-if="!add.add_mode" go-to="" ng-show="add.form_type == 'article'" state="articles" type="submit"
                    class="btn btn-sm btn-default"><strong>{l}Back{endl}</strong>
            </button> -->
            <navigator ng-if="!add.add_mode && add.form_type == 'article'" pag="article-articles" itemid="{{add.article_id}}" originalPage="article.add"></navigator>
            <!--  <button ng-if="!add.add_mode" go-to="" ng-show="add.form_type == 'service'" state="aservices" type="submit"
                    class="btn btn-sm btn-default"><strong>{l}Back{endl}</strong>
            </button> -->
            <navigator ng-if="!add.add_mode && add.form_type == 'service'" pag="article-aservices" itemid="{{add.article_id}}" originalPage="article.add"></navigator>
        </div>
        <!-- </div>
           <div class="row" > -->
    </div>
</div>
<!-- /.page-header -->
<!-- <div uib-alert ng-repeat="alert in add.alerts" type="{{alert.type}}" close="add.alerts.splice($index, 1);"
     ng-class="['alert-' + (alert.type || 'warning'), 'alert-fixed' ]" dismiss-on-timeout='5000'>{{alert.msg}}
</div> -->
<!-- <div class="tab-content" ng-if="add.item_exists == undefined">
     <div class="row text-center" >
        <i class="fa fa-spinner fa-spin fa-2x fa-fw" aria-hidden="true"></i><span class="sr-only"></span>
    </div>
</div> -->
<div class="tab-content" ng-if="add.item_exists == false">
    <nopage></nopage>
</div>
<div ng-if="add.item_exists == true">
    <ul class="nav nav-tabs tabs-default" role="tablist">
        <li role="presentation" class="pull-right">
       <div>
          <a class="btn btn-sm btn-link" ui-sref="article.add({'article_id': add.item.prev})" ng-show="add.item.prev"><i class="fa fa-arrow-left" aria-hidden="true"></i>{l}Previous{endl}</a> <a class="btn btn-sm btn-link" ui-sref="article.add({'article_id': add.item.next})" ng-show="add.item.next">{l}Next{endl}<i class="fa fa-arrow-right" aria-hidden="true"></i></a>
       </div>
    </li>
        <li role="presentation" class="active">
            <a href="#tab1" role="tab" data-toggle="tab">{l}Details{endl}
        </a>
        </li>
        <li role="presentation" class="{{add.item.tab_class}}">
            <a href="#translation" role="tab" data-toggle="tab" ng-click="add.load('articleTranslation', 'translation')">{l}Product Description{endl}
        </a>
        </li>
        <li role="presentation" ng-class="{ 'disabled': add.item.tab_class || (add.item.allow_variants && add.item.has_variants) }" ng-if="add.item.allow_stock">
            <a href="#customer_stocks" role="tab" data-toggle="tab" ng-click="add.load('articleDispatch', 'customer_stocks')">{l}Stock{endl}
        </a>
        </li>
        <li role="presentation" ng-class="{ 'disabled': add.item.tab_class || (add.item.allow_variants && add.item.has_variants) }">
            <a href="#financial" role="tab" data-toggle="tab">{l}Financial{endl}
        </a>
        </li>
        <li role="presentation" ng-class="{ 'disabled': add.item.tab_class || (add.item.allow_variants && add.item.has_variants) }">
            <a href="#serial" role="tab" data-toggle="tab" ng-click="add.load('articleSerial', 'serial')">{l}Serial Numbers{endl}
        </a>
        </li>
        <li role="presentation" ng-class="{ 'disabled': add.item.tab_class || (add.item.allow_variants && add.item.has_variants) }">
            <a href="#batch" role="tab" data-toggle="tab" ng-click="add.load('articleBatch', 'batch')">{l}Batches{endl}
        </a>
        </li>
        <li role="presentation" ng-class="{ 'disabled': add.item.tab_class || (add.item.allow_variants && add.item.has_variants) }">
            <a href="#composed" role="tab" data-toggle="tab" ng-click="add.load('articleCombine', 'composed')">{l}Combined Articles{endl}
        </a>
        </li>
        <li role="presentation" ng-class="{ 'disabled': add.item.tab_class || (add.item.allow_variants && add.item.has_variants) }">
            <a href="#custom" role="tab" data-toggle="tab" ng-click="add.load('articleCustom', 'custom')">{l}Custom Prices{endl}
        </a>
        </li>
        <li role="presentation" ng-class="{ 'disabled': add.item.tab_class || (add.item.allow_variants && add.item.has_variants) }">
            <a href="#supplierref" role="tab" data-toggle="tab" ng-click="add.load('supplierRef', 'supplierRef')">{l}Supplier References{endl}
        </a>
        </li>
        <li role="presentation" class="{{add.item.tab_class}}" ng-if="add.item.allow_variants">
            <a href="#articleVariants" role="tab" data-toggle="tab" ng-click="add.load('articleVariants', 'articleVariants')">{l}Variants of product{endl}
        </a>
        </li>
    </ul>
    <div class="tab-content col-top">
        <div role="tabpanel" class="tab-pane active" id="tab1">
            <form class="form-horizontal text-left" name="addAnArticle" novalidate>
                <!-- <div class="text-right col-bottom col-top">
                <button class="btn btn-plain" ng-click="add.cancel()" type="submit">{l}Cancel{endl}
                </button> -->
                <!-- <a ng-show="add.form_type == 'article'" go-to="" state="articles" class="btn btn-default"><strong>{l}Back{endl}</strong></a>
                <a ng-show="add.form_type == 'service'" go-to="" state="aservices" class="btn btn-default"><strong>{l}Back{endl}</strong></a> -->
                <!-- <button class="btn btn-default" ng-show="add.form_type == 'article'" ng-click="add.save(addAnArticle)"
                        type="submit" ng-disabled="addAnArticle.$invalid">{l}Save{endl}
                </button>
                <button class="btn btn-default" ng-show="add.form_type == 'service'" ng-disabled="addAnService.$invalid"
                        ng-click="add.save(addAnService)" type="submit">{l}Save{endl}
                </button>
            </div> -->
                <div class="row">
                    <div class="col-xs-12">
                        <div class="row">
                            <div class="col-xs-12 col-sm-6">
                                <div class="form-group" class="form-group" ng-class="{ 'form-group_alert' : addAnArticle.internal_name.$invalid && !addAnArticle.internal_name.$pristine }">
                                    <label for="inputName" class="col-sm-5 control-label">
                                    {l}Internal Name{endl}<span class="mandatory-label">*</span>
                                </label>
                                    <div class="col-sm-7">
                                        <input type="text" class="form-control" placeholder="{l}Internal Name{endl}" ng-model="add.item.internal_name" id="internal_name" name="internal_name" ng-change="add.checkInput()" required>
                                        <div class="alert alert-sm alert-danger" ng-if="addAnArticle.internal_name.$invalid && add.alertsField.internal_name">
                                            {{add.alertsField.internal_name}}
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group" ng-class="{ 'form-group_alert' : addAnArticle.item_code.$invalid && !addAnArticle.item_code.$pristine }">
                                    <label for="inputCode" class="col-sm-5 control-label">
                                    {l}Code{endl} <span class="mandatory-label">*</span>
                                </label>
                                    <div class="col-sm-7">
                                        <input type="text" class="form-control" placeholder="{l}Code{endl}" ng-model="add.item.item_code" id="inputCode" name="item_code" ng-change="add.checkInput()" required>
                                        <div class="alert alert-sm alert-danger ng-cloak" ng-if="addAnArticle.item_code.$invalid && add.alertsField.item_code">
                                            {{add.alertsField.item_code}}
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group" ng-class="{ 'form-group_alert' : addAnArticle.price.$invalid && !addAnArticle.price.$pristine }">
                                    <label for="inputBasePrice" class="col-sm-5 control-label">{l}Base Price{endl} <span
                                        class="mandatory-label">*</span></label>
                                    <div class="col-sm-7">
                                        <input type="text" class="form-control" ng-class="{ 'color_transparent' : add.item.allow_variants && add.item.has_variants }" ng-readonly="add.item.allow_variants && add.item.has_variants" placeholder="{l}Base Price{endl}" ng-blur="add.setPrice('price')"
                                            ng-model="add.item.price" id="inputBasePrice" name="price" required ng-mousedown="add.applySelection($event)">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="inputPurchase" class="col-sm-5 control-label">{l}Purchase Price{endl}</label>
                                    <div class="col-sm-7" ng-if="!add.item.is_wac">
                                        <input type="text" class="form-control" ng-class="{ 'color_transparent' : add.item.allow_variants && add.item.has_variants }" ng-change="add.checkInput()" ng-readonly="add.item.allow_variants && add.item.has_variants" placeholder="{l}Purchase Price{endl}"
                                            ng-model="add.item.purchase_price" id="inputPurchase" ng-mousedown="add.applySelection($event)">
                                    </div>
                                    <div class="col-sm-7" ng-if="add.item.is_wac">
                                        <input type="text" class="form-control" placeholder="{l}Purchase Price{endl}" ng-model="add.item.purchase_price" readonly display-nr="" id="inputPurchase" ng-class="{ 'color_transparent' : add.item.allow_variants && add.item.has_variants }" ng-change="add.checkInput()"
                                            ng-mousedown="add.applySelection($event)">
                                    </div>
                                </div>
                                <div class="form-group" ng-class="{ 'form-group_alert' : addAnArticle.vat_id.$invalid && !addAnArticle.vat_id.$pristine }">
                                    <label for="inputVat" class="col-sm-5 control-label">{l}VAT{endl} <span
                                        class="mandatory-label">*</span></label>
                                    <div class="col-sm-7" ng-class="{ 'color_transparent' : add.item.allow_variants && add.item.has_variants }">
                                        <!--                            <select class="form-control" ng-model="add.item.vat_id" id="inputVat" ng-change="add.setPrice('vat_id')" name="vat_id" required >
                                                                  <option ng-repeat="option in add.item.vat_dd track by option.id" value="{{option.id}}"">{{option.name}}</option>
                                                               </select> -->
                                        <selectize ng-disabled="add.item.allow_variants && add.item.has_variants" config="add.cfg" options="add.item.vat_dd" ng-model="add.item.vat_id" ng-change="add.setPrice('vat_id')"></selectize>
                                    </div>
                                </div>
                                <div class="form-group" ng-class="{ 'form-group_alert' : addAnArticle.total_price.$invalid && !addAnArticle.total_price.$pristine }">
                                    <label for="inputPriceVat" class="col-sm-5 control-label">{l}Price + VAT{endl} <span
                                        class="mandatory-label">*</span></label>
                                    <div class="col-sm-7">
                                        <input type="text" class="form-control" ng-class="{ 'color_transparent' : add.item.allow_variants && add.item.has_variants }" ng-readonly="add.item.allow_variants && add.item.has_variants" placeholder="{l}Price + VAT{endl}" ng-model="add.item.total_price"
                                            id="inputPriceVat" ng-blur="add.setPrice('total_price')" name="total_price" ng-mousedown="add.applySelection($event)">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="inputWeight" class="col-sm-5 control-label">{l}Weight{endl}</label>
                                    <div class="col-sm-7">
                                        <input type="text" class="form-control" ng-class="{ 'color_transparent' : add.item.allow_variants && add.item.has_variants }" ng-change="add.checkInput()" ng-readonly="add.item.allow_variants && add.item.has_variants" placeholder="{l}Weight{endl}" ng-model="add.item.weight"
                                            id="inputWeight" ng-mousedown="add.applySelection($event)">
                                    </div>
                                </div>
                                <div class="form-group" ng-if="add.item.allow_article_packing == 1">
                                    <label for="inputPacking" class="col-sm-5 control-label">{l}Packing{endl}</label>
                                    <div class="col-sm-7">
                                        <input type="text" class="form-control" ng-class="{ 'color_transparent' : add.item.allow_variants && add.item.has_variants }" ng-change="add.checkInput()" ng-readonly="add.item.allow_variants && add.item.has_variants" placeholder="{l}Packing{endl}" ng-model="add.item.packing"
                                            id="inputPacking" ng-mousedown="add.applySelection($event)">
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-6">
                                <div class="form-group">
                                    <label for="inputOriginCode" class="col-sm-5 control-label">{l}Origin Code{endl}
                                </label>
                                    <div class="col-sm-7">
                                        <input type="text" class="form-control" placeholder="{l}Origin Code{endl}" ng-model="add.item.origin_number" id="inputOriginNumber" ng-change="add.checkInput()">
                                    </div>
                                </div>
                                <div class="form-group" ng-class="{ 'form-group_alert' : addAnArticle.ean_code.$invalid && !addAnArticle.ean_code.$pristine }">
                                    <label for="inputEAN" class="col-sm-5 control-label">{l}EAN Code{endl}
                                </label>
                                    <!-- <label for="inputEAN" class="col-sm-5 control-label">{l}Barcode{endl}
                                </label> -->
                                    <div class="col-sm-7">
                                        <input type="text" class="form-control" ng-class="{ 'color_transparent' : add.item.allow_variants && add.item.has_variants }" name="ean_code" ng-change="add.checkInput()" ng-readonly="add.item.allow_variants && add.item.has_variants" placeholder="{l}EAN Code{endl}" ng-model="add.item.ean_code"
                                            id="inputEAN" ng-mousedown="add.applySelection($event)">
                                        <div class="alert alert-sm alert-danger" ng-if="addAnArticle.ean_code.$invalid && add.alertsField.ean_code">
                                            {{add.alertsField.ean_code}}
                                        </div>
                                        <!-- <input type="text" class="form-control" ng-class="{ 'color_transparent' : add.item.allow_variants && add.item.has_variants }" ng-readonly="add.item.allow_variants && add.item.has_variants" placeholder="{l}Barcode{endl}"
                                           ng-model="add.item.ean_code" id="inputEAN" ng-mousedown="add.applySelection($event)"> -->
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="inputSupplier" class="col-sm-5 control-label">{l}Preferred Supplier{endl} <span class="new-badge" ng-if="add.item.article_id && !add.item.has_variants && add.item.multiple_suppliers != 0">  {{add.item.multiple_suppliers}} </span>
                                </label>
                                    <div class="col-sm-7 item-overflow" ng-class="{ 'color_transparent' : add.item.allow_variants && add.item.has_variants }">
                                        <selectize config='add.customerAutoCfg' options='add.item.supplier' ng-model="add.item.supplier_id" id="inputSupplier" ng-disabled="add.item.allow_variants && add.item.has_variants" ng-change="add.checkInput()">
                                        </selectize>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="inputSupplierRef" class="col-sm-5 control-label">{l}Supplier Reference{endl}
                                </label>
                                    <div class="col-sm-7">
                                        <input type="text" class="form-control" placeholder="{l}Supplier Reference{endl}" ng-model="add.item.supplier_reference" id="inputSupplierRef" ng-blur="add.changeSupplierRef(add.item)" ng-class="{ 'color_transparent' : add.item.allow_variants && add.item.has_variants }"
                                            ng-readonly="add.item.allow_variants && add.item.has_variants" ng-mousedown="add.applySelection($event)" ng-change="add.checkInput()">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="inputArticleCategory" class="col-sm-5 control-label">{l}Article Category{endl}
                                </label>
                                    <div class="col-sm-7">
                                        <selectize config="add.extraCfg" options="add.item.article_category" ng-model="add.item.article_category_id" table="pim_article_categories" model="article_category_id" opts="article_category" ng-change="add.checkInput()"></selectize>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="inputArticleBrand" class="col-sm-5 control-label">{l}Brand{endl}
                                </label>
                                    <div class="col-sm-7" ng-class="{ 'color_transparent' : add.item.allow_variants && add.item.has_variants }">
                                        <selectize config="add.extraCfg" name="article_brand_id" options="add.item.article_brand" ng-model="add.item.article_brand_id" table="pim_article_brands" model="article_brand_id" opts="article_brand" ng-disabled="add.item.allow_variants && add.item.has_variants"
                                            ng-change="add.checkInput()"></selectize>
                                    </div>
                                </div>
                                <div class="form-group" ng-if="add.item.allow_article_sale_unit == 1">
                                    <label for="inputSalesUnit" class="col-sm-5 control-label">{l}Sale Unit{endl}</label>
                                    <div class="col-sm-7">
                                        <input type="text" class="form-control" ng-class="{ 'color_transparent' : add.item.allow_variants && add.item.has_variants }" ng-change="add.checkInput()" ng-readonly="add.item.allow_variants && add.item.has_variants" placeholder="{l}Sale Unit{endl}"
                                            ng-model="add.item.sale_unit" id="inputSalesUnit" ng-mousedown="add.applySelection($event)">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group" ng-if="!add.item.allow_variants || (add.item.allow_variants && !add.item.has_variants)">
                            <div class="col-xs-12 col-bottom col-top radio">
                                <span class="col-right ng-cloak">{l}Price Type by default{endl}</span>

                                <label class="text-muted col-right"><input type="radio" name="price_type"
                                                                       ng-model="add.item.price_type" value="1" ng-change="add.checkInput()">
                                {l}Based on Customer Price Category{endl}</label>


                                <label class="text-muted col-right"><input type="radio" name="price_type"
                                                                       ng-model="add.item.price_type" value="2" ng-change="add.checkInput()">
                                {l}Based on Quantity Ordered{endl}</label>

                            </div>

                        </div>
                    </div>

                </div>

            </form>
            <div class="col-top" ng-if="!add.item.allow_variants || (add.item.allow_variants && !add.item.has_variants)">
                <div class="col-sm-12 text-right" ng-if="add.item.price_type == 2 && add.item.edit_mode == 1"><a href="#" ng-click="add.openModal('setPriceVol', add.item, 'md')" class="btn btn-default ">{l}Add
                Price{endl}</a></div>
                <table class="table orderTable" ng-if="add.item.price_type == 1 && add.item.edit_mode == 1">
                    <thead>
                        <tr>
                            <th class="col-sm-3">{l}Price Category{endl}</th>
                            <th class="col-sm-3">{l}Category Details{endl}</th>
                            <th class="col-sm-2">{l}Price{endl}</th>
                            <th class="col-sm-2 ng-cloak">{l}VAT{endl} {{add.item.si_vat_value}} %</th>
                            <th class="col-sm-2">{l}Price + VAT{endl}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!--                <tr class="highlight">
                                  <td><strong>{l}Base Price{endl}</strong></td>
                                  <td class="text-muted"></td>
                                  <td class="col-adjust-input">
                                     <div class="row">
                                        <div class="col-sm-8">
                                           <input type="text" class="form-control" ng-blur="add.setPrice('price')" ng-model="add.item.price" display-nr="" id="inputBasePrice" name="price" required>
                                        </div>
                                     </div>
                                  </td>
                                  <td class="text-muted col-adjust-input">
                                     <div class="row">
                                        <div class="col-sm-8">
                                           <select class="form-control" ng-model="add.item.vat_id" id="inputVat" ng-change="add.setPrice('vat_id')" name="vat_id" required >
                                              <option ng-repeat="option in add.item.vat_dd track by option.id" value="{{option.id}}"">{{option.name}}</option>
                                           </select>
                                        </div>
                                     </div>
                                  </td>
                                  <td class="col-adjust-input">
                                     <div class="row">
                                        <div class="col-sm-8">
                                           <input type="text" class="form-control" ng-model="add.item.total_price"  display-nr="" ng-blur="add.setPrice('total_price')" name="total_price" >
                                        </div>
                                     </div>
                                  </td>
                               </tr> -->
                        <tr ng-repeat="item in add.item.price_categories">
                            <td class="ng-cloak">{{item.si_price_cat_name}}
                                <small class="text-muted" ng-if="item.is_custom"><br>({l}custom for current article{endl})
                    </td>
                    <td class="text-muted ng-cloak">
                        {{item.si_type}} / {{item.si_price_value}} <span ng-bind-html="item.si_price_value_type"></span>
                        <a href="#" ng-click="add.openModal('setCategPrice', item)"><span
                                class="fas fa-pen"></span></a>
                        <a href="#" ng-click="add.revertPrice(item)" class="text-muted" ng-if="item.is_custom"><span
                                class="fa fa-undo"></span></a>
                    </td>
                    <td class="text-muted ng-cloak">
                        {{item.si_price}}
                    </td>
                    <td class="text-muted ng-cloak">
                        {{item.si_vat}}
                    </td>
                    <td class="text-muted ng-cloak">
                        {{item.si_total_price}}
                    </td>
                </tr>
                </tbody>
            </table>
            <table class="table active_rows orderTable" ng-if="add.item.price_type == 2 && add.item.edit_mode == 1">
                <thead>
                <tr>
                    <th class="col-sm-2">{l}From Qty{endl} - {l}To Qty{endl}</th>
                    <th class="col-sm-2">{l}Price{endl}</th>
                    <th class="col-sm-2">{l}Volume percent{endl}</th>
                    <th class="col-sm-3">{l}VAT{endl}</th>
                    <th class="col-sm-2">{l}Price + VAT{endl}</th>
                    <th class="col-sm-1" class="text-muted">{l}Action{endl}</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="item in add.item.price_categories_vol">
                    <td class="ng-cloak">{{item.min_qty}} - {{item.max_qty}}</td>
                    <td class="text-muted ng-cloak">
                        {{item.si_price}}
                    </td>
                    <td class="text-muted ng-cloak">
                        {{item.si_percent}} %
                    </td>
                    <td class="text-muted ng-cloak">
                        {{item.si_vat}} ({{item.si_vat_percent}} %)
                    </td>
                    <td class="text-muted ng-cloak">
                        {{item.si_total_price}}
                    </td>
                    <td class="text-muted table_actions">
                        <div class="btn-group" uib-dropdown>
                            <button type="button" class="btn btn-plain dropdown-toggle" uib-dropdown-toggle>
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu dropdown-menu-right" uib-dropdown-menu>
                                <li>
                                    <a ng-click="add.openModal('setPriceVol', item, 'md')"><span
                                            class="fas fa-pen text-primary"></span> {l}Edit{endl}</a>
                                </li>
                                <li>
                                    <a href="#" ng-click="add.deletePrice(item)"
                                       confirm="{l}Are you sure, you wanna delete this entry?{endl}"><span
                                            class="fas fa-trash-alt text-primary"></span> {l}Delete{endl}</a>
                                </li>
                            </ul>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <!-- /.col-top -->
        <div class="row">
            <div class="col-xs-12">

                <logging do='article-article' advanced="false" type="article_id"
                         ref="{{add.item.article_id}}"></logging>

            </div>
        </div>
        <div class="text-right">
            <!-- <button class="btn btn-plain" ng-click="add.cancel()" type="submit">{l}Cancel{endl}
                    </button>
                    <button class="btn btn-default" ng-show="add.form_type == 'article'" ng-disabled="addAnArticle.$invalid"
                            ng-click="add.save(addAnArticle)" type="submit">{l}Save{endl}
                    </button> -->
            <button class="btn btn-plain" ng-click="add.cancel()" type="submit">{l}Cancel{endl}</button>
            <button class="btn btn-default" ng-show="add.form_type=='article'" ng-class="{ 'add_disabled': add.show_disabled }"
                ng-disabled="addAnArticle.$invalid" ng-click="add.save(addAnArticle)"
                type="submit">{l}{{add.save_button_text}}{endl}</button>
            <button class="btn btn-default" ng-show="add.form_type=='service'" ng-class="{ 'add_disabled': add.show_disabled }"
                ng-disabled="add.checkForm(addAnService)" ng-click="add.save(addAnService)"
                type="submit">{l}{{add.save_button_text}}{endl}</button>
        </div>

    </div>
    <div role="tabpanel" class="tab-pane fade" id="translation">
        <div class="col-xs-12 col-sm-4 margin-top">
            </br>
            <!--          <div class="panel panel-plain" ng-show="add.item.edit_mode==1">
                        <div class="panel-body">
                           <div class="profile_card text-center">
                              <div class="card_thumb">
                                 <img class="img-responsive" src="{{add.item.artPhoto}}" alt=""/>
                              </div>
                              <div class="btn-thumb_upload">
                                 <div class="btn-group text-default col-top" uib-dropdown>
                                    <button type="button" class="btn btn-sm btn-tertiary dropdown-toggle" uib-dropdown-toggle>
                                       <span class="fa fa-camera"></span>&nbsp; Update Photo
                                    </button>
                                    <input type="file" name="file" class="hide newUploadFile2" accept=".gif,.jpg,.jpeg" >
                                    <ul class="dropdown-menu" uib-dropdown-menu>
                                       <li><a href="#" ng-click="add.upload(add,$event)">{l}Upload Photo{endl}</a></li>
                                       <li><a href="#" ng-click="add.remove_photo()">{l}Remove{endl}</a></li>
                                    </ul>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div> -->
            <div class="section-content col-bottom" ng-show="add.item.edit_mode == 1">
                <div class="upload-box profile_card col-xs-12">
                    <p><strong>{l}Logo{endl}</strong></p>
                    <p>
                        <small>{l}Allowed file types: <strong>.jpg</strong>, <strong>.jpeg</strong> ,
                            <strong>.png</strong> or <strong>.gif</strong>.{endl}
                        </small>
                                </p>
                                <div class="upload-file hidden">
                                    <div class="row">
                                        <div class="upload-file-image col-xs-4">
                                            <img class="img-thumbnail" src="images/storedemo.png" width="232" height="60" alt="" />
                                        </div>
                                        <div class="upload-file-info col-xs-8">
                                            <p class="nameOfTheFile"></p>
                                            <div class="upload-progress">
                                                <div class="upload-progress-bar" style="width: 88%;"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <input type="file" name="file" class="newUploadFile2" accept=".gif,.jpg,.jpeg,.png">
                                <p class="text-center">
                                    <button class="btn btn-default" ng-click="add.upload(add, $event)"><span
                                class="glyphicon glyphicon-cloud-upload"></span> {l}Upload{endl}
                        </button>
                                </p>
            </div>
            <div class="row">
                <div class="col-xs-12 radio-list">
                    <div class="col-xs-1 col-xs-offset-3 text-center"></div>
                    <!-- <div class="col-xs-4 text-center"><img class="img-thumbnail" src="{{vm.account_address.logos}}" width="232" height="60" alt=""/></div> -->
                    <div class="upload-box1 col-md-12">
                    <div class="drop_drag col-xs-12 text-center art"><i ng-if="add.item.exist_image" class="fa fa-trash link-pointer" ng-click="add.remove_photo()"></i>
                        <img ngf-drop="add.uploadFiles($files)" ngf-drag-over-class="'dragover'" ngf-multiple="true" ngf-pattern="'image/*'" class="img-thumbnail" ng-src={{add.item.artPhoto}}>
                        <div ngf-no-file-drop></div></div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-8">
        <table class="table orderTable">
            <thead>
                <tr>
                    <th class="col-sm-2"></th>
                    <th class="col-sm-3 ng-cloak" ng-repeat="item in add.translation">{{item.lang_name}}
                    </th>
                    <!-- <th class="col-sm-2
                            "></th> -->
                </tr>
            </thead>
            <tbody>
                <!--<tr>
                   <td><strong>{l}Internal Name{endl}</strong></td>
                   <td class="text-muted ng-cloak" ng-repeat="item in add.translation" ng-click="add.openModal('setTrans',add.item.article_id,'md')">{{item.internal_name}}</td>

                   </tr>-->
                <tr class="link-pointer">
                    <td><strong>{l}Commercial Name{endl}</strong></td>
                    <td class="text-muted ng-cloak" ng-click="add.openModal('setTrans', add.item.article_id, 'md', 'name')" ng-repeat="item in add.translation">{{item.name}}
                    </td>
                    <!-- <td class="table_actions">
                        <div class="btn-group" uib-dropdown>
                            <button type="button" class="btn btn-plain dropdown-toggle" uib-dropdown-toggle>
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu dropdown-menu-right" uib-dropdown-menu>
                                <li class="dropdown-header">{l}Action{endl}</li>
                                <li>
                                    <a href="#" ng-click="add.openModal('setTrans', add.item.article_id, 'md', 'name')"><span
                                            class="fas fa-pen text-primary"></span> {l}Edit{endl}</a>
                                </li>
                            </ul>
                        </div>
                    </td> -->
                </tr>
                <tr class="link-pointer">
                    <td><strong>{l}Commercial Name2{endl}</strong></td>
                    <td class="text-muted ng-cloak" ng-click="add.openModal('setTrans', add.item.article_id, 'md', 'name2')" ng-repeat="item in add.translation">{{item.name2}}
                    </td>
                    <!-- <td class="table_actions">
                        <div class="btn-group" uib-dropdown>
                            <button type="button" class="btn btn-plain dropdown-toggle" uib-dropdown-toggle>
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu dropdown-menu-right" uib-dropdown-menu>
                                <li class="dropdown-header">{l}Action{endl}</li>
                                <li>
                                    <a href="#"
                                       ng-click="add.openModal('setTrans', add.item.article_id, 'md', 'name2')"><span
                                            class="fas fa-pen text-primary"></span> {l}Edit{endl}</a>
                                </li>
                            </ul>
                        </div>
                    </td> -->
                </tr>
                <tr class="link-pointer">
                    <td><strong>{l}Description{endl}</strong></td>
                    <td class="text-muted ng-cloak" ng-click="add.openModal('setTrans', add.item.article_id, 'md', 'description')" ng-repeat="item in add.translation">{{item.description}}
                    </td>
                    <!-- <td class="table_actions">
                        <div class="btn-group" uib-dropdown>
                            <button type="button" class="btn btn-plain dropdown-toggle" uib-dropdown-toggle>
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu dropdown-menu-right" uib-dropdown-menu>
                                <li class="dropdown-header">{l}Action{endl}</li>
                                <li>
                                    <a href="#"
                                       ng-click="add.openModal('setTrans', add.item.article_id, 'md', 'description')"><span
                                            class="fas fa-pen text-primary"></span> {l}Edit{endl}</a>
                                </li>
                            </ul>
                        </div>
                    </td> -->
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-xs-12">
        <h4>
            <strong>{l}Files{endl}</strong>
            <button ng-if="add.item.dropbox.is_drop && !add.show_load" type="button" class="btn btn-primary btn-add" uib-tooltip="{l}Upload{endl}" tooltip-placement="right" ng-click="add.uploadDoc(1)"><span class="btn-add_icon"><span class="icon-bar"></span><span class="icon-bar-2"></span></span></button>
            <label ng-if="add.item.dropbox.is_drop === false"><i class="fa fa-question-circle" uib-tooltip="{l}To use this functionality Dropbox needs to be activated under 'integrations'{endl}" tooltip-placement="right"></i></label>
        </h4>
        <div class="row text-center" ng-if="add.show_load">
            <i class="fa fa-spinner fa-spin fa-2x fa-fw" aria-hidden="true"></i><span class="sr-only"></span>
        </div>
        <div type="notice" ng-if="!add.item.dropbox.dropbox_files.length && !add.item.dropbox.dropbox_images.length && !add.show_load" class="padd-file">{l}No files have been added yet{endl}</div>
        <div class="table active_rows orderTable" ng-if="(add.item.dropbox.dropbox_files.length || add.item.dropbox.dropbox_images.length) && !add.show_load">
            <div ng-repeat="item in add.item.dropbox.dropbox_files">
                <p class="padd-file"><a href="{{item.down_file_link}}" target="_blank" class="file-name">{{item.name}}</a> <span><a href="#" ng-click="add.deleteDropFile($index)" confirm="{l}Are you sure, you wanna delete this entry?{endl}"><span class="fa fa-trash"></span></a>
                    </span>
                </p>
            </div>
            <div ng-if="add.item.dropbox.dropbox_images.length && !add.show_load">
                <div ng-repeat="item in add.item.dropbox.dropbox_images">
                    <p class="padd-file"><a target="_blank" class="file-name" ng-click="add.openLightboxModal($index)">{{item.name}}</a> <span><a href="#" ng-click="add.deleteDropImage($index)" confirm="{l}Are you sure, you wanna delete this entry?{endl}"><span class="fa fa-trash"></span></a>
                        </span>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<div role="tabpanel" class="tab-pane fade" id="customer_stocks">

    <form class="form-horizontal text-left" name="addStock" novalidate>
        <!--                     <div class="text-right col-bottom col-top">
                        <button class="btn btn-plain" ng-click="add.cancel()" type="submit">{l}Cancel{endl}
                        </button>
                        <button class="btn btn-default" ng-show="add.form_type=='article'"  ng-click="add.save(addStock)" type="submit">{l}Save{endl}
                        </button>

                     </div> -->
        <div class="row">
            <div class="col-sm-6 ccc">
                <div class="form-group" ng-if="add.item.allow_stock">
                    <label class="col-xs-4 col-sm-4 control-label">{l}Exclude Stock{endl}</label>
                    <div class="col-xs-8 col-sm-8 form-group">
                        <!-- <toggle-switch ng-model="add.item.hide_stock" class="switch-primary fix_width"
                                           off-label="{l}No{endl}" on-label="{l}Yes{endl}"></toggle-switch> -->
                        <label class="switch pull-left small_margin">
                             <input type="checkbox" id="" ng-model="add.item.hide_stock"  class="switch-primary">
                             <span class="slider round"></span>
                        </label>
                        <!-- <input type="checkbox" id="checkbox_stock" ng-model="add.item.hide_stock" value="1"> -->
                        <!-- <label for="checkbox_stock"></label> -->
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12" ng-if="!add.item.hide_stock">
                        <div class="form-group" ng-if="!add.item.stock_multiple_locations">
                            <label for="inputInStock" class="col-sm-3 control-label">{l}In Stock{endl}</label>
                            <div class="col-sm-4 col-lg-3">
                                <input type="text" class="form-control" placeholder="{l}In Stock{endl}" ng-model="add.item.stock" id="inputInStock">
                            </div>


                        </div>

                        <div class="form-group">
                            <label for="inputThreshold" class="col-sm-4 control-label">{l}Threshold{endl}</label>
                            <div class="col-xs-3 col-sm-3 form-group">
                                <input type="text" class="form-control" placeholder="{l}Threshold{endl}" ng-model="add.item.article_threshold_value" id="inputThreshold">

                            </div>
                            <div ng-if="add.item.article_id">
                                <a href="#" id="dispatch_threshold" ng-click="add.openModal('setTreshold', add.item.article_id)">{l}Set Threshold For Dispatch Addresses{endl}</a>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputMaxStock" class="col-sm-4 control-label">{l}Max. Stock{endl}</label>
                            <div class="col-xs-3 col-sm-3 form-group">
                                <input type="text" class="form-control" placeholder="{l}Max. Stock{endl}" ng-model="add.item.max_stock" id="inputMaxStock">
                            </div>
                        </div>
                    </div>
                </div>

                <!--   <div class="form-group"  ng-if="!add.item.hide_stock && add.item.stock_multiple_locations">
                        <label for="inputInStock" class="col-sm-3 control-label">{l}In Stock{endl}</label>
                        <div class="col-sm-4 col-lg-3" ng-if="!add.item.edit_mode">
                          <input type="text" class="form-control" placeholder="{l}In Stock{endl}" ng-model="add.item.stock" id="inputInStock">
                        </div>
                        <div class="col-sm-4 col-lg-3" ng-if="add.item.edit_mode">
                          <input type="text" class="form-control hide" placeholder="{l}In Stock{endl}" ng-model="add.item.stock" id="inputInStock">
                           <span id="stockValue" class="ng-cloak">{{add.item.stock}}</span>
                           <button ng-if="add.item.stock_multiple_locations && !add.item.use_batch_no && !add.item.use_serial_no"  class="btn text-link" ng-click="add.openModal('setStock',add.item.article_id,'md')">
                                <span class="fas fa-pen">
                                </span>
                          </button>
                        </div>

                      </div> -->

            </div>


        </div>
    </form>

    <div ng-if="!add.item.hide_stock && add.item.stock_multiple_locations">
        <h2>{l}Dispatch Stock{endl}</h2>
        <table class="table orderTable">
            <thead>
                <tr>
                    <th class="col-sm-2">{l}Depot/Customer{endl}</th>
                    <th class="col-sm-3">{l}Address{endl}</th>
                    <th class="col-sm-1">{l}Zip{endl}</th>
                    <th class="col-sm-2">{l}City{endl}</th>
                    <th class="col-sm-2">{l}Country{endl}</th>
                    <th class="col-sm-2 text-center">{l}Stock{endl}</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in add.customer_stocks">
                    <td class="ng-cloak">{{item.customer_name}}</td>
                    <td class="text-muted ng-cloak">{{item.address}}</td>
                    <td class="text-muted ng-cloak">{{item.zip}}</td>
                    <td class="text-muted ng-cloak">{{item.city}}</td>
                    <td class="text-muted ng-cloak">{{item.country}}</td>
                    <td class="text-center ng-cloak text-strong text-success">{{item.current_quantity}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-right">
        <button class="btn btn-plain" ng-click="add.cancel()" type="submit">{l}Cancel{endl}
            </button>
        <button class="btn btn-default" ng-show="add.form_type == 'article'" ng-disabled="addAnArticle.$invalid" ng-click="add.save(addStock)" type="submit">{l}Save{endl}
            </button>
    </div>
</div>

<div role="tabpanel" class="tab-pane fade" id="financial">

    <form class="form-horizontal text-left" name="addStock" novalidate>
        <!-- <div class="text-right col-bottom col-top">
                 <button class="btn btn-plain" ng-click="add.cancel()" type="submit">{l}Cancel{endl}
                 </button>
                 <button class="btn btn-default" ng-show="add.form_type=='article'"  ng-click="add.save(addStock)" type="submit">{l}Save{endl}
                 </button>

           </div> -->
        <div class="row">
            <div class="form-group">
                <div class="col-sm-4">

                    <label for="inputLedger" class="col-sm-8 control-label"><h2>{l}Ledger Account{endl}</h2>
                        </label>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-8">
                    <selectize class="col-sm-8" config="add.ledgerCfg" options="add.item.ledger_account" ng-model="add.item.ledger_account_id" id="custandcont" table="pim_article_ledger_accounts" model="ledger_account"></selectize>
                </div>

            </div>

            <div class="col-sm-12">
                <div ng-if="add.item.edit_mode">
                    <label class=" control-label">

                            <h2 style="display:inline;">{l}Taxes{endl}</h2>
                            <small class="quick_edits">
                                <span class="text-link_space">•</span>
                                <a class="text-link text-muted" href="#"
                                   ng-click="add.openModal('setTaxes', add.item.article_id, 'lg')">{l}Manage Taxes{endl}</a>
                            </small>
                        </label>

                    <!--  <div class="row">
                           <div ng-repeat="item in add.item.taxes" class="ng-cloak col-sm-4 text-muted control-label">
                             {{::item.taxe_code}} ({{::item.tax_value}})
                             </div>

                         </div> -->


                    <table class="table" width="100%">
                        <thead>
                            <tr>
                                <th class="col-sm-1">{l}Type of tax{endl}</th>
                                <th class="col-sm-2">{l}Name{endl}</th>
                                <th class="col-sm-2">{l}Amount{endl}</th>
                                <th class="col-sm-2">{l}Vat on tax{endl}</th>
                                <th class="col-sm-2">{l}Application{endl}</th>
                                <th class="col-sm-1 table_actions"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="item in add.item.taxes">
                                <td><span ng-bind-html="item.tax_type"></span></td>
                                <td><span ng-bind-html="item.taxe_code"></span></td>
                                <td><span ng-bind-html="item.tax_value"></span></td>
                                <td><span ng-bind-html="item.tax_vat"></span></td>
                                <td><span ng-bind-html="item.apply_to"></span></td>
                                <td class="table_actions">
                                    <div class="btn-group" uib-dropdown>
                                        <button type="button" class="btn btn-plain dropdown-toggle" uib-dropdown-toggle>
                                            <span class="caret"></span>
                                        </button>
                                        <ul class="dropdown-menu dropdown-menu-right" uib-dropdown-menu>
                                            <li class="dropdown-header">{l}Action{endl}</li>
                                            <!-- <li><a href="#" ng-click="vmMod.openModal('CustomerAddress',item.address_id,'md')" ><span class="fas fa-pen text-primary"></span> {l}Edit{endl}</a></li> -->
                                            <li><a href="#" ng-click="add.removeArticleTax(item, add.item.article_id)" confirm="{l}Are you sure you want to remove this entry?{endl}"><i
                                                    class="fa fa-trash" aria-hidden="true"></i> {l}Remove{endl}</a></li>
                                        </ul>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                </div>
            </div>


        </div>
    </form>


    <div class="text-right">
        <button class="btn btn-plain" ng-click="add.cancel()" type="submit">{l}Cancel{endl}
            </button>
        <!-- <button class="btn btn-default" ng-show="add.form_type == 'article'" ng-disabled="addAnArticle.$invalid" ng-click="add.save(addStock)" type="submit">{l}Save{endl}
            </button> -->


             <button class="btn btn-default" ng-show="add.form_type=='article'" ng-class="{ 'add_disabled': add.show_disabled }"
                ng-disabled="addAnArticle.$invalid" ng-click="add.save(addStock)"
                type="submit">{l}{{add.save_button_text}}{endl}</button>

    </div>
</div>

<div role="tabpanel" class="tab-pane fade" id="composed">
    <div class="page-header">
        <div class="row">
            <div class="col-sm-10 checkbox checkbox-primary">
                <input type="checkbox" name="use_combined" id="use_combined" ng-click="add.check_use_combined(add)" ng-model="add.composed.use_combined" />{l}Use Combined{endl}
                <label for="use_combined"></label>
            </div>
            <!-- <div class="col-sm-2" ng-if="add.composed.use_combined">
                    <a class="btn btn-primary" ng-click="add.openModal('setParts', add.item.article_id, 'md')">{l}Compose Main Article{endl}</a>
                </div> -->
        </div>
    </div>
    <div class="table_orders-add" ng-if="add.composed.use_combined">
        <!-- <button class="btn btn-block btn-blank add_article" ng-click="add.addArticle()"><span
                    class="fa fa-plus icon-holder"></span>{l}Add Parts{endl}
            </button> -->
        <button class="btn btn-block btn-blank add_article" ng-click="add.addArticleCombined(add.item)"><span
                    class="fa fa-plus icon-holder"></span>{l}Add component{endl}
            </button>
        <!-- <div ng-show="add.showTxt.addArticleBtn">
                <selectize config='add.articlesListAutoCfg' options='add.composed.articles_list.lines'
                           ng-model="add.composed.selected_article_id" id="article_list_id"></selectize>
            </div> -->
    </div>
    <ul class="table active_rows orderTable" ng-if="add.item.edit_mode == 1 && add.composed.use_combined" data-as-sortable="add.dragControlListeners" data-ng-model="add.composed.articles">

        <li>
            <div class="row">
                <div class="row_handler"></div>
                <div class="col-sm-1 text-muted ng-cloak">{l}Quantity{endl}</div>
                <div class="col-sm-3 text-muted ng-cloak">{l}Code{endl}</div>
                <div class="col-sm-3 text-muted ng-cloak">{l}Internal Name{endl}</div>
                <div class="col-sm-2 text-muted text-center ng-cloak">{l}Stock{endl}</div>
                <div class="col-sm-1 text-center ng-cloak">{l}Show on PDF{endl}</div>
                <div class="col-sm-2 text-center ng-cloak">{l}Potential stock{endl}: {{add.composed.potential_stock}}</div>
            </div>
        </li>
        <li ng-repeat="item in add.composed.articles" data-as-sortable-item>
            <!-- <td class="ng-cloak">
                    <div class="input-group" ng-if="item.edit_q">
                        <input type="text" class="form-control input-group-addon_shrink" ng-model="item.quantity"
                               value="{{item.quantity}}">
                        <span class="input-group-addon input-group-addon_shrink input-group-plain">
                                <i class="glyphicon glyphicon-ok-sign text-success" aria-hidden="true"
                                   ng-click="add.saveComposed(item, $index)"></i>
                            </span>
                    </div>
                    <span ng-if="!item.edit_q">{{item.quantity}}</span> <a ng-if="!item.edit_q" href="#"
                                                                           ng-click="add.editComposed(item)"><span
                        class="fas fa-pen"></span></a>
                </td> -->
            <div class="row">
                <div class="row_handler">
                    <span class="btn-drag" data-as-sortable-item-handle>&nbsp;</span>
                </div>
                <div class=" col-sm-1 text-muted text-center">
                    <input type="text" ng-model="item.quantity" class="form-control input-group-addon_shrink input-qty-combined" ng-blur="add.saveComposed(item, $index)">
                </div>
                <div class="col-sm-3 text-muted ng-cloak">
                    {{item.code}}
                </div>
                <div class="col-sm-3 text-muted ng-cloak">
                    {{item.name}}
                </div>
                <div class="col-sm-2 text-muted text-center ng-cloak">
                    <span class="{{item.stock_status}}">{{item.stock}}</span>
                </div>
                <div class=" col-sm-1 text-center ng-cloak">
                    <a href="#" ng-click="add.setVisibility(item, $index)"><span ng-class="{ 'fa fa-eye text-default':item.visible, 'fas fa-eye-slash':!item.visible  }" uib-tooltip="{{item.text_visible}}" tooltip-placement="right"></span></a>

                </div>
                <div class="col-sm-2 text-muted text-center table_actions">
                    <div class="btn-group" uib-dropdown>
                        <button type="button" class="btn btn-plain dropdown-toggle" uib-dropdown-toggle>
                                <span class="caret"></span>
                            </button>
                        <ul class="dropdown-menu dropdown-menu-right" uib-dropdown-menu>
                            <li>
                                <a href="#" ng-click="add.deleteComposed(item)" confirm="{l}Are you sure, you wanna delete this entry?{endl}"><span
                                            class="fa fa-trash text-primary"></span> {l}Delete{endl}</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </li>

    </ul>
</div>

<div role="tabpanel" class="tab-pane fade" id="supplierref">
    <div class="row">
        <div class="col-sm-6">
            <!--<label class="left"><strong>{l}Base Price{endl}:</strong></label>-->
            <!--               <div class="left m-l-8">
                                  <strong><span ng-bind-html="add.supplierRef.base_price"></span></strong>
                               </div>-->
        </div>
    </div>
    <div class="page-header">
        <div class="row">
            <div class="col-sm-3">
                <selectize class="select_supplier" config='add.supAutoCfg' options='add.item.supplier_list' ng-model="add.supplierRef.supplier_id" id="supplier_list" ng-change="add.getSupplierRef(add.supplierRef.supplier_id, true)"></selectize>
            </div>
            <div class="col-sm-3">
                <input type="text" class="form-control" placeholder="{l}Supplier Reference{endl}" ng-model="add.supplierRef.supplier_reference">
            </div>
            <div class="col-sm-3">
                <input type="text" class="form-control" placeholder="{l}Purchasing price{endl}" ng-model="add.supplierRef.purchasing_price" display-nr="" id="inputPurchasingPrice">
            </div>
            <div class="col-sm-1"><a uib-tooltip="{l}Add Supplier Rerefence{endl}" tooltip-placement="left" ng-click="add.addSupplierRef(add)"><span
                        class="fa fa-plus icon-holder add_supplier_ref"></span></a></div>

        </div>
    </div>
    <div class="page-content">
        <div class="row">
            <div class="col-sm-12">

                <label class=" control-label">

                        <h2>{l}Suppliers References{endl}</h2>

                    </label>

                <table class="table" width="100%">
                    <thead>
                        <tr>
                            <th class="col-sm-1">{l}Supplier Name{endl}</th>
                            <th class="col-sm-1">{l}Supplier Reference{endl}</th>
                            <th class="col-sm-1">{l}Purchasing Price{endl}</th>

                            <th class="col-sm-1 table_actions"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="item in add.supplierRef.references">
                            <td><span ng-bind-html="item.name"></span></td>
                            <td><span ng-bind-html="item.supplier_ref"></span></td>
                            <td><span ng-bind-html="item.purchasing_price"></span></td>

                            <td class="table_actions">
                                <div class="btn-group" uib-dropdown>
                                    <button type="button" class="btn btn-plain dropdown-toggle" uib-dropdown-toggle>
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu dropdown-menu-right" uib-dropdown-menu>
                                        <li class="dropdown-header">{l}Action{endl}</li>
                                        <li><a href="#" ng-click="add.removeReference(item, item.supplier_id)" confirm="{l}Are you sure you want to remove this entry?{endl}"><i
                                                class="fa fa-trash" aria-hidden="true"></i> {l}Remove{endl}</a></li>
                                    </ul>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>

            </div>

        </div>

    </div>
    <ul ng-if="add.max_rows > 30" uib-pagination total-items="add.max_rows" ng-model="add.search.offset" ng-change="add.searchThing()" max-size="5" class="pager" boundary-links="true" items-per-page="add.lr"></ul>

</div>
<div role="tabpanel" class="tab-pane fade" id="serial">
    <div class="page-header">
        <div class="row">
            <div class="col-sm-10">
                <div class="checkbox checkbox-primary" ng-if="!add.serial.disable_use_serial_no">
                    <input type="checkbox" name="use_serial_no" id="use_serial" ng-click="add.check_use_serial_no(add)" ng-model="add.serial.use_serial_no" />{l}Use Serial Numbers{endl}
                    <label for="use_serial"></label>
                </div>
                <div class="checkbox checkbox-primary" ng-if="add.serial.disable_use_serial_no">
                    <input type="checkbox" disabled="disabled" name="use_serial_no" id="use_serial_no" ng-model="add.serial.use_serial_no" />{l}Use Serial Numbers{endl}
                    <label for="use_serial_no"></label>
                </div>
            </div>
            <div class="col-sm-2" ng-if="add.serial.use_serial_no">
                <a class="btn btn-primary" ng-click="add.openModal('setSerialNo', add.item.article_id, 'md')">{l}Add Serial Numbers{endl}</a>
            </div>

        </div>
        <div class="row">
            <div class="col-sm-5">
                <div class="so-field" ng-class="{ 'so-active':add.search_sn.search != '' }">
                    <span class="glyphicon glyphicon-search so-icon"></span>
                    <input id="no_css_search_field" type="text" class="form-control" placeholder="{l}Search{endl}" ng-model="add.search_sn.search">
                    <span class="glyphicon glyphicon-remove so-icon so-remove" ng-click="add.search_sn.search = ''"></span>
                </div>
                <!-- /.input-search -->
            </div>

        </div>
    </div>

    <table class="table active_rows orderTable" ng-if="add.item.edit_mode == 1 && add.serial.use_serial_no">
        <thead>
            <tr>

                <th class="col-sm-2 text-muted">{l}Serialnumber{endl}</th>
                <th class="col-sm-1 text-muted">{l}Date In{endl}</th>
                <th class="col-sm-1 text-muted">{l}In Details{endl}</th>
                <th class="col-sm-1 text-muted">{l}Supplier{endl}</th>
                <th class="col-sm-1 text-muted">{l}Date Out{endl}</th>
                <th class="col-sm-1 text-muted">{l}Out Details{endl}</th>
                <th class="col-sm-1 text-muted">{l}Customer{endl}</th>
                <th class="col-sm-2">{l}Stock location{endl}</th>
                <th class="col-sm-1">{l}Status{endl}</th>
                <th class="col-sm-1 text-muted"></th>

            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="item in add.serial.items|filter:add.search_sn.search">

                <td class="text-muted ng-cloak">
                    {{item.serial_number}}
                </td>
                <td class="text-muted ng-cloak">
                    {{item.date_in}}
                </td>
                <td class="text-muted ng-cloak">
                    <span ng-if="item.p_delivery_id != 0"><a
                            ui-sref="purchase_order.view({'p_order_id': item.p_order_id})">{{item.in_details}}</a></span>
                    <span ng-if="item.p_delivery_id == 0">{{item.in_details}}</span>

                </td>
                <td class="text-muted ng-cloak">
                    {{item.supplier_name}}
                </td>
                <td class="text-muted ng-cloak">
                    {{item.date_out}}
                </td>
                <td class="text-muted ng-cloak">
                    <a ui-sref="order.view({'order_id': item.order_id})">{{item.out_details}}</a>
                </td>
                <td class="text-muted ng-cloak">
                    {{item.customer_name}}
                </td>
                <td class="text-muted ng-cloak">
                    {{item.stock_location}}
                </td>
                <td class="text-muted ng-cloak">
                    <span class="badge item-status-green" ng-class="{ 'item-status-green':item.status_id == '1', 'item-status-yellow':item.status_id == '3','item-status-red':item.status_id == '2'}">{{item.status_name}}</span>

                </td>
                <td class="text-muted table_actions">
                    <div class="btn-group" uib-dropdown>
                        <button type="button" class="btn btn-plain dropdown-toggle" uib-dropdown-toggle>
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu dropdown-menu-right" uib-dropdown-menu>
                            <li>
                                <a href="#" ng-click="add.openModal('editSerialNo', item.id)"><span
                                        class="fas fa-pen text-primary"></span> {l}Edit{endl}</a>
                            </li>
                            <li ng-if="item.status_id == '1'">
                                <a href="#" ng-click="add.deleteSerial(item)" confirm="{l}Are you sure, you wanna delete this entry?{endl}"><span
                                        class="fa fa-trash text-primary"></span> {l}Delete{endl}</a>
                            </li>
                        </ul>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>


</div>

<div role="tabpanel" class="tab-pane fade" id="batch">
    <div class="page-header">
        <div class="row">
            <div class="col-sm-10">
                <div class="checkbox checkbox-primary" ng-if="!add.batch.disable_use_batch_no">
                    <input type="checkbox" name="use_batch_no" id="use_batch" ng-click="add.check_use_batch_no(add)" ng-model="add.batch.use_batch_no" />{l}Use Batches{endl}
                    <label for="use_batch"></label>
                </div>
                <div class="checkbox checkbox-primary" ng-if="add.batch.disable_use_batch_no">
                    <input type="checkbox" disabled="disabled" name="use_batch_no" id="use_batch_no" ng-model="add.batch.use_batch_no" />{l}Use Batches{endl}
                    <label for="use_batch_no"></label>
                </div>


            </div>
            <div class="col-sm-2" ng-if="add.batch.use_batch_no">
                <a class="btn btn-primary" ng-click="add.openModal('setBatchNo', add.item.article_id, 'md')">{l}Add Batches{endl}</a>
            </div>

        </div>
    </div>
    <div class="row" ng-if="add.batch.use_batch_no">
        <div class="col-sm-5">
            <div class="so-field" ng-class="{ 'so-active':add.search_batch.search != '' }">
                <span class="glyphicon glyphicon-search so-icon"></span>
                <input id="no_css_search_field" type="text" class="form-control" placeholder="{l}Search{endl}" ng-model="add.search_batch.search">
                <span class="glyphicon glyphicon-remove so-icon so-remove" ng-click="add.search_batch.search = ''"></span>
            </div>
        </div>
        <div class="col-sm-2">
            <selectize config="add.batchStatusCfg" options="add.batch_statuses" ng-model="add.search_batch.status_id"></selectize>
        </div>
    </div>
    <table class="table active_rows orderTable" ng-if="add.item.edit_mode == 1 && add.batch.use_batch_no">
        <thead>
            <tr>

                <th class="col-sm-2 text-muted">{l}Batch Number{endl}</th>
                <th class="col-sm-1 text-muted">{l}Quantity{endl}</th>
                <th class="col-sm-1 text-muted">{l}In Stock{endl}</th>
                <!--   <th class="col-sm-2 text-muted">{l}Date In{endl}</th>
                <th class="col-sm-2 text-muted">{l}In Details{endl}</th> -->
                <th class="col-sm-2">{l}Expiration date{endl}</th>
                <th class="col-sm-1">{l}Status{endl}</th>
                <th class="col-sm-1 text-muted text-center">{l}Actions{endl}</th>

            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="item in add.batch.items|generalSearch:add.search_batch.search:'batch_number'">

                <td class="text-muted ng-cloak">
                    {{item.batch_number}}
                </td>
                <td class="text-muted ng-cloak">
                    {{item.quantity}}
                </td>
                <td class="text-muted ng-cloak">
                    {{item.in_stock}}
                </td>
                <!-- <td class="text-muted ng-cloak">
                    {{item.date_in}}
                </td>
                <td class="text-muted ng-cloak">
                    <span ng-if="item.p_delivery_id != 0"><a
                            ui-sref="purchase_order.view({'p_order_id': item.p_order_id})">{{item.in_details}}</a></span>
                    <span ng-if="item.p_delivery_id == 0">{{item.in_details}}</span>

                </td> -->
                <td class="text-muted ng-cloak">
                    {{item.date_exp}}
                </td>

                <td class="text-muted ng-cloak">
                    <span class="badge item-status-green" ng-class="{ 'item-status-green':item.status_id == '1', 'item-status-yellow':item.status_id == '3','item-status-red':item.status_id == '2'}">{{item.status_name}}</span>

                </td>
                <td class="text-muted table_actions">
                    <div class="btn-group" uib-dropdown>
                        <button type="button" class="btn btn-plain dropdown-toggle" uib-dropdown-toggle>
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu dropdown-menu-right" uib-dropdown-menu>
                            <li>
                                <!-- <a href="#" ng-show="item.show_edit"
                                   ng-click="add.openModal('editBatchNo', item.id)"><span
                                        class="fas fa-pen text-primary"></span> {l}Edit{endl}</a> -->
                                <a href="#" ng-click="add.openModal('viewBatchTransIn', item.id)"><span
                                        class="fa fa-eye text-primary"></span> {l}View transactions IN{endl}</a>
                                <a href="#" ng-click="add.openModal('viewBatchTrans', item.id)"><span
                                        class="fa fa-eye text-primary"></span> {l}View transactions OUT{endl}</a>
                                <a href="#" ng-click="add.openModal('setBatchDispatchStock', item.id,'md')"><span
                                        class="fa fa-eye text-primary"></span> {l}Dispatch Stock{endl}</a>
                                <a href="#" ng-click="add.openModal('setBatchFile', item.id, 'md')"><span
                                        class="fa fa-dropbox text-primary"></span> {l}Files{endl}</a>
                            </li>
                        </ul>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>


</div>

<div role="tabpanel" class="tab-pane fade" id="articleVariants" ng-if="add.item.allow_variants">
    <div class="page-header">
        <div class="row">
            <div class="col-sm-12">
                <div class="checkbox checkbox-primary">
                    <input type="checkbox" name="has_variants" id="has_variants" ng-click="add.checkUseVariants()" ng-model="add.item.has_variants" ng-disabled="add.articleVariants.list.length || add.item.variantsDisabled" />{l}This article has variants{endl}
                    <label for="has_variants"></label>
                </div>
            </div>
            <div class="col-sm-12" ng-if="add.item.variantsDisabled">
                <div uib-alert type="info" class="alert-info"><span class="text-muted">{{add.item.variantsDisabledMessage}} </span><a href="#" target="_blank" class="text-link" go-to="" state="article.add" params='{"article_id": {{::add.item.variantsDisabledMessageID}}}'>{{add.item.variantsDisabledMessageCode}}</a></div>
            </div>
        </div>
    </div>
    <div class="row page-content" ng-if="add.item.has_variants">
        <div class="col-sm-12 text-center">
            <a href="#" class="btn text-link dropdown-toggle" uib-dropdown-toggle ng-click="add.showVariants()"><span class="fa fa-plus icon-holder"></span>{l}Add variants of article{endl}</a>
        </div>
        <div class="col-sm-12">
            <table class="table active_rows orderTable" ng-if="add.articleVariants.list.length">
                <thead>
                    <tr>
                        <th class="col-sm-2 text-muted">{l}Code{endl}</th>
                        <th class="text-muted" ng-class="{ 'col-sm-3':add.articleVariants.show_stock , 'col-sm-5':!add.articleVariants.show_stock }">{l}Internal Name{endl}</th>
                        <th class="col-sm-2 text-muted" ng-if="add.articleVariants.show_stock">{l}Stock{endl}</th>
                        <th class="col-sm-2 text-muted">{l}Base Price{endl}</th>
                        <th class="col-sm-2 text-muted">{l}Type{endl}</th>
                        <th class="col-sm-1 text-muted"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="item in add.articleVariants.list">
                        <td class="col-sm-2 text-muted ng-cloak">
                            <span>{{item.code}}</span>
                        </td>
                        <td class="text-muted ng-cloak" ng-class="{ 'col-sm-3':add.articleVariants.show_stock , 'col-sm-5':!add.articleVariants.show_stock }">
                            <span>{{item.name}}</span>
                        </td>
                        <td class="col-sm-2 text-muted ng-cloak" ng-if="add.articleVariants.show_stock">
                            <span class="{{item.stock_status}}"><b>{{item.stock}}</b></span>
                        </td>
                        <td class="col-sm-2 text-muted ng-cloak">
                            <span>{{item.base_price}}</span>
                        </td>
                        <td class="col-sm-2 text-muted ng-cloak">
                            <selectize config="add.variantTypeCfg" options="add.item.variant_types_dd" ng-model="item.type_id" table="pim_article_variant_types" model="type_id" opts="variant_types_dd" nindex="{{$index}}" masterscope="articleVariants" haslist="list"></selectize>
                        </td>
                        <td class="col-sm-1 text-muted table_actions">
                            <div class="btn-group" uib-dropdown>
                                <button type="button" class="btn btn-plain dropdown-toggle" uib-dropdown-toggle>
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu dropdown-menu-right" uib-dropdown-menu>
                                    <li class="dropdown-header">{l}Action{endl}</li>
                                    <li><a href="#" ng-click="add.removeArticleVariant(item,$index)" confirm="{l}Are you sure you want to remove this entry?{endl}"><i
                                            class="fa fa-trash" aria-hidden="true"></i> {l}Remove{endl}</a></li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<div role="tabpanel" class="tab-pane fade" id="custom">
    <div class="page-header">
        <div class="row">
            <div class="col-sm-12">
                <h1>{l}Custom price{endl}
                    <button type="button" class="btn btn-primary btn-add" ng-click="add.addCustomPrice()" uib-tooltip="{l}Add Custom Price{endl}" tooltip-placement="right"><span class="btn-add_icon"><span class="icon-bar"></span><span class="icon-bar-2"></span></span></button>
                </h1>
            </div>
        </div>
    </div>
    <!-- /.page-header -->
    <!--<div class="page-header" ng-if="add.show_custom">-->
    <!--<div class="row add_custom_price">-->
    <!--&lt;!&ndash;<div class="col-sm-4">&ndash;&gt;-->
    <!--&lt;!&ndash;<selectize class="select_account" config='add.ncustomerAutoCfg' options='add.custom.cc'&ndash;&gt;-->
    <!--&lt;!&ndash;ng-model="add.custom.customer_id" id="inputAccount">&ndash;&gt;-->
    <!--&lt;!&ndash;</selectize>&ndash;&gt;-->
    <!--&lt;!&ndash;</div>&ndash;&gt;-->
    <!--&lt;!&ndash;<div class="col-sm-2">&ndash;&gt;-->
    <!--&lt;!&ndash;<input type="text" class="form-control" placeholder="{l}Custom price{endl}"&ndash;&gt;-->
    <!--&lt;!&ndash;ng-model="add.custom.custom_price" display-nr="">&ndash;&gt;-->
    <!--&lt;!&ndash;</div>&ndash;&gt;-->
    <!--&lt;!&ndash;<div class="col-sm-3 add_c_price"><a uib-tooltip="{l}Add Custom Price{endl}" tooltip-placement="right"&ndash;&gt;-->
    <!--&lt;!&ndash;ng-click="add.addCustomPrice(add)"><span&ndash;&gt;-->
    <!--&lt;!&ndash;class="fa fa-plus icon-holder add_custom_price"></span></a></div>&ndash;&gt;-->
    <!--</div>-->
    <!--</div>-->
    <div class="row page-search page-search-options">
        <form>
            <div class="col-sm-4">
                <div class="so-field" ng-class="{ 'so-active':add.search.search != '' }">
                    <span class="glyphicon glyphicon-search so-icon"></span>
                    <input id="no_css_search_field" type="text" class="form-control" search-it doit="add.search" callbk="add.renderList" ng-change="add.checkSearch()" placeholder="{l}Search{endl}" ng-model="add.search.search">
                    <span class="glyphicon glyphicon-remove so-icon so-remove" ng-click="add.toggleSearchButtons('search', '')"></span>
                </div>
                <!-- /.input-search -->
            </div>
            <!-- <div class="col-sm-4">
                    <selectize class="select_account" config='add.ncustomerAutoCfg' options='add.custom.cc'
                               ng-model="add.custom.customer_id" id="inputAccount">
                    </selectize>
                </div>
                <div class="col-sm-2">
                    <input type="text" class="form-control" placeholder="{l}Custom price{endl}"
                           ng-model="add.custom.custom_price" display-nr="">
                </div>
                <div class="col-sm-2 add_c_price"><a uib-tooltip="{l}Add Custom Price{endl}" tooltip-placement="right"
                                                     ng-click="add.addCustomPrice(add)"><span
                        class="fa fa-plus icon-holder add_custom_price"></span></a></div> -->



        </form>
    </div>
    <!-- /.page-search -->
    <!-- <div class="row page-content col-bottom col-top" ng-if="add.search.showList"> -->
    <div class="row page-content col-bottom col-top">
        <div class="col-sm-12">
            <table class="table active_rows orderTable" width="100%">
                <thead>
                    <tr>
                        <th class="col-sm-1"></th>
                        <th class="col-sm-3 sortable_row expand_row" ng-class="{ 'sortable_row-up':(!add.reverse && add.ord == 'name'), 'sortable_row-down':(add.reverse && add.ord == 'name') }" ng-click="add.orderBY('name')">{l}Name{endl}
                        </th>
                        <th class="col-sm-2 sortable_row" ng-class="{ 'sortable_row-up':(!add.reverse && add.ord == 'acc_manager_name'), 'sortable_row-down':(add.reverse && add.ord == 'acc_manager_name') }" ng-click="add.orderBY('acc_manager_name')">{l}Account Manager{endl}
                        </th>
                        <th class="col-sm-2 sortable_row" ng-class="{ 'sortable_row-up':(!add.reverse && add.ord == 'c_type_name'), 'sortable_row-down':(add.reverse && add.ord == 'c_type_name') }" ng-click="add.orderBY('c_type_name')">{l}Type of relationship{endl}
                        </th>
                        <th class="col-sm-2 col-md-1 sortable_row" ng-class="{ 'sortable_row-up':(!ls.reverse && ls.ord == 'price'), 'sortable_row-down':(ls.reverse && ls.ord == 'price') }" ng-click="ls.orderBY('price')">{l}Base Price{endl}
                        </th>
                        <th class="col-sm-2 col-md-1 sortable_row" ng-class="{ 'sortable_row-up':(!ls.reverse && ls.ord == 'price'), 'sortable_row-down':(ls.reverse && ls.ord == 'price') }" ng-click="ls.orderBY('price')">{l}Custom Price{endl}
                        </th>
                        <th class="col-sm-1 table_actions"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="item in add.custom.items">

                        <td go-to="" state="customerView" params='{"customer_id": {{::item.customer_id}}}' list='{ "type":"customers-customersDashboard", "obj": { "search":{{add.search}} } }'><i class="fa fa-{{item.type2}}" aria-hidden="true" uib-tooltip="{{item.type2_name}}" tooltip-placement="right"></i> <span class="{{item.type}}" aria-hidden="true" uib-tooltip="{{item.type_name}}" tooltip-placement="right"></span></td>
                        <td ng-bind-html="item.name" go-to="" state="customerView" params='{"customer_id": {{::item.customer_id}}}' list='{ "type":"customers-customersDashboard", "obj": { "search":{{add.search}} } }'></td>
                        <td class="text-muted" go-to="" state="customerView" params='{"customer_id": {{::item.customer_id}}}' list='{ "type":"customers-customersDashboard", "obj": { "search":{{add.search}} } }'><span ng-bind-html="item.acc_manager_name"></span></td>
                        <td class="text-muted" go-to="" state="customerView" params='{"customer_id": {{::item.customer_id}}}' list='{ "type":"customers-customersDashboard", "obj": { "search":{{add.search}} } }'><span ng-bind-html="item.type_rel"></span></td>
                        <td class="text-muted" go-to="" state="customerView" params='{"customer_id": {{::item.customer_id}}}' list='{ "type":"customers-customersDashboard", "obj": { "search":{{add.search}} } }'><span ng-bind-html="item.base_price"></span></td>
                        <td class="text-muted col-adjust-input text-nowrap">
                            <div class="input-group">
                                <input type="text" ng-model="item.custom_price" class="form-control" ng-blur="add.updateCustomPrice(item)" display-nr>
                                <span class="input-group-addon input-group-addon_shrink input-group-plain">
                                        <i class="fa fa-spinner fa-spin fa-fw" ng-if="item.loadRequest"></i>
                                        <i class="fa fa-check" aria-hidden="true" ng-if="item.loadSuccess"></i>
                                        <i class="fa fa-exclamation" aria-hidden="true" ng-if="item.loadError"></i>
                                    </span>
                            </div>
                        </td>
                        <td class="table_actions">
                            <div class="btn-group" uib-dropdown>
                                <button type="button" class="btn btn-plain dropdown-toggle" uib-dropdown-toggle>
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu dropdown-menu-right" uib-dropdown-menu>
                                    <li class="dropdown-header">{l}Action{endl}</li>
                                    <li>
                                        <a href="#" ng-click="add.action(item, 'delete_link')" confirm-title="{{item.confirm}}" confirm-ok="{{item.ok}}" confirm-cancel="{{item.cancel}}" confirm="{l}Are you sure, you wanna delete this entry?{endl}"><span
                                                class="fa fa-trash text-primary"></span> {l}Remove{endl}</a>
                                    </li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <!-- /.page-content -->


</div>


</div>
</div>