<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-label="{l}Close{endl}" ng-click="vmMod.cancel()"><span aria-hidden="true">&times;</span></button>
  <h4 class="modal-title">{l}Custom price{endl}</h4>
</div>
<div class="modal-body">
	<div class="row page-search">
	    <form>
	      <div class="col-xs-12 page-search_options">        
	          <div class="row">
	            <div class="col-xs-12 col-search-input">
	                <div class="so-field" ng-class="{ 'so-active':vmMod.search.search!='' }">
	               <span class="glyphicon glyphicon-search so-icon"></span>
	               <input class="form-control" type="text" placeholder="{l}Search{endl}" search-it doit="vmMod.search" callbk="vmMod.renderList" ng-model="vmMod.search.search" >
	               </div>
	            </div>
	          </div>   
	      </div>
	    </form>
	</div>
	<form class="form-horizontal">
	    <div class="row">
	      <div class="col-xs-12">
	        <table class="table deliveryTable">
	          <thead>
	            <tr>
	              <th >{l}Name{endl}</th>
	              <th class="text-center">{l}Base price (no VAT){endl}</th>          
	              <th class="articles_controls">{l}Custom Price{endl}</th>
	            </tr>
	          </thead>
	          <tbody>
	            <tr ng-repeat="item in vmMod.obj.lines" class="collapseTr">
	              <td>{{::item.customer_name}}</td>
	              <td class="text-center" ng-bind-html="vmMod.obj.base_price"></td>
	              <td class="articles_controls">
	                <div class="row">
	                  <div class="col-xs-7">
	                    <input type="text" ng-model="item.custom_price" class="form-control">
	                  </div>
	                  <div class="col-xs-2">
	                    <span class="glyphicon glyphicon-plus btn-expand" ng-click="vmMod.ok(item)"></span>
	                  </div>
	                  <div class="col-xs-2">
	                    <i ng-if="item.succes_add" class="fa fa-check-square fa-2x text-success" aria-hidden="true"></i>
	                  </div>
	                </div>
	              </td>
	            </tr>
	          </tbody>
	        </table>
	      </div>
	    </div><!-- /.tabelu -->
	  </form>
	  <ul ng-if="vmMod.obj.max_rows > vmMod.obj.lr" uib-pagination total-items="vmMod.obj.max_rows" ng-model="vmMod.search.offset" ng-change="vmMod.searchThing()" max-size="5" class="pager" boundary-links="true" items-per-page="vmMod.obj.lr" ></ul>
</div>
<div class="modal-footer">
    <button class="btn btn-plain" type="button" ng-click="vmMod.cancel()">{l}Close{endl}</button>
</div>