<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="add.cancel()"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title"> {{ add.obj.page_title }}</h4>
</div>
<div class="modal-body modal-body_alt">
    <!-- <div uib-alert ng-repeat="alert in add.alerts" type="{{alert.type}}" close="add.alerts.splice($index, 1);" dismiss-on-timeout="3500" ng-class="['alert-' + (alert.type || 'warning') ]">{{alert.msg}}</div> -->
    <div class="loading_wrap loading_alt hidden">
        <div class="loading"></div>
        <div class="spinner"></div>
    </div>
    <div class="col-sm-12">
        <form class="form-horizontal" name="form_name" novalidate>
            <div class="form-group" ng-class="{ 'form-group_alert' : form_name.name.$invalid && !form_name.name.$pristine }">
                <label class="control-label col-sm-4 text-left">{l}Name{endl}</label>
                <div class="col-sm-7">
                    <input type="text" class="form-control" name="name" ng-model="add.obj.name" placeholder="{l}Name{endl}" />
                    <div class="alert alert-sm alert-danger" ng-if="form_name.name.$invalid && add.alertsField.name">{{add.alertsField.name}}</div>
                </div>
            </div>
            <div class="form-group" ng-if="add.obj.id">
                <label class="control-label col-sm-4 text-left">{l}Ledger Account{endl}</label>
                <div class="col-sm-7">
                    <selectize config="add.ledgerCfg" options="add.obj.ledger_account" ng-model="add.obj.ledger_account_id"></selectize>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="modal-footer">
    <div class="pull-left col-md-12 text-left">
        <span class="checkbox checkbox-primary d-inline" ng-if="add.obj.id">
        <input type="checkbox" ng-model="add.obj.apply_ledger" class="link-pointer">
        <label for="checkbox_all"></label>
    </span>
        <span ng-if="add.obj.id" class="link-pointer m-l-20 mr-30" ng-click="add.obj.apply_ledger=!add.obj.apply_ledger">{l}Apply ledger account to articles in this category{endl}</span>
    </div>
    <button class="btn btn-plain" type="button" ng-click="add.cancel()">{l}Cancel{endl}</button>
    <button class="btn btn-default" type="button" ng-click="add.ok(form_name)">{l}Save{endl}</button>
</div>