<div class="container">
	<div class="page-header">
    	<div class="row">
       		<div class="col-xs-8 col-sm-6">
              	<h1>{l}Categories{endl}
                	<button type="button" class="btn btn-primary btn-add" uib-tooltip="{l}Add Category{endl}" tooltip-placement="top" ng-click="addCategory()"><span class="btn-add_icon"><span class="icon-bar"></span><span class="icon-bar-2"></span></span></button> 
            	</h1>
          	</div>
            <div class="col-xs-4 col-sm-6 text-right" ng-if="show_settings.is_admin_article">
                  <div class="dropdown new-settings">
                      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-ellipsis-v"></i></button>
                      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                          <li class="dropdown-item" ng-class="{ 'current':menu.submenu == 'import' }"><a class="dropdown-item" href="import_articles/" go-to="" state="import_articles"><i class="fas fa-download"></i> {l}Import{endl}</a></li>
                          <li class="dropdown-item" ng-class="{ 'current':menu.submenu == 'articles setting' }"><a go-to="" href="articlesSettings/" state="articlesSettings"><span class="fas fa-cog text-primary"></span> {l}Catalog Settings{endl}</a></li>
                      </div>
                  </div>
              </div>
      	</div>
  	</div><!-- /.page-header -->
  	<div uib-alert ng-repeat="alert in alerts" type="{{alert.type}}" close="alerts.splice($index, 1);" ng-class="['alert-' + (alert.type || 'warning') ]" dismiss-on-timeout='5000' >{{alert.msg}}</div>
  	<div class="row page-content">
    	<div class="col-sm-12">
    		<table class="table">
                <thead>
                    <tr>
                      <th class="col-sm-5">{l}Categories{endl}</th>
                      <th class="col-sm-1">{l}Image{endl}</th>
                      <th class="col-sm-4">{l}Ledger Accounts{endl}</th>              
                      <th class="col-sm-1 text-center">
                        <div class="checkbox checkbox-primary">
                          <input type="checkbox" id="checkbox_family" ng-click="saveAddToArticle()" ng-model="listObj.check_add_all">
                          <label for="checkbox_family"></label>
                        </div>
                      </th>
                      <th class="col-sm-1 table_actions">
                        <div class="btn-group" uib-dropdown>
                          <button type="button" class="btn btn-tertiary dropdown-toggle" uib-dropdown-toggle>
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu dropdown-menu-right" uib-dropdown-menu >
                                <li><a ng-click="applyledger()"><span class="fa fa-level-up text-primary"></span> {l}Apply ledger accounts to articles{endl}</a>
                                </li>
                            </ul>
                        </div>
                      </th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="item in ledge.ledgelist">
                      <td class="col-adjust-input">
                        <input type="text" class="form-control" ng-model="item.name">
                      </td>
                      <td class="col-adjust-input text-center">
						            <div class="text-default" ng-if="!item.has_image">
                            <input type="file" name="file" class="hide newUploadFile2" accept=".gif,.jpg,.jpeg" >
                            <a class="btn btn-plain" href="#" ng-click="upload($event,item.fam_id)">{l}Upload Photo{endl}</a>
                        </div>
                        <span ng-if="item.has_image">
                          <a href="#" title="{l}View{endl}" ng-click="viewImage(item)"><span class="glyphicon glyphicon-info-sign"></span></a>
                          <a href="#" title="{l}Remove{endl}" confirm="{l}Are you sure, you wanna delete this entry?{endl}" ng-click="removeImage(item)"><span class="fas fa-trash-alt"></span></a>
                        </span>
					            </td>
                      <td class="col-adjust-input">
                          <div class="input-group">
                            <!-- <input type="text" class="form-control " ng-blur="add_fam(item)" ng-model="item.val"> -->
                            <selectize config="ledgerCfg" options="item.ledger_account" ng-change="add_fam(item)" ng-model="item.ledger_account_id" id="custandcont" table="pim_article_ledger_accounts" model="ledger_account" ></selectize>
                            <span class="input-group-addon input-group-addon_shrink input-group-plain">
                                <i class="fa fa-spinner fa-spin fa-fw" ng-if="item.loadRequest"></i>
                                <i class="fa fa-check" aria-hidden="true" ng-if="item.loadSuccess"></i>
                                <i class="fa fa-exclamation" aria-hidden="true" ng-if="item.loadError"></i>
                            </span>                            
                          </div>
                      </td>
                      <td class="text-center">
                        <div class="checkbox checkbox-primary">
                          <input type="checkbox" id="checkbox_family_{{$index}}" ng-click="saveAddToArticleone(item)" ng-model="item.check_add_to_article">
                          <label for="checkbox_family_{{$index}}"></label>
                        </div>
                      </td>
                      <td class="table_actions">
                        <div class="btn-group" uib-dropdown>
                          <button type="button" class="btn btn-plain dropdown-toggle" uib-dropdown-toggle>
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu dropdown-menu-right" uib-dropdown-menu >
                                <li><a ng-click="deleteCategory(item)" confirm="{l}Are you sure, you wanna delete this entry?{endl}"><span class="glyphicon glyphicon-info-sign text-primary"></span> {l}Delete{endl}</a>
                                </li>
                            </ul>
                        </div>
                      </td>
                    </tr>
                </tbody>
            </table>
    	</div>
   	</div>
   	<ul ng-if="ledge.max_rows > 30" uib-pagination total-items="ledge.max_rows" ng-model="search.offset" ng-change="searchThing()" max-size="5" class="pager" boundary-links="true" items-per-page="ledge.lr" ></ul>
</div>