<div class="modal-header">
    <h3 class="modal-title ng-cloak">{{vm.obj.title}}</h3>
</div>
<div class="tab-content">
	<div class="tab-pane active" id="labels">
		<div class="modal-body" >
			<!-- <div uib-alert ng-repeat="alert in vm.alerts" type="{{alert.type}}" close="vm.alerts.splice($index, 1);" ng-class="['alert-' + (alert.type || 'warning') ]" dismiss-on-timeout='5000' >{{alert.msg}}</div> -->
			<form class="form-horizontal">
				<div class="row">
					<div class="col-xs-12">
						<div class="form-group">
	          				<div class="col-xs-12 ">
	          					<label class="col-xs-3 text-left control-label">{l}Code{endl}:</label>
	          					<div class="col-xs-7">
									<input type="input" class="form-control col-xs-12" ng-model="vm.obj.code" >
								</div>
	          				</div>
	          			</div>
	          			<div class="form-group">	
	          				<div class="col-xs-12">
	          					<label class="col-xs-3 text-left control-label">{l}Type of Tax{endl}:</label>
	          					<div class="col-xs-7">
	            				<select class="form-control form-language" ng-model="vm.obj.type" >
                   					<option ng-repeat="option in vm.obj.article_tax_type track by option.id" value="{{option.id}}">{{option.value}}</option>
                   				</select>
                   				</div>
                   				<div class="col-xs-2">
                   					<a href="#" ng-click="vm.modal_type(vm.obj,'atemplate/articletype','TypeSetCtrl')"><span class="fas fa-pen"></span></a>
                   				</div>
	          				</div>
	          			</div>
	          			<div class="form-group">
	          				<div class="col-xs-12">
	          					<label class="col-xs-3 text-left control-label">{l}Amount{endl}:</label>
	          					<div class="col-xs-7">
									<input type="input" class="form-control col-xs-12" ng-model="vm.obj.amount" display-nr="">
								</div>
	          				</div>
						</div>
						<div class="form-group">
	          				<div class="col-xs-12">
	          					<label class="col-xs-3 text-left control-label">{l}Description{endl}:</label>
	          					<div class="col-xs-7">
									<textarea  class="form-control" id="altids" rows="5" ng-model="vm.obj.description" ></textarea>
								</div>
	          				</div>
						</div>
					</div>
				</div>
			</form>
		</div>
	</div>
	
</div>
<div class="modal-footer">
    <button class="btn btn-plain" type="button" ng-click="vm.cancel()">{l}Close{endl}</button>
    <button class="btn btn-default" ng-if="vm.obj.show==true" type="button" ng-click="vm.add_tax(vm.obj.code,vm.obj.type,vm.obj.amount,vm.obj.description)">{l}Save{endl}</button>
    <button class="btn btn-default" ng-if="vm.obj.him==true" type="button" ng-click="vm.update_tax(vm.obj.id,vm.obj.code,vm.obj.type,vm.obj.amount,vm.obj.description)">{l}Save{endl}</button>
</div>