<div class="modal-header">
    <h3 class="modal-title">{l}Manage list{endl}</h3>
</div>
<div class="tab-content">
	<div class="tab-pane active" id="labels">
		<div class="modal-body" >
			<!-- <div uib-alert ng-repeat="alert in vm.alerts" type="{{alert.type}}" close="vm.alerts.splice($index, 1);" ng-class="['alert-' + (alert.type || 'warning') ]" dismiss-on-timeout='5000' >{{alert.msg}}</div> -->
			<form class="form-horizontal">
				<div class="row">
					<div class="col-xs-12">
						<div class="form-group">
			                  <div class="col-xs-12">
			                    <ul class="table table_orders" id="board" data-as-sortable="dragControlListeners" data-ng-model="vm.manage">
			                        <li ng-repeat="line in vm.manage" data-as-sortable-item >
			                          <div class="row">
			                            <div class="row_handler">
			                                <span class="btn-drag" data-as-sortable-item-handle>&nbsp;</span>
			                            </div>
			                            <div class="col-xs-11">
			                                {{line.name}}
			                            </div>
			                            <div class="col-xs-1">
			                              <a href="#" ng-click="vm.delete_manage_tax(vm,line,line.id)"><span class="glyphicon glyphicon-ban-circle" ></span></a>
			                            </div>
			                          </div>
			                        </li>
			                    </ul>
			                  </div>
	          			</div>
					</div>
					 <button class="btn btn-default" type="button" ng-click="vm.add_tax(vm.obj.code,vm.obj.type,vm.obj.amount,vm.obj.description)">{l}Add row{endl}</button>
				</div>
			</form>
		</div>
	</div>
	
</div>
<div class="modal-footer">
    <button class="btn btn-plain" type="button" ng-click="vm.cancel()">{l}Close{endl}</button>
    <button class="btn btn-default" ng-if="vm.obj.show==true" type="button" ng-click="vm.add_tax(vm.obj.code,vm.obj.type,vm.obj.amount,vm.obj.description)">{l}Save{endl}</button>
</div>