<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="vm.cancel()"><span aria-hidden="true">&times;</span></button>
    <h3 class="modal-title">{{vm.obj.title}}</h3>
</div>
<div class="tab-content">
    <div class="tab-pane active" id="labels">
        <div class="modal-body">
            <!-- <div uib-alert ng-repeat="alert in vm.alerts" type="{{alert.type}}" close="vm.alerts.splice($index, 1);" ng-class="['alert-' + (alert.type || 'warning') ]" dismiss-on-timeout='5000' >{{alert.msg}}</div> -->
            <form class="form-horizontal">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="form-group">
                            <div class="col-xs-4 ">
                                <label class="col-xs-2 text-left control-label">{l}From{endl}:</label>
                                <div class="col-xs-10">
                                    <input type="input" class="col-xs-12 form-control" ng-model="vm.obj.from_q" display-nr="">
                                </div>

                            </div>
                            <div class="col-xs-4 ">
                                <label class="col-xs-2 text-left control-label">{l}to{endl}:</label>
                                <div class="col-xs-10">
                                    <input type="input" class="col-xs-12 form-control" ng-model="vm.obj.to_q" display-nr="">
                                </div>
                            </div>
                            <div class="col-xs-4 ">
                                <label class="col-xs-2 text-left control-label">{l}Percent{endl}:</label>
                                <div class="col-xs-10">
                                    <input type="input" class="col-xs-12 form-control" ng-model="vm.obj.percent" display-nr="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>

</div>
<div class="modal-footer">
    <button class="btn btn-plain" type="button" ng-click="vm.cancel()">{l}Close{endl}</button>
    <button class="btn btn-default" ng-if="vm.obj.show==true" type="button" ng-click="vm.add_volume(vm.obj.from_q,vm.obj.to_q,vm.obj.percent)">{l}Save{endl}</button>
    <button class="btn btn-default" ng-if="vm.obj.him==true" type="button" ng-click="vm.update_volume(vm.obj.id,vm.obj.from_q,vm.obj.to_q,vm.obj.percent)">{l}Save{endl}</button>
</div>