<div class="container">
    <!-- neede on all pages -->
    <div class="row page-content">
        <div class="col-xs-12 tabs-settings">
            <div class="row">
                <div class="col-xs-12 col-sm-3">
                    <div class="page-header">
                        <h1>{l}Article Module{endl}</h1>
                    </div>
                    <!-- /.page-header -->
                    <ul class="nav nav-tabs tabs-settings-nav">
                        <!--
              <li><a href="#article_data" aria-controls="article_data" data-toggle="tab" ng-click="vm.load('article_data','data_article')">{l}Restore Article Data{endl}</a></li> 
              -->
                        <li class="active" ng-if="show_settings.not_easy_invoice_diy"><a href="#setarticle" aria-controls="setarticle" data-toggle="tab" ng-click="vm.load('setarticle','setarticles')">{l}Article Settings{endl}</a></li>
                        <li ng-if="vm.setarticles.ADV_PRODUCT && show_settings.not_easy_invoice_diy"><a href="#pricecateg" aria-controls="pricecateg" data-toggle="tab" ng-click="vm.load('pricecateg','pricescateg','price_search')">{l}Article Price Categories{endl}</a></li>
                        <li><a href="#article_families" aria-controls="article_families" data-toggle="tab" ng-click="vm.load('ledger','ledge')">{l}Categories{endl}</a></li>
                        <li><a href="#ledger_new" aria-controls="ledger_new" data-toggle="tab" ng-click="vm.load('ledger_new','ledge_new')">{l}Ledger Accounts{endl}</a></li>
                        <!--                  
               <li><a href="#pdf_custom_layouts" aria-controls="pdf_custom_layouts" data-toggle="tab" ng-click="load('CustomizePDF','','')">{l}Customizable PDF layout{endl}</a></li>
               <li><a href="#pricecateg" aria-controls="pricecateg" data-toggle="tab" ng-click="vm.load('pricecateg','pricescateg','price_search')">{l}Article Price Categories{endl}</a></li>
              <li><a href="#tax" aria-controls="tax" data-toggle="tab" ng-click="vm.load('tax','tax_search')">{l}Article Taxes{endl}</a></li> -->
                        <li ng-if="show_settings.not_easy_invoice_diy"><a href="#serial" aria-controls="serial" data-toggle="tab" ng-click="vm.load('serial','numbers')">{l}Serial Numbers{endl}</a></li>
                        <li ng-if="show_settings.not_easy_invoice_diy"><a href="#barcodes" aria-controls="barcodes" data-toggle="tab" ng-click="vm.load('barcodes','barcodes')">{l}Barcodes{endl}</a></li>
                        <li ng-if="show_settings.not_easy_invoice_diy"><a href="#batches" aria-controls="batches" data-toggle="tab" ng-click="vm.load('batches','batch')">{l}Batches{endl}</a></li>

                        <!-- <li><a href="#ledger" aria-controls="ledger" data-toggle="tab" ng-click="vm.load('ledger','ledge')">{l}Ledger Accounts per Family{endl}</a></li> -->
                        <li><a href="#restore" aria-controls="restore" data-toggle="tab" ng-click="vm.load('restore','restore')">{l}Restore Data{endl}</a></li>
                    </ul>
                    <!-- /.tabs-settings-nav -->
                </div>
                <div class="col-xs-12 col-sm-9 tab-content tabs-settings-content">
                    <!-- <div uib-alert ng-repeat="alert in vm.alerts" type="{{alert.type}}" close="vm.alerts.splice($index, 1);" dismiss-on-timeout="5000" ng-class="['alert-' + (alert.type || 'warning'), 'alert-fixed'  ]">{{alert.msg}}</div> -->
                    <!--
            <div class="tab-pane fade" id="article_data">
              <div class="section-title">
                <h2>{l}Restore Article Data{endl}</h2>
              </div>
              <div class="section-content">
                  <div ng-if="vm.data_article==true">
                    <p>{l}Backup data available{endl}</p>
                    <p><button class="btn btn-default" type="button" ng-click="vm.backup(vm,vm.data_article)" confirm="{l}ARE YOU SURE YOU WANT TO RESTORE THE DATA FROM BACKUP? IT WILL OVERWRITE YOUR CURRENT ARTICLES!{endl}">{l}Restore Article Data{endl}</button></p>                    
                  </div>
                  <div ng-if="vm.data_article==false">
                      <p class="text-muted">{l}Backup data unavailable{endl}</p>
                  </div>
              </div>
            </div>
            -->
                    <div class="tab-pane fade" id="setarticle" ng-class="{ 'in active':show_settings.not_easy_invoice_diy }">
                        <div class="section-title">
                            <h2>{l}Article Settings{endl}</h2>
                        </div>
                        <!-- /.section-title -->
                        <div class="section-content">
                            <p class="text-muted col-bottom">{l}Article Settings info.{endl}</p>
                            <div class="form-horizontal text-left">
                                <!-- <div class="form-group">
                    <label class="col-xs-4 control-label">{l}Show Article Packing{endl}</label>
                    <div class="col-xs-8 checkbox">
                      <label>
                        <input type="checkbox" ng-model="vm.setarticles.ALLOW_ARTICLE_PACKING" ng-click="vm.article_settings()">
                      </label>
                    </div>
                  </div> -->

                                <div class="form-group">
                                    <label class="col-xs-6 col-sm-4 control-label">{l}Show Article Packing{endl}</label>
                                    <div class="form-group col-xs-6 col-sm-8">
                                        <!-- <toggle-switch  ng-model="vm.setarticles.ALLOW_ARTICLE_PACKING" ng-change="vm.article_settings()" class="switch-primary" off-label="{l}No{endl}" on-label="{l}Yes{endl}"></toggle-switch> -->
                                        <label class="switch pull-left small_margin">
                              <input type="checkbox" id=""ng-model="vm.setarticles.ALLOW_ARTICLE_PACKING" ng-change="vm.article_settings()" class="switch-primary">
                              <span class="slider round"></span>
                          </label>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-xs-6 col-sm-4 control-label">{l}Use Different Sales Units For Article{endl}</label>
                                    <div class="form-group col-xs-6 col-sm-8">
                                        <!-- <toggle-switch  ng-model="vm.setarticles.ALLOW_ARTICLE_SALE_UNIT" ng-change="vm.article_settings()" class="switch-primary" off-label="{l}No{endl}" on-label="{l}Yes{endl}"></toggle-switch> -->
                                        <label class="switch pull-left small_margin">
                                          <input type="checkbox" id=""ng-model="vm.setarticles.ALLOW_ARTICLE_SALE_UNIT" ng-change="vm.article_settings()" class="switch-primary">
                                          <span class="slider round"></span>
                                      </label>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-xs-6 col-sm-4 control-label">{l}Allow Packing Sales Units On Quote{endl}</label>
                                    <div class="form-group col-xs-6 col-sm-8">
                                        <!-- <toggle-switch ng-model="vm.setarticles.ALLOW_QUOTE_PACKING" ng-change="vm.article_settings()" class="switch-primary" off-label="{l}No{endl}" on-label="{l}Yes{endl}"></toggle-switch> -->
                                        <label class="switch pull-left small_margin">
                                          <input type="checkbox" id=""ng-model="vm.setarticles.ALLOW_QUOTE_PACKING" ng-change="vm.article_settings()" class="switch-primary">
                                          <span class="slider round"></span>
                                      </label>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-xs-6 col-sm-4 control-label">{l}Use Different Sales Units On Quote{endl}</label>
                                    <div class="form-group col-xs-6 col-sm-8">
                                        <!-- <toggle-switch ng-model="vm.setarticles.ALLOW_QUOTE_SALE_UNIT" ng-change="vm.article_settings()" class="switch-primary" off-label="{l}No{endl}" on-label="{l}Yes{endl}"></toggle-switch> -->
                                        <label class="switch pull-left small_margin">
                                          <input type="checkbox" id=""ng-model="vm.setarticles.ALLOW_QUOTE_SALE_UNIT" ng-change="vm.article_settings()" class="switch-primary">
                                          <span class="slider round"></span>
                                      </label>
                                    </div>
                                </div>
                                <!--                       <div class="form-group">
                    <label class="col-xs-4 control-label">{l}Number of digits afte comma for unit price (max.4){endl}</label>
                    <div class="col-xs-2 col-lg-1 text-left">
                      <input class="form-control" type="text" ng-model="vm.setarticles.ARTICLE_PRICE_COMMA_DIGITS" ng-blur="vm.article_settings()">
                    </div>
                  </div> -->

                                <div class="form-group">
                                    <label class="col-xs-6 col-sm-4 control-label">{l}Show Margin Profit on Quote{endl}</label>
                                    <div class="form-group col-xs-6 col-sm-8">
                                        <!-- <toggle-switch is-disabled="vm.setarticles.SHOW_TOTAL_MARGIN_QUOTE_disabled" ng-model="vm.setarticles.SHOW_TOTAL_MARGIN_QUOTE" ng-change="vm.article_settings()" class="switch-primary" off-label="{l}No{endl}" on-label="{l}Yes{endl}"></toggle-switch> -->
                                        <label class="switch pull-left small_margin">
                                          <input type="checkbox" id="" ng-disabled="vm.setarticles.SHOW_TOTAL_MARGIN_QUOTE_disabled" ng-model="vm.setarticles.SHOW_TOTAL_MARGIN_QUOTE" ng-change="vm.article_settings()" class="switch-primary">
                                          <span class="slider round"></span>
                                      </label>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-xs-6 col-sm-4 control-label">{l}Show Margin Profit on Order{endl}</label>
                                    <div class="form-group col-xs-6 col-sm-8">
                                        <!-- <toggle-switch ng-model="vm.setarticles.SHOW_TOTAL_MARGIN_ORDER" ng-change="vm.article_settings()" class="switch-primary" off-label="{l}No{endl}" on-label="{l}Yes{endl}"></toggle-switch> -->
                                        <label class="switch pull-left small_margin">
                                          <input type="checkbox" id="" ng-model="vm.setarticles.SHOW_TOTAL_MARGIN_ORDER" ng-change="vm.article_settings()" class="switch-primary">
                                          <span class="slider round"></span>
                                      </label>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-xs-6 col-sm-4 control-label">{l}Allow use of variants of articles{endl}</label>
                                    <div class="form-group col-xs-6 col-sm-8">
                                        <!-- <toggle-switch ng-model="vm.setarticles.ALLOW_ARTICLE_VARIANTS" ng-change="vm.article_settings()" class="switch-primary" off-label="{l}No{endl}" on-label="{l}Yes{endl}"></toggle-switch> -->
                                        <label class="switch pull-left small_margin">
                                          <input type="checkbox" id="" ng-model="vm.setarticles.ALLOW_ARTICLE_VARIANTS" ng-change="vm.article_settings()" class="switch-primary">
                                          <span class="slider round"></span>
                                      </label>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-xs-6 col-sm-4 control-label">{l}Enable option to show/hide articles on pdf{endl}</label>
                                    <div class="form-group col-xs-6 col-sm-8">
                                        <!-- <toggle-switch ng-model="vm.setarticles.SHOW_ARTICLES_PDF" ng-change="vm.article_settings()" class="switch-primary" off-label="{l}No{endl}" on-label="{l}Yes{endl}"></toggle-switch> -->
                                        <label class="switch pull-left small_margin">
                                          <input type="checkbox" id="" ng-model="vm.setarticles.SHOW_ARTICLES_PDF" ng-change="vm.article_settings()" class="switch-primary">
                                          <span class="slider round"></span>
                                      </label>
                                    </div>
                                </div>

                                <!-- <div class="form-group">
                        <label class="col-xs-4 control-label">{l}Weight Average Cost{endl}</label>
                        <div class="form-group col-xs-6">
                            <toggle-switch  ng-model="vm.vm.setarticles.WAC" ng-change="vm.article_settings()" class="switch-primary" off-label="{l}No{endl}" on-label="{l}Yes{endl}"></toggle-switch>
                        </div>
                        <div class="col-xs-12">
                          <p class="text-muted">{l}*when WAC is activate the purchase price of all article will be change base on the last purchase order {endl}</p>
                        </div>
                  </div>
                  <div class="form-group">
                     <label class="col-xs-4 control-label">{l}Additional Article Cost{endl}</label>
                        <div class="form-group col-xs-6">
                            <toggle-switch  ng-model="vm.setarticles.AAC" ng-change="vm.article_settings()" class="switch-primary" off-label="{l}No{endl}" on-label="{l}Yes{endl}"></toggle-switch>
                        </div>
                    <div class="col-xs-12">
                      <p class="text-muted">{l}*when additional cost is activated, profitability will be calculate with the addition of additional costs defined in the article sheet{endl}</p>
                    </div>
                  </div>
                  <div class="form-group" ng-if="vm.setarticles.AAC==true">
                    <label class="col-xs-4 control-label">{l}Automated Calculation Of Additional{endl}</label>
                        <div class="form-group col-xs-6">
                            <toggle-switch  ng-model="vm.setarticles.AUTO_AAC" ng-change="vm.article_settings()" class="switch-primary" off-label="{l}No{endl}" on-label="{l}Yes{endl}"></toggle-switch>
                        </div>
                    <div class="col-xs-12">
                      <p class="text-muted">{l}*when automated calculation of additional cost is activated, the additional cost of article will be changed based on purchase orders{endl}</p>
                    </div>
                  </div> -->
                            </div>
                        </div>
                        <!-- /.section-content -->
                    </div>
                    <div class="tab-pane fade" id="pricecateg" ng-if="vm.setarticles.ADV_PRODUCT">
                        <div class="section-title">
                            <h2>{l}Article Price Categories{endl}</h2>
                        </div>
                        <!-- /.section-title -->
                        <div class="section-content">
                            <div class="form-horizontal text-left">
                                <div class="form-group">
                                    <label class="col-xs-3 control-label">{l}Price Type by default{endl} <span class="mandatory-label">*</span></label>
                                    <div class="col-xs-9 radio">
                                        <label>
                            <input type="radio" value="1"  ng-model="vm.pricescateg.PRICE_TYPE" ng-click="vm.use_fam_price(vm,vm.pricescateg,vm.pricescateg.PRICE_TYPE)"> {l}Based on Price Categories for Customers{endl}
                          </label>
                                    </div>
                                    <div class="col-xs-9 col-xs-offset-3 radio">
                                        <label>
                            <input type="radio" value="2"  ng-model="vm.pricescateg.PRICE_TYPE" ng-click="vm.use_fam_price(vm,vm.pricescateg)"> {l}Based on Quantity Ordered{endl}
                          </label>
                                    </div>
                                </div>
                            </div>
                            <ul class="nav nav-tabs tabs-default" id="tabContent">
                                <li class="active">
                                    <a href="#pricecategories" aria-controls="pricecategories" role="tab" data-toggle="tab">
                                        <span>{l}Price Categories{endl}</span>
                                        <button type="button" class="btn btn-primary btn-add" ng-click="vm.modal_small(vm.price_search.pricelist.add_price,'atemplate/articleprice','PriceSetCtrl')"><span class="btn-add_icon"><span class="icon-bar"></span><span class="icon-bar-2"></span></span></button>
                                    </a>
                                </li>
                                <li>
                                    <a href="#volumediscount" aria-controls="volumediscount" ng-click="vm.loadme()" role="tab" data-toggle="tab">
                                        <span>{l}Volume Discount{endl}</span>
                                        <button type="button" class="btn btn-primary btn-add" ng-click="vm.modal_small(vm.add_volume,'atemplate/articlevolume','VolumeSetCtrl')"><span class="btn-add_icon"><span class="icon-bar"></span><span class="icon-bar-2"></span></span></button>                                        </a>
                                </li>
                            </ul>
                            <div class="tab-content">
                                <div class="tab-pane fade in active" id="pricecategories">
                                    <!-- <p class="col-top text-muted">{l}Article price categories settings{endl}.</p> -->
                                    <form class="form-horizontal text-left">
                                        <div class="form-group">
                                            <label class="col-xs-8 col-md-6 col-lg-4 control-label">{l}Use custom price specification base on Article Family{endl}</label>
                                            <div class="col-xs-4 col-md-6 col-lg-8 checkbox hide">
                                                <label>
                                <input type="checkbox" ng-model="vm.pricescateg.USE_FAM_CUSTOM_PRICE" ng-click="vm.use_fam_price(vm,vm.pricescateg)">
                              </label>
                                            </div>
                                            <div class="col-xs-4 col-md-6 col-lg-8 checkbox checkbox-primary">
                                                <input type="checkbox" id="use_fam_custom_price" ng-model="vm.pricescateg.USE_FAM_CUSTOM_PRICE" ng-click="vm.use_fam_price(vm,vm.pricescateg)">
                                                <label for="use_fam_custom_price">
                              </label>
                                            </div>
                                        </div>
                                    </form>
                                    <!-- <div class="row page-search">
                          <form>
                               <div class="col-sm-9 col-search-input">
                                <div class="so-field" ng-class="{ 'so-active':vm.price_search.search.search!='' }">
                                  <span class="glyphicon glyphicon-search so-icon"></span>
                                  <input type="text" class="form-control" placeholder="{l}Search{endl}" search-it doit="vm.price_search.search" callbk="vm.renderList" ng-model="vm.price_search.search.search">
                                  <span class="glyphicon glyphicon-remove so-icon so-remove" ng-click="vm.toggleSearchButtons('search','')"></span>
                                </div>
                              </div>                       
                          </form>
                      </div> -->
                                    <!-- /.page-search -->
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th class="col-sm-3">{l}Name{endl}</th>
                                                <th class="col-sm-2">{l}Type{endl}</th>
                                                <th class="col-sm-3">{l}Unit Price{endl}</th>
                                                <th class="col-sm-1">{l}Default{endl}</th>
                                                <th class="col-sm-2 text-center">{l}Value{endl}</th>
                                                <th class="col-sm-1 table_actions"> </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="item in vm.price_search.pricelist">
                                                <td ng-if="item.id">
                                                    {{item.name}}
                                                </td>
                                                <td class="text-muted" ng-if="item.id">
                                                    {{item.type}}
                                                </td>
                                                <td class="text-muted" ng-if="item.id">
                                                    {{item.price_type}}
                                                </td>
                                                <td class="text-muted" ng-if="item.id">
                                                    <div class="col-xs-9 radio text-center no-margin">
                                                        <input type="radio" value="{{item.default}}" ng-model="item.id" ng-change="vm.setDefaultCategory(vm,item,item.category_id)" />
                                                    </div>
                                                </td>
                                                <td class="text-center" ng-if="item.id">
                                                    {{item.price_value}} <span ng-bind-html="item.price_value_type"><span>

                            </td>
                            <td class="table_actions" ng-if="item.id">
                              <div class="btn-group" uib-dropdown>
                                <button type="button" class="btn btn-plain dropdown-toggle" uib-dropdown-toggle>
                                      <span class="caret"></span>
                                                    </button>
                                                    <ul class="dropdown-menu dropdown-menu-right" uib-dropdown-menu>
                                                        <li class="dropdown-header">{l}Action{endl}</li>
                                                        <li>
                                                            <a href="" ng-click="vm.modal(item,'atemplate/articleprice','PriceSetCtrl')"><span class="fas fa-pen text-primary"></span> {l}Edit{endl}</a>
                                                        </li>
                                                        <li>
                                                            <a href="#" ng-if="item.not_default" ng-click="vm.delete_price(vm,item,item.id)"><span class="fa fa-trash text-primary"></span> {l}Delete{endl}</a>
                                                        </li>
                                                    </ul>
                                </div>
                                </td>
                                </tr>
                                </tbody>
                                </table>
                            </div>
                            <div class="tab-pane fade" id="volumediscount">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th class="col-sm-3">{l}From{endl}</th>
                                            <th class="col-sm-3">{l}To{endl}</th>
                                            <th class="col-sm-4 text-center">{l}Percent{endl}</th>
                                            <th class="col-sm-1 table_actions"> </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="item in vm.volume">
                                            <td class="text-muted">
                                                {{item.from_q}}
                                            </td>
                                            <td class="text-muted">
                                                {{item.to_q}}
                                            </td>
                                            <td class="text-center">
                                                {{item.percent}}
                                            </td>
                                            <td class="table_actions">
                                                <div class="btn-group" uib-dropdown>
                                                    <button type="button" class="btn btn-plain dropdown-toggle" uib-dropdown-toggle>
                                      <span class="caret"></span>
                                  </button>
                                                    <ul class="dropdown-menu dropdown-menu-right" uib-dropdown-menu>
                                                        <li class="dropdown-header">{l}Action{endl}</li>
                                                        <li>
                                                            <a href="" ng-click="vm.modal(item,'atemplate/articlevolume','VolumeSetCtrl')"><span class="fas fa-pen text-primary"></span> {l}Edit{endl}</a>
                                                        </li>
                                                        <li>
                                                            <a href="#" ng-click="vm.delete_volume(vm,item,item.id)"><span class="fa fa-trash text-primary"></span> {l}Delete{endl}</a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <!-- /.section-content -->
                </div>
                <!-- /.tab-pane -->
                <div class="tab-pane fade" id="article_families">
                    <div class="section-title">
                        <h2>{l}Categories{endl}
                            <button type="button" class="btn btn-primary btn-add" uib-tooltip="{l}Add Category{endl}" tooltip-placement="top" ng-click="vm.addCategory()"><span class="btn-add_icon"><span class="icon-bar"></span><span class="icon-bar-2"></span></span></button>
                        </h2>
                    </div>
                    <div class="section-content">
                        <!-- <div uib-alert ng-repeat="alert in vm.alerts" type="{{alert.type}}" close="vm.alerts.splice($index, 1);" ng-class="['alert-' + (alert.type || 'warning') ]" dismiss-on-timeout='5000' >{{alert.msg}}</div> -->
                        <div class="row page-content">
                            <div class="col-sm-12">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th class="col-sm-5">{l}Category{endl}</th>
                                            <!-- <th class="col-sm-1">{l}Image{endl}</th> -->
                                            <th class="col-sm-4">{l}Ledger Account{endl}</th>
                                            <th class="col-sm-1 text-center">
                                                <div class="checkbox checkbox-primary">
                                                    <input type="checkbox" id="checkbox_family" ng-click="vm.saveAddToArticle(vm,vm.ledge,vm.ledge.ledgelist.fam_id,vm.listObj.check_add_all)" ng-model="vm.listObj.check_add_all">
                                                    <label for="checkbox_family"></label>
                                                </div>
                                            </th>
                                            <th class="col-sm-1 table_actions">
                                                <div class="btn-group" uib-dropdown>
                                                    <button type="button" class="btn btn-tertiary dropdown-toggle" uib-dropdown-toggle>
                                              <span class="caret"></span>
                                          </button>
                                                    <ul class="dropdown-menu dropdown-menu-right" uib-dropdown-menu>
                                                        <li><a ng-click="vm.applyledger(vm,vm.ledge)"><span class="fa fa-level-up text-primary"></span> {l}Apply ledger accounts to articles{endl}</a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="item in vm.ledge.ledgelist">
                                            <td class="col-adjust-input buttom">
                                                <!-- <input type="text" class="form-control" ng-model="item.name"> -->
                                                <label>{{item.name}}</label>
                                            </td>
                                            <!--  <td class="col-adjust-input text-center">
                                      <div class="text-default" ng-if="!item.has_image">
                                          <input type="file" name="file" class="hide newUploadFile2" accept=".gif,.jpg,.jpeg" >
                                          <a class="btn btn-plain" href="#" ng-click="vm.upload_category($event,item.fam_id)">{l}Upload Photo{endl}</a>
                                      </div>
                                      <span ng-if="item.has_image">
                                        <a href="#" title="{l}View{endl}" ng-click="vm.viewImage(item)"><span class="glyphicon glyphicon-info-sign"></span></a>
                                        <a href="#" title="{l}Remove{endl}" confirm="{l}Are you sure, you wanna delete this entry?{endl}" ng-click="vm.removeImage(item)"><span class="glyphicon glyphicon-remove"></span></a>
                                      </span>
                                    </td> -->
                                            <td class="col-adjust-input buttom">
                                                <div class="input-group">{{ item.ledger_name}}
                                                    <!-- <input type="text" class="form-control " ng-blur="add_fam(item)" ng-model="item.val"> -->
                                                    <!-- <selectize config="vm.ledgerCfg" options="item.ledger_account" ng-change="vm.add_fam(item)" ng-model="item.ledger_account_id" id="custandcont" table="pim_article_ledger_accounts" model="ledger_account" ></selectize>
                                          <span class="input-group-addon input-group-addon_shrink input-group-plain">
                                              <i class="fa fa-spinner fa-spin fa-fw" ng-if="item.loadRequest"></i>
                                              <i class="fa fa-check" aria-hidden="true" ng-if="item.loadSuccess"></i>
                                              <i class="fa fa-exclamation" aria-hidden="true" ng-if="item.loadError"></i>
                                          </span>  -->
                                                </div>
                                            </td>
                                            <td class="text-center">
                                                <div class="checkbox checkbox-primary">
                                                    <input type="checkbox" id="checkbox_family_{{$index}}" ng-click="vm.saveAddToArticleone(vm,item,item.fam_id,item.check_add_to_article)" ng-model="item.check_add_to_article">
                                                    <label for="checkbox_family_{{$index}}"></label>
                                                </div>
                                            </td>
                                            <td class="table_actions buttom">
                                                <div class="btn-group" uib-dropdown>
                                                    <button type="button" class="btn btn-plain dropdown-toggle" uib-dropdown-toggle>
                                              <span class="caret"></span>
                                          </button>
                                                    <ul class="dropdown-menu dropdown-menu-right" uib-dropdown-menu>
                                                        <li><a href="#" ng-click="vm.editCategory(item.fam_id)"><span class="fas fa-pen text-primary"></span> {l}Edit{endl}</a>
                                                        </li>
                                                        <li><a ng-click="vm.deleteCategory(item)" confirm="{l}Are you sure, you wanna delete this entry?{endl}"><span class="fa fa-trash text-primary"></span> {l}Delete{endl}</a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <ul ng-if="vm.ledge.max_rows > 30" uib-pagination total-items="vm.ledge.max_rows" ng-model="vm.ledge.search.offset" ng-change="vm.searchThing()" max-size="5" class="pager" boundary-links="true" items-per-page="vm.ledge.lr"></ul>
                    </div>
                </div>
                <div class="tab-pane fade" id="tax">
                    <div class="section-title">
                        <h2>{l}List of Taxes{endl}
                            <button type="button" class="btn btn-primary btn-add" ng-click="vm.modal_tax(vm.tax_search.taxlist.taxes.add_tax,'atemplate/articletax','TaxSetCtrl')" uib-tooltip="{l}Add Tax{endl}" tooltip-placement="right"><span class="btn-add_icon"><span class="icon-bar"></span><span class="icon-bar-2"></span></span></button>
                        </h2>
                    </div>
                    <!-- /.section-title -->
                    <div class="section-content">
                        <p class="text-muted col-bottom">{l}Article Taxes info{endl}.</p>
                        <div class="row page-search">
                            <form>
                                <div class="col-sm-12 col-search-input">
                                    <div class="so-field" ng-class="{ 'so-active':vm.tax_search.search.search!='' }">
                                        <span class="glyphicon glyphicon-search so-icon"></span>
                                        <input type="text" class="form-control" placeholder="{l}Search{endl}" search-it doit="vm.tax_search.search" callbk="vm.renderListtax" ng-model="vm.tax_search.search.search">
                                        <span class="glyphicon glyphicon-remove so-icon so-remove" ng-click="vm.toggleSearchButtonstax('search','')"></span>
                                    </div>
                                    <!-- /.input-search -->
                                </div>
                            </form>
                        </div>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th class="col-sm-3">{l}Code{endl}</th>
                                    <th class="col-sm-3">{l}Type{endl}</th>
                                    <th class="col-sm-2 text-center">{l}Amount{endl}</th>
                                    <th class="col-sm-1 table_actions"> </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="item in vm.tax_search.taxlist.taxes">
                                    <td>
                                        {{item.code}}
                                    </td>
                                    <td class="text-muted">
                                        {{item.type_name}}
                                    </td>
                                    <td class="text-center">
                                        {{item.amount}}
                                    </td>
                                    <td class="table_actions">
                                        <div class="btn-group" uib-dropdown>
                                            <button type="button" class="btn btn-plain dropdown-toggle" uib-dropdown-toggle>
                                <span class="caret"></span>
                            </button>
                                            <ul class="dropdown-menu dropdown-menu-right" uib-dropdown-menu>
                                                <li class="dropdown-header">{l}Action{endl}</li>
                                                <li>
                                                    <a href="#" ng-click="vm.modal_tax(item,'atemplate/articletax','TaxSetCtrl')"><span class="fas fa-pen text-primary"></span> {l}Edit{endl}</a>
                                                </li>
                                                <li>
                                                    <a href="#" ng-click="vm.delete_tax(vm,item,item.id)"><span class="fa fa-trash text-primary"></span> {l}Delete{endl}</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <!-- /.tab-pane -->
                <div class="tab-pane fade" id="serial">
                    <div class="section-title">
                        <h2>{l}Serial Numbers{endl}</h2>
                    </div>
                    <!-- /.section-title -->
                    <div class="section-content">
                        <p class="text-muted col-bottom">{l}Serial Numbers info{endl}.</p>
                        <form class="form-horizontal text-left">
                            <div class="form-group">
                                <label class="col-xs-10 col-sm-5 control-label">{l}Show Serial Numbers on Deliveries PDF{endl}</label>
                                <div class="col-xs-2 col-sm-7 checkbox checkbox-primary">
                                    <input type="checkbox" id="checkbox1" ng-model="vm.numbers.SHOW_ART_S_N_ORDER_PDF" ng-click="vm.showart(vm,vm.numbers,vm.numbers.SHOW_ART_S_N_ORDER_PDF)">
                                    <label for="checkbox1"></label>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-xs-10 col-sm-5 control-label">{l}Show Serial Numbers on Invoices PDF{endl}</label>
                                <div class="col-xs-2 col-sm-7 checkbox checkbox-primary">
                                    <input type="checkbox" id="checkbox2" ng-model="vm.numbers.SHOW_ART_S_N_INVOICE_PDF" ng-click="vm.showinv(vm,vm.numbers,vm.numbers.SHOW_ART_S_N_INVOICE_PDF)">
                                    <label for="checkbox2"></label>
                                </div>

                            </div>
                        </form>
                    </div>
                </div>
                <!-- /.tab-pane -->
                <div class="tab-pane fade" id="barcodes">
                    <div class="section-title">
                        <h2>{l}Barcodes{endl}</h2>
                    </div>
                    <!-- /.section-title -->
                    <div class="section-content">
                        <form class="form-horizontal text-left" name="barcodes_form">
                            <div class="form-group" ng-class="{ 'form-group_alert' : barcodes_form.next_auto_barcode.$invalid && !barcodes_form.next_auto_barcode.$pristine }">
                                <label class="col-sm-5 control-label">{l}Next automatic barcode{endl}</label>
                                <div class="col-sm-5">
                                    <input id="inputNextAutoBarcode" class="form-control" name="next_auto_barcode" ng-model="vm.barcodes.next_auto_barcode">
                                    <div class="alert alert-sm alert-danger" ng-if="barcodes_form.next_auto_barcode.$invalid && vm.alertsField.next_auto_barcode">
                                        {{vm.alertsField.next_auto_barcode}}
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                     <div class="section-footer">
                        <div class="row">
                            <div class="col-xs-12 text-right">
                                <button class="btn btn-default" type="button" ng-click="vm.saveBarcodesData(barcodes_form)">{l}Save{endl}</button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.tab-pane -->
                <div class="tab-pane fade" id="batches">
                    <div class="section-title">
                        <h2>{l}Batches{endl}</h2>
                    </div>
                    <!-- /.section-title -->
                    <div class="section-content">
                        <p class="text-muted col-bottom">{l}Batches info{endl}.</p>
                        <form class="form-horizontal text-left">
                            <div class="form-group">
                                <label class="col-xs-10 col-sm-5 control-label text-left">{l}Show Batches on Deliveries PDF{endl}:</label>
                                <div class="col-xs-2 col-sm-7 checkbox checkbox-primary">
                                    <input type="checkbox" id="checkbox3" ng-model="vm.batch.SHOW_ART_B_N_ORDER_PDF" ng-click="vm.showbo(vm,vm.batch,vm.batch.SHOW_ART_B_N_ORDER_PDF)">
                                    <label for="checkbox3"></label>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-xs-10 col-sm-5 control-label text-left">{l}Show Batches on Invoices PDF{endl}:</label>
                                <div class="col-xs-2 col-sm-7 checkbox checkbox-primary">
                                    <input type="checkbox" id="checkbox4" ng-model="vm.batch.SHOW_ART_B_N_INVOICE_PDF" ng-click="vm.showbi(vm,vm.batch,vm.batch.SHOW_ART_B_N_INVOICE_PDF)">
                                    <label for="checkbox4"></label>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-xs-10 col-sm-5 control-label text-left">{l}Batch batch should be unique{endl}:</label>
                                <div class="col-xs-2 col-sm-7 checkbox checkbox-primary">
                                    <input type="checkbox" id="checkbox5" ng-model="vm.batch.UNIQUE_BATCH_NR" ng-click="vm.showbu(vm,vm.batch,vm.batch.UNIQUE_BATCH_NR)">
                                    <label for="checkbox5"></label>
                                </div>
                            </div>
                            <div class="form-group" ng-if="vm.batch.SHOW_ART_B_N_ORDER_PDF">
                                <label class="col-xs-10 col-sm-5 control-label text-left">{l}Show Batches expiration date on deliveries PDF{endl}:</label>
                                <div class="col-xs-2 col-sm-7 checkbox checkbox-primary">
                                    <input type="checkbox" id="checkbox6" ng-model="vm.batch.SHOW_ART_B_ED_ORDER_PDF" ng-click="vm.showbe(vm,vm.batch,vm.batch.SHOW_ART_B_ED_ORDER_PDF)">
                                    <label for="checkbox6"></label>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <!-- /.tab-pane -->
                <div class="tab-pane fade" id="ledger">
                    <div class="section-title">
                        <h2>{l}Ledger Accounts per Family{endl}</h2>
                    </div>
                    <!-- /.section-title -->
                    <div class="section-content">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>{l}Families{endl}</th>
                                    <th>{l}Ledger Accounts{endl}</th>
                                    <th class="col-sm-1 text-center">
                                        <div class="checkbox checkbox-primary">
                                            <input type="checkbox" id="checkbox_family" ng-click="vm.saveAddToArticle(vm,vm.ledge,vm.ledge.ledgelist.fam_id,vm.listObj.check_add_all)" ng-model="vm.listObj.check_add_all">
                                            <label for="checkbox_family"></label>
                                        </div>
                                    </th>
                                    <th class="col-sm-1 table_actions">
                                        <div class="btn-group" uib-dropdown>
                                            <button type="button" class="btn btn-tertiary dropdown-toggle" uib-dropdown-toggle>
                                <span class="caret"></span>
                            </button>
                                            <ul class="dropdown-menu dropdown-menu-right" uib-dropdown-menu>
                                                <li><a ng-click="vm.applyledger(vm,vm.ledge)"><span class="fa fa-level-up text-primary"></span> {l}Apply ledger accounts to articles{endl}</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="item in vm.ledge.ledgelist">
                                    <td class="col-adjust-input">
                                        <input type="text" class="form-control" ng-model="item.name">
                                    </td>
                                    <td class="col-adjust-input">
                                        <div class="input-group">
                                            <input type="text" class="form-control " ng-blur="vm.add_fam(item)" ng-model="item.val">
                                            <span class="input-group-addon input-group-addon_shrink input-group-plain">
                                <i class="fa fa-spinner fa-spin fa-fw" ng-if="item.loadRequest"></i>
                                <i class="fa fa-check" aria-hidden="true" ng-if="item.loadSuccess"></i>
                                <i class="fa fa-exclamation" aria-hidden="true" ng-if="item.loadError"></i>
                            </span>
                                        </div>
                                    </td>
                                    <td class="text-center">
                                        <div class="checkbox checkbox-primary">
                                            <input type="checkbox" id="checkbox_family_{{$index}}" ng-click="vm.saveAddToArticleone(vm,item,item.fam_id,item.check_add_to_article)" ng-model="item.check_add_to_article">
                                            <label for="checkbox_family_{{$index}}"></label>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <ul uib-pagination total-items="vm.ledge.max_rows" ng-model="vm.ledge.search.offset" ng-change="vm.searchThing()" max-size="5" class="pager" boundary-links="true" items-per-page="vm.ledge.lr"></ul>
                    </div>
                </div>
                <!-- /.tab-pane -->

                <div class="tab-pane fade" id="ledger_new">
                    <div class="section-title">
                        <h2>{l}Ledger Accounts{endl}
                            <button class="btn btn-primary btn-add" type="button" ng-click="vm.openModal('AddEntry','tmp','md')" uib-tooltip="{l}New Entry{endl}" tooltip-placement="right">
                      <span class="btn-add_icon">
                      <span class="icon-bar"></span>
                      <span class="icon-bar-2"></span>
                      </span>
                    </button>
                        </h2>
                    </div>
                    <!-- /.section-title -->
                    <div class="section-content">
                        <!-- <p class="text-muted">{l}Drag to re-order the items{endl}</p> -->
                        <table class="table table_head_only table_orders ledger_accounts" cellspacing="0" cellpadding="0">
                            <thead>
                                <tr>
                                    <th class="add_article">{l}Name{endl}</th>
                                    <th class="description">{l}Description{endl}</th>
                                </tr>
                            </thead>
                        </table>
                        <ul class="table table_orders sort_column drag_table" role="tablist" data-as-sortable="vm.dragControlListenerLedgers" data-ng-model="vm.ledge_new">
                            <li ng-repeat="item in vm.ledge_new" data-as-sortable-item>
                                <div class="row" data-as-sortable-item-handle>
                                    <div class="row_handler">
                                        <span class="btn-drag drop">&nbsp;</span>
                                    </div>
                                    <div class="col-xs-5 col-sm-5">{{item.name}}</div>
                                    <div class="col-xs-6 col-sm-6">{{item.description}}</div>
                                    <div class="table_actions">
                                        <div class="btn-group" uib-dropdown>
                                            <button type="button" class="btn btn-plain dropdown-toggle" uib-dropdown-toggle>
                              <span class="caret"></span>
                            </button>
                                            <ul class="dropdown-menu dropdown-menu-right" uib-dropdown-menu>
                                                <li class="dropdown-header">{l}Action{endl}</li>
                                                <li><a href="#" ng-click="vm.openModal('AddEntry',item.id,'md')"><span class="fas fa-pen text-primary"></span> {l}Edit{endl}</a>
                                                </li>
                                                <li><a href="#" ng-click="vm.removeLine(item.id)" confirm="{l}Are you sure, you wanna delete this entry from the list?{endl}"><i class="fa fa-trash" aria-hidden="true"></i> {l}Delete{endl}</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>

                    </div>
                    <!-- <button class="btn btn-default pull-right" ng-click="vm.saveLedgers()">{l}Save{endl}</button> -->
                </div>
                <!-- /.tab-pane -->

                <div class="tab-pane fade" id="restore">
                    <!--             <div uib-alert ng-repeat="alert in vm.alerts" type="{{alert.type}}" close="vm.alerts.splice($index, 1);" dismiss-on-timeout="5000" ng-class="['alert-' + (alert.type || 'warning') ]">{{alert.msg}}</div> -->
                    <form class="form-horizontal ng pristine ng valid">
                        <div class="section-title">
                            <div class="row">
                                <div class="col-xs-4">
                                    <h2>{l}Restore Data{endl}</h2>
                                </div>
                            </div>
                        </div>
                        <!-- /.section-title -->
                        <div class="section-content">
                            <form class="form-horizontal">
                                <div class="form-group">
                                    <div class="col-xs-2">
                                        <label>{l}1.Backup Data{endl}</label>
                                    </div>
                                    <div class="col-xs-6 text-left">
                                        <!--                           <select class="form-control" ng-model="vm.restore.file_id">
                            <option value="0">{l}Select file{endl}</option>
                            <option ng-repeat="option in vm.restore.filebackup track by option.id" value="{{option.id}}">{{option.value}}</option>
                          </select> -->
                                        <selectize config="vm.cfg" options="vm.restore.filebackup" ng-model="vm.restore.file_id"></selectize>
                                    </div>
                                    <div class="col-xs-4 text-right">
                                        <button type="submit" class="btn btn-default" ng-disabled="vm.restore.file_id==0 || !vm.restore.file_id" confirm="{l}Are you sure, you wanna backup your data? Please select a file to overwrite.{endl}" ng-click="vm.restoreData(vm,vm.restore)">{l}Backup data{endl}</button>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-xs-2">
                                        <label>{l}2.Restore Data{endl}</label>
                                    </div>
                                    <div class="col-xs-6 text-left">
                                        <!--                           <select class="form-control" ng-model="vm.restore.file2_id">
                            <option value="0">{l}Select file{endl}</option>
                            <option ng-repeat="option in vm.restore.filebackup track by option.id" value="{{option.id}}">{{option.value}}</option>
                          </select> -->
                                        <selectize config="vm.cfg" options="vm.restore.filerestore" ng-model="vm.restore.file2_id"></selectize>
                                    </div>
                                    <div class="col-xs-4 text-right">
                                        <button type="submit" ng-disabled="vm.restore.file2_id==0 || !vm.restore.file2_id" confirm="{l}Are you sure you want to restore your backup data?{endl}" class="btn btn-default" ng-click="vm.importData(vm,vm.restore)">{l}Restore data{endl}</button>
                                    </div>
                                </div>
                                <div class="section-title">
                                    <div class="row">
                                        <div class="col-xs-4">
                                            <h2>{l}Clean Catalogue{endl}</h2>
                                        </div>
                                    </div>
                                </div>
                                <!-- /.section-title -->
                                <div class="form-group">
                                    <div class="col-xs-10">
                                        <label>{l}Erase data from Catalogue{endl}</label>
                                    </div>
                                    <div class="col-xs-2 text-right">
                                        <button type="submit" class="btn btn-default" confirm="{l}Are you sure, you wanna erase your data? Make sure you backup your data first!{endl}" ng-click="vm.eraseData(vm,vm.restore)">{l}Erase data{endl}</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </form>
                </div>
                <!-- /.tab-pane -->
            </div>
            <!-- /.tabs-settings-content -->
        </div>
    </div>
    <!-- /.tabs-settings -->
</div>
<!-- /.page-content -->
</div>
<!-- neede on all pages -->