<div class="container">
    <div class="page-header">
        <div class="row">
            <div class="col-xs-12">
                <h1>{l}Import of prices{endl}</h1>
            </div>
        </div>
    </div>
    <!-- /.page-header -->
    <div class="tabs-navigation">
        <div class="row page-content">
            <div class="col-sm-12">
                <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation" class="active"><a href="#import" aria-controls="import" role="tab" data-toggle="tab">{l}Import{endl}</a></li>
                    <li role="presentation"><a href="#import_history" class="history" aria-controls="import_history" role="tab" data-toggle="tab">{l}Import history{endl}</a></li>
                </ul>
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane fade in active" id="import">
                        <form id="import_form" class="form-horizontal text-left" name="backup_import" novalidate>
                            <div class="section-content col-top">
                                <!-- <div uib-alert ng-repeat="alert in vm.alerts" type="{{alert.type}}" close="vm.alerts.splice($index, 1);" dismiss-on-timeout="5000" ng-class="['alert-' + (alert.type || 'warning') ]">{{alert.msg}}</div> -->
                                <div class="row panel_steps col-top col-bottom">
                                    <div class="col-xs-4">
                                        <div class="panel panel-plain {{vm.catalog.class1}}">
                                            <div class="panel-body text-center">
                                                <h2>{l}Step 1{endl} - {l}Backup your data{endl}</h2>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-4">
                                        <div class="panel panel-plain {{vm.catalog.class2}}">
                                            <div class="panel-body text-center">
                                                <h2>{l}Step 2{endl} - {l}Select a file you want to import{endl}</h2>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-4">
                                        <div class="panel panel-plain {{vm.class3}}">
                                            <div class="panel-body text-center">
                                                <h2>{l}Step 3{endl} - {l}Match desired fields{endl}</h2>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-12 text-center">
                                        <div ng-show="vm.catalog.step==1 || vm.step==1 ">
                                            <p>{l}Step 1 - Take a backup. If anything goes wrong, you can always restore this backup.{endl}</p>
                                            <div class="row">
                                                <div class="col-xs-7 col-xs-offset-3 col-top">
                                                    <div class="form-group">
                                                        <label class="control-label col-xs-2">{l}File{endl} <span class="mandatory-label">*</span></label>
                                                        <div class="col-xs-6">
                                                            <selectize config="vm.cfg" options="vm.catalog.file" ng-model="vm.catalog.file_id"></selectize>
                                                        </div>
                                                        <div class="col-xs-4">
                                                            <button class="btn btn-default btn-block" type="button" ng-click="vm.backup_data()">{l}Backup{endl}</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div ng-show="vm.catalog.step==2">
                                            <p>{l}Step 2 - Select the Excel file that contains the data. That file should have the column headers on the first line. NOTE: each column header must be unique.{endl}</p>
                                            <div class="row">
                                                <div class="col-xs-6 col-xs-offset-3 col-top">
                                                    <div class="upload-box col-xs-12">
                                                        <p><strong>{l}Import file{endl}</strong></p>
                                                        <p><small>{l}Allowed file types: <strong>.xls</strong> or <strong>.xlsx</strong>{endl}</small></p>
                                                        <div class="upload-file hidden">
                                                            <div class="row">
                                                                <div class="upload-file-info col-xs-12">
                                                                    <p class="nameOfTheFile"></p>
                                                                    <div class="upload-progress">
                                                                        <div class="upload-progress-bar" style="width: 88%;"></div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <input type="file" name="file" class="newUploadFile2" accept=".xls,.xlsx">
                                                        <p class="text-center"><button class="btn btn-default" ng-click="vm.upload(vm,$event)"><span class="glyphicon glyphicon-cloud-upload"></span> {l}Upload{endl}</button></p>
                                                    </div>
                                                    <!-- /.upload-box -->
                                                </div>
                                            </div>
                                        </div>
                                        <div ng-show="vm.step==3 || vm.catalog.step==3">
                                            <p class="col-bottom text-left"><u>{l}Explanation{endl}</u>: {l}For the last step of the import, match the fields from the Excel file you uploaded to the fields available in Akti. In the first column below, you can find the titles of the columns
                                                from your file and the first three values in those columns. The following column(s) are the fields in Akti to which you can import that information.{endl}</p>
                                            <div class="row text-left">
                                                <div class="col-xs-4">
                                                    <h3><u>{l}Columns from excel{endl}</u></h3>
                                                </div>
                                                <div class="col-xs-4">
                                                    <h3><u>{l}Fields in Akti to import to{endl}</u></h3>
                                                </div>
                                            </div>
                                            <div class="row col-bottom text-left" ng-repeat="(key,val) in vm.file_content">
                                                <div class="col-xs-4">
                                                    <table class="table">
                                                        <thead>
                                                            <tr>
                                                                <th class="col-sm-12">{{key}}</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr ng-repeat="item in val | limitTo:3 track by $index">
                                                                <td>
                                                                    {{item}}
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                                <div class="col-xs-4">
                                                    <h3>{l}Article{endl}</h3>
                                                    <select class="form-control" ng-model="vm.fields[vm.names_id[$index]]" ng-show="!vm.fieldsC[vm.names_id[$index]]" data-ng-options="option.id as option.name group by option.group for option in vm.match_field_company">
                            <option value="">{l}Select{endl}</option>
                            </select>
                                                </div>
                                            </div>
                                            <div class="col-top col-bottom text-center">
                                                <button class="btn btn-default" type="button" ng-click="vm.save_imports()">{l}Import{endl}</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- /.section-content -->
                        </form>
                        <!-- /#import_form -->
                    </div>
                    <!-- /.tab-pane -->
                    <div role="tabpanel" class="tab-pane fade" id="import_history">
                        <form id="import_form" name="backup_import" novalidate>
                            <div class="section-content">
                                <!-- <div uib-alert ng-repeat="alert in vm.alerts" type="{{alert.type}}" close="vm.alerts.splice($index, 1);" dismiss-on-timeout="5000" ng-class="['alert-' + (alert.type || 'warning') ]">{{alert.msg}}</div> -->
                                <h2>{l}View what has been imported{endl}</h2>
                                <p class="text-muted">{l}Import History{endl}</p>
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th class="col-sm-1">{l}Date{endl}</th>
                                            <th class="col-sm-4">{l}Filename{endl}</th>
                                            <th class="col-sm-2">{l}Article Added{endl}</th>
                                            <th class="col-sm-2">{l}Article Updated{endl}</th>
                                            <th class="col-sm-3">{l}Name{endl}</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="item in vm.catalog.history">
                                            <td class="text-muted">{{item.date}}</td>
                                            <td>{{item.filename}}</td>
                                            <td class="text-primary link-pointer text-link" ng-click="vm.modal_history_article([item.id,item.add_article],'atemplate/history','historyArticleCtrl','lg')">{{item.article_added}}</td>
                                            <td class="text-primary link-pointer text-link" ng-click="vm.modal_history_article([item.id,item.update_article],'atemplate/history','historyArticleCtrl','lg')">{{item.article_updated}}</td>
                                            <td class="text-muted">{{item.username}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </form>
                    </div>
                    <!-- /.tab-pane -->
                </div>
            </div>
            <!-- neede on all pages -->
        </div>
    </div>
</div>