<div class="modal-header">
  	<button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="setBatchDispatchStock.cancel()"><span aria-hidden="true">&times;</span></button>
  	<h4 class="modal-title">{l}Batch Dispatch Stock{endl}</h4>
</div>
<div class="modal-body">
<div class="col-sm-12 col-bottom col-top">
      <form class="form-horizontal text-left" name="tresh_form" no-validate=''>
       <table class="table active_rows orderTable">
          <thead>
            <tr>
             <th class="col-sm-5" ><strong>{l}Depot{endl}</strong></th>
              <th class="col-sm-5" ><strong>{l}Address{endl}</strong></th>
              
                <th class="text-center col-sm-2" ><strong>{l}Stock{endl}</strong></th>
            </tr>
          </thead> 
         
         <tbody>
            <tr ng-repeat="item in setBatchDispatchStock.list" class="collapseTr">
              <td class=" text-muted ng-cloak">{{::item.naming}}</td>
              <td class="text-muted ng-cloak">{{::item.address}},{{::item.zip}},{{::item.city}}<br/>{{::item.country}}</td>
              <td class="col-adjust-itext-mutednput text-nowrap" ng-class="{'text-center': setBatchDispatchStock.item.view_mode}">
               <!--  <input type="text" ng-model="item.stock"  size="7" class="form-control"  display-nr ng-change="setBatchDispatchStock.checkStockValue(item,$index)" /> -->
                <input type="text" ng-model="item.stock"  size="7" class="form-control" ng-disabled="true" display-nr  />
              </td>
                
            </tr>

          </tbody>       
        </table>    

       <!--  {l}dispatch to patners:{endl} <b class="ng-cloak">{{::setBatchDispatchStock.obj.extern_dispatch}}</b> {l}articles{endl}  -->
        {l}Total quantity in stock{endl} <b class="ng-cloak">{{::setBatchDispatchStock.obj.total_in_stock}}</b> 
      </form>
</div>	
</div>
<div class="modal-footer">
      <button class="btn btn-plain" type="button" ng-click="setBatchDispatchStock.cancel()">{l}Cancel{endl}</button>
    	<!-- <button class="btn btn-default" type="button" ng-disabled ="setBatchDispatchStock.save_disabled" ng-click="setBatchDispatchStock.ok(tresh_form)">{l}Save{endl}</button> -->
</div>