<div class="modal-header">
  	<button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="setBatchFile.cancel()"><span aria-hidden="true">&times;</span></button>
  	<h4 class="modal-title">{l}Batch Documents{endl}</h4>
</div>

<div class="modal-body">
<div class="col-sm-12 col-bottom col-top">
<div class="loading_wrap loading_alt hidden">
        <div class="loading"></div>
          <div class="spinner"></div>
      </div>
      <form class="form-horizontal text-left batch_file_form" name="batch_file_form" id="batch_file_form" no-validate=''>
           <div class="upload-box">
                                  <p><strong>{l}Upload File{endl}</strong></p>
                                 <div class="upload-file hidden">
                            <div class="row">
                               
                                <div class="upload-file-info col-xs-8">
                                    <p class="nameOfTheFile"></p>
                                    <div class="upload-progress">
                                        <div class="upload-progress-bar" style="width: 88%;"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <input type="file" name="file" class="newUploadFile21" accept=".doc,.docx,.gif,.jpg,.jpeg,.pdf">
                        <p class="text-center"><button class="btn btn-default" ng-click="setBatchFile.upload(setBatchFile,$event)"><span class="glyphicon glyphicon-cloud-upload"></span> {l}Upload{endl}</button></p>  
                                


                              </div><!-- /.upload-box -->


       <table class="table active_rows orderTable">
              <thead>
                <tr>
                 <th class="col-sm-2" ><strong>{l}Download{endl}</strong></th>
                  <th class="col-sm-8" ><strong>{l}File{endl}</strong></th>
                  
                
                  <th class="col-sm-2 text-muted"></th>
                </tr>
              </thead> 
         
      <tbody>
                <tr ng-repeat="item in setBatchFile.list">
                <td class="text-muted ng-cloak"><a href="{{::item.down_file_link}}"  target="_blank" class="fa fa-dropbox fa-2 text-primary"></a></td>
                 <td class="text-muted ng-cloak">{{::item.file}}</td>
                 <td class="text-muted table_actions">
                  <div class="btn-group" uib-dropdown>
                     <button type="button" class="btn btn-plain dropdown-toggle" uib-dropdown-toggle>
                     <span class="caret"></span>
                     </button>
                     <ul class="dropdown-menu dropdown-menu-right" uib-dropdown-menu>
                         <li >
                          <a href="#" ng-click="setBatchFile.delete(setBatchFile,item,item.id,item.path)" confirm="{l}Are you sure, you wanna delete this entry?{endl}"><span class="fa fa-trash text-primary"></span> Delete</a>
                            
                     </ul>
                  </div>
               </td>
               
                
                </tr>
                

          </tbody>       
  </table>    
           
</div>  
</div>
<div class="modal-footer">
      <button class="btn btn-plain" type="button" ng-click="setBatchFile.cancel()">{l}Close{endl}</button>
      
</div>