<div class="modal-header">
  	<button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="setCategPrice.cancel()"><span aria-hidden="true">&times;</span></button>
  	<h4 class="modal-title">{l}Edit Price Category{endl}</h4>
</div>
<div class="modal-body">
<div class="col-sm-12 col-bottom col-top">
      <form class="form-horizontal text-left" name="tresh_form" no-validate=''>

        <div class="form-group">
                <div ng-if="item.is_regular">
                <label class="col-sm-2 control-label">{l}Name{endl}</label>
                <div class="col-sm-4">
                    <input  type="text" class="form-control" name="name" ng-model="setCategPrice.obj.name">
                </div>
                </div>
          
        
        <div class="col-sm-4">
          <select class="form-control" ng-model="setCategPrice.obj.category_type">
                        <option ng-repeat="option in setCategPrice.obj.category_type_dd track by option.id" value="{{option.id}}" ng-bind-html="option.value"></option>
                      </select>
        </div>
         <div class="col-sm-4" ng-if = "setCategPrice.obj.category_type!=4">
          <select class="form-control" ng-model="setCategPrice.obj.price_type">
                        <option ng-repeat="option in setCategPrice.obj.price_type_dd track by option.id" value="{{option.id}}" ng-bind-html="option.value"></option>
                      </select>
        </div>
         <div class="col-sm-2">
          <input  type="text" class="form-control" name="price" ng-model="setCategPrice.obj.price_value" display-nr="">
        </div>
         <div class="col-sm-2" ng-if = "setCategPrice.obj.category_type!=4">
          <select class="form-control" ng-model="setCategPrice.obj.price_value_type">
                        <option ng-repeat="option in setCategPrice.obj.price_value_type_dd track by option.id" value="{{option.id}}" ng-bind-html="option.value"></option>
                      </select>
        </div>
      </div> 
           
      </form>
</div>	
</div>
<div class="modal-footer">
      <button class="btn btn-plain" type="button" ng-click="setCategPrice.cancel()">{l}Cancel{endl}</button>
    	<button class="btn btn-default" type="button" ng-click="setCategPrice.ok(tresh_form)">{l}Save{endl}</button>
</div>