<div class="modal-header">
  	<button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="setPriceVol.cancel()"><span aria-hidden="true">&times;</span></button>
  	<h4 class="modal-title">{l}Volume Price{endl}</h4>
</div>
<div class="modal-body">
<div uib-alert ng-repeat="alert in setPriceVol.alerts" type="{{alert.type}}" close="setPriceVol.alerts.splice($index, 1);" ng-class="['alert-' + (alert.type || 'warning') ]" dismiss-on-timeout='5000' >{{alert.msg}}
</div>
<div class="col-sm-12 col-bottom col-top">
      <form class="form-horizontal text-left" name="priceVol_form" novalidate>
           <div class="form-group" ng-class="{ 'form-group_alert' : priceVol_form.from_q.$invalid && !priceVol_form.from_q.$pristine }">
                                      <label for="from_q" class="control-label col-sm-3"><strong>{l}From Qty{endl}</strong></label>
                                      <div class="col-sm-7">
                                          <input type="text" class="form-control" ng-model="setPriceVol.obj.from_q" placeholder="{l}From Qty{endl}" id="from_q" name="from_q" required>
                                          <div class="alert alert-sm alert-danger " ng-if="priceVol_form.from_q.$invalid && setPriceVol.alertsField.from_q">{{setPriceVol.alertsField.from_q}}
                                          </div>
                                      </div>
                                      <div class="col-sm-2">{l}items{endl}</div>
           </div>
            <div class="form-group">
                                      <label for="to_q" class="control-label col-sm-3">{l}To Qty{endl}</label>
                                      <div class="col-sm-7">
                                          <input type="text" class="form-control" ng-model="setPriceVol.obj.to_q" placeholder="{l}To Qty{endl}" id="to_q">
                                      </div>
                                       <div class="col-sm-2">{l}items{endl}</div>
           </div>
            <div class="form-group">
                                      <label for="percent" class="control-label col-sm-3">{l}Volume percent{endl}</label>
                                      <div class="col-sm-7">
                                          <input type="text" class="form-control" ng-model="setPriceVol.obj.percent" placeholder="{l}Volume percent{endl}" id="percent" display-nr="" ng-blur="setPriceVol.setPrice('percent',setPriceVol.obj.base_price)" >
                                      </div>
                                      <div class="col-sm-2">%</div>
           </div>
           <div class="form-group" ng-class="{ 'form-group_alert' : priceVol_form.price_q.$invalid && !priceVol_form.price_q.$pristine }">
                                      <label for="price_q" class="control-label col-sm-3"><strong>{l}Price{endl}</strong></label>
                                      <div class="col-sm-9">
                                          <input type="text" class="form-control" name="price_q" ng-model="setPriceVol.obj.price_q" placeholder="{l}Price{endl}" id="price_q" display-nr="" ng-blur="setPriceVol.setPrice('price_q',setPriceVol.obj.base_price)">
                                          <div class="alert alert-sm alert-danger" ng-if="priceVol_form.from_q.$invalid && setPriceVol.alertsField.from_q">{{setPriceVol.alertsField.from_q}}
                                          </div>
                                      </div>
           </div>


           <div class="form-group">
        

         
          <label for="price_q" class="control-label col-sm-3">{l}VAT{endl}</label>
           <div class="col-sm-9">
          <select class="form-control" ng-model="setPriceVol.obj.vat_id">
                        <option ng-repeat="option in setPriceVol.obj.vat_dd track by option.id" value="{{option.id}}" ng-bind-html="option.name"></option>
                      </select>
            </div>          
        
          </div>
     

    
      </form>
</div>	
</div>
<div class="modal-footer">
      <button class="btn btn-plain" type="button" ng-click="setPriceVol.cancel()">{l}Cancel{endl}</button>
    	<button class="btn btn-default" type="button" ng-click="setPriceVol.ok(priceVol_form)">{l}Save{endl}</button>
</div>