<div class="modal-header">
  	<button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="setTresh.cancel()"><span aria-hidden="true">&times;</span></button>
  	<h4 class="modal-title">{l}Set Threshold Values{endl}</h4>
</div>
<div class="modal-body">
<div class="col-sm-12 col-bottom col-top">
      <form class="form-horizontal text-left" name="tresh_form" no-validate=''>
       <table class="table active_rows orderTable">
              <thead>
                <tr>
                 <th class="col-sm-3" ><strong>{l}Depot/Customer{endl}</strong></th>
                  <th class="col-sm-4" ><strong>{l}Address{endl}</strong></th>
                   <th class="col-sm-2" ><strong>{l}Article Threshold Value{endl}</strong></th>
                    <th class="text-center col-sm-3" ><strong>{l}In Stock{endl}</strong></th>
                </tr>
              </thead> 
         
      <tbody>
                <tr ng-repeat="item in setTresh.list" class="collapseTr">
                <td class="text-muted ng-cloak">{{::item.customer_name}}</td>
                <td class="text-muted ng-cloak">{{::item.address}},{{::item.zip}},{{::item.city}}<br/>{{::item.country}}</td>
                <td class="col-adjust-itext-mutednput text-nowrap"><input  type="text" ng-model="item.threshold_value"  size="7" class="form-control"  display-nr /></td>
                <td class="text-center text-muted ng-cloak">{{::item.current_quantity}}</td>
                </tr>

          </tbody>       
  </table>    
      


      
      </form>
</div>	
</div>
<div class="modal-footer">
      <button class="btn btn-plain" type="button" ng-click="setTresh.cancel()">{l}Cancel{endl}</button>
    	<button class="btn btn-default" type="button" ng-click="setTresh.ok(tresh_form)">{l}Save{endl}</button>
</div>