<div class="modal-header">
  	<button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="setTaxes.ok(taxes_form)"><span aria-hidden="true">&times;</span></button>
  	<h4 class="modal-title">{l}Manage taxes{endl}
  		<button type="button" class="btn btn-primary btn-add" ng-click="setTaxes.openModal('editTaxes','tmp','md')" uib-tooltip="{l}Add Tax{endl}" tooltip-placement="right"><span class="btn-add_icon"><span class="icon-bar"></span><span class="icon-bar-2"></span></span></button>
  	</h4>
</div>
<div class="modal-body modal-body_alt">
<div class="col-sm-12 col-bottom col-top">
      <div class="row page-search">
        <form>
          <div class="col-xs-12 page-search_options">        
              <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 col-search-input">
                    <div class="so-field" ng-class="{ 'so-active':setTaxes.search.search!='' }">
                   <span class="glyphicon glyphicon-search so-icon"></span>
                   <input class="form-control" type="text" placeholder="{l}Search{endl}" search-it doit="setTaxes.search" callbk="setTaxes.renderList" ng-model="setTaxes.search.search" autofocus>
                   </div>
                </div>
              </div>     
          </div><!-- /.page-search_options -->
        </form>
      </div><!-- /.page-search -->
      <form class="form-horizontal text-left" name="taxes_form" no-validate=''>
       <!-- <div  ng-repeat="item in setTaxes.list"> -->
           <!-- <div class="col-sm-4"><input type="checkbox" ng-model="item.tax">{{::item.code}} ({{::item.amount}})</div> -->
       		
       		<table class="table" width="100%">
                            <thead>
                              <tr>
                                  <th class="col-sm-1" >{l}Type of tax{endl}</th>
                                  <th class="col-sm-2" >{l}Name{endl}</th>                                
                                  <th class="col-sm-2" >{l}Amount{endl}</th>
                                  <th class="col-sm-2">{l}Vat on tax{endl}</th>
                                  <th class="col-sm-2">{l}Application{endl}</th>
                                  <th class="col-sm-1 table_actions"> </th>
                              </tr>  
                          </thead>
                          <tbody>
                              <tr ng-repeat="item in setTaxes.list ">
                                  <td ><span ng-bind-html="item.tax_type"></span></td>
                                  <td ><span ng-bind-html="item.taxe_code"></span></td>
                                  <td ><span ng-bind-html="item.tax_value"></span></td>
                                  <td ><span ng-bind-html="item.tax_vat"></span></td>
                                  <td ><span ng-bind-html="item.apply_to"></span></td>
                                  <td class="table_actions">
                                      <div class="btn-group" uib-dropdown>
                                          <button type="button" class="btn btn-plain dropdown-toggle" uib-dropdown-toggle>
                                              <span class="caret"></span>
                                          </button>
                                          <ul class="dropdown-menu dropdown-menu-right" uib-dropdown-menu>
                                              <li class="dropdown-header">{l}Action{endl}</li>
                                              <li><a href="#" ng-click="setTaxes.action(item.tax_id,'add_article_tax')" ng-if="!item.applied_tax"><i class="fa fa-check" aria-hidden="true"></i>{l}Apply to article{endl}</a></li>
                                              <li><a href="#" ng-click="setTaxes.action(item.tax_id, 'remove_article_tax')" ng-if="item.applied_tax"><i class="fa fa-close" aria-hidden="true"></i>{l}Remove from article{endl}</a></li>
                                              <li><a href="#" ng-click="setTaxes.openModal('editTaxes',item.tax_id,'md')" ><span class="fas fa-pen text-primary"></span> {l}Edit{endl}</a></li>
                                              <li><a href="#" ng-click="setTaxes.deleteTax(item.tax_id)" confirm="{l}Are you sure you want to delete this entry?{endl}"><i class="fa fa-trash" aria-hidden="true"></i> {l}Delete{endl}</a></li>
                                          </ul>
                                      </div>
                                  </td>
                              </tr>
                          </tbody>
                      </table>
   <!--     </div> -->

      
      </form>
      <ul ng-if="setTaxes.max_rows > 10" uib-pagination total-items="setTaxes.max_rows" ng-model="setTaxes.search.offset" ng-change="setTaxes.searchThing()" max-size="5" class="pager" boundary-links="true" items-per-page="setTaxes.lr" ></ul>
</div>	
</div>
<div class="modal-footer">
    	<button class="btn btn-plain" type="button" ng-click="setTaxes.ok(taxes_form)">{l}Close{endl}</button>
</div>