<div class="modal-header">
  	<button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="viewAntStock.cancel()"><span aria-hidden="true">&times;</span></button>
  	<h4 class="modal-title">{l}Anticipated Stock for{endl} {{::viewAntStock.item_code}} {{::viewAntStock.internal_name}} </h4>
</div>
<div class="modal-body">
<div class="col-sm-12 col-bottom col-top">
     
       <table class="table active_rows orderTable" ng-if="viewAntStock.is_order_data">
             <thead>
                <tr>
                 <th class="col-sm-12 active" colspan="6" ><strong>{l}Orders{endl}</strong></th>
                 
                </tr>
              </thead> 
             <thead>
                <tr>
                  <th class="col-sm-2" ><strong>{l}Order{endl}</strong></th>
                  <th class="col-sm-4" ><strong>{l}Customer{endl}</strong></th>
                  <th class="col-sm-2" ><strong>{l}Date{endl}</strong></th>
                  <th class="col-sm-2" ><strong>{l}Delivery Date{endl}</strong></th> 
                  <th class="col-sm-2 text-center" ><strong>{l}Quantity{endl}</strong></th>
                </tr>
              </thead>  
        <tbody>
                <tr ng-repeat="item_order in viewAntStock.list_order">
                <td class="text-muted ng-cloak" ng-click="viewAntStock.cancel()" go-to="" state="order.view" params='{"order_id": {{::item_order.id}}}'>{{::item_order.serial_number}}</td>
                <td class="text-muted ng-cloak" ng-click="viewAntStock.cancel()" go-to="" state="order.view" params='{"order_id": {{::item_order.id}}}'>{{::item_order.customer}}</td>
                <td class="text-muted ng-cloak" ng-click="viewAntStock.cancel()" go-to="" state="order.view" params='{"order_id": {{::item_order.id}}}'>{{::item_order.created}}</td>
                <td class="text-muted ng-cloak" ng-click="viewAntStock.cancel()" go-to="" state="order.view" params='{"order_id": {{::item_order.id}}}'>{{::item_order.delivery_date}}</td>
                <td class=" ng-cloak text-center" ng-click="viewAntStock.cancel()" go-to="" state="order.view" params='{"order_id": {{::item_order.id}}}'>{{::item_order.quantity}}</td>
                </tr>

          </tbody>       
  </table>    
  <table class="table active_rows orderTable" ng-if="viewAntStock.is_project_data">
             <thead>
                <tr>
                 <th class="col-sm-12 active" colspan="6" ><strong>{l}Projects{endl}</strong></th>
                 
                </tr>
              </thead> 
             <thead>
                <tr>
                  <th class="col-sm-2" ><strong>{l}Project{endl}</strong></th>
                  <th class="col-sm-4" ><strong>{l}Customer{endl}</strong></th>
                  <th class="col-sm-2" ><strong>{l}Start Date{endl}</strong></th>
                  <th class="col-sm-2" ><strong>{l}End Date{endl}</strong></th> 
                  <th class="col-sm-2 text-center" ><strong>{l}Quantity{endl}</strong></th>
                </tr>
              </thead>  
        <tbody>
                <tr ng-repeat="item_project in viewAntStock.list_project">
                <td class="text-muted ng-cloak" ng-click="viewAntStock.cancel()" go-to="" state="project.edit" params='{"project_id": {{::item_project.project_id}}}'>{{::item_project.serial_number}}</td>
                <td class="text-muted ng-cloak" ng-click="viewAntStock.cancel()" go-to="" state="project.edit" params='{"project_id": {{::item_project.project_id}}}'>{{::item_project.customer}}</td>
                <td class="text-muted ng-cloak" ng-click="viewAntStock.cancel()" go-to="" state="project.edit" params='{"project_id": {{::item_project.project_id}}}'>{{::item_project.start_date}}</td>
                <td class="text-muted ng-cloak" ng-click="viewAntStock.cancel()" go-to="" state="project.edit" params='{"project_id": {{::item_project.project_id}}}'>{{::item_project.end_date}}</td>
                <td class=" ng-cloak text-center" ng-click="viewAntStock.cancel()" go-to="" state="project.edit" params='{"project_id": {{::item_project.project_id}}}'>{{::item_project.quantity}}</td>
                </tr>

          </tbody>       
  </table>    

    <table class="table active_rows orderTable" ng-if="viewAntStock.is_intervention_data">
             <thead>
                <tr>
                 <th class="col-sm-12 active" colspan="6" ><strong>{l}Intervention{endl}</strong></th>
                 
                </tr>
              </thead> 
             <thead>
                <tr>
                  <th class="col-sm-2" ><strong>{l}Intervention{endl}</strong></th>
                  <th class="col-sm-4" ><strong>{l}Customer{endl}</strong></th>
                  <th class="col-sm-4" ><strong>{l}Planned date{endl}</strong></th>
                 
                  <th class="col-sm-2 text-center" ><strong>{l}Quantity{endl}</strong></th>
                </tr>
              </thead>  
        <tbody>
                <tr ng-repeat="item_intervention in viewAntStock.list_intervention">
                <td class="text-muted ng-cloak" ng-click="viewAntStock.cancel()" go-to="" state="service.view" params='{"service_id": {{::item_intervention.service_id}}}'>{{::item_intervention.serial_number}}</td>
                <td class="text-muted ng-cloak" ng-click="viewAntStock.cancel()" go-to="" state="service.view" params='{"service_id": {{::item_intervention.service_id}}}'>{{::item_intervention.customer}}</td>
                <td class="text-muted ng-cloak" ng-click="viewAntStock.cancel()" go-to="" state="service.view" params='{"service_id": {{::item_intervention.service_id}}}'>{{::item_intervention.planeddate}}</td>
               
                <td class=" ng-cloak text-center" ng-click="viewAntStock.cancel()" go-to="" state="service.view" params='{"service_id": {{::item_intervention.service_id}}}'>{{::item_intervention.quantity}}</td>
                </tr>

          </tbody>       
  </table>   
  <table class="table active_rows orderTable" ng-if="viewAntStock.is_po_order_data">
             <thead>
                <tr>
                 <th class="col-sm-12 active" colspan="6" ><strong>{l}Purchase Order{endl}</strong></th>
                 
                </tr>
              </thead> 
             <thead>
                <tr>
                  <th class="col-sm-2" ><strong>{l}Purchase Order{endl}</strong></th>
                  <th class="col-sm-4" ><strong>{l}Supplier{endl}</strong></th>
                  <th class="col-sm-2" ><strong>{l}Date{endl}</strong></th>
                  <th class="col-sm-2" ><strong>{l}Delivery Date{endl}</strong></th> 
                 
                  <th class="col-sm-2 text-center" ><strong>{l}Quantity{endl}</strong></th>
                </tr>
              </thead>  
        <tbody>
                <tr ng-repeat="item_po_order in viewAntStock.list_po_order">
                <td class="text-muted ng-cloak" ng-click="viewAntStock.cancel()" go-to="" state="purchase_order.view" params='{"p_order_id": {{::item_po_order.id}}}'>{{::item_po_order.serial_number}}</td>
                <td class="text-muted ng-cloak" ng-click="viewAntStock.cancel()" go-to="" state="purchase_order.view" params='{"p_order_id": {{::item_po_order.id}}}'>{{::item_po_order.customer}}</td>
                <td class="text-muted ng-cloak" ng-click="viewAntStock.cancel()" go-to="" state="purchase_order.view" params='{"p_order_id": {{::item_po_order.id}}}'>{{::item_po_order.created}}</td>
                <td class="text-muted ng-cloak" ng-click="viewAntStock.cancel()" go-to="" state="purchase_order.view" params='{"p_order_id": {{::item_po_order.id}}}'>{{::item_po_order.delivery_date}}</td>
               
                <td class=" ng-cloak text-center" ng-click="viewAntStock.cancel()" go-to="" state="purchase_order.view" params='{"p_order_id": {{::item_po_order.id}}}'>{{::item_po_order.quantity}}</td>
                </tr>

          </tbody>       
  </table>         


     
     
</div>	
</div>
<div class="modal-footer">
      <button class="btn btn-plain" type="button" ng-click="viewAntStock.cancel()">{l}Cancel{endl}</button>
    	
</div>