<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="cancel()"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title">{l}Add Stock Dispatching{endl}</h4>
</div>
<div class="modal-body delivery_modal">
  <div uib-alert ng-repeat="alert in alerts" type="{{alert.type}}" close="alerts.splice($index, 1);" ng-class="['alert-' + (alert.type || 'warning') ]">{{alert.msg}}</div>
 
  <form class="form-horizontal"  >
  
    <div class="form-group" ng-if="delivery.is_add">
      <label class="col-xs-3 control-label text-left">{l}Note{endl}</label>
      <div class="col-xs-9">
        <textarea ng-model="delivery.delivery_note" class="form-control" rows="2"></textarea>
      </div>
    </div>
    <div class="form-group" ng-if="!delivery.is_add">
      <label class="col-xs-3 control-label text-left">{l}Note{endl}</label>
      <div class="col-xs-9">
        <textarea ng-model="delivery.delivery_note" class="form-control" rows="2"></textarea>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <table class="table deliveryTable">
          <thead>
            <tr>
              <th >{l}Code{endl}</th>
              <th class="delivery_art_width">{l}Article{endl}</th>
              <th class="low_width_deliv">{l}Quantity{endl}</th>
              <th ng-if="delivery.use_serial_no">{l}Serial Numbers{endl}</th>
              <th ng-if="delivery.use_batch_no">{l}Batch Numbers{endl}</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="item in delivery.lines" class="collapseTr">
              <td>{{::item.code}}</td>
              <td class="delivery_art_width">{{::item.article}}</td>
              <td ng-class="{ 'is-error':item.is_error }" class="low_width_deliv"><input type="text" ng-model="item.quantity" class="form-control" display-nr=""></td>
              <td ng-if="delivery.use_serial_no"><button type="button" class="btn " ng-if="item.use_serial_no_art" ng-click="openModal('serialNr',item)" ng-class="{ 'btn-primary':item.serialOk, 'btn-secondary':!item.serialOk }">{l}Serial Numbers{endl}</button>   </td>
              <td ng-if="delivery.use_batch_no"><button type="button" class="btn " ng-if="item.use_batch_no_art" ng-click="openModal('batchNr',item)" ng-class="{ 'btn-primary':item.batchOk, 'btn-secondary':!item.batchOk }">{l}Batch Numbers{endl}</button>   </td>               
            </tr>
          </tbody>
        </table>
      </div>
    </div><!-- /.tabelu -->
   
    <!-- <div class="form-group">
      <label class="col-xs-3 control-label text-left"><b>{l}Delivery note{endl}:</b></label>
      <div class="col-xs-9">
        <textarea ng-model="delivery.delivery_note" class="form-control" rows="5"></textarea>
      </div>
    </div> -->
   
  
  </form>
</div>
<div class="modal-footer">
    <button class="btn btn-plain" type="button" ng-click="cancel()">{l}Close{endl}</button>
    <button class="btn btn-default" type="button" ng-click="ok()">{l}Save{endl}</button>
</div>