<div class="modal-header">
  	<button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="prog.cancel()"><span aria-hidden="true">&times;</span></button>
  	<h4 class="modal-title">{l}Create Purchase Order{endl}</h4>
</div>
<div class="modal-body">
	<div class="loading_wrap loading_alt hidden">
      	<div class="loading"></div>
        <div class="spinner"></div>
    </div>
    <div>
	    <table class="table" id="po_articles_list">
	      <thead>
	        <tr>
	          	<th class="col-sm-2">{l}Code{endl}</th>
	          	<th class="col-sm-4">{l}Description{endl}</th>
	          	<th class="col-sm-2">{l}Quantity{endl}</th>
	          	<th class="col-sm-4">{l}Supplier{endl}</th>
	        </tr>
	      </thead>
	      <tbody>
	        <tr ng-repeat="item in prog.obj.lines" >
	        	<td class="text-muted" ng-if="!item.supplier_reference">{{::item.article_code}}</td>
	        	<td class="text-muted" ng-if="item.supplier_reference">{{::item.supplier_reference}}</td>
	        	<td class="text-muted"><span class="text-truncate"><span ng-if="item.internal_name">{{::item.internal_name}}</span> <span ng-if="item.article_name">{{::item.article_name}}</span></span></td>
	        	<td class="text-muted">{{::item.quantity}}</td>
	        	<td> 
	        		<div class="form-group">
                      	<selectize class="multi_select" name="customer_id_{{$index}}" config='prog.filterCust' options='item.supplier_dd' ng-model="item.supplier_id" placeholder="{l}Select Supplier{endl}" ng-disabled="item.disabled"></selectize>
                    </div>
                </td>
	        </tr>
	      </tbody>
	    </table>
	</div>
    <div class="progress">     	
	  	<div class="progress-bar" role="progressbar" aria-valuenow="{{prog.value}}" aria-valuemin="0" aria-valuemax="100" style="width: {{prog.value}}%;"></div>
	</div>
	<div class="col-sm-12 text-center">
		<button class="btn btn-default" ng-show="prog.start" ng-click="prog.ok()">{l}Start{endl}</button>
	</div>
	<div uib-alert type="info" class="alert-info col-sm-12">{l}If you close this dialog then the process will{endl} <strong>{l}stop{endl}</strong>.</div>
	<div class="col-sm-12" uib-alert ng-repeat="alert in prog.alerts" type="{{alert.type}}" close="prog.alerts.splice($index, 1);" ng-class="['alert-' + (alert.type || 'warning') ]">{{alert.msg}}</div>	
</div>