<!-- <div uib-alert ng-repeat="alert in alerts" type="{{alert.type}}" close="alerts.splice($index, 1);" dismiss-on-timeout="5000" ng-class="['alert-' + (alert.type || 'warning') ]">{{alert.msg}}</div> -->
<div class="panel panel-primary panel-order">
  <div class="panel-body">
    <div class="row">
      <div class="col-sm-6 col-md-3">
          <h4 class="title_underline">{l}Dispatch Note Details{endl}</h4>          
            <p><strong>{l}Date{endl}</strong> {{::stock_disp.factur_date}}</p>
            <p ng-if="::stock_disp.our_ref"><strong>{l}Our reference{endl}</strong> {{::stock_disp.our_ref}}</p>
            <p ng-if="::stock_disp.your_ref"><strong>{l}Your reference{endl}</strong> {{::stock_disp.your_ref}}</p>
          

           
           
      </div>
      <div class="col-sm-6 col-md-3">
          <h4 class="title_underline">{{::stock_disp.from_naming}}</h4>
          <p>{{::stock_disp.from_address}}</p>
          <p>{{::stock_disp.from_zip}} {{::stock_disp.from_city}}</p>
          <p>{{::stock_disp.from_country}}</p>
        
      </div>
      <div class="col-sm-6 col-md-3">
         
        <h4 class="title_underline">{{::stock_disp.to_naming}}</h4>
          <p>{{::stock_disp.to_address}}</p>
          <p>{{::stock_disp.to_zip}} {{::stock_disp.to_city}}</p>
          <p>{{::stock_disp.to_country}}</p>
         
             
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="row">
            <div class="col-md-12">
              <h4 class="title_underline">{l}Delivery{endl}</h4>
              <ul class="compact_list compact_list-margin">
                <li ng-repeat="item in stock_disp.deliveries">
                  <div class="compact_list-options">
                    <a href="index.php?do=stock-stock_dispatch_print&amp;stock_disp_id={{stock_disp_id}}&amp;lid={{stock_disp.default_lang}}&amp;type={{stock_disp.pdf_del_type}}&amp;delivery_id={{item.delivery_id}}" target="_blank"><span class="far fa-file-pdf" aria-hidden="true"></span></a>
                    
                    <a href="#" ng-click="deleteDelivery(item.del_delivery_link)"><span class="glyphicon glyphicon-remove"></span></a>
                    <a href="#" ng-click="openSendModal()" ><span class="far fa-envelope"></span></a>
                  </div>
                  <div class="compact_list-info">
                    <span class="delivery-date" ng-class="{ 'delivery-partially':item.active=='delivered', 'delivery-full':item.active=='active', 'delivery-not':item.active=='not_delivered' }" >{{item.delivey}} <span class="akti-icon " ng-class="{ 'o_akti_delivery-alt':item.del_by_two_steps && item.active!='not_delivered', 'o_akti_delivery':item.del_by_two_steps && item.active=='not_delivered' }"></span></span>
                    <a class="text-success" href="#" ng-if="item.del_by_two_steps && item.active=='not_delivered'" ng-click="openDeliveyModal(item.delivery_id)"><span class="fa fa-check-circle" aria-hidden="true"></span></a>
                  </div>
                </li>
              </ul>
              <div class="blank_card text-center">
                <!-- <div class="" ng-show="!order.deliveries.length"></div>
                <p class="text-muted col-top" ng-show="!stock_disp.deliveries.length">{l}Keep track of your deliveries.{endl}</p>
                <div class="text-center col-top"><a class="btn btn-lg_icon btn-primary" ng-click="openDeliveyModal()"  ng-show="stock_disp.is_sent && stock_disp.is_deliveredd"><span class="akti-icon o_akti_delivery"></span> {l}Add Delivery{endl}</a></div> -->
               
              </div>
              <div>

            

               
               
              </div>
            </div>
        </div>
      </div>
     
    </div>
  </div>
</div>
<div class="row intervention-options">
	<div class="col-xs-12">
    	<div class="module_steps">
        	<ul class="module_steps-tabs">
            	<li ng-if="stock_disp.is_active" ng-class="{ 'selected':stock_disp.selectedDraft }"><span class="badge">1</span> {l}Draft{endl}</li>
                <li ng-if="stock_disp.is_active" ng-class="{ 'selected':stock_disp.selectedSent }"><span class="badge">2</span> {l}Confirmed{endl}</li>
                <li ng-if="stock_disp.is_active" ng-class="{ 'selected':stock_disp.selectedWon }"><span class="badge">3</span> {l}Delivered{endl}</li>
                <li class="module_steps-options" >
                	<!-- <a class="btn btn-plain" href="#" ng-click="showTxt.sendEmail=true"><span class="glyphicon glyphicon-envelope"></span><span class="hideOnTablet"> {l}Send by Email{endl}</span></a>
                  <div class="btn-group">
                    <a class="btn btn-plain" href="{{stock_disp.pdf_link}}" target="_blank"><span class="glyphicon glyphicon-print"></span><span class="hideOnTablet"> {l}Generate PDF{endl}</span></a>
                   
                  </div> -->
                
                </li>
            </ul><!-- /.module_steps-tabs -->
            <div class="module_steps-content">
              <div class="row" ng-if="stock_disp.is_archived">
                <div class="col-sm-12">  
                    <a class="btn btn-plain" ng-click="deleteDocument()" title="{l}Delete{endl}" confirm-title="{l}Confirm{endl}" confirm-ok="{l}OK{endl}" confirm-cancel="{l}Cancel{endl}" confirm="{l}Are you sure you want to delete the selected entries{endl}?">{l}Delete{endl}</a>
                    <a class="btn btn-default" title="{l}Activate{endl}" ng-click="statusDocument('0')">{l}Activate{endl}</a>
                </div>          
              </div>
            	<div class="row" ng-if="stock_disp.selectedDraft && stock_disp.is_active">
                	<div class="col-xs-8">
                        <a class="btn btn-plain" ui-sref="stock_dispatch.edit({'stock_disp_id': stock_disp_id})" >{l}Edit{endl}</a>
                        <!-- <a class="btn btn-secondary" href="#" ng-click="showTxt.markAsReady=true" >{l}Next{endl} <span class="glyphicon glyphicon-chevron-right"></span></a> -->
                        <a class="btn btn-default" href="#" ng-click="showTxt.markAsReady=true; markOrder('mark_sent')"  >{l}Confirm{endl}</a>
                        <div class="dropdown btn-inline" uib-dropdown>
                            <button class="btn btn-plain dropdown-toggle" id="orderOptions" type="button" uib-dropdown-toggle>
                              {l}Actions{endl} &nbsp;<span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" uib-dropdown-menu>
                              <li><a href="{{stock_disp.pdf_link}}" target="_blank"><i class="far fa-file-pdf"></i> {l}Download PDF{endl}</span></a></li>
                              <li><a href="#" ng-click="email.alerts=[];sendEmail()" ><span class="far fa-envelope"></span> {l}Send by Email{endl}</a></li>
                              <li><a href="" ng-click="statusDocument('1')"><span class="fas fa-archive text-primary"></span> {l}Archive{endl}</a></li>
                            </ul>
                        </div>
                        <div class="pull-right" ng-if="order.is_front"><span class="akti-icon o_akti_webshop"></span></div>
                    </div>
                   
                  
                </div><!-- /.row:DRAFT -->
            	<div class="row" ng-if="stock_disp.selectedSent && stock_disp.is_active">
                  <div class="col-xs-8">
                    <!-- <a class="btn btn-tertiary" ng-click="markOrder('mark_as_draft')" ng-if="stock_disp.no_delivery" ><span class="glyphicon glyphicon-chevron-left"></span> {l}Revert to draft{endl}</a> -->
                    <a class="btn btn-plain" ng-click="markOrder('mark_as_draft')" ng-if="stock_disp.no_delivery" > {l}Back to draft{endl}</a>
                    <a class="btn btn-default" ng-click="openDeliveyModal()"  ng-show="stock_disp.is_sent && stock_disp.is_deliveredd"> {l}Create delivery note{endl}</a>
                    <li class="text-muted text-spacer" ng-show="stock_disp.are_delivery">{l}OR{endl}</li>
                    <a class="btn text-link"  ng-click="markOrder('mark_as_delivered')" ng-if="stock_disp.are_delivery">{l}Mark as delivered{endl}</a>                 
                    <!-- <a class="btn btn-lg_icon btn-plain"  ng-click="markOrder('mark_as_delivered')" ng-if="stock_disp.are_delivery"><span class="akti-icon o_akti_delivery-alt"></span>{l}Mark as received{endl}</a> -->
                    <div class="dropdown btn-inline" uib-dropdown>
                        <button class="btn btn-plain dropdown-toggle" id="orderOptions" type="button" uib-dropdown-toggle>
                          {l}Actions{endl} &nbsp;<span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" uib-dropdown-menu>
                          <li><a href="{{stock_disp.pdf_link}}" target="_blank"><i class="far fa-file-pdf"></i> {l}Download PDF{endl}</span></a></li>
                          <li><a href="#" ng-click="email.alerts=[];sendEmail()" ><span class="far fa-envelope"></span> {l}Send by Email{endl}</a></li>
                        </ul>
                    </div>
                  </div>
                                  
                </div><!-- /.row:PLANNED -->
                <div class="row" ng-if="stock_disp.selectedWon && stock_disp.is_active">
                  <div class="col-xs-8">
                    <div class="dropdown btn-inline" uib-dropdown>
                        <button class="btn btn-plain dropdown-toggle" id="orderOptions" type="button" uib-dropdown-toggle>
                          {l}Actions{endl} &nbsp;<span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" uib-dropdown-menu>
                          <li><a href="{{stock_disp.pdf_link}}" target="_blank"><i class="far fa-file-pdf"></i> {l}Download PDF{endl}</span></a></li>
                          <li><a href="#" ng-click="email.alerts=[];sendEmail()" ><span class="far fa-envelope"></span> {l}Send by Email{endl}</a></li>
                        </ul>
                    </div>
                  </div>
                                  
                </div><!-- /.row:CLOSED -->
            
                <div class="row">
                	<div class="col-xs-12">
                	  <div class="module_steps-highlight module_steps-fillsheet" ng-show="showTxt.sendEmail">
                      <form class="form-horizontal">
                        <div class="form-group">
                              <div class="col-xs-12 text-right">
                                  <button type="submit" class="btn btn-plain" ng-click="showTxt.sendEmail=false">{l}Cancel{endl}</button>
                                  <button type="submit" class="btn btn-primary" ng-click="email.alerts=[];sendEmails(email)">{l}Send{endl}</button>
                              </div>
                          </div>
                          <div class="form-group">
                            <label for="" class="col-xs-3 control-label text-left">{l}Recipients{endl}</label>
                            <div class="col-xs-9">
                              <selectize config='contactForEmailAutoCfg' options='auto.options.recipients' ng-model="email.recipients" ></selectize>
                            </div>
                          </div>
                          <div class="form-group">
                            <label for="" class="col-xs-3 control-label text-left">{l}Send me a copy{endl}</label>
                            <div class="col-xs-9 checkbox">
                              <label>
                                <input type="checkbox" ng-model="email.copy" >
                              </label>
                            </div>
                          </div>
                          <div class="form-group">
                            <label for="" class="col-xs-3 control-label text-left">{l}Subject{endl}</label>
                            <div class="col-xs-9">
                              <input type="text" class="form-control" ng-model="email.e_subject" placeholder="{l}Subject{endl}">
                            </div>
                          </div>
                          <div class="form-group">
                            <label for="" class="col-xs-3 control-label text-left">{l}Message{endl}</label>
                            <div class="col-xs-9">
                              <textarea class="form-control" ng-model="email.e_message" placeholder="{l}Message{endl}" rows="10" ng-if="::stock_disp.use_html=='0'"></textarea>
                              <wysiwyg textarea-id="question" textarea-class="form-control" textarea-height="184px" ng-model="email.e_message" enable-bootstrap-title="true" textarea-menu="yourModel.menu" ng-if="::stock_disp.use_html=='1'"></wysiwyg>
                            </div>
                          </div>
                          <div class="form-group">
                              <div class="col-xs-12 text-right">
                                  <a ng-click="showPreview(email)">{l}Preview{endl}</a>
                              </div>
                          </div>
                          <div class="form-group">
                            <label for="" class="col-xs-3 control-label text-left">{l}PDF Language{endl}</label>
                            <div class="col-xs-9">
                              <select class="form-control" ng-model="email.email_language">
                                <option ng-repeat="option in stock_disp.language_dd track by option.id" value="{{option.id}}">{{option.name}}</option>
                              </select>
                            </div>
                          </div>
                          <div class="form-group">
                            <label for="" class="col-xs-3 control-label text-left">{l}Include a PDF version of the stock dispatching{endl}</label>
                            <div class="col-xs-9 checkbox">
                              <label>
                                <input type="checkbox" ng-model="email.include_pdf" >
                              </label>
                            </div>
                          </div>
                         
                          <div class="row">
                              <div class="col-xs-12 text-right">
                                  <button type="submit" class="btn btn-plain" ng-click="showTxt.sendEmail=false">{l}Cancel{endl}</button>
                                  <button type="submit" class="btn btn-primary" ng-click="email.alerts=[];sendEmails(email)">{l}Send{endl}</button>
                              </div>
                          </div>
                      </form>
                    </div>
                </div>
              </div>
            </div><!-- /.module_steps-content -->
            <div uib-alert ng-repeat="alert in email.alerts" type="{{alert.type}}" close="email.alerts.splice($index, 1);" ng-class="['alert-' + (alert.type || 'warning') ]">{{alert.msg}}</div>
        </div><!-- /.module_steps -->        
    </div>
</div><!-- /.intervention-options -->
<div class="row">
	<div class="col-xs-12">
    <table class="table table_orders">
      <thead>
        <tr>
          <th class="col-sm-4">{l}Code{endl}</th>
          <th class="col-sm-6">{l}Article{endl}</th>
          <th class="col-sm-2 text-center">{l}Quantity{endl}</th>
          
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="item in stock_disp.lines" >
          <td ng-if="item.content"><code class="text-ellipsis">{{::item.article_code}}</code></td>
          <td ng-if="item.content"><div ng-bind-html="::item.article"></div></td>
          <td ng-if="item.content" class="text-center text-muted">{{::item.quantity}}</td>
         
        </tr>
      </tbody>
    </table>
	</div>
</div>

<div class="user_summary" ng-class="{ 'is-open': showTxt.viewNotes }">
  <button class="btn-summary text-link" ng-click="showTxt.viewNotes=!showTxt.viewNotes"><span class="glyphicon glyphicon-chevron-down pull-right"></span> {l}Notes{endl} &amp; {l}Extra information{endl}</button>
  <div class="row col-top col-bottom">
    <div class="col-sm-8" >
      <p ng-bind-html="::stock_disp.notes"></p>
    </div>
    <div class="col-sm-4" ng-if="stock_disp.is_extra">
      <div class="panel panel-primary">
          <div class="panel-body">
              <p ng-bind-html="::stock_disp.extra_info"></p>
            </div>
        </div>
    </div>
  </div>
</div><!-- /.user_summary -->
<logging do='stock-stock_disp' type="stock_disp_id" ref="{{stock_disp_id}}"></logging>