<!-- neede on all pages -->
<div class="container">
  <div class="page-header">
    <div class="row">
      <div class="col-sm-8">
        <h1>{l}Stock Dispatch{endl} {{serial_number}} <span class="badge item-status-gray" ng-class="{ 'item-status-green':nr_status=='green', 'item-status-yellow':nr_status=='orange' }">{{type_title}}</span></h1>
      </div>
      <div class="col-sm-4 page-header-options" ng-if="isAddPage">
        <button  go-to="" state="stock_dispatching"  type="submit" class="btn btn-sm btn-default"><strong>{l}Back{endl}</strong></button>
     
      </div>
    </div>        
  </div><!-- /.page-header -->
  <div ui-view></div>
</div>
<!-- neede on all pages --> 