<style>
body {	color: #000;	font-family: Arial, Helvetica, sans-serif;	font-size: 9pt;  }
h1 {  font-size:10pt;	font-weight:bold;  }
table {  border-collapse: collapse;	border-spacing: 0;  }
table td {  font-size: 9pt;  }
.hide {  display:none;  }
.right {  text-align: right;  }
.light_grey {  color: #6a747c;	padding: 0px;  }
.borders {  border-top: 1px solid #000;	border-bottom: 1px solid #000;  }
</style>
{if:is_table}
<table cellpadding="3" cellspacing="0" border="0" width="100%" class="{hide_all}" >
  <tr>
    <td width="60%" height="96" colspan="2">&nbsp;</td>
    <td width="40%" valign="top" style="text-align:right;"><img src="{account_logo}" {attr} ></td>
  </tr>
  <tr>
    <td width="61%" class="light_grey" colspan="2"><h1>{seller_name}</h1>
      {seller_d_address}<br />
      {seller_d_zip} {seller_d_city} <br />
      {seller_d_country}<br />
      {if:hide_p}{phone_txt}: {seller_b_phone}<br />{end}
      {if:hide_f}{fax_txt}: {seller_b_fax}<br />{end}
      {if:hide_e}{email_txt}: {seller_b_email}<br />{end}
      {if:hide_u}{url_txt}: {seller_b_url}<br />{end}</td>
    <td width="39%">
  <tr>
    <td height="34">&nbsp;</td>
  </tr>
  <tr><td><h1>{buyer_name}</h1>
          {order_buyer_address}<br/>
          {order_buyer_zip} {order_buyer_city}<br/>
          {order_buyer_country}<br/>
  <br/>
 {buyer_phone}
{if:is_delivery}  <h1>{billing_address_txt}:</h1>
    {delivery_address}{end}
</td>
  </tr>
  </td>
  </tr>
  <tr class="{hide_b_d} light_grey" >
    <td colspan="2">{bank_txt}: {bank}<br />
        {bic_txt}: {bic}<br />
        {iban_txt}: {iban}<br />
    </td>
    <td>&nbsp;</td>
  </tr>
  <tr >
    <td class="light_grey" colspan="2" width="61%">{vat_number_txt}: {order_vat_no}<br />
      <br /></td>
    <!-- <td>{vat_number_txt}: {invoice_vat_no}</td> -->
  </tr>
  <tr>
    <td width="4%" class="borders" >&nbsp;</td>
    <td class="th borders" width="23%">{article_code_txt}</td>
    <td width="50%" class="borders" ><h1 style="font-size: 12pt;">{dispatch_txt} {serial_number}</h1></td>
    <td width="23%" class="borders" >{order_date} </td>     
    
  </tr>
</table>
<table width="100%" cellspacing="0" cellpadding="3" border="0" class="invoice_rows {hide_all}">
  <tbody>{if:delivery}{end}{if:sh_discount_total}{end}{if:show_vat}{end}
    <tr class="{hide_our_ref}">
      <td width="4%">&nbsp;</td>      
      <td width="16%"><strong>{our_ref_txt}</strong></td>
      <td colspan="4">{our_ref}</td>
    </tr>
    <tr class="{hide_your_ref}">
      <td width="4%">&nbsp;</td>
      <td width="16%"><strong>{your_ref_txt}</strong></td>
      <td colspan="4">{your_ref}</td>
    </tr>
    <tr><td colspan="6">&nbsp;</td></tr>
    {if:is_first_content_line}
    {if:is_content_line2}
    <tr>
      <td colspan="3" style="text-align:left;" >{content_line2}</td>
    </tr>
    {end}
    {end}
    {loop:order_row}
    <tr>
      <td width="4%">&nbsp;</td>
      {if:is_article_code}
      <td class="" width="25%">{article_code}</td>
      {end}
      <td class="first-of-type {content_class}" width="50%" style="text-align:left;" {colspan} >{article}
        {if:is_serial_number}{art_serial_number_list}{end}
        {if:is_batch_number}{art_batch_number_list}{end}
      </td>
        {if:is_article_code}
      <td class="last right" width="10%" >{quantity}</td>
      {end}
    </tr>
    {if:is_content_line}
    <tr>
      <td colspan="4" style="text-align:left;" >{content_line}</td>
    </tr>
    {end}    
    {endloop}
  </tbody>
</table>
{if:show_delivery_note}
<h1 style="font-size: 12pt;font-weight: bold; line-height: 10px;" >{delivery_note_txt}</h1>
<span style="font-size:9pt; line-height: 10px;">{delivery_note}</span>
<br />
{end}
<br />
<br />

<h1 style="border-bottom:1px solid #CCCCCC;" class="{view_notes} {hide_all}">{notes_txt}</h1><br />
<span style="font-size:8pt;" class="{hide_all}">{notes}</span>{end}
