<div class="container">
    <div class="page-header">
        <div class="row">
            <div class="col-xs-8 col-sm-6">
                <h1>{l}Purchase Orders{endl}</h1>
            </div>
            <div class="col-xs-4 col-sm-6 text-right">
                <div class="dropdown new-settings" ng-if="show_settings.is_admin_po_order">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-ellipsis-v"></i></button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <!-- <a class="dropdown-item" href="#">Import</a> -->
                        <li class="dropdown-item" ng-class="{ 'current':menu.submenu == 'po_order_setting' }"><a href="PurchaseOrderSettings/" go-to="" state="purchaseOrderSettings"><span class="fas fa-cog text-primary"></span> {l}Purchase Order Module{endl}</a></li>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /.page-header -->
    <div class="tabs-navigation">
        <ul class="nav nav-tabs">
            <li>
                <a href="purchase_orders/" go-to="" state="purchase_orders">{l}Purchase Orders{endl}</a>
                <button type="button" class="btn btn-primary btn-add" go-to="" state="purchase_order.edit" params='{ "p_order_id": "tmp" }'tooltip-placement="top"><span class="btn-add_icon"><span class="icon-bar"></span><span class="icon-bar-2"></span></span></button>
            </li>
            <li>
                <a href="purchase_order_deliveries/" go-to="" state="purchase_order_deliveries">{l}Deliveries{endl}</a>
            </li>
            <li class="active">
                <a href="stock_low/" go-to="" state="stock_low">{l}Products Low in Stock{endl}</a>
                <!-- <button type="button" class="btn btn-primary btn-add" go-to="" state="quote.editTemplate" params='{"template_id": "tmp"}' uib-tooltip="{l}Add{endl}" tooltip-placement="top"><span class="btn-add_icon"><span class="icon-bar"></span><span class="icon-bar-2"></span></span></button> -->
            </li>
            <li>
                <a ui-sref="to_order" href="to_order/">{l}Bulk Orders - To be Ordered{endl}</a>
            </li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane active" id="stock_low">
                <div class="row page-search page-search-options">
                    <form>
                        <div class="col-sm-12">
                            <div class="row">
                                <div class="col-sm-8 col-search-input">
                                    <div class="so-field" ng-class="{ 'so-active':search.search != '' }">
                                        <span class="glyphicon glyphicon-search so-icon"></span>
                                        <input type="text" class="form-control" placeholder="{l}Search{endl}" search-it doit="search" callbk="renderList" ng-model="search.search">
                                        <span class="glyphicon glyphicon-remove so-icon so-remove" ng-click="toggleSearchButtons('search', '')"></span>
                                    </div>
                                    <!-- /.input-search -->
                                </div>
                                <div class="col-sm-2">
                                    <div class="so-field" ng-class="{ 'so-active':search.supplier_id }">
                                        <!-- <span class="fa fa-users so-icon"></span> -->
                                        <selectize config='type_cfg' options='supplier_exist' ng-model="search.supplier_id"></selectize>
                                        <span class="glyphicon glyphicon-remove so-icon so-remove" ng-click="toggleSearchButtons('supplier_id', '')"></span>
                                    </div>
                                    <!-- /.input-date -->
                                </div>
                                <div class="col-sm-2">
                                    <div class="so-field" ng-class="{ 'so-active':search.article_category_id }">
                                        <!-- <span class="akti-icon akti-icon-16 o_akti_custopplier so-icon"></span> -->
                                        <selectize config='type2_cfg' options='family_exist' ng-model="search.article_category_id"></selectize>
                                        <span class="glyphicon glyphicon-remove so-icon so-remove" ng-click="toggleSearchButtons('article_category_id', '')"></span>
                                    </div>
                                    <!-- /.input-date -->
                                </div>
                            </div>
                        </div>


                        <div class="page-search-button">
                            <div class="btn-group" uib-dropdown>
                                <button type="button" class="btn btn-tertiary btn-square dropdown-toggle" uib-dropdown-toggle>
                        <span class="caret"></span>
                        <span class="sr-only">Toggle Dropdown</span>
                    </button>
                                <ul class="dropdown-menu dropdown-menu-right" uib-dropdown-menu>
                                    <li><a href="#" ng-click="createPorders('1')"><span class="text-primary"></span> {l}Create Grouped purchase orders{endl}</a></li>
                                </ul>
                            </div>
                        </div>


                        <div class="col-sm-1 page-search-btn-only hide">
                            <div class="btn-group" uib-dropdown>
                                <button type="button" class="btn btn-tertiary btn-square dropdown-toggle" uib-dropdown-toggle>
                        <span class="caret"></span>
                        <span class="sr-only">Toggle Dropdown</span>
                    </button>
                                <ul class="dropdown-menu dropdown-menu-right" uib-dropdown-menu>
                                    <li><a ui-sref="stock_info"><span class="glyphicon glyphicon-info-sign text-primary"></span> {l}Action Based{endl}</a></li>
                                    <li><a ui-sref="stock_article"><span class="glyphicon glyphicon-info-sign text-primary"></span> {l}Article Based{endl}</a></li>
                                    <li><a ui-sref="stock_customer"><span class="glyphicon glyphicon-info-sign text-primary"></span> {l}Customer/Location Based{endl}</a></li>
                                    <li><a ui-sref="stock_low"><span class="glyphicon glyphicon-info-sign text-primary"></span> {l}Low Stock Articles{endl}</a></li>
                                    <li><a ui-sref="stock_date"><span class="glyphicon glyphicon-info-sign text-primary"></span> {l}Stock by Date{endl}</a></li>
                                    <li><a ui-sref="stock_serial_numbers"><span class="glyphicon glyphicon-info-sign text-primary"></span> {l}Based on serial numbers{endl}</a></li>

                                </ul>
                            </div>

                        </div>


                    </form>
                </div>
                <!-- /.page-search -->
                <div class="row page-content">
                    <div class="col-xs-12">
                        <table class="table active_rows orderTable">
                            <thead>
                                <tr>

                                    <th class="col-sm-2 sortable_row" ng-class="{ 'sortable_row-up':(!reverse && ord == 'item_code') , 'sortable_row-down':(reverse && ord == 'item_code') }" ng-click="orderBY('item_code')">{l}Code{endl}</th>
                                    <th class="col-sm-3 sortable_row" ng-class="{ 'sortable_row-up':(!reverse && ord == 'internal_name') , 'sortable_row-down':(reverse && ord == 'internal_name') }" ng-click="orderBY('internal_name')">{l}Internal Name{endl}</th>
                                    <th class="col-sm-2 sortable_row" ng-class="{ 'sortable_row-up':(!reverse && ord == 'supplier_name') , 'sortable_row-down':(reverse && ord == 'supplier_name') }" ng-click="orderBY('supplier_name')">{l}Supplier{endl}</th>
                                    <th class="col-sm-1 sortable_row" ng-class="{ 'sortable_row-up':(!reverse && ord == 'pim_articles.stock') , 'sortable_row-down':(reverse && ord == 'pim_articles.stock') }" ng-click="orderBY('pim_articles.stock')">{l}Stock{endl}</th>
                                    <th class="col-sm-1 sortable_row" ng-class="{ 'sortable_row-up':(!reverse && ord == 'backorders') , 'sortable_row-down':(reverse && ord == 'backorders') }" ng-click="orderBY('backorders')">{l}Backorders{endl}</th>

                                    <th class="col-sm-1 text-muted">{l}Items Ordered{endl}</th>
                                    <th class="col-sm-1 sortable_row" ng-class="{ 'sortable_row-up':(!reverse && ord == 'article_threshold_value') , 'sortable_row-down':(reverse && ord == 'article_threshold_value') }" ng-click="orderBY('article_threshold_value')">{l}Suggested Purchase{endl}</th>
                                    <th class="col-sm-1 text-center">
                                        <div class="checkbox checkbox-primary">
                                            <input type="checkbox" id="checkbox_all" ng-model="listObj.check_add_all" ng-click="saveForPDF()">
                                            <label for="checkbox_all"></label>
                                        </div>
                                    </th>
                                    <th class="table_actions">
                                        <!--                   <div class="btn-group" uib-dropdown>
                                                  <button type="button" class="btn btn-tertiary dropdown-toggle" uib-dropdown-toggle>
                                                          <span class="caret"></span>
                                                  </button>
                                                  <ul class="dropdown-menu dropdown-menu-right" uib-dropdown-menu>
                                                       <li><a href="#" ng-click="createPorders('1')"><span class="text-primary"></span> {l}Create Grouped purchase orders{endl}</a></li>
                                                  </ul>
                                              </div> -->
                                    </th>


                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat-start="item in list" class="collapseTr">
                                    <td class="text-muted expand_row" list='{ "type":"stock-stock_article", "obj": { "search":{{search}} } }'>
                                        <i ng-if="item.stock_multiple_locations" class="fa fa-chevron-right btn-expand" ng-click="showStats(item, $index)"></i>
                                        <!-- <span ng-if="item.stock_multiple_locations" class="glyphicon glyphicon-plus btn-expand" ng-click="showStats(item, $index)"></span> -->
                                        <a href="article/article/{{item.article_id}}" class="text-muted"><span class="text-ellipsis">{{::item.code}}</span></a>
                                    </td>

                                    <td class="text-muted" list='{ "type":"stock-stock_low", "obj": { "search":{{search}} } }'>
                                        <a href="article/article/{{item.article_id}}" class="text-muted">{{::item.name}}</a>
                                    </td>
                                    <td class="text-muted" list='{ "type":"stock-stock_low", "obj": { "search":{{search}} } }'>
                                        <a href="article/article/{{item.article_id}}" class="text-muted">{{::item.supplier_name}}</a>
                                    </td>
                                    <td class="text-muted" list='{ "type":"stock-stock_low", "obj": { "search":{{search}} } }'>
                                        <a href="article/article/{{item.article_id}}" class="text-muted">{{::item.stock}}</a>
                                    </td>
                                    <td class="text-muted" list='{ "type":"stock-stock_low", "obj": { "search":{{search}} } }'>
                                        <a href="article/article/{{item.article_id}}" class="text-muted">{{::item.backorders}}</a>
                                    </td>
                                    <td class="text-muted" list='{ "type":"stock-stock_low", "obj": { "search":{{search}} } }'>
                                        <a href="article/article/{{item.article_id}}" class="text-muted">{{::item.virtual_stock}}</a>
                                    </td>
                                    <td class="text-muted" list='{ "type":"stock-stock_low", "obj": { "search":{{search}} } }'>
                                        <a href="article/article/{{item.article_id}}" class="text-muted">{{::item.suggested_purchase}}</a>
                                    </td>
                                    <td class="col-select">
                                        <div class="checkbox checkbox-primary">
                                            <input type="checkbox" id="checkbox_all_{{$index}}" ng-model="item.check_add_to_product" ng-click="saveForPDF(item)">
                                            <label for="checkbox_all_{{$index}}"></label>
                                        </div>
                                    </td>
                                    <td class="table_actions">
                                        <div class="btn-group" uib-dropdown>
                                            <button type="button" class="btn btn-plain dropdown-toggle" uib-dropdown-toggle>
                                    <span class="caret"></span>
                                </button>
                                            <ul class="dropdown-menu dropdown-menu-right" uib-dropdown-menu>
                                                <li><a href="#" ui-sref="article.add({'article_id': item.article_id})"><span class="glyphicon glyphicon-info-sign text-primary"></span> {l}View{endl}</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </td>

                                </tr>
                                <tr ng-repeat-end class="versionInfo hidden">
                                    <td colspan="7" class="no_border">
                                        <table class="table active_rows orderTable">
                                            <thead>
                                                <tr>
                                                    <th class="col-sm-2">{l}Depot{endl}</th>
                                                    <th class="col-sm-2">{l}Address{endl}</th>
                                                    <th class="col-sm-2">{l}Zip{endl}</th>
                                                    <th class="col-sm-2">{l}City{endl}</th>
                                                    <th class="col-sm-2">{l}Country{endl}</th>
                                                    <th class="col-sm-2">{l}Stock{endl}</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr ng-repeat="item2 in listStats[$index].list">
                                                    <td>
                                                        <span class="text-ellipsis">{{item2.customer_name}}</span>
                                                    </td>
                                                    <td>
                                                        <span class="text-ellipsis">{{item2.address}}</span>
                                                    </td>
                                                    <td>
                                                        <span class="text-ellipsis">{{item2.zip}}</span>
                                                    </td>
                                                    <td>
                                                        <span class="text-ellipsis">{{item2.city}}</span>
                                                    </td>
                                                    <td>
                                                        <span class="text-ellipsis">{{item2.country}}</span>
                                                    </td>
                                                    <td>
                                                        <span class="text-ellipsis">{{item2.current_quantity}}</span>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <!-- /.page-content -->
            </div>
        </div>
    </div>


    <!-- <pag-custom pages="pager" refresh="rederList()" doit='order-orders'></pag-custom> -->
    <div class="col-sm-12">
        <div class="col-sm-8">
            <ul ng-if="max_rows > 30" uib-pagination total-items="max_rows" ng-model="search.offset" ng-change="searchThing()" max-size="5" class="pager" boundary-links="true" items-per-page="lr"></ul>
        </div>
        <div class="col-sm-4 text-right">
            <label>{l}Number of products low in stock{endl}: <strong>{{max_rows}}</strong></label>
        </div>
    </div>
</div>
<!-- neede on all pages -->