<div class="page-header-buttons text-right">
  <!-- <button type="submit" class="btn btn-plain" ng-click="edit.cancel()">{l}Cancel{endl}</button>
  <button type="submit" class="btn btn-default" ng-disabled="!edit.showTxt.address || edit.item.add_customer" ng-click="edit.save()">{l}Save{endl}</button> -->
</div>
<!-- <div uib-alert ng-repeat="alert in edit.alerts" type="{{alert.type}}" close="edit.alerts.splice($index, 1);" ng-class="['alert-' + (alert.type || 'warning') ]">{{alert.msg}}</div> -->
<!-- <div class="user_summary" ng-class="{'is-open': edit.showTxt.p_order_settings, '': !edit.showTxt.p_order_settings}">
  <button class="btn-summary text-link" ng-click="edit.showTxt.p_order_settings=!edit.showTxt.p_order_settings"><span class="glyphicon glyphicon-chevron-down pull-right"></span> {l}Stock Dispatch Settings{endl}</button>
  <div class="row col-top col-bottom">
      <div class="col-sm-5">
          <div class="row">
              <div class="col-sm-8">
                  <img class="img-responsive img-customer_branding" src="http://test.webandgo.be/akti/demo_images/customer_logo.png" alt="">
                  <img class="img-responsive img-customer_branding" ng-src="{{edit.item.main_comp_info.logo}}" alt=""/>
              </div>
          </div>
          <div class="row">
              <div class="col-sm-12">
                <h4>{{edit.item.main_comp_info.name}}</h4>
                <p> <span ng-bind-html="edit.item.main_comp_info.address"></span><br>
                  {{edit.item.main_comp_info.zip}} {{edit.item.main_comp_info.city}}<br>
                  {{edit.item.main_comp_info.country}}<br>
                  {{edit.item.main_comp_info.phone}}</p>
                   <span class="text-link_space">•</span> <a  ui-sref="settings({ 'tab':'defaultEmail' })"  class="text-link">{l}Edit Your Information{endl}</a></p>
              </div>
          </div>                        
      </div>
      
  </div>
</div> -->
<div class="row intervention-details">
  <div class="col-sm-6">
    <div class="panel panel-default panel-customer_details">
        <div class="panel-body panel-current_customer" ng-class="{ 'panel-add_customer': edit.item.add_customer && edit.showTxt.addBtn }">
            <div ng-if="edit.showTxt.address && !edit.item.add_customer">
              <a class="panel-edit" href="#" ng-click="edit.showEditFnc(edit)" ng-if="edit.stock_disp_id=='tmp'">{l}Edit{endl}</a>
              <h2 class="col-sm-2">{l}From{endl}</h2>
              <h2 class="col-sm-10"><strong>{{edit.item.customer_name}}</strong>
                <small class="quick_edits" ng-if="edit.stock_disp_id=='tmp'"><span class="text-link_space">•</span> <a href="#" class="text-link text-muted delete-customer" ng-click="edit.removeCust(edit)" >{l}Remove{endl}</a></small>
              <h2>
              <h2 class="col-sm-2">{l}To{endl}</h2>
              <h2 class="col-sm-10"><strong>{{edit.item.to_customer_name}}</strong></h2>
             
             
              <div class="delivery-address negative_margin" ng-if="!edit.item.view_delivery">
                <h2 class="col-sm-2">{l}From{endl} </h2><span ng-bind-html="edit.item.address_info_txt" class="col-sm-10"></span>
                
              </div>
              <div class="delivery-address negative_margin" ng-if="!edit.item.view_delivery">
                <h2 class="col-sm-2">{l}To{endl} </h2> <span ng-bind-html="edit.item.to_address_info_txt" class="col-sm-10"></span>
                
              </div>

            </div><!-- /showTxt.address -->
            <div ng-if="edit.item.add_customer" >
              <button class="btn btn-block btn-lg btn-blank" ng-if="edit.showTxt.addBtn" ng-click="edit.showCCSelectize(edit)"><span class="fa fa-user-plus icon-holder"></span> {l}Select From / To Location{endl}</button>
              <selectize config='edit.fromccAutoCfg'  options='edit.auto.options.cc' ng-model="edit.item.cc_id" id="custandcont" ng-if="!edit.showTxt.addBtn"></selectize>
             
            </div>
            <form class="form-horizontal text-left " name="stock_form" ng-if="!edit.showTxt.address">
              <div class="form-group">
                <label class="col-sm-3 control-label">{l}From{endl}</label>
                <div class="col-sm-9">
                  <!-- <input type="text" class="form-control" ng-model="edit.item.customer_name" ng-disabled="true" > -->
                  <selectize config='edit.fromccAutoCfg'  options='edit.auto.options.cc' ng-model="edit.item.buyer_id" id="custandcont"></selectize>
                </div>
              </div>          
              <div class="form-group extra_address" ng-class="{ 'form-group_alert' : stock_form.main_address_id.$invalid && !stock_form.main_address_id.$pristine }">
                <label class="col-sm-3 control-label">{l}From Address{endl}</label>
                <div class="col-sm-9 ">
                  <selectize config='edit.addressAutoCfg' name="main_address_id" options='edit.auto.options.addresses' ng-model="edit.item.main_address_id" id="main_address" ng-disabled="!edit.item.buyer_id || edit.item.buyer_id=='tmp'"></selectize>
                  <div class="alert alert-sm alert-danger" ng-if="stock_form.main_address_id.$invalid && edit.alertsField.main_address_id">{{edit.alertsField.main_address_id}}</div>
                </div>
              </div>
               <div class="form-group" ng-class="{ 'form-group_alert' : stock_form.to_cc_id.$invalid && !stock_form.to_cc_id.$pristine }">
                <label class="col-sm-3 control-label">{l}To{endl}</label>              
                <div class="col-sm-9">            
                  <selectize config='edit.toccAutoCfg' name="to_cc_id" options='edit.auto.options.to_cc' ng-model="edit.item.to_cc_id" id="tocustandcont"></selectize>
                  <!-- <input type="text" class="form-control" ng-model="edit.item.to_customer_name" placeholder="{l}To{endl}" ng-focus="edit.showtoCCSelectize(edit)" > -->
                  <div class="alert alert-sm alert-danger" ng-if="stock_form.to_cc_id.$invalid && edit.alertsField.to_cc_id">{{edit.alertsField.to_cc_id}}</div>         
                </div>
              </div>
              <div class="form-group extra_address" ng-class="{ 'form-group_alert' : stock_form.to_main_address_id.$invalid && !stock_form.to_main_address_id.$pristine }">
                <label class="col-sm-3 control-label">{l}To Address{endl}</label>
                <div class="col-sm-9 ">
                  <selectize config='edit.addressAutoCfg' name="to_main_address_id" options='edit.auto.options.to_addresses' ng-model="edit.item.to_main_address_id" id="delivery_address" ng-disabled="!edit.item.to_cc_id"></selectize>
                  <div class="alert alert-sm alert-danger" ng-if="stock_form.to_main_address_id.$invalid && edit.alertsField.to_main_address_id">{{edit.alertsField.to_main_address_id}}</div>
                </div>
              </div>       
              <!-- <div class="text-right">
                <a href="#" class="text-muted" ng-click="edit.cancelEdit(edit)">{l}Cancel{endl}</a> <span class="text-link_space">• </span> <a href="#" class="btn btn-default" ng-click="edit.saveClientData(edit,edit.item.field,stock_form)">{l}Save{endl}</a>
              </div> -->
            </form>
          </div>
      </div><!-- /.panel -->
  </div>
 <div class="col-sm-6">
        <form class="form-horizontal form-squeeze">
          <div class="form-group">
              <label class="col-sm-3 col-sm-offset-2 text-left control-label">{l}Stock Dispach Number{endl}</label>
                <div class="col-sm-7">
                  <input type="text" class="form-control" ng-disabled="!edit.showTxt.address || edit.item.add_customer" ng-model="edit.item.serial_number" placeholder="{l}Serial Number{endl}">
                </div>
            </div><!-- /.form-group -->
          <div class="form-group">
              <label class="col-sm-3 col-sm-offset-2 text-left control-label">{l}Date{endl}</label>
                <div class="col-sm-7">
                  <div class="so-field">
                    <span class="glyphicon glyphicon-calendar so-icon" ng-click="edit.openDate('date')"></span>
                    <input type="text" ng-disabled="edit.item.add_customer" class="form-control form-control-border-right" ng-model="edit.item.date_h" uib-datepicker-popup="{{edit.format}}" is-open="edit.datePickOpen.date" datepicker-options="edit.dateOptions" ng-required="true" close-text="Close" placeholder="{l}Date{endl}" show-button-bar="false" ng-click="edit.datePickOpen.date=true" />
                  </div><!-- /.so-field -->
                </div>
            </div><!-- /.form-group -->
       
          
                <div class="form-group">
                    <label class="col-sm-3 col-sm-offset-2 text-left control-label">{l}Our reference{endl}</label>
                    <div class="col-sm-7 col-lg-7">
                      <input type="text" class="form-control" ng-model="edit.item.our_ref">
                    </div>
                </div><!-- /.form-group -->
                <div class="form-group">
                    <label class="col-sm-3 col-sm-offset-2 text-left control-label">{l}Your reference{endl}</label>
                    <div class="col-sm-7 col-lg-7">
                      <input type="text" class="form-control" ng-model="edit.item.your_ref">
                    </div>
                </div><!-- /.form-group -->
             
             
         
   
             
            </div><!-- /.form-group -->  
        </form><!-- /.form-horizontal -->
    </div>  
</div><!-- /.intervention-details -->
<table class="table table_head_only table_orders" cellspacing="0" cellpadding="0">
  <thead>
    <tr>
      <th>
        <div class="row">
          <div class="col-sm-4">{l}Code{endl}</div>
          <div class="col-sm-5 col-article">{l}Article{endl}</div>
          <div class="col-sm-3 col-quantity">{l}Quantity{endl}</div>
         
        </div>
      </th>
    </tr>
  </thead>
</table>
<ul class="table table_orders" id="board" data-as-sortable="dragControlListeners" data-ng-model="edit.item.tr_id">
    <li ng-repeat="item in edit.item.tr_id" data-as-sortable-item>
      
      <div class="row" >
        <div class="row_handler" >
            <span class="btn-drag" data-as-sortable-item-handle>&nbsp;</span>
            <span class="btn-remove"><span class="fa fa-trash" ng-click="edit.removeLine($index)"></span></span>          
        </div>
        <div class="col-sm-4" ng-if="!item.content"><span class="hideOnDesktop">{l}Code{endl} </span><code class="text-ellipsis">{{item.article_code}}</code></div>
        <div class="col-sm-5 col-article" ng-if="!item.content"><span class="hideOnDesktop">{l}Article{endl} </span><textarea ng-bind-html="item.article" ng-model="item.article" class="form-control" resize-txt ></textarea></div>
        <div class="col-sm-3 col-quantity" ng-if="!item.content"><span class="hideOnDesktop">{l}Quantity{endl} </span><input select-tablet-all="true" type="text" ng-model="item.quantity" class="form-control" display-nr="" /></div>
       <div class="col-sm-12" ng-if="item.content"><span class="hideOnDesktop">{l}Content{endl} </span>
        <textarea type="text" class="form-control" rows="1" resize-txt ng-model="item.article" > </textarea></div>
      </div>
    </li>
</ul>
<div class="table_orders-add table_orders-add_alt" >
  <!-- <button class="btn btn-block btn-blank add_article text-link" ng-click="edit.addArticle()" ng-if="!edit.showTxt.addArticleBtn"><span class="fa fa-plus icon-holder"></span> {l}Add Item{endl}</button> -->
  <select class="search-products hide" placeholder="Type an article name"></select>
  <div class="btn-group btn-add_line_new" uib-dropdown ng-class="{ 'open' : edit.openContent}">
    <a href="#" class="btn text-link dropdown-toggle" uib-dropdown-toggle><span class="fa fa-plus icon-holder"></span>{l}Add Content{endl}</a>
    <ul class="dropdown-menu" uib-dropdown-menu>
      <li ng-click="edit.addArticle()"><a><i class="fa fa-plus" aria-hidden="true"></i>{l}Add an Article of the catalog{endl}</a></li>
      
      <li ng-click="edit.openModal(edit,'addArticle',item,'lg')"><a><i class="fa fa-plus-square" aria-hidden="true"></i>{l}Add Articles of the catalog in bulk{endl}</a></li>
      <li ng-click="edit.stockaddContentLine()"><a><i class="fa fa-pencil" aria-hidden="true"></i>{l}Add text line{endl}</a></li>
    </ul>
  </div>
  <selectize config='edit.articlesListAutoCfg' options='edit.auto.options.articles_list' ng-model="edit.selected_article_id" id="article_list_id" ng-if="edit.showTxt.addArticleBtn"></selectize>
</div>

<div class="user_summary" ng-class="{'is-open': edit.showTxt.stock_dispatch_notes, '': !edit.showTxt.p_order_notes}">
   <button class="btn-summary text-link" ng-disabled="!edit.item.buyer_id || edit.item.buyer_id=='tmp' || edit.item.add_customer" ng-click="edit.showTxt.stock_dispatch_notes=!edit.showTxt.stock_dispatch_notes"><span class="glyphicon glyphicon-chevron-down pull-right"></span> {l}Notes (Displayed on dispatch note){endl}</button>
  <div class="row col-top col-bottom">
      <div class="col-sm-12">
        <textarea class="form-control form-language" ui-tinymce="edit.tinymceOptionsLines" ng-model="edit.item.notes" ng-class="edit.item.lang_cls" rows="6" name="textarea"></textarea>
        <input name="image" type="file" id="upload" class="hidden" onchange="" />
      </div>
  </div>
</div><!-- /.user_summary -->
<div class="text-right">
  <button type="submit" class="btn btn-plain" ng-click="edit.cancel()">{l}Cancel{endl}</button>
  <button type="submit" class="btn btn-default" ng-disabled="!edit.item.buyer_id || edit.item.buyer_id=='tmp' ||  edit.item.add_customer" ng-click="edit.save()">{l}Save{endl}</button>
</div>