<style>
body { color: #000; font-family: Arial, Helvetica, sans-serif; font-size: 9pt; }
h1 { font-size:10pt; font-weight:normal; }
table { border-collapse: collapse; border-spacing: 0; }
table td{ font-size: 9pt; }
.border_bottom { border-bottom: 1px solid #CCC; }
.invoice_rows { border-bottom: 1px solid #CCC; }
.invoice_rows .th { border: 1px solid #CCC; color: #000; font-size: 9pt; font-weight: bold; padding-left: 10px; text-align: center; }
.invoice_rows td { border-left: 1px solid #CCC; vertical-align:middle; font-size: 9pt; text-align:right; }
.invoice_rows .last { border-right: 1px solid #CCC; }
.hide { display:none; }
.right { text-align:right; }
td.last_nocenter{ border-right: 1px solid #d6d6d6; }
</style>
<table cellpadding="2" cellspacing="4" border="0" width="100%" style="border:1px solid #CCC;">
  <tr>
     <td width="32%" valign="top"><h1>{seller_name}</h1>
      {seller_d_address}  <br/>
      {seller_d_zip} {seller_d_city} <br/>
      {seller_d_country} <br/>
      {order_vat_no} <br/>
      <div class="{hide_b_d}">
        <h1>{bankd_txt}</h1>
        {bank_txt}: {bank}<br/>
        {bic_txt}: {bic}<br/>
        {iban_txt}: {iban}
      </div>
    </td>
    <td width="1%" valign="top"></td>
    <td width="34%" valign="top" ><table cellpadding="0" cellspacing="0" border="0" width="100%">
        <tr>
          <td style="text-align:center;font-size:14pt;"><strong>{dispatch_txt}</strong></td>
        </tr>
        <tr>
          <td style="text-align:center; border:1px solid #CCC;">
		        {dispatch_note_txt}: <strong>{serial_number}</strong> <br />
            {date_txt}: {order_date}
           
         
            <span class="{hide_our_ref}"><br>{our_ref_txt}: {our_ref}</span>
            <span class="{hide_your_ref}"><br>{your_ref_txt}: {your_ref}</span>
          </td>
        </tr>
        <tr>
          <td></td>
        </tr>
        <tr>
          <td valign="top" style="text-align:center;"><img src="{account_logo}" {attr} ></td>
        </tr>
      </table></td>
    <td width="1%" valign="top"></td>
    <td width="32%" valign="top">
      <h1>{buyer_name}</h1>
        {order_buyer_address}<br/>
          {order_buyer_zip} {order_buyer_city}<br/>
          {order_buyer_country}<br/>

       <br/>
      {buyer_phone}
      {buyer_fax}
     <br />
   {if:is_delivery}  <h1>{billing_address_txt}:</h1>
    {delivery_address}{end}
   
	</td>
  </tr>
</table>
<table width="100%" cellspacing="0" cellpadding="0">
  <tr>
    <td></td>
  </tr>
</table>
<table width="100%" cellspacing="0" cellpadding="5" class="invoice_rows">
  <tr>
    <td class="th" style="text-align:left;" width="25%">{article_code_txt}</td>
    <td class="th" style="text-align:left;" width="50%">{article_txt}</td>
    <td width="25%" style="text-align:left;" class="th last">{quantity_txt}</td>
  </tr>
  <tbody>
    {if:is_first_content_line}
    {if:is_content_line2}
    <tr>
      <td colspan="3" style="border-right:1px solid #cccccc;text-align:left;" >{content_line2}</td>
    </tr>
    {end}
    {end}
    {loop:order_row}
    <tr>
      {if:is_article_code}
      <td class="" width="25%">{article_code}</td>
      {end}
      <td class="first-of-type {content_class}" style="text-align:left;" {colspan} >{article}
        {if:is_serial_number}{art_serial_number_list}{end}
        {if:is_batch_number}{art_batch_number_list}{end}
      </td>
      {if:content}
      <td class="last">{quantity}</td>
      {end}
    </tr>
    {if:is_content_line}
    <tr>
      <td colspan="3" style="border-right:1px solid #cccccc;text-align:left;" >{content_line}</td>
    </tr>
    {end}    
    {endloop}
  </tbody>
</table> 
<div></div>

{if:show_delivery_note}
<h1 style="font-size: 12pt;font-weight: bold; line-height: 10px;" >{delivery_note_txt}</h1>
<span style="font-size:9pt; line-height: 10px;">{delivery_note}</span>
<br />
{end}
<br />
<br />
<h1 style="border-bottom:1px solid #CCCCCC;" class="{view_notes}">{notes_txt}</h1><br>
<span style="font-size:8pt;">{notes}</span> 