<div class="container">
    <!-- neede on all pages -->
    <div class="row page-content">
        <div class="col-xs-12 tabs-settings">
            <div class="row">
                <div class="col-xs-12 col-sm-3">
                    <div class="page-header">
                        <h1>{l}Stock Module{endl}</h1>
                    </div>
                    <!-- /.page-header -->
                    <ul class="nav nav-tabs tabs-settings-nav">

                        <li class="active"><a href="#stock" aria-controls="stock" data-toggle="tab" ng-click="vm.load('stock','stock')">{l}Article Stock Management{endl}</a></li>
                        <li><a href="#dispatch" aria-controls="dispatch" data-toggle="tab" ng-click="vm.load('dispatch','dispatch')">{l}Dispatch Stock Naming{endl}</a></li>
                        <li><a href="#dispatch_note" aria-controls="dispatch_note" data-toggle="tab" ng-click="vm.load('dispatch_note','dispatch_note')">{l}Dispatch Stock Note{endl}</a></li>
                        <li><a href="#dispatch_email" aria-controls="dispatch_email" data-toggle="tab" ng-click="vm.load('dispatch_email','dispatch_email','message_label')">{l}Email Dispatch Message{endl}</a></li>
                        <li><a href="#dispatch_address" aria-controls="dispatch_address" data-toggle="tab" ng-click="vm.load('dispatch_address','dispatch_address','dispatch_address_add')">{l}Dispatch Addresses{endl}</a></li>
                    </ul>
                    <!-- /.tabs-settings-nav -->
                </div>
                <div class="col-xs-12 col-sm-9 tab-content tabs-settings-content">
                    <!-- <div uib-alert ng-repeat="alert in vm.alerts" type="{{alert.type}}" close="vm.alerts.splice($index, 1);" ng-class="['alert-' + (alert.type || 'warning') ]" dismiss-on-timeout="5000">{{alert.msg}}</div> -->


                    <div class="tab-pane fade in active" id="stock">
                        <div class="section-title">
                            <div class="row">
                                <div class="col-xs-12">
                                    <h2>{l}Stock Settings{endl}</h2>
                                </div>
                            </div>
                        </div>
                        <!-- /.section-title -->
                        <div class="section-content">
                            <div class="text-muted col-bottom">
                                <p>{l}Stock settings for articles.{endl}</p>
                                <!-- <p>{l}To allow your correspondent to reply on this mail, please fill in below the required address{endl}.</p> -->
                            </div>
                            <div class="form-horizontal text-left">
                                <div class="form-group">
                                    <label class="col-xs-8 col-sm-4 control-label">{l}Allow Stock{endl}</label>
                                    <div class="form-group col-xs-4 col-sm-8">
                                        <!-- <toggle-switch on-change="vm.updatestock(vm,vm.stock)"  ng-model="vm.stock.allow_stock" class="switch-primary" off-label="{l}No{endl}" on-label="{l}Yes{endl}"></toggle-switch> -->
                                        <label class="switch pull-left small_margin">
                                        <input type="checkbox" id="" ng-change="vm.updatestock(vm,vm.stock)"  ng-model="vm.stock.allow_stock" class="switch-primary">
                                        <span class="slider round"></span>
                                      </label>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-xs-8 col-sm-4 control-label">{l}Minimum stock threshold{endl}</label>
                                    <div class="form-group col-xs-4 col-sm-2 col-lg-2 text-left">
                                        <input class="form-control" ng-blur="vm.updatestock(vm,vm.stock)" type="text" ng-model="vm.stock.article_threshold_value">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-xs-8 col-sm-4 control-label">{l}Maximum stock threshold{endl}</label>
                                    <div class="form-group col-xs-4 col-sm-2 col-lg-2 text-left">
                                        <input class="form-control" ng-blur="vm.updatestock(vm,vm.stock)" type="text" ng-model="vm.stock.article_maximum_stock_treshold">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-xs-8 col-sm-4 control-label">{l}Allow customers to buy out-of-stock Items{endl}</label>
                                    <div class="form-group ccol-xs-4 col-sm-8">
                                        <!-- <toggle-switch on-change="vm.updatestock(vm,vm.stock)" ng-model="vm.stock.allow_out_of_stock" class="switch-primary" off-label="{l}No{endl}" on-label="{l}Yes{endl}"></toggle-switch> -->
                                        <label class="switch pull-left small_margin">
                                          <input type="checkbox" id="" ng-change="vm.updatestock(vm,vm.stock)" ng-model="vm.stock.allow_out_of_stock" class="switch-primary">
                                          <span class="slider round"></span>
                                        </label>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-xs-8 col-sm-4 control-label">{l}Show Stock Warning{endl}</label>
                                    <div class="form-group col-xs-4 col-sm-8">
                                        <!-- <toggle-switch on-change="vm.updatestock(vm,vm.stock)" ng-model="vm.stock.show_stock_warning" class="switch-primary" off-label="{l}No{endl}" on-label="{l}Yes{endl}"></toggle-switch> -->
                                        <label class="switch pull-left small_margin">
                                          <input type="checkbox" id="" ng-change="vm.updatestock(vm,vm.stock)" ng-model="vm.stock.show_stock_warning" class="switch-primary">
                                          <span class="slider round"></span>
                                        </label>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-xs-8 col-sm-4 control-label">{l}Require reason for manual stock modification{endl}</label>
                                    <div class="form-group col-xs-4 col-sm-8">
                                        <!-- <toggle-switch on-change="vm.updatestock(vm,vm.stock)" ng-model="vm.stock.require_reason_stock_modif" class="switch-primary" off-label="{l}No{endl}" on-label="{l}Yes{endl}"></toggle-switch> -->
                                        <label class="switch pull-left small_margin">
                                          <input type="checkbox" id="" ng-change="vm.updatestock(vm,vm.stock)" ng-model="vm.stock.require_reason_stock_modif" class="switch-primary">
                                          <span class="slider round"></span>
                                        </label>
                                    </div>
                                </div>
                                <!--                 <div class="form-group">
                  <label class="col-xs-4 control-label">{l}Stock in multiple locations{endl}:</label>
                  <div class="form-group col-xs-8">
                      <toggle-switch on-change="vm.updatestock(vm,vm.stock)"  ng-model="vm.stock.stock_multiple_locations" class="switch-primary" off-label="{l}No{endl}" on-label="{l}Yes{endl}"></toggle-switch>
                  </div>
                </div> -->
                            </div>
                        </div>
                        <!-- /.section-content -->
                    </div>
                    <!-- /.tab-pane -->
                    <div class="tab-pane fade" id="dispatch">
                        <div class="section-title">
                            <div class="row">
                                <div class="col-xs-6">
                                    <h2>{l}Default Name{endl}</h2>
                                </div>
                                <!-- <div class="col-xs-6 text-right">
                  <button class="btn btn-default" type="button" ng-click="vm.DispatchUpdate()">{l}Save{endl}</button>
                </div> -->
                            </div>
                        </div>
                        <!-- /.section-title -->
                        <div class="section-title">
                            <h2>{l}Default name for Dispatch Stock.{endl}</h2>
                        </div>
                        <!-- /.section-title -->
                        <div class="section-content">
                            <form class="form-horizontal text-left">
                                <div class="form-group">
                                    <label class="col-xs-8 col-sm-4 control-label" for="inputEmail">
                    {l}Dispatch Note Index{endl}<!--  <small class="text-muted">( {l}Fixed part{endl} )</small> -->
                    </label>
                                    <div class="col-xs-4 col-sm-2">
                                        <input id="inputEmail" class="form-control" type="text" ng-model="vm.dispatch.ACCOUNT_STOCK_DISP_START">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-xs-8 col-sm-4 control-label" for="inputPassword">
                    {l}No. of digits{endl} <!-- <small class="text-muted">( {l}Incremental part{endl} )</small> -->
                    </label>
                                    <div class="col-xs-4 col-sm-2">
                                        <input id="inputPassword" class="form-control" type="text" ng-model="vm.dispatch.ACCOUNT_STOCK_DISP_DIGIT_NR">
                                    </div>
                                </div>
                            </form>
                            <div class="alert alert-info alert-info_alt" role="alert">{l}The name of the dispach note will have this format{endl} &nbsp; <code class="bg-primary">{{vm.dispatch.EXAMPLE}}</code></div>
                            <form class="form-horizontal text-left">
                                <div class="form-group">
                                    <label class="col-xs-8 col-sm-4 control-label" for="inputEmail">{l}Show reference{endl}</label>
                                    <div class="col-xs-4 col-sm-2">
                                        <!-- <toggle-switch ng-model="vm.dispatch.CHECKED" class="switch-primary" off-label="{l}No{endl}" on-label="{l}Yes{endl}"></toggle-switch> -->
                                        <label class="switch pull-left small_margin">
                                          <input type="checkbox" id="" ng-model="vm.dispatch.CHECKED"  class="switch-primary">
                                          <span class="slider round"></span>
                                        </label>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-xs-8 col-sm-4 control-label" for="inputEmail">{l}Reference delimiter{endl} 
                  </label>
                                    <div class="col-xs-4 col-sm-2">
                                        <input id="inputEmail" class="form-control" type="text" ng-model="vm.dispatch.ACCOUNT_STOCK_DISP_DEL">
                                    </div>
                                </div>
                            </form>
                        </div>
                        <!-- /.section-content -->
                        <div class="section-footer">
                            <div class="row">
                                <div class="col-xs-12 text-right">
                                    <button class="btn btn-default" type="button" ng-click="vm.DispatchUpdate()">{l}Save{endl}</button>
                                </div>
                            </div>
                        </div>
                        <!-- /.section-footer -->
                    </div>
                    <!-- /.tab-pane -->
                    <div class="tab-pane fade" id="dispatch_note">
                        <div class="section-title">
                            <div class="row">
                                <div class="col-xs-5">
                                    <h2>{l}Default Stock Dispatching Note{endl}</h2>
                                </div>
                                <div class="col-xs-7 text-right">
                                    <form class="btn-inline col-right">
                                        <div class="form-group margin-bottom-none" style="max-width: 220px;">
                                            <select class="form-control form-language {{vm.dispatch_note.translate_cls}}" ng-model="vm.dispatch_note.languages" ng-change="vm.changelanguagedispatch(vm,vm.dispatch_note)">
                        <option ng-repeat="option in vm.dispatch_note.language_dd track by option.id" value="{{option.id}}">{{option.name}}</option>
                      </select>
                                        </div>
                                    </form>
                                    <!-- <button class="btn btn-default top" type="button" ng-click="vm.savelanguagedispatch(vm,vm.dispatch_note.languages,vm.dispatch_note.notes)">{l}Save{endl}</button> -->
                                </div>
                            </div>
                        </div>
                        <!-- /.section-title -->
                        <div class="section-content">
                            <form>
                                <div class="section-title">
                                    <label>{l}Note:{endl}
                  <!-- <small class="text-muted">{l}Create a default note for invoices{endl}.</small> -->
                  </label>
                                </div>
                                <textarea ui-tinymce="vm.tinymceOptions" ng-model="vm.dispatch_note.notes" class="variable_assign">{{vm.dispatch_note.notes}}</textarea>
                            </form>
                        </div>
                        <!-- /.section-content -->
                        <div class="section-footer">
                            <div class="row">
                                <div class="col-xs-12 text-right">
                                    <button class="btn btn-default" type="button" ng-click="vm.savelanguagedispatch(vm,vm.dispatch_note.languages,vm.dispatch_note.notes)">{l}Save{endl}</button>
                                </div>
                            </div>
                        </div>
                        <!-- /.section-footer -->
                    </div>
                    <!-- /.tab-pane -->
                    <div class="tab-pane fade" id="dispatch_email">
                        <div class="section-title">
                            <div class="row">
                                <div class="col-xs-6">
                                    <h2>{l}Stock Dispatching message{endl}</h2>
                                </div>
                                <!-- <div class="col-xs-6 text-right">
                  <button type="submit" class="btn btn-default" ng-click="vm.saveSettingdispatch(vm,vm.dispatch_email)">{l}Save{endl}</button>
                </div> -->
                            </div>
                        </div>
                        <!-- /.section-title -->
                        <div class="section-content">
                            <p class="text-muted col-bottom">{l}Default message for stock dispatching.{endl}</p>
                            <p class="margin-bottom">
                                {l}You can use the following variables in the message:{endl}<br>
                                <span class="text-muted">*{l}Click on the variable and the Ctrl+C or Cmd+C(on mac) to copy and then Ctrl+V or Cmd+V to paste{endl}</span>
                            </p>
                            <div class="form-horizontal text-left">
                                <div class="form-group">
                                    <label class="control-label col-xs-3">{l}Labels{endl}</label>
                                    <div class="col-xs-3">
                                        <select class="form-control" ng-model="vm.message_label.detail_id" ng-change="vm.Changecodelabes(vm,vm.message_label)">
                        <option value="0">{l}Select{endl}</option>
                        <option ng-repeat="option in vm.message_label.detail track by option.id_value" value="{{option.id_value}}">{{option.name}}</option>
                      </select>
                                    </div>
                                    <div class="col-xs-3 variables" ng-if="vm.message_label.selected_detail != null">
                                        <li class="list-unstyled" ng-click="vm.clickys(vm.message_label.selected_detail)">
                                            <input type="text" class="form-control disabled" readonly value="{{vm.message_label.selected_detail}}" style="margin-bottom: 0;">
                                        </li>
                                    </div>
                                    <div class="control-label col-xs-6">
                                        <!-- <button type="submit" class="btn btn-tertiary" ng-click="Geman = !Geman" >{l}Toggle Details List{endl}</button> -->
                                        <a href="#" ng-click="Geman=true" class="text-link" ng-show="!Geman">{l}Show more{endl}&nbsp;<i class="glyphicon glyphicon-chevron-down" aria-hidden="true"></i></a>
                                        <a href="#" ng-click="Geman=false" class="text-link" ng-show="Geman">{l}Show less{endl}&nbsp;<i class="glyphicon glyphicon-chevron-up" aria-hidden="true"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="row variables" ng-show="Geman">
                                <div class="col-xs-4">
                                    <div class="form-group">
                                        <input type="text" class="form-control disabled" readonly value="[!ACCOUNT_COMPANY!]" onclick="this.select();">
                                        <label>{l}Account Name{endl}</label>
                                    </div>
                                </div>
                                <div class="col-xs-4">
                                    <div class="form-group">
                                        <input type="text" class="form-control disabled" readonly value="[!SERIAL_NUMBER!]" onclick="this.select();">
                                        <label>{l}Dispatch Note ID{endl}</label>
                                    </div>
                                </div>
                                <div class="col-xs-4">
                                    <div class="form-group">
                                        <input type="text" class="form-control disabled" readonly value="[!DISPATCH_NOTE_DATE!]" onclick="this.select();">
                                        <label>{l}Dispatch Note Date{endl}</label>
                                    </div>
                                </div>
                                <div class="col-xs-4">
                                    <div class="form-group">
                                        <input type="text" class="form-control disabled" readonly value="[!CUSTOMER!]" onclick="this.select();">
                                        <label>{l}Company Name{endl}</label>
                                    </div>
                                </div>
                            </div>
                            <!-- /.variables -->
                            <div class="form-horizontal text-left">
                                <div class="form-group">
                                    <div class="col-xs-9 col-xs-offset-3 col-sm-4 col-sm-offset-8 text-right">
                                        <select class="form-control form-language {{vm.dispatch_email.translate_cls}}" ng-model="vm.dispatch_email.languages" ng-change="vm.changelangdispatch(vm,vm.dispatch_email)">
                      <option ng-repeat="option in vm.dispatch_email.language_dd track by option.id" value="{{option.id}}">{{option.value}}</option>
                    </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-xs-3">{l}Subject{endl} <span class="mandatory-label">*</span></label>
                                    <div class="col-xs-9">
                                        <input type="text" class="form-control form-language {{vm.dispatch_email.translate_cls}}" ng-model="vm.dispatch_email.subject">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-xs-3">{l}Body{endl} <span class="mandatory-label">*</span></label>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-12">
                                        <textarea ui-tinymce="vm.tinymceOptions" ng-model="vm.dispatch_email.html_content" id="altId" class="variable_assign">{{vm.dispatch_email.text}}</textarea>
                                        <input name="image" type="file" id="upload" class="hidden" onchange="">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /.section-content -->
                        <div class="section-footer">
                            <div class="row">
                                <div class="col-xs-12 text-right">
                                    <button type="submit" class="btn btn-default" ng-click="vm.saveSettingdispatch(vm,vm.dispatch_email)">{l}Save{endl}</button>
                                </div>
                            </div>
                        </div>
                        <!-- /.section-footer -->
                    </div>
                    <!-- /.tab-pane -->
                    <div class="tab-pane fade" id="dispatch_address">
                        <div class="section-title">
                            <div class="row">
                                <div class="col-xs-12">
                                    <h2>{l}List of Dispatch Addresses{endl}
                                        <button type="button" class="btn btn-primary btn-add" ng-click="vm.modal_small({},'potemplate/dispatch_address','DispatchAddressCtrl')"  tooltip-placement="top"><span class="btn-add_icon"><span class="icon-bar"></span><span class="icon-bar-2"></span></span></button></h2>
                                </div>
                            </div>
                        </div>
                        <!-- /.section-title -->
                        <div class="section-content">
                            <div class="text-muted col-bottom">
                                <p>{l}Dispatch Addreses info{endl}</p>
                            </div>
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th class="col-xs-1">{l}Depot{endl}</th>
                                        <th class="col-xs-2">{l}Street{endl}</th>
                                        <th class="col-xs-2">{l}ZIP{endl}</th>
                                        <th class="col-xs-2">{l}City{endl}</th>
                                        <th class="col-xs-2">{l}Country{endl}</th>
                                        <th class="col-xs-2 ">{l}Set main{endl}</th>
                                        <th class="col-xs-1 text-center">{l}Action{endl}</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="item in vm.dispatch_address">
                                        <td>{{item.naming}}</td>
                                        <td>{{item.address}}</td>
                                        <td>{{item.zip}}</td>
                                        <td>{{item.city}}</td>
                                        <td>{{item.country}}</td>
                                        <td>
                                            <input type="radio" ng-model="item.is_default_checked" value="1" ng-click="vm.setAddress(vm,item.address_id)">
                                        </td>
                                        <td class="text-center">
                                            <a href="#" ng-click="vm.modal_small(item,'potemplate/dispatch_address','DispatchAddressCtrl')"><span class="fas fa-pen"></span></a>
                                            <a href="#" ng-if="item.is_default_checked==false" ng-click="vm.deleteaddress(vm,item.address_id)"><span class="fa fa-trash text-primary"></span></a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <!-- /.tab-pane -->
                </div>
                <!-- /.tabs-settings-content -->
            </div>
        </div>
        <!-- /.tabs-settings -->
    </div>
    <!-- /.page-content -->
</div>
<!-- neede on all pages -->