<div class="container">
    <div class="page-header">
        <div class="row">
            <div class="col-xs-8 col-sm-6">
                <h1>{l}Stock Dispatching {endl}
                    <button type="button" class="btn btn-primary btn-add" go-to="" state="stock_dispatch.edit" params='{ "stock_disp_id": "tmp" }' tooltip-placement="top"><span class="btn-add_icon"><span class="icon-bar"></span><span class="icon-bar-2"></span></span></button></h1>
            </div>
            <div class="col-xs-4 col-sm-6 text-right" ng-if="show_settings.is_admin_stock">
                <div class="dropdown new-settings">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-ellipsis-v"></i></button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <li class="dropdown-item" ng-class="{ 'current':menu.submenu == 'stock_setting' }"><a href="StockSettings/" go-to="" state="stockSettings"><span class="fas fa-cog text-primary"></span> {l}Stock Settings{endl}</a></li>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /.page-header -->
    <div class="row page-search">
        <form>
            <div class="col-sm-6 col-search-input">
                <div class="so-field" ng-class="{ 'so-active':search.search!='' }">
                    <span class="glyphicon glyphicon-search so-icon"></span>
                    <input type="text" class="form-control" placeholder="{l}Search{endl}" search-it doit="search" callbk="renderList" ng-model="search.search">
                    <span class="glyphicon glyphicon-remove so-icon so-remove" ng-click="toggleSearchButtons('search','')"></span>
                </div>
                <!-- /.input-search -->
            </div>
            <div class="col-sm-2">
<!--                <div class="btn-group btn-block">-->
<!--                    <selectize placeholder="{l}All Statuses{endl}" config='filterCfg' options='views' ng-model="activeView"></selectize>-->
<!--                </div>-->
                <div class="so-field" ng-class="{ 'so-active':search.view }">
                    <selectize config='filterCfg' options='view_dd' ng-model="search.view"></selectize>
                    <span class="glyphicon glyphicon-remove so-icon so-remove" ng-click="toggleSearchButtons('view', '')"></span>
                </div>
            </div>
            <div class="col-sm-2  col-search-date">
                <div class="so-field" ng-class="{ 'so-active':search.start_date_js!=undefined }">
                    <span class="glyphicon glyphicon-calendar so-icon" ng-click="openDate('start_date')"></span>
                    <input type="text" class="form-control" ng-model="search.start_date_js" uib-datepicker-popup="{{format}}" is-open="datePickOpen.start_date" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" close-text="Close" placeholder="{l}Start Date{endl}"
                        show-button-bar="false" ng-click="datePickOpen.start_date=true" ng-change="searchThing()">
                    <span class="glyphicon glyphicon-remove so-icon so-remove" ng-click="toggleSearchButtons('start_date_js',undefined)"></span>
                </div>
                <!-- /.input-date -->
            </div>
            <div class="col-sm-2  col-search-date">
                <div class="so-field" ng-class="{ 'so-active':search.stop_date_js!=undefined }">
                    <span class="glyphicon glyphicon-calendar so-icon" ng-click="openDate('stop_date')"></span>
                    <input type="text" class="form-control" ng-model="search.stop_date_js" uib-datepicker-popup="{{format}}" is-open="datePickOpen.stop_date" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" close-text="Close" placeholder="{l}End Date{endl}"
                        show-button-bar="false" ng-click="datePickOpen.stop_date=true" ng-change="searchThing()">
                    <span class="glyphicon glyphicon-remove so-icon so-remove" ng-click="toggleSearchButtons('stop_date_js',undefined)"></span>
                </div>
                <!-- /.input-date -->
            </div>


        </form>
    </div>
    <!-- /.page-search -->
    <div class="row page-content">
        <div class="col-xs-12">
            <table class="table active_rows orderTable">
                <thead>
                    <tr>
                        <th class="col-sm-2 sortable_row" ng-class="{ 'sortable_row-up':(!reverse && ord=='serial_number'), 'sortable_row-down':(reverse && ord=='serial_number') }" ng-click="orderBY('serial_number')">{l}Dispatch Note{endl}</th>
                        <th class="col-sm-2 sortable_row" ng-class="{ 'sortable_row-up':(!reverse && ord=='t_date') , 'sortable_row-down':(reverse && ord=='t_date') }" ng-click="orderBY('t_date')">{l}Date{endl}</th>
                        <th class="col-sm-3 sortable_row" ng-class="{ 'sortable_row-up':(!reverse && ord=='from_naming') , 'sortable_row-down':(reverse && ord=='from_naming') }" ng-click="orderBY('from_naming')">{l}From{endl}</th>
                        <th class="col-sm-3 sortable_row" ng-class="{ 'sortable_row-up':(!reverse && ord=='our_ref') , 'sortable_row-down':(reverse && ord=='our_ref') }" ng-click="orderBY('our_ref')">{l}To{endl}</th>

                        <th class="col-sm-1 text-center col-status">{l}Status{endl}</th>

                        <th class="col-sm-1 table_actions">


                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="item in list" class="collapseTr">
                        <td class="text-muted" go-to="" state="stock_dispatch.view" params='{"stock_disp_id": {{::item.id}}}' list='{ "type":"stock-stock_dispatching", "obj": { "search":{{search}} } }'>
                            <a href="stock_dispatch/view/{{item.id}}" class="text-muted"><span class="text-ellipsis"> {{::item.serial_number}}</span></a>
                        </td>
                        <td class="text-muted" go-to="" state="stock_dispatch.view" params='{"stock_disp_id": {{::item.id}}}' list='{ "type":"stock-stock_dispatching", "obj": { "search":{{search}} } }'>
                            <a href="stock_dispatch/view/{{item.id}}" class="text-muted"><span>{{::item.created}}</span></a>
                        </td>
                        <td class="text-muted" go-to="" state="stock_dispatch.view" params='{"stock_disp_id": {{::item.id}}}' list='{ "type":"stock-stock_dispatching", "obj": { "search":{{search}} } }'>
                            <a href="stock_dispatch/view/{{item.id}}" class="text-muted">{{::item.from_naming}}</a>
                        </td>
                        <td class="text-muted" go-to="" state="stock_dispatch.view" params='{"stock_disp_id": {{::item.id}}}' list='{ "type":"stock-stock_dispatching", "obj": { "search":{{search}} } }'>
                            <a href="stock_dispatch/view/{{item.id}}" class="text-muted">{{::item.to_naming}}</a>
                        </td>
                        <td class="text-center col-status" go-to="" state="stock_dispatch.view" params='{"p_order_id": {{::item.id}}}' list='{ "type":"stock-purchase_orders", "obj": { "search":{{search}} } }'>
                            <a href="stock_dispatch/view/{{item.id}}"><span ng-if="item.status!=2" class="badge item-status-gray" ng-class="{ 'item-status-green':item.status=='green', 'item-status-yellow':item.status=='orange' }">{{::item.status2}}</span></a>
                        </td>

                        <td class="table_actions">
                            <div class="btn-group" uib-dropdown>
                                <button type="button" class="btn btn-plain dropdown-toggle" uib-dropdown-toggle>
                        <span class="caret"></span>
                    </button>
                                <ul class="dropdown-menu dropdown-menu-right" uib-dropdown-menu>
                                    <li class="dropdown-header">{l}Action{endl}</li>
                                    <!-- <li ng-if="!item.is_archived">
                          <a href="#"  go-to="" state="stock_dispatch.view" params='{"stock_disp_id": {{::item.id}}}' list='{ "type":"stock-purchase_orders", "obj": { "search":{{search}} } }'><span class="glyphicon glyphicon-info-sign text-primary"></span> {l}Info{endl}</a>
                        </li> -->
                                    <li ng-if="item.is_editable">
                                        <a href="#" go-to="" state="stock_dispatch.edit" params='{"stock_disp_id": {{::item.id}}}' list='{ "type":"stock-purchase_orders", "obj": { "search":{{search}} } }'><span class="fas fa-pen text-primary"></span> {l}Edit{endl}</a>
                                    </li>
                                    <li ng-if="!item.is_archived && !item.is_delivered">
                                        <a href="#" ng-click="action(item,'archive_link')" confirm="{l}Are you sure, you wanna archive this entry?{endl}"><span class="fas fa-archive text-primary"></span> {l}Archive{endl}</a>
                                    </li>
                                    <li ng-if="item.is_archived">
                                        <a href="#" ng-click="action(item,'undo_link')" confirm="{l}Are you sure, you wanna revert this entry?{endl}"><span class="glyphicon glyphicon-repeat text-primary"></span> {l}Revert{endl}</a>
                                    </li>
                                    <li ng-if="item.is_archived">
                                        <a href="#" ng-click="action(item,'delete_link')" confirm="{l}Are you sure, you wanna delete this entry?{endl}"><span class="fa fa-trash text-primary"></span> {l}Delete{endl}</a>
                                    </li>

                                </ul>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <!-- /.page-content -->
    <!-- <pag-custom pages="pager" refresh="rederList()" doit='order-orders'></pag-custom> -->
    <div class="col-sm-12">
        <div class="col-sm-8">
            <ul ng-if="max_rows > 30" uib-pagination total-items="max_rows" ng-model="search.offset" ng-change="searchThing()" max-size="5" class="pager" boundary-links="true" items-per-page="lr"></ul>
        </div>
        <div class="col-sm-4 text-right">
            <label>{l}Number of stock dispatching{endl}: <strong>{{max_rows}}</strong></label>
        </div>
    </div>
</div>
<!-- neede on all pages -->