<div class="container">
  <div class="page-header">
    <div class="row">
        <div class="col-sm-12">
              <h1>{l}Stock Picking{endl}</h1>
          </div>
      </div>
  </div><!-- /.page-header -->
  <div class="row page-search">
    <form>
      <div class="col-sm-8 col-search-input">
          <div class="so-field" ng-class="{ 'so-active':search.search!='' }">
            <span class="glyphicon glyphicon-search so-icon"></span>
            <input type="text" class="form-control" placeholder="{l}Search{endl}" search-it doit="search" callbk="renderList" ng-model="search.search">
            <span class="glyphicon glyphicon-remove so-icon so-remove" ng-click="toggleSearchButtons('search','')"></span>
          </div><!-- /.input-search -->
        </div>
      <div class="col-sm-2">
          <div class="btn-group btn-block">
            <selectize placeholder="{l}All Statuses{endl}" config='filterCfg' options='views' ng-model="search.view" ></selectize>
          </div>
        </div>
       <div class="col-sm-2">
          <div class="btn-group btn-block">
            <selectize placeholder="{l}All Locations{endl}" config='locationFilterCfg' options='locations' ng-model="search.location" ></selectize>
          </div>
        </div>
<!--       <div class="col-sm-2  col-search-date">
          <div class="so-field" ng-class="{ 'so-active':search.start_date_js!=undefined }">
            <span class="glyphicon glyphicon-calendar so-icon" ng-click="openDate('start_date')"></span>
            <input type="text" class="form-control" ng-model="search.start_date_js" uib-datepicker-popup="{{format}}" is-open="datePickOpen.start_date" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" close-text="Close" placeholder="{l}Start Date{endl}" show-button-bar="false" ng-click="datePickOpen.start_date=true" ng-change="searchThing()">
            <span class="glyphicon glyphicon-remove so-icon so-remove" ng-click="toggleSearchButtons('start_date_js',undefined)"></span>
          </div>
        </div>
      <div class="col-sm-2  col-search-date">
          <div class="so-field" ng-class="{ 'so-active':search.stop_date_js!=undefined }">
            <span class="glyphicon glyphicon-calendar so-icon" ng-click="openDate('stop_date')"></span>
            <input type="text" class="form-control" ng-model="search.stop_date_js" uib-datepicker-popup="{{format}}" is-open="datePickOpen.stop_date" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" close-text="Close" placeholder="{l}End Date{endl}" show-button-bar="false" ng-click="datePickOpen.stop_date=true" ng-change="searchThing()">
            <span class="glyphicon glyphicon-remove so-icon so-remove" ng-click="toggleSearchButtons('stop_date_js',undefined)"></span>
          </div>
        </div> -->
      
       
    </form>
  </div><!-- /.page-search -->
  <div class="row page-content">
    <div class="col-xs-12">
      <table class="table active_rows orderTable">
          <thead>
            <tr>
              <th class="col-sm-2 sortable_row" ng-class="{ 'sortable_row-up':(!reverse && ord=='serial_number'), 'sortable_row-down':(reverse && ord=='serial_number') }" ng-click="orderBY('serial_number')">{l}Intervention number{endl}</th>
              <th class="col-sm-3 sortable_row" ng-class="{ 'sortable_row-up':(!reverse && ord=='customer_name') , 'sortable_row-down':(reverse && ord=='customer_name') }" ng-click="orderBY('customer_name')">{l}Customer{endl}</th>
              <th class="col-sm-2 sortable_row" ng-class="{ 'sortable_row-up':(!reverse && ord=='planned_date') , 'sortable_row-down':(reverse && ord=='planned_date') }" ng-click="orderBY('planned_date')">{l}Date{endl}</th>

              <th class="col-sm-3 sortable_row" ng-class="{ 'sortable_row-up':(!reverse && ord=='naming') , 'sortable_row-down':(reverse && ord=='naming') }" ng-click="orderBY('naming')">{l}Stock location{endl}</th>
            
              <th class="col-sm-1 text-center col-status">{l}Status{endl}</th>
            
             <!--  <th class="col-sm-1 table_actions"> </th> -->
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="item in list" class="collapseTr">
              <td ng-click="orderPicking(item.service_id, item.location_id)">
                <span class="text-ellipsis">{{::item.serial_number}}</span> 
              </td>
              <td class="text-muted" ng-click="orderPicking(item.service_id, item.location_id)">{{::item.customer_name}}</td>
              <td class="text-muted" ng-click="orderPicking(item.service_id, item.location_id)"><span>{{::item.planned_date}}</span></td>

              <td class="text-muted" ng-click="orderPicking(item.service_id, item.location_id)">{{::item.stock_location}}</td>
            
             
             <td class="text-center col-status" ng-click="orderPicking(item.service_id, item.location_id)"><span ng-if="item.status!=2" class="badge item-status-gray" ng-class="{ 'item-status-green':item.status=='green', 'item-status-yellow':item.status=='orange' }">{{::item.status2}}</span></td>
            
<!--               <td class="table_actions">
                <div class="btn-group" uib-dropdown>
                  <button type="button" class="btn btn-plain dropdown-toggle" uib-dropdown-toggle>
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-right" uib-dropdown-menu>
                        <li class="dropdown-header">{l}Action{endl}</li>
                        <li ng-if="!item.is_archived">
                          <a href="#"  go-to="" state="stock_dispatch.view" params='{"stock_disp_id": {{::item.id}}}' list='{ "type":"stock-purchase_orders", "obj": { "search":{{search}} } }'><span class="glyphicon glyphicon-info-sign text-primary"></span> {l}Info{endl}</a>
                        </li>
                        <li ng-if="item.is_editable">
                            <a href="#"  go-to="" state="stock_dispatch.edit" params='{"stock_disp_id": {{::item.id}}}' list='{ "type":"stock-purchase_orders", "obj": { "search":{{search}} } }'><span class="fas fa-pen text-primary"></span> {l}Edit{endl}</a>
                        </li>
                        <li ng-if="!item.is_archived">
                             <a href="#" ng-click="action(item,'archive_link')" confirm="{l}Are you sure, you wanna archive this entry?{endl}"><span class="glyphicon glyphicon-minus-sign text-primary"></span> {l}Archive{endl}</a>
                        </li>
                        <li ng-if="item.is_archived">
                             <a href="#" ng-click="action(item,'undo_link')" confirm="{l}Are you sure, you wanna revert this entry?{endl}"><span class="glyphicon glyphicon-repeat text-primary"></span> {l}Revert{endl}</a>
                        </li>
                        <li ng-if="item.is_archived">
                          <a href="#" ng-click="action(item,'delete_link')" confirm="{l}Are you sure, you wanna delete this entry?{endl}"><span class="fa fa-trash text-primary"></span> {l}Delete{endl}</a>
                        </li>
                        
                    </ul>
                </div>
              </td> -->
            </tr>
          </tbody>
        </table>
    </div>
  </div><!-- /.page-content -->
  <!-- <pag-custom pages="pager" refresh="rederList()" doit='order-orders'></pag-custom> -->
  <ul ng-if="max_rows > 30" uib-pagination total-items="max_rows" ng-model="search.offset" ng-change="searchThing()" max-size="5" class="pager" boundary-links="true" items-per-page="lr" ></ul>
</div><!-- neede on all pages --> 