<div class="container">
    <div class="page-header">
        <div class="row">
            <div class="col-xs-8 col-sm-6">
                <h1>{l}Purchase Orders{endl}</h1>
            </div>
            <div class="col-xs-4 col-sm-6 text-right">
                <div class="dropdown new-settings">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-ellipsis-v"></i></button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <!-- <a class="dropdown-item" href="#">Import</a> -->
                        <li class="dropdown-item" ng-class="{ 'current':menu.submenu == 'po_order_setting' }"><a href="PurchaseOrderSettings/" go-to="" state="purchaseOrderSettings"><span class="fas fa-cog text-primary"></span> {l}Purchase Order Module{endl}</a></li>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /.page-header -->
    <div class="tabs-navigation">
        <ul class="nav nav-tabs">
            <li>
                <a href="purchase_orders/" go-to="" state="purchase_orders">{l}Purchase Orders{endl}</a>
                <button type="button" class="btn btn-primary btn-add" go-to="" state="purchase_order.edit" params='{ "p_order_id": "tmp" }' tooltip-placement="top"><span class="btn-add_icon"><span class="icon-bar"></span><span class="icon-bar-2"></span></span></button>
            </li>
            <li>
                <a href="purchase_order_deliveries/" go-to="" state="purchase_order_deliveries">{l}Deliveries{endl}</a>
            </li>
            <li>
                <a href="stock_low/" go-to="" state="stock_low">{l}Products Low in Stock{endl}</a>
                <!-- <button type="button" class="btn btn-primary btn-add" go-to="" state="quote.editTemplate" params='{"template_id": "tmp"}' uib-tooltip="{l}Add{endl}" tooltip-placement="top"><span class="btn-add_icon"><span class="icon-bar"></span><span class="icon-bar-2"></span></span></button> -->
            </li>
            <li class="active">
                <a ui-sref="to_order" href="to_order/">{l}Bulk Orders - To be Ordered{endl}</a>
            </li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane active" id="to_order">
                <div class="section-content">
                    <div class="page-header">
                        <div class="row">
                            <div class="col-xs-12 col-sm-12">
                                <div class="col-xs-3 col-sm-3">
                                    <h2>{l}Orders{endl}</h2>
                                </div>
                                <div class="col-xs-3 col-sm-3" ng-if="module_settings.show_projects && module_settings.not_easy_invoice_diy">
                                    <h2>{l}Projects{endl}</h2>
                                </div>
                                <div class="col-xs-3 col-sm-3" ng-if="module_settings.show_interventions && module_settings.not_easy_invoice_diy">
                                    <h2>{l}Interventions{endl}</h2>
                                </div>
                                <div class="col-xs-3 col-sm-3"></div>
                            </div>
                            <div class="col-xs-12 col-sm-12">
                                <div class="col-xs-3 col-sm-3">
                                    <h2><b>{{number_o}}</b></h2>
                                </div>
                                <div class="col-xs-3 col-sm-3" class="col-xs-3 col-sm-3" ng-if="module_settings.show_projects && module_settings.not_easy_invoice_diy">
                                    <h2><b>{{number_p}}</b></h2>
                                </div>
                                <div class="col-xs-3 col-sm-3" ng-if="module_settings.show_interventions && module_settings.not_easy_invoice_diy">
                                    <h2><b>{{number_i}}</b></h2>
                                </div>

                                <div class="col-xs-3 col-sm-3"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <table class="table active_rows orderTable">
                            <thead>
                                <tr>
                                    <th class="col-xs-3 col-sm-4">{l}Number{endl}</th>
                                    <th class="col-xs-3 col-sm-3">{l}Customer{endl}</th>
                                    <th class="col-xs-2 col-sm-2">{l}Date{endl}</th>
                                    <th class="col-xs-2 col-sm-2">{l}Quantity{endl}</th>

                                    <th class="col-sm-1 text-center">

                                        <div class="checkbox checkbox-primary">
                                            <input type="checkbox" id="checkbox_all" ng-model="listObj.check_add_all" ng-click="checkAll()">
                                            <label for="checkbox_all"></label>
                                        </div>
                                    </th>
                                    <th class="table_actions">
                                        <div class="btn-group" uib-dropdown>
                                            <button type="button" class="btn btn-tertiary dropdown-toggle" uib-dropdown-toggle>
                                    <span class="caret"></span>
                                </button>
                                            <ul class="dropdown-menu dropdown-menu-right" uib-dropdown-menu>

                                                <li><a href="#" ng-click="createPorders('1')"><span class="text-primary"></span> {l}Create Grouped purchase orders{endl}</a></li>
                                            </ul>
                                        </div>
                                    </th>
                                </tr>

                                <tr>
                                    <th class="col-sm-12 active" colspan="6"><strong>{l}Orders{endl}</strong></th>

                                </tr>

                            </thead>
                            <tbody class="orders">
                                <tr ng-repeat="item_order in list_order" class="collapseTr">
                                    <td class="text-muted expand_row">
                                        <i class="fa fa-chevron-right btn-expand" ng-click="listMoreOrder($index)"></i>
                                        <i class="fa fa-chevron-down btn-expand hidden" ng-click="listLess($index, 'orders')"></i>
                                        <!-- <span class="glyphicon glyphicon-plus btn-expand" ng-click="listMoreOrder($index)"></span>
                            <span class="glyphicon glyphicon-minus btn-expand hidden" ng-click="listLess($index, 'orders')"></span> -->
                                        <a href="order/view/{{item_order.id}}" class="text-muted">{{::item_order.serial_number}}</a>
                                    </td>
                                    <td class="text-muted ng-cloak">
                                        <a href="order/view/{{item_order.id}}" class="text-muted">{{::item_order.customer}}</a>
                                    </td>
                                    <td class="text-muted ng-cloak">
                                        <a href="order/view/{{item_order.id}}" class="text-muted">{{::item_order.created}}</a>
                                    </td>
                                    <td class="text-muted ng-cloak">
                                        <a href="order/view/{{item_order.id}}" class="text-muted">{{::item_order.quantity}}</a>
                                    </td>
                                    <td class="col-select">
                                        <div class="checkbox checkbox-primary">
                                            <input type="checkbox" id="checkbox_all_{{$index}}" ng-model="item_order.checked">
                                            <label for="checkbox_all_{{$index}}"></label>
                                        </div>
                                    </td>
                                    <td class="table_actions">
                                        <div class="btn-group" uib-dropdown>
                                            <button type="button" class="btn btn-plain dropdown-toggle" uib-dropdown-toggle>
                                    <span class="caret"></span>
                                </button>
                                            <ul class="dropdown-menu dropdown-menu-right" uib-dropdown-menu>
                                                <li><a href="#" ui-sref="order.view({'order_id': item_order.id})"><span class="glyphicon glyphicon-info-sign text-primary"></span> {l}View{endl}</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                            <thead ng-if="module_settings.show_projects && module_settings.not_easy_invoice_diy">
                                <tr>
                                    <th class="col-sm-12 active" colspan="6"><strong>{l}Projects{endl}</strong></th>
                                </tr>
                            </thead>

                            <tbody class="projects" ng-if="module_settings.show_projects && module_settings.not_easy_invoice_diy">
                                <tr ng-repeat="item_order in list_project" class="collapseTr">
                                    <td class="text-muted expand_row">
                                        <span class="glyphicon glyphicon-plus btn-expand" ng-click="listMoreProject($index)"></span>
                                        <span class="glyphicon glyphicon-minus btn-expand hidden" ng-click="listLess($index, 'projects')"></span>
                                        <a href="project/edit/{{item_order.id}}" class="text-muted"> {{::item_order.serial_number}}</a>
                                    </td>
                                    <td class="text-muted ng-cloak">
                                        <a href="project/edit/{{item_order.id}}" class="text-muted"> {{::item_order.customer}}</a>
                                    </td>
                                    <td class="text-muted ng-cloak">
                                        <a href="project/edit/{{item_order.id}}" class="text-muted"> {{::item_order.created}}</a>
                                    </td>
                                    <td class="text-muted ng-cloak">
                                        <a href="project/edit/{{item_order.id}}" class="text-muted"> {{::item_order.quantity}}</a>
                                    </td>
                                    <td class="col-select">
                                        <div class="checkbox checkbox-primary text-right">
                                            <input type="checkbox" id="checkbox_all_p_{{$index}}" ng-model="item_order.checked">
                                            <label for="checkbox_all_p_{{$index}}"></label>
                                        </div>
                                    </td>
                                    <td class="table_actions">
                                        <div class="btn-group" uib-dropdown>
                                            <button type="button" class="btn btn-plain dropdown-toggle" uib-dropdown-toggle>
                                    <span class="caret"></span>
                                </button>
                                            <ul class="dropdown-menu dropdown-menu-right" uib-dropdown-menu>
                                                <li><a href="#" ui-sref="project.edit({'project_id': item_order.id})"><span class="glyphicon glyphicon-info-sign text-primary"></span> {l}View{endl}</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>

                            <thead ng-if="module_settings.show_interventions && module_settings.not_easy_invoice_diy">
                                <tr>
                                    <th class="col-sm-12 active" colspan="6"><strong>{l}Interventions{endl}</strong></th>
                                </tr>
                            </thead>

                            <tbody class="interventions" ng-if="module_settings.show_interventions && module_settings.not_easy_invoice_diy">
                                <tr ng-repeat="item_order in list_intervention" class="collapseTr">
                                    <td class="text-muted expand_row">
                                        <span class="glyphicon glyphicon-plus btn-expand" ng-click="listMoreIntervention($index)"></span>
                                        <span class="glyphicon glyphicon-minus btn-expand hidden" ng-click="listLess($index, 'interventions')"></span>
                                        <a href="service/edit/{{item_order.id}}" class="text-muted"> {{::item_order.serial_number}}</a>
                                    </td>
                                    <td class="text-muted ng-cloak">
                                        <a href="service/edit/{{item_order.id}}" class="text-muted"> {{::item_order.customer}}</a>
                                    </td>
                                    <td class="text-muted ng-cloak">
                                        <a href="service/edit/{{item_order.id}}" class="text-muted"> {{::item_order.created}}</a>
                                    </td>
                                    <td class="text-muted ng-cloak">
                                        <a href="service/edit/{{item_order.id}}" class="text-muted"> {{::item_order.quantity}}</a>
                                    </td>
                                    <td class="col-select">
                                        <div class="checkbox checkbox-primary text-right">
                                            <input type="checkbox" id="checkbox_all_i_{{$index}}" ng-model="item_order.checked">
                                            <label for="checkbox_all_i_{{$index}}"></label>
                                        </div>
                                    </td>
                                    <td class="table_actions">
                                        <div class="btn-group" uib-dropdown>
                                            <button type="button" class="btn btn-plain dropdown-toggle" uib-dropdown-toggle>
                                    <span class="caret"></span>
                                </button>
                                            <ul class="dropdown-menu dropdown-menu-right" uib-dropdown-menu>
                                                <li><a href="#" ui-sref="service.view({'service_id': item_order.id})"><span class="glyphicon glyphicon-info-sign text-primary"></span> {l}View{endl}</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>


                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- <pag-custom pages="pager" refresh="rederList()" doit='order-orders'></pag-custom> -->
    <div class="col-sm-12">
        <div class="col-sm-8">
            <ul ng-if="max_rows > 30" uib-pagination total-items="max_rows" ng-model="search.offset" ng-change="searchThing()" max-size="5" class="pager" boundary-links="true" items-per-page="lr"></ul>
        </div>
        <div class="col-sm-4 text-right">
            <label>{l}Number of bulk orders to be ordered{endl}: <strong>{{max_rows}}</strong></label>
        </div>
    </div>
</div>
<!-- neede on all pages -->