<div class="modal-header">
  	<button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="viewStock.cancel()"><span aria-hidden="true">&times;</span></button>
  	<h4 class="modal-title">{l}Edit stock reason{endl}</h4>
</div>
<div class="modal-body">
<div class="col-sm-12 col-bottom col-top">
    <table class="table active_rows orderTable">
      <thead>
        <tr>
         <th class="col-sm-5" ><strong>{l}Edit Reason{endl}</strong></th>
          <th class="col-sm-5" ><strong>{l}User Name{endl}</strong></th>
            <th class="col-sm-2" ><strong>{l}Date{endl}</strong></th>
        </tr>
      </thead> 
         
      <tbody>
        <tr>
          <td class="col-sm-5 text-muted">
            {{::viewStock.item.edit_reason.edit_reason}}
          </td>
          <td class="col-sm-5 text-muted">
            {{::viewStock.item.edit_reason.username}}
          </td>
          <td class="col-sm-2">
            {{::viewStock.item.edit_reason.date}}
          </td>
        </tr>
      </tbody>       
  </table>  
</div>	
</div>
<div class="modal-footer">
      <button class="btn btn-plain" type="button" ng-click="viewStock.cancel()">{l}Cancel{endl}</button>
</div>