<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="add.close_modal()"><span aria-hidden="true">&times;</span></button>
  <h4 class="modal-title">{l}Template Setup{endl}</h4>
</div>
<div class="modal-body modal-body_alt">
	<div uib-alert ng-repeat="alert in add.alerts" type="{{alert.type}}" close="add.alerts.splice($index, 1);" dismiss-on-timeout="3500" ng-class="['alert-' + (alert.type || 'warning') ]">{{alert.msg}}</div>
	<form class="form-horizontal" name="template_modal" novalidate>
		<div class="col-sm-12">
			<table class="table active_rows">
				<thead>
			            <tr>
			            	<th>
			            		<div class="row">
			            			<div class="col-sm-6">{l}Template{endl}</div>
					              	<div class="col-sm-5">{l}Name{endl}</div>
					              	<div class="col-sm-1"></div>
			            		</div>
			            	</th>		              	
			            </tr>
			      </thead>
			      <tbody>
			      	<tr ng-repeat="item in add.obj.item.templates">
			      		<td>
			      			<div class="row">
			      				<div class="col-sm-6">{{item.name}}</div>
					      		<div class="col-sm-5">
					      			<div class="form-group" ng-class="{ 'form-group_alert' : template_modal.alias_{{item.template_id}}.$invalid && !template_modal.alias_{{item.template_id}}.$pristine }">
					      				<input type="text" name="alias_{{item.template_id}}" class="form-control" ng-model="item.alias" placeholder="{l}Name{endl}">
					      				<div class="alert alert-sm alert-danger" ng-if="template_modal['alias_'+item.template_id].$invalid && add.alertsField['alias_'+item.template_id]">{{add.alertsField['alias_'+item.template_id]}}</div>
					      			</div>		      			
					      		</div>
					      		<div class="col-sm-1">
					      			<div class="col-sm-12 text-center checkbox checkbox-primary">
					      				<input type="radio" id="checkbox_t_{{item.template_id}}" ng-model="item.checked" value="{{item.template_id}}" ng-click="add.chooseTemplate($index)">
					      				<!-- <label for="checkbox_t_{{item.template_id}}"></label>  -->
					      			</div>
					      		</div>
			      			</div>
			      		</td>      		
			      	</tr>
			      </tbody>
			</table>
		</div>
	</form>
</div>
<div class="modal-footer">
    <button class="btn btn-plain" type="button" ng-click="add.close_modal()">{l}Cancel{endl}</button>
     <button class="btn btn-default" type="button" ng-click="add.ok(template_modal)">{l}Save{endl}</button>
</div>