<div class="page-header">
      <div class="row">
          <div class="col-sm-12">
            <h1>{l}Installation{endl} {{edit.item.serial_number}}              
                <!-- <a class="btn btn-link pull-right" ui-sref="installation.view({ 'installation_id':edit.item.installation_id })" ng-if="edit.item.installation_id!='tmp'" href="#"><span class="glyphicon glyphicon-eye-open"></span> {l}View{endl}</a> -->
            </h1>
          </div>
          <div class="col-sm-4 page-header-options" ng-if="edit.isAddPage">
          </div>
      </div>        
</div><!-- /.page-header -->
<!-- <div uib-alert ng-repeat="alert in edit.alerts" type="{{alert.type}}" close="edit.alerts.splice($index, 1);" ng-class="['alert-' + (alert.type || 'warning'), 'alert-fixed' ]" dismiss-on-timeout='5000' >{{alert.msg}}</div> -->
<form class="form-horizontal" name="edit.project_all" novalidate>
  <!-- <div class="user_summary" ng-class="{'is-open': edit.showTxt.settings, '': !edit.showTxt.settings}">
    <button class="btn-summary text-link" ng-disabled="!edit.item.customer_id || edit.item.add_customer" ng-click="edit.showTxt.settings=!edit.showTxt.settings"><span class="glyphicon glyphicon-chevron-down pull-right"></span> {l}Installation Settings{endl}</button>
    <div class="row col-top col-bottom">
        <div class="col-sm-4 col-md-6">
            <div class="row">
                  <div class="col-sm-8">
                     <img class="img-responsive" ng-src="{{edit.item.main_comp_info.logo}}" alt="">
                  </div>
              </div>
            <div class="row">
                  <div class="col-sm-12">
                      <h4>{{edit.item.main_comp_info.name}}</h4>
                      <p> <span ng-bind-html="edit.item.main_comp_info.address"></span><br>{{edit.item.main_comp_info.zip}} {{edit.item.main_comp_info.city}}<br>
                        {{edit.item.main_comp_info.country}}<br>
                        {{edit.item.main_comp_info.phone}}</p>
                    </div>
              </div>                        
          </div>
    </div>
  </div> -->
  <div class="row">
    <div class="col-sm-6">
        <div class="panel panel-default panel-customer_details">
          <div class="panel-body panel-current_customer panel-add_customer_alt" ng-class="{ 'panel-add_customer': edit.item.add_customer && edit.showTxt.addBtn }">
              <div ng-if="edit.showTxt.address && !edit.item.add_customer">
                <a class="panel-edit margin-top" href="#" ng-click="edit.showEditFnc(edit)" >{l}Edit{endl}</a>
                <h2>{{edit.item.buyer_name}} <small class="quick_edits"><span class="text-link_space">•</span> <a href="#" class="text-link text-muted edit-customer" ng-click="edit.openModal(edit,'EditCustomer');" ng-if="edit.item.field=='customer_id'" >{l}Edit Customer{endl}</a> <span class="text-link_space">•</span> <a href="#" class="text-link text-muted delete-customer" ng-click="edit.removeCust(edit)">{l}Remove{endl}</a></small></h2>
                <div class="delivery-address" ng-if="!edit.item.view_delivery">
                  <span ng-bind-html="edit.item.free_field_txt"></span>
                </div>
              </div><!-- /showTxt.address -->
              <div ng-if="edit.item.add_customer" >
                <button class="btn btn-block btn-lg btn-blank" ng-if="edit.showTxt.addBtn" ng-click="edit.showCCSelectize(edit)"><span class="fa fa-user-plus icon-holder"></span> {l}Add Customer{endl}</button>
                <selectize config='edit.ccAutoCfg' options='edit.auto.options.cc' ng-model="edit.item.customer_id" id="custandcont" ng-if="!edit.showTxt.addBtn"></selectize>
              </div>
              <div class="form-horizontal text-left " ng-show="!edit.showTxt.address">
                <div class="form-group">
                  <label class="col-sm-3 control-label">{l}Customer{endl}</label>
                  <div class="col-sm-9">
                    <!-- <input type="text" class="form-control" ng-model="edit.item.buyer_name" ng-disabled="true" > -->
                    <selectize config='edit.ccAutoCfg' options='edit.auto.options.cc' ng-model="edit.item.customer_id" id="custandcont"></selectize>
                  </div>
                </div>
                <div class="form-group extra_address" ng-class="{ 'form-group_alert' : edit.project_all.delivery_address_id.$invalid && !edit.project_all.delivery_address_id.$pristine }">
                  <label class="col-sm-3 control-label">{l}Site Address{endl}</label>
                  <div class="col-sm-9">
                    <selectize config='edit.addressAutoCfg' options='edit.auto.options.addresses' ng-model="edit.item.delivery_address_id" id="delivery_address" name="delivery_address_id" ng-disabled="!edit.item.customer_id"></selectize>
                    <div class="alert alert-sm alert-danger" ng-if="edit.project_all.delivery_address_id.$invalid && edit.alertsField.delivery_address_id">{{edit.alertsField.delivery_address_id}}</div>
                  </div>
                </div>
                <!-- <div class="text-right">
                  <a href="#" class="text-muted" ng-click="edit.cancelEdit(edit)">{l}Cancel{endl}</a> <span class="text-link_space"> </span> <a href="#" class="text-link btn btn-default" ng-click="edit.saveClientData(edit,edit.item.field,edit.project_all)">{l}Save{endl}</a>
                </div> -->
              </div>
            </div>
        </div><!-- /.panel -->
    </div>
    <div class="col-sm-6 col-lg-6">
          <div class="form-squeeze" name="project_main">
              <div class="form-group" ng-class="{ 'form-group_alert' : edit.project_all.serial_number.$invalid && !edit.project_all.serial_number.$pristine }">
                  <label class="col-sm-4 control-label installation-edit-label">{l}Installation number{endl}</label>
                    <div class="col-sm-8 installation-edit-input">
                      <input type="text" ng-disabled="!edit.item.customer_id || edit.item.add_customer || edit.item.installation_id=='tmp'" class="form-control" ng-model="edit.item.serial_number" name="serial_number" placeholder="{l}Installation number{endl}">
                      <div class="alert alert-sm alert-danger" ng-if="edit.project_all.serial_number.$invalid && edit.alertsField.serial_number">{{edit.alertsField.serial_number}}</div>
                    </div>
              </div><!-- /.form-group -->
              <div class="form-group" ng-class="{ 'form-group_alert' : edit.project_all.name.$invalid && !edit.project_all.name.$pristine }">
                <label class="col-sm-4 control-label installation-edit-label">{l}Installation Name{endl}</label>
                  <div class="col-sm-8 installation-edit-input">
                      <input type="text" ng-disabled="!edit.item.customer_id || edit.item.add_customer || !edit.item.template_id" class="form-control" ng-model="edit.item.name" name="name" placeholder="{l}Installation Name{endl}">
                      <div class="alert alert-sm alert-danger" ng-if="edit.project_all.name.$invalid && edit.alertsField.name">{{edit.alertsField.name}}</div>
                  </div>
              </div><!-- /.form-group -->                  
          </div><!-- /.form-horizontal -->
      </div>
  </div><!-- /.intervention-details -->
  <div class="row">
    <div class="col-sm-12" ng-if="edit.item.template_id">
        <div class="row">
          <div class="col-sm-6">
            <div class="form-group" ng-repeat="field in edit.item.template.left_fields">
              <label class="control-label col-sm-4 text-left">{{field.name}}</label>
              <div class="col-sm-8">
                <selectize config='edit.fieldCfg' ng-if="field.type=='1' && field.ptype=='0'" options='field.no_fields' ng-model="field.name_final" fieldid="{{$index}}" position="left_fields"></selectize>
                <selectize config='edit.articleAutoCfg' ng-if="field.type=='1' && field.ptype=='10'" options='edit.auto.options.articles' ng-model="field.name_final" id="articles_list"></selectize>
                <selectize config='edit.serviceAutoCfg' ng-if="field.type=='1' && field.ptype=='11'" options='edit.auto.options.services' ng-model="field.name_final" id="services_list"></selectize>
                <input type="text" class="form-control" ng-if="field.type=='2'" ng-model="field.name_final" placeholder="{{field.name}}" maxlength="255">
                <small ng-if="field.type=='2'">{l}Maximum 255 characters are allowed{endl}</small>
                <div class="so-field input-date" ng-if="field.type=='3'">
                  <span class="glyphicon glyphicon-calendar so-icon" ng-click="edit.datePickOpen['lfield_'+field.field_id]=true"></span>
                  <input type="text" class="form-control" ng-model="field.name_final" uib-datepicker-popup="{{edit.format}}" is-open="edit.datePickOpen['lfield_'+field.field_id]" datepicker-options="edit.dateOptions" close-text="Close" placeholder="{{field.name}}" show-button-bar="false" ng-click="edit.datePickOpen['lfield_'+field.field_id]=true" />
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group" ng-repeat="field in edit.item.template.right_fields">
              <label class="control-label col-sm-4 text-left">{{field.name}}</label>
              <div class="col-sm-8">
                <selectize config='edit.fieldCfg' ng-if="field.type=='1' && field.ptype=='0'" options='field.no_fields' ng-model="field.name_final" fieldid="{{$index}}" position="right_fields"></selectize>
                <selectize config='edit.articleAutoCfg' ng-if="field.type=='1' && field.ptype=='10'" options='edit.auto.options.articles' ng-model="field.name_final" id="articles_list"></selectize>
                <selectize config='edit.serviceAutoCfg' ng-if="field.type=='1' && field.ptype=='11'" options='edit.auto.options.services' ng-model="field.name_final" id="services_list"></selectize>
                <input type="text" class="form-control" ng-if="field.type=='2'" ng-model="field.name_final" placeholder="{{field.name}}" maxlength="255">
                <small ng-if="field.type=='2'">{l}Maximum 255 characters are allowed{endl}</small>
                <div class="so-field input-date" ng-if="field.type=='3'">
                  <span class="glyphicon glyphicon-calendar so-icon" ng-click="edit.datePickOpen['rfield_'+field.field_id]=true"></span>
                  <input type="text" class="form-control" ng-model="field.name_final" uib-datepicker-popup="{{edit.format}}" is-open="edit.datePickOpen['rfield_'+field.field_id]" datepicker-options="edit.dateOptions" close-text="Close" placeholder="{{field.name}}" show-button-bar="false" ng-click="edit.datePickOpen['rfield_'+field.field_id]=true" />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xs-2 col-xs-offset-5" id="blank_template" ng-if="edit.item.installation_id=='tmp' && edit.item.buyer_id && !edit.item.template.left_fields.length && !edit.item.template.right_fields.length">
        <a href="#"><div class="blank_card blank_card-lg text-center select_template_icon" ng-click="edit.selectTemplate()">
          <div class="card_icon">
            <i class="fa fa-th-list" aria-hidden="true"></i>
           </div>
          <p class="text-muted col-top">{l}Select Template{endl}</p>
        </div></a>
      </div>
  </div>
</form>
<div class="text-right">
  <a class="btn btn-plain" ng-click="edit.cancel()">{l}Cancel{endl}</a>
  <button class="btn btn-default" ng-click="edit.saveData(edit.project_all)" ng-disabled="!edit.item.buyer_id || !edit.item.delivery_address_id || !edit.item.template_id" >{l}Save{endl}</button>
</div>