<div class="container">
    <div class="page-header">
        <div class="row">
            <div class="col-xs-8 col-sm-6">
                <h1>{l}Installations{endl}</h1>
            </div>
            <div class="col-xs-4 col-sm-6 text-right" ng-if="show_settings.is_admin_installation">
                <div class="dropdown new-settings">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-ellipsis-v"></i></button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <li class="dropdown-item" ng-class="{ 'current':menu.submenu == 'installation setting' }"><a go-to="" href="installationSettings/" state="installationSettings"><span class="fas fa-cog text-primary"></span> {l}Installations Settings{endl}</a></li>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /.page-header -->
    <div class="tabs-navigation">
        <ul class="nav nav-tabs">
            <li class="active">
                <a href="services/" go-to="" state="installations">{l}Installations{endl}</a>
                <button type="button" class="btn btn-primary btn-add" go-to="" state="installation.edit" params='{"installation_id": "tmp"}'  tooltip-placement="top"><span class="btn-add_icon"><span class="icon-bar"></span><span class="icon-bar-2"></span></span></button>
            </li>
            <li>
                <a href="install_fields/" go-to="" state="install_fields">{l}Installation Fields{endl}</a>
                <button type="button" class="btn btn-primary btn-add"  tooltip-placement="top" ng-click="addField()"><span class="btn-add_icon"><span class="icon-bar"></span><span class="icon-bar-2"></span></span></button>
            </li>
            <li>
                <a href="install_templates/" go-to="" state="install_templates">{l}Installation Templates{endl}</a>
                <button type="button" class="btn btn-primary btn-add" go-to="" state="install_template.edit" params='{"template_id": "tmp"}'  tooltip-placement="top"><span class="btn-add_icon"><span class="icon-bar"></span><span class="icon-bar-2"></span></span></button>
            </li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane active">
                <div class="row page-search page-search-options">
                    <form>
                        <div class="col-sm-12">
                            <div class="row">
                                <div class="col-xs-12">
                                    <div class="so-field" ng-class="{ 'so-active':search.search!='' }">
                                        <span class="glyphicon glyphicon-search so-icon"></span>
                                        <input type="text" class="form-control" placeholder="{l}Search{endl}" search-it doit="search" resetlist="1" callbk="renderList" ng-model="search.search">
                                        <span class="glyphicon glyphicon-remove so-icon so-remove" ng-click="toggleSearchButtons('search','')"></span>
                                    </div>
                                    <!-- /.input-search -->
                                </div>
                                <!-- /.page-search_options -->
                            </div>
                        </div>
                        <div class="page-search-button">
                            <div class="btn-group" uib-dropdown>
                                <button type="button" class="btn btn-tertiary btn-square dropdown-toggle" uib-dropdown-toggle>
                                    <span class="caret"></span>
                                    <span class="sr-only">Toggle Dropdown</span>
                                </button>
                                <ul class="dropdown-menu dropdown-menu-right" uib-dropdown-menu>
                                    <li ng-if="show_settings.is_admin_installation"><a href="index.php?do=installation-export_installations&amp;{{export_args}}" target="_blank"><span class="fas fa-upload text-primary"></span> {l}Export Installations{endl}</a></li>
                                </ul>
                            </div>
                        </div>
                    </form>
                </div>
                <!-- /.page-search -->
                <!-- <div uib-alert ng-repeat="alert in alerts" type="{{alert.type}}" close="alerts.splice($index, 1);" ng-class="['alert-' + (alert.type || 'warning'), 'alert-fixed' ]" dismiss-on-timeout='5000' >{{alert.msg}}</div> -->
                <!-- <div uib-alert type="notice" class="alert-warning" ng-if="!list.length">{l}No data to display{endl}</div> -->
                <div class="row page-content">
                    <div class="col-sm-12">
                        <table class="table active_rows" ng-if="list.length">
                            <thead>
                                <tr>
                                    <th class="col-sm-1 sortable_row" ng-class="{'sortable_row-up':(!reverse && ord == 'serial_number'), 'sortable_row-down':(reverse && ord == 'serial_number') }" ng-click="orderBY('serial_number')">{l}ID{endl}</th>
                                    <th class="col-sm-2 sortable_row" ng-class="{'sortable_row-up':(!reverse && ord == 'name'), 'sortable_row-down':(reverse && ord == 'name') }" ng-click="orderBY('name')">{l}Name{endl}</th>
                                    <th class="col-sm-3 sortable_row" ng-class="{'sortable_row-up':(!reverse && ord == 'customer_name'), 'sortable_row-down':(reverse && ord == 'customer_name') }" ng-click="orderBY('customer_name')">{l}Account Name{endl}</th>
                                    <th class="col-sm-2 sortable_row" ng-class="{'sortable_row-up':(!reverse && ord == 'address'), 'sortable_row-down':(reverse && ord == 'address') }" ng-click="orderBY('address')">{l}Address{endl}</th>
                                    <th class="col-sm-2 sortable_row" ng-class="{'sortable_row-up':(!reverse && ord == 'city'), 'sortable_row-down':(reverse && ord == 'city') }" ng-click="orderBY('city')">{l}City{endl}</th>
                                    <th class="col-sm-1 sortable_row" ng-class="{'sortable_row-up':(!reverse && ord == 'country_id'), 'sortable_row-down':(reverse && ord == 'country_id') }" ng-click="orderBY('country_id')">{l}Country{endl}</th>
                                    <th class="col-sm-1 col-select">
                                        <div class="dropdown order_export">
                                            <button class="dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="fa fa-square-o" ng-if="!all_pages_selected && !minimum_selected"></i>
                                    <i class="fas fa-minus-square" ng-if="!all_pages_selected && minimum_selected"></i>
                                    <i class="fas fa-check-square" ng-if="all_pages_selected"></i>
                                    <i class="fa fa-caret-down" aria-hidden="true"></i>
                                </button>
                                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                                <a class="dropdown-item" href="#" ng-click="checkAllPage()">{l}Select page{endl}</a>
                                                <a class="dropdown-item" href="#" ng-if="!all_pages_selected" ng-click="checkAllPages()">{l}Select all{endl}</a>
                                                <a class="dropdown-item" href="#" ng-if="all_pages_selected || minimum_selected" ng-click="uncheckAllPages()">{l}Select none{endl}</a>
                                            </div>
                                        </div>
                                    </th>
                                    <th class="text-center">{l}Action{endl}</th>

                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="item in list">
                                    <td go-to="" state="installation.view" params='{"installation_id": {{::item.installation_id}}}' list='{ "type":"installation-installations", "obj": { "search":{{search}}, "cindex":{{$index}}, "total_items":{{max_rows}} } }'>
                                        <a href="installation/view/{{item.installation_id}}" class="color-dark"><span ng-bind-html="item.serial_number"></span></a>
                                    </td>
                                    <td go-to="" state="installation.view" params='{"installation_id": {{::item.installation_id}}}' list='{ "type":"installation-installations", "obj": { "search":{{search}}, "cindex":{{$index}}, "total_items":{{max_rows}} } }'>
                                        <a href="installation/view/{{item.installation_id}}" class="color-dark"><span ng-bind-html="item.name"></span></a>
                                    </td>
                                    <td go-to="" state="installation.view" params='{"installation_id": {{::item.installation_id}}}' list='{ "type":"installation-installations", "obj": { "search":{{search}}, "cindex":{{$index}}, "total_items":{{max_rows}} } }'>
                                        <a href="installation/view/{{item.installation_id}}" class="color-dark">{{item.customer}}</a>
                                    </td>
                                    <td go-to="" state="installation.view" params='{"installation_id": {{::item.installation_id}}}' list='{ "type":"installation-installations", "obj": { "search":{{search}}, "cindex":{{$index}}, "total_items":{{max_rows}} } }'>
                                        <a href="installation/view/{{item.installation_id}}" class="color-dark"><span ng-bind-html="item.address"></span></a>
                                    </td>
                                    <td go-to="" state="installation.view" params='{"installation_id": {{::item.installation_id}}}' list='{ "type":"installation-installations", "obj": { "search":{{search}}, "cindex":{{$index}}, "total_items":{{max_rows}} } }'>
                                        <a href="installation/view/{{item.installation_id}}" class="color-dark"><span ng-bind-html="item.city"></span></a>
                                    </td>
                                    <td go-to="" state="installation.view" params='{"installation_id": {{::item.installation_id}}}' list='{ "type":"installation-installations", "obj": { "search":{{search}}, "cindex":{{$index}}, "total_items":{{max_rows}} } }'>
                                        <a href="installation/view/{{item.installation_id}}" class="color-dark"><span ng-bind-html="item.country"></span></a>
                                    </td>
                                    <td class="col-select">
                                        <div class="checkbox checkbox-primary">
                                            <input type="checkbox" id="checkbox_all_{{$index}}" ng-model="item.check_add_to_product" ng-click="markCheckNew(item)">
                                            <label for="checkbox_all_{{$index}}"></label>
                                        </div>
                                    </td>
                                    <td class="table_actions">
                                        <div class="btn-group" uib-dropdown>
                                            <button type="button" class="btn btn-plain dropdown-toggle" uib-dropdown-toggle>
                                <span class="caret"></span>
                              </button>
                                            <ul class="dropdown-menu dropdown-menu-right" uib-dropdown-menu>
                                                <li class="dropdown-header">{l}Action{endl}</li>
                                                <!-- <li>
                                    <a href="#" go-to="" state="installation.view" params='{"installation_id": {{::item.installation_id}}}' list='{ "type":"installation-installations", "obj": { "search":{{search}}, "cindex":{{$index}}, "total_items":{{max_rows}} } }'><span class="glyphicon glyphicon-info-sign text-primary"></span> {l}View{endl}</a>
                                </li> -->
                                                <li>
                                                    <a href="#" go-to="" state="installation.edit" params='{"installation_id": {{::item.installation_id}}}' list='{ "type":"installation-installations", "obj": { "search":{{search}} } }'><span class="fas fa-pen text-primary"></span> {l}Edit{endl}</a>
                                                </li>
                                                <li>
                                                    <a href="#" ng-click="action(item,'delete_link')" confirm="{l}Are you sure, you wanna delete this entry?{endl}"><span class="fas fa-trash-alt text-primary"></span> {l}Delete{endl}</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-12">
        <div class="col-sm-8">
            <ul ng-if="max_rows && max_rows > lr" uib-pagination total-items="max_rows" ng-model="search.offset" ng-change="searchThing()" max-size="5" class="pager" boundary-links="true" items-per-page="lr"></ul>
        </div>
        <div class="col-sm-4 text-right">
            <label>{l}Number of installations{endl}: <strong>{{max_rows}}</strong></label>
        </div>
    </div>
</div>