<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="add.close_modal()"><span aria-hidden="true">&times;</span></button>
  <h4 class="modal-title">{l}Installation Setup{endl}</h4>
</div>
<div class="modal-body modal-body_alt">
	<div uib-alert ng-repeat="alert in add.alerts" type="{{alert.type}}" close="add.alerts.splice($index, 1);" dismiss-on-timeout="3500" ng-class="['alert-' + (alert.type || 'warning') ]">{{alert.msg}}</div>
	<form class="form-horizontal" name="step_modal" novalidate>
		<div class="col-sm-12">
<!-- 			<div class="form-group" ng-class="{ 'form-group_alert' : step_modal.template.$invalid && !step_modal.template.$pristine }">
				<label class="control-label col-sm-4 text-left">{l}Template{endl}<span class="mandatory-label">*</span></label>
				<div class="col-sm-8">
					<selectize config='add.templateAutoCfg' name="template" options='add.obj.item.templates' ng-model="add.obj.item.template_id" id="templates_list" placeholder="{l}Select Template{endl}"></selectize>
					<div class="alert alert-sm alert-danger" ng-if="step_modal.template.$invalid && add.alertsField.template">{{add.alertsField.template}}</div>
				</div>	
			</div>
			<div class="form-group" ng-show="add.obj.item.template_id" ng-class="{ 'form-group_alert' : step_modal.name.$invalid && !step_modal.name.$pristine }">
	          	<label class="control-label col-sm-4 text-left">{l}Name{endl}<span class="mandatory-label">*</span></label>
	          	<div class="col-sm-8">
	            	<input type="text" name="name" class="form-control" ng-model="add.obj.item.name">
	            	<div class="alert alert-sm alert-danger" ng-if="step_modal.name.$invalid && add.alertsField.name">{{add.alertsField.name}}</div>
	          	</div>
	        </div> -->
			<div class="form-group" ng-class="{ 'form-group_alert' : step_modal.customer.$invalid && !step_modal.customer.$pristine }">
				<label class="control-label col-sm-4 text-left">{l}Customer{endl}<span class="mandatory-label">*</span></label>
				<div class="col-sm-8">
					<selectize config='add.customersCfg' name="customer" options='add.obj.item.customers' ng-model="add.obj.item.customer_id" id="customer_list" placeholder="{l}Select Customer{endl}"></selectize>
					<div class="alert alert-sm alert-danger" ng-if="step_modal.customer.$invalid && add.alertsField.customer">{{add.alertsField.customer}}</div>
				</div>	
			</div>
			<div class="form-group" ng-class="{ 'form-group_alert' : step_modal.address.$invalid && !step_modal.address.$pristine }">
				<label class="control-label col-sm-4 text-left">{l}Site Address{endl}<span class="mandatory-label">*</span></label>
				<div class="col-sm-8">
					<selectize config='add.addressCfg' name="address" options='add.obj.item.addresses' ng-model="add.obj.item.address_id" id="address_list" placeholder="{l}Select Address{endl}"></selectize>
					<div class="alert alert-sm alert-danger" ng-if="step_modal.address.$invalid && add.alertsField.address">{{add.alertsField.address}}</div>
				</div>	
			</div>
		</div>
	</form>
</div>
<div class="modal-footer">
    <button class="btn btn-plain" type="button" ng-click="add.close_modal()">{l}Cancel{endl}</button>
     <button class="btn btn-default" type="button" ng-click="add.ok(step_modal)">{l}Save{endl}</button>
</div>
