<div class="page-header">
      <div class="row">
          <div class="col-sm-12">
            <h1>{l}Template{endl} {{edit.item.name}}               
                <a class="btn btn-sm btn-default pull-right" ui-sref="install_templates" href="#">{l}Back{endl}</a>
                <a class="btn btn-default pull-right" ng-click="edit.saveData(template_form)">{l}Save{endl}</a>
            </h1>
          </div>
          <div class="col-sm-4 page-header-options" ng-if="edit.isAddPage">
          </div>
      </div>        
</div><!-- /.page-header -->
<!-- <div uib-alert ng-repeat="alert in edit.alerts" type="{{alert.type}}" close="edit.alerts.splice($index, 1);" ng-class="['alert-' + (alert.type || 'warning'), 'alert-fixed' ]" dismiss-on-timeout='5000' >{{alert.msg}}</div> -->
<form name="template_form" class="form-horizontal" novalidate>
  <div class="row">
    <div class="col-sm-12">
    <div class="row">
      <div class="col-sm-12">
      <div class="row">
<!--             <div class="col-sm-4 page-search">
        <form>
        <div class="row">
          <div class="col-sm-12">
              <div class="so-field" ng-class="{ 'so-active':edit.search!='' }">
                <span class="glyphicon glyphicon-search so-icon"></span>
                <input type="text" class="form-control" placeholder="{l}Search{endl}" ng-model="edit.search">
                <span class="glyphicon glyphicon-remove so-icon so-remove" ng-click="edit.clearSearch()"></span>
              </div>
            </div></div>
        </form>
      </div> -->
        <div class="col-sm-8">
          <div class="form-group" ng-class="{ 'form-group_alert' : template_form.name.$invalid && !edit.template_form.name.$pristine }">
            <label class="control-label col-sm-1 text-left"><b>{l}Name{endl}*</b></label>
            <div class="col-sm-5">
              <input type="text" name="name" class="form-control" ng-model="edit.item.name" placeholder="{l}Name{endl}">
               <div class="alert alert-sm alert-danger" ng-if="template_form.name.$invalid && edit.alertsField.name">{{edit.alertsField.name}}</div>
            </div>
          </div>
        </div>
        <div class="col-sm-8">
          <div class="form-group">
            <label class="control-label col-sm-1 text-left">{l}Icon{endl}</label>
            <div class="col-sm-1" ng-if="edit.item.icon">
                <div class="drop_images">
                    <div class="col-sm-1 account_avatar">
                        <div class="image photo">
                            <img ng-src="{{edit.item.icon}}"/>
                        </div>
                    </div>
                </div>
            </div>
            <label class="control-label text-left link-pointer text-danger" ng-if="edit.item.icon" ng-click="edit.removeIcon()"><span>{l}Delete{endl}</span></label>
            <label ng-if="!edit.item.icon" class="control-label text-left col-sm-1 link-pointer" ngf-drop="" ngf-select="" ng-model="edit.item.files" ngf-drag-over-class="'dragover'" ngf-multiple="false" accept="image/*" ngf-pattern="'image/*'">
                <i class="fa fa-pencil" aria-hidden="true"></i>
            </label>
          </div>
        </div>
      </div>
    </div>

      <div class="col-sm-12 text-center">
        <div class="row">
          <div class="col-sm-4">
            <h2><b>{l}Fields{endl}</b> <small class="text-muted">*{l}Drag and drop{endl}</small></h2>
          <form>
              <div class="search_fields">
                  <div class="so-field" ng-class="{ 'so-active':edit.search!='' }">
                    <span class="glyphicon glyphicon-search so-icon"></span>
                    <input type="text" class="form-control" placeholder="{l}Search{endl}" ng-model="edit.search">
                    <span class="glyphicon glyphicon-remove so-icon so-remove" ng-click="edit.clearSearch()"></span>
                  </div><!-- /.input-search -->
                </div>
        </form>
            <ul class="table table_orders sort_column drag_table" role="tablist" data-as-sortable="edit.dragControlListeners" data-ng-model="edit.item.fields">   
               <li role="presentation" data-ng-repeat="field in edit.item.fields" data-as-sortable-item ng-class="{ 'hidden':(edit.search.length && field.name.toLowerCase().indexOf(edit.search.toLowerCase()) === -1) }">
                  <div class="row" data-as-sortable-item-handle>
                    <div class="row_handler">
                        <span class="btn-drag drop">&nbsp;</span>
                    </div>
                    <div class="col-sm-12">{{field.name}}</div>
                  </div>
               </li>
            </ul>
          </div>
          <div class="col-sm-4">
            <h2><b>{l}Selected left fields{endl}</b></h2>
            <ul class="table table_orders sort_column drag_table" role="tablist" data-as-sortable="edit.dragControlListeners" data-ng-model="edit.item.fields1">   
               <li role="presentation" data-ng-repeat="field in edit.item.fields1" data-as-sortable-item>
                  <div class="row" data-as-sortable-item-handle>
                    <div class="row_handler">
                        <span class="btn-drag drop">&nbsp;</span>
                    </div>
                    <div class="col-sm-12">{{field.name}}</div>
                  </div>
               </li>
            </ul>
          </div>
          <div class="col-sm-4">
            <h2><b>{l}Selected right fields{endl}</b></h2>
            <ul class="table table_orders sort_column drag_table" role="tablist" data-as-sortable="edit.dragControlListeners" data-ng-model="edit.item.fields2">   
               <li role="presentation" data-ng-repeat="field in edit.item.fields2" data-as-sortable-item>
                  <div class="row" data-as-sortable-item-handle>
                    <div class="row_handler">
                        <span class="btn-drag drop">&nbsp;</span>
                    </div>
                    <div class="col-sm-12">{{field.name}}</div>
                  </div>
               </li>
            </ul>
          </div>
      </div></div>
    </div></div>
  </div>
</form>