<div class="container">
	<div class="page-header">
    	<div class="row">
        	<div class="col-xs-8 col-sm-6">
              	<h1>{l}Installation{endl}</h1>
            </div>
            <div class="col-xs-4 col-sm-6 text-right" ng-if="show_settings.is_admin_installation">
                  <div class="dropdown new-settings">
                      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-ellipsis-v"></i></button>
                      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                          <li class="dropdown-item" ng-class="{ 'current':menu.submenu == 'installation setting' }"><a go-to="" href="installationSettings/" state="installationSettings"><span class="fas fa-cog text-primary"></span> {l}Installations Settings{endl}</a></li>
                      </div>
                  </div>
              </div>
        </div>
  	</div><!-- /.page-header -->
    <div class="tabs-navigation"> 
        <ul class="nav nav-tabs">
          <li>
            <a href="services/" go-to="" state="installations">{l}Installations{endl}</a>
            <button type="button" class="btn btn-primary btn-add" go-to="" state="installation.edit" params='{"installation_id": "tmp"}' uib-tooltip="{l}Add{endl}" tooltip-placement="top"><span class="btn-add_icon"><span class="icon-bar"></span><span class="icon-bar-2"></span></span></button> 
          </li>
          <li class="active">
            <a href="install_fields/" go-to="" state="install_fields">{l}Installation Fields{endl}</a>
            <button type="button" class="btn btn-primary btn-add" uib-tooltip="{l}Add{endl}" tooltip-placement="top" ng-click="addField()"><span class="btn-add_icon"><span class="icon-bar"></span><span class="icon-bar-2"></span></span></button> 
          </li>
          <li>
            <a href="install_templates/" go-to="" state="install_templates">{l}Installation Templates{endl}</a>
            <button type="button" class="btn btn-primary btn-add" go-to="" state="install_template.edit" params='{"template_id": "tmp"}' uib-tooltip="{l}Add{endl}" tooltip-placement="top"><span class="btn-add_icon"><span class="icon-bar"></span><span class="icon-bar-2"></span></span></button> 
          </li>
        </ul>       
        <div class="tab-content">
            <div class="tab-pane active">
              <!-- <div uib-alert ng-repeat="alert in alerts" type="{{alert.type}}" close="alerts.splice($index, 1);" ng-class="['alert-' + (alert.type || 'warning'), 'alert-fixed' ]" dismiss-on-timeout='5000' >{{alert.msg}}</div> -->
              <div class="row page-content">
                  <div class="col-sm-12">
                    <table class="table active_rows orderTable">
                      <thead>
                        <tr>
                            <th>
                                <div class="row">
                                    <div class="col-xs-7">{l}Label{endl}</div>
                                    <div class="col-xs-3 text-center">{l}Type{endl}</div>
                                    <div class="col-xs-2 text-center"></div>
                                </div>
                            </th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr ng-repeat="field in item">
                            <td>
                                <div class="row">
                                  <div class="col-xs-7"><input type="text" class="form-control" ng-model="field.name" ng-blur="changeFieldName(field)">
                                  </div>
                                  <div class="col-xs-3 text-center">
                                      <select class="form-control installation-fields-tab" ng-model="field.type" ng-change="editData(field)">
                                        <option value="2">{l}Input{endl}</option>
                                        <option value="1">{l}Dropdown{endl}</option>
                                        <option value="3">{l}Date{endl}</option>
                                      </select>
                                  </div>
                                  <div class="text-center col-xs-2"><a href="#" confirm="{l}Delete this field?{endl}" ng-click="deleteField(field)" ng-if="!field.blocked"><span class="fas fa-trash-alt" title="{l}Delete{endl}"></span></a></div>
                                </div>
                            </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-12">
        <div class="col-sm-8">
            <ul ng-if="max_rows && max_rows > lr" uib-pagination total-items="max_rows" ng-model="search.offset" ng-change="searchThing()" max-size="5" class="pager" boundary-links="true" items-per-page="lr"></ul>
        </div>
        <div class="col-sm-4 text-right">
            <label ng-if="max_rows">{l}Number of installation fields{endl}: <strong>{{max_rows}}</strong></label>
        </div>
    </div>
</div>