<div class="page-header">
    <div class="row">
        <div class="col-sm-8">
            <h1>{{edit.item.name}}</h1>
        </div>
        <div class="col-sm-4 page-header-options">
            <a class="btn btn-sm btn-default" ui-sref="installations" href="#"> {l}Back{endl}</a>
            <navigator pag="installation-installations" itemid="{{edit.installation_id}}" originalPage="installation.view"></navigator>
        </div>
    </div>
</div>
<!-- /.page-header -->
<div ng-if="!edit.item.item_exists">
  <nopage></nopage>
</div>
<div ng-if="edit.item.item_exists">
    <div uib-alert ng-repeat="alert in edit.alerts" type="{{alert.type}}" close="edit.alerts.splice($index, 1);" ng-class="['alert-' + (alert.type || 'warning'), 'alert-fixed' ]" dismiss-on-timeout='3500'>{{alert.msg}}</div>
    <div class="row col-top">
        <div class="col-xs-8">
            <div class="panel panel-primary panel-extend margin-bottom-none">
                <div class="panel-body">
                    <div class="form-horizontal">
                        <div class="panel-highlight margin-bottom-none padding-bottom-none">
                            <div class="row">
                                <div class="col-xs-12 text-right">
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label class="control-label col-sm-4 text-left text-muted">{l}Customer{endl}</label>
                                                <label class="control-label col-sm-8"><a class="text-link" ui-sref="customerView({ 'customer_id':edit.item.buyer_id })"><span ng-bind-html="edit.item.buyer_name"></span></a></label>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="form-group hidden">
                                                <input type="file" name="file" id="uploadFile" class="form-control" value="">
                                            </div>
                                            <a class="btn btn-default" ui-sref="installation.edit({ 'installation_id':edit.item.installation_id })">{l}Edit{endl}</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-6">
                                <div class="form-group" ng-repeat="field in edit.item.template.left_fields | limitTo:4:0">
                                    <label class="control-label col-sm-4 text-left text-muted">{{field.name}}</label>
                                    <label class="control-label col-sm-8">{{field.name_final}}</label>
                                </div>
                            </div>
                            <div class="col-xs-6">
                                <div class="form-group" ng-repeat="field in edit.item.template.right_fields | limitTo:4:0">
                                    <label class="control-label col-sm-4 text-left text-muted">{{field.name}}</label>
                                    <label class="control-label col-sm-8">{{field.name_final}}</label>
                                </div>
                            </div>
                        </div>
                        <div class="row" ng-if="edit.showTxt.showMoreField">
                            <div class="col-xs-6">
                                <div class="form-group" ng-repeat="field in edit.item.template.left_fields | limitTo:edit.item.template.left_fields.length-4:4">
                                    <label class="control-label col-sm-4 text-left text-muted">{{field.name}}</label>
                                    <label class="control-label col-sm-8">{{field.name_final}}</label>
                                </div>
                            </div>
                            <div class="col-xs-6">
                                <div class="form-group" ng-repeat="field in edit.item.template.right_fields | limitTo:edit.item.template.right_fields.length-4:4">
                                    <label class="control-label col-sm-4 text-left text-muted">{{field.name}}</label>
                                    <label class="control-label col-sm-8">{{field.name_final}}</label>
                                </div>
                            </div>
                        </div>
                        <div class="border-top text-center" ng-if="edit.item.show_more">
                            <button class="btn btn-link btn-block btn-arrow no_css-company_info_btn" ng-click="edit.showTxt.showMoreField=!edit.showTxt.showMoreField">
                  <span class="glyphicon  glyphicon-chevron-down" ng-class="{ 'glyphicon-chevron-down': !edit.showTxt.showMoreField, 'glyphicon-chevron-up' : edit.showTxt.showMoreField }"></span>
                </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-4">
            <!-- <ui-gmap-google-map center='edit.map.center' zoom='edit.map.zoom' refresh='edit.map.refresh'>
          <ui-gmap-marker idKey='edit.map.marker_id' coords='edit.map.marker_coord'></ui-gmap-marker>
        </ui-gmap-google-map> -->
            <iframe ng-if="edit.item.full_address_map_src" frameborder="0" style="border:0" width="100%" height="250" ng-src="{{edit.item.full_address_map_src | trustThisUrl }}" allowfullscreen></iframe>
            <div class="no_css-company_address ">
                <div class="address_display">
                    <span class="fa fa-map-marker text-muted address_display-icon"></span>
                    <h4 class="delivery-address">{{edit.item.address}} <small class="quick_edits delivery-controller"><span class="text-link_space"></span></small>
                    </h4>
                    <div class="text-muted">
                        {{edit.item.zip}} {{edit.item.city}} - {{edit.item.country}}<br>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row" ng-if="edit.item.interventions.list.length">
        <div class="col-xs-12 pull-left">
            <div class="ak_activities_entry" ng-repeat="intervention in edit.item.interventions.list | limitTo:2:0">
                <div class="ak_activities_type">
                    <!-- <img ng-src="images/akti-{{intervention.img}}.png"> -->
                    <i class="fas fa-tools"></i>
                    <span class="ak_activities_date">{{intervention.time}}</span>
                </div>
                <div class="ak_activities_corner"></div>
                <div class="ak_activities_content row col-sm-12">
                    <div class="col-md-12">
                        <div class="col-md-4">
                            <!-- <h4 class="ak_activities_title"><span class="badge badge-sm bg-primary">{{intervention.hour}}</span> -->
                            <a ui-sref="service.view({ 'service_id':intervention.id })" class="text-link" target="_blank" title="{l}View Document{endl}">{{intervention.type}} {{intervention.serial_number}}</a>
                            <a href="{{intervention.pdf_link}}" ng-if="intervention.pdf_link" target="_blank" class="view_pdf"><i class="far fa-file-pdf" aria-hidden="true" title="{l}View PDF{endl}"></i></a>
                            <!-- </h4> -->
                            <small>{{intervention.author}}</small>
                        </div>
                        <div class="col-md-2">
                            <span class="badge timeline_badge item-status-gray" class="item-status item-status-gray" ng-class="{ 'item-status-orange':intervention.status == 1, 'item-status-green':intervention.status == 2 }">{{intervention.type_status}}</span>
                        </div>
                        <div class="col-md-2">
                            <label class="col-md-12">{l}Planned{endl}</label>
                            <span class="col-md-12">{{intervention.planeddate}}</span>
                            <span class="col-md-12">
                                <span ng-if="intervention.startdate_txt">{{intervention.startdate_txt}}</span> <span ng-if="intervention.enddate_txt">- {{intervention.enddate_txt}}</span>
                            </span>
                        </div>
                        <div class="col-md-4">
                            <label class="col-md-12">{l}Collaborators{endl}</label>
                            <span class="col-md-12">{{intervention.collaborators}}</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="ak_activities_entry" ng-if="edit.item.interventions.intervention_more" ng-repeat="intervention in edit.item.interventions.list | limitTo:edit.item.interventions.list.length-2:2">
                <div class="ak_activities_type">
                    <img ng-src="images/akti-{{intervention.img}}.png">
                    <span class="ak_activities_date">{{intervention.time}}</span>
                </div>
                <div class="ak_activities_corner"></div>
                <div class="ak_activities_content row col-sm-12">
                    <div class="col-md-4">
                        <!-- <h4 class="ak_activities_title"><span class="badge badge-sm bg-primary">{{intervention.hour}}</span> -->
                        <a href="{{intervention.pdf_link}}" class="text-link" ng-if="intervention.pdf_link" target="_blank" ng-click="ls.opendocument('service.view','service_id',intervention.id)" title="{l}View Document{endl}">{{intervention.type}} {{intervention.serial_number}}</a>
                        <a href="{{intervention.pdf_link}}" ng-if="intervention.pdf_link" target="_blank" class="view_pdf"><i class="far fa-file-pdf" aria-hidden="true" title="{l}View PDF{endl}"></i></a>
                        <!-- </h4> -->
                        <small>{{intervention.author}}</small></div>
                    <div class="col-md-4"><label class="col-md-12">{l}Planned{endl}</label><span class="col-md-12">{{intervention.time}}</span><span class="col-md-12">{{intervention.hour}}</span></div>
                    <div class="col-md-4"><label class="col-md-12">{l}Collaborators{endl}</label></div>
                </div>
            </div>
            <div class="text-center" ng-if="edit.item.interventions.list.length>2">
                <button class="btn btn-link btn-block btn-arrow no_css-company_info_btn" ng-click="edit.item.interventions.intervention_more=!edit.item.interventions.intervention_more">
                    <span class="glyphicon  glyphicon-chevron-down" ng-class="{ 'glyphicon-chevron-down': !edit.item.interventions.intervention_more, 'glyphicon-chevron-up' : edit.item.interventions.intervention_more}"></span>
                </button>
            </div>
        </div>
    </div>
    <div class="row installation-upload-files">
        <div class="col-sm-12">
            <h4>
                <strong>{l}Files{endl}</strong>
                <button type="button" class="btn btn-primary btn-add" uib-tooltip="{l}Upload{endl}" tooltip-placement="right" ng-click="edit.uploadDoc(1)"><span class="btn-add_icon"><span class="icon-bar"></span><span class="icon-bar-2"></span></span></button>
            </h4>
            <div class="row text-center" ng-if="edit.show_load">
                <i class="fa fa-spinner fa-spin fa-2x fa-fw" aria-hidden="true"></i><span class="sr-only"></span>
            </div>
            <!-- <div uib-alert type="notice" class="alert-warning" ng-if="!edit.item.dropbox.dropbox_files.length && !edit.show_load">{l}No data to display{endl}</div> -->
            <div uib-alert type="notice" ng-if="!edit.item.dropbox.dropbox_files.length && !edit.show_load" class="padd-file">{l}No files have been added yet{endl}</div>
            <table class="table active_rows orderTable" ng-if="edit.item.dropbox.dropbox_files.length && !edit.show_load">
                <thead>
                    <tr>
                        <th class="col-md-1 col-sm-1 text-center">{l}Download{endl}</th>
                        <th class="col-md-10 col-sm-10">{l}File{endl}</th>
                        <th class="col-md-1 col-sm-1"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="item in edit.item.dropbox.dropbox_files">
                        <td class="text-center"><a href="{{item.down_file_link}}" target="_blank"><i class="far fa-file-pdf" aria-hidden="true"></i></a></td>
                        <td><a href="{{item.down_file_link}}" target="_blank">{{item.name}}</a></td>
                        <td class="table_actions">
                            <div class="btn-group" uib-dropdown>
                                <button type="button" class="btn btn-plain dropdown-toggle" uib-dropdown-toggle>
                       <span class="caret"></span>
                    </button>
                                <ul class="dropdown-menu dropdown-menu-right" uib-dropdown-menu>
                                    <li class="dropdown-header">{l}Action{endl}</li>
                                    <li>
                                        <a href="#" ng-click="edit.deleteDropFile($index)" confirm="{l}Are you sure, you wanna delete this entry?{endl}"><span class="fas fa-trash-alt text-primary"></span> {l}Delete{endl}</a>
                                    </li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
            <h4>
                <strong>{l}Images{endl}</strong>
                <button type="button" class="btn btn-primary btn-add" uib-tooltip="{l}Upload{endl}" tooltip-placement="right" ng-click="edit.uploadDoc(2)"><span class="btn-add_icon"><span class="icon-bar"></span><span class="icon-bar-2"></span></span></button>
            </h4>
            <div class="row text-center" ng-if="edit.show_load">
                <i class="fa fa-spinner fa-spin fa-2x fa-fw" aria-hidden="true"></i><span class="sr-only"></span>
            </div>
            <!-- <div uib-alert type="notice" class="alert-warning" ng-if="!edit.item.dropbox.dropbox_images.length && !edit.show_load">{l}No data to display{endl}</div> -->
            <div uib-alert type="notice" ng-if="!edit.item.dropbox.dropbox_images.length && !edit.show_load" class="padd-file">{l}No images have been added yet{endl}</div>
            <div class="row drop_images" ng-if="edit.item.dropbox.dropbox_images.length && !edit.show_load">
                <div class="margin-top item" ng-repeat="item in edit.item.dropbox.dropbox_images">
                    <div class="image">
                        <img class="link-pointer" ng-src="{{item.url}}" ng-click="edit.openLightboxModal($index)" />
                    </div>
                    <span class="glyphicon glyphicon-remove text-danger link-pointer" ng-click="edit.deleteDropImage($index)" confirm="{l}Are you sure, you wanna delete this entry?{endl}"></span>
                </div>
            </div>
        </div>
    </div>
    <logging do='installation-installation' type="installation_id" ref="{{edit.item.installation_id}}"></logging>
</div>