<div class="container"><!-- neede on all pages -->
  <div class="row page-content">
  	<div class="col-xs-12 tabs-settings">
  		<div class="row">
      <div class="col-xs-12 col-sm-4">
        <div class="page-header">
          <h1>{l}Installations Settings{endl}</h1>
        </div><!-- /.page-header -->
        <ul class="nav nav-tabs tabs-settings-nav">
          <li class="active"><a href="#siteFields" aria-controls="siteFields" data-toggle="tab" ng-click="ls.load('siteFields','siteFields')">{l}Site Fields{endl}</a></li>
          <li><a href="#convention" aria-controls="convention" data-toggle="tab" ng-click="ls.load('convention','convention')">{l}Numbering convention{endl}</a></li>
        </ul><!-- /.tabs-settings-nav --></div>
        <div class="col-xs-12 col-sm-8 tab-content tabs-settings-content">
          <div uib-alert ng-repeat="alert in ls.alerts" type="{{alert.type}}" close="ls.alerts.splice($index, 1);" dismiss-on-timeout="3500" ng-class="['alert-' + (alert.type || 'warning'), 'alert-fixed' ]">{{alert.msg}}</div>
          <div class="tab-pane fade in active" id="siteFields">
            <div class="section-title">
              <h2>{l}Extra{endl}
                <button type="button" class="btn btn-primary btn-add" uib-tooltip="{l}Add Field{endl}" tooltip-placement="right" ng-click="ls.addField()"><span class="btn-add_icon"><span class="icon-bar"></span><span class="icon-bar-2"></span></span></button> 
              </h2>
            </div><!-- /.section-title -->
            <div class="section-content">
              <div class="row">
                <div class="col-xs-12">
                    <table class="table active_rows orderTable">
                        <thead>
                            <tr>
                                <th>
                                    <div class="row">
                                        <div class="col-xs-7">{l}Label{endl}</div>
                                        <div class="col-xs-3 text-center">{l}Type{endl}</div>
                                        <div class="col-xs-2 text-center"></div>
                                    </div>
                                </th>
                            </tr>
                        </thead>
                    </table>
                    <div class="row">
                        <ul class="table table_orders sort_column drag_table manage_list" role="tablist" data-as-sortable="ls.dragFieldControlListeners" data-ng-model="ls.siteFields.data">
                            <li role="presentation" ng-repeat="field in ls.siteFields.data" data-as-sortable-item class="installation-site-fields">
                                <div class="row">
                                    <div class="row_handler" data-as-sortable-item-handle>
                                        <span class="btn-drag drop">&nbsp;</span>
                                    </div>
                                    <div class="col-xs-7"><input type="text" class="form-control" ng-model="field.name" ng-blur="ls.changeFieldName(field)">
                                    </div>
                                    <div class="col-xs-3 text-center">
                                        <select class="form-control" ng-model="field.type" ng-change="ls.editData(field)">
                                            <option value="2">{l}Text Line{endl}</option>
                                            <option value="1">{l}Dropdown{endl}</option>
                                            <option value="3">{l}Date{endl}</option>
                                            <option value="4">{l}Multi-line{endl}</option>
                                            <option value="5">{l}Checkbox{endl}</option>
                                        </select>
                                    </div>
                                    <div class="text-center col-xs-2"><a href="#" confirm="{l}Delete this field?{endl}" ng-click="ls.deleteField(field)" ng-if="!field.blocked"><span class="fas fa-trash-alt" title="{l}Delete{endl}"></span></a></div>
                                </div>
                            </li>
                        </ul>
                    </div>          
                </div>

              </div>
            </div>
          </div><!-- /.tab-pane -->

          <div class="tab-pane fade" id="convention">
              <div class="section-title">
                <div class="row">
                  <div class="col-xs-6">
                    <h2>{l}Numbering convention{endl}</h2>
                  </div>
                  <!-- <div class="col-xs-6 text-right">
                    <button class="btn btn-default" type="button" ng-click="ls.ConventionNum(ls,ls.convention)">{l}Save{endl}</button>
                  </div> -->
                </div>
              </div><!-- /.section-title -->
              <div class="row">
                  <div class="col-xs-12">
                    <p class="text-muted col-bottom">{l}Chose the naming convention for installations{endl}.</p>
                      <form class="form-horizontal ng pristine ng valid">
                        <div class="form-group">
                          <label class="col-xs-4 control-label text-left" for="inputEmail">
                            {l}Installation Index:{endl}
                            <!-- <small class="text-muted">( {l}Fixed part{endl} )</small> -->
                          </label>
                          <div class="col-xs-2">
                            <input id="inputEmail" class="form-control ng-pristine ng-untouched ng-valid" type="text" ng-model="ls.convention.account_number">
                          </div>
                        </div>
                        <div class="form-group">
                          <label class="col-xs-4 control-label text-left" for="inputPassword">
                            {l}No. of digits{endl}
                            <!-- <small class="text-muted">{ {l}Incremental part{endl} }</small> -->
                          </label>
                          <div class="col-xs-2">
                            <input id="inputPassword" class="form-control ng-pristine ng-untouched ng-valid" type="text" ng-model="ls.convention.account_digits" >
                          </div>
                        </div>
                        <div class="alert alert-info alert-info_alt" role="alert">{l}The name of the installation will have this format{endl}  &nbsp; <code class="bg-primary">{{ls.convention.example}}</code></div>
                        <!-- <div class="form-group">
                          <label class="col-md-4 control-label text-left" for="inputReference">
                            {l}Show reference{endl}?
                          </label>
                          <div class="col-xs-2"> -->
                              <!-- <input id="inputReference" type="checkbox" ng-model="vm.convention.reference" > -->
                              <!-- <toggle-switch  ng-model="ls.convention.reference" class="switch-primary" off-label="{l}No{endl}" on-label="{l}Yes{endl}"></toggle-switch>
                          </div>
                        </div> -->
                        <!-- <div class="form-group">
                          <label class="col-md-4 control-label text-left" for="inputDel">
                            {l}Reference delimiter{endl}
                          </label>
                          <div class="col-xs-4">
                            <input id="inputDel" class="form-control col-md-4" type="text" ng-model="ls.convention.del" >
                          </div>
                        </div> -->
                      </form>
                  </div>
              </div>
              <div class="section-footer">
                <div class="row">
                  <div class="col-xs-12 text-right">
                    <button class="btn btn-default" type="button" ng-click="ls.ConventionNum(ls,ls.convention)">{l}Save{endl}</button>
                  </div>
                </div>
              </div><!-- /.section-title -->
            </div><!-- /.tab-pane -->



        </div><!-- /.tabs-settings-content -->
        <div class="col-xs-4 tabs-settings-background"><span></span></div><!-- /.tabs-settings-background -->
      </div>
  	</div><!-- /.tabs-settings -->
  </div><!-- /.page-content -->
  </div><!-- neede on all pages -->