<div class="container">
    <div class="page-header">
        <div class="row">
            <div class="col-xs-8 col-sm-6">
                <h1>{l}Installation{endl}</h1>
            </div>
            <div class="col-xs-4 col-sm-6 text-right" ng-if="show_settings.is_admin_installation">
                <div class="dropdown new-settings">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-ellipsis-v"></i></button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <li class="dropdown-item" ng-class="{ 'current':menu.submenu == 'installation setting' }"><a go-to="" href="installationSettings/" state="installationSettings"><span class="fas fa-cog text-primary"></span> {l}Installations Settings{endl}</a></li>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /.page-header -->
    <div class="tabs-navigation">
        <ul class="nav nav-tabs">
            <li>
                <a href="services/" go-to="" state="installations">{l}Installations{endl}</a>
                <button type="button" class="btn btn-primary btn-add" go-to="" state="installation.edit" params='{"installation_id": "tmp"}' uib-tooltip="{l}Add{endl}" tooltip-placement="top"><span class="btn-add_icon"><span class="icon-bar"></span><span class="icon-bar-2"></span></span></button>
            </li>
            <li>
                <a href="install_fields/" go-to="" state="install_fields">{l}Installation Fields{endl}</a>
                <button type="button" class="btn btn-primary btn-add" uib-tooltip="{l}Add{endl}" tooltip-placement="top" ng-click="addField()"><span class="btn-add_icon"><span class="icon-bar"></span><span class="icon-bar-2"></span></span></button>
            </li>
            <li class="active">
                <a href="install_templates/" go-to="" state="install_templates">{l}Installation Templates{endl}</a>
                <button type="button" class="btn btn-primary btn-add" go-to="" state="install_template.edit" params='{"template_id": "tmp"}' uib-tooltip="{l}Add{endl}" tooltip-placement="top"><span class="btn-add_icon"><span class="icon-bar"></span><span class="icon-bar-2"></span></span></button>
            </li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane active">
                <div class="row page-search">
                    <form>
                        <div class="col-xs-12">
                            <div class="so-field" ng-class="{ 'so-active':search.search!='' }">
                                <span class="glyphicon glyphicon-search so-icon"></span>
                                <input type="text" class="form-control" placeholder="{l}Search{endl}" search-it doit="search" callbk="renderList" ng-model="search.search">
                                <span class="glyphicon glyphicon-remove so-icon so-remove" ng-click="toggleSearchButtons('search','')"></span>
                            </div>
                            <!-- /.input-search -->
                        </div>
                        <!-- /.page-search_options -->
                    </form>
                </div>
                <!-- /.page-search -->
                <!-- <div uib-alert ng-repeat="alert in alerts" type="{{alert.type}}" close="alerts.splice($index, 1);" ng-class="['alert-' + (alert.type || 'warning'), 'alert-fixed' ]" dismiss-on-timeout='5000' >{{alert.msg}}</div>
            <div uib-alert type="notice" class="alert-warning" ng-if="!list.length">{l}No data to display{endl}</div> -->
                <div class="row page-content">
                    <div class="col-xs-12">
                        <table class="table active_rows" ng-if="list.length">
                            <thead>
                                <tr>
                                    <th class="col-sm-8 sortable_row" ng-class="{'sortable_row-up':(!reverse && ord == 'name'), 'sortable_row-down':(reverse && ord == 'name') }" ng-click="orderBY('name')">{l}Name{endl}</th>
                                    <th class="col-sm-3 sortable_row" ng-class="{'sortable_row-up':(!reverse && ord == 'nr'), 'sortable_row-down':(reverse && ord == 'nr') }" ng-click="orderBY('nr')">{l}Number of fields{endl}</th>
                                    <th class="col-sm-1">{l}Action{endl}</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="item in list">
                                    <td go-to="" state="install_template.edit" params='{"template_id": {{::item.template_id}}}' list='{ "type":"installation-install_templates", "obj": { "search":{{search}} } }'>
                                        <a href="install_template/edit/{{item.template_id}}" class="color-dark"><span ng-bind-html="item.name"></span></a>
                                    </td>
                                    <td go-to="" state="install_template.edit" params='{"template_id": {{::item.template_id}}}' list='{ "type":"installation-install_templates", "obj": { "search":{{search}} } }'>
                                        <a href="install_template/edit/{{item.template_id}}" class="color-dark">{{item.nr}}</a>
                                    </td>
                                    <td class="table_actions">
                                        <div class="btn-group" uib-dropdown>
                                            <button type="button" class="btn btn-plain dropdown-toggle" uib-dropdown-toggle>
                              <span class="caret"></span>
                            </button>
                                            <ul class="dropdown-menu dropdown-menu-right" uib-dropdown-menu>
                                                <li class="dropdown-header">{l}Action{endl}</li>
                                                <li>
                                                    <a href="#" go-to="" state="install_template.edit" params='{"template_id": {{::item.template_id}}}' list='{ "type":"installation-install_templates", "obj": { "search":{{search}} } }'><span class="fas fa-pen text-primary"></span> {l}Edit{endl}</a>
                                                </li>
                                                <li>
                                                    <a href="#" ng-click="action(item,'delete_link')" confirm="{l}Are you sure, you wanna delete this entry?{endl}"><span class="fas fa-trash-alttext-primary"></span> {l}Delete{endl}</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-12">
        <div class="col-sm-8">
            <ul ng-if="max_rows && max_rows > lr" uib-pagination total-items="max_rows" ng-model="search.offset" ng-change="searchThing()" max-size="5" class="pager" boundary-links="true" items-per-page="lr"></ul>
        </div>
        <div class="col-sm-4 text-right">
            <label ng-if="max_rows">{l}Number of installation templates{endl}: <strong>{{max_rows}}</strong></label>
        </div>
    </div>

<!--    <ul ng-if="max_rows && max_rows > 30" uib-pagination total-items="max_rows" ng-model="search.offset" ng-change="searchThing()" max-size="5" class="pager" boundary-links="true" items-per-page="lr"></ul>-->
</div>