

<div class="page-header">
   <div class="row">
      <div class="col-sm-8">
         <h1 ng-if="add.add_mode">{l}Create New{endl}
        <div class="btn-group">
          <button type="button" class="btn btn-dropdown-line dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" id="no_css_switch_btn" ng-if="add.form_type=='article'">{l}Product{endl} <span class="caret"></span></button>
          <button type="button" class="btn btn-dropdown-line dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"  aria-expanded="false" id="no_css_switch_btn" ng-if="add.form_type=='service'" 
          >{l}Service{endl} <span class="caret"></span></button>
          <ul class="dropdown-menu">
            <li><a  go-to="" state="article.add" params='{"article_id": "tmp","form_type":"article"}' >{l}Product{endl}</a></li>
            <li><a go-to="" state="article.add" params='{"article_id": "tmp","form_type":"service"}' >{l}Service{endl}</a></li>
          </ul>
        </div>
      </h1>
         <h1 ng-if="add.item.edit_mode"> {{add.item.internal_name}}
         </h1>
      </div>
      <div class="col-sm-4 page-header-options">
         <button ng-if="!add.add_mode" go-to="" ng-show="add.form_type=='article'" state="articles" type="submit" class="btn btn-link">
         <span class="glyphicon glyphicon-list">
         </span> 
         <strong>{l}List{endl}
         </strong>
         </button>
         <button ng-if="!add.add_mode" go-to="" ng-show="add.form_type=='service'" state="aservices" type="submit" class="btn btn-link">
         <span class="glyphicon glyphicon-list">
         </span> 
         <strong>{l}List{endl}
         </strong>
         </button>
      </div>
      <!-- </div>
         <div class="row" > -->
   </div>
</div>
<!-- /.page-header -->
<div uib-alert ng-repeat="alert in add.alerts" type="{{alert.type}}" close="add.alerts.splice($index, 1);" ng-class="['alert-' + (alert.type || 'warning') ]" dismiss-on-timeout='5000' >{{alert.msg}}</div>
<ul class="nav nav-tabs tabs-default" role="tablist">
   <li role="presentation" class="pull-right">
      <div>
         <a class="btn btn-sm btn-link" ui-sref="article.add({'article_id': add.item.prev})" ng-show="add.item.prev"><i class="fa fa-arrow-left" aria-hidden="true"></i>{l}Previous{endl}</a> <a class="btn btn-sm btn-link" ui-sref="article.add({'article_id': add.item.next})" ng-show="add.item.next">{l}Next{endl}<i class="fa fa-arrow-right" aria-hidden="true"></i></a>
      </div>
   </li>
   <li role="presentation" class="active">
      <a href="#tab1" role="tab" data-toggle="tab">{l}Details{endl}
      </a>
   </li>
   <li role="presentation" class="{{add.item.tab_class}}">
      <a href="#translation" role="tab" data-toggle="tab" ng-click="add.load('articleTranslation','translation')">{l}Service Description{endl}
      </a>
   </li>
 
   <li role="presentation" class="{{add.item.tab_class}}">
      <a href="#financial" role="tab" data-toggle="tab">{l}Financial{endl}
      </a>
   </li>
  
   
</ul>
<div class="tab-content col-top">
   <div role="tabpanel" class="tab-pane active" id="tab1">
      <form class="form-horizontal text-left" name="addAnService" novalidate=''>
         <div class="text-right col-bottom col-top">
            <button class="btn btn-plain" ng-click="add.cancel()" type="submit">{l}Cancel{endl}
            </button>
            <button class="btn btn-default" ng-show="add.form_type=='article'"  ng-click="add.save(addAnService)" type="submit">{l}Save{endl}
            </button>
            <button class="btn btn-default" ng-show="add.form_type=='service'"  ng-click="add.save(addAnService)" type="submit" ng-disabled="addAnService.$invalid">{l}Save{endl}
            </button>
         </div>
         <div class="row">
            <div class="col-xs-12">
               <div class="row">
                  <div class="col-xs-6">
                     <div class="form-group"  class="form-group" ng-class="{ 'form-group_alert' : addAnService.internal_name.$invalid && !addAnService.internal_name.$pristine }">
                        <label for="inputName" class="col-sm-5 control-label">
                        {l}Internal Name{endl}<span class="mandatory-label">*</span>
                        </label>
                        <div class="col-sm-7">
                           <input type="text" class="form-control" placeholder="{l}Internal Name{endl}" ng-model="add.item.internal_name" id="internal_name" name="internal_name" required>
                           <div class="alert alert-sm alert-danger" ng-if="addAnService.internal_name.$invalid && add.alertsField.internal_name">{{add.alertsField.internal_name}}
                           </div>
                        </div>
                     </div>
                     <div class="form-group" ng-class="{ 'form-group_alert' : addAnService.item_code.$invalid && !addAnService.item_code.$pristine }">
                        <label for="inputCode" class="col-sm-5 control-label">
                        {l}Code{endl} <span class="mandatory-label">*</span>
                        </label>
                        <div class="col-sm-7">
                           <input type="text" class="form-control" placeholder="{l}Code{endl}" ng-model="add.item.item_code" id="inputCode" name="item_code" required>
                           <div class="alert alert-sm alert-danger ng-cloak" ng-if="addAnService.item_code.$invalid && add.alertsField.item_code">{{add.alertsField.item_code}}
                           </div>
                        </div>
                     </div>
                     <div class="form-group" ng-class="{ 'form-group_alert' : addAnService.price.$invalid && !addAnService.price.$pristine }">
                        <label for="inputBasePrice" class="col-sm-5 control-label">{l}Unit Price{endl}  <span class="mandatory-label">*</span></label>
                        <div class="col-sm-7">
                           <input type="text" class="form-control" placeholder="{l}Unit Price{endl}" ng-blur="add.setPrice('price')" ng-model="add.item.price" display-nr="" id="inputBasePrice" name="price" required>
                        </div>
                     </div>
                     <div class="form-group">
                        <label for="inputPurchase" class="col-sm-5 control-label">{l}Purchase Price{endl}</label>
                        <div class="col-sm-7" ng-if="!add.item.is_wac">
                           <input type="text" class="form-control" placeholder="{l}Purchase Price{endl}" ng-model="add.item.purchase_price" display-nr="" id="inputPurchase">
                        </div>
                        <div class="col-sm-7" ng-if="add.item.is_wac">
                           <input type="text" class="form-control" placeholder="{l}Purchase Price{endl}" ng-model="add.item.purchase_price" readonly display-nr="" id="inputPurchase">
                        </div>
                     </div>
                     <div class="form-group" ng-class="{ 'form-group_alert' : addAnService.vat_id.$invalid && !addAnService.vat_id.$pristine }">
                        <label for="inputVat" class="col-sm-5 control-label">{l}VAT{endl} <span class="mandatory-label">*</span></label>
                        <div class="col-sm-7">
<!--                            <select class="form-control" ng-model="add.item.vat_id" id="inputVat" ng-change="add.setPrice('vat_id')" name="vat_id" required >
                              <option ng-repeat="option in add.item.vat_dd track by option.id" value="{{option.id}}"">{{option.name}}</option>
                           </select> -->
                           <selectize config="add.cfg" options="add.item.vat_dd" ng-model="add.item.vat_id" ></selectize>
                        </div>
                     </div>
                     <div class="form-group" ng-class="{ 'form-group_alert' : addAnService.total_price.$invalid && !addAnService.total_price.$pristine }">
                        <label for="inputPriceVat" class="col-sm-5 control-label">{l}Price + VAT{endl} <span class="mandatory-label">*</span></label>
                        <div class="col-sm-7">
                           <input type="text" class="form-control" placeholder="{l}Price + VAT{endl}" ng-model="add.item.total_price" id="inputPriceVat" display-nr="" ng-blur="add.setPrice('total_price')" name="total_price" >
                        </div>
                     </div>
                     
                  </div>
                  <div class="col-xs-6">
                     <div class="form-group">
                        <label for="inputOriginCode" class="col-sm-5 control-label">{l}Origin Code{endl}
                        </label>
                        <div class="col-sm-7">
                           <input type="text" class="form-control" placeholder="{l}Origin Code{endl}" ng-model="add.item.origin_number" id="inputOriginNumber">
                        </div>
                     </div>
                     <div class="form-group">
                        <label for="inputEAN" class="col-sm-5 control-label">{l}EAN Code{endl}
                        </label>
                        <div class="col-sm-7">
                           <input type="text" class="form-control" placeholder="{l}EAN Code{endl}" ng-model="add.item.ean_code" id="inputEAN">
                        </div>
                     </div>
                     <div class="form-group">
                        <label for="inputSupplier" class="col-sm-5 control-label">{l}Supplier{endl}
                        </label>
                        <div class="col-sm-7">
                           <selectize config='add.customerAutoCfg' options='add.item.supplier' ng-model="add.item.supplier_id" id="inputSupplier" >
                           </selectize>
                        </div>
                     </div>
                     <div class="form-group">
                        <label for="inputArticleCategory" class="col-sm-5 control-label">{l}Article Category{endl}
                        </label>
                        <div class="col-sm-7">
                           <selectize config="add.salesCfg" options="add.item.article_category" ng-model="add.item.article_category_id" id="custandcont" table="pim_article_categories" model="article_category" ></selectize>
                        </div>
                     </div>
                     <div class="form-group">
                        <label for="inputArticleBrand" class="col-sm-5 control-label">{l}Brand{endl}
                        </label>
                        <div class="col-sm-7">
                           <selectize config="add.salesCfg" options="add.item.article_brand" ng-model="add.item.article_brand_id" id="custandcont" table="pim_article_brands" model="article_brand" ></selectize>
                        </div>
                     </div>
                     <div class="form-group">
                        <label for="inputSupplierRef" class="col-sm-5 control-label">Supplier Reference
                        </label>
                        <div class="col-sm-7">
                           <input type="text" class="form-control" placeholder="{l}Supplier Reference{endl}" ng-model="add.item.supplier_reference" id="inputSupplierRef">
                        </div>
                     </div>
                     
                  </div>
               </div>

                <div class="form-group">
                       <div class="col-xs-12 col-bottom col-top radio">   
                          <span class="col-right ng-cloak">{l}Price Type by default{endl}</span>
                        
                            <label class="text-muted col-right"><input type="radio" name="price_type" ng-model="add.item.price_type" value="1" > {l}Based on Customer Price Category{endl}</label>              
                          
                         
                            <label class="text-muted col-right"><input type="radio" name="price_type" ng-model="add.item.price_type" value="2" > {l}Based on Quantity Ordered{endl}</label>              
                         
                        </div>  

                        </div> 
            </div>
                  <div class="col-xs-4">
                                    <div class="panel panel-plain" ng-show="add.item.edit_mode==1">
                                       <div class="panel-body">
                                          <div class="profile_card text-center">
                                            
                                             <div class="card_thumb">
                                                <img class="img-responsive" src="{{add.item.artPhoto}}"" alt=""/>
                                             </div>
                                             <div class="btn-thumb_upload">
                                                <div class="btn-group text-default col-top">
                                                   <button type="button" class="btn btn-sm btn-tertiary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                   <span class="fa fa-camera"></span>&nbsp; Update Photo
                                                   </button>
                                                  <input type="file" name="file" class="hide newUploadFile2" accept=".gif,.jpg,.jpeg" >
                                                   <ul class="dropdown-menu">
                                                   <li><a href="#" ng-click="add.upload(add,$event)">{l}Upload Photo{endl}</a></li>
                                                   <li><a href="#" ng-click="add.remove_photo()">{l}Remove{endl}</a></li>
                                                   </ul>
                                                </div>
                                             </div>
                                         
                                          </div>
                                       </div>
                                    </div>
                                  

                                 </div>
         </div>
      </form>
      <div class="col-top">
         <div class="col-sm-12 text-right" ng-if="add.item.price_type==2 && add.item.edit_mode==1"> <a href="#"  ng-click="add.openModal('setPriceVol',add.item,'md')" class="btn btn-default ">{l}Add Price{endl}</a></div>
         <table class="table orderTable" ng-if="add.item.price_type==1 && add.item.edit_mode==1">
            <thead>
               <tr>
                  <th class="col-sm-3">{l}Price Category{endl}</th>
                  <th class="col-sm-3">{l}Category Details{endl}</th>
                  <th class="col-sm-2">{l}Price{endl}</th>
                  <th class="col-sm-2 ng-cloak">{l}VAT{endl} {{add.item.si_vat_value}} %</th>
                  <th class="col-sm-2">{l}Price + VAT{endl}</th>
               </tr>
            </thead>
            <tbody>
               <tr class="highlight">
                  <td><strong>{l}Base Price{endl}</strong></td>
                  <td class="text-muted"></td>
                  <td class="col-adjust-input">
                     <div class="row">
                        <div class="col-sm-8">
                           <input type="text" class="form-control" ng-blur="add.setPrice('price')" ng-model="add.item.price" display-nr="" id="inputBasePrice" name="price" required>
                        </div>
                     </div>
                  </td>
                  <td class="text-muted col-adjust-input">
                     <div class="row">
                        <div class="col-sm-8">
                           <select class="form-control" ng-model="add.item.vat_id" id="inputVat" ng-change="add.setPrice('vat_id')" name="vat_id" required >
                              <option ng-repeat="option in add.item.vat_dd track by option.id" value="{{option.id}}"">{{option.name}}</option>
                           </select>
                        </div>
                     </div>
                  </td>
                  <td class="col-adjust-input">
                     <div class="row">
                        <div class="col-sm-8">
                           <input type="text" class="form-control" ng-model="add.item.total_price"  display-nr="" ng-blur="add.setPrice('total_price')" name="total_price" >
                        </div>
                     </div>
                  </td>
               </tr>
               <tr ng-repeat="item in add.item.price_categories" >
                  <td class="ng-cloak">{{item.si_price_cat_name}} <small class="text-muted" ng-if="item.is_custom"><br>({l}custom for current article{endl})</td>
                  <td class="text-muted ng-cloak">
                     {{item.si_type}} / {{item.si_price_value}} {{item.si_price_value_type}}
                     <a href="#" ng-click="add.openModal('setCategPrice',item)"><span class="glyphicon glyphicon-edit"></span></a>
                     <a href="#" ng-click="add.revertPrice(item)" class="text-muted" ng-if="item.is_custom" ><span class="fa fa-undo"></span></a>
                  </td>
                  <td class="text-muted ng-cloak">
                     {{item.si_price}}
                  </td>
                  <td class="text-muted ng-cloak">
                     {{item.si_vat}}
                  </td>
                  <td class="text-muted ng-cloak">
                     {{item.si_total_price}}
                  </td>
               </tr>
            </tbody>
         </table>
         <table class="table active_rows orderTable" ng-if="add.item.price_type==2 && add.item.edit_mode==1">
            <thead>
               <tr>
                  <th class="col-sm-2">{l}From Qty{endl} - {l}To Qty{endl}</th>
                  <th class="col-sm-2">{l}Price{endl}</th>
                  <th class="col-sm-2">{l}Volume percent{endl}</th>
                  <th class="col-sm-3">{l}VAT{endl}</th>
                  <th class="col-sm-2">{l}Price + VAT{endl}</th>
                  <th class="col-sm-1" class="text-muted">{l}Action{endl}</th>
               </tr>
            </thead>
            <tbody>
               <tr ng-repeat="item in add.item.price_categories_vol" >
                  <td class="ng-cloak">{{item.min_qty}} - {{item.max_qty}}</td>
                  <td class="text-muted ng-cloak">
                     {{item.si_price}}
                  </td>
                  <td class="text-muted ng-cloak">
                     {{item.si_percent}} %
                  </td>
                  <td class="text-muted ng-cloak">
                     {{item.si_vat}} ({{item.si_vat_percent}} %)
                  </td>
                  <td class="text-muted ng-cloak">
                     {{item.si_total_price}}
                  </td>
                  <td class="text-muted table_actions">
                     <div class="btn-group">
                        <button type="button" class="btn btn-plain dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                        <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu dropdown-menu-right" role="menu">
                           <li>
                              <a ng-click="add.openModal('setPriceVol',item,'md')"  ><span class="glyphicon glyphicon-edit text-primary"></span> {l}Edit{endl}</a>
                           </li>
                           <li >
                              <a href="#" ng-click="add.deletePrice(item)" confirm="{l}Are you sure, you wanna delete this entry?{endl}"><span class="fa fa-trash text-primary"></span> {l}Delete{endl}</a>
                           </li>
                        </ul>
                     </div>
                  </td>
               </tr>
            </tbody>
         </table>
      </div>
      <!-- /.col-top -->
      <div class="text-right">
         <button class="btn btn-plain" ng-click="add.cancel()" type="submit">{l}Cancel{endl}
         </button>
         <button class="btn btn-default" ng-disabled="addAnService.$invalid" ng-click="add.save(addAnService)" type="submit">{l}Save{endl}
         </button>
      </div>
   </div>
   <div role="tabpanel" class="tab-pane fade"  id="translation">
      <table class="table orderTable">
         <thead>
            <tr>
               <th class="col-sm-2"> </th>
               <th class="col-sm-2 ng-cloak" ng-repeat="item in add.translation"><img src="{{item.lang_img}}" width="16" height="11" alt=""/> {{item.lang_name}}</th>
               <th class="col-sm-2
                  "> </th>
            </tr>
         </thead>
         <tbody>
            <!--<tr>
               <td><strong>{l}Internal Name{endl}</strong></td>
               <td class="text-muted ng-cloak" ng-repeat="item in add.translation" ng-click="add.openModal('setTrans',add.item.article_id,'md')">{{item.internal_name}}</td>
               
               </tr>-->
            <tr>
               <td><strong>{l}Commercial Name{endl}</strong></td>
               <td class="text-muted ng-cloak"  ng-click="add.openModal('setTrans',add.item.article_id,'md','name')" ng-repeat="item in add.translation">{{item.name}}</td>
               <td class="table_actions">
                  <div class="btn-group">
                     <button type="button" class="btn btn-plain dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                     <span class="caret"></span>
                     </button>
                     <ul class="dropdown-menu dropdown-menu-right" role="menu">
                        <li class="dropdown-header">{l}Action{endl}</li>
                        <li>
                           <a href="#" ng-click="add.openModal('setTrans',add.item.article_id,'md','name')" ><span class="glyphicon glyphicon-edit text-primary"></span> {l}Edit{endl}</a>
                        </li>
                     </ul>
                  </div>
               </td>
            </tr>
            <tr>
               <td><strong>{l}Commercial Name2{endl}</strong></td>
               <td class="text-muted ng-cloak"  ng-click="add.openModal('setTrans',add.item.article_id,'md','name2')" ng-repeat="item in add.translation">{{item.name2}}</td>
               <td class="table_actions">
                  <div class="btn-group">
                     <button type="button" class="btn btn-plain dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                     <span class="caret"></span>
                     </button>
                     <ul class="dropdown-menu dropdown-menu-right" role="menu">
                        <li class="dropdown-header">{l}Action{endl}</li>
                        <li>
                           <a href="#" ng-click="add.openModal('setTrans',add.item.article_id,'md','name2')" ><span class="glyphicon glyphicon-edit text-primary"></span> {l}Edit{endl}</a>
                        </li>
                     </ul>
                  </div>
               </td>
            </tr>
            <tr>
               <td><strong>{l}Description{endl}</strong></td>
               <td class="text-muted ng-cloak"  ng-click="add.openModal('setTrans',add.item.article_id,'md','description')" ng-repeat="item in add.translation">{{item.description}}</td>
               <td class="table_actions">
                  <div class="btn-group">
                     <button type="button" class="btn btn-plain dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                     <span class="caret"></span>
                     </button>
                     <ul class="dropdown-menu dropdown-menu-right" role="menu">
                        <li class="dropdown-header">{l}Action{endl}</li>
                        <li>
                           <a href="#" ng-click="add.openModal('setTrans',add.item.article_id,'md','description')" ><span class="glyphicon glyphicon-edit text-primary"></span> {l}Edit{endl}</a>
                        </li>
                     </ul>
                  </div>
               </td>
            </tr>
         </tbody>
      </table>
   </div>
   

   <div role="tabpanel" class="tab-pane fade"  id="financial">
      
       <form class="form-horizontal text-left" name="addStock" novalidate>
                    <div class="text-right col-bottom col-top">
            <button class="btn btn-plain" ng-click="add.cancel()" type="submit">{l}Cancel{endl}
            </button>
            <button class="btn btn-default"  ng-click="add.save(addAnService)" type="submit">{l}Save{endl}
            </button>
          
         </div>
<div class="row">
 <div class="form-group">
        <div class="col-sm-4">
     
            <label for="inputLedger" class="col-sm-4 control-label">{l}Ledger Account{endl}
            </label>
            <div class="col-sm-8">
      
          <selectize config="add.salesCfg" options="add.item.ledger_account" ng-model="add.item.ledger_account_id" id="custandcont" table="pim_article_ledger_accounts" model="ledger_account" ></selectize>
          </div>
          
          </div>          
          </div>   
    <div class="col-sm-6"> 
         <div class="form-group" ng-if="add.item.edit_mode">
                 <label class="col-sm-4 control-label">
            
{l}Taxes{endl}
<small class="quick_edits">
<span class="text-link_space">•</span>
<a class="text-link text-muted" href="#" ng-click="add.openModal('setTaxes',add.item.article_id,'md')">{l}Manage Taxes{endl}</a>
</small>
</label>

                         
                          <div class="col-sm-8 col-lg-8">
                            <div class="row">
                              <div ng-repeat="item in add.item.taxes" class="ng-cloak col-sm-4 text-muted control-label">
                                {{::item.taxe_code}} ({{::item.tax_value}})
                                </div>
                              
                            </div>
                          </div>
                         
                        </div>
         </div>     

    
          


                    
     </div>               
</form>



    <div class="text-right">
         <button class="btn btn-plain" ng-click="add.cancel()" type="submit">{l}Cancel{endl}
         </button>
         <button class="btn btn-default"  ng-disabled="addAnService.$invalid" ng-click="add.save(addAnService)" type="submit">{l}Save{endl}
         </button>
      </div>
   </div>

   


  


</div>

