

<div class="page-header">
   <div class="row">
      <div class="col-sm-8">
        <h1 ng-if="add.add_mode">{l}Create New{endl}
        <div class="btn-group">
          <button type="button" class="btn btn-dropdown-line dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" id="no_css_switch_btn" ng-if="add.form_type=='article'">{l}Product{endl} <span class="caret"></span></button>
          <button type="button" class="btn btn-dropdown-line dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"  aria-expanded="false" id="no_css_switch_btn" ng-if="add.form_type=='service'" 
          >{l}Service{endl} <span class="caret"></span></button>
          <ul class="dropdown-menu">
            <li><a  go-to="" state="article.add" params='{"article_id": "tmp","form_type":"article"}' >{l}Product{endl}</a></li>
            <li><a go-to="" state="article.add" params='{"article_id": "tmp","form_type":"service"}' >{l}Service{endl}</a></li>
          </ul>
        </div>
      </h1>
         <h1 ng-if="add.item.edit_mode"> {{add.item.internal_name}}
         </h1>
      </div>
      <div class="col-sm-4 page-header-options">
         <button ng-if="!add.add_mode" go-to="" ng-show="add.form_type=='article'" state="articles" type="submit" class="btn btn-link">
         <span class="glyphicon glyphicon-list">
         </span> 
         <strong>{l}List{endl}
         </strong>
         </button>
         <button ng-if="!add.add_mode" go-to="" ng-show="add.form_type=='service'" state="aservices" type="submit" class="btn btn-link">
         <span class="glyphicon glyphicon-list">
         </span> 
         <strong>{l}List{endl}
         </strong>
         </button>
      </div>
      <!-- </div>
         <div class="row" > -->
   </div>
</div>
<!-- /.page-header -->
<div uib-alert ng-repeat="alert in add.alerts" type="{{alert.type}}" close="add.alerts.splice($index, 1);" ng-class="['alert-' + (alert.type || 'warning') ]" dismiss-on-timeout='5000' >{{alert.msg}}</div>
<ul class="nav nav-tabs tabs-default" role="tablist">
   <li role="presentation" class="pull-right">
      <div>
         <a class="btn btn-sm btn-link" ui-sref="article.add({'article_id': add.item.prev})" ng-show="add.item.prev"><i class="fa fa-arrow-left" aria-hidden="true"></i>{l}Previous{endl}</a> <a class="btn btn-sm btn-link" ui-sref="article.add({'article_id': add.item.next})" ng-show="add.item.next">{l}Next{endl}<i class="fa fa-arrow-right" aria-hidden="true"></i></a>
      </div>
   </li>
   <li role="presentation" class="active">
      <a href="#tab1" role="tab" data-toggle="tab">{l}Details{endl}
      </a>
   </li>
   <li role="presentation" class="{{add.item.tab_class}}">
      <a href="#translation" role="tab" data-toggle="tab" ng-click="add.load('articleTranslation','translation')">{l}Product Description{endl}
      </a>
   </li>
   <li role="presentation" class="{{add.item.tab_class}}" ng-if="add.item.allow_stock">
      <a href="#customer_stocks" role="tab" data-toggle="tab" ng-click="add.load('articleDispatch','customer_stocks')">{l}Stock{endl}
      </a>
   </li>
   <li role="presentation" class="{{add.item.tab_class}}">
      <a href="#financial" role="tab" data-toggle="tab">{l}Financial{endl}
      </a>
   </li>
   <li role="presentation" class="{{add.item.tab_class}}">
      <a href="#serial" role="tab" data-toggle="tab" ng-click="add.load('articleSerial','serial')">{l}Serial Numbers{endl}
      </a>
   </li>
   <li role="presentation" class="{{add.item.tab_class}}">
      <a href="#batch" role="tab" data-toggle="tab" ng-click="add.load('articleBatch','batch')">{l}Batches{endl}
      </a>
   </li>
   <li role="presentation" class="{{add.item.tab_class}}">
      <a href="#composed" role="tab" data-toggle="tab" ng-click="add.load('articleCombine','composed')">{l}Combined Articles{endl}
      </a>
   </li>
</ul>
<div class="tab-content col-top">
   <div role="tabpanel" class="tab-pane active" id="tab1">
      <form class="form-horizontal text-left" name="addAnArticle" novalidate>
         <div class="text-right col-bottom col-top">
            <button class="btn btn-plain" ng-click="add.cancel()" type="submit">{l}Cancel{endl}
            </button>
            <button class="btn btn-default" ng-show="add.form_type=='article'"  ng-click="add.save(addAnArticle)" type="submit" ng-disabled="addAnArticle.$invalid">{l}Save{endl}
            </button>
            <button class="btn btn-default" ng-show="add.form_type=='service'" ng-disabled="addAnService.$invalid" ng-click="add.save(addAnService)" type="submit">{l}Save{endl}
            </button>
         </div>
         <div class="row">
            <div class="col-xs-12">
               <div class="row">
                  <div class="col-xs-6">
                     <div class="form-group"  class="form-group" ng-class="{ 'form-group_alert' : addAnArticle.internal_name.$invalid && !addAnArticle.internal_name.$pristine }">
                        <label for="inputName" class="col-sm-5 control-label">
                        {l}Internal Name{endl}<span class="mandatory-label">*</span>
                        </label>
                        <div class="col-sm-7">
                           <input type="text" class="form-control" placeholder="{l}Internal Name{endl}" ng-model="add.item.internal_name" id="internal_name" name="internal_name" required>
                           <div class="alert alert-sm alert-danger" ng-if="addAnArticle.internal_name.$invalid && add.alertsField.internal_name">{{add.alertsField.internal_name}}
                           </div>
                        </div>
                     </div>
                     <div class="form-group" ng-class="{ 'form-group_alert' : addAnArticle.item_code.$invalid && !addAnArticle.item_code.$pristine }">
                        <label for="inputCode" class="col-sm-5 control-label">
                        {l}Code{endl} <span class="mandatory-label">*</span>
                        </label>
                        <div class="col-sm-7">
                           <input type="text" class="form-control" placeholder="{l}Code{endl}" ng-model="add.item.item_code" id="inputCode" name="item_code" required>
                           <div class="alert alert-sm alert-danger ng-cloak" ng-if="addAnArticle.item_code.$invalid && add.alertsField.item_code">{{add.alertsField.item_code}}
                           </div>
                        </div>
                     </div>
                     <div class="form-group" ng-class="{ 'form-group_alert' : addAnArticle.price.$invalid && !addAnArticle.price.$pristine }">
                        <label for="inputBasePrice" class="col-sm-5 control-label">{l}Base Price{endl}  <span class="mandatory-label">*</span></label>
                        <div class="col-sm-7">
                           <input type="text" class="form-control" placeholder="{l}Base Price{endl}" ng-blur="add.setPrice('price')" ng-model="add.item.price" display-nr="" id="inputBasePrice" name="price" required>
                        </div>
                     </div>
                     <div class="form-group">
                        <label for="inputPurchase" class="col-sm-5 control-label">{l}Purchase Price{endl}</label>
                        <div class="col-sm-7" ng-if="!add.item.is_wac">
                           <input type="text" class="form-control" placeholder="{l}Purchase Price{endl}" ng-model="add.item.purchase_price" display-nr="" id="inputPurchase">

                        </div>
                        <div class="col-sm-7" ng-if="add.item.is_wac">
                           <input type="text" class="form-control" placeholder="{l}Purchase Price{endl}" ng-model="add.item.purchase_price" readonly display-nr="" id="inputPurchase">
                        </div>
                     </div>
                     <div class="form-group" ng-class="{ 'form-group_alert' : addAnArticle.vat_id.$invalid && !addAnArticle.vat_id.$pristine }">
                        <label for="inputVat" class="col-sm-5 control-label">{l}VAT{endl} <span class="mandatory-label">*</span></label>
                        <div class="col-sm-7">
<!--                            <select class="form-control" ng-model="add.item.vat_id" id="inputVat" ng-change="add.setPrice('vat_id')" name="vat_id" required >
                              <option ng-repeat="option in add.item.vat_dd track by option.id" value="{{option.id}}"">{{option.name}}</option>
                           </select> -->
                           <selectize config="add.cfg" options="add.item.vat_dd" ng-model="add.item.vat_id" ></selectize>
                        </div>
                     </div>
                     <div class="form-group" ng-class="{ 'form-group_alert' : addAnArticle.total_price.$invalid && !addAnArticle.total_price.$pristine }">
                        <label for="inputPriceVat" class="col-sm-5 control-label">{l}Price + VAT{endl} <span class="mandatory-label">*</span></label>
                        <div class="col-sm-7">
                           <input type="text" class="form-control" placeholder="{l}Price + VAT{endl}" ng-model="add.item.total_price" id="inputPriceVat" display-nr="" ng-blur="add.setPrice('total_price')" name="total_price" >
                        </div>
                     </div>
                     <div class="form-group">
                        <label for="inputWeight" class="col-sm-5 control-label">{l}Weight{endl}</label>
                        <div class="col-sm-7">
                           <input type="text" class="form-control" placeholder="{l}Weight{endl}" ng-model="add.item.weight" id="inputWeight">
                        </div>
                     </div>
                     <div class="form-group"  ng-if="add.item.allow_article_packing==1">
                        <label for="inputPacking" class="col-sm-5 control-label">{l}Packing{endl}</label>
                        <div class="col-sm-7">
                           <input type="text" class="form-control" placeholder="{l}Packing{endl}" ng-model="add.item.packing" id="inputPacking">
                        </div>
                     </div>
                  </div>
                  <div class="col-xs-6">
                     <div class="form-group">
                        <label for="inputOriginCode" class="col-sm-5 control-label">{l}Origin Code{endl}
                        </label>
                        <div class="col-sm-7">
                           <input type="text" class="form-control" placeholder="{l}Origin Code{endl}" ng-model="add.item.origin_number" id="inputOriginNumber">
                        </div>
                     </div>
                     <div class="form-group">
                        <label for="inputEAN" class="col-sm-5 control-label">{l}EAN Code{endl}
                        </label>
                        <div class="col-sm-7">
                           <input type="text" class="form-control" placeholder="{l}EAN Code{endl}" ng-model="add.item.ean_code" id="inputEAN">
                        </div>
                     </div>
                     <div class="form-group">
                        <label for="inputSupplier" class="col-sm-5 control-label">{l}Supplier{endl}
                        </label>
                        <div class="col-sm-7">
                           <selectize config='add.customerAutoCfg' options='add.item.supplier' ng-model="add.item.supplier_id" id="inputSupplier" >
                           </selectize>
                        </div>
                     </div>
                     <div class="form-group">
                        <label for="inputArticleCategory" class="col-sm-5 control-label">{l}Article Category{endl}
                        </label>
                        <div class="col-sm-7">
                           <selectize config="add.salesCfg" options="add.item.article_category" ng-model="add.item.article_category_id" id="custandcont" table="pim_article_categories" model="article_category" ></selectize>
                        </div>
                     </div>
                     <div class="form-group">
                        <label for="inputArticleBrand" class="col-sm-5 control-label">{l}Brand{endl}
                        </label>
                        <div class="col-sm-7">
                           <selectize config="add.salesCfg" options="add.item.article_brand" ng-model="add.item.article_brand_id" id="custandcont" table="pim_article_brands" model="article_brand" ></selectize>
                        </div>
                     </div>
                     <div class="form-group">
                        <label for="inputSupplierRef" class="col-sm-5 control-label">Supplier Reference
                        </label>
                        <div class="col-sm-7">
                           <input type="text" class="form-control" placeholder="{l}Supplier Reference{endl}" ng-model="add.item.supplier_reference" id="inputSupplierRef">
                        </div>
                     </div>
                     <div class="form-group" ng-if="add.item.allow_article_sale_unit==1">
                        <label for="inputSalesUnit" class="col-sm-5 control-label">{l}Sale Unit{endl}</label>
                        <div class="col-sm-7">
                           <input type="text" class="form-control" placeholder="{l}Sale Unit{endl}" ng-model="add.item.sale_unit" id="inputSalesUnit">
                        </div>
                     </div>
                  </div>
               </div>

                <div class="form-group">
                       <div class="col-xs-12 col-bottom col-top radio">   
                          <span class="col-right ng-cloak">{l}Price Type by default{endl}</span>
                        
                            <label class="text-muted col-right"><input type="radio" name="price_type" ng-model="add.item.price_type" value="1" > {l}Based on Customer Price Category{endl}</label>              
                          
                         
                            <label class="text-muted col-right"><input type="radio" name="price_type" ng-model="add.item.price_type" value="2" > {l}Based on Quantity Ordered{endl}</label>              
                         
                        </div>  

                        </div> 
            </div>
                  <div class="col-xs-4">
                                    <div class="panel panel-plain" ng-show="add.item.edit_mode==1">
                                       <div class="panel-body">
                                          <div class="profile_card text-center">
                                            
                                             <div class="card_thumb">
                                                <img class="img-responsive" src="{{add.item.artPhoto}}"" alt=""/>
                                             </div>
                                             <div class="btn-thumb_upload">
                                                <div class="btn-group text-default col-top">
                                                   <button type="button" class="btn btn-sm btn-tertiary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                   <span class="fa fa-camera"></span>&nbsp; Update Photo
                                                   </button>
                                                  <input type="file" name="file" class="hide newUploadFile2" accept=".gif,.jpg,.jpeg" >
                                                   <ul class="dropdown-menu">
                                                   <li><a href="#" ng-click="add.upload(add,$event)">{l}Upload Photo{endl}</a></li>
                                                   <li><a href="#" ng-click="add.remove_photo()">{l}Remove{endl}</a></li>
                                                   </ul>
                                                </div>
                                             </div>
                                         
                                          </div>
                                       </div>
                                    </div>
                                  

                                 </div>
         </div>
      </form>
      <div class="col-top">
         <div class="col-sm-12 text-right" ng-if="add.item.price_type==2 && add.item.edit_mode==1"> <a href="#"  ng-click="add.openModal('setPriceVol',add.item,'md')" class="btn btn-default ">{l}Add Price{endl}</a></div>
         <table class="table orderTable" ng-if="add.item.price_type==1 && add.item.edit_mode==1">
            <thead>
               <tr>
                  <th class="col-sm-3">{l}Price Category{endl}</th>
                  <th class="col-sm-3">{l}Category Details{endl}</th>
                  <th class="col-sm-2">{l}Price{endl}</th>
                  <th class="col-sm-2 ng-cloak">{l}VAT{endl} {{add.item.si_vat_value}} %</th>
                  <th class="col-sm-2">{l}Price + VAT{endl}</th>
               </tr>
            </thead>
            <tbody>
               <tr class="highlight">
                  <td><strong>{l}Base Price{endl}</strong></td>
                  <td class="text-muted"></td>
                  <td class="col-adjust-input">
                     <div class="row">
                        <div class="col-sm-8">
                           <input type="text" class="form-control" ng-blur="add.setPrice('price')" ng-model="add.item.price" display-nr="" id="inputBasePrice" name="price" required>
                        </div>
                     </div>
                  </td>
                  <td class="text-muted col-adjust-input">
                     <div class="row">
                        <div class="col-sm-8">
                           <select class="form-control" ng-model="add.item.vat_id" id="inputVat" ng-change="add.setPrice('vat_id')" name="vat_id" required >
                              <option ng-repeat="option in add.item.vat_dd track by option.id" value="{{option.id}}"">{{option.name}}</option>
                           </select>
                        </div>
                     </div>
                  </td>
                  <td class="col-adjust-input">
                     <div class="row">
                        <div class="col-sm-8">
                           <input type="text" class="form-control" ng-model="add.item.total_price"  display-nr="" ng-blur="add.setPrice('total_price')" name="total_price" >
                        </div>
                     </div>
                  </td>
               </tr>
               <tr ng-repeat="item in add.item.price_categories" >
                  <td class="ng-cloak">{{item.si_price_cat_name}} <small class="text-muted" ng-if="item.is_custom"><br>({l}custom for current article{endl})</td>
                  <td class="text-muted ng-cloak">
                     {{item.si_type}} / {{item.si_price_value}} {{item.si_price_value_type}}
                     <a href="#" ng-click="add.openModal('setCategPrice',item)"><span class="glyphicon glyphicon-edit"></span></a>
                     <a href="#" ng-click="add.revertPrice(item)" class="text-muted" ng-if="item.is_custom" ><span class="fa fa-undo"></span></a>
                  </td>
                  <td class="text-muted ng-cloak">
                     {{item.si_price}}
                  </td>
                  <td class="text-muted ng-cloak">
                     {{item.si_vat}}
                  </td>
                  <td class="text-muted ng-cloak">
                     {{item.si_total_price}}
                  </td>
               </tr>
            </tbody>
         </table>
         <table class="table active_rows orderTable" ng-if="add.item.price_type==2 && add.item.edit_mode==1">
            <thead>
               <tr>
                  <th class="col-sm-2">{l}From Qty{endl} - {l}To Qty{endl}</th>
                  <th class="col-sm-2">{l}Price{endl}</th>
                  <th class="col-sm-2">{l}Volume percent{endl}</th>
                  <th class="col-sm-3">{l}VAT{endl}</th>
                  <th class="col-sm-2">{l}Price + VAT{endl}</th>
                  <th class="col-sm-1" class="text-muted">{l}Action{endl}</th>
               </tr>
            </thead>
            <tbody>
               <tr ng-repeat="item in add.item.price_categories_vol" >
                  <td class="ng-cloak">{{item.min_qty}} - {{item.max_qty}}</td>
                  <td class="text-muted ng-cloak">
                     {{item.si_price}}
                  </td>
                  <td class="text-muted ng-cloak">
                     {{item.si_percent}} %
                  </td>
                  <td class="text-muted ng-cloak">
                     {{item.si_vat}} ({{item.si_vat_percent}} %)
                  </td>
                  <td class="text-muted ng-cloak">
                     {{item.si_total_price}}
                  </td>
                  <td class="text-muted table_actions">
                     <div class="btn-group">
                        <button type="button" class="btn btn-plain dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                        <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu dropdown-menu-right" role="menu">
                           <li>
                              <a ng-click="add.openModal('setPriceVol',item,'md')"  ><span class="glyphicon glyphicon-edit text-primary"></span> {l}Edit{endl}</a>
                           </li>
                           <li >
                              <a href="#" ng-click="add.deletePrice(item)" confirm="{l}Are you sure, you wanna delete this entry?{endl}"><span class="fa fa-trash text-primary"></span> {l}Delete{endl}</a>
                           </li>
                        </ul>
                     </div>
                  </td>
               </tr>
            </tbody>
         </table>
      </div>
      <!-- /.col-top -->
      <div class="text-right">
         <button class="btn btn-plain" ng-click="add.cancel()" type="submit">{l}Cancel{endl}
         </button>
         <button class="btn btn-default" ng-show="add.form_type=='article'" ng-disabled="addAnArticle.$invalid" ng-click="add.save(addAnArticle)" type="submit">{l}Save{endl}
         </button>
      </div>
   </div>
   <div role="tabpanel" class="tab-pane fade"  id="translation">
      <table class="table orderTable">
         <thead>
            <tr>
               <th class="col-sm-2"> </th>
               <th class="col-sm-2 ng-cloak" ng-repeat="item in add.translation"><img src="{{item.lang_img}}" width="16" height="11" alt=""/> {{item.lang_name}}</th>
               <th class="col-sm-2
                  "> </th>
            </tr>
         </thead>
         <tbody>
            <!--<tr>
               <td><strong>{l}Internal Name{endl}</strong></td>
               <td class="text-muted ng-cloak" ng-repeat="item in add.translation" ng-click="add.openModal('setTrans',add.item.article_id,'md')">{{item.internal_name}}</td>
               
               </tr>-->
            <tr>
               <td><strong>{l}Commercial Name{endl}</strong></td>
               <td class="text-muted ng-cloak"  ng-click="add.openModal('setTrans',add.item.article_id,'md','name')" ng-repeat="item in add.translation">{{item.name}}</td>
               <td class="table_actions">
                  <div class="btn-group">
                     <button type="button" class="btn btn-plain dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                     <span class="caret"></span>
                     </button>
                     <ul class="dropdown-menu dropdown-menu-right" role="menu">
                        <li class="dropdown-header">{l}Action{endl}</li>
                        <li>
                           <a href="#" ng-click="add.openModal('setTrans',add.item.article_id,'md','name')" ><span class="glyphicon glyphicon-edit text-primary"></span> {l}Edit{endl}</a>
                        </li>
                     </ul>
                  </div>
               </td>
            </tr>
            <tr>
               <td><strong>{l}Commercial Name2{endl}</strong></td>
               <td class="text-muted ng-cloak"  ng-click="add.openModal('setTrans',add.item.article_id,'md','name2')" ng-repeat="item in add.translation">{{item.name2}}</td>
               <td class="table_actions">
                  <div class="btn-group">
                     <button type="button" class="btn btn-plain dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                     <span class="caret"></span>
                     </button>
                     <ul class="dropdown-menu dropdown-menu-right" role="menu">
                        <li class="dropdown-header">{l}Action{endl}</li>
                        <li>
                           <a href="#" ng-click="add.openModal('setTrans',add.item.article_id,'md','name2')" ><span class="glyphicon glyphicon-edit text-primary"></span> {l}Edit{endl}</a>
                        </li>
                     </ul>
                  </div>
               </td>
            </tr>
            <tr>
               <td><strong>{l}Description{endl}</strong></td>
               <td class="text-muted ng-cloak"  ng-click="add.openModal('setTrans',add.item.article_id,'md','description')" ng-repeat="item in add.translation">{{item.description}}</td>
               <td class="table_actions">
                  <div class="btn-group">
                     <button type="button" class="btn btn-plain dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                     <span class="caret"></span>
                     </button>
                     <ul class="dropdown-menu dropdown-menu-right" role="menu">
                        <li class="dropdown-header">{l}Action{endl}</li>
                        <li>
                           <a href="#" ng-click="add.openModal('setTrans',add.item.article_id,'md','description')" ><span class="glyphicon glyphicon-edit text-primary"></span> {l}Edit{endl}</a>
                        </li>
                     </ul>
                  </div>
               </td>
            </tr>
         </tbody>
      </table>
   </div>
   <div role="tabpanel" class="tab-pane fade"  id="customer_stocks">
      
       <form class="form-horizontal text-left" name="addStock" novalidate>
                    <div class="text-right col-bottom col-top">
            <button class="btn btn-plain" ng-click="add.cancel()" type="submit">{l}Cancel{endl}
            </button>
            <button class="btn btn-default" ng-show="add.form_type=='article'"  ng-click="add.save(addStock)" type="submit">{l}Save{endl}
            </button>
          
         </div>
<div class="row">
                    <div class="col-sm-6">
                        <div class="form-group" ng-if="add.item.allow_stock" >
                          <label class="col-sm-3 control-label">{l}Exclude Stock{endl}</label>
                          <div class="col-sm-9 checkbox checkbox-primary">
                           <input type="checkbox" id="checkbox_stock" ng-model="add.item.hide_stock" value="1">
                           <label for="checkbox_stock"></label>
                          </div>
                        </div>
                        <div class="form-group"  ng-if="!add.item.hide_stock && add.item.stock_multiple_locations">
                          <label for="inputInStock" class="col-sm-3 control-label">{l}In Stock{endl}</label>
                          <div class="col-sm-4 col-lg-3" ng-if="!add.item.edit_mode">
                            <input type="text" class="form-control" placeholder="{l}In Stock{endl}" ng-model="add.item.stock" id="inputInStock">
                          </div>
                          <div class="col-sm-4 col-lg-3" ng-if="add.item.edit_mode">
                            <input type="text" class="form-control hide" placeholder="{l}In Stock{endl}" ng-model="add.item.stock" id="inputInStock">
                             <span id="stockValue" class="ng-cloak">{{add.item.stock}}</span>
                             <button ng-if="add.item.stock_multiple_locations && !add.item.use_batch_no"  class="btn text-link" ng-click="add.openModal('setStock',add.item.article_id,'md')">
                                  <span class="glyphicon glyphicon-edit">
                                  </span>
                            </button>
                          </div>
                         
                        </div>

                    </div>
                     <div class="col-sm-6" ng-if="!add.item.hide_stock">
                          <div class="form-group" ng-if="!add.item.stock_multiple_locations">
                          <label for="inputInStock" class="col-sm-3 control-label">{l}In Stock{endl}</label>
                          <div class="col-sm-4 col-lg-3">
                            <input type="text" class="form-control" placeholder="{l}In Stock{endl}" ng-model="add.item.stock" id="inputInStock">
                          </div>
                          
                         
                        </div>
                        
                          <div class="form-group">
                          <label for="inputThreshold" class="col-sm-3 control-label">{l}Threshold{endl}</label>
                          <div class="col-sm-4 col-lg-3">
                            <input type="text" class="form-control" placeholder="{l}Threshold{endl}" ng-model="add.item.article_threshold_value" id="inputThreshold">
                            
                          </div>
                         <div ng-if="add.item.article_id">
                          <a href="#" id="dispatch_threshold" class="text-link"  ng-click="add.openModal('setTreshold',add.item.article_id)">{l}Set Threshold For Dispatch Addresses{endl}</a>
                         </div>
                        </div>
                        <div class="form-group">
                          <label for="inputMaxStock" class="col-sm-3 control-label">{l}Max. Stock{endl}</label>
                          <div class="col-sm-4 col-lg-3">
                            <input type="text" class="form-control" placeholder="{l}Max. Stock{endl}" ng-model="add.item.max_stock" id="inputMaxStock">
                          </div>
                        </div>
                    </div>



                    
     </div>               
</form>


<h2>{l}Dispatch Stock{endl}</h2>
      <table class="table orderTable">
         <thead>
            <tr>
               <th class="col-sm-2">{l}Depot/Customer{endl}</th>
               <th class="col-sm-3">{l}Address{endl}</th>
               <th class="col-sm-1">{l}Zip{endl}</th>
               <th class="col-sm-2">{l}City{endl}</th>
               <th class="col-sm-2">{l}Country{endl}</th>
               <th class="col-sm-2 text-center">{l}Stock{endl}</th>
            </tr>
         </thead>
         <tbody>
            <tr ng-repeat="item in add.customer_stocks" >
               <td class="ng-cloak">{{item.customer_name}}</td>
               <td class="text-muted ng-cloak">{{item.address}}</td>
               <td class="text-muted ng-cloak">{{item.zip}}</td>
               <td class="text-muted ng-cloak">{{item.city}}</td>
               <td class="text-muted ng-cloak">{{item.country}}</td>
               <td class="text-center ng-cloak text-strong text-success">{{item.current_quantity}}</td>
            </tr>
         </tbody>
      </table>
    <div class="text-right">
         <button class="btn btn-plain" ng-click="add.cancel()" type="submit">{l}Cancel{endl}
         </button>
         <button class="btn btn-default" ng-show="add.form_type=='article'" ng-disabled="addAnArticle.$invalid" ng-click="add.save(addStock)" type="submit">{l}Save{endl}
         </button>
      </div>
   </div>

   <div role="tabpanel" class="tab-pane fade"  id="financial">
      
       <form class="form-horizontal text-left" name="addStock" novalidate>
                    <div class="text-right col-bottom col-top">
            <button class="btn btn-plain" ng-click="add.cancel()" type="submit">{l}Cancel{endl}
            </button>
            <button class="btn btn-default" ng-show="add.form_type=='article'"  ng-click="add.save(addStock)" type="submit">{l}Save{endl}
            </button>
          
         </div>
<div class="row">
 <div class="form-group">
        <div class="col-sm-4">
     
            <label for="inputLedger" class="col-sm-4 control-label">{l}Ledger Account{endl}
            </label>
            <div class="col-sm-8">
      
          <selectize config="add.salesCfg" options="add.item.ledger_account" ng-model="add.item.ledger_account_id" id="custandcont" table="pim_article_ledger_accounts" model="ledger_account" ></selectize>
          </div>
          
          </div>          
          </div>   
    <div class="col-sm-6"> 
         <div class="form-group" ng-if="add.item.edit_mode">
                 <label class="col-sm-4 control-label">
            
{l}Taxes{endl}
<small class="quick_edits">
<span class="text-link_space">•</span>
<a class="text-link text-muted" href="#" ng-click="add.openModal('setTaxes',add.item.article_id,'md')">{l}Manage Taxes{endl}</a>
</small>
</label>

                         
                          <div class="col-sm-8 col-lg-8">
                            <div class="row">
                              <div ng-repeat="item in add.item.taxes" class="ng-cloak col-sm-4 text-muted control-label">
                                {{::item.taxe_code}} ({{::item.tax_value}})
                                </div>
                              
                            </div>
                          </div>
                         
                        </div>
         </div>     

    
          


                    
     </div>               
</form>



    <div class="text-right">
         <button class="btn btn-plain" ng-click="add.cancel()" type="submit">{l}Cancel{endl}
         </button>
         <button class="btn btn-default" ng-show="add.form_type=='article'" ng-disabled="addAnArticle.$invalid" ng-click="add.save(addStock)" type="submit">{l}Save{endl}
         </button>
      </div>
   </div>

   <div role="tabpanel" class="tab-pane fade"  id="composed">
      <div class="page-header">
         <div class="row">
            <div class="col-sm-10 checkbox checkbox-primary">
               <input type="checkbox" name="use_combined"  id="use_combined" ng-click="add.check_use_combined(add)" ng-model="add.composed.use_combined" />{l}Use Combined{endl}
               <label for="use_combined"></label>
            </div>
            <div class="col-sm-2" ng-if="add.composed.use_combined">
               <a class="btn btn-primary" ng-click="add.openModal('setParts',add.item.article_id,'md')">{l}Compose Main Article{endl}</a>
            </div>
         </div>
      </div>
      <div class="table_orders-add" ng-if="add.composed.use_combined">
         <button class="btn btn-block btn-blank add_article" ng-click="add.addArticle()"><span class="fa fa-plus icon-holder"></span>{l}Add Parts{endl}</button>
         <div ng-show="add.showTxt.addArticleBtn">
            <selectize config='add.articlesListAutoCfg' options='add.composed.articles_list.lines' ng-model="add.composed.selected_article_id" id="article_list_id" ></selectize>
         </div>
      </div>
      <table class="table active_rows orderTable" ng-if="add.item.edit_mode==1 && add.composed.use_combined">
         <thead>
            <tr>
               <th class="col-sm-1">{l}Quantity{endl}</th>
               <th class="col-sm-3 text-muted">{l}Code{endl}</th>
               <th class="col-sm-3 text-muted">{l}Internal Name{endl}</th>
               <th class="col-sm-3 text-muted">{l}Stock{endl}</th>
               <th class="col-sm-2 text-center">{l}Potential stock{endl}: {{add.composed.potential_stock}}</th>
            </tr>
         </thead>
         <tbody>
            <tr ng-repeat="item in add.composed.articles" >
               <td class="ng-cloak">
                  <div class="input-group" ng-if="item.edit_q">
                     <input type="text" class="form-control input-group-addon_shrink" ng-model="item.quantity" value="{{item.quantity}}" >
                     <span class="input-group-addon input-group-addon_shrink input-group-plain">
                     <i class="glyphicon glyphicon-ok-sign text-success" aria-hidden="true" ng-click="add.saveComposed(item,$index)"></i>
                     </span>
                  </div>
                  <span ng-if="!item.edit_q">{{item.quantity}}</span>  <a ng-if="!item.edit_q" href="#"  ng-click="add.editComposed(item)"><span class="glyphicon glyphicon-edit"></span></a>
               </td>
               <td class="text-muted ng-cloak">
                  {{item.code}}
               </td>
               <td class="text-muted ng-cloak">
                  {{item.name}}
               </td>
               <td class="text-muted ng-cloak">
                  <span class="{{item.stock_status}}">{{item.stock}}</span>
               </td>
               <td class="text-muted table_actions">
                  <div class="btn-group">
                     <button type="button" class="btn btn-plain dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                     <span class="caret"></span>
                     </button>
                     <ul class="dropdown-menu dropdown-menu-right" role="menu">
                        <li >
                           <a href="#" ng-click="add.deleteComposed(item)" confirm="{l}Are you sure, you wanna delete this entry?{endl}"><span class="fa fa-trash text-primary"></span> {l}Delete{endl}</a>
                        </li>
                     </ul>
                  </div>
               </td>
            </tr>
         </tbody>
      </table>
   </div>
<div role="tabpanel" class="tab-pane fade"  id="serial">
      <div class="page-header">
         <div class="row">
            <div class="col-sm-10">
               <div class="checkbox checkbox-primary" ng-if="!add.serial.disable_use_serial_no">
                  <input type="checkbox"  name="use_serial_no"  id="use_serial" ng-click="add.check_use_serial_no(add)" ng-model="add.serial.use_serial_no" />{l}Use Serial Numbers{endl}
                  <label for="use_serial"></label>
               </div>
               <div class="checkbox checkbox-primary" ng-if="add.serial.disable_use_serial_no">
                  <input type="checkbox"   disabled="disabled" name="use_serial_no"  id="use_serial_no"  ng-model="add.serial.use_serial_no" />{l}Use Serial Numbers{endl}
                  <label for="use_serial_no"></label>
               </div>  
            </div>
             <div class="col-sm-2" ng-if="add.serial.use_serial_no">
               <a class="btn btn-primary" ng-click="add.openModal('setSerialNo',add.item.article_id,'md')">{l}Add Serial Numbers{endl}</a>
            </div>
            
         </div>
      </div>

            <table class="table active_rows orderTable" ng-if="add.item.edit_mode==1 && add.serial.use_serial_no">
         <thead>
            <tr>
              
               <th class="col-sm-2 text-muted">{l}Serial Number{endl}</th>
               <th class="col-sm-2 text-muted">{l}Date In{endl}</th>
               <th class="col-sm-2 text-muted">{l}In Details{endl}</th>
               <th class="col-sm-2 text-muted">{l}Date Out{endl}</th>
               <th class="col-sm-2 text-muted">{l}Out Details{endl}</th>
                <th class="col-sm-1">{l}Status{endl}</th>
               <th class="col-sm-1 text-muted"></th>

            </tr>
         </thead>
         <tbody>
            <tr ng-repeat="item in add.serial.items" >
             
               <td class="text-muted ng-cloak">
                   {{item.serial_number}}
               </td>
               <td class="text-muted ng-cloak">
                   {{item.date_in}}
               </td>
               <td class="text-muted ng-cloak">
                 {{item.in_details}}
               </td>
                <td class="text-muted ng-cloak">
                 {{item.date_out}}
               </td>
                 <td class="text-muted ng-cloak" >
                
               </td>
                 <td class="text-muted ng-cloak">
                  <span class="badge item-status-green" 
                  ng-class="{ 'item-status-green':item.status_id=='1', 'item-status-yellow':item.status_id=='3','item-status-red':item.status_id=='2'}">{{item.status_name}}</span>
              
               </td>
               <td class="text-muted table_actions">
                  <div class="btn-group">
                     <button type="button" class="btn btn-plain dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                     <span class="caret"></span>
                     </button>
                     <ul class="dropdown-menu dropdown-menu-right" role="menu">
                        <li >
                           <a href="#" ng-click="add.openModal('editSerialNo',item.id)"><span class="glyphicon glyphicon-edit text-primary"></span> {l}Edit{endl}</a>
                        </li>
                     </ul>
                  </div>
               </td>
            </tr>
         </tbody>
      </table>
    
  
   </div>

   <div role="tabpanel" class="tab-pane fade"  id="batch">
      <div class="page-header">
         <div class="row">
            <div class="col-sm-10">
               <div class="checkbox checkbox-primary" ng-if="!add.batch.disable_use_batch_no">
                  <input type="checkbox"  name="use_batch_no"  id="use_batch" ng-click="add.check_use_batch_no(add)" ng-model="add.batch.use_batch_no" />{l}Use Batches{endl}
                  <label for="use_batch"></label>
               </div>
               <div class="checkbox checkbox-primary" ng-if="add.batch.disable_use_batch_no">
                  <input type="checkbox"   disabled="disabled" name="use_batch_no"  id="use_batch_no"  ng-model="add.batch.use_batch_no" />{l}Use Batches{endl}
                  <label for="use_batch_no"></label>
               </div>   

               
            </div>
             <div class="col-sm-2" ng-if="add.batch.use_batch_no">
               <a class="btn btn-primary" ng-click="add.openModal('setBatchNo',add.item.article_id,'md')">{l}Add Batches{endl}</a>
            </div>
            
         </div>
      </div>

             <table class="table active_rows orderTable" ng-if="add.item.edit_mode==1 && add.batch.use_batch_no">
         <thead>
            <tr>
              
               <th class="col-sm-2 text-muted">{l}Batch Number{endl}</th>
               <th class="col-sm-1 text-muted">{l}Quantity{endl}</th>
               <th class="col-sm-1 text-muted">{l}In Stock{endl}</th>
               <th class="col-sm-2 text-muted">{l}Date In{endl}</th>
               <th class="col-sm-2 text-muted">{l}In Details{endl}</th>
                <th class="col-sm-2">{l}Expiration date{endl}</th>
                <th class="col-sm-1">{l}Status{endl}</th>
               <th class="col-sm-1 text-muted"></th>

            </tr>
         </thead>
         <tbody>
            <tr ng-repeat="item in add.batch.items" >
             
               <td class="text-muted ng-cloak">
                   {{item.batch_number}}
               </td>
               <td class="text-muted ng-cloak">
                   {{item.quantity}}
               </td>
                <td class="text-muted ng-cloak">
                 {{item.in_stock}}
               </td>
               <td class="text-muted ng-cloak">
                 {{item.date_in}}
               </td>
               <td class="text-muted ng-cloak">
                 {{item.in_details}}
               </td>
                <td class="text-muted ng-cloak">
                 {{item.date_exp}}
               </td>
                 
                 <td class="text-muted ng-cloak">
                  <span class="badge item-status-green" 
                  ng-class="{ 'item-status-green':item.status_id=='1', 'item-status-yellow':item.status_id=='3','item-status-red':item.status_id=='2'}">{{item.status_name}}</span>
              
               </td>
               <td class="text-muted table_actions">
                  <div class="btn-group">
                     <button type="button" class="btn btn-plain dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                     <span class="caret"></span>
                     </button>
                     <ul class="dropdown-menu dropdown-menu-right" role="menu">
                         <li >
                           <a href="#" ng-show="item.show_edit" ng-click="add.openModal('editBatchNo',item.id)"><span class="glyphicon glyphicon-edit text-primary"></span> {l}Edit{endl}</a>
                            <a href="#"  ng-click="add.openModal('viewBatchTrans',item.id)"><span class="fa fa-eye text-primary"></span> {l}View transactions OUT{endl}</a>
                                 <a href="#"  ng-click="add.openModal('setBatchFile',item.id,'md')"><span class="fa fa-dropbox text-primary"></span> {l}Files{endl}</a>
                        </li>
                     </ul>
                  </div>
               </td>
            </tr>
         </tbody>
      </table>
    
    
  
   </div>


</div>

