<div class="modal-header">
    <h3 class="modal-title ng-cloak">{{vm.obj.page_title}}</h3>
</div>
<div class="tab-content">
	<div class="tab-pane active" id="labels">
		<div class="modal-body" >
			<div uib-alert ng-repeat="alert in vm.alerts" type="{{alert.type}}" close="vm.alerts.splice($index, 1);" ng-class="['alert-' + (alert.type || 'warning'), 'alert-fixed' ]" dismiss-on-timeout='5000' >{{alert.msg}}</div>
			<form class="form-horizontal">
				<div class="row">
					<div class="col-xs-12">
						<div class="form-group">
							<label class="col-xs-2 control-label text-left">{l}Name{endl}:</label>
		          				<div class="col-xs-10 input-group-md">
		            				<input type="input" class="form-control" ng-model="vm.obj.name" >
		          				</div>
						</div>
					</div>
					<div class="col-xs-12">
						<div class="form-group">
	          				<div class="col-xs-3 input-group-md">
	            				<select class="form-control form-language" ng-model="vm.obj.category_type_id" >
                   					<option ng-repeat="option in vm.obj.category_type_dd track by option.id" value="{{option.id}}">{{option.value}}</option>
                   				</select>
	          				</div>
	          				<div class="col-xs-3 input-group-md">
	            				<select class="form-control form-language" ng-model="vm.obj.price_type_id" >
                   					<option ng-repeat="option in vm.obj.price_type_dd track by option.id" value="{{option.id}}">{{option.value}}</option>
                   				</select>
	          				</div>
	          				<div class="col-xs-3 input-group-md">
								<input type="input" class="form-control" ng-model="vm.obj.price_value" display-nr="">
	          				</div>
	          				<div class="col-xs-3 input-group-md">
	            				<select class="form-control form-language" ng-model="vm.obj.price_value_type_id" >
                   					<option ng-repeat="option in vm.obj.price_value_type_dd track by option.id" value="{{option.id}}">{{option.value}}</option>
                   				</select>
	          				</div>
						</div>
					</div>
	                <div class="col-xs-12" ng-if="vm.obj.use_fam_custom_price==true">
    	                <table class="table">
        	                <thead>
                              <tr>
                                <th>{l}Family{endl}</th>
                                <th>{l}Value{endl}</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr ng-repeat="item in vm.fam">
                                <td class="ng-cloak">
                                {{item.name}}
                                </td>
                                <td>
                                	<input type="input" class="col-xs-3" class="form-control" ng-model="item.fam_price" ng-blur="vm.updatePrice(item)" display-nr>
                                	<span class="input-group-addon input-group-addon_shrink input-group-plain">
		                                <i class="fa fa-spinner fa-spin fa-fw" ng-if="item.loadRequest"></i>
		                                <i class="fa fa-check" aria-hidden="true" ng-if="item.loadSuccess"></i>
		                                <i class="fa fa-exclamation" aria-hidden="true" ng-if="item.loadError"></i>
                              		</span>
                                </td>
                              </tr>
                	        </tbody>
            	        </table>
            	        <ul ng-if="vm.max_rows > 30" uib-pagination total-items="vm.max_rows" ng-model="vm.search.offset" ng-change="vm.searchThing()" max-size="5" class="pager" boundary-links="true" items-per-page="vm.lr" ></ul>
                    </div>
				</div>
			</form>
		</div>
	</div>
	
</div>
<div class="modal-footer">
    <button class="btn btn-plain" type="button" ng-click="vm.cancel()">{l}Close{endl}</button>
    <button class="btn btn-default" ng-if="vm.obj.show==true" type="button" ng-click="vm.save_me(vm.obj)">{l}Save{endl}</button>
    <button class="btn btn-default" ng-if="vm.obj.him==true"  type="button" ng-click="vm.update_category(vm,vm.obj.id,vm.obj.name,vm.obj.category_type_id,vm.obj.price_type_id,vm.obj.price_value,vm.obj.price_value_type_id)">{l}Save{endl}</button>

</div>