<div class="container">
    <div class="page-header">
             <div class="row">
             <div class="col-sm-12">
                <h1>{l}Services{endl} 
                <button type="button" class="btn btn-primary btn-add" go-to="" state="article.add" params='{"article_id": "tmp","form_type":"service"}' uib-tooltip="{l}New Service{endl}" tooltip-placement="right"><span class="btn-add_icon"><span class="icon-bar"></span><span class="icon-bar-2"></span></span></button>
                </h1>
            </div>
        </div>
    </div><!-- /.page-header -->
    <div class="row page-search page-search-options">
            <form>
            <div class="col-sm-6 col-search-input">
                <div class="so-field" ng-class="{ 'so-active':search.search!='' }">
                    <span class="glyphicon glyphicon-search so-icon"></span>
                    <input type="text" class="form-control" placeholder="{l}Search{endl}" search-it doit="search" callbk="renderList" ng-model="search.search">
                    <span class="glyphicon glyphicon-remove so-icon so-remove" ng-click="toggleSearchButtons('search','')"></span>
                </div><!-- /.input-search -->
            </div>
            <div class="col-sm-3">
                <div class="so-field" ng-class="{ 'so-active':search.article_category_id }">
                    <selectize placeholder="{l}Family{endl}" config='filterCfgFam' options='product_fam' ng-model="search.article_category_id" ></selectize>
                    <span class="glyphicon glyphicon-remove so-icon so-remove" ng-click="toggleSearchButtons('article_category_id','')"></span>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="btn-group btn-block">
                   <!--  <selectize placeholder="{l}All Services Type{endl}" config='filterCfg' options='product_type' ng-model="activeView" ></selectize> -->
                   <input type="text" class="form-control" placeholder="{l}Supplier{endl}" search-it doit="search" callbk="renderList" ng-model="search.name">
                </div>
            </div>
            <div class="page-search-button">
              <div class="btn-group">
                <button type="button" class="btn btn-tertiary btn-square dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <span class="caret"></span>
                  <span class="sr-only">Toggle Dropdown</span>
                </button>
                <ul class="dropdown-menu dropdown-menu-right">
                    <li>
                        <a href="index.php?do=article-service_raport_csv&search={{search.search}}&article_category_id={{search.article_category_id}}&archived={{search.archived}}" target="_blank" ><span class="fa fa-file-excel-o text-primary"></span>{l}Export Services .csv{endl}</a>
                    </li>
                    <li>
                        <a href="index.php?do=article-service_raport&search={{search.search}}&article_category_id={{search.article_category_id}}&archived={{search.archived}}" target="_blank" ><span class="fa fa-file-o text-primary"></span>{l}Export Services .xls{endl}</a>
                    </li>
                    <li ng-if="search.archived"><a href="#"  ng-click="archived(0)"><span class="fa fa-list-ul"  ></span> {l}Active Products{endl}</a></li>
                    <li ng-if="!search.archived"><a href="#" ng-click="archived(1)"><span class="glyphicon glyphicon-briefcase" ></span> {l}Archived Products{endl}</a></li>
                </ul>
              </div>
            </div>
        </form>
    </div><!-- /.page-search -->
    <div class="row page-content">
            <div class="col-xs-12">
            <table class="table active_rows orderTable">
                <thead>
                    <tr>
                        <th class="{{code_width}} {{code_class}} sortable_row" ng-class="{ 'sortable_row-up':(!reverse && ord=='internal_name'), 'sortable_row-down':(reverse && ord=='internal_name') }" ng-click="orderBY('internal_name')">{l}Code{endl}</th> 
                        <th class="col-sm-5 col-md-3 sortable_row" ng-class="{ 'sortable_row-up':(!reverse && ord=='internal_name'), 'sortable_row-down':(reverse && ord=='internal_name') }" ng-click="orderBY('internal_name')">{l}Internal Name{endl}</th>
                        <th class="{{fam_width}} sortable_row" ng-class="{ 'sortable_row-up':(!reverse && ord=='article_category'), 'sortable_row-down':(reverse && ord=='article_category') }" ng-click="orderBY('article_category')">{l}Article Category{endl}</th>
                        <th class="{{cust_width}} sortable_row" ng-class="{ 'sortable_row-up':(!reverse && ord=='customer_name'), 'sortable_row-down':(reverse && ord=='customer_name') }" ng-click="orderBY('customer_name')">{l}Supplier{endl}</th>
                        <th class="col-sm-2 col-md-2 sortable_row" ng-class="{ 'sortable_row-up':(!reverse && ord=='price'), 'sortable_row-down':(reverse && ord=='h_price') }" ng-click="orderBY('price')">{l}Unit Price{endl}</th>
                      
                       <th ng-if="adv_product" class="col-sm-1 col-md-1 text-center sortable_row" ng-class="{ 'sortable_row-up':(!reverse && ord=='block_discount'), 'sortable_row-down':(reverse && ord=='block_discount') }" ng-click="orderBY('block_discount')">{l}Discounts blocked{endl}</th>
                
<!--                         <th class="col-sm-1 table_actions">
                            <div class="btn-group">
                                <button type="button" class="btn btn-tertiary dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu dropdown-menu-right" role="menu">
                                    <li>
                                        <a href="index.php?do=article-service_raport_csv&search={{search.search}}&article_category_id={{search.article_category_id}}&archived={{search.archived}}" target="_blank" ><span class="fa fa-file-excel-o text-primary"></span>{l}Export Services .csv{endl}</a>
                                    </li>
                                    <li>
                                        <a href="index.php?do=article-service_raport&search={{search.search}}&article_category_id={{search.article_category_id}}&archived={{search.archived}}" target="_blank" ><span class="fa fa-file-o text-primary"></span>{l}Export Services .xls{endl}</a>
                                    </li>
                                </ul>
                            </div>
                        </th> -->
                    </tr>
              </thead>
              <tbody>
              <tr ng-repeat="item in list" class="collapseTr">
               <td class="expand_row text-muted" list='{ "type":"article-articles", "obj": { "search":{{search}} } }'>
                         <span class="glyphicon glyphicon-plus btn-expand" ng-if="adv_product" ng-click="listMore($index)"></span>
                <span class="glyphicon glyphicon-minus btn-expand hidden" ng-click="listLess($index)"></span>
                      <span class="text-ellipsis ng-cloak">{{::item.code}}</span></td>          

                <td class="text-muted" go-to="" state="article.add" params='{"article_id": {{::item.article_id}}, "form_type":"service"}' list='{ "type":"article-aservices", "obj": { "search":{{search}} } }'><span class="ng-cloak">{{::item.name}}</span></td>

                 <td class="text-muted" go-to="" state="article.add" params='{"article_id": {{::item.article_id}}, "form_type":"service"}' list='{ "type":"article-aservices", "obj": { "search":{{search}} } }'><span class="ng-cloak">{{::item.article_category}}</span></td>
                 <td class="text-muted" go-to="" state="article.add" params='{"article_id": {{::item.article_id}}, "form_type":"service"}' list='{ "type":"article-aservices", "obj": { "search":{{search}} } }'><span class="ng-cloak">{{::item.customer_name}}</span></td>

                <td class="text-muted col-adjust-input" > 
                    <input type="text" value="{{::item.base_price}}" class="form-control input-group-addon_shrink">
                </td>

                <!-- <td class="text-muted col-adjust-input" > 
                    <input type="text" value="{{::item.h_price}}" class="form-control input-group-addon_shrink">
                </td>

                <td class="text-muted col-adjust-input" > 
                    <input type="text" value="{{::item.d_price}}" class="form-control input-group-addon_shrink">
                </td> -->
                    <td class="text-center" ng-if="item.adv_product"   list='{ "type":"article-articles", "obj": { "search":{{search}} } }' >
                        <div class="checkbox checkbox-primary">
                            <input type="checkbox" ng-click="discount_act(item)" id="checkbox_service_{{$index}}" ng-model="item.block_discount">
                            <label for="checkbox_service_{{$index}}"></label>
                        </div>
                    </td>

                  <td class="table_actions">
            <div class="btn-group">
              <button type="button" class="btn btn-plain dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu dropdown-menu-right" role="menu">
                    <li class="dropdown-header">{l}Action{endl}</li>
                  
                    <li>
                        <a href="#"  go-to="" state="article.add" params='{"article_id": {{::item.article_id}}, "form_type":"service"}' list='{ "type":"article-aservices", "obj": { "search":{{search}} } }'><span class="glyphicon glyphicon-edit text-primary"></span> {l}Edit{endl}</a>
                    </li>
                    <li ng-if="!item.is_archived">
                         <a href="#" ng-click="action(item,'archive_link')" confirm="{l}Are you sure, you wanna archive this entry?{endl}"><span class="glyphicon glyphicon-minus-sign text-primary"></span> {l}Archive{endl}</a>
                    </li>
                    <li ng-if="item.is_archived">
                         <a href="#" ng-click="action(item,'undo_link')" confirm="{l}Are you sure, you wanna revert this entry?{endl}"><span class="glyphicon glyphicon-repeat text-primary"></span> {l}Revert{endl}</a>
                    </li>
                    <li ng-if="item.is_archived">
                        <a href="#" ng-click="action(item,'delete_link')" confirm="{l}Are you sure, you wanna delete this entry?{endl}"><span class="fa fa-trash text-primary"></span> {l}Delete{endl}</a>
                    </li>
                  
                </ul>
            </div>
          </td>

              </tr>
              </tbody>
    </table>
  </div> 
</div>  <!-- /.page-content -->

<pag-custom pages="pager" refresh="rederList()" doit='article-aservices'></pag-custom>
<ul ng-if="max_rows > 30" uib-pagination total-items="max_rows" ng-model="search.offset" ng-change="searchThing()" max-size="5" class="pager" boundary-links="true" items-per-page="lr" ></ul>
</div><!-- neede on all pages -->