<div class="modal-header">
  	<button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="editBatchNo.cancel()"><span aria-hidden="true">&times;</span></button>
  	<h4 class="modal-title">{l}Edit Batches{endl}</h4>
</div>
<div class="modal-body">


<form class="form-horizontal text-left ng-pristine ng-valid" name="batch_no_form" novalidate="">

  <div class="col-sm-5">
<div class="form-group">
                        <label for="batch_number" class="col-sm-6 control-label">{l}Batch Number{endl} <span class="mandatory-label">*</span></label>
                        <div class="col-sm-6">
                           <input type="text" class="form-control" ng-model="editBatchNo.obj.batch_number" id="batch_number">
                        </div>
                     </div>
   <div class="form-group">
               <label for="status" class="col-sm-6 control-label">{l}Status{endl} <span class="mandatory-label">*</span></label>
                        <div class="col-sm-6">
                           <select class="form-control" ng-model="editBatchNo.obj.status_id" id="inputVat" name="status_id" required >
                              <option ng-repeat="option in editBatchNo.obj.status_dd track by option.id" value="{{option.id}}"">{{option.value}}</option>
                           </select>
                        </div>
                     </div>  
      <div class="form-group" ng-if="editBatchNo.obj.status_id==1">
                   <label for="status" class="col-sm-6 control-label">{l}Status Details{endl}</label>
                        <div class="col-sm-6">
                           <textarea id="serial_number" class="form-control ng-pristine ng-valid ng-touched" rows="5" type="text" ng-model="editBatchNo.obj.status_details_1" ></textarea>

                        </div>
          </div>   
    <div class="form-group" ng-if="editBatchNo.obj.status_id==2">
                   <label for="status" class="col-sm-6 control-label">{l}Status Details{endl}</label>
                        <div class="col-sm-6">
                           <textarea id="serial_number" class="form-control ng-pristine ng-valid ng-touched" rows="5" type="text" ng-model="editBatchNo.obj.status_details_2" ></textarea>

                        </div>
          </div>   
  <div class="form-group" ng-if="editBatchNo.obj.status_id==3">
                   <label for="status" class="col-sm-6 control-label">{l}Status Details{endl}</label>
                        <div class="col-sm-6">
                           <textarea id="serial_number" class="form-control ng-pristine ng-valid ng-touched" rows="5" type="text" ng-model="editBatchNo.obj.status_details_3" ></textarea>

                        </div>
          </div>                                                   



  </div>
 <div class="col-sm-5">
 <div class="form-group">
                        <label for="quantity" class="col-sm-6 control-label">{l}Quantity{endl} </label>
                        <div class="col-sm-6">
                           <input type="text" class="form-control" ng-model="editBatchNo.obj.quantity" id="quantity">
                        </div>
                     </div>
  <div class="form-group">
                        <label for="in_stock" class="col-sm-6 control-label">{l}In Stock{endl} </label>
                        <div class="col-sm-6">
                           <input type="text" class="form-control" ng-model="editBatchNo.obj.in_stock" id="in_stock">
                        </div>
                     </div>                   
<div class="form-group">
                        <label for="serial_number" class="col-sm-6 control-label">{l}In Date{endl} </label>
                        <div class="col-sm-6">
                          <div class="so-field input-date">
                    <span class="glyphicon glyphicon-calendar so-icon" ng-click="editBatchNo.openDate('date')"></span>
                    <input type="text" class="form-control form-control-border-right" ng-model="editBatchNo.obj.date_in" uib-datepicker-popup="{{editBatchNo.format}}" is-open="editBatchNo.datePickOpen.date" datepicker-options="editBatchNo.obj.dateOptions" ng-required="true" close-text="Close" placeholder="{l}In Date{endl}" show-button-bar="false" ng-click="editBatchNo.datePickOpen.date=true" />
                  </div><!-- /.so-field -->
                        </div>
                     </div>
      <div class="form-group">
                        <label for="serial_number" class="col-sm-6 control-label">{l}Out Date{endl} </label>
                        <div class="col-sm-6">
                               <div class="so-field input-date">
                    <span class="glyphicon glyphicon-calendar so-icon" ng-click="editBatchNo.openDate('date2')"></span>
                    <input type="text" class="form-control form-control-border-right" ng-model="editBatchNo.obj.date_out" uib-datepicker-popup="{{editBatchNo.format}}" is-open="editBatchNo.datePickOpen.date2" datepicker-options="editBatchNo.obj.dateOptions" ng-required="true" close-text="Close" placeholder="{l}Out Date{endl}" show-button-bar="false" ng-click="editBatchNo.datePickOpen.date2=true" />
                  </div><!-- /.so-field -->
                        </div>
                     </div>       

            <div class="form-group">
                        <label for="serial_number" class="col-sm-6 control-label">{l}Expiration Date{endl} </label>
                        <div class="col-sm-6">
                               <div class="so-field input-date">
                    <span class="glyphicon glyphicon-calendar so-icon" ng-click="editBatchNo.openDate('date3')"></span>
                    <input type="text" class="form-control form-control-border-right" ng-model="editBatchNo.obj.date_exp" uib-datepicker-popup="{{editBatchNo.format}}" is-open="editBatchNo.datePickOpen.date3" datepicker-options="editBatchNo.obj.dateOptions" ng-required="true" close-text="Close" placeholder="{l}Expiration Date{endl}" show-button-bar="false" ng-click="editBatchNo.datePickOpen.date3=true" />
                  </div><!-- /.so-field -->
                        </div>
                     </div>                       
  </div>


 
      
</form>



</div>	

<div class="modal-footer">
      <button class="btn btn-plain" type="button" ng-click="editBatchNo.cancel()">{l}Cancel{endl}</button>
    	<button class="btn btn-default" type="button" ng-click="editBatchNo.ok(batch_no_form)">{l}Save{endl}</button>
</div>