<div class="modal-header">
  	<button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="setBatchNo.cancel()"><span aria-hidden="true">&times;</span></button>
  	<h4 class="modal-title">{l}Add Batches{endl}</h4>
</div>
<div class="modal-body">


<form class="form-horizontal text-left ng-pristine ng-valid" name="batch_no_form" novalidate="">


<div class="form-group">

 <div class="col-sm-8">
<div class="form-group">
                        <label for="batch_number" class="col-sm-5 control-label">{l}Batch Number{endl} <span class="mandatory-label">*</span></label>
                        <div class="col-sm-7">
                           <input type="text" class="form-control" ng-model="setBatchNo.obj.batch_number" id="batch_number">
                        </div>
                     </div>
<div class="form-group">
                        <label for="quantity" class="col-sm-5 control-label">{l}Quantity{endl} </label>
                        <div class="col-sm-7">
                           <input type="text" class="form-control" ng-model="setBatchNo.obj.quantity" id="quantity">
                        </div>
                     </div>
  
  <div class="form-group">
                        <label for="serial_number" class="col-sm-5 control-label">{l}Expiration Date{endl} </label>
                        <div class="col-sm-7">
                          <div class="so-field input-date">
                    <span class="glyphicon glyphicon-calendar so-icon" ng-click="setBatchNo.openDate('date')"></span>
                    <input type="text" class="form-control form-control-border-right" ng-model="setBatchNo.obj.date_exp" uib-datepicker-popup="{{setBatchNo.format}}" is-open="setBatchNo.datePickOpen.date" datepicker-options="setBatchNo.obj.dateOptions" ng-required="true" close-text="Close" placeholder="{l}Expiration Date{endl}" show-button-bar="false" ng-click="setBatchNo.datePickOpen.date=true" />
                  </div><!-- /.so-field -->
                        </div>
                     </div>                                   

</div>
 
      
</form>



</div>	

<div class="modal-footer">
      <button class="btn btn-plain" type="button" ng-click="setBatchNo.cancel()">{l}Cancel{endl}</button>
    	<button class="btn btn-default" type="button" ng-click="setBatchNo.ok(batch_no_form)">{l}Save{endl}</button>
</div>