<div class="modal-header">
  	<button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="setParts.cancel()"><span aria-hidden="true">&times;</span></button>
  	<h4 class="modal-title">{l}Compose Main Article{endl}</h4>
</div>
<div class="modal-body">


<form class="form-horizontal text-left ng-pristine ng-valid" name="addCustomer" novalidate="">
<div class="form-group">
<label class="col-sm-4 control-label" for="inputName">{l}Main article{endl}</label>
<div class="col-sm-8" class="ng-clock">{{setParts.obj.internal_name}}</div>
</div>
<div class="form-group">
<label class="col-sm-4 control-label" for="inputName">{l}Current Stock{endl}</label>
<div class="col-sm-8" class="ng-clock">{{setParts.obj.stock}}</div>
</div>
<div class="form-group">
<label class="col-sm-4 control-label" for="inputName">{l}Add Compose{endl}</label>
<div class="col-sm-3" class="ng-clock">    <input type="text" class="form-control" ng-model="setParts.obj.compose"  id="compose"></div> <div class="col-sm-5" > {l}(new items){endl}</div>
</div>


 
      
</form>



</div>	

<div class="modal-footer">
      <button class="btn btn-plain" type="button" ng-click="setParts.cancel()">{l}Cancel{endl}</button>
    	<button class="btn btn-default" type="button" ng-click="setParts.ok(tresh_form)">{l}Save{endl}</button>
</div>