<div class="modal-header">
  	<button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="setTaxes.cancel()"><span aria-hidden="true">&times;</span></button>
  	<h4 class="modal-title">{l}Taxes{endl}</h4>
</div>
<div class="modal-body">
<div class="col-sm-12 col-bottom col-top">
      <form class="form-horizontal text-left" name="taxes_form" no-validate=''>
       <div  ng-repeat="item in setTaxes.list">
           <div class="col-sm-4"><input type="checkbox" ng-model="item.tax">{{::item.code}} ({{::item.amount}})</div>
       
       </div>

      
      </form>
</div>	
</div>
<div class="modal-footer">
      <button class="btn btn-plain" type="button" ng-click="setTaxes.cancel()">{l}Cancel{endl}</button>
    	<button class="btn btn-default" type="button" ng-click="setTaxes.ok(taxes_form)">{l}Save{endl}</button>
</div>