<div class="modal-header">
  	<button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="setTrans.cancel()"><span aria-hidden="true">&times;</span></button>
  	<h4 class="modal-title">{l}Edit Translation Field{endl}</h4>
</div>
<div class="modal-body">


<form class="form-horizontal text-left ng-pristine ng-valid" name="addCustomer" novalidate="">
<div class="form-group">
<label class="col-sm-4 control-label" for="inputName">{l}Field{endl}</label>
<p class="col-sm-8" class="ng-clock">{{setTrans.obj.field_name}}</p>
</div>
<div class="form-group" ng-repeat="item in setTrans.list">
<label class="col-sm-4 control-label ng-clock" for="inputName">{{item.language}}</label>
<div class="col-sm-8">
<textarea class="form-control ng-pristine ng-valid ng-touched" ng-model="item[item.field]"></textarea>
</div>
</div>







      
      </form>
</div>	
</div>
<div class="modal-footer">
      <button class="btn btn-plain" type="button" ng-click="setTrans.cancel()">{l}Cancel{endl}</button>
    	<button class="btn btn-default" type="button" ng-click="setTrans.ok(tresh_form)">{l}Save{endl}</button>
</div>