<div class="modal-header">
  	<button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="viewBatchTrans.cancel()"><span aria-hidden="true">&times;</span></button>
  	<h4 class="modal-title">{l}Outgoing transactions{endl}</h4>
</div>
<div class="modal-body">
<div class="col-sm-12 col-bottom col-top">
      <form class="form-horizontal text-left" name="tresh_form" no-validate=''>
       <table class="table active_rows orderTable">
              <thead>
                <tr>
                 <th class="col-sm-3" ><strong>{l}Client{endl}</strong></th>
                  <th class="col-sm-3" ><strong>{l}Date of outgoing transactions{endl}</strong></th>
                  
                    <th class="col-sm-3" ><strong>{l}Quantity{endl}</strong></th>
                  <th class="col-sm-3" ><strong>{l}Outgoing document{endl}</strong></th>  
                </tr>
              </thead> 
         
      <tbody>
                <tr ng-repeat="item in viewBatchTrans.list">
                <td class="text-muted ng-cloak">{{::item.client}}</td>
                 <td class="text-muted ng-cloak">{{::item.transaction_date}}</td>
                 <td class="text-muted ng-cloak">{{::item.quantity}}</td>
                  <td class="text-muted ng-cloak">{{::item.document}}</td>   
               
                
                </tr>
                 <tr ng-if="!viewBatchTrans.is_data">
                   <td colspan="4" style="text-align:center;" valign="middle" >{l}No outgoing transactions to display{endl}</td>
                                                 
                 </tr>

          </tbody>       
  </table>    
      


     
</div>  
</div>
<div class="modal-footer">
      <button class="btn btn-plain" type="button" ng-click="viewBatchTrans.cancel()">{l}Close{endl}</button>
    	
</div>